[2016-06-10 01:28] evnik opened #466 "Exception when attempts count is reached in Prompt"
Why the `Prompt<T, U>` [throws](https://github.com/Microsoft/BotBuilder/blob/9ebdfac5aa7c02d324361c3593cf82c1ca705a60/CSharp/Library/Dialogs/PromptDialog.cs#L599) an `Exception` if attempts count is reached? How caller code should recognize that case? Even the PizzaBot sample fails if you try to enter **Today** instead of day of week three times.
Maybe it'll be better to replace it on call of `Don

[2016-06-10 01:29] whatsdis commented on #438
Can you elaborate? so how does bot connector know that it's talking to the right mobile phone user? is this done through phone number? if I'm using AD B2C and storing the authentication token provided by AD, how can I verify that it really is them? Is it possible to restrict it so the user can only use his phone number that is linked to the MFA'd number on B2C? How would this be done without the M

[2016-06-10 01:33] Stevenic commented on #437
I like the approach... Hats off for that.  Nothing is jumping out at me for why its not working. I notice you do this bypass() check up front the could short circuit to the next step.  The other thing I noticed is that every time you call `next()` you don't pass a result so that means when you're going from `doAsk()` to `doAnswer()` you're going to have an empty `results.response`. That could be t

[2016-06-10 01:40] tomlm commented on #438
Twilio is the one that controls the security of SMS numbers coming in. If you want to know if identity is spoofable or not you should direct your questions to them.

We validate the calls from twilio using the signed security process described here.
https://www.twilio.com/docs/api/security

We secure our communication with you using SSL and shared secret.

We secure your bot data that you store wi

[2016-06-10 02:06] Stevenic commented on #375
We talked and we're going to add a global error handler that fires in the scope of a conversation which gives you a chance to tell your user that the bot is having problems. Will provide a default implementation that 1) resets the dialog stack for the conversation so that the user isn't stuck. and 2) sends a generic "the bot is currently having problems" error message,

May be a couple of weeks be

[2016-06-10 02:09] Stevenic commented on #395
We kind of have that. the `on('intent')` handers only match on the top intent but if you want to do all of the inten processing yourself you can simply use `onDefault()` which gets passed the raw list of intents. I already let you mix the two approaches as well. If the top intent doesn't have a handler or if things are below a threshold we call `onDefault()`

[2016-06-10 02:10] Stevenic commented on #424
It definitely shouldn't be getting processed by LUIS if you're in a `text()` prompt. Can you share some code?

[2016-06-10 02:14] Stevenic commented on #296
LUIS has hierarchical entities. You could in theory label the from and to slots as separate "FROM" and "TO" entities. When you get the results back from LUIS you should se 2 separate date entities as well as a separate FROM and TO entities. You can then look at the overlapping character positions to determine which is which

[2016-06-10 02:19] Stevenic commented on #451
The dialog or waterfall step is technically over when you call `builder.Prompts.text()` so that should be the last thing you do in a step. I would rework my step to be:
[code]

[2016-06-10 02:20] Stevenic commented on #429
we're going to have an example of that coming shortly (within a week or two)

[2016-06-10 02:21] Stevenic commented on #448
Several people are reporting this. Let me give it a try... I had tested it to work correctly but quite possible I broke something in 1.0.1

[2016-06-10 02:32] Stevenic commented on #448
Ok... I see what's happening, A change I made to the way waterfalls work in 1.0 is tripping this up. When you use the `builder.DialogAction.beginDialog()` function the current dialog ends up closing once that call completes and since this is the root dialog your root dialog closes which causes the app to close. I've update the sample to not do this and will update the documentation.

[code]

[2016-06-10 04:47] whatsdis commented on #438
I see so the phone number and combination of those twilio data is used to concoct the userId and conversationId am I correct?

What about when used with AD B2C? Does bot builder do anything else beside check if AuthorizationToken UserData is set or not? Is it enough to just verify the id_token sent by B2C?

Are there any potential/theoretical vulnerabilities here? Like is there a chance that someb

[2016-06-10 05:08] plkumar commented on #424
@Stevenic please see the code screenshot of the code below.

<img width="1098" alt="screen shot 2016-06-10 at 10 36 50 am" src="https://cloud.githubusercontent.com/assets/462615/15954659/53c1d11a-2ef7-11e6-9dfd-6a741bc67411.png">

[2016-06-10 08:34] quarkyuk opened #467 ""An error occurred while sending the request" from emulator"
My [previous thread](https://github.com/Microsoft/BotBuilder/issues/457) was closed and I can't find a way to reopen it, so apologies in advance if I am breaking etiquette.

I still have the same problem as detailed.

I did the following:

- installed VS2015 Community Edition
- installed Microsoft Bot Emulator
- downloaded and installed the [template](http://aka.ms/bf-bc-vstemplate) for bots
- Cre

[2016-06-10 08:45] ankitbko commented on #467
I know it was previously mentioned. But can you please change the URL in emulator to http://localhost:3978/api/messages.
Port number need to be mentioned if the service is not hosted on 80 for http or 443 for https.
Currently the exception detail states no service on port 443.
`No connection could be made because the target machine actively refused it 127.0.0.1:443`

[2016-06-10 08:47] ankitbko commented on #467
@quarkyuk Also can you paste the class file content here to check if there is any issue with the code.

[2016-06-10 08:52] jsiegmund commented on #457
My issues was fixed by @tomlm 's post. Thanks for that!

[2016-06-10 09:27] quarkyuk commented on #467
Thanks, I have tried that URL, and I just a "404 Not Found" error.
Do you mean the MessagesController.cs file?

[code]

[2016-06-10 09:30] ankitbko commented on #467
Please put the following class in MessageController.cs. When the request comes to the web api it will hit the below Post Method.

[code]

[2016-06-10 09:57] quarkyuk commented on #467
Thanks, I appreciate the response. So is the documented example incomplete? I placed it, but it then generates a load of CS0246 errors.

"The type or namespace name 'BotAuthenticationAttribute' could not be found (are you missing a using directive or an assembly reference?)

Here is where I put the code:
[code]

[2016-06-10 10:04] ankitbko commented on #467
Put `using Microsoft.Bot.Connector;`.
The full sample which the docs refer is [here](https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Samples/SimpleAlarmBot). There are other samples also which you could have a look at.

[2016-06-10 10:38] hgjkant opened #468 "Resolve date from day"
Hi,

I've created a bot with builder v1.0.1, and am trying to get a date from only a day. For example, for 'set deadline to monday' I expect a date object set to Monday (possibly at midnight), but I'm getting nothing. Same for abbreviated or capitalized, and the day is also ignored in 'set deadline for Monday 2pm' (but the time works fine).

The code to get the date object (as from docs):
`var tim

[2016-06-10 11:30] quarkyuk commented on #467
Super. Thanks very much, that is a great help.

[2016-06-10 11:30] #467 closed

[2016-06-10 12:03] srijiths commented on #451
Yes @Stevenic it works. Thank You

[2016-06-10 12:57] ganeshnj opened #469 "Emulator doesn’t allow clickable response"
I‘ve just updated to the newer version (1.0.1.70) of Bot Emulator and since then I’m not able to respond by clicking on buttons (E.g. Prompt responses) in the conversation. The emulator does nothing on click, however text response still working.

Anyone else facing the same issue?

[2016-06-10 13:16] Winangel opened #470 "When a user deletes conversation and restart, session stay in the state of previous conversation"
When I delete a conversation with my chatbot on facebook messenger while I am in a specific dialog and I start a completely new conversation, I would like the bot to start over from the beginning.

For now, if I start a new conversation, The bot is restarting at the point where I left.

This seems awkward to me as the action of deleting the conversation is an equivalent of uninstalling an applicat

[2016-06-10 16:15] willportnoy commented on #465
I've checked in this fix - if it's not right, feel free to re-open the issue.

[2016-06-10 16:15] #465 closed

[2016-06-10 16:17] willportnoy commented on #466
In the callback specified when the Prompt is called, the await on the IAwaitable should propagate the exception, so you should be able to detect that case.

If you're suggesting "exceptions as control flow" is not appropriate, that's a reasonable position to take - I don't understand what you mean yet.

[2016-06-10 16:48] tomlm commented on #469
Can you send example serialization of your message?  I am not able to repro this

[2016-06-10 17:59] evnik commented on #466
Well, let me try to explain again:

1. It isn't clear that caller code should surround the `await result;` statement with `try ... catch` to handle the **too many attempts** case in the `resume` handler. (I just found the clue)
1. Thrown exception is of too unspecified type to be clear when it was a logic error or the **too many attempts** case. (You can compare the exception message though, but t

[2016-06-10 18:14] evnik commented on #465
@willportnoy thank you for a quick fix. Looks almost as expected, so I'd like to wait integration into the master to check it.
BTW, I don't see any way to re-open the issue. How do you suggest to do it?

[2016-06-10 18:57] willportnoy commented on #465
On my screen, I see "reopen and comment" under the comment box.  It's useful because the closed issues don't appear by default in the issues list and I would only notice replies if I happen to read the email notification.

[2016-06-10 19:08] evnik commented on #465
@willportnoy according to [this](http://stackoverflow.com/a/21333938) I cannot re-open an issue if you or another repo collaborator closed it. That means your suggestion to re-open doesn't make sense.
However you can check replies on the [notifications](https://github.com/notifications) page, all threads you participated in should be there until you visit it or unsubscribe from it.

[2016-06-10 19:25] linuxdemon1 commented on #464
I am experiencing the same issue, however I am not using nginx to forward data, I have my bot as an embedded jetty service listening for connections on the server itself, and I still experience the same sort of packet disconnects. I am using a Let's Encrypt SSL cert

[2016-06-10 20:06] willportnoy commented on #465
Right - good feedback.  Thank you for the information about the notification page.

[2016-06-10 20:09] msft-shahins commented on #470
how do you delete the conversation? are you using `/deleteprofile` command to restart the conversation?

[2016-06-10 20:12] eanders-MS commented on #406
Closing this issue. If you believe this issue is not resolved, just leave a comment here and I'll reopen.

[2016-06-10 20:12] #406 closed

[2016-06-10 20:15] eanders-MS commented on #384
Closing this issue. If you're still having trouble just leave a comment here and I'll reopen.

[2016-06-10 20:15] #384 closed

[2016-06-10 20:16] willportnoy commented on #466
I'll go with the "use a dedicated exception type and to make it more clear in the comments for Prompt" options for now - I agree with the "exception as control flow" comment, but that will take a larger change.

[2016-06-10 20:18] msft-shahins commented on #336
underneath both use JObject to store the <key,value> pairs and they should be in sync if data is loaded and persisted correctly with the connector service. I am suspicious that you are not persisting the data correctly with connector service. We have exact same code path [here](https://github.com/Microsoft/BotBuilder/blob/develop/CSharp/Samples/SimpleFacebookAuthBot/Controllers/OAuthCallbackContro

[2016-06-10 20:18] #336 closed

[2016-06-10 20:32] evnik commented on #466
Well, better than nothing.
Could you clarify please why call of `Done` passing default value of `T` doesn't work? For me that pretty small change should fix the problem without major harm to compartibility.
Do you expect introduction of a default option in the `PromptOptions` for the full fix? If you are able to explain this I'm glad to contribute with implementation PR.

[2016-06-10 21:26] Andrea-Orimoto commented on #461
This has been fixed [http://docs.botframework.com/sdkreference/csharp/#debugging](http://docs.botframework.com/sdkreference/csharp/#debugging)

Thanks a lot for bringing this to our attention!
Andrea

[2016-06-10 21:26] #461 closed

[2016-06-10 21:41] theonewolf commented on #464
As reported in the community Skype developer forum, this was directly related to using Let's Encrypt certificates.

The Skype Bot platform does not support Let's Encrypt, although this is not publicly documented anywhere.

Can anyone tell us a timeline for including such a globally recognized CA?

[2016-06-10 22:14] wjvii opened #472 "Using Json to Create FormDialog"
I am trying to build user and conversation specific dialogs using json schema and I have the LINQ queries generating the json perfectly. If I save a sample of the json to disk and use it like the annotatedsandwich example where it is read from a file on disk, it works great. The json is unique per user and conversation and instead of writing to disk I want to use it in memory. I do not see how to

[2016-06-10 22:48] willportnoy commented on #472
Some options come to mind:

1. Configure the Autofac container with the reflection surrogate serializer.
2. Resolve your root FormDialog<T> from the Autofac container, and provide it with a BuildFormDelegate<T> from the container as well.  For example, your BuildFormDelegate<T> might look at the Message's from user id to pick which json schema to use.  This is a recent commit for a test that shows

[2016-06-10 23:09] XelaMon opened #473 "Bot Framework Crashes On Remote Server When Entering FormFlow"
I have a bot that enters a simple FormFlow (a single enumeration and a single Boolean, no validation/dynamically defined fields, etc). When I deploy the bot to an IIS instance locally, I have no issues going through the FormFlow.

However, when I try to deploy this bot into an Azure VM, I run into some problems. The bot continually fails at calling the form that I have built. The exception gives s

[2016-06-10 23:36] XelaMon commented on #473
I also just noticed that giving the same query to the bot from the test web control in the dev portal and from the bot framework returns different results. It's not just LUIS being weird, the result I am getting in the web control comes from code that is no longer deployed to the server.

[2016-06-11 00:04] willportnoy commented on #472
I just pushed commit https://github.com/Microsoft/BotBuilder/commit/c0d9acaf2f0eba760b98789b3953fa0bbbe17470 to show a particularly complicated scenario where you might want the BuildJsonForm to depend on properties of the Message, and you were willing to resolve your root dialog through the Autofac container.

You might find that you can still accomplish your scenario in a simpler way with

1. an

[2016-06-11 00:06] willportnoy commented on #473
Based on the IP address (127.0.0.1:9000) it seems as if you are using the emulator to talk to your bot in Azure.  As far as I know, that won't work because the bot code in Azure is trying to send messages to the emulator running on your local machine.

[2016-06-11 00:16] willportnoy commented on #466
Done(default(T)) seems like "swallowing the error".  For example, if T were an Int32, and the user typed "a" too many times, should we silently return default(T) which is 0?

For references types, it may be better, though it pushes a TooManyAttemptsException now into a NullReferenceException later.

It seems like the best solution is to have it return an Option type, where there is a clear signal

[2016-06-11 00:52] craigjensen commented on #463
Please add your botId and i'll take a look in our logs and see if I can figure out what's happening.

[2016-06-11 00:54] msft-shahins commented on #361
@srinivasamyneni you can pass the authtoken from your .Net application to the bot and use the auth token in the bot to get the information about user and send back the result to user in the web chat window.

[2016-06-11 00:54] #361 closed

[2016-06-11 03:20] plkumar commented on #424
i have an intent handler that accepts user asking some thing like below, which should trigger another intent "GetIssueDetails", which will also accepts just the issue number as well.

get DT-123
get DT-123 details
issue details for DT-123
DT-123
etc....

should i avoid the just entities as intent utterances?

[2016-06-11 03:41] ankitbko commented on #473
Well emulator does work for site deployed in azure. I have a bot working with same flow LUIS -> Form without any issue. Is it possible to share the code? Try once doing a clean publish. It might be case where old dll's were not replaced.

[2016-06-11 05:13] willportnoy commented on #473
@ankitbko you're right the emulator will work for a single message that can be returned inline with the incoming http post to the bot.  But additional messages are sent directly as a separate http call through IConnectorClient, which will be directed back to the emulator at http://localhost:9000, but that address won't be listening on the azure box.

[2016-06-11 10:09] zixia commented on #407
@Stevenic how about the UniversalBot  ? I notice that the code is almost finished, could you provide a simple example? I want try our last new technology. :)

[2016-06-11 14:45] ankitbko commented on #473
@willportnoy Oh I get it. Thanks

[2016-06-11 16:19] iflint commented on #201
I am having the same problem, if you could explain your solution or point me to the right section of the docs it would be really helpful.

[2016-06-11 17:15] dandriscoll commented on #201
Are you using your WebChat secret directly in the URL or are you exchanging the secret for a token?

[2016-06-11 17:17] iflint commented on #201
I am using the secret directly

[2016-06-11 17:21] dandriscoll commented on #201
Two things to check.
1) Make sure the URL in your iframe is "...s=<SECRET>" instead of "...t=<TOKEN>"
2) Deauthorize and then generate a new secret for the web chat control for your bot. It's possible something has gone wrong with the secret.

[2016-06-11 17:39] iflint commented on #201
Just did both of those. I'm getting this:
jquery.min.js:11 POST https://webchat.botframework.com/api/conversations/null/messages 403 (Forbidden)
The bot doesn't respond and a few minutes later it shows this:
jquery.min.js:11 GET https://webchat.botframework.com/api/conversations/Bv3bkhOgxas/messages?watermark=131101401454109138 403 (Forbidden)
sometimes accompanied by this:
jquery.min.js:11 POST h

[2016-06-11 17:44] Stevenic commented on #407
That's all part of 2.x which I'm feverishly coding on now. It'll be a couple more weeks before we release that though.  Lots of changes (and hopefully improvements) coming.

[2016-06-11 17:46] Stevenic commented on #424
no... if you're in a text() prompt you shouldn't be listening for intents at all. To be honest I'm not sure what's going on here.  Can you try running this in the emulator and send me a dump of the JSON returned from the bot before and after the text prompt?  I need to see your dialog stack and then I can probably better tell you whats happening.

[2016-06-11 20:59] genereddick commented on #201
I continued to have issues with the embedded webclient, so I switched to a server-side solution using the DirectLine package and I associated my bot with the DirectLine channel on the botframework page.

Here is a simplified version of the code I'm using:

[BotCodeDirectLine] is my Direcl Line channel secret.
[botText] is the text posted from a page

[code]

[2016-06-12 00:04] wjvii commented on #472
Will thank you so much for the sample yesterday. I thought I had it figured out after reviewing it but apparently not. I took your example and created what I believe is a container with the form and then I tried several different ways to get an instance of that form and use it to create the dialog but none worked as expected so I think I am just trying to build the dialog from the container incorr

[2016-06-12 04:42] willportnoy commented on #472
Is your form dialog the root dialog?  If so, the IPostToBot middleware will create the root dialog instance when the conversation state is new, by asking the container for the Func < IDialog < object > > factory, which will satisfy its BuildFormDelegate dependency from the container, which can follow whatever dynamic data-dependent logic you like.

[2016-06-12 12:52] kaki104 commented on #460
I found the code is entered incorrectly.
{cost:D} -> {cost:C0}
And, it does not display a warning message.
#pragma warning disable CS1998 // Async method lacks 'await' operators and will run synchronously

Thank you

[2016-06-12 12:52] #460 closed

[2016-06-12 18:41] TechWatching opened #474 "[CSharp] Add PromDialog.Attachment method for asking the user to upload a file"
This feature has been brought to Bot Builder SDK for NodeJS but not yet to the C# part [(see this issue)](https://github.com/Microsoft/BotBuilder/issues/74). The use case is the bot wants to prompt the user to upload a file (eventually corresponding to a certain content type). A new method Attachment for PromptDialog class could easily bring this feature.

[2016-06-12 23:51] pkrebs01 commented on #300
Deleting BotFramework.Emulator.Session file didn't work for me. Deleting BotFramework.Emulator.Port file did.

[2016-06-13 03:28] zixia opened #476 "[luis.ai] Submit utterance under "Suggest" menu error: "Failed to add utterance.""
I can see all the utterance at the web interface(luis.ai) after I use luis api to query(by LuisDialog.js).

But some query is quite long(about 320 chinese utf8 charactors), and when I submit it under the suggest menu, the web interface said:

I check the doc and found this:

at here: https://www.luis.ai/Help#PublishingModel

but I think my utterance is not long enough to exceed the 500 characters

[2016-06-13 06:16] srijiths commented on #451
Hi @Stevenic , I am not sure why its not working always. Please see the screen shots.

Emulator :
![01](https://cloud.githubusercontent.com/assets/1046319/15998460/25d6c500-315c-11e6-81c4-088c5907a7c3.png)

Web Chat UI :
![02](https://cloud.githubusercontent.com/assets/1046319/15998462/2abdab38-315c-11e6-91d6-c98ec7fea035.png)

The same bot flow works some time and here is the screen shot.
![011](

[2016-06-13 07:50] IanBoggs commented on #468
I've found that Luis can be a bit vague when it comes to dates. In your example you haven't specified _which_ Monday you want the deadline setting for. Hence it has returned a string that is representing the first day of the week. If you said 'set deadline to next Monday' then the resolution would give you the date of the next Monday.
You get the same type of response if you say something like Chr

[2016-06-13 08:12] ganeshnj commented on #469
Today, when I opened the Emulator, it restored itself to version 1.0.0.66 and now it works fine.

[2016-06-13 12:03] mindcrash commented on #435
For some reason it doesn't throw, just sends back this:

[code]

Maybe it has something to do with my debugger settings (e.g. Just My Code.). Will have to look into that for a bit though...

[2016-06-13 13:43] FelixSFX commented on #463
The AppID is 'StockdioBot', thanks for looking into it.

[2016-06-13 13:50] rlilov opened #477 "[c#] ask question only once"
I am linking 2 FormFlows with ContinueWith.

1st form ask only about language selection (en,fr,etc.) and when it finishes in ContinueWith I save user choice in PerUserInConversationData, set the message.Language to selected culture, call second form and it is displayed in the correct language (using the respective localized recourses)

Each iteration however is asking the user about language choic

[2016-06-13 14:57] Winangel commented on #470
Hi,

In fact, in my use case, the user deletes the conversation from facebook messenger (he does not send any request to /deleteprofile).
The thing I want to know is if the user actually removes the conversation from facebook messenger, then I could trigger the /deleteprofile command.

[2016-06-13 16:12] officialdharam opened #478 "Waterfall Model in a Proactive Bot"
I have written a proactive bot, which works fine. Unfortunately, I am not able to get the waterfall model working. Somehow, it never goes to the waterfall step after user responds back to a Prompt.

Here is the code:
[code]

When my nodejs program starts, it invokes the notify method, which begins a dialog and resolves to the Review intent.

This makes it prompt a message. When I respond back to t

[2016-06-13 16:30] willportnoy commented on #477
I wonder if you can start the FormDialog with an initial state that you've obtained from the PerUserInConversation data bag - so you would need one additional root dialog to obtain the initial state from the data bag and then pass it to the language selection FormDialog.  @chrimc62 ?

[2016-06-13 16:32] iflint commented on #201
Thanks for the responses. Looks like I had multiple problems. I switched to Azure as there was an AWS issue. Now it works, unless I send it a message within the first 2 seconds of the iframe loading (which causes the same 403). I'll put a loading bar on the client to prevent that, not ideal but it'll do for now.

[2016-06-13 16:52] mikkhait opened #479 "Facebook Bot"
Sorry for [cross-posting](https://feedback.botframework.com/forums/354222-bot-builder-sdk/suggestions/14794734-facebook-bot)

We already have a good number of [official bots](https://github.com/Microsoft/BotBuilder/tree/master/Node/lib/bots). We also have [unofficial](http://docs.botframework.com/builder/node/bots/other-platforms).

I would like to request an official Facebook Bot.

Pretty, please

[2016-06-13 17:40] aastha31 opened #480 "Adding image to button to facebook messenger bot"
How can we add an image to a button in facebook messenger bot??

[2016-06-13 18:15] XelaMon commented on #473
@willportnoy that makes sense. If that is the case, is there any recommended way to test the bot while deployed w/o having to configure a channel? I suppose I could also install the bot framework emulator on the VM.

[2016-06-13 18:49] KirinDave commented on #126
This issue is still happening with the console bot framework, but it seems like the demo code is doing something wrong. Patching it over to a textbot, it quits. So probably the text of the bot code is wrong. I don't yet know the framework well enough to explain why.

[2016-06-13 19:14] willportnoy commented on #473
You could try this:

http://docs.botframework.com/connector/getstarted/#testing-the-connection-to-your-bot

I assume eventually you'll want to configure at least one of the channels too.

[2016-06-13 22:47] bluekite2000 commented on #318
@Stevenic I have
[code]
and so on (from 1st to Nth function)
How do I enable this feature:  a.if user types go back I jump  from Nth to Nth-1 function? b.if user types reset it jumps to 1st function (bot saying hi)

Also I have a
[code]
which have some common functions (for ex the 5th function) w/ book a flight. Is there a way for me to use the same 5th function for both intents?

[2016-06-14 07:53] officialdharam commented on #478
Here is an update on the issue! I was able to get the waterfall working. It seems like there was some issue with all the app ids and integration through various channels.

But I still find it strange that when the prompt is presented to the user and the user replies. It again prompts back.

So, I have to answer the prompt twice and then everything seems to be ok.

[2016-06-14 09:04] yss14 commented on #293
@eanders-MS Thanks, worked for me :)

[2016-06-14 11:52] DrNixx opened #481 "Facebook user name is empty for non english language"
If Facebook user have only name for native language and don't have english name, incoming bot message have empty string for Message.From.Name.
Maybe it is Facebook bag?

[2016-06-14 12:56] rlilov commented on #477
Thank you !
Based on your suggestion I managed to achieve what I wanted

[2016-06-14 12:56] #477 closed

[2016-06-14 13:20] rociocastillo commented on #455
Hi, my bot is returning me the same message "A task was canceled", but in this case I am the only one who knows this usando.Does anyone know why this might be?

thank you very much.

[2016-06-14 14:04] giriganapathy commented on #399
Hello alexandrev,
I tried your approach, but I am getting the below error:

Debugger listening on port 5858
 restify listening to http://[::]:1337
Error: Intent recognition error: tunneling socket could not be established, cause=connect ETIMEDOUT 159.67.198.2:8080

Can u suggest here...

Regards,
Giri G.

[2016-06-14 14:17] srogovtsev commented on #164
I've done a quick test (replying with `ChannelData` with `type = typing`) and it didn't work.

[2016-06-14 14:48] kalkie commented on #164
I guess the Bot connector is filtering the message and does not send it to the Channel.

[2016-06-14 16:01] marianandre42 commented on #431
Hi!
In your case, it may work with skype!
Does it work with the emulator ?

[2016-06-14 17:08] rouscast opened #482 "Matching menu entries must match with or without acents in builderPromptschoice"
When creating a bot that displays a list of options (builder.prompts.choise)
containing accented words, writing any of them without accents is not recognized as part of the list, and the user gets the message: ". I did not Understand Please Choose an option from the list.".
In Spanish at least, a meny entry should be able to match with and without accents, because people usually do not write accen

[2016-06-14 17:28] yss14 opened #483 "Remove mention of name at answer"
Is there a possibility or setting removing the "@name" in front of the answer of a bot in a group chat (in my case it's telegram)?

![alt text](https://picload.org/image/rgwdgorw/mentionnamebot.png)

[2016-06-14 18:49] willportnoy commented on #476
Sorry, I don't know the answer to your question.  You might find an expert on the LUIS forum at https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=LUIS.

[2016-06-14 18:53] willportnoy commented on #479
Facebook Messenger is a supported channel in the Bot Framework:

http://docs.botframework.com/faq/#is-facebook-messenger-a-supported-channel

[2016-06-14 20:31] officialdharam commented on #431
yes it works on emulator, but you have to get that right. The publicly hosted bot will not work on Emulator. You have to run a local bot on the same machine where the emulator is running.

Also, while instantiating the bot you dont need appId and secretkey for this case. Something like
`var bot = new builder.BotConnectorBot();`

Also, here is the begin dialog :
[code]
I purposefully change the nam

[2016-06-14 21:23] marianandre42 commented on #431
Thanks for your answer!
It doesn't work, and of course, all that run on the same machine :)
Maybe something I do wrong? Here my code :

`// New Bot
var locbot = new builder.BotConnectorBot();
locbot.configure({endpoint: 'http://localhost:9000'});

// New server
var server = restify.createServer();
server.get('/api/test', function (req, res, next) {
  locbot.beginDialog({
    text: 'Hello',
    to:

[2016-06-14 21:44] XelaMon commented on #473
Sounds good! Thanks @willportnoy

[2016-06-14 21:44] #473 closed

[2016-06-15 04:13] mikkhait commented on #479
Thanks @willportnoy, but I'm looking for a standalone bot, without Bot Connector framework. I want to connect it directly to FB.

[2016-06-15 06:10] vaditya04 opened #484 "Need access to conversation id of webchat bot"
I've embedded the chat bot into my webpage using the iframe method detailed in http://docs.botframework.com/connector/embed-chat-control/#navtitle

I want to get access to the conversation id of the web chat so I can programmatically send the bot messages without user involvement.

My idea is to start off the web chat using a POST request to /api/conversations and get a conversation id and token,

[2016-06-15 10:30] TraGicCode opened #485 "Bot Framework VS Template Malformed html in default.htm"
It looks like there is a missing closing 'pre' tag in the default.htm file generated by the Visual studio bot framework project template.  Causes a bit of an annoyance for developers who are using tools that perform static/live code analysis.

![image](https://cloud.githubusercontent.com/assets/6224270/16076683/29541656-32ba-11e6-80f4-16609dfcc7b6.png)

[2016-06-15 11:24] TraGicCode opened #486 "Private Message slack user?"
This doesn't currently seem possible but all i am wanting to do is create a reply message, from a user from a public slack channel, and send them a private message that contains some temp password that was generated on the fly.  Is it possible to send a private message using the bot framework?  If so is can an example be provided?

[2016-06-15 11:40] officialdharam commented on #431
I think you didn't follow my previous comment completely. Anyways! your code is perfectly right and it works on my system.

Here are the steps to follow to successfully run it on your system:

1. - Download the zip from [here](https://www.dropbox.com/s/ed2wrf3c9werxzh/FORUMS_BOT.zip?dl=0).
2. - Unzip it and navigate to the unzipped directory on command window and run `npm install` first
3. - Once

[2016-06-15 11:58] marianandre42 commented on #431
Ok! Thanks again for your answer.
I follow all your steps and it doesn't work anymore.
The only difference is that I use emulator on MacOSX (with the command `mono BFEmulator.exe`) and maybe, in that way, proactive dialog doesn't work.

Maybe anyone from Microsoft can say more about that ?

[2016-06-15 13:34] joewood opened #487 "DirectLine Conversation Formatted Text only?"
Is there a way to receive message response metadata (e.g. action buttons etc..) with the DirectLine API?  When I use the DirectLine interface the messages only contain formatted text and no other metadata even though the Bot Service is providing action button information.

[2016-06-15 14:02] fuenfhausen commented on #430
I have the same problem as @tkbox9 and @pihai .  When I install or start the emulator, it immediately flashes the "stopped working" error dialog and dies.

I tried the suggestion of running the .exe as admin, but no luck.  Tried unistalling and reinstalling several times.  Any suggestions?

[2016-06-15 15:23] JonathanHuss commented on #469
Hi Tom...I'm from Microsoft as well and can repro the issue.  If it's helpful for you, I'd be happy to sync with you on it.

[2016-06-15 15:25] ganeshnj commented on #469
The newer version (1.0.1.70) still has the same issue.

[2016-06-15 15:46] giriganapathy commented on #243
Hello Steve,
Sorry for the belated response...
I could see only botbuilder 0.9.2, when I try to lookup the module from "install new npm packages" in Visual Studion 2015.
Can u please tell be where I could download it?

[2016-06-15 16:23] giriganapathy commented on #243
if that is the latest code, then i can say the issue still exists. Could you please respond. Thanks.

[2016-06-15 16:59] fercom opened #488 "How to call a Microsoft bot using a php script from botize?"
I have a bot created with Microsoft Bot Framework, it currently works on telegram, skype, facebook and web, I want to call it from twitter using Botize, they use php scripts but my bot is on C#. Is it posible to call my bot using a php script? if yes, how?

Thank you.

Here it is my bot, if you want to test it:

The memebot web [http://thememebot.com/](url)
on telegram [https://telegram.me/The_Mem

[2016-06-15 19:50] eanders-MS commented on #483
We prepend the recipient to make it clear who the bot is responding to. I'm curious as to why this is undesirable in your scenario. Can you tell me more about what you're doing?

[2016-06-15 20:36] Stevenic commented on #451
I'm not sure to be honest... Your logic looks pretty solid. I wish I could step into it with a debugger. Short of being able to do that I might suggest that you re-work your code to where you find all of the data first and then send all of the messages second.  This would eliminate any timing issue that might be going on.

If it helps I can tell you that I've completely re-written the way the sess

[2016-06-15 20:41] Stevenic commented on #318
To jump back to the first prompt you need to do two things:

1. Break you waterfall out to a separate dialog called /bookFlight or something.
2. To jump back to the first prompt you need to completely re-load your dialog using session.replaceDialog('/bookFlight').

Make sure that when they're through booking a flight you call session.endDialog() somewhere to return control back to your LuisDialog.

[2016-06-15 20:43] Stevenic commented on #243
The latest version is 1.0.1

[2016-06-15 21:21] hvining opened #489 "Can we access chatbots from other apps besides the 10 channels available?"
I'm interesting in knowing if chatbots made in the with the Builder and FormFlow are available for interaction through other means such as a custom mobile app rather than just Slack, Facebook Messenger, etc.

Thanks

[2016-06-15 21:25] XelaMon commented on #489
@hvining I believe the Direct Line API http://docs.botframework.com/sdkreference/restapi-directline/ is meant for interactions on channels outside of Slack, FB Messenger, etc.

[2016-06-15 21:31] hvining commented on #489
Thanks @XelaMon!
Server-to-Server in Direct Line is actually what I needed!

[2016-06-15 21:31] #489 closed

[2016-06-15 22:29] craigjensen commented on #486
You should be able to reply via a private message by setting the ConversationId and ChannelConversationId to null in the replay as follows:

replyMessage = message.CreateReplyMessage("reply text ...", "en");
replyMessage.ConversationId = null;
replyMessage.ChannelConversationId = null;
// send

[2016-06-16 04:11] deubaka opened #490 "[API] Channels 'Disabled'"
Hi, what would cause channels added to BotFramework its status be set to 'Disabled'?

We suddenly experienced this (during a demo) out of nowhere since there were no changes since we've added that to BotFramework's console.

Here is a capture of the console,
<img width="794" alt="screen shot 2016-06-16 at 10 54 19" src="https://cloud.githubusercontent.com/assets/1931819/16105246/23c85ba0-33bb-11e6

[2016-06-16 09:01] srijiths commented on #451
Thanks @Stevenic I tried re-organize the code as you suggested. Same issue. But its weird, some time multiple session.send is working and some time's not. I just done a quick workaround by combining all the prompt messages as a single message and send it once. Glad that the 2.x version will release soon. Thank You.

[2016-06-16 09:01] #451 closed

[2016-06-16 17:28] mikkhait commented on #479
Hey @Stevenic, your thoughts?

[2016-06-16 18:02] TraGicCode commented on #486
I'll give this a shot when i have the chance.  Do you also know how to address this the the user so they recieve the message as a private/direct message?  Which property on the Message type should be set and how?

[2016-06-16 18:21] TraGicCode commented on #486
@craigjensen I got it working using the following code below.  The message comes in as a direct message on the slackbot private channel.  Do you know if its possible to have the bot actually start a direct message with the user instead of the communication happening through slackbot private message?

// Example of replying to a user.  This will actually reply to the user via slackbot
var replyMess

[2016-06-16 18:48] whatsdis opened #491 "closed"
closed

[2016-06-16 19:43] Stevenic commented on #479
I would suggest waiting a couple of weeks. We're working on the initial drop of BotBuilder 2.x and for the Node side there's a new UniversalBot that replaces all of the existing bots. It's connector based so it would be pretty straight forward to build a FacebookConnector that lets your UniversalBot speak natively to Facebook. It's probably not a connector we would build but if the community wante

[2016-06-16 19:47] Stevenic commented on #479
By the way... The old `BotBuilderBot` and `TextBot` classes will still be there, they're just marked as deprecated so log a warning to the console.  The `LuisDialog` and `CommandDialog` classes are also deprecated.  There's a new `IntentDialog` class that combine the functionality of both.  You now create one or more `LuisRecognizer` instances which you pass to an `IntentDialog`. All of the new cl

[2016-06-16 19:50] Stevenic commented on #451
Ok... Lets definitely revisit this after 2.x is released it changes everything internally so should address the issue.

[2016-06-16 21:22] andrew-makarenko commented on #479
I haven't found even unofficial standalone FB bot connector, so here is mine: https://www.npmjs.com/package/botbuilder-facebook

Maybe it will be useful for somebody

[2016-06-16 21:30] andrew-makarenko commented on #429
@vinnitu Here is an FB bot connector https://www.npmjs.com/package/botbuilder-facebook

[2016-06-17 03:16] #491 closed

[2016-06-17 05:47] ankitbko opened #492 "Log messages send out from Bot Connector to Channels"
If I understand correctly, bot connector modifies the `Message` to adopt to the particular channel's specification. Is it possible to have a feature in the portal to see last 'N' JSON messages sent from the connector to specific channels in its final form?
The problem I faced was that I was trying to get the images in button in Facebook channel but it was not working. This created a confusion that

[2016-06-17 06:19] glenchao opened #493 "Handling commands tutorial crashes node process"
Follow the **Handling Commands** section of this tutorial http://docs.botframework.com/builder/node/guides/core-concepts/

**Expected result:**
hello
Hi! What is your name?
John
Hello John!
set name
What would you like to change it to?
John Smith
hello
Hello John Smith!
quit

**Actual Result:**
hello
Hi! What is your name?
John
Hello John!
set name
What would you like to change it to?
John Smith
-

[2016-06-17 07:37] yss14 commented on #483
Basically my bot is a simple echo bot which listen for some predefined keywords and than echos some prefinded phrases. So the users don't write directly to the bot because it listen to the whole group conversation and if a message contains a keyword his respsonse will be without a certain context.
It would be nice on the developer side if you can choose if the bot mentions the user or not.

[2016-06-17 08:31] DavePilks opened #494 "Using Constructor Injection with the MessagesController"
I have a service that I want to inject into my `MessagesController` but I can't as it says that it requires a parameterless constructor. I know, from reading earlier that you already use AutoFac which is what I want to use.

But what is the best way to inject this dependency into the controller? @willportnoy has mentioned elsewhere that it is best to avoid using the Service Locator pattern so I am

[2016-06-17 12:35] matt-sdg commented on #490
My slack bot is running, however it doesn't work at the moment. I've verified that the bot is working, but either messages aren't coming to the bot or the reply doesn't get to slack...

[2016-06-17 13:44] deubaka commented on #490
@matt-sdg Mine is just disabled. Already did regenerate my Slack secret and re-authenticated, still nothing.

Tried reverting back to `SlackBot` with `botkit` this morning and its working fine, so there is a problem in either `BotConnector` or the botframework. Weird thing is, we haven't changed a thing in both the `BotConnector` initialisation and in the console. It just suddenly showed 'Disabled

[2016-06-17 20:46] baktakt commented on #490
We're experiencing the same issue. Bot was working fine on slack yesterday, now it just shows up as offline on all teams we try adding it to. No messages seem to go through. I have talked to a developer at slack but he just said we need to make sure we're using the RTM API.

[2016-06-17 21:10] XelaMon commented on #487
I'm having issues with this as well. The 'Attachments' specifically, seem to lack a lot of the data that I put into it with my bot. For example, the FallbackText, Title, TitleLink, etc. don't seem to come in through direct line. Also, the URLs that come in through attachments seem to be formatted differently than what I set them to. Do I need to call Direct Line again to get these images?

[2016-06-17 21:49] dtzar commented on #490
This also just happend to http://aka.ms/AzureBot sometime between last night and this morning.  The Bot still shows as the slack channel is enabled AND the API is working directly. Slack shows the bot offline and no way to get it back I can see.

[2016-06-17 22:45] Stormridge commented on #311
1 month later and this API still returns error 500.  Any updates?

[2016-06-18 02:24] whatsdis opened #496 "Setting session data to proactive message doesn't work"
I first send a proactive message to the user via sms channel inside OAuthCallback method

[code]

Then in my main Dialog.cs I try to access it

[code]

I receive the message on my phone. However, I am not able to get back the username and newuser session data saved inside OAuthCallback.

I suspect that this is happening because the proactive message does not have conversationId set. And the conver

[2016-06-18 03:19] Stevenic commented on #479
awesome @andrew-makarenko. Would be great if you could update this to the new connector model when 2.x is released in a few weeks. Should be simpler then implementing a FacebookBot as you no longer have to deal with implementing the management of sessions or support for storage. The new UniversalBot takes care of that for you.

As a preview here's part of the code for the new ConsoleConnector. I l

[2016-06-18 04:27] OleksandrBezhan commented on #104
Facebook also doesn't support named links, as I have found today.

[2016-06-18 05:48] longsangstan commented on #11
hi, just want to confirm the mono emulator does not support Attachment(e.g. image, card)?
I was expecting it to give me some JSON response for inspection but it gives me error instead.

[2016-06-18 16:22] vaditya04 opened #497 "Connecting a MS bot framework user to someone on Skype"
I've made a chat bot using Microsoft Bot Framework which answers a user's questions. When the bot is unable to answer the user's questions, I want to be able to redirect the user question to a customer rep on Skype.

The person on Skype will see the messages posted by the user, and his answers will be sent to the user.

Basically I need a bot which can interact with two people at once from differe

[2016-06-19 02:00] fercom opened #498 "Error 400 in inline mode on Telegram, WEBPAGE_MEDIA_EMPTY"
My bot was working fine a few days ago, but just recently started responding with "messages.sendInlineBotResult error 400 WEBPAGE_MEDIA_EMPTY". In my code there is no exception thrown.

You can call the bot in inline mode as this: "@the_memebot spongebob meme, nobody, cares please"

An example of the response I send to telegram:
{
  "method": "answerInlineQuery",
  "parameters": {
    "inline_quer

[2016-06-19 03:33] eanders-MS commented on #498
Hi fercom, I just tried, and seems to work for me:
![image](https://cloud.githubusercontent.com/assets/12176807/16175011/bbb61054-3593-11e6-80fa-d470b2bb2d1e.png)
Blip in Telegram? Let me know if I can assist further.

[2016-06-19 03:47] fercom commented on #498
Yes, it gives results, but when you try to send it if fails, in mobile gives error, in Computer just doesn't show the image

[2016-06-19 09:53] thewhitetulip commented on #448
@Stevenic Is this why we get the "ERROR: too many calls to endDialog"?

[2016-06-19 10:19] thewhitetulip opened #499 "Improving overall documentation"
The bot framework is amazing, it just needs two things
1. Portable documentation
2. More examples

[2016-06-19 11:59] vaditya04 opened #500 "The To Address refers to abc@fed.com which is not a known"
Received the above exception when trying to start a conversation by sending a message from the bot to a Skype user.
[code]

[2016-06-19 15:38] giriganapathy commented on #243
Hello Steve,

I tried this basic code, but it is failing still.  The Prompts are not appearing after the send.  This is happening in emulator and web chat.

    function (session) {
        // Send a greeting and start the menu.
        session.send("Message 1");
        builder.Prompts.confirm(session, "Do you like to proceed?");
    },
    function (session, results) {
        if (results.respon

[2016-06-19 15:41] judavi commented on #302
@jameslew sorry for the late response, today I being doing some tests and works great! also I notice that now it's working the other message types like "UserRemovedFromConversation" :+1:

[2016-06-19 17:26] vianairan commented on #490
I have the same issue. However, the direct messages to Slack bots seem to work fine now. But, the messages to group slack channels do not seem to work yet. Any work arounds?

[2016-06-20 00:16] amoldeshpande opened #501 "how do I accomplish this ?"
consider a scenario where I am inviting a group of people to a catered party where they have the choice of food of various cuisines.

My main form might look like this:
	--- various options ---
	Please pick the cuisine you'd like for your meal
        ---- continue picking options ---

i.e., in addition to choosing various other options (seating arrangements, for example), I'd like to kick them in

[2016-06-20 01:11] deubaka commented on #490
Just checked the status today, and its status is now 'Running', and receiving.

<img width="784" alt="screen shot 2016-06-20 at 09 06 56" src="https://cloud.githubusercontent.com/assets/1931819/16181016/d8130156-36c6-11e6-9fc3-19200800044a.png">

We have made no changes, since it was doing nothing. The question is, what caused the issue and if there is, what do we as devs who've invested in the pl

[2016-06-20 01:23] vianairan commented on #490
@deubaka : can you please verify if your bot works on group slack channels? For me, it only works when I send a direct private message to the bot. Not on group channels.

[2016-06-20 02:14] deubaka commented on #490
@vianairan Confirmed that its working on a group channel. I have the `Listen to all messages` ticked off by the way in my console.

[2016-06-20 03:21] vianairan commented on #490
@deubaka : Thanks for checking. I re-added the bot to my channel and it started working again. As you mentioned, would be great if we can get a feedback from Microsoft on the issue. So, we can access the reliability of the Bot Connector before using it.

[2016-06-20 05:51] tomlm commented on #490
We had a bad setting get on our server which impeded the autoscale/alerting system.  It has been fixed and things should be stable now.  Sorry for the down-time.

[2016-06-20 06:44] SageEx commented on #428
This would be a really nice addition to dialogs.

[2016-06-20 07:41] Kadae commented on #483
I have the same problem too. One month ago my bot works fine. But then Azure acc stopped and I change the payment method. After that I used the same code, but now it's works wrong.

I re-created Azure app, re-created bot with C# App in VS, re-created bot in Telegram. But can't find were is this bug to fix it...

I'm using default C# app: http://aka.ms/bf-bc-vstemplate
I also tryed to publish defau

[2016-06-20 08:31] NTruchaud commented on #448
I don't know if I did somtething wrong, but it's always sending me on the Default answer ...
Any idea ?
`require('dotenv').config();
var builder = require('botbuilder');
var jade = require('jade');
var restify = require('restify');
var request = require('request');

var server = restify.createServer();

var iframeUrl = 'https://webchat.botframework.com/embed/' + process.env.APP_ID + '?s=' +
    pr

[2016-06-20 09:18] andrew-makarenko commented on #479
@Stevenic Thanks! I will implement the new UniversalBot soon in a 'develop' branch and will publish it to npm as  soon as botbuilder 2.x released.

[2016-06-20 10:03] manu4rhyme opened #502 "Json FormFlow Template questions"
I'm building a Json FormFlow , for a field I have this template defined in the schema,

[code]
I want to always get the feedback for this field. I still get the feedback only when a mismatch occurs.
How do I set it to always?

Also, regarding the DateTime attribute,
[code]
This accepts even values like "200", and considers it like "current Date 2:00", I really don't want the time, just the date...

[2016-06-20 10:35] NTruchaud opened #503 ".matches method always send to OnDefault"
Hi, I've got the feeling that I can't make the .matches method work well.
I have something like :

[code]
I don't know if the problem is from my .matches method or the cycle of beginDialog / endDialog.
Thank you !

[2016-06-20 14:40] jeffreyhyun opened #504 "Session Timeout Feature? Infinite loop fix for sms integration with state persistence"
First off, the botbuilder is awesome with great integration options, v1 fixed so many issues I was having.

In the case of an sms bot, it was essential to write a sessionTimeout module so that a user who randomly stopped somewhere not at the expected end of a typical callstack would timeout calling an end dialog and start back at the beginning the next time they texted. The integration with twilli

[2016-06-20 17:12] amoldeshpande commented on #501
my question is more of what's a good pattern to launch one form from a family of forms that's related by inheritance (or generics).
If interfaces like IDialog were non-generics and instead returned objects implementing another (possibly empty) interface, this would be  a lot easier.

[2016-06-20 17:35] jeffreyhyun commented on #501
Ah, sorry. I completely misunderstood the question and still think I'm missing something, but last try... If it's by inheritance, couldn't you just end the child dialog which would send the response to the parent(s) and have the logic there in a third waterfall step to launch the new form? The first step would be the prompt, the second the logic to direct to the proper dialog in the "family of for

[2016-06-20 17:38] chrimc62 commented on #502
Two things to get feedback:
1) It is controlled off the Prompt (or Template if no Prompt is specified) which is where you need the attribute.
2) The attribute is "Feedback", i.e. "Feedback":"Always" on your Prompt or Template.

For the second issue, you need to add validation to your field which can check and transform the value.  In the current release you can only do that through code, i.e. .Fie

[2016-06-20 17:38] #502 closed

[2016-06-20 17:40] chrimc62 commented on #499
Not sure what you mean by portable documentation, but definitely agree more examples would be great.  We continue to work on adding examples and documentation, but we have our hands full trying to advance the builder so any help the community can provide would be appreciated.

[2016-06-20 17:41] chrimc62 commented on #494
Add @willportnoy  to comment.

[2016-06-20 17:47] chrimc62 commented on #501
Have you looked at the chaining stuff?  In particular Chain.Switch?  You can have your front-end dialog select and then use switch to dispatch to the appropriate form child dialog.  Here is an example from the EchoBot sample.

        public static readonly IDialog<string> dialog = Chain.PostToChain()
            .Select(msg => msg.Text)
            .Switch(
                new Case<string, IDialo

[2016-06-20 17:50] chrimc62 commented on #488
It is definitely possible.  You need to call it using either the Bot Connector Rest API: http://docs.botframework.com/sdkreference/restapi/#navtitle

or the Direct Line REST API: http://docs.botframework.com/sdkreference/restapi-directline/#navtitle

Please reopen if you need more information.

[2016-06-20 17:50] #488 closed

[2016-06-20 17:54] chrimc62 commented on #482
Are you talking about the node or C# SDK?

[2016-06-20 17:58] chrimc62 commented on #497
This is definitely a good idea and something we have started to look at.

[2016-06-20 18:00] #490 closed

[2016-06-20 18:01] #445 closed

[2016-06-20 18:09] chrimc62 commented on #428
We did briefly consider being able to do this, but as you note to do it while being stateless requires us to do compiler work.  This is possible, but is a lot of work so explicitly passing in your continuation method continues to be the best choice.

[2016-06-20 18:32] ambeer opened #505 "Unable to call new route"
Hi I am new to Bot Framework.
I am trying to integrate bot with Restful service call
Here is my scenario
Bot : What is your name
User : XXX
Bot :Hello.. XXX. Do you want to Want Buy a product (Yes /No )?
User: Yes
Bot :  Enter Category to display products? ( Ex: Camera, Memory Card, Memory etc )
User : camera (for ex:. I am making third party call here.. and getting products matched with keyword)

[2016-06-20 20:25] amoldeshpande commented on #501
I'm not sure how I would use Chain.Switch<T,R> here.  Doesn't the signature constrain the cases to return a particular type  ?

In the echo example, IDialog<string> is being returned in each "Case".  I'd want to return a different IDialog<type> for each one.

Thanks for the suggestions. I'm going to close this issue as it doesn't really seem appropriate for discussing in a bug database.

[2016-06-20 20:56] yauhenininjia commented on #500
+1 The same issue with  skype nickname in `address` field using REST API

[2016-06-20 21:15] chrimc62 commented on #501
We do most of our support here, so I've reopened.  Switch can return object--you do not have to be strongly typed especially if you don't care about the value that is returned because you have processed it somehow.

Here is another example from the FormTest test code in the GitHub.

            var callDebug =
                Chain
                .From(() => new PromptDialog.PromptString("Locale?

[2016-06-20 22:31] amoldeshpande commented on #501
ok, thanks. First, I should try to express more clearly what I'm trying to do.

Example code:
`[LuisIntent("SelectCuisine")]
public async Task SelectCuisine(IDialogContext context, LuisResult result)
{
   String cuisine = findEntitiesOfType(kCuisineEntity, result);

   context.Call(CuisineFormFactory.GetFormForCuisine(cuisine),cuisineSelectionComplete);
}

public class CuisineFormFactory
{
	public

[2016-06-21 00:05] evnik commented on #466
That explanation is much more clear and sounds reasonable, thank you. Actually, I didn't take in account any cases of `T` type except bool, string or an enum, and all of them should work with `default(T)`.
So, what do you think, is the team able to push an effort for this in the nearest future? If no, are you guys open for contributions here?

[2016-06-21 01:05] whatsdis commented on #504
wondering about this on C# too

what is the current way that an token set on session.userdata will expire? is it possible to set session timeout? it's pretty opaque how the sessions are stored but seems to use KeyVault?

Then why not do away with using the session api altogether and just store stuff on KV directly and pull data from there?

[2016-06-21 01:08] whatsdis commented on #496
well I've had the weekend to think this through and it's probably the case that you need to trigger a conversation first to get the userid and conversationId. I'm guessing that it's not possible to set a session data to a proactive message because it won't have the conversationId....

The only approach I'm thinking that might work is if I just stored all the session data on KV directly and pulling

[2016-06-21 04:18] thewhitetulip commented on #499
I would love to help in any way possible, what I mean by portable documentation is a PDF version which will be portable.

When I am writing my bot, I'd like to have the PDF in handy like the SQL manual or the Python docs or even the Go documentation.

How do I contribute to the documentation? I didn't find a link to do so. Please guide me in the right way, I'll contribute the examples and easy to

[2016-06-21 04:42] hmishra2250 opened #507 "Error in Bot Framework Directline connector"
My application incurred errors in contacting the Bot through the directline connector. When i checked, i found the following error in the Directline page.
I guess it is associated with the web app of Bot Framework.
Please look into this.
![screenshot 18](https://cloud.githubusercontent.com/assets/9528717/16218202/6821861a-3798-11e6-97db-58e0115814ac.png)

[2016-06-21 04:46] TexAgg commented on #507
I have this same error pop up whenever I debug my bot in visual studio.

[2016-06-21 05:00] dandriscoll commented on #507
Yes, we're diagnosing this now.

[2016-06-21 06:04] dandriscoll commented on #507
The service should be back now. Sorry for the outage.

[2016-06-21 06:04] #507 closed

[2016-06-21 08:31] ankitbko opened #508 "[C#] Exception when no EntityRecommendation matches any field in Form"
The issue is if an non empty `List<EntityRecommendation>` is passed to `new FormDialog<T>()` and the list does not contain any EntityRecommendation with Type matching to Form's any field, an exception is thrown of type `Microsoft.Bot.Builder.Internals.Fibers.InvalidNextException`.

To reproduce follow the below flow:
Git Repo : https://github.com/ankitbko/BotIssue-508

Flow 1:
Input: `Text Bob`
Ou

[2016-06-21 08:32] vnheros opened #509 "Can't not run Microsoft.Bot.Sample.SimpleAlarmBot"
I tried to run Microsoft.Bot.Sample.SimpleAlarmBot in Bot Framework Emulator, but cannot. I got this error: 500 Internal Server Error
Stack trace:
{"Message":"An error has occurred.","ExceptionMessage":"Object reference not set to an instance of an object.","ExceptionType":"System.NullReferenceException","StackTrace":"   at Microsoft.Bot.Builder.Luis.Extensions.<QueryAsync>d__0.MoveNext() in C:\\M

[2016-06-21 08:57] ankitbko commented on #501
Can you try the following. Build out `IDialog` using `FormDialog`.
[code]

[2016-06-21 09:10] manu4rhyme opened #510 "Problem adding script in FormFlow Json"
So my Json looks like this,

[code]
When I run, I get the exception,

"message": "An error has occurred.",
  "exceptionMessage": "error CS0234: The type or namespace name 'Bot' does not exist in the namespace 'Microsoft' (are you missing an assembly reference?)",
  "exceptionType": "Microsoft.CodeAnalysis.Scripting.CompilationErrorException",
  "stackTrace": "   at Microsoft.Bot.Builder.FormFlow.J

[2016-06-21 09:37] vaditya04 commented on #500
There should be a way to permanently add a Skype user to 'Known' so the bot can connect to him on it's own. I don't think it has been done yet.
Would appreciate a dev suggesting some sort of workaround for this.

[2016-06-21 10:21] ankitbko commented on #509
This is happening because of SimpleAlarmBot constructor is passing null as default argument. LuisDialog then contacts the default passed null service with Luis models generated through attributes.
As a workaround for now, create a default constructor and remove `= null` from the other. I have submitted a pull request for the same.

[code]

[code]

[2016-06-21 10:23] DavePilks opened #513 "Make API calls inside LUIS Dialog"
I have a bot that has a `LuisDialog`.

If, in one of the processing methods, I try to call an externally hosted API, I get an `AccessDenied` exception.

   at Microsoft.Bot.Connector.ErrorHandling.HandleError[ObjectT](HttpOperationResponse`1 result)
   at Microsoft.Bot.Connector.BotsExtensions.<SetConversationDataAsync>d__7.MoveNext()
--- End of stack trace from previous location where exception w

[2016-06-21 10:44] hmishra2250 commented on #507
Yeah its working now, but not through the Jquery code that i wrote earlier. It was working initially with the same piece of code, but now it keeps failing.
It however is hitting the directline link through GET and POST request on Postman.

Image on Postman, working with direct POST:
![screenshot 20](https://cloud.githubusercontent.com/assets/9528717/16226835/e79cdd7c-37ca-11e6-802b-74f14fadb6ee.pn

[2016-06-21 11:00] deubaka commented on #350
Adding to this issues since its still under Slack attachments. After the recent downtime  (#490), Slack tables have also changed behavior.

We are sending the following under `channelData` in a message,
[code]

This was rendered then as this,
<img width="383" alt="screen shot 2016-06-21 at 18 45 43" src="https://cloud.githubusercontent.com/assets/1931819/16227163/c0cecf22-37e1-11e6-9413-7072044c32

[2016-06-21 11:45] DavePilks commented on #513
last time this was mentioned, it seemed that the bot may have been timing out. How can I see if this is the case?  If it is the case how can I increase this timeout limit?

The botid is :roboassistant

[2016-06-21 12:24] inornos opened #514 "Skype id encrypt (skype id change or encrypt when service receive a request from any user)"
my Skype id change when it reaches to the service

My skype id is **fssxyz** but when service receive my message and i check the log for me it showing me this **1KiQp6oLcQ8sVyB4uswRvIy6DSOkzBzg4_OKPJFXlf-c** this skype id as request
please help i'm in problem

[2016-06-21 12:29] rouscast commented on #482
Hi,in node

[2016-06-21 12:49] inornos opened #515 "how to get sender name (how to get name of the person who send message on the skype bot)"
how to get name of the person who send me message on Skype bot
i want manage log with sender name time and message so anyone help me to get sender name who send the message on my skype bot

[2016-06-21 13:11] inornos commented on #500
I got same problem address not shown proper its like encrypted address in skype bot

[2016-06-21 13:24] stevienewell commented on #453
Thanks for the reply Will. I resolved this by making use of UserData, and 'looping' through the next unanswered question contained within.

[2016-06-21 13:24] #453 closed

[2016-06-21 14:45] dandriscoll commented on #507
Taking a look now.

[2016-06-21 14:47] thewhitetulip commented on #499
@chrimc62 Is the documentation open sourced?

[2016-06-21 15:18] alex182 opened #516 "[Question][C#]Proactive Bot Example"
I am trying to create a proactive bot that forwards the message that is sent to it from User1 to User2.  Is there example code for this?  Is this possible using the emulator or do I need to put my bot on Azure?
[C#]

[2016-06-21 15:54] willportnoy commented on #494
What container are you using to resolve your MessagesController?  Can you specify the constructor you want to use?

http://docs.autofac.org/en/latest/register/registration.html#specifying-a-constructor

[2016-06-21 16:57] chrimc62 commented on #499
That would be great!  I believe Doxygen can be coaxed to also generate a PDF, but the HTML is pretty portable as well.

[2016-06-21 16:59] amoldeshpande commented on #501
Unfortunately, since ThaiCusiine.BuildForm() is strongly typed (it returns FormBuilder<TheDivision)() ), this does not compile.

[2016-06-21 17:13] chrimc62 commented on #510
You are doing it exactly right.  I've repro'ed the problem and am investigating.  It is very weird...

[2016-06-21 17:29] chrimc62 commented on #510
The issue is with URI escaping.  If your project is on a path without spaces it should work.  I'm working on a fix for the next release.

[2016-06-21 17:29] #510 closed

[2016-06-21 17:32] tomlm commented on #516
You can do this by simply creating a new message.
`
Message message = new Message("text")
{
   From = bot,
   To = user
}
`
NOTE: you can only send a message to a user that has already interacted with your bot.

[2016-06-21 17:32] #516 closed

[2016-06-21 17:35] tomlm commented on #500
1. ChannelId should be "skype" in lower cases
2. the addresses need to be the internal addresses which you receive when talking to skype.  They should look something like "8:12313123123"
3. You can only talk to a user that you have previously received a message from (and you have to use the address that skype has sent for that user to communicate with them.

[2016-06-21 17:35] #500 closed

[2016-06-21 17:35] dandriscoll commented on #507
I think this is working now. I'm getting a 405 on the OPTIONS request but it's setting the Access-Control-Allow-Origin header now. Can you try again?

[2016-06-21 17:36] thewhitetulip commented on #499
@chrimc62 I am still unsure how the docs are generated, can you pls guide me? which files should I be looking for this?

[2016-06-21 17:38] loretoparisi opened #517 "Slack integration: output format"
When in the slack integration, the output of BotBuilder.session.send seems to be `text`, while within Slack application the rendered text seems to be `html`.
Like having as output a sentence of more lines (separator is `\n`), the slack bot will print a one line string, ignoring the return chars. Do I have to convert to html entities before sending contents?

[2016-06-21 17:40] tomlm commented on #481
We call into facebook graph
https://graph.facebook.com/v2.6/{envelope.sender.id}
and use the $"{facebookUser?.first_name} {facebookUser?.last_name}", fields.

Facebook must not be returning the infromation

[2016-06-21 17:40] #481 closed

[2016-06-21 17:41] tomlm commented on #480
Facebook Messenger doesn't support images on buttons

[2016-06-21 17:41] #480 closed

[2016-06-21 17:45] tomlm commented on #438
This is not a question for us.  You are asking about the security of SMS, which I think you should be asking Twilio about

[2016-06-21 17:45] #438 closed

[2016-06-21 17:47] tomlm commented on #392
This is not supported by facebook messenger.

[2016-06-21 17:47] #392 closed

[2016-06-21 17:47] #331 closed

[2016-06-21 17:49] tomlm commented on #321
The contenttype is accurate on the url, we don't plan on putting the filename in the url

[2016-06-21 17:49] #321 closed

[2016-06-21 17:51] tomlm commented on #301
If you want to store data on the next user then use the state api with that user.  The user data on a response object is associated with the user being responded to.

[2016-06-21 17:51] #301 closed

[2016-06-21 17:56] tomlm commented on #517
The output is interpreted as markdown. With markdown, you need a blank line to signify paragraph break.

This means the following:
one
two

three

Will render as:
one two
three

[2016-06-21 17:56] #517 closed

[2016-06-21 17:58] tomlm commented on #515
The sender name should be in the From.Name field

[2016-06-21 17:58] #515 closed

[2016-06-21 18:04] chrimc62 commented on #508
Thanks for reporting the bug.  Will be fixed in next release.

[2016-06-21 18:04] #508 closed

[2016-06-21 18:15] chrimc62 commented on #501
Adding @willportnoy to comment.

[2016-06-21 18:19] eanders-MS commented on #498
@fercom It appears that your handler at http://memegen.link/custom/nobody/cares.jpg is not returning an image, but rather html, e.g.:

[code]

I think Telegram is expecting a jpg.

[2016-06-21 18:19] #498 closed

[2016-06-21 18:22] hmishra2250 commented on #507
Yeah,
It works like a charm now. Thanks for the help Dan !

[2016-06-21 18:44] dandriscoll commented on #464
I'm guessing your certs from Let's Encrypt are valid, but they don't chain to a cert trusted by our servers. To get onto the list of CAs installed on Windows, a certificate authority must first be a Microsoft trusted CA, and I don't see Let's Encrypt on the latter list, let alone the former.

Complete list of Microsoft trusted CAs: http://social.technet.microsoft.com/wiki/contents/articles/31634.m

[2016-06-21 18:50] fercom commented on #498
Yes, but that's the way the http://memegen.link api gives the results, even if you copy the background-image url from the page it redirects you to the same page, this way worked fine a few days ago, telegram changed the way of receiving inline mode images (in direct chat with the bot it still works fine). Any sugestions to make it work?

[2016-06-21 18:50] chrimc62 commented on #499
If you clone this repository you will see a documentation directory.  The documentation is written primarily using the DOxygen mark down format.  If you look at Forms.cs you can see the FormFlow documentation.  If you install DOxygen, there is a help file describing the format.  It is generally pretty straightforward and there are lots of examples in the docs.  Let me know if you need more.

What

[2016-06-21 19:08] ronsmith2 commented on #291
Hi,
I'm having an issue similar to what started this thread.  Sending a message to our Bot from the FB channel, this is the data in the message.
_Address: 1025934197521552, Channel: facebook, Id: obzBUren4G, Name:_
Is it possible to retrieve the user profile using the value passed in the address field?  If so, could someone share sample code for calling the FB Graph API?
Thanks in advance,
Ron

[2016-06-21 19:51] yauhenininjia commented on #500
When I write to bot from skype client I get params on my server in the next form:
`{"_json"=>[{"id"=>"0", "content"=>"hi", "activity"=>"message", "from"=>"8:my_skype_nickname", "fromDisplayName"=>"my_skype_name", "to"=>"28:my_bot_id", "time"=>"2016-06-21T19:20:31.230Z"}], "message"=>{"_json"=>[{"id"=>"0", "content"=>"hi", "activity"=>"message", "from"=>"8:my_skype_nickname", "fromDisplayName"=>"my

[2016-06-21 20:31] eanders-MS commented on #498
You might be able to accomplish this by extracting the image yourself:
1. Have the inline query URLs point back to your bot service at a different path, e.g.: /api/images
2. Have your service call memegen.link and get the html
3. Extract the background image url from the body style: `background-image: url("...")`
4. Request the contents of that url image url and get the jpeg bits
5. Pass jpeg bits

[2016-06-21 20:43] fercom commented on #498
I will try it, but background-image: url("...") points to the original url

[2016-06-21 20:46] whatsdis commented on #438
fair enough, thank you.

[2016-06-21 20:47] willportnoy commented on #513
You're getting AccessDenied from the _DataApi.GetDataFromApiAsync call?

[2016-06-21 20:48] whatsdis commented on #496
Any ideas on using KV with expiry to set the relevant session information to carry it over to other dialogues after the proactive message is sent? I'm still not 100% sure if this is a good idea or not.

[2016-06-21 20:54] eanders-MS commented on #498
They look the same to us humans, but in the second one the parameter is URL-encoded, so it's represented differently in the request. They must be handling the two differently.

Hey that makes me think you could just rewrite the memegen url directly, rather than doing all that work I listed out. Just url-encode everything after the first ? character.

[2016-06-21 21:03] vaditya04 commented on #500
@tomlm When you say 'previously messaged', do you mean in the same conversation? If I talked to a chat bot instance once through Skype, can I indefinitely reach out from that bot to the Skype user in the future? Or does it have to be the same conversation, same instance of the bot?

[2016-06-21 21:10] willportnoy commented on #501
IDialog<out T> is declared to have a covariant generic type argument, so you should be able to assign an instance of IDialog<DerivedClass> to IDialog<object> - it's still type checked, though only as an object.

[2016-06-21 21:44] tomlm commented on #500
@vaditya04 , yes, that's right...once you have established a relationship with a user, you can create new conversations with that user.  You cannot arbitrarily send a message to a user who has never sent you one.

[2016-06-21 23:30] willportnoy commented on #466
Which solution are you thinking?  The one based on the Option type?

[2016-06-21 23:36] willportnoy commented on #435
I added

            async Task<string> IAmASampleToKillTheChatbot()
            {
                throw new NotImplementedException();
            }

to our LuisTests.All_Handlers_Are_Found test and it passed fine - there must be something else.  I'll keep looking.

[2016-06-21 23:43] craigjensen commented on #486
Another way is to create a new message and set only the To and From fields.

var replyMessage = new Message()
{
   Text = "reply text",
   From = message.To,
   To = message.From
};

[2016-06-21 23:43] #486 closed

[2016-06-22 04:16] evnik commented on #466
Yes, I assume it is acceptable and looks good to me.

[2016-06-22 04:24] thewhitetulip commented on #499
I want to add more examples, not complete bot example like the todoBot, but explaining basic concepts using small practical examples, and a few strategies of building a bot, from basic to advanced.

[2016-06-22 05:16] DavePilks commented on #513
@willportnoy no. Let me go into a little more details.

The `_DataApi.GetDataFromApiAsync` call is not even completed. Inside that method I simple return a string. I also have  `Log` statement inside that method to see if I can even get inside there and it doesn't. So the `AccessDenied` seems to be the result of simply trying to call the async method.

This bot is hosted on Azure and I am trying t

[2016-06-22 05:41] loretoparisi commented on #517
@tomlm all right that makes sense, so I have to replace `\n` to `\n\n`.

[2016-06-22 07:06] #494 closed

[2016-06-22 07:07] inornos commented on #515
ya i know i'm using From.Address Property but its encrypted so i'm not identifying my user please help me

[2016-06-22 07:08] DavePilks commented on #494
I managed to get this working by setting the `HttpConfiguration` property on the `HttpConfiguration` in the `WebApiConfig`

[2016-06-22 07:11] inornos commented on #515
my Skype id change when it reaches to the service

My skype id is fssxyz but when service receive my message and i check the log for me it showing me this 1KiQp6oLcQ8sVyB4uswRvIy6DSOkzBzg4_OKPJFXlf-c this as skype id as request
please help i'm in problem

[2016-06-22 08:37] yss14 commented on #483
Thanks for considering my issue and fixing the "@mention" in the Bot Framework :)

[2016-06-22 08:46] Kadae commented on #483
Yep, thank you!

[2016-06-22 11:21] rlilov opened #518 "[C#] 1.2.4 Localization issue"
I have localized by bot with English (neutral language) + 2 other languages using 2 Forms, chained with ContinueWith. First form takes language choice from user and passes it to the second form. All worked very well with 1.2.3 version.

When I installed 1.2.4, selecting any of the none English languages, results in the bot being stuck at the end of language choice form. This behavior is the same i

[2016-06-22 11:59] manu4rhyme opened #519 "PromptFieldWithValues flag doesn't work for dynamically filled fields"
So basically, I have a field, and in its validation lambda,
I fill some other fields as well (depending on user input), so the user doesn't have to manually fill them.
Something like this

[code]
The bot still asks for those prefilled fields with a (current choice : blah) even though the PromptFieldsWithValues flag was not passed to the FormDialog. Apparently this flag works only for the Fields ha

[2016-06-22 13:08] ronsmith2 commented on #291
Posting this update so it may help someone else.

The number value being passed in the Address field appears to be the page scoped user id from FB.  Using this request I was able to retrieve the user's name.

https://graph.facebook.com/v2.6/1025934197521552?
fields=first_name,last_name&access_token=&lt;PAGE_ACCESS_TOKEN&gt;

Regards,
Ron

[2016-06-22 15:37] chocvanstraw opened #520 "Bot Builder Dynamic Field Error"
I just upgraded to Bot.Builder 1.2.4 and am getting the following error when building dynamic fields:
<pre>
parsing "(\b1\b)|(__qqqq__)\b)|(__qqqq__)" - Too many )'s.
</pre>
<pre>
undefined:
   at Microsoft.Bot.Builder.FormFlow.FormDialog`1+<MessageReceived>d__14.MoveNext (Microsoft.Bot.Builder, Version=1.2.4.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35)
   at
System.Text.RegularExpressions

[2016-06-22 15:50] designdit opened #521 "JSON data displays as part of the message text in Telegram"
I'm using BotConnector to send messages and have tried a number of formats for Telegram, but none works as expected.  Any suggestions on what else to try?  Do some/all of the quotes need to be escaped when using JSON.stringify or should the message parameters be sent in a different format?

Here are a couple of ways I've tried (using node.js botbuilder version 1.3.21):

Option 1.

         session

[2016-06-22 15:55] fercom commented on #498
I did it already:
`http://memegen.link/custom/nobody/cares.jpg?alt%3Dhttp%3A%2F%2Fwww.shescribes.com%2Fwp-content%2Fuploads%2F2014%2F12%2FSpongebob_Squarepants_005.jpg`
but the answer of the api seems to be the same

[2016-06-22 15:56] eanders-MS commented on #521
Try this:

[code]

[2016-06-22 15:59] eanders-MS commented on #521
Unsure why Option 2 didn't work for you; it should have, I think. I will investigate that one.

[2016-06-22 16:05] eanders-MS commented on #498
I think you need to preserve the equal symbol in "cares.jpg?alt=", so that a parameter assignment is made. If you encode everything after that, I think it will work.

[2016-06-22 16:08] fercom commented on #498
It doesn't :(
`http://memegen.link/custom/hello/world.jpg?alt=http%3A%2F%2Fboykinsbasketball.com%2Fwp-content%2Fuploads%2F2015%2F10%2F5451a9bac173c.preview-699.jpg`

[2016-06-22 17:14] eanders-MS commented on #521
Option 2 worked for me in Telegram desktop and web (gif was animating), but returned a non-animated gif to the iOS client. I had better results sending the gif as a document:
[code]
That one animated on all clients.

[2016-06-22 17:23] epitone opened #522 "Attempting to send multiple messages with bot?"
I'm currently using the Bot Framework Emulator to test out my bot - I've been running into 500 Internal Server Errors when I attempt to send multiple PostAsync calls when the bot responds to a messag - my code is simply:

                await context.PostAsync("2");
                await context.PostAsync("3");
                await context.PostAsync("4");

I'm having trouble understanding the st

[2016-06-22 18:03] tomlm commented on #515
Yes, we don’t expose skype id or live id to bots anymore. Instead we send them pairwise identity that is calculated basing on encrypting (bot id + user id) pair.
But we still accept all the identities for incoming to Skype messages (such as 8:skypeId, 1:live@email.com, 19:threadId or 29:pairwiseId)
Regardless the .Name field should have user name.

[2016-06-22 18:16] pmathur08 opened #523 "Installing Emulator on Ubuntu 16"
Hello!

I was trying to install the emulator on my linux machine and I ran into some trouble. Following instructions in the documentation i installed mono and unzipped BFEmulator zip package.

However when I run mono BFEmulator.exe  this is what I get:
Unhandled Exception:
System.IO.FileNotFoundException: Could not load file or assembly 'System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToke

[2016-06-22 18:52] willportnoy commented on #466
Sorry for the delays - I've been thinking of the backward compatibility story.  We could have overloads of the Prompt methods, one which takes the delegate with the IAwaitable<T> argument and another that takes the IAwaitable<Option<T>> argument (Option for "expected" failure due to retry exhaustion, IAwaitable for "unexpected" failures) so that a prompt caller could declare their intention to han

[2016-06-22 20:23] tomlm commented on #523
Hmm..do you have mono installed?  This worked for me on my ubuntu

[2016-06-22 20:24] tomlm commented on #523
I'm running 15.10

[2016-06-22 20:37] yauhenininjia commented on #500
@tomlm Any advice for message above?

[2016-06-22 21:32] dandriscoll commented on #311
You caught me right in the middle of our last deployment. :) This is working for me, although my client is a little bit different (still in Node, though). Can you take a look and see if the GET call in step D is working for you?

[2016-06-22 21:40] dandriscoll commented on #402
We rolled out a number of perf improvements recently.

Do you need the added security that the token provides? A token is useful when you have a thin client app (like a webpage or an app) working directly against the Direct Line API. If you don't need that, you can skip the token generation and just use your secret directly on every call.

[2016-06-22 21:41] dandriscoll commented on #402
Do please take a look at perf and let me know if things haven't improved dramatically. We've added more caching and this API should be a lot faster now.

[2016-06-22 21:41] #402 closed

[2016-06-22 21:43] dandriscoll commented on #425
Hi @pooyadav, what is the URL you're using?

[2016-06-22 22:00] dandriscoll commented on #455
Are you seeing this coming back from our service, or is it entirely within the bot's process? If the former, do you have a URL that's producing the error?

[2016-06-22 22:16] pmathur08 commented on #523
Hey! Thanks for your reply!

I do have mono installed. It didn't work for me but then I downloaded Wine
and it worked using Wine.
On 22 Jun 2016 13:23, "Tom Laird-McConnell" <notifications@github.com>
wrote:

[2016-06-22 22:35] eanders-MS commented on #483
Sorry to get your hopes up! It's a new bug that it we're no longer mentioning the name. This functionality will be restored shortly. Apologies. But I've forwarded your request to the team, and it is a reasonable request I think.

[2016-06-22 22:50] eanders-MS commented on #483
Closing.

[2016-06-22 22:50] #483 closed

[2016-06-22 22:50] eanders-MS commented on #521
Closing issue. If you're still having problems please comment here and I will reopen.

[2016-06-22 22:50] #521 closed

[2016-06-22 23:46] dandriscoll commented on #458
Yes, that would be neat, although in every chat service we've seen, messages sent to a group chat are sent to the conversation (or the "room," depending on how it's modeled) and not an individual user. For example, a Slack message is posted to the channel. An email message is sent to a list of recipients, not just the user who sent the last mail.

One thing that is useful would be an equivalent of

[2016-06-22 23:46] #458 closed

[2016-06-22 23:51] dandriscoll commented on #485
Thank you, will fix!

[2016-06-22 23:51] #485 closed

[2016-06-23 00:07] dandriscoll commented on #442
Yes, we're working on a revised version right now. Thanks very much for your patience -- we should have it available soon.

[2016-06-23 00:16] designdit commented on #521
Thank you for your quick replies!  I tried the "sendDocument" suggestion on Telegram and it worked great. Had an issue with the initial sendMessage suggestion (without the document) on an Android Telegram client - received the "bot is having a problem" error message. Glad to have the document solution. Thanks.

[2016-06-23 00:23] designdit commented on #521
Hi, (in case anyone else gives it a try) the first "sendMessage" suggestion has an extra right curly bracket...I missed that when I first tried it.  No longer getting the "bot is having a problem error" after removing it, but it results in a still picture and not an animated gif on my Android Telegram client.

[2016-06-23 00:51] #523 closed

[2016-06-23 00:56] tomlm commented on #500
hm...@yauheninjia, we are close to a new release which re-architects this stuff. I would sit tight

[2016-06-23 03:06] zixia commented on #476
I got the error again. and It seems the byte size limitation is 500.

I use this code snip to get the substr no more then 500 byte size. (stupid code but works, because I'm not familiar with calculating the utf8 encoded chars...)

[code]

And another issue is: if I got a error utterance in the luis.ai web UI, then I will never get rid of that. I must export the module, delete the error utterance i

[2016-06-23 03:45] wtam opened #525 "Facebook Channel status error"
When I 1st setup the Facebook Channel the status is show running but since I couldn't get any respond from the bot in the facebook messenger.  I uncheck the "Enable this bot on Facebook Messenger " and check its again.  After it the Facebook Channel keep showing error "Object reference not set to an instance of an object"

I deauthorize the facebook channeland redo it, still the same error, please

[2016-06-23 04:09] vmthanh opened #526 "Return 403 Forbiden when run Demo-Facebook on Microsoft Bot Framework Emulator"
Hi.
I'm beginner with Microsoft Bot Framework, so that I want to try with your demo. When I follow the instruction in demo-facebook, I cannot run with the demo. Please help me and correct me if I'm wrong with which step.
As far as I understand, here is the step I did:
1. I download and install ngrok. and run it with port 4000 (I chose a different port instead using 3978 and also I updated new port

[2016-06-23 05:09] DavePilks commented on #522
Are you hosting the bot externally?

[2016-06-23 05:48] Botship opened #527 "How to retry until successful?"
I am trying to get a dialog loop e.g prompt user to enter email address, and loop until its right email address format. I am unable to find a good example of this. Could someone please point me how to do it? I am using LuisDialog

     private void CompleteProfile(IDialogContext context)
        {
            if (HaveEmailAddress == false)
            {
                PromptDialog.Text(context, G

[2016-06-23 06:24] epitone commented on #522
No I'm not - it's got the default API Key and default AppSecret - haven't published it anywhere

[2016-06-23 06:35] DavePilks commented on #522
Ah ok, I know that there are issues with the emulator talking to externally hosted bots.

[2016-06-23 06:50] vaditya04 opened #528 "Where can I access BotUserData from? How can I set BotUserData for any user?"
I am using dummy messages with user ids to set BotUserData for a particular user, so that the bot can access it elsewhere via the same method.

Example:
[code]

Later,
when another user is interacting with the bot, I execute
[code]
But someObject is returned as NULL

Note that these two snippets are being executed on different channels, conversations

[2016-06-23 07:13] EyesHuang opened #529 "Some questions about Bot framework"
Hi, Sir
Here are my questions.

1. How to send message to Channel by program but not Human Manually Input?
2. Is it possible to select bot of channel from Bot framework?
3. How to connect current MSFT bots?
4. How to combine speech and Bot framework?

Thanks.
Eyes

[2016-06-23 09:41] thewhitetulip commented on #499
@chrimc62 any thoughts?

[2016-06-23 12:24] DavePilks opened #530 "Bot Framework now requires endpoints to be HTTPS"
Is this something new that was changed? This requirement was not there a few days ago when I first created my bot. Today I tried to change the logo for the bot and it wouldn't let me as it said that my endpoint had to be HTTPS.

[2016-06-23 12:38] McGern opened #531 "Retry a dialog step in waterfall"
Hi,

Hoping to get a bit more documentation for an issue I am having.

Am using nodejs, and can't see from the documentation or examples how to repeat a waterfall step until the user supplies something that can be used. I can see 2 potential candidates,

http://docs.botframework.com/sdkreference/nodejs/interfaces/_botbuilder_d_.ipromptoptions.html
(that has maxTries and retryPrompt)

http://docs.b

[2016-06-23 12:51] OleksandrBezhan commented on #531
I am looking for this too.

[2016-06-23 12:53] OleksandrBezhan commented on #531
I'm especially interested in asynchronous version of validatedPrompt(), since I want to validate user input by LUIS.

[2016-06-23 12:58] Nixon1979 commented on #11
Hey @tomlm it looks like there is an issue with mono working with the botFramework emulator... i am getting the following error --- Can you let me know if its anything to do with the botframework or the mono installation/config. Or am i missing something... All that i did was installed mono, downloaded the emulator as mentioned on the site (http://docs.botframework.com/connector/tools/bot-framewor

[2016-06-23 13:14] srijiths commented on #530
Yes ,I also seen this. Right now it seems like they are allowing existing HTTP bots. But its better to migrate.Not sure how long they maintain this.

[2016-06-23 13:20] srijiths commented on #531
I suggest you to think more in a modular way. By keeping your waterfall,luis calls,prompts as different functions and based on the user response traverse to and fro.

[2016-06-23 13:22] srijiths commented on #522
As per documentation , yes it will work. But when i tried with many variations , it never succeeded. Please refer this issue for NodeJs #451

[2016-06-23 14:30] brene opened #532 "[BUG] session.beginDialog(...) wrong behavior"
Hi,

I have conducted a few thorough tests to determine this issue. Essentially it boils down to this:
[code]
is not the same as
[code]

To give you a detailed analysis let's look at this: I have a root dialog "/" and a dialog "/profile" that should begin from "/".
Working code:
[code]
Using this snippet, I started the conversation in "/" and entered into "/profile" by typing "profile" then it sho

[2016-06-23 14:43] loretoparisi opened #533 "Dialog.onBegin waterfall?"
This code will raise an error:

[code]

that is

[code]

while this code (without the waterfall functions array) it works

[code]

The question is. Since `onBegins` support the `next` arguments among the others, what is the meaning of `next()`. Which is the `next` function handler here if it is not in the waterfall array?

Example taken from docs [here](http://docs.botframework.com/builder/node/di

[2016-06-23 14:47] loretoparisi commented on #531
@McGern

First it's better that each waterfall step is a variable function, so that you can use it more than once. Assumed that you do

[code]

supposed that you are applying some text corrections to the user input in this case and then asking the user for a confirmation. At that point in the waterfall step 2 you do

[code]

to get the response, and the replace the input text to yours and redo the

[2016-06-23 14:52] wiltodelta opened #534 "BotAddedToConversation in Slack"
I install new bot for the team and select channel #general. Bot does not receive BotAddedToConversation event.

[2016-06-23 15:11] eanders-MS commented on #521
Edited first "sendMessage" suggestion to remove extra right curly bracket, thanks.

[2016-06-23 15:20] brene commented on #527
I'm not familiar with the C# syntax for this project. But in Javascript I would just invoke this:
[code]

[2016-06-23 15:21] brene commented on #493
This seems to be the same bug that I wrote thoroughly about [here](https://github.com/Microsoft/BotBuilder/issues/532). We should link these bugs together.

[2016-06-23 15:29] brene commented on #503
Maybe, it would be great, if you could describe your issue a little bit more? It would be great if you could upload your example output of what happens when you enter your desired input and what the expected output is.
Can you also check if this problem, that I described here #532 is the same as yours? If, so we should link it.

[2016-06-23 15:33] NTruchaud commented on #503
I'm sorry, that's just my bad, I'm making a bot in French and I had not to check the translate checkbox on the Microsoft website.

Thanks for your answer anyway.

[2016-06-23 15:33] #503 closed

[2016-06-23 15:34] brene commented on #530
Why is this an issue? Because it seems that this should be a standard.
Please take a look at the [guidelines for contributing](https://github.com/Microsoft/BotBuilder/blob/master/Contributing.md).
In order to qualify as an issue, you should append a bug or a suggestion to your issue.

[2016-06-23 15:36] brene commented on #529
Please take a look at the [guidelines for contributing](https://github.com/Microsoft/BotBuilder/blob/master/Contributing.md).
In order to qualify as an issue, you should append a bug or a suggestion to your issue.

[2016-06-23 16:43] tomlm commented on #11
this is because there another process using port 9000
can you issue /settings command and change your port?

[2016-06-23 16:43] tomlm commented on #11
@longsangstan the console emulator dumps the json of the response if there are attachments

[2016-06-23 16:46] chrimc62 commented on #520
Thanks for the bug report.  AddTerms are the terms people can type to match that entry.  Ideally in this case you would either just remove AddTerms altogether or call it with no terms, i.e. AddTerms(restaurantId).  For now you could just put a nonsense term there, like qqqqq.  I'll fix it in the next release so that no terms works.

[2016-06-23 16:46] #520 closed

[2016-06-23 17:10] vaditya04 opened #535 "How can I forcibly shut down a conversation with a user?"
Question says it all.

If context is needed (though if someone answers it without reading the text below it's totally fine)...

I need to get users from two different channels talking to each other using the bot as an intermediary (see Issue #497 )

user1 sends message to user2's channelaccount, starting a new conversation for user2 in the process.

user2 replies, in which the message is addressed

[2016-06-23 17:12] Nixon1979 commented on #11
I am unable to issue the settings command, even that is giving the same error.

[2016-06-23 17:13] vaditya04 opened #536 "Why do messages addressed to a user with conversation id not appear immediately to that user?"
User1 is in an active conversation with a bot.

Let's say some instance of the bot sends a message to User1 with the active conversation id.

That message is not presented to user1 unless he messages the bot again, upon which both the bot's response and the sent message are printed to the user

(observed on webchat)

Edit:

Example: Bot sends "Testing message"

User sees nothing

User sends bot "H

[2016-06-23 17:18] matheus208 commented on #455
It's hard to pinpoint where it's coming from, since it has never happened to me. But now that we have released a preview version of our bot on Messenger and people have started to use it, I've see this sent to users when I check the messaging history.

We are using Heroku to host our bot, so it might be an exception from their side thrown back to bot framework and it gets interpreted as a message?

[2016-06-23 17:46] loretoparisi opened #537 "BotBuilder.Prompts.choice issue for long sentences"
I'm using the `BotBuilder.Prompts.choice` to prompt user for a choice. It normally works, but at some points it seems not or maybe I'm doing something wrong with it:

[code]

that prints out the following options

[code]

I then sent the utterance `faded by alan wakjer` and getting as result

[code]

Also from now on, it continues to fall in the next waterfall function where the `response` is alwa

[2016-06-23 17:52] willportnoy commented on #518
You might temporarily turn off "tools, options, debugging, enable just my code" and turn on "break when thrown" on all "common language runtime exceptions" in Visual Studio to catch the exception to get more information.

[2016-06-23 17:53] chrimc62 commented on #518
The exception (if it is occurring) will list the missing resources.

[2016-06-23 17:54] willportnoy commented on #527
@brene is on the right track - in C#, you need to specify the next action you want to take in the "is valid" and "is empty" branches of your logic.  Either you should wait for user input by specifying context.Wait(some callback like MessageReceived) or use context.Done(some result) to wrap up this dialog and pop the stack.

[2016-06-23 17:57] willportnoy commented on #513
I don't think the SDK is interfering with async calls in any way.  If you happen to have an active SynchronizationContext on the thread, and you synchronously wait on that thread somewhere in the implementation of GetDataFromApiAsync, it's possible you might see a deadlock (e.g. http://blogs.msdn.com/b/pfxteam/archive/2012/04/13/10293638.aspx).

[2016-06-23 18:01] chrimc62 commented on #536
Are you using C# or node.js?

[2016-06-23 18:32] chrimc62 commented on #519
Thanks for the suggestion!  I've made it in the next release so that if you set values in a validate for other fields they will be skipped if PromptFieldWithValues is false.

[2016-06-23 18:32] #519 closed

[2016-06-23 19:30] willportnoy commented on #522
Is the emulator actually running on port 9000?  Can you use "netstat -ab" and see whether there is a process listening on 9000?

[2016-06-23 19:32] willportnoy commented on #472
I'm going to close this item for now, but feel free to open a new item if you have any more questions.

[2016-06-23 19:32] #472 closed

[2016-06-23 19:33] rlilov commented on #518
Thanks
Exception that is thrown is: departed is one of my terms, can not immediately relate this to missing resource

  System.ArgumentException occurred
  HResult=-2147024809
  Message=parsing "(\b1\b)|(__qqqq__)\b)|((?:departeds\s+?))" - Too many )'s.
  Source=System
  StackTrace:
       at System.Text.RegularExpressions.RegexParser.ScanRegex()
  InnerException:

[2016-06-23 20:36] epitone commented on #522
@willportnoy no there isn't anything listening on the port strangely enough, when I run the Bot Framework Application it sometimes will tell me "Failed to start server on port 3978 (the default port for the bot I'm assuming)" there seem to be things listening on those ports already, but I don't know if that would be the cause for that error.

[2016-06-23 21:08] epitone commented on #522
@willportnoy I fixed the port issue but now, only the last message (in my earlier example - "4") appears - the other two are not posted.

[2016-06-23 21:41] awyl opened #538 "Facebook carousel missing Title if only has 1 attachment"
If I have the following to inserts multiple attachments into a reply message.

[code]

With Facebook Messenger, everything works if items has more than 1 items.  However if items is exactly 1 item.  Then the rich card rendered is missing the Title.

[2016-06-23 21:43] theonewolf commented on #464
Precisely, they probably don't chain to a CA **some** your servers are trusting.  However...27%-30% of my callbacks work with your servers and a Let's Encrypt Certificate.  I documented this in the Skype community forums for developers.  There is some misconfiguration on your end:

Post: https://community.skype.com/t5/Skype-Bot-Developers/Unexpected-FIN-Packets/gpm-p/4411251

On my Windows 8.1 Ent

[2016-06-23 21:52] willportnoy commented on #522
The last message is sent inline with the response.  The first two messages are sent with the help of the IConnectorClient.  They (just the first two messages) would fail to send if the Emulator wasn't listening on port 9000 or your bot credentials were incorrect.

[2016-06-23 22:02] epitone commented on #522
@willportnoy all right I'm guessing my bot credentials are incorrect then, I'll look into that.

[2016-06-24 01:36] tomlm commented on #525
I just pushed a new version of the facebook connector, can you try again?

[2016-06-24 01:40] tomlm commented on #514
This is a change which was made by the Skype team.  They now encrypt the skypeids.  You can still send to them, but when you receive them they will be unique per bot.

[2016-06-24 01:40] #514 closed

[2016-06-24 01:42] tomlm commented on #535
User 1 talks to Bot on Conversation X
User 2 talks to Bot on Conversation Y
When a message comes in from User 1 on Conversation X, bot should send a new message with User2 Conversation Y
When a message comes in from User 2 on Conversation Y, bot should send a new message with User1 Conversation X

This should work, we've had people do this before

[2016-06-24 01:42] #535 closed

[2016-06-24 01:42] #525 closed

[2016-06-24 02:26] chrimc62 commented on #499
@Stevenic is the best person to cooridinate with on node.js examples.  I know he has done a bunch of examples, but not sure where he is on documenting them and I'm sure he would appreciate the help.  The node code is documented using typedoc.

[2016-06-24 03:53] ashakota commented on #367
@ejsmith
Will you be able to share the IntentDialog for api.ai?

[2016-06-24 03:54] vaditya04 commented on #536
I'm using C#

[2016-06-24 03:56] vaditya04 commented on #535
@tomlm Thanks for the response, reason why I'm asking for this is because of Issue #536)

User 1 talks to bot which messages User 2 on conversation Y, what happens is User 2 doesn't see anything. But when User 2 talks to the bot, both the User 1 message and the bot's response appear on screen for User 2

(This is happening on Web chat)

[2016-06-24 03:57] vaditya04 commented on #536
Another attempt at explaining:

User 1 talks to bot which messages User 2 on conversation Y, what happens is User 2 doesn't see anything. But when User 2 talks to the bot, both the User 1 message and the bot's response appear on screen for User 2 as a response

[2016-06-24 03:58] vaditya04 commented on #535
@tomlm Also, are there any code samples I can look at, if people have done this before?

[2016-06-24 05:15] wtam commented on #525
Thanks Tom but I still got the same error after I deauthorize the facebook channel and redo it.  Somehow it seems something has been cashed no matter I deauthorize or check/uncheck "Enable this bot on Facebook Messenger"

[2016-06-24 05:34] srijiths opened #539 "[NodeJs] Emulator/Web Chat Client is not able to connect to HTTPS"
I registered a new bot with HTTPS end point. Created a self signed certificate and key for my node restify server. Then i instantiate the HTTPS node server. But when i am trying to connect with Emulator and Web Chat Client its not able to connect to my Bot. Its throwing exceptions
![01](https://cloud.githubusercontent.com/assets/1046319/16328787/27829da0-39fb-11e6-891c-4de5e7fab858.png)
![02](http

[2016-06-24 05:57] Botship commented on #527
I tried the suggestions specify action, but get the same error. Is there a documentation/example to demonstrate what I am trying?

How can I retry for say 3 times to prompt user to enter right email address? Changed this to while but get the same exception.

[code]

[2016-06-24 06:56] DavePilks commented on #513
It write to a text file. What I posted in the original comment is what is written in the logs.

What I find odd is this.

the `GetDataFromApiAsync` simply returns a static string at this point. If I use the emulator that is running on the server, the call works perfectly. If I try via the WebChat client. I get that error as it  has to go through the DirectLine api.

If I remove that `async` call a

[2016-06-24 07:23] DavePilks commented on #530
@brene I will append a suggestion then :

Either notify users that they change has occurred or allow them to have both HTTP and HTTPS endpoints.

[2016-06-24 09:28] rlilov commented on #518
my terms were translated sometimes adding space after question mark i.e. "term ?"
1.2.3 was tolerant on this, 1.2.4 obviously not
I removed the spaces and all works.
thanks a lot for your assistance, my problem is solved.

[2016-06-24 09:28] #518 closed

[2016-06-24 09:52] loretoparisi opened #540 "Detect ongoing Conversation Channel"
I'm trying to keep my bot as possible as general purpose. I'm not going to use `BotKit` for `Slack` etc. I prefer to go with `BotBuilder.BotConnectorBot` and `bot.listen`.
Said, that, when connected on multiple channels like `Skype` and `Slack`, how to detect which channel the ongoing conversation belongs to?

[2016-06-24 10:36] Johndgnzj opened #541 "How to set a default value for FormFlow"
Hi
I would like to use FormFlow to obtain information, but before that I will be the first to LUIS analyze whether the sentence has been part of Form data, this way, you do not need much of a question and answer format.

If i base on "SimpleSandwichBot", i have to collect Sandwich, Length, Bread, Cheese, Toppings…
i want to build  a bot can do such thing like

Me: Hi
Bot: Hi, how can i serve you?

[2016-06-24 13:00] SageEx opened #542 "Bubbles (Horizontal Scroll) in FaceBook Messenger"
How to show the attachments as a horizontal bubble list in Messenger ? Right now if a message has multiple attachments (each attachment having multiple buttons), they are shown vertically. I would like to present this horizontally.
Any ideas how to do this ?

Here is how it looks now,
![capture_my](https://cloud.githubusercontent.com/assets/7141867/16338350/b8e7334e-3a39-11e6-8867-38d50f1a154d.PNG

[2016-06-24 13:12] SageEx commented on #542
Ah, it turned out that you need images for automatic horizontal bubbles. Sorry for this.

[2016-06-24 13:12] #542 closed

[2016-06-24 13:44] brendanarnold commented on #311
I get the same error.

If I do step B (start conversation) followed by D (read messages) it works

If however I do B (start conversation) followed by C (post message) then D (read messages) it does not work.

I did some experiments and found that 'Ocp-Apim-Subscription-Key' is not necessary in POST and that a more fully formed body was causing the problems i.e. this worked ...

[code]
 but this di

[2016-06-24 13:55] vaditya04 commented on #484
@tomlm Hi - any insights on this?

[2016-06-24 16:12] tomlm commented on #540
there is a property on every message called channelId which will have "skype" or "slack" in it.

[2016-06-24 16:12] #540 closed

[2016-06-24 16:37] nate-garvey opened #543 "DialogState is not being cleared allowing me to move on to a new Dialog"
I implemented a similar version of authentication that the sample facebook solution uses.  After the user logs in, I want to then switch to a LuisDialog.  However, the app gets stuck on the authentication dialog and never presents the LuisDialog.

			if (message.Type == "Message")
			{
				string authToken = message.GetBotPerUserInConversationData<string>(SignInDialog.AuthTokenKey);
				if (String

[2016-06-24 18:16] tomlm commented on #526
OK, you got your wires crossed here.

The emulator has an internal server which listens on whatever port is in the UI.  The default is 9000.
Your bot runs in the local debugger under whatever port it is configured with (4000?)

In the emulator UI you put your bot's url, so it would be http://localhost:4000/api/messages

You can then use the emulator with your local running bot without involving ng

[2016-06-24 18:16] #526 closed

[2016-06-24 18:36] willportnoy commented on #541
There is a sample where a LUIS dialog calls into FormFlow - is this what you need?

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Samples/PizzaBot/PizzaOrderDialog.cs#L36

[2016-06-24 18:41] willportnoy commented on #539
It may be easiest to get a signed certificate that can be validated - otherwise the web chat and emulator code would have to be changed to allow connections where the https stack could not validate it; for example, that there wasn't a "man in the middle" attack.

[2016-06-24 18:41] tomlm commented on #469
I still can't repro this, you will need to provide more information.  What does your button definition look like?

[2016-06-24 18:42] tomlm commented on #126
I've just updated the console app, I think it should be more robust

[2016-06-24 18:44] #126 closed

[2016-06-24 18:45] tomlm commented on #11
I just updated the console app, it properly handles conflicts and prompting you for new ports.

[2016-06-24 18:50] willportnoy commented on #513
@dandriscoll do you have any insights into the AccessDenied error?

[2016-06-24 18:53] willportnoy commented on #527
You can't call PromptDialog.Text in a while loop like that, because you need to wait for user input, and the bot code won't be running while you wait for user input.  Can you model your retries based on this code?

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/PromptDialog.cs#L581

In this method, you can see that if the parsing is successful, it returns a result with

[2016-06-24 18:55] willportnoy commented on #476
I would report both issues in the LUIS forum

https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=LUIS

and perhaps leave a link here to your LUIS forum post to help future people who may run into the same issue.

[2016-06-24 18:57] chrimc62 commented on #536
What version of the SDK are you running?

[2016-06-24 19:15] Stormridge commented on #311
Hi Dan, Can you share your sample code and sequence that makes this work correctly?

My Step D (GET'ing messages) still does not work and throws a 500 error.

[2016-06-24 19:34] irynabond opened #544 "Url preview in skype doesn't work"
Hello,
I have built the bot and connected it to skype.  That bot will respond with sending some images (urls)  to the user. (it's the most important functionality of my bot). I want these urls to be displayed for user as images, but now url is displayed as text.
To send pictures I used the following syntax:
`        await context.PostAsync("![picture](" + imageUrl + ")");             `
In my case:

[2016-06-24 20:03] tomlm commented on #544
Skype doesn’t the ability to have images inline in text, and so when we render the markdown the image is rendered as a link.  To send an image via skype you need to use add an Attachment with ContentType,ContentUrl properties

[2016-06-24 20:03] #544 closed

[2016-06-24 20:10] prakashin77 opened #545 "I am not getting response in Skype, where as i can get it in Web chat"
I have deployed the sample solution provided. Then i have configured Skype, web chat. However after deploying i am able to receive responses from web chat but not from skype. Please Help.
TIA

[2016-06-24 22:43] tomlm commented on #291
that's exactly the api we hit to populate the from.name property in the message when it passes through our system.
We pass
   from.Id = {facebookId}
   from.Name = {facebook.first_name} {facebook.last_name}

[2016-06-24 22:43] #291 closed

[2016-06-24 23:41] konnichimade commented on #464
If anybody happens to come across this page looking for mysterious TLS issues, I've been informed that [Bot Framework doesn't appear to support TLS1.2, only 1.0](http://stackoverflow.com/a/38022581/1110820). I note 1.2 in your Wireshark screenshots. Is your alternate CA only using 1.0?

[2016-06-24 23:51] irynabond commented on #544
Thank you, it works!

[2016-06-25 00:55] Nixon1979 commented on #11
Great... Should i download from  (http://docs.botframework.com/connector/tools/bot-framework-emulator/#navtitle)?? it does not seem to be updated.

[2016-06-25 01:57] irynabond opened #546 "Message dublicate in Facebook messenger"
I have built the bot, connected it to Skype and Facebook Messenger. The bot works great for Skype.
I have the issue : bot responds twice in Messenger when sends an attachment. Ultimately the user gets two identical attachments(images in my case) at the same time: [example](https://s32.postimg.org/uun083a51/att.png)

Here is the code responsible for sending an attachment:
[code]

When I remove an a

[2016-06-25 02:18] irynabond commented on #546
So, now everything works, because I changed my code a little bit:

[code]
Instead of creating one attachment I created a list of attachments which holds one attachment.
But I still can't understand why my previous code didn't work for Messenger

[2016-06-25 07:35] nmzaheer commented on #497
Another way of accomplishing this would be to just add the customer rep to the Skype conversation with the user's permission.

Personally, i prefer this over your way bcoz the bot doesn't pretend to handle something it wasn't built for. Also, what would happen if all your backend customer reps are busy? How would you ask the user to wait?

[2016-06-25 08:59] vaditya04 commented on #497
@nmzaheer That would have been my solution if my user was also on Skype. **However, my user is constrained to use the Web Chat bot connector.** So I can't add them both to the same conversation. The bot has to act as an intermediary in this scenario.

[2016-06-25 09:02] vaditya04 commented on #536
Bot Builder is v1.2.2
Bot connector is v1.1.0

[2016-06-25 09:31] vaditya04 commented on #536
@chrimc62 Updated to v1.2.4, same error.

**Is there any other parameter aside from ChannelAccount and conversationId that needs to be set in the message object?**

[2016-06-25 12:20] OleksandrBezhan opened #547 "[Question] How to make user2user chat and ignore their utterances in LUIS learning"
I want to join 2 users in a chat in facebook messenger. Basically two users ask my bot to start a chat with a stranger and the bot "links" them, so that when the first user writes something, the bot sends this message to the second user.

Technically what I do is once the user expressed intent to join a chat, I do something like `beginDialog("/chat/conversation")` and all the messages go there unt

[2016-06-25 12:38] OleksandrBezhan opened #548 "LUIS entity contains punctuation in its name"
So I have an entity called `Hero` and it may have value "D.Va". The problem is that LUIS recognizes it as two different entities: "d" and ". va". I tried to help him by creating Phrase List Feature called `Heroes` and putting "D.VA" there as one of values, but no luck.

How can I make LUIS recognize it as a single entity ?

[2016-06-25 14:29] chuckgiddens commented on #25
dillongoeda...you are correct.  That is the ONLY way to fix this issue.  which sucks because anytime you get into an unknown state you are dead in the water.  Has anyone found a way to handle this without having to republish 3 times?

[2016-06-25 18:04] theonewolf commented on #464
TLS 1.2 is a server configuration setting, not a certificate setting.

Our web server is configured to **only** speak TLS 1.2.

With a different certificate this works perfectly.

The issue was completely solved by us when we switched to a certificate from StartSSL.

All callbacks are going through correctly, with TLS 1.2.

[2016-06-25 18:57] vaditya04 commented on #536
@chrimc62 I've narrowed the issue down to the fact that the message sent to that conversationId is printed _whenever the next context.Wait is called on the corresponding bot, and not before that _

[2016-06-25 18:59] cmchenry opened #549 "Is there a way to set the LuisModel modelId and subscriptionKey outside of the class attribute."
I'm wanting to check a sample I built into Github, but I don't want to checkin the modelId and subscriptionKey.  Is there a way to set the LuisModel attributes in code (so I can do it through appsettings?

[2016-06-25 19:04] vaditya04 commented on #536
@chrimc62 Context.Wait suspends the bot, perhaps that is why it's not able to send the message to webchat?

[2016-06-25 20:39] designdit opened #550 "Error Registering a Bot: Error converting value {null} to type 'System.Int32'..."
Hello,

I'm trying to register a bot and have filled in all of the required fields as per https://dev.botframework.com/bots/new. I was able to successfully register two bots several weeks ago, but as of yesterday encounter this error:

Error converting value {null} to type 'System.Int32'. Path 'value[0].subscriptionsLimit', line 1, position 203.

Prior to this (about a week ago), I had registered

[2016-06-25 21:35] dandriscoll commented on #550
Yes, we're working on this now.

[2016-06-25 21:40] dandriscoll commented on #550
Bot creation is reenabled. We've been looking in to the missing bot problem but haven't pinned it down yet.

[2016-06-25 22:57] Orbyt opened #551 "Stability of BotBuilder?"
Hi all, BotBuilder looks intruiging, how stable is the platform? It's quite new and as such there aren't too many resources on it yet.

Are there any well known bots built on it? (Other than the showcase ones)

[2016-06-26 00:11] designdit commented on #550
Thank you - was able to create the bot and was able to use the original bot ID I wanted (did not receive a message that the ID was unavailable).  The new bot appears under "My bots" now.  I'm closing this issue.  Thanks

[2016-06-26 00:11] #550 closed

[2016-06-26 02:25] wtam commented on #525
May I know anyone has the sema issue and waht is the work around?  I dont want to re-register my bot as I've skybot setup etc.  Appreciate if someone can help me out?

[2016-06-26 10:36] vvatanabe opened #552 "Wrong property name."
Property name of the Session class is different in botbuilder.d.ts
Look at the following:

current => Session#ISessionState
correct => Session#sessionState

https://github.com/vvatanabe/BotBuilder/blob/master/Node/src/botbuilder.d.ts#L746

[2016-06-26 12:02] GrischaJJ opened #553 "Build2016 Bot"
Hi,

would it be possible to share the bot you deployed for Build2016?
https://bots.botframework.com/bot?id=BuildBot

king regrads

[2016-06-26 14:50] eduardoboca opened #554 "Send location"
Is it possible to send a location on the conversation? How?

I've seen on the documentation that "If contentType = Location then 'content' could be an object that represents the location". What's the structure of this object?

[2016-06-26 23:52] dandriscoll commented on #311
I found an inconsistency in the configuration within the Bot Connector service that may have been causing this. I've fixed up all of the records.

Here's some sample TypeScript I use to POST a message to a conversation:

[code]

[2016-06-26 23:57] dandriscoll commented on #484
You should use the Direct Line API. Web Chat and Direct Line share a service and are currently able to cross conversations, but the conversation-crossing ability will go away soon and the protocols may diverge eventually (although no current plans to do that -- just no guarantees they'll stay the same).

If you use the Direct Line side, you keep complete control over your conversations, and you ca

[2016-06-26 23:57] #484 closed

[2016-06-27 00:00] dandriscoll commented on #487
Direct Line is currently simplifying some of these fields, and it recreates the attachment on its own service as they may not pass through from the bot. We're going to add more fidelity to a future version of the API, but I hadn't thought about changing the hosting URLs for attachments. Is it a problem that we copy the attachment to our own service before making it available through the API?

[2016-06-27 02:33] vmthanh commented on #526
@tomlm
Hi. Sr for disturbing you again.
After your reply. I shut down ngrok and then run as follow
![capture](https://cloud.githubusercontent.com/assets/8940457/16367080/06d76f26-3c4a-11e6-97f8-22195baf94c1.PNG)
and then
![capture2](https://cloud.githubusercontent.com/assets/8940457/16367084/0f093cb0-3c4a-11e6-9447-16a07bb1cc65.PNG)
I got this error, Can you figure out which step I'm wrong again?

[2016-06-27 05:02] dipumon opened #555 "error: invalid need: expected Call, have Wait"
I am getting the above mentioned error, when I am trying to build a simple conversational bot.
The following is the code which I trying to implement.

[code]

The messages in loop if(x==0) and if(y==0) are not executed and only thing I am getting is the above mentioned error.

[2016-06-27 05:53] srijiths commented on #539
@willportnoy I understand about the security loop hole which i am talking about. But why i raised this issue is because , a C# bot published to Azure is still able to access using HTTP. Its not demanding for HTTPs. What about i am deploying my bot not in Azure and creating a HTTPS server with certificate and key ? Can you please clarify and give me some pointers on this.

[2016-06-27 06:06] ronnelsantiago commented on #553
was looking for the same, all i can found are these.. https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Samples. anyone...???

[2016-06-27 06:21] thewhitetulip opened #556 "Guide to Publish Bot with Node on Azure?"
On the page: http://docs.botframework.com/connector/getstarted/#publishing-your-bot-application-to-microsoft-azure

I can find the doc to publish bot using c#, I don't think there is a doc detailing how to publish app in Node.

[2016-06-27 06:33] srijiths commented on #539
@willportnoy Yes , i understand the security look hole which am talking about. Please clarify below points

1. Is a self-signed certificate not acceptable ?
2. A HTTPS registered Bot published on Azure is operating on HTTP ? with out any certificate issues ?

Thanks

[2016-06-27 06:37] DavePilks commented on #513
@willportnoy @dandriscoll Any ideas on this, it is really hampering me as I cannot do anything more until I am able to resolve this situation.

[2016-06-27 07:00] ankitbko opened #557 "[C#] Exception when validation fails in form."
Repo: https://github.com/ankitbko/Bot-Issue-557

Input: Text Paul

In case validation fails when building a form, there is an Unauthorized followed by Access Denied exception is thrown. This happens when integrating with Skype but works fine in emulator. I haven't checked it with other channels. This issue started with 1.2.4 release.
[code]

[code]

This might or might not be related to #513

[2016-06-27 07:44] thewhitetulip opened #558 "Open source botframework emulator"
The emulator is Windows only, Can we open source it so that the community can port it to Linux or Mac

[2016-06-27 09:15] DavePilks commented on #558
I have asked for this as well. If I recall, they said that they would take it under consideration.

[2016-06-27 09:49] thewhitetulip commented on #558
@DavePilks To be honest, they can just lay out the internals, we can build one for ourselves, in case they are busy.

I tried using Postman, but I wasn't able to debug my bot.

[2016-06-27 10:21] loretoparisi commented on #540
@tomlm could you please point me to the relative docs?
Thank you.

[2016-06-27 10:22] DavePilks commented on #551
For the most part I have found it pretty stable if your bot is simple enough. I have some serious issues when I try to make async calls inside the bot though.

[2016-06-27 13:58] alex182 commented on #548
Just highlight all of "d .va" with your cursor and then you should be able to choose the entity you want to label it as.  I was having issues with this earlier as well.

[2016-06-27 14:01] JacopoDaeli commented on #532
Same guys. After a bit of research I realised that `this.delayedEmit('quit');` is called in `Session.prototype.endDialog`. Anyone fixed this already?

[2016-06-27 14:18] JacopoDaeli commented on #532
To be more precise:

[Session.prototype.endDialog]
[code]

[2016-06-27 15:22] tomlm commented on #540
http://docs.botframework.com/connector/channelaccounts/#navtitle

[2016-06-27 15:26] ejadib opened #560 "Question: Is there a way to specify UserData/ConversationData/PerUserInConversationData through DirectLine?"
I'm trying to write some functional tests against a Bot that store some information in UserData/ConversationData data bags and I'm not being able to find a way to set values for those directly through DirectLine. Is that even possible?

Thanks,
Ez.

[2016-06-27 15:39] tomlm commented on #526
Change the UI Port to 9000.  You have configured the UI to use the same port as your node service.
should be
Port: 9000
Url: http://localhost:4000/api/messages

[2016-06-27 15:59] craigjensen commented on #534
The "Add To Slack" button authorizes a bot on a Slack team but does not actually add the bot to any Slack channels.  You still have to use the "/invite @botname" command to add the bot to a channel at which time your bot should receive the BotAddedToConversation event.

[2016-06-27 16:59] wbreza commented on #522
@willportnoy How do I programatically set the credentials that the IConnectorClient uses?  My bot endpoint needs to support multiple bots.

[2016-06-27 17:48] Stormridge commented on #311
Thanks Dan.

The problem still is, everything works great until we need to GET messages, which results in HTTP 500.  When we post a message to a conversation, the server is happy and returns 204.

But a simple GET of that conversation's messages always returns error 500.

base_url is like https://directline.botframework.com/api/conversations/AGP1qcmHnAZ/messages

    request({
        method: 'GET

[2016-06-27 18:09] XelaMon commented on #487
No, I realized later that I needed to prepend the 'directline.botframework.com' host to the beginning of the attachment ID that was given by the API

[2016-06-27 18:19] dimak72 opened #561 "error in sample project SimpleAlarmDialog"
the object's constructor calls into the base thus creating a null object of ILuisService type.

[code]

which in turn fails in QueryAsync of LuisService.cs

[2016-06-27 19:22] AmineIzumi commented on #556
I personnaly used a private git repo and enabled continuous deployment from this repository on an azure website. Azure then automatically install modules and dependencies if it founds a "package.json" file. Need a detailed explanation ?

[2016-06-27 19:48] willportnoy commented on #522
@wbreza You could follow the example of "DetectEmulatorFactory", where it both sets the IConnectorClient credentials and uses the Message in a data-dependent fashion (i.e. you could switch your credentials based on which bot the message was sent to):

https://github.com/Microsoft/BotBuilder/blob/develop/CSharp/Library/Dialogs/IConnectorClientFactory.cs#L57

[2016-06-27 19:52] willportnoy commented on #536
@vaditya04 I think the phenomenon you're seeing is explained by this code:

https://github.com/Microsoft/BotBuilder/blob/develop/CSharp/Library/Dialogs/BotToUser.cs#L81

we save one message to return inline with the incoming http request to the bot.  If you want to send messages immediately, I would use this other implementation:

https://github.com/Microsoft/BotBuilder/blob/develop/CSharp/Library

[2016-06-27 19:58] willportnoy commented on #513
Can you attach a debugger to your bot?  It seems so much more likely that an exception is coming from PostMessage than your GetDataFromApiAsync or the await of that returned task.

[2016-06-27 20:01] willportnoy commented on #551
@DavePilks I understand this is in reference to https://github.com/Microsoft/BotBuilder/issues/513 - but in generic, async methods are just fine.  In fact, all of the dialog methods fit the pattern of an async (task-returning) method:

Task MethodName(IDialogContext context, IAwaitable<T> item)

[2016-06-27 20:03] willportnoy commented on #547
I wonder if you could use replaceDialog to change your root dialog from a LUIS dialog to a conversation dialog - @Stevenic is that correct?

[2016-06-27 20:03] willportnoy commented on #556
@danmarshall did you have a sample for publishing node to azure?

[2016-06-27 20:07] willportnoy commented on #555
I believe that error would occur only if context.Wait was called twice within the same method without actually returning from the method to allow the user to send a message.

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Fibers/Fiber.cs#L101

[2016-06-27 20:07] msft-shahins commented on #546
Your previous code wasn't working properly because you weren't creating the reply message correctly; call to: 'context.MakeMessage()'. Your first code snippet is trying to add the attachment to the incoming message and send the modified incoming message back to the user and the second snippet generates the empty reply message and populate it with the expected attachment.

[2016-06-27 20:07] #546 closed

[2016-06-27 20:09] willportnoy commented on #549
The LuisDialog constructor

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/LuisDialog.cs#L130

takes ILuisService implementations

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Luis/LuisService.cs#L78

which you can construct with a "new LuisModelAttribute()"

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Luis/LuisModel.cs#L48

[2016-06-27 20:11] msft-shahins commented on #561
Similar to issue #509. Commit [7df89b](https://github.com/Microsoft/BotBuilder/commit/7df89b947ec8a59757cbee4c7526660e2ddad3d0) should have the fix.

[2016-06-27 20:11] #561 closed

[2016-06-27 20:12] willportnoy commented on #561
right, here was the pull request: https://github.com/Microsoft/BotBuilder/pull/512

[2016-06-27 20:13] msft-shahins commented on #556
[here](http://docs.botframework.com/builder/node/guides/deploying-to-azure/) is the guid for deploying to azure.

[2016-06-27 20:13] #556 closed

[2016-06-27 20:14] willportnoy commented on #548
If you want to access the LUIS experts, you may also want to post on the LUIS forum: https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=LUIS

[2016-06-27 20:15] msft-shahins commented on #545
@prakashin77 do you still have the issue? Can you provide your bot id?

[2016-06-27 20:18] willportnoy commented on #539
1. For https, we use the default ServicePointManager.ServerCertificateValidationCallback from the framework which checks the certificate.
2. There is no certificate involved in the http protocol.  I don't know all of the details of the extent of our intended support for http.

[2016-06-27 20:19] willportnoy commented on #476
I'm going to close this issue for now - feel free to open a new issue as needed.

[2016-06-27 20:20] msft-shahins commented on #528
Currently we don't have support for user linking across different channels. user data for a specific user id should be available across different conversations for a fixed channel.

[2016-06-27 20:20] #528 closed

[2016-06-27 20:20] willportnoy commented on #522
I'm going to close this issue for now - @wbreza or @epitone feel free to open a new issue as needed.

[2016-06-27 20:31] prakashin77 commented on #545
Hi Shahin,

Thanks for replying.
My BOT ID: ctsssamplebot

[2016-06-27 20:56] irynabond commented on #546
Ok, it's clear for me, thank you!

[2016-06-27 21:32] wbreza commented on #522
@willportnoy  - One more question related to this:

The project I'm working with uses Unity for DI.  Bot framework uses Autofac.  If I create my own implementation of IConnectorClient how do I get access to the bot framework DI container to register my type registration?

[2016-06-27 21:36] willportnoy commented on #522
The top-level Conversation.SendAsync API is a thin wrapper around our container:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/Conversation.cs#L76

You can use the global one we have here:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/Conversation.cs#L49

Or you may prefer to build and customize your own, like we do for our unit tests:

h

[2016-06-27 21:36] #522 closed

[2016-06-27 21:51] #541 closed

[2016-06-27 21:58] craigjensen commented on #545
What did you set for the Application Id and Messaging webhook when you created your Skype bot at https://developer.microsoft.com/en-us/skype/bots ?

[2016-06-27 22:08] chrimc62 commented on #557
I suspect that this might be related to sending multiple messages.  I've added @tomlm to comment.

[2016-06-27 22:51] tomlm commented on #557
if you are getting unauthorized it is because you don't have your credentials set up correctly.

[2016-06-28 00:20] willportnoy commented on #558
http://docs.botframework.com/connector/tools/bot-framework-emulator/#mac-and-linux-support-using-command-line-emulator is an option for Linux/Mac.

[2016-06-28 00:43] prakashin77 commented on #545
Please find the attached image
![image](https://cloud.githubusercontent.com/assets/11087990/16400259/92aa641a-3c8e-11e6-907b-6bc6f6880ed4.png)

[2016-06-28 01:08] craigjensen commented on #545
Looks like your webhook callback is not correct.  Make sure it matches the value from the Skype channel developer configuration page https://skype.botframework.com/Dev/?botId=ctsssamplebot

[2016-06-28 01:27] prakashin77 commented on #545
Hi craigjensen,
I just updated the call back messaging Url and its working now. Thanks for the pointer.
Can you please point me for a sample code that reads the value from user and responds to it (a two way communication) and also the way for connecting with LUIS

[2016-06-28 01:41] Johndgnzj commented on #541
sorry
i take many time to study this code, but i don't really know how it works.
in my understanding to this "ProcessPizzaForm"
it received LUIS object, than get the entities what it need and use it to create a PizzaForm,return a PizzaOrder with it, Am i right?

it would be helpful if there have more comment of this sample code.

[2016-06-28 01:41] msft-shahins commented on #545
@prakashin77 you can look at the [EchoBot](https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Samples/EchoBot) for a simple bot that echos back what the user say, and [SimpleAlarmBot](https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Samples/SimpleAlarmBot) on how to use Luis. For node.js equivalent, you can look at [basics-firstRun](https://github.com/Microsoft/BotBuilder/blob/ma

[2016-06-28 01:41] #545 closed

[2016-06-28 01:45] prakashin77 opened #562 "Two way conversation Bot that interacts with LUIS and replies to requestor"
Hi Everyone,

I am looking for a sample code which interacts with LUIS and replies back to requestor based upon the query we passed.
Example: If i type SharePoint access, the given keyword should interact with LUIS and then provide the necessary step to requestor from LUIS.

Thanks in Advance

[2016-06-28 02:34] vmthanh commented on #526
@tomlm
Hi. Still get the same error and do not know why.
![capture](https://cloud.githubusercontent.com/assets/8940457/16402030/70bca4fa-3d13-11e6-82a3-79e8e8fd6168.PNG)

[2016-06-28 02:42] tomlm commented on #526
that is what your bot is returning.  The emulator is working correctly, you will have to figure out why your bot is returning that error.

[2016-06-28 02:49] ankitbko commented on #557
@chrimc62 Seems correct. The issue is it sends down the Validation Feedback and post that it should ask for the field again which it is not doing.
@tomlm Which credentials are not setup? The issue seems to arise only when validation fails.

In general, is there a way to open a github issue once it is closed?

[2016-06-28 04:00] thewhitetulip commented on #556
@msft-shahins Can we add this link to the link I added in the description?

[2016-06-28 04:03] thewhitetulip commented on #558
@willportnoy Yes, I know there is an option for Linux/Mac, but that's a command line editor, can we also have a UI based emulator like we have for Windows?

If you guys are busy on the botbuilder we can build a cross platform emulator.

[2016-06-28 06:13] abhishekkant opened #563 "Choice Prompt not working on Telegram"
Hi

I have a Node.js application using Choice Prompt. In the Bot Emulator the choice prompt works seamlessly but when connected to Telegram, the choice prompt doesn't show any message. however, the prompt still seems to be active as it expects an input.

Can you suggest what could be wrong?

[2016-06-28 06:43] NanashiGIT opened #564 "How to Chain multiple Dialogs?"
Im working on a bot with the C# Bot Builder.

Now, I know that there are quite a few example of how to deal with chaining dialogs. Like the FacebookAuthDialog or the ChainedEchoDialog.

What i want to do: A user has to go through an Authorization Dialog and when thats done, i want to immediately put the user into the "UserDialog" where he can use all the functions which needed his authentication.

[2016-06-28 07:22] giriganapathy commented on #410
Hello Dan Driscoll,

This is a general question about Promoting our Bot to Production environment. Please find my questions below:
Deploying Bot in PROD Environment:
1. Is your bot framework released officially?,
If so:
a. What as an organization, to do when we want to promote the Bot to PROD environment?
b. What kind of contract/license agreement to be made to Microsoft?
c. What are all the effor

[2016-06-28 08:38] wbreza commented on #400
@msft-shahins

I was having this same issue in 1.2.4.  When bot is replying with multiple messages a null reference exception is being thrown in `Bots.SetConversationDataWithHttpMessagesAsync`.  This only happens when switching dialogs.  I tried many workarounds, verified all connector client configuration is valid but still having the same issue.  I had to roll back to 1.2.2.

Any ideas?

[2016-06-28 09:23] sdharshraj commented on #457
Simply restart or close your IIS express from the right bottom corner. This will close the running application and then you can run your bot.

[2016-06-28 10:30] kienct89 commented on #377
I'm also having the same issue with C# SDK 1.1.0.0

Input in slack: `a@a.com`
What I received in the SDK: `<http://a%40a.com|a%40a.com>`

[2016-06-28 12:00] yauhenininjia commented on #500
@tomlm So when will be this release?

[2016-06-28 12:01] tahazayed opened #565 "SKype for business as channel"
I want to support Skype for business as a channel, can I use this DLL Microsoft.Bot.Connector.Emulator.Core.dll (included in Bot Framework Emulator)?

[2016-06-28 12:55] berhir commented on #534
There seems to be a problem with the slack implementation. Since at least five days we do not receive the BotAddedToConversation event when we add our bot to a new channel.

[2016-06-28 14:45] jameslew commented on #553
The BuildBot sample as it stands was put together specifically for Build and before we had a number of our design patterns in place.  We're looking at putting out a similar sample, but don't have anything ready quite yet.

[2016-06-28 14:45] #553 closed

[2016-06-28 14:46] jameslew commented on #565
Skype for Business isn't yet added as a channel to the Bot Framework, though it's high on our priority list.

I'm not sure how you'd use the emulator core for that, but you've peaked my curiosity :).

[2016-06-28 15:48] willportnoy commented on #541
Yes, that's the correct.  Feel free to open a new issue with specific questions about the sample.  You might consider running the sample locally with bot emulator to explore how it works.

[2016-06-28 15:50] willportnoy commented on #558
@tomlm what do you think?

[2016-06-28 15:52] willportnoy commented on #400
@wbreza @evnik I would open new issues for your questions - feel free to reference this issue, of course.  When the issue is closed, it doesn't appear in the default issues list, so we don't always notice it.

@wbreza can you include the call stack for your issue?

[2016-06-28 15:58] willportnoy commented on #564
I'm not quite sure you're using the ContinueWith extension method correctly - generally, you chain it to an existing dialog like this

https://github.com/Microsoft/BotBuilder/blob/f2808cd6c752e9f48594a58b0566bd6e4080127b/CSharp/Samples/EchoBot/EchoChainDialog.cs#L23

with manually instantiating a dialog to pass to the ContinueWith method.

there are two chain samples here that might be helpful:

h

[2016-06-28 16:04] wbreza opened #566 "SetConversationDataWithHttpMessagesAsync - Object reference not set to an instance of an object"
@willportnoy  Related to #400, Call stack below.

   at Microsoft.Bot.Connector.Bots+<SetConversationDataWithHttpMessagesAsync>d__8.MoveNext (Microsoft.Bot.Connector, Version=1.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35)
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess (mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089)
   at System.Runtim

[2016-06-28 16:23] NanashiGIT commented on #564
Thanks for your Reply. I dont have the code in front of me so i cant fiddle around with it right now.
Are you saying i should do something like this?

`return Chain.ContinueWith(new AuthenticationDialog(),
                        async (context, res) =>
                        {
                            var result = await res; // Res is of Type Message
                            return Chain.R

[2016-06-28 17:07] evnik commented on #400
@wbreza I don't think your issue is the same, because I had it in the 1.2.2 and it is gone in 1.2.3. Also, I didn't switch dialogs, but I had it reproduced with SimpleAlarmBot sample, which built around a single dialog.

[2016-06-28 17:37] tomlm commented on #469
OK, I have figured out what is going on here.  The emulator correctly implements buttons that have {"title": "xyz", "value":"qwe" }.  The C# Bot Builder SDK on the other hand generates buttons with just the "Title" property and no "Value", which causes the emulator to think there is no action to perform.  When I tried to repro I was using a test written below the bot builder SDK, and so I couldn't

[2016-06-28 17:42] evnik commented on #25
Try to send `/deleteprofile` command to avoid republish. Check #101 for details.

[2016-06-28 17:56] eanders-MS commented on #563
Hi @abhishekkant. Are you sending a text prompt with the choice? Telegram requires a non-empty text prompt to accompany choices.

The expectation of a reply is state maintained in the BotBuilder's dialog system, it isn't part of Telegram.

[2016-06-28 18:13] msft-shahins commented on #566
@wbreza can you include your repro steps? It would be good if you can clarify what you mean by switching dialogs in #400. Are you setting the conversation data in your dialogs?

[2016-06-28 18:28] wbreza commented on #566
I have my own implementation of a JSON form builder that I created before you guys supported it.  I dynamically build form/dialogs from JSON payloads.  I also have an external LUIS pipeline where I process user messages to determine intent.  Based on the matching intent I load my custom dialog + form.

1. Message received in Web API controller
2. Manually process LUIS intents
3. Invoke bot framewo

[2016-06-28 18:28] evnik commented on #557
@ankitbko According to [this](http://stackoverflow.com/a/21333938), you cannot re-open an issue if any repository collaborator closed it.

[2016-06-28 18:37] chrimc62 commented on #557
I reopened it,

[2016-06-28 18:43] msft-shahins commented on #469
We just pushed a new version of emulator 1.0.0.72 that should have a fix for this issue.

[2016-06-28 18:46] willportnoy commented on #564
I don't completely understand your dialogs, but this is an example of ContinueWith:

new AuthenticationDialog()
.ContinueWith(async (context, authResult) => new UserDialog(await authResult))

If you want to call a series of dialogs, you can use the linq query syntax as well:

https://github.com/Microsoft/BotBuilder/blob/develop/CSharp/Tests/Microsoft.Bot.Builder.Tests/ChainTests.cs#L294

[2016-06-28 18:48] willportnoy commented on #562
The Pizza sample uses the LUIS service as a top-level dialog and then dispatches to a FormFlow dialog when appropriate

https://github.com/Microsoft/BotBuilder/blob/develop/CSharp/Samples/PizzaBot/PizzaOrderDialog.cs

Is that what you're looking for?  If you want to call the LUIS service at any point, you can instantiate our implementation of ILuisService and use it at any point as well.  We provi

[2016-06-28 18:49] JonathanHuss commented on #469
Yep, the update seems to work as expected for me.  Nice work!  Thank you!

[2016-06-28 18:50] willportnoy commented on #435
I've been unable to reproduce this issue - if it continues to be a problem, feel free to open a new issue and reference this one.

[2016-06-28 18:50] #435 closed

[2016-06-28 18:50] #476 closed

[2016-06-28 18:52] #469 closed

[2016-06-28 19:32] NanashiGIT commented on #564
Basically i want the user to be in an authentication dialog, where the do some stuff. Once thats done, i want to pass kind of a dummy message to the "Main" Dialog, the user dialog where he can interact with a system using LUIS. I wanna pass a dummy message, because for some reason the user would have to send a message to initiate the "UserDialog" and nothing happens. Only the next message is forwa

[2016-06-28 20:27] willportnoy commented on #513
@DavePilks just to be clear, how do you set your bot credentials?  (Ignoring for a moment that the exception seems to be coming from the await statement)

When more than one message is sent, we save the last message to return inline with the incoming http request from the connector.  All of the messages other than the last message are sent directly to the connector through the IConnectorClient.

S

[2016-06-28 20:47] ronnelsantiago commented on #565
do you have any timeline on this one? is this currently being worked on? can you give us an indication here please.

[2016-06-28 21:23] willportnoy commented on #564
You shouldn't need to have the user send another message to transition to another dialog - you can simply context.Call that child dialog and let it do what it wants (for example, Posting a message to the user).

[2016-06-28 21:41] niyatia commented on #25
Hi there,

I am trying to create an echo bot and running into same issue while connecting it from slack. I am using same configuration as @chgc. However, I do not find message.BotPerUserInConversationData anywhere in my code that was created using the template and EchoBot example in the documentation. I am very new to this. Any guidance in where to reset this flag will be helpful.

Thanks

[2016-06-28 23:34] tomlm commented on #565
I can assure you that it is being worked on, but not timeline.

[2016-06-28 23:36] ronnelsantiago commented on #565
sounds good enough for me.. thanks.

[2016-06-28 23:42] amoldeshpande opened #567 ".Field conflicts with initial state"
If I have a dialog
`
class Foo
{
 public String SomeState;

public static IForm<Foo> BuildForm()
{
    return new FormBuilder<Foo>()
     .Message("fill out foo form, will ya")
     .Field(nameof(SomeState),
         validate:  etc., etc.
     )
}
}

I cannot then prevent the form from always prompting for this field, even if I pass in a constructed object to FormDialog. for example:

instanceOfFo

[2016-06-29 04:53] designdit opened #568 "Kik example with multiple session.send only sends first message"
Hello,

The node kik example:

https://github.com/Microsoft/BotBuilder/tree/master/Node/examples/demo-kik

no longer seems to work.  I tried it a few weeks ago and it worked fine, but now only the first message seems to be sent (or only the first is received?).

For example, for the initial message in the example, the greeting is received, but not the "Hi..." message and not the beginDialog /menu:

[2016-06-29 06:26] chrimc62 commented on #567
This seems to work fine in the current version.  What version are you running?

[2016-06-29 06:27] #565 closed

[2016-06-29 06:50] OmShrivastava opened #569 "How to skip field or ask to enter previous filed value in FormBuilder Dialog"
Hi

I am developing chat bot for user registration

First step I am asking to user "Please enter name and date of birth"

if user provide name and date of birth then I want to assign both to respective filed
In this case skip next step where Form Builder dialog will ask for date of birth.
else if user provide only name or only date of birth then Dialog should ask remaining item only

Once I get bo

[2016-06-29 06:51] ankitbko commented on #557
Oh, I am sorry for the confusion. The issue happens only if I use aspnet core(rtm) to run the project. The project still targets net46. The same thing works fine for classical project.
I have updated the repo to reflect both aspnetcore project and the classical project.
Please do replace the bot credentials accordingly.

[2016-06-29 07:24] SoftwareOnSailboats commented on #200
Same problem. Configured nuget package manager to check and download packages. The problem occurs when opening a new project from the Bot Application template.

[2016-06-29 09:19] tahazayed commented on #565
I built skype for bussiness client using lync sdk and I am using Microsoft.Bot.Connector.Emulator.Core.dll to send message to the bot connector<->conversation and it is working fine with me, I am asking about is it legal or not?

[2016-06-29 09:38] vaditya04 commented on #536
@willportnoy I'm sending my message through message.SendMessage method, not using PostAsync

[2016-06-29 09:50] vaditya04 commented on #484
@dandriscoll Is there a chat box interface that comes along with the Direct Line API? I would prefer not to write my own UI. The web chat was convenient because I could embed it, it was ready out of the  box.

[2016-06-29 09:54] vsotov opened #570 "How to ask for attachments while building dialogs using FormFlow?"
I need to create a simple bot, that accepts text and image or video from user and add additional field if image or video doesn't have location embedded.

The only problem I have is asking user for attachments in form builder. How to do it correctly?

[2016-06-29 10:04] sp2013hem commented on #327
@knk1988 Hi there, I am stuck with same problem, I would like to know, what was your approach on resolving this block?

[2016-06-29 11:16] vaditya04 opened #571 "Can I get access to the Web Chat token value from the Bot Framework instance?"
If we generate an embed, a token is generated for the iframe tag. (See http://docs.botframework.com/connector/embed-chat-control/)

Is there a way to access the token value from inside the bot framework code?

(alternatively, is there a way to compute the token from the conversation id - essentially any way I can get the token would suffice)

[2016-06-29 13:30] NanashiGIT commented on #564
So I've tried a couple of your suggestions but i can't get it to work:
Approach 1:
[code]
With that approach i get an Exception:
"exceptionMessage": "Value cannot be null.\r\nParameter name: wait",
  "exceptionType": "System.ArgumentNullException",
after i call Context.Dont<string>("Test"); (i use string for simplicity reasons now)

Do you have any idea what would be the cause of this? The code do

[2016-06-29 13:53] NanashiGIT commented on #564
Hello!
I finally got it to work:
[code]
That works.
If you see a huge mistake somewhere or you know a much better approach, please let me know.

But huge thanksf or your kind help!

[2016-06-29 14:31] amoldeshpande commented on #567
1.2.4.

[2016-06-29 16:38] willportnoy commented on #564
I'm happy to hear you got it working - I'm going to close this issue, but feel free to open a new one.

Here are some answers to your questions for future searchers:

approach 1: may have been caused by storing IDialogContext and using outside of the method call it's provided to
approach 2: IBotContext is a limited form of IDialogContext, because in ContinueWith methods you can't directly manipula

[2016-06-29 16:42] willportnoy commented on #536
Right, it looks like you're using the IConnectorClient to send the message, which will always send the message immediately.

However, the default implementation of IBotToUser will queue one message to allow returning a message inline with the initial http request.

You may also run into issues if the Message you send through the IConnectorClient wasn't initialized with code like this:

https://git

[2016-06-29 17:09] chrimc62 commented on #567
I do not see this behavior unless I pass in FormOptions.PromptFieldsWithValues.  If you are not doing that, I will need a more specific repro.
        [Serializable]
        class Foo
        {
            public String SomeState;

            public static IForm<Foo> BuildForm()
            {
                return new FormBuilder<Foo>()
                .Message("fill out foo form, will ya")

[2016-06-29 17:25] #474 closed

[2016-06-29 17:25] msft-shahins commented on #474
I took the pull request. I will make refinements to it and add appropriate test cases.

[2016-06-29 18:11] amoldeshpande commented on #567
ok I figured out what my issue was. I had a validate lambda that I did not realize was being run (because the result.Feedback is not sent unless the input is interactive apparently.)

Sorry about the false alarm.

[2016-06-29 18:11] #567 closed

[2016-06-29 18:41] ankitbko opened #572 "[Feature Request] Porting to .NET Core"
Since .NET Core is now in RTM, any plans of porting BotBuilder SDK to Core? I do not see any platform specific references in SDK that could prevent it from running cross platform. I believe the biggest change would be moving away from `System.Runtime.Serialization` and to json.net(?). Any thoughts?

[2016-06-29 20:22] konnichimade commented on #464
Well hmph. [HyperDev](https://hyperdev.com/) is using a certificate from DigiCert, the same CA that the Bot Framework's own website uses.

![image](https://cloud.githubusercontent.com/assets/11789788/16467475/1fc4c65e-3e0d-11e6-820c-95453eb2754f.png)

![image](https://cloud.githubusercontent.com/assets/11789788/16467499/3eafa2f0-3e0d-11e6-9c00-01dab961bbab.png)

But it's being rejected.

[2016-06-29 20:57] theonewolf commented on #464
No requests coming through?  Or just some sporadically?

[2016-06-29 21:13] willportnoy commented on #572
The lack of BinaryFormatter could create some challenges.  https://github.com/dotnet/corefx/issues/6564 has some discussions of the issues.  I think the biggest challenge may be finding some substitute for the StoreInstanceByType serialization surrogate:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Fibers/Serialization.cs#L89

that allows resolution of singleton instances fr

[2016-06-29 21:17] willportnoy commented on #570
Attachment prompt dialogs were recently added (https://github.com/Microsoft/BotBuilder/commit/22f5739052bd036a8e733658a09b681d1dcdd31d) though I'm not sure how you might prompt for attachments within FormFlow.  @chrimc62 ?

[2016-06-29 21:24] fercom commented on #498
I have changed the way of my response, but it still fails, any idea?
`{
  "method": "answerInlineQuery",
  "parameters": {
    "inline_query_id": "999490456424917205",
    "results": [
      {
        "type": "photo",
        "id": "86c7683a-c2aa-4700-b96e-b0b81197ed3a",
        "title": "response from the_memebot",
        "photo_url": "https://memebotstorage.blob.core.windows.net/savedmemes/e81b

[2016-06-29 21:42] eanders-MS commented on #498
I believe Telegram expects the result field of anserInlineQuery to be stringified JSON: https://core.telegram.org/bots/api#answerinlinequery. Try wrapping it in a call to JSON.stringify().

[2016-06-29 22:04] fercom commented on #498
Like this?
{
  "method": "answerInlineQuery",
  "parameters": {
    "inline_query_id": "999490456104457744",
    "results": "[{\"type\":\"photo\",\"id\":\"f08b7f98-2abe-4c4c-9b9c-22306d992e9b\",\"title\":\"response from the_memebot\",\"photo_url\":\"https://memebotstorage.blob.core.windows.net/savedmemes/1313cb52-f383-40e6-84c9-b1d9e8c360e9.png\",\"thumb_url\":\"https://memebotstorage.blob.core.wi

[2016-06-29 22:19] fercom commented on #498
{"method":"answerInlineQuery","parameters":{"inline_query_id":"999490456393856090","results":[{"type":"photo","id":"012f8a39-fa28-4868-a28e-4aa2b9c7840f","title":"response from the_memebot","photo_url":"https://memebotstorage.blob.core.windows.net/savedmemes/f5873ae9-7f1d-4d9c-9de0-4eb063dd1903.png","thumb_url":"https://memebotstorage.blob.core.windows.net/savedmemes/f5873ae9-7f1d-4d9c-9de0-4eb063

[2016-06-30 00:30] htaunay commented on #572
This would an excellent feature!
Bot building would fit very well within .Net Core's minimalist paradigm, would definitely chose over node.js
+1

[2016-06-30 04:54] eanders-MS commented on #498
I tested your reply message with my test bot, and it worked mostly as I would have expected:
![image](https://cloud.githubusercontent.com/assets/12176807/16477079/8e30bdd8-3e43-11e6-9a48-3bf4908127de.png)
After making a selection, it shows a black rectangle in the chat stream where I would have expected to see the thumbnail:
![image](https://cloud.githubusercontent.com/assets/12176807/16477113/c1a

[2016-06-30 09:41] botgas commented on #327
@msft-shahins Once our top level LUIS model does the categorization of the incoming message how do I redirect the message to the specialized LUIS model because everything that goes to the LUIS model is through the myBot.listenStdin() command.

[2016-06-30 10:55] TechWatching commented on #474
Sorry I was not available the past few days so I couldn't add the test cases on time. Thanks for taking the pull request anyway.

[2016-06-30 12:06] sarthak-k commented on #564
Can you please explain with some code in proper way? I'm trying to achieve starting a new dialog (form based) from earlier dialog choices.

[2016-06-30 12:11] fercom commented on #498
That is exactly how it currently works, it is not because of the thumbnail resolution, the thumbnail is used in the results preview,  have you tested it on mobile? It gives an "empty media" error. I dont know what else can I do

[2016-06-30 14:30] wbreza commented on #566
@msft-shahins @willportnoy Any update?

[2016-06-30 15:39] eanders-MS commented on #498
I think your best bet might be to chat with Telegram Bot Support [@BotSupport](https://web.telegram.org/#/im?p=@BotSupport). If you find a solution, please do post it here.

[2016-06-30 15:51] loretoparisi opened #573 "How to debug bot conversation on WebChat or Slack channels"
I have my test bot running on several channels like WebChat, Slack or Skype, etc.
I would like to debug it when on the channel, since I have errors that I cannot reproduce running it as a text bot like:

[code]

while running as a service

[code]

When I'm running the `TextBot` I get all `console.log` in the shell of course, but
Is it possibile to do this in some way like a debugging console in th

[2016-06-30 15:54] loretoparisi commented on #558
That's interesting, what I'm doing now is the run a `TextBot` instance locally and listening to `stdin`

[code]

[2016-06-30 17:08] wiltodelta commented on #534
@craigjensen No. When you add bot for team, you need select channel. The BotAddedToConversation event not fired.

[2016-06-30 17:45] konnichimade commented on #464
I'm sending requests from the "Test connection to your bot" box on [the Bot Framework site](https://dev.botframework.com/), and it's coming back with the following error:

I am logging requests at my endpoint and it's not showing anything coming through. Unfortunately, I can't do anything so thorough as you have done, because I don't own the server.

I have tried sending a request to a completely

[2016-06-30 17:57] msft-shahins commented on #327
@botgas  If you are using C# SDK, you can forward the message to another dialog using context.forward(...). @Stevenic can comment for node.js.

[2016-06-30 17:58] willportnoy commented on #573
That's an interesting idea.  One simple option you might consider is simply sending your debug messages through the normal "send message" interface, prefixed with something like "DEBUG:", when you match a specific channel and user information for which you want to get more debug information.

[2016-06-30 18:02] craigjensen commented on #534
There are two issues here.

First, while the UX does ask for a channel during registration, the bot is NOT added to the channel so the BotAdded event is not fired.  A bug has been opened to address this.

Second, when you /invite a bot to a channel, that's when the event should get fired.  We'll look into this and file a bug if it's not firing as expected.

[2016-06-30 18:08] fercom commented on #498
I already did but they do not answer

[2016-06-30 18:27] jeffreyhyun opened #574 "Behavioral difference between builder.DialogAction.send() and session.Prompt.text() in a LUIS .onBegin()"
I've been trying to understand why one will work in a LUIS dialog .onBegin() and the other won't. Could you help? Semantically, they seem like they would serve the same purpose, but the behavior is different.

I am using a beginDialog() to a luis dialog from another luis dialog without getting a user input in the previous dialog. The reasoning behind this is to make each luis dialog self contained

[2016-06-30 20:12] felipe98 opened #575 "Filtering attachment post?"
I looked over the issues and didn't find an answer for this (apologies if I missed it). When a user sends an image attachment to the bot, it looks like I end up getting the content-url and not the actual stream. Is there a way to control where that content gets store. The emulator creates a magincal /content location and provides a url for it. It would be nicer to have control of the content and d

[2016-06-30 20:20] tomlm commented on #575
Most of the channels provide only temporary storage for urls, so if you want the raw data you suck it down and store it in more permanent location.

[2016-06-30 22:30] willportnoy commented on #566
I looked at the implementation of SetConversationDataWithHttpMessagesAsync - it's not a method we call directly in the builder.  The implementation looks like it checks for null BotId, conversationId, and botData and throws ValidationExceptions if those references are null.

So, I would guess there is a null reference somewhere within BotData or the IConnectorClient.

How are you initializing ICon

[2016-06-30 22:32] willportnoy commented on #564
https://github.com/Microsoft/BotBuilder/blob/develop/CSharp/Tests/Microsoft.Bot.Builder.Tests/ChainTests.cs#L380 has an example of calling different dialogs based on user input.

[2016-07-01 05:36] thewhitetulip commented on #558
Yes, even I am doing testing this way, way better than the command line version of the emulator.

[2016-07-01 06:25] botgas commented on #327
@Stevenic can you please tell the way for the same in node.js. I'm sorry, I forgot to mention that I am using the node.js SDK.

[2016-07-01 07:35] NanashiGIT opened #576 "Send message to user| Permanently identify user"
**UPDATE:**
So i've been trying different things out and it appears, that i had to fill the From-Property in the message.
The solution is like this:
[code]

Now i'd like to use this thread here to discuss another question, that i had for quite some time:
If i want to --permanently-- identify a user/bot, what should i use?
I am guessing that a combination of "ChannelID" and "Address" is an unique i

[2016-07-01 08:25] vk4421 opened #577 "Severity Code Description Project File Line Suppression State Error NU1001 The dependency Microsoft.AspNetCore.Authentication.OpenIdConnect >= 1.0.0-rc2-final could not be resolved.Microsoft.Bot.Sample.GraphBot"
Please help me to solve this issue

[2016-07-01 10:19] vaditya04 opened #578 "Can I programmatically post messages into the web chat connector?"
The iframe puts a chat window into the website.

Can I post messages into the iframe, intended for the bot, programmatically (without the user having to type in the message)?

[2016-07-01 10:23] vaditya04 opened #579 "Is there a sample code for the Direct Line API?"
I'd like to have something to work with, a piece of code that handles the basic text send and receive functionality. C# preferably or JS
It would be great if the sample is tied to some sort of interface (such as a basic browser chat box)

[2016-07-01 10:24] vaditya04 commented on #579
Also, the sdk reference page links to itself :
http://docs.botframework.com/sdkreference/restapi-directline

[2016-07-01 10:56] manu4rhyme commented on #510
Ohhk, so i moved my project to a path without spaces. The default imports including the normal context.PostAsync works well...

But i am unable to add my own imports, the following thing gives error

[code]

The above thing gives this error:
error CS0246: The type or namespace name 'ProcessForm' could not be found...

Its not very clear, how i should add reference for that class? I already added t

[2016-07-01 11:09] hmishra2250 commented on #579
Hey, I was working on the same and found the following resources helpfull:

1. [Basic Idea how to send and receive messages using directline API](http://stackoverflow.com/questions/36568438/where-is-the-host-and-port-coming-from-when-i-am-reading-direct-line-api-doc-fro)
2. [Format of the messages](http://docs.botframework.com/sdkreference/restapi-directline/)

The combination of above two worked

[2016-07-01 12:58] #579 closed

[2016-07-01 13:01] #578 closed

[2016-07-01 13:01] #571 closed

[2016-07-01 16:44] zxed opened #580 "Passing string var to PromptString in Chain"
I'm pretty sure I'm doing something wrong...

I started looking at Dialog Chain's as some conversations require additional questions based on certain criteria.

From the code below (stubbed out code)

[code]

I get the this exception.

It's because I'm passing a string variable optionListString rather than actual literal text. The prompt is generated based on conditions and has some runtime text a

[2016-07-01 17:43] zxed commented on #580
p.s. I ended up looking at chaining because I wanted to implement waterfall dialog - and wanted to loop back when needed; is chaining the only way to get that done?

[2016-07-01 19:40] konnichimade commented on #464
A Microsoft representative (presumably) [is still claiming](http://stackoverflow.com/a/38022581/1110820) that they cannot create outbound connections using TLS 1.2.

[2016-07-01 21:33] willportnoy commented on #580
https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Tests/Microsoft.Bot.Builder.Tests/ChainTests.cs#L343 is another example of a data-dependent chain.

But for looping back earlier in the chain, you might find it easier to implement an IDialog, where you can choose what code executes next (after each message received from the user) based on whatever internal IDialog state you maintain.

[2016-07-01 21:34] willportnoy commented on #577
Do you have .NET Core installed? e.g. https://www.microsoft.com/net/core#windows

[2016-07-01 22:27] zxed commented on #580
Thanks! I'll give it a try and post my code next week so that I can explain
it better.
On Fri, Jul 1, 2016 at 5:33 PM Will Portnoy <notifications@github.com>
wrote:

[2016-07-02 02:40] zxed commented on #580
I appreciate your help; I've added more info.

Here is the code I currently have

[code]

I stubbed as much as possible, while still keeping it readable.

Prior to looking at chains; I was calling the various tasks and the task itself had the dialog (Example below).

[code]

and lastly - I think your suggestion was to use something like the following

[code]

I also created a simple waterfall belo

[2016-07-02 08:34] vk4421 commented on #577
Yes

[2016-07-02 13:36] harshil93 opened #581 "Issue while running the sample examples from the docs."
I am running the following example from the docs.
[code]

This is sample conversation. The program exits after the profile dialog which should not be the behavior.
[code]

I am using latest node.js on Windows 10. Let me know if more logs etc are required.

[2016-07-02 19:33] theonewolf commented on #464
Our server config (NGINX) looks like this:

[code]

We definitely never allow anything other than TLS 1.2, and are getting a 100% hit rate with the API right now.

[2016-07-02 21:22] Orbyt opened #582 "Emulator doesnt allow double messages to bot?"
I noticed that if you send a message through the emulator to your bot, and the bot is programmed to not send a message back, the emulator doesnt seem to allow you to send another message.

Also, is there a way to "restart" everything in the emulator? I find myself having to close the emulator and restart it every few minutes.

[2016-07-03 11:38] t-makish opened #583 "Skype : Rich card attachments not rendering on skype"
I am trying to send rich card attachment  using Bot Framework from my BotConnectorBot to Skype but the message do not contains any rich card attachment only the name of the image.

It works with fine with the Emulator but doesn't render on Skype
Code:

`public async Task<Message> Post([FromBody]Message message)
        {
            if (message.Type == "Message")
            {
                mess

[2016-07-03 17:00] placentiusz opened #584 "Add polish translation to BotBuilder"
Is it possible to add  Polish translations to Botbuilder.
I can help translate.

[2016-07-03 17:34] zixia commented on #407
@Stevenic hi stev, how about the new universal bot? looking forward to use it... :)

[2016-07-04 00:46] Praggie opened #585 "Roadmap to implement new facebook messenger 1.1 features like quickreply?"
Hi,
     Is there any plans to implement new feature  like "quick reply" for facebook in Botbuilder?
http://messengerblog.com/bots/messenger-platform-1-1-ratings-quick-replies-account-linking-and-more/

Thanks,

[2016-07-04 03:45] fercom commented on #498
It is solved. Because my images were stored in a blob on azure I need to change the content type to "image/jpeg". More info on: [http://stackoverflow.com/questions/10040403/set-content-type-of-media-files-stored-on-blob](url)

[2016-07-04 06:32] manu4rhyme opened #586 "Buttons in Skype"
So, I hosted my Bot on Azure, and connected it to Skype.
Everything works fine as on the Emulator, but there are no buttons at all in Skype?

Then i also tried connecting it to Telegram and Facebook. The buttons seem to be working pretty well there..

I did some exploring and found that buttons/cards are not supported in the current version of Skype.
Will there be any support for buttons/cards in

[2016-07-04 11:23] DavePilks opened #587 "Using Automapper in Dialogs"
I am trying to use `Automapper` in one of my `LuisDialogs`. But there is quite an issue that I have come across.

I make use of `AutoFac` and dependency injection to inject an instance of `IMapper` into the dialog's constructor. This is then assigned to a private field on the class and used throughout.

The issue comes in after the initial message has been sent by the dialog. After the message has

[2016-07-04 11:39] ernanirst opened #588 "Ignore Attachments"
When my bot receives an attachment (I'm using the NodeJS SDK and the facebook channel), such as an image or a file, my bot stops working. This is due the fact that when I received an attachment the field `results.response` is `""`.

One solution is to put an if statement in every single dialog I have, but that doesn't seems to be the right way of doing this.

Is there any proper way of ignoring me

[2016-07-04 12:28] loretoparisi opened #589 "WebChat embed + oAuth: parameters passing"
Supposed to have connected a `WebChat` channel, and to use the template for web embed so something like `https://webchat.botframework.com/embed/%s?t=%s` where you place you `appId` and a `apiToken` obtained as explained [here](http://docs.botframework.com/connector/embed-chat-control/#navtitle). This will embed an iframe with the bot fully operating as a web chat.
It becomes natural to put this in

[2016-07-04 14:58] elpollouk opened #590 "Exceptions silently swallowed in Node SDK 2.0.2"
Exceptions are currently being silently swallowed in the Node SDK 2.0.2.

To reproduce the issue, create a bot with the following dialog:
[code]

And then send a message to the bot.

The user will see the message "Sorry. Something went wrong." from the bot twice, but there will be nothing written to stdout or stderr indicating a problem.

The problem looks to be in the UniversalBot.errorLogger. Th

[2016-07-04 15:15] michaelMobitainment opened #591 "Noob Question: If have no https. Is there a way create a bot unless?"

[2016-07-04 15:42] gplumb opened #592 "[Issue deleted]"

[2016-07-04 15:47] gplumb opened #593 "Group join/leave events are not fired in Skype connector"
As it stands, join/leave events aren't being fired for Skype-enabled bots in a group scenario.  This means that a bot has to wait to be explicitly messaged before it can send any welcome messages or "set the scene" for any group-specific scenarios that its' presence enables.

[2016-07-04 16:20] elpollouk opened #594 "User entering invalid prompt option at the root level twice causes an error in Node SDK 2.0.2"
A prompt at the root level dialog will produce errors if the users enters and invalid choice twice in a row.

Repro:
Create a bot with the following dialog:
[code]

When prompted, enter junk text twice in a row.

Result:
Bot will respond with "Sorry. Something went wrong." and "ERROR: Too many calls to session.endDialog()." will be logged to the Node.JS output.

[2016-07-05 06:51] rohit2912911 opened #595 "Is there is any way to check the analytics of the bot?"

[2016-07-05 07:24] berhir commented on #534
@craigjensen We tested it Yesterday and it is working again. Thanks for fixing this!

[2016-07-05 12:59] elpollouk opened #596 "[Issue deleted]"

[2016-07-05 15:35] willportnoy commented on #582
You're correct that the emulator waits for a response from the bot's web endpoint.  I'm not sure if it eventually times out.

We tend to "restart" the emulator by changing the user and/or conversation ID.  I'm not sure that stops the emulator's current http request, though.

[2016-07-05 15:37] willportnoy commented on #587
We use FiberModule.Key_DoNotSerialize

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Fibers/FiberModule.cs#L52

to recover services from the container when deserializing the dialogs instead of serializing them directly.

[2016-07-05 15:42] willportnoy commented on #595
On the bot registration screen, you can fill in the "Azure App Insights key" field to "Provide your Azure App Insights Key if you want to receive analytics about your bot.".

[2016-07-05 15:43] willportnoy commented on #577
If you right-click on the project, can you click "restore packages"?  Does it give any more diagnostics in the output window?

[2016-07-05 15:49] willportnoy commented on #580
if you can represent the state of your conversation by a C# class that FormFlow can fill in, then that may make it easier for you to encode the experience you want.

Compared to chaining, I personally find it easier to write out an IDialog implementation for the dialogue I want.

Overall though, the chains are composable pieces.  I'd put them together in small chunks and test them separately and m

[2016-07-05 15:49] willportnoy commented on #555
I'm going to close this issue for now, but feel free to re-open another issue if you have more questions.

[2016-07-05 15:49] #555 closed

[2016-07-05 15:50] willportnoy commented on #549
I'm going to close this issue for now, but feel free to re-open another issue if you have more questions.

[2016-07-05 15:50] #549 closed

[2016-07-05 15:50] willportnoy commented on #551
I'm going to close this issue for now, but feel free to re-open another issue if you have more questions.

[2016-07-05 15:50] #551 closed

[2016-07-05 15:51] willportnoy commented on #548
I'm going to close this issue for now, but feel free to re-open another issue if you have more questions.

If you did post to the LUIS forum, you might consider leaving a link here for future searchers.  Thank you!

[2016-07-05 15:51] #548 closed

[2016-07-05 15:51] willportnoy commented on #539
I'm going to close this issue for now, but feel free to re-open another issue if you have more questions.

[2016-07-05 15:51] #539 closed

[2016-07-05 15:51] willportnoy commented on #562
I'm going to close this issue for now, but feel free to re-open another issue if you have more questions.

[2016-07-05 15:51] #562 closed

[2016-07-05 15:54] willportnoy commented on #584
We're happy to look at pull requests - it looks like you have some experience with translation (https://github.com/Microsoft/BotBuilder/issues/339).

[2016-07-05 16:33] tomlm commented on #582
you need to reply with at the very least a status code such as OK.  You don't have to return a message. Otherwise the emulator will wait for a response until it times out (probably 2 minutes).

[2016-07-05 16:33] #582 closed

[2016-07-05 16:36] willportnoy commented on #588
You may be able to use middleware to filter messages across all dialogs:

https://github.com/Microsoft/BotBuilder/blob/9a0f543fa2adc493ac53edeca769c101bd22512f/Node/examples/basics-logging/app.js

[2016-07-05 16:44] tomlm commented on #596
this a bug, thanks for reporting.

[2016-07-05 16:55] willportnoy commented on #591
We use the bot credentials to secure your bot endpoint so that you know incoming http requests are coming from the Bot Connector.  These bot credentials are passed only when https is used.

And in general, using https is something we would like to encourage.

[2016-07-05 16:56] tomlm commented on #596
Steve, this works with my sample with 6 buttons, it looks like we are chunking at 6 but it's only rendering 3?

[2016-07-05 16:58] willportnoy commented on #590
Thank you for the report - does this issue still exist in the latest code?  I don't see a naked call to emitError in UniversalBot:

https://github.com/Microsoft/BotBuilder/blob/master/Node/src/bots/UniversalBot.ts

[2016-07-05 17:07] #534 closed

[2016-07-05 17:22] cmchenry commented on #549
Thanks, overriding the constructor with the LuisModelAttribute was perfect!

[2016-07-05 18:20] #596 closed

[2016-07-05 18:22] #592 closed

[2016-07-05 21:25] #527 closed

[2016-07-05 21:29] Botship opened #597 "how to publish bot automatically via website?"
In my use case, visitors to my website can come and sign up for a bot. So, I need to create a new instance of a bot for each sign up.

Could you do that automatically? Currently, I understand that I need to publish the bot via visual studio and go through multiple manual steps. What advice/recommendation can you provide for auto creating an instance of a bot?

[2016-07-05 22:48] dudeofawesome commented on #455
Has anyone been able to track this down? I just started experiencing the `Service Error:A task was canceled.` error today with my own bot.

This appears to be a C# error, which makes me think it's a server error since my bot is written in Javascript.

[2016-07-05 23:23] uservous commented on #589
@loretoparisi Did you find any temporary solution for this one in the mean somebody responds to this?

[2016-07-06 00:07] ernanirst commented on #588
Thanks a lot, that was exactly what I was looking for.

[2016-07-06 02:45] jigneshs123 opened #598 "Sending Message and Prompt in one Dialog handler"
I want to send reply message and then Prompt to the user in a single handler without waiting for user response between the two messages. For e.g. in LUISDialog, I've this for None Intent

await context.PostAsync("Hello");
PromptDialog.Confirm(context,
                    AfterConfirming_Continue,
                    "Do you want to continue?",
                    "Didn't get that!",

[2016-07-06 05:26] manu4rhyme commented on #510
Please ignore the above, I got it working ! The imports were incorrect.

[2016-07-06 06:09] chrimc62 commented on #569
There is not an easy way to do this right now.  You can skip the next step by having your validate fill in the date.  Re-executing is a little harder. Two options: 1) Duplicate your fields in the confirmation. 2)  What you could do is to derive a class from Field<T> and override the Next method to control what step is executed next.  I'll look into adding the ability to specify a delegate to Field

[2016-07-06 06:09] #569 closed

[2016-07-06 06:12] chrimc62 commented on #570
The only way to do this to implement your own IRecognizer over the system dialog and override the field recognizer with SetRecognizer that uses it.  There is not a simpler way now.  If you end up doing that, we would love to add it to Bot Builder.

[2016-07-06 08:06] loretoparisi commented on #589
@uservous I'm looking for a temporary solution that starts from this: Since the embed url has the `s` and `t` parameters (app secret or api token), this must be passed to the `BotBuilder` framework somewhere in order to be initialized since when you initialize a bot you must pass it's configuration like

[code]

so I wonder how internally this is managed and if it can handle generic input paramete

[2016-07-06 09:37] sachinkundu opened #599 "Preview mode LUIS model does not work with LuisRecognizer"
I have a **preview mode** model in luis.ai and when I try to use it with
[code]
then it is not possible to detect the intent and intent handler is not called. It falls back to my default handler. Production mode models work fine.

[code]

[2016-07-06 10:43] inornos opened #600 "Newline in string not working C#"
Newline in string not working C# what i do help me

Problematic image
![image](https://cloud.githubusercontent.com/assets/14770190/16615463/88ff4bee-4394-11e6-94e5-fe639ccc4826.png)

i want this
![image](https://cloud.githubusercontent.com/assets/14770190/16615471/93f11410-4394-11e6-89f2-56412ac561f6.png)

[2016-07-06 10:54] vsotov commented on #570
@chrimc62 Thanks for suggestion. I looked through code and if I understand correctly only text input is passed to each field on the form. Is it ok to modify FormDialog to make it pass attachments to its fields?

[2016-07-06 11:04] b4usat commented on #600
Yes this would really helpful. Even i tried with the markdown options given in the [link](http://stackoverflow.com/questions/22385334/how-to-write-one-new-line-in-bitbucket-markdown)

[2016-07-06 11:40] DavePilks commented on #600
I have found that if I use a `StringBuilder` and do the following, it works

[code]

[2016-07-06 11:43] berhir commented on #600
To create a line break in markdown you have to end a line with two spaces.
Take a look at the sample on Wikipedia: https://en.wikipedia.org/wiki/Markdown

[2016-07-06 13:29] ernanirst commented on #455
I'm also getting this error. I didn't manage to reproduce it locally, only on Azure. I'm using NodeJS and facebook. The error only happens if I receive an emoticon from the user, the bot sends the message `Service Error:A task was canceled.` only if I stop talking with the bot for a few seconds (if I keep talking to the bot, the message will be postergated, but it will come).

I'm using bot framew

[2016-07-06 14:07] berhir commented on #572
@willportnoy While porting to .net core would be tricky, support for ASP.NET Core on full .net 4.6 could be done very easily.
We already use the Bot Builder/Bot Connector with ASP.NET Core for our bots but we had to use some workarounds to get the Bot Connector working. Would be nice if the Bot Connector could support the new configuration model for BotId and AppSecret and the new controller attri

[2016-07-06 15:04] berhir opened #601 "[Question] What is the preferred way to send emojis"
I have experimented with emojis for some time now and can't figure out how to send emojis in a way that they look good on all platforms. I have tried this on Skype, Slack and Telegram:
[code]
Most of the emojis look good on Telegram and Slack, but Skype doesn't understand the `:shortname:` notation and unicode emojis look different from "normal" Skype emojis. I guess the problem will be more compl

[2016-07-06 15:16] tomlm commented on #601
Everybody supports the Unicode charset, but there isn't that much consistency for emoji markup.  Skype uses parens around their short commands, see here for list:

https://support.skype.com/en/faq/FA12330/what-is-the-full-list-of-emoticons

[2016-07-06 15:16] #601 closed

[2016-07-06 16:13] willportnoy commented on #583
You might consider adding a content type for your attachment:

https://github.com/Microsoft/BotBuilder/blob/42f2cb26615692b8cd4241641802d5778c409c52/CSharp/Tests/Microsoft.Bot.Builder.Tests/PromptTests.cs#L121

[2016-07-06 16:57] tomlm commented on #583
ContentType = "application/vnd.microsoft.card.hero"

[2016-07-06 16:57] #583 closed

[2016-07-06 16:58] tomlm commented on #583
you can also simple use the strong type message.Attachments.Add(new HeroCard() { .... }) and the contenttype will be property set

[2016-07-06 19:03] willportnoy commented on #598
You might consider using the AlwaysSendDirectToUser IBotToUser implementation

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/BotToUser.cs#L93

to make sure the same method is used to deliver all messages.  if you use this implementation, you may consider waiting between the two messages as well to help ensure ordering.  Overall, I don't think many channels guarantee me

[2016-07-06 19:05] willportnoy commented on #599
I believe the luis.ai schema has changed with the preview version - here are some previous discussions: https://github.com/Microsoft/BotBuilder/issues/395 and https://github.com/Microsoft/BotBuilder/issues/222.

[2016-07-06 19:54] gfpacheco commented on #126
Just downloaded it and the problem persists. Same error running on Connector, quits running on Text.

[2016-07-06 20:47] willportnoy commented on #572
@berhir Yes, I agree, we could better support ASP.NET Core.

I assume the BotAuthentication attribute would be replaced with some piece of [authentication] middleware in the new model.

Some of the auth configuration for IConnectorClient could flow through the Autofac container registrations.

[2016-07-06 21:43] LarsLiden commented on #597
Currently we do not support programmatic provisioning of bots.

[2016-07-06 21:43] #597 closed

[2016-07-06 22:02] jameslew commented on #585
We're definitely interested in providing support for quick replies/keyboards in the Bot Framework.  In addition, Steve may have additional thoughts about the constructs we'd use in the BotBuilder.

[2016-07-06 22:09] jameslew commented on #576
Hi there NanashiGit,

The ID currently represents the Bot Framework ID for this user. In upcoming releases we'll be simplifying the ChannelAccount data to just the channel service's user Id and Name; with ChannelId being at the message level.

[2016-07-06 22:44] amoldeshpande commented on #569
I can't get setting of a field (Field2)   in the validate for another field (Field1)  work. Is there a trick to that ? I always get prompted for Field2 even if "status" shows the value I set in the validate for Field1.

[2016-07-06 22:52] dgkanatsios commented on #580
@willportnoy, can a single dialog (that is easily maintained and altered) be created for the flow @zxed specified? If we want to implement many small dialogs (to separate the concerns) with the fluent API, what would be the correct approach? Let's say that we have 3 dialogs, we want to show them to the user consecutively and do an action after each one, would the following approach work?

`
//stri

[2016-07-06 22:53] chrimc62 commented on #569
Are you passing in FormOptions.PromptFieldsWithValues?  If you are not passing that in and you are using the latest bot builder release this should work.

[2016-07-06 23:21] amoldeshpande commented on #569
does indeed work with .5. thanks!

[2016-07-06 23:45] tomlm commented on #576
Jim is correct.  The idea of id vs address was that id would be a global user id across addresses.  In our new version we have removed it, so channelId/Address is the unique id for a user on a channel

[2016-07-06 23:45] #576 closed

[2016-07-07 03:17] willportnoy commented on #580
Are you following this code as an example?

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Tests/Microsoft.Bot.Builder.Tests/ChainTests.cs#L66

It's a method of calling a sequence of dialogs and combining the results in some way.

Instead of concatenating x/y/z, you can project them into an anonymous class that is the result of the chained dialog.

That exception is caused because one

[2016-07-07 03:25] chrimc62 commented on #600
Let is know if that does not work for you.

[2016-07-07 03:25] #600 closed

[2016-07-07 03:55] ankitbko commented on #557
@chrimc62 @tomlm Any update on this? It only happens if I port the project to .net core template where the bot id and secret are stored in json file instead of web.config. It might be that Microsoft.Bot.Connector is still expecting creds in web.config?

[2016-07-07 06:25] ronnelsantiago commented on #555
I have a Luis Dialog and im occationally getting this err message:
[code]
this is my code

[code]

what I might be missing? and this is the json i get from the emulator when i run it.

[code]

[2016-07-07 06:43] ronnelsantiago opened #602 "Luis Dialog: "exceptionMessage": "invalid need: expected Wait, have Done""
I have a Luis Dialog and im occationally getting this err message:
[code]
this is my code
[code]
what I might be missing? and this is the json i get from the emulator when i run it.
[code]

[2016-07-07 09:05] rohit2912911 commented on #595
thanks

[2016-07-07 09:21] rohit2912911 opened #603 "how can I identify that the user is left the chat? Is there is any event to identify this?"

[2016-07-07 09:22] rohit2912911 opened #604 "how can I identify that the user is left the chat? Is there is any event to identify this?"

[2016-07-07 09:22] #603 closed

[2016-07-07 10:02] ankitbko opened #605 "[Issue] Unable to create new bot or edit existing bot"
The bot registration portal is throwing `The remote server returned an error: (409) Conflict.` whenever I try to create a new bot. Moreover unable to edit any existing bot as page does not load when I click on "edit". It throws exception `all.js?v=119:4551 Uncaught TypeError: Cannot read property 'Version' of undefined`.
If I manually set `Version` property of `endpoint` to "1.0", the page does lo

[2016-07-07 11:51] simranhanda opened #606 "Not receiving any response from Skype.statusCode: 500 Sorry, <BotName> is having a problem responding right now."

[2016-07-07 11:51] #606 closed

[2016-07-07 11:54] byrner75 commented on #585
+1 for account linking, i've been trying it out however not getting through the Account Linking Callback message.

[2016-07-07 11:55] simranhanda opened #607 "Not receiving any response from Skype."
I have connected my MS Bot with Skype. The bot is working fine on Emulator as well as the end point. But when i tested it with Skype, it worked fine for the first time but started generating error:

 statusCode: 500 Sorry, <BotName> is having a problem responding right now.

Please help on the same.

[2016-07-07 12:04] hgjkant opened #608 "Ordinal to number"
Hi,

When I'm presenting a numbered list to a user to select something, they might say something containing 'first'. I get an ordinal 'first' as resulting entity, but this is a string. Maybe I'm overlooking it, but is there a way to go from the ordinal to an integer? I'm using the latest node release.

[2016-07-07 12:06] rebekkaalv opened #609 "Unable to register new bot"
I get the following error message when I try to register a new bot:

Is there currently a problem with the server, web page (https://dev.botframework.com/bots/new) or an other known issue?

[2016-07-07 12:21] ankitbko commented on #609
Yes. I have raised the same issue before #605 . It seems they are updating the framework to "v3" which broke this. It is yet to be fixed. I am not able to edit the bots also.

[2016-07-07 12:30] rebekkaalv commented on #609
@ankitbko Thanks for the info!

[2016-07-07 13:59] alex182 commented on #602
You need to have `context.Wait(MessageReceived);` after you post your message to the user.

[2016-07-07 16:18] chrimc62 commented on #609
@tomlm @dandriscoll @jameslew you guys aware of this?

[2016-07-07 16:37] tkbox9 commented on #126
@gfpacheco same here.
@tomlm any recommendations or work-around?

[2016-07-07 17:05] willportnoy commented on #602
At the end of your LearnSomething method, you need to tell the dialog context what code you want to execute next after receiving the next message from the user.  For example,

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Samples/PizzaBot/PizzaOrderDialog.cs#L86

You should likely call context.Wait(MessageReceived) so that the next messge is sent to the MessageReceived method which wi

[2016-07-07 17:12] jameslew commented on #609
We are investigating now.  Thanks for the report.  Expect it to be fixed shortly :).

[2016-07-07 17:14] chrimc62 commented on #570
I'm not quite sure what you are trying to do.  What does it mean to "pass an attachment" to a field?  Could you show me the kind of interaction you are trying to implement?

[2016-07-07 17:19] vsotov commented on #570
@chrimc62 last comment is about your suggestion for custom IRecognizer implementation and inability to get attachments within it.

The interaction I'm implementing is asking a user for problem description and related photos/video.

[2016-07-07 17:26] chrimc62 commented on #570
But isn't that all text?  i.e. "my pipe is rusted", "http://onedrive.microsoft.com/mypictures/rustedpipe.jpg".  I can imagine a browse conversation that might make it easier to find the URL, is that what you are thinking?

[2016-07-07 17:30] vsotov commented on #570
I was thinking about users attaching pictures in their messengers like facebook or skype. When you sent it like attachments they are found under Message.Attachments and not in text. I think it will be hard to make users fill out URLs of their photos :)

[2016-07-07 17:43] XelaMon opened #610 "Non-Image Attachments in Web Chat Control"
In my bot, I attach some csv files when sending a response back to the user. In the Direct Line API response, this shows up in the "attachments" array with the contentType of "text/csv". However, in the web chat control, this attachment doesn't show up at all.

Is it possible to at least get the URL of attachments to show up in the bot's response in the Web Chat Control?

[2016-07-07 18:01] jameslew commented on #609
We've deployed a fix for this.  Sorry for the interruption.

[2016-07-07 18:01] #609 closed

[2016-07-07 18:05] jameslew commented on #607
Usually that message means your bot is returning a 500 Internal Server Error to the message we're sending it.  Are you using Azure App Insights to look at the logs?

[2016-07-07 18:05] chrimc62 commented on #570
Got it.  You can do this now.  When you call your form dialog, just fill in your state object with the attachments from the message.  Depending on your needs you could either:
a) Put it into a private field/property that is not exposed to FormFlow.
b) Put it in as the value of field that is exposed to form flow.
c) Use the private property to dynamically generate a field that allows choosing betwe

[2016-07-07 18:06] jameslew commented on #605
Apologies for this, we missed your report last night.  We've deployed a fix for this this morning.

[2016-07-07 18:06] #605 closed

[2016-07-07 18:16] berhir commented on #19
@Stevenic Is there also a sample for how to log all outgoing messages in c#?

[2016-07-07 18:51] jigneshs123 commented on #598
I tried using "AlwaysSendDirect_BotToUser" instead of "Conversation.SendAsync" following the EchoBot\DirectConversation example, but that doesn't seem to work either. How do you wait between two messages on bot side? Is there any notification/callback when message is send?

It seems that sending two messages or sending message followed by prompt (in order) should be common scenario, so this should

[2016-07-07 18:52] zxed commented on #580
I figured it was likely due to "one of the lambda expressions refer to a variable in an outer scope" - since the string was being concatenated based on a dynamic scenario.

What I've now ended up doing is staying away from chained dialogs, and instead; doing something like this

[code]

and then within those someFunction's I have additional nesting

[code]

[2016-07-07 19:26] willportnoy commented on #598
I don't believe there is any method to guarantee ordering between messages - most channels don't provide one (as you can imagine for text, email, etc).  @dandriscoll are you aware of any ordering issues with the web chat control?

[2016-07-07 19:36] willportnoy commented on #536
I'm going to close this issue, but feel free to open a new issue for more discussion.

[2016-07-07 19:36] #536 closed

[2016-07-07 19:37] willportnoy commented on #564
I'm going to close this issue, but feel free to open a new issue for more discussion.

[2016-07-07 19:37] #564 closed

[2016-07-07 19:38] willportnoy commented on #591
I'm going to close this issue, but feel free to open a new issue for more discussion.

[2016-07-07 19:38] #591 closed

[2016-07-08 03:32] designdit commented on #568
Hi,

Any update on this? I believe it worked before the 1.0 update. Does something need to be changed for 1.0?

Thanks

[2016-07-08 05:42] rebekkaalv commented on #609
I tried register a new bot now, but it still return the same error message as before.

[2016-07-08 05:45] jaliyaudagedara commented on #181
Well, I tried now and it doesn't work for me. Any ideas?

[2016-07-08 05:46] ankitbko commented on #609
@rebekkaalv It seems to be working. I just created a bot few minutes ago.