[2018-05-31 01:28] EricDahlvang commented on #4651
@cissav I've requested someone from the Skype bot team assist you with this.  Thank you for your patience.

[2018-05-31 01:32] EricDahlvang commented on #4657
@weizhenzhao   I have no idea what WeiXinEntity is, or what the converationIdMap is.  I haven't tried your code.  Did you try it? If it works, then I don't see a problem.  👍

[2018-05-31 08:28] Rufus1123 commented on #4677
@EricDahlvang The answer on the stack-overflow post solved only a part of the problem. The answer there explained how to configure the callback endpoint and got rid of the error message. However it is still not working as expected: the bot responds with "You can't talk to this bot just yet, but we are working on it" and the callback endpoint is not being hit. Furthermore I don't have any error mes

[2018-05-31 10:39] tsahi commented on #4538
I was working on another part of the bot so I didn't have time for this yet. I also changed the flow of my conversation so I no longer need the above code. But for the sake of the experiment, I tried it now, with no change. As expected, the `using` line is grayed out, meaning no type from this namespace is used in the class and the line can be removed (otherwise it wouldn't have compiled).

Access

[2018-05-31 10:52] tsahi commented on #4538
Ah, when you create a functions bot, you get a C# Script bot. I then created a new HTTP Trigger function project in Visual Studio, and copied the code over from the bot template.

[2018-05-31 12:06] jolienai opened #4680 "Embed the web chat control in your website using the secret (iframe using secret)"
## Bot Info
* SDK Platform:  .NET
* SDK Version: latest version
* Active Channels: Skype, Direct Line, Telegram. -->
* Deployment Environment: local development with Emulator.

## Issue Description
I have to connect my bot to web chat and I am trying to do so using an iframe but I have got this error:
botchat.js:34 Uncaught TypeError: Cannot read property 'offsetWidth' of null
at e.componentDidUpd

[2018-05-31 12:28] TonyHenrique opened #4681 "[Feature Request] Visual Studio 2017 Project template for Azure Bot Service + Azure Functions C# (v2) ?"
Is there a Visual Studio 2017 Project template for Azure Bot Service + Azure Functions C# (v2 , precompiled) ?

I tried to convert the Bot Function App to v(2) precompiled,
but for example, in Azure Functions v2 uses  `HttpRequest`
but the Bot Function code had `HttpRequestMessage
`

**Can you release a Visual Studio 2017 Project template for Azure Bot Service + Azure Functions C# (v2, precompiled

[2018-05-31 14:09] jolienai commented on #4680
This issue only happen when the. iframe is inside other div tags

[2018-05-31 14:43] kofarrell1076 opened #4682 "One bot, multiple web chats"
Hi all,
Is it possible to connect multiple web chats to one bot and have my server side get some id/token so it can figure out which website/customer the message came from?

Can I pass my own token in the embed and have it delivered to the server side?
thanks

[2018-05-31 15:39] kofarrell1076 commented on #4682
never mind. Can do it using the userid.
closing

[2018-05-31 15:39] #4682 closed

[2018-05-31 15:51] Mikhail42 opened #4683 "How to request undelivered messages?"
## Bot Info
* SDK Platform: REST API
* SDK Version: v3
* Active Channels: Skype
* Deployment Environment: non Azure web server with valid sertificate

## Issue Description
How to request undelivered messages in BotFramework?

## Code Example
I use simple Echo App.

## Reproduction Steps
1. Create Echo App
2. Run the app. Sure that you can send message to your bot from Skype
3. Stop app. Send messa

[2018-05-31 16:02] lukasvolf commented on #4668
So I tried to ignore the limitation number 1 for now and instead focus on somehow solving limitation number 2 for now in a custom skill. I tried using LUIS list entity to specify a list of predefined words to look for in my intents and then some utterances using those intents. In the future I planned on having the user to upload an autogenerated LUIS model using you API that would contain all the

[2018-05-31 16:11] RPraveen26 opened #4684 "Bot is failing to recognize intents always going to default handler"
Bot was working well but suddenly it stopped working in the way it was. It is not able to react to the inputs and always giving response from the default handler. Got 502 bad gateway error while trying from bot framework hope it is not sync'ing well with LUIS. What is the resolution for this?

[2018-05-31 16:19] JasonSowers commented on #4683
Duplicate of https://stackoverflow.com/questions/50627928/how-to-request-undelivered-messages-in-botframework

[2018-05-31 17:17] JasonSowers commented on #4681
This is not something that currently exists.  We will take a look at implementing this in the future.

[2018-05-31 18:16] nodeomega commented on #4678
We do not have a tenant with Skype for Business in which we would be able to help troubleshoot this issue.  Please reach out to the [Skype for Business team](https://www.skypefeedback.com/) and they should be able to assist you.

[2018-05-31 18:16] #4678 closed

[2018-05-31 18:45] #4683 closed

[2018-05-31 20:15] vkynchev commented on #2795
@matvelloso Have you found a solution for this issue?
I get exception on the same line but it doesn't say that the BotID is different...

[code]

[2018-05-31 21:59] fanidamj commented on #4661
Did you check [Review Label Suggested Utternces](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/label-suggested-utterances) in LUIS so that you can label and train if anything is mislabeled. All the endpoint hits should be reflected there. Let us know if it works!!

[2018-05-31 22:02] fanidamj commented on #4671
Unfortunately we currently **don't support** deleting multiple utterances through Programmatic API. The only solution is through [dashboard](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/label-suggested-utterances#delete-several-utterances).

[2018-05-31 22:02] #4671 closed

[2018-05-31 22:30] v46 opened #4685 "[Slack] Bot framework not relaying messages from slack"
Folks,

We just started seeing several of our slack bots on the bot framework have stopped responding.

Requests from the bot framework are not coming to our servers that host bot services. SFB looks to be working fine for the same (bot) accounts. Are you aware of a production outage?

We are running 3.11.0 of the Node SDK as a Bot Service (outside Azure). Our bots are migrated and use a custom (i

[2018-05-31 22:37] EricDahlvang commented on #4685
Thank you for reporting this.  I'll investigate, and get back to you asap.

[2018-05-31 22:44] EricDahlvang commented on #4685
There appears to be some issue on the Slack side: https://status.slack.com/2018-05/0d2ff93220aa25a3

I will monitor this, and let you know what I find out.  Please report back here if you notice any changes on your side.

[2018-05-31 22:52] v46 commented on #4685
Thank you @EricDahlvang. We are monitoring as well and will post back.

[2018-05-31 22:57] brprigge commented on #4678
And the Skype for Business team says they are unable to help with bots....

[2018-05-31 23:40] jolienai commented on #4680
Here the html code of my page:

<!doctype html>
<html lang="en">
<head>
    <title>Salon Booking - Software and Bot</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mobland - Mobile App Landing Page Template">
    <meta name="keywords" content="HTML5, bootstrap, mobile, app, landing,

[2018-05-31 23:51] xitij commented on #4556
@craigjensen Has this been released?

[2018-06-01 00:06] craigjensen commented on #4556
Not yet.  We ended up adding a new property to the error response that contains the complete inner http error from Facebook.  It was checked in today and should be deployed in next week's deployment.  Here's an example of what to expect:

[code]

[2018-06-01 00:08] jolienai commented on #4680
How is it working on Microsoft Education home page? https://blog.botframework.com/2017/10/11/customize-web-chat-websites

[2018-06-01 00:34] arturl commented on #4500
Quick update: the "USERS - LOADING" issue should be fixed next week, deployment ETA 6/7.
The user retention fix is in the pipeline, though may or may not come out next week.

[2018-06-01 00:37] austinhuang0131 commented on #4500
I said "Not 'Retention'" lol... There's no issue with the retention graph.

What about Skype/Teams?

[2018-06-01 00:43] EricDahlvang commented on #3462
Closing due to no response.

[2018-06-01 00:43] #3462 closed

[2018-06-01 00:46] rjgmail88 commented on #4661
@fanidamj , I think there is some misunderstanding the issue I'm facing or I might have not explained it in best possible way. This isn't an issue with LUIS intent recognition as you can see 'Happy Path' section of the description. The probable is
why Cortana's behavior is different for NONE intent when its triggered first or triggered followed by some other intent.

[2018-06-01 04:11] v46 commented on #4685
@EricDahlvang - things back to normal. You can close this ticket. Thanks.

[2018-06-01 05:01] maxwell-k commented on #4112
I am seeing exactly the same issue with different code. For me I trigger `beginDialog` which calls `Prompt` and the `Prompt` is unexpectedly repeated a second time.

[2018-06-01 05:49] #4685 closed

[2018-06-01 07:48] stevkan commented on #4675
Hi @rjgmail88,

Here are the docs that discuss Nodejs V4 state storage. Please take a look over. They should provide you with all the information you need. I'm going to close this for now as answered. Reopen if you additional related questions. If you have any "how-to" questions, please post them on [stackoverflow.com](http://www.stackoverflow.com) so the larger community can benefit.

[Save state

[2018-06-01 07:48] #4675 closed

[2018-06-01 08:44] stevkan commented on #4618
Hi @weizhenzhao, could you also provide the AppId? This will make it easier to trace performance for any potential anomalies.

[2018-06-01 08:59] imailer2015 commented on #4658
Hi Jason,
Any updates for the issue ?

[2018-06-01 11:17] sharmadine opened #4686 "Webchat # Directline APIs performance severely impacting user experience"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.14.1
* Active Channels: Direct Line
* Deployment Environment: Azure Bot Service

## Issue Description
For last 5-6 hours today, the response times from WebChat initiated DirectLine APIs are crossing 5+ seconds severely impacting user experience.

#### A few observations:
1. receiving frequent '403' errors
```GET https://directline.botframework.c

[2018-06-01 12:20] loopthrough commented on #3470
@JasonSowers any progress on this topic? I have the same issue still with the REST approach.
Did you figure out if it is intentional or is it planned for fixing. In the emulator I receive both id and the name, through Skype not.

Thanks.

[2018-06-01 12:22] Toradora270291 opened #4687 "Skype channel publishing"
Hello guys!
I'd like to use "Bot channels registration" and I have one question about Skype channel. In order to be published this channel should meet bot requirements list (https://github.com/Microsoft/skype-dev-bots/blob/master/certification/CHECKLIST.md …).

I'd like to publish Skype channel and correspond with customers not only by using chat-bot, but I want to participate in this dialogue as

[2018-06-01 13:43] whizlingo opened #4688 "Frequent "My bot code has an issue." error when running a load test."
## Bot Info
* SDK Platform: .NET
* Active Channels: Direct Line, etc.
* Deployment Environment:Azure App Service

## Issue Description
We are currently trying to run a load test on Bot using the approach [here ](https://blog.botframework.com/2017/06/19/load-testing-a-bot/). Running a simple test with 5 concurrent users is leading to error "My bot code has an issue". Is this due to default state ap

[2018-06-01 16:29] JasonSowers commented on #4681
After talking to the team, this does not look like something we will likely implement in the future.  However, I will keep the feature request open so it can be reviewed at a later date.

[2018-06-01 16:31] JasonSowers commented on #4676
Some of the solutions in this stack overflow question may help you resolve this https://stackoverflow.com/questions/12584986/how-to-fix-circular-reference-error-when-dealing-with-json

[2018-06-01 16:44] ukphillips opened #4689 "SendToConversation results in NotFound response"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15.2.2
* Active Channels: Direct Line
* Deployment Environment: local development with Emulator

## Issue Description
I am trying to handle authentication out of band due to limitations with the identity provider. I want to send the user to a separate webpage for authentication, but pass along the conversation id from the bot. Once the user success

[2018-06-01 17:11] JasonSowers commented on #4684
Are you still experiencing this issue?

[2018-06-01 17:52] mcinnes01 commented on #4641
I was already using the work around, I'm part way through moving over to net core 2.0 with SDK4. Thank you

[2018-06-01 17:52] #4641 closed

[2018-06-01 18:03] upsson commented on #3877
@sganeshkumar Theres is not a 3.12.0 version i only see a 3.12.2.4 is that correct??

[2018-06-01 18:20] EricDahlvang commented on #4687
Hi @Toradora270291

Why not just implement a help response that can be auto sent if you are not part of the chat at the time?

I've discussed this with the skype bot review team, and they stated "If that is the case then the developer can skip the help message. But it is safe to implement one since the developer can’t be available always to answer such dialogs. Please share the botId or handle nam

[2018-06-01 21:07] nodeomega commented on #4338
OK. @poonam0025  and @nguyendn ,   It would appear that there is no way to adjust that 10 second timeout for Invoke actions (the send button).  It would appear that this behavior is by design.

What I am told is that there are a few ways to workaround it however:
1. Ensure that your bot finishes processing the operation before the 10 second mark
2. Respond with HTTP 202 immediately but handle proc

[2018-06-01 21:07] #4338 closed

[2018-06-01 22:46] JasonSowers commented on #4686
Are you using the default state store or have you implemented a customer one?

[2018-06-01 23:00] nodeomega commented on #4606
Closing this issue as there has been no reply for an extended period.  If this issue persists, feel free to open a new support request.  Thank you.

[2018-06-01 23:00] #4606 closed

[2018-06-01 23:01] nodeomega commented on #4624
Closing this issue as there has been no reply for an extended period.  If this issue persists, feel free to open a new support request.  Thank you.

[2018-06-01 23:01] #4624 closed

[2018-06-01 23:37] sharmadine commented on #4686
We have been using custom state since beginning of Production deployment i.e. 3-4 moths.

[2018-06-02 02:32] RPraveen26 commented on #4684
Hi Jason,

Yes still experiencing the problem. When I hit the bot http endpoint from
LUIS that returns error out of volume quota limit with timeframe. Just
would like to know the exact root cause of the issue.

Thanks
Praveen.

On Fri, Jun 1, 2018, 10:41 PM Jason Sowers <notifications@github.com> wrote:

[2018-06-02 05:56] shahsaurabh0605 commented on #4676
I tried all these solutions. But none of them work. There are explicit serialization settings provided in the client object. But that does not serialize the entire object and skips client.conversations where the circular dependency exists. So even if I serialize this somehow, I couldn't deserialize and use the same client object back.

[2018-06-02 08:38] stevkan commented on #4672
Hi @Jagan-rajan,

Try the below bit of CSS. I have used this previously to manage the UI of the displayed bot. I had it placed in the html document as it was a small test project, so take that into consideration. Adjust the styling, as needed.

Closing as I believe this should resolve your issue. Please reopen if you find you have further related questions.

Hope of help!
Steve.

[code]

[2018-06-02 08:38] #4672 closed

[2018-06-02 11:29] kevinport commented on #4603
We have exactly the same problem, even if you use the core-multiDialogs example, from BotBuilder-Samples.....

after a few hours the problem occurs, the next message goes to the bot without any problems.

[2018-06-02 13:36] TonyHenrique opened #4690 "[Feature Request] Facebook CheckBox Plugin"
I am developing a proactive Bot using Azure Functions (V2, C#, Precompiled) using the _Facebook CheckBox Plugin_ to allow my bot to talk to the users
https://developers.facebook.com/docs/messenger-platform/discovery/checkbox-plugin#requirements

I generate the current view ref, and the plug sucessfully renders on the page:
![optin](https://user-images.githubusercontent.com/6307623/40876878-f0ca6f3

[2018-06-02 13:55] chakrihacker commented on #1505
Any updates??

[2018-06-02 17:39] TonyHenrique commented on #4681
Thanks.
Serverless is trending high. Bots also are trending. I wonder how do develop a more complex bot if not using Visual Studio and precompiled.

It would be nice to be able to use it on Azure Functions (v2, C#, precompiled)

[2018-06-03 06:32] rwifall commented on #4275
You still get this error when following the instructions below, so either the documentation should be fixed, or this bug should be fixed.

[https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-luis-dialogs?view=azure-bot-service-3.0](https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-luis-dialogs?view=azure-bot-service-3.0)

[2018-06-03 18:32] rossellaross opened #4691 "problem in connecting qnamaker with luis on web app bot"
following the instruction for microsoft azure bot

the behaviour between test in chat of qna maker and web app bot test in chat in portal is different

i have made some tests

## Bot Info
* SDK Platform : NET
* SDK Version: 4.7
* Active Channels: test in web app chat
* Deployment Environment: Azure Bot Service

## Issue Description

## Code Example

## Reproduction Steps
1.
2.
3.

## Expected Beha

[2018-06-03 21:56] EricDahlvang commented on #4688
Yes, the bot internally uses the default state api to manage dialog state, user data, private conversation data, and conversation data.  Please update your bot to use the Azure Extensions or a custom state client.  reference: **https://blog.botframework.com/2018/04/02/reminder-the-bot-framework-state-service-has-been-retired-what-you-need-to-know/**

[2018-06-03 22:10] EricDahlvang commented on #4677
Azure Functions are probably not the best choice for a Calling Bot.  I personally believe that Azure Functions are not a good platform for bot development, period.  There are plenty of use-cases for utilizing an azure function within a bot, but hosting the entire bot code within and azure function tends to be problematic (as you've seen with what you're trying to do here).

[2018-06-04 04:59] waqas-zia-confiz commented on #4055
Is there any update on this issue?

[2018-06-04 05:50] waqas-zia-confiz opened #4692 "[Skype For Business] Skype for Business could not reach the bot. Please contact admin of the bot for help."
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15
* Active Channels: Skype For Business
* Deployment Environment: Local Environment with the emulator and ngrok

## Issue Description
When trying to chat with Skype for business BOT I get, "Skype for Business could not reach the bot. Please contact admin of the bot for help." error sometimes. It usually happens on the first message and after that,

[2018-06-04 10:53] msulaksh commented on #3682
@terabytes Thanks.
I am working on ChatBot, where I have to save Conversation data in MongoDB, I haven't began storage part, but will soon.
Thanks & Regards,
Sulaksh More

[2018-06-04 11:21] SHUBHAMARORA731 opened #4694 "[.NET Core, v4] Submit Action in Adaptive Cards causing a Middleware Exception in .NET Core Project, Emulator Giving 500 Error"
SDK Platform: .NET
Adaptive Cards
Active Channels: Direct Line
Deployment Environment: local development with Emulator

[2018-06-04 11:32] maba4891 commented on #4470
hi @Andrea-Orimoto, any news on this?

[2018-06-04 12:37] muritalajamiu commented on #2976
please can one make the value of the button referenced to a method or class

[2018-06-04 12:59] JonesAbramoff commented on #4321
Me too with 3.15.2.2 .

[2018-06-04 13:05] shivanichh commented on #3403
hi Can anybody please help me..i am also facing same issue like AnjaiRathore

[2018-06-04 16:27] JasonSowers commented on #4691
Please provide more information. What instructions are you following, What is the behavior you are seeing?  What do you expect to see?  Share your code, please. How is the behavior different?  We will be unable to help you with this incomplete information.

[2018-06-04 16:35] JasonSowers commented on #4694
Can you please share your code? What version of the SDK are you using? What is your expected result vs actual result?

[2018-06-04 16:36] stevengum97 commented on #4659
Closing due to inactivity and that the underlying issue has been addressed.

Linking resolved issues: #4584 and #4550 for more details.

[2018-06-04 16:36] #4659 closed

[2018-06-04 19:53] ukphillips commented on #4689
I also attempted to solve this with the DirectLineClient with no luck. I replaced the SendToConversation (which I noticed I incorrectly populated the ReplyToId field, this should be a user to reply to) with:
[code]
This resulted in nothing being sent over to my bot (according to the receiving end), and returning a null value to post1, which makes me think there is an error occurring. I actually tr

[2018-06-04 20:15] JasonSowers commented on #4684
I'm not sure of your pricing tier on LUIS but maybe you exceeding these [rate limits](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-boundaries#key-limits) or these  [model boundries](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-boundaries)?

[2018-06-04 20:20] JasonSowers commented on #4689
I think the issue is that for `Activity.ReplyToId` you are using the `ConversationId`  whereas `Activity.ReplyToId` is an Activity ID rather than a Conversation ID

[2018-06-04 20:29] EricDahlvang commented on #4275
@rwifall Yes, sometimes the error still occurs.  @stevengum97 has provided a valid workaround.

[2018-06-04 21:17] loopthrough commented on #3470
I would assume this is intentional. I see, general approach is not to share any data apart from direct conversation with a bot. In this case, contact names in a group can potentially provide to a bot the names of participants which are not in the bot's contact list. In the 1-1 interactions with a bot all data is present. @cuttinger I moved to obtaining this data from the contactRelationshipUpdate

[2018-06-04 23:27] EricDahlvang commented on #4538
Well, functions bots are a strange animal.  The Bot Builder sdk was not initially designed for functions, but was plugged in afterwards.  I would recommend a web app bot instead.  If you have some use for a function, then call the function from the web app bot code.  Building an entire bot using azure functions has many limitations and difficulties, as you've seen.

[2018-06-04 23:48] EricDahlvang commented on #4616
I'm not aware of a method to send multiple values without an adaptive card.

[2018-06-04 23:48] #4616 closed

[2018-06-05 00:14] EricDahlvang commented on #4655
Closing due to no response.

[2018-06-05 00:14] #4655 closed

[2018-06-05 00:15] #4657 closed

[2018-06-05 04:52] Rykimaruh opened #4696 "Trouble testing out the AADv1 sample due to 500 internal server error"
So I have been reading the documentation on Microsoft [here](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-authentication?view=azure-bot-service-3.0)

When I try to sign in through the bot, it gives me this message:

_The page cannot be displayed because an internal server error has occurred._

The URL is [this](https://token.botframework.com/.auth/web/redirect) which the

[2018-06-05 04:56] RPraveen26 commented on #4684
Hi Jason,

Yes we have been using F0 free tier, I have been informed by Azure support
that is due to limit exceed. It has resolved now.

Thanks for your follow-up .

On Tue, Jun 5, 2018, 1:46 AM Jason Sowers <notifications@github.com> wrote:

[2018-06-05 05:27] SHUBHAMARORA731 commented on #4694
Hi Jason,

We are using Microsoft.Bot.Builder.Core version 4.0.0-preview and AdaptiveCards v 1.0.0 in solution.

we are creating a Simple Adaptive card using Adaptive Cards nuget package (c#) as shown in https://adaptivecards.io/explorer/Action.Submit.html .  In emulator, if we click on submit button we are getting  POST500directline.postActivity (An unhandled exception occurred while processing t

[2018-06-05 06:08] Jagan-rajan commented on #4672
Hi Stevkan,

Thanks for answering.

I have a question regarding webchat channel since direct line is not exactly needed.
My req. is to pass user name and user id to the bot code not just the channel. Any ways of getting that done. If yes, can you please share the sample code.

[2018-06-05 06:11] Jagan-rajan opened #4697 "Web chat channel - parameters"
## Bot Info
* SDK Platform:  .NET
* Active Channels: Webchat
* Deployment Environment:  Azure Bot Service
##Question
I have a question regarding webchat channel since direct line is not exactly needed in my project since i need to embed the channel to my website.
My req. is to pass user name and user id to the bot code not just the channel. Any ways of getting that done. If yes, can you please sha

[2018-06-05 09:05] adneerav commented on #4340
Web Chat (Not skype or any ms channel) is possible without using azure service ?

[2018-06-05 09:16] sdharshraj commented on #4494
Hi, I am also having the same issue. Any update on this. @JasonSowers

[2018-06-05 09:40] bonny1001 opened #4698 "send msg to multiple user in Microsoft Teams"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels:  MS Teams
* Deployment Environment:  Azure Bot Service,

## Issue Description
Now i can send msg to a single MS Teams user successfully
But now i want to send msg to multiple users one time or send msg to a team channle
when i run the code as below, i get an exception ":Incorrect conversation creation parameters"

## Code

[2018-06-05 11:26] whizlingo commented on #4688
Thanks @EricDahlvang

[2018-06-05 11:26] #4688 closed

[2018-06-05 12:00] adarshpatel30 opened #4699 "context.Wait() is not waiting in the loop when I am trying to get the user input in for loop"
I am trying to set few values in my list for example and trying to iterate that list.
For every iteration I am doing context.PostAsync("list_element"); in foreach loop.
for that post async I want the user to enter a value.
lets say I have a list of pizza attributes {type,size,topping}
I want to display type(which is first element) and want user to input veg or non veg
Next I want to display size a

[2018-06-05 13:09] tinchomm commented on #4584
Hi, this is happening to me today again

[2018-06-05 13:10] amitkhandagale commented on #4584
I am facing this bot not found issue.

[2018-06-05 13:17] ukphillips commented on #4632
This seemed to work with the emulator still so I would think this is purely an issue with the webchat rendering. I created an issue in that repo because this is a major blocker for testing any other bot functionality if you can't authenticate a user.

[2018-06-05 13:27] herrspiess opened #4700 "Certified Skype Bot cannot be found anymore"
Hey everybody,

our Skype bot has been reviewed and certified successfully, but since today it cannot be reached through its link anymore. It can also not be found by searching for its name in the Skype app. For those who have been in contact with the bot before, it still reacts normally and can also be shared within the Skype app (from one user to another).

In order to solve the problem I have j

[2018-06-05 14:18] MickaelPuygcerver opened #4701 "[Azure Bot Service] Register Bot channel via API"
## Bot Info
* SDK Platform: .NET
* SDK Version:
* Active Channels: Facebook
* Deployment Environment: Azure Bot Service

## Issue Description
Every time I subscribe to a bot on facebook webhook, I have to add a manual record on the azure dashboard.

## Expected Behavior
And this can not be done automatically.
An API where we send the page ID and acess_token, and the page is added in the list of pa

[2018-06-05 15:45] devedse opened #4702 "[Question, Skype] Sharing code & conversation between Skype Calling Bot and Skype Chat Bot"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15.2.2
* Active Channels: Skype and Skype Voice
* Deployment Environment: Azure Bot Service

## Issue Description

We are currently building a bot running in Azure that should be accessible through both Skype and Skype Calling.

We've setup the Text part of the bot to accept an Activity in the Post request and then use `Conversation.SendAsync(Activ

[2018-06-05 16:05] Rufus1123 commented on #1775
As of yesterday, I am also encountering this error (see screenshot)
Creating a new Bot Registration Channel does not help. Even more strangely: Links that I used previously to add bots to Skype give the same error now.

![image](https://user-images.githubusercontent.com/32542901/40988160-af226838-68ea-11e8-920d-513a48cfdc75.png)

[2018-06-05 16:30] JasonSowers commented on #4684
Glad you figured it out. Good luck!

[2018-06-05 16:30] #4684 closed

[2018-06-05 16:40] EricDahlvang commented on #4700
Hi @herrspiess

We apologize that you've run into this issue.  This is currently affecting all skype join links, and not just your bot.  There is no need to re-submit for review.  The team is aware of this issue, and is actively working to fix it.  I'll report back when we've resolved the underlying problem.

[2018-06-05 17:33] chaitanya-sule commented on #4584
I am also facing bot not found issue

[2018-06-05 17:45] ukphillips opened #4703 "Generic Oauth 2 provider results in Bad Request to bot token service"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15.2.2
* Active Channels: DirectLine, WebChat
* Deployment Environment: Azure Bot Service, Azure App Service, local development with Emulator

## Issue Description
I have configured a custom OAuth2 provider using the Generic OAuth 2 settings in the Azure portal for the bot:

![image](https://user-images.githubusercontent.com/18452981/40992757-a7449

[2018-06-05 17:49] stevengum97 commented on #4597
@bettina86 the QnAMaker Dialog will default to the preview (v3) QnA Maker API. There are no major differences in using the v3 BotBuilder SDKs with QnA Maker. Under the App Service Settings tab for your web app bot, you simply need to provide it with two values for these two keys:

- `QnAKnowledgebaseId`
- `QnAAuthKey`

![capture](https://user-images.githubusercontent.com/14935595/40993313-1cd18d10

[2018-06-05 17:49] #4597 closed

[2018-06-05 18:06] stevkan commented on #4644
Hi @flatmath,

Are you still experiencing issues? If so, can you provide your AppId so I can look at the activity?

[2018-06-05 18:17] EricDahlvang commented on #1775
Hey @Rufus1123

This issue is tracking the Skype join link problem: https://github.com/Microsoft/BotBuilder/issues/4700

[2018-06-05 18:27] EricDahlvang commented on #4340
@adneerav The emulator works offline.  There are also some 3rd party libraries, like this: https://www.npmjs.com/package/offline-directline  However, this does not support all of the functionality found in the Direct Line.  It would be a big job to create an offline solution that handles security, auth, state, multiple users, etc  Microsoft does not provide a library for this.

[2018-06-05 19:12] stevkan commented on #4647
Hi @jesus-seijas-sp and @slvnperron,

Thank you for your patience while I look into this deeper. In the meantime, can I get each of your AppId's for looking into bot activity?

[2018-06-05 19:19] slvnperron commented on #4647
@stevkan Microsoft App Id for the bot in question is `75813397-c61c-45da-b3d0-ea23cec94903`

Ultimately the only thing that worked for us is to create a new app and re-deploy the S4B bot to that new app.

This has happened to us in the past as well, and I think this happens when we change the bot's endpoint.

[2018-06-05 19:29] stevkan commented on #4658
Hi @imailer2015,

Unfortunately, this isn't a Bot Framework issue and changes made in the BF code will have no effect. It is related to how MS Teams reports a 403 error back to the user when received from the bot.

[2018-06-05 19:34] #4595 closed, assigned to stevkan

[2018-06-05 20:18] imailer2015 commented on #4658
So, MS-Teams team should take the bug in their cart. Why on the earth are they making HTTP-200 & HTTP-403 the same ?

[2018-06-06 02:11] EricDahlvang commented on #4699
context.Wait(methodname) is not a wait handle, as in multi-threading.  But, it is a 'continuation delegate' that allows execution of the next message to resume at the wait method.  More information can be found here: https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-dialogs?view=azure-bot-service-3.0#implementation-details

[2018-06-06 02:11] #4699 closed

[2018-06-06 02:53] weizhenzhao commented on #4618
@stevkan
Sorry I just notice your message, so what do you want me to offer you?
The directline secret? or the bot appid?
bot appid in dev : 9e325a3d-d46c-4f48-8a43-ce30ec3195e8

[2018-06-06 04:31] praveens3190 commented on #4595
I resolved the issue by gave context.Done(this) at dialog. so for second time the response comes quickly.

[2018-06-06 05:40] tsahi commented on #4538
Our considerations for choosing a functions bot were a) hopefully it will cost less, since (in Consumption plan) you only pay for actual CPU time. This is an internal organization bot, with a few dozens requests per day. And b) it's a chance to learn new technology, which is always fun :)

[2018-06-06 10:15] SudDevPP commented on #2161
Hi All,

Why this issues was closed ?

Anyone has found any solution to resolve this?
You have a tips or azure configuration solution ?

Please Help resolve this.
Thanks.

[2018-06-06 11:45] vishalkothari commented on #4017
@GauravDhavale Where do you provide the QnA Maker Host URL in your approach?

[2018-06-06 14:30] #4689 closed

[2018-06-06 14:40] naugtur opened #4706 "[Node.js SDK] Vulnerable Dependencies: jsonwebtoken and base64url"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.15.0
* Active Channels:  MS Teams
* Deployment Environment: any

## Issue Description
Vulnerabilities in dependencies are listed by npm audit
jsonwebtoken requires an update by a major version
base64url requires an update

## Reproduction Steps
npm i botbuilder
npm audit

## Expected Behavior
audit passes with everything ok

## Actual Results
┌─

[2018-06-06 14:52] ShadeyCN opened #4707 "[Bot Framework, Messenger]FB Messenger does not give review to my bot"
Hello Everybody

I sent my bot framework to Messenger Channel to review a week ago, I don't have response still
How can I get Facebook to review my bot? I need to release it...

I am writing this from Mexico

[2018-06-06 15:07] burkeholland commented on #4662
Thanks! I'll look into the middleware solution.

[2018-06-06 16:12] stevengum97 commented on #4707
Please contact the [Facebook Messenger bot review team](https://developers.facebook.com/docs/messenger-platform/app-review), as their review process is separate from ours.

Closing issue as this will be resolved by Facebook.

[2018-06-06 16:12] #4707 closed

[2018-06-06 16:37] JasonSowers commented on #4686
Sorry for the delay, Is this still happening?

[2018-06-06 18:08] compulim commented on #4632
@abhatt29 @kashifkhan I am investigating this on Web Chat side, with this [issue](https://github.com/Microsoft/BotFramework-WebChat/issues/1001).

@JasonSowers and @ukphillips thanks for alerting me on this one.

[2018-06-06 18:22] Rykimaruh commented on #4696
It's alright, I was able to solve the problem. It was simply having the wrong information when I configured the OAuth Settings of the Bot Service and in the VS source code under the web.config file.

Thank you anyways!

[2018-06-06 18:22] #4696 closed

[2018-06-06 19:44] kofarrell1076 opened #4708 "[.NET SDK, Facebook, Direct Line] Get filename of received attachments?"
HI all,
Running this on .net with 3.15.2.2 installed.
Any way to get the filename of the attachment - attachment.name is  always null coming from facebook and directline.

thanks

[2018-06-06 20:19] stevkan commented on #4647
Hi @jesus-seijas-sp and @slvnperron,

The issue appears to be on the Skype for Business side. That team is being made aware and will continue with the investigation into a possible resolution.

[2018-06-06 20:20] JasonSowers commented on #4703
Are you using AAD v2 as your provider?

[2018-06-06 20:28] slvnperron commented on #4647
Thanks.

That just happened with an other client bot this morning, this time there
has been no change to the endpoint.

On Wed, Jun 6, 2018, 4:20 PM Steven Kanberg <notifications@github.com>
wrote:

[2018-06-06 20:30] EricDahlvang commented on #2161
@SudDevPP This issue has been closed because there is no single answer for a resolution to the problem within the bot.  This issue is not an sdk, or bot framework issue.  Bot developers need to ensure their bot responds with a valid status code within 15 seconds.  Gateway Timeouts occur when a bot takes longer than 15 seconds to respond.   If the developer knows the response will take longer than

[2018-06-06 20:36] stevkan commented on #4647
Ok. I'll be sure to add it to the information being passed along.

[2018-06-06 20:40] EricDahlvang commented on #4538
I've never used that library, and I did not even know it existed until now.  BotBuilder v3 uses autofac extensively.  I do not know if AzureFunctions.Autofac would interfere with Autofac in the Bot Service.

[2018-06-06 20:50] JasonSowers commented on #4477
From what I have been Testing it seems to work when you do not use the cache.  This is the workaround we reccommend right now.

After you call `AzureModel.Load(builder)` register you `IBotDataStore` and do not register a `CachingBotDataStore`

[code]

The problem with @tempel3's solution is that the original dictionary we were using caused a memory leak.  This came to our attention when people wer

[2018-06-06 21:12] peterbozso commented on #4477
I have a chatbot which doesn't use the cache, it's actually registering the TableBotDataStore exactly the same way you've described in your last comment Jason. What solved it for me is downgrading to SDK version 3.13.1. Related SO question: https://stackoverflow.com/questions/50568479/bot-framework-messes-up-dialog-state

[2018-06-06 21:29] JasonSowers commented on #4477
@peterbozso How often does this happen with your current implementation?  Using this method I tested for about an hour and was not able to reproduce.  Whereas I'm usually able to produce this result every 10-15 minutes or so.

[2018-06-06 21:38] JasonSowers commented on #4559
Which data centers are your bots deployed to?  I'm wondering if you are both in the same data center(s).  This is strange that many people are claiming to see this.  Most of my days are spend tinkering with and testing bots and I am not seeing it at all.

How often are you seeing this?  When you do see it does it seem to happen in clusters or is it truly random?

[2018-06-06 21:40] JasonSowers commented on #4632
We will be monitoring this on the issue that @compulim linked, please post in there if you have any questions or comments.

[2018-06-06 22:01] syedhassanabbas commented on #3761
Thumbs up, for the feature request. I have the bot but Alexa users cant use it :( I hope Bot framework will support at least most popular channels. Amazon Alexa and Google Assistance are two big names.

[2018-06-06 22:14] fanidamj commented on #4670
You will need to update the confidence threshold in your code to a lower value in order for the answers to be returned. The C# QnA template, the default threshold is 50%.  Maybe playing with this threshold will help:

`public BasicQnAMakerDialog() : base(new QnAMakerService(new QnAMakerAttribute(Utils.GetAppSetting('QnASubscriptionKey'), Utils.GetAppSetting('QnAKnowledgebaseId'), 'No good match in

[2018-06-06 22:40] JasonSowers commented on #4665
Closing as no response

[2018-06-06 22:40] #4665 closed

[2018-06-06 23:10] #4660 closed

[2018-06-06 23:56] stevengum97 commented on #4706
@naugtur thanks for reporting this, I'll look into it and see if we can't bump the versions without any problems 😄

[2018-06-07 00:05] EricDahlvang commented on #4697
WebChat uses directline internally.  There are some examples of embedding webchat on a page, and providing the userid and username here: https://github.com/Microsoft/BotFramework-WebChat/blob/master/samples/fullwindow/index.html

[2018-06-07 00:12] rjgmail88 commented on #3761
There was a talk at Build 2018 about Cortana + Alexa integration. I think its on the roadmap but not sure of Alexa can come as a channel.

[2018-06-07 01:27] Rykimaruh opened #4709 "[.NET SDK, AADv1] Problems when testing out the AADv1 Auth Sample"
I have been following the Microsoft tutorial [here](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-authentication?view=azure-bot-service-3.0#create-your-bot-and-an-authentication-application) and I used "AADv1" connection as sample.

I don't know if anyone has read or done this article demo before, however I feel there are some things not clear in it.

When I run the bot,

[2018-06-07 02:37] odannyc opened #4710 "[.NET SDK, Facebook] Single Image Hero Card defaults to "Options" as the title"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15
* Active Channels: Facebook Messenger
* Deployment Environment: local dev

## Issue Description
When I create an attachment like so:
[code]
I get this in messenger:
![screen shot 2018-06-06 at 7 36 08 pm](https://user-images.githubusercontent.com/12864641/41075305-e38d5430-69c0-11e8-9ad3-a5cbc6dd5b26.png)

Why does the title default to "Options"

[2018-06-07 02:57] sharmadine commented on #4686
Not observed after that day but message deliveries were failing yesterday. No errors but messages were not getting delivered to connector and Webchat was too slow to interact. Looking at our bot service logs, we found that messages were not getting delivered to bot service.

Directline response times not consistent, sometimes it gives error and sometimes it just goes silent impacting the user resp

[2018-06-07 03:47] whizlingo opened #4711 "[Direct Line, .NET] Getting HTTP status code Forbidden while calling bot via Direct line connection."
## Bot Info
* SDK Platform: .NET
* Active Channels: Direct line.
* Deployment Environment:  ASE Azure App Service

## Issue Description
We have a xamarin app which connects to the BOT via Direct line connection. We randomly see  "There was an error sending this message to your bot: HTTP status code Forbidden" in the direct line channel logs. It goes off and comes back up randomly. This happened mo

[2018-06-07 03:58] whizlingo commented on #4711
Below are the error details -`<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml">
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
 <title>403 - Forbidden: Access is denied.</title>
 <style type="text/css">

 </style>
 </head>
 <body>
 <div id="header"><h1>Server

[2018-06-07 04:11] JasonSowers commented on #4686
take a look at this as it may provide some useful information for you https://blog.botframework.com/2017/11/02/optimizing-latency-bot-framework/

[2018-06-07 04:27] Jagan-rajan commented on #4697
Can you please let me know how can i retrieve he parameters in the bot code.

Note : I am using .Net as my base to build the bot.

[2018-06-07 05:07] waqas-zia-confiz commented on #4692
Is there any update on this?

[2018-06-07 06:10] Shadow85Pl opened #4712 "[ABS, Bug] Unable to change Bot Icon at azure"
## Bot Info
* SDK Platform: .Net
* SDK Version: 3.15.2.2
* Active Channels: MS Teams, WebChat
* Deployment Environment:  Azure Bot Service

## Issue Description
I'm unable to change bot icon from azure portal.

## Reproduction Steps
1. Set icon for bot service at Settings tab and save
2. Try to change icon to different image

## Expected Behavior
Bot icon change. Save button is grayed out.

## Act

[2018-06-07 06:38] #4110 closed

[2018-06-07 10:10] Daddymarto01 opened #4713 "[.NET SDK] Send Message while loop is executing."
## Bot Info
.NET
facebook ,skype

## Issue Description
Is it possible for bot to listen to messages while a loop is being executed?
I am working on a taxi bot and  trying  to give multiple options for my bot to check status or cancel ride whilst executing a loop which responds on status of ride.

## Code Example

[code]

## Reproduction Steps
The bot checks trip status using the CheckTripStatus fu

[2018-06-07 12:59] #4703 closed

[2018-06-07 13:34] slvnperron commented on #4647
Thanks Steven, much appreciated.

[2018-06-07 13:56] oflahero commented on #3576
@martinoss Seconding the love. Thanks for sharing, it was a puzzle tracking this one down (as my logging only detected a BotFramework 'BadRequest'. :) )

[2018-06-07 16:16] jesus-seijas-sp commented on #4647
Thanks Steven, I really appreciate your help. I will wait for further information.

[2018-06-07 16:32] stevengum97 commented on #4712
@Shadow85Pl, I haven't been able to reproduce this behavior. If you don't mind, can you review the following questions and report back with your answers?

1. Can you confirm the file is a .PNG and below 30KB max? What size is your icon?
2.  Are you the owner or an admin of the bot?
3. If you have been logged into the Azure portal for a while, have you tried logging out and then back in before tryi

[2018-06-07 16:49] stevengum97 commented on #4713
Closing this issue as a duplicate exists on StackOverflow.

https://stackoverflow.com/questions/50739814/send-message-to-chat-bot-when-while-loop-is-executing

[2018-06-07 16:49] #4713 closed

[2018-06-07 16:56] stevengum97 commented on #4711
Duplicate of Stack Overflow question: https://stackoverflow.com/questions/50739300/azure-bot-service-direct-line-api-v3-0-constantly-throwing-403-error-on-starting

Closing issue.

[2018-06-07 16:56] #4711 closed

[2018-06-07 17:17] whizlingo commented on #4711
I do not think it is a duplicate , i am not using the token approach but client id and password and like insaid, it fails randomly every once in a while and not a consistent issue.

[2018-06-07 17:29] jseijas commented on #4560
Hi @austinhuang0131 , more than one year ago I had a requirement like yours, and got it working, and published it as opensource.
https://github.com/jseijas/flow-bot/blob/master/src/connector/flow-multi-connector.js

Basically what I have is a connector that keeps a list of other connectors, and is able to redirect the events based on the name of the channel, that is in message.address.channelId. T

[2018-06-07 20:33] JasonSowers commented on #4708
Unfortunately, Facebook does not provide the file name for us to get the name from as you can see in their [API documentation](https://developers.facebook.com/docs/messenger-platform/reference/webhook-events/messages) the only values they are providing are type and URL.  So you will have to set a file name in your code.

As for directLine could you please share your client implementation so we can

[2018-06-07 20:50] JasonSowers commented on #4709
Thanks for reporting this, we will investigate.

[2018-06-07 20:57] JasonSowers commented on #4710
Interesting, I have never seen this before but was able to reproduce.  Let me Look into this and get back to you when I find something.   I was also unable to get rid of the word options by doing this:

[code]

[2018-06-07 21:00] Rykimaruh commented on #4709
I would like to update this issue saying that I was able to get "recent" working. I am able to see unread emails from the last 30 minutes.

However I am still having problems when typing "me", still getting the same error.

[2018-06-07 21:59] stevkan commented on #4618
Thanks, @weizhenzhao. The AppId is enough. Don't pass any secrets, please! Let me take a look at the logs and see if I notice anything unusual.

[2018-06-07 22:03] kofarrell1076 commented on #4708
Ah ok. Yes that's what we're doing now.  We're testing the directline again tomorrow on attachments and will come back.
thanks

[2018-06-07 23:11] weizhenzhao opened #4716 "[.NET SDK] FormBuilder fields ask repeatedly"
## Bot Info
* SDK Platform: .NET
* SDK Version: 4.6
* Active Channels: Direct Line,
* Deployment Environment:  Azure Bot Service

## Issue Description

## Code Example
I call form dialog in the following code to ask user questions about the parameter .
but in the emulator I test,
when I input a parameter of a question , the form dialog still ask me about the same question again,

the repeat field

[2018-06-07 23:37] stevengum97 commented on #4701
What's currently available on Powershell is the [botbuilder-tools'](https://github.com/Microsoft/botbuilder-tools) [**AzureCLI**](https://github.com/Microsoft/botbuilder-tools/tree/master/AzureCli). Have you tried using this tool?

Below is an example of the command `az bot facebook create -h`, which shows provides information on how to create a Facebook channel registration.

![capture](https://u

[2018-06-08 05:46] Shadow85Pl commented on #4712
Hi @stevengum97, thank you for response.
1. Firstly I set this image as bot icon:
![untitled](https://user-images.githubusercontent.com/23506332/41140367-6a39ab64-6aed-11e8-9d9d-d45a5ba2f659.png)
Then I try to change it to:
![untitled1](https://user-images.githubusercontent.com/23506332/41140385-8cddd50a-6aed-11e8-84ad-963837f5d1ef.png)
And that proces failed. Both are PNG, and second one is 4,29K

[2018-06-08 05:57] Jagan-rajan opened #4717 "[.NET SDK, Azure Bot Service] Web chat channel - Rest API service calls don't work on Azure"
## Bot Info
* SDK Platform: >.net
* Active Channels: Web Chat
* Deployment Environment:  Azure Bot Service

## Issue Description
I have developed a bot which is embedded using a web chat channel. I wanted to call a Web API service method. It is all working fine in emulators and local code. But if i publish my bot code to Azure the Web api service call is not working. Can you please help here?. Am

[2018-06-08 09:36] mcraiha commented on #3937
Issue is still on. In my case adjusting "messaging endpoint" from Azure Portal helped
https://github.com/Microsoft/BotBuilder/issues/4010

[2018-06-08 10:00] SeanSobey opened #4718 "[Node.js SDK] Session.endConversation() causes [400] Bad Request and no username"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.15.0
* Active Channels: Skype
* Deployment Environment: Local via ngrok

## Issue Description
An endConversation causes a '400' POST and after this the `session.message.user.name` is undefined.
Error: POST to 'https://smba.trafficmanager.net/apis/v3/conversations/29%3A12fMgeiJDkMJmp5SXwnHt7tJf7sl3sst22-FBErf-7mY/activities' failed: [400] Bad Req

[2018-06-08 10:23] Beliaz opened #4719 "[Question, .NET SDK] Azure Function Bot with SDK v4"
## Bot Info
* SDK Platform: .NET
* SDK Version: v4.0.1-preview
* Active Channels: -
* Deployment Environment: local development with Emulator, Azure Functions Core Tools v2

## Issue Description
Is it possible to create a Azure Function Bot with the v4 SDK? I tried to build a Azure Function using the Visual Studio tempalte for compiled C# functions and the adapted sample code for v3 but since Micr

[2018-06-08 11:27] Daddymarto01 commented on #3217
Was this issue ever fixed? I am using facebook channel and seems the same issue is here. I do not want to see Tax and Shipping details. All i need is Total and the rest ive customized. Is there a way one can remove the unwanted from displaying? I also want to have my own currency but seems the receipt card has been customized to display $ only.

[2018-06-08 11:45] Daddymarto01 commented on #1733
This issue is not fixed yet? Still have the same problem here

[2018-06-08 11:54] Daddymarto01 opened #4720 "[.NET SDK] Need Help changing currency sign in receipt card and do more customization."
## Bot Info
.NET
faceboook
azure, emulator

## Issue Description
I can not remove tax from receipt.  i also can not change currency from usd.

## Code Example
  CardAction pbv = new CardAction()
            {
                Value = "Check Status",
                Type = "imBack"
            };

            ReceiptCard plCard = new ReceiptCard()
            {
                Title = "Little Live F

[2018-06-08 13:48] peterbozso commented on #4477
With the current implementation? You mean by downgrading to 3.13.1? Now it doesn't happen.

[2018-06-08 13:52] HighSoftWare96 opened #4721 "Embed a bot in a DNN site"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15.2
* Active Channels: DirectLine, WebChat
* Deployment Environment: Azure app

## Issue Description
I have to embed a bot of Microsoft Bot Framework inside a page built by a .Net Nuke (DNN). I cannot do that with an IFRAME because I have to insert parameters for the chat from the DNN so I followed this example and inserted the chat window with Ja

[2018-06-08 15:26] JasonSowers commented on #4703
Glad you got this working, Good luck!

[2018-06-08 16:42] Jeffders commented on #4709
Have you stepped through the code to see that you are getting an access token? That would be the first thing I'd check because there isn't a lot of error handling in the sample. I'd be curious if you do get an access token if you get an exception when trying to call into the graph api, or if the issue is that you are just not receiving a token.

[2018-06-08 16:46] stevengum97 commented on #4719
Sorry @Beliaz, can you ask your question in the [botbuilder-dotnet](https://github.com/Microsoft/botbuilder-dotnet/issues) repo? The v4 devs and activity take place there, so you're more likely to quickly receive the assistance you're looking for.

Closing issue.

[2018-06-08 16:46] #4719 closed

[2018-06-08 16:48] stevengum97 commented on #4717
Can you provide the code you're using, and the version of the SDK?

[2018-06-08 16:53] stevengum97 commented on #4721
Cross linking issue with duplicate Stack Overflow question: https://stackoverflow.com/questions/50761443/embed-a-bot-in-a-dnn-site

[2018-06-08 16:53] #4721 closed

[2018-06-08 17:59] JasonSowers commented on #4716
At first look this seems like it might be related to locale, did you set your locale in the emulator?
![image](https://user-images.githubusercontent.com/6301037/41173206-ec6d46f0-6b0a-11e8-9045-66f64c7fe0de.png)

[2018-06-08 18:12] stevkan commented on #4618
@weizhenzhao, a few questions for you.

1. In your original post above, your second code example shows "intentName". Are you using LUIS? Or, is this related to something you are doing with Weixin?

2. Are you connecting to any services that might slow down the response due to the length of the call and the type of request? For example, to a database.

3. Do you have Application Insights enabled? I

[2018-06-08 18:21] Rykimaruh commented on #4709
Yes, I do get an access token to authenticate and I am able to send email or see my unread emails, however the bot doesn't let me see who i am and who i report to

[2018-06-08 18:47] shaundashjian commented on #3993
I see this error as well.

[2018-06-08 18:50] JasonSowers commented on #4710
@odannyc I took a look at the Facebook API to see if this was a limitation on their end after i tried to send `Title =" "` as the title and got an error.  It looks like Title is a required field for [facebook templates](https://developers.facebook.com/docs/messenger-platform/send-messages/template/generic), which is what our hero cards translate into.  I still don't understand where "Options" come

[2018-06-08 19:43] stevkan commented on #4658
Unfortunately, I don't have an answer to that question. But, yes, it should be raised as a bug.

[2018-06-08 19:43] #4658 closed

[2018-06-08 19:46] JasonSowers commented on #4477
I mean when you use 3.15, how often does the problem arise.

[2018-06-08 20:13] JasonSowers commented on #4622
@prejeanb  is this still an issue for you after upgrading the packages? @mitch726 did you try upgrading and did that help you?  If not, what version are you on?

[2018-06-08 20:19] #4666 closed

[2018-06-08 20:26] prejeanb commented on #4622
The issue for me was resolved after upgrading the packages.  Everything has been smooth since then.

From: Jason Sowers <notifications@github.com>
Sent: Friday, June 8, 2018 4:13 PM
To: Microsoft/BotBuilder <BotBuilder@noreply.github.com>
Cc: Ben <ben@bmptechnologysolutions.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/BotBuilder] Custom Bot performance in Microsoft Teams afte

[2018-06-08 20:47] JasonSowers commented on #4720
Could you please post the JSON that is being sent to the emulator from your bot so we can take a look?

[2018-06-08 20:54] stevkan commented on #4718
Hi @SeanSobey,

Please review the docs listed [here](https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-dialog-manage-conversation-flow?view=azure-bot-service-3.0#end-conversation) as they should help in understanding what is happening.

In short, because the conversation is ended, per the text match in the middleware, there is nothing to be reported back when "The next t

[2018-06-08 21:14] fanidamj commented on #3403
@shivanichh Can you please reopen a new issue with all the details.

[2018-06-08 21:33] weizhenzhao commented on #4716
@JasonSowers yesterday I ’ve find the problem. It because that I define the variable name as opptyName and I input the value of ‘oppty ‘ that’s conflict of the prefix of the variable name .
when I change the name of the variable as targetName , and input the value ‘oppty’ it works.
But when I input the value ‘target’ , it still asks me repeatly. I think that ‘s a internal bug of Microsoft.
thank y

[2018-06-08 21:51] nikosalexakis commented on #4528
Hi,

Same problem here.
Any update, solution or workaround on this?

Thanks

[2018-06-08 22:13] JasonSowers commented on #4716
Good Luck

[2018-06-08 22:13] #4716 closed

[2018-06-08 22:13] mehmetbuber commented on #3235
If anybody experience this issue in the future, i was able to resolve by specifying unique id for user as following.

 BotChat.App({
     bot: { id: '{{Chat_Bot_Id}}' },
     botConnection: botConnection,
     user: { id: {{Any_Unique_ID}} },
     resize: 'detect',
     locale: 'en-en'
 }, document.getElementById('bot'));

[2018-06-08 22:34] nodeomega commented on #4652
After further investigation, I believe StartAsync may not be the best place to put that prompt, and it may be at the core of the trouble you are experiencing.  I am adapting a suggestion as per [#2182](https://github.com/Microsoft/BotBuilder/issues/2182).  In my troubleshooting I was also running into the prompt being brought up twice, and if you had that issue, this should help with that as well.

[2018-06-08 22:39] JasonSowers commented on #4618
@weizhenzhao take a look at this https://blog.botframework.com/2017/11/02/optimizing-latency-bot-framework/

[2018-06-08 22:49] JasonSowers commented on #4658
@imailer2015 you could try reporting the issue here https://github.com/OfficeDev/BotBuilder-MicrosoftTeams I'm not sure how active they are on that GitHub though.

[2018-06-09 00:10] ogarules commented on #3993
Same issue here, updated the endpoint URL and it stopped working for Skype for business, other channels are working as expected

[2018-06-09 10:30] peterbozso commented on #4477
I see, sorry. :) I use [autobot ](https://github.com/aiden/autobot)for testing my bot. Out of 10 tests 4 fails on average because of this issue when using the 3.15 SDK.

[2018-06-09 11:06] uucwq commented on #4331
Hey guys. I'm using the code snippet provided by @blaisni / @EricDahlvang.
When calling the formflow, the first message (set by .Message after the  BuildForm()-method) is being skipped and the FormFlow asks for the first value of the form. After the first value the "welcome" message is being displayed. Any ideas about this strange behavior?

// Also if i try to display the "welcome" message on my

[2018-06-09 15:02] andavies commented on #3898
@xjose97x  You just solved 2 hours of pain for me. I had renamed my project/solution/namespaces from the default "Microsoft.Bot.Samples...". Deleting the /bin folder solved it.

[2018-06-10 01:39] rjgmail88 opened #4722 "Functional/conversational flow testing for BOT"
## Bot Info
* SDK Platform:  Node.js
* SDK Version: 3
* Active Channels: MS Teams, Cortana
* Deployment Environment: Azure App Service

## Issue Description
I am using Mocha do to unit testing for BOT. But, I am not sure how to test bot conversational flow etc. I have multiple cannel so each time I change the code I need to make sure all the dialogs works fine for all the channel. I think somethin

[2018-06-10 14:31] carvalThi opened #4723 "Error "Refresh access token failed with status code: 400" when talking to bot"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.13.1
* Active Channels: web console
* Deployment Environment: Web app bot on Azure

## Issue Description
When talking to my chatbot, i keep getting the following error message :
Error: Refresh access token failed with status code: 400
    at Request._callback (D:\home\site\wwwroot\node_modules\botbuilder\lib\bots\ChatConnector.js:697:36)
    at

[2018-06-10 15:51] carvalThi commented on #4723
To complete the issue, i ran a postman request :
curl -X POST \
  https://login.microsoftonline.com/botframework.com/oauth2/v2.0/token \
  -H 'Cache-Control: no-cache' \
  -H 'Content-Type: application/x-www-form-urlencoded' \
  -H 'Postman-Token: 766d0732-a60d-4d57-ad95-0dee20fedd3c' \
  -d 'grant_type=client_credentials&
client_id=xxxx&
client_secret=yyyy
&scope=https%3A%2F%2Fapi.botframework.co

[2018-06-10 20:08] baishali-ghosh commented on #3742
I recently ran into this issue after configuring OAuth for a cortana skill and the only debug information I get is

`Connection to skill has failed. Channel Response: InternalServerError, Request Id: AN_ID_STRING`

Is there no way to debug this? Recreating the channel did not help.

[2018-06-11 05:24] Kartik1607 opened #4724 "[Question, DirectLine] Microsoft.Rest.SerializationException: Unable to deserialize the response."
Hi, during log analysis we found that we  were getting lots of `Microsoft.Rest.SerializationException: Unable to deserialize the response.` on 1 June 2018 on the directline channel..  Timestamp : 2018-06-01T20:10:29.9738394Z

Was bot service down during that time? Was it from Microsoft end or on our end?

[2018-06-11 08:52] mennolaan commented on #4694
Running into the same issue as above. The change from the previous version to this made this more into an adventure as documentation is no reflecting the examples in GitHub. So it's more of an hit or miss scenario. I'm going to subscribe to this as well, hopefully we will see a solution shortly.

[2018-06-11 09:33] blrchen commented on #4321
Upgrade to 3.15.2.2 and still getting this error

[2018-06-11 10:28] SHUBHAMARORA731 commented on #4694
Hi menno ,

The issue is because of Luis recognizer which is being called even if we have a submit action and utterance is null.
Please check this  https://github.com/Microsoft/botbuilder-dotnet/issues/572
they did resolve this by doing a null check before calling Luis recognizer but still not published to NuGet gallery.

for the time being, I am referring to Microsoft.Bot.Builder.Ai.LUIS class lo

[2018-06-11 10:59] mennolaan commented on #4694
Good call, I will try that out right away.

[2018-06-11 11:39] WillRock19 commented on #3757
Can you Help-me, please? I'm at the same situation, but have no clue how should I instantiate the **winners** variable to pass it to BestResultFrom; in other words, I don't know how to instantiate the  LuisResult that BestResultFrom has to receive.

[2018-06-11 11:44] WillRock19 opened #4725 "How to call BestResultFrom from an overrided MessageReceived's LuisDialog?"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15.2.2

## Issue Description
I want to my bot to look out for luis intention result and, if the score is bellow a given number (like, 0.5), it will generate a promptDialog asking the user if "that's really what he means". So, I've look at this git issue (https://github.com/Microsoft/BotBuilder/issues/3757) and got some ideas about how to do it... b

[2018-06-11 12:12] imailer2015 opened #4726 "Microsoft Bot Framework Queries"
## Bot Info
* Active Channels: MS Teams

## Issue Description

1. What is the max / ideal message size of the message Microsoft bot connector sends to the chat bot ?
2. What is the maximum number of connections Microsoft Bot Framework allows ?
3. What is the maximum number of messages (message per minute / sec) that is permitted by Microsoft Bot Framework ?
4. How does app-id behave when a bot / r

[2018-06-11 13:45] Puneetjoshi24 commented on #1980
I am also facing the same issue in sending pdfs. Any updates?

[2018-06-11 13:45] Puneetjoshi24 commented on #4045
I am also facing the same issue in sending pdfs. Any updates?

[2018-06-11 15:07] ChmilevFA commented on #4046
Does anybody know answer?

[2018-06-11 15:47] SeanSobey commented on #4722
There are some libraries available, like [botbuilder-unit](https://www.npmjs.com/package/botbuilder-unit) and [https://github.com/ctstone/botbuilder-calling-test](botbuilder-calling-test) to assist with integration testing. Use something like [https://github.com/node-nock/nock](nock) to intercept external calls to eg LUIS.

From what I understand the new v4 emulator will allow recording and automa

[2018-06-11 15:58] SeanSobey opened #4727 "[Question] How to disable bot OR specify intent in middleware"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.15.0
* Active Channels: Slack
* Deployment Environment: local via ngrok

## Issue Description
I am trying to disable bot responses in group chats in Slack unless specifically mentioned, this is the designed use case for our bot.

I would prefer to do this in middleware since we have other middleware after this that we wish to intercept and not e

[2018-06-11 16:07] rjgmail88 commented on #4722
Thank you.

[2018-06-11 16:21] JasonSowers commented on #4720
I just realized you were talking about Facebook, I saw emulator and assumed that's where you were having trouble.  It looks like on the facebook end they make all these changes, let me look for a workaround.

[2018-06-11 16:30] EricDahlvang commented on #4722
Closing, since @SeanSobey provided a great answer.  (Thanks Sean!)

[2018-06-11 16:30] #4722 closed

[2018-06-11 17:04] Rykimaruh opened #4728 "using context.call or forward between Luis based dialogs"
Hello,

I am trying to call a a Dialog that has Luis intent from within the root dialog which also has Luis.

`context.Call(new Class1(), ResumeAfterDialog);`

When I call Class1() it only shows a message I have in ResumeAfterDialog(), it is as if it doesn't stay in the child dialog Class 1.

Is there an equivalent of MessageReceivedAsync using LUIS? Is it the "None", "" Luis intents?

Any help is

[2018-06-11 17:22] ukphillips opened #4729 "[.Net SDK, Auth, Emulator] BasicOAuth example code reuses existing token from bot service"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15.2.2
* Active Channels:
* Deployment Environment: Local Emulator

## Issue Description
When using the basic oauth sample with the emulator, previous sign ins are used rather than re prompting for credentials. Once I have logged in the bot framework is continually retrieving the same token, even when I create a new chat session. This also seems to

[2018-06-11 17:39] ukphillips commented on #4729
So I did find this: https://stackoverflow.com/questions/44906266/ms-bot-framework-emulator-chang-user-id

Where you can change the default settings of the emulator, which is cumbersome, but doable, I'm curious though how this should be working in the bot service in terms of keeping track of the tokens without just trusting what the user passes in.

[2018-06-11 17:39] owen-sammut commented on #4720
Hi Jason,

Im experiencing the same issues

[2018-06-11 19:00] rjgmail88 commented on #4722
I wanted to confirm one thing but, issue got closed immediately. As far what I can see here [https://github.com/Microsoft/botbuilder-tools/tree/master/Chatdown](https://github.com/Microsoft/botbuilder-tools/tree/master/Chatdown)

transcripts will be used to design a bot. and not necessarily go through BOT's business logic and Dialog flow/conversation flow.

- Framing the scenarios supported by the

[2018-06-11 19:30] nodeomega commented on #4478
I am not aware of a permanent solution as far as that goes as of yet.  Since using @EricDahlvang workaround, has the issue recurred?

[2018-06-11 20:00] ukphillips commented on #4728
There is a LuisDialog class that you may find useful. Take a look at this sample: https://github.com/Microsoft/LUIS-Samples/blob/master/documentation-samples/tutorial-web-app-bot/csharp/BasicLuisDialog.cs
for an example of how to extent that class and use the LuisIntent attribute.

[2018-06-11 20:00] nyxsys commented on #4726
What is the max / ideal message size of the message Microsoft bot connector sends to the chat bot?

There is no set limit within the bot framework itself, however as you've mentioned this is dependent on the channel connector itself. In your case, with respect to Microsoft teams the documentation on message length can be found [here](https://docs.microsoft.com/en-us/microsoftteams/limits-specifica

[2018-06-11 20:03] ukphillips commented on #4725
If you are extending the LuisDialog object, you should get the LuisResult for free:

https://github.com/Microsoft/LUIS-Samples/blob/master/documentation-samples/tutorial-web-app-bot/csharp/BasicLuisDialog.cs

You may need to initialize the LuisService with a lower threshold to allow for less confident results to come back. (In the sample they are not setting a value on the LuisService constructor)

[2018-06-11 20:05] JasonSowers commented on #4720
@Daddymarto01 @owen-sammut I am going to respod to the StackOverflow question as it is easier for people to find. https://stackoverflow.com/questions/50759325/change-default-currency-to-preferred-currency-in-receipt-card-bot-framework

[2018-06-11 20:05] #4720 closed

[2018-06-11 20:35] JasonSowers commented on #4720
Answer posted

[2018-06-11 20:59] fanidamj commented on #4627
[Duplicate](https://stackoverflow.com/questions/50407463/microsoft-bot-connector-errorresponseexception-in-createconversationasync-meth) of StackOverFlow Question.

[2018-06-11 20:59] #4627 closed

[2018-06-11 21:01] fanidamj commented on #4628
@genloz Can you please confirm if the issue still persists?

[2018-06-11 21:59] nyxsys commented on #4725
Just to build on what the previous commentor said, here's what the call to the constructor looks like in my LUIS bot to get low-threshold intents:
[code]

And to actually check if a low scoring intent won, it might look something like this:

[code]

If you'd still like to work on the BestResultFrom approach, I can dig further into that to help you there.

[2018-06-11 22:12] JasonSowers commented on #4724
Can you please provide a conversation ID, channel, and time range?

[2018-06-11 22:30] JasonSowers commented on #4708
@kofarrell1076 Any luck with directLine?

[2018-06-11 22:39] SeanSobey commented on #4722
The new emulator appears to have a [cli](https://github.com/Microsoft/BotFramework-Emulator/tree/v4/packages/emulator/cli) package that will allow automated running of those transcripts. Since the emulator runs a local Direct Line server to connect with the bot this will be the most viable option to test a bot through it's API without deploying first. Perfect for integration tests eg on a CI serve

[2018-06-12 00:56] JasonSowers commented on #4728
Are you using a single LUIS model?  If yes, why do you need multiple LuisDoalogs, what is your scenario?

no

[2018-06-12 02:06] Rykimaruh commented on #4728
@JasonSowers , it's using the same LUIS model. My scenario is that I have a bot that offers 2 areas of support, Tech and HR for example. However I have a root dialog with LUIS that determines the intent of the user and then depending on the utterance, it "directs" the conversation to the corresponding area of support which are in separate classes.

If a user write about HR support, then the intent

[2018-06-12 02:42] shelwig commented on #4628
I also ran into this issue tonight. Here is my bot URL: https://buzibot.azurewebsites.net/api/messages

[2018-06-12 02:51] JasonSowers commented on #4728
I do know of a way to have multiple LuisDialogs for the same model, but I have never tried.  I think you are going to have to use a single LuisDialog and let that dialog route things accordingly.  You can still do exactly what you want as you can have an intent call any other dialog/service/class/etc.

[2018-06-12 03:52] rjgmail88 commented on #4722
Thanks. So looks like new emmulator will have some capabilities soon. Right?
Final thing I would to ask you is about this library & get your thoughts on it.

https://github.com/aiden/autobot

[2018-06-12 05:31] Kartik1607 commented on #4724
It happened on 1 June on lots of conversations. Some of the id's are
* 6iWVu4Imyc0BYgSpmRXu7n - 2018-06-01T19:50:56.2583326Z
* G9ulqyzmOSID9A6tqCjXcP - 2018-06-01T19:51:54.711801Z
* I2TYtc9F1ZKFvXaydCiGMc - 2018-06-01T21:01:01.1870446Z
* DnzJguQILQLBDXw1O4Agev - 2018-06-01T21:01:31.2501516Z
* CUZ8Bsyds1iAF9SBiED6vI - 2018-06-01T21:06:42.6035772Z
* 9GgREiA46po32RV2v5KIdm - 2018-06-01T22:52:54.19309

[2018-06-12 06:21] imailer2015 commented on #4726
Hi Team,
For the last question, i understand that the appID is tied to the Microsoft DC where the resource was created. If there is a requirement to keep the appID constant for a particular region / globally, will that be possible in any way ?

[2018-06-12 07:06] handsomeyao77 commented on #4321
MicrosoftAppCredentials.TrustServiceUrl(activity.ServiceUrl);
this code works~

[2018-06-12 09:31] Daddymarto01 commented on #4720
This was so helpful @JasonSowers . Currency issue is fixed now and tested on all channels

[2018-06-12 12:18] deepratdello opened #4730 "Getting "There was an error sending this message to your bot: HTTP status code BadGateway""
## Bot Info
* SDK Platform: .NET
* SDK Version:
* Active Channels: Web Chat from Azure.
* Deployment Environment: On Premise deployment

## Issue Description
Getting the error "There was an error sending this message to your bot: HTTP status code BadGateway" when try to debug using ngrok when sending the message from Azure Web Chat Channel.
Normally when not debugging I'm getting the error "There

[2018-06-12 12:53] SeanSobey commented on #4718
Hi @stevkan, thanks for your reply.

My example was based off the `Middleware.dialogVersion` included in the SDK which also results in a 400 error:
[code]
Note this only happens in Skype not via the Emulator, Slack or Messenger. This still appears to be a bug?

[2018-06-12 12:59] SeanSobey commented on #4727
Great, works perfectly! Thanks @nyxsys .

[2018-06-12 12:59] #4727 closed

[2018-06-12 13:15] SeanSobey commented on #4722
Seems decent enough, but as I mentioned currently it's quite tricky to get Direct Line connections working on localhost. So that library will only work against a published bot via direct line, not that idea for testing.

On the current project I am working on, our testing strategy has been unit testing and a few integration tests per dialog connecting via ConsoleConnector using a custom test harne

[2018-06-12 14:17] JonesAbramoff commented on #4321
I have tried MicrosoftAppCredentials.TrustServiceUrl with 3.15.2.2 and a few times a day it doesn´t work.

[2018-06-12 14:48] rjgmail88 commented on #4722
@SeanSobey, thank you. This is great info and helps me to make some decisions on my project.

[2018-06-12 16:26] JonesAbramoff opened #4731 "buttons of type OpenUrl not shown in herocard with Kik channel"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15.2.2
* Active Channels: Skype, Telegram, Kik, Facebook Messenger
* Deployment Environment: Azure App Service

## Issue Description
The same herocard that works fine in Skype, Telegram and Facebook Messenger doesn´t work with Kik where the buttons are not shown.

Buttons are not shown at the bottom as in https://docs.botframework.com/en-us/channel

[2018-06-12 16:29] nyxsys commented on #4726
Regionally is possible, but globally is not unless you route all requests to the same bot instance. However this might result in a slower experience the further out the instance is from your customers.

[2018-06-12 16:45] Kafar opened #4732 "Simple Bot return "There was an error sending this message to your bot.""
## Bot Info
* SDK Platform: .NET
* SDK Version: 4.7
* Active Channels: Web Chat
* Deployment Environment: VStudio publish as Azure Service

## Issue Description
I followed this tutorial https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-deploy-azure?view=azure-bot-service-3.0 creating on Visual Studio a sample project using the Bot template. I deployed succesfully on Azure. But w

[2018-06-12 16:56] stevengum commented on #4723
[code]

This doesn't look right based on this [Stack Overflow post](https://stackoverflow.com/questions/13371284/curl-command-line-url-parameters), have you tried formatting your curl request the way they mention in the post?

___

Are you using Postman or curl?

___

Have you tried updating the version of the bot to the latest version?

Is it possible the appId or appPassword changed and is no lo

[2018-06-12 17:41] #4622 closed

[2018-06-12 18:02] JasonSowers opened #4733 "[.NET SDK] 401 Unauthorized in 3.15.2.2"
Bot Info
* SDK Platform: .Net
* SDK Version: 3.15.2.2

## If you are experiencing this issue please post the following details, do not just post "Me too" with no details

1. Frequency - How often is this happening? Every message? Randomly and how often ex. 1 out of 10 messages
2. What channels is this happening on, is it working on any channels?
3. Stack trace
4. Deployment where is this happening

[2018-06-12 18:05] IntranetFactory opened #4734 "UpdateActivity fails in Cortana and WebChat channel"
I get status MethodNotAllowed with
Error.Code BadArgument
Error.Message "This channel does not support this operation"

After reading "Some channels allow you to edit an existing activity" https://github.com/Microsoft/BotBuilder/blob/cc35ac5af30de5898514f53a509538df232952dd/CSharp/Library/Microsoft.Bot.Connector.Shared/Swagger/ConnectorAPI.json#L292

I'm now wondering

1. is the BadArgument error

[2018-06-12 18:13] JasonSowers commented on #4321
@JonesAbramoff @blrchen @apollondeveloper

Can you please post in this issue I created #4733 With the following details:
1. Frequency - How often is this happening? Every message? Randomly and how often ex. 1 out of 10 messages
2. What channels is this happening on, is it working on any channels?
3. Stack trace
4. Deployment where is this happening - Local testing? Azure? Both?

if not locally
5.

[2018-06-12 18:16] JasonSowers commented on #4486
@prorokane @carltierney and anyone else experiencing this issue
 If you are experiencing 401 errors in 3.15.2.2 Can you please post in this issue I created #4733 With the following details:
1. Frequency - How often is this happening? Every message? Randomly and how often ex. 1 out of 10 messages
2. What channels is this happening on, is it working on any channels?
3. Stack trace
4. Deployment wher

[2018-06-12 18:23] JasonSowers commented on #4731
Can you please share your herocard code so we can take a look?

[2018-06-12 18:28] kevinport commented on #4486
1. Every 2-5 hours, the first message
2. Webchat, Facebook
3.    at Microsoft.Bot.Connector.Conversations.<ReplyToActivityWithHttpMessagesAsync>d__9.MoveNext()\r\n--- End of stack trace from previous location where exception was thrown ---\r\n   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)\r\n   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebug

[2018-06-12 19:42] JasonSowers commented on #4724
Thanks, we will take a look

[2018-06-12 19:48] stevengum commented on #4712
@Shadow85Pl, sorry for the delay... We've got a repro now and are investigating the issue.

[2018-06-12 19:48] EricDahlvang commented on #4046
The only explanation is that Sameroom is not using the Microsoft Bot Framework.

[2018-06-12 20:14] skravtsov commented on #4046
Visit this project http://evergreen.team/en/box-producs/konnektor.html for more details. Maybe it will explain to you how it can be possible.

[2018-06-12 20:24] ukphillips commented on #4709
@Rykimaruh can you post the contents of that token in here. I want to make sure the scopes are correct in the token. Perhaps this is just missing one of the scopes?

[2018-06-12 20:48] nyxsys commented on #4730
Try the following and see if they fix your issue:

- use the following ngrok command to start forwarding:  ngrok http <port> -host-header="localhost:<port>"

- Check your Web.config file and make sure you've set your AppId and AppPassword properly

- update ngrok and update your bot-related dependency packages

Please follow up if the previous solutions don't work for you.

[2018-06-12 21:36] JonesAbramoff commented on #4731
if (bComCard && objRet.CardTitulo != "" && objRet.CardFigura != "")
                {
                    var heroCard = new HeroCard();
                    heroCard.Title = objRet.CardTitulo;
                    heroCard.Subtitle = "";
                    heroCard.Text = "";

                    if (objRet.CardFigura != "")
                    {
                        heroCard.Images = new List<

[2018-06-12 21:39] JasonSowers commented on #4731
I took a look at this and was able to determine in my testing that buttons are not showing up in kik is  the reasonthat the `title` does not have a value.  Once I put a value in there the buttons showed up.

However, This is unfortunately still not going to work for you.  In order to display "Hero Cards" in kik we have to use [keyboards](https://dev.kik.com/#/docs/messaging#keyboards) specifically

[2018-06-12 21:49] JasonSowers commented on #4731
I see you are including the title, which is odd.  which is interesting because not including it was the only way I could make the buttons not show up.  Is there a chance your title on th `cardAction` is an empty string or null?

[2018-06-12 22:15] ujwalakhaire commented on #4733
Frequency - Every 2-3 hrs.
What channels is this happening on, is it working on any channels? -> We are available only on teams and it's happening on teams.

Stack trace ->
[unauthorized_stacktrace.txt](https://github.com/Microsoft/BotBuilder/files/2095970/unauthorized_stacktrace.txt)

Deployment where is this happening - Azure

5. Type of bot Functions bot? Web App bot? -> Web App Bot [Microsoft

[2018-06-13 01:14] stevkan commented on #4316
Take a look at this blog, [Unit Testing for Bot Applications](https://www.microsoft.com/developerblog/2017/01/20/unit-testing-for-bot-applications/). It is the same model that is used in the BotInsightsTest example you previously referenced. You can also checkout this video presentation from Channel9, [Testing the Bot Framework](https://channel9.msdn.com/Series/DevOps-for-the-Bot-Framework/Testing

[2018-06-13 01:31] odannyc opened #4735 "Image "Tap" Not working in Facebook Messenger"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15
* Active Channels: facebook messenger
* Deployment Environment: local

## Issue Description
I created a hero card with an image, the image contains a "Tap" so when a person taps on the image, it should go to some url. It works in the emulator correctly but not in Facebook Messenger.

## Code Example
[code]

[2018-06-13 04:05] rjgmail88 commented on #4316
@stevengum , I had look at the Blog you referred earlier. It's using **builder.IntentDialog()** where I am LUIS .trigger() action to trigger a LUIS intent dialog.

I will have to rewrite everything in order to make use of IntentDialog. Also, I feel it's a older way so trigger()  is better way. Moreover, with new Bot sdk v4 not sure if this method will be supported unless something new is coming.

[2018-06-13 05:05] prorok-kane commented on #4733
1) 2-3 hours, can appears in background job logs.
2) Telegram
3) [StackTrace.txt](https://github.com/Microsoft/BotBuilder/files/2096594/StackTrace.txt)
4) Azure
5) Web App (Actualy don't understand this question)
6) Disabled right now
7) 2018-06-12 12:57:38.4186 and -230902953

[2018-06-13 05:13] JasonSowers commented on #4734
Yes, see below

Looks like you found a way, but see below

I would guess there is not one, but I can look tomorrow.

You would only have the opportunity to update an activity on a channel that would allow you to edit a previous message sent in the channel.  For example, in slack you can "edit message" or "delete message".  Now I have never tested it in slack so I am not sure if it even works in th

[2018-06-13 05:16] #4726 closed

[2018-06-13 05:16] deepratdello commented on #4730
Hi nyxsys,
I updated the BOT SDK and checked the AppId and Password it's correct.
Is there anything else I can try?

[2018-06-13 05:46] stevengum commented on #4701
Cross linking to Stack Overflow issue: https://stackoverflow.com/questions/50687425/bot-framework-automatically-add-page-to-facebook-channel

[2018-06-13 07:03] IntranetFactory commented on #4734
Our use case for UpdateActivity are Adaptive Cards. When Action.Submit is clicked we need to remove the form and the buttons. How can this be done in WebChat (and MS Teams) when UpdateActivity isn't supported by these?

[2018-06-13 15:09] JasonSowers commented on #4734
@IntranetFactory  I highly recommend asking this on Stack Overflow because another customer may have found a workaround that we did not think of.

WebChat - There is not going to be a straightforward way to accomplish this as there is nothing built-in to webchat that allows this. Let me talk to our webchat experts and see what they recommend.

Teams - I will ping the MS Teams team and ask if they

[2018-06-13 15:48] lukasvolf commented on #4668
I'd appreciate somebody to answer the question, but from the silence I think I can already guess the answer...

[2018-06-13 16:02] nyxsys commented on #4730
So just a quick run-through on how to use ngrok, just because I'm not sure which step is missing:

- Copy over AppId and password from azure portal to bot

- Start Bot

- Copy over the port from your bot to ngrok http <port> -host-header="localhost:<port>"

- Copy over the https ngrok endpoint that is published by that command to the azure portal messaging endpoint https://<id>.ngrok.io/api/messag

[2018-06-13 16:48] Daddymarto01 opened #4736 "[Telegram, .NET SDK] Request mobile number and location from Telegram bot"
## Bot Info
.NET
telegram,facebook,slack

## Issue Description
I need to automatically prompt user to input mobile number and location on suggested action just like it is done on facebook  messenger
## Code Example

                    if (reply.ChannelId.Equals("facebook", StringComparison.InvariantCultureIgnoreCase))
                    {
                        var channelData = JObject.FromObj

[2018-06-13 17:55] kevinport commented on #4733
Every 2-5 hours, the first message
Webchat, Facebook
at Microsoft.Bot.Connector.Conversations.d__9.MoveNext()\r\n--- End of stack trace from previous location where exception was thrown ---\r\n at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)\r\n at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)\r\n at Microsoft.Bot.Connec

[2018-06-13 18:52] ukphillips commented on #4295
@JasonSowers This makes sense - The part I'm struggling with is how to best handle updating a user data from some other service. My scenario is that I'm wanting the website that is hosting my webclient to send an event to my bot (via directl line) including my user's information. This is working, but the user info is not coming through to the real user because the Address.FromActivity(activity) ha

[2018-06-13 19:15] hitaspdotnet commented on #572
Update?

[2018-06-13 19:17] nrobert commented on #572
See my answer below, it's already out for weeks, what do you mean by "update?"?

[2018-06-13 19:17] Geertvdc commented on #572
@hitaspdotnet the new version of the API that supports .net core is located here: https://github.com/Microsoft/botbuilder-dotnet

they moved it to a separate repo

[2018-06-13 19:22] hitaspdotnet commented on #572
@nrobert issue is still open

[2018-06-13 20:35] stevkan commented on #4316
@rjgmail88, I can't help on how the system is currently designed. As the SDK is open source, you are always free to adjust the code to meet your needs.

As for the v4 SDK, a new tool, testadapter, is being implemented that should make testing easier. You can look at some of the code [here](https://github.com/Microsoft/botbuilder-js/search?q=testadapter&unscoped_q=testadapter), if you're curious.

[2018-06-13 20:35] #4316 closed

[2018-06-13 21:19] JasonSowers commented on #4735
In order to accomplish this, you will need to move your `Tap` `CardAction` to a `HeroCard` property rather than a `CardImage` property like this:

[code]
This seemed odd that it wasn't working on FB as I thought it would so I looked over their API to see if there was something we could do on our end to include this at the `CardImage` level.  After reviewing the [Generic template API documentation]

[2018-06-13 21:35] stevkan commented on #4732
Can you verify that you entered 'MicrosoftAppId' and 'MicrosoftAppPassword and their respective (correct) values into the Application Settings of the App Service for your bot?

Unfortunately, you can't view the password after it's created. However, you can generate a new password (deleting the old one) and replace it in the Application Settings. Visit the [Apps](https://v-stkanb-simplebot1.azurewe

[2018-06-13 22:01] mclark4873 opened #4737 "cannot save OAuth settings for Skype for business"
## Bot Info
* SDK Platform: .Net
* SDK Version:
* Active Channels:
* Deployment Environment: Azure Bot Service

## Issue Description

Skype for business requires settings which I believe I would add via the OAuth settings under the settings tab in Azure for my chatbot.  I click the add button, fill in the settings and hit save.  The save button says "validating", and then it goes back to the previ

[2018-06-13 23:03] JasonSowers commented on #4295
@ukphillips I'm not sure I follow, but that may be because I have never tried to implement what you are describing. Could you open a new issue with a minimum sample so we can take a look?  I will be out for a couple weeks, but someone should be able to assist you with this.

[2018-06-14 00:36] #4735 closed

[2018-06-14 07:38] sharmadine commented on #4686
@JasonSowers we are getting 503 again now in our production bot hosted in West Europe.

[code]

[2018-06-14 07:45] Squashy83 commented on #4074
Hi there!

I'm getting since yesterday '[503] Service Unavailable' quite often from directline...any news MS side?

Thanks

[2018-06-14 08:03] mutanttech opened #4738 "DirectLine Service is responding with "503 Service Unavailable". Service Down."
## Bot Info
* SDK Platform:  .NET
* SDK Version: 3.12.2.4
* Active Channels:   Direct Line
* Deployment Environment:  Azure Bot Service, Azure App Service,

## Issue Description
Bot is not able to respond back, throwing "503 Service Unavailable".

## Code Example
No Code

## Reproduction Steps
1. Open any bot that connects with Direct Line Channel

## Expected Behavior
Directline should respond.

[2018-06-14 08:34] Squashy83 commented on #4738
Same problem!
SDK Platform: NodeJS
SDK Version: 3.15
Active Channels: Direct Line
Deployment Environment: OnPrem

[2018-06-14 08:40] pupipipu commented on #4738
Same issue
SDK Platform: NodeJS
SDK Version: 3.14.1
Active Channels: Direct Line
Deployment Environment: Azure Bot Service, Azure App Service

[2018-06-14 08:43] singhsurya commented on #4738
Same issue with our chatbot
.Net SDK version 3.15.2.2
Channel: Directline
Deployed: Azure bot service

[2018-06-14 08:43] ibrahemw commented on #4738
i am getting the same issue!
SDK Platform: NodeJS
SDK Version: 3.15
Active Channels: Direct Line
Deployment Environment: Azure Bot Service, Azure App Service

[2018-06-14 08:50] easkerov commented on #4686
@JasonSowers @sharmadine  We have have the same issue too on our production bot deployment

[2018-06-14 08:53] JPThorne commented on #4686
We are also having the same errors on all our bot environments. A sample error:

[code]
This is on the C# SDK. Latest version.

[2018-06-14 08:55] willemodendaal commented on #4686
Same  issue too. (and we definitely use a custom state client)

[2018-06-14 08:59] EdwinOtten commented on #4738
Same issue
SDK Platform: C#
SDK Version: 3.12.2.4
Active Channels: Direct Line
Deployment Environment:
- Web App Bot (Azure, global)
- App Service (Azure, West Europe)

[2018-06-14 08:59] JPThorne commented on #4738
We are also having the same issue.
Here's a sample of the error:

[code]

[2018-06-14 09:21] mchsudhakar commented on #4738
![image](https://user-images.githubusercontent.com/33250523/41403379-59976798-6fe2-11e8-9bc1-e460c0b3ec4b.png)

[2018-06-14 09:22] mikethetike commented on #4686
Same

[2018-06-14 09:30] sharmadine commented on #4686
The error that I am getting now is:

[code]

[2018-06-14 09:40] Puneetjoshi24 commented on #4738
Facing the same issue

[2018-06-14 09:42] sangeeta211M commented on #4738
![image](https://user-images.githubusercontent.com/23422032/41404513-10fad8aa-6fe5-11e8-9917-2701336ac4a2.png)

I got this message on Azure when we click on Channels.
Facing the same Issue of 503 (Service Unavailable).

[2018-06-14 09:45] viralgandhi commented on #4686
Do we have a solid solution for this? This is affecting in production. We are getting below error
Failed to load https://directline.botframework.com/v3/directline/conversations: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://preview.c9users.io' is therefore not allowed access. The response had HTTP status code 503.

[2018-06-14 09:48] Puneetjoshi24 commented on #4738
<img width="895" alt="screen shot 2018-06-14 at 3 17 46 pm" src="https://user-images.githubusercontent.com/14908663/41404951-2761ad48-6fe6-11e8-8774-5ecbaf2f5aa8.png">

This is what I am getting in Directline channel in azure portal

[2018-06-14 09:50] harigovind511 commented on #4738
**Same Issue:**
We are facing same issue, 503 Service Unavailable when trying to connect to Directline
![image](https://user-images.githubusercontent.com/30496850/41404958-2e101ab2-6fe6-11e8-94f5-4c863a611008.png)
![image](https://user-images.githubusercontent.com/30496850/41405019-5f9c88c2-6fe6-11e8-9b61-b10717914310.png)

Above screenshots are from Google Chrome 66 Dev Console.

[2018-06-14 09:52] mutanttech commented on #4738
If any one from MS is available, kindly address this issue or at least post a status update. I have been checking the service calls since I have opened the issue and I have found really inconsistent Direct Line responses, it responded with 500 Internal Server Error , 502 Bad Gateway, 503 Service Unavailable in different attempts and it occasionally served data as well.

When I am testing the bot f

[2018-06-14 10:02] nrishoj commented on #4559
I do experience the exact same problem.

The published bot is located at Azure/West Europe. It does seem to be random, but in clusters. Today has been critical.

I rarely experience it with my local emulator.

Time | Message
-- | --
6/14/2018, 11:49:15 AM | There was an error sending this message to your bot: HTTP status code GatewayTimeout
6/14/2018, 11:47:35 AM | There was an error sending this

[2018-06-14 10:10] kanishk-mehta commented on #4686
Having the same issue. Bots are in production.

[2018-06-14 10:12] bhushanvadgave commented on #4686
Same issue for us as well, causing production downtime. :(

[2018-06-14 10:18] Kumar-Ashwin-Hubert opened #4739 "Activity events are not getting logged in App insights while using from cortana"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15.2.2
* Active Channels: Cortana, Webchat
* Deployment Environment: Azure Bot Service

## Issue Description
The `Activity` events are not getting logged in App insights while using from **cortana** channel, thus not showing in Analytics as well. Other channels like webchat, directline's  Activities are getting logged. Issue also discussed at https

[2018-06-14 10:18] rmaheshwaran commented on #4738
Same issue here.
It is unstable.

[2018-06-14 10:19] rmaheshwaran commented on #4738
I see the service is back up again. Able to post to the direct line API successfully.

[2018-06-14 10:32] mchsudhakar commented on #4738
![image](https://user-images.githubusercontent.com/33250523/41407197-52d0a046-6fec-11e8-97c9-1becfdd9f30d.png)

from https://azure.microsoft.com/en-gb/status/

[2018-06-14 10:39] vincec-msft commented on #4074
Yes, Direct Line had an outage tonight. It should be mitigated now. Updates here: https://azure.microsoft.com/en-us/status/

[2018-06-14 10:47] EdwinOtten commented on #4738
I've left a WebChat window open for the last few hours, a lot of requests were taking too long and resulted in the 503's.

Then, since around `2018-06-14 09:59:00 GMT`, the requests stopped failing and the response time gradually decreased from ±14 seconds to <200ms a minute later.

Since then (for at least and hour, that is) all requests are succeeding (200 OK) and the response times are generall

[2018-06-14 11:02] mutanttech commented on #4738
I can confirm as well, that the Service works now. Still to see performance data. BTW, the message below:

Message, does not clearly describes which resources  and as per the message it started at 7:15 UTC and currently its 11:00 UTC, so looks like the problem was really big.

In Azure Portal under Service Health shows above message and Potential Impact in 0 resources, what does it mean?

The stat

[2018-06-14 11:15] mchsudhakar commented on #4738
Final Update
![image](https://user-images.githubusercontent.com/33250523/41409023-50d2ea3c-6ff2-11e8-99b8-1fd6ca580b1f.png)

[2018-06-14 11:19] ItsMeArthur commented on #4559
@JasonSowers Sorry for the delayed answer. I always deploy my chatbots either to Central US or South Central US, and I had the problem occur in bot regions.

[2018-06-14 11:27] pupipipu commented on #4738
the issue still happens for me...

[2018-06-14 11:29] sangeeta211M commented on #4738
Same here, It was working fine before a while. Now it is again giving the same error of 503. It is highly inconsistent.

[2018-06-14 11:59] catcher-in-the-try commented on #4738
Dear Microsoft,

Please avoid this in the future, as we nearly lost a customer when we couldn't demo their bot because of this bug.

[2018-06-14 13:18] eskivelevolution opened #4740 "URL origin webchat from users browser"
Hi,

Has a way to get the URL origin webchat (URL from browser that send and receive the messages). I need validate if the URL origin is the URL that instanced the BotFramework.

If I use for example (**origin**):
[code]
It can be changed in browser, I need get it from header or more security.

Thank you!

[2018-06-14 13:54] Caynosadler commented on #4647
Hi @jesus-seijas-sp I am facing a similar problem, i'd like to know if you were able to resolve it without creating a new bot and redeploying SFB

[2018-06-14 16:09] ukphillips commented on #4709
@Rykimaruh a 6 digit number sounds like the magic code issued from the token service. The Token should be a JWT in the form of:

eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c

You should be able to see it when debugging here:
[code]

by inspecting token.Token

[2018-06-14 18:11] MrKafr opened #4741 "Bot stopped running after free trial run off"
## Bot Info
* SDK Platform: .NET
* Active Channels: Skype
* Deployment Environment: Azure Bot Service, Azure App

## Issue Description
Hello, I have a little problem... When my free trial run off my bot stopped working. I dont know why, it looks like it's running, at least in App Service monitoring. When i try my bot in Web bot chat, it's just loading and never fully loaded. I can send more inform

[2018-06-14 18:28] EricDahlvang commented on #4741
Have you upgraded to a paid subscription?

[2018-06-14 18:34] MrKafr commented on #4741
Yes i did.

![image](https://user-images.githubusercontent.com/39694661/41431088-204079dc-7012-11e8-90d7-37be3f9c4c24.png)

![image](https://user-images.githubusercontent.com/39694661/41431111-3720023a-7012-11e8-81ad-1be67bf91482.png)

I hope, that any of this details are like... private.

[2018-06-14 18:41] EricDahlvang commented on #4741
This is a public forum, so anything you post here is not private.

Please share your Bot Handle and the bot's MicrosoftAppId, so we can investigate.

[2018-06-14 18:48] MrKafr commented on #4741
No no, i mean like... That nothing in that screenshot can be use without my knowlege.

BotHandle: KafrOSv2
MicrosoftAppID: 2f3a748a-f9ac-44fd-9514-924ddc7807d9

[2018-06-14 19:28] jesus-seijas-sp commented on #4647
Hi @Caynosadler :
I did an analysis of what is happening, I will explain what I did and my conclussions:
1. I created a new skype for business tenant.
2. I created 6 bots, 3 on the same tenant as skype, 3 on a different tenant. 2 of the bots deployed on azure, 2 on AWS and 2 on my local through ngrok.
3. Every bot pointing to https://{host}/api/messages
4. I connected the 6 bots to my Skype for bu

[2018-06-14 19:54] EricDahlvang commented on #4741
@MrKafr

Please try navigating to the bot's endpoint url in a browser window.  It should state something to the affect of "405: Get is not allowed".  But, there appears to be something else incorrectly setup with this bot.

Please email me privately (my email address is on my profile page https://github.com/EricDahlvang ) if you require further assistance resolving the issue.

(also, I don't think

[2018-06-14 20:32] nyxsys commented on #4740
You'll want to use your bot's directline backchannel to pass information like this. Expanding on what you already have there, here's a bit of example code.

[code]

[2018-06-14 20:40] EricDahlvang commented on #4734
Labeled as a Feature Request.  UpdateActivity is not yet supported on Cortana or WebChat.

[2018-06-14 20:44] IntranetFactory commented on #4734
Do you have any information if any Microsoft product supports UpdateActivity today?

[2018-06-14 20:49] EricDahlvang commented on #4686
@sharmadine @easkerov @JPThorne @willemodendaal @mikethetike @viralgandhi @kanishk-mehta @bhushanvadgave The issue is from 13 hours ago is tracked here: https://github.com/Microsoft/BotBuilder/issues/4738

4686 is a different issue from two weeks ago.

[2018-06-14 20:51] nyxsys commented on #4737
Could you please double check your OAuth settings again (and retry adding your new one if needed). This issue appears to have been transient, as I was able to reproduce it this morning but have since seen these OAuth connection settings appear.

[2018-06-14 21:00] EricDahlvang commented on #4331
Hi @uucwq

Please ask this question on Stack Overflow so the entire community can benefit from the QnA: https://stackoverflow.com/questions/tagged/botframework  Also, provide the code you are using.

[2018-06-14 21:58] delight-by commented on #4477
@JasonSowers

Wonder how you can recommend that if CachingBotDataStore is the only thing that makes the state being saved (because of its FlushAsync implementation that loads state instances and calls SaveAsync on them). Even InMemoryDataStore doesn't work without it in tests.

[2018-06-14 22:05] EricDahlvang commented on #4486
Closing #4486.  https://github.com/Microsoft/BotBuilder/issues/4733 will now track the elusive 401s some users are seeing, until the issue is resolved.

[2018-06-14 22:05] #4486 closed

[2018-06-14 22:17] Rykimaruh commented on #4709
@ukphillips

Would you like me to send it privately or something? I am not sure if posting the token that gives personal info like email and other things related would be ok in a public forum.

However, do let me know if it's ok or safe to do so, just wanted to be careful of posting info that pay show personal info.

[2018-06-14 23:03] EricDahlvang commented on #4733
@ujwalakhaire @prorok-kane @kevinport Are your bots using the default state service?  If not, what state store are they using?

[2018-06-14 23:04] MaJaHa95 commented on #4538
I was not using AzureFunctions.Autofac, but repro'd the exact same issue. Pretty weird. Played with versions of the Nuget packages and all.

I'm just gonna roll back some changes, and switch over to the Web App version. I was actually working on transitioning a pre-prod bot over to Functions, for the scalability. But this'll have to do for our purposes. Considering there's an Azure template for bu

[2018-06-14 23:34] EricDahlvang commented on #4680
@jolienai It looks like education.microsoft.com no longer has that bot on their page.

I've never used hemify-icons or owl so I haven't duplicated your exact setup, but this works: http://modaldialogbot.azurewebsites.net/

![modalwebchat](https://user-images.githubusercontent.com/11055362/41443240-9017e456-6ff0-11e8-9797-e61a3e8d5593.gif)

[2018-06-15 02:54] ukphillips commented on #4709
@Rykimaruh fair enough, can you decode it and redact the sensitive information for posting? Really I'm just interested in the claim types and the scopes it contains - both of which should be insensitive data.

[2018-06-15 03:48] Rykimaruh commented on #4709
`{
  "typ": "JWT",
 }`

---------------

{

  "scp": "email Mail.Read Mail.Send profile User.Read",

}

is t his enough? let me know

[2018-06-15 03:54] prorok-kane commented on #4733
@EricDahlvang now InMemoryDataStore.

[2018-06-15 05:50] stevengum commented on #4738
@sangeeta211M, @pupipipu, are you still running into this issue? As indicated the issue has been mitigated and bots previously running into this issue should now be unblocked.

[2018-06-15 06:10] pupipipu commented on #4738
@stevengum it is working again now, thanks. As @catcher-in-the-try said, please try to avoid this issue in the future, especially as Azure Bot Service is GA paid service.

[2018-06-15 07:02] harigovind511 commented on #4738
Hey @stevengum , I work along side @sangeeta211M and the issue now seems to be resolved.

Thanks & Regards,
Hari

[2018-06-15 07:49] kevinport commented on #4733
@EricDahlvang TableBotDataStore, like the default azure bot template

[2018-06-15 09:25] Rufus1123 opened #4743 "OnHangupCompleted is never raised in Skype calls"
* SDK Platform: .NET
* SDK Version: 3.15.2.2
* Active Channels: Skype
* Deployment Environment: Azure App Service

## Issue Description
The event OnHangupCompleted is never raised; neither when the call is ended by the user, nor when the bot executes a Hangup action.

## Code Example
[code]

## Reproduction Steps
1. Using the Skype-calling-bot example
2. Deploy to Azure
3. Set a breakpoint and rem

[2018-06-15 09:34] igor-pukhlov commented on #4651
@EricDahlvang Hello,

Any news about our issue?

Today our client get a new error with Skype bot — «ServiceError: Unknown»: http://jmp.sh/slkjhqo
Interesting that some messages were sent to the user, but some of them not.

This is our logs:
15.06.2018 11:23:30 | 12 Mb | 13 Mb | service_url: https://smba.trafficmanager.net/apis/
15.06.2018 11:23:31 | 12 Mb | 13 Mb | Result:
15.06.2018 11:23:31 | 12

[2018-06-15 12:11] ukphillips commented on #4295
Sure, so let's say on the page that is hosting my bot, I want initiate my chat serverside to get a token (rather than using my secret for the webchat), and I also take the liberty since I have my conversationId and token to send over the associated useful information for that conversation:

[code]

so at this point before my webchat is even rendered I'm seeding the conversation with the stuff I ne

[2018-06-15 12:24] kofarrell1076 commented on #4708
Got Directline working - Our fault. Blame the dev. Do have an issue with sending attachements on facebook and long azure storage sas links but need to test a little more to narrow it down.

[2018-06-15 13:05] AmiirArtz commented on #3087
@megancooper did you solved this issue? I'm new at this topic so I wan to learn how to deploy a bot in my server.

[2018-06-15 14:09] DylanIvanBrown commented on #4738
The issue doesn't seem to be resolved for us.

We are having issues with Microsoft.Bot.Connector.Conversations very frequently. This is causing issues for our clients :/

[2018-06-15 15:12] NioZero opened #4744 "webchat.botframework.com Timed Out"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15.2.2
* Active Channels: Web Chat, Direct Line, Facebook, Telegram
* Deployment Environment: Azure Bot Service

## Issue Description
The Website webchat.botframework.com is throwing timed out randomnly, so using the web chat it doesn't work. This started happening after an hour ago.

## Code Example
GET https://webchat.botframework.com/api/tokens

[2018-06-15 15:37] ShadeyCN commented on #4667
Hi @xorpoc, @EricDahlvang

I have the same issue, in Azure Portal  appear a lot f warnings with this description ‘ACL Check Failed’, the effect is that some users don’t receive response from the bot.

Note: This bot is already published and issue  appears even if it is in the user's contact list.

Bot Name: Cotiza Bot Protección Diabetes
Bot Handle: [https://join.skype.com/bot/590a8009-4b90-4947-b

[2018-06-15 16:17] JonesAbramoff commented on #4733
Hi,

I am using TableBotDataStore but would like to know if global.asax.cs below is right:

using Autofac;
using Autofac.Integration.WebApi;
using Microsoft.Bot.Builder.Azure;
using Microsoft.Bot.Builder.Dialogs.Internals;
using System;
using System.Collections.Generic;
using System.Globalization;
using System.Linq;
using System.Reflection;
using System.Web.Http;
using Microsoft.Bot.Builder.Dialog

[2018-06-15 16:34] stevkan commented on #4644
Closing due to no response. Please reopen if you're still experiencing this issue.

[2018-06-15 17:01] mclark4873 commented on #4737
When I looked this morning they we visible again. Thanks. However the channel interface now throws exceptions when I try to edit the normal Skype channel.  Wondering if Azure services are ready for prime time at this point.  This is annoying while in development but would be catastrophic to need to wait daysfor “transient” problems to resolved when I need to resolve problems iwith applications in

[2018-06-15 17:37] kevinport commented on #4733
From the current Azure Template

`using Autofac;
using System.Web.Http;
using System.Configuration;
using System.Reflection;
using Microsoft.Bot.Builder.Azure;
using Microsoft.Bot.Builder.Dialogs;
using Microsoft.Bot.Builder.Dialogs.Internals;
using Microsoft.Bot.Connector;
using arcofel_UniversalBot.Dialogs;

namespace SimpleEchoBot
{
    public class WebApiApplication : System.Web.HttpApplicatio

[2018-06-15 17:58] ak2812 commented on #2933
This will be a really useful feature. It would be good to know the timeline

[2018-06-15 18:35] gatsbys commented on #4365
Same here, With SDK 3 and SDK 4, all in Azure...

[2018-06-15 18:46] JonesAbramoff commented on #4733
Hi Kevin,

Thanks for your reply. I have already tried the global.asax.cs from the Azure template and others.

I am using the one from https://github.com/Microsoft/BotBuilder-Azure/blob/master/CSharp/Samples/AzureTable/Global.asax.cs .

May someone tell which one is better ?

[2018-06-15 20:46] ukphillips opened #4745 "GetTokenDialog causes error with login card"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15.2.2
* Active Channels: Direct Line
* Deployment Environment: Azure App Service

## Issue Description
I have been trying to use the GetTokenDialog for triggering a login card for my generic oauth authentication. The card is rendering fine, but once I click it, it redirects me for authentication, but my bot chat window becomes unusable, all entrie

[2018-06-15 21:21] stevengum commented on #4744
@NioZero are you still running into this issue? I haven't been able to repro and have tested multiple times over the last hour or so.

[2018-06-15 21:48] NioZero commented on #4744
@stevengum The service started working after a couple of hours but now I have another problem. Each request is throwing me Error 401: Unauthorized

[2018-06-15 23:44] EricDahlvang commented on #4729
If you need to restart a session with the emulator, you can send ' /deleteProfile' and it should clear out UserData.

UserId should be kept private (hashed, or encrypted).  It is specific to the user.

[2018-06-17 15:30] aforank commented on #4322
I am facing the same issue with v3.15.2.2. After every one hour whenever I try to interact for the first time it throws the same exception "Operation returned an invalid status code 'Unauthorized'". However, when I send the second message it starts working automatically. It's reproducible after every hour. It happens with both webchat and facebook.

[2018-06-17 19:40] arturl opened #4749 "Cannot build Microsoft.Bot.Builder.Samples.sln as a standalone solution"
## Reproduction Steps
1. Load `Microsoft.Bot.Builder.Samples.sln` in VS 2017
2. Build solution

## Expected Behavior
Successful build

## Actual Results
Errors like this:
[code]

The issue is in the csproj files that refers to binaries in the `..\..\Library` directory where they don't exist until they are built by the main solution (`Microsoft.Bot.Builder.sln`).

The Samples solution should be sel

[2018-06-17 21:11] fanidamj commented on #4628
@shelwig Have you tried the above steps mentioned by Andrea?

[2018-06-18 05:13] Jagan-rajan opened #4750 "Web chat Iframe issue in IE 11"
## Bot Info
* SDK Platform:  .NET
* Active Channels: WebChat
* Deployment Environment: Azure Bot Service,

## Issue Description
I have embedded my Webchat window into my website. Everything is working fine on chrome.
But in IE, I am getting an error continously. PFA

![ie error](https://user-images.githubusercontent.com/39727039/41519190-3928765a-72e4-11e8-99e9-053c454e0d69.jpg)

I want to resolve

[2018-06-18 08:40] flatmath commented on #4644
@stevkan I'd like to re-open this issue. The AppId is [80dbaddf-68d0-40ee-9326-edbf49a636da].

[2018-06-18 08:45] flatmath opened #4751 "Multiple Hits to ProcessCallingEventAsync() in Skype Call for every Record Event"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.14.0.7
* Active Channels: Skype
* Deployment Environment: Azure Bot Service, Azure App Service

## Issue Description
We have:

[code]
Sometimes (but almost always, at least 4-5 times in a call), this method is hit thrice in a row for the same event.
Before the first fired event can finish processing, this event is hit a second and then third time,

[2018-06-18 08:46] flatmath commented on #4751
@stevkan @JasonSowers Re-opened issue https://github.com/Microsoft/BotBuilder/issues/4644.

[2018-06-18 09:22] shubhamchawla opened #4752 "context.PostAsync() randomly becomes slow, taking around 20 sec"
## Bot Info
* SDK Platform:  .NET
* SDK Version: 3.8.1.0
* Active Channels: Direct Line
* Deployment Environment: Azure App Service deployed version

## Issue Description
Sometime PostAsync in bot code is taking long time to execute.
below line -
await context.PostAsync("hello");

Usually it takes 500 ms and in some cases it takes around 30-45 seconds.

## Expected Behavior
Response time should re

[2018-06-18 09:57] Bunny10 opened #4753 "[Node.js SDK] How to call IntentDialog from other js file ?"
## Bot Info
* SDK Platform:
* SDK Version:
* Active Channels:
* Deployment Environment:

## Issue Description

## Code Example

//app.js
[code]
//response.js
[code]

[2018-06-18 09:58] Benabaka opened #4754 "Directline Task Cancelled Issue"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15.2.2
* Active Channels: Direct Line + websockets
* Deployment Environment: Bot Channel registration + Azure App Service

## Issue Description
We have been running our bot for more than a year now. We are starting to see the following error (randomly since 2 weeks now) when our bot tries to post async something back to our channel :
"System.Thread

[2018-06-18 10:19] mitkodi commented on #4477
I have the same issue with ```v3.15.2.2```. I'm using ```SqlBotDataStore``` and it happens regardless I register ```CachingBotDataStore``` or not. The bot uses only one dialog and keeps track of its state in a property, but sometimes the ```UPDATE [dbo].[SqlBotDataEntities]``` is not called and on the next message the state is restored to the previous one.

[2018-06-18 12:06] 14geronimo commented on #4090
I'm still unclear.  I'm declaring my LUIS Dialog with a LuisModel attribute like so in C#:
[code]
Where can I add the "bing-spell-check-subscription-key"? The Code Sample at [Get EndPoint Prediction](https://westus.dev.cognitive.microsoft.com/docs/services/5819c76f40a6350ce09de1ac/operations/5819c77140a63516d81aee78) doesn't help me here, since it's assuming constructing the query string manually,

[2018-06-18 12:06] ukphillips commented on #4754
Can you post a code example or discuss perhaps what you are trying to send to the back channel? And there has been absolutely no code changes that might have caused this?

[2018-06-18 12:13] Benabaka commented on #4754
no code change indeed.... The data we are passing back is just text...
This is the code we use to post back to the channel:

 public class PostUnhandledExceptionToUser : IPostToBot
    {
        private readonly ResourceManager resources;
        private readonly IPostToBot inner;
        private readonly IBotToUser botToUser;
        private readonly TraceListener trace;

        public PostUnhan

[2018-06-18 14:05] nisha1142 commented on #4218
@durov mr.pavrl durov, wats going to TELEGRAM APP. i ve a telegram channel with large numbers of subscribers. day by day new users r joining our channel. but there is a biggest chaos i m facing in my channel. actually issue is that when i m trying to pin a post and when i hold on a post and when I holds a post there not any option is showing for pin a post. Was is this sir. Why this function is no

[2018-06-18 14:35] Matti-Koopa opened #4755 "Internal _scripts variable doesn't get cleared in FormBuilderJson causing all further Build-calls to fail"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15.2.2
* Active Channels: all
* Deployment Environment: all

## Issue Description
Calling `new FormBuilderJson(schema).AddRemainingFields().Build()` with invalid syntax fails all subsequent calls, even with correct syntax.

## Code Example

[code]

## Reproduction Steps
1. Prepare a FormFlow-JSON file that has some **invalid** C# code in it (e.g. i

[2018-06-18 14:39] egiesem commented on #3659
solved
https://www.youtube.com/watch?v=vFSgIdtEl2k

[2018-06-18 15:03] MickaelPuygcerver commented on #4701
Ok, but how i can call azure CLI command, in my web code?
I never used it before.

[2018-06-18 15:06] whizlingo opened #4756 "Intermittent timeout errors from Token Uri."
## Bot Info
* SDK Platform: .NET
* Active Channels: Direct line
* Deployment Environment: Azure App service

## Issue Description
We are getting Request time out errors from  token generation service intermittently while running a performance test  -https://login.microsoftonline.com/botframework.com/oauth2/v2.0/token , specifically around this time while running a load test -

Start   time | 6/17/

[2018-06-18 15:37] JonesAbramoff commented on #4733
Hi,

Authorization was failing while sending the first message back in a conversation and I changed my code to use connector.Conversations.SendToConversationAsync instead of PostAsync.

In order to create the connector I followed the recomendation in https://stackoverflow.com/questions/42749982/initiate-a-message-from-bot-to-user-on-botframework/42784932:

                MicrosoftAppCredentials.T

[2018-06-18 17:46] Wenish commented on #4088
so whats the plan on this one?

[2018-06-18 18:05] nyxsys commented on #4750
Try adding this line to your html for your website:

Per [this stackoverflow answer](https://stackoverflow.com/questions/7038724/how-to-automatically-allow-blocked-content-in-ie).

If this alone does not work try adding [the webchat inline rather than in an iframe](https://github.com/Microsoft/BotFramework-WebChat#easy-in-your-non-react-website-run-web-chat-inline).

[2018-06-18 18:17] nyxsys commented on #4477
@peterbozso Thank you very much. I am working with Jason on this and a reproduction would go a long way to being able to get closer to the heart of this issue.

[2018-06-18 18:41] nodeomega commented on #4652
Closing this issue as there has been no reply for an extended period.  If this issue persists, feel free to open a new support request.  Thank you.

[2018-06-18 18:41] #4652 closed

[2018-06-18 18:59] nodeomega commented on #4478
Here's more of what I know:  The Skype team is aware of the issue that you were having, and as far as I know are working on a fix for it.  It may already be fixed, but I am not 100% sure on that.

As there is little more I can do on my end regarding this issue, and since we have a viable workaround for the time being at least, I will be closing this issue.  If the issue persists, you are more than

[2018-06-18 18:59] #4478 closed

[2018-06-18 19:13] nodeomega commented on #4421
Ok, here's what I have found so far with this:
- As far as speech working on emulator (mentioned earlier in the thread), it seems to only speak when you use the microphone function to speak to the bot.  Otherwise the bot will use text.
- As far as Skype is concerned, I have only been able to get any speech to work with the bot myself when in a call with Skype.  I do not know if you are using a mob

[2018-06-18 20:12] nyxsys commented on #4753
To implement this as you've stated (calling intentsDialog from response.js) you will want to export your intentsDialog function via

```exports.intentsDialog = intentsDialog```

At some point after you define it.

After this you can import your app.js into your response.js file via

`var app = require('./app.js');`

and call the method within your "else" via app.intentsDialog.

This may or may not

[2018-06-18 22:58] EricDahlvang commented on #4667
@ShadeyCN Thank you for reporting this, and providing information about the Skype Windows 10 application detail.

I've informed the Skype team.

[2018-06-18 23:01] EricDahlvang commented on #4651
@igor-pukhlov I'm sorry, but I have no update to share from the Skype team.

In regards to your new "ServiceError" issue:

In the future, if you run into a new problem, please open a new issue rather than commenting on an unrelated issue.

Thanks.

[2018-06-18 23:14] EricDahlvang commented on #4752
The Azure Bot Service is experiencing degraded performance that is impacting customers under certain conditions. Our engineering team has identified a root cause and implemented a solution that should mitigate the problem. Today, the fix was deployed to a subset of datacenters where it’s undergoing validation. Pending further verification the team will continue to deploy the fix to datacenters wor

[2018-06-18 23:18] EricDahlvang commented on #4756
Please adjust how you are load testing.  The Direct Line is a shared service, and should not be performance or load tested. We have some instructions for how to load test your bot's code here: https://blog.botframework.com/2017/06/19/load-testing-a-bot/

Secondly:
The Azure Bot Service is experiencing degraded performance that is impacting customers under certain conditions. Our engineering team h

[2018-06-18 23:21] EricDahlvang commented on #4754
The Azure Bot Service is experiencing degraded performance that is impacting customers under certain conditions. Our engineering team has identified a root cause and implemented a solution that should mitigate the problem. Today, the fix was deployed to a subset of datacenters where it’s undergoing validation. Pending further verification the team will continue to deploy the fix to datacenters wor

[2018-06-18 23:35] vishwacsena commented on #4290
V4 preview docs can be found [here](https://docs.microsoft.com/en-us/azure/bot-service/?view=azure-bot-service-4.0).

Here are the individual repos - [C#](https://github.com/microsoft/botbuilder-dotnet), [JS](https://github.com/microsoft/botbuilder-js), [Python](https://github.com/microsoft/botbuilder-python), [Java](https://github.com/microsoft/botbuilder-java)

[2018-06-18 23:35] #4290 closed

[2018-06-18 23:53] EricDahlvang commented on #4755
Would you like to submit a PR for this fix?  (note: the lock should be acquired before clearing the _scripts)

[2018-06-19 02:41] weizhenzhao commented on #4618
@JasonSowers
Hi Dear
I think that you can close this issue.
meanwhile I also have another problems of design, hope you can give me some advices
1、Can bot framework implements context aware function ?
      Because our team got used to using the google's api.ai to do some project for our customers , like
      Cisco , GE .
      My leader ask me a question like if I ask "what's the weather like tod

[2018-06-19 05:08] sourabhlodha commented on #4421
@nodeomega I try on emulator but it doesn't working can you provide me with any sample which is working on the emulator on speech. Only in direct line channel, it's working.

As its critical for me. Please help me with that.

[2018-06-19 05:19] gowrav commented on #3659
@egiesem ..
You saved a life ;) . but try this public static final String USER_AGENT = "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.13; rv:61.0) Gecko/20100101 Firefox/61.0"; mWebView.getSettings().setUserAgentString(USER_AGENT);﻿

[2018-06-19 05:31] Bunny10 commented on #4753
I think you misunderstood my question. Actually, I need to call the luis recognizer embedded IntentDialog "builder.IntentDialog({ recognizers: [luisrecognizer] });" and reroute the "session.message.text" to the IntentDialog, which automatically handles all intent handling in my app.js file

P.S: I dont want to use "builder.LuisRecognizer.recognize(session.message.text, process.env.LUIS_MODEL_URL,

[2018-06-19 05:46] shubhamchawla commented on #4752
Performance seems to have been improved a lot.

In some cases when any particular user leave bot ideal for around 1 hour and then resume conversation, in that case bot takes almost 1 minute to reply.

[2018-06-19 06:06] xitij commented on #4556
@craigjensen Just confirming this is now deployed?

Thanks again.

[2018-06-19 07:18] igor-pukhlov commented on #4651
@EricDahlvang ok, thank you for the answer.

[2018-06-19 07:52] waqas-zia-confiz commented on #4692
Any updates?

[2018-06-19 08:27] Matti-Koopa commented on #4755
I just did: https://github.com/Microsoft/BotBuilder/pull/4757
I think the right place to clear "_scripts" is in the constructor.

[2018-06-19 08:57] Kafar commented on #4732
I tried to generate a new password and checked values but the issue persist.
Thanks

[2018-06-19 09:10] lokinfey opened #4758 ""Operation returned an invalid status code 'NotFound'""
## Bot Info
* SDK Platform: .NET Core 2.1
* SDK Version: 3.15.2.2
* Active Channels: webchat
* Deployment Environment: Azure bot Service / localhost

## Issue Description
I try to follow demo https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-core-authentication?view=azure-bot-service-3.0

Then I use Google Chrome extensions 'Advanced REST client' to test bot framework ,

[2018-06-19 09:23] Daddymarto01 commented on #2979
I still have an issue with this....

[2018-06-19 11:07] kofarrell1076 opened #4759 "FB messenger not sending attachments from Azure SAS"
## Bot Info
* SDK Platform: .net
* SDK Version:
* Active Channels: fb, directline
* Deployment Environment: Azure app service

Having trouble sending attachments back out to FB messenger. Works ok if I have an attachment outside of Azure, but fails always if attachment is from Azure sas.

I'm using send reply from a previously saved activity context. The message body get's through ok but never any

[2018-06-19 13:28] mennolaan commented on #4694
Do note in order to use the Luis project in your solution with VSTS, you need to include the Strong Name Key (35MSSharedLib1024) in your project, otherwise automatic builds will fail.

[2018-06-19 13:32] flatmath commented on #4751
@stevkan the AppId is [80dbaddf-68d0-40ee-9326-edbf49a636da]

[2018-06-19 14:13] Bunny10 opened #4760 "Need to prompt for feedback(Is this Useful? Yes|No-Buttons) if user is idle for 1 min in Node JS bot builder SDK"
## Bot Info
* SDK Platform:
* SDK Version:
* Active Channels:
* Deployment Environment:

## Issue Description

I have tried all these below code snippets. Nothing seems to be working.

1. --------------------------
[code]
-----------------------------

2.--------------------------
[code]
----------------------------
3.--------------------------
[code]
----------------------------

[2018-06-19 14:25] devedse opened #4761 "[.Net SDK, DirectLine] Reusing obtained token when doing PostActivityAsync on DirectLineClient"
## Bot Info
* SDK Platform: .NET
* SDK Version: Microsoft.Bot.Connector.DirectLine (3.0.2.0)
* Active Channels: -
* Deployment Environment: -

## Issue Description

I'm trying to build a Skype Voice Bot that makes use of the DirectLine channel in C# using the NuGet package: Microsoft.Bot.Connector.DirectLine (3.0.2.0)

In the REST documentation https://docs.microsoft.com/en-us/azure/bot-service/re

[2018-06-19 14:28] ddo88 commented on #4717
same problem here

[2018-06-19 14:35] mitkodi commented on #4477
If it could help to someone. Yesterday I changed the scope of ```SqlBotDataStore``` registration from ```SingleInstance``` to ```InstancePerLifetimeScope``` and haven't faced the issue since then (more than 24 hours).

[2018-06-19 14:53] seca23 commented on #4477
@mitkodi
I am still experiencing the issue even with `InstancePerLifetimeScope`

Version: v3.15.2.2

**Here is how my registration looks:**

`var store = new SqlBotDataStore("BotDataContextConnectionString");`
`builder.Register(c => new CachingBotDataStore(store, CachingBotDataStoreConsistencyPolicy.ETagBasedConsistency))
                .As<IBotDataStore<BotData>>()
                .AsSelf()

[2018-06-19 15:17] craigjensen commented on #4556
Yes, it's live now.

[2018-06-19 15:55] mitkodi commented on #4477
@seca23 I don't wrap the ```SqlBotDataStore``` by ```CachingBotDataStore```. I register only  ```SqlBotDataStore```:
[code]

[2018-06-19 16:28] #4670 closed

[2018-06-19 16:31] bodyzatva commented on #4603
Same problem here

[2018-06-19 17:03] v46 commented on #4756
@EricDahlvang - We are also seeing a lot of degradation in performance for our production Slack bots. Any more insights into what is going on, and when to expect things to settle down.

There are no outage reports on Slack's status page or on the Azure Bot service status page.

Our symptoms include delayed responses back from Bot framework. If we need to open a separate issue to track this, please

[2018-06-19 17:15] v46 opened #4762 "Slack: Extremely slow responses for production slack bots"
We are seeing a lot of degradation in performance for our production Slack bots.
Messages from slack are slow when reaching our "Bot Service" (round trip is about ~11 minutes).

There are no outage reports on Slack's status page or on the Azure Bot service status page. Nothing in app insights to indicate any errors.

Our bots run on node js bot SDK 3.11.0 and we host our bots outside Azure.

[2018-06-19 17:37] EricDahlvang commented on #4762
HI @v46

Thank you for reporting this.

How long has the issue been occurring?

Is it consistent, or intermittent?

Are your bots hosted on a specific data center?

[2018-06-19 17:37] ukphillips commented on #4745
Worked through this with @Jeffders

When I started out I was just testing around with initializing the webchat client with the master key. I ended up switching to exchanging the master secret for a conversation token on the server side which would be best practice anyways, but I needed to make sure to add the trusted origins to my token generate request:

[code]

Once I initialized my conversation

[2018-06-19 17:37] #4745 closed

[2018-06-19 17:54] ukphillips commented on #4761
@devedse Once you have the conversation token, you would initialize the directline client with that token, which is now scoped to the conversation:

[code]
Your token generation should have also returned a conversationId property to pass into the post method.

[2018-06-19 18:05] v46 commented on #4762
We started noticing this since yesterday afternoon PST. It went away in a couple of hours and it started showing up again this morning for about 30-45 minutes again (intermittently delayed messages that do not reach out service). We don't host our bots on Azure (if this is what you mean by the data center question) - our servers on hosted the US North West region.

Things are back to normal now, b

[2018-06-19 18:15] jameslew opened #4763 "[.NET SDK] UserAgent String associated with the BotBuilder SDK .NET changed sometime after 3.12.2.4"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15+
* Active Channels: Any
* Deployment Environment: Any

## Issue Description
UserAgent String associated with the BotBuilder SDK .NET changed sometime after 3.12.2.4 .

Prior to 3.12.2.4 it looked like:
","FxVersion/4.7.2563.0 OSName/Windows_Server_2016_Datacenter OSVersion/6.3.14393 Microsoft.Bot.Connector.ConnectorClient/3.12.2.4 Microsoft-BotF

[2018-06-19 18:16] nyxsys commented on #4753
Can you go a bit more in depth on what your bot is currently doing and what is wrong? It appears that the IntentDialog is currently set as the root `'/'` and it is not clear what the dialog flow is and how you are linking these files together without more contextual code.

Apologies if this is inaccurate, but try this if promptChoice is currently working fine:

 For switching over to another dialo

[2018-06-19 18:18] Rufus1123 opened #4764 "[FormFlow, .NET SDK] FormFlow ends unexpectedly and without error with multiple users"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15.2.2
* Active Channels: Skype, Directline
* Deployment Environment: Azure Bot Service

## Issue Description
I am building a bot that performs a calculation. It requires four values that I populate using a formflow. I want the bot to be reachable through both chat and a Skype call. For the calling functionality, I have set up a directline client w

[2018-06-19 18:27] megancooper commented on #3087
Sorry @AmiirArtz it's been a while and I can't remember what I did to resolve the issue. (I believe it had something to do with allowing post requests to the app through IIS settings.) Are you experiencing the same issue?

[2018-06-19 18:30] AmiirArtz commented on #3087
Yes, now im developing a basic MVC program with the chatbot embeded inside... I'm giving a try to everything lol to get the bot working somewhere...

[2018-06-19 18:41] devedse commented on #4761
Should that DirectClient then be stored? Or can I recreate a new one every request?

[2018-06-19 18:56] drewlane commented on #4661
I don't know if this helps but there is a know issue at the bottom of this page:
https://docs.microsoft.com/en-us/cortana/skills/known-issues

I ended up checking for null in the default handler since I couldn't get the None Intent to trigger.

[2018-06-19 18:57] Wardess commented on #2263
Thanks for the fix @ChefGillani  , you saved me and my demo for tommorow big time!

[2018-06-19 19:10] justinpchang opened #4765 "Programmatically creating dialogs from configuration JSON file"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.15.0
* Deployment Environment: local development with Emulator

## Issue Description
I want to programmatically created dialogs. For example, when some dialog is triggered, it should create more dialogs that can later be triggered themselves even when the parent dialog is ended. I want to do this so I can make generic bot code that will read fro

[2018-06-19 19:31] EricDahlvang commented on #4762
There have been some issues with North Europe data centers this morning https://azure.microsoft.com/en-us/status/

There has also been some issues with the Azure Bot Service the past few days:

I'll let you know when the deployment has been completed.

[2018-06-19 19:46] #4765 closed

[2018-06-19 19:49] ukphillips commented on #4764
How did you setup DI for the RootLuisDialog, is it possibly using the same instance across users?

[2018-06-19 20:09] ukphillips commented on #4761
I have only worked with creating one for each request, but that was also only in the context of starting a conversation so I didn't have to reuse it again. I suppose it depends on how often things are going to be pushed through client (if it's worth the initialization overhead). It's IDisposable so just make sure you dispose it once you are done (whether that's per request in a using block, or whe

[2018-06-19 20:12] nyxsys commented on #4760
I've created a quick solution to this which should work for the scale it looks like you're currently aiming for.

Basically you save a flag (the timestamp in this case) and then after your timeout expires you check and see if any messages came in since then (indicated by the timestamp in the global dict getting updated). If this is the case, you don't send a proactive prompt.  If it is, you send t

[2018-06-19 20:37] EricDahlvang commented on #4756
If everything goes well, the deployment should be complete this week.

[2018-06-19 20:44] Andrea-Orimoto commented on #4470
Hi @maba4891, sorry for the long delay, the initial fix didn't work and it took longer than expected to come up with a different solution. We believe it should work now, we deployed the fix late last week. Do you mind if I try migrating your bot? I can try tomorrow 6/19 between 9-10AM PST, which I believe should be a good time for you too, so that we can communicate. Let me know if I can proceed.

[2018-06-19 20:49] stevengum commented on #4701
You can use the [**Microsoft.Azure.Management.BotService SDK**](https://www.nuget.org/packages/Microsoft.Azure.Management.BotService/0.9.1-preview) ([GitHub](https://github.com/Azure/azure-sdk-for-net/tree/psSdkJson6/src/SDKs/BotService/Management.BotService)) instead, this should give you the same functionality as the az cli tool.

Hope this helps!

[2018-06-19 20:49] #4701 closed

[2018-06-19 21:23] EricDahlvang commented on #4763
Thanks for reporting this @jameslew

Addressed with this PR: https://github.com/Microsoft/BotBuilder/pull/4766

[2018-06-19 21:36] Rykimaruh commented on #4709
i take this was not enough information?

[2018-06-19 21:53] Rykimaruh opened #4767 "Trouble testing in Azure Web Channel + bot connection issues with firewall"
Greetings,

So I have this issue where I am trying to test out so far how the bot behaves instead of emulator on azure. I published a solution from VS2017 to an existing web app bot resource in Azure and when I try to test it on the Web Channel, nothing happens (I have the bot that shows a carousel the moment you open a conversation with it. ). When I type anything, all it gives is a "Retry" link

[2018-06-19 22:13] tariksetia opened #4768 "[Auth, Teams] OAuth Card not rendering in WebChat and sign in button doesn't work in Teams"
## Bot Info
* SDK Platform: Nodejs
* SDK Version: 3.13.1
* Active Channels: Teams,webchat
* Deployment Environment: AzureBot Service

## Issue Description
I am not able to see OAuth card in Azure's Test in webchat page.
OAuth card renders  in MS-Teams but sign in button didnt work
image -> https://github.com/tariksetia/euc-Bot/blob/master/OAuth%20card.PNG

## Code Example
I have Setup AzureADv2 in

[2018-06-19 22:42] EricDahlvang commented on #4758
You're attempting to call your bot directly.  That's not an expected scenario.  The bot is going to attempt to respond to the service url.  It is possible to call the bot this way, but it is not a supported scenario.  Normally, there is a channel connector between the client and the bot.  In your case, you are sending webchat as the channel, but not sending a valid serviceurl the bot can use to re

[2018-06-19 22:42] #4758 closed

[2018-06-19 23:12] nyxsys commented on #4467
Apologies for the wait, unfortunately we need a bit more context to this before its solvable. Could you provide a minimal version of your bot so we can build it and try it out? In the meanwhile, [here ](https://github.com/EricDahlvang/ChooseLanguageBot)is a sample bot that utilizes multiple languages dynamically. It is not using form flow, but it might provide a starting point.

[2018-06-19 23:43] EricDahlvang commented on #4668
Hi @lukasvolf

I've read through everything you've written here, but I'm not clear on what the question is.  Have you already solved the issue?

[2018-06-19 23:48] EricDahlvang commented on #4661
@rjgmail88 Please share a small sample application demonstrating this issue.

Also, have you tried debugging the bot locally while responding to Cortana?  https://blog.botframework.com/2017/10/19/debug-channel-locally-using-ngrok/

[2018-06-20 00:16] EricDahlvang commented on #4618
Hi @weizhenzhao

Yes, you can do this with the Bot Framework.  There are multiple ways to track context between calls.

1) You could track context manually.  When the 'GetWeather' intent is triggered, add something to user or dialog state indicating that the last message was a request for weather.  If the next/following intent contains a date entity, retrieve the weather for that date entity.  Als

[2018-06-20 05:17] whizlingo commented on #4756
Thanks @EricDahlvang . We ran another round of Performance test around below UTC timing -

Start time | 6/19/2018 5:47:16 PM
-- | --
End time | 6/19/2018 6:17:16 PM

Could this be also related to the performance improvement you plan to deploy ?.

We could see over 200 403 forbidden in the BOT channel  with below details. This was a performance test with about 100 concurrent users and the token is

[2018-06-20 06:14] seca23 commented on #4477
@mitkodi, I see what you mean. Thanks, I will surely try it out and let you know if it resolves my problem. I am hopeful, thank you.

[2018-06-20 08:48] Squashy83 commented on #4738
Thank you @stevengum .

Any updates on the current status?

[2018-06-20 09:46] herrspiess opened #4769 "[Skype, Azure Bot Service] No Skype metrics in the Bot analytics"
Hello everybody,

we would like to observe the metrics for our Bot Framework bots in the Microsoft Azure portal. But in the analytics section we can only find metrics for Kik and Telegram. Skype is missing, although there are multiple Skype users.

Any ideas?

Our subscription ID: 4abe19a3-a03b-4c74-9b8b-49878b010bea

Thanks,
Timo

[2018-06-20 09:55] weizhenzhao commented on #4618
Hi @EricDahlvang
1.The first look really nice.
2.for the second answer .
   I have a look at the [https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-
   formflow-formbuilder?view=azure-bot-service-3.0#dynamically-define-field-values-confirmations-and-
   messages](url)
   it looks like the judgement was done after all the parameters was received. but not one side receivin

[2018-06-20 10:16] GeorgeKouk commented on #4628
@fanidamj I am experiencing the same issue, unable to download any of the code from the build page for a new bot service. "Failed to download the file. Error details: error 404 Not Found". Any other ways to download the source code?

[2018-06-20 10:20] jamiemaguiredotnet commented on #2342
Were you able to implement this?

[2018-06-20 10:45] AlbinShaji commented on #2158
Is it possible to add page number in a hero card at the bottom?

[2018-06-20 12:13] adarshpatel30 commented on #3641
You closed the issue but the answer was not satisfactory I am also facing issue which was faced by @BelvedereHenrique ,he was right it does not work as expected at context.Wait(); in cortana on the other hand it works fine.

[2018-06-20 13:06] amitkadu opened #4771 "How to identify message coming from user is first message in conversation"
I have to write business logic at MessageController for very first message in conversation.
How to identify that which one is first message for that particular conversation.
I tried to explore Activity but didnt get any help.
I am using Bot Framework - C#.

[2018-06-20 13:47] lukasvolf commented on #4668
Hi @EricDahlvang, thanks for responding. The question is: How can I create a Cortana skill that integrates with the Connected Home feature?

[2018-06-20 15:42] ukphillips commented on #4771
I don't think there is anything in the framework that would help you...I would recommend just setting a variable on the conversation data when you receive a message, on all subsequent messages you can just check for the existence of that value. If it's not there you know it's the first message.

something like this should work:

[code]

[2018-06-20 16:23] #4104 closed

[2018-06-20 16:49] stevengum commented on #4736
Just to clarify, you're asking for the bot to send a suggestedAction to the user. This suggestedAction that the user checks, it has their phone number; and by clicking the suggestedAction the user shares their phone number with the bot?

[2018-06-20 16:55] Daddymarto01 commented on #4736
I finally found a solution @stevengum ... Will share the solution in the morning please. I can now share location and mobile from suggested actions on telegram and facebook channels. Another dilemma now is Skype.

[2018-06-20 17:15] fanidamj commented on #3641
@adarshpatel30  Please reopen a new issue with all the details so that it would be easier to track. Thanks!!

[2018-06-20 17:15] #3641 closed

[2018-06-20 17:20] adarshpatel30 commented on #3641
I am facing the same issue why should I write it again and again.That looks
awkward.
Thanks for your help though.

On Wed, 20 Jun 2018 at 10:45 PM, Jyotsna Sudha Fanidam <
notifications@github.com> wrote:

[2018-06-20 18:36] stevkan commented on #4743
Hi @Rufus1123, I'm working on duplicating the issue and am curious if you set break points elsewhere in the IVRbot.cs file, do any hit?

[2018-06-20 18:41] BelvedereHenrique commented on #3641
@JasonSowers
I completely forgot about this issue.
Anyway, I remember that at the time I just gave up on keep trying. There wasn't double "context.wait()".
I managed to create a workaround, avoiding the context.wait().

I'm not really sure how is the situation right now on Cortana channel.
@adarshpatel30 can you share your code?

[2018-06-20 18:47] Rufus1123 commented on #4743
@stevkan yes, other breakpoints do hit when I set them, e.g. In onRecordCompleted

[2018-06-20 19:19] nyxsys commented on #4769
How long did you wait between the users sending messages to your bot and checking the analytics? It takes about a day for this information to be published to the bot, so it may not have propagated by the time you checked. That said, I am confirming if the Skype analytics are accessible myself, and I will have more information on this one way or the other tomorrow.

[2018-06-20 19:49] EricDahlvang commented on #4752
HI @shubhamchawla

The fix has been deployed worldwide.  Glad to hear performance has improved.

The slow response at startup sounds like a standard cold start issue.  We have a blog post that explains some things you can do to improve latency: https://blog.botframework.com/2017/11/02/optimizing-latency-bot-framework/

[2018-06-20 19:49] #4752 closed

[2018-06-20 20:45] JonesAbramoff opened #4772 "Skype bots directory not working"
Hi,

Using Skype on Windows PC or Android I am not being able to add a bot as a contact.

Not even my own.

The Skype bots directory should be down.

I have tried to re-add my own bot as a contact and it is not working.

Tried to edit my Skype bot in "Bot Channels Registration" and didn´t work.

Thanks,

Jones

PS: I am in Rio de Janeiro, Brazil. Maybe its a regional problem.

[2018-06-20 20:53] RamjotSingh opened #5841 "InvokeResponse should be part of Bot.Schema and not Bot.Builder"
InvokeResponse is not dependent on the Adapter layer and should be moved to Bot.Schema

[2018-06-20 21:37] EricDahlvang commented on #4668
That is an open ended question.  I'm not sure how to respond.  I've never personally written a Cortana Skill that interacts with Connected Home.  I will reach out to some Cortana people, and let you know what they say.

[2018-06-20 22:00] simra commented on #4202
What is the recommended best practice to make this setting available locally but not commit it to a source repo?

[2018-06-20 22:07] EricDahlvang commented on #4202
HI @simra

You are asking a question on a closed issue.  The Bot Builder GitHub repository is for issues and feature requests.

There is some guidance for storing secrets here:
https://docs.microsoft.com/en-us/azure/key-vault/vs-secure-secret-appsettings
and
https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?tabs=windows&view=aspnetcore-2.1

[2018-06-20 22:09] Andrea-Orimoto commented on #4470
Hi @maba4891, I can do it on 6/21 or 6/22 between 9-10AM. Hope you can read this by then so you can confirm.

[2018-06-20 23:05] nodeomega commented on #4421
Sample code for the bot and the dialog I was using to make it work in the Emulator when using the microphone/speak mode:

    var bot = new builder.UniversalBot(connector);
    bot.set('storage', tableStorage);

    bot.use({
        botbuilder: (session, next) => {
            session.sendTyping();
            console.log(session.message);
            next();
        },
        send: (event, next

[2018-06-21 00:10] EricDahlvang commented on #4668
Connected Home platform is not self-service at this time.  There is an internal Microsoft path in order to onboard into Cortana Connected Home.  If you wish to pursue this, please email me at the address on my profile: https://github.com/EricDahlvang and I will provide more information.

[2018-06-21 00:10] #4668 closed

[2018-06-21 01:04] JonesAbramoff commented on #4772
Service returned...

[2018-06-21 01:04] #4772 closed

[2018-06-21 01:13] jorupp commented on #3722
Any word on this?  #2273 indicates that threaded support should work, and if a message is already in a thread, replies are going back to the thread fine, but I can't get my bot to start a thread off a normal message - sending the JObject `{ thread_ts = ... }` where `...` is the ts from the original activities `ChannelData.SlackMessage.event.ts` doesn't seem to have any effect.

[2018-06-21 03:17] shubhamchawla commented on #4752
It is happening when user goes away, whereas conversation for other users are running fine with no delay.
For eg. User A is ideal for 1 hour, during this same window my other users B,C, D etc are chatting fine (so server wont go in sleep mode).
Now when user A comes back then bot responds back in almost in 1 min.

[2018-06-21 04:10] diegolanda opened #4773 "[Direct Line] Debug Direct Line Bot ngrok"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.12.0
* Active Channels: Direct Line
* Deployment Environment: Azure Bot Service, local development, Sharepoint Webpart

## Issue Description

I am not able to create a tunnel using ngrok so I can communicate my Sharepoint webpart with webchat (direct line) to my local bot and develop new features to my bot or debug a deployed bot in Azure.

## C

[2018-06-21 05:13] amitkadu commented on #4771
Thanks for reply, I already tried with this but while testing I found that once variable gets set it will persist its value. after IIS restart as well.
Can you please tell me where this NotFirstMessage variable get storage.

[2018-06-21 05:20] adarshpatel30 commented on #3641
I am not supposed to share the code @BelvedereHenrique , and the issue still persists on cortana.

[2018-06-21 05:54] simra commented on #4202
That's a fair criticism but your second answer is a lot safer than the original suggestion. :) Thanks for the pointers.

[2018-06-21 06:55] asfyra commented on #4559
I am also having the same error occuring randomly.
It's a Q&A bot that uses an async http posts on an external site. The bot is hosted on azure and i use CosmosDB for the bot state.
There are days that the error is more frequent than others.

Thank you

[2018-06-21 06:58] nrishoj commented on #4559
I upgraded to the most recent version of the NuGet packages (not preview). This seems to mitigate the issue, hence I haven't been able to replicate the error yet.

[2018-06-21 07:03] asfyra commented on #4559
@nrishoj I use .NET version of the bot builder and i am on the latest version. Maybe the next .net version deals with this problem.

[2018-06-21 07:19] nrishoj commented on #4559
OK - Same for me.

[2018-06-21 07:51] rainmakerho commented on #4771
Hi @amitkadu , maybe you can save state to SQL Server. Please ref  [Saving State data in SQL with .NET](https://blog.botframework.com/2017/07/26/saving-state-sql-dotnet/)

[2018-06-21 07:55] kintalisiva commented on #2689
where can i find web.config file??

[2018-06-21 08:04] Wenish opened #4774 "context.EndConversation() dosnt work with msteams channel"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15.2.2
* Active Channels: MS Teams, Direct Line
* Deployment Environment: Azure Bot Service

## Issue Description
If you use context.EndConversation("200"); and the user is with msteams to the bot connected the bot throws an error. This does only happens in msteams channel

## Code Example
Its the basic bot example with 1 line changed

        priv

[2018-06-21 12:02] maba4891 commented on #4470
Hi @Andrea-Orimoto, just came back from a longer vacation yesterday. Please do it on 6/21 between 9-10AM, I'm in Europe so I can check out the result tomorrow morning ;)

[2018-06-21 13:09] NioZero commented on #4733
Hi, we recently started to get this issue and reported in the msdn forums and after a few replies they mentioned this issue.

- Frequency. In almost every message.
- What channels is this happening on? We have WebChat and DirectLine only and this is happening in both.
- Type of bot Functions bot? Web App Bot deployed in our server and registered on Azure (Bot Channel Registration)
- Is there any r

[2018-06-21 13:37] ukphillips commented on #4771
@amitkadu this depends on how you configure it, without setting anything up I think it uses in memory by default. Just to be clear is your issue that the value is still there or that it is missing on subsequent requests?

I would highly recommend using an external data storage mechanism for your bot regardless (https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-state?view

[2018-06-21 13:38] srichakradhar commented on #2030
Any updates on this? I tried but still not access `session` from within the middleware.

[2018-06-21 14:00] tinakashyap commented on #3017
Bot status  is showing as "Presence Unknown". Has Microsoft come up with any fix? Or can anybody help?

The bot image issue has been fixed after assigning an Exchange Online license to the bot.

[2018-06-21 15:19] fms-santos commented on #4333
@TheoSpyrou did you find a fix for this issue?

[2018-06-21 17:01] EricDahlvang commented on #3808
Reopened.  Labeled as bug.

[2018-06-21 17:09] Andrea-Orimoto commented on #4470
Hi @maba4891,  migration is done and the new migrated bot is up and running. You will see this in your Resource Group
![image](https://user-images.githubusercontent.com/17152540/41734100-d12e5958-753a-11e8-9b81-8758aa6c2603.png)

One possible issue I see is that the migration put the App service in South Central US, because the Resource Group is in South Central US. Given that all your other resou

[2018-06-21 17:09] #4470 closed

[2018-06-21 17:54] egracer commented on #4477
Not sure if this will help, but we are seeing the same issue while running automated tests. The same conversation will persist the `DialogState` key in private conversation data during one execution of the test, and will not persist the same key during another execution of the test. The behavior is empirically intermittent — we are not changing anything about the test between executions, but clear

[2018-06-21 18:09] egracer commented on #4477
Looking a bit further, it also seems that the `CachingBotStore` invalidates the cache with every flush, but since we're running multiple instances of our Bot, that strategy is not going to work reliably without sticky sessions.

[2018-06-21 18:10] stevkan commented on #4732
Hi @Kafar,

Can you make another attempt and then check these items and post the results? It may take a couple minutes for any events to be logged. 1) Click on the bots Channels blade and click on any issues that may be posted for Web Chat. What's the full error(s) listed there? 2) Click on the bots Activity Log, look for the error, click on the JSON option for that error, copy and paste it here.

[2018-06-21 18:52] nyxsys commented on #4774
EndConversation is not supported in MS Teams, part of its functionality is to delete conversationData, which is not enabled within MS Teams for [compliance reasons](https://docs.microsoft.com/en-us/microsoftteams/security-compliance-overview#retention-policies). The error is left on so that it's clear to the user that it isn't a valid action for that channel. This is covered in more detail in thes

[2018-06-21 18:52] stevkan commented on #4767
Hi @Rykimaruh,

First question: Files from the Azure created bot and your VS bot can get mixed up when publishing. To help mitigate this, have VS remove any additional files at the destination. Go to publish from VS click on the Configure option, select Settings on the left side, click on the File Publish Options arrow, and select 'Remove additional files at destination'.

Second question: Try usi

[2018-06-21 20:03] nyxsys commented on #4769
So I've confirmed that this is recreate-able, could you please send me your botID so we can look into this a bit further?

[2018-06-21 20:46] nyxsys commented on #4773
Does your ngrok endpoint work from other channels or is it failing on non-directline locations as well? Consider double-checking the steps on [here](https://blog.botframework.com/2017/10/19/debug-channel-locally-using-ngrok/). Especially using `ngrok http <port> -host-header="localhost:<port>"` to run ngrok. Regarding the issue with application settings, we are going to look into this further.

[2018-06-21 21:32] EricDahlvang commented on #4771
Closing.  This question looks like it has been answered.

---
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/issues) repo  is the preferred platform for submitting **bug fixes and feature requests**.  

[2018-06-21 21:32] #4771 closed

[2018-06-21 21:35] EricDahlvang commented on #4762
The deployment has been completed worldwide.

[2018-06-21 21:35] #4762 closed

[2018-06-21 21:38] EricDahlvang commented on #4754
The fix has been deployed worldwide.  If you experience any further problems of this nature, please open a new issue.

[2018-06-21 21:38] #4754 closed

[2018-06-21 21:40] EricDahlvang commented on #4738
The fix for this has been deployed worldwide.  Please let us know if you are still experiencing issues.

[2018-06-21 21:49] #4730 closed

[2018-06-21 21:49] #4740 closed

[2018-06-21 21:50] #4725 closed

[2018-06-21 21:51] #4737 closed

[2018-06-21 21:51] #4750 closed

[2018-06-21 21:51] #4760 closed

[2018-06-21 21:52] #4774 closed

[2018-06-21 21:59] EricDahlvang commented on #4687
Closing due to inactivity.

[2018-06-21 21:59] #4687 closed

[2018-06-21 22:03] Andrea-Orimoto commented on #4470
Oh, btw, you can now remove me from your Resource Group/Subscription/Directory. thanks!

[2018-06-21 22:06] #4631 closed

[2018-06-21 22:08] EricDahlvang commented on #4579
Closing for inactivity.

[2018-06-21 22:08] #4579 closed

[2018-06-21 22:08] EricDahlvang commented on #4577
Closing for inactivity.  (and looks like an answer has been provided)

[2018-06-21 22:08] #4577 closed

[2018-06-21 22:09] EricDahlvang commented on #4564
Closing for inactivity.

[2018-06-21 22:09] #4564 closed

[2018-06-21 22:11] fanidamj commented on #4555
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 22:11] #4555 closed

[2018-06-21 22:12] EricDahlvang commented on #4556
It looks like this has been resolved.  Closing.

[2018-06-21 22:12] #4556 closed

[2018-06-21 22:12] EricDahlvang commented on #4555
Closing due to inactivity.

[2018-06-21 22:30] EricDahlvang commented on #4537
Closing due to inactivity.  Please open a new issue if you require further assistance.

[2018-06-21 22:30] #4537 closed

[2018-06-21 22:30] fanidamj commented on #4093
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 22:30] #4093 closed

[2018-06-21 22:32] fanidamj commented on #4091
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 22:32] #4091 closed

[2018-06-21 22:34] #4516 closed

[2018-06-21 22:35] fanidamj commented on #4086
Can you please let us know if the issue still persists?

[2018-06-21 22:37] fanidamj commented on #4078
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 22:37] #4078 closed

[2018-06-21 22:39] stevkan commented on #4608
Hi @rjgmail88, apologies for the lack of response. I missed your having responded. Were you able to get this working?

[2018-06-21 22:39] fanidamj commented on #4072
@PriyaB07 Can you please let us know if the issue still persist?

[2018-06-21 22:44] stevengum commented on #4723
Closing issue due to inactivity.

[2018-06-21 22:44] #4723 closed

[2018-06-21 22:45] fanidamj commented on #4070
Can you please let us know if the issue still persists?

[2018-06-21 22:46] fanidamj commented on #4067
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 22:46] #4067 closed

[2018-06-21 22:47] fanidamj commented on #4068
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 22:47] #4068 closed

[2018-06-21 22:49] stevengum commented on #4307
Closing issue, thanks for posting it on Stack Overflow! Just to clarify, the SO user [Master Chief's comment](https://stackoverflow.com/questions/49364330/microsoft-botbuilder-for-nodejs-bind-url-parameters-to-bot-session#comment85730341_49364330) on using prompts to ask for the locale is something we recommend and have an [example for](https://github.com/Microsoft/BotBuilder/blob/master/Node/exam

[2018-06-21 22:49] #4307 closed

[2018-06-21 22:50] fanidamj commented on #4052
Can you please let us know if the issue still persists?

[2018-06-21 22:51] fanidamj commented on #4043
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 22:51] #4043 closed

[2018-06-21 22:53] nodeomega commented on #4218
@nisha1142 This repository you are posting to is for the Microsoft BotBuilder library.  Telegram happens to be one of the channels we support in terms of bots using BotBuilder framework on said channel.  Mr. Pavel Durov of Telegram does not have any bearing on this repository.

[2018-06-21 22:54] stevkan commented on #4618
Hi @weizhenzhao,

As the line of conversation has moved away from the original issue, I am going to close this thread.

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/issues) repo  is the preferred platform for submitti

[2018-06-21 22:54] #4618 closed

[2018-06-21 22:55] fanidamj commented on #4016
Can you please let us know if the issue still persists?

[2018-06-21 22:57] stevkan commented on #4644
@flatmath, I'll take a look and let you know what I find.

[2018-06-21 22:57] #4304 closed

[2018-06-21 22:59] fanidamj commented on #3977
Can you please let us know if the issue still persists?

[2018-06-21 23:00] fanidamj commented on #3980
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:00] #3980 closed

[2018-06-21 23:01] EricDahlvang commented on #4180
Closing due to inactivity.

[2018-06-21 23:01] #4180 closed

[2018-06-21 23:01] fanidamj commented on #3983
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:01] #3983 closed

[2018-06-21 23:02] fanidamj commented on #3985
Can you please let us know if the issue still persists?

[2018-06-21 23:02] fanidamj commented on #3992
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:02] #3992 closed

[2018-06-21 23:03] stevengum commented on #4712
Minor update, this issue is in our backlog.

[2018-06-21 23:05] fanidamj commented on #3994
Can you please let us know if the issue still persists?

[2018-06-21 23:07] fanidamj commented on #4005
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:07] #4005 closed

[2018-06-21 23:09] fanidamj commented on #3635
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:09] #3635 closed

[2018-06-21 23:10] fanidamj commented on #3663
Can you please let us know if the issue still persists?

[2018-06-21 23:13] fanidamj commented on #3735
Can you please let us know if the issue still persists?

[2018-06-21 23:14] stevkan commented on #4672
Hi @Jagan-rajan,

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/issues) repo is the preferred platform for submitting **bug fixes and feature requests**.

[2018-06-21 23:14] fanidamj commented on #3014
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:14] #3014 closed

[2018-06-21 23:15] fanidamj commented on #3610
Can you please let us know if the issue still persists?

[2018-06-21 23:16] fanidamj commented on #3782
Can you please let us know if the issue still persists?

[2018-06-21 23:17] stevengum commented on #4694
@mennolaan did SHUBHAMARORA731's solution address the issue?

[2018-06-21 23:17] fanidamj commented on #3331
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:17] #3331 closed

[2018-06-21 23:17] fanidamj commented on #2712
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:17] #2712 closed

[2018-06-21 23:18] fanidamj commented on #3044
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:18] #3044 closed

[2018-06-21 23:20] fanidamj commented on #3613
Can you please let us know if the issue still persists?

[2018-06-21 23:20] fanidamj commented on #3928
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:20] #3928 closed

[2018-06-21 23:21] stevengum commented on #4736
Glad to hear that! Am looking forward to seeing your solution 😄

You're now trying to get the phone number and location from a user via Skype through suggestedActions as well?

[2018-06-21 23:21] fanidamj commented on #4029
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:21] #4029 closed

[2018-06-21 23:21] #3999 closed

[2018-06-21 23:22] fanidamj commented on #4007
Can you please let us know if the issue still persists?

[2018-06-21 23:23] #3904 closed

[2018-06-21 23:23] fanidamj commented on #3976
Can you please let us know if the issue still persists?

[2018-06-21 23:28] fanidamj commented on #4137
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:28] #4137 closed

[2018-06-21 23:29] fanidamj commented on #4146
Can you please let us know if the issue still persists?

[2018-06-21 23:30] fanidamj commented on #4141
Can you please let us know if the issue still persists?

[2018-06-21 23:31] fanidamj commented on #4152
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:31] #4152 closed

[2018-06-21 23:31] fanidamj commented on #4163
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:31] #4163 closed

[2018-06-21 23:32] fanidamj commented on #4219
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:32] #4219 closed

[2018-06-21 23:32] fanidamj commented on #4194
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:32] #4194 closed

[2018-06-21 23:33] fanidamj commented on #2515
Can you please let us know if the issue still persists?

[2018-06-21 23:33] nyxsys commented on #4769
We are currently looking into the root cause of this, I will update this issue when we find a fix.

[2018-06-21 23:33] fanidamj commented on #3350
Can you please let us know if the issue still persists?

[2018-06-21 23:35] fanidamj commented on #4225
Can you please let us know if the issue still persists?

[2018-06-21 23:36] fanidamj commented on #4177
Can you please let us know if the issue still persists?

[2018-06-21 23:36] fanidamj commented on #4243
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:36] #4243 closed

[2018-06-21 23:37] fanidamj commented on #4006
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:37] #4006 closed

[2018-06-21 23:38] fanidamj commented on #4105
Can you please let us know if the issue still persists?

[2018-06-21 23:38] fanidamj commented on #4134
Can you please let us know if the issue still persists?

[2018-06-21 23:39] fanidamj commented on #4162
Can you please let us know if the issue still persists?

[2018-06-21 23:41] fanidamj commented on #4117
Can you please let us know if the issue still persists?

[2018-06-21 23:42] fanidamj commented on #4124
Can you please let us know if the issue still persists?

[2018-06-21 23:42] fanidamj commented on #4214
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:42] #4214 closed

[2018-06-21 23:43] fanidamj commented on #3969
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:43] #3969 closed

[2018-06-21 23:43] fanidamj commented on #4230
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:43] #4230 closed

[2018-06-21 23:44] stevkan commented on #4647
Hi @jesus-seijas-sp, refer to the [this doc](https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-connector?view=azure-bot-service-3.0 ) regarding serviceUrl changes.

[2018-06-21 23:44] fanidamj commented on #3945
Can you please let us know if the issue still persists?

[2018-06-21 23:46] fanidamj commented on #3591
Can you please let us know if the issue still persists?

[2018-06-21 23:46] fanidamj commented on #4347
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:46] #4347 closed

[2018-06-21 23:49] fanidamj commented on #4346
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:49] #4346 closed

[2018-06-21 23:51] fanidamj commented on #4286
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:51] #4286 closed

[2018-06-21 23:52] fanidamj commented on #4476
Can you please let us know if the issue still persists?

[2018-06-21 23:54] fanidamj commented on #4490
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:54] #4490 closed

[2018-06-21 23:55] fanidamj commented on #3893
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-21 23:55] #3893 closed

[2018-06-21 23:58] stevkan commented on #4718
Hi @SeanSobey, I just saw you had responded. Let me take another look and will get back to you.

[2018-06-21 23:58] fanidamj commented on #4284
Can you please let us know if the issue still persists?

[2018-06-22 00:02] fanidamj commented on #4342
Can you please let us know if the issue still persists?

[2018-06-22 00:02] fanidamj commented on #4283
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-22 00:02] #4283 closed

[2018-06-22 00:04] fanidamj commented on #3401
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-22 00:04] #3401 closed

[2018-06-22 00:05] fanidamj commented on #3453
Can you please let us know if the issue still persists?

[2018-06-22 00:06] #2411 closed

[2018-06-22 00:07] fanidamj commented on #2702
Can you please let us know if the issue still persists?

[2018-06-22 00:08] fanidamj commented on #3556
Can you please let us know if the issue still persists?

[2018-06-22 00:09] fanidamj commented on #3592
Can you please let us know if the issue still persists?

[2018-06-22 00:10] fanidamj commented on #3646
Can you please let us know if the issue still persists?

[2018-06-22 00:11] fanidamj commented on #3494
Can you please let us know if the issue still persists?

[2018-06-22 00:11] #3627 closed

[2018-06-22 00:12] sphanley commented on #3556
Yes, this issue is still valid - you can confirm it by simply clicking the link in my initial post. Location Sharing is still inaccurately listed as being mobile-only.

[2018-06-22 00:13] fanidamj commented on #2911
Can you please let us know if the issue still persists?

[2018-06-22 00:13] #2846 closed

[2018-06-22 00:14] #2708 closed

[2018-06-22 00:14] fanidamj commented on #3853
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-22 00:14] #3853 closed

[2018-06-22 00:14] #3674 closed

[2018-06-22 00:15] fanidamj commented on #3852
Can you please let us know if the issue still persists?

[2018-06-22 00:16] fanidamj commented on #4174
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-22 00:16] #4174 closed

[2018-06-22 00:17] fanidamj commented on #4109
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-22 00:17] #4109 closed

[2018-06-22 00:17] fanidamj commented on #3984
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-22 00:17] #3984 closed

[2018-06-22 00:18] #2519 closed

[2018-06-22 00:19] #3972 closed

[2018-06-22 00:19] #3084 closed

[2018-06-22 00:19] #3809 closed

[2018-06-22 00:19] fanidamj commented on #4166
Can you please let us know if the issue still persists?

[2018-06-22 00:20] fanidamj commented on #3067
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-22 00:20] fanidamj commented on #3609
Can you please let us know if the issue still persists?

[2018-06-22 00:21] fanidamj commented on #3662
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-22 00:21] #3662 closed

[2018-06-22 00:28] fanidamj commented on #4728
Closing the issue assuming it as resolved. Please reopen a new issue if it still persists.

[2018-06-22 00:28] #4728 closed

[2018-06-22 00:37] stevkan commented on #4743
@Rufus1123, where did you see that the OnHangupCompleted callback Url is https://xxxxxxxxxxx:80/api/calling/callback? All the references I have seen point to the latter implementation.

[2018-06-22 00:52] hpksp commented on #4007
Yes it does. Currently I'm using Bot Builder SDK v3.15.2.2

[2018-06-22 01:53] rjgmail88 commented on #4608
No. This issue still persist. I have implemented the change you mentioned on  May 21 but still that didn't fix it.

[2018-06-22 02:01] eskivelevolution commented on #4740
Thank you @nyxsys, with this solution I'll block the user to change the url origin?

[2018-06-22 04:07] kiranchand commented on #4146
Of course, yes! Nobody fixed it as of now. I have created a reusable solution for my code, using AOP and moved on. Why do not you guys fix it and bring it along with your subsequent releases?
--
Kiran Chand

From: Jyotsna Sudha Fanidam [mailto:notifications@github.com]
Sent: Friday, June 22, 2018 5:00 AM
To: Microsoft/BotBuilder <BotBuilder@noreply.github.com>
Cc: Kiran Chand Palakkattiri <kiran.c

[2018-06-22 05:52] neetgupta7 opened #4775 "[.Net SDK, Webchat] Sending Dynamic Attachment in WebChat"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15
* Active Channels: Webchat
* Deployment Environment: Azure App Service, local development with Emulator?

## Issue Description
Hello
We want to send the dynamic attachment to the user based on the results returned from the api call to another system. How can we accomplish this.

[2018-06-22 07:12] Rufus1123 commented on #4743
@stevkan When I enable Application Logging in Diagnostics Logs in the Azure portal, I get the html code for a website in the Log Stream. I have copied this to a file and opened that in my browser. See the screenshot below.
![image](https://user-images.githubusercontent.com/32542901/41762741-036dca68-75fc-11e8-81b3-6e9bdf24c868.png)

[2018-06-22 07:28] nrobert commented on #3067
Why should it be resolved without testing and verifying it is?
Please, issues should not be closed if issue is not checked

[2018-06-22 07:52] #3976 closed

[2018-06-22 07:55] SDCA19 commented on #3976
I didn’t follow up after that.

From: Jyotsna Sudha Fanidam <notifications@github.com>
Sent: Friday, June 22, 2018 4:54 AM
To: Microsoft/BotBuilder <BotBuilder@noreply.github.com>
Cc: Sumit Dhuwalia <sdhuwalia@cognitioanalytics.com>; Author <author@noreply.github.com>
Subject: Re: [Microsoft/BotBuilder] [Dialogs] builder.Prompts.choice and Waterfall dialog not waiting for user input? (#3976)

Can

[2018-06-22 08:12] Daddymarto01 commented on #4736
Here is the solution ....sorry for the delay.

I added [Telegram Package](https://www.nuget.org/packages/Telegram.Bot/) latest version from Nuget.
After that, I  edited my code to
`var replymessage = context.MakeMessage();
                    replymessage.Text = "Please send your pickup location";

                    if (reply.ChannelId.Equals("facebook", StringComparison.InvariantCultureIgnoreCa

[2018-06-22 08:20] AyoubHaggui commented on #4124
I actually gave up using the builtin PromptDialog, I found a workaround using either a HeroCard or SuggestedActions to prompt the user with options, I intercept the text of the response and send it to LUIS to get the entities and map them back to the list of options. This gives the user more flexibility when making his choice. Enough talk, Here is the code sample for a yes/no prompt:

First of all

[2018-06-22 08:34] maba4891 commented on #4470
@Andrea-Orimoto
Great, thanks a lot for your persistence and great support. Bot is migrated and still running :)

[2018-06-22 08:51] tariksetia commented on #4768
I deployed the bot on Skype channel and SignIn button worked. It opend the microsoft login window.
Looks like the issue is only with Azure's "Test in webchat" page and MS Teams

[2018-06-22 09:01] loretoparisi commented on #4105
@fanidamj hello, thanks for your reply, at this time I cannot be sure, because I have changed how the waterfall works. I will have a look, thanks.

[2018-06-22 10:50] whizlingo opened #4776 "[.Net SDK, DirectLine] Using in memory cache in BOT"
## Bot Info
* SDK Platform: .NET
* Active Channels: Direct Line
* Deployment Environment:  Azure App Service

## Issue Description

We are currently using Memory cache (https://github.com/aspnet/Caching/tree/dev/src/Microsoft.Extensions.Caching.Memory) in our BOT and experiencing some issues around cached items not being available at times, which is causing intermittent failures. The deployment en

[2018-06-22 12:08] #4134 closed

[2018-06-22 12:18] Kafar commented on #4732
1) "There was an error sending this message to your bot."
2) No error in Activity Log

Thanks

[2018-06-22 12:48] DHOFM opened #4777 "[Feature Request] BotBuilder misses support of sentimentAnlaysis"
Hi,
maybe it is a general problem, so I open a new issue here: Also mentioned this in the node-js section: https://github.com/Microsoft/botbuilder-js/issues/280

## Bot Info
* SDK Platform:
* SDK Version: <3.15.0->

* Deployment Environment:

## Issue Description
<feature request -->
Support of SentimentAnalysis
## Code Example

LuisRecognizer needs to be changed like this:

...
LuisRecognizer.rec

[2018-06-22 13:35] ukphillips commented on #4776
I think in all cases outside initial prototyping/testing you should be using some external store for persisting the bot state/conversation. Hoping your app service does not recycle or hits the same node every time is going to be a really bad expectation. Redis could store the data but it doesn't seem like the right fit for data persistence. I would look into the heavy favorites with extension supp

[2018-06-22 13:50] whizlingo commented on #4776
@ukphillips  This is not for persisting the bot state/conversation. We are using table storage as per the recommended approach. The question is specifically around using in memory cache for anything which is specific for the application. Based on what i saw initially , it did feel like it has sticky sessions. I think it makes sense to externalize any such state with a distributed cache....

[2018-06-22 14:10] dan-cohn commented on #4225
I've been using a workaround, so I'm not sure.  Has a fix been added to the framework?

[2018-06-22 15:39] ellnino50 commented on #3735
Since all the config has moved to Azure, everything has been fine.
Thanks

[2018-06-22 15:39] #3735 closed

[2018-06-22 16:29] nyxsys commented on #4702
This would be easier to confirm with a minimal bot to confirm the functionality, but it sounds like you should be able to differentiate between your voice messages and text messages on skype by adding an additional field to ChannelData during activity translation. It'd look something like this:
[code]

[2018-06-22 16:43] EricDahlvang commented on #4225
Sorry @dan-cohn but we have not yet added something like this to the sdk.  I've labeled this as a feature request.

[2018-06-22 16:58] EricDahlvang commented on #4776
The .net bot framework sdk is just an asp.net web api application.  There is no 'sticky session' support built into asp.net web api applications.  This is something you would need to provide yourself, with a Traffic Manager or Message Broker of some sort as the Messaging Endpoint.

More details about the internal workings of the SDK related to message processing order can be found at this answer:

[2018-06-22 20:12] EricDahlvang commented on #4741
Closing due to no response.

[2018-06-22 20:12] #4741 closed

[2018-06-22 20:46] dhinag commented on #1957
@piffarettig In your case, are you using Skype as the channel? I am working on a similar scenario, but using the Webchat. In case of Webchat, I cannot identify the user uniquely. Do you have any suggestions to take this forward?

[2018-06-22 21:30] BelvedereHenrique commented on #3663
No
We can close this issue.
With the new Cortana development panel, everything is working as expected.

[2018-06-22 21:30] #3663 closed

[2018-06-22 21:34] EricDahlvang commented on #4775
A bot is just an asp.net web api app.  You can call whatever external apis you would be able to call from within any asp.net web api app.  Returning an attachment can be done by either send a url back to the WebChat, or base64 encoding an image (if the attachment is an image) as the content.  Here is some documentation on attachments in bot messages:
https://docs.microsoft.com/en-us/azure/bot-serv

[2018-06-22 21:34] #4775 closed

[2018-06-22 22:02] stevkan commented on #4608
Hi @rjgmail88,

To answer your question about npm install possibly overriding customized modules the answer is, yes. At least, that is what I'm seeing online. A solution is to point the install for that package to a locally stored module rather than pulling from online. You can read about that [here](https://stackoverflow.com/questions/8088795/installing-a-local-module-using-npm). Another option w

[2018-06-22 22:07] kiser0606 opened #4778 "var"
## Bot Info
* SDK Platform:
* SDK Version:
* Active Channels:
* Deployment Environment:

## Issue Description

## Code Example

## Reproduction Steps
1.
2.
3.

## Expected Behavior

## Actual Results

[2018-06-22 22:10] EricDahlvang commented on #4778
Yes, definitely var.

[2018-06-22 22:34] EricDahlvang commented on #4360
Add support for Facebook Checkbox Plugin opt-in

https://github.com/Microsoft/BotBuilder/issues/4199

[2018-06-22 22:35] EricDahlvang commented on #4199
We are tracking Facebook feature requests here: https://github.com/Microsoft/BotBuilder/issues/4360 I've added this to that issue, so closing this one.

[2018-06-22 22:35] #4199 closed

[2018-06-23 02:08] MickaelPuygcerver opened #4779 "[.Net SDK, FB Messenger] .NET SDK AzureBotServiceClient.Channels.Update don't working"
## Bot Info
* SDK Platform: >.NET
* Active Channels: Facebook Messenger
* Deployment Environment: Azure Bot Service

## Issue Description
Hi,
I'm trying auto registre bots in azure channel registration.
I can use method (Create) :

[code]

It works.

But update method don't work, and result is only "internal server error".
Example:

[code]

What do I need to send? do not have any documentation and

[2018-06-23 03:59] hoangphhut commented on #3764
I found that Facebook Messenger support pass thread control from human manager to bot when the conversation was set 'done' by the human. However I don't know the case if a page has several page managers. My experience is that bot receives call back thread control only when ALL page manager set conversation to 'done'. It's not realistic since several page managers but normally only one is active.

[2018-06-23 06:57] Jessica1980 opened #4780 "[.Net SDK, QnA Maker, MS Teams] The new QnA Bot doesn't answer in Teams, but working in the WebChat"
## Bot Info
SDK Platform: .NET
SDK Version: current Azure version (do not know where I can check it in Azure)
Active Channels: MS Teams, Direct Line
Deployment Environment: Azure Bot Service

## Issue Description
I've created the QnA Bot, activated the channel MS Teams (have status "run"). But the bot doesn't answer in MS Teams. In the WebChat all is ok.
![teams](https://user-images.githubusercont

[2018-06-23 08:19] bhushanvadgave commented on #3764
@etbuilder I am looking for an equivalent code sample for NodeJS/Javascript. Can you help?

[2018-06-23 09:55] BenAffleckIsBatman commented on #4733
Same here. Lib 3.15.2.2

- Frequency - Only the first time after a longer disconnect to the bot. All calls afterwards are good, even when restarting the underlaying WebApp of the Bot.
- We use MS Teams Channel and Direct Line - Seen on Direct Line. Not sure if also on MS Teams Channel as there is less traffic.
- Deployment where is this happening - Till now no chance to reproduce this locally. Hap

[2018-06-23 10:05] Jessica1980 opened #4781 "[.Net SDK, QnA Maker, Rich Cards] Code issues when build the QnA Bot with Hero Card"
## Bot Info
* SDK Platform: .NET
* SDK Version:
* Active Channels: MS Teams, Direct Line
* Deployment Environment: Azure Bot Service

## Issue Description
I've made the QnA Bot in Azure. Then using this [video](https://www.c-sharpcorner.com/article/how-to-add-image-or-video-response-to-microsoft-azure-bot-application/) I've edited the code in Online App Service Editor. Then I went to Consol and ma

[2018-06-23 10:10] khawarashraf opened #4782 "[.Net SDK, Skype] Mention one bot from another doesn't work"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15.2.2
* Active Channels: Skype
* Deployment Environment: Azure Bot Service

## Issue Description
I have a Bot1, a user send a message to Bot1 in group chat, Bot1 responds and mentions user in reply. It correctly tiggers for user that his/her name is mentioned.

I have another Bot2 in the same group chat, when Bot1 mention it in the reply, Bot2 doe

[2018-06-23 11:43] brandon1780 commented on #4780
Web chat descrambled in the build _freged itself true buffer built for an hour then extracted its in the time of march web chat install err accured

[2018-06-23 11:44] brandon1780 commented on #4780
Its missing support plug for mic

[2018-06-23 11:45] brandon1780 commented on #4780
Hello world

[2018-06-23 20:54] Jessica1980 commented on #4781
@Kartik1607 thank you for the help! I've checked the code and deleted mistakes.

Now I've received only 2 issues, but cann't understand what I should do :( Looks like the video is about thr previous QnA Maker and I have the base in the previous QnA Maker.

Dialogs\BasicQnAMakerDialog.cs(126,28): warning CS0108: 'RootDialog.MessageReceivedAsync(IDialogContext, IAwaitable<IMessageActivity>)' hides i

[2018-06-24 05:33] jhaala commented on #4360
There's so many important features needed for Facebook. I've had to start bypassing core functionality to make bots work with it. BotBuilder has the best dialog handling, so I haven't given up on it yet in hopes that necessary features like these will start being added.

+100 Multiple page access tokens (Essential for development companies)

+1 Facebook Message Tags

+1 Webviews

+1 Facebook Check

[2018-06-24 08:35] liavnave opened #4783 "[Node.js SDK, Azure Bot Service] Change Configuration Messaging endpoint - azure"
## Bot Info
* SDK Platform:  Node.js
* Active Channels: Skype
* Deployment Environment: Azure Bot Service - portal.azure.com

## Issue Description
Cant change the settings endpoint, error received:

{"readyState":4,"responseText":"{\"error\":{\"code\":\"InvalidBotData\",\"message\":\"OwnerIds: OwnerIds must contain at least one email address. \"}}","responseJSON":{"error":{"code":"InvalidBotData",

[2018-06-24 11:15] oflahero commented on #4477
I've been playing with a dev deployment for a couple of days using 3.15.2.2, using SqlBotDataStore (Instance PerLifetimeScope()) with no surrounding CachingBotDataStore. It appears to be stable so far, no occurrences of the issue.

[2018-06-24 11:31] Kartik1607 commented on #4781
Seems like you are missing imports.

[2018-06-24 11:53] Jessica1980 commented on #4781
@Kartik1607 what "import" is? I use online code editor in Azure, after I put all changes in the code I go to console and write build.cmd command.
Or do you mean something different?

[2018-06-24 12:37] Jessica1980 commented on #4781
I've added "using System.Configuration;" - this help to resolve two issues CS0103.
But how to resolve issues CS1061, CS0246 and CS0108 still have no idea :(
Could you please help?

[2018-06-24 12:43] Jessica1980 commented on #4781
The issues CS0246 have gone after I've added "using System.Collections.Generic;".

So I have now only 2 issues - CS1061 and CS0246. How can I resolve it?

 .NET Web Application deployment.
MSBuild auto-detection: using msbuild version '14.0' from 'D:\Program Files (x86)\MSBuild\14.0\bin\amd64'.
All packages listed in packages.config are already installed.
Dialogs\BasicQnAMakerDialog.cs(132,28): wa

[2018-06-24 12:48] Jessica1980 commented on #4781
And I've put the part on 132 string in /*...*/ - so the issue CS0108 is resolved. And I still have only one issue - CS 1061 and still need your help for resolve it:

MSBuild auto-detection: using msbuild version '14.0' from 'D:\Program Files (x86)\MSBuild\14.0\bin\amd64'.
All packages listed in packages.config are already installed.
Dialogs\BasicQnAMakerDialog.cs(32,31): error CS1061: 'List<QnAMak

[2018-06-24 13:35] Kartik1607 commented on #4781
Seems you are new to coding in general. I'll help you in learning how to read error.
The error is

`Dialogs\BasicQnAMakerDialog.cs(32,31): error CS1061: 'List' does not contain a definition for 'First' and no extension method 'First' accepting a first argument of type 'List' could be found (are you missing a using directive or an assembly reference?) `

`Dialogs\BasicQnAMakerDialog.cs(32,31):` tel

[2018-06-24 13:53] Jessica1980 commented on #4781
@Kartik1607 thank you for your helping! You are right - I'm a newby in codding. I decided to start learning with the templates and want to creat the QnA Bot with Hero Card and thought that I can do it with the vifeo instruction... But it isn't easy as I thought :)
I checked the line 32 - I do not use a List. I use List 76 line:
![1](https://user-images.githubusercontent.com/40513670/41819764-c0c66

[2018-06-24 15:13] harshithkashyap commented on #4177
@fanidamj I just checked it. We are still facing this issue.

[2018-06-24 16:22] Jessica1980 commented on #4781
It looks like the issue is resolved after I added "using System.Linq;". Now the publishing was successfully.

[2018-06-24 23:56] luciodale commented on #2715
@sfratini I believe your solution of managing the response in the same function is the best!

[2018-06-25 01:09] Kartik1607 commented on #4781
Great.you can close the issue now

[2018-06-25 05:55] #4781 closed

[2018-06-25 10:25] tmikest opened #4784 "[Node.js SDK] Userdata state out of sync in middleware send/receive"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.13.1
* Active Channels:  Bot emulator
* Deployment Environment: local development with Emulator

## Issue Description
I want to log text sent by user and bot. I am using the bot middleware and the session.userData object for this. I push an object into an array in the userData object. However, the values in the array are not the same every time

[2018-06-25 11:08] atanych commented on #4651
We also have the same issue.
Some clients writes messages, but can not receive answers.

Bot api response:
[code]
Use this endpoint:
`/v3/conversations/#{conversation_id}/activities`

[2018-06-25 11:09] psrsekhar commented on #4331
Can anyone from you send me a sample code (registration form which will use cortana to take input from user and store it in SQL db) using C#?
sairam.poluru@outlook.com
or
give me your GitHub link.

[2018-06-25 12:45] thanmayee5 commented on #3641
Even I am facing the same issue. Can anyone help me out in resolving it? During the conversation flow in Cortana it's not displaying all the responses from bot.

And at throwing confirmation promt which we had given, on clicking on yes or no button it is showing error - "Cortana has run into a problem. Please try again later."

[2018-06-25 12:51] thanmayee5 commented on #3641
As @adarshpatel30  told even i am facing the same issue . Please provide solution for it.

Is "await context.PostAsync" or "context.Wait" creating problem ??

[2018-06-25 12:51] ibrahemw opened #4785 "[Node.js SDK, DirectLine] message arrive late to client side from connector bot"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.15.0
* Active Channels: Direct Line
* Deployment Environment: Azure Bot Service, Azure App Service

## Issue Description
sometimes from 4 - 10 min take for the message to arrive to client side from the connector bot.  we are facing this issue in daily basis... this behavior is not all the time but it is happens a lot.

## Code Example

## Reprod

[2018-06-25 13:10] #4731 closed, assigned to JasonSowers

[2018-06-25 13:20] JasonSowers commented on #4708
@kofarrell1076 were you able to figure this out, or are you still having issues?

[2018-06-25 13:33] #4676 closed

[2018-06-25 13:37] JasonSowers commented on #4686
@sharmadine are you still experiencing any issue?

[2018-06-25 13:39] JasonSowers commented on #4615
@aramkoukia were you able to resolve these issues?

[2018-06-25 13:43] JasonSowers commented on #4559
Thank you all for reporting the behavior and keeping us updated, please continue to do so.  We will continue to monitor the applications we are testing and using to see if I can find a reproduction and root cause.

[2018-06-25 14:08] #3470 closed

[2018-06-25 14:15] JasonSowers commented on #3704
@napoleonjones  none of our services decrypt the data while in transport.

[2018-06-25 14:15] #3704 closed

[2018-06-25 14:17] diegolanda commented on #4773
Hi @nyxsys , tried the link you shared but still getting the same issue.

![image](https://user-images.githubusercontent.com/1644517/41855508-d168bfb6-7860-11e8-9084-057e718bc0ef.png)

![image](https://user-images.githubusercontent.com/1644517/41855525-dc7afb26-7860-11e8-8425-14a74459f8b0.png)

Bot Replied:
[code]
Tested with webchat on azure portal.

I get 502 when I don't start the bot and telli

[2018-06-25 14:21] JasonSowers commented on #4027
@rjgmail88 We recently acquired an HK invoke.  Are you still seeing this issue?

[2018-06-25 14:23] JasonSowers commented on #4092
@curia-damiano did my suggestion work or did you find another solution?

[2018-06-25 14:23] JasonSowers commented on #4080
I assume this is resolved now, if not please open a new issue

[2018-06-25 14:23] #4080 closed

[2018-06-25 14:28] JasonSowers commented on #4106
@drasticactions did you ever find a solution to this?

[2018-06-25 14:29] rjgmail88 commented on #4027
Yes. We have a workaround for now in which we define different value for property **speak** which HK understands. But, downside of that is we need to keep 2 separate forms. One for HK and one for other channels.

[2018-06-25 14:30] JasonSowers commented on #4113
@Kannaj were you able to find a solution to this or do you still need help?

[2018-06-25 14:33] JasonSowers commented on #4116
Please open a new issue if you are experiencing problems still.

[2018-06-25 14:33] #4116 closed

[2018-06-25 14:39] JasonSowers commented on #4139
@luisnatividade were you able to resolve this, or did you still need help?

[2018-06-25 14:43] JasonSowers commented on #4183
@oyen were you able to resolve this?

[2018-06-25 14:46] JasonSowers commented on #4188
You can now register a bot to multiple Facebook pages.  If you are still having trouble please open a new issue.

[2018-06-25 14:48] JasonSowers commented on #4210
@fms-santos I cannot speak for @brene and his team but I will reach out and see what I can find out.

[2018-06-25 14:59] rjgmail88 opened #4786 "[Node.js SDK, Azure App Service] Bot analytics doesn't show channel specific data"
## Bot Info
* SDK Platform:  Node.js
* SDK Version: v3
* Active Channels: MS Teams, Skype, cortana
* Deployment Environment:  Azure App Service

## Issue Description
I have configured bot analytics as described here [https://docs.microsoft.com/en-us/azure/bot-service/bot-service-manage-analytics?view=azure-bot-service-3.0](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-manage-analy

[2018-06-25 14:59] JasonSowers commented on #4027
Glad you were able to find a solution.