[2016-08-05 20:24] #906 closed

[2016-08-05 20:25] Thegaram opened #918 "Skype Preview wrong message on button click"
When I click on a button in the new Skype Preview (which is part of the Windows 10 Anniversary Update), the answer sent to the bot is in this format:

[code]

It seems like the Connector Service for Skype is not prepared for this, as the bot also receives the message in this format instead of only receiving the message text. As a consequence, the dialog logic won't be able to handle the answer.

E

[2016-08-05 21:21] eanders-MS commented on #846
Ok, it looks like your bot is having trouble responding, but when we try to post a message to this effect back to the user via Telegram, Telegram rejects the message for having invalid markup. Here is the error message we're trying to send:
[code]
The bot id contains three underscore characters. Telegram is trying to interpret them as markdown, and failing to match the third one.

[2016-08-05 21:50] YohannPuri commented on #913
Hey Dan,
I reverted back to an old version which was working and published that. Same thing! No replies!
As an additional test I took another bot I had which was working and responding and republished it with no changes at all and that has stopped responding as well!

[2016-08-05 22:16] nzthiago commented on #715
Thanks @msft-shahins  - I only tried again as Dan asked, I thought maybe this had been fixed with Bot Builder 3.1.0 that has come out a couple of days ago. No problem, will keep an eye out for the update that fixes the dependency on 1.8.2

[2016-08-06 00:38] tungnt244 commented on #900
![image](https://cloud.githubusercontent.com/assets/20721437/17453601/910fae10-5ba8-11e6-91ae-4be8ba83e4d0.png)
![image](https://cloud.githubusercontent.com/assets/20721437/17453603/a0cac470-5ba8-11e6-905e-bb50916301e9.png)

Here are my call stack,

[2016-08-06 01:18] MironV commented on #864
@danmarshall On the web client I'm not seeing the disabled buttons at all. "tel" works fine. The buttons are just URL's and work fine in Messenger. On my Mac, on the latest version of Skype I see the buttons but they are disabled.

[2016-08-06 03:34] eanders-MS commented on #896
The desktop client of skype only shows 2 lines in the text (and subtitle) area.
So "test\ntest\ntest" would only show test twice.
On the other hand the mobile client of skype shows everything (all 3 "test").
Is that a bug in the desktop client?

This does sound like a Skype bug. Tagging appropriately. Thanks for reporting.

[2016-08-06 06:00] Stevenic commented on #785
So when you try to contact user B from user A's conversation, where are you getting the address for user B from?  You can only start a new conversation with user B using the address object saved from a previous conversation with user B. Is that what you're doing?

[2016-08-06 06:01] Stevenic commented on #785
You can't reliably create a new address object from scratch

[2016-08-06 06:13] Stevenic commented on #911
Yes... We're still in preview mode even though we're at version 3.  At this point we're likely to have numerous more breaking changes. We're trying to keep them as small as possible and only making them when we can't avoid it.

For this particular release the breaking changes were actually bug fixes.  For a small number of users these could have been desired behaviour so we provided an alternate w

[2016-08-06 06:19] Stevenic commented on #911
I should also point out that the only reason we're at version 3.x is because of external forces. If I had my way we'd still be 0.x.x something

[2016-08-06 07:01] thingista commented on #785
@Stevenic (following up on the conversation on Gitter). Even when there's only one user involved it does not seem to work. E.g.:

[code]
The second step of the /test waterfall is not called.

[2016-08-06 08:09] MironV opened #919 "IntentDialog matches against FB quick_replies payload instead of FB message title"
If you have a FB message that comes from a quick_reply, it seems like the IntentDialog matches against the "payload" instead of matching against the "title" text the user actually sees. Since it is a quick_reply, it's meant to be a shortcut to text that would be typed by the user anyway, so it should allow matching against that.

[2016-08-06 08:24] MironV opened #920 "[Facebook Messenger] Newlines stripped out when sending messages"
Sending messages seems to strip out multiple newlines (to create whitespace). Newlines are supported on FB Messenger but when I route them through Bot Framework they seem to disappear.

[2016-08-06 10:12] euanlau opened #921 "beginDialog does not work with Skype group chat"
Version 3.2.1

`bot.beginDialog(address, '/someroute')` always send the message to the 1-1 conversation that belongs to the user object in `address.user` even if `address.conversation` is pointing to a group conversation.

It seems that the problem is associated with `bot.ensureConversation`. It retrieves the conversation by using the single user inside `address.user` and the bot in `address.bot`.

[2016-08-06 10:44] euanlau opened #922 "Bing News Card format"
I tried the Bing News Bot on Skype. The layout for articles is not the same as HeroCard.

Is Bing News using custom attachment layout on Skype?

[2016-08-06 11:19] vlttnv commented on #742
I think I figured out why this was happening to me. I had my whole setup in docker containers (app.js, backend, db etc.) and forwarded traffic to the nodeJS container through ngrok. I think there is some issue with certificates on Native Docker for Mac. The solution (or rather workaround) was to move the nodeJS app outside the container.

[2016-08-06 11:52] JpEncausse commented on #786
Ok, so my lowcost workaround was to subscribe a little SSL Account on Gandi (12€/y) for a subdomain with A Record link to Azure IP Address.

[2016-08-06 16:38] rmatosaw commented on #847
Hi LarsLiden.

Would you help me to try to detect where this Exception occurs?
All my channels has apparently the same problem.
I use try/catch in Post and logging the eventual exception. But there is no exception log, and the message is collected properly.

Thanks

[2016-08-06 17:54] Stevenic commented on #785
I just verified that proactive dialogs aren't working. There was a bug in the Node SDK but there's also a bug in at least the Facebook channel that I need Tom to look into.  He's out of town until Wednesday so unfortunately may take us a couple of days to get this ironed out.

[2016-08-06 19:19] MironV opened #923 "Actions should support array matches"
It would be great to have actions support array matches as well, just like intents.matchesAny. This way it'd be cleaner to handle "good bye" messages and things like that.

[2016-08-06 19:29] Stevenic commented on #919
This is By Design... So this works the way it does to align with the way Keyboards work on other channels like Kik or Telegram.  On those other channels only the payload is sent. The label may be show to the user but never sent. We map the quick reply payload on Facebook to be the message.text for consistency purposes. These are essentially `postBack` actions for us which are always the payload.

[2016-08-06 19:31] MironV commented on #919
Ah, got it. It's not a huge deal--I was using payload for additional info but I think I can munge it so it works.

[2016-08-06 19:37] Stevenic commented on #919
You can bind them to actions if you use the dialogAction() method or just put "action?<action_name>=<data>" for your payload. You can look at the facebook demo bot I posted yesterday for an example of this. This is how I bind persistent menu buttons to actions.

You can't easily bind buttons to a LUIS model although I'm planning to let you bind an action to an Intent and LuisRecognizer

[2016-08-06 19:37] Stevenic commented on #919
`action?<action_name>=<data>`

[2016-08-06 19:40] Stevenic commented on #923
So the reason I didn't do that is that it's actually really easy (and way more efficient) to just combine multiple expressions into a regex using parens... So `/^(goodbye|see ya|bye|so long)/I` would matchany of those expressions

[2016-08-06 19:44] thingista commented on #785
@Stevenic Understood. Thanks a lot. Just wondering: have you committed the Node SDK change already (I am only using Skype at the moment and would be keen to give it a go), or will you wait for the other changes?

[2016-08-06 19:51] Stevenic commented on #785
I'll try it with skype. we're not sure if it's limited to Facebook so I'll give it a go on skype later today. I'm not convinced I have my side fully fixed yet.

[2016-08-06 19:52] Stevenic commented on #916
Good catch... I'll move where that's getting set to be after all session middleware runs.

[2016-08-06 19:58] Stevenic commented on #916
Just committed that change. Will go out in the next update. Likely Monday if not sooner. For now... I'd just add your own timestamp to the sessionState to track when you last saw the session.

[2016-08-06 20:04] Stevenic commented on #921
That's a reasonable ask... It just means removing the logic from `UniversalBot.beginDialog()` that automatically deletes the `address.conversation` field. This would let you proactively start a new dialog stack with a user or group within the context of an existing conversation. I can see that being useful.

[2016-08-06 20:16] Stevenic commented on #921
Should be fixed... I just published v3.2.3

[2016-08-06 20:17] Stevenic commented on #785
I think I have it fixed... Just pushed v3.2.3 give that a try

[2016-08-06 20:21] oztheozoz commented on #788
I can do that next week.

[2016-08-06 20:27] oztheozoz commented on #742
What type of network did you run your docker container with? I recently had a different issue where I had to run my docker network as host for my bot to work correctly.

[2016-08-06 20:36] Stevenic commented on #687
Can you try v3.2.3 of the SDK

[2016-08-06 20:38] Stevenic commented on #742
Glad you found the issue...Good to know that can cause issues

[2016-08-06 20:38] #742 closed

[2016-08-06 20:40] Stevenic commented on #878
Did that resolve your situation?

[2016-08-06 20:41] Stevenic commented on #493
great

[2016-08-06 20:44] Stevenic commented on #537
@loretoparisi I noticed that `faded by alan wakjer` that you misspelled 'walker' If that was your real query it probably was just that we didn't think it was an exact enough match. We'll be making improvements to the choices() prompt shortly to disambiguate choices in this situation.

[2016-08-06 20:46] Stevenic commented on #767
Adding dan

[2016-08-06 20:48] Stevenic commented on #482
Good bug... We can look into improving this. @chrimc62 what does C# do in this case?

[2016-08-06 20:52] dandriscoll commented on #767
Hi @lanma, upload in web chat was broken a few weeks ago but should be working now. I'm seeing it work correctly with my bots. Can you try again and see if it's still broken?

[2016-08-06 20:53] Stevenic commented on #531
A couple of comments... Sorry I'm coming late. As of v3.1.x I believe, prompts no longer return until the user successfully provides an answer. MaxRetries is essentially infinite by default now.  You can use a validated prompt or you can build a dialog which acts like a custom prompt.

I'm about to re-write the prompt system such that building rich custom prompts is going to be WAY easier. The val

[2016-08-06 20:54] Stevenic commented on #478
There was a bug preventing this from working correctly. Please try again with v3.2.3. I'll re-open the issue if it's still not working.

[2016-08-06 20:56] Stevenic commented on #448
Yes... update to v3.x and let us know if you're having issues.

[2016-08-06 20:57] Stevenic commented on #660
This should be resolved in the latest version of the SDK. Let me know if it's still happening and I'l lre-open the issue.

[2016-08-06 20:57] #660 closed

[2016-08-06 21:02] Stevenic commented on #712
We have a bug we're already tracking to re-work all of the entity recognizer resolving logic. I may look into just adopting moments.js for a lot of this stuff.

[2016-08-06 21:02] #712 closed

[2016-08-06 21:03] Stevenic commented on #730
If this is still an issue with the latest emulator, let us know and we'll re-open the issue.

[2016-08-06 21:03] #730 closed

[2016-08-06 21:05] Stevenic commented on #683
Yes... `connector.listen()` is all that's needed in v3. You're basically forced to use verifyBotFramework() now.

[2016-08-06 21:05] #683 closed

[2016-08-06 21:06] Stevenic commented on #684
I've updated the firstRun example to use the new middleware. Sorry for the delay.

[2016-08-06 21:06] #684 closed

[2016-08-06 21:07] Stevenic commented on #920
I've seen this too. Adding Tom.

[2016-08-06 21:07] #919 closed

[2016-08-06 21:08] Stevenic commented on #916
Should be fixed in v3.2.3. Please let me know if it's not and I'll re-open this issue.

[2016-08-06 21:08] #916 closed

[2016-08-06 21:12] Stevenic commented on #424
I think this was likely addressed with a recent change to the way the IntentDialog works.

[2016-08-06 21:16] Stevenic commented on #914
I don't believe they currently support bots sending a typing indication. I'll let them comment.

[2016-08-06 21:17] Stevenic commented on #913
Are you using Node or C#?

[2016-08-06 21:18] #911 closed

[2016-08-06 21:56] thingista commented on #785
@Stevenic Fantastic. It's working for me on both Skype and Slack. Thank you so much for doing this. I have to say I did try to find a fix... to no success :-).

[2016-08-06 22:51] MironV commented on #865
@tomlm @Stevenic Am I doing this right? It seems like, according to the REST API documentation, this uploads to blob storage. I don't really need that, just a way to send a GIF directly to a channel.

Is there a way to do this or do I have to do it manually for each channel?

[2016-08-07 05:09] mghimp commented on #884
@officialdharam I developed Skype calling bot and did not find any embedded integration either. So I had to use Speech-To-Text service to transcribe the audio input. Unfortunately, this badly impacts performance and significant delay is noticed on the client, thus making the UX very poor.

[2016-08-07 05:32] officialdharam commented on #478
@Stevenic  this is a good news... Thanks a lot of your help!

[2016-08-07 05:35] officialdharam commented on #785
I remember raising this as a concern two months back... Nice to see that it works now.

[2016-08-07 05:39] officialdharam commented on #884
True!

I have a bot with DirectLine channel and currently I use the speech.js to upload an audio file to get text. Then I send the text to the bot.

Unfortunately, I didn't get the microphone working for a real time scenario in a static speech.js file.
When I host the visual studio solution on localhost and then try the microphone, it works fine. Did you get the microphone working with just speech

[2016-08-07 05:54] mghimp commented on #884
I use C# SDK. I implement the Skype use case so and in real life I have no access to client and get the recorded audio complete after speech recording ended. Therefore, real time transcription is not possible in my case.

[2016-08-07 06:54] euanlau opened #924 "HeroCard tap does not work on Skype iOS"
Node Version 3.2.3

I am not sure this is the right place for the bug.

I added the `tap` action to a `HeroCard` and it works fine on Skype Mac App. However, it does not work on iOS.

Bing News Bot article tap works fine on Skype iOS. But perhaps the format that it uses is not HeroCard and so it might not be relevant at all.

[2016-08-07 08:04] pke commented on #712
That's what I am doing at the moment. Using `momenjs`.

[2016-08-07 12:36] wiltodelta opened #925 "Pass to the dialog all types of Activity"
I'm developing a bot for Facebook, Slack and other channels. For each channel we have different scenarios and dialogs.

In the controller I plan to choose the type of dialog depending on the ChannelId. Can I pass to the dialog all types of Activity?

[code]

[code]

[2016-08-07 13:21] wiltodelta opened #926 "ConnectorClient"

[2016-08-07 13:21] #926 closed

[2016-08-07 13:42] wiltodelta opened #927 "IConnectorClient and BotAuthentication custom settings"
We get settings using CloudConfigurationManager. IConnectorClient resolved automatically in the dialog when calling context.PostAsync. How to pass the correct parameters (MicrosoftAppId, MicrosoftAppPassword)?

In the case BotAuthentication we wrote a simple custom attribute:

[code]

[2016-08-07 14:04] VishalWaman commented on #905
Thanks all.

[2016-08-07 14:04] #905 closed

[2016-08-07 14:05] VishalWaman commented on #914
This works with channel emulator.

[2016-08-07 14:22] Stevenic commented on #785
We've had a lot of bugs on our plate. Sorry it took so long to get to this one but glad it's working now :)

[2016-08-07 14:22] #785 closed

[2016-08-07 14:23] Stevenic commented on #712
@pke do they have functions to resolve the various ISO placeholders like "2016-W29"?

[2016-08-07 14:24] Stevenic commented on #914
The emulator supports everything so it's not an accurate simulation of any one channel.

[2016-08-07 14:24] #914 closed

[2016-08-07 18:34] MironV opened #928 "Sending multiple hero card carousel throws a 500 error on Kik"
I'm testing out my hero card carousel on Kik and I get a 500 error. The card is simple: title, subtitle, image, and 2-3 openUrl buttons. It works fine on other services.

[2016-08-07 18:47] MironV opened #929 "How to filter and customize group chat messages?"
When a bot is part of a group, it seems to receive all texts in the group. Is there a way to set a filter so the bot only comments when directly addressed or mentioned (i.e., with @bot)? Similarly, when the bot replies how can one control whether the reply is directly addressed to the user (but visible by the group), generic to the group, or private to the user?

[2016-08-07 18:50] MironV opened #930 "Skype not playing animated GIFs"
When I send an animated GIF to Skype, it never comes out animated on the other end. It works fine on other channels. Is this just not supported?

[2016-08-07 18:54] MironV opened #931 "Way to specify graceful fallback for hero cards"
It would be nice if there was a way to specify graceful fallback for hero cards so that they would look good on each channel. For example, my standard card carousel with 1 image, some text, and 3 buttons ends up with wildly different results across Messenger, Skype, Kik, GroupMe, Slack, and Telegram.

Right now, I'll be doing if-statements for each channel and tuning but it would be nice if there

[2016-08-07 19:38] dandriscoll commented on #915
The core of the Direct Line protocol takes, on average, around 200ms to accept and "send" the message. However, there are two features in the protocol to make lives easier for client developers that inflate this value.

First, we guarantee message ordering so clients don't have to deal with messages appearing in the past. This can introduce delays as we reorder calls, especially under heavy conten

[2016-08-07 22:56] garypretty commented on #772
Hey. @msft-shahins @willportnoy Hope you are both good. I have now got the EntityRecognizer for C# to a point where it is ready. I have added appropriate XML docs for DoxyGen and I have added a bunch of unit tests as well.  I have tried pushing my local branch up to GitHub so that I can submit the pull request, but I don't seem to have access. Is this something you can provide please?

Is there an

[2016-08-08 00:26] MironV opened #932 "Time prompt doesn't allow escape words"
According to the documentation, the built-in prompts allow the user to say things like "cancel" or "nevermind" to get out of the prompt. However, if I try that with the Time prompt, it simply says it didn't recognize the time and to try again.

[2016-08-08 02:27] stucko commented on #673
2016-08-08T02:24:16  Welcome, you are now connected to log-streaming service.
Application: 2016-08-08T02:24:21  PID[7072] Warning     Invalid token. System.IdentityModel.Tokens.SecurityTokenSignatureKeyNotFoundException: IDX10500: Signature validation failed. Unable to resolve SecurityKeyIdentifier: 'SecurityKeyIdentifier
Application:     (
Application:     IsReadOnly = False,
Application:     Cou

[2016-08-08 02:34] msft-shahins commented on #673
Are you using the latest nuget? Do you have the right Microsoft App Id and app password? I assume that you have replaced the token that you have with "mytoken" value. Is that true? What is the Microsoft App id for your bot?

[2016-08-08 02:36] stucko commented on #673
yes  here is my token :
{"typ":"JWT","alg":"RS256","x5t":"YbRAQRYcE_motWVJKHrwLBbd_9s","kid":"YbRAQRYcE_motWVJKHrwLBbd_9s"}.{"aud":"https://graph.microsoft.com","iss":"https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/","iat":1470620444,"nbf":1470620444,"exp":1470624344,"appid":"aa2f9ddd-2762-401f-843a-8c8cd9f7093f","appidacr":"1","idp":"https://sts.windows.net/72f988bf-86f1-41af-91ab-2

[2016-08-08 02:42] msft-shahins commented on #673
You only need to update the builder nuget to 3.1. we still depend on System.IdentityModel.Tokens.Jwt 4.0.2.206221351.

[2016-08-08 02:53] stucko commented on #673
AFTER UPDATING Microsoft.Bot.Builder from 3.0.0 > 3.1.0 and REVERTING System.IdentityModel.Tokens.Jwt 5.0.0 > 4.0.2.206221351

again server doesnt show any error but this time i get from the emulator json reply  :
Could not load file or assembly 'System.IdentityModel.Tokens.Jw' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception

[2016-08-08 02:56] msft-shahins commented on #673
It means that your project doesn't have the right version of one of the builder's dependencies.

[2016-08-08 03:07] stucko commented on #673
Thank you :) , after using a backedup project before the updates and just updating Microsoft.Bot.Builder from 3.0.0 > 3.1.0 it works fine :)

apparently updating System.IdentityModel.Tokens.Jwt  to 5.0.0 and later reverting back to 4.0.2.206221351 messed p the project.

[2016-08-08 03:57] msft-shahins commented on #772
@garypretty you should be able to send pull request by following standard github process [here](https://help.github.com/articles/using-pull-requests/). Basically, you will fork the repository to your personal account, push your changes to your upstream, and send the pull request against the master that you have forked your repo from.

[2016-08-08 05:07] YohannPuri commented on #913
All my code is C#!

[2016-08-08 05:25] mghimp commented on #910
To support the Call only bot, I would like to ask that in addition to _**Call -> Recording**_ flow, the flow _**Call -> Text**_ flow to be supported by Bing Speech integration as well because currently in order to get text out of recording I have to use consecutive 3d party Speech-To-Text service which impacts badly UX by significant delay

[2016-08-08 05:45] MironV opened #934 "Keyboard helper class exists but is not exported"
It seems like the Keyboard helper class exists but is not exported by botkit.js so it's unavailable for external use.

[2016-08-08 05:47] MironV commented on #928
I'm also getting a 500 error on Kik periodically when I send pure text messages.

[2016-08-08 05:55] MironV opened #935 "Adding a keyboard attachment displays incorrectly on Telegram"
If you add a keyboard attachment to a message, on Telegram you get a weird "Options:" phantom text that follows the message text. The buttons for the keyboard are then shown as buttons rather than showing as a keyboard replacement in the actual keyboard.

[2016-08-08 05:59] ankitbko opened #936 "[Skype] Allow integration of 3rd party Text to Speech in Skype Calls."
Present Text to Speech functionality of Skype seems to be fairly limited. For instance, it pronounces "16224" as individual digits rather than "sixteen thousand two hundred and twenty four". Whereas Bing Speech supports this. Moreover Skype only supports en-us.
In current SDK I do not see any way for me to plugin 3rd party TTS, I can only pass plain string which is passed to Skype TTS or pass in F

[2016-08-08 07:13] Badolfo opened #937 "[C#][Facebook] Persistent Menu with Global Actions"
Hello,

Can anyone tell me where can I find some example on how to use new v3.1 Named Dialog Actions feature to implement global actions like help, resulting in a Facebook Persistent Menu?

Thanks,

[2016-08-08 07:26] letmaik commented on #898
I just noticed that the `outgoing` event is not described in the parameters section. Can you add that? I may actually have to use that.

[2016-08-08 07:29] APXEOLOG commented on #781
Any comments for this one? Same problem for me

[2016-08-08 08:23] Avartarus-Testicus commented on #846
Hi @eanders-MS , thanks for your fast response. Today I registered a new bot on the microsoft page with no underscore characters in the bot id. I hoped it would be enough, to work with telegram correctly again. But this time again, an issue occurred
![abc1](https://cloud.githubusercontent.com/assets/20560750/17473684/138f9a80-5d52-11e6-95b1-c9b3d42cccb9.PNG)
![abc2](https://cloud.githubusercontent

[2016-08-08 08:54] wiltodelta opened #938 "Dialog Dependency Injection"
Hi!

I need an example with dependency injection in dialog constructor.
I have a service, that registers in Autofac container as singleton.

[code]

We pass a service to dialog constructor.

[code]

After each message I get an exception:

Exception: System.Runtime.Serialization.SerializationException: Type 'Abbyy.Contento.Bot.Web.Dialogs.BotDialog' in Assembly 'Abbyy.Contento.Bot.Web, Version=1.0.

[2016-08-08 09:22] APXEOLOG commented on #781
Using 3.2.3, extended error message:
`{ errorCode: -1,
  message: 'ExceptionContext::MS.Msn.Messenger.ConnectionGateway.WebApi.Models.ResourceMri GetDecryptedIdentity(MS.Msn.Messenger.ConnectionGateway.WebApi.Models.ResourceMri, MS.Msn.Messenger.Runtime.MessengerResourceIdentifier, MS.Msn.Messenger.Runtime.Agents.ApsAgentCache)' }
`

[2016-08-08 10:38] JpEncausse opened #939 "Node-RED Connector"
Hi,

I'd like to make a Node-RED connector on top of MS Bot Framework. There is already connectors for some bots.

How can I gracefully insert into the MS Bot Framework without breaking everything? The workflow should be:

- An HTTP POST Request arrives on /path/v1/messages
- Then it so forwarded to a ChatConnector.listen() <= here I need to split request and response and Extract the JSON.
- Then

[2016-08-08 12:17] JWiersema opened #940 "Skype Calling bot gives Internal Server Error"
I'm using the project template from https://docs.botframework.com/en-us/csharp/builder/sdkreference/calling.html for building a skype calling bot. I published the bot as an azure site and registered it in the bot framework developer portal and then added it type skype for windows desktop 8.1 (v 7.26).
When I type the echobot works correctly. When I start a call however, the bot replies with 'You c

[2016-08-08 12:43] matheus208 commented on #937
I don't think BotBuilder has support for that within the library.

I just POSTed the JSON according to [Facebook's documentation](https://developers.facebook.com/docs/messenger-platform/thread-settings/persistent-menu). For the payload, I used something like "PAYLOAD_DELETE_DATA".

On the SDK, I used a Middleware to listen for incoming payload messages and treated the result/fired up the correct D

[2016-08-08 13:14] CPerill commented on #882
Can you share what you did?

[2016-08-08 13:28] CPerill commented on #882
I removed the AppID and AppID and it worked locally.

[2016-08-08 13:33] changhc commented on #882
Hi @CPerill.

Aside from the four properties mentioned in the docs, you need to add two additional ones:

serviceUrl: you can get this from session.message.address
useAuth: set this **true** -- **this is the main point**

However, this solution is actually not recommended and perhaps temporary. Since the properties of interface IAddress may be modified in the future, this is only temporary. Accord

[2016-08-08 13:36] mghimp commented on #936
In Skype call scenario, you can save the raw audio into file on public storage and give it to Skype to be played as playprompt

[2016-08-08 13:52] ankitbko commented on #936
@mghimp But that is too slow. For every response (which changes for every interaction) I will have to save a temporary file first and then give the URI. This approach brings its own set of problems. It would be much better if I could just pass in raw bytes. It is similar to how I get raw stream for "Record" workflow rather than just a file URI. Even Bing Speech returns audio payload rather than fi

[2016-08-08 14:41] garypretty commented on #772
@msft-shahins @willportnoy hi guys.  Pull request submitted as discussed (thanks for pointing me to the instructions, all pretty straight forward). I updated a bunch of the code to use RegEx for recognizing the LUIS date / time entities, so think we have most, if not all, of the user cases covered. Looking forward to your feedback. Thanks!

[2016-08-08 14:48] davyme commented on #937
Oh, but it does! V3.1 release notes say: Form Flow for automatically generating a Bot from a C# class for filling in the class and that supports help, navigation, clarification and confirmation. I think the examples are just not yet available.

[2016-08-08 16:40] willportnoy commented on #900
Thank you for the call stack - that's useful.  Does resetting the emulator help avoid the issue?

https://docs.botframework.com/en-us/technical-faq/#how-can-i-reset-the-bot-framework-emulators-settings

[2016-08-08 16:59] craigjensen commented on #792
Currently, there is no way for a bot to call chat.update directly because we don't expose the slack token that you need to make the call.  What functionality are you looking to support that requires a call to chat.update?

[2016-08-08 18:17] Aleksion opened #943 "Multiple functions are not documented in botbuilder.d.ts"
I don't know if it's intentional (because it's not encouraged to use the functions), but multiple of fx Session's functions are not documented in the exported class in botbuilder.d.ts

curDialog, findDialog etc.

[2016-08-08 18:45] oztheozoz opened #944 "How can you interrupt a dialog flow in progress?"
Let's say I have the following code:
[code]

This is what I want to do:
If I am at builder.Prompts.choice of intent dialog "intent_a" and the user types "how are you", I would like for the "how_are_you" intent to start. Then when it is finished, resume the flow from intent dialog "intent_a".

This is what I see it do:
If I am at builder.Prompts.choice of intent dialog "intent_a" and the user types

[2016-08-08 19:04] alisiikh commented on #860
Fixed this issue for me by adding a custom Middleware processor, which looks like this:

[code]

Now I can write messages to my bot, and all entities  of "mention" type are removed from original text so I get only a command without tags.

 I just close this ticket as there's no activity here.

[2016-08-08 19:04] #860 closed

[2016-08-08 19:42] MCKRUZ commented on #792
Utilizing Chat.update you can update the message on the chat.  See this example.

https://medium.com/slack-developer-blog/message-buttons-and-the-slack-api-ab938174af70#.mzbcwirr6

From: craigjensen <notifications@github.com>
Reply-To: Microsoft/BotBuilder <reply@reply.github.com>
Date: Monday, August 8, 2016 at 12:59 PM
To: Microsoft/BotBuilder <BotBuilder@noreply.github.com>
Cc: Matt Kruczek <kr

[2016-08-08 19:45] mghimp commented on #936
No doubt that would impact performance. I just stated what is currently possible.

[2016-08-08 20:25] danmarshall commented on #939
Hi @JpEncausse this is a very cool idea. I'm not sure that the concepts of a bot will map directly into a visualization, since there can be multiple entry and exit points. The diagram may end up looking like spaghetti for even a simple bot :)

[2016-08-08 20:32] danmarshall commented on #881
Hi @epitone, did this work for you?

[2016-08-08 20:41] KrishnanA commented on #940
Could you check if your calling webhook is configured correctly on the portal? Could you also share the bot Id please?

[2016-08-08 21:01] JpEncausse commented on #939
Agreed, Node-RED handle multiple input and output.

My Idea was to build 2 kind of graph:
- a Dialog graph to display a kind of waterfall
- a Bot graph that will link multiple Dialog graph

Then I still look for a smart way to split dialog's text and code because it's not the same people doing that.

I dig a little bit in MS code and see that a Dialog quickly answer HTTP 202 then it seems session.

[2016-08-08 21:43] craigjensen commented on #917
Did you configure the email channel for your bot?  You'll need to initialize the message.From ChannelAccount with the email address you set up when you configured the email channel.

[2016-08-08 21:44] willportnoy commented on #938
Separate from dependency injection, the dialog should be marked as serializable.

For services, we use a keyed service in autofac to restore those services from the container rather than than the serialized blob.  Here are some other options:

https://docs.botframework.com/en-us/technical-faq/#how-can-i-reference-non-serializable-services-from-my-c-dialogs

I have a sample in code review that uses

[2016-08-08 21:46] willportnoy commented on #925
Yes, that should be fine.  We don't have any dispatching mechanism to help redirect control to different methods based on the IActivity type, but it looks like you have that in the code above.

Are you encountering any issues?

[2016-08-08 21:48] willportnoy commented on #927
You might consider dynamically instantiating the BotAthentication attribute (and inheriting from it) with the proper parameters.  @msft-shahins do we have a pattern for this?

[2016-08-08 22:11] euanlau commented on #921
The fix looks good. Thanks!

[2016-08-08 22:11] #921 closed

[2016-08-08 22:23] nickcordrey commented on #914
Confirming Skype doesn't support typing indicator for bots today.

[2016-08-08 22:35] RiccoSuave commented on #917
Hey man, Thanks for the email. I was messing with message.recepient. Here is the latest I have. I ran a debug and noticed the email address does not populate the message object. What do I add are the message.from = ?

From: craigjensen [mailto:notifications@github.com]
Sent: Monday, August 8, 2016 5:44 PM
To: Microsoft/BotBuilder <BotBuilder@noreply.github.com>
Cc: Sean <shansari@verizon.net>; Aut

[2016-08-08 22:44] RiccoSuave commented on #917
I created a new instance of a channel accounts for the From variable also and I now see the email credentials in the message, but I have not received any email on my account yet. Here is the latest I have.

From: craigjensen [mailto:notifications@github.com]
Sent: Monday, August 8, 2016 5:44 PM
To: Microsoft/BotBuilder <BotBuilder@noreply.github.com>
Cc: Sean <shansari@verizon.net>; Author <author

[2016-08-08 23:33] LarsLiden commented on #931
Agreed, but it's a difficult problem as each platform has different constrains around what can be rendered.  Any specific suggestions are more than welcome.   We're also working on a doc to illustrate how each card will be displayed on each platform.

[2016-08-08 23:34] LarsLiden commented on #928
Can you provide a sample payload that replicates the 500?  Thanks!

[2016-08-08 23:35] LarsLiden commented on #891
Can you share the JSON payload generated by the code?

[2016-08-08 23:58] JamieREvans commented on #891
[code]

[2016-08-09 00:03] LarsLiden commented on #807
Thank you.  We will address this issue in the next build.

[2016-08-09 00:03] #807 closed

[2016-08-09 00:20] RiccoSuave commented on #917
I think I need to activate the email service for the bot. Assuming that is the issue, would a Hotmail account work? The activation page says to use an office365 email account.

From: craigjensen [mailto:notifications@github.com]
Sent: Monday, August 8, 2016 5:44 PM
To: Microsoft/BotBuilder <BotBuilder@noreply.github.com>
Cc: Sean <shansari@verizon.net>; Author <author@noreply.github.com>
Subject:

[2016-08-09 00:24] craigjensen commented on #917
Yes – you’ll need to configure the email service so your bot has an email address.  Hotmail will not work reliably so you should use an O365 account.

From: Sean [mailto:notifications@github.com]
Sent: Monday, August 8, 2016 5:21 PM
To: Microsoft/BotBuilder <BotBuilder@noreply.github.com>
Cc: Craig Jensen <cjensen@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [Microsoft/BotBuilde

[2016-08-09 00:49] nzthiago opened #945 "TaskCanceledException using DirectLine"
Hi team,

Two of our functional tests against our bot have always failed with a TaskCanceledException. These test are the same as the others, they all use the DirectLine api (.NET, DirectLine nuget version 1.0.2) and use directLineClient.Conversations.PostMessageAsync(..) to send a message to the bot. This specific test fails at that line, while awaiting that PostMessageAsync. When we send the sam

[2016-08-09 00:50] RiccoSuave commented on #917
Thanks. I used an email from masonlive.gmu.edu which I understand to be office365. Let’s see how it works. Nothing as of now.

From: craigjensen [mailto:notifications@github.com]
Sent: Monday, August 8, 2016 8:25 PM
To: Microsoft/BotBuilder <BotBuilder@noreply.github.com>
Cc: Sean <shansari@verizon.net>; Author <author@noreply.github.com>
Subject: Re: [Microsoft/BotBuilder] email configuration (#9

[2016-08-09 01:43] msft-shahins commented on #910
@ankitbko  you can achieve that by using [BotToUserQueue](https://github.com/Microsoft/BotBuilder/blob/c4dbb7183cc1c23837b6d6c8bc03fe8c54ba1f55/CSharp/Library/Dialogs/BotToUser.cs#L67) as the IBotToUser for your bot. You can find an example of how you can configure your bot to use a custom IBotToUser [here](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Tests/FormTest/Program.cs#L118).

[2016-08-09 01:53] msft-shahins commented on #910
@mghimp thanks for the feedback, currently I am not aware of any plans for adding support for `Call -> Text` path to Skype Calling API. I will send your feedback to the Skype development team for consideration.

[2016-08-09 02:02] stucko opened #946 "Sorry, my bot code is having an issue."
I am currently getting this as a reply when testing my bot in the Emulator. Ive checked the bot app logs and there arent any errors. What kind of issue would this be?

Here is the part code that is causing this:
[code]

While this works :
[code]

cant i pass an Activity type to PostAsync, isnt Activity type an IActivityMessage ?
im trying to use cards in dialog.

[2016-08-09 02:19] MironV commented on #931
It's definitely tough. Some thoughts:

1. A way to specify, per attribute (e.g., buttons) whether to do "strict" or "loose" fallback. Strict would simply not render that part.

2. A way to specify "alt" text for a component. If buttons or some other part can't be rendered, perhaps I can specify alternative text?

3. A way to easily specify what parts should be shown for each channel. This would be

[2016-08-09 02:36] tungnt244 commented on #900
Thanks a lot, My problem was solved.

[2016-08-09 05:50] nickcordrey commented on #864
The latest Skype clients on desktop and mobile all have support for cards now. Please could you confirm you are using HTTPS for your open URL links as this is required in Skype.

[2016-08-09 05:53] nickcordrey commented on #918
Thanks I've flagged this issue to the Skype team.

[2016-08-09 06:31] #888 closed

[2016-08-09 07:07] JWiersema commented on #940
My BotId is 5CACallingBotDemo and my callback hook is https://5cacallingbotdemo.azurewebsites.net/api/calling/call

[2016-08-09 09:12] wiltodelta commented on #938
Thank you! Will wait for the example code. Now we use a workaround, but it doesn't seem good:

[code]

[2016-08-09 09:14] JWiersema commented on #940
It is working now. I reset the callback hook several hours ago, maybe that was the solution.

[2016-08-09 09:17] wiltodelta commented on #927
It is not clear how to write custom implementation IConnectorClientFactory. And in what container to register it. Confused by the constructor in ConnectorClientFactory passing IMessageActivity.

[2016-08-09 09:17] VishalWaman opened #947 "Intent and dialog handler Node.JS"
I have case where we need common code to handle intent =  help and dialog= help.

Now I need to write separate code for dialog and intent

`bot.dialog('menu', [
    function (session) {....`

`intents.matches('menu', [
    function (session) {
`

Is there any way that manages both at common function ?

[2016-08-09 09:52] lanma commented on #767
@dandriscoll It works now! Thank you very much!

[2016-08-09 11:44] AndyCross opened #948 "IntentDialog session.send message don't appear to reach Slack"
I recently upgraded my bot from a BotConnectorBot to a UniversalBot. I used to have good connectivity with Slack but since upgrading I'm not getting replies to show. I'm using an intentDialog which abbreviates like this:

[code]

I'm hosting in Azure (WebApp) and after turning NODE_DEBUG to "botbuilder" I get logs which say:

There are no message appearing in Slack at all.

I see the events coming

[2016-08-09 13:08] RiccoSuave commented on #917
This is the latest version of the controller code. Notice I just added the lines relevant to email to the existing project...
using System;
using System.Linq;
using System.Net;
using System.Net.Http;
using System.Threading.Tasks;
using System.Web.Http;
using System.Web.Http.Description;
using Microsoft.Bot.Connector;
using System.Collections.Generic;
using Newtonsoft.Json;
using Microsoft.Bot.Buil

[2016-08-09 13:48] Koshak118 opened #949 "Facebook Bot: Pressing "Get Started" button has no effect"
That's the FB documentation : https://developers.facebook.com/docs/messenger-platform/thread-settings/get-started-button
It talks about "postback received callback" which is triggered when the the button is pressed and it seems that POST callback of the Bot Framework is not that callback, since it is not triggered .

Please assist,

[2016-08-09 13:52] KrishnanA commented on #940
Great. Thanks for the update!

[2016-08-09 14:00] filipeperdigaosousa opened #950 "Welcome Message"
Hi.

Since the new version was lanched I can't see references to welcome messages.

Is it possible to use something like that on this new version?

[2016-08-09 14:48] wiltodelta commented on #925
I make a mistake in block with switching an activity type and received every second activity :)
This example works fine:

[code]

[2016-08-09 14:48] #925 closed

[2016-08-09 14:49] RiccoSuave commented on #917
Greetings

The email functionality seems to work. The behavior is a bit odd, and needs to be troubleshot ( by me ). Some of the areas I am not very clear on are:

1-      The requirement of email account being Office365. Does this only apply to the email account the bot is associated with?

2-      How do message.from and message.recepient map to the above issue? Are these objects required to be O

[2016-08-09 15:42] AndyCross commented on #948
When upgrading - there's  a very subtle change to how connectors are instantiated; the property appSecret becomes appPassword.

This corrected my error, which is thus about authentication, but there are no errors reported anywhere.

[2016-08-09 15:42] #948 closed

[2016-08-09 16:41] slidenerd opened #951 "How does dialog.matches work?"
Sorry if this seems like a silly question but when I debugged the multiturn example, I see that it fires the answerQuestion for anything and everything and there is no output on the screen. Can someone please tell me what dialog.matches is doing in below. It matches with Acquistions , IpoDate, Description and everything thing else. One more question would be the fact that in all other examples, th

[2016-08-09 16:43] kevinport opened #952 "Wrong Fields are predefined from LuisResult"
I've got one Entity defined, "Location".

In my BuildForm-Method i thought, that i have to write a ActiveDelegate to avoid that if the entity "Location" is filled, the user won't be asked for a location. **fallacy**

But this raised an "Error", because the Form wants to fill FieldA or FieldB or FieldC with my entity value.
If i remove the "isNotFilled" ActiveDelegate the Form works fine and my Loc

[2016-08-09 16:57] Luis-Jovel opened #953 "Rich cards from V1 Bot suddenly stop working with Facebook channel"
My bot was working fine even a couple of days after V3 came out, the problem showed suddenly yesterday, specifically when the bot tries to render a Rich Card attachment in Facebook Messenger. Instead of the card, this message appears:

     `Service Error:Object reference not set to an instance of an object.`

This is how I create a Rich Card:

[code]
Local tests and the test connection module ava

[2016-08-09 17:25] srozga opened #954 "Intercepting every message between bot and user"
I want to log every message between the user and the bot. There are parts of the bot framework that I cannot access to insert this type of behavior. Specifically, the FormDialog. The class is sealed. Even if it weren't, there is no way to override a private PostAsync to catch all the calls. Is there any other mechanism to intercept the messages through the IDialogContext short of copy/pasting the

[2016-08-09 17:56] nickcordrey commented on #930
Yes unfortunately this is not yet supported in Skype.

[2016-08-09 20:00] willportnoy commented on #954
You can register your own IBotToUser implementation:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/DialogModule.cs#L183

For example, this is something we do in the unit tests to capture all outgoing messages.

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Tests/Microsoft.Bot.Builder.Tests/DialogTestBase.cs#L99

You can also intercept from user to bot wit

[2016-08-09 20:10] nitk-rashid commented on #653
Hello All,

I am facing the same issue like 500 internal server error. I changed the code to version 3. Please help me out

[2016-08-09 20:14] willportnoy commented on #954
I've added this question/answer to the technical faq:

https://docs.botframework.com/en-us/technical-faq/#how-can-i-intercept-all-messages-between-the-user-and-my-bot

[2016-08-09 20:16] willportnoy commented on #950
Do you mean the Node firstRun middleware?

https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.middleware.html#firstrun

[2016-08-09 20:19] willportnoy commented on #946
We added that error message so that it was obvious that the http request to post a user's message to the bot was failing with an unhandled exception:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/DialogTask.cs#L443

even if all of the previous messages were successfully sent.  Do you see your reply message?

[2016-08-09 20:38] filipeperdigaosousa commented on #950
This implies a first user interaction to wake up the bot. There are some
feature that can trigger the bot when the user joins to the conversation?

Filipe Sousa

Skype: filipe.p.sousa
Telemóvel: (+351) 934405929
LinkedIn: pt.linkedin.com/in/filipeperdigaosousa

2016-08-09 21:16 GMT+01:00 Will Portnoy <notifications@github.com>:

[2016-08-09 20:53] willportnoy commented on #701
I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-08-09 20:53] #701 closed

[2016-08-09 20:53] willportnoy commented on #755
I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-08-09 20:53] #755 closed

[2016-08-09 20:53] willportnoy commented on #757
I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-08-09 20:53] #757 closed

[2016-08-09 20:54] willportnoy commented on #775
I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-08-09 20:54] #775 closed

[2016-08-09 20:56] willportnoy commented on #816
I'm sorry I missed this question.  If you override BestIntentFrom, you can decide the logic for which intent is used to dispatch the LUIS result to a method in the LuisDialog.

I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-08-09 20:56] #816 closed

[2016-08-09 20:56] willportnoy commented on #833
I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-08-09 20:56] #833 closed

[2016-08-09 20:59] willportnoy commented on #849
Another alternative is to use a child IDialog implementation.  Dialogs are the component model for the Bot Builder SDK, allowing reuse of related pieces of code and data.

I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-08-09 20:59] #849 closed

[2016-08-09 20:59] willportnoy commented on #867
I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-08-09 20:59] #867 closed

[2016-08-09 20:59] willportnoy commented on #875
I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-08-09 20:59] #875 closed

[2016-08-09 21:00] willportnoy commented on #876
I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-08-09 21:00] #876 closed

[2016-08-09 21:00] willportnoy commented on #880
I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-08-09 21:00] #880 closed

[2016-08-09 21:00] willportnoy commented on #889
I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-08-09 21:00] #889 closed

[2016-08-09 21:00] willportnoy commented on #900
I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-08-09 21:00] #900 closed

[2016-08-09 21:01] willportnoy commented on #901
I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-08-09 21:01] #901 closed

[2016-08-09 21:01] willportnoy commented on #806
I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-08-09 21:01] #806 closed

[2016-08-09 21:06] possan opened #955 "[503] Service Unavailable"
I'm seeing lots' of 503 service unavailable right now since i just updated and redeployed my bot, every fourth/fifth request or so, is there any status page that we can check to see the status of the backend side of things?

[code]

[2016-08-09 21:08] msft-shahins commented on #653
@nitk-rashid attach a debugger to your bot and see what exception is getting thrown by the bot when it receives the message.

[2016-08-09 21:53] jameslew commented on #955
Thanks for the report possan.  Will investigate.  I don't see these errors in our logs yet, but that could just be it's not making it far enough to get logged.

[2016-08-09 21:58] Sammons commented on #874
@fdidron I need this as well, I'd be willing to pitch in since I will be building one regardless.

[2016-08-09 21:58] jameslew commented on #955
Can you give us a time range to look in our logs?  Are these recent?

[2016-08-09 22:02] datoxxl opened #956 "Sending markup text with buttons in v3 (for fb channel)"
You could send markup text with buttons in v1 with just setting the Text property of the message and adding buttons.

In v3 you need to use Hero Card to add buttons, but result on the Facebook is different, the text (activity.Text) is shown as title of the card.

How can I achieve the result similiar as in v1?

[2016-08-09 22:02] possan commented on #955
Yes, they are occurring right now for me.

The contents of our messages has changed slightly, but not any major changes.

[2016-08-09 22:04] dandriscoll commented on #915
I took another pass through the code on Sunday after responding and was able to trim another ~80ms from the core DirectLine write. The remaining time spent in the call is transit and in the bot itself.

I'll close this for now. Feel free to at-mention me if you want to discuss more, or open a new issue. Thanks!

[2016-08-09 22:04] #915 closed

[2016-08-09 22:07] possan commented on #955
Another issue for now is that it takes quite a long time to get the first webhook message through to the bot after starting it up, a couple of days ago, that felt like was almost instant..

[2016-08-09 22:25] craigomatic commented on #701
Thanks Will, I forgot to respond earlier, your suggestions were helpful and solved the problem for me :)

[2016-08-09 22:27] possan commented on #955
I can reproduce this issue locally now too

[2016-08-09 22:33] willportnoy commented on #927
If you like, you can reuse the global static container on the Conversations class to register your custom implementation:
https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/Conversation.cs#L49

The reason the ConnectorClientFactory takes an IMessageActivity is because it needs information like the ServiceUrl:
https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Librar

[2016-08-09 22:39] willportnoy commented on #950
You can look for other activity types e.g. https://docs.botframework.com/en-us/csharp/builder/sdkreference/activities.html but I believe some channels have requirements that require the user to interact with the bot first.

[2016-08-09 22:40] jameslew commented on #955
Locally, as in emulator -> bot on your local machine?

I've restarted some servers in case something was stuck.  I'm not experiencing dropped messages anymore.

[2016-08-09 22:48] possan commented on #955
Now it seems to work again! just like before

[2016-08-09 22:49] possan commented on #955
Any ideas why this would happen, long running webhooks, server being down when webhook call is issued etc?

[2016-08-09 22:54] possan commented on #955
Or more importantly, how to mitigate incidents like this in the future?

[2016-08-09 23:19] stucko commented on #946
thanks got to see it with the debugger attached , thanks :)

 "   at Microsoft.Bot.Connector.ConversationsExtensions.ReplyToActivityAsync(IConversations operations, Activity activity, CancellationToken cancellationToken)\r\n   at Microsoft.Bot.Builder.Dialogs.Internals.AlwaysSendDirect_BotToUser.<Microsoft-Bot-Builder-Dialogs-Internals-IBotToUser-PostAsync>d__4.MoveNext()\r\n--- End of stack trace

[2016-08-09 23:19] #946 closed

[2016-08-09 23:26] LarsLiden commented on #891
Kik expects the hero card to actually contain text and will reject cards that have null or empty text fields.  @Stevenic , rather than setting the "text" field in the outer message, can you set the "text" field in the herocard?

[2016-08-10 00:34] jameslew commented on #955
We're continuously upgrading our monitoring and alerting features of the platform so you shouldn't see these incidents without us catching them first.  That said, please alert us the first time you see something so we can diagnose/address appropriately.

[2016-08-10 00:52] chrimc62 commented on #909
Thanks for the feedback.  This will be in the next release which should be soon.

[2016-08-10 00:52] #909 closed

[2016-08-10 00:58] chrimc62 commented on #952
I'm not sure I understand your issue.  Are you saying that your "Location" LUIS entity caused some other field to be filled?

You should not need to define an ActiveDelegate in this case.  If you pass in an Entity to fill in the value, then the user should not be prompted for that field unless you specify FormOptions.PromptFieldsWithValues.  (In that case the entity becomes the default value which

[2016-08-10 00:59] chrimc62 commented on #850
The next release out soon will show the text as the message rather than the number.

[2016-08-10 00:59] #850 closed

[2016-08-10 01:32] jameslew commented on #955
What update did you do to your bot?  Change SDK's, or other things?

[2016-08-10 01:54] chrimc62 commented on #790
The new release out soon should allow you to return multiple choices which can generate one or more cards.  You can also return feedback that is richer than just text.

[2016-08-10 01:54] #790 closed

[2016-08-10 02:04] tomlm commented on #745
Is your webhook registered for messaging_account_linking?

[2016-08-10 03:03] alexsorokoletov opened #957 "Webchat bot messages are late - arrive only after next user message"
Hi!
Having this simple bot shows a problem with webchat (code below)
Bot has several waterfall-like prompts and then sends a message after a data processing is done.
Also bot has the "reset" command for easy debug.

Using this bot with a webchat shows that the bot response (message) comes only after user sends a new message to bot.
You can see the issue after I send a Hi and Hello? messages to bot

[2016-08-10 04:10] MironV commented on #928
Here's a simple string that gives me a 500 error: "16/34 (Lighted): 3402' x 75'\n"

Here's another: Set attachmentLayout as "carousel". Then, attach 4 items:

'[{"contentType":"application/vnd.microsoft.card.hero","content":{"title":"Muy Macho Taqueria • 4★","subtitle":"8515 14th Ave S\nSouth Park\nSeattle, WA 98108\n","images":[{"url":"https://s3-media3.fl.yelpcdn.com/bphoto/0cdMS-AxxHv-sokWA6xFB

[2016-08-10 04:16] MironV commented on #930
Oh, that's unfortunate. :( Any timeline on when support will be added?

[2016-08-10 04:20] MironV commented on #864
Aha, that's probably it, I'll check in a bit!

However, this seems pretty extreme. I use a bunch of 3rd party APIs (Yelp, VFRMap, etc.) that don't provide HTTPS URLs in their APIs and some don't even have a HTTPS url to link to. What is the suggested approach there?

[2016-08-10 04:24] kevinport commented on #952
Yes. If the ActiveDelegate disable the question for Location, the next field is filled with my entity "Location" from LUIS.

`return builder
     .Field("Location",isNotFilled )
      .Field("FieldA")
      .Field("FieldB")
      .Field("FieldC")`

--> Now FieldA is filled with my Entity value "Location"

Now i know that i dont need to use a ActiveDelegat, but if i use a actiedelegate on a field w

[2016-08-10 06:33] danmarshall commented on #864
Perhaps you can use a URL shortener?

[2016-08-10 07:16] afficionaddo opened #958 "Maintain state for conversations"
Hi, I am new to bots...I recently worked on a bot for maintaining state of the conversation.

I used BotState for a start.

My doubts are below:

1. Where is there data stored and for how long does it persist.
2. Is it recommended to maintain state of the conversation or should I go for something else?
3. Any example of state-maintain of a conversation you may recommend?

[2016-08-10 07:33] JPThorne opened #959 "c# BotBuilder V3 | CreateDirectConversationAsync not working, SendToConversationAsync is working"
Hi there.

So I'm trying to send a message from the Bot to the User. Have followed the guidelines as layed out here: https://docs.botframework.com/en-us/csharp/builder/sdkreference/routing.html specifically, the Create 1:1 Conversations section. The sample code does work, however, it only works when I substitute the original conversationId received from the emulator for the conversationId created

[2016-08-10 07:41] NanashiGIT opened #960 "HttpOperationException: Precondition Failed after quick messages"
Hello!
So i haven't noticed that exception before and im pretty sure i tried out that scenario:
When i send quick messages to my bot, i get the following exception (With a "Sorry. my bot has a problem")

9:32 :\Workspace\MyBot\Bot\Controllers\MessagesController.cs:line 95

To cause that exception, i jsut have to send like 3 Messages within 1 or 2 seconds. The 2 last messages arrive at the bot whil

[2016-08-10 07:53] byrner75 commented on #745
Just double checked it there and message_account_linking is selected. I
only tried to do account linking yesterday with botbuilder v3.2.3 and I
didn't receive the callback message. One difference I did notice when
compared to previous attempts was the little superscript message didnt
appear in the conversation i.e. "You have been logged in....."

On 10/08/16 03:04, Tom Laird-McConnell wrote:

[2016-08-10 08:40] wiltodelta commented on #927
Providing MicrosoftAppCredentials is a best option I think, but I can't understand how to do it.

[2016-08-10 10:25] yaalisri commented on #660
I also have the same issue as @thingista. I need to extract the entities and as further questions even there is no intent found. Please let me know how to acheive this using node.js

[2016-08-10 10:36] matheus208 commented on #745
You have to unlink it before trying to link it again. Otherwise the message
won't appear. But that has nothing to do with BotBuilder, it's Facebook.

On 10 Aug 2016 04:54, "byrner75" <notifications@github.com> wrote:

[2016-08-10 10:36] JpEncausse opened #961 "ChatConnector / Facebook crash for one user"
Hi,
We've done a ChatBot connected to Facebook. It works for all users/tester but not for one of our user.

[code]

It works yesterday but now it still crashing
- Is it a a Facebook bug ?
- Is it a workflow bug between it's previous state / conversation and a code update ?

Thanks

[2016-08-10 12:40] hgjkant opened #962 "Cannot cancel prompt"
Hi,
In my Node JS bot (v3.2.2) I have a waterfall of two steps to let a user change his name, in which the first step can prompt the user for a new name. However, if the user wants to cancel that action by saying 'cancel' or 'nevermind' (as suggested in the docs), the actual word is used as a response. The same goes for a number prompt, where it is seen as invalid input. I saw in the [release note

[2016-08-10 13:01] hgjkant commented on #932
It seems I opened a duplicate (#962), since I didn't get it to work with other prompts as well.

[2016-08-10 13:09] hgjkant opened #963 "[Node] Entities are lower case"
Hi,
In my bot (v3.2.2) entities directly passed in an utterance are transformed to lowercase. If I respond to a prompt the response is case sensitive though.

[2016-08-10 13:27] byrner75 commented on #745
Just did an unlink and I got the superscript message to tell me I have logged out. Now when I try linking I get and "Account Linking Failed" message in Messenger

[2016-08-10 13:53] edejin opened #964 "Skype crash on response"
Source from here https://docs.botframework.com/en-us/node/builder/chat/dialogs/#navtitle

[code]

[code]

[2016-08-10 14:19] rohanar opened #965 "WebChat responses goes out of sync and the ticker stops"
Playing with a simple bot on WebChat shows that the responses go out of sync with the requests. Network activities in chrome developer tools show that the "ticker" has stopped when this happens.

How to replicate:

My bot is here: https://webchat.botframework.com/embed/calmacbotv3?s=RJq9xTtB2OY.cwA.yS0.bHstdR5W1qKfnEtlMr2BJ3qhyRYrnjhqxZyE1tWrfpk

Try the commands/utterances "allroutes" and "allpor

[2016-08-10 14:36] filipeperdigaosousa opened #966 "Messages History"
Is it possible to store the message history for a conversation? Enabling to leave the bot page and return to it in the future and see the previous messages?

[2016-08-10 15:08] graphnode commented on #830
I'm also having the same problem. I double checked and triple checked the credentials and the time.
The jwt.verify function in ChatConnector always fails.

[2016-08-10 15:11] kaki104 opened #967 "I can't run EchoBot on Windows 10 ver 1607"
Hi
1. When I run the bot emulator, an error message is output.
Failed to start callback server
The process cannot access the file because it is being used by another process

And then in the last few minutes after the program stops.

2. When I use emulator, and enter the letters sent to the bot, an error is returned.

'iisexpress.exe' (CLR v4.0.30319: DefaultDomain): Loaded 'C:\WINDOWS\Microsoft.N

[2016-08-10 15:12] kevinash commented on #836
I found that a single *public* method apart from Post in Controller would cause it to throw 500 error. Removing any public methods from Controllers, apart from Post helps, still needs a fix probably...

[2016-08-10 15:27] letmaik commented on #662
@msft-shahins Is `getAccessToken()` part of the public API or an internal method? I can't find it [here](https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.chatconnector.html).

[2016-08-10 16:20] Makeshift commented on #961
Also having this issue - Only with Facebook, the bot works fine with Skype still. Every response to Facebook throws a 500. Worked fine for about 6-7 messages before this started.

[2016-08-10 16:29] willportnoy commented on #927
Here is some untested, not fully formed code to update the Conversations class static Autofac container.  You'll need to figure out what data to pass to MicrosoftAppCredentials, and whether it's a singleton or per-request.  You might consider providing an Autofac factory Func<MicrosoftAppCredentials> as another option.

            var builder = new ContainerBuilder();
            builder.Register

[2016-08-10 16:31] willportnoy commented on #836
This might not be the version of ASP.NET you're using, but I suspect the principle is the same: if you leave a method as public in a controller, it's very likely going to be interpreted as an action in ASP.NET:

http://stackoverflow.com/questions/17418037/purpose-of-public-nonaction-methods-in-mvc

[2016-08-10 16:35] willportnoy commented on #958
1. @msft-shahins do you know the lifetime of the bot state data?
2. It's a good place to start, when developing your bot.  It's pretty easy to transition to a different store by implementing the appropriate interfaces.
3. In the C# version of the BotBuilder, this is where the serialized dialog state lives.  In Node, it's the dialog state property bag.  In both versions, the user, group, and privat

[2016-08-10 16:36] willportnoy commented on #963
I assume this is the Node version of the SDK?

[2016-08-10 16:40] willportnoy commented on #966
The DirectLine api will buffer messages for just a limited time:

"The Direct Line API does not store messages indefinitely. Your client application must pick them up quickly before they are deleted."
https://docs.botframework.com/en-us/restapi/directline/

But your question is probably more oriented toward a specific channel.  I don't think the WebChat channel will store message history, for exam

[2016-08-10 16:42] willportnoy commented on #967
It seems possible that some other process is using port 9000 (which the emulator tries to listen on, by default) - can you use netstat to figure out which process?

[2016-08-10 17:15] HardikShah289 opened #968 "Issue while project build"
Error detail:
Cannot implicitly convert type 'System.Net.Http.HttpRequestMessage' to 'Microsoft.Rest.HttpRequestMessageWrapper'

on Windows 10 machine.

[2016-08-10 17:19] graphnode opened #969 "Get Skype Group Name"
Hello,

I noticed that [IIdentity](https://docs.botframework.com/en-us/node/builder/chat-reference/interfaces/_botbuilder_d_.iidentity.html) contains an optional [name property](https://docs.botframework.com/en-us/node/builder/chat-reference/interfaces/_botbuilder_d_.iidentity.html#name) which is used to get an User's name.

When it is used to identify skype groups, no name is available. Could thi

[2016-08-10 17:42] mmalbergier commented on #754
Is this still open?

[2016-08-10 18:04] v-ms commented on #896
Hero cards have some limitations on the size of its elements. "text", "title" and "subtitle" could have up to two lines and the rest is truncated. If "title" or "subtitle" is missing, then their two lines allowance is added to the text limit, so if for example both "title" and "subtitle" are missing, you can have up to 6 lines for "text".

Please let me know on which platform you observe different

[2016-08-10 18:07] v-ms commented on #922
Bing News - Preview bot does not use cards, instead it sends just text messages which consist just of a single url. Then Skype clients use their URL preview feature to show previews for those links.

[2016-08-10 18:15] willportnoy commented on #968
We probably would need more information to help you - is this a sample project?

But the compiler error message is correct - those are different types, and they can not be assigned to each other.

[2016-08-10 18:33] NanashiGIT commented on #896
So im asuming you are just talking about a restriction for skype?
Because in Slack i can use 8 Lines for text.

For some reason i can't see more than the limited amount of lines described by you anymore.(Skype Mobile App) Maybe it was just a shorttime bug.
But i have to say that this limitation isnt really good =/
Its pretty hard to have a 100% text card with buttons then.

[2016-08-10 18:45] willportnoy commented on #960
Yes, we're using ETag consistency for writes to the bot data store.

https://github.com/Microsoft/BotBuilder/releases/tag/NuGet3.1.0
change is this commit: https://github.com/Microsoft/BotBuilder/commit/6ce11a957c0863676ebe6589f0be2c2c31d74de3

@msft-shahins for visibility

[2016-08-10 18:46] v-ms commented on #896
Sorry for the confusion, yes it is just about Skype.

[2016-08-10 19:03] hgjkant commented on #963
Oh my bad, it is.

[2016-08-10 19:05] nickcordrey commented on #969
Thanks for the feedback and yes we will definitely consider this for a future release.

[2016-08-10 19:41] NanashiGIT commented on #960
Uhm. So i'm not completely sure what an ETag is or what its good for.

So.... How to fix that exception?
Is it a bug with the new etag approach or is there a way to fix it in my case?
Im saving 1 Object in the Bot data bag, if thats important.

Greetings

[2016-08-10 19:53] srozga opened #970 "Bot deployed in Azure calls MakeRoot numerous times"
I know I have seen this issue before if my Dialog was not Serializable, but I have since solved it and I have tested my bot on the emulator without a problem.

MakeRoot is referring to the MakeRoot func in Conversation.SendAsync(activity, MakeRoot); The method only gets called once per conversation (I believe).

We have now deployed the Bot into Azure and are speaking to it using the DirectLine AP

[2016-08-10 20:19] ejadib commented on #855
@tomlm I think the problem is that the type "call" is being mentioned [here](https://docs.botframework.com/en-us/csharp/builder/sdkreference/attachments.html#cardaction)

[2016-08-10 21:49] Sammons opened #971 "startConversation failing with 404 when starting skype conversations"
I am storing the full address for the user / bot and redirecting the user by way of link out to log into our system and verify that their account should be linked to the bot. I have the system notify the bot once the user has logged in so that the bot can pick the conversation back up.

This works just fine for slack, but doesn't seem to work for Skype, I added a bit of logging to the ChatConnecto

[2016-08-10 21:51] Sammons commented on #971
some things can only be realized after you make yourself look silly :)

the url contains "slack"

oops

[2016-08-10 21:51] #971 closed

[2016-08-10 22:26] LarsLiden commented on #891
This bug has been resolved in the Kik channel service and the fix will be published in our next push to production.

[2016-08-10 22:53] MironV commented on #962
I just noticed that in the release notes. Unfortunately, removing any way to escape the prompt makes it really difficult to use. I'm curious why that was done?

[2016-08-10 23:04] willportnoy commented on #960
https://docs.botframework.com/en-us/technical-faq/#what-is-an-etag--how-does-it-relate-to-bot-data-bag-storage has some more information.

You can see why your bot may be taking a long time to answer, or you could choose to remove the etag optimistic concurrency control by using a different policy: https://github.com/Microsoft/BotBuilder/commit/6ce11a957c0863676ebe6589f0be2c2c31d74de3#diff-0275a9b

[2016-08-10 23:07] willportnoy commented on #970
There's a few things to consider.

1. If your bot is throwing an exception in some dialog (due to running in azure), then that exception is propagated back through the dialog call stack until it escapes through the root.  On the next message, MakeRoot will be called again to restart the conversation.
2. If you fail to call context.Wait or context.Done on all code paths, there could be an exception

[2016-08-10 23:09] nickcordrey commented on #918
This issue has been fixed and will be available in a subsequent release. Thanks again for raising it.

[2016-08-10 23:09] #918 closed

[2016-08-10 23:27] YohannPuri commented on #913
So I tried republishing again today. Still not working. Interestingly though, I tried sending it a picture and that works by calling my LUIS model, going to the none intent and printing that although the response takes well over a minute to come back. Any help is appreciated

[2016-08-11 00:11] LarsLiden commented on #928
At a high level, Kik doesn't support opening URLs from a button.  Kik keyboards will only echo back the text that is displayed on the button as if the user had typed it.   It shouldn't be throwing a 500 though.  Looking into that.

[2016-08-11 00:27] MironV commented on #928
Thanks! Even the simple string above (no buttons, no attachments) seems to produce a 500 error. Perhaps it's something to do with special characters used in the string?

[2016-08-11 00:37] danmarshall commented on #913
following up offline

[2016-08-11 00:37] #913 closed

[2016-08-11 01:13] danmarshall commented on #852
It's 32kb according to https://docs.botframework.com/en-us/restapi/state/

[2016-08-11 01:48] danmarshall commented on #965
Hi @rohanar , it seemed to respond to me without failing.

[2016-08-11 03:24] changhc commented on #957
Hi @alexsorokoletov , where did you deploy your bot? On Azure Web App?

[2016-08-11 06:28] yaalisri opened #972 "[Node.js]Is it possible to have carousel cards with dialog action?"
I need to display carousel card with dialog action. It supports only **imback** which prompts the user to select any option. But in my case, user can either select any one of the option or can start a new flow by sending a new message to the bot. Is there any way to achieve this?
Also is there a limit to the number of cards when we use carousel? Because it allows only 3 for me.

[2016-08-11 06:30] Orbyt opened #973 "Bot entry point needs to be named app.js?"
I'm not particularly sure if this is well known or in the docs anywhere..but i've tested this with a couple different bots with the same outcome.

Essentially, if your main entry .js file is named anything other than `app.js` (like index.js, bot.js, etc..) it will throw a 403 error after being deployed to Azure.

I've tested this several times by deploying a sample bot with a .js file named index.

[2016-08-11 06:30] yaalisri opened #974 "[Node.js]How to extract entity from a sentence which doesn't have any intent"
I have to extract entity from a phrase if even it doesn't have any intent. Since we cannot check **None** intent, is there any other possibility to extract the entity?

[2016-08-11 07:20] JpEncausse commented on #961
Got this issue on only one user / developer account, it works fine for others developers

[2016-08-11 09:09] afficionaddo commented on #958
Thanks for the informative reply @willportnoy .

Currently, I am developing an ecommerce bot which shall have around 5,000 end-users.

Now for the type of a bot; to maintain state of the conversation, do you think BotState is the correct approach?
or
I should save up the data in a database and perform "to & fro" for the conversation state data?

[2016-08-11 10:48] wiltodelta commented on #927
I register BotIdResolver and MicrosoftAppCredentials. And I use custom BotAuthentication attribute (https://github.com/Microsoft/BotBuilder/issues/927#issue-169796892).

It works! Thanks!

[code]

[2016-08-11 10:49] #927 closed

[2016-08-11 10:53] ankitbko commented on #936
@msft-shahins Do we have alternate way to achieve the above other than first saving to the file? Can we currently pass raw audio stream to be played by skype?

[2016-08-11 11:07] OmShrivastava commented on #957
Hi I am also facing same issue in my chat bot app I have hosted in Azure web app.

[2016-08-11 12:26] JPThorne commented on #530
Same issue here. We're trying to spin up a number of quick demoable bots, and don't have https certs lying around. For a production environment https would be fine, but it is slowing us down in terms of demoing.

[2016-08-11 12:28] brene commented on #530
You can try using ngrok. This allows you to easily create an HTTPS tunnel. I use that for all my demos.

[2016-08-11 12:30] JPThorne commented on #530
Ah ok cool, thanks. That would work for the emulator hey? Sorry, to be more specific - I'm trying to demo via the messenger channel.

[2016-08-11 12:33] brene commented on #530
You just specify your endpoint in your bot directory as the URL that ngrok gives you. That way it should be completely independent of your messenger channels. (Personally tested it a lot on Skype and worked like a charm)

[2016-08-11 12:59] JPThorne commented on #530
Ah, awesome! That totally worked. Thanks.

[2016-08-11 13:05] rohanar commented on #965
Thanks  @danmarshall for taking a look.  It definitely has an issue though. As I mentioned in my first post, you need to try it about 7-10 times to see the issue. Using the commands/utterances "allroutes" and "allports" alternatively helps you identify if you get the correct response...

[2016-08-11 13:12] v-ms commented on #924
Could you please clarify, are you talking about `tap` action for a whole card or for an image on a card?

[2016-08-11 13:14] kaki104 commented on #967
OK, but by using the netstat command, it did not find any other processes that use port 9000.

Active Connections

  Proto  Local Address          Foreign Address        State
  TCP    127.0.0.1:2861         DESKTOP-MFGAJFV:8719   ESTABLISHED
  TCP    127.0.0.1:5461         DESKTOP-MFGAJFV:5462   ESTABLISHED
  TCP    127.0.0.1:5462         DESKTOP-MFGAJFV:5461   ESTABLISHED
  TCP    127.0.0.1:5482

[2016-08-11 13:15] srozga commented on #970
In all of these cases, is there some sort of logging that the framework provides? For example, if 1 or 2 occur, am I guaranteed to see an exception float up the chain to Conversation.SendAsync?

[2016-08-11 13:25] byrner75 commented on #745
The Account Linked Failed was a facebook issue which I raised with them yesterday. Its working again today however I still dont get the callback to my bot.

[2016-08-11 14:01] srozga opened #975 "Emulator recycles conversation ids"
It seems like the bot emulator recycles conversation ids every time that it restarts. Every time I restart the emulator, the new conversation id is 8a684db5. I assume this is because the conversation id is based on the conversation name, is that correct?

[2016-08-11 14:22] tungnt244 opened #976 "Got InternalServerError while try deploying to azure from github"
[code]
![image](https://cloud.githubusercontent.com/assets/20721437/17591670/56d937ec-6009-11e6-8e1a-21d4f84b80f9.png)
![image](https://cloud.githubusercontent.com/assets/20721437/17591698/71d6c582-6009-11e6-8448-0a6099c5abfd.png)
Could anyone help me. I have no idea to deal with this.

[2016-08-11 14:57] srozga commented on #970
We managed to reproduce this issue using the EchoStateDialog. The "weird" thing we are doing is that we are doing a Conversation.SendAsync to the dialog from the ConversationUpdate event. The reason we are doing this is that when we want to welcome the user back with an intelligent message. The user's response will then be processed by the dialog.

This works perfectly fine in the emulator but not

[2016-08-11 15:53] wiltodelta opened #977 "Typing activity exception"
I get an exception when trying to handle typing activity. I tried in Slack channel.

Exception: Microsoft.Rest.HttpOperationException: Precondition Failed    at Microsoft.Bot.Connector.ErrorHandling.HandleError<HttpOperationResponse`1 result|ObjectT> in C:\Projects\GitHub\BotBuilder-NuGet3.1.0\CSharp\Library\Microsoft.Bot.Connector\ErrorHandling.cs:line 32    at Microsoft.Bot.Connector.BotStateExt

[2016-08-11 16:14] asram363 opened #978 "context.Forward sometimes not working"
I have a Luis dialog, where each intent handler forwards to another Luis dialog. For instance, I have something like this:
[LuisIntent("intent.first")]
public async Task FirstDialog(IDialogContext context, LuisResult result)
{
	await context.Forward(new NextDialog(), ResumeAfter, new Activity { Text = result.Query }, CancellationToken.None);
}

Sometimes, when I type something to the bot, it gets

[2016-08-11 17:16] msft-shahins commented on #936
@ankitbko I am not sure about Skype plans but currently using custom text to speech engine is not supported. @mghimp solution is the only way that I can think of, if you want to achieve this given the current functionality.

[2016-08-11 17:20] KrishnanA commented on #936
Could you try using the SayAs optional parameter in PlayPrompt and see if that helps?

[2016-08-11 17:27] Thegaram commented on #973
I think you need to configure the entry point in `web.config`. This might help: https://azure.microsoft.com/en-us/documentation/articles/web-sites-nodejs-chat-app-socketio

[2016-08-11 17:41] Luis-Jovel commented on #643
Got the same issue, although in my case, the bot state it's empty the first and second times

[2016-08-11 18:02] giriganapathy opened #979 "Could not test my bot in "Test Bot" link"
Hello Steve,

I created a new bot today using the v3 botbuilder sdk.  I faced couple of issues:
1. Using Emulator, got the below error: ChatConnector: receive - no security token sent BOT
2. After registered in Botconnector, I could not do a Test Bot due to the below error:
"NotFound: The resource you are looking for has been removed, had its name changed, or is temporarily unavailable."

This is

[2016-08-11 18:36] danmarshall commented on #965
I see, the polling activity ceases, then webchat no longer shows bot's response.

[2016-08-11 18:36] willportnoy commented on #958
There is a limitation on how much data you can store in the bot data bags - about 64K, if I recall correctly.  But each user and conversation can have their data bags.  So I would start there until it becomes an actual issue.

[2016-08-11 18:38] willportnoy commented on #967
In your list above I see many lines with "TCP 127.0.0.1:9000".  You might try "netstat -ab" to see which process has 9000 open.

[2016-08-11 18:40] HardikShah289 commented on #968
Yes, this is a sample project. I have clone it in my visual studio and try to build.
Code location: Microsoft.Bot.Connector.Conversations - ReplyToActivityWithHttpMessagesAsync method.
`if ((int)_statusCode != 200 && (int)_statusCode != 201 && (int)_statusCode != 202 && (int)_statusCode != 400 && (int)_statusCode != 401 && (int)_statusCode != 403 && (int)_statusCode != 404 && (int)_statusCode != 5

[2016-08-11 18:42] willportnoy commented on #970
Here is the test for the "root dialog throws exception propagate to user":

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Tests/Microsoft.Bot.Builder.Tests/DialogTaskTests.cs#L62

It should occur if "await" is applied to all IAwaitables.

In the latest version, we will also post the exception to the user if the debugger is attached:

https://github.com/Microsoft/BotBuilder/blob/master

[2016-08-11 18:43] Thegaram commented on #979
Can you manually reach your endpoint (e.g. using Postman)? Are you using the correct id and secret in the emulator?

[2016-08-11 18:43] danmarshall commented on #979
Hi @giriganapathy this seems to be an issue within Azure itself. Can you redeploy using a different name? I have seen this issue when re-using the same name for an Azure website, for example, if you delete the website and re-create a new one with the same name.

[2016-08-11 18:45] willportnoy commented on #975
The emulator might recycle conversation ids, but the emulator is also implicitly clearing the bot data bag storage when it restarts, because it's stored in the process memory.

Yes, it looks like the conversation ID is the hexadecimal encoding of the conversation name hash code.

[2016-08-11 18:46] msft-shahins commented on #958
BotState is persisted and they are not getting expired by the State API service.

[2016-08-11 18:47] willportnoy commented on #977
@msft-shahins for visibility - this might be related to https://github.com/Microsoft/BotBuilder/issues/960

[2016-08-11 18:48] danmarshall commented on #976
Can you change this line of code:
[code]

to:
[code]

[2016-08-11 18:49] willportnoy commented on #978
What does NextDialog do?

For example, does NextDialog.StartAsync call context.Wait(MessageReceived) on all code paths?

[2016-08-11 18:53] danmarshall commented on #973
In Azure, I have seen it work well with "server.js"

[2016-08-11 19:12] chrimc62 commented on #952
Thanks for the bug report--this will be fixed in the next release.

[2016-08-11 19:12] #952 closed

[2016-08-11 19:23] kevinport commented on #952
Thanks

[2016-08-11 19:29] Luis-Jovel commented on #953
Solved it! I just needed to add the property ContentUrl = String.Empty to the attachment and now it works like normal.

[2016-08-11 19:29] #953 closed

[2016-08-11 19:49] oztheozoz commented on #788
Tested with botbuilder 3.2.3 and it did not work.

[2016-08-11 23:21] danmarshall commented on #788
Hi @oztheozoz I just looked into this and it appears that it is not yet implemented for Skype.

[2016-08-11 23:54] danmarshall commented on #788
Right now it seems that Slack has it implemented

[2016-08-11 23:59] alexsorokoletov commented on #957
I have this both in Azure and with ngrok

[2016-08-12 01:02] tungnt244 commented on #976
I folow this tutorial https://github.com/fuselabs/echobot , but i replace the code in server.js with the sample code hello-ChatConnector

[2016-08-12 01:25] danmarshall commented on #976
I see you are serving the static index.html file - which means that you ought to be able to see https://tungchatbot.azurewebsites.net , but that returns a 500. Can you run this locally?

[2016-08-12 01:44] tungnt244 commented on #976
when i run server.js locally i can see it on localhost:3978

[2016-08-12 03:21] nickcordrey commented on #788
Confirming Skype doesn't support sending typing indicator, we'll remove it from the sample.

[2016-08-12 03:21] #788 closed

[2016-08-12 04:08] deubaka commented on #530
@JPThorne `ngrok` is the way to go as also suggested by the official docs ([localtunnel](localtunnel.github.io/www/) is also one). However, I've quickly found that I was changing the endpoint whenever a new run of `ngrok` is made, so instead, I've just gone through using [Let's Encrypt It](https://letsencrypt.org/) and use their free certs (for 3 months, can be auto-renewed) and have just environm

[2016-08-12 04:08] tungnt244 commented on #976
I found my problem, i'm new with nodejs so i don't change the package.json file ( dependencies) when i change the code using new feature.

[2016-08-12 05:04] manojkota opened #980 "Error in web chat "Authorization for Microsoft App ID failed with status code Forbidden""
I have integrated my bot with Facebook, skype & web chat. Fb & Skype are working fine. But I am getting forbidden exception for web chat. It is not sending the replies. I have updated the framework to 3.1.0 as well.

Thanks in advance.

[2016-08-12 05:56] kevinport commented on #950
It would be nice that the bot can tell the user what he can do in a welcome message,in every activity and channel.

With out these the user doesnt know what to do, so the user first have to test what the bot understands

[2016-08-12 06:43] aravindbaskaran opened #981 "Unauthorized 401 for any call made to luis-actions.cloudapp.net"
I'm trying to use action fulfillment to get parameters missing in the intent. The intent gets saved, and the model API returns
[code]

However the actions endpoint configured for the bot framework always throws 401 Unauthorized - https://luis-actions.cloudapp.net/api/v1/botframework?app-id=18543d0e-e419-4aac-bae4-c662a75e9f54&subscription-key=**********

What am I missing? Appreciate any info.

Th

[2016-08-12 06:54] #976 closed

[2016-08-12 06:55] danmarshall commented on #980
Are you using the Direct Line secret in your web chat url ?

[2016-08-12 07:12] manojkota commented on #980
Yes...I'm using key mentioned in the embedded code.

[2016-08-12 08:10] NanashiGIT commented on #960
Okay. I dont really want to turn it off, because I think you had a reason to implement that policy.

But Im not sure how to handle that error. In the MessagesController, I start a new Luis-Dialog (my main dialog). When that Precondition-Error happens, i cant manage to catch that error inside the dialog. All I can do is catch that dialog at the call of it in the MessagesController.
But that results

[2016-08-12 08:43] brendanarnold opened #982 "Direct Line GET messages retrieves only some of the messages returned by bot"
I'm using the Direct Line API with an Azure hosted NodeJS bot using framework version 3.1.

I manually call `GET /api/conversations/{conversationId}/messages` after a delay of a second or so and I get the first result below (sometimes one less), I call the same endpoint a second time and get the full set.

There shouldn't be such a delay - in testing in the local emulator the messages arrive all t

[2016-08-12 08:53] afarvardin commented on #80
@tomlm, I have the same problem. Already everything works fine. I got respond from emulator but now I have the same issue of @bluekite2000.

[2016-08-12 10:18] javi-jamaa opened #983 "Suggestion: Process audio input inside IntentDialog module"
Currently ```IntentDialog``` is implemented to use only text as an input and to call a service, i.e: LUIS using ```LuisRecognizer```  to discover the intent.
Would be nice that ```IntentDialog``` will let also audio as an input and internally it will call to Bing Speech (or another  speech-to-text) to translate the voice to text and after it call to the favourite ```*Recognizer```.

[2016-08-12 10:46] aimr00 opened #984 "hello-ChatConnector example failing with mono on ubuntu"
I am running the emulator with mono on Ubuntu trusty against the BotBuilder/Node/examples in the same machine.

I start the bot server. The APP_ID and PASSWORD are set to null in the app.js example.
The display in the screen is:

[code]

Then I start the BFEmulator.exe. The screen ouput is:

[code]

But, when I type a simple message , the bot seems to accept the message, but the emulator gives an

[2016-08-12 11:15] afficionaddo commented on #958
Thnx @willportnoy and @msft-shahins for the reply.

But this arises a risk in my mind:
1. BotState service shall be a dependancy.
2. Is the storage for BotState pluggable?

[2016-08-12 12:17] giriganapathy commented on #979
Hello dan, It worked after creating  a new set of files in azure. Thanks.

Btw, is there any online reference available to understand the various examples (say: carousel, herocard) in node js platform.  Could you please give me a pointer to start.

Regards,
Giri G.

[2016-08-12 12:42] wiltodelta commented on #960
It helped me, but not sure of the correctness of that decision.

[code]

[2016-08-12 13:59] NanashiGIT commented on #960
Hm where do you call that method?
In the messagesController when every message arrives or only once in some constructor?

[2016-08-12 15:22] wiltodelta commented on #960
[code]

[code]

[2016-08-12 17:15] danmarshall commented on #982
The Node.js SDK does have a batching behavior, @Stevenic can you shed some light on this?

[2016-08-12 17:16] OmShrivastava commented on #957
Hi alex
In my application this issue is resolved after updating bot.builder to 3.1.0, now everything working fine

[2016-08-12 17:17] danmarshall commented on #980
can you tell me your bot id?

[2016-08-12 17:19] danmarshall commented on #979
Hi Giri, please see the examples for Skype and Facebook for example code for cards and carousels: https://github.com/Microsoft/BotBuilder/tree/master/Node/examples
Glad your bot is working now :)

[2016-08-12 17:19] #979 closed

[2016-08-12 17:24] alexsorokoletov commented on #957
Doesn't help. As I said I'm using the latest from GitHub

[2016-08-12 19:00] danmarshall commented on #957
Hi @alexsorokoletov, setTimeout is not a supported feature from within a dialog in the Node SDK. Closures do not truly behave as you'd expect in a typical Node app. In your scenario, you may be trying to message the user proactivley, see this issue which contains insight on how to do that: https://github.com/Microsoft/BotBuilder/issues/431

[2016-08-12 19:07] alexsorokoletov commented on #957
@danmarshall, thanks for noting this. I will definitely take a look. As you can see from the gif and conversation log, problem appears before bot even gets to the last step.

After I write him Hi I should get some response from bot. I do not receive it until I send another message ("Hello?").

[2016-08-12 19:09] alexsorokoletov commented on #957
Also, what specifically I should look at #431? There is no information about 'setTimeout'

[2016-08-12 19:19] jorenl commented on #973
If you are deploying as an Azure Web App, it runs either "app.js" or "server.js". There's [some explanation on this azure help page](https://azure.microsoft.com/en-us/documentation/articles/app-service-web-nodejs-get-started/) on how they deploy node projects! Alternatively, you can also define your project as an npm package. (just run npm init in the root folder). This lets you define an "npm sta

[2016-08-12 19:19] #973 closed

[2016-08-12 19:26] danmarshall commented on #957
Correct, there is no information about setTimeout. I am guessing that you want to send something to your user at a later time? Or are you trying to simulate a long running process?

[2016-08-12 19:37] jorenl commented on #947
The easiest solution is probably to just invoke the menu dialog from your intent handler:

[code]

Does that work?

[2016-08-12 19:53] danmarshall commented on #676
Hi @vvvlad are you still having this issue?

[2016-08-12 19:56] danmarshall commented on #455
Hello, are people still seeing this issue?

[2016-08-12 19:58] danmarshall commented on #464
Hello, has anyone been experiencing this issue lately?

[2016-08-12 20:00] danmarshall commented on #505
Hi @ambeer do you still have this issue?

[2016-08-12 20:08] danmarshall commented on #594
Hi @elpollouk I am not able to repro - the bot will show the Yes/No dialog again if I use junk input. Please open a new issue if you see this behavior again, thanks.

[2016-08-12 20:08] #594 closed

[2016-08-12 20:38] craigjensen commented on #792
Thanks for the feedback.  We're investigating how we can support this scenario in a future release.

[2016-08-12 20:38] #792 closed

[2016-08-12 21:40] danmarshall commented on #595
@alexsorokoletov I followed the guide provided by @willportnoy and was able to see metrics in the Azure  portal within a minute or so.

[2016-08-12 21:47] danmarshall commented on #598
@jigneshs123 Are you still having this issue? If so, can you provide a small code sample which reproduces this?

[2016-08-12 21:50] danmarshall commented on #608
Cool suggestion, thanks! We've added it to our backlog.

[2016-08-12 21:50] #608 closed

[2016-08-12 21:51] #624 closed

[2016-08-12 21:51] #633 closed

[2016-08-12 21:57] #673 closed

[2016-08-12 21:59] #685 closed

[2016-08-12 22:00] willportnoy commented on #938
Here is the sample

https://github.com/Microsoft/BotBuilder/tree/develop/CSharp/Samples/AlarmBot

I'm going to close this issue, but feel free to open a new issue for further discussion.

[2016-08-12 22:01] #938 closed

[2016-08-12 22:04] willportnoy commented on #954
I'm going to close this issue, but feel free to open a new issue for further discussion.

[2016-08-12 22:04] #966 closed

[2016-08-12 22:05] willportnoy commented on #967
I assume you were able to figure out which other process has port 9000 open.

I'm going to close this issue, but feel free to open a new issue for further discussion.

[2016-08-12 22:05] #967 closed

[2016-08-12 22:06] danmarshall commented on #693
Hi @shivabasayya - glad your original issue was solved. I am going to close this issue but feel free to open a new issue that is more specific.

[2016-08-12 22:06] #693 closed

[2016-08-12 22:07] danmarshall commented on #682
Hi @XelaMon have you had a chance to update to v3 ?

[2016-08-12 22:08] danmarshall commented on #686
Thanks for the suggestion @eddie1976 - it has been added to our backlog.

[2016-08-12 22:08] #686 closed

[2016-08-12 22:09] danmarshall commented on #702
Hi @HeroHitesh were you able to resolve this issue?

[2016-08-12 22:10] alexsorokoletov commented on #957
Dan, this issue is not about set timeout. It's about incorrectly working webchat channel. The webchat doesn't send message from bot to user until user sends a next message.

[2016-08-12 22:14] willportnoy commented on #772
Just to update the thread, @garypretty and I have been continuing this conversation, working to define some shared interfaces for parsing LUIS entities to CLR types e.g.

https://github.com/Microsoft/BotBuilder/blob/develop/CSharp/Library/Luis/EntityToType.cs
https://github.com/Microsoft/BotBuilder/blob/develop/CSharp/Tests/Microsoft.Bot.Builder.Tests/LuisResolutionTests.cs
https://github.com/Micr

[2016-08-12 22:16] willportnoy commented on #975
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2016-08-12 22:16] #975 closed

[2016-08-12 22:17] willportnoy commented on #958
If you use the Bot Framework's default implementation of IStateClient, then it would be a dependency for your bot.

Yes, you can implement your own IStateClient or IBotData.

[2016-08-12 22:28] danmarshall commented on #957
Do you see the same behavior if you remove your setTimeout?

[2016-08-12 22:33] danmarshall commented on #752
Hi @inornos and @mghimp - are you still seeing these slow responses?

[2016-08-12 22:36] willportnoy commented on #793
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2016-08-12 22:36] #793 closed

[2016-08-12 22:38] willportnoy commented on #854
Thank you for the help @ronnelsantiago.  @letmaik I'm going to close this issue for now, but feel free to open a new issue for further discussion.

I've added this request to add the weather example to our internal backlog

[2016-08-12 22:38] #854 closed

[2016-08-12 22:39] danmarshall commented on #751
Hi @DirkSonguer I can run your sample code and it appears to be working correctly now.

[2016-08-12 22:42] danmarshall commented on #733
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2016-08-12 22:42] #733 closed

[2016-08-12 22:42] danmarshall commented on #704
Thanks for the suggestion, it has been added to our backlog.

[2016-08-12 22:42] #704 closed

[2016-08-12 22:43] #720 closed

[2016-08-12 22:45] danmarshall commented on #726
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2016-08-12 22:45] #726 closed

[2016-08-12 22:46] danmarshall commented on #760
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2016-08-12 22:46] #760 closed

[2016-08-12 22:50] danmarshall commented on #761
@Stevenic is the expert on this, but I do not think the SDK supports setTimeout / closures / promises in this way. Are you trying to "proactively" message your user, at a later time?

[2016-08-12 22:52] #969 closed

[2016-08-12 22:52] danmarshall commented on #801
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2016-08-12 22:52] #801 closed

[2016-08-12 22:52] #940 closed

[2016-08-12 22:53] danmarshall commented on #796
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2016-08-12 22:53] #796 closed

[2016-08-12 22:54] danmarshall commented on #728
Do you still see this issue?

[2016-08-12 22:55] danmarshall commented on #789
Hello are you still having this issue?

[2016-08-12 22:55] danmarshall commented on #787
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2016-08-12 22:55] #787 closed

[2016-08-12 23:06] jorenl commented on #974
The most recent version of the Node SDK no longer ignores None intents (if they are given the highest score by LUIS). You should be able to attach an intent handler for none, and then read out the entities.

You might have to run `npm install botbuilder --save` to upgrade your SDK and store the dependency.

Let me know if that doesn't resolve your issue!

[2016-08-12 23:06] Andrea-Orimoto commented on #983
Thanks for the suggestion, we've added it to our backlog.

[2016-08-12 23:06] #983 closed

[2016-08-12 23:06] Andrea-Orimoto commented on #853
Thanks for the suggestion, we've added it to our backlog.

[2016-08-12 23:06] #853 closed

[2016-08-12 23:07] Andrea-Orimoto commented on #777
Thanks for the suggestion, we've added it to our backlog.

[2016-08-12 23:07] #777 closed

[2016-08-12 23:07] danmarshall commented on #841
It this really your appid?
[code]

[2016-08-12 23:07] Andrea-Orimoto commented on #719
Thanks for the suggestion, we've added it to our backlog.

[2016-08-12 23:07] #719 closed

[2016-08-12 23:08] Andrea-Orimoto commented on #589
Thanks for the suggestion, we've added it to our backlog.

[2016-08-12 23:08] #589 closed

[2016-08-12 23:10] msft-shahins commented on #643
I assume that you are making the direct state api calls within the builder dialog. Before release 3.1 of builder, builder was using a [LastWriteWins](https://github.com/Microsoft/BotBuilder/blob/44d9667878759f9676c615365a818525ffe00ebd/CSharp/Library/Dialogs/BotData.cs#L240) policy for its implementation of IBotDataStore and as a result if you make calls directly to StateApi with in your code, the

[2016-08-12 23:10] #643 closed

[2016-08-12 23:20] thingista commented on #809
@msft-shahins I might need to open a different issue, but it looks like there is a bug with the Skype channel if the base64 encoded data URL is above a certain length.

- if I send the same image to Slack it works fine
- if I send a smaller image to Skype it works

I am getting errors like this:

`Error: Request to 'https://skype.botframework.com/v3/conversations/xyz/activities' failed: [500] Inte

[2016-08-12 23:25] ernanirst commented on #455
No, this error was on v1 with Facebook, since I've upgraded to v3, no more issues.

[2016-08-12 23:36] msft-shahins commented on #809
@thingista feel free to open a separate issue about this.

[2016-08-12 23:36] #910 closed

[2016-08-12 23:37] #455 closed

[2016-08-12 23:40] msft-shahins commented on #715
Closing this since it is going to be resolved in the next release of the builder. This [commit](https://github.com/Microsoft/BotBuilder/commit/3017675bbb27c6060503eec2068bc4c1cbfdd707) have all the changes upgrading Rest.ClientRuntime to 2.3.2.

[2016-08-12 23:40] #715 closed

[2016-08-12 23:40] thingista opened #985 "Size limit with base64 encoded attachments on the Skype channel?"
It looks like I am hitting a size limit on the Skype channel with base64 encoded attachments.

- if I send the same image to Slack it works fine
- if I send a smaller image to Skype it works

I am getting errors like this (unfortunately they are generic):

`Error: Request to 'https://skype.botframework.com/v3/conversations/xyz/activities' failed: [500] Internal Server Error`

Is there a limit with

[2016-08-12 23:41] jigneshs123 commented on #790
Thanks @chrimc62 for reply and adding support for it. Looking forward to it. Btw, ValidateAsync only seem to give form state but not the context state (e.g. PrivateConversationData).

Is it possible to send attachment as part of form options or is that something going to be supported?

[2016-08-12 23:44] #954 closed

[2016-08-12 23:49] Thegaram commented on #455
I experienced this on V3 as well (on multiple channels), but now it seems to be resolved.

[2016-08-12 23:50] willportnoy commented on #950
@kevinport I agree that's a good feature to have any bot - some sort of welcome message.

I think the per-channel requirements that the user talk to the bot first (even with just a "hello") is to prevent spam bots.

I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2016-08-12 23:50] #950 closed

[2016-08-12 23:52] willportnoy commented on #852
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

If you need to store large amounts of data, you might consider a store specialized for that purpose.  For example, sql for relational data, blobs for large binary data, search for semi-structured text data, etc.

[2016-08-12 23:52] #852 closed

[2016-08-12 23:56] willportnoy commented on #968
Does a fresh git clone also produce the same issue?  I can't reproduce this compiler error locally.

[2016-08-12 23:57] willportnoy commented on #696
Thank you for the suggestion of "stricter error checking for markdown syntax errors", we've added it to our backlog.

[2016-08-12 23:57] #696 closed

[2016-08-12 23:58] willportnoy commented on #772
I'm going to close this issue for now, but feel free to open new, specific issues for further discussion as we iterate and improve the implementation.

[2016-08-12 23:58] #772 closed

[2016-08-13 00:00] willportnoy commented on #897
I've checked in a fix for this issue, and I believe a newer version of the emulator was released today.

I'm going to close this issue, but feel free to open a new issue for further discussion.

[2016-08-13 00:00] #897 closed

[2016-08-13 00:04] willportnoy commented on #869
I believe this has been fixed - I see

on

https://docs.botframework.com/en-us/csharp/builder/sdkreference/attachments.html

I'm going to close this issue, but feel free to open new issues for further discussion.

[2016-08-13 00:04] #869 closed

[2016-08-13 00:04] danmarshall commented on #939
Hi @JpEncausse I am going to close this since there is nothing much for us to track. I suggest creating your own open source project for this cool idea :)

[2016-08-13 00:04] #939 closed

[2016-08-13 00:04] srozga commented on #970
Thanks, no exceptions happening. Everything worked in the bot except that one part. We refactored the code so that we dont call SendAsync until an actual message comes in. The refactor actually makes more sense in our case. That being said, this behavior was strange. Maybe we will get a better chance to dig into it later on.

[2016-08-13 00:04] GerryWilko opened #986 "Using Cards with LuisDialog C#"
Hi,

What is the best practice for returning Attachments or more specifically Cards in conjunction with Luis?

It seems to be half there at the moment... Node.JS has the LuisRecognizer but C# still using legacy Luis structure?

So once in the LuisDialog you don't have access to the activity unless you keep track of this manually, is this the best practice? Seems messy

Or ditch LuisDialog for now

[2016-08-13 00:05] willportnoy commented on #970
Thank you for the update!  I'm going to close this issue for now, until we get any further information.

[2016-08-13 00:05] #970 closed

[2016-08-13 00:06] danmarshall commented on #863
This seems like it may have been an intermittent issue, please feel free to open a new issue if you experience this again.

[2016-08-13 00:06] #863 closed

[2016-08-13 00:07] willportnoy commented on #986
I recently made a commit to make it possible to access the activity in the intent handler:

https://github.com/Microsoft/BotBuilder/commit/f156a60880e86f7b853b1f94a5546386436ac3d0

[2016-08-13 00:11] willportnoy commented on #986
Regarding "best practice for returning Attachments or more specifically Cards in conjunction with Luis", what do you mean?  if you use the MakeMessage method off the context passed to the intent handlers, you'll be able to fill it in with all the cards and attachments.

[2016-08-13 00:12] kevinport commented on #950
This problem is solved very well in the webchat. It would be nice if you can make this static text editable. But in all other channel i miss this function.. to prevent spam bots, i think a welcome message doest help, if some one wants to write a spam bot he simply writes it.

The skype bot and the summarizer and the bing news bot already use a welcome message...

How did they do this?

[2016-08-13 00:12] srozga opened #987 "Conversation state storage questions"
Where does the conversation state get stored? i know this is a vague question but I am trying to get a better idea of where the conversation state is stored, what exactly gets stored and for how long. I think some of these questions may have been answered around the docs but our team is having a hard time grasping.

1. Assume we have an EchoStateDialog. We start a conversation with it. Keep emulat

[2016-08-13 00:14] willportnoy commented on #950
Yes, that's an often request feature for WebChat.  It's on our backlog.

It seems likely those bots use one of the other types of activities to send the welcome message:
https://docs.botframework.com/en-us/csharp/builder/sdkreference/activities.html

[2016-08-13 00:31] dandriscoll commented on #945
This means we're timing out on your bot. Are you receiving requests when the test is run?

[2016-08-13 02:27] VishalWaman commented on #947
Yes to works for me...

[2016-08-13 02:27] #947 closed

[2016-08-13 13:27] maximilianlorent opened #989 "How to pass MicrosoftAppPassword to BotAuthentication attribute"
Hi everybody,

I want to create an Azure cloud service which will contain the logics for multiple different bots.
Thus for each bot I created one API controller which exposes the Messages endpoint.
In general everything is working fine.

However I'm working with Bot Framework V3 and as each endpoint belongs to a different bot and as in V3 each bot has a different MicrosoftAppId / MicrosoftAppPassw

[2016-08-13 15:36] changhc commented on #957
This behavior is indeed not related to setTimeout, because it happens even if the bot is just a simple copycat bot.

I've tried upgrading my azure app service from free to standard tier, but this doesn't really help. I guess that there's some message timeout settings in the SDK, and if it takes too long to send messages back or to generate reply messages, they will be kept until the next trigger.

[2016-08-13 17:37] JPThorne opened #990 "Possible Facebook messenger bug"
Hi there,

I am seeing some strange responses in messenger on one of our bots.

The bot is returning a message with an attachment. The attachment has a title set, a thumbnailurl, the contenturl is just a url and the content type is application/text. I have also tried with application/pdf.

However, instead of the attachment displaying a link, it displays this:

https://l.facebook.com/l.php?u=https

[2016-08-13 19:33] giriganapathy commented on #145
Any updates on this.  I have such requirements where user 2 should talk to user 1 via bot.  Is that possible?

[2016-08-13 19:49] giriganapathy commented on #145
let me brief my scenario:
a. say my bot is talking to customer...
b. at one point, customer needs a real human/agent to discuss. so in this case, I have to invite somehow a real agent/human to join this ongoing session, and connects this agent with customer.  once the agent joined the session, all the conversation (made between my bot and customer) should get copied to agent, and from there the ag

[2016-08-13 20:15] giriganapathy commented on #979
Thanks.

On 12-Aug-2016 10:49 PM, "Dan Marshall" <notifications@github.com> wrote:

[2016-08-14 01:12] Orbyt commented on #93
@Stevenic TestBot/tests/send-attachment.js doesnt seem to exist anywhere. Are there any current examples of basic image or attachment sending?

[2016-08-14 05:40] Praggie commented on #585
@Stevenic , Any updates on quick replies implementation in c# sdk?

[2016-08-14 10:48] afficionaddo opened #991 "How to send "greeting page" to FB messenger bot"
Hi, I am building a bot and would like to ask:
What's the way to send a greeting page to FB messenger bot through Bot framework c#? You know when a bot user comes and uses it for the first time?

[2016-08-14 12:08] puneetsngh commented on #848
@lucasmdesousa me too unable to send image from bot.

[2016-08-14 13:53] puneetsngh opened #992 "media attachment contentType issue"
I am sending a gif. So using `contentType=image/gif` but it is showing me only static image.

[2016-08-14 14:20] puneetsngh opened #993 "imBack not hiding tags"
I used meta tag in imBack but it seems that on phone it is not at all hiding the meta tag. See the image for better clarity.

![s1](https://cloud.githubusercontent.com/assets/16202640/17649674/590f4640-6258-11e6-9820-3b09ced7a270.PNG)
![s2](https://cloud.githubusercontent.com/assets/16202640/17649673/58ce1aa8-6258-11e6-9c55-6d9c04f76473.jpg)

[2016-08-14 14:28] georgiosd commented on #572
@willportnoy Sure, but supporting ASP.NET Core even with the full 4.6 SDK is still relevant - shall I open a new ticket about it?

[2016-08-14 14:46] CarolHanna commented on #771
LUIS don't allow entities overlapping in the UI. Can you please check the endpoint JSON response.

[2016-08-14 14:50] CarolHanna commented on #981
We have a issue resulting from deprecating botframework v1 UI. Will working on migrating to v3 to fix this.

[2016-08-14 19:12] aravindbaskaran commented on #981
OK, I'm on v3, the model APIs still work, but unable to do the actions fulfillment because of the schema difference in preview

[2016-08-14 19:16] CarolHanna commented on #981
LUIS our fulfillment is not compatible with v3 it an issue from the LUIS side and we are working on the fix. Can I ask which fulfillment channel are you using?

[2016-08-14 19:36] aravindbaskaran commented on #981
HTTP JSON request type

[2016-08-14 20:43] tomfurrier opened #994 "Is FormFlow Message with Attachments planned?"
Hi,

I miss this functionality, so I tried to implement it. I've managed to add the functionality to the C# SDK in a quite hacky way and touching many parts of the codebase...(I had to reference Connector in Builder code).

Are there any plans that you add this functionality, or any advice how I should implement it properly so I can make a PR out of it?

[2016-08-14 22:11] librevyas commented on #860
Hi ,
I want to know how to use intentThreshold .i just want to  make sure that only the intent with a score > 0.7 should be triggered.

[2016-08-14 23:52] manojkota commented on #789
Yes.

[2016-08-14 23:53] manojkota commented on #980
msboombot

[2016-08-15 02:33] alexsorokoletov commented on #957
We have tried this on different azure servers, 4 total, still happens no matter what. Happens only on webchat channel, same bot and deployment works fine over Skype, Facebook and Telegram. I think we had similar problem before with Telegram (might be wrong) and that was fixed in the SDK update.

[2016-08-15 03:30] VishalWaman opened #995 "Facebook linking"
Hi I am a bit confused with FB linking to BOT...

I am using node.js and my bot works fine with skype and web chat... Now I am looking for FB... Need help on Webhook un node.js.

[2016-08-15 04:07] Englbach opened #996 "Can't testing Microsoft Bot Framework Emulator?"
I'm new developer for skype bot. After I have created a bot application and then testing it but I can't.
![untitled](https://cloud.githubusercontent.com/assets/11801842/17655427/6b57524a-62d8-11e6-8461-5916aceae23a.png)
![untitled1](https://cloud.githubusercontent.com/assets/11801842/17655428/6b8509f6-62d8-11e6-8d48-67fc0f773ee3.png)

[2016-08-15 06:36] alisiikh commented on #860
Hello, @librevyas just pass a JSON options to IntentDialog during instantiation, would look similar to this:

const intents = new botBuilder.IntentDialog({ intentThreshold: 0.7 });

[2016-08-15 07:06] NanashiGIT opened #997 "Skype: PostBack is not hidden"
Hello!
I've got the problem, that in skype, when i click on a button that has the Actiontype "PostBack", the client does show the "Value" of the button.
The Docs say:
"Text of message which client will post to bot. Client applications will not display this message. "

The problem for me is, that depending on the value I do stuff in my bot. But the value might be a long hex code or something more u

[2016-08-15 07:15] NanashiGIT commented on #960
Thanks. It works.

But I'm still interested in an answer to how to handle the mentioned exception. Because I assume that we will run into concurrency issues with that solution.

[2016-08-15 07:18] alexsorokoletov commented on #995
@VishalWaman when you configure Facebook channel on the dev.botframework.com website, there is a guide.

[2016-08-15 07:19] alexsorokoletov commented on #992
@puneetsngh which channel are you using? There is a way to make it work in Telegram, not sure about other channels

[2016-08-15 07:23] puneetsngh commented on #992
skype

[2016-08-15 07:29] librevyas commented on #860
It works. @alisiikh  Thanks man :+1:

[2016-08-15 07:37] puneetsngh commented on #997
postBack doesn't work on skype yet, it must be imBack?

[2016-08-15 08:11] NanashiGIT commented on #997
imBack has the exact same behaviour for me (and I think for imBack its correct)

[2016-08-15 08:14] puneetsngh commented on #997
In imBack you can send the information in meta tags to hide them from user.

see rhis issue [#993](https://github.com/Microsoft/BotBuilder/issues/993)

[2016-08-15 11:21] VishalWaman commented on #995
Thanks, i already went through them... Seems i am missing something.

How to create we hook?

Any reference or snippet?

[2016-08-15 11:30] matheus208 commented on #761
It's not proactive. I fire a http request and build a sentence out of its
answer. So I need to send a message inside a promise.

That works fine with Facebook (UniversalConnector) but not with
ConsoleConnector

On 12 Aug 2016 19:51, "Dan Marshall" <notifications@github.com> wrote:

[2016-08-15 11:36] alexsorokoletov commented on #995
Hook is created for you by the bot framework.

Alex

[2016-08-15 11:42] srogovtsev opened #998 "Can't send custom Slack Message with version 3 of Bot Connector"
I have a bot that replies with a message consisting only of attachments. When it works on Slack, it uses Slack attachment formatting quite heavily, thus I have to use `ChannelData` property.

In version 1 of BotConnector, the code was like this

        var reply = message.CreateReplyMessage();
        reply.Attachments = new List<Attachment>();
        var attachments = new List<object>(); //Slac

[2016-08-15 11:58] datoxxl commented on #956
Everything works as expected. You have to pass only buttons to the HeroCard object, all other properties must be null.

[2016-08-15 11:58] #956 closed

[2016-08-15 13:27] HardikShah289 commented on #968
Yes. A fresh git clone produce this issue. If it is not giving compile error on the code I have posted, then could you please help me to understand how conversion happened between 'System.Net.Http.HttpRequestMessage' to 'Microsoft.Rest.HttpRequestMessageWrapper'.
Something due to Window 10 OS? When I did cloning, I have to restore almost all nugget packages?

[2016-08-15 14:55] ubreddy commented on #183
hi @Stevenic. session.replaceDialog does not seem to trigger the intent match again.
mine is a similar. but instead of spell check, I am trying the following sequence.
on a local prompt question instead of answering the prompt question, the user chooses to do one of the global utterances ( on which Luis is trained )..

in the prompts results we notice that user has not chosen the standard answer b

[2016-08-15 15:13] HKOLWD opened #999 "Using user uploaded skype attachments"
I am currently struggling to use the result of a Prompts.attachment() method. The prompt itself works fine. User selects a file and puts it in skype. The bot receives the file correctly, and the results show the correct output:

`
{"contentType":"image","contentUrl":"https://apis.skype.com/v2/attachments/SOME_ID/views/original","thumbnailUrl":"https://apis.skype.com/v2/attachments/SOME_ID/views/th

[2016-08-15 15:58] VishalWaman commented on #995
Yes... Thanks

[2016-08-15 15:58] #995 closed

[2016-08-15 16:10] v-ms commented on #985
Currently card images have a limit in size and resolution: up to 1,000,000 bytes and up to 1024x1024 in resolution.

[2016-08-15 17:25] mingweiw commented on #999
You need to attach the bear auth token. You can get the token for example on the incoming request from the user. The Skype docs <https://docs.botframework.com/en-us/skype/chat/#navtitle> mentions this at the very end.

![image](https://cloud.githubusercontent.com/assets/19695895/17672691/7697f7f0-62d2-11e6-8a1e-00fef5114975.png)

[2016-08-15 17:38] eiva opened #1000 "Custom adapters"
Hello.
I want to use this bot for TeamSpeak and Discord, non of this messangers are integrated into Bot Framework.
I didnt find any information on how to write custom adapters and how to communicate with bot in this way?
In a few words how to do it?
Thanks.

[2016-08-15 17:46] nzthiago commented on #945
Thanks @dandriscoll. What do you mean about receiving requests when the test is run?

[2016-08-15 18:05] Thegaram commented on #996
You have to specify *Microsoft App Id* and *Microsoft App Password* in the fields on the top.

[2016-08-15 18:12] Englbach commented on #996
Where is Microsoft App Password?. I just create bot application and haven't programming yet.

[2016-08-15 18:22] HKOLWD commented on #999
Thanks for the response. A quick follow-up though:

What is the best way to obtain this token? Is there any variable inside the botbuilder/restify setup that I can pick up halfway a dialog? Somewhere inside the bot session? Could do with some tips on the best way to implement this..

[2016-08-15 18:36] Thegaram commented on #996
Should be the same as in your `Web.config`. For local testing, these can be anything, but the values in the emulator should match the ones in your configuration. Later, you'll acquire these during the bot registration.

[2016-08-15 18:41] danmarshall commented on #585
@msft-shahins is a C# implementation planned?

[2016-08-15 19:03] msft-shahins commented on #585
@danmarshall It is in our backlog.

[2016-08-15 19:17] willportnoy commented on #968
The two types are not related - there is a constructor to instantiate the HttpRequestMessageWrapper around the HttpRequestMessage:

https://github.com/Azure/autorest/blob/master/src/client/Microsoft.Rest.ClientRuntime/HttpRequestMessageWrapper.cs#L20

but this should not have anything to do with Windows 10.  @msft-shahins have you seen this error before?

[2016-08-15 19:18] willportnoy commented on #960
I'm working on some code that should help - I'll update this issue thread when it's ready.

[2016-08-15 19:34] kevinport opened #1001 "LuisIntent with empty code causes an exception"
If you write an LuisIntent-Method without code, the next message the user sends to the bot causes an exception.

`  [LuisIntent("Login")]
    public async Task Login(IDialogContext context, LuisResult result)
    { }`

Now if the user trigger the LoginIntent, the empty Method is called.
After that if the user sends an other message to the bot, the following exception is thrown.

Additional informa

[2016-08-15 19:38] willportnoy commented on #987
I added an entry to the technical faq to answer your questions:

https://docs.botframework.com/en-us/technical-faq/#where-is-conversation-state-stored

Conversation/message history is more complicated.  The bot framework doesn't store messages permanently (other than queuing throughout the system).  But LUIS might store utterances to support its "closed loop" of active learning (https://www.luis.a

[2016-08-15 19:42] willportnoy commented on #1001
It looks like you're running into this issue:

https://docs.botframework.com/en-us/technical-faq/#ensure-all-dialog-methods-end-with-a-plan-to-handle-the-next-message

[2016-08-15 19:44] willportnoy commented on #989
related issue: https://github.com/Microsoft/BotBuilder/issues/867

[2016-08-15 19:45] srozga commented on #987
Thanks! Very helpful. Could you please provide some clarity on point #1?

[2016-08-15 19:46] willportnoy commented on #991
You might consider storing a flag in the per-user bot data bag to track whether you've sent the initial greeting message to a particular user:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/IBotData.cs#L47

[2016-08-15 19:49] willportnoy commented on #996
The exception message in your screen shot implies it's something related to SSL:

"System.IO.IOException: The handshake failed due to an unexpected packet format"

When using the emulator, you should be able to skip authentication by leaving those fields blank.

[2016-08-15 19:53] kevinport commented on #1001
Oh thanks :+1:

[2016-08-15 20:00] #1001 closed

[2016-08-15 20:09] willportnoy commented on #987
Yes, the state of the dialog stack is stored in the bot data conversation property bag.  The idea is that users can return to a conversation far in the future and the bot's code will be waiting for them, still in the same position in the dialog.  It's preserved across code changes.

More details:

https://docs.botframework.com/en-us/technical-faq/#how-do-i-version-the-bot-data-stored-through-the-s

[2016-08-15 20:14] srozga commented on #987
Very helpful again! Thanks!

[2016-08-15 20:14] #987 closed

[2016-08-15 20:19] mingweiw commented on #999
AFAIK the bear token is not directly accessible through the builder. There are a couple of options.

1. In your controller you can save the <code>Request.Headers.Authorization</code> and use it when needed.
2. If you have a <code>HttpClient client</code> you can do <code>client.AddAPIAuthorization(...)</code> (<https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Connec

[2016-08-15 20:30] #585 closed

[2016-08-15 21:11] HKOLWD commented on #999
I think you're right. Token does not seem to be available in builder. I did manage to obtain the bearer token from the request now though, using the value from the restify (using node.js by the way) request. I am currently struggling to get skype to accept it though.

Using node request to call the endpoint, using:
[code]

Skype won't have it though. I keep getting a 401, indicating invalid token.

[2016-08-15 21:15] nickcordrey commented on #997
For example:
"Visible text<meta hiddenId=’10’/>"

[2016-08-15 21:16] nickcordrey commented on #997
For example:
`"Visible text<meta hiddenID=’10’/>"`

[2016-08-15 21:16] #997 closed

[2016-08-15 21:50] GerryWilko commented on #986
Thank you Will. I was following the SimpleAlarm example and missed that you can use the MakeMessage method.

[2016-08-15 21:50] #986 closed

[2016-08-15 22:01] GerryWilko opened #1002 "NoResumeHandlerException: IDialog method execution finished with no resume handler specified through IDialogStack."
I'm trying to use the LuisDialog and I get the exception above. I'm sure I'm missing something simple but I am receiving the following exception even when using just the default None handler.

Called here:
        `await Microsoft.Bot.Builder.Dialogs.Conversation.SendAsync(activity, () => new Stream_StarterDialog(_eventRepository, _userRepository));`

LuisDialog:

        [LuisIntent("")]

[2016-08-15 22:16] willportnoy commented on #1002
The current version of your code looks correct:
https://docs.botframework.com/en-us/technical-faq/#ensure-all-dialog-methods-end-with-a-plan-to-handle-the-next-message

However, you might consider clearing your conversation state in case it corresponded to an older version of the code:
https://docs.botframework.com/en-us/technical-faq/#my-bot-is-stuck--how-can-i-reset-the-conversation

[2016-08-15 22:48] GerryWilko commented on #1002
Yep that fixed it thanks again Will!

[2016-08-15 22:48] #1002 closed

[2016-08-16 00:16] LarsLiden commented on #928
Bug has been fixed.  Will be included in our next publish.  Thanks for pointing this out.

[2016-08-16 00:16] #928 closed

[2016-08-16 00:49] mingweiw commented on #999
Is the \<REDACTED TOKEN\> something like <code>BotConnector XXXX...</code>? If so I think you need to strip off the <code>BotConnector </code> prefix.

[2016-08-16 00:51] msft-shahins commented on #999
You can look at the code sample posted for #662 to see how you can access the skype attachments using bot's JwtToken.

[2016-08-16 00:51] #999 closed

[2016-08-16 00:56] msft-shahins commented on #996
`https` is not enabled by default for `localhost`. Change the `bot url` to `http://localhost:3979/api/messages` instead of `https://...`.

[2016-08-16 00:56] #996 closed

[2016-08-16 00:59] Englbach commented on #996
https://docs.botframework.com/en-us/csharp/builder/sdkreference/gettingstarted.html. I can see it that don't use microsoft app id...

[2016-08-16 01:09] msft-shahins commented on #996
@Englbach you don't need the `MicrosoftAppId` and `MicrosoftAppPassword` if you want to debug your bot locally. When you are not indicating those values the bot authentication will be disabled the for the bot.

[2016-08-16 01:11] Englbach commented on #996
thanks msft-shahins.

[2016-08-16 01:25] puneetsngh commented on #997
But I link the issue [#993](https://github.com/Microsoft/BotBuilder/issues/993) where I am sending meta which is not hiding on some clients

[2016-08-16 05:49] nickcordrey commented on #992
Unfortunately not all Skype clients support animated gifs today.

[2016-08-16 05:49] #992 closed

[2016-08-16 07:07] JpEncausse commented on #939
My question was about how to do that without breaking BotBuilder.
- What best entry point to use ?
- Do you have already that usecase in mind ?

I guess I should implement a custom Dialog.

[2016-08-16 08:04] HKOLWD commented on #999
Thanks @msft-shahins I think that sample code is exactly what I need.

@mingweiw no, it was only the token, no BotConnector prefix. Looks like I simply used the wrong token/approach.

Thanks for all the help guys!

[2016-08-16 10:59] AidanBr opened #1003 "[Node] Slack or Bot Connector not working for individual users"
Midway through conversations with the bot in slack the bot has stopped responding to the user. There is no traffic to our node server from these conversations.
Additional user's conversations have also stopped working with no pattern between them.
Other users on slack and other clients can still access and chat with the bot.

Is there a limit on messages in slack or bot connector?

LUIS is also be

[2016-08-16 11:17] aqalalwa opened #1004 "Unable to deserialize the response."
Today, I moved to learn about Bots Framework provided by Microsoft, so I followed the documentation for getting started with it. I cloned the CSharp version of the BotBuilder and created a new project using its template. When I tried to test it on the Bots Emulator it crashed when I sent a message.

![image](https://cloud.githubusercontent.com/assets/11869771/17697222/2ae7379a-63bc-11e6-897f-6409a

[2016-08-16 11:41] NanashiGIT opened #1005 "Slack: Meta-Tags in Button-Action cause Error 500"
Hello!
Im trying to use Meta-Tags in my Button Actions with PostBack, so i can determine some data better when the button is clicked.

It is working fine in Skype, but when I click that button in Slack, i get an Internal Server Error (From the Connector i assume, because I get an HTML-Styled Exception in the Log-Streaming of Azure).

My code for the button (Which is the same for skype):
[code]
Doe

[2016-08-16 12:18] erlendw opened #1006 "Is there any way to connect directly to a chatbot without using the direct line api?"
And if not; Is there any way to test direct line locally?

[2016-08-16 13:38] HKOLWD commented on #662
Code sample worked! Only modified the code to return a string instead of an array, which was easier to use in my case. Finally managed to solve this challenge. Thanks @msft-shahins

[2016-08-16 14:05] Avartarus-Testicus opened #1007 "[Node.js] How to send video"
Hi,
how is it possible to send videos, indipendent of the channel (skype, telegram) with nodeJS. For images there is already a common way for implementing, but what about videos!!!:

var msg = new builder.Message(session)
            .attachments([{
                contentType: "image/jpeg",
                contentUrl: "http://www.theoldrobots.com/images62/Bender-18.JPG"
            }]);
        s

[2016-08-16 15:05] HKOLWD commented on #964
I am having a similar issue. It seems the only way to send a proactive message to a user is using UniversalBot.beginDialog(address, dialogId);

Using send on either connector or bot, passing in a Message (with address and serviceUrl set), will result in the failed: [400] Bad Request

[2016-08-16 17:22] filipeperdigaosousa opened #1009 "ask email on skype"
If I ask the user via a dialog to give me their email, it's returning it as <ahref="mailto:matt@geckolabs.co.uk">matt@geckolabs.co.uk</a>.

Do you know how can i solve this?

[2016-08-16 17:31] loretoparisi commented on #589
@Andrea-Orimoto thank you, can't wait to get it working!

[2016-08-16 17:45] willportnoy commented on #1004
Can you share the call stack?

It seems possible your asp.net server is not sending back a json formatted response (it may be sending html instead, for example).

[2016-08-16 18:12] GanadiniAkshay opened #1010 "Sending notifications to subscribed user"

[2016-08-16 18:13] #1010 closed

[2016-08-16 18:22] danmarshall commented on #939
@willportnoy do you have any suggestion here?

[2016-08-16 18:24] craigjensen commented on #998
Please add your botId and i'll investigate

[2016-08-16 18:36] craigjensen commented on #1005
Please add your botId and i'll investigate

[2016-08-16 19:02] NanashiGIT commented on #1005
If you mean the microsoft app id:
4998a523-b204-4f22-b137-37ba8e808e3a

[2016-08-16 19:16] srogovtsev commented on #998
`aqubot`

[2016-08-16 19:22] willportnoy commented on #939
I don't have a lot to suggest.  Custom IDialogs are good for custom, self-contained components to be reused.  Using graphical representations of state transitions seems to be a common theme in visual programming languages.

The messages to the bot and the messages to the user are always on separate http requests in version 3.

[2016-08-16 19:50] craigjensen commented on #1005
I'm seeing several http 500 errors coming from your bot's endpoint.  Can you add the CorrelationId from one of the errors you are referring to above?

[2016-08-16 20:04] craigjensen commented on #998
aqubot looks to be a v1 bot.  What is the botId of the v3 bot that is failing?  Also, It might be helpful to include the CorrelationId from the errors that you are seeing in you App Insights so I can look them up in our logs.  Thanks

[2016-08-16 20:09] srogovtsev commented on #998
I switch it back and forth between v1 and v3. Operation IDs are:

[code]

There's no CorrelationId on the entries.

[2016-08-16 20:14] MironV commented on #864
@danmarshall @nickcordrey If I can work around this by using a URL shortener why is this restriction in place?

[2016-08-16 20:20] NanashiGIT commented on #1005
Im not sure what you mean by correlationId.

All i have is the Log-Stream in Azure. I just triggered an example exception with a button click. The steam shows me the following:

`
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>IIS Detailed Error - 500.0 - Internal Server Error</

[2016-08-16 20:46] kevinport opened #1011 "Published FacebookAuthBot creates errors"
For our Bot we want that the users can login to their facebook-account, to authenticate them...

I tested the FacebookAuthBot local with the emulator, and everything works fine.

Now i wanted to test it on an published app.

I published the sample to my azureaccount directly from visual studio.
I changed the
public static readonly Uri FacebookOauthCallback = new `Uri("http://mealfredbottest.azurew

[2016-08-16 20:48] nickcordrey commented on #1009
Hi could you describe in a bit more detail the issue you are seeing - is the email address formatted incorrectly? It looked OK in the example above but I may be missing the issue.

[2016-08-16 21:16] kevinport commented on #1011
and sometimes i get this error:

{
  "message": "An error has occurred.",
  "exceptionMessage": "Operation is not valid due to the current state of the object.",
  "exceptionType": "System.InvalidOperationException",
  "stackTrace": "   at Microsoft.Bot.Builder.Dialogs.Conversation.<>c__3`1.<ResumeAsync>b__3_0()\r\n   at Microsoft.Bot.Builder.Dialogs.Internals.ReactiveDialogTask.<Microsoft-Bot-Bui

[2016-08-16 21:17] oztheozoz opened #1012 "Issue Registering New Bot on botframework.com"
I have been able to successfully register a bot on botframework.com before.
After I enter all the information to register a bot and click submit, I am getting this error message and cannot proceed further:
"Object reference not set to an instance of an object."

Looks like a null pointer to me. Anyone from MS able to take a look at this?

[2016-08-16 21:37] willportnoy commented on #960
This commit will help serialize message handling within the scope of a particular conversation and user: https://github.com/Microsoft/BotBuilder/commit/8f441469e1e80b5d7712cbf81bc3eacc9f71e3a4

[2016-08-16 21:37] willportnoy commented on #977
This commit will help serialize message handling within the scope of a conversation/user: https://github.com/Microsoft/BotBuilder/commit/8f441469e1e80b5d7712cbf81bc3eacc9f71e3a4

[2016-08-16 21:38] craigjensen commented on #998
I can confirm that this is a bug in the framework and will be fixed the next time we deploy.  As a work around until we get the fix deployed you can try setting ChannelData to null instead of an empty object {}.

[2016-08-16 21:49] reyesrico commented on #1007
Hi,
The way to send videos is using the contentType: "video/{format}".

Here it is an example of sending video/mp4 video:

	var msg = new builder.Message(session).attachments([{
		contentType: "video/mp4",
		name: "Big Buck Bunny 240p 1mb.mp4",
		contentUrl: "http://www.sample-videos.com/video/mp4/240/big_buck_bunny_240p_1mb.mp4"
	}]);
	session.send(msg);

The supported formats depend on the chann

[2016-08-16 21:49] rcarmonad opened #1014 "FormFlow and HeroCard not work properly"
Hi, i'm building a chatbot app using the c# api.
I have a form flow app that shows the result using a carousel of herocards, just like this [example](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Samples/EchoBot/EchoAttachmentDialog.cs).
When i try using the Channel Emulator, it works fine

<img width="1100" alt="chat bot emulator example" src="https://cloud.githubusercontent.com/asse

[2016-08-16 21:49] srogovtsev commented on #998
The problem is, I'm not setting `ChannelData` to empty object, I'm setting it to a custom Slack message (which I want to be sent to Slack).

[2016-08-16 21:54] craigjensen commented on #998
The three OperationId's you included above all contain empty ChannelData.  Here's first one:
{
  "type": "message",
  "timestamp": "2016-08-15T08:40:44.1689733Z",
  "serviceUrl": "https://slack.botframework.com/",
  "channelId": "slack",
  "from": {
    "id": "B1BN6LF5W:T03CE4PJV",
    "name": "aqu"
  },
  "conversation": {
    "id": "B1BN6LF5W:T03CE4PJV:C1BN25KB7"
  },
  "recipient": {
    "id":

[2016-08-16 21:57] srogovtsev commented on #998
And I suppose this is the problem, because as you can see from code I'm sending the `ChannelData` with attachments, so it gets lost somewhere...

[2016-08-16 21:58] Stevenic commented on #972
The carousel card limits are technically dependent on the channel (skype or facebook) but both currently have a 10 card limit.  As for the use of __imBack__ to invoke a dialog action. If you register a `{ matches: /^command/i }` for your dialog action that will invoke the action when the imBack button is pressed.  Just make `command` equal to your imBack value.

[2016-08-16 22:49] NanashiGIT commented on #960
Uhm.
So i dont really understand your code, but i guess its really helpful :)

So once its released, how will we be able to catch an exception or how will the new behaviour be like?

[2016-08-16 23:29] Andrea-Orimoto commented on #1003
Hi AidanBr, what's the bot handle? https://dev.botframework.com/bots?id=<bothandle>

[2016-08-17 00:14] craigjensen commented on #998
In V3, ChannelData should contain a properly formatted Slack message see [Custom Slack Messages](https://docs.botframework.com/en-us/csharp/builder/sdkreference/channels.html).   Try changing your code to something like:

    var reply = activity.CreateReply();
    reply.Attachments = new List<Attachment>();
    var attachments = new List<object>(); //Slack-formatted attachments
    //filling atta

[2016-08-17 01:17] changhc commented on #1009
I guess you mean that it returns something like mailto:XXX.
But it's still a string and you can just record its substring.

[2016-08-17 06:07] yaalisri commented on #972
Thanks Steve. I will try this and let you know if it works.

[2016-08-17 08:10] Avartarus-Testicus commented on #1007
Hi,
thanks a lot for your fast answer. The fault was on my side...anyway....your example is working fine :+1:

[2016-08-17 08:10] faso commented on #1012
I am having the same issue right now. I hosted it on Azure and it works properly with the emulator.

[2016-08-17 09:08] letmaik commented on #897
I can confirm that this is fixed. Thanks! :)

[2016-08-17 09:20] srogovtsev commented on #998
What do you mean by "properly formatted"? Does it have to be a complete Slack message with addressing and so on? Because example message on your link isn't complete, it has only `text` and `attachments`, no addressing.

It won't compile: `JObject` has no property `Attachments`. But let's try changing it to `dynamic`:

[code]

It fails with

[code]

But if I go back to my simple `reply.ChannelData

[2016-08-17 09:32] Sams4u opened #1015 "Hyperlink issue in webchat"
Hi, Am trying to create a hyperlink which should directly open an IM window upon clicking.
Hyperlink is created using following syntax context.PostAsync($"Please click on [Title](sip:user@domain.com)");
It works with emulator but not with webchat. When i checked the html <a> tag is getting generated but href is not.

[2016-08-17 10:03] dmdnkv opened #1016 "Add bot to skype link format (add bot directory to the skype client)"
Is it possible to add skype bot to skype via simple link directly passing it to the skype client without going through `join.skype.com` and its authentication mechanism.
For instance:

[code]

[2016-08-17 12:10] wiltodelta opened #1017 "StateClient Exception"
_My code:_

[code]

_Exception:_

[JsonReaderException: Unexpected character encountered while parsing value: T. Path '', line 0, position 0.]
   Newtonsoft.Json.JsonTextReader.ParseValue() +1025
   Newtonsoft.Json.JsonTextReader.Read() +103
   Newtonsoft.Json.Serialization.JsonSerializerInternalReader.ReadForType(JsonReader reader, JsonContract contract, Boolean hasConverter) +74
   Newtonsoft.Js

[2016-08-17 13:20] mghimp opened #1018 "Skype call drops after 13 sound play prompts"
I have a Skype calling bot that sends back to skype audio files as play prompt. The call drops each time after 13 audio files have been played.

[2016-08-17 13:36] mshula commented on #1012
I'm having the same issue.

[2016-08-17 14:41] AidanBr commented on #1003
Hey,

The bot handle is SelfServiceBot

Thanks.

[2016-08-17 14:52] srogovtsev commented on #998
I've managed to pin down the problem. The JSON you see above is logged before the reply is sent via `connector.Conversations.ReplyToActivityAsync(reply)`. But if I add a log inside the connector (kudos to developers for having the injection point!), I see `"channelData": {}`. So the problem is somewhere inside `ReplyToActivityAsync`.

[2016-08-17 15:01] HardikShah289 opened #1019 "Change Button CSS in CardAction"
Is it possible to change the CSS of button in CardAction and HeroAction?
Skype provide good CSS for button but on Web it is not good.

[2016-08-17 15:21] filipeperdigaosousa opened #1020 "DirectLine messages format"
I'm using DirectLine API an when I receive a confirm prompt i receive a message like this: "Is it correct? (1. yes or 2. no)".

Is it possible to receive the message in another format in order to understand that this message is a confirmation?

It can be very usefull in confirmations, attachements and this kind of messages in order to help use custom controls like buttons, cards, ...

[2016-08-17 15:27] srogovtsev commented on #998
Minimal repro is actually quite easy:

[code]

1. `JsonConvert.SerializeObject(reply)` shows

         "channelData": {"text": "here should be attachments" }

2. `IServiceClientTracingInterceptor` logs `EnterMethod` for `ReplyToActivity` with

         ChannelData: {text: "here should be attachments"}

3. `IServiceClientTracingInterceptor` logs `SendRequest` with

         "channelData": {}

4. de

[2016-08-17 15:36] srogovtsev commented on #998
...and now I've found why that happens. [Here](https://github.com/Microsoft/BotBuilder/blob/c4dbb7183cc1c23837b6d6c8bc03fe8c54ba1f55/CSharp/Library/Microsoft.Bot.Connector/ConnectorAPI/ConnectorClient.cs#L131) the culprit:

[code]

`ReadOnlyJsonContractResolver` skips all read-only properties, and the properties in anonymous classes are read-only. If I switch to "regular" class for my Slack messag

[2016-08-17 15:41] alexsorokoletov commented on #957
Hi guys, do we have any update on this? We can't use webchannel because of this bug. I've put time and created a sample bot that reproduces the problem, recorded conversation and gif showing the problem. What else do we need from me to move on?

[2016-08-17 15:42] HardikShah289 opened #1021 "Button not displayed on iFrame"
In my code, i have used
` CardAction plButton = new CardAction()
                {
                    Value = "https://en.wikipedia.org/wiki/Pig_Latin",
                    Type = "openUrl",
                   Title = "Submit"

                };
                CardAction plButton1 = new CardAction()
                {
                    Value = "https://en.wikipedia.org/wiki/Pig_Latin",

[2016-08-17 15:50] craigjensen commented on #998
I was able to get it to work by creating the ChannelData object as a JObject as follows:

var attachments = new List<object> { JObject.Parse("{'title': 'title', 'text': 'some text...' }") };
dynamic channelData = new JObject();
channelData.Attachments = new JArray(attachments);

[2016-08-17 15:59] craigjensen commented on #998
ReadOnlyJsonContractSerialzer is the default from AutoRest generated client code and does not work with anonymous types.

[2016-08-17 16:07] srogovtsev commented on #998
Okay, here's the simplest solution:

[code]

[2016-08-17 16:17] craigjensen commented on #998
I like it!

[2016-08-17 16:17] #998 closed

[2016-08-17 16:28] HardikShah289 commented on #1012
Make sure you fill the page data correctly.
enter URL  when it is require.. at least in URL format like http://google.com in terms to use, privacy statement. I got the same, but after putting data in correct format, it is resolved.,

[2016-08-17 17:21] oztheozoz commented on #1012
@HardikShah289 that worked! Thank you very much. Funny thing is before registering this recent bot, I registered multiple bots without problems but must have by chance just included http://. It's definitely still worth someone at MS looking into putting a more meaningful error message if http:// is what they are expecting for those fields.

[2016-08-17 17:41] KrishnanA commented on #1018
Could you share your bot id please? We have a limit on the number of serial workflows that can be given by a bot and the behavior you are explaining might be a result of that.

[2016-08-17 17:53] willportnoy commented on #1017
Can you tell me about the original thrown exception?

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Connector/StateAPI/BotState.cs#L186

[2016-08-17 18:31] wiltodelta commented on #1017
The exception thrown here `BotData userData = await stateClient.BotState.GetUserDataAsync(loginSession.ChannelId, loginSession.UserId);` with message "Unable to deserialize the response.".

I double check all parameters.

[2016-08-17 18:33] danmarshall commented on #957
Thanks @alexsorokoletov for filing the issue, I have verified that there is a bug here. It does not have anything to do with setTimeout. Thanks we will be looking into it.

[2016-08-17 18:34] wiltodelta commented on #1017
@willportnoy And checked at different channels (Telegram, Facebook, Web Chat).

[2016-08-17 18:34] VishalWaman commented on #781
+1
Finding..
1. Generally occurs when we try to send receipt/hero/thumbnail card
2. Once error occurs, that conversation ID has this error... Others conversation work well.
3. Told don't happen with emulator
4. As of now error found in skype and Facebook

[2016-08-17 18:39] wiltodelta commented on #1017
@willportnoy Full Stack Trace:

[JsonReaderException: Unexpected character encountered while parsing value: T. Path '', line 0, position 0.]
   Newtonsoft.Json.JsonTextReader.ParseValue() +1025
   Newtonsoft.Json.JsonTextReader.Read() +103
   Newtonsoft.Json.Serialization.JsonSerializerInternalReader.ReadForType(JsonReader reader, JsonContract contract, Boolean hasConverter) +74
   Newtonsoft.Json

[2016-08-17 18:43] wiltodelta commented on #1017
I also use ConnectorClient with same parameters and it works fine!

[code]

[2016-08-17 18:45] HardikShah289 commented on #1012
I agree!

[2016-08-17 18:55] danmarshall commented on #1021
Hi @HardikShah289 the webchat currently does not display cards - this is a known issue that we are working on. We will be posting news on our blog when we have a webchat update, thanks.

[2016-08-17 18:55] #1021 closed

[2016-08-17 18:57] danmarshall commented on #1019
Hi @HardikShah289 I have added this as a feature request for the webchat control. when there is a webchat update, we will post about it on our blog, thanks!

[2016-08-17 18:57] #1019 closed

[2016-08-17 19:17] mshula commented on #1012
Thank you! yes, that worked! :) My issue was that I didn't have a URL in in terms of use.

[2016-08-17 20:10] wiltodelta commented on #1017
It's really critical issue for us.

[2016-08-17 20:42] HardikShah289 opened #1022 "Dialog return HeroCard/Rich Card/Attachment"
Is it possible to send Hero Card or any Rich Card in class implemented by IDialog?

code from EchoBot

await context.PostAsync(string.Format("{0}: You said {1}", this.count++, message.Text));
                context.Wait(MessageReceivedAsync);

So, here in await context.PostAsync(activityWithAttachment)
 Is it possible?

[2016-08-17 20:50] rcarmonad commented on #1014
So, now it's working.
The only thing i changed was that i put "Value" to the CardButton:

[code]

That's all folks!
Greets

[2016-08-17 20:54] HardikShah289 commented on #1022
Got the idea from EchoAttachmentDialog.

[2016-08-17 20:54] #1022 closed

[2016-08-17 20:56] Thegaram opened #1023 "Node.js ConsoleConnector fails to reset Session.sendingBatch"
The code below sends only one message instead of two.

[code]

When we call `Session.send`, the code flow will eventually reach `ConsoleConnector.send`. As this function does not call the provided callback (unlike `ChatConnector.send`), `session.sendingBatch` will not be reset to `false`, and subsequent calls to `Session.send` will be ignored (due to the check in `Session.startBatch`).

Note: with

[2016-08-17 22:41] willportnoy commented on #960
With this new code, you won't have to do anything different (if you run your bot on a single node) - it will serialize the execution of your bot's code (for a particular conversation/user) so that only one message will be handled at a time (for that particular conversation/user).

[2016-08-17 22:44] willportnoy commented on #1017
I suspect the state service is returning something that can't be parsed by the json reader.

Are you trying to save a lot of state?  If so, there may be an earlier error you could just avoid.

If you use fiddler or the debugger, can you see the body of the http response returned by the state service, that apparently can't be parsed by the json reader?

[2016-08-17 23:04] wiltodelta commented on #1017
@willportnoy Yes, can't be parsed and returned http status 500, it's not success response.

I save 2 values (12 bytes, 16 bytes) in state, but exception thrown when executing GetUserDataAsync.

I use Azure App Service to host bot app, I can't see body of request/response via fiddler.

[2016-08-17 23:25] MironV opened #1025 "Skype responses always have extra line"
Whenever I look at my bot on Skype, his responses include a blank line. This doesn't seem to happen when I chat in Skype in general and it happens on all platforms. I'm not sending any newlines to my knowledge.

[2016-08-17 23:53] wiltodelta commented on #1017
Request:
GET https://webchat.botframework.com/v3/botstate/webchat/users/E1bsd5bqzNe

Response (NOT JSON):
500
The page cannot be displayed because an internal server error has occurred.

[2016-08-18 00:50] wiltodelta commented on #1017
May be @msft-shahins can help?

[2016-08-18 00:59] wiltodelta commented on #1017
I registered and tried another bot, problem doesn't depend on this.

[2016-08-18 01:20] msft-shahins commented on #1017
@wiltodelta can you do a direct call to [GetUserData](https://docs.botframework.com/en-us/restapi/state/#!/BotState/BotState_GetUserData) for State API using postman or curl and see what is the returned results by the service for that specific user? I guess the saved data for that user is not a valid JSON and causes the exception to be thrown.

[2016-08-18 01:38] wiltodelta commented on #1017
@willportnoy, @msft-shahins BaseUri for StateClient is _https://state.botframework.com_.

ConnectorClient and StateClient have similar parameters in constructor:

[code]

[code]

[2016-08-18 01:53] #1007 closed

[2016-08-18 02:49] willportnoy commented on #1017
@wiltodelta does changing the URL solve your issue?

[2016-08-18 03:02] willportnoy commented on #1014
Thank you for the follow-up comment explaining how to fix the issue!

[2016-08-18 03:04] willportnoy commented on #1015
I'm surprised a hyperlink is generated at all - it looks like you're posting plain text to the user with your PostAsync call.  Did GitHub formatting strip out some content?

[2016-08-18 04:01] reghrafa opened #1027 "Registration of bot in the portal fails"
When trying to register a new Bot under https://dev.botframework.com/bots/new and providing all required information the website responds with "Object reference not set to an instance of an object.".
<img width="410" alt="screenshot 2016-08-17 23 57 46" src="https://cloud.githubusercontent.com/assets/6999002/17761658/ecb79020-64d6-11e6-96a0-c868a4bcb77b.png">

[2016-08-18 04:05] VishalWaman opened #1028 "Ping to user.. similar to notification Node.js"
I need to ping user with a message like 'Gentle reminder for outstanding payments'...

How to we initiate conversation to a specific user from bot framework node.js

[2016-08-18 04:43] kenyeung128 opened #1029 "Disable exception sent to client"
Hi, How could I stop the exception being sent and displayed on the client like facebook messenger? Thanks.

[2016-08-18 05:23] mghimp commented on #1018
Microsoft App ID: c277b29c-65f2-4883-b7bb-0664ac959670

[2016-08-18 05:39] XelaMon opened #1030 "GroupMe V3 Bot Not Responding Consistently"
I have made a bot for GroupMe using the v3 Bot Framework. I have added it to a group using the provided test link. However, the bot doesn't seem to be receiving messages from the Bot Connector Service consistently. I will send one message to which it responds, and then another message, to which the bot never responds. What could be happening here?

Additionally, adding a bot to GroupMe doesn't see

[2016-08-18 05:56] oztheozoz opened #1031 "EntityRecognizer.parseNumber doesn't work with decimals"
When Luis.ai detects a decimal number such as 43.4, it successfully parses it as a builtin.number entity. However, Luis adds a space before and after the decimal point like this 43 . 4. EntityRecognizer.parseNumber only parses and returns 43 because of the extra spaces. Either this can be fixed on Luis.ai or by modifying the regex parseNumber relies on.

Tested on botbuilder v 3.2.3

[2016-08-18 05:56] sruthi-chelukala opened #1032 "Facebook Oauth when published is not working in skype."
I have integrated Facebook Oauth in my bot implementation.It is working fine when tested locally in emulator but when published ,it is not redirecting to the facebook page.Instead it is giving us a bad request in browser.The atachement is the error that we are getting when we click the url that redirects to facebooklogin page.

Please do help to resolve this issue.Thanks in advance.

![facbook log

[2016-08-18 06:04] wiltodelta commented on #1017
@willportnoy Yes.

[2016-08-18 06:04] #1017 closed

[2016-08-18 06:50] wiltodelta opened #1034 "Skype bot doesn't work after migration to v3"
I understand that writing here is not the right place.

I have a test bot (contento-staging) that is used for development. After migrating to v3 has stopped working with Skype, just not getting the message to the bot.

<a href="https://join.skype.com/bot/6adc20e8-f5fd-40a5-9c5d-e2e688e8bb1e"><img src="https://dev.botframework.com/Client/Images/Add-To-Skype-Buttons.png"></a>

<img width="711" alt="

[2016-08-18 06:53] ankitbko commented on #1009
I use simple regex match to get the email.
[code]

[2016-08-18 06:59] changhc commented on #1028
Hi @VishalWaman. After a user talked to your bot for the first time, you can save his or her connection data recorded in `session.message.address` in a database or some external storage. When you are sending that user a proactive message, you can create a message variable like this:
[code]
and then you can use this method `bot.send(message)` .

As an alternative, you can use `bot.beginDialog(addr,

[2016-08-18 07:00] mvasilyev opened #1035 "Base64-encoded images are not passing through"
Passing this payload
`
{
"type": "message/image",
"attachments": [
    {
        "contentUrl": "/9j/4AAQSkZJRgABAQADHwMfAAD/4QCMRXhpZgAATU0AKgAAAAgABQESAAMAAAABAAEAAAEaAAUAAAABAAAASgEbAAUAAAABAAAAUgEoAAMAAAABAAIAAIdpAAQAAAABAAAAWgAAAAAAAAMfAAAAAQAAAx8AAAABAAOgAQADAAAAAQABAACgAgAEAAAAAQAAAGSgAwAEAAAAAQAAAD8AAAAA/+0AOFBob3Rvc2hvcCAzLjAAOEJJTQQEAAAAAAAAOEJJTQQlAAAAAAAQ1B2M2Y8AsgTpgAmY7PhCfv/AABEIAD8A

[2016-08-18 07:24] Sams4u commented on #1015
My bad. I think some formatting issue.
Syntax:- await context.PostAsync($"Please click on [Title]({user@domain.com})");

[2016-08-18 07:32] Sams4u commented on #1015
Sorry github doesn't allow me to paste syntax as it is. I have followed normal syntax to create  a hyperlink nothing special. For a hyperlink to invoke IM, href should be somewhat like sip:user@domain.com. same if i use in BOT, webchat renders is as anchor tag with no href. But the same work with emulator.

[2016-08-18 08:24] puneetsngh commented on #1035
{
            "type":"message/image",
            "attachments": [{
                "contentType":type,
                "contentUrl": 'data:'+type+';base64,'+response.encode("base64").replace("\n", "")
}]
}

If you have any other issue you can see this
https://github.com/puneetsngh/pythonSkypeBot

[2016-08-18 08:33] mvasilyev commented on #1035
@puneetsngh yes, this is solution. Must've been noted in docs, since in previous API version it worked with just base64 data.

[2016-08-18 08:33] #1035 closed

[2016-08-18 09:20] Samurais commented on #1020
Indeed, I have come to the same problem. It should be more flexible here.

[2016-08-18 12:23] filipeperdigaosousa commented on #1020
Currently I am parsing messages with regular expressions in order to
extract information about those kind of actions and build my own  controls

Em 18/08/2016 10:20 da manhã, "Hain" <notifications@github.com> escreveu:

[2016-08-18 13:06] KrishnanA commented on #1016
Sorry, there is no other way besides the join link to add the bot to your contact list.

[2016-08-18 13:16] dmdnkv commented on #1016
Are there any plans to add such feature?

For instance, absence of this feature might lead to the point when users that forgot their password but auto-authorized in skype clients prefer to avoid bots usage because it requires additional steps.

[2016-08-18 13:21] KrishnanA commented on #1016
We currently don't have this planned. But we will look into this. Thanks for the feedback.

[2016-08-18 13:21] JpEncausse opened #1036 "FaceBook Messenger crash with Attachement"
I'm using NodeJS BotBuilder to send Cards with attachements to FaceBook Messenger
It works on Windows Emulator but crash with Facebook

[code]

If I set attachement I get a 500 error:

[code]
- What am I doing wrong ?
- IS there a way to debug the message sent from MS to Facebook ?

Thanks

[2016-08-18 13:28] KrishnanA commented on #1018
Thanks. I can confirm that the behavior that you are seeing is a result of the limit that we have on the number of back and forth interactions. We will look into increasing the limit.

[2016-08-18 13:30] aqalalwa commented on #1004
@willportnoy
public async Task<HttpResponseMessage> Post([FromBody]Activity activity)
        {
            if (activity.Type == ActivityTypes.Message)
            {
                string outputStr = "I'm not here!";
                LUISResult luis = await GetEntityFromLUIS(activity.Text);
                if (luis.intents.Count() > 0)
                {
                    switch (luis.intents[0].

[2016-08-18 13:36] mghimp commented on #1018
Please look into removing the limit at all. It might be extremely difficult  to run a conversational bot with limit when the call drops when limit is reached. This would be bad from both the conversation-with-bot-experience point of view and from skype-call-experience point of view. Thanks.

[2016-08-18 13:52] JpEncausse commented on #1036
So it works if I target images on an external HTTP server.
If I host my own images on my HTTPS server it breaks with a 500 generic message

May be I have to do something more:

[code]
It work from a browser and the emulator

[2016-08-18 13:54] KrishnanA commented on #1018
Thanks for your feedback. We will definitely look into this holistically.

[2016-08-18 14:10] Mashakal commented on #1027
Make sure all your urls have https://

[2016-08-18 14:11] wiltodelta opened #1037 "Send typing activity"
How to send a typing activity to chat using IDialogContent?

[2016-08-18 14:22] JpEncausse opened #1038 "FaceBook Card with Text + Image + Button"
Hi,
I'm wondering if it is a normal behavior.
When I create a Message with :

- a text
- an HeroCard Image
- an HeroCard Button list

At last Emulator display all three in a message but FaceBook display 3 messages

[2016-08-18 14:50] aqalalwa opened #1039 "MS Bot Emulator doesn't run"
I started using MS Bot Emulator Channel about 2 days ago, it was going well at the beginning, until I started to receive an unhandled exception when I run the emulator. I tried to uninstall and reinstall but didn't work. I did debug on the crash on VS 2015 and it displayed the following the exception details:

[2016-08-18 15:15] aqalalwa opened #1040 "Bot Post Activity doesn't contain the 'ReplyToId' field"
I started to implement a bot to be connected to Skype, so I followed the basic template and cleared the data of the 'Post' method to implement mine. I published the bot to 'Azure' and registered it through 'Bot Framewrok' and then activated the Skype channel. In Skype, it has been connected successfully, and it is capable to process input and return response, but I needed to know the 'Username' of

[2016-08-18 15:47] craigjensen commented on #917
Were you able to get email working?  If not, please reopen with any remaining issues.

[2016-08-18 15:47] #917 closed

[2016-08-18 15:50] craigjensen commented on #1005
I was able to include meta tags in card values without any issues.  Are your actions working without the meta tags?

[2016-08-18 16:08] RiccoSuave commented on #917
Yes I was, and let me thank everyone for their support. I’ll be joining the chat room and start a new phase of activates very soon.

From: craigjensen [mailto:notifications@github.com]
Sent: Thursday, August 18, 2016 11:48 AM
To: Microsoft/BotBuilder <BotBuilder@noreply.github.com>
Cc: Sean <shansari@verizon.net>; Author <author@noreply.github.com>
Subject: Re: [Microsoft/BotBuilder] email configu

[2016-08-18 16:29] JpEncausse commented on #1038
Sorry after some tweak it seems to work

[2016-08-18 16:29] #1038 closed

[2016-08-18 16:34] JpEncausse opened #1041 "Facebook Messenger Emot Intent"
Hi,
Is there a convenient way / best practice to match incoming emot icon that can be:

- The big blue thumbUp (it seems to be a sticker id ?)
- The emot (look likes encoded chars in text : ""
- The manual emot like :-) :) :-P

Question: How to set a list of Emot/Sticker/... has a dialog intent/regexp/luis ?

Thanks

[2016-08-18 16:53] glebkudr commented on #1016
It will be a great feature!

[2016-08-18 17:06] #1016 closed

[2016-08-18 17:26] reghrafa commented on #1027
great! thanks, that was it :)

[2016-08-18 17:26] #1027 closed

[2016-08-18 18:07] Mashakal commented on #1039
Have you tried deleting the emulator's .service file?  It's in your temp folder, mine is located at the following location: C:\Users\t-alneue\AppData\Local\Temp\emulator.service

[2016-08-18 18:13] Hanoko opened #1042 "[Telegram] - Prompt.choice button not working"
Hi,
Trying to make a prompt.choice list buttons working on Telegram and doesn't work. It appears as a list but if i click on one if the options doesn't do anything. It does work on the emulator.

Tried to use ListStyle.button but still not working:
var options = {listStyle: builder.ListStyle.button};
builder.Prompts.choice(session, prompts.runPrompt, titles, options);

runPrompt: 'Which test would

[2016-08-18 18:14] Thegaram commented on #1040
The documentation says:

i.e. it is the ID of the previous activity that `activity` is a response to (not the user's ID!). When you call `activity.CreateReply`, it does this:

[code]

It is understandable that this field is `null` in your case, as the initial message is not a reply to anything. How about using `activity.From.Name` for getting the username?

[2016-08-18 18:14] Thegaram commented on #1034
I had similar problems; deleting and readding the Skype channel helped.

[2016-08-18 18:32] eanders-MS commented on #1042
@Hanoko is telegram reporting an error on your bot's channel configuration page? If so, this may provide more information about cause of the failure.

[2016-08-18 19:35] sergey-safonov commented on #1016
Actually, it would be really great to have this feature, please add it to your plans.

[2016-08-18 19:42] Hanoko commented on #1042
Nope, Telegram shows as Running in the configuration channel.

If I write the number of the option I want to choose it works, but I want the user to click the button instead of writing the option.

[2016-08-18 22:33] Kris-Nimmagadda opened #1044 "When a "Choice" is selected, I want to build a Form"
I have a scenario wherein, I show Choices, based on the choice the user selects, I will create a new Dialog like below :

                _internal static IDialog<XYZData> MakeXYZDialog()
                {
                       return Chain.From(() => FormDialog.FromForm(FormDialogBuild.BuildXYZForm));
                 }
                internal static IDialog<ABCData> MakeABCDialog()

[2016-08-18 22:45] ejadib commented on #1044
In the FormDialog.FromForm try specifying the FormOptions with the value PrompInStart.

`FormDialog.FromForm(FormDialogBuild.BuildABCForm, FormOptions.PromptInStart);`

[2016-08-18 22:51] Kris-Nimmagadda commented on #1044
ooh my God .... that's it .... it works... killing myself for the last 2 days for this... :-(  -   Thanks a ton !!!

[2016-08-18 22:57] Kris-Nimmagadda commented on #1044
Also never mind with the sleazy way of string comparisons ...

[2016-08-18 23:27] eanders-MS commented on #1042
We just rolled out an improved portal UI for viewing channel errors. We now show a list of errors rather than only the most recent one. You might try reproducing the problem again in Telegram, and then go check the portal page for a logged error.

Have you configured Azure App Insights for you bot? Helpful status and error messages can accumulate there as well.

What is your bot id?

[2016-08-19 01:14] moedusa commented on #1036
Been there. From messenger api docs: "You cannot send a text and an attachment together, please read the [Send API Reference](https://developers.facebook.com/docs/messenger-platform/send-api-reference#message) for more details"

- text or attachment must be set
- text and attachment are mutually exclusive
- text is used when sending a text message, must be UTF-8 and has a 320 character limit
- att

[2016-08-19 03:59] zayy862 opened #1045 "I can't register my bot on the framework"
I am having an issue with registering my bot. It pops up with the error
Object reference not set to an instance of an object.
I read in an earlier message that you had to make sure all of the url links used https:// which mine does.
Has anyone else ran into this issue?
I also have tested it with the emulator locally and it all checks out

![2016-08-18](https://cloud.githubusercontent.com/assets/11

[2016-08-19 07:25] JpEncausse commented on #1036
Thanks for the link, it should be in MS Doc too ?
My issue do not comes from size limit, MSBotBuilder handle that very well.
It comes from my Restify that may have a wrong configuration and do not send HTTPS files correctly to Facebook (I assume)

[2016-08-19 07:29] vvvlad commented on #676
I discovered it was not supposed to work :(
Thanks again for all the support!

[2016-08-19 07:29] #676 closed

[2016-08-19 07:56] kienct89 commented on #1045
I ran into this issue once, that was because I didn't fill in the microsoft app id.
Make sure that you have entered all required values.

[2016-08-19 08:10] zayy862 commented on #1045
I do have it filled out. It was put in automatically when I created the app I'd and password. I have been trying to figure out the issue with it but have had no luck.

I even tried to use a different Microsoft account and recreated the entire bot on another azure portal and etc but it is the same issue.

Get Outlook for Android<https://aka.ms/ghei36>

From: kienct89
Sent: Friday, August 19, 2:56 A

[2016-08-19 08:46] wiltodelta commented on #1034
@Thegaram thanks!

[2016-08-19 08:46] #1034 closed

[2016-08-19 09:07] wiltodelta commented on #1025
I have repeated only in mac desktop client, web client (https://web.skype.com) works fine!

[2016-08-19 09:40] NanashiGIT commented on #1005
Thanks for your help.

It turns out, that it was partially my fault.
The problem is, that when pressing the button in skype, it sends:
"ClickMe <meta actionType='ButtonClick'    Action='A' />"
Just the value of the button, which is what I think is good.

But when i click the button in slack i get the following:
&lt;meta actionType='ButtonClick' Action='A' /&gt;

For some reason, it serializes it d

[2016-08-19 10:09] JPThorne commented on #1032
Hi there. I think we are seeing a similar issue, but with Oauth and facebook messenger. We are currently getting this error:

`Facebook graph API call failed with: BadRequest {"error":{"message":"(#100) The parameter [text] is required","type":"OAuthException","code":100,"fbtrace_id":"EKfT60urKRO"}}`

on our Facebook messenger channel in the bot framework site. We have 3 other bots running, all wi

[2016-08-19 13:35] NanashiGIT commented on #1037
Do you mean IDialogContext?
Then i would be something like:
msg = context.MakeMessage();
msg.Type = ActivityTypes.Typing;
context.PostAsync(msg);

Havent done it with context yet but it should work. (Afaik at the moment Skype doesnt support it)

[2016-08-19 13:39] NanashiGIT commented on #1029
Do you mean that standard message like "My bot code is having an issue"?

If so, i'd want to disable it too.

[2016-08-19 14:03] skyrpex opened #1046 "[Rest API] Requests to skype.botframework.com return 202 and do not work"
Hi all,

I'm using the Rest API. I use the activity->serviceUrl to create the URL to send activities (message/text) to the user, but doesn't work for Skype. It works if I use https://apis.skype.com.

Is there a service URL that works for every channel?

Thanks.

[2016-08-19 14:08] JpEncausse opened #1047 "FaceBook user Profile"
Hi,

I implement a middleware to get the user profile from Facebook because it seems not available from MS Bot Framework. Am I right ?
https://developers.facebook.com/docs/messenger-platform/user-profile
- How can I get the Facebook email ? it seems not available from user's profile.
- Geolocation is also not available ? (A user can send it's geoloc, but it's not an always available field)

Thanks

[2016-08-19 14:16] Kris-Nimmagadda opened #1048 "Facebook Auth works on Emulator and not on skype"
Facebook Auth Sample not working on Skype. It works fine on the Emulator. The moment I deploy it to Azure it says bad request while exchanging the Code with Access token - while it says the redirect_uri is not matching, it is sure that they match. Can somebody help out.

[2016-08-19 15:23] Hanoko commented on #1042
I have reproduced the error and nothing appears on the portal UI.

Haven't configured Azure App Insights.

My bot id is pablobot. Or did you mean Microsoft App Id?

[2016-08-19 15:43] Kris-Nimmagadda commented on #1032
Facebook Sample Auth doe not work on Skype but works fine on Emulator. The moment the WebHook goes on to Azure, it stops working. Has anybody got it working ?

[2016-08-19 15:46] Kris-Nimmagadda commented on #1044
Thank you again .. I am closing this issue.

[2016-08-19 15:46] #1044 closed

[2016-08-19 15:57] Kris-Nimmagadda commented on #1011
Does your Facebook App settings also point to Azure App url - https://mealfredbottest.azurewebsites.net/
You would have added http://localhost:4999
I am sure you have to do this, but post that too, it is not working. I posted another issue for the same #1048

[2016-08-19 16:43] craigjensen commented on #1045
There is a bug in the bot validation code that will be fixed soon.  For now make sure you fill in all the properties with valid values.

[2016-08-19 16:43] #1045 closed

[2016-08-19 16:47] puneetsngh commented on #993
any idea on this?

[2016-08-19 16:52] perusworld opened #1049 "Unable to send data uri based images in response"
Eg.

        var card = new builder.HeroCard(session)
            .title("Microsoft Bot Framework")
            .text("Your bots - wherever your users are talking.")
            .images([
                builder.CardImage.create(session, "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==")
            ]);

[2016-08-19 17:58] Thegaram commented on #1046
`serviceUrl` is channel-specific. What URL does Skype give you? Doesn't it work with `skype.botframework.com`?

Generally, you should never manually specify the `serviceUrl` but instead use the one sent to you by the channel. For example, you can use the one specified in the message of type `conversationUpdate` that you receive when your bot is added to a conversation.

[2016-08-19 18:34] dmdnkv opened #1050 "Is it possible to edit \ update previously sent message to skype \ telegram \ slack?"
Actually, telegram Bot API has this feature https://core.telegram.org/bots/api#updating-messages
Slack also has this feature https://api.slack.com/methods/chat.update
What about skype, I didn't find the answer.

I wonder whether it is possible or not to edit previously sent message by bot framework?

[2016-08-19 20:27] msft-shahins commented on #1011
This [commit](https://github.com/Microsoft/BotBuilder/commit/4de17cc4fddba29454c07d65d2a0a42f249b2182) should fix both this issue, #1048 and #1032.

[2016-08-19 20:27] #1011 closed

[2016-08-19 20:30] msft-shahins commented on #1048
this commit [https://github.com/Microsoft/BotBuilder/commit/4de17cc4fddba29454c07d65d2a0a42f249b2182] should solve this issue.

[2016-08-19 20:30] #1048 closed

[2016-08-19 20:30] kevinport commented on #1011
Thank you very much.

[2016-08-19 20:31] msft-shahins commented on #1032
this https://github.com/Microsoft/BotBuilder/commit/4de17cc4fddba29454c07d65d2a0a42f249b2182 should solve this issue.

[2016-08-19 20:31] #1032 closed

[2016-08-19 20:36] chocvanstraw opened #1051 "DescribeAttribute image not displaying"
I have several enums that use the [Describe] attribute to specify a description and an image.  As follows:

public enum DrinkOptions
{
[Describe("Small Soda", "http://someurl/small.jpg"]
SmallSoda,
[Describe("Large Soda", "http://someurl/large.jpg"]
LargeSoda
}

When using the bot channel emulator these values are rendered as buttons with both the text and the image as expected.  However, when I r

[2016-08-19 21:54] eanders-MS commented on #1042
Looking through our logs for Telegram, I only successful transactions with your bot. Choice replies look correctly formatted, and are accepted by your bot. Can you provide more information about the error? A fiddler trace may be helpful as well.

[2016-08-19 23:14] bluekite2000 opened #1052 "when user does a POST request to directline it should return a response back from the bot"
Currently I have to do a GET. And If I do the GET too quickly bot hasn't responded yet.

[2016-08-20 01:30] eanders-MS commented on #1050
The botbuilder SDKs do not support this directly, but you can do it using the channelData field of the message activity. The channelData field allows your bot to send channel-native messages. Some documentation exists here (not specific to C#, even though it is in the URL):
https://docs.botframework.com/en-us/csharp/builder/sdkreference/channels.html

[2016-08-20 07:33] dmdnkv commented on #1050
Great, thanks. But what about skype there is no any mention of it on that page, is it means that skype is not support this feature?

[2016-08-20 08:44] Varooneh opened #1053 "[C#] Telegram - error when get response : error_code":400,"description":"Bad Request: Url host is empty""
Hi, when I want work with botframework and telegram, I get this error
{"ok":false,"error_code":400,"description":"Bad Request: Url host is empty"}
what is this? and how to fix?

[2016-08-20 08:57] VishalWaman commented on #1028
I will try it..

Thanks

[2016-08-20 08:57] #1028 closed

[2016-08-20 08:59] VishalWaman opened #1054 "[node.js] Images in hero / thumbnail/ receipt card.."
Do we have predefined image type and size.. What is best... that support all channels.??

[2016-08-20 09:00] skyrpex commented on #1046
The activity I receive (given an user's message written to the bot) gives me serviceUrl ```https://skype.botframework.com```, but posting activities there seems to have no effect. I'm currently replacing ```https://skype.botframework.com``` with ```https://apis.skype.com``` in order for it to work.

[2016-08-20 20:02] wiltodelta commented on #1037
@NanashiGIT Thank you, it obviously was.

[2016-08-20 20:02] #1037 closed

[2016-08-20 20:03] wiltodelta commented on #1037
@NanashiGIT Slack, Telegram and Facebook support typing.

[2016-08-21 06:45] aqalalwa commented on #1039
Yeah it really worked for me!. But it doesn't make sense to delete such file in order to make it run, does it?

[2016-08-21 06:53] aqalalwa commented on #1040
You were right about the 'ReplyToId' filed. I should initiate the replying activity before I use it.

But 'activity.From.Name' in Skype returns the user nickname, while I wanted the unique username of the Skype account which is the identifying ID for each account.

[2016-08-21 19:14] Mashakal commented on #1039
I think it's currently possible to put bad data in the URLs and close the emulator, therefore storing those values to be loaded when it's opened again and the exception that's thrown isn't handled. I'm not sure that's the exact problem though.

[2016-08-22 02:45] manojkota commented on #980
Hi,

I'm still getting the same error. Any update on this issue.

[2016-08-22 03:37] kenyeung128 commented on #1029
no, it's on the client side, like facebook messenger, the exception string got throw to client, which i want to stop it. do you know how?

[2016-08-22 07:29] NicolasHumann opened #1056 "Localization - Facebook Messenger / Webchat"
Hi,

The current thread CurrentUICulture is not set with the user localization in Facebook Messenger and Webchat.
The default culture (en) is set whereas Facebook Messenger is in French (tested on mobile with full french (os + app) and in the web site). I have the same behavior in the Webchat iframe, it's always in english (the http header of the browser is also set in french).

Do I missed someth

[2016-08-22 07:32] NicolasHumann opened #1057 "TextFormat - Facebook Messenger"
Hi

According to the documentation, **text** puts the text in bold. This works fine in the emulator and webchat but not in facebook messenger.
In FB, **text** renders *text*

There is a work around ?

Thanks

[2016-08-22 07:34] puneetsngh commented on #993
ohk I found the issue, on phone it is doing this because I haven't used colons in data value. Now the second issue which arises out of the solution that I have to escape the ",',>,<,& characters so that it doesn't affect the meta tags but If I escape them the data will look bit odd. Any solution for this

The image in the picture after escaping html characters.

![image](https://cloud.githubuserco

[2016-08-22 07:54] puneetsngh commented on #993
ok I am done. Problem solved thanks for your help Puneet 😆

[2016-08-22 10:27] egoward commented on #1030
Hi XelaMon, I can't reproduce any inconsistencies in normal operation here.  Does the bot function consistently on other frameworks?  Maybe you're doing automated testing and hitting some kind of rate limit, or maybe there is an issue with a certain type of content not being supported and silently disappearing.  We can dig deeper if you can provide some more details repro steps.

In GroupMe, a bot

[2016-08-22 12:05] sundarradnus opened #1058 "LUIS - Entity - Datetime -"
In LUIS, pre-defined entity "datetime" is added.  When the phrase "usage for last month" is entered, the date is not recongized by the following statement:
var date = builder.EntityRecognizer.resolveTime(args.entities);

If the phrase is "usage for 4 am", it resolves the time properly.

How to get this working for "last month" or "current month", etc.

[2016-08-22 13:23] GCyrielle opened #1059 "add raw data in Json answer in V3"
Hi,
My bot communicates with an IOS app making the interface between the bot and the user. In v1 I used to work a lot with **dialogData** to send data to my app as it was sent with the Json answer. This way I could build widgets to display those data.
For example:
`session.dialogData.action="reponse";
session.dialogData.widget="resultCompteSolde";
session.dialogData.comptes=comptesResultat;
sessio

[2016-08-22 14:55] Hanoko commented on #1042
Yeah, that replies are when I write the answer. What is not working seems like it is done to do so.
I have uploaded two screenshots: when I have to write to make it work and one when clicking one button.

![img_0706](https://cloud.githubusercontent.com/assets/8871984/17859216/f8c4cdb4-6888-11e6-9b0d-03fa0a0d7172.PNG)
![img_0707](https://cloud.githubusercontent.com/assets/8871984/17859221/0579da4a-

[2016-08-22 15:27] Hanoko commented on #1042
Ok, it is solved.

It was a problem with

session.message.sourceEvent.callback_query.message.from.first_name
and
session.message.sourceEvent.message.from.first_name

[2016-08-22 15:42] JpEncausse opened #1060 "Facebook: CardAction: Fail with call and mailto"
Hi,

I try to set card's button
- openUrl works fine IF the url is http*
- it fails if openUrl is a mailto:. Is there a workaround ?
- it fails if action is call and the number is a string like "+111 11 1111" is there a format ?

If button label is "CALL" it is translated to "Appeler" in french by Facebook ?!

Thanks

[2016-08-22 16:51] karlovnv opened #1061 "Unable to register bot on dev.botframework.com"
I'm trying to register bot (https://dev.botframework.com/bots/new) and every time a get an error: "Object reference not set to an instance of an object."

[2016-08-22 18:05] danmarshall commented on #980
Hello, thanks for your patience. I can see the issue occurring. Are you using C# or Node.js ?

[2016-08-22 18:33] rcarmonad commented on #1006
You can test using the Channel Emulator.
https://docs.botframework.com/en-us/tools/bot-framework-emulator/

In the link describe: How to test your own bot locally, and how to connect the emulator to the published app.

[2016-08-22 18:37] eanders-MS commented on #1042
Oh that's great. So glad you got it solved. One other thing to keep in mind is the size limit Telegram puts on the value of the button response. They limit it to 64 characters. Documented here:
https://core.telegram.org/bots/api#inlinekeyboardbutton

Cheers, Eric

[2016-08-22 18:37] #1042 closed

[2016-08-22 18:48] FreakDroid commented on #1061
Would be greate if you can share a couple of thing, Where are your bot running? and What is the configuration that you are doing to register the bot? becuase "Object reference not set to an instance of an object." does not say a lot.

[2016-08-22 18:59] FreakDroid opened #1062 "builder.AttachmentLayout.carousel does not work as expected in slack."
Hi guys, today I'm working in create a carousel that show diferents cards, If I understand right the carousel let me select one option as a carouse, but the only that I have is a list (see the picture below):

![carousel](https://cloud.githubusercontent.com/assets/5360335/17867336/7a2048ce-6880-11e6-94fb-a79560bc57b7.jpg)

I don't know If I confused about this functionality, but that I expected th

[2016-08-22 20:01] fercom commented on #697
I have updated to 3.1.0 version and still facing this bug

[2016-08-22 20:01] fercom commented on #769
I have updated to 3.1.0 version and still facing this bug

[2016-08-22 20:18] craigjensen commented on #1061
We have a fix going out soon to fix the error message.  For now, make sure you set all properties to valid values, especially the urls.

[2016-08-22 20:18] #1061 closed

[2016-08-22 20:23] fercom commented on #980
I am facing this same issue while trying to update my bot, it fails on skype and telegram, haven't tested other channels. My bot is in C#

[2016-08-22 21:08] danmarshall commented on #980
Hi @manojkota - can you share a code sample of your dialog structure and how you are sending messages?

[2016-08-22 21:32] maestrow commented on #1027
Issue shold be reopened because message is meaningless for the user.

[2016-08-22 22:27] tefrati commented on #957
Hi guys,

Any update? Same issue here with my [WhoAreYou bot](https://whoareyoubot.com/).
BTW, I'm using AWS and not trying to proactively send something to the user, so, definitely, an issue with the web client.

Thanks for your help!
Zach

[2016-08-22 22:33] danmarshall commented on #957
Thanks all for your patience. We are actively working on an update for the webchat control, and more importantly, a new protocol for DirectLine which should ensure message order. We do not have an ETA but there is a lot of demand for this so keep an eye on our blog for updates, thanks!

[2016-08-22 22:46] eanders-MS commented on #769
@fercom, what is your bot handle? Also, does anything look awry on your bot's dashboard page? In particular, are there any errors logged for Telegram?

[2016-08-22 23:01] JamieREvans commented on #891
@LarsLiden @Stevenic This is still happening randomly with Kik only.

I am sending an identical payload each time, but I will sometimes get a `Error: Request to 'https://kik.botframework.com/v3/conversations/cd83e74eab7fcd54b72ce84e06bbaeea9991178e52514bf75d1eaa66c7982d4a/activities/1zcMjEEX11u' failed: [500] Internal Server Error`. It seems to happen about 5-10% of the time.

I've never had this

[2016-08-22 23:35] manojkota commented on #980
I'm generating random messages based on internal process. But my basic implementation is this.

`var reply = await connector.Conversations.SendToConversationAsync(item);`

[2016-08-23 03:37] rzmoz opened #1063 "Feature requests for Direct Line"
Hi,

I'm adding a custom sms channel using direct line and the question I have is regarding long running conversations and conversation ids.

It's stated that you must initiate a new conversation before having any "conversation". The POST command creates a new conversation with a new unique ID: https://docs.botframework.com/en-us/restapi/directline/#!/Conversations/Conversations_Upload (This is th

[2016-08-23 04:47] VishalWaman commented on #1006
thanks

[2016-08-23 06:20] Stevenic commented on #891
We'll try to look into the issue.

[2016-08-23 06:37] Stevenic commented on #1023
Looks like you fixed the issue... thanks. Will be in next release.

[2016-08-23 06:39] Stevenic commented on #972
any luck?

[2016-08-23 06:39] #972 closed

[2016-08-23 06:41] Stevenic commented on #962
Sorry for the delay. You can cancel a prompt. You just need to wrap it with a waterfall that has a cancel action on it. Let me know if you need an example.

[2016-08-23 06:50] Stevenic commented on #934
Good catch. Just checked in a fix. Will be in next build.

[2016-08-23 06:57] Stevenic commented on #943
This is intentional... They're private and not intended to be called. JS doesn't have a concept of private so they still show up in the code.

[2016-08-23 06:57] #943 closed

[2016-08-23 06:59] #767 closed

[2016-08-23 07:00] Stevenic commented on #963
Can you provide an example? I'm not completely following you? Are you using LUIS?

[2016-08-23 07:03] Stevenic commented on #982
This sounds like something with DirectLine. Dan???

[2016-08-23 07:05] #505 closed

[2016-08-23 07:06] Stevenic commented on #974
Yes... You should be able to handle None now.

[2016-08-23 07:06] #974 closed

[2016-08-23 07:11] Stevenic commented on #823
Yes... I apologize... The documentation is severely lacking here. We're still working through all of the behaviors around actions and better documentation is coming.

I'm actually planning to replace `UniveralBot.beginDialogAction()` with a dialog level `triggerAction()` that lets you describe the rules for how a dialog can be triggered.  That's what the intent of beginDialogAction() really was. I

[2016-08-23 07:13] Stevenic commented on #761
I just took a pull request which should fix this. There were a couple of bugs in the ConsoleConnector related to this. It wasn't properly calling done()

[2016-08-23 07:18] Stevenic commented on #183
Sorry about that... This was a behavior change to fix a bug that was tripping everyone up. When you create your IntentDialog make sure you set the `recognizeMode` to `RecognizeMode.onBegin` so:

[code]

[2016-08-23 07:20] Stevenic commented on #93
[code]

[2016-08-23 07:22] Stevenic commented on #660
You should be able to listen for "None" now.

[2016-08-23 08:04] afficionaddo commented on #991
Thanks for the reply @willportnoy !

But actually my query was
1. How to initiate message for GreetingPage through BOT framework?
2. Do I need to use "channel" field to send FB-specific json for greeting screen?
3. How will I load this screen initially....any ideas?

[2016-08-23 08:24] erlendw commented on #1006
I see that the question was not specific enough. I was thinking more along the lines of writing a custom client connector without going through the Direct Line api hosted by Microsoft. I want to host my bot locally, and not have to use the direct line api.

[2016-08-23 09:09] VishalWaman commented on #1006
I think code of Bot emulator can be used, It does same locally..
but its not available

[2016-08-23 09:21] erlendw commented on #1006
Dan Driscoll briefly discussed that it would be possible to write a wrapper or something for the emulator on this podcast https://www.youtube.com/watch?v=z_JOzrEKCB4. @dandriscoll could you please elaborate on this?:)

[2016-08-23 10:04] NicolasHumann commented on #1056
Hi,

I found a workaround. The primary issue is  the property activity.Locale is not set.
My workaround is to ask facebook to give me the user locale:

`if (activity.ChannelId.Equals("facebook", StringComparison.InvariantCultureIgnoreCase))
            {
                using (WebClient client = new WebClient())
                {
                    var json =
                        await

[2016-08-23 11:37] hgjkant commented on #962
No worries. I can't seem to find it in the documentation, do you have an example?

[2016-08-23 12:16] iangriggs opened #1064 "[Node.js] Purpose of ConversationId with respect to Facebook connector"
Hi @Stevenic ,

I'm working on an updated version of the `botbuilder-facebook` (https://github.com/andrew-makarenko/botbuilder-facebook/) module that will allow me to use BotBuilder framework v3 and the new UniversalBot. At this point in time it appears the original developer of this module isn't intending to update (for perfectly valid reasons) it so I've taken it up myself to implement something

[2016-08-23 12:40] stevinraj opened #1065 "MS Bot HTTPS connectivity issues on AWS Beanstalk Environment"
I deployed a bot from VB 2015 through AWS add-on in VB successfully. Testing the bot connection on bot framework site failed. I realized the https port was not open in the AWS Elastic Beanstalk Environment. To open the port I need an SSL certification. When trying to get a new certification it is asking for my website. What website is this. I am just trying to deploy a bot. I do not have any websi

[2016-08-23 15:01] stackty commented on #93
@Stevenic Hello, I just tried to implement this into my code and every time I try to run the code it crashes the Microsoft Bot Framework Channel Emulator. its version is 3.0.0.58 is there an updated emulator or is there another problem?

[2016-08-23 17:50] willportnoy commented on #1029
I think these are the relevant commits, right?

https://github.com/Microsoft/BotBuilder/commit/bf0d5172bb715b0447aeb580da33b997972a87ff
https://github.com/Microsoft/BotBuilder/commit/278ba9b569bdddc198149528ca7fd6ef3450e003

You could avoid sending the message to the user by just avoiding unhandled exceptions.

As a secondary option, you can remove that IPostToBot middleware from the container.

[2016-08-23 18:49] raphael-abreu commented on #785
I'm still having this issue with V3.2.3 in Facebook.
The second step of the waterfall is not called. Instead the root step ('/') is called.

[2016-08-23 19:45] Thegaram commented on #1040
How about `activity.From.Id`? It is a unique identifier for the user. It probably isn't the same as the ID used by Skype though.

[This](https://docs.botframework.com/en-us/skype/getting-started/#navtitle) says regarding `activity.From.Id`:

[2016-08-23 19:52] Thegaram commented on #1046
What are you experiencing exactly? `https://skype.botframework.com` replies me as expected. Using `serviceUrl` should work, as that's what the SDK uses (as far as I know).

[2016-08-23 19:53] #1023 closed

[2016-08-23 22:35] willportnoy commented on #1058
In C#, this is the code we use to parse the LUIS datetime resolutions:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Luis/Resolution.cs
https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Luis/EntityToType.cs

You may want to use similar logic.

@muzahmed @Stevenic do you have other suggestions?

[2016-08-23 22:37] willportnoy commented on #991
Do you receive a non-message activity for when the user initiates a conversation with the bot?

https://docs.botframework.com/en-us/csharp/builder/sdkreference/activities.html

Generally, we recommend the ChannelData field for native channel data.

[2016-08-23 22:45] willportnoy commented on #1065
Your bot has an endpoint, right?  The "website" is the domain of the bot message endpoint that you enter into the Bot Framework portal.

[2016-08-23 22:51] willportnoy commented on #1059
You're correct - instead of passing the dialog data through the message instance, in V3 the dialog data is stored using the state client.  You could provide a new implementation of the state client interface if you want access to the dialog data.  The reason for this change is that now messages are uniformly always sent on the outgoing http request - see https://docs.botframework.com/en-us/technic

[2016-08-23 23:37] craigjensen commented on #1062
Several channels including Slack do not support native carousels so we fall back to a list which is what you are seeing.  If Slack ever supports carousels we will update the channel to support it.

[2016-08-24 01:06] willportnoy commented on #960
This has been released: https://github.com/Microsoft/BotBuilder/releases/tag/NuGet3.2.0

I'm going to close this issue, but feel free to open a new issue for further discussion.

[2016-08-24 01:06] #960 closed

[2016-08-24 01:07] willportnoy commented on #595
I'm going to close this issue - feel free to open a new issue for further discussion.

[2016-08-24 01:07] #595 closed

[2016-08-24 01:07] willportnoy commented on #958
I'm going to close this issue - feel free to open a new issue for further discussion.

[2016-08-24 01:07] #958 closed

[2016-08-24 01:07] willportnoy commented on #968
I'm going to close this issue - feel free to open a new issue for further discussion.

[2016-08-24 01:07] #968 closed

[2016-08-24 01:08] willportnoy commented on #977
This commit has been released: https://github.com/Microsoft/BotBuilder/releases/tag/NuGet3.2.0

I'm going to close this issue - feel free to open a new issue for further discussion.

[2016-08-24 01:08] #977 closed

[2016-08-24 01:08] willportnoy commented on #978
I'm going to close this issue - @asram363 feel free to open a new issue with more information.

[2016-08-24 01:08] #978 closed

[2016-08-24 01:12] msft-shahins commented on #1057
Facebook Send Api only supports plain text at the moment: https://developers.facebook.com/docs/messenger-platform/send-api-reference/text-message

[2016-08-24 01:12] #1057 closed

[2016-08-24 01:43] #1018 closed

[2016-08-24 01:44] #464 closed

[2016-08-24 01:48] Andrea-Orimoto commented on #482
Added to our bug backlog, closing the issue.

[2016-08-24 01:48] #482 closed

[2016-08-24 01:54] Andrea-Orimoto commented on #644
@ankitbko, where you able to solve this or is this still an outstanding issue?

[2016-08-24 01:56] Andrea-Orimoto commented on #671
@javi-jamaa, I'm going to close this, as this has been inactive for a while. If you still have issues, please open a new issue, or mention me in this thread asking me to re-open. thanks!

[2016-08-24 01:56] #671 closed

[2016-08-24 01:56] kenyeung128 commented on #1029
Thanks @willportnoy for the secondary options, how could I remove that IPostToBot container? How can this be done with AutoFac? Thank you

[2016-08-24 01:56] #682 closed

[2016-08-24 01:58] Andrea-Orimoto commented on #687
@PkuOndamedia, I'm closing this issue since it's been inactive for more than two weeks. If you're still experiencing this issuem please open new issue, or mention me in a comment to this one asking me to re-open it. thanks!

[2016-08-24 01:58] #687 closed

[2016-08-24 02:03] Andrea-Orimoto commented on #725
@mayuanyang I see that @msft-shahins has replied to your CR, I'm closing this issue. Thanks!

[2016-08-24 02:04] Andrea-Orimoto commented on #728
@safiresh, I'm closing this issue due to inactivity, hopefully you have solved this. If note, please feel free to open a new issue or ask us to reopen this one by replying here. Thanks!

[2016-08-24 02:04] #728 closed

[2016-08-24 04:04] ankitbko commented on #644
@Andrea-Orimoto I am still facing the issue. The bot portal is showing the following error in fb channel only when receipt is sent.
[code]

I have created a clean project to reproduce the issue [here](https://github.com/ankitbko/Bot-Issue-644). Am I doing something wrong while creating the receipt? It is working fine in skype.