[2020-05-05 12:29] 4ININ opened #5828 "Telagram Webhook not send preCheckoutQuery to my bot"
I trying get preCheckoutQuery from telegram webhook
After configure webhook https://dev.botframework.com/ was set correctly like
`{"ok":true,"result":{"url":"https://telegram.botframework.com/api/telegram/my-bot/secret","has_custom_certificate":false,"pending_update_count":0,"max_connections":40}}`
My endpoint myhost/api/messages
After this steps my bot handle messages correctly, but preCheckoutQu

[2020-05-05 17:03] v-kydela commented on #5828
Hello @4ININ

It looks like you're trying to use the Telegram API with Azure Bot Service endpoints. If you're using the ABS Telegram channel connector then you'll need to use the Bot Framework API instead, and there's a good chance `preCheckoutQuery` is not supported. If you believe this to be a problem with the Telegram connector, you could post this issue in the [services repo](https://github.co

[2020-05-05 17:33] 4ININ commented on #5828
@v-kydela Thank you for advice!
In this case, I will try to draw up my sequence of actions in detail and let you know everything you need.

[2020-05-05 20:25] v-kydela commented on #5828
@4ININ - You might also consider posting on [Stack Overflow](https://stackoverflow.com/) if you'd like to reach a wider audience

[2020-05-05 21:12] dmvtech commented on #5812
Closing due to no activity. Please let us know if you still need assistance. If so, please give more information as requested above.

[2020-05-05 21:12] #5812 closed

[2020-05-06 18:08] cleemullins commented on #5799
Closing due to inactivty. Please ask "how to" questions via Stack Overflow with the "#botframework" tag.

[2020-05-07 15:31] #5821 closed

[2020-05-07 18:32] dmvtech commented on #5823
Closing due to no activity.

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework).  The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2020-05-07 18:32] #5823 closed

[2020-05-07 20:18] v-kydela commented on #5828
@4ININ - Are you still working on this?

[2020-05-07 21:28] Jeffders opened #5868 "Extension methods for Teams IP notifications"
Microsoft Teams is going to support a PII/IP scrubbing messages using messageDelete and messageUpdate activities. These will signal to the bot that it should remove or alter the message contents that it has stored for that activity. This request is to add helper methods to the Teams SDK portion of the Bot Builder SDK that can identify these operations. Specifically, it needs to be something like:

[2020-05-07 22:29] Jeffders opened #5869 "ITranscriptLogger should support update and delete operations"
As part of PII/IP filtering, clients and channels can request that activities be redacted. This influences the transcript logger and middleware the bot builder SDK supports. For example, Microsoft Teams is introducing this capability to send targeted messageUpdate and messageDelete operations to change and/or delete activities (for example, if a credit card number is passed, this really should not

[2020-05-08 04:22] TameezAustell commented on #2920
@tigertop please can you share example

[2020-05-08 09:41] 4ININ commented on #5828
@v-kydela yes

[2020-05-08 12:48] 4ININ commented on #5828
@v-kydela done, please check my example project
https://github.com/4ININ/telegramWebhookPreCheckoutQueryIssue.git

[2020-05-08 22:36] v-kydela commented on #5828
@4ININ - I've just received confirmation that the Azure Bot Service does not support the Telegram payment system. If you want access to all Telegram events, you'll have to connect your bot to Telegram on your own.

I can see that you're already bypassing ABS for most of your API calls. Your bot is highly unusual in that it sends messages to the Telegram API directly instead of using the turn conte

[2020-05-09 12:21] 4ININ commented on #5828
@v-kydela Im not sure about your ansver.

Check this diagram [Payment diagram process](https://raw.githubusercontent.com/4ININ/telegramWebhookPreCheckoutQueryIssue/master/TranzzoPaymentDiagram.png)

Becouse preCheckoutQuery is one of the optional parameter of Update object:
https://core.telegram.org/bots/api#update
As you can see, the Update object can also return message field, inline_query field

[2020-05-09 17:21] ivanELEC commented on #1617
I'm also getting the same issue as above - is this still a general problem that can happen through the service or is there anything that I may have configured incorrectly?

[2020-05-10 03:54] DaiLocIU opened #5834 "I can connect the dialogflow to botframework by nodejs"
## This is not for asking questions or filing bugs
i don't know...

[2020-05-11 11:48] asp1egui commented on #5629
Is the video card still supported on Skype ? the video card works well on webchat but not on Skype. It gives me the service unavailable

[2020-05-11 15:36] v-kydela commented on #5828
@4ININ - That's what I said. The Telegram connector is part of the Azure Bot Service, and it does not support `preCheckoutQuery`. I don't think there's anything you can do to fix your problem while you continue to use the Telegram connector.

[2020-05-11 16:19] jwiley84 commented on #5834
There is very little in this question to go on. Do you  mean Google's DialogFlow? Do you mean creating a bot using the Bot Framework Composer?

I'm going to close  this issue, because the Bot Framework team prefers that **how-to** questions be asked on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework). The botframework-sdk is for feature tracking only. If your question is c

[2020-05-11 16:19] #5834 closed

[2020-05-11 19:17] cleemullins opened #5836 "DRAFT - Release Notes for 4.9"
# May 2020 (version 4.9.0)
Welcome to the May  2020 release of the Bot Framework SDK. There are a number of updates in this version that we hope you will like; some of the key highlights include:

* [Skills](#Skills) - Skills now support adaptive dialogs and all activity types, and have improved support for SSO and OAuth. The v2.1 skill manifest is now GA.  We also added Bot Framework Composer sup

[2020-05-11 20:51] munozemilio commented on #5836
CLI part:
---------------------------------------------------------
CLI tools for Adaptive Dialogs, Language Generation, QnaMaker and Luis Cross-train - new ability to merge and validate adaptive schema assets, augment qna and lu files,  create/ update/ replace/ train/ publish LUIS and or QnA maker application and Language Generation templates manipulation.

New CLI Tools were added for management

[2020-05-11 20:58] #5789 closed

[2020-05-11 20:59] #5660 closed

[2020-05-11 20:59] #5780 closed

[2020-05-11 21:13] #5745 closed

[2020-05-11 22:31] #5836 closed

[2020-05-12 13:39] DharmarajX24 commented on #293
How to give BOT access to send message without making it admin? I have privacy enabled

[2020-05-12 13:46] gabog opened #5837 "Unit Testing parity across dotnet, JS, Python and Java"
The TestAdapter, TestFlow and DialogTestClient classes don't align and work differently in the different platforms.

We need to:

- [ ] Review and compare these the public methods, constructors and properties in the 4 supported platforms.
- [ ] Create issues to track the parity work based on the outcome of the analysis.

I would recommend we take the dotnet versions as the starting point and ident

[2020-05-12 18:18] navzam opened #5870 "TeamInfo type does not expose aadGroupId"
## Version
4.8.0

## Describe the bug
Teams sends `aadGroupId` as part of the `channelData` in some activities (see example below). But it isn't discoverable or easily accessible through `TeamsChannelData` because `TeamInfo` does not expose a property for it.

Example activity from Teams where `aadGroupId` is sent:
[code]

## To Reproduce
Steps to reproduce the behavior:
1. Create a Teams bot acco

[2020-05-12 21:08] #5802 closed

[2020-05-12 21:08] cleemullins commented on #5802
Release of primary SDK is done. Now it's on to Samples, Docs, and Code Generators.

[2020-05-12 23:49] navzam opened #5871 "Add ToAttachment() method to OAuthCard"
## Version
4.8.0

## Describe the bug
`OAuthCard` does not have a `ToAttachment()` extension method, making it more difficult to use `OAuthCard`s with `MessageFactory.Attachment()`. Other cards have this extension method:
https://github.com/microsoft/botbuilder-dotnet/blob/0908005f49368d04afe6f15a8dea851e7ccd2493/libraries/Microsoft.Bot.Schema/CardEx.cs#L16-L19

# Implementation note
ToAttachment

[2020-05-13 05:37] matthiasdilger commented on #5827
Hi, I noticed that some Teams clients do seem to send the time zone

[code]

Is there a developer preview that already sends this information?

[2020-05-13 17:39] v-kydela commented on #5828
@4ININ - I'm going to close this issue now. Please feel free to reach out again if there's anything else you need help with.

[2020-05-13 17:39] #5828 closed

[2020-05-13 19:32] khmerforce commented on #4432
I still have the same issue. Please help!

[2020-05-14 05:44] cmnisal commented on #4636
Hi @serpino
This repo is not Available, I'm also having the same requirement to get the location through browser. Can you help me out?

[2020-05-14 09:11] anoop-chauhan opened #5839 "How to detect end user status (Online/Offline)"
Hi, I'm new here. Can we know the end user status whether they online, offline or idle in the website? through Microsoft Bot Framework

[2020-05-14 16:05] EricDahlvang commented on #4432
Hi @khmerforce

Closed issues are not actively monitored.  Please open a new issue in the sdk repository you are using:
https://github.com/microsoft/botbuilder-dotnet/issues
https://github.com/microsoft/botbuilder-js/issues

Or ask a question on Stack Overflow: https://stackoverflow.com/questions/tagged/botframework  The Bot Framework Support Team monitors Stack Overflow daily.

[2020-05-14 16:33] v-kydela commented on #5839
@anoop-chauhan - Thank you for reaching out to us. When you open an issue in this repo, you should see the following message:

Please read that "how to ask" document and post a question on Stack Overflow. If you use the `botframework` tag then my team will see your question. You will need to provide more context to help us answer it. Examples of context include:

- What you've tried so far
- Links

[2020-05-14 16:33] #5839 closed

[2020-05-15 08:57] hansmbakker commented on #5265
@EricDahlvang @mdrichardson I found this issue via https://stackoverflow.com/questions/58815026/how-to-set-activity-from-id-member-id-or-activity-recipient-id-using-dir.

I was wondering if specifying a user account in the `TokenParameters` parameter of `GenerateTokenForNewConversation` would be a solution? For me that seems to generate a `conversationUpdate` event?

Also: where is stated that `Di

[2020-05-15 14:53] EricDahlvang commented on #5265
DirectLineClient is not deprecated.   You are correct that specifying a user.id while generating a token will now send conversationupdate for the user.  This was an update to the service, completed sometime in the past year (after this post was resolved).

We've also been working on open sourcing a new version of the DirectLineClient. In fact, I was just working on that earlier this week!  :)

[2020-05-15 15:41] hansmbakker commented on #5265
Oh, that is great to hear!

@mdrichardson could you please update [your stackoverflow answer](https://stackoverflow.com/a/58824040/1114918) to avoid confusion?

[2020-05-15 15:42] mdrichardson commented on #5265
@hansmbakker Will do. I made that comment awhile ago and I believe it was because we were just about to start actively working on the new version, which *would have* deprecated the old.

[2020-05-15 15:43] hansmbakker commented on #5265
Thank you!

[2020-05-15 18:55] gabog opened #5840 "Create alias for https://schemas.botframework.com/schemas/component to resolve component schemas"
This will allow us to reference schemas and move them independently of their location in GitHub.

This issue involves the following activities:

- [x] Create a map that resolves https://schemas.botframework.com/schemas/component/ to https://raw.githubusercontent.com/microsoft/botframework-sdk/master/schemas/component/
- [x] Apply versioning to schema folders based on the versioning convention used

[2020-05-15 19:56] stevengum commented on #5712
Closing issue due to inactivity.

[2020-05-15 19:56] #5712 closed

[2020-05-18 00:17] Stevenic opened #6036 "feature: add a new ExpectReplies property to BeginSkill action"
## Is your feature request related to a problem? Please describe.

BeginSkill currently invokes skills in a way that requires the skill POST all replies back to the bot via a separate HTTPS request. This is not only in-efficient it also makes testing a skill cumbersome.  The underlying SkillDialog supports a more efficient mode of skill communication where the invoked skill will buffer all of its

[2020-05-18 18:08] benbrown commented on #5799
@andreatosato were you ever able to use the logout using the SDK?

What type of corruption happens to your user state?

Have you investigated the data written to the bot's dialog state in the database?

[2020-05-18 19:23] johnataylor opened #5842 "Tokenizer in Choice Prompt fails on some characters"
The Tokenizer attempts to split input that includes emojis. This code works for the basic emoji characters (thumbs up, down, smile etc.) but fails on the multi-character emojis that include modifiers for things such as FitzPatrick scale skin tone.

Suggest we simplify the Tokenizer in the product code and move the partial implementation of emoji tokenization into sample. (The Tokenizer should alre

[2020-05-19 03:03] mrivera-ms opened #5844 "Errors in documentation for Adaptive Dialogs"
The first line on the [Adaptive Dialogs documentation page](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-adaptive-dialog-introduction?view=azure-bot-service-4.0) reads:

"Adaptive dialogs offer ```` new A new```` event based addition to the Dialogs library that enables you to ````start simple and quickly layer```` in sophisticated conversation management techniques like interrupt

[2020-05-19 03:21] mrivera-ms opened #5845 "Broken links in README.md"
All links under section **Bot Framework SDK v4 preview features**, are broken.

[2020-05-19 13:27] dkonyayev opened #5847 "User's Locale in IEventActivity"
## Issue
I need to get user's culture during OnEventActivityAsync so that the bot can send welcome message in the right language. When user sends a message, IMessageActivity has property locale. However, OnEventActivityAsync passes IEventActivity which does not have this property.

## Proposed change
Add locale or culture to IEventActivity

## Component Impact
Microsoft.Bot.Schema.IEventActivity

[2020-05-19 16:47] #5845 closed

[2020-05-19 18:29] xtianus79 commented on #1139
@EricDahlvang is this really the best idea to be giving your secret away?

[2020-05-19 19:20] EricDahlvang commented on #1139
@xtianus79 No, exposing the secret is not 'the best idea' for all production bots.  In a production environment, the secret should be exchanged for a token and the secret should not be shared.

https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-authentication?view=azure-bot-service-4.0

[2020-05-19 21:01] cleemullins commented on #5844
@kaiqb, looks like there are a number of grammer & structural errors in the Adaptive docs. When you get a minute, can you have a copy-editor review for the basics and then we can all chip-in to help with the more structural.

[2020-05-20 14:45] gabog opened #5848 "Normalize TraceActivities sent from the SDK"
We are currently sending several traces from different places in the SDK but we don't use consistent names, labels.
Also, in some cases we use the ITurnContextExtensions.TraceActivityAsync() extension and in some others we create a trace activity by hand (Activity.CreateTraceActivity) and we send it back to the channel using SendActivity().
In addition to that, I haven't reviewed this in detail bu

[2020-05-20 15:11] mdrichardson commented on #5844
Agreed. I fixed the issues pointed out by @mrivera-ms as a quick-fix, but the doc, as a whole, could use a revamp.

[2020-05-21 16:27] gabog opened #5849 "Deprecate RunAsync in favor of DialogManager"
We currently use _Dialog_.RunAsync() to simplify execution of root dialogs in the bot code.

DialogManager provides the same functionality as RunAsync and also supports several constructs introduced by Adaptive (e.g: memory and eventing).

## Component Impact

- All languages
- Dialog based samples
- CoreBot generators
- Docs

## Customer Impact
Bots that use RunAsync should continue to work, but

[2020-05-21 17:01] dandriscoll opened #5850 "ChoiceInput etc do not cache Choice values"
## Version
4.7.0

## Describe the bug
Inputs with retry loops, like ChoiceInput, allow the developer to bind the Choices property to values in turn state. When the loop reevaluates, it blows up without a helpful error message.

## Expected behavior
ChoiceInput etc should either cache values on retry, or they should prevent referencing values in the turn. state store.

[bug]

[2020-05-21 17:10] cleemullins opened #5851 "Rewrite / Redesign the QnA Maker Dialog(s)"
Consider revisting the overall design and implementation of the QnAMaker dialog(s).

See list of referenced issues (closed but still relevant for additional requirements)

[2020-05-21 17:31] mrivera-ms commented on #5852
Probably a protocol change. Likely channel specific. It is unclear how to handle it.

[2020-05-21 17:43] mrivera-ms commented on #5853
Related to #5851

[2020-05-21 17:45] mrivera-ms commented on #5854
Related to #5851

[2020-05-21 17:47] cleemullins commented on #5855
This is a great feature ask. We're planning to take this in our R10 release (which is our next milestone).

[2020-05-21 21:30] EricDahlvang commented on #5852
Couldn't we just convert the dialog Status into the corresponding EndOfConversationCode?

[code]

[2020-05-22 18:07] Bradrajkumar opened #5864 "Bot framework integration with Cisco Webex teams bot"
Hi all,
The description provided for webex as a channel is not sufficient to fully integrate the bot framework with Webex bot. Where I can get fully described information for bot framework integration with Cisco Webex teams bot.

[2020-05-23 03:37] Stevenic opened #5856 "Adaptive Expressions: fill in obvious gaps with additional pre-built functions"
## Issue

This issue is to track additional functions we want to add to Adaptive Expressions for R10.  Just reply with a proposed function.

[dcr]

[2020-05-23 03:38] Stevenic commented on #5856
#indexOf
This function should let you lookup the index of an item matching a filter.

[2020-05-23 03:43] Stevenic commented on #5856
## merge
This function would let you merge one or more JSON objects into a single JSON object.

[2020-05-24 20:39] jagdishkumawat30 commented on #4653
Here is one of the video I found in youtube - https://youtu.be/EonSHy6I5j4

[2020-05-25 09:16] maartenba opened #5857 "`dotnet new` project templates"
Right now, there are project templates available for Visual Studio (https://marketplace.visualstudio.com/items?itemName=BotBuilder.botbuilderv4).

While nice, these only work for Visual Studio and on Windows. To support macOS and Linux users, having `dotnet new` templates instead would be much appreciated.

[2020-05-26 15:53] dmvtech commented on #5857
Hi @Maarten88 and @SamVanhoutte

I have moved this to the more appropriate repository and labled as an enhancement.

Also; just wanted to share that there is a Yeoman template you can use as well: `npm install -g yo generator-botbuilder`

https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-basic-deploy?view=azure-bot-service-4.0&tabs=javascript#create-a-bot

[2020-05-26 18:06] gabog commented on #5632
Hi @tomlm, is this applicable now that adaptive is out? Or should we just close it?

[2020-05-26 19:59] cleemullins commented on #5857
We have those. :)

The Code upon which they are based [is in Github](https://github.com/microsoft/BotBuilder-Samples/tree/master/generators/dotnet-templates).

The packages are all in Nuget. For example, here is the [EchoBot template](https://www.nuget.org/packages/Microsoft.Bot.Framework.CSharp.EchoBot/).

I've snipped a bit of the readme, and put it here.

## Installation
1.  Install [.NET Core

[2020-05-26 20:00] cleemullins commented on #5857
Please let me know if those aren't working correctly for you. They should be up-to-date and work correctly across PC, Mac, and Linux.

[2020-05-26 21:12] EricDahlvang opened #5859 "Open source and release new version of Microsoft.Bot.Connector.DirectLine"
Nuget:
https://www.nuget.org/packages/Microsoft.Bot.Connector.DirectLine

Repository:
https://github.com/microsoft/BotFramework-DirectLine-DotNet

[dcr]

[2020-05-26 21:27] #5444 closed

[2020-05-26 23:39] sbacha opened #5917 "Dialog Manager to accept Options"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
I am using dialogmanager to run declarative adaptive dialog from another custom dialog stack.
I would like to pass input from 1 dialog to the declar

[2020-05-27 04:28] maartenba commented on #5857
Perfect, thanks!

[2020-05-27 05:36] SamVanhoutte commented on #5857
This is great!  Thanks guys.  Didn't see that before.

[2020-05-27 16:31] #5857 closed

[2020-05-28 01:36] akshithreddy502 commented on #1110
'* ' is making the word itallic.Is there a way to make the word 'BOLD'

[2020-05-28 01:41] akshithreddy502 commented on #1110
'**' will make the word BOLD
'*'  will make the word ITALLIC
'***'  will make the word both 'Bold' and 'Itallic'

[2020-05-28 04:35] munozemilio opened #5860 "Publish preview builds to npm, nuget, maven.."
## Issue
*When installing myget builds specially in CI environments can take a lot of time plus this requires to set the npm registry back and forth. Also it is very complicated to test the integration across repos having everything in different registries.

## Proposed change
* Push the preview and RC builds to myget using corresponding tags.
Modules like Typescript use tags to publish multiple d

[2020-05-28 18:44] stevengum commented on #5860
### Relevant stakeholders for uniformity across BF projects
- SDK Leads: @sgellock, @cleemullins, @mrivera-ms, @cwhitten
- WebChat (DLJS?) Lead: @compulim
- BF-CLI Lead: @munozemilio
- JS SDK: @stevengum

### FYI
Docs Lead: @Kaiqb
BF-CLI, JS SDK buildmaster: @BruceHaley

[2020-05-29 00:55] stevengum opened #5861 "Track key unhandled DialogEvents in telemetry"
_For additional context see https://github.com/microsoft/botbuilder-dotnet/issues/3998 and its fix: https://github.com/microsoft/botbuilder-dotnet/pull/4000_

## Issue
Unhandled key DialogEvents aren't currently tracked in telemetry. Two potential key DialogEvents for tracking are **DialogEvents.Error** and **DialogEvents.VersionChanged** (i.e. `"error"` and `"versionChanged"`).

Per @stevenic we

[2020-05-29 04:19] Akash0953 opened #5862 "Bot framework"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2020-05-29 04:47] #5862 closed

[2020-05-29 11:30] darrenj commented on #5861
Makes sense - do we want to also consider logging as an Trace Activity so it will show up in Emulator meaning it's even easier to see this when developing?

[2020-05-29 16:37] KoradaRajesh opened #5863 "Publish Bot to azure"
I am trying to publish the bot to azure using bot framework composer. I already have required app services created in azure. i am providing values in json but its throwing error "Error: getaddrinfo ENOTFOUND name-environment.scm.azurewebsites.net".

i am not using "applicationInsights","cosmosDb" and "Luis".

Here is my json.

{
  "accessToken": "<AccessToken>",
  "name": "<Name of the app service

[2020-05-29 18:10] gabog commented on #5799
Closing due to inactivity. Please ask "how to" questions via Stack Overflow with the "#botframework" tag.

[2020-05-29 18:10] #5799 closed

[2020-05-30 02:44] stevengum commented on #5861
@darrenj that sounds like a good idea to me. However, this suggestion reminded me that remote "dialogs" (aka Skills) exist...

### Skills and `DialogEvents.VersionChanged`
I believe we have a new scenario to consider, Skill Hosts and their _Skills_ having a versionChange event.

[code]

During a versionChange with an activity sent from a skill host, we could do nothing in the SDK. In other words,

[2020-05-30 06:54] stevengum commented on #5861
Actually, ending up with back-to-back HTTP requests is not acceptable due to channels/adapters that require affinity.

With this in mind, the skill must discard its state changes and notify the skill host of the versionChanged event via the initial Host-to-Skill HTTP Request (activity from host to skill). Below are two simple scenarios:

### Scenario 1: Skill should “ignore” versionChanged events

[2020-05-30 22:20] nboussarsaracn commented on #2605
Problem persists .. same setup with the main thread. Any solution?

[2020-05-31 18:07] NehaGawri commented on #2985
Hi Team ,

My code is working fine locally . And I have deployed it by following azure official documentation.
But I am getting error as "There was an error sending this message to your bot: HTTP status code NotFound" when testing in web chat . Could you please help ?

[2020-06-01 13:07] danielbi opened #5865 "my bot framework application sometimes work fine but sometimes get wrong and i can't get where the problem is because it stops in different position of the dialog please give me some help"
my bot framework application sometimes work fine but sometimes get wrong and i can't get where the problem is because it stops in different position of the dialog please give me some help

[2020-06-02 11:32] saiteja21 commented on #3722
V4 implementation
`protected override async Task OnMessageActivityAsync(ITurnContext<IMessageActivity> turnContext, CancellationToken cancellationToken)
        {
            if (turnContext.Activity.ChannelId == "slack")
            {
                var t = turnContext.Activity;
                var activity = turnContext.Activity;

                var ts = activity.ChannelData?.SlackMessage?.thr

[2020-06-02 11:36] saiteja21 commented on #3722
V4 Implementation

[code]

[2020-06-02 18:05] tracyboehrer commented on #5865
@danielbi Can you provide more details on the issue you are having so that we can help you?

[2020-06-02 18:08] dmvtech commented on #5865
Some information that would be helpful would be:

- What language are you using?
- What channel are you using/testing in? Emulator?
- Are you starting from a visx or yeoman template? Or using one of the [samples ](https://github.com/microsoft/botbuilder-samples)as your starting point?
- Any errors?

[2020-06-02 18:31] Vigneshramkumar opened #5866 "Hosting Bot Framework .NET in linux"

[2020-06-02 18:32] Vigneshramkumar commented on #5866
Hello All,
Is it possible to deploy the Bot framework V4 of .NET in the Linux server and provide that as a messaging endpoint by registering Not channels registration in Azure?

[2020-06-02 19:31] gabog commented on #5871
We should do this for all the supported languages (JS, dotnet, python and Java)

[2020-06-02 21:08] mdrichardson commented on #5866
@Vigneshramkumar

It can indeed be done. At one point, we were going to write a blog post about it, but it got nixed. It's slightly dated, but should get you going just fine. Here it is:

# Hosting a NetCore Bot on Azure Linux App Service

Microsoft Bot Builder dotnet SDK V4 targets netstandard2.0, which is cross platform. This enables bots to be hosted on an Azure Linux App Service. This blog pos

[2020-06-03 06:53] khiemnvd opened #5872 "Using UTF-32 in Language Generation template."
I can't show emoji using UTF-32 in the template.lg in bot framework emulator.

[code]

[2020-06-03 16:24] Vigneshramkumar commented on #5866
@mdrichardson - Thanks for your response. We are planning to deploy the bot builder in our environment (not in Azure) and register the same in Azure using Bot Channels Registration. Kindly close the issue if my assumption is right. Again thanks for your quick response.

[2020-06-03 18:03] tracyboehrer commented on #5872
@vishwacsena Can you help us get this assigned to the correct people?

[2020-06-03 18:10] vishwacsena commented on #5872
@boydc2014 not sure if this is an LG issue or an emulator issue. Can we do a quick investigation before transferring over to the right repo?

[2020-06-03 18:59] #5866 closed

[2020-06-04 13:24] abhi-freebird commented on #2985
I am facing the same issue. Everything was working fine till previous deployment. Did you manage to find any workaround?

[2020-06-04 20:59] doucheface1 opened #5873 "visual studio not deploying code"
When I publish the visual studio sample bot code it runs through then eventually times out.

Once the timeout has occurred it no longer lets me publish again unless I delete everything in azure and start again

The error I receive when I try to republish after timeout is:

[2020-06-05 16:41] khiemnvd commented on #5872
@vishwacsena  Have you any solution for this issue?

[2020-06-05 17:10] vishwacsena commented on #5872
@khiemnvd can you clarify if you are using Bot Framework Composer or are you using a .lg file with the Bot Builder SDK? Transferring this to dotnet repo for traction and tagging LG.

[2020-06-07 15:43] Anusri27 commented on #2091
+1 for this feature

[2020-06-08 16:41] corinagum opened #5874 "Update CardAction to support alt text for images on buttons"
## Issue
*Describe the issue you are addressing*
Original issue: https://github.com/microsoft/BotFramework-WebChat/issues/2675
Pull request updating schema: https://github.com/microsoft/botframework-obi/pull/71

As an accessibility concern, PromptOptions has been updated in the schema to support alt text on images and buttons. The SDK will need to be updated to reflect this change.

## Proposed ch

[2020-06-08 16:41] corinagum commented on #5874
@gabog would it be possible to get this issue in for R10? The plan is to have the fix in Web Chat for R10 as well.

[2020-06-08 18:03] a-b-r-o-w-n commented on #5864
@Bradrajkumar Was your issue resolved? If so, we can close this ticket.

[2020-06-08 18:20] Vigneshramkumar opened #5876 "Issue in bot framework .NET execution from linux server"
Hello All,
I am using bot channel registration in azure and deployed by .NET core project in a linux server. The code was working fine in Mac environment after build. But when deploying and running in linux server, the POST call from azure is not getting triggered. We are using NGINX as reverse proxy for forwarding the azure requests to the bot application. But we are getting 400 error for POST wh

[2020-06-08 18:37] gabog commented on #5874
I tagged it so we can prioritize it for R10 (not sure the priority yet)

[2020-06-08 21:10] #5722 closed

[2020-06-08 21:10] #5760 closed

[2020-06-08 21:18] gabog opened #5877 "Update the Channel Protocol spec to include bot:bot communication"

[2020-06-08 22:24] vishwacsena commented on #5747
No new engineering work here. We just need to formalize and document the versioning and upgrade proposal/ doc.

[2020-06-08 22:30] vishwacsena commented on #5752
Closing this per triage. We will investigate this if other customers run into this issue.

[2020-06-08 22:30] #5752 closed

[2020-06-09 08:26] cxbuilders opened #5878 "Variables / Expressions are not parsed in JSON object"
When using a variable or expression in a JSON object it does not get parsed.
![image](https://user-images.githubusercontent.com/49873947/83914288-42146f80-a771-11ea-94d4-4eb975083d59.png)
![image](https://user-images.githubusercontent.com/49873947/83914298-4771ba00-a771-11ea-8127-03dbc4970852.png)
![image](https://user-images.githubusercontent.com/49873947/83914311-4c366e00-a771-11ea-8cb0-f06cc20c

[2020-06-09 16:15] munozemilio opened #5879 "Analytics for issues"
## Issue
As a team we don't have any way to see trends or analyze data on reported issues.
It is also very time consuming for DRIs to go over each repo to triage new issues and check customer reported ones are compliant within the 72hr response window.

## Proposed change
A unified dashboard/report to pull data from all our repos:
- untriaged issues
- number of open issues by tag
- number of close

[2020-06-09 16:27] gabog commented on #5880
Moved to SDK and assigned Gary, we should probably take this, change the title and come up with a good all solution and guidance for handling transcripts.

[2020-06-09 16:35] munozemilio opened #5881 "Label standard across repos"
## Issue
Currently we dont track the component or area the issue is affecting.
Repos like [react](https://github.com/facebook/react/labels) use the following convention to label the component.
component: name-of-the-component

By adding this information we can get value by grouping and analyzing the data to identify conflicting areas that need to be addressed.

## Proposed change

Labels should be

[2020-06-09 16:46] mdrichardson commented on #5876
@Vigneshramkumar Is your bot running on port 5000? From within the Linux container, please run `sudo lsof -i -P -n | grep LISTEN` and copy/paste the output here. If you follow my guide from your previous question, you shouldn't need to do anything specific with nginx.

[2020-06-09 17:43] munozemilio opened #5882 "Automation of 72hr reply window notification"
## Issue
Currently is DRI responsibility to track and remind assignees to reply within the 72 hrs window.
This is a huge time investment which can be beneficial if invested in other areas.

## Proposed change
Automate the notification either through a teams bot or other means.
Notification should be sent periodically until the bug is being addressed and labeled as customer-replied-to or if custome

[2020-06-09 18:31] munozemilio opened #5883 "Knowledge transfer as test automation implementation"
## Issue
When changes or new features are introduced to the product, support is compromised by the time it takes sister/partner teams to catch up on those.

## Proposed change
To reduce this gap the proposal is to allow support and sister team to contribute on the creation of functional and integration test components for current and new features.
Those test should be added to the daily functional

[2020-06-09 19:22] munozemilio opened #5884 "Leverage community contributions by adding difficulty labels"
## Issue
There is no documentation on how/where to start contributing to our project.
Repos las [react](https://github.com/facebook/react#good-first-issues)use labels and advertise them in the main read me.

## Proposed change
Add the following label convention across the repos:
- Difficulty: starter
- Difficulty: medium
- Difficulty: challenging
- Good first issue

Readme should mention them as w

[2020-06-09 19:33] munozemilio opened #5885 "CLI tools to create bots"
## Issue
Customer should be able to create and implement bots fast to reduce as much friction as possible.

## Proposed change
Implement a cli command group to create and extend bots in all supported platforms.
Command should create the most popular sample for any supported language.

## Component Impact
BF CLI

## Customer Impact
None

**Tools**
- [ ] PR
- [ ] Merged

[dcr]

[2020-06-09 19:34] namanimsft opened #5886 "Adaptive Card Rendering Issue in Microsoft Teams"
Hi,

We are using Bot Framework SDK v4.7 in our IRIS Bot. In our bot, we are using Adaptive Dialog, Adaptive Cards & Language Generation to define all the activity templates. So far the experience is really good and we don’t have any issues with direct line channel and in the emulator as well. Now we are actively working to enable our bot in Microsoft Teams. In the teams, everything works fine exc

[2020-06-09 19:57] clearab commented on #5886
Can you share the card JSON that is getting sent to Teams?

[2020-06-09 20:02] namanimsft commented on #5886
Attached

From: Andrew Clear <notifications@github.com>
Sent: Tuesday, June 9, 2020 12:57 PM
To: microsoft/botframework-sdk <botframework-sdk@noreply.github.com>
Cc: Nagarajan Mani <Nagarajan.Mani@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [microsoft/botframework-sdk] Adaptive Card Rendering Issue in Microsoft Teams (#5886)

Can you share the card JSON that is getting sent to

[2020-06-09 22:21] dmvtech commented on #5865
Closing due to inactivity. Please let us know if you are still having this issue and need assistance.

[2020-06-09 22:21] #5865 closed

[2020-06-10 04:37] gabog opened #5887 "Remove AutoRest/AutoGen comment from Schema files"
Several classes in dotnet and the JS repos were previously autogenerated from [](). We moved away from autogenerating these classes from the swagger file and we are now maintaining them by hand.

The AutoGen comment at the top of the classes is erroneous and confusing for the the new developer.

This PR involves:

- Removing the autogen comment from the top of the files (and add the standard copyr

[2020-06-10 08:20] kksantosh opened #5888 "Id:System.Exception at Microsoft.Bot.ChannelConnector.BotAPI.ThrowOnFailedStatusCode"
Stack : .NET
.NET Framework version : v4.7
Active Channels: Direct Line
Deployment Environment: Azure Bot Service
language : node js
SDK: v4

issue Discription
...................................
when i am testing my bot on directline channel ,it is working fine most of the time, but some bot showing "couldn't send retry" . and i check in directline then it is showing "There was an error sending t

[2020-06-10 13:16] MichaelStark-Reactor opened #5889 "AttachmentPrompt does not work in OmniChannel Implemtation .Net"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2020-06-10 13:19] #5889 closed, assigned to nobody

[2020-06-10 14:38] nmishr opened #5890 "Unable to set the TTL for CosmosDB userstate container"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2020-06-10 17:36] clearab opened #5891 "Read receipt conversationUpdate event"
We need to create a new conversationUpdate event named "messageRead", and the ActivityHandlers to support it.

## Tracking Status
**Dotnet SDK** (Tracked in [4070](https://github.com/microsoft/botbuilder-dotnet/issues/4070))
- [ ] PR
- [ ] Merged

**Javascript SDK** (Tracked in [2355](https://github.com/microsoft/botbuilder-js/issues/2355))
- [ ] PR
- [ ] Merged

**Python SDK** (Tracked in [1135](

[2020-06-10 17:38] clearab opened #5892 "Additional channel/chat lifecycle events"
Microsoft Teams is going to begin sending additional chat & channel lifecycle events. We'll need support for:

## This issue involves implementing the following events for Teams:

- channelRestored
- teamArchived
- teamUnarchived
- teamRestored
- teamDeleted
- teamHardDeleted

## Payload of the Channel Restore event

The schema of the payload of the channel restore event will be exactly same as th

[2020-06-10 19:10] clearab opened #5893 "Support for meeting APIs"
We'll need to support additional meeting APIs and events, and some schema changes to the channelData object returned from Teams when the bot is operating in a meeting context. The first of these is the GetParticipants API which will allow bot developers to retrieve a TeamsChannelAccount object with the `memberRole` field added to determine the individual's role in the meeting (presenter,

## GetPa

[2020-06-10 20:18] clearab opened #5894 "Add linkToMessage to the MessageActionsPayload object"
For a messaging extension with an action command you regularly need to capture the deep link back to that message. This link is included in the payload from Teams when your messaging extensions is triggered. We should add `linkToMessage` to the `MessageActionsPayload` object to make this more discoverable.

## Tracking Status
**Dotnet SDK** (Tracked in [4120](https://github.com/microsoft/botbuilde

[2020-06-10 22:54] clearab opened #5895 "Teams proactive messaging documentation"
This article needs to be re-written, and to also reference the helper methods for creating a new thread in a channel.

https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-proactive-messages?tabs=dotnet

Tracking issues for Teams Docs review - https://github.com/microsoft/botframework-sdk/issues/5896

[2020-06-11 06:22] kksantosh commented on #5888
@mdrichardson

Hi please can you give more information about how to solve this issue " SNAT port exhaustion" for my bot ,am using luis and qnamaker.

[2020-06-11 08:40] garypretty opened #5896 "[BF DOCS] Teams Documentation - Review current docs and samples for accuracy / content gaps"
Tracking issue for review of Teams docs and Teams samples in order to identify issues with current docs and potential content gaps that need filling, either with content amendments or net new docs.

New issues should be raised in the SDK repository if they are docs related.  Issues directly related to samples should be raised within the samples repository.  Please label all issues as R10, BF Docs

[2020-06-11 08:50] garypretty opened #5897 "[BF DOCS] Samples Documentation - Review current samples readmes for consistency and accuracy"
Tracking issue for review of Samples readmes for consistency and accuracy.  Consistency review to be carried out across all SDK samples. A shorter list of high priority / more complex samples should be reviewed for accuracy / level of detail provided in the readme, to ensure developers can get from zero to working bot sample (including details on how to use the sample if necessary).

Granular issu

[2020-06-11 09:52] garypretty opened #5898 "[BF DOCS] Repo Documentation - Review current repo readmes / wikis"
Tracking issue for review of SDK repository readmes for consistency and accuracy. Review will also look at the wikis for each repository in order to try and trim or even completely remove wikis altogether - i.e. wiki content will be reviewed to see if it is better placed elsewhere (e.g. docs / main repo readme).

Please label all resulting issues as R10, BF Docs and add them to the Docs Pillar pro

[2020-06-11 09:59] garypretty opened #5899 "[BF DOCS] Identify net new documentation and work with docs team to schedule"
Using existing issues and feedback from support team, 1P customers and other sources (Azure support). Understand the top asks in terms of net new docs and work with the docs team to prioritize and schedule.

**Top BF support team topics**

- Guidance on timing out a conversation
- 15s Timeouts and Long Running Operations Guidance (https://github.com/microsoft/botframework-sdk/issues/5500)
- Bot Ch

[2020-06-11 09:59] garypretty commented on #5899
Currently awaiting some further feedback from @darrenj and team. Plus meeting with Azure Support this week.

[2020-06-11 10:23] nagarjuna950 commented on #3727
Same thing i tried what you said but still it is not reflecting, but i'm using Nodejs.

[2020-06-11 10:29] nagarjuna950 commented on #3727
Hi @FranciscoPonceGomez
I tried same thing what you have mentioned but still, it's not reflecting(Default No Answer) and i'm using Nodejs SDK4

[2020-06-11 12:49] garypretty opened #5900 "[BF DOCS] End to end review for top 3 scenarios"
The top 3 developer scenarios / tasks should be identified and for each an end to end review of using the documentation to work through the scenario should be undertaken.  The review will look at content accuracy, discoverability and flow / links between documentation.

New issues resulting from this review should be raised into the BF Docs repository and labelled with ***BF Docs***. They should a

[2020-06-11 13:14] darrenj commented on #5899
Top of mind:

- Skill Architecture, walk through the callback mechanism which confuses people
- Skill Debugging. Lots of developers struggle will skillhostendpoint, need to use ngrok when debugging local Bot and remote skill. Guidance will go a long way to help this.
- Version Change event (introduced most recently)
- Enabling SSO with WebChat
- Documentation covering CosmosDB changes (create your

[2020-06-11 15:48] p-nagpal opened #5901 "Add locale in Conversation Update"
## Issue
Original issue: https://github.com/microsoft/botframework-obi/issues/75

This issue tracks a frequently requested feature to allow a user locale when starting new conversations. The user locale is needed so that bots can send a properly localized Greeting Message to users.

## Proposed change
- SDK - support locale as a top level field in Activity so its available in ConversationUpdate, E

[2020-06-11 15:55] mdrichardson commented on #5888
@kksantosh I saw the SNAT port exhaustion in roughly the same time period that  I saw the 500 errors. To fix it, you need to adjust the max sockets and timeout policy as indicated in [the issue I linked](https://github.com/microsoft/botbuilder-js/issues/2054#issuecomment-622194749). You may want to read through the whole thread to get a good understanding of it.

[2020-06-11 17:00] EricDahlvang commented on #5890
If the goal is for the sdk to set ttl on the container, one option is to use an initializer to ensure the database container has the desired Time To Live, before creating the IStorage:

[code]

[2020-06-11 18:25] Stevenic opened #5919 "SkillHandler doesn't return ResourceResponse when forwarding activities"
## Version
4.9

## Describe the bug
The SkillHandler currently [generates a fake ResourceResponse](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder/Skills/SkillHandler.cs#L204) when it forwards activities from the skill to the channel.  This means that future operations like `Update` and `Delete` won't work. We instead should remember the response from the

[2020-06-11 22:31] munozemilio commented on #5504
@garypretty FYI

[2020-06-11 23:27] vishwacsena commented on #5861
@garypretty can you help?

[2020-06-11 23:31] garypretty commented on #5861
Sure, I can help implement this.

[2020-06-12 09:27] kksantosh commented on #5888
@mdrichardson  thanks
Hi can you please check this code and tell me where and how can i use this code in my bot solve SNAT port exhaustion issue. I am little bit new in bot development , I don't have much knowledge about this NPM package. how it is work ,and how it will effect bot working functinality.

const Agent = require('agentkeepalive');

const keepaliveAgent = new Agent({
  maxSockets: 160,

[2020-06-12 10:47] garypretty opened #5902 "Docs to describe the process for debugging skills"
Feedback from @darrenj, as part of the R10 docs pillar.

Documentation describing the process of Skill Debugging. Lots of developers struggle will skillhostendpoint, need to use ngrok when debugging local Bot and remote skill. Guidance will go a long way to help this.

[2020-06-12 10:49] garypretty opened #5903 "[BF DOCS] Docs for process of enabling SSO with webchat"
Feedback from @darrenj as part of R10 docs pillar.

Would be good to provide docs regarding the enabling of SSO with webchat.

Need to scope to understand if this is a net new doc or an update to existing.

[2020-06-12 10:50] garypretty opened #5904 "Skill Architecture documentation"
Feedback from @darrenj as part of R10 docs pillar.

e.g. walk through the callback mechanism which confuses people

Need to scope to understand if this is a net new doc or an update to existing.

See bot-docs Work for botframework-sdk issue 5904 [PR #2286](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2286):
- [x] Update Concept/Skills/**About skills** > **Conceptual architecture** and **Bot-t

[2020-06-12 10:56] garypretty opened #5905 "Document new Version Changed event in adaptive"
Feedback from @darrenj as part of R10 docs pillar.

Currently no documentation exists regarding the new Version Changed event in adaptive.

This is likely to be an update to the existing adaptive docs.

[2020-06-12 11:02] garypretty opened #5906 "Docs not clear on Cosmos DB changes and the need to create your own database"
Feedback from @darrenj as part of R10 docs pillar.

With the deprecation of the original Cosmos DB Storage Provider in 4.8 and in the introduction of the partitioned storage provider, there is some confusion surrounding a behavior change.  The new storage provider no longer automatically creates the Cosmos DB database for you, as the old one did.  Whilst we do provide notes in the docs about the d

[2020-06-12 11:16] garypretty commented on #5500
@munozemilio looks like this is a docs issue primarily - I'll move into BF Docs. Let me know if you want to discuss.

[2020-06-12 11:31] garypretty commented on #5890
I have received the suggestion about adding reference to TTL in the docs as part of the R10 docs pillar.  Along with that, we have another open issue for ensuring we call out that the newer partitioned storage provider doesn't create the database for you.  I think both items could be referenced in an update to the existing cosmos db docs, adding links to the Cosmos TTL docs and also referencing th

[2020-06-12 11:35] garypretty opened #5907 "Document guidance on Cosmos DB TTL"
Based on feedback from @darrenj and existing issue #5890.

We don't currently document any guidance on the use of Cosmos DB TTL.  We should add a link to the docs to the Cosmos DB TTL docs and also provide the method of specifying TTL when configuring your storage provider (as detailed by Eric in #5890).

[2020-06-12 15:59] EricDahlvang opened #5908 "Docs for Conversation Timeout guidance"
Expiring a conversation can be done a few different ways.  One relatively simple method is to clear the dialog state if the previous message received was longer than a certain time period.  I’ve modified the multi-turn-prompt bot to provide a sample showing one way to do this: https://github.com/EricDahlvang/TimeoutConversationBot  This is just using an in memory concurrent dictionary, but can eas

[2020-06-12 17:29] garypretty opened #5909 "Document guidance on adapters"
Feedback from support team as part of R10 docs pillar.

It would be useful to have documentation explaining custom adapters, what they are, reference the available adapters (links to existing docs) and discuss when to use them over ABS when a channel and adapter are available for the same platform.

Need to scope to understand if this is a net new doc or an update to existing.

[2020-06-12 17:48] garypretty opened #5910 "[BF DOCS] Update .NET Getting Started Docs to include instructions / ref to .NET Core templates"
We don't currently reference the availability of the .NET Core templates in this getting started doc for .NET https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-sdk-quickstart?view=azure-bot-service-4.0

We have good instructions over in the readme https://github.com/microsoft/BotBuilder-Samples/tree/master/generators/dotnet-templates.

We should consider updating the doc

[2020-06-12 18:08] stevengum opened #5911 "Have consistent Contributing docs and Issue/PR Templates across SDK repositories"
Update the guidance on the repos for PR's / contributing, meet Community standards described [here](https://opensource.guide/).

[Link](https://github.com/microsoft/botframework-sdk/community) to this repository's Community checklist

- PR
- [x] SDK
- [x] .NET (https://github.com/microsoft/botbuilder-dotnet/issues/4065)
- [x] JS (https://github.com/microsoft/botbuilder-js/issues/2351)
- [x] Python

[2020-06-12 18:21] clearab opened #5912 "Document changes to Teams schema objects"
In particular look at:
- TeamDetails
- TeamsChannelAccount

And ensure the current documentation aligns with the schema.

[2020-06-12 20:15] garypretty opened #5913 "TypeScript versions of all Teams samples. (As from community + Teams group)"
@clearab to add priority order for samples.
@EricDahlvang to re-assign as appropriate to support team.

(checked indicates PR submitted)

- [x] 57.teams-conversation-bot
- [x] 58.teams-start-new-thread-in-channel
- [x] 50.teams-messaging-extensions-search
- [x] 51.teams-messaging-extensions-action

no priority order samples:
- [ ] 46.teams-auth
- [ ] 52.teams-messaging-extensions-search-auth-confi

[2020-06-12 20:46] EricDahlvang commented on #5913
Spoke with @stevkan ... he said he will start with 57.teams-conversation-bot

[2020-06-12 20:49] clearab commented on #5913
Priority order would be 57, 58, 50, 51, then the rest in any order

[2020-06-12 21:11] clearab commented on #5870
@johnataylor & @EricDahlvang do you agree that the getTeamDetails is sufficient for this?

[2020-06-13 14:59] navzam commented on #5870
Doesn't `GetTeamDetails` make an HTTP call? It feels like if Teams is going to send `aadGroupId` in the activity anyway, it should be discoverable/accessible without an extra HTTP call.

[2020-06-15 14:36] gabog commented on #5901
We will start with this one once the OBI issue is closed.

[2020-06-15 15:48] libindavis commented on #1073
I got the official response from the Slack Help Center:  the unfurl link feature is not supported in block kit payload as for now.
So if you use chat.postMessage to post a message in block kit payload, the link will not be unfurled.

[2020-06-15 16:00] sidmore opened #5916 "Make SkillHttpClient methods virtual"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2020-06-15 16:48] EricDahlvang commented on #5870
Since aadGroupId is sometimes inside ChannelData, it seems reasonable for it to also be a property on TeamsChannelData.TeamInfo

[2020-06-15 16:58] mdrichardson commented on #5876
@Vigneshramkumar

* Please [configure error logging at the `info` level for nginx](http://nginx.org/en/docs/ngx_core_module.html#error_log) so that we can dig into this more.
* I also thing there may be an issue listening on both 80 and 443. I believe you need to list them separately to avoid SSL errors, but it's been awhile since I did anything with nginx
* [It may also have to do with your Upgra

[2020-06-15 17:00] mdrichardson commented on #5888
@kksantosh Don't use the code from the blog post. Use it directly from [the GitHub comment that I linked to](https://github.com/microsoft/botbuilder-js/issues/2054#issuecomment-622194749)

[2020-06-15 17:19] mdrichardson commented on #5888
To better illustrate, [here's a sample I made that fixes SNAT issues](https://github.com/mdrichardson/snatPortFix) of the [EchoBot sample](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/02.echo-bot).

And [here's the diff](https://github.com/mdrichardson/snatPortFix/commit/d9aed79fbf3f9aadf041e1f545ac8daa8f4f953f) so you can see what I added/changed.

[2020-06-15 17:20] mdrichardson commented on #5890
I'm going to close this issue as there are now two workarounds and there's a new docs issue that will address this for the future.

[2020-06-15 17:20] #5890 closed

[2020-06-15 17:45] benbrown opened #5918 "Change the main branch to `main` and remove the `master` branch on all repos"
We should change the name of our main branch to `main` on all of the Bot Framework SDK repos.

We will need to update CI/CD pipelines and things triggered off of that specific branch name.

Here are the instructions:
https://help.github.com/en/github/administering-a-repository/setting-the-default-branch

- [x] [SDK](https://github.com/microsoft/botframework-sdk)
- [x] [DotNet](https://github.com/M

[2020-06-15 18:59] Kaiqb opened #5920 "[BF DOCS] : Handoff” event is not supported on Microsoft Teams Channel (or probably events in general)"
From CSS:
“Handoff” event is not supported on Microsoft Teams Channel (or probably events in general) , users are experiencing (400) Bad request whenever used.

https://icm.ad.msft.net/imp/v3/incidents/details/191012167/home this document here indicates that it is working on all channels :

https://docs.microsoft.com/en-us/azure/bot-service/bot-service-design-pattern-handoff-human?view=azure-bot-s

[2020-06-15 19:07] #5092 closed

[2020-06-15 19:07] #5093 closed

[2020-06-15 19:08] #5194 closed

[2020-06-15 19:08] Kaiqb opened #5921 "[BF DOCS] Debugging with ngrok locally"
From CSS: There was a request regarding documentation on debugging with ngrok locally and they referred to the existing post but did not indicate if it was outdated/incorrect or what else was needed there. I haven’t had a chance to review it myself.

[2020-06-15 19:08] #5195 closed

[2020-06-15 19:09] Kaiqb opened #5922 "[BF DOCS] Single sign-on with existing auth"
From CSS: Single sign-on with existing auth (like webchat on a share point site). A tutorial view to https://blog.botframework.com/2018/08/28/sign-in-experiences/

[2020-06-15 19:10] Kaiqb opened #5923 "[BF DOCS] Config steps for Azure Gov"
From CSS: Webchat and Directline config steps for Azure Gov (I would prioritize this low)

[2020-06-15 19:10] #5228 closed

[2020-06-15 19:10] #5232 closed

[2020-06-15 19:11] Kaiqb opened #5924 "[BF DOCS] Security Best Practices for Bots hosted in Azure"
From CSS: Security Best Practices for Bots hosted in Azure (We have here and there documentation on IP whitelisting, restricting to a specific region etc but it would be great to have a collated list)

[2020-06-15 19:11] gabog commented on #5241
@Stevenic, closing this, it's been out there for too long.

[2020-06-15 19:11] #5241 closed

[2020-06-15 19:12] Kaiqb opened #5925 "[BF DOCS] Guidance on using Async/Proactive"
From CSS: Language specific guidance on using Async, Proactive messages etc to workaround the 15 seconds timeout problem

[2020-06-15 19:12] gabog commented on #5257
Cortana doesn't support skills anymore.

[2020-06-15 19:12] #5257 closed

[2020-06-15 19:13] gabog commented on #5281
Won't fix

[2020-06-15 19:13] #5281 closed

[2020-06-15 19:14] Kaiqb opened #5926 "[BF DOCS] Document APIs"
From CSS Engineer:
Ffrom my own perspective I have a more general, broader scope request which is to more fully document the API beyond the swagger stuff (or whatever autogen tool you guys use). For example, things like this: https://docs.microsoft.com/en-us/python/api/botbuilder-ai/botbuilder.ai.qna.qnamaker_options.qnamakeroptions?view=botbuilder-py-latest. I spent a long time a couple weeks ago

[2020-06-15 19:15] gabog commented on #5283
Closing this one, I think we can create a new one for adaptive if needed

[2020-06-15 19:15] #5283 closed

[2020-06-15 19:16] gabog commented on #5292
I don't think this applies anymore

[2020-06-15 19:16] #5292 closed

[2020-06-15 19:16] dmvtech commented on #5873
I would suggest opening a ticket in the Azure portal. This does not appear to be related to bot framework sdk/service and is likely something within the Azure infrastructure.

[2020-06-15 19:16] #5873 closed

[2020-06-15 19:22] gabog commented on #5296
Composer and adaptive have it, closing it

[2020-06-15 19:22] #5296 closed

[2020-06-15 19:22] #5318 closed

[2020-06-15 19:23] gabog commented on #5338
@Stevenic , closing this for now, feel free to reopen if we need it.

[2020-06-15 19:23] #5338 closed

[2020-06-15 19:24] gabog commented on #5339
@Stevenic, closing this for now, feel free to reopen if we need it.

[2020-06-15 19:24] #5339 closed

[2020-06-15 19:25] #5341 closed

[2020-06-15 19:25] #5342 closed

[2020-06-15 19:31] gabog commented on #5396
I think this has been addressed [here](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/blob/ab040141b4ba4435ceac2acfd92b26a1aaeee36e/libraries/Bot.Builder.Community.Dialogs.Prompts/AdaptiveCardPrompt.cs), closing this for now, feel free to reopen if we need it.

[2020-06-15 19:31] #5396 closed

[2020-06-15 19:32] gabog commented on #5407
I don't think we need this anymore, closing.

[2020-06-15 19:32] #5407 closed

[2020-06-15 19:32] #5416 closed

[2020-06-15 19:33] #5418 closed

[2020-06-15 19:33] #5419 closed

[2020-06-15 19:35] gabog commented on #5434
Hi @garypretty, is this addressed by the new adapter? Can we close it?

[2020-06-15 19:35] gabog commented on #5438
Closing it for now

[2020-06-15 19:35] #5438 closed

[2020-06-15 19:36] gabog commented on #5458
@vishwacsena, I think this is old, closing it.

[2020-06-15 19:36] #5458 closed

[2020-06-15 19:36] gabog commented on #5459
@vishwacsena, I think this is old, closing.

[2020-06-15 19:36] #5459 closed

[2020-06-15 19:37] #5469 closed

[2020-06-15 19:38] benbrown commented on #5434
You can use the adapter to send Block kit attachments, yes.

This is not a direct fix of the original issue, but does provide a workaround.

[2020-06-15 19:38] #5474 closed

[2020-06-15 19:39] gabog commented on #5493
Hi @vishwacsena, can we close this one?

[2020-06-15 19:40] gabog commented on #5494
Hi @vishwacsena , can we close this one?

[2020-06-15 19:40] #5505 closed

[2020-06-15 19:42] #5582 closed

[2020-06-15 19:43] #5600 closed

[2020-06-15 19:44] #5622 closed

[2020-06-15 19:46] #5632 closed

[2020-06-15 19:47] gabog commented on #5636
@garypretty, can this be closed? or you are still working on it?

[2020-06-15 19:56] gabog commented on #5434
Thanks ben, closing it then.

[2020-06-15 19:56] #5434 closed

[2020-06-15 19:59] garypretty commented on #5636
@gabog Still working on it - should be closed within the next few weeks. Just finalising.

[2020-06-15 20:06] garypretty commented on #5578
@xieofxie you already have access to the IBotTelemetryClient in a dialog, so you can manually call TrackException if / when you catch an exception - does this not cover your scenario?  If not, can you provide some further detail as I am not quite sure what you are asking for.  Thanks.

[2020-06-15 20:07] #5578 closed

[2020-06-15 20:09] garypretty commented on #5577
This has now been implemented as of 4.9.

C# PR https://github.com/microsoft/botbuilder-dotnet/pull/3737
JS PR https://github.com/microsoft/botbuilder-js/issues/2030

Python PR remains outstanding https://github.com/microsoft/botbuilder-python/issues/940

[2020-06-15 20:09] #5577 closed

[2020-06-15 20:41] garypretty commented on #5434
This is supported in the C# adapter (preview right now, but should be GA in 4.10) and should also work in the Python adapter too, as well as JS via Botkit.

I think this issue is probably related to the Slack ABS channel which won't work without changes, but I think it's probably enough for us to have the ability to fall back to the adapter so I think we can potentially close this.

Agree?

[2020-06-15 20:42] garypretty commented on #5434
Ah, you already closed. We are aligned 👍

[2020-06-15 21:05] EricDahlvang commented on #5500
Related: https://github.com/microsoft/botframework-sdk/issues/5665

[2020-06-15 22:41] EricDahlvang commented on #5500
Related: https://github.com/microsoft/botframework-sdk/issues/5925

[2020-06-15 22:42] EricDahlvang commented on #5925
this might be a dup of https://github.com/microsoft/botframework-sdk/issues/5500

[2020-06-16 10:08] garypretty commented on #5925
As @EricDahlvang says, this is a dup of #5500 . Closing.

[2020-06-16 10:08] #5925 closed

[2020-06-16 10:11] garypretty opened #5927 "Add expectReplies to OBI document"
This is a tracking issue for adding expectReplies to OBI doc.

Currently in PR https://github.com/microsoft/botframework-obi/pull/69.

[2020-06-16 11:56] doucheface1 opened #5928 "Sample Compliance policy recorder not working"
Sample code is deployed and CRworker role is running problem is nothing happens when I make a call don't get banner when i call and call just says disconnected and tries to go to voicemail.

can someone explain what all the various settings should below is what i have

cloud service
ServiceDnsName :   soteriacompliancecloud.cloudapp.net
ServiceCname        soteriacompliancecloud.cloudapp.net

cert

[2020-06-16 14:15] garypretty commented on #5504
@munozemilio I will take this one under docs - we already have a page, but there is a PR to add the latest node instructions.

I also just added this PR under samples https://github.com/microsoft/BotBuilder-Samples/pull/2509 to add the link to the page to our samples comments for the catch all error handler.

[2020-06-16 17:20] v-kydela commented on #5928
Hello @doucheface1

This repo is for DCR's only. If you want to report a bug, make a feature request, or ask a question, there are other places you can post. You can find some help with that in the text of your question that was automatically generated for you, and I'll paste it here for your convenience:

I'm closing this issue now.

[2020-06-16 17:20] #5928 closed

[2020-06-16 19:15] garypretty commented on #5900
@Kaiqb is this still a separate thing you are planning to do? i.e. working to identify the top scenarios to test against the docs?

[2020-06-16 22:44] dmvtech commented on #5864
I am able to reproduce this. Thank you @Bradrajkumar

@garypretty Can I get your input please? This seems to be just some documentation change, but I wanted to check with you on your thoughts and eyes on this.

[2020-06-16 22:46] sidmore opened #5929 "Generic InvokeResponse seems reversed"
When using  PostActivityAsync(string fromBotId, BotFrameworkSkill toSkill, Uri callbackUrl, Activity activity, CancellationToken cancellationToken); invokeResponse contains 2 member variable Body
one with Generic Type set to null and other member variable named Body of type object. This happens because InvokeResponse definition seems reverse as a result i am not able to get Body object and process

[2020-06-16 23:21] garypretty commented on #5864
Yes, I agree it's a docs change. Looks like they slightly altered that portal / process, but should be a simple change.

[2020-06-17 09:33] garypretty commented on #5923
@Kaiqb @JonathanFingold I don't think we decided who this would be assigned to in our call. Assigned to @Kaiqb temporarily, but can you re-assign to someone on the team please?

[2020-06-17 10:04] igrep commented on #5389
Question: Does the problem mean that current botframework can't create a bot which does `sendActivity` from background threads?
Recently I'm making such a bot which saves `ConversationReference`s on a DB so that the background thread can do `sendActivity` later on. As long as I tested, its background thread can successfully send messages so far. But it's tested only in short sessions (at most seve

[2020-06-17 15:08] sidmore commented on #5929
Thanks @gabog for your help!! Temp workaround this issue:
                // Temporary workaround to get correct invokeresponse
                var response = new InvokeResponse()
                {
                    Status = invokeResponse.Status,
                    Body = ((Microsoft.Bot.Builder.InvokeResponse<object>)invokeResponse).Body
                };

[2020-06-17 15:53] benbrown commented on #5389
No, you can use the conversation reference to create a new context.

This DCR would just provide a utility method to do it in async scenarios where the original context object is still in scope, but may have expired.

[2020-06-17 22:48] EricDahlvang opened #5930 "Skill Dialog processes incoming activities from the skill while still loaded"
## Version
4.10

## Describe the bug
When a host bot uses the Skill Dialog to call a skill which results in activities sent back to the parent, state can get corrupted.

## To Reproduce
Created a repo here: https://github.com/EricDahlvang/SkillDialogIssue/blob/master/RootBot/Dialogs/MainDialog.cs#L177

EndOfConversation received from a skill while the SkillDialog is still processing the original m

[2020-06-18 03:39] SonicZentropy commented on #2091
+1 this is required before I can use MS Bot Framework

[2020-06-18 09:28] garypretty commented on #5905
Pending assignment to Steve on the docs team once he is back in the office and has accepted invitation to join this repo. cc @Kaiqb

[2020-06-18 14:53] varunbmallik opened #5950 "Choice Prompt not rendering as buttons for bot enabled with Direct Line Speech Channel"
## Screenshots

![image](https://user-images.githubusercontent.com/61541615/85034595-e3eb8180-b19f-11ea-9c98-fc036e0c9a55.png)

## Version

NPM node module botbuilder4.8.0

## Describe the bug
Choice prompt values are rendering as string values instead of buttons for bot enabled with Direct Line Speech channel.

## Steps to reproduce

Create a NodeJS basic bot (not echo bot)
Setup DirectLineSpeech

[2020-06-18 17:01] garypretty opened #5931 "Review and update SDK readme"
Review the SDK readme for accuracy and update any information that requires amends. e.g. Channels list etc.

Also make updates as specified in this doc https://microsoft.sharepoint.com/:w:/r/teams/ConversationalAI785/_layouts/15/Doc.aspx?sourcedoc=%7B4CB418CD-3DB5-499C-8FC1-AB6E36EB2D86%7D&file=Updates%20for%20SDK%20readme.docx&action=default&mobileredirect=true&wdLOR=c69DD491D-4905-3F4C-AB98-1F12

[2020-06-18 17:14] stevengum opened #5932 "[DCR] Create GitHub Teams for CODEOWNERS"
WIP. More to follow.

[2020-06-18 18:32] gabog opened #5933 "Apply consistent naming to the SDK libraries"
There are several naming and style rules that are currently disabled in the SDK, this issue is to track enabling these rules to ensure we use consistent naming across the board so the code is easier to maintain going forward. Some rules to enable are:

SX1309: FieldNamesShouldBeginWithUnderscores: we have an explicit exclude on some of the csproj files, we need to remove the NoWarn and fix the vio

[2020-06-18 18:50] JonathanFingold opened #5934 "SDK architecture diagram"
- **Purpose**: a logical way to organize and present documentation about the different features.
- **Audience**: developers and architects who want to understand how parts of the SDK relate to each other. (There are at least 3 ways to control conversation flow within the SDK proper: adaptive dialogs, dialogs, activity handler, custom logic.)

We have different levels of abstraction: bot-builder >

[2020-06-19 11:04] domacKA opened #5935 "ContextOnly is missing in Microsoft.Bot.Builder.Dialogs response.Answers"
##ContextOnly is missing in Microsoft.Bot.Builder.Dialogs response.Answers

In JSON the tag "isContextOnly" is present (found in [https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation#a-json-response-to-return-an-initial-answer-and-follow-up-prompts))

But wi

[2020-06-19 16:29] zxyanliu commented on #5923
@garypretty Who can I reach out for resources working on this article?

[2020-06-19 16:39] Vigneshramkumar commented on #5876
@mdrichardson - Issue is resolved after configuring nginx with the following proxy headers.

proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
proxy_set_header   X-Forwarded-Proto $scheme;

Thanks for your support.

[2020-06-19 16:39] #5876 closed

[2020-06-19 17:20] #5931 closed

[2020-06-19 17:25] #5927 closed

[2020-06-19 17:35] garypretty commented on #5923
@Kaiqb do you have someone in mind for this one?

[2020-06-19 22:56] mdrichardson commented on #5882
I'll update this as I go. I'm going to refer to issues with no response and past the 72h-window as "expired issues".

# MVP Features/Deliverables

## Design Goals

- Easy to Expand
- Easy to Maintain

## Bot

- [X] Use OAuth card to grab user GitHub username and user info
- [ ] Use persistent storage to store user data (it's all public on GH, so no need for encryption)
- [ ] When Azure Function gi

[2020-06-22 11:13] #5911 closed

[2020-06-22 11:14] garypretty commented on #5896
Review completed. Issues raised, assigned and prioritized.

[2020-06-22 11:14] #5896 closed

[2020-06-22 11:19] garypretty commented on #5899
Feedback received and reviewed. Issues raised and met with pillar and docs team to prioritize and assign.

[2020-06-22 11:19] #5899 closed

[2020-06-22 15:21] tracyboehrer commented on #5897
README review:

1) Standardization of layout.  Capitalization, content, etc...
2) Steps to run are slightly wrong on C# (but not in a breaking way)
3) Further reading should be simplified for all of them (each in a unique way).  There is too much there in most cases.
4) Actions (input) user can perform against the bot (see the Teams README's)

Steps to rectify:
1) Standardize dotnet README's
2) Co

[2020-06-22 17:25] Kaiqb commented on #5923
@garypretty  - this is assigned to @zxyanliu but she needs help getting access to Azure Gov.

[2020-06-22 17:42] garypretty commented on #5923
@NickEricson can you help with access to gov? Or point to someone who can?

[2020-06-22 18:05] munozemilio commented on #5503
@garypretty we may need to talk about this one

[2020-06-22 21:58] NickEricson commented on #5923
+ @willportnoy and @swagatmishra2007

Are you looking for instructions on how to configure WebChat in Gov or how to create your own account there?

[2020-06-22 22:33] mdrichardson commented on #5888
@kksantosh Were you able to get this working? This issue needs to remain active to stay open.

[2020-06-22 23:42] varunbmallik opened #5938 "Choice Prompt not rendering as buttons for bot enabled with Direct Line Speech Channel"
## Screenshots

![image](https://user-images.githubusercontent.com/61541615/85034595-e3eb8180-b19f-11ea-9c98-fc036e0c9a55.png)

## Version

NPM node module botbuilder4.8.0

## Describe the bug
Choice prompt values are rendering as string values instead of buttons for bot enabled with Direct Line Speech channel.

## Steps to reproduce

Create a NodeJS basic bot (not echo bot)
Setup DirectLineSpeech

[2020-06-23 02:25] stevengum commented on #5938
@varunbmallik can you share the raw activity that the client is receiving from Direct Line Speech?

[2020-06-23 05:47] domacKA commented on #5935
@jwiley84 Great, thank you.

[2020-06-23 12:25] garypretty commented on #5504
Given we now have this documentation live http://aka.ms/bottelemetry and we have a PR open to add the link to samples error handlers, I am going to close this issue out.

[2020-06-23 12:25] #5504 closed

[2020-06-23 16:10] JonathanFingold commented on #5934
We're kicking around a diagram that has two layers/levels: _protocol_ and _behavioral_. Behavioral has dialogs and language generation components; protocol has everything else. Protocol is additionally broken into Bot Framework and stand-alone components.

[2020-06-23 17:08] #5870 closed

[2020-06-23 17:19] gabog commented on #5868
@Jeffders, @clearab: do we have what we need to unblock this issue? Otherwise I will remove it from R10 and move it to the backlog.

[2020-06-23 17:24] EricDahlvang commented on #5938
I've been able to reproduce this using 03.speech/a.direct-line-speech :

[code]

Activity received on stream:
[code]

Normal webchat activity:
[code]

[2020-06-23 17:35] clearab commented on #5868
I don't think they are sending these yet - won't be until July

[2020-06-23 20:53] Kaiqb commented on #5844
Fixed.

[2020-06-23 20:53] #5844 closed

[2020-06-23 21:16] Kaiqb commented on #5900
@garypretty  - Yes, it is a separate task. I've added the three scenarios in the issue above.

[2020-06-24 11:50] mt-vasu-sharma opened #5939 "Media access api for calling and meeting bots"
My use case is to join scheduled meetings of a tenant and get the audio and video streams and active speaker information from those meetings. I have already seen all the documentation of calling and meeting bots. The issue I have is that in the mediaAccessApi of microsoft graph it mentions that you can't persist the media streams that your bot accesses.

So my doubt is that if the tenant administr

[2020-06-24 14:13] gabog commented on #5891
This feature is currently blocked, review go/no go on 7/13 based on Teams status

[2020-06-24 15:02] gabog commented on #5868
If this gets unblocked by 7/13 then it may make it into R10, if not, we will move this one to the backlog.

[2020-06-24 15:44] gabog commented on #5874
Hi @corinagum, is there any particular sample you suggest we update once we implement this?

[2020-06-24 15:55] gabog commented on #5892
Note, we can code this one against the spec.

[2020-06-24 16:15] v-kydela commented on #5939
Hello @mt-vasu-sharma. This repo is for DCR's only. Here is the blurb you should see when trying to create an issue here:

It looks like you have an issue that should go on Stack Overflow. Please read the linked how-to-ask guide to get a better answer faster. I'm closing this issue now.

[2020-06-24 16:15] #5939 closed

[2020-06-24 16:37] cleemullins commented on #5849
This issue is likely to push to R11 or later.

[2020-06-24 16:40] cleemullins commented on #5837
This needs Analysis prior to execution.

[2020-06-24 16:44] cleemullins commented on #5827
@clearab I believe on the Bot Framework side, this is all done. From what @matthiasdilger indiciates, this may still need some work on the Teams side. Can you chase this down?

[2020-06-24 16:46] jwiley84 commented on #5935
@domacKA

I've found your question on Stack Overflow [here](https://stackoverflow.com/questions/62468841/how-is-it-possible-to-get-the-iscontextonly-tag-from-microsoft-qna-maker-for-m), as well as the sample that handles context only. I'm going to close this issue, as the Bot Framework team prefers that this repo is limited to DCRs and major bugs  in the SDK. I'll work with you over on Stack Overf

[2020-06-24 16:47] #5935 closed

[2020-06-24 16:53] cleemullins commented on #5852
@EricDahlvang IS this something we should take in R10, or push to R11?

[2020-06-24 16:56] cleemullins commented on #5724
This needs a spec before we write the code. @clearab Could you author the requirements / spec for this so we can implement?

[2020-06-24 16:58] garypretty commented on #5905
Un-assigning from @JonathanFingold - as per notes above this is to be assigned to Steve once he accepts invitation to the repo.

[2020-06-24 16:59] corinagum commented on #5874
@gabog I just realized I was saying PromptOptions but the actual delta is for CardActions. Sorry for the confusion. It looks like using-cards would be the best sample.

[2020-06-24 17:00] cleemullins commented on #5841
Let's figure out what's happening here before making any code changes.

[2020-06-24 17:03] cleemullins commented on #5905
Assigning to @garypretty  as a placeholder to track this. :) Once Steve accepts, we can re-assign.

[2020-06-24 17:05] cleemullins commented on #5825
Please link to the spec / functional requirements of the webhook.

[2020-06-24 20:10] EricDahlvang commented on #5852
@cleemullins  Seems like a small change.  I should be able to get it into R10.

[2020-06-24 20:27] EricDahlvang commented on #5841
In javascript, this interface was initially in botbuilder, but moved to botbuilder-core with this PR: https://github.com/microsoft/botbuilder-js/pull/1771/files#diff-275e2bdf0fa067a921f9d674b6ded3df

In dotnet, this class has been in Microsoft.Bot.Builder since it was added with this PR: https://github.com/microsoft/botbuilder-dotnet/commit/39e1726c6f307f1a257384a529438e666e5fb41c#diff-e436b765502

[2020-06-24 20:32] cleemullins commented on #5841
Thanks Eric. Given that, we can close this out.

[2020-06-24 20:32] #5841 closed

[2020-06-24 21:37] stevengum opened #5940 "[Engineering] Enable CI for forked PRs"
As an OSS project, the BF repositories should run CI for all fork-based PRs. In the past we weren't equipped to do this, which led to an unnecessary barrier to community contributors.

This also resulted in unwieldy permissions management across multiple repositories.

To move forward and avoid the two (and likely many other) issues mentioned, we need to ensure that the proper CI builds are run fo

[2020-06-24 22:12] mdrichardson opened #5941 "Run BotFrameworkAdapter tests live, when possible"
## Issue

 This is a tracking issue very loosely related to [this one](https://github.com/microsoft/botbuilder-js/issues/1449).

Basically, most of the tests for BotFrameworkAdapter return mocked responses. Per conversation with @stevengum, we should first try to run them live (if ENV vars exist for appIds, etc), then fallback to mocked.

## Proposed change

Re-write the tests so that they run un-

[2020-06-25 09:37] #5898 closed

[2020-06-25 16:43] johnataylor commented on #5842
this issue covers https://github.com/microsoft/botbuilder-js/issues/898
so closing the more specific issue.

[2020-06-25 17:11] #5294 closed

[2020-06-25 18:46] JonathanFingold commented on #5902
@gabog to provide base material for this topic by end of next week.

[2020-06-25 18:46] JonathanFingold commented on #5904
@gabog to provide base material for this topic by end of next week.

[2020-06-25 19:05] johnataylor commented on #5842
The initial target here will be a sample.

Most likely factoring is a _standalone function that returns emoji characters and their positions_.

And then, perhaps additionally
- a **Recognizer** that wraps that
- a Choice prompt **Tokenizer**

[2020-06-25 22:07] JonathanFingold commented on #5363
@axelsrz What are the dependencies for Python? The current topic has this for C# and JavaScript:
- C#: The CoreBot Tests sample used in this topic references the Microsoft.Bot.Builder.Testing package, XUnit, and Moq to create unit tests.
- JS: The CoreBot Tests sample used in this topic references the botbuilder-testing package, Mocha to create unit tests and Mocha Test Explorer to visualize test

[2020-06-26 07:23] clearab commented on #5827
It doesn't look like this is enabled in production for all clients yet, the Teams group is investigating. I'll follow up when more information is available.

[2020-06-26 13:40] doucheface1 commented on #5873
its not azure its DNS the instructions are not clear on what to use for DNS name  and Cname
if you use default bot@cloudapp.net for both the above error occurs. i have rerun with bot@cloudapp.net for DNS name and Bot@ourdomain.com for cname and i have created an external cname record that points bot.ourdomain to bot.cloudapp.net

issue i have now is i think certificate.

what needs to be in the ce

[2020-06-26 18:44] garypretty commented on #5855
Hi @msftjayongg - I have been looking into how we can address this feature request.

Firstly, I serialized the channel data I received in different circumstances to understand what we might log to assist.

*1:1 Chat with the bot*

{"tenant":{"id":"XXXXXX-XXXX-XXXX-XXXX-XXXXXXX"}}

*Group Chat*

{"tenant":{"id":"XXXXXX-XXXX-XXXX-XXXX-XXXXXXX"}}

*Message via a Channel*

{"teamsChannelId":"19:e05xxx

[2020-06-28 23:27] mmiele commented on #5922
This issue has been addressed in R9. Please, see [Single sign on](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-sso?view=azure-bot-service-4.0) and [Add single sign on to a bot](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication-sso?view=azure-bot-service-4.0&tabs=csharp%2Ceml) articles.

[2020-06-29 07:06] kksantosh opened #5944 "how can i download whole Knowledgebase by hitting qnamaker api in both environment prod and test"
i am trying to download whole Knowledgebase by hitting APIs but i am getting error 404. i am refering this https://westus.dev.cognitive.microsoft.com/docs/services/5a93fcf85b4ccd136866eb37/operations/knowledgebases_download.

i am using url:
https://(resource name).azurewebsites.net/qnamaker/v4.0/knowledgebases/(kb id)/Prod/qna
Authorization : EndpointKey (key)
Content-Type : application/json

[2020-06-29 14:57] #5888 closed

[2020-06-29 17:31] axelsrz opened #5945 "Spec for updating swagger"
Create a spec to define the process of updating the swagger file. Now that we decided to get rid of individual swagger per language repo, we need a process to keep track of the changes.

[2020-06-29 22:24] EricDahlvang commented on #5874
I've updated the title from "...for images **and** buttons" to "...for images **on** buttons"

[2020-06-30 05:41] cxbuilders opened #5947 "Session Time Out"
As a request from HR we need a bot to be closed after 15 mins of inactivity. Basically the session should be destroyed, or even better a timeout trigger to be called, where we can define our own logic to deal with session data, re-authentication, saying sorry to the user  etc..

Is there any mechanism in place for this yet? If not any work arounds? I did raise a question about using a trigger that

[2020-06-30 10:40] #5922 closed

[2020-06-30 15:54] garypretty commented on #5907
To be captured as part of #5908. Closing.

[2020-06-30 15:54] #5907 closed

[2020-06-30 16:10] gabog commented on #5894
This property has been implemented on all 4 platforms, closing

[2020-06-30 16:10] #5894 closed

[2020-06-30 19:07] scheyal commented on #5944
@pchoudhari, can you please respond to the inquiry?

[2020-06-30 19:35] gabog commented on #5871
All related tasks have been completed, Closing.

[2020-06-30 19:35] #5871 closed

[2020-06-30 20:06] dmvtech commented on #5864
Closing as docs issue is now opened. Linked above.

[2020-06-30 20:06] #5864 closed

[2020-06-30 20:27] dmvtech commented on #5873
I'm not sure what you mean by 'use default bot@cloudapp.net for both'. Use it how?

[2020-06-30 20:31] dmvtech commented on #5873
Are you using this sample?:
https://github.com/microsoftgraph/microsoft-graph-comms-samples/tree/master/Samples/V1.0Samples/LocalMediaSamples/PolicyRecordingBot

If so, this is not a botframework sample and unrelated to the bot framework. This is not he appropriate repository. You could open an issue there.

[2020-07-01 04:55] pchoudhari commented on #5944
@kksantosh , 404 response means that the knowledge base wasn't found. Can you check in the qnamaker.ai portal if the KB still exists?

[2020-07-01 05:14] kksantosh commented on #5944
@pchoudhari yes I am 100% sure KB present, actually i am using in bot for questioning and answering and it is working.

[2020-07-01 05:48] pchoudhari commented on #5944
@kksantosh , please check the parameters of the request. If it still doesn't work, please drop a mail with details of the request to qnamakersupport@microsoft.com

[2020-07-01 15:01] jmnsf commented on #3446
@nwhitmont can you elaborate why this is different from a message added event? It's still a user action on the Teams client, it just changes an existing message instead of creating a new one.

I second the request for this feature. Sometimes large edits are made by users that could change the content of the message entirely, and not only are we unable to see those edits, but we don't even know the

[2020-07-01 16:14] #5906 closed

[2020-07-01 16:54] munozemilio opened #5949 "Stack Overflow questions monitoring"
Issue
Stackoverflow questions need to be monitored same as github issues

Proposed change
A unified dashboard/report to pull data from satckoverflow and show unanswered questions and if possible some analytics related

Component Impact
None

Customer Impact
None. This will help to identify troubled areas.
[dcr]

[2020-07-01 16:58] #5921 closed

[2020-07-01 23:46] mmiele commented on #5910
Work in progress see PR: https://github.com/MicrosoftDocs/bot-docs-pr/pull/2264

[2020-07-02 16:57] carlosscastro commented on #5809
Done!

[2020-07-02 16:57] #5809 closed

[2020-07-02 17:32] EricDahlvang commented on #5947
Hi @cxbuilders

We have an issue tracking work to provide documentation of options for this here: https://github.com/microsoft/botframework-sdk/issues/5908

Please review the options provided on that issue, and add any suggestions or feedback there.

Closing this as a duplicate.

[2020-07-02 17:32] #5947 closed

[2020-07-03 01:51] Stevenic opened #5951 "DCR: add SuppressSpeech() pre-built template to LG"
## Proposed change
Developers building for speech enabled channels need a mechanism for disabling the speech output with returned activities. To date, this has been done by returning an empty `speak` field with their activity but this has proven to be error prone as a lot of components, QnA Maker for instance, fail to populate the speak field. In fact, channels like "Cortana" have classically been

[2020-07-03 07:54] andreatosato commented on #5799
@benbrown no data corruption, but bot respond with error, always!

How can investigate data? Is there a tool?

[2020-07-03 12:15] ulhasmorbale commented on #3087
And the main thing is installing "The .NET Core Hosting Bundle" from here : https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-3.1#install-the-net-core-hosting-bundle

I've spent 2 days to find only because of this it was giving 500 error as 500 is generic error and doesn't give clue.

[2020-07-03 18:12] mmiele commented on #5920
Gary, I created a preliminary FAQ entry [here](https://review.docs.microsoft.com/en-us/azure/bot-service/bot-service-resources-faq-general?view=azure-bot-service-3.0&branch=pr-en-us-2267#how-to-deal-with-an-outbound-handoff-activity)

[2020-07-03 18:12] mmiele commented on #5920
Pressed wrong button.

[2020-07-03 19:44] stevengum commented on #5950
@varunbmallik there are PRs out for the validated fix. After they are merged, they should be available via a daily build until 4.10 is released.
- [ ] PR for JS - https://github.com/microsoft/botbuilder-js/pull/2479
- [ ] PR for .NET - https://github.com/microsoft/botbuilder-dotnet/pull/4224

___

After the JS and .NET PRs are merged I'm going to close this issue, botbuilder-python and botbuilder-

[2020-07-06 15:40] benbrown commented on #5799
@andreatosato what error do you see?

You can look at / reset the data in your state storage database.

[2020-07-06 15:47] andreatosato commented on #5799
Can you suggest some operation on Cosmos collection?
I have tried to delete collection but bot doesn't work anymore

[2020-07-06 16:31] #5945 closed

[2020-07-06 18:17] cleemullins commented on #5950
I've approved the PRs. We'll get them merged in shortly.

[2020-07-07 17:06] JonathanFingold commented on #5934
Here are the initial rough drafts:
![ecosystem](https://user-images.githubusercontent.com/35047199/86816992-5631e200-c039-11ea-9eb0-638dc6149c08.png)
![bot-apps](https://user-images.githubusercontent.com/35047199/86817150-7bbeeb80-c039-11ea-9aef-b8e33f274334.png)
![bot-framework-sdk](https://user-images.githubusercontent.com/35047199/86817157-7cf01880-c039-11ea-93fb-631e3b72f556.png)
![tools-and-s

[2020-07-07 18:38] stevengum commented on #5950
Closing as the work was done in JS and .NET.

[2020-07-07 18:38] #5950 closed

[2020-07-07 18:52] #5852 closed

[2020-07-07 23:11] mmiele commented on #5924
See PR: https://github.com/MicrosoftDocs/bot-docs-pr/pull/2271.

[2020-07-08 16:38] garypretty commented on #5905
Closing as docs have been updated with appropriate references and are awaiting push to live.

[2020-07-08 16:38] #5905 closed

[2020-07-08 19:32] #5840 closed

[2020-07-08 22:54] zxyanliu commented on #5923
I might need a Fairfax DevOps NonRestricted account for non-FTE to try out "gov" things. @Kaiqb
https://aka.ms/fairfaxonboard -> https://msazure.visualstudio.com/One/_wiki/wikis/One.wiki/8650/Sovereign-Cloud-Onboarding?anchor=get-a-devops-test-account-%26-subscription -> get a DevOps NonRestricted account

[2020-07-08 23:22] gabog commented on #5891
Teams is not ready for it now, moving this one back to the backlog.

[2020-07-09 03:29] ByIvo commented on #2266
Thank you @maixuanhan, this was my problem as well.

[2020-07-09 15:53] garypretty commented on #5855
Agreed with Tatiana in Teams that, as per the above, we will add the following items to our telemetry is the user is using the Teams channel.

* Tenant Id
* AAD Id (need to confirm, but I believe this may already be captured as part of user information.)
* TeamInfo, if available

[2020-07-09 15:56] msftjayongg commented on #5855
Hi Gary,

Sorry I didn't see your message from 13 days ago.  I think your comments make sense.  I don't know where the "a:" come from, did Tatiana have a response to that, seems like she would know.

[2020-07-09 19:03] mmiele commented on #5920
@garypretty Please, assign this issue to me. I am working on it.

[2020-07-10 04:08] tacri commented on #5855
For the point 3 above, a: prefix is usually for 1:1 conversations between the user and the bot. If there is a repro we can confirm what is happening from our logs

[2020-07-13 15:53] carlosscastro commented on #5767
@darrenj and I discussed that given the low risk and the fact that there is a workaround (and R10 being pretty booked), we are pushing this to R11. @lzc850612 if you are passionate about this, you could bring it back in and implement, but the thing is not only implementation: this needs to be implemented in js, c# and python and verified in all 3 languages.

[2020-07-13 16:50] stevengum commented on #5940
CI for PRs from forks are enabled across the SDK and CLI repositories. Closing issue.

[2020-07-13 16:50] #5940 closed

[2020-07-13 16:59] gabog commented on #5901
Spoke to @p-nagpal, this will be in prod by the time we ship. Removing the blocked tag, we will implement this assuming the local property is populated by the channel.

[2020-07-13 18:07] #5944 closed

[2020-07-13 20:52] JonathanFingold commented on #5904
I'll reach out to Darren to see what the request is.

[2020-07-13 20:59] JonathanFingold commented on #5902
Just have to set the SkillHostEndpoint to a public URL that you can generate via ngrok. Callout that both skill and consumer need a valid app registration. Then you can debug the consumer locally with the Emulator.

[2020-07-13 21:30] johnataylor commented on #5934
We made some progress on this. This work will conclude in the R11 timeframe. Removing the R10 label.

[2020-07-13 21:47] johnataylor commented on #5851
We can start an analysis of this towards the end of the R10 milestone. With initial work in samples or experimental samples.

[2020-07-13 21:48] gabog commented on #5919
This fix has been implemented on all three languages, closing

[2020-07-13 21:48] #5919 closed

[2020-07-14 11:07] garypretty commented on #5861
Synced with @stevengum and agreed we will send a trace activity *and* TelemetryClient.TrackTrace - this will ensure that when using skills in production, developers can still see unhandled version changed events if they are using telemetry.

[2020-07-14 14:56] #5874 closed

[2020-07-14 15:11] gabog opened #5957 "Write spec for github automation bot"
It is hard to keep issues in sync across all the SDK repos (dotnet, JS, python and Java).

This issue involves writing a spec for a set of automation helpers that would help with this manual work.

Once we determine what we need, we can decide if we implement the helper as a github webhook or an automation task in each repo.

[2020-07-14 17:02] mmiele commented on #5903
The related PR is: https://github.com/MicrosoftDocs/bot-docs-pr/pull/2279.

[2020-07-15 15:53] Kaiqb commented on #5926
Update: Initial Pythons docs for 4.9 released yesterday after addressing publishing issues. Further updates will continue based on the work Code Quality Pillar is doing.

[2020-07-15 15:54] munozemilio commented on #5882
I will split this into two bugs since the MVP is done.

[2020-07-15 15:54] #5882 closed

[2020-07-15 15:56] munozemilio opened #5958 "DRI notification bot phase 2"
In no particular order,

- [X] Add daily PR notifications
  - [X] 2 groups (list oldest to newest):
    - [X] Reviewer is not part of group requested to review ("Individual PRs")
      - [X] If PR is > 3 business days old, highlight
    - [X] Reviewer is part of code owner group assigned ("Group PRs")
  - [X] Adjust display of list based on total #, priority given to Individual PRs
  - [X] Ensure

[2020-07-15 18:03] JonathanFingold commented on #5904
Initial writing for the PR is finished. Now waiting for review.

[2020-07-15 18:50] Unders0n commented on #4312
@EricDahlvang if i'm getting correctly your example gets unique ID when already having conversation with user and knowing his turnContext.Activity.From.Id or knowing channel? But what if we want to make real proactive message just knowing user's email from our directory (as for spam issues - as some here told we already own this directory and have all admin rights)

[2020-07-15 21:20] EricDahlvang commented on #4312
When the bot is installed into a team, it will receive a ConversationUpdate activity. This can be used to fetch the team roster.

[2020-07-16 14:08] #5901 closed

[2020-07-16 14:09] gabog commented on #5901
Changes has been made in master and samples are staged in the R10Samples branch, we will merge them once this is active in the service, WebChat and DirectLine.

[2020-07-16 14:55] Unders0n commented on #4312
@EricDahlvang thanks, we've got IDs, but now i'm failing to send a message, when already having conversation and trying to call CreateDirectConversation im getting bad request and when following this example https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-proactive-messages?tabs=dotnet#obtain-necessary-user-information i also have issues which i explained he

[2020-07-16 16:17] JonathanFingold commented on #5904
PR merged.

[2020-07-16 16:17] #5904 closed

[2020-07-16 18:37] mmiele commented on #5920
Completed.
Related PR https://github.com/MicrosoftDocs/bot-docs-pr/pull/2277 has been merged.

[2020-07-16 18:50] mmiele commented on #5910
Completed.

[2020-07-16 21:44] #5923 closed

[2020-07-16 21:45] EricDahlvang commented on #5908
PR submitted: https://github.com/MicrosoftDocs/bot-docs-pr/pull/2289

[2020-07-17 12:32] #5855 closed

[2020-07-17 13:51] johnataylor commented on #5851
We are taking changes on the current QnA Dailog in this milestone. Moving to next milestone as it doesn't make sense to do this internal refactoring concurrently.

[2020-07-17 16:33] #5932 closed

[2020-07-17 18:47] JonathanFingold commented on #5902
Just waiting on someone to review bot-docs-pr [PR 2293](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2293).

[2020-07-17 19:30] EricDahlvang opened #5959 "Add InstallationUpdate to ActivityHandler"
## Proposed change
Add a handler for this activity type to the ActivityHandler

## Component Impact
ActivityHandler class

## Customer Impact
Teams is lighting up this event, and needs support in the sdk.

## Tracking Status
**Dotnet SDK** [Issue](https://github.com/microsoft/botbuilder-dotnet/issues/4287)
- [x] PR
- [x] Merged

**Javascript SDK** [issue](https://github.com/microsoft/botbuilder-js

[2020-07-17 22:40] JonathanFingold commented on #5902
This never did get a PM review, but I'll be merging the PR presently.

[2020-07-17 23:05] mmiele commented on #5924
The related PR: [MicrosoftDocs/bot-docs-pr#2271](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2271) has been merged

[2020-07-17 23:08] mmiele commented on #5924
@Kaiqb This info should suffice. We can make updates as needed.

[2020-07-21 17:48] zxyanliu opened #5962 "Doc link in README"
## Issue
The [Bot Framework Composer](https://github.com/microsoft/botframework-sdk/blob/master/README.md#bot-framework-composer) link in [README](https://github.com/microsoft/botframework-sdk/blob/master/README.md) points to: https://github.com/microsoft/BotFramework-Composer/blob/stable/README.md

## Proposed change
Should point to: https://github.com/microsoft/BotFramework-Composer/blob/main/RE

[2020-07-22 12:38] #5924 closed

[2020-07-22 12:39] garypretty commented on #5902
I have reviewed - LGTM. Thank you!

[2020-07-22 12:40] #5903 closed

[2020-07-22 12:41] garypretty commented on #5920
Looks good. Thank you.

[2020-07-22 12:41] #5920 closed

[2020-07-22 12:42] garypretty commented on #5910
Excellent update. Thanks for your work on this.

[2020-07-22 12:42] #5910 closed

[2020-07-22 13:12] dr-dolittle opened #5997 "[MCS-DE-GO] Optimize usage of CosmosDB"
When using CosmosDB as storage layer different types of documents are being created per bot (e.g. users or conversations). Would it be possible to optimize the way they are stored for more efficient postprocessing?

Here are some suggestions:

- Rethink partition strategy - currently there is on document per partition. This seems to be inefficient on the one side regarding the usage of partitions

[2020-07-22 22:33] axelsrz commented on #5848
Pushing this due to resourcing (Gary leaving soon for paternity leave), re-asses this on next milestone

[2020-07-23 16:11] EricDahlvang opened #5964 "OAuthPrompt should provide the ability to cancel itself"
## Issue
Example Scenario-
User says : “login”
Bot says : OAuthCard
User says : “I want to enter a number”

Expected behavior – OauthPrompt completes and “I want to enter a number” Activity is handled by the next Prompt/Dialog in the Dialog stack.

## Tracking Status
**Dotnet SDK**
https://github.com/microsoft/botbuilder-dotnet/issues/4395
- [x] PR
- [x] Merged

**Javascript SDK**
https://github.c

[2020-07-23 16:13] EricDahlvang opened #5965 "Dedupe token exchange invoke requests from teams"
## Issue
We have a need to dedupe multiple token exchange invoke requests (with same id), which may come in from multiple teams clients that the user is signed in on multiple devices.

We will need to update samples and docs for this too.

## Tracking Status
**Dotnet SDK**
- [ ] PR
- [ ] Merged

**Javascript SDK**
- [ ] PR
- [ ] Merged

**Java SDK**
- [ ] PR
- [ ] Merged

**Python SDK**
- [ ] PR
-

[2020-07-24 14:24] peterkarman1 commented on #4265
it appears this situation has popped up again. any detail into what was wrong before?

[2020-07-27 21:17] gabog commented on #5868
Moving this to the backlog, we should target this for R11

[2020-07-27 23:33] stevengum commented on #5964
@swagatmishra2007 and @carlosscastro can you provide more context on this ask? Interruptions and cancellations are already possible at the DialogContainer level, which is likely where you'd want to handle the interruption.

The enhanced OAuthPrompt wouldn't know about the other Prompts or Dialogs being used in the DialogContainer, nor does it have the necessary logic built-in to disambiguate which

[2020-07-28 05:03] Aleimar commented on #2091
Would be exiciting and helpful if this feature is available .

+1

[2020-07-28 06:25] stevengum commented on #5655
Blocked until stable release of `azure-mgmt-botservice` is released... @DDEfromOR FYI

[2020-07-28 16:47] EricDahlvang commented on #2091
This is possible using the attachment prompt, and an adaptive card.  Or, the community library's AdaptiveCardPrompt: https://github.com/BotBuilderCommunity/botbuilder-community-js/blob/master/libraries/botbuilder-dialog-prompts/src/adaptiveCardPrompt.ts

[2020-07-28 20:30] siddharthpant92 commented on #2283
@dandriscoll @carlosscastro Is there any update on this? I came across this while searching for the same functionality in the bot framework documentation

[2020-07-28 20:49] dandriscoll commented on #2283
Yes, we now support native user sign-in across most channels. https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=azure-bot-service-4.0&tabs=aadv2%2Ccsharp

[2020-07-28 23:47] Kaiqb commented on #5926
Closing the issue as complete for R10.

[2020-07-28 23:47] #5926 closed

[2020-07-29 16:34] stevengum opened #5968 "Setup automated git tagging for all official releases"
## Description
Setup automated git tagging for all official releases with the following tag structure:

`vMajor.Minor.Patch`

Which follows patterns displayed by the [React](https://github.com/facebook/react/releases), [Babel](https://github.com/babel/babel/releases), [TypeScript](https://github.com/microsoft/TypeScript/releases) and [dotnet](https://github.com/dotnet/runtime/releases) teams.

###

[2020-07-29 16:35] stevengum commented on #5968
@tracyboehrer @mrivera-ms FYI for triaging...

[2020-07-29 16:56] siddharthpant92 commented on #2283
I was actually looking for something along the lines in the following scenario:
User with role type A will see list A of bot command options, but user with role type B will see list B of bot command options. So depending on the role of a user, they will have a different set of bot commands that they can invoke? Is that functionality available? Or would we have to somehow create 2 separate bots wit

[2020-07-29 17:28] dandriscoll commented on #2283
I've built something like that in bots that I've authored, and I'm not sure it requires any special support. If you're relying on the user's account as the primary ID, all you need is:

1. Mark the user with the role in your backing datastore (e.g. `role=administrator`)
2. When you load your dialogs, load that flag into a user state variable
3. Your dialogs can then switch on that variable

[2020-07-29 17:41] siddharthpant92 commented on #2283
Is there any documentation for what you've authored? I can have a look to see if it fits our use case?

[2020-07-29 18:24] praneethnooli commented on #963
I'm facing the same issue now. May I know how to resolve this?

[2020-07-30 02:32] Zerryth commented on #5887
Moving to R11 in favor of picking up help of other higher priority issues for R10

[2020-07-30 20:19] #5881 closed

[2020-07-31 16:08] EricDahlvang opened #5969 "Hero Cards and Thumbnail Cards are missing from the botframework-cards.md spec"
Links are provided, but the doc does not contain the definitions:
https://github.com/microsoft/botframework-sdk/blob/master/specs/botframework-activity/botframework-cards.md#basic-cards

[dcr]

[2020-08-02 07:13] matthiasdilger commented on #5827
@clearab Hi, has there been any progress on this? Would be nice to get this feature before autumn, when DST ends for many countries. Thanks!

[2020-08-03 21:33] cleemullins commented on #5965
@clearab has volunteered to write a spec for this, which we'll need before we can start implementation.

[2020-08-03 21:34] cleemullins commented on #5964
Discussion with @clearab, @tacri , Sid, and Eric - Andrew will write a spec for this before any next steps.

[2020-08-03 21:37] cleemullins commented on #5892
We believe this is done in the SDK's, and @clearab will confirm and close this issue out.

[2020-08-03 21:38] cleemullins commented on #5805
@clearab Believes this will be R11 work. Outstanding issues is to review spec and staff.

[2020-08-03 21:39] cleemullins commented on #5822
Assigning to @clearab for prioritization in (maybe) R11.

[2020-08-03 21:41] cleemullins commented on #5620
@clearab to make a case for taking this in R11.

[2020-08-03 21:44] cleemullins commented on #5868
@tacri Code is there, but only enabled in a feature-flag. @clearab to follow up regarding scale concerns and deployment.

[2020-08-03 21:46] cleemullins commented on #5893
@clearab This is still blocked, and Andrew is planning to write a spec. Draft spec is expected to be ready for review by 8/15. People needed for Spec review are @EricDahlvang , @johnataylor , @tacri

[2020-08-03 21:47] cleemullins commented on #5893
@tacri  to bring @clearab up-to-speed with recent changes on this API based on various reviews.

[2020-08-03 21:56] cleemullins commented on #5895
@clearab will write this "this week" :)

[2020-08-03 21:57] cleemullins commented on #5912
Confirmed with @clearab that these objects have changes, and the docs need to reflect that. Trying to land in R10.

[2020-08-03 21:57] Stevenic opened #5970 "DCR: proposal for a tweek to the skills protocol"
The current PostBack based skills protocol works well for activities but it's extremely brittle when it comes to conveying that a skill has ended.  The first issue is that in order to even make it work the Skill Dialog has to ensure that it's saved off all of its conversation state prior to calling the skill because the `EoC` activity will be posted back and may not even be the calling bot that pr

[2020-08-04 00:03] axelsrz commented on #5941
After conversation with @mdrichardson he raised the excellent point that functional testing covers the scenarios where could be beneficial running these unit tests live. If there are no practical pros to this, I would rather not put a dependency on unit testing like network connection and slow I/O.

I'm blocking until discussing this with @stevengum

[2020-08-04 14:54] JeSami commented on #5663
Hi,

I am facing similar issue. I have created a bot using Python and tested successfully locally but after deploying to azure I am not getting any response from bot in Web Chat.

BDW - i went through the discussion on this thread but i still did not get where exactly to modify the code.

Appreciate for any help on this.

[2020-08-04 15:37] gabog commented on #5892
@cleemullins, we are missing the declarative part, I created and linked an issue to the main description to track that one.

[2020-08-04 15:47] mdrichardson commented on #5663
@JeSami I've only ever see this happen if somebody didn't follow [the deployment docs](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=csharp) *exactly*. I recommend re-deploying, starting from the top. Common hangups are:

1. Not using a password that meets the requirements: 16 characters long, contain at least 1 upper or lower case alp

[2020-08-04 17:09] JeSami commented on #5663
@mdrichardson thank you so much for your great help. Previously my folder structure was incorrect for zipping. Now this is resolved. I can happily chat with my first web chatbot :)

[2020-08-04 22:36] joe-tossell-mando opened #5971 "Delay Activity type not referenced in the Bot Framework Activity spec"
## Issue
The delay Activity type referenced in documentation is not referenced in the Bot Framework Activity spec see documentation:
https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-send-messages?view=azure-bot-service-4.0&tabs=csharp

Not sure whose issue this is see:
https://github.com/MicrosoftDocs/bot-docs/issues/1849

## Proposed change
Include delay activity in spec

## C

[2020-08-04 23:41] clearab opened #5972 "Message reaction change Activity"
## Summary

Teams currently sends Activities of type 'messageReaction` to a bot when a reaction (like, heart, etc.) is added to a message sent by a bot. When a reaction is changed, two messages are sent to the bot, one removing the existing reaction, and another adding the new reaction. Teams is changing this behavior so that a single Activity is sent containing both the added and the removed reac

[2020-08-05 16:05] johnataylor commented on #5853
fixed

[2020-08-05 16:05] #5853 closed

[2020-08-05 16:52] SiarheiKuchukBelitsoft opened #5973 "Node BotFramework SDK 4.9.3: rawLocalTimestamp time zone is not updated on time zone change."
Hello

I have an issue with extracting time zone from rawLocalTimestamp for Node BotFramework SDK 4.9.3
For example I'm in Minsk.
That code
(<any>context.activity).rawLocalTimestamp
shows
...19:00+03:00

If i change the time zone in Windows Clock to UTC+01
and then send message to Bot, it will get from TurnContext
...19:01+03:00

But if i restart Teams Desktop app, it works fine, i.e. it will show

[2020-08-05 16:55] SiarheiKuchukBelitsoft commented on #5973
Another big issue with rawLocalTimestamp - that after update Bot to SDK with that feature, users have to relogin to Teams so bot will start getting on backend that field. Please fix it,because noone from customers is going to relogin on bot update!

[2020-08-05 18:06] daveta commented on #5971
Hi @joe-tossell-mando :
The answer by Jonathon [here](https://github.com/MicrosoftDocs/bot-docs/issues/1849#issuecomment-669295816) is correct.  The spec you reference is more about the wire protocol..
Thanks, -Dave

[2020-08-05 18:06] #5971 closed

[2020-08-05 18:07] clearab commented on #5973
Hi - This is unfortunately an issue with the Teams client itself, not the Bot Framework SDK. I've created a new Issue at the link below so that their product team can reply directly:

https://github.com/MicrosoftDocs/msteams-docs/issues/1950

[2020-08-05 18:07] #5973 closed

[2020-08-05 20:29] #5884 closed

[2020-08-05 20:30] #5879 closed

[2020-08-05 20:51] mrivera-ms commented on #5860
@mrivera-ms Create issues to track Java.

[2020-08-05 20:51] #5860 closed

[2020-08-05 21:00] #5825 closed

[2020-08-05 21:08] clearab commented on #5965
There isn't a clean way to do this in the SDK directly, as it requires some kind of transactional, distributed, persistent storage. Moving to samples.

[2020-08-05 21:29] clearab commented on #5964
Best we can come up with is to add a flag to OAuth prompt and document needing to set it.

[2020-08-06 11:58] matthiasdilger opened #5975 "Add methods for dealing with mentions of Teams, Channels or Tags (Teams)"
**Is your feature request related to a problem? Please describe.**
Teams users can mention Team names, channel names or tags when sending a message to the bot like this:

`@bot send a message to all members of @test
`

The bot receives this mention like so (@test is a tag in Teams):

[code]

But the bot can't do anything with this mention. It can't resolve the list of users using the mention id. I

[2020-08-06 16:54] wbinterns opened #5974 "Text Format In Adaptive Card Broken"
I raised this issue elsewhere, as I thought it was a problem with the qnamaker, so here is the link to that previous [issue](https://github.com/MicrosoftDocs/azure-docs/issues/58810). However, after some discussion it seems that the only difference is in my bots code, and thus more of a SDK issue.

After doing some testing with my current bot, and an example which can be seen [here](https://github

[2020-08-06 19:18] v-kydela commented on #5974
Thank you for the report, @wbinterns

It looks to me like the text in the first screenshot is contained inside the card, and the text in the second screenshot is outside the card. It is indeed possible that there has been a change in whatever channel connector service you're using that affects how cards are interpreted.

About this code:

That doesn't create a card, that just returns a QnA Maker c

[2020-08-07 06:09] gabog commented on #5654
All child issues are closed, closing this one too

[2020-08-07 06:09] #5654 closed

[2020-08-07 11:52] dstvishnu opened #5976 "Go back to Previous step or any particular step of the Waterfall dialog"
## Issue
*Describe the issue you are addressing*
If the developer is have to move to the particular step on the Waterfall dialog we are not having any means to do this.

For Example:

Consider we are collecting the some information from the users in each step this information can be userId,department etc in each step and there is a need for validation using a REST  API.Based on the response from t

[2020-08-07 15:51] wbinterns commented on #5974
Sure thing,

1.	I am using the “Web Chat” channel

2.	Below I have printed out much of the information contained in the Activity, where dc is a DialogContext

dc.Context.Activity.Action:
dc.Context.Activity.AttachmentLayout:
dc.Context.Actiivty.Attachments:
dc.Context.Activity.CallerId: urn:botframework:azure
dc.Context.Activity.ChannelData: {
  "clientActivityId": "1596812792491.01754727424765079

[2020-08-07 17:02] daveta commented on #5976
Hi @dstvishnu : Thanks for you interest.  You might look at previous issues on Stack Overflow.
Here's one that covers your scenario.
https://stackoverflow.com/questions/52554441/bot-framework-v4-0-how-to-execute-the-previous-waterfall-step-in-a-dialog

[2020-08-07 18:37] hrmadduri commented on #3722
With the above code I'm able to send a simple text message in thread fine. I'm not able to send a hero card containing some text and buttons in thread.
The card is added to the activity.attachments and the card do not have a property for thread_ts. I have added channel data to the activity with thread_ts but it is not showing any effect. When I give text in the channel data the text is coming in t

[2020-08-07 18:39] mdrichardson opened #5977 "1) Replace record/playback tests to mocks 2) Add LOTS of nightly functional tests"
# Test Adjustments

This proposal covers two related issues:

1. Converting Record and Playback-style tests in the JS SDK to mocks, and
2. Creating functional tests for many of our mocked tests

## Table of Contents

- [Current Situation](#current-situation)
  - [Record and Playback](#record-and-playback)
  - [Functional Tests](#functional-tests)
- [Proposed Solution](#proposed-solution)
  - [Rele

[2020-08-07 18:52] v-kydela commented on #5974
@wbinterns - Thank you for the information. It looks like you've shown me a user-to-bot activity instead of the bot-to-user activity that actually contains the card attachment, but it's okay because I've tracked that down for you. While running sample 49 in Emulator, you can see the activity in the JSON panel:

![image](https://user-images.githubusercontent.com/41968495/89678037-5543d880-d8a3-11ea

[2020-08-07 18:58] johnataylor commented on #5977
Thanks for writing this up @mdrichardson .

Regarding when we change. I think this is case-by-case. The principle is: favor cleanly structured, clear regular mocha tests over clever-clever record and playback proprietary frameworks. A unit test suite should read as a (flat) set of asserts about the expected behavior.

And it would be great to have more overnight functional tests against the real s

[2020-08-07 20:49] mdrichardson commented on #5977
Can you expand on what you mean by this? My "plan" was to figure out which libraries/features we want this to apply to, then do it in Cosmos, first. Once that one is implemented perfectly, implement it for everything else the same way.

Makes sense. Let's say that we have some tests (like Cosmos) that currently has some functional tests already written, but that are either mocked or skipped in CI.

[2020-08-08 01:40] EricDahlvang commented on #5665
@cleemullins a dotnet immediate-accept-adapter will be in experimental once R10Samples are merged: https://github.com/microsoft/BotBuilder-Samples/tree/R10Samples/experimental/immediate-accept-adapter/csharp_dotnetcore

Here is an attempt at a typescript one. Unfortunately, i'm not sure how to postpone shutdown ... so it isn't super useful imo:
[immediate-accept-adapter-typescript_nodejs2.zip](htt

[2020-08-10 17:09] stevkan commented on #5976
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/microsoft/botframework-sdk/) repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

[2020-08-10 17:09] #5976 closed

[2020-08-10 17:49] wbinterns commented on #5974
I will look into this now and get back to you. Apologies for the confusion about the activity.

[2020-08-10 18:43] clearab commented on #5975
Hi - I've spoken to the Teams team about this and it is something they are interested in but would be a longer feature request that they'd need to prioritized against other things in their backlog. So this doesn't get lost I'm going to move this over to their repo so they can track it.

Good idea, and thanks for the feedback!

[2020-08-10 18:45] #5975 closed

[2020-08-10 21:34] clearab commented on #5868
@tacri to let us know when to unblock and start implementation

[2020-08-10 21:35] clearab commented on #5891
@tacri to let us know when to start work on this

[2020-08-11 13:13] vireshskore7 opened #5978 "How to maintain Chat session in Azure Bot framework"
I am trying to maintain a chat session. if user is idle more than 5 mins then session needs to expire and if the user comes back after 5 min and enter any message then session needs to be restart.

Please Advice.

Thanks in Advance

[2020-08-11 16:22] stevkan commented on #5978
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/microsoft/botframework-sdk/) repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

[2020-08-11 16:22] #5978 closed

[2020-08-11 18:59] wbinterns commented on #5974
After making some minor type changes and resolving some other mine issues, using the Bot Builder Source Code listed above worked like a charm. Thank you kindly!

[2020-08-11 18:59] #5974 closed

[2020-08-11 19:11] clearab commented on #5964
JS is in PR

[2020-08-11 19:51] cleemullins opened #5979 "Bot Framework SDK R10 Release Checklist"
## Package 4.10.0

## Package Location
* C# (rc1)
** https://botbuilder.myget.org/gallery/botbuilder-v4-dotnet-daily
** https://dev.azure.com/ConversationalAI/BotFramework/_packaging?_a=feed&feed=SDK

* JS (Uses the @rc tag on public NPM)
** https://www.npmjs.com/package/botbuilder

* Python
** https://test.pypi.org/project/botbuilder-core/4.10.0rc0/

* BF CLI (Uses the @rc tag on public NPM)
** h

[2020-08-11 22:20] EricDahlvang commented on #5964
@clearab js is merged (special thanks to @munozemilio !!!)

[2020-08-12 00:00] clearab commented on #5895
PR is here: https://github.com/MicrosoftDocs/msteams-docs/pull/1972 (it was almost this week ...)

[2020-08-12 00:00] #5964 closed

[2020-08-12 16:20] dinudany commented on #5744
I am also facing the same issue, not able to digress from child dialog.

[2020-08-12 17:39] EricDahlvang commented on #5959
Closing, since remaining work is post R10 release.

[2020-08-12 17:39] #5959 closed

[2020-08-12 19:03] EricDahlvang commented on #5978
@vireshskore7  We are currently working on documentation demonstrating a few methods for expiring a conversation.  This should be released within the next couple weeks.

One method described in the documentation is similar to this example: https://github.com/EricDahlvang/TimeoutConversationBot

[2020-08-12 20:58] EricDahlvang commented on #5500
closing since: PR is submitted, and is being reviewed by the docs team

[2020-08-12 20:58] #5500 closed

[2020-08-12 20:58] EricDahlvang commented on #5908
closing since: PR is submitted, and is being reviewed by the docs team

[2020-08-12 20:58] #5908 closed

[2020-08-13 15:50] gabog commented on #5091
I think this issue is pretty old now and does not apply to the current state of the SDK, closing.

[2020-08-13 15:50] #5091 closed

[2020-08-13 17:14] #5962 closed

[2020-08-13 17:57] krisrok commented on #2756
is the source still closed?

[2020-08-13 18:40] EricDahlvang commented on #2756
@krisrok we are in the process of open sourcing this library.  You can find the latest source here: https://github.com/microsoft/BotFramework-DirectLine-DotNet  but, this version has not been released to nuget just yet.  But, you can find the latest version here: https://botbuilder.myget.org/feed/experimental/package/nuget/Microsoft.Bot.Connector.DirectLine

[2020-08-13 19:36] gabog commented on #5361
I don't think we'll do this, closing

[2020-08-13 19:36] #5361 closed

[2020-08-13 20:13] gabog opened #6022 "Add support for skills auth in sandboxed environments"
Currently skills support public cloud and gov cloud auth, we need to make the auth model extensible so we support other environments and AADs.

Note, we will try to do a small PoC as part of R11 but this is a P0 for R12

See also https://github.com/microsoft/botbuilder-dotnet/issues/4853

[2020-08-13 20:32] gabog commented on #5792
dotnet and JS have been updated, closing

[2020-08-13 20:32] #5792 closed

[2020-08-13 20:33] gabog commented on #5724
We don't think we need this, closing

[2020-08-13 20:33] #5724 closed

[2020-08-13 20:35] gabog commented on #5795
Composer adds support for this, we won't be doing this at the SDK level

[2020-08-13 20:35] #5795 closed

[2020-08-14 05:58] sivakumar1302 opened #5981 "Microsoft.Bot.Schema.BotException An error occurred while sending the request. The remote name could not be resolved: 'hpusstoredevbot.corp.hpicloud.net'"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) where there is a robust community to help you

To file an issue against a component please go to the components repo
* [Create Azure Bot Framewor

[2020-08-14 06:04] sivakumar1302 commented on #5981
I have a ASE created under domain corp.hpicloud.net and i have my app running under ASE. When i try to connect the connect the bot via directline im getting the issue "the remote name could not be resolved". I tried tcpping and nameresolver in my kudu console https://hpusstoredevbot.scm.corp.hpicloud.net/ and it resolves to an ip address 172.19.67.107. But when i try connecting it through directli

[2020-08-14 18:05] peterinnesmsft commented on #5981
Appears to be Direct Line ASE-related 502. Transferring to service team for initial pass.

[2020-08-14 18:37] cleemullins opened #5984 "It's all broken."
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the

[2020-08-14 18:37] #5984 closed

[2020-08-17 20:30] #5895 closed

[2020-08-17 20:45] tacri commented on #5827
The work has been completed for this, but the validation and rollout is pending. Will get back when we have an ETA for WW deployment.

[2020-08-18 11:46] i524304 commented on #4559
Hi @JasonSowers,

I am also experiencing the same issue with direct line channel.

There was an error sending this message to your bot: HTTP status code GatewayTimeout | \|3ec0e04aa45cff4ab634389490730959.91e2440c_

Could you please help me?

Kind regards
Vaishnavi.
-- | --

[2020-08-18 11:47] DreamBlack opened #5988 "Cannot get full channel members after send proactive messages in Teams Channel"
## Version
"Microsoft.Bot.Builder" Version="4.7.2"
 "Microsoft.Bot.Builder.AI.QnA" Version="4.7.2"
"Microsoft.Bot.Builder.Dialogs" Version="4.7.2"
 "Microsoft.Bot.Builder.Integration.AspNet.Core" Version="4.5.1"
 "Microsoft.Bot.Builder.Integration.ApplicationInsights.Core" Version="4.7.2"

## Describe the bug
I have a team in Teams, and there are two channels under that team.
I sent proactive mess

[2020-08-19 07:27] amitkumariiit opened #6097 "Need API to know whether conversation exists or not"
**Is your feature request related to a problem? Please describe.**

We have a usecase in which we use to reply/update/delete to the existing conversation and sometime while performing this operation we get an error with code `ConversationNotFound`. We have observed sometime that we are able to reply to the conversation even if for the particular conversation we had received `ConversationNotFound`

[2020-08-19 18:05] GDreyV opened #5990 "Token exchange endpoint not called with refresh_token"
Might be related to the https://github.com/microsoft/botframework-sdk/issues/3705
Related question: https://stackoverflow.com/questions/63442894/microsoft-teams-bot-debug-refresh-token-flow

While development of a Microsoft Teams Bot I faced a problem that refresh token endpoint is never called. I believe it's my mistake in configurations but I can't find any details what exactly is going wrong. W

[2020-08-20 04:42] rungsoso opened #5991 "Why Line channel alway send push messages"
The [Line channel ](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-line?view=azure-bot-service-4.0) Why is Line channel alway reply user by sending push messages(Paid message)? Why not send a reply message(free message) that can be sent up to 5 messages?

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should

[2020-08-20 06:59] hibrenda opened #5992 "ValueRecognizer does not work well under CrossTrainedRecognizer"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Describe the bug
Adaptive Card payload can't be recognized under crosstrain recognizer

## To Reproduce
Steps to reproduce the behavior:

In Composer QnA branch
- Create lui

[2020-08-20 18:05] cleemullins opened #5993 "Rename master to main on all BF Repos"
We need to rename the "master" branch to "main" on the following repos:

- [x] BotFramework-SDK
- [x] BotFramework-Samples
- [x] BotFramework-Emulator
- [ ] BotFramework-Web Chat
- [ ] BotFramework-Solutions
- [x] BotFramework-Skills
- [x] BotBuilder-dotnet
- [x] BotBuilder-js
- [x] BotBuilder-java
- [x] BotBuilder-python
- [x] BotBuilder-V3
- [ ] BotFramework-DirectLineJS
- [x] BotFramework-Direc

[2020-08-20 20:27] EricDahlvang opened #5994 "DCR: AdaptiveExpressions library should be in a separate repository"
Consider moving AdaptiveExpressions  out of the BotBuilder repository, into its own repo.

One reason in particular is the build process in each repository is affected by changes to this library.  AdaptiveExpressions could be much more isolated and just pulled in as a dependency.

[2020-08-20 23:52] stevengum commented on #5994
I think there is some value in having it separate repository. From the perspective of botbuilder-js, we've had quite a few CI issues due to transient failures stemming from this library.|

That said, moving it to another repository could be contentious 😅

[2020-08-21 20:33] armiantos opened #5996 "TaskModuleResponseBase.type is missing an enum"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

botbuilder@4.8.0

## Describe the bug
Give a clear and concise description of what the bug is.

MessagingExtensionAct

[2020-08-23 08:33] Reda-Eladnani opened #5998 "Channeldata on microsoft botbuilder Cards."
How can I work with **channeldata** (**sourceEvent** for example) on **botbuilder 4.9.0**?
To let you know I'm working on a **microsoft azure bot on messenger using botbuilder 4.9.3 node.js**. I need to do an messenger bot **account_linking**, and apparently **signinCard** does not have the **account_linking button type**. Any suggestions?

[code]

[2020-08-23 15:26] Adityagrao opened #5999 "Virtual Assistant Template for Python"
## Issue
I have seen the assistant template for C# and Typescript, would the team consider adding a python template too? something with cookie-cutter maybe?

## Proposed change

Add Template for Python codebase with deployment scripts

## Customer Impact

To bootstrap python bot development with a Virtual assistant  template

[2020-08-23 15:30] #5999 closed, assigned to nobody

[2020-08-24 09:35] pborisovich94 opened #6000 "Authorization has been denied for this request (Skype REST API)"
Good evening, community experts.

I was integrating my application with Skype using the REST API (Bot Framework). Everything worked perfectly until today.
In the morning, while checking the functionality of the application, I noticed that the bot's response did not displayed in Skype. I decided to send a message through «Postman», and I received the following response:
[code]
I thought there might

[2020-08-24 15:08] suchitagarwal opened #6001 "Missing replyToId in payload from invoke"
## Version
AdaptiveCard 1.3

## Describe the bug
I have a bot in Microsoft Teams, that I am using the REST APIs for managing. I send a card with an invoke action as follows:

[code]

The button renders correctly, and sends the following body over HTTP POST when clicked:

[code]

Notice, however, that the message received is missing the replyToId. How can I get that back to the server so I can upda

[2020-08-24 18:06] lauren-mills commented on #5990
@stevkan - can you provide a status here?

[2020-08-24 18:19] GDreyV commented on #5990
Please let me know if you need additional details like bot id or anything else.
I managed to reproduce the issue locally but also see the issue on production environment - there is no calls on token exchange url in nginx access log (so it's not application level).

[2020-08-24 18:53] suchitagarwal commented on #6001
Thanks for triaging @clearab. @tacri Please let me know if I can provide any extra information. Thanks a lot for your help/.

[2020-08-24 18:58] v-kydela commented on #5998
Thank you for the question, @Reda-Eladnani. I'm going to close this here so it can be handled on Stack Overflow: https://stackoverflow.com/questions/63544617/how-can-i-make-a-channeldata-on-cards

[2020-08-24 18:58] #5998 closed

[2020-08-24 21:05] Virtual-Josh opened #6002 "Skills functional testing scenarios dumping ground"
**P-0 Scenarios**
- ~Echo~
- Perform multi-turn dialogs, with child dialog/prompts
- Authentication
  - SSO
  - OAuth prompt
  - OAuth card
  - OAuth input
 Send proactive messages
- Receive and respond to invoke Activities
- Send cards and respond to card actions
  - Adaptive Card
    - Action.Submit
    - Action.Execute (AC 2.0)
  - Suggested Actions
  - Non-invoke actions (ImBack)

**P-1 Scenar

[2020-08-24 21:23] #5805 closed

[2020-08-24 22:36] dmvtech commented on #6000
As you may know bots within Skype are (are being) deprecated. Skype is scaling down their integration and support for bots. It's possible that they changed something on their backend as part of their regression. Ultimately, because we (Bot Framework) aren't in their pipeline, we have no knowledge what that might have been, _if anything_. I would suggest sending an email to skypebotsupport@microsof

[2020-08-25 01:00] GDreyV commented on #5990
@stevkan, I'm tasting using two bots: f1d676ab-0d2c-4afe-a9be-0af4528949ce is more production and for local testing fc6bb881-643e-4990-8e22-c188f9138e17.

For both bots token exchange url is set on "OAuth Connection Settings" page. I added new oauth provider and filled in all fields. To issue token I'm using https://github.com/openiddict/openiddict-core library. I'm not sure what you mean retrieve

[2020-08-25 10:04] Vigneshramkumar opened #6003 "how to have single bot framework V4 C# project for multiple bots in Azure"
Hello All,

We have already implemented a bot in Teams using Azure Bot Service(Bot Channels Registration). We are using MS Bot framework V4. Currently we got a requirement for creating multiple bots in Azure for different teams in our organisation. We can create multiple bots in azure portal, but shall we use the same existing bot framework V4 C# project(endpoint) for multiple bots in azure. I ref

[2020-08-25 16:36] v-kydela commented on #6003
Thank you for the question, @Vigneshramkumar. I'm going to close this here so it can be handled on Stack Overflow: https://stackoverflow.com/questions/63566228/how-to-have-single-bot-framework-v4-c-sharp-project-for-multiple-bots-in-azure

[2020-08-25 16:36] #6003 closed

[2020-08-26 09:12] pborisovich94 commented on #6000
Hello! Thanks for the answer.
Unfortunately, I faced the problem of inability to send a letter to skypebotsupport@microsoft.com due to the fact that the skypebotsupport group only accepts messages from people in its organization or on its allowed senders list, and my email address isn't on the list.

[2020-08-26 18:13] pavolum commented on #5623
We are evaluating this for our next upcoming release, thanks for the request!

[2020-08-26 19:36] scheyal opened #6005 "Allow for quick responses bypassing middleware (equiv to V3). BotFrameworkAdapter processActivity is returning an HTTP response only after middlewares and activity processing."
Capturing multiple customer & 1P feature requests.

This is a feature request, which comes up a lot.  This would be a javascript answer for:  See related issue #5665.  (and other issues, primarily related to 15 second timeouts …. something many bots run into)

See also: https://github.com/microsoft/botframework-sdk/issues/5665#issuecomment-670805310 ).

[2020-08-26 19:43] lauren-mills commented on #5623
Removing customer labels since @yochay was on the team at the time of creation.

[2020-08-26 22:35] stevkan commented on #5990
Which service provider from the list did you choose and can you provide me with the values you populated it with (don't post any actual secret/key values)?

As for the `openiddict` library, could there be a default token expiry value being passed in? Given that the token disappears at 5 mins seems suggestive of that. Or, perhaps the token is getting refreshed resulting in a `null` value on the ori

[2020-08-26 23:54] GDreyV commented on #5990
I selected `Generic Oauth 2` and values are:
Name: oauth-provider
Client id: microsoft-teams-bot
Client secret: ***
Authorization URL: https://domain.io/connect/authorize
Token URL: https://domain.io/connect/token
Refresh URL: https://domain.io/connect/refresh
Token Exchange URL: https://domain.io/connect/token
Scopes: email offline_access

The problem was that I was looking at exchange endpoint b

[2020-08-26 23:54] #5990 closed

[2020-08-27 07:07] pankajmi2 opened #6006 "Add support for CacheInfo in Bot invoke response"
## Issue
To improve performance of Teams App, Teams will cache bot invoke response starting with dynamic commands. The cache storage policy can be specified by the bot as part of the invoke response. This request has been raised to enable that support for the bots.

## Proposed change
Proposing to add support for cacheInfo field in all invoke responses. The below is one of the sample bot invoke re

[2020-08-27 16:19] clearab commented on #6006
@pankajmi2 looks good, thanks! I'll get it sized and prioritized.

[2020-08-27 16:19] clearab commented on #6006
@pankajmi2 do you have an estimated R4/GA date?

[2020-08-27 20:04] dandriscoll commented on #5827
We have a normalized field in the protocol, `localtimestamp`, that's designed for this purpose. Is that field not suitable?

[2020-08-27 21:57] BruceHaley opened #6007 "Renew ESRP authentication (request signing certificate)"
Expires 10/30/2020.

"[90 Days Notice - ACTION REQUIRED] Your ESRP authentication (request signing certificate) is soon to expire, for ESRP registration Bot Framework FUSE Labs"

[2020-08-28 09:03] cocsci commented on #4874
if still anyone ran up to this problem after deploying on Azure while everything works fine locally, just go to your Web App page in Azure protal and under "Configuration"section add a new environmental variable `ConnectionName` with the value of whatever your connection name is in your bot setting.

[2020-08-28 18:30] dacopan opened #6008 "Bot created not listed in dev.botframework.com"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Not using sdk

## Describe the bug
I've created bot a few months ago (https://dev.botframework.com/), it is working now i can chat with it in Teams, but from a few d

[2020-08-28 18:55] dmvtech commented on #6000
Thanks @pborisovich94

the skypebotsupport group only accepts messages from people in its organization

Ah, bummer. Sorry about that. Ok, let me see if I can find any other route/information for you.

[2020-08-28 21:44] clearab commented on #6006
Blocked reason: Need clarification on timeline and JSON payloads.

[2020-08-31 10:11] godwin3737 opened #6009 "Slack Channel Interactive message buttons wordwrap"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.9.2

## Describe the bug
In Slack Channel Buttons with longer text are cut short instead of wordwrap.

## To Reproduce
Steps to reproduce the behavior:
1. Follow t

[2020-08-31 16:25] munozemilio opened #6011 "Bring @microsoft/bf-lu from bf cli repo"
[bf-lu](https://github.com/microsoft/botframework-cli/tree/main/packages/lu) should be moved to this repo given C# parser will be here.
All references in bf cli should point to @microsoft/bf-lu@next.
Only one set of Lexer and Parser files should be maintained and both C# and JS runtimes should be generated from that unique set.

[2020-08-31 16:30] munozemilio opened #6012 "Build Infrastructure for LU parsers"
A new build infrastructure should be created to build and tests parsers on every PR, publish daily, RC and production builds.
Ideally this should be YAML driven.

[2020-08-31 16:33] munozemilio opened #6013 "Generate antlr C# runtime and port luParser.js"
Create a new nuget package.
Generate C# antlr runtime from the same Lexer and Parser Files in the JS implementation
Port [luParser.js](https://github.com/microsoft/botframework-sdk/blob/main/parsers/LU/JS/packages/lu/src/parser/lufile/luParser.js)

[2020-08-31 16:45] kbatsuren opened #6014 "MS teams List card is not displaying the Mongolian letter 'м' (unicode number - 1084) on Mobile app."
I am using the bot framework sdk v4 on Micrsofot Teams. The main language of this app is Mongolian, and we experienced this issue of not displaying the cyrillic letter 'м' (unicode number - 1084) in MS Teams List card.

It is working fine on other platforms like Web Application or Desktop Application, but only the mobile version (here I am using IPhone 8 with the 13.3.1 ios version). Also the lett

[2020-08-31 16:53] munozemilio opened #6015 "Exctract LU parser from bf-lu"
As today @microsoft/bf-lu exposes  luis build, qna build, luis test, qna test, lu parsing and qna parsing.
@microsoft/bf-lu responsibility should be to parse LU/QNA content only. Everything else should be split into a second npm package

[2020-08-31 16:57] munozemilio opened #6016 "Testing parity in JS and C# LU parser"
Ensure testing parity on both parsers

[2020-08-31 16:59] kbatsuren commented on #6014
I have just updated the latest version of MS Teams on IOS mobile version (2.0.20), but still facing the same issue.

[2020-08-31 17:03] kbatsuren commented on #6014
json list card -
{
            "contentType": "application/vnd.microsoft.teams.card.list",
            "content": {
                "title": "Нийт 1 ажилтан оллоо.",
                "items": [{
                "type": "person",
                "id": amarsanaag@num.edu.mn,
                "title": "Амарсанаа Ганболд",
                "subtitle": "муис хшуис",
                "tap": {

[2020-08-31 17:26] munozemilio opened #6017 "Update Lexer/Parser"
From Vishwac's email:

This is what is missing from the grammar today for intent and entities.

intentBody
    : normalUtteranceString (equivalent of normalIntentString today)
    | utteranceWithLabelledEntityValue
    | pattern
    | regex
    | importReference

utteranceWithLabelledEntityValue
    : WS* DASH textWithLabelledEntity

textWithLabelledEntity
    : TEXT (entityLabel)+ TEXT? entityLab

[2020-09-01 18:09] stevkan commented on #6009
@godwin3737, this is a channel-specific feature and is, generally, not in the control of BotFramework. In some cases, 3rd party channels (like Slack) provide the ability to pass in specific commands in the activities `ChannelData` property. I am not aware if Slack offers the ability to word wrap buttons. You will need to reference their developer API [docs](https://api.slack.com/) or reach out to

[2020-09-01 18:09] #6009 closed

[2020-09-01 22:41] gabog opened #6019 "SkillDialog doesn't call SkillConversationIdFactory.DeleteConversationReference when using ExpectReplies"
## Version
4.10.

## Describe the bug
This issue was originally reported by @alopix [here](https://github.com/microsoft/botbuilder-js/issues/2712).

## To Reproduce
See original bug report.

## Expected behavior
SkillDialog should call SkillConversationIdFactory.DeleteConversationReference when using Activity.DeliveryMode = ExpectReplies.

## Tracking Status

**Dotnet SDK** [4567](https://github.c

[2020-09-02 16:10] clearab commented on #5891
Closing for now, will re-open if Teams decides to invest in this area.

[2020-09-02 16:10] #5891 closed

[2020-09-02 16:23] clearab commented on #6006
Update on the JSON payload above to be more generic.

[2020-09-02 16:53] munozemilio opened #6023 "Cleanup on bf-lu js parser parsed object"
To keep the LU Parser cleaner output of the parsed tree should be cleaned to be production ready.
Set appropriate naming to sections and entities
Add tests at this level

[2020-09-02 16:55] munozemilio opened #6024 "LU C# Parser"
Port the Luis Json parsing from [parsedFiledContents.js](https://github.com/microsoft/botframework-sdk/blob/main/parsers/LU/JS/packages/lu/src/parser/lufile/parseFileContents.js#L141)

[2020-09-04 04:45] Wajeed-msft commented on #6014
@kbatsuren  Tracking this in Microsoft Teams issues repo: https://github.com/MicrosoftDocs/msteams-docs/issues/2049
@clearab - Could you please close this from Bot Framework repo?

[2020-09-04 04:46] clearab commented on #6014
Thanks @Wajeed-msft!

[2020-09-04 04:46] #6014 closed

[2020-09-04 16:54] gabog opened #6025 "Writeup skills functional spect"
The working draft can be found here: https://github.com/microsoft/botframework-sdk/blob/clearab/skill-spec/specs/testing/skills/SkillsFunctionalTesting.md

[2020-09-08 16:28] clearab opened #6026 "Meeting notification alert bubble"
Teams is adding support for a bot to mark a message sent to a meeting chat that will cause the Teams client to render it in a notification popup as well as in the chat thread. The method for adding this alert is similar to the existing notification method.

To enable this functionality the bot developer would send an Activity to the meeting chat in the normal method, and add a `notification` objec

[2020-09-08 21:39] #5979 closed

[2020-09-08 21:55] dmvtech commented on #6000
Still working on it. Stand by.

[2020-09-08 23:58] clearab commented on #6001
Just got an update from the product team on this one, the fix has been checked in and is rolling through our deployment rings. It should be available in production in the next couple of weeks.

[2020-09-09 01:45] suchitagarwal commented on #6001
That's awesome! Thanks a lot for the update @clearab. I'll keep testing and leave a note here once I confirm.

[2020-09-09 11:52] MatthiasGwiozda commented on #4348
The problem with this solution is that if a user reloads the page, the event is triggered as well.

If the the bot saves the conversation, the conversation is not really "ended" because I can continue to talk with the bot after I have reloaded the page.

It depends on what you want to do with this event. But for me unfortunately this is very unhandy.

[2020-09-09 18:45] suchitagarwal commented on #6001
Hi @clearab I just tested this on the web app, and it's still happening. does the web app get updated using the same rolling deploy process as well?

[2020-09-09 21:58] JonathanFingold opened #6027 "Provide a way to query the SDK for what features a channel supports"
## Issue

Currently, the doc team supports a partial list of the features each channel supports, the [channel reference](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channels-reference?view=azure-bot-service-4.0).
1. The doc team has no good way to test this information.
1. The doc team needs to be told when to update information (for new channels or changes within existing chann

[2020-09-09 23:30] EricDahlvang commented on #6027
Maybe this could be added to the HealthCheck api, or something similar.  A specific bot might only support certain channels, or channel features.

[2020-09-10 05:14] gabog commented on #5918
Hi @benbrown, I think this has been done in several repos, can we close this issue or update it with tracking checkboxes to track which repos have been renamed and which ones are left?

[2020-09-10 06:49] rungsoso opened #6028 "How to hide the toxic comment from the Facebook page or reply to comments"
How to implement a chatbot on channel facebook page to detect toxic comments and hide comments or reply to comments.

## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against

[2020-09-10 13:20] benbrown commented on #5918
Sure thing, @gabog! Thanks for doing the laborious work to get this done!

[2020-09-10 13:53] gabog commented on #5918
I didn't do it @benbrown, the different repo owners did it :-).

In any case, I updated the issue description with a list of the repos I know and checked the ones that are done, would you be able to help reaching out to the repo owners of the ones that are not done and see if they can do it?

Thanks

PS: feel free to add any repos if I missed any of them.

[2020-09-10 13:56] benbrown commented on #5918
LOL I misread. I just assume you are out there busting chops on this. :)

Yes, I can do some reachouts! On it.

[2020-09-10 16:23] JonathanFingold commented on #6027
@mdrichardson I don't have the resources to test this on every channel, alas. Is this something the support team could do once a quarter to keep the card support table up to date? (I'd like to include all official channel-specific adapters in the table, too.) We can take this part of the discussion off line.

[2020-09-10 18:30] gabog opened #6031 "TranscriptLoggerMiddleware should exclude internal skill responses"
## Version
4.10.

## Describe the bug
We need to add logic to exclude internal skill messages from TranscriptLoggerMiddleware like we do in the [TanscriptLogger sample](https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/81.skills-skilldialog/DialogRootBot/Middleware/LoggerMiddleware.cs#L31).

## To Reproduce
TODO

## Expected behavior
The TranscriptLogger should no

[2020-09-10 20:16] BruceHaley commented on #6007
The ESRP signing auth cert has been updated. All Fuse Labs ESRP service connections have been updated with the new cert.

Secrets for creating new ESRP service connections are stored in Bot Connector Internal/BotFrameworkSDKPipelinesKeyVaultsRG/ESRPSigningKeyVault.

[2020-09-10 20:16] #6007 closed

[2020-09-11 12:18] konstlut commented on #6000
Hello @pborisovich94,
Please share your botid or precise time of the request so that we could correlate it in our logs.
Thank you!

[2020-09-11 12:31] pborisovich94 commented on #6000
Hello @konstlut,
Here is my botid: 28:47a93344-8ffc-4bd7-aa90-c63b61d1bb3e

[2020-09-11 13:35] konstlut commented on #6000
Thank you, @pborisovich94. Would it be possible to reproduce the problem today? I was checking the logs from Aug, 24 but didn't find any calls made from this bot.

[2020-09-11 13:43] pborisovich94 commented on #6000
@konstlut Just now I tried to send an HTTP request (from Postman) and I got an 401 error again
![Снимок экрана 2020-09-11 в 15 41 27](https://user-images.githubusercontent.com/54406143/92932491-4a9dd580-f445-11ea-8218-f3ee555f9a29.png)

[2020-09-11 13:49] konstlut commented on #6000
Could you you please post the full http request/response including headers (but excluding the authorization header). Thanks

[2020-09-11 13:52] pborisovich94 commented on #6000
@konstlut
Everything is the same as in the message header:
[code]

[2020-09-11 13:53] konstlut commented on #6000
@pborisovich94 I would appreciate the response headers.

[2020-09-11 13:54] pborisovich94 commented on #6000
@konstlut
Oh, sorry. Here they are:
![Снимок экрана 2020-09-11 в 15 54 37](https://user-images.githubusercontent.com/54406143/92933871-1b886380-f447-11ea-9802-468a94b4e67f.png)

[2020-09-11 13:57] gabog commented on #5736
Hi @lzc850612, I am closing this one, we can reopen or create a new one once @carlosscastro finishes defining the scope for the localization efforts.

[2020-09-11 13:57] #5736 closed

[2020-09-11 14:02] gabog commented on #5970
referenced this issue in #5930 (this feature request should be considered as part of resolving that).
closing it.

[2020-09-11 14:02] #5970 closed

[2020-09-11 14:48] Stevenic opened #6035 "Add setting for skill to persist conversation state across multiple invocations"
**Is your feature request related to a problem? Please describe.**
Today when you invoke a skill, each skill invocation gets a unique Conversation ID. That means there's no simple way of persisting state across skill invocations. I'm currently working around this issue by passing in a shared "skill" memory bag that my skills can persist shared information into. The issues with my current approach

[2020-09-11 15:08] gabog commented on #5738
Hi @clearab, do you think we should address this as part of R11? Or close it? or Backlog it?

[2020-09-11 15:11] gabog commented on #5677
Hi @carlosscastro / @dandriscoll , I think this would be useful for traceability, any thoughts on where in the payload we can put this based on the current OBI spec?

Thanks

[2020-09-11 16:10] dandriscoll commented on #5677
The `callerId` field is used to represent VA, can't the `from` field be the original user? The intent was to have state switching take `callerId` into account and have `from` reflect the original user, including their user ID and channel ID so none of that logic has to change.

[2020-09-11 16:26] cwhitten commented on #5738
@carlosscastro can you check in here? there could be overlap with the in-proc adapter modeling

[2020-09-11 16:43] munozemilio opened #6037 "LU Parser Sections API"
LU || LU [] --> {Sections, Errors} --> {Sections, Errors}

[2020-09-11 19:43] carlosscastro commented on #5677
@gabog @dandriscoll Organizing a call for this. The ideal outputof the call is to get enough consensus to write a detailed DCR that can translate to implementation without further unknowns.

[2020-09-11 19:44] carlosscastro commented on #5677
Also changed the title to reflect the need rather than to reflect a possible technical approach.

[2020-09-13 15:15] tomlm opened #6059 "TranscriptLoggerMiddleware is logging ContinueConversation events to transcript log"
## Version

4.10.3

## Describe the bug

When a skill calls back to the skill host the skill host creates a "ContinueConversation" event activity to get back into the context of the conversation.  This is essentially a temporary internal activity, but the TranscriptLogger is writing it to the transcript.  I don't think we want it logged to the transcript.

## To Reproduce

Look at logs when using

[2020-09-14 05:17] tsuwandy commented on #6028
@rungsoso, could you post this question on https://stackoverflow.com/questions/tagged/botframework?  See guidelines above.

I'll close this issue.  Thanks.

[2020-09-14 05:17] #6028 closed

[2020-09-14 05:20] tsuwandy commented on #6001
@clearab, when could the fix be tested on prod?

[2020-09-14 05:44] tsuwandy commented on #6006
@clearab, @johnataylor, any update on this?

[2020-09-14 17:23] clearab commented on #6001
Hi - it takes at least two weeks to roll through the deployment rings, so I wouldn't test until 9/21 at the earliest.

[2020-09-14 17:28] clearab commented on #6006
This has been added to the backlog of the current iteration. It will be part of the next SDK release in mid-November.

[2020-09-14 18:05] tdurnford commented on #5827
@tacri Do you have an ETA on completion?

[2020-09-14 23:26] clearab commented on #5827
No ETA, this is still in progress.

[2020-09-16 06:50] pborisovich94 commented on #6000
@konstlut Hi! I apologize for distracting. Is there any information? Is there something missing in my request? Thank you in advance!

[2020-09-16 14:09] gabog commented on #5368
This is stale, closing it.

[2020-09-16 14:09] #5368 closed

[2020-09-16 14:10] gabog commented on #5367
This is stale, closing it.

[2020-09-16 14:10] #5367 closed

[2020-09-16 14:10] gabog commented on #5366
This is stale, closing it.

[2020-09-16 14:10] #5366 closed

[2020-09-16 14:11] gabog commented on #5365
This is stale, closing it.

[2020-09-16 14:11] #5365 closed

[2020-09-16 14:12] gabog commented on #5360
This is stale, closing it.

[2020-09-16 14:12] #5360 closed

[2020-09-16 14:12] gabog commented on #5364
This is stale and is been partially addressed by TestScript, closing it.

[2020-09-16 14:12] #5364 closed

[2020-09-16 14:13] gabog commented on #5359
This is stale, closing it.

[2020-09-16 14:13] #5359 closed

[2020-09-16 14:13] gabog commented on #5358
This is stale, closing it.

[2020-09-16 14:13] #5358 closed

[2020-09-16 14:13] gabog commented on #5348
This is stale, closing it.

[2020-09-16 14:13] #5348 closed

[2020-09-16 14:14] gabog commented on #5351
This is stale, closing it.

[2020-09-16 14:14] #5351 closed

[2020-09-16 14:30] gabog commented on #5352
This is stale, closing it.

[2020-09-16 14:30] #5352 closed

[2020-09-16 14:30] gabog commented on #5353
This is stale, closing it.

[2020-09-16 14:30] #5353 closed

[2020-09-16 14:30] gabog commented on #5354
This is stale, closing it.

[2020-09-16 14:30] #5354 closed

[2020-09-16 14:30] #5355 closed

[2020-09-16 14:31] gabog commented on #5356
This is stale, closing it.

[2020-09-16 14:31] #5356 closed

[2020-09-16 14:31] gabog commented on #5357
This is stale, closing it.

[2020-09-16 14:31] #5357 closed

[2020-09-16 15:32] konstlut commented on #6000
@pborisovich94 , please accept my apologies for the delay. Is is possible that the jwt token supplied with the request in Authorization header is missing an important part - the jwt header. Can you please doublecheck the token that is being sent with the request. Ideally you could share an example of the expired token (tokens are issued for 1 hour) here.

[2020-09-16 20:09] stevengum opened #6042 "Add instructions to notification card for issues nearing expiration"
Nearing the end of the SLA, I was spammed about issue microsoft/botbuilder-js#2781, and then continued to be spammed after replying to the issue. After the 3rd ping-post reply I realized it might be because I had neglected to add the `customer-replied-to` label.

I hope that by adding the label, I won't receive another ping in ~21 minutes 😄

The card should include instructions indicating that the

[2020-09-16 21:12] haacked commented on #5025
This appears to be incorrect. The [docs](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-4.0&tabs=abs) clearly state that the redirect URL in the Slack portal needs to be https://slack.botframework.com/ if you're using the Azure Bot Service.

I tried the suggestion to change the redirect URL to something else and it didn't work. When I cl

[2020-09-16 21:55] haacked commented on #1316
Same I'm also having this problem. I documented my repro steps here: https://github.com/microsoft/botframework-sdk/issues/5025

The main issue is the redirect does not redirect to the Landing Page Url if I click the "Add to Slack" button in the Slack Portal. It does work if I use the "Add to Slack" button generated by the Azure Bot Service for the Slack Channel. It probably works because it contai

[2020-09-17 10:09] Way911 opened #6045 "onTeamsMembersAddedEvent not working in botbuilder js sdk"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
"botbuilder": "~4.9.0" and "botbuilder": "~4.10.0"

## Describe the bug
The official CoreBot project template has a welcome message [implemented](https://github.com/

[2020-09-17 10:16] bao1018 commented on #6045
Met the same issue, both `onTeamsMembersAddedEvent` and `onMemberAdded` event can not work, can anyone take a look ?

[2020-09-18 12:36] pborisovich94 commented on #6000
@konstlut God, I'm so embarrassed that I became a user who didn't bother to generate a new JWT token and test it`s work before screaming for help.
I am wildly sorry for wasting your precious time on a mediocre man like me. Through cURL, the request generated a new token, put it in the request and everything worked!
Before lagging behind you, I ask you to answer a few questions:
1. It turns out tha

[2020-09-18 15:48] konstlut commented on #6000
Hello @pborisovich94, I am happy to find you were able to resolve the issue.

` It turns out that this token needs to be replaced with a new one every 55-60 minutes when sending messages?`
Yes.

` How do you assess the future of the Bot Framework and work on the REST API? Will this way of interaction continue to live? Unfortunately, the SDK does not fit our application.`

This is the contract and

[2020-09-21 12:33] kksantosh opened #6048 "how can we add intent and utterances in luis through APIs in node js code"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the

[2020-09-21 14:05] gabog opened #6049 "Avoid sending typing activity when bot is invoked as skill"
## Version
4.10 and previous version.

## Describe the bug
See original issue reported by @sschutten [here](https://github.com/microsoft/botbuilder-dotnet/issues/4478).

## Tracking Status

**Dotnet SDK** [4478](https://github.com/microsoft/botbuilder-dotnet/issues/4478)
- [x] PR
- [x] Merged

**Javascript SDK** [2783](https://github.com/microsoft/botbuilder-js/issues/2783)
- [x] PR
- [x] Merged

[2020-09-21 16:05] tdurnford commented on #6048
**How to** questions such as this one are better suited for Stack Overflow. Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a BotFramework implementation, you can post a question to the [BotFramework](https://stackoverflow.com/questions/tagged/botframework) tag. Thank you!

[2020-09-21 16:05] #6048 closed

[2020-09-21 16:47] mdrichardson commented on #6048
Note: @kksantosh did open a SO question [here](https://stackoverflow.com/questions/63992408/how-can-we-add-intent-and-utternces-in-luis-through-apis-in-node-js-code). Thanks for closing, @tdurnford

[2020-09-21 18:11] tdurnford commented on #5827
@clearab For an appropriate response we need an idea of when this will be addressed. Should we assume this on the unprioritized backlog?

[2020-09-21 18:16] clearab commented on #5827
The work isn't on the Bot Framework team to complete. The Teams team is currently working on fixing and deploying this.

[2020-09-21 18:52] garypretty commented on #5897
@tracyboehrer this is done now right?

[2020-09-21 18:56] tracyboehrer commented on #5897
Yes

[2020-09-21 18:59] garypretty commented on #5880
@cleemullins @mrivera-ms assigning to you for re-assignment. Thanks.

[2020-09-22 01:15] EricDahlvang commented on #5880
AzureBlobTranscriptStore is now deprecated in place of https://docs.microsoft.com/en-us/dotnet/api/microsoft.bot.builder.azure.blobs.blobstranscriptstore Hopefully, this helps with some of the performance issues.. I have not tested to verify any difference.

Nonetheless, the current story around our transcript interfaces and Blob Transcript implementations is that they are not useful for 1) any no

[2020-09-22 01:15] #5880 closed

[2020-09-22 01:25] EricDahlvang commented on #5880
Also, we are no longer awaiting this Task : https://github.com/microsoft/botbuilder-dotnet/pull/4681  which will certainly address the performance issues! (in an awkward way)

[2020-09-22 17:56] dmvtech commented on #6000
Closing as resolved. Thanks @konstlut!

[2020-09-22 17:56] #6000 closed

[2020-09-22 20:26] melih154 opened #6054 "401 Unauthorized on Messages/POST"
Bot Info
SDK Platform: .NET Core 3.1
NuGet packages: All up to date
Active Channels: Direct Line, Web Chat
Bot Builder Version: 4.10
Deployment Environment: Azure, local development with Emulator
Azure Bot Id: app-docbot-l-dev-devint-uks-bot-app
Microsoft App Id: d51ecacb-66d3-46ca-ac6e-af432df23dae

Have tried all the steps in [Troubleshooting Bot Framework authentication](https://docs.microsoft.

[2020-09-22 23:10] clearab commented on #5827
ETA for global rollout across all clients is Q4 2020.

[2020-09-22 23:11] clearab commented on #6001
This should now be rolled out globally, please reopen if you're still experiencing the issue.

[2020-09-22 23:11] #6001 closed

[2020-09-22 23:15] clearab commented on #6045
Thank you for reporting - could one of you supply us a botId and an approximate timestamp for when the message was missed so we can investigate in our logs further?

[2020-09-23 07:43] noamanag commented on #1987
I couldn't open this link,
any idea how I could access the data passes in the iframe src in the bot?
I am using nodejs
thanks

[2020-09-23 10:44] Way911 commented on #6045
Yes, the bot id is : af941359-c07e-42c8-9de2-52af0b06e6a1 , the approximate timestamp is one hour before we left the comment, around Sep 17, 2020, 5:00 PM GMT+8.

[2020-09-23 16:47] dmvtech commented on #6054
Hi @melih154

Just a few questions first to clarify:

 - This is a bot deployed to Azure, and is failing there. But you mentioned dev environment is local+Emulator. I'm assuming it still works there with the new secret/MicrosoftAppPassword?

 - For the deployed bot, regarding "new password set on MicrosoftAppPassword on app config and bot settings". Can you confirm this means both within the App S

[2020-09-23 18:12] melih154 commented on #6054
Hi @dmvtech

Sorry for confusion.

- Bot deployed to Azure and failing there. Works locally once MicrosoftAppId and MicrosofAppPassword set.
- AAD App secret set as MicrosoftAppPassword of App service configuration. appsettings.json does not contain MicrosoftAppId and MicrosoftAppPassword.

[2020-09-24 17:58] stevengum opened #6056 "Enable az bot prepare-deploy to output iisnode web.config for DL-ASE"
## Issue

Performing manual edits to the iisnode web.config for JavaScript and TypeScript bots to successfully use Direct Line ASE is odious and can take a few tries to get it correct ([DL-ASE + Node.js bot docs](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-node-bot?view=azure-bot-service-4.0)). It would be nicer if `az bot prepare-deploy --lang <java

[2020-09-25 00:01] HuaTang92 opened #6057 "[Question] How to display data in Table format with Webchat channel and .NET SDK?"
Hi,

I have a similar question to this one: https://github.com/microsoft/botframework-sdk/issues/2785 but with a different channel and SDK.
I have some table data can be presented in either html or markdown. Is it possible to have it render in bot as a table without implementing my own converter from html/markdown table to ColumnSet?

I've tried these but it doesn't work.
[code]

Thanks

[2020-09-25 02:15] tacri commented on #6045
@Way911 , could you please clarify how is the app installed in Teams? Are you uploading the manifest for the tenant or for the user? Trying to understand what does exactly this mean:
_New teams member open a link to chat with bot for the first time. He has never opened chat bot before._

[2020-09-25 17:36] JonathanFingold commented on #5934
Working with simplified architecture diagrams to start with, without adding a specific architecture article. An updated version of the first concept article, **How bots work**, is the closest we will have in the near term.

![what-is-a-bot](https://user-images.githubusercontent.com/35047199/94298076-5cd64400-ff1a-11ea-8e05-98ba029b1181.png)
![how-bots-work](https://user-images.githubusercontent.co

[2020-09-26 07:13] hugh102575 commented on #1465
i hate facebook

[2020-09-27 13:11] iTKerry opened #6058 "Feature Request: Viber support?"
There were more than five issues related to Viber support for 4 years. Are there really no plans for this?

[2020-09-28 18:18] ninggao commented on #6058
@iTKerry Currently we don't have a product plan to support Viber. You may refer to this open source repo (https://github.com/BotBuilderCommunity/) for Viber related community contributions.

[2020-09-28 18:18] #6058 closed

[2020-09-29 05:04] gabog commented on #6031
This issue should be addressed as part of #6059, closing it.

[2020-09-29 05:04] #6031 closed

[2020-09-30 10:10] RahulSalunke64 opened #6060 "Microsoft bot framework message edit doesn't fired the event"
In Microsoft bot framework, using C# , I am trying the catch up with Edit Message event. But unfortunately it is not hitting the any event to bot endpoint. users can edit their previously sent messages in MS Teams, so is there a way to listen to that edit message event from the bots side?

Noted Point : when I react on any message from bot then i can get the 'OnMessageReactionActivityAsync' event

[2020-09-30 11:10] dejancg opened #6061 "GetAadTokensAsync calls the wrong token endpoint, contrary to what was configured in Azure Portal Bot Channels Registration"
## Version
Using Microsoft.Bot.Builder v4.10.3 with Microsoft Teams

## Describe the bug
`IUserTokenProvider.GetAadTokensAsync` doesn't call the token endpoint configured in Azure Portal - Bot Channels Registration - Settings. Instead, it calls what seems to be a hardcoded relative path `/connect/oauth2/token`.

## To Reproduce
Steps to reproduce the behavior:
1. Go to *Azure Portal -> Bot Channel

[2020-09-30 18:03] ninggao commented on #6060
@EricDahlvang Could you please take a look at this?

[2020-09-30 18:26] EricDahlvang commented on #6060
Hi @RahulSalunke64

Unfortunately, MS Teams does not forward the bot edit or delete activities.  If you feel this feature would be useful, please make a request here: https://microsoftteams.uservoice.com/

[2020-09-30 18:28] EricDahlvang commented on #6060
Also, this page describes some other ways to contact the Teams team: https://aka.ms/teamsdevfeedback

[2020-09-30 18:28] #6060 closed

[2020-10-01 11:40] kandy99 opened #6063 "The converastion State is not persistent for the proactive notification"
I create a chatbot that is able to send a proactive notification but when I publish the bot again it loses its conversation reference
There are not enough resources/example for the same to maintain the conversation refrence

[2020-10-01 12:29] Debro012 opened #6064 "Request for The Ability to Proactively Create Group Conversations in MS Teams"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2020-10-01 12:31] Debro012 commented on #6064
#5661

[2020-10-01 13:24] rudibr78 opened #6065 "Slack button throwing error"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
node js botbuilder 3.10

## Describe the bug
Slack bot is receiving and answering messages just fine, but whenever a button is clicked it throws an error : {error: "

[2020-10-01 13:58] johseffer opened #6066 "ConfirmPrompt causing duplicated message when set Context.Activity.Locale to "pt-BR""
## Version
4.10.2

## Describe the bug
I have used the comfirm prompt to ask the user if he want to talk with a human agent. My code is work fine but the options are displayed in english and i need to translate to portuguese:
![image](https://user-images.githubusercontent.com/25435217/94817299-42491280-03d3-11eb-8517-85ec1b898cc7.png)

And if i click in "No" option, he give me another question:
![

[2020-10-01 14:42] llcranmer commented on #6065
I'm facing a similar issue, not using the bot framework, have set up a Netlify lambda that listens for the POST. But the POST is never making it outside of the slack chat page. When I inspect the console I see almost the exact same as Ruby.

[code]

Previously, I saw an error that stated Origin is not the same 'https://slack.com' vs 'https://app.slack.com' but that message has seem to have gone aw

[2020-10-01 17:41] v-kydela commented on #6063
Thank you for the report, @kandy99. I would like to help and I have a few questions.

1. Are you using Bot Builder SDK v4?
1. What language is your bot written in?
1. What channel(s) is your bot connecting to?
1. Are you saving conversation references in the bot's local memory or in persistent state storage?

[2020-10-01 19:25] sgellock commented on #6064
@clearab, can you drive this one?

[2020-10-01 19:57] clearab commented on #6064
Hello - Thank you for reaching out with this request. This is something that I know the Teams group has considered in the past, but has so far declined to support due to (I believe) privacy and spam concerns. If you'd like to see it reconsidered the best path forward would be to create and vote for the feature on their UserVoice board here: https://microsoftteams.uservoice.com/forums/555103-public

[2020-10-01 19:57] #6064 closed

[2020-10-01 22:15] stevkan commented on #6065
@rudibr78, I'm not able to repro the issue in either the browser or desktop app. I'm sending a hero card with a simple yes/no option that sends a postback with the associated values. No errors are detected, the bot responds normally, and the response displays as expected in Slack.

![image](https://user-images.githubusercontent.com/18403946/94865688-e55d5480-03f2-11eb-96dc-632f1798ad6d.png)

I did

[2020-10-01 23:31] dmvtech commented on #6054
Thanks @melih154

A few more questions:

 - Is this a bot in production?
 - Does this bot work with `Test in Web Chat`?
 - Is it only `Web Chat `and `Direct Line` that are failing?

Regarding:

Can you give more info or link to that bug?

 To help rule some things out, is it possible to do the following?:

- Create a new echo bot locally
- Configure MicrosoftAppId and MicrosoftAppPassword in appse

[2020-10-02 02:23] matthiasdilger commented on #5827
Q4 is here - keeping my fingers crossed 🤞

[2020-10-02 08:11] kandy99 commented on #6063
@v-kydela Thanks for the responding
1 yes I am using bot framework v4
2 C#
3 Microsoft Teams
4 I am using blob storage but for the conversation reference even I save it in the blob there is not enough samples that can let me understand how to retrieve them whenever bot is published for the proactive notification (message)

[2020-10-02 16:40] #6012 closed

[2020-10-02 16:41] #6013 closed

[2020-10-03 14:01] Way911 commented on #6045
We didn't install the app in Teams. We connected Team channel by following instructions.
https://docs.microsoft.com/en-us/azure/bot-service/channel-connect-teams?view=azure-bot-service-4.0
User open bot by this link :  https://teams.microsoft.com/l/chat/0/0?users=28:af941359-c07e-42c8-9de2-52af0b06e6a1

[2020-10-03 19:51] melih154 commented on #6054
- Bot is on DEV
- Does not work wtih Test in Web Chat
- All channels (Web Chat, Direct Line and Teams) failing

- Re bug: https://github.com/Azure-Samples/active-directory-dotnet-webapp-roleclaims/issues/19#issuecomment-299530241

- Corporate policy does not allow installation of ngrok. Is there any other ways to help on ruling out things?

[2020-10-05 15:42] clearab commented on #6045
Ah, ok. this is the expected behavior then. As is outlined at the top of the doc page you linked to, this isn't really recommended for use in production systems. The recommended path is to install your bot as part of an app - that will cause the event to fire at install time. When deep-linking directly to the chat with your bot the event will not fire until the user interacts with the bot.

[2020-10-05 15:42] #6045 closed

[2020-10-05 16:46] carlosscastro commented on #5767
@lzc850612 is booked and cannot implement this in R11 (and I'll be on leave soon). Moving to R12 and we'll plan ahead to make sure we have owners for this then.

[2020-10-05 18:24] stevengum commented on #5767
@carlosscastro I can chip in for this work in R12 once I get up to speed. I'd like to ensure that this feature lands.

[2020-10-06 13:59] scipe opened #6070 "Typing indicator not working in slack"
Typing indicator not working in slack, but works in MS Teams.

## Version (NodeJS)
    "botbuilder-adapter-slack": "^1.0.13",
    "botbuilder-storage-mongodb": "^0.9.5",
    "botkit": "^4.10.0",

## Describe the bug
I trying to send "typing" indicator to MS Teams and Slack. It working great in MS Teams, but not working at all in Slack.

## To Reproduce
```await this.bot.reply(this.message, { type:

[2020-10-06 15:42] melih154 commented on #6054
@dmvtech

Working with corporate Azure Platform team, we are thinking that any bot channel hosted on *.devframework.com is not able to access app service URL ('***.custom-domain-name.com' ) that is hosting bot, as it is on a private VNET.

Is there any network architecture diagram on how Bot messaging works? Ie. How message goes through hops from Web Chat to Bot app. Network inspection shows that

[2020-10-06 16:03] mdrichardson commented on #5977
@johnataylor @cleemullins @mrivera-ms @stevengum

Do we have a direction we want to go with this? It's related to [this issue](https://github.com/microsoft/botbuilder-js/issues/2677) which is tagged for R11, but I've been holding off on tackling it since any new tests will likely use some implementation of `nock`.

[2020-10-06 16:44] stevengum commented on #5977
Let's loop @joshgummersall in on this discussion. At the moment it seems like a spike/implementation will be done in botbuilder-js first, so he might have some valuable insight/pointers on JS/TS-specific implementations.

A valuable first pass might be setting something up for fetching tokens from AAD (for AppCredentials). There's only one HTTP request per AppCredentials subclass and it's a buildi

[2020-10-06 18:28] stevkan commented on #6065
Closing this issue as it appears to be Slack-specific.

[2020-10-06 18:28] #6065 closed

[2020-10-06 19:09] clearab commented on #5996
this may have already been fixed

[2020-10-06 19:09] clearab commented on #5996
Need to validate other languages, probably only in TypeScript

[2020-10-06 19:14] joshgummersall commented on #5996
@clearab missing in dotnet (see [here](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Schema/Teams/Generated/MessagingExtensionAction.cs#L43) and [here](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder/Teams/TeamsActivityHandler.cs#L264)).

[2020-10-06 19:29] clearab commented on #5996
Digging into this one a bit - edit and send are the correction options for `botMessagePreviewResponse`. I'm going to close this, please re-open if you have additional information.

[2020-10-06 19:29] #5996 closed

[2020-10-06 21:15] dmvtech commented on #6070
Hi @scipe Unfortunately, the typing activity is not supported in Slack. See [here ](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channels-reference?view=azure-bot-service-4.0#slack)and [here ](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channels-reference?view=azure-bot-service-4.0#uncategorized)for more information.

[2020-10-07 15:04] AnatolyArt opened #6071 "Authorization has been denied for this request"
I'm trying to send a message to the user (myself) via Skype from the bot, but I get the error {"message":"Authorization has been denied for this request."}

I get jwt token by url: https://login.microsoftonline.com/common/oauth2/v2.0/token
then i try to send message
`POST /apis/v3/conversations/8:live:ds-1990/activities HTTP/1.1
Authorization: Bearer eyJ0eXAiOiJKV1QiLCJub25jZSI6IlRvanJGRHVVY3pCbXh

[2020-10-07 16:20] EricDahlvang commented on #6026
The existing `notification` object is defined as:

[code]

With the new fields:
[code]

What is the relationship between `alert` and `alertInMeeting`?  Should alert always be true, when alertInMeeting is true? or are these completely separate concepts?

What is `externalResourceUrl` used for?  How do I test this in Teams?

[2020-10-07 16:46] EricDahlvang commented on #5893
what is meetingId? where does this come from?

[2020-10-07 18:11] scipe commented on #6070
So, any chance to implement that?

[2020-10-07 19:07] clearab commented on #5893
They have to use the tab SDK or some other method to get it - there is currently no bot API to retrieve the meetingId.

[2020-10-07 19:09] clearab commented on #5893
That API is blocked on a bunch of permissions stuff they want to do with resource-specific consent in Graph.

@tacri - for testing how can we manually get the meetingId to use?

[2020-10-07 19:31] tracyboehrer commented on #6026
@clearab Do you know about the answers to Erics questions?  Or at least... what we should do so we're the same.

[2020-10-07 19:37] clearab commented on #6026
There's no direct relationship between alert and alertInMeeting. I'll share the link for the internal dev spec for details on the resourceUrl bit.

[2020-10-08 01:49] EricDahlvang commented on #5893
finally figured out a way to test this.

[2020-10-08 23:27] dmvtech commented on #6071
Hi @AnatolyArt Can you explain more of what you are attempting to accomplish? Is there a reason that you are trying to construct and send the activity in this manual way instead of using the SDK? Do you (already) have the Skype channel set up in your bot's channels? (FYI, as of this time last year, [bots are not longer able to be registered for the Skype channel](https://support.skype.com/en/faq/F

[2020-10-09 09:00] AnatolyArt commented on #6071
@dmvtech
My main task is to send a personal message to the user (company employee) on a specific event.
1)i registred bot at page https://dev.botframework.com/bots
2) add skype channel - https://i.ibb.co/yqT5B6c/bot-channels.png
3) i use php to work with bot, that's why I didn't use the SDK

[2020-10-12 10:42] poonam0025 opened #6075 "Can we send messages to any user using email id outside Microsoft teams specific team"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2020-10-12 13:16] AnatolyArt commented on #6071
@dmvtech  any ideas ?

[2020-10-12 15:48] jwiley84 commented on #6075
Hi @poonam0025 This repo is for bugs and feature requests. The bot framework team prefers **how-to** questions be asked on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) using the 'bot framework tag'.

[2020-10-12 15:48] #6075 closed

[2020-10-12 23:21] cleemullins commented on #6005
Why would the described behavior be wrong?

It seems that we want the Adapter to return an HTTP response after middleware and Activity Processing are done. A Middleware can choose to prevent other middleware from running and directly return an answer.

Could you elaborate on what's needed and why? I think sufficient flexibility in the system is already present to get the desired result.

[2020-10-12 23:26] cleemullins commented on #6005
@joshgummersall Can you take a look at this with fresh eyes, perhaps sync w/ @stevengum, and see if we can do something here to help the customers with their ask?

[2020-10-13 00:25] dmvtech commented on #6054
hi @melih154 Sorry for the delay.

I believe you mean dev.botframework.com (and there are other domains/connectors depending on the channel). But yes; you're going to have problems if the channel connectors cannot access the bot (app service).

I'll look for more, but [this is the general bot behavior article](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-basics?view=azure-bot-ser

[2020-10-13 02:22] rvinothrajendran opened #6076 "Is this Teams renamed API name has to change?"
## Describe the bug
Teams events Added, removed names align with the same format but rename event api name slightly different from others, I feel suffix name has to be remove.
on_teams_members_added  ❤
on_teams_members_removed ❤
**on_teams_team_renamed_activity** 💔

## Expected behavior
api name should be : **on_teams_team_renamed**

## Additional context
Add any other context about the problem he

[2020-10-13 02:24] rvinothrajendran commented on #6076
wrongly created

[2020-10-13 02:24] #6076 closed

[2020-10-13 02:32] clearab commented on #5893
@EricDahlvang @tracyboehrer @joshgummersall Updated the response payload again.

[2020-10-13 21:55] melih154 commented on #6054
Thanks @dmvtech as you and MS Developer Support Engineer pointed issue is App Service does not have public endpoint that channels can access.

[2020-10-13 21:55] #6054 closed

[2020-10-13 22:08] melih154 opened #6077 "Adaptive Dialog - ReplaceDialogAsync not invoking next step on second run"
## Version
4.10

## Describe the bug
CodeAction, executing ReplaceDialogAsync, executed only once instead of executing after each prompt dialog.

## To Reproduce
1. Create adaptive dialog with 2 steps. #1 - TextInput #2 - CodeAction
2. On Text Input, ensure AlwaysPrompt is set
3. On CodeAction return `return await dc.ReplaceDialogAsync(AppRegistrationDialog);`
4. Run project, enter an input, shoul

[2020-10-13 22:18] melih154 commented on #6077
My fault. Found out GoToAction allows subsequent steps executed, ReplaceDialogAsync does not.

I am still trying to find how to trigger MaxTurnCount on TextInput.

Validation done on next step (CodeInput - validation requires an external API call)

[2020-10-13 22:18] #6077 closed

[2020-10-13 22:48] dmvtech commented on #6054
I don't know much about it, but you might look into [Direct Line App Service Extension](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension?view=azure-bot-service-4.0). This would be _only_ if you are using webchat/directline for channels though. I don't know that it would work, but might be a direction to investigate.

[2020-10-13 23:04] dmvtech commented on #6054
A bit more info here: https://docs.microsoft.com/en-us/azure/app-service/environment/network-info

Also:

**'Test in WebChat' is not expected to work within an ILB ASE.** It calls out to the DirectLine channel and causes the channel to send a call to the bot's messaging endpoint. In most ASE or VNET scenarios that call will be blocked, but since the bot services doesn't have static IP addresses yo

[2020-10-15 16:50] cleemullins commented on #5868
Checked with @clearab and confirmed this remains blocked. Removing from the R11 iteration.

[2020-10-15 16:56] #5968 closed

[2020-10-15 18:04] clearab commented on #6006
Updated the issue to clarify that the `cacheInfo` object is valid in _all_ invoke responses from Teams.

[2020-10-15 18:30] cleemullins commented on #5912
Confirmed with @clearab that this is on-track for landing in R11.

[2020-10-16 04:44] knightmeister opened #6080 "Error handling around HTTP requests"
## Is your feature request related to a problem? Please describe.

Composer requires a way of handling errors that happen around sending HTTP requests. This includes validation errors from the framework itself (i.e. `x does not have an evaluator, it’s not a built-in function or a custom function.`) and errors when the HTTP request cannot be sent (i.e. server isn't running).

Presently the response

[2020-10-16 16:57] #6037 closed

[2020-10-16 18:13] ryanlengel commented on #6080
@EricDahlvang can you take a look at this issue? Thank you!

[2020-10-17 23:01] EricDahlvang commented on #6080
Hi @knightmeister

Have you tried using the On Error Dialog Event Trigger?
<img src="https://user-images.githubusercontent.com/11055362/96354829-e0093680-108f-11eb-9178-f817ab8ae334.png" width="400" height="400">

I modified the actions sample, to call an invalid url in the httprequest dialog:
<img src="https://user-images.githubusercontent.com/11055362/96354836-00d18c00-1090-11eb-996a-bfcb4b76180

[2020-10-19 02:24] knightmeister commented on #6080
Exactly what I was after, thanks.

[2020-10-19 03:28] #6080 closed

[2020-10-19 18:05] tamerin-tech opened #6081 "QnA Maker error 500"
Calling the QnA Maker API returns this error:
status code: 500
body:
{"error":{"code":"Unspecified","message":"Something happened. Please retry after some time."}}

the same happens when I try to test it directly on the qnamaker.ai platform

![image](https://user-images.githubusercontent.com/24475275/96494237-5ea7d480-1246-11eb-97f5-c19019e83c47.png)

note - I'm using Hebrew as the language for th

[2020-10-19 19:14] stevengum commented on #5827
@matthiasdilger I've reached out to Teams to see if they are still on track for the previously mentioned ETAs. Either a Teams member or I will provide an update ASAP.

[2020-10-19 20:11] stevengum commented on #5827
The ETA is still Q4 2020.

[2020-10-19 20:12] cahuertav commented on #6081
I have the same problem.
I'm using Spanish as the language for my KB language

[2020-10-19 20:26] scheyal commented on #6005
(Marked as R11 for visibility)

[2020-10-19 20:35] cleemullins commented on #6005
@EricDahlvang I don't think this will fit in R11, but we can prioritize for R12. Can you put together a design for this so that we can tackle in R12?

[2020-10-19 23:08] Stevenic commented on #6005
Adding my proposal for this feature from back in 2018

microsoft/botbuilder-dotnet#598

[2020-10-19 23:47] Stevenic commented on #6005
I've explored doing this with middleware in the past but there are 2 things that make doing this with middleware difficult:

1.  You would need to be able to both continue execution of the middleware pipe and return immediately which is impossible.
2.  Even if you could somehow fork the thread to achieve #1 you would need to replace the TurnContext with a clone given that it's disposed of once the

[2020-10-20 07:36] matthiasdilger commented on #5827
Hi @stevengum thanks for the update. It would be really great to have this field in the activity interface, would enable date calculations for all kinds of bot interactions via Teams.

[2020-10-20 11:15] sainikhilab opened #6083 "outline"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) where there is a robust community to help you

To file an issue against a component please go to the components repo
* [Create Azure Bot Framewor

[2020-10-20 12:32] AnatolyArt commented on #6071
someone can help ?

[2020-10-20 15:00] #6083 closed

[2020-10-20 18:55] anusharavindrar commented on #6081
@tamerin-tech, what specific operation are you trying to perform using the QnAMaker API? Do you get any additional error on the Dev Console(Ctrl + Shift + I) in the portal? Also, are you getting this error for a specific KB or it happens for the other KBs as well?

[2020-10-20 19:58] tamerin-tech commented on #6081
I mainly get this error when trying to use the qnamaker platform (qnamaker.ai)

[2020-10-21 10:24] skamranhaq commented on #6081
I am facing the same issue " Something happened. Please retry after some time." when using Azure QnA service and
Chinese-Simplifies as language. For English everything is running fine. Still, no resolution found.
After republish the app-service it starts working for a few requests but then the same error starts to occur.

[2020-10-21 11:50] saurav2107 opened #6084 "AdaptivCard submit action not working in waterfall dialog with Enterprise Bot template"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.9

## Describe the bug
When adding AdaptiveCard Dialog to present a input form to User having a submit button from within a waterfall dialog, which intern is calle

[2020-10-21 16:50] stevengum opened #6085 "Send Trace Activities only if environment is "development""
This request iterates on https://github.com/microsoft/botbuilder-dotnet/issues/4645

## Issue
There is a lot of trace activities being sent over the wire, when it's not required. Instead, trace activity generation should be based off of the bot's environment.

## Proposed change
Have TurnContext not send trace activities depending on the bot's environment.

- If the bot is in a `production` or `st

[2020-10-21 16:55] stevengum commented on #6085
One drawback is that Azure apparently doesn't set NODE_ENV when you specify Node.js as the stack runtime on code-approach Web Apps. However, using NODE_ENV is the norm for Node developers, so I believe we should use this anyways.

That said, we should update the ARM templates to set the NODE_ENV to production if it's true that Azure doesn't set it.

[2020-10-21 17:03] EricDahlvang commented on #6085
There are cases where tracing can be useful in production. (sidecar debugging a specific conversation)

[2020-10-21 17:23] stevengum commented on #6085
That sounds reasonable and could be easily addressed by using a BF-specific environment variable that defaults to the language-specific environment variable.

[code]

The initial ask's solution should be investigated more and we should probably reach out to partner teams to make sure we don't step on any toes.

[2020-10-21 18:37] cleemullins commented on #5993
R11 worked is wrapped up. Tracking issues for the remaining 3 items are created and assigned.

[2020-10-21 18:37] #5993 closed

[2020-10-21 18:40] cleemullins commented on #6025
Discussed w/ @gabog and the spec is in progress, but not needed to land as part of R11 (no code deliverable). Pushing to R12.

[2020-10-21 18:43] cleemullins commented on #6006
Spoke with @tracyboehrer and these should land in Java and Python today or tomorrow.

[2020-10-21 19:04] #6023 closed

[2020-10-22 12:20] gabog commented on #5726
dotnet, JS and Python are done, Java will be done in a future release

[2020-10-22 12:20] #5726 closed

[2020-10-22 12:21] gabog commented on #6059
dotnet, JS and Python are done, Java will be done in a future release

[2020-10-22 12:21] #6059 closed

[2020-10-22 12:21] gabog commented on #6049
dotnet, JS and Python are done, Java will be done in a future release

[2020-10-22 12:21] #6049 closed

[2020-10-22 12:22] #6019 closed

[2020-10-22 18:06] anusharavindrar commented on #6081
@tamerin-tech, can you answer my questions above to help understand the issue better? @cahuertav & @skamranhaq, are you guys experiencing this for a specific KB(with Spanish & Chinese language) or this happens for every KB(with a language other than English) on the portal?

[2020-10-22 18:47] skamranhaq commented on #6081
@anusharavindrar  It was only happening with Chinese KB, with English everything was fine. We resolved this by shifting our App Service to Plan S1. If the issue was related to quota, Azure should message properly instead of 500 errors.

[2020-10-22 18:58] tamerin-tech commented on #6081
@anusharavindrar  - now it's working - but haven't changed anything on my side...
my request (REST):
POST https://....-qna-maker.azurewebsites.net/qnamaker/knowledgebases/....../generateAnswer
payload: {question: "..."}

now I'm getting full response:
{"answers":[{"questions":["..."],"answer":"**....","score":90.0,"id":30,"source":"....docx","metadata":[],"context":{"isContextOnly":false,"prompts"

[2020-10-23 12:24] matthiasdilger commented on #5827
Seems that Android is sending the time zone now 🎉 Great to see the progress

[code]

[2020-10-23 20:37] anusharavindrar commented on #6081
@tamerin-tech, glad to hear that it's working now. QnAMaker is a stable product, the issue you encountered might be due to some outage. Closing the issue. Please feel free to re-open if needed.

[2020-10-23 20:37] #6081 closed

[2020-10-26 10:27] #6016 closed

[2020-10-26 15:19] AdamRussak commented on #2985
hi,
I'm trying to deploy the echo bot just for testing and I am getting `There was an error sending this message to your bot: HTTP status code NotFound`
I'm using the following manual: https://docs.microsoft.com/en-us/composer/how-to-publish-bot#deploy-bot-to-azure

and its working but in the end, I'm getting the above error.
please assist

[2020-10-26 16:25] AnatolyArt commented on #6071
i steel here, and wait some support... Microsoft where are you?

[2020-10-26 19:27] cleemullins opened #6086 "R11 Release Checklist"
## Package 4.11.0

## Package Location
* C#
** [4.11.0](https://dev.azure.com/ConversationalAI/BotFramework/_packaging?_a=package&feed=SDK&package=Microsoft.Bot.Builder&protocolType=NuGet&version=4.11.0&view=overview)
* JS (Uses the @rc tag on public NPM)
** [4.11.0](https://www.npmjs.com/package/botbuilder/v/4.11.0)
** https://www.npmjs.com/package/botbuilder
* Python
** https://test.pypi.org/pro

[2020-10-26 20:02] #5893 closed

[2020-10-27 10:59] elibery opened #6089 "Signing in error"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Version 3.30

## Describe the bug
When trying to sign in getting message:
"The Sign In code was not found or expired. Please try asking the bot to sign in again".
Th

[2020-10-27 18:32] Jeffders commented on #5827
Hi @matthiasdilger: there is a top level field on the Activity object named localTimezone which will include the IANA timezone name for the client. We are working on getting this field set for all of the various Teams clients. The timeline for this may go into next year, so in the meantime, you can use the timzone names that are also communicated in the entities field in Teams.

[2020-10-27 18:51] stevengum opened #6090 "Add python virtual environments to .gitignore"
## Issue
Virtual environments contain a plethora of files and are usually placed inside of the project for which they are created. The DRI responsibilities require the running of python scripts and installation of various python packages.

1. A developer should not pollute their global environment with python dependencies ([relevant XKCD comic #1987](https://xkcd.com/1987/))
2. A non-gitignored vi