[2017-01-19 03:27] scottmcconnell commented on #855
@tomlm; I have tried using openUrl for FB messengers button type 'phone_number' with no avail using the following:
[code]

Is this still a valid way of getting this to work within the bot builder?

Thanks,
Scott

[2017-01-19 03:45] ubreddy commented on #1928
@eanders-MS Isnt the webchat enabled by default on dev portal? This control is not supporting hero cards and carousal layouts. There are no two options here ( old vs New)

The open sources webchat widget uses DirectLine API and enabling this and hosting the widget ourselves is another option. But this makes default "Webchat" channel redundant. Is MS not going to upgrade or support Webchat channel

[2017-01-19 04:22] scottmcconnell commented on #1958
I have attempted to use the sourceEvent workaround but with no avail.

Every time I try to send this, I get a log out of the following:
_Error: Request to 'https://facebook.botframework.com/v3/conversations/1314733455250332-1257481210956934/activities/mid.1484799216105%3Acfddfe3b84' failed: [400] Bad Request_

This is my code for trying to do so:

[code]

Any help would be highly appreciated.

Tha

[2017-01-19 05:24] kazsharp opened #2066 "expressions instanceof RegExp"
I use BotBuilder on Node-RED.
When I use IntentDialog#matches(<RegExp>, function(session) { ... }), I got error "Oops. Something went wrong and we need to start over.".
And I found that "expressions instanceof RegExp" returns false in RegExpRecognizer.ts(line 46).
(I know the source is RegExpRecognizer.js not RegExpRecognizer.ts actually)

I edited the source from "expressions instanceof RegExp" t

[2017-01-19 07:17] boardofchris commented on #1965
Specifically, this test was very helpful setting up testing: https://github.com/Microsoft/BotBuilder/blob/master/Node/core/tests/Dialogs.js

Line 29 sets up the bot side in the example. I created the '/' dialog in my test and called the named dialogs from my bot.

Line 61 is where you respond as the user to the bot. You have to keep track of where you are in the conversation.

Here is the basic sh

[2017-01-19 07:40] Johndgnzj commented on #1962
Hi Willportnoy

i clean it and save back to UserData, but user still stock in a dialog.

should eTag needed be clean too?

[2017-01-19 08:19] tahsintahsin commented on #1921
Hello,
It seems like the issue was due to a package we used,
So I am closing the issue for now.
Thank you @dandriscoll for your valuable help.

[2017-01-19 08:19] #1921 closed

[2017-01-19 08:53] kevinport opened #2067 "[LUIS] Errorcode 414 (Request URL is too long)"
Our Bot throws the following Error while sending an Message with length bigger than 500 characters.

The code is in the LuiseService.cs file:

[code]
The bot message is transfered by an url parameter, which is the reason for the error.......

Is there a way to transfer the message not as an url parameter or change the error text to signal the user that the message is too long?

[2017-01-19 09:22] NaiduGiridhar opened #2068 "repeated questions in Formbuilder"
When i am pushing the questions through Formbuilder. Questions are repeating .How to avoid this issue

[2017-01-19 09:36] palmerabollo opened #2069 "Support thumbsup/thumbsdown emojis"
The [current EntityRecognizer](https://github.com/Microsoft/BotBuilder/blob/master/Node/core/src/dialogs/EntityRecognizer.ts#L65-L66) does not support thumbsup and thumbsdown emojis (👍 and 👎). It would be interesting to add them to the valid yes/no answers.

If you think it's a good idea I can send a PR.

[2017-01-19 10:02] konstlut commented on #2016
Will you please share your bot msa app id and I will check in logs what was happening on the wire.

[2017-01-19 12:45] Kothakapu commented on #2016
@konstlut  Below is the Microsoft app id of bot for which I'm getting multiple responses
"93f3d14a-6d80-44a0-83f8-1818a7d192b4"

[2017-01-19 13:57] PrasadGautham opened #2070 "Bot brings responses of previous conversations as well, along with the ones which were currently made."
The chat bot is designed using directline API.Whenever I make a conversation with the bot at the time when the server is busy or down, the bot would n't show any response, (as is expected). But later on when I make another conversation, the bot brings out the responses of all the previous conversations as well along with the response for the current query. Is there any workaround to prevent this s

[2017-01-19 15:43] zhou-xinghai opened #2071 "critical problem: directline can't get reply msg"
hi, I use direct line to communicate with bot framwork. It can send activity successfully but can't receiving Activities from the bot. it works all the time before,but failed several hours ago.
Can you tell me the reason or how to fix it?
ps. the chat dialog in my bot on https://dev.botframework.com/bots don't work either, i mean it can't get reply with url like “ https://directline.botframework.c

[2017-01-19 15:49] srozga commented on #2056
@fingejo this is my backup plan. was wondering if there is a better way to do this.

[2017-01-19 16:05] zhou-xinghai commented on #2065
hi issue 2071 https://github.com/Microsoft/BotBuilder/issues/2071
does it get affected by your latest update. Can you pls take a look at my issue. My project don't work now. it's urgent .thanks.

[2017-01-19 16:10] craigjensen commented on #1859
Code is live in production.  Please let us know if you run into any issues with it

[2017-01-19 16:10] #1859 closed

[2017-01-19 16:12] craigjensen commented on #1958
Try this:

    var card =  {
      facebook: {
        attachment: {
          type: "template",
          payload: {
            template_type: "list",
            top_element_style: "compact",
            elements: [
              {
                title: 'title',
                image_url: null,
                subtitle: 'subtitle subtitle subtitle',
                buttons: [

[2017-01-19 18:52] 0GiS0 opened #2072 "How can I validate a code with builder.Prompts in Nodejs"
Hi folks,

I would like to validate a code in a waterfall dialog but I cannot see examples about this. The idea is the user recieves a code and he has to validate with the bot that the code he entered is the right one (maybe two retries would be useful). I'm implementing a second factor authentication so the bot cannot share the code with the user in order to demostrate that he has real access to

[2017-01-19 19:08] dandriscoll commented on #2071
Hi @zhou-xinghai, can you send your bot handle? I'm not seeing any problems with Direct Line or the Web Chat control but I can investigate to see what's happening with your bot.

[2017-01-19 19:20] willportnoy commented on #2035
Any chance it's for two messages, the one to the bot, and the second to the user?

[2017-01-19 19:21] willportnoy commented on #2028
I think trigger action is the more composable (and therefore likely better) method.  @Stevenic can you comment on the intentThreshold?

[2017-01-19 19:32] willportnoy commented on #2038
I would break on thrown exceptions to find the actual error:

https://docs.botframework.com/en-us/technical-faq/#how-can-i-troubleshoot-my-bot-using-the-c-bot-builder-sdk

Is there any non-serializable state in the called BookDialog?

[2017-01-19 19:34] willportnoy commented on #2060
Did you rule out ngrok?  It's the only place I've seen the 429 status code before.

[2017-01-19 19:42] willportnoy commented on #2062
I don't think so - you might consider adding helper methods for those expressions.

What are you trying to accomplish?

[2017-01-19 21:27] willportnoy commented on #2014
I see a lot of UnauthorizedAccessException - are you using the correct authentication information?

https://docs.botframework.com/en-us/support/troubleshooting-bot-framework-authentication/

[2017-01-19 21:31] willportnoy commented on #1956
@msft-shahins any thoughts?

@jsiegmund it looks like you're using the correct ResumptionCookie to set up the lifetime scope so that the IStateClient points to the same bot state bags so that the dialog stack should be able to be restored without needing to try to instantiate a new root dialog.

[2017-01-19 21:33] willportnoy commented on #2022
you might consider the "firstRun" middleware:
https://github.com/Microsoft/BotBuilder/blob/0fb918065126b1208756d2e5be0c2d00ecb55451/Node/core/src/middleware/Middleware.ts#L74

or you can hook the conversationUpdate event (though you won't have access to the session):
https://github.com/Microsoft/BotBuilder/blob/a7370bdd38b81c9414bb8c22b047f6b3f7a5c54c/Node/examples/demo-skype/app.js#L58

[2017-01-19 21:33] KrishnanA commented on #2055
Currently adding a phone number to a Skype calling bot is not supported. We will evaluate enabling this for a later release.

[2017-01-19 21:33] #2055 closed

[2017-01-19 21:38] alexsorokoletov commented on #2055
Thank you!

Alex

[2017-01-19 22:17] willportnoy commented on #2068
Do you see any exceptions in the debugger?

[2017-01-19 22:20] willportnoy commented on #2067
You could catch the exception from LUIS and translate it to a message for the user - for example, you might override the MessageReceived method of LuisDialog, and if it throws that exception, swallow it and post a message back to the user.

[2017-01-19 22:21] willportnoy commented on #2063
Yes, you might consider a trigger action attached to the root dialog that recognizes the reset command and takes your desired action.

[2017-01-19 22:27] willportnoy commented on #1962
You have to clear the value for the "DialogState" key within the PrivateConversation data bag, not the User data bag, and then save the updated state bag to the state service.

[2017-01-19 22:30] willportnoy commented on #1904
@piffarettig if you want to use dynamic runtime logic to override some of the dispatch dialog logic, you might consider ContinueWithNextGroup:

https://github.com/Microsoft/BotBuilder/blob/develop/CSharp/Samples/SimpleDispatchDialog/SimpleDispatchDialog.cs#L32

I'm going to close this issue for now, but feel free to open a new issue for further discussion (or I can re-open this issue if something

[2017-01-19 22:31] willportnoy commented on #1927
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2017-01-19 22:31] willportnoy commented on #1913
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2017-01-19 22:33] willportnoy commented on #1960
We generally recommend scorables for pervasive interruption scenarios - for example, here is the DeleteProfileScorable:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Builder/Dialogs/DeleteProfileScorable.cs#L49

Sorry for the delay in response - somehow I missed this item.

[2017-01-19 23:50] dandriscoll commented on #2070
Hi @PrasadGautham, can you send your bot handle or an example conversation ID?

We've never seen this behavior (and this is not how the system is designed) but will investigate if we know of an example.

[2017-01-20 01:01] scottmcconnell commented on #1958
@craigjensen; Wow. I don't know how I could have missed that. I was using the example on the FB dev page - I guess that's out of date.

Thanks a ton for that.

[2017-01-20 01:05] craigjensen commented on #1958
Glad to hear its working now.  I'll go ahead and close this issue.  Feel free to reopen if needed

[2017-01-20 01:05] #1958 closed

[2017-01-20 01:21] dandriscoll commented on #2065
Hi @zhou-xinghai, I took a look at the other issue but at the moment we're not seeing this with other bots. Let's discuss on the other GitHub issue and try to determine the cause there.

[2017-01-20 04:33] dandriscoll commented on #2053
https://github.com/Microsoft/BotBuilder-Samples/issues/55

[2017-01-20 04:34] dandriscoll commented on #2037
Hi @alokraj68, this is the Skype service.

[2017-01-20 05:26] Masssluis opened #2073 "How can i get all the chat history of bot and the user ?"
@msgits2 @matvelloso @msft-shahins @msftgits
I need all the chat history of an user and the bot in a session , how can i get the data ? Please help me out in this .

[2017-01-20 05:29] matvelloso commented on #2073
Unless your bot is actually logging this data somewhere, the bot framework won't do that for you automatically. This has privacy implications and many bots simply can't allow that in their scenarios.

[2017-01-20 05:31] Masssluis commented on #2073
How can i log the data ? @matvelloso , please help me out , i need to fix this ASAP

[2017-01-20 05:32] matvelloso commented on #2073
Node or C#?

[2017-01-20 05:34] Masssluis commented on #2073
C#

[2017-01-20 05:37] matvelloso commented on #2073
You will need to implement an activity logger along the lines of this sample, then decide where you will store that. Also important to let your users know that their conversation is being logged:

//Sample of how to log messages

[BotAuthentication]

public class MessagesController : ApiController

{

public sealed class WillActivityLogger : IActivityLogger

{

	async Task IActivityLogger.LogAsync

[2017-01-20 05:40] msft-shahins commented on #2073
Also here is an implementation of IActivityLogger using Azure table storage: https://github.com/Microsoft/BotBuilder-Azure/blob/master/CSharp/Library/Microsoft.Bot.Builder.Azure/TableLogger.cs#L60

and here is a test consuming the azure table logger and showing its usage: https://github.com/Microsoft/BotBuilder-Azure/blob/master/CSharp/Tests/Microsoft.Bot.Builder.Azure.Tests/LoggerTests.cs#L160

[2017-01-20 06:20] PrasadGautham commented on #2070
Hi,
      The issue never occurs while using Bot framework emulator. But when the server is busy or the request is taking to much time to load, then the previous request is send again, by the directline api or microsoft server.
    So I face issue while using PromptDialog.Text where in while the bot is awaiting for a response from the user, the bot automatically takes the previous query as the req

[2017-01-20 08:44] Johndgnzj commented on #1962
Hi willportnoy

sorry my bad, i use wrong key to clear make this stupid issue.
use key "DialogState" then it work,thanks.

[2017-01-20 08:44] #1962 closed

[2017-01-20 09:20] BenjaBobs opened #2074 ""The data is changed" Exception when using ResumptionCookie to send messages."
I'm trying to send reminders for calendar events.
I use Microsoft Graph to retrieve and store all the appointments of a user, and at the same time I save one of the messages as a ResumptionCookie.
On a separate thread I check when the next appointment is and alert if it's in less than five minutes.

In my message controller I pass all messages to my RootDialog which then handles them.
I do the sam

[2017-01-20 10:20] zhou-xinghai commented on #2071
thanks, seems goes fine now..

[2017-01-20 10:20] #2071 closed

[2017-01-20 10:46] romanNedzelsky commented on #565
I still cannot make this solution working :( any progress @tahazayed ? Or anyone else? something?

[2017-01-20 12:09] tahsintahsin commented on #2062
I am running a separate NLP server to do some sentiment analysis. But in some dialogs, like /whatisyournamedialog, I don't want to bother my server at all.

[2017-01-20 13:08] msBot1111 opened #2075 "Microsoft Bot: Bot Data getProperty is returning null when I try to set Property"
I'm trying to authenticate my Bot using my web project and I store the token in Bot Data using Bot State. But when I try to get thee token from my Bot using getProperty it always returns null. I'm using this sample: https://blogs.msdn.microsoft.com/tsmatsuz/2016/09/06/microsoft-bot-framework-bot-with-authentication-and-signin-login/ Here is my code in web:
var botCred = new MicrosoftAppCredentials

[2017-01-20 14:42] fingejo opened #2076 "recieving item in child Dialog from context.Forward(T item)"
[code]
the forward method uses the IPostToBot.PostAsync(T item) method to post an item to the child dialog.
But i'm not able to find the item in my new dialog:

[code]

[2017-01-20 15:04] BenjaBobs commented on #2076
You can Wait() to get the message.
Forward() puts the message on the BotContext and eventually calls StartAsync on the dialog you passed, so technically you could read the message directly off of the IDialogContext, but I recommend doing context.Wait() and then reading the message from the method you pass into the Wait().

[2017-01-20 15:06] BenjaBobs commented on #2076
[code]

[2017-01-20 15:19] jsiegmund commented on #1797
I see the same thing. The dictionary it's trying to parse contains this for a date time entity (at my end at least):

`{[date, 2017-01-21]}`

I concur with @miaosenwang that the EntityRecommendation should be passed in for checking the resolution type.

[2017-01-20 16:20] sayyednazeer opened #2078 "[LUIS] Latency in LUIS request causes Direct Line timeout"
My bot works fine on emulator and webchat channel. But with direct line api  it returns  500 internal server error messages.

 **POST https://directline.botframework.com/api/conversations/BQf8iT1aU3ULgU4VRN2TSF/messages 500 (Internal Server Error)**

i am calling it using jquery ajax,

[2017-01-20 16:57] fingejo commented on #2076
that sounds logic, and i also get into MessageReceivedAsync.
But when I try to await the message, i get a
Exception: Stack is empty
[File of type 'text/plain']

I tried to access my Dialog with different types of Dialogs and i also changed the generic Type of IAwaitable, but it is always the same, i cannot acces the message.

[2017-01-20 17:05] macrobug commented on #1983
So far I have identified this is the line where the error occurs:

`await client.Conversations.ReplyToActivityAsync(triggerReply);`

That is inside:

`case ActivityTypes.Trigger:`

In the file `run.csx`

Seems like the ResumptionCookie is wrong or something along those lines.

[2017-01-20 17:10] willportnoy commented on #1998
We don't currently have mechanism to reuse the location control as a field within FormFlow directly.

It's something we'd like to improve to make possible.

One possible workaround is to compose some dialog that uses both FormFlow and the Bing Location control in a sequence or loop (until you get all of the fields you want).

[2017-01-20 17:20] willportnoy commented on #2076
The primary purpose of Forward is to reuse a child dialog that is "reactive", where the child dialog (in StartAsync) waits for a T with some ResumeAfter<T> handler.  In particular, if you have a child dialog that waits for a message (e.g. the LuisDialog), you can decide to forward the incoming message already received by some parent dialog by calling LuisDialog.

So it's much more common that T is

[2017-01-20 17:22] willportnoy commented on #2075
It seems very likely that (TempData["channelid"].ToString(), TempData["conversationid"].ToString(), TempData["skypeuserid"].ToString()) does not match (activity.ChannelId,activity.Conversation.Id, activity.From.Id) - can you check the values?

[2017-01-20 17:25] willportnoy commented on #2074
@eanders-MS is "The data is changed" an etag error from the state service in the emulator?

@BenjaBobs how do you have a ResumptionCookie without an existing conversation?

Relevant faqs:

https://docs.botframework.com/en-us/technical-faq/#what-is-an-etag--how-does-it-relate-to-bot-data-bag-storage
https://docs.botframework.com/en-us/technical-faq/#what-causes-precondition-failed-412-or-conflict-4

[2017-01-20 17:44] eanders-MS commented on #2074
@willportnoy Yes, this is an error message returned by the emulator's state API (along with a 412/Precondition Failed status code) when the incoming etag is not a wildcard and doesn't match the etag of the previous record. @tomlm does this seem like the right logic to you?

[2017-01-20 17:47] Kothakapu commented on #2040
Hi @dandriscoll , thanks for your update. Now I'm able to host it on local server :)

I achieved this by commenting [BotAuthentication] attribute in Message controller class and used MicrosoftAppCredentials(MicrosoftAppId,MicrosoftAppPassoward) object to authenticate ConnectorClient.

Could you please share your thoughts and comments about this approach.

[2017-01-20 17:50] #2040 closed

[2017-01-20 17:59] srozga opened #2080 "FormFlow Validate entire object"
In FormFlow, there is a way to validate each field value which we are using successfully. Is there a way to validate the entire object before it is sent to the confirmation question? In our scenario, the entire object's values need to be validated against some web services to see if it even makes sense.

I am trying a few hacky things, but would be nice to have this in the API, unless I am missing

[2017-01-20 18:12] dandriscoll commented on #2078
Hi @sayyednazeer, in Direct Line 1.1, we will return HTTP 500 when your bot generates an error. In this case, your bot's endpoint is returning an HTTP 500 to us, so we return it to your client.

(In Direct Line 3.0, we return a different error code so you can tell the difference between your bot's errors and our internal service errors.)

[2017-01-20 19:58] eanders-MS commented on #2074
Looking more closely at the emulator's eTag check, I may have found a case where it could erroneously fail. I will make a fix for it today. We plan to release a new emulator next Wednesday (1/25).

[2017-01-20 19:59] ncoonrod commented on #2019
Am I just doing something wrong here?

[2017-01-20 20:01] #1731 closed

[2017-01-20 20:05] jaskiratr opened #2081 "LUIS: Turning off active learning"
Hi,
Is there as way to turn off active learning for LUIS? I couldn't find the specific Node.js reference for the same.
Any help would be appreciated.

Thanks!

[2017-01-20 20:23] gregdegruy commented on #201
I'm getting this error jquery.min.js:11 POST https://webchat.botframework.com/api/conversations/2y7GauMpqTbAkgQ9nNaD29/messages 500 (Internal Server Error)

[2017-01-20 20:25] chrimc62 commented on #2080
The field validation has access to the whole state object, so you can do whatever you need to do to validate it on any field step.

Whether this is adequate or not depends very much on what you want to do if it is not.  Could you describe your desired behavior?   Field definitions can be fake (that is what a confirmation is) and there are also ways you can dynamically define them (through field.Se

[2017-01-20 20:27] chrimc62 commented on #1998
You might also be able to make use of the SetDefine delegate and SetNext delegate to boost the location control information into the form flow machinery.  This would be kind of complicated though.  The real problem is that FormFlow predates a lot of our other machinery and as Will notes we are working to decompose it.

[2017-01-20 21:36] pfloresl opened #2082 "[Skype Channel] Controlling horizontal or vertical placement of buttons"
On my application buttons appear vertically layout and sometimes horizontal.  the text on the buttons is the exactly the same. Is there a way of controlling this?  Using node on SKype as client.

[2017-01-20 22:44] felipeq commented on #1938
Same here. Bumping.

[2017-01-21 07:10] sayyednazeer commented on #2078
Thanks @dandriscoll  for your reply.
But why i am getting this type of error. I have deployed my bot on my HTTPS server and not on azure.
If it is working properly on emulator and webchat  then why i am getting this error in Direct line.
can you tell me if i am wrong some where and how to fix this. And also let you know some time it works fine and gives me the proper responce message.

[2017-01-21 09:32] akakoychenko opened #2083 "Disable WebChat"
I want to disable WebChat channel because my bot doesn't support it and I don't want this channel communication to be reviewed.

The phrase "Your bot is enabled on this channel. Edit the channel to change this setting." is appeared when I push "Enabled - Yes" link, but there are no buttons for disabling the channel in the channel configuration menu

[2017-01-21 10:05] hardsky opened #2084 "'ru' (russian) locale for NodeJs BotBuilder"
Hi!
It would be nice to add an other one locale.

[2017-01-21 11:02] garypretty commented on #1998
Thanks for the response guys. I can work around for now as you suggest and good to hear that bringing FormFlow up to date with everything else in on the roadmap. To be clear, I love FormFlow - supper useful  and solves a key requirement for bots.

[2017-01-21 13:56] kevinport commented on #2067
We are using the structure of the Alarmbot Sample. Few weeks ago the alarm bot uses the LuisDialog but now the Sample uses the DispatchDialog class, but there is no MessageReceived Method to override...

But this doesn't solve the problem, that the messages are restricted to about 500 characters...

Moreover i think this error should be handled by the framework or must be communicated to the frame

[2017-01-21 14:01] vivekcek opened #2086 "How to fill FormFlow with Bing Speech Api"
I have a LUIS intent like below, which will return a profile form to user.
Here if the user want to answer the form via audio, from which event i can catch the audio then convert and fill the form.

[code]

The Form is given below

[code]

This is the code in my controller, which returns a luis dialog

[code]

[2017-01-21 15:03] dandriscoll commented on #2078
Hi @sayyednazeer, the failure is happening inside your bot. Have you tried debugging it with the Bot Framework Emulator? DefaultEndpointsProtocol=https;AccountName=connectorprod;AccountKey=Hke9AFU0VD74OSFQFBsuvTAj1A893/TLblPrM7YrxbbgMBwIzfUV37OCvaJFSqHN7XJjlQ9owx2RHxYh7ql5Zw==;

[2017-01-21 16:01] dandriscoll commented on #2083
Hi @akakoychenko, if the Web Chat configuration page is empty (see screenshot), the channel is disabled.

Web Chat is only active when you add a "site" to your bot.

![image](https://cloud.githubusercontent.com/assets/5069805/22175725/bd857c50-dfaf-11e6-9d74-2e65990591f8.png)

[2017-01-21 16:04] dandriscoll commented on #2082
Hi @pfloresl, can you provide an example of the button layout you would like? Can you include a screenshot or a diagram?

[2017-01-21 17:15] tforster commented on #1955
@RichMoeMSFT Any update on the above? I set aside some time this weekend for an eager first dive into Teams bots and I think I have come up against the same issue as @drudv.

[2017-01-21 17:40] FranckyC commented on #1955
+1 @RichMoeMSFT I have a very similar issue here :( My bot works great with the web chat but fails with Skype and Teams channels with the following error:
`Error: Request to 'https://smba.trafficmanager.net/v3/conversations/29%3A1f3Mogz8_KQCtQcri6YnI_PyqiSzUUoLqc2IrwGsF-wgtdRGtPhlX9wuX2JbOpqGJ/activities' failed: [400] Bad Request
    at Request._callback (D:\home\site\wwwroot\node_modules\botbuil

[2017-01-21 17:43] giorgobiani commented on #1678
I'm still having problem:

@rexad 's solution does not work for me and @chrimc62 's commit as I can see is roll backed as it was braking change. Below is a code:

`        [Describe(Title = "", SubTitle = "")]
        [Prompt("Gender: {||}", ChoiceStyle = ChoiceStyleOptions.Buttons)]
        public EnumGender Gender { get; set; }`

If I use Title="Test", than it works, but I don't want extra title

[2017-01-21 18:25] pfloresl commented on #2082
![untitled 3](https://cloud.githubusercontent.com/assets/4304843/22176625/d8381c2e-dfc3-11e6-8457-6badc239c16a.jpg).  i like to get the second style sometimes. they feel like quick replies in FB.    thanks.

[2017-01-21 21:22] tahazayed commented on #565
Hello, sorry I will finish my master's exams by tomorrow and I will check the error intensely.

[2017-01-22 00:46] gakarnik opened #2088 "StrictEntityToType.Interpret method returns wrong values in some cases"
While working with StrictEntityToType.Interpret method, I noticed that it fails to return dates of the week when its the first week of the year (2017-W01, 2018-W01 etc) Seems like this part of the code does not get executed as `week != resolution.Week` is false. So it returns a date range with Start = 2017-01-01, After = 2018-01-01 which is calculated for the year component.

[code]

[2017-01-22 07:57] sayyednazeer commented on #2078
@dandriscoll  this is the URL of my application https://mofsl.co/moa/
i have set debugger in my code you can test it.. just pass some greetings like(hi, hello etc or you can click the button available).
but first open the developer tool you will notice it will fall inside the error function(to ignore error i again call the sendmessage function inside error function) in console it will show the err

[2017-01-22 08:04] sayyednazeer commented on #2078
![error](https://cloud.githubusercontent.com/assets/10753866/22180965/a1dca736-e035-11e6-8d80-57e3f0a8af8e.png)

@dandriscoll  This is the screenshot while debugging with emulator
Let me know if you need any more details.

I have notice one more thing instead of calling from jquery Ajax i have called it from c# code it works below is my c# code. (But i have to do it with jquery ajax so is my jquer

[2017-01-22 08:37] mahbh2001 commented on #411
I am looking for TS sample to begin. Since all samples are js , would be better to have some ts sample with type usage of botbuilder.

[2017-01-22 11:30] zhou-xinghai opened #2089 "directline takes too long to get response."
hi,
  I use bot framework+ luis to provide the bot service and with directline 3.0 to access the ms framework.
But it takes too long to get response around 12-20 seconds, each test takes different response time with the same query. I try to deploy the botframework on  aws and azure in China and the result is similar. I wonder is there some way to take shorter response time ?  Anyway, 20 secs is ba

[2017-01-22 14:28] hlipa99 commented on #2056
i had a similar problem, where unrelated user answer returned from context.wait. and i did this:

....
     request = DateTime.UtcNow;
                    context.Wait(CheckName);
.....

public async virtual Task CheckName(IDialogContext context, IAwaitable<IMessageActivity> result)
        {
            if(context.Activity.Timestamp <= request)
            {
                context.Wait(CheckName

[2017-01-22 17:25] dandriscoll commented on #2078
Hi @sayyednazeer, both the emulator and the API errors indicate that the failure is occurring inside the bot. Your C# client code seems fine although the failure does not appear to be coming from this part of the system.

Do you have any logs from inside your bot? When it generates a 500 error, do you have any traces that show where the failure is occurring?

[2017-01-22 18:58] sayyednazeer commented on #2078
@dandriscoll no i have not return any code for trace and log can you tell me how to do that.. or is it possible to send you my bot code..??

[2017-01-22 19:05] dandriscoll commented on #2070
Hi @PrasadGautham, please email at dan.driscoll@microsoft.com.

[2017-01-22 19:09] dandriscoll commented on #2078
It depends on how your bot is written and hosted.

1. Is your bot written in C# or Node.js?
2. Are you hosting the bot in Azure or on a different hosting platform?

[2017-01-22 19:15] stevengum97 commented on #1066
Since this wasn't answered, I'm answering it now...

I recently came across this issue in my own code, except it was reporting to me the intent I had setup in LUIS; e.g. / - WARN: IntentDialog - no intent handler for _IntentName_.

In my scenario, I had provided my dialog.matches() with the wrong string (_on initial setup I had typed in an entity for the intent as opposed to the actual intent_). O

[2017-01-22 23:22] pmizel commented on #1395
@dandriscoll do you have a specific date for the public preview?
thx

[2017-01-22 23:59] gcsonka commented on #980
I have the same issue. I have a well working bot that replies to messages in Slack and Skype. for my Slack users the bot also sends scheduled message every morning. I have a very simple code that once worked and than it started giving the "Authorization for Microsoft App ID ... failed with status code Forbidden" error .

Using latest bot framework NuGet  Microsoft.Bot.Builder 3.5.
I triple checked

[2017-01-23 00:08] weiligao opened #2090 "Cannot find Message IDs in JSONs of dialogs exported to libraries via session.localizer.gettext()"
I have a main dialog in `app.js` and some dialogs exported to a library named `foo.js`. I have stored the localized German strings for the dialogs of `app.js` in `./locale/de/index.json` and the localized strings for the dialogs of `foo.js` in `./locale/de/foo.json`.

I have set the locale using `session.preferredLocale("de")` in `app.js`.

The localized strings in `foo.js` are fetched from `./loc

[2017-01-23 00:12] dandriscoll commented on #1395
@pmizel, we're looking at this week sometime.

[2017-01-23 00:31] weiligao opened #2091 "Choice prompt in Node.js with multiple selections"
I would like to create a choice prompt in Node.js that allows the user to make multiple selections, just like in FormFlow for .NET (see the toppings prompt of the [Simple Sandwich Bot][1] where the user was able to select multiple toppings at the same time: peppers, lettuce and tomato).

Is this feature already available in Node.js? If so, is there already an example for that? Would this also be p

[2017-01-23 02:20] ryzam commented on #327
@ricklove with this method, we need to have same utterance in 2 apps, one in the root app and another one in the specific apps?

[2017-01-23 05:26] sayyednazeer commented on #2078
written in C#
and deployed on my HTTPS server not on azure

[2017-01-23 05:30] PrasadGautham commented on #2089
hi,
   The same issue persists with me as well. Response time is too high

[2017-01-23 05:42] sayyednazeer commented on #2078
**This is my whole Bot code**

--------------------- MessagesController.cs

[BotAuthentication]
    public class MessagesController : ApiController
    {

        internal static IDialog<object> MakeRoot()
        {
            return Chain.From(() => new MeBotLuisDialog());
        }

        /// <summary>
        /// POST: api/Messages
        /// Receive a message from a user and reply to it

[2017-01-23 06:07] zhou-xinghai commented on #2089
hi @PrasadGautham Can you tell me how long do you take to get response commonly?

[2017-01-23 06:39] singhsurya opened #2092 "Initiating chat from Bot to user"
Hi,

My question is straight - How can we ping user from Bot proactively? Given that user has never pinged the Bot. My user is on skype and Bot is added to user's contacts list.

I have tried to do it but succeeded only when user pings Bot at lease once. After that Bot can ping user using user id, channel id, service URL etc.

I have gone through these questions but still stuck to figure out somet

[2017-01-23 07:07] ajayp opened #2093 "bot.on('conversationUpdate') repeats itself in webchat"
This issue only started occurring in the past few days.

I am using bot.on('conversationUpdate') as a greeting when the webchat iframe first appears. I see my greeting, but if I then type something into webchat and hit enter, the greeting is output again,  this only happens when the first conversation is initiated in web chat.

[code]

[2017-01-23 07:48] BenjaBobs commented on #2074
@willportnoy I tried saving the resumption cookie both from ContactRelationUpdated and from the conversation authing for MS Graph.
I will look the faqs, I suspect it may be something with concurrency. Thanks.

@eanders-MS Thanks, I will post back when I have tried it.

[2017-01-23 08:31] fingejo commented on #2076
@willportnoy thankyou for your detailed explanation. I was able to figure out my problem with your explanation
That is my solution now:
[code]
[code]
I am now able to recieve my item. It had to be an IMessageActivity. So i just cloned the information from LuisDialog i needed into it.

[2017-01-23 08:31] #2076 closed

[2017-01-23 08:45] msBot1111 commented on #2075
The values are the same..

[2017-01-23 09:32] PrasadGautham commented on #2089
@zhou-xinghai  I think that is almost similar to yours.... 12-20 seconds and sometimes even more, it varies

[2017-01-23 09:45] fingejo commented on #2093
I also ran into this problem. The webchat is sending the ConversationUpdate twice. I think the WebChat got updated some days ago (buttons were not working before) and this bug slipped into it with the update... I hope it gets fixed soon.

[2017-01-23 10:12] weiligao opened #2094 "Choice and confirm prompts do not show buttons when IMessage is used as prompt message"
When using a string as the prompt message, the buttons are shown:
`builder.Prompts.confirm(session, "Test", {listStyle: builder.ListStyle["button"]});`

However, when an IMessage is used as the prompt message, no buttons are shown:
[code]

[2017-01-23 10:32] BenjaBobs commented on #2092
As far as I know, Azure Notification Hubs is suggested because there is an interface between the bot and the user (ProxyWebAPI), but if both your user and your bot is on skype, you can just directly start a conversation with the user.

If you're using C# you can start new conversations from ResumptionCookies. There are some examples here:
[AlarmBot](https://github.com/Microsoft/BotBuilder/tree/mas

[2017-01-23 11:07] ncoonrod commented on #2019
@cglong sorry about bugging you guys. I really am looking for any response though

[2017-01-23 12:02] philippnagel commented on #1975
I found this repo while researching the same issue: https://github.com/jamesemann/botframework-claiming-conversations. Might be a good starting point.

[2017-01-23 12:27] jsiegmund commented on #1948
Closing this again. I cannot steadily reproduce it and I've got the feeling that the functions CLI is to blame for this, not the bot framework.

[2017-01-23 12:27] #1948 closed

[2017-01-23 13:01] AmirSasson opened #2095 "Exception When calling Luis with json as query"
i have a bot where users can send JSON as string, and I have a LUIS app that i have trained to understand these JSON strings and translate into custom intents,
all worked fine, till yesterday when i started to get errors (http 500) from the LUIS service.
i didnt upgrade my SDK (nuget Package3.4.0), and i a pretty sure this is something that was done on the LUIS server.
from  within the luis.ai sit

[2017-01-23 14:08] konstlut commented on #2016
@Kothakapu Thank you for providing the info. Messages are sent twice because for every message sent to the bot callback url, your bot returns 500, which is treated as transient failure and retried by backend.
This is the error we see:

[code]

[2017-01-23 15:18] lyzs90 commented on #1621
@eanders-MS sorry i am not able to repro this on Telegram; my bot has moved on also since then

[2017-01-23 18:52] cglong commented on #2019
Hi @ncoonrod, I've unfortunately never worked with the NodeJS version of the framework 😞 Perhaps @msft-shahins can point you in the right direction?

[2017-01-23 19:03] RichMoeMSFT commented on #1955
Version 3.5.4 was just published and it appears to work in my sample code.  Please update (npm install botbuilder) and see if it works for you as well.

[2017-01-23 19:07] msft-shahins commented on #2019
@maxpert can you help?

[2017-01-23 20:50] FranckyC commented on #1955
@RichMoeMSFT Seems to work now in Teams and Skype channels. However, I have an other issue in Teams: I'm not able to click on the link in a Sign-In card. Maybe it's just related to the Teams channel and not the Bot Builder itself I suppose (work with web and Skype channels). Thanks!

[2017-01-23 21:26] cahann commented on #2081
can you please follow up with luservice@mcirosoft.com on this.

[2017-01-23 22:11] zxed opened #2096 "post FormDialog to user from webapi trigger."
I followed the proactive bot workflow and put something together that sends a message to a user when the webapi end point is triggered. I did this by saving the activity that came in when the user first messaged the bot and then later recalling that object and using it to target the user.

I was also able to kick off a FormDialog when a user messaged the bot (from dialog) with a specific statement

[2017-01-23 22:26] #2090 closed

[2017-01-24 00:25] nickcordrey commented on #2042
@fercom we've emailed you regarding your errors and issues we're seeing with traffic from your bot. Please follow up to the mail and someone from the team will be in touch.

[2017-01-24 01:40] miaosenwang opened #2097 "How the UserData is stored?"
User data is set like this:
BotData response = await stateClient.BotState.SetUserDataAsync(activity.ChannelId, activity.From.Id, botData);

From the documentation, it is unclear to me where and how the user data is store.  Is it encrypted? Is this data cached on the user client? When I request to delete the user data, is there a possibility that not all user data got removed (e.g. cached copies)?

[2017-01-24 01:54] tforster commented on #1955
Thanks @RichMoeMSFT it works for me too!

[2017-01-24 03:45] ricklove commented on #327
@ryzam, Well, each bot has it's own context and you have to have an external logic that chooses the correct one. You might want to look at api.ai if you need many intents more than the 15 supported by luis.ai

[2017-01-24 04:30] sayyednazeer commented on #2078
Hi @dandriscoll  I have notice my MessagesController.cs file code is getting called again and again when i just type "Hi" from my application. Because after each line in my controller class i have make an entry in my database to check at which line i am getting failed.

I have notice i this error also
**The remote server returned an error: (412) Precondition Failed.**

This is how return my code f

[2017-01-24 04:33] sayyednazeer commented on #2078
**This is My MessagesController.Cs code**

    public async Task<HttpResponseMessage> Post([FromBody]Activity activity)
        {
            try
            {

                SetCredential(activity.ToString(), "Activity", "Nazeer");

                if (activity != null)
                {

                    SetCredential(activity.ToString(), "Activity not null", "Nazeer");

[2017-01-24 04:46] dandriscoll commented on #2078
Hi @sayyednazeer, if you're seeing HTTP 412 errors, they're probably coming from calls to the BotState client:
[code]

If so, here are instructions to fix this: https://docs.botframework.com/en-us/technical-faq/#how-can-i-fix-precondition-failed-412-or-conflict-409-http-errors

Place this code in your Global.asax.cs or similar startup code:
[code]

[2017-01-24 04:48] dandriscoll commented on #2093
Hi @ajayp and @fingejo, the Direct Line channel sends multiple ConversationUpdate messages.

The first ConversationUpdate is sent when the bot is added to the conversation.
After that, each additional ConversationUpdate is sent when a new user joins the conversation.

You can read more about this here: https://github.com/Microsoft/BotBuilder/issues/2065

[2017-01-24 04:57] dandriscoll commented on #2092
Hi @singhsurya, when the user adds the bot to their contact list, you should receive a ContactRelationUpdate activity containing the user's ID. You must save this ID for use later.

When you want to send a message, you must 1. create a conversation, and then 2. send an activity.

Both steps are illustrated in the CreateNewConversation samples:
* https://github.com/Microsoft/BotBuilder-Samples/tree

[2017-01-24 05:01] dandriscoll commented on #2097
Hi @miaosenwang, it depends on how you implement your bot.

If you **implement your own bot state store**, the store can be encrypted, deleted, and completely controlled by you. This approach is suitable if you're concerned about where your data is stored, for performance or compliance reasons.

If you **use our free bot state API**, the data is stored encrypted on our servers. We delete the data

[2017-01-24 05:37] ajayp commented on #2093
@dandriscoll - Thanks, I was using bot.on('conversationUpdate') to send a custom greeting to the user, question, is there another way to present a custom greeting?

[2017-01-24 06:37] mushroomcakes commented on #2093
@ajayp, @dandriscoll Would you be able to check if the your bot is one of the members added? If so, do you have any idea on how to do this? Thanks!

[2017-01-24 07:28] suvamsh commented on #2022
"firstRun" does work for me but here's a scenario.
- User gets into bad state
- Types "reset" and dialog state is reset
- But now it does NOT run "firstRun" middleware
Is there a way to run firstRun on a "reset"?
@willportnoy thanks for your help so far btw

[2017-01-24 08:29] sayyednazeer commented on #2078
Done @dandriscoll
But still my issue not fix.

I have notice my controller code goes in loop some times it calls the ConversationUpdate method 2-3 times and some time ActivityTypes.Message calls 2-3 times don't know why i have seen this kind of entries in my database log.

[2017-01-24 08:31] AnandChitale opened #2098 "How to greet on Web Chat i.e Greet message from Bot to User"
Deployed a bot to Azure.
Enabled Web Chat Channel.
Embed it to a iFrame on a website.
Question: Ho
![greet](https://cloud.githubusercontent.com/assets/24295647/22239636/86f61f92-e23d-11e6-9f19-60c7f27343f1.png)
w to get greet message from bot to user as in attached file.

[2017-01-24 09:06] lonche opened #2099 "Type 'Microsoft.Bot.Connector.Activity' in Assembly 'Microsoft.Bot.Connector, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' is not marked as serializable."
So far i have this :

[code]

When user posts, bot forwards to RootLuisDialog.

In the RootLuisDialog, have constructor
[code]

This constructor i use to forward to another Facebooklogin dialog. It depends on proper LUIS intent.

`await Conversation.SendAsync(activity, () => SimpleFacebookAuthDialog.dialog);`

I used [this ](https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Samples/Simple

[2017-01-24 09:12] abhishan commented on #2098
We are using **conversationUpdated** activity to send a message to the user. Check out our demo bot here http://alboteinstein.azurewebsites.net/index.html

CC: @kothakapu

[2017-01-24 09:39] AnandChitale commented on #2098
ConversationUpdate does not seem to work for me in web chat. It used to work few days back , suddenly stoped working.

[2017-01-24 09:40] AnandChitale commented on #2098
Below is the code:

case ActivityTypes.ConversationUpdate:
                            IConversationUpdateActivity update = activity;
                            using (var scope = Microsoft.Bot.Builder.Dialogs.Internals.DialogModule.BeginLifetimeScope(Conversation.Container, activity))
                            {
                                var client = scope.Resolve<IConnectorClient>();

[2017-01-24 09:46] AnandChitale commented on #2099
This happened to me as well. It happens if your RootLuisDialog has a field or property which is not serializable. Try to ignore it for serialization.

[2017-01-24 10:36] df42 opened #2100 "FormFlow Attribute [Numeric(20, 100)] allows "a""
When using a form with the following limitations, it allows the input of the character "a" without "". The value is converted to integer 0

Sample:

Any suggestion is welcome

[2017-01-24 10:48] lonche commented on #2099
Hmmm how to ignore it for serialization ? Can you post your part of code ?

[2017-01-24 11:11] lonche commented on #2099
Thank you for your reply. I realize that i cannot make another instance of Activity class in LuisDialog.
Fixed :)

[2017-01-24 11:50] wilcovanesch commented on #1955
Experienced the same issue. After updating the botbuilder package from 3.5.3 to 3.5.4, the bot now works in Microsoft Teams. Thanks!

[2017-01-24 12:42] srozga opened #2101 "Skype for iOS can't render carousel or carousel sample"
I'm having difficulty rendering carousels in Skype for iOS. They render fine in the Skype Desktop. If I have a carousel of only HeroCards, it just renders a carousel of buttons in Skupe for iOS, ignoring all of the messages. If I try using your sample [here](https://github.com/Microsoft/BotBuilder-Samples/blob/master/CSharp/cards-CarouselCards/CarouselCardsDialog.cs), Skype for iOS simply displays

[2017-01-24 13:06] lonche commented on #1910
How to update microsoft.bot.builder ???

[2017-01-24 14:35] dandriscoll commented on #2078
The repeated messages (2-3 times) are expected.

ConversationUpdate activities are sent multiple times in Direct Line:
The first time, it's sent when your bot is added to the conversation.
Then, it's sent for each user that joins the conversation.

Message activities are sometimes retried by clients when the bot generates an error. Until we solve the source of the errors, seeing retries is expecte

[2017-01-24 15:18] initions-wiebe opened #2102 "[Question] Cancel PromptDialog after certain time"
Hey,
I have a question about cancelling a prompt or a dialog if there is no input from the user within a certain period of time. I need a way to somehow have a time out within a PromptDialog.

Example:
Bot prompts the user: "How old are you?".
The Bot now awaits a response from the user, but the user never response and the bot is still waiting.
In my case the bot should only wait 20 seconds and th

[2017-01-24 15:23] dandriscoll commented on #2093
@ajayp and @mushroomcakes, you can tell the difference between your bot and a user by checking the ID field of each element of activity.membersAdded.

[code]

[2017-01-24 15:31] initions-wiebe commented on #2099
I'm not very sure about it, but you're using a class that is not marked as `[Serializable]`. You have to make sure, that `SimpleFacebookAuthDialog` is marked as `[Serializable]`.
It should look something like this:
`[Serializable]`
`public class SimpleFacebookAuthDialog`

[2017-01-24 16:19] willportnoy commented on #2094
similar issue: https://github.com/Microsoft/BotBuilder/issues/1979

[2017-01-24 16:21] willportnoy commented on #2099
If you're storing the Activity property as a member field in your dialog class, you might consider marking it as [NonSerialized] as well.

[2017-01-24 16:24] willportnoy commented on #2096
This is an example of proactively interrupting the dialog stack with another dialog based on some external event:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Samples/AlarmBot/Models/ExternalEvent.cs#L29

In your case, maybe you want to start a new conversation?

Also, look at these samples: https://github.com/MicrosoftDX/botFramework-proactiveMessages

[2017-01-24 16:26] willportnoy commented on #2097
some extra information about state storage: https://docs.botframework.com/en-us/technical-faq/#where-is-conversation-state-stored

[2017-01-24 16:33] willportnoy commented on #2086
You would need to use something like the Skype calling bot API to get voice messages sent to your web service, which you could call the Bing Speech API to translate to text, and then forward to your builder-based dialog stack that uses a FormFlow.  It's not something I have experience with.

@msft-shahins do we have any relevant samples?

[2017-01-24 16:39] willportnoy commented on #2075
Are the StateClient's ServiceURLs the same?

[2017-01-24 16:46] nickcordrey commented on #2101
iOS does support carousels please could you check the json is similar to this example. Please check your images and any button action URLs are HTTPS. If this still doesn't work let me us know and we'll investigate.

[code]

[2017-01-24 17:45] gakarnik commented on #2088
@willportnoy It is actually the same case for month and day since both need to be initialized with value 1. Hour, minute, second should be fine since they can be initialized with 0. I am planning to put up a pull request to handle month and day.

[2017-01-24 18:06] srozga commented on #2101
We HTTPS-ified the URLs but not the images! That was the fix, thanks!
-s

[2017-01-24 18:06] #2101 closed

[2017-01-24 18:21] aekynr commented on #2072
here is a solution;
https://github.com/Microsoft/BotBuilder-Samples/tree/86ebba09bfe5ccfdbbd66eaf9c7d19fa9bb239d1/Node/demo-ContosoFlowers/bot

[2017-01-24 18:42] lgmorand commented on #1873
same question here.

[2017-01-24 18:42] msft-shahins commented on #2086
@vivekcek as @willportnoy  mentioned you need a custom endpoint that gets the audio stream from the user. For now, only channel that supports this is through Skype calling API. Here is a sample showing how you can get a recording from the user:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Samples/SimpleIVRBot/SimpleIVRBot.cs#L74

you can get the audio recording from RecordOutcomeEve

[2017-01-24 18:57] zxed commented on #2096
Awesome - I somehow overlooked the botframework samples; prior to this I had downloaded several other samples, but this pretty much got me going - specifically, startNewDialog.

Now I just need to see how I can use the payload that came in from the API to the actual FormDialog - the startNewDialog also gave me a decent example of not having to use FormDialog and just using PromptDialog instead so

[2017-01-24 19:00] michaelvol opened #2103 "Session state updates when user sends two messages"
I have a bot that uses a confirm prompt.
A user sends two messages ('yes', then 'Hello'), one by one relatively fast.
The first msg is captured by the confirm dialog, which at turn exists...
The second msg is captured by the SAME dialog (confirm dialog) - the result that is sent to the user is 'bad input'.
The second msg was not supposed to be captured by the confirm dialog.
Env: Node SDK / botbui

[2017-01-24 19:09] vovanb commented on #1953
We have same issue from customer which would like to protect their service by defining range of ipadresses in firewall.
I think it is reasonable requirement.

[2017-01-24 19:59] sayyednazeer commented on #2078
@dandriscoll my code is already in a try catch block.

Above i have paste my MessagesController.cs code please check.

Sometimes it works properly and sometimes on every message it says 500 Internal Server error.

Why sometimes it works and sometimes not...??
Please check this
 http://mofsl.co/moa/mosg.aspx
When you get sorry.. message this means 500 error

[2017-01-24 20:08] pcostantini commented on #2093
If you need to send a message when the bot joins a conversation, you may use the following snippet:

[code]

[2017-01-24 20:10] sayyednazeer commented on #2078
I have observe one more thing...

When i greet my bot it gives 500 Internal Server error.. so i tried for 5-6 times but as i said sometimes it works , so let say on 7th time when it success it gives me the response of my all the 7 request back to back.

[2017-01-24 20:33] miaosenwang commented on #2097
@dandriscoll @willportnoy  Thank you for the response. They are very informative.

[2017-01-24 20:52] RichMoeMSFT commented on #1955
@FranckyC I'm getting the same problem with sign-in card on Node.js only.  C# works fine.  I'll let the team now.

[2017-01-24 21:26] RichMoeMSFT opened #2104 "Node.js: Sign-in Card link not working in Teams"
In Node.js bots, running in Teams, the Sign-in button / link is not working.  Works on other channels.

Using sample: node/cards-RichCards

[2017-01-24 21:33] haligasd commented on #1859
Do you have a sample you could share.  We are in the process of getting beta approved, but would love to see how this flows in and out of the bot on the c# side

[2017-01-24 21:47] jaskiratr commented on #2081
Thanks @cahann. Wrote to them.

I'm trying to recall something I came across in past. Isn't there a line of code in node.js BotBuilder script that stops LUIS from registering data that it doesn't recognize?
I'll keep digging the docs meanwhile...

[2017-01-24 21:55] nickcordrey commented on #1934
These may or may not resolve both the above issues but on investigation we found the following two issues:

1. Image URLs cannot include port numbers - these get rejected by the Skype image service
2. Image URLs need to be https with a root certificate trusted by Microsoft - or will get rejected by the Skype image service. You can check if the certificate is trusted by opening the URL in Explorer

[2017-01-24 21:55] #1934 closed

[2017-01-24 23:27] dandriscoll commented on #2097
Closing as it looks like we've answered the question. Please feel free to at-mention or open a new issue if you'd like other details.

[2017-01-24 23:27] #2097 closed

[2017-01-24 23:32] dandriscoll commented on #2078
Hi @sayyednazeer, in the example you provided, does your bot respond reliably after the 7th response?

Your hosting platform may be putting your bot to sleep after an idle period. Many platforms do this. When a message comes it, the bot takes a few seconds to start, and it may exceed my server's 15 second timeout. Because your bot received all of the messages via its request pipeline, its replies

[2017-01-24 23:57] piffarettig opened #2105 "Delegate bot conversation to human"
I ve seen this question asked multiple times but answers were never enough or included code snippets so I am open a new issue here. This is the use case I am trying to resolve:

1) Human asks a question to the  bot.
2) As bot doesn't know the answer, bot passes the question to an expert.
3) Experts gets notified that a user needs help, so he takes control of the bot.
4) A conversation starts betwe

[2017-01-25 00:54] scottmcconnell commented on #852
@slidenerd; In my experience, the error OP posted comes up and your bot won't reply to anything. I was trying to store message history, but once it got over a certain size the bot would freak out and stop doing anything.

[2017-01-25 01:31] craigjensen commented on #1859
Here's an example of what you need to send in ChannelData to get a payment button to show up in Messenger:

    {
      "type": "message",
      "timestamp": "2017-01-24T22:16:43.2121637Z",
      "serviceUrl": "*",
      "channelId": "facebook",
      "from": {
        "id": "*",
        "name": "*"
      },
      "conversation": {
        "id": "*"
      },
      "recipient": {
        "id": "*",

[2017-01-25 02:28] eanders-MS commented on #2098
Hi @AnandChitale, with a few small changes I was able to get your code working in my testbot (Microsoft.Bot.Builder v3.5.0):
[code]
For some reason I was having a problem compiling `var client = scope.Resolve()`.

Does the above code work for you? Is your `case ActivityTypes.ConversationUpdate:` handler getting called at all?

[2017-01-25 03:04] irwinwilliams opened #2106 "Node.js bot deployed to azure isn't working"
I've deployed a bot written in node to an azure web app.
In the console, I can see the ChatConnector getting the message, but then this error comes up:

Error: connect EACCES 127.0.0.1:50014
    at Object.exports._errnoException (util.js:1022:11)
    at exports._exceptionWithHostPort (util.js:1045:20)
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1090:14)

I took the facebook sample (

[2017-01-25 03:07] camer314 opened #2107 "Skype calling bot CollectDigits no longer works and Recognize seldom works"
Trying to collect digits from a Skype calling bot forever returns "InternalServerError". It used to work a few weeks ago and now never works.

Also the recognize speech often fails with "InitialSilenceTimeout" or "InternalServerError" for no apparent reason.

[2017-01-25 03:26] gcsonka commented on #980
@danmarshall , @msft-shahins  - I just noticed this issue was closed. Can you provide any guidance on the error I still get? Or should I open a new issue. thanks

[2017-01-25 04:49] sayyednazeer commented on #2078
@dandriscoll yes the respond was reliable and also in a sequence.

How can i make sure that my server is putting my bot to sleep and if it is then how to fix it.

Let me show you some error screenshot also which i got yesterday on my Bot portale and App

![botportal_directline](https://cloud.githubusercontent.com/assets/10753866/22278158/2313cbd2-e2e7-11e6-8128-c076ef1a8ac8.png)
![directlineapp](h

[2017-01-25 04:59] camer314 opened #2108 "[Question] How to send a chat message during a Skype calling bot session"
I have a calling bot and i want to send a chat message to the Skype user as part of the chat, for example a confirmation of order message. However I get the following error:

Authorization for Microsoft App ID XXX failed with status code Forbidden

If the Skype user starts a chat conversation with my bot prior to calling it then sending a chat message to them works fine.

Is there any way to send

[2017-01-25 06:11] dandriscoll commented on #2040
Hi @Kothakapu, removing the BotAuthentication attribute disables inbound auth completely, and is not a recommended approach. Anyone who knows your bot's endpoint could impersonate users on trusted channels.

An HTTP 401 indicates the Authorization header is either missing or malformed. Is there something in your HTTP stack (firewall, proxy?) that could be stripping this header?

[2017-01-25 06:13] dandriscoll commented on #2078
Hello @sayyednazeer, there are two approaches:

1. Sometimes your platform has an option to keep your application running at all times.
2. You can set up an HTTP pinger to make a request to your service (say, every 60 seconds) to keep the service running.

This is a common problem but it depends entirely on your hosting platform. We have some instructions in our FAQ for how to fix this on Azure: h

[2017-01-25 06:32] ajayp commented on #2093
@dandriscoll @pcostantini - Thanks for the information, that works.

[2017-01-25 06:32] #2093 closed

[2017-01-25 08:11] #1974 closed

[2017-01-25 08:51] lonche commented on #2099
Yes. I am using as serializable class.

[code]

I have another problem. I am trying to call SimpleFacebookAuthDialog on proper LuisIntent.
This way :

[code]

But it throws an error.

I tried also with  `await Conversation.SendAsync(context.MakeMessage(), () => SimpleFacebookAuthDialog.dialog);`

But this way, it throws an error :

And the stack trace :

Any idea ?

[2017-01-25 09:01] sayyednazeer commented on #2078
@dandriscoll  that means the problem is with my server right ?

I have **Windows Server 2008 R2 Standard**

Can you guide me how to fix it in my server.

[2017-01-25 09:17] lonche opened #2110 "How to call another dialog using same activity ??"
[code]

I tried this. But the problem occurs when i try to send simple string message

` await context.PostAsync("msg");`

 from SimpleFacebookAuthDialog. It throws an exception

Some help ?

[2017-01-25 09:44] msBot1111 commented on #2075
No, they are not the same.. In web app I have:
var botCred = new MicrosoftAppCredentials(
      ConfigurationManager.AppSettings["MicrosoftAppId"],
       ConfigurationManager.AppSettings["MicrosoftAppPassword"]);
       var stateClient = new StateClient(botCred);
       BotState botState = new BotState(stateClient);
this has state.botframework.com
And in Bot I use this:
StateClient stateClient =

[2017-01-25 09:56] slidenerd commented on #1796
ok but i noticed that if you add both a first run and a conversationUpdate, both of them get triggered on facebook so arent you using a first run?

[2017-01-25 10:38] lonche opened #2111 "IDialog method execution finished with no resume handler specified through IDialogStack."
Calling another dialog from luis :

[code]

Then,
calling this method to authenticate user. SimpleFacebookAuthDialog has methods returns :

[code]

In the resume method i have this :

[code]

How to handle this response from SimpleFacebookAuthDialog into ResumeAfterOptionDialog??

[2017-01-25 10:39] singhsurya commented on #2092
Hi @dandriscoll, thanks for your response. I got your point to save user's id on conversation update event. That can be used later.

But, after a long time interval without any message in conversation, if bot tries to send message to user, it fails. Is there any cancellation token for conversation? I read it somewhere that it is 30 minutes and we can renew it if we want to keep it alive. please co

[2017-01-25 10:39] ejadib commented on #2110
The question was addressed in [StackOverflow](http://stackoverflow.com/questions/41847737/how-to-call-another-dialog-using-same-activity).

[2017-01-25 10:43] lonche commented on #2110
Yes. I solve that but now how to forward result into handler method ?
This is original question :
 https://github.com/Microsoft/BotBuilder/issues/1477

[2017-01-25 10:50] ejadib commented on #2110
The problem here is that you are copy/pasting code from everywhere instead of stopping the ball and try to learn the core concepts involved. Otherwise, you will keep asking questions no matter how many times I unblock you :). So my advice here is: the Facebook sample was just an example on how to solve OAuth; you might not have to use it as; and instead you might have to create a proper dialog ins

[2017-01-25 10:58] lonche commented on #2110
I can't clone this authbot.

[2017-01-25 11:01] ejadib commented on #2110
Is a public repo... you should be able to clone it fine.

[2017-01-25 11:32] lonche commented on #2110
I cloned it. Thank you ejadib.

[2017-01-25 11:59] PrasadGautham commented on #2111
I think, this  exception is not because of your code..

[2017-01-25 13:40] zxed commented on #2102
Do not mean to hijack - but your question is similar to mine. I'd like to cancel the dialog.

Lets say "something" (timer, event, api) kicked off the dialog - and the dialog is pushed onto the stack; its prompted the user for a response.
Now the user doesnt respond - and over time, another timer/event/api is kicked of.

This ends up pushing another dialog onto the stack.

Now this might answer the

[2017-01-25 13:56] zxed commented on #2096
My original q is answered - but I wanted to reopen for one more clarification.

https://github.com/MicrosoftDX/botFramework-proactiveMessages/blob/master/csharp/startNewDialogWithPrompt/ConversationStarter.cs#L34

interrupts the stack and pushes the new dialog (which has prompts) on top.

If I trigger the api again - it will interrupt the stack and push another dialog on top.

Is there a way to ca

[2017-01-25 14:16] lonche commented on #2111
Yes. Any idea ?

[2017-01-25 14:24] PrasadGautham commented on #2111
That error is not showing now...Try now please

[2017-01-25 14:35] dandriscoll commented on #2078
Hi @sayyednazeer, I found this blog post that describes an IIS plugin that could work: http://www.diaryofaninja.com/blog/2010/05/06/keep-your-aspnet-websites-warm-and-fast-247

Here is a link to the IIS plugin: https://www.iis.net/downloads/microsoft/application-initialization

[2017-01-25 15:06] haligasd opened #2112 "Facebook bot not receiving events"
bot handle beachgenius.  We have the steps over and over again and cannot get our bot to work on facebook.  Works like a champ on skype.

we are getting these as issues

Cannot message users who are not admins, developers or testers of the app until pages_messaging permission is reviewed and the app is live - we are developing now so not sure why we see these

[2017-01-25 15:11] dandriscoll commented on #2092
If you're using the Bot Builder SDK, it handles the token refresh for you. This is generally not an issue.

@singhsurya, can you send the ServiceUrl you receive in your ConversationUpdate activity? Is it skype.botframework.com or is it smba.trafficmanager.net (or some other value)?

[2017-01-25 15:12] vovanb commented on #322
I got
`  "text": "Exception: Microsoft.Bot.Builder.FormFlow.FormCanceledException`1[Microsoft.Bot.Sample.AnnotatedSandwichBot.SandwichOrder]: Form quit.\r\n   at Microsoft.Bot.Builder.FormFlow.FormDialog`1.<MessageReceived>d__14.MoveNext() in C:\\PhoneBook\\BotBuilder-master\\CSharp\\Library\\FormFlow\\FormDialog.cs:line 499\r\n--- End of stack trace from previous location where exception was thro

[2017-01-25 15:29] msBot1111 opened #2113 "Bot c#: How to restart the conversation with the last input from user"
In my Bot I use prompt.text and in the ResumeAfter method I want to check if user said yes, no or something else, and if it's not yes or no to call again my Root dialog(which is Luis class) with the input from the user. Here is the code:
 PromptDialog.Text(context, ResumeAfterAsync, $"Was this helpful?");
 private async Task ResumeAfterAsync(IDialogContext context, IAwaitable<string> result)
 {

[2017-01-25 16:28] rakeshkeerthi opened #2114 "Create a log of triggered events"
Hi,

I know that this might not be an issue, but also not sure if this is available in azure.

I've created a custom chat using html n Javascript. It works as follows

User enters a question - hello
There is a rest call to Directline api
 It internally calls the Qna maker bot
The response is displayed back.

My query is lets say there is an user A, he is using this service. Everything is working f

[2017-01-25 16:34] haligasd commented on #2112
Cannot message users who are not admins, developers or testers of the app until pages_messaging permission is reviewed and the app is live

[2017-01-25 16:34] #2112 closed

[2017-01-25 16:35] haligasd commented on #2112
reconfigured it all and it is now working

[2017-01-25 17:07] tomlm commented on #2089
Have you determined if the latency is in your bot?  Depending on the services you talk to you can incur a lot of latency inside of the bot.  For example, the State API that we have is only in West US and really only for prototyping.  If you want better performance you should have state storage in a data center close to your bot.  You can easily do this by plugging in a state provider to the bot SD

[2017-01-25 17:10] willportnoy commented on #1998
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

(sorry about the delay in our responses)

[2017-01-25 17:10] #1998 closed

[2017-01-25 17:12] willportnoy commented on #2074
@BenjaBobs that seems like a reasonable workaround - the risk is that you lose some other concurrent updates.  Please update the issue if you continue to have problems.  Otherwise, i'm going to close the issue for now.

[2017-01-25 17:12] #2074 closed

[2017-01-25 17:13] willportnoy commented on #2022
I think you'd have to modify reset to also clear the first run state in the user data bag.  Generally "reset" does not clear the user data bag (I believe it clears the private conversation data bag, or perhaps just the dialog stack and state).

[2017-01-25 17:59] willportnoy commented on #1797
When fetching this url:
https://api.projectoxford.ai/luis/v2.0/apps/c413b2ef-382c-45bd-8ff0-f76d60e2a821?subscription-key=6d0966209c6e4f6b835ce34492f3e6d9&q=can%20you%20set%20an%20alarm%20for%2010%20am

This is the response I see:

[code]

Based on this json, it looks like the existing code is correct (look at resolution_type instead of entity type, particularly since entity type is alarm-model sp

[2017-01-25 18:00] jaskiratr commented on #2081
@cahann is that the correct email address for Luis Support?

[2017-01-25 18:12] eh3rrera commented on #1988
Hi. Sending a chat message still doesn't work (I upgraded to version 3.5.4).

Sometimes the speech recognition doesn't work either, the call is dropped or the bot cancels after three times (related to issue #2107?).

It seems to be more stable in version 3.5.3, however, at the end of my waterfall, the [400] Bad Request error always shows up.

Any updates on your side? @Stevenic or @jameslew

Thank

[2017-01-25 18:31] carlosscastro commented on #1955
@FranckyC, regarding the sign-in card, we're looking into it. The bug tracking this is

[2017-01-25 18:32] #1955 closed

[2017-01-25 18:49] piffarettig commented on #2011
How could the piping part be implemented? (The part of broadcasting every message the bot receives to the CSI)?

[2017-01-25 18:59] mmacneil commented on #1957
@abhishan How did you detect when to save the ResumptionCookie within the "ConversationUpdate" activity.  I am using the Proactive template as a base as well and have noticed when using the  "Trigger" activity that "ConversationUpdate" is firing first and I'm struggling to determine the right state to save the conversation id etc...

Thanks

[2017-01-25 19:02] jsiegmund commented on #1797
Strange, you're right. I'm seeing the same directly calling the URL. Will investigate further and get back on this, this is not what I was seeing in my debug session.

[2017-01-25 19:31] piffarettig commented on #2011
I am doing the following with still no luck:

Whenever a normal user writes a message, I want to broadcast it to the Customer Representative. For that what I do is:

[code]

But the DirectLine CS app is not receiving the message. Is it possible that the ConversationId (ID_OF_THE_CONVERSATION_BETWEEN_CSI_AND_BOT) changes? Because I stored the value of the ConversationId between **Bot <->CSI**, but

[2017-01-25 19:36] irwinwilliams commented on #2106
Hey, it looks like this happen when you try to use the bot framework emulator to test a non-localhost bot.
Maybe the messaging around the emulator could be changed to reflect that as a limitation, if it is one.

[2017-01-25 19:39] piffarettig commented on #1975
Any samples in C#? Thanks!

[2017-01-25 19:47] piffarettig commented on #1106
Some guy gives a good answer about how to tackle this, but never says anything about implementation and expiracy of conversations. [Here](https://github.com/Microsoft/BotBuilder/issues/2011)

So I am in this scenario:

- Some users use the bot via Skype. These users asks questions to the bot. When the bot is not able to answer any of those questions, a conversation between the user and a customer

[2017-01-25 20:42] fercom commented on #1725
@willportnoy where should I put the code to avoid "412" errors, the one that is here: [https://docs.botframework.com/en-us/technical-faq/#how-can-i-fix-precondition-failed-412-or-conflict-409-http-errors](https://docs.botframework.com/en-us/technical-faq/#how-can-i-fix-precondition-failed-412-or-conflict-409-http-errors), in the messageController?

[2017-01-25 21:12] cahann commented on #2095
We didn't deploy any changes to LUIS back-end since last week. @AmirSasson, are you saying that when you call the LUIS endpoint directly things are working fine however when you use the botbuilder SDK you start getting 500 ?

[2017-01-25 21:40] Sarafian opened #2115 "Facebook Messenger Bot: No replies to others"
I've successfully created a bot and integrated with Skype and Facebook Messenger.
The Skype interface works for everyone but the Facebook one replies only to my Facebook account.
The bot is not published and in the channels list, Facebook and Skype is enabled but not published.

I've searched online but I can't find much information, so I'm creating this issue as means to get some help and produce

[2017-01-25 22:05] willportnoy commented on #2113
You might consider using IDialogStack.Forward to forward the message on to the LUIS dialog as a new child (instead of the existing root):
https://docs.botframework.com/en-us/technical-faq/#what-is-idialogstack-forward-in-the-c-builder-sdk

But what are you going to do if the user said "yes" or "no"?  You have to go somewhere next:
https://docs.botframework.com/en-us/technical-faq/#ensure-all-dialo

[2017-01-25 22:19] willportnoy commented on #2075
@msft-shahins I wonder if Activity.GetStateClient isn't propagating the MicrosoftAppCredentials?

[2017-01-25 22:22] willportnoy commented on #2096
@zxed what is the exception you see after calling IDialogStack.Reset outside of a dialog, as you're doing?  That seems like it should work.

[2017-01-25 22:26] willportnoy commented on #1725
@fercom anywhere that executes just once, since you're updating the static container.

Perhaps a static constructor for MessagesController, or Global.asax.cs, or wherever you configure your container.

Relevant at some point: https://github.com/Microsoft/BotBuilder/issues/1966

[2017-01-25 22:28] #1913 closed

[2017-01-25 22:30] zxed commented on #2096
I don't know what I'd catch that exception, but I'll have a look at the output window.

It does seem logical that it would result in an error though - basically on the user side it shows the prompt with choices, then on the second call it shows the 2nd instance of choices.

I'd think the stack looks something like

2. prompt waiting for input
1. Prompt waiting for input
0. Root waiting for input

[2017-01-25 22:42] KrishnanA commented on #2107
Can you share your bot Id please?

[2017-01-25 23:29] Ketcap opened #2116 "Language Change , preferredLocale BUG"
I've tried to example for changing preffered local but locale is not changing such as if i select a language it stays old one.

![screen shot 2017-01-26 at 02 23 41](https://cloud.githubusercontent.com/assets/7689820/22313753/e0625602-e366-11e6-9e0d-276d49ea9c94.png)
![screen shot 2017-01-26 at 02 28 48](https://cloud.githubusercontent.com/assets/7689820/22313754/e0635fb6-e366-11e6-806a-20ff47116a

[2017-01-25 23:43] willportnoy commented on #2105
@LarsLiden do you have any thoughts?

[2017-01-26 00:44] tanguydelignieresaccenture commented on #1495
Same use case here

[2017-01-26 02:56] willportnoy commented on #2073
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2017-01-26 02:56] #2073 closed

[2017-01-26 02:57] willportnoy commented on #2060
relevant faq, in case we find other common causes: https://docs.botframework.com/en-us/technical-faq/#what-causes-429-too-many-requests-http-errors

[2017-01-26 02:59] willportnoy commented on #2024
@craigjensen can you help?

[2017-01-26 06:58] hardsky commented on #2115
Hi!
Do you see some errors in dev.botframework.com ?
I had similar issue. I tried to test unpublished facebook bot from account, that not linked to project as developer or QA.
Here is error from facebook in dev.botframework.com

From your description, I guess you have same issue.
Seems like it's just related to facebook development specific.

[2017-01-26 07:18] jsiegmund commented on #1797
Did some more research, not sure whats going on here. When I sent a query to the LUIS app I am using, I'm getting this in response:

URL: /luis/v2.0/apps/<<APPID>>?subscription-key=<<KEY>>&q=i%20want%20to%20book%20a%20holiday%20from%20today%20to%20tomorrow

`{
  "query": "i want to book a holiday from today to tomorrow",
  "topScoringIntent": {
    "intent": "LeaveRequest",
    "score": 0.97934895

[2017-01-26 08:05] vivekcek commented on #2086
The bot is integrated with Facebook, i can record audio and send to my bot.
I can check attachment and send that to bing speech api and process it.
My real problem in which event of FormFlow i can get the answer, if that answer is an audio i need to pass it to speech api, if answer is a text i can process it directly.

[2017-01-26 09:16] camer314 commented on #2107
Here you go: c0b9c83d-a571-4e4c-9301-9fbc9102d751

[2017-01-26 09:34] msBot1111 commented on #2113
If user said "yes" or "no", I'm calling different methods, It's working well.
I've changed the else statment with this:
  context.Forward(new MainDialog(),ResumeCopleted,msg,System.Threading.CancellationToken.None);
MainDialog is my LuisDIalog
And now in ResumeCopleted what should I do??
I've tried
 private Task ResumeCopleted(IDialogContext context, IAwaitable<object> result)
        {

[2017-01-26 09:43] FilipeDominguesGit opened #2117 "Skype bot error [413] Request Entity Too Large"
Hi all.  I'm getting error [413] on a simple skype bot.

Error: ``` Error: Request to https://smba.trafficmanager.net/apis/v3/conversations/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/activities' failed: [413] Request Entity Too Large ```

Sample code:

[code]
It works on webclient and on the emulator but crashes on skype. Any idea whats happening ?

[2017-01-26 10:35] jsebrech opened #2118 "[LUIS] Unable to use email channel"
I'm trying to use the email channel, but no matter what I put in the email, I get the following error:

SyntaxError: Unexpected end of input
    at Object.parse (native)
    at Request._callback (/opt/sumi-dev/node_modules/botbuilder/lib/dialogs/LuisRecognizer.js:70:39)
    at Request.self.callback (/opt/sumi-dev/node_modules/botbuilder/node_modules/request/request.js:186:22)
    at emitTwo (event

[2017-01-26 10:38] jsebrech commented on #2118
Additional detail: this happens from Outlook 365 with the mail format set to HTML. If I set it to plain text, it works.

[2017-01-26 10:43] jsebrech commented on #2118
Further details, it appears the signature is the issue. Attaching the html file.
[MCS 2016.zip](https://github.com/Microsoft/BotBuilder/files/732070/MCS.2016.zip)

[2017-01-26 12:23] ancashoria commented on #1944
I have the same problem, any idea how to fix it?
It was working yesterday, so not sure what's causing the problem.

[2017-01-26 13:35] aakashvit commented on #1943
Hi @carlosscastro i am not able to code for my custom storage . Can you please help me.
let say i want to store state and conversation in  my own storage then how will be my code ..

`var server = restify.createServer();
server.listen(process.env.port || process.env.PORT || 3978, function () {
   console.log('%s listening to %s', server.name, server.url);
});

// Create chat bot
var connector = ne

[2017-01-26 14:09] weedroid opened #2119 "[Performance] Delayed responses to posted messages interfering with conversation flow"
I am experiencing an issue with a chat bot I have developed using the Microsoft Bot Framework. While testing the chat bot with the emulator on both my local machine and while deployed to a VPS running Windows Server, there is a fairly noticable delay between posting a message to the chat bot, receiving a response from the chat bot, and the posted message showing in the log. They also show in the i

[2017-01-26 14:17] zeeshanhaider-devbatch opened #2120 "[Proactive Notifications] Does MSBot framework support sending automated notification after a certain time?"
I want to write a BOT that (once user is friend with BOT) can send automated notifications with some link in it to the user. Is this possible?

[2017-01-26 14:20] BenjaBobs commented on #2120
Yes, I suggest reading the following resources:
[Alarm Bot Sample](https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Samples/AlarmBot)
[Create New Conversation Bot Sample](https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-CreateNewConversation)

[2017-01-26 14:45] zxed commented on #2096
I put tin a few break points.

so, with
1. api event triggered
2. activity retrieved
3. something sent to this conversation
4. interrupt with dialog (context.reset before context.call)
5. dialog asks for prompt
 -- Do not respond --
6. api event triggered
7. activity retrieved
8. something sent to this conversation
9. interrupt with dialog (context.reset before context.call)
10. dialog asks for pr

[2017-01-26 14:55] zxed commented on #2096
So i put this in a  try catch
await Conversation.SendAsync(activity, () => new BasicProactiveEchoDialog());

and the error basically means that "the stack is empty" as I was guessing the issue was...

[2017-01-26 15:00] ejadib commented on #2011
The userAccount needs to be the id of the CSI user, not the id of the conversation. Also, you might try the other way around; the CSI app should be able to read all the conversations going on... I think.

[2017-01-26 15:04] piffarettig commented on #2011
Cool, thanks again. Yes, but what @LarsLiden states in his proposed solution is the other way. _"Your bot pipes through the all the user messages to the CSI which stores all the conversations. "_

Any sample of implementing that ? How can the CSI app connecting through DirectLine gather all the conversations?

Thanks

[2017-01-26 15:19] kralmajster commented on #1495
Same use case here as well... any updates?

[2017-01-26 15:26] ejadib commented on #2011
You can't do that; there is no way on DirectLine to get all the conversations. You will need some storage mechanisim in the middle (bot stores active conversation in that storage; csi app read that storage to get conversation ids to use directline)

[2017-01-26 15:28] ejadib commented on #2011
Another option, not involving the CSI app is having a list of "users" to delegate.. and then you can start a conversation with that users and pass the messages on...

[2017-01-26 15:35] james-lawrence commented on #2119
I've also seen fairly massive delays on messages appearing within the chat client when being sent from our bot. its extremely jarring.

[2017-01-26 16:22] amitbend commented on #1944
Same here

[2017-01-26 16:30] piffarettig commented on #2011
This is the one I am using right now :) But I still can make work even with  the thing you mentioned   _"The userAccount needs to be the id of the CSI user"_. Where does that ID from the CSI user come right now?

I am using the DirectLineSampleClient (the one we were talking in the other post, in BotBuilder-Samples), where the userId "DirectLineSampleClientUser", but whenever I make the bot send a

[2017-01-26 17:02] haligasd commented on #1859
forgive my ignorance when you say reply synchronously how is that done from the c# side.  PostAsync?

[2017-01-26 17:22] craigjensen commented on #1859
The BF will post the above invoke message to your bot and you should directly return a status code/payload as a response to that message.  Whatever you return will get proxied directly back to Facebook.  You should return a 200 to accept the payment or presumably some error code to reject it.  Details [here](https://developers.facebook.com/docs/messenger-platform/webhook-reference/payment)

[2017-01-26 17:27] weedroid commented on #2117
Could it be that the gif you're trying to attach is too large for Skype? It's over 50MB in size. Have you tried using a smaller gif file?

[2017-01-26 17:36] piffarettig commented on #2011
"This channel does not support this operation" is now the error being thrown, and it fails in the line that creates the conversation from the Bot <-> to the CSI

` var conversationId = await connector.Conversations.CreateDirectConversationAsync(botAccount, userAccount);`

Being bot account the ChannelAccount that has the id of the bot and and userAccount the ChannelAccount that has the id of the C

[2017-01-26 17:38] craigjensen commented on #2024
We don't support oAuth so you'll need to make sure your mailbox is accessible via username/password.

Here are a couple of tools you can try to ensure that your mailbox is accessible:

EWSEditor
https://ewseditor.codeplex.com/

Remote Connectivity Test (RCA)
https://testconnectivity.microsoft.com
This is a Microsoft web site used for testing connectivity. It has a web based tester and also one for

[2017-01-26 17:43] goldstark commented on #1944
instead of usering bot.send (i guess if bot inherit form context for messenger), team give me this answer that resolve my probem : using QnAMakerDialog to dialog

var qnaMakerDialog = builder_cognitiveservices.QnAMakerDialog;
qnaMakerDialog.prototype.invokeAnswer = function (session, recognizeResult, threshold, noMatchMessage) {
        var qnaMakerResult = recognizeResult;
        if (qnaMakerRes

[2017-01-26 17:56] eanders-MS commented on #2120
Hi @zeeshanhaider-devbatch plase also have a look at Proactive Bots:
https://docs.botframework.com/en-us/azure-bot-service/templates/proactive/

[2017-01-26 18:01] eanders-MS commented on #2119
@weedroid hi the incorrect ordering in the log is a known issue of the emulator (https://github.com/Microsoft/BotFramework-Emulator/issues/82)

Is your bot written in Node.JS or C#?

[2017-01-26 18:27] weedroid commented on #2119
@eanders-MS Hi Eric, thanks for your response. My bot is written in C#.

[2017-01-26 18:51] srozga opened #2121 "Updating the Convesation Container"
The currently direction in C# samples like [this](https://github.com/Microsoft/BotBuilder-Azure/blob/master/CSharp/Samples/AzureTable/Global.asax.cs) is to use the ContainerBuilder.Update method to update the existing Conversation.Container. AutoFac is deprecating the use of Update. I noticed Conversation has a static constructor that builds the Container but doesn't allow for any other modules to

[2017-01-26 19:15] ejadib commented on #2011
Over which channel are you trying to crate a DirectConversation? What channel/service url?

[2017-01-26 19:21] piffarettig commented on #2011
Over 'directline'. This is the line that creates the connector.
`var connector = new ConnectorClient(new Uri(context.Activity.ServiceUrl));`

And this is the whole code, pretty similar to what I was doing at the beginning.

[code]

[2017-01-26 19:23] ejadib commented on #2011
DirectLine doesn't support direct conversations. Use CreateConversationAsync()...

[2017-01-26 19:31] fercom commented on #1725
@willportnoy I put it in global.asax.cs, but my bot is still throwing "412's"
[code]

[2017-01-26 19:35] piffarettig commented on #2011
Same Exception being thrown! This is the code right now.

[code]

[2017-01-26 19:39] ejadib commented on #2011
MMM.. in any case, for the basic scenario of hand off to a human you don't need DirectLine... What exactly are you trying to do with DirectLine?

[2017-01-26 19:45] piffarettig commented on #2011
The idea of using DirectLine was to provide the experts/customer service an app where they track every conversation and its messages, as well as participate in them. This done in a different GUI, obviously. But I'll probably end up using same channel (for instance Skype), having a user talking to the bot and then the bot redirecting the questions to the expert/CS.

Thanks so much anyway!

[2017-01-26 19:49] ejadib commented on #2011
For doing that in DirectLine you will need the conversations ids of the users with the bot. Then you can use that id to get the messages from the conversation.

In the other approach, you are suggesting, you are not restricted just to the same channel, you could for example use Slack to talk with the Bot, and redirect questions to the expert/CS in Skype. I've a sample almost ready showing all that

[2017-01-26 19:53] piffarettig commented on #2011
That's awesome! If you wan't we can keep in touch to discuss implementation details. I'll probably be carrying out something similar using this approach. Let me know whenever you publish so I can take a look!

[2017-01-26 20:13] vovanb opened #2122 "Chat control"
Is exist a way to pass caller name (from) using web chat control? Today it always passing "You".

[2017-01-26 20:17] fercom commented on #1725
@willportnoy I put it in a static constructor for MessageController, it seems that the "412"s are gone but now it is throwing 400's and 403's
![image](https://cloud.githubusercontent.com/assets/19654168/22348650/2ae6187e-e3d2-11e6-9d1c-9abb81042085.png)

[2017-01-26 20:49] eanders-MS commented on #2122
If you're embedding the control in an IFRAME, you can pass userId and username as parameters on the url:

[code]

[2017-01-26 21:08] #2122 closed

[2017-01-26 21:09] eanders-MS commented on #2119
@msft-shahins Can you comment on the second issue mentioned (messages in quick succession)?

[2017-01-26 21:20] cahann commented on #2007
@srirams007 Pharse lists should help but you shouldn't only depend on them, you need to also label examples that are out of the list to help luis generalize better on the unseen examples.

[2017-01-26 21:28] eanders-MS commented on #2106
Hi @irwinwilliams, Emulator documentation includes a section on this topic: [Connect to an Azure Bot Service](https://github.com/Microsoft/BotFramework-Emulator/wiki/Getting-Started#connect-to-an-azure-bot-service).

[2017-01-26 21:30] dandriscoll commented on #2108
Hi @camer314, skype.botframework.com is not guaranteed to be the Skype hostname. The URL for the Skype is passed in the "ServiceUrl" field of the ContactRelationUpdate activity when the user adds your bot as a contact.

See https://github.com/Microsoft/BotBuilder/issues/2005 for more detail.

[2017-01-26 21:45] Sarafian commented on #2115
@hardsky I just noticed the errors. If you hadn't mentioned it I would have probably never seen it.
I do have the same error. Any suggestions for the fix?
Should this be added to the guide? I suggest this because the guide for skype works well for all but the guide for facebook doesn't and it's a pity.

[2017-01-26 22:17] Stevenic commented on #1944
So a couple of points... you're calling bot.send() instead of session.send() which is what you would actually want to call. So I know you got your issue resolved but here's the more correct solution for what you were originally trying to do:

[code]

[2017-01-26 22:28] eanders-MS commented on #2064
@dandriscoll?

[2017-01-26 22:30] Sarafian commented on #2115
For future reference to anyone having this issue. There are two possible actions:
1. **Easy**. From developers.facebook.com add the specific people you want them to engage your bot as **testers**.
1. **Complex**. From developers.facebook.com add the **pages_messaging** to submission. This is more complex because
  - it requires a 1024x1024 icon (I resized the [default](https://bot-framework.azuree

[2017-01-26 22:32] eanders-MS commented on #2050
@LarsLiden?

[2017-01-26 22:39] dandriscoll commented on #2064
Hi @zxed, when you're dealing with ServiceUrls across process boundaries, the SDK needs you to tell it whether the ServiceUrl was transmitted in a trusted way.

When you receive and store a message, keep track of whether or not it was trusted:
[code]

Then, when you rehydrate the message, you can tell us to trust the URL.

[code]

[2017-01-26 22:40] #1944 closed

[2017-01-26 23:13] alexsorokoletov opened #2123 "ChannelId parameter in StateAPI.json schema takes only specific values"
Spec says `channelId` is basically a string. However, passing there `viber` or `telegram2` or `custom` returns HTTP 400
[code]

[Spec](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Connector.Shared/Swagger/StateAPI.json#L21):

[code]

Please advise what are the supported options for `channelId` and how do I use State API for custom channel, say, Viber.

[2017-01-27 00:03] dandriscoll commented on #2123
Hi @alexsorokoletov, those channels are not supported by the Bot Framework. The best way to connect them is with Direct Line, in which case you should use the `directline` channel ID.

[2017-01-27 00:10] alexsorokoletov commented on #2123
I'm using email for now just to make sure my custom connector works. Let me try 'directline', thanks!

Alex

[2017-01-27 00:21] camer314 commented on #2108
Ok thats fair enough, but skype.botframework.com is what i retrieved from the ServiceUrl that comes in via a chat session for the same user and that URL works fine as mentioned if the user has already chatted to my bot before calling it. The issue only arises if i restart my bot web app and the same user calls the bot without first starting a chat conversation.

[2017-01-27 00:54] alexsorokoletov commented on #2123
Yep, `directline` works just fine

[2017-01-27 02:26] dandriscoll commented on #2123
Great! at-mention or open a new issue if you have further questions. Thanks

[2017-01-27 02:26] #2123 closed

[2017-01-27 02:38] alexsorokoletov commented on #2123
Btw, I ended up using `kik` channel instead of `directline` only for one reason. Using `directline` removes all buttons so my custom connector cannot render keyboard for Viber. Kik is among channels that support keyboard (baked in the SDK :() and I'm not using it anyway so it's a great option.

Would be cool to have a baked-in channel with keyboards support like `custom-with-keyboard` and `custom-

[2017-01-27 02:40] alexsorokoletov commented on #2120
@zeeshanhaider-devbatch suggest you to look at Alarm bot sample mentioned above. We're using this approach and it works just fine!

[2017-01-27 02:54] dandriscoll commented on #2123
Direct Line 3.0 passes the entire payload through. Are you using Direct Line 1.1?

[2017-01-27 03:08] alexsorokoletov commented on #2123
I'm using latest SDK, 3.5.1. Not sure where can I specify Direct Line 3.0 or 1.1

[2017-01-27 03:12] dandriscoll commented on #2123
The Bot Builder SDK is for inside your bot. Direct Line is an API for your client to connect to your bot. Which client are you using?

Direct Line 3.0 (recommended): https://docs.botframework.com/en-us/restapi/directline3/#navtitle
Direct Line 1.1: https://docs.botframework.com/en-us/restapi/directline/#navtitle

[2017-01-27 03:55] alexsorokoletov commented on #2123
Hmm, I am not using any of these APIs.
What I have is a JS class inside my bot project which is basically an implementation of IChannelConnector interface and it is being used as a custom connector. Receives messages and sends them to the channel (viber in my case).

[2017-01-27 04:13] dandriscoll commented on #2123
Oh, I see, you've built your own protocol adapters.

That's certainly one way to use the Bot Builder SDK, but it doesn't work with the rest of the Bot Framework services. The fact that it works against the State API is a bit of a coincidence.

[2017-01-27 04:20] alexsorokoletov commented on #2123
@dandriscoll I was not able to stop it from going to State API. I know it is one of the unsupported scenarios. What I wanted to achieve is to have same logic (bot) defined for all channels that BotBuilder supports already and also use the same logic for my own channel. Turned out there are some challenges but as of now bot is working very nice and I really like the outcome.

There is no guide on h

[2017-01-27 05:04] isaacy commented on #1983
This is fixed now?

[2017-01-27 05:08] eanders-MS commented on #1983
We've tracked down the issue, and a fix is in progress. Thanks for your patience.

[2017-01-27 07:33] AmirSasson commented on #2095
Exactly,
It all worked well till jan 22nd (more or less), i used to send json as
query to Luis and had a trained model where these json translated into a
specific intent.
But in the past week it all got http 500.
As a worked around i now send Key value pair which works fine.

On Jan 25, 2017 23:12, "Carol Hanna" <notifications@github.com> wrote:

[2017-01-27 07:36] cahann commented on #2095
@willportnoy have you guys did any changes to the botbuilder SDK ?

[2017-01-27 07:49] vovanb opened #2124 "JSON Schema FormFlow"
Hi!
Is exist editor which helps creating Flow json - like in sample Microsoft.Bot.Sample.AnnotatedSandwichBot - AnnotatedSandwich.json
Thanks

[2017-01-27 07:50] vovanb opened #2125 "localisations in JSON Schema FormFlow"
How in Microsoft.Bot.Builder.FormFlow.Json create localized translation, which will be stored also in JSON file and not in assembly (Imports).
In provided sample AnnotatedSandwich.json it is stored in c# assembly:

"References": [ "Microsoft.Bot.Sample.AnnotatedSandwichBot.dll" ],
"Imports": [ "Microsoft.Bot.Sample.AnnotatedSandwichBot.Resource" ],

Thanks

[2017-01-27 08:26] ancashoria opened #2126 "Facebook messenger error"
Hi,
I'm having trouble with facebook messenger integration. I have setup everything ok and it worked for me the first time I tried it. Then I worked on the bot using the emulator and when I went back to try it on Fb, it doesn't work any more.

I get this error after sending a message to the bot:

[code]

I have commented most of my code and the issue still remains. Is it possible that the bot is s

[2017-01-27 08:31] ancashoria commented on #2126
I forgot to mention, the bot works on emulator, skype and telegram, just not on Fb messenger.

[2017-01-27 08:34] hardsky opened #2127 "NodeJs Prompts.confirm is not rendered as buttons for skype channel"
I used this snippet for confirm question

`builder.Prompts.confirm(session, 'label_from_locale_file');`

It's rendered as question + buttons for telegram and facebook, but rendered without buttons for skype.
I can add buttons if I directly set style as

`builder.Prompts.confirm(session, 'label_from_locale_file', {listStyle: builder.ListStyle["button"]});`

I guess, it would be more expected if it'

[2017-01-27 10:35] michaelvol commented on #2119
I've also seen something similar to what you're describing (https://github.com/Microsoft/BotBuilder/issues/2103).
Could be related?

[2017-01-27 11:09] aakashvit opened #2128 "delete specific key from session"
I am using node JS
let's say I am storing name user name into name variable
 session.userData.name = results.response;
session.userData.mobileNM = results.response;

Now I want to delete only mobileNM from beg

[2017-01-27 12:32] vivekcek commented on #2086
any updates

[2017-01-27 14:24] konstlut commented on #1988
@eh3rrera  Could you please give me your bot msa app id. The one in the error message (504ecfbf-c1f0-4d14-bf56-8085e5d853f2) wasn't found (probably deleted).

[2017-01-27 14:28] james-lawrence commented on #1827
@RichMoeMSFT looks like a change was made to the from ID format, however there still isn't a way to generate a list of ids from the api. makes mapping internal system ID's to msteams ID's impossible. particularly since I'm not sure what the encoding format is being used for the new ID.

new format:
[code]
old format:
[code]

[2017-01-27 14:51] eh3rrera commented on #1988
Thanks @konstlut. Yes, I recreated it to see if that could solve the problem (it didn't). Here's my current app id: a52cf47d-a471-4520-b797-6eb13202ec20

[2017-01-27 14:57] vovanb opened #2129 "OnActionExecutingAsync dissappear after upgrade to Microsoft.Bot.Builder.3.5.0"
We were using below override
public override Task OnAuthorizationAsync(HttpActionContext actionContext, CancellationToken cancellationToken)
for assigning **MicrosoftAppId** according to incoming recipient.name

  var content = actionContext.Request.Content.ReadAsStringAsync().Result;
  dynamic stuff = JObject.Parse(content);
  if (stuff.recipient == null || stuff.recipient.name == null)

Now we g

[2017-01-27 15:48] zxed commented on #2064
Thank you - Can you share what your storedMessage obj looks like?

I was storing the activity object as json in azure.

[code]

[2017-01-27 16:26] alex182 opened #2130 "Custom Action In PromptDialog.Choice if user doesnt select a choice"
Is there a way to handle a user sending a message instead of selecting a choice in a Choice dialog?

[2017-01-27 16:52] eanders-MS commented on #2126
@Stevenic can you take a look?

[2017-01-27 17:18] eanders-MS commented on #2128
Have you tried clearing the value? This can be done a number of ways. `session.userData.mobileNM = undefined` should work.

[2017-01-27 17:51] dandriscoll commented on #2064
The storedMessage object is up to you.

It looks like you're just serializing the Activity object, which would not have space to contain this added field. The `ResumptionCookie` object* is pretty close to what you want. You could store all three in an object like this:

[code]

Two things:
1. If you're using `ResumptionCookie`, you probably don't need to store the `Activity` object as well.
2. We'

[2017-01-27 17:55] aakashvit commented on #2128
Thanks!

[2017-01-27 17:57] willportnoy commented on #2124
I presume there are JSON Schema editors, but I don't know of editors specifically for the extra attributes in the FormFlow json.

[2017-01-27 17:59] willportnoy commented on #2130
We usually recommend using scorable actions to allow dialogs to be interrupted - for example:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Tests/Microsoft.Bot.Builder.Tests/ScorableDialogTests.cs#L332

[2017-01-27 18:00] willportnoy commented on #2121
relevant issue: https://github.com/Microsoft/BotBuilder/issues/1966

[2017-01-27 18:03] willportnoy commented on #2121
Here is one option, where you customize the container and fold any other updates into one place:

[code]

[2017-01-27 18:35] willportnoy commented on #2125
Perhaps you might be able to create a FormFlow Json Schema per language?  Otherwise I think the localization is driven by the normal .net framework pattern.

[2017-01-27 19:06] zxed commented on #2064
Thank you. In what instance would ServiceUrl not need to be trusted?  are there some integrations that dont require it?

[2017-01-27 19:12] dandriscoll commented on #2064
It should not happen if your bot is properly configured. This is primarily a defense mechanism in case you delete or disable your BotAuthentication attribute. In that situation, we want to detect that the ServiceUrl came in through an unauthenticated endpoint.

Keeping the isTrusted flag connected to the ServiceUrl is our recommended approach for ensuring the URL was securely transmitted.

[2017-01-27 19:14] vovanb commented on #867
Method OnActionExecutingAsync removed in 3.5 version. We need urgent suggestion how to use it?

[2017-01-27 19:24] vovanb opened #2131 "pass parameter in SendAsync"
Hi Team
I want to pass additional parameter to MakeJsonRootDialog function

 string strPar = "SomeText";
 await Conversation.SendAsync(activity, ControllerHandler.MakeJsonRootDialog(**strPar**));

   public static IDialog<JObject> MakeJsonRootDialog(**string strParam**)
        {
}

I got compile error :
Error	CS1503	Argument 2: cannot convert from 'Microsoft.Bot.Builder.Dialogs.IDialog<Newtonsoft

[2017-01-27 19:34] willportnoy commented on #2131
You can use a closure to capture that extra parameter.  You can't change the interface of that dialog root factory method because we wouldn't know how to pass those extra parameters to it anyway.

[2017-01-27 19:47] #2064 closed

[2017-01-27 19:47] zxed commented on #2064
Thanks.

[2017-01-27 19:55] vovanb commented on #2131
Can you give example - is it mean that I need to put all MakeJsonRootDialog code inside of closure?

[2017-01-27 20:08] g4mb10r commented on #2014
I have the exact same issue.  Something is broken with the Skype integration.  Replying back via other channels (e.g. web chat) works fine.

[2017-01-27 20:41] ejadib commented on #2011
See https://github.com/ejadib/handoff-to-human-sample. I will be adding documentation soon.

[2017-01-27 23:32] miaosenwang commented on #1797
I think we need the Luis team to comment on what is going on here

[2017-01-28 00:07] piffarettig commented on #2011
Thank you! I'll checking it out over the weekend and tell you my feedback.

[2017-01-28 01:16] irwinwilliams commented on #2106
Got it. Thanks, @eanders-MS. Understood.

[2017-01-28 01:16] #2106 closed

[2017-01-28 04:05] sjlee235 opened #2132 "[Node.js] Sending private message in Slack"
I am trying to create a Slack bot where it listens to a Slack channel and when a request is given, it sends information to the user via private message. How can I specify a message in Node.js to be a private message?

Thank you!

[2017-01-28 05:51] eanders-MS commented on #1915
Hi @virendrak, closing this issue now. If you'd prefer it remain open, please @mention me here. Cheers.

[2017-01-28 05:51] #1915 closed

[2017-01-28 05:53] eanders-MS commented on #1942
Hi @arunnanjundaswamy, closing this issue now. If you prefer it remain open, please @mention me here. Cheers.

[2017-01-28 05:53] #1942 closed

[2017-01-28 06:04] eanders-MS commented on #1989
@sagarsea Are you still experiencing this issue?

[2017-01-28 06:09] eanders-MS commented on #1990
@spreddy2714 you can find the channel name in `session.message.source`

[2017-01-28 06:09] #1990 closed

[2017-01-28 06:16] eanders-MS commented on #1994
Hi @b4usat, in your `ActivityTypes.ConversationUpdate` handler, assign the incoming activity to a `IConversationUpdateActivity`. This will give you access to the activity's `MembersAdded` list. The new user will appear in this list.

A detail to be aware of: Your bot may appear in the `MembersAdded` list as well. You may want to filter your bot by checking `activity.MembersAdded[i].Id != activity.

[2017-01-28 08:27] eanders-MS commented on #2049
@spulci, We released a new emulator today (v3.5.25) that includes experimental proxy settings support. Could you please give it a try when you have a chance, and report back here if it works for you?

[2017-01-28 09:42] james-lawrence opened #2133 "[MS Teams Channel] New ID format makes bot framework completely unusable for certain use cases."
The new ID format makes it impossible to integrate our application with the bot framework for msteams.

Part of our application relies on being able to send users within a company updates as specified by the company. This means we need to be able to locate user IDs and send the message to that user without the user having sent a message to our application before.

previously we could (although it

[2017-01-28 10:59] sayyednazeer opened #2134 "How to check if request comes from SKYPE, WEBCHAT, DIRECTLINE, FACEBOOK etc... C#"
How to check if request comes from SKYPE, WEBCHAT, DIRECTLINE, FACEBOOK etc... C#

[2017-01-28 11:17] dandriscoll commented on #2134
Hi @sayyednazeer, this data is available within the Activity object sent to your bot, inside the ChannelId property. How you get to that object/property depends on where you are inside the code.

Do you want to access this field within a Dialog?

[2017-01-28 11:20] dandriscoll commented on #1549
Closing issue as we've fixed known issues here. Please at-mention or open a new issue if you encounter further problems.

[2017-01-28 11:20] #1549 closed

[2017-01-28 11:22] dandriscoll commented on #1794
Closing as we've answered the question. Please at-mention or file a new issue if you'd like to discuss further.

[2017-01-28 11:22] #1794 closed

[2017-01-28 11:25] dandriscoll commented on #1857
This issue was fixed in a recent deployment. Please at-mention or open a new issue if you have any questions.

[2017-01-28 11:25] #1857 closed

[2017-01-28 11:27] dandriscoll commented on #1924
The Skype for Business team did a demo late last year of Bot Framework integration. We don't have a release date but we know this is frequently requested.

We make announcements when we launch new channels, so please stay tuned.

Please at-mention or open a new issue if you have further questions.

[2017-01-28 11:27] #1924 closed

[2017-01-28 11:30] #2065 closed

[2017-01-28 11:31] dandriscoll commented on #2005
Closing as we've addressed the issue and described how to store and load ServiceUrls. Please at-mention or open a new issue if you'd like to discuss further.

[2017-01-28 11:31] #2005 closed

[2017-01-28 11:32] dandriscoll commented on #1992
Closing as the AuthBox sample is the right way to solve this problem. Be sure to confirm it meets your UX and security requirements.

[2017-01-28 11:32] #1992 closed

[2017-01-28 11:34] dandriscoll commented on #2037
Closing as we've answered the question. Please at-mention or open a new issue if you'd like to discuss further.

[2017-01-28 11:34] #2037 closed

[2017-01-28 11:34] dandriscoll commented on #2036
Closing as we have no announcements to make at this time. Please at-mention or open a new issue if you'd like to discuss further.

[2017-01-28 11:34] #2036 closed

[2017-01-28 11:36] dandriscoll commented on #2032
Hi @srinutamada, this sample helps show how to send messages with Direct Line 3.0: https://github.com/Microsoft/BotBuilder-Samples/blob/master/CSharp/core-DirectLine/DirectLineClient/Program.cs

You can find the user's ID and name in the Activity message sent to your bot, within the activity.From field.

[2017-01-28 11:38] dandriscoll commented on #1953
Hi @vovanb, we don't have a single list. Traffic could originate from any Azure datacenter or any Microsoft non-Azure datacenter. You can find a list of all Azure IPs but I don't think there is a published list of other Microsoft servers.

[2017-01-28 11:39] #1885 closed

[2017-01-28 11:40] dandriscoll commented on #1800
Haven't heard back, so I'm closing this issue for now. Please feel free to at-mention or open a new issue.

[2017-01-28 11:40] #1800 closed

[2017-01-28 11:41] dandriscoll commented on #1750
Closing as it appears we've addressed the question, and that calling a non-internet-connected endpoint is a valid request but not supported at this time. Feel free to at-mention or open a new issue if you'd like to discuss further.

[2017-01-28 11:41] #1750 closed

[2017-01-28 11:45] dandriscoll commented on #1953
You can find the Azure IP ranges here: https://www.microsoft.com/en-us/download/details.aspx?id=41653

These IPs will work for some channels for now, but may break without notice (and without the possibility of reversing the change) in the future.

[2017-01-28 19:03] Ketcap commented on #2116
Okay it can be close because im emberassed, and your website looks wrong info there :)
There's missing 'BREAK' in switch case :)
![screen shot 2017-01-28 at 22 01 23](https://cloud.githubusercontent.com/assets/7689820/22399057/196036f8-e59d-11e6-9846-7a558cf2e54e.png)
![screen shot 2017-01-28 at 22 02 38](https://cloud.githubusercontent.com/assets/7689820/22399058/2136fd3a-e59d-11e6-8fc7-65a2bad1f

[2017-01-28 19:03] #2116 closed

[2017-01-29 03:26] gakarnik commented on #2082
Can we have the same support for all channels and not only skype? It would be great to have an option to specify the buttons layout as horizontal or vertical.

[2017-01-29 10:55] bondz opened #2135 "next() intent handler not called automatically"
Using the Chat Connector, and restify. The following

[code]

I'm using Luis and the handler gets called when the user says hi, but it gets stuck at the function `botIntroduction`, unless I add a `next()` at the end of the function. Similarly, all other intents behave the same way.

Using `NodeJS 6.9.1` and `botbuilder@3.5.4` with `typescript@2.1.5`

I'm assuming this is a bug, as I've spend the b

[2017-01-29 14:46] helbermc commented on #1495
Hi! Anybody got the answer? I have the same case...

[2017-01-29 20:19] RichMoeMSFT commented on #2133
We are encrypting the userid now but it will be consistent within your bot code and therefore usable for such things as a key for storing user data, etc.

We will be releasing additional support around querying users, teams and channel information and that id will be used for that functionality.

As far as your specific use case, though, let me follow with the team to find the appropriate way to d

[2017-01-29 21:32] james-lawrence commented on #2133
we are using the graph api currently to get the list of users, the problem is mapping those ids to these new ids.

[2017-01-29 21:40] vovanb commented on #2129
Guys Any feedback - the issue is showstopper after upgrade. We used your recommendation for assign MicrosoftAppId and MicrosoftAppPassword in runtime, and now you have broke the service:
https://github.com/Microsoft/BotBuilder/issues/867

[2017-01-29 21:43] eanders-MS commented on #2129
@msft-shahins can you take a look?

[2017-01-30 02:27] willportnoy commented on #2135
I think that's intentional, following similar conventions to the waterfall in async.js

https://caolan.github.io/async/docs.html#waterfall

so that you might have the option of choosing something else, like skipping the next step.

[2017-01-30 02:29] willportnoy commented on #2113
The IAwaitable<T> in ResumeCopleted carries the result (of type T) from the MainDialog, so that you can post a message to the user or take some other action before resuming the wait for the next user message.

[2017-01-30 05:36] sayyednazeer commented on #2078
hi @dandriscoll  the above link does not so helpfull.. i have follow the blog and it was configuring the **.aspx** pages and not the web services.

I saw in my log when my code come to the line when it makes a call to LUIS model which takes aprox 5-6 seconds and after that it return the responce but when it calls the LUIS model which takes 5-6 sec.. at that time my DIRECT LINE app throw Internal S

[2017-01-30 06:00] dandriscoll commented on #2078
Configuring IIS liveness for .aspx pages is good enough. You only need to request one page to keep the entire site alive. You could do an HTTP GET on your server's root.

5-6 seconds is slow. LUIS is working on improving performance, so that should get better soon.

The Bot Framework timeout is 15 seconds. 5-6 seconds is not enough to trigger that error. (Even if we are making calls across the Pac

[2017-01-30 07:10] singhsurya commented on #2092
Hi, @dandriscoll,

The service URL I receive is https://smba.trafficmanager.net and I am not able to ping back from Bot to User after 30 minutes break.

[2017-01-30 07:57] Lugo239 opened #2136 "NodeJS - Is it possible to let the chat connector programmatically receive a message?"
At the end of my last dialog i want to use the last user input as an input for my main dialog.

`session.endDialogWithResult({
        response: session.message
    });`

Iam able to get the lase user message in the first step of my " \ " root dialog. Now i want to start a dialog based on the last user input. So is it possible to start a dialog with a specific input message?

Currently i need to t

[2017-01-30 08:58] BenjaBobs commented on #2121
It seems to me that having a static container and passing it around is the [service locator anti-pattern](http://blog.ploeh.dk/2010/02/03/ServiceLocatorisanAnti-Pattern/). Is there any chance of instead having the internal container exposed before it is built?

The way I see it, another alternative could be to create another IDependencyResolver which first tries to resolve using the BotBuilder int

[2017-01-30 09:12] bondz commented on #2135
@willportnoy that makes sense, only that all the docs only used `next()` calls conditionally, I had assumed the next handler would be called automatically, thanks.

[2017-01-30 09:12] #2135 closed

[2017-01-30 09:22] bondz commented on #2136
Have you tried starting the dialog you want with [`beginDialog()`](https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.session.html#begindialog) passing in the conversation via `args`.

for example, in your last handler, you could have
[code]

and then check in your dialog handler for `/`
[code]

[2017-01-30 09:37] Lugo239 commented on #2136
Hey bondz!

Thanks for your fast and helpful reply! It is working correctly.
At this point the last message can be used as an input for the first dialog of the root.

Thanks a lot!

[2017-01-30 09:50] msBot1111 commented on #2113
![p](https://cloud.githubusercontent.com/assets/24811574/22418480/864367c6-e6d9-11e6-8988-74736bf049b1.png)
And It doesn't start the new search with cancer.I need to take that input and start the conversation with that. If I type again cancer then the result will be returned, but that's not my point.

[2017-01-30 10:00] spulci commented on #2049
Here I am to report my test to you. Our proxy is under authentication and your fix seems not to support proxy with authentication.
Infact Bot Emulator now gives a new error (407-unauthenticated):

-> POST Refresh access token failed with status code: 407

Btw this is a workaround for the problem:

    Use fiddler as a tunnel for authenticated proxy. Mark "Automatically Authenticate" option under "

[2017-01-30 10:02] BenjaBobs commented on #2131
You can capture the closure in a lambda expression like this:
[code]

[2017-01-30 10:03] bondz opened #2137 "[NodeJS] test RegExpRecognizers first before using luis"
According to the [docs](https://docs.botframework.com/en-us/node/builder/chat/IntentDialog/#intent-recognizers)

This however currently only applies to when regular expressions are specified in the match argument of the intent, as in `intent.matches(/^help/iu, waterfall)`

I think this should also be applied in the case of RegExpRecognizers before using the `LuisRecognizer`

In my case I have
[cod

[2017-01-30 10:10] blueprintChris commented on #1376
How does one go about changing the textformat from plain to markdown?

[2017-01-30 10:21] bondz commented on #2136
@Lugo239 happy to help 😄

[2017-01-30 11:58] bondz commented on #2130
@willportnoy is there a ScorableDialog equivalent for NodeJS? An example maybe?

[2017-01-30 12:00] Lugo239 commented on #2136
Hey its me again.

I have a follow up problem related to the way my main root is looping at this moment.

Iam enable to use the last message as input for the listen dialog. But now the `builder.Prompts` methods does not wait for user input anymore. Did smb of you got a similar problem?

[2017-01-30 12:11] bondz commented on #2136
If you were implementing the loop in the same dialog, you might want to take a look at the [loop example](https://github.com/Microsoft/BotBuilder/tree/master/Node/examples) using [`replaceDialog`](https://docs.botframework.com/en-us/node/builder/chat/session/#replacing-dialogs)

[2017-01-30 12:40] msBot1111 commented on #2113
Ok, thanks It's working now

[2017-01-30 12:40] #2113 closed

[2017-01-30 13:03] b4usat commented on #816
Sorry for re opening this issue after a long. Somehow my code above throws error. So requesting your help to review it again. Flow Details below
My Root Dialog will be inherited by various classes(modules) in the project which is inheriting IDialog. In the MessageReceived method of RootDialog i tried to collect all the classes which is inheriting my Root class, then finding the Task Handlers for t

[2017-01-30 14:28] AnandChitale commented on #2098
Yes it used to work before. Suddenly stopped working i.e Bot was not able to greet user on conversation update. But when user types Hi ,then bot replied with greet message.

[2017-01-30 15:09] konstlut commented on #1988
@eh3rrera So far I found some activity from your bot on Jan, 25: 4 messages were successfully delivered to your bot and 2 messages were sent back to Skype with no errors so far. Could you try reproducing the problem please?

[2017-01-30 15:46] aakashvit commented on #2073
what about node js.. How we can achieve same thing in node js???

[2017-01-30 16:55] vovanb commented on #2131
thanks a lot

[2017-01-30 16:55] #2131 closed

[2017-01-30 16:56] eh3rrera commented on #1988
Thanks @konstlut,

The first four times I tested today, I couldn't initiate a call.

In my ngrok console, I have the following:
[code]
In the Inspect page, this is how a request that returns a 403 status looks like:
[code]
Response:
[code]
So I waited about 30 minutes and finally the call was successful. As you can see in the ngrok output, it always returned 200 OK when I interacted through voice

[2017-01-30 18:56] macrobug commented on #1983
Thanks @eanders-MS , Would you let us know when this fix is deployed to the portal?

[2017-01-30 19:29] haligasd opened #2138 "How can we leverage the same facebook bot on multiple pages"
Think white labeling bots.  Same engine different customers.  I believe we have to put in the page token in the config inside the portal which limits us to one page.  Maybe I missed something.  Thanks

[2017-01-30 19:50] jamtrup opened #2139 "Image upload size limit?"
Hi,
I'm having users upload an image with their chat; that image gets processed in some way.
The symptom I'm seeing is that for larger images, the image arrives in the bot and can be processed, but at the end of the dialog turn, an exception is thrown. From the logs, it seems to be this one:

  "message": "An error has occurred.",
  "exceptionMessage": "The request content length exceeded limit of

[2017-01-31 00:07] willportnoy commented on #2139
Any chance your attachedImage is a field of your dialog, and it's inadvertently being serialized to the state service?  If so, you might consider marking that field with [NonSerialized].

[2017-01-31 00:15] vorti2 opened #2140 "[NodeJS]: FB endpoint and '[503] Service Unavailable' errors"
Hi,

our NodeJS bot has worked, but in the last couple of hours if the bot wants to communicate with FB via MSBF we see error messages like
[code]
For our implementation we use
[code]

Any idea?

Thanks,
Wilhelm

[2017-01-31 00:20] jamtrup commented on #2139
That was indeed the problem.
Thanks so much!

[2017-01-31 00:20] #2139 closed

[2017-01-31 01:05] teddis commented on #2140
👍 This is happening to me too right now. Great timing, we have a huge, important demo tomorrow for potential partnership and funding.

[2017-01-31 01:15] eanders-MS commented on #2140
Bot Framework ops is aware of the issue and is actively investigating.

[2017-01-31 02:48] jarmstrongnz opened #2141 "invalid selection of promptchoice dialog for fb throwing error"
![screenshot 102](https://cloud.githubusercontent.com/assets/16697734/22450535/31e68d2c-e7cc-11e6-9807-aa5a741b61dd.png)

The attached error is thrown (and currently sent as a message to the user) when a PromptChoice is answered with a typed message, that does not contain one of the valid options.

This error occurs during the following part of the ResumeAfter<string> method

`var choiceResult = a

[2017-01-31 05:49] Badolfo opened #2142 "GatewayTimeout Error"
Hi there,

I am experiencing some errors with Facebook channel, that has major impact in user experience since let users without any answer:
"There was an error sending this message to your bot: HTTP status code GatewayTimeout"

Can you help identifying the problem?
Bot is deployed on amazon ec2 machine and Bot Handle is BioNatural

Thanks.

[2017-01-31 06:03] eanders-MS commented on #2142
Hi @Badolfo, Are you experiencing this currently? We saw a degradation in our Facebook service earlier today between 2pm and 5pm PST.

[2017-01-31 06:40] AnandChitale commented on #697
Authorization for Microsoft App ID f196f57b-5b97-4653-aaac-d98824071ed1 failed with status code Unauthorized {Bot Framework V 3.5.1}

Updated bot builder sdk to V3.5.1 from V3.1.0

   at Microsoft.Bot.Connector.JwtTokenRefresher.<SendAsync>d__2.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSucces

[2017-01-31 07:01] Masssluis opened #2143 "Cannot Get Azure Function Triggered."
Hello All,

Requirement - I just want to trigger Azure Function (proactive)(Developed in visual Studio from Bot Template)similar to Proactive Template in Bot Service.

I have developed the solution directly from visual studio(without going to bot service and selecting a Proactive template).When I am testing it in emulator message gets queued but I am **not able to get** the trigger control back as

[2017-01-31 07:42] mikob commented on #1160
@CarolHanna It seems the limit has been raised, I currently have 23 intents. But what exactly is the new maximum? I can't find anything in the docs.

[2017-01-31 07:42] mikob commented on #327
I currently have 23 intents, it seems the limit was raised. But I can't find in the docs what it was raised to.

[2017-01-31 08:28] sayyednazeer commented on #2078
From my client application i send the message with appending some Token and some other parameters like "Hi |!!| 0fce759b-9e30-40f0-95f5-aa4fc8dd982c |!!| Client |!!| AAIPC9085D"

When i received this message in BOT application i split it and save the appended parameters in BOTDATA state service.(I don't think if this service is slowing down my application by saving the parameters)

Please have a l

[2017-01-31 08:37] sayyednazeer commented on #2134
I want to check inside both my MessagesControllers and Dialogs.

[2017-01-31 09:25] slidenerd opened #2144 "Prompts.choice error ([sprintf] unexpected placeholder)"
Hey, first of all thank you for all your fantastic efforts in maintaining this lib. I am facing this issue from yesterday.
[code]

My text looks like this
[code]

My welcome Buttons look as follows

[code]
The emojis are being rendered with the node-emoji library and they are working perfectly.

Here is the scenario, if I specify a list style, this code works but I dont see the buttons.

**Scenari

[2017-01-31 10:15] alonsonic commented on #2140
@eanders-MS do we have a confirmation that this issue was solved?

I was experiencing the same problems yesterday, but tested the chatbots now and they are performing well.

[2017-01-31 10:24] JpEncausse opened #2145 "SSL Certificate for Microsoft Bot Builder"
Hi,

- I made a SSL Certificate with let's encrypt on ah-bot-pp.wipolo.com:1880
- I also buy a wildcard certificate at *.viseo.io at Gandi
- And also get a certificate at ssl.viseo.io

I get the following error (on an Azure server) :

`Error retrieving OpenId metadata at https://login.botframework.com/v1/.well-known/openidconfiguration, error: Error: Hostname/IP doesn't match certificate's altname

[2017-01-31 10:45] brendanarnold opened #2146 "Webchat control goes into infinite loop when uploading a file in Edge"
I have the following code opened as a `file://` from my desktop ...

[code]

Clicking on the image button opens a file dialog which cannot be dismissed - it just reopens the dialog as soon as it is dismissed.

Microsoft Edge 38.14393.0.0
Microsoft EdgeHTML 14.14393

The inifinite loop does not occur with Chrome (latest standard release)

[2017-01-31 10:59] vorti2 commented on #2140
We have the following information from chatbot group on FB:
[code]

Okay, when the problem is solved for now, what do we have learned for the future?

[2017-01-31 11:02] BHouwens opened #2147 "Bot working in Web Chat but offline on Skype"
I'm trying to test a Node.js bot, hosted on Heroku, in Skype. Bot gets added as a contact, but is offline and unable to respond to messages. It does work perfectly in the MS Web Chat on the bot page.

I'm not sure what other kind of info is necessary in order to make an assessment of what the issue might be, but let me know if there's anything more I can provide

[2017-01-31 11:51] sayyednazeer commented on #2078
@dandriscoll  i have my free subsription azure account, i have publish my bot code over there but i face the same problem there also. Internal Server Error(Some Time).

[2017-01-31 12:37] teddis commented on #2140
We all depend on 3rd party services, but the bot framework is still in preview. This is not the first outage in the last few months and its added delay is still unfortunate. I don't mean to complain, but it still doesn't give me that warm and fuzzy of something we can rely on for mission critical bots, esp. ones that generate revenue. It's great for a playground. It's wonderfully novel middleware,

[2017-01-31 13:24] nmaroine opened #2148 "Luis : 401 when trying to use the luis api programmatically"
hi,
i have an issue when i try to use luis with the Api. i got a 401
for exemple ,this operation :
https://westus.api.cognitive.microsoft.com/luis/v1.0/prog/apps/{appId}/train

**appid**       : get it from Luis interface
**password** : it's my api key from Azure (this key is associated with my Luis model)

i still have the 401 ...

[2017-01-31 13:51] arieschwartzman opened #2149 "Calling proactive conversation with WebChat"
I'm able to start a dialog proactively by calling
bot.beginDialog(address, dialog, params, function(){
});
It works in Skype.
In WebChat I get this error:
Request to ‘https://webchat.botframework.com/v3/conversations‘ failed: [405] Method Not Allowed

Thanks

[2017-01-31 14:10] vorti2 commented on #2140
Yes, the small hint "Preview" on the home page ... Would be interesting to know a little bit more about MS plans (and time schedule) for the bot framework.

[2017-01-31 14:10] #2140 closed

[2017-01-31 14:51] sgomaram commented on #1995
@danmarshall sorry for the late response.

Yes, it was Windows emulator.. File name was something like "Bot Framework Channel Emulator.application".

I'm not sure of playVideo, but openURL worked with previous emulator. When I click on card image, it used to open a URL that was assigned to CardAction.

[2017-01-31 14:53] michaelvol commented on #2103
Hi,
I'm attaching some more details on what I see.
![screenshot from 2017-01-31 16 21 58](https://cloud.githubusercontent.com/assets/6832504/22468606/9043995a-e7d1-11e6-8992-a16cbfd02281.png)
- the first input 'only one question' is when the user clicks the prompt
- then he sends some text input
- the first reply from the bot is correct (and triggers some processing)
- the second reply is not, it

[2017-01-31 16:12] eanders-MS commented on #2103
@Stevenic your thoughts?

[2017-01-31 16:16] vovanb commented on #2129
Team any feedback or workaround will be appreciated.

[2017-01-31 16:17] willportnoy commented on #1943
@aakashvit is your question on how to enable the custom storage providers from that library?

[2017-01-31 16:18] JpEncausse commented on #2145
So to be sure the URL is here:
https://bothack.viseo.io:3980/api/v1/messages

I also put an intermediate certificate to be sure.

Everything is fine according to
https://www.sslshopper.com/ssl-checker.html

But I keep getting
[code]

[2017-01-31 16:18] willportnoy commented on #2096
@zxed yes, you may have had an unbalanced number of IDialogStack.Call/IDialogStack.Forward and IDialogStack.Done, leading to a stack underflow.

[2017-01-31 16:19] willportnoy commented on #2024
Thank you @craigjensen - I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2017-01-31 16:19] #2024 closed

[2017-01-31 16:20] willportnoy commented on #1725
@fercom I would open a new top level issue for that.  400 is a 'bad request" and 403 is "authorization failed", so it seems likely they are caused by other issues.

[2017-01-31 16:22] willportnoy commented on #2095
@cahann no changes to the LUIS client, at least.  It sounds like @AmirSasson was sending a json string as the "q" query parameter to the LUIS service.

[2017-01-31 16:24] willportnoy commented on #2086
@vivekcek FormFlow will never generate audio itself - why would the answer be audio?

[2017-01-31 16:27] willportnoy commented on #2121
@BenjaBobs we don't depend on the container directly in our components, with the intent of avoiding the service locator pattern, preferring constructor injection.  In the "composition root", we resolve a single top-level interface and post the incoming activity to that IPostToBot implementation.

[2017-01-31 16:28] willportnoy commented on #2130
@bondz yes, you can use triggerAction and cancelAction and similar methods in Node.

[2017-01-31 16:30] willportnoy commented on #816
@b4usat I don't see any obvious index accesses in that code, so I'm surprised to see the "index out of bounds" exception.  You might consider looking at the dispatch dialog as it more flexibly composes multiple LUIS models and regular expressions and other scorable actions.

[2017-01-31 16:31] willportnoy commented on #2073
@aakashvit you might consider using Node's send/receive middleware to log messages.

[2017-01-31 16:40] bondz commented on #2130
@willportnoy thanks. Using the framework is surprisingly easy, especially with TypeScript and the docs really helped. Got a working medium size bot in two days and my first time using it. ☺

[2017-01-31 16:42] willportnoy commented on #2130
@bondz good to hear - I'm going to close this issue for now as I think both the C# and Node questions were answered - feel free to open a new top level issue for further discussion.

[2017-01-31 16:42] #2130 closed

[2017-01-31 16:43] dandriscoll commented on #697
Hi @AnandChitale, can you open a new issue? This is likely a new problem.

[2017-01-31 16:48] eanders-MS commented on #2146
@billba thoughts?

[2017-01-31 16:57] willportnoy commented on #2144
Is it possible that the string representation of the emojis conflicts with the string representation of the placeholders in the sprintf library?

[2017-01-31 16:59] willportnoy commented on #2141
@msft-shahins is this related to the quick replies mapping?  or @craigjensen perhaps in the facebook connector?

[2017-01-31 17:05] dandriscoll commented on #2149
Hi @arieschwartzman, the API error is occurring because the bot is trying to create a new conversation, which Web Chat does not support (because there is no way to open a web browser for a user).

The correct behavior is for the SDK to send the message on an existing conversation.

Does your address object contain a `conversation` property?

[2017-01-31 17:06] maxpert commented on #2143
Hey,

 Since you have developed solution your self, you have to make sure that you configure application settings or environment variables containing DirectLine key, and an endpoint (was fixed in later version but since I am not sure about your version I will recommend creating one). Here is how it would look like:

![Function setting](https://cloud.githubusercontent.com/assets/22441/22475639/74f5

[2017-01-31 17:06] slidenerd commented on #2144
If that were the case, both scenarios would fail dont you think? it only fails when i dont specify the list style, how weird is that :)

[2017-01-31 17:23] arieschwartzman commented on #2149
Yes, I remove the conversation property just before calling the API. If I would leave the conversation for this channel and have the webchat window opened, will it work?

[2017-01-31 17:24] billba commented on #2146
We have another report of this over in the WebChat repo. Seems to only happen in Edge.

[2017-01-31 17:47] dandriscoll commented on #2149
Probably, although I don't know enough about that part of the SDK to say for sure.

[2017-01-31 17:48] aakashvit commented on #1943
@willportnoy yeah exactly.I want to use my own storage.But not getting how I will implement  IStorageClient interface .It will better if You can provide any custom  storage example along with azure table and document db example.
and let's say I want to store log information in Document DB, So can we use same concept to store log??

[2017-01-31 18:27] nickcordrey commented on #2147
Please can you send an email to skypebotsupport@microsoft.com with the MSA App ID and name of your bot, referencing this github issue and we'll look into it.

[2017-01-31 18:38] arieschwartzman commented on #2149
I tried and it works.

[2017-01-31 18:40] arieschwartzman commented on #2149
I have another question Dan. Let me use the same thread please.
I want to start a specific dialog once the webchat starts without typing anything.  Can I do that?

[2017-01-31 19:00] danmarshall commented on #2146
Wondering if it's related to React's synthetic events ? https://medium.com/@ericclemmons/react-event-preventdefault-78c28c950e46#.imcv0e2tj

[2017-01-31 19:06] matvelloso commented on #2073
More specifically:

server.post('/api/messages', connector.listen());
var bot = new builder.UniversalBot(connector);
// Middleware for logging
bot.use({
    botbuilder: function (session, next) {
        myMiddleware.logIncomingMessage(session, next);
    },
    send: function (event, next) {
        myMiddleware.logOutgoingMessage(event, next);
    }
})

and:

module.exports = {
    logIncomingMe

[2017-01-31 19:11] itoledo opened #2150 "facebook messenger issue with choice prompt"
Hi:

When building a disambiguation dialog with FormBuilder, using validation, Facebook Messenger responds with this:
`SendActivityToUserAsync FAILED: {"error":{"message":"(#100) Param [elements][0][title] must be a non-empty UTF-8 encoded string","type":"OAuthException","code":100,"fbtrace_id":"CXMxzdjgkf3"}}`
It's the same dialog/code as [bug 1900](https://github.com/Microsoft/BotBuilder/issues/

[2017-01-31 20:25] NCZ-10 opened #2151 "Update Microsoft.Bot.Builder from 3.0.0 --> 3.5.1"
After updating the Bot.Builder to 3.5.0 (or3.5.1) I receive the following error:
"Error: The bot's MSA appId or passsword is incorrect. Click here to edit your bot's MSA info."

With the "old" emulator (3.0.0.59):
401 Unauthorized
{
"message": "Unauthorization has been denied for this request."
}

The MicrosoftAppId and MicrosoftAppPassword is correct/registered and were working with the 3.0.0 pac

[2017-01-31 21:11] willportnoy commented on #2151
If you use the newer emulator (https://docs.botframework.com/en-us/tools/bot-framework-emulator/#navtitle) does it work?

[2017-01-31 21:13] willportnoy commented on #2150
@msft-shahins is this related to quick reply keyboard card mapping?  has that changed across those versions?

[2017-01-31 21:54] KrishnanA commented on #2107
Thanks. I placed a call and it worked well. Can you give me the scenario that does not work and I can look.

[2017-01-31 22:03] cahann commented on #2148
The Azure key is only suitable for the endpoint, but for the programmatic APIs please use the prog. key under your user settings page.

[2017-01-31 23:25] JpEncausse commented on #2145
I put ENV var NODE_TLS_REJECT_UNAUTHORIZED=0 but it's very ugly fix.
And I still don't understand why on server A (with fixed ssl) it works and server B (with wildcard ssl) I have to do that

[2017-02-01 00:14] dandriscoll commented on #2149
Not at the moment, but you could request it over at the Web Chat repo: https://github.com/Microsoft/BotFramework-WebChat

[2017-02-01 02:55] eanders-MS commented on #2151
@NCZ-10 It sounds like you've already done this, but would you mind triple-checking your MSA info on both sides of the connection (bot and emulator)?

Here's a helpful auth debugging guide: https://docs.botframework.com/en-us/support/troubleshooting-bot-framework-authentication/

[2017-02-01 03:34] dandriscoll commented on #2078
Hi @sayyednazeer, I'm not seeing any obvious problems, but I've asked some of my colleagues to look to see if they find anything.

You may want to add entry/exit tracing if your existing logs are not enough. You can add a stopwatch to trace how long each call takes inside your code.
[code]

[2017-02-01 04:33] Masssluis commented on #2143
@maxpert - Thanks for quick response.
I am still little confused.Please clarify me with following answers:

1.Which endpoint do i need to enter? Is it the Bot Framework endpoint which is given when we publish the bot to the store? if yes, then which secret do we need to provide?
My Bot presently consists of App ID, App Secret,Bot Id in its WebConfig. so, from where can i get this Directline app se

[2017-02-01 05:00] sayyednazeer opened #2152 "WEB CHAT WIDGET SESSION"
I have the Bot Web chat <iframe> tag in my application.
Is there any way to pass some session or viewstate values from my application to that web chat.

[2017-02-01 05:02] sayyednazeer opened #2153 "CUSTOMIZE DEFAULT WEB CHAT"
Can i customize the default web chat like its color and also can i add some more controls inside it..??

[2017-02-01 05:09] eanders-MS commented on #2152
The WebChat component will accept optional `username` and `userid` URL parameters. What is it you want to pass?

[2017-02-01 05:21] eanders-MS commented on #2153
Hi @sayyednazeer, Some basic customization of the IFRAME-embedded control is on our feature roadmap, but not yet available.

In order to customize WebChat: You must serve the control from your own site so that you have full reign to modify the CSS to your liking. [This page](https://github.com/Microsoft/BotFramework-WebChat#3-decide-how-to-run-webchat) covers the different hosting scenarios, inclu

[2017-02-01 05:31] msft-shahins commented on #2129
Since nuget v3.1, BotAuthentcation attribute is ActionFilterAttribute and not AuthorizationFilterAttribute. Here are the release notes: https://github.com/Microsoft/BotBuilder/releases/tag/NuGet3.1.0

Also you can now provide ICredentialProvider https://github.com/Microsoft/BotBuilder/blob/3a98a6b3d15962a57b5454bfb3f730d3588de3ef/CSharp/Library/Microsoft.Bot.Connector.Shared/CredentialProvider.cs#

[2017-02-01 05:31] #2129 closed

[2017-02-01 05:35] sayyednazeer commented on #2153
Thanks for the information @eanders-MS

[2017-02-01 05:37] sayyednazeer commented on #2152
when a user login to my application i want to pass that login id to my bot and display the user details as a greeting.

[2017-02-01 05:42] msft-shahins commented on #2141
this is not related to the quick replies. I believe that you are not handling the [TooManyAttemptsException](https://github.com/Microsoft/BotBuilder/blob/8f0d6bbc1ef0fcef99b04560391384aba8fcde15/CSharp/Library/Microsoft.Bot.Builder/Dialogs/Exceptions.cs#L128) returned by PromptDialog, since ``Hey`` is not a valid response for the [PromptDialog.Confirm](https://github.com/Microsoft/BotBuilder/blob/

[2017-02-01 05:42] #2141 closed

[2017-02-01 05:46] vovanb commented on #2129
Can you provide example how to use ICredentialProvider and assign MicrosoftAppId and MicrosoftAppPasswrods programmatically ?

Sincerely,
Vladimir
(Sent from my mobile)

[2017-02-01 06:42] Prabu-raj commented on #693
I need to deploy my bot in Amazon Web Services instead of Azure along with luis service. Is there any possibility to do?

[2017-02-01 06:45] Prabu-raj opened #2154 "Microsoft Chat bot with Luis in AWS"
I need to deploy my bot in Amazon Web Services instead of Azure along with luis service. Is there any possibility to do? How to get subscription key for luis without using Azure?

[2017-02-01 07:23] zeeshanhaider-devbatch commented on #2120
@eanders-MS @alexsorokoletov Can I do some sort of notifications service with help of a REST api, If there is new item added (in certain API/DB) I notify user who has added my bot as a contact?

[2017-02-01 07:24] zeeshanhaider-devbatch commented on #2120
Thanks anyways, Alarmbot was very helpful.

[2017-02-01 07:31] dandriscoll commented on #693
Hi @Prabu-raj, yes, you can deploy your bot to AWS.

LUIS is a web service and is not something you deploy on your own. You can use LUIS from any platform, including AWS.

[2017-02-01 07:32] dandriscoll commented on #2154
Hi @Prabu-raj, yes, you can deploy your bot to AWS.

LUIS is a web service and is not something you deploy on your own. You can use LUIS from any platform, including AWS.

[2017-02-01 08:24] AnandChitale opened #2155 "Authorization for Microsoft App ID f196f57b-5b97-4653-aaac-d98824071ed1 failed with status code Unauthorized {Bot Framework V 3.5.1}"
Authorization for Microsoft App ID f196f57b-5b97-4653-aaac-d98824071ed1 failed with status code Unauthorized {Bot Framework V 3.5.1}

Updated bot builder sdk to V3.5.1 from V3.1.0

at Microsoft.Bot.Connector.JwtTokenRefresher.d__2.MoveNext()
 --- End of stack trace from previous location where exception was thrown ---
 at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
 a

[2017-02-01 08:25] AnandChitale commented on #697
Done : https://github.com/Microsoft/BotBuilder/issues/2155

[2017-02-01 08:40] NCZ-10 commented on #2151
I've tried the "old" and "new" emulator. MSA were added directly from the registration portal.
The weird thing is that everything works fine with 3.0.0

When connecting without password on localhost the same error occurs.

[2017-02-01 09:14] Prabu-raj commented on #2154
@dandriscoll How do i get the subscription key?

[2017-02-01 09:23] Prabu-raj commented on #2154
I am a newbie can  you please explain me in detail

[2017-02-01 10:16] ebattulga opened #2156 "Facebook like crush error"
I'm using c# BotBuilder with LUIS. When user reply **Like** , framework return this "Sorry, my bot code is having an issue".

1. How to handle like button?
2. How to localize "Sorry, my bot code is having an issue" text?

[2017-02-01 10:26] nmaroine commented on #2148
[Resolved] thanks it's working for me !
you have to use this url and take the Programmatic API Key
https://www.luis.ai/Home/UserSettings

[2017-02-01 11:26] AnithaJothi commented on #720
Hi, I am trying to display 4 Hero Cards (Rich cards) in a plain web chat channel. They seem appear properly in the emulator, however they don't appear as cards in web chat! Instead they appear as a series of text and images! Any help is much appreciated!

[2017-02-01 12:16] sayyednazeer commented on #2078
Hi @dandriscoll  now i have clean my messages controller code , i have remove the split and save on state service code also :(

As you said i have set the stop watch to calculate the execution time below i have attached the file which i got when i call the luis model.

As i have clean my code there is nothing except to call Luis Model but at then also i got the same error some time.

---- Please h

[2017-02-01 12:45] sayyednazeer commented on #2078
Please check this snap also which takes 27 seconds to call the LUIS Dialog

This is the line which calls the LUIS Model
----------------------------------------
 Log("Calling LUIS Dialog Start", "Token", "BOT Execution Time = " + sw.ElapsedMilliseconds.ToString());
                        await Conversation.SendAsync(activity, () => new MeBotLuisDialog());

                        Log("Calling LUI

[2017-02-01 13:13] nmaroine opened #2157 "LUIS Programmatic API : how to add a new utterance and associate it to an intents with the api"
hi guys,
i'm expolring the  LUIS Programmatic API refferences ,
and i couldnt found this 2 actions :

1. how to add a new utterance ?
2. how to associate to an intent (and maybe specify the entities)

thanks in advance 👍

[2017-02-01 14:51] #2157 closed

[2017-02-01 16:00] dandriscoll commented on #2154
Hi @Prabu-raj, LUIS is just an HTTP service you call from your code. Inside the LUIS portal, you can click the Publish button to generate an endpoint your code can call. When you move your bot to AWS, you can still issue calls to the same LUIS endpoint.

If you're using the Bot Builder SDK, you do not have to make any changes. The SDK integrates with LUIS the same way in Azure and AWS.

[2017-02-01 16:07] jameslew commented on #2154
+1 to Dan's comments

Note, the subscription key you get from Azure (when you add cognitive services there) is copied and pasted into the settings dialog for your LUIS app.  Taking that step tells LUIS which Azure subscription to associate your bot's requests with.

[2017-02-01 16:13] dandriscoll commented on #2078
Do you know which methods inside your MeBotLuisDialog are running slowly?

I noticed you have some calls to `System.Threading.Thread.Sleep`. You should not call this method within your message processing code. If you want to send responses with delays, you should move that to a background task so the HTTP request thread can exit quickly.

[2017-02-01 16:29] brene commented on #720
@AnithaJothi please open a new issue at https://github.com/Microsoft/BotFramework-WebChat/issues since this is related to the webchat

[2017-02-01 16:32] igorzhilin opened #2158 "node CardImage : how to set thumbnail size in herocard"
Dear colleagues

I need to make larger thumbnails in the herocard (which I suppose should be done in CardImage.js). I would be glad to update the code myself, but I have no idea where to start. BotBuilder/Node/core/lib/cards/CardImage.js -- where should I put image size?

Thank you,
Igor.

[2017-02-01 17:21] chrimc62 commented on #2100
@df42 what version of the Bot Builder are you running--is it the latest? There was a bug around this that was fixed two releases ago if I remember correctly.

[2017-02-01 17:22] chrimc62 commented on #2124
@willportnoy answered this, so I'm closing it.

[2017-02-01 17:22] #2124 closed

[2017-02-01 17:25] willportnoy commented on #2155
Are you using the new Bot Framework Emulator?

https://docs.botframework.com/en-us/tools/bot-framework-emulator/

[2017-02-01 17:26] willportnoy commented on #2156
"Sorry, my bot code is having an issue" means there was an unhandled exception within your dialog code - can you run the code with the debugger attached to look for thrown exceptions?

[2017-02-01 17:28] fercom commented on #2155
@willportnoy my bot throws this error only when it is published but never in the emulator

[2017-02-01 17:59] chrimc62 commented on #2125
The References and Imports are solely for the use of the embedded C# code.  The expectation for localization is that you produce your own JSON file per language.

You could use rview to generate a resource file from the JSON definition, then localize it in the normal way, and it shouldwork, but that would be kind of weird.  JSON FormFlow is designed to define forms at runtime--and resources are de

[2017-02-01 17:59] #2153 closed

[2017-02-01 18:01] chrimc62 commented on #2100
Issue #1922 was the previously fixed bug.

[2017-02-01 18:04] willportnoy commented on #2144
@Stevenic what is the intention behind the extra %s in https://github.com/Microsoft/BotBuilder/blob/master/Node/core/lib/dialogs/Prompts.js#L239 ?

[2017-02-01 18:07] eanders-MS commented on #1595
@GhostAtom Are you still seeing this error?

It occurs to me that it would be useful if the emulator could send a location to the bot.

[2017-02-01 18:13] #1621 closed

[2017-02-01 18:17] eanders-MS commented on #1928
Hi @jagdish-176 If you've enabled the "preview" option for your WebChat channel, you'll get the new WebChat control in your iframe. Can you check the dev portal to see if this option is enabled?

[2017-02-01 18:18] eanders-MS commented on #2049
Hi @spulci Thanks for this info, and glad to hear there's a possible workaround with the Fiddler setting. I'll continue to work on this.

[2017-02-01 18:21] eanders-MS commented on #2044
Fix has been deployed. Closing now. @ncksol If you're still seeing this behavior please @mention me or open a new issue. Thanks for taking the time to report this issue.

[2017-02-01 18:21] #2044 closed

[2017-02-01 21:51] wacton opened #2159 "Change option to list bot in directory after it's been reviewed"
Hi,

We submitted and had our bot reviewed recently.
During the submission process we choose not to list the bot in the directory after it's been reviewed. Assuming we'll be able to change this later. I've had a look and can't find anywhere to change it.

Could somebody please point me in the right direction?

[2017-02-01 22:01] willportnoy commented on #1943
@aakashvit in C#, we have an IActivityLogger interface you can implement to log all incoming and outgoing activities.

In Node, you might consider using send and receive middleware, though I don't know of any examples for that.

[2017-02-01 22:03] willportnoy commented on #1943
@aakashvit did you get your answer from https://github.com/Microsoft/BotBuilder/issues/2073#issuecomment-276459337 ?

[2017-02-01 22:05] willportnoy commented on #2155
We usually recommend https://docs.botframework.com/en-us/support/troubleshooting-bot-framework-authentication/ for diagnosing authentication issues.  I'm not sure the upgrade of the SDK is related, though.  If you roll back, does that fix it?

[2017-02-01 23:42] Sid245439 opened #2160 "How to delopy a CSharp code to azure"

[2017-02-02 00:09] msft-shahins commented on #2151
@NCZ-10 can you update to the latest emulator v3.5.25? https://emulator.botframework.com/

The JwtToken sent by bot to emulator have changed starting bot builder v3.5 and only new emulator can authenticate those tokens: https://docs.botframework.com/en-us/restapi/authentication/#changes

[2017-02-02 00:32] msft-shahins commented on #2160
You can find a step by step guide here: https://docs.botframework.com/en-us/csharp/builder/sdkreference/gettingstarted.html

[2017-02-02 00:32] #2160 closed

[2017-02-02 00:34] msft-shahins commented on #2158
Currently bot doesn't have a control on the size of CardImage in HeroCard: https://docs.botframework.com/en-us/core-concepts/reference/#cardimage. The size is determined by different clients for different channels.

[2017-02-02 00:34] #2158 closed

[2017-02-02 00:59] msft-shahins commented on #2156
As @willportnoy suggested this means that your bot code is throwing an exception when it receives the like from facebook in the activity. You can attach debugger and see what is the exception that is getting thrown in your code.

The UnhandledExceptionToUser is localized and will be loaded from the appropriate resource: https://github.com/Microsoft/BotBuilder/blob/3a98a6b3d15962a57b5454bfb3f730d35

[2017-02-02 00:59] #2156 closed

[2017-02-02 01:02] #2148 closed

[2017-02-02 01:02] msft-shahins commented on #2148
Closing this issue since it is resolved. Feel free to open a new issue if you have other problems.

[2017-02-02 01:09] msft-shahins commented on #2142
Closing this since the Facebook service has been recovered. Feel free to open a new issue if you have any other issues.

[2017-02-02 01:09] #2142 closed

[2017-02-02 01:20] danmarshall commented on #2152
Hi @sayyednazeer here is an example of passing information from your application to the web chat and through to your bot: https://github.com/Microsoft/BotFramework-WebChat/blob/master/samples/backchannel/index.html

[2017-02-02 01:44] msft-shahins commented on #2134
You have access to the incoming activity in the MessageController and Dialogs. You can look at the activity.ChannelId to check which channel the request comes from. For example, [KeyboardCardMapper](https://github.com/Microsoft/BotBuilder/blob/3a98a6b3d15962a57b5454bfb3f730d3588de3ef/CSharp/Library/Microsoft.Bot.Builder/ConnectorEx/BotToUser.cs#L132) is using that information to map KeyboardCard t

[2017-02-02 01:44] #2134 closed

[2017-02-02 01:47] msft-shahins commented on #2149
Closing this issue since it is resolved. Feel free to open a new issue for further issues that you might have.

[2017-02-02 01:47] #2149 closed

[2017-02-02 01:50] msft-shahins commented on #2128
userData is a property bag (json object), you can delete the property by calling delete on the specific field that you want to delete. here is an example: https://github.com/Microsoft/BotBuilder/blob/2826c4757be5488ecc13926ecdf540254bf9715d/Node/examples/feature-beginDialogAction/app.js#L119

[2017-02-02 01:50] #2128 closed

[2017-02-02 02:01] msft-shahins commented on #2117
Skype limits size of the attachment to 20MB and as a result you are hitting that limit and get http status code 413. Different channels have different size limits for attachments. Publishing a list covering these limits is in our backlog.

[2017-02-02 02:01] #2117 closed

[2017-02-02 02:09] msft-shahins commented on #1067
This should be fixed now. Feel free to open a new issue if you are still seeing this issue.

[2017-02-02 02:09] #1067 closed

[2017-02-02 02:13] msft-shahins commented on #2150
@willportnoy this shouldn't be related to the quick reply keyboard card. @chrimc62 can you comment?

[2017-02-02 02:19] saurabhabh commented on #1938
Guys check this - [https://docs.botframework.com/en-us/support/troubleshooting-bot-framework-authentication/](url) . I had the same issue. Following the steps in this url fixed it.

[2017-02-02 02:24] msft-shahins commented on #2110
@ejadib thanks for the help. Closing this since the question have been addressed.

[2017-02-02 02:24] #2110 closed

[2017-02-02 02:35] msft-shahins commented on #2099
as @willportnoy mentioned you are keeping activity as a member field in your dialog and activity is not serializable. Either you should mark it with [NonSerialized] attribute or keep a serializable object that includes the fields from activity that you want to serialize in your dialog.

[2017-02-02 02:35] #2099 closed

[2017-02-02 02:42] msft-shahins commented on #2107
@camer314 do you still have this issue?

[2017-02-02 02:55] msft-shahins commented on #2068
@NaiduGiridhar have you had a chance to debug your bot? My guess is that your bot code is causing an exception in the Formbuilder and as a result you see the repetition in the questions. Closing this issue because of the age. Feel free to open another issue if you still hit this.

[2017-02-02 02:55] #2068 closed

[2017-02-02 04:40] ubreddy commented on #1928
thanks this works. But I notice that the bot icon is not appearing against the bot message which was the case in original webchat... I thought it was good to show the icon.. Is there a setting or we lose this feature now with the latest version? Uday

    On Wednesday, 1 February 2017 11:47 PM, Eric Anderson <notifications@github.com> wrote:

 Hi @jagdish-176 If you've enabled the "preview" option

[2017-02-02 05:25] Badolfo commented on #2142
Hi, having same error last night:
01/02/2017, 20:10:18
There was an error sending this message to your bot: HTTP status code GatewayTimeout

Regarding @eanders-MS question, it was one hour previous to that time range that you mentioned.

Hoping you can give some help guys. Thanks

[2017-02-02 05:28] sayyednazeer commented on #2152
i am working with c# and can you explain me in details what to do with this index.html file and also is i have to do any changes in index.html file..?
Thanks

[2017-02-02 05:30] Badolfo opened #2161 "[Performance] GatewayTimeout"
Hi, having same error last night that I reported before (issue #2142) :
01/02/2017, 20:10:18
There was an error sending this message to your bot: HTTP status code GatewayTimeout

Regarding @eanders-MS question on issue #2142 , it was one hour previous to that time range that you mentioned.

Hoping you can give some help guys. Thanks

[2017-02-02 05:53] sayyednazeer commented on #2078
Last week i have remove all those System.Threading.Thread.Sleep code . Now i don't have any such latency code in my solution.

Inside my MeBotLuisDialog i cant use StopWatch because it says it is not marked as serializable.

If i write the code to make a call to luis like this it execute fast

--------------------------------------------------------------------------

public static async Task<Luis

[2017-02-02 06:13] Masssluis commented on #2143
@msftgits @matvelloso Please help !

[2017-02-02 06:13] rjesh-git commented on #2161
I'm also facing the same issue in slack, it works fine in Teams. Mine is NodeJs bot.

[2017-02-02 06:26] AnandChitale commented on #2155
Installing new bot ramework emulator and upgrading to V3.5.1 resolved the issue.Thanks

[2017-02-02 08:15] AnandChitale commented on #2098
Upgraded to V3.5.1 and using new emulator , getting the greet message in Emulator only .
Web Chat control does not get greet message.

[2017-02-02 08:49] zytsai commented on #1599
This bug remains in v3.5.3.

If you dump out the internal dialog stack, you will found that all the dialogIds are automatically added the prefix "*:".

While methods like session.replaceDialog(dialogId) convert the input dialogId automatically and work well, It seems that session.cancelDialog(dialogId) doesn't handle the *FIRST* parameter in the same way. For example, to cancel the dialog "/intro"

[2017-02-02 08:57] sayyednazeer commented on #2161
I'm also getting this GatewayTimeout error using direct line with c#

[2017-02-02 09:03] nmaroine opened #2162 "LUIS Programmatic API : does the Train work ?"
hi,
im trying to train my model Programmaticly,
i use the Post train operation , return code CREATED
i use GET Training Status Code 200.
but i cant see my last train, if i do it via the user interface , it's works .
so my question is :
the train operation is working via api ?
or i'm i just using it wrong?

[2017-02-02 09:10] nmaroine commented on #2162
seems like it working now (i didnt change anything )

[2017-02-02 09:10] #2162 closed

[2017-02-02 09:16] jagdish-176 commented on #1928
Yes, now it works.

Thank you.

[2017-02-02 09:26] sayyednazeer commented on #2078
@dandriscoll  one more thing to say, the code inside my MeBotLuisDialog takes only 1-2 seconds.

Actually i am getting the error when LUIS want to detect which intents to be called.

For example at the time when i type "HI" my LUIS models do some process and check which Intents Method need to be called in my MeBotLuisDialog .
 so that processing time is some time goes very high like 27 seconds and

[2017-02-02 09:38] df42 commented on #2100
@chrimc62 Version used is 3.3.3, i'll re-test it with 3.5.1 later. Thanks

[2017-02-02 09:38] NCZ-10 commented on #2151
Still using v3.5.25.

Does the described changes allready implemented in v3.5 package

[2017-02-02 10:10] vovanb opened #2163 "ICredentialProvider question"
Hello team,
Can you provide ICredentialProvider  sample? How assign    AppId and Password in runtime depending from where from/to request come in?
Thanks

[2017-02-02 10:14] sayyednazeer opened #2164 "DIRECT LINE SAMPLE CODE"
Hi,

Does any bdy having some working sample code for BOT to call using Direct Line with Jquery Ajax.
My Bot code is in c#

[2017-02-02 10:20] Sid245439 opened #2165 "Facing Problem with folder structure"
I am not understanding from which folder I need to push my code ,I want only DemoSkypeCalling bot .
Should I push my code from /examples/DemoSkypeCalling or should I push code from root directory.
Please help me in deploying DemoSkypeCalling application.

I am delpoying it on azure!

[2017-02-02 10:30] arnoldpistorius commented on #2155
Same problem here after upgrading from 3.2.1 to 3.5.1

When I use ngrok on the server to create a 'tunnel' with `ngrok http 80` the authorization issue is gone. But when I'm using the normal server domain, the autorization issue is back. I am testing this live in botframework.com console.

So:

Botframework.com -> ngrok -> Visual Studio Debug = OK
Botframework.com -> ngrok -> iis server = OK
Botfr

[2017-02-02 11:01] Badolfo opened #2166 "IIS Application Pool Best Configuration Practices to publish Bots"
Hi,

can you give some website as a reference or provide some specific guidance for IIS application pool best  configuration to publish Bot apps, like:

Idle Time-out
Load User profile
Recycling Regular Time Interval

Feel free to alert regarding other parameters that I should be aware.
Thanks in advance.

[2017-02-02 12:20] nmaroine opened #2167 "LUIS Programmatic API : Publish error 400"
im trying to publish my Luis Model via api ,
but i dont understand how it works ?
the method called :
https://westus.api.cognitive.microsoft.com/luis/v1.0/prog/apps/{appId}/publish

there is the response bodyof my post 400
{
  "error": {
    "code": "BadArgument",
    "message": "Cannot find an application with the specified ID"
  }
}
im usind this app id

![image](https://cloud.githubusercontent.

[2017-02-02 12:50] inornos opened #2168 "There was a problem synchronizing your bot to Skype."
This Is My Skype I'm Unable To Start Chatting And Use It What i do please check below images
In My Skype Its Showing Me **Messaging disabled until request is accepted** i'm Accept Contact Request But Not Working After That

![image](https://cloud.githubusercontent.com/assets/14770190/22549803/36ef69b2-e973-11e6-8e8b-2246237f8b66.png)

In My Bot Login Its Showing Me **There was a problem synchroniz

[2017-02-02 12:55] soloveyalex opened #2169 "[email] Replies from the Bot via Email are not delivered with NDR 550 5.7.501 Access denied, spam abuse detected"
Hi

We have configured a Bot with e-mail channel (email address at office 356).
Bot does receive incoming email messages, responds them, and builds outgoing email message.
But then the message is not delivered with the error

However, direct sending email from Bot's mailbox (via Office365 portal) to same recipient does work just fine.

Moreover, the failed messages are successfully sent and delive

[2017-02-02 13:03] JPThorne opened #2170 "Question | DirectLine message Ids"
So we've got a web interface which uses https://www.npmjs.com/package/botframework-directlinejs (works really well) and we use the fact that messages returned via directline (bot and user msgs) have a messageId of the format "G0SRNz7iwTiLehjQsXk3tI|0000001", "G0SRNz7iwTiLehjQsXk3tI|0000002" etc to sort on the sent and received ones on our FE.

However... Messages (Activities) in the bot code itsel

[2017-02-02 13:21] Sid245439 commented on #802
I am not getting what to set the 1:1 webhook in developer window of skype and in code. Please help

[2017-02-02 13:35] AnandChitale commented on #2098
@abhishan Could you please share if how to have greet message using Web Chat.

[2017-02-02 14:00] arnoldpistorius commented on #2155
We found a solution for our network on this problem @willportnoy @AnandChitale  @fercom .

Came across an old post on serverfault.com http://serverfault.com/questions/416156/isa-or-iis-removing-http-authorization-header-when-published . In our case it was the TMG server which had Authorization Delegation turned off.

I guess Microsoft started to send requests with an authorization header instead o

[2017-02-02 14:06] Boober44b opened #2171 "In Review Status"
How long does a bot normally stay in review status before it gets published?

[2017-02-02 16:31] Jyoti1009 opened #2172 "bot.recognize runs twice once the user send a message."
I am trying to run something similar to the below code:
`bot.recognizer({
        recognize: function (context, done) {
        logger.info("Inside recognizer");
        //Some other code
        }
    });`

This prints the message twice for each message from the user.
Can someone please explain why would that be?

[2017-02-02 16:57] matvelloso commented on #2143
You don't need to trigger the directline endpoint. Create a separate api with its own controller, just so you can call it from anywhere you want. In there, you start your proactive message. In fact that's exactly what I'm doing here: https://github.com/MicrosoftDX/botFramework-proactiveMessages/blob/master/csharp/simpleSendMessage/Controllers/CustomWebAPIController.cs

[2017-02-02 16:58] matvelloso commented on #2143
And you might not even need the resumption cookie, take a look at the readme of that repo

[2017-02-02 17:08] fercom commented on #2155
@arnoldpistorius so, what should we do to correct it?

[2017-02-02 17:10] alex182 opened #2173 "[MS Teams Channel] imBack support markdown"
Say I have a heroCard that has a button of the type imBack.  Is there a way to format the text sent to the bot when that button is pressed using markdown?  I can format the text sent from the bot using markdown/html/css, but not the messages sent to the bot from the user.

[2017-02-02 17:14] dandriscoll commented on #2170
Hi @JPThorne, activity IDs are designed to be stable between the bot and the client.

At the moment, our storage system is assigning serial IDs for all activities that are stored. However, not all activities are stored -- for example, Typing activities are sent without being stored in the message history. Those activities will not have serial IDs.

Are you seeing literal GUIDs as the activity ID?

[2017-02-02 17:18] dandriscoll commented on #2168
Hi @inornos, can you send your bot's handle or app ID and we can investigate?

[2017-02-02 17:18] dandriscoll commented on #2164
https://github.com/Microsoft/BotFramework-DirectLineJs would be a great starting point

[2017-02-02 17:19] arnoldpistorius commented on #2155
Nothing, it is just a local network configuration issue. Perhaps you can
put it in the FAQ.

Op 2 feb. 2017 18:09 schreef "fercom" <notifications@github.com>:

[2017-02-02 17:22] dandriscoll commented on #2145
Hi @JpEncausse, the issue appears to be that your client does not recognize/accept the wildcard SAN on login.botframework.com. The cert on your bot is probably OK.

Do you know anything about your HTTP client and whether it can accept wildcard subject alternative names?

[2017-02-02 17:28] fercom commented on #1725
@willportnoy it seems that the code used to solve this problem doesn't work anymore with version 3.5.1 of the bot builder. it says: The requested service 'Microsoft.Bot.Builder.Dialogs.Internals.ConnectorStore' has not been registered. To avoid this exception, either register a component to provide the service, check for service registration using IsRegistered(), or use the ResolveOptional() metho

[2017-02-02 19:06] dandriscoll commented on #2078
@sayyednazeer, we should definitely try to focus on the 27-second delay. Do you have any logging that tells you which call is taking 27s?

[2017-02-02 19:37] aekynr opened #2174 "How to pass session variable into DialogAction.validatePrompt ?"
Hi, i want to pass Session variable to builder.DialogAction function.
How can i do that?

My scenario is as follows;
`session.beginDialog('validators:/begin/',{
     prompt: "hello",
     retryPrompt: "sorry",
     maxRetries: 2
});`

`library.dialog('/begin',
    builder.DialogAction.validatedPrompt(
        builder.PromptType.text, function(response){
            return validateFunction(response

[2017-02-02 19:42] #1928 closed

[2017-02-02 20:05] msft-shahins commented on #2171
@jameslew or @Andrea-Orimoto can you comment?

[2017-02-02 20:05] dandriscoll commented on #2161
Hi @Badolfo, @rjesh-git, and @sayyednazeer, if you're seeing these errors in the Bot Framework developer portal, that means we tried to contact your bot but were unable to reach it and timed out.

Are you able to contact your bot with the Bot Framework Emulator? And if so, does it respond quickly?

[2017-02-02 20:06] msft-shahins commented on #2174
@carlosscastro or @maxpert or @Stevenic  can you comment?

[2017-02-02 20:07] Stevenic commented on #2172
Let me try to reproduce this...

[2017-02-02 20:07] msft-shahins commented on #2169
@craigjensen can you comment?

[2017-02-02 20:11] msft-shahins commented on #2167
For luis programatic API you need to use your cognitive services subscription key which is different that Microsoft App Id. You can find further documentation here: https://dev.projectoxford.ai/docs/services/56d95961e597ed0f04b76e58/operations/5739a8c71984550500affdfa

[2017-02-02 20:11] #2167 closed

[2017-02-02 20:12] msft-shahins commented on #2166
@willportnoy can you comment and provide some guidance?

[2017-02-02 20:19] willportnoy commented on #2166
Since the bot builder stores state outside of the web service

https://docs.botframework.com/en-us/technical-faq/#where-is-conversation-state-stored

the IIS web worker process should be stateless, so you don't need to configure any sorts of state-full session stores.

We generally don't have any recommendations for configuring IIS that are specific to bots.  Periodically recycling the app pools s

[2017-02-02 20:31] msft-shahins commented on #2165
/examples/DemoSkypeCalling has all the code for the bot. you need to add a package.json similar to this [sample](https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/core-SendAttachment) to make sure that your node app has all the required dependencies.

here is also a step by step guide on how to deploy to azure: https://docs.botframework.com/en-us/node/builder/guides/deploying-to-azu

[2017-02-02 20:31] #2165 closed

[2017-02-02 21:03] Stevenic commented on #2172
Good bug... I'm checking in a fix now and will release a new 3.6.0 update this afternoon that will include the fix.

[2017-02-02 21:30] craigjensen commented on #2169
There are numerous reports on this problem when sending mail from [O365](https://answers.microsoft.com/en-us/msoffice/forum/msoffice_outlook-mso_win10/office-365-user-550-57501-access-denied-spam-abuse/12e54cdb-387c-4a5a-b822-05a2526b3cd0).  The reason seems to be that your server has been blacklisted and you need to contact O365 support to get it unlisted.  If you click the "Ask the Community" li

[2017-02-02 21:38] dandriscoll commented on #2164
Also forgot about this JS sample: https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/core-DirectLine

[2017-02-02 21:49] Stevenic commented on #2172
Closing this so please let me know if 3.6.0 doesn't fix your issue for some reason.

[2017-02-02 21:49] #2172 closed

[2017-02-02 22:03] zxed commented on #2096
but isnt .reset clearing out the stack? - I'm sorry, if I do not follow.
Its a stack, u push stuff onto it, calling reset empty it., wouldn't you expect "the stack is empty" in anycase?

if reset takes it back to 0 - should I be pushing the root dialog back on there?

[2017-02-02 22:27] msft-shahins commented on #1207
you can send the account_link button using channel data aka message.SourceEvent in node.js SDK. Note that since this is a channel specific feature your bot require to implement the required behavior/protocol over channel data.

[2017-02-02 22:27] #1207 closed

[2017-02-02 22:55] DmitryZemlyuk opened #2175 "Bot can't recognize messages in goups"
Hi everyone =)
Today I have a little problem: my bot stopped recognize messages in groups, but successfully recognize messages in 1:1 dialog.
Few month ago I solved this problem with usage this issue https://github.com/Microsoft/BotBuilder/issues/860.

Example:

if (address.channelId === "skype" && address.conversation.isGroup) {
						if (message.entities.length > 0) {
							var content = messag

[2017-02-03 01:12] danmarshall commented on #2146
Thanks for reporting @brendanarnold . I am going to close the issue here and we will track it in the webchat repo https://github.com/Microsoft/BotFramework-WebChat/issues/287
It's a known issue in Edge but we may be able to apply a mitigation.

[2017-02-03 01:12] #2146 closed

[2017-02-03 01:31] danmarshall commented on #2152
Yes. So, you have an `<iframe>` which presumably has a `src=https://webchat.botframework.com/...`.
Instead of referencing there, you may host your own webchat page on your own site. You will still use an `<iframe>` but change the `src="https://yourwebsite/yourwebchatpage.html"`
See https://github.com/Microsoft/BotFramework-WebChat#embedded-via-iframe for more info.

[2017-02-03 01:57] rjesh-git commented on #2161
@Badolfo I'm able to contact bot from emulator and teams. Issue occurs only with the Slack channel.

[2017-02-03 04:41] rnjailamba commented on #1160
@mikob any update on the maximum?

[2017-02-03 05:42] Sid245439 opened #2176 "Problem with callback url"
I have deployed my code and added it into my skype account ,when I make voice call the bot in the skype it always gives me reply "You can talk to bot just yet but we are working on it ". I am not sure about the callback URL which I placed in the code and in developer portal of Skype.

I hav used following URLs
http://skypebottestd.azurewebsites.net/api/calling/callback
http://skypebottestd.azurewe

[2017-02-03 07:06] sayyednazeer commented on #2078
@dandriscoll  this are some logs which i catch when i got the error.

It takes 24-25 sec i have paste all the values which i get from activity class property.
Please check and thanks for your valuable time.

24 second log
Activity ID = 11oFq8s3SPLMzuK4wuGue|0000005
activity.ChannelId =
directlineConversation.Id = 11oFq8s3SPLMzuK4wuGue
Conversation.Name =
activity.From.id = user_11oFq8s3SPLMzuK4wuG

[2017-02-03 08:33] kienct89 commented on #1444
I also have this problem recently
I've already updated the page token, but it still doesn't work.

@msft-shahins could you help please?

[2017-02-03 08:56] JPThorne commented on #2170
Hi @dandriscoll thanks for the reply.

So, we are seeing literal GUIDs, well, a string version of a guid. For example, for the same "hi" message to our bot via directline, and then broadcasting the activity via signalR we see these two different messageIds:

0b4213bc-9c14-4787-819f-c53be27b20f0
2EUT44oscMYLKOpPmqG7bj|0000001

Maybe we're just misunderstanding things here - for example, we use IDia

[2017-02-03 09:29] soloveyalex commented on #2169
@craigjensen, that sounds reasonable, we'll check it with O365 support.
But! There is a one suspicious thing that made me to write the post here prior contacting them.

As I mentioned above, I'm able to successfully send any emails from Bot's mailbox MANUALLY. And even re-send the ones that initially failed with NDRs. So, as a bottom line, its only a bot who can't send emails :)
So, same mailbox,

[2017-02-03 09:42] jsiegmund commented on #1956
Sorry to have to bump this but still haven't found the issue or a solution and this is becoming a blocking issue. Would be awesome if someone could take a further look. @msft-shahins @willportnoy

[2017-02-03 10:09] jsiegmund commented on #1956
I have the idea that when the callback returns, there's no conversation left to resume. If I understand the concept correctly, the stack should hold dialogs that are waiting for incoming messages, and the one on top will be processing the incoming message. So is the stack is empty, the message cannot be processed by a dialog.

I know there's something wrong there, because during debug starting the

[2017-02-03 13:32] slidenerd opened #2177 "What is the difference between these 2 Middlewares"
[code]

they both take a version number. In order to provide an upgrade experience, which one do I need, it seems firstRun does everything including the part where it takes the upgradeDialogId. so what do I need the other one for

Thanks for your answers in advance

[2017-02-03 13:38] dandriscoll commented on #2078
I think you need more tracing inside the bot. One (or more) lines in your code is taking a very long time to complete, but we don't know which line.

[2017-02-03 13:49] tanguydelignieresaccenture commented on #1495
At the moment the only way I see to achieve this ("one bot for X FB pages") is to create one bot config for each FB page and to set the endpoint of each bot config to the same botbuilder.

[2017-02-03 14:40] konstlut commented on #1988
1. You get 400 so most likely something is not ok with the payload you send. Normally together with a 4xx status code the HTTP response provides an error model in the response body. So it may be useful to look at it.
2. I see you are sending messages to **https://skype.botframework.com** . Do you have this url hardcoded somewhere in your bot implementation? If yes, you shouldn't hardcore that valu

[2017-02-03 14:54] slidenerd opened #2178 "Attachment unavailable"
Kindly have a look at this screenshot
![3a448c74104cc0d22ba8702ee69eea8d94e4f29910aae7db8c pimgpsh_fullsize_distr](https://cloud.githubusercontent.com/assets/5139030/22595668/76f0469a-ea4e-11e6-9ee5-045dcd6c5f2d.jpg)
I was trying to send a hero card with text and buttons and got this. Now this is a very rare event and I havent seen this more than twice in 200 times which brings me to a question

1

[2017-02-03 15:04] slidenerd commented on #1497
Does this work on node.js? [THIS ](https://docs.botframework.com/en-us/csharp/builder/sdkreference/df/d41/class_microsoft_1_1_bot_1_1_builder_1_1_connector_ex_1_1_facebook_quick_reply.html)seems pretty specific to c#

[2017-02-03 15:25] TakesTheBiscuit commented on #2051
@dandriscoll 'An item with the same key has already been added.'
3/2/2017 15:25 GMT

[2017-02-03 15:39] vorti2 opened #2179 "[NodeJS]: FB endpoint and another '[500] Internal Server Error'"
Hi,

now we have the following error in our bot connected to Microsoft Bot Framework:
[code]
We use now the newest npm module from
[code]
(and I know: MSBF is in 'preview' status :wink:)

Any new idea? (see also [another issue with 5** error](https://github.com/Microsoft/BotBuilder/issues/2140))

Thanks,
Wilhelm

[2017-02-03 15:48] dandriscoll commented on #2051
@TakesTheBiscuit I'll forward to the team

[2017-02-03 15:55] jameslew commented on #2051
@TakesTheBiscuit - did you take the fix from earlier in the thread about changing the endpoint from api.projectoxford.ai to westus.api.cognitive.microsoft.com?

--jim

[2017-02-03 16:11] TakesTheBiscuit commented on #2051
Apologies @jameslew and @dandriscoll - it seems that error is coming up when you submit a duplicate &q within the query string on GET - to be honest i hadn't expected that would be the error so it threw me off.
I think the error is too inconclusive perhaps?
For example
https://apiurl/endpoint?key=xxx&q=this+is+query&q=and+the+query

produces the same error as this thread which is now ranked highly

[2017-02-03 16:27] eh3rrera commented on #1988
1. The same code was working fine in December. I don't know what changed. The error is thrown when `bot.send(msg, () => next());` is executed. Logging the `Error` param just duplicates the stack trace already shown:
[code]
2. It's not hardcoded. This is the source code:

[code]

Thanks!

[2017-02-03 18:00] KrishnanA commented on #2107
I will go ahead and close the issue for now. Please re-activate if you are hitting the issue and let us know the exact scenario that you are trying out.

[2017-02-03 18:00] #2107 closed

[2017-02-03 18:02] msft-shahins commented on #2175
@Stevenic or @maxpert can you comment?

[2017-02-03 18:10] KrishnanA commented on #2176
You cannot use http URLs. AFAIK, the portal prevents http URLs. Please use https URLs.

[2017-02-03 18:10] #2176 closed

[2017-02-03 18:49] msft-shahins commented on #2179
@vorti2 is it possible to share the body some of the requests that you are getting 500 for?

[2017-02-03 20:33] msft-shahins commented on #2178
This is an error message generated by facebook. It seems that it can be related to this facebook issue: https://developers.facebook.com/bugs/368236213542077/.

[2017-02-03 20:33] #2178 closed

[2017-02-03 21:54] vorti2 commented on #2179
@msft-shahins any tips for getting the body of a request to MSBF?
Btw curl without any body brings the also an error:
[code]

[2017-02-03 22:01] AlexanderKovalev opened #2180 "CreateDirectConversationAsync - how to set BotState?"
I'm using external service to initiate conversation with user from Bot. In this service I set BotState, but in bot it contains different values.

My code:
`
            var connector = new ConnectorClient(new Uri(serviceUrl), new MicrosoftAppCredentials());
            var conversationId = await connector.Conversations.CreateDirectConversationAsync(botAccount, userAccount);
            Activity me

[2017-02-04 00:09] craigjensen commented on #2169
I'm not sure why that would be but I ran across other reports on the internet that seemed to indicate that they could successfully send mail with the OWA client but it would fail when using the EWS API's (which is what BF uses).  I'd still suggest getting in touch with O365 support and see if they can give you a better answer than I.

[2017-02-04 02:28] ggoodale commented on #1540
For those wondering why this doesn't work in the current release: `UniversalBot` doesn't take an object of type `IUniversalBotSettings` as the second constructor argument any more. Instead, do:
[code]

[2017-02-04 10:17] sayyednazeer commented on #2078
@dandriscoll  which line you are talking about..??

Now i don't think any thing left inside my code!!
Whatever i got in my activity class i give it to you...

Which tracing you are talking about... What should i write and where to write for the tracing...?
I didn't get any exception in my code my code runs successfully but takes too long time to execute some time.

[2017-02-04 11:05] suvamsh commented on #2161
I'm seeing the same issue on Messenger.

[2017-02-04 13:01] ubreddy opened #2181 "Webchat iframe does not work on Safari"
older messages are getting repeated and sometimes the answers provided to questions are not getting recognized.
The iframe widget on safari seems to have problems. Will this browser be supported?

[2017-02-04 14:33] vorti2 commented on #2179
@msft-shahins here is a payload with the error and one with no error.
[MSBF-Payloads.zip](https://github.com/Microsoft/BotBuilder/files/752328/MSBF-Payloads.zip)

The result with no error I have created by delete my FB messenger communication to the bot and start with a fresh session.

[2017-02-04 16:07] robertbaumann opened #2182 "PromptDialog.Choice in StartAsync sends 2 messages"
I am writing a bot that needs to proactively message the user. When ConversationUpdate fires, we want to do this:

await Conversation.SendAsync(activity, () => new IntroDialog());

In the IntroDialog's StartAsync method, the bot should do this:
                var flowChoices = (IEnumerable<FlowChoices>)Enum.GetValues(typeof(FlowChoices));
                PromptDialog.Choice(context, FlowChoiceRes

[2017-02-04 17:26] Shakar opened #2183 "[Question] Software development methodology of the BotFramework SDK"
Dear All,

I'm new in this community, and I need some help.
I am a student, currently working on my M.Sc in Computer science.
We have received an assignment where we need to select a big project that conducted in GitHub (I think you can already guess which project I selected), Investigate it and to try to contribute to the community.

I need to understand how this project came to life, and I have

[2017-02-04 17:29] ubreddy opened #2184 "Webchannel does not show Bot icon"
Web Channel preview iframe does not show the bot icon for each of bot messages. It is available in non-preview version. But non preview version has more issues that are fixed in preview version.

[2017-02-04 19:04] eduardoromero commented on #2161
We're seeing the same issues with Direct Line (WebChat) but it works fine thru other channels (Slack or Facebook).

[2017-02-04 19:48] chitopunk commented on #2161
I'm experiencing a lot of timeouts from the directline API, sometimes getting more than 5 seconds and it's really breaking my bots  --> https://directline.botframework.com/v3/directline/conversations

[2017-02-04 21:59] dandriscoll commented on #2078
Hi @sayyednazeer, we don't know which line yet :) I can't tell which line is causing the problem just by looking at the code.

You may want to add logging like this.

FunctionCall1();
Log("FunctionCall1 " + stopwatch.Elapsed);
FunctionCall2();
Log("FunctionCall2 " + stopwatch.Elapsed);
FunctionCall3();
Log("FunctionCall3 " + stopwatch.Elapsed);

You may not have to add logging for every line, but

[2017-02-04 22:01] dandriscoll commented on #2184
Hi @ubreddy, this is a good discussion to have over at the Web Chat repo, can you file an issue there?

https://github.com/Microsoft/BotFramework-WebChat/issues

[2017-02-05 03:06] ubreddy commented on #2184
Sure. But web chat repo is for our own customisations isn't it?The one hosted by Microsoft belongs here or there?Anyway will report there too.On 05-Feb-2017 3:31 AM, dandriscoll <notifications@github.com> wrote:Hi @ubreddy, this is a good discussion to have over at the Web Chat repo, can you file an issue there?
https://github.com/Microsoft/BotFramework-WebChat/issues

—You are receiving this beca

[2017-02-05 06:47] deepakmhr opened #2185 "How to exit conversation from prompt?"
Use case:  A prompt choice implemented as infinite retries and I want to exit from the conversation without choosing any options.

are there any ways to exit from the conversation without choosing any options?

Actually I am looking for command like /reset

eg:

bot.dialog('/choose',
 [
    function (session) {
        builder.Prompts.choice(session, 'choose type:', ["Computer", "Laptop", "tablet"

[2017-02-05 08:28] sayyednazeer commented on #2078
@dandriscoll  the above log which i share is not of my MessageContorlles class it if of my MeBotLuisDialog.cs class.

And i have done same like you said above.

I have 5-6 Intents in my MeBotLuisDialog class i.e ([LuisIntent("None")], [LuisIntent("details")], [LuisIntent("CMR")]...etc)

What i have done i have called my Log() function when my Intent function starts and end

like this..

    [LuisI

[2017-02-05 08:58] nmaroine commented on #2167
it's not a key problem , im not geting a 401 not autorized , im getting a 400 , Bad argument ...

[2017-02-05 09:02] nmaroine opened #2186 "LUIS Api : Publish Via API Problem [resolved :Luis was on maintenance]"

[2017-02-05 13:22] amitbend commented on #2185
You can:
1) use default case
`switch(expression) {
    case n:
        code block
        break;
    case n:
        code block
        break;
    **default:
        code block**
}`

2) use global actions - so when a user says 'help' for example, he is being moved to a different dialog
see - https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.dialog.html#triggera

[2017-02-05 14:23] #2186 closed

[2017-02-05 15:16] tahazayed commented on #565
Hello,I fixed the reference issue also I uploaded the web service that used by the bot

[2017-02-05 15:18] tahazayed commented on #565
@romanNedzelsky kindly get the latest version and use my web service under this folder"sampleservice"

[2017-02-05 18:06] deepakmhr commented on #2185
Thank you so much @amitbend

[2017-02-05 18:21] achadha0111 opened #2187 "../dialogs/IntentRecognizerSet not found due to case issue?"
I was trying to deploy a bot with botbuilder 3.6.0 to Heroku, however, build fails because IntentRecognizerSet is not found. I am assuming its because of the case sensitivity on Linux (which is what Heroku uses). Would someone happen to know a fix?

[2017-02-05 19:35] isaacy commented on #1948
I'm seeing the same problem and the worst part is that only one of my bots showed this problem.  The others are fine.  And I really don't know how to debug this.

[2017-02-05 20:03] isaacy commented on #1948
I found that an easy way is just to restart the service, and the problem goes away :)

[2017-02-06 04:08] johnabele opened #2188 "[MS Teams Channel] Button click from hero returns smbapostback"
Unmodified bot started returning the following messages from hero card button clicks breaking functionality. Works fine in slack/skype preview/web chat.

&lt;smbapostback v=&quot;V2hhdCBhcmUgdGhlIFNpeCBEaW1lbnNpb25zIG9mIFdlbGxuZXNzPw==&quot;&gt;some text&lt;/smbapostback&gt;

[2017-02-06 04:52] eanders-MS commented on #2151
@NCZ-10 In emulator v3.5.25 we introduced experimental support for using host proxy settings on all outgoing messages. Does your network have a proxy configuration? It's a shot in the dark, but if you do have a proxy set, you might try downgrading to emulator v3.5.23 to see if you have better luck.

Emulator release page: https://github.com/Microsoft/BotFramework-Emulator/releases

[2017-02-06 04:58] eanders-MS commented on #2181
Hi @ubreddy This is a good question to pose over at the WebChat's repo: https://github.com/Microsoft/BotFramework-WebChat/issues. Can you open an issue there?

[2017-02-06 05:07] prtdomingo commented on #572
Any updates for .NET Core?

[2017-02-06 05:14] inornos commented on #2168
My Bot's Handle  **NimaCreation**

[2017-02-06 06:48] sayyednazeer opened #2189 "Sorry, my bot code is having an issue."
Today i am getting this response from the BOT "Sorry, my bot code is having an issue."
With Direct Line API using Jquery Ajax and my bot is in c#.

And when i go to the portal and click on test connection i got this message
"This item cannot be accessed or modified.

![bottestconnerror](https://cloud.githubusercontent.com/assets/10753866/22637164/53846c58-ec66-11e6-9376-9354af4e65da.png)
"

[2017-02-06 06:57] jsiegmund commented on #1948
Yeah I found the same. And it appears "sometimes" but I cannot reliably reproduce it.

[2017-02-06 07:34] singhsurya opened #2190 "Not able to open www.luis.ai website."
Hi,

I am facing issue in opening [LUIS Website](https://www.luis.ai/). It hangs right on the account login page with message - Please wait a few moments... Initializing. Is there some issue in LUIS or I am missing something?

@dandriscoll

[2017-02-06 08:11] JpEncausse commented on #2145
@dandriscoll after digging around it seems to be an issue with NodeJS not handling correctly certificate.

In NodeJS, the server try to check only SANs not CNs but for a wildcard domain i don't have SANs only CNs because I don't know what subdomain I will add

[2017-02-06 08:32] angsm opened #2191 "Channel inspector for Skype (location)"
Was just trying out the channel inspector, in Location, it says:

_Supported	Skype cannot share the user's location._

Does it mean that it is supported or not supported?

Thank you.

[2017-02-06 08:36] angsm opened #2192 "[Feature Request] Call forwarding"
Hi,

May I know if phone numbers will be supported or is there some way I can forward a skype bot call to another user?

Thank you.

[2017-02-06 09:04] deepakmhr opened #2193 "How to send youtube video to the channels?"
This is the code snippet I tried but not working:

`var videoURL="https://www.youtube.com/watch?v=qO7BA9i72Gw"

    var message = new builder.Message(session)
        .attachments([{
            contentType: "video/mp4",
            contentUrl: commonFunctions.validateAndGetURL(videoURL)
        }]);

    session.send(message)`

[2017-02-06 09:07] romanNedzelsky commented on #565
@tahazayed thank you for the update, will try, just quick question, is it possible using your solution use of some graphical objects in the conversation like choice buttons, herocards, or images? I am asking, because we tried to use directconnect channel, it works, but text only, so all the selection you have to do using writing numbers, you havent any herocards with thumbails or images (or we don

[2017-02-06 09:25] sisense opened #2194 "[Question] Slack channels issues"
Hi there,

I encounter many issues with the framework handling slack channels (isgroup = true)

Basically the Bot listens to all messages and not only once it is approached @MyBot

I'm solving it by modifying prepIncomingMessage in ChatConnector.js
[code]

This created an ugly error at other places but at least it works.

Anybody have an idea how to solve it more elegantly?

DD

[2017-02-06 09:28] sisense opened #2195 "Slack group does not get general messages"
Hi,

Using my bot in Slack I see a strange problem: typing **help** gets into the default recogniser and not getting detected as if I would write the same in 1on1 chat with the Bot.

Any ideas?
DD

[2017-02-06 10:00] soloveyalex opened #2196 "How to mention a certain user when replying into group conversation?"
Hi,

Can't figure out how the bot can mention a certain user when replying to a group conversation?
Don't see a way to specify Mentions[] when creating Activity object as a reply using .NET API.
Does anyone know how to do that?

Thanks,
Alex

[2017-02-06 10:09] slidenerd opened #2197 "Get duration between bot sending message and user replying"
Hi, first of all thank you for your awesome work in building and maintaining this library.
I have a scenario in which I need to check if the person answered within 10 seconds. I have some code that looks similar to this where I measure the start time in the first waterfall step and I measure the end time in the next waterfall step, I ll find the difference between both in the second waterfall step

[2017-02-06 11:26] pranavjain commented on #672
Hi @dandriscoll , I am getting { "message": "Internal error" } when I am trying to post a message to api/conversations/id/messages/.
Could you please help?

[2017-02-06 15:37] srozga commented on #2080
Sorry for dropping out of this one. If the intent behind the flow API is to depend on fake field for a final validation step, that's great, we'll use it. Just making sure as it seemed somewhat hacky.

A few more things about the form flow:
- Is there a way to customize which words are interpreted as cancel the entire form?
- Is there a way to get access to the IDialogContext inside of the validate

[2017-02-06 15:51] srozga commented on #2056
Thanks all. @hlipa99's approach is quite good for our use case and we've adopted it.

[2017-02-06 15:51] #2056 closed

[2017-02-06 15:54] srozga commented on #1873
[This repo](https://github.com/Microsoft/BotBuilder-Azure) has some good documentation around this. Biggest problem for us was figuring out that we needed to extend the Conversation.Container as we forgot about that. So that was just a small oversight but it's working. We aren't terribly happy with the TableLogger as it only has 3 columns: From, To, and the Activity in, I believe, binary serialize

[2017-02-06 15:54] #1873 closed

[2017-02-06 16:00] francescacoo commented on #1952
Hi,
I have seen using the node.js Skype example that they take the name on adding the contact to Skype:

bot.on('contactRelationUpdate', function (message) {
    if (message.action === 'add') {
        var name = message.user ? message.user.name : null;
        var reply = new builder.Message()
                .address(message.address)
                .text("Hello %s... Thanks for adding me. Say '

[2017-02-06 16:04] lonche opened #2198 "unable to deserialize the response"
This exception is thrown when initializing conversation with user. (locally)
So far I have this :

[code]

My message object :

I'm getting this error when trying to post :

Unable to deserialize the response.

e.InnerException

Any help ?

Edit : This is how I deserialize object.

[code]

This is my object content :

I am adding to name and from name explicitly for local testing (see the code).

[2017-02-06 16:14] stephaneey opened #2199 "geographic endpoint not working"
Hello,

As I encounter awful response time despite of a very basic bot, I tried to use europe.directline.botframework.com instead of the default one. However, when monitoring the HTTP traffic, I see that it is not working:
![bot2](https://cloud.githubusercontent.com/assets/2558877/22655175/9db53446-ec8f-11e6-95d8-2e0201611dcd.png)

The above picture shows the websocket switch but it fails without

[2017-02-06 17:17] palmerabollo commented on #2190
Works for me. Can you try using an incognito window?

[2017-02-06 17:19] carlosscastro commented on #2187
Hi @achadha0111, could you please send us the full error text you are getting? Thanks!