[2017-02-23 00:51] #1830 closed

[2017-02-23 00:52] Stevenic commented on #1837
So one thing I noticed in look at my code and your code. The first run version is only ever saved once the first rin dialog completes. I don't see you calling `endDialog()` from your first run dialog anywhere.

The other thing I'd suggest is looking at the updated [basics-firstRun](https://github.com/Microsoft/BotBuilder/blob/master/Node/examples/basics-firstRun/app.js) example. I've updated it to

[2017-02-23 00:53] Stevenic commented on #1842
Nice! Thanks... Closing this issue for now.

[2017-02-23 00:53] #1842 closed

[2017-02-23 00:55] Stevenic commented on #1872
I did some fixes around this that were pushed out a few weeks ago. Please tell me if you're still seeing this issue and I'll reopen it.

[2017-02-23 00:55] #1872 closed

[2017-02-23 00:57] Stevenic commented on #1874
This should have been fixed in a recent release. Please let us know if it still reproduces.

[2017-02-23 00:57] #1874 closed

[2017-02-23 01:01] Stevenic commented on #1893
Sorry for the delay... We only show the default error messages for either an internal error in the SDK or when an exception is thrown in your code that isn't handled. If you want to customize the case for errors in your code you can add a `try { } catch() { }` to your code to catch the error and then you can return a custom message using `session.error()`

[2017-02-23 01:05] Stevenic commented on #1908
Closing this for age. Please comment if you'd like it re-opened.

[2017-02-23 01:05] #1908 closed

[2017-02-23 01:15] bmperrea commented on #1908
It would be nice to support access to first names, and actually the whole facebook graph api. Managing page_access tokens ourselves seems to undermine the purpose of the connector.

[2017-02-23 01:19] Stevenic commented on #2208
@Jyoti1009 Dan is correct that trigger actions by default "interrupt" any current dialogs by clearing the stack.  You can avoid that by using a global `bot,beginDialogAction()` instead. So from your example try:

[code]

[2017-02-23 01:22] craigjensen commented on #2033
Messenger doesn't support markdown so we strip it and send the plain text.  If/when Facebook starts supporting markdown we'll make the necessary updates to fully support it.

[2017-02-23 01:22] #2033 closed

[2017-02-23 01:24] Stevenic commented on #120
Nothing planned quite as of yet. Things are changing rapidly so we're evaluating several alternatives to form flow as it currently exists.

[2017-02-23 01:26] craigjensen commented on #2273
We'll be adding support for threads very soon.  I'll update this thread when we have an update on the timeframe.

[2017-02-23 01:28] Stevenic commented on #1949
Hey guys... Sorry for the delay on this. I agree that we should probably do a better job with this. Let me investigate this some.

[2017-02-23 01:30] Stevenic commented on #2294
Closing this as fixed.

[2017-02-23 01:38] Stevenic commented on #1903
So we don't provide a super clean way of doing this but it can be done.  What you'd want to do is create a custom prompt for each of your fields. Each of those custom prompts would be bound to your LUIS model using an `IntentDialog`. You can look at the [basics-customPrompt](https://github.com/Microsoft/BotBuilder/blob/master/Node/examples/basics-customPrompt/meaningOfLife.js) for an example of cr

[2017-02-23 01:48] Stevenic commented on #1954
You should be able to write a piece of middleware that extracts the token and saves it to the session object for each request. That's one of the intended reasons for supporting middleware.

[2017-02-23 06:26] Sid245439 commented on #431
Is there any Git reference to create a proactive bot ?

[2017-02-23 06:45] sayyednazeer opened #2329 "DIRECT LINE : Authorization for Microsoft App ID failed with status code Forbidden"
Today i have set new subscription key and deployed my bot.

Know i am getting the following error while calling the LUIS dialog..
..this line
`await Conversation.SendAsync(activity, () => new EmpBotLuisDialog());`

Working with emulator but not with direct line using jquery ajax.

[2017-02-23 07:01] #2329 closed

[2017-02-23 07:44] alokraj68 commented on #1843
@Andrea-Orimoto It would be really great if you could write a blog post on the same. many like me are waiting for that. thank you for finding a solution.

[2017-02-23 07:45] alokraj68 commented on #1631
@konstlut I would check that get back as soon as possible

[2017-02-23 07:45] alokraj68 commented on #1630
@nickcordrey was this issue resolved by the skype team?!

[2017-02-23 07:46] alokraj68 commented on #2014
This issue was because we were trying access https url for http one. Its resolved.

[2017-02-23 07:46] #2014 closed

[2017-02-23 08:18] AlexanderKovalev commented on #2294
Why closed? Did "CreateDirectConversationAsync" fixed as well?

[2017-02-23 08:47] LorenzCK commented on #2327
Also, on Skype the same image is shown with a bold “Picture” title:
<img width="169" alt="tmp" src="https://cloud.githubusercontent.com/assets/1782445/23251299/1ac4fcee-f9ad-11e6-9ec0-e82ab3b73d95.png">

[2017-02-23 09:09] pranavjain commented on #2202
@RobStand  Is there an update?
@danmarshall Could you please help me to close this?

[2017-02-23 10:31] jsebrech commented on #2118
Due to circumstances I won't be able to look into this before the second week of march, but I'll pick it up then.

[2017-02-23 10:46] JpEncausse commented on #2323
Fixed on one of my server, config file error.

[2017-02-23 10:46] #2323 closed

[2017-02-23 11:00] imshenshen opened #2330 "how to trigger another intentDialog"
[code]

when the bot ask 'what is you name?' , I said 'someWordsTirggerLucyIntent'. I want the bot return 'something', not 'your name is lucy'.
I want the prompts trigger another intentDialog,HOW?

[2017-02-23 12:12] ankitbko commented on #2277
@willportnoy I found that [973229623](https://github.com/Microsoft/BotBuilder/commit/9732296235a274bcc429f7e647b46fc9d1f3d989) commit introduced this bug. I think [L73](https://github.com/Microsoft/BotBuilder/commit/9732296235a274bcc429f7e647b46fc9d1f3d989#diff-829fa875c063f9b10bf81440238c4adaR73) was the issue. Putting `[NonSerialized]` on top of `private IWait<C> mark = NullWait<C>.Instance;` so

[2017-02-23 12:46] Highvolt commented on #2322
@endareBrock To address this issue I started to resize images on the bot, and then send it as an inline image, when the channel being used is Skype.

[2017-02-23 12:51] SomaSharathSurya commented on #2143
Hi I am using Node.js for development . I have created a bot service with proactive template . In the bot service my code is succesfully working when I send a message its added to the queue and we get trigger message after few seconds. But when i try to create the bot without using bot service in azure I am unable to figure out what will will be the messaging end point in the emulator or in bot fr

[2017-02-23 13:41] endareBrock opened #2331 "Facebook doesn't handle dialogAction as skype/webchat does"
NodeJS:

When sending a Card to the endpoint which includes a button with the dialogAction function. Skype and Webchat handle these functions correctly but facebook does not respond in any way.

My code to test all 3 ways of feedback.
Works on skype and webchat flawless.
![image](https://cloud.githubusercontent.com/assets/25737301/23260469/3df58b14-f9d2-11e6-9f9e-66525808650f.png)

Are there more

[2017-02-23 14:25] aakashvit commented on #2311
@Stevenic  Can you  give advice on this issue??

[2017-02-23 14:48] MrRenaud commented on #2150
@msft-shahins, do you have any news on this?

[2017-02-23 15:32] lonche opened #2332 "There was an error sending this message to your bot: HTTP status code InternalServerError"
Want to use one instance of bot  for multiple bots handling.

I override BotAuthentication method OnActionExecutingAsync.

[code]

And edit my controller:

[code]

But its not working. It throws an error in botframework dashboard :

Any idea ?

[2017-02-23 15:32] leroibeukes commented on #2310
Not out of the box - curl is just making a HTTP Post to the FB API ...

Why don't you just Postman or Fiddler (or write some c# code) and create the necessary POST request - we used that method with great success.

Agree that it would be nice to add this to the emulator or even the bot framework portal.
PS.
Remember that you would have to 'catch' these 'global' commands as they may appear in any d

[2017-02-23 16:15] jameslew commented on #2278
@pvagare Labeling everything won't necessarily make your model better; you only want to add new labeled utterances for the items that improve your model for cases not well covered, etc.

[2017-02-23 16:43] slahiri commented on #2126
Hi @Stevenic - will this fix be published to npm soon?

[2017-02-23 16:56] PadmanavAgarwal commented on #2299
We can use a global "goodbye" middleware (introduced in v3.1) to end a conversation with the bot.
However, as a permanent solution, we need to use proper error and exception handling mechanisms to gracefully handle ambiguous situations during a conversation.

As for the error message posted, I later found that this error message is often displayed when there is a problem with initialization of som

[2017-02-23 16:57] jrom20 opened #2333 "Direct Line Web chat doesn´t render cards controls."
I was trying to use the Direct Line as an embedded web chat as the follow, https://directline.botframework.com/embed/BOTNAME?s=KEYAPP_FORDIRECTLINE, and it works but when the bot reply options into buttons control it only returns a choose list (Strings), There is any option that I have to enable to render this controls?.

Thanks you in advance.

[2017-02-23 17:19] ankitbko commented on #2303
Are you referring to "Agent Transfer"/"Live Chat" feature, where bot redirects to a human agent?

[2017-02-23 17:41] jrom20 opened #2334 "Adding third user to the Chat with Direct line"
Hi,

I was trying to generate a conversation which initially it will start with a bot and default user once this default user requests to talk with another user this will join this third user, and they will be able talk between them, right now I already achieved to read the conversation in the third user chat, bad when I try to send a message via Direct line in that specific conversation it is not

[2017-02-23 21:50] michaeldinsightly opened #2335 "Unable to install on Slack"
Hi there,

We've ran into an issue where users are unable to install our bot through Slack. When using an existing account, everything works fine. Here is the error that we see:

![image](https://cloud.githubusercontent.com/assets/20196361/23280381/ca9b0c7e-f9cd-11e6-8f8d-2a0ba20ef557.png)

This appears to be a regression, as it was working fine at our original launch.

[2017-02-23 22:21] Stevenic commented on #2126
Yes... I'm waiting for one more change to get pushed through.

[2017-02-23 22:25] Stevenic commented on #2311
Adding craig... @aakashvit  you may need to use slacks API's directly to find the list of users for a channel or team. You can then modify the `address.user.id` field of an full address object to tweak who your messaging.  You'll want to delete the `address.conversationId` field to start a new private conversation with each user.

[2017-02-23 22:26] Stevenic commented on #2118
Ok... we'll leave this open for now

[2017-02-23 22:29] Stevenic commented on #2294
Sorry... I thought this was a node issue. Assigned the right dev to it.

[2017-02-23 22:32] Stevenic commented on #2302
Is this the node version? We haven't been adding new features but we have been fixing issues.

[2017-02-23 22:36] Stevenic commented on #2303
We've been calling this human handoff and we have some pieces needed to implement it in place but still need to add other pieces.  Which version of the SDK, Node or C#, are you using?

[2017-02-23 22:47] dandriscoll opened #2336 "Bot Framework legacy API (v1) shutting down today. Please upgrade to v3."
In March 2016 we launched Bot Framework v1 and Skype v2. Later, in July 2016, we converged these systems into the current protocol, Bot Framework v3.

Bot Framework v1, which has been deprecated since July of last year, is officially going offline today.

This change only affects a small number of remaining v1 bots.

If you missed or did not receive our notification mails and have a v1 bot, please

[2017-02-23 23:00] Stevenic commented on #2331
The `dialogAction` is technically just a `postBack` that creates an encoded payload of "action?add=argument" in your example. I would expect the `postBack` to not be working either.  In general `postBack` support is a bit spotty but I actually thought it was working on Facebook.

In general I've started recommending people use `imBack` that's paired with a `triggerAction()` to detect the click as

[2017-02-23 23:12] Stevenic commented on #1744
I've checked in a fix that will go out with next release.

[2017-02-23 23:15] Stevenic commented on #2330
So I'm trying to understand better what you're wanting to do.  The IntentDialog can only be used to recognize things the user says so what's the conversational flow you'd like?

[2017-02-23 23:19] Stevenic commented on #2327
Adding eric who can confirm but that is most likely the default behavior of Telegram & Skype if you don't provide a title.  May not be anything we can do about that.

[2017-02-23 23:23] cleemullins commented on #1744
Fantastic! Thanks Steve!

[2017-02-23 23:23] #1744 closed

[2017-02-23 23:27] Stevenic commented on #2325
Adding the skype team for further comment as it appears that the behavior of `postBack` has changed recently.

[2017-02-23 23:28] jameslew commented on #2335
Can you clarify what you mean by "when you use an existing account"?  You just mean that only adding is broken?

[2017-02-23 23:28] AmitBhatnagar24 commented on #2336
Was on 3.2.0 and updated to latest 3.5.3. I also downloaded the latest bot emulator. Always get:

`-> POST Request to 'http://localhost:3979/api/messages' failed: [500] Internal Server Error`

when I try to use it.. any ideas, or at least a way to find out exactly what the error is?

[2017-02-23 23:29] nickcordrey commented on #2325
Thanks we're investigating

[2017-02-23 23:34] Stevenic commented on #2324
Are you using the Node SDK? If so you would need to implement a custom connector. Someone built one for the v1 version of the SDK but the v3 SDK is quite a bit different. I had asked them to update it for v3 but they didn't have time so you may be starting from scratch. You could look at the ConsoleConnector code for a simple starting point.

[2017-02-23 23:36] michaeldinsightly commented on #2335
It's hard to diagnose the problem exactly. When we authorize it with our existing accounts, everything is fine. We have both an enterprise and free Slack account that we use to test.

To recreate the issue, we created a new Slack account under a new email address. We've tried it on free, standard, and plus plans with this new Slack account.

If we invite the new account to a team on our existing a

[2017-02-23 23:41] dandriscoll commented on #2336
Hi @AmitBhatnagar24, your bot is generating an error. If you would like help diagnosing the error, please open a new issue here or on Stack Overflow.

[2017-02-23 23:52] jameslew commented on #2335
I've verified I can add bots to Slack teams generically, so there must be something specific.  Any possibility you could share your bot handle so we could take a look?  If you're uncomfortable with public, send to BotFramework@microsoft.com and mention @jameslew in the body.

[2017-02-23 23:55] jameslew commented on #2333
@jrom20 have you configured your bot to use the new Webchat preview?  If when you edit your bot's "Webchat" control you choose "enable preview" you should see the new features, including card support.

[2017-02-24 00:00] jameslew commented on #2328
There shouldn't be anything in specific.  What do you mean by getting responses randomly?

You can configure Azure Application Insights and give the instrumentation key to the Bot Framework (Bot page, edit, paste in instrumentation key).  We'll then log events to your app insights instance that can help you diagnose connectivity problems with your bot.

[2017-02-24 01:01] Stevenic commented on #2312
So it's actually by design that the payload isn't being localized.  If you want to localize the payload you can do so pretty easily:

[code]

[2017-02-24 01:30] imshenshen commented on #2330
@Stevenic sorry for my poor English - -! I use LuisRecognizer.
[code]
User:  'some words trigger intentA'
Bot:    'i am intentA-waterfall1'
User:  'some words that match intentB'    //  this will go to `intentA-waterfall2`, but i want it trigger LuisRecognizer that match intentB and go to `intentB-waterfall1`.

[2017-02-24 02:16] eanders-MS commented on #2327
This is the default behavior of Telegram for images. You can work around it by sending the image as a hero card:
[code]

[2017-02-24 02:36] Stevenic commented on #1744
Just pushed update.

[2017-02-24 02:37] Stevenic commented on #2295
Just released v3.7.0 with fix

[2017-02-24 02:37] #2295 closed

[2017-02-24 02:37] Stevenic commented on #2126
Just released v3.7.0 with fix

[2017-02-24 02:37] #2126 closed

[2017-02-24 02:38] Stevenic commented on #2066
Just released v3.7.0 with fix

[2017-02-24 02:38] #2066 closed

[2017-02-24 02:54] Stevenic commented on #2330
So for that you could break your waterfalls out into two separate dialogs that use a `triggerAction()` instead of an `IntentDialog`. Example:

[code]

This works very similar to an `IntentDialog` but allows "intents" to interrupt each other. So you could be in the middle of waterfall A and if the user says something to trigger "IntentB" then a new waterfall will be started. It's worth noting that

[2017-02-24 03:18] jrom20 commented on #2333
@jameslew Thank you for reply.

Yes, I have configured the 3.0 Preview, and still I'm getting the options as bullet points,

using https://directline.botframework.com/embed/.......
![image](https://cloud.githubusercontent.com/assets/25846426/23289127/522db242-fa0d-11e6-941b-aaed6e85779b.png)

![image](https://cloud.githubusercontent.com/assets/25846426/23289032/cf8d5310-fa0c-11e6-970e-53c983921bcb

[2017-02-24 03:36] ebattulga commented on #2324
I'm already making Bot using C#. 30 indents with LUIS.

I'm trying to send directly to FB using Page Access Token. response time decreased to 5 second. Now i will try directly receive message from FB. But i don't know how to start.

[2017-02-24 04:47] willportnoy commented on #2155
@ferom if you have that same issue, you can fix the configuration of your local network's TMG server.

[2017-02-24 04:48] willportnoy commented on #2272
The bot data is the data you're storing in the per-user, per-conversation, or per-user-in-conversation data bags:

https://docs.botframework.com/en-us/technical-faq/#is-there-a-limit-on-the-amount-of-data-i-can-store-using-the-state-api

[2017-02-24 04:49] willportnoy commented on #2249
@vovanb that's interesting - why do you think reading the settings from web.config is failing?

[2017-02-24 04:51] willportnoy commented on #1956
@stelazh is your issue related to this issue?  you might consider opening a top level issue for your question.

[2017-02-24 04:52] willportnoy commented on #47
@IntranetFactory the emulator just posts to the activity endpoint for your bot web service.  If you want to use the result of the FormFlow dialog, you should have some root dialog that calls the FormFlow dialog as a child.

[2017-02-24 04:53] willportnoy commented on #47
@stelazh please don't cross link across multiple GitHub issues to a single stack overflow issue unless that issue is relevant to the GitHub issue.

[2017-02-24 04:58] willportnoy commented on #2078
@sayyednazeer can you run standard network diagnostics for that LUIS url?  For example, see if you can resolve the DNS address, and whether your ping or traceroute to that IP address, and whether your firewall is blocking http communication to that URL.

[2017-02-24 04:59] willportnoy commented on #2279
You might take a look at https://docs.botframework.com/en-us/bot-framework-guide-id/ - many channels scope user ids by bot to avoid leaking user information across bots.

[2017-02-24 05:06] willportnoy commented on #2332
I'd run your bot's web service under the debugger, and look for thrown exceptions to help understand the 500 http status code:

https://docs.botframework.com/en-us/technical-faq/#look-for-exceptions

However, since you're using the builder dialog stack, you also need to fix the outgoing authentication calls as well to support "multiple bot in single process" scenarios - for example https://github.

[2017-02-24 06:12] nickcordrey commented on #2318
This is supported in Skype I think it might be because in Skype button actions (and probably tap actions) are restricted to HTTPS only and your URL is HTTP. Please could you try a HTTPS URL and confirm?

[2017-02-24 06:18] jrom20 commented on #2336
@AmitBhatnagar24  I was getting the same error, when I upgraded to Bot Builder 3.5.3 because I also upgraded IdentityModel.Tokens.Jwt to the last version, once I downgraded to 4.0.20XX1351 Bot builder 3.53 worked fine.

[2017-02-24 06:26] suvamsh commented on #651
I'm seeing a very similar issue:

Fri Feb 24 2017 06:25:32 GMT+0000 (Coordinated Universal Time): Application has thrown an uncaught exception and is terminated:
SyntaxError: Unexpected token [
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:373:25)
    at Object.Module._extensions..js (module.js:416:10)
    at Module.load (module.js:343:32)
    at Function.Module._

[2017-02-24 07:12] jrom20 opened #2337 "Bot Framework - Direct Line - REST API V3 c#"
Hi,
I'm trying to establish a connection via http client and the REST API v3 of Bot Framework in C#, but when I check the successfulStatusCode it comes with false value,

[code]
instead REST API v1 return a successfull value,

[code]
What I'm doing wrong?

[2017-02-24 07:53] UCDFeedbackBot opened #2338 "Cannot reply over WebChat and Bot Portal"
About 3.00 AM (GMT+0) to day, my bot cannot reply over WebChat channel. Chat Frame in https://dev.botframework.com/bots also not repply, too.

Skype channel still reply normally
My App ID
e91fd8c7-636f-4ad7-9dee-957e77b01891

[2017-02-24 08:24] lonche commented on #2332
I'm using simulator for debugging/testing. There is no exceptions.

[2017-02-24 09:02] lonche commented on #2332
Btw, i tried this : https://github.com/Microsoft/BotBuilder/issues/2258#issuecomment-280506334

But same exception is thrown. Any idea how to handle multiple bots using one instance ?

[2017-02-24 09:12] FlowWithCaptainJack opened #2339 "can not get activities from other channels except directline."
I can get all activities by conversationId in directline channel,     But have no way for other channels, Can you show me some advice?

[2017-02-24 09:16] lonche commented on #2332
I used solution you posted.
When i test it locally, this function :

[code]

Should return empty appid and password. But simulator throws an error :
http://prntscr.com/ecqwly

Why ?

[2017-02-24 10:08] lonche commented on #1641
What happened with this ? Guys, did you solve this issue ?

[2017-02-24 10:10] lonche commented on #1644
@vossccp, @srozga  where did you insert that code ?

[2017-02-24 10:19] lonche opened #2340 "Authorization for Microsoft App ID failed with status code Forbidden"
<Error>
<Message>An error has occurred.</Message>
<ExceptionMessage>
Authorization for Microsoft App ID failed with status code Forbidden
</ExceptionMessage>
<ExceptionType>System.UnauthorizedAccessException</ExceptionType>
<StackTrace>
at Microsoft.Bot.Connector.JwtTokenRefresher.<SendAsync>d__2.MoveNext() --- End of stack trace from previous location where exception was thrown --- at System.Runt

[2017-02-24 11:15] rahulsarkar123 commented on #2332
Hi,

I have created Bots in BotFramework portal and have linked up with BotBuilderSDK and have enabled channels like DirectLine, WebChat. It was working fine till today morning we are getting messages as "Sorry, my bot code is having an issue"..It is not working. Any suggestions?

[2017-02-24 11:22] lonche commented on #2332
@rahulsarkar123  open new thread and paste your code there.

[2017-02-24 11:27] rahulsarkar123 opened #2341 "There was an error sending this message to your bot: HTTP status code InternalServerError"
![httperror](https://cloud.githubusercontent.com/assets/26003233/23302346/6aa78986-fab4-11e6-824b-153ef8ccb6b0.png)
Hi,

I have created Bots in BotFramework portal and have linked up with BotBuilderSDK and have enabled channels like DirectLine, WebChat. It was working fine till today morning we are getting messages as "Sorry, my bot code is having an issue"..It is not working. Any suggestions?..In

[2017-02-24 11:35] lonche commented on #1729
All links are dead here ...

[2017-02-24 11:40] rahulsarkar123 commented on #2332
created a new thread and have pasted the code

[2017-02-24 11:53] lonche commented on #2341
It looks like that your bot is not authorized. What about your webconfig ?

[2017-02-24 11:53] nitecloack commented on #1102
Hi I'm very new to bot framework.

We wanted to add custom cards in our formflow. Is there any guide to do that.

So far I've trace PromptAsyncDelegate but I do not know what to do next.```

` form.Prompter = new PromptAsyncDelegate(IDialogContext Context, FormPrompt Microsoft.Bot.Builder.Dialogs.Internals.Prompt, T State, IField < T > File) => {

            };

[code]

[2017-02-24 12:07] rahulsarkar123 commented on #2341
No..It is working fine till last night..from today morning onwards i am getting  this response.
I think there is some issue with the BotFramework server. Can you please check and let me know?
Here is the webconfig code:

WebConfig:

<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFram

[2017-02-24 12:26] konstlut commented on #2325
@Deviss14 The behavior you describe is correct. postBack renders the cardAction.title in chat history and delivers the cardAction.value to your bot. In your example these values are the same.

[2017-02-24 13:12] JeevaJose opened #2342 "How can I get the userId if the message type is ActivityTypes.ConversationUpdate."
I want to show the user name in the beginning of the welcome message like Hi <user name>. I have developed a Bot application in .Net and configured with webchat.

I am passing the userid and username from the MVC application. I got the userid if the message type is ActivityTypes.Message

I could not find the userid if the message type is ActivityTypes.ConversationUpdate.

Once the message type cha

[2017-02-24 14:27] pvagare opened #2343 "Multi tenancy in custom web control using direct line api"
Multi tenancy (Multiple users chat with chatbot) is not working for custom web control using Direct Line API. But Multi tenancy work correctly when using iframe web control .
Using custom web control how to maintain separate sessions for each user.

[2017-02-24 15:12] jorupp opened #2344 "ResolutionParser.TryParse doesn't recognize dates because LUIS doesn't provide resolution_type anymore"
Here's a fragment of the JSON LUIS returns:

[code]

Since there's no resolution_type on the resolution object, ResolutionParser skips it.

[2017-02-24 16:08] gilesbutler commented on #1937
Thanks for getting back to me @Stevenic - unfortunately I can't test this anymore sorry. If it comes up again I'll re-open and update with more details but closing for now.

[2017-02-24 16:08] #1937 closed

[2017-02-24 17:46] jameslew commented on #2190
We have a new portal UI coming with a new codebase very shortly that should address this issue.  We'll do announcements when the new UI has dropped.  In the mean time, thanks for the report!

[2017-02-24 17:48] RobStand commented on #2225
Hi @shigasumi, I'll chat with the team and get back to you.

[2017-02-24 18:01] chrimc62 commented on #1102
You should probably not need to replace the prompter unless you need to do some kind of custom card generation.  Just look at the attributes of DescribeAttribute and fill those in appropriately, i.e.
[Describe(Image=<url>, Title="cool stuff", ...]

If you did need to replace the prompter, in your builder you should call .Prompter(<PromptAsync delegate>).  As to your delegate, if you have the lates

[2017-02-24 20:09] nickcordrey commented on #2325
@Deviss14 there was a config change that might have resulted in an issue for Skype. This is being addressed but to expedite things please send your Bot ID to us at Skype Bot Support <skypebotsupport@microsoft.com> referencing this github thread, and I'll check it for you.

[2017-02-24 20:09] #2325 closed

[2017-02-24 21:48] Stevenic commented on #1937
Ok thanks

[2017-02-24 21:49] Stevenic commented on #2331
Great!

[2017-02-24 21:49] #2331 closed

[2017-02-24 21:55] Stevenic commented on #2312
Closing this for now. Please feel free to add further comments.

[2017-02-24 21:55] #2312 closed

[2017-02-24 21:55] Stevenic commented on #2018
Closing this for now. Please feel free to add further comments.

[2017-02-24 21:55] #2018 closed

[2017-02-24 21:55] Stevenic commented on #1930
Closing this for now. Please feel free to add further comments.

[2017-02-24 21:55] Stevenic commented on #1919
Closing this for now. Please feel free to add further comments.

[2017-02-24 21:55] #1919 closed

[2017-02-24 21:56] Stevenic commented on #1893
Closing this for now. Please feel free to add further comments.

[2017-02-24 21:56] #1893 closed

[2017-02-24 21:56] Stevenic commented on #1837
Closing this for now. Please feel free to add further comments.

[2017-02-24 21:56] #1837 closed

[2017-02-24 21:56] Stevenic commented on #1820
Closing this for now. Please feel free to add further comments.

[2017-02-24 21:56] #1820 closed

[2017-02-24 21:58] Stevenic commented on #1961
Closing this for now. Please feel free to comment with more details and i'll re-open.

[2017-02-24 21:58] #1961 closed

[2017-02-24 22:04] Stevenic commented on #2330
Closing this for now. Please feel free to add further comments.

[2017-02-24 22:04] #2330 closed

[2017-02-24 22:05] Stevenic commented on #2327
Closing this for now. Please feel free to add further comments.

[2017-02-24 22:05] #2327 closed

[2017-02-24 23:11] willportnoy commented on #2342
Activity.MembersAdded might be what you need:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Connector.Shared/ConnectorAPI/Models/Activity.cs#L128

[2017-02-24 23:13] willportnoy commented on #2340
Did you update the authentication for the outgoing activities back to the user through the connector service?

https://github.com/Microsoft/BotBuilder/issues/2258#issuecomment-280506334

[2017-02-24 23:15] willportnoy commented on #2339
There is no queuing at all for the other channels (DirectLine has a queue with a very short lifetime)- when the channel posts a message to the user, it is delivered immediately.  If you want to persistently store messages, you might consider some sort of storage for them.

[2017-02-24 23:37] willportnoy commented on #2338
Do you have a bot ID?  I see some log entries that seem relevant but they stop at 2:38:24 AM and start at 5:35:00 AM. :)

[2017-02-24 23:42] willportnoy commented on #2343
Would it help you to look at the source for the WebChat to see how it's done?

https://github.com/Microsoft/BotFramework-WebChat

[2017-02-24 23:47] willportnoy commented on #2344
I'm not reproducing this issue - what endpoint are you using?

[code]

[2017-02-25 00:06] willportnoy commented on #2291
It looks like you got an answer on Stack Overflow for your question, so I'm going to close this issue for now.

[2017-02-25 00:06] #2291 closed

[2017-02-25 00:09] willportnoy commented on #1725
@fercom I'd open a top level issue for your question because we don't look at closed issues.

In your case, the ConnectorStore is registered differently now, but it's IBotDataStore interface:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Builder.Autofac/Dialogs/DialogModule.cs#L140

[2017-02-25 00:10] willportnoy commented on #1908
@bmperrea you might consider a new top level issue for the feature request - feel free to reference this one.

[2017-02-25 02:38] fercom opened #2345 "My bot throws "412" errors after updating to version 3.5.3"
I had this code to correct this errors in the version 3.3.3:

[code]
It was in the static builder of the messagesController
But if doesn't work anymore, it throws an exception

[2017-02-25 02:39] fercom commented on #1725
@willportnoy ok, it is here: [https://github.com/Microsoft/BotBuilder/issues/2345](url)

[2017-02-25 03:09] PrasadHonrao commented on #2341
I am facing same issue as well

![image](https://cloud.githubusercontent.com/assets/1454174/23327656/d9c45552-fb35-11e6-9174-4ad3406c4e11.png)

[2017-02-25 11:41] kkarahainko opened #2347 "Telegram proactive bot not working"
Trying to send message to Telegram from a Worker Role:

[2017-02-25 12:06] himanshuphirke commented on #2295
Got latest v3.7.0
I see the same error again.
No error on console.

It works fine with webchat and slack channels. The problem I see is, its not at all calling the root dialog.

I have to delete the bot and get a new one to have the same node code working

Let me know if any more info is required from my side to fix the issue.

[2017-02-25 13:54] lufengjm opened #2348 "(https) request nginx proxypass to iis( http) Could not create SSL/TLS secure channel"
I placed ssl(let's encrypt) on my server nginx 。
When api（https://） request nginx ,and then set proxypass to my locallhost:xxx（with http
protocol , iis web server）。

        listen       443;
        server_name  xxx.xxx.com;
        ssl on;
        ssl_certificate xxx.pem;
        ssl_certificate_key xxx.pem;
        location /{
            proxy_set_header  REMOTE_ADDR  $remote_addr;

[2017-02-25 14:42] rahulsarkar123 commented on #2341
Thanks the issue is resolved now. I resolved it.

Thanks & Regards

Rahul Sarkar

Unique Identity: Emerging Technologies

Accenture

Mobile  : +91 7829306427

Email  : rahul.b.sarkar@accenture.com

________________________________
From: Prasad Honrao <notifications@github.com>
Sent: Saturday, February 25, 2017 8:39:23 AM
To: Microsoft/BotBuilder
Cc: Sarkar, Rahul B.; Author
Subject: Re: [Microsoft

[2017-02-25 15:56] JeevaJose commented on #2342
Thanks for your quick information.

This is not the correct answer.

I am passing the userId and user name to the below query string.

https://webchat.botframework.com/embed/<your bot name>?s=<Bot secret>&username=<username>&userid=<userId>

if the message type is **ActivityTypes.ConversationUpdate**, this case I am getting the userid from From.Id or Activity.MembersAdded[0].id but that is not the

[2017-02-25 17:06] PrasadHonrao commented on #2341
@rahulsarkar123 Great! Can you provide details on the root cause of the problem and the solution?

[2017-02-25 20:19] haligasd commented on #2285
How do we achieve this from a C# bot?

[2017-02-25 20:56] italojs opened #2349 "error 500 - "exceptionMessage": "invalid need: expected Call, have Poll", "exceptionType": "Microsoft.Bot.Builder.Internals.Fibers.InvalidNeedException""
When i use the code: ` PromptDialog.Confirm(context, TrocarEmail,"Seu email atual é:  email@email, você gostaria de trocá-lo?");` i get a exception `POST 500 [message] me envie a fatura por email`
i'm using the Emulator(v3.5.25);

Just for you understand the conversation
user: send me my bill by email
bot: its your email? email@email.com, do you wanna change it? //here is my problem
user: yes/no
.

[2017-02-26 03:18] varunsethnsit opened #2350 "Bot returning Forbidden error messages on any message sent."
Note: Please only submit Bot Builder SDK bugs here. If you have general questions or implementation issues, please submit a question on Stack Overflow at http://stackoverflow.com/questions/tagged/botframework.

Bot built and integrated with FB Messenger is returning 'Forbidden' message in return irrespective of any message sent. The same is hapening on any other channel.
Have already checked the s

[2017-02-26 15:08] DmitryZemlyuk commented on #2175
@Stevenic few days ago I'm replace logic for answering bot (closure with regular expression). That's helped me and my bot and working now. Thanks for helping and answers.

[2017-02-26 23:38] dandriscoll commented on #2350
Hi @varunsethnsit, this error is most likely because your bot is no longer using a supported version of our API. More details available here: https://github.com/Microsoft/BotBuilder/issues/2336

[2017-02-27 00:13] dandriscoll commented on #2343
Hi @pvagare, are you using Direct Line 1.1 or 3.0?

If you're using 1.1, are you setting the "From" field when you send messages over Direct Line?

[2017-02-27 00:28] willportnoy commented on #2349
You're likely trying to call methods off the IDialogContext outside of the dialog's methods.

[2017-02-27 00:29] willportnoy commented on #2345
What exception does it throw?

[2017-02-27 00:31] willportnoy commented on #2347
You might consider going through the steps at

https://docs.botframework.com/en-us/technical-faq/#how-can-i-troubleshoot-my-bots-authentication

Are you initializing the ConnectorClient with the proper MicrosoftAppCredentials?

[2017-02-27 00:36] willportnoy commented on #2277
"git bisect" is awesome, particularly if you have the tests to support its usage. :)

The issue with that fix is that the "mark" field is the field that stores the next wait for the https://github.com/Microsoft/BotBuilder/commit/9732296235a274bcc429f7e647b46fc9d1f3d989 feature to work.

I would have assumed that removing that commit just meant that some other Key_DoNotSerialize instance would be s

[2017-02-27 00:39] willportnoy commented on #2332
@lonche are your app ID and password non-empty?

[2017-02-27 00:41] willportnoy commented on #2324
You can receive messages directly from Facebook by following the APIs and protocols documented by Facebook.  Here is a blog post that talks about writing a Facebook Messenger Bot:

https://developers.facebook.com/blog/post/2016/04/12/bots-for-messenger/

It's likely it's a fair amount of work to support each channel, which is one of the reasons we have developed the Bot Framework to connect your B

[2017-02-27 00:52] scottmcconnell commented on #331
Hi @Stevenic, is there a way that I can ask for the location via Facebook quick reply in a waterfall style dialog using a builder prompt?
I have a stackoverflow question [here](http://stackoverflow.com/questions/42476156/microsoft-bot-framework-dialogs-arent-handling-facebook-location-being-sent) if you need some more information.

Thanks in advance.

[2017-02-27 01:16] italojs commented on #2349
i already found the problem ,I was using the "promptDialog.confim()" +   "context.Wait(MessageReceived)"in the same method.
thank you

[2017-02-27 01:16] #2349 closed

[2017-02-27 01:41] dandriscoll commented on #2337
Hi @jrom20, have you enabled support for Direct Line 3.0 on your bot's Direct Line configuration page?

[2017-02-27 01:44] dandriscoll commented on #2334
Hi @jrom20, this should work, although it hasn't been tested very thoroughly -- we're focused on the single-user scenario at the moment.

Can you send an example conversation ID and I can take a look?

[2017-02-27 01:46] dandriscoll commented on #2333
Hi @jrom20, the URL you are using is not supported. I'm surprised it works.

The correct URL would look like this: https://webchat.botframework.com/embed/BOTNAME?s=KEYAPP_FORWEBCHAT

You can get keys from the Web Chat configuration page within the Bot Framework dev portal.

[2017-02-27 02:21] #2338 closed

[2017-02-27 02:38] nitecloack commented on #1102
Appreciate your quick response.

Yes I'm trying to create a custom card that can run through the form flow.

[2017-02-27 02:48] camer314 commented on #2302
This is for the .NET version

[2017-02-27 03:39] ankitbko commented on #2277
@willportnoy  I used the [console application](https://github.com/ankitbko/bot-issue-autofac) as the "test" to each of the commit(I referred the project directly instead of nuget package). The console app just updates the registration in child scope. At each bisect I would just run and see if child scope registration caused any exception or not.
It seems that the issue started to arise at https://

[2017-02-27 03:55] jrom20 commented on #2337
Hi @dandriscoll, yes I have configured Bot Framework Version 3.0.
![image](https://cloud.githubusercontent.com/assets/25846426/23348292/2e00944e-fc6e-11e6-8b9c-c10b8084379c.png)
 and direct line configuration also v 3.0

![image](https://cloud.githubusercontent.com/assets/25846426/23348301/532726ac-fc6e-11e6-9fdd-88849f7082c4.png)

[2017-02-27 07:19] kkarahainko commented on #2347
Thanks for reply, I use ResumptionCookie. It works fine for Slack and
Skype, but raising Unknown Bot for Telegram. Looks like broken cookie,
wrong bot id.

27 Фев 2017 г. 3:31 пользователь "Will Portnoy" <notifications@github.com>
написал:

[2017-02-27 08:16] maba4891 commented on #120
What I am currently missing in Node is a nice way to let users choose between different options. When I use
`builder.Prompts.choice(session, "What language do you code Node using?", ["JavaScript", "CoffeeScript", "TypeScript"]);`
in Node I get a simple, non-clickable list: 1. JavaScript 2. CoffeeScript 3. TypeScript

In C# these choice items are nicely formatted an clickable, which makes it much e

[2017-02-27 08:37] lonche commented on #927
@wiltodelta where do you call RegisterBotDependencies function ?

[2017-02-27 09:36] AlavudeenRafiq commented on #2328
Hi @jameslew,

Thanks for your response. Getting random responses mean that my Bot can't able to send/recieve messages sometimes. I am getting error in **Directline api(Missing token or secret)**.

I hope that now you understand my issue clearly. Is it only way to configure Azure Application Insights to solve my issue?

[2017-02-27 09:39] michaelvol commented on #2240
Thanks!
While on this topic,
Could it be that a message that wasn't delivered (because the deleted the conversation), is somehow queued on the SaaS, and will later (even after two weeks), be delivered to the user, once he gets back to chatting with the bot?
Do you have any queuing mechanisms on the SaaS?
Thanks.

[2017-02-27 09:46] konstlut commented on #2294
@AlexanderKovalev @rjoosen @jsiegmund  This issue was due to a configuration change on the backend that was fixed on Wed, 02/22/2017. It is not related to the client implementation or SDK update.

[2017-02-27 09:48] #2294 closed

[2017-02-27 09:54] endareBrock opened #2351 "All channels except webapp are not allowing other people to communicate with the bot"
When somebody else then me tries to converse with the bot it constantly throws errors.
My feed looks like this when messages are retrieved
![image](https://cloud.githubusercontent.com/assets/25737301/23356640/eb89850e-fcda-11e6-8ee0-a26d8325d3d7.png)

Same story with skype. But the error messages link to trafficmanager instead.
Can it be that my bot needs to be published for other users to communi

[2017-02-27 10:01] amitbend commented on #1495
any update?

[2017-02-27 10:55] chris31389 commented on #311
My issue was that I didn't send the request with content-type: "application/json" hope this helps!

[2017-02-27 11:15] DomLinkgos commented on #2345
I have the same issue. Was using 3.5.1 and everything worked. Updated to 3.5.3 in order to use the newest AuthBot and the bot stopped answering. In my case it is a 500 Server Error.

"Exception thrown: 'System.TypeInitializationException' in BotName.dll"

If I revert back to 5.3.1 it works again. Any clues?

Thanks!

[2017-02-27 11:20] sayyednazeer commented on #2078
@willportnoy can you tell me how to do that... Any article reference which i can follow and do..

[2017-02-27 11:50] lonche commented on #2129
Did you solve this, @vovanb  ?

[2017-02-27 12:22] cahann commented on #2344
LUIS returns resolution only for the English culture

[2017-02-27 14:37] b4usat commented on #2342
Same issue here. I even raised an issue few days earlier but didn't get a satisfying answer. https://github.com/Microsoft/BotBuilder/issues/1994

[2017-02-27 15:19] lonche opened #2352 "There was an error sending this message to your bot: HTTP status code InternalServerError"
I found this :
http://stackoverflow.com/questions/42488700/bot-does-not-respond-to-messages
but i have the same issue.

Any help ?

[2017-02-27 15:58] stenoid commented on #1733
I have a similar requirement with being able to use a hero card to mimic a receipt card. In my case (using node.js) I have been using a receipt card to ask for confirmation for scanning in actual receipt values. This works fine in Slack and the emulator, but Messenger displays lots of spurious values that I'm not interested in and it also doesn't display half of what I do want (when I define them

[2017-02-27 16:57] fercom commented on #2345
@willportnoy it throws: Autofac.Core.Registration.ComponentNotRegisteredException, The requested service 'Microsoft.Bot.Builder.Dialogs.Internals.ConnectorStore' has not been registered. To avoid this exception, either register a component to provide the service, check for service registration using IsRegistered(), or use the ResolveOptional() method to resolve an optional dependency.

[2017-02-27 17:06] willportnoy commented on #2352
https://github.com/Microsoft/BotBuilder/issues/2258#issuecomment-280506334 might help - you need to configure authentication for outgoing messages too.

In addition, when you see a http server error 500, you should attach your debugger to find the exception.

[2017-02-27 17:08] andrehe001 commented on #2341
@rahulsarkar123, 'm having the same issue and it would be great, if you could let us know how you solved it.

[2017-02-27 17:10] AmitBhatnagar24 opened #2353 "Slack Channel for Bot Framework Help / Issues?"
Is there a community Slack channel for support / discussions on the bot framework ?

The ASP.NET / Dotnet slack team doesn't have a botframework channel.. but microsoft-community.slack.com does..

It would be nice to be able to chat among bot developers.

[2017-02-27 17:13] tylerl0706 commented on #2231
Has anyone gotten the chance to look at this? I've been waiting to demo something to my team at work that uses Teams but I can't demo it if the Bot Framework isn't working with Teams.

[2017-02-27 17:17] jrom20 commented on #2334
@dandriscoll  I'm already able to join a third user that specific conversationId, and reply into it. but in the first user side I can't let him know that there is another user, if I were able to know into the first user chat side that there is third user I would change the replying  program. otherwise I noticed that the third user get into the current initial user dialog, there is any option to st

[2017-02-27 17:24] #1745 closed

[2017-02-27 17:34] tylerl0706 commented on #2231
Just to add, I've disabled and re-enabled and deleted and re-created the channel and no luck :(

[2017-02-27 17:49] RoDanger opened #2354 "Bot in review since 2 weeks"
Hi Microsoft Bot Team,

How long does a bot review take? We have a bot (id=bot-ufeseattle) submitted in review 2 weeks ago (Sunday 2/12), still no sign of any progress on the botframework.com page...

[2017-02-27 18:00] dandriscoll commented on #2337
Hi @jrom20, the only obvious problem I can see is that you're trying to POST an empty Conversation object to the conversations endpoint, which does not accept a parameter.

Can you provide any detail about the error you're getting back?

[2017-02-27 19:30] YigitCiray commented on #1980
Is there any update about solution?

[2017-02-27 19:38] aakashvit commented on #2311
issue solved. thank you  a lot :)

[2017-02-27 19:38] #2311 closed

[2017-02-27 19:39] danmarshall commented on #2202
Hi @pranavjain - I do not think we have a slot in our documentation hierarchy to host a PHP specific page. The closest thing would be the https://github.com/Microsoft/botbuilder-samples repo but PHP does not have adequate coverage there.

[2017-02-27 19:44] fercom commented on #1714
@ambrishverma I do also want to make this working on C# but I cannot find the .sourceEvent() method

[2017-02-27 19:52] danmarshall commented on #2300
Hi @ashay-88 your scenario is becoming advanced enough that you probably want to host your own WebChat control from your own server so that you can do lookups such as these.
https://github.com/Microsoft/BotFramework-WebChat

[2017-02-27 20:07] craigjensen commented on #1714
Look for ChannelData in c#

[2017-02-27 22:05] fercom commented on #1714
Ok, this works:

[code]

[2017-02-27 22:42] akadelpher opened #2355 "Telegram Channel Add Error"
When I enter telegram Access Token and press submit a runtime error occurs.

![default](https://cloud.githubusercontent.com/assets/25675554/23383314/d0d9be6c-fd80-11e6-8a67-16c87ec0f857.PNG)

[2017-02-27 23:34] Andrea-Orimoto commented on #2268
@kureikain, did you reproduce this? or can this be closed? thanks.

[2017-02-27 23:36] Andrea-Orimoto commented on #2354
@RoDanger, it looks like your bot has been approved today, congrats!. Feel free to reopen this issue if you still have questions or issues. thanks!

[2017-02-27 23:36] #2354 closed

[2017-02-27 23:53] LarsLiden commented on #1930
Two things to note:
•	onConversationUpdate is called twice.  Once for the bot joining the conversation and once for the user.  You’ll need to ignore the bot one so you don’t fire messages twice
•	It’s a system message not a message from the user, so in order to send a reply you’ll need to update message.address.user

Both are shown below:

bot.on('conversationUpdate', function (message) {
    if (

[2017-02-28 00:13] wbreza opened #2356 "[Question] How to Transition to new DialogStack in the middle of a FormDialog?"
I have a JSON FormDialog that is configured with all the relevant questions for the current topic.  I need to figure out a way to switch context's in the middle of a FormDialog and return to where I was when I complete the nested task.

Example: Say I'm building a Pizza bot and 1/2 through completing my order I ask the bot another unrelated query like "what's the status of my previous order?".

At

[2017-02-28 02:51] willportnoy commented on #2356
I think you're on the right path - here is an example of interrupting the current dialog stack to call a "calculator dialog":

https://github.com/Microsoft/BotBuilder/blob/497252e8d9949be20baa2cebaa6ce56de04461cf/CSharp/Tests/Microsoft.Bot.Builder.Tests/ScorableDialogTests.cs#L367

As long as you just want to interrupt the FormFlow dialog with some child dialog, and then continue with that child d

[2017-02-28 02:51] imshenshen commented on #2330
`triggerAction` works for me. Thanks!
but how can I combine LuisRecognizer and QnAMakerRecognizer

[2017-02-28 02:52] willportnoy commented on #2295
@Stevenic is there a command in Node to clear the dialog stack?

[2017-02-28 02:54] willportnoy commented on #2285
@haligasd you can use IPostToBot as a type of receive middleware, or use IActivityLogger to inspect all activities.

[2017-02-28 02:55] willportnoy commented on #1102
@nitecloack can you open a new issue with the error you see?  feel free to reference this issue.

[2017-02-28 02:56] willportnoy commented on #2324
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2017-02-28 02:56] #2324 closed

[2017-02-28 02:56] willportnoy commented on #2297
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2017-02-28 02:56] #2297 closed

[2017-02-28 02:58] #1927 closed

[2017-02-28 02:59] willportnoy commented on #1977
I'm going to close this issue for now due to inactivity.

[2017-02-28 02:59] #1977 closed

[2017-02-28 03:00] willportnoy commented on #2035
I'm going to close this issue due to inactivity.

[2017-02-28 03:00] #2035 closed

[2017-02-28 03:01] willportnoy commented on #2038
I'm going to close this issue due to inactivity.

[2017-02-28 03:01] #2038 closed

[2017-02-28 03:01] willportnoy commented on #2155
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2017-02-28 03:01] #2155 closed

[2017-02-28 03:03] willportnoy commented on #2205
Sorry for the delay in response.

@rupeshtech we've made a release of the Bot Builder with some updated diagnostics for authentication issues:
https://github.com/Microsoft/BotBuilder/releases/tag/Nuget3.5.3

Otherwise, we recommend:

https://docs.botframework.com/en-us/technical-faq/#how-can-i-troubleshoot-my-bots-authentication

[2017-02-28 03:04] willportnoy commented on #2296
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2017-02-28 03:04] #2296 closed

[2017-02-28 03:04] willportnoy commented on #2180
I'm going to close this issue for now (as it looks like the other issue has been solved), but feel free to open a new issue for further discussion.

[2017-02-28 03:04] #2180 closed

[2017-02-28 03:05] MattTatoczenko commented on #1948
Thanks for the workaround of restarting to fix this. Not sure what happens.
I just did a deploy from GitHub and my bot was throwing:
Exception while executing function: Functions.messages. mscorlib: Exception has been thrown by the target of an invocation. f-messages__658612385: Could not load file or assembly 'Microsoft.Bot.Connector, Version=3.3.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364

[2017-02-28 05:13] vovanb commented on #2150
@msft-shahins, do you have any news on this?

Sincerely,
Vladimir
(Sent from my mobile)

[2017-02-28 07:10] dasvictor commented on #1941
This was resolved.
@goldstark: Are you still facing any issue?

[2017-02-28 08:01] goldstark commented on #1941
It is resolved

Thank you

De : dasvictor [mailto:notifications@github.com]
Envoyé : mardi 28 février 2017 08:11
À : Microsoft/BotBuilder
Cc : goldstark; Mention
Objet : Re: [Microsoft/BotBuilder] european accents encoding (#1941)

This was resolved.
@goldstark <https://github.com/goldstark> : Are you still facing any issue?

—
You are receiving this because you were mentioned.
Reply to this email

[2017-02-28 08:21] giorgobiani opened #2357 "Triggering events in bot from external service"
Hi,

I'm developing facebook bot based on bot framework and have flowing scenario:

1. User sends specific keyword to bot
2. When bot sees this keyword, it knows that user wants to start async process on service provider side
3. Bot requests service provider to start process
4. Process can continue for several minutes, during this process, service provider sends callbacks to my api service
5. Whil

[2017-02-28 08:29] lonche commented on #2332
They are empty when i use simulator. How to test it properly ?

[2017-02-28 08:34] lonche commented on #2352
It works properly when i'm using one user. I can not start botframework simulator twice  ... any idea ?

[2017-02-28 08:50] rahulsarkar123 commented on #2341
The LUIS account trial period got expired, it exceeded 10,000 calls / month, I generated new keys and configured bots.It worked.

[2017-02-28 08:50] rahulsarkar123 commented on #2332
The LUIS account trial period got expired, it exceeded 10,000 calls / month, I generated new keys and configured bots.It worked.

Thanks & Regards

Rahul Sarkar

Unique Identity: Emerging Technologies

Accenture

Mobile  : +91 7829306427

Email  : rahul.b.sarkar@accenture.com

________________________________
From: activ8 <notifications@github.com>
Sent: Tuesday, February 28, 2017 1:59:11 PM
To: M

[2017-02-28 08:50] rahulsarkar123 commented on #2341
The LUIS account trial period got expired, it exceeded 10,000 calls / month, I generated new keys and configured bots.It worked.

Thanks & Regards

Rahul Sarkar

Unique Identity: Emerging Technologies

Accenture

Mobile  : +91 7829306427

Email  : rahul.b.sarkar@accenture.com

________________________________
From: andrehe001 <notifications@github.com>
Sent: Monday, February 27, 2017 10:38:53 PM
T

[2017-02-28 10:12] fanidamj opened #2358 "Unable to register new bots"
I'm unable to register new bots. It says this item cannot be accessed or modified. I'm using Azure free subscription. Any help?

[2017-02-28 11:00] thebeebs commented on #2237
I'm seeing the same issue. On version 3.5.3

[2017-02-28 11:12] siso commented on #2231
+1

Having the same issue on one of our bots (they all run the same Bot SDK version):

![image](https://cloud.githubusercontent.com/assets/1050043/23403113/8e2b3f3e-fda6-11e6-9dac-792d594cf5fb.png)

[2017-02-28 11:14] iMicknl commented on #1930
Thanks for the example, @LarsLiden! However I think something is not correct in the snippet. I can't get it working. Inside the declaration of the if statement you use = instead of == / ===. Also the declared var name isn't used. I already changed this in my code, however I still can't get it working.

I am trying to achieve the same as the author of this issue and I have exactly the same issue. W

[2017-02-28 11:31] sayyednazeer commented on #2078
@willportnoy  & @dandriscoll  OK NOW.. again i have deployed my bot on azure with free subscription.
I have remove the code from my https windows 2008 server.

I have notice 2 Problems on azure similar which i face on my server.

1. Some time LUIS service takes long time to get the winning intents more than 15 seconds above i have mention the log which takes around 24 sec.

2. And second problem i

[2017-02-28 12:23] KIBASSA opened #2359 "Bot unloaded from memory after a certain time of non-use"
Hi,

I have a rather permanent problem which I manage not to solve.

I the impression that my dll unloaded from the memory after a while.
For example, when I do not use the bot during 30 minutes and when I reuse it, that takes time before reacting like this I came to re-deployed.

It is as if the dll was no longer in the RAM and it must to recharges before response.

Is there a manipulation to be

[2017-02-28 12:42] ThisWillDoIt commented on #2359
I think this has nothing to do with the bot, but with the option where and how you host it.

If you host it as App Service on Azure there is an option "Always On" to solve your problem. But this option is only available in the Basic and Standard pricing Tier. In the shared tier

Theoretically it should be possible to write a script/bot/something else that sends a request every now and then to your

[2017-02-28 12:43] angsm opened #2360 "LUIS unable to deserialize response"
Hi, I encountered this bug:

{
    "message": "An error has occurred.",
    "exceptionMessage": "Unable to deserialize the LUIS response.",
    "exceptionType": "System.ArgumentException",
    "stackTrace": "   at Microsoft.Bot.Builder.Luis.LuisService.<Microsoft-Bot-Builder-Luis-ILuisService-QueryAsync>d__4.MoveNext()\r\n---

It was working fine 2 days ago, does anyone have any idea why?

Thank y

[2017-02-28 13:57] angsm commented on #2360
I just tried a simple example from:

https://code.msdn.microsoft.com/LUIS-Language-Understanding-acf9720a

It had the same error too, "An exception happened: One or more errors occurred. with an inner exception of: Newtonsoft.Json.JsonReaderException: Unexpected character encountered while parsing value: M. Path '', line 0, position 0."

[2017-02-28 14:23] angsm commented on #2360
I found the solution, it was due to the baseURI of LUIS call being incorrect. This can be resolved by updating the botbuilder package in NuGet package manager.

After the update, the format of the baseURI has been changed from

/luis/v1/application?id={id}&subscription-key={subscriptionKey}&q={question}

to

/luis/v2.0/apps/{id}?subscription-key={subscriptionKey}&q=question}

[2017-02-28 14:23] #2360 closed

[2017-02-28 14:48] McGern commented on #920
Hi, I am also trying to get lines between sentences to break up longer paragraphs

[2017-02-28 15:03] giorgobiani commented on #2357
OK, I tried a lot of things and then came up to idea, to DIRECTLY SEND ACTIVITY to bot service message controller. Seems easy task, but I stuck on authentication :(  Here's code I use:

`using (var client = new HttpClient())
            {
                client.BaseAddress = new Uri("http://localhost:81");
                client.DefaultRequestHeaders.Accept.Clear();
                client.DefaultR

[2017-02-28 16:00] forensicsguy20012004 opened #2363 "New Channel -- RocketChat"
Can we get a RocketChat channel, the company I work for is moving to RocketChat.

[2017-02-28 16:02] navenduagarwal commented on #1167
I am still facing this bug when one item is herocard and another videocard

[2017-02-28 16:07] dusterherz commented on #2355
+1, I have the exact same error.

[2017-02-28 16:39] willportnoy commented on #2358
Can you include a screen shot of the error?  What URL - the Bot Framework Developer Portal or the Azure Bot Service?

[2017-02-28 16:41] willportnoy commented on #2357
We have some samples for proactive messages here:
https://github.com/MicrosoftDX/botFramework-proactiveMessages

It would be easier if you leveraged the ConnectorClient since it will help you with authentication.

[2017-02-28 16:45] willportnoy commented on #2277
I guess I'm surprised that adding the [NonSerialized] fixed it without further issues - in my experiements, the child scope broke the entire "do not serialize" keyed service thing.  If it's just NullWait, maybe there's something wrong with our autofac registration for it.

[2017-02-28 16:46] willportnoy commented on #2347
Did you configure your bot for the telegram channel?

[2017-02-28 16:47] willportnoy commented on #927
@vovanb @lonche usually you can call something like RegisterBotDependencies just once and early in your application, perhaps in a static constructor.

[2017-02-28 17:14] jrom20 commented on #2337
Hi @dandriscoll

In this part I can't get a successfull connection, the response sends me back false.

[code]

[2017-02-28 17:30] eanders-MS commented on #2347
@kkarahainko, @willportnoy This is a known issue in our Telegram channel. We have a fix incoming, but it isn't ready yet. This issue is also tracking it: https://github.com/Microsoft/BotBuilder/issues/1983

[2017-02-28 17:36] steve75006 opened #2364 "Need to be able to specify LUIS timezoneOffset in C#"
I am writing a bot that uses LUIS for interpretting dates (scheduling). The problem is that the C# LUIS classes do not provide a method to specify the timezoneOffset (the property exists in LuisRequest). Not specifying the timezoneOffset means that requests such as "schedule in two hours" return in UTC. A request like "schedule tomorrow" only makes any sense if you know what today is for the user.

[2017-02-28 18:59] giorgobiani commented on #2357
@willportnoy  thanks for reply. Thing is that I don't have problem with proactive message system, I'm already using resumption cookie, but what I want is to send message TO BOT from outside service to notify it about some event. All these examples are showing how to send message from bot to user or start new dialog and so on. What I want is to trigger event for bot, so bot will do some work and on

[2017-02-28 19:32] chrimc62 commented on #2248
@jsiegmund were you successful at this?

[2017-02-28 19:32] chrimc62 commented on #2288
@singhsurya were you able to do what you needed?

[2017-02-28 19:35] jorupp commented on #2357
@giorgobiani - If you have a `ResumptionCookie`, you can create your own custom object (must extend IActivity as of 3.5.3) to pass to `Conversation.ResumeAsync`.

The trick is that in your dialog, instead of calling `context.Wait(MessageReceivedAsync)`, you want to call `context.Wait<object>(CustomReceivedAsync)`, which should be declared like:

[code]

Then, in `CustomReceivedAsync`, when you awa

[2017-02-28 19:41] giorgobiani commented on #2357
@jorupp sounds interesting, my background process is in another app domain, but still worth trying. Thanks

[2017-02-28 19:42] ankitbko commented on #2277
I ran the tests with `[NonSerialized]` attribute and 3 of them failed.
- DialogTask_RememberLastWait - `Message: Test method Microsoft.Bot.Builder.Tests.DialogTaskTests.DialogTask_RememberLastWait threw exception:
System.NullReferenceException: Object reference not set to an instance of an object.`
- DialogTask_RememberLastWait_ReturningFromChild - `Message: Test method Microsoft.Bot.Builder.Tests

[2017-02-28 19:56] KIBASSA commented on #2359
Thank you for your return.
In fact, I also thought of making a script which is going to throw requests all one minute for example to keep the Bot alive.
I wish to use WebClient of .Net who is going to make regularly requests POST on ApiController but I do not know how to do it.
Have you an example of an end of code c# which makes a request POST on ApiController in passing also MicrosoftAppId and M

[2017-02-28 21:38] Stevenic commented on #1167
@navenduagarwal can you open a new bug? This may be a facebook limitation that they don't allow mixed cards.

[2017-02-28 21:40] wbreza opened #2365 "Best practices for integrating Dialogs with existing APIs / applications"
I keep running into various serialization issues when attempting to integrate new Bot Framework Dialogs with my existing APIs and applications.

I understand the concept of making all the Dialogs Serializable, but how can I make my other code play nice **without** requiring `[Serializable]` attributes down through the whole stack?

**Example:**
1. Create a basic Dialog Chain with callbacks to caus

[2017-02-28 21:43] #1941 closed

[2017-02-28 21:48] Stevenic commented on #2295
If you add the code below to your bot you can then say "goodbye" and it will clear the dialog stack:

[code]

[2017-02-28 21:49] Stevenic commented on #2330
You can add multiple recognizers to your bot and we'll compare the scores returned by the recognizers to determine who wins.  You just call `bot.recognizer()` to add each one.

[2017-02-28 21:50] jsiegmund commented on #2248
Yeah, I haven't tested this extensively yet but the following snippet seems to work:

[code]

[2017-02-28 22:33] jameelvm opened #2366 "Unable to connect LUIS - AI Dialog Bot Framework"
I have explained my pblm in this stackoverflow question. Could you please help anyone on this??
http://stackoverflow.com/questions/42519844/bot-framework-unable-to-connect-luis-ai-dialog

[2017-02-28 23:18] Stevenic commented on #1930
Here's an updated example which I just tested:

[code]

Some things of note... On page load you're going to get a "conversationUpdate" indicating the bot has joined the conversation and you won't get notifications of a user joining until they send an actual message.  This is fairly standard though as most channels won't let you initiate contact with a user unless they've contacted you at least onc

[2017-02-28 23:24] Stevenic commented on #2019
I just tried to reproduce this and the test ping works fine for me.  Could you try updating to the latest version of the SDK (3.7.0) and then try again.

[2017-03-01 01:00] mb19 commented on #2271
@willportnoy @palmerabollo Again, thank you for your responses. I ended up finding an effective, if slightly weird solution to this.

By intercepting the session during the routing event, I maintain a timestamp on the sessionState and check to see if the difference between it and the current time exceeds the specified timeout duration. Then, I change the message text to the text for a triggerActio

[2017-03-01 07:23] imshenshen commented on #2330
Yes ,I add two recognizer.
When i entered into a waterfall, i send a message to the Bot ,and the `QnAMakerRecognizer` return with score 1.But the Bot just goto next function of the waterfall. I think the Bot should return the result of QnAMakerRecognizer.
![4321](https://cloud.githubusercontent.com/assets/19701958/23449733/c3317166-fe92-11e6-9831-9e7ec6598c7f.png)

[2017-03-01 08:03] vovanb commented on #2249
@willportnoy simple take any of sample template (even template from nuget) and try with web.config - it is always fail.

[2017-03-01 08:31] aakashvit commented on #2359
@KIBASSA   refer this link https://docs.botframework.com/en-us/technical-faq/
read question in given link. "My bot is slow to respond to the first message it receives. How can I make it faster?"

[2017-03-01 08:34] giorgobiani commented on #2357
So at last, figured out how to do what I want, here's my scenario and "hacky" solution:

Scenario: I need to notify bot service, from external service about some event, so bot can process that event (update internal states and so on) and then notify user about this event.

Here's my solution: using HttpClient & resumption cookie, I directly send request to MessageController (as it's just ordinary

[2017-03-01 09:18] akadelpher commented on #2355
it seems fixed

[2017-03-01 09:18] #2355 closed

[2017-03-01 09:20] kaushik-sundar opened #2367 "Unable to store userData in session"
I am using Node. I am trying to store the user profile information inside session.userData. I am unable to access it in other dialogs. Storing in session.userData will it work only for Dialogs and not IntentDialogs? Is there any alternative?

[2017-03-01 10:33] ubreddy opened #2368 "Dialogues dont support multiple utterances at one go"
In natural usage of Bot, it is likely that user would chat in multiple broken utterances.

e.g.
bot: what do your opinion on Soccer?
user: a. hmm
b. let me think.
c. I think it is the best game ever.
d...
The issue is the Dialog reacts immediately after a is uttered. There should be a way to debounce before bot can get to react.
Can this be solved in current botbuilder?

[2017-03-01 11:12] irwinwilliams opened #2369 "Are only image attachments supported in Skype channel?"
Hi,
I'm trying to send an attachment to my users. It's a proactive notification, where I'm including a PDF.
When I do, I get a HTTP Bad Request, pointing to a traffic manager URL.
Is this expected behavior? If so, shouldn't your documentation say so? Same message sent via email channel works as expected.

[2017-03-01 11:23] vovanb commented on #2129
Yes:
I used OnActionExecutingAsync instead of OnAuthorizationAsync. Inside :
var stuff = (Activity)actionContext.ActionArguments["activity"].Recipient.Name;
and called below:

            MicrosoftAppId = {config setting};
            RegisterBotDependencies(parameters);

        }

        public static void RegisterBotDependencies(string strBotId, string strAppId, string strAppPassword)

[2017-03-01 11:29] vovanb commented on #2150
@willportnoy @msft-shahins @craigjensen  We are really stacked - it is not possible to use Facebook channel with MS-Bot... Can you please update when issue will be in production?

[2017-03-01 11:45] sayyednazeer commented on #2161
@dandriscoll  any update on this thread..?

[2017-03-01 12:04] enojo commented on #35
i tried making a small bot but facing this error....

{
  "message": "An error has occurred.",
  "exceptionMessage": "Response status code does not indicate success: 400 (Bad Request).",
  "exceptionType": "System.Net.Http.HttpRequestException",
  "stackTrace": "   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)\r\n   at System.Runtime.CompilerServices.TaskAwaiter.Hand

[2017-03-01 12:28] AnithaJothi commented on #2098
Hello, Any luck on the above yet? I tried using the new web chat control as well as a customized version built using the open source web chat. I am trying to display a welcome card (Hero card). This works fine in the emulator however doesnt work when published - neither in the classic web chat control nor in my customized version configured using direct line. The conversation update doesnt get cal

[2017-03-01 12:37] KIBASSA commented on #2359
Thank you for the link.
At the moment, I cannot pass on the paying offer to pass in mode 'Always on'. I am always in mode development.
I followed recommend them of @ThisWillDoIt  to create an automatic script finally to keep Bot alive.
This is what I made:

`
var authValue = new AuthenticationHeaderValue("Basic", Convert.ToBase64String(Encoding.UTF8.GetBytes($"{MyMicrosoftAppId}:{MyMicrosoftAppPas

[2017-03-01 12:49] amitbend commented on #2319
@willportnoy Application Insights seems like a bad solution for node.
It sends strange .net exceptions instead of node traces

[2017-03-01 13:23] piyush-dholariya commented on #1903
Still my question remains same.

[2017-03-01 13:24] tlloydukdev commented on #1903
yes, I'm still a bit confused too I must admit. Some example code would be awesome.

[2017-03-01 14:47] sharmadine opened #2371 "local timestamp of a message from Skype not available"
In Emulator - `session.message.localTimestamp` property returns correct local timestamp of the message. But the same property is returning 'invalid date' when deployed on Azure and accessed from Skype or Bot web test control.

Debugging Node.js code in VS Code gave a few ways (below) but none of them are working on Azure + Skype.

1.  `session.message.localTimestamp` **<=** works in emulator but n

[2017-03-01 15:24] mcclaskiem opened #2372 "builder.Prompts.text not working after being hosted remotely"
I have a simple bot that fetches news articles based on a user prompt. The entire flow works fine locally using emulator but after being deployed to a server the bot fails when it hits a `builder.Prompts.text` block. Below is my code and you will see a "Asking article count" prompt which is where it stops in flow.

- Bot shows accepted when testing on the BOT Framework page
- Bot is receiving mess

[2017-03-01 15:28] lonche commented on #2129
Where did you insert this code ? In MessageController contstructor ? Or ?

[2017-03-01 15:29] Lipa9963 opened #2373 "[Facebook Messenger] Set ChannelData for Facebook"
When i try to set the  ChannelData on facebook i find that  if I do not attach any Attachments then Facebook not show What I attached in the ChannelData.  for example:

## if i send this:
var channelData = new JObject();
 var child = new JObject();
child.Add("content_type", "text");
child.Add("title", "Red");
child.Add("payload", "DEVELOPER_DEFINED_PAYLOAD_FOR_PICKING_RED");
 channelData.Add("quic

[2017-03-01 15:37] craigjensen commented on #2150
The fix has been deployed.  Please let us know if you're still seeing the issue

[2017-03-01 15:38] wbreza commented on #2356
After I do interrupt the DialogStack - is there a way to have the FormDialog resume and re-ask the last question in the event the interruption was a multi-step process without having the user remember the last question or scroll back up?

User: Order a pizza
Bot: What toppings do you want on your pizza?
User: What did I order last time?
... Finish the interrupting dialog
... Resumes form dialog
Bo

[2017-03-01 16:14] forensicsguy20012004 commented on #2363
Thank you for the "enhancement" label. It is much appreciated.

[2017-03-01 16:29] jbdrucker opened #2374 "Possibility to access logs on the Bot Framework Platform ?"
_TL;DR : Out bot stopped working with no apparent reason and I'd like to check wether the messages arrive on Microsoft Bot Framework servers_

Hello all,

Our bot stopped working one morning without any apparent reason. We checked everything, but we failed to find "why". We even went as far as to comment everything and just make the bot echo a default message like this :

    bot.use({
        bot

[2017-03-01 16:31] vovanb commented on #2150
@craigjensen - you are the best, working as charm. Please keep it stable.
BTW - do you plan to support all Facebook UI fetaures or exist workaround to somehow to pass them to FB?

[2017-03-01 16:39] craigjensen commented on #2150
We'll do our best to support as many features as possible.  Is there a specific feature you are interested in?

[2017-03-01 16:53] #2336 closed

[2017-03-01 16:54] vovanb commented on #1495
any update?

[2017-03-01 17:01] vovanb commented on #2150
see below :
#2250 and #2234

[2017-03-01 17:16] mcclaskiem commented on #2374
I think this is somewhat similar to the issue I am seeing #2372

[2017-03-01 17:50] vovanb commented on #2129
In attribute:
[AttributeUsage(AttributeTargets.Class | AttributeTargets.Method)]
	public class MSBotAuth : BotAuthentication

[2017-03-01 21:00] #1606 closed

[2017-03-01 21:01] #1752 closed

[2017-03-01 21:03] tomlm commented on #2138
BotAuthenticationAttribute now supports the ability to have an ICredentialProvider interface which looks up the appid/password from a data store

https://docs.botframework.com/en-us/csharp/builder/sdkreference/d3/d4a/interface_microsoft_1_1_bot_1_1_connector_1_1_i_credential_provider.html

[2017-03-01 21:03] #2138 closed

[2017-03-01 21:05] tomlm commented on #2234
Currently we don't support list template directly, but we do support it via the channelData property.

You can pass any native facebook card via channelData

[2017-03-01 21:05] #2234 closed

[2017-03-01 21:38] bmperrea opened #2375 "[Feature Request] Facebook graph api access or at least access to the page access token"
It would be nice to support access to the whole [facebook graph api](https://developers.facebook.com/docs/graph-api). Managing page_access tokens ourselves seems to undermine the purpose of the connector. A special case of this is access to the first name as in #1908.

[2017-03-01 22:15] amitbend commented on #2138
@tomlm Is there an equivalent in Node?

[2017-03-01 22:17] lonche commented on #2129
Sorry i didn't get that. Where do you call this code ?
For authentication bot, in botframework documentation is mentioned to use BotAuthentication class before controller.  BotAuthentication has properties like appid, password, etc.
Can you better explain this ?

[2017-03-02 01:24] camer314 commented on #2108
I am keeping this one open because i havent got a response to my above question. If i restart my bot AND all the fields are as is then i am unable to send a message to the user, only if the bot stays running can i send a message from a call.

Also, in the event that you miss ContactRelationUpdate, is there any way to get a list of contacts and process that list in batch?

[2017-03-02 05:35] ashay-88 commented on #2300
Hi @danmarshall ,
Thanks for acknowledging.
Luckily, I dont know how, web chat which was overriting anything which I sent in userid section has started accepting.
I am sending our Token in that.
This is how our token is.
V-FfFxtMSV52YlUOHCW9EVggS_us7-Uk2ARMxzXtJqe-5prZTOVJlCd0qw8hrPGDH40bqCaz6yR4FfrjFcMEjiBtyXc_BJcf3FY3gJVBw0s4LAp21Qfmek-TYid_mwazkbPOkzL7yLbCx-YjXE5E8qQ36_ccnoBwNEuqbVHr_6iWsjw1a87

[2017-03-02 06:00] SathishNeel opened #2376 "Scores in Luis UI (luis.ai) is differ from what we get when calling Luis api"
I have a trained and published model in Luis . I picked a utterance from trained model which has score as 1 and i passed the same utterance through LUIS API (calling explicitly) ,its returned score as 0.29 .Here i am finding difference is very high. can anyone explain why is it so? .
I have attached the screenshot for reference.
![image](https://cloud.githubusercontent.com/assets/24581302/23494879

[2017-03-02 06:51] AnandChitale commented on #2098
@AnithaJothi  . I am still facing this issue both on web chat and directline.

For directline the workaround is to send a private message to bot and handle the response as greet. Do not show private message on the UI.

On Web Chat , Yes the bot responds only when user inputs something.

[2017-03-02 08:28] #2290 closed

[2017-03-02 12:39] kei3004 opened #2377 "To delete"
To delete

[2017-03-02 14:06] amolghanwat2020 opened #2378 "How to show loading animation in web control channel."
How to show loading animation image until response get from chatbot when user send request to chatbot in web control channel using direct line api?
Which java script event used to handle request and response to set loading animation?

For example when user type and send "Hello" to bot in web control then start loading image below "Hello" in web control and stop loading image when get response from

[2017-03-02 14:17] amolghanwat2020 opened #2379 "How to chatbot start conversation user open chat window."
How to chatbot take initiative for chat when user open any channel then chatbot send "Hello, How can help you?" to user ?
I want above functionality in web control channel using direct line api.

[2017-03-02 14:35] aakashvit commented on #2196
@msft-shahins I am  facing same issue in slack . whenever we send y @{username}  , It just puts this unformatted text with specific name and id as a part of response text.

[2017-03-02 14:36] msBot1111 opened #2380 "Bing web search API to search only specific sites"
I'm using Bing web search API for getting articles about health in my Bot. How can I specify in the API which sites(urls) to search? Because sometimes it searches irrelevant sites, like wiki or wikipedia which I don't want to use. I've tried with site: parameter in API but it only gets the first site and ignores the rest urls. Here is the API which I use now: https://api.cognitive.microsoft.com/bi

[2017-03-02 14:49] aakashvit commented on #2195
@Stevenic  can u suggest something about it . I am getting same issue.
https://github.com/Microsoft/BotBuilder/issues/2196

[2017-03-02 15:28] lgmorand commented on #37
I still have the issue. how can we customize the welcome message of a chatbot ?

[2017-03-02 17:27] martinjt commented on #1963
For us it's not working in the windows client either.  in the web version, you get "unsupported button type: signin"... don't know if that helps.  You get the button, just clicking on it does nothing.

[2017-03-02 18:00] willportnoy commented on #2364
Do you want to submit a pull request?  If it's part of the LUIS api, we'll include it in the wrapper classes.

Otherwise, you could provide another ILuisService implementation that uses a derived LuisResult with the extra property?

[2017-03-02 18:12] fercom opened #2381 "Ending conversation anytime with the word “Cancel” in C#"
I want my bot to stop whatever it is doing when the user sends a key word like "cancel" or "menu".

My question is similar to this one : [http://stackoverflow.com/questions/37233307/ending-conversation](url) but that works only on node.js, I am working with c#. Any ideas?

[2017-03-02 18:47] #2377 closed

[2017-03-02 18:58] willportnoy commented on #2365
https://docs.botframework.com/en-us/technical-faq/#how-can-i-reference-non-serializable-services-from-my-c-dialogs has some suggestions - happy to discuss more.

[2017-03-02 19:09] willportnoy commented on #2367
That UserData should be available in all dialogs - is it the same user on the same channel with the same bot?

[2017-03-02 19:10] willportnoy commented on #2381
you might consider something like this CancelScorable:

https://github.com/Microsoft/BotBuilder/blob/497252e8d9949be20baa2cebaa6ce56de04461cf/CSharp/Tests/Microsoft.Bot.Builder.Tests/ScorableDialogTests.cs#L100

[2017-03-02 19:11] willportnoy commented on #2378
@danmarshall @eanders-MS do you know?

[2017-03-02 19:13] willportnoy commented on #2380
https://social.msdn.microsoft.com/Forums/azure/en-US/6aa2fa51-144e-4111-9e41-27142484e7ab/can-urls-be-whitelisted-when-using-bing-search-api?forum=DataMarket looks like it uses extra parentheses around the argument of the NOT operator - you might consider posting to that forum with further questions.

[2017-03-02 19:16] danmarshall commented on #2378
Hi @amolghanwat2020 do you mean the "is typing" feature?
see https://github.com/Microsoft/BotBuilder/issues/164

[2017-03-02 19:30] willportnoy commented on #2368
You can add a child "prompt" dialog that "de-bounces" input to combine multiple inputs in whatever you want, and use that to collect the next complete utterance from the user.  Of if you just want to ignore certain inputs, you can likely intercept them with a scorable and don't forward them on to the dialog stack.

[2017-03-02 21:13] rnrneverdies commented on #1988
@eh3rrera At the moment the serviceUrl can be set while constructing the CallConnector.

`const callingConnector = new calling.CallConnector({
  callbackUrl: process.env.CALLBACK_URL,
  appId: process.env.MICROSOFT_APP_ID,
  appPassword: process.env.MICROSOFT_APP_PASSWORD,
  serviceUrl: 'https://smba.trafficmanager.net'
});`

This setup worked for me.

[2017-03-02 22:12] fanidamj commented on #2358
It was connectivity issue. Resolved. Thank you.

[2017-03-02 22:12] #2358 closed

[2017-03-02 22:20] willportnoy commented on #2379
@danmarshall @eanders-MS can you specify an initial greeting message in the new web chat control?

[2017-03-02 22:22] danmarshall commented on #2379
No, this is not specified in the WebChat Control - it is created by your bot.

[2017-03-02 22:22] willportnoy commented on #2345
The registration of ConnectorStore has changed:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Builder.Autofac/Dialogs/DialogModule.cs#L140

You might change the `c.Resolve<ConnectorStore>()` in the above code to `c.ResolveKeyed<IBotDataStore<BotData>>(typeof(ConnectorStore))`

[2017-03-02 22:23] willportnoy commented on #2352
I don't think the emulator supports multiple bot authentication credentials for the same bot web service endpoint.  is that right @eanders-MS ?

[2017-03-02 22:25] willportnoy commented on #2332
@lonche I don't know that the emulator deals well with multiple bot authentication credentials pointing to the same endpoint.  @eanders-MS for visibility.

[2017-03-02 22:31] eanders-MS commented on #2352
@lonche Can you provide a url to the docs you're quoting? I'm concerned it might be incorrect and would like to fix or clarify it.

@willportnoy It is a limitation of the emulator UI that you can't assign multiple sets of credentials for a single endpoint. As a work around, use multiple entries of the same endpoint, and add a distinguishing query parameter to each, like this:
`http://locahost:3978

[2017-03-02 22:37] palmerabollo commented on #2030
Thanks @Stevenic. Two comments:
1. `session.options` is not accessible ([see typings](https://github.com/Microsoft/BotBuilder/blob/d51e893/Node/core/src/botbuilder.d.ts#L1256))
2. It's a bit tricky and forces us to process an array of messages. I think it would be better to include it officially in the `IMiddlewareMap`.

[2017-03-03 04:51] amolghanwat2020 opened #2383 "Pre-process the intent before sending to LUIS"
I am using LUISDialog to communicate with luis and added business logic for each intent. During actual conversation, LuisDialog sends the utterance directly to luis and returns the result to my method. For a use case, I need to pre-process the utterance before the dialog sends it to LUIS. Is there a way to interrupt and add pre-processing logic?

Thanks for help.

[2017-03-03 05:03] kaushik-sundar commented on #2367
Yes it is all the same. The conversation id is the same.

[2017-03-03 06:25] justinvan0603 commented on #2105
I've found a solution in C# here. But the Agent UI included in this document works by a interval request to the Bot Service, it's very painful if the Bot will be in production and you have lots of customers interact with your bot
[Intermediator Bot](https://github.com/tompaana/intermediator-bot-sample)

[2017-03-03 07:33] ubreddy commented on #2368
Scorable? Didnt here this earlier. Is there some documentation on this?Child prompt to debounce. I am clueless. Can you please elaborate or point me to an example?On 03-Mar-2017 1:00 AM, Will Portnoy <notifications@github.com> wrote:You can add a child "prompt" dialog that "de-bounces" input to combine multiple inputs in whatever you want, and use that to collect the next complete utterance from t

[2017-03-03 07:59] lonche commented on #2352
Mhm.
I used :

 and
 `http://locahost:3978/api/bot2/messages.`

I'l try your solution. Thanks.

[2017-03-03 08:38] steve75006 commented on #2364
Hi Will. As I am currently just writing a proof of concept, I haven't really done any development with respect to this problem and have moved on to other things (it is a problem I know I can solve when I need to). If we start to make something that will go into production, then I will look into it more closely and at that time I might be able to provide code to support this property.

[2017-03-03 09:37] shahen94 commented on #1316
i'm still having this issue, adding landing page url doesn't help

[2017-03-03 09:41] NOTPOWERUSER commented on #2307
Thanks your!!
I used self-signed certification to bind my bot.
It seems this certification is unable to be trust.
After I applied for a valid  certification from GlobalSign and import to my server, now It's working

[2017-03-03 09:41] #2307 closed

[2017-03-03 10:15] ncoonrod commented on #2019
My original test was on that version it seems. I did a fresh install of all packages too, just to be safe. Still getting the same error.

[2017-03-03 10:41] shiglet opened #2384 "How to send an event to our bot"
Hi,

I have a little question :  i want to send an event to my bot using my website. For exemple in my website i can add some Reel life event and when i add 1 event i want to notify my bot that a reel event is added into my Data base by sending him a Activity.Type.Trigger (or Event ).

Is-it possible ? Do you have so docs, example for that ?  Can i use HTTP to notify my bot ?

I tryed to use Azure

[2017-03-03 11:21] SathishNeel commented on #2379
Please Take a look at EchoBot's Controller in BotBuilder SDK .

 case ActivityTypes.ConversationUpdate:
                        IConversationUpdateActivity update = activity;
                        using (var scope = DialogModule.BeginLifetimeScope(Conversation.Container, activity))
                        {
                            var client = scope.Resolve<IConnectorClient>();

[2017-03-03 11:39] SathishNeel commented on #2383
Please take a look at SimpleEchoBot's Controller in BotBuilder SDK.

- You need to inherit the IDialog and implement the interface.

[code]

[2017-03-03 12:14] nandananr opened #2385 "How to reset the conversation if the bot is idle for 5 mins in C#"
Hi,

How to reset the conversation if the bot is idle for 5 mins.
Bot asks for a question (for example? what is your Name?), and user gives response after 5 mins.
Bot should say that session is ended and it has to start the conversation from the beginning.
Is this possible to do? I am using Bot builder SDK for C#.
I have tried below code

` if (activity.Type == ActivityTypes.Message)
            {

[2017-03-03 12:31] lufengjm commented on #2348
@willportnoy  Strange solution， The service code（iis asp.net api） Performed half and then throw this errer

[2017-03-03 13:42] lonche opened #2386 "Context.Call does not call MessageReceivedAsync"
[code]

in my HelpDialog :

[code]
When first time HelpDialog is initialized, MessageReceivedAsync does not executes.

Any idea ?

[2017-03-03 14:21] lonche commented on #2386
I put code from MessageReceivedAsync into StartAsync and resolved this.

[2017-03-03 16:09] eh3rrera commented on #1988
Thanks a lot @rnrneverdies!

It works for me too with version 3.7.0

Is this the **official** solution? This is how the `CallConnector` should be created?

[2017-03-03 17:04] willportnoy commented on #2386
Yes, when you have that initial wait for a received message, the user needs to send a message first before you're starting the child prompt dialog.

[2017-03-03 17:05] willportnoy commented on #2386
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2017-03-03 17:05] #2386 closed

[2017-03-03 17:06] willportnoy commented on #2383
You might consider using a proxy ILuisService implementation, or a root dialog that modifies the message before calling IDialogStack.Forward to a child LuisDialog.

[2017-03-03 17:08] willportnoy commented on #2384
DirectLine is a method for talking to your bot directly through the same authenticated bot web service endpoint - you might consider that as one option.  Otherwise, you might just have some back channel web service url for posting your events, though you would have to secure that separately.

[2017-03-03 17:08] kralmajster commented on #1470
Same here... no updates?

[2017-03-03 17:26] JeevaJose commented on #2342
please help me to get the right answer.

I am working on proactive Bot application and send the notification to webchat. The user signed into webpage that page has webchat, How the user will get the notification without input any message to webchat.
Here I am looking the solution to get the ResumptionCookie data from ActivityTypes.ConversationUpdate.

Is there any solution to send the notification

[2017-03-03 17:36] JeevaJose commented on #2384
Looks  Activity.Type.Trigger is deprecated you may have to select event , I have tried the proactive bot documentation but Azure function is throwing following error and I don’t know how to resolve this error.

Function ($QueueTriggerProactiveBot) Error: Microsoft.Azure.WebJobs.Host: Error indexing method 'Functions.QueueTriggerProactiveBot'. Microsoft.Azure.WebJobs.Host: Cannot bind parameter 'me

[2017-03-03 17:47] kei3004 commented on #2384
Right, i chose to add an ApiController (on the same project than my bot) that will be used to send a proactive message to a list of user on Facebook (Messenger). Now i can send a proactive message when i want by just using this API Controller.

But i had some experimental issue when i was coding this ApiController. One of this issue was an Exception that get thrown : " InternalServerError: Authori

[2017-03-03 17:53] kei3004 commented on #2384
@JeevaJose
I had a similar issue yesterday i posted [on StackOverFlow](http://stackoverflow.com/questions/42559322/azure-function-for-bot-framework-c-sharp/42564038#42564038) and they someone helped me to resolve this.

Just After that i had another issue, and i got help too [here](http://stackoverflow.com/questions/42559322/azure-function-for-bot-framework-c-sharp/42564038#42564038). If you still

[2017-03-03 18:57] olumytee commented on #1470
I was able to use webview by composing the message using `sourceEvent `in Node. See sample below.

[code]

[2017-03-03 20:09] dandriscoll commented on #2168
The synchronization issues described in the original bug are resolved. Please open a new issue if you want to discuss further.

[2017-03-03 20:09] #2168 closed

[2017-03-03 20:13] dandriscoll commented on #2170
Activity IDs are assigned exclusively by the service, so even though the SDK may be generating IDs, those will be thrown out when the message is persisted. Most of our channels do this, and this mandatory in Direct Line as the service uses the ID for sequencing. If you want to add correlation information, you can do that in the ChannelData field, which will be passed between your client and your b

[2017-03-03 20:14] dandriscoll commented on #2199
Closing this issue as functionality on all geographic Direct Line endpoints has been restored. If you want to discuss Direct Line or LUIS endpoints, please open a new issue.

[2017-03-03 20:14] #2199 closed

[2017-03-03 20:31] ejadib commented on #710
@dandriscoll @Stevenic Please note that is issue is also happening on the [CallConnector](https://github.com/Microsoft/BotBuilder/blob/master/Node/calling/src/bots/CallConnector.ts#L200-L201)

[2017-03-03 20:31] ejadib commented on #722
@dandriscoll @Stevenic Please note that is issue is also happening on the [CallConnector](https://github.com/Microsoft/BotBuilder/blob/master/Node/calling/src/bots/CallConnector.ts#L200-L201)

[2017-03-03 22:03] thedotedge commented on #1630
Curious to know what was the culprit as well.

[2017-03-03 22:04] brandonh-msft opened #2387 "Stop requiring Activity for simple convenience methods"
In many cases the dialog flow utilizes `IMessageActivity` yet we have many nice methods off `Activity` that are helpful on `IMessageActivity` types (eg: `GetStateClient`)

Instead of relegating these nice methods to a heavy object, let's make them extension methods.

PR coming! :)

[2017-03-03 22:18] enby opened #2389 "[Feature Request] Channel specific action (response) types for Prompts.choice"
As of right now, Prompts.choice accepts a list of suggested responses that the user can choose. However, this limits the functionality on Kik (maybe some other channels too). Kik has support for 3 types of suggested response: `text, friend-picker, picture`. I think there should be a way to create a prompt that could be customized based on the channel, allowing the developer to choose what type of

[2017-03-04 06:37] astrung opened #2390 ""invalid token. Check bot's app ID & Password" with correct setting"
this is my code :

    var connector = new builder.ChatConnector(config.botConnector);
    console.log(connector);
    var bot = new builder.UniversalBot(connector, {
       localizerSettings: {
       defaultLocale: "en"}
    });

and this is my config :

    config.botConnector.appId = "hidden";
    config.botConnector.appPassword = "hidden";

Everything works well on windows. But when i push th

[2017-03-04 13:26] #2301 closed

[2017-03-04 14:51] brunoklein99 opened #2391 "Issue with PromptDialog.Choice and Facebook's Quick Replies"
Currently when using `PromptDialog.Choice` with Facebook and using `PromptStyle.Keyboard` to map the options to Quick Replies, the framework doesn't handle the returned user response message correctly, causing the prompt to repeat the message and exhaust the retries until we get `too many attemps`.

For instance, the following dialog:

[code]

This dialog creates a prompt for the options, `a`, `b`

[2017-03-04 15:09] #2348 closed

[2017-03-04 16:50] huxaiphaer commented on #1458
What is the solution guys

[2017-03-04 18:01] sisense opened #2392 "Error: Request to 'https://state.botframework.com/v3/botstate/skype/conversations/XXX failed: [500] Internal Server Error"
Guys,

Last few days the server sporadically returns error 500, from ChatConnector.prototype.authenticatedRequest

I message the bot via slack or skype and with it fails

Need help ASAP.

[2017-03-04 18:28] tahsintahsin commented on #2392
We have been observing the same issue. We also need help ASAP.
Thanks

[2017-03-04 19:22] jasonmayde commented on #2392
Hello, It's been happening the past two days for me as well.

Thanks

[2017-03-04 19:26] huxaiphaer commented on #2307
Please am having the same problem too , what did you mean by SSL certificate, please if possible can you provide  a Step by Step procedure for that,

[2017-03-05 00:49] tjdaley commented on #2392
Not happening on every message...but on most of them to the point the bot is not usable.

Mar 04 16:41:12:
Request to 'https://state.botframework.com/v3/botstate/webchat/users/6wXVrG8ulRZ' failed: [500] Internal Server Error
Error: Request to 'https://state.botframework.com/v3/botstate/webchat/users/6wXVrG8ulRZ' failed: [500] Internal Server Error
    at Request._callback (/home/ubuntu/node_module

[2017-03-05 02:01] craigjensen commented on #2392
We had a machine in the east data center that was producing lots of 500 errors.  It's been restarted and is running smoothly now.

[2017-03-05 05:56] RodrigoIbarraSanchez commented on #2392
I have a similar error :/

Error: Request to 'https://facebook.botframework.com/v3/conversations/1367145196662340-1378693302187372/activities/mid.1488680182947%3Ad19634ae76' failed: [400] Bad Request
    at Request._callback (/Applications/MAMP/htdocs/PokeBot/node_modules/botbuilder/lib/bots/ChatConnector.js:452:46)
    at Request.self.callback (/Applications/MAMP/htdocs/PokeBot/node_modules/reque

[2017-03-05 06:29] astrung commented on #2390
This is log from Bot Connector :

    bot-154 token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IkdDeEFyWG9OOFNxbzdQd2VBNy16NjVkZW5KUSIsIng1dCI6IkdDeEFyWG9OOFNxbzdQd2VBNy16NjVkZW5KUSJ9.eyJpc3MiOiJodHRwczovL2FwaS5ib3RmcmFtZXdvcmsuY29tIiwiYXVkIjoiODczNzljYTctNWJlZS00MTE4LWE2MWYtYjM2ZDBlNGE0MTkwIiwiZXhwIjoxNDg4Njg3OTYzLCJuYmYiOjE0ODg2ODczNjN9.oSViKXZe5EFcpR29JR0MA887iVyjK6YzxOM2UEb2Hy-3tNogdJcbFQmBo

[2017-03-05 11:58] ankitbko commented on #2277
@willportnoy Any thoughts on this? Is putting `NonSerialized` attribute solving this issue for you too?

[2017-03-05 12:44] omkarkhair commented on #728
I'm facing the same issue. Based details provided in issue #1988 I'm using Service URL `https://smba.trafficmanager.net`

[2017-03-05 19:13] tjdaley commented on #2392
I just made it through an entire transaction with no 500 errors, so thank you for fixing that. I know I didn't originate this issue on github, but as far as I'm concerned, it can be closed.

[2017-03-05 19:49] SalimDr commented on #2277
@ankitbko Hi i found the same issue and with the attribute `NonSerialized` it solve my problem also. but if i take the 3.3.3 package it will work.

[2017-03-05 20:44] Nazmerit opened #2393 "Bot emulator can't run any test due to network errors"
I started learning bot framework last week, and i decided to start off with the default bot project that returns your input and its number of character. But unfortunately, I couldn't test the bot application in bot emulator. It can't just send my input. It displays "couldn't send" whenever I forward an input.
My endpoint url which is http://localhost:3979/api/messages/ is correctly written there.

[2017-03-06 02:28] astrung commented on #2390
Can some one explain why we have an expired token here ? I have tried to generate a new key pair in "Application Secret" , but still same error ????

[2017-03-06 03:54] bobchow123 opened #2394 "Get 403 Forbidden from ngrok when using botbuilder-calling"
I am trying to start the Node/examples/demo-skype-calling/app.js
I had set the value of MICROSOFT_APP_PASSWORD, MICROSOFT_APP_ID and CALLBACK_URL.
I am sure  MICROSOFT_APP_PASSWORD and MICROSOFT_APP_ID are corrected, as the /api/messages can be called from skype client successfully.
I also double checked the value of calling_url, which are all the same in the code, ngrok console and dev.botframewo

[2017-03-06 05:08] bobchow123 commented on #2394
it is working after I restart my PC. Sorry for raising the issue.

[2017-03-06 05:08] #2394 closed

[2017-03-06 05:25] eanders-MS commented on #2393
Are you seeing this error in the emulator or the bot? Some things to check:
- Make sure your bot is running on localhost and listening on port 3979.
- Ensure you aren't using `https` on localhost.

Can you post your emulator log?

[2017-03-06 06:21] JeevaJose commented on #2384
I am able to compile my azure function without any errors. The function is calling correctly but I could not see any output and don’t know what is happening on the behind.
I can confirm nothing is hitting on
 public async Task<HttpResponseMessage> Post([FromBody]Activity activity)

I would like to know would you be able to run the function.

[2017-03-06 06:35] Nazmerit commented on #2393
The error is in the emulator. And it's running on localhost and on port  3979. Not using https on localhost .
![screenshot 17](https://cloud.githubusercontent.com/assets/21228864/23599136/5f3de7ce-023f-11e7-83a9-ef375d2ddd0f.png)

[2017-03-06 06:41] eanders-MS commented on #2393
Whoa, it looks like DNS lookup for `localhost` is failing. Difficult to say why that would happen. As a quick experiment, could you try replacing `localhost` in your bot endpoint with `127.0.0.1`?

[2017-03-06 06:53] alokraj68 opened #2395 "Internal server error after upgrading Bot Framework version"
Here is the complete debug output. I can see many exceptions are thrown when I try to run the bot. this happens I did an upgrade of bot framework version today to 3.5.3

[code]

[2017-03-06 07:14] alokraj68 commented on #2395
Here is the list of dependencies on which it is working now.

`<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.4.0" targetFramework="net46" />
  <package id="CassandraCSharpDriver" version="3.2.1" targetFramework="net46" />
  <package id="Chronic.Signed" version="0.3.2" targetFramework="net46" />
  <package id="lz4net" version="1.0.11.93" targetFramework="net46

[2017-03-06 07:25] eanders-MS commented on #2393
Can you post the entirety of the "write EPROTO" error appearing in your log? It's truncated because the log doesn't text wrap, but what it says might be of interest.

[2017-03-06 07:34] Nazmerit commented on #2393
![screenshot 19](https://cloud.githubusercontent.com/assets/21228864/23600605/abd7073e-0247-11e7-9121-fe18edaf8883.png)

[2017-03-06 07:40] ubreddy commented on #2368
Any update on this?
There are two types of listeners in botframework
one to the root dialog / where luis handler is attached to.
another is Prompts where an input from user is sought.

in both occassions. it is possible that user enters the inputs in a series of utterances and not necessarily only one.

how can Prompts in botbuilder collect in debounce pattern, esp when in middle of seeking inputs

[2017-03-06 07:55] eanders-MS commented on #2393
There are several errors happening:
- Name lookup (DNS) is failing generally.
- It's trying to establish an encrypted connection to the bot.

##### DNS failure
Does your network have a proxy configuration? It might be that the emulator isn't using your proxy settings correctly. (Proxy support is still experimental.)
##### Encrypted connection
For http, I wouldn't expect the network connection to s

[2017-03-06 08:17] kei3004 commented on #2384
Do you have a Json file in your project ?

Are u using Azure function from the Azure portal or from Visual studio ?

[2017-03-06 09:07] Nazmerit commented on #2393
I notice this whenever i launch bot emulator:
[BotErrors(1).docx](https://github.com/Microsoft/BotBuilder/files/820588/BotErrors.1.docx)
Could it be the problem?

[2017-03-06 09:09] Nazmerit commented on #2393
[09:49:11]  Checking for new version...
[09:49:20] 
Command failed: 4294967295 System.AggregateException: One or more errors occurred. ---> System.Net.WebException: The remote name could not be resolved: 'emulator.botframework.com' at System.Net.HttpWebRequest.EndGetResponse(IAsyncResult asyncResult) at System.Net.WebClient.GetWebResponse(WebRequest request, IAsyncResult result) at System.Net.WebC

[2017-03-06 09:57] alokraj68 commented on #2395
tried the same using a new project echo bot. got same error. :(

[2017-03-06 11:14] sumitdobhal commented on #2374
I got the following error when I published my bot application in server and acessed it remotely.
It's  saying to Configure ngrok which I have configured in the emulator.
Still I am facing the error.
If anyone knows this error please reply.

 **Error: The bot is remote, but the callback URL is localhost. Without tunneling software you will not receive replies.
Fix it: Configure ngrok
Learn more: Co

[2017-03-06 11:20] jbdrucker commented on #2374
@sumitdobhal It's a totally different problem. You have to configure ngrok separately from the emulator, like registering your ngrok account, setting your proxy information and things like that.

Please don't hijack my already complicated issue ;)

[2017-03-06 11:29] sumitdobhal opened #2396 "Publish ChatBot Application on Server without using Azure."
I have created a bot application and tested it on local. But now I wan't to publish it on IIS server.
I have hosted the application in the IIS server but while connecting it to Emulator I got the following error.

I have given the path of the ngrok.exe file in the Emulator also.

If anyone knows the problem please reply.

Thanks in Advance.

[2017-03-06 13:47] nikhilpularru commented on #565
@tahazayed I really liked your implementation and have just 1 question in mind, how can we modify your code to handle multiple conversation at once?

[2017-03-06 14:32] alex182 commented on #2392
I am having this issue in Teams (doesn't happen in Skype, web chat, or direct line) with one of my bots and not the other.  Any ideas?  I've tried restarting my bot in Azure but that doesn't remedy the issue.

[2017-03-06 15:10] MadhuryaG opened #2397 "InvalidIntentHandlerException in LuisDialog"
Hi,

I am getting this error for LuisDialog for my Bot application using the emulator. However in Luis it respond correctly when the application is trained. Please help!

{
  "message": "An error has occurred.",
  "exceptionMessage": "<IntentName>",
  "exceptionType": "Microsoft.Bot.Builder.Dialogs.InvalidIntentHandlerException",
  "stackTrace": "   at Microsoft.Bot.Builder.Dialogs.LuisDialog.
}

[2017-03-06 15:34] ankitbko commented on #2277
@SalimDr Thanks a lot for trying it out. It confirms that this is not a local issue with me. When you put the `NonSerialized` attribute, did you notice any problem with the bot? Did all the functionality worked?

[2017-03-06 15:41] tahazayed commented on #565
@nikhilpularru Thanks, actually it handles, I use myRemoteParticipantUri as conversation's ID

[2017-03-06 16:33] carloscba opened #2398 "Is possible identify if referrer is web chat or messenger app on facebook."
I need disable native control on location dialog. Doesn't work in webchat.

UPDATE

Native control don't work only in popup chat.

[2017-03-06 16:47] dandriscoll commented on #2032
Closing as it looks like the question has been answered. Please open a new issue if you'd like to discuss further.

[2017-03-06 16:47] #2032 closed

[2017-03-06 16:50] dandriscoll commented on #2304
Hi @hyjasonmei, a 502 from Direct Line 3.0 means your bot threw an error.

The data is reported in the Bot Framework dev portal. Visit your bot's dashboard and click on the "Issues" for each channel.

If you want more detailed errors, you can connect Application Insights for your bot, or you can add tracing internally within your bot's web service.

[2017-03-06 16:51] dandriscoll commented on #2333
The correct fix for this issue is to update your endpoint. Closing this issue. Please at-mention or open a new issue if you'd like to discuss further.

[2017-03-06 16:51] #2333 closed

[2017-03-06 17:36] eanders-MS commented on #2393
The error message seems to indicate this is another case where DNS is failing: `The remote name could not be resolved: 'emulator.botframework.com'`

There seem to be multiple issues happening here. Let's look at the DNS failure a little closer. Can you try this: Open a command prompt and type `nslookup emulator.botframework.com`. Does the output look something like the below? If not, can you paste

[2017-03-06 18:15] Nazmerit commented on #2393
![screenshot 20](https://cloud.githubusercontent.com/assets/21228864/23623046/4706957c-02a1-11e7-847b-4053b587fe88.png)

[2017-03-06 19:01] sayyednazeer commented on #2078
@dandriscoll

Waiting for your reply....

[2017-03-06 20:19] dilanmert commented on #2277
@ankitbko I'm working on to integrate bot framework(v3.5.3) with skype for business, and  try to use LUIS. With this scenario I had same error and your solution worked well for me.

[2017-03-06 20:39] HalwestRasul commented on #2393
I have the same problem, :(  see my logs:
`[23:31:37] Emulator listening on http://[::]:47854
[23:31:37] [err-server] spawn UNKNOWN "Error: spawn UNKNOWN\n at exports._errnoException (util.js:1026:11)\n at ChildProcess.spawn (internal/child_process.js:313:11)\n at exports.spawn (child_process.js:392:9)\n at runNgrok (C:\\Users\\Halwest\\AppData\\Local\\botframework\\app-3.5.25\\resources\\app\\app

[2017-03-06 20:52] eanders-MS commented on #2393
Hi @HalwestRasul yours looks like a different issue, could you please open a sepcarate issue for it? This issue seems to be due to network failures like DNS not resolving. Yours is failing to spawn ngrok.

[2017-03-06 20:53] eanders-MS commented on #2393
@Nazmerit what do you see when you run `ipconfig` from the command line?

[2017-03-06 21:01] HalwestRasul opened #2399 "Bot Framework Emulator error while I opened it!"
Hi
I wanna test my test-bot but while opening the emulator, it gives me the following error logs.

`[00:03:39] Emulator listening on http://[::]:48555
[00:03:39] [err-server] spawn UNKNOWN "Error: spawn UNKNOWN\n at exports._errnoException (util.js:1026:11)\n at ChildProcess.spawn (internal/child_process.js:313:11)\n at exports.spawn (child_process.js:392:9)\n at runNgrok (C:\\Users\\Halwest\\AppD

[2017-03-06 21:06] HalwestRasul commented on #2399
@eanders-MS could you help me!

[2017-03-06 21:14] fercom commented on #2161
I am also facing this on facebook

[2017-03-06 21:23] nickcordrey commented on #2369
Skype doesn't support file attachments today - it is something we have in the backlog. For documentation I'll discuss with the bot framework team how to better articulate the capabilities of each channel.

[2017-03-06 21:23] #2369 closed

[2017-03-06 21:27] nickcordrey commented on #2322
Just to confirm are you referring to Hero Card? https://docs.botframework.com/en-us/csharp/builder/sdkreference/attachments.html. For Skype images in cards should be HTTPS, up to 1024x1024, up to 1MB in size, and PNG or JPEG (see https://docs.botframework.com/en-us/skype/getting-started/#cards-and-buttons)

[2017-03-06 21:27] #2322 closed

[2017-03-06 22:50] PiereDome opened #2400 "Botbuilder not working with MSTEAMS [400] Bad Request"
Thursday there was an update to MSTeams which seems to have broken our app. The bot responds properly in Slack, and my local Emulator, but not in MSTeams. I get the following error on my server.
[code]

I have registered a new bot app to see if that would work and it does work, but I need to use the old App ID. I even tried to create a new password for the old App, but it still throws the same err

[2017-03-06 22:51] DeLeneMirouze opened #2401 "Message displayed two time on ConversationUpdate"
Why the "hello" message is displayed two times on connexion:

[code]

ActiveType.Message is not fired and the thread enter only once in ActiveType.ConversationUpdate

Is it a bug?

[2017-03-06 23:37] eanders-MS commented on #2399
It looks like the emulator is failing to launch ngrok. Could you please check your installed version of ngrok to ensure it is version 2.1.18 or later? Earlier versions have been known to be incompatible. Check the version by running `ngrok -v` from a command prompt.

Note: You only need ngrok when connected to a bot running remotely. You don't need ngrok to connect the emulator to a bot running on

[2017-03-07 01:06] vusters commented on #2400
Having same problem.  Works in Skype but MS Teams gave error:
Error: Request to 'https://state.botframework.com/v3/botstate/msteams/conversations/xxx/users/xxx' failed: [400] Bad Request
2017-03-07T01:04:37.930726+00:00 app[web.1]:     at Request._callback (/app/node_modules/botbuilder/lib/bots/ChatConnector.js:452:46)
2017-03-07T01:04:37.930726+00:00 app[web.1]:     at Request.self.callback (/app

[2017-03-07 02:03] astrung commented on #2390
I found its reason . I changed system timezone on server . So that token is always expired. But why that token uses my server timezone ?

[2017-03-07 02:44] willportnoy commented on #2397
What do the methods that are decorated with IntentHandler look like?  Do they fit one of these two method signatures?
[code]

https://github.com/Microsoft/BotBuilder/blob/497252e8d9949be20baa2cebaa6ce56de04461cf/CSharp/Library/Microsoft.Bot.Builder/Dialogs/LuisDialog.cs#L87

[2017-03-07 02:45] willportnoy commented on #2390
@Stevenic can you comment?  this could explain some 401/403 issues.

[2017-03-07 02:48] willportnoy commented on #2396
I'm not clear - when you "publish it on IIS", is IIS running on your local machine?

[2017-03-07 02:49] willportnoy commented on #2398
You can look at the channel in the incoming activity object - are you using the https://github.com/Microsoft/BotBuilder-Location control?

[2017-03-07 02:50] willportnoy commented on #2271
seems like a nice solution @mb19 :)

[2017-03-07 02:51] willportnoy commented on #2249
@msft-shahins for fyi

[2017-03-07 02:52] willportnoy commented on #2357
@giorgobiani I'm glad you found a solution - DirectLine is another method to talk directly to your bot.  I'm going to close this issue now, but feel free to open a new issue for further discussion.

[2017-03-07 02:52] #2357 closed

[2017-03-07 02:53] willportnoy commented on #35
@enojo can you open a new top level issue for your LUIS question?

[2017-03-07 02:54] willportnoy commented on #2319
@Stevenic do you have experience using App Insights with node?

[2017-03-07 02:55] sumitdobhal commented on #2396
Thanks for the reply!
My Bot application is published on IIS of a web server not my machine. So when I tried to acess the Bot  application through Emulator it gave me the above mentioned error.

[2017-03-07 02:57] willportnoy commented on #2356
I don't think there's a good option - FormFlow isn't quite as composable with the rest of the dialog system.

We have some sample code for showing a resumption message when returning to an interrupted dialog, but it won't help your poke FormDialog to generate the right response.

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Tests/Microsoft.Bot.Builder.Tests/BotTests.cs#L224

You migh

[2017-03-07 03:02] willportnoy commented on #2379
thank you @SathishNeel :)

[2017-03-07 03:02] #2379 closed

[2017-03-07 03:02] willportnoy commented on #2342
@danmarshall @eanders-MS do you know?

[2017-03-07 07:25] angsm commented on #2277
May I know the steps to add the NonSerialized line? Would I need to download the bot builder source code and modify it and create a nuGet package?

Thank you.

[2017-03-07 09:19] arafattehsin commented on #2277
I'm still having the issue;

An unhandled exception of type 'System.Runtime.Serialization.SerializationException' occurred in mscorlib.dll

Additional information: Type 'Microsoft.Bot.Builder.Internals.Fibers.NullWait`1[[Microsoft.Bot.Builder.Dialogs.Internals.DialogTask, Microsoft.Bot.Builder, Version=3.5.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35]]' in Assembly 'Microsoft.Bot.Builder,

[2017-03-07 09:20] arafattehsin commented on #2277
@ankitbko I'm trying to run your bot and I am still having a great struggle in executing it. The above issue is one of them.  Can you please advise what can be done?

[2017-03-07 10:13] MadhuryaG commented on #2397
I was able to resolve this issue by changing the method signature to LuisResult instead of IActivity.

Had this code earlier.
[LuisIntent("Enquiry")]
public async Task Enquiry(IDialogContext context, IActivity activity)

After changing it to LuisResult(as shown below), it worked.

[LuisIntent("Enquiry")]
public async Task Enquiry(IDialogContext context, LuisResult result)

Thank you!

[2017-03-07 10:54] michaelvol commented on #1730
For us getting it via channel data would be great.
Afaiu it's not forwarded yet, right?

[2017-03-07 11:05] michaelvol commented on #2260
@gwtallan Hope it's ok that I add few points.
@craigjensen One scenario is running a human-assisted conversation with the user. We currently do it with a middleware and manually update some flag so the middleware will drop messages from the user. Being able to do this, without manually alerting some flag in a external database is much better solution. Afaiu the is_echo property facebook messenger

[2017-03-07 11:06] ankitbko commented on #2277
@angsm You will need to clone this repository first. Then go to [Fiber.cs](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Builder/Fibers/Fiber.cs#L86) and put `NonSerialized` attribute over `private IWait<C> mark = NullWait<C>.Instance;`.
You will then need to make a direct project reference from your bot instead of using nuget package.

However, once you have don

[2017-03-07 11:09] ankitbko commented on #2401
@DeLeneMirouze What channel are you using to chat with the bot? If I understood correctly, if user types "hello" then you are getting `activity.Type` as `ConversationUpdate`?

[2017-03-07 12:00] HalwestRasul commented on #2399
thanks for your replay @eanders-MS, ngrok version 2.1.18 .

[2017-03-07 12:56] #2397 closed

[2017-03-07 13:45] kevinport commented on #1409
@msft-shahins Is there now a C# SDK Support for facebook persistent menu?

[2017-03-07 16:22] DeLeneMirouze commented on #2401
hi

I am testing on emulator
This happen when I launch it or when I renew the conversation

[2017-03-07 16:38] nickcordrey commented on #2371
Unfortunately not all Skype versions send local timestamp.

[2017-03-07 16:38] #2371 closed

[2017-03-07 17:23] eanders-MS commented on #2401
@DeLeneMirouze When you start a conversation with a bot in the emulator, the emulator sends your bot two `ConversationUpdate` activities: One for the bot joining the conversation, and another for the user joining. This is in preparation for group chat support, where users can come and go from the conversation. It is also possible that multiple users will be batched into one `ConversationUpdate` ac

[2017-03-07 17:23] janowsiany opened #2402 "Not persistent functions in dialogData"
I am using Node botbuilder@3.7.0

Fields of type `Function` are not persistent in dialogData.

Expect behavior:
[code]
Actual behavior:
[code]
It is bug or it is desired behaviour? Any explanation if it is desired?

[2017-03-07 17:35] eanders-MS commented on #2399
Is your ngrok path correctly configured in the Emulator's app settings?
![image](https://cloud.githubusercontent.com/assets/12176807/23669519/507d2d50-0319-11e7-83f2-23d77f2e85e4.png)

[2017-03-07 18:17] garellanob commented on #653
Maybe it's about changing the scope of your methods in the messagescontroller from "public" to "private".

[2017-03-07 18:26] StingyJack commented on #653
This framework was too unstable and the docs not clear enough so I stopped using it. (That and the requirement to publish it - not OK for on premise connectivity)

[2017-03-07 19:28] msft-shahins commented on #2249
I couldn't repro this by creating a new bot based on the bot app template and updating the bot builder nuget to the latest version.

[2017-03-07 19:29] iMicknl commented on #2401
Looks like the same issue as in #1930, you can also find some code snippets (NodeJS) there.

[2017-03-07 20:59] Andrea-Orimoto commented on #2268
Closing due to inactivity, please reopen if you still repro the issue. Thank you!

[2017-03-07 20:59] #2268 closed

[2017-03-07 21:02] #2401 closed

[2017-03-08 03:04] #2248 closed

[2017-03-08 09:42] ajaxav commented on #2221
Interested too. Trying to localize a welcome message on conversationUpdate.

[2017-03-08 10:05] janowsiany commented on #2402
Simple answer it is because whole session which includes dialogData is `JSON.stringify`ied.

[2017-03-08 10:05] #2402 closed

[2017-03-08 10:33] awebdeveloper opened #2403 "[Feature Request] Auto voice to text"
Could skype bot do auto voice to text. I know that i can currently recognize a small subset of words that i define. But i am looking at a general voice to text.

[2017-03-08 10:47] awebdeveloper commented on #2192
I am also looking forward to this.
Here is the use case.  User calls the bot picks up. It tries to answer the user's query. If it fails to provide an answer then it needs to forward the call(skype or phone) to a human.

[2017-03-08 12:04] punitganshani commented on #2205
@willportnoy Even with Microsoft.Bot.Builder `3.5.5` I am facing same issue

[code]

Any suggestions?

[2017-03-08 12:31] BenjaBobs opened #2404 "TypeLoadException: Could not load type 'IResolver' from assembly 'Microsoft.Bot.Builder' (3.5.5.0)"
When calling Conversation.SendAsync() I get a TypeLoadException.
The environment is C# and Visual Studio 2015 and the Output window shows the following:
`Exception thrown at 0x74B3A832 in iisexpress.exe: Microsoft C++ exception: EETypeLoadException at memory location 0x0E0DBEA8.
Exception thrown at 0x74B3A832 in iisexpress.exe: Microsoft C++ exception: [rethrow] at memory location 0x00000000.
Exce

[2017-03-08 16:50] JeevaJose commented on #2384
I am using from Azure portal. Could you please confirm are you able to execute the function and it is working as required.

[2017-03-08 17:04] FranciscoPonceGomez commented on #2403
Hi awebdeveloper ,

It does. There are three different API that you can use for your speech to text application:

1. The **[Bing Speech API](https://www.microsoft.com/cognitive-services/en-us/speech-api)** provides speech-to-text and text-to-speech conversion capabilities.
2. The **[Custom Recognition Intelligent Service](https://www.microsoft.com/cognitive-services/en-us/custom-recognition-intell

[2017-03-08 17:31] dandriscoll commented on #2210
Hi @admeister, I responded over on SO as well, but if you can send a Conversation ID I can see what the error is that you're hitting.

[2017-03-08 17:32] dandriscoll commented on #1210
Hi @sandeepshm, you can customize the control by forking the BotFramework-WebChat repo and modifying it.

https://github.com/Microsoft/BotFramework-WebChat

[2017-03-08 17:36] #2244 closed

[2017-03-08 17:36] dandriscoll commented on #2025
Hi @kureikain, can you open a new issue for this?

[2017-03-08 17:39] dandriscoll commented on #2201
Hi @AlavudeenRafiq, the platform issues are resolved, and any 502s indicate your bot is returning an error.

[2017-03-08 17:46] dandriscoll commented on #2217
Hi @gjayakumar92, your bot is just a web service, and you can open custom endpoints on that bot if you'd like.

[2017-03-08 17:48] dandriscoll commented on #1395
Hi @ykensuke, this feature is available as "High-speed storage." More details here: https://blog.botframework.com/2017/02/02/Direct-Line-performance-improvements/

[2017-03-08 17:58] danechitoaie opened #2405 "Private bot"
Is there a way to make a private bot? I want to do something that will be used just by some users and not by everybody.

I think I can do this in code (i.e. if the user messaging the bot is one of [list of allowed users] then respond and ignore everyone else)

Would that be allowed?

[2017-03-08 17:59] dandriscoll commented on #507
Hi @vasilkrastev90, are you still seeing errors? If so, can you post a new issue?

[2017-03-08 18:10] dandriscoll commented on #1641
There are two issues in the thread above:

- Some bots respond to Ping messages sent from the dev portal. This will result in an error.
- There was an auth bug in our C# SDK that was fixed in 3.5.3. Please upgrade if you encounter auth issues.

[2017-03-08 18:16] dandriscoll commented on #37
Hi @lgmorand, make sure you select the "Enable preview" option on the Web Chat configuration page.

[2017-03-08 18:18] dandriscoll commented on #710
Hi @ejadib, we've found the bug and will be fixing it soon. Thanks for raising this.

[2017-03-08 18:20] craigjensen commented on #1316
Please add your botid and we'll investigate

[2017-03-08 18:23] dandriscoll commented on #2337
Hi @jrom20, this should work fine. What error are you seeing?

[2017-03-08 18:23] dandriscoll commented on #2201
Closing as the platform issues have been resolved.

[2017-03-08 18:23] jameslew commented on #2190
The new portal has released - it would be great to hear if you're having the same problem or not.  Thanks!

[2017-03-08 18:29] dandriscoll commented on #2225
Hi @shigasumi, the values are simply different.

The Service URL is the endpoint where you send your responses.
The channel ID is the namespace for other IDs, and is used to identify which channel you're talking to. (Channels differ in the way they behave, and the channel ID is the way you identify them.)

You may have more than one Service URL per channel. This can happen when a channel has multi

[2017-03-08 18:29] #2201 closed

[2017-03-08 18:30] #2170 closed

[2017-03-08 18:31] dandriscoll commented on #2070
Not necessarily. Azure Web Apps and VMs have similar performance. There are cases where one is faster than the other, but we would need to look more closely at specific circumstances to say which is better.

[2017-03-08 18:31] #2070 closed

[2017-03-08 18:32] dandriscoll commented on #2016
Closing as we have identified the issue. Please open a new issue if you want to discuss further.

[2017-03-08 18:32] #2016 closed

[2017-03-08 18:33] dandriscoll commented on #2015
I think we've addressed the original issue. If you'd like to discuss the problem receiving messages, please open a new issue.

[2017-03-08 18:33] #2015 closed

[2017-03-08 18:34] dandriscoll commented on #1953
Closing as we have answered the question. Please open a new issue if you'd like to discuss further.

[2017-03-08 18:34] #1953 closed

[2017-03-08 19:16] puneetsngh commented on #1745
sorry for late reply but it still not working on ios client and yes im inlcuding the thumnail but still....the web client able to play it but not the phone client.

![image](https://cloud.githubusercontent.com/assets/16202640/23719515/c00220b0-0461-11e7-8e1f-7060a73e3077.png)

![image](https://cloud.githubusercontent.com/assets/16202640/23719523/c7f71d0c-0461-11e7-9271-3e8a86d6c4dc.png)

[2017-03-08 19:45] lgmorand commented on #37
@dandriscoll, thanks. so simple. still, I have now graphic issues with my template so I guess some stuff changed on the control (looks like background is now transparent), but that's ok for me. Thanks again :)

[2017-03-08 21:18] fricke commented on #2392
we are currently running into this issue as well and it's happening quite often.  It's basically making the bot generally unresponsive.  Can anyone take a look again to see if internal servers are failing?

https://state.botframework.com/v3/botstate/facebook/conversations/1245305542257228-1373818812680492/users/1245305542257228' failed: [500] Internal Server Error

[2017-03-08 21:21] larslbert commented on #2392
We are also getting `[50x]` errors when trying to post Skype and Facebook.

[2017-03-08 21:22] vasilkrastev90 commented on #507
Not so much but to me it looks like the DirectLine API has some issues. Sometimes posting activities fails with 502 or takes too much time for example. And sometimes at certain times of the day may API calls return 502. I am not sure if this is expected as the framework in preview but it definitely happens. I will only open an issue if this is not expected behaviour.

[2017-03-08 21:43] lchinitz commented on #2392
I've got these issues as well.  Both [400] and [500] errors.  The thing that makes this difficult is that it is not happening for all messages.  In some cases the messages get through just fine.  In other cases, these errors are thrown.  I would say this is a all a fairly recent problem.  Until very recently I would have considered the Skype Bot very stable.  Now, I have no idea which messages are

[2017-03-08 22:51] RodrigoIbarraSanchez commented on #2392
For people that are having this 400 or 500 errors, I solved it adding tasters.
In your developer interface on Fcebook, clic on your bot, and then on “roles”, “add testers".

And thats it!

[2017-03-08 22:54] fricke commented on #2392
the 400s are b/c of facebook permissions, but the 500s are new.  These test users have been added a while (including myself) and have now started seeing these errors pop up in the logs.  I'm only seeing 500s at this point.

[2017-03-08 23:37] brunoklein99 opened #2406 "BotAuthentication attribute not working"
The SDK is always trying to get `MicrosoftAppId` and `MicrosoftAppPassword` from the `web.config`.

If setting an implementation of `ICredentialProvider` to the `BotAuthentication` attribute it does get called, but I end up getting `OAuthException`.

How to reproduce.

1. Create new project with the [Bot Framework template](http://aka.ms/bf-bc-vstemplate)
2. Update the Bot Framework dependency to

[2017-03-08 23:54] scottmcconnell commented on #331
To answer my question above I have found a solution. It seems it's possible by sending the Facebook sourceevent message with the quick reply and also using the builder.Prompts.text() to continue on the diaog flow.

`bot.dialog('/branchLocator', [
	function(session) {
		var msg = new builder.Message(session).sourceEvent({
	        facebook: {
	        	text: "Please send me your postcode or locatio

[2017-03-09 01:16] pveller commented on #2367
In 3.3 I got used to explicitly calling `session.save()` after each change to `userData` or `dialogData`

[2017-03-09 02:57] JLarky commented on #2225
@dandriscoll this is very interesting. I wish there was an API to get Service URL by channel ID, and Conversation ID. I'm working on the case when we use hard-coded Service URL and store Conversation ID in DB and we are sending messages to those chats. I was looking into https://github.com/MicrosoftDX/botFramework-proactiveMessages but I would dare to say that it's just a joke (storing Service URL

[2017-03-09 03:03] JLarky commented on #2225
p.s. I just found a similar request in https://github.com/Microsoft/BotBuilder/issues/2021 difference in my request in that I guess I want I want "Ability to resolve ServiceUrl by Channel ID + Conversation ID" (and potentially Message ID for replies?).

From there I see the solution

for how long it is safe to assume Resumption Cookie or Address values to be valid? What do I do once those are no l

[2017-03-09 03:21] kaushik-sundar commented on #2367
It worked. I haven't seen the session.save() in the docs. Thanks

[2017-03-09 05:40] awebdeveloper commented on #2403
This was more of a feature request, than a query.

[2017-03-09 06:09] dandriscoll commented on #507
Hi @vasilkrastev90, HTTP 502 status codes means your bot generated an error. That's the only situation in which we send a 502. Do you have any internal tracing in your bot that shows what the errors are?

[2017-03-09 06:21] vasilkrastev90 commented on #507
I am quite sure it was not the bot that generated those errors. But you might be right, I might be mistaken about the error codes. I will put the trace here once I manage to reproduce.

[2017-03-09 08:27] BenjaBobs commented on #2406
This is probably not the solution you're looking for, as it kind of bypasses the BotAuthentication attribute, but you can do manual authentication instead.

[code]

[2017-03-09 09:23] jsebrech commented on #2118
I just now reproduced this issue with the bot with bot handle SumiDevBot and app id edca82d3-9574-4ac7-8b96-6ec3df58b093

The stack trace of the error is the same as in my initial post.

I tested what is being sent as instructed and get this in the logs:

2017-03-09T09:12:42.418Z - info: test

Joeri Sebrechts

MCS

Software & Advisory for
Integrated Real Estate, Facility & Workplace Management
www

[2017-03-09 09:49] BenjaBobs commented on #2404
I managed to fix the issue.
It seems that by updating Microsoft.Bot.Builder to v3.5.5 created a mismatch between that and Microsoft.Bot.Builder.Azure.
I now that as well, and it seems to have fixed the problem.

[2017-03-09 09:49] #2404 closed

[2017-03-09 10:09] kei3004 commented on #2384
I confirm that i'm able to execute the function and each 1 minute (defined for my timer function) the event is triggered and the bot is able to receive ActivityTypes.Event or ActivityTypes.Trigger.

You have to add an Bot Framework Output in your azure function. For that you have to go into Azure Function in Azure Portal   (follow this steps) :

http://i.imgur.com/vwGviFs.png

Set this value : (Se

[2017-03-09 10:14] ajayaneja896 commented on #1620
@Stevenic
I have version botbuilder version 3.7.0 and when i am trying to use parseTime it results in a exception same as the hgjkant
The dialog where i am using the code
bot.dialog('/getNumber',[
    function (session,args) {
        if (args && args.reprompt) {
            builder.Prompts.text(session, "I didn't get the time you entered! Please Enter the time of collection again");
        } els

[2017-03-09 10:32] tomaszkiewicz opened #2407 "Deserialization doesn't work when invoked from Azure Function"
Hi,

I setup a bot on Azure Bot Service, downloaded the template, made it work with VS2015 and I've moved all code to separate class library to run it as precompiled function.

You can find whole code here: https://github.com/tomaszkiewicz/AzureFunctionsPersistenceProblem/tree/test

So, my function.json file looks like this:

[code]

The Bot.Runner.Run function is the same as it was from the templ

[2017-03-09 11:49] ashay-88 commented on #2073
please can you show an example of storing the conversation in custom db..
i have case, I need to store our conversation in our own sql server database. on premises.
can you show me how shall I use IActivityLogger..

[2017-03-09 12:22] alonsonic opened #2408 "Stuck User - Choice.trim is not a function thrown in done.js"
Hi guys, I'm having an issue with my bot.

An important user account is stuck in a loop, we made a change to the choice prompt and added an invalid third parameter (not an string array), this is fixed now but any message sent by the user throws an error.

I saw similar issues already posted but none have a clear answer on how to unstuck the affected users.

What should I do? I'm running the latest

[2017-03-09 12:26] alonsonic commented on #2408
I got this error just before the user got stuck. Maybe he is waiting for a choice in the list but there is no valid choice to pick.

{"error":{"message":"(#100) Param message[quick_replies][0][title] must be a UTF-8 encoded string","type":"OAuthException","code":100,"fbtrace_id":"FxA1o2CWH5u"}}

[2017-03-09 12:49] JeevaJose commented on #2384
Thank you very much for your support.

I have already implemented the above functionality looks nothing is happening. In my C# code I am using ResumptionCookie and pass it back to webchat.

I have some question here :

Are you using Directline approach?
what is BotMeesage.Source?
sender Id is our botId?

I know webchat is a direct line and once the azure function trigger send back to my webchat.

[2017-03-09 13:33] alex182 commented on #2400
My Teams bot seems to working consistently again.

[2017-03-09 13:43] maba4891 opened #2409 "Date input is printed incorrectly"
Hi,

in my node.js bot I provide a simple builder.Prompts.text to ask the user for a date (I know that Prompts.time exists but since it does not seem to work with German dates yet I use Prompts.text for now and parse the date with the datejs module).

The problem is that if the user enters the date in a German format (e.g. "12. Februar 2017") and presses enter he sees "1. Februar 2017" as his inpu

[2017-03-09 14:18] vusters commented on #2400
MS Teams is now working.  Thank you for the fix.

[2017-03-09 14:58] carloscba commented on #2398
@willportnoy Channel information don't identify if it's web or app. The control don't work only in popup chat and is fine for me. Thanks

[2017-03-09 15:00] #2398 closed

[2017-03-09 15:16] kei3004 commented on #2384
That's weird...

Of what I understood :

My bot is on Facebook, then i use Facebook Channel but directline is used here to communicate between Azure Function and my bot. BotMessage.Source can be whatever you want. I just created a class named BotMessage but it could be a class named MySuperClass it would have changed anynothing. That's just the class which will be serialized into Json and will be

[2017-03-09 15:43] lchinitz commented on #2392
To be clear, my errors are not related to facebook, so making test users (which doesn't scale, anyway, as a solution) doesn't help.  I'm seeing the errors related to a Skype bot, not a Facebook bot.

[2017-03-09 15:51] s33r opened #2410 "Unable to generate token / 500 Error when attempting to edit channels"
Hi all, apologies if this isn't the correct forum for this issue.

The bot: https://dev.botframework.com/bots?id=koan-bot
The webpage trying to use it: http://aaronwillows.com/koan-bot/bot.html
Source: https://github.com/s33r/KoanBot

Yesterday I attempted to integrate the directline channel with my bot. Things seemed to work at first, but soon the api was preforming very slowly, and intermittentl

[2017-03-09 16:54] nzthiago opened #2411 "Stack is empty"
I've updated our [beta version of Azure Bot](https://github.com/Microsoft/AzureBot/tree/beta) to a more recent version of the Bot Builder .NET SDK (3.5.2). It is now working fine with the emulator and on Slack (my test is list vms, list subscriptions, list runbooks and all three work well on those two channels).

But for some reason on Skype when I try the same commands, the 'list runbooks' one fa

[2017-03-09 17:35] carlosscastro commented on #2399
@HalwestRasul Hello, did the answer from @eanders-MS work for you? I'll close this for now, but feel free to reach out again.

[2017-03-09 17:35] #2399 closed

[2017-03-09 17:41] nzthiago commented on #2411
FYI it is also working fine on our [test console app](https://github.com/Microsoft/AzureBot/tree/beta/AzureBot.ConsoleConversation)

[2017-03-09 17:42] carlosscastro commented on #2383
@amolghanwat2020 Did the answer from @willportnoy work for you?

[2017-03-09 17:43] carlosscastro commented on #2381
Hello @fercom,

Did the answer from @willportnoy work for you?

[2017-03-09 17:44] HalwestRasul commented on #2399
@eanders-MS  yes, ngrok path is true, but I wanna test it in localhost !

[2017-03-09 17:46] carlosscastro commented on #2380
@msBot1111 Did the answer from @willportnoy work for you?

[2017-03-09 17:51] eanders-MS commented on #2399
I wonder if the ngrok client is working at all. Are you able to run ngrok from the command line? What do you see when you run this command:
[code]

[2017-03-09 17:56] carlosscastro commented on #2318
@Highvolt Did this work for you? I will close this for now but feel free to reopen if it did not work.

[2017-03-09 17:56] #2318 closed

[2017-03-09 18:02] HalwestRasul commented on #2399
@eanders-MS  I'm sorry before I said that the ngrok path was true but its wrong now its true because I moved the ngrok.exe  :)
Thanks for you now the Emulator was work fine ;)

[2017-03-09 18:09] carlosscastro commented on #2303
@SP00499532 Which version of the SDK are you using? that is, Node or C#?

[2017-03-09 18:10] carlosscastro commented on #2293
@willportnoy , could you help clarify this one?

[2017-03-09 18:11] carlosscastro commented on #2292
@stelazh What is the specific question or problem you're facing, could you please clarify?

[2017-03-09 18:17] nickcordrey commented on #2287
Please could you share a sample of the URL?

[2017-03-09 18:19] carlosscastro commented on #2283
Closing for now. @pvagare feel free to reopen if the answer from @dandriscoll did not make things clear.

[2017-03-09 18:19] #2283 closed

[2017-03-09 18:21] carlosscastro commented on #2282
@pvagare I'm closing this for now, but feel free to reopen if you want to discuss this further.

[2017-03-09 18:21] #2282 closed

[2017-03-09 18:21] #2281 closed

[2017-03-09 18:21] #2280 closed

[2017-03-09 18:22] #2279 closed

[2017-03-09 18:23] carlosscastro commented on #2278
@pvagare I'm closing the issue for now but reopen if you have further questions on this topic.

[2017-03-09 18:23] #2278 closed

[2017-03-09 18:29] carlosscastro commented on #2173
@RichMoeMSFT Any updates on this?

[2017-03-09 18:30] ankitbko commented on #2303
@Stevenic That's great. I had also implemented the human handoff in one of the project. I was thinking about writing a blog about how to do it.
Which pieces are you referring to (I may have missed the commit)? I am using C#.

[2017-03-09 18:30] fercom commented on #2381
@carlosscastro No, I used some other code

[2017-03-09 18:31] carlosscastro commented on #2147
@BHouwens did you sent the email to Skype bot support? I', closing the issue for now, but reopen if they did not fix the issue.

[2017-03-09 18:31] #2147 closed

[2017-03-09 18:33] carlosscastro commented on #2133
@james-lawrence could you solve this issue? Let us know if you need further help or updates from our side.

[2017-03-09 18:39] carlosscastro commented on #2072
Closing for now. Let us know if that sample did not work!

[2017-03-09 18:39] #2072 closed

[2017-03-09 18:40] carlosscastro commented on #2063
Closing for now. Let us know if you could not figure this out.

[2017-03-09 18:40] #2063 closed

[2017-03-09 18:41] carlosscastro commented on #2061
Closing the issue for now. @deniztasdogen feel free to reopen if the issue reference above did not help you.

[2017-03-09 18:41] #2061 closed

[2017-03-09 18:42] carlosscastro commented on #2013
@alokraj68 closing the issue for now, but feel free to reopen if you were not able to figure this out.

[2017-03-09 18:42] #2013 closed

[2017-03-09 18:43] carlosscastro commented on #2012
@alokraj68 Did you try dashbot? Still have questions? I'll close the issue but feel free to reopen if you have follow ups!

[2017-03-09 18:43] #2012 closed

[2017-03-09 18:47] carlosscastro commented on #1972
@james-lawrence are you still experiencing this issue? Let us know and we can follow up if so.

[2017-03-09 18:48] carlosscastro commented on #1963
@RichMoeMSFT, @maxpert any news on this?

[2017-03-09 18:55] carlosscastro commented on #1827
@james-lawrence are you still experiencing this issue?

[2017-03-09 18:56] carlosscastro commented on #1795
@miaosenwang are you still experiencing this issue?

[2017-03-09 20:28] izzyleung commented on #2400
Same here.

[code]

[2017-03-09 20:40] juharris commented on #1505
I'm trying to set up a bot with a Microsoft Teams channel and I get `ERROR: ChatConnector: receive - no security token sent.` when a message is sent in a channel mentioning the bot but replies to individual messages do work are fine and the bot replies as expected.

Here's my app.js:
[code]

The bot does reply to the Teams channel but the message is always "Sorry, there was a problem encountered w

[2017-03-09 20:56] RossTheMix opened #2412 "All channels acting as though unpublished- error viewing in bot directory"
I'm not sure if this is a bug in the SDK or not, however my bot has been approved and is marked as "published" here https://dev.botframework.com/bots?id=age_of_consent_bot
It is also published on Skype and Telegram channels, however it is acting as if it is unpublished (only working on my Skype account, and no-one elses)
Also when I click on "View in bot directory" it returns the error "An error h

[2017-03-09 21:24] willportnoy commented on #2368
You can make an implementation of IDialog (call it the "debounce dialog") that concatenates user input spread across multiple utterances until you feel the concatenated user input is "done", and then you can return that concatenated user input to the caller of the dialog.

[2017-03-09 21:25] willportnoy commented on #2078
@sayyednazeer if you have an issue with the LUIS service, I'd open a new top level issue for that question in particular.

[2017-03-09 21:26] willportnoy commented on #2277
@ankitbko do you know if it's solved by upgrading the autofac version?  It seemed like an autofac issue when I encountered it.

[2017-03-09 21:26] willportnoy commented on #2249
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2017-03-09 21:26] #2249 closed

[2017-03-09 21:27] willportnoy commented on #2205
@punitganshani what happened when you followed the steps in https://docs.botframework.com/en-us/technical-faq/#how-can-i-troubleshoot-my-bots-authentication ?

[2017-03-09 21:28] willportnoy commented on #2367
I'm happy to hear you were able to resolve the issue - I'm going to close it for now.

[2017-03-09 21:28] #2367 closed

[2017-03-09 21:29] willportnoy commented on #2073
https://github.com/Microsoft/BotBuilder/issues/2073#issuecomment-273982401 above has some examples - you would need to write code to use your sql server.

[2017-03-09 21:31] willportnoy commented on #2406
You need to handle authentication for outgoing messages back to the user - see https://docs.botframework.com/en-us/technical-faq/#how-can-i-support-multiple-bots-at-the-same-bot-service-endpoint for more information.

[2017-03-09 21:31] willportnoy commented on #2396
Did you install ngrok as suggested by the error message?

As an alternative, use the "localhost" form of your machine name.

[2017-03-09 21:33] willportnoy commented on #2395
Many of those exceptions are from other parts of the stack - can you share the call stack and exception information for the failure you see from the bot builder library?

[2017-03-09 21:35] willportnoy commented on #2391
Can you share the activity object being sent from the bot framework facebook connector?  I would expect to see something that fits the `IMessageActivity` schema.

[2017-03-09 21:37] willportnoy commented on #2385
If you're running in ASP.NET and IIS, there is not guarantee that a method after a Task.Delay (which means that it is detached from an http request) will even execute - any web server can tear down the server once http requests are completed.  Generally, you should use a worker and a queue, but you can try to make it work with something like https://msdn.microsoft.com/en-us/library/dn636893(v=vs.1

[2017-03-09 21:45] willportnoy commented on #2411
I could see that happening if you have

1. an unbalanced number of pushes and pops
2. you don't have a IDialog.Loop at the root of your dialog stack

As for why you only see it with Skype, perhaps there is an exception thrown only for that channel?

[2017-03-09 22:16] JpEncausse opened #2413 "[Direct Line] Scalability Issue or Limitation (for Production) ?"
Hi,

I'm using the Direct Line Client with v3 for a scalability test (to a server with BotBuilder3.7.0) :
https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/core-DirectLine/DirectLineClient

Here is my NodeJS code:
[code]

I get errors even if I send a message 'only' every seconds

For 2 of them I'm receiving a 500 ServiceError at `node_modules\superagent\lib\node\index.js:626:17` co

[2017-03-09 22:40] maxpert commented on #2275
Are you trying to send messages over to botframework from your hubot? In that case you can use the (hubot botframework adapter)[https://www.npmjs.com/package/hubot-botframework]. The adapter is pretty new, but should get the job done.

[2017-03-09 23:14] Stevenic commented on #1975
Adding Lars who's done some of this on the Node side... We recently added a new `bot.loadSession()` method which helps simplify this greatly as it gives you a way to have two sessions, one for each party.

[2017-03-09 23:32] #1904 closed

[2017-03-09 23:37] willportnoy commented on #2092
@shigasumi https://docs.botframework.com/en-us/technical-faq/#how-can-i-send-proactive-messages-to-the-user has a link to some samples for proactive messages.

[2017-03-09 23:37] #2092 closed

[2017-03-09 23:38] willportnoy commented on #2096
I'm going to close this issue as I think Loop will resolve your issue - feel free to open a new issue for further discussion.

[2017-03-09 23:38] #2096 closed

[2017-03-09 23:38] willportnoy commented on #2163
https://docs.botframework.com/en-us/technical-faq/#how-can-i-support-multiple-bots-at-the-same-bot-service-endpoint points to a comment with some sample code.

[2017-03-09 23:39] #2163 closed

[2017-03-09 23:41] Stevenic commented on #2019
@ncoonrod can you check to see if your bot in the portal is a v1 bot?  You would have a gray bar across the top of the portal telling you that you should upgrade to v3. That would be the only thing we can think of that would be causing the test to fail.

[2017-03-09 23:47] Stevenic commented on #2175
no problem

[2017-03-09 23:47] #2175 closed

[2017-03-09 23:48] willportnoy commented on #2284
https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-MultiDialogs has some examples of calling various types of child dialogs.

For general help questions, you might consider posting to Stack Overflow: https://stackoverflow.com/questions/tagged/botframework

[2017-03-09 23:48] #2284 closed

[2017-03-09 23:49] Stevenic commented on #2303
@ankitbko the pieces added were on the Node side of things. We recently added a new `bot.loadSession()` method which lets you manage two sessions for proxying messages back and forth.

[2017-03-09 23:51] willportnoy commented on #2292
Please take a look at my answer in https://github.com/Microsoft/BotBuilder/issues/2284.

[2017-03-09 23:51] #2292 closed

[2017-03-09 23:52] willportnoy commented on #2121
I'm going to this issue for now since we have an alternative suggestion and the issue is being tracked more as https://github.com/Microsoft/BotBuilder/issues/1966.

[2017-03-09 23:52] #2121 closed

[2017-03-09 23:53] Stevenic commented on #2319
@willportnoy no I don't. we have some new logging stuff we're working on but not sure it's going to help with this. We're working to add support for streaming a sessions logs to the emulator for debugging purposes but you want more on going monitoring. There are a couple of 3rd parties like http://botanalytics.co/ which have integrated their tools with the Node SDK. That might be an option.

[2017-03-09 23:56] Stevenic commented on #2374
Adding Dan as it sounds like a DirectLine issue.

[2017-03-09 23:56] willportnoy commented on #2293
I don't think there has been a recent fix to the bot builder.  This questions has more information about how the bot builder SDK tries to help with concurrent messages on the same machine:
https://docs.botframework.com/en-us/technical-faq/#how-can-i-fix-precondition-failed-412-or-conflict-409-http-errors

In general, message delivery is not guaranteed to be in order for any channel, and scaling yo

[2017-03-09 23:58] willportnoy commented on #2306
https://docs.botframework.com/en-us/technical-faq/#how-can-i-troubleshoot-my-bot has some tips, but in particular, it sounds like your bot's web service is throwing an unhandled exception which leads to a 500 error http status code.  You might consider attaching a debugger or using something like App Insights.

[2017-03-09 23:58] #2306 closed

[2017-03-09 23:58] Viper702 commented on #2275
Hello.

Thank you so much for your reply. I did find the hubot botframework adapter last week and it does get the job done! It also appears to me that the adapter would be a great starting point to create a direct to Kik adapter.

Erick

From: Zohaib Sibte Hassan [mailto:notifications@github.com]
Sent: Thursday, March 9, 2017 2:41 PM
To: Microsoft/BotBuilder <BotBuilder@noreply.github.com>
Cc: Vip

[2017-03-09 23:59] #2275 closed

[2017-03-10 00:55] dandriscoll commented on #2293
Nothing recently. The last sequencing issue we found/fixed was summer of last year.

[2017-03-10 00:57] dandriscoll commented on #507
Yes, Direct Line is designed to be a 24/7 service. Unfortunately all services are subject to interruption and occasionally we see those, although we do monitor and repair them as quickly as possible.

External factors that could cause problems include any issues in connectivity between the Direct Line datacenter and your datacenter, any hosting issues  on your side, and broad factors like global D

[2017-03-10 00:58] dandriscoll commented on #2410
Hi @s33r, sorry for the interruption, this was caused by a service issue on our side. All functionality has been restored. Can you try again and let us know if you encounter any failures?

[2017-03-10 01:01] dandriscoll commented on #2328
Hi @AlavudeenRafiq, the "Missing token or secret" error is visible only to your Direct Line (or Web Chat) client. If you're seeing those problems, please make sure your Direct Line secret or token is included in the Authorization header with the Bearer scheme. You can find more details about the Direct Line protocol here: version 3.0: https://docs.botframework.com/en-us/restapi/directline3/#navtit

[2017-03-10 01:02] carlosscastro commented on #2412
Hi @RossTheMix,

There was an issue with the bot directory earlier today. The issue should be fixed now.

Could you please try again? Let me know if that does not work.

[2017-03-10 01:03] dandriscoll commented on #2316
Hi @siddiq-rehman, it appears this was either an SSL or a proxy connectivity failure. Are you able to reliably establish SSL connections to other Bot Framework sites, like https://dev.botframework.com, from behind your proxy?

[2017-03-10 01:05] s33r commented on #2410
The features on the portal are working again, thanks! My app is still failing, pretty sure that's on me though.

[2017-03-10 01:05] #2410 closed

[2017-03-10 01:12] dandriscoll commented on #2309
Some developers who have asked for PCL support in the past have found that the .Net Standard 1.3 libraries in our Nuget package (https://www.nuget.org/packages/Microsoft.Bot.Connector.DirectLine) work for them.

If those don't work, the Nuget package is 99% generated code on top of the Direct Line swagger file (https://docs.botframework.com/en-us/restapi/directline3/swagger.json). The remaining co

[2017-03-10 01:42] lfiedlerc commented on #204
Hi,

I submitted a bot for approval under pages_messaging and pages_messaging_subscriptions. The first was approved the second was not. After reviewing the feedback I realized I don't need pages_messaging_subscriptions and so I removed it from the submission. I don't get an option to resubmit with this item removed or anything. Should my bot be available publicly now? Right now my only my tester a

[2017-03-10 03:24] lfiedlerc commented on #204
I was indeed missing something obvious. I never took the app live.

[2017-03-10 04:32] dandriscoll commented on #2308
Hi @zhou-xinghai, have you enabled "High-speed storage" on your Direct Line configuration page?

[2017-03-10 04:52] dandriscoll commented on #2161
Hi folks-
There can be a lot of causes for issues like this. Unfortunately there are so many issues in this thread, there's no single answer.

The first step is to determine whether the problem exists within your bot. If so, look at dependencies your bot calls, like LUIS, the Bot State API, and your own APIs. Most performance-sensitive bots drop the Bot State API dependency and use the BotFramewor

[2017-03-10 04:59] dandriscoll commented on #2374
Hi @jbdrucker, we log errors in three ways:

1. If your bot sends an invalid message, we return an HTTP error. You should trap/log this.
2. If we try to call your bot and it fails, we add an "Issue" to your bot in the Bot Framework developer portal. Open your bot's dashboard and look at at the "Issues" column for each channel.
3. We log detailed error and tracing information to your Application In

[2017-03-10 05:12] dandriscoll commented on #2413
Hi @JpEncausse, the HTTP 500 errors are likely caused by a service interruption we experienced yesterday. If you're using Direct Line 3.0, the service will never throw 500s in normal operation.

The HTTP 429 errors will occur primarily if you're using our default storage. We're adding a new high-speed storage stack, and it does not emit those errors anymore. You can opt-in to the preview for this

[2017-03-10 06:56] sayyednazeer opened #2414 "[Performance] LUIS latency issues when using Directline API"
I am having a simple BOT application which greets the user.

When i call this application using DIRECT LINE API i have notice some time LUIS Service (which calculate the top scoring intent takes more than 15 seconds) due to which i get 500 internal server error.

I have deployed my BOT on AZURE and my https  WINDOWS 2008 Server to test.
But i am getting same error on both.

[2017-03-10 07:47] RossTheMix commented on #2412
@carlosscastro Thank you for that. I can now see the bot directory page, however the other issue is still there.

No matter what I do all channels except skype still act as if my bot isn't published, even though the bot has been approved and I have set all channels to published.

It works via Skype, so it seems there is no issue with the source of the bot, but the web channel and telegram channel

[2017-03-10 08:00] zhou-xinghai commented on #2308
Just enable this option. Seems don't shorter the time. I will observe it in a longer time.

[2017-03-10 08:08] msBot1111 commented on #2380
no :/

[2017-03-10 08:13] HalwestRasul opened #2415 "Can't connect bots with database !"
hi, I wanna Create a translator bot and I have a problem while connecting my bot with mysql !
when I send any message the bot replays is "Oops. Something went wrong and we need to start over."
that my code in je file.
`var builder = require('botbuilder');
var restify = require('restify');
var mysql = require('mysql');
var connector = new builder.ChatConnector();
var bot = new builder.UniversalBot(

[2017-03-10 09:00] maba4891 commented on #2409
Edit: This problem seems to be only affecting the Emulator and the Web Chat, on Skype and Facebook Messenger everything seems to be fine.

[2017-03-10 09:27] sumitdobhal commented on #2396
I am not using my local IIS .
I have deployed the application in IIS of a other server which is accessible on internet. So what's the use of ngrok.

[2017-03-10 10:31] alokraj68 commented on #2395
@willportnoy I don't know how to do what you have asked. it would be great if you could get me a blog on the steps.
and also, the HTTP request always is same, 500, iInternal server error.

[2017-03-10 10:32] alokraj68 commented on #2012
@slidenerd , @carlosscastro  I could not do the same because My bot framework nuget update ended up in crashing bot project. #2395

[2017-03-10 10:34] alokraj68 commented on #2013
@willportnoy , @Andrea-Orimoto , @carlosscastro I could not find out why this happens.  Our bot is working fine in KIK, Telegram, Facebook, and direct chat. the issue seems to be with only Skype.

[2017-03-10 11:08] DeLeneMirouze opened #2416 "Populate Enum in PromptDialog with PromptAttribute"
Is there any way to populate an enum in a promptDialog compatible with the use of PromptAttribute?

[2017-03-10 11:26] sunithabist commented on #828
I am getting the same error message MethodNotAllowed
The page you are looking for cannot be displayed because an invalid method (HTTP verb) is being used.

[2017-03-10 12:11] ashay-88 commented on #2300
any update??

[2017-03-10 12:25] ncoonrod commented on #2019
There's no gray bar anywhere on that page, it does say that my bot's framework version is 3.0.

[2017-03-10 12:44] obodov-vladimir opened #2417 "Problem with server address"
Server address always change. How we can send messages to people if we need address?
In user address we have field serviceUrl. It change sometimes but for sender we need static address. (https://docs.botframework.com/en-us/node/builder/overview/#navtitle)
Example:
const reply = new builder.Message()
        .address(address);
bot.send(reply, (err) => {
            if(err) return reject(err);

[2017-03-10 14:14] konstlut commented on #1759
closed as old

[2017-03-10 14:14] #1759 closed

[2017-03-10 14:34] RichMoeMSFT commented on #2231
We've been making quite a few changes the past few months, but we're in a stable state now.  Are you still seeing these issues?

[2017-03-10 14:40] RichMoeMSFT commented on #2400
We've been making quite a few changes in the last few months but should be in a stable state now.  Based on the messages above, looks like the issues were due to a break on our serviceURL, since fixed.  (You should always be hitting: https://smba.trafficmanager.net

[2017-03-10 14:41] tahsintahsin commented on #2412
We have the same issue, our bot is accepted but not visible in either Slack or in bot directory.
What can we do about it?

[2017-03-10 15:05] ryzam commented on #2320
i had the same problem before, the response was intermittent. After few days debugging and changing the configuration on the Facebook pages then i realize that my my webhook wrongly selected the pages

![image](https://cloud.githubusercontent.com/assets/597759/23800108/0099e90c-05e6-11e7-8422-39a4f04959cc.png)

[2017-03-10 16:03] nzthiago commented on #2411
Hmm, ok thanks. I wonder if the stack got messed up between my user and the Skype channel. How would I reset the stack and context and basically start from scratch with the Skype channel? "/deleteprofile" doesn't seem to work. (sample code would be appreciated it I need to add it as a command to the bot).

[2017-03-10 16:08] nzthiago opened #2418 "Serializing the context (and BotData items) doesn't work"
The c# App Insights sample in BotBuilder-Samples has [a nice class](https://github.com/Microsoft/BotBuilder-Samples/blob/master/CSharp/core-AppInsights/TelemetryExtensions.cs) to serialize the context data bag objects. But unfortunately it doesn't work, it always serializes to {}. I _suspect_ from looking at the BotBuilder code that this is because the internal 'bag' dictionary property is never e

[2017-03-10 16:59] tomlm commented on #2232
DanMar is correct.  images on buttons is going to be deprecated because none of our channels support it.

[2017-03-10 16:59] #2232 closed

[2017-03-10 17:20] jameslew commented on #2335
Given I haven't heard any further, I'm going to close this item.

[2017-03-10 17:20] #2335 closed

[2017-03-10 17:22] jameslew commented on #2376
This is covered in this related thread:

https://github.com/Microsoft/BotBuilder/issues/2218#issuecomment-278568244

[2017-03-10 17:24] #2190 closed

[2017-03-10 17:32] jameslew commented on #1999
I'll leave @willportnoy to answer the first question.

Regarding the second, yes, actions are being removed from LUIS, first from the UI and eventually from the API as well.  We'll be extending our dialog support in the Bot Framework, and additionally will soon be providing samples that will enable you to perform the same action binding in your own service.

I understand this change can be difficu

[2017-03-10 17:56] stsquared99 opened #2419 "[Feature Request] Prompts in Skype group chats receive a result prefixed with @mention"
botbuilder@3.7.0

Prompts work fine in the emulator and direct Skype chats with the bot, but when using group chats, I have to @mention the bot to send the message to it. However, when using Prompts, the result also contains the @mention.
E.g. With Prompts.text(), sending the message "@bot Test" leads to results.response = "@bot Test".

The biggest problem with this is when using Prompts.choice(),

[2017-03-10 18:24] tylerl0706 commented on #2231
Still seeing this issue, unfortunately. Let me know if there are some steps
you'd like me to take.

On Fri, Mar 10, 2017, 6:34 AM Richard Moe <notifications@github.com> wrote:

[2017-03-10 18:56] carlosscastro commented on #2412
Can you please send me a link to the bot page in dev.botframework.com?

[2017-03-10 19:02] danmarshall commented on #2409
Thanks for filing this issue @maba4891 . Would you mind filing this issue on the WebChat repo?
https://github.com/Microsoft/BotFramework-WebChat/issues

[2017-03-10 19:04] carlosscastro commented on #1498
@kbrimble I noticed this issue is still open. Do you need any further help on this?

[2017-03-10 19:06] carlosscastro commented on #1832
@eanders-MS was this fix shipped to production?

[2017-03-10 19:08] eanders-MS commented on #1832
@carlosscastro No, not shipped yet.

[2017-03-10 19:16] carlosscastro commented on #2415
@HalwestRasul That means that some of your code is failing. You could start by testing your database code in isolation to make sure it works and the connection to the database and queries are functioning properly.

[2017-03-10 19:23] carlosscastro commented on #2380
@msBot1111 Did you modify your code based on the answer from @willportnoy above?

[2017-03-10 19:24] carlosscastro commented on #2368
@ubreddy Did you try @willportnoy's suggestion? Let us know if you had issues with that.

[2017-03-10 19:24] danmarshall commented on #2300
Hi @ashay-88 , when you see the "coudn't send" error, can you open your browser's debugger and inspect the network error message with this?

[2017-03-10 19:27] RossTheMix commented on #2412
@carlosscastro its https://bots.botframework.com/bot?id=age_of_consent_bot
Is that what you mean?

[2017-03-10 19:27] carlosscastro commented on #2353
@AmitBhatnagar24 I don't know of any community. When you post a slack specific question here, other slack users may chime in. Let us know if you hear about any community!

[2017-03-10 19:27] #2353 closed

[2017-03-10 19:28] carlosscastro commented on #2353
Closing the issue, but feel free to reopen if you have follow ups!

[2017-03-10 19:35] carlosscastro commented on #2353
Also, StackOverflow may be a good place to ask questions and exchange ideas with other fellow bot developers. The Bot Framework team also monitors StackOverflow to provide support.

[2017-03-10 19:41] carlosscastro commented on #2412
@RossTheMix that is correct. I wanted to do some basic verifications. The bot looks good. I'll assign to our telegram experts to follow up.

[2017-03-10 19:50] Stevenic commented on #2389
Adding Tom to comment on ability to pass through platform specific action types like "friend-picker" and "picture"

[2017-03-10 19:57] HalwestRasul commented on #2415
@carlosscastro thanks for your replay,
first I updated the js code like this
`var builder = require('botbuilder');
var restify = require('restify');
var mysql = require('mysql');
var utf8 = require('utf8');
var connector = new builder.ChatConnector();
var bot = new builder.UniversalBot(connector);
var connection = mysql.createConnection({
    host     : 'localhost',
    user     : 'root',
    pass

[2017-03-10 20:17] craigjensen commented on #1338
Closing due to inactivity.  Please reopen if the issue persists

[2017-03-10 20:17] #1338 closed

[2017-03-10 20:18] craigjensen commented on #1394
Closing due to inactivity.  Please reopen is the issue persists

[2017-03-10 20:18] #1394 closed

[2017-03-10 20:30] Stevenic commented on #2390
Adding Dan for explanation...

[2017-03-10 20:31] craigjensen commented on #2274
To enable account linking you need to register the message_account_linking callback for your bot and send a native Facebook log in button via ChannelData/SourceEvent.

[2017-03-10 20:32] Stevenic commented on #2390
Adding Carlos as well. In talking to Dan we believe there could be a clock skew issue going on here.

[2017-03-10 20:32] dandriscoll commented on #2308
Can you send a conversation ID or your bot's ID?

[2017-03-10 20:34] craigjensen commented on #2320
Please include your botid and we'll investigate

[2017-03-10 20:38] Stevenic commented on #2408
Do you have a `bot.endConversationAction()`? If you add this to your bot they can just say "goodbye" to reset their state and start over.  The second option is you can add a dialogVersion() middleware:

[code]

Anyytime you make a major change to your bot you can increment this version number and force to have all current conversations ended.

[2017-03-10 20:40] msft-shahins commented on #2359
This issue is more related to Azure instances and not an issue related to SDK. You can make Azure instances to be `always on` and this behavior will go away. Also you cannot generate the tokens sent by channels to emulate behavior of a message sent by channel as keep alive. You can look at the [emulator token generation](https://github.com/Microsoft/BotFramework-Emulator/blob/150d776581c99037d7391

[2017-03-10 20:40] #2359 closed

[2017-03-10 20:40] carlosscastro commented on #2390
Thanks @Stevenic, I'm working on a clock skew issue for this. Will update once the fix is out.

[2017-03-10 20:41] Stevenic commented on #2417
You need to cache the individual address objects for the users you wish to contact. These address objects can change from time to time so we recommend periodically updating (every few days) the address object stored.

[2017-03-10 20:42] craigjensen commented on #2260
I've opened an issue to track this request for a future release.

[2017-03-10 20:55] james-lawrence commented on #1827
We managed to figure out the underlying cause. so no. but it is still concerning that the user id sent with a message impacts how its rendered.

[2017-03-10 20:55] #1827 closed

[2017-03-10 20:56] james-lawrence commented on #1972
Unknown, havent tested that particular piece of functionality. the new invoke method solves part of the issue.

[2017-03-10 20:57] james-lawrence commented on #2133
its been managed. this is still an actual issue though. it won't be fixed until a roster is available and CreateConversation works.

[2017-03-10 21:11] tomlm commented on #2419
Have you looked at the entities collection.  The mention information is usually sent in there with information so that you know that you can strip the @bot portion out.

[2017-03-10 21:15] patrickml opened #2420 "[Feature Request] Ability to get Platforms Message on Outbound"
Outgoing messages seem to be specific to the BotBuilders framework

![image](https://cloud.githubusercontent.com/assets/7581369/23813354/80ccf28e-05ac-11e7-90b2-2435de8eaa5e.png)

Incoming messages seem to contain the actual platform message via the "sourceEvent" object.

We log all incoming and outgoing messages in the platforms format so we can recreate the users experiences visually.

It would

[2017-03-10 21:56] jerinkurian commented on #1413
I am also facing the same issue the bot is getting too much time to respond. First response is taking around 10 - 12 seconds then onwards 5-6 seconds. I am developing this bot for prestigious customer and the customer is now taking a step backward to release the bot due to this performance issue.  Can anybody help?

[2017-03-10 22:03] jameslew commented on #1413
@spreddy2714 you're definitely paying a cross-world latency tax then for your LUIS calls, as that dc is in the US.  We're expanding our presence world-wide soon so there should be a datacenter closer to you.

That said, do you have any sort of trace representing the latencies you're seeing?  Are you seeing the Bot Builder and seeing bot state store requests as well?

[2017-03-10 22:05] jameslew commented on #1413
@astrung there is no reason you need to use Azure servers for bot, though of course they work really well and we'd be happy to have you use them :).  Wherever you deploy though, if there's a traffic management solution (such as Azure Traffic Manager and I'm sure AWS has something as well), they can help with routing.  That said, if your users are in a similar region to where your bot and the servi

[2017-03-10 22:06] jameslew commented on #1413
@jerinkurian Depending on how you've built your bot, that first request can be warm up time of the service your bot is hosted on; ie a cold bot on azure servers can take a few moments to warm up that isn't seen on subsequent requests.

Do you have any more information on where the time is being spent in your bot?  Have you done any profiling of which calls are taking a long time?

[2017-03-10 22:17] tomaszkiewicz commented on #2407
Hi,

I spent few more hours debugging the problem and here's what I found:

As I supposed the problem relates to error in deserialization. It happens in Store.cs file in the following method:

[code]

When you breakpoint in catch part you can find out that the exception is:

[code]

So BotBuilder cannot deserialize dialog stack because it cannot find... it's own assembly!

I've tried to apply the

[2017-03-10 23:03] stsquared99 commented on #2419
The problem is that with Prompts.choice(), I can never get past that part of the of logic because it rejects my input on account of the @bot prefix. I can't get to a point where I can parse the response myself.
Thanks

[2017-03-11 01:23] fricke opened #2421 "Prompt issue - I didn't understand. Please choose an option from the list."
Hello, we are experiencing an issue when we prompt a user using the builder.Prompt() function and the user then chooses an option, everything is working great except we get this little message out of our control saying

"I didn't understand. Please choose an option from the list."

I'm not sure why the framework itself would be sending a message out w/o our control.

[2017-03-11 02:39] ubreddy commented on #2368
no. I havent. Not sure the design is fully understood yet. Do you have some more suggestions. Uday

    On Saturday, 11 March 2017 12:54 AM, Carlos Castro <notifications@github.com> wrote:

 @ubreddy Did you try @willportnoy's suggestion? Let us know if you had issues with that.—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-03-11 03:47] zhou-xinghai commented on #2308
hi ,my bot's Microsoft App ID
9f30580a-3c00-4f71-a0b4-c338d248ae62
Another issue is directline send msg operation return " id: 'retry'". As long it happens, all sending msg on this conversation will return this value and my botframework won't  get msg . So can you tell me why return this error.
thanks.

[2017-03-11 04:07] gilesbutler commented on #1301
I'm currently facing the same issue as the OP. I know this has been closed a while but it still feels like it isn't solved. We have various bots already built and we don't want to go through each one adding extra code just to handle choice prompts in DirectLine. Plus every time we create a new bot we have to remember to add extra code to support DirectLine, we can't just enable it and use it with

[2017-03-11 04:10] zhou-xinghai opened #2422 "directline msg return "retry""
hi,
  I send msg with directline3.0 and after a while（aroud 1 days）.It returns 'retry' rahter than msg with conversation|id like 'BwWr2WLPs6a2LaalX4abzC|0000001', and it won't restore to normal unless I start a new conversation. Can you tell me why it happens?
my conversation is 3Qkw7QAvlOLxwmvfP1zQE.
I use direceline with BotFramework-DirectLineJS.
thanks.

[2017-03-11 05:19] #2422 closed

[2017-03-11 08:37] RossTheMix commented on #2412
Thanks @carlosscastro, however it isn't just telegram that isn't working, it's the web channel too.

[2017-03-11 08:37] astrung commented on #2390
Well, so should i wait to next version ?

[2017-03-11 08:48] jerinkurian commented on #1413
@jameslew

I created two bots.

Bot #1
In this bot I have a DB call(MS SQL DB hosted in azure) and few checking to the state service. I found that is taking atleast 2- 3 seconds to reach the message to the bot application. Then after DB checking and state service checking it is taking another 3 seconds so total 6 seconds.
Another problem I found that the bot is not at all responding even after 6 s

[2017-03-11 12:20] brunoklein99 commented on #2406
This is working now, the missing part was registering the `ClaimsIdentity` in the container and making sure all my `IConnectorClient`s were being resolved from `Conversation.Container`.

Thank you.

[2017-03-11 12:51] brunoklein99 commented on #2391
Thank you for the response:

[code]

[code]

[2017-03-11 18:24] ubreddy opened #2423 "Prompt.text inputs should not go to Luis"
It seems that all Prompt inputs are being passed on to luis. Is there a way to stop sending Prompt responses by users to Luis API ?

I am using the following option in Luis recognizer builder.RecognizeMode.onBegin
but still these inputs seem to go to Luis.

or, what am I doing wrong?

[2017-03-11 19:01] OlesZadorozhnyy opened #2424 "Creating a Single Bot Service to Support Multiple Bot Applications?"
How to create a single bot service to support multiple bot applications? (using NodeJS)

[2017-03-11 19:16] gcsonka opened #2425 "401 unauthorized and 500 error codes after Microsoft.Bot.Builder 3.5.5 upgrade"
I upgraded my bot to 3.5.5 (From 3.5.3)  and it stopped working.  It seems like I have an issues with authorization. I went through the Troubleshooting guide (https://docs.botframework.com/en-us/support/troubleshooting-bot-framework-authentication/) here is the result:
Step 1: Connect without a password on localhost: Works fine in Emulator
Step 2: (Optional) Verify your App ID and Password are cor

[2017-03-11 19:54] michaelvol commented on #2203
We're also interested when is GA, and what is on the roadmap for the GA.
The bad handling of fast user inputs (https://github.com/Microsoft/BotBuilder/issues/2103, https://github.com/Microsoft/BotBuilder/issues/2119) is a serious issue for us. Not sure if/when it's to be addressed.
Thanks!

[2017-03-11 20:11] ankitbko commented on #2277
@willportnoy I updated Bot.Builder to 3.5.5 and Autofac to 4.4.0 but error still occurs. I don't think its an Autofac issue, since it worked before and stopped working with the commit https://github.com/Microsoft/BotBuilder/commit/9732296235a274bcc429f7e647b46fc9d1f3d989.

Also 2 of the 3 tests which fails with the `NonSerialized` attribute were also introduced in the same commit. Maybe there is s

[2017-03-11 20:30] ankitbko commented on #2405
Well, you could have your users to sign in (authenticate) before using any features of your bot.

[2017-03-11 22:07] danechitoaie commented on #2405
Yes, solutions can be found. I guess what I'm asking more is if this is allowed. The fact I have to publish the bot and make it public on "Bot Directory" made me think the bot needs to be able to be used by everyone and that you can't restrict access.

[2017-03-11 23:28] kunoke opened #2426 "Bot framework cant find /api/messages"
Hello I'm working with Microsoft Bot Framework
I try to make a Skype bot but there is whenever i'm in the bot framework test 404 not found, There is no folder /api/messages and I cant find that folder too in de ftp
But when I try it in visual studio can I find /api/messages
Can anyone help me please?

Here is the test connection!
http://pastebin.com/2VsQGwJx

[2017-03-12 00:53] levarato opened #2427 "(#100) Invalid keys "share_contents" were found in param"
Im' trying to use the messenger share button, with the new features share_contents(https://developers.facebook.com/docs/messenger-platform/send-api-reference/share-button). I get this error: "ClassName":"Microsoft.Rest.HttpOperationException","Message":"SendActivityToUserAsync FAILED: {\"error\":{\"message\":\"(#100) Invalid keys \\\"share_contents\\\" were found in param

[2017-03-12 01:57] andradedearthur commented on #2423
I have never had this problem, as far as I know they go to the callback method, can you share a bit of code?

[2017-03-12 02:59] cgarethc commented on #693
I'm replying to this thread because it's the closest to what I've been tearing my hair out over the last couple of days. I have a Node.JS bot hosted on AWS EC2, with a valid Comodo SSL certificate that works in Chrome/Firefox/Safari and I've configured a bot on the bot framework for my endpoint.

When I launch the bot framework console at https://dev.botframework.com I can click the "test" button

[2017-03-12 03:53] ubreddy commented on #2423
It was my code in bot.use which was closing the dialogue. Sorry, my bad. Thank you.

[2017-03-12 03:53] #2423 closed

[2017-03-12 04:23] gcsonka commented on #2425
Here is my error form the emulator:

`{
  "type": "message",
  "timestamp": "2017-03-12T04:16:13.1840939Z",
  "serviceUrl": "http://localhost:9000/",
  "channelId": "emulator",
  "from": {
    "id": "56800324",
    "name": "Bot1"
  },
  "conversation": {
    "isGroup": false,
    "id": "8a684db8",
    "name": "Conv1"
  },
  "recipient": {
    "id": "2c1c7fa3",
    "name": "User1"
  },
  "text": "E

[2017-03-12 13:20] JeevaJose commented on #2342
I don't know, Can I contact this person over Email?

[2017-03-12 13:25] JeevaJose opened #2428 "When we have to go with DialogModule.BeginLifetimeScope."
Could you please tell me which scenario I have to go with  DialogModule.BeginLifetimeScope. I could not find any proper documentation from Bot framework .

[2017-03-12 14:13] #2427 closed

[2017-03-12 14:14] levarato commented on #2427
Sorry it's my fault, the error was raised from facebook. I was creating a wrong button

[2017-03-12 17:24] dandriscoll commented on #2308
Good news is that your bot is responding reasonably quickly, around 500ms.

It looks like you've configured Direct Line for high-speed storage, but the conversation ID you sent was created before this setting was applied. Conversations that are already in progress will stay on the stack where they were created. Can you try again with a new conversation?

I've added more detailed logging on our sid

[2017-03-12 17:25] dandriscoll commented on #1301
Hi @gilesbutler, are you using Direct Line 1.1 or 3.0?

[2017-03-12 17:33] dandriscoll commented on #693
Hi @cgarethc, the call back to the channel services is an HTTPS POST sent to the URL identified by the "ServiceUrl" property of the activity your bot is replying to. It is accompanied by a JWT token whose characteristics (and instructions for generating one) are described here: https://docs.botframework.com/en-us/restapi/authentication/

If you're seeing the call back to the ServiceUrl, and that c

[2017-03-12 19:41] AlexSenchenko opened #2429 "Question: when Viber channel is coming?"
Hi,

Could you please tell when support for Viber channel is scheduled?

Thanks!

[2017-03-13 00:21] fercom commented on #2345
@willportnoy That worked, thanks!

[2017-03-13 01:55] zhou-xinghai commented on #2308
Thanks for your help. It seems faster than before. Can you please take a look at this one conversationId: BhZ3UhDKKJR34kssBdBFjS.

[2017-03-13 04:05] gilesbutler commented on #1301
Hey @dandriscoll, I'm using Direct Line 3.0. Thanks

[2017-03-13 05:37] cgarethc opened #2430 "No replies making it out of bot on AWS EC2 (related to #693)"
@dandriscoll wrote:

Thanks for this help. The ServiceUrl is coming through as https://directline.botframework.com/ and I've confirmed that I can successfully connect to 443 on that host.

An example conversation from Web Chat for you to debug has the ID 50d33752126a48b1a6f4855d8ac19a55

[2017-03-13 07:09] josephktcheung commented on #2408
@alonsonic I too had this problem today. I solved it by clearing all the userData + conversationData for that particular user.

I tried `bot.endConversationAction()` but didn't work. Didn't try dialogVersion() middleware. Removing userData + conversationData works for me but it should probably be the last resort if solutions suggested by @Stevenic don't work.

What I did:

1. Get an authorization

[2017-03-13 08:16] msBot1111 commented on #2380
@carlosscastro  yes I've tried with that but it's not working for me

[2017-03-13 09:34] kbrimble commented on #1498
@carlosscastro I'll have a look today as to whether using the technique described in [this comment](https://github.com/Microsoft/BotBuilder/issues/1498#issuecomment-263212167) solves my issue and close if so :)

[2017-03-13 09:50] RossTheMix commented on #2412
See screenshot of Emulator.
![image](https://cloud.githubusercontent.com/assets/26311824/23849172/6b3814d0-07d2-11e7-9c05-3a395efff91c.png)

[2017-03-13 10:15] alonsonic commented on #2408
Hello @josephktcheung and @Stevenic thank you for the help!

I manage to fix it following @josephktcheung advice, didn't get to try the dialog version but it's good to know for the future as well.

Thank you both

[2017-03-13 10:52] HalwestRasul opened #2431 "Problem in azure sites."
hi, I have a problem while I created a site in azure portal, when I visit to my site the site gives me a message "**`You do not have permission to view this directory or page.`**", and while I tested connection in [dev.botframework](https://dev.botframework.com/) it gives me another message "**`MethodNotAllowed The page you are looking for cannot be displayed because an invalid method (HTTP verb)

[2017-03-13 10:57] HalwestRasul commented on #2431
please advice me! :/
@Stevenic @willportnoy @eanders-MS @carlosscastro

[2017-03-13 12:33] lonche commented on #2129
Bump.

[2017-03-13 13:37] #2406 closed

[2017-03-13 13:48] ubreddy opened #2432 "Reliability issue on botframework"
I keep getting this error, once a while in production and the messages dont end up showing in Skype/ Web.

How can this be overcome in production. It appears unreliable and users are unhappy. Or, am I doing something wrong.

Request to 'https://smba.trafficmanager.net/v3/conversations/29%3A10hZoGeaCfWX4Lpkd33wjtUUC1-HEH3YDQF5csOsZDhc/activities' failed: [400] Bad Request
    at Request._callback (

[2017-03-13 14:18] adebisi-fa opened #2433 "Chronic Parser Option "EndianPrecedence" Property Configuration"
Hi,

The Chronic Parser instance of the [RecognizeDateTime](https://docs.botframework.com/en-us/csharp/builder/sdkreference/d2/d1e/_form_flow_2_recognize_8cs_source.html#l00714) type (FormFlow feature) is configured with a default Chronic [Options](https://github.com/robertwilczynski/nChronic/blob/master/src/Chronic/Options.cs#L24) whose  **EndianPrecedence** property is set to **EndianPrecedence.

[2017-03-13 14:23] obodov-vladimir commented on #2417
Should we cache address for the bot or for the user? Can different users from one bot have different address?

[2017-03-13 14:26] juhamust commented on #2400
I'm getting the error both with MS Teams _and_ Skype:
[code]
Haven't tested with Slack, but Bot emulator and web works.

[2017-03-13 14:57] ankitbko commented on #2056
@srozga @hlipa99 How do you manage this when you scale your bot?

[2017-03-13 16:11] bondz commented on #2431
@HalwestRasul Can you send your bot a message from the portal?

[2017-03-13 16:38] corinajacobson commented on #2424
Thank you for your submission. The Microsoft Bot Framework team would prefer if **how to use questions** were submitted on the [Stack Overflow botframework tag](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github repo](https://github.com/Microsoft/BotBuilder/issues) is the preferred platform for submitting **bug fixes and feature requests**. I have closed this is

[2017-03-13 16:38] #2424 closed

[2017-03-13 16:49] iMicknl commented on #2421
The [Prompt](https://docs.botframework.com/en-us/node/builder/chat/prompts/) is a built-in Dialog, which will handle the input validation already. You can change the validation response by using [Namespaced Prompts](https://docs.botframework.com/en-us/node/builder/chat/localization/#namespaced-prompts). I am not aware of any other options at the moment, maybe someone from the Bot Framework team kn

[2017-03-13 17:17] nickcordrey commented on #2419
We'll look at making a change to send only the text in the text field in future. For now @tomlm is there a way to detect the presence of @ mentions in entities and have the bot strip those from the text it uses with prompts.

[2017-03-13 17:22] dandriscoll commented on #2308
Hi @zhou-xinghai, some things I observed about this conversation:

- The longest calls were to POST a message from the client to the bot. These typically took 1-2 seconds.
- These POST calls had around 50ms of internal latency. Calling your bot took between 400ms and 500ms.
- As of 50ms into the call, the message is available for clients to receive.
- As of ~450-550ms into the call, message is del

[2017-03-13 17:30] msft-shahins commented on #2129
Here is an example using ICredentialProvider to provide MicrosoftAppId and MicrosoftAppPassword: https://github.com/Microsoft/BotBuilder/issues/2258#issuecomment-280506334

[2017-03-13 17:41] #1700 closed

[2017-03-13 18:17] HalwestRasul commented on #2431
###   _@bondz_ thanks for your replay, see this image, do you mean this?

![sketch](https://cloud.githubusercontent.com/assets/10852176/23868874/28e71a30-0832-11e7-9bc3-da0667f39d3d.png)

[2017-03-13 18:59] carlosscastro commented on #2430
@cgarethc could you please clarify what the problem you're experiencing is?
@dandriscoll do you have context to help @cgarethc debug this?

[2017-03-13 19:05] carlosscastro commented on #2421
Thanks @iMicknl for chiming in, that is correct. @fricke can you give that a try?

Is this Node.js or C#?

[2017-03-13 19:05] bondz commented on #2431
Did you create the bot from Azure? If you did, your `messaging endpoint` should look like `https://bot.azurewebsites.net/api/messages?code=AReallyLongAlphanumString==`

You can see how to create a bot on azure [here](https://docs.botframework.com/en-us/azure-bots/build/first-bot/#navtitle)

If you already have a bot on azure, you can setup continuous integration by following the instructions [here

[2017-03-13 19:09] carlosscastro commented on #2415
Your code that talks to mysql is not working unfortunately. This is not related to bot framework.

I'd advice to just figure out the mysql code outside of the bot, in a separate js file until you get it to work, and then integrate it with the bot framework. Also read the detailed documentation from the mysql library for node: https://github.com/mysqljs/mysql

Unfortunately we can't provide mysql s

[2017-03-13 19:09] #2415 closed

[2017-03-13 19:10] #2381 closed

[2017-03-13 19:14] carlosscastro commented on #2368
The suggestion from @willportnoy is the best for this scenario in my opinion. Please give it a try. Let us know if that works!

[2017-03-13 19:15] carlosscastro commented on #2365
@wbreza Did the documentation that @willportnoy referenced help you? Could you solve this issue?

[2017-03-13 19:17] carlosscastro commented on #2364
Thanks @steve75006. Please provide the code if you come up with something that youthink would benefit others.

I'll close this issue now, but we'll keep your suggestion in mind. Feel free to reopen if you want to discuss further!

[2017-03-13 19:17] #2364 closed

[2017-03-13 19:18] carlosscastro commented on #2352
@lonche did that work for you? Are you still experiencing this issue, or could you fix it?

[2017-03-13 19:19] cgarethc commented on #2430
Hi @carlosscastro - the original context from #693 is:

[2017-03-13 19:20] wbreza commented on #2365
I understand the gotcha's and I'm not completely happy about the hoops that are required to jump through.  I do have a hacky workround in place but I would urge you guys to figure out a more elegant solution.

It sounds like the Node side of the SDK uses a JSON serializer by default which could be a more lightweight solution here as well.

[2017-03-13 19:21] carlosscastro commented on #2350
@varunsethnsit did the comment from @dandriscoll fix the issue? Please let us know if the details in #2336 helped you :)

[2017-03-13 19:22] #2345 closed

[2017-03-13 19:23] carlosscastro commented on #2344
@jorupp Do you still need help here, or did the comment from @willportnoy clarify your issue?

[2017-03-13 19:23] Andrea-Orimoto commented on #2429
Hi @AlexSenchenko, we currently have no plans for this, but I've added it to our backlog for future consideration. Thank you!

[2017-03-13 19:23] #2429 closed

[2017-03-13 19:28] Andrea-Orimoto commented on #2405
Hi @danechitoaie, as long as you comply with the review guidelines you should be fine https://docs.botframework.com/en-us/directory/review-guidelines/. Having a login should not be a problem. Feel free to reopen this issue if you still have questions. Thanks!

[2017-03-13 19:28] #2405 closed

[2017-03-13 19:29] #2341 closed

[2017-03-13 19:30] carlosscastro commented on #2340
@lonche did you follow the suggestion from @willportnoy above? Did that work for you?

[2017-03-13 19:32] carlosscastro commented on #2339
@FlowWithCaptainJack did the comment from @willportnoy help you figure this out or do you have other questions on this topic? I'd suggest also visit stack overflow for questions, since GitHub is recommended for bugs mostly.

[2017-03-13 19:33] Andrea-Orimoto commented on #2363
Hi @forensicsguy20012004, there is no plan for this at the moment, but we've added it to our backlog for future consideration. Closing this issue since it's captured in our backlog, feel free to reopen if you have more questions. Thanks a lot.

[2017-03-13 19:33] #2363 closed

[2017-03-13 19:34] carlosscastro commented on #2334
@dandriscoll could you please take a look and see if you find something odd here? Thx :)

[2017-03-13 19:34] carlosscastro commented on #2272
@josephktcheung are you still experiencing this issue?

[2017-03-13 19:38] carlosscastro commented on #2259
Hi @aakashvit, could you please be a bit more specific? Are you using Node.js or C#? What are you trying to achieve with the session?

I'd recomment to read through the documentation on the Session class: https://docs.botframework.com/en-us/node/builder/chat/session/

[2017-03-13 19:39] jorupp commented on #2344
I'm using a custom LUIS app. (will email subscription key to @carlosscastro's listed address )

https://api.projectoxford.ai/luis/v2.0/apps/d04fe6ff-5710-4a2b-9abc-658022974967?subscription-key=xxxxxxxxxxxxxxxx&q=find%20a%20sharepoint%20developer%20next%20week%20for%205%20hours

returns:

[code]

Do I need to change a setting in my LUIS app, or the intent that's recognizing this?  I don't seem to

[2017-03-13 19:40] carlosscastro commented on #2253
Hi @sowsan, apologizes for the delay in an answer. Are you still needing an answer to this questions?

for the future, I'd suggest using StackOverflow for questions and discussions, and use GitHub only for bugs.

Thanks!

[2017-03-13 19:42] Stevenic commented on #2372
@mcclaskiem a couple of quick questions:

- When hosted remotely have you tried connecting to your bot using the emulator? Does that work?
- Have you tried just doing `session.send("I heard %s", results.response);` just to verify you're making it to you next waterfall step?
- You do realize `Prompts.text()` is going to return a `string`? I would have expected you to use `Prompts.number()` which wi

[2017-03-13 19:43] carlosscastro commented on #2250
Hi @haligasd, thanks for reaching out! What is it you are trying to achieve? Do you still need help?

For general questions I'd suggest to reach out to StackOverflow, and use GitHub mostly for bugs.

Thanks again, and let me know if I can be of help :)

[2017-03-13 19:43] #2245 closed

[2017-03-13 19:44] jorupp commented on #2344
Should also add - the LUIS app's culture is set to en-us.

[2017-03-13 19:48] carlosscastro commented on #2233
hi @vicenschamorro, did the answer above help you? the bot framework does not provide this.

In general StackOverflow is definitely better for discussions of this kind, since it allows you to benefit better from the developer community. Github is mostly used for bugs.

Thanks and reach out if we can be of help!

[2017-03-13 19:51] willportnoy commented on #1505
@juharris please open a top level issue for your question, and feel free to reference this closed issue.

[2017-03-13 19:58] danechitoaie commented on #2405
@Andrea-Orimoto thanks

[2017-03-13 20:09] juharris opened #2434 ""no security token sent." with Microsoft Teams"
I'm trying to set up a bot with a Microsoft Teams channel and I get `ERROR: ChatConnector: receive - no security token sent.` when a message is sent in a channel mentioning the bot but replies to individual messages do work fine and the bot replies as expected.

Here's my app.js:
[code]

The bot does reply to the Teams channel but the message is always "Sorry, there was a problem encountered with

[2017-03-13 20:52] hailiu2586 commented on #2431
if you created an Azure bot service, then as @bondz said, the endpoint should contain query param code='...'

At this point, you may want to delete and re-create the azure bot service

[2017-03-13 21:04] fricke commented on #2421
Thanks for the help guys.  We've discovered that we aren't using Prompts correctly w/ the waterfall method and we are launch tomorrow so in the meantime we are overriding the text that comes back w/ retryPrompt option in the function.  { retryPrompt: ' ' }.  After launch we will be doing a bit of refactoring to get this in line w/ the waterfall dialog method.

[2017-03-13 21:08] haligasd commented on #2250
so on the link above you need to be able to render buttons in facebook and pass "compact", etc to the button.  this isn't necessarily a bug but more  can we even do this

https://developers.facebook.com/docs/messenger-platform/send-api-reference/url-button

the url button works great except for the extra properties

"webview_height_ratio": "compact"

[2017-03-13 21:44] carlosscastro commented on #2421
Great to hear @fricke , hope you enjoy your bot adventures to come :)

[2017-03-13 21:44] #2421 closed

[2017-03-13 21:47] carlosscastro commented on #2344
@jameslew, @chrimc62 can you comment on this? Thanks!

[2017-03-13 21:49] carlosscastro commented on #2365
@wbreza feel free to share what your hacky workarounds are here - @willportnoy and I can see if we can help get your code be more elegant if it is possible. Seeing the specific hacks you needed to do might also help us understand how to improve the SDK moving forward :)