[2020-10-27 18:54] stevengum opened #6091 "Add changelog-generation script to repository"
## Issue
To move away from tribal knowledge/developer bottlenecks on generating a changelog for our package releases, it's critical to make the changelog tool chain and knowledge widely available for the team.

## Proposed Change
Add a changelog generation tool that derives the changelog contents from the targeted branch of a specific repository.

[2020-10-27 22:13] dmvtech commented on #6071
hi @AnatolyArt Sorry for the delay.

Can you try using `https://login.microsoftonline.com/botframework.com/oauth2/v2.0/token` instead?

Please see [here ](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-quickstart?view=azure-bot-service-4.0#request)for more info.

[2020-10-28 01:11] matthiasdilger commented on #5827
Hi @Jeffders, thanks for the update. Does this mean that other Teams client platforms apart from Android (iOS, web, Windows, Mac) will also send the timezone name in the entities field soon or will those platforms only implement the top level localTimezone field later?

[2020-10-28 16:22] #6090 closed

[2020-10-28 16:22] #6091 closed

[2020-10-28 18:42] clearab commented on #5827
Yes, including local timezone information in the top-level field will not change the rollout for the timezone field in the entities array. All Teams clients are still planning on sending that information this quarter. Including it in the top-level field will help ensure parity across all channels.

[2020-10-29 17:47] Kaiqb commented on #6026
@clearab - are these done for R11? If not, move them out of the milestone.

[2020-10-29 17:47] Kaiqb commented on #6006
@clearab @cleemullins - is it done for R11?

[2020-10-29 17:56] clearab commented on #6026
The code is done, docs have not been done yet. I'll go ahead and close this, and deal with the docs separately.

[2020-10-29 17:56] #6026 closed

[2020-10-29 17:57] clearab commented on #6006
The code is done, docs have not been done yet. I'll go ahead and close this, and deal with the docs separately.

[2020-10-29 17:57] #6006 closed

[2020-10-29 18:24] clearab commented on #5912
This is not a release blocker (no code changes) documentation will be updated next week (first week Nov)

[2020-10-30 10:48] Robulane opened #6094 "Adaptive declarative dialogs don't support circular references"
[TestLoop.zip](https://github.com/microsoft/botframework-sdk/files/5464592/TestLoop.zip)
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.10

## Describe the bug
Adaptive declarative dialogs don't fully support t

[2020-10-30 16:14] gabog commented on #5788
The work items for this issue have been completed

[2020-10-30 16:14] #5788 closed

[2020-10-31 14:33] hoai97nam commented on #2073
how about in python? everyone

[2020-10-31 20:01] FavorMylikes commented on #5371
Same

[2020-11-02 19:16] CezaryMarcjan commented on #6094
This will be addressed in the upcoming release.

[2020-11-02 20:24] joshgummersall commented on #5977
I think I'm definitely in favor of moving to mocks over nocks where we can as long as we have some backup functional testing.

I think my preference, in order, is:

1. Sinon (with sandboxing and `sandbox.verify()`)
2. Nock for programmatically expressing HTTP mocks (the record and playback functionality, while useful, tends to obscure the mocks (i.e. what input parameters to a function end up affe

[2020-11-02 20:45] mdrichardson commented on #5977
@joshgummersall That all makes sense to me. It seems like the best order tackle this might be something like:

1. Get all of the functional tests we want
  * Is there something already being done here? I believe at some point during R11 there was some talk about a big push here, but I'm not in those circles.
2. Go library by library and convert nock tests to sinon.
  * If there's any live tests, v

[2020-11-02 21:01] joshgummersall commented on #5977
I think that all sounds reasonable. I'll have a small PR with some common testing/Sinon/sandboxing functionality in the next day or two so perhaps hold off on rewriting anything with Sinon for now.

[2020-11-03 10:23] elibery commented on #6089
Any updates? There are more and more users complaining about the issue

[2020-11-04 08:12] tsuwandy opened #6095 "Need to explain orchestrator:create vs orchestrator:build commands along with the optional flags"
It's not clear why there are two commands to create orchestrator snapshot, need to explain the two commands.  Also need to explain what hierarchical flag for create and dialog flag for build do.

[2020-11-04 18:15] tsuwandy commented on #6095
Fixed.

[2020-11-04 18:15] #6095 closed

[2020-11-04 19:39] dmvtech commented on #6071
I am closing this issue as it doesn't seem to be a blocking issue. Feel free to reopen if you have need to get this resolved.

[2020-11-04 19:39] #6071 closed

[2020-11-05 04:03] IvanJobs opened #6099 "Why deprecated azure function as an option for hosting bot?"
Hi There,
Excuse me, but I really can't find any other places to ask the question.

As I can try on Azure, there's no official option to host bot by azure function, only app service wrapped by web app bot.
I'm wondering the reason behind this fact.
Can anyone help me with this? Thanks in advance.

[2020-11-06 12:11] garypretty commented on #5861
Looks like all PRs have been merged. Closing.

[2020-11-06 12:11] #5861 closed

[2020-11-06 12:12] garypretty commented on #5636
Closing this.  Separate analytics stream currently in planning which will encompass this work.

[2020-11-06 12:12] #5636 closed

[2020-11-06 17:52] JonathanFingold commented on #5934
A version of the two simplified diagrams have been added in master and should go live with the new live-sync (bot-docs-pr PR [2404](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2404)).

[2020-11-08 17:11] Morhpeuss commented on #1316
Hello, I have the same problem. I added a Landing Page Url in Slack Channel Registration.

I expected that after the application installation from the Slack portal I will be redirected to my Landing Page with the authorization code, but I was redirected to https://dev.botframework.com/.

This is a big problem If you need information from the user during app registration.

I understand that the fir

[2020-11-08 17:46] Morhpeuss commented on #5025
Hello, I have the same problem. I added a Landing Page Url in Slack Channel Registration.

I expected that after the application installation from the Slack portal I will be redirected to my Landing Page with the authorization code, but I was redirected to https://dev.botframework.com/.

This is a big problem If you need information from the user during app registration.

I understand that the fir

[2020-11-08 21:47] EricDahlvang commented on #5025
The bot should receive an 'installationUpdate' activity on the slack channel, when installed (OnInstallationUpdateAddAsync).  I do not know if Team information is present in ChannelData of this activity, but something there might be helpful.

I'm sorry you are experiencing this issue.  Closed issues are not actively monitored by the Bot Framework team.  Please direction questions to https://stacko

[2020-11-09 16:19] Morhpeuss commented on #5025
The bot probably receives these events, but it doesn't solve my problem. I need to store teamiid, team name, and other information. It should be a  page that looks like registration and is able to grab and store this information.

I am not sure if it is a problem in BotFramaework or in Azure Bot Service.

[2020-11-09 17:49] don4of4 opened #6101 "Bot Menu's Persist on Teams Client Even When Removed"
## Version
4.10.3

## Describe the bug
**Once Bot menus are added to a bot package, they cannot be removed (at all).** If a subsequent update removes those menu's, they persist for all users.  Uninstalling and reinstalling the app does not resolve the issue, nor does client uninstall; making this a **major headache**.

Also observed below: if a totally new app is created which makes reference to a

[2020-11-09 19:36] cwhitten commented on #5997
ping @johnataylor @carlosscastro @sgellock

[2020-11-09 19:40] sgellock commented on #5997
tagged it to R12 so we can ensure it gets addressed

[2020-11-09 22:33] gabog commented on #6036
Hi @garypretty, assigning this one to you, @EricDahlvang will setup a call so we can discuss how this feature should be surfaced in composer and how to drive this forward.

Thanks

[2020-11-10 21:25] clearab commented on #5620
Closing - this work will eventually be part of composer.

[2020-11-10 21:25] #5620 closed

[2020-11-13 17:44] tsuwandy opened #6106 "Remove manually generated OrchestratorRecognizer doc and update reference to it to point to Azure docs"
Link to Azure docs:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.bot.builder.ai.orchestrator?view=botbuilder-dotnet-stable

[2020-11-13 17:55] clearab commented on #6101
Removed Azure support tracking tags (as this is purely a Teams client issue) and sent to Teams support. I will follow up if no response from them by 11/17/2020.

[2020-11-15 13:39] cxbuilders opened #6123 "Custom Action ObjectExpression not parsed"
When using a ObjectExpression<MyObject> in a custom action, the GetValue call does not return anything when the object is defined directly in the Custom Action itself in Composer. When using set properties before the Custom Action to define the object and use an expresssion to pass the value to the Custom Action it does work.

**Not Working:**
![image](https://user-images.githubusercontent.com/498

[2020-11-17 01:15] #6005 closed

[2020-11-17 06:19] tithu opened #6108 "Prompt validation with MaxRetries not working in bot framework nodejs v4"
Hi all,

I am not able to limit the number of retry prompt in bot framework choice prompt on NodeJs sdk version 4.

I am using following approach for choice prompt.

await stepContext.prompt(promptType, {
                    prompt: promptMsg,
                    choices: ChoiceFactory.toChoices(promptOptions),
                    style:ListStyle.heroCard,
                    maxRetries:3 });

max

[2020-11-18 09:02] cxbuilders opened #6112 "Change locale during runtime"
Just wanted to implement a second language to a bot and to my surprise it is not possible to change the locale at runtime. In this bot we define the locale based on fields we receive from the web client  and allow the user to change their locale in the bot when they prefer to talk in a different language.

Other typical use case is to set the locale based on the locale settings of the users mailbo

[2020-11-18 20:19] clearab commented on #6101
I've been unable to recreate this behavior - is this issue still persisting? Can you please let me know if a close/reopen of the Teams client results in the menu's being removed as expected?

If the issue is still present, can you please let me know if you're altering the app ID (not the bot ID, but the app ID for the Teams app)?

[2020-11-18 20:27] jwiley84 commented on #6108
Hi @tithu

`maxRetries` isn't working, becuase maxRetries isn't a part of the v4 promptOptions.

As part of the ActivityPrompt, we've added `attemptCount` to state:
[code]

You can implement a custom validator that chceks state.state to see what the attemptCount is, and upon reaching your number, sends a different prompt  to the user.

[2020-11-18 23:25] don4of4 commented on #6101
@clearab I am able to repro this trivially. In fact -- I can even create a brand new Teams App, and **if I link it to the same BOT Guid, the menu is also there!**  It looks like teams is attaching the bot menu to the bot ID, then once that happens you can't change the manifest of the teams app to remove it.  It's actually being attached on the backend w/ the bot identifier?

Repro Steps:
1. Create

[2020-11-18 23:27] don4of4 commented on #6101
For the avoidance of doubt, take a look at this:
`{
  "$schema": "https://developer.microsoft.com/en-us/json-schemas/teams/v1.8/MicrosoftTeams.schema.json",
  "manifestVersion": "1.8",
  "version": "1.0.0",
  "id": "8935d11a-df54-4045-ab1b-cf6bd129f3af",
  "packageName": "com.test",
  "developer": {
    "name": "Hitachi Solutions (Don Scott)",
    "websiteUrl": "https://global.hitachi-solutions.co

[2020-11-19 03:22] clearab commented on #6101
That's interesting, when I installed your app I got the single "test" command - which makes me think something is caching in your local client. Do you get the same menu if you open the app in the web browser or on mobile (trying to figure out where the cache is happening)?

@tacri any insights here?

[2020-11-19 03:43] don4of4 commented on #6101
@clearab Yes, that's the crazy thing, this happens on multiple computers, even ones that are totally virgin to the old version of the app/bot.  For example, I just opened edge, clicked this brand new app (I created above) and the full set of menus are there.

![image](https://user-images.githubusercontent.com/871843/99618462-f3892380-29e6-11eb-8dc1-f7b4da74ef1c.png)

[2020-11-19 03:52] clearab commented on #6101
Ok, seems like a caching bug on your user profile then. Can you try an explicit logout / login and see if that at least unblocks you for now? Do you know if any of your users are experiencing the same?

[2020-11-19 03:54] don4of4 commented on #6101
All users -- hence the issue.  Once bot menu's turn on -- it's an immutable plague for all that touch the bot.

[2020-11-19 03:57] clearab commented on #6101
Ok, thanks for all the additional info, and my apologies for the 20 questions. I'll get the right folks from the Teams group engaged to get this resolved.

[2020-11-19 04:06] don4of4 commented on #6101
Thank you, I appreciate the help.  For completeness -- this also survives log out / log in.  It appears my only option right now is to pull the entire app with some admin policy, and do a force install of a _new_ app.

_That really puts this bug in the "severe" or "showstopper" bucket for me.  IMO this menu feature should be pulled if the menus are accidentally immutable._

[2020-11-19 11:39] garypretty commented on #6036
@gabog Dropped some time in for us to discuss tomorrow.

[2020-11-19 17:21] sjaintdl opened #6114 "Issue to get and store the Azure Bot response from QnA Maker?"
I am able to store the user's question but not able to store the coming response "**Message**" Or "**Text**" of Azure bot from QnA maker.
Can anyone help me on how to get the response "**Message**" Or "**Text**" to store in database?

[2020-11-19 19:33] jwiley84 commented on #6114
Hi @sjaintdl

[Botframework-SDK issues](https://github.com/microsoft/botframework-sdk) is used for reporting bugs and feature requests. The bot framework teams prefers that general "how-to" questions use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

When you open your question on Stack Overflow, please clarify your use case: if you're looking to log to state, or to ap

[2020-11-19 19:33] #6114 closed

[2020-11-19 23:09] KirbyMcKenzie opened #6115 "Proactive Messaging: 'Authorization has been denied for this request' on server restart"
## Version
Node.js  v4.9.3

## Describe the bug

Hi there,

We are using the botframework to power a chatbot experience in Microsoft Teams. Many of our use cases involve proactively messaging users, we have [followed the documentation](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-proactive-message?view=azure-bot-service-4.0&tabs=javascript) closely by storing/retrieving con

[2020-11-20 17:05] clearab commented on #6101
The Teams group was able to repro this successfully, and have filed a bug. I will follow up again when I have an ETA for a fix.

[2020-11-20 17:36] jwiley84 commented on #6115
Hi @KirbyMcKenzie

[Botframework-sdk issues](https://github.com/microsoft/botframework-sdk) is used for bugs and feature requests. The bot framework team prefers general "how-to" questions use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

If you were hosting your bot on Azure, I would recommend you set the setting 'Always On' to true, to prevent the bot from going int

[2020-11-20 17:36] #6115 closed

[2020-11-22 07:02] gabog opened #6186 "DialogManager does not return EoC code when a dialog ends"
## Version
4.11.1.

## Describe the bug
In waterfall dialog, the RunAsync extension method evaluates the result from the dialog and sets the Code property in the Eoc activity being sent back [see DialogExtensions.RunAsunc](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs/DialogExtensions.cs#L84).

Dialog manager doesn't set the code (see [DialogManag

[2020-11-22 16:35] elibery opened #6116 "Use certificate instead of secret for OAuth configuration"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2020-11-22 18:50] EricDahlvang commented on #6089
Please share the code which is creating the sign-in card.

What is the bot's microsoft appid, and timestamps of when this occurred?

[2020-11-23 11:30] ashok-dot commented on #5371
Hi Team,

I am facing the below issue after migrated LUIS ,it changed appkey,appID and hostname , i have configured correctly and save. i was restart machine ,i am check local emulator not working,then i was deployed to azure server checked chatbot still showing some error message " Operation returned an invalid status code 'Gone'".

var luisApplication = new LuisApplication(
Environment.GetEnviro

[2020-11-23 18:51] #6108 closed

[2020-11-24 00:56] Zerryth commented on #5887
* [bb-dotnet pull#5002](https://github.com/microsoft/botbuilder-dotnet/pull/5002) will partially address this issue, specifically with removing the auto-generated comments
* Will make a separate PR for the second portion for dotnet edits requested to consolidate partial classes into one class each

[2020-11-24 07:04] ashok-dot opened #6118 "luis configuration issue"
Hi Team,

I am facing the below issue after migrated LUIS ,it changed appkey,appID and hostname , i have configured correctly and save. i was restart machine ,i am check local emulator not working,then i was deployed to azure server checked chatbot still showing some error message " Operation returned an invalid status code 'Gone'".

var luisApplication = new LuisApplication(
Environment.GetEnviro

[2020-11-24 17:27] jwiley84 commented on #6118
@ashok-dot

[Botframework-sdk issues](https://github.com/microsoft/botframework-sdk) is used for bugs and feature requests within the bot framework sdk. The bot framework team prefers people to use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

That being said, and error of: status code 'Gone' indicates that your bot is unable to communic

[2020-11-24 17:27] #6118 closed

[2020-11-24 23:18] ashok-dot opened #6119 "chatbot:Operation returned an invalid status code 'Gone'"
Bot Info
Bot Framework SDK Version: 4.3.2
SDK Platform: .NET Core 3.1
Active Channels: Microsoft Teams Chatbot
Deployment Environment: Azure App Service (West Europe)

I am facing the below issue after migrated LUIS ,it changed appkey,appID and hostname , i have configured correctly and save. i was restart machine ,i am check local emulator not working,then i was deployed to azure server checked c

[2020-11-25 15:40] UtkarshSinghal17 opened #6120 "BotTelemetry not storing any details in Application Insights"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
Microsoft.Bot.Solutions 1.0.1

## Describe the bug
Give a clear and concise description of what the bug is.
I have add

[2020-11-25 18:29] jwiley84 commented on #6119
Closing as a duplicate of https://github.com/microsoft/BotFramework-Services/issues/268

and a duplicate of this: https://github.com/microsoft/botframework-sdk/issues/6118

[2020-11-25 18:29] #6119 closed

[2020-11-25 21:34] v-kydela commented on #6120
Thank you for the report, @UtkarshSinghal17. Can you give an example of some information you're expecting to be logged that you're not seeing?

[2020-11-26 01:29] ashok-dot commented on #6119
Bot Info:

Bot Framework SDK Version: 4.3.2

SDK Platform: .NET Core 3.1emphasized text

Active Channels: Microsoft Teams Chatbot

Deployment Environment: Azure App Service (West Europe)

I am facing the below issue after migrated LUIS ,it changed appkey,appID and hostname , I have configured correctly and save. I was restart machine ,I am check local emulator not working, then I was deployed to a

[2020-11-26 10:54] HesselWellema commented on #5851
Hi Team,

I need to be able to start new dialogs based on result of QnAMaker. Since #2289 I am unable to do so.in QnAMaker Dialog,  Is this request still on your board or do I need to create a new one.

thank you
Hessel

[2020-11-26 14:43] UtkarshSinghal17 commented on #6120
I am looking for basic details like ActivityId, ConversationID, ChannelID, etc.
Just attaching a screenshot of the power bi data that I am getting.
![image](https://user-images.githubusercontent.com/44197601/100364146-b8f53b80-3023-11eb-937b-ea51aa38934d.png)

[2020-11-27 04:42] KirbyMcKenzie commented on #6115
For anyone else with this issue, I was able to resolve the issue using the [botframework-connector](https://www.npmjs.com/package/botframework-connector) to send the proactive message.

I have also left a code snippet of how to use the connector in [this Stack Overflow post](https://stackoverflow.com/questions/64961922/proactive-messaging-authorization-has-been-denied-for-this-request-on-server/65

[2020-11-27 12:24] HesselWellema commented on #5854
Hi Team,

Do you have plans to implement this?

[2020-11-28 08:35] xtcparis commented on #1465
Are you using a live server to deploy your facebook messenger or you are using any local server or localhost, If you are not using a live server it is not accessible to anyone. You need a live server like google cloud to access the bot from anywhere or with any user

[2020-11-30 23:29] #5913 closed

[2020-12-01 18:40] GeoffCoxMSFT commented on #6123
Transferred to the sdk repo and marked for triage.

[2020-12-02 00:04] clearab commented on #5827
We're tracking towards complete support across all clients by the first week of January. I'm going to go ahead and close this issue now.

[2020-12-02 00:04] #5827 closed

[2020-12-02 01:05] scheyal opened #6126 "Share release changelist with 1P earlier than RC"
PVA requested to get early preview of upcoming changes.
Need to add it to the process.

[2020-12-02 05:20] EricDahlvang commented on #6123
I think this is by design.

[2020-12-02 07:23] lqchinh88 opened #6127 "Unable to save Facebook channel registration pageID & token"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Botframework v4

## Describe the bug
I'm setting up Facebook channel registration for my bot. I have multiple Page IDs and Page Access Tokens that's working fine. Ho

[2020-12-02 18:31] cleemullins opened #6128 "Automate creation of Change Logs for Builds"
For each build we do (certainly RC builds, and possibly nightly builds) we should have a changelog included with that build.

To do this, we need:
1. Define the changelog format. The markdown format the script currently emits seems fine.

2. Decide on the ranges for the changelog. Does the changelog for a nightly show everything since the last major release?

3. Decide on mechanism for sharing the

[2020-12-02 21:38] hcyang commented on #6123
Hi @boydc2014, per @Stevenic's comment, can you check if this issue a regression?

[2020-12-02 23:02] danieldangler opened #6130 "Web App Bot cant insert records in the Azure Table Storage"
## Version
Microsoft Bot Framework SDK 4.0

## Describe the bug
I implemented a new feature to write user messages to the Azure Table Storage. When I test the bot locally, everything works as planned. If I upload the code to an Azure Web App Bot and test it in Azure, the bot does not write anything to the storage. But why?

## To Reproduce
1. Build a web app bot inside Azure
(I used this: https://

[2020-12-03 02:04] EricDahlvang commented on #6123
@hcyang i checked 4.10, and the behavior was the same.

[2020-12-03 08:17] matthiasdilger commented on #5827
Thanks @clearab! Already seems to work everywhere except iOS 🙏

[2020-12-03 19:04] jwiley84 commented on #6127
Can you clarify your case here? Which CLI are you using and the full command (with tokens and IDs redacted)?

[2020-12-04 01:34] danghoanghai opened #6131 "'BadRequest' when send to specify groups - Bot Framework 4"
I have an issue with Skype Chatbot. I have integrated chatbot in my system, store group conversationId, serviceUrl, etc... in DB and send to these groups when needed. My system is using .NET Core 2.2 and Bot Framework 4 (version 4.7.0), the system worked well until 2 days ago. I have only 2 groups that cannot receive messages from Bot, the other groups still receive messages. My service throws the

[2020-12-04 03:24] danghoanghai commented on #6131
for more information. Almost groups that send messages failed to have the Conversation ID look like that: ...@p2p.thread.skype while the others like ...@thread.skype. Is it different?

[2020-12-04 03:52] lqchinh88 commented on #6127
az bot facebook create -n Kratos-Production -g innaway-cuong-bot --appid 381957805749898 --page-id {pageID} --secret {secret} --token {token}

[2020-12-04 04:05] shiv479 opened #6132 "Send welcome message to users on Teams when they open chat window"
We have developed a chatbot using Microsoft Bot Framework sdk v4.0. The bot is exposed over Teams channel only using an app created in Teams app studio(Personal Scope Bot). The bot sends a welcome message to users when they installs the bot in their Teams app. But we also want to send a welcome message to users when they open/reopen the chat window. Can we achieve this in Teams Channel? Or is ther

[2020-12-04 06:33] huyjack178 opened #6133 "Failed to decrypt conversation id for format *==@p2p.thread.skype"
Hi, currently, our old skype group has id with this format 19:I3RyYW5jaHVvbmc4Mi8kYW5ocGRfYnM7MzZjNzE3ZjFjMjI4YWI4MA==@p2p.thread.skype

And when send via bot framework, I got this Failed to decrypt conversation id error in portal
Can you help me solve this problem?
![image](https://user-images.githubusercontent.com/11793001/101130022-498bd700-3635-11eb-8444-fcf1cd983258.png)

[2020-12-04 19:30] clearab commented on #6132
No, there is no event that is sent to the bot when a user opens the chat window.

[2020-12-04 19:30] #6132 closed

[2020-12-05 12:41] cxbuilders commented on #6123
@EricDahlvang I have tried adding the ObjectExpressionConverter to the MyObject class, but there is no difference, it also gets never called?

@Stevenic I am now using the valueExpression in the Custom Action, with the ObjectExpression in the schema. This works great and I can do the casting myself.

This solves my problems, so from my side it's all ok!

[2020-12-06 19:03] hcyang commented on #6133
Hi @EricDahlvang, any updaet?

[2020-12-06 19:03] hcyang commented on #6131
Hi @anusharavindrar, any update?

[2020-12-06 19:08] hcyang commented on #6130
Hi @stevkan, any update?

[2020-12-06 19:09] hcyang commented on #6127
Hi @jwiley84, please update regarding to @lqchinh88's response. Thanks.

[2020-12-06 23:59] EricDahlvang commented on #6133
Please share the stack trace for the error.

What code is sending the message? Is this a recent error on an existing bot? What does 'old skype group id" refer to from the perspective of the bot?

Unfortunately,  the skype channel has been deprecated. As far as i know, existing bots should still function. But i need to check on this.

[2020-12-07 02:52] huyjack178 commented on #6133
Hi @EricDahlvang, here you are
[code]

[2020-12-07 09:07] #6123 closed

[2020-12-07 13:12] kiranbudati opened #6135 "Create conversation with id/aadObjectId and send message to user even he/her didn't have bot added to their teams"
I'm trying to create a conversation with a newly created bot with user email or id (aadObjectId ) , I'm able to get user id/aadObjectId with email through graph API, but unable to create a conversation with botframework rest api.

Is there any way to create a conversation / send a message to a particular user with having only aadObjectId?

[2020-12-07 22:17] kahopkin opened #6136 "ServiceError when "return to application without granting consent" in the consent screen is selected"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
azure bot service 4.0

## Describe the bug
We are getting the below error message on the prompt screen in MS Teams whenever we select "return to application without

[2020-12-07 23:06] anusharavindrar commented on #6131
@danghoanghai, I see that you have opened an exact same Stack Overflow [issue](https://stackoverflow.com/questions/65123816/badrequest-when-send-to-specify-groups-bot-framework-4). I will respond on SO so that it benefits the greater community.

[2020-12-07 23:08] stevkan commented on #6131
Closing, per request.

[2020-12-07 23:08] #6131 closed

[2020-12-08 03:04] lqchinh88 commented on #6127
Any update ?

[2020-12-08 04:03] lqchinh88 commented on #6127
I'm pretty sure the token is valid with all needed permission, is there any way I can add them into channel settings without verification, just to get it to work first ? It's a production environment so I dont have much time

[2020-12-08 08:08] lqchinh88 commented on #6127
I found the issue. One of the existing token expired, so I was unable to save new one when it's still in the list.
If there's a feature highlighting only the unacceptable one , and accept the rest, we will be able to manage our page IDs and tokens easier

[2020-12-08 10:18] danghoanghai commented on #6131
okay, thank you. Hope will hear your news soon.

[2020-12-08 13:24] ManuNswamy opened #6137 "Return to application without granting consent displays Error Message"
Post the sign in, a page which prompts consent for the permissions needed for the application is displayed. On selecting "return to the application without granting consent" option an error message is displayed[screenshot attached].

![image](https://user-images.githubusercontent.com/29920276/101489316-ca750680-3986-11eb-8905-297465522c8d.png)

I have followed the page by microsoft that is https:/

[2020-12-08 19:08] stevkan commented on #6130
Hi @danieldangler, can you verify that you are including the table storage credentials in your app service configuration?

[2020-12-08 19:15] danieldangler commented on #6130
Hey @stevkan , the credentials are at the moment hardcoded in my GetTableReference() method, (first screenshot, i have changed the credentials with the placeholders "CONNECTION STRING" and "TABLE NAME"). Do i need them also in the App Service configuration?

Thanks for your time!

[2020-12-08 19:18] dmvtech commented on #6135
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2020-12-08 19:18] #6135 closed

[2020-12-08 19:18] dmvtech commented on #6135
@kiranbudati Please see this thread here:
https://stackoverflow.com/questions/65193250/bot-connector-api-send-message-to-aadobjectid-directly

[2020-12-08 19:19] jwiley84 commented on #6136
hi @kahopkin

Thank you for bringing this to our attention. for tracking purposes, i'm going to close this issue and post all work/conversation on [this issue](https://github.com/microsoft/botframework-sdk/issues/6137)

[2020-12-08 19:19] #6136 closed

[2020-12-08 19:24] jwiley84 commented on #6137
Hi @ManuNswamy

Thank you for bringing this to our attention. I'm going  to attempt a repro of this issue: in the meantime, can I get a few more details:
Are you using any of our samples as the base for this bot, such as the [Sample 18. Bot Authentication]() or [Sample ## Authentication with MSGraph]()?
Which language SDK are you using?
Are you using AADv1 or AADv2?

Thank you!

[2020-12-08 20:46] clearab opened #6138 "Adaptive Card Tabs"
## Overview

Teams is adding support for personal (1-1) tabs populated with Adaptive Cards based on invoke responses sent from a bot. When the user first views the tab, an invoke will be sent to the bot, and the bot will be able to respond with a list of Adaptive Cards. The cards will be rendered inside the tab as a flat list (more complex layouts are being considered for future iterations).

The

[2020-12-08 20:52] clearab opened #6139 "Support for new installation action types"
Teams is going to begin sending two new action types for the installationUpdate event - `add-upgrade` and `remove-upgrade`. This allows the bot to distinguish if the bot is being added /removed as part of an app upgrade scenario, rather than a fresh install.

In order to support this we'll need to dispatch the events appropriately. After discussion with them, we believe the best way to change this

[2020-12-09 10:58] garypretty commented on #6036
@gabog @EricDahlvang I believe we agreed we would surface this setting, leaving the default as 'Normal'. The decision to make this the default is to ensure we do not break folks who are already using the action. Am I remembering that correctly?  I am going to mark this one as a P1 for R12 given I believe the effort to implement is relatively low.

[2020-12-09 13:35] ManuNswamy commented on #6137
We are not using any of the samples. Our application is built using C# with AADv2,

[2020-12-09 15:57] EricDahlvang commented on #6036
@garypretty  here is the PR for this:

https://github.com/microsoft/botbuilder-dotnet/pull/4830

[2020-12-10 16:45] pedro-ramirez-suarez commented on #6094
Has this been resolved? I have a similar issue, the bot asks for some data and it performs some calculation, and then asks the user if the result is correct, if the users said "no" the dialog is repeated, this works two times but the third time that the user said "no" the bot returns the "value cannot be null error"

[2020-12-10 19:33] EricDahlvang commented on #6133
Is this an existing bot, with a new exception?  Did sending this same message in the same way work before, but now does not?  Is it every time you send a message?  Are you using a new bot to send to this group conversation?

If this exception is new, when did it first appear?  Please elaborate more regarding the circumstances and history behind this error.

(transferring this issue to the services

[2020-12-10 22:47] cleemullins opened #6140 "Updates to Adaptive Schemas"
1. Single Source of Truth
Schema files are currently each in language repo ([C#](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Microsoft.AdaptiveDialog.schema), JS, etc). We need a single-source of truth for these.

2.  Localization
We need a localization story for the Labels and Descriptoins.

3. Tooling Need tooling to extract t

[2020-12-11 02:11] stevkan commented on #6127
@lqchinh88, apologies for the delayed response. Unfortunately, the one who was helping you took ill. I am glad you were able to discover what the issue was. As for the channel indicating invalid tokens, that would be a 'feature request'. If you feel strongly about this, you can post this request at the [BotFramework-Services](https://github.com/microsoft/BotFramework-Services/issues/new) repo for

[2020-12-11 02:11] #6127 closed

[2020-12-11 18:58] stevkan commented on #6130
@danieldangler, hard-coding the creds should be fine, though I'd argue placing them in the app service configuration is a better option (but that is another topic).

How are you publishing your bot? Are you doing so thru Visual Studio? If so, there is an option you can select that tells the service to remove/delete all files before deploying the new files. I'm not confident that this is the issue,

[2020-12-11 21:19] anusharavindrar commented on #6137
Looking into this. Will attempt a repro on my end and update the thread.

[2020-12-13 11:58] peterbozso opened #6141 "Make it possible to store activity logs as transcript files in Blob Storage"
**Is your feature request related to a problem? Please describe.**

Currently, if you use the `TranscriptLoggerMiddleware` with the `BlobsTranscriptStore` implementation, the middleware will log activities to blob storage individually, creating a separate JSON file for each activity inside a folder that is named after the conversation ID. This is very strange to me, because I would expect the exac

[2020-12-14 10:43] danieldangler commented on #6130
@stevkan i used two methods to publish the code:

1. I have tried to publish the code via azure pipelines
2. I have tried to publish the code via Visual Studio

i just tried if the publishing process in visual studio works if you delete all files in the app service but unfortunately without success

[2020-12-14 17:17] peterbozso commented on #6141
@joshgummersall Okay, thanks! So what's the next step now? As I mentioned in my issue description, I am more than happy to help with the implementation, but there I meant only the C# SDK. (I am comfortable with JS too, I just rather not work with it in my free time. :))

[2020-12-14 17:38] joshgummersall commented on #6141
I will consult with the SDK team to decide how to proceed. Thanks for filing and offering to assist with the implementation! We will get back to you once we have discussed it.

[2020-12-16 18:14] Weatwagon opened #6142 "Access Botframework Api Published Behind Azure Application Proxy"
## Issue

We have a 3rd party vendor who recently released an integration with MS Teams with a provided bot. The bot is published individually into our own tenant. We have their application already published via the Azure Application Proxy. The botframework api is part of the application and can not currently be published separately. Currently the bot cannot communicate to the on-prem api through

[2020-12-17 14:57] silverbulletgt opened #6143 "Adaptive Dialog called through code which calls a skill produces the error: System.NullReferenceException: 'Unable to locate SkillConversationIdFactoryBase in HostContext'"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.11.1

## Describe the bug
After following the instructions on this post: experimental-add-composer I get the error System.NullReferenceException: 'Unable to locate

[2020-12-17 19:09] v-kydela commented on #6143
Closing as duplicate of https://github.com/microsoft/botbuilder-dotnet/issues/5057

[2020-12-17 19:09] #6143 closed

[2020-12-21 03:28] anusharavindrar commented on #6137
@ManuNswamy, apologize for the delay in response. I am unable to repro the issue on my end. As soon as I connect to the Teams channel and sign in, it does not open the page which prompts consent for the permissions needed for the application is displayed, but just logs me in with an option to view the token. Could you elaborate on the steps that led you to getting the ServiceError?
![image](https:

[2020-12-21 08:25] DanieleS82 opened #6144 "Dynamic parameters in "HTTP request" component"
Implement the possibility to dynamically set, into "HTTP request" component, the fields "method" and "headers".

More info could be read [here](https://github.com/microsoft/BotFramework-Composer/issues/5328).

[2020-12-21 08:39] dviry opened #6145 "Outgoing WebHook Activity.ChannelData has invalid teamsTeamId"
According to the [documentation](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/conversation-basics?tabs=dotnet#teams-channel-data) and my understanding the received Activity.ChannelData should include the teamsTeamId - yet even the [Example below](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/conversation-basics?tabs=dotnet#

[2020-12-21 19:11] EricDahlvang commented on #6144
@garypretty  would you help prioritize this work please?

[2020-12-21 19:24] EricDahlvang commented on #6141
The owner of this is out for vacation until the new year.

[2020-12-22 03:06] EricDahlvang commented on #6145
Sorry, but it looks like channelData.teamsTeamId is **Deprecated**.   I'm not sure how long it has been deprecated, but it is possible the value is no longer sent by Teams.

Is the goal to retrieve a list of channels in a Team?  We have some documentation describing how to accomplish this in a bot here:
https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/get-teams-context?tabs=dot

[2020-12-22 16:12] dviry commented on #6145
The linked example shows the "supported" channelData.Team.Id which has the same (wrong) value.
The docs are not wrong - I am receiving the same "false" information.
I cannot use the example you linked since I am using "outgoing webhook bot" as mentioned in my issue Ticket.

I would kindly suggest you read again my first message since none of your answers seem to reflect my mentioned issue - How to

[2020-12-22 17:20] EricDahlvang commented on #6145
I apologize if I'm not understanding.  I'm only familiar with the Bot Framework and SDK.  Teams webhooks are outside of my area of knowledge.  Stack overflow might be a better place for this question.  This is the BotFramework-SDK repository, and is intended to be used for DCR's related specifically to the Bot Framework and SDKs.

Does this stack overflow answer help?
https://stackoverflow.com/que

[2020-12-23 01:06] stevkan commented on #6130
@danieldangler, thank you for your patience. I'm going to ask that you post this on [Stack Overflow](https://stackoverflow.com/questions/ask) as this really is a "how-to" question in which you are trying to roll your own storage solution for logging user activity. The official [Bot Framework Github](https://github.com/microsoft/botframework-sdk/) repo is the preferred platform for information on s

[2020-12-23 01:06] #6130 closed

[2020-12-23 19:11] asdkant-ey opened #6146 ""no match response" button present in qna maker dialog when active learning is disabled"
## Version
4.11.0

## Describe the bug
The "no match" button to be used when active learning is enabled is shown when active learning is **NOT** enabled

## To Reproduce
Any bot using `botbuilder.ai.qna.dialogs.QnAMakerDialog()` will present a question's prompts plus the "None of the above." prompt.

## Expected behavior
The "None of the above." prompt should not be present if the QnA KB does not

[2020-12-23 19:14] EricDahlvang commented on #6146
Thank you for raising this @asdkant-ey   This is the current behavior of all sdk language versions, so we've moved this to the overall SDK repos and we will triage this feature request for a future release.

[2020-12-23 20:06] EricDahlvang opened #6147 "OAuthPrompt and OAuthInput should check token expiration"
## Issue

The current recommendation is to not store tokens in the bot, but make a call to the service whenever a token is needed.

https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/18.bot-authentication/Dialogs/MainDialog.cs#L74
[code]

This is great.  However, the tokens are sometimes expired.  The service does not check this, and the sdk prompts do not check th

[2020-12-28 02:15] jameschiang-1014 opened #6148 "Azure Bot service can support app id + certification or not when create a web chat bot or channel registration"
From Microsoft document, no matter from create bot from bot service, bot channel registry and FAQ, what I see is we only provide client secrets example and do not show any certification based solution.
In the same time, from azure portal, I do not see any field we can provide certification based registration.
Create bot from bot service
https://docs.microsoft.com/zh-tw/azure/bot-service/abs-quicks

[2020-12-28 23:14] anusharavindrar commented on #6137
Closing due to no response. Please feel free to re-open if issue persists.

[2020-12-28 23:23] joshgummersall commented on #6148
We don't currently have a sample that illustrates certificate-based authentication; however, it is possible. Most of our samples rely on an existing Bot Channel Registration that is tied to an AAD app. Once the Bot Channel Registration is created, you can:

1. Go to the associated AAD app
2. Delete all the client secrets
3. Upload a certificate file
4. Configure the Bot to load and use the certifi

[2020-12-30 05:51] clearab commented on #6145
Hi - The channelData.teams.id field is the conversationId of the default (typically general) channel of for that team. It is not the same as the groupId. To get the Id needed for Graph calls use the [getTeamDetails](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/get-teams-context?tabs=json#get-teams-details) method.

[2020-12-30 22:46] #5912 closed

[2020-12-30 22:46] #5892 closed

[2021-01-03 16:51] dviry commented on #6145
I guess the name is misleading - either way, I cannot query the bot's serviceUrl since I do not have a token for it (not running within a Bot context - it is an "[outgoing webhook](https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/add-outgoing-webhook)"). The GraphAPI equivalent requires a TeamsID+ChannelID (I only have the UserID and ChannelID).

I would thin

[2021-01-04 21:01] elraikhm opened #6150 "Issue report from Azure SDK survey"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.
We received the following complaint with one of the Azure SDK survey responses:
"When trying to publish a bot using the Microsoft bot framework to azure, around 50% of the time

[2021-01-04 23:12] clearab commented on #6145
Hi - This question is going to be best answered by the Teams group (since it sounds like you're trying to not use a bot for the interaction). I've ported it to their repository here: https://github.com/MicrosoftDocs/msteams-docs/issues/2550. Please follow that thread, and we can continue the discussion there.

[2021-01-04 23:12] #6145 closed

[2021-01-05 00:22] dviry commented on #6145
Thanks, much appreciated!

Stay safe.

[2021-01-05 19:05] #5854 closed

[2021-01-06 09:41] michaeljdresser opened #6152 "Oauth Connection - The resource you are looking for has been removed, had its name changed, or is temporarily unavailable."
## Version
Not applicable

## Describe the bug
After signing into the 3rd party provider (OAuth2 Generic Provider) the following message is displayed in the sign in page and the authentication process fails.
"The resource you are looking for has been removed, had its name changed, or is temporarily unavailable."

## To Reproduce
Created an application using the Bot Framework Solutions Skill templa

[2021-01-06 13:23] RohitMungi-MSFT commented on #6144
#https://github.com/microsoft/BotFramework-Composer/issues/5328
#https://docs.microsoft.com/en-us/answers/questions/193661/index.html

Referencing related threads for more information

[2021-01-08 00:03] clearab commented on #5816
This has been implemented.

[2021-01-08 00:03] #5816 closed

[2021-01-08 03:25] M365Devme opened #6153 "Azure Bot Framework Echo Bot NullReferenceException"
I just created a new bot with bot framework V4 using the Bot Framework v4 SDK Templates for VS 2019. I created a new Echo bot based on .net core 3.1, when I run it and try to use it with the Emulator, I get an exception right away as this:

![image](https://user-images.githubusercontent.com/74480666/103970841-2d4cef80-5137-11eb-95e2-6bbed9c89633.png)

System.NullReferenceException: 'Object referen

[2021-01-08 06:00] RajdeepRay0411 commented on #4758
Hi @EricDahlvang, I am also facing the same issue for the MS teams channel when I am using "var data= await turnContext.SendActivityAsync(replyActivity)". The exception is coming as one of them: "Operation returned an invalid status code 'NotFound'", "Operation returned an invalid status code 'Forbidden'" and "Operation returned an invalid status code 'BadRequest'". Can you help me out with this?

[2021-01-08 10:23] RajdeepRay0411 opened #6154 "Operation returned an invalid status code 'NotFound'"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
SDK Platform: .NET Core 3.1
SDK Version: 4.8.0
Active Channel: MSTeams
Deployment Environment: Azure bot Service/localhost

## Describe the bug
when I am using "var

[2021-01-08 17:20] Spoonrad opened #6155 "REST API - empty 202 response when sending activity containing attachments"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
[Bot framework REST API v3
](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-bot-service-4.0) for a

[2021-01-08 20:12] EricDahlvang commented on #6155
Hi @Spoonrad

Please try sending one message with the text alone, and a second with the attachment and no text.  Do you receive a ResourceResponse.Id then?

[2021-01-08 20:46] Spoonrad commented on #6155
Yes, that works!
In that case though, I'm not sure where to put the text. I understand that I can add it in an Adaptive Card Container, but I'm afrais the display is going to change. I would still consider it a bug that it does not send a 201 response with attachments + text, but thanks for the workaround, which I will try soon and I'll make an update.

[2021-01-08 21:16] clearab commented on #6155
Unfortunately, this is the expected behavior in Teams. They are considering altering the behavior in the future, but currently this is as designed. What is the desired design for your message? Is there a reason you're not putting the text in the body of the Adaptive Card?

[2021-01-08 21:36] v-kydela commented on #6153
Closing to address on Stack Overflow: https://stackoverflow.com/questions/65623015/azure-bot-framework-echo-bot-nullreferenceexception

[2021-01-08 21:36] #6153 closed

[2021-01-08 23:10] EricDahlvang commented on #6153
Hi @M365Devme

This is a known issue in 4.11 sdk.  The exception is internally caught, and can be safely ignored.  More information can be found here: https://github.com/microsoft/botbuilder-dotnet/issues/4867

[2021-01-10 09:18] RajdeepRay0411 opened #6156 "Conversation state unavailable error when adding Composer Dialogs in Virtual Assistant Template"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
SDK runtime packages: 4.11.1

## Describe the bug
When I am trying to connect composer dialogs in my Virtual assistant template then I am getting an error in the **D

[2021-01-11 05:21] RajdeepRay0411 commented on #6154
Hi @jwiley84, are there any updates on this issue?

[2021-01-11 10:05] ManuNswamy commented on #6137
Hi Team,

My sincere apologies for not responding to the thread.

The scope used in azure connection string AADv2 is **openid profile email User.Read Group.Read.All ChannelMessage.Send**

To get a prompt for consent window, you will have to add the scope as mentioned above. Do let me know if there is any more information needed.

[2021-01-11 13:31] garypretty commented on #6146
@EricDahlvang I have marked this as a P1 for R12, based on my assumption that this fix should be minimal in terms of changes. If this is more complicated then we can revisit the priority vs other R12 committments.

[2021-01-11 13:32] garypretty commented on #6146
Assigned to @cleemullins for assignment out to the team.

[2021-01-11 13:41] garypretty commented on #6144
This is a good feature request.  We probably won't get to this in R12, so I am adding this as an R13 item.  My assumption is that we will essentially allow the user to specify an expression for values such as the 'method'.

[2021-01-11 13:50] garypretty commented on #6141
I like this suggestion.  @EricDahlvang could you possibly ask the appropriate folks and try and understand if there is a specific reason we have things broken into individual blobs currently?

@peterbozso whilst I like the suggestion here, it isn't something I hear a lot of demand for, so we will need to consider priority once we have an answer to the above.  One suggestion might be to go ahead an

[2021-01-11 13:59] asdkant-ey commented on #6146
I've worked around the issue by monkeypatching `QnACardBuilder.get_qna_prompts_card`. It's an ugly hack but at the very least it works in the meantime (so long as I don't want to use active learning)

To do this, paste the code below to `MonkeyPatch.py` and follow the instructions in the comment:

[code]

[2021-01-11 14:51] caleberi opened #6157 "Intergrating Chatbot with onscreen Keyboard"
Due to how the chatbot was written it seem quite difficult intergrating it with an HTML/JS/CSS onscreen keyboard , As one can not trigger a submit event and also update the search input . please any suggestions?

[2021-01-11 15:20] Spoonrad commented on #6155
Hi @clearab Thanks for your reply

I've tried putting into the card via TextBlock:
[code]

However, there are some problems:
- Text format syntax in a card is different than text rendering outside of it. We use the "xml" format on Teams. I've taken a look at the markdown options for AdaptiveCard, which would have been great (because right now we have to map all of our markdown to an XML format) bu

[2021-01-11 16:09] peterbozso commented on #6141
@garypretty Thanks for the suggestion, that's a good idea! I am already familiar with the Community project, I added a [Postman collection](https://github.com/BotBuilderCommunity/botbuilder-community-tools/blob/master/directline-postman/README.md) to the tools repo 2 years ago. I'll wait for Eric's answer regarding the current implementation - maybe it's really just me "holding it wrong" :) -, but

[2021-01-11 19:56] clearab commented on #6155
Typically when you're creating an Adaptive Card you'd attempt to minimize the necessary in-line formatting, and instead use the formatting support in the layout of the card itself. Have you seen the card designer? It is available here (there's also one inside App Studio in the Teams client): https://adaptivecards.io/designer/

The reason for the different response is Teams actually splits your mes

[2021-01-11 23:01] clearab commented on #6101
My apologies for the delayed response - the Teams group is continuing to work on a fix for this issue, but with no ETA yet.

[2021-01-12 00:25] v-kydela commented on #6156
Thank you for the report, @RajdeepRay0411

You can see in the [adaptive dialogs samples](https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/adaptive-dialog/01.multi-turn-prompt/AdapterWithErrorHandler.cs#L25) that the conversation state is made available using the [`UseBotState`](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Build

[2021-01-12 04:03] BVarella opened #6158 "Bot using Adaptive Dialog doesn't work in Telegram channel"
## Version
"botbuilder-dialogs-adaptive": "^4.10.4-preview"

## Describe the bug
I am currently developing a Bot using the new Adaptive Dialogs. It works normally in the Emulator and in the Azure Web Chat. The problem occurs when I connect it to Telegram. My bot simply does not answer anything.

I have already programmed some bots using this framework (without Adaptive Dialogs) and I have never ha

[2021-01-12 04:14] MODNXS-cell opened #6159 "Pure energy"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2021-01-12 10:27] Spoonrad commented on #6155
Thanks for your assistance, I will send two messages. I'm looking forward to the full width adaptive cards that were announced.

I also have a significant issue with how messages are formatted in MS-Teams and the bot framework that I'd like to raise. It's not a bug per se, more like a design problem that makes life difficult for developers. Do you know where I could voice this?

[2021-01-12 10:27] #6155 closed

[2021-01-12 11:32] RajdeepRay0411 commented on #6156
Hi @v-kydela, the issue is a duplicate of "**Conversation state unavailable error when adding Twilio/ Infobip service integration** "- where the user is trying to integrate with Twilio adaptor but I am trying to integrate composer dialogs with a virtual assistant for teams cannel but facing the same issue as his.

[2021-01-12 12:53] caleberi opened #6160 "CHATBOT ONSCREEN KEYBOARD UNSUPPORTED"
Intergrating an html/css/js onscreen keyboard with a csharp version of  bot  seems impossible . why ?

[2021-01-12 17:00] jwiley84 commented on #6160
Closing as a duplicate of https://github.com/microsoft/BotFramework-WebChat/issues/3662

[2021-01-12 17:00] #6160 closed

[2021-01-12 17:01] #6159 closed

[2021-01-12 18:51] v-kydela commented on #6156
Hi @RajdeepRay0411

I'm sorry but that information doesn't help me because no solution or explanation was given in that other issue. Are you willing to provide the information I asked for?

[2021-01-12 19:31] v-kydela commented on #6158
Thank you for the report, @BVarella

Is it possible that the bot is encountering an error during the processing of incoming activities? To see any exceptions, you can run the bot in debug mode and still connect it to Telegram by using a tunneling service like [ngrok](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-debug-channel-ngrok) or [Azure Relay](https://blog.botframework.com/2

[2021-01-12 19:38] clearab commented on #6155
You can reach out to the Teams group directly using one of the methods outlined at https://aka.ms/teamsdevfeedback.

[2021-01-14 05:20] tsuwandy opened #6161 "Remove Orchestrator Roberta model from supported model list"
BAG team will no longer support the model and thus we should remove from Orchestrator model list.

[2021-01-14 07:37] tsuwandy commented on #6161
Changes merged to main.  Thanks @hcyang!

[2021-01-14 07:37] #6161 closed

[2021-01-14 19:29] tracyboehrer commented on #6154
@RajdeepRay0411 Have you tried to reproduce this on a newer SDK version?  The latest is 4.11

[2021-01-14 22:36] mattlangis commented on #3722
If you don't come from a slack thread, it will always reply where the message came from (ex: a channel).
From what I understood, it's because `TurnContext` do a `ApplyConversationReference` which always override any crafted reply with the reference `Conversation`.
See:
https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder/TurnContext.cs#L316
and
https://github.co

[2021-01-18 08:32] orsharab-zz opened #6167 "Add delete/remove method in DialogSet class"
**Is your feature request related to a problem? Please describe.**
We would like to be able to delete a dialog from a bot's DialogSet (by ID)

**Describe the solution you'd like**
Add DialogSet.delete(dialogId) function to DialogSet class

**Describe alternatives you've considered**
Disable typescript to be able to manipulate dialogs property in DialogSet

**Additional context**
We're handling Dia

[2021-01-19 04:57] MODNXS-cell opened #6164 "www.abs-qe.com/cert_validation."
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2021-01-19 13:25] cxbuilders opened #6165 "Ability to extend telemetry events"
It would be great to have the possibility to define additional custom customDimensions. Now I submit a custom telemetry event with the custom dimensions and in Application Insights it takes a lot of effort to tie all events together to teh one with the custom Dimensions based on the conversation ID.

Having the ability to predefine custom Dimensions (like =user.username etc) that would be submitte

[2021-01-19 16:16] ManuNswamy opened #6166 "Return to application without granting consent displays Error Message"
Post the sign in [non-admin user], a page which prompts consent for the permissions needed for the application is displayed. On selecting "return to the application without granting consent" option an error message is displayed[screenshot attached].

![Approve](https://user-images.githubusercontent.com/29920276/105061066-13989a00-5a9f-11eb-8fc4-c21f11426450.png)

![Error Message](https://user-imag

[2021-01-19 16:58] #6164 closed

[2021-01-19 17:32] joshgummersall commented on #6167
@orsharab I transferred this issue to the SDK repo as it touches all implementations of the SDK, not just Javascript.

[2021-01-19 22:46] v-kydela commented on #6158
@BVarella - Are you still working on this?

[2021-01-19 22:47] v-kydela commented on #6156
@RajdeepRay0411 - Are you still working on this?

[2021-01-20 07:48] DanieleS82 commented on #6144
Hi @garypretty ,
thanks for your support. It's important that also the "headers" field could be assigned with an expression or other dynamic way.
Thanks.

[2021-01-20 23:22] scheyal opened #6168 "Design request for SkillDialogOptions - conversationState attribute"
Please complete the investigation and recommended design pattern.

Thanks

From HealthBot:

[2021-01-20 23:25] joshgummersall commented on #6168
@gabog was there any resolution on this? Naively it seems possible to amend either the class hierarchy of `PrivateConversationState` or to simply make the `SkillDialogOption` property be typed as `BotState` instead of `ConversationState` as the only method used is defined on the parent class.

[2021-01-21 08:51] Harshul9089 opened #6169 "Interactive Message is not getting rendered in slack via botframework"
## Describe the bug
I am using slack adapter from the sample code given [here](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/60.slack-adapter). After running the code the attachment is not getting rendered into my slack application chat.
![image](https://user-images.githubusercontent.com/60145577/105325661-dcd39880-5bf2-11eb-94b8-7eed3b0fc934.png)

## Expected

[2021-01-21 09:47] kandelabr opened #6170 ""Title" keyword is added to Facebook when using adaptive cards with actions"
## Version
Azure bot framework channel registration, Facebook channel

## Describe the bug
When using adaptive cards on Facebook channel, with actions or in carousel, "Title" is added to the card. On webchat channel everything looks fine.

## Expected behavior
"Title" keyword should not be visible. Since title is required to be sent to Facebook, there should be an option to provide meaningful titl

[2021-01-21 19:10] LeeParrishMSFT commented on #6156
Closing for inactivity.

[2021-01-21 19:10] #6156 closed

[2021-01-21 19:10] LeeParrishMSFT commented on #6154
Closing for inactivity.

[2021-01-21 19:10] #6154 closed

[2021-01-22 17:32] anusharavindrar commented on #6166
Closing this and re-opening the original issue #6137  for further investigation.

[2021-01-22 17:39] #6166 closed

[2021-01-22 17:42] anusharavindrar commented on #6137
@ManuNswamy, thanks for the additional information above. Let me repro the issue with the above scopes and get back with my findings.

[2021-01-22 23:39] v-kydela commented on #6158
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2021-01-22 23:39] #6158 closed

[2021-01-23 00:46] SonOfJesseAsSnekithan opened #6171 "clicking 'submit' button on adaptive card is not working for WebEx Adapter"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.
I have already created an attachmentAction web hook in https://developer.webex.com/docs/api/v1/webhooks.
But when user click 'submit' button, no event is sent to my bot thru Web

[2021-01-24 04:48] MODNXS-cell opened #6172 "Ugh"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2021-01-25 12:13] darrenj opened #6173 "Orchestrator:interactive reporting "encoding not recognized""
## Version
@microsoft/bf-orchestrator-cli 4.11.0-beta.20201212.7d972c3 (beta)

## Describe the bug
When trying to start interactive evaluation with the `bf` CLI I get the following error and no docs/guidance on how to resolve.

[code]

## To Reproduce
Steps to reproduce the behavior:

- Build snapshots files using a number of LU files using variations on this command

[code]

Then

[code]

## Expe

[2021-01-25 12:15] cxbuilders opened #6174 "PowerBI report is for Waterfall Dialogs only -> Request edition for Adaptive Dialogs"
The powerBI dashboard that is located here:
https://microsoft.github.io/botframework-solutions/solution-accelerators/tutorials/view-analytics/3-open-template/

Is created for Waterfall dialogs. Many of the reports in it won't run for adaptive dialogs.
I would like to request an addition for Adaptive Dialogs.

[2021-01-25 17:01] jwiley84 commented on #6172
Please stop using our repo to test what it is you're testing.

[2021-01-25 17:01] #6172 closed

[2021-01-25 21:51] jefdharris commented on #6172
Please unsubscribe me I know your working hard I didn’t know I was doing anything to effect you,and I didn’t understand the type of subscription it was.  Please forgive and unsub…. me

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Jessica Wailes<mailto:notifications@github.com>
Sent: Monday, January 25, 2021 11:02 AM
To: microsoft/botframework-sdk<mailto:botf

[2021-01-26 06:22] cxbuilders commented on #6174
Closing as this is picked up in bot framework solutions repo

[2021-01-26 06:22] #6174 closed

[2021-01-26 10:52] garypretty commented on #6167
@joshgummersall can you take a look and comment on the above please?  Specifically it would be good to provide a workaround as to how the above can be achieved without requiring SDK changes.

[2021-01-26 14:10] Morhpeuss opened #6175 "Interactive Message via ConnectorClient not appears"
Hi,

I have a slack bot and I send an interactive message. There is no problem and everything works perfectly.

But when I use the same interactive message and send it via ConnectorClient nothing happens. No error. When I send only text, the message appears in the conversation how I expected.

**My code:**
` string s2 = File.ReadAllText(@"c:\TitansSoft Projects\TextBot\docs\payload_slack2.txt");

[2021-01-26 17:17] joshgummersall commented on #6167
@garypretty, without the ability to mutate `DialogSet` in any way (aside from adding dialogs), the only option is to recreate a `DialogSet` completely. This does seem wasteful to me, but it is technically possible. Given that `Set` is in the name of this datatype, it seems like adding a `remove` or `delete` method doesn't seem out of the question. @orsharab-zz, have you considered this approach?

[2021-01-26 18:47] stevkan commented on #6175
Related to issue [#3044](https://github.com/microsoft/BotBuilder-Samples/issues/3044) in the BotBuilder-Samples repo.

[2021-01-26 19:00] stevkan commented on #6175
I am attempting a repro of the issue but also am reaching out to a colleague for some additional guidance. I will update when I know more.

[2021-01-26 19:49] Morhpeuss commented on #6175
@stevkan I think, it is not related, I don't have a problem with an interactive message inside a bot, there is all ok, and the interactive message appears correctly. The problem is when I send the same interactive message via ConnectorClient from my web site. The request is accepted but the message doesn't appear.

[2021-01-27 00:04] stevkan commented on #6175
@Morhpeuss, a few questions for you:

- What do you mean when you say you try sending from your web site?
    - Is this supposed to happen when a button is push, a form is completed, or something else?
- Are you trying to send this as your bot or as a user?
- Can you share more, or all, of your code (hiding any keys/secrets) you are using to send?

[2021-01-27 00:13] anusharavindrar commented on #6137
@ManuNswamy, here are my repro steps:

-   As soon as I connect to the Teams channel, I get this:
![image](https://user-images.githubusercontent.com/48731427/105919927-13971d80-5ffc-11eb-9e2d-e02ee1c5f443.png)

- When I click on 'Sign in', it prompts me to the Microsoft Sign In page and post the sign in, I get this page asking for permissions:

![image](https://user-images.githubusercontent.com/48

[2021-01-27 01:21] #5887 closed

[2021-01-27 04:15] #6094 closed

[2021-01-27 22:59] joshgummersall commented on #6148
Closing due to inactivity.

[2021-01-27 22:59] #6148 closed

[2021-01-28 02:21] jerryHTGCN opened #6177 "How to get the avatar of a Skype bot's contacts ?"
I have a botframework nodejs skype bot, which is used to actively send alarm messages to customers. It is currently working well. It can get the name of the contacts, but currently cannot get the avatar of the contacts. Is there any way to get the avatar of the contact,s such as how to use nodejs SDK or API to achieve this function, thank you very much

[2021-01-28 09:32] ManuNswamy commented on #6137
Thank you reproducing the scenario. I see that you were able to get the ServiceError which is the similar error to what we were getting during the sign in, so could you please provide us any details that you possibly resolve the issue ?

To get the "Return to application without granting consent" option, could you please try to login using a general user without any specific roles or permissions [

[2021-01-28 17:03] v-kydela commented on #6177
Thank you for the question, @jerryHTGCN. I'm going to close this here so it can be handled on Stack Overflow: https://stackoverflow.com/questions/65930372/how-to-get-the-avatar-of-a-skype-bots-contacts

[2021-01-28 17:03] #6177 closed

[2021-01-28 21:09] #5934 closed

[2021-02-01 14:23] Morhpeuss commented on #6175
@stevkan

- yes, when I want to answer a user to the Slack via the bot, they must fill a form in the administration and send this form, on the backend I store this message to our DB and I want to send a message to the SLack
- requested code is in the description at the top, with this code, I am able to send a text. I create a new instance of ConnectorClient and send the activity. If there is plain

[2021-02-02 07:51] kiranbudati opened #6181 "Calling option not showing in bot conversation window in teams"
I'm trying to build a calling bot with botframework, have enabled calling option in web bot and also, enabled supportsCalling, supportsVideo in the manifest file, but I could not find calling option in bot conversation window.

[2021-02-02 17:05] jwiley84 commented on #6181
Closing as a duplicate of https://stackoverflow.com/questions/65994209/mbf-calling-option-not-showing-in-teams

[2021-02-02 17:05] #6181 closed

[2021-02-02 18:28] stevkan commented on #6175
Ok, I will attempt a repro at this. But, I'm still not fully certain I understand the overall design flow.

What I am hearing is: A user completes a form on a website. This website is **separate** from both Slack and your bot. When the user completes the form it is saved to a backend database and a message activity is generated using the ConnectorClient and sent to Slack. In Slack, if the message

[2021-02-03 10:10] Morhpeuss commented on #6175
@stevkan  The design flow is very simple. :)

We have a bot. The customers are able to communicate with us via this bot. They are able to create an order. We have an administration web application where we manage these orders.

If there is a misunderstanding or we need additional information the dispatcher/administrator is able to send a question from the web application, I am using ClientConnecto

[2021-02-03 10:24] kiranbudati commented on #6181
@jwiley84  i'm the one who posted that question

[2021-02-03 14:26] Morhpeuss commented on #6175
Yes, correct. :)

[2021-02-03 16:52] ManuNswamy commented on #6137
@anusharavindrar
Were you able to repro the scenario. Any resolution step to have the Service Error fixed?

Thanks in Advance !

[2021-02-03 18:10] carlosscastro commented on #5767
Moving to re-assess priority in R13.

[2021-02-03 18:10] carlosscastro commented on #5997
Moving to re-assess priority in R13.

[2021-02-03 18:16] stevengum commented on #5655
https://github.com/Azure/azure-cli/pull/16694 will bump the version of the `azure-mgmt-botservice` SDK in Azure CLI. With this bump, the Azure CLI wire-up is the only piece missing before developers can manage the Direct Line Speech channel via CLI.

[2021-02-03 20:03] mattlangis commented on #3722
Replying to my previous comment:
The reason that it wasn't working is that the bot implementation shouldn't be _slack_ specific, the bot should be kept generic.
Use the [SlackAdapter ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.bot.builder.adapters.slack.slackadapter?view=botbuilder-dotnet-stable) instead and add something like that in `SendActivitiesAsync`:

`activity.Conversation.Prop

[2021-02-03 20:48] clearab opened #6182 "Action.execute (AC 1.4) support"
Add support for the Action.Execute command and various flows, including the action/execute invoke and auth flows in both the activity handler and adaptive triggers.

OBI spec is here: https://github.com/microsoft/botframework-obi/pull/128

Hacked up webchat that can do AC 1.4 cards: https://github.com/clearab/CateringDemo

## Tracking Status

**Dotnet SDK** [Issue](https://github.com/microsoft/bot

[2021-02-03 22:07] hcyang commented on #6173
Hi @darrenj , can you share the exact .lu file (..\SourceData\LU\Calendar\Calendar.lu), so I can try to reproduce? This bug seems like file dependent.

[2021-02-03 22:13] hcyang commented on #6173
Also, the "build" command has been removed, please use the "create" command.

[2021-02-04 00:21] stevengum opened #6183 "BotFrameworkAdapter should configure OAuthClientConfig according to the used AppCredentials"
## Describe the bug
Customers in US Gov clouds need to manually configure the OAuthEndpoint used for User OAuth flows.

https://github.com/MicrosoftDocs/bot-docs/issues/1954 describes the "fix" for having getting User OAuth working in US Gov clouds, but the BotFrameworkAdapter should be "smart" enough to use the correct values derived from the AppCredentials it is currently using when it creates a

[2021-02-04 12:23] WhiteCyClop opened #6184 "Creating of conversation with user from another region is failed"
## Version
4.10.3

## Describe the bug
When I try to start a conversation with a user via `BotFrameworkAdapter.CreateConversationAsync()` - I get an "Operation returned an invalid status code 'Forbidden'" error if the user has a ServiceUrl other than "https://smba.trafficmanager.net/emea/". For example, several users have a ServiceUrl equal to "https://smba.trafficmanager.net/fr/" and for them I g

[2021-02-04 16:46] Dhulipudi2020 opened #6185 "Suggested Actions not being rendered on the react App"
Package version:
botframework-webchat - 4.10.1

Issue:
Bot code is rendered on the Node Js and tested using a Bot Emulator, We have implemented suggested actions into our bot code to list out few options to choose from, it's seen in the emulator while tested, when deployed it's not rendering on the react App, I inspected the elements the json code is not converted into html, those elements are mis

[2021-02-04 20:04] mrivera-ms commented on #6036
This is being addressed here: [PR5143 ](https://github.com/microsoft/botbuilder-dotnet/issues/5143). Closing as duplicate.

[2021-02-04 20:04] #6036 closed

[2021-02-05 00:34] anusharavindrar commented on #6137
@ManuNswamy, currently investigating this further. Will update the thread as soon as I have some more info to share. Thanks for your patience.

[2021-02-05 00:40] hcyang commented on #6173
Hi @darrenj, thanks for the .lu file. I ran the "create" command, then ran the interactive command without running into any issue. Please use the "create" command instead for creating a .blu file.

[2021-02-05 04:37] HBuddy opened #6188 "The endpoint property was not recognized as valid HTTPS URL"
![HRBuddyError](https://user-images.githubusercontent.com/78580284/106990001-62317e00-6799-11eb-88a4-d91c26205122.PNG)

i am new to the Microsoft Bot frame work . Im using BOTKIT to develop a chatbot and followed the docs provided in the BOTKIT website . I tried to integrate my code with Teams so i created a bot . I have hosted my bot locally and tried  to added the endpoint in the Bot .I got "htt

[2021-02-05 12:38] Morhpeuss commented on #6175
@stevkan  some solution?

[2021-02-05 20:17] v-kydela commented on #6188
Thank you for the question, @HBuddy

You cannot use a localhost endpoint for server-side bot configurations because Teams and Bot Framework services cannot send messages to your client machine. To fix this, you need to get a remote endpoint that forwards requests to your local endpoint through a special application that you run on your machine. This is called a tunneling service. One such tunnelin

[2021-02-05 20:17] #6188 closed

[2021-02-06 00:21] rslavey opened #6192 "WaterfallStepContext.Values Dictionary changing types between calls"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
4.11.1

## Describe the bug

I have a waterfall step dialog. In the first step I assign the following value:

    step

[2021-02-08 16:22] manutero commented on #5587
I've ended up here with the same issue. If anyone finds these clues revealing....

**Context**:

- You're building a bot with the `botbuilder` SDK
- You're used to use Bot Framework emulator for testing the bot locally
- Everything works fine till this point ✅

**The problem**:

- You've decided to dockerize the service (\*)
- Running the container which is exposing the server everything seems fin

[2021-02-08 17:38] mdrichardson commented on #5587
@manutero Are you running ngrok? Ngrok (or similar tunneling service) is required for having Emulator communicate with a Dockerized bot running locally.

[2021-02-08 19:15] jwiley84 commented on #6184
Hi @WhiteCyClop Can you explain a bit more about the bot?  What's the region the bot is hosted in?

[2021-02-08 19:15] v-kydela commented on #6192
Thank you for the report, @rslavey

This is likely because your bot state gets stored as JSON and the Cosmos SDK deserializes integers as long integers. This was reported as a problem multiple times and was fixed in a few places in the SDK:

- https://github.com/Microsoft/botbuilder-dotnet/issues/871
- https://github.com/Microsoft/botbuilder-dotnet/issues/1859

You can fix it in your bot the same

[2021-02-08 20:10] rslavey commented on #6192
Yes and yes. Thanks for the feedback.

[2021-02-08 20:10] #6192 closed

[2021-02-08 20:12] WhiteCyClop commented on #6184
Hello! Location of my App Service at Azure is "UK South", location of the Resource Group is "West Europe". Most of users (nearly 800) have Service Url equaled to "https://smba.trafficmanager.net/emea/", but some users (~10) some times have "https://smba.trafficmanager.net/fr/" - the list of these users changes from time to time

[2021-02-09 01:36] hcyang commented on #6173
Hi @darrenj, please try out the "beta" bf-orchestrator-cli release (https://www.npmjs.com/package/@microsoft/bf-orchestrator-cli) and see if the problem persists. Will close the bug for now. Feel free to reopen it.

[2021-02-09 01:36] #6173 closed

[2021-02-09 10:07] manutero commented on #5587
Yep:

[code]

The container is routing port 3978:

[code]

(I can check this setup since the server is returning a simple string at root path)

[code]

Now, when I open the emulator:

[code]

Now, are you saying to run ngrok **from** the running container?

[2021-02-09 16:25] mdrichardson commented on #5587
@manutero It's been awhile since I dockerized a bot. I'll attempt to repro today and see what I can figure out.

[2021-02-09 17:36] gabog opened #6198 "DRAFT Epic: Microsoft.Bot.Builder.Dialogs.Adaptive.Testing to GA"
## DRAFT

This issue describes the different issues and design changes that need to be addressed to be able to take [Microsoft.Bot.Builder.Dialogs.Adaptive.Testing](https://github.com/microsoft/botbuilder-dotnet/tree/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive.Testing) out of preview:

## 1. Reorganize namespaces and files
There are several classes that are grouped inconsistently, we nee

[2021-02-09 18:36] mdrichardson commented on #5587
@manutero With the recent versions of Emulator, you shouldn't need to run ngrok manually.

First, please close your current running instance of `ngrok.exe`.

Please ensure that you have the following Emulator settings:

1. `Path to ngrok` points to your `ngrok.exe`
2. `Bypass ngrok for local addresses` is unchecked (you only want this unchecked for local docker bots since they run on localhost but

[2021-02-10 17:54] manutero commented on #5587
Thnks @mdrichardson !!! works like a charm 👍

[2021-02-10 18:15] mdrichardson commented on #5587
@manutero AWESOME! Just FYI, in the future, open up a new issue and then just reference this one. You're _much_ more likely to get a response to an open issue vs. a new comment on a closed one.

[2021-02-11 18:14] anusharavindrar commented on #6137
@ManuNswamy, I was able to repro the scenario and got the ServiceError. I am currently working internally to get more information on the ServiceError and the expected behavior.

[2021-02-11 19:09] cleemullins opened #6200 "R12 Release Checklist"
## Package 4.12.0

## Package Location
* C#
** [4.12.0]()
* JS (Uses the @rc tag on public NPM)
** [4.12.0](https://www.npmjs.com/package/botbuilder/v/4.12.0)
** https://www.npmjs.com/package/botbuilder
* Python
** https://test.pypi.org/project/botbuilder-core/4.12.0/
* BF CLI (Uses the @rc tag on public NPM)
** https://www.npmjs.com/package/@microsoft/botframework-cli
** https://www.npmjs.com/pac

[2021-02-12 00:58] fercom commented on #291
Hi, I am facing a similar issue, my bot doesn't receives the user name, it is null, but if the user from facebook is an admin of the app it does receive it, what could it be?

[2021-02-12 09:59] cxbuilders opened #6203 "Bot Channels Registration Resource Acting Up"
As of yesterday (I believe) the Bot Channels Registration is acting up in several ways;

1. Some Registrations have lost their AD Connections which were present before, causing bots to fail authentication
![image](https://user-images.githubusercontent.com/49873947/107754274-86ed9e80-6d21-11eb-9ced-c283fe88b425.png)
2. Deploying an ARM template though the pipeline suddenly does not work anymore, it

[2021-02-12 17:50] munozemilio commented on #6203
@swagatmishra2007 are you aware of any change that might caused this?

[2021-02-14 19:21] Virtual-Josh commented on #6203
@swagatmishra2007 can you take a look at this?

[2021-02-15 05:36] WhiteCyClop commented on #6184
@jwiley84 is there any information on this issue?

[2021-02-15 14:04] Morhpeuss commented on #6175
@stevkan Please, do you have a solution?

[2021-02-16 16:53] gabog opened #6204 "Deprecate unsupported channel constants"
There are currently several constants in Channels that are no longer supported in the service, this issue involves flagging the obsolete channel ID constants as deprecated.

Here is the list of existing channel ID constants (the ones checked need to be deprecated)
- [ ] Console
- [ ] Cortana
- [ ] Directline
- [ ] DirectlineSpeech
- [ ] Email
- [ ] Emulator
- [ ] Facebook
- [ ] Groupme
- [ ] Kik
-

[2021-02-16 20:37] swagatmishra2007 commented on #6203
Can i get a botid and oauth connection name?

[2021-02-17 08:29] abhilashmurthy opened #6205 "Skype bot VideoCard not showing correct thumbnail image"
## Version
Using Azure Portal with REST endpoints for Skype bot

## Describe the bug
In my Skype bot, video cards have something called a Thumbnail URL. Although my thumbnail URL is populated, the first frame of the video before it is played in Skype is not actually showing the thumbnail URL, it is just showing the first frame of the video itself. Since the thumbnail is populated, the frame of the

[2021-02-17 14:08] ajeetchoudhary opened #6206 "Unable to disable the submit button in adaptive card"
## Version
Microsoft.Bot.Builder.Azure - 4.11.1

## Describe the bug
Not able to disabling buttons in Adaptive cards in Teams after user selection

Hello Team,

Greetings for the day. We are developing Chatbot using Bot framework V4 in C#. Also, we have integrated it with MS Teams. Currently, we are using adaptive cards for getting inputs from users. Frequently users are trying to click the button

[2021-02-17 17:50] jwiley84 commented on #6184
Hi @WhiteCyClop I"m getting closer to tracking down an answer, but one question: is this a skype bot or a teams bot? If it's Teams, then the service URL should be the same for all users in a single tenant.

[2021-02-17 19:26] cxbuilders commented on #6203
@swagatmishra2007 It misteriously fixed itself and this morning the Arm template finished within 17 sec without any issues. My hunch is that our pipeline ran around the same time the updates or your side were done (or something like that ;))

[2021-02-17 19:28] compulim commented on #5997
R13 planning should start next week. DRI, please look at this one next week.

[2021-02-18 05:41] WhiteCyClop commented on #6184
Hi @jwiley84 , this is a teams bot and all users in single tenant

[2021-02-18 09:07] matthiasdilger commented on #5975
Hi @clearab, it seems the issue you opened was closed without comment and is now locked, so I can't comment. It seems none of the functionality I suggested was implemented, is that correct?

[2021-02-18 19:06] compulim commented on #6206
@v-kydela does Teams channel support `UpdateActivityAsync`?

[2021-02-18 20:46] clearab commented on #5975
I don't think they've done any work on this yet, no. The aren't open source, so they do not normally track long-running feature requests through GitHub (they use UserVoice for that). If you'd like to inquire further with them, you can do so using one of the methods outlined here: https://aka.ms/teamsdevfeedback.

[2021-02-18 23:06] swagatmishra2007 commented on #6203
sounds good...closing the issue for now. Feel free to reactivate and share bot details if it occurs again

[2021-02-18 23:06] #6203 closed

[2021-02-18 23:29] v-kydela commented on #6206
@compulim - Yes it does

[2021-02-19 00:14] v-kydela commented on #6206
Thank you for the report, @ajeetchoudhary

Disabling Adaptive Card submit actions is a common request, and you can find 11 links for that feature in the cards library post: https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/issues/137

Your question is a bit ambiguous. You start out by asking how to disable submit actions, but then it sounds like you already know how to do that usi

[2021-02-19 00:14] #6206 closed

[2021-02-19 01:38] adamist521 commented on #6184
Having same issue

Following issue seem to be discussing on the same issue.
https://github.com/microsoft/botbuilder-js/issues/3280

[2021-02-19 04:00] EricDahlvang opened #6207 "Action Policies need definition in the component schema"
Action Policies are defined in the .schema files of kinds which require them.  The component schema needs these action policy definitions, to enable intellisense in editors.

example:
[code]

[2021-02-19 05:24] WhiteCyClop commented on #6184
Yes, it's a very similar situation indeed. I also get wrong service url after users response via Action.Submit in adaptive card that I send to them on a some schedule

[2021-02-19 06:51] matthiasdilger commented on #6184
@WhiteCyClop It seems that Action.Submit activities are sometimes "routed" via other service urls. /apac instead of /in, /fr instead of /emea, /jp instead of /apac etc. You can use methods like .updateActivity on these activities but the user does not exist on these urls. My workaround is to lookup the url from the bot installation event and use that instead. If your users are all on the same tena

[2021-02-19 19:38] #6207 closed

[2021-02-19 19:42] WhiteCyClop commented on #6184
@matthiasdilger Thanks for the advice. I am planning to add try-catch and if this error occurs try hardcoded posting. But of course it would be great to have a complete solution of this problem

[2021-02-20 02:32] p-nagpal opened #6212 "Add support for new Command and CommandResult Activities"
## Issue
We need to ability to define "non-message" command activities that carry a request to perform an action/change the state of the conversation. They have a few requirements that differ from messaging activities:
   1. They are not part of the “message” conversation.
   2. Often, but not always, the intended recipient is the channel instead of the bot or client.
   3. Command activities are

[2021-02-20 15:16] aleenacharles93 opened #6213 "Bot"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2021-02-22 07:59] Kadae commented on #4559
Hahahaha. Few years later still the same fucking problem in the default fucking bot source code. Still no resolved. Just REMOVE THIS FUCKING ERROR, Microsoft, and make bot silent in error. Don't send "POST to Bot timed out after 15s". That's all.

[2021-02-22 08:01] Kadae commented on #4833
Year 2021. Still problem exists.

[2021-02-22 08:05] Kadae commented on #3877
Year 2021. Problem still exists, but issue is Closed. Funny as hell.

[2021-02-22 09:07] thschuetze commented on #6184
Hi, we are experiencing the same issue with a live customer.
BotFramework C# SDK version 4.7.2, but it seems to be unrelated to the version.

All our current Teams users should have the /emea/ url, but sometimes messages from random users come with the /fr/ url. Our bot is able to respond to the /fr/ messages, but we cannot create a new conversation with that wrong serviceUrl.

This is especially

[2021-02-22 09:18] #6213 closed

[2021-02-22 10:59] matthiasdilger commented on #6184
Hi @thschuetze the correct serviceUrl is only unique per tenant, not per user. If you don't have my different tenants in your app, you could manually maintain a table that maps tenants to the correct serviceUrl. If you do have a lot of different tenants you would need to either store the serviceUrl from the installation event (which seems to be always correct) or set the serviceUrl per tenant when

[2021-02-22 12:06] nilsmehlhorn commented on #6184
Storing the serviceUrl seems like an unnecessary workaround that also won't really work if you already have an app deployed. In that case you can't store the serviceUrl upon installation because users will already have the app installed. IMHO, the bot framework should always provide the proper serviceUrl or allow for creating a new conversation without it. I don't really get why the bot framework

[2021-02-22 23:36] congysu commented on #6137
@anusharavindrar can you please flag a Milestone for this issue?  Thanks.

[2021-02-23 01:38] anusharavindrar commented on #6137
@ManuNswamy, so if you want the consent to work, then you need to figure out the the admin consent part about your tenant and try out these 3 options –
1)	The end user is an admin in the tenant, and can click the “Have an admin account” link below and grant consent.
2)	A global admin provides consent at the app level for all users in the tenant - https://docs.microsoft.com/en-us/azure/active-direc

[2021-02-23 05:48] swagatmishra2007 opened #6216 "[SDK/Service] OAuthPrompt should complete with null token and error when a signin flow is cancelled"
## Issue
Today when a bot user clicks the login button on an oauth card , the signin process involves opening a browser for login. If the user cancels this flow (by not granting consent for instance), or other failure, the flow fails in the browser and the bot is never notified. For an example see issue - https://github.com/microsoft/botframework-sdk/issues/6137

## Proposed change

- Update the O

[2021-02-23 05:48] swagatmishra2007 commented on #6216
@Jeffders @carlosscastro @stevengum @EricDahlvang  thoughts?

[2021-02-23 09:30] orsharab commented on #6167
Hi @joshgummersall, this is what we're doing now and exactly what we want to avoid.

[2021-02-23 16:28] joshgummersall commented on #6167
@garypretty see above.

[2021-02-24 14:52] thdotnet opened #6218 "Intercept bot response (human approval)"
Hi,

is it possible to implement a human approval scenario? Before sending a reply to a user, await for external event (human approval) ?

[2021-02-24 17:00] stevkan commented on #6175
@Morhpeuss, thank you for your patience. I hope to have a response by EOD, today.

[2021-02-24 19:03] dmvtech commented on #6218
Hi @thdotnet Yes, that should be possible. You will want to look into [Proactive messages.](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-proactive-message?view=azure-bot-service-4.0&tabs=csharp) Be aware that if the bot doesn't respond with in the 15 second window, there will be a timeout and the service will issue an error. Proactive messaging works around that and will gi

[2021-02-24 20:59] sgellock commented on #6146
We should knock this out early in R13 as it's been open for a while.

[2021-02-25 01:07] sgellock commented on #6212
Monica, just putting this on your plate for consideration in R13.

[2021-02-25 01:12] stevkan commented on #6175
@Morhpeuss, a few things to note.

- Interactive Messages appear to be deprecated, according to Slack's API docs (see [An outmoded introduction to messages](https://api.slack.com/legacy/outmoded-messaging)). They appear to still be usable (likely for backwards compatibility), but it's not their recommendation.

- While using the connector client outside of the Bot Framework, technically, should wo

[2021-02-25 04:15] ManuNswamy commented on #6137
Thanks Team for reproducing the issue and considering it as a feature work.

[2021-02-25 11:19] Morhpeuss commented on #6175
@stevkan  Thanks for the answer.

A proactive message is not the best way for this case,

In my case, I would like to send a message (from web app separated from bot) which is an answer to their question and there should be a button "Answer". When the user clicks on this button I want to start a classic bot dialog.

Block kit is probably the right way, but as I know the bot framework does not supp

[2021-02-25 15:53] thdotnet commented on #6218
Thanks for the reply @dmvtech , is it possible to increase the timeout to a few minutes?

[2021-02-25 16:57] dmvtech commented on #6218
@thdotnet No, unfortunately. But that is a big reason of why proactive messages exist. To be able to handle those longer running requests. If you have any reason/need/scenario where your bot won't be sending the response immediately, you should be using proactive messages.

You can some other info here:
https://github.com/daveta/analytics/blob/master/troubleshooting_timeout.md
https://stackoverflo

[2021-02-26 17:55] dmvtech commented on #6218
Closing as answered. If you have any bugs or feature requests, please open another issue. If you have further questions on implementation or how-to, please open question on Stack Overflow.

[2021-02-26 17:58] stevkan commented on #6218
Closing, per request.

[2021-02-26 17:58] #6218 closed

[2021-02-28 12:20] Kadae commented on #3220
The year is 2021. Still no fixes on this and issue is closed.

![source5loo](https://user-images.githubusercontent.com/965894/109418243-26c94e80-79e9-11eb-9275-5113de173df0.gif)

[2021-02-28 15:36] Kadae commented on #2078
No, it's not fixed. This issues just closing and closing without any reason.

[2021-03-01 08:24] tttttoo opened #6220 "Pull"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2021-03-01 08:25] tttttoo commented on #6220
Triage

[2021-03-01 12:04] #6220 closed

[2021-03-01 20:14] AbhilashKanimilli opened #6221 "Error: Get Token request returned http error: 401"
All of a sudden my bot started to get this error:

[onTurnError] **unhandled error: Error: Get Token request returned http error: 401 and server response: {"error":"invalid_client","error_description":"AADSTS7000222: The provided client secret keys are expired.** Visit the Azure Portal to create new keys for your app, or consider using certificate credentials for added security: https://docs.micro

[2021-03-02 04:35] jwiley84 commented on #6221
Closing as a duplicate of this: https://stackoverflow.com/questions/66429088/in-botframework-sdk-all-of-a-sudden-my-bot-started-to-get-this-error-error-get

[2021-03-02 04:35] #6221 closed

[2021-03-02 06:54] Kadae commented on #3220
Hello, @EricDahlvang!

Ok, don't touch 15 seconds timeout, but just make it silent and visible for developers only, not to the users. I just want to catch and hide this 500, 504, 503 errors from bot's messages, but I can't.
All what I have is "onTurnErrorHandler", but I can't hide timeout errors...

Why bot SENDING THIS timeout message to the user? Why bot report this back to the client right to t

[2021-03-02 17:47] EricDahlvang commented on #3220
I do not understand.  I am not aware of a problem which has existed for four years but remains unsolved.  The Bot Framework protocol is restful, with a maximum time per call determined by the service between the client and the bot.  Not every activity type is a two way POST.  In the case of 'invoke' activities, the processing through the pipeline is synchronous.

It sounds like the timeout errors

[2021-03-03 08:30] Kadae commented on #3220
![image](https://user-images.githubusercontent.com/965894/109776629-9ecf8880-7c24-11eb-9ccd-44df50d5ffea.png)

[2021-03-03 23:22] faceoffers28 commented on #2690
Is there an example of how to do this with a Chat Bot in Teams, using Bot Framework 4??? Specifically, I would like the Bot to send a Location request and then have the user respond with a "Yes", followed with the GPS coordinates in the ChannelData. Is this possible? If not, how do you enable sharing of Location in a Chat Bot? I don't have the option to share Location in the message options, when

[2021-03-05 01:49] stevkan commented on #6175
@Morhpeuss, not to distract from the issue, but I'm not certain I understand why the above approaches wouldn't work for you. Both are meant to be used, separate from the bot, in another medium like a web app. Proactive messages specifically address this use case. Sending a block kit message addresses this use case where dependency on another system/service/framework is not desired. Either can be i

[2021-03-05 09:34] garypretty commented on #6167
Thanks @orsharab.  I am adding this as a P2 to our current milestone. If we can get this done within that release then I think it would be a good one to take.

Assigning this one to @mrivera-ms for assignment to engineering.

[2021-03-05 09:43] garypretty commented on #6141
Assigning to @EricDahlvang to comment as per above.  Once we have that we can decide if we keep this open or close. Thanks again @peterbozso

[2021-03-05 17:16] jwiley84 commented on #6184
Thank you for your patience. Just waiting for an update from the above linked issue to see if it is related to this one.

[2021-03-07 02:30] EricDahlvang commented on #6141
Apologies for the late reply this one.

I think the current blobstranscript store is optimized for writes and modeled after azureblobtranscriptstore, and it does not scale well for reads. I'm interested to look at your suggestions more closely @peterbozso Thank you for raising this.

The transcript store interface should also maybe provide for more control over retrieval.  In many scenerios revers

[2021-03-07 02:40] EricDahlvang commented on #3220
Okay, this looks like an exception returned from the service when it cannot reach the bot.

For a feature request, or to file a bug against the channel service, please open an issue here:

https://github.com/microsoft/BotFramework-Services/issues

[2021-03-07 13:13] Morhpeuss commented on #6175
@stevkan I solved the issue. Now I will expect support for block kit in bot framework.

[2021-03-08 05:02] PierJmnz opened #6222 "Media/attachment (video) Send Error (Bad Request) facebook.botframework.com"
## Describe the bug
Fault at facebook.botframework.com/v3/conversations/3333333333333333-111111173923261/activities/m_yVEzmj79W9W825hYNi_9pAV-BWosqXXpMkCtm6VGaWziyC1f6GUShOJJJJJJ-QbREdOJTx7uW_BRVeLV8oJJJJ

Result code | 400

Microsoft.Bot.Schema.ErrorResponseException:
   at Microsoft.Bot.Connector.Conversations+<ReplyToActivityWithHttpMessagesAsync>d__10.MoveNext (Microsoft.Bot.Connector, Version

[2021-03-08 08:20] Junenursyaiddah opened #6223 "how to show images attachment file on other dialog only using bot framework composer?"
Hi guys, I'm still new to playground with bot framework composer  use 4.0 version,
I create ask question with summary result, and I have problem when show result images attachment file on other dialog,

-on upload images ,
I used send response -${ShowImage(dialog.attachments[0].contentUrl, dialog.attachments[0].contentType)} ,and its work to show the images on same dialog

-other dialog menu
I cre

[2021-03-08 14:10] gabog opened #6224 "CloudAdapter works with skills"
CloudAdapter adds support for authenticating against any cloud provider through the introduction of a new set of auth classes (the key class is `BotFrameworkAuthentication`).

The skill classes (SkillHandler, ChannelServiceHandler) are still tied to the BotFrameworkHttpAdapter authentication elements and they should be refactored to use the new BotFrameworkAuthentication class.

## Implementation

[2021-03-08 14:43] gabog opened #6225 "Deprecate HealthCheck activity"
ActivityHandler can handle a special InvokeActivity where the name is [healthCheck](https://github.com/gabogorg/botbuilder-dotnet/blob/8a24358d3c9ef29aeccc6fc938cdbf2728bde6da/libraries/Microsoft.Bot.Builder/ActivityHandler.cs#L459).

This feature needs to be removed from the SDKs, we should also check that is not being used anywhere else and validate that we are not referencing it in the OBI docu

[2021-03-08 14:49] gabog opened #6226 "Pull schemas out from SDKs"
Pull schemas out part or all the packages out of the SDK and service them from schemas.botframework.com (Monica)
* Move schema tests to functional tests
* Can we move UISchema out of the SDK?

Eric has a PR that is related to this topic [here](https://github.com/microsoft/botbuilder-dotnet/issues/4492)

As part of this issue we should create child issues in the language repos to track the work to

[2021-03-08 15:22] gabog opened #6227 "DialogManager refactor"
DialogManager provides almost the same functionality as ActivityHandler and could potentially be refactored to implement IBot.

As part of this issue we should look at refactoring DialogManager and reason about the impact it has on ActivityHandler and TeamsActivityHandler.

If the result is that DialogManager is a replacement for ActivityHandler we shoudl documentat that this will be the recommend

[2021-03-08 19:09] scheyal opened #6228 "LU Merge functionality"
## Proposal
We need to create a LU Merge functionality (maybe as part of LU Parser). LU Merge, at minimum shall merge LU "imported" content into target LU file under specified label.

The LU Merge functionality can serve several functions such as:
* Merge child LU's into parent for dispatching to skills. Consider adding a skill in Composer, retrieving the skill LU and merging it into parent dialog

[2021-03-09 18:50] stevkan commented on #6223
Can you clarify the flow? What I think you are saying is:

1. The user is asked a question which the user responds to
2. The user response is summarized which includes an image
3. In a different dialog, you want to re-summarize the user's response including showing the image that was attached in the first dialog

Is this correct?

Also, were you able to solve the problem with your workaround or ar

[2021-03-09 22:42] SChandlee-ARIFleet opened #6229 "Debug Symbols in .dialog file"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
I am using VScode and installed the Debug Dialog extension. I am able to start my bot through the

[2021-03-10 07:39] tsuwandy opened #6230 "Need to be able to track download # of each Orchestrator base model"
Using aka.ms is the easiest solution to get the stats

[2021-03-11 18:37] naramaka opened #6232 "Bot is going down and restoring after 2 hrs without any restart or intervention."
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Microsoft.Bot.Builder.Dialogs:4.9.2
Microsoft.Bot.Builder.Integration.AspNet.Core: 4.9.2
Microsoft.Bot.Builder.AI.QnA: 4.9.0
Microsoft.Bot.Builder.AI.Luis:4.9.2

##

[2021-03-11 19:01] jwiley84 commented on #6229
Hi @SChandlee-ARIFleet Thank you for reporting this. I"m going to attempt a repro, see if I can figure out what's going on. Does this happen with any bot you try, or one specific type?

[2021-03-11 19:15] mkkeffeler opened #6233 "Enable Instrumentation by APM for Deeper Traces"
**Is your feature request related to a problem? Please describe.**
I am trying to understand deeper level use cases, and to do that often use an APM Tool to track performance of pieces of the code. I lack the ability to see how long certain pieces of this library are taking because we have no instrumentation on it, and just adding default APM configs don't see to enable it.

**Describe the solutio

[2021-03-11 19:16] SChandlee-ARIFleet commented on #6229
Thanks Jessica! I only tried it with a Bot Composer/Scratch project.

From: Jessica Wailes ***@***.***>
Sent: Thursday, March 11, 2021 2:01 PM
To: microsoft/botframework-sdk ***@***.***>
Cc: Chandlee, Scott ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/botframework-sdk] Debug Symbols in .dialog file (#6229)

EXTERNAL EMAIL

Hi @SChandlee-ARIFleet<https://github.com/SChandlee-ARIFleet>

[2021-03-11 22:36] LeeParrishMSFT commented on #6186
Closing this as the final SDK (Java) closed this item today.

[2021-03-11 22:36] #6186 closed

[2021-03-12 19:16] dmvtech commented on #6232
Hello @naramaka

Do you know if any of your bot's turns, that includes this (making calls to QnA, building response, then response to user/channel), takes anywhere close to 15 seconds?

Just to clarify; you have an automated script/daemon/etc that pings the bot/app service to make sure it is up and running? Is it making a basic uptime ping/get request, or an actual endpoint call? (if former, how a

[2021-03-12 20:28] daveta commented on #6233
@mkkeffeler : Thanks, do you have specific operations you are looking to time?

[2021-03-12 20:46] daveta commented on #6216
Hi @swagatmishra2007, were you able to get any consensus here?

[2021-03-12 20:47] daveta commented on #6137
Hi @ManuNswamy : I'm closing this primary issue - we can follow progress in the linked issue.
Thanks for reporting the issue!

[2021-03-12 20:47] #6137 closed

[2021-03-13 03:37] mkkeffeler commented on #6233
Timing is one thing, on things like validating the authentication token for example, but also seeing what dialog was invoked, and when the userState is stored somewhere (be it a custom backend, or in memory). In our case, we are using https://github.com/mokeddes/botbuilder-storage-redis so they may need an enhancement, but any visibility to the backend would be helpful.

[2021-03-14 15:09] #6175 closed

[2021-03-16 05:54] Zerryth commented on #6146
Hey @asdkant-ey! Just wanted to let you know, that I've started looking into this, and repro'd the issue.

At first I was perplexed, since I started debugging in C# instead of python, and I was getting expected behavior:

*C#*
![image](https://user-images.githubusercontent.com/35248895/111262230-23d17f00-85e1-11eb-906b-5e9af4ae3a8b.png)

vs.

*Python*
![image](https://user-images.githubusercontent

[2021-03-16 19:09] EricDahlvang commented on #6216
Looks like a good plan to me.

[2021-03-16 19:48] RamazanBiyik77 opened #6238 "502 status code on smba.trafficmanager.net/apis/v3/conversations"
I searched previous issues but I dont have no clue what triggers this issue.

https://smba.trafficmanager.net/apis/v3/conversations/channel_id/activities i send post request to this endpoint with bearer token, "content-type=application/json" with this headers with this payload

[code]
But i got 502 response code.

The real problem here is not what i got. The problem is it is not a stable error. So

[2021-03-17 15:50] tracyboehrer commented on #5726
Java merged today

[2021-03-17 19:13] SChandlee-ARIFleet commented on #6229
Hi @jwiley84 , checking in to see if you were able to make any progress.

Thanks,
Scott

[2021-03-17 20:16] EricDahlvang opened #6239 "Teams should be a package in Composer"
## Proposed change

- Teams library should have bf-composer tag so it shows up as something that can be installed, upgraded, uninstalled

- Teams if we install it by default it should be shown in the list of things that are installed and that can be uninstalled.

This will involve updates to the teams adaptive library, the composer project templates, and composer menu's and schema (when the packag

[2021-03-18 16:11] jwiley84 commented on #6229
Apologies, I've been out.

I'm going to need to get repro steps from you to properly reproduce your error.

[2021-03-18 20:24] mrivera-ms commented on #6226
Per discussion with @cleemullins, the SDK will not push this forward. Closing as "Won't Fix".

[2021-03-18 20:24] #6226 closed

[2021-03-18 20:31] SChandlee-ARIFleet commented on #6229
**VSCODE**
Version: 1.54.3 (user setup)
Commit: 2b9aebd5354a3629c3aba0a5f5df49f43d6689f8
Date: 2021-03-15T10:55:45.459Z
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Windows_NT x64 10.0.18363

**Bot Framework Dialog Debugger**
v1.0.3

**C# ms-dotnettools.csharp**
v1.23.9

**Launch.json**
{
    "configurations": [
        {
            "type": "bot",

[2021-03-18 21:57] anusharavindrar commented on #6238
@RamazanBiyik77, has this been happening over a period of time or you noticed these inconsistent errors recently? Also, could you elaborate more on what you are exactly trying to test and why testing it this way via Postman?

[2021-03-19 19:07] Zerryth commented on #6146
Update:
- PR for python up, pending review. (Took a little bit longer than expected, since there actually weren't *any* tests that instantiated `QnAMakerDialog` so it took a little more time figuring out how to set that up in the python testing rig)
- Confirmed that this bug does not exist in C# nor JS

[2021-03-19 19:20] Zerryth commented on #6146
@asdkant-ey actually ended up being the "real" fix and not a monkey patch. Looking into things further, `get_qna_prompts_card` is meant for multi-turn responses, and `get_suggestions_card` is meant for active learning responses, so that block of code adding NO MATCH responses into `get_qna_prompt_card` had no business being there.

[2021-03-22 18:20] carlosscastro commented on #6222
@jwiley84 Any luck with the repro?

[2021-03-22 21:53] v-kydela commented on #6222
Thank you for the report, @PierJmnz

You can see in [this documentation](https://docs.microsoft.com/azure/bot-service/bot-service-channels-reference#card-support-by-channel) that video cards are not supported in Facebook. I'll go ahead and close this issue now.

[2021-03-22 21:53] #6222 closed

[2021-03-22 23:30] dmvtech commented on #6232
Closing due to inactivity.

[2021-03-22 23:30] #6232 closed

[2021-03-23 04:18] mrivera-ms commented on #6144
@garypretty, could you please add a priority for this item? If it is not a P0, we will not be able to include in R13. Thank you.

[2021-03-23 04:20] mrivera-ms commented on #6140
@cleemullins, @cwhitten, @tomlm, @chrimc62, requirement analysis is still pending for this item. Moving out of R13.

[2021-03-23 04:21] mrivera-ms commented on #6128
@munozemilio, is this still to be included in R13? If not, please update the milestone. Thank you.

[2021-03-23 04:37] mrivera-ms commented on #6167
Moving to the next milestone.

[2021-03-23 08:28] munozemilio commented on #6128
This will be done after code complete date. I will add R14 as milestone since we dont have post-R13

[2021-03-23 14:18] carlosscastro commented on #5767
In R13 triage this one did not make the cut line. We'll reconsider in R14. There is definitely value in not having users add the code above, so hope we can get this one in on R14.

[2021-03-23 15:18] mrivera-ms commented on #6025
Per conversation with @gabog, this item spans several milestones. Not to be completed in R13.

[2021-03-23 16:15] jwiley84 commented on #6184
It appears something was quietly fixed in the backend. Can you please attempt to repro your issue and see if it's still occurring?

[2021-03-24 11:21] WhiteCyClop commented on #6184
Checked it, there is no any errors at the moment.

[2021-03-24 11:31] #6184 closed

[2021-03-24 12:40] garypretty commented on #6144
Moving to R14 as a P1 given the current R13 schedule.

[2021-03-24 14:51] tracyboehrer commented on #6224
@gabo Removed Java.  This will be handled when we port CloudAdapter when it's done.

[2021-03-24 15:50] maircc opened #6243 "Teams Outbound Webhook payload contains incorrect teamsTeamID value"
Outbound WebHook created in Microsoft Teams.

The payload received at the other end contains an incorrect teamsTeamID in the channelData section.

In excerpt below, see how teamsChannelId and teamsTeamID contain the exact same value. I need to receive the actual group/Team ID so I can call graph queries.       ...Teams/TeamID/ChannelID

The names suggest that this value should contain the actual t

[2021-03-24 17:40] jwiley84 commented on #6238
Closing due to inactivity

[2021-03-24 17:40] #6238 closed

[2021-03-24 18:04] carlosscastro commented on #6229
Update: @jwiley84 is working on this right now.

[2021-03-25 17:33] jwiley84 commented on #6229
Using a simple EchoBot, I am able to repro this.
I'm going to  try to make a LUIS bot, and see if this is limited to echo, or if it's across the board. Thank you for your patience.

[2021-03-25 18:15] carlosscastro commented on #6229
Thanks @jwiley84 . This means that we have a bug in the debugging library or somewhere in the adaptive / declarative library. Adding to R14 backlog for the dev team to be aware, investigate and fix. Note that our next release to happen in late April is already feature complete so this would be released afterwards unfortunately. If in the process of investigating we find a workaround or have a fix

[2021-03-25 18:24] #6139 closed

[2021-03-25 18:25] #6138 closed

[2021-03-26 16:05] #6200 closed

[2021-03-26 16:14] cleemullins opened #6245 "R13 Release Checklist"
## Package 4.13.0

## Package Location
* C#
** [https://www.nuget.org/packages/Microsoft.Bot.Builder/4.13.0](https://www.nuget.org/packages/Microsoft.Bot.Builder/4.13.0)
* JS (Uses the @rc tag on public NPM)
** [https://www.npmjs.com/package/botbuilder](https://www.npmjs.com/package/botbuilder)
* Python
** https://test.pypi.org/project/botbuilder-core/4.13.0/
* BF CLI (Uses the @rc tag on public N

[2021-03-29 15:31] tannguyen3 opened #6249 "Request to Smba.trafficmanager.net have failed"
## Describe the bug
We have a bot that is running, and I see Application Maps of its App Insight, there are 5% failed request to Smba.trafficmanager.net.
How would it impact to the performance of the bot?
![image](https://user-images.githubusercontent.com/10743872/112860965-f8876f00-9079-11eb-8fbe-cc25bccd5a94.png)

## Version
Bot Composer 1.3.0

## OS

- [ ] macOS
- [ x] Windows
- [ ] Ubuntu

[2021-03-30 00:05] jonathanhotono opened #6247 "Please make Conversation Reference API available"
## Issue

Can we please have an api endpoint/function that could grab the conversation reference/id from a particular user so the bot doesn't need to be interacted by the users beforehand and simply send a proactive message when needed. I have a scenario where a notification using teams chat needs to be sent to certain user based on certain condition/rule (e.g compliance).

It is not ideal having

[2021-03-30 16:09] silverbulletgt opened #6248 "Conversation flow breaks when using more than 1 skill in a dialog"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Bot Framework SDK - 4.12.2
Composer - 1.4.0

## Describe the bug
I created a git repo to demonstrate the issue [MultiSkillComposerBot](https://github.com/silverbulle

[2021-03-30 18:17] msomanathan commented on #6243
@maircc we are working on a major release, so apologies for the delay in getting to this issue. We will respond back with a resolution as soon as we can.

[2021-04-01 00:54] dmvtech commented on #6248
Hi @silverbulletgt I took a look at your repo/repro and am attempting to set it up.  I'll let you know if I have any questions.

I did, quickly, setup something _similar_ (approach wise) in Composer entirely (test skills running locally), and am getting somewhat similar results.

- "In Call Both"
- "Response From Test Skill 1."
- "Finished Call Both

Instead of:

- "In Call Both"
- "Response From

[2021-04-01 20:52] #5757 closed

[2021-04-05 21:31] haacked opened #6250 "Please include the current channel name in the Conversation for Microsoft Teams"
## Issue

When using Bot Framework to create a bot for Microsoft Teams, the `turnContext.Activtity.Conversation` property always has null for the `Name`.

Here's an example of a conversation I'm getting.

[code]

I understand I can get a list of ALL channels via `TeamsInfo.GetTeamChannelsAsync(turnContext)` and then find the one that matches the current conversation, but that seems like a lot of e

[2021-04-05 21:54] haacked commented on #6250
Hmm, looks like in my case, `TeamsInfo.GetTeamChannelsAsync(turnContext)` returns null for the current channel name. How do I get the channel name?

[2021-04-05 22:38] tsuwandy opened #6251 "Need Orchestrator FAQ"

[2021-04-06 04:24] #6251 closed

[2021-04-06 15:51] dmvtech commented on #6248
Hi @silverbulletgt Thank you for pointing this one out. As you can see there is a fix that has been merged. If you are able to build with that and then test, that would be great. I can do the same, but it may take me a while (you might be able to get to it sooner than I).

[2021-04-06 17:55] peterinnesmsft commented on #6243
Hi @maircc,

The values of teamsChannelId and teamsTeamId are not the same in the presented snippet above. Side by side:

- teamsChannelId: 19:0cb92682ac98403384a7d2e1d2fbac14@thread.tacv2
- teamsTeamId:      19:a9e637d882c349aa9a9ebf38b44087d5@thread.tacv2

This data is fed to us from Teams and is not something we have control over. However, there doesn't look to be anything out of place here. I

[2021-04-06 17:55] #6243 closed

[2021-04-06 21:49] silverbulletgt commented on #6248
Hi @dmvtech Thank you so much for addressing this so quickly.  To be honest I'm not really sure how I would go about integrating a change from this repo onto my local machine for testing.

I know how to download the repo & build, then adjust my C# projects to point to the dlls which are created during that build.  I don't know how I would setup the Bot Composer to use those libraries, then build i

[2021-04-07 17:10] stefangomez opened #6254 "Adaptive Expressions Float division"
**Is your feature request related to a problem? Please describe.**
While microsoft/botbuilder-js#3527 is about fixing explicit floats, it doesn't address wanting to get a float as a return object from a division operation.

Consider the following expression: `div(11, 2)` the result would be `5`. What if we wanted `5.5`? As of the currently, I think it'd be impossible to achieve. `div(11.0, 2)` and

[2021-04-08 18:18] peterinnesmsft commented on #6254
@garypretty are you the right PM owner for this feature area? Can you take a pass if so, or help route to the right owner if not?

[2021-04-12 04:05] jianwshen commented on #1395
We are facing a slowness issue to use MS Teams as Chatbot channel.
The average response time from our Chatbot server API is 1000 ~ 2000 ms.
This number is from the API test using Postman.
If using a Chatbot UI to send a 'hello' message, the response time to the Chatbot UI is the same as API response time about 1000~2000 ms.
But if we integrate the same API with MS Teams as a channel, the response

[2021-04-12 22:19] kaerm opened #6255 "Auth flow support for adaptive cards (1.4) commands"
Add support for auth flow for the new Adaptive Cards components

OBI spec is here: microsoft/botframework-obi#128

Hacked up webchat that can do AC 1.4 cards: https://github.com/clearab/CateringDemo

## Tracking status

### .NET [Issue](https://github.com/microsoft/botbuilder-dotnet/issues/5468)
- [ ] PR
- [ ] Merged

### JS [Issue](https://github.com/microsoft/botbuilder-js/issues/3562)
- [ ] PR

[2021-04-13 02:00] haacked opened #6256 "OAuth redirect after slack bot install does not pass temporary auth code"
## Version

4.12.2

## Describe the bug

Installing a Slack Bot does not pass the temporary auth code to the landing page.

I'm working on a Slack Bot using Azure Bot Service and the .NET Bot Framework. In Slack I have the redirect URL set to https://slack.botframework.com per [the docs](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-4.0

[2021-04-13 18:58] p-nagpal opened #6257 "Streaming Library: Telephony Channel - Bot websocket reconnections"
## Issue

While onboarding several customers to the Telephony speech channel, we have discovered various issues related to Telephony Channel-bot websocket connection drop. Even though channel automatically reconnects with bot under the hood, but there are some problems consequences of reconnection.

1. When a websocket connection drops, the bot is unable to send message due to broken connection no

[2021-04-14 10:55] patrickianco opened #6258 "Support for Facebook Personas API"
Hello,

I'm wondering if the botframework sdk supports the use of Facebook's Personas API? I tried adding it to the channelData property but I don't see it reflecting in my chatbot.

[2021-04-14 17:41] stevkan commented on #6256
@haacked, thank you for your patience. I've been able to set up the environment and am working on repro'ing the issue. I hope to have an update for you by EOD, possibly tomorrow.

[2021-04-14 17:46] stevkan commented on #6250
@haacked, thank you for your patience. I will attempt a repro of this and see what is returned. I hope to have an update for you by EOD, possibly tomorrow.

[2021-04-16 18:00] tsuwandy opened #6261 "Remove bf orchestrator plugin instruction and updated Orchestrator links"

[2021-04-16 20:01] #6261 closed

[2021-04-16 23:30] tomlm opened #6263 "EmitEvent - aka "emit a custom event" should be grouped in Dialog Management, not external resources"
## Describe the bug

EmitEvent is a dialog management concept, and always internal, it should not be in external resources.

## Version

1.4.
It's here:
![image](https://user-images.githubusercontent.com/17789481/114958505-02e68e80-9e18-11eb-8846-87f8ceb86e71.png)
Should be here:
![image](https://user-images.githubusercontent.com/17789481/114958526-0da12380-9e18-11eb-9e5a-4402a2257ab4.png)

[2021-04-16 23:33] tomlm opened #6264 "Composer uses terms which do not align with the documentation of the core SDK."
## Describe the bug

Composer continues to use terms and descriptions which do not match the SDK and documentation of the components. This leads to cognitive load in a system which is already extremely complex.

## First Principal - Composer should always surface the actual name that is in the docs, in the SDK and in the class names. Not doing that leads to confusion and insconsistencies.

Example

[2021-04-16 23:47] stevkan commented on #6250
@EricDahlvang @clearab, can you respond to this feature request and what expected behavior is/should be?

[2021-04-18 16:58] rvinothrajendran opened #6265 "Issues and feature requests section refer wrong link"
## Describe the bug
Issues and feature requests section SDK v4 JavaScript , python , Java refer wrong link

## To Reproduce
go to Issues and feature requests section  click SDK v4 JavaScript , python , Java

## Expected behavior
Should go to corresponding repro

## Tracking Status

**Dotnet SDK** [N/A]()
- [ ] PR
- [ ] Merged

**Javascript SDK** [N/A]()
- [ ] PR
- [ ] Merged

**Python SDK** [N/A](

[2021-04-19 18:02] stevkan commented on #6256
@haacked, can you share with me the steps you took to setting up your landing page and button? In my testing, when I add my bot as an app from the app directory, I am immediately brought to my landing page which has the embedded Slack button. Which, of course, when pressed brings me to the permissions page for the app allowing me to add the app to the workspace and channel. When pressed, it adds t

[2021-04-19 18:47] haacked commented on #6256
Sure. Here's the "Add to Slack" button we use in our website.

https://slack.com/oauth/v2/authorize?client_id=1103008406706.1108577904386&scope=app_mentions:read,channels:read,chat:write,groups:read,im:history,im:read,im:write,mpim:history,team:read,users.profile:read,users:read&redirect_uri=https%3a%2f%2fslack.botframework.com%2fHome%2fauth%2fv2&state=abbot-bot

In Slack, we have `https://slack.b

[2021-04-19 19:28] clearab commented on #6250
That's an interesting idea - my understanding the logic of why it has the current behavior is that name is associated with the conversationId, which in a channel context is actually the Id for the conversation thread, and not actually the channel. The recommendation is typically that you make the call to get the channel names once when your bot is installed in a context, then store/cache the names

[2021-04-19 19:51] haacked commented on #6250
Ah, thanks for that context.

To provide more context for why I think this is a worthwhile change, I chose to use Azure Bot Service so that we could support multiple chat platforms.

This is one case where the behavior differs from Slack. When we receive messages from Slack, we get the channel name.

It'd be nice not to have to special case Teams in this case and add code to store and cache channe

[2021-04-20 00:02] clearab commented on #6250
Seems to make sense to me, I'm not sure why Teams isn't populating those fields - I'll defer to @Wajeed-msft from here.

[2021-04-20 00:21] #6265 closed

[2021-04-20 15:30] jemjos opened #6268 "Query after the skillBot execution is still going to the skillBot rather than the rootBot."
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
v4

## Describe the bug
Issue: We have used the skillBot sample to create a bot which handles proactive as well as non-proactive cards messages. While the bot works

[2021-04-20 15:31] jemjos commented on #6268
[issue-docs.zip](https://github.com/microsoft/botframework-sdk/files/6344745/issue-docs.zip)

[2021-04-20 17:19] pavolum commented on #6248
@cleemullins do we have an ETA for the release that includes this bug?

[2021-04-20 17:37] cleemullins commented on #6248
This change was [merged into our 4.13 branch](https://github.com/microsoft/botbuilder-dotnet/pull/5427), which is now live.

If you update to the latest packages, you'll have this fix.

[2021-04-20 21:00] dmvtech commented on #6248
@silverbulletgt I just tested with Composer and it's not quite working for me. But that might be that I don't have everything set up correctly. I'm still working on it and will let you know.

But as said above; the fix is in 4.13. If you can, please test it in your repro and let us know if how it behaves for you.

[2021-04-21 09:01] arieschwartzman opened #6270 "recognizeChoices function returns erroneous result when using utterance with index numbers"
## Version
NodeJS SDK - package botbuilder-dialogs, version: 4.11.1

## Describe the bug
**recognizeChoices(utterance, choices, opt)** function returns erroneous output when searching options using index numeric values in particular circumstances.

## To Reproduce
pass the following parameters:
**utterance**:
[code]
**choices**:
[code]
**opt**:
[code]
Function returns the following:
[code]
***Noti

[2021-04-21 15:07] silverbulletgt commented on #6248
Hi @dmvtech, thanks for taking a look.  I still see the same issue when using the composer.  I tried this using the nightly build [v1.4.0-nightly.237101.f01cb52](https://github.com/microsoft/BotFramework-Composer-Nightlies/tree/v1.4.0-nightly.237101.f01cb52) version as well.

In the Bot Composer GitHub project there is a runtime folder which has several C# projects [Composer dotnet runtime](https:

[2021-04-22 16:50] stevkan commented on #6256
@haacked, thank you for your patience. I've reached out to some colleagues and am waiting for a response. I'll provide an update as soon as I have something more to share.

[2021-04-22 17:31] stevkan commented on #6256
I was able to get answers to your questions. Regarding the `signature` that is passed when redirected, when a user goes through the OAuth flow to add a bot their Slack channel the request is signed with the customer's signing secret. This is added to the request so it can be verified as a legitimate. The `signature` is the response of that signing.

If of interest, you can use code similar to the

[2021-04-22 17:32] stevkan commented on #6256
Closing this as resolved.

[2021-04-22 17:32] #6256 closed

[2021-04-23 08:49] NereaCabiedasMoreno commented on #2985
I have made a bot with Node.js locally, then in the Azure platform I have created a bot channel registration and in the messaging endpoint I have put the address of the server where I have uploaded and the bot is executed (https: // ___ : 3978 / api / messages), with this address the bot in the bot framework emulator works for me, on the other hand, in the channel registration bot I have created a

[2021-04-23 17:31] clearab opened #6272 "Triggers need to be able to assign properties"
One of the biggest things we've lost in moving from ActivityHandler to triggers is the ability to serialize the incoming Activity/invoke payload into object that are easier for the developer to work with. This means that anyone using Composer that needs to get access to a particular piece of information needs to understand the Activity schema well enough (or find the right documentation). This is

[2021-04-23 19:24] tomlm commented on #6272
I agree, there 2 are  mechanisms

1.  Condition can add promote properties to turn, so **turn.activity.value.data.action.verb** can be accessed as **turn.action.verb**
2.  You can register a PathResolver which maps **action.xxxx => turn.activity.value.data.action** so **action.verb** works

[2021-04-24 12:48] RajdeepRay0411 opened #6276 "Unable to open .docx file downloaded from SharePoint site / Azure Blob Storage in desktop app(Word) in Teams."
## Version
Bot Framework SDK 4.8.1

## Describe the bug
When I'm trying to read files from SharePoint/ Azure Blob Storage, The file from SharePoint site / Azure Blob Storage is properly downloaded in teams and uploaded in one drive as well. on clicking the three buttons and choosing different actions gives different results:-
1. Edit in teams: Doc.aspx is requesting access to open it and on clicki

[2021-04-25 05:42] plan-do-break-fix opened #6277 "Typo in product documentation - "activites""
## Describe the bug

`/docs/umlDiagrams/Authentication/ChannelToBot/README.md` contains the text "activites."

## Expected behavior
Give a clear and concise description of what you expected to happen.

`activites` => `activities`

[2021-04-25 16:33] patrickianco commented on #6258
Hello is there an update for this? Is this possible in the current build?

[2021-04-26 16:58] Zerryth commented on #6277
Thanks for reporting @plan-do-break-fix. Quick fix is up, and will be in shortly after review

[2021-04-26 20:16] v-kydela commented on #6276
Thanks for the report, @RajdeepRay0411

This looks Teams is sending the wrong command to Office, which would make this a Teams problem rather than a bot problem. The best way to provide Teams feedback is usually through Teams itself, but I'll see if I can find someone who can help.

[2021-04-27 05:45] Wajeed-msft commented on #6276
@v-kydela - I have raised this on Teams side here: https://github.com/MicrosoftDocs/msteams-docs/issues/3180

Could you please help to close this?

[2021-04-27 20:32] tracyboehrer opened #6280 "Update Java version to 4.13.0"

[2021-04-28 16:33] #6276 closed

[2021-04-29 17:57] stevkan commented on #6268
@jemjos, I'm unable to repro the issue, at this moment. But, I want to connect with a colleague for an additional test. I will keep you updated.

[2021-04-30 05:00] jemjos commented on #6268
@stevkan p.s the issue occurs after the card gets updated once as demonstrated in the attached video.

[2021-05-02 10:20] feyli commented on #3788
Hi! I know it has been closed for a while but it's exactly the answer I searched for and I don't know how to put the DNS in the conf file :(
Where do I place the DNS, in front of what?

Thanks for answering ^^

[2021-05-03 09:20] EdoardoCinelliSistemEvo opened #6282 "Facebook message_echoes SendActivitiesAsync Forbidden"
I need to reprompt the quick replies when the owner of the facebook page sand message in the chat. The only way to catch this event is by using Facebook [message_echoes](https://developers.facebook.com/docs/messenger-platform/reference/webhook-events/message-echoes/?locale=it_IT) but if i try to use ITurnContext of the echo message or one stored of previous message throw me this error :

and this

[2021-05-03 11:48] prafuldhone commented on #5663
Hi Team,

I am publishing the Bot from Composer. It is getting published properly from Composer. But I am not able to run it on Web APP Bot on Azure Portal:
Mostly I am getting this error:
There was an error sending this message to your bot: HTTP status code GatewayTimeout

Sometimes I do get this error:
There was an error sending this message to your bot: HTTP status code InternalServerError

Ple

[2021-05-03 17:31] v-kydela commented on #6282
Thank you for the report, @EdoardoCinelliSistemEvo

Can you please provide some minimal example code and repro steps?

[2021-05-04 09:24] EdoardoCinelliSistemEvo commented on #6282
This is a code example of what I am trying to do. The first 2 SendActivityAsync are for debugging only.
[code]
To recreate this bug you need to activate the message_echoes feature on facebook. As a user, send a message that activates an output with Quick Replies via the botFramework. Supposing that the user doesn't choose any Quick Replies, enter the page inbox as the owner of the page, and send a

[2021-05-04 17:31] silverbulletgt commented on #6248
Hi there, just wanted to follow up about this issue.  Is this something which is still planned to be addressed?  Thanks!

[2021-05-05 00:58] stevkan commented on #6249
@tannguyen3, thank you for your patience. The failures listed in 'failed requests.csv' file are both 500 errors. These indicate that there was/is an error in the bot, itself. The bot failed to respond within 15 secs resulting in the generated errors. This could be due to a bonified error in the bot or because of a long running process (e.g. an API call that takes longer than 15 secs to resolve). I

[2021-05-05 03:42] stevkan commented on #6268
@jemjos, just re-iterating the request made over Teams:

I'm digging into the issue (referenced above) and am having some trouble replicating the calls you are making from Postman. Could post the details of your calls for sending a card and for updating the activity into the issue? Please include the full URL, headers you pass in, and request body. No need to send keys. I can add those in from my

[2021-05-05 13:27] jemjos commented on #6268
@stevkan please find the requested details attached.
#1 REQUEST1-CREATE -Create request details
#2 REQUEST2-UPDATE -Update request details
#3 TOKEN-GENERATION - Token generation details

POINT TO NOTE: After sending the **CREATE** request, update the body for **UPDATE** request with appropriate conversation-id and activity-id by replacing the placeholders before sending the request. You can retrie

[2021-05-06 20:35] v-kydela commented on #6282
Thanks, @EdoardoCinelliSistemEvo

I want to see if I can make this example a bit more minimal so that we can narrow down what might be causing the issue. It looks like you're doing a few different things in response to a Facebook echo. Which of those lines are causing the errors that you posted about originally? Can you reproduce the problem using only those lines?

You mention quick replies as pa

[2021-05-07 00:22] dmvtech commented on #6248
Hi @silverbulletgt

So, _one_ of my issues, it was that I was not passing an activity when calling the skills from the root bot (I was calling the skills individually with an recognizer that would hit that trigger, but from the root bot's "call both", that wasn't being done).

I'm not able to get your skills running (not able to run local IIS), but poking around, it looks like your bot just sends

[2021-05-07 08:14] cxbuilders opened #6284 "Proactive Message from Skill not showing up in Skill consumer"
We have developed various handoff skills that allow skill consumers to handoff their users to chat systems like Genesys, Salesforce, Teams etc. These skills rely on Proactive Messages to relay the agent message back to the user. However when I hooked up a PVA bot to this Skill the proactive messages did not arrive at all.

I isolated this into a simple proactive skill that sends messages every 10

[2021-05-07 10:39] EdoardoCinelliSistemEvo commented on #6282
All 3 lead to the error and the third which is the one that should fix my problem has no effect on the chat. All 3 calls are made with the same from id, conversation id and recipient id but they should be reversed since in the second and third call I don't use the same ITurnContext.

No, to be able to reproduce it you have to save ITurnContext in a list and then access it, I used the BotAccessors

[2021-05-07 11:40] Clooney24 commented on #6156
this helped me solve that issue: [https://stackoverflow.com/questions/66498624/bot-framework-composer-slack-adapter-unhandled-error-unable-to-get-an-instanc](url)

[2021-05-07 14:07] silverbulletgt commented on #6248
Hi @dmvtech, thank you for taking look at this issue.

I have updated the [MultiSkillComposerBot](https://github.com/silverbulletgt/MultiSkillComposerBot) repo to be able to run through IISExpress.  I have put instructions in the readme.md file on how to use this.

Open the solution file: MultiSkillComposerBot.sln
Ensure that Bot.Skills is set as the startup project
Push F5
Check that the manifest

[2021-05-07 16:46] EdoardoCinelliSistemEvo commented on #6282
1) await turnContext.SendActivityAsync("foo");
2) await echoTurnContext.SendActivityAsync("foo");
3) await dcEcho.RepromptDialogAsync();

[2021-05-07 18:19] #6277 closed

[2021-05-07 23:09] v-kydela commented on #6282
Thank you, @EdoardoCinelliSistemEvo. I've figured out what's going on now.

The Bot Framework Facebook connector service doesn't always have a good idea of how to handle the various Messenger webhooks, and in the case of message_echoes it gets things a little backwards. This makes sense when you think about what an echo is and how it reverses the direction of messages. The connector service looks

[2021-05-09 17:23] parsalotfy opened #6285 "An unhandled exception has occurred while executing the request. System.Net.Http.HttpRequestException: Address not available"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

I use this container as build environment : **mcr.microsoft.com/dotnet/sdk:3.1-alpine**
on Windows 10 OS build 19043.

[2021-05-10 02:12] jonathanhotono commented on #6247
Hi guys.. any update or explanation over this functionality?

[2021-05-10 08:29] priyashil-dev opened #6286 "How to secure messaging endpoint of a Microsoft framework BOT hosted behind company firewall"
I need some help in selecting hosting environment for a BOT developed using Microsoft botframework for Microsoft Teams. The preference is to host the Bot behind company firewall. Our main concern is on securing the BOT messaging endpoint hosted behind firewall. I understand that we need to create azure bot registration and define our messaging endpoint. I do not see a way to provide authentication

[2021-05-10 13:46] tdurnford commented on #6284
@msomanathan Can you take a look at this?

[2021-05-10 17:38] anusharavindrar commented on #6286
@priyashil-dev, the Bot Framework team prefers that how-to questions are asked on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) and tagged with 'botframework' to better the bot community.

[2021-05-10 22:49] v-kydela commented on #6282
@EdoardoCinelliSistemEvo - Are you still working on this?

[2021-05-11 00:02] msomanathan commented on #6284
@cxbuilders - Could you please try the following overload of `ContinueConversationAsync`: https://github.com/microsoft/botbuilder-dotnet/blob/3181dd34ceb68878d9ffea42626ebb839a58482b/libraries/Microsoft.Bot.Builder/BotAdapter.cs#L183?

From a skill, it needs the OAuthScope of the consumer bot to be passed as the `audience` of the proactive message.

[2021-05-11 09:25] priyashil-dev commented on #6286
Thank you @stevkan I raised it here because I didn't receive any response for my question posted on stack overflow https://stackoverflow.com/questions/67432429/how-to-secure-messaging-endpoint-of-a-microsoft-framework-bot-hosted-behind-comp , not sure how to increase the visibility. thanks for BTW.

[2021-05-11 11:52] ryub3n opened #6287 "Hero Card not displaying markdown properly in Teams"
## Version
What package version of the SDK are you using: v4.13.2

## Describe the bug
Hero card is not displaying bold text and tel urls in Teams.
This could only be an issue with Teams though as it works in WebChat.

## Expected behavior
Should be able to display bold text and tel urls as bold and links are supported by adaptive cards.

## Screenshots
![image](https://user-images.githubuserconte

[2021-05-11 14:15] tdurnford commented on #6268
@stevkan any updates?

[2021-05-11 15:22] msomanathan commented on #6284
@cxbuilders Could you please share your bot code for me to repro your scenario?

[2021-05-11 16:04] jwiley84 commented on #6287
@clearab @Wajeed-msft Can you look into this?

[2021-05-11 17:03] jonathanwagnerjambit opened #6288 "Bot Channel Registration not showing up on dev.botframework.com"
## Version
4.11

## Describe the bug
My active "Bot Channel Registration" not showing up on dev.botframework.com page for unknown reasons.

## To Reproduce
Steps i did:
1. Go to dev.botframework.com
2. Click on "My Bots"
3. register new bot channel registration
4. after success go back to "My Bots"
5. see: "You don't have any bots or skills yet. Build a bot using the Bot Builder SDK and optionally

[2021-05-11 18:08] jwiley84 commented on #6285
on it!

[2021-05-11 21:29] msomanathan commented on #6284
@cxbuilders Thanks, I will take a look at the sample. Meanwhile, could you please try to get the `audience` parameter from the turn state like the below code? The turn state should have the OAuth scope of the skill consumer regardless of whether the consumer is PVA or not.
https://github.com/microsoft/BotFramework-FunctionalTests/blob/4507be00dd746f9f34dfbb747d7aa178477e42ce/Bots/DotNet/Skills/Cod

[2021-05-12 06:33] cxbuilders commented on #6284
@msomanathan Just tried the OAuthScopeKey using the code you provided and that worked perfectly!

[2021-05-12 09:00] parsalotfy commented on #6285
could you reproduce that error ? or that error happened just in my side ?!
sadly my project is stand by just because of this error :(

[2021-05-12 16:50] cleemullins commented on #6284
@msomanathan @cxbuilders closing due to customer having code now working.

[2021-05-12 16:50] #6284 closed

[2021-05-12 17:06] #6086 closed

[2021-05-12 17:36] v-kydela commented on #6282
@EdoardoCinelliSistemEvo - My sample code doesn't currently mention `ApplyConversationReference`, so I presume you're talking about the comment I made before I edited it. You can see `ApplyConversationReference` used in samples 17, 80, and 81 if that's what you're asking. As with all public methods in the SDK, it is documented: https://docs.microsoft.com/dotnet/api/microsoft.bot.schema.activity.ap

[2021-05-12 17:36] #6282 closed

[2021-05-12 18:02] tdurnford commented on #6288
@Andrea-Orimoto Can you take a look at this or route it to whoever you think is appropriate.

[2021-05-13 09:02] stevkan commented on #6249
Closing due to inactivity.

[2021-05-13 09:02] #6249 closed

[2021-05-13 17:24] stevkan commented on #6268
@jemjos, thank you for your patience while I've been looking into this. I've been trying to run your code plus your request scripts however I'm getting an error in the bot code that I'm working on hunting down. There are a couple items I want to look into where I suspect the issue is. If I'm not successful, I may reach out to you in Teams.

[2021-05-13 17:25] harshithkashyap opened #6291 "Adaptive Card 1.4 Support for Directline channel"
## Version
BotbuilderJS - 4.13.2

## Describe the bug
The latest release of the [Adaptive Cards](https://github.com/microsoft/AdaptiveCards/releases/tag/21.03) package has enabled support for Action.Execute type with Adaptive Card Version 1.4. This is currently working with Teams bot when sending an 1.4 AC using the directline channel results in _We're sorry, this card couldn't be displayed_ card

[2021-05-14 16:24] tdurnford commented on #6291
Seems similar to https://github.com/microsoft/BotFramework-Services/issues/87

[2021-05-14 17:03] Andrea-Orimoto commented on #6288
@jonathanwagnerjambit I can repro the issue, we'll take a look.

btw, I'm assuming you created the bot channel registration in the Azure Portal, If you stay in the Azure Portal and visit the Bot Services page, you should see all your bots in there https://portal.azure.com/#blade/HubsExtension/BrowseResource/resourceType/Microsoft.BotService%2FbotServices, which is the Azure equivalent of the My Bo

[2021-05-14 18:09] Andrea-Orimoto commented on #6288
@jonathanwagnerjambit after checking with the team, this is by design, all Azure bots will not show up in the dev portal, please find them in the Azure portal at the link in the previous comment. We'll fix that page to make it clear. Thanks for reporting this, it is indeed confusing. I'm closing the isssue, feel free to reopen if you still have questions or concerns.

[2021-05-14 18:09] #6288 closed

[2021-05-16 00:17] arafattehsin opened #6292 "Not able to access turnContext.TurnState from Composer"
## Describe the bug

I'm converting one of the Bot Builder Community's middleware to the Bot Framework Component. This part works well. There's no issue with that.

However, this middleware (and many others of the similar nature), keep a value in a state just like below [7];

![image](https://user-images.githubusercontent.com/16351038/118381341-545b8680-b62d-11eb-9534-b3089016bccc.png)

I am able

[2021-05-17 08:21] jemjos commented on #6268
sure @stevkan. Happy to assist with clarification from my end.

[2021-05-17 16:55] ninggao commented on #6285
@jwiley84 Any updates on this issue?

[2021-05-17 16:57] jwiley84 commented on #6285
Apologies, my docker skills are a bit rusty. I should have an answer for you by this morning.

[2021-05-17 17:13] stevkan commented on #6268
@jemjos, I'm also working on connecting with a colleague regarding this issue. Either way, I'll keep you updated.

[2021-05-17 18:14] ninggao commented on #6292
@anusharavindrar Could you please take a look at this one?

[2021-05-18 10:36] ryub3n opened #6293 "Log QnA match/score for answers below threshold"
## Issue

Bot telemetry does not show the QnA match details nor the score if the answer is below the threshold

## Proposed change

It should show the score as well as the answer it matched as it does for answers above the threshold.

## Component Impact

Probably all the SDKs

## Customer Impact

This is especially useful when creating dashboards/analytics e.g. frequency of questions below thresh

[2021-05-18 12:33] shahidmh commented on #3004
I am facing an issue when I manually scale out the app service  the conversations are not having a continuity like i designed
but when i scale out back to 1 instance it working as expected
we are using cosmos dB to store the state
what could be the reason for this .how can i do the load balancing here

[2021-05-18 13:11] amoyalan20 opened #6294 "Automatic update of teams users list(Teams issue)"
We have wrote a code in **OnMembersAddedAsync** activity to get all users who all are accessing the teams bot. But we are only getting users who are newly accessing the teams bot. Is there any way to refresh and start new conversation in MS Teams, so that its gets hit on **on-members added** activity.

We have tried an “**Auto Deploy**” method for the existing teams bot. Still not able to get the

[2021-05-18 16:04] silverbulletgt commented on #6248
@dmvtech Hi, any update on this issue?

[2021-05-18 18:09] ninggao commented on #6292
@dmvtech Could you please take a look at this one?

[2021-05-18 18:11] anusharavindrar commented on #6292
@boydc2014, any pointers on how to go about solving the user's ask of extracting the value of Sentiment property in Composer.

[2021-05-18 19:56] silverbulletgt commented on #6248
I have been doing some debugging on this issue & this is what I seem to have found so far.

After the first skill is called the skill returns an "End Of Conversation" reply.
This happens in [DialogExtensions.cs - InnerRunAsync](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs/DialogExtensions.cs) on line 141.
[code]

Then when the 2nd skill is called

[2021-05-18 20:05] silverbulletgt commented on #6248
I have been able to prevent this behavior by adding something into the "Activity" field within the Bot Composer for the skill.  This is not ideal since I will need to do this for every skill which does not have some other requirement to pass in a specific activity value.  I'm investigating how I can possibly use middleware to modify the activity from "EndOfConversation" to something else.  I worry

[2021-05-18 22:05] dmvtech commented on #6294
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2021-05-18 22:05] #6294 closed

[2021-05-18 22:05] dmvtech commented on #6294
Hi @amoyalan20

This is expected. For Teams, this only fires the first time. The teams connector service keeps track of the bot and users and the only way to re-do this would be to create a new bot ID (app ID).

Depending on your needs, there may be other things you might be able to do. Please create a question on Stack Overflow.

[2021-05-19 00:04] boydc2014 commented on #6292
@Danieladu can you help check what's the correct way to refer this "Sentiment" object

[2021-05-19 00:38] arafattehsin commented on #6292
@boydc2014 - I totally agree on TurnState not being equal to "turn" scope. However, the suggested approached `(TurnState.Add("turn.Sentiment",value)` did not work. Although I have managed to make it work by storing it to the `conversation` memory scope and since it is accessible from the Composer; it works.

However, I am still not sure if it should be considered as a good practice to store these

[2021-05-19 01:50] boydc2014 commented on #6292
Sorry for the inaccruate suggestion, i didn't try turn.Sentiment, there seems to be a little different here, @Danieladu can you help point to how to update turn scope correctly.

In terms of which scope to pick, turn, conversion, user have different persistence policy, depends on your scenario , here is a more detailed description https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-conc

[2021-05-19 01:54] Danieladu commented on #6292
hi @arafattehsin
You may could not set "turn.xxx" directly in Middleware, please ref this code to find a right way if you want to set some data into "turn" scope in middleware: https://github.com/microsoft/botbuilder-dotnet/blob/587bde7cc0b1c0f67ec3c4a568d7409c4ec1f706/libraries/Microsoft.Bot.Builder/TurnContext.cs#L114

Or if your code could access "ObjectPath" class, you could apply such code be

[2021-05-19 01:59] arafattehsin commented on #6292
My problem is to access it in Composer. I am able to set turn.TurnState in the middleware.

[2021-05-19 02:06] boydc2014 commented on #6292
The reason you wasn't able to access it is you didn't set it correctly. This line is wrong, you aren't suppose to set things directly into TurnState object.
![image](https://user-images.githubusercontent.com/3829387/118745894-c6c8a280-b889-11eb-8eda-3628e91085e8.png)

A correct indicator is this, if you succesfully put your information in here, then later you would be able to refer it.
![image](ht

[2021-05-19 02:08] Danieladu commented on #6292
What you set is a value with a string key, the key name is "turn.xxx". But in Composer, if user input : "turn.xxx", it means turn is a outer property, and xxx is an inner property.
For example:
Turn state:   -> you set "turn.xxx" -> yyy,  the real data is
[code]

But if you apply the solution I given: you could get:
[code]

The composer could only access the "turn" scope, but not "turn.xxx" scope.

[2021-05-19 02:14] arafattehsin commented on #6292
@boydc2014 and @Danieladu - now it makes sense to me. Thanks folks. I will try this way and surely get back to you. Once done, I will then close this issue.

[2021-05-19 06:55] arafattehsin commented on #6292
Thanks @boydc2014 & @Danieladu - works like a charm!

![image](https://user-images.githubusercontent.com/16351038/118768963-f516a400-b8c2-11eb-82f3-cb576ec6c058.png)

[2021-05-19 06:55] #6292 closed

[2021-05-19 13:33] silverbulletgt commented on #6248
I was able to build a structure which addresses this issue.  Though this solution is not ideal & may not be possible for everyone.  It requires that the Bot Composer be setup to use a "Custom Runtime", then the "Custom Runtime" must be modified manually.  In the event that the "Custom Runtime" is regenerated these steps would need to be done again.

There could be consequences to preventing a skil

[2021-05-19 18:57] dmvtech commented on #6248
Hi @silverbulletgt Sorry for the delay.

I just cloned repo of your repository, fired up the skills in VS/iisexpress and the bot in composer 1.4.1 and found it was working for me:

![image](https://user-images.githubusercontent.com/43397658/118867882-6c830e00-b898-11eb-836c-09463f342bc9.png)

That was done before seeing your last large comment above and noticing the changes you had made 😅. Regardi

[2021-05-20 00:28] stevkan commented on #6268
@jemjos, thank you for your patience. I looked this over and I am unable to repro the issue you are experiencing. At first, I thought I _was_ getting the same or a similar error until I realized I wasn't completely following the steps you outlined. After re-aligning my steps to yours, your bot's code worked for me correctly.

When I type 'begin', I can click the 'greeting' button which updates the

[2021-05-20 15:25] jemjos commented on #6268
@stevkan could you please confirm that this is the flow you followed while checking proactive message usecase:
1. sent message using POST request.
2. update message using PUT request.
3. click on buttons.

If this is the flow, could you please confirm whether any code changes/ package updates where done to the provided code cause  the behavior experience is shared as a video recording initially.

[2021-05-20 19:19] stevkan commented on #6294
@amoyalan20, one option is to use [Microsoft's Graph](https://developer.microsoft.com/en-us/graph/graph-explorer) API to query who the members are of the team. This is an already tested method that other's have employed with both supporting documentation and guides in their [docs](https://docs.microsoft.com/en-us/graph/teams-concept-overview).

[2021-05-20 19:39] stevkan commented on #6268
Yes, those are the steps I performed while checking the proactive message usecase. I haven't made any changes to the code.

However, what I don't know is the specific version of the SDK you are using. You only list v4 in the issue description. I haven't change the installed version listed in package.json (v4.9.1). Is that the version you have installed, as well?

[2021-05-21 17:31] ninggao commented on #6285
@jwiley84  Any updates on this issue?

[2021-05-21 17:44] parsalotfy commented on #6285
Thank you for your efforts investigating my issue.

[2021-05-24 04:34] PankajDeck opened #6297 "Is is possible to get user's Org detail?"
I am trying to get the user's org details while handling the users for my teams application. There are possibilities that one user is part or multiple organization and All the Org might installed the teams app separately.

Kindly route me if there is something related to this.

Thanks,
Pankaj

[2021-05-24 16:23] jwiley84 commented on #6297
Hi @PankajDeck !

The Bot Framework team prefers that **How-To** questions be asked on Stack Overflow and tagged with the [Bot Framework](https://stackoverflow.com/questions/tagged/botframework) tag. I'm going to close this issue.

That being said, I recommend you look  into using the Graph API to access information on your users: https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/c

[2021-05-24 16:24] #6297 closed

[2021-05-25 17:35] #5918 closed

[2021-05-26 07:16] LakshummaC opened #6298 "Issue while querying Logs from Application Insights"
Hi Team,

**Explanation:**
For storing customer user data into Application Insights, we have added the following setup in **Startup.cs**

[code]

The above lines of code storing data inside dynamic column of **"CustomDimensions"** inside **"CustomEvents"** table of AppInsights. When the user perform any activity the data is getting stored inside **"CustomDimensions"** column as a json field called

[2021-05-26 10:14] d-bauer opened #6299 "Adaptive Cards on Slack not available after 24hours"
## Version
C# with Bot Framework SDK v4.13 (and .NET Adaptive Cards v2.7.0)

## Describe the bug
When using the bot framework and connect it to a slack channel, bot sent adaptive cards get automatically transformed to images (which is fine!) and displayed correctly in chats.
Those images sadly are NOT available after 24hours, leaving an empty image (see screenshot below).

## To Reproduce
Steps to

[2021-05-26 16:52] jwiley84 commented on #6285
My apologies, this somehow fell off my radar.

[2021-05-26 17:44] mattcasey commented on #2524
In case anyone finds this thread, because I spent an entire 24 hours figuring out how to make v4 of botframework work with `koa`, here's my working code:
[code]

[2021-05-26 17:50] jwiley84 commented on #6285
My sincerest apologies. I'm having a significant difficulty getting docker to run on my computer.

[2021-05-26 18:40] parsalotfy commented on #6285
@jwiley84 Can I help?

[2021-05-26 20:43] v-kydela commented on #6298
Thank you for the question, @LakshummaC

This does sound like a problem. Would you be satisfied with a solution that just accounts for all possible name variations in the query, or perhaps one that modifies your existing data so that the fields have the correct name? Or are you asking us to make sure our system writes the field names consistently?

[2021-05-27 05:22] LakshummaC commented on #6298
For Now, is it possible to change the Power BI templates queries which contains all the possible column name and give us all data without any loss.
and also is it possible to change the existing data that is stored in the application insights so that we have consistent coulmn name for all records.

and Finally, can we make sure that bot framework write the field name consistent for future chatbot

[2021-05-27 10:40] sunijk opened #6301 "Slowness for chat messages in Skypebot"
![slow-issue2](https://user-images.githubusercontent.com/14799495/119812612-f1f46700-bf05-11eb-95e5-a58fea3e7c28.png)
![slow-issue](https://user-images.githubusercontent.com/14799495/119812630-f587ee00-bf05-11eb-82c0-7fb00377d1b2.png)

## Version
Microsoft Boat framework in Node JS

## Describe the bug

I have created a Skypebot application in Node JS. Recently we face slowness for chat messages i

[2021-05-28 09:18] w01fgang commented on #6247
@jonathanhotono I use [MS Graph](https://gist.github.com/w01fgang/e08d71e0eb95b736bbde09e0d6c30d3e) to imperatively install the app to users. Once you install the app, then the bot will receive the `conversationUpdate` event with the user's conversation context, save it, and reuse when you need to send a notification.

[2021-05-29 01:10] tdurnford commented on #6285
@jwiley84 If you're having docker issues, is there another support engineer who look into this?

[2021-05-29 06:23] jonathanhotono commented on #6247
Hi @w01fgang that is exactly the problem I am addressing. We don't want user to interact with the bot first to get `conversationUpdate` and save the user details on storage. We want to use graph to start conversation directly with a user id.

[2021-05-29 12:18] WhiteCyClop opened #6302 "Unstable error "BadGateway" at sending activities"
## Version
4.10.3

## Describe the bug
A few weeks ago I noticed that sometimes my bot throws an error "Microsoft.Bot.Schema.ErrorResponseException: Operation returned an invalid status code 'BadGateway'" when it tried to send activity to user. This is the stack of error:

[code]

The strangest thing is unstable behavior of this error. For example, a bot can send several adaptive cards to the user

[2021-05-31 11:01] w01fgang commented on #6247
@jonathanhotono [this](https://gist.github.com/w01fgang/e08d71e0eb95b736bbde09e0d6c30d3e#file-graph-js-L154) will trigger `conversationUpdate` without user interaction, then just save the context for the user id

like this:
[code]
`this.storage` just saves the context to a DB

[2021-05-31 17:16] v-kydela commented on #6302
Thank you for the report, @WhiteCyClop. I would like to help and I have a few questions.

1. Is this a C# bot?
2. What channel are you using?
3. Can you provide some example code to help us reproduce the exception?
4. What are your repro steps?

[2021-05-31 17:58] WhiteCyClop commented on #6302
@v-kydela Thank you for your reply.

1. Yes, this is a C# bot (.Net Core 3.1)
2. I'm using MS Teams Channel
3. For example I use this code to send activity to user:
[code]
And exception is throwed by SendActivityAsync-method of the dialog context.
4. I don't know how to specifically reproduce this error, I just see it at logs of my app almost every day.

[2021-05-31 18:33] v-kydela commented on #6302
@WhiteCyClop - I notice that your code deletes and updates activities. Is it possible that the exception is caused by trying to delete or update an activity that has already been deleted?

[2021-05-31 18:39] WhiteCyClop commented on #6302
No, I have this problem with cases when "replace" parameter is false. My bot just tries to send new activity.

[2021-05-31 20:30] v-kydela commented on #6302
@WhiteCyClop - Can you give an example of an activity that produces the exception? Also, what type of conversation does it happen in?

@microsoft/teams - Can you provide any assistance regarding why Teams might return a bad gateway error?

[2021-05-31 20:36] v-kydela commented on #6302
@WhiteCyClop - Can you give an example of an activity that produces the exception? Could there be something wrong with the conversation ID, the recipient ID, or the service URL? Also, what type of conversation does it happen in?

[2021-05-31 22:42] v-kydela commented on #6298
@LakshummaC - Can you provide an example of some of your data that shows the inconsistent field names? Is there any pattern that indicates which situations the different field names get written in? Is it possible that the names just changed over time so that old entries have different names from newer entries, or do you still see a mixture in your most recent data?

Also, I'm trying to figure out

[2021-06-01 01:31] jonathanhotono commented on #6247
Thanks @w01fgang , I understand and **I had this used on the bot**. The problem that I would like to highlight is, we don't want each user in our organisation to access/go to notification bot beforehand (we got 40,000 users). It would be troublesome for comms to get users to access the bot rails to perform this kind of handshake before we can start publishing notifications. We want to essentially

[2021-06-01 04:19] WhiteCyClop commented on #6302
For example, there was an exception for this adaptive card:
[code]
But also I have this problem with another cards and just messages.

I don't think that there can be something wrong with conversation ID, the recipient ID, or the service URL, because the error may appear a second after the successful sending of data to the same user, and after it everything is also sent without errors.

Type of co

[2021-06-01 04:28] Wajeed-msft commented on #6302
@WhiteCyClop - As there are no specific repro streps, could you please share the Bot Id and timestamp of the issue so that we can check logs?

[2021-06-01 05:16] WhiteCyClop commented on #6302
Yes, Bot Id is "575a5ae9-e730-416a-8c23-9704f9cb2664" and timestamp is [2021-05-28 11:00:45.779 +00:00]

[2021-06-01 19:50] mdrichardson opened #6303 "Feature Request: Add CosmosDbTranscriptStore"
## Issue

This is a customer request, spawned from [this issue](https://github.com/microsoft/botframework-solutions/issues/3813).

I don't see a reason why we _couldn't_ do this, but I definitely wouldn't default to it as Cosmos is likely going to be more expensive to implement this with than Blobs.

## Proposed change

Create a `CosmosDbTranscriptStore` class that implements [ITranscriptStore](ht

[2021-06-01 22:00] stevkan commented on #6268
@jemjos, would connecting over Teams so you could demo the issue (as I am unable to repro) be of value? I reached out to you over Teams, as well. Let me know and we can set a time up.

[2021-06-01 23:04] stevkan commented on #6268
Connecting with @jemjos over Teams to review issue on 4/2.

[2021-06-01 23:56] clearab opened #6304 "Teams - get meeting info"
Add support for the Get Meeting Details API for the Teams channel:

At a high level we need to:

- Add helper method to TeamsInfo to call API (GetMeetingDetails)
- Schematize the possible responses
- Add action to Teams package to call this API

Internal spec: https://microsoft.sharepoint.com/:w:/t/skypespacesteamnew/EeN2mOWZ50JInTOLJzmvajkBp3ucnUMyHQvXLnCpkyw7bQ?e=Cc7gCc

## Tracking Status

**Do

[2021-06-01 23:59] clearab opened #6305 "Teams - meeting start/end events"
Add support for the meeting start/end events from the Teams channel.

At a high level:

- Add activityHandler for new events
- Schema for important bits of incoming payload
- Adaptive stack trigger to handle the event
- Add trigger to Teams package

Internal spec: https://microsoft.sharepoint.com/:w:/t/skypespacesteamnew/EfjfIuqE4QlDmIs_HYK8zoIBOHd99vLk8K79BIP8wg144g?e=B0jcWy

## Tracking Status

[2021-06-02 00:14] clearab opened #6306 "Search invoke and response"
Add support for the new search invoke, and the response.

Doc: https://microsoft-my.sharepoint-df.com/:w:/p/jatimmer/EUlFRzy9xthEq2itfa0R8Q0BHLnIxaPxcOlpGKHw0MM66Q?e=diMWUY

[Probably in R0, ETA for R4 is July]

• Invoke Request

{
    "name": "application/search",
    "type": "invoke",
    "value": {
        "queryText": "a",
        "queryOptions": {
            "skip": 0,
            "top": 15

[2021-06-02 06:00] LakshummaC commented on #6298
@v-kydela Actually because of the NDA i can't share the data here.
There is no pattern, its just coming randomly for different fields.
New Entries also have same issue with randomly different column name.

https://microsoft.github.io/botframework-solutions/solution-accelerators/tutorials/view-analytics/3-open-template/

This is the link where i found out power bi template.

[2021-06-02 16:18] v-kydela commented on #6302
@WhiteCyClop

Does this mean the bad gateway errors you're observing aren't actually preventing messages from going through? Are you saying you just want to know why you're seeing them in your logs even though they aren't interfering with the conversation?

[2021-06-02 17:30] WhiteCyClop commented on #6302
Unfortunately, these errors are actually preventing messages from going through. When I told about successful sending, I mean that there were several messages and most of them were sent to the user normally, but just one can threw exception.

[2021-06-02 18:10] v-kydela commented on #6298
@LakshummaC - Can you provide repro steps so that we can try reproducing the problem on our end?

[2021-06-02 19:26] chrimc62 commented on #6254
@garypretty Looking at the C# code, I believe this is a bug in the JS implementation.  The C# code looks at the types of the arguments.  If they are both integers you get a truncated result.  Otherwise they are both converted to doubles and you get a double result, i.e. div(11,2) = 4, but div(11.0, 2) => 5.5.  If the JS version is not doing this it is incorrect.  @mrivera-ms could you triage and a

[2021-06-03 02:05] Danieladu commented on #6254
@chrimc62 The gap is there is no way to distinguish a real integer and a float with "integer format".
For example in js, here is the screenshot:
![image](https://user-images.githubusercontent.com/7289268/120575165-2068c980-c453-11eb-8eb0-6853cedbcfdf.png)
Result:
![image](https://user-images.githubusercontent.com/7289268/120575212-337b9980-c453-11eb-93c5-14e2deff569c.png)

So, `div(11.0, 2)` and `

[2021-06-03 10:54] coolface88 opened #6307 "[MS Teams] Error while reading manifest.json: Invalid value(s) specified for bots[0].scopes.length: "3""
I got the an issue with sideload of my bot app.

Error:

[code]

My manifest file:

[code]

[2021-06-03 18:16] jwiley84 commented on #6307
I don't seen any over issue with that manifest. Where are you seeing that error?

[2021-06-03 20:29] stevkan commented on #6268
Met with @jemjos over Teams. Witnessed his code producing the error despite everything looking equivalent to my setup which does not produce the error. Sending my code zipped up for him to test with.

[2021-06-03 22:41] anusharavindrar commented on #6285
@parsalotfy,

- I am able to reproduce the issue on my end. Here are the screenshots for the same:

![image](https://user-images.githubusercontent.com/48731427/120719791-bfa3b600-c47f-11eb-9bdf-fc0c94f20462.png)
![image](https://user-images.githubusercontent.com/48731427/120720212-8ddf1f00-c480-11eb-8df5-d548d34f3b78.png)

- However, when I configure ngrok, I am able to get the response in the emu

[2021-06-03 23:39] jemjos commented on #6268
@stevkan thanks for sharing the zip back. i tested with the below setup and still facing the same issue,
1. Both bots linked to a respective bot channel registration via ngrok tunneling which was missing previously as we were using only one.
2. Running the code you shared which is working for you.

[2021-06-04 02:15] coolface88 commented on #6307
I have followed the steps of the below docs to add granular permissions for the bot app. However, when uploading the manifest on MS Teams, I got this error. I have checked the manifest version of 1.9 and it supports the applicationPermissions.

The permissions
[code]
https://docs.microsoft.com/en-us/microsoftteams/platform/graph-api/rsc/resource-specific-consent
https://docs.microsoft.com/en-us/mi

[2021-06-04 05:30] Wajeed-msft commented on #6302
@WhiteCyClop - could you please confirm if this is happening for same user all the time or it's different?

I looked at logs and see some errors related to App Permissions policies. checking this further with engineering team. I'll keep you posted.

[2021-06-04 05:34] Wajeed-msft commented on #6302
@WhiteCyClop - I have copied this issue over to Microsoft Teams side for tracking purpose. Here: https://github.com/MicrosoftDocs/msteams-docs/issues/3561

@v-kydela - could you please help to close this one from this repo?

[2021-06-04 07:02] WhiteCyClop commented on #6302
@Wajeed-msft - This error is happening for different users

[2021-06-04 16:46] #6302 closed

[2021-06-04 17:37] clearab commented on #6306
Work with Jeff D to figure out how to actually trigger this invoke for testing.

[2021-06-04 17:38] clearab commented on #6182
Existing documentation (based on the JSON payloads) https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/universal-actions-for-adaptive-cards/overview?tabs=mobile

[2021-06-04 18:21] clearab commented on #6307
I believe the issue is with your command list definition. Try something like this?

[code]

[2021-06-04 23:46] v-kydela commented on #6298
@LakshummaC - Are you still working on this?

[2021-06-05 00:01] mrivera-ms opened #6308 "Bot Framework v5 Scoping and Specification"
## Tracking Status

**Dotnet SDK** [TODO]()
- [ ] PR
- [ ] Merged

**Javascript SDK** [TODO]()
- [ ] PR
- [ ] Merged

**Python SDK** [TODO]()
- [ ] PR
- [ ] Merged

**Java SDK** [TODO]()
- [ ] PR
- [ ] Merged

**Samples** [TODO]()
- [ ] PR
- [ ] Merged

**Docs** [TODO]()
- [ ] PR
- [ ] Merged

**Tools** [TODO]()
- [ ] PR
- [ ] Merged

[2021-06-07 07:17] LakshummaC commented on #6298
Hi @v-kydela you can create any chatbot like with some dialogs and waterfall steps. Add **direct line** and a **landing html page**. Add the above lines of code (mentioned first in this chat) to store user information to application insights and publish to Azure. Test the bot multiple times through direct line channel and then you can see the number of records missed in power BI template as the fi

[2021-06-07 13:49] meishackerandtrollerhahalol opened #6309 "y r u running/gae"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
i do not understand how u can be homosexual when you can be a frr1ggin hetrosexual muggdder fugger that is equal to ci

[2021-06-07 15:47] #6309 closed

[2021-06-07 16:16] carlosscastro commented on #5997
@johnataylor FYI in case you want to re-prioritize. AS things stand right now, we cannot resource this in R14 so I'll move to next mileston.

[2021-06-07 16:21] v-kydela commented on #6298
@LakshummaC - Can you reproduce the problem when running the bot locally (i.e. without publishing to Azure)?

[2021-06-08 08:06] LakshummaC commented on #6298
@v-kydela I didn't try it locally, I see after hosting to azure and in direct line channel

[2021-06-08 09:29] parsalotfy commented on #6285
Sorry for late reply...
Without ngrok, it doesn't work, either in vps, or in desktop
But as you said when I configure ngrok in emulator, it works.
When I use ngrok externally, it doesn't work again!
I need to check if that works when I publish my bot and connect it completely.
I will send further information here after other tests...

[2021-06-08 22:45] stevkan commented on #6268
@jemjos, thank you for your patience. Unfortunately, I was running into some Teams issue with uploading a new app (for testing with just bot channel registrations). But, I was able to find a way around that, finally.

And, yes, when using two bot channel registrations, only, I am able to repro the issue you are experiencing. I'm reaching out to a colleague to see if this is expected behavior with

[2021-06-09 05:54] mohsinhere commented on #4499
Hi,

I'm also looking for a way for my teams bot to respond to a message. Eg: Instead of saying "Thank you".

Is this on the road map by any chance?

[2021-06-09 06:14] mohsinhere opened #6310 "Bot should be able to react to a user message"
## Feature Request

*I want the bot to respond to a user message with a "like" or "heart" instead of saying Thank you. I don't think this is not yet possible using the bot framework. Can this feature be added please?*

[2021-06-09 16:26] v-kydela commented on #6298
@LakshummaC - It's always a good idea to try testing a bot locally for debugging purposes. You might find this document helpful: https://docs.microsoft.com/azure/bot-service/bot-service-debug-channel-ngrok

[2021-06-10 12:20] RajdeepRay0411 opened #6311 "Facing "Insufficient privileges to complete the operation" exception while sending an email using GRAPH API with Read Access only."
## Version
Bot Framework SDK 4.8.1

## Describe the bug
**Limitation of using SMTP Client for sending email in C#:** System.Net.Mail does not support OAuth or OAuth 2.0
**Alternate Approach:** Need to use Microsoft Graph API to send an email by using an application token instead of using a token generated on behalf of the user.
**Roadblock when trying to send mail via Graph API:** **"Insufficient

[2021-06-10 12:57] dipincluster opened #6312 "Typing Indicator : Webchat responses are jumbling including typing Indicator"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
SDK Version : Microsoft.Bot.Builder 4.8
Deployed Environment : Azure Web App Bot , S1 Tier App service plan
WebChat : 4.13.0

## Describe the bug
We are sending Typi

[2021-06-10 16:49] clearab opened #6313 "[Analysis] Support for MSIs & single tenant apps"
## Summary

We need to add support for using MSI as the authentication mechanism. This will effect essentially the breadth of our set of products.

- [ ] Analysis - examine the breadth of our products and create issues for each impacted product/area
  - [ ] Cloud adapter
  - [ ] Bot Framework adapter
  - [ ] Channel adapters
  - [ ] Skills
  - [ ] Emulator
  - [ ] Web Chat
  - [ ] Composer creatio

[2021-06-10 17:12] clearab opened #6314 "[Rollup] DirectLine client-side auth with AAD"
## Summary

Direct Line relies on a shared secret to allow a client to initiate communication. However, ABS will begin to support AAD/MSAL for all the authorization needs. This allows the customers to control all their auth tokens from a single place and take advantage of all the enhancements that AAD will bring over time – token revocation for example.

- [ ] Analysis of impacted areas (breakdown

[2021-06-10 18:53] clearab commented on #6250
Your bot should receive an event when a channel is created in a team it is already installed in: https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/subscribe-to-conversation-events?tabs=dotnet#channel-created

[2021-06-10 20:21] clearab opened #6315 "Validate private link support"
ABS will support private links ~8/30, we need to validate that nothing in the SDK breaks when they are configured.

## Internal whitepaper

https://microsoft.sharepoint.com/:w:/t/ConversationalAI785/EfsP86u11k9LobCNxJJvg3MBA-chvziWDIQQqHjoOMr8jg?e=fz0XE5

[2021-06-11 02:12] xieofxie commented on #6268
@jemjos  One off-topic question: are these REST APIs in Postman public available? Thanks
![image](https://user-images.githubusercontent.com/2876650/121620729-6948ff80-ca9d-11eb-97e4-63c6a5236821.png)

[2021-06-11 03:06] stevkan commented on #6311
@RajdeepRay0411, can you please add all the scopes listed in [this doc](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=azure-bot-service-4.0&tabs=aadv2%2Ccsharp#create-the-azure-ad-identity-provider) and try again?

[2021-06-11 21:55] nadiasorina commented on #2985
I have the same problem. Did you find the solution?

[2021-06-13 08:51] RajdeepRay0411 opened #6316 "File downloading is getting failed in MS Teams Bot (Desktop and Web) using File consent card."
## Version

Bot Framework SDK 4.8.1
Microsoft.Bot. Schema version 4.8.0
## Describe the bug

1.	File downloading is failing in MS Teams Bot (Desktop and Web) whereas files are properly getting uploaded in Users OneDrive.

2.	We are using a File Consent Card to upload the file in the User’s OneDrive. And once, the file is uploaded in OneDrive, Bot brings back the option to download the document loc

[2021-06-13 11:29] RajdeepRay0411 commented on #6311
Hi @stevkan, We are already having the delegated permissions in our Graph API application as mentioned in the [doc](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=azure-bot-service-4.0&tabs=aadv2%2Ccsharp#create-the-azure-ad-identity-provider). Still we are getting this exception. Can you please help us in this?

[2021-06-14 15:14] carlosscastro commented on #5767
Now, the SSO docs provide guidance on how to use SSO without writing code using the adaptive runtime, so that is a big step forward iin this direction. In  R15 we'll hopefully finally be confident to bake that code into the SDK. @EricDahlvang  FYI

[2021-06-14 18:45] clearab commented on #6316
Hi - Its hard to tell what is going wrong from the code snippet above. Have you taken a look at our complete file upload sample here - https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/56.teams-file-upload/Bots/TeamsFileUploadBot.cs ? That shows the entire flow, including creating the download card in the `FileUploadCompletedAsync` method.

[2021-06-14 22:04] v-kydela commented on #6298
@LakshummaC - Did you try reproducing the problem with a local bot yet?

[2021-06-15 01:13] AdamSobieski opened #6317 "[Feature Request] Caching"
I would like to request a feature: caching dialogue system outputs. Such a feature would be useful for scenarios where natural language generation were expensive and for scenarios where dialogue systems generate audio or video content (see also: [Skype Conversations Of The Future](https://www.youtube.com/watch?v=FyKYBei9D08)).

Cached output content (e.g. multimedia clips or segments) could be des

[2021-06-15 15:12] mdrichardson commented on #6182
@JonathanFingold We're merged in all SDKs for this one. Do you need to do anything with Docs for this?

[2021-06-15 15:59] anusharavindrar commented on #6285
@parsalotfy, any update on the above comment?

[2021-06-15 16:25] JonathanFingold commented on #6182
@mdrichardson @clearab - I'll need a recommended approach to building bots that support this feature, and actionable messages in particular, for both SDK-first bots and Composer bots.
- On the SDK side, it would seems like an activity handler bot without dialogs would make sense, at least for less complicated bots.
- On the Composer side, I'm guessing custom middleware or a custom channel/connecti

[2021-06-15 16:26] JonathanFingold commented on #6182
PS. Will the protocol doc get copied to the botframework-sdk repo and be public?

[2021-06-15 16:40] clearab commented on #6182
I'm going to create some work items for creating (porting really) a sample, as well as documenting. Its in a bit of an odd space, as lots of our partners are documenting this for channel-specific implementations.

[2021-06-15 16:41] clearab commented on #6182
I'll leave this open though, and associate those new items back.

[2021-06-15 18:14] #6307 closed

[2021-06-15 20:28] #6225 closed

[2021-06-16 12:02] alinealfa opened #6319 "HeroCard with Action of type ImBack allows Turn to accept multiple blank submissions from the user after the chosen value is sent"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
botbuilder-ai-4.13.0
botbuilder-core-4.13.0
botbuilder-dialogs-4.13.0
botbuilder-integration-aiohttp-4.13.0
botframework-connector-4.13.0

## Describe the bug
HeroCa

[2021-06-16 12:16] Chetana-MSFT commented on #6316
@RajdeepRay0411  Have you gone through [TeamsFilsUploadBot ](https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/56.teams-file-upload/Bots/TeamsFileUploadBot.cs) sample, are you still facing the issue.

[2021-06-16 14:23] gabog opened #6320 "Update Skill manifests to support URI-References"
[v 2.1 of the skill manifest schema](https://github.com/microsoft/botframework-sdk/blob/main/schemas/skills/v2.1/skill-manifest.json) only supports absolute URI format for the following fields:

- [privacyUrl](https://github.com/microsoft/botframework-sdk/blob/main/schemas/skills/v2.1/skill-manifest.json#L42)
- [iconUrl](https://github.com/microsoft/botframework-sdk/blob/main/schemas/skills/v2.1/s

[2021-06-16 17:15] rodrigorodriguez commented on #4397
Hey, we built this on top of BOT Framework, please check out: https://www.youtube.com/watch?v=Y4R9EOoaw0k. It's here: https://github.com/generalbots.

[2021-06-16 17:17] Stevenic commented on #6255
I read through the auth portion of the spec and for composer I think we just need to update the AdaptiveCards package with a new action that calls the token service to see if there's a logged in user and grab the token.  This should only take a day if I can figure out how to test it.

[2021-06-16 18:05] nadiasorina commented on #2985
I have made a bot with Node.js locally, then in the Azure platform I have created a bot channel registration and in the messaging endpoint I have put the address of the server where I have uploaded and the bot is executed (https: // ___ : 3978 / api / messages), with this address the bot in the bot framework emulator works for me, on the other hand, in the channel registration bot I have created a

[2021-06-16 20:09] anusharavindrar commented on #6285
Closing the issue. Please feel free to re-open if issue persists.

[2021-06-16 20:09] #6285 closed

[2021-06-16 20:10] compulim commented on #6312
To put a delay between 2 messages, you should use proactive messaging. You can refer to the sample code here:

https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-proactive-messages?tabs=typescript#samples

Notably:

1. Send the typing activity
2. Call `getConverationReference` and remember the result
3. Finish the handler
4. Do your asynchronous work (such a `s

[2021-06-16 21:22] mmiele opened #6322 "Remove any reference to the Cortana channel"
## Version
Latest

## Describe the bug
The Cortana channel was retired for all customers on January 31, 2021.

## To Reproduce
Please run this search: https://github.com/microsoft/botframework-sdk/search?q=cortana

## Expected behavior
Remove any reference to the Cortana channel.

[2021-06-16 21:42] beyackle opened #6323 "Use "title" field in skill manifest"
## Issue

The current skill manifest has lots of properties of the form
`"name": {
            "type": "string",
            "description": "Name of the skill"
        }`

## Proposed change
To ease localization, they should be given a "title" field as well, e.g.
`"name": {
            "type": "string",
            "title": "Skill name",
            "description": "Name of the skill"
        }`

#

[2021-06-17 06:21] LakshummaC commented on #6298
@v-kydela yes I am done that part as well and its showing the same issue using ngrok

[2021-06-17 09:11] luhan2017 commented on #6320
I think the endpointUrl is tricky. The endpointUrl does not refer to a file and doesn't follow the file folder structure. In most of the cases manifest are shared as http://endpoint/manifests/manifest.json. The privacy, icon and dispatch model urls are all files and can follow the same folder structure with manifest file. But it will be confused if we apply this rule to endpointUrl. And especially

[2021-06-17 13:05] manju605 opened #6324 "Is there a way to identify whether photo is taken from camera or attachment."
Hi, I am trying to add Azure FaceRecognization  in Bot & its working fine. and when I take a photo from whatsapp I am getting that image as a URL in attachment context.activity.attachments[0].contentUrl and if I upload a photo also i am getting image in same attachment as a URL, is there a way where I can identify whether photo is taken from Camera or attached?

[2021-06-17 15:47] parsalotfy commented on #6285
I can no longer reproduce this issue.
Thank you for the fix.

[2021-06-17 18:40] dmvtech commented on #6324
@manju605 I see you created a question on Stack Overflow. That is the appropriate place for this type of question.

I will go ahead and close this one. Thank you.

[2021-06-17 18:40] #6324 closed

[2021-06-17 21:59] v-kydela commented on #6298
@LakshummaC - Excellent, thank you for confirming that. So far, I'm unable to reproduce the problem, because all of the properties in the custom dimensions have consistent names between activities. Can you please provide repro steps that can help us generate telemetry with inconsistent field names on our end?

[2021-06-17 22:13] mdrichardson commented on #6182
@clearab I just noticed that none of the merged PRs for this add triggers for Adaptive, at least as far as I can tell. I came into this one after just about everything was already merged--can you verify that:

1) We want adaptive triggers for this, and
2) If we do, we don't already have them

I feel like this issue is much bigger than I originally understood (adaptive triggers, auth) and could use

[2021-06-18 08:12] RajdeepRay0411 commented on #6316
Hi @clearab and @Chetana-MSFT: I had gone through the documents you have shared. I am using the same thing but still, the same issue is coming. Can you please let us know if there have been some changes from the MS side for file uploading and downloading in the latest app updates.

[2021-06-18 08:27] RajdeepRay0411 opened #6326 "AdaptiveCard with “mailto” Action.OpenUrl is not working for buttons with Image set as well"
## Version
Bot Framework SDK 4.8.1

## Describe the bug
On Microsoft Teams, we are using a customized who bot scenario where we are sending data from Graph API in the adaptive card about the person whom the user is looking for in our bot. The adaptive card contains two icons one chat icon and one mail icon. The chat icon will open a particular person's chat in teams and the mail icon will redirect

[2021-06-18 16:40] JasonSowers commented on #2985
Well don't put the port number in the url for one thing, and definitely not spaces in the url like the post you quoted.

  https;//myawesomebot.azurewebsites.net/api/messages
  https://awesomecustomdomain.com/api/messages

![image](https://user-images.githubusercontent.com/6301037/122592556-0a99fd80-d02a-11eb-97bd-c0ba74c4b87f.png)

[2021-06-18 16:46] nadiasorina commented on #2985
I don't have a number there, but I still have errors...

vin., 18 iun. 2021, 19:41 D4RKCIDE ***@***.***> a scris:

[2021-06-18 16:52] v-kydela commented on #6326
Thank you for the report, @RajdeepRay0411. I'm going to close this because the problem is on the Teams side and it's not a Bot Framework bug or feature request.

You can send feedback to Teams through the Teams app directly or you can report bugs in the [Teams docs repo](https://github.com/MicrosoftDocs/msteams-docs/issues). If you have a how-to question then you can use the [`microsoft-teams`](ht

[2021-06-18 16:52] #6326 closed

[2021-06-18 16:56] mdrichardson commented on #6182
@clearab Disregard last. I found it in [Components/AdaptiveCards](https://github.com/microsoft/botframework-components/blob/main/packages/AdaptiveCards/Triggers/OnActionExecute.cs)

[2021-06-18 17:11] z1net commented on #5663
@prafuldhone i have this problem too, did u fix it?

[2021-06-18 18:17] dmvtech opened #6327 "Discrepancy between .NET and JavaScript results when using adaptive expression join() prebuilt function to join array elements"
## Version

- .NET 4.13.1
- JavaScript 4.13.1

## Describe the bug
Using the prebuilt function `join()` and passing in an array of arrays, we get different results.

Assuming an array of arrays, such as: `{"Foods":[["Burger"],["Pizza"]]}`, the expression `join(Foods, ',')` will give a result of the following, depending on SDK/Language:

**Javascript:** `Burger,Pizza`
**.NET:** `[ "Burger" ],[ "Piz

[2021-06-20 20:59] dittukumar opened #6328 "Echobot working fine in emulator. But when deployed and testing on azure (Test in web chat) getting 500 response"
I created an echobot and connected to QNAMaker. It is working fine in local when tested with emulator. Later I deployed the echobot on azure using [this steps](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=csharp). This deployment basically created 3 things 1. Bot channel registration, 2. App Service, 3. App Service Plan
I then opened

[2021-06-20 21:05] dittukumar commented on #6328
@EricDahlvang @pankajdmishra  Need your help here.

[2021-06-21 07:04] LakshummaC commented on #6298
@v-kydela Its just same step as like registering direct line channel, used token instead of channel and then chat with chatbot

[2021-06-21 09:11] RajdeepRay0411 commented on #6311
Hi @stevkan, Can you please help us with this issue as this issue came as an escalation from our client and we need to reply back as soon as possible.

[2021-06-21 19:37] dmvtech commented on #6328
@dittukumar

Were you testing the same appid/password when testing locally with Emulator?

I would also be interested to see if the bot will work if you run locally with appid/password but [set the endpoint to use ngrok, then test with Test in Web Chat](https://blog.botframework.com/2017/10/19/debug-channel-locally-using-ngrok/).

[2021-06-21 20:02] tinuCoder commented on #6328
@dittukumar

Did you tried to test the bot in Web chat channel?

Please check the appid and password auto created in your App on Azure if in case it's the same one please try to regenerate the password and use the new one. This should solve your problem.

If you still face the issue check the Auth file and also please share the exception error log.

[2021-06-21 21:56] v-kydela commented on #6298
@LakshummaC - Are you saying I should be able to send any two activities to a bot in Web Chat and then check App Insights and see different field names in the telemetry for those two activities?

[2021-06-22 05:08] Chetana-MSFT commented on #6316
Hi @RajdeepRay0411 I am able repro the issue, we have raised a bug for this, concerned engineering team is working on it.

[2021-06-22 05:41] #6328 closed

[2021-06-22 06:38] LakshummaC commented on #6298
@v-kydela Absolutely

[2021-06-22 06:55] RajdeepRay0411 commented on #6311
Hi @stevkan, Can you please help us with this issue as this issue came as an escalation from our client and we need to reply back as soon as possible.

[2021-06-22 13:29] RajdeepRay0411 commented on #6311
Hi @stevkan, Can you please help me to know why we need read-write access and that too application permission and not Directory.ReadAll, User.Read, User.Read.All and User.ReadBasic.All for sending mail

[2021-06-22 18:04] stevkan commented on #6311
@RajdeepRay0411, first, please accept my apologies. I thought I had posted these questions previously, but apparently hadn't.

The scopes you list in the original post don't align with the listed scopes show below (section C). You can add any other scopes you want, but please verify that **ALL** the below scopes are used as they are required.

Is the user being asked every time they start a new co