[2018-01-08 16:36] JasonSowers commented on #3086
@victorgarciaesgi please open a new issue

[2018-01-08 16:51] Ma3yTa opened #4011 "[Migration] Bot doesn't respond in WebChat after migration to Azure?"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: Skype, Telegram, Facebook
* Deployment Environment: Azure Bot Service

## Issue Description
Bot doesn't respond in WebChat after migration to Azure.
Bot respond in Skype, Telegram and Facebook.

## Reproduction Steps
1. open https://webchat.botframework.com/embed/nowinfinity_assistant?s=tLpzGsqeh3M.cwA.Kd8.jTeFFmQ6UrwLeSdt

[2018-01-08 17:20] JasonSowers commented on #4010
Can you please fill this out so we can better assist you?

## Bot Info
* SDK Platform:
* SDK Version:
* Active Channels:
* Deployment Environment:

## Issue Description

## Code Example

## Reproduction Steps
1.
2.
3.

## Expected Behavior

## Actual Results

[2018-01-08 17:24] JasonSowers commented on #4009
I'll look into this, but I think the issue may be that one of those URLs is https and the other is http.

[2018-01-08 17:36] irfanahm commented on #3658
I am facing same issue. Do we have any verified workaround so far? While trying to register my bot for Cortana channel, all option are already greyed out and when click on Register option, it throws an error.

[2018-01-08 17:42] JonesAbramoff commented on #4009
Hi,

I have tried with more https URLs and it worked.

Use the exact URLs I have sent to debug.

Test also with a non-existant URL and it will give the same error message.

Maybe increasing a timeout would be a workaround but it should handle better this case of not being able to display an image.

Where can I view a log of this error ?

Thanks,

Jones

From: Jason Sowers
Sent: Monday, January 08,

[2018-01-08 17:45] JasonSowers commented on #4009
could you please supply your app ID?

[2018-01-08 17:52] JasonSowers commented on #3658
@irfanahm can you open a new issue please and detail what you are experiencing.

[2018-01-08 17:57] JasonSowers commented on #4010
Here is some documentation that might help:
https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-create
https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-overview
https://docs.microsoft.com/en-us/microsoftteams/add-bots
https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/apps/apps-upload

[2018-01-08 18:14] JonesAbramoff commented on #4009
364ac194-60b8-4959-88ba-6cef784e924b

The channels tab now show some errors of invalid content of the .jpg

From: Jason Sowers
Sent: Monday, January 08, 2018 3:45 PM
To: Microsoft/BotBuilder
Cc: JonesAbramoff ; Author
Subject: {Disarmed} Re: [Microsoft/BotBuilder] Send message from Skype bot with image attachment sometimes gives "Sorry, my bot code is having an issue" (#4009)

could you please sup

[2018-01-08 18:28] JonesAbramoff commented on #4009
But remember that the same URL works fine with FB Messenger and Telegram bots

From: Jones Abramoff
Sent: Monday, January 08, 2018 4:14 PM
To: Microsoft/BotBuilder ; Microsoft/BotBuilder
Cc: Author
Subject: Re: {Disarmed} Re: [Microsoft/BotBuilder] Send message from Skype bot with image attachment sometimes gives "Sorry, my bot code is having an issue" (#4009)

364ac194-60b8-4959-88ba-6cef784e924b

[2018-01-08 19:24] nwhitmont commented on #3901
Hi @an0o0nym - there is a bug in your dialog code.

[code]

Here is your bot in a working example:
[code]

Hope that helps!

[2018-01-08 19:48] EricDahlvang commented on #4010
@MohammedAbdulMateen   We have a fix for this, and it should be rolled out soon.  Please try adding the Skype channel, and let us know if MS Teams works for you afterwards.

[2018-01-08 20:07] Loski opened #4012 "[LUIS] Getting datetimeV2 error with accent in French language?"
## Bot Info
Luis

## Issue Description
Luis doesn’t  recognise the word mercredi (for Wednesday ) for the entity datetimeV2.
Luis has an incorrect behavior for a month with an accent (février / décembre / août). You can bypass it if you send the word without accent.

## Reproduction Steps
1. Luis with French culture
2. Test an utterance with Mercredi / Février

## Expected Behavior
Bot respond a d

[2018-01-08 20:34] msmohan commented on #4011
Can you provide bot id / handle?

[2018-01-08 20:54] nwhitmont commented on #4012
Hi @Loski - I have escalated your issue to LUIS team for investigation. Will get back when I have more info.

[2018-01-08 21:44] msmohan commented on #4005
@sisense  Have you tried this [sample code](https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/core-SendAttachment)?

[2018-01-08 22:23] EricDahlvang commented on #4002
@dividor Typing 'Submit' will not trigger the action.  You would need to fork the WebChat repo and modify it to handle this scenario.   The code for the onExecuteAction of an AdaptiveCard in webchat can be found here:

https://github.com/Microsoft/BotFramework-WebChat/blob/74eeec8ee2d73c83e388f739a502fe1042b93386/src/AdaptiveCardContainer.tsx#L58

[2018-01-08 22:29] JasonSowers commented on #4004
Have you seen [this doc](https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-proactive-messages)?

[2018-01-08 22:44] EricDahlvang commented on #3997
@SamirMatkar Please upgrade to the latest sdk, and try again.  We will need more information in order to assist you, if this doesn't work.  Please provide the code you've used to send the message to the bot.

[2018-01-08 22:46] Ma3yTa commented on #4011
@msmohan Bot handle: nowinfinity_assistant AppId: 62516114-227c-436c-8e55-e7dcf50e7474

[2018-01-08 22:54] EricDahlvang commented on #3996
Hi @neetgupta7

Short answer: ids are specific to the channel, and the rules for the ids are determined by the channel

Long answer: This page explains ids in the Bot Framework: https://docs.microsoft.com/en-us/bot-framework/bot-service-resources-identifiers-guide  Specifically, the **Channel Account** section:

[2018-01-08 23:22] msmohan commented on #3989
@senthilcsk Can you provide the bot handle?

[2018-01-08 23:36] JasonSowers commented on #3962
Also, there is [this sample](https://github.com/Microsoft/BotBuilder-Samples/blob/master/CSharp/core-DirectLine/DirectLineClient/Program.cs) you can look it that should help.

[2018-01-08 23:36] JasonSowers commented on #3933
Glad you found a solution, good luck!

[2018-01-08 23:36] #3933 closed

[2018-01-08 23:47] JasonSowers commented on #3904
Have you implemented a custom state service or are you both using the default @ThisIsColinB @JPThorne

[2018-01-09 00:08] Kyle-MacKinnon opened #4013 "[Node.js SDK, FB Messenger, Question] Getting error "Cannot read dialoginterrupted of undefined" after renaming dialog?"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.13.0
* Active Channels: Facebook
* Deployment Environment: AWS Elastic Beanstalk

## Issue Description
When a dialog is renamed and redeployed, then anyone with state data containing the old name will generate errors and the bot will no longer respond to them.

## Reproduction Steps
1. Create a dialog
2. Run the chatbot with a live state service

[2018-01-09 00:51] an0o0nym commented on #3901
@nwhitmont Thank you very much for your reply!

I followed code example that you have posted, but the problem described in the Issue Description still exists. Everything works just fine in emulator, but WebChat returns duplicated message (as in the screenshots attached to the issue).

Happy to discuss more on the issue if you wish !

[2018-01-09 02:46] tellarin commented on #4012
DatetimeV2 uses Microsoft/Recognizers-Text. I've created this issue there. Fix is on the way.

[2018-01-09 03:33] khawarashraf commented on #3920
any updates?

[2018-01-09 04:23] itvignes09 commented on #4008
Hey @nwhitmont
That StackOverflow question asked by me only. Please reopen the question.

[2018-01-09 05:02] sahootanmay opened #4014 "[Question] Help me understand where the response "Please enter a number of Pizzas" is coming from when testing with Emulator?"
## Bot Info
* SDK Platform:  .NET
* SDK Version: 3.12.2.4
* Active Channels:  Skype, Facebook messenger, Bot emulator
* Deployment Environment:  Azure Bot Service, local development with Emulator?

## Issue Description
i am not getting from where the response "Please enter a number of Pizzas" is coming in Microsoft bot framework emulator, even i have not added this questions in my Luis app(Restaur

[2018-01-09 06:11] JPThorne commented on #3904
@JasonSowers thanks yep that was the case as identified on a separate issue as well. We were still using the default state client. Only saw that blog post from you guys recently.

[2018-01-09 09:21] ErnanColindres commented on #2689
Hi, I'm trying to connect my bot to an email channel, I have an AD O365 account, but it says "Unable to save"? Can you please tell me, how can I fix this issue. Thank you very much.

[2018-01-09 09:27] blfuentes opened #4015 "Exception: The given key was not present in the dictionary."
## Bot Info
* SDK Platform: .NET
* SDK Version: 4.6
* Active Channels:
* Deployment Environment: Azure Bot Service Test Chat and local development with emulator

## Issue Description
Whenever I send a message I get always the error

## Code Example

I checked the API ID and Key
from luis.ai:
https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/f2fed607-ce8a-4ea0-9b1c-d0cf2528f61c?subscription

[2018-01-09 10:31] #4015 closed

[2018-01-09 10:32] blfuentes commented on #4015
Code failed while searching for entities. Added an "added" variable to check if the Remove method should be called.

        // Entities found in result
        public string BotEntityRecognition(string intentName, LuisResult result)
        {
            IList<EntityRecommendation> listOfEntitiesFound = result.Entities;
            StringBuilder entityResults = new StringBuilder();

            b

[2018-01-09 10:47] nisingla opened #4016 "[Node.js SDK, Slack] How to intercept "Link_Share workspace event" from Slack channel?"
## Bot Info
* SDK Platform: Node js
* SDK Version: 3.9.1
* Active Channels: Slack
* Deployment Environment:  local development with ngrok

## Issue Description
I have created a slack app having microsoft bot connected to it using https://docs.microsoft.com/en-us/bot-framework/bot-service-channel-connect-slack. The issue I am facing is that link_shared workspace event for slack app not triggered wh

[2018-01-09 10:49] fraangel opened #4017 "[LUIS] Help me understand how to integrate LUIS and QnA Maker in same app?"
## Bot Info
* SDK Platform:  Node.js
* Deployment Environment: Auzure Bot Service, local development with Emulator

## Issue Description

Hi all! I cannot understand well the behaviour of integrating LUIS and QnA Maker. Right now I'm able to have both services running in my app. What I expected was that adding LUIS intent recognizer in my app it will be now able to answer kind of questions not com

[2018-01-09 10:51] harigovind511 commented on #4004
Thanks for the response @JasonSowers . Yes I have followed the same and proactive messages are working fine with other channels. But my requirement is specific to face book which is not working with the same code. Am I need to do any sort of settings change in facebook developer page to do this?. And do we need to get approval from face book to send proactive messages to users at development stage

[2018-01-09 10:56] JPThorne commented on #3904
Worth mentioning, @JasonSowers to be fair the 'load' was only 5 concurrent users over a period of 2 minutes. Hardly what I'd call real load.

[2018-01-09 11:01] jakubbares commented on #3995
Thanks a lot

[2018-01-09 11:01] #3995 closed

[2018-01-09 11:31] jakubbares commented on #3995
Also note that you can either use imBack which outputs the trigger string into dialog, or postBack which is silent

[2018-01-09 11:32] nickgkan commented on #3781
Update: It is more than two weeks now that I do not observe the error with status code 500 but a new one with status code 403.
Is there anything we have to change to make it work now that the internal server error seems to have been fixed?

[2018-01-09 11:55] Unders0n commented on #106
@willportnoy , sorry not sure i totally get what you mean. For now CountryService depends only on Ef dbcontext. What you mean by "registered in some parent container".
Maybe you could provide some links on documentation on usage of autofac in context of using it with ms chatbot, 'cos i can't find any good samples on that. For example i still have problems with using
`var builder = new ContainerBui

[2018-01-09 12:23] surajrajakrishnan opened #4018 "bot ith mysql"
## Bot Info
* SDK Platform:
* SDK Version:
* Active Channels:
* Deployment Environment:

## Issue Description

## Code Example

## Reproduction Steps
1.
2.
3.

## Expected Behavior

## Actual Results

[2018-01-09 15:39] Unders0n commented on #106
**Update**: actually i managed to fix the issue, i've downloaded last samples of AlarmBot and made everything just like there. Though still would be really cool if you guys provide more documentation on this aspect. Also i've heard that you're planning to move to another IOC container, can you provide more info on that?

[2018-01-09 15:55] ngockimhoang opened #4019 "[Skype] Channel not working with "Bot Channels Registration"?"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: Skype
* Deployment Environment: Bot Channels Registration with local Bot Web App over ngrok

## Issue Description
Skype channel not working with Bot Channels Registration and local Bot Web App

## Reproduction Steps
1. Create a local Bot Web App, I use ngrok to create the public url for my local Bot Web App
2. Create a "Bo

[2018-01-09 16:08] wacoder commented on #2091
+1 for the feature

[2018-01-09 17:01] JasonSowers commented on #2689
@ErnanColindres can you please open a new issue?

[2018-01-09 17:24] Ma3yTa commented on #4004
@harigovind511 I think you can't use proactive messages on Facebook until this Feature request isn't implemented https://github.com/Microsoft/BotBuilder/issues/2924
@JasonSowers Could you please ask developers to implement it?

[2018-01-09 17:35] Ma3yTa commented on #2924
It very important feature because we can't send proactive messages outside of 24-Hour Messaging Window https://developers.facebook.com/docs/messenger-platform/policy/policy-overview#standard_messaging if this feature isn't implemented.
Please implement it.

[2018-01-09 17:53] #4018 closed

[2018-01-09 17:53] JasonSowers commented on #4018
Closing because no info provided

[2018-01-09 17:54] JasonSowers commented on #4019
Is your bot working on any other channel?

[2018-01-09 17:57] JasonSowers commented on #4004
I can ask, but no promises. 👍

[2018-01-09 18:16] nwhitmont commented on #4014
@sahootanmay Can you share the bot code that is causing the issue?

[2018-01-09 18:20] nwhitmont commented on #4016
Relates to: https://stackoverflow.com/questions/48089456/link-shared-event-for-slack-app-not-triggered

[2018-01-09 18:25] nisingla commented on #4016
@nwhitmont  This question is also posted by me.

[2018-01-09 18:32] Ma3yTa commented on #2924
I found how I can add a tag. I am using C#

[code]

[2018-01-09 18:34] Ma3yTa commented on #4004
@harigovind511  @JasonSowers I found how I can add a tag. I am using C#
[code]
I checked it in Facebook and all works fine.

[2018-01-09 18:50] Ma3yTa commented on #4011
@msmohan all works fine now. looks like the problem was in LUIS configuration I used westus.api.cognitive.microsoft.com instead southeastasia.api.cognitive.microsoft.com. But I don't understand why it worked fine in Skype, Telegram, and Facebook.

[2018-01-09 18:50] #4011 closed

[2018-01-09 18:54] JasonSowers commented on #4019
This may sound like a strange solution, but can you try enabling Teams as a channel on your bot and see if skype works after that?

[2018-01-09 20:16] rjgmail88 commented on #3682
Hi ,
'Server.js' and 'Schedule.js' are just custom js files I had created to separate the code doing independent work. In 'Server.js' I was doing initial setup of creating server , bot object and call Schedule.js to delegate the work.

[2018-01-09 20:24] JasonSowers commented on #4017
Check out [this blog](https://blog.botframework.com/2017/11/10/dialog-management-qna-luis-scorables/) and see if it helps you.

[2018-01-09 20:52] napoleonjones opened #4021 "[Question] Help me understand how Bot Framework connector service works?"
##Questions
My team is looking at using the bot framework and have a few questions.  We will NOT be hosting this in Azure and would host the bot on our own IIS server.

1.  Is the connector required to use the bot?  We are currently considering webchat only.  I am assuming for some channels the connector is required.

2.  What ports does the connector use?

3.  Does the connector access any of the

[2018-01-09 21:06] stevengum97 commented on #4012
@Loski, you can follow the PR that fixes this issue through this link: _[French mercredi fix #263](https://github.com/Microsoft/Recognizers-Text/pull/263)_.

[2018-01-09 21:11] stevengum97 commented on #4003
Entity extraction should still occur across different intents for the same value; is your second intent still not displaying extracted entities for "ethos" and "bitcoindiamond"?

[2018-01-09 22:07] matthewshim-ms commented on #4012
@stevengum97 I fixed the accent resolution for Dec/Feb/Aug, included test cases + re-built for both frenchDateTime.ts + /French/DateTimeDefinitions.cs for Javascript + .NET respectively

[2018-01-09 22:17] msmohan commented on #4007
@hpksp for outgoing messages the stack is always empty. For outgoing messages from id is always your botid. In order to get the latest stack on user context you can interchange from/recipient ids as shown below code snippets.

    public class ActivityLogger : IActivityLogger
    {
        async Task IActivityLogger.LogAsync(IActivity activity)
        {
            if (activity.From.Id == Configu

[2018-01-09 23:39] amehta3000 opened #4022 "[Skype for Business] Markdown and Line Break formatting inconsistencies (macOS vs Windows)"
SDK Platform: python
SDK Version: BotBuilder 3.11.0
Active Channels: Skype for Business
Deployment Environment: ngrok

## Issue Description
SFB Markdown for Mac client/ iOS vs PC/Android is inconsistent.  We have taken Bot Framework's recommendation to remove html and use only Markdown.

• We have accepted that Markdown **bold** does not render in either PC nor Mac and have not seen a way to do it

[2018-01-09 23:46] napoleonjones commented on #3704
Looking for an answer to the data decryption question.  Any updates?

[2018-01-10 00:58] tellarin commented on #4012
This has been fixed in Microsoft/Recognizers-Text now. LUIS should start using it on the next deployment.
@Loski, thanks for reporting it! Let us know if you find any other issues.

[2018-01-10 02:14] hpksp commented on #4007
@msmohan thanks for the response. I tried out your approach and I was able to get the stack. However, it seems that the stack is not the latest. This is how the flow happens.

I have two dialogs. Root and Greet dialogs

1. `Root.MessageReceivedAsync` is waiting to be invoked when the next request comes in
2. When a request comes in the activity logger get invoked and at that point in time the stac

[2018-01-10 05:15] sahootanmay commented on #4014
Hi there,
i have created a class UserOrder.cs, where i have mentioned pizza options:
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using Microsoft.Bot.Builder.FormFlow;

namespace RestraurantBot.Models
{
    public enum PizzaSizeOptions
    {
        Regular,
        Medium,
        Large
    }

    public enum AmmenitiesOptions
    {
        Banquet,

[2018-01-10 05:27] Ptstset132 commented on #3971
there is any option to implement javascript in messenger

[2018-01-10 06:01] rohankulkarni21 commented on #4022
I am facing the same issue and not able to make my bot live on production. This is making heavy impact on my product. Guys, can you please resolve this?

[2018-01-10 06:02] rohankulkarni21 commented on #3982
I am facing the same issue and not able to make my bot live on production. This is making a heavy impact on my product. Guys, can you please resolve this?

[2018-01-10 06:03] rohankulkarni21 commented on #3981
I am facing the same issue and not able to make my bot live on production. This is making heavy impact on my product. Guys, can you please resolve this?

[2018-01-10 06:05] rohankulkarni21 commented on #3343
This happens on Android, Mac, iOS clients as well. Can you guys please resolve this asap.

[2018-01-10 06:06] rohankulkarni21 commented on #3119
I am facing the same issue on iOS, Android, Mac but not Windows and not able to make my bot live on production. This is making a heavy impact on my product. Guys, can you please resolve this?

[2018-01-10 06:16] ganesh1190 commented on #3981
Any updates on this? Surprised to see no comments.  Guys this is very high priority for us to get it fixed. Please resolve this issue.

[2018-01-10 06:16] ganesh1190 commented on #3982
Any updates on this? Surprised to see no comments.  Guys this is very high priority for us to get it fixed. Please resolve this issue.

[2018-01-10 06:50] somak12 commented on #3972
Hi. Any update on this one?

[2018-01-10 08:55] SDCA19 commented on #3976
@nwhitmont - My apologies for the delay in response.. Was caught up with a few things..
Please find below a minimal code that replicates the issue. In the current code, the prompt doesn't wait for the feedback from the user..

Look forward to some help in figuring this out.. Thanks

[code]
Screenshot:

![image](https://user-images.githubusercontent.com/31275908/34763588-bc5c754e-f611-11e7-8dbc-9a5

[2018-01-10 09:26] fraangel commented on #4017
@JasonSowers  thanks for the answer! So I'll try to reword the question. Taking in example the blog post:
I ask a question to the bot --> it triggers an intent (luis) -->  then is it possible to answer the user question using QnA KB ?
Get back to my example I have my QnA KB in which I have a pair : **" who are you?" /  "Hi I'm your bot! "** . Then I have my Luis app that recognize this intent call

[2018-01-10 11:13] LucioC opened #4023 "[Node.js SDK, Question] How to know when message was sent, via callback or other method?"
Hello guys,

I have already saw the issue #1558 related to botbuilder on AWS lambda (nodejs). I was able to make it work but now I'm trying to integrate botbuilder (NodeJS) with a library called claudia-bot-builder (https://github.com/claudiajs/claudia-bot-builder), and as far as I investigated I need to now exactly when messages have been completely sent to the network.

I don't completely know t

[2018-01-10 11:56] Robloblaw commented on #3945
I'm experiencing a similar problem with having to post the button response twice after button prompts for the recognizer to pick it up - also where the button prompt is sat within a triggered dialog - has any solution or workaround been found to this @nwhitmont ?

[2018-01-10 12:50] jorhendz commented on #1089
https://davaointernationaltr.ipage.com/bot/

I successful publish my on but i get error, message couldnt send. please help

[2018-01-10 14:09] ngockimhoang commented on #4019
@JasonSowers I tried again now and it is working, no need to enable "Teams" as channel. This is a really weird issue.

[2018-01-10 14:09] #4019 closed

[2018-01-10 14:09] gcfabri opened #4024 "[Skype] Regular expression not working to find email address in chat message?"
## Bot Info
* SDK Platform: Node.js
* SDK Version: Bot Builder 3.13.1 with Botkit 0.6.7
* Active Channels: Skype, Messenger, Telegram and Web
* Deployment Environment: Azure Bot Service and Azure App Service

## Issue Description
I built a bot using Bot Framework (node.js) with four connected channels (Messenger, Telegram, Skype and Web). At any moment the bot validates an inputted email address u

[2018-01-10 15:21] IvanSheyenko opened #4025 "[.NET SDK] Microsoft.Bot.Builder and Microsoft.Bot.Builder.Calling are incompatible?"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels:  Skype
* Deployment Environment:  Azure App Service

## Issue Description
Microsoft.Bot.Builder nuget requires:
* System.IdentityModel.Tokens.Jwt (**>= 5.1.4**)

Microsoft.Bot.Builder.Calling nuget requires:
* Microsoft.Bot.Builder (>= 3.12.2.4)
* System.IdentityModel.Tokens.Jwt (>= 4.0.4.403061554 && **< 5.0.0**)

So I am

[2018-01-10 15:36] jmarellano commented on #1309
Hi. I am having the same problem here "sending failed".  Here is my response headers:
`Response Headers
view source
Access-Control-Allow-Credentials:false
Access-Control-Allow-Origin:*
Access-Control-Expose-Headers:StatusText,Cache-Control,Pragma,ContextId,Date
Cache-Control:no-store, must-revalidate, no-cache
Content-Length:80
Content-Type:application/json; charset=utf-8
ContextId:tcid=1515597554

[2018-01-10 16:21] irfanahm commented on #3544
I am facing the same issue. REST API from Cortana doesn't work. It works well from all other channels.

[2018-01-10 16:28] irfanahm opened #4026 "[Cortana] REST API call to external service not working on Cortana channel, works on Emulator?"
## Bot Info
* SDK Platform:  .NET
* SDK Version: 3.12.2.4
* Active Channels:  Skype, Web Chat, Cortana

## Issue Description
I am trying to call a rest API by taking a File number as input parameter from user and then getting some sample File information from a rest based Web API. This is working perfectly using bot emulator, skype, bot is able to take input and return the output from the Web API,

[2018-01-10 16:36] nwhitmont commented on #4023
Hi @LucioC - Can you share a code example that demonstrates the issue?

[2018-01-10 16:41] JasonSowers commented on #4017
If I am understanding you correctly,  you can just call QnAMaker inside your "common" intent forwarding the query to QnA.

[2018-01-10 16:43] nwhitmont commented on #4024
Hi @gcfabri - You need to verify that the content being returned by Skype channel is actually an email address. Sometimes Skype wraps email addresses in HTML tags, so you would need to adjust your RegEx accordingly.

Example: `<a href="mailto:name@email.com">name@email.com</a>`

[2018-01-10 16:46] #4024 closed

[2018-01-10 16:53] nwhitmont commented on #4026
@irfanahm - Cortana has a 10s timeout, which is shorter than other channels (15s) - if your API call takes longer than 10s to complete it will cause your Cortana skill/bot to timeout.

[2018-01-10 16:54] JasonSowers commented on #1089
@jorhendz tis is not an error this is the default web page for your bot.  You can access your bots endpoint by adding /api/messages to the end of the url.  You would need to use a channel to actually talk to you bot though.  Which channel are you trying to use?

[2018-01-10 17:02] JasonSowers commented on #1309
@jmarellano can you please open a new issue

[2018-01-10 17:29] JasonSowers commented on #4025
As a solution, you should be able to use a [binding redirect](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/redirect-assembly-versions).

[2018-01-10 17:30] rjgmail88 opened #4027 "[Node.js SDK, Cortana] Bug? - Choice prompts don't work with voice clients?"
## Bot Info
App ID: 984ede7e-bc35-4767-a19b-60a2d6c5e4be
SDK Platform: Node.js
Active Channels: Cortana , Direct Line
Deployment Environment: Azure App Service

## Issue Description
`builder.Prompts.choice` doesn't work with voice clients aka Cortana.

I have built Cortana skill using BOT API's. In my dialogs I'm using builder.Prompts.choice at multiple places. In chat clients like bot emulator or

[2018-01-10 17:48] eorione commented on #4006
@nwhitmont thanks! Any news?

[2018-01-10 18:28] nwhitmont commented on #4017
Duplicate of https://stackoverflow.com/questions/48190871/bot-framework-integrating-luis-and-qna-maker-in-node-js?stw=2

[2018-01-10 18:42] nwhitmont commented on #4021
For Q3 - the data protection and privacy guidelines are available here:

- Bot Framework (Preview) Online Services Agreement: https://www.botframework.com/Content/Microsoft-Bot-Framework-Preview-Online-Services-Agreement.htm
- Bot Framework Developer Code of Conduct: https://www.botframework.com/Content/Developer-Code-of-Conduct-for-Microsoft-Bot-Framework.htm
- Cognitive Services Devloper Code of

[2018-01-10 18:55] #4021 closed

[2018-01-10 18:57] msmohan commented on #4007
@hpksp can you please share this project as a zip folder where I can download and repro?

[2018-01-10 19:11] fraangel commented on #4017
@nwhitmont  it's not duplicate I wrote the same question on stackoverflow!
@JasonSowers  can you please provide an example?

[2018-01-10 19:13] #3962 closed

[2018-01-10 19:18] #3989 closed

[2018-01-10 19:28] FranciscoPonceGomez commented on #3970
Hi @dividor,

Can't you just hook up the file chooser event with the "yes" intent? I think I might be missing something. Can you share some code?

[2018-01-10 19:30] #3960 closed

[2018-01-10 19:31] #3978 closed

[2018-01-10 19:46] #3930 closed

[2018-01-10 19:47] #3927 closed

[2018-01-10 19:49] #3919 closed

[2018-01-10 19:54] #3922 closed

[2018-01-10 19:55] #3914 closed

[2018-01-10 19:56] #3912 closed

[2018-01-10 20:00] #3907 closed

[2018-01-10 20:04] #3903 closed

[2018-01-10 20:12] #3881 closed

[2018-01-10 20:13] #3877 closed

[2018-01-10 20:14] #3876 closed

[2018-01-10 20:15] #3875 closed

[2018-01-10 20:15] #3874 closed

[2018-01-10 20:16] #3872 closed

[2018-01-10 20:19] #3847 closed

[2018-01-10 20:21] #3834 closed

[2018-01-10 20:22] #3833 closed

[2018-01-10 20:23] #3819 closed

[2018-01-10 20:25] #3814 closed

[2018-01-10 20:25] #3810 closed

[2018-01-10 20:28] #3801 closed

[2018-01-10 20:30] #3787 closed

[2018-01-10 20:31] #3786 closed

[2018-01-10 20:32] #3785 closed

[2018-01-10 20:43] #3778 closed

[2018-01-10 20:44] #3770 closed

[2018-01-10 20:45] #3766 closed

[2018-01-10 20:46] #3763 closed

[2018-01-10 20:48] #3745 closed

[2018-01-10 20:49] #3734 closed

[2018-01-10 22:02] Kothakapu commented on #4004
Hi @Ma3yTa, Thanks for sharing. Could you please elaborate, how can we use it to send Proactive messages  on facebook. If possible could you please share C# code snippet for the same, which will be more helpful for us.

[2018-01-10 22:06] nwhitmont commented on #4017
@fraangel Posting the same question on GitHub and Stack Overflow _is the definition of a duplicate post_.

We monitor both forums concurrently. Please don't double post the same question on GitHub and Stack Overflow.

[2018-01-10 22:20] fraangel commented on #4017
Really sorry @nwhitmont , it will not happen again! Hope someone will answer

[2018-01-10 22:25] nwhitmont commented on #4006
@eorione Please check your email for followup from the Skype review team.

[2018-01-11 00:05] stevengum97 commented on #4012
Closing this issue as the fix is in the pipeline; @Loski if you still see this issue, please feel free to reopen this issue and @-mention me.

[2018-01-11 00:05] #4012 closed

[2018-01-11 00:28] JasonSowers commented on #4017
[code]

[2018-01-11 00:58] wtam commented on #3988
I've the same issue and issue open almost over a month and still not yet solved.  What do you meant your subscription has issue?  How do I know mine has problem, I'm still able to use it for other service creation

[2018-01-11 01:18] jorhendz commented on #1089
@JasonSowers im using microsoft bot framework, what do you mean by channel? like skype? yes, i want to add my bot in skype, i follow the steps. i register my bots in https://dev.botframework.com/bots/new, amd i add the endpoint like this https://davaointernationaltr.ipage.com/bot/api/messages, and generate microsoft id and password. i also update the web.config using my new generate id and passwor

[2018-01-11 02:26] dividor commented on #3970
Hi @FranciscoPonceGomez,

Here is how I am asking the person if they want to upload a file ....

[code]

So after the user confirms "yes", they get a prompt to upload a file, which means they have to click on the file image before a file chooser appears. We want the file choose to appear immediately after they say "yes".

[2018-01-11 03:01] irfanahm commented on #4026
Thanks.
I don’t think it’s taking note than 10 seconds
It’s just returning hard code values. You can also test the link I mentioned in my problem description. It’s very fast.

Sent from my iPhone

[2018-01-11 05:48] debnathSD commented on #3912
@Francisco: Can you provide a solution for this?

[2018-01-11 07:06] Ma3yTa commented on #4004
Hi @Kothakapu ConversationStarter is my helper class for proactive messages:

how to use

[code]

[code]

[2018-01-11 07:45] DrWala commented on #3967
Hi guys no ideas from the Msft side?

[2018-01-11 09:32] EvergreenGOD opened #4028 "[BotFramework Emulator] Command failed: 4294967295"
Hello everybody!
I've a problem when I launch my emulator..
It's checking for new version and just after that, I have a lot of errors written in red

"Command failed: 4294967295 System.AggregateException: Une ou plusieurs erreurs se sont produites. ---> System.Net.WebException: Impossible de se connecter au serveur distant ---> System.Net.Sockets.SocketException: Aucune connexion n�a pu �tre �tabl

[2018-01-11 09:53] verdysh opened #4029 "[Question] Managing state data"
## Bot Info
SDK Platform: .NET
SDK Version: 3.12.2.4
Active Channels: Telegram
Deployment Environment: local development

## Issue Description
Hi!

When I debug a project, the following warning appears in the output window: "The Bot State API is being deprecated.  Please refer to https://aka.ms/yr235k for details on how to replace with your own storage.".

But I did not save any state data anywher

[2018-01-11 10:04] hpksp commented on #4007
@msmohan I created a cut down version of the project with only root dialog, greet dialog and activity logger. You can use it to repro.
[testbot2.zip](https://github.com/Microsoft/BotBuilder/files/1621793/testbot2.zip)

[2018-01-11 10:23] ecomaven opened #4030 "[Skype] Review of bot taking a long time?"
My Skype bot has been InReview for sometime now.

The ID is 0eb64b13-daf6-44b1-8931-4e6f1da0eec3

[2018-01-11 10:36] luisnatividade opened #4031 "[Question] PromptDialog.Choice text hidden"
## Bot Info
* SDK Platform:  .NET
* Active Channels: Web Chat
* Deployment Environment: Azure Bot Service

## Issue Description
Text hidden in PromptDialog.Choice if is too big to fit in the dialog prompt. (see image above)

## Code Example
PromptDialog.Choice(context, this.onAnswerOptionsSelected, new List<string>() { "This is an example that you cannot read because is hidden.", "Example that fit

[2018-01-11 10:56] vamzz1 opened #4032 "[Question] How to replay previous conversation of a user?"
## Bot Info
* SDK Platform:  Node.js
* SDK Version:  3.13.1
* Active Channels:Emulator
* Deployment Environment:  local development with Emulator

## Issue Description
Hello, For my use case, I need to replay the conversation a user already had with the user before resuming the conversation. Can anybody point me to a solution to achieve this?

[2018-01-11 11:06] vamzz1 opened #4033 "[Question] How to disable inputs from previous choices?"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.13.1
* Active Channels: Emulator
* Deployment Environment: local development with Emulator

## Issue Description
Hello, the open items when using `Prompts.choice` are not disabled in subsequent conversations.

## Reproduction Steps
1. Send a prompts.choice.
2. Send another prompt.
3. The open items of 1st prompt are clickable after the 2nd promp

[2018-01-11 11:59] makah commented on #3825
+1

[2018-01-11 14:23] Unders0n opened #4034 "[Question] PromptDialog.Confirm with custom Yes\No labels not seems to work anymore (or am i missing something?)"
## Bot Info
* SDK Platform: .Net
* SDK Version: 3.12.2.4
* Active Channels: any (checked on emulator)
* Deployment Environment: local + emulator

## Issue Description
 PromptDialog.Confirm with custom Yes\No labels not seems to work anymore (or am i missing smth?)

## Code Example
I want to have Yes\No confirmation but with my custom labels, but so that callback will have boolean as result. I almo

[2018-01-11 17:33] nwhitmont commented on #4028
Thanks for reporting.

Please post Emulator issues on the BotFramework-Emulator project repository so the Emulator team will see it. Thanks!

Open new issue here -->
https://github.com/Microsoft/BotFramework-Emulator/issues/new

[2018-01-11 17:33] #4028 closed

[2018-01-11 17:36] JasonSowers commented on #4031
This is a limitation of prompts, there is not a way to make a new line.  You must design your choices to fit within the constraints.

[2018-01-11 17:41] JasonSowers commented on #4032
I see that right now you are using the emulator.  What channel(s) do you plan on using for your bot?

[2018-01-11 17:42] nwhitmont commented on #4029
@verdysh - The "state service deprecation warning" is just a warning, and can't be disabled. It has no affect on your code, its just a reminder to setup your own bot state service.

[2018-01-11 17:44] nwhitmont commented on #4030
@ecomaven Can you be more specific? How long is "sometime now" exactly?

[2018-01-11 17:46] nwhitmont commented on #4033
@vamzz1 - It's not currently a feature. You would need to design a custom solution.

[2018-01-11 17:58] JasonSowers commented on #4033
You may want to look into [suggested actions](https://docs.microsoft.com/en-us/bot-framework/nodejs/bot-builder-nodejs-send-suggested-actions) if this is the behavior you are looking for.  They do not persist beyond when the user makes a selection.

[2018-01-11 18:26] JasonSowers commented on #4034
There are a few solutions here you can consider. The first would be to use a hero card or some [Rich Card](https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-add-rich-card-attachments).  The second solution would be something like discussed in this [Stack Overflow answer](https://stackoverflow.com/questions/42947804/change-confirm-options-in-botframework-formflow).

[2018-01-11 19:00] nwhitmont commented on #4030
Hi @ecomaven - I have forwarded your question to the Skype bot review team.

They will follow up with you via direct email.

[2018-01-11 19:43] Unders0n commented on #4034
You mean that the way i was trying do it is not intended for this scenario? Or just not  good practice? Also i'm pretty sure it was working (can check it later downgrading the sdk version)
Thank for link, i will also cosider them.

[2018-01-11 19:46] LucioC commented on #4023
@nwhitmont I'm changing the claudia-bot-builder library code to add botbuilder/cortana support, so I'm not sure how much the example will help.

I add a new endpoint callback using their claudia-api-builder by calling :
[code]
From what I debugged they only send me the event and context parameters from lambda handler signature, not the callback one.

Objects initialization (runs once):
[code]

So

[2018-01-11 19:58] nwhitmont commented on #3887
Thanks for the update @jrmcdona - Glad to hear you got it working.

[2018-01-11 19:58] #3887 closed

[2018-01-11 20:00] nwhitmont commented on #3908
Hi @neetgupta7 - Were you able to resolve the issue with the SSL certificate?

[2018-01-11 20:06] nwhitmont commented on #3968
Hi @rjrahul - Are you still having issues?

[2018-01-11 20:08] nwhitmont commented on #4032
It's not a built-in feature of Bot Framework SDK. You would need to design a custom solution.

[2018-01-11 20:21] #4017 closed

[2018-01-11 21:28] nwhitmont commented on #4030
Hi @ecomaven - You need to fill out the **Publisher Name** and **Publisher Email** sections of the Skype publish application.

Currently the bot reviewers do not know where to send the review feedback. Fill out this information and resubmit your Skype publish details.

[2018-01-11 21:38] harshithkashyap opened #4035 "[Feature Request] Provide access to session object for bot events"
## Bot Info
* SDK Platform: Node.js
* SDK Version:  3.12.0
* Active Channels: Direct Line
* Deployment Environment: Azure App Service

## Issue Description
When backchannel events are registered with botbuilder, `session` object parameter is missing from bot listener.
[code]

We use DirectLine backchannel to send events in the background such as user's timezone, preferences etc. Unlike the followi

[2018-01-11 21:45] matthewfcarlson commented on #3926
I'm also seeing this and have a consistent repo.

[2018-01-11 21:47] JasonSowers commented on #4034
I have personally never seen it done that way, which doesn't mean it was never possible.

[2018-01-11 22:41] JasonSowers commented on #4014
It comes from [here](https://github.com/Microsoft/BotBuilder/blob/1c54d504dba43a91927730b6f3c4568c55b1e41c/CSharp/Library/Microsoft.Bot.Builder/MultilingualResources/Microsoft.Bot.Builder.en.xlf#L235)  it is part of form flow.

In your `UserOrder` class you have this: `public int? Pizzas;`
if you changed Pizzas to bananas it would prompt you with how many bananas would you like.  To customize this

[2018-01-12 03:00] zell12 opened #4036 "[Question] Why am I getting: "There was an error sending this message to your bot: HTTP status code InternalServerError"?"
## Bot Info
* SDK Platform:  .NET
* SDK Version:  3.12.2.4
* Active Channels:  Skype
* Deployment Environment:  Auzure Bot Service, Azure App Service, local development with Emulator?

## Issue Description
Built a simple translator (added API references to google translate) using the Basic template.
Everything works fine in the emulator but when I published the bot to Azure and registered the bot,

[2018-01-12 04:37] ubreddy commented on #3797
Any date finalized for this SDK release ? or can we have a preview of the new design before the release?

[2018-01-12 07:55] 2015PM commented on #3999
thank you 👍

[2018-01-12 11:17] dharamgoyal commented on #3825
Hi @fabiooshiro ,

Please can you tell me how can i get message on bot from group with mention @botname, i am not able to do this.

Please help me to resolve this issue.

[2018-01-12 11:21] luisnatividade commented on #4031
Is it possible to change the css files of the bot? Because deleting the "white-space: nowrap;" would solve the problem...

[2018-01-12 11:31] luisnatividade opened #4037 "[Question] Hi-def image is too small when viewed in WebChat. How to open a popup or new tab by clicking it?"
## Bot Info
SDK Platform: .NET
Active Channels: Web Chat
Deployment Environment: Azure Bot Service

## Issue Description
Image too small. Impossible to see the content.

## Code Example
              var replyMessage = context.MakeMessage();
              Attachment attachment = new Attachment();
             attachment.ContentType = "image/png";
             var imageData = Convert.ToBase64String

[2018-01-12 11:51] verdysh commented on #4029
@nwhitmont, with this question it is now clear, thank you!

It would be desirable to understand where saving state data (in case described above).

[2018-01-12 13:31] franBlopez opened #4038 "[Node.js SDK, Direct Line, Adaptive Cards] The "id" property of the attached Adaptive Card is removed by Direct Line API?"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.12.0
* Active Channels: Direct Line
* Deployment Environment: Azure App Service

## Issue Description
When an adaptive card is sent to a client which is using directline, `id: '9e220d99-e81e-4b6e-971f-c4fec9663ac6'` property is removed (image element) from directline.botframework.com before sending it to the client. I'm using botbuilder Node.js

[2018-01-12 14:34] Unders0n commented on #4034
@JasonSowers , hey i checked solutions you suggested. Herocard seems a bit overhead for such simple 1 time scenario, surely it can be done that way but it will be like few dozens of lines instead of simple example above. Second link seems to be about getting boolean input in **formflow** specifically and i'm not sure how it can be integrated into PromptDialog.Confirm.
@JasonSowers, i'm sorry are y

[2018-01-12 16:40] ecomaven commented on #4030
Thanks for your response.  Can't tell why the Publisher Information became blank. However, corrected the noticed anomalies and resubmitted.

[2018-01-12 17:02] Arpanx opened #4040 "[Proactive Messages] Can Bot initiate a new conversation, knowing only the Skype login of the recipient?"
Can Bot initiate a new conversation, knowing only the Skype login of the recipient?
- Suppose that the bot and the recipient added each other in contacts
I can not find an example where the bot itself was the initiator of a new dialogue.
I need the bot not to wait for activity from the user, but the first to take the initiative.
Is it possible to do this?

[2018-01-12 17:30] nwhitmont commented on #4036
Hi @zell12 - Can you share your code that reproduces the issue? Thx

[2018-01-12 17:33] JasonSowers commented on #4040
Take a look at [this documentation](https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-proactive-messages) (Also available for node [here](https://docs.microsoft.com/en-us/bot-framework/nodejs/bot-builder-nodejs-proactive-messages)). What you are looking for is referred to as proactive messaging.  There are also samples [here](https://github.com/MicrosoftDX/botFramework-proac

[2018-01-12 17:34] nwhitmont commented on #4037
@luisnatividade Put your image in a Hero Card with a button that links to the full resolution image URL.

[2018-01-12 17:36] nwhitmont commented on #4040
@Arpanx - For reference, are you using .NET or Node.js SDK for BotBuilder?

[2018-01-12 18:31] JasonSowers commented on #4034
Yes, I am a support engineer on the bot framework team.  after looking into this some more I found that I was wrong and this code sample should work for you needs:
[code]

[2018-01-12 19:51] Unders0n commented on #4034
@JasonSowers , hey i checked solutions you suggested. Herocard seems a bit overhead for such simple 1 time scenario, surely it can be done that way but it will be like few dozens of lines instead of simple example above. Second link seems to be about getting boolean input in **formflow** specifically and i'm not sure how it can be integrated into PromptDialog.Confirm.
@JasonSowers, i'm sorry are y

[2018-01-12 20:34] JasonSowers commented on #4037
It should work with local ones as well.

[2018-01-12 20:56] #4014 closed

[2018-01-12 21:05] JasonSowers commented on #4040
I'm not sure I fully understand your question.

If you lost all your data you would not be able to send a proactive message.  You may be able to grab that data back when the user rejoins the conversation via the conversation update activity. It's kind of hard to answer this question without seeing your code and knowing how your app is set up.  For your second question, I think the answer is no.  I

[2018-01-12 21:37] nwhitmont commented on #3901
closing as duplicate of https://stackoverflow.com/questions/48230402/microsoft-bot-displays-unnecessary-duplicated-messages-in-webchat

[2018-01-12 21:37] #3901 closed

[2018-01-12 21:44] JasonSowers commented on #4037
I just tried it out and the following code worked for me:
[code]

[2018-01-12 22:08] #4033 closed

[2018-01-12 22:17] JasonSowers commented on #3920
Can you please try again our release finally went out yesterday.

[2018-01-12 22:19] JasonSowers commented on #4031
WebChat is open source and fully customizable. A good place to start is over on the [WebChat Repo](https://github.com/Microsoft/BotFramework-WebChat).  Going to close this issue, but feel free to continue the conversation here if needed.

[2018-01-12 22:19] #4031 closed

[2018-01-12 22:22] JasonSowers commented on #4037
Closing this issue as it should be resolved for you now.  Feel free to continue the conversation if needed.

[2018-01-12 22:22] #4037 closed

[2018-01-12 22:53] shaunmccann-87 opened #4041 "[Question] Getting 404 on BotConnectorClient on deployed app, works locally in emulator?"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: Facebook
* Deployment Environment: Azure App Service

## Issue Description
Trying to use bot connector but getting 404 when deployed, works finally in emulator locally.

## Expected Behavior
Message to appear in conversation.

## Actual Results
404 resource not found

[2018-01-12 22:58] JasonSowers commented on #4041
Please provide your code so we can better assist you.

[2018-01-13 03:27] akshat172 commented on #3281
I made a chatbot using qnamaker and deployed on the free trial version of Azure. I can test the bot on the test panel. However, when I am trying to integrate it with Skype it does not send the message.
Bot name: ProjectCompliance
AppId: adea4d84-dbe8-4a92-a86e-075bd3713186

[2018-01-13 14:26] Unders0n commented on #4034
@JasonSowers Thanks.
But this solution render enum values without spaces, as is, and also don't have ability to specify which enum values to prompt. So i created workaround for that, convertion to strings using DescriptionAttribute on enum values and converting back when getting result.
this is helper:
[code]

and this is how to use:
[code]

While this works good, i'm still having a feeling that i

[2018-01-13 16:59] hpksp commented on #3920
@JasonSowers I've been having the same issue for a while. I tried out my bot on skype. still it's not working

[2018-01-13 17:31] khawarashraf commented on #3920
There is some progress, I can now create new password so that issue is resolved. Unfortunately, everything else is still broken.

When I change the settings (Name, Icon) the changes don't take effect and you lose them when you next time go into that UI (goes back to default)

When I add the bot to skype, it still keep on saying message not delivered.

I cannot delete a bot service once it is creat

[2018-01-14 12:22] tinuCoder opened #4042 "[.Net SDK, Emulator, Question] Testing in Emulator & getting error - POST Refresh access token failed with status code: 407?"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Emulator Version: 3.5.35

## Issue Description
POST Refresh access token failed with status code: 407

Need help in solving this issue.
I have already checked my system is synced with Bot timing, Version of Bot sdk is latest and Emulator is also latest version still getting this issue

I also created MS Id and password twice and tried. The

[2018-01-14 20:10] lijunle opened #4043 "[Question] Bot's messaging endpoint does not update after change/save?"
I believe there are some issues around the bot end point setting.

![default](https://user-images.githubusercontent.com/1296500/34920129-a03e6616-f9a8-11e7-9571-01cde221d3ff.png)

After set the URL to another URL (online Azure function URL), **test in MSTeams** still remember the previous testing local ngrok URL and keep sending requests to my local server. But at this moment, there is no settings

[2018-01-14 20:29] barakyo commented on #3415
What's the best way to inherit DialogTestBase? I tried the simple way of just copying the file into my project, but then I needed to copy in a number of other files (FiberTests, etc) which I wasn't able to build. Is there a better way than copying the class into a project and its dependencies?

[2018-01-15 00:14] rjgmail88 commented on #4027
Bump...any update/suggestions here please? Our development has blocked due to this limitation.

[2018-01-15 01:59] fkatada commented on #3967
Hi all,

   Is there any update on this? I also encountered this issue and it just started last month in production
![bug](https://user-images.githubusercontent.com/13221718/34923870-935a2c00-f9da-11e7-9a89-b8d621fb71c7.PNG)

[2018-01-15 03:38] zell12 commented on #4036
Hey,
Just to update, it turns out that the one causing the issue is really the api call, specifically the authentication part. I had to programmatically set the the google API default credential which is set as environment variable on my local machine.
Closing this thread.

[2018-01-15 03:38] #4036 closed

[2018-01-15 03:43] wacton opened #4044 "[Skype Web Control] Bug? Not loading on Chrome and Firefox?"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: Skype, Web
* Deployment Environment: Azure bot service, web app hosted on Azure VM.

## Issue Description
The Skype Web control seems to have an issue on Chrome (63.0.3239.132) and Firefox (57.0.3).
The chat window starts to load, refreshes twice and then ends up showing a white rectangle as below:
![image](https://user-im

[2018-01-15 04:56] pankajdmishra commented on #4042
Can someone help with this?
Anybody who has came across the same issue and resolved it

[2018-01-15 06:36] Ma3yTa commented on #1980
@nickcordrey hi. any update on it?

[2018-01-15 06:45] Ma3yTa opened #4045 "Unknown attachment type for "application/pdf" and "application/octet-stream" in Skype"
## Bot Info
* SDK Platform: NET
* SDK Version: 3.12.2.4
* Active Channels: Skype
* Deployment Environment: Azure Bot Service

[2018-01-15 07:17] Ma3yTa commented on #1980
@nickcordrey I am getting Unknown mime type for application/pdf and application/octet-stream in Skype

[2018-01-15 08:43] gongbf commented on #3647
+1 Facing the same issue , any links or update related to this issue pls ?

[2018-01-15 08:48] gongbf commented on #3647
@nwhitmont Hi sir , my bot is build on Azure bot service and I have this issue too . Could you pls provide a way to contact S4B support channel or do  you have any ideas about it ?

[2018-01-15 09:20] Ma3yTa commented on #421
@lukkhacoder Does application/pdf works for you in Skype? I used the same code but got ``Unknown attachment type`` error

[2018-01-15 09:29] Ma3yTa commented on #3650
@nwhitmont What mime types are supported?

[2018-01-15 10:35] an0o0nym commented on #3901
I still see this behaviour of duplicated initial messages even with @nwhitmont's fix, but in case it helps, the problem looks exactly the same as #1796. Unfortunately @dandriscoll @eanders-MS's solution isn't working for me either - any ideas? Should I open a new issue?

I attach logs from Azure below(they correspond to the conversation flow as in the screenshots attached to this issue).

[code]

[2018-01-15 12:29] eorione commented on #4006
Thank you @nwhitmont !! We corrected the 2 issues and submitted it again, now it should work right?

Thanks!!!!

[2018-01-15 14:12] Ma3yTa commented on #421
@craigjensen Is sending of files supported by Bot Builder? Thanks

[2018-01-15 14:19] jatin085 commented on #2397
I was able to resolve by fixing the return type.

Before

[code]

After

[code]

[2018-01-15 14:33] boriside commented on #61
message.BotPerUserInConversationData = null; is missing from the new Bot.Connector. What else could we use, @willportnoy, @StephenTung-CR

[2018-01-15 16:17] 2670207 opened #4046 "[Skype] How to receive all messages in group chats?"
## Bot Info
* SDK Platform:  Node.js
* SDK Version:
* Active Channels: Skype

## Issue Description
In chat rooms 1:1, messages come in successfully. In group chats you can get the message only **@bot_name**.

How to receive all messages in group chats?
What are the solutions to this problem?

[2018-01-15 16:33] helgeh commented on #2530
I feel like this has never been resolved, am I right?

[2018-01-15 16:33] Ma3yTa opened #4047 "[Question] How send message with local file as base64 encoded PDF attachment?"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: Skype, Telegram, Facebook, Slack
* Deployment Environment: Azure Bot Service

## Issue Description
``UploadAttachmentAsync`` works correctly only in Slack. In other channels (Telegram, Facebook), the file is broken and with Skype doesn't work.

## Code Example
[code]
On skype channel we got error:
[code]

[2018-01-15 17:26] matthew-ernewein commented on #4010
@EricDahlvang Did this fix get rolled out? There is literally no way of telling what is going on behind the black box of the Teams channel.

[2018-01-15 17:47] helgeh commented on #3067
This seems to be an issue with the Node SDK as well. I can not get the bot to work as expected in a group conversation on Skype.

[2018-01-15 17:53] helgeh commented on #3067
Sorry, my bad. I *was* actually able to strip the mention after all.

[2018-01-15 18:43] nwhitmont commented on #4041
Hi @shaunmccann-87 - Can you share your code that produces the problem?

[2018-01-15 18:50] nwhitmont commented on #4042
Hi @pankajdmishra - Can you share your bot code that is causing the problem? Thx

[2018-01-15 18:54] Ma3yTa commented on #4047
Hi @msft-shahins , Could you please check?

[2018-01-15 18:57] nwhitmont commented on #4047
Hi @Ma3yTa - Where is the image hosted? Are you trying to send an image attachment from a local file on your bot's server - or from a publicly accessible URL?

[2018-01-15 18:58] nwhitmont commented on #4043
Hi @lijunle - Thanks for reporting. If you are having a problem with your bot code or BotBuilder SDK for .NET or Node.js - please share your code so we can better assist you.

If you are having a problem with Azure Bot Service products, such as Web App Bot or Functions Bot -- please open a support request with Azure Support via the Azure website.

[2018-01-15 19:00] Ma3yTa commented on #4047
Hi @nwhitmont , I sent pdf file generated on the fly. The document isn't available by URL.

[2018-01-15 19:04] nwhitmont commented on #4044
@wacton - Thanks for reporting - I will forward this information to the Skype Web Control team for further investigation.

[2018-01-15 19:10] nwhitmont commented on #4045
Hi @Ma3yTa - What is the platform, operating system, and Skype client version where you see the error?

[2018-01-15 19:14] Ma3yTa commented on #4047
@nwhitmont
in Slack channel all works fine:
![Slack](https://i.gyazo.com/2d4c49e4ce5162ce9fda6adec2d0610b.png)

in Telegram and Facebook file is corrupted:
Telegram
![Telegram](https://i.gyazo.com/d0d3724181da43beab61654c7b58f855.png)

Facebook
![Facebook](https://i.gyazo.com/2a67f158b2cc66fd14d6a17f4003a732.png)

In Skype we got ``Microsoft.Rest.HttpOperationException: Not Found``

[2018-01-15 19:15] nwhitmont commented on #4046
@2670207 - It's not a feature for privacy reasons.

Per https://support.skype.com/en/faq/FA34698/can-i-add-skype-bots-to-a-group-conversation

[2018-01-15 19:16] #4046 closed

[2018-01-15 19:19] nwhitmont commented on #4047
@Ma3yTa - How big is your PDF file? More than 4mb?

[2018-01-15 19:25] Ma3yTa commented on #4047
@nwhitmont File size 33 KB. I tried both "application/pdf" and "application/octet-stream".

[2018-01-15 19:26] Ma3yTa commented on #4047
@nwhitmont my pdf file
[BORAT CAPITAL PTY LTD   Company Profile.pdf](https://github.com/Microsoft/BotBuilder/files/1632799/BORAT.CAPITAL.PTY.LTD.Company.Profile.pdf)

[2018-01-15 19:32] nwhitmont commented on #4047
See discussion of Skype JWT token config for file attachments here: https://github.com/Microsoft/BotBuilder/issues/3623

https://github.com/Microsoft/BotBuilder/issues/3623#issuecomment-337820207

[2018-01-15 19:34] nwhitmont commented on #4047
Relates to (discussion): https://stackoverflow.com/questions/43866197/bot-framework-post-pdf-file

[2018-01-15 19:45] Ma3yTa commented on #4045
@nwhitmont Skype 12.13.257.0, OS Windows 10

[2018-01-15 20:24] Brennan-VanderLaan commented on #4010
This is still impacting me too, I receive messages from webchat but not from the actual Teams messaging :+1:

[2018-01-15 20:29] matthew-ernewein commented on #4010
I got the bot channel to forward to my messaging endpoint by changing the url, saving, and then changing it back.  This seems to indicated that the Bot Framework is somehow slipping the URLs @EricDahlvang Is this part of the original issue? We plan to integrate with Teams, and it is important that the platform is stable.

[2018-01-15 20:39] Ma3yTa commented on #4045
@nwhitmont the same on OS: Android 7.1.1 Skype:  8.13.0.1

[2018-01-15 23:34] Ma3yTa commented on #4047
@nwhitmont I debugged locally thru ngrok and looks like there is some problem with uploading attachments for Skype.
The first request for Skype, second for Telegram.
![](https://i.gyazo.com/6e66f6c984173a77461989148160a17c.png)

[2018-01-16 02:06] Tomiku commented on #3993
Hello,

Me too for Skype for Business. When I say "Hi", I get this response **"Error happened in Skype for Business service when reaching bot service."**

And Yes, it work in webchat and MS Teams

[2018-01-16 04:22] pankajdmishra commented on #4042
Hi I have this code in message controller
    [BotAuthentication]
    public class MessagesController : ApiController
    {
        /// <summary>
        /// POST: api/Messages
        /// Receive a message from a user and reply to it
        /// </summary>
        public async Task<HttpResponseMessage> Post([FromBody]Activity activity)
        {
            ConnectorClient connector = new Connect

[2018-01-16 05:08] dharamgoyal commented on #1584
I am getting Bad format of conversation ID
POST method
https://skype.botframework.com/v3/conversations/3UTNld2Vr7GKqwhPeUEEpf/activities
jsonBody{
  {
    "type": "message",
    "from": {
        "id": "xxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        "name": "Standup Alice"
    },
    "conversation": {
        "id": "57OrEnePMU3JmNTszfgBJ3",
        "name": "News Alert"
   },
   "recipient": {
        "id"

[2018-01-16 05:32] sahootanmay commented on #4014
Thanks. It was helpful

[2018-01-16 06:04] 2670207 commented on #4046
How to develop a bot company sameroom.io. BridgeBot can receive all messages from the group chat, redirect to another chat group

[2018-01-16 07:00] SamaraSara commented on #1495
@vjirovsky The solution you mentioned has been working with me for almost a year. But starting from Yesterday any page I add replaces the one subscribed before it

[2018-01-16 08:34] band888888 commented on #3126
There is the some qustion from my side.  We intergrate the bot into skype for business. When we send the proactive message in a certern time, how could know the user whether online or offlinke?

[2018-01-16 08:39] band888888 opened #4048 "[.Net SDK, Skype for Business] How to know the status of Skype user on Proactive message sending?"
There is a same question from my side. We intergrate the bot into skype for business. When we send the Notification message in a specified time from a bot to a skype user, how could we know the user whether online or offline? Any hits for this ?

With .Net bot.

Similar question with the Node.js. [3126](https://github.com/Microsoft/BotBuilder/issues/3126)

[2018-01-16 08:53] amthomas46 opened #4049 "[.Net SDK, Question] Unable to test with Emulator after publishing code to Azure?"
## Bot Info
* SDK Platform: .NET
* Active Channels: WebChat
* Deployment Environment: azure bot service

## Issue Description
after publishing code to Azure Bot Service, it works in WebChat through Bot Service, but then when i put the endpoint url (which works generally) with the CORRECT app id and app password, it fails to connect in Emulator.

## Code Example
14:19:24] -> POST 401 [conversationU

[2018-01-16 09:50] shaunmccann-87 commented on #4041
Hi @nwhitmont I've resolved it was my mistake to be honest. I had assumed that the service url was my API when in actual fact its of course the bot framework endpoint specific to the service type Facebook etc.

[2018-01-16 09:50] #4041 closed

[2018-01-16 10:24] neetgupta7 commented on #3996
Thanks @EricDahlvang for the article. So my activity.from.id lets say in cortana channel will be assigned to only one user abc@xyz.com and not to any other user. Also abc@xyz.com may get a new activity.from.id in future but will not be resued for any other user in that channel.

[2018-01-16 10:43] SamirMatkar commented on #3997
Thanks for your reply

I am using Bot Builder version 3.12.2.4. and Bot Emulator version  3.5.35
The most funny part it works with Emulator with localhost endpoint. but when using the endpoint of ngrok generate the post message with activities does not work.

I have am using the sample bot from MS  which return the message with length of activity text.

Let me know what code exactly you are lookin

[2018-01-16 11:19] nihalmehdi commented on #4022
Below code work for for skype for business
result.AppendFormat(string.Format("{0} : {1}{2}", destinationShortName, status, "\n\n\u200C<br/>\n\n<br/>"));

[2018-01-16 11:31] MohammedAbdulMateen commented on #4010
@EricDahlvang thank you for the information & help.

The bot started working fine after adding the Skype channel on 01/11/2018, we have two Bot Channels Registration services pointing to the same bot application in order to do dev & testing by different people using different ngrok endpoints, one of them has been working fine till now but another one didn't work on 01/12/2018 (throughout the day)

[2018-01-16 12:18] Ma3yTa opened #4050 "[Question] How to change Prompt Style in FormFlow from inline to buttons?"
## Bot Info
* SDK Platform: .NET
* Active Channels: Skype
* Deployment Environment: Azure Bot Service

## Issue Description
I want to change style from choosing using numbers to buttons.
Current style:
![](https://i.gyazo.com/8749ce1a67dfac4d6ad716c9c018585c.png)
Expected style:
![](https://i.gyazo.com/505218c831c04d3289b16934decffde9.png)
## Code Example
[code]

[2018-01-16 12:36] MadhuAcc12 opened #4051 "[WebChat] How to customize my webchat?"
I want to remove the the Bot name and time after each message is sent by the bot. Is it possible to do so? Where can I make the change so that both the name and time of the bot is removed? Thanks in advance.

[2018-01-16 14:39] brene commented on #4044
@wacton I'm the PM for Skype Web Control. We unfortunately cannot reproduce this. Can you provide us your bot's ID, so we can test it against that as well?

[2018-01-16 14:46] jochem4207 opened #4052 "[.Net SDK, Direct Line] broken for dev.botframework.com?"
## Bot Info
* SDK Platform: .NET
* Active Channels: DirectLine
* Deployment Environment: dev.botframework.com (side note: when is migrating actually possible for all types of bots?)

Tested local w/ emulator, tested with published bot in Azure.

## Issue Description
DirectLine functionality is broken for bots still on dev.botframework.com, can't get connection

1) Open an old bot, since creating n

[2018-01-16 15:00] jochem4207 commented on #4051
@MadhuAcc12 I don't expect this to be a thing. That's why i'm switching over to the Direct Line APi to have a fully configured UI. See my most recent issue when you going to start with it.

[2018-01-16 15:36] hpksp commented on #3951
This issue is back. I've been having this issue again for the last 2 weeks. Hope this will be sorted out soon. Thanks

[2018-01-16 15:53] hpksp opened #4053 "[.Net SDK, Cortana] Channel doesn't trigger OAuth2 flow when deployed to group?"
## Bot Info
* SDK Platform: .NET Framework
* SDK Version: 3.12.2.4
* Active Channels: Skype
* Deployment Environment: Azure App Service
* App Id: 4b33606b-c9d0-4ef7-82eb-7b458cd609e3

## Issue Description
I've configured OAuth2 authentication flow for cortana channel and it's working fine when deployed to self. Once it's deployed to group, Cortana skips the authentication step and send the user qu

[2018-01-16 16:04] jochem4207 commented on #4052
For a coworker it worked just fine

[2018-01-16 16:42] JasonSowers commented on #3967
@fkatada please open a new issue and provide code, thanks

[2018-01-16 16:51] nwhitmont commented on #4051
Hi @MadhuAcc12 - You can find instructions for how to customize and deploy your own version of the WebChat control on the project's repository here:

https://github.com/Microsoft/BotFramework-WebChat

If you have additional WebChat questions, please ask them on the WebChat project repository and the WebChat team will assist you.

[2018-01-16 16:51] #4051 closed

[2018-01-16 17:14] Ma3yTa commented on #4050
I found a solution.
Just changed type of ``Name`` from  ``public List<string> Names { get; set; }`` to  ``public string Names { get; set; }``

[2018-01-16 17:14] #4050 closed

[2018-01-16 17:19] amehta3000 commented on #4022
@nihalmehdi so you looks like you also went with  `\n\n\u200C\n\n` for the line break, which is still not ideal and I see that you get an extra space indent on mac.

For the color text, basically you are just inserting a string **Under construction** - how does that results in a colored text?

[2018-01-16 18:55] luisnatividade commented on #4037
@JasonSowers  Thanks for the answer! The only thing is that I dont't want to open an url when clicking in the image. I want to open a tab with the image. Is it possible with local images?

I want to do this because since the width of the chatbot is small it's difficult to see clearly the image.

Thanks in advance.

[2018-01-16 19:40] EricDahlvang commented on #3017
from the Skype for Business team:

[2018-01-16 21:08] alokraj68 commented on #687
is there any way to send a Hero Card without session variable?
bot.send is not working. struck and then tried this idea of using bot.beginDialog which also ended p here in this post.

[2018-01-16 21:11] JasonSowers commented on #4047
I got the following code working in telegram, not working on skype.  I will keep looking into this.

[code]

[2018-01-16 21:13] matthew-ernewein commented on #4010
@MohammedAbdulMateen This is identical to the behavior that we see.  We are able to jumpstart the Teams channel by changing the messaging endpoint, and then changing it back.

[2018-01-16 21:52] wacton commented on #4044
@brene bot ID is **ce0f5873-7d96-477b-94d8-105d6a3923b1**

It seems to be a bit sporadic when I test it.
Testing it again now, I initially got it to load on Firefox, then opened Firefox in a private window and it doesn't load. Went back into normal mode with Firefox and cleared all site data & cache. Reloaded the page with the bot, I now see the same issue present itself again.

[2018-01-16 22:59] stevengum97 commented on #4003
Closing due to lack of activity. If you are still facing this issue, please feel free to reopen the issue.

[2018-01-16 22:59] #4003 closed

[2018-01-16 23:32] JasonSowers commented on #4037
I missed that part in my example.  The easiest way to do this would be to add the picture to your project and call it as an endpoint, here is this code again with minor changes that should be what you need:
[code]

[2018-01-16 23:48] JasonSowers commented on #4049
Is it working on any other channel like webchat?

[2018-01-16 23:58] JasonSowers commented on #687
@alokraj68 Please either open a new issue or post your question on Stack Overflow, good luck.

[2018-01-17 03:42] amthomas46 commented on #4049
yes - so i found that the work around is to not only setup ngrok (which I already had) but also to check both of the boxes - the critical one appears to be the "use 1.0 auth tokens". but nowhere in the documentation does it state that you need to do this or explain why

[2018-01-17 04:03] Rakin061 commented on #4044
In chrome... Here's my error log:-

`Failed to load resource: net::ERR_SPDY_INADEQUATE_TRANSPORT_SECURITY
services-bundle.min.js:1 Uncaught (in promise) Object
lwc-chat-index.min.html:1 Uncaught (in promise) Object
lwc-chat-index.min.html:1 Uncaught (in promise) Object
swc.cdn.skype.com/v/0.49.11/calling-bundle.min.js:1 Trouter [Trouter] open connection
services-bundle.min.js:1 Uncaught (in promis

[2018-01-17 04:42] Suneethae7 commented on #3836
is this issue resolved? facing same issue. after adding the users in group. user not able invoke the Cortana which is published.help me on this

[2018-01-17 12:46] ubreddy opened #4054 "[Node.js SDK, Question] LuisRecognizer Error in Node.js SDK?"
## Bot Info
* SDK Platform: NodeJS
* SDK Version:  3.13.1
* Active Channels: emulator, web
* Deployment Environment: local with emulator

## Issue Description
Sometimes I get the following oops error from luisrecognizer. It is not consistent.
[code]
and gives an oops error.

## Code Example
Normal luis intent dialog
[code]

## Expected Behavior
no oops error.

## Actual Results
shared above.

[2018-01-17 12:53] krystiangw commented on #1495
+1

[2018-01-17 13:05] fsps60312 commented on #3893
Same situation here.
I've already deleted the bot on my original Azure account, but having problems adding channel for the new bot on my new Azure account
My email: fsps60312@yahoo.com.tw

![image](https://user-images.githubusercontent.com/16624833/35044050-d59638de-fbc9-11e7-8071-6c053b89a8f6.png)

[2018-01-17 13:30] kumarvikramaditya1 commented on #3937
Same problem here. My MS Teams bot hosted on Azure Bot Service does not deliver the messages to the endpoint. Whereas other bots, which luckily I did not migrate to Azure Bot Service work perfectly fine.

[2018-01-17 14:12] luisnatividade commented on #4037
@JasonSowers I'm working with the App Service Editor on Azure Portal and I have the image on "WWWROOT" folder.  The way I get the image is using HttpContext.Current.Server.MapPath($"~/{imageName}"). I'm testing the chatbot using the webchat channel. So I think using the localhost won't work. The code of the previous answer works, except the line: Value = @"http://localhost:3979/bomb300.png". I tri

[2018-01-17 15:14] brene commented on #4044
@Rakin061 @wacton do you mind telling me if your website is running on HTTPS or HTTP? We are still having trouble reproducing the error.

[2018-01-17 15:19] clari182 commented on #2300
Hi, I'm having the exact same issue. My chatbot is inside a website that needs Azure authentication, and only authenticated users can talk to the bot.

I tried passing the login information in username=email and userid=token but the token is too long. So I switched the 2 (username=token, userid=email). That works fine but the problem is that every message the user sends, it lists the token under t

[2018-01-17 15:22] MohammedAbdulMateen opened #4055 "[Skype for Business] Error happened in Skype for Business service when reaching bot service"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: Skype, Skype for Business, MS Teams, Slack, Web Chat
* Deployment Environment: Auzure Bot Service, Azure App Service, ngrok

## Issue Description
Bot is not working on Skype for Business but works in MS Teams, Slack, Emulator & Web Chat, I followed the below articles to deploy bot to Skype for Business

https://msdn.micros

[2018-01-17 15:34] ioudas opened #4056 "[Question] Is Node.js a first class citizen?"
[Node.Js API documentation](https://docs.microsoft.com/en-us/bot-framework/nodejs/bot-builder-nodejs-overview) seems to be much richer than [its .NET brother](https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-overview).

Is Node.Js treated as first class citizen by bot builder framework maintainer team? Is it better in long term to adopt Node.Js API over .NET?

[2018-01-17 15:38] KetanVidhate commented on #3510
can any one help me with how to create message sink in c#?

[2018-01-17 15:39] rjgmail88 commented on #3836
Yes, it is resolved for me. Looks like it took a while to update the skill in MS bucket so user could invoke it. You need to make sure following things are in place.

1. Make sure user have accepted the skill request.
2. Yours login to Cortana App with the same MSA account.
3. Cortana invocation name is correct.
4. There is not speech to text issue while invocation. If so you can type 'launch {inv

[2018-01-17 16:15] Rakin061 commented on #4044
Hello @brene

Thanks for your reply.  Actually my website is running on HTTP.

Here's the link :  http://job.erainfotechbd.com:8888/hr/f?p=100:1:2524620618320548

Downside, there is the skype-rounded button named. "Chat with ERA HRM"

My Google Chrome Version:-  63.0.3239.132 (Official Build) (32-bit)
My Firefox Version:- 57.0.4 (32-bit)

Hopefully, you could reproduce if you use the identical ver

[2018-01-17 16:25] khawarashraf commented on #3920
any updates?

[2018-01-17 16:36] Ma3yTa commented on #3293
Could please somebody provide a sample of calling Dialog from custom recognizer?

[2018-01-17 16:42] alokraj68 opened #4057 "[Welcome Message] How to send Hero card without access to session object on conversationUpdate event?"
## Bot Info
* SDK Platform: Node.js
* Active Channels: FB, Skype, Directline
* Deployment Environment: Azure Bot Service

## Issue Description

I am looking to send a new Hero card to the user on conversation update as a welcome.

I could compose one without session using the attached code.

My issue is that Bot.send is not able to send the hero card. only session.send can. and on conversation upd

[2018-01-17 16:52] martinoss opened #4058 "[Migration] Having trouble migrating bot to Azure / O365"
## Bot Info
* SDK Platform: .NET

## Issue

I used to manage bot and channel registrations via https://dev.botframework.com/bots.
I'm running an app service on azure that is hosting my bot. This app service is under a corporate azure subscription and I login to azure with my **company O365 account** via my organizations's sign-in page.

I use this login for `eu.luis.ai`, `portal.azure.com`, `apps.

[2018-01-17 17:57] decv86 opened #4059 "[Feature Request] How to proactively initiate an audio call from bot to user?"
Hi!
Help me pls!
Is it possible to initiate a audio call from Bot to the user?

Thank you!

[2018-01-17 18:37] FranciscoPonceGomez commented on #4056
Hi ioudas,

If it looks like documentation is more extensive for Node.js SDK than for .NET SDK, this might be because some actions need more explanation in one SDK than the other.
There is no better SDK and I can assure you that we are investing as much time in the .NET SDK than in the Node.js SDK. Just choose the one that you are more confortable with or more usefull for your project.
In the next

[2018-01-17 18:42] FranciscoPonceGomez commented on #4059
Hi decv86,

I am assuming that you refer to Skype calls. There is a series of steps that you need to go through to enable audio call from your bot. You can take a look here:
https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-audio-calls

There is also a sample that you can check here:
https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/skype-CallingBot

Are you

[2018-01-17 19:16] nwhitmont commented on #4056
Yes - Both .NET and Node.js SDKs are "first class citizens" - Use the programming language that is best suited to your skills and project needs.

[2018-01-17 19:16] #4056 closed

[2018-01-17 19:22] KetanVidhate commented on #3861
Is the issue resolved?
if yes can you please provide me the solution for the same

[2018-01-17 19:24] nwhitmont commented on #4058
@martinoss Have you created a support request for this issue via the Azure website? If not, please create a support request in the Azure portal.

![bot service azure support request](https://user-images.githubusercontent.com/3075047/35062355-e6653b2a-fb78-11e7-8662-91bfeb2185a2.png)

[2018-01-17 19:35] eflorespalma commented on #1838
@ispadoto How do you solve that problem with the storage, i have the same problem.

[2018-01-17 20:06] ispadoto commented on #1838
I changed the storage type of my blob container (blob type) to block blob... Works fine

[2018-01-17 20:15] microsoftly opened #4060 "[Feature Request] Add more fine grain error messaging for missing address/service url"
## Bot Info
* SDK Platform: Node.js
* SDK Version: latest
* Active Channels: N/A
* Deployment Environment: N/A

## Issue Description
Current error message for missing an address or service URL says missing address or service URL instead of saying which specifically

## Code Example
N/A

## Reproduction Steps

## Expected Behavior
If service url is missing, only show error message that says missing

[2018-01-17 20:31] JasonSowers commented on #4058
A few follow up questions:
1. Can you please provide a .her file
2. Do you have multiple tenants
3. Can you please provide more details about your work around as it may help lead to a solution.

[2018-01-17 20:45] lucasperez commented on #3825
@dharamgoyal I think the bot should listen all messages and if matches with some, regex we will be able to do some action...

In hubot we can do something like that...

`robot.respond /stop time sheet/i, (msg) ->
    msg.send "some message"
`

[2018-01-17 20:49] decv86 commented on #4059
Hi @FranciscoPonceGomez,
I use C#, I want my bot to call the user on the occurrence of a certain event, until I could find a solution ...

Tnx!

[2018-01-17 20:51] wacton commented on #4044
@brene the website where it normally runs is https, which is where we first picked up the issue.

For my testing locally to exclude any other of our code I just created a basic html page and opened it directly in a browser window. The html page contains only the code referenced in my first post.

[2018-01-17 21:00] JasonSowers commented on #3510
Are you using c# or node @KetanVidhate

[2018-01-17 21:05] JasonSowers commented on #4037
I will have to try this out myself in azure bot service, I will try to get to this today.

[2018-01-17 21:29] wacton commented on #4044
@brene I've added my test page to a public site.
You can hit it with either http or https:
[http://devwww.appsforops.com/Testbot.html](url) or [https://devwww.appsforops.com/Testbot.html](url)

I can sometimes get it to work when **not** in Incognito/Private browser window. But it always happens when I open a new Incognito window.

[2018-01-17 21:48] #3996 closed

[2018-01-17 22:01] #4002 closed

[2018-01-17 22:04] EricDahlvang commented on #3997
@SamirMatkar How are you setting up ngrok?  Are you changing the Messaging Endpoint in the bot's settings on Azure?

[2018-01-17 22:18] samthakkar commented on #2840
Hi Guys , I'm having 1 issue

   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at Microsoft.Bot.Builder.Luis.LuisService.<Microsoft-Bot-Builder-Luis-ILuisService-QueryAsync>d__4.MoveNext()
--- End of stack trace from previous location where exception was thrown ---

[2018-01-17 22:20] samthakkar commented on #2840
**** MessageController**

using System;//
using System.Net;
using System.Net.Http;
using System.Threading.Tasks;
using System.Web.Http;
using HotelBot.Dialogs;
using HotelBot.Dialogs.Models;
using Microsoft.Bot.Builder.Dialogs;
using Microsoft.Bot.Connector;

namespace HotelBot
{
    [BotAuthentication]
    public class MessagesController : ApiController
    {
        /// <summary>
        /// POS

[2018-01-17 22:20] samthakkar commented on #2840
*** GreetingDialog****

using Microsoft.Bot.Builder.Dialogs;
using Microsoft.Bot.Connector;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using System.Web;

namespace HotelBot.Dialogs
{
    [Serializable]
    public class GreetingDialog : IDialog
    {
        public async Task StartAsync(IDialogContext context)
        {
            await context

[2018-01-17 22:21] samthakkar commented on #2840
***LUISDialog***

using HotelBot.Dialogs.Models;
using Microsoft.Bot.Builder.Dialogs;
using Microsoft.Bot.Builder.FormFlow;
using Microsoft.Bot.Builder.Luis;
using Microsoft.Bot.Builder.Luis.Models;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using System.Web;

namespace HotelBot.Dialogs
{
    [LuisModel("19e869b7-cc0d-45fe-bc07-38a65174544f", "

[2018-01-17 22:21] samthakkar commented on #2840
please help.

[2018-01-17 22:25] brene commented on #4044
Hm... that's really weird. I just tried it and I can't seem to repro.

[2018-01-17 22:26] brene commented on #4044
Can you make a screenshot with the network tag open? This could help us out.

[2018-01-17 23:07] v46 opened #4062 "http 500 errors on connector service (bots not able to respond to users)"
Folks, we are seeing service deterioration for all our slack and SFB bots starting about 30 minutes ago. Any known outages you are aware of?

Users conversing with our bots are not able to get back responses because the bot response to the SDK is failing with 500 errors.

This is across multiple bot framework accounts.

[code]

## Bot Info
* SDK Platform: node js
* SDK Version: 3.11.x
* Active Cha

[2018-01-17 23:13] rgottumu commented on #4062
+1 Same issue here...

[2018-01-17 23:19] EricDahlvang commented on #4062
@v46 @rgottumu

Thank you for reporting this.  I'll investigate, and get back to you shortly.

[2018-01-17 23:27] JasonSowers commented on #3861
@KetanVidhate can you please open a new issue with your complete code.

[2018-01-17 23:29] JasonSowers commented on #4047
I have an email out to the Skype team asking about it.  Will update when I talk to them.

[2018-01-17 23:43] #4034 closed

[2018-01-18 00:35] v46 commented on #4062
@EricDahlvang - Thanks.

Now that bot framework is GA, is there a bot framework status page that we can check for service availability? A Health Check API?

[2018-01-18 01:44] rgottumu commented on #4062
Any update on this?

[2018-01-18 01:44] EricDahlvang commented on #4062
This was a temporary issue with the Default State Service. This service is being deprecated: https://blog.botframework.com/2017/12/19/bot-state-service-will-soon-retired-march-31st-2018/

Bots that already have implemented a custom state client did not experience the problem.  Please add a custom state client to your bots.

----
@v46 Bot Framework does not currently have a status page.

[2018-01-18 03:27] KetanVidhate commented on #3510
c#

[2018-01-18 03:43] wacton commented on #4044
Sure. Here is the screenshot.

![image](https://user-images.githubusercontent.com/2299141/35079779-b279a5ea-fc5d-11e7-8c84-cec5a6ecaf91.png)

[2018-01-18 04:08] dharamgoyal commented on #3825
Hi @lucasperez,
Thanks for reply, i am implementing in PHP using web services.

[2018-01-18 04:37] Rakin061 commented on #4044
Here's my screenshot as well. It is hosted in a Real Ip shown in the image and will be always running.

Link:- http://202.40.190.116:81/ocas/

![skype_frame](https://user-images.githubusercontent.com/27331118/35080992-7e175a4e-fc3b-11e7-914a-1c530695a64b.PNG)

[2018-01-18 04:39] chathudev commented on #4044
For my bot if i am logged in to skype with the webchat, the webchat works fine. Otherwise webchat does not load. Both in http and https.

[2018-01-18 07:08] jay2deguzman opened #4063 "[State Service] How to Use Azure TableLogger to store conversation data?"
I already added the tablelogger.cs, and I already migrated from state client to azure table storage, question is how to trigger the tablelogger to log the conversation of the user and the bot and how to retrieve it?

[2018-01-18 08:27] martinoss commented on #4058
@nwhitmont I have created following support request: 118011817484784
@JasonSowers
- What is a .her file and where can I get it?
- Yes, I have multiple tenants and also a few azure active directories (and the first one listed in the drop down in the azure portal has no subscriptions (FirstOrDefault() issue?).
- Here some Details about the work around:

1. Using chrome, I logged in to the Azure port

[2018-01-18 08:37] SohiniAch93 commented on #674
Hi
I am building a bot to build a flight booking system. I wanted to know if there is any way i can send continuous user  responses to Luis and fetch intents and entities. Not just the first user response but  all his responses throughout the conversation. Does this make sense?

[2018-01-18 08:50] SamirMatkar commented on #3997
yes, I configure the setting on botnetframework portal like this https://9f961bce.ngrok.io/api/messages

but the issue if i tried the using the ngrok end point with emulator it does not work.

can you explain little bit more on your comment of second point.

[2018-01-18 09:14] kamidipreetham commented on #3904
[Webchat] 503 (Service Unavailable) on WebChat

## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.11.0
* Active Channels: Direct Line, WebChat
* Deployment Environment: AWS

## Issue Description
![503](https://user-images.githubusercontent.com/9149028/35084841-d68b27a4-fc4b-11e7-9ac0-73c07c986837.png)
/v3/conversations/88YzQf6Cdk7G2Uv6R2omhb

The network delay is upto 8 seconds.
![time](https:/

[2018-01-18 09:45] SamaraSara commented on #1495
This has turned out to be a bug and it's now fixed with no apparent indication of the intention to provide this feature.

[2018-01-18 12:03] tellarin commented on #2764
@stevengum97, can you close this? :)

[2018-01-18 12:07] an0o0nym commented on #3901
I have resolved this problem using his [updated answer on StackOverflow](https://stackoverflow.com/a/48261204/2808371) attached to this issue!

Thank you very much Gary!

[2018-01-18 13:12] tao1 opened #4064 "IRecognizeContext.sendTyping()"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.13.1
* Active Channels: Direct Line
* Deployment Environment: Azure Bot Service

## Issue Description
Feature request: it would be very useful to have sendTyping() method in IRecognizeContext. So user has feedback that its message is already being processed. Indeed recognize process can take long time.

[2018-01-18 13:17] ganesh1190 commented on #1112
@Rohit573  two white-space and one \n worked for SKype for business.
Do you know how do we send Bold, Italic text to Skype for business . As it does nor support markdown and html.

[2018-01-18 13:27] Rohit573 commented on #1112
@ganesh1190 SfB is absolutely cold hearted. It converts every thing to plain text. No BOLD, ITALICS, etc. (worked on this 1.5 months ago)

[2018-01-18 13:49] ganesh1190 commented on #4022
two spaces followed by \n again space followed by \n works on all platforms for skype for business

[2018-01-18 16:50] JasonSowers commented on #4058
Apologies I meant .har file

[2018-01-18 17:49] nwhitmont commented on #4060
@microsoftly - Great idea - would you like to put together a PR with the proposed enhanced warning messaging?

[2018-01-18 18:00] nwhitmont commented on #4060
Awesome! @microsoftly Thanks for contributing!

[2018-01-18 18:04] nwhitmont commented on #4064
@tao1 Thanks for the suggestion - I will pass this along to our SDK dev team. 👍

[2018-01-18 18:24] amehta3000 commented on #4022
@ganesh1190 Can you please share screenshots and your output? I just ran this through both PC and Mac and you can get a single carriage return but doubling it will not give you complete line breaks. I would expect `  \n \n  \n \n` to give me a blank line, but it does not.

![sfb_markdown_linebreaksii](https://user-images.githubusercontent.com/151545/35114478-c10f0fba-fc39-11e7-904c-16dc768646f1.jp

[2018-01-18 18:44] JasonSowers commented on #3510
Just create a web API project and hit the endpoint.  I just used the default `valuesController` that was generated and modified the `post` method.  you will need to add the `Bot.Builder` package to the project.

[code]

[2018-01-18 18:57] #2764 closed

[2018-01-18 19:02] stevengum97 commented on #2764
Thank you @tellarin and @JasonSowers!

[2018-01-18 19:03] JasonSowers commented on #2764
You're welcome @stevengum97!

[2018-01-18 19:06] #4040 closed

[2018-01-18 19:23] JasonSowers commented on #4063
Can you please provide the code you have already implemented so we can better assist you

[2018-01-18 19:26] JasonSowers commented on #4053
can you please share your code so we can better assist you?

[2018-01-18 19:27] JasonSowers commented on #4047
Still waiting on a response, pinged the skype bot team again today.

[2018-01-18 19:44] v46 commented on #4062
Thank you @EricDahlvang

[2018-01-18 22:18] luisnatividade commented on #4037
@JasonSowers Any update? I tried different ways today but I'm still stuck in the problem...

[2018-01-19 00:01] jay2deguzman commented on #4063
First i changed my global asax from
`protected void Application_Start()
    {
        var builder = new ContainerBuilder();
        builder.RegisterType<Logger>().AsImplementedInterfaces().InstancePerDependency();
        builder.Update(Conversation.Container);
    GlobalConfiguration.Configure(WebApiConfig.Register);

    }`

to

protected void Application_Start()
    {

        Conversation.Upda

[2018-01-19 00:53] santiagodoldan opened #4065 "[Node] Use promises and eventually remove callbacks if possible"
## Bot Info
* SDK Platform: Node.js

It'd be nice to start migrating Node to use Promises, but still accept the callback parameter, is that something I can start working on? I'd love to have promises and stop passing callbacks :)

I'm thinking something like

[code]

**INTO**

[code]

I think it is possible, maybe no that simple, but I'd love to play with it if it's something that can be merged.

[2018-01-19 06:07] prashantkhandelwal commented on #674
@SohiniAch93 Whenever a message is sent to the bot and if the bot uses LUIS, then the message will be sent to LUIS and it will return the intent and entities which you should be handling in the bot code. You need to be more specific when you say that you want to send continuous user response. What I understood is that you want to collect all the messages from the user and then bulk send it to LUIS

[2018-01-19 06:34] ganesh1190 commented on #4022
@amehta3000
![image](https://user-images.githubusercontent.com/31585550/35137701-d1dfe80a-fd10-11e7-9ae3-42fd9e004a0b.png)

[2018-01-19 07:34] martinoss commented on #4058
How can I provide you the file in a secure way?

[2018-01-19 08:32] droidpl opened #4066 "[Direct Line] Timeout 500: ECONNECTION timeout with some load with new state API implemented"
## Bot Info
* SDK Platform: Node.js (8.9.0)
* SDK Version: 1.13.1
* Azure SDK Version (for table storage): 3.0.4
* Active Channels: Direct Line
* Deployment Environment: Auzure Bot Service (only channel registration and web app)
* Bot id: a71cd44f-daf0-4b69-be5f-2ba5273df740
* All servers published on EU West

# Issue Description
Since the moment we started using the bot framework we have had rand

[2018-01-19 08:49] rachita0311 opened #4067 "[.Net SDK, Question] How to handle "No" answer in FormBuilder?"
I have a bot in which one of my form questions is:
"Do you have knowledge on MVC"
If I say "No" , it is doing something wrong. It keeps on asking me the same question again and again.

**Property**
  [Prompt("Do you have knowledge on MVC?"]

        public string HaveMVCSkill { get; set; }

**Method to Build Form**
  var builder = new FormBuilder<HybridVehicleInput>()
                .OnCompletion

[2018-01-19 08:51] ubreddy commented on #4054
Well, this occurs with LuisRecognizer timesout and this Error object is not being caught anywhere resulting in Oops error when luisrecognizer timesout.
Request more elegant way of error handling please.

[2018-01-19 10:39] pconnell99 opened #4068 "[Node.js SDK, Code Examples] "Node.js quick start" example uses incorrect env variables for MICROSOFT_APP_ID and MICROSOFT_APP_PASSWORD"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.13.1
* Active Channels: MS Teams
* Deployment Environment: Azure Bot Service

## Issue Description
Using the example code at https://docs.microsoft.com/en-us/bot-framework/nodejs/bot-builder-nodejs-quickstart#edit-your-bot , the webchat/emulator fails when deployed to Azure Bot service.  The example lines:-

[code]
use environment variable names

[2018-01-19 10:57] ganesh1190 commented on #2874
Need only BOLD and ITALIC.
Any idea...? Please share.

[2018-01-19 10:57] ganesh1190 commented on #3808
Need only BOLD and ITALIC.
Any idea...? Please share.

[2018-01-19 10:58] ganesh1190 commented on #3356
Need only BOLD and ITALIC.
Any idea...? Please share.

[2018-01-19 11:03] ne00346536 commented on #2874
Hi,

You can try mark down language for that not sure will it support or not.

[2018-01-19 12:28] kpranay opened #4069 "[Skype for Business] Channel integration not working?"
## Issue Description
Skype for business integration from botframework was done as described in https://skypeappregistration.azurewebsites.net/bot/74cff280-6766-4db3-8a7c-25cfc16cc9de .
But still the bot status is offline and its not responding for messages.

## Code Example
Application id : 74cff280-6766-4db3-8a7c-25cfc16cc9de

## Expected Behavior
Bot should respond to messages.

## Actual Result

[2018-01-19 15:00] stoconnor commented on #3904
+1, getting this on webchat also. No load, one use, but bot was left idle. Sending a message to bot stops the errors occurring for approx 3 minutes.

Only happening since upgrading from botbuilder 3.11.0 to 3.13.1

[2018-01-19 15:25] mitijain123 opened #4070 "Not able to read Client User details on Server Side"
## Bot Info
* SDK Platform: Node
* SDK Version:  1.0.0
* Active Channels: Direct Line
* Deployment Environment: Amazon Server

## Issue Description
I am trying to integrate the bot client user id and name with bot server, but I am not able to read user id and user name on server side

## Code Example
Bot Client code using postActivity to send user id and name:
[code]

This postActivity will make t

[2018-01-19 15:26] Rakin061 commented on #4044
I just checked in Chrome and Firefox clearing caches and browsing data and I found everything fairly Okay!!

Any news from your end ??  @wacton ??

So, @brene  Have you been able to reproduce the problem and fix this problem as well ?  If yes, then I would love to notify all my clients that the problem has been solved.

[2018-01-19 16:41] JasonSowers commented on #4037
I will look today

[2018-01-19 17:30] amehta3000 commented on #4022
Yes, i see that, but can you make it produce a blank line between Hey / Hi?

`var msgToSend = new builder.Message().text("Hey  \n \n  \n \nHi");`

You would assume that you can do another carriage return, but this does not render properly. When we have a little more complex hierarchy of text, blanks line would be preferable for legibility.

[2018-01-19 17:39] JasonSowers commented on #4037
I want to make sure I recreate this properly is this a web app bot in azure?

[2018-01-19 18:04] slvnperron commented on #3993
Same issue here, works well in other channels but not on S4B. This started to happen after an endpoint url change.

[2018-01-19 18:04] nwhitmont commented on #4068
@pconnell99 Thanks for reporting, will forward to docs team.

[2018-01-19 18:24] luisnatividade commented on #4037
@JasonSowers yes it is.

[2018-01-19 18:44] nwhitmont commented on #4068
I have created the PR here: https://github.com/MicrosoftDocs/bot-framework-docs/pull/102

[2018-01-19 21:05] JasonSowers commented on #4037
I have successfully accomplished what you need https://github.com/JasonSowers/HeroCardOpenUrl

[2018-01-19 21:21] JasonSowers commented on #4058
Send it to my email address listed in my profile 👍

[2018-01-19 21:44] premaarya commented on #3874
I am facing the same issue ... anyone has a solution? I a, using bot builder version 3.11.

[2018-01-19 21:51] rjgmail88 commented on #4027
JasonSowers, could not get it.

[2018-01-19 21:54] luisnatividade commented on #4037
Thanks @JasonSowers it works perfectly in my project. I was missing the Uri...

[2018-01-19 22:23] premaarya commented on #3874
putting a try catch around sending the typing activity solved the issue for me.... got the solution from this post.
https://stackoverflow.com/questions/47647632/a-task-was-cancelled-error-in-context-postasync-and-while-sending-the-typing-a

[2018-01-19 22:40] JohnSdev opened #4071 "[.Net SDK, FormFlow] Template/TemplateUsage not working? (Navigation)"
## Bot Info
* SDK Platform: NET
* SDK Version: 3.12.2.4
* Active Channels: All
* Deployment Environment: All

## Issue Description
Using FormFlow I have changed some of the Templates to Swedish, like Confirmation and Not Understood.
Template Navigation is not working however.  The template wont override the original text
It still sends "What do you want to change?"

Also is it possible to make a c

[2018-01-19 23:34] JasonSowers commented on #4037
Glad it works for you now.

[2018-01-19 23:37] brene commented on #4044
@Rakin061 @chathudev @wacton we have rebooted some of our services, where we believe the root cause could be. Can you check again?

[2018-01-19 23:37] brene commented on #4044
This one is very tricky to debug as sadly no one from the team can reproduce this.

[2018-01-20 00:12] wacton commented on #4044
@brene I tested it on my side now and can no longer reproduce it. I've asked other members on my team just to confirm they are no longer seeing it either.
It looks like the rebooting of your services fixed it, will confirm once I hear back from them.

[2018-01-20 00:57] brene commented on #4044
Awesome! Please reopen this when this is still an issue.

[2018-01-20 01:23] wacton commented on #4044
Just had confirmation from the rest of my team, everything back in working order.
Thanks for your help @brene

[2018-01-20 01:23] #4044 closed

[2018-01-20 06:35] kamidipreetham commented on #3904
@stoconnor Issue resolved when custom storage for state was implemented. I don't know how these are connected but that resolved the issue for me

[2018-01-20 08:05] chathudev commented on #4044
Working now

[2018-01-20 08:06] adaddeo commented on #206
Any new hints on how to get this information on NodeJS?

[2018-01-20 09:26] sakthiuma commented on #3679
my bots endpoint is https://hcmcertification.azurewebsites.net/api/messages. i get internal server error when i test in web chat .plz help me

[2018-01-20 11:28] hpksp commented on #4053
@JasonSowers I'm sorry, I cannot share the code. It's a property of the company that I'm working for. However, if you look at the nature of the issue, this is not something related to my bot code. OAuth2 flow working fine when it is deployed to self. When an user of the group (after agreeing to participate to test cortana) try to use the skill for the first time, cortana must prompt the user to au

[2018-01-20 15:42] Rakin061 commented on #4044
Everything works absolutely fine !! I just checked back everything once again!

Thanks for your assistance @brene

[2018-01-21 07:53] JohnSdev commented on #4071
I found a solution going and changing the prompter attributets and adding a new promp string on pos[0]
Buy isnt that What TemplateUsage should do i one line instead?

Also. Before cpnfirmation the form Will send
Is this you selection?
Button ”Yes”, Button ”No”

Where are those (yes,no) stored so i can charge them too?

[2018-01-21 09:35] isokrates commented on #1073
I'm having the same problem with `chat.postMessage` (via the Python client):

`msg = sc.api_call('chat.postMessage', channel=channel, text='https://www.dropbox.com/s/ogtvwayg00qx9hq/Long%20Otter.jpg?raw=1', as_user=True, unfurl_links=True, unfurl_media=True)`

This doesn't preview the image, but if I paste the same link into a message myself, it _is_ previewed.

Any idea what's going on?

[2018-01-21 16:36] bommareddysandhya opened #4072 "[.Net SDK, Question] Why am I getting "There was an error sending this message to your bot: HTTP status code InternalServerError"?"
## Bot Info
* SDK Platform: .NET
* SDK Version: 4.6.1
* Active Channels: Skype, Email, etc.
* Deployment Environment:  Azure App Service, and Bot Channels Registration

## Issue Description
There was an error sending this message to your bot: HTTP status code InternalServerError
for Bot application developed using VS 2017 and deployed bot application as Appservice and registered channels using Bot

[2018-01-21 19:25] Ma3yTa opened #4073 "[Feature Request] Support payments in other channels"
Payments work only in WebChat and Skype
https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-request-payment  .
https://singularika.com/chatbots/payments_in_chatbots/
Payments with platform UI instead redirecting to url feels more native.
Please add support for Telegram, Facebook.
https://core.telegram.org/bots/payments
https://developers.facebook.com/docs/messenger-platform/pa

[2018-01-22 00:25] jay2deguzman commented on #4063
anyone?

[2018-01-22 00:55] band888888 commented on #3126
Hi @ersachit,  any way to solve this issue at the end?
I faced the same  issue as well.  Business case is Send notification message to User with Skype. However, if the user offline we could not send the message. Hence, we would like to know the user status before we call the Proactive message API from the Bot to do the sending active.

Grateful if you could give me any suggestion or hits.

[2018-01-22 07:18] ganesh1190 commented on #2874
No It Does not work on iOS , Android and Mac clients.

[2018-01-22 07:45] ganesh1190 commented on #4022
For that, few Unicodes are helpful as -
`var msgToSend = new builder.Message().text("Hey  \n\n\u200C  \n\nHi")`

`\u200C` followed by  two spaces , follwed by `\n\n` will give you blank line.

![image](https://user-images.githubusercontent.com/31585550/35209952-4587fb78-ff76-11e7-911d-91c04faa272a.png)

[2018-01-22 07:50] ganesh1190 commented on #4022
as per previous comments replace  `\n\n\u200C\n\n` with => `Hey  \n\n\u200C  \n\nHi`
second `\n\n` should have two spaces before it.
This will give you a blank line
Testes for all platforms
![image](https://user-images.githubusercontent.com/31585550/35210140-ff22f0ba-ff76-11e7-94bf-22bb4bc14f49.png)

[2018-01-22 09:02] Ma3yTa commented on #4073
@willportnoy @Stevenic Is it possible to unify payments API from different channels?

[2018-01-22 10:29] droidpl commented on #3928
I believe that is the same isse we are having in https://github.com/Microsoft/BotBuilder/issues/4066

[2018-01-22 13:51] zubcomandante commented on #3948
is it happening again?

[2018-01-22 14:18] rowilken commented on #3948
I'm just experiencing the same behavior: my bot is randomly failing on directline channel with error 502 nor and a few minutes ago with: No 'Access-Control-Allow-Origin' header is present on the requested resource

[2018-01-22 14:24] alexandruf commented on #2201
Hello,
Today, I experience 503 from 16:00. It's a production bot. Can you please tell us if there are any alarms?

[2018-01-22 14:35] DanielTizon commented on #3948
Same here!

[2018-01-22 14:41] alexandruf opened #4074 "[Direct Line] Getting 500, 502 and 503 status codes a lot?"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.11.0
* Active Channels: DirectLine
* Deployment Environment: Azure Bot Service, local development with Emulator

## Issue Description
Today I experience some problems with directline API
More than 50% of time is like this:
POST https://directline.botframework.com/v3/directline/conversations/LWNUQxx9nVADbdBevnehbm/upload?userId=c3463c3d-4238-4d0a-9c

[2018-01-22 15:01] droidpl commented on #4074
Same here, today it is quite unstable

[2018-01-22 16:20] willemodendaal opened #4075 "[Question] How can I override Autofac configuration to provide my own custom ConnectorClient?"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.11
* Active Channels: Direct Line
* Deployment Environment: Azure App Service

## Issue Description
I would like to override the Bot Builder's Autofac configuration so that I can provide my own custom ConnectorClient sub class, instead of the default one.

I want to do this so that I can pass a static HttpClient to the ConnectorClient. We're gettin

[2018-01-22 16:32] JasonSowers commented on #4047
I got word from Skype, sending attachments such as PDFs is not supported in bots yet due to security concerns.  Skype can only send media attachments such as audio and video.  Unfortunately, you will need to find another solution

[2018-01-22 16:33] Ma3yTa commented on #4047
@JasonSowers thanks.

[2018-01-22 16:33] #4047 closed

[2018-01-22 17:12] nwhitmont commented on #4073
@Ma3yTa For reference, what is your development language/platform?

[2018-01-22 17:38] droidpl commented on #3948
Same here. Also I have the state API installed.

[2018-01-22 17:52] medeirosrafael opened #4076 "What channels support outgoing calls?"
Sorry for using this space to ask this, but, it's possible use some channel to do Outgoing Audio Calls?

[2018-01-22 18:37] nwhitmont commented on #4076
Hi @medeirosrafael - You can conduct audio calls using Skype channel.

Read more about the feature here:
https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-audio-calls

[2018-01-22 18:37] #4076 closed

[2018-01-22 18:41] medeirosrafael commented on #4076
@nwhitmont I did that, but, i wasn't able to make calls, only receive.. I can't find no way to make a call and play a audio, for example

[2018-01-22 18:43] alexandruf commented on #4074
Great! Thank you!

[2018-01-22 18:44] FranciscoPonceGomez commented on #4076
Outgoing calls were not supported the last time I checked. I am speaking to the Skype team just to make sure.

[2018-01-22 18:50] medeirosrafael commented on #4076
@FranciscoPonceGomez thanks for that

[2018-01-22 19:14] nwhitmont commented on #4076
It's not a feature because ... spambots.

[2018-01-22 19:21] AlexFreem opened #4077 "[Skype] Bot listens for messages, but does not send reply?"
## Bot Info
* SDK Platform:Node.js
* SDK Version: 3.12.0
* Active Channels: Skype
* Deployment Environment: Azure Bot Service

## Issue Description
Bot succesfully created. Bot got incoming messages by endpoint. Income session data contains all information about conversation. Session.send() method does not sends reply to user

## Code Example
[code]

## Expected Behavior
Bot replys to user in conv

[2018-01-22 20:31] nwhitmont commented on #4077
Hi @AlexFreem - Have you tried one of the bot examples at [BotBuilder-Samples/Node](https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node)?

You might want to start by deploying a working example. Here I have provided a Skype demo bot you can test with. It is configured to demo many of the commonly requested Skype features.

https://github.com/nwhitmont/botframework-skype-support-dev

[2018-01-22 21:52] rjgmail88 commented on #4027
Has anyone faced same issue ?

[2018-01-22 22:40] Ma3yTa commented on #4073
@eanders-MS @craigjensen just interesting are you guys already working on this functionality for BotBuilder v4?
As I saw It can be implemented for Facebook by sending a payload in ``channelData`` https://github.com/Microsoft/BotBuilder/issues/1859.
And for Telegram by calling ``sendInvoice`` with ``Payments provider token`` https://core.telegram.org/bots/api#sendinvoice

[2018-01-22 23:21] #4032 closed

[2018-01-22 23:44] JasonSowers commented on #4063
`activity.GetStateClient();` This method will always use the default state client, not the client you have implemented.

[2018-01-23 02:41] nebgor commented on #2865
Isn't the local environment and the emulator designed for development ? If so, then differing behaviour is rather detrimental.

[2018-01-23 04:27] bommareddysandhya commented on #4072
[Dialogs.zip](https://github.com/Microsoft/BotBuilder/files/1654580/Dialogs.zip)

[MessagesController.zip](https://github.com/Microsoft/BotBuilder/files/1654582/MessagesController.zip)

[2018-01-23 05:29] Ma3yTa commented on #4073
@eanders-MS @craigjensen If you didn't start implementing of this functionality yet - maybe I can help you to translate ``application/vnd.microsoft.card.payment`` to specific platform requests if you provide me access to connector's (Telegram, Facebook) source code.

[2018-01-23 05:57] AlexFreem commented on #4077
@nwhitmont thank you for you answer.

I have another question:
I not deploying any source code ( becouse of privacy of some parts of code ) and just running bot on my server, which is used as endpoint. I read that this types of bot have some limitations like only 100 users, etc. It is ok for me, for now i just want to test this bot. But may be i missed some important part about limits on bot permi

[2018-01-23 09:09] loretoparisi opened #4078 "[Node.js SDK, state service, Question] Tips on implementing RedisStore as MemoryStorage?"
Is it possibile to use `RedisStore` as memory storage instead of a in memory storage:

[code]

[2018-01-23 09:09] droidpl commented on #4074
Great. Let us know when is it deployed. I will verify how it affects also the issue I have opened in https://github.com/Microsoft/BotBuilder/issues/4066

[2018-01-23 10:14] medeirosrafael commented on #4076
@nwhitmont Thank you. Maybe i need to use twilio for that..

[2018-01-23 10:50] MohammedAbdulMateen opened #4079 "[LUIS] How to track quota usage per end-user for LUIS service?"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: Skype, Skype for Business, MS Teams, Slack, WebChat, Emulator
* Deployment Environment: Azure Bot Service (Used for bot channels registration), Azure App Service (used for messaging endpoint), local development with Emulator? (used only for testing & debugging using ngrok)

## Issue Description
We need to generate a bill f

[2018-01-23 12:09] Ishan22687 commented on #2671
Similar to template mode in Dialogflow to enter utterances directly through Entity Names, do we have any thing similar to that in LUIS to add utterances. e.g. instead of adding "How many bananas are available?", can I add "How many <Fruits> are available?" considering Fruits is the entity here.

[2018-01-23 13:22] alexandruf commented on #4074
@nwhitmont  do you have any news? Today is kinda worse than yesterday

[2018-01-23 14:31] KiranBastawadi opened #4080 "[.Net SDK, Skype, Proactive messages] How to initiate proactive message from the bot?"
I am using the bot flat form provided here and it works well for me, going forward how can I use the bot to initiate a chat using a hard coded ID ?

[2018-01-23 14:39] alexandruf commented on #4075
Maybe what you should try to register is a custom implementation of the `IConnectorClientFactory` instead of `IConnectorClient`.

If you look into `ConnectorClientFactory` which implements `IConnectorClientFactory` you'll notice this:

		IConnectorClient IConnectorClientFactory.MakeConnectorClient()
		{
			return new ConnectorClient(this.serviceUri, this.credentials, true, Array.Empty<DelegatingHa

[2018-01-23 15:00] droidpl commented on #4066
This is getting worse and worse everyday with directline

[2018-01-23 15:22] hpksp commented on #4007
@msmohan any updates?

[2018-01-23 15:23] hpksp commented on #4053
@JasonSowers any updates?

[2018-01-23 15:23] hpksp commented on #3951
@nwhitmont any updates?

[2018-01-23 15:36] Ma3yTa commented on #4078
@loretoparisi try https://github.com/suttna/botbuilder-redis-storage or https://github.com/sebsylvester/botbuilder-storage

[2018-01-23 15:54] etbuilder commented on #2924
@Ma3yTa Have you tested it? how do you know it works?

[2018-01-23 15:58] Ma3yTa commented on #2924
@etbuilder I tested it and it works as expected because I got approvement for proactive messages from Facebook. They give this approvement only if you have this any tag in a payload.

[2018-01-23 16:04] GhassenRjab opened #4081 "[Direct Line] Getting "502 Bad Gateway" error on POST"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.13.1
* Active Channels: Direct Line
* Deployment Environment: Azure Bot Service

## Issue Description
The ChatBot do not respond to messages received via DirectLine

## Code Example
There is no bot code responsible for the issue, the issue can happen in any dialog and in any message

## Reproduction Steps
1. Send messages to the ChatBot via Dire

[2018-01-23 16:09] bommareddysandhya commented on #4072
Hi nwhitmont,

Git hub Issue url : https://github.com/Microsoft/BotBuilder/issues/4072

I have created simple Echo bot and deployed as web app and registered the
email and skype channel using Web channel registration service in azure.

Bot was working in webchat & emulator , not working in email and skype also
any specific reason for this .

Below are the error screen shot form azure channels.

Th

[2018-01-23 16:29] AyoubHaggui opened #4082 "[FB Messenger] How to read the location coordinates from a FB channel?"
## Bot Info
* SDK Platform:  .NET
* SDK Version: 3.12.2.4
* Active Channels:  Facebook
* Deployment Environment: Azure Bot Service

## Issue Description
![capture](https://user-images.githubusercontent.com/11796389/35287509-c63d18f6-0062-11e8-91df-5abcb1025df9.PNG)

I couldn't manage to read location from facebook channel inside botbuilder

## Code Example
var activity = await result as IMessageAc

[2018-01-23 16:30] tishkata86 commented on #2038
I think the problem is when your bot catch wrong intent or your dialog don't have handler for specifical intent and than it's trow that error. If anyone have same issue, please check your luis app what response give you back when you ask it.

[2018-01-23 16:52] JasonSowers commented on #4080
What you are looking for is called [proactive messaging](https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-proactive-messages)  there is a [sample here](https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-proactiveMessages) with multiple examples.

[2018-01-23 17:14] JasonSowers commented on #4063
Take a look at this simple example

[code]

[2018-01-23 17:53] johnnyxu-pernix commented on #3956
Hi @an0o0nym thanks, I manage to make it work by sending an event (Activity) to start the conversation:

[code]

[2018-01-23 18:25] JasonSowers commented on #4082
I found this in another GitHub issue see if it helps you https://github.com/Yudner/Bot-Framework-Code/blob/master/LocationFacebookControl/FacebookLocationControlDialog.cs

[2018-01-23 18:26] GauravDhavale opened #4083 "[Direct Line] How to replace default state client with custom client?"
## Bot Info
Bot handle:
App ID: 2489776e-b4a1-4d55-b2ba-c430142c75fe
SDK Platform: Node.js
SDK Version: "botbuilder": "^3.11.0", Node.js: 6.10.x
Active Channels: directLine
Deployment Environment: Azure App Service

## Issue Description
My ChatBot will be a part of customer portal website. I will have an authenticated user communicating over my bot.  So, I have created a client with direct Line ch

[2018-01-23 18:38] tkX85 commented on #4048
This may help you:
https://github.com/sharepoint/sp-dev-fx-webparts/tree/master/samples/js-skype-status

[2018-01-23 19:10] JasonSowers commented on #4082
This also seems to be "working" but for some reason I always get a longitude of 0:
[code]

[2018-01-23 19:27] nwhitmont commented on #4078
As @Ma3yTa mentioned - I recommend looking at Suttna's package:

https://github.com/suttna/botbuilder-redis-storage

[2018-01-23 19:32] nwhitmont commented on #4080
@KiranBastawadi - For reference are you using .NET or Node.js SDK for BotBuilder?  The answer will depend on your programming language.

[2018-01-23 21:02] adaddeo commented on #2537
Seeing the same behavior as @lingz @DovydasNavickas. `invalid_auth` after a reinstall that goes away after some time.

[2018-01-23 21:47] JasonSowers commented on #4072
I am unable to reproduce this

[2018-01-23 21:53] nwhitmont commented on #4077
@AlexFreem There is no limit to the number of bot users.

You can host your bot on any server, as long as it has a current and valid SSL certificate.

[2018-01-23 21:53] #4077 closed

[2018-01-23 22:09] giuleon commented on #1955
The same here @RichMoeMSFT everything works with Bot Framework Emulator but not with MS Teams:

  "dependencies": {
    "adal-node": "^0.1.27",
    "axios": "^0.17.1",
    "botbuilder": "^3.13.1",
    "botbuilder-azure": "^3.0.4",
    "es6-promise": "^4.2.2",
    "lodash": "^4.17.4",
    "restify": "^5.2.1"
  },

Error: POST to 'https://smba.trafficmanager.net/emea-client-ss.msg/v3/conversations/a

[2018-01-24 02:13] EricDahlvang commented on #3967
Sending an image will throw an exception if it is not a valid ThumbnailUrl.

[code]

However, VideoCards will throw this exception consistently.  I've escalated this to the appropriate team.

[2018-01-24 04:08] ashay-88 commented on #2300
Hi Clari,

did you get any work around on this?

Kind Regards,
Ashay

[2018-01-24 04:37] KiranBastawadi commented on #4080
.net (c#). Thank you

On Wed, 24 Jan 2018 at 1:02 AM, nwhitmont <notifications@github.com> wrote:

[2018-01-24 06:26] EricDahlvang commented on #3997
Are there any errors in the emulator's log window?  What doesn't work?

Are you using a cmd like this, to start ngrok:
ngrok http 3979 -host-header="localhost:3979"

[2018-01-24 06:37] DrWala commented on #3967
Thanks @EricDahlvang, looking forward to a fix :)

[2018-01-24 07:07] giuleon opened #4086 "[Node.js SDK, MSTeams] - Node.js Bot works with Bot Framework Emulator but not with MS Teams (Bad Request)"
## Bot Info
* SDK Platform: Node.js
* Active Channels: Skype, MS Teams, Direct Line
* Deployment Environment: Azure Bot Service, Azure App Service, local development with Emulator

## Issue Description
Hi @RichMoeMSFT, I'm facing an issue with my Node.js Bot, everything works with Bot Framework Emulator but not with MS Teams:

"dependencies": {
"adal-node": "^0.1.27",
"axios": "^0.17.1",
"botbuild

[2018-01-24 07:13] etbuilder commented on #2924
Can someone from Microsoft (@JasonSowers ) confirm this is the right place in C# to implement message tags?

[2018-01-24 07:22] AyoubHaggui commented on #4082
Works like charm, thank you @JasonSowers.

[2018-01-24 07:24] willemodendaal commented on #4075
Thanks @alexandruf , I did actually make some progress yesterday and this was exactly it. Not 100% there yet, as even with my custom connectorClient I still struggle with sharing a static HttpClient (it's getting disposed somewhere after the first call).

I'll share some details later.

[2018-01-24 07:32] Ma3yTa commented on #2924
@etbuilder due to Microsoft you can use ``ChannelData`` to implement channel specific functionality https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-channeldata . I didn't try to use ``ChannelData`` because overriding properties using ``Properties`` works for me.

[2018-01-24 07:42] Ma3yTa commented on #4073
@nwhitmont Could you please ask developers will they implement this because I don't know what to do - wait for implementation by BotBuilder team or implement by myself?

[2018-01-24 08:17] samirgunic commented on #3769
I am no bot, but I use a PC. Whenever I send a URL to my Mac friend, the preview is not rendered on his side. Although it is rendered for me. Moreover, when I send the same URL to a PC friend, it is rendered just fine on both ends. So there is some PC vs. Mac interoperability issue. In addition to this Bot-to-self issue.

Skype on Mac version: 8.13.0.2
Mac OS version: 10.13.2 High Sierra

Skype on

[2018-01-24 08:32] pankajdmishra opened #4087 "[Direct Line] Integration of bot with DirectLine channel?"
Not Exactly an Issue. This is for Learning

Hi Experts,
Need your assistance.

I am trying to build a Microsoft Bot with Razor on my UI side.

My bot will be deployed and hosted on my website. I need to integrate it with DirectLine channel.

I am really not sure how to do that.
Whenever a user posts a query it should send the details to my bot soln.
The Post method in messageController accepts "Co

[2018-01-24 08:59] Wenish opened #4088 "[.Net SDK, DirectLine, Question] First response from bot sometimes takes over 10 seconds?"
## Bot Info
* SDK Platform: **.NET**
* SDK Version:  **3.12.2.4**
* Active Channels: **Direct Line**
* Deployment Environment: Azure Bot Service / local development with Emulator

## Issue Description
When u send a msg to the Bot the first time. The Bot needs 1-10sec or more to respond.

## Reproduction Steps
1. Start Bot
2. Send a msg with the bot emulator

## Expected Behavior
The first respond

[2018-01-24 09:02] band888888 commented on #4048
@tkX85  thank you very much for your suggestion.
After go through the project i aware of that is use Skype web sdk.

Then i follow the project you suggestion:
https://github.com/SharePoint/sp-dev-fx-webparts/tree/master/samples/js-skype-status
To build the application on the Azure.

After that i create a new html page and code as below;

 var config = {
        apiKey: 'a42fcebd-5b43-4b89-a065-744

[2018-01-24 09:40] droidpl commented on #4066
To check it, we've done the same test with a really simple bot uploaded with the following conditions:
* SDK Platform: Node.js (8.9.0)
* SDK Version: 1.13.1
* Azure SDK Version (for table storage): 3.0.4
* Active Channels: Direct Line
* Deployment Environment: Auzure Bot Service (only channel registration and web app) and azure web apps
* All servers published on EU West

We created a simple bot f

[2018-01-24 10:14] starlord-daniel opened #4089 "[Skype] Channel not working for Bot Channel Registration and MS Teams enabled"
## Bot Info
* SDK Platform: .NET
* SDK Version: Bot Builder 3.12.2.4
* Active Channels: WebChat (works), Cortana (works), Skype (not working), MS Teams (took some time, but working)
* Deployment Environment: Web App and Bot Channel Registration

## Issue Description
I've built a bot with the .Net BotBuilder and configured continuous deployment to publish it to a Web App. The endpoint from the WebA

[2018-01-24 10:46] jakubkaczmarek commented on #3415
I've developed an easy-to-use bot dialogs unit testing library - it's described here:
https://jakubcodes.wordpress.com/2018/01/24/bot-dialogs-unit-testing-using-stories-concept
Source code available on github:
https://github.com/ObjectivityLtd/Bot.Tests.Stories.Xunit

[2018-01-24 11:25] eorione commented on #4006
Hi @nwhitmont, can you please help me and see why it is taking so long? thanks!

[2018-01-24 12:01] loretoparisi commented on #4078
@nwhitmont Thanks, I have checkout and I my understanding the point is

- use the redis node module
- write a wrapper of the `IBotStorage` interface.

That said, since seems to be something simple, is Microsoft providing any official implementation?

[2018-01-24 13:33] maryjanem commented on #4057
Hi

I'm able to send a hero card on conversationUpdate like this:

[code]

I'd like to know if there's a better way to handle the address in the CardAction than setting it to `null`.

Thanks

[2018-01-24 13:42] bommareddysandhya opened #4090 "[LUIS] How to associate Bing Spell Check Azure key with LUIS Application?"
## Bot Info
* SDK Platform: NET
* SDK Version: 4.6.1
* Active Channels: Any
* Deployment Environment:  Azure App Service
## Issue Description
How to associate Bing Spell Check Azure key with Luis Application,
Create Cognitive service -Bing spell checker in Azure and In Luis application selected the check box to include big spell checker.
In Luis Dialog setting SpellCheck = true for LuisModelAttrib

[2018-01-24 14:12] alokraj68 commented on #4057
@maryjanem That Worked! :D thank you...

Bit more improvised code with an image.

[code]

[2018-01-24 14:12] #4057 closed

[2018-01-24 15:30] curia-damiano opened #4091 "[.Net SDK, Emulator] Attachment download bug?"
## Bot Info
* SDK Platform:  .NET or Node.js
* SDK Version: latest in NuGet
* Active Channels: so far only Bot Emulator
* Deployment Environment: local development with Emulator

## Issue Description
When running the code here below, the attachment is presented with the right name in the Bot Emulator; but if you click on it, it tries to download a file with name "original" without extension, so it

[2018-01-24 15:36] curia-damiano opened #4092 "[.Net SDK, Emulator] Error with embedded attachments?"
## Bot Info
* SDK Platform: .NET
* SDK Version: latest in NuGet
* Active Channels: Bot Emulator
* Deployment Environment: local development with Emulator

## Issue Description
If I code an embedded attachment, I can't download the file and open it automatically in Excel.
Instead, it tries to open the file in Windows Store, searching for the string "data"

## Code Example
private static Task<Attach

[2018-01-24 15:45] curia-damiano opened #4093 "[.Net SDK, Code Examples] New bot app created in Visual Studio is missing Microsoft.Bot.Connector NuGet package"
## Bot Info
* SDK Platform: .NET
* SDK Version: latest NuGet package
* Active Channels: Bot Emulator
* Deployment Environment: local development with Emulator

## Issue Description
Creating a new bot app in Visual Studio, it misses the NuGet package Microsoft.Bot.Connector, so it's not possible to test it in the Emulator

## Reproduction Steps
1. With the latest version of Visual Studio, create a

[2018-01-24 16:16] mitkodi opened #4094 "[State Service] Getting authorization error without any change to bot code?"
The bot was working unchanged for several months but now when it tries to get state data
[code]
it throws

**Authorization for Microsoft App ID ... failed with status code Unauthorized.**

[2018-01-24 16:38] JasonSowers commented on #4092
Give something like this a try:
[code]
and make sure to add something like this in your messages controller:
[code]

[2018-01-24 17:03] droidpl commented on #4066
More info on this, when I increase the CPU on the machine on azure it seems to reduce in a huge way the number of errors on performance tests. However there is always at least 1 ECONNECT timeout.

[2018-01-24 17:28] etbuilder commented on #2285
@willportnoy is it a good idea to use Scorables in C# instead of the IActivityLogger, and is there an example for "IPostToBot as a type of receive middleware"

[2018-01-24 17:48] etbuilder commented on #2391
@brunoklein99 @Magic73 try to override the tryparse of prompt choice

protected override bool TryParse(IMessageActivity message, out T result)
        {
            // pull from channel data if facebook

            if (message.ChannelId == "facebook")
            {
                // read the quick reply from the quick reply payload
                var text = message.ReadFacebookQuickReply();

[2018-01-24 18:20] EricDahlvang commented on #4058
Hey @martinoss

Thank you for the thorough explanation of the issue.  Interesting work around you've come up with as well.  Another possible workaround is:

[2018-01-24 18:34] nwhitmont commented on #4088
Hi @Wenish - Can you share your bot code that causes the issue?

[2018-01-24 18:39] EricDahlvang commented on #2285
@etbuilder

LogPostToBot is registered with autofac as a keyed type: https://github.com/Microsoft/BotBuilder/blob/31048a2173313c81a2db47efce6a8a869b4ec284/CSharp/Library/Microsoft.Bot.Builder.Autofac/Dialogs/DialogModule.cs#L349

This enables supplying a custom **IPostToBot**:

[code]

[2018-01-24 19:11] fanidamj commented on #4079
Currently LUIS or Azure doesn't provide tracking for the endpoints usage based on each user usage. We can track only based on the app/key/resource usage. The other alternative is to insert the endpoint hits into a different data repository such as **Application Insights**. Here is a [tutorial](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-tutorial-function-appinsights) to do

[2018-01-24 19:27] nwhitmont commented on #4091
Hi @curia-damiano Thanks for reporting.

Is this issue specific to the Emulator, or are you able to reproduce the error on a live channel such as Skype, MS Teams, etc?

[2018-01-24 19:29] nwhitmont commented on #4092
duplicate of #4091 ?

[2018-01-24 19:41] nwhitmont commented on #4093
@curia-damiano What happened when you installed the Microsoft.Bot.Connector package to the app manually?  Were there still problems with the example app?

[2018-01-24 19:46] piffarettig commented on #3993
Same here, it started to happen after changing the endpoint url. It works in other channels.

[2018-01-24 20:05] giuleon commented on #4086
I recreated the Bot and now it's working also on Teams

[2018-01-24 22:52] #4082 closed

[2018-01-24 23:05] EricDahlvang commented on #3664
@SynerG Thanks for your contribution.  Closing this issue, since your PR has been merged.

[2018-01-24 23:05] #3664 closed

[2018-01-24 23:16] EricDahlvang commented on #4094
I'm not sure why the code you've shared was working for several months, but now is not.  Have you tried calling `MicrosoftAppCredentials.TrustServiceUrl(activity.ServiceUrl);` before interacting with the state service?

Nonetheless, activity.GetStateClient() is being deprecated because it interacts with the default State Service (it is also being deprecated).  Please refer to this blog post: https

[2018-01-25 03:07] bibsg opened #4096 "[Question] Why am I getting error: "There was an error sending this message to your bot: HTTP status code GatewayTimeout"?"
## Bot Info
* Bot handle: sbcbot
* App ID: 5b1d7f0b-6905-4afa-a8a7-ada6e5fc4284
* SDK Platform: .NET
* Active Channels: Skype, Web chat
* Deployment Environment: IIS

## Issue Description
I have developed a bot which is using the qna maker to answer some questions. I have deployed it on the IIS server. But when I try to chat with it on the bot framework's web chat it says "couldn't send retry", wi

[2018-01-25 04:42] EricDahlvang commented on #4089
Skype can take up to 15 minutes to propagate the settings changes.  Do you see any errors or warnings in the Health column on the Channels tab?

[2018-01-25 04:47] EricDahlvang commented on #4096
I see you're using the connector client to send a reply.  Try calling `MicrosoftAppCredentials.TrustServiceUrl(activity.ServiceUrl); `before `connector.Conversations.ReplyToActivityAsync(..)`

What error occurs when the appid and password are in the webconfig?

For the ngrok issue, how are you starting ngrok?  Does it work from the command line?
https://github.com/Microsoft/BotFramework-Emulator/i

[2018-01-25 05:41] bibsg commented on #4096
I tried your first suggestion, and it started working on the emulator on the following link <http://localhost:3979/api/messages> with appid and password set. But ngrok still failed to start.
I am using Windows 10, and I have set ngrok in the environment variables. It does show the version when asked for, but when I type ngrok http 3978, it gives the error above.

[2018-01-25 08:37] belcsy opened #4097 "[Question] [Node.js] Not connecting to LUIS? (intelligence-LUIS sample)"
## Bot Info
* SDK Platform: Node.js
* SDK Version: V3.5.35
* Deployment Environment: Local development with Bot Emulator

## Issue Description
I am currently trying out the 'intelligence-LUIS' sample from [BotBuilder-Samples](https://github.com/Microsoft/BotBuilder-Samples), and I am able to run it in the Bot Emulator with no apparent issues. I have imported the included LuisBot.json file to LUIS,

[2018-01-25 09:15] etbuilder opened #4098 "[Question] How to make a contextual conversation"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: FB Messenger
* Deployment Environment: Azure App Service

First off, I do regret starting with .NET as I think its far more complex compared to node, I think node has more easy to understand approaches to contextual issues (ex triggerAction compared to Scorables), and AutoFac is simply a mess for intermediate developers wh

[2018-01-25 09:18] mcrepy commented on #4089
Having the same issue...

[2018-01-25 09:23] mcrepy commented on #2168
obtained this error today...

[2018-01-25 09:27] starlord-daniel commented on #4089
I tried this with days between the calls to skype.

[2018-01-25 10:56] Ma3yTa opened #4099 "[Feature Request] Make Connector's (Facebook, Telegram, Skype) source code public?"
I would like to implement payments for Telegram and Facebook https://github.com/Microsoft/BotBuilder/issues/4073
Approach is to translate ``application/vnd.microsoft.card.payment`` card to platform-specific requests https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-channeldata.
And translate events like ``shipping`` , ``precheckout`` to common model.

[2018-01-25 11:04] jakubbares commented on #2640
@RichMoeMSFT In the link you provided there is no mention of invoke. Can you please provide correct documentation. I am using node.js

[2018-01-25 11:10] curia-damiano commented on #4093
Hi, installing the package manually, everything was fine.
My issue is only about the Visual Studio template that is just missing this package.

[2018-01-25 11:11] curia-damiano commented on #4092
No, it is not a duplicate. The method to attach a file is different, and also the resulting behavior (but in both cases not correct).
Both should be supported give the GitHub example I linked the issue description.

[2018-01-25 11:12] curia-damiano commented on #4091
Hi,
I admit that I haven't tried this in a final deployment environment.
The customer is developing a POC, and so he has tried in the Bot Emulator so far.

[2018-01-25 11:51] garypretty commented on #4088
@Wenish Are you using app service or functions to host your bot in the Bot Service? If it is a web app, have you got 'always on' enabled on your Azure web app?  It sounds like the web app is warming up and that might be what is causing the initial delay.

[2018-01-25 14:11] giuleon commented on #4086
After a couple of hours of interaction I have the same issue

[2018-01-25 14:46] ruicampos commented on #4074
Same here. We are experiencing long delays (>1 minute) and messages lost using direct line.

[2018-01-25 15:43] suvarnapalla opened #4100 "Getting the question as response to me from direct line api when for Luis action fulfillments"
## Bot Info
* SDK Platform:
* SDK Version:
* Active Channels:
* Deployment Environment:

## Issue Description

## Reproduction Steps
1.
2.
3.

## Expected Behavior

## Actual Results

[2018-01-25 16:11] martinoss commented on #4058
@EricDahlvang This workaround for the migration part is much easier :+1: Thank you for that!

[2018-01-25 16:15] luisnatividade commented on #4031
@JasonSowers I'm using an iframe to include the bot on a webpage. Is it possible to change the css of a promptDialog?  Thanks in advance...

[2018-01-25 16:17] JasonSowers commented on #4097
I didn't see you mention that you actually trained the LUIS model, did you do that step?  See [here](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-get-started-create-app) for more info

[2018-01-25 17:08] JasonSowers commented on #4098
Inside your context object you have 3 databags `UserData`, `ConversationData`, and `PrivateConversationData`.  These are intended to be used to allow you to have contextual conversations.  There is even a way to use these databags when you do not have the context object to work with.  Code examples in this [Stack Overflow Answer](https://stackoverflow.com/questions/48327229/how-to-store-retrieve-b

[2018-01-25 17:16] #4100 closed

[2018-01-25 17:18] alexandruf commented on #4074
Hey guys, we would really appreciate an official answer on this.
Directline is not reliable these days.
Thank you in advance!

[2018-01-25 17:25] JasonSowers commented on #4031
Not in an IFrame.

[2018-01-25 17:38] suvarnapalla opened #4101 "Getting the Response same as Question typed from DirectLine API for Luis action binding Fulfillments."
Azure web chat response
![azure-webchat](https://user-images.githubusercontent.com/30594813/35402881-e01cbcfa-0223-11e8-9ca2-e45fb20773cb.jpg)

UI- Direct line API response
![direct-line](https://user-images.githubusercontent.com/30594813/35402882-e0d3fbea-0223-11e8-9b61-22a34cd8ba1c.jpg)

## Bot Info
* SDK Platform:
* SDK Version:
* Active Channels:
* Deployment Environment:

## Issue Description

[2018-01-25 17:45] mutanttech commented on #54
Hi Guys,
I have configured a Web Chat Channel and a Direct Line Channel on Azure Bot Service. I am using the web chat control on the client side i.e. on a web page to provide a UI to users. For now I am using the Web chat control as it is i.e. included botchat.js in html served from my local server and also botchat.css which I have modified the css to give a custom look n feel. There will be requi

[2018-01-25 18:25] fanidamj commented on #4090
You can use LUIS EndPoint API to [Get EndPoint Prediction][(https://westus.dev.cognitive.microsoft.com/docs/services/5819c76f40a6350ce09de1ac/operations/5819c77140a63516d81aee78) where you can use Bing Spell Check Azure Subscription Key.

The other place to use the Bing Spell Check Azure Subscription Key is to include it the endpoint link which you get it the [publish page ](https://docs.microsoft

[2018-01-25 18:44] mutanttech commented on #4096
Hi Guys,
I have configured a Web Chat Channel and a Direct Line Channel on Azure Bot Service. I am using the web chat control on the client side i.e. on a web page to provide a UI to users. For now I am using the Web chat control as it is i.e. included botchat.js in html served from my local server and also botchat.css which I have modified the css to give a custom look n feel. There will be requi

[2018-01-25 19:46] EricDahlvang commented on #4010
@All There are still some latency issues with MSTeams and Skype settings propagation. The connector services themselves are not the issue here, just the configuration setup.  The engineers are aware of the issue, and are working on it.  Thank you for your patience.

[2018-01-25 19:51] mitkodi commented on #4094
Thank you Eric,

I tried it (```MicrosoftAppCredentials.TrustServiceUrl(activity.ServiceUrl);```) but it doesn't work either.
The exception is thrown by **Microsoft.Bot.Connector.BotState** (at line 125) and that class hasn't been changed more than a year.

I know that State Service is deprecated but it should work till the end of March, right?

[2018-01-25 20:10] terabytes commented on #3682
I didn't know how to save chat bot history in a clean way using the data bags provided out of the box by Microsoft Bot Framework, so I created some custom logging of my own. I hope you find this useful.

First off, Bot Framework has middleware functionality to [intercept messages exchanged between the bot and the user](https://docs.microsoft.com/en-us/bot-framework/nodejs/bot-builder-nodejs-interc

[2018-01-25 20:25] terabytes commented on #2073
I was able to log chat bot conversations to MongoDB. If you want to see how I did it, visit [here](https://github.com/Microsoft/BotBuilder/issues/3682#issuecomment-360585870). I'm new to the open source community so if you found my work helpful, please let me know :octocat: !

[2018-01-25 20:29] JasonSowers commented on #4091
A little off topic, but it is not the best Idea to do **all** of your testing on a single channel such as the emulator.  All channels have different behaviors.

This is a bug in the emulator. I filed a [bug](https://github.com/Microsoft/BotFramework-Emulator/issues/291) against that repo back in Sept.

[2018-01-25 20:31] JasonSowers commented on #2640
@jakubbares check out this link https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-cards

[2018-01-25 20:33] terabytes commented on #3359
For those interested in logging chat bot history to a database, I was able to log chat bot conversations to MongoDB by doing [this](https://github.com/Microsoft/BotBuilder/issues/3682#issuecomment-360585870).

[2018-01-25 20:40] JasonSowers commented on #4101
you have given us little information to go off of here can you please at the very least supply your code?

[2018-01-25 22:02] EricDahlvang commented on #4094
Yes, the default state service should still work.  However, the authentication scheme has changed since a year ago.  What version of the SDK are you using?  Have you tried upgrading to the latest? https://www.nuget.org/packages/Microsoft.Bot.Builder/

[2018-01-26 00:32] belcsy commented on #4097
Hi JasonSowers, my bad, I failed to mentioned that. I did train the LUIS model, after I imported LuisBot.json.

[2018-01-26 01:16] belcsy commented on #4097
I tried to follow another tutorial that did not use the Bot Emulator, but terminal to run the results, but I was also not successful. Attached is my error message.

![2](https://user-images.githubusercontent.com/22006107/35420552-1bd69982-0279-11e8-8bce-c10bace15b5a.png)

I am pretty sure the LUIS link works though, as I added a 'Help' behind and it returns a json file.

[2018-01-26 02:04] belcsy commented on #4097
Was able to solve this by using the `global-tunnel` package and managed to get a successful response from LUIS. Tried again with the bot emulator but it gave a Parse Error instead.

Will close this thread tho, as LUIS is now no longer the issue. Thanks!

[2018-01-26 02:04] #4097 closed

[2018-01-26 03:43] benchan-mobi opened #4102 "[Question] How to disable inputs from previous choices in Teams?"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.13.1
* Active Channels:  MS Teams
* Deployment Environment: Bot on dev.microsoft.com communicate to local server endpoint

## Issue Description
Is there a way to disable buttons after user select any of those?

## Code Example
Tried example code on https://docs.microsoft.com/en-us/bot-framework/nodejs/bot-builder-nodejs-send-suggested-actions, b

[2018-01-26 03:57] EricDahlvang commented on #4093
Where are you getting the template?

[2018-01-26 05:15] EricDahlvang commented on #4096
@bibsg I use the following to start ngrok:

`ngrok http 3979 -host-header="localhost:3979"`

Are you behind a corporate firewall?

[2018-01-26 05:16] EricDahlvang commented on #4096
@mutanttech Please open a new issue: https://github.com/Microsoft/BotBuilder/issues/new  The issue you are commenting on is about a different topic.

[2018-01-26 05:29] band888888 opened #4103 "[Question] LUIS error: "Response status code does not indicate success: 410 (Gone)"?"
## Bot Info
* SDK Platform: .Net
* SDK Version: 3.12.2.4
* Active Channels: Skype for business
* Deployment Environment:  Azure Bot Service, Azure App Service

## Issue Description
When calling a LuisDialog in the MessageController, I am all of a sudden intermittently getting the following error: "Response status code does not indicate success: 410 (Gone)."

Yesterday, all things is fine. Today it

[2018-01-26 07:58] haxhilajqi commented on #2755
Hello Guys,

Any update about integration of avatar movement (lip sync) to Bot Framework!

Regards
Haxhi Lajqi

[2018-01-26 08:20] DanielNetzeriAm commented on #2823
why not split the message into 2 requests from the AI and then concat the response?

[2018-01-26 09:08] willemodendaal commented on #4075
Here is what we did eventually, and it had a big positive impact on socket usage. Worth creating a PR for?

### Global.asax.cs

Here we tell the bot framework to use our own custom stateClient and connectorClient (via our `BotFrameworkOverrideDefaultsModule` )

    protected async void Application_Start()
    {
        var containerBuilder = new ContainerBuilder();
        GlobalConfiguration.Conf

[2018-01-26 11:21] jakubbares commented on #2640
Thanks but that did not help. I looked into the code of the library botbuilder to see directly how it is supposed to work.
Invoke is no longer part of that library I found. So only option is messageBack which I know how to call but dont know how to catch it when called

[2018-01-26 13:16] Wenish commented on #4088
@garypretty we use the azure bot service which ist set to be always on. but the problem happens on local env too.

@nwhitmont i removed in the webconfig out bot id secret etc. and removed our api call in the ticket dialog because i needs a secret 2..

its a pretty simple bot. u can create support ticket with attachments and text

[Beyond-Bot-Helpdesk.zip](https://github.com/Microsoft/BotBuilder/fi

[2018-01-26 13:25] Wenish commented on #4088
after removing appId and apppasword and connecting with bot emulator the first msg respond is again everytime fast.

as soon i put in appId and apppassword into the webconfig and connecting with the bot emulator using the appid and apppassword the respond takes again really long

[2018-01-26 15:28] polashivaprasad opened #4104 "[Skype Web Control] Bot on SWC not working?"
**Bot Info**
SDK Platform:  .NET
BOT ID:bfb7c99b-e303-457a-b8bb-99ec2c203d5e
 Active Channels:  Skype channel

**Issue Description**
Currently I trying out the bot framework onC#.net, but it seems like the bot on Skype is broken now, I can't open the skype window in browser it is works on  web chat and test channel. Till yesterday it is working suddenly it fails.

 **Code Example**
[code]

 Actual

[2018-01-26 15:31] loretoparisi opened #4105 "Replace a Dialog with new Entities"
I have a multi-turn dialog using `LUIS` as recognizer with two waterfalls for this `Intent`:

[code]

where I have the two waterfall `GetSongDialogWaterfall = function (session, args, next)` and the latter is `PlaySongDialogWaterfall = function (session, results, next)`.
Now, I'm trying to implement a logic similar to the flow depicted in the docs [here](https://docs.microsoft.com/en-us/bot-framew

[2018-01-26 16:09] kylepolich commented on #88
This issue was the reason we finally gave up on botframework.  It's a nice tool but isn't production ready due to configuration difficulties.

[2018-01-26 16:14] drasticactions opened #4106 "[.Net SDK, Slack] Sent Attachments over 10 MB are null"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: Slack
* Deployment Environment: Azure Bot Service

## Issue Description
When a user attaches a file and sends it to my bot, it's expect that it'll take that attached file, upload it to Azure, and give a link back. However, if they're using Slack, when the attachment size is over 10 megabytes, `Attachments` is null. If it's

[2018-01-26 16:47] JasonSowers commented on #4106
This sounds like Slack has a file upload size limit, have you reached out to slack to ask them?  I was unable to find any documentation on their single file upload size limits.

[2018-01-26 16:55] drasticactions commented on #4106
The upload limit is [1 GB](https://get.slack.help/hc/en-us/articles/201330736-Upload-and-share-files). The files attached to the conversation appear correctly in Slack and can be downloaded from within it. It just seems that the bot can't find it if it's over a specific size.

[2018-01-26 17:08] JasonSowers commented on #2640
I have answered your stack overflow question here https://stackoverflow.com/questions/48442248/how-to-catch-messageback-in-node-js

[2018-01-26 17:26] JasonSowers commented on #4102
It's not possible to do exactly what you are asking.  The best thing for you to do is add some sort of validation on your inputs.  We are doing so in [this project](https://github.com/JasonSowers/ContosoScubaBot)  which is adaptive cards based but follows the same idea.

[2018-01-26 18:30] abharku opened #4107 "Cortana don't want to compete"
## Bot Info
* SDK Platform: REST API
* SDK Version: current
* Active Channels: Skype,telegram
* Deployment Environment: aws

## Issue Description
We built a Cortana skill using bot framework and Groove api (Yes the api is still functional). We have same skill live on Amazon Alexa, Google Home and we wanted to give users on Cortana to have similar access. Surprisingly Cortana certification team has

[2018-01-26 18:49] abharku commented on #4107
@JasonSowers totally with you on this. I thought Cortana was part of bot framework and was just venting my frustration after doing all the hard work on development and not going anywhere with Cortana team

[2018-01-26 20:41] wacoder opened #4108 "[Node.js SDK, Skype] Bot replies with duplicate messages in Skype channel?"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.13.1
* Active Channels: Skype
* Deployment Environment: Deploy the bot on AWS lambda, use API.AI for intent detection

## Issue Description

Bot responses work well for the most time. But for some time, the bot responds duplicated messages.

![image](https://user-images.githubusercontent.com/10132576/35459501-6bbf49f0-02ae-11e8-8920-791ce81f7fec

[2018-01-26 21:10] JasonSowers commented on #4108
Does this occur only if the user clicks a button or types a response, or if there is no response from the user for a couple minutes does the duplicate message still come?

[2018-01-26 21:23] wacoder commented on #4108
no, two replies are really close (the time difference between these two messages all under 1 second).

![image](https://user-images.githubusercontent.com/10132576/35461265-23dcc41c-02b5-11e8-8f9e-6a9e685f989b.png)

As in the above image, most time it works well. But sometimes it replies twice.

[2018-01-26 21:31] JasonSowers commented on #4103
Are you able to post your entire project either here or in a repo so we can try to reproduce?

[2018-01-26 21:58] JasonSowers commented on #3920
Are you still experiencing issues?

[2018-01-26 22:01] JasonSowers commented on #4108
Are you able to share your code in it's entirety so we can try to reproduce and find the issue?

[2018-01-26 22:38] khawarashraf commented on #3920
What a coincidence, I actually tried deleting the bot this morning and was able to delete it. So I created it again and so far, it is working as expected. Whatever issues it had seems to have sorted out.

[2018-01-26 23:35] EricDahlvang commented on #4075
@willemodendaal Thank you for sharing your solution!  I don't think we want to pull this into the v3 SDK, but this is definitely something that will be addressed in v4 (coming soon).

Again, thank you for pointing this out and for coming up with a good solution!

[2018-01-26 23:35] #4075 closed

[2018-01-27 11:07] MathieuDiepman commented on #3742
I had the same issue but was able to resolve it by removing the skill from https://my.knowledge.store, remove the channel from my bot. After re-adding the channel and re-publishing the skill it worked.
![image](https://user-images.githubusercontent.com/1908315/35471393-a688828e-035a-11e8-86f0-11571c151e23.png)

[2018-01-27 12:07] suvarnapalla commented on #4101
Please find the attached code. This is base Luis Dialog, which calls my AnalysisByCity Intent.
<img width="960" alt="baseluisdialog" src="https://user-images.githubusercontent.com/30594813/35471767-1877b310-0388-11e8-9ad3-e1072bb7e088.png">

This is the Action Class which should fulfill the intent by getting all Required Entity values. With the direct line api, the Action Binding case is not worki

[2018-01-27 14:58] #3920 closed

[2018-01-27 20:20] WormyOne commented on #3658
@irfanahm I am currently seeing the same 'all options greyed out' behaviour in Cortana channel registration.  It would appear from a new issue you raised that you got past this issue.  Can you share how?

[2018-01-28 13:06] pankajdmishra commented on #4087
Hi can someone please help me with this :(

[2018-01-28 14:07] bibsg commented on #4096
@EricDahlvang  I haven't tried this command. I am on a break and will go back on Wednesday. I'll check it out then. Please do not close this issue. I'll report back on Wednesday. Thanks for your help.
Yes, we do have a corporate firewall.

[2018-01-28 16:00] nrishoj commented on #2808
@GauravDhavale, did you find a solution on how to auth/fetch token of the current user communicating with the bot?

[2018-01-28 19:25] austinhuang0131 opened #4109 "[Question] Cannot start a dialog consecutively twice?"
I know the title is terrible.

## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.13.1
* Deployment Environment: Heroku + Azure Bot Service

## Issue Description
In [my bot](https://github.com/austinhuang0131/metagon), some dialogs bind to a command. Now, if I try to trigger the dialog twice, I'll be able to trigger it first, but not the second time.

## Code Example
[code]

## Reproduction Step

[2018-01-29 00:38] band888888 commented on #4103
Thanks @JasonSowers  reply. I tested it today. Somehow it's back to normal. So i assume it's the network/Server stabilize problem.   If you have any suggestion grateful if you could let me know.

[2018-01-29 03:43] mohit-agrawal226 opened #4110 "[Message Formatting] How to display data in table format?"
## Bot Info
* SDK Platform: .NET

## Issue Description
I am getting tabular data from API that i want to display in table format.

## Code Example

[2018-01-29 06:21] microsofttechie34 commented on #1757
@Ezequiel Jadib : You can even inherit from your dialog and override the MessageReceivedAsync to remove the throw of the exception.

Can you please elaborate with a sample example for your above statement.

My Requirement: When we try to select any other value other than option I should send the request to LUIS again which I am doing in OptionPromptAsync method.

I don’t want to throw the exceptio

[2018-01-29 12:15] ranmax123 opened #4111 "[Skype] Getting error: "One or more of the user ids provided is not valid.""
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: Skype, SfB, Web chat
* Deployment Environment: Azure Bot Service

## Issue Description
My bot is not responding on Skype channel. It gives following error.
400 bad request
"one or more of the user ids provided is not valid".
The bot works just fine on web chat.
You can check the demo of web chat here: https://goo.gl/kk9BMJ

[2018-01-29 13:22] MohammedAbdulMateen commented on #4079
@fanidamj could you please tell me where can I find a C#.NET equivalent of [this](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-tutorial-function-appinsights) tutorial as I am using .NET to build the bot app.

You told that we can track only based on the app/key/resources usage, where can I learn more about this?

I think app means LUIS app, key means Azure subscription key,

[2018-01-29 13:26] buehler opened #4112 "[Question] Why am I getting duplicated conversation message on begin dialog?"
## Bot Info
* SDK Platform: Node.js v8.6
* SDK Version: v3.13.1
* Active Channels: WebChat
* Deployment Environment: Azure Bot Service

## Issue Description
The Bot does repeat it's welcoming messages. Actually we capture the `conversationUpdate` event of the bot and send some welcoming messages to a user (that is connected via webchat). In local development and as well as the deployed application

[2018-01-29 15:04] Ma3yTa commented on #4110
@mohit-agrawal226 hi. try to use markdown but only skype, slack, telegram, webchat support it.

[2018-01-29 15:21] mohit-agrawal226 commented on #4110
Thank you @Ma3yTa. I am looking for webchat only.

Can you please share some code snippet or link for .net ?

[2018-01-29 15:51] eorione commented on #4006
Hi there, how are you?
I'm still waiting, no one is replying on Microsoft. thanks

[2018-01-29 16:06] Ma3yTa commented on #4110
@mohit-agrawal226

[code]

[2018-01-29 17:09] Kannaj opened #4113 "[Node.js SDK, Question] Calling session.beginDialog(), triggered via REST route in bot app, sometimes triggers 5xx errors?"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.11
* Active Channels: All
* Deployment Environment: Azure App Service

## Issue Description
I maintain 2 servers to enable browser chat between
1. Our web client (essentially a chat page with the bot)
2. A bot logic running on an Azure App service

For specific circumstances , we would like the bot to start with a specific dialog. To that effect

[2018-01-29 19:18] nwhitmont commented on #4111
Hi @ranmax123 - Great question. -- Can you post the bot code that causes the issue so we can better assist you?

[2018-01-29 19:22] nwhitmont commented on #4112
There are two `conversationUpdate` events that get emitted -- one for the bot joining the conversation, and one for the (human) user joining the conversation.

You can filter out one of those events and respond with a single "welcome message" using the following code:

https://gist.github.com/nwhitmont/d9910fcf7ab4048ee37bd5c789cfc375

[2018-01-29 19:27] nwhitmont commented on #4099
At the time of this writing, the BotBuilder SDK is open sourced, and the bot connector service is private Microsoft IP.

[2018-01-29 19:27] #4099 closed

[2018-01-29 19:30] nwhitmont commented on #4101
Hi @suvarnapalla - We are unable to accept code in screenshot format.

Please post your code as text so we can better assist you.

[2018-01-29 19:33] nwhitmont commented on #4104
Hi @polashivaprasad -- It looks like you are having issues with the Skype Web Control (SWC).

Have you tried using the official Bot Framework WebChat control? You can find the setup instructions here:

[2018-01-29 20:41] buehler commented on #4112
Hey @nwhitmont
yea we already saw that.. that was part of the first problem when we used conversation Update :-)

but
[code]

with this snipped it's filtered. the logs we use do state that the update is called exactly once (as it should) but the chat bot does repeat it's messages

[2018-01-29 22:11] JasonSowers commented on #4113
Have you implemented a state store or are you us6ing the default, this may help if you have not.

[2018-01-30 02:40] craigjensen commented on #3967
Can you attach the ContentUrl for the attachment that you are trying to upload?

[2018-01-30 05:05] ranmax123 commented on #4111
Hi @nwhitmont the bot is working perfectly fine on web chat, you can try testing and chatting with bot. URL already mentioned above.
I just enabled Skype channel, but unfortunately it's not working. Can't share the code.

Any issue at SDK or MSFT end?

Thanks,

[2018-01-30 07:26] band888888 opened #4114 "Any update for "Proactive messages not delivered if SFB window is closed" problem?"
## Bot Info
* SDK Platform: .Net
* SDK Version: 3.12.2.4
* Active Channels:  Skype for Business
* Deployment Environment:  Azure Bot Service, Azure App Service

## Issue Description
Bot have been integrated in to Skype for business channel. There is a proactive API on the bot. It's could be called by out side system. When trggier this API will send the proactive message to the user.

However when

[2018-01-30 08:59] verdysh opened #4115 "[Logging] How to get analytics by messages?"
## Bot Info
* SDK Platform: .NET
* Deployment Environment: local development

## Issue Description
Hi!

I included the collection of analytics in the bot with free subscription. Through portal.azure.com I switch to analytics.applicationinsights.io and there I can see what happens with bot.

I'm trying to execute the following query:
[code]

As a result, I get a set of records. But among the inform

[2018-01-30 10:34] chuotnhat1985 opened #4116 "[Skype] Message formatting: Cannot add break line \n\n into the message?"
## Bot Info
* SDK Platform:  .NET
* SDK Version:  SDK 4.6.1
* Active Channels: Skype 7.40.0.151
* Deployment Environment: IIS 7.0

## Issue Description
As title, I cannot add break line \n\n or <br/> into the message on Skype

## Code Example
                var connector = new ConnectorClient(conversation.ServiceUrl);
                IMessageActivity activityMessage = Activity.CreateMessageActivi

[2018-01-30 14:13] artemious7 commented on #2626
How about the time zone?! I'm getting UTC time allways if I use `DateTime.Now`

[2018-01-30 14:23] KiranBastawadi opened #4117 "[.Net SDK, Skype] Proactive Bot - Proactive message to any user in the network, without having a known conversation"
## Bot Info
* SDK Platform:  .NET
* SDK Version: .net 4.6
* Active Channels: Skype
* Deployment Environment: anything

## Issue Description
need a bot to ping list of skype users from the DB

## Code Example
Have a list of users in SQL DB with Skype Id's need to ping them a reminder every hour

[2018-01-30 14:37] dicastro commented on #1775
I am still having the same issue.

Before migration to 'Azure Bot Service' I was able to add an "unpublished" bot to skype clicking on the link.

After migration to 'Azure Bot Service', I have registered a brand new bot for testing purposes. But I am not able to add it to Skype. If I try with webchat, everything works correctly.

[2018-01-30 14:45] dicastro commented on #1775
The problem has disapeared after filling in 'Long Description' in 'Publish' tab in 'Skype' channel details and saving the form.

[2018-01-30 16:36] JasonSowers commented on #4117
This is not possible.  The reason is to prevent spam bots

[2018-01-30 16:42] JasonSowers commented on #4115
Yes, you can implement [IActivityLogger](https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-middleware).  Take a look at [this sample](https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-Middleware).  Here is a simple implementation I did which serializes activities into a JSON string and stores then in a SQL DB:
[code]

[2018-01-30 16:55] rupjit opened #4118 "[Question] Why am I getting error: "There was an error sending this message to your bot: HTTP status code GatewayTimeout?"
## Bot Info
* SDK Platform: .NET
* Active Channels:  Web Chat, Direct Line

## Issue Description
Bot is developed using SDK & deployed on corporate server. Same bot is published on internet (https://testmy.ebharatgas.com/bitsy/api/messages) & registered with Bot channel of azure.Certificate is also vaild.

When we are trying to test the web chat getting following error,

"There was an error sendin

[2018-01-30 16:55] Eldopes opened #4119 "[Deployment] Authentication Issue when bot hosted on private remote IIS server?"
## Bot Info
* SDK Platform:  .NET
* SDK Version: 3.12.2.4
* Active Channels: MS Teams, Webchat
* Deployment Environment: IIS server (outer IP address, HTTPS endpoint configured)

## Issue Description
Just as the title says, I was unable to send messages and get any replies from my remote Bot through Webchat or Teams.

## Reproduction Steps
1) Create any simple bot that should respond to messages
2

[2018-01-30 17:03] JasonSowers commented on #4118
Please provide us with your code so we may try to reproduce.

[2018-01-30 17:12] KiranBastawadi commented on #4117
If the users are from contact list of bot or if had previous communication in days then is it possible to remember n ping back ?

[2018-01-30 17:20] JasonSowers commented on #4117
Yes, that is possible.

[2018-01-30 17:22] KiranBastawadi commented on #4117
Can you please explain a bit and an example code will help

thank you

[2018-01-30 17:24] JasonSowers commented on #4114
You will need to talk to MS about that, we have no control over it. https://microsoftteams.uservoice.com/forums/555103-public

[2018-01-30 17:24] #4114 closed

[2018-01-30 17:32] JasonSowers commented on #4117
Check out [this example](https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-proactiveMessages) in our samples repo.  Read through the readme on there.  There is also a [blog article](https://docs.microsoft.com/en-us/bot-framework/nodejs/bot-builder-nodejs-proactive-messages) that does a good job explaining this concept

[2018-01-30 17:37] KiranBastawadi commented on #4117
this I tried, it compiled and ran on localhost, I published it to proactive bot on Azure but when I wanted to test it on web chat  I get the "There was an error sending this message to your bot: HTTP status code Unauthorized" error, Windows app ID password were checked, SSL certificate option checked (not using it on VM anyway)
any suggestions would help

[2018-01-30 17:44] rupjit commented on #4118
HI , its just the default code (returns no of character entered in chat box ). Only addition is  Microsoft APP ID /Password used in web.config.

[2018-01-30 19:04] JasonSowers commented on #4117
In the future please provide details like this in your original post.

How is your bot deployed web app, bot service? Are you only testing on skype channel?  Please share your code so we can take a look

[2018-01-30 21:17] Kannaj commented on #4113
We do have a state store running and have implemented it in the below way

[code]

interestingly , this dependency in app-insights seems to be returning a 404 every 5-6 requests

Dependency type |   | Azure table
-- | -- | --

Successful call |   | false
-- | -- | --

Result code |   | 404
-- | -- | --

Could this issue be related?

[2018-01-30 23:37] zell12 commented on #3573
hi anuj. sorry if i'm responding to a close thread, but would you mind sharing how you resolved this? because im facing the same issue.
after a long period of inactivity, the bot wouldn't respond on the skype channel, unless i connect to the bot endpoint via emulator (POST conversationupdate), then he will be able to respond in skype.
i also checked the application insights failures and nothing se

[2018-01-31 00:38] bibsg commented on #4096
@EricDahlvang Hi, I tried the above command in ngrok, but still shows an error in the session status. It keeps looping between the messages "reconnecting (x509: certificate signed by unknown authority)", "reconnecting (invalid character '<' looking for beginning of value)", and "reconnecting (dial tcp [2600:1f16:59e:b200:21d7:7eb7:fd6f:f0a9]:443: connectex: A socket operation was attempted to an u

[2018-01-31 01:43] jessedemobot opened #4122 "[Skype for Business] duplicate message appeared in SFB mobile app"
## Bot Info
* SDK Platform:  .NET
* SDK Version: 3.12.2.4
* Active Channels: Skype for Business
* Deployment Environment: Azure Bot Service

## Issue Description
Outbound message in Skype for Business Mobile App appeared twice in 5-10 minutes.

## Code Example
string trustServiceUri = "https://api.skypeforbusiness.com/platformservice/botframework";
MicrosoftAppCredentials.TrustServiceUrl(trustServ

[2018-01-31 02:08] xitij commented on #2519
@JasonSowers

Bump. Still seeing this problem...

A simple solution that would allow the us to handle this would be BotBuilder forwarding along any errors they receive from the Messenger API. As far as I can tell this isn't currently happening.

[2018-01-31 02:15] nodeomega commented on #4109
When a dialog runs and completes, it returns to the parent.  As that dialog has already executed, it goes on to the default if nothing else matches it.  I believe this is by design.

What you could try to workaround this and get your desired functionality is performing a test on the match inside the default method of the dialog you're trying to trigger multiple times in a row,

Example:

`bot.dial

[2018-01-31 02:16] austinhuang0131 commented on #4109
Triggers are unique. I think this can be a workaround. Thanks @nodeomega !

[2018-01-31 03:20] xitij commented on #2519
Ok so I dig some digging on my own hopefully this is helpful. This issue is very easy to reproduce here are the steps:
1. Create a bot that uses the Facebook channel.
2. Start a conversation with the bot on messenger.
3. In Messenger "Turn off all messages" from the bot.
4. Send a proactive message from the bot.
5. Check Bot Framework Dev channel for error. The error is the same one mentioned abov

[2018-01-31 04:39] KiranBastawadi commented on #4117
I am using proactive bot built on Azure channelled to skype n  web chat,  I generated password (bot reg) and used in web config of simple send message proactive core code as in the above link

[2018-01-31 06:31] bommareddysandhya commented on #4072
to get the resolution for the issue what other information do you required.In Application insight I am getting the below error. In Skype and Webchat it was working fine. This is on critical ,any help will be appreciated .
![forbiddenerror](https://user-images.githubusercontent.com/28855176/35608285-58dfbfd6-0650-11e8-8609-01acedf0c3c9.png)

[2018-01-31 06:33] bommareddysandhya commented on #4072
I am able to debug the code when email received to ID , but reply is not sending and Error getting logged in Application Insight .

[2018-01-31 06:49] KiranBastawadi commented on #4117
I have the bot hosted here but it responds nothing ..(the error occurs on webchat test)

https://simplesend.azurewebsites.net/

[2018-01-31 07:27] chuotnhat1985 commented on #4116
Skype version 7.40.0.151. Are there any difference between CreateReply and CreateMessageActivity. I made anything, but still not break line in the skype.

[2018-01-31 08:05] band888888 commented on #4114
Thanks @JasonSowers reply.

Folks: @anujaparikh23 @intranetchris @v46

I post the issue on the Skype for business feedback. Please raise me up. Let's them to see the problem.
 [Skype for business Issue feedback voting](https://www.skypefeedback.com/forums/299913-generally-available/suggestions/33146980-bot-send-messages-could-not-delivered-if-sfb-wind)

Thank you very much.

[2018-01-31 09:23] AyoubHaggui opened #4124 "[.Net SDK, Prompts] How to recognize misspelled choices in PromptDialog"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Deployment Environment: Azure Bot Service
## Issue Description
How to recognize misspelled choices in PromptDialog
## Code Example
PromptDialog.Choice<string>(context, ProcessIntentSelection, options);
....
 private async Task ProcessIntentSelection(IDialogContext context, IAwaitable<string> result)
{
      String choice = await result;
}

[2018-01-31 09:30] medbenmahmoud commented on #4124
You can extend PromptDialog.PromptChoice
Example : https://github.com/Microsoft/BotBuilder-Samples/blob/master/CSharp/demo-ContosoFlowers/ContosoFlowers.BotAssets/Dialogs/CancelablePromptChoice.cs

[2018-01-31 09:33] onssatoripop commented on #4124
Same issue here, thx for posting it ayoub.
Hope that someone already found a proper solution and of course that "someone" must be cool enough to post it here so we can use it. 🤣

[2018-01-31 09:41] AyoubHaggui commented on #4124
@medbenmahmoud problem with this approach is the developer needs to provide all the variations of the choice which is not practical especially if you have nanny prompt dialogs with lots of choices.

[2018-01-31 09:44] boydc2014 opened #4125 "[Question] Unable to tell it's a button click event or just text message"
## Bot Info
* SDK Platform: .NET
* SDK Version:  3.12.2.4
* Active Channels: Facebook
* Deployment Environment: Azure App Service

## Issue Description
My bot would send a series of cards with some buttons on each card. By clicking the button step by step, the user are making choices.

I'm using **CardAction.Type = ImBack,** because I want the choice is visible to the conversation.

The problem is

[2018-01-31 09:55] Danieladu commented on #4125
Maybe CardAction.DisplayText works. But it seems not work for C# SDK.
We have met the same issue.

[2018-01-31 10:05] Eldopes commented on #4119
Аs i said previously,  the SSL certificate has been checked several times and seems to be ok:

![ert1](https://user-images.githubusercontent.com/15719638/35616305-edb6e8f2-0685-11e8-84ce-d8b9854dad2b.jpg)

![cert2](https://user-images.githubusercontent.com/15719638/35616312-f2a2023e-0685-11e8-9131-e83c2d31c9fb.jpg)

I proceeded to your link

http://social.technet.microsoft.com/wiki/contents/articl

[2018-01-31 11:31] MNHarun opened #4126 "Update 3.13.0.3 breaks FormFlow .Field using enum"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: None
* Deployment Environment: Local development with Emulator

## Issue Description
I'm doing simple FormFlow with just 3 input and save responses to UserData (stored using local CosmosDB simulator). First input is from enum (Yes or No), indicating whether to proceed or not. The other two are strings and SetActive dependi

[2018-01-31 12:50] rupjit commented on #4118
Dear Members,

I have an update here,

In the IIS log where my bot is hosted,  i find http code 200,
-------------------------------------------------------------------------------------------------------------
2018-01-31 06:54:35 W3SVC1 CDCVGAEBIZ1T 10.72.54.54 POST /bitsy/api/messages - 80 - 10.72.9.44 BF-DirectLine+(Microsoft-BotFramework/3.2++https://botframework.com/ua) - testmy.ebharatgas.co

[2018-01-31 14:56] verdysh commented on #4115
@JasonSowers, thanks!

[2018-01-31 15:53] NotMyRealName1234 opened #4127 "iFrame jQuery issues"
I created a jQuery UI Accordion popout widget

  $( function() {
    $( "#accordion" ).accordion({
      collapsible: true,
      active: false
    });
  });

This basically makes a little picture in the bottom right of a SharePoint 2013 page act as an accordion. This works but I have noticed it is interfering with the rendered code within the iFrame.

Specifically the arrows on the carousel withi

[2018-01-31 15:56] vincec-msft commented on #4074
We believe that Direct Line has stabilized but there are still occasional problems related to load. These impact certain datacenters more than others, so to address specific problems we need to know times (in UTC please) and conversation ids, if available.

[2018-01-31 17:43] craigjensen commented on #3967
Image/video attachments sent to the Facebook channel must contain _ContentType_ and either _Content_ in [DataUri format](https://en.wikipedia.org/wiki/Data_URI_scheme) or _ContentUrl_ as a http/https uri.  Sending  only a ThumbnailUrl is not supported and will return a BadRequest error.

In most cases we pass the _ContentUrl_ directly on to Facebook and if Facebook is unable to load the content an

[2018-01-31 17:47] gareththackeray opened #4128 "DictionaryBotData doesn't work because of deserialisation"
## Bot Info
* SDK Platform: .NET
* SDK Version: latest
* Active Channels: any
* Deployment Environment: any

## Issue Description
In the bot builder code there is an `IBotData` implementation called `DictionaryBotData`.  This implementation doesn't work when the `IBotDataBag.Data` (which is an `object`) gets deserialised from the store it gets deserialised to a `JObject`.

## Code Example

[2018-01-31 17:54] gareththackeray commented on #4128
Created PR https://github.com/Microsoft/BotBuilder/pull/4129

[2018-01-31 17:56] Kannaj opened #4130 "Receiving Microsoft.Bot.Schema.BotTimeoutException for the past few hours"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.11.0
* Active Channels: Directline, Slack, Teams, Cortana
* Deployment Environment: Azure Bot Service, Azure App Service

## Issue Description
On our directline channel , we seem to be constantly getting the below errors (viewed on our app insights). This is affecting both our production and test bots

Microsoft.Bot.Schema.BotTimeoutException

d

[2018-01-31 18:50] #4115 closed

[2018-01-31 18:52] JasonSowers commented on #4127
@NotMyRealName1234  please post this issue on the [webchat repo](https://github.com/Microsoft/BotFramework-WebChat/issues/new).  The question is more appropriate for that forum

[2018-01-31 18:52] #4127 closed

[2018-01-31 19:10] KiranBastawadi opened #4131 ".net based bot to broadcast a message to its group of contacts. Can you please help if there can be such a bot a little detailed explanation would help"
## Bot Info
* SDK Platform:
* SDK Version:
* Active Channels:
* Deployment Environment:

## Issue Description

## Code Example

## Reproduction Steps
1.
2.
3.

## Expected Behavior

## Actual Results

[2018-01-31 20:18] cleemullins opened #4132 "if a bot throws an exception when a debugger is attached, it packages the stack trace as text/plain and sends it back to the user"
## Bot Info
* SDK Platform: .Net
* SDK Version: All
* Active Channels: N/A
* Deployment Environment: Local Development With Emulator and Debugger

## Issue Description
if a bot throws an exception when a debugger is attached, it packages the stack trace as text/plain and sends it back to the user.

This Behavior is problematic.

## Code Example
https://github.com/Microsoft/BotBuilder/blob/31048a21

[2018-01-31 21:40] JasonSowers commented on #4125
I am investigating this looking for a workaround.  In the next release, there will be a card action that you can use called `invoke` which send a JSON payload with the button click.  I'm trying to find out when that will be released.

[2018-01-31 21:53] EricDahlvang commented on #4118
Hi @rupjit

What is your BotHandle? What is the Messaging endpoint in the bot's settings?

[2018-01-31 21:55] FranciscoPonceGomez commented on #4128
Hi gareththackeray,

Thanks for bringing up this issue and providing a fix. I will review it as soon as possible.

Regards,
Francisco

[2018-01-31 22:05] fraangel commented on #1880
Hi all, I'm facing the same problem when I use QnA active learning with  Node Js.  As you can see in the photo the problem arise when the bot should print "special" characters like "è" "cos'è"  and so on...
Any suggestion about solving the problem? I was reading about using npm package named **decode-html** but I really don't know how to apply it and where cause I debugged the code finding html pa

[2018-01-31 22:08] JasonSowers commented on #4116
I tried with your code to reproduce this as well, and was unable to reproduce.

[2018-01-31 22:12] #4063 closed

[2018-01-31 22:18] FranciscoPonceGomez commented on #4128
Can I ask you if there is any reason why you can't use JObjectBotData class instead of DictionaryBotData for your solution?

https://github.com/Microsoft/BotBuilder/blob/db2b8f860a3d8f7744a378930f93c4b0baa97978/CSharp/Library/Microsoft.Bot.Builder/ConnectorEx/BotData.cs#L633

[2018-01-31 22:49] DrWala commented on #3967
Hi @craig, I'll pass you an example of the images I'm sending in a few hours and hopefully you can point me in the right direction

[2018-02-01 01:20] craig commented on #3967
**POINTS AT @craigjensen**

[2018-02-01 02:07] boydc2014 commented on #4125
Hi, @JasonSowers, thanks for quick update. Looking forward to see the update. One remaining question is
if I use invoke or adaptive card, with JSON payload, can I still make the message visible to users?

I didn't see options like ImBack in adaptive card, their is only ActionSubmit, which looks like won't show in conversation

[2018-02-01 02:22] chuotnhat1985 commented on #4116
This is full code that using to send the message to skype group when bot get the data from database. Conversation object is a model. You can change the other one.
`var userAccount = new Microsoft.Bot.Connector.ChannelAccount
                {
                    Id = conversation.Sender.Id,
                    Name = conversation.Sender.Name
                };

                var botAccount = new

[2018-02-01 04:42] grupobernier opened #4134 "[.Net SDK, LUIS] Bot Framework not call LUIS intent after upgrade to 3.13.0.3"
## Bot Info
* SDK Platform: .Net
* SDK Version: 3.13.0.3
* Active Channels: Web
* Deployment Environment: Azure Web App, LUIS and local

## Issue Description

0down votefavorite | I upgrade my bot framework to 3.13.0.3 and my LUIS dialog stop working. My bot start but when I write the word about the intent the bot show again the initial message and stay in this loop.I did verify the app ID and key

[2018-02-01 07:47] khushboo22singh commented on #3684
this issues was not resolved. But i created whole new Bot application ans somehow its working fine both on webchat and skype as well.

[2018-02-01 07:47] #3684 closed

[2018-02-01 07:49] khushboo22singh opened #4135 "Retrieve SkypeId for Bot in skype channel"
Is there any way to get skypeId in microsoft bot? I am only getting name, but i want skypeId?

[2018-02-01 07:53] khushboo22singh opened #4136 "Microsoft OAuth Authentication with Dynamics portal"
I have a requirement wherein we want to authenticate the users via Bot in Dynamics Portal. I have already tried using Office 365 portal. I wanted to know if that can be achieved in Dynamics Portal?

Any other way around will be appreciated.

Thanks

[2018-02-01 08:55] boydc2014 commented on #4125
@JasonSowers  Tried Adaptive card, submit with Json payload works fine, but doesn't have the ImBack like effect that the message is visible in conversation which isn't ideally.

Will this new "invoke" approach do that? because If we don't want the message is shown in conversation, we can just encode sth in value property and set the type to PostBack.

[2018-02-01 09:08] Kannaj opened #4137 "fail rates with regards to retrieving session state from Azure bot storage"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.11
* Active Channels: All
* Deployment Environment: Azure app service

## Issue Description
We recently moved bot session state to an azure storage account(table) and are witnessing ~ 10% failure rates with regards to retrieving session information. After trying to log operations done on the storage account, i can see that most of the failures a

[2018-02-01 09:15] mitkodi commented on #4094
I upgraded the SDK to the latest version and tested with Bot Framework Emulator, but the error is the same and is raised by ```Microsoft.Bot.Connector.JwtTokenRefresher.SendAsync``` making request to ```http://localhost:1704/v3/botstate/emulator/conversations/```.

[2018-02-01 09:56] droidpl commented on #4066
More logs of what happens in the server with load:

[2018-02-01 09:58] droidpl commented on #4074
Hi @vincec-msft, check the details I provided in https://github.com/Microsoft/BotBuilder/issues/4066. It includes also the logs of what happens in the server and the post we send.

[2018-02-01 10:43] pankajdmishra commented on #4042
hi,

I am facing this issue intermittently. I mean when i run my application and refresh emulator it throws
"Refresh access token failed with status code: 407" multiple times.
Later it gives the response. Please see below screen shot for ref.
I tried everything but still this issue persists.

Awaiting solutions from the experts please help me on this.

![image](https://user-images.githubuserconten

[2018-02-01 11:24] gowthamsanj commented on #3017
Hi

Bot status is 'Presence unknown' due to this I can transfer the file to Skype for business, May I know when will this issue get resolved?

Thanks

[2018-02-01 11:54] mitkodi commented on #4094
I found the problem. It was the using of an older version of ```System.IdentityModel.Tokens.Jwt``` package.

[2018-02-01 11:54] #4094 closed

[2018-02-01 12:49] itvignes09 opened #4138 "[Skype For Business] Can not send files in skype for business bot"
I have created the bot successfully. It is working fine on Skype. But not on Skype for business. Not able to send image or files on Skype for business.

[2018-02-01 14:13] ranmax123 commented on #4111
Glad, it started working now. Probably it takes some time to work

[2018-02-01 14:13] #4111 closed

[2018-02-01 14:23] buehler commented on #4112
Ping?
@nwhitmont or @FranciscoPonceGomez  ?

[2018-02-01 14:24] buehler commented on #4112
IMO this is a bug... and not really a question ;)

[2018-02-01 14:33] luisnatividade opened #4139 "[.Net SDK, Question] Send message after inactivity"
## Bot Info
* SDK Platform: .NET
* Active Channels: Web Chat
* Deployment Environment: Azure Bot Service

## Issue Description
Send message after X second of inactivity of user.

I want to send a message "I'm still here" to the user when he is inactive (don't sends message) in 60 seconds.
I tried with the proactive messages but I could not set a timer that restarts (or stop) when user sends a mess

[2018-02-01 16:03] DrWala commented on #3967
Hi,

ok, this is a sample image I have sent: https://res.cloudinary.com/nyx-intelligence/image/upload/sp-route-images/Auditorium and a sample thumbnail is this: https://pbs.twimg.com/profile_images/608090302348271616/_20fw54g.jpg

[2018-02-01 16:44] craigjensen commented on #3967
I was able to send both of those images to Facebook successfully as follows.  Note that you must set the image url in the ContentUrl property (ThumbnailUrl is ignored by our Facebook channel).

            reply.Attachments.Add(new Attachment()
            {
                ContentType = "image/png",
                ContentUrl = "https://res.cloudinary.com/nyx-intelligence/image/upload/sp-route-im

[2018-02-01 16:53] rupjit commented on #4118
@EricDahlvang : I want to update that , After enabling [botauthentication] in message controller , now i am getting 401 error, though my credentials are correct .I have a question, do i need to open outgoing connection also from my IIS server to internet. I am reading this post https://github.com/Microsoft/BotBuilder/issues/2266

[2018-02-01 16:55] DrWala commented on #3967
That's weird. It's 1am here I'll test this out again tomorrow. I extracted it from the project i was working on. Funnily enough this issue didn't happen on telegram...

[2018-02-01 17:03] vincec-msft commented on #4066
2 observations about the data in the last post:

1) Direct Line received a message for conversation B8ccwE73neT8Jz5M9Dv5Ei from the client at 2018-02-01T09:50:18.255, tried to post it to the bot and got an HTTP 500.

You mentioned that increasing the CPU on the bot server helped. It may be that the server is still overloaded and cannot process the requests. Traffic to the bot is very bursty.

2) T

[2018-02-01 18:03] JasonSowers commented on #4136
What language are you using C# or Node?

[2018-02-01 18:07] JasonSowers commented on #4131
please fill out the template and we will reopen when we have more info

[2018-02-01 18:07] #4131 closed

[2018-02-01 18:27] gareththackeray commented on #4128
Thanks for getting back so quickly @FranciscoPonceGomez.

We have been using JObjectBotData until now.  But the reason we want to use DictionaryBotData is basically so can have one POCO in PrivateConversationData with all the data we might need to store about the conversation.  Then we can get this one object from PrivateConversationData and read or set whatever properties we like, which will be s

[2018-02-01 18:46] kiranchand opened #4140 "Are you guys using the variable "key" in yield return?"
https://github.com/Microsoft/BotBuilder/blob/e927e34aab62c2fd199b6ac7921a37d4d3aa9a66/CSharp/Library/Microsoft.Bot.Builder/Dialogs/LuisDialog.cs#L409

Can you guys use the variable `key` in yield return in the statement below?

[2018-02-01 18:52] stevengum97 commented on #4136
@khushboo22singh can you provide the information requested in the template, starting with which language of the SDK you're using, the version of the SDK, how you're deploying your bot, and which channels are being used?

[2018-02-01 18:59] mvanhalen commented on #3893
I also have this same message. I did have another bot for testing, but I removed that. So not sure what to do now. Our page ID is  103749919719606.  The web chat test is working fine in our case. Really like this product so hope we can solve this. Thanks.

[2018-02-01 19:15] JasonSowers commented on #4134
@grupobernier Thanks for reporting, we are looking into this.

[2018-02-01 19:16] JasonSowers commented on #4135
Which SDK are you using C# or Node?

[2018-02-01 19:21] justinwilaby commented on #2643
To get by for now, you should be able to overwrite the `logger` exports with your own implementation. The logger usages throughout the code are required in using `const logger = require("../logger");` and `Object.keys(logger)` yields `[ 'error', 'warn', 'info', 'debug', 'trace', 'getPrefix' ]`. This means, you can attempt the following:

[code]
I hope this helps. Let me know if this is successful.

[2018-02-01 19:25] rjgmail88 opened #4141 "[Node.js SDK, Cortana] Sign in at invocation for Cortana not working with knowledge.store"
## Bot Info
* SDK Platform: Node.js
* Active Channels: CORTANA
* Deployment Environment: Azure Bot Service

## Issue Description
We have a Cortana Skill that we had connected to bot in dev.botframework.com. We also had configured authentication for Azure active directory v1. so that when skill is invoked for the first time a user will be authenticated by our corp AD. Here is the documentation link

[2018-02-01 20:43] microsoftly commented on #4109
you can write a test to automate checking this (and imo is faster and easier than using the emulator) with mocha/chai or ava using the [BotTester framework](github.com/microsoftly/BotTester)

[code]

you can also inspect session state and run expectations against it to ensure you're where you expect/want in the dialog stack.

[2018-02-01 20:50] FranciscoPonceGomez commented on #4140
Hi kiranchand,

Thanks for pointing this out. Seems that the key variable was created for it to be later returned in this case. I will review and get back to you.

Francisco

[2018-02-01 20:54] EricDahlvang commented on #4130
Hi @Kannaj

Please supply your Microsoft Application Id, and BotHandle so we can investigate further.

[2018-02-01 20:58] Kannaj commented on #4130
@EricDahlvang  -

MSA ID - 71fad264-9fd6-4ecd-808d-becdbc3b7eb1
handle - PocketConfidant

Thank you for your help

[2018-02-01 21:01] FranciscoPonceGomez commented on #4138
Hi itvignes09,

Can you provide more info about your bot? Do you get any errors? What SDK are you using?

Thanks,
Francisco

[2018-02-01 21:18] JasonSowers commented on #4134
I am unable to reproduce, can you send me your full code and LUIS model at the email address in my profile.

[2018-02-01 21:23] microsoftly commented on #3984
I know this is not directly related, but it can help you debug. If you mock dependencies external to the bot code (e.g. DB calls) or use a test db with hand picked data, you should be able to determine/isolate the problem with tests. Check out the BotTester framework for an easy way to write and run the tests

https://github.com/microsoftly/BotTester

[2018-02-01 21:41] FranciscoPonceGomez commented on #4128
Awesome. Let me know if you can rework your implementation of IBotDataStore to serialize in a different way. I would prefer not to add the responsibility of type checking/edge cases to DictionaryBotData.

Let me know if you keep getting this issue.

Francisco

[2018-02-01 21:42] EricDahlvang commented on #4130
I'm not seeing anything specific that would indicate an issue on our end.  Generally, when we see timeout exceptions, it is due to a long running process within the bot's code.

Some things to check/try:

- Ensure there is no code within the bot that could possibly take more than 15 seconds to process, and make it an asynchronous operation if there is.

- Upgrade to the latest SDK version (3.14.0)

[2018-02-01 21:46] JasonSowers commented on #4135
In your root dialog does this code send the ID as a message?
[code]

[2018-02-01 22:47] Kannaj commented on #4130
@EricDahlvang - thanks , will look into the 3 and get back to you.

We currently run 2 separate servers , 1 to handle the webUI bot chat (uses the directline API) and 1 where the bot logic resides.

for users accessing the bot through the WebUI , we give the option of starting specific dialogs right from the beginning (as opposed to starting at the root dialog). To that effect , we send a POST req

[2018-02-01 22:55] JasonSowers commented on #4139
Can you please share the code you tried?

[2018-02-01 23:34] JasonSowers commented on #4139
Looking into this for you.

[2018-02-01 23:39] JasonSowers commented on #4125
Honestly, my best advice for the time being right now is to use postback.

[2018-02-02 01:14] justinwilaby commented on #2643
started #4143 for an implementation that should accommodate this

[2018-02-02 01:56] #4096 closed

[2018-02-02 02:21] ilanopat opened #4144 "Activity type of ConversationUpdate doesn't trigger on the event of sideloading on bot package to Teams"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.13.0.3
* Active Channels: MS Teams
* Deployment Environment: Local with ngrok and sideloading to Teams

## Issue Description
Activity type of ConversationUpdate doesn't trigger on the event of sideloading on bot package to Teams

Note: Sideloading is obviously enabled in the Office365 Admin center

## Code Example

case ActivityTypes.ConversationUp

[2018-02-02 03:38] itvignes09 commented on #4138
Hi Francisco,

Thanks for your reply. Ya sure. we will give more info. We are using the BotBuilder SDK with Nodejs.

It seems that as for now we can't send attachments from the Skype for the Business client to a Bot. Can you confirm that the feature is available or not yet available? And if not available, tell us when this feature will be available?

Thanks,
Vignes

[2018-02-02 05:20] neetgupta7 opened #4145 "Pass additional information in Channel Data while launching webchat"
## Bot Info
* SDK Platform:  .NET
* SDK Version: 3.12.0
* Active Channels: Webchat
* Deployment Environment: Azure App Service

## Issue Description
Hi
Can i pass some additional info while launching the chatbot. I m trying to do something like below but that doesnt work. Is there some other way we can achieve it.

## Code Example
<!DOCTYPE html>
<html>
  <head>
    <link href="botchat.css" rel="s

[2018-02-02 08:52] khushboo22singh commented on #4136
@stevengum97 I am using C#, not sure of the version i will be using, but if some latest version of SDK will suffice my need, nothing like it.
I will be deploying on Azure portal and channels that we need are directline and webchat.
I am not able to find anything regarding this. Is it even possible to authenticate bot for Dynamics portal hosted on azure?

[2018-02-02 08:54] khushboo22singh commented on #4135
JasonSowers Thanks Jason, but i have already tried this option, however this doesn't give me the skype login id. I am using C#

[2018-02-02 08:55] kiranchand opened #4146 "[.Net SDK, LUIS] Intents repeated"
https://github.com/Microsoft/BotBuilder/blob/e927e34aab62c2fd199b6ac7921a37d4d3aa9a66/CSharp/Library/Microsoft.Bot.Builder/Dialogs/LuisDialog.cs#L286

Not sure how, but I am finding the intents being repeated here, creating duplication in keys when creating dictionary and causing exception. Please use distinct keys, if you could; here is the work aroud I did.

[code]
Of course, DeletegateComparer

[2018-02-02 10:34] jamachad commented on #4094
I'm facing the same thing, I had this in the the past (using Microsoft Teams channel) and solved by adding  `MicrosoftAppCredentials.TrustServiceUrl("https://smba.trafficmanager.net/amer-client-ss.msg/");`

For some reason (migration of Bot service?) this is happening again. I have updated all packages on the project nevertheless this is still happening every hour.

[2018-02-02 11:52] KiranBastawadi commented on #4131
Sorry, template seems to be for an issue, the one I want to know seems to be a proof of concept

Is there a Bot model to broadcast messages to its contact groups ?

[2018-02-02 13:22] mrgorzny commented on #3647
+1 Same here.  We're using MS Bot framework for different channels and the problem only appears with Skype for Business.

[2018-02-02 13:24] mrgorzny commented on #3481
Any news about this yet? We're experiencing the same problem. It's not vital but it's frustrating because there are some articles clearly showing screenshots from Skype for business where both user thumbnail and user status are clearly shown. (E.g. https://chatbotsmagazine.com/enterprise-chatbots-on-skype-for-business-af635f346f5c)

[2018-02-02 13:25] mrgorzny commented on #3017
Any news about this yet? We're experiencing the same problem. It's not vital but it's frustrating because there are some articles clearly showing screenshots from Skype for business where both user thumbnail and user status are clearly shown. (E.g. https://chatbotsmagazine.com/enterprise-chatbots-on-skype-for-business-af635f346f5c)

[2018-02-02 15:04] JasonParkerX opened #4147 "Issue around customize chatBot web UI."
## Bot Info
* SDK Platform:  Node.js
* SDK Version:
* Active Channels:  Web
* Deployment Environment:  Azure Bot Service

## Issue Description

Hi, guys, I searched a bit around regarding this issue, I just want to double check, if I run chatBot directly from azure's serve and use the (basic) user interface directly from the Microsoft azure, there is no way for me edit its UI directly right? So if

[2018-02-02 18:48] JasonSowers commented on #4145
What you probably want to use the backchannel

[Blog here](https://docs.microsoft.com/en-us/bot-framework/bot-service-design-pattern-embed-web-site#) scroll down a little the first part is about the skype web control
Another [Blog here](https://docs.microsoft.com/en-us/bot-framework/nodejs/bot-builder-nodejs-backchannel)
[Sample here](https://github.com/Microsoft/BotFramework-WebChat/tree/master/s

[2018-02-02 18:49] JasonSowers commented on #4137
Can you please provide minimum reproducible code so we can investigate?

[2018-02-02 20:06] mdmetcalf commented on #3882
This topic was closed prematurely; the person who closed it specifically assumed that the requestor was asking about chatting with a bot, which is not the case.  I'm experiencing the same issue.  If I provide a user's Skype ID, it opens the chat client to text chat with that person via the web control, but there is no way to do audio or video conversations, in spite of the headline of the Skype We

[2018-02-02 21:09] JasonSowers commented on #4135
What does this this return for you?

[2018-02-02 21:28] JasonSowers commented on #3882
Unfortunately, we are not the skype team, we are the bot framework team.  We have no control over what the skype team does.  You would need to reach out to the skype team.