[2016-12-02 17:17] ftachon commented on #1594
Hi all,

I tray to send a native Facebook message, the buttons appear in Facebook chat, but the behavior is the same.

here part of the message

"channelData": {
		"attachment": {
			"type": "template",
			"payload": {
				"template_type": "button",
				"text": "Select a option\n",
				"buttons": [{
					"type": "postback",
					"title": "option 1",
					"payload": "1"
				},
				{
					"type": "p

[2016-12-02 18:40] tomlm commented on #1594
I set a break point on your controller endpoint and inspect the message.  You should be receiving a message with the payload as the .text field

[2016-12-02 18:43] LarsLiden commented on #1604
This functionality is specific to Facebook, so it should be sent using SourceEvent.   See example at #1714

[2016-12-02 18:43] #1604 closed

[2016-12-02 18:44] LarsLiden commented on #1704
Correct.  We will be releasing a Channel Inspector in the near future.

[2016-12-02 18:44] #1704 closed

[2016-12-02 18:55] ftachon commented on #1594
Hi,
I have the acces.log form my server today, and a have all request / response from my application a didn't get response form Facebook when I click on the button

[2016-12-02 19:30] jameslew commented on #1777
Fixed, thanks for the reports.

[2016-12-02 19:33] maheshbabuvemulapati opened #1780 "Failed to send message: bot returned an error"
We have developed a bot and deployed to azure and was working fine. Suddenly today we are facing issue while posting a message to the bot. Failed to send message: bot returned an error

Can anyone please advise?

[2016-12-02 19:36] piffarettig commented on #1731
@GanadiniAkshay Ok. WIll be waiting for your answer! Thanks!

[2016-12-02 19:43] danmarshall commented on #1771
Take a look at this sample: https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-CreateNewConversation

[2016-12-02 19:46] danmarshall commented on #1772
No there are no specific endpoint requirements, It sounds as if your staging server might be secured somehow, I I were to guess.

[2016-12-02 19:57] danmarshall commented on #1774
The document you are linking to is an older revision. Please see the latest documentation here: https://docs.botframework.com/en-us/skype/getting-started

[2016-12-02 19:59] danmarshall commented on #1775
Thanks for the report - we have identified an intermittent issue and a fix is being deployed today. Please retry later today.

[2016-12-02 19:59] #1775 closed

[2016-12-02 20:11] danmarshall commented on #1776
The Bot Framework does not provide a list of all conversations, but there is nothing which stops you from implementing your own storage to save the IDs of all conversations invoked. But yes, you would have to receive a message first to get this conversation ID.

As for a Microsoft Teams API, this is part of OfficeDev, which has a couple of API choices here: https://dev.office.com/chooseapiendpoint

[2016-12-02 20:12] danmarshall commented on #1776
also see https://dev.office.com/microsoft-teams

[2016-12-02 20:13] danmarshall commented on #1779
I am guessing C# ?

[2016-12-02 20:15] abhishan commented on #565
I found this blog post by @adoprog
http://devopssnippets.blogspot.co.uk/2016/08/integrating-lyncskype-for-business-with.html
This uses Direct Line channel and Lync API (UCMA can also be potentially used). I haven't tried this yet, but its worth a shot.
The only challenge is that this **wont work for Skype for Business Online.**

~Abhishek
Acuvate Software

[2016-12-02 20:18] danmarshall commented on #1780
Can you give more details on your type of deployment: Is this an Azure **Bot** Service, or an Azure **App** Service?

Do you have any specific exception details in your logs?

[2016-12-02 20:20] abhishan commented on #1758
I have faced similar issue with using Skype channel. The image kept getting scaled down and then cropped on the upper and lower edges. The image dimension was 512x512.

[2016-12-02 20:33] ryanvolum commented on #872
https://github.com/Microsoft/BotFramework-WebChat

[2016-12-02 20:46] #1777 closed

[2016-12-02 20:58] tahazayed commented on #565
@abhishan I already built another one with lynk sdk https://github.com/tahazayed/BotConnectorSkypeForBusiness
And it works with skype for business online as it  just a client not server application

[2016-12-02 22:10] abelnation opened #1781 "202 Status code without response json"
I am making api requests to the REST API endpoint `/v3/conversations/{conversationId}/activities` [docs here](https://docs.botframework.com/en-us/restapi/connector/#!/Conversations/Conversations_SendToConversation).  I am properly authenticating to receive my access_token.  When making the request, the response comes back with a 202 status code but does not return any json in the body nor does the

[2016-12-02 22:26] abelnation commented on #1781
Figured it out.  API docs had me confused.  I took the "parameter name" to mean, the name of the key in side the body object:

![image](https://cloud.githubusercontent.com/assets/200054/20852565/3e049848-b89b-11e6-8500-811baea4089d.png)

Post body should just be the activity itself:

[code]

[2016-12-03 00:58] danmarshall commented on #1781
Ok thanks for posting, I'll close this for now.

[2016-12-03 00:58] #1781 closed

[2016-12-03 07:32] bosslee opened #1782 "Using Bot Services, unable to set up Continuous integration"
Starting out on the Azure with the bot service.
[Link](https://azure.microsoft.com/en-us/services/bot-service/)

I'm looking to set CI with GitHub but it keeps asking me for the username and password. Which I have also set up in the deployment credentials. But it does not match.

Anything think I'm doing wrong here?
![2016-12-03 at 3 27 pm](https://cloud.githubusercontent.com/assets/993948/2085765

[2016-12-03 08:34] syedaliammar commented on #1389
Hi @eanders-MS,
Thanks, I'll give it a try soon!

[2016-12-03 22:49] 0GiS0 opened #1784 "Skype-calling doesn't work"
Hi folks,

I'm trying to create a bot for Skype calling but It doesn't work. I use this code as an example and It always says "You cannot talk with this bot just yet but we're working on it..."

var restify = require('restify'),
    builder = require('botbuilder'),
    calling = require('botbuilder-calling');

//1. Setup restify server
var server = restify.createServer();

server.listen(process.en

[2016-12-04 12:03] dimoibiehg commented on #1716
Dear @eanders-MS, also you can see @vote, @pollbot .

[2016-12-04 13:11] dimoibiehg opened #1785 "Get non-stop exception message in Telegram"
I wrote the following code as a simple bot:

[code]
But what's happened?
If you run this code as a bot, and test it in Telegram,
as it has an exception, you will get a non-stop exception message in your messenger (Telegram).

The question is: Does this problem come from Bot Framework or Telegram?

P.S. you can see the problem visually in the following image!
![image](https://cloud.githubuserconten

[2016-12-04 15:08] KrishnanA commented on #1784
Can you share your bot id please? I can take a look to see what is going on.

[2016-12-04 15:27] Lee-William opened #1786 "LUIS Phrase List not working"
Hi

I have set up in LUIS, an intent with a parameter "foodbev" of type "BusinessType::F&B" where F&B is a child entity of BusinessType and linked to a phrase list "Food and Beverage". After doing "setup restaurant" query,

LUIS returns me entity restaurant but type BusinessType instead of type "BusinessType:F&B".

Could you please advise?

Thanks,

[2016-12-04 17:41] iassal opened #1788 "RecognizeMode.onBegin not working."
This line:
`this.recognizeMode = options.recognizeMode || RecognizeMode.onBeginIfRoot;` in [IntentDialog](../blob/master/Node/core/src/dialogs/IntentDialog.ts#L63).

This made the option `RecognizeMode.onBegin` which has the value `0` evaluate to false and fallback to `RecognizeMode.onBeginIfRoot`

[2016-12-04 20:55] haggaishachar commented on #1470
Here's the link to the FB Messenger webview reference:
https://developers.facebook.com/docs/messenger-platform/messenger-extension

[2016-12-04 20:55] KIBASSA commented on #1714
Hello,
I have the same concern but with c#.
How I can make to add 'Share Button' in CardAction ?
Thanks for your help.
Junior

[2016-12-04 21:22] cnrudd opened #1789 "Training LUIS: programmatic API vs UI"
Hi,

If I train a LUIS app via the programmatic API described here:
https://dev.projectoxford.ai/docs/services/56d95961e597ed0f04b76e58/operations/56f8a55119845511c81de483

I find that the app never appears as trained in the UI here:
https://www.luis.ai/applicationlist

Only when I train an app via the GUI does the GUI reflect that it has been trained.

Other actions done via programmatic API, suc

[2016-12-04 23:45] ambrishverma commented on #1714
I guess you can follow the same, Try sending a native Facebook message via .sourceEvent() . Sample code above.

[2016-12-05 00:52] euanlau commented on #1761
@nickcordrey I just tried this. Once I added the thumbnail, I was not able to play the video anymore on both Skype Mac and iOS clients.

[2016-12-05 00:56] euanlau opened #1791 "Not able to create blank lines"
```Text = "Test  \n  \nBreak  \nAgain"```

There should be an empty line between Test and Break. But i got the below instead.

<img width="123" alt="screen shot 2016-12-05 at 8 55 07 am" src="https://cloud.githubusercontent.com/assets/794933/20870768/93498e9c-bac8-11e6-9a03-cb3dfb0e9929.png">

[2016-12-05 01:10] abhishan commented on #565
@tahazayed - Thanks for the link. Will check it out.
Few questions:
Do we run it on every user desktop that needs access to the bot? OR, Do we need to dedicate a PC that acts as the Bot's Skype client?
If a user is using Skype on mobile, will it support this scenario?
Thanks in advance...

~ Abhishek
Acuvate Software

[2016-12-05 03:38] seaneiros commented on #1772
Seems so...any ways to get the error stack other than "There was an error..." ?

[2016-12-05 04:03] alexCQui opened #1792 "C# Carousel doesn't work on Facebook Messenger"
I'm facing this problem, carousel of hero cards doesn't work on Facebook Messenger, but it works on Skype and Web Chat emulator.

[2016-12-05 04:41] tahazayed commented on #565
You will need one dedicate pc for the bot.
Any user can talk to it

[2016-12-05 04:58] #1792 closed

[2016-12-05 04:59] alexCQui commented on #1792
I found error on my side.

[2016-12-05 06:34] Masssluis opened #1793 "How to write unit testing for bot application?"
I am new to creating bot application using Luis. i want to write the unit test cases for simple bot application using Luis. I already gone through the examples and spend a lot of time on this to understand the test cases which are given in this website.Still didn't understand anyone.Can anyone please give me the very simple test case for bot application using Luis for understanding purpose.

[2016-12-05 07:05] danmarshall commented on #1791
I believe markdown requires 2 newlines without whitespace between: \n\n

[2016-12-05 07:07] yshahin commented on #1786
How many examples did you provide with the type "BusinessType::F&B" present?
There should be at least 1 example with the type present.

[2016-12-05 07:08] danmarshall commented on #1793
in Node.js or C# ?

[2016-12-05 07:17] dchumpitaz commented on #790
Hi @chrimc62, I'm trying to get values from the PrivateConversationData or UserData from the context in the ValidateAsync without success. It's possible access the context from ValidateAsync?

Hi @jigneshs123 , can you solve your issue?

[2016-12-05 07:25] dchumpitaz commented on #1750
+1 to Bot Connector

[2016-12-05 07:30] Masssluis commented on #1793
In C#

[2016-12-05 07:32] senthil2m commented on #399
Hi @alexandrev, what is the format to set the username and password details in process.env.http_proxy, process.env.https_proxy for the proxied network.

[2016-12-05 07:36] etiago commented on #1779
@danmarshall sorry, I forgot to mention. Yes, this is for the C# version of the SDK.

[2016-12-05 08:32] abhishan commented on #565
@tahazayed Cool. This would work in the interim, while we wait for an official MS release... Thank you!

[2016-12-05 09:40] euanlau commented on #1791
@danmarshall I tried that as well. Same result.

[2016-12-05 11:32] dotnetdude commented on #1775
its working fine now. thanks for the quick fix.

[2016-12-05 12:28] kanwal019 opened #1794 "Can I transfer the conversation started by directline to a web chat channel ?"
I am trying to initiate a bot conversation through directline channel, but I need to follow rest of the conversation through webchat channel. Is there any possible way that I can resume my conversation in web chat using the conversation Id generated ?

[2016-12-05 13:30] BlueHatbRit commented on #1633
Just caused me an hour of debugging to find the same results as the guys above. Added the verbose url addition and it's fine now. Thanks for the fix, any idea when the release will be out for this?

[2016-12-05 14:34] Lee-William commented on #1786
Hi

Yes, i have at least 1 example in the type present.

It used to work but started not to one or two days back.

Below is my Luis App ID:
b84222b8-6040-48f7-bb71-938e2b0ee841

Thanks,

[image: Inline image 1]

[image: Inline image 2]

On Mon, Dec 5, 2016 at 3:07 PM, Youssef Shahin <notifications@github.com>
wrote:

--
Regards,
William Lee

[2016-12-05 14:36] Lee-William commented on #1358
Thanks !

[2016-12-05 15:08] cahann commented on #1789
Thanks for reporting this. Will open UI bug to make sure the training is reflected in the GUI

[2016-12-05 15:49] vossccp commented on #1793
We based ours on an adaptation from https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Tests/Microsoft.Bot.Builder.Tests/DialogTaskTests.cs

[2016-12-05 17:45] danmarshall commented on #1791
In which channel do you see this?

[2016-12-05 19:01] piffarettig commented on #1731
@GanadiniAkshay did you have some time to check this ? thanks :)

[2016-12-05 19:07] hailiu2586 commented on #1782
Thanks for reporting the issue. This appears to be Safari only issue and we have a fix being verified. Meanwhile, you can try use Chrome browser as work around. I will update once the fix for Safari issue is deployed.

Thank you.

[2016-12-05 19:27] miaosenwang opened #1795 "[MS Teams Mobile iOS] Thumbnail card bug on Team's IOS client"
Hello,
I have a thumbnail card that works fine on the emulator, Team desktop app (windows), Skype for Desktop, and Skype for Mobile on IOS.

But on Team's IOS client, there are two issues:
1. The image is not displaying. My image is shown as a gray box.
2. There are 2X duplicated cards. When I only have one card, the client shows two identical cards for a brief moment and then back to one card. It

[2016-12-05 22:34] eanders-MS commented on #1785
Hi @dimoibiehg Thank you for reporting this. We've made a fix for the issue, and it will be available in the next release. We make a new production release every week or so.

[2016-12-05 22:34] #1785 closed

[2016-12-05 22:57] hailiu2586 commented on #1782
We have deployed a fix for downloading source zip file on macOS Safari. Thanks

[2016-12-05 22:57] #1782 closed

[2016-12-05 23:49] Taroka opened #1796 "Initial conversation from bot. But start over while user input"
Hi guys,

I want to start the very first conversation from bot. So I trigger the "bot.beginDialog" while "conversationUpdate" occur.

    var bot = new builder.UniversalBot(connector);

    bot.on('conversationUpdate', function(session){
		bot.beginDialog(session.address, "*:/");
	});

It works, the bot start the conversation and direct the conversation to root dialog "*:/"
But while the user repl

[2016-12-05 23:52] eanders-MS commented on #1796
Hi @Taroka Could you please also post your emulator logs?

[2016-12-06 00:03] Taroka commented on #1796
Hi @eanders-MS , sure!

    [15:58:47] -> POST 202 [conversationUpdate]
    [15:58:47] <- POST 200 Reply[message] This is root msg, let's go to next dialog.
    [15:58:47] <- POST 200 Reply[message] This is the second dialog
    [15:58:58] -> POST 202 [message] i wan to ask question  // start over to the right user flow
    [15:58:58] <- POST 200 Reply[message] This is root msg, let's go to next d

[2016-12-06 00:15] eanders-MS commented on #1796
I don't yet have a clear picture of the problem. Can you give more detail about what you're seeing vs. what you expected to happen?

[2016-12-06 00:35] Taroka commented on #1796
Sorry for the confusing. I try to make it clear.

This is what I see
![screen shot 2016-12-05 at 4 25 31 pm](https://cloud.githubusercontent.com/assets/4027421/20908168/ba7b5bbe-bb07-11e6-95ca-90722998ef5d.png)

And this is what I want:

That is, I want the bot start a conversation and user smoothly success join the conversation which start by bot.

Right now seems the user will start another conv

[2016-12-06 00:37] siduppal commented on #1795
Thanks for reporting this issue.

We have developed the fixes and would be rolling them out in the next release.

[2016-12-06 01:25] euanlau commented on #1791
slack, skype, facebook.

[2016-12-06 01:26] euanlau commented on #1791
and I am using NodeJS.

[2016-12-06 01:39] danmarshall commented on #1791
Can you share a js code snippet?

[2016-12-06 02:45] miaosenwang opened #1797 "[LUIS] Entity Resolution Data format"
In Microsoft.Bot.Builder.Resolution.cs

    public sealed class ResolutionParser : IResolutionParser
    {
        bool IResolutionParser.TryParse(IDictionary<string, string> properties, out Resolution resolution)
        {
            string resolution_type;
            if (properties != null)
            {
                if (properties.TryGetValue("resolution_type", out resolution_type))

The l

[2016-12-06 03:35] davidlfox commented on #549
I don't quite follow @willportnoy's recommendation or @cglong's enhancement--do you have a gist or sample for this type of implementation? @cmchenry makes a good point about not storing keys in source control!

[2016-12-06 04:56] #1772 closed

[2016-12-06 05:47] eanders-MS commented on #1389
@syedaliammar, This feature is now live. Please give it a try!

[2016-12-06 05:47] #1389 closed

[2016-12-06 06:13] GanadiniAkshay commented on #1731
sorry been really with something (making api.ai recognizer for the bot framework...will look into this today or tomorrow) sorry for the delay

[2016-12-06 08:49] customcoops77 opened #1798 "can i get help?"

[2016-12-06 09:30] amolmk opened #1799 "Issues after docs are update - Direct Line API"
![image](https://cloud.githubusercontent.com/assets/3015241/20920023/69c13352-bbc4-11e6-829b-01165dcfa497.png)

The mentioned API is giving error. Bot is newly create and subscribes to 1.0 & 3.0.

[2016-12-06 09:38] #1799 closed

[2016-12-06 10:27] chetanmekha commented on #1758
I tried with facebook and skype and getting the same issue.

[2016-12-06 10:29] kanwal019 opened #1800 "How can I start and stop a conversation in Web Chat channel ?"

[2016-12-06 12:07] grbinho opened #1801 "Running multiple scorables"
Hi!

Is it possible to run multiple scorables for the same command? I'm trying to run additional cleanup logic on "/deleteprofile" command. My logic needs access to private conversation data to get some values that will cleanup our internal cache.

Only options I can see are:

- Build custom scorable that has both, logic from `DeleteProfileScorable` and my custom logic.
- Do something in the `Mess

[2016-12-06 13:10] mehatab786 opened #1802 "How to include check boxes and radio buttons in bot chat message."
Hi
I want to include check boxes and radio buttons in bot chat message to allow the user to select multiple options or single. How can I do this.
Also I want to include calendar control in bot message to allow the user to select a date (for example to select date of birth). How can I do this.

[2016-12-06 13:33] nagarajasr commented on #1789
i also noticed that issuing a POST to /apps/{appId}/train does not actually perform the training. however, issuing a GET to the same URL starts the training. i reached this conclusion by checking the LastTrainedDate and IsTrained attributes in the response from GET /apps/{appId} which is null and false respectively in first case and shows current time and true in second case.
tested using postman

[2016-12-06 13:36] nagarajasr commented on #1789
is there a better place to report LUIS programmatic API issues? this repository is for the BotBuilder which assumes a trained model is already available

[2016-12-06 16:22] BlueHatbRit commented on #1802
These sort of defeat the point of a chat bot, if you wanted those options then you'd be better off using or redirecting the user to a website.

Lets take the date of birth example, I'll assume you're using Node.js since you've not said otherwise. You can use the EntityRecognizer to recognise a date or time. Below I've copy and pasted an example one of the examples from the main documentation. This

[2016-12-06 17:14] cahann commented on #1789
Yes, please reach out to use on luservice@microsoft.com or open a ticket on uservoice through our website.

To ensure the training was successful please call GetTrainStatus API

[2016-12-06 17:57] BlueHatbRit opened #1803 "(Node) Prompt.text cancelling doesn't seem to be working"
In the Node documentation for [Prompts](https://docs.botframework.com/en-us/node/builder/chat/prompts/#collecting-input) there's a paragraph which says the following.

This is in reference to the build in Prompts such as `Prompt.text(session, args)`. However when I type "cancel" or "nevermind" to my bot over Slack during a Prompt.text, whatever text is entered is being returned as `result.response

[2016-12-06 18:00] BlueHatbRit commented on #1803
I've tried this out with `Prompt.number(session, 'question');` just now and it's happening here also. Am I missing some link to LUIS with my entity recogniser?

[2016-12-06 18:18] xadil commented on #202
hello @dandriscoll
Is it possible to deploy my bot & the webchat locally and use it just as I use the emulator. Assuming I want t build a bot which is private to my network.

[2016-12-06 18:33] hailiu2586 commented on #1798
Please provide more information, thanks.

[2016-12-06 19:27] andresvettori commented on #202
Hi @xadil , the use of the emulator is perfectly fine for development but for production usage is not going to work as the BotFramework infrastructure requires the Bot to be exposed to the Internet. If you desire to keep the Bot private you can do it (do not hit the "Publish" button on the Bot page) but users would have to be invited explicitly (you sending them a link to add the Bot as a new cont

[2016-12-06 19:30] andresvettori commented on #202
Hi @dandriscoll , I downloaded and used the new webchat control, much better than the previously published code based on angular. I had to activate the experimental back-channel feature and re-compile, but it seems to work pretty well so far, good work!

[2016-12-06 21:32] danmarshall commented on #1802
Great response @BlueHatbRit. @mehatab786 I will mark it as an enhancement, we are looking to do something like this but to enable on all channels will involve much coordination, perhaps in the long term future.

[2016-12-06 21:32] #1802 closed

[2016-12-06 21:45] danmarshall commented on #1791
@reyesrico can you verify this?

[2016-12-06 21:47] danmarshall commented on #1780
@maheshbabuvemulapati I'm going to close this issue for now. Please feel free to open a new issue with specific error messages you are seeing.

[2016-12-06 21:47] #1780 closed

[2016-12-06 21:48] #1776 closed

[2016-12-06 21:51] #1774 closed

[2016-12-06 21:52] danmarshall commented on #1771
Hi @AnandChitale let us know if this solves your issue. I'm going to close this for now, please feel free to open a new issue if you have any further specific questions.

[2016-12-06 21:52] #1771 closed

[2016-12-06 21:53] danmarshall commented on #1769
Closing this for now, please create a new issue if you have any further problem.

[2016-12-06 21:53] #1769 closed

[2016-12-06 21:54] danmarshall commented on #1764
Hi @agrawal-mohit I'm going to close this for now, please create a new issue if you run into any further problem.

[2016-12-06 21:54] #1764 closed

[2016-12-06 21:56] IanBoggs opened #1804 "Skype Bot Running Wrong Dialog"
Not sure this is the right place to post this, but I'll try.

I have a bot that have recently updated to V3. Everything is working fine, and the Bot is running my standard StartUpDialog when a message is received, no problem.

`if (activity != null)
            {
                switch (activity.GetActivityType())
                {
                    case ActivityTypes.Message:

[2016-12-06 21:59] danmarshall commented on #1756
Hi @immaddy718 I have marked this as an enhancement. It would require that channel clients (such as Skype / Facebook / Kik) implement this, which is probably unlikely.

[2016-12-06 21:59] #1756 closed

[2016-12-06 22:01] danmarshall commented on #1755
@willportnoy do we have a VS project template?

[2016-12-06 22:02] danmarshall commented on #1450
Hi @rociocastillo do you still see this issue?  Also we have a preview version of our web chat control, you may want to try it out.

[2016-12-06 22:03] danmarshall commented on #1435
Closing this issue for now, please feel free to open a new issue if you encounter it.

[2016-12-06 22:16] danmarshall commented on #1430
Using the Web Chat Preview I am able to chat in Safari on a Mac, and on an iPhone. Can you publish the link to your web chat?

[2016-12-06 23:28] cglong commented on #549
@davidlfox, @willportnoy's suggestion is basically to instantiate your own `LuisModelAttribute` using `modelId`s and `subscriptionKey`s obtained from elsewhere. For instance, you can store them in a [file referenced by your `Web.config`](https://msdn.microsoft.com/en-us/library/aa903313(v=vs.71).aspx) that doesn't get checked into source:

[code]

My change was mostly to handle Inversion of Contro

[2016-12-07 04:39] ryzam opened #1805 "Facebook webhook intermittent response"
Hi guys. I'm facing weird issue with my facebook messenger bot.  Sometime my facebook bot not return any response even before that it returns the response using the same text message.

[2016-12-07 05:16] rajdeepbanerjee opened #1806 "How to transfer chat from BOT to human agent"
I have BOT client which the user will interact with. The Bot will use LUIS models for NLP. For any queries tagged under None, we should involve a human agent immediately. What is the best way to transfer the conversation from Bot client to human agent?

[2016-12-07 05:51] gviddy opened #1808 "Are Facebook Sender Actions working ?"
Hi there,
I have been trying to get the Facebook typing action to work but I am having no success. This is the API: https://developers.facebook.com/docs/messenger-platform/send-api-reference/sender-actions

I notice it does not have a message item. Is this why I cannot get it to work? I am creating JSON for it, setting it to the message ChannelData but am having no luck.

`var typing = context.Mak

[2016-12-07 07:01] gviddy commented on #720
Skype preview and Skype desktop do not show images for me. However Facebook and Web Chat show images ok.

Is there anything special I need to set to get Skype to work? I am using carousel...

[2016-12-07 09:59] dagerikhl commented on #720
How many cards are you sending in the carousel, @gviddy? I think Skype neglects to show any carousel with more than 5 cards. No error message, it just never gets displayed.

[2016-12-07 10:14] brene commented on #720
Hi @dagerikhl I'm a PM at Skype and I'd love to know more about this issue. Which Skype client are you using? Web/Windows/Mac/iOS/Android?

[2016-12-07 11:37] Lee-William commented on #1786
Hi would it be more appropriate to report this issue to a forum dedicated to LUIs (if any) or okay to report it here ?

[2016-12-07 11:54] willemodendaal opened #1809 "Intermittent SocketException when using context.PostAsync"
We get intermittent SocketExceptions from the "JwtTokenRefresher" with the following error message:

"Only one usage of each socket address (protocol/network address/port) is normally permitted 40.127.139.252:443"

This happens when calling dialogContext.PostAsync().

Perhaps an issue with the load balancer?

Stack trace below:

In MessagesController.Post() an uncaught error occured: Type: HttpReq

[2016-12-07 12:36] rociocastillo commented on #1450
Hi, already solved was a problem of sending messages to directiline.

Thank you.
regards

[2016-12-07 12:51] Taras-Tyrsa opened #1810 "PromptDialog.PromptConfirm localization issue"
BotBuilder v.3.3.3.0

Microsoft.Bot.Builder.Dialogs.PromptDialog.PromptConfirm class has static initialization for Options and Patterns, which makes impossible to change language once initialized:

[code]

It will take current culture during first usage and won't change it afterwards:
[code]

[2016-12-07 14:22] b4usat opened #1811 "How to initiate Proactive Messages in C# (Webchat)"
I referred this [link](https://docs.botframework.com/en-us/node/builder/chat/UniversalBot/#proactive-messaging) for initiating proactive messages. But it is written in Node js. Please help me with some sample for C#. I am using `webchat `as a channel. I am facing one more trouble as i want to set a OAUTH token to my botstate outside of the Bot application. I tried connecting the state with MS app

[2016-12-07 14:35] dagerikhl commented on #720
Unfortunately, it's been a couple of months since I developed with the system. But I used a bot I had created quite recently, and it worked fine _(as long as there were no more than 5 cards in the carousel)_ on both Skype for Windows and Skype for Android. And unfortunately, Skype has updated on both my Windows and Android since then, so I can't give you an exact version number.

I was made aware

[2016-12-07 14:48] brene commented on #720
@dagerikhl I just looped back with the engineers. This value is out-of-date and we already created a pull request to update the value from 5 to 10. Thanks for tip though!

[2016-12-07 14:58] Koshak118 opened #1812 "Unit test for ReplyToActivityAsync()"
Hey guys
I am trying to figure out how to create a unit test for the MessagesController which might send multiple replies with ReplyToActivityAsync(activityToReturnBack) while handling a single user request. To clarify, I'd like to validate  every single "activityToReturnBack" payload which can be returned after a user request done in the unit test code.

Doing something like

[code]
does not real

[2016-12-07 15:10] vamsitp commented on #1330
I guess the actual issue was with using `context` instead of `ctx ` inside the anonymous method

[2016-12-07 15:19] vamsitp commented on #833
How about using the `originalContext.UserData.SetValue()` to set/pass on the variables that we need later and then fetch them back using the `passedOnContext's.UserData.Get()`?

[2016-12-07 16:07] palmerabollo opened #1813 "[Feature Request] Localize EntityRecognizer regular expressions"
There are some [regular expressions in the `EntityRecognizer`](https://github.com/Microsoft/BotBuilder/blob/master/Node/core/src/dialogs/EntityRecognizer.ts#L65):

[code]

Is there any way to localize the expressions (for example `/^(1|s|si|vale|ok)/i` for spanish) or extend the current ones (for example, to include `please` as a valid expression for our confirm prompts)?

[2016-12-07 16:47] syedaliammar opened #1814 "LUIS German Model: PromptDialog.Confirm"
Hi, I'm not really sure here whether to raise this question on the LUIS forum or here. But here it goes:

So I just built a LUIS model using the German app culture. When I need to ask Yes/No question to the user, I use the PromptDialog.Confirm(...) method. Indeed the prompt message is in German, and the user will naturally reply with Ja / Nein instead of a Yes / No.

This is a problem, because the

[2016-12-07 18:14] msft-shahins commented on #1811
Here is a sample showing how to proactively create a conversation: https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-CreateNewConversation

[2016-12-07 18:18] hailiu2586 commented on #1806
Thank you for your suggestion. It is in our backlog of things to add.

[2016-12-07 18:18] #1806 closed

[2016-12-07 18:23] Taroka commented on #1796
hi @eanders-MS  could you help?

[2016-12-07 18:40] euanlau commented on #1791
@danmarshall
`session.send("line 1\n\n\n\nline 3");`

screenshot for slack:

![screen shot 2016-12-07 at 10 38 51 am](https://cloud.githubusercontent.com/assets/794933/20981402/6c8527d8-bc69-11e6-9524-1871d08c9e06.png)

screenshot for skype:
![screen shot 2016-12-07 at 10 40 27 am](https://cloud.githubusercontent.com/assets/794933/20981432/9b498c9e-bc69-11e6-8739-98ea01a49619.png)

[2016-12-07 19:05] euanlau commented on #1791
@danmarshall
I tried `session.send("line 1<br/><br/>line 3");` and it works perfectly on all 3 platforms. Closing this for now. Thanks!

[2016-12-07 19:05] #1791 closed

[2016-12-07 19:11] euanlau opened #1815 "Skype: Specifying thumbnailUrl disables video playing"
[code]

The thumbnail does show up properly on both Skype iOS and Mac. However, I am not able to play the video anymore. I am able to play the video on both clients after removing the `thumbnailUrl`.

[2016-12-07 19:14] euanlau opened #1816 "[Skype Mobile iOS] Line Break not formatted properly on iOS"
Platform: NodeJS

Code:
`session.send("line 1<br/><br/>line 3");`

Skype iOS Screenshot:
![screen shot 2016-12-07 at 11 12 25 am 1](https://cloud.githubusercontent.com/assets/794933/20982609/2fa6f7ce-bc6e-11e6-9a57-1f7e4d68a9e2.png)

Skype Mac Screenshot:
![screen shot 2016-12-07 at 11 13 52 am](https://cloud.githubusercontent.com/assets/794933/20982637/43d009de-bc6e-11e6-87fc-6d48dc84e73a.png)

[2016-12-07 19:14] #1450 closed

[2016-12-07 19:35] willportnoy commented on #833
@villasv you can update the container like this:

[code]

[2016-12-07 19:37] willportnoy commented on #1629
@alokraj68 are there any exceptions that only occur on the skype channel?  Perhaps an unhandled exception is resetting the conversation.

[2016-12-07 19:39] willportnoy commented on #1725
@ThisWillDoIt we're happy to talk to users through the issues - sometimes we point to documentation to save time with some text that has been edited/refined/improved over time rather than answer "off the cuff".

[2016-12-07 19:41] willportnoy commented on #1523
@dhirajgupta1 I don't think FormFlow's prompt attribute has the same options for channel-specific overloads but @chrimc62 @msft-shahins correct me if I'm wrong.

[2016-12-07 19:44] willportnoy commented on #967
@Tovli I'd recommend using the new emulator: https://docs.botframework.com/en-us/tools/bot-framework-emulator/

[2016-12-07 19:46] willportnoy commented on #1793
@Masssluis we have a full example test that mocks the LUIS service here:
https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Tests/Microsoft.Bot.Sample.Tests/AlarmBotTests.cs#L72

otherwise, we tend to use AssertScriptAsync:
https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Tests/Microsoft.Bot.Builder.Tests/ChainTests.cs#L513

[2016-12-07 19:47] willportnoy commented on #1755
@danmarshall I don't know of a Node SDK VS project template.

[2016-12-07 20:11] danmarshall commented on #1755
@sravaniVajjha have you seen https://www.visualstudio.com/vs/node-js/

[2016-12-07 20:29] haganbt opened #1817 "Node.js - web client authentication"
I am developing a web based chat bot. I have a Node.js backend using Express with a "hello world" example running using the Bot Framework Emulator.

Im now moving to develop the web frontend and looking for guidance on authentication.

Every example provided uses the bot emulator which does not help when developing a web app. Using Curl ect would be really useful in learning the flow and authentic

[2016-12-07 21:01] vignestheo opened #1818 "Required Help to Integration MS Bot framework + Node JS + Heroku"
Hello Team

Please provide me guidelines to do the above mentioned combination that i am using Microsoft bot framework in node js language where i am planning to deploy it in heroku but i am facing the issue that keep on getting same "\api\message" that is only greeting message none other messages i am getting :-(

[2016-12-07 21:42] willportnoy commented on #1773
I presume this is for the Node version of the SDK?

[2016-12-07 21:43] willportnoy commented on #1812
You will need to inject a mock IConnectorClient into your controller to use this approach.  You might considering a mocking library like Moq.

We tend to write our unit tests at the builder level, rather than connector REST client level.

[2016-12-07 23:28] willportnoy commented on #1801
Generally only one scorable "wins" based on user input.  Your first option doesn't seem unreasonable - you could compose your CustomScorable on top of DeleteProfileScorable, delegating to DeleteProfileScorable as necessary, and register your CustomScorable instead of DeleteProfileScorable.

I'm happy to hear feedback on the design.

[2016-12-08 00:11] craigjensen commented on #1805
Please add your botId and we'll investigate

[2016-12-08 00:22] miaosenwang opened #1819 "[Feature Request] Plan for DurationResolution?"
hello. Just curious, is there a plan to support parsing Luis's duration entity(builtin.datetime.duration)? I saw in the source code, a empty class called DurationResolution, so I assume the implementation is coming?

[2016-12-08 00:38] GanadiniAkshay commented on #1773
@willportnoy  yes...can I just use a normal ts compiler?

[2016-12-08 01:59] euanlau opened #1820 "onBegin is not invoked after a Prompts dialog ends"
I am using NodeJS v3.2.3.

Code:
[code]

Conversation (user input only):
[code]

So I looked at the code in `Prompts.js` and found that all the `builder.Prompts` convenience methods (text|choice,etc) create a new dialog.
If I invoke endDialog twice after every `builder.Prompts`, then onBegin will be invoked properly.

e.g. Replacing the `/hello` dialog above with the one below will fix the problem

[2016-12-08 02:14] ryzam commented on #1805
BotId is 1MoccSiti

[2016-12-08 04:41] alokraj68 commented on #1629
@willportnoy we could not find any such exceptions. I did a thorough check after you talked about exceptions.

[2016-12-08 04:44] alokraj68 commented on #1600
@embee8 please let us know if you could find the root cause

[2016-12-08 06:12] chrimc62 commented on #1665
@msft-shahins can you help with this?

[2016-12-08 06:14] chrimc62 commented on #1670
If this answer doesn't work for you, please let us know.

[2016-12-08 06:14] #1670 closed

[2016-12-08 06:15] chrimc62 commented on #1671
@dandriscoll can answer how you do this.

[2016-12-08 06:27] chrimc62 commented on #1814
PromptConfirm.Options is a property that controls what strings are used to match responses for PromptDialog.Confirm.  If you put Ja/Nein and other choices in there it should work.  You can also pass in descriptions for the labels on the buttons if you use something like PromptDialog.Choice.
If you are saying you have a yes/no intent in your LUIS model then you could also solve the problem with a L

[2016-12-08 06:28] chrimc62 commented on #1735
If that was not the issue, please reopen.

[2016-12-08 06:28] #1735 closed

[2016-12-08 06:28] chrimc62 commented on #1733
Adding @LarsLiden to comment on the channel differences.

[2016-12-08 06:30] chrimc62 commented on #1731
And just to confirm LUIS does not allow recognizing multiple intents in one sentence.  Depending on your needs you can sometimes work around this by using entities instead which you can have multiple in one sentence.

[2016-12-08 06:30] #1717 closed

[2016-12-08 06:31] #1707 closed

[2016-12-08 07:57] eanders-MS commented on #1796
@Taroka I believe that the 'conversationUpdate' handler accepts a `message` rather than a `session`. This might be a factor. @Stevenic are you able to shed light here?

[2016-12-08 08:20] eanders-MS commented on #1796
Hi @Taroka Some experimentation led me to this, which seems to achieve what you're trying to accomplish, at least in a simplistic way:

[code]

Emulator log:
[code]

[2016-12-08 10:53] BlueHatbRit commented on #1803
Any news on this? I need to demo my bot tomorrow afternoon and without this it's going to be really brittle. The documentation clearly says it's a feature so I must be doing something wrong that's causing it to not work, I'm assuming it's a fairly simple fix I just can't find it for the life of me!

Thanks :)

[2016-12-08 11:20] b4usat commented on #1811
yeah.. i have seen this example. This is all about Bot asking questions to user. But for my case, when the Bot initialized, it should greet the user for the first time.. next time onwards, user will initialte the conversations. Is it fine i post the Greet message in `ConversationUpdate `Activity?

[2016-12-08 12:55] syedaliammar commented on #1814
Hi @chrimc62 , thanks for your response. This works nicely!

Just for my own knowledge, is there any good example which shows how to dispatch a new Dialog from an Intent handler method?

[2016-12-08 13:22] sivakishorejvv opened #1821 "SigninCard is not working in Microsoft Teams"
I am trying to do google authentication for my  bot. Same code base is working fine in skype channel but it is not working in Microsoft Teams. It is coming like "Please sign in using this card" but the sign card is not displaying( you need to authorize me and Connect). Any help?

[2016-12-08 13:27] sivakishorejvv opened #1822 "How to get the logged in User information when the channel is Microsoft Teams"
I created a simple bot and enabled the channel for Microsoft Teams.
In this bot i need the logged in user information like email/mobile/location etc. But through the bot framework i can able to see only the name. How to get the remaining user profile information. Any help?

[2016-12-08 14:03] waglik commented on #884
@chrimc62 Is there example how to use SpeechToText in bot that uses mixed input (text and voice)? I see that you pass transcription to session.send but what if I would like to use this text with Luis or regexp?

[2016-12-08 14:16] BlueHatbRit opened #1823 "(nodejs) Prompt.confirm and Prompt.choice throw errors in Slack"
I've been having numerous problems with Prompt.confirm on slack and decided to take it all the way back to basics.

I used the following code to see if Prompt.confirm was even responding properly:

[code]

Here's a screenshot of the results, after clicking the confirm button I then waited a full minute (as shown by the time tick over) to ensure the system wasn't still flushing any messages through

[2016-12-08 14:25] BlueHatbRit commented on #1823
I've changed the name because I've just run the `Prompt.choice` example in the documentation [here](https://docs.botframework.com/en-us/node/builder/chat/prompts/#promptschoice).

[code]

It's also giving the same error, but this one isn't actually returning the result when another message is sent, instead it just loops around infinitely.

[2016-12-08 14:44] BlueHatbRit commented on #1823
Okay so Prompt.option works in Slack if you don't use the fancy buttons, obviously this still isn't good as most users will just click the buttons rather than replying with "yes".

[2016-12-08 17:25] piffarettig commented on #1731
@chrimc62 thanks! yes, thats the workaround I am using right know, but as I said, I'm kind of polluting my intents with entities and always doing some kind of recursion calling Luis until no more intent is found in the sentence. Probably @GanadiniAkshay approach is the cleanest for this, as it doesn't add complexity to the Luis model.

[2016-12-08 17:44] LarsLiden commented on #1733
@eanders-MS can you take a look?  This seems like a bug.

[2016-12-08 17:45] eformx opened #1824 "LUIS API authentication without the Bot Framework"
I am working on my own Bot Builder (instead of the Bot Framework).  I currently enter my app id and subscription key to connect to the Language Understanding/MS Cognitive Services via the API in my Bot Builder and then handle the intents/actions.   I would like to share the tool with clients, each of which would have there own trained model via LUIS.

Is there a mechanism (like OAUTH) that I could

[2016-12-08 18:02] willemodendaal opened #1825 "DirectLine v1.1 not returning user responses"
We use the DirectLine nuget package v1.1.1 (so the problem may lie there).

When connecting to DirectLine using the v.1.1 secret key, messages flow through to the Bot without any issues. But the response never arrives back when we poll for new messages. The original message that the user posted appears, but the subsequent bot response to the user does not.

However, when using the exact same code,

[2016-12-08 18:19] willportnoy commented on #1819
I presume this is the C# SDK?

When I wrote that code, I was trying to resolve date times primarily, with an eye toward handling the other entity types.  But there hasn't any stated demand, until your issue.  We can add it to our backlog.

[2016-12-08 18:31] anuxps opened #1826 "Action Button in not able to render properly"
We are facing rendering issue for action button on aspx or html page. We are using Embed code to integrate with aspx/html page. I hope embed code channel would be appropriate to use in aspx/html page. We verified it in Chrome and Microsoft Edge browser.

![1](https://cloud.githubusercontent.com/assets/21247262/21022393/55e948ce-bd31-11e6-850b-544dc063f28e.png)

Here (Azure Basics) is the Button Di

[2016-12-08 18:47] miaosenwang commented on #1819
Thank you. You are correct.  I was talking about the C# SDK.

If it can resolve Luis's duration, it would be very helpful. For example, I can start to handle time entities such as"in the next 5 hours"

[2016-12-08 19:13] eanders-MS commented on #1826
Hi @anuxps I recommend trying out the new Web Chat control (in preview). The new control has richer support for buttons and cards. It is not enabled by default yet, but can be enabled from your bot's Web Chat channel configuration page on the Bot Framework dev portal. It is an open source project: https://github.com/Microsoft/BotFramework-WebChat

In addition, we released a new, open source emulat

[2016-12-08 19:31] james-lawrence opened #1827 "Microsoft Teams rendering is broken."
Sometime this week the rendering for markdown was broken for microsoft teams.

`"text":"Hello there\n","textFormat":"markdown"`

renders as:

![screenshot from 2016-12-08 14-29-47](https://cloud.githubusercontent.com/assets/2835871/21024566/01dafcd8-bd53-11e6-8212-18b057079c8a.png)

[2016-12-08 19:37] james-lawrence opened #1828 "Microsoft Teams: Mentions only work in public rooms."
does teams have a place to submit issues/suggestions besides here?

ideally they would work in private chat as well.

1) they support autocomplete when users are typing.
2) makes the code (on microsoft's end) more uniform.....
3) easier to parse out/deal with on the bot end.

[2016-12-08 19:43] earlyster opened #1829 "nodejs -- Conversations_UpdateActivity js api missing in nodejs"
I was looking at the v3 rest api for updating activities and we found this available as pure rest api [1] and found c# implementation [2] in bot connector but could not find a nodejs implementation is this just not finished and missing in nodejs.

[1] https://docs.botframework.com/en-us/restapi/connector/#!/Conversations/Conversations_UpdateActivity

[2] https://github.com/Microsoft/BotBuilder/blo

[2016-12-08 19:52] haganbt opened #1830 "Guidance on handling Intent and dialog actions - Node.js"
I would like check for matching intents and fall back to menu driven dialogs if the intents dont match. The idea being that somebody can provide a natural langue request first, backed up by a menu.

Heres what I have:

[code]

Can anyone advise if this is a reasonable approach or is it flawed in any way? If there is an example available, that would be ideal.

[2016-12-08 19:55] james-lawrence opened #1831 "Microsoft Teams: invite bot to team?"
how does one go about inviting a bot to a team and adding it to a group chat? using the bot uuid doesn't seem to work. I remember some documentation saying this wasn't implemented yet, but for the life of me can't find it currently.

[2016-12-08 20:02] haganbt commented on #1830
I also seeing some strange behavior with the above code. If I enter content that will miss the intent, menu is called as expected. If I then enter text that should hit an intent, it always fails.

Is this related to the session in some way?

Appreciate any guidance.

[2016-12-08 20:30] craigjensen commented on #1823
Please add your botid and we'll investigate

[2016-12-08 21:06] ncksol opened #1832 "[Telegram] Completely failing to process ConversationUpdate for Telegram bot"
So I am writing this very simple test bot that will say "hello" and "bye" when people join/leave group. I've just created a new project from bot template and substituted handling of Message activity with ConversationUpdate activity:
[code]

My first problem was that ConversationUpdate doesn't have ServiceUrl set, so I had to copy it from Message activity and hardcode. But even after that it wouldn

[2016-12-08 21:32] siduppal commented on #1828
I will relay your request about having @ mentions work in private chats to the team.

Bots are only supported in private 1:1 chats in Teams right now so as a bot developer you don't have to deal with @ mentions today.

[2016-12-08 21:33] siduppal commented on #1831
Bots in channels are not enabled in public preview right now.

[2016-12-08 21:36] siduppal commented on #1827
I am unable to reproduce the issue with the text and textFormat fields matching what you specified above.

Do you have the exact message JSON your bot replied with when you saw the issue?

[2016-12-08 22:26] BlueHatbRit commented on #1823
Hi @craigjensen, my connector app id is `3e266836-6112-4f53-98cb-3d5b6e4b39f1`, thanks!

[2016-12-08 22:57] james-lawrence commented on #1827
yes, I'll get it for you tomorrow morning.

[2016-12-08 22:59] james-lawrence commented on #1828
well we want to deal with them =)

[2016-12-08 23:09] Taroka commented on #1796
Hi @eanders-MS thanks! And I found an interesting situation. that is the same code give me different result in different version emulators lol
![screenshot 6](https://cloud.githubusercontent.com/assets/4027421/21031414/32cfaf64-bd58-11e6-951b-acabd043bc0e.png)

[2016-12-08 23:31] eanders-MS commented on #1796
Ah, it's because you're running an older version of the new emulator than me. :) I was running an internal dev build with a bugfix you don't have yet. We're in the midst of making a new emulator release at the moment. You should get an update available prompt the next time you run it.

[2016-12-09 08:44] maba4891 commented on #120
Any news on this issue? The user interface of selection forms in NodeJS is cumbersome at this point

[2016-12-09 09:49] msimecek commented on #840
Just got into this issue as well, so posting for others: It's easy to confuse the "call" and "callback" endpoint - make sure you register the `api/calling/call` URL at the portal and use the `api/calling/callback` URL in Web.config :)

[2016-12-09 12:58] james-lawrence commented on #1827
[code]
[code]

[2016-12-09 13:09] james-lawrence opened #1833 "Microsoft Teams: postBack doesn't conform to documentation"
[documentation](https://docs.botframework.com/en-us/core-concepts/reference/#cardaction)
instead of just sending the message to the bot, the message ***is*** displayed and then sent to the bot. I also suspect that when this issue is fixed the message sent won't contain the id of the message containing the button (though it *really* should)

![postback-issues](https://cloud.githubusercontent.com/as

[2016-12-09 14:36] gviddy commented on #720
![image](https://cloud.githubusercontent.com/assets/14090370/21052364/610ef6f0-be70-11e6-9277-d5bd0b987d33.png)

@dagerikhl
This is what I get in Skype Preview on desktop, and similar on the normal desktop app, all latest versions. However the images show up fine in all variations of Facebook Messenger (app, web, etc)....

[2016-12-09 14:42] konstlut commented on #1804
Contacted @IanBoggs and he confirmed the issue got resolved within hours. However I was able to reproduce that and it looks like Azure Bot Service sometimes simply takes longer to deploy the changes.

[2016-12-09 14:47] konstlut commented on #1751
@APXEOLOG Could you please share your bot msa app id?

[2016-12-09 14:57] APXEOLOG commented on #1751
You mean Microsoft App ID for my bot? Should i share it here, or it is private information?

[2016-12-09 15:44] and7ey commented on #1035
The documentation still doesn't explain it. Why the issue has been closed?

[2016-12-09 16:23] brene commented on #720
@gviddy We'd love to help you out. Do you happen to have the code snippet that you send? Are the images that you are referencing on HTTP/HTTPS?

[2016-12-09 17:08] NicolasHumann opened #1834 "ASP.NET CORE (Full Fx) - System.UnauthorizedAccessException"
Hi, I have a System.UnauthorizedAccessException when the bot is developped with ASP.NET Core (Full Fx). It works fin with ASP.NET Classic.

The Microsoft App ID and Password are set in the environnemnt variables in the launchSettings.json
The controller get the request fine and the attribute is set like this  [BotAuthentication(MicrosoftAppId = "207b61e4-706b-4ba3-9501-0bbf6bdf1449", MicrosoftAppP

[2016-12-09 19:37] msft-shahins commented on #1811
@b4usat when a member is added or removed from conversation, `ConversationUpdate` activity is sent to the bot. Your bot can greet the user when user added to the conversation. Here is a way of doing it: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Samples/EchoBot/Controllers/MessagesController.cs#L38

[2016-12-09 19:37] #1811 closed

[2016-12-09 19:40] msft-shahins commented on #1832
@eanders-MS it seems that telegram channel doesn't send `ConversationUpdate` when user added/removed from the group.

[2016-12-09 19:54] Sammons opened #1835 "NotBeforeError comes out as ERROR: ChatConnector: receive - invalid token. Check bot's app ID & Password."
Using version 3.4.4 with the ChatConnector

I'm running my bot inside a docker container on mac os - I had to instrument the ChatConnector.js file to see the error that jwt.verify was throwing and realized that it was NotBeforeError, and my bot credentials were fine.

I modified the code to look something like this to figure it out
[code]

Would be awesome if that logger.error statement mentioned

[2016-12-09 20:05] ncksol commented on #1832
@msft-shahins I do get the ConversationUpdate, but when I try to create reply out of that activity and send it back, it never reaches group.
I have found a workaround though. Instead of creating a reply activity from the incoming activity, I create it manually. I put my bot into From field and I also copy Conversation from incoming ConversationUpdate activity. When I send this, it reaches the grou

[2016-12-09 20:07] ncksol commented on #1832
Also this is all happening on v3.3.0. I've tried to update to v3.3.3 but in that version if I try to hardcode telegram connector URI, I get an error that that URL is not secure and it stops working altogether.

[2016-12-09 21:57] msft-shahins commented on #1832
@ncksol I looked at the incoming `ConversationUpdate` activity when members added/removed from telegram groups and the main bug here is that `ServiceUrl` coming from connector service is empty when `ConversationUpdate` is sent to bot in `telegram` channel. @eanders-MS can you take a look?

Since `BotAuthentication` attribute automatically adds the ServiceUrl in the attribute to the set of trusted

[2016-12-09 22:17] msft-shahins commented on #1809
@willemodendaal what version of bot builder are you using. There was a bug in the JwtTokenRefresher that wasn't disposing failed responses which could cause the port exhaustion. Here is the change for it: https://github.com/Microsoft/BotBuilder/commit/56f7ab67#diff-31483df6489ab79dcf63a6f49c842947R29

This might be related to the exception that you are getting and It should be fixed in the most re

[2016-12-09 23:30] eanders-MS commented on #1832
@ncksol This was indeed a bug in our Telegram adapter. Thank you for reporting it. A fix is in the works.

[2016-12-09 23:55] eanders-MS commented on #1832
@ncksol This should be fixed now. Let me know if you're still having trouble.

[2016-12-10 12:09] ncksol commented on #1832
@eanders-MS cheers! I am currently trying to write a fancy bot for telegram, so there might be more bugs incoming =D
I'll try to contribute as much as I can, if I can fix them myself too.

[2016-12-10 12:16] ncksol opened #1836 "How to get more information about 500 error?"
I am playing with dialogues for my telegram bot and suddenly I've started to get 500 error from my bot on the following code:

[code]

Is there a way to see what's the actual exception that is occurring? I've tried to remote debug, but it reaches to the point of Conversation.SendAsync fine and then exceptions, never reaching the code of the delegate.

[2016-12-10 14:13] gviddy commented on #720
Thanks.. Images are HTTPS .... I will show you my code and here is an example of the URL I am hitting ... Again it shows ok in Messenger, Webchat Emulator, just no image in Skype (as above)....

"https://directorycdn.blob.core.windows.net/images/organisations/106428/logo-queensland_police-citizens_youth_welfare_association06072016073459.jpg"

`Activity replyToConversation = (Activity)context.MakeM

[2016-12-10 14:15] brene commented on #720
@gviddy Great! I'll follow-up with the team on Monday!

[2016-12-10 18:55] almirbi opened #1837 "Middleware.firstRun and UniversalBot.beginDialog(address, dialogId)"
I am having a [first run middleware](https://github.com/Microsoft/BotBuilder/blob/master/Node/examples/basics-firstRun/app.js) setup in order to pickup and store the address of the user. It is supposed to run only once and not be called ever again for that specific user, as long as the address is valid. Speaking of which, how long is the address of a user valid (```session.message.address```)?

Ad

[2016-12-10 19:30] 0GiS0 commented on #1784
Sure: 1362503b-a04d-468e-8bdb-dcea71a30fbf

Thanks @KrishnanA

[2016-12-10 20:12] ispadoto opened #1838 "Attach image returns SendActivityToUserAsync FAILED"
Hello!

I'm trying to send images as attachment to facebook channel but the v3 API always returns this error:

[code]

The object that I'm sending:
[code]

I'm using API https://facebook.botframework.com/v3/conversations/[conv-id]/activities
When I send a PDF File, works like expected, the problem occours when I try to send images and microsoft office files...

Could you help me to find where I'm

[2016-12-10 23:20] sm-etest commented on #1191
id  'FOzadrPvGja'  looks like part from link to chat.
for example https://join.skype.com/FOzadrPvGja

Also, I have a question.
I'm using REST API. I create bot and add it to the group in skype.
Now i'd like to make bot send messages to that chat.

I have link to that chat - like this https://join.skype.com/FOzadrPvGja
I can get blob - /get blob
But how can I get conversationId??

[2016-12-11 04:18] euanlau opened #1839 "Cannot add Facebook Messenger channel"
When I registered a new bot today, I ran into the error below after entering all bot info.

<img width="399" alt="screen shot 2016-12-10 at 8 12 25 pm" src="https://cloud.githubusercontent.com/assets/794933/21078032/4176f2fc-bf15-11e6-8b12-cbcb624bca54.png">

However, when I went back to the main page, I saw the bot showing up in the list of bots.

Then I tried enabling facebook messenger, I was n

[2016-12-11 09:08] Taras-Tyrsa commented on #1810
Just a little remark: manual set of Options and Patterns can lead to race conditions when two parallel requests use it (e.g. one request sets English translations and another one - German).

[2016-12-11 09:17] akakoychenko opened #1840 "It is unable to change terms of use & privacy policy links in my bot settings"
I would like to update my terms of use & privacy policy links, but there are no such fields on the page provided by the link https://dev.botframework.com/bots/edit?id=my_bot_handle

[2016-12-11 11:29] ispadoto commented on #1838
I believe I have found the problem.
My azure storage is blob type. When I put the image link in the browser, it automatically downloads, and does not display the image in the browser as it should. I used the same json object mentioned above with an image from the web and it worked normally.
I need to study Azure's storages to make it public.

[2016-12-11 11:29] #1838 closed

[2016-12-11 15:29] kanwal019 opened #1841 "Get response from bot after during inactivity"
Can we get a sample response from the bot incase the user is inactive for a while.

For example -

If bot asks the user for any input and the user is not able to give any for a certain time interval. Bot should ask the user "Are you there ?" or some other message.

[2016-12-11 21:52] brandonh-msft commented on #1768
No I specified the type parameter as well, still didn’t work.

The idea is that the Method satisfying the wait would take an IAwaitable<T> instead of being forced to take an IAwaitable<IMessageActivity> a la the ResumeHandlers for PromptDialog. If you create a ResumeHandler for PromptDialog and then want to use it with Wait, you can’t.

B

From: Will Portnoy [mailto:notifications@github.com]
Sent:

[2016-12-12 03:54] gviddy commented on #720
Update, this is now working for me.... I am however now using a real-time online image re-sizer URL to resize my image on the fly..

So my URL from above is now:
`https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url=https://directorycdn.blob.core.windows.net/images/organisations/106428/logo-queensland_police-citizens_youth_welfare_association06072016073459.jpg&container=focus&r

[2016-12-12 04:34] mukeshzt opened #1842 "Skype chat bot using node SDK with tree-model - done.js - choice.trim is not a function"
I've done something like this:

[code]
[code]
[code]

If I go with the id `  firstChild.push(node1.model.children[i].id);`  it will work. if I change id to title it will not work.
 I get:
[code]
My bot app no longer working for the skype client for my account. I have to create the another account on skype client to check.
Can you pls guide me what is wrong...!!

[2016-12-12 05:12] willemodendaal commented on #1809
We're still on v3.3.0, so that might be the case. I'll upgrade to the latest and see what the effect is.

[2016-12-12 07:45] eanders-MS commented on #1832
@ncksol It looks like serviceUrl is again not getting populated. Looking into it.

[2016-12-12 07:52] eanders-MS commented on #1826
@anuxps going ahead and closing this issue now. Please open a new one if you need further assistance.

[2016-12-12 07:52] #1826 closed

[2016-12-12 08:18] alokraj68 opened #1843 "Push bot automatically to user c#"
Hi,
Had kept a post here but was closed due to age.
Again posting one for help.
#1541
Please refer below.

**Several people suggested Quartz.net , Hangfire, Azure web jobs. But no one told me how to.
Please provide a working code segment.**

[2016-12-12 08:22] immunochomik commented on #572
+ 1

[2016-12-12 08:26] Stevenic commented on #1810
@hailiu2586 This is an issue with C# version of SDK.

[2016-12-12 08:28] Stevenic commented on #1829
Yes... The issue is there's currently no way to get the activity ID in the Node SDK. It's on the list of issues to address after we get v3.5 out the door. Is this blocking you? what are you trying to do?

[2016-12-12 08:32] euanlau commented on #1839
Looks like the issue is intermittent. I just tried it again today and everything works fine. Closing this for now.

[2016-12-12 08:32] #1839 closed

[2016-12-12 08:34] bbramsted opened #1844 "Missing Authentication header in CreateDirectConversationAsync"
I'm trying to create a web service, which will start a new Slack conversation from a bot to a user. I use the latest c# SDK (version 3.3.3).

I have the following code:

[code]

This always returns 403 - Forbidden.

Using Fiddler, I can see that the POST'ed data is missing the Authentication header:

[code]

I if manually POST the same data, but insert a valid Authentication header, the call succe

[2016-12-12 08:37] Stevenic commented on #120
We've learned a lot since doing form flow for C#. We're thinking about what makes sense for a Form Flow 2.0 that would cover both Node and C#.  Can ask specifics about what you find cumbersome with collecting form input in Node?  I agree that collecting form data could be easier in Node but I'm more curious about your thoughts for how it could be made simpler?

Take a look at [this sample](https:/

[2016-12-12 08:43] Stevenic commented on #1401
Sorry for the delay... @vignestheo did you figure this out? unfortunately you'll need to track the [address](https://docs.botframework.com/en-us/node/builder/chat-reference/interfaces/_botbuilder_d_.imessage.html#address) object of every user that contacts your bot and then do your own segmentation based on region.  To send a notification you'll then need to do a `bot.send()` to each user in the g

[2016-12-12 08:47] Stevenic commented on #1404
I agree with @palmerabollo to a degree. This isn't `console.log()` and opening it up so that you can technically pass anything makes it difficult to enforce what you SHOULD pass. I'm closing this issue for now but let me noodle on it. Feel free to way in with other examples of where this is more the nom than the exception. In particular I want to look at what other libraries like Express do. Thank

[2016-12-12 08:47] #1404 closed

[2016-12-12 08:48] Stevenic commented on #1416
This should be fixed in the next release if you're using TypeScript (it was already fixed for JavaScript users.)

[2016-12-12 08:48] #1416 closed

[2016-12-12 08:50] Stevenic commented on #1419
Sorry I missed this... I'm not sure why this would be an issue for group conversations. Are you sure? What channel are you trying this on?

[2016-12-12 08:51] Stevenic commented on #1171
closing for now

[2016-12-12 08:51] #1171 closed

[2016-12-12 08:54] Stevenic commented on #1217
Not yet. I'm about to simplify the build process for 3.6 and then will document.

[2016-12-12 08:56] Stevenic commented on #1352
I'm closing this for now. I'm actually thinking of a simpler way to support this scenario in 3.6. But the above should work.

[2016-12-12 08:56] #1352 closed

[2016-12-12 08:59] Stevenic commented on #69
You'll need to use a 3rd party library for node that can return the chart/graph as an image. I haven't looked but I'm sure there are several.

[2016-12-12 09:08] Stevenic commented on #898
I've added the documentation for t he missing event and will be part of docs for 3.5 release.

[2016-12-12 09:08] #898 closed

[2016-12-12 09:09] vignestheo commented on #1401
How to do session reset ? and how to clear the session data? and how to do
set time out for the particular session

On Mon, Dec 12, 2016 at 2:13 PM Steven Ickman <notifications@github.com>
wrote:

[2016-12-12 09:10] #964 closed

[2016-12-12 09:12] Stevenic commented on #1058
We're tracking a general work item to improve the way LUIS datetimes get resolved. There are numerous issues. Closing this until that work is done.

[2016-12-12 09:12] #1058 closed

[2016-12-12 09:13] Stevenic commented on #1113
We have a basic plan for how to support this in 3.6

[2016-12-12 09:13] bbramsted commented on #1844
Posting the above made me look at the code again.

Adding
´´´
await connector.HttpClient.AddAPIAuthorization("eee", "fff");
´´´
before the call to CreateDirectConversationAsync fixes the problem.

That does no seem logical to me, as I have already provided the same credentials in the line just before.

[2016-12-12 09:14] #1133 closed

[2016-12-12 09:17] Stevenic commented on #1520
There's not anyway in Node to delete userData currently without just emptying it. I can think about improving this in 3.6

[2016-12-12 09:17] #1520 closed

[2016-12-12 09:17] Stevenic commented on #1530
It's not in 3.5. I'll have to work on it for 3.6

[2016-12-12 09:21] Stevenic commented on #1562
What version of t he Node SDK are you using? Definitely should be only matching on "yes" or "no" if you're using 3.4 as we no longer use a RegEx to match against

[2016-12-12 09:24] Stevenic commented on #1565
Sorry for the delay... You're calling `Prompts.text()` in your last waterfall step which is going to wait for the user to respond. You should call `session.endDialog()` with your message instead.

[2016-12-12 09:28] Stevenic commented on #331
I'm not sure what happened??? It seems to have gotten dropped. I'll try to re-add it but might be a day or so before I get to it.

[2016-12-12 09:35] Stevenic commented on #331
Ok... I see what happened. I'll have to add it back in. I need to do a big update on the facebook bot and will add it back in. For now check out [this commit](https://github.com/Microsoft/BotBuilder/commit/cb0766f09c40f6fcad15a246e3752b457d36ff6e)

[2016-12-12 09:39] Stevenic commented on #1599
Sorry for the delay. If I recall I fixed a bug that might be related in v3.5 which we haven't release yet. Could you install b3.5 using `npm install --save botbuilder@next` and let me know if you still see the issue?

[2016-12-12 09:45] Stevenic commented on #1620
Good catch. I have a fix in code review right now. The fix should be in v3.5

[2016-12-12 09:47] Stevenic commented on #1625
I agree... It should also take a list of synonyms. Unfortunately I can't easily change the signature of the current version.  I've been kicking around letting you pass a function which can return a richer set of values, including dynamic values.

[2016-12-12 09:51] Stevenic commented on #1694
Normally you can log into LUIS and train it to fix the unrecognized entities. You can't do that with the built in models so there's nothing you can fix. Fortunately it's pretty easy to build a custom model that des the same thing.

[2016-12-12 09:59] Stevenic commented on #1607
I looked and we use `new Buffer()` in our code so it must be something under us. Not sure how to narrow down where it is.

[2016-12-12 10:01] Stevenic commented on #1605
You need to make sure you specify a Title for the card you're sending or if you're calling `Prompts.choice()` you have to pass a prompt.

[2016-12-12 10:09] Stevenic commented on #1301
@SamuelTassell sorry for the delay. In general I think you're approach is fine. You might look at [this example](https://github.com/Microsoft/BotBuilder/tree/master/Node/examples/basics-customChoicePrompt) for ways of packaging up your choice prompt to look more like the built-in one.

[2016-12-12 10:09] #1301 closed

[2016-12-12 10:11] Stevenic commented on #1668
If you search the closed issues someone had a proxy issue before and found a node module that will let you globally specify your proxy for all requests.

[2016-12-12 10:12] Stevenic commented on #1744
Thanks... I'll take a look.

[2016-12-12 10:19] Stevenic commented on #1712
Oh I see... you're wanting your middleware+dialog to answer the prompt. that won't work... The prompt only looks at `session.message.text` for answers. So what you can do... Is change the value of `session.message.text` from your middleware.

[2016-12-12 10:20] Stevenic commented on #1621
Added eric to answer telegram questions...

We don't currently have automatic retry logic although I've brought that up as well.

[2016-12-12 10:22] Stevenic commented on #1633
Very soon... We're having to sync the release with some other changes so just in a holding pattern on the SDK side of things.

[2016-12-12 10:25] Stevenic commented on #1813
Unfortunately not currently but maybe very soon... I have a `LocalizedRegExpRecognizer` class I'm testing that would potentially solve this issue. the problem is it's not currently part of the core library and I just want to think about it a bit before I make it part of the core.

[2016-12-12 10:27] Stevenic commented on #1817
For your website you'll need your own auth scheme as the auth that we do is to secure t he channel between your bot and our servers. You can't really piggyback off that. Let me add Dan for input though.

[2016-12-12 10:30] Stevenic commented on #1818
Can you share your code?  I've had Heroku working before. The only thing I had to make sure of was that my package.json was setup to properly start my bot and that I had my `appId` and `appPassword` for the connector properly set. I am planning to do a guide for deploying to Heroku but not sure when

[2016-12-12 10:34] Stevenic commented on #1773
@GanadiniAkshay I'd recommend packaging your recognizers up as a separate NPM that you publish. We generally don't accept PR's for new classes into the core because it means we're on the hook to maintain them. This is a case by case decision.  I think it's awesome that you did this work and we'll certainly promote your libraries but we're even talking about removing the LuisRecognizer from the cor

[2016-12-12 10:36] Stevenic commented on #1803
I'm sorry for the delay. I hope your demo went ok. You need to add a cancelAction() to thedialogyou want to be cancelable.

[2016-12-12 10:36] ShujaathKhan opened #1845 "Can we built a bot for Skpe for Business?"
Is it possible to integrate the bot for Skype for Business?

[2016-12-12 10:38] BlueHatbRit commented on #1803
@Stevenic thanks for the reply, the demo was fine in the end and I managed to work around it.

Is there any documentation or example for `cancelAction()`? I can't seem to find it through google or navigating the main documentation.

[2016-12-12 10:51] Stevenic commented on #1820
It's basically because you're using the <string> version of matches() which launches a dialog but isn't going to automatically end the IntentDialog when that dialog returns. That's by design and I'm happy to dive into why its by design (you're assuming the IntentDialog is always used at the root which isn't always the case.)  To achieve your desired behavior you should use a waterfall to start you

[2016-12-12 10:52] Stevenic commented on #1820
I can think about making the simpler form work like that.  To be honest though in v3.5 there's not a lot of need to use `IntentDialog` anymore.  Can I ask what you're trying to do in onBegin()?

[2016-12-12 10:54] vinodjoseph62 commented on #985
Same here , I am using a 254kb image file
Getting the error as
Error: Request to 'https://skype.botframework.com/v3/conversations/29%3A1awJOwTjcsaihhjqTbDzJHjbjJujcbCXb/activities' failed: [400] Bad Request
    at Request._callback (C:\VINOD\Projects\test\node_modules\botbuilder\lib\bots\ChatConnector.js:413:46)
    at Request.self.callback (C:\VINOD\Projects\test\node_modules\botbuilder\node_modu

[2016-12-12 10:57] BlueHatbRit commented on #1803
I found an example in the main project here for future reference of anyone with the same issue - https://github.com/Microsoft/BotBuilder/blob/master/Node/examples/feature-cancelAction/app.js

Closing this issue.

[2016-12-12 10:57] #1803 closed

[2016-12-12 10:58] Stevenic commented on #1401
This issue is getting a little overloaded. Could you create a new issue and provide more details about what you're trying to do?

[2016-12-12 10:58] #1401 closed

[2016-12-12 10:59] vinodjoseph62 commented on #809
What is the size limit for attachments using base64 encoded data url, because I am sending a 254kb file as attachment (base64 encoded) it always gives error : 400 bad request, but the same works fine in case of 25-30 KB files.

[2016-12-12 11:00] Stevenic commented on #1803
There's documentation coming to go along with the updated samples.  Be a little careful with the examples as they're based on 3.5 which is currently in preview mode.  You can install 3.5 using `npm install --save botbuilder@next`

[2016-12-12 11:02] BlueHatbRit commented on #1803
Oh okay that's useful to know, is there any ETA of when 3.5 might hit out of interest? I'm aware you're waiting for other updates to be released first.

[2016-12-12 11:04] Stevenic commented on #1803
I would have said last week but its on hold for a couple of reasons. My hope is this week and if not then next.  I'm just working on re-writing all of the docs and rolling in minor bug fixes as they  come up.

[2016-12-12 11:06] BlueHatbRit commented on #1803
Understood. On a side note I love the project, it's great so far just navigating documentation has been a pain recently, thanks for the project!

[2016-12-12 11:07] GanadiniAkshay commented on #1773
@Stevenic thanks for the update. I have already published an (npm module)[https://www.npmjs.com/package/api-ai-recognizer] for api.ai will publish wit.ai support soon.

Cheers!

[2016-12-12 11:08] Stevenic commented on #1803
BTW... for cancelAction() the only major new thing is really `confirmPrompt` otherwise it's mostly the same. The big additions for 3.5 (other than a complete re-write of the message routing system) that you're likely to be impacted by are `triggerActions()` and global recognizers which you can install using `bot.recognizer()`.  These two features are likely to change the way you build your bots ac

[2016-12-12 11:10] Stevenic commented on #1803
The new docs are all scenario focused...  There's a new `Conversation Basics` doc which should teach you how to do 90% of what you need to do in one doc. That's one of the things I'm waiting on... Some internal teams are reviewing that doc. So far the feedback has been positive

[2016-12-12 11:11] Stevenic commented on #1803
You can look at things like the basics-naturalLanguage example for a preview

[2016-12-12 11:13] BlueHatbRit commented on #1803
That's really great to know, my bot isn't too big and it's just for a uni project mostly right now so moving it to the new 3.5 structure should be fair straight forward I'd imagine. I'm glad the docs are getting updated in that way, I found myself struggling with the limitations of the old ones and diving into the code a lot to find how things worked.

Is there a 3.5 release issue, pull request, o

[2016-12-12 11:14] Stevenic commented on #1773
Awesome... just let us know :)  Also, could you install version 3.5 using `npm install --save botbuilder@next` just to verify they work with the next release? Thanks!

[2016-12-12 11:14] #1773 closed

[2016-12-12 11:23] Stevenic commented on #1803
So before 3.5 your actions could triggered only by regular expressions. Now you can add your luis model as a global recognizer to get run for every message from the user. You can then specify which intents trigger which actions. Using the new `triggerAction()` you can essentially say that anytime the user says "order pizza" which returns the "OrderPizzaIntent" from LUIS that it should automaticall

[2016-12-12 11:36] BlueHatbRit commented on #1803
This is absolutely perfect, I was going to wait until 3.5 had released to ask about global LUIS handling. It's been really useful for intents but for custom prompts I've found myself wanting to try and identify a particular entity rather than just accepting something with regex which is quite hard to fit to the users needs.

The triggerAction also looks great, the implementation looks really clean

[2016-12-12 12:03] JoseAntonioRodriguez opened #1846 "[node.js] EntityRecognizer is very relaxed when parsing afirmative/negative responses"
When answering to a `Prompt.confirm` dialog, `yes, please` is recognized as an affirmative response (which is great), but `yesterday` is also recognized as an affirmative response.

[2016-12-12 13:12] willemodendaal commented on #1644
Still a problem for me in Bot Builder v3.3.3.

I get an error right after the abovementioned warning:
"UnauthorizedAccessException, Message: Authorization for Microsoft App ID 324210c5-b390-49c2-8db6-3117449af666 failed with status code Forbidden". Might be related.

[2016-12-12 13:35] willemodendaal commented on #1644
@vossccp, your suggestion worked for me, thanks.

[2016-12-12 19:13] celloudiallo opened #1848 "Conversations.SendToConversation gives "Gateway Timeout" for ms teams"
starting a direct conversation with ms teams gives a timeout.

`Microsoft.Rest.HttpOperationException: Operation returned an invalid status code 'GatewayTimeout'
   at Microsoft.Bot.Connector.Conversations.<SendToConversationWithHttpMessagesAsync>d__6.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNo

[2016-12-12 19:15] haganbt commented on #1817
Thanks for the reply @Stevenic and apologies, reading this again I was not particularly clear on my requirements. I am looking to implement my own web based chat UI (rather than embed the iFrame html client provided) so that I can control the dom/styling etc.

My question is with regards to the authentication being used by the bot framework i.e. to send a message from my html chat window to the se

[2016-12-12 19:22] KrishnanA commented on #1784
Skype is getting a 403 from the service.

Response to outgoing:: POST https://botcalling.azurewebsites.net/api/calls
403 Forbidden

Can you check the logs to see why your service is returning a 403?

[2016-12-12 19:40] euanlau commented on #1820
I was just following the [documentation](https://docs.botframework.com/en-us/node/builder/chat/IntentDialog/#matching-regular-expressions):

[code]

What should I use to identify the intent without using `IntentDialog` ?

I use `onBegin` mainly for logging.

[2016-12-12 19:46] Stevenic commented on #1803
I'd actually did think about something similar at one point. I can't remember what I was calling the feature. Something like "smart listening".  The trick with monitoring ambient message streams is knowing when the bot should respond.  You can wait for the bot to be @mentioned but then how long do you continue to listen to the user.  Most people use timers and such.  It turns out that with BotBuil

[2016-12-12 19:49] Stevenic commented on #1817
I'll let Dan comment but it seems like you'd want to use DirectLine for this. That's basically what our WebChat uses and lets you essentially borrow our auth to secure the pipe between your client and the bot.

[2016-12-12 19:58] willportnoy commented on #1643
I'm going to close this issue, but feel free to open a new issue for further discussion.

[2016-12-12 19:58] #1643 closed

[2016-12-12 19:59] willportnoy commented on #1679
Thank you for the information.  I'll see what we can do in that direction, minimizing our dependency on a specific DI framework.

I'm going to close this issue, but feel free to open a new issue for further discussion.

[2016-12-12 19:59] #1679 closed

[2016-12-12 19:59] willportnoy commented on #1724
I'm going to close this issue, but feel free to open a new issue for further discussion.

[2016-12-12 19:59] #1724 closed

[2016-12-12 20:00] willportnoy commented on #1741
Before calling into the builder library, you can try to drop the SynchronizationContext and that might accomplish the same goal.

I'm going to close this issue, but feel free to open a new issue for further discussion.

[2016-12-12 20:00] #1741 closed

[2016-12-12 20:01] willportnoy commented on #1767
I'm going to close this issue as a duplicate of https://github.com/Microsoft/BotBuilder/issues/572.

[2016-12-12 20:01] #1767 closed

[2016-12-12 20:02] willportnoy commented on #1797
Is this the V2 version of the API?

[2016-12-12 20:02] willportnoy commented on #1801
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2016-12-12 20:02] #1801 closed

[2016-12-12 20:02] willportnoy commented on #1812
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2016-12-12 20:02] #1812 closed

[2016-12-12 20:03] willportnoy commented on #1793
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2016-12-12 20:03] #1793 closed

[2016-12-12 20:03] Stevenic commented on #1820
You'd be better off writing a piece of middleware to do logging. Version 3.5 hasn't shipped yet so I'm still working on re-writing the docs.

[2016-12-12 20:04] willportnoy commented on #1290
I'm going to close this issue as a duplicate of https://github.com/Microsoft/BotBuilder/issues/572.

[2016-12-12 20:04] #1290 closed

[2016-12-12 20:06] willportnoy commented on #1836
Have you tried running the code in the emulator?

https://docs.botframework.com/en-us/technical-faq/#how-can-i-troubleshoot-my-bot

[2016-12-12 20:08] willportnoy commented on #1843
We have a "proactive" azure bot template you might want to look at:

https://docs.botframework.com/en-us/azure-bot-service/templates/proactive/#navtitle

[2016-12-12 20:12] haganbt commented on #1817
Many thanks @Stevenic , DirectLine looks ideal.

As a new user of the platform, hopefully some useful feedback, I definitely got hung up on the "Test your bot (Windows Only)" section from here: https://docs.botframework.com/en-us/node/builder/overview/

Given im not on windows I was stuck with regards where to go. I eventually found the iFrame version which helped move along but had no idea it exi

[2016-12-12 20:12] #1817 closed

[2016-12-12 20:23] euanlau commented on #1820
Is middleware executed before intent identification?  I wanna log the intent.

[2016-12-12 20:37] hailiu2586 commented on #1840
You can use the publish button to open the form to edit your links, then use the save button to commit your udpate without submitting your bot app.

[2016-12-12 20:37] #1840 closed

[2016-12-12 20:39] hailiu2586 commented on #1845
Thank you for the suggestion. This is on our backlog of channeles to suport.

[2016-12-12 20:39] #1845 closed

[2016-12-12 21:44] BlueHatbRit commented on #1803
I thought the dialog system might be the way to go as well, it should be quite trivial to implement on a basic level using the @mention. Are there / will there be any docs on best practice for creating middleware functions for the botbuilder?

[2016-12-12 22:27] msft-shahins commented on #1834
Currently bot builder and connector libraries don't support ASP.NET Core. Adding support for ASP.NET Core is in our backlog.

[2016-12-12 22:28] #1834 closed

[2016-12-12 22:39] msft-shahins commented on #1844
This is related to issue #1729. You can modify your code snippet to look like this and it should start setting the authorization header for the outgoing requests from your bot.

[code]

You can read more on why it is necessary to call TrustServiceUrl here: https://github.com/Microsoft/BotBuilder/issues/1729#issuecomment-263430456

[2016-12-12 22:39] #1844 closed

[2016-12-12 23:27] dandriscoll commented on #1505
Hi @dhirajsharma072 and @shanepeckham, can you send a conversation ID and channel ID where you are seeing this problem and we can investigate?

[2016-12-12 23:49] eanders-MS commented on #1832
@ncksol The Telegram channel was setting an incorrect value for `message.address.bot.id` on conversationUpdate messages. Additionally, it was not setting `message.address.bot.name`. Until the fix for this issue is live, you can work around it by manually setting the values:
- `message.address.bot.id`: The username of your bot on Telegram
- `message.address.bot.name`: The botId of your bot on the B

[2016-12-13 00:00] siduppal commented on #1822
The bot does not receive any information about the user chatting with it, other than the ID of the user. You would have to implement authentication yourself to get this information. Take a look at https://github.com/MicrosoftDX/AuthBot

[2016-12-13 00:03] siduppal commented on #1821
We are working on resolving this issue. Thanks for reporting!

[2016-12-13 02:05] earlyster commented on #1829
Can we get the activity ID from the client and pass it to node SDK?  For example I have Direct line and I get the activity id from the history of the conversation.. I can add a my own rest service that can update the activity with additional data.  This is blocking my usage of updating an existing activity using bot framework.

[2016-12-13 05:04] alokraj68 commented on #1843
@willportnoy am checking that now, but am confused how can we trigger it at a time? are there no simpler implementations?

[2016-12-13 06:17] cahann commented on #1846
is this entity recognize a luis model?

[2016-12-13 06:29] JPThorne opened #1849 "DirectlineClient -> PostMessage -> 500 server error"
Hi there. As of this morning we are seeing 500 "InternalServer" errors from the directline client.

We're using the latest nuget package - version 1.1.1, and have enabled the version 3.0 option in the botframework.com configuration screen. We had it just on the version 1.0 option as well, same error.

In addition, using the embedded webchat control on the botframework.com configuration screen neve

[2016-12-13 07:18] divinemanwah commented on #1419
Yes I'm sure. At the time that I wrote this, it wasn't really working as expected (don't know now after maybe a couple of updates). It was a Skype bot that I was experimenting.

[2016-12-13 07:44] subhans3tech commented on #1694
{
  "query": "please suggest tee time for 6 people at the gardens at 9 pm on 20th dec",
  "topScoringIntent": {
    "intent": "TSUGGEST",
    "score": 0.9413908,
    "actions": [
      {
        "triggered": true,
        "name": "TSUGGEST",
        "parameters": [
          {
            "name": "Number",
            "type": "Number",
            "required": true,
            "value": [

[2016-12-13 08:31] JoseAntonioRodriguez commented on #1846
Don't think so. It's the EntityRecognizer used by `Prompts` dialogs.

[2016-12-13 08:39] piyush-dholariya commented on #1505
I am also getting same error when I post anything from postman to my bot application.

[2016-12-13 08:55] tahsintahsin opened #1850 "Bot review process so slow"
I have been trying to publish my skype bot to Microsoft Bot Directory, it has been almost two weeks and it is still in review. I just want my skype bot to be easily found for any skype user by simple search. My questions are:

1- Do you have a list of must haves for the bot so that they can only accept it if it fulfills these requirements? You didn't reject mine either but I will be prepared in ad

[2016-12-13 09:08] manums opened #1851 "Constant repeated reply on Microsoft Teams(when Web chat and emulator work as expected)"
My bot tries to send a signin card to the user when user has not authenticated but he tries to communicate with the bot. It starts like Bot sends a reply using "ReplyToActivityAsync" and replies with a message asking user to use below prompt to login. Bot tries to send next message with signin card next so that user can login on external application. *This works all good on web chat and even on em

[2016-12-13 09:59] ankitzaveri opened #1852 "Facebook Messenger UI rendering issues"
Hello,

I am writing a bot using Ms bot framework (C#) for Facebook messenger and facing UI issues like button text getting cut(with three dots(...) appended), message got cut after certain text etc. Attached sample images for the reference. I don't see such issues in Skype or emulator.

Please let me know if there is a way to format text using C# to avoid these kind of issues or if there is any w

[2016-12-13 13:59] b4usat commented on #1811
This helps, but when deployed and tested in Webchat, `ConversationUpdate `activity is not trigerring on the load of the Web chat instead when i typed and post a message it gets triggered. Do we have a solution for this?

[2016-12-13 14:17] b4usat opened #1853 "Customize Carousel Cards"
Can we have the options to  customize carousel cards in `webchat `window at-least? Very minimal requirement for mine is changing the color of each cards as like windows tiles.

[2016-12-13 15:40] dandriscoll commented on #1505
Hi @piyush-dholariya, can you send a conversation ID and channel ID where you're seeing this problem?

[2016-12-13 16:33] JPThorne commented on #1850
We're planning on publishing our bot via multiple channels in a month or so, would be good to get some indication of the submission requirements & timeframes

[2016-12-13 16:35] JPThorne commented on #1852
@ankitzaveri we ran into this issue a few weeks back, as far as I'm aware there is a hard limit on the number of characters you can use for a buttons text in FB.

[2016-12-13 17:19] LMEdwards commented on #1850
We submitted out bot for review on Nov 30...still waiting.

[2016-12-13 17:38] celloudiallo commented on #1606
is this related to this other issue i created here https://github.com/Microsoft/BotBuilder/issues/1848?

Been fighting with this Gateway Timeout and would really appreciate to know that this is actually being looked at.

[2016-12-13 17:59] hailiu2586 commented on #1850
Thanks for submitting the issue. Can you send us the botId that has been in review for a while, so we can take look at what's going on?

[2016-12-13 18:13] JamieREvans opened #1854 "Dealing with ampersands on Kik"
Whenever I send up an ampersand as a part of a "card" to my Kik bot, it get's escaped into `&amp;`. However, if I escape or encode it, it just shows up as the escaped or encoded version. Is there any way to send an ampersand to Kik and not have it escaped?

[2016-12-13 18:40] siduppal commented on #1851
Apologize for the confusion. There's a bug preventing sign-in card from showing up that we are actively working on addressing.

[2016-12-13 19:17] earlyster commented on #1829
I am trying to now directly use the REST api  without node wrapper but when calling the PUT api for activity I am getting this error message.. I am not sure what this means and couldn't find any information about this message anywhere. Also schema doesn't mention a bot record.

{
  "error": {
    "code": "MissingProperty",
    "message": "The 'bot' record for the from field is unrecognized"
  }
}

[2016-12-13 19:38] euanlau commented on #1820
Also, does that mean

[code]
is not the right way to build an intent dialog bot even for Version 3.2.3?

Then it is a documentation bug?

[2016-12-13 19:43] earlyster commented on #1217
+1

[2016-12-13 20:21] ncksol commented on #1832
@eanders-MS I've just updated to v3.4.0 and noticed that when I create reply from conversationUpdate activity, the From is populated with my bot's id in ID field, but that ID is not the telegram ID, but the ID of my bot in Bot Framework. Also name is not populated at all.
And the reply doesn't get posted into the channel unless those two properties are correctly populated. I can hardcode those for

[2016-12-13 21:21] eanders-MS commented on #1832
Yes, I think we are saying the same thing. Hard-coding the bot name and id fields is the workaround until a fix for this issue makes it to production. Apologies for the inconvenience, and thank you for taking the time to report this.

[2016-12-13 23:04] gbowerman opened #1855 "Missing REST API documentation"
The main docs page: https://docs.botframework.com/en-us/ says:
For those using other languages, see the framework’s [REST API](https://docs.botframework.com/en-us/connector/overview/). The REST API link returns a 404.

[2016-12-14 00:16] dandriscoll commented on #1849
Hi @JPThorne, we're looking into the bot errors.

Can you send a conversation ID where you're seeing the failure? If you're using Direct Line 1.0/1.1, the API returns 500 for both bot errors and internal errors, and we see many bot errors. If you send a conversation ID, I can take a closer look to see where the problem is.

[2016-12-14 06:06] JPThorne commented on #1849
@dandriscoll thanks for the response, I've checked it this morning again and the problem has cleared up.

[2016-12-14 06:06] #1849 closed

[2016-12-14 06:40] santhosh117 commented on #1738
I got auth token using appid and password but when i use that bearer token it shows internal server error

[2016-12-14 10:10] LMEdwards commented on #1850
App ID  d0c51261-0af6-41c9-9654-af10bf1d4c24

[2016-12-14 10:33] kanwal019 commented on #1811
@msft-shahins This works in the emulator. But I am not able to get the desired result in the webchat chennel.

[2016-12-14 11:11] piyush-dholariya opened #1856 "[LUIS] args.dialog is missing"
Hi, when I fire query from LUIS web app I am getting this json response:

[code]

when I run same url from node js code I am not getting same response as shown above:

[code]

args.dialog is undefined over here, it is not giving me same json in args variable.

[2016-12-14 11:19] piyush-dholariya commented on #1647
I am not getting dialog in args, I can get only entities in args.

[2016-12-14 12:06] borisovano commented on #1828
+1 to @james-lawrence - we're also waiting to bots in channels and in group conversations!

[2016-12-14 13:44] james-lawrence commented on #1827
any update on this?

[2016-12-14 14:11] KrishnanA commented on #1738
Are you creating a chat bot? Please open a new issue as this one is related to calling.

[2016-12-14 15:11] kanwal019 opened #1857 "Initiating a conversation from bot"
As described in issue #1811, I tried to initiate the conversation from my bot application. It gives the desired output when used in the emulator. But when I use the webchat or directline channel it does not give me the  desired result.

For example -

If my username is User001 and botname is Bot001. The result is "Welcome User001 !" in the emulator and "Welcome Bot001 !" in the webchat and directl

[2016-12-14 15:19] sencsk1 opened #1858 "Error occurred integrating IIS Server to Microsoft Bot"
Hi Team,
I'm trying to integrate Bot with Facebook. i have mentioned the steps what all i did. if anything i missed and anything i did wrong please advice and guide me.
I created the bot application and deploy through custom mode using .Net Framwork 4.6. in my server having .Net framwork V4.5.

I run the application locally using the Bot Emulator its working fine after that only i have deployed it

[2016-12-14 15:32] tahsintahsin commented on #1850
Thank you @hailiu2586 , our app id is : 59fcba99-2720-469f-9758-d83fb6a76096​​​ .

[2016-12-14 15:53] gioffyx commented on #1843
Hi @alokraj68,
you can use the template linked by @willportnoy AND the solutions suggested by "other people". You can probably create a Quartz.net (or Hangfire or Azure web) job that triggers every X minute and "push" the message when your condition are matched.

There's no simpler implementation. At least not in the Bot Framework SDK.

[2016-12-14 16:47] srozga opened #1859 "Integrating with Facebook Payments"
We would like to integrate with Facebook Payments. We have a Buy Button being sent to Messenger and all that great stuff, but how can we hook into the [messaging_payments webhook](https://developers.facebook.com/docs/messenger-platform/complete-guide/payments#webhook_event)? Seems like the bot builder fb webhook endpoint might be eating these up?

[2016-12-14 17:10] ahmettaha opened #1860 "Logging with IActivityLogger"
Hello,

I'm logging my messages with by inheriting from IActivityLogger on c#. How do I know if it is an incoming message vs outgoing message?

Thanks.

[2016-12-14 17:27] ftachon commented on #1594
Hi all,
I know why I didn't received the post back, but I need help to fix it.
When I click on Facebook's button the browser console (inspect tool) reported a error

POST https://www.messenger.com/messages/commerce/postback/?cta_id=bW5jdGE6Y3RhMV9FbnRNZXNzZW5nZXJDb21tZXJjZUl0ZW1fNjM5NTQyNTgyODk1MDkwXzA%3D&dpr=1
500()

[2016-12-14 17:30] eanders-MS commented on #1857
Thanks for reporting this. It looks like the emulator is sending both the bot and the user in the `membersAdded` list of the `conversationUpdate` activity, but directline/webchat is only sending the bot. We will make them consistent. In the meantime, you should be able to get consistent behavior by filtering the `membersAdded` list by the `message.from.id` value.

[2016-12-14 17:58] msft-shahins commented on #1858
This is probably related to the way that you set up the routes in your asp.net application and iis server and not related to bot builder. I did a quick search for your error and this [stackoverflow](http://stackoverflow.com/a/7842369/4237950) answer might help.

Closing this. Feel free to open another issue in future if you have problem with bot builder.

[2016-12-14 17:58] #1858 closed

[2016-12-14 18:03] msft-shahins commented on #1860
if acitivyt.Recipient.Id is your bot id, it is the incoming message. Otherwise it is the outgoing message.

[2016-12-14 18:20] msft-shahins commented on #1811
@kanwal019 webchat will send `ConversationUpdate` activity to your bot first time that is loaded and you have the opportunity to send welcome message there.

[2016-12-14 18:52] yshahin commented on #1824
Unfortunately we don't have this kind of feature in LUIS.
Even if it exists you will still need to obtain their subscription key to access endpoint.
Either way people will have to trust you with their LUIS app key, that is if you are hosting the bots on your servers.
If your users provision an Azure key it will only have access to the endpoint its and only to the app they choose, this could be a b

[2016-12-14 19:19] vignestheo opened #1861 "Need help to send a message in daily basis"
Hello Team

Need help to send bot message to users at particular time in daily basis .

I am using node js and whether we can send those message to all channels?

[2016-12-14 19:22] vignestheo commented on #1850
Any one please provide guideliness for Terms of Use and Privacy URL because of those content my bot getting rejected from MS Team.. :-(

[2016-12-15 03:04] schwartazi opened #1862 "working with the emulator when no internet"
Hello
I see that the emulator is required to work online, when the internet is working.
Why is that?
Thanks

[2016-12-15 03:53] LMEdwards opened #1863 "Bot review process is slow with no contact, no feedback."
Bot was submitted for review on Nov 30th.
App ID is d0c51261-0af6-41c9-9654-af10bf1d4c24

[2016-12-15 04:43] manums commented on #1851
@siduppal Is there any alternative which I can use for signin prompt? Plain attachment with an url does not look that great for signin.

Also may I know when the fix is planned to be out?

[2016-12-15 04:56] siduppal commented on #1851
Sure, you can simply send a Hero or Thumbnail card with one action-button of type OpenUrl and specify the login URL as the value.

[2016-12-15 04:59] manums commented on #1851
Thanks will try that. If it's okay, can you please paste a snippet for reference?

[2016-12-15 05:11] siduppal commented on #1851
Instead of creating a sign-in card attachment, create one like this:

                        var card =  new Attachment()
                        {
                            ContentType = ThumbnailCard.ContentType,
                            Content = new ThumbnailCard()
                            {
                                Text = "Please login to continue",

[2016-12-15 05:16] siduppal commented on #1833
PostBack is not really supported in Teams at this time.

Please view the documentation at https://msdn.microsoft.com/en-us/microsoft-teams/bots#cards-and-buttons. We only support imBack and openUrl currently.

[2016-12-15 05:21] siduppal commented on #1827
We are investigating

[2016-12-15 05:23] eanders-MS commented on #1862
Hi @schwartazi The emulator can be used offline if you don't provide an App Id or Password for your bot. The authentication scheme used by the Bot Framework requires internet connectivity, but only if you don't provide auth info you should be able to run your bot and the emulator offline.

[2016-12-15 06:15] kanwal019 commented on #1857
@eanders-MS 'message.from.id' gives the same result as the 'recipent.id'. I need to show a welcome message with the username on the initiation of the webchat. Is there any other possible way to get the desired result ?

[2016-12-15 06:22] kanwal019 commented on #1811
@msft-shahins This works in the emulator, but in the webchat channel the "ConversationUpdate" activity, is not able to pass the username, instead displays the bot name in the welcome message.

[2016-12-15 07:03] vaibhavi-joshi opened #1864 "I want to transfer my bot to other user's Microsoft Account"
I have developed a bot using botframwork node SDK. This bot is not published yet, but I want to transfer the Microsoft developer portal access to other developer, who can manage stuff behalf of me. How to achieve this. Please help me out asap.

[2016-12-15 07:06] sencsk1 commented on #1858
thanks for posting msft-shahins, i have changed and tried all the cases in the route config but no use . my website is "https://www.abc.com/" and i created the application inside the aplication "TSBot" so my url look like this[https://www.abc.com/TSBot/api/messages] . if i run without api/messages then i can see the default page when i add the api/messages behind the url its wont work . my route c

[2016-12-15 07:27] dks-ait commented on #1562
I was using 3.2.3 SDK as 3.4 was broken at that point.

[2016-12-15 07:44] dks-ait commented on #1562
I updated to 3.4.4 but still see that same problem.

[2016-12-15 09:28] kanwal019 opened #1865 "Sending a message from bot in-case of inactivity"
Can we send a message from bot incase the user is currently inactive ?

For example -

If bot asks "Should we proceed ?" and expects a response in yes/no, the bot should resent the question or some other text to alert the user, when no response is sent from the user, even after 50-60 seconds.

[2016-12-15 09:31] #1865 closed

[2016-12-15 10:03] sencsk1 opened #1866 "Microft Bot Framwork throw 500 internal server error."
I got 500 internal server error  Method not found. i dont know what i missed
I refer the link http://stackoverflow.com/questions/38277691/latest-project-template-and-emulator-for-bot-framework-v3-throws-500-internal-se

im also having the same configuration but i'm getting error in Microsoft Bot and Emulator
Microsoft.Rest.ClientRuntime - 1.8.2
Newtonsoft.Json - 8.0.3
System.IdentityModel.Tokens.J

[2016-12-15 12:11] piffarettig commented on #1731
@GanadiniAkshay could you post the node code ? I could adapt it to c#. Thanks!

[2016-12-15 12:36] var23rav opened #1867 "Microsoft botbuilder UniversalBot implicit (default) dialog throws no dialog error"
All [botbuilder examples](https://github.com/Microsoft/BotBuilder/tree/master/Node/examples) give **no dialog error on execution.**
`Error: Dialog[*:/] not found.`

**The second parameter ( defaultDialog ) in [UniversalBot constructor](https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.universalbot.html#constructor) not working.**

**Issues Found in**: [hello-Ch

[2016-12-15 13:19] #1864 closed

[2016-12-15 13:20] vaibhavi-joshi commented on #1864
could successfully add the owners.!

[2016-12-15 13:27] james-lawrence commented on #1827
well let me know if there is anything I can do to help.

[2016-12-15 17:21] haganbt commented on #1430
@danmarshall - im seeing the same. I have a simple menu setup whereby starting a new session prompts for a selection. No matter what is selected from the menu, the same start menu is reloaded. This does not occur in Chrome (i.e. the menu session continues), but fails in Safari (desktop and ios).

Ive recorded a quick screen grab here of the issue: https://dl.dropboxusercontent.com/u/39437082/safar

[2016-12-15 18:51] schwartazi commented on #1862
Hi Eric
When I disconnect the PC from the network I recieve an error, this is
although there is no App Id or password. I use version 3.0.0.59

On Thu, Dec 15, 2016 at 7:23 AM, Eric Anderson <notifications@github.com>
wrote:

[2016-12-15 19:07] danmarshall commented on #1430
@haganbt looks like you are using the v1 webchat control - can you try using the Preview version?

[2016-12-15 19:15] haganbt commented on #1430
Thanks @danmarshall - daft question, where do I find the preview version? Im using this: https://docs.botframework.com/en-us/support/embed-chat-control2/

[2016-12-15 19:52] earlyster commented on #1829
ok I am trying with directline and update/delete activity apis are giving 405 -- method not allowed... maybe directline is a channel that doesn't allow updating/deleting activities.

[2016-12-15 20:07] olumytee commented on #1470
Hi everyone, any update on this ?

[2016-12-15 20:47] eanders-MS commented on #1862
Please try out our new, cross-platform emulator: https://github.com/Microsoft/BotFramework-Emulator/#download. I have verified this one will work offline.

[2016-12-15 20:56] danmarshall commented on #1430
@haganbt looks like that document should be updated :)
At the end of step 1 you will see a "use preview" checkbox.

[2016-12-15 21:22] haganbt commented on #1430
Wonderful, confirmed fixed in Safari @dandriscoll. The preview control looks much lighter also, so kudos on the optimizations.

Appreciate the quick support.

[2016-12-15 22:14] msft-shahins commented on #1866
Bot builder 3.4 which is the latest version is dependent on Microsoft.Rest.ClientRuntime - 2.3.2: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Builder/Microsoft.Bot.Builder.nuspec#L28

I guess you get the 500 because bot builder cannot load the right version of assemblies.

[2016-12-15 22:14] #1866 closed

[2016-12-15 23:59] danmarshall commented on #1853
The webchat is now an open-source control that you may customize as you see fit: https://github.com/Microsoft/BotFramework-WebChat

There are instructions there as how you may develop, build, and self-host your own webchat control.

[2016-12-15 23:59] #1853 closed

[2016-12-16 00:00] danmarshall commented on #1755
Closing this issue for now. @sravaniVajjha if you have any more specific questions please open a new issue, thanks.

[2016-12-16 00:00] #1755 closed

[2016-12-16 00:01] danmarshall commented on #1430
@ToshiAtKuroneko can you verify this behavior in the new version of the webchat control?

[2016-12-16 00:02] danmarshall commented on #1430
@ajayp can you send a link to your bot's webchat?

[2016-12-16 00:04] danmarshall commented on #1103
@Sams4u we have a new open-source version of our webchat control, which should enable this behavior. If you go to your bot's Channel config page for webchat, you can create a new site definition for a webchat and click the "webChat Preview" checkbox to get the new version.

[2016-12-16 02:12] palmerabollo commented on #1861
Your want to send a **proactive message** from the bot to the user.
You need to store the user's address (extracted from one of the messages from that user) in your system and schedule some kind of daily timer (ex. `setTimeout`). This way you can send the message to the user. Look for proactive messages in the issues list.

[2016-12-16 03:28] siduppal commented on #1821
The fix is now being deployed. Please let us know if you see this issue.

[2016-12-16 03:28] siduppal commented on #1851
The fix for signin card is now being deployed.

[2016-12-16 04:23] cesarvarela commented on #1750
Any comment from MS guys about this?

This is a really big concern for us as well., banks specially don't like it.

In fact, if this isn't possible, we might have to switch to another framework.

[2016-12-16 06:16] dhirajgupta1 opened #1868 "How to use Bing Intents and entities?"
Hello,

I enabled Bing Entity and Intent Detection in my bot but didn't observe any change in my bot.
Please help me in following
1) Any sample or example demonstrating how to use Bing (or Cortana) Intents and Entities (C#) ?
2) Is it possible to use Bing Intents and Entities along with my LUIS Model to make my chat bot intelligent enough to respond open world queries apart from specific business

[2016-12-16 12:21] ToshiAtKuroneko commented on #1430
I will try Preview Version on December 17th in Japan time.
Please wait a little more.

[2016-12-16 14:00] kanwal019 commented on #1841
@msft-shahins Any solution regarding this ?

[2016-12-16 16:29] matias87 opened #1869 "CreateDirectConversation with Facebook"
Hello,

When I create a conversation with an user, I use the next code. If I use it for skype or telegram i have not problem, the CreateDirectConversationAsync method return an correct Id, but if I use it for Facebook, this method crash and return "CreateConversationAsync FAILED: Missing Bot Id", any idea?

var userAccount = new ChannelAccount()
                {
                    Id = this.IdUs

[2016-12-16 16:46] alexcocian opened #1870 "LuisIntent with required parameter not being called"
I have an intent with a required parameter. When I write a query without that parameter, the bot replies automatically with the message defined in the LUIS Model.
![image](https://cloud.githubusercontent.com/assets/15215157/21270516/ab38bc94-c3bf-11e6-93ec-85abe3b6b612.png)
The problem is that if I supply **just** the parameter as an answer, it does not work because it re-evaluates the text (ignor

[2016-12-16 17:02] srozga opened #1871 "Calling API to talk to Bot"
Seems like the new calling API doesn't really integrate with a bot itself. I would like to create a calling API bot that connects to a bot created using the Bot Framework.

First, are there plans to make this more seamless at any point?

In the meantime, it seems I can implement this. It seems that connecting it directly to my messaging controller from the calling controller does not make sense be

[2016-12-16 17:34] cesarvarela opened #1872 "Detect when LUIS fails and act accordingly"
Hi, our luis model is 404ing right now, and the `onDefault` intent is being triggered.

Whats the recommended way to handle this?

We would like to show a custom message.

[2016-12-16 18:02] LMEdwards commented on #1850
Incident #1863 has been opened for our bot, App ID d0c51261-0af6-41c9-9654-af10bf1d4c24.   Maybe that will help to obtain an answer...or maybe not.

[2016-12-16 18:33] eanders-MS commented on #1857
@kanwal019 Ah, I see it now. DirectLine is not including the user in the conversationUpdate activity. This is a bug in DirectLine. A fix is in the works. In the meantime, you should be able to work around the issue by using the `message.user` field:

[code]

Will this work for you in the interim?

[2016-12-16 18:48] carlosscastro commented on #1846
Hi Jose,

Would you mind sharing a snippet showing your bot's code so I can see what is going on here?

Thanks!

[2016-12-16 18:51] msft-shahins commented on #1868
@dhirajgupta1 bing entity and intent detection is a preview feature that is only available for skype channel. Detected intents and entities are coming in as part of [activity.Entities](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Connector/ConnectorAPI/Models/Activity.cs#L178). Here is an example of detected intent and entities on the incoming activity.Entities

[2016-12-16 18:51] #1868 closed

[2016-12-16 18:53] msft-shahins commented on #1872
@Stevenic is there a way to catch Luis service call failures in node.js SDK and send a custom message to user?

[2016-12-16 18:57] vamsitp commented on #940
Same issue here. Works neither with NGrok nor on Azure. All settings are fine (MicrosoftAppId/MicrosoftAppPassword set, Microsoft.Bot.Builder.Calling.CallbackUrl set to HTTPS et al).
Webhook URLs do not get hit at all (both NGrok and Azure). I tried manually hitting the NGrok Url (xyz.io/api/calling/call) thru Fiddler and it gets hit. But when I make a call on Skype, it does not get hit.

Also, th

[2016-12-16 19:00] srozga opened #1873 "Azure Assembly documentation"
I cannot find any documentation for this assembly. Looking at the code for the .Azure assembly, I could see us using this code very soon. I am somewhat confused as to how it should be used though. Seems like there are two Modules I need to include: TableLoggerModule to get the table logging functionality and AzureModule for storing the conversation messages into an Azure table. For the TableLogger

[2016-12-16 19:55] msft-shahins commented on #1869
@matias87 are you using the bot id scoped to facebook channel? Keep in mind that you can only create a direct conversation with a user that your bot have interacted with before.

Generally, you need to keep the [address](https://github.com/Microsoft/BotBuilder/blob/8f0d6bbc1ef0fcef99b04560391384aba8fcde15/CSharp/Library/Microsoft.Bot.Builder/Dialogs/Address.cs#L58) based on a previous conversation

[2016-12-16 19:55] #1860 closed

[2016-12-16 19:57] msft-shahins commented on #1852
Facebook send api has a limit on number of characters in the text field. Facebook connector splits the message into multiple messages if the length of text exceeds the limit enforced by Facebook send api.

[2016-12-16 19:57] #1852 closed

[2016-12-16 19:58] srozga commented on #1644
@vossccp's suggestion worked for me as well as a workaround.

[2016-12-16 20:13] ricklove commented on #327
@brandonh-msft Thanks for recommending that!

Selecting the correct luis app and keeping track of that context, makes more sense for performance and preventing collisions than a hierarchy of luis apps.

If you can select the correct luis app at the beginning of the interaction, then you can continue in that context assuming that luis app. (It is also possible to navigate between apps if each app l

[2016-12-16 20:33] msft-shahins commented on #1748
Closing this issue. Feel free to open a new issue if the issue is not resolved.

[2016-12-16 20:33] #1748 closed

[2016-12-16 20:33] msft-shahins commented on #1809
Closing this issue. Feel free to comment here or open a new issue if the issue is not resolved.

[2016-12-16 20:33] #1809 closed

[2016-12-16 20:37] knpoklonski commented on #1748
@msft-shahins it really works, thank you so much

[2016-12-16 21:27] carlosscastro commented on #1842
Hello,

I just tried a small sample based on the code you posted and got it to work. Please see the code below. This code is just a prototype to use as a guide, and not production-ready code, but it shows how to call a dialog based on your tree structure as you were trying to do.

[code]

Hope this helps you! Let us know if you have further questions.

[2016-12-17 00:57] selenir opened #1874 "IntentDialog doesn't match messages longer than 40 characters"
I use `botbuilder` version `3.4.4` for node.js. Intents are not matched correctly when message is longer than 40 characters.

[code]
Every message starting with `echo` will be matched until it has more than 40 characters, then the default intent will be selected.
Node.js `v6.9.1`
NPM `v3.10.8`

[2016-12-17 03:42] ToshiAtKuroneko commented on #1430
@danmarshall I checked "Enable Preview" and tested Web Chat on my iPhone 7.

(1) Chrome: It worked correctly.
(2) Safari: It worked correctly.

The problem of Web Chat on my Phone has been solved.
Thank you very much.

However, why is the newline code ignored, is this a specification?

[2016-12-17 06:17] LMEdwards commented on #1863
@jameslew
How can I determine the status of the review of our bot?   Mgmt is pushing for answers.  Thanks.

[2016-12-17 15:59] neotheicebird commented on #459
Hi. I am able to get the slack token with every message from botframework, but this creates the limitation that the bot cannot start the very first conversation, (say the bot wants to thank a user for installing the app). How can I achieve it?

[2016-12-17 16:51] brunoklein99 opened #1875 "Performance remarks"
I've looked through the documentation for .NET and I've found nothing talking about performance. I was wondering what kind of docs are there regarding something like Do's and Dont's in the context of performance using the BotBuilder Framework.

[2016-12-17 18:52] Stevenic commented on #1817
Yes... our docs were a little out of date with regards to the emulator now being supported across all platforms

[2016-12-17 19:00] Stevenic commented on #1837
Sorry for the delay. I'm on vacation... A couple of things. The length of time the address is valid really depends on the channel. Some addresses will always be valid while others can periodically change. We've been saying that in general you should probably refresh the address every 15 days or so.

It's expected that calling `beginDialog()` will reset the dialog stack, that's what its supposed to

[2016-12-17 19:08] Stevenic commented on #1837
So looking at the code the only way you would get a new userData object is if the user ID had changed which seems unlikely. I can try to reproduce this but it may be a week or so after I get back from vacation.

[2016-12-17 19:12] #1846 closed

[2016-12-17 19:19] Stevenic commented on #1820
Yes...Middleware is run for every incoming request. That's the correct way to use an IntentDialog, I'm just saying that if what your trying to do is log incoming messages you should use middleware for that.

[2016-12-17 19:24] Stevenic commented on #1835
Thanks for tracking the issue down. It's helpful to know the root cause of issues like this.

[2016-12-17 19:28] Stevenic commented on #1594
Not sure what's causing that. Did it include a message?

[2016-12-17 19:34] Stevenic commented on #1562
I'm sorry the answer was staring me right in the face.  For `confirm()` the results.response is a Boolean which corresponds to the users answer.  It's set to false if they say no. You're treating it like a text field so you never hit the inside of your `if (results.response)` statement unless they say yes. try:

[code]

[2016-12-17 19:37] Stevenic commented on #1867
These examples are designed to work with version 3.5 which hasn't been released yet. To use 3.5 you should install using "npm install --save botbuilder@next"

[2016-12-17 19:38] Stevenic commented on #1829
Adding Tom and Dan

[2016-12-17 19:39] Stevenic commented on #1846
I took the pull request

[2016-12-17 19:41] Stevenic commented on #1872
You shouldn't be getting `onDefault` for a 404 from LUIS. Any error results in `session.error()` being called. Are you sure you're utterance isn't just not being detected.  This can happen when the intent score returned is below 0.1. Typically that means you haven't trained your model enough.

[2016-12-17 19:42] Stevenic commented on #1644
This is an issue in the C# SDK not the Node SDK.

[2016-12-17 19:50] Stevenic commented on #1842
@carlosscastro what was the issue? The only thing I noticed in looking through the original code was that not all of the children had titles.

[2016-12-17 20:50] carlosscastro commented on #1842
@Stevenic I actually didn't run into any problem, maybe the problem was in code that was not shared in the issue. However I wanted to share a complete prototype so that they could get unblocked :)

[2016-12-17 21:04] dandriscoll commented on #1829
Hi @earlyster, the MissingProperty error you encountered is because the 'from' field on the activity you sent does not match your bot. If you copy the 'recipient' field from an activity you receive, this will work properly.

Direct Line does not yet support editing activities. This is coming but we don't have a date yet.

[2016-12-17 21:15] miaosenwang commented on #1797
Yes. It is V2.0.  https://api.projectoxford.ai/luis/v2.0/apps/....

[2016-12-18 01:46] laptopdude90 opened #1876 "Get a list of anyone who has ever talked to my bot, or has added it? (Node.js)"
I'm trying to get an array of addresses, consisting of everyone the bot has ever talked to. There are 2 things I need to accomplish: the ability to get a full address from an address.id, and the ability to generate a full contact list.

Is this possible? If not, I can create an array on the fly as message come in, and put it in a file that updates.

[2016-12-18 13:10] AmirSasson opened #1877 "Abilty to Get Notification for any incoming outgoing message"
i want to be able to log any incoming/outgoing message.
being able today to register to IOC container as IActivityLogger is fine, but i need a fine way to understand if it is incoming or outgoing message.
i do it today by checking who is the recipient and check if it is my bot, it doesnt fell right to me.
i prefer to get notification if it is incoming/outgoing from the framework.
i saw that for Sk

[2016-12-18 14:50] clari182 opened #1878 "FB get user location with nodeJs"
Hi all! I have a question regarding how to handle when a user sends a location. I'm working with NodeJS

I used to do the following and it worked perfectly:

[code]

A few days ago it stopped working and when I debugged it I saw that the entities were empty and nothing in attachments either. So I was wondering if Facebook changed something? I have the same bot in Telegram and it still works.

Does

[2016-12-18 16:22] michhar opened #1880 "QnA Maker bot on Teams - apostrophe problem"
Hi, I've made a QnA Maker knowledge base and one answer has an apostrophe that in Teams returns a different encoding in the response, for example, the answer to one question in Teams to my bot was:
    `My name is bombot. I&#39;m a bill of materials bot for the training team. I provide links to resources.`

[2016-12-18 18:32] Noc2 commented on #1850
I’m probably waiting for two months now. Once I got a message, which said that my bot was rejected and the Terms of Use were missing (which I am pretty sure wasn’t true). Getting at least some feedback would be helpful. Facebook reviewed my bot in less than a week. At the moment, I just concentrate on Facebook messenger.
Microsoft App ID: 64ba2a82-af90-43f0-8aea-42a95405a1ba

[2016-12-18 19:58] schwartazi commented on #1862
Hi Eric
When I tried to install the emulator in the given list I received an error,
see below:

What does it means?
Regards
Adrian

2016-12-13 04:50:39> Program: Starting Squirrel Updater: --install .
2016-12-13 04:50:39> Program: Starting install, writing to
C:\Users\Adi\AppData\Local\SquirrelTemp
2016-12-13 04:50:39> Program: About to install to:
C:\Users\Adi\AppData\Local\botframework
2016-12-1

[2016-12-18 20:12] vjirovsky commented on #1495
hello, please do you have any update about that?

Thanks

[2016-12-18 23:54] gviddy commented on #1878
Yes I have come across the same problem. Latitude and Longitude are no longer showing up in the Entity.

[2016-12-19 05:12] eanders-MS commented on #1862
@schwartazi Sorry you're experiencing this, and thanks for reporting it. What version of windows are you running? Is it 32-bit or 64-bit?

[2016-12-19 05:25] manums commented on #1851
@siduppal  I will try signin card today by adding latest packages. you can go ahead close this issue, if it's already addressed.

[2016-12-19 05:39] kanwal019 commented on #1857
@eanders-MS  Sure, This works for me. Thnaks

[2016-12-19 05:46] ajayp commented on #1430
@danmarshall - Apologies, I was on vacation, I just tested this and it is now working on my iPhone 6 using both Safari and Chrome after I checked "Enable Preview"

[2016-12-19 07:47] tahsintahsin commented on #1850
Still didnt get any responses. Can @Stevenic help us or redirect us to someone who can help ?

[2016-12-19 08:16] konstlut commented on #1751
This is not a secret information until you want your bot to be kept in secret.

[2016-12-19 08:21] APXEOLOG commented on #1751
Here it is: 9c53676a-6f1c-4f20-8f8e-1ea7f1f1c8ed

[2016-12-19 08:33] konstlut commented on #1751
@APXEOLOG thanks a lot! I see the record in our registry for your bot is corrupted on our side. I will try to resolve that so it likely be fixed tonight .

[2016-12-19 08:53] chetanmekha commented on #1850
I face the same issue and received the same feedback from Skype side. After receiving feedback come to know that terms and condition , policy are mandatory for bot approval on Skype.

[2016-12-19 09:59] var23rav commented on #1867
_Since all the example codes are in_ **master** branch, I think its better to mention these dependencies in package.json file.

[2016-12-19 10:34] mukeshzt commented on #1842
@Stevenic Shared code is the same code where I'm facing the issue. Now its running for my new skype account but not the previous account.
1. I have **abc** skype account. When I run the code with the firstChild.push(node1.model.children[i].id); it will work.
2. If we stop the node (by Ctrl + C) and again change the line firstChild.push(node1.model.children[i].title); then its show the above mentio

[2016-12-19 11:25] vignestheo commented on #1850
Guys any one give examples for terms and condition and policy for bot
On Mon, 19 Dec 2016 at 2:23 PM, chetanmekha <notifications@github.com>
wrote:

[2016-12-19 12:03] matias87 commented on #1869
Hello @ msft-shahins yes, I save the userId (facebookId, SkypeId, etc) in the initial conversation. I have problems only with Facebook, the other platforms work well.
I understand that the CreateDirectConversationAsync method works only with the userId.
Maybe saving the last conversationId can create an activity and make a reply.

[2016-12-19 12:36] chetanmekha commented on #1850
terms and condition : http://getmassively.com/TOS.pdf
privacy : http://getmassively.com/Privacy-Policy.pdf
You can use it as a reference.

[2016-12-19 13:03] jagdish-176 opened #1881 "Is there any standard guideline for how much throughput Messaging endpoint support?"
I'm testing my "Messaging endpoint".
As all request are coming from "Microsoft Servers"  I want to know how much load it should support?

[2016-12-19 13:09] sebsylvester opened #1882 "triggerAction method is undefined in botbuilder 3.4.4 (npm)"
The updated examples for Node.js show the usage of the ```triggerAction```  method invoked on the ```SimpleDialog``` instance returned by ```bot.dialog```. However, after running the code, I found that this method is undefined and throws a ```TypeError: bot.dialog(...).triggerAction is not a function```.
Is this a change in the framework that hasn't been published to npm yet?

[2016-12-19 13:25] vignestheo commented on #1850
@chetanMekha

Really thanks for your timely help

On Mon, Dec 19, 2016 at 6:06 PM chetanmekha <notifications@github.com>
wrote:

[2016-12-19 13:37] ToshiAtKuroneko commented on #1430
@danmarshall  This bug was fixed in the Preview version. Please close it.

[2016-12-19 14:00] sameerinfodb opened #1883 "Configuring the Email Connector to Bot Framework"
Hi Team,

Note able to use the Live Email id for configuring Email channel to the bot , Always getting
"Unable to Validate the given credentials". But i'm able to login to office 365 using the  same live Email id.

Can anybody from bot framework team help in configuring the Email connector. please.

Regards,
Sameer Ahmed.S

[2016-12-19 14:07] konstlut commented on #1815
Hello @euanlau! Thank you for the issue. Unfortunately I wasn't able to reproduce that myself (the video is played with and without thumbnail). Could you please provide specific urls that don't play as well as your bot Id (that could give me some pointers in our logs). Thanks!

[2016-12-19 15:12] konstlut commented on #1745
@puneetsngh Could you please check if this is still an issue, and if yes - could you please provide a sample that crashes the application. Thanks!

[2016-12-19 15:29] konstlut commented on #1816
@euanlau Thank you for the issue. I spoke to Skype iOS devs and they think formatting is correct. Could you please elaborate on what is not formatted properly. Thank you!

[2016-12-19 16:07] #1430 closed

[2016-12-19 16:13] sameerinfodb commented on #1883
Got to know that we have to use only Office 365 Business account email id for configuring the Email channel. If we use Office 365 home it does not work.

[2016-12-19 16:13] #1883 closed

[2016-12-19 16:36] matias87 commented on #1869
I solved it, I did not realize that the bot's credentials are different for facebook, telegram or skype.
In my code, "myIdBot" is diferent for each plataform.
var botAccount = new ChannelAccount()
{
Id = "myIdBot",
Name = "myNameBot"
};

Thanks a lot

[2016-12-19 17:52] #1869 closed

[2016-12-19 18:09] clari182 commented on #1882
Hey! I'm using it but with version 3.5.0-rc8 of botbuilder. I think you should try updating the botbuilder version in order to get it.

[2016-12-19 18:13] msft-shahins commented on #1882
triggerAction is available in RC versions of 3.5. It will be available in the official package when 3.5 is released. If you want to access the new functionality reference the RC.

[2016-12-19 18:13] #1882 closed

[2016-12-19 18:33] wordysmith commented on #1880
A general tip for watching that your utilization of apostrophes is right is to change the phrase around so that the part before the apostrophe turns into the last word. If it still has a similar meaning, the meaning, was right.

[anagram finder...](http://wordmaker.info/ending-with/ar.html)

[2016-12-19 18:43] mcsee opened #1884 "Sending Hero card to Kik raises message":"[] is too short"
Sample code working on Telegram, Facebook, slack and webchat but not on Kik

{"type":"message","text":"hola","from":{"id":"regressionbot","name":"RegressionFB"},"recipient":{"id":"conversalab","name":"conversalab"},"attachments":[{"contentType":"application\/vnd.microsoft.card.hero","content":{"title":"BK Combos Hamburguesas","subtitle":"Extra Burger, Napolitano, Big King, Stacker\u00ae Doble, Tri

[2016-12-19 18:44] msft-shahins commented on #1876
@laptopdude90 your bot needs to keep track of users that it is having a conversation with to achieve this. You can use a data storage of your choice, e.g. a simple persistent hash table, to track unique users that the bot have interacted with.

[2016-12-19 18:44] #1876 closed

[2016-12-19 18:49] msft-shahins commented on #1875
@brunoklein99 thanks for your feedback. Currently we don't have any performance analysis of the bot builder SDK. I will add this to our backlog items. Also let us know if you are hitting any specific performance bottleneck and we will investigate that.

[2016-12-19 18:53] euanlau commented on #1816
@konstlut  The iOS bubble consumes the entire screen width. On the other hand, the Desktop bubble wraps around the text.

[2016-12-19 18:54] euanlau commented on #1816
@konstlut This happens only when `<br/>` is used as line break.

[2016-12-19 18:54] shubhamkumarnayak commented on #127
Can anyone help me achieve this http://stackoverflow.com/questions/41228369/ms-bot-with-multiple-form-dialog

[2016-12-19 18:56] euanlau commented on #1820
I want to log after the intent is identified. So I don't think middleware can be used.

[2016-12-19 19:08] msft-shahins commented on #1875
Closing this since it is tracked as a work item in our internal tool.

[2016-12-19 19:08] #1875 closed

[2016-12-19 19:11] msft-shahins commented on #1877
Thanks for your feedback. Another way to work around this is wrapping the IPostToBot from container with your own implementation of IPostToBot and log the incoming messages in that independent of outgoing message path. I added this to our backlog as a work item.

[2016-12-19 19:11] msft-shahins commented on #1877
Closing this since it is tracked as a work item in our internal tool.

[2016-12-19 19:11] #1877 closed

[2016-12-19 19:20] RichMoeMSFT commented on #1880
Are you seeing this in the Teams web client, desktop, or ?  In the emulator, I can replicate the problem if I display in monotype (e.g. type `'` and you get: &#39;), but in emulator only...

[2016-12-19 19:22] ctstone opened #1885 "NodeJS Calling SDK should allow for clock skew when verifying auth token"
BotBuilder version is 3.0.1 for Node

Today I started seeing my call connector return HTTP 403 responses to Skype. I tracked the responses to `CallConnector.prototype.verifyBotFramework` which is checking the auth token NBF field against current time with no clock skew. NBF is checked in at least 2 places: once explicitly in code and another via a call to `jsonwebtoken.verify` (to my eyes, the fir

[2016-12-19 22:16] msft-shahins commented on #1870
Are you using the bot builder [LuisDialog](https://github.com/Microsoft/BotBuilder/blob/8f0d6bbc1ef0fcef99b04560391384aba8fcde15/CSharp/Library/Microsoft.Bot.Builder/Dialogs/LuisDialog.cs#L143) to call Luis api? With C# bot builder 3.4, we added support for [LuisActionDialog](https://github.com/Microsoft/BotBuilder/blob/8f0d6bbc1ef0fcef99b04560391384aba8fcde15/CSharp/Library/Microsoft.Bot.Builder/

[2016-12-19 22:16] #1870 closed

[2016-12-19 22:18] konstlut commented on #1751
@APXEOLOG Will you try that again, please?

[2016-12-19 22:31] APXEOLOG commented on #1751
@konstlut It works fine now, thank you!

[2016-12-19 22:34] msft-shahins commented on #1808
@gviddy this should have been fixed now and you should be able to send `sender action` as channel data to Facebook.

Also here is an example on how you can use typing activity to send typing indicator to different channels instead of relying on the channel data: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Samples/SimpleDispatchDialog/SimpleDispatchDialog.cs#L28

[2016-12-19 22:34] #1808 closed

[2016-12-19 23:04] msft-shahins commented on #1841
@kanwal019 you can schedule a task, e.g. using azure scheduler or queue, to send a proactive message to user if you detect inactivity. If you look at the documentation for [proactive bot template](https://docs.botframework.com/en-us/azure-bot-service/templates/proactive/#navtitle) you can see how it queues a message in azure queue and generate triggers to the bot from messages in the queue that ca

[2016-12-19 23:04] #1841 closed

[2016-12-19 23:27] maxolidean opened #1886 "Error Loading Data when trying to do a performance analysis with Luis.ai"
Hi. I think this issue started a couple of days a go. My app id is d11468ce-7486-4150-aa1a-5558be92428f

<img width="230" alt="screen shot 2016-12-19 at 8 23 27 pm" src="https://cloud.githubusercontent.com/assets/1413756/21332763/81100bea-c629-11e6-968d-2d1fcc152632.png">

[2016-12-19 23:29] #1678 closed

[2016-12-19 23:36] msft-shahins commented on #1644
Similar to #1729. This is not an issue with the SDK. By desing, MicrosoftAppCredentials only sets the JwtToken of the bot for the post requests to trusted host names. For regular incoming messages to bot, BotAuthenticator adds the service urls to the trusted set if the incoming request to bot is authenticated.

For proactive messages or for the calls to connector that happens in a process that hav

[2016-12-19 23:36] #1644 closed

[2016-12-20 01:51] gviddy commented on #1808
@msft-shahins  Awesome! Works as expected. thanks! 👍

[2016-12-20 03:00] chanan opened #1887 "PlayAudio does not seem to work in the emulator"
I have a card with two buttons. one uses openUrl, and the other playAudio. They both link to files created by Cognitive TTS from the same inputs (Note: I also used audio files not created by TTS). Codec is: riff-8khz-8bit-mono-mulaw

The openUrl indeed opens Edge and plays the audio. playAudio does not work.

Here is the json with the links to the files:

[code]

[2016-12-20 03:08] eanders-MS commented on #1887
@danmarshall an issue in webchat control?

[2016-12-20 05:26] RichMoeMSFT commented on #1827
Hey there:  we can't repro the issue here.  Are you still seeing the issue?

[2016-12-20 06:42] alokraj68 commented on #1843
@gioffyx I did try hangfire but failed with it. and the template @willportnoy linked seems of another type. I saw many bots that match my requirement but could not find any place where this requirement is addressed

[2016-12-20 06:59] piyush-dholariya commented on #193
@Stevenic  sometimes if there is any error in code then session is returning default_error message & if its correct then default_choice, so how can I handle those events & pass my custom message?

[2016-12-20 07:28] slidenerd opened #1888 "error builder.AnimationCard is not a constructor"
Hi, first of all , thanks for the fabulous effort in maintaining this library. I want to send a GIF across all channels and read about AnimationCard in the documentation repo

My code looks like this
[code]
I did open the node_modules folder and went to botbuilder/lib/cards and did not see an AnimationCard. any ideas why? Thank you for your suggestion in advance
[code]

[2016-12-20 08:47] alexcocian commented on #1870
I'm not calling the API directly, I'm using a class inherited from LuisDialog<object> with a LuisModel attribute. If the user writes a query to the bot that does not have a required parameter, my code doesn't get called anymore because the "Prompt" text defined in the Luis Model is shown automatically.

Anyway, I managed to get it working by adding a Phrase List (for a predefined set of supported

[2016-12-20 08:49] astrung commented on #1712
Close. I have changed flows , and no need to use it

[2016-12-20 08:49] #1712 closed

[2016-12-20 11:10] JPThorne opened #1889 "Request for documentation | DefaultIfException"
Hi there, re my SO question: http://stackoverflow.com/questions/41218861/c-sharp-ms-botbuilder-usage-of-defaultifexception

Please could we get some documentation on how to use DefaultIfException to prevent the "sorry my bot code is having an issue" message being passed back to the user on every exception in a dialog.

Some way of overriding the message would be great, or sample code on how to use

[2016-12-20 11:37] #1851 closed

[2016-12-20 14:08] JPThorne opened #1890 "Microsoft.Bot.Connector.DirectLine.Models -> Message.FromProperty sets From Id, not From Name"
Hi there. We're using the directline nugetpackage/SDK in our project to directly interact with our bot.

As the title suggests, setting the FromProperty on a Message results in a call to the DirectLine Api with only the id on the From set to the FromProperty value. There does not seem to be a way to set the From Name as well.

For example:

Calling the following, with the from param set to "Integr

[2016-12-20 14:24] slidenerd commented on #1888
I have fixed the error
first of all, check the cards folder inside botbuilder library's main src. If you dont see AnimationCard, you need to uninstall botbuilder and install what I can call as the unstable release probably
`npm install --save botbuilder@next`

That should help
In the next step, create an AnimationCard like anything else
[code]
Finally, initialize like a HeroCard
[code]

And there

[2016-12-20 14:24] #1888 closed

[2016-12-20 15:09] arafattehsin opened #1891 "Issue in updating Bot Builder with NuGet Package"
Dears

When I am trying to upgrade the Bot Builder on my current project. I'm getting this error below;

Unable to resolve dependencies. 'System.IdentityModel.Tokens.Jwt 5.1.0' is not compatible with 'Microsoft.Azure.AppService.ApiApps.Service 0.9.64 constraint: System.IdentityModel.Tokens.Jwt (>= 4.0.0)',
'Microsoft.Bot.Builder 3.4.0 constraint: System.IdentityModel.Tokens.Jwt (>= 4.0.2.206221351

[2016-12-20 15:40] #1751 closed

[2016-12-20 17:00] almostWaldo commented on #1759
Which version of bot SDK are you using?

[2016-12-20 18:22] msft-shahins commented on #1891
This is not a dependency bug. System.IdentityModel.Tokens.Jwt has a breaking change in 5.0 version and bot builder currently implemented based on the 4.0 version. As a result we limit the version of nuget that builder is dependent on in the nuspec: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Builder/Microsoft.Bot.Builder.nuspec#L30

[2016-12-20 18:22] #1891 closed

[2016-12-20 18:40] willportnoy commented on #127
@shubhamkumarnayak can you start a new issue?

Separately, it looks like there is an answer on that stackoverflow post.

[2016-12-20 18:40] james-lawrence commented on #1827
yes.

[2016-12-20 18:45] james-lawrence commented on #1827
but something changed on the botframework's endpoint as it went from rendering properly to rendering html. I feel like its getting rendered twice somewhere after it leaves our system into yours.

things to note: this happens when in the teams UI? not skypes. not sure if that could be why you can't reproduce.

[2016-12-20 18:49] willportnoy commented on #1889
I posted an answer there: http://stackoverflow.com/a/41249263/6520103

[2016-12-20 18:50] msft-shahins commented on #1889
Generally exceptions are propagated through dialog stack and each dialog on the stack has the opportunity to catch the exceptions thrown by the child dialog in their ResumeAfter delegate. If exceptions are not handled by the dialog stack, you can register your own IPostToBot with the container wrapping the default IPostToBot implementation and send different messages to user for different type of

[2016-12-20 18:50] #1889 closed

[2016-12-20 18:52] dandriscoll commented on #1890
Hi @JPThorne, Direct Line 3.0 supports setting all properties on the From field. The 3.0 protocol is in Preview and the client is in Beta, you can update the Nuget package by clicking the "Show pre-release" option in the Nuget client and then updating to 3.0.0-beta.

[2016-12-20 18:57] msft-shahins commented on #1861
@vignestheo as @palmerabollo suggested you can schedule a task, e.g using azure task scheduler, that triggers your bot with the user's [Address](https://github.com/Microsoft/BotBuilder/blob/8f0d6bbc1ef0fcef99b04560391384aba8fcde15/CSharp/Library/Microsoft.Bot.Builder/Dialogs/Address.cs#L45) and then your bot can use the address to compose a message and send it to the user.

You can read the docume

[2016-12-20 18:57] #1861 closed

[2016-12-20 20:46] RichMoeMSFT commented on #1827
I'm not seeing this in Teams UI, desktop or web, nor in the emulator, and I'm hitting skype.botframework.com.  I've tried recreating your exact message from above, and even played with other markdown formats, but it's all displaying correctly.

[2016-12-20 21:51] james-lawrence commented on #1827
hmm interesting. now is there any configuration that may impact this that is done over at https://dev.botframework.com/bots?

for example is microsoft teams enabled for you? what about skype? (we have both enabled)
What about how the api credentials were created? we did that at https://apps.dev.microsoft.com/.

Will providing you with an environment this is occurring in help you? I'm happy to invi

[2016-12-20 22:18] gregk opened #1892 "[Direct Line] Performance & latency issues with BotBuilder"
So, we really like the concept of BotBuilder to design sophisticated CI applications. We easily moved our solution to LUIS because of the power of its intents.

However, we are seeing 4 to 6 second turnaround times in BotBuilder between communication to and from the service as well as actions within the service. We aren't finding any issues with LUIS which is sub 500 ms. In seems like others have

[2016-12-20 23:26] Codelica commented on #1035
And why would "content**Url**" contain the actual encoded attachment data vs "content" which appears to also be a property?  This seems odd..

[2016-12-21 00:42] dandriscoll commented on #1892
Hi @gregk, which channel are you using? Is this Direct Line like the issue you linked?

[2016-12-21 00:48] dandriscoll commented on #1881
Hi @jagdish-176, most calls to your bot are triggered by user activity, so the amount of load on the bot is determined by 1) the number of users interacting with your bot, and 2) the volume of requests each user sends.

Bots vary in complexity, so some bots will have an easy time handling substantial load (even on a small number of service instances) while other, more complex bots may suffer perfo

[2016-12-21 03:38] dandriscoll commented on #1863
Hi @LMEdwards, sorry for the delay. I'm checking in with our review team.

[2016-12-21 03:49] gregk commented on #1892
Hi @dandriscoll yes, it is direct line.  All communication is between our service and MBF since we don't make use of outside services today.

[2016-12-21 03:54] dandriscoll commented on #1892
If you send a conversation ID, I can get a breakdown and let you know where things stand.

One item of note is that POSTing a message takes longer than it does to write to the service. The call includes transit to our service, persisting the call, transit to the bot, waiting for the bot to complete (which sometimes involves calling back into the service), returning the error code from the bot, and

[2016-12-21 04:25] piyush-dholariya opened #1893 ""default_choice" & "default_error" response from Prompt.js"
During communication with chatbot I am getting "default_choice" & "default_error" in response, though I didn't do any code or response texts with this strings, so can you tell me why I am getting this codes?

I want to customize those message or need to handle those messages as per my requirements. so how can I do that?

[2016-12-21 04:38] gregk commented on #1892
Your write up follows along the lines of our analysis. I'm going to share this with my team. We are writing a hack to work around these issues but would much prefer to use an approved method. Do you have a timeline for moving it out of testing? We would be happy to work an early version and give feedback. Really appreciate your team focusing on this.

[2016-12-21 06:34] JPThorne commented on #1890
Thank you!

[2016-12-21 06:34] #1890 closed

[2016-12-21 07:08] #1867 closed

[2016-12-21 07:27] chetanmekha opened #1894 "Password filed in botbuilder"
Hello Team,
I want to user with their credentials, for that i ask user to enter username and password. Is there any way to hide password / accepted user password in **** / ooooo similar formats. Please help me out on the same.

[2016-12-21 07:44] kanwal019 commented on #1841
@msft-shahins How can I detect inactivity in a conversation. The given example helps in sending the async messages to the user. My requirement need me to send a message to the user, only if the user is inactive more than a particular span of time

[2016-12-21 12:49] virendrak opened #1895 "How to generate new post to Bot from class which extends LuisDialog<object>?"
I have created one C# Bot Framework application. I'm displaying list of buttons in HeroCard based on LUIS intent. If user selects one button, that button text would be passed to other method (called **DiasplayTraining** as shown below) and displays respective information.

![image](https://cloud.githubusercontent.com/assets/10959600/21389758/47600d92-c7a9-11e6-9212-2ca78c7ea037.png)

![image](http

[2016-12-21 13:00] tahsintahsin opened #1896 "Bot disabled error"
Hello,
I receive this when my registered bot tries to connect to directline api v3.
({
  "error": {
    "code": "ServiceError",
    "message": "Site missing or disabled"
  }
})
This happens with one bot only, the other 2 seems fine. Affected bot id is: 59fcba99-2720-469f-9758-d83fb6a76096
What might be causing this? I use the exact same code in another bot and it is working fine. The problem seems

[2016-12-21 13:27] tpernice commented on #1759
It's v3.4

[2016-12-21 14:01] almostWaldo commented on #1759
yeah, it should work there. So, what skype clients did you try? Some devices don't support file names

[2016-12-21 14:05] tpernice commented on #1759
Skype Desktop for Windows latest version.

[2016-12-21 14:28] LMEdwards commented on #1863
Thank you @dandriscoll .    The submission did have links to our corporate web site for terms&conditions and privacy, so I don't imagine that's the hangup.

[2016-12-21 15:49] dandriscoll commented on #1894
Hi @chetanmekha, there's no way to hide a password in chat. We discourage bot developers from requesting this information directly within the chat window.

One sample that shows how to log a user in is AuthBot: https://github.com/MicrosoftDX/AuthBot. Please take a look at the sample and ensure it meets your security requirements before using the code.

[2016-12-21 15:57] dandriscoll commented on #1896
Hi @tahsintahsin, I took a quick look and it looks like you're using the 3.0 API but support for 3.0 hasn't been enabled for your bot. I'll clean up the error message to indicate that. You can enable support for the new protocol by visiting the Direct Line configuration page where you got your keys, and clicking the checkbox marked "3.0."

[2016-12-21 16:18] dandriscoll commented on #1855
Fixed, thanks!

[2016-12-21 16:18] #1855 closed

[2016-12-21 16:26] dandriscoll commented on #1843
Hi @alokraj68,

If you want the push message (from a timer, etc.) to come in through your bot's messaging endpoint, the sample that @willportnoy linked is the simplest path.

You can build your own webhook system to call a different endpoint on your bot. We don't have a sample for this because there's nothing specific to bots. Simply create a webhook callback, add an appropriate security mode, and

[2016-12-21 16:28] dandriscoll commented on #1825
Hi @willemodendaal, do you have a conversation ID for a case where 1.1 fails to send the response? I can take a look from my side to see what's happening.

[2016-12-21 16:29] dandriscoll commented on #1821
Closing issue, please open a new issue if you encounter this problem.

[2016-12-21 16:29] #1821 closed

[2016-12-21 16:29] dandriscoll commented on #1822
Closing issue. Please open a new issue if you have further questions.

[2016-12-21 16:29] #1822 closed

[2016-12-21 16:31] dandriscoll commented on #1798
Hi @customcoops77, I'm closing this issue due to inactivity. If you need further assistance, please open a new issue and provide details of the problem you're encountering. Thanks

[2016-12-21 16:31] #1798 closed

[2016-12-21 16:36] dandriscoll commented on #1794
Hi @kanwal019, this is possible although it requires you to host the web chat control on your own. To transfer the conversation:

1. Generate a random ID within your Direct Line conversation. Associate this ID with the current conversation.
2. Generate a link to the page hosting your Web Chat control, and pass that ID into the page
3. Inside the page, pass the ID into the Web Chat control
4. Insid

[2016-12-21 16:36] tahsintahsin commented on #1896
@dandriscoll Thanks a lot for fast reply.
I looked at it actually and saw "Bot Framework Version
3.0" on my bot registry page, but I didn't consider framework version and directline version are two separate things. Noting it here in case someone has the same misunderstanding.
Thanks again !

[2016-12-21 16:36] #1896 closed

[2016-12-21 16:37] dandriscoll commented on #1788
Closing as it appears the issue was fixed.

[2016-12-21 16:37] #1788 closed

[2016-12-21 16:40] dandriscoll commented on #1784
Hi @0GiS0, it looks the 403s are the source of the problem. We'll close the issue soon unless you're seeing other problems.

[2016-12-21 16:57] dandriscoll commented on #1885
Agree, this should be relying on the clock skew option in jsonwebtoken.

[2016-12-21 17:42] dandriscoll commented on #1671
Hi @inornos, you can organize your code into one bot (that serves bot Customers and Support Agents), or you can organize your code into two bots (one for Customers, and one for Support Agents).

From there, the Support Agent side must be connected to the Web Chat control. The Web Chat control must be hosted as a JS control or React component, because that's the only way to pass your user's ID into

[2016-12-21 17:43] willportnoy commented on #1895
Are you asking how to disable threading for the message posted in the else block?  You can call MakeMessage to construct an IMessageActivity and clear out the reply ID field before sending the message with PostAsync.

[2016-12-21 17:44] dandriscoll commented on #1665
Hi @samskhan, our Direct Line API is designed to allow you to easily embed your bot within an existing mobile application, a desktop application, or a web page. Since you're using .Net, you can use our Direct Line client directly from nuget: https://www.nuget.org/packages/Microsoft.Bot.Connector.DirectLine

Direct Line has a key/token mechanism so you can secure your bot within a client applicatio

[2016-12-21 17:46] dandriscoll commented on #1641
Hi @enzofab91, that's correct, replying to a Ping message will result in an error. Closing this error as we have identified the source of the problem.

[2016-12-21 17:46] #1641 closed

[2016-12-21 17:48] dandriscoll commented on #1668
I believe this is the one you're referring to: https://github.com/Microsoft/BotBuilder/issues/399#issuecomment-223256399

Closing this issue for now. Please at-mention Steve or me, or open a new issue if you encounter further problems.

[2016-12-21 17:48] #1668 closed

[2016-12-21 17:59] dandriscoll commented on #1750
Hi @cesarvarela, @dhirajgupta1, and @dchumpitaz, currently the bot must have an internet-accessible endpoint for it to work with Bot Connector servers, such as servers for Skype, Microsoft Teams, etc. You can deploy your bot in an on-premise installation as long as its endpoint can be addressed from the internet.

The Bot Builder libraries do not fundamentally rely on internet access, although som

[2016-12-21 18:01] dandriscoll commented on #1749
Closing as it looks like we've got enough in the protocol to handle this. Please open a new issue or at-mention to discuss further. Thanks!

[2016-12-21 18:01] #1749 closed

[2016-12-21 18:04] dandriscoll commented on #1617
Hi @sravaniVajjha, we've deployed additional fixes to the service in the last few weeks and I think we've resolved all of the existing runtime failures. Please feel free to open a new issue if you're still seeing failures, or at-mention me directly and I can investigate further. Thanks!

[2016-12-21 18:04] #1617 closed

[2016-12-21 18:11] msft-shahins commented on #1841
@kanwal019 there are different ways that I can think of. Basically you need a record in your system keeping track of the last time that your bot have interacted with the user. For example, you can schedule the timer first time that you interact with the user and then reset it each time that your get a message from the user.

[2016-12-21 18:22] dandriscoll commented on #1863
Hi @LMEdwards, the review team has been working on this and will reach out to you offline to update on status.

[2016-12-21 18:23] dandriscoll commented on #1831
Closing this issue. Please at-mention or open a new issue if you'd like to discuss further. Thanks!

[2016-12-21 18:23] #1831 closed

[2016-12-21 18:25] RichMoeMSFT commented on #1827
All I did was take a sample bot (Send Attachment Bot Sample in my case) and modify output to display markdown.  I registered it with both Teams and Skype.  Perhaps that would be a quick test for you to see if there's something specific in your implementation?

[2016-12-21 18:25] dandriscoll commented on #1800
Hi @kanwal019, the conversation is started when the web chat control is opened.

Are you asking about starting/stopping the conversation within the client (i.e., controlling whether the client is connected to the server) or within the server (i.e., signaling to the server and bot that the conversation is over)?

[2016-12-21 18:27] dandriscoll commented on #1754
Hi @Deilan, is this a v1 bot or a v3 bot?

The behavior was changed in v3 so that the Bot Connector returns an error to the channel but does not generate error text.

[2016-12-21 18:29] RichMoeMSFT commented on #1848
Apologies for the slow response.

Currently neither CreateDirectConversation nor CreateConversation is supported in the current implementation of Bots in Teams.  We should have updates on our Bots support in January, so stay tuned for more functionality and updated documentation.

[2016-12-21 18:29] dandriscoll commented on #1727
Closing issue due to inactivity. Please open a new issue if you'd like to discuss further.

[2016-12-21 18:29] #1727 closed

[2016-12-21 18:30] dandriscoll commented on #1718
Closing as it appears the question was answered. Please feel free to open a new issue if you'd like to discuss further. Thanks!

[2016-12-21 18:30] #1718 closed

[2016-12-21 18:31] dandriscoll commented on #1721
Closing as it appears the question was answered. Please feel free to open a new issue if you'd like to discuss further. Thanks!

[2016-12-21 18:31] #1721 closed

[2016-12-21 18:32] carlosscastro commented on #1893
Hello,

This is related to localization. Would you mind, if possible, to share your code so we can analyze precisely what the problem is?

Are you trying to do localization in your bot? If yes, please look at [this example ](https://github.com/Microsoft/BotBuilder/tree/master/Node/examples/basics-localization)as reference.

[2016-12-21 18:35] RichMoeMSFT commented on #1606
Regarding issue #1, neither CreateConversation nor CreateDirectConversation are supported in Teams right now.  We should have updated information in the next month or so.

[2016-12-21 18:38] LMEdwards commented on #1863
Thanks for the update.

[2016-12-21 18:50] zentoid commented on #1855
From the REST API link above.
https://docs.botframework.com/en-us/connector/overview/ <-- Returns a 404

From the "Bot Connector REST API" link on the REST API / Bots menu "Can't read from server. It may not have the appropriate access-control-origin settings.".

This link is what is now on the "https://docs.botframework.com/en-us/" page --> https://docs.botframework.com/en-us/restapi/connector/

[2016-12-21 18:54] dandriscoll commented on #1878
Hi @gviddy and @clari182, this appears to be a Facebook problem. We stopped receiving lat/lon data but confirmed this morning that it's back.

[2016-12-21 18:58] dandriscoll commented on #1878
Can you see if it's working for you?

[2016-12-21 19:02] dandriscoll commented on #1516
Hi @ashay-88, is this problem still occurring for you?

[2016-12-21 19:18] RichMoeMSFT commented on #1612
This issue was fixed and deployed several weeks ago.

[2016-12-21 19:25] dandriscoll commented on #1356
I think it depends a bit on the channel, but I'm not sure that presence is the right way to communicate a failure.

We implement this in Web Chat by showing a small error message to the user if the client tried to send a message to the bot and the bot returned an error.

Similarly, in Skype, I've seen a small orange icon appear if I try to send a message to a bot that's misconfigured. The error me

[2016-12-21 19:27] dandriscoll commented on #1566
Hi @JpEncausse, we don't have any plans to share about adding new channels to the Bot Framework other than the Cortana channel that was announced earlier in December.

[2016-12-21 19:27] #1566 closed

[2016-12-21 19:47] cesarvarela commented on #1872
I was going over the free quota of LUIS calls, and that was what triggered  the `onDefault`.

[2016-12-21 20:39] dandriscoll commented on #1272
Hi @FreakDroid, there are three places where an error could occur.

1. We could have a problem contacting your bot. We have App Insights and the error log in the Bot Framework dashboard to help track this.

2. Your bot could accept the message but have an internal error. To the extent that the SDK can help detect these errors, it should. The SDK has improved in this regard since you opened the iss

[2016-12-21 20:39] #1272 closed

[2016-12-21 20:44] dandriscoll commented on #1855
Hi @zentoid, the /en-us/connector/overview page doesn't have content, so I've fixed inbound links so they point to /en-us/restapi/connector, instead.

Can you send a screenshot of where you're seeing the error? I've tried every major browser and https://docs.botframework.com/en-us/restapi/connector/ seems to load fine.

[2016-12-21 20:51] dandriscoll commented on #865
Hi @MironV, the error in this case relates to the total message size -- we cap the entire Activity payload at 256K. One option is to simply host the image and reference it by URL. We'll look at increasing the limit but there may always end up being a cap, and in those cases, sending the image by URL will be the best solution.

[2016-12-21 20:53] dandriscoll commented on #1103
Closing as this has been fixed.

[2016-12-21 20:53] #1103 closed

[2016-12-21 20:56] dandriscoll commented on #1331
Closing as we're following industry standard here. Please at-mention or open a new issue if you'd like to discuss further. Thanks!

[2016-12-21 20:56] #1331 closed

[2016-12-21 20:58] dandriscoll commented on #1366
Closing due to age. Please feel free to at-mention or open a new issue if you'd like to discuss further.

[2016-12-21 20:58] #1366 closed

[2016-12-21 20:59] dandriscoll commented on #1370
@msft-shahins may be better able to weigh in -- he's looking at how this layer sits on frameworks like .Net Core.

[2016-12-21 21:01] dandriscoll commented on #1387
Closing this issue here. Please feel free to discuss on the node-authbot repo, or open a new issue here if the sample does not meet your needs.

[2016-12-21 21:01] #1387 closed

[2016-12-21 21:05] dandriscoll commented on #1395
Thanks all for participating in this thread. We're always working to improve performance and have made additional changes since this discussion. Performance investigations tend to be very specific (based on physical location, message payloads, etc.) so if you're encountering poor performance, please open a new issue and we can follow up in detail.

[2016-12-21 21:05] #1395 closed

[2016-12-21 21:06] dandriscoll commented on #1414
Hi @jcmontx, we don't have concrete plans to add a notification path. If one of the existing notification systems (like Azure Notification Hubs) doesn't meet your needs, let me know (in this thread with an at-mention, or in a new issue) and we can discuss in more detail.

[2016-12-21 21:06] #1414 closed

[2016-12-21 21:08] dandriscoll commented on #1463
It appears locale/preferredLocale() has been added to botbuilder.d.ts. Closing issue.

[2016-12-21 21:08] #1463 closed

[2016-12-21 21:10] dandriscoll commented on #1473
Adding @msft-shahins for .Net Core.

[2016-12-21 21:12] dandriscoll commented on #1562
Hi @dks-ait, have you had a chance to try this solution?

[2016-12-21 21:16] dandriscoll commented on #1580
We've got some thinking around this but as it's a new feature area for the product, we probably won't keep it around as a GitHub issue. Any launch we do of a feature like this will be accompanied by an announcement or blog post.

[2016-12-21 21:16] #1580 closed

[2016-12-21 21:17] dandriscoll commented on #1590
Closing issue as resolved

[2016-12-21 21:17] #1590 closed

[2016-12-21 21:22] dandriscoll commented on #1605
Hi @AndrewBryukhov, does adding a Title resolve this issue for you?

[2016-12-21 21:23] #1612 closed

[2016-12-21 21:47] dandriscoll commented on #1637
Closing this issue, as I don't believe there are any open questions about what the current behavior is.

[2016-12-21 21:47] #1637 closed

[2016-12-21 21:48] zentoid commented on #1855
Hi @dandriscoll

It seems to be something up with my firefox (50.1.0) as it loads ok in chrome.

Screenshot link:
https://www.dropbox.com/s/5mga4hdhho3zwwg/Screenshot%20from%202016-12-21%2021-44-33.png?dl=0

[2016-12-21 22:01] RichMoeMSFT commented on #1611
Just wanted to offer a quick follow up:  Teams does not currently support emojis, but it is on the backlog.

[2016-12-21 22:02] dandriscoll commented on #1733
Hi @Masssluis, I've opened an issue on the Web Chat repo to track the issue for the Web Chat channel.

Which other channels are you interested in?

I know Facebook drops the card if empty; we unfortunately don't have the ability to modify the Facebook UI to change that behavior.

[2016-12-21 22:07] dandriscoll commented on #1742
@Stevenic or @carlosscastro, what kind of action will the call to .dialogAction produce in this case? Will it be openUrl, imBack, postBack, etc.? How could we find out which one?

[2016-12-21 22:09] dandriscoll commented on #1743
Hi @spreddy2714, Skype does support Carousels. The errors you see in the UI are caused by problems within the Card or Action. Can you describe the kind of Card/Action you're trying to generate?

[2016-12-21 22:15] dandriscoll commented on #1752
Hi @senthil2m, there are multiple LUIS service URLs. One of them is https://api.projectoxford.ai/luis/v1/application. The bot also uses Microsoft login and key servers when auth is enabled.

[2016-12-21 22:18] dandriscoll commented on #1760
Hi @spreddy2714, I noticed that in #1742, you were also asking about Node.js dialogActions in Skype. Is this the same question or a different question?

[2016-12-21 22:25] dandriscoll commented on #1789
Closing this issue as we've covered all of the open questions.

[2016-12-21 22:25] #1789 closed

[2016-12-21 22:26] dandriscoll commented on #1796
Closing this issue as it appears we've addressed the problem. If you have additional questions or would like to discuss further, please at-mention either of us or open a new issue. Thanks!

[2016-12-21 22:26] #1796 closed

[2016-12-21 22:32] dandriscoll commented on #1758
Hi @chetanmekha and @abhishan, the behavior depends on the channel.

For Facebook, the image will be displayed uncropped if the aspect ratio is 1.91:1. You can see documentation here: https://developers.facebook.com/docs/messenger-platform/send-api-reference/generic-template

For Skype, I don't have the aspect ratio handy, but I've asked the Skype team to help clarify.

[2016-12-21 22:47] dandriscoll commented on #1805
Hi @ryzam, I've looked at a few conversations and it appears that we're sending messages to your bot, but your bot does not always send messages in response. The last message in some conversations is sent by a user, which is very unusual -- bots almost always send the last message.

Do you have any tracing inside your bot that would help us understand what's happening when we're not seeing a respo

[2016-12-21 22:52] dandriscoll commented on #1818
Hi @vignestheo, can you share your code?

[2016-12-21 22:54] dandriscoll commented on #1824
Closing as it appears the question has been answered. If you want to discuss further, please at-mention or open a new issue.

[2016-12-21 22:54] #1824 closed

[2016-12-21 22:58] dandriscoll commented on #1833
Closing this issue as it appears we've answered the open question. If you'd like to discuss further, please at-mention or open a new issue.

[2016-12-21 22:58] #1833 closed

[2016-12-21 22:59] carlosscastro commented on #1742
@dandriscoll It is of type postBack. [Here ](https://github.com/Microsoft/BotBuilder/blob/master/Node/core/src/cards/CardAction.ts#L112)is the line of code that makes it postBack.

[2016-12-21 22:59] dandriscoll commented on #1835
Closing as we've identified the issue. We'll keep this in mind if others report similar problems. Thanks!

[2016-12-21 22:59] #1835 closed

[2016-12-21 23:03] dandriscoll commented on #1855
Strange, it works for me in both FF 50.0 and 50.1.

Are you familiar with the F12 network debugger and if so, can you see if the page is trying to issue any OPTIONS requests to the service?

[2016-12-21 23:05] Sammons commented on #1835
Thanks guys, really appreciate it!

[2016-12-21 23:06] carlosscastro commented on #1874
Hi @selenir, thanks for reporting this. It is a bug on our side and we'll be working on it.

[2016-12-21 23:07] dandriscoll commented on #1611
Closing as this is not currently supported. If you want to discuss further, feel free to at-mention or open a new issue.

[2016-12-21 23:07] #1611 closed

[2016-12-21 23:08] dandriscoll commented on #1742
Ahh, thanks @carlosscastro.

Hi @spreddy2714, postBack is not currently supported in Skype. Can you switch to imBack and see if that works?

[2016-12-21 23:09] dandriscoll commented on #1848
Closing as this is not currently supported. Please feel free to at-mention or open a new issue if you'd like to discuss further.

[2016-12-21 23:09] #1848 closed

[2016-12-21 23:17] dandriscoll commented on #1887
Web Chat seems to render this OK.

[2016-12-21 23:22] chanan commented on #1887
On my machine (windows 10) the 3rd button which is of type playAudio does nothing.

[2016-12-21 23:22] dandriscoll commented on #1804
Closing the loop on this--

There are a few operations within the Azure Bot Service that can cause code not to be updated, such as refactoring the code into a new folder. This doesn't completely explain why the code was working differently in two channels. However, we don't have a repro for this anymore.

If you see this issue or a similar problem, please open a new issue so it shows up on our rad

[2016-12-21 23:22] #1804 closed

[2016-12-21 23:24] willportnoy commented on #1768
@brandonh-msft are you saying you want to create a ResumeAfter<T> delegate instance that doesn't have T specified yet (i.e. it's left generic)?  I'm not sure if that's possible.

[2016-12-21 23:32] dandriscoll commented on #1850
Hi @tahsintahsin, every bot is unique and our bot review team looks at whether the bot is functioning properly and meets our policy requirements for each of our Microsoft channels (Skype, Teams, and more coming over time).

I don't have an exhaustive list of requirements. However, at a minimum, your bot must be functional in order to be reviewed. (I.e., it should return real text and not be silent

[2016-12-21 23:42] gregk opened #1898 "Guidance on correct way to manage contexts between dialogs"
We are the bot framework on node, and we would like to know, what is the best way to solve following scenario:

User says: I want to schedule haircut at 11:00 AM.
Bot Says: Sorry, this time is not available, choose any time from 10:00 AM, 1:00 PM and 5:00 PM.
User says: 25:00 PM please.
Bot Says: Sorry, I didn't understand, can you please repeat?
User says: 5:00 PM please.
Bot Says: Ok, I schedule

[2016-12-22 00:31] gviddy commented on #1878
@dandriscoll
I just tried now on both the Messenger app on my phone and in the desktop browser. I am still getting an empty Entity list when the user clicks on Location. Hence no location information.

Also I have no idea if Skyscanner uses your framework or not but they also try to use facebook messenger location and when conversing with their bot it does nothing too.

[2016-12-22 02:07] khaueviana commented on #1420
@galazzo this error ocurred because you have to set this configuration before add steps

Like this:

`          var builder = new FormBuilder<DeveloperDialogOrder>();

            builder.Configuration.DefaultPrompt.ChoiceStyle = ChoiceStyleOptions.Auto;

            builder.Configuration.Yes = new string[] { "yes", "sim" };
            builder.Configuration.No = new string[] { "no", "não" };`

[2016-12-22 02:54] khaueviana opened #1899 "Error in facebook bot - message: "...is not a developer type option""
I developed a bot that is integrating with Skype and Facebook Messenger (using C#)

But on Facebook when typing any words, the bot responds "is not a developer type option"

Skype works perfectly.

Why?

[2016-12-22 04:08] piyush-dholariya commented on #1893
@carlosscastro  I don't mind to share code, but problem is that its not 1 class or 1 function code, the whole process is passing from 23 files & lots of methods, how can I share all of them here?

let me explain you more, we have defined many builder.Prompts.choice everywhere, so if we are passing any choice gradually one after another, then it works fine, but if its too fast process to enter choi

[2016-12-22 05:02] itoledo opened #1900 "FormDialog, LuisDialog and multiple choice validation ignores first selection"
I have a very strange issue.
I have a LuisDialog with many LuisIntents that works fine. In one of my intents, I receive my entity and then call a FormDialog:

[code]
My validation function calls a webservice to validate addresses, which calls a webservice. If it returns a single address, validation is OK. If it returns many, it asks the user for disambiguation.

[code]
Problem is, when there are c

[2016-12-22 06:23] Deilan commented on #1754
It's all about the latest version: v3.

As a matter of fact this behaviour (to send error or not; if yes, then what message text to send) should be customizable. Exposing the technical issues and details to the end-users is usually undesirable (unless it's debugging or testing).

[2016-12-22 06:31] areckkimo commented on #1892
I have the same problem.
My bot response slow between 2 and 4 second
The channel of the bot is facebook messager.

[2016-12-22 08:33] AndrewBryukhov commented on #1605
no

[2016-12-22 09:40] virendrak commented on #1895
@willportnoy ,
No, we are not looking to disable posting a message from else block, we are looking to post as new post which should be identified by our LUIDDialog. Currently value inside title is getting displayed but we want this value should be catch by intents in the LUISDialog.

[2016-12-22 09:48] rihamma commented on #1786
LUIS didn't change the entity detection mechanism it works with. Adding one example to the parent or the child is not enough. In your case, you need to add more examples to the child to get better accuracy for it

[2016-12-22 10:15] RasheedSiriyala commented on #1565
I'm having similar issue c#,
user: **text1**
Bot: (One Intent identifies and returns buttons in HeroCard) **Button1/Button2/Button3**
User: (selects/enter other value instead of selecting/entering above buttons value) **text2**
Bot: (displaying) **text2** (But text2 should be identified by LuisDialog intent)
[DisplayTraining.txt](https://github.com/Microsoft/BotBuilder/files/668501/DisplayTraining

[2016-12-22 10:19] zentoid commented on #1855
I removed and reinstalled Firefox and now the page seems to load fine. Not sure what it was unfortunately.

Thanks @dandriscoll

[2016-12-22 11:07] abhishan commented on #1750
@dandriscoll - Agreed that its best that bot be deployed in Azure and many of our clients are comfortable with that.
One client wants an on-prem deployment for the Bot, but is okay to use LUIS.
We are currently **exploring using the code from the emulator and web-chat to build a "chat box" interface** that can be deployed on-premise and will **call our bot's end point directly** without going thou

[2016-12-22 11:14] abhishan commented on #1894
@chetanmekha @dandriscoll We are using **Azure Multi Factor Authentication** to secure a channel and verify the user with known data (in this case mobile number from Active Directory). Its works best when the user is trying to chat with a bot on mobile devices, the authentication experience is quite seamless.
You can read more about it here: http://www.acuvate.com/solutions/bot/

[2016-12-22 11:39] cesarvarela commented on #1750
Yeah, customers understand that NLP has to be an external service. The issue is with the bot connector which is what @abhishan is referring to.

Open sourcing the bot connector would be awesome, otherwise, instructions on how to build one would help too.

[2016-12-22 12:00] yonahforst commented on #311
For anyone stumbling across this, I was also getting 500 errors posting to the `/v3/conversations` endpoint. I solved it by making sure the `Content-Length` headers were set

[2016-12-22 13:24] RasheedSiriyala opened #1901 "Bot Framework not showing attaching file icons other than images i.e (.txt/.css/.doc etc)"
Hi,

I'm attaching a file to bot which will be saved in one location.
When i'm attaching image file to bot its showing image icon properly as shown below,
![image](https://cloud.githubusercontent.com/assets/12622554/21426866/4cc4fabc-c877-11e6-9641-573c02adcc67.png)

But when i'm attaching other than image file i.e txt file, its showing like **[File of type 'text/plain']** as shown below
![image](

[2016-12-22 13:26] clari182 commented on #1878
@dandriscoll Just tried it and still not working :(

[2016-12-22 16:15] almostWaldo commented on #1759
Hi Tom. We found that it's issue in botframework. They don't send the field "Name" for attachments

[2016-12-22 17:03] dandriscoll commented on #1754
Which channel are you using? There may be a bug in the way that channel is handling errors.

[2016-12-22 19:00] carlosscastro commented on #1893
You can compress your code and drag it to the GitHub typing window, it will be attached to the conversation. Then I can take a look and help you diagnose.

default_choice and default_error are text codes, and if those text codes exist in the locale json file, the text shown will automatically honor the json file. I'd highly recommend you take a look at [this example](https://github.com/Microsoft/B

[2016-12-22 20:48] chrimc62 commented on #1779
Are you saying that your descriptions at like "Foobar (ABC123-2)" or that your terms look like that?  If terms, they are regular expressions so you would need to escape them, i.e. "Foobar \(ABC123-2\)".  Otherwise it will not match "Foobar (ABC123-2)" because the parens will not match.  Let me know if this fixes your issue.

[2016-12-22 20:57] willportnoy commented on #1898
I'm sorry I'm having a little bit of trouble understanding the question.

We often use the stack of dialogs (and the current callback within each dialog) as the "context" that helps express what the bot expects to hear next.  You could also use the dialog data as a form of "control flow" state tracking.

In Node, if you want more persistently available actions like cancellation, you might consider

[2016-12-22 21:24] willportnoy commented on #1899
It looks like your bot's source code is generating that text "is not a developer type option".  Can you search for it?

[2016-12-22 21:25] willportnoy commented on #1901
I would upgrade to the new bot framework emulator here:
https://docs.botframework.com/en-us/tools/bot-framework-emulator/

If you find that it doesn't display a particular image type, I would ask here:
https://github.com/Microsoft/BotFramework-Emulator

[2016-12-23 00:02] chrimc62 commented on #1779
Actually digging into this a bit further, there is a bug for terms that start of end with a non-word character like () that will prevent matching on the whole expression.  I will go ahead and fix that and it should be in the next release.

[2016-12-23 03:39] yevsher opened #1902 "Botbuilder.ChatConnector read property of undefined"
Hello,
I'm new to botbuilder framework and tried to create a simple bot using your examples, but when I start the bot using node app.js in windows 7 I receive the error Cannot read property 'ChatConnector' of undefined.
I tried to read articles and blogs but unfortunately did not find a solution. Could you tell me is this the error or my mistake and how to fix it. Here is the code for the bot:
var

[2016-12-23 05:06] ebattulga commented on #1892
I have same problem. Using LUIS and Bot service deployed in local dedicated server. But response delay 4-8 second.

[2016-12-23 05:20] ebattulga commented on #1892
When user send message on Facebook Messenger
It seems to like this. is it correct?
1. Facebook send message to facebook.botframework.com
2. botframework.com send message to my server
3. my server send to LUIS
4. LUIS calculate and respond to my server
5. my server respond corresponding message to botframework.com
6. botframework.com send to facebook

How to skip botframework.com or improve perform

[2016-12-23 06:16] RasheedSiriyala commented on #1901
@willportnoy , my current emulator version is v3.5.23. I can able to see image attachments, but when i'm attaching other files (.txt/.css/.doc etc) bot framework not showing attachment icons as in lync as shown below,
![image](https://cloud.githubusercontent.com/assets/12622554/21448142/2f30ca4c-c905-11e6-97d9-00397d4d6f04.png)

I'm expecting icons for all types of attachments from Bot emulator, w

[2016-12-23 10:37] slidenerd commented on #1204
so how do you set the text format to plain if you are on node.js? any examples

[2016-12-23 11:00] slidenerd commented on #1884
@mcsee  format that input json file, use jsonstack.viewer.hu or some json beautifier, no one wants to read that kinda unformatted json

[2016-12-23 12:04] piyush-dholariya commented on #183
@Stevenic  hi steve I am implementing one food bot using LUIS, so I want to take input from user & give answer, if user enters incomplete info. then I want to reply him with another dialog which I am getting from LUIS json, but how can I get those response dialog  in my Nodejs code? I can not get those dialogs in botbuilder node's intent's function response, my sample json is here.

`{
  "query":

[2016-12-23 12:05] piyush-dholariya opened #1903 "[LUIS] How to handle response dialog in LUIS in Node js"
@Stevenic  hi steve I am implementing one food bot using LUIS, so I want to take input from user & give answer, if user enters incomplete info. then I want to reply him with another dialog which I am getting from LUIS json, but how can I get those response dialog  in my Nodejs code? I can not get those dialogs in botbuilder node's intent's function response, once I required info from user, then ag

[2016-12-23 12:35] piyush-dholariya commented on #1893
`// This loads the environment variables from the .env file
require('dotenv-extended').load();

var builder = require('botbuilder');
var restify = require('restify');
var Store = require('./store');
var spellService = require('./spell-service');

// Setup Restify Server
var server = restify.createServer();
server.listen(process.env.port || process.env.PORT || 3978, function() {
    console.log('%s

[2016-12-23 13:47] slidenerd commented on #1352
so to summarize this,
you would have the bot.beginDialogAction inside a setInterval?
[code]
can you please clarify where var msg = new builder.Message().address(savedAddress).text('action?sendQuiz=' + question);
bot.receive(msg); comes into the picture?

[2016-12-23 15:26] mcsee commented on #1884
Sure ! There you go @slidenerd

{
	"type": "message",
	"text": "hola",
	"from": {
		"id": "regressionbot",
		"name": "RegressionFB"
	},
	"recipient": {
		"id": "conversalab",
		"name": "conversalab"
	},
	"attachments": [
		{
			"contentType": "application/vnd.microsoft.card.hero",
			"content": {
				"title": "BK Combos Hamburguesas",
				"subtitle": "Extra Burger, Napolitano, Big King, Stacker® D

[2016-12-23 15:27] mcsee commented on #1884
Editor destroys tabs

Online version : http://codebeautify.org/jsonviewer/cb56411c

[2016-12-23 17:23] piffarettig opened #1904 "Cleaning up code handling intentions in LuisDialog"
I am using a LuisDialog to handle all posible intentions in my bot. Particularly one of them is kind of complex and is handling multiple different cases. Functionality works but code is a mess, so I want to clean the code and make it modularized, classes with single responsibilites (my current LuisDialog handle all intentions and handle all the logic for them),  same abstraction level, etc.

I'd l

[2016-12-23 20:28] yevsher commented on #1902
The thing is that everything worked fine but I left the code for a week and the error appeared. Here is the command prompt window

![command_line](https://cloud.githubusercontent.com/assets/8384403/21461930/22bc04c0-c95f-11e6-8f00-356b58e91741.png)

[2016-12-23 21:24] eanders-MS commented on #1204
Hi @slidenerd, use the `textFormat` accessor:
[code]

[2016-12-23 21:31] michaelsrichter opened #1905 "Dialogs appear to be cached."
Hi, in the code below, I want to route the user to the correct dialog. If there's an image attached, go to the PicturesDialog, if they are start a config action, go to the config dialog, otherwise go the main dialog.

The problem is that when I start a new conv in the Emulator, the first dialog that gets used is used for all further conversation messages. When I step through the code locally, I se

[2016-12-24 04:57] willportnoy commented on #1905
You should only have a single call to Conversation.SendAsync in your application, with a single root dialog.  if you want to dispatch to different dialogs based on activity properties, I would do so in a new, separate root dialog.

[2016-12-24 04:57] willportnoy commented on #1904
You might consider the DispatchDialog - it helps with unpacking entities and selecting the proper method overload to invoke.

[2016-12-24 04:59] willportnoy commented on #1901
@eanders-MS can you comment?

[2016-12-24 09:10] AraHaan opened #1906 "Add a Python BotBuilder for Python 3.6 that uses asyncio."
This SDK looks promising however it would be nice if there was a Python version for those who use 3.6 so that way they can have fun with asyncio as well.

Use Web requests and whatnot? There is aiohttp and the websockets library which of course discord.py also uses (discord.py is a wrapper for the discord API in python that uses all 3 of these things).

[2016-12-24 09:19] ebattulga opened #1907 "Facebook Quick Reply wont send payload"
I'm using Facebook Quick reply like this:

[code]

When i click quick reply, it always send quick reply title. Why it is not send payload.

I cannot test it in Bot framework Emulator. Because Emulator cannot preview quick reply.

[2016-12-24 10:09] areckkimo opened #1908 "How to get user name of facebook messenger ?"
How to get user name of facebook messenger?
I use Node JS SDK
please help
thanks

[2016-12-24 12:11] gilesbutler commented on #1892
Also seeing very slow response times from the Bot framework, even just using the emulator in the portal we're getting 2-4 second delays.

[2016-12-24 14:26] clari182 commented on #1878
@gviddy I think it's working fine again 👍
I just tried several times with my bot and it was receiving it well. I hope it works fine for you too!

@dandriscoll Thank you for your help!!

[2016-12-24 15:18] akerr95 commented on #1142
@maxpert  trying your method doesnt solve it .... also my problem is it doesnt even throw an error as what may be wrong.

[2016-12-25 08:44] ebattulga commented on #1907
I found my answer.

Facebook quick reply always send back **text**. If you want to get **payload** data, `Activity.ChannelData` include it.

[2016-12-25 08:44] #1907 closed

[2016-12-25 12:44] gilesbutler opened #1909 "Can't see any logging in Azure portal from the bot"
I have a basic piece of code just to log what's in the session and it's not outputting anything to the Log panel in the Bot Service...

[code]

```console.log('TEST');``` doesn't even log anything either. I've tried to enable logging in the Diagnostic Logs section of the Application Settings but I just get an error: "Failed to update web app logs settings"

Any idea what's going on?

[2016-12-25 13:50] piffarettig opened #1910 "Get user info inside LuisDialog"
I want to get user info (for instance his/her Skype username), but i'm doing that inside a LuisDialog.

How can I access the parent activity inside an intent handler function?. I saw this answer https://github.com/Microsoft/BotBuilder/issues/1084#issuecomment-242543615 that @willportnoy did but passing` IAwaitable<IMessageActivity> activity` as a parameter to the intent handler throws me an except

[2016-12-25 23:33] willportnoy commented on #1910
You can use the context.Activity property to access the original incoming activity.

[2016-12-25 23:37] willportnoy commented on #1908
https://github.com/Microsoft/BotBuilder/issues/1401 and https://github.com/Microsoft/BotBuilder/issues/291 seem to be related - does the "from name" property have what you want?

[2016-12-26 08:34] vaisakhrbt opened #1911 "[Question] How can i have multiple user in same conversation with Bot ?"
Eg 1:
Bot: Are you agree with PartyA's argument ?
PartyB: No
PartyA: Why, whats the problem ?

Eg 2:
Bot: This is my conclusion what do you guys(PartyA, PartyB) say ?
PartyA: Sure, I agree.
PartyB: Me too.

How I can implement these currently i using ConsoleConnector and ChatConnector ?

[2016-12-26 10:07] Ani110591 opened #1912 "Is it possible to handle user generated small-talk through Bing & Cortana features from LUIS"
I am implementing a chatbot which can help users fill a form and get relevant leads contacting the user. Now as part of this, there is a possibility that the user may come up with some small talk like "How are you?" "Who are you" "What is your name?" etc.

Though I have answers for the same, I cannot think of an efficient way than training each of these sentences as a separate LUIS intent. But sin

[2016-12-26 10:42] gilesbutler commented on #920
I can create a new line but can't seem to create a line between them...
[code]

Any ideas how to get an extra blank line?

[2016-12-26 11:28] b4usat commented on #1865
We implemented the similar scenario by putting a timer control. After some seconds, message will be pushed to the user.

[2016-12-26 11:43] piffarettig commented on #1910
That property doesn't appear on my context, on which version was that introduced?

[2016-12-26 12:00] venkat345 commented on #144
Is it Possible to integrate wit.ai with Mircrosoft bot framework? Is there any documents for this?

[2016-12-26 12:04] piffarettig commented on #1910
Just updated BotBuilder `(Microsoft.Bot.Builder)` to 3.4.0 and the property appeared, it seemed that I was using an old version of the framework.

Thanks

[2016-12-26 12:04] #1910 closed

[2016-12-26 12:48] sebnema commented on #229
@dandriscoll When I checked the code, It seems webchat is still dependent on the dirrectline api, Is that correct? https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/directLine.ts

If yes, That means we still have security compliance issue due to whole conversation will pass through DirectLine Api. Is there a plan to release source code?

I am trying to avoid an architecture like th

[2016-12-26 13:29] sebnema opened #1913 "IntentDialog in .Net"
In Bot Builder 3.3 version , I couln't see UniversalBot for .Net.  When will we be able to use IntentDialog in .Net?
https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.intentdialog

[2016-12-26 16:49] maxpert commented on #1142
Interesting... I would have to actually create a hapi.js app to try out what is going on. I will get back to you on this. What version of node are you using? I will try to replicate your environment.

[2016-12-26 18:53] piffarettig opened #1914 "Some Skype HeroCard limitations"
1) HeroCard gets duplicated when I add four buttons. Can I expand the card so the fourth button fits below the rest?

<img width="873" alt="screen shot 2016-12-26 at 15 43 36" src="https://cloud.githubusercontent.com/assets/16963208/21485486/f188e50a-cb82-11e6-9022-928cdff9b439.png">

2) As well I read that there is a limitation of the number of lines allowed per HeroCard Title (2 Lines), SubTitle

[2016-12-26 19:10] dandriscoll commented on #1605
@Stevenic, is there an easy way to see what the bot is generating on the wire?

[2016-12-26 19:12] dandriscoll commented on #1892
Hi @gregk, contact me offline (dandris@microsoft.com).

[2016-12-26 19:14] dandriscoll commented on #1892
Hi @gilesbutler, that's correct. Using the connectors is currently the only supported way to use the Bot Framework. There are unsupported libraries to connect direct to FB but I'm not familiar with them. (Example: https://github.com/andrew-makarenko/botbuilder-facebook)

[2016-12-26 19:18] dandriscoll commented on #1892
Hi @gilesbutler, at the moment it depends a lot on where you're loading the dev portal from. In some regions, the dev portal is making trans-oceanic calls to get to a datacenter. We have some enhancements for this coming soon.

[2016-12-26 19:19] dandriscoll commented on #1878
Closing as it appears this issue is resolved. We received reports that this was affecting non-Bot Framework bots running on Facebook so we're going to treat this as an FB issue.

[2016-12-26 19:19] #1878 closed

[2016-12-26 19:22] dandriscoll commented on #1665
Please at-mention or file a new issue if you'd like to discuss further. Thanks

[2016-12-26 19:22] #1665 closed

[2016-12-26 19:23] dandriscoll commented on #1671
Please at-mention or file a new issue if you'd like to discuss further.

[2016-12-26 19:23] #1671 closed

[2016-12-26 19:26] dandriscoll commented on #1829
Closing as it appears we've addressed the open questions. Please at-mention or file a new issue if you'd like to discuss further. Thanks!

[2016-12-26 19:26] #1829 closed

[2016-12-26 19:26] dandriscoll commented on #1881
Please at-mention or file a new issue if you'd like to discuss further.

[2016-12-26 19:26] #1881 closed

[2016-12-26 19:44] dandriscoll commented on #1750
I don't have specific guidance at this point, except to say that as an open platform, you can pick/choose which pieces to how to compose them together.

[2016-12-26 19:58] dandriscoll commented on #1887
Actually, my mistake, I was thinking of the AudioCard.

It doesn't look like either the Web Chat control or the Emulator supports play audio at the moment.

[2016-12-26 20:00] dandriscoll commented on #1909
@hailiu2586, do you have any suggestions?

[2016-12-26 20:04] dandriscoll commented on #1911
Hi @vaisakhrbt, yes, the Bot Builder SDK supports group conversations. Do you have a specific question about group support?

[2016-12-26 20:20] dandriscoll commented on #1902
Hi @yevsher, is the botbuilder module being loaded? The error indicates that the call to require('botbuilder') is failing.

[2016-12-26 20:37] dandriscoll commented on #1505
Closing due to age. Please feel free to at-mention or file a new issue and we will take a closer look.

[2016-12-26 20:37] #1505 closed

[2016-12-26 20:39] dandriscoll commented on #865
Closing issue as the message size cap is not going away (even if we change it). Please at-mention or open a new issue if you'd like to discuss further. Thanks!

[2016-12-26 20:39] #865 closed

[2016-12-26 20:44] dandriscoll commented on #1490
Closing as it appears we've addressed the question and haven't heard back on other scenarios. Please at-mention us or file a new issue if you'd like to discuss further. Thanks!

[2016-12-26 20:44] #1490 closed

[2016-12-26 20:47] dandriscoll commented on #1516
Haven't heard back, so closing issue for now. Please at-mention or open a new issue if you'd like further assistance. Thanks!

[2016-12-26 20:47] #1516 closed

[2016-12-26 20:49] dandriscoll commented on #1549
Just checking in, we are still working with the LUIS team on this.

[2016-12-26 21:03] dandriscoll commented on #1694
Hi @subhans3tech, training the model is beyond the scope of what we can do in this forum, but please let us know if you encounter a specific problem.

Closing this issue for now, please at-mention or file a new issue if you want to discuss further.

[2016-12-26 21:03] #1694 closed

[2016-12-26 21:14] dandriscoll commented on #1760
Closing as this appears to be a duplicate issue. Please at-mention or open a new issue if you'd like to discuss further.

[2016-12-26 21:14] #1760 closed

[2016-12-26 21:15] dandriscoll commented on #1784
Please at-mention or open a new issue if you'd like further assistance. Thanks!

[2016-12-26 21:15] #1784 closed

[2016-12-26 22:28] dandriscoll commented on #1872
Hi @cesarvarela, did this answer your question?

[2016-12-26 22:29] willportnoy commented on #1913
DispatchDialog is the equivalent in C# - here is a sample.  Feel free to ask further questions.

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Samples/SimpleDispatchDialog/SimpleDispatchDialog.cs#L15

[2016-12-26 22:30] areckkimo commented on #1908
thanks @willportnoy , But I use nodejs, not c#

[2016-12-26 22:38] cesarvarela commented on #1872
I'd say yes, but you might want to check what I said about going over the free quota throwing and error instead of throwing `intent = null, and score = 0.1` which isn't what is really happening.

[2016-12-26 22:41] willportnoy commented on #1895
@virendrak you want to construct a new IMessageActivity (as if it came from the user to the bot) to be re-dispatched using the MessageReceived logic in LuisDialog?

[2016-12-26 22:43] willportnoy commented on #1908
@areckkimo it should be a similar property in Node:
https://github.com/Microsoft/BotBuilder/blob/a7370bdd38b81c9414bb8c22b047f6b3f7a5c54c/Node/core/src/interfaces.d.ts#L60

[2016-12-27 04:22] piyush-dholariya commented on #1505
@dandriscoll  #1856  & #1903  can you give answer of these questions? I have post them separately.

[2016-12-27 04:26] dandriscoll commented on #1505
Hi @piyush-dholariya, I've taken a look but I don't know the answer to either. The people assigned to each issue are the right ones to weigh in -- I'll send them a followup email to remind them.