[2017-07-11 13:11] iMicknl commented on #3116
I am not very familiar with Sharepoint, but it is possible to pass custom parameters to the WebChat in order to identify an user. You can't use the [WebChat](https://github.com/Microsoft/BotFramework-WebChat ) via iFrame, since you need to be in control of the settings.

The [WebChat documentation ](https://github.com/Microsoft/BotFramework-WebChat#easy-in-your-non-react-website-run-webchat-inline

[2017-07-11 13:33] mahmoudahmedarafa commented on #3105
Could anybody tell me how can I chat with the bot from Azure Portal, as it is already published on it before integrating the bot with some channel?

[2017-07-11 13:47] bhanu2507 commented on #3075
I did try running the same code from local machine with ngrok. It works fine. I see the Authentication with Bearer token in the request. It is possible that this may be runkit related.

[2017-07-11 14:09] nrobert commented on #3105
Did you check if at least your Echo bot was responding with the tester?

[2017-07-11 14:23] amitbend commented on #2846
Any news?

[2017-07-11 15:05] Natinux commented on #572
@CXuesong Thank you 👍

[2017-07-11 15:05] Natinux commented on #572
+1

[2017-07-11 15:17] JasonSowers commented on #2583
As a user of the.NET for BotBuilder, I would like to have the ability to format the HeroCard's text using \n, \r\n,  \n\n, or StringBuilder.AppendLine(string s) style line breaks.

[2017-07-11 15:22] Sowz opened #3119 "[Skype for Business] Conversation initialization issue"
## System Information (Required)
* SDK Language: .NET/C#
* SDK Version: 3.8.4
* Development Environment: AZURE_APP_SERVICE / LOCALHOST

## Issue Description
When I start a new conversation with my Skype for Business Bot, in the first message sent by Skype the "from id" is in the following form "mysupport@***.onmicrosoft.com". Then, in the second message, the "from id" is "sip:mysupport@***.onmicro

[2017-07-11 15:32] anishetty commented on #1435
1) Same issue is occurring on IE 11 for first three templates.
2) When Language Understanding is chosen it ask to sign in and after successful sign in it gives option to create new blank LUIS app or use LUIS api key to connect. When clicked on continue it again displays the same message.

[2017-07-11 15:47] JasonSowers commented on #3062
Glad you fixed this, good luck

[2017-07-11 15:51] JasonSowers commented on #3100
Closing this issue, but if you would like to continue the conversation, please reopen.

[2017-07-11 15:51] #3100 closed

[2017-07-11 16:13] #3115 closed

[2017-07-11 16:19] stevengum97 commented on #3118
This isn't supported at this time. As @iMicknl if you're looking to support logins you should use something like OAuth2.0. Those links posted are good starting points to implement OAuth in your chatbot.

Closing issue.

[2017-07-11 16:19] #3118 closed

[2017-07-11 16:20] #3110 closed

[2017-07-11 16:23] madsamuel commented on #2298
I had to drop Ocp-Apim-Subscription-Key from the header when making the call to the endpoint.

[2017-07-11 17:42] nwhitmont commented on #3116
@neetgupta7 Are you using .NET or Node SDK?

[2017-07-11 17:50] McBacker commented on #3111
Well, can't explain why but it works on an Azure WebJob but fails with 403 on my local machine.

Thank you for your help :)

[2017-07-11 18:07] megancooper commented on #2840
@shakthisaran @punjabimundaaa

What happens when you remove `context.Wait(MessageRecieved)`? Also, the above class inheritance definition should be:

[code]

not

[code]

I hope this helps. I'm taking this from my Bot code that is also interacting with a LUIS application.

[2017-07-11 18:10] nwhitmont commented on #3075
@bhanu2507 Thanks for the update. If you are able to run the bot code on your localhost with ngrok, then this indicates the issue is outside of the scope of BotBuilder SDK. Closing as out of scope. If you are able to reproduce the issue via Azure bot deployment, open a new issue.

[2017-07-11 18:10] #3075 closed

[2017-07-11 18:49] willportnoy commented on #2414
@sayyednazeer you might consider starting a second request to LUIS (after some delay) if it looks like the first request might time out due to network issues, etc.

[2017-07-11 18:50] willportnoy commented on #2277
I believe the above commit should fix this issue, so I'm closing it for now - feel free to open a new issue if you have further problems.

[2017-07-11 18:50] #2277 closed

[2017-07-11 18:58] willportnoy commented on #106
this is a sample that shows how to resolve services from dialog constructors and the container:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Samples/AlarmBot/Models/AlarmModule.cs#L24

[2017-07-11 19:02] willportnoy commented on #3059
if you want to put a breakpoint here:
https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Builder/Fibers/Fiber.cs#L211

you can step through every executed call back and see the state of the stack at every point.

[2017-07-11 19:39] mahmoudahmedarafa commented on #3105
Yes, but it didn't respond with the tester too.

[2017-07-11 20:20] nrobert commented on #3105
So try it with the emulator in local. Then:
 - if it's not working, correct it
 - if it's working, check your publish parameters

[2017-07-12 04:34] neetgupta7 commented on #3116
.net

[2017-07-12 04:48] neetgupta7 commented on #3107
@nwhitmont I have now created another simple echo bot with id as 5aa77bac-e3a3-4e9c-95e2-2c977e6ef409 and even that does not work on Cortana.

[2017-07-12 05:02] NehaShaikh786 commented on #3110
@JasonSowers Hi, thanks for your response. I have referred those links given by you.
I am trying to create a bot using LUIS intents and i need a conversation flow. How to implement a context flow from language understanding?
Actual Result- i have intent named as "moisturizer" and its utterance is "do you have moisturizer" but when i retrain the model and test "do you have abcd" it still hit the mo

[2017-07-12 05:07] NehaShaikh786 commented on #3110
@sayyednazeer i have referred the FormFlow examples, But by using FormFlow there is no Language Understanding. i am trying to use LUIS model. Right now i am facing problem with intent match.  for example-  i have intent named as "moisturizer" and its utterance is "do you have moisturizer" but when i retrain the model and test "do you have abcd" it still hit the moisturizer intent, which i don't ex

[2017-07-12 08:39] MrTortoise commented on #2392
getting this error.

same code base different days.
One day its fine, next its broke. We are using ngrok to host locally. So i figured overnight requests fails and so facebook kills the bot. Reasonable enough to me.

So ...
we wipe down all the bots on facebook and on microsoft start fresh, we get (we have detailed manual scripts that really did work yesterday for this)
`Error: Request to 'https:/

[2017-07-12 08:45] Deep-Ak commented on #910
I'm trying to integrate bing speech into my cortana bot(.NET). Currently it works great with just text, when I click the mic button in the bot framework I get an error "Could not retreive cognitive services speech token". I have a file that looks exactly like this [https://github.com/Azure-Samples/SpeechToText-REST/blob/master/SpeechSample-CSharp.cs](url), Where do I initialize an object of class

[2017-07-12 09:12] kr-ankit commented on #3119
I am facing exactly the same issue in "Skype for Business" for windows. As a workaround currently I am ignoring the first message and continuing conversation with the second message onwards.

Interestingly this issue is not happening in "Skype for Business" for mac or for mobile (Tested in android). In mac and android the first message itself starts the session and the user remain in same session.

[2017-07-12 09:35] BirenPanigrahi commented on #2840
@meganlcooper

Thanks for your comment.

I tried removing `context.Wait(MessageRecieved)` but no luck.

[code]

[2017-07-12 10:39] nupurkamble commented on #672
hi @dandriscoll
{ "error": { "code": "BadArgument", "message": "Missing token or secret" } }
im getting this error for directline deployed bot.
What is causing it i cant figure out

[2017-07-12 11:18] megancooper commented on #2840
Maybe change serializable to under the LuisModel?

[2017-07-12 11:33] sushodhan opened #3121 "[Bot Portal] Skype channel configuration error: "There was a problem synchronizing your bot to Skype." + "Join" link not present"
##Bot Details
Microsoft Bot ID : 74688871-a2b5-412d-b54d-4147c08b2d63
Endpoint : http://skypecallerbot20170627035805.azurewebsites.net/api/messages

##Note
It is the sample skype calling bot created by Microsoft for user's understanding.

[2017-07-12 13:45] punjabimundaaa commented on #2840
@megancooper  nopes doesnot work.  What version of Bot Framework / VS are you using?

[2017-07-12 13:57] megancooper commented on #2840
@punjabimundaaa Sorry that didn't work. I am using version 3.8.0 of the Bot Builder and VS 2015. Could you post your full Dialog class, and your MessagesController.cs? I'm trying to see if I can recreate your exception.

[2017-07-12 14:01] punjabimundaaa commented on #2840
@megancooper i can send you complete source code in  email if that would be ok?

[2017-07-12 14:13] megancooper commented on #2840
@punjabimundaaa I'll leave the code for a starter bot I made down below. Also, is your exception that you see the same as the one above? If so, it looks like the bot is having problems recieving information from the LUIS application. Is the key for the LUIS application you're using hosted on Azure? If so, look at how I formatted the line
`LuisModel...` in the RootDialog class down below.

Here is

[2017-07-12 14:25] nwhitmont commented on #3121
@sushodhan Are you using .NET or Node SDK for BotBuilder?

[2017-07-12 14:37] McBacker opened #3122 "[Question] How to suppress and/or increase the 15 seconds timeout message while posting to our messages endpoint?"
Title says everything...

Thank you

[2017-07-12 14:42] nwhitmont commented on #3121
@sushodhan When I tested your bot via webchat, your  bot did not respond. This indicates there is a problem with your bot code or deployment.

Also, there appears to be an error in the Skype channel configuration where the "Join" link is not present on the channels page. The portal team is in the process of investigating this issue.

You might want to try setting up a new bot registration and conn

[2017-07-12 15:03] nwhitmont commented on #3122
@McBacker For reference, are you using .NET or Node SDK?

What problems are you experiencing? What is the context that you need to increase the timeout duration? To what specific endpoint?

[2017-07-12 15:12] nwhitmont commented on #3121
Duplicate of: https://stackoverflow.com/questions/45059149/need-help-on-developing-a-bot-using-ms-bot-framework-in-c-sharp-which-handles-sk

[2017-07-12 15:19] McBacker commented on #3122
.Net SDK

When a timeout occurs, I want to present to my Bot users a better message than "POST to XXX timed out after 15s".

Thank you

[2017-07-12 15:20] nwhitmont commented on #3122
@McBacker What specific channels are you using with your bot? When does this error occur?

[2017-07-12 15:30] McBacker commented on #3122
It happens when my on premise hosted messages endpoint is not reachable/running properly.

The channel doesn't matter on this scenario.

[2017-07-12 15:39] nwhitmont commented on #3116
It sounds like you already have the solution to your auth problem. "Since the user has already authenticated"... you don't need to do anything except put your webchat page where only logged-in users can view it.

For more information on O365 auth strategies, see: [Using Office 365 modern authentication with Office clients](https://support.office.com/en-US/article/Using-Office-365-modern-authentica

[2017-07-12 15:39] #3116 closed

[2017-07-12 15:43] neetgupta7 commented on #3116
@nwhitmont user has authenticated on sharepoint portal .  It how do I pass that to Bot service to tell it who the user is. Not sure why this has been closed.

[2017-07-12 16:09] punjabimundaaa commented on #2840
Thanks Megan.
I modified the controller as well as the dialog class as under. The only difference between yours and mine seem to be the domain api .
Upon initiating the conversation via emulator,  I can confirm that  my BOT application does make a call to LUIS and LUIS responds with correct result ( checked  it via fiddler ). I guess something goes wrong in SDK when it tries to find the method for

[2017-07-12 17:25] megancooper commented on #2840
Hmm, this is strange...I'm not too sure. Could you post a picture of the error you see in the emulator/ where you're testing your bot.

When you publish your LUIS application are you choosing the "staging" Endpoint Slot? Also, the methods in your `MatLuisDialog()` class weren't commented out when you did the above query right?

[2017-07-12 18:51] nwhitmont opened #3123 "[Feature Request] Add Twitter channel integration"
This issue is to track requests for adding a Twitter channel integration to Bot Framework. Thumbs up this comment to vote.

[2017-07-12 19:34] megancooper commented on #3092
If I understand correctly you want the following in terms of intents and utterances:

"do you have moisturizer"                               -->              **Mosturizer Intent**
"do you have [anything but mosturizer]"         -->              **None Intent**

You could accomplish this by wrapping the work "mosturizer" in an entity. And then map the Utterance that does not have that particular e

[2017-07-12 21:13] operacha opened #3124 "[Question] ThumbnailCard button does not work as expected in Microsoft Teams but works in Bot Emulator"
## System Information (Required)
* SDK Language:  .NET/C#
* SDK Version: 3.8.1
* Development Environment: AZURE_APP

## Issue Description
I am currently using a ThumbnailCard which has a button that leads to a website url for authentication purposes. The ThumbnailCard displays as expected in Microsoft Teams chat but clicking the button does nothing. The button does however work in Bot Emulator as

[2017-07-12 21:44] matts310 commented on #1547
@fricke I know I may be late to the party, but I found that setting up tests for dialogs a pain too. I made a testing framework that easily tests bot dialogs and state. E.g.
[code]

check it out! [github.com/matts310/BotTester](github.com/matts310/BotTeste)

[2017-07-12 21:47] matts310 commented on #1965
@anweiss I had the exact same issue for me. I found the looping through a switch non-intuitive and difficult to follow for larger dialog flows. To help, I made a testing framework that easily tests bot dialogs and session state. E.g.

[code]

check it out! [github.com/matts310/BotTester](github.com/matts310/BotTeste)

[2017-07-13 05:56] sayyednazeer commented on #3092
@NehaShaikh786

just map the... do you have [any text] to *None* Intent
*Train* your luis from https://www.luis.ai/
Everything will work perfectly

If you face any such case then just go the the LUIS dashboard and map that utterance with the intent you want and train it.
After that luis will handle it and will start pointing to the correct intent.

[2017-07-13 05:59] sayyednazeer commented on #2414
@willportnoy

How to do that..?

[2017-07-13 06:08] PrasadGautham commented on #1950
@nwhitmont So facebook channel doest support base 64 images through CardImage????????

[2017-07-13 06:42] sushodhan commented on #3121
@nwhitmont  I am using C#.

[2017-07-13 06:51] ersachit opened #3126 "[Question] How to know the status of Skype user?"
I am working on a skype bot in node.js. I want to know the status of the user, if he is ideal for say 15 minutes, the bot should send him a message or check that if user status is online send him a message. Is there a way in bot framework?

[2017-07-13 06:59] sushodhan commented on #3121
@nwhitmont I was trying some things that is why you were unable to chat through web chat. Now try to do the some it will work fine.

[2017-07-13 07:10] Aaruhi013 opened #3127 "Unable to connect LUIS in nodejs through Bot framework"
I am just trying to run the sample nodejs code provided. But when we are prompted to type help, it keeps replying back with the same prompt message.

Referred issue #117 but the solution did not help

[2017-07-13 07:18] #3127 closed

[2017-07-13 08:31] punjabimundaaa commented on #2840
Hey Megan
Appreciate your help.

the complete project is here: https://1drv.ms/u/s!ApGwoaF4nIJolJ8OUVXNA3MYOGwQ6w

The error in the the emulator
![image](https://user-images.githubusercontent.com/5646605/28157309-59ed4b02-67b6-11e7-87b6-ef6f48c3f017.png)

I also made sure that application was published to staging.  Upon making a get request i do get the json back

url for luis

https://westus.api.

[2017-07-13 08:45] PrasadGautham commented on #2027
@dandriscoll  Is it not possible to set base 64 image to herocard in the facebook channel. Its working fine in emulator but not working in fb

[2017-07-13 11:53] amitbend opened #3129 "[Question] Docs/example for creating a custom v3.8.x choice prompt?"
## System Information (Required)
* SDK Language: NODE
* SDK Version: 3.8.4
* Development Environment: LOCALHOST, AZURE_BOT_SERVICE

## Issue Description
I'm trying to create a custom choice prompt using the new v3.8.x mechanism, but i can't seem to find any references of how to do it correctly.
I tried to play with it, but I don't see any quick replies as I should.

## Code Example
[code]

[2017-07-13 11:55] ncomo11 commented on #3115
Thanks for you reply. Can you please help how can I disable the recognition of ordinals? FYI I am using Prompts.choice to display Choices to the user.

[2017-07-13 12:03] amitger commented on #2310
@leroibeukes .. please share the code.

[2017-07-13 12:22] nrobert commented on #3115
I will let a node.js specialist answer. @nwhitmont  maybe?

[2017-07-13 13:41] leroibeukes commented on #2310
Sorry guys - been travelling , will get to it in the next day or two

[2017-07-13 13:42] jarle commented on #2839
#2859 seems to fix this for me.

[2017-07-13 13:44] krconnect commented on #2310
tks

[2017-07-13 14:43] Unders0n commented on #106
@willportnoy thanks, that was pretty useful, get dialogs and services to work with this aproach.
The only issue now that regular controllers (for example for slack interactive messages) are not working,
cos they trying to resolve dependencies in same manner and throws error that it can't locate lifetimescope (which is logical): Unable to resolve the type 'BusinessLayer.CountryService' because the

[2017-07-13 15:54] bilby91 opened #3130 "[Question] Get timezone of team in MS Teams"
## System Information (Required)
* SDK Language: NODE
* SDK Version: 3.8.4
* Development Environment: LOCALHOST\

## Issue Description
Is it possible to get the team's timezone in MS Team ? Slack's api exposes the timezone, I was wondering if there is any endpoint that I can call to get this information from MS Teams.

[2017-07-13 16:57] JasonSowers commented on #2027
@PrasadGautham does facebook support base64 attachments?

[2017-07-13 17:32] operacha commented on #3124
Issue has been fixed by using "openUrl":

#### Updated Code
`Buttons = new List<CardAction> { new CardAction(ActionTypes.OpenUrl, "Get Started", value: url) }`

[2017-07-13 17:50] megancooper commented on #2840
@punjabimundaaa @shakthisaran

**Change LuisRequest in your methods to LuisResult** This fixes the issue :)

![working](https://user-images.githubusercontent.com/8683055/28180111-bd458044-67c9-11e7-9d34-39dea7291059.PNG)
![code](https://user-images.githubusercontent.com/8683055/28180124-cccd4eb6-67c9-11e7-8a2e-ae2cf1c01b18.PNG)

[2017-07-13 18:46] stevengum97 commented on #3129
@amitbend, you're missing an `.onRecognize()` call. You disabled the built-in recognition, so you need to set up your own logic to handle users' responses.  The only other issue I spotted with your code is if `prompt` and `options.prompt` weren't passed in as parameters.  You're already setting `args` to `options || {}`, so you should setup your following code as:

[code]

This way if `prompt` was

[2017-07-13 18:55] #3124 closed

[2017-07-13 20:18] megancooper commented on #3099
@SUGPZ Do you care about customizing the chat window at all? If not you can embed your bot another way:

**1. Head over to the dev.botframework.com Portal where your bot is registered:**
![1](https://user-images.githubusercontent.com/8683055/28185771-3d845a5a-67de-11e7-8dc5-4367f3261ebc.PNG)

**2. Click on "Web Chat" to get a <iframe...> with your bots information**

![2](https://user-images.githu

[2017-07-13 20:46] megancooper commented on #3077
@xjose97x I am not using DocumentDB/CosmoDB but I am sending certain values to my Dialog class when a message Activity is sent to my bot. Noticed no one had answered this so I wanted to help if I could!

Here are the lines I have in my MessagesController.cs:

[code]

And here is how I actually pull that data. You may be accessing them wrong...? Although I'm not sure.:

Inside my (LUIS) Dialog clas

[2017-07-13 21:34] leroibeukes commented on #2310
Similar to last one - just build the structure...

Note did not test this very well.

//Rextester.Program.Main is the entry point for your code. Don't change it.
//Compiler version 4.0.30319.17929 for Microsoft (R) .NET Framework 4.5

using System;
using System.Collections.Generic;
using System.Linq;
using System.Text.RegularExpressions;
using System.Net;
using System.Net.Http;
using System.Dynami

[2017-07-13 23:06] EricDahlvang commented on #3099
Hi @SUGPZ

You can also create an mvc area, and have the controller retrieve the token for you, placing the token in the  view.  I threw together a quick example that does this: https://github.com/EricDahlvang/TokenBotExample

Specifically, check out the https://github.com/EricDahlvang/TokenBotExample/blob/master/TokenBotExample/Areas/Bot/Controllers/WebChatController.cs that creates a WebChatMode

[2017-07-13 23:06] #3099 closed

[2017-07-14 00:18] mahmoudahmedarafa commented on #2040
@dandriscoll I have a similar problem; my bot isn't replying to messages after publishing.

Here are my bot things:
Bot Id: mcdonaldsbot
App Id: 6c41c34e-0907-4db9-bdef-3ab73fa363aa
Messaging Endpoint: https://mcdonaldsbot.azurewebsites.net/api/messages

[2017-07-14 00:22] mahmoudahmedarafa commented on #828
@Thegaram My bot isn't replying to messages when I text it after I publishing my app. Could you please help?

Here are my bot things:
Bot Id: mcdonaldsbot
App Id: 6c41c34e-0907-4db9-bdef-3ab73fa363aa
Messaging Endpoint: https://mcdonaldsbot.azurewebsites.net/api/messages

[2017-07-14 00:28] nwhitmont commented on #3130
AFAIK, there is no specific timezone associated with a given team in the MS Teams application.  Perhaps you are thinking of the default timezone assigned by the Office 365 tenant admin?

I consulted the [Microsoft Teams JavaScript Library API reference](https://msdn.microsoft.com/en-us/microsoft-teams/jslibrary) and did not find any references to timezones.

There were also 0 references returned b

[2017-07-14 00:31] #3130 closed

[2017-07-14 04:26] nvonahsen opened #3132 "[Localization] Time prompt for DD/MM locales?"
EDIT 2: Ok i don't know why i thought this worked before. Maybe because it does seem to handle DD/MM dates if the day is clearly not a month (ie >12), but it doesn't seem to work after all...

## System Information (Required)
* SDK Language: NodeJS
* SDK Version: 3.8.4

I am working on a bot that the will not be used in the United States.
Its kinda annoying that as far as I can tell there does not

[2017-07-14 04:29] bilby91 commented on #3130
@nwhitmont Thanks for the quick reply and the information. Does the Office 365 default timezone is exposed in any api ?

[2017-07-14 04:59] hardikchoudhary commented on #3032
@stevengum97 can you please help me in this regard as the issue is not stil resolved

[2017-07-14 11:15] haakotsm commented on #3129
Not sure if this helps, but I had to manually configure some intent matches for my prompts untill I found out my issue was a bug with the source code. What I did was create a new PromptChoice instance and attach intent matches on it. Then I configured the builder.Prompts.choice to use my instance of the PromptChoice instead of the default one.

[code]

[2017-07-14 11:37] sasidhar20 commented on #2244
Facing the same issue. "There was a problem synchronizing your bot to Skype."

When I tried to edit the config, says error in server. Web chat is also not working. Please revert for more information.

[2017-07-14 12:03] flowl commented on #2434
I have the same problem and it's not fixed or there is no helpful comment or site. I can do 1on1 chat with the bot by first publishing the bot then add "custom bot" in MS Teams. There is an APP ID, an APP PASSWORD and this security token from MS Teams. I am using node.js from this site: https://docs.microsoft.com/en-us/bot-framework/nodejs/bot-builder-nodejs-quickstart

None of this is working wit

[2017-07-14 12:27] dirugadr opened #3133 "[Question] Character codes (locale) for text in Skype for Business Bot"
## System Information (Required)
* SDK Language: C#
* SDK Version: 3.8
* Development Environment: LOCALHOST

## Issue Description
I'm developing a Bot for a Brazilian customer. I've been translating all text to this language, and it seems it's done. I deployed the bot to be used as a web chat, using direct line, and it's running fine. Last days I was working to have it running on SFB, and today I

[2017-07-14 12:30] rasck opened #3134 "[Localization] Intents and Regex dialogs triggers behave differently on (choice) prompts"
## System Information (Required)
* SDK Language: NODE
* SDK Version:  "botbuilder": "^3.8.4",
* Development Environment: LOCALHOST

## Issue Description
I want to be able to use a custom recognizer using localized text so that i can create bot dialog triggers with a localized approach.

I have created a dialog where a user can choose between two languages. If the user, in the middle of the prompt

[2017-07-14 14:28] NehaShaikh786 commented on #3092
hi @sayyednazeer @megancooper @nwhitmont Thanks for your response, i have used phrase list feature so that i can give required words in luis. But now i have an issue of context handling.
Please tell me by using luis how can i make a context flow.
For e.g- if i have two flow of conversation and the ans of same questions are different then how can i manage it if i'm going in first flow then it shoul

[2017-07-14 16:13] bilby91 commented on #874
We have created a storage implementation for redis on nodejs: https://github.com/suttna/botbuilder-redis-storage

[2017-07-14 16:15] aakashkag commented on #874
I created a storage implementation for MongoDB on nodejs:[]( https://github.com/Manacola/msbotframework-mongo-middlelayer)

[2017-07-14 16:21] JasonSowers commented on #2244
@sasidhar20 can you please open a new issue.

[2017-07-14 16:22] JasonSowers commented on #2434
@flowl can you please open a new issue

[2017-07-14 17:32] hdiniz opened #3135 "[Question] Empty member names in Skype group chat"
I am trying to get the member list for a Skype group chat where my bot was added, but the **name** of the members is empty.

When my bot is mentioned, I am using the REST API:

`https://smba.trafficmanager.net/apis/v3/conversations/${conversationId}/members`

And always get the correct number of members and their IDs, but no names...
[code]

[2017-07-14 17:41] McBacker commented on #3122
@nwhitmont, do you have any update on this?

Thank you

[2017-07-14 20:04] sayyednazeer opened #3136 "[Question] Dynamic bot code generation? (Form Flow and Root Dialog)"
## System Information (Required)
* SDK Language: NET/C#

* Development Environment:AZURE_BOT_SERVICE

## Question Description

Can we make the bot fully dynamic ... Means without writing any code just there should be a frontend where i can set what are the conversation... Wt are flows etc...

Lets say for example if i had made a bot who will talk about PUMA or NIKE brand .... For both of this i ha

[2017-07-14 20:10] bilby91 opened #3137 "[Question] Get channel name on MS Teams channel?"
## System Information (Required)
* SDK Language: NODE
* SDK Version: 3.8.4
* Development Environment: LOCALHOST

## Issue Description
Is it possible to get the channel name when the bot is interacting in a channel inside MS Teams ? Slack sends the name attribute of the channel in the conversation object inside address. I was expecting the same for MS Teams. If information is not sent on message ac

[2017-07-14 20:13] bilby91 commented on #3137
For example, when I delete a channel inside my team, I get a `channelDeleted` conversationUpdate event that includes the information in the sourceEvent object.

[code]

For message activities, the name key is removed from the sourceEvent.

[2017-07-14 20:34] bilby91 commented on #3137
I was able to get all the channels with their name using `/v3/teams/:team_id/conversations`. I was wondering if it does make sense to add it in the conversation object the same way Slack does.

[2017-07-14 21:01] megancooper commented on #3136
Maybe you could utilize LUIS? Create separate Intents and have ADIDAS, PUMA, NIKE, etc... map to one Enitity like "ShoeBrand". Then in your code simply search for the entity and respond based on which brand the entity held?

[2017-07-14 21:16] JasonSowers commented on #3136
You could also look into scorables [here is a great video explaining the concept](https://www.youtube.com/watch?v=hnU3lPHhv88)

[2017-07-14 22:25] bilby91 commented on #3041
@fcioffi How did you added the global listener ? Where did you hooked to get the error event for example when you do `bot.beginDialog` with an invalid address.

Thanks!

[2017-07-14 23:55] nwhitmont commented on #3126
@ersachit Detecting Skype user's online status is not currently a feature of Bot Framework Node SDK.

You could accomplish this by tracking your user's last activity time and send a proactive message after specified elapsed time without activity.

For more information on proactive messages, check out the article:
- [Send proactive messages](https://docs.microsoft.com/en-us/bot-framework/nodejs/bot

[2017-07-14 23:55] #3126 closed

[2017-07-14 23:59] nwhitmont commented on #3135
@hdiniz For reference, are you using .NET or Node SDK?

[2017-07-15 00:04] nwhitmont commented on #3137
@bilby91 Thanks for the update, glad you found the solution.

Contributions are always welcome! If you have an idea or feature request, don't hesitate to submit a pull request with desired functionality.

[2017-07-15 00:04] #3137 closed

[2017-07-15 00:12] hdiniz commented on #3135
I am using the Node SDK

[2017-07-15 00:38] sayyednazeer commented on #3136
@megancooper actually i am talking about the code section... Since there are multiple brand so do i have to write the code for each brand .... Is there any seamless way..?

[2017-07-15 02:57] bilby91 commented on #3041
@fcioffi Maybe this is useful https://github.com/Microsoft/BotBuilder/pull/3138

[2017-07-15 09:39] michaelhutchful opened #3139 "[Question] Skype Bot Not showing in directory?"
Hi, I have published my bot, it says approved in the portal, but I can't still see it in Skype. I have search for articles on the publishing process, but I can't find much. My question is when do I see it in the the Skype directory or why can't I see it even after it is approved?

[2017-07-15 11:22] sayyednazeer commented on #3136
any help.. ??

[2017-07-15 13:27] sayyednazeer opened #3140 "[Question] Pass data from web page to bot & start root dialog based on input data?"
## System Information (Required)
* SDK Language:  .NET/C#
* Development Environment:  LOCALHOST, AZURE_BOT_SERVICE

## Question Description

I am having a asp.net webpage after filling sum data on my page and then on click of submit button.
I want  to land the user to a new page over where he can see the BOT and do the conversation.

But before that i want to transfer some data from my webpage to

[2017-07-15 13:39] michaelhutchful commented on #3140
I had a similar problem, i needed to pass sensitive data from a web page to the bot. What I did was create a new API controller in the bot and then call the end point from your web page.

API Controller C#

Regards Michael

Sent from my Windows 10 phone

From: sayyednazeer
Sent: 15 July 2017 13:27
To: Microsoft/BotBuilder
Cc: Subscribed
Subject: [Microsoft/BotBuilder] C# PASS DATA FROM WEBPAGE TO

[2017-07-15 13:43] sayyednazeer commented on #3140
@michaelhutchful

can you show me some code example

[2017-07-15 17:54] tomasherceg commented on #3104
Thank you. I don't know whether the `CreateOrGetDirectConversation` can be used when you need to post to a specific channel, but I got my code working by adding this:

[code]

Also, I have specified the app id and password in the constructor of `ConnectorClient` explicitly but I believe I don't have to as they are fetched from the configuration automatically.

[2017-07-15 17:54] #3104 closed

[2017-07-16 05:14] nwhitmont commented on #3139
Skype bots are only searchable in the bot directory if they are "Featured" or otherwise highlighted by the Skype business team.

As you can see on the help page [What Skype bots are available?](https://support.skype.com/en/faq/FA34655/what-skype-bots-are-available#joinlinkbots) - not all bots can be directly added via the directory. In the section [What bots can be added directly that are not avai

[2017-07-16 05:14] #3139 closed

[2017-07-16 05:23] nwhitmont commented on #3136
@sayyednazeer you would need to code a custom solution for this feature. feel free to submit a PR with the desired functionality. Contributions welcome!

[2017-07-16 05:23] #3136 closed

[2017-07-16 08:24] nrobert commented on #3104
If you look at my code you will see that it's using a variable providing the channel yes.

Finally you didn't use it? Looks like what was missing in my old implementation is the channelData containing the tenantId in that case, thanks.

[2017-07-16 10:19] rasck commented on #3134
I tried applying this [PR](https://github.com/Microsoft/BotBuilder/pull/2859) and it now works as I expect.
I changed
 `var result = context.intent || { score: 0.0, intent: null }; ` to
` var result = { score: 0.0, intent: null };
`
In lib/dialogs/prompt.js line 108

[2017-07-16 13:21] amitbend commented on #3129
Hi @stevengum97, I'm still trying to tackle #2987.
I thought to disable the recognizer, do he won't interrupt the choices.

I tried to write a `onRecognize`, and applied the changed you've suggested.
But I still can't see the options (quick replies).
What am I missing?

[2017-07-16 16:55] tinchomm commented on #3134
I have the same issue using `beginDialogAction `to trigger the Help dialog.

Changing the line you mention triggers the Help dialog but it still sends the retryPrompt, it is not being cancelled, so I end up with both messages.

[2017-07-17 07:51] reddy12345678 opened #3141 "[Question] Images not showing sometimes in WebChat?"
images are showing as blank only some times

[2017-07-17 07:59] punjabimundaaa commented on #2840
@megancooper , that fixed it.  You rock Girl !!!  Lemme know and i need to send you beers

PS: Have one more query on Luis will tag you once i raise it :-) thanks again

[2017-07-17 09:21] ersachit opened #3142 "[Question] Can we get the callback if user edit/delete any message or disable options?"
Hi @nwhitmont, I am working on a skype bot in node.js.
1. I want to know that can we get the callback if the user deletes/edit any message from the chat.
2. Also, on the other side- can we disable menu option from chat so that if the user is communicating with bot, can't do operations on it?

[2017-07-17 09:29] fcioffi commented on #3041
Hi @bilby91, thanks for your response.

I added the global listener and listen correctly when the error happens. My problem is that the error parameter of callback doesn't contains any info about the original message.

Do you have any suggestion for get some info about address or a custom parameter about the message that is in error?

Thanks,
Francesco

[2017-07-17 09:45] anumeshyerigeri commented on #3081
Hi Sir,

Please let me know the changes from luis and QnaMaker. QnaMaker service is
totally changed now. it is stopped working. How to make it work. totally
stopped not even single responce.

On Mon, Jul 10, 2017 at 12:08 PM, Anumesh Yerigeri <
anumeshyerigeri@gmail.com> wrote:

[2017-07-17 09:46] sayyednazeer commented on #3140
@michaelhutchful

Show me some sample code please ....

[2017-07-17 09:59] AmolPawarGitHub opened #3143 "[Question] Why FormBuilder throws exception when passed IDialogContext as a parameter to Formbuilder IForm<> static method ?"
## System Information (Required)
* SDK Language: C#
* SDK Version: 3.8.1.0
* Development Environment: LOCALHOST, VS 2015, EMULATOR

## Issue Description

Why FormBuilder throws an exception when passed IDialogContext as a parameter to Formbuilder IForm<> static method? I get below error,

## Code Example
Note : You can copy complete code and try to reproduce the issue.
[code]

[code]

[code]

## S

[2017-07-17 10:08] michaelhutchful commented on #3140
I will try and create a sample for you after work

Sent from Mail for Windows 10

From: sayyednazeer
Sent: 17 July 2017 09:46
To: Microsoft/BotBuilder
Cc: michaelhutchful; Mention
Subject: Re: [Microsoft/BotBuilder] [Question] Pass data from web page to bot& start root dialog based on input data? (#3140)

@michaelhutchful
Show me some sample code please ....
—
You are receiving this because you we

[2017-07-17 12:17] AzimRaasforce commented on #2882
On  emulator welcome message is appear, But in Web Chat Channel message is appear when user write something.
Note: I am get member id from web url and get user information from our server.

![image](https://user-images.githubusercontent.com/28786286/28267378-a233f088-6b1b-11e7-94ae-e6d77a15ada9.png)

[2017-07-17 12:53] AzimRaasforce commented on #2882
![bot_welcome_message](https://user-images.githubusercontent.com/28786286/28268709-11cd2ba8-6b21-11e7-80cc-eb9c9cace5fd.png)

Welcome message not showing in web chat channel but shows in emulator.

[2017-07-17 13:46] nrobert commented on #3141
It will be difficult to provide any help with such an empty issue description.

Please edit your initial message, add relevant information (use the template) to bring more details about your problem.

[2017-07-17 13:56] santiagodoldan opened #3144 "[Question] Use Invoke buttons in MS Teams and Slack?"
## System Information
* SDK Language: NODE
* SDK Version: 3.8.4
* Development Environment: LOCALHOST

## Issue Description
I'm building a menu with buttons to let users configure their bot easily (this needs to work only in teams and slack), the problem I'm facing is that `postBack` isn't supported in MS Teams, so I'm playing with the new `invoke` stuff, but it looks like there isn't an implementa

[2017-07-17 13:56] reddy12345678 commented on #3141
Please find below screens.. some times images not displaying properyl in webchat
![1](https://user-images.githubusercontent.com/28974785/28271322-d7651700-6b25-11e7-8f7b-a7cc266f9b87.jpg)
<img width="223" alt="2" src="https://user-images.githubusercontent.com/28974785/28271323-d779d50a-6b25-11e7-9ea4-c28ff9ddddea.png">

[2017-07-17 13:58] anarchitect opened #3145 "[Question] Cortana does not speak response from bot?"
Hi, on Windows 10, when speak to Cortana using mic, it will speak out the response text.  However, after we configure Cortana channel for a bot as a Cortana skill in dev.botframework.com, when we talk to Cortana, it doesn't speak out the response from the skill.   This is inconsistent Cortana behavior, can you please enable the speak out function in Cortana for a skill?
I understand I can code in

[2017-07-17 14:04] reddy12345678 commented on #3141
Please find below screens.. images are not displaying some times in webchat only
Screen 1: Step1 image is not displaying
Screen 2: step 2 image is not displaying (bot screens same questions)

![1](https://user-images.githubusercontent.com/28974785/28271694-ed6cbe76-6b26-11e7-8874-0b16af52a88f.jpg)
<img width="223" alt="2" src="https://user-images.githubusercontent.com/28974785/28271693-ed671aac-6b

[2017-07-17 14:14] bilby91 commented on #3041
@fcioffi Did you look at the pull request I referenced (#3138) ? That PR should enrich the error with the information you need. I'm using that for the moment.

[2017-07-17 14:21] winks3 opened #3146 "[Question] Loading Bot using DirectLine in SharePoint - builder.prompts.choice button refresh issue"
When loading my bot using BotChat.js directline connection to Bot Framework inside of a SharePoint page, any builder.prompts.choice options that contain builder.liststyle.button will cause a page refresh if a user clicks that option.

HTML Button returned from BotChat.js DirectLine channel:

<button class="ac-pushButton" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; flex:

[2017-07-17 14:44] nwhitmont commented on #3144
@santiagodoldan The "invoke" action is specific to MS Teams. It can't be used on Slack.

[2017-07-17 14:44] krconnect commented on #2310
Perfect! Menu created !!! Now I'm trying to get the return from the menu click!

[2017-07-17 14:46] nwhitmont commented on #3145
@anarchitect Are you using .NET or Node SDK?

Please provide your code that reproduces the issue.

[2017-07-17 14:47] nwhitmont commented on #3146
@winks3 Are you using .NET or Node SDK?

[2017-07-17 14:49] nwhitmont commented on #3146
@winks3 Please post a code example that reproduces this issue so we can better assist you.

[2017-07-17 14:52] krconnect commented on #1409
Similar to last one - just build the structure...

Note did not test this very well.

//Rextester.Program.Main is the entry point for your code. Don't change it.
//Compiler version 4.0.30319.17929 for Microsoft (R) .NET Framework 4.5

using System;
using System.Collections.Generic;
using System.Linq;
using System.Text.RegularExpressions;
using System.Net;
using System.Net.Http;
using System.Dynami

[2017-07-17 15:04] winks3 commented on #3146
Sorry for not being clearer @nwhitmont

I am using the Node SDK for my bot.

I am using BotFramework-WebChat (https://unpkg.com/botframework-webchat@0.11.0/botchat.js) for my DirectLine connection.

Any button that appears in my webchat window will refresh the page. A button could be initiated by the following code:

[code]

However, any button that is built in the bot app.js (Node SDK) is returne

[2017-07-17 15:06] fcioffi commented on #3041
Thank you @bilby91. I'm waiting the merge.

FC

[2017-07-17 15:20] MarekLani opened #3147 "Bot Framework openUrl not working for suggested action on Facebook Messenger"
## System Information (Required)
* SDK Language: NODE
* SDK Version: 3.8.3

## Issue Description
Bot Framework openUrl not working for suggested action on Facebook Messenger

## Code Example
More details and code example, can be found in this [Stackoverflow post](https://stackoverflow.com/questions/45081848/bot-framework-openurl-not-working-for-suggested-action-on-messenger)

[2017-07-17 15:22] santiagodoldan commented on #3144
Thanks for the quick response 😃

I'm now thinking that maybe I can use `dialogAction` for Slack and `invoke` for MS Teams.

What it would be ideal is to receive the `invoke` event in the same dialog/step as the `dialogAction` does.

Not sure if that's possible and if that would be an expected behavior, I can try to adapt the ChatConnector and see if I can route those events to the correct dialog/s

[2017-07-17 15:32] JasonSowers commented on #2882
This works for me try this code exactly:

[code]

[2017-07-17 15:38] nwhitmont commented on #3141
@reddy12345678 What are the URLs to the images that display vs not display? Are they `https`?

[2017-07-17 15:38] JasonSowers commented on #3041
going to close this pending the PR merge feel free to reopen or continue the conversation here

[2017-07-17 15:38] #3041 closed

[2017-07-17 16:26] nwhitmont commented on #2078
@sayyednazeer check my profile

[2017-07-17 17:04] nwhitmont commented on #3147
Closing as duplicate of https://stackoverflow.com/questions/45081848/bot-framework-openurl-not-working-for-suggested-action-on-messenger

[2017-07-17 17:04] #3147 closed

[2017-07-17 17:11] nwhitmont commented on #3144
@santiagodoldan Did you try using `imBack`?

[2017-07-17 17:11] santiagodoldan commented on #3144
It looks like it works ok, the router detects correctly the waterfall step where the button was added. here you have again my WIP https://github.com/suttna/BotBuilder/commit/2b1ad4da19ce967c99ada4388cd475620d3311ba

Not sure what's the best way to allow us to do this, maybe passing a specific key to the invoke JSON payload? like `{ "respondBackToWaterfallStep": true }`, if that key isn't available

[2017-07-17 17:12] santiagodoldan commented on #3144
@nwhitmont yeah, but i don't like how it works in MS Teams, I'd prefer to not show a message when they click the button, also in Slack the message does not appear

[2017-07-17 17:30] santiagodoldan commented on #3144
Also, this will allow to use buttons for things like `Prompts.confirm` in ms teams, right?

[2017-07-17 17:45] JasonSowers commented on #3144
posting the [documentation here](https://msdn.microsoft.com/en-us/microsoft-teams/botsmessages) in case anyone comes accros this issue searching

[2017-07-17 18:14] oneeman opened #3148 "[Question] Node typings lack support for invoke events"
## System Information (Required)
* SDK Language: NODE
* SDK Version: 3.8.3
* Development Environment: LOCALHOST

## Issue Description
Invoke events are supposed to be handled using ChatConnector's `onInvoke` method.  But its type signature (https://github.com/Microsoft/BotBuilder/blob/3e3c40d6424b19c7d371a5cc4f3a86a68f560b25/Node/core/lib/botbuilder.d.ts#L3950) takes a handler with argument of typ

[2017-07-17 18:51] nwhitmont commented on #3148
@oneeman What channel are you using? Invoke action is specific to MS Teams and is not supported on other channels.

[2017-07-17 18:54] oneeman commented on #3148
Sorry, yes, I forgot to specify this is for MS Teams.

[2017-07-17 18:56] oneeman commented on #3148
I'm closing this issue because it occurred to me to look in the botbuilder-teams library, which I am also using, and I see that the event type for invokes is in there.  Sorry for the trouble.  For what it's worth, the C# version of botbuilder does include some types for invoke events, which was throwing me off a bit.

[2017-07-17 18:56] #3148 closed

[2017-07-17 19:00] nwhitmont commented on #3129
@amitbend Questions about API.ai integrations are out of scope for this form. Try asking your question on Stack Overflow.

[2017-07-17 19:00] stevengum97 commented on #3129
@amitbend  re-reading my comment I may have been a little unclear... I'm actually referring to [`PromptChoice.onRecognize()`](https://github.com/Microsoft/BotBuilder/blob/master/Node/core/src/dialogs/PromptChoice.ts#L90), not something like [`LuisRecognizer.onRecognize()`](https://github.com/Microsoft/BotBuilder/blob/master/Node/core/src/dialogs/LuisRecognizer.ts#L55).

Here's an example of what I

[2017-07-17 19:02] nwhitmont commented on #3148
@oneeman thanks for the update. glad to hear you found a solution

[2017-07-17 19:16] meets7 commented on #530
I am using localtunnel for testing from local. It allows you to reserver a static subdomain. eg. xyz.localtunnel.me using the --subdomain option.
`eg. lt --port 5000 --subdomain mycompany
`That way you don't have to change the bot settings everytime.

[2017-07-17 19:43] xjose97x commented on #3123
When can we expect for Bot Framework to support Twitter.

[2017-07-17 19:44] JasonSowers commented on #3123
As of right now, we are gauging interest.  No ETA available.

[2017-07-17 19:51] xjose97x commented on #3123
@JasonSowers , from what I understand, Twitter currently has "Streams" (which is basically a way to **poll**  the twitter account activity)  and is soon going to support Webhooks (currently beta).

I understand API.AI already supports Twitter Channel, and I guess they do by using streams.

Perhaps you guys should wait for Twitter to fully support a webhook system?

[2017-07-17 20:06] stevengum97 commented on #3134
@rasck, since the fix is in an upcoming release and you've been able to implement it successfully in your bot I'm going to close this issue. If you have other questions pop up that directly relate to this issue, feel free to reopen this issue.

@tinchomm, can you open a new issue with your code or sample code that reproduces the issue? Thanks.

[2017-07-17 20:06] #3134 closed

[2017-07-17 20:08] mitin001 commented on #2605
@nsingh Your request headers may be missing content length. I've had the same symptoms until I started counting content lengths and sending them to form ASP.NET endpoints.

[2017-07-17 20:34] JasonSowers commented on #3143
Can you explain your use case a bit?  What exactly are you trying to accomplish?

[2017-07-17 21:04] anarchitect commented on #3145
Any code, node.js , c#, ported from API.ai.  As an example , you can created a basic bot , ported to Cortana straight away , and it won't speak

[2017-07-17 21:11] cejixo3 opened #3149 "[Bug] Always typeError: Cannot read property 'logger' of undefined"
Hi all. I'm always got this error.

## System Information (Required)
* SDK Language: TypeScript (NodeJs)
* SDK Version: 3.8.4
* Development Environment:LOCALHOST

## Issue Description

## Code Example
[code]

## Steps to Reproduce the Issue
1. write code
2. run code
3. see on error

## Expected Behavior
Dialog must run

## Actual Results
/home/user/Projects/Pet/skype-bot-ci/node_modules/promise/li

[2017-07-17 22:18] stevengum97 commented on #3149
Duplicate of #2846, ctx not declared when called in else statement. Fix filed in PR #3128.

[2017-07-17 22:28] bilby91 commented on #3130
@nwhitmont Hello, did you have a chance to review my comment ? Thanks!

[2017-07-17 22:32] stevengum97 commented on #2846
A fix for the [`ctx`](https://github.com/Microsoft/BotBuilder/pull/3128) issue has been filed and needs to be reviewed; it however won't fix the underlying problem that the dialog id hasn't been found in the current bot/library. I haven't had the chance to take a look at the code people have posted but I'll try to get around to it this week.

For the original issue, it looks like there is somethin

[2017-07-17 22:37] nwhitmont commented on #3145
@anarchitect Please post your code so we can better assist you.

[2017-07-17 22:40] #3149 closed

[2017-07-17 22:52] JasonSowers commented on #3149
Closing this issue for now, feel free to reopen if the PR does not resolve it

[2017-07-17 23:07] nwhitmont commented on #3146
@winks3 Not sure where you are getting `{ listStyle: 2}` (?).

Instead, use:
`{ listStyle: builder.ListStyle.button}`

[2017-07-17 23:15] nwhitmont commented on #3142
@ersachit
1. No, this is not currently a feature
2. I don't understand your question. Please provide more details.

[2017-07-17 23:34] nwhitmont commented on #3146
possibly related: https://support.office.com/en-us/article/Allow-or-restrict-the-ability-to-embed-content-on-SharePoint-pages-e7baf83f-09d0-4bd1-9058-4aa483ee137b?ui=en-US&rs=en-US&ad=US

[2017-07-17 23:37] nwhitmont commented on #3146
@winks3 what browser/version are you using when you experience the error?

[2017-07-18 00:06] EricDahlvang commented on #3146
@winks3 How are you hosting botchat.js in the sharepoint page?  (iframing the bot in an embed web part works without issue)

[2017-07-18 00:09] anarchitect commented on #3145
Will post it tonight, but this is to do with a Cortana channel in general. The should read out the bot response in general.  Also, the code I will post is the same as a Azure bot  Service provisioned out of box.

[2017-07-18 00:35] stevengum97 commented on #3081
Can you provide your code for how you're incorporating QnA Maker and LUIS together?

[2017-07-18 01:17] nvonahsen commented on #3132
Hey, managed to do this with a custom chrono parser as per this: https://github.com/wanasit/chrono/issues/75

Maybe you guys could let us add a custom chrono parser to the prompt, or implement some way to do this automatically?

[2017-07-18 04:06] MadhuAcc12 opened #3150 "[Direct Line] Call to the Bot returns 502 Bad Gateway error frequently for a particular time span"
@dandriscoll
@nwhitmont

I am having a directline code that calls the bot and returns responses. I am facing an issue where I am intermittently getting Bad Gateway error (502 error) response from the bot. Maximum  number of times I receive a response properly but there is a particular time span when I get this error quite frequently and then after that time period everything starts working well ag

[2017-07-18 05:18] sayyednazeer commented on #3150
@MadhuAcc12

The same issue i was facing from a long time and i have figured out that its taking time when calculating the top scoring intent due to which direct line connection get drops and shows this type off error on portal.

Some times it works perfectly and some times get error.

#2078  and #2414

[2017-07-18 05:44] AmolPawarGitHub commented on #3143
Sure, Currently we have a web application which we are trying to convert it into BOT. We have a web form in which we have 3 dropdowns and every succeeding dropdown data is dependant on the previous dropdown selection and all those dropdown data is coming from SQL DB.

From the first dropdown, I get List<Class> which I am going to bind it to the second dropdown, so I want to store that List<Class>t

[2017-07-18 05:46] sharmadine commented on #2880
@stevengum97 would you know the timeframe of having the botbuilder version with the dialog fix?

[2017-07-18 07:22] jsiegmund commented on #3145
Is the code setting the Speak property on the return message? There's  a Text and a Speak property to set text. The Text property will be displayed, the contents of the Speak property will be spoken by Cortana. If you only set the first one, she will not speak. Bear in mind that this tech is moving fast so samples you use might not have these properties included yet.

[2017-07-18 07:23] ersachit commented on #3142
#2. I mean when we right click on our messages, we see some options like edit, delete etc. Can we disabled that event (right click event) in the case of bot?

[2017-07-18 07:27] jsiegmund opened #3151 "[NuGet] Microsoft.Bot.Builder.Azure dependency on 3.8.0.0"
## System Information (Required)
* SDK Language: C#
* SDK Version: 3.8.5.0 (Microsoft.Bot.Builder) / 3.2.2 (Microsoft.Bot.Builder.Azure)
* Development Environment: AZURE_BOT_SERVICE

## Issue Description
It seems that Microsoft.Bot.Builder.Azure holds a dependency on Microsoft.Bot.Builder version 3.8.0. When I upgraded my Builder version to 3.8.5 my bot stopped working giving me errors that it can

[2017-07-18 08:06] sjais789 opened #3152 "[Question] QnAMaker API not responding after calling from other js file in Node.js"
## System Information (Required)
* SDK Language:
* SDK Version:
* Development Environment:

## Issue Description

## Code Example

## Actual Results

[2017-07-18 09:02] reddy12345678 commented on #3141
i am showing only byte array image.. i think http or https not an issue because same sometimes appearing some times not apperaing

[2017-07-18 10:35] punitganshani opened #3153 "[Question] NullReferenceException with FormDialog"
## Issue Description
The form builder doesn't construct a form and directly gives OperationCanceledException in an emulator

## Code Example
Use the PizzaBot sample in the GitHub and run the sample

## Steps to Reproduce the Issue
1. Download the PizzaBot sample
2. Change LUIS model (I used a LUIS Model hosted in East US) in PizzaDialog and MSA details in Web.config
3. Execute the code in Visual S

[2017-07-18 10:51] leroibeukes commented on #2310
Awesome- please let us know how you go .

You should receive as the payload "menu1" when you click the "Menu Free Text" button.

Use this to figure out which action to do.

Cheers

[2017-07-18 11:08] anumeshyerigeri commented on #3081
Hi Sir,

Yes, I will provide the code . I am taken QnaMaker as option. when i am
getting the None as a intent in luis i am calling the QnaMaker service.
after calling the QnaMaker we have default match handler and No match
handler. if the score from qnamaker service is more than 0.70 bot will ans
the question otherwise we are showing "sorry! I did not understand you".

In the None intent code is h

[2017-07-18 12:09] anarchitect commented on #3145
Here is a out of box Azure Bot with QnA template.
In run.csx .
` case ActivityTypes.Message:
                    await Conversation.SendAsync(activity, () => new BasicQnAMakerDialog());
                    break;
                case ActivityTypes.ConversationUpdate:
                    var client = new ConnectorClient(new Uri(activity.ServiceUrl));
                    IConversationUpdateActivity

[2017-07-18 13:51] vasilkrastev90 commented on #3053
@nwhitmont  The outage is aparent again for the europe service: Request to

https://europe.directline.botframework.com/v3/conversations/40Yu0ECXBGvGshq5S2p11K/activities/40Yu0ECXBGvGshq5S2p11K%7C0000001' failed: [503] Service Unavailable

This is the type of error I am getting. The failures seem to be fairly frequent having the last one 20 days ago.

[2017-07-18 14:20] SeanSobey commented on #2929
@xjose97x It appears the .Net SDK does not have this issue since you can maintain the dialog stack between contexts.

I use the Node SDK so am not sure about this, just reading off the [source code](https://github.com/Microsoft/BotBuilder/tree/master/CSharp) and [example usage](https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-proactive-messages), but if you can point out th

[2017-07-18 14:36] McGern commented on #3053
Still getting the same error after an hour of trying? Is there any word on the European data centres outages?

Thanks

[2017-07-18 14:51] nwhitmont commented on #3151
@jsiegmund Thanks for reporting. I'll have the team update the packages ASAP. 👍

[2017-07-18 15:03] chrisgitrepo opened #3154 "[0630 - 0730 UTC-7] API Europe outage"
Can you please confirm this is being looked into, production environments are down.

## Issue Description
Error: Request to 'https://europe.directline.botframework.com/v3/' failed: [503] Service Unavailable

[2017-07-18 15:07] nwhitmont commented on #3152
Closed as - user did not provide any issue description.

[2017-07-18 15:07] #3152 closed

[2017-07-18 15:14] McGern commented on #3154
The US data centre appears to be down as well. Can't even test a bot from the bot framework webchat test on dev.botframework.com. Looks like it has been down for at least an hour and a half.

[2017-07-18 15:35] sjais789 commented on #3152
sorry for the  insufficient details. I have added the gist.
https://gist.github.com/sjais789/48eefd4b24da40c2360de1fb212997ba

[2017-07-18 15:41] ivmos commented on #3154
Same issue here

[2017-07-18 16:00] nwhitmont commented on #3154
All services had interruptions between 6:30am and 7:30am PDT (UTC-7)

[2017-07-18 16:03] nwhitmont commented on #3053
All services had interruptions between 6:30am and 7:30am.

@vasilkrastev90 @McGern You are commenting on a closed issue. In the future, please open a new issue to report problems/questions.

[2017-07-18 16:15] nwhitmont commented on #3153
@punitganshani What is the URL to the "PizzaBot sample in the GitHub"?

[2017-07-18 16:53] megancooper opened #3155 "[Question] context.Forward() causes stack exception?"
## System Information (Required)
* SDK Language: .NET/C#
* SDK Version: 4.6
* Development Environment: LOCALHOST

## Issue Description
I am using the AuthBot to try to authenticate users on my Bot. Whenever I call:
`await context.Forward(new AzureAuthDialog(AuthSettings.Scopes), this.ResumeAfterAuth, result, CancellationToken.None);`

 I get the following error in my code:
![errrrr](https://user-i

[2017-07-18 16:57] JasonSowers commented on #3145
Intentionally, there are 2 different ways for Cortana to send information, audio and visual.  In many situations, you would want to display information differently than you would like to speak information.  This may not come across in the simple example (like a QnA Bot) in which the response is just text that could be read or spoken without any noticeable difference.  There are however many situat

[2017-07-18 17:05] JasonSowers commented on #3152
@sjais789 please fill out the post template, you have given us no information to assist you.

[2017-07-18 17:05] ashicertis commented on #3112
I had this same issue when I was trying to **map a date range with a date property** in my model. I was using pre-built date in LUIS which sometimes returned a range of date to me and I was mapping it to a single date property which caused the exception.

[2017-07-18 17:19] nwhitmont commented on #3151
Relates to: https://github.com/Microsoft/BotBuilder-Azure/issues/18

[2017-07-18 17:20] nwhitmont commented on #3151
Relates to: https://stackoverflow.com/questions/45161505/debugging-published-bot

[2017-07-18 17:29] sjais789 commented on #3152
I have filled it .

[2017-07-18 18:08] jsiegmund commented on #3151
I'm not entirely sure the dependency issue is also the cause of the Cortana issue mentioned in the SO post, but ok fair enough to link them :)

[2017-07-18 18:52] andrecarlucci opened #3157 "FormFlow not working anymore after version 3.8.5 (no code change)"
## System Information (Required)
* SDK Language: .NET/C#
* SDK Version: 3.8.5
* Development Environment: LOCALHOST, AZURE_APP_SERVICE

## Issue Description
Simple example of a formflow form. It works on version 3.8.4, but not on 3.8.5.

## Code Example
[code]

## Steps to Reproduce the Issue
1. Connect the emulator
2. Write any string

## Expected Behavior
FormFlow on action!

## Actual Results
Th

[2017-07-18 19:23] mmulhearn commented on #101
FYI, via code, this worked for me:

[code]

[2017-07-18 19:50] JasonSowers commented on #3157
@andrecarlucci  can you try calling the form like below and see if that helps please?

[code]

[2017-07-18 20:23] nwhitmont commented on #3146
One thing to try - "Inspect" the button HTML using browser dev tools, and paste in the `type="button"` attribute to the `<button>` tag, then see if the issue persists.

[2017-07-18 20:34] andrecarlucci commented on #3157
Hi @JasonSowers ,
Thanks for your help.
Yes, it works using Forward.
I can update my code to use Forward instead of Call, but how to proceed when I'm deep in the dialogs and I don't have the activity anymore?

[2017-07-18 20:48] valentinewallace opened #3158 "[Question] ReceiptCard ImageCard tap doesn't fire"
## System Information (Required)
* SDK Language: Node
* SDK Version: 3.5.29
* Development Environment: AZURE_BOT_SERVICE

## Issue Description

When using a ReceiptCard, the `tap` property doesn't work for images embedded in ReceiptItems. You can tap on the item itself, but you can't tap on the image and have it fire a separate event.
## Code Example

[code]
## Steps to Reproduce the Issue
1. Use

[2017-07-18 21:47] anarchitect commented on #3145
@jasonsowers. Yes, I have done speak and display differently for one of my QnA bots. As u mentioned, there are two possibilities. What I am saying is the default should be speaking out, because that is how Cortana behave in other case, such as "hey Cortana, how are you?"

[2017-07-18 22:56] McGern commented on #3053
Sorry, thought because it's the same unresolved issue that you might open this one back up rather than having a glut of tickets that are the same,  making it harder to search and parse for the relevant issue

[2017-07-18 23:19] McGern commented on #3154
The US data centre seems to be fine now, but I am now getting a 500 internal server error for my bots when using the European directline service (the same bot works with the US directline service)

[2017-07-19 00:27] khs3141 opened #3159 "[Bug] FormFlow on LuisDialog not working after version 3.8.5"
## System Information (Required)
* SDK Language: .NET/C#
* SDK Version: 3.8.5
* Development Environment: LOCALHOST, AZURE_APP_SERVICE

## Issue Description
Formflow on LuisDialog. It works on version 3.8.4, but not on 3.8.5.

## Code Example
[code]
## Steps to Reproduce the Issue
1. Connect the emulator
2. Write Flight Status Question.
   (ex. Did you arrive from Incheon to Bangkok on July 19?)
3.

[2017-07-19 03:45] bilby91 opened #3160 "[Message Formatting] Backtick not working on Slack"
## System Information (Required)
* SDK Language: NODE
* SDK Version: 3.8.4
* Development Environment: LOCALHOST

## Issue Description
When sending a message with the backtick (`) character for code formatting, Slack is ignoring the formatting.

This is working correctly under Teams. Also, using `<code></code>` works in Teams but not in  Slack.

## Code Example
[code]
## Expected Behavior
Slack wil

[2017-07-19 05:22] sayyednazeer commented on #3140
@michaelhutchful

Any update..?

[2017-07-19 07:38] chrisgitrepo commented on #3154
Europe seems to to work fine now.

Microsoft, any chance for an update as to what happened? Is there a risk it will happen again? Its hard to justify the Bot Framework to clients when it goes down for 2 hours+ during prime time.

[2017-07-19 08:14] winks3 commented on #3146
@nwhitmont I did actually try this first of all and this rectifies the problem. As soon as I add the type="button" attribute in to Chrome everything works correctly.

I am referencing a two JS files inside of a SharePoint page layout - file 1 is the unpkg.com botchat.js and file 2 is common.js. Inside of common.js is the following piece of code:

[code]

I then have a DIV with the Id of chat_div2

[2017-07-19 09:23] tonymathewt opened #3161 "[API Endpoint Down] Intermittent Service Unavailable https://webchat.botframework.com/"
## System Information (Required)
* SDK Language: .NET/C#
* SDK Version: 3.8.0
* Development Environment: AZURE_BOT_SERVICE

## Issue Description

Not sure why now. I am getting error/status 503 Service Unavailable from webchat.botframework.com/api/tokens...
I tried to see my bot configurations (Web channel) loging into https://dev.botframework.com/bots/channels?id=MyBotId&channelId=webchat and thi

[2017-07-19 10:22] michaelhutchful commented on #3140
Hi

https://github.com/michaelhutchful/PostDataToBot

I read through your question, I might have misunderstood it. But here is a bot with a rest API endpoint that allows you to send data to it. That’s is what you want right?

Sent from Mail for Windows 10

From: sayyednazeer
Sent: 19 July 2017 05:22
To: Microsoft/BotBuilder
Cc: michaelhutchful; Mention
Subject: Re: [Microsoft/BotBuilder] [Question

[2017-07-19 11:04] nupurkamble commented on #3161
Yes i am have the same issue since 2-3 hours
im also getting these errors on my bot

[2017-07-19 11:34] nrobert commented on #3160
I had a look to your issue and can confirm that I got the same problem with C#: I tried single, double and triple backsticks, even HTML encoded:

[code]

Result is the following: no code formatting / all backsticks removed.
![image](https://user-images.githubusercontent.com/6305666/28364972-f78eac32-6c86-11e7-80c3-df1f4064cdf9.png)

[2017-07-19 11:55] nikhil-001mehta commented on #3161
Yes I am also facing this issue. Can anyone please give some heads up with this. What is the exact issue and by what time will it be fixed.

[2017-07-19 12:32] tonymathewt commented on #3161
@nupurkamble thanks for confirming/letting me know. @nikhil-001mehta I honestly don't know my friend. I am hoping that it would resolve by itself. I doubt whether this issue is region dependent. Because its behaving better when I tried the same url from a UK VM. The YSOD looks fixed now. But the channel's behaviour is still the same.

[2017-07-19 12:57] ne00346536 commented on #2874
@nwhitmont can you please confirm if the html support for skype for business channel version released or not.

[2017-07-19 13:29] anarchitect commented on #3145
Also, can you please suggest how many characters or words limit Cortana can speak out? As I think some of  response keep hitting error reading out, and it seems to do with the length of the response.

[2017-07-19 13:45] anarchitect commented on #3145
It seems the number of Characters or words Cortana can speak on Windows 10 has a limit, below is a paragraph static and it will error saying "Sorry, I can't support that action on this version of Windows. Updating should help. Try asking me about the Windows 10 Creators Update.".  However, Cortana on iOS is working ok.
![word counts](https://user-images.githubusercontent.com/2878492/28369767-e0117

[2017-07-19 13:51] megancooper commented on #3155
Update: Here is a more detailed look at the error
![1](https://user-images.githubusercontent.com/8683055/28370254-69d84a1e-6c5f-11e7-86fd-1b29605d8dd1.PNG)

[2017-07-19 13:54] NehaShaikh786 opened #3163 "[Question] The CardAction of Hero card in Carousel card not working as actionable button."
## System Information (Required)
* SDK Language: .NET/C#
* SDK Version: 4.6
* Development Environment: OTHER

## Issue Description
I have tried ImBack as a action type in the value field i am getting text. When i click on the Hero card the value which i have written in code is displayed after clicking now the problem is the text should passed as a value in the method so that the method should be c

[2017-07-19 14:01] punitganshani commented on #3153
@nwhitmont here you go `https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Samples/PizzaBot`

[2017-07-19 15:10] AlmogCohen commented on #2874
I'd lovr to hear some updates as well, html support could be very helpful!

[2017-07-19 15:35] JasonSowers commented on #3155
@megancooper are you using the 3.8.5 version of the SDK?  If so can you please try to revert to 3.8.4 or earlier?  I'm trying to see if this is6 related to other issues that have been reported

[2017-07-19 15:40] JasonSowers commented on #3140
@michaelhutchful  take a look at the [readme here](https://github.com/Microsoft/BotFramework-WebChat)  Towards the bottom of the page there is a section called **The Backchannel**  this may be what you are looking for to solve your problem

[2017-07-19 15:41] nwhitmont commented on #3160
@bilby91 Did you try escaping the backtick chars with preceeding slash "\"?

--> ```session.send("Message with \`code formatting\` here");```

[2017-07-19 15:43] bilby91 commented on #3160
@nwhitmont Yes, this doesn't work:

[2017-07-19 15:44] nwhitmont commented on #3161
@tonymathewt @nikhil-001mehta @nupurkamble There was an outage this morning which has since been resolved.

[2017-07-19 15:50] JasonSowers commented on #3153
@punitganshani what version of the SDK are you using.  If it is 3.8.5 please try reverting to 3.8.4 or earlier and let us know if the issue persists.  I', trying to see if this is related to some other issues.

[2017-07-19 15:54] michaelhutchful commented on #3140
Very interesting, I didn’t even know this existed. Thanks so much

Sent from Mail for Windows 10

From: Jason Sowers
Sent: 19 July 2017 15:40
To: Microsoft/BotBuilder
Cc: michaelhutchful; Mention
Subject: Re: [Microsoft/BotBuilder] [Question] Pass data from web page to bot& start root dialog based on input data? (#3140)

@michaelhutchful take a look at the readme here Towards the bottom of the pag

[2017-07-19 15:56] punitganshani commented on #3153
Yes its `3.8.5`, will revert to `3.8.4` and try again..

[2017-07-19 15:59] megancooper commented on #3155
@JasonSowers I figured out the issue. I needed to add these lines to my Global.asax.cs file:
[code]

[2017-07-19 16:01] punitganshani commented on #3153
Works like a charm with `3.8.4`

![image](https://user-images.githubusercontent.com/1032553/28377159-8b777bb6-6cde-11e7-8357-dd19d5fe82aa.png)

[2017-07-19 16:19] JasonSowers commented on #3153
Can you use that as a workaround for now?  There is a pull request in for this I will see if we can get this reviewed, merged and fixed as early as we can.

[2017-07-19 16:53] bilby91 commented on #3144
Any update on this ?

[2017-07-19 18:00] nwhitmont commented on #3132
@nvonahsen Contributions are welcome! If you'd like to submit a new feature, feel free to submit a PR to this project.

Thanks for the update, glad to hear you found a solution.

[2017-07-19 18:00] #3132 closed

[2017-07-19 18:23] EricDahlvang commented on #3163
The Value of the Card Action ends up being sent in the Text property.

Please see here for documentation: https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-add-rich-card-attachments#process-events-within-rich-cards

You can check the text property and respond accordingly:

[code]
Please note:
The Microsoft Bot Framework team prefers that **how to** questions be submitted on

[2017-07-19 18:23] #3163 closed

[2017-07-19 18:37] EricDahlvang commented on #3155
@megancooper  glad you've found a solution.

[2017-07-19 18:37] #3155 closed

[2017-07-19 18:50] iMicknl commented on #3154
@nwhitmont the status page is still down. Is the team aware of this? https://status.botframework.com
Outages can happen, but it would be great if the history / communication would be available on status.botframework.com.

[2017-07-19 18:52] ChristianRiedl commented on #3112
My LUIS sample does not use date type entities.

[2017-07-19 18:59] dillonong commented on #2073
@msft-shahins I understand that Implementing the causes triggers the logging. What I am looking for is a way to conditionally log the Message Received from the User not the bot. There are certain question that the bot will ask the user that we do not want to log.

I tried injectint IBotData into my implementation of IActivityLogger but I noticed that on a message received, (from user) the BotData.

[2017-07-19 19:29] JasonSowers commented on #3112
I've seen this when the JArray is empty, can you confirm it is not?

[2017-07-19 19:51] EricDahlvang commented on #3141
When are these images appearing, and when are they not appearing?  Is the server the images are hosted on down while they are not appearing?

[2017-07-19 20:26] ashicertis commented on #3112
@ChristianRiedl To be clearer, my LuisResult had entity which were not mapped to my model properties. In your case if you view **LuisResult** object, check if any **EntityRecommendations are not mapped to your LightForm model properties**. Once I removed any extra properties, I was able to get rid of this exception.

[2017-07-19 21:11] elubinenaptive opened #3165 "[Question] Can I train LUIS to use different Intent when Scoring too low?"
I have 5 intentions (A, B, C, D, and None).  When I ask a test question that isn't even close to anything in Intention A, LUIS is scoring A at 27% and None at 26%.  I don't see how or why Luis is guessing Intention A.  Can I train it or tell it to use None instead?  Or do I need to do that in my code and look for the Scoring in c#?  (Is None really anything special?)

Furthermore, I read here that

[2017-07-19 22:59] CLOUD9111 commented on #2948
Nothing yet sadly.

[2017-07-19 23:02] SarahSexton commented on #3051
My current approach is from the web "push notification" in the browsers, actually, rather than from the chat framework itself. This WebChatPush project can recall chat history from previous windows by clicking on desktop push notifications: [https://github.com/doristchen/WebChatPush](https://github.com/doristchen/WebChatPush)

[2017-07-19 23:03] SarahSexton commented on #3018
My current approach is from the web "push notification" in the browsers, actually, rather than from the chat framework itself. This WebChatPush project can recall chat history from previous windows by clicking on desktop push notifications: [https://github.com/doristchen/WebChatPush](https://github.com/doristchen/WebChatPush)

[2017-07-20 00:40] nwhitmont commented on #3165
@elubinenaptive Did you train the "None" intent?

[2017-07-20 00:47] nwhitmont commented on #3165
For reference, see:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cognitive-services/LUIS/luis-resources-faq.md#is-it-important-to-train-the-none-intent

**Is it important to train the None intent?**

[2017-07-20 02:09] elubinenaptive commented on #3165
Thank you.  However, what good does it do me when Luis says "Luis thinks this is the correct intent" and shows me a different intent for my phrase than the one I'm in.  It says 62% chance it's the None intent while my phrase in my current intent says only "30% chance".  (Luis thinks this intent is NOT correct for this utterance)

How do I tell Luis it's wrong and that it needs to use this intent f

[2017-07-20 02:51] ashice opened #3166 "[Question] Recognizing intent in Email"
## System Information (Required)
* SDK Language: C#
* SDK Version: 3.8.0.0
* Development Environment: AZURE_APP_SERVICE

## Issue Description
I have deployed a bot and have enabled Skype and Email channels for it. I also tested it using an emulator. So while it recognizes proper intents with Skype and Emulator, it fails to do so on Email. Only one intent is recognized, even if I send utterance rel

[2017-07-20 06:34] SUGPZ commented on #3099
Hi,
But I don't want to use Webchat as well as MVC. I want to call a bot in html page with direct line api. I am unable to call my bot using that api as it require "user" parameter and I want to know what should I pass it and how as my bot don't have specific user.

Thanks

[2017-07-20 07:17] mukeshzt commented on #2846
@stevengum97 I'm only working on skype client only not yet tried with FB Messenger.

Now Today again I'm receiving the same error message.  TypeError: Cannot read property 'logger' of undefined.
Does it because of I'm deploying the files continuously and testing my bot on skype client?

[2017-07-20 07:18] amitbend commented on #2846
I see on messenger as well

On 18 Jul 2017 01:33, "Steven Gum" <notifications@github.com> wrote:

[2017-07-20 09:32] df42 opened #3167 "[Bot Portal] Microsoft Bot Framework bots disappeared"
Original post at stackoverflow: https://stackoverflow.com/questions/45189635/microsoft-bot-framework-bots-disappeared

Since a few days we are missing all our bots in the "My Bots" section of the Microsoft Bot Framework at https://dev.botframework.com/

They still do work as expected, but we can not see or edit them.
Creation and deletion of new bots seems to work fine, but new ones also disappear

[2017-07-20 10:57] ne00346536 commented on #3065
@iMicknl can you please let me know if the rich cards feature support released or not for SFB.

Thanks,
Naresh.

[2017-07-20 14:22] nwhitmont commented on #3167
@df42 Thanks for reporting.  I'm going to get with the platform team today and see if we can figure out what's happening here.  Will update you when I have more details.

[2017-07-20 14:52] megancooper opened #3168 "LuisResult.Entities.Add() causes an Exception?"
### System Information
.NET/C#
Testing Bot in: MS Teams and Bot Emulator

I asked this on [StackOverflow](https://stackoverflow.com/questions/45217507/luisresult-entities-add-causes-a-system-notsupportedexception) but wanted to ask here to see if it was a bug?

In my code I dynamically add entities to a Luis Result like this:

    [LuisIntent("Show Color")]
    public async Task displayColor(IDial

[2017-07-20 15:43] rakeshreddy27 commented on #3023
Hey @Mikhail2k15 - Did you find a solutions for this problem. I am facing the exact same issue.

[2017-07-20 16:55] dan-cohn opened #3169 "[Question] Facebook returns error when using list template"
## System Information (Required)
* SDK Language: NODE
* SDK Version: 3.8.4
* Development Environment: OTHER

## Issue Description
I've been trying to use the Facebook list template with my bot. No matter what I do, it comes back with an error (400 Bad Request). I finally tried sending the JSON directly to Facebook (via curl). It worked! However, the exact same message attachment fails when sent th

[2017-07-20 17:03] ashicertis commented on #3168
I believe that you need to extract the entities object into a new variable and then make changes.

[2017-07-20 17:08] megancooper commented on #3168
@ashicertis Thanks this seems to work :)

[2017-07-20 17:10] Magic73 commented on #2391
Same issu with the SuggestedActions. It doesn't send the payload within the .Text property.
I had to read it from the ChannelData (thanks @msft-shahins)

[2017-07-20 17:15] ashicertis commented on #3168
@megancooper You are welcome.

[2017-07-20 17:28] #3168 closed

[2017-07-20 18:50] dan-cohn commented on #3169
By the way, I also tried using sourceEvent to send
[code]
Even this doesn't work. I feel like there's an issue with the FB connector, but maybe I'm just missing something.

[2017-07-20 19:24] dan-cohn commented on #3169
Wow, I just figured out what's wrong.  It has nothing to do with the FB templates!

My problem was that I was storing too much information in the conversation data at the same point where I was sending the message.  I guess there's a limit on how much session data you can have?

Once I removed the excessive data, it started working.

[2017-07-20 19:24] #3169 closed

[2017-07-20 20:03] JasonSowers commented on #3169
32k limit

[2017-07-20 20:05] JasonSowers commented on #3090
@lchen1281  did you ever get this sorted out, or are you still having trouble?

[2017-07-20 20:12] lchen1281 commented on #3090
Still had the issue. I switched to enterprise version.

[2017-07-20 20:56] #3161 closed

[2017-07-20 20:57] JasonSowers commented on #3090
I am going to close this issue for now, If you would like to continue the conversation please feel free to reopen the issue

[2017-07-20 20:57] #3090 closed

[2017-07-20 20:58] nwhitmont commented on #3154
@iMicknl Yes we disabled the status page on purpose since it's not getting updated in real-time and didn't want to confuse users.

[2017-07-20 20:58] #3154 closed

[2017-07-20 20:59] JasonSowers commented on #3068
Closi9ng this issue for now, waiting for the PR to get reviewed please feel free to continue the conversation and reopen if you would lie to.

[2017-07-20 20:59] #3068 closed

[2017-07-20 21:30] JasonSowers commented on #3151
@jsiegmund  was your bot using formflow?

[2017-07-20 21:35] reyesrico commented on #1439
@nwhitmont prod is now being pushed. Can you please verify if it is solved?

[2017-07-20 21:45] JasonSowers commented on #1439
@reyesrico Ill take a look

[2017-07-20 22:02] NickEricson commented on #3167
Dominik - We have a different Owner Email address listed for these bots (this is configurable on the settings tab). If you Email me (nericson @ microsoft.com) I will reply with that Email address.

Sorry about all the confusion.

[2017-07-20 22:17] #1439 closed

[2017-07-20 22:18] JasonSowers commented on #2583
please refer to #1439 line breaks are now possible in hero cards.

[2017-07-20 22:19] #2583 closed

[2017-07-20 23:00] nwhitmont commented on #3150
@MadhuAcc12 Direct Line API has a timeout of 15 seconds, so if your bot fails to respond to the request in that period, Direct Line will throw a 502 error, indicating that your bot did not respond.

[2017-07-20 23:02] danmarshall commented on #1439
Hi @JasonSowers - does it work with `\n\n` ?

[2017-07-20 23:08] JasonSowers commented on #1439
Nice catch @danmarshall  I'm 99.99% sure i intended to use \n\n instead of \r\r

using this code:
[code]
I got this result:
![image](https://user-images.githubusercontent.com/6301037/28442543-9b19efb8-6d65-11e7-818b-ce29b0336be5.png)

[2017-07-21 06:23] jsiegmund commented on #3151
@JasonSowers nope, just LUIS.

[2017-07-21 08:46] df42 commented on #3167
@NickEricson I'm not sure what you mean, but I've sent you an e-mail 👍

[2017-07-21 09:09] KIBASSA opened #3170 "[Question] "Invalid channel ID" exception on unit test by using DialogTestBase"
## System Information (Required)
* SDK Language: C#
* SDK Version: 3.8.1
* Development Environment: LOCALHOST

## Issue Description
I just begin to introduce unit test into my bot.
And I use the project `https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Tests/Microsoft.Bot.Sample.Tests/EchoBotTests.cs` by inheriting from the class DialogTestBase to make my test.
But I have an error when I

[2017-07-21 09:15] nrobert commented on #3170
If you have a look to `MakeTestMessage` method [here](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Tests/Microsoft.Bot.Builder.Tests/DialogTestBase.cs#L127), you will see that they setup `Test` as `ChannelId`. It is not a valid value, so you will not be able to access `BotState` for this value, hence the exception.

[code]

If you want to use `BotData` in your tests, you may have to

[2017-07-21 09:21] nrobert commented on #3166
Email channel can have a lot of "noise" in the text content as it can be html content, there is also the signature, etc.

Can you post some samples of what you are sending, and also the recognition code (or maybe it's done through LUIS)?

[2017-07-21 10:05] ashicertis commented on #3166
You are correct in assuming it is done by LUIS.

I am sending 'Hi' in the email subject and keeping the rest of the email body blank. If I sent the same message 'Hi' via Skye it would activate Greeting Intent and reply back with a message listing the options I have but that doesn't happen if I am using the email channel.

I have also tried sending just Hi in the body, keeping the subject empty or

[2017-07-21 10:43] nupurkamble opened #3171 "[Question] Editing the message sent by user before it is printed?"
Is there way to take the text sent by the user to the bot before it prints and edit it and then print it.
example if user writes 'Hellllo'  the wrong spelling is printed as the users message. But i want to print the corrected text instead i.e. 'Hello'. (Shown in image)
I'm already using the bing spell check api for the bot to understand but i don't want the wrong text to show at all

![capture](ht

[2017-07-21 11:56] nrobert commented on #3166
Have a look to the implementation of `LuisDialog`: the `MessageReceivedAsync` is getting the text of the message from `message.Text` ([here]([url](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Builder/Dialogs/LuisDialog.cs#L279))). If you test with some emails you will see that it only get email body (email subject is accessible using `channelData`).

For your qu

[2017-07-21 13:47] Mikhail2k15 commented on #3023
@rakeshreddy27  Unfortunately no.

[2017-07-21 14:04] IanLawrence commented on #2057
Is there any timeline for this implementation in the channel config page?

[2017-07-21 14:24] RaoVenka opened #3172 "[Question] Kindly Provide the Code for C#(Adaptive Card)"
HI team,

I went through this adaptive card link given below.
(http://adaptivecards.io/visualizer/index.html?hostApp=Microsoft%20Teams )

I have tried this json request.and got the response Data:

**REQUEST**
[code]

[2017-07-21 16:10] JasonSowers commented on #3172
@RaoVenka   can you please clarify your question.  not exactly sure what you are asking.  take a look [at this repo](https://github.com/matthidinger/ContosoScubaBot) and see if this helps, it is our latest adaptive cards demo in .NET.

[2017-07-21 17:45] nwhitmont commented on #3171
@nupurkamble For reference, are you using .NET or Node SDK?

[2017-07-21 17:51] ashicertis commented on #3166
I thought both body and subject of email was being read by default. I tried sending emails with text in the body of email for which I want intent to be captured but again, wrong intent is captured.

[2017-07-21 17:56] jsiegmund opened #3173 "[Question] Cortana Skill says "invalid channel data"?"
## System Information (Required)
* SDK Language: C#
* SDK Version: 3.8.5
* Development Environment: AZURE_BOT_SERVICE

## Issue Description
I created a bot for a Cortana Skill. It all works fine when I run it locally, but once published to an Azure Bot Service instance, I'm getting "invalid channel data" whenever an action is being executed. I have debugged my code remotely only to find that my st

[2017-07-21 18:07] JasonSowers commented on #3172
I think this is what you are looking for
[code]

[2017-07-21 18:20] JasonSowers commented on #3172
I think this is what you are looking for, please reopen if it is not.  Also let me know if you have any other questions
[code]

[2017-07-21 18:21] #3172 closed

[2017-07-21 18:40] bilby91 commented on #1217
@nwhitmont Any updates on being able to compile the ts source ? The current source has multiple errors when compiling.

[2017-07-21 19:03] elubinenaptive opened #3175 "[Question] How do I tell LUIS to use this Intent instead of the one it's thinks"
What should I do when Luis says "Luis thinks this is the correct intent" and shows me a different intent for my phrase than the Intent I'm looking at. It says 62% chance it's the None intent while my phrase in my current intent says only "30% chance". (Luis thinks this intent is NOT correct for this utterance)

How do I tell Luis it's wrong and that it needs to use this intent for this utterance?

[2017-07-21 19:06] elubinenaptive opened #3176 "[Question] Wildcards for LUIS Intents in Bot Dialog?"
Is it possible to specify a wildcard for an Intent in my code so it will continue to handle new Intents without an update?

[code]

[code]

[2017-07-21 19:46] ChristianRiedl commented on #3112
Thank you, this was the reason.

[2017-07-21 20:36] nwhitmont commented on #3175
@elubinenaptive For reference, are you using .NET or Node?

You need to train your model in order for it to recognize things the way you want it to.

For more information about training your LUIS model, see:
https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/train-test

[2017-07-21 20:38] elubinenaptive commented on #3175
I am using C#.

Are the score values just for reference?  Or is there a way to use those values to train Luis?

[2017-07-21 20:42] ashicertis commented on #3112
You are welcome  :-)

[2017-07-21 21:09] EricDahlvang commented on #3170
Hi @KIBASSA

**Note: The default state service is not intended for production bots.**  Please use the Azure Extensions, or implement your own state client.  https://github.com/Microsoft/BotBuilder-Azure  Here is a blog post explaining how to use the azure extensions: https://blog.botframework.com/2017/07/18/Saving-State-Azure-Extensions/  (there's a redis implementation here: https://github.com/an

[2017-07-21 21:09] #3170 closed

[2017-07-21 21:15] nwhitmont commented on #3142
@ersachit No, that would be in the client that renders the message, which Bot Framework does not have control over.

[2017-07-21 21:15] #3142 closed

[2017-07-21 21:26] danmarshall commented on #2057
Hi @IanLawrence we don't have a timeline for this feature but it is on our backlog. In the meanwhile, we'd like to know what level of customization that people are needing. Is it just background colors?

[2017-07-21 21:42] EricDahlvang commented on #3176
An empty intent might be enough for your scenerio:

[code]
If LUIS cannot understand the intent, it will automatically return an empty string.

---

Another thing to look into is the DispatchDialog. It provides more flexibility than the LuisDialog: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Samples/SimpleDispatchDialog/SimpleDispatchDialog.cs

---

The Microsoft Bot Framework team 

[2017-07-21 21:42] #3176 closed

[2017-07-21 21:46] nwhitmont commented on #3158
@valentinewallace I noticed you are using an older version of `botbuilder` NPM module. Are you still experiencing the issue after upgrading `botbuilder` module to v3.8.4?

[2017-07-21 22:40] DeniseMak commented on #3175
The scores are a hint that tell you which utterances are the most important for training LUIS. A big difference in the scores mean a bigger change in the behavior of the LUIS app if you retrain with that utterance. For example, let's say you have a LUIS app with a None intent and the prebuilt Weather.GetCondition intent, and you've already trained it on just the utterance "hi" in the None intent.

[2017-07-21 23:07] nwhitmont commented on #3146
Update: Fix has been checked into Adaptive Cards repo.

[2017-07-21 23:09] nwhitmont commented on #3175
Thanks for the additional info @DeniseMak 👍

[2017-07-21 23:11] nwhitmont commented on #1217
@bilby91 Let me check on that. Can you post your errors you saw when compiling, including your Node/NPM/Typescript versions?

[2017-07-21 23:19] bilby91 commented on #1217
Sure. I'm doing `tsc` on the src folder to compile.

Node: 7.8.0
Npm: 4.5.0
Typescript: 2.4.1

[2017-07-21 23:28] bilby91 commented on #1217
This is the output using node 8.2, npm 5.0.2 and typescript 2.4.2 inside a docker container.

[code]

[2017-07-21 23:36] nwhitmont commented on #3135
@hdiniz For reference, what is your bot name, bot handle and App ID as you registered in the Bot Portal at https://dev.botframework.com?

[2017-07-21 23:54] nwhitmont commented on #3166
The message received by your bot will contain the body of the email, not the subject.

How well trained is your LUIS model? Which intent is not getting recognized, and how many sample utterances was it trained with? Is "hi" one of the example utterances used for training your LUIS model? What does your LUIS model look like? Can you export your LUIS model JSON and share it here for reference?

[2017-07-22 00:17] nwhitmont commented on #3158
@valentinewallace For reference, what channel(s) are you using with the Receipt Card where you experience this problem? Some channels will handle the card actions differently... Eg. Skype, Slack, WebChat, etc.?

[2017-07-22 02:51] nupurkamble commented on #3171
I'm using .Net

[2017-07-22 16:09] Chetanchezz commented on #1211
Hi @dandriscoll .My bot works fine in the emulator,even with Microsoft app id and password but when I'm testing it at https://dev.botframework.com i get a message "couldn't send message retry".I get a 401 unauthorized error when I'm trying to get a reply from the emulator with bot url https://botwebdeployment.azurewebsites.net/ (deployed in azure).I have added my bot  in microsoft bot directory an

[2017-07-22 17:20] Chetanchezz opened #3177 "[Question] Bot works in the emulator but doesn't work on dev.botframework or on skype channel"
## System Information (Required)
* SDK Language:  .NET/C#

 My bot works fine in the emulator,even with Microsoft app id and password but when I'm testing it at https://dev.botframework.com i get a message "couldn't send message retry".I get a 401 unauthorized error when I'm trying to get a reply from the emulator with bot url https://botwebdeployment.azurewebsites.net/ (deployed in azure).I have

[2017-07-22 17:53] michaelhutchful commented on #3177
Makes sure that your MicrosoftAppId and MicrosoftAppPassword are set in Web.config

Sent from Mail for Windows 10

From: Chetanchezz
Sent: 22 July 2017 17:20
To: Microsoft/BotBuilder
Cc: Subscribed
Subject: [Microsoft/BotBuilder] Bot works in the emulator but doesn't work ondev.botframework or on skype channel (#3177)

System Information (Required)
• SDK Language: .NET/C#
My bot works fine in the

[2017-07-23 11:16] anarchitect opened #3178 "[Cortana] Errors when SayAsync long response?"
## System Information (Required)
* SDK Language: C#
* SDK Version: 3.8.3.0
* Development Environment: AZURE_APP_SERVICE

Bot handle: EchoCortana

## Issue Description
when SayAsync too many characters, Cortana on Windows 10 Enterprise will error saying "Sorry, I can't support that action on this version of Windows. Updating should help. Try asking me about the Windows 10 Creators Update.". However

[2017-07-23 11:20] nupurkamble opened #3179 "[Question] How to edit "What do you want to change?" prompt and what's shown after that in a FormFlow ?"
I have a written this formflow and its output on some browsers looks fine but on some it doesnt.

    [Serializable]
    public class InquiryForm
    {
        [Prompt("What is your First Name? {||}")]
        public string FirstName { get; set; }
        [Prompt("What is your Last Name? {||}")]
        public string LastName { get; set; }
        [Prompt("What is your email address? {||}")]

[2017-07-23 17:10] insanediv commented on #1987
Hi guys,
how can I read such parameters from the bot side?
Thank you very much

[2017-07-23 17:24] sayyednazeer commented on #3051
@SarahSexton  and @EricDahlvang
Thanks...
ill go through the link mention by you.

[2017-07-23 17:26] sayyednazeer commented on #3140
Thanks
@michaelhutchful  and @JasonSowers

Ill check this.

[2017-07-23 17:39] danmarshall commented on #1987
@insanediv is your bot in Node or C# ?

[2017-07-23 18:31] insanediv commented on #1987
Hi @danmarshall it is a node bot

[2017-07-23 18:44] danmarshall commented on #1987
@insanediv see https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/core-GetConversationMembers

[2017-07-23 19:12] insanediv commented on #1987
@danmarshall is it possible to use this mechanism to pass arbitrary parameters to the bot via the web chat embed code?

[2017-07-23 20:41] narulasrinivas commented on #3159
Is there any planned date to resolve this issue?

[2017-07-23 22:19] danmarshall commented on #1987
@insanediv no. For arbitrary values, you will need to host your own custom webchat page.
See the "backchannel" in the WebChat repo [readme](https://github.com/Microsoft/BotFramework-WebChat#the-backchannel) and [example](https://github.com/Microsoft/BotFramework-WebChat/blob/master/samples/backchannel/index.html).

[2017-07-23 23:42] khs3141 commented on #3159
This bug has been fixed.
Please refer to the attached code.

![image](https://user-images.githubusercontent.com/1673677/28504102-ec61027e-704b-11e7-86a9-02c8ad96ba83.png)

[2017-07-23 23:42] #3159 closed

[2017-07-24 00:47] nrobert commented on #3171
I don't see any way to do that, as the message is handled by the channel first

[2017-07-24 08:46] jinot92 opened #3180 "[Question] Skype calling bot code example not working?"
* SDK Language: Node
* SDK Version: 6.5.0
* Development Environment: Azure bot service

## Issue Description
I am new to node and am trying to implement the calling feature on the bot. I have copied the code from git and have made some changes to it to fit my requirements.
The chat part of the bot works. It is the calling part thats is not working.

## Code Example
[code]
## Actual Results
The bot

[2017-07-24 10:19] insanediv commented on #1987
@danmarshall Thank you very much.
I managed to pass custom parameters to my bot, but have another question:
_How is it possible to store such parameters to the ```session.userData``` object?_

 I show you my code:

**Client side**
[code]
**Server side**
[code]

Thank you again

[2017-07-24 10:37] BirenPanigrahi commented on #2840
@megancooper @punjabimundaaa

Please help me to find out what's wrong with my code :(

`if (activity.Type == ActivityTypes.Message)
            {

                //await Conversation.SendAsync(activity, () => new Dialogs.SimpleLUISDialog());
                try
                {
                    // Sends user's Id and Name to RootDialog Class
                    StateClient stateClient = activ

[2017-07-24 11:24] punjabimundaaa commented on #2840
hey Biren
I assume the luis model and subscription id are correct and working. You can check on luis interface itself  for the key/id combination and see if its working

Also try to see the actual http request sent from your app to Luis.  Is there any request made?

a

[2017-07-24 12:59] RaoVenka opened #3181 "[WebChat] iframe code is working on Google Chrome , But Facing issue in Firefox and IE"
Hi Team ,
I have created HTML Page , Inside HTML page I have used Iframe Web chat code.

For example :<iframe width="100%" height="342" src="https://webchat.botframework.com/xxx"></iframe>

In Google chrome Application works fine.
user Types "Hi" meaasge and click on Submit button

![image](https://user-images.githubusercontent.com/28774238/28524200-1b5bc2de-709d-11e7-91ef-d0e199113c9c.png)

Bot r

[2017-07-24 14:29] BirenPanigrahi commented on #2840
@punjabimundaaa

I think the ID and key are fine.

I am able to get response from http request like below.

[code]

[2017-07-24 14:47] nwhitmont commented on #3180
@jinot92 For reference, where did you copy this code example from?

[2017-07-24 14:57] jinot92 commented on #3180
https://github.com/Microsoft/BotBuilder/blob/master/Node/examples/demo-skype-calling/app.js
@nwhitmont  this is where I copied the code from.

[2017-07-24 14:59] nwhitmont commented on #3181
@RaoVenka Hello, are you using .NET or Node SDK? For the bot that is having the problem, what is the bot name, not handle, and App ID as registered in the [Bot Portal](https://dev.botframework.com)

[2017-07-24 15:15] nwhitmont commented on #3177
Duplicate of https://stackoverflow.com/questions/45256550/my-bot-works-fine-in-the-emulator-even-with-microsoft-app-id-and-password-but-wh

[2017-07-24 15:15] #3177 closed

[2017-07-24 15:18] insanediv commented on #1987
I finally managed to solve this. For anyone that needs please visit
[my github page](https://github.com/insanediv/microsoft-bot-framework-webchat-custom-parameters)

[2017-07-24 15:46] megancooper opened #3182 "Can't create newline in Hero Card text [MS Teams]?"
I want to have multiple lines in my Hero Card text and I followed [this post](https://github.com/Microsoft/BotBuilder/issues/1439) by doing the following in my code

            var card = new HeroCard {
                Title = buildName + " " + buildType + " on " + buildDate,
                Subtitle = "Build Evaluation: " + buildEvalResult,
                Text = "Hello \n\n World \n\r Hello! \r

[2017-07-24 15:59] megancooper commented on #3182
I got this working using <br> like so:

`Text = "Hello \nWorld \nHello! \r\r New Line? <br> Word Here \n Not working"`

![Uploading err line.PNG…]()

[2017-07-24 15:59] #3182 closed

[2017-07-24 16:45] singhsurya opened #3183 "We are using .net bot builder sdk to create a bot. Our bot throws following exception after the first prompt. It seems that it crashes during saving the Bot state -"
## System Information (Required)
* SDK Language:
* SDK Version:
* Development Environment:

## Issue Description

## Code Example

## Steps to Reproduce the Issue
1.
2.
3.

## Expected Behavior

## Actual Results

[2017-07-24 16:48] #3183 closed

[2017-07-24 16:51] Noc2 opened #3184 "[Skype] Warning messages “Acl check failed”"
## System Information (Required)
* SDK Language: C#
* SDK Version: 3.8.5
* Development Environment: Azure App Service

## Issue Description
Might be a stupid question but I've never heard of an “Acl check”. I get the following warnings for the skype channel “Acl check failed” for a few days now. Any idea why?
Microsoft App Id: 64ba2a82-af90-43f0-8aea-42a95405a1ba
![image](https://user-images.githu

[2017-07-24 17:02] nwhitmont commented on #3135
@hdiniz I have consulted with the Skype Platform team, and unfortunately, the Skype API does not actually support returning the usernames via this API method, thus the empty fields.

[2017-07-24 17:02] #3135 closed

[2017-07-24 18:28] megancooper commented on #2840
@BirenPanigrahi I may need a bit more information. Could you try stepping through your code and finding which line causes the error? Also, you can get a detailed/cleaner explanation of the exception if you look in the "output" section of visual studio. Shown Here:

![output](https://user-images.githubusercontent.com/8683055/28538451-eb76c7cc-7073-11e7-820f-b0bfc18ac2b9.PNG)

If you're able, could

[2017-07-24 18:47] IanLawrence commented on #2057
Hey @danmarshall ..I actually managed to work around it by using Direct Line but basically I wanted to change everything visible in the chat (color, images, texts) . Could not find where the text Chat comes from and the images (send, upload image) but I did not look too hard yet

[2017-07-24 18:55] danmarshall commented on #2057
Thanks for the feedback @IanLawrence . You'll find the text in [this file](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/Strings.ts) and [upload](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/Shell.tsx#L89) & [send](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/Shell.tsx#L107) buttons in SVG data. These can be overridden with your own CSS

[2017-07-24 19:48] nwhitmont commented on #3145
On the [Cortana FAQ page](https://docs.microsoft.com/en-us/cortana/skills-faq) it mentions that responses are limited to 90 seconds, but there isn't a specific mention of character count.

Also, for reference, are you running Windows Creators Update?

[2017-07-24 22:17] nwhitmont commented on #3171
Not currently a feature.

[2017-07-24 22:17] #3171 closed

[2017-07-24 22:31] nwhitmont commented on #3158
@valentinewallace For reference, what channel(s) are you using with the Receipt Card where you experience this problem? Some channels will handle the card actions differently... Eg. Skype, Slack, WebChat, etc.?

[2017-07-24 22:54] nwhitmont commented on #3158
@valentinewallace The `tap` attribute is designed to be added as a top-level property of the `ReceiptCard` itself. The `tap` attribute will not function when added to a `CardImage` object as in your example.  The idea is that the user "taps" on the whole card, rather than an individual item within that card.

From the ReceiptCard definition:
https://docs.botframework.com/en-us/node/builder/chat-re

[2017-07-24 22:54] #3158 closed

[2017-07-24 22:59] nwhitmont commented on #3160
Verified this is a bug.

[2017-07-24 23:12] nwhitmont commented on #3165
@elubinenaptive You need to train your app so that it recognizes the intents you define for it.

For more information on training your app, see: https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/train-test

**Introduction to Language Understanding Intelligent Service (LUIS)**
https://www.youtube.com/watch?v=jWeLajon9M8

**Advanced Learning Session for Language Understanding Intelligen

[2017-07-24 23:22] nwhitmont commented on #3167
reopen if the issue persists.

[2017-07-24 23:22] #3167 closed

[2017-07-24 23:23] nwhitmont commented on #3144
@bilby91 what do you mean?

[2017-07-24 23:41] nwhitmont commented on #3144
@santiagodoldan Back to your original question -- The equivalent of MS Teams "invoke" action in Slack is "postBack".

[2017-07-24 23:48] santiagodoldan commented on #3144
Are there any plans to route invoke messages to the dialog that added the buttons? like how postBack behaves, you can see what I had to change to get that result, if that's ok, I can work on a better solution to allow devs to get invoke callbacks, maybe passing a parameter like `postBack` and if that flag is true, we can route the invoke message to the correct dialog.

[2017-07-25 00:00] bilby91 commented on #3160
This is a bug in Microsoft internal Slack connector right?

[2017-07-25 05:15] Yudner commented on #914
in c# ????

[2017-07-25 05:31] stedey opened #3185 "[Question] New-CsOnlineApplicationEndpoint error"
PS C:\WINDOWS\system32> New-CsOnlineApplicationEndpoint -ApplicationId 4e9c491e-2ad8-4e9c-803a-650d5c7a84b7 -Name kaifaB
ot -Uri sip:kaifabot@yangqs.onmicrosoft.com -Verbose
详细信息: Correlation Id: 3522957594
详细信息: Fetching application endpoint from BVD
详细信息: Application Endpoint not found
详细信息: Validating domain for the tenant: yangqs.onmicrosoft.com
详细信息: Domain validity: True
详细信息: Found default

[2017-07-25 07:12] amitgobare23 opened #3186 "[Question] How to implement push notification for chatbot using bot framework"
I created bot already.but now i have to implement push notification service for same....how i can implement it by using c#...thanks in advance

[2017-07-25 07:23] PrasenjitGiri opened #3187 "LuisDialog context forward triggers callback without waiting for message"
I've already asked this query on StackOverflow in this [post](https://stackoverflow.com/questions/45181424/luis-multiple-idialog) but there has been no solution.

I've also found similar issue listed here #https://github.com/Microsoft/BotBuilder/issues/978

## System Information (Required)
* SDK Language: C#
* SDK Version: 3.8.5
* Development Environment: Localhost & Luis Service

## Issue Descrip

[2017-07-25 08:27] BirenPanigrahi commented on #2840
@megancooper

Thanks for your response. Below is the screenshots of the output window.

![image](https://user-images.githubusercontent.com/24914725/28562665-1a40e9e6-711b-11e7-8ebc-2f3b84d80ff3.png)

![image](https://user-images.githubusercontent.com/24914725/28562643-fe319b60-711a-11e7-9e66-000f5ea40afb.png)

[2017-07-25 09:38] hardikchoudhary opened #3188 "[Cognitive Services] Image to text API - How to send image file directly to API without URL?"
Hi Team

Please anyone can help me

I want to use the service in my chat bot

I don't want to extract using url

can i extract directly by passing image..

from chat bot

     // Echo back attachment
     var attachment = msg.attachments[0]; I get the attachment here..how i can get the text

This is what i refer in js file

    $.ajax({
            url: uriBase + "?" + $.param(params),

[2017-07-25 10:18] RaoVenka commented on #3181
@nwhitmont Hi , I am using .NET,

Below are the details.
Bot Name :  Harmony
Bot handle : Harmony
APP ID : bffcee4d-86f8-4723-afd2-c8ee73ed5e8e

Could you pls provide steps to reproduce this issue.

[2017-07-25 11:01] anumeshyerigeri commented on #3081
Hi,

I am performing load test for my bot. Upto 9 users it is working fine. if
we apply load of 10 users we are getting the error "Sorry my bot code
having an issue".  I need to know about any restriction on botframework on
number of users at a time?

Thanks and Regards,
Anumesh Y

On Tue, Jul 18, 2017 at 4:38 PM, Anumesh Yerigeri <anumeshyerigeri@gmail.com

[2017-07-25 11:01] anarchitect commented on #3145
Hi @nwhitmont , I reported this as a new issue. https://github.com/Microsoft/BotBuilder/issues/3178. There is an example in it, it doesn't speak long enough for 90 seconds for sure as you tell from code example. it is the number of words matters. I am running a corporate custom build of Windows Enterprise, how can i tell whether it is a WIndows Creators update?

[2017-07-25 11:28] hdiniz commented on #3135
@nwhitmont thanks for the feedback. That is not a must for what I was planning, but hopefully in the future they can support it.
Best regards

[2017-07-25 12:56] Magic73 commented on #3076
Suggested actions are supported only in the lastest version of the Android's app.
Windows Store version doesn't show the buttons, instead if I use my S8+ I can use them.

[2017-07-25 13:35] andrecarlucci commented on #864
Hi guys,

Skype signin button not working (it's, there, but it's not clickable) for me on the desktop version.
Version:  7.37.0.103

It works just fine on my Android.

Any fix on this?

[2017-07-25 14:05] BirenPanigrahi opened #3189 "cd.."
## System Information (Required)
* SDK Language:
* SDK Version:
* Development Environment:

## Issue Description

## Code Example

## Steps to Reproduce the Issue
1.
2.
3.

## Expected Behavior

## Actual Results

[2017-07-25 14:05] BirenPanigrahi opened #3190 "cdcdcdcdcdc"

[2017-07-25 14:06] #3189 closed

[2017-07-25 14:08] #3190 closed

[2017-07-25 14:11] megancooper commented on #2840
@BirenPanigrahi It looks like the Bot Connector is having trouble connecting to your bot. Did you use an App ID & Password when connecting to localhost? If so, are those same values included in your Web.config? is `[BotAuthentication]` located in your Messages Controller like so:

[code]

[2017-07-25 14:22] megancooper commented on #3187
I think the problem is you call a method name **MessageRecieved** in your context.Wait():
[code]
but you don't have this function in the Verification dialog class. Try removing that line first and see what happens. If that doesn't work try adding the method like this to VerificationDialog.cs:
[code]

[2017-07-25 14:28] bilby91 opened #3191 "[Question] Slack sends events to all bots?"
## System Information (Required)
* SDK Language: NODE
* SDK Version: 3.8.4
* Development Environment: LOCALHOST, AWS

## Issue Description
We have multiple bots in https://dev.botframework.com/bots. We have development bots, one for the staging environment and another one for the production environment.

Every bot has a different App Id and password.

We are experiencing the following problem (onl

[2017-07-25 14:59] amitbend opened #3192 "[FB Messenger] How to use private replies?"
## System Information (Required)
* SDK Language: Node
* SDK Version: 3.8.4
* Development Environment: LOCALHOST

## Issue Description
I'm trying to use Facebook private replies [more info here](https://developers.facebook.com/docs/graph-api/reference/object/private_replies)
The way to do it is by subscribing to a facebook webhook (feed), just like we are doing for messages.
When I'm trying to send

[2017-07-25 16:06] jefflill commented on #572
I've started a port to NET Standard 2.0 (preview-2) and it seems to work for very simple bots locally.  I haven't done nearly as much testing as it looks like @CXuesong has done (I didn't find his work until today).

This port needed relatively few changes with NET Standard 2.0. The `BinaryFormatter` still didn't work due to exceptions thrown about primitive types not being serializable, so I used

[2017-07-25 16:54] PrasenjitGiri commented on #3187
context.Forward() initiates an automatic call to LUIS which was not my intention & if the child LuisDialog did not have the handlers for None or Empty it would throw the stack error which I found by debugging and pure stroke of luck.

Also my intention was not to automatically call LUIS so the correct solution for me was to use **context.Call()** which will replace the top of the stack with the ne

[2017-07-25 16:54] #3187 closed

[2017-07-25 17:48] nrobert commented on #3191
There is a lack of documentation around all the events. From my point of view, when looking at the documentation of `ActivityTyoes` ([here](https://docs.botframework.com/en-us/csharp/builder/sdkreference/d2/d7d/class_microsoft_1_1_bot_1_1_connector_1_1_activity_types.html#a0eb232e06a6ad4e7798c43b5d024b098)), it says
`Bot added or removed from channel` so every this event is thrown to every bot in

[2017-07-25 17:49] nwhitmont commented on #3185
@stedey I do not understand your question. Please provide a description of your problem, including code example that reproduces the error.

[2017-07-25 17:55] bilby91 commented on #3191
@nrobert I understand that there is a lack of documentation but I don't think my problem is some documentation missing. The `installationUpdate` event should not be triggered for Bot1 if Bot2 is being installed. How would I know if my bot is installed if every time someone installs any bot I get an `installationUpdate` event like if my bot was installed ?  Remember that the event gets triggered wi

[2017-07-25 18:00] nrobert commented on #3186
What exactly do you mean by push notification service:

- what would be the input (what is your use case)?
- on which channels do you want to "push"?

What did you try so far?

[2017-07-25 18:02] nrobert commented on #3191
@bilby91 it's annoying yes. You are sure that there is absolutely no difference between 2 installationUpdate for 2 bots on the same channel?

Can you post the message (JsonSerialized, to be sure to get every item) that you got in that case? Sorry I can't have a quick look, I got only 1 bot on my slack team

[2017-07-25 18:12] bilby91 commented on #3191
Yes @nrobert, there are differences between the two `installationUpdate` events. One event shows the information of `Bot1` being installed and the other event shows the information of `Bot2` being installed. The problem is that `Bot1` is the only bot that was actually installed in the team.

I'm enriching the logging of our bot and will send more detailed information.

[2017-07-25 18:21] nwhitmont commented on #3186
@amitgobare23 It sounds like you are looking for proactive messaging.

For more information, check out this article:
https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-proactive-messages

Code Example:
https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-proactiveMessages

[2017-07-25 18:41] bilby91 commented on #3160
@nwhitmont Any ETA for a fix ?

[2017-07-25 18:44] megancooper opened #3194 "[Performance] Unknown [500] Internal Server Error with Emulator and Bot Dev Portal?"
I hate posting this because its such a common issue, but I just started getting a [500] internal server error in the Emulator and on the dev.botframework.com. I have no idea what caused this to happen because I have the correct ID and Pass in my Web.Config which I haven't changed in a long time. I double-checked all the config values and my MessagesController just to be sure `[BotAuthentication]`

[2017-07-25 18:48] nwhitmont commented on #3194
@megancooper Looks like we are experiencing some issues with backend services right now. The team is investigating.

[2017-07-25 18:52] megancooper commented on #3194
@nwhitmont Okay, thanks

[2017-07-25 19:00] cesarvarela opened #3195 "[Performance] Getting `Error: Refresh access token failed with status code: 400`"
## System Information
* SDK Language: NODE
* SDK Version: 3.8.4
* Development Environment: Bluemix Container

## Issue Description
Getting the following error in some of our bots: `Error: Refresh access token failed with status code: 400`
## Code Example
Different bots created at different tines, and all have the same error, I don't think this has to do with our code.

## Actual Results
Bots don't

[2017-07-25 19:01] jasonmayde commented on #3195
I am also getting this issue. It just started about 30 minutes ago.

[2017-07-25 19:02] nwhitmont commented on #3195
@cesarvarela We are experiencing some slowness in our connector service which is affecting all bots, and all channels.  The team is actively investigating the issue.

[2017-07-25 19:04] sharmadine opened #3196 "[Performance] Refresh Access Token Failed with Status code: 400"
## System Information (Required)
* SDK Language: NODE
* SDK Version: 3.7.0
* Development Environment: LOCALHOST, AZURE_APP_SERVICE

## Issue Description
Our Production Bot is deployed and configured for FB, Slack, Skype, Web. It was working perfectly well across channels. There's no new code / release to the prod env.

Since 30 mins, the bot is down with errors in log files - refresh access token

[2017-07-25 19:08] nwhitmont commented on #3196
@sharmadine Thanks for reporting. We are experiencing a service interruption and we've got multiple engineers looking into it. Will update you when we have more details.

[2017-07-25 19:09] lchinitz commented on #1938
Is anyone else experiencing this problem now, out of the blue?  I have a bot running, and have had it running, for months with no issues.  It's using botbuilder 3.6.0, and there have been no changes to the code that would cause this.  In the morning it was working, and suddenly it started throwing this error about refresh access token failed with status code 400.  Is anyone else seeing this, or do

[2017-07-25 19:12] Tomasz-Silpion commented on #1938
Up, same here. Happened with no reason today killing all my bots running for weeks without issues.

[2017-07-25 19:19] Aashish-Amber opened #3197 "[Performance] Refresh access token failed with status code: 400 and No tenant-identifying information found in either the request or implied by any provided credentials"
## System Information (Required)
* SDK Language:  NODE
* SDK Version: 3.10.10
* Development Environment: AWS

## Issue Description
1. The bot is unable to connect and is giving error code 400

error: Refresh access token failed with status code: 400
## Code Example
When troubleshooting getting this response

curl -k /common/oauth2/v2.0/token -d "grant_type=client_credentials&client_id=************

[2017-07-25 19:21] Cartman720 commented on #3196
Hi @nwhitmont

Same here
Thank you for fast response.
We will wait

[2017-07-25 19:21] joshftx commented on #1938
Same here.
[Tue Jul 25 2017 15:18:13 GMT-0400 (EDT)] ERROR Error: Refresh access token failed with status code: 400

[2017-07-25 19:21] rrdelaney commented on #3196
Also having the issue.

[2017-07-25 19:22] nwhitmont commented on #3197
@Aashish-Amber Thanks for reporting. We are experiencing a service interruption and we've got multiple engineers looking into it. Will update you when we have more details.

[2017-07-25 19:22] srozga commented on #3196
+1, for myself and my clients.

[2017-07-25 19:24] toxtli commented on #3196
+1 Let us know when it is fixed

[2017-07-25 19:24] dan-cohn commented on #3195
Same problem here. Not good!

[2017-07-25 19:25] Aashish-Amber commented on #3197
Thanks for the response , Hope it gets fixed soon.

[2017-07-25 19:26] isabellacmor commented on #1938
Also having this issue, since about 30 mins ago. Tried
- regenerating appId and appPassword
- creating new bot and using that one's appId and appPassword
- updating node packages

[2017-07-25 19:30] nsantini commented on #1938
same here on 3.8.4. Worked yesterday...

[2017-07-25 19:32] jazzedge commented on #1938
Got exactly the same problem. Bot was working this afternoon. Now the 400 error has appeared. Haven't changed the Emulator or anything else.

[2017-07-25 19:33] ManjulaMalaiarasan commented on #1938
Same here. Test from bot framework dashboard isn't working either.

[2017-07-25 19:33] nsantini commented on #1938
I can confirm I get the same issue using WebChat and Skype channels. So no channel specific (ie webchat secret), its the bot itself

[2017-07-25 19:33] mdeshields commented on #3196
+1, arg

[2017-07-25 19:34] lchinitz commented on #1938
Does Microsoft monitor this page?  Or is there some way of telling them about this?  (Just asking if anyone knows, because I don't.)

[2017-07-25 19:34] isabellacmor commented on #1938
I'm trying to find out who works on Bot Framework to ping them internally.

[2017-07-25 19:35] rmimura commented on #3196
+1 bot is on mute

[2017-07-25 19:37] Tomasz-Silpion commented on #1938
They already know about it https://github.com/Microsoft/BotBuilder/issues/3197

[2017-07-25 19:40] jazzedge commented on #1938
Do we get service credits? :-)

[2017-07-25 19:40] isabellacmor commented on #3197
Fantastic! The folks at the OneWeek hackathon thank you :)

[2017-07-25 19:45] ahsendinc commented on #1938
Same here! It was working yesterday but today it is not working with credentials, it is not channel specific, it does not work for neither webchat nor skype. Also, for emulator, it is the same issue if the credentials are given.

[2017-07-25 19:47] ericvanisko commented on #3196
+1

[2017-07-25 19:50] IanLawrence commented on #1938
There is an error with Microsoft’s Authentication service it seems

[2017-07-25 20:02] stevefox commented on #3196
+1

[2017-07-25 20:09] nrobert commented on #3191
Ok, waiting for your details!

[2017-07-25 20:09] luis-sambiase commented on #3196
+1

[2017-07-25 20:09] xjose97x commented on #3196
+1

[2017-07-25 20:15] advl03 commented on #3197
Same problem here. We are suffering this problem since 8 PM CEST. Can we help you with any kind of test or sending you any logs?
Environment: node.js. We have the development environment running on internal infrastructure at Spain and the production environment running on Azure (North Europe)

[2017-07-25 20:19] joshftx commented on #3197
This should be updated on the status page, perhaps? Azure Bot Service shows green right now, despite the "service interruption"
https://azure.microsoft.com/en-us/status/

[2017-07-25 20:27] agarwalarun17 commented on #1938
I also stuck with the same error. It was working before 5 hours, but now not working. It works if remove the APPID and PASSWORD...

[2017-07-25 20:31] rcarmonad commented on #3196
plus one

[2017-07-25 20:32] LeonBirk commented on #3196
same here

[2017-07-25 20:39] advl03 commented on #1938
Same problem here. We are suffering this problem since 8 PM CEST. I will continue monitoring this thread and the thread where the issue has been opened: https://github.com/Microsoft/BotBuilder/issues/3197
Will post here if our bots start working again.

[2017-07-25 20:40] McBacker commented on #3196
We all know that it is still in Preview, but, for those who have their Bots under BotFramework infraestructure... how do you explain this downtime to your customers?

[2017-07-25 20:41] binhpht commented on #3196
same

[2017-07-25 20:41] McBacker commented on #3197
We all know that it is still in Preview, but, for those who have their Bots under BotFramework infraestructure... how do you explain this downtime to your customers?

[2017-07-25 20:43] McBacker commented on #3122
Anyone?

[2017-07-25 21:00] mpuchi commented on #3196
+1

[2017-07-25 21:03] bilby91 commented on #3197
Same here, our bot stop working suddenly. We are using Slack and Teams and both are affected.

[2017-07-25 21:05] sureshgururajan commented on #3197
+1

[2017-07-25 21:05] bilby91 commented on #3191
@nrobert You were right! The bot information in the address is correct. The sourceEvent in the slack payload is sending the different bot ids so I'm able to identify if my bot is being added or another one.

Thanks!

[2017-07-25 21:05] #3191 closed

[2017-07-25 21:05] DmitryZemlyuk commented on #3197
Same problem. Slack, Telegram, Skype version - error 400.

[2017-07-25 21:08] YiMeChen commented on #3197
Our certificate was expired and took me an hr to actually figure out this was the problem. Yes, same problems here.. 2 bots, all channels. Theres no indication on the Channels page either..

[2017-07-25 21:09] YiMeChen commented on #3197
seems to be back!

[2017-07-25 21:10] yavuzKomecoglu commented on #3196
I seem to have improved

[2017-07-25 21:12] lchinitz commented on #1938
I think the authentication server is back online.  My bot has started responding again.

[2017-07-25 21:13] DmitryZemlyuk commented on #3197
Yes, I can see my bot is working correctly =)
But how long it can work normally?

[2017-07-25 21:14] toxtli commented on #3196
The service is restored :)

[2017-07-25 21:15] nwhitmont commented on #3194
@megancooper The incident has been resolved, bots should be back to normal activity now.

[2017-07-25 21:15] #3194 closed

[2017-07-25 21:16] nwhitmont commented on #3195
@cesarvarela @dan-cohn The incident has been resolved, bots should be back to normal activity now.

[2017-07-25 21:16] #3195 closed

[2017-07-25 21:16] nwhitmont commented on #3196
The incident has been resolved, bots should be back to normal activity now.

[2017-07-25 21:16] nwhitmont commented on #3197
The incident has been resolved, bots should be back to normal activity now.

[2017-07-25 21:16] #3197 closed

[2017-07-25 21:17] nrobert commented on #3191
My pleasure 👍  can you add an exemple of the payload for future use?

[2017-07-25 21:17] #3196 closed

[2017-07-25 21:19] advl03 commented on #1938
Yes, confirmed as per the latest comment in https://github.com/Microsoft/BotBuilder/issues/3197 and with my two bots

[2017-07-25 21:20] sharmadine commented on #3196
Yes, the bot is alive again... thanks.

[2017-07-25 21:25] xjose97x commented on #3196
my bot is still not replying?

[2017-07-25 21:31] xjose97x commented on #3197
My bot is still not replying?

[2017-07-25 21:32] v46 commented on #3197
@stevengum97 / @nwhitmont  - Any further information on what caused this outage please?

Any alternatives we, as users of the SDK could have pursued during the service interruption?

[2017-07-25 21:34] PrasadKosaraju opened #3198 "[Question] How to use LUIS with WaterFall Dialog?"
## System Information (Required)
* SDK Language: NODE
* SDK Version:
* Development Environment:  AZURE_BOT_SERVICE

## Issue Description
I created a Water Fall Dialog model Bot. At one point of user response i want to use LUIS to capture different utterances user can say and then redirect to different dialog. Sample code attached here. In this Login Dialog when the user explain the issue with logi

[2017-07-25 21:34] premaarya commented on #3197
My bots are working now ...

[2017-07-25 21:35] xjose97x commented on #3197
![Image of errors](https://preview.ibb.co/ej42Uk/Captura.png)

[2017-07-25 21:38] xjose97x commented on #3196
Notice last message says: **Error sending to bot**

This issue happens on all channels except emulator.
I'm even remote debugging to my azure app service, and bot framework is not sending the activities to it.
![Image of errors](https://preview.ibb.co/ej42Uk/Captura.png)

[2017-07-25 21:49] nwhitmont commented on #3188
Hi @hardikchoudhary - You can send the image in binary format, just make sure to set the Content-Type to `application/octet-stream`.

[2017-07-25 21:51] xjose97x commented on #3197
@nwhitmont

[2017-07-25 21:52] JasonSowers commented on #3166
@ashicertis can you please share your LUIS model App ID so we can have the LUIS team take a look.

I have tested an email bot using multiple LUIS intents and was able to produce the expected behavior.  It would really help to see your LUIS model JSON.

[2017-07-25 21:56] ashicertis commented on #3166
@JasonSowers Here is my LUIS Id : df31b88b-a521-4e5e-800a-3819fe5c261f.
Also you can email my sample deployed bot at ashutosh.sjsu@outlook.com

[2017-07-25 21:56] bilby91 commented on #3191
Yes, this is an example of `installationUpdate`

[code]

[2017-07-25 22:27] EricDahlvang commented on #3197
@xjose97x

Please open a new issue.  (The underlying problem related to #3197 has been resolved.)

[2017-07-25 22:29] xjose97x commented on #3197
@EricDahlvang , the thing is that my bot was working fine until this issue appeared, and since then, it has not been solved.

[2017-07-25 22:33] dan-cohn commented on #3197
Mine are working again. @xjose97x did you try restarting your bot service? Perhaps it doesn't recover itself from errors (although my Node-based bots were fine).

[2017-07-25 22:37] ashicertis commented on #3166
@nwhitmont I understand that you may need LUIS model JSON to exactly see what's wrong. Please look at attachment for that.
[luis.txt](https://github.com/Microsoft/BotBuilder/files/1174966/luis.txt)

[2017-07-25 22:37] dan-cohn commented on #3198
I'm no expert, but have you tried using builder.Prompts.text and then passing the user's response to your LUIS recognizer? I am doing something similar, and it works well.

[2017-07-25 22:37] stevengum97 commented on #3198
Have you taken a look at this [comment](https://github.com/Microsoft/BotBuilder/issues/2741#issuecomment-300946349)?  It demonstrates how to set up a custom prompt that uses LUIS. After the user responds, you can use a switch statement to change dialogs.

[2017-07-25 22:42] joshftx commented on #3197
Works for me now.

[2017-07-25 22:46] stevengum97 commented on #3198
You can also do what @dan-cohn just mentioned if you're only planning on doing a one-off prompt that calls LUIS. LuisRecognizer has the static method [`recognize()`](https://github.com/Microsoft/BotBuilder/blob/master/Node/core/lib/botbuilder.d.ts#L3674) which you can use in your next waterfall step without having to instantiate a LuisRecognizer.

e.g.

[code]

[2017-07-25 22:48] stevengum97 commented on #3081
@anumeshyerigeri, there isn't a restriction as to how many users can use a bot at a time; how are you load testing your bot?

[2017-07-25 23:21] PrasadKosaraju commented on #3198
@dan-cohn : Can you please provide same code once

[2017-07-25 23:44] Yudner commented on #664
Hi @garypretty . In which part of the project is that which you shared:

var connector = new ConnectorClient(new Uri(activity.ServiceUrl));
                Activity isTypingReply = activity.CreateReply();
                isTypingReply.Type = ActivityTypes.Typing;
                await connector.Conversations.ReplyToActivityAsync(isTypingReply);

Thank you

[2017-07-26 00:34] PrasadKosaraju commented on #3198
@stevengum97 : I tried above code. But some reason it throws me 'Oops. Something went wrong and we need to start over.' I don't see any error in console though. Do i need to define anything else

[2017-07-26 00:50] nwhitmont commented on #3180
@jinot92 - I am able to reproduce this error. I have put in a request for the Skype bots team to investigate why this sample isn't working. Will report back when I have more info.

[2017-07-26 01:36] PrasadKosaraju commented on #3198
Finally after little change it's able to connect to LUIS. But for some reason any text utterance i use both intents are triggering. Can you please help if i'm missing something here. (LoginError and None are intents in my LUIS)

function (session, results) {
      builder.LuisRecognizer.recognize(results.response, process.env.LUIS_MODEL,
    function (err, intents, entities) {
        if(err){

[2017-07-26 03:31] CXuesong commented on #572
@jefflill Well I used to believe that with the resurrection of `BinaryFormatter` in .NET Standard 2.0 / .NET Core 2.0, the original library will just work. But it seems that there is still a long way to go.

On the other hand, I support the idea that using some other explict data persistence approach with JSON or XML or even protobuf because it will force the bot developer to think carefully about

[2017-07-26 06:01] hardikp81 opened #3199 "[Question] Bot API fails to send the message to Bot service due to Newtonsoft.JSON version 8.0.0.0 not found."
**System Information:**
* SDK Language: .NET/C#
* SDK Version: 3.8.5
* Development Environment: AZURE_APP_SERVICE

**Issue Description**
Bot service throws the exception when user send the message to bot. Microsoft.Bot.ChannelConnector fails to send the message to Bot. Please find the exception below:

_Microsoft.Bot.Schema.BotException:
   at Microsoft.Bot.ChannelConnector.BotAPI+<PostActivityToB

[2017-07-26 06:11] amitgobare23 commented on #3186
@nrobert I created bot for ECommerce website so use case as like:
1. Suppose my portal launch new products and i have to notify all subscriber/customer regarding same
So for this I have to send notification(Push Notification) to all of them hence they can click on notification pop-up and navigate directly to my bot.

[2017-07-26 06:16] Techdhim opened #3200 "[Question] How to broadcast a message to a list of all users who are using the Bot through different clients like FB/Slack/Skype?"
## System Information (Required)
* SDK Language: C#
* SDK Version: 4.0 & More
* Development Environment: Azure App Service

## Issue Description

I have developed a bot & have hosted it on azure server & I am trying to access it through Facebook/Slack client. I want to log the activity information when the bot is added to the Facebook/Skype contact list.

## Code Example

[BotAuthentication]
    p

[2017-07-26 08:13] BirenPanigrahi commented on #2840
@megancooper Thank you for the response.

I am not using App ID & Password when connecting to localhost.

![image](https://user-images.githubusercontent.com/24914725/28610800-8ce00646-71e1-11e7-833d-4e3ae7d9731a.png)

When I try to execute without LUIS it works fine.

[code]

![image](https://user-images.githubusercontent.com/24914725/28610832-a3c59bc8-71e1-11e7-84a7-5b80d98f3d12.png)

When I use

[2017-07-26 09:00] nrobert commented on #3186
Where is your bot currently deployed? On a Webchat in the eCommerce website?

[2017-07-26 09:08] nrobert opened #3201 "[Email channel] Cannot setup email in botframework portal - Error 500 thrown"
## System Information
* SDK Language:  .Net/C# at least
* SDK Version: 3.8.5.0
* Development Environment: localhost

## Issue Description
When setting up my Email channel, after setting a real Office 365 account (previously working for the same bot), there is an Internal server error and the action cannot be completed

## Steps to Reproduce the Issue
1. Add Email channel on your bot
2. Fill email

[2017-07-26 09:15] amitgobare23 commented on #3186
It is not yet deployed but i am creating chatbot for them....i am looking for both channels facebook chatbot as well as webchat for push notification...

[2017-07-26 10:39] mukeshzt opened #3202 "[LUIS] Pre-built Entities builtin.datetimeV2.daterange doesn’t exist in the selected application."
## System Information
* SDK Language: node.js, LUIS, cognitive-services
* SDK Version: 	botbuilder@3.8.4
* Development Environment: LOCALHOST, production

## Issue Description

I'm working on add utterance to LUIS application using cognitive services (LUIS Programmatic API) [Add label.](https://dev.projectoxford.ai/docs/services/5890b47c39e2bb17b84a55ff/operations/5890b47c39e2bb052c5b9c08)

If you

[2017-07-26 11:47] amitbend commented on #3200
You'll need to implement a sign-in with a single Identity connected through pointers to the platform specific user

[2017-07-26 12:33] PrasenjitGiri commented on #3184
I was facing the same issue, but after refreshing the bot portal I ended up opening the bot in two skype (mac & windows) and added it to contacts list. Somehow the error went away.

[2017-07-26 12:39] mahmoudahmedarafa opened #3203 "[LUIS] Integrating Bot with Channels - 400 Bad Request"
I have deployed my bot to the cloud and using LUIS SDK. I made sure that my bot is working properly (the bot replies to each user message) before deployment.

1. I tried my bot on "Web Chat":
![web chat](https://user-images.githubusercontent.com/22199398/28621308-ca3a5508-7210-11e7-8ba4-c42e5abed141.PNG)
The deployed bot accepts custom intents: "Hi", "Cairo, Egypt" LUIS Intents. the app doesn't ac

[2017-07-26 13:22] dan-cohn commented on #3198
Sample code (similar to Prasad's example):

[code]

[2017-07-26 13:51] IanLawrence commented on #3197
this is fixed for me

[2017-07-26 14:29] mahmoudahmedarafa commented on #2439
@tomlm I have the same error with a similar issue; When I test my bot on Slack using ngrok, I get a "400 bad request".

https://github.com/Microsoft/BotBuilder/issues/3203

Could you please help?

[2017-07-26 14:37] nwhitmont commented on #3199
@hardikp81 What channel are you using when the error happens? Emulator? WebChat? Skype, etc?

[2017-07-26 14:50] xjose97x commented on #3197
I apologize, I just found the issue. It made me get confused since the issue appeared along this one and was impossible for me to debug.

So, I changed the namespace and project name of my bot application. Apparently this made Azure app service believe there were multiple API controller endpoints somehow. And that's why the Bot Framework connector couldn't reach my bot application.
So even after c

[2017-07-26 14:50] xjose97x commented on #3196
I apologize, I just found the issue. It made me get confused since the issue appeared along this one and was impossible for me to debug.

So, I changed the namespace and project name of my bot application. Apparently this made Azure app service believe there were multiple API controller endpoints somehow. And that's why the Bot Framework connector couldn't reach my bot application.
So even after c

[2017-07-26 14:59] nwhitmont commented on #3203
@mahmoudahmedarafa
1. Are you using .NET or Node SDK?
2. Can you export your LUIS model as JSON and post it here?

To export your LUIS model, go to https://luis.ai - then go to your list of LUIS apps and click the `{ }` curley braces icon on the right-hand side of the page as shown below.
![export model to json - luis my apps](https://user-images.githubusercontent.com/3075047/28628022-4bbba96c-71d

[2017-07-26 15:21] IanLawrence commented on #3197
I think there should be some kind of notification on https://dev.botframework.com/ when errors like this happen. It will stop folks deleting bots and generally doing a bunch of unnecessary things when all that was needed was to wait for MS to sort it out

[2017-07-26 15:52] peterswimm commented on #3154
Is there any social media account or something similar we can monitor for outage notifications in the meantime?

[2017-07-26 16:15] jefflill commented on #572
@CXuesong: Oh you're right.  I had just munged the source enough so it could compile, simply by using `JsonConvert.SerializeObject` and `DeserializeObject` and ignoring the `ISurrogateProvider`.  I just tried actually using conversation state and my port failed because the framework is trying to deserialize an `interface` and JSON.NET needs a concrete type.

Now, I understand what all of that `ISu

[2017-07-26 16:37] stevengum97 commented on #3202
Can you try doing this [GET request](https://dev.projectoxford.ai/docs/services/5890b47c39e2bb17b84a55ff/operations/5890b47c39e2bb052c5b9c18) just to verify that the entity is on the model via the authoring API? That aside, I haven't repro'd this yet, but I'm wondering if it might be an issue with assigning its child, `"daterange"`.  Have you tried just using `"builtin.datetimeV2"`?

[2017-07-26 17:02] nwhitmont commented on #3201
@nrobert System information is always relevant as we track issue counts per SDK type.

[2017-07-26 17:14] megancooper commented on #2840
@BirenPanigrahi would you mind sending a link to your code so I could try to run it? I may be of more help if I can step through your code. My email is megan.cooper13@outlook.com

[2017-07-26 17:17] jefflill commented on #572
@CXuesong: So I just spent a few minutes poking around the `ISurrogateProvider` code.  Seems overly complex to me.  I'm guessing the MSFT team is passing interfaces as the type parameters so they can mock the interfaces in their unit tests.  Seems like a bad decision to trade off run-time simplicity for test-ability if true.

I've got to get back to my real work right now, but I'll try to take a c

[2017-07-26 17:20] xjose97x opened #3204 "]Create"
## System Information (Required)
* SDK Language: .NET/C#
* SDK Version: 3.8.5

Hello! I was wondering if someone was able to create a Facebook persistent menu by adding the json required through the channel data of the reply.

I've tried with no success.

Thanks!

[2017-07-26 17:20] xjose97x opened #3205 "[FB Messenger] How to create a persistent menu?"
## System Information (Required)
* SDK Language: .NET/C#
* SDK Version: 3.8.5

Hello! I was wondering if someone was able to create a Facebook persistent menu by adding the json required through the channel data of the reply.

I've tried with no success.

Thanks!

[2017-07-26 17:20] #3204 closed

[2017-07-26 17:30] stevengum97 commented on #3198
Sorry @PrasadKosaraju, you don't actually want to use `intents.forEach`; you should use what @dan-cohn used, which is `intents[0]`. This will prevent triggering every dialog.

[code]

Also, instead of a switch statement, you could potentially just run `session.beginDialog(intents[0].intent);`.

[2017-07-26 17:32] PrasenjitGiri opened #3206 "[Cortana] Bot only works when launched but always says can't connect thereafter"
## System Information (Required)
* SDK Language: C#
* SDK Version: 3.8.5
* Development Environment: Azure App

## Issue Description
My Bot ID: 5225e5ae-c580-4f8d-88d5-e8c8001a5242
I invoke bot using "Ask Maria" and it greets the user with welcome message but when I speak the second command it always tells me "I cant connect at the moment. Please try again in a little bit"

## Code Example
There ar

[2017-07-26 18:02] joshftx commented on #2566
I have the same issue - using Hubot botframework adapter. Copy/paste into message provides no response. So strange.

[2017-07-26 19:03] nrobert commented on #3201
@nwhitmont hi Nils, as this was a channel configuration issue I thought it wasn't relevant, sorry, post edited

[2017-07-26 19:07] nrobert commented on #3205
@xjose97x , I think you are not going in the right direction.
If you want to create a persistent menu in Facebook, you have to call Facebook API (make a POST with cURL, Postman or another tool) with the required json, not put this json in a channel data of a message from the bot

[2017-07-26 19:15] gnarsiMSFT commented on #2770
@dkushner Any update on this? Do you still face these issues? Please let us know.

[2017-07-26 19:59] guathan opened #3207 "[Question] Skype does not send all messages to the bot"
I have integration of other channels that works perfectly, however skype doing test it does not send all the messages to the BOT, for example I sent the following message:
1
2
3
4
5
6
7
8
9

And it just fell on the bot to 2 and 6. What can it be?

[2017-07-26 20:09] RemiChambard opened #3208 "[Skype for Business] Cannot send attachements (images) to Bot"
Hi,

It seems that as for now we can't send attachments from the Skype for Business client to a Bot. Can you confirm that the feature is not yet available ? And if possible, tell us if the feature will be implemented soon ?

Thanks

[2017-07-26 20:14] dominickm commented on #2846
I can confirm that the Middleware solution @TrejGun suggested works for this issue in Slack, however, the syntax that worked for me was:
`bot.use(builder.Middleware.dialogVersion({ version: 1.0, resetCommand: /^reset/i }));`

[2017-07-26 21:34] megancooper opened #3209 "500 Internal Server error in MS Teams?"
Just started having mysterious 500 Internal Server Errors again, but specifically in MS Teams channel? I haven't changed my code so I was wondering if this is a logged problem someone is working on? Thanks for the help.
![ser](https://user-images.githubusercontent.com/8683055/28644709-3819e458-7220-11e7-9868-3b68bc68cfc9.PNG)

[2017-07-26 21:38] megancooper commented on #3209
Okay, seems to be working again? That was mysterious...

[2017-07-26 21:38] #3209 closed

[2017-07-26 22:28] iMicknl commented on #3192
I was working on this also, but with a different approach. Would you mind sharing your code?
In my opinion this functionality should be outside of the Bot Framework, since it is super specific. Replies on the 'Private Reply' can be handled by the Bot Framework afterwards.

[2017-07-26 23:32] JasonSowers commented on #3157
Version 3.9 has been released which includes the fix for this Issue.  Please reopen and continue the discussion if needed.  Thanks for your patience.

[2017-07-26 23:32] #3157 closed

[2017-07-26 23:33] JasonSowers commented on #3153
Version 3.9 has been released which includes the fix for this Issue.  Please reopen and continue the discussion if needed.  Thanks for your patience.

[2017-07-26 23:33] #3153 closed

[2017-07-26 23:47] nwhitmont commented on #3207
@guathan
1. Are you using .NET or Node SDK for Bot Builder?
2. Please post your bot code that produces the error so we can better assist you.
3. What is your bot name, bot handle and App ID as you registered the bot in the Bot Portal at https://dev.botframework.com?
4. Do you see any errors/warnings in the Skype section of the Channels page on Bot Portal? What are they? Include screenshot of error

[2017-07-27 00:03] nwhitmont commented on #3151
Update: BotBuilder .NET SDK v3.9.0 has been released.

[2017-07-27 00:39] nwhitmont commented on #2920
https://blog.whatsapp.com/10000631/Connecting-One-Billion-Users-Every-Day

[2017-07-27 01:57] nwhitmont commented on #3208
@RemiChambard Skype for Business channel integration for Bot Framework is currently in developer preview state. As such, attachments are not yet supported in this channel.

For more information about Skype for Business channel on Bot Framework, including current feature support, check out this page:
https://msdn.microsoft.com/en-us/skype/Skype-For-Business-Bot-Framework/docs/overview#feature-suppo

[2017-07-27 01:57] #3208 closed

[2017-07-27 04:38] AmolPawarGitHub commented on #2634
How to get physical path of the image file in .net SDK for BOT Framework?

[2017-07-27 04:43] mukeshzt commented on #3202
@stevengum97  Thanks for your reply. I was surprised because It was working previously but suddenly it is giving me an error.

I followed your mentioned steps and results are follows:

I have made two request one which you mention [GET request](https://dev.projectoxford.ai/docs/services/5890b47c39e2bb17b84a55ff/operations/5890b47c39e2bb052c5b9c18) and another one to know project [Assign pre built

[2017-07-27 05:55] amitbend commented on #3192
Hi @iMicknl I didn't start writing code actually.
I looked at the common implementations of this feature and I'll try to explain the flow.

You can subscribe to changes in your feed (meaning posts + comments), and once a new comment appears, you can trigger your bot to send a new private reply.

![image](https://user-images.githubusercontent.com/11259265/28656161-f8898e86-72a8-11e7-978c-6bdbce1140

[2017-07-27 07:07] imangoodarzi opened #3210 "[Question] Receiving multiple attachments in one request in Telegram channel"
## System Information (Required)
* SDK Language: .NET/C#
* SDK Version: 3.8.1
* Development Environment: AZURE_APP_SERVICE

## Issue Description
I have a bot that is enabled in both Messenger and Telegram channels and it is supposed to receive multiple attachments from the user in one message. In Messenger, everything works perfectly and one message is received that contains multiple attachment re

[2017-07-27 07:26] RaoVenka opened #3211 "[Question] Google Authentication in Microsoft Bot Framework using .NET."
How to implement Google Authentication in Microsoft Bot Framework using .NET.

Could you please provide some sample code for this.

[2017-07-27 07:40] jsiegmund commented on #3151
@nwhitmont should it fix any issues?

[2017-07-27 07:49] jsiegmund commented on #3151
I already had a PR for 3.8.5 but I can update that one for 3.9.0. https://github.com/Microsoft/BotBuilder-Azure/pull/20

[2017-07-27 08:29] khs3141 commented on #3076
It does not work with SKYPE latest Android's app downloaded from play store.

SKYPE : VERSION 8.2.0.49163
SKYPE PREVIEW : VERSION 8.3.76.50301

[2017-07-27 09:16] mahmoudahmedarafa commented on #3203
1. .NET
2. I used Skype and Slack where the same problem exists.
3. I uploaded the JSON Model as JPG.
![mcdonalds bot](https://user-images.githubusercontent.com/22199398/28663149-cc6b59e2-72bc-11e7-8fc8-901f564834c2.jpg)

[2017-07-27 09:47] Magic73 commented on #3076
It works. I have a S8+ with Skype 8.2.0.49163.
you are doing something wrong...

[2017-07-27 10:07] hardikchoudhary commented on #3188
@nwhitmont  I have been sending the url directly from message.attachment[0].contentUrl

but I am getting response undefined
const computerVision = cognitiveServices.computerVision({
    API_KEY: "fc903a515f754c2cc2279f6bk257a3k0"
})

const parameters = {
    language: "en",
};
	 const body = {
	 "url": attachment.contentUrl

};

computerVision.ocr({
        parameters,
        body
    })
    .the

[2017-07-27 10:26] hardikchoudhary commented on #3188
Getting this errror in cmd after whole code runs , but its getting into the success stage

![image](https://user-images.githubusercontent.com/14367146/28666244-32d980f6-72e4-11e7-9e5c-6cb1484213b0.png)

[2017-07-27 10:39] andrejs-mamontovs commented on #2342
Still active in case of webchat client.

[2017-07-27 11:05] iMicknl commented on #3211
Have a look at [AuthBot](https://github.com/MicrosoftDX/AuthBot) or [BotAuth](https://github.com/richdizz/BotAuth/tree/master/CSharp). They provide examples of how to integrate authentication using OAuth 2.0.

[2017-07-27 11:12] guathan commented on #3207
1. Are you using .NET or Node SDK for Bot Builder?
_.NET

2. Please post your bot code that produces the error so we can better assist you.
[MessagesController.zip](https://github.com/Microsoft/BotBuilder/files/1179709/MessagesController.zip)

3. What is your bot name, bot handle and App ID as you registered the bot in the Bot Portal at https://dev.botframework.com?
Name - NOVIGO_HOMOLOG
_Microsof

[2017-07-27 13:15] iudelsmann commented on #2991
No one else has this problem? Is anyone looking into this?

[2017-07-27 14:12] megancooper opened #3212 "[Question] What is the Hero Card Attachment limit for a message in MS Teams?"
Sorry for the question; I tried to find this in documentation online but could not find it. I know there is a hero card attachment limit for Teams because I was getting an error on the botframework website every so often saying I exceeded it, but I can't find out what the max number of attachments allowed for a message in Teams actually is. I'd like to add checks in my code so that I don't exceed

[2017-07-27 14:13] #3205 closed

[2017-07-27 15:08] McBacker commented on #3122
Anyone?

[2017-07-27 15:52] JasonSowers commented on #3181
This looks like it may be a problem with the webchat control it self, @danmarshall  any thoughts?

[2017-07-27 16:08] dijotcr222 commented on #1422
How we can change the shape of a  carousel hero card into round

[2017-07-27 16:14] JasonSowers commented on #1422
@dijotcr222   You are posting on a closed thread.  Can you please open a new issue.

[2017-07-27 16:17] dijotcr222 commented on #1422
Ok sure

[2017-07-27 16:18] dijotcr222 opened #3213 "How we can change the shape of a carousel hero card into round shape."
var card = new builder.HeroCard(session);
                      card.title("DID YOU MEAN :");
                      card.buttons([
                      builder.CardAction.imBack(session, Array[0],Array[0])                      ]);

                      var msg = new builder.Message(session)
                     .attachmentLayout(builder.AttachmentLayout. carousel)
                     .attachmen

[2017-07-27 16:49] xjose97x commented on #3213
I am not aware of there being a way to change the shape of a hero card. After all Hero Cards are rendered by the channel (Facebook, Skype, Slack, etc).
Perhaps you could make something for directline (webchats) in which you have total control in how to display your messages.

[2017-07-27 17:06] JasonSowers commented on #3212
@megancooper  Hi are you getting different behavior in the emulator or other channels?  Is this only for teams?  What type of numbers are we talking about for attachments?  10's 100's 1000's?

[2017-07-27 17:09] danmarshall commented on #2342
Hello all, remember that **ActivityTypes.ConversationUpdate** is going to be called twice - once for the bot user and once for the user. See https://github.com/Microsoft/BotBuilder/issues/1930

Also, the `userid` URL parameter is not officially supported, it will not be passed to DirectLine and it will not be the same id in the activities.

[2017-07-27 17:11] JasonSowers commented on #3212
Additionally I am unable to get more than 7 hero card attachments to display on MS teams.  Is this the same number you are noticing failure at?

[2017-07-27 17:19] JasonSowers commented on #3213
This is not currently a feature, a Jose says, you might be able to hack something together by modifying the webchat control.

[2017-07-27 17:19] #3213 closed

[2017-07-27 17:32] jsiegmund commented on #3173
I just upgraded everything to framework version 3.9.0. This did not fix the error. What I find the weirdest is that I'm not having these issues when running locally. So is using bot service for this scenario supported or should I switch to a regular webApi setup instead?

[2017-07-27 18:01] megancooper commented on #3212
@JasonSowers in the 10's no more than 15. And yes 7 is the number of cards it seemed to give me an exception for. Is this just an MS Teams thing/quirk?

[2017-07-27 18:03] xjose97x opened #3214 "[Question] Skype not showing Attachments"
## System Information (Required)
* SDK Language: .NET/C#
* SDK Version: 3.9.0

Hello!
When I'm sending an attachment (VideoCard, AnimationCard, AudioCard, etc), I have to add in the MediaUrl a Profile field, otherwise, Skype Android (and maybe ios) crashes. However, if I add this profile field (i either put "sd", or "hd") it makes the attachment not load.

If I do not add this profile field, it re

[2017-07-27 18:11] nwhitmont commented on #3214
There are known issues with audio/video card not working on Skype mobile. We're investigating.

[2017-07-27 18:21] ashice commented on #3166
Any updates on this??

[2017-07-27 18:21] JasonSowers commented on #3212
My guess is yes since we are both seeing the same number, we will have to wait for someone from the MS teams team to confirm.

[2017-07-27 18:36] dan-cohn opened #3215 "[Question] onSelectAction of cancelAction is called before user has a chance to confirm"
## System Information (Required)
* SDK Language: NODE
* SDK Version: 3.9.0
* Development Environment: LOCALHOST

## Issue Description
I'd like to perform some behavior (e.g., canceling a timer) when a particular dialog is cancelled. I'm using the `cancelAction` to trigger the cancellation.

I don't see a way to run custom code upon cancellation other than with the `onSelectAction` option. However,

[2017-07-27 18:41] nwhitmont commented on #3203
@mahmoudahmedarafa I cannot see your JSON code. Please post your LUIS model JSON as plain text, not an image.

[2017-07-27 18:52] EricDahlvang commented on #3207
Hi @guathan

Is your bot currently published?  I tried communicating with it via webchat and skype, but neither of them successfully send a message.  Also, https://[yourboturi]/api/messages is not reachable.

[2017-07-27 18:57] guathan commented on #3207
I just created the bot in dev.botframework nothing else (since it already comes with skype and webchat) but the ip points to my machine and I only leave running the application when I go to test

[2017-07-27 18:57] xjose97x commented on #3214
Thanks @nwhitmont !

I do not want to hurry, but is there any ETA?

Just wondering.

[2017-07-27 19:09] megancooper commented on #2840
@BirenPanigrahi Your problem is the `LuisModel[("...Your Values...")]` information, at least from what I can tell when stepping through your code. Double check your Subscription Key value.

[2017-07-27 20:25] acodallo commented on #2076
I would like to receive a custom type T. The root dialogue calls dialog 1 and then calls dialogue 2 passing in the value returned by dialog 1. I  called

context.Wait<ReturnedValue>(MessageReceivedAsync);

but I get an unexpected type exception when await'ing for that "ReturnedValue".

What am I missing?

[2017-07-27 22:14] EricDahlvang commented on #2876
Hi @DL-LiveTiles

Please provide a bare-bones example of the behavior you're seeing.

I spoke with the engineers who wrote the dialog stack, and they pointed out that "The stack and data bags get persisted even if there is an exception thrown by the dialogs in the stack: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Builder/Dialogs/DialogTask.cs#L485

They also s

[2017-07-27 23:54] stevengum97 commented on #3129
I'm closing the issue due to inactivity; if you're still having difficulty, please feel free to reopen this issue.

[2017-07-27 23:54] #3129 closed

[2017-07-28 01:23] nwhitmont commented on #3160
@bilby91 Just got a fix checked-in today. Should be working shortly.

[2017-07-28 01:30] nwhitmont commented on #3188
@hardikchoudhary I cannot read the error message in your screenshot. Can you post the error as plain-text?

[2017-07-28 01:55] nwhitmont commented on #3165
reopen if you have further questions.

[2017-07-28 01:55] #3165 closed

[2017-07-28 02:11] nwhitmont commented on #3180
@jinot92 My calling bot based on this example, which did not work on initial deployment, has started working after a waiting period. Sometimes it takes some time for the calling feature to be recognized by your bot.

Is your calling bot still experiencing the "You cant talk to the bot just yet. We are working on it." error?

[2017-07-28 02:54] khs3141 commented on #3076
Through remote debugging, found the cause of the error.
ex.Message : "Activity must include non empty 'text' field or at least 1 attachment"

In emulator and webchat, this exception did not occur, but occured in skype.
After setting the value of message.text, it is normally expressed.

Thank you for your help.

[2017-07-28 03:18] ryanlengel commented on #3150
@nwhitmont, is there a way to modify the directline timeout? I'm seeing on our launched bot as well we are inconsistently getting 502 gateway timeouts but still responses from the bot.

[2017-07-28 04:50] jinot92 commented on #3180
@nwhitmont Yes. It's still giving me the error.
I have set the webhook url in skype as "https://samplename.azurewebsites.net/api/calls".

[2017-07-28 05:08] Rishi321 opened #3216 "[Question] Skype Bot unable to join group chats (was able to before)"
Originally posted as
https://stackoverflow.com/questions/45346475/skype-bot-unable-to-join-group-chats-was-able-to-before

## System Information (Required)
* SDK Language: ReST API
* SDK Version: -
* Development Environment: LOCALHOST, AZURE_BOT_SERVICE

## Issue Description
I have a skype bot which was working fine and was able to join and interact in Group Calls Now (July 27th) it seems to have

[2017-07-28 06:27] andrejs-mamontovs commented on #2342
In the case of WebChat it is called only once. And only for Bot side! And it is the issue! Please take a look.

[2017-07-28 07:49] Noc2 commented on #3184
I republished my bot on skype and now it seems to be solved.

[2017-07-28 07:49] #3184 closed

[2017-07-28 08:20] BirenPanigrahi commented on #2840
@megancooper  I checked the Subscription Key value and its fine. Also emailed you the details which is returning the JSON data.

[2017-07-28 10:47] sridharbm1991 commented on #2378
@danmarshall  typing activity is not working in Web chat channel any alternative?

[2017-07-28 12:03] auanish commented on #3076
@khs3141 can you please elaborate what you mean by setting the value of message.text? What piece of code should I add to this [example ](https://github.com/Microsoft/BotBuilder/blob/master/Node/examples/feature-suggestedActions/app.js)to make Suggested Actions work in Skype?

[2017-07-28 12:05] DamienDoumer commented on #2337
Try using POST instead of Get, follow this [Directline V3 Doc](https://docs.microsoft.com/fr-fr/bot-framework/rest-api/bot-framework-rest-direct-line-3-0-authentication)

[2017-07-28 12:29] RaoVenka opened #3217 "[Cards Customization] Removing tax and total in receipt card?"
Hi Team ,

I have created one Receipt Card like to display the key value pairs one by one in the card.

In emulator it's working fine.

Below is the screenshot for the same.

![image](https://user-images.githubusercontent.com/28774238/28715928-21af3eae-73b8-11e7-9a08-f1982341197a.png)

Below is the code for created Receipt-card.  👍
[code]
But the same in i have checked in web chat using i frame ,

[2017-07-28 13:32] seca23 opened #3218 "[Question] LUIS error: "Response status code does not indicate success: 410 (Gone)"?"
## System Information (Required)
* SDK Language: C#
* SDK Version: 3.9.0
* Development Environment: LOCALHOST, AZURE_BOT_SERVICE, AZURE_APP_SERVICE

## Issue Description
When calling a LuisDialog in the MessageController, I am all of a sudden intermittently getting the following error: "Response status code does not indicate success: 410 (Gone)."

When checking application insights, I can see that

[2017-07-28 14:03] Magic73 commented on #3076
`var reply = activity.CreateReply();
reply.Type = ActivityTypes.Message;
reply.Text = ""; // This cannot be null, or skype won't work.
reply.TextFormat = TextFormatTypes.Plain;

reply.SuggestedActions = new SuggestedActions()
{
	Actions = new List<CardAction>()
	{
		new CardAction(){ Title = "Blue", Type=ActionTypes.ImBack, Value="Blue" },
		new CardAction(){ Title = "Red", Type=ActionTypes.ImBack

[2017-07-28 14:06] megancooper commented on #2840
@BirenPanigrahi The issue was with the Staging value in the LUIS model. Take it out and the code seems to run without exceptions:

![working2](https://user-images.githubusercontent.com/8683055/28720855-f02c1544-7373-11e7-8f47-504445d2c652.PNG)

Here is the bot giving the proper response:

![working1](https://user-images.githubusercontent.com/8683055/28720872-fb4d1ce8-7373-11e7-8bbe-bc6ab2f77097.PN

[2017-07-28 14:12] Magic73 commented on #3076
BTW, you can have suggested actions on the skype windows store version... but with a bug also:

on my previous code, just before PostAsync(reply), add this:

[code]

and like a magic... you'll see the suggested actions buttons! but... you'll see the keyboardcard also :)

so, there's something that has been forget in the suggestedactions implementations for skype, that is present when keyboardcard

[2017-07-28 14:12] #3175 closed

[2017-07-28 14:15] RaoVenka opened #3219 "[Question] Adaptive card is not supported in Skype and FB channel?"
Hi Team,

I am using adaptive card in a sample application in microsoft bot framework but it only works in Web Chat. In any other channels like Skype this adaptive card is not rendering. Even in Facebook only the card text(Button and label text) is coming instead of any other control like HTML textbox button.

As per below link, it says that Adaptive card is supported in Skype but it is not showin

[2017-07-28 15:11] nwhitmont commented on #3216
@Rishi321 What is your bot name, bot handle and App ID as you registered the bot in the Bot Portal at https://dev.botframework.com?

[2017-07-28 15:20] megancooper commented on #3219
[https://github.com/Microsoft/BotBuilder/issues/2801](This post says that Adaptive cards in not yet a supported attachment for Skype, but is coming soon).

[2017-07-28 15:21] nwhitmont commented on #3219
@megancooper Thanks!

[2017-07-28 15:25] nwhitmont commented on #3219
@RaoVenka Not currently supported in Skype, but coming soon!

You can find the offical channel support matrix here: https://docs.microsoft.com/en-us/adaptive-cards/get-started/bots#channel-status

[2017-07-28 16:05] stevengum97 commented on #3202
So this was a mistake on my part, but when labeling via Authoring API users are _not_ to use `"prebuilt"` when using prebuilt entities. Instead you should just label as `"datetimeV2"`, `"number"`, etc.

Here is an example using the JSON you provided in your last comment:
[code]

[2017-07-28 16:22] nwhitmont commented on #3218
@seca23 For reference, what API endpoint is your app calling when it hits the error? Also, what is your LUIS App ID?

[2017-07-28 17:16] nwhitmont commented on #3184
@Noc2 Thanks for the update! Glad to hear it's working now.

[2017-07-28 17:56] danmarshall commented on #2342
Hello @andrejs-mamontovs can you please let us know your SDK and provide a code sample?

[2017-07-28 18:00] nwhitmont opened #3220 "[Feature Request] User-configurable Direct Line timeout duration"
As a user of the Bot Connector REST API, aka Direct Line, I would like to have the ability to configure the timeout length in seconds.

Thumbs up this comment to vote.

[2017-07-28 18:02] nwhitmont commented on #3150
@ryanlengel Unfortunately, the Direct Line timeout is not user-configurable at this time. Please vote on this feature request so we can track interest: https://github.com/Microsoft/BotBuilder/issues/3220

[2017-07-28 18:03] EricDahlvang commented on #3217
@RaoVenka

Thank you for reporting this.  A pull request has been added to the BotFramework-WebChat repo to fix this issue.

The difference you're seeing between the Emulator and the iframed webchat is due to the fact that a previous version of the webchat control is embedded inside the Emulator.

[2017-07-28 18:05] nwhitmont commented on #3150
@MadhuAcc12 reopen if you are still having issues.

[2017-07-28 18:05] #3150 closed

[2017-07-28 18:11] McBacker commented on #3220
I have opened an issue that also refers to the 15 seconds timeout. With the direct line channel you can send the message you want to the user when a timeout occurs...

If we at least could send a better message than "POST to xxxBot timed out after 15s" when using channels like Telegram and Facebook.

[2017-07-28 18:28] nwhitmont commented on #3220
relates to #3122

[2017-07-28 18:30] danmarshall commented on #2378
Hi @sridharbm1991 the `typing` feature requires websockets, which are not turned on in the WebChat channel. However, you can enable them if you [host your own WebChat page](https://github.com/Microsoft/BotFramework-WebChat#websocket).

[2017-07-28 18:48] andrejs-mamontovs commented on #2342
Hi
Now it is Microsoft.Bot.Bulder 3.9.0.0 (C#) (valid for older versions as well) on the backend. Just run WebClient from https://dev.botframework.com/bots portal, test section.
Demo code is as simple as possible, just handle ConversationUpdate (MVC controller code) and  prepare response.
In my case, only one greeting was returned (Works fine in the official emulator).

[2017-07-28 18:48] nwhitmont commented on #3214
@xjose97x I don't have a specific ETA, but I do know the Skype mobile team is working on it.

[2017-07-28 19:15] nwhitmont commented on #3173
@jsiegmund Thanks for reporting.  I have passed this on to our Bot Service & Functions team to investigate. Will update when I have more details.

[2017-07-28 19:29] nwhitmont commented on #3166
Hi @ashice
I imported your LUIS model JSON and tested it in the LUIS website. When I sent "hi" to your model, it detected the "Greeting" intent with 0.88 score.
![greeting intent detected](https://user-images.githubusercontent.com/3075047/28733244-020455da-7390-11e7-99ff-232481fdd209.png)

It's possible you need to train your LUIS model with additional utterances to make the intent detection more

[2017-07-28 19:58] nwhitmont commented on #3207
@guathan It sounds like the errors your are experiencing are due to your bot not being deployed to Azure cloud or published to Skype channel.

If you want better reliability in your bot's message delivery, you need to deploy your bot to Azure or other cloud provider, and then publish your bot on the Skype channel.

To publish your bot on Skype channel, navigate to the "Channels" page for your bot

[2017-07-28 19:59] #3207 closed

[2017-07-28 20:02] #3219 closed

[2017-07-28 20:06] nwhitmont commented on #3210
@imangoodarzi This behavior is defined by Telegram, and cannot be configured via Bot Framework.

[2017-07-28 20:06] #3210 closed

[2017-07-28 20:30] danmarshall commented on #2342
@andrejs-mamontovs can you try this sample: https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-GetConversationMembers

[2017-07-28 20:40] xjose97x commented on #3214
Alright. Thank you Nils!

[2017-07-28 21:01] danmarshall commented on #2342
I deployed the C# sample from the link above and verified that I get 2 updates, one for the bot, and one for the end user:
![image](https://user-images.githubusercontent.com/11507384/28736104-3ef452bc-739d-11e7-806b-6f01a91f4f8c.png)

[2017-07-28 21:01] #2342 closed

[2017-07-28 22:50] vivekgo commented on #3206
Did you try this in botframework emulator ?

[2017-07-29 00:41] nwhitmont commented on #2566
@joshftx You are commenting on a closed issue. Please open a new issue if you have a problem/question.

[2017-07-29 01:39] nwhitmont commented on #3180
@jinot92 The code example is not broken. I was able to get the calling bot to work with the below code. This means the problem is somewhere in the customizations you have added to your bot code.

For example, why are you creating the chat bot with `botbuilder-azure` module instead of `botbuilder`? Why are you passing in non-required config options to your chat connector like `stateEndpoint` and `o

[2017-07-29 05:15] macherlarupesh commented on #1006
Hi I am working on Microsoft bor framework.
Any one tell me, How to work message end point remotely on bot framework emulator..

[2017-07-29 17:10] bilby91 opened #3221 "[Feature Request] Add support for channel events in Slack"
## System Information (Required)
* SDK Language: Node.js
* SDK Version: 3.8.4
* Development Environment:  localhost, AWS

## Issue Description
Their are a lot of events that are not being sent to the bot when some actions happen inside a channel in slack. The following events are not being sent and would be really helpful.

From [Slack's events api](https://api.slack.com/events)

- channel_rename

[2017-07-29 18:54] PrasenjitGiri commented on #3206
Yes, with both text & voice. Also one more thing I have noticed is Cortana on Windows 10 always ends up opening Bing search page but the same works on the iPhone Cortana app.

[2017-07-29 20:02] dividor opened #3222 "If running a locally hosted bot with Direct Line integration, do I need to open more than one port to the internet?"
We have been testing a bot using the following setup ...

- Bot running on a host internal to our company network
- Local instance of Webchat
- Direct Line integration so that we can pass user-specific information to the bot

It all works wonderfully, and has been tested using ngrok forwarding.

I now need to request our networking folks open an endpoint for the production version.

This answer gi

[2017-07-29 22:37] tringtring commented on #2763
I am facing the same issue. There isn't a cont.wait in my code. Can you help?

[2017-07-30 07:46] poumason commented on #2959
I also had the problem.
I already set the redirect_uri in my OAuth URL, such as:
`https://accounts.google.com/o/oauth2/v2/auth?client_id=xxx&redirect_uri=http%3a%2f%2azurewebsites.net/%2fapi%2fOAuthCallback `

But Cortana still can't display Sign-in Card.

I don't know what happened. Please help me, thank you.

[2017-07-30 08:53] deepthakannan commented on #666
I'm facing this issue though I have configured my app with verification token from slack. My app id:  c8c4dacd-f7f9-4c9a-a32c-0e7758c3f665. Does anyone have any idea what I could be missing?

[2017-07-30 09:24] hardikchoudhary commented on #3188
Hi @nwhitmont

This the error I am getting

/ - Session.send()
Got response undefined
/ - Session.sendBatch() sending 6 message(s)
Unhandled rejection StatusCodeError: 404 - {"statusCode":404,"message":"Resource not found"}
    at new StatusCodeError (E:\Bots\imagetext\imagetext\node_modules\request-promise\lib\errors.js:32:15)
    at Request.RP$callback [as _callback] (E:\Bots\imagetext\imagetext

[2017-07-30 09:32] hardikchoudhary commented on #3188
Hi @nwhitmont  @vboctor  @bterlson  @maxpert @miql  For the reference attaching the complete code

Please check and I am not able to get any response , response is undefined

var bot = new builder.UniversalBot(connector, function (session) {
    var msg = session.message;
    if (msg.attachments && msg.attachments.length > 0) {
     // Echo back attachment
     var attachment = msg.attachments[0];

[2017-07-30 11:17] seca23 commented on #3218
Hi Nils

Just to clarify, I only get the above mentioned issue when I call a dialog that connects to Luis. For all other dialogs that do not inherit from LuisDialog, but IDialog, I have no issues.

In application insights, I saw that the full URL that our app is calling, that returns the 410 error, is https://westus.api.cognitive.microsoft.com:443/luis/v2.0/apps/<my modelid>?subscription-key=<my s

[2017-07-30 14:43] aakashkag commented on #2073
[](https://github.com/Manacola/msbotframework-mongo-middlelayer
)i create video to demonstrate process. you can find code and video link in github page

[2017-07-30 16:33] hardikchoudhary opened #3223 "how to get binary data of image that we have to send in cognitive service api"
Hi team

Thanks in advance

microsofComputerVision.orcImage({
    "Ocp-Apim-Subscription-Key": "2b4043ad15ef444eb4b41182c6ac0dab",
    "request-origin":"westcentralus",
    // "content-type": "application/json",
    //"url": "http://cdn.quotesgram.com/img/81/49/660235022-Random-Funny-Quotes-.jpg",
	 "content-type": "application/octet-stream",
      "body": data,
      // "url": attachment.contentU

[2017-07-30 16:50] nwhitmont commented on #3223
duplicate of #3188

[2017-07-30 16:50] #3223 closed

[2017-07-30 16:55] nwhitmont commented on #3222
You only need the one port for the bot's `/api/messages` endpoint. Port 3978 is the default development port. Typically when production deployed the bot's port is set to 443 aka `https`.

[2017-07-30 16:55] #3222 closed

[2017-07-30 16:56] hardikchoudhary commented on #3188
@nwhitmont

i am able to get the text from the url
passed directlyy

but can you help me to get text using session.message.attachments[0]

Hi team

Thanks in advance

microsofComputerVision.orcImage({
"Ocp-Apim-Subscription-Key": "2b4043ad15ef444eb4b41182c6ac0dab",
"request-origin":"westcentralus",
// "content-type": "application/json",
//"url": "http://cdn.quotesgram.com/img/81/49/660235022-Rando

[2017-07-30 17:43] jinot92 commented on #3180
Hi @nwhitmont I am trying to implement the code but I am getting the following error
"Exception while executing function: Functions.messages. mscorlib: Unable to determine function entry point. If multiple functions are exported, you must indicate the entry point, either by naming it 'run' or 'index', or by naming it explicitly via the 'entryPoint' metadata property."
I am assuming it is because o

[2017-07-30 18:04] pavanagrawal123 opened #3224 "[Question] Node.js Azure Example - Choice Prompts style options"
## System Information (Required)
* SDK Language: NodeJS
* SDK Version: I tried 3.7 and 3.9
* Development Environment: Azure Bot Service

## Issue Description
Buttons are not working.... (The C# example works, NodeJS doesn't)

## Code Example
https://pastebin.com/jHVj1Xx6
[code]

## Expected Behavior
Buttons to appear

## Actual Results
List appears (1, 2, 3)

[2017-07-30 21:00] nwhitmont commented on #3224
@pavanagrawal123 To specify the style of the list that is presented to the user, set the [IPromptOptions.listStyle](https://docs.botframework.com/en-us/node/builder/chat-reference/interfaces/_botbuilder_d_.ipromptoptions.html#liststyle) property:

Example:
[code]

For more information on choice prompts, including the available listStyle options, see: [Prompt types > Prompts.choice](https://docs.mi

[2017-07-30 21:11] pavanagrawal123 commented on #3224
hi nhwitmont,

I have implemented that, please see the first function. Yet it doesn't work. Also, I tried adding it to the third one, and it did not work either.

Thanks.

[2017-07-30 22:24] stevengum97 commented on #3224
@pavanagrawal123, The documentation is incorrect. You should be passing in an [object](https://docs.botframework.com/en-us/node/builder/chat-reference/interfaces/_botbuilder_d_.__global.iprompts.html#choice), not a string or the enum as the fourth parameter.

Here's a [link](https://docs.botframework.com/en-us/node/builder/chat-reference/interfaces/_botbuilder_d_.ipromptchoiceoptions.html) to the

[2017-07-30 22:36] pavanagrawal123 commented on #3224
Hi @stevengum97 ,

I just tested both versions provided, only the first version works. The second doesn't work properly, no list or buttons are rendered.

Also, when I first added the bot service in Azure, the NPM install didn't execute causing the bot to not work. Should I open a separate issue for this? (This was fixed by going into the function and running npm install). I think having NPM insta

[2017-07-30 22:37] stevengum97 commented on #3224
I'm leaving this issue open until a PR has been filed for the [documentation](https://github.com/Microsoft/bot-framework-docs/blob/master/articles/nodejs/bot-builder-nodejs-dialog-prompt.md) to fix the error.

[2017-07-30 22:40] stevengum97 commented on #3224
@pavanagrawal123, thanks for following up. The second method not working.. I'll look into this but it should logically work and I believe has worked in the past.

For the NPM install not firing right away, that may be due to the provisioning not finishing setup right away if you're attempting to use your bot as soon as it appears to be available. What was the timeline of testing your bot and then

[2017-07-30 22:53] pavanagrawal123 commented on #3224
hi, I waited about 5min after finishing deployment+bot service initializing, npm install still was not triggered.

thanks.

[2017-07-31 03:53] mukeshzt commented on #3202
@stevengum97  It works :+1:

Thanks for your reply. I'm going to close the issue.

[2017-07-31 03:53] #3202 closed

[2017-07-31 05:24] hardikchoudhary commented on #3188
Hi @nwhitmont @vboctor @bterlson

I am able to get the binary data...and when sending it in body and content type as octet stream getting the error invalid image data

but the image is downloading when I am puting it in browser

// Create your bot with a function to receive messages from the user
var bot = new builder.UniversalBot(connector, function (session) {
		 session.send("In bot");

    var

[2017-07-31 05:27] hardikchoudhary opened #3225 "[Question] In computer vision api when sending binary image data instead of url getting error Invalid image data"
Hi @nwhitmont @vboctor @bterlson

I am able to get the binary data...and when sending it in body and content type as octet stream getting the error invalid image data

but the image is downloading when I am puting it in browser

// Create your bot with a function to receive messages from the user
var bot = new builder.UniversalBot(connector, function (session) {
session.send("In bot");

var msg =

[2017-07-31 07:05] neetgupta7 opened #3226 "[Question] How to initiate a conversation on WebChat when user connects?"
## System Information (Required)
* SDK Language: .NET
* Development Environment: App Service

## Issue Description
Hello
I want bot to greet user as soon as s/he clicks on the link to webchat. How would bot service know that a conversation has been initiated even before it is invoked.

There is some information below but webchat works like an anonymous channel hence the channel account id may get

[2017-07-31 07:14] andrejs-mamontovs commented on #2342
So, so far no luck. I tried your code as part of my project with no luck. will try to find the reason later.

[2017-07-31 08:17] coderxlsn opened #3227 "error load dynamic form from SQLiteDB"
## System Information (Required)
* SDK Language:  .NET
* SDK Version: 3.5
* Development Environment: Auzure Bot Service

## Issue Description

## Code Example
.Field(new FieldReflector<SudModel>(nameof(Obl))
                   // .SetType(null)

                    .SetDefine(async (state, field) => {

                        DbService service = new DbService();
                        List<Tuple<

[2017-07-31 08:34] BirenPanigrahi commented on #2840
@megancooper  Thank you for the response.

I think its a problem with my network/firewall..

Its not working from my office but working fine from home.

[2017-07-31 09:51] Dhanashri04 commented on #1903
how to recognized composite entity in LUIS using node js? also how to check whether which choice is selected by user through prompt.choice method?

[2017-07-31 09:54] seca23 commented on #3218
Hi Nils

It appears as if we are no longer experiencing this issue.

Many Thanks

[2017-07-31 10:23] coderxlsn commented on #3227
fix. error loadsqlite dll from server

[2017-07-31 10:23] #3227 closed

[2017-07-31 10:28] PierrickGT opened #3228 "[Feature Request] Add support for FB Messenger read receipt"
## System Information (Required)
* SDK Language: Node.js
* SDK Version: 3.8.4
* Development Environment: Dokku, Redis

## Issue Description
Hi,

I know it is possible to send a typing indicator using [session.sendTyping()](https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.session.html#sendtyping) but I haven't found the same feature to send a read receipt indic

[2017-07-31 12:24] bilby91 commented on #3221
For anyone interested in handling this events using the botbuilder stack take a look at this extension we created.

https://github.com/suttna/botbuilder-slack-extension

[2017-07-31 15:13] asajm commented on #1716
Dear @eanders-MS, when I run your kind Telegram inline query demo, this error occurs:-

    at Request._callback (/Users/ABC/projects/XYZ/messages/node_modules/botbuilder/lib/bots/ChatConnector.js:523:46)
    at Request.init.self.callback (/Users/ABC/projects/XYZ/messages/node_modules/request/request.js:188:22)
    at emitTwo (events.js:106:13)
    at Request.emit (events.js:191:7)
    at Request.

[2017-07-31 15:29] nwhitmont commented on #3225
duplicate of #3188

[2017-07-31 15:29] #3225 closed

[2017-07-31 15:42] hardikchoudhary commented on #3225
Please help me or reply on that thread

On 31-Jul-2017 8:59 PM, "Nils" <notifications@github.com> wrote:

[2017-07-31 15:46] dividor commented on #3222
ok, thanks a lot.

[2017-07-31 16:04] poumason commented on #2959
I try the more sample, such as [SimpleFacebookAuthBot](https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Samples/SimpleFacebookAuthBot) , then the Cortana still doesn't display action button.
Why?

[2017-07-31 16:07] YanXuHappygela opened #3229 "[Question] Change voice of Speech API in botframework"
I have created a bot in botframework node js and it is enabled with speech API. How can I change its voice to a female voice of JessaRUS? Right now it is a male's voice by default. How can I set voiceName to 'Microsoft Server Speech Text to Speech Voice (en-US, JessaRUS)' in the botframework? Thank you!

[2017-07-31 16:07] BelvedereHenrique commented on #3220
I'm having some trouble with that. Since there is no way to configure the timeout, DirectLine keep sending double, sometimes even triple messages to my bot.
Seens like it's trying again because the bot took too long to respond.
Is there any workaround on that for now?

[2017-07-31 16:18] iMicknl commented on #2959
@poumason what happens if you use the snippet that @nwhitmont provided, which you can also find in the [official documentation](https://docs.microsoft.com/en-us/cortana/tutorials/bot-skills/bot-skill-auth).

My guess is that the sign-in card only works when you provide the redirect URI for Cortana, `https://www.bing.com/agents/oauth`. I have used this successfully in the past, where adding this re

[2017-07-31 16:23] poumason commented on #2959
I try to use [official documentation](https://docs.microsoft.com/en-us/cortana/tutorials/bot-skills/bot-skill-auth) the sample.
But it is not work.
I capture my debug log in the Cortana:
`"attachments": [
      {
        "contentType": "application/vnd.microsoft.card.signin",
        "content": {
          "text": "",
          "buttons": [
            {
              "type": "signin",

[2017-07-31 17:18] nwhitmont commented on #3229
From [Bing Text to Speech API Reference > Voice synthesis request:](https://docs.microsoft.com/en-us/azure/cognitive-services/speech/api-reference-rest/bingvoiceoutput#VoiceSynReq)

**Input parameters**

You can specify the voice language `xml:lang`, voice gender `xml:gender`, and name of speaker `name` in the SSML in your request body like this:
[code]

[2017-07-31 17:18] #3229 closed

[2017-07-31 17:26] nwhitmont commented on #2959
@poumason You are commenting on a closed issue. Please open a new issue.

[2017-07-31 17:29] stevengum97 commented on #3224
@pavanagrawal123, I haven't been able to reproduce the NPM install error... A newly created bot was up and running successfully within 1 1/2 minutes. If it happens again to you, please feel free to open up a new issue regarding this.

[2017-07-31 17:37] poumason opened #3230 "[Cortana] SignCard still doesn't work with Cortana"
## System Information (Required)
* SDK Language: C#
* SDK Version: Bot Builder 3.9
* Development Environment: Azure App Service

## Issue Description
I try to use Sign-in card in Cortana, and it still is not work.
I also add some comments in the [issues/2959](https://github.com/Microsoft/BotBuilder/issues/2959).
I add the redirect_uri in the Authorization URL, and not help to solve it.

## Code Ex

[2017-07-31 17:44] EricDahlvang commented on #3226
Hi @neetgupta7

When the WebChat loads, it will send an activity to the bot that is of type ConversationUpdate.  Your bot can watch for this and respond accordingly.  Here is an example:

[code]

[2017-07-31 17:44] #3226 closed

[2017-07-31 18:12] nwhitmont commented on #3230
@poumason Cortana Skills with Bot Framework Developer Preview does not currently support the Sign-In Card workflow on the Cortana channel.

The Cortana team is actively working on integrating this feature, with planned release of this functionality in the next few months.

[2017-07-31 18:12] #3230 closed

[2017-07-31 18:12] nwhitmont commented on #2959
Cortana Skills with Bot Framework Developer Preview does not currently support the Sign-In Card workflow on the Cortana channel.

The Cortana team is actively working on integrating this feature, with planned release of this functionality in the next few months.

[2017-07-31 18:50] ashice commented on #3166
@nwhitmont The issue lies not with simple LUIS recognition as the Skype channel works fine with the same model but the email channel does not reply with same dialogs as Skype. To confirm I have a bot deployed on Azure. Skype Add -https://join.skype.com/bot/f9cf18d8-9e89-459b-86c2-5ce1840f449a. Also an email can be sent to ashutosh.sjsu@outlook.com. Both are channels for the same bot and must reply

[2017-07-31 18:53] EricDahlvang commented on #3218
@seca23

Thanks for reporting this.  Good to hear you are no longer experiencing the issue.  Please open a new issue if you experience any more problems.

[2017-07-31 18:53] #3218 closed

[2017-07-31 19:20] EricDahlvang commented on #3200
Hi @Techdhim

Logging activities can be achieved by implementing the IActivityLogger interface (or, use the Azure Extensions: https://github.com/Microsoft/BotBuilder-Azure ).  Here's a blog post that describes https://blog.botframework.com/2017/05/05/Saving-Bot-Actions-On-Azure-Sql-Server/ how to implement IActivityLogger using Sql Server.

Then, you can use the information stored by IActivityLogg

[2017-07-31 19:20] #3200 closed

[2017-07-31 19:24] iMicknl commented on #2924
Facebook just added [5 extra Message Tags](https://developers.facebook.com/docs/messenger-platform/send-api-reference/tags) in an update of the Messenger Platform. At the moment this is a huge limitation of the Bot Framework for more advanced bots on Facebook, since you can't send users a message anymore after the 24+1 window.

Any idea if this is on the Bot Framework roadmap (@nwhitmont)?

[2017-07-31 19:28] nwhitmont commented on #3218
Thanks for the update @seca23

[2017-07-31 19:50] YanXuHappygela commented on #3229
Hi, I have tried this. But the voice remained unchanged. I'm using the RollerSkill demo sample codes:

<speak version="1.0" xml:lang="en-US"><voice name="Microsoft Server Speech Text to Speech Voice (en-US, ZiraRUS)" gender="Female" xml:lang="en-US">I'm roller,
the dice rolling bot. You can say 'roll some dice' or play one of the games I know how to play.</voice></speak>

[2017-07-31 19:59] YanXuHappygela opened #3231 "[Question] Emulator speech - available voice options?"
## System Information (Required)
* SDK Language: Node.js
* Development Environment: localhost,

I have tried to change the voice of bot, in the RollerSkill example. But the voice remained unchanged in the emulator. I want to change it to a female's voice. The generated SSML is as following:

\<speak version="1.0" xml:lang="en-US"\>\<voice name="Microsoft Server Speech Text to Speech Voice (en-US,

[2017-07-31 20:08] abharku commented on #3184
I have got the same issue. Works with all other providers but skype

Application id = 6fd5b887-635b-4195-9ad9-a6d609e4062e

[2017-07-31 20:39] ncksol commented on #2740
Is there any update on this issue?

[2017-07-31 21:58] assaf-cream commented on #1930
hi,
any updated on this issue?
will the ability to start dialogs from conversationUpdaten be added in the near future?

[2017-07-31 21:59] nwhitmont commented on #3231
@YanXuHappygela The SSML voice configuration options are specific to the Bing text to speech API you asked about in your previous question, the Bot Framework Emulator does not support that same level of voice options.

[2017-07-31 22:04] YanXuHappygela commented on #3231
@nwhitmont Thank you for clarification. So how can I test change of voice, in other channel, like Cortana?

[2017-07-31 22:34] nwhitmont commented on #3180
@jinot92 The code from the BotBuilder-Samples repository, as well as my example calling bot referenced in this issue, are both "SDK bots".

If you copy/pasted the code for a SDK bot into a Azure Bot Service `index.js` file, it will not run. Thus the errors you are seeing.

You have two options if you want to stay inside the Bot Service:
1. Modify the SDK bot code to work in the context of the Bot

[2017-07-31 23:45] stevengum97 commented on #3188
Are you testing this via emulator? Have you attempted trying to send the `contentUrl` to Computer Vision and trying to access the `contentUrl` in the browser when using **WebChat**? The case I tested where it worked was when I plugged in my ngrok endpoint into a bot's settings at [dev.botframework.com](dev.botframework.com) and tested via the webchat Test iframe.

When using the emulator if using

[2017-08-01 04:58] Rishi321 commented on #3216
Bot Name: Enfold Recorder
Bot Handle: EnfoldRecorder
APP ID: 7b2811d2-883d-4f83-bdc6-ee519e6b56b9

[2017-08-01 05:08] jinot92 commented on #3180
@nwhitmont  Alright! Thank you for your help. I'll try modifying the code to my needs as well as try the continuous integration feature. Will get back if there are any updates.
P.s Could you tell me the approx time after which your calling bot started to work?

[2017-08-01 05:36] nsantini opened #3232 "[Question] Load Testing bot issue"
## System Information (Required)
* SDK Language: Node.js
* SDK Version: 3.8.3
* Development Environment: localhost

## Issue Description
Following the blogpost https://blog.botframework.com/2017/06/19/Load-Testing-A-Bot/ to load test the bot Im creating a "sink" service to send messages to the bot. Since it uses it as the serviceUrl in the message, the bot talks to the sink service for other purpo

[2017-08-01 06:55] AmolPawarGitHub commented on #2053
Hi All,
I m using WebChat channel,  user uploads their error screenshot to webchat, e.g. screenshot is stored on the path D:\ErrorLog\SS.png, so how can I get this path in bot framework, I want to store that image to DB. at this moment I testing attachment upload on Emulator and i am getting path as  "http://127.0.0.1:44185/v3/attachments/ne7djbemc9f40bifi/views/original/SS.PNG"

[2017-08-01 07:00] Wayne-Shen commented on #3185
@nwhitmont , actually I am having the same problem.
I configured the bot channel to support Skype for business and  trying to register it with following powershell script：
`New-CsOnlineApplicationEndpoint -ApplicationId id -Name NameOfTheBot -Uri sip:username@yourdomain.com`

The error message is just like @stedey posted.

[2017-08-01 07:27] zixiangfu commented on #2839
I have the following code snippet using three recognisers but the triggering of the intent doesn't work for me. Did I pass in the intent wrongly? I tried replacing with regular expression and it works for me. I have included a help dialog that execute when with the regular expression for help and it works. I am using botbuilder version 3.9.0.

[code]

[2017-08-01 07:43] zixiangfu opened #3233 "[Question] triggerAction for Intent does not work as expected"
## System Information (Required)

SDK Language: NODE JS
SDK Version: 3.9.0
Development Environment: LOCALHOST

## Issue Description
I have the following code snippet using three recognisers but the triggering of the intent doesn't work for me. Did I pass in the intent wrongly? I tried replacing with regular expression and it works for me. I have included a help dialog that execute when with the re

[2017-08-01 08:56] pomarc opened #3234 "[Question] Skype channel does not show images on card on Skype desktop"
## System Information (Required)
* SDK Language: Node.js
* SDK Version:  3.8.2
* Development Environment: localhost, webhook is on a ubuntu server, in https.

## Issue Description
images in cards are not shown in Skype (the desktop app) but are shown in slack, web, telegram

## Code Example
 msg = new builder.Message(session).addAttachment(

                     new builder.HeroCard(session)

[2017-08-01 09:27] Kisamegr commented on #1669
I really need the feature to receive all messages instead of mentions... No updates?

[2017-08-01 09:59] PreranaPolekar opened #3235 "[Question] Error: "Sorry my bot code has an issue" - on sending messages to the bot at the same time from different instances"
## System Information (Required)
* SDK Language: .NET
* SDK Version: 3.8.4
* Development Environment: Azure App Service and DirectLine

## Bot Info
* Bot name: ProgMngmentBotPOC
* Bot handle: progmntbotpoc
* App ID:  bbc75279-a183-4bb3-a148-b9faee0bcac9

* Connected channels: Directline
## Issue Description
I have hosted my chatbot inside a webapp via DirectLine. Whenever I am trying to run two di

[2017-08-01 12:42] dijotcr222 opened #3236 "[Question] Cannot display the entire text in the hero card"

[2017-08-01 13:28] pomarc commented on #3234
if I replace my image link with the link you get in the samples, [https://sec.ch9.ms/ch9/7ff5/e07cfef0-aa3b-40bb-9baa-7c9ef8ff7ff5/buildreactionbotframework_960.jpg], the image is shown.
So It must be the way I serve the image that annoys Skype. But  my image is

- a png file
- less than 20M
- served from https
- has the following headers:
[code]
what's wrong with this, and how can a dev debug a b

[2017-08-01 14:34] fokstephanie commented on #2057
My team and I are using WebChat and as for customization of that interface, being about the change chat bubble colours as well as the top tab colour would be great, especially since we want the colours to match our brand.

[2017-08-01 15:07] hardikchoudhary commented on #3188
Hi @stevengum97  Thanks for the response and help

Yes i was tried it on emulator but now i have tried it on web chat ......yes i was able to access the file on url it was something like this (attachment.contentUrl)
https://webchat.botframework.com/attachments/0c5556aa76a143b88580d9427a410575/0000001/0/errorFix.png?t=S7YcaoIJLJY.dAA.MABjADUANQA1ADYAYQBhADcANgBhADEANAAzAGIAOAA4ADUAOAAwAGQAOQA0ADIAN

[2017-08-01 15:22] dynamicdeploy opened #3237 "[Question] Bot doesn't work in Microsoft Teams but works perfectly in Slack"
## System Information (Required)
* SDK Language:  .NET
* SDK Version:  BotBuilder 3.8.5
* Development Environment:  App Service

## Bot Info
* Bot name: meelo
* Bot handle: meelo
* App ID: 764e233f-f94d-4e21-9728-fdf768814285
* Connected channels:  Slack, MS Teams, Facebook, Skype

## Issue Description

The bot does not receive any messages from Microsoft Teams. Works perfectly in Slack.
## Code E

[2017-08-01 16:46] stevengum97 commented on #3188
By getting "nothing" in result do you mean something like this?
[code]

After receiving this response I went back to the [testing console](https://westcentralus.dev.cognitive.microsoft.com/docs/services/56f91f2d778daf23d8ec6739/operations/56f91f2e778daf14a499e1fa/console) to verify that the `contentUrl` worked. It worked with the same url; I got a 200 response with an expected description of the i

[2017-08-01 16:46] #3188 closed

[2017-08-01 16:46] xjose97x commented on #3237
go to dev.botframework.com

in your bots page you'll be able to see the errors you receive per channel.

![errors](https://user-images.githubusercontent.com/8400149/28836567-0663b1ee-76af-11e7-80fc-069636cdeb25.PNG)

[2017-08-01 17:08] dynamicdeploy commented on #3237
@xjose97x I don't see any errors on MS Teams.
![image](https://user-images.githubusercontent.com/1393485/28837348-4f98b070-76a1-11e7-9ea7-5234ace96036.png)

[2017-08-01 17:09] hardikchoudhary commented on #3188
I got the result only with web chat....but not with the skype or emulator
......

As in skype the attachment.url is something likw this
https://smba.trafficmanager.net/apis/v3/attachments/0-neu-d4-e0adc21eb5272ad45ca88bb9d5ae36e5/views/original

I want to know how i can use the base 64 binary data...

I get error there as invalid image data

Can yoi give me example how to pass base 64 data from th