[2019-06-14 19:54] stevkan commented on #5423
As mentioned in [this](https://stackoverflow.com/questions/54905780/chatbot-using-cortana-does-not-speak) Stack Overflow post, Cortana will only invoke a spoken response if the user first speaks to it. The Cortana teams assumes the user is expecting a response to be returned using the same medium the input was given: If text, then return text. If voice, then return voice.

Does this solve your iss

[2019-06-14 22:17] kds-snyder commented on #1987
For those who would like to read the user ID and user name from a C# bot, they are available in the turn context, which in my bot is available in methods
`OnMessageActivityAsync(ITurnContext<IMessageActivity> turnContext, CancellationToken cancellationToken)` in class `DialogBot.cs`, and in `OnMembersAddedAsync(IList<ChannelAccount> membersAdded, ITurnContext<IConversationUpdateActivity> turnConte

[2019-06-15 18:38] AAATechGuy opened #5427 "With latest Bot V4 and Asp.Net Core 2.2 getting bot auth error"
## Issue
This is w.r.t. issue mentioned at https://github.com/MicrosoftDocs/bot-docs/issues/1159. When we upgrade "Microsoft.IdentityModel.Clients.ActiveDirectory" from 4.5 to 5.1, BotWebApp throws following error.

[code]

## Proposed change
Add an upper bound <5.0 to "Microsoft.IdentityModel.Clients.ActiveDirectory" if its not supported.

## Component Impact
Runtime

## Customer Impact
Breaking

[2019-06-17 05:05] Pravandan commented on #5423
yeah that works, can you please also tell me the work around for - ChoicePrompt, where we specify options as - >
`
const options = {
prompt : "something...",
retryPrompt : "something...",
choices : [],
speak : "something to speak",
}

return await stepContext.prompt('choicePrompt', options);
`

I tried this but it did not worked.

[2019-06-17 05:06] Sakshams commented on #5014
We also see a similar issue, bot replies twice for a single session.send() during the conversation. We use JS SDK. This is not a deterministic behavior, but does occur a lot of time. We use bindDialogsToBot and then define the individual triggerAction and bot.dialogs.
Not sure why this happens.

[2019-06-17 16:01] #5411 closed

[2019-06-17 16:24] EricDahlvang commented on #5014
Hi @Sakshams

This is a closed issue.  Closed issues are not monitored by the Bot Framework Support team.

It looks like you are using Bot Builder V3.  Please open a new issue here: https://github.com/microsoft/BotBuilder-V3/issues providing as much detail as possible, and sharing relevant code.

[2019-06-17 22:56] stevkan commented on #5424
Please look over your 'attachment'. The organization appears incorrect according to the Bot Framework [schema](https://docs.microsoft.com/en-us/javascript/api/botbuilder-core/messagefactory?view=botbuilder-ts-latest#attachment-attachment--string--string--inputhints---string-).

The order of the attributes passed in for an attachment should be: _attachment_, _text_, _speak_, and _inputHint_. The on

[2019-06-18 01:16] EricDahlvang commented on #5403
Closing this ... all three language repos mentioned above are finished and merged.

[2019-06-18 01:16] #5403 closed

[2019-06-18 03:28] Pravandan commented on #5424
Hi, it seems right but there is still a piece to figure out - DialogTurnStatus, as I am still not able to think that what it refers to since there is only stepContext in the entire picture.

I have sent you the code on teams.

[2019-06-18 11:59] vinodkumartheking commented on #3859
I am using Bot Framework v4, Emulator v 4.3.3 and working properly in local host but once i publishing to azure , when i test in emulator it is not working ? Could you please help me out.

[2019-06-19 04:15] vishwacsena opened #5428 "[DCR] [Adaptive] Built-in memory properties"
This DCR outlines the standard set of properties and their interpretation for adaptive dialogs.

| Issue | PR |
|------|----|
|[C#](microsoft/botbuilder-dotnet#1966) | |
|[JS](microsoft/botbuilder-js#1011) | |

## turn Standard Properties
- [x] **turn.activity** - current activity (no change) (AdaptiveDialog only)
- [x] **turn.recognized**  - current result of IRecognizer
    - [ ] intents
    - [

[2019-06-19 13:51] KevinBrooke opened #5429 "Deploy bot with an existing appid / password"
You can currently only deploy a bot by creating a Microsoft App ID and password.
RBAC in the enterprise does not allow users who create bots also have access to AzureAD.
This means we cannot use any bot services.

Can you please add the ability to supply existing details for appid and password?

[2019-06-19 15:59] jon-buckley commented on #5429
+1

[2019-06-19 19:52] infact commented on #4632
Any update  on this?  I am having same issue

[2019-06-19 20:32] mdrichardson opened #5430 "[DCR] Allow Teams "Mentions""
## Issue

BotBuilder JS SDK doesn't support Teams @mentions. It return an "Invalid Mention Entity" error because Connector strips out `mentioned: {}` from `activity.Entities[0]`.

## Proposed change

Merge: https://github.com/microsoft/botbuilder-js/pull/908

## Component Impact

* libraries/botframework-connector/src/connectorApi/models/mappers.ts

Adds to Entity:

[code]

## Customer Impact

All

[2019-06-19 21:16] mdrichardson commented on #5429
You can create a "Web App Bot" with an existing appId/appPass via the [`az bot create`](https://docs.microsoft.com/en-us/cli/azure/bot?view=azure-cli-latest#az-bot-create) command.

Example:

[code]

That being said, your issue sort of has two questions in it. Does this address it adequately, or are you also asking for different Azure permissions?

[2019-06-19 21:29] EricDahlvang commented on #5429
You can also provide a pre-existing appid and password while creating the bot in the portal:

![image](https://user-images.githubusercontent.com/11055362/59802783-90014080-929e-11e9-86e8-e8587428ccf3.png)

[2019-06-20 07:03] babaibhat commented on #4632
I believe the feature we are using are not popular or MS does not think it to be relevant.
Maybe our use case only covers 0.5% of all usage of the SDK, hence low on priority.

There are alternative Chat SDK available from competing vendors, that might be worth a look.

[2019-06-20 08:20] artemvalmus opened #5431 "Bing Spell Check language specific properties in LuisPredictionOptions"
## Issue
We have a bot speaking multiple languages and we need to enable Bing Spell Check. `LuisPredictionOptions` class has two properties: `SpellCheck `which says if the spell checking functionality is enabled and `BingSpellCheckSubscriptionKey` which connects the bot with the Azure Cognitive Services resource.

But how do I specify a country code if I have multiple LUIS services (one for each l

[2019-06-20 09:15] KevinBrooke commented on #5429
OK, this looks like more of a documentation / GUI issue.
As you can see in the screenshot, everything is stating "create new", not "supply existing".
I did a quick test using an existing AppID and it worked fine.

The az cli documentation also does not state this clearly.
https://docs.microsoft.com/en-us/cli/azure/bot?view=azure-cli-latest#az-bot-create

Thank you for your time.

[2019-06-20 14:13] mdrichardson commented on #5429
Agreed. I've created [an issue in the docs repo](https://github.com/MicrosoftDocs/bot-docs/issues/1223) to have a section for this. Glad you got it working!

[2019-06-20 14:13] #5429 closed

[2019-06-20 14:57] michaelmaston commented on #4632
My heartburn is the repeated promises throughout this thread and elsewhere
of fixes being planned to be rolled out over a year ago.  Don't promise
things you don't plan to do.  Or offer overly complicated solutions to
something that you can and should easily fix.  If it isn't an important
feature, take it down entirely.  Apparently it *is* important enough to
make work in their emulator and in oth

[2019-06-20 16:29] mdrichardson commented on #5396
I've seen enough demand that I'm going to continue working on this in the following order:

1. Change JS version so that notification messages aren't static --  this will allow for multilingual use-cases better
2. Implement in C#
3. Write tests for both
4. Submit PR to SDK. If they don't want it, I'll submit both to [BotBuilder Community](https://github.com/BotBuilderCommunity)

[2019-06-20 17:25] v-kydela commented on #5396
I plan to work on this too.

`AdaptiveCardPrompt` spec ideas:

1. Allow options to be specified when the prompt is constructed or when `BeginDialogAsync` is called.
1. Include an `AdaptiveCardBuilder` class that specializes in the kinds of cards that work well for `AdaptiveCardPrompt`. It could create an Adaptive Card from just a list of information that the developer wants to get from the user, k

[2019-06-20 22:24] cleemullins commented on #5378
A quick update - we're currently working through a number of bugs in the 1.2 packages that are preventing us from taking them.

[2019-06-20 22:25] cleemullins commented on #5337
@EricDahlvang is working on this now.

[2019-06-20 22:26] cleemullins commented on #5135
I've reached out to @dandriscoll to see if we can get version numbers added to the swagger file. That will let up track "which is which" in a much more explicit way. Pushing this out another release until that's done.

[2019-06-21 02:25] stevkan commented on #5423
You can organize your code in much the same way as with MessageFactory. Only, in this case you will use ChoiceFactory. You can read more about the ChoiceFactory class [here](https://docs.microsoft.com/en-us/javascript/api/botbuilder-dialogs/choicefactory?view=botbuilder-ts-latest). Tested and works.

Please note, the ChoiceFactory class is in the `botbuilder-dialogs` package. The above link shows

[2019-06-21 02:25] #5423 closed

[2019-06-21 17:18] #5112 closed

[2019-06-21 17:51] tomlm opened #5432 "Rationalize data binding to dialog properties"
## Issue
We need to have standardized mechanism for databinding declartively to dialogs.

## Proposed change
## Data Binding
Data binding is the process of configuring the data from the memory context of the caller to the memory context of a dialog.  We spent a fair amount of time digging into this and the net result is the following recommendations.

There are several patterns of calling a dialog

[2019-06-21 17:53] tomlm opened #5433 "[DCR] Standardize memory properties"
## Issue
We need to make sure that cross platform we have standard internal properties.

## Proposed change
## turn Standard Properties
- **turn.activity** - current activity (no change) (AdaptiveDialog only)
- **turn.dialogEvent** - current dialogEvent (AdaptiveDialog only)
- **turn.recognized**  - current result of IRecognizer
    - **intent** - top intent
    - **score** - top score
    - **int

[2019-06-21 18:34] mdrichardson opened #5434 "[DCR] Allow for Slack Block Kit API"
## Issue
Per: https://github.com/microsoft/botbuilder-js/issues/1014

Note: Based on testing, the issue isn't that the user is using a ChoicePrompt. It's that we don't map the API.

Slack has a new [Block Kit API](https://api.slack.com/block-kit). It accepts [formats](https://api.slack.com/reference/messaging/block-elements) like:

[code]

Currently, in [Slack we allow channel-specific](https://do

[2019-06-21 18:51] peterswimm commented on #5434
+1 on getting this resolved, this is a huge blocker for us as an organization.

[2019-06-21 19:50] cleemullins commented on #5434
This conversation has been started with @benbrown and others.

[2019-06-21 19:54] cleemullins opened #5435 "Support for LUIS V3 Endpoint API"
The SDK needs to include support for the (currently Beta) v3 LUIS Endpoint API.

## Tracking Status
**Dotnet SDK** [Tracking Issue](https://github.com/microsoft/botbuilder-dotnet/issues/2111)
- [x] PR
- [x] Merged

**Javascript SDK** [Tracking Issue](https://github.com/microsoft/botbuilder-js/issues/1016)
- [x] PR
- [x] Merged

**Python SDK** [Tracking Issue](https://github.com/microsoft/botbuilde

[2019-06-21 20:48] sgellock commented on #5121
we believe this is resolved and possible with existing mechanisms

[2019-06-21 20:48] #5121 closed

[2019-06-24 09:53] SivaKarthickb commented on #4298
@JasonSowers my bot has been in review for a while, could you please communicate with the review team and let me know the status.

Thanks in advance!

My APP ID: 971b3331-1d1e-44c0-b1bd-510d2c56e8ef

[2019-06-24 23:29] stevenzhsieh commented on #4768
I got it to work by doing the following. However, this only works for Teams and not the Emulator.

[code]

[code]

[2019-06-25 10:16] sagarmodhavaniya commented on #4710
can we display long title in hero card ??

[2019-06-25 14:56] JasonSowers commented on #4710
Each channel has limitations on the length of hero card text length. The hero card is bound by these restrictions set by the individual channel. So in short, no depending on how long the title is and what channel(s) you are using.

[2019-06-25 21:52] scheyal opened #5436 "Final review of primary telemetry doc entry"

[2019-06-25 21:53] scheyal opened #5437 "Publish dotnet telemetry sample"
Ensure it corresponds to the documenation

[2019-06-25 21:55] scheyal opened #5438 "Create JS telemetry sample & corresponding doc content knowledge"
To be used by doc writer to convert to a doc topic alongside dotnet

[2019-06-25 21:56] scheyal opened #5439 "Final doc touches & handover documentation responsibilities"
Holding for transition from Ivor to Steve

[2019-06-25 22:21] scheyal opened #5440 "Improve setup to be a oneliner."
The setup in startup.cs should be as simple as enabling one line (not 5+). Also, the requirement was on by default but that is dependent on whether appinsight key is specified in appsettings.json. Consider a conditional enablement (if key specified, enable telemetry).

[2019-06-26 04:16] sagarmodhavaniya commented on #4710
Messenger i am using
![image](https://user-images.githubusercontent.com/47972032/60150646-254c8980-97f7-11e9-91f2-57fd44dd7482.png)

like this i am title get
i need to show full text in title

[2019-06-26 16:57] #5350 closed

[2019-06-26 18:57] JasonSowers commented on #4710
Messenger is limiting to 80 chars, From [facebook documentation](https://developers.facebook.com/docs/messenger-platform/reference/template/generic/):

title | String | The title to display in the template. 80 character limit.
-- | -- | --
subtitle | String | Optional. The subtitle to display in the template. 80 character limit.

There is nothing that can be done from within your bot or bot framew

[2019-06-26 19:27] munozemilio commented on #5440
Fixed by pr #2136

[2019-06-27 03:53] sagarmodhavaniya commented on #4710
thank you bro

[2019-06-27 04:03] sagarmodhavaniya commented on #4710
any other option to display full string
right now i am using the session.send("String here")
then use hero Card to display it in webchat there is no problem if we are not define text
but in messenger if we are not define text there default text coming option on title

**WEBCHAT**
 session.send("I'm sorry, i'm not able to answer your question. I'll get you connected with one of our Patient Concierg

[2019-06-27 08:24] Harshgupta71 commented on #4024
Hi All,

I was facing the same issue and I found the below regular express which resolved my issue.

@"\b(?!mailto\:)([\w-]+(.[\w-]+)@([a-z0-9-]+(.[a-z0-9-]+)?.[a-z]{2,6}|(\d{1,3}.){3}\d{1,3})(:\d{4})?)"

Thanks

[2019-06-27 16:58] JasonSowers commented on #4710
To be honest, its been a while since I have worked with bot framework so I do not have a solution off the top of my head for you, maybe @zerryth can help.

[2019-06-27 21:26] jwiley84 commented on #4710
@sagarmodhavaniya

This thread has been closed for almost a year. If you ask your question on Stack Overflow, using the [botframework] tag, a member of the community or support team will be able to assist you with thi.

[2019-06-28 00:13] cleemullins commented on #5417
Pushing to 4.6 per the Python Issue. C# and JS are done.

[2019-06-28 04:09] sagarmodhavaniya commented on #4710
okay thank you @jwiley84  And @JasonSowers  and thank for informaction

[2019-06-28 04:19] sagarmodhavaniya commented on #4710
hello @Zerryth  can you help me to resolved this problem

[2019-06-28 05:30] sagarmodhavaniya commented on #1503
**builder.Prompts.text(session,"Alright. What is the best phone number for us to reach you?"{retryPrompt:'For better follow i would request you to share your phone number to proceed `further.'});`**
here some line of code for validation number if number is wrong then i am replaceDialog with repromt:true

**`  session.replaceDialog('phoneNumberIntent',{ reprompt: true })`**

in my example the repro

[2019-06-28 07:21] sagarmodhavaniya commented on #3682
**same problem in my case only send function are call received are call**

[2019-06-28 10:58] Vigneshramkumar opened #5441 "Value cannot be null Parameter name: clientId is getting when trying to get user information in chatbot"
Hello Team,
I am using MS Bot framework V4 and enabled the Teams channel in bot. For one case, I need to get user related information such as User ID, email ID etc (as you know in the context we will get only the user name). For getting user information i am using GetConversationMembersAsync method from Teams Connector. I followed the same method mentioned in MS blog for getting user details. But

[2019-06-28 15:22] jwiley84 commented on #4710
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2019-06-28 15:22] jwiley84 commented on #1503
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2019-06-28 15:25] jwiley84 commented on #3682
This issue is closed. The team does not actively monitor closed issues. In the future, please ask questions on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The Bot Framework Team prefers to use the GitHub repository for Bug reports and Feature Requests.

[2019-06-28 18:05] Vigneshramkumar commented on #5441
Hello Team,
The above exception got solved when i passed MS App ID and password with the connector client. Currently I am getting below error.

Method not found: 'Void Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContext..ctor(System.String, Boolean, Microsoft.IdentityModel.Clients.ActiveDirectory.TokenCache, System.Net.Http.HttpClient)'.

My intention is to get the user details l

[2019-06-28 18:20] jwiley84 commented on #5441
If you have the AppID and Password in your appsettings.json, check that they're being read properly. The only time "ClientID cannot be null" comes up is when they're not. See [here](https://stackoverflow.com/questions/55407725/argumentnullexception-in-createdirectconversation-createdirectconversationasync/56261762#56261762) and [here](https://stackoverflow.com/questions/56411065/value-cannot-be-nu

[2019-06-28 19:55] mdrichardson opened #5442 "[DCR] Add Connector Tests to the Nightly Functional Tests, to Run Unmocked"
**Current status:** We're almost set up to hit Slack, but are blocked because we can't dynamically create a Web App Bot with a valid Slack channel. We're blocked by a change needed in the AZ CLI (I have a PR in) and some ARM/Swagger stuff that needs changing (@stevengum knows about it and @swagatmishra2007 will implement it, I believe)

---

A [PR in the JS Repo](https://github.com/microsoft/botbu

[2019-06-30 17:00] vidya091209 opened #5443 "Support Hero card as adaptive dialog step"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
I wanted to send Hero card or adaptive card as part of adaptive dialog steps.

**Describe the solution you'd like**
A clear and concise description

[2019-07-01 16:16] michaelkuzmin commented on #1731
I tried to go this way and it does not work well at all. For example the intent is that I want to say that I have a dog. If I say I have a dog it gives me p=0.89, but when I say a bunch of random stuff and then say I have a dog in a separate sentence, the value is p=0.05. This makes it completely unreliable.

[2019-07-02 15:52] CoHealer commented on #5237
Moving off Support for engineering to sort out the DCR

[2019-07-02 16:53] mdrichardson commented on #5442
Tests fixed, although unmerged. Un-assigning myself as I don't believe I'll be involved in implementing this in the Nightly Functional Tests.

[2019-07-02 17:59] jwiley84 commented on #5441
Concerning your update: to get further details about a user such as the ones you're looking for, you'd have to implement OAuth functionality, for example, the Microsoft Graph API (https://docs.microsoft.com/en-us/graph/api/user-get?view=graph-rest-1.0&tabs=cs).

There is a sample [here](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/24.bot-authentication-msgr

[2019-07-02 18:00] EricDahlvang commented on #5237
One interesting implementation option for timing out a conversation (if using CosmosDb for state):

https://docs.microsoft.com/en-us/azure/cosmos-db/time-to-live

[2019-07-02 20:31] sgellock commented on #5237
we have an event model approach to solve this.  @Stevenic has a design that builds upon his comment above.

[2019-07-02 21:44] Stevenic commented on #5299
@AskYous giving a little more context... Your approach would only work if the users reply came back to the compute node that asked the question and we can't guarantee that. In fact, if you have a large production bot that's running across multiple compute nodes its very likely that the answer will be processed by a different machine.

Additionally, it could be minutes, hours, or even days before t

[2019-07-02 21:44] #5299 closed

[2019-07-02 21:47] Stevenic commented on #5239
No

[2019-07-02 21:47] #5239 closed

[2019-07-02 23:14] AskYous commented on #5299
Thanks for the update. I'm definitely excited for the one-liner prompts.

[2019-07-03 00:00] Stevenic opened #5444 "[DCR] make memory scopes extensible"
## Issue
@benbrown pointed out that when building an `AdaptiveDialog` based bot for a channel like MS Teams or Slack, the current memory scopes don't always cover your needs.  You may want to store something at the team or thread level which aren't exposed as scopes.

## Proposed change
We could solve this by making the available set of memory scopes extensible. This could be done using a map of s

[2019-07-03 00:11] Stevenic commented on #5444
Oh I forgot to mention... This DCR comes along with an assumption that you'd only ever read & write to memory scopes through `DialogContext.state.getValue()` and `DialogContext.state.setValue()` which seems reasonable.  We could get rid of all the StateMap stuff as they're not really needed anyway.

Another assumption here is that the stock `user`, `conversation`, `dialog`, `turn`, and `configurat

[2019-07-03 02:43] joaodotneto opened #5447 "[Skype] Channel not working for Bot Channel Registration"
### Bot Info
- SDK Platform: .NET
- SDK Version: Bot Builder 4.4.3
- Active Channels: WebChat (works), Skype (not working)
- Deployment Environment: Web App and Bot Channel Registration

### Issue Description
The skype request arrives in my local server (exposed using Ngrok) but when the service tries to reply, the error below occurs:

My Stacktrace:

		in d:\a\1\s\libraries\Microsoft.Bot.Connecto

[2019-07-03 12:15] kaushalgautam commented on #5438
Any progress on this @scheyal / @munozemilio? Been waiting for this for a long time.

[2019-07-03 15:28] benbrown commented on #5444
This will be extremely useful in building bots for multi-user channels like Teams, Slack and others where data will need to be shared across multiple conversations within an organization!

[2019-07-03 16:10] jwiley84 commented on #5447
Hi @joaodotneto! I saw you posted this question [here](https://stackoverflow.com/questions/56861788/microsoft-bot-connector-conversations-replytoactivitywithhttpmessagesasync-throw), so I'm going to close this one, as the Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Gi

[2019-07-03 16:10] #5447 closed

[2019-07-03 16:13] Kaiqb commented on #5363
Content is now staging here: https://review.docs.microsoft.com/en-us/azure/bot-service/test-bot?view=azure-bot-service-4.0&branch=pr-en-us-1588.

[2019-07-03 16:40] joaodotneto commented on #5447
About your note: I tried more than 20 times before posting here, drop and recreate settings on Azure, drop and recreate .Net solution, set the AppID/AppPassword exactly, in code or config, and in all cases the error is the same.

But thanks, i'll wait for a good soul to help me in Stack Overflow.

[2019-07-03 16:44] jwiley84 commented on #5447
No worries, that good soul will be a member of the support team (unless a community member beats us to it!)

[2019-07-04 12:12] 3tallah commented on #3898
Thanks @EricDahlvang You saved my time 💯

[2019-07-04 13:34] Jibin12345 opened #5448 "Direct line Chanel concurrent user issue- bot not responding as expected"
When two users are accessing the chatbot concurrently , chatbot is responding to only one user.
Other user getting greeting message " How can I help you ?" .
Chanel=Direct Line
Bot Framework = V3
bot builder version =3

[2019-07-05 00:51] joaodotneto commented on #5447
Same error using the CoreBot from samples.
Skype have any type of restriction when using Ngrok?

[2019-07-05 04:37] sagarmodhavaniya commented on #4818
![image](https://user-images.githubusercontent.com/47972032/60698255-3dfe2300-9f0c-11e9-85b6-b7440d5989b3.png)
in my fb app i got this error

[2019-07-05 06:06] naga245 opened #5449 "[Skype] Chatbot not working on Skype, Skype URL's are not loading"
Hi,
chatbot is not working as expected and some of the Skype URL's are not loading (getting 403 and 404 errors).
![Chatbot issue](https://user-images.githubusercontent.com/39310446/60701079-04331980-9f18-11e9-97e6-85f8639f48d1.png)

[2019-07-08 13:36] naga245 commented on #5449
Any update on the issue?

[2019-07-08 16:42] mdrichardson opened #5450 "[DCR] Enable Cosmos DB Creation w/ PartitionKey"
## Issue

Currently, if a user wants to create a new Cosmos DB Container with a custom PartitionKey, they *must* do it through the Azure Portal UI. If they do it through the bot with `new CosmosDbStorage`:

* In Node, the bot runs, but the Container gets the default `_partitionKey` and not the custom one. I'm actually not sure why the bot still works after this.
* In C#, the Container is created w

[2019-07-08 18:29] cleemullins opened #5451 "LUIS SDK v3 Endpoint Support"
Issues that need to be resolved:
1. The CogSrvs SDK introduced breaking changes recently in a minor version bump.
2. This actively prevents us from upgrading.
3. ... which prevents us from implementing the LUIS v3 APIs

We need to get a plan in place for 4.6 to resolve. Sync w/ Mina to resolve CogSrvs SDK version issues.

[2019-07-08 19:53] james-novino opened #5452 "Rip Cord Dialogs"
**Is your feature request related to a problem? Please describe.**
We have broken our business applications down into module component dialogs that we can re-use across flows. As such when running the bot it's possible to have multiple component dialogs as children to the root Waterfall dialog as shown below:

![image](https://user-images.githubusercontent.com/10082447/60523937-a43f3780-9cb9-11e9-

[2019-07-08 20:13] sgellock commented on #5405
happiness has been achieved.

[2019-07-08 20:13] #5405 closed

[2019-07-08 20:49] jwiley84 commented on #5448
How are you implementing your directline?

[2019-07-08 21:48] dmvtech commented on #5412
Hi @Ashwakum

Can you give me the steps you are using to set this up? Is emulator the only 'channel' that is failing for you?

[2019-07-08 22:00] CoHealer opened #5453 "Bot Framework Release Checklist Template"
## Package 4.x.0-RC

## Package Location
https://botbuilder.myget.org/gallery/botbuilder-v4-dotnet-daily
https://botbuilder.myget.org/gallery/botbuilder-v4-js-daily

## Change Notes
In this release, the team focused on improving and simplifying message and activities handling. The [Bot Framework Activity Schema](https://github.com/Microsoft/BotBuilder/blob/master/specs/botframework-activity/botfra

[2019-07-08 22:00] cleemullins opened #5454 "4.5 SDK Release Tracking"
## Package 4.5.0-RC1

## Package Location
*Link to packages*

## Change Notes
*Link to possible change notes*

## Partner Sign Off
*partner list*

## Branching Code Base
**Samples**
- [ ] C#
- [ ] JS

## Testing Status
**Console Adapter**
- [ ] C#
- [ ] JS

**Simple Dialog Flow**
- [ ] C#
- [ ] JS

**Simple State Management**
- [ ] C#
- [ ] JS

**Welcome Messages**
- [ ] C#
- [ ] JS

**Prompts and

[2019-07-08 22:01] #5454 closed

[2019-07-08 22:44] CoHealer opened #5455 "4.5 Bot Framework Release Checklist"
## C# Package 4.5.0-RC3
## JS Package 4.5.0-rc5

## Package Location
C# - [4.5.0-RC3](https://botbuilder.myget.org/feed/botbuilder-v4-dotnet-daily/package/nuget/Microsoft.Bot.Builder/4.5.0-RC3)

JS - [4.5.0-rc5](https://botbuilder.myget.org/feed/botbuilder-v4-js-daily/package/npm/botbuilder/4.5.0-rc5)

Python - https://test.pypi.org/project/botbuilder-core/

## Change Notes
In this release, the te

[2019-07-10 01:25] stevkan commented on #5424
Because the adaptive card is sent via sendActivity() we must tell the step to stop and wait for user input. If we don't specify the DialogTurnStatus as 'waiting', then it will roll right on into the next step. The user, consequently, would not have an opportunity to respond.

I'm closing the issue as resolved. Please re-open if you continue to have a problem on this issue.

[2019-07-10 01:25] #5424 closed

[2019-07-10 05:35] Puneetjoshi24 commented on #5041
@jwiley84 @EricDahlvang @bhushanvadgave
I have an issue regarding this multiple bot registration in single bot-service... I have a scenario where there are two bot registrations with two Skype bots, in a single bot-service, how I can identify the two skype-bots from the session? I am also using v3 Node.js sdk.
Also, there is an id present at `session.message.address.bot.id` but how I get this id f

[2019-07-10 20:55] cleemullins commented on #5455
@RamjotSingh Via Teams

[2019-07-11 08:59] manoj1201 opened #5457 "Test in WebChat window keep shows "waiting for bot to be ready""
I create azure bot with C# SDK and Echo Bot option. As there is no option appearing i.e. V3 or V4.
After giving all necessary details and out of the box bot created. Navigate and click the Test in Web Chat, that window keep showing waiting. Even i created the new bot, same issue persist.
Kindly suggest, what's issue here or any workaround.
![TestInWebChatIssue](https://user-images.githubuserconten

[2019-07-11 09:13] manoj1201 commented on #5457
I followed below stack overflow conversation and issue get resolved after struggling couple of hours.
https://stackoverflow.com/questions/50899035/waiting-for-bot-to-be-ready-after-creation-in-azure.

Thanks

[2019-07-11 09:14] #5457 closed

[2019-07-12 01:06] vishwacsena opened #5458 "[Adaptive] [DCR] Drop steps tied to adaptive dialog"
Based on several rounds of feedback, we should drop "steps" tied directly to an adaptive dialog and move to a strictly [event + constraints] -> action (steps) model. This change will:
- help minimize and streamline concept count
- ensure all actions are always tied back to an event (and a constraint where applicable)
- instill clarity at both root dialog, child dispatcher as well as child dialog l

[2019-07-12 01:12] vishwacsena opened #5459 "[Adaptive] [DCR] Raise memberAdded and memberRemoved event"
Current implementation of adaptive dialog make it very hard to achieve a basic scenario like welcoming a user that has joined the conversation.

We should
1. Add a memberAdded event that abstracts the logic to catch any incoming conversationUpdate activity, filters out cases where the bot itself was added to the conversation and provides information on the specific member added to the conversation

[2019-07-12 16:25] tvvignesh commented on #4255
Any plans on supporting Google Assistant? Since a lot of people are using it daily, was wondering if you guys had a change in strategy.

[2019-07-12 16:44] EricDahlvang commented on #4255
Hi @tvvignesh

The Bot Framework community provides a Google Adapter: https://www.nuget.org/packages/Bot.Builder.Community.Adapters.Google/

Source can be found here: https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries/Bot.Builder.Community.Adapters.Google

[2019-07-12 19:12] benbrown commented on #5458
Would this mean that all event+constraints ALWAYS fire a leaf dialog?

and/or

Would this mean that the actions within the event handler would behave like the top level actions do now -- be interruptible by each other, use recognizer

And/or what is the implication for how the "Default" behavior of any given leaf dialog would work?

[2019-07-12 21:45] aatifjiwani opened #5460 "Luis.AI unable to access Luis Applications from dashboard"
I am trying to access my apps from the dashboard but I am consistently getting this server error:

`
ERROR 0: A server error occured. Please refresh the page and try again.
    at e.handle (https://www.luis.ai/main.758bfdb488ea36631d4a.js:1:1469228)
    at e.t._delegate (https://www.luis.ai/main.758bfdb488ea36631d4a.js:1:1468177)
    at e.handle (https://www.luis.ai/main.758bfdb488ea36631d4a.js:1:

[2019-07-12 22:30] aatifjiwani commented on #5460
![image](https://user-images.githubusercontent.com/34924102/61161704-eaff0f80-a4b9-11e9-8a35-f994f237d6dc.png)

I believe the issue is this ^. It is not able to find my apps because it cannot find the API endpoint.

[2019-07-13 19:31] sgellock opened #5462 "[Teams] All known Invoke verbs modeled in ActivityHandler"
## Issue
We need to evolve our ActivityHandler to account for Invoke verbs issued by Teams

## Proposed change
ActivityHandler should provide first class support for Invoke verbs to support.  Support is required in the C#, JS, and Python SDKs

## Tracking Status
**Dotnet SDK**
- [x] Log tracking issue:  https://github.com/microsoft/botbuilder-dotnet/issues/2244
- [x] PR
- [x] Merged

**Javascript

[2019-07-13 19:57] sgellock opened #5463 "[Teams] Provide a Teams connector that models the standard connector"
## Issue
Provide a Teams connector that models the standard connectors

## Proposed change
Teams connector should be discoverable and "reasonably unified" with the SDK's regular connector.  Support is required in the C#, JS, and Python SDKs.

## Tracking Status
**Dotnet SDK**
- [x] Log tracking issue:  https://github.com/microsoft/botbuilder-dotnet/issues/2245
- [x] PR
- [x] Merged

**Javascript S

[2019-07-15 05:05] lbgzmhl commented on #4874
@stevkan Thank you for your time. I am also receiving the same error
SDK Platform: Nodejs
SDK Version: 3.16.0
Active Channels: Teams
Deployment Environment: Azure Bot Service

Error: GET to 'https://api.botframework.com/api/usertoken/GetToken?userId=29%3A1R5vQA_0_OF8C4zi2Sy5uQs77pFKXs6Jxx1-UW7fABq7XqkNQ_CrL-lstObXd3RL6MVj_UZIC1PQ3fZGh-YdNFA&connectionName=ConnectionNameV2' failed: [404] Not Found

[2019-07-15 05:13] muhualing opened #5464 "404 not found when testing the AADv2 Auth Sample"
when I tested the [auth bot sample](
https://github.com/microsoft/BotBuilder-V3/blob/54bc8e6fa9b1582742beebeaa4d7254b39421639/Node/examples/basics-oauth/app.js#L32-L104), I met 404not found error

SDK Platform: Nodejs
SDK Version: 3.16.0
Active Channels: Teams
Deployment Environment: Azure Bot Service

Error: GET to 'https://api.botframework.com/api/usertoken/GetToken?userId=29%3A1R5vQA_0_OF8C4zi2

[2019-07-15 06:04] kannanambadi commented on #5344
I am facing an issue when chat bot is integrated into MS teams channels. Chat bot name gets appended with the query text within turncontext object, which in turn provides wrong responses from QnA. I want to remove the mentions from query before calling QnA Service for responses. Please help.

[2019-07-15 10:05] kannanambadi opened #5465 "Remove mention of chat bot name in MS teams"
I have a developed a chat bot using v4 and C#. first it was deployed to web, now we added bot into MS teams. In teams, chat bot is not responding with accurate answers from QnA service, however the same question gets answered with correct one in Web. We've found the reason, that the chat bot name (@ChatBot) gets appended in front of the question, that in turn changes the question structure.

I tri

[2019-07-15 11:53] crlmas commented on #3729
Module for Microsoft Bot Framework to enable your bot to prompt the user if the bot detects inactivity and ultimately end the conversation if no user activity after a defined period of time.

[2019-07-15 11:55] crlmas commented on #3729
am developing a bot using SDK v4 using node js and trying to implement the 'timeout' functionality using this npm module but i am getting the error saying 'use' is undefined in 'this.bot.use' which might have been changed in SDK v4. Is there any module that works for sdk v4? Any solution

[2019-07-15 11:55] crlmas commented on #3729
am developing a bot using SDK v4 using node js and trying to implement the 'timeout' functionality using this npm module but i am getting the error saying 'use' is undefined in 'this.bot.use' which might have been changed in SDK v4. Is there any module that works for sdk v4?

[2019-07-15 14:28] Zerryth commented on #5344
@kannanambadi please open a new issue for your problem in the appropriate repo (i.e. if you're using the dotnet vs js SDK, post your issue in either [botbuilder-dotnet](https://github.com/microsoft/botbuilder-dotnet) or [botbuilder-js](https://github.com/microsoft/botbuilder-js) repo)

Be sure to include the steps you took and bot code, so the team can actually get a repro on the issue to dig down

[2019-07-15 16:09] #5460 closed

[2019-07-15 16:09] aatifjiwani commented on #5460
seems to be fixed.

[2019-07-15 17:24] CoHealer commented on #5465
@mdrichardson, please investigate

[2019-07-15 18:03] mdrichardson commented on #5465
`RemoveMentionText` is currently [only compatible with Skype](https://github.com/microsoft/botbuilder-dotnet/blob/35c747e8d127884f38c5a683ce697b0d7f64004b/libraries/Microsoft.Bot.Schema/ActivityExtensions.cs#L49).

I'll work on a PR to get this working for Teams as well.

In the meantime, you can use the [Botframework Teams Extension](https://github.com/OfficeDev/BotBuilder-MicrosoftTeams-dotnet).

[2019-07-15 18:50] dmvtech commented on #5412
Closing due to no action. Please reopen if the issue persists and you still need assistance.

[2019-07-15 18:50] #5412 closed

[2019-07-15 18:55] #5465 closed

[2019-07-16 23:51] Stevenic opened #5466 "DCR: Add new instanceId field to Dialog State."
## Issue
This could probably considered a bug but I'm filing it here so that we can track it across all languages.

There's an issue with the dialog system that if you call `DialogContext.cancelAllDialogs()` and a parent does a `replaceDialog()` call we end up ignoring the fact that we have a new dialog stack and we end up propagating the cancellation all the way up the call stack which causes us

[2019-07-17 16:05] jwiley84 commented on #5441
Closing issue.

[2019-07-17 16:05] #5441 closed

[2019-07-17 16:11] jwiley84 commented on #5448
Closing for lack of response.

[2019-07-17 16:11] #5448 closed

[2019-07-17 18:47] mdrichardson opened #5467 "[DCR/Bug] Cosmos PartitionKeys are semi-broken"
Relevant customer issues:

* https://stackoverflow.com/questions/57074286/how-to-handle-state-and-configure-cosmos-db-storage-in-a-nested-dialog-bot-fra
* https://stackoverflow.com/questions/57080359/running-dc-begindialogasync-does-not-put-a-dialog-on-the-stack

## Issue

This issue applies to both/all SDKs and is as much of a design problem as it is a bug. Basically, if a user defines a `Partiti

[2019-07-17 21:03] #5430 closed

[2019-07-18 05:53] sagarmodhavaniya opened #5468 "ERROR: ChatConnector: startConversation"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2019-07-18 05:57] sagarmodhavaniya commented on #5468
i am getting this error when messages are coming form Facebook channel
[code]

[2019-07-18 12:59] sagarmodhavaniya commented on #3886
i am got the same error when i want to send messages from twilio but i can't get the session
[code]
any function are not call
but i received webhook event from the twilio

[2019-07-18 15:08] tdurnford commented on #5468
Closing as this appears to be a duplicate of https://github.com/microsoft/BotFramework-Services/issues/90

[2019-07-18 15:09] #5468 closed

[2019-07-18 17:32] cleemullins commented on #3886
@sagarmodhavaniya  The best way to gen resolution for this is to post it to StackOverflow and tag your post with "#botframework". Our support team goes through those every day and drives them to resolution.

[2019-07-18 19:05] jwiley84 commented on #5464
That is a older sample. Let me see if I can figure out what's going on

[2019-07-18 19:10] jwiley84 commented on #5464
Have you tested your connection in the app portal?

![image](https://user-images.githubusercontent.com/17333688/61485012-fab4a300-a954-11e9-9e3c-4e79a6f16b8c.png)

[2019-07-18 19:15] jwiley84 commented on #5449
@naga245 Are you still experiencing this?

[2019-07-18 21:18] EricDahlvang opened #5469 "[DCR] Add proxy support to the sdk"
## Issue
Some bots are hosted in environments where a proxy is required or preferred.  While developers can specify a proxy for their own specific external calls, the framework itself also needs to be able to utilize a proxy server so that all requests, including connector services, qna maker, luis, authentication (openid metadata, etc) will be routed to the proxy server.

The solution should be s

[2019-07-19 04:23] sagarmodhavaniya commented on #3886
okay
i want to make the bot for whatsapp

[2019-07-19 19:31] infact commented on #4863
Are these related ?
https://github.com/Microsoft/botbuilder-tools/issues/264

[2019-07-19 19:33] infact commented on #4863
I am getting this error now

Deployment failed. Correlation ID: 484cfdba-38bb-4d45-8358-9245aef97167. {
  "error": {
    "code": "InvalidBotData",
    "message": "Bot is not valid. Errors: MsaAppId: MsaAppId is already in use.. "
  }
}

[2019-07-19 19:34] vishwacsena opened #5470 "[Adaptive] Add a property on input to short circuit consultation bubbling on interruption"
## **Issue**
Current consultation bubbling logic does not provide for cases where user needs to stop bubbling when a specific constraint is met. We have a blanket, boolean allow interruption setting.

However it is evident that when you use Language Understanding powered by a non-deterministic system such as LUIS, you would need the ability to short-circuit consultation bubbling when a specific co

[2019-07-19 20:22] EricDahlvang commented on #4863
Hi @infact

Yes, each skill needs a unique MSA App ID.

This is a closed issue, and closed issues are not actively monitored.  Please direct Bot Framework questions to Stack Overflow using the BotFramwork tag: https://stackoverflow.com/questions/tagged/botframework  The GitHub repositories are intended to be used for Feature Requests and Bug Reports.

[2019-07-19 20:46] benbrown commented on #5470
So if I have a local recognizer in my dialog, I would train the None intent and use DoNotInterrupt = #None to allow my input to capture the value?

[2019-07-19 20:46] benbrown commented on #5470
I am wondering what type of real life values you'd imagine being used in DoNotInterrupt.

[2019-07-19 20:46] yochay commented on #5470
Few comments:

- This property can only be set if AllowInterruption is set to true. --> for code SDK, this means this property will only take effect if AllowInterruption is set to true. For Composer, we can add inline validation on the checkbox.
- @vishwacsena , we should also add the case for customer explicitly adding an Intent Rule (Evnet) that handles the same Intent that can be defined in the

[2019-07-19 21:11] vishwacsena commented on #5470
@benbrown
[code]

[code]

[code]

@yochay
[code]

[2019-07-19 21:26] yochay commented on #5470
@vishwacsena

What happen if I define both DontAllow with a given intent (#GetTypeOfOder)  and set a rule for the same GetTypeOfOder intent? Which will win?

[2019-07-19 21:51] vishwacsena commented on #5470
@yochay

The rule will not be executed - the property will win. This is identical to rules not triggering when `AllowInterruption` property on an input is set to `false`

[2019-07-19 22:11] benbrown commented on #5470
Is the following correct?

If I use a LUIS recognizer, then in a child dialog use a choice/switch to create a branching flow, that means:

1) I will add all choices in my choice prompt definition
2) I will then also add them all of those choices again in the switch
3) Then add them a third time in an intent that exists purely to block interruptions
4) Then go back and add that intent name to the c

[2019-07-19 23:13] benbrown commented on #5470
Here is another scenario:

My root dialog has 10 intents defined, 9 of them are "commands" that fire child dialogs.  Then, I have "quit" defined, which is super simple - it just calls cancel all dialogs and ends.

Now, in my 9 child dialogs, I have LOTS AND LOTS of inputs.  Like, 20 in each dialog.  All of them are using plain text prompts.  I'm asking things like "What is your favorite gummy bear

[2019-07-20 00:36] vishwacsena commented on #5470
@benbrown
[code]

First off, I do not see how everything except for step #4 you outlined above relates to the specific DCR. I have a separate spec that outlines things we are doing to minimize the overall amount of work from a LOT to a LOT LESSER in more detail. I’ll DM that to you again and let’s continue to discuss additional things we can do there offline.

#1, #2 and #3 can also be better thro

[2019-07-20 00:46] vishwacsena commented on #5470
@benbrown
[code]
If your conversation design calls for you to use text input in your child dialogs then you would not use LUIS recognizer in your child dialogs especially when you are only looking to have quit work in each child. The solution would be to use a simple regex recognizer on each of the child dialogs that **only** fire when the user says things related to quit that have an exact match.

[2019-07-20 01:38] muhualing commented on #5464
Sure, I tested it and I can get a token.

[2019-07-20 01:39] boydc2014 commented on #5470
To be honest, this feels odds to me,

From a design perspective,
* we are again adding a new property that's is not tight to this input, but to the system, because this config works in a very specific time in the bubbling process
* if this only work when allowInterruption = true, why just allowInterruption = expression.

From the actual behavior,
I think my question is similar to @benbrown's
1. ho

[2019-07-20 05:21] boydc2014 opened #5471 "[Adaptive] Use EmitEvent to coordinate the original InputDialog and the interrupters"
## Issue
Today, we have a fixed logic here to judge whether an inputDialog should re-prompt or re-process the activity after consulation.

The logic is stepsCount > 0, reprompt, because something happes, we consider this has been taken, we reprompt, otherwise we procee again in InputDialog.

What we want is sometimes, even interrupts reacted, but still want the original InputDialog to process inst

[2019-07-22 05:49] naga245 commented on #5449
@jwiley84 yes, still issue not resolved.

[2019-07-22 15:44] gabog commented on #5363
@Kaiqb, reopening this one to be able to track the changes that will be needed for Python in 4.6.

[2019-07-22 16:35] jwiley84 commented on #5464
Good! It means your OAuth is set up right. Investigating!

[2019-07-22 16:38] jwiley84 commented on #5464
Just to toss it out there: I believe the issue is the channel. Teams takes some special handling. Can you test your oauth in another channel?

[2019-07-22 20:46] rcarubbi commented on #3122
what about this approach to keep task awaitable:

   var timeout = 14000;
   var task = Conversation.SendAsync(activity, () => new Dialogs.RootDialog());
   await Task.WhenAny(task, Task.Delay(timeout));
   return Request.CreateResponse(HttpStatusCode.OK);

[2019-07-23 07:30] Vigneshramkumar opened #5472 "Disabling buttons in Adaptive cards in Teams after user selection - C#"
Hello Team,

Greetings for the day. We are developing Chatbot using Bot framework V4 in C#. Also we have integrated it with MS Teams. Currently we are using adaptive cards for getting inputs from user. Frequently users are trying to click the buttons in adaptive cards from old messages in bot. Is there any way to disable buttons from an adaptive card response in MS Teams after user clicked on any

[2019-07-23 10:13] OBrien1510 opened #5473 "Non-linear (cyclical) dialog flow in v4"
This is a more general question regarding the v4 framework. Recently my team and I made the decision to migrate from v3 to v4 as we became aware that support for v3 would be ending soon. For the most part I didn't have too many issues with the migration until I began trying to implement luis

Now how the previous v3 bot worked is that a series of hard coded responses were checked by the bot (depen

[2019-07-23 13:50] gabog opened #5474 "DCR: As a developer, I would like to have an LuisPrompt that where I can use LUIS and LuisResults to recognize the user's input"
## Issue
User input recognition is handled in code for the current ChoicePrompt, ConfirmPrompt, DatetimePrompt, NumberPrompt and TextPrompt.

These prompts also handle a limited set of hardcoded locales.

## Proposed change
Create a LuisPrompt that takes a IRecognizer instance, runs the user utterance against LUIS and provides the results in the validator so the developer can analyze the results t

[2019-07-23 13:51] gabog commented on #5474
@lauren-mills, @darrenj, please chime in if you have any other requirements for this one.

[2019-07-23 17:39] CoHealer commented on #5472
@stevkan, please assist

[2019-07-23 20:52] v-kydela commented on #5472
@Vigneshramkumar - In any channel, you can have a bot [ignore old cards](https://stackoverflow.com/questions/51701003/microsoft-bot-framework-webchat-disable-adaptivecards-submit-buttons-of-previou/51774589#51774589) by having the bot remember the card by storing some metadata associated with the card. In order to distinguish between cards, you will have to inject some metadata into the submit act

[2019-07-23 22:06] ChrisRisner opened #5476 "Web Chat embedding example / ease of doing correctly"
Currently, if you go to the WebChat channel in the Azure portal for a bot the embed code demonstrates how to iframe in a bot using your secret key.  Given the risk in this approach, the page should more explicitly tell developers that this approach should only be used for local testing and never be deployed anywhere.

There are assorted other samples for how to embed webchat including how to embed

[2019-07-23 22:09] stevengum commented on #5476
This looks more like a botframework-services issue or VSO work item. @Andrea-Orimoto FYI.

[2019-07-23 22:19] corinagum commented on #5476
Thanks for the info. I don't have the ability to transfer to `-services`. Are you able to, or could @Andrea-Orimoto do that?

[2019-07-24 04:14] DarkInsight85 opened #5477 "What's the length limit of conversation id and chat token returned from Direct Line?"
I was previously using varchar(191) to store conversation_id and chat_token I retrieve from Direct Line. However recently, I noticed that the chat_token returned exceeds this length limit, may I know what is the character limit for both conversation_id and chat_token?

[2019-07-24 05:28] Vigneshramkumar commented on #5472
@v-kydela - Thanks for your response. We want to have the old messages in the Teams conversation, but we need to disable the buttons in the cards (will not allow the users to click the old cards buttons again)

[2019-07-24 12:00] Unders0n commented on #359
@jasonMunsterteiger can you explein please?

[2019-07-24 17:59] jasonMunsterteiger commented on #359
You use a Case/Switch statement with If() and control the flow different than with a waterfall dialog.
Just check the Case against the client reply and you can start from whatever part in the loop you desire.

[2019-07-24 18:01] jasonMunsterteiger commented on #359
Reading his initial question again, I see that you could also use the data validator for dialog prompts and keep trying that same question until it receives the expected data.

[2019-07-24 19:24] franklevasseur opened #5478 "Web Chat working but not MS Teams"
Hi,

I created a bot using this botframework sample:

I then registered a bot on this url:

And registered a microsoft appId and secret on Azure

I hardcoded the appId and Secret in the src/index.ts file, then compiled, then i ran the code with npm start. The default port is 3978.

I then used ngrok to expose the port with:

**The web chat works just fine and I receive echo's for every input I sen

[2019-07-24 20:15] mdrichardson commented on #5478
@franklevasseur

Is your echo bot running locally or deployed?

If deployed, does it work if you "Test in Web Chat" from the Azure Portal? Can you provide your appId?

If local, did you go into `Azure Portal > Your Resource Group > Web App Bot > Settings` and set the endpoint to `yourNgrokAddress/api/messages`?

[2019-07-24 20:54] franklevasseur commented on #5478
Thanks for your fast answer!

It is deployed and yes it works if I "Test in Web Chat".

![image](https://user-images.githubusercontent.com/25970722/61827776-57233100-ae33-11e9-941e-49da1d814fb3.png)

I did go to Azure Portal > Your Resource Group > Web App Bot > Settings to set the correct ngrok endpoint.

The microsoft appId I'm using is:

[2019-07-24 20:57] mdrichardson commented on #5478
I was able to receive a message from your bot. Can you try signing out of Teams, closing the app, and signing back in? I've found that this often fixes weird Teams errors.

And can you confirm: you didn't install the bot in Teams through App Studio. Instead you searched for the bot's appId/name, right?

![image](https://user-images.githubusercontent.com/40401643/61828159-e53eed80-ae1a-11e9-9ffd-d8

[2019-07-24 21:15] franklevasseur commented on #5478
Hi,

I signed out and came back and it worked!!

Many thanks to you,

The [Botpress](https://github.com/botpress/botpress) team.

[2019-07-24 21:21] mdrichardson commented on #5478
Glad it worked!

Botpress looks pretty cool! Might want to edit your features comparison, though:

![image](https://user-images.githubusercontent.com/40401643/61829648-44523180-ae1e-11e9-833a-5fe4c9acc7fe.png)

Since we have [templates](https://github.com/microsoft/botbuilder-samples) and [community modules](https://github.com/BotBuilderCommunity) 😉

[2019-07-24 21:21] #5478 closed

[2019-07-24 21:42] EricDahlvang commented on #5477
Hi @DarkInsight85

The RFC does not define a maximum length for tokens: https://tools.ietf.org/html/rfc7519  However, bot framework tokens can be used in urls and older browsers do not support url length > 2048.  For now, it is safe to assume the token length will not exceed 2048.  However, this could change in the future.

Conversation Ids are also used in urls, so will not exceed 2048.

In the f

[2019-07-24 21:42] #5477 closed

[2019-07-25 04:38] chathudev commented on #4360
Can we use the same bot in Facebook Messenger and Workplace by Facebook at same time? There is no option in channel settings to configure both at the same time. Any solution?

[2019-07-25 06:17] DarkInsight85 commented on #5477
Hi @EricDahlvang , thanks for your response, and apologies for posting this here. I will post this in StackOverflow next time.

If the token length were to change in future, will there be an announcement or developers can be alerted to such changes?

Thanks.

[2019-07-25 08:37] OBrien1510 commented on #5473
I figured out you don't have to add all the dialogs in the constructor as the example show. You can add them anywhere in a dialog

[2019-07-25 08:37] #5473 closed

[2019-07-25 08:45] roshnig opened #5479 "Adaptive card is not rendering in skype latest version"
In skype bot we are using adaptive cards but it is not rendering properly in skype latest version. It is displaying as an icon (please see attachment). One of my team member has older version for skype, for her same card is displaying properly.

latest version where it is not working : 8.50.0.38
It is coming like this in latest version -
![Capture](https://user-images.githubusercontent.com/1958998

[2019-07-25 11:39] rodrigomoro commented on #4768
Hi there,
I'm facing the similar issue like @madhukarchaure04 and @Sean0885.
In the past this was working fine, we have not done code changes.

Using Fiddler I can see this:

The GET /api/oauth/PostSignInCallback returns the magic number and this script, which close automatically the window, so the final users cannot type it in the Team's chat:

<script src="https://statics.teams.microsoft.com/sdk

[2019-07-25 13:39] EricDahlvang commented on #5477
This is an internal protocol implementation detail, and not something defined by the spec. The team reserves the right to change it as the protocol evolves. Nonetheless, based on current usage, it seems very unlikely token length will ever exceed 2048. I think there would have to be a protocol version change, which would definitely be announced. As far as I know, there are currently no future plan

[2019-07-25 14:06] w-piotr opened #5480 "Chatbot working on emulator but not working on Web Chat"
Hi, when I try to deploy and test the bot on Azure I'm getting the following error:
"There was an error sending this message to your bot: HTTP status code Forbidden"

SDK Platform: C#
SDK Version: 4.5.1
Deployment Environment: Azure Bot Service

Endpoint has been configured correctly: https://my-bot-dev.azurewebsites.net/api/messages
appId and appPassword has been set correctly in the appsettings.

[2019-07-25 17:51] mdrichardson commented on #5480
What steps did you use to deploy the bot? [The Deployment Docs](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=newrg)?

You mentioned `appId` and `appPassword` are correctly set in `appsettings.json`. Are they also correctly set in `Azure Portal > Your Resource Group > Your Bot's App Service > Configuration`?

![image](https://user-imag

[2019-07-25 18:13] v-kydela commented on #5479
@roshnig - Skype does not officially support Adaptive Cards, so any instance of Adaptive Cards seeming to work is incidental. The appearance of your card suggests that an alternative should work, like a receipt card. Would you provide the JSON for your card to help me provide a good solution?

[2019-07-25 21:29] w-piotr commented on #5480
Hi thank you for response.
Yes those values are set correctly in the Configuration.
At first I have tried to publish it through visual studio 2017 but then as the web chat hasn't worked I have deployed it according to The Deployment Docs (new app service resource group, different appid and password) the errors are the same.
I use "Test In Web Chat" for testing.

[2019-07-25 21:41] mdrichardson commented on #5480
You said "different appid and password", so I want to verify that the appId and/or appPassword match exactly in each of the following places:

* `appsettings.json`
* `Portal > Resource Group > App Service > Configuration`
* `Portal > Resource Group > Web App Bot > Settings > Microsoft App Id`
* [App Registrations](https://ms.portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationsListBlad

[2019-07-25 22:12] kds-snyder commented on #2888
@athiappang, I also needed to identify that the user has not responded in a set period of time. I followed the approach at https://github.com/microsoft/botframework-sdk/issues/2496, which involves using a dictionary with conversation ID as key and timer as value, with a few changes (Timer is in System.Threading, not System.Threading.Tasks, and I stopped the timer with timer.Dispose(), since that i

[2019-07-26 02:08] vishwacsena commented on #5470
Closing the DCR since we are taking a surgical fix.

[2019-07-26 02:08] #5470 closed

[2019-07-26 08:54] roshnig commented on #5479
Thanks for your response. Actually we are already using other types of card and these are working perfectly fine in skype bot. We wanted to explore adaptive cards so tried multiple json samples given in microsoft website -
https://adaptivecards.io/designer/
None of these samples are working for me but for my colleague all samples are working.

[2019-07-26 09:17] w-piotr commented on #5480
Hi,

Deployment published via Visual Studio has the same AppId and AppPassword values set, also deployment done via CLI has its own values set.

![1](https://user-images.githubusercontent.com/49780873/61936920-fc521c80-af8d-11e9-9839-bedb1abfb827.JPG)
![2](https://user-images.githubusercontent.com/49780873/61936921-fc521c80-af8d-11e9-8954-17953336288b.JPG)
![3](https://user-images.githubuserconten

[2019-07-26 15:42] v-kydela commented on #5479
@roshnig - I'm glad you have a working alternative to Adaptive Cards. Skype does not support Adaptive Cards, so I strongly recommend against trying to use Adaptive Cards in Skype. You can see a list of platforms that officially support Adaptive Cards here: https://docs.microsoft.com/en-us/adaptive-cards/resources/partners

[2019-07-26 15:42] #5479 closed

[2019-07-26 15:55] mdrichardson commented on #5480
Can you clarify what you mean by this:

Whether deployment is done via CLI or VS, they should be using the same appId/appPassword. How many [App Registrations](https://ms.portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationsListBlade) do you have? You should only have 1 per bot. Can you verify that in `Your App Registration > Authentication`, you have this setting at the bottom:

![ima

[2019-07-26 16:46] mdrichardson commented on #5480
There's a couple other things that could be causing this (although I don't believe it would manifest itself this way):

* In your Startup.cs, you have both:
  * `services.AddSingleton<IBotFrameworkHttpAdapter, AdapterWithErrorHandler>();`
  * `services.AddSingleton<IBotFrameworkHttpAdapter, BotFrameworkHttpAdapter>();`
  * You only need one. Just keep the AdapterWithErrorHandler
* You're using `se

[2019-07-28 16:37] AntonioEspinosa commented on #4614
actually what you need to do is the following...

1. add your Web App Bot appid and passid in the appsettings.json (settings tab)
2.create a credential provider class like in the attachement
3. add the credential provider in the startup class through services.addSingleton<IcredentialProvider,yourCredentialProviderClass>();
4. go to your Web App Bot channels tab under bot management in (azure porta

[2019-07-28 23:15] EricDahlvang commented on #5472
There is currently no "disabled" setting in the schema for Adaptive Card buttons. Teams does support UpdateActivity types though.

You can use UpdateActivity as part of the reply logic for the Adaptive Card, and change the previous card to exclude the buttons (replace them with text or something). This seems to be best or only way to accomplish a goal of not allowing "the users to click the old ca

[2019-07-29 16:11] Nitin2392 opened #5481 "Incorrect id posting from activity.from.id"
I have a web chat client that communicates to a .NET Bot Framework model.

1) The webclient hits an endpoint to fetch the DirectLineToken object. I referred to this article to build the endpoint - https://blog.botframework.com/2018/09/25/enhanced-direct-line-authentication-features/. Like the article suggested, I created a new user - `dl_new GUID()`

2) In my web chat code, I create a user object

[2019-07-29 16:28] mdrichardson commented on #5396
Still getting issues: https://stackoverflow.com/questions/57251221/how-to-retrieve-user-entered-input-in-adaptive-card-to-the-c-sharp-code-and-how

[2019-07-29 18:07] tdurnford commented on #5481
I'm fairly certain that Direct Line uses the user ID from the token and overwrites the user ID passed to Bot Chat. There have been some changes regarding how Direct Line handles conversation updates, but I don't believe this would affect the user ID behavior.

[2019-07-29 20:53] CoHealer commented on #5464
@muhualing , can you please acknowledge? Otherwise we'll have to close the issue.Thanks.

[2019-07-29 22:32] Nitin2392 commented on #5481
@tdurnford - Thanks for the response. Does this mean that the SDK overrides the `user` object that I pass and instead fetches the `userId` from the token ?

If so, is there a way for me to explicitly suggest to the SDK to only consume the `userId` passed with the `user` object ?

[2019-07-29 23:01] Stevenic commented on #5394
This is still a valid feature suggestion that would be a great change.

[2019-07-30 04:59] tdurnford commented on #5481
Yes, the user ID overrides the user object you've created. I would recommend retrieving the user ID first and then using that ID to generate the token.

[2019-07-30 05:55] EricDahlvang commented on #5481
If Direct Line Enhanced Authentication is in use, the From.Id should be required by the protocol to match the id supplied in the token.

[2019-07-30 08:02] rodrigomoro opened #5482 "[Auth, Teams] Magic Number generation"
Hi team,
I'm trying to login using OAuth Card within MS-Teams.
I developed a WebApp and BotChannelsRegistration and this was working fine till some days in the past, when a I try to get the Magic Number, the window is automatically closed.

Using Fiddler I can see this:

The GET /api/oauth/PostSignInCallback returns the magic number and this script, which close automatically the window, so the fin

[2019-07-30 15:20] tomsecurity commented on #4339
+1 on this too - being able to ping users in your organization proactively is very useful e.g. "hey, your direct report requested access to this application, do you approve?" or "we saw you downloaded this report, can you confirm you've deleted it?" etc..
This is possible in Slack, it would be great to use it in Teams

[2019-07-30 17:41] mdrichardson commented on #5482
Does [this](https://github.com/microsoft/BotBuilder-Samples/issues/1553#issuecomment-499279211) fix your issue? Possible duplicate.

If not, can you share:

* Your Teams `manifest.json`
* The code related to displaying the OAuth Card
* Any code in `OnMessage` or `OnTurn`
* A link to your whole code would be preferred, but the above code would help still

You may also want to try Signing Out in Tea

[2019-07-30 18:56] v-kydela commented on #5472
@Vigneshramkumar - Have you had a chance to try Eric's suggestion involving `UpdateActivityAsync`?

[2019-07-30 22:12] mdrichardson commented on #5480
@w-piotr 	Any luck?

[2019-07-31 09:15] bhushanvadgave opened #5483 "Facebook Channel - Bot-service receives 2 messages when user uploads an image with a text msg"
### Setup
Botbuilder SDK: NodeJS v3.16
Channel: Facebook Messenger

### Issue
When a user from FB Messenger channel uploads an image along with text message (in a single msg), bot service (using NodeJS v3.16 SDK) receives 2 separate messages, one with the attachment and one with the text message.
Hence bot service thinks that the user has sent 2 messages and replies to the user twice (for both mes

[2019-07-31 13:04] Vigneshramkumar commented on #5472
@EricDahlvang and @v-kydela  - Thanks for your suggestion. Sorry, I was not there for past two days. I will try the above one.

I will list down the actions needs to be done for removing the button in the previous adaptive card, kindly correct me if i am wrong.

1. For the first time when displaying the original adaptive card, we need to have that conversation ID and message ID to be saved.
2. Onc

[2019-07-31 17:06] srichakradhar commented on #1796
I have the same issue, but with the Webchat (IFrame) channel. Any inputs regarding that?

[2019-07-31 20:13] stevengum commented on #5481
@mingweiw can you chime in on this topic?

[2019-07-31 20:58] mingweiw commented on #5481
@Nitin2392, this overwrite behavior kicks in when Enhanced Authentication options is enabled for a site. The overwrite happens in the Direct Line service, not the SDK.

[2019-07-31 20:58] #5481 closed

[2019-07-31 22:25] v-kydela commented on #5472
@Vigneshramkumar - You are mostly correct, but it's actually a little easier than what you're describing.

You need to save the ID from the resource response when you send the activity and use that as the message ID, but you don't need to save the conversation ID. Every message your bot receives from the user will contain the conversation ID you need, including the message that gets sent when the

[2019-08-01 07:30] rodrigomoro commented on #5482
After many tests, I have realized that the Magic Number is shown properly in Teams desktop app. **The issue only happens when opening Teams in the web browser view.** When I do login a new browser window is open to show the Magic Number, but that is closed instantaneously.

I send the AuthCard using a Dialogs:

![image](https://user-images.githubusercontent.com/5593177/62273859-dcfc3900-b43e-11e9-

[2019-08-01 08:27] w-piotr commented on #5480
I have created resource group, app service and bot service on portal.azure.com web app then deployed my bot via VS. All corresponding values are the same. As it did not work I have followed the deployment docs creating via CLI new resource group app service and bot service according to the steps in docs. The values of appId and appPass are also set correctly for the second CLI group.

I have one a

[2019-08-01 13:35] OBrien1510 opened #5484 "Proactive Message/Notifications C#"
I've read a few issues on this forum and nothing has fully answered my question.

We have a bot that runs on Skype. If the user has been inactive for a certain amount of time we want to send a proactive message. The idea would be to use the directline to send the bot a trigger message after which the bot would reply with the notification.

In the past we've used the direct line for automated testi

[2019-08-01 15:26] mdrichardson commented on #5480
Publishing through Visual Studio isn't officially supported because, as you've seen, there's a quite a few bugs around it. We recommend following the docs for deployment.

That setting is created when you run [this step](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=newrg#create-an-app-registration):

[code]

by the `--available-to-oth

[2019-08-01 15:55] sgellock commented on #5484
@OBrien1510 thank you for opening the issue.  I've added our support team to the issue to help you, but in the future for product behavior, how-to, or general understanding questions, please use Stackoverflow. https://stackoverflow.com/search?q=bot+framework

This helps us build our how to knowledge in a place more easily searchable than GitHub Issues.  We want to keep our GitHub Issues for tracki

[2019-08-01 15:59] sgellock commented on #5480
This should be moved to the C# repo.  any concerns with me moving it?

[2019-08-01 16:01] mdrichardson commented on #5480
@sgellock 	Go ahead.

[2019-08-01 16:05] sgellock commented on #5464
should this live in the samples repo?

[2019-08-01 16:10] #5440 closed

[2019-08-01 16:16] sgellock commented on #5427
@carlosscastro can you verify please?  thanks

[2019-08-01 16:20] sgellock commented on #5285
this work is done as of 4.4

[2019-08-01 16:20] #5285 closed

[2019-08-01 16:23] sgellock commented on #5141
this work is done.

[2019-08-01 16:23] #5141 closed

[2019-08-01 16:52] scheyal commented on #5439
Done.

[2019-08-01 16:52] #5439 closed

[2019-08-01 16:55] scheyal commented on #5437
@munozemilio - please verify that this is complete, ok to close.

[2019-08-01 16:57] scheyal commented on #5436
Done.

[2019-08-01 16:57] #5436 closed

[2019-08-01 17:43] mdrichardson commented on #5484
@OBrien1510

Correct, although I don't believe it will cause problems.

That uses some very old code and the SDK has changed a lot since then. Please review [the Proactive Sample](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/16.proactive-messages) and [the Proactive Docs](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-proactive-message

[2019-08-01 17:43] #5484 closed

[2019-08-01 17:43] Sakshams commented on #3079
This issue is still open

[2019-08-01 17:50] scheyal commented on #5437
Done.

[2019-08-01 17:50] #5437 closed

[2019-08-01 19:52] jwiley84 commented on #5464
This belongs in either v3 or sevices repo.

[2019-08-02 01:35] chrimc62 commented on #5431
Today, the LUIS REST API does not expose anyway to change these settings even if added to the SDK.  This is something we can work on with the LUIS team.  We do have some spelling changes coming that should improve spelling quality.  Do you have a specific use cases that might have been solved by this functionality?

[2019-08-02 02:19] Stevenic opened #5485 "DCR: create a new StepManager class"
## Issue
The `SequenceContext` class is getting fairly complex. We should refactor it a bit to simplify things.

## Proposed change
We could move all of the step manipulation methods to a new `StepManager` class which is exposed via `SequenceContext.steps`.

## Tracking Status
**Dotnet SDK**
- [ ] PR
- [ ] Merged

**Javascript SDK**
- [ ] PR
- [ ] Merged

**Java SDK**
- [ ] PR
- [ ] Merged

**Pyth

[2019-08-02 10:22] amistry79 commented on #4515
How can we achieve both imBack and capture data to pass on to the next dialog? This is important since we have a product list in adaptive cards carousal and when user click on any of the product then we would like to query the data based on the data.productId?

[2019-08-02 12:25] rodrigomoro commented on #5482
@mdrichardson I am using Generic OAuth 2 in the Bot Channels Registration connection. This used ADFS (Active Directory Federation Services).
So, I click on the OAuthCards, It opens a new browser window (Chrome) with bot.framework URL and redirectes to the ADFS login. After I type my credentials this is redirected to bot.framework URL /api/oauth/PostSignInCallback.

And the window closes. Hope thes

[2019-08-02 13:09] Bradrajkumar commented on #4686
i am also the issue that after chatting with bot i left for 2 hours, again i returned and tried to chat but bot is not sending the message, it is showing "sent Retry"

[2019-08-02 15:04] biste5 commented on #5427
@sgellock For me, with the latest release of Bot v4, this issue is gone, as it references ADAL 5.0.1 too

See: https://github.com/microsoft/botbuilder-dotnet/commit/3adc26cc2a7036f0c6e1bb2d7b5b197aad9ba7ca#diff-d243f9347aa630fd75b2dd3abef488cb

[2019-08-02 21:53] mdrichardson commented on #5482
@rodrigomoro 	Does ADFS (Active Directory Federation Services) need special OAuth settings for the botframework redirect URLs? Many of them do.

[2019-08-02 23:00] EricDahlvang commented on #4686
Hi @Bradrajkumar

This is a closed issue.  Closed issues are not monitored by the team.  Please direct your question to [StackOverflow](https://stackoverflow.com/questions/tagged/botframework) The Bot Framework Support Team monitors Stack Overflow daily.

That said: please ensure you are on the latest version of the v3 or v4 sdk.  Also, ensure AlwaysOn is set for the web application hosting the bo

[2019-08-03 05:11] thschuetze opened #5486 "Support Slack Api event app_home_opened to show a welcome message to the user"
## Issue
Slack recently added a "Welcome message" requirement for published bots. The bot needs to listen to the [app_home_opened](https://api.slack.com/events/app_home_opened) event sent by the Slack API and send a one-time welcome message to the user.

When trying to submit a bot to Slack it shows the following in the check list
![image](https://user-images.githubusercontent.com/20794834/6240769

[2019-08-04 12:39] rodrigomoro commented on #5482
@mdrichardson I configured the "redirect valid domains". And that is doing well, after I have logged in, the ADFS redirects to token.botframework.com which has the Magic Number.

I think this is not about the ADFS configuration because the problematic step is after loading the token.botframework.com page which automatically close itself when using the Teams web app.

[2019-08-05 16:43] mdrichardson commented on #5482
@rodrigomoro 	I'll continue looking into this. Can you confirm that after the window closes, you're not logged in, right?

[2019-08-05 16:45] CoHealer commented on #5464
@muhualing I'm closing this for lack of response. If you still need assistance please re-open.

[2019-08-05 16:45] #5464 closed

[2019-08-05 17:43] mdrichardson commented on #5482
I'm able to repro this in with Slack OAuth. Teams reports a 501 error. You likely have the same thing happening. Let me see if I can find the appropriate people to get involved with this.

[2019-08-05 19:41] rodrigomoro commented on #5482
No, I'm not. If I try to type something again, the AuthCard appears again asking me for sign in. It makes sense because I had no chance to type the validator number yet.

[2019-08-05 20:03] mdrichardson commented on #5482
@rodrigomoro 	Understood. I've sent an email out to the Teams support guys to see if they can track down the issue on their end. I'll keep you updated.

[2019-08-05 20:22] CoHealer commented on #5449
I've escalated the issue to the Skype team last week and checked in this morning. I'll respond with any updates tomorrow.

[2019-08-06 05:39] EricDahlvang commented on #5486
Hi @thschuetze

Thank you for bringing this to our attention. We will get this fixed asap.

Note: this should be moved to https://github.com/microsoft/BotFramework-Services/issues

[2019-08-06 18:59] scheyal opened #5487 "Deprecate V3 repositories"
Time to decide & implement V3 repos deprecation.
1. Repo access
2. Issues access
3. PRs access

[2019-08-06 20:57] mdrichardson commented on #5482
@rodrigomoro 	Just to keep you updated, the Teams team and I have exchanged a few emails and are working on this. This is a difficult issue to debug, however.

[2019-08-06 21:27] rodrigomoro commented on #5482
@mdrichardson Thank you very much. I really appreciate it.

[2019-08-07 19:57] CoHealer commented on #5449
Still no response from the SWC team.

[2019-08-07 23:33] vishwacsena commented on #5471
This was resolved via this PR - https://github.com/microsoft/botbuilder-dotnet/pull/2337

[2019-08-07 23:33] #5471 closed

[2019-08-08 17:53] CoHealer commented on #5472
@Vigneshramkumar, resolving as closed. If this does not resolve you issue please comment .

[2019-08-08 17:53] #5472 closed

[2019-08-08 20:29] sgellock commented on #5431
@artemvalmus I'm going to close this issue as resolved.  Ping me in the next day or so before I do if you feel you want to keep it open to continue the dialog.

[2019-08-09 10:01] Takechico commented on #5322
I have the same issue. Could you help please?   I think the problems occurs in OnTurnAsync method.
My OnTurnAsync code :

public override async Task OnTurnAsync(ITurnContext turnContext, CancellationToken cancellationToken = default(CancellationToken))
        {
            await base.OnTurnAsync(turnContext, cancellationToken);

            // Serialize value

            var activity = turnConte

[2019-08-09 17:35] cleemullins opened #5488 "What is PrivateConversationState?"
The C# SDK has a class called [PrivateConversationState](https://github.com/microsoft/botbuilder-dotnet/blob/8ff8744437c9006910228ae01185f40117f41a57/libraries/Microsoft.Bot.Builder/PrivateConversationState.cs).

The JS SDK does not.

The Python SDK does not.

Do we:
1. Remove this from C#
2. Add this to JS + Python?

It's unclear from context the intent or scope of this code.

[2019-08-09 18:01] v-kydela commented on #5322
@Takechico - You are commenting on a closed issue, and this is not an appropriate place to ask how-to questions. Please ask your question on [Stack Overflow](https://stackoverflow.com/questions/ask) and make sure to format your code so that it is easy to read. If you believe your question is related to this issue then the appropriate action is to link to this issue in your question.

[2019-08-09 20:50] EricDahlvang commented on #5488
This does exist in the js sdk: https://github.com/microsoft/botbuilder-js/blob/master/libraries/botbuilder-core/src/privateConversationState.ts

Docs describing Private Conversation State can be found here: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-state?view=azure-bot-service-4.0#state-management

[2019-08-12 15:59] mdrichardson commented on #5482
@rodrigomoro 	Still working on this. The Teams guys are having trouble reproducing it. If you switch to [Microsoft.Bot.Builder 4.6.0-preview-190808-1 SDK](https://botbuilder.myget.org/feed/botbuilder-v4-dotnet-daily/package/nuget/Microsoft.Bot.Builder), do you still experience the issue? I do, but the Teams support guys do not. Worth a shot while we do more testing.

[2019-08-12 17:45] v-kydela commented on #5488
The documentation is most likely sufficient to explain what private conversation state is, but I can paraphrase and elaborate if it's helpful.

The three bot state "buckets" are user state, conversation state, and private conversation state. When a bot accesses its bot state on a turn, it uses a key derived from the incoming activity. User state uses the user ID from the `from` property as its key

[2019-08-12 21:43] Stevenic commented on #5488
For a bit more context... In v3 we stored the current conversations dialog stack in `PrivateConversationState` because we assumed the bot was always talking to a single user and this would allow it to track the conversation it was having with said user.  This quickly became problematic when channels like skype rolled out support for group conversations.  The issue was that one user in the group wo

[2019-08-13 13:22] needyourhelp508 opened #5490 "Integration of Skype and BMC Remedy - Can I use Skype bot for calling to Mobile phone when a new ticket appears in BMC Remedy Ticketing tool?"
Hello,

Greetings folks!!

Can anyone throw some light if you have done some automation for monitoring the tickets with the above approach or come across such scenario?

We would like to implement in our environment as well that can help saving the efforts of manual monitoring by Analyst or Support engineer?

I believe this may be achieved by Skype bot integration with Remedy tool, however, not su

[2019-08-13 13:37] sibbl commented on #5416
I'm not 100% sure if this is the right spot to ask, but is the `DialogTestClient` here to stay and how will it improve?

I personally prefer the syntax of `TestFlow` over the API of `DialogTestClient` for its compactness and readability. The current samples even show some problems, i.e. that you need complex and moreover untested code in your test package to have a usable syntax ([client sample wi

[2019-08-13 17:10] CoHealer commented on #5490
@EricDahlvang , can you assist?

[2019-08-13 18:09] #5490 closed

[2019-08-13 18:11] EricDahlvang commented on #5490
I don't think Skype bots can make outgoing calls.  There might be a way to accomplish this using a normal Skype user and the apis, but I'm not sure.

[2019-08-13 19:58] CoHealer opened #5491 "v4.5.0b4 Bot Framework (Python) Minor Release Checklist"
## Python Package 4.5.04b -RC1

Python - https://test.pypi.org/project/botbuilder-core/

## Change Notes
In this release, the team focused on improving and simplifying message and activities handling. The [Bot Framework Activity Schema](https://github.com/Microsoft/BotBuilder/blob/master/specs/botframework-activity/botframework-activity.md#conversation-update-activity) is the underlying schema use

[2019-08-13 20:04] CoHealer opened #5492 "v4.5.0b4 Bot Framework (Python) Minor Release Checklist"
## Python Package 4.5.0b4-RC2

## Package Location
Python - https://test.pypi.org/project/botbuilder-core/

## Change Notes
In this release, the team focused on improving code quality via bug fixes as well as working towards feature parity with botbuilder-dotnet. The [Bot Framework Activity Schema](https://github.com/Microsoft/BotBuilder/blob/master/specs/botframework-activity/botframework-activit

[2019-08-13 20:08] CoHealer commented on #5491
Closing as dupe created by page postback

[2019-08-13 20:08] #5491 closed

[2019-08-13 20:31] cleemullins commented on #5488
Thanks Everyone. This is now in all 3 SDKs, and good to go.

[2019-08-13 20:31] #5488 closed

[2019-08-13 20:44] #5455 closed

[2019-08-14 00:24] nathanlindorff commented on #4515
I left a +1 on @amistry79 post, but having a 'hybrid' imBack/postBack for a button would be useful in situations where you want to show the user they have clicked/'Said something' but also want to send additional context back. I believe we had customised something like this in webchat v3, but are hoping not to have to customise webchat v4 as much.

[2019-08-14 08:36] rodrigomoro commented on #5482
Hi @mdrichardson  I will try upgrading the Bot.Builder version. I have some dependencies, so I will let you know once done. Thanks.

[2019-08-14 14:43] mdrichardson commented on #5482
@rodrigomoro 	That was my experience as well. Still investigating.

[2019-08-14 18:36] mdrichardson commented on #5482
@rodrigomoro 	I don't know much about ADFS, but does [this relate to and/or solve your issue](https://docs.microsoft.com/en-us/microsoftteams/known-issues) (scroll down to the following section):

https://docs.microsoft.com/en-us/microsoftteams/known-issues
![image](https://user-images.githubusercontent.com/40401643/63046587-a33c2100-be87-11e9-9511-f20f29415ef8.png)

[2019-08-14 19:53] CoHealer commented on #5449
New update from the Skype Web Control Team. They have a fix checked in but are investigating a related issue. Current ETA to releasing the fix to production is currently mid next week.

[2019-08-14 21:01] stevengum opened #5669 "AZ CLI: Remove --version flag from az bot create"
## Information:
* Tools Libraries: Azure CLI

## Issue Description:
Remove `--version` from az bot create (users are only able to create v4 bots with the latest CLI so the flag doesn't add value)

The flag was originally left for future proofing for v5, but since there is no timeline for that, it's not necessary.

[2019-08-14 22:49] jwiley84 commented on #5492
Testing complete!

[2019-08-15 00:50] p-nagpal opened #5493 "[DCR] [GDPR support] Add ability to delete data related to a userID from Bot State"
## Issue
It is not possible to query conversation state related to a user ID. To fully support GDPR delete requests, we need the ability to query&delete both User and Conversation state records to understand if a userId was part of it.

## Proposed change
Add userId metadata field to Conversation state.

## Component Impact
*Describe which components need to be updated*

## Customer Impact
*Descri

[2019-08-15 00:54] p-nagpal opened #5494 "[DCR] [GDPR support] Add a DELETE-ME step in composer to allow user to delete all state data"
## Issue
To support GDPR, a bot developer needs to allow their users to delete any state/memory collected during a conversation (or user profile data). A declarative step can help them do this as part of the dialog flow and properly reset the state of the dialog.

## Proposed change
Add a DELETE-ME step in Composer to allow bot developer to enable users to delete all state data for the current con

[2019-08-15 00:58] PeterWone commented on #2385
@willportnoy

And if the user closed the browser and walked away? Your "strategy" will leak sessions.

Services like Twilio (already mentioned) and Live Chat integration with Dynamics 365 cost money for each dead session that your approach produces.

It's a non-answer and the issue should not have been closed. If you _can't_ resolve this problem then bot framework isn't ready for prime-time.

[2019-08-15 06:34] EricDahlvang commented on #2385
Hi @PeterWone

This issue is a couple years old, and this problem has been solved many times.  The best two options are as Will initially suggested:

Nonetheless, there is some discussion of adding internal sdk support for timing out a conversation on this open issue: https://github.com/microsoft/botframework-sdk/issues/5237  Please add your feedback and interest in this feature there.

[2019-08-15 06:42] Stevenic opened #5495 "DCR: detect dialog changes when a bot is deployed"
## Issue
When a lot of structural changes are made to a bot dialog system and it's re-deployed, it's possible for users that are having an existing conversation with the bot to get into a stuck state. We should add logic to detect this and automatically cleanup the conversations dialog stack.

## Proposed change
My proposal is that for every container (AdaptiveDialog) we generate an ordered list o

[2019-08-15 06:48] Stevenic commented on #5494
There are a couple of work items that would be needed to enable this:

- We need to add a new interface that Storage providers can implement to let us tell them to delete everything with a given UserID.   This would instruct the user to search for all records related to a user and delete those records. **Is delete enough or do we also need export?**
- We need to add a new `DeleteUser` step that th

[2019-08-15 17:54] jwiley84 commented on #5492
Application Insights was fixed by Axel, NOW testing is done! All good to go, no issues.

[2019-08-15 18:26] mdrichardson commented on #5482
@rodrigomoro 	I tried reproducing this issue for half an hour's worth of messages, each today and yesterday and was unable to reproduce. Are you still experiencing this?

[2019-08-15 18:49] rodrigomoro commented on #5482
@mdrichardson yes, I am experiencing the same. If using the Teams app (mobile or desktop) it works fine and the web page with the validator code stay, but using the Teams web the web page with the validator code auto-closes itself. Perhaps I can document this better with screenshots, fiddler liga, etc. I am not doing anything out of the box.

[2019-08-15 18:50] mdrichardson commented on #5482
As this seems to be difficult to repro, the more you can document, the better.

[2019-08-15 20:53] cleemullins commented on #5492
We are done, and packages are released. Closing this out.

[2019-08-15 20:53] #5492 closed

[2019-08-15 23:09] p-nagpal commented on #5494
@Stevenic , you are right, we need an export option. If the bot developer would like to retain user data for longer term then an export option is required in addition to delete.

[2019-08-15 23:20] dmvtech commented on #5469
Regarding .NET:

Looks like this [will be available in .NET core 3.0](https://github.com/dotnet/corefx/issues/37187) in one single spot (similar to how we can do it in [.NET Framework currently](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/network/defaultproxy-element-network-settings)).

More info:
https://stackoverflow.com/questions/42637592/asp-net-core-defaultpr

[2019-08-15 23:35] cleemullins commented on #5469
Unless I mis-remember, the current C# SDK (4.5.X) supports a Proxy Server.

[2019-08-16 22:08] mdrichardson commented on #5482
[Possibly related](https://github.com/MicrosoftDocs/bot-docs/issues/1184)

[2019-08-17 10:28] rodrigomoro commented on #5482
That is not related. In that case, the issue is about getting the auth token from the emulator.
In my case, everything works fine in the emulator and in the Teams desktop/mobile app which open the login popup properly and then the token.botframework.com web site shows the validator code.
The issue is about using the Teams web app that when showing the validator code auto-closes the web page (as in

[2019-08-17 21:30] EricDahlvang commented on #5469
It is possible to use a proxy with 4.5.x, but  the support for it could be simplified. Maybe app settings based, rather than the current code changes required.  Also, the dotnet sdk could be using HttpClientFactory with named httpclients for the places we are currently creating httpclients.

[2019-08-19 08:33] marcasmar94 commented on #3123
Any updates to Twitter Channel?

[2019-08-19 14:28] AutomationTeamVA opened #5496 "Universal Bot Authentification in multple Channels (MS Teams, Web Bot, Bot Emulator)"
## Issue
Encountering authentication issues with OAuth when working with MS Teams as well as Web Chat even though OAuth works fine in the Bot Emulator. (C#)

## Proposed change
A specified design template that will allow OAuth to function properly in each channel.

## Customer Impact
Proposed change will allow customers to create a singular bot that works on all platforms.

## Tracking Status
**Do

[2019-08-19 16:17] mdrichardson commented on #5482
@rodrigomoro Just FYI: In Teams, the window is *supposed* to pop-up then auto-close...it basically sends the magic number for you. I think I may have been treating this as a different issue...

When your window auto-closes (which *is* intentional), you're unable to log in? If you have the dev console running (F12), are there any errors displayed in either the Console or Network tabs?

[2019-08-19 17:29] mdrichardson commented on #5496
@AutomationTeamVA OAuth should work for all channels on the same bot. [Teams requires a few modifications](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/46.teams-auth/TeamsActivityHandler.cs), but once implemented, works across channels.

What issue are you running into? Can you provide code, error messages, and screenshots?

If you're internal to MSFT (I ca

[2019-08-19 17:32] cleemullins commented on #3123
The public BotBuilderCommunity has built a [Twitter Adapter](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries/Bot.Builder.Community.Adapters.Twitter).

[2019-08-19 18:55] marcasmar94 commented on #3123
@cleemullins yes I have tried that and faced some issues [https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/issues/140#issue-482469100](url)

[2019-08-19 21:47] mdrichardson commented on #5434
Note: If your bot is in Node, you can use the [BotKit Slack Adapter](https://github.com/howdyai/botkit/tree/master/packages/botbuilder-adapter-slack), since [it supports the Block Kit API](https://github.com/microsoft/botframework-sdk/issues/5467).

[2019-08-19 22:17] mdrichardson commented on #5467
Disregard that issue reference. Bad copy/paste

[2019-08-19 22:19] mdrichardson commented on #5434
Disregard that issue reference ("[DCR/Bug] Cosmos PartitionKeys are semi-broken"). Accidental and no way to delete

[2019-08-20 00:16] stevengum opened #5628 "TranscriptLoggerMiddleware bug investigation"
## Describe the bug
The current JS implementation of handling invoke activities in Teams doesn't create an id for the activity that is sent from the bot.

This breaks the `FileTranscriptStore` used in the `TranscriptLoggerMiddleware`. (`FileTranscriptStore` uses `activity.id` as the temporary file name before it receives the activity from the service)

While this bug is already fixed, we need to d

[2019-08-21 09:36] gfmajchrzak opened #5497 "Messages blocked by WAF OWASP rules, missing header"
I need to configure the bot to be behind a WAF v2 configured to analyse the message content, apparently some headers are missing in the request from the bot connector to the API, which is capture by the WAF blocking the request, with this exceptions:

    "ruleId": "920300",
    "ruleGroup": "920-PROTOCOL-ENFORCEMENT",
    "message": "Request Missing an Accept Header",

---------------------------

[2019-08-21 10:29] etbuilder commented on #4007
@mitkodi can you share code snipet how are you resolving IBotData in DbActivityLogger as we are facing an exception:

[code]

[2019-08-21 10:34] Wajeed-msft commented on #5482
@rodrigomoro - Authentication pop-up is expected to open inside Teams context like this:
![image](https://user-images.githubusercontent.com/31851992/63424787-cc7f2300-c42c-11e9-90ac-6441408659ce.png)

Could you please try this [Sample Auth Bot](https://github.com/OfficeDev/microsoft-teams-sample-auth-node/raw/master/manifest/AuthBot.zip) manifest and let us know if you are still facing the same is

[2019-08-21 12:12] yadavsachin opened #5498 "Bot Not working with MS Teams. It is working fine in web chat"
1. I have deployed bot to Azure using https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0
2. I have integrated bot with MS teams using Channels under Bot channel.
Using .Net Core 2.1

Where I can see the errors on why it is not working.

[2019-08-21 15:52] sgellock commented on #5498
@yadavsachin thank you for filing an issue.  Our teams samples at the moment are thin in number.  We're working on improving this and you should see additional Teams specific bot samples in our 4.6 release.  In the mean time, can you take a look at the following sample: https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/46.teams-auth
Though it's meant to show how

[2019-08-21 18:16] tomlm commented on #5497
I don't think this is resolvable via middleware, as it's a layer below that. @Dan Driscoll

I think this is saying that requests to the bot should have Accepts header (from the channel), and calls to the channels should have the Accepts header (from the bot).

This probably impacts the connectors, and all of the channels to make sure we are compliant

[2019-08-21 18:46] benbrown commented on #5495
Another possibility is would be to use the `updatedAt` attribute in the dialog files -- currently `$designer.updatedAt` which would catch _any_ changes in the dialog.  This is automatically set whenever a change to the dialog file is made.

[2019-08-21 19:44] cleemullins opened #5499 "Logged exceptions need additional metadata"
When Exceptions are surfaced in various portals, or cut-pasted to CSS, the first thing that's usually asked is "What's the BotID and Conversation ID and Activity ID"?

We should log these in the typical exception messages to eliminate a round-trip to gather data to help customers debug their problems.

[2019-08-21 19:46] cleemullins commented on #5499
This is especially true on timeouts, where the exception message need to have more data in it.

Ideally:
1. DateTime
2. ConversationId
3. ActivityId
4. BotId

[2019-08-21 20:28] scheyal commented on #5098
+1, and added supportability, ridealong tags.

In response to the ridealong session, some of my learning is that troubleshooting our stack is challenging. Issues such as timing, timeouts, errors are hard to pinpoint and CSS choice now is to ask the customer to enable profiling, getting memory dump and engage with very time consuming troubleshooting activities, just to find out it is a customer cod

[2019-08-21 20:30] cleemullins opened #5500 "15s Timeouts and Long Running Operations Guidence"
On a weekly basis, customer report issues around the 15 second timeout. This problem manifests as Exceptions and looks like a timeout.

We need to offer a more robust guidenance around Async / Long-Running operations. This guidenance likley takes the form of:
1. Your bot responds very quickly.
2. Do Needed Processing()
3. Send the result to the user as a Async / Proactive message.

There is guidan

[2019-08-21 22:17] sgellock opened #5501 "Add UserVoice to our milestone planning process"
Once our community engineer starts, I'd like to use UserVoice or something similar to help us engage the community around milestone feature work

[2019-08-21 22:19] sgellock opened #5502 "Generate architecture maps/poster(s) of the Bot Framework for CSS"
To aid CSS in understanding the parts for the Framework, we need to produce one or more architecture maps that outline the architecture of the framework

[2019-08-21 22:22] sgellock opened #5503 "Provide a TSG and supporting docs to show how to profile a bot"
We need docs that developers can use to self-service gathering a profile from a running bot that has performance problems, is being reported as "slow", or has timeouts.  We should make this available in our core docs, but also as one or more TSGs for the support team.

[2019-08-22 00:08] tdurnford commented on #5500
Related to https://github.com/microsoft/BotFramework-DirectLineJS/issues/188#issuecomment-523066754

[2019-08-22 08:11] gfmajchrzak commented on #5497
Agree, the thing is that i could technically change the API, but i cant change the Bot Connector call to the API since is part of the Bot Framework

[2019-08-22 17:01] cleemullins opened #5504 "Instructions for Enabling AppInsights for Bots"
When supporting a bot, the CSS team often has incomplete information.

We need a Doc / Link that does the following:
1. How to enable App Insights in your Bot?
2. How to determine if App Insights is enabled for your bot?

As it sits now, older bots that have updated to the latest SDK's won't have appInsights. Bots that start from a sample won't have this enabled either.

We should consider having

[2019-08-22 17:02] cleemullins commented on #5504
Note: Need Node and C# examples. Python for Extra Credit.

[2019-08-22 17:24] axelsrz commented on #5497
Hello @gfmajchrzak, thank you for submitting the issue. We met with the WAF team about this issue and their recommendation was to move from WAF v2. to WAF 3.x.

The v2 is very strict and is really not design for service-to-service communication, the Accept header would be just the first of several issues that will raise.

[2019-08-22 18:53] scheyal opened #5505 "Create quality gates process to ensure accuracy and completeness of collected metrics"
We need a process to ensure that collected metrics are complete and accurate. For example, VA powerBI only showed stats for a single dialog (still an ongoing issue). Further, do we have any (unit) tests ensuring that all events are reported as expected (I invoked 3 dialogs, and saw 3 events, not 0, not 4) in app insights dashboard.

[2019-08-22 21:53] mdrichardson commented on #5482
@rodrigomoro In addition to Wajeed's request, it if you can send a .har .saz (Fiddler) file, that might help.

[2019-08-22 22:15] mdrichardson commented on #5482
@rodrigomoro 	@Wajeed-msft

I'm not able to repro this consistently when everything is connected. Again, the window *should* auto-close after clicking the "Allow" button:

![image](https://user-images.githubusercontent.com/40401643/63553409-23e5c780-c4ef-11e9-9c28-e0e1ac525d71.png)

The only time I experienced an auto-close and then *not* being logged in was when the `invoke` call would return a 5

[2019-08-23 10:58] mitkodi commented on #4007
I added ```IBotData botData``` to the constructor of ```DbActivityLogger``` and in the ```Load(ContainerBuilder builder)``` of my implementation of ```Autofac.Module``` I register ```DbActivityLogger``` as
[code]

[2019-08-23 11:11] gfmajchrzak commented on #5497
Hi @axelsrz when you say WAF 3.x you mean the Rule set 3.0? or the WAF, currentlly the customer is using WAF v2 with OWASP Ruleset 3.0

Thanks

[2019-08-23 15:56] mdrichardson commented on #5496
@AutomationTeamVA 	Are you on the BotFramework team? If not, are you still having trouble with this?

[2019-08-23 17:39] CoHealer commented on #5449
The fix has not yet been deployed. I've asked the Skype Web Control team for new ETA. Will check back in with them early next week.

[2019-08-23 18:26] axelsrz commented on #5497
We mean the version 3 of WAF, not just the ruleset.

[2019-08-26 12:12] ivikashjha commented on #1413
My Bot run perfectly fine in local machine, but i deploy in azure and test in azure, it behaves weird. Waterfall steps are sometimes not correct, it start from first step anywhere from the middle with correct input as well.

[2019-08-26 12:12] harshithkashyap commented on #5500
Possible solution/workaround up for discussion at https://github.com/microsoft/botbuilder-dotnet/issues/598

[2019-08-26 20:46] lzc850612 opened #5591 "Remove dependency on MultiProviderAuthDialog from SkillDialog"
#### What project is affected?

#### What language is this in?

#### What happens?

We need to remove the dependency on MultiProviderAuthDialog so that developers can pass in whatever AuthDialog implementation they want to use for Auth operations

#### What are the steps to reproduce this issue?

#### What were you expecting to happen?

#### Can you share any logs, error output, etc.?

#### Any sc

[2019-08-27 06:09] sumitshrm4 commented on #5450
When it could be fixed, we need it as soon as possible ?

[2019-08-27 08:15] rodrigomoro commented on #5482
Hi @Wajeed-msft - In my solution, the authentication popup is opened like a new browser tab (see the screenshot I posted 23 days ago showing the Edge browser).

@mdrichardson my solution was built like 4-5 months ago. I have compared the code with the one posted in your samples and is has become quite different because the yours has been evolving. https://github.com/microsoft/BotBuilder-Samples/tr

[2019-08-27 09:52] tlohyk commented on #5482
@CoHealer @mdrichardson  I am having the same problem as well with MS Teams auto closing the browser which contain the Magic Code. This is happening in both MS Teams web and desktop.
No problem when i test on Bot Emulator and Azure Web Chat.

I am using:
Microsoft Teams Version 1.2.00.21068 (64-bit)

Microsoft.Bot.Builder.Dialogs is 4.5.1

[2019-08-27 10:16] gfmajchrzak commented on #5497
Hi @axelsrz,
Sorry but i cant see any WAF v3, or find any documentation about it. Could you provide me some link?

[2019-08-27 10:54] gfmajchrzak commented on #5497
Are you referring to use WAF on Front Door?

[2019-08-27 10:58] radennis opened #5506 "Add parsing ISO 8601 in DateTime formats in Forms"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2019-08-27 13:27] tlohyk commented on #5482
I'll list down some weird scenario I have encountered so far:
Web App Bot - OAuth Connection Settings
- I am using Azure AD v2. For the Tenant ID, if i use the value of my domain (e.g. domain.com) or my tenant id, the sign-in browser will auto-close immediately on MS Teams. If change the value to "common", it will at least show the login.microsoftonline.com signin page and only auto-close when it

[2019-08-27 20:28] Virtual-Josh opened #5507 "asdfa"
asdfa

[2019-08-27 20:28] #5507 closed, assigned to nobody

[2019-08-27 21:24] Virtual-Josh opened #5508 "Tasks - Tasks can be fetched"
- [x] C#
- [ ] JavaScript

https://docs.microsoft.com/en-us/microsoftteams/platform/#pivot=samples-demos-templates

[2019-08-27 21:25] Virtual-Josh opened #5509 "Tasks - Submit action works for adaptive cards (Action.Submit)"
- [x] C#
- [ ] Javascript

[2019-08-27 21:25] Virtual-Josh opened #5510 "Tasks - Submit work for Bot Framework card (Task card)"

[2019-08-27 21:25] Virtual-Josh opened #5511 "Tasks - Custom form from adaptive card payload"
- [ ] C#
- [ ] Javascript

[2019-08-27 21:25] Virtual-Josh opened #5512 "Tasks - Custom form from web view payload"
- [ ] C#
- [ ] Javascript

[2019-08-27 21:25] Virtual-Josh opened #5513 "Tasks - Bot sends card with deeplink"
- [ ] C#
- [ ] Javascript

[2019-08-27 21:25] Virtual-Josh opened #5514 "Extensions Configuration - composeExtension/onquerySettingsUrl"

[2019-08-27 21:26] Virtual-Josh opened #5515 "Extensions Configuration - composeExtension/onSettingsUpdate"
- [ ] C#
- [ ] Javascript

[2019-08-27 21:26] Virtual-Josh opened #5516 "Extension Configuration - composeExtension/setting"
- [ ] C#
- [ ] Javascript

[2019-08-27 21:26] Virtual-Josh opened #5517 "Extension Search - composeExtension/query"
- [ ] C#
- [ ] Javascript

[2019-08-27 21:26] Virtual-Josh opened #5518 "Extension Search - composeExtension/queryLink"
- [ ] C#
- [ ] Javascript

[2019-08-27 21:26] Virtual-Josh opened #5519 "Extension Search - composeExtension/selectItem"
- [ ] C#
- [ ] Javascript

[2019-08-27 21:26] Virtual-Josh opened #5520 "Extension Action - composeExtension/fetchTask"
- [ ] C#
- [ ] Javascript

[2019-08-27 21:26] Virtual-Josh opened #5521 "Extension Action - composeExtension/submitAction (Task module submitted)"
- [ ] C#
- [ ] Javascript

[2019-08-27 21:26] Virtual-Josh opened #5522 "Extension Action - composeExtension/submitAction (value.botMessagePreviewAction == send)"

[2019-08-27 21:26] Virtual-Josh opened #5523 "Extension Action - composeExtension/submitAction (value.botMessagePreviewAction == edit)"
- [ ] C#
- [ ] Javascript

[2019-08-27 21:26] Virtual-Josh opened #5524 "Authentication - OAuth (Oauth card) login card works"
- [ ] C#
- [ ] Javascript

[2019-08-27 21:26] Virtual-Josh opened #5525 "Authentication - OAuth (sign in card) login works"
- [x] C#
- [x] Javascript

[2019-08-27 21:26] Virtual-Josh opened #5526 "Authentication - OAuth prompt works"
- [x] C#
- [x] Javascript

[2019-08-27 21:26] Virtual-Josh opened #5527 "Files & Attachments - Accept file upload via 1:1 bot chat"
- [x] C#
- [ ] Javascript

[2019-08-27 21:27] Virtual-Josh opened #5528 "Files & Attachments - Decline file upload via 1:1 bot chat"
- [x] C#
- [ ] Javascript

[2019-08-27 21:27] Virtual-Josh opened #5529 "Files & Attachments - Download file sent from bot to user"
- [x] C#
- [ ] Javascript

[2019-08-27 21:27] Virtual-Josh opened #5530 "Non Adaptive Card Actions - openURL"
- [x] C#
- [ ] Javascript

[2019-08-27 21:27] Virtual-Josh opened #5531 "Non Adaptive Card Actions - messageBack"
- [x] C#
- [ ] Javascript

[2019-08-27 21:27] Virtual-Josh opened #5532 "Non Adaptive Card Actions - imBack"
- [x] C#
- [ ] Javascript

[2019-08-27 21:27] Virtual-Josh opened #5533 "Non Adaptive Card Actions - invoke (invoke)"
- [ ] C#
- [ ] Javascript

[2019-08-27 21:27] Virtual-Josh opened #5534 "Non Adaptive Card Actions - invoke (Action.Submit)"
- [ ] C#
- [ ] Javascript

[2019-08-27 21:27] Virtual-Josh opened #5535 "Adaptive Card Actions - Action.OpenUrl"
- [x] C#
- [ ] Javascript

[2019-08-27 21:27] Virtual-Josh opened #5536 "Adaptive Card Actions - Action.Submit"
- [x] C#
- [ ] Javascript

[2019-08-27 21:27] Virtual-Josh opened #5537 "Adaptive Card Actions - Action.ShowCard"
- [x] C#
- [ ] Javascript

[2019-08-27 21:27] Virtual-Josh opened #5538 "Conversation Updates - update activity bot has sent"
- [x] C#
- [ ] Javascript

[2019-08-27 21:27] Virtual-Josh opened #5539 "Conversation Updates - delete activity bot has sent"
- [x] C#
- [ ] Javascript

[2019-08-27 21:27] Virtual-Josh opened #5540 "Conversation Updates - Add team member (1:1)"
- [x] C#
- [ ] Javascript

[2019-08-27 21:27] Virtual-Josh opened #5541 "Conversation Updates - add team member (group chat)"
- [x] C#
- [ ] Javascript

[2019-08-27 21:27] Virtual-Josh opened #5542 "Conversation Updates - add team member (team chat)"
- [x] C#
- [ ] Javascript

[2019-08-27 21:28] Virtual-Josh opened #5543 "Conversation Updates - remove team member (group chat)"
- [x] C#
- [ ] Javascript

[2019-08-27 21:28] Virtual-Josh opened #5544 "Conversation Updates - remove team member (team chat)"
- [x] C#
- [ ] Javascript

[2019-08-27 21:28] Virtual-Josh opened #5545 "Conversation Updates - channel deleted (team chat)"
- [x] C#
- [ ] Javascript

[2019-08-27 21:28] Virtual-Josh opened #5546 "Conversation Updates - channel added (team chat)"
- [x]  C#
- [ ] JavaScript

[2019-08-27 21:28] Virtual-Josh opened #5547 "Conversation Updates - channel renamed (team chat)"
- [x] C#
- [ ] Javascript

[2019-08-27 21:28] Virtual-Josh opened #5548 "Conversation Updates - team renamed (team chat)"
- [x] C#
- [ ] Javascript

[2019-08-27 21:28] Virtual-Josh opened #5549 "Message Reaction - Add (1:1 chat)"
- [x] C#
- [ ] JavaScript

[2019-08-27 21:28] Virtual-Josh opened #5550 "Message Reaction - Add (group chat)"
- [x] C#
- [ ] Javascript

[2019-08-27 21:28] Virtual-Josh opened #5551 "Message Reaction - Add (team chat)"
- [x] C#
- [ ] Javascript

[2019-08-27 21:28] Virtual-Josh opened #5552 "Message Reaction - Remove (1:1 chat)"
- [x] C#
- [ ] Javascript

[2019-08-27 21:28] Virtual-Josh opened #5553 "Message Reaction - Remove (group chat)"
- [x] C#
- [ ] Javascript

[2019-08-27 21:28] Virtual-Josh opened #5554 "Message Reaction - Remove (team chat)"
- [x] C#
- [ ] Javascript

[2019-08-27 21:28] Virtual-Josh opened #5555 "Message Reaction - Replace (1:1 chat)"
- [x] C#
- [ ] Javascript

[2019-08-27 21:28] Virtual-Josh opened #5556 "Message Reaction - Replace (group chat)"
- [x] C#
- [ ] Javascript

[2019-08-27 21:28] Virtual-Josh opened #5557 "Conversation Updates - Message reaction replace (team chat)"
- [x] C#
- [ ] Javascript

[2019-08-27 21:29] Virtual-Josh opened #5558 "Messages - Proactive message via 1:1 message"
- [x] C#
- [ ] Javascript

[2019-08-27 21:29] Virtual-Josh opened #5559 "Messages - Proactive message via group chat"
- [x] C#
- [ ] JavaScript

[2019-08-27 21:29] Virtual-Josh opened #5560 "Messages - Proactive message via team chat"
- [x] C#
- [ ] Javascript

[2019-08-27 21:29] Virtual-Josh opened #5561 "Messages - Proactive message to user bot hasn't seen before via the roster"
- [ ] C#
- [ ] Javascript

[2019-08-27 21:29] Virtual-Josh opened #5562 "Messages - User cannot message notification bot in 1:1 chat"
- [ ] C#
- [ ] Javascript

[2019-08-27 21:29] Virtual-Josh opened #5563 "Messages - Notification only bot works in 1:1 chat"
- [ ] C#
- [ ] Javascript

[2019-08-27 21:29] Virtual-Josh opened #5564 "Messages - Notification only bot works in group chat"
- [x] C#
- [ ] Javascript

[2019-08-27 21:29] Virtual-Josh opened #5565 "Messages - Notification only bot works in team chat"
- [x] C#
- [ ] Javascript

[2019-08-27 21:29] Virtual-Josh opened #5566 "Messages - User cannot message notification bot in group chat"
- [x] C#
- [ ] Javascript

[2019-08-27 21:29] Virtual-Josh opened #5567 "Messages - User cannot message notification bot in team chat"
- [x] C#
- [ ] Javascript

[2019-08-27 21:29] Virtual-Josh opened #5568 "Rosters - Get roster in 1:1 chat"
- [ ] C#
- [ ] Javascript

[2019-08-27 21:29] Virtual-Josh opened #5569 "Rosters - Get roster in group chat"
- [x] C#
- [ ] Javascript

[2019-08-27 21:29] Virtual-Josh opened #5570 "Rosters - Get roster in team chat"
- [x] C#
- [ ] Javascript

[2019-08-27 22:12] Virtual-Josh opened #5571 "Sync with John to iron out scenarios/technical paths forward"

[2019-08-27 22:12] Virtual-Josh opened #5572 "Sync with Andrew on clarifying message Extensions"

[2019-08-27 23:28] Virtual-Josh opened #5573 "Can't add bot to group chat or team chat"
I'm currently unable to upload echo bot to the group chat, or team chat scopes via Teams App Studio, or manually sideloading the app. When I try to click the last button to submit it I'm met with an error message saying there was an issue. Can you tell us if this is a bug, or an issue with the manifest?

Here's a copy of the echo bot project.
[echo bot.zip](https://github.com/microsoft/botframewor

[2019-08-28 10:13] tlohyk commented on #5482
Hi @mdrichardson

Yes, my code is based on the Teams Auth Sample.
Below is my repo, for troubleshooting.
https://github.com/tlohyk/teamsbot

Thank you.

[2019-08-28 12:25] sumitshrm4 commented on #5450
@cleemullins @mdrichardson  Yes, generally this a low priority issue, but in our case we don't create any db tables manually, we have so many different instance running (and pending for deployment in some ), so team just run the applications and it creates the tables/collections automatically. However, we can delete and manually create it, I agree ! But our applications is live and around 10k user

[2019-08-28 12:30] sumitshrm4 commented on #5450
@mdrichardson @cleemullins And In our case, we need partition key to be realId as you mentioned. Because we have lots of traffic, so a fixed partition ( 10 GB ) could be filled in a week.

[2019-08-28 14:43] sumitshrm4 commented on #5450
@mdrichardson @cleemullins
Also, is it possible to have set TTL (time to live) with Partition key ?

[2019-08-28 19:54] #5573 closed, assigned to Virtual-Josh

[2019-08-28 21:44] Virtual-Josh commented on #5557
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/MessageReaction

[2019-08-28 21:45] Virtual-Josh commented on #5556
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/MessageReaction

[2019-08-28 21:45] Virtual-Josh commented on #5555
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/MessageReaction

[2019-08-28 21:45] Virtual-Josh commented on #5554
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/MessageReaction

[2019-08-28 21:45] Virtual-Josh commented on #5553
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/MessageReaction

[2019-08-28 21:45] Virtual-Josh commented on #5552
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/MessageReaction

[2019-08-28 21:45] Virtual-Josh commented on #5551
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/MessageReaction

[2019-08-28 21:45] Virtual-Josh commented on #5550
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/MessageReaction

[2019-08-28 21:46] Virtual-Josh commented on #5549
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/MessageReaction

[2019-08-28 23:26] Virtual-Josh commented on #5544
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/AddingRemovingMembersUpdates

[2019-08-28 23:26] Virtual-Josh commented on #5543
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/AddingRemovingMembersUpdates

[2019-08-28 23:26] Virtual-Josh commented on #5541
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/AddingRemovingMembersUpdates

[2019-08-29 02:38] Frankcstw opened #5574 "MS ChatBot channel for MS Teams not working"
I have created bot and test on web chat and Line APP, two of channels are working.
MS Teams channel have been setup in Azure Bot channel.
But seems in MS Teams cannot typing directly and Bot icon have disabled status.
The Bot can respond but cannot typing directly.
![Snap17_](https://user-images.githubusercontent.com/54651860/63905920-699f1480-ca48-11e9-8c51-9e050a98665f.jpg)
The message:"Sending

[2019-08-29 02:50] tlohyk commented on #5482
Hi @mdrichardson you're right. I have commented the line of code as you have suggested and it is working fine now.
Thanks for the help.

[2019-08-29 05:00] mutanttech commented on #4608
@stevkan I am developing a bot using BF v4 and C#/.Net Core.
Can you please point me how to get the similiar behaviour in C#. Timers approach and its management is not something I am real fan of. Please comment.

[2019-08-29 08:09] gfmajchrzak commented on #5497
Hi Guys, I been looking an d still cant see a way to fix this without a change in the bot connector code. In my scenario, I have a WAF with multiple apps behind, the waf is a "WAF 3" which mean WAF v2 with OWASP rules 3.0.
I cant use the exclusion list because i will open vulnerabilities on the other apps, i can disable the rule because of the same. Even if a disable this rules, new exception star

[2019-08-29 09:39] naga245 commented on #5449
@CoHealer,

issue fixed after migrate from V1 API to V2 API.

[2019-08-29 17:30] mdrichardson commented on #5574
@Frankcstw 	[Your Office 365 Admin must enable sideloading/uploading apps.](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/apps/apps-upload#load-your-package-into-teams)

[2019-08-29 17:38] CoHealer commented on #5449
Sounds good @naga245, thanks for letting us know

[2019-08-29 17:38] #5449 closed

[2019-08-29 18:53] Virtual-Josh commented on #5548
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/TeamUpdates

[2019-08-29 18:53] Virtual-Josh commented on #5547
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/TeamUpdates

[2019-08-29 18:54] Virtual-Josh commented on #5546
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/TeamUpdates

[2019-08-29 18:54] Virtual-Josh commented on #5545
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/TeamUpdates

[2019-08-29 18:56] Virtual-Josh commented on #5529
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/FileUpload

[2019-08-29 18:56] Virtual-Josh commented on #5528
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/FileUpload

[2019-08-29 18:56] Virtual-Josh commented on #5527
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/FileUpload

[2019-08-29 19:53] lzc850612 opened #5586 "Refactor Microsoft.Bot.Builder.Skills library"
#### Is your feature request related to a problem? Please describe.

This item is to track a series of work to refactor the current Microsoft.Bot.Builder.Skills library to better match the design principals of the BotBuilder SDK

- [x] Apply SDK Roslyn Analyzers and rulesets
- [x] Apply SDK editorconfig to the solution
- [x] Move VA specific code and classes that will be out of scope for the SDK i

[2019-08-29 21:41] axelsrz commented on #5497
Hi @gfmajchrzak, per talk with @sgellock we believe that this issue should be talked wit the WAF team, as we do not have further recommendations.

[2019-08-29 22:54] EricDahlvang commented on #5525
Sign in card works as expected. (OAuthPrompt uses Sign in Card)

https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/46.teams-auth-Expanded

[2019-08-29 22:55] EricDahlvang commented on #5524
OAuthCard does NOT work.  In fact, the OAuthPrompt uses a SignIn card when on Teams: https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPrompt.cs#L421  (this is currently an open question to the Teams team)

https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/46.teams-auth-Exp

[2019-08-30 13:42] sumitshrm4 commented on #5450
@mdrichardson As you suggested, I have added parttionKey in CosmosDbStorageOptions and in DocumentCollectionRequestOptions for read/write and delete. However, it is still have problem while wither reading or writing. My version is Microsoft.Azure.DocumentDB.Core is 2.4.0   here it the sample -

`IStorage dataStore = new CosmosDbStorage(new CosmosDbStorageOptions
            {
                AuthK

[2019-08-30 14:28] SathishNeel commented on #5473
@OBrien1510 , we are facing similar situation . can you please elaborate your finding with example.

[2019-08-30 14:53] mdrichardson commented on #5450
@sumitshrm4 With the current BotFramework SDK, you can't set your `PartitionKey` to just anything. Please follow the ["Temporary Workaround" heading here](https://github.com/microsoft/botframework-sdk/issues/5467#issue-469385575)

[2019-08-30 17:12] EricDahlvang commented on #5549
[code]

[2019-08-30 17:13] EricDahlvang commented on #5552
[code]

[2019-08-30 18:20] EricDahlvang commented on #5525
JS sample using OAuthPrompt (which uses Sign In Card internally, when on Teams):

https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/46.teams-auth

[2019-08-30 18:47] Virtual-Josh commented on #5570
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/Roster

[2019-08-30 18:47] Virtual-Josh commented on #5568
Invalid scenario.

[2019-08-30 18:47] #5568 closed

[2019-08-30 20:09] Virtual-Josh commented on #5569
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/Roster

[2019-08-30 20:13] Virtual-Josh commented on #5540
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/TeamUpdates

[2019-09-01 12:28] iMicknl commented on #5524
@EricDahlvang this is different behaviour compared to the Javascript SDK. `channelSupportsOAuthCard` does list `msteams`. https://github.com/microsoft/botbuilder-js/blob/6e41343a1bc57a26461947c9462117a636aa718a/libraries/botbuilder-dialogs/src/prompts/oauthPrompt.ts#L318

[2019-09-01 15:54] EricDahlvang commented on #5524
Hi @iMicknl

channelSupportsOAuthCard is returning false for teams:

https://github.com/microsoft/botbuilder-js/blob/6e41343a1bc57a26461947c9462117a636aa718a/libraries/botbuilder-dialogs/src/prompts/oauthPrompt.ts#L322

I've been waiting to talk with @Jeffders who  i think originally enabled OAuthPrompt on teams by adding the SignInCard. I have not been able to get OAuthCard to work.

[2019-09-02 14:44] mdrichardson commented on #5482
@rodrigomoro 	Have you had a chance to adjust your code or try [Sample 46](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/46.teams-auth)? This issue will be closed if it doesn't stay active.

[2019-09-02 14:45] mdrichardson commented on #5496
@AutomationTeamVA 	Do you still require assistance with this? This issue will need to be closed if it doesn't stay active.

[2019-09-02 19:59] mdrichardson commented on #5574
@Frankcstw 	Were you able to get this working after having your admin enable sideloading/uploading?

[2019-09-03 01:12] Frankcstw commented on #5574
@mdrichardson Our MS Teams admin have looking on it, but seems the item cannot not turn on MS Teams manage page. I still waiting for my MS Teams admin if our team can provide more information.

[2019-09-03 07:12] EricDahlvang commented on #5508
Apparently Teams does not like how HttpHelper.WriteResponse is creating the Content:

[code]

Eventually got it to work with:

[code]

See hack here: [TeamsBot.cs#L60](https://github.com/microsoft/BotBuilder-Samples/blob/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/TaskModule_NetFramework/Microsoft.Teams.Samples.TaskModule.Web/Bots/TeamsBot.cs#L60)

A similar issues exists with Mic

[2019-09-03 07:16] EricDahlvang commented on #5509
C# scenario example:

[OnTaskModuleSubmitAsync](https://github.com/microsoft/BotBuilder-Samples/blob/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/TaskModule_NetFramework/Microsoft.Teams.Samples.TaskModule.Web/Bots/TeamsBot.cs#L78)

[2019-09-03 07:22] EricDahlvang commented on #5513
C# Adaptive Card scenario example:

https://github.com/microsoft/BotBuilder-Samples/blob/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/TaskModule_NetFramework/Microsoft.Teams.Samples.TaskModule.Web/Bots/TeamsBot.cs#L133

C# Thumnail Card scenario example:

https://github.com/microsoft/BotBuilder-Samples/blob/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/TaskModule_Net

[2019-09-03 07:25] EricDahlvang commented on #5510
C# scenario example:

[OnTaskModuleSubmitAsync](https://github.com/microsoft/BotBuilder-Samples/blob/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/TaskModule_NetFramework/Microsoft.Teams.Samples.TaskModule.Web/Bots/TeamsBot.cs#L78)

[2019-09-03 16:16] mdrichardson commented on #5574
@Frankcstw 	Understood. You may find these helpful:

* [Manage org-wide app settings](https://docs.microsoft.com/en-us/microsoftteams/teams-app-permission-policies#manage-org-wide-app-settings)
* [Admin settings for apps in Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/admin-settings)
* [Can I use app permission policies to restrict uploading custom apps (also known as sideloadi

[2019-09-03 17:12] EricDahlvang commented on #5508
Got passed the serialization issue with @johnataylor 's help.

[code]
was serializing enums as strings:
[code]

 while HttpHelper.WriteResponse is serializing enums as int (see "type":1):

[code]

Adding [JsonConverter(typeof(StringEnumConverter))] to TaskType for TeamsTask resolved the issue:

[code]

[2019-09-04 06:18] xieofxie opened #5577 "Customize telemetry"
#### Is your feature request related to a problem? Please describe.

In TelemetryLoggerMiddleware, attachments are not logged.

In IBotTelemetryClient.TrackException, related activity is not logged.

#### What is the solution you are looking for?

Extend TelemetryLoggerMiddleware: when attachments are jsons for adaptive card, save id if exists.

Create properties like ones in TelemetryLoggerMiddle

[2019-09-04 06:21] Frankcstw commented on #5574
@mdrichardson Thanks for share those information. Those URL have been provide to our MS Teams admin but still cannot solve the issue.

[2019-09-04 11:07] ivikashjha commented on #1413
**Stack Over Flow**: Sorry, we are no longer accepting questions from this account.

[2019-09-04 11:11] ivikashjha opened #5575 "New Line operator not working for channel Teams."
I had choice prompt button issue i used Hero Card and its working fine, but I have some text message to display that contain new line, new line operator \n not working.
I am not sure if Team supports \n if not what is the alternative. I tried using Pre Text did not worked.

[2019-09-04 15:09] mdrichardson commented on #5574
@Frankcstw 	I'm sorry that we weren't able to resolve this issue on our end. As this is a problem with Teams/Office365 and *not* the Bot Framework, I'm going to close this issue here. If you still have trouble connecting to your bot after enabling sideloading, feel free to open another issue.

[2019-09-04 15:09] #5574 closed

[2019-09-04 17:30] mdrichardson commented on #5496
Closing due to lack of activity

[2019-09-04 17:30] #5496 closed

[2019-09-04 18:28] v-kydela commented on #5575
Hi @ivikashjha

Teams uses a Markdown parser. To add a new line in Markdown, just add two spaces to the end of the line before the break.

[code]

Does this resolve your issue?

[2019-09-04 18:29] DevSharkOne opened #5576 "Error: POST to 'https://facebook.botframework.com/v3/conversations/283300000-2584000000/activities/isdfsdfDUde7fZyH6iW_xn7BbA' failed: [503] Service Unavailableat Request._callback"
## Issue

Try to request https://facebook.botframework.com/v3/conversations
fire the error:
Error: POST to 'https://facebook.botframework.com/v3/conversations/283300000-2584000000/activities/isdfsdfDUde7fZyH6iW_xn7BbA' failed: [503] Service Unavailableat Request._callback

Please help!

[2019-09-04 20:05] Virtual-Josh commented on #5561
Non-scenario. Accomplished by combining get roster and proactive 1:1 message

[2019-09-04 20:05] #5561 closed

[2019-09-04 20:11] Virtual-Josh commented on #5559
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/ProactiveMessages

[2019-09-04 20:11] Virtual-Josh commented on #5558
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/ProactiveMessages

[2019-09-04 20:11] Virtual-Josh commented on #5560
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/ProactiveMessages

[2019-09-04 20:51] Virtual-Josh commented on #5563
Non-scenario, notification not scoped for 1:1 chat

[2019-09-04 20:51] #5563 closed

[2019-09-04 20:51] Virtual-Josh commented on #5562
Non-scenario. notification bots not scoped for 1:1 chat

[2019-09-04 20:51] #5562 closed

[2019-09-04 20:51] Virtual-Josh commented on #5564
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/NotificationOnly

[2019-09-04 20:52] Virtual-Josh commented on #5565
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/NotificationOnly

[2019-09-04 20:52] Virtual-Josh commented on #5567
Open question to Andrew about Teams UI interactions

[2019-09-04 20:53] Virtual-Josh commented on #5566
Andrew has filed bug on Teams side to resolve

[2019-09-04 20:53] Virtual-Josh commented on #5567
Andrew has filed a bug on Teams to resolve

[2019-09-04 21:42] #5525 closed

[2019-09-04 21:42] #5526 closed

[2019-09-04 22:57] Virtual-Josh commented on #5539
C# - https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/Activity%20Update

[2019-09-05 00:27] Virtual-Josh commented on #5524
Note: Need to confirm with Andrew that this work is out of scope and we can close this ticket out.

[2019-09-05 00:56] EricDahlvang commented on #5537
https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/TeamsCardActions

[2019-09-05 00:57] EricDahlvang commented on #5536
https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/TeamsCardActions

[2019-09-05 01:00] EricDahlvang commented on #5532
https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/TeamsCardActions

[2019-09-05 01:00] EricDahlvang commented on #5531
https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/TeamsCardActions

[2019-09-05 01:00] EricDahlvang commented on #5530
https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/TeamsCardActions

[2019-09-05 01:57] #5572 closed

[2019-09-05 01:57] #5571 closed

[2019-09-05 03:27] xieofxie opened #5578 "Provide some exception flag in Telemetry"
#### Is your feature request related to a problem? Please describe.

Even if IBotTelemetryClient.TrackException could associate exception with related activity, sometimes the exception is caught within the bot so OnTurnError is not called and one may still want to flag it as an exception for further analysis.

Related #5577

#### What is the solution you are looking for?

Add a new ActivityTypes.

[2019-09-05 15:47] mdrichardson commented on #5482
Closing due to lack of activity.

@rodrigomoro 	If you still have this issue, please try [Sample 46](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/46.teams-auth). If that works, it's something wrong with your bot code, in which case, post on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) with your code, preferably a link to your repo.

[2019-09-05 15:47] #5482 closed

[2019-09-05 17:39] mdrichardson commented on #5576
@DevSharkOne

How are you making the request? Something like Postman?

Can you provide:

* AppId
* ConversationId (is the one above legit, or obfuscated?)

A 503 means the Activity never gets to the Bot controller but instead the request is rejected by the host platform (nothing in the Bot Builder SDK returns 503 errors).

So it looks like an issue with the hosting platform running the bot. On Azu

[2019-09-05 17:46] EricDahlvang commented on #5378
Upgrade to 1.2.6 with SuppressExtendedTypes in dotnet sdk has been merged https://github.com/microsoft/botbuilder-dotnet/pull/2448

[2019-09-05 18:10] DevSharkOne commented on #5576
@mdrichardson
The request was made from the bot, the error was found in the logfile.
The AppId and ConversationId was change in the title it is not the real data

The bot is hosted in an Azure App Service and exposed through bot channel registration.

The issue began on 1st september and yesterday at night was resolved without any action from us, so what you are commenting about that it may be ass

[2019-09-05 18:13] mdrichardson commented on #5576
I see. If you'd like, I can look into it a bit more. Could've been a service outage. If so, please provide the `appId` and I will track it down.

[2019-09-05 18:14] DevSharkOne commented on #5576
@mdrichardson
Is there any secure way to share you the AppId?

[2019-09-05 18:15] mdrichardson commented on #5576
@DevSharkOne

Sure. Send to vDASHmicricATmicrosoftDOTcom (replace all-caps with appropriate character)

[2019-09-05 18:22] EricDahlvang commented on #5535
https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/TeamsCardActions

[2019-09-05 18:22] DevSharkOne commented on #5576
@mdrichardson
I have sent the app id to your inbox.
Thank you very much for follow up.

[2019-09-05 18:40] ygizhitsa opened #5579 "Latest emulator could not connect to a local bot"
TO reproduce
- Create new V4 bot project from Echo or Core template
- start bot locally
- start Emulator
- connect to bot
 - for echo bot type and send a message

Other info
- ngrok is configured and bypass for local checkbox checked
- postman post reaching controller

[14:33:41]Emulator listening on http://localhost:57870
[14:33:41]ngrok not configured (only needed when connecting to remotely hos

[2019-09-05 20:04] mdrichardson commented on #5576
@DevSharkOne

It appears that the Botframework's Facebook channel server you connect to experienced high CPU on a few of its instances at the same times that I was able to see your 400- and 500-level errors.

Over the last month, that particular server has had > 99.99% availability. I think you were just unfortunate to catch the 0.01%. I wouldn't expect this to be a recurring issue.

[2019-09-05 20:27] DevSharkOne commented on #5576
@mdrichardson
I really appreciate your effort to research the reason that was behind the botframework behavior.
Thank you very much.

[2019-09-05 20:28] #5576 closed

[2019-09-05 20:29] mdrichardson commented on #5576
No problem. Happy to help!

[2019-09-05 22:03] tdurnford commented on #5579
Closing as this is a duplicate of https://github.com/microsoft/BotFramework-Emulator/issues/1837

[2019-09-05 22:03] #5579 closed

[2019-09-05 22:29] stevengum commented on #5515
This may not be a scenario; @clearab to investigate.

I haven't encountered this event in my scenario of configuring a search-based messaging extension.

[2019-09-05 22:31] stevengum commented on #5516
This activity is sent to the bot in response to the user's actions taken on the web page rendered from the composeExtension/onquerySettingsUrl activity (#5514)

[2019-09-05 22:44] clearab commented on #5515
I agree, this appears to be purely a documentation issue on the Teams side.

[2019-09-06 07:01] Tush-r opened #5580 "QnAMakerOptions interface is missing properties"
## Issue
`QnAMakerOptions` interface is missing certain properties like, `RankerType` and `isTest`.

These properties/ parameters are mentioned here:
* https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/concepts/best-practices#searching-for-answers
* https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/metadata-generateanswer-usage#match-questions-only-by-text

[2019-09-06 12:49] gfmajchrzak commented on #5497
Hi@axelsrz we have manage to create exclusion for false positives for SQL, but this there's 1 issue that i think needs collaboration between WAF and Bot teams:

[code]

[2019-09-06 16:35] EricDahlvang commented on #5524
Closing this, as @Jeffders has confirmed Teams does not support OAuthCard.

[2019-09-06 16:35] #5524 closed

[2019-09-06 17:05] gabog opened #5581 "General Skills package refactoring"
This is a list of things that we need to do to make it easier to merge the Skills package into the SDK:

- [x] Apply SDK Roslyn Analyzers and rulesets
- [x] Apply SDK editorconfig to the solution
- [ ] Remove dependencies from the Solutions project (currently the Skills project depends on Solutions, it should be the other way around)
- [ ] Move VA specific code and classes that will be out of scop

[2019-09-06 17:11] gabog opened #5582 "Implement Skill Validation Prototypes"
This task involves creating working prototypes that validate that the skills functionality works as expected.

These prototypes can be published to the Experimental folder in the Samples repo once they are completed.

Key prototypes

### Simple Echo bot

Scenario https://github.com/microsoft/botframework-sdk/projects/13#card-26118546

Implement a SimpleRootBot that invokes a remote skill. The Simp

[2019-09-06 17:15] gabog opened #5583 "Sample SkillDialog"
This sample should show how to create SkillDialog that can use the SkillConnector to invoke a remote skills.
- Probably should inherit from Dialog rather than ComponentDialog
- It should be possible to make SkillDialog a singleton in Startup
- [ ] move AuthDialog and IntentSwitchDialog handling to higher layer above

[2019-09-06 17:16] gabog opened #5584 "Implement remote skill invocation components"
The skill invocation components should allow a bot to call skills defined in another bot.

- They should be independent from a dialog class
- They should be able to to pass down an action and parameters to the skill (as part of the activity) and be able to receive a return value from the skill (in the value property of activity)
- It should be possible to wrap these components in a SkillDialog so

[2019-09-06 17:20] zxyanliu opened #5585 "Broken link in Bot Framework -- Activity file"
## Issue
*In [Bot Framework -- Activity](https://github.com/Microsoft/botframework-sdk/blob/master/specs/botframework-activity/botframework-activity.md) file* , the [Bot Framework Protocol](https://github.com/microsoft/botframework-sdk/blob/master/specs/botframework-protocol/botframework-protocol.md) link is broken.

![image](https://user-images.githubusercontent.com/32497439/64447210-afcf2600-d08

[2019-09-06 17:27] cleemullins commented on #5580
@trojenguri, could you take a look at this question from @Tush-r and let them know why this is and if we've got any plans to address?

[2019-09-06 17:40] gabog commented on #5581
merged into https://github.com/microsoft/botframework-sdk/issues/5586. Closing this one.

[2019-09-06 17:40] #5581 closed

[2019-09-06 17:44] cleemullins commented on #5585
I can't find that Markdown file. I've assigned this to @Kaiqb who runs our documentation team.

[2019-09-06 18:51] zxyanliu commented on #5585
Hi @cleemullins

Thanks for your reply.

That Markdown file is here:
[botframework-sdk/specs/botframework-activity/botframework-activity.md](https://github.com/microsoft/botframework-sdk)

We think the [Bot Framework Protocol](https://github.com/microsoft/botframework-sdk/tree/master/specs/botframework-protocol) link points to
https://github.com/microsoft/botframework-sdk/tree/master/specs/botfram

[2019-09-06 21:52] Kaiqb commented on #5363
@gabog - Python is not going to GA in 4.6. Removing the 4.6 tag.

[2019-09-06 21:56] Kaiqb commented on #5585
@Cleemullins - this content is in the repo that Dan's team manages.

[2019-09-07 00:26] cleemullins commented on #5438
@scheyal - Can you please add significant detail in the form of requirements / scenarios to this issue?

As it sits, it's hard to figure out how to defined success.

[2019-09-07 04:14] dandriscoll commented on #5585
@Kaiqb this spec is not complete/finished, can you remove it from the docs here?

[2019-09-08 14:10] laxmanj8666 commented on #1955
Error in Bot service with message ******* POST to 'https://smba.trafficmanager.net/amer/v3/conversations/a%3A1taZNBMcuPHBqvkmOy9FgPv4Q1vO_3SuKdONKI90861H421bCoVhHGNBegQiH4mufNoljJ5FNWyIArZSCygghZE-ZPjnF5ElIqrUIsBAZDClAi4_nYyYKwlp5wUdAR7_9/activities/1567951571075' failed: [400] Bad Request******* stackTrace ******* Error: POST to 'https://smba.trafficmanager.net/amer/v3/conversations/a%3A1taZNBMcu

[2019-09-09 00:34] carlosscastro commented on #1955
Hi @laxmanj8666 - I'd suggest you first file a new issue with your problem. That way, it will be triaged promptly and looked into.

In your issue, please include more information than in this message. SDK language? SDK version you are using? How exactly do you reproduce the issue? What channel? If we can reproduce the issue ourselves itwill be much easier to help you.

Also, did you deploy somethi

[2019-09-09 08:41] trojenguri commented on #5580
For Bot SDK, we thought of allowing only to Production endpoint. So, we didn't gave "isTest" flag.
And "RankerType" is the new field that we added. We will add this support later.

[2019-09-09 14:14] simon-tannai opened #5587 "SDK Node.js & Docker: ECONNREFUSED 127.0.0.1:51024"
Hello !

I'm trying to push a bot built with Node.js Botframework SDK v4.
The bot is starting up and when I'm sending a first message with Bot Framework SDK, I get this error: `ECONNREFUSED 127.0.0.1:51024`

The stack:
[code]

What is this `51024` port ?

[2019-09-09 14:48] tsuwandy commented on #5580
@trojenguri, when will the new properties be available for use?  Please update, thanks!

[2019-09-09 15:07] gabog opened #5588 "Port C# Skills SDK to TS, Python and Java"
The C# Skills SDK needs to be ported
- [ ] JavaScript
- [ ] Python
- [ ] Java

Note, there is partial work done for JS in the VA branch, some of this code can be refactored based on the C# version. Python and Java would be brand new so they may take longer.

[2019-09-09 15:11] gabog opened #5589 "Extend v3 SDK to support Skills"
It should be simple to update a v3 SDK bot to become a skill. This issue involves developing the v3 extensions that would enable a dev to convert a v3 bot into a skill and a sample implementation that shows how to do that.

## Tracking Status
**Dotnet SDK** (Tracked in [3315](https://github.com/microsoft/botbuilder-dotnet/issues/3315))
- [x] PR
- [x] Merged

**Javascript SDK** [1641](https://githu

[2019-09-09 15:15] gabog opened #5590 "Implement Parent bot to Skill service to service authentication"
This task involves extending the current authentication and token management capabilities to allow parent bots to communicate back and forth with skills using authentication tokens.

The new authentication capabilities should:

- Support v1 and v2 tokens
- Pass in the calling bot ID in the appid or azp claim and AppId in the aud claim.

Here is a v1 sample on the claims sent from a Parent Bot with

[2019-09-09 15:40] gabog opened #5592 "Define skills 2.1 manifest schema"
A skill should expose its contract and supported parameters so it can be consumed and added to a parent bot.

It should handle versioning (for the manifest format and for the skill itself)

It should describe return values from the skill.

A skill can optionally expose an endpoint that returns a manifest defining the contract to invoke the skill.

Here is an example of the manifest currently expos

[2019-09-09 15:49] EricDahlvang commented on #5508
https://github.com/microsoft/BotBuilder-Samples/blob/teams-samples/experimental/teams/csharp-dotnetcore/Scenarios/TasksModule_NetCore/TeamsTasksBot/Bots/TasksBot.cs#L57

[2019-09-09 15:55] gabog opened #5593 "Validate WebSockets connectivity Support for Python"
Before fully implementing a SkillConnector based on WebSockets, we need to validate that is possible to use WebSockets from Python.

[This article](https://www.fullstackpython.com/websockets.html) mentioned several libraries that can be used on the client and server side.

This task involves creating a proof of concept that will validate that we will not be blocked when trying to create or consume

[2019-09-09 16:00] #5585 closed

[2019-09-09 16:17] gabog opened #5594 "Support for proactive messages initiated by a skill"
A skill should be able to proactively send a message to the Parent Bot.

Example, a user asks the skill to notify her as soon as a email from John Joe arrives. The skill should be able to send a proactive message to the Parent Bot when the event occurs and (optionally) the user should be able to start a conversation with the skill (if the scenario requires it)

[2019-09-09 17:21] gabog opened #5595 "Implement Parent <-> Skill sample bot"
This sample will showcase how to to implement a Parent bot can can invoke a remote skill using the skills framework.

**Implementation notes**
We will use the current VA generated Parent and Skill bots as a starting point. Some changes that will need to addressed are:

- Ensure async operations receive and pass cancellation tokens
- Derive from ActivityHandler rather than using IBot directly
Dialo

[2019-09-09 17:32] gabog opened #5596 "Implement Slot protocol"
A Parent Bot should be able to pass parameters to a Skill (e.g.: user's timezone, preferred locale, etc.)

This information should be transferred and mapped to the skills state in a way that it can be accessed.

The VA provides a mechanism based on user state and slots, we can use this as a starting point and and refactor it to be independent of SkillDialog.

[2019-09-09 17:34] mdrichardson commented on #5587
@simon-tannai 	Looks like your bot is trying to start listening at `127.0.0.1:51024` but the port is probably in use by something else.

Can you provide steps to reproduce? That's not the standard Bot Framework port number (`:3978`).

As you're running this in docker, you may need to expose the port when starting the container with something like:

[code]

[2019-09-09 17:35] gabog opened #5597 "Packaging and cleanup before removing preview label"
This issue contains a list of activities related to cleaning up the code in preparation for merging it with master.

- [ ] Review interfaces and replace them by abstract classes where needed. Interfaces are harder to version and patch without introducing breaking changes.
Review existing interfaces before committing to master.
- [ ] Ensure all files have (c) headers
- [ ] Create nuget packages and

[2019-09-09 17:42] gabog opened #5598 "Implement tool to register skill in parent bot"
This BFCLI tool will be able to read a Skill manifest and update the Parent bot configuration as follows:

- Update the parent's bot Dispatch model with the LUIS models supported by the skill.
- Update the parent bot configuration so it can dynamically identify what skill to call (URL, auth, slots) based on the user's utterance.

[2019-09-09 17:47] gabog opened #5599 "Implement mechanism to share OAuth tokens between parent bot and the skill"
TODO: need to flesh out the requirements for this. VA has a mechanism in place to handle this but we need to review it and see if we want to refactor it.

[2019-09-09 18:12] tsuwandy commented on #5587
@simon-tannai, thanks for reporting.  Are you seeing this in the Emulator?   Could you hit the bot endpoint directly via postman?  We'll also get someone from Support team to help.

[2019-09-09 18:54] scheyal opened #5600 "Cosmos DB returns 429: Investigate SDK DB writes related to reported incident."
Tracking Issue:

From: Hristina Popova <hristp@microsoft.com>
...
The new Cosmos DB 429s is this: 141235138: CSS [119082122000486] - Mismatch in Metrics. It looks like the SDK is writing Cosmos DB metrics of a type that’s getting throttled. (see email for more details).

[2019-09-09 19:42] darrenj commented on #5598
https://github.com/microsoft/botframework-solutions/tree/master/tools/botskills

[2019-09-09 19:54] scheyal commented on #5600
Latest (sounds like may be ok to close if tracked elsewhere):

Dave and Emilio have a fix; I’m asking support whether the customer is looking for the fix, or just trying to understand why the data didn’t show up.

I don’t think there’s anything to do at the moment.

Thanks,
Hristina

[2019-09-09 19:54] gabog opened #5601 "Create a samples that shows PVA integration with skills"
TODO: Need to work on the requirements for this
How we build it?
How we test it?
Check with Darren to see if we have something already we can leverage.

**Implementation notes**
This sample has some pointers on the integration: https://github.com/microsoft/botframework-solutions/tree/darrenj/lightweightskillinvocation/samples/LightweightSkillInvocation

[2019-09-09 23:53] v-kydela commented on #5575
@ivikashjha - I need to close this issue due to inactivity. If you need more help, please ask how-to questions on [Stack Overflow](https://stackoverflow.com/).

[2019-09-09 23:53] #5575 closed

[2019-09-10 01:07] sgellock commented on #5497
Hi @gfmajchrzak, my team really doesn't have experience with WAF.  We're willing to help if we can.  Given your last message, what help are you asking for?

[2019-09-10 01:07] #5497 closed

[2019-09-10 07:54] trojenguri commented on #5580
ETA would be by end of Oct. In next release of SDK.

[2019-09-10 08:14] simon-tannai commented on #5587
@mdrichardson I'm using Dockerfile and Docker Compose. My bot is listening on port `3978`.

Dockerfile:
[code]

Docker compose:
[code]

From Postman, a simple POST request on `http://127.0.0.1:3978/api/messages` is working.

But through Bot Framework Emulator, it still not working. The port changed for `http://localhost:50073`. It seems the bot tried to reply to the Emulator on localhost. His requ

[2019-09-10 15:02] dandriscoll commented on #5599
We have an architectural discussion happening about roles and responsibilities in this part of the system. @darrenj is involved

[2019-09-10 20:56] mdrichardson commented on #5467
@johnataylor I updated this above:

And I believe this might be the easiest quick-fix to implement. If we create the database and/or collection/container, we'd just need to use `/id` instead of `this.partitionKey`. For READ/DELETE, we just use the `realId` instead of `this.partitionKey`. If we only do this on db/collection creation, that shouldn't break backwards-compatibility.

[2019-09-10 22:09] mdrichardson commented on #5587
I think I understand. Are you saying that your requests are going like this:

[code]

When instead, you want this:

[code]

I'm having a little trouble understanding what's happening vs. what's expected.

If I have this right, I don't believe you have an option other than to use ngrok. What's really happening is that messages get routed through Directline (a cloud service) and the urls for both Em

[2019-09-11 08:12] simon-tannai opened #5602 "Waterfall with NLU on each steps"
Hello !

I tried to implement a simple booking chatbot to test LUIS.ai and Node.js Botframework SDK.
There is something which is not very clear for me: when a user sentence match with an intente which implement a `Waterfall` Dialog, each steps of this dialog will not go back to the NLU to extract entities ?

For example, I have a `BookingDialog`, implementing a `Waterfall`.
User say _"I would like

[2019-09-11 13:10] gabog opened #5603 "Update Skills to use SDK Streaming Extensions adapter"
Skills is currently using its own version for websockets communications. This tasks involves replacing the existing WS code with the SDK streaming extensions.

As part of this activity we will work with the streaming extensions team to address any gaps uncovered during the integration.

[2019-09-11 16:19] jwiley84 commented on #5602
Hi @simon-tannai! This would be a 'how-to' question, and the Bot Framework teams would prefer if how-to questions are asked on Stack Overflow. As you've opened this same question [there](https://stackoverflow.com/questions/57887264/botframework-v4-waterfall-luis-ai), I'm going to go ahead and close this one.

[2019-09-11 16:19] #5602 closed

[2019-09-11 21:33] #5539 closed

[2019-09-11 21:33] #5541 closed

[2019-09-11 21:33] #5540 closed

[2019-09-11 21:33] #5569 closed

[2019-09-11 21:33] #5542 closed

[2019-09-11 21:33] #5543 closed

[2019-09-11 21:33] #5529 closed

[2019-09-11 21:33] #5527 closed

[2019-09-11 21:33] #5528 closed

[2019-09-11 21:33] #5544 closed

[2019-09-11 21:33] #5549 closed

[2019-09-11 21:33] #5550 closed

[2019-09-11 21:34] #5551 closed

[2019-09-11 21:34] #5552 closed

[2019-09-11 21:34] #5553 closed

[2019-09-11 21:34] #5554 closed

[2019-09-11 21:34] #5555 closed

[2019-09-11 21:34] #5556 closed

[2019-09-11 21:34] #5546 closed

[2019-09-11 21:34] #5545 closed

[2019-09-11 21:34] #5547 closed

[2019-09-11 21:34] #5558 closed

[2019-09-11 21:34] #5559 closed

[2019-09-11 21:34] #5560 closed

[2019-09-11 21:34] #5564 closed

[2019-09-11 21:34] #5565 closed

[2019-09-11 21:34] #5566 closed

[2019-09-11 21:34] #5567 closed

[2019-09-11 21:34] #5570 closed

[2019-09-11 21:34] #5548 closed

[2019-09-11 21:34] #5557 closed

[2019-09-11 21:35] #5538 closed

[2019-09-11 23:41] Virtual-Josh opened #5604 "Implementation of Task Modules"
This is a ticket to track the implementation and addition of a Task Modules project to the overarching solution

[2019-09-11 23:41] Virtual-Josh opened #5605 "Implementation of Messaging Extension Action Commands"
This is a ticket to track the implementation and addition of a Messaging Extension Action Commands project to the overarching solution

[2019-09-11 23:42] Virtual-Josh opened #5606 "Implementation of Message Extension Search Commands"
This is a ticket to track the implementation and addition of a Message Extension Search Commands project to the overarching solution

[2019-09-11 23:42] Virtual-Josh opened #5607 "Implementation of Message Extension Configuration"
This is a ticket to track the implementation and addition of a Message Extension Configuration project to the overarching solution

[2019-09-11 23:43] Virtual-Josh opened #5608 "O365 Connector Cards"
This is a ticket to track the implementation and addition of a O365 Connector Cards project to the overarching solution

[2019-09-11 23:43] Virtual-Josh opened #5609 "Implementation of Cards - Adaptive Card Actions"
This is a ticket to track the implementation and addition of a Cards - Adaptive Card Actions project to the overarching solution

[2019-09-11 23:43] Virtual-Josh opened #5610 "Cards - Card Actions"
This is a ticket to track the implementation and addition of a Cards - Card Actions project to the overarching solution

[2019-09-11 23:43] Virtual-Josh opened #5611 "Implementation of FileBot"
This is a ticket to track the implementation and addition of a FileBot project to the overarching solution

[2019-09-11 23:44] Virtual-Josh opened #5612 "Implementation of Roster"
This is a ticket to track the implementation and addition of a Roster project to the overarching solution

[2019-09-11 23:44] Virtual-Josh opened #5613 "Implementation of Conversation Update"
This is a ticket to track the implementation and addition of a Conversation Update project to the overarching solution

[2019-09-11 23:44] Virtual-Josh opened #5614 "Activity Update & Delete"
This is a ticket to track the implementation and addition of a Activity Update & Delete project to the overarching solution

[2019-09-11 23:45] Virtual-Josh opened #5615 "Implementation of Message Reaction"
This is a ticket to track the implementation and addition of a Message Reaction project to the overarching solution

[2019-09-11 23:46] #5615 closed

[2019-09-11 23:47] #5613 closed

[2019-09-11 23:47] #5612 closed

[2019-09-11 23:47] #5611 closed

[2019-09-12 16:42] #5534 closed, assigned to nobody

[2019-09-12 16:42] #5533 closed, assigned to nobody

[2019-09-12 16:42] #5522 closed, assigned to nobody

[2019-09-12 16:42] #5523 closed, assigned to nobody

[2019-09-12 16:42] #5521 closed, assigned to nobody

[2019-09-12 16:43] #5520 closed, assigned to stevengum

[2019-09-12 16:43] #5519 closed, assigned to nobody

[2019-09-12 16:43] #5518 closed, assigned to nobody

[2019-09-12 16:43] #5515 closed, assigned to stevengum

[2019-09-12 16:43] #5536 closed, assigned to EricDahlvang

[2019-09-12 16:43] #5535 closed, assigned to EricDahlvang

[2019-09-12 16:43] #5532 closed, assigned to EricDahlvang

[2019-09-12 16:43] #5531 closed, assigned to EricDahlvang

[2019-09-12 16:43] #5530 closed, assigned to EricDahlvang

[2019-09-12 16:44] #5537 closed, assigned to EricDahlvang

[2019-09-12 16:44] #5508 closed, assigned to EricDahlvang

[2019-09-12 16:44] #5509 closed, assigned to EricDahlvang

[2019-09-12 16:44] #5510 closed, assigned to EricDahlvang

[2019-09-12 20:37] #5516 closed, assigned to stevengum

[2019-09-12 20:37] #5514 closed, assigned to stevengum

[2019-09-12 20:37] #5517 closed, assigned to stevengum

[2019-09-12 20:37] #5513 closed, assigned to EricDahlvang

[2019-09-12 20:37] #5512 closed, assigned to EricDahlvang

[2019-09-12 20:37] #5511 closed, assigned to EricDahlvang

[2019-09-13 18:57] #5609 closed

[2019-09-14 20:46] EricDahlvang commented on #5604
https://github.com/microsoft/botbuilder-dotnet/pull/2518

[2019-09-15 10:30] sanjeevgaut opened #5616 "Node module “open” is not opening URL"
I am trying to open URL using node module OPEN, but it is not working. I have installed Open and i can see the open module in node module folder.

Below is my code.

const open = require('open');

open('https://myurl');

I am working on Microsoft bot framework. Deployed the code in AZURE. The same code is working in emulator but in browser it is not working.

Any help is appreciated.

Thanks Sanje

[2019-09-15 16:04] tdurnford commented on #5616
Closing as this seems to be a duplicate of this [question](https://stackoverflow.com/questions/57943209/node-module-open-is-not-opening-url) on StackOverflow.

The Open npm package is trying to open the target in the default app for the file type. For example, URLs open in your default browser.  Since you are using this package in your bot, it is trying to open the browser in Azure - not on the us

[2019-09-15 16:04] #5616 closed

[2019-09-16 15:11] mdrichardson commented on #5587
@simon-tannai 	Are you still experiencing this issue? It needs to stay active to stay open.

[2019-09-17 14:08] YhorbyMatias commented on #2468
anyone here has implemented that?

[2019-09-18 06:58] EricDahlvang opened #5619 "Improve/Update Adaptive Card integration"
# Issue
*Describe the issue you are addressing*

Adaptive Cards provide a rich UI packed with features enabling awesome functionality for bots (and more) on a variety platforms and interfaces.  The Bot Framework sdk samples use Adaptive Cards extensively: https://github.com/microsoft/BotBuilder-Samples/search?q=adaptivecards  Developers using the Bot Framework would benefit from libraries with met

[2019-09-18 15:47] mdrichardson commented on #5587
Closing due to lack of activity

[2019-09-18 15:47] #5587 closed

[2019-09-18 16:54] stevengum opened #5620 "Simplify working with Teams messaging extensions"
## Issue
Working with Teams messaging extensions can be quite complex, requiring the developer to create complex nested structures and use specific "magic strings". It is essentially impossible currently to build one from scratch w/o either very deep knowledge of the space, or by starting from a sample (the code is very undiscoverable on its own).

Certain outgoing (from bot to channel) classes/in

[2019-09-18 17:00] stevengum opened #5621 "BotBuilder Teams: ME Scenarios should be renamed (minor enhancement)"
## Issue
Messaging Extension Scenarios in [tests/Teams](https://github.com/microsoft/botbuilder-dotnet/tree/master/tests/Teams) should be organized:

- MessagingExtension-Action
- MessagingExtension-ActionNoTask
- MessagingExtension-LinkUnfurling
- MessagingExtension-Search

They're currently organized like this:
![image](https://user-images.githubusercontent.com/14935595/65169184-e34c7180-d9fa-11

[2019-09-18 17:00] simon-tannai commented on #5587
@mdrichardson Sorry for the delay :S

I had tested offline directline but I got an error with it. I had [opened an issue](https://github.com/ryanvolum/offline-directline/issues/48) bot I didn't got any reply.

[2019-09-18 18:25] mdrichardson commented on #5587
@simon-tannai 	As posted above, can you explain what's happening vs. what you expect?

[2019-09-18 19:58] Stevenic opened #5622 "DCR: Simplified proactive messaging support"
## Issue
While we provide several proactive messaging examples, today, it's largely left as an exercise for the developer to architect how they'd like to architect proactive support for their bot.  New features like Composer and Skills are adding pressure for the SDK to provide a more turnkey solution to proactive messaging.  Below is a proposal for supporting a relatively simple callback based pr

[2019-09-19 02:19] yochay opened #5623 "MessageFactory should be channel aware when rendering responses"
## Issue
Scenario: As a developer, I want to send large number of card, displayed in a carousel. I expect the BF to be able to handle channel specific limits and handle any logic needed to send multiple activities to a given channel. For example, Teams has a max number of cards per message of 10 - see https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-reference#card-coll

[2019-09-19 02:24] yochay opened #5629 "Missing Doc - What cards are supported on each channel?"
## Version
All

## Describe the bug
We have a great doc for activity support across channels - https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channels-reference?view=azure-bot-service-4.0

We do not have a doc describing which cards are supported on which channel. Either append current doc or create a new one.

[bug]

[2019-09-19 05:31] simon-tannai commented on #5587
@mdrichardson the process which you described above is exactly what's happen and what I expect. I would like to find a solution to not be forced to use Direct Line.
Offline-directline package seems to be a good solution but it seems to not be maintain.

[2019-09-19 07:09] sridhar21111976 commented on #4010
I have the same issue where the teams Bot reply shows up in the notification, but not in the message window. A close and open of teams shows the message... So no issue in the actual message delivery itself.  Something to do with how teams handles the new message..... Same behavior in Teams web too...

tried redeploying the channel in Azure bot service - still the same behavior....

[2019-09-19 07:12] sridhar21111976 opened #5624 "Teams Bot messages dont show up - notification appears though"
## This is not for asking questions or filing bugs

I have an issue where the teams Bot reply shows up in the notification, but not in the message window. A close and open of teams shows the message... So no issue in the actual message delivery itself. Something to do with how teams handles the new message..... Same behavior in Teams web too...

tried redeploying the channel in Azure bot service -

[2019-09-19 08:52] Zack-Strife commented on #4768
This is probably not the best way to do it but it's working and it's really easy to implement, a great workaround while waiting for Microsoft to actually do something about this.
Thanks !

[2019-09-19 17:02] CezaryMarcjan commented on #5624
@sridhar21111976 thanks for the report. We'll investigate.

[2019-09-19 22:53] cleemullins commented on #5501
@garypretty, When you can, let's get a list of mechanisms by which we should engage the community with feature work.

[2019-09-19 23:03] cleemullins commented on #5378
Completed in https://github.com/microsoft/botbuilder-dotnet/pull/2448

[2019-09-19 23:03] #5378 closed

[2019-09-19 23:16] cleemullins commented on #5337
We've made headway in C#, and are currently looking at this in JS.

[2019-09-20 03:12] tsuwandy commented on #5624
@wajeed-msft, could you take a look at this issue and see if it’s a bug?  Thanks!

[2019-09-20 12:01] Tush-r commented on #5580
The properties can still be used in TypeScript by type casting the `QnAMakerOptions` object as `any`.
In C# it may be possible by extending the `QnAMakerOptions` class.

Thanks for your support.

[2019-09-20 12:01] #5580 closed

[2019-09-20 14:34] shubhamkumarnayak opened #5625 "BOT on the Intranet"
Hi
Currently we are working on a bot which will be in our local intranet(share point), the server doesn't have access to intranet, is there a way to host everything in Intranet and in a server which don't have access to Internet.

[2019-09-20 18:11] CezaryMarcjan commented on #5625
@shubhamkumarnayak , thank you for opening this issue.  For product behavior, how-to, or general understanding questions, please use Stackoverflow.

https://stackoverflow.com/search?q=bot+framework

[2019-09-20 18:11] #5625 closed

[2019-09-20 18:46] dmvtech commented on #5625
@shubhamkumarnayak If you are looking for absolutely-no-internet-access, you would want to look into [webchat ](https://github.com/Microsoft/BotFramework-WebChat)and [offline-directline](https://www.npmjs.com/package/offline-directline). Find more info [here](https://stackoverflow.com/questions/55812986/how-can-i-use-offline-directline-for-microsofts-botframework-v4). As Cezary mentioned, if you h

[2019-09-20 21:17] Jeffders commented on #5593
This is a duplicate. Give Carlos credit for this! Wahoo!!!

[2019-09-20 21:17] #5593 closed

[2019-09-20 21:20] carlosscastro commented on #5593
Tracked here: https://github.com/microsoft/botbuilder-python/issues/318

[2019-09-20 21:25] lucsoft opened #5626 "SSL 500 Error: wrong version number on Self Hostet System with Reverse Proxy"
## Issue
Im using the echo template for NodeJS

My Server is a virtual machine thats on Ubuntu 18 with Node v11.15.0
My local machine thats running Windows 10 with Node v11.15.0

V3 works on my local machine and on the server

the ssl is working fine and i dont have any problems

Im using a reverse proxy  it forwards the port from 9100 to 443
[code]

[2019-09-20 22:17] galenguilbert commented on #5467
Michael, I'm running with botbuilder-js libs, I've tried the above solution and DELETE still does not work.  Is there an ETA for when the actual fix to cosomosDbStorage will release?

[2019-09-21 18:42] ashishkumar070 commented on #4768
@JasonSowers  I tried registering the middleware like this

[code]

The bot stops working.

[2019-09-22 01:34] tiger5226 commented on #1214
shame...was going to build a bot but, no go support.

[2019-09-22 21:10] EricDahlvang commented on #5605
https://github.com/microsoft/botbuilder-dotnet/pull/2577

[2019-09-23 03:59] Wajeed-msft commented on #5624
@sridhar21111976- Is this happening with other Bots as well? Is anyone else in your team facing the same issue?

[2019-09-23 04:05] stevengum opened #5627 "Azure CLI: Redirect users to file issues in botframework-sdk"
### Issue:

As we are gradually deprecating the botbuilder-tools repository, users running into errors while using `az bot` should files issues in either [microsoft/botframework-sdk](https://github.com/microsoft/botframework-sdk) or in [Azure/azure-cli](https://gtihub.com/Azure/azure-cli).

### Completion:

Update the `bot_exception_handler` function to redirect users to [microsoft/botframework-sd

[2019-09-23 08:03] sridhar21111976 commented on #5624
Hi Wajeed,  I have only one bot deployed. The issue was with all Teams interface outside the web test interface.
Interestingly the issue resolved on its own. It’s working fine right now. Not sure if this is due to the publishing the app to groups and channels as against as a personal chat interface..

[2019-09-23 17:07] CoHealer commented on #5626
Is there a reason you're using v3 and not v4? v4 is recommended v3 is sun setting some time next year.

[2019-09-23 18:07] carlosscastro commented on #5624
@sridhar21111976 It sounds like the issue is resolved. Can you please confirm? Thanks

[2019-09-24 00:27] sridhar21111976 commented on #5624
Hi Carlos, Yes.. so far it’s working ok... does the initial problem attribute to any wait time for the service to be prepared in the backend .. or should that be working straight from the time of creation and expose through the channel...! Would you know..?

Rest is all good consider the case closed as it’s working now.. I will post back here based on my next bot, when I create one...

[2019-09-24 17:17] cleemullins commented on #5467
@garypretty Please take a read through this. I have some opinions, as does @mdrichardson. Let's get a agree on a solution that works with the CosmosDB Partition Keys and see where we end up.

[2019-09-24 17:19] cleemullins commented on #5442
@mdrichardson I would love your opinion here. I'm also very happy to have you fix/implement the nightly functional suite.

[2019-09-24 20:32] CoHealer commented on #5626
@lucsoft, I've assigned this to @stevkan to assist you shortly.

[2019-09-24 21:15] stevkan commented on #5626
@lucsoft, I've started trying to recreate your setup to test against. Can you give greater detail or provide code on how you have your reverse proxy setup?

[2019-09-25 04:12] EricDahlvang commented on #662
Hi @evgeniy-glushin

This doc should help with debugging the 500 error:

https://docs.microsoft.com/en-us/azure/bot-service/bot-service-troubleshoot-500-errors

Where are you running this code,  and what errors are you seeing when it is not working?

[2019-09-25 05:00] stevengum commented on #5606
closing via [botbuilder-dotnet/master#4d4b4d1aaae0faaf18ecab0e5130ecacc058d4f3](https://github.com/microsoft/botbuilder-dotnet/commit/4d4b4d1aaae0faaf18ecab0e5130ecacc058d4f3)

[2019-09-25 05:00] #5606 closed

[2019-09-25 07:48] evgeniy-glushin commented on #662
I have a skype bot with beck-end running in Azure.

I've got following code

[code]

When a user sends a video message to the bot you get ContentUrl (https://smba.trafficmanager.net/apis/v3/attachments/0-weu-d11-a7dd2f30f52f28e7c657bbffc81be9e5/views/original) and you are supposed to be able to download the file using this url. But when I try to do it I get 500 without any error message. The inter

[2019-09-25 13:39] garypretty commented on #5467
@cleemullins @mdrichardson I have taken a look at this and here is my take based on the great insight so far by @mdrichardson (CosmosDB isn't a familiar area for me so your clear explanation above was great!).

**Solving the issue for new / currently broken bots**

Largely, moving forward, I echo comments above, in that I think we should take the PartitionKey out of the hands of the developer for

[2019-09-25 15:08] mdrichardson commented on #5442
@cleemullins I'd be happy to, but could use a quick walkthrough from somebody. Who can I link up with on this?

[2019-09-25 15:08] garypretty commented on #5467
@mdrichardson @cleemullins Thinking more about it, one key problem with the above, if I understand correctly, is that whilst it will address net new users of CosmosDb storage and also help people who want to use partition key, it will break the experience for customers who already use CosmosDb storage **without** a partition key being set - where the storage provider has been working well for them

[2019-09-25 16:06] mdrichardson commented on #5467
@garypretty CC: @cleemullins

Gary, I agree with pretty much everything you said. I've got some comments on a couple things.

If we end up making a separate class for using PartitionKeys (which I'm not necessarily recommending), we may as well update to [v3](https://github.com/Azure/azure-cosmos-dotnet-v3). The hesitation on doing this before was that C# V3 didn't support non-partitioned DBs, brea

[2019-09-25 16:22] garypretty commented on #5467
@mdrichardson agree that a second class is an option - in fact I had written that up as a second option and then deleted it, because I would love to avoid it if possible.  I think having the flag should be pretty clean and a small iteration on the above, at least right now if we wanted to get a fix in using v2. We should just need to check the flag when applying the PartitionKey to the queries.

T

[2019-09-25 19:11] stevengum commented on #5425
Pushing this out to 4.7, retaining same priority.

[2019-09-25 20:27] #5621 closed

[2019-09-25 20:27] cleemullins commented on #5621
Not a deliverable.

[2019-09-25 20:30] cleemullins commented on #5607
Done in JS. Needs to be done in C#.

[2019-09-25 20:31] cleemullins commented on #5605
Done in C# and JS.

[2019-09-25 20:31] #5605 closed

[2019-09-25 20:31] cleemullins commented on #5604
Done in C#. Js is in progress. Tracked in JS repo.

[2019-09-25 20:31] #5604 closed

[2019-09-25 20:36] cleemullins commented on #5628
Middleware bug in the Transcript Logger.

[2019-09-25 20:38] cleemullins commented on #5628
@jwiley84 Please sync with @stevengum regarding the investigation that needs to happen here.

[2019-09-25 20:40] cleemullins commented on #5463
C# is done. JS is in progress. Pythong is logged. Closing this, as it's causing counting / tracking confusion.

[2019-09-25 20:40] #5463 closed

[2019-09-25 20:41] cleemullins commented on #5462
C# is done. JS is in progress. Python issue filed. Closing this as it's confusing our issue tracking.

[2019-09-25 20:41] #5462 closed

[2019-09-25 20:48] #5431 closed

[2019-09-25 20:49] cleemullins commented on #5427
Resolving this as fixed, with the migration to ADAL.

[2019-09-25 20:49] #5427 closed

[2019-09-25 20:50] cleemullins commented on #5426
Please do a quick sync with @hristp to confirm this. @stevengum believes this should be 5/10 minutes to verify.

[2019-09-25 20:52] #5417 closed

[2019-09-25 20:54] cleemullins commented on #5233
Revisit this plan.

[2019-09-25 20:55] cleemullins commented on #5233
@scheyal Can you formulate a plan around this?

[2019-09-25 20:56] cleemullins commented on #5231
No updates in nearly a year. Cllosing.

[2019-09-26 00:46] Virtual-Josh commented on #5607
Tracked in the dotnet repo. Tracked here:

https://github.com/microsoft/botbuilder-dotnet/issues/2606

[2019-09-26 00:46] #5607 closed

[2019-09-26 11:58] Ishak76 commented on #1389
@debnathSD , Can you please post here how you achieved to pass userid in webchat

[2019-09-26 21:31] JobaDiniz commented on #4663
[code]

This works in Chrome but somehow does not work in IE... the pooling does not work, no messages are shown...

[2019-09-26 22:02] yochay commented on #5231
We need this.
Move to 4.7.

[2019-09-26 22:05] daveta commented on #5231
Here's a random stab.
https://github.com/daveta/analytics/blob/master/adaptive/README.md

[2019-09-27 16:17] stevkan commented on #5626
@lucsoft, there needs to be activity in order for the issue to remain open. Are you able to provide info on how you are setting up your reverse proxy?

[2019-09-28 00:13] EricDahlvang commented on #662
I tried the code above in a Skype connected bot (after replacing the appid and password).  I was able to download the bytes of a video recorded and submitted through the skype windows client.

![image](https://user-images.githubusercontent.com/11055362/65808556-e1e11e80-e149-11e9-8a19-d3de82b2b72a.png)

Have you tried debugging locally? https://blog.botframework.com/2017/10/19/debug-channel-locall

[2019-09-28 10:44] evgeniy-glushin commented on #662
Hi. Thank you so much for looking into this problem. Yes, I've tried debugging it locally. Did you send a video message or a video file as a file attachment? It fails specifically when I try to send a skype video message but it works fine when I send a video file (.mp4) as an attachment.

[2019-09-28 10:58] debnathSD commented on #1389
@Ishak76 Could you be more specific please? I couldn't get your question. Do you just simply need to pass userid in WebChat? If yes, you can do it along with the bot url, `&userid`

[2019-09-28 18:39] EricDahlvang commented on #662
I was able to receive both a video message and a video file. The above screenshots are from a video message.

[2019-09-29 10:32] evgeniy-glushin commented on #662
@EricDahlvang That's what I get
![Screenshot_30](https://user-images.githubusercontent.com/17412730/65830938-a7e45980-e2bc-11e9-9a6b-18a1f42dde10.png)

I'm using 4.5.2 version of the Bot Framework and the latest version of skype. Which Bot Framework are you using? What do you think could be the reason?

[2019-09-29 16:10] imdat1guy opened #5631 "retryprompt does not work"
## Version
v4

## Describe the bug
Bot does not send the retryprompt passed as an option for a promptAsync calls. All my prompts do not reprompt if response is not valid. One example is this attachment prompt:

private async Task<DialogTurnResult> AttachmentsStepAsync(WaterfallStepContext stepContext, CancellationToken cancellationToken)
        {
            bool attach = (bool)stepContext.Result

[2019-09-29 16:20] imdat1guy commented on #5631
I found out that sending a typing activity is causing this to happen. Is there a fix for this or do I need to remove the typing activity?

This is the code for sending the typing activity: (This happens in the OnTurnAsync())

Activity a = new Activity { Type = ActivityTypes.Typing };
await turnContext.SendActivityAsync(a);

[2019-09-30 15:57] galenguilbert commented on #5467
@mdrichardson I ended up following the pattern for solution #3 and just adopted the c# modifications to the typescript file.  We're using the delete for when a user has a privacy request to remove their information from our system, we scrub the transcript and state data for any of their conversations.

[2019-09-30 16:26] jwiley84 commented on #5631
Hi @imdat1guy! I see you've also opened this issue [here](https://github.com/microsoft/botbuilder-dotnet/issues/2625). I'm going to close this issue so that we can better track it over there.

[2019-09-30 16:26] #5631 closed

[2019-09-30 16:41] stevkan commented on #5626
Closing this issue. Please feel free to re-open if the issue persists and you need continued help.

[2019-09-30 16:41] #5626 closed

[2019-09-30 22:49] v-kydela commented on #5619
Related: https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/issues/137

[2019-09-30 23:40] v-kydela opened #5632 "DCR: Builtin dialogs"
## Issue
Prompt dialogs are seldom modified before they're added to dialog sets and used. It feels unnecessary to have to construct prompts and add them to dialog sets when there's nothing special about them. You can construct one choice prompt for example and use that one prompt's dialog ID to add it to the stack 5 times in 5 different waterfall steps to ask 5 different questions, because the act

[2019-10-01 05:54] ivikashjha opened #5633 "Bot in Teams channel not responding well."
My Bot is added under Teams tab of Microsoft Teams Channel. When i start a conversation and I stay in same chat thread, I am not using any mouse click, then in that case Bot name does not appear with @BotName , when i click outside or on bot response notification the Reply link appear just below the response. For our day to day user, most of them are not technical people, how can we make sure the

[2019-10-01 05:57] ivikashjha commented on #5633
![PurpleReply](https://user-images.githubusercontent.com/2158150/65937664-38967300-e43e-11e9-9f99-5a2df023b627.png)

Purple reply link displays @BotName that make sures bot is listening. But Reply text otherwise does not goes to Bot and it just stays there forever without any response from Bot. How to resolve this issue. Is this something we can fix or use some work around, or we need to look for

[2019-10-01 06:28] stevengum commented on #5624
@sridhar21111976 since the issue was resolved I'm going to close this issue. Thanks for confirming that the bug resolved itself.

@Wajeed-msft can you comment on the question from @sridhar21111976?

[2019-10-01 06:28] #5624 closed

[2019-10-01 13:45] EricDahlvang commented on #662
I'm using the latest sdk.  Have you tried creating a new bot registration from scratch?

I see your issue is also being addressed here: https://github.com/microsoft/botbuilder-dotnet/issues/2583 I will follow along there.

[2019-10-01 17:25] mdrichardson commented on #5633
Closing as this is a duplicate of https://github.com/microsoft/BotBuilder-Samples/issues/1787 and the other is in a more appropriate repo for bug reports.

@ivikashjha If you don't believe this is a duplicate, let me know. Otherwise, we'll use that thread for supporting this issue.

[2019-10-01 17:25] #5633 closed

[2019-10-02 04:40] debasreedash commented on #5467
i hope this can be fixed soon...

[2019-10-02 10:05] jpieres commented on #5434
hi Ben! If this is something that is going to be implemented I would like to know if you can give us an idea of the timeframe? Thanks!

[2019-10-02 14:46] mdrichardson commented on #5467
@debasreedash The C# SDK has [merged a PR with this](https://github.com/microsoft/botbuilder-dotnet/pull/2613). You'll need to use the new `CosmosDbPartitionedStorage`. We're hoping to have the Node and Python versions out by the 4.6 release.

[2019-10-02 15:00] debasreedash commented on #5467
@mdrichardson sorry but our bot is in nodejs

[2019-10-02 15:02] mdrichardson commented on #5467
@debasreedash I'm hoping to have that out this week, but realistically, it might be a couple of weeks before the PR gets done, approved, and merged. Then, you'll likely need to wait for the 4.6 release, unless you want to build the Node SDK yourself (vs. downloading via npm).

[2019-10-02 15:43] debasreedash commented on #5467
@mdrichardson okay cool, we can do the update of the bot framework in a few weeks then and also i'm following this bug

[2019-10-02 17:33] AndreMantas commented on #1056
@Andrea-Orimoto what is the state of this task on your backlog after 3 years?

[2019-10-02 18:50] yochay opened #5634 "Deprecate current CosmodDB classes and patterns"
## Issue
documentdb v1.x client sdk deprecation and the new partition implementation in the SDK.

Bot Builder js V4 issue:
https://github.com/microsoft/botbuilder-js/issues/1162

~Bot Builder js V3 issue:
https://github.com/microsoft/BotBuilder-V3/issues/164~

## Proposed change
in 4.6, we're introducing an new way to use CosmosDB and provide specific partition implementation based on keys (@garyp

[2019-10-04 14:59] garypretty commented on #5634
@yochay C# PR is merged -> https://github.com/microsoft/botbuilder-dotnet/pull/2613

We need to think about migration, as customers cannot just switch out the providers,  The new provider creates a container with a partition key whereas, in most cases, the existing one does not - therefore the new one will not retrieve data correctly if my understanding is right.

[2019-10-04 17:35] johnataylor commented on #5628
It seems OK that Invokes are different in the transcript. Specifically Invokes are just regular HTTP POSTs plumbed into the framework. The outbound activity is just a mockup in the framework world. On the wire it is just an HTTP POST response payload. The id is intrinsically the request id.

So what we need to know is that the transcript code doesn't crash or behavior horribly when we send Invoke

[2019-10-05 00:56] stevengum commented on #5628
@jwiley84 FYI Issue https://github.com/microsoft/botbuilder-js/issues/1122 and PR https://github.com/microsoft/botbuilder-js/pull/1138 please see if this meets your liking...

[2019-10-06 14:51] neetgupta7 opened #5635 "Latest sdk 4.5.4 gives error when debugging locally"
I upgraded Microsoft.Bot.Builder.Skills to 4.5.4 and now when i debug my skill locally with simple echo dialog with blank microsoftAppId and password i get below error.

### System.ArgumentNullException: Value cannot be null.
Parameter name: microsoftAppId
   at Microsoft.Bot.Builder.Skills.Auth.MsJWTAuthenticationProvider..ctor(String microsoftAppId, String openIdMetadataUrl) in D:\a\1\s\lib\csha

[2019-10-07 01:59] cleemullins commented on #5635
@neetgupta7 Thanks for reporting this. I've engaged the engineer driving the recent security changes, as well as our support engineers. Please be aware that both Web Sockets and Skills are currently not officially supported (beta's), but we'll try to get this resolved ASAP.

[2019-10-07 21:26] scheyal opened #5636 "Create telemetry dashboard"
## Feature: Create a reusable telemetry dashboard

Context:
We have a collection of queries (inspired from Dave's repo) that can compromise a re-usable Azure dashboard to ship with the SDK's samples for instance or be made available in the docs as well as in VA.
The foundation of queries can be found here:
* [Queries](https://ms.portal.azure.com/#@microsoft.onmicrosoft.com/resource/subscriptions/4

[2019-10-08 07:50] manukempo opened #5637 "Adaptive Cards - Dropdown"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) where there is a robust community to help you

To file an issue against a component please go to the components repo
* [Create Azure Bot Framewor

[2019-10-08 07:54] manukempo commented on #5637
I’ve tried a few different adaptive cards with a drop-down and they worked in the Bot Emulator but none of them gave a proper result in Teams (Desktop).

[2019-10-08 07:59] manukempo commented on #5637
Bot Emulator (4.5.2):
![image](https://user-images.githubusercontent.com/24358552/66377641-e909f700-e9a9-11e9-909e-778e778348da.png)

[2019-10-08 08:05] manukempo commented on #5637
Teams (Desktop - v.1.2.00.24753):

![image](https://user-images.githubusercontent.com/24358552/66378072-a563bd00-e9aa-11e9-8a27-1391f6b2d902.png)

[2019-10-08 08:12] manukempo commented on #5637
Teams (Mobile - v. 2526/1.0.0.2019092603)

![image](https://user-images.githubusercontent.com/24358552/66378593-ad702c80-e9ab-11e9-8750-52c83036e788.png)

[2019-10-08 08:34] manukempo commented on #5637
Please find the adaptive card template (with mock data):
[SampleAdaptiveCard_Mock.zip](https://github.com/microsoft/botframework-sdk/files/3701464/SampleAdaptiveCard_Mock.zip)

[2019-10-08 14:22] EricDahlvang commented on #5637
Hi @manukempo

It looks like the Adaptive Card you shared is using **Action.ToggleVisibility**  This feature was introduced in version 1.2 of Adaptive Cards: https://adaptivecards.io/explorer/Action.ToggleVisibility.html  However, Teams currently only supports Adaptive Cards 1.0 features https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-reference#adaptive-card

[2019-10-08 15:28] puyu2010 opened #5638 "Bot Framework Deploy issue"
I have created a AppId for my local bot. And deploy it to Azure. But after my test, I found some issue below. When I test my local bot on Bot Framework Emulator, it works well. But when I fill in AppId and password in appsettings, it cannot work will information below.

![图片](https://user-images.githubusercontent.com/13258796/66409293-f9aa8380-ea22-11e9-84ac-95daa885899b.png)
![图片](https://user-im

[2019-10-08 20:44] v-kydela commented on #5637
Hello @manukempo - Let me see if I can help.

First, I want to make sure we're talking about the same things. A dropdown is a menu with a list of selectable items where the whole list pops up (or "drops down") when the element is clicked:

<img src="https://user-images.githubusercontent.com/41968495/66430436-fedde300-e9ce-11e9-8df0-b0f536091a17.png" alt="alt text" width="256">

What you have simul

[2019-10-08 22:03] dmvtech commented on #5638
How did you create the Bot and AppID? Does the app ID match the application here:
https://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationsListBlade ?

With the Emulator, you should be able to:

1. Have MicrosoftAppId and MicrosoftAppPassword be blank in appsettings, and not supply them when the emulator connects, or
2. Supply MicrosoftAppId and MicrosoftAppPassword n appsettings,

[2019-10-08 22:21] cleemullins commented on #5501
@garypretty How do we resolve this issue in the 4.6 cycle?

[2019-10-08 22:31] garypretty commented on #5501
Closing this and moving to internal planning with PM team.

[2019-10-08 22:31] #5501 closed

[2019-10-08 22:32] CoHealer opened #5639 "Bot Framework 4.6 Release Checklist"
## Package 4.6.0-RC1

## Package Location
https://botbuilder.myget.org/gallery/botbuilder-v4-dotnet-daily
https://botbuilder.myget.org/gallery/botbuilder-v4-js-daily
https://botbuilder.myget.org/gallery/botframework-cli
https://test.pypi.org/project/botbuilder-core/

## GitHub Updates
**Create New Branch** @cleemullins
- [x] C# (https://github.com/Microsoft/botbuilder-dotnet/tree/4.6)
- [x] JS (ht

[2019-10-08 22:43] garypretty commented on #5636
@scheyal I am happy to help with the developer resource required here. I have been working on other telemetry enhancements recently and worked with the dashboard from solutions when I was external. Ill assign to myself so I can track, but happy for others to jump in too.

[2019-10-09 09:29] garypretty commented on #5467
We are going to close this master issue, as we now have issues / PRs raised in the relevant language repos.
@debasreedash @galenguilbert you should be able to track your desired language on the links below.

JS - https://github.com/microsoft/botbuilder-js/issues/1234
C# - https://github.com/microsoft/botbuilder-dotnet/pull/2613
Python - https://github.com/microsoft/botbuilder-python/issues/327
Jav

[2019-10-09 09:29] #5467 closed

[2019-10-09 13:26] puyu2010 commented on #5638
Greate Thanks for your help. My answer is as below:

1. I create Appid and password by cmd in Azure as below, which I learned from spec. And I can see it from link you provide.
az ad app create --display-name "displayName" --password "AtLeastSixteenCharacters_0" --available-to-other-tenants

Then create bot with command below:
az deployment create --name "<name-of-deployment>" --template-file "tem

[2019-10-09 16:31] garypretty commented on #5636
@scheyal The links above are not working for me, are they still live for you?

[2019-10-09 18:25] dmvtech commented on #5638
Just to confirm, did you also run the commands:

`az bot prepare-deploy`
and then zip up your project, and then:
`az webapp deployment source config-zip`

If you are using the appsettings to have the appid/password, you will have to re-zip and re-run `az web app deployment`

Alternately, you can add/ensure you have two Application Settings (`MicrosoftAppId `and `MicrosoftAppPassword`) set in your

[2019-10-09 18:40] dmvtech commented on #5638
You can also try opening your log stream for the app service and see what you see during the attempt to connect. See here for more info:
https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs

[2019-10-09 21:29] hristp commented on #5426
For legacy reasons, audiences, scopes and issuers were set to botframework.us on the service side (and it's very hard to change them now). So only **endpoints** need to be changed to botframework.azure.us.

[2019-10-09 21:57] jwiley84 commented on #5426
After checking over the remaining repos (js, python and emulator), and a discussion with both @hristp and @stevengum, we're good to go. All the spots in the repos have been changed over to botframework.azure.us where they need to be.

There's no need for PRs, as the changes have been already made.

[2019-10-09 21:57] #5426 closed

[2019-10-10 11:24] alokraj68 commented on #2113
how to achieve the same in v4

[2019-10-10 15:57] puyu2010 commented on #5638
Great for your help. For your first reply, I deploy my bot in Visual Studio, not cmd. You can see as below.
![图片](https://user-images.githubusercontent.com/13258796/66585365-42944080-ebb9-11e9-8520-8fe3f63ca6bf.png)

And for add log stream, I think maybe some bug I found in it. In screenshot, we can see it is because Invalid client secret. But I think I don't forget it. But anyway, I reset it in A

[2019-10-10 17:53] dmvtech commented on #5638
Ok, thank you.

So after creating a new client secret, you copied that value to the appsettings.json, then republished and it is _still_ failing?

**_If_** that is the case, can you try adding it as a Application Setting in the App Service's configuration? (again, you will need both MicrosoftAppId and MicrosoftAppPassword)

[2019-10-10 18:33] v-kydela commented on #5637
Hi @manukempo - Are you still working on this?

[2019-10-10 22:10] christopheranderson commented on #5493
Chatted with @p-nagpal offline. The easiest way to enable this seems to be to store extra data regarding which users are associated with each record. In order to efficiently query this data, it should be indexed (which will add some cost to the insertion equal the size and number of properties indexed). This would require changes to the recent Cosmos store provider which moved to V3 SDK to allow f

[2019-10-11 03:32] archmangler opened #5640 "No effective tools available to debug simple Bot Framework Errors in an Enterprise Environment"
Hi, I've deployed a chatbot to azure via ARM templates and am trying to communicate with it via the web chat window in the portal.

In the channels interface I see the following error:

“There was an error sending this message to your bot: HTTP status code InternalServerError”

Looking for logs or diagnostics in the portal turns up nothing.

The ngrok tool is recommended for debugging but it's pre

[2019-10-11 04:07] archmangler opened #5641 "Failed to dynamically fetch target download uri."
When trying to download the bot code from the "Build" section of the portal I get this error:

[code]

There is no way to debug further from the portal. How to debug further?

[2019-10-11 04:13] archmangler opened #5642 "Test in Web-Chat from Portal shows "Waiting for bot to be ready" forever"
Hi

I'm trying to test my azure bot using the portal web-chat feature, however when I click on it it shows the message:

[code]

Forever. i.e basically it never times out.

How to debug this further (does portal provide effective tools? ngrok is not an option)

[2019-10-11 04:30] EricDahlvang commented on #5640
Hello @archmangler

Application insights might be helpful: https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net

This doc has some other tips for tracking down 500 errors:

https://docs.microsoft.com/en-us/azure/bot-service/bot-service-troubleshoot-500-errors

[2019-10-11 14:29] jmnsf commented on #1833
For those who end up here, the updated link for supported action types in MSTeams: https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-actions

[2019-10-11 15:16] puyu2010 commented on #5638
Great Thanks for your help. As default, deploy slot setting is not selected. After I set it, my bot work as my expected. Thank you very much.

[2019-10-11 15:16] #5638 closed

[2019-10-11 15:16] puyu2010 commented on #5638
![image](https://user-images.githubusercontent.com/13258796/66663354-278b0480-ec7d-11e9-8d9a-4d30e5edd850.png)

[2019-10-11 16:07] CoHealer commented on #5640
Closing as resolved

[2019-10-11 16:07] #5640 closed

[2019-10-11 16:10] CoHealer commented on #5641
@archmangler, the Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.