[2016-07-08 05:48] rebekkaalv commented on #609
Okay that's good! :) Than it's maybe something wrong with my inputs. What is the meaning of the form field "Bot handle"?

[2016-07-08 06:00] jaliyaudagedara opened #611 "SimpleFacebookAuthBot Unable to Conversation.ResumeAsync in OAuthCallback"
Hi,

I am trying out the SimpleFacebookAuthBot and upon callback from Facebook and in the line where the bot tries to resume the conversation, I am getting the following error.

<Message>An error has occurred.</Message>
<ExceptionMessage>Not Found</ExceptionMessage>
<ExceptionType>Microsoft.Rest.HttpOperationException</ExceptionType>
<StackTrace>
at Microsoft.Bot.Connector.ErrorHandling.HandleErro

[2016-07-08 06:40] jaliyaudagedara commented on #611
I have actually managed to find out why this is error is getting thrown. It's because in my web.config, I was having actual **AppId** and in the simulator, I was just using "YourAppId"

[2016-07-08 06:42] jaliyaudagedara commented on #611
Closing the issue.

[2016-07-08 06:42] #611 closed

[2016-07-08 07:05] rebekkaalv commented on #609
@ankitbko Okay that's good! :) Then it's maybe something wrong with my inputs. What is the meaning of the form field "Bot handle"? I get an error message that says "Invalid character" but I have just typed a simple name consisting only of the letters i,a,n,m,l,b,o and t.

[2016-07-08 07:25] ankitbko commented on #609
@rebekkaalv Bot handle represents an unique id to your bot. In .net, this value goes into AppId in web.config. It can contain Alphanumeric and underscore only. It should work if you are only entering letters. Check if there are no unintentional spaces in the beginning or end.
Also it needs to be unique. So try changing it to something different.
During the outage yesterday, it seems the Bot handle

[2016-07-08 07:31] rebekkaalv commented on #609
@ankitbko Thank you so much for solving my problem! That was the exact issue!

[2016-07-08 09:17] rebekkaalv opened #612 "Unauthorized - Not registered owner of this bot"
When registering the bot I listed two e-mail adresses in the owner form field (comma dilimited). The other owner gets the following error message when he tries to go to the url for the bot:

And the bot is not listed in his "My bots" webpage.

What can be the problem?

[2016-07-08 10:08] tkbox9 opened #613 "(Urgent - need to deploy on Monday) Empty context.MakeMessage().To.Name; (Facebook) -"
Hello,

It seems I cannot get the user name from the facebook channel.  However, I do receive the channelId (Facebook) and the address. When testing from emulator everything works.

      public async Task Greeting(IDialogContext context, LuisResult result)
        {
           var message = $"Hi {context.MakeMessage().To.Name}, what’s up?";
            await context.PostAsync(message);

[2016-07-08 10:12] inornos commented on #600
Its not working for me, In Microsoft Bot Framework Emulator it working fine but when i upload on web for final check and try on the skype its same as before its not working in skype
Please help me what i do

[2016-07-08 12:16] Stevenic commented on #455
There's nothing in the SDK that returns that so would have to be a service error.

[2016-07-08 12:18] NanashiGIT opened #614 "SOLVED Message to Telegram-User: "Non-bots can't talk to non-bots""
**-----------------------------------UPDATE-----------------------------------**
This Question is solved, due to the V3 Update. Now it works properly.

**------------------------------------------------------------------------------------**

Hello!

I'm currently trying to send a fresh message to users on different channels.

My code is:
[code]

This code works perfectly with skype. But when i try

[2016-07-08 16:28] jameslew commented on #612
We will investigate; this may be a regression from recent changes.

[2016-07-08 16:38] willportnoy commented on #613
https://github.com/Microsoft/BotBuilder/issues/291 and https://github.com/Microsoft/BotBuilder/issues/481 are relevant issues from the past.  @tomlm @jameslew do we return Facebook user names?

[2016-07-08 16:44] jameslew commented on #612
Looks like this is a small thing; if you put a space between the comma and the next name, it doesn't detect.  We'll fix, but if you want to work around, remove the spaces. <sigh>.

[2016-07-08 16:44] #612 closed

[2016-07-08 16:54] sixpi opened #615 "Old screenshot in getting started for C#"
The bot emulator screenshot in the getting started page is out of date (http://docs.botframework.com/en-us/images/connector/connector-getstarted-test-conversation-emulator.png),

I took a new screenshot, how would I contribute it to the documentation? Should I make a pull request against the gh-pages branch?

[2016-07-08 17:10] Andrea-Orimoto commented on #615
thanks sixpi! we'll update the screenshot, no need to do a pull request.

thank you very much for bringing this to our attention.

[2016-07-08 17:25] sixpi commented on #615
Cool, thanks. I was partly asking to learn the process for contributing to the project (either code or documentation).

[2016-07-08 17:44] msft-shahins commented on #615
@sixpi we accept pull requests for bug fixes and new features. You can read more about our contribution guidelines [here](https://github.com/Microsoft/BotBuilder/blob/master/Contributing.md).

[2016-07-08 17:44] #615 closed

[2016-07-08 20:45] msft-shahins commented on #470
Currently Facebook messenger platform doesn't fire `delete conversation event` through send API when the user deletes a conversation. You should educate users to use `/deleteprofile` or a custom command that you introduce for your bot, to delete their profiles and historic data with your bots.

[2016-07-08 20:45] #470 closed

[2016-07-08 22:06] jigneshs123 commented on #598
What's the recommended way to send multiple messages to the client in that case? Any idea if that's just a bug in web chat control?

[2016-07-08 22:18] msft-shahins commented on #586
With new [release](http://blogs.skype.com/2016/07/08/skype-bot-developer-update-cards-groups-and-more/) buttons and cards are supported in Skype.

[2016-07-08 22:18] #586 closed

[2016-07-08 23:34] dpakpaul opened #616 "BotBuilder NuGet version 3.0 is missing Bot.Connector types ?"
Tried following the instructions to upgrade an existing v1 Bot to v3 (http://docs.botframework.com/en-us/support/upgrade-code-to-v3)

I updated the BotBuilder SDK via NuGet to 3.0 . Object browser for the Microsoft.Bot.Builder reference that was added does not show anything from the Bot.Connector namespace (like the Activity class) . The docs suggest that the SDK for builder and connector were mer

[2016-07-08 23:40] Thegaram commented on #101
I seems like `/deleteprofile` stopped working in V3. What's the new mechanism for triggering messages (activities) of type `DeleteUserData`? Or should I implement my own commands for this?

[2016-07-08 23:47] arieschwartzman opened #617 "V3 need to pass RegExp object to match, documentation needs to be fixed"
You state in your examples that:

intents.matches('^change name', [
    function (session) {
        session.beginDialog('/profile');
    },
    function (session, results) {
        session.send('Ok... Changed your name to %s', session.userData.name);
    }
]);

However I found that you must pass RegExp object in order it to work for example:

intents.matches(new RegExp(dialog.intent), [

[2016-07-08 23:55] Thegaram commented on #616
Works for me. Did you remove the old Microsoft.Bot.Connector package?

[2016-07-09 00:04] Thegaram opened #618 "Slack and Skype stopped working since update to V3"
Since my update to the new version, both the Slack and Skype channels stopped working.

On Skype, the messages I send seemingly don't reach my bot and I'm getting `Unauthorized`. I'm using HTTPS, it works on other channels. On the My Bot page the status is Error (*Unauthorized*).

On Slack, the messages reach my controller but my responses don't reach Slack. On the My Bot page the status is Error

[2016-07-09 00:56] dpakpaul commented on #616
Ok, it did not work the first time. Removed everything and re-nuget'ed the bot builder and its happy now. Thanks.

[2016-07-09 00:56] #616 closed

[2016-07-09 01:25] AmineI commented on #618
http://docs.botframework.com/en-us/support/upgrade-code-to-v3/#navtitle , I guess you haven't done this.

[2016-07-09 01:40] Thegaram commented on #618
@AmineI I have actually. Had to change many lines due to the changes to messages and bot state handling. Also updated Web.config (MicrosoftAppID, MicrosoftAppPassword) and updated my registration to use V3. As mentioned, it works on other channels, and also in the new Channel Emulator.

[2016-07-09 01:44] AmineI commented on #618
Oh, okay then ! Which language are you working with ?

[2016-07-09 01:45] Thegaram commented on #618
C#.

[2016-07-09 01:45] sixpi commented on #618
I am also having trouble with Slack, Skype seems to work fine though. I am working with C#.

I created a new project using the new V3 bot application template, deploy it to an azure API app. All the bot connector stuff is already configured. When attach a remote debugger to my deployed app, I get a Microsoft.Rest.RestException with the message "Unable to deserialize the response."

[2016-07-09 01:46] sixpi commented on #618
The inner exception is {"Unexpected character encountered while parsing value: <. Path '', line 0, position 0."}

[2016-07-09 01:53] Stevenic commented on #617
thanks for the catch. they used to be strings but now they're a RegExp. which example are you seeing this in so I can fix them? thanks

[2016-07-09 01:56] Stevenic commented on #617
I see it. that explains why someone said that example didn't work. thanks for catching that.

[2016-07-09 01:57] sixpi commented on #618
The web chat also seems to work too.

[2016-07-09 02:02] Stevenic commented on #617
fixed the doc. thanks again

[2016-07-09 02:02] #617 closed

[2016-07-09 03:16] AmineI opened #619 "[Emulator] Changing the user name has no effect"
in the new (V3) emulator, changing the user name doesn't change anything, and the JSON data of sent (or received, in the recipient field) messages is always showing

[code]
regardless of the entered user name.

[2016-07-09 05:25] ubreddy opened #620 "not receiving any response on emulator"
Node SDK
getting 202 accepted message on emulator.
none of the examples work.
e.g. hello-Chatconnector... no response received even on postman.

need readme files to be updated to test on using emulator.

[2016-07-09 09:32] arieschwartzman opened #621 "Error in sample code of demo-skype in node library"
In the demo-skype example, you use these lines to show SigninCard

[code]
This causes exception: There is no function named **`title()`** in SigninCard, shoule be **`text()`**

[2016-07-09 09:56] ankitbko opened #622 "[CSharp] v3 - Skype showing neither list nor buttons"
Using v3 of framework, I published AnnotatedSandwichBot and added it to skype channel. Skype is not displaying the enum options as buttons or as a plain list. It shows up as an image. My skype version is -
7.25.0.106
![image](https://cloud.githubusercontent.com/assets/3169316/16707395/432bbf1a-45e9-11e6-8f3f-ac297dd23012.png)

Also in facebook, the list of sandwich option is not shown -
![image](h

[2016-07-09 10:55] drei13s opened #623 ".NET pendant to node.js"
The node js code I found in the docs:
[code]

Alright, the intents.match is the Attribute [LuisIntent(..)] in C#, but what is the equivalent method to "next()". For me the node.js code looks like "some kind" of Form in C# but there isn't any possibility yet that I know of to **easily** use LUIS with Forms. Or is there something? Also resolveTime is something that would be useful for C#.

[2016-07-09 11:47] chazwoza commented on #620
same issue for me since changing to V3 framework and v3 emulator... getting a "202 Accepted" but no responses/messages showing in emulator. Using console.log debug in my node.js bot, it is definitely actioning the response but the emulator not showing anything

[2016-07-09 11:49] chazwoza opened #624 "Since move to v3 - sample code tutorial is incorrect"
See getting started page here:
http://docs.botframework.com/en-us/node/builder/overview/#navtitle

Tutorial code doesn't work with emulator

[2016-07-09 11:57] chazwoza commented on #624
Example code on NPM doesn't work either... uses deprecated bot builder: https://www.npmjs.com/package/botbuilder

Please can you provide working examples and/or updates because something is not right with this 3.0.0 release.

[2016-07-09 15:38] OR13 commented on #624
@chazwoza You may find this example helpful:

http://docs.botframework.com/en-us/node/builder/guides/core-concepts/

I agree this v3 change is a bit wonky... I suppose requiring HTTPS is a good thing though...

[2016-07-09 15:59] AmineI commented on #620
Have you enabled auth ?
[Emulator doesn’t work when configured with the bots appId & appPassword] (http://docs.botframework.com/en-us/node/builder/libraries/latest/#known-issues)

[2016-07-09 18:18] tomlm commented on #126
We just release all new version of Bot Framework (V3) which includes new emulators which should fix a bunch of issues.

[2016-07-09 18:42] OR13 commented on #624
crazy how hard it is to use this framework now....

Emulator is broken, cannot be used to test.

Using VSCode, ngrok, ChatConnector and WebChat, I'm able to debug this simple Node app:

[code]

The server responds with 202 Accepted...
However, `session.send("Hello World");` fails to display on the WebChat.

I can see in the XHR requests for the WebChat that my initial message is properly added to

[2016-07-09 18:59] albhardy opened #625 "Bot V3 Forbidden"
Following code works locally, but I kept receiving "403 Forbidden" message after I deployed the code on Azure web apps. I'm pretty sure I've configured MICROSOFT_APP_ID and MICROSOFT_APP_PASSWORD in Azure Application Settings correctly (including restarting the server). Am I missing something here?

[code]

[2016-07-09 19:25] jrbaldwin commented on #622
We're experiencing this issue as well.

[2016-07-09 20:38] stevepkr84 opened #626 "V3 bot.send 401 Unauthorized - node.js"
I am implementing my bot using aws lambda. Everything was working ok with bot framework 1.0. I upgraded to 3.0 and can't seem to get it to work. The incoming requests are in this format:  http://pastebin.com/tSP2DkZW

I am then trying to send a reply using the code below:

`var reply = new builder.Message()
            .address({ bot: replyFrom, user: replyTo, channelId: channel, serviceUrl: servi

[2016-07-09 21:06] farizluqman opened #627 "Images/Attachments from bot to user not sending on Skype"
This is the message I received on the terminal when the bot try to send an image (using Node.js):

"Using old attachment schema. Upgrade to new card schema."

And there will only be a blue card with the link "Open"...

Why is this happening? And how to fix this?

[2016-07-09 21:23] tomlm commented on #618
thegram what is your bot id?

[2016-07-09 21:41] TheoRomain opened #628 "Basics-logging example middleware not running"
There is a small bug in the Basics-logging example [app.js](https://github.com/Microsoft/BotBuilder/blob/master/Node/examples/basics-logging/app.js) that causes the middleware to not run.

Botbuilder Version:
3.0.0

Reproduced by:
Running node app.js

Expected behavior:
Use of middleware to display "Logging is now turned on", "Logging is now turned off", "Message received: [message]"

Actual behav

[2016-07-09 22:16] AmineI commented on #625
This should work, I guess :
[code]

[2016-07-09 22:19] tomlm commented on #557
we use ConfigurationManager.AppSettings to pull from the config.  You can override this by passing the setting directly into the attribute:
[BotAuthentication(MicrosoftAppId="123123123123123123")]

[2016-07-09 22:26] vipulm commented on #618
I'm seeing the same exception when trying to reply to a message on the slack channel only.

...
at Microsoft.Bot.Connector.Conversations.<ReplyToActivityWithHttpMessagesAsync>d__7.MoveNext()

[2016-07-10 00:33] Thegaram commented on #618
@tomlm bot handle: platform_service, Microsoft App ID: 12fadc94-5c73-42e4-b2f6-01ea53fc62f5.

Checked again, it seems like on Slack I get the same exception as the others (on sending the reply from my dialog). On Skype the message doesn't even reach my controller (or at least the Post method).

[2016-07-10 00:54] Thegaram commented on #618
My guess according to the source code is that the connector's response to the following request is ill-formatted (for Slack): `POST v3/conversations/{conversationId}/activities/{activityId}`

The exception is from `Microsoft.Bot.Connector.Conversations.ReplyToActivityWithHttpMessagesAsync`. Here's the stacktrace:

[code]

[2016-07-10 02:11] OR13 commented on #625
@albhardy There are some relevant known issues:

[code]

if you are upgrading, you may need to switch to an endpoint with https.

Consider letsencrypt + ngrok for local testing, I've found the Emulator to be pretty broken, but its unclear to me if thats just me not getting the new version.

I suspect the implementation of this new secrete has required https, and ChatConnector is refusing to authen

[2016-07-10 02:30] chazwoza commented on #620
Yep saw that - i get a 202 Accepted but the emulator still doesn't show the bot's responses

[2016-07-10 02:42] chazwoza commented on #624
I think I was wrong in this issue.. the real issue here is the emulator doesn't work.

[2016-07-10 02:45] AmineI commented on #620
Erm, that's strange. I myself ran into some issues, but I actually got the basic hellobot sample working with the emulator just by disabling auth like above.
May I see a bit of your code ?

[2016-07-10 02:49] chazwoza commented on #620
var restify = require('restify');
var builder = require('botbuilder');
var request = require('request');

// Create chat bot
var connector = new builder.ChatConnector({
//    appId: process.env.MICROSOFT_APP_ID,
//    appPassword: process.env.MICROSOFT_APP_PASSWORD
});
var bot = new builder.UniversalBot(connector);

bot.dialog('/', function (session) {
  console.log("Hello world");
  session.send(

[2016-07-10 03:03] AmineI commented on #620
Definitely working here, without any code modifications. Probably a dumb question but have you updated the botbuilder module or the emulator correctly ? (You can check with npm ls botbuilder). Sometimes updating the module can be a bit tricky.

[2016-07-10 03:05] chazwoza commented on #620
Really? I'm getting nothing. Maybe its a problem with the emulator then.

npm ls botbuilder =

└── botbuilder@3.0.0

Does that look right to you?

[2016-07-10 03:17] AmineI commented on #620
Yeah, that's the last and the same as mine !
I don't understand what's going on. Emulator version 3.0.0.54 too, right ?

[2016-07-10 03:19] kiwidave72 opened #630 "emulator returns 200 but no text with v1 of bot"
seems to be an issue with the latest emulator working with and old bot.

the sample "You sent {length} characters" template runs ok, but the emulator isnt displaying the text from the bot.

ive tried the console and it to has the same issue.

i can debug the Message object and see that the text is set. but its just not getting displayed with in the emulator.

i havent looked with fiddler yet, but

[2016-07-10 03:21] chazwoza commented on #620
Yep I'm on 3.0.0.54

What version of nodejs? I'm on 4.4.3 / Windows 10

[2016-07-10 03:25] AmineI commented on #620
Ahhhh that's probably it. I have read somewhere that some new dependencies needs a new version of nodejs. I'm myself on 6.2.2 / Windows 10, you should try updating :)

[2016-07-10 03:32] chazwoza commented on #620
Upgraded to 6.3 - still not working :(

Works fine with Console Connector instead of chat connector...

On 10 July 2016 at 11:25, Amine I. <notifications@github.com> wrote:

[2016-07-10 03:40] ubreddy commented on #620
you need to set the emaulator url to localhost:9000 Uday

    On Sunday, 10 July 2016 8:15 AM, Amine I. <notifications@github.com> wrote:

 Erm, that's strange. I myself ran into some issues, but I actually got the basic hellobot sample working with the emulator just by disabling auth like above.
May I see a bit of your code ?—
You are receiving this because you authored the thread.
Reply to this

[2016-07-10 03:42] AmineI commented on #620
Isn't it the default preset ? Plus why would I receives the 202 Accept if it was not set ? But well let's try anyway.

[2016-07-10 03:45] chazwoza commented on #620
Ok, setting it from 127.0.0.1 to localhost has done the trick - emulator working now.

Thanks :) :+1:

[2016-07-10 03:47] AmineI commented on #620
Great to know. What about the initial issue @ubreddy ? The hellobot-ChatConnector works on my side with disabled auth too.

[2016-07-10 04:15] ubreddy commented on #620
the emulator runs a server @ port 9000. so, the emulator url should be localhost:9000. Not documented well.@Amine what initial issue?  Uday

    On Sunday, 10 July 2016 9:17 AM, Amine I. <notifications@github.com> wrote:

 Great to know. What about the initial issue @ubreddy ? The hellobot-ChatConnector works on my side with disabled auth too.—
You are receiving this because you were mentioned.
Re

[2016-07-10 04:47] ubreddy opened #631 "webchat not working"
The chatbot is working on skype. but on webchat channel, it is not working.
on ngrok console I notice this difference between the two.
skype: 202 and 100
webchat: 202 only.

[2016-07-10 05:01] alexsorokoletov commented on #631
I can also reproduce the problem with the hello world sample
https://github.com/Microsoft/BotBuilder/blob/master/Node/examples/hello-ChatConnector/app.js

For me, bot works in Skype and Telegram, but doesn't work in webchat and facebook.
Tracing requests I see that the node server sends responses ("Hello World") back, I assume they're lost somewhere in between

[2016-07-10 13:06] albhardy commented on #625
Thanks for the reply - The reason I updated AppId into MicrosoftAppId is because of similar issue in SO: http://stackoverflow.com/questions/38278975/bot-framework-v3-unauthorized and I'm aware issue of Emulator v3.

However, I post the issue is because I could not get "Test Connection to my Bot" in https://dev.botframework.com/ working after I push my code into Azure Apps and used https connection

[2016-07-10 14:59] albhardy commented on #625
Apparently appId and appPassword are correct keys - I manage to (briefly) obtain following:

![image](https://cloud.githubusercontent.com/assets/1732018/16714287/f235b2d8-46f0-11e6-8aa4-4ba565759235.png)

But, pressing test again will result in

![image](https://cloud.githubusercontent.com/assets/1732018/16714302/24a21b12-46f1-11e6-9ae0-a149b7b900d0.png)

I'm kinda stuck here because Bot Framework

[2016-07-10 15:20] albhardy commented on #625
It might be Framework issue as reported in  #631 - I could confirm that the bot is working on Telegram Channel but not on Skype

[2016-07-10 16:14] AmineI commented on #620
"getting 202 accepted message on emulator.
none of the examples work.
e.g. hello-Chatconnector... no response received even on postman."
Is it working now ? I personally receive response in the emulator

[2016-07-10 16:16] ubreddy commented on #620
yes. it is working. Uday

    On Sunday, 10 July 2016 9:44 PM, Amine I. <notifications@github.com> wrote:

 "getting 202 accepted message on emulator.
none of the examples work.
e.g. hello-Chatconnector... no response received even on postman."
Is it working now ? I personally receive response in the emulator—
You are receiving this because you were mentioned.
Reply to this email directly, view it

[2016-07-10 17:47] gosha1 commented on #627
These cards aren't supported in the current version of skype.
Please see this - http://docs.botframework.com/en-us/skype/getting-started/#developer-version-of-the-skype-web-app

You should test Skype bots using the developer version of the Skype Web App until updated Skype apps for desktop and mobile are available at the end of July.
•Go to https://web.skype.com
•Sign in using your Skype credentia

[2016-07-10 17:48] gosha1 commented on #622
These cards aren't supported in the current version of skype.
 Please see this - http://docs.botframework.com/en-us/skype/getting-started/#developer-version-of-the-skype-web-app

You should test Skype bots using the developer version of the Skype Web App until updated Skype apps for desktop and mobile are available at the end of July.
•Go to https://web.skype.com
•Sign in using your Skype credenti

[2016-07-10 18:14] gosha1 opened #632 "Slack not working after upgrading to version 3.0"
Slack status is shown as *Sorry, \<Bot-Name\> is having a problem responding right now.*
The bot works fine in emulator and in skype. I'm using C#.

[2016-07-10 20:28] Stevenic commented on #630
I believe you have to use the old emulator with old bots. adding Tom to confirm that.

[2016-07-10 20:30] Stevenic commented on #628
good catch. I'll update that. The schema for that changed early last week. forgot to go through the examples.

[2016-07-10 20:52] Stevenic commented on #628
fixes checked in

[2016-07-10 20:52] #628 closed

[2016-07-10 20:55] Stevenic commented on #627
As @gosha1 said, you need to upgrade to the developer version of the skype client.  To get rid of the warning you're seeing use the new card builders to create your attachments.  see the demo-skype bot in the examples directory for samples of this.

[2016-07-10 20:55] #627 closed

[2016-07-10 20:59] Stevenic commented on #626
so you shouldn't really tamper with the internals of the address object as you're risking things not working. You should take the address object from an incoming message, save it somewhere, and then assign that to your outgoing reply.

Can you maybe share more of your code so I can get a better sense for what you're trying to achieve?

[2016-07-10 21:01] pke opened #633 "Examples are missing Slack integration"
The blog post about version 3.0 promised an all new unified way to communicate with slack. Yet, no explaination is given how this works. Worse, the examples still feature the `SlackBot` which was removed in v3.0

So give us some guidelines how to use BotBuilder with Slack again. Thanks

[2016-07-10 21:05] Stevenic commented on #625
@albhardy the correct fields you should be setting are `appId` and `appPassword`. It's true that your bot won't work against the emulator when you do that (it's an issue with the Node SDK not the emulator) but you should be able to get your bot working locally via ngrok.

[2016-07-10 21:09] Stevenic commented on #633
Just realized we didn't update the Readme.md for the examples to reflect the current samples. I'm planning to rework the old samples to show great examples for each channel as to what you can do. If you look at the demo-skype example it should mostly work for Slack.

[2016-07-10 21:27] Stevenic commented on #622
yes... you have to use the developer version of the skype client to see the cards.

[2016-07-10 21:27] #622 closed

[2016-07-10 21:29] pke commented on #633
I see. I'm especially interested in the slack action buttons, since the blog entry promised support for them.

[2016-07-10 23:44] Stevenic commented on #621
good catch. Just checked in a fix :)

[2016-07-10 23:44] #621 closed

[2016-07-10 23:58] Stevenic commented on #633
Using `channelData` (`sourceEvent` in the node SDK) you can support just about any native feature of the underlying channel. If you look at the docs below that should get you started.

http://docs.botframework.com/en-us/csharp/builder/sdkreference/channels.html#customslackmessages

You just need to use [Message.sourceEvent({ slack: {} )](http://docs.botframework.com/en-us/node/builder/chat-referen

[2016-07-11 01:41] amoldeshpande opened #634 "having a private generic method in LuisDialog breaks it"
my class derived from LuisDialog contains this method:

private async Task doNothing<T>(String x) where T: SomeBaseClass
        {
            await Task.Delay(0);
        }

This causes my overriden MessageReceived which to throw at this line:

await base.MessageReceived(context,response)

the exception is
Exception thrown: 'System.ArgumentException' in mscorlib.dll
Cannot bind to the target meth

[2016-07-11 02:11] designdit opened #635 "Some Prompt types do not work - v3, node, kik"
Hello,

Tried the following to send a message and then a prompt immediately after.  The prompt types for text, number, attachment, and time work - they are all received by the message recipient, whether or not they are the sent after an initial "session.send" message.

The prompt types for choice and confirm do not work - only the "session.send" message is received and if it is commented, then not

[2016-07-11 02:26] amoldeshpande opened #636 "autofac exception when upgrading to v3"
trying to upgrade my bot to 1.3 and I get an 'Autofac.Core.DependencyResolutionException when I send a message from the emulator.

the inner exception is:

{"Value cannot be null.\r\nParameter name: ServiceUrl"}

This happening right in my Post() method where I do

          if (activity != null && activity.GetActivityType() == ActivityTypes.Message)
            {
                await Conversatio

[2016-07-11 02:45] cheahengsoon opened #637 "For Phone Call Function and Map Navigation"
Is that Possible to have Phone Call Functions and Map Navigation in Bot?

Thank You.

[2016-07-11 03:52] ankitbko commented on #622
@gosha1 Thanks for the info.
@Stevenic There is an issue with fb also which I have posted above. Am I the only one facing this?

[2016-07-11 04:51] ChuckkNorris opened #638 "Thumbnail Card doesn't render correctly in Skype"
It works fine in the emulator, but when I deploy it renders as a picture link I need to open - once clicked, it navigates to Skype Online.

Bot ID: 865c519c-ef60-4db4-9f83-fb88e077fc81
The bot is located here: https://homeadvisortestbot.azurewebsites.net/api/messages

I'm fairly sure I'm setting the ContentType attribute correctly, but if not, an enum would be nice and provide some direction.

![I

[2016-07-11 04:56] ChuckkNorris commented on #618
It looks like the Activity sent from skype has a `<` character at the beginning.
Could you post the JSON being sent to the bot from Slack and compare it to the request sent from Skype?

[2016-07-11 05:27] rohit2912911 commented on #624
getting same error with .net code also..

[2016-07-11 05:52] rohit2912911 opened #639 "V3 bot getting 500 error- .net"

[2016-07-11 05:57] rohit2912911 commented on #639
facing this issue in the sample code..

[2016-07-11 07:14] gosha1 opened #640 "Sign-In card not rendering in developer version of skype web app - V3"
All other cards are being rendered properly in skype. Also, the sign-in card is displaced correctly in emulator.
The below error is shown. When can we expect the card to render properly in skype developer version?

![capture](https://cloud.githubusercontent.com/assets/20385477/16722600/532f4d32-4765-11e6-917f-eb85d7012e32.PNG)

[2016-07-11 07:19] ankitbko opened #641 "[C#] Skype buttons with images not showing up from FormFlow."
So I have a dynamic field in a form and in `SetDefine` I add image to the field like `field.AddDescription(car.Name, Language.CamelCase(car.Name), car.Image)` where car.Image is a http link to a png. I have set prompt choice style to Auto.
This shows up in emulator as button with image at side, but doesn't in skype (developer).

In general, with new support such as Hero Card, Reciept card, Carouse

[2016-07-11 07:22] ankitbko commented on #638
You will need to use Skype Developer web app for v3 bots. http://docs.botframework.com/en-us/skype/getting-started/#navtitle

[2016-07-11 07:31] ankitbko opened #642 "Facebook list with more than 3 members not diplaying"
In facebook messenger, buttons are just not displayed if the choices exceed 3. This used to work earlier. The buttons in fb used to display as groups of 3.

Below is the screenshot of Annotated Sandwich Bot, notice how the initial list of sandwich options are not displayed.

![](https://cloud.githubusercontent.com/assets/3169316/16707403/a4a151ec-45e9-11e6-97f4-73ffe11e4a8a.png)

[2016-07-11 07:33] ankitbko commented on #639
Can you provide more information such as which sample code is throwing error and stack trace of the error?

[2016-07-11 07:37] rohit2912911 commented on #639
public async Task<HttpResponseMessage> Post([FromBody]Activity activity)
        {
            if (activity.Type == ActivityTypes.Message)
            {
                ConnectorClient connector = new ConnectorClient(new Uri(activity.ServiceUrl));
                // calculate something for us to return
                int length = (activity.Text ?? string.Empty).Length;

                // return

[2016-07-11 08:05] ankitbko commented on #639
Can you post the stack trace of the error? I assume you are testing though emulator.

[2016-07-11 08:43] rohit2912911 commented on #639
yes i running this in emulator version 3.0.0.54..    >

while call stack I am getting this
Bot Application1.dll!Bot_Application9.MessagesController.Post(Microsoft.Bot.Connector.Activity activity) Line 30

[2016-07-11 09:54] NanashiGIT opened #643 "V3: UserData not being saved"
Hello!
Ive updated to V3 but im facing the issue, that the user data is not being saved.
My code:
[code]
**------------------------Update----------------------**
If i do:
[code]
botdata2 is not empty. but when i send another message, the data is gone. An im 100% sure that the UserId is still the same and i dont delete any data anywhere.
**-----------------------------------------------------------

[2016-07-11 10:56] ankitbko opened #644 "Facebook Receipt not displayed"
I followed [documentation](http://docs.botframework.com/en-us/csharp/builder/sdkreference/attachments.html) and created a Receipt reply which works with Skype but not with Facebook. Facebook Messenger [supports](https://developers.facebook.com/docs/messenger-platform/guidelines) rich card including carousal and receipt. Is fb supported for these kinds of messages?

[2016-07-11 11:20] eddie1976 opened #645 "Is there Direct Line API V3.0?"
I found Direct Line API V1.0 is not working after upgrading Bot Framework Version 3.0. So please clarify.

1. Direct Line API V1.0 is not working in Bot Framework Version 3.0?
2. There will be Direct Line API V3.0?

Thanks!

[2016-07-11 13:15] #614 closed

[2016-07-11 13:34] vk4421 commented on #577
No "restore package" option. nothing sorted.

[2016-07-11 13:50] ankitbko opened #646 "Skype not working when switching back to v1"
I was testing out v3 and migrated my bot. But due to unavailability of skype application, I reverted back to v1. But now the skype channel is no more working whereas facebook channel works. Also I am not able to open my application [here](https://developer.microsoft.com/en-us/skype/bots/manage). It is just showing following message.
![image](https://cloud.githubusercontent.com/assets/3169316/16732

[2016-07-11 14:21] arieschwartzman commented on #631
Same here. Skype, Slack and Emulator works. I can see this error in Browser's debug window when sending text to the bot

[code]

[2016-07-11 15:02] filipeperdigaosousa opened #647 "Node.js - Attachments, Cards and Actions"
Hi,
I'm currently lookup the bot builder capabilities for the new version.
I saw that there are some examples about how to use cards, attachments and this kind of stuff through the .Net SDK.
Where can I found some example of that for Node.js?

Thanks

[2016-07-11 16:09] amoldeshpande commented on #636
ok, I figured out that this was because I was till running the .2 version of the emulator (I guess I expected it to auto-update, but I see why it doesn't). Anyway, now I'm getting this (running a debug version of botbuilder that I built out of github)

iisexpress.exe Warning: 0 : Invalid token. System.ArgumentNullException: Value cannot be null.
Parameter name: securityToken
   at System.IdentityM

[2016-07-11 16:24] amoldeshpande commented on #636
I had to set my MicrosoftAppId in the web.config as well as the emulator to an empty string to get past this.

[2016-07-11 16:24] #636 closed

[2016-07-11 17:07] thingista commented on #618
I just meant to add I am having the same problems (Slack & Skype) as @Thegaram, but with the Node version.
In the bot framework dashboard, Slack's status is "error" and the message given is:

I am not really sure what it means though, and I am not sure how to debug this.

[2016-07-11 17:31] Thegaram commented on #618
@ChuckkNorris You mean the Activity from *Slack* has a `<` character? I don't think so, as the exception occures during reply, not during the first deserialization. The stacktrace above suggests that, when posting the reply message, the answer from https://slack.botframework.com/ begins with that character.

Nevertheless, here's the Activity from Slack:

[code]

[2016-07-11 17:32] shloak opened #648 "Facebook and Web chat do not work - V3"
After migrating to V3 and changing settings in bot framework portal, Facebook and webchat are not working. When I test connection on the portal, it says the endpoint authorization succeeded and my c# code works on my local machine through the emulator. However, Facebook messenger, which was working with V1, now gives the error "sorry, *bot name* is having a problem responding right now", and web c

[2016-07-11 17:58] amoldeshpande commented on #634
here's a diff that made things work for me. works (why try to find handlers for methods which are not LuisIntents ?), but there may be a more elegant way of doing the same.
[code]

[2016-07-11 18:10] willportnoy commented on #634
Thank you for the report - there was a similar issue https://github.com/Microsoft/BotBuilder/issues/435 that I was unable to reproduce (we have a relevant test as well).

The code uses the method name as the default name for the LUIS intent:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/LuisDialog.cs#L225

which is why we don't skip the loop for an empty attributes ar

[2016-07-11 18:12] gosha1 commented on #646
+1

[2016-07-11 18:41] rmatosaw opened #649 "v3 Error sending menssages"
Hi guys,

I migrated to v3.

In emulator the application runs well. But in IIS I received an error.

The test in the bot website runned well, I received the messages and saved, but the answer produces this error.

Does any one knows how to solve?

Thanks

System.UnauthorizedAccessException: Security token for MicrosoftAppId: xxxxxxxxxx[I removed]xxxxxxxxxxxxxx is unauthorized to post to connector!

[2016-07-11 18:45] javi-jamaa commented on #327
HI @Stevenic , can you send me an example to do this Node.js? Huge thanks.

[2016-07-11 18:50] alex182 commented on #648
I am having the same issue (C#, V3).

Facebook, Groupme, and Telegram webchats return "sorry, bot name is having a problem responding right now".

While Kik, Twilio, Skype, and Slack do not return a response.

When I test my bot connection on dev.botframework.com I get a response of "accepted"

When ran using the local emulator it works fine if I leave MicrosoftAppId and MicrosoftAppPassword blank

[2016-07-11 19:11] vk4421 opened #650 "Severity Code Description Project File Line Suppression State Error Unable to resolve dependencies. 'Microsoft.Rest.ClientRuntime 2.3.0' is not compatible with 'Microsoft.Bot.Connector 1.1.0 constraint: Microsoft.Rest.ClientRuntime (>= 1.8.2 && < 2.0.0)'."
Please help me to resolve this issue. Microsoft.Rest.ClientRuntime is not updating and i need to update my bot to get it working ASAP.

![image](https://cloud.githubusercontent.com/assets/11028951/16743331/6817032a-47c9-11e6-8e41-9bb63775b3fd.png)

[2016-07-11 19:12] danmarshall commented on #115
Hi @larsontim , this is a great idea and we've heard others ask for this, so we're considering open sourcing it.

[2016-07-11 19:22] vk4421 commented on #650
I got this error when i published my bot to azure and tested my connection with bot (published bot to azure ignoring above error in screenshot).

InternalServerError
{
  "message": "An error has occurred.",
  "exceptionMessage": "Could not load type 'System.IdentityModel.Tokens.TokenValidationParameters' from assembly 'System.IdentityModel.Tokens.Jwt, Version=5.0.0.127, Culture=neutral, PublicKeyT

[2016-07-11 19:24] rmatosaw commented on #646
The same for me. Also, e-mail Office 365 is not running.

All the other channels are running well (it was necessary to resubmit Telegram key).

[2016-07-11 19:24] eanders-MS commented on #563
Closing this issue. If you're still having a problem please create a new issue and we'll troubleshoot.

[2016-07-11 19:24] #563 closed

[2016-07-11 19:27] rmatosaw commented on #648
Same for me. It is related to some kind of permission. This error occurs when answering messages:

System.UnauthorizedAccessException: Security token for MicrosoftAppId: xxxxxxx is unauthorized to post to connector!
   at Microsoft.Bot.Connector.JwtTokenRefresher.<SendAsync>d__2.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerSer

[2016-07-11 19:45] 0GiS0 commented on #635
I tested with Skype and you get an attachment, not the choices

![prompt choices](https://cloud.githubusercontent.com/assets/175379/16744283/aae0ecca-47b0-11e6-89e9-bae8692c21c1.PNG)

[2016-07-11 19:59] vk4421 commented on #650
There is same error everywhere

![image](https://cloud.githubusercontent.com/assets/11028951/16744715/f7ba27d6-47cf-11e6-8d19-ccc8fa3ca04a.png)

![capture](https://cloud.githubusercontent.com/assets/11028951/16744744/21f38ac4-47d0-11e6-99d7-9978feb25b93.PNG)

[2016-07-11 20:00] #463 closed

[2016-07-11 20:00] #421 closed

[2016-07-11 20:02] gfpacheco opened #651 "Error: Cannot find module 'jwa'"
I setup an Azure Web App with deployment form GitHub.
Pushed the sample bot code from [Core Concepts](http://docs.botframework.com/en-us/node/builder/guides/core-concepts/).
Registered a new bot in https://dev.botframework.com.

But when I test connection to my bot the answer is `InternalServerError`.

The Azure log stream says:

[code]

[2016-07-11 20:21] stevepkr84 commented on #647
Some good examples here: https://github.com/Microsoft/BotBuilder/blob/master/Node/examples/demo-skype/app.js

[2016-07-11 20:22] tomlm commented on #618
we have a fix for this which should be available by end of day.

[2016-07-11 20:28] willportnoy commented on #634
Fyi, I was able to reproduce the issue and have submitted a fix for code review.

[2016-07-11 20:29] willportnoy commented on #637
Can you elaborate more?  There is support for Skype calling bots:

http://docs.botframework.com/en-us/csharp/builder/sdkreference/calling.html

[2016-07-11 20:40] willportnoy commented on #645
Are you using the latest nuget package?

https://www.nuget.org/packages/Microsoft.Bot.Connector.DirectLine/

It should be working, as far as I know.  Do you see a specific error message?

[2016-07-11 20:41] tomlm commented on #642
hmmm. this is working for me. Are you setting title or text property on the attachment?

[2016-07-11 20:42] amoldeshpande commented on #634
sorry was out for a bit. I'm on Windows. good to know you found a repro anyway.

I personally don't see a problem with forcing people to decorate with an attribute (it makes the association explicit, which seems to me a good thing ) or not crawling private methods.

I'll keep an eye on this issue for the fix so I can revert my local change. thanks!

[2016-07-11 20:46] willportnoy commented on #639
Your stack trace doesn't seem to be complete.  Does your web.config have the correct settings?

http://docs.botframework.com/en-us/support/upgrade-to-v3/#updates-to-the-auth-properties-in-webconfig

[2016-07-11 20:46] tomlm commented on #630
Correct, the v3 emulator I s called Bot Framework CHANNEL emulator and only works with v3 schema
.
The old emulator is "Bot Framework Emulator" and only works with V1 schema

[2016-07-11 20:46] #630 closed

[2016-07-11 20:55] 0GiS0 commented on #635
It looks like if you set the listStyle it works... at least in Skype:

  builder.Prompts.choice(session,"Propmt demo","a|b|c",{listStyle: builder.ListStyle["list"]});

[2016-07-11 21:00] jorenl commented on #608
Thanks for the report. This behavior is currently not supported, (the user can say "1" or "1st" but "first" would not work). I put together [a small patch](https://github.com/Microsoft/BotBuilder/commit/a7a1543d744e6af771074782d271cf5896736e70) to allow this. I still need to test it some, but I will post when we merge this into master!

[2016-07-11 21:14] alexsorokoletov commented on #649
@rmatosaw please make sure you specified app id and password for your bot.

[2016-07-11 21:47] willportnoy commented on #577
The lack of a "restore packages" option makes me think you don't have the .NET Core tooling for Visual Studio installed - e.g. https://www.visualstudio.com/news/releasenotes/vs2015-update3-vs

[2016-07-11 22:21] hgjkant commented on #608
Ah thanks! To add to this, I know "last" isn't technically an ordinal, but I guess it will be used as well. If this could also be recognized (resulting in infinity for example), that'd be nice :)

[2016-07-11 23:07] jorenl commented on #608
Thanks for the suggestion! Currently, the choice prompt uses the number recognizer internally, and it wouldn't be great to have 'last' be recognized as a number outside of choice prompts - but I'll take a look and see if there's a reasonable approach that would support that also.

[2016-07-11 23:09] eddie1976 commented on #645
I didn't use nuget package. I got "(500) Internal Server Error" when I send Message. So should I use the latest nuget package released on 2016/7/8?

[2016-07-11 23:15] willportnoy commented on #602
I added this commit https://github.com/Microsoft/BotBuilder/commit/fa07e71774fc3e8ed7e943f22f48b891e806f32a to provide a better error message in this situation.  Feel free to open a new issue for further discussion.

[2016-07-11 23:15] #602 closed

[2016-07-11 23:19] willportnoy commented on #645
Yes, I would use the latest nuget package.

[2016-07-11 23:29] eddie1976 commented on #645
Okay. I will try it later today. And may I know that is there any change to Direct Line after Bot Framework Version V3.0 released?

[2016-07-11 23:35] danmarshall commented on #651
Hi @gfpacheco , can you show the code in your module.js ?

[2016-07-11 23:47] danmarshall commented on #640
Hi @gosha1 , I just did a quick test and can see a sign-in card in Skype Developer version. Can you give more details, what are you trying to sign in to?

[2016-07-12 00:43] msft-shahins commented on #650
I am seeing `Microsoft.Bot.Connector 1.1.0` in the title of the issue. Make sure to remove the dependency to Microsoft.Bot.Connector from your project since connector.dll is now packaged inside Microsoft.Bot.Builder.

[2016-07-12 00:47] msft-shahins commented on #648
@alex182 and @rmatosaw can you try with the updated version of [nuget v3.0.1](https://www.nuget.org/packages/Microsoft.Bot.Builder/3.0.1) and see if it solves the problem? We had a bug in the MicrosoftAppCredentials implementation that should be fixed in the new package.

[2016-07-12 00:49] OR13 commented on #624
The same exact code which produced 204 with no conversation messages added for WebChat and SMS works with Telegram.

Using ngrok, LetsEncrypt, VSCode, ChatConnector and Telegram, I am able to debug my bot, and I do receive responses in the Telegram client.

@Stevenic hopefully this helps. Maybe step through a response with (WebChat or SMS) and Telegram, there must be something wrong here, but I'm

[2016-07-12 01:02] Thegaram commented on #618
@tomlm Great news! I'm still getting `Unauthorized` on the Skype channel though. Should I open a separate issue for that?

[2016-07-12 01:18] #620 closed

[2016-07-12 01:40] designdit commented on #635
Thanks - setting the listStyle with builder.Prompts.choice also works in kik.

[2016-07-12 01:47] Stevenic commented on #647
Yes... Start with the demo bot. Better docs and more examples are coming.

[2016-07-12 01:47] #647 closed

[2016-07-12 01:49] Stevenic commented on #624
@OR13 upgrade to v3.0.1 ad please let me know if you're still seeing issues.

[2016-07-12 01:49] Stevenic commented on #626
CLosing this as we worked through this on gitter

[2016-07-12 01:49] #626 closed

[2016-07-12 01:59] Stevenic commented on #448
@NTruchaud sorry for the delay. still having problems?

[2016-07-12 01:59] dandriscoll commented on #631
Thanks for reporting. We're still seeing occasional bots generating 403/500 in this API. I made some fixes about a week ago but it looks like you're hitting problems still.

[2016-07-12 02:03] Stevenic commented on #327
sure...

[code]

[2016-07-12 02:11] rmatosaw commented on #649
Hi, I created a new Bot I had success with some of the connectors (new Id new password).
But:
- after update do 3.0.1: problems with reference (Bot.Connector)
- Facebook cannot allows to change the webhook page
- Error 500 running de application.

Thanks

[2016-07-12 02:14] Stevenic commented on #19
+shahin

[2016-07-12 02:16] Stevenic commented on #585
we're trying to get a few bugs with 3.0 of the SDK ironed out and then we'll be looking into adding support for these new features.

[2016-07-12 02:18] Stevenic commented on #590
Just fixed this in v3..0.1

[2016-07-12 02:18] #590 closed

[2016-07-12 02:30] msft-shahins commented on #649
Can you elaborate more on your issues? I cannot understand clearly what is the issue. does your bot work with emulator or any of the channels?

[2016-07-12 02:33] msft-shahins commented on #501
Closing this, assuming that the issue is resolved. Feel free to open it again, if you have more follow up questions.

[2016-07-12 02:33] #501 closed

[2016-07-12 02:45] rmatosaw commented on #649
Sorry. I tried many things to try to solve at the same time.

My situation now: error 500 running the emulator and the site.

When I test from the bot page, the result is:

InternalServerError
{
  "message": "An error has occurred.",
  "exceptionMessage": "Could not load type 'System.IdentityModel.Tokens.TokenValidationParameters' from assembly 'System.IdentityModel.Tokens.Jwt, Version=5.0.0.127,

[2016-07-12 02:47] rmatosaw commented on #649
The DLL version in the directory is System.IdentityModel.Tokens.Jwt, Version=5.0.0.127

[2016-07-12 03:23] rmatosaw commented on #648
Hi. Thanks for the tip.
After upgrade, I have a different problem, about references as mentioned in the other post:

InternalServerError
{
  "message": "An error has occurred.",
  "exceptionMessage": "Could not load type 'System.IdentityModel.Tokens.TokenValidationParameters' from assembly 'System.IdentityModel.Tokens.Jwt, Version=5.0.0.127, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.",
  "

[2016-07-12 03:25] ChuckkNorris commented on #638
Thanks, buddy!
Do you have any idea if any of the V3 stuff will be available within Facebook or Slack integrations?

[2016-07-12 03:25] tomlm commented on #638
It is supported today.

[2016-07-12 03:32] msft-shahins commented on #648
@rmatosaw how do you end up with this dependency: 'System.IdentityModel.Tokens.Jwt, Version=5.0.0.127, Culture=neutral, PublicKeyToken=31bf3856ad364e35'? Bot builder nuget is dependent on [id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351"](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Builder.nuspec#L32). Is it the case that you have another dependen

[2016-07-12 03:33] alexsorokoletov commented on #631
I see this problem also, webchat is not working for me, though chrome console shows bit different errors
https://www.dropbox.com/s/5cssfoqe88wodol/Screenshot%202016-07-11%2023.30.02.png?dl=0

[2016-07-12 03:34] alexsorokoletov commented on #648
3.0.1 made facebook work for me, node.js

[2016-07-12 04:05] ankitbko commented on #642
@tomlm I just published annotated sandwich bot. It is only happening in v3. I also checked with my other bots and all are facing same issue. If I switch back to v1 it works fine.

[2016-07-12 04:16] rmatosaw commented on #648
Removed all the references and added again, by nuget. After rewrite some references in web.config it worked!
Thanks a lot.
The only problem still occurring: in the bot site: error 500 for skype and alerts for all of the other channels.
Thanks

[2016-07-12 04:18] rmatosaw commented on #649
problem solved. Thanks!

[2016-07-12 04:21] #638 closed

[2016-07-12 04:30] yuyuvn commented on #642
my bot not even show buttons when there are 2 choices
[code]
<img width="195" alt="capture" src="https://cloud.githubusercontent.com/assets/6410496/16755189/06c6d4fa-4824-11e6-87fd-fb1c7e9db75f.PNG">

[2016-07-12 04:35] dandriscoll commented on #645
The existing version of Direct Line will work with v1 and v3 Bot Framework bots. We'll release a new version of Direct Line in the future.

Cheers
--Dan

[2016-07-12 04:35] #645 closed

[2016-07-12 04:36] dandriscoll commented on #610
This is a known limitation if the current version of the web chat control. We're planning to release a new version in the future.

[2016-07-12 04:36] #610 closed

[2016-07-12 04:37] xumx commented on #625
Can confirm there is a bug somewhere upstream.

I've set up the environment on localhost ngrok
and used appId and appPassword, and successfully got back an access_token.

When testing connection to the bot using the web UI (as albhardy screenshot), it randomly switches between "Accepted" and "Forbidden"

I clicked it around 10 times, gets around 4 "Forbidden".

There might be a load balancer somew

[2016-07-12 04:41] dandriscoll commented on #604
Both the v1 and v3 protocols have support for this, but most channels never report this information. (For example, on SMS, the user never actually leaves the conversation.)

[2016-07-12 04:42] dandriscoll commented on #589
We don't have a way to pass this through but it's a good use case and I'll take a look for the next version,

[2016-07-12 04:47] dandriscoll commented on #560
The "channel" side of the Bot Connector doesn't expose this, but you can send your custom data to/from the bot via the ChannelData field on the DirectLine message -- it shows up verbatim on the bot side.

Would this solve the problem? If not, I'm interested to hear about your requirements.

[2016-07-12 04:49] dandriscoll commented on #530
That's a good observation. I'll make a note that v1 bots upgrading to v3 should consider the HTTPS requirement.

[2016-07-12 04:49] #487 closed

[2016-07-12 04:52] dandriscoll commented on #442
The new version is available at http://www.nuget.org/packages/Microsoft.Bot.Connector.DirectLine/1.0.2 and it should fix this problem. Let me know if it doesn't. Thanks!

[2016-07-12 05:03] gfpacheco commented on #651
Weird, disconnecting the deployment source from Azure and connecting again solved the problem.

[2016-07-12 05:03] #651 closed

[2016-07-12 05:29] rohit2912911 commented on #604
Thanks.. Can you tell me how to do this in webchat?

[2016-07-12 05:29] designdit commented on #635
listStyle "button" doesn't work on kik - the prompt is not received by the user, same as if listStyle isn't used at all for the choice prompt.

[2016-07-12 05:39] rohit2912911 commented on #639
web.config setting..tell me if something wrong in it...

<appSettings>

    <add key="BotId" value="YourBotId" />
    <add key="MicrosoftAppId" value="" />
    <add key="MicrosoftAppPassword" value="" />
  </appSettings>

[2016-07-12 05:40] rohit2912911 commented on #639
<appSettings>

    <add key="BotId" value="YourBotId" />
    <add key="MicrosoftAppId" value="" />
    <add key="MicrosoftAppPassword" value="" />
  </appSettings>

[2016-07-12 06:26] eddie1976 opened #652 "Anyone use Direct Line API in V3?"
I can Send Message (conversationId, from, text) in V1 but I got 500 error in V3. However, I was told that NuGet package (Microsoft.Bot.Connector.DirectLine) is ok in V3. Anyone use Direct Line API in V3?

According to http://docs.botframework.com/en-us/restapi/directline/#!/Conversations/Conversations_GetMessages, I am a little bit confused.

_The client may send messages to the bot by calling POS

[2016-07-12 07:16] Huskitch opened #653 "500 Internal Server Error in emulator - V3"
I've recently upgraded my bot to the new V3 bot framework, and since then I've been getting 500 InternalServerErrors in the emulator and the "sorry, the bot is having trouble responding" messages in Slack, breakpoints anywhere in the method below don't get triggered at all so I can't really get a stack trace.

[code]

This code is the default VS template code, with the correct Web.config settings.

[2016-07-12 07:41] rsciarretta commented on #649
Could you provide more details on how did you solve the issue?
I still have the problem with my solution.
Thanks!

[2016-07-12 07:42] 0GiS0 commented on #648
Hi folks,

I've updated to 3.0.1 for Node.JS but Webchat doesn't work (no answer). Skype and Telegram work fine.

Thanks,

[2016-07-12 07:51] DirkSonguer opened #654 "Dialog or session state not persisted in console emulator"
**Summary**: When using the command line emulator, dialogs are not followed through the waterfall + session data is not kept. Instead with every interaction the user does seems to be treated as new interaction.

**Tested With**:
- Botbuilder v3.0
- Microsoft Bot Framework Channel Emulator v3 (console, Mac OS 10.10.5)
- Microsoft Bot Framework Channel Emulator v3 (GUI, Windows 10)
- Node 4.4.7 on b

[2016-07-12 08:10] joannapod opened #655 "Sample tutorial doesn't work on new build"
I am getting the following errors when running the sample tutorial code with the latest Nuget update (3.0.1) and the latest Bot Framework Emulator:

"An error occurred while sending request --> The underlying connection was closed: Unexpected error occurred on send.
System.IO.IOException: The handshake failed due to an unexpected packet format"

Is there a bug? Everything was working fine last wee

[2016-07-12 08:33] DirkSonguer commented on #654
This still happens with Botbuilder 3.0.1. The output in console from the app is more verbose now:

Input in console emulator:

Output in node console:
[code]

[2016-07-12 08:37] eddie1976 commented on #652
Ok. I found out where the problem is. What I saw 500 error when I 'Send Message' is due to Direct Line can't access my endpoint (403 error). Since Bot Framework upgraded from V1 to V3, Microsoft uses different IPs to access my endpoint.

<add input="{REMOTE_ADDR}" pattern="40\.83\.*\.*" negate="true" />
<add input="{REMOTE_ADDR}" pattern="40\.78\.*\.*" negate="true" />
<add input="{REMOTE_ADDR}" p

[2016-07-12 08:37] #652 closed

[2016-07-12 08:41] loretoparisi commented on #589
@dandriscoll thank you, that would be useful and help to reduce use friction in accessing `Webchat` bot channel.

[2016-07-12 08:56] vk4421 commented on #650
Thanks... but what about Internal server error even after resolving nuget error

[2016-07-12 10:04] NanashiGIT commented on #653
There is something really strange going on.
When you load the Template it installs the Package
System.IdentityModel.Tokens.Jwt with the version 4.02. When i try it with that version i get the exception
402: Unauthorized with:
Warning: 0 : Invalid token. System.ArgumentNullException: Value cannot be null.

When iupdate that package to the latest version (5.0.0) i get the same exception as Huskitch.

[2016-07-12 10:14] steveparker-optimise opened #656 "Facebook message truncation"
In V1 if sending a long message it would split it into two messages for facebook. After converting to V3 however, the same message is truncated at 304 characters and suffixed with an ellipsis.

[2016-07-12 10:29] gosha1 commented on #640
I'm using to send a message back from client, using the Type "imBack". Can you share your sample code for which it's showing in skype? Here's my code. Also, the card rendered properly in emulator.
[code]

[2016-07-12 10:32] sarthak-k commented on #632
There is any solution for above problem?

[2016-07-12 11:27] thingista opened #657 "Random ChatConnector errors with Slack (v3.0.1, Node)"
Finally managed to upgrade to 3.0.1 and it *mostly* works:

- Skype works well
- Slack works most of the time, but sometimes (and randomly as far as I can tell) I see the following message in the log:
`ERROR: ChatConnector: receive - invalid token. Check bots app ID & Password.`

I am using the "Hello World" code example from the doc (http://docs.botframework.com/en-us/node/builder/overview/#navti

[2016-07-12 11:38] Huskitch commented on #649
Would also appreciate this @rmatosaw

[2016-07-12 11:51] DirkSonguer commented on #654
Just tested with the console version under Windows 10 - it has the same behaviour as with Mac OS: 1,2,5 in a loop, not recognising dialogs and session data.

[2016-07-12 12:16] NanashiGIT commented on #653
Okay.
Im pretty sure its because of your "System.IdentityModel.Tokens.Jwt" Version.
Mine was also at 5.0.0. which for some reason broke everything.

I converted everything back to the latest 4.02. Version and it kind of works.
I just get the Message:
"iisexpress.exe Warning: 0 : Invalid token. System.IdentityModel.Tokens.SecurityTokenSignatureKeyNotFoundException: IDX10500: Signature validation fa

[2016-07-12 12:27] Amol8475 opened #658 "I am facing this issue.....Do anyone have solution for this..? Severity Code Description Project File Line Source Suppression State Error Unable to connect to Address='192.168.1.**' with User='S*** MAC Mini' CC.iOS C:\Program Files (x86)\MSBuild\Xamarin\iOS\Xamarin.iOS.Windows.After.targets 54 Build"

[2016-07-12 12:36] Huskitch commented on #653
I tried downgrading the JWT package to 4.02, and now I end up with this in the JSON emulator output

![image](https://cloud.githubusercontent.com/assets/1743734/16767077/982562d4-4835-11e6-9929-2f8db70215f3.png)

[2016-07-12 12:44] rmatosaw commented on #649
Hi.
I created a new BOT to try to run with Skype using v3 (because, after downgrade, Skype stopped to run).
After some problems in v3, I upgraded to 3.0.1. In this versior there is some problem related to references. In emulator: error 500. In the bot site: the error above).

So, I removed all references of Bot.Buider and depedencies in my project and add it again, (Bot.Builder, dependencies and W

[2016-07-12 12:46] NanashiGIT commented on #653
Had the same issue and couldnt resolve it. Thankfully i had a backup of my project from before the V3 update.
Im pretty sure some references are totally messed up. Maybe try to delete the package and reinstall. but i tried that too and it didnt work out.

[2016-07-12 12:52] safiresh commented on #515
@tomlm  We can't identify based on .Name because its not unique user can change any time. we can't track which user order this like that. We need to map our internal system too.

[2016-07-12 12:57] alex182 commented on #648
@msft-shahins  that did it.  thanks for the quick response!

[2016-07-12 12:58] lamaq-git commented on #653
Hi, I'm experiencing similar issues... Even the sample Echo Bot cloned directly from the repo doesn't work. Apparently it doesn't receive proper Authentication headers in BotAuthentication.cs -> OnAuthorizationAsync().

[2016-07-12 13:16] rmatosaw commented on #653
Hi. Try to reset the project references.
1) remove all references of Bot.Builder and Bo.Connector (and itself)
2) add via nuget Bot.Builder 3.0.1 and WebHost
3) not update anything in Nuget
4) adjust manually the assemblyBinding in terms of versios to reflect your project

`   <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syste

[2016-07-12 13:26] safiresh opened #659 "Send message bot to user"
I am new for bot framework. I want to send message  without session object. My user order  other applications (web)  means  i want to send msg to his skype via bot.  I am using nodeJS

[2016-07-12 13:27] Huskitch commented on #653
Even if this worked (which it didn't for me), it seems like a temporary solution to the issue.

[2016-07-12 13:59] lamaq-git commented on #653
I uninstalled packages from NuGet, deleted "bin", "obj" and "packages", re-added everything and now the 500 error is gone, but the 401 still persists:

[code]

Microsoft.Bot.Builder = 3.0.1
System.IdentityModel.Tokens.Jwt = 4.0.2.206221351

[2016-07-12 15:33] willportnoy commented on #658
Is this related to the bot framework?

I don't think we use anything in the private network IP space (192.168.1.* - see https://en.wikipedia.org/wiki/Private_network#Private_IPv4_address_spaces for more details).

[2016-07-12 15:36] thingista opened #660 "LuisRecognizer and "none" intent: why are entities removed?"
At the moment, if the LuisRecognizer finds a "none" intent, the data from Luis seems to get completely deleted by the framework.
On the bot side, in `onDefault`, we only get:

`{"score":0,"intent":null}`

instead of:

`{
    "score": 0,
    "intent": null,
    "intents": [
        {
            "intent": "None",
            "score": 0.928112447
        },
        {
            "intent": "findCar",

[2016-07-12 15:40] willportnoy commented on #634
We include non-attributed methods for the user's convenience.  I agree there are benefits to explicit attributes.  I believe this commit should fix the issue.

I'm going to close this issue, but feel free to open a new issue for more discussion.

[2016-07-12 15:40] #634 closed

[2016-07-12 15:41] willportnoy commented on #587
I'm going to close this issue.  Feel free to open a new one for further discussion.

[2016-07-12 15:41] #587 closed

[2016-07-12 15:43] willportnoy commented on #639
Do those authentication settings match the settings you're using in the emulator?

[2016-07-12 15:45] willportnoy commented on #660
It looks like the entities are copied independently of intent:

https://github.com/Microsoft/BotBuilder/blob/master/Node/core/src/dialogs/LuisRecognizer.ts#L64

@Stevenic ?

[2016-07-12 15:52] rohit2912911 commented on #639
yes..

[2016-07-12 16:17] shloak commented on #648
Upgraded to 3.0.1 (C#) but still same error message on Facebook and no response from web chat.

[2016-07-12 16:50] liiver commented on #659
I am also having same issues. My but was using V1 and I used SendMessageAsync to initiate messages to Skype groups. Now in V3 they say its not supported now. This is unacceptable as it is like a paramount feature.

[2016-07-12 17:03] msft-shahins commented on #653
@lamaq-git make sure that you set MicrosoftAppId and MicrosoftAppPassword to the value you got from dev portal. Also, if you run against emulator you can leave all the values blank to disable bot authentication.

[2016-07-12 17:37] BryanHall commented on #653
I had to revert the version on three of the libraries in my project in order to get this to work.

- Microsoft.Rest.ClientRuntime - 1.8.2
- Newtonsoft.Json - 8.0.3
- System.IdentityModel.Tokens.Jwt - 4.0.2.206221351

[2016-07-12 17:39] msft-shahins commented on #653
@Huskitch and @NanashiGIT how did you do the upgrade to new nuget package? It seems that you upgraded the `System.IdentityModel.Tokens.Jwt` to latest which is not the right dependency that builder expects.

To upgrade a v1 bot dependencies to use v3 builder and making sure that your dependencies are installed in the right way, follow below steps:

- Go to nuget package manager for your project
- U

[2016-07-12 17:41] #649 closed

[2016-07-12 17:44] NanashiGIT commented on #653
First i was on the correct 4.0.2 version. But then it began giving me the exception:
""iisexpress.exe Warning: 0 : Invalid token. System.IdentityModel.Tokens.SecurityTokenSignatureKeyNotFoundException: IDX10500: Signature validation failed. Unable to resolve SecurityKeyIdentifier: 'SecurityKeyIdentifier"". So i tried updating it to the newest version (Because it said, the Builder needs JWT >= 4.0.

[2016-07-12 17:49] albhardy commented on #625
I started to suspect that the issue comes from Azure webapps - The code works using ngrok, but stops suddenly whenever I use Azure webapps endpoint.

![image](https://cloud.githubusercontent.com/assets/1732018/16777380/d95ae308-489b-11e6-99b7-de5101762b93.png)

[2016-07-12 17:53] msft-shahins commented on #653
@NanashiGIT  builder is dependent on `System.IdentityModel.Tokens.Jwt` 4.0.2 and when you upgrade to a new version of that package, .Net cannot load the right version of dll when loading dependencies. The error that you were getting when you had the right version of dependency was probably because of not having the right `MicrosoftAppId` and `MicrosoftAppPassword` set in your web.config or emulato

[2016-07-12 17:55] Huskitch commented on #653
@msft-shahins This is on a completely new project, from the V3 Bot Builder template.

[2016-07-12 17:57] NanashiGIT commented on #653
@msft-shahins I did disabled authentication for quite a bit and it worked. And as i said, the credentials are correct.

[2016-07-12 18:01] msft-shahins commented on #653
@Huskitch then in V3 bot builder template, only update builder in the nuget package manager update tab. Do not update other nuget packages.

[2016-07-12 18:04] NanashiGIT commented on #653
@msft-shahins Whats with the BotId in the Webconfig?
Unlike in the screenshots of the emulator, i cant specify an id. I also dont know where to find that id in the Bot Portal.
May that be the culprit for the error messages?

[2016-07-12 18:08] msft-shahins commented on #653
@NanashiGIT if auth doesn't work and you have the right dependencies, I am suspicious that you are using a wrong AppId and AppPassword. Go to dev portal and find the MicrosoftAppId for your bot, then go to [Microsoft dev portal app list](https://apps.dev.microsoft.com/#/appList), find the app id and make sure that you have the right password for that app.

`Bot Id == Bot Handle` you see in the dev

[2016-07-12 18:11] NanashiGIT commented on #653
@msft-shahins Thanks for your help.
I realized that i have 2 AppSecrets set up for my app (and i dont mean primary/secondary). Maybe thats it and i have to remove one.
I'll try that out tomorrow.

[2016-07-12 18:16] msft-shahins commented on #653
Also make sure that in web.config is correct. They are not called AppId and AppSecret anymore:

[code]

[2016-07-12 18:16] alex182 opened #661 "[Question][C#] Start Dialog After SendToConversationAsync"
I have 2 users, user and admin.  I have the user sending a request to my bot that then forwards the request to the admin [using this code](http://docs.botframework.com/en-us/csharp/builder/sdkreference/routing.html#sendtoconversation).  How would I create a dialog in the admin conversation after the request is forwarded?

[2016-07-12 18:19] msft-shahins commented on #650
@vk4421, the error that you are seeing is because emulator url is set to localhost and your bot from azure is trying to make a post to ServiceUrl set for the message which is `http://localhost:9000`. In the new messaging model, replies are sent to emulator or channel by a direct HTTP post to the ServiceUrl set in the incoming message. You can read more about it [here](http://docs.botframework.com/

[2016-07-12 18:23] willportnoy commented on #619
I was unable to reproduce this error with version 3.0.0.57 of the emulator.  Maybe it's been fixed?

[2016-07-12 18:24] msft-shahins commented on #648
@rmatosaw can you elaborate on the issue that you are seeing? your bot works locally against emulator but it deosn't work with skype and other channels? what is your MicrosoftAppId?

[2016-07-12 18:25] msft-shahins commented on #648
@0GiS0 what is the MicrosoftAppId for your bot? Is Webchat still not working for your bot?

[2016-07-12 18:29] msft-shahins commented on #566
I assume that this issue is resolved. Feel free to open it again if you face the same issue.

[2016-07-12 18:29] #566 closed

[2016-07-12 18:34] wbreza commented on #566
I will be updating to new version soon and hope to see it as resolved.  Will let you guys know if I continue to run into issues.

[2016-07-12 18:37] shloak opened #662 "[Question] Parsing image attachment through skype"
A question I had was about how to handle when a user sends images in Skype. In facebook and the emulator, the contentUrl of the image is an accessible URL, however, in Skype, I cannot access this URL. How else can my bot get the contents of the image?

[2016-07-12 18:47] matheus208 commented on #585
Is there a way to listen for the event with v1? Apparently [the callback](https://developers.facebook.com/docs/messenger-platform/webhook-reference/account-linking) is not even forwarded to my endpoint after the linking is successful by Facebook.

[2016-07-12 19:19] garypretty opened #663 "[Question] IntentDialog for C#?"
Hi,

With the recent release of the v3 of the framework it appears that LUISDialog has been deprecated and replaced with IntentDialog for Node, but for C# there is no mention of IntentDialog.  Can anybody confirm if we should still be using LUISDialog for .NET bots?

Thanks

Gary

[2016-07-12 19:21] garypretty opened #664 "[Question] Sending a typing activity to the user"
Hi,

With v3 of the framework a new typing activity type has been added.  Does anybody have an example of how I can send this to the user when they send a message to the bot, whilst the bot is calling off to a 3rd party service to get a suitable response?

Thanks

Gary

[2016-07-12 19:23] AmineI commented on #619
Ah, I should have said that I'm using the node.js version of the bot builder ? I think it doesn't matter since even without a bot launched it still shows "User1"
With version 3.0.0.57 it's still happening on my side. Here is a [screenshot](http://imgur.com/a/aAd7u) . I tried to change the user name before clicking on the "New" button but it's still the same. Also, at launch the username field is e

[2016-07-12 19:27] filipeperdigaosousa commented on #647
Thank for your answers.
They were very usefull

[2016-07-12 19:52] garypretty commented on #664
After spending a while on this last night, as soon as I posted this I managed to get this working :)

For anybody who is interested here is the code I have used;

[code]

[2016-07-12 19:52] #664 closed

[2016-07-12 19:59] msft-shahins commented on #663
LuisDialog are still functional in C# and should be used for .Net bots. The plan is adding a similar intent dialog to C# in the long run but LuisDialog + CommandDialog covers all of the cases that IntentDialog in node.js covers for C#.

[2016-07-12 19:59] #663 closed

[2016-07-12 20:06] Huskitch commented on #653
@msft-shahins I tried only updating the bot builder package, but then I get this:

![image](https://cloud.githubusercontent.com/assets/1743734/16781720/6c0d1df6-4874-11e6-8aad-286c53bb609d.png)

[2016-07-12 20:13] lamaq-git commented on #653
@msft-shahins Thank you, I made MicrosoftAppId and MicrosoftAppPassword empty (both in web.config and emulator) and now I'm in the same state as @Huskitch ...

[2016-07-12 20:15] tomlm commented on #619
your screen shot is still V54.  Upgrade and let us know

[2016-07-12 20:28] msft-shahins commented on #653
@Huskitch Can you share more details about when this exception happens? What are the configuration for bot and emulator? I guess your project still uses the wrong version of assembly. Make sure to clean your project and rebuild again after you fix dependencies to correct version. [This](http://stackoverflow.com/a/8059594/4237950) might help you solve the problem.

[2016-07-12 20:37] Huskitch commented on #653
@msft-shahins The exception happens when I send a message to the bot through the emulator, it shows 505 InternalServerError in the emulator and that exception in VS.

The versions for the nuget packages are as follows:

[code]

The Web.config assembly bindings are:

[code]

I've tried both with and without the correct appid and passwords.

[2016-07-12 20:43] msft-shahins commented on #653
@Huskitch `Microsoft.Rest.ClientRuntime: 2.3.1` is the problem. It seems that you have updated that too. The correct dependencies are:

[code]

here is the packages.config for a project from template with correct dependencies:

[code]

[2016-07-12 20:47] willportnoy commented on #580
I added this commit https://github.com/Microsoft/BotBuilder/commit/f0b6a9ea4291c7461c4b8688b84ceb5285d7d1e6 as an example of control flow logic that was similar to a while loop.

[2016-07-12 20:48] willportnoy commented on #655
I don't know of any relevant bugs.  Usually I see that error when there is a mismatch between http and https.

[2016-07-12 20:51] v-thgratMSGit commented on #7
Closing this issue.  Please open a new issue for further discussion if necessary.  Thanks!

[2016-07-12 20:51] #7 closed

[2016-07-12 20:55] AmineI commented on #619
My mistake, sorry about this. It's probably already fixed, then, but my computer usually take around a day to notice an update, no matter how many times I launch the emulator.

I'll keep you updated !
Thank you for your time and support, too !

[2016-07-12 20:55] Huskitch commented on #653
@msft-shahins Just made a fresh project and made sure all of the dependencies are the same, now I'm getting this exception after sending a message to the bot:

![image](https://cloud.githubusercontent.com/assets/1743734/16783292/51e542d0-487b-11e6-883f-7065888dd69c.png)

[2016-07-12 20:56] v-thgratMSGit commented on #115
Thanks @danmarshall. Closing this issue for now.  Please open a new issue for further discussion if necessary.  This would also be worth supporting on [UserVoice](https://feedback.botframework.com/forums/354213-general/suggestions/13393263-bot-framework-emulator-console-app-source-code).  Thanks!

[2016-07-12 20:56] #115 closed

[2016-07-12 20:57] stevepkr84 opened #665 "3.01 - Kik - Message with multiple hero card attachments w/buttons"
Due to how Kik tends to work, sending a button causes a popup. If you send a message with say 3 attachment hero cards, each with a button, then only one popup will show, and is only there temporarily.

My requirement is for the cards to link out to an external url. In v1 this was ok, I simply disabled buttons (actions) for kik and the setting of the titleLink property caused the card itself to lin

[2016-07-12 21:01] v-thgratMSGit commented on #221
Closing this issue due to age. @wiltodelta - please open a new issue if this issue is not fixed and needs further discussion. @tomlm - reopen if necessary.  Thanks!

[2016-07-12 21:01] #221 closed

[2016-07-12 21:02] AmineI commented on #648
Same here, Facebook is now working but nothing new about WebChat : It understands and receive my message since I see logs in the Azure Web Console, but no messages are sent from the bot in the Webchat. MicrosoftAppId : bb30223f-2e12-422f-bc7a-4f92d9388600
Hope it helps !

[2016-07-12 21:11] v-thgratMSGit commented on #243
Closing this issue due to age. @giriganapathy - please open a new issue if this issue is not fixed and needs further discussion. @Stevenic - reopen if necessary. Thanks!

[2016-07-12 21:11] #243 closed

[2016-07-12 21:13] v-thgratMSGit commented on #244
Closing this issue.  Thanks for sharing your fix @inornos!  @galazzo - please open a new issue for further discussion if necessary.

[2016-07-12 21:13] #244 closed

[2016-07-12 21:15] v-thgratMSGit commented on #259
Closing this issue due to age. @JpEncausse - please open a new issue if this issue is not fixed and needs further discussion. @Stevenic - reopen if necessary. Thanks!

[2016-07-12 21:15] #259 closed

[2016-07-12 21:16] v-thgratMSGit commented on #269
Closing this issue. Please open a new issue for further discussion if necessary. Thanks!

[2016-07-12 21:16] #269 closed

[2016-07-12 21:17] v-thgratMSGit commented on #272
Closing this issue. Please open a new issue for further discussion if necessary. Thanks!

[2016-07-12 21:17] #272 closed

[2016-07-12 21:18] v-thgratMSGit commented on #296
Closing this issue. Please open a new issue for further discussion if necessary. Thanks!

[2016-07-12 21:18] #296 closed

[2016-07-12 21:19] v-thgratMSGit commented on #302
Closing this issue. Please open a new issue for further discussion if necessary. Thanks!

[2016-07-12 21:19] #302 closed

[2016-07-12 21:20] v-thgratMSGit commented on #310
Closing this issue. Please open a new issue for further discussion if necessary. @Stevenic - reopen if not implemented.  Thanks!

[2016-07-12 21:20] #310 closed

[2016-07-12 21:21] garypretty opened #666 "Slack interactive messages error - 5XX_service_error"
I have just published my V3 version of my bot which is available in slack.  The seems to be working well apart from buttons in slack.  This is a .NET based bot - are slack buttons even supported in .NET v3?

I have added the https://slack.botframework.com/api/Actions as the Request URL for interactive messages, but when I click a button served up in an options prompt by my bot I get the following

[2016-07-12 21:23] msft-shahins commented on #653
@Huskitch can you set a breakpoint on the messages controller and check if you are getting the message from the emulator?

[2016-07-12 21:23] v-thgratMSGit commented on #36
Closing this issue due to age. @TheGrimmChester @lilred @11andy11  - please open a new issue if this issue is not fixed and needs further discussion. @Stevenic @tomlm - reopen if necessary. Thanks!

[2016-07-12 21:23] #36 closed

[2016-07-12 21:25] Huskitch commented on #653
@msft-shahins Yeah, I get the message, the method runs fine up until this breakpoint:

![image](https://cloud.githubusercontent.com/assets/1743734/16784199/8cb7007a-487f-11e6-8749-c5ff6c5edeb7.png)

[2016-07-12 21:32] msft-shahins commented on #653
@Huskitch can you check the reply activity that is getting generated? It seems to me that the post to emulator is failing. what is the emulator configuration that you are using to post the message?

[2016-07-12 21:36] v-thgratMSGit commented on #318
Closing this issue. Please open a new issue for further discussion if necessary. Thanks!

[2016-07-12 21:36] #318 closed

[2016-07-12 21:37] Huskitch commented on #653
This is the emulator setup:

![image](https://cloud.githubusercontent.com/assets/1743734/16784467/e06de994-4880-11e6-9268-515c87ead836.png)

I've tried both with and without appid and pw, (though it shouldn't matter right?).

Here's the activity object received:
![image](https://cloud.githubusercontent.com/assets/1743734/16784567/363d858c-4881-11e6-8e38-dbc8d8ea9d96.png)

And here's the reply obje

[2016-07-12 21:40] msft-shahins commented on #653
@Huskitch, your emulator url is wrong! It should be `http://localhost:9000`. It is basically the url that the emulator is listening on and is set in the ServiceUrl of incoming activity. You can read more about the reply mode [here](http://docs.botframework.com/en-us/support/upgrade-to-v3/#sending-replies).

[2016-07-12 21:40] v-thgratMSGit commented on #333
Closing this issue. Please open a new issue for further discussion if necessary. @Stevenic - reopen if you'd like to and/or provide the status of this enhancement.  Thanks!

[2016-07-12 21:40] #333 closed

[2016-07-12 21:41] v-thgratMSGit commented on #323
Closing this issue. Please open a new issue for further discussion if necessary. Thanks!

[2016-07-12 21:41] #323 closed

[2016-07-12 21:42] chrimc62 commented on #570
I'm going to close this for now.  If you need more help, just respond and I will reopen it.

[2016-07-12 21:42] #570 closed

[2016-07-12 21:46] v-thgratMSGit commented on #324
Closing this issue. Please open a new issue for further discussion if necessary. @Stevenic - reopen if you would like to and/or provide a status on this bug/enhancement.  This could also be suggested on [UserVoice](https://feedback.botframework.com/). Thanks!

[2016-07-12 21:46] #324 closed

[2016-07-12 22:00] v-thgratMSGit commented on #314
@tomlm Any thoughts?

[2016-07-12 22:02] v-thgratMSGit commented on #347
Closing this issue. Please open a new issue for further discussion if necessary. Thanks!

[2016-07-12 22:02] #347 closed

[2016-07-12 22:14] v-thgratMSGit commented on #350
@LarsLiden Any thoughts?

[2016-07-12 22:16] v-thgratMSGit commented on #351
Closing this issue. @thealokkr - please open a new issue if this issue is not fixed and needs further discussion. @Stevenic - reopen if necessary. Thanks!

[2016-07-12 22:16] #351 closed

[2016-07-12 22:18] v-thgratMSGit commented on #357
Closing this issue. @xmark - please open a new issue if this issue is not fixed and needs further discussion. @Stevenic - reopen if necessary. Thanks!

[2016-07-12 22:18] #357 closed

[2016-07-12 22:21] tomlm commented on #314
the facebook connector was completely rewritten for V3, this should work.

[2016-07-12 22:21] #314 closed

[2016-07-12 22:23] v-thgratMSGit commented on #360
@craigjensen @msft-shahins @Stevenic Any thoughts?

[2016-07-12 22:27] v-thgratMSGit commented on #314
Thanks for closing!

[2016-07-12 22:31] v-thgratMSGit commented on #373
Closing this issue. Please open a new issue for further discussion if necessary. @Stevenic - reopen if you would like.  Thanks!

[2016-07-12 22:31] #373 closed

[2016-07-12 22:32] craigjensen commented on #666
Please add your BotId anf we'll take a look.

[2016-07-12 22:35] v-thgratMSGit commented on #367
Closing this issue. Please open a new issue for further discussion if necessary. Thanks!

[2016-07-12 22:35] #367 closed

[2016-07-12 22:36] willportnoy commented on #619
Great to hear. :)  I'm going to close this issue, but feel free to open a new issue with any questions.

[2016-07-12 22:36] #619 closed

[2016-07-12 22:51] v-thgratMSGit commented on #468
Closing this issue. Please open a new issue for further discussion if necessary. Thanks!

[2016-07-12 22:51] #468 closed

[2016-07-12 23:06] garypretty commented on #666
Thanks for the quick response, appreciate it!
My AppId is ca6148b6-486d-4e45-b2af-96f683de5e05

[2016-07-12 23:37] craigjensen commented on #666
Your bot doesn't have a verification token which is required to use buttons.  Go to the dev portal and edit your config and follow the instructions to enable interactive messages.

[2016-07-13 00:45] msft-shahins commented on #662
The Skype attachment URLs are secured by JwtToken , you should set the JwtToken of your bot as the authorization header for the GET request your bot initiates to fetch the image. Below is the sample code that temporarily works around this issue and set the JwtToken on the http request. You should be careful when you sent the Bot's JwtToken to a third party server and should always make sure to sen

[2016-07-13 00:45] #662 closed

[2016-07-13 01:19] OR13 commented on #624
When debugging v3.0.1

[code]

Sample Telegram Log
[code]

It appears that some requests are getting rejected while others succeed.

I'm not changing Credentials, but I can't confirm that the sdk isn't somehow changing env variables or its references to them.

I read on some other issue there was conjecture that MS load balancers are responsible for this sort of thing, upstream of the sdk in some

[2016-07-13 01:28] deubaka commented on #350
After upgrading to v3.0.0, the issues seems to be fixed.

If v3.0.0 API upgrade was causing it, I assume it would be stable now?

Any idea on what may have caused it would be of great help, as it would really help us give something definite reply if this happens again.

Thanks!

[2016-07-13 03:31] yuyuvn commented on #625
EC2 also have this issue. Nothing happen when test with ngrok.

[2016-07-13 03:47] Samurais opened #667 "Node.js sdk error with koajs"
# description

hi, just let you know the sdk does not work well with koajs.
It seems it only supports Express.
[code]

So I would change to Express.

[2016-07-13 04:40] craigomatic commented on #653
I'm getting a 500 error also, my Emulator URI is correct, app id and secret are blank *and* I have the correct Nuget package versions referenced.

The exceptions seem to be thrown somewhere internally after the StartAsync method of my LuisDialog returns.

This is what I see in the output window of VS:

![image](https://cloud.githubusercontent.com/assets/146438/16791982/ccd672c8-4878-11e6-9b8f-6abc

[2016-07-13 05:14] tk009999 commented on #8
Hello, Tomlm, I can't get bot respond on webchat, I deploy my node.js and running on heroku, also can get this "ChatConnector: message received." respond, but my bot not have any messages for me, can you help me results the issues please, thank you so much.

<img width="981" alt="screen shot 2016-07-13 at 13 10 25" src="https://cloud.githubusercontent.com/assets/10436665/16792454/39b44a64-48fb-11e

[2016-07-13 05:32] gosha1 commented on #632
I created 2 bots and both had the same problem. Looks like I configured something wrong.
App IDs:
ffe50500-ef47-48f3-b6b1-2bfc29bcee33
aade4815-56b7-4512-9c1d-be726c25c821

[2016-07-13 06:13] davyme commented on #585
Are you also thinking about adding Facebook Messenger Persistent menu & Welcome screen as new features?

[2016-07-13 06:16] wtam commented on #648
I'm using nodejs and have the following error when try to configure the facebook messenger (note: I already using nuguet 3.0.1

Server Error in '/' Application.

The remote server returned an error: (400) Bad Request.
  Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and where it origin

[2016-07-13 06:16] thewhitetulip commented on #558
@tomlm Any thoughts?

[2016-07-13 06:39] mephisto83 opened #668 "V3 api, SendAsync no longer returns a Task<Message>"
V3 api, SendAsync no longer returns a message. For our solution this is a problem, we are creating a distributed bot system where functional teams will create dialogs for specific pieces of our system. We are  expecting to cover over 400 modules with a single bot entity. In order to do that, we need to control the messages sent to the user in our system. Since the SendAsync no longer returns Task<

[2016-07-13 07:03] yeelynn opened #669 "Getting 500 InternalServerError using NodeJs Sample"
Hi,

I encountered the error InternalServerError when I am testing the NodeJS sample "demo-skype"
![aaa](https://cloud.githubusercontent.com/assets/16470517/16794206/e37b3136-4908-11e6-9a95-3c73e139fc15.png)

The emulator also shows 500 InternalServerError.

Steps I have taken:
1) Deployed the "demo-skype" sample into Azure (without changes to the code) using Azure CLI & git command
2) Registered

[2016-07-13 07:05] javi-jamaa opened #670 "Problems with v3.0.1 and ChatConnector in slack using node.js"
In slack when I send a direct message to the boot, randomly I don't get the answer and the following error appears in the trace: "ERROR: ChatConnector: receive - invalid token. Check bots app ID & Password.")
I'm using the node framework.

[2016-07-13 07:22] NanashiGIT commented on #653
@msft-shahins  I've deleted the 2 keys and set a new one. But then i realized that this wont have anything to do with the emulator authenticating at the local running bot.
Anyway, unless i leave everything blank i still get the mentioned exception.
My web config keys are
<add key="BotId" value="" />
<add key="MicrosoftAppId" value="" />
<add key="MicrosoftAppPassword" value="" />

[2016-07-13 07:24] 0GiS0 commented on #648
@msft-shahins mi MicrosoftAppId is d5f732f3-c3b0-4093-affc-1d320d4eae4c and still not working. But it happens with all my bots for the WebChat. My bots work well in Skype and Telegram.

Thanks

[2016-07-13 07:43] javi-jamaa opened #671 "Bot in an Slack channel (v 3.0.1) answers all the messages, not only the messages addressed to him"
If you add your bot to a Slack channel the bot answers all the messages sent to the channel, not only the messages sent them directly to him.
The right behaviour would be that the bot only answers the messages sent directly to him.
I'm using the 3.0.1 version of the node framework although this happened in the previous version too.

[2016-07-13 07:45] javi-jamaa commented on #657
I have the same problem, I'm using the node framework v 3.0.1.

[2016-07-13 07:46] javi-jamaa commented on #670
There was one similar

[2016-07-13 07:46] #670 closed

[2016-07-13 07:49] cnrudd commented on #670
getting the same issue.   also getting The remote server returned an error: (409) Conflict. when I try to save the upgrade of my bot in the dev.botframework site.
I've set my api/messages endpoint to SSL, updated my appId and appPassword.  My bot works using the consoleConnector, so, I have correctly updated my code for v3.0.1.

I also see this ERROR: ChatConnector: receive - invalid token. Check

[2016-07-13 08:08] Samurais opened #672 "[Direct Line API - V1.0] Can not get the bot replies with /api/conversations/{conversationId}/messages"
#hi, folks

Get a problem when trying to use Direct Line API - V1.0. The documentation is [here](http://docs.botframework.com/en-us/restapi/directline/#/).

commit id: bdc387474c02cd9e8926d34be6bc94e8d4bc1a5a

## Background

After running a node.js application locally using ngrok and connect to my bot in MS Bot Framework.  It works with the Skype Channel.

![image](https://cloud.githubusercontent.

[2016-07-13 08:12] Samurais commented on #672
By the way, in the docs, it mentions
[code]

But in the API details, I could not find this API.

[2016-07-13 08:40] loretoparisi commented on #558
by the way I think the problem is mostly for Linux since on MacOS you can run it with `mono` for free

[code]

with

[code]

[2016-07-13 08:41] Samurais commented on #667
As it is not a big matter up to now, should better close it.

[2016-07-13 08:41] #667 closed

[2016-07-13 08:49] thingista commented on #657
I haven't touched the code, nor the deployment stack, and I am now seeing a different error message in the console. It now says:

`SyntaxError: Unexpected token u`

And in Slack, the bots reply with this message:

So I guess the problem is with the Connector system itself and it's being tweaked as we speak?

cc @Stevenic

[2016-07-13 09:26] Samurais commented on #672
# More information

## Request

POST /api/conversations/{conversationId}/messages

body

[code]

## Session message in Botbuilder

[code]

## Error message in Botbuilder
[code]

[2016-07-13 09:33] Samurais commented on #672
# Also parse the session.message for skype

[code]

[2016-07-13 09:40] garypretty commented on #666
Fantastic. As this was optional when I first setup the Slack connection I hadn't thought to go back and supply this. It is all working now. Thanks for your swift assistance.

[2016-07-13 09:40] #666 closed

[2016-07-13 09:45] chon219 commented on #668
We are also facing the same problem, as SendAsync no longer returns a Task<Message>, it is impossible for us to access bot's replies from dialogs. Any solutions? Please.

[2016-07-13 09:45] Samurais commented on #672
# Check botbuilder/lib/bots/ChatConnector.js

[code]

After reading this piece of codes, I think it is a bug.

[2016-07-13 11:03] NicolasHumann opened #673 "Invalid token - Bot 3"
Hi,

I just create a new Bot, but I have an Invalid token error  with the Bot Channel Emulator (3.0.0.57).
The stack:

My nuget packages are:
[code]

Thanks for your help

[2016-07-13 12:02] b4usat opened #674 "C# Mutiple Dialogs with Luis Integrated"
Hi
I am building a bot which will have multiple usecases to which i would like to Chain the Dialog classes for each usecase(LUIS inherited). I couldn't see any possible way to do that. Can anyone please help me out for that. Referring to PizzaBot sample, there is only one `Echodialog `class with FormFlow. In similar fashion i want to intialize different classes with different formflows. Is that po

[2016-07-13 12:10] b4usat opened #675 "V3 Emulator Not working"
I am surprised may be am the one who is facing this issue. I upgraded to V3 BotBuilder via Nuget. Also i updated my emulator to 3.0 version. When i execute the code with default Method in it for `Post ` itself throws error. Interesting thing is my chats in emulator reaching my code takes more than one minute. I haven't put anything in MS App Id and Secret Key. Morethan that i not even put a single

[2016-07-13 12:14] thewhitetulip commented on #558
@loretoparisi  I am unable to Install mono itself, it says that "This app is from unidentified developer."

[2016-07-13 12:21] loretoparisi commented on #558
@thewhitetulip when on `MacOS` you have to unlock in `Preferences > Security and Privacy > Download app from: Everywhere` and then install from [here](http://www.mono-project.com/download/). You can also install [XamarinStudio](https://www.xamarin.com/platform), that will install everything you need for cross compilation of MacOS and will assure you to have a consistent environment.

[2016-07-13 13:38] dmdnkv commented on #497
I wonder whether it is possible or not to get skype `username` when user added bot to contacts? Currently, we have just long encrypted or hashed id and display name.

[2016-07-13 14:12] #661 closed

[2016-07-13 14:29] vvvlad opened #676 "LUIS connectivity first attempt"
Hi,
I'm getting the following exception when trying to use LuisDialog.

Bot.Builder version 3.0.1
Emulator version 3.0.0.54

any suggestion what can be done and what is going on?

[2016-07-13 15:53] NicolasHumann opened #677 "CardAction with call not working"
Hi

I tried to create a CardAction with the type call, but the card is not diplayed on FB Messenger. Am I doing something wrong ?

` CardAction telButton = new CardAction()
                {
                    Value = "tel:0474111196",
                    Type = "call",
                    Title = "Call Me"
                };`

[2016-07-13 16:18] dimak72 commented on #618
Hi, I'm getting an error in slack. the line in question is
await connector.Conversations.ReplyToActivityAsync(reply);

[2016-07-13 16:32] DirkSonguer commented on #670
For reference, it was this one: https://github.com/Microsoft/BotBuilder/issues/657

[2016-07-13 17:14] Thegaram commented on #675
What is the error that you're seeing?

[2016-07-13 17:26] craigomatic commented on #653
Oops, turns out my issue was my own fault - I was using a LuisDialog and had a space at the end of the attribute so the authentication was failing. Removing the space leaves me with a working bot.

[2016-07-13 17:31] jamesrlewis commented on #35
I had a similar issue and Will's solution worked, but I'm curious as to why this happens and how I can prevent the code from finishing before it calls context.Wait(MessageRecieved). Any ideas?

[2016-07-13 17:44] msft-shahins commented on #653
@NanashiGIT are you getting "SecurityTokenSignatureKeyNotFoundException" when you set the MicrosoftAppId and password? Are you getting the exception on the incoming request or when wants to post back the reply? can you share your MicrosoftAppId?

[2016-07-13 18:02] msft-shahins commented on #648
@AmineI and @0GiS0 we are tracking the issue with WebChat.

@wtam are you using node.js or c# (you mention both nuget and node.js in your question)? Can you attach the debugger and see when connector service is returning 400?

[2016-07-13 19:31] DirkSonguer commented on #657
Same problem here, after updating the bot from v1 (where Slack and web chat worked flawlessly) to v3, I noticed that Slack and Web Chat stopped working live. It seems like for some reason Slack and web chat do not authenticate themselves correctly: "_ERROR: ChatConnector: receive - invalid token. Check bots app ID & Password._"

Skype works as intented :(

[2016-07-13 20:00] msft-shahins commented on #642
this should be fixed now:

![image](https://cloud.githubusercontent.com/assets/17562300/16817888/c4046cfa-48f9-11e6-910e-bd23adebc459.png)

[2016-07-13 20:00] #642 closed

[2016-07-13 20:02] arieschwartzman opened #678 "Skype connector stopped working"
It was working before in 3.0 no I get this message when trying to add the Skype channel

Sad bot is sad because skype failed to register ChannelAccount for bot: 0000000040192E34 - System.IO.FileLoadException: Could not load file or assembly 'HtmlAgilityPack, Version=1.4.9.0, Culture=neutral, PublicKeyToken=bd319b19eaf3b43a' or one of its dependencies. The located assembly's manifest definition doe

[2016-07-13 20:35] arieschwartzman opened #679 "Something bad happend in the last commit"

[2016-07-13 20:35] #679 closed

[2016-07-13 20:38] arieschwartzman opened #680 "Something bad happend to the last commit of ChatConnector"
These lines seems to be totally broken. Notice the hardcoded url, decodedPayload does not have the appid property (should be aud?)
What gives?
[code]

[2016-07-13 21:04] NanashiGIT commented on #653
@msft-shahins I only get the error when setting the AppId and Password, so yes.
Im getting the exception even before the Post-Method is called. So on incoming requests.
My ID:
4998a523-b204-4f22-b137-37ba8e808e3a

[2016-07-13 21:16] msft-shahins commented on #676
Have you set the right subscription key and model id for your LuisDialog? The error looks like a timeout error because of networking issue. Can you check if you can query your luis.ai model directly from your computer?

[2016-07-13 21:19] willportnoy commented on #35
I recently added a commit https://github.com/Microsoft/BotBuilder/commit/fa07e71774fc3e8ed7e943f22f48b891e806f32a (with some tests) to translate this exception to something more intelligible.

If you want to ensure that context.Wait(MessageReceived) is always called within a method, you can use a finally block or implement a IDisposable struct scoped to a using-block.

But it's not always what you

[2016-07-13 21:31] possan commented on #627
I am seeing the same issues still, how do i verify that i have switched to the correct Skype web version? the only indication of a version number in the HTML is one in the feedback url: 0.219.0

[2016-07-13 21:43] msft-shahins commented on #680
This is a special case for tokens generated by emulator (different than tokens generated by connector channels). They have a data payload that have the appid in them. The data payload in the tokens generated by emulator looks like below:

{
  "aud": "https://graph.microsoft.com",
  "iss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
  "iat": 1468444418,
  "nbf": 1468444418,
  "

[2016-07-13 21:58] sixpi opened #681 "Parse string to enum"
Hi,

I was wondering about how the bot framework does the matching from string to enum, and if that part is reuseable without a formflow dialog.

[2016-07-13 22:26] XelaMon opened #682 "Direct Line Attachment File Extensions"
Whenever I try to get an attachment from Direct Line, it shows up in the browser's download manager with the name '0', despite there having been a name assigned to the file on the bot server. There is also no extension.

Is there anyway to be able to download the file with the proper extension from the Direct Line API?

[2016-07-13 23:18] Orbyt opened #683 "[Node.js] Do we still need bot.verifyBotFramework() in v3?"
The old examples said to use `server.post('/api/messages', bot.verifyBotFramework(), bot.listen());`, but I noticed that when upgrading to v3 (and subsequently using `UniversalBot` and `ChatConnector`) , it just uses `server.post('/api/messages', connector.listen());`

Do we no longer need `bot.verifyBotFramework()`?

[2016-07-13 23:59] craigjensen commented on #671
Slack sends messages to all members of a channel regardless of whether they are mentioned.  If you want your bot to respond only when mentioned you should look at the Entities property on the message to see if your bot is mentioned.  You can also use the Conversation.IsGroup property to determine if the group contains more than two members.

[2016-07-14 00:07] Orbyt opened #684 "How is the new Middleware class used?"
How is `firstRun` supposed to be used? http://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.middleware.html#firstrun

I checked out the first run example and it looks exactly the same as the old way (storing a first run boolean in the session and checking it on startup).

So how is it supposed to be done now?

[2016-07-14 00:47] Thegaram commented on #618
The problem seems to have been resolved, Slack works fine for me now. I'm closing the issue.

[2016-07-14 00:47] #618 closed

[2016-07-14 00:57] dandriscoll commented on #648
I've got two bugfixes and some additional tracing in place in the WebChat service now. Can you try again with the same app ID and let me know what the result is? Even if it fails, I'll have more data to get this working.

[2016-07-14 02:00] #650 closed

[2016-07-14 02:10] AmineI commented on #648
Just tried again, it works here :) !
The chat user name is set as something like "LJX9NYlUT6F", by the way.
 - It's a different issue, but, is there any way we could change that user name before launching the chat ?

[2016-07-14 02:33] Samurais commented on #682
hi, @XelaMon

I also want to use Direct Line API, but I couldn't get messages from bot, may you have a look at #672 ?

Thanks.

[2016-07-14 04:04] dandriscoll commented on #672
The Bot Builder doesn't talk to the Direct Line API. The Direct Line API is a simpler version of the protocol that the Bot Builder SDK and Bot Connector Service talk to each other. It also has a different security model to allow your clients to distribute short-lived tokens.

The reference to "/api/messages/conversationId" is a documentation error that I thought I had fixed, but apparently cropped

[2016-07-14 04:06] dandriscoll commented on #672
Documentation page is fixed now. Sorry about that.

http://docs.botframework.com/en-us/restapi/directline/

[2016-07-14 04:09] dandriscoll commented on #678
Do you get this consistently or did it only happen once?

[2016-07-14 04:11] dandriscoll commented on #682
Is your bot talking the v1 protocol or the v3 protocol?

[2016-07-14 04:56] arieschwartzman commented on #678
I get it constantly. I have now created new BOT and Skype connector is already there. It is does work.

[2016-07-14 05:01] gosha1 commented on #618
Slack started working automatically or you have to create a new slack bot? I'm still facing this issue.

[2016-07-14 05:15] #680 closed

[2016-07-14 05:35] Thegaram commented on #618
@gosha1 yeah automatically. Are you still getting the deserialization exception? Maybe try removing and readding Slack on your bot page. (Sorry, I have no better idea.)

[2016-07-14 05:59] gosha1 commented on #632
Its working for me now.
I had given my BotHandle for BotId. When I changed it to the Name of the AppId created in the apps.dev.microsoft.com portal, Slack started working.

[2016-07-14 05:59] #632 closed

[2016-07-14 06:02] gosha1 commented on #618
Its working for me now. I had given my BotHandle value for BotId in web.config. When I changed it to the Name of the AppId created in the apps.dev.microsoft.com portal, Slack started working. Wondering how skype and web chat worked previously.

[2016-07-14 07:06] wtam commented on #648
I'm very sorry for stupid mistake, I made mistake on my Facebook ID and after correcting it.  It's working now.  The fault is on myside but if the error return provide some friendly msg in future, it will help some of us to find out where goes wrong.

[2016-07-14 07:27] vvvlad commented on #676
Hi,
Thanks for your reply!
I've copied the exact key and model id from the LUIS configuration page, also verified against the rest URL that is generated when publish.
I'm not sure what you mean by directly from my computer. If you mean pasting the rest address to a browser with search key, then I did that and it works as expected.
Any additional information I should look for? Anything else that ca

[2016-07-14 07:28] joannapod opened #685 "Problem installing Microsoft.Bot.Connector"
Hello, trying to install the Microsoft.Bot.Connector package and getting this error. Can someone suggest a solution?

Attempting to resolve dependencies for package 'microsoft.bot.connector.1.1.0' with DependencyBehavior 'Lowest'
install-package : Unable to find a version of 'Microsoft.Rest.ClientRuntime' that is compatible with 'Microsoft.Bot.Builder 3.0.1 constraint:
Microsoft.Rest.ClientRuntime

[2016-07-14 07:37] eddie1976 opened #686 "[Suggestion] PromptDialog + Quick Replies (FB)"
It will be very convenient for users to use "Quick Replies" to answer "PromptDialog" in FB Messenger.

[2016-07-14 07:38] thewhitetulip commented on #558
@loretoparisi Well, if the mono project is an actual real FOSS project, then why does it say that the app is from unidentified developer?

Thanks for the link!

[2016-07-14 07:40] joannapod commented on #685
P.s trying to install the previous version doesn't work either (v1.0.0)

[2016-07-14 08:26] stevepkr84 commented on #665
Closing this as I worked it out, apologies for any time wasted.
The answer for interested parties was to add a call to .tap(myExternalUrl) to the declaration of the hero card.

[2016-07-14 08:26] #665 closed

[2016-07-14 09:02] thingista commented on #657
It looks like it has been fixed now. Slack is working fine - and others have reported the same thing. So I will close this.

[2016-07-14 09:02] #657 closed

[2016-07-14 10:08] NanashiGIT commented on #676
Im not sure whether you tried that, but to rule out that your PC is the culprit:
Have you tried publishing the bot to azure and then trying out, whether its able to connect to luis?
If it can, then it has something to do with your local machine.

[2016-07-14 10:09] PkuOndamedia opened #687 "Error: Invalid address."
I am trying to run the app.js from the demo_skype folder.
Unfortunately as I want to add the bot to my skype contacts it shows following Error:

ERROR: ChatConnector: startConversation - address is invalid.
Error: Invalid address.
    at ChatConnector.startConversation (/home/pku/echo_bot/Vorlagen/BotBuilder-master/Node/core/lib/bots/ChatConnector.js:220:18)
    at /home/pku/echo_bot/Vorlagen/BotB

[2016-07-14 10:11] manu4rhyme opened #688 "FormFlow questions"
I have some UX related questions for FormFlow

Firstly,
In case of enums, we get buttons, when we click on buttons, we see inputs like 1, 4 etc.
Can we instead get **text of the button clicked** instead of their index?

Secondly,
When some field is pre-filled, it shows it like,
**What is your email address ? (Current Choice : abc@microsoft.com)**
Can we instead show something like
**(Current Choic

[2016-07-14 10:33] DirkSonguer commented on #657
Well, not really, I'm still having there issues. However when trying our different things, I noticed the following:

When the app is hosted on a shared Azure instance (F1 Free or D1 Shared), then the channels randomly can't connect and I get "ERROR: ChatConnector: receive - invalid token. Check bots app ID & Password." from my bot app (node). When I scale up to a B1 Basic or above, everything work

[2016-07-14 10:39] DirkSonguer commented on #625
I'm also having similar issues. However when trying our different things, I noticed the following:

When the app is hosted on a shared Azure instance (F1 Free or D1 Shared), then the channels randomly can't connect and I get "ERROR: ChatConnector: receive - invalid token. Check bots app ID & Password." from my bot app (node). I also get random Forbidden / Accepted from the test button.

When I sca

[2016-07-14 10:47] RaffaelHold opened #689 "ConnectorClient throws exception"
var response = await connector.Conversations.SendToConversationAsync((Activity)newMessage); throws the following exceptions

Yesterday everything worked fine and today the error appeared,
I already triple checked that appId & password are correct. I also registered a completely new bot and validated the connection in the botframework portal.

[2016-07-14 12:24] MannyGrewal opened #690 "Testing on localhost throws 401 Unauthorized"
Hi there,
Can a bot application be tested on localhost (IIS Express) at all?

I tried the following steps
1. Visual Studio -> New Bot application
2. No change to source code at all, pure vanilla -> f5
3. This launches bot web page on localhost:3978
4. Then I launch Bot Channel Emulator, just to say hi
5. It gives me 401 Unauthorized in the emulator as a response.

Can you tell me how do i test the

[2016-07-14 12:57] hgjkant opened #691 "Nodejs automated tests"
Hi,
is it currently possible to do automated tests on a bot? I.e. passing a string to a bot and inspecting the result, like done in the TextBot tests?
[code]

[2016-07-14 13:16] nexxuno opened #692 "activities from facebook channel have empty Name in From"
Hello since yesterday activities coming from facebook channel do not have Name filled in the From property, only the Id is correct. Moreover the response is not received by facebook anymore (my REST service was working till yesterday and I already upgraded to v3 and all was working fine). Looks like something was broken on MS part somewhere and the activities are broken both incoming and outgoing

[2016-07-14 13:17] MannyGrewal commented on #690
When I tried with echobot, it works fine. Thanks - issue closed.

[2016-07-14 13:17] #690 closed

[2016-07-14 13:29] shivabasayya opened #693 "Microsoft ChatBot on AWS Cloud"
Hi Friends,

Can any one help me by sharing your knowledge on MS Chatbot.
Can the bot be deployed on AWS cloud(EC2 machine) and connect through emulator installed in local machine for interation.?

If so, can you please share how we can do so,
We were able to setup NPM and NodeJS on AWS ec2 machine and write a small app.js to test HelloWorld bot app, but not able to connect from the emulator insta

[2016-07-14 14:11] Praggie opened #694 "500 internal server error in emulator during resuming conversation."
Hi,
I am resuming conversation similar to what is done in facebook authentication sample. This was working fine in V1 but now I have upgraded to V3 then I am not able to resume the conversation. While no exception is thrown in debugger but I can see "black post" in emulator with "500 internal error". I used following code to send the message

this seems to be regression. What could be going wrong?

[2016-07-14 14:26] jamesrlewis opened #695 "Expected Wait, Have Done issues"
I have a LuisAPI class which calls different intents based on user input. I'm trying to call different classes from within each intent to do something special for each one.

This is part of my LuisAPI class that processes user intents:
`public class LuisAPI : LuisDialog<object>
    {
        public IProcessIntents Processor { get; }
        public LuisAPI(params ILuisService[] services)
        {

[2016-07-14 14:29] dimak72 commented on #618
Thanks! Confirmed to be working.

[2016-07-14 14:38] jamesrlewis commented on #35
okay. I opened another issue that's more specific to my problem than this thread. Thanks for your input

[2016-07-14 16:18] willportnoy commented on #695
You should call child dialogs with the

context.Call(Greet, TheMethodThatReceivesTheResultFromTheGreetChildDialog)

method so we can add that dialog to the stack (and the framework will then call StartAsync on it).

[2016-07-14 16:20] willportnoy commented on #674
Yes, you can have multiple child dialog that you IDialogStack.Call from the intent methods of a single LuisDialog.  Those child dialogs can be form flow dialogs or any other dialog - you could follow this code as an example:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Samples/PizzaBot/PizzaOrderDialog.cs#L60

[2016-07-14 16:31] willportnoy commented on #681
There is always Enum.Parse as a baseline:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Samples/PizzaBot/PizzaOrderDialog.cs#L60

I suspect this is the code in FormFlow for recognizing enumerations

https://github.com/Microsoft/BotBuilder/blob/afde93738234a5395a85d3ab251e6c75112a1eec/CSharp/Library/FormFlow/Recognize.cs#L48

@chrimc62 is this the relevant code?

[2016-07-14 16:31] dandriscoll commented on #693
I don't know much about EC2, but this is definitely possible. The Bot Framework works with bots deployed on any cloud hosting service, as long as you have an internet-accessible endpoint and a valid HTTPS cert.

[2016-07-14 16:32] dandriscoll commented on #689
We're seeing this on a few different bots -- I'm investigating.

[2016-07-14 16:36] willportnoy commented on #668
You can provide an implementation of IBotToUser like this:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/DialogModule.cs#L173

where you can hook all outgoing messages to modify or log them as you wish.

In V1, only the last message out of multiple replies was returned through the SendAsync method - the others were sent directly through IBotToUser.

[2016-07-14 16:38] willportnoy commented on #692
related to https://github.com/Microsoft/BotBuilder/issues/613

[2016-07-14 16:39] jamesrlewis commented on #695
Or what if I don't want really want to return anything from the child dialog? I just want to go through the dialog, make API calls within that dialog, and then return for the user to continue talking to LUIS

[2016-07-14 17:03] shloak commented on #662
Sorry, just to clarify, for the sample code which part do I need to edit with my credentials and how do I get my bot's Jwt token?

[2016-07-14 17:08] Thegaram commented on #694
Are you sure there's no exception? Could you include some more details from you code (e.g. how you construct `msg`)? That might help us resolve the issue.

[2016-07-14 17:11] dandriscoll commented on #689
Hi @RaffaelHold, are you seeing this error against the emulator, or one of the channels? If it's a channel, which channel are you seeing the error with?

[2016-07-14 17:11] willportnoy commented on #695
We don't really have "void" child dialogs.  I'd make up a dummy return value (null is fine) to call context.Done(dummy) in your child dialog to return from it.

[2016-07-14 17:18] willportnoy commented on #685
What version of Microsoft.Rest.ClientRuntime do you have installed now?

[2016-07-14 17:20] jamesrlewis commented on #695
I can do that. But now when I try to pass in MessageReceived as the ResumeAfter parameter for context.Call, I get the following error: cannot convert from 'method group' to 'ResumeAfter<object>'

[2016-07-14 17:20] willportnoy commented on #676
@vvvlad do you use a web proxy?

[2016-07-14 17:23] willportnoy commented on #695
the type of the second parameter for MessageReceived is likely IAwaitable<Message>, but you need a method with a second parameter of IAwaitable<object>, for example, if you're passing null as the result value and the type of your child dialog is IDialog<object>.

[2016-07-14 17:26] Thegaram opened #696 "Bot Connector not forwarding messages like "[A]: B""
Messages of the format `"[A]: B"` or `"[A]:B"` (where `A` and `B` are nonempty strings and `A` is surrounded by brackets) sent from the bot don't reach the client. I experience this on multiple channels (tested on Facebook, Skype, Slack and Kik). There's no exception on the bot side and the messages seem normal (no serialization error here), so I suppose the problem is on the Bot Connector Service

[2016-07-14 17:27] RaffaelHold commented on #689
Im seeing it against the emulator and skype.
It happens every request so if you have ideas I can easily try them out.

I dont have the repo accessible right now, but i can try additional channels tomorrow

[2016-07-14 17:31] jamesrlewis commented on #695
Okay. So I can't call MessageReceived? I'm returning context.Done<object>(null)

Also, thanks for your help. It's really appreciated

[2016-07-14 17:40] jamesrlewis commented on #695
I think I missed your earlier point since the types of IAwaitables weren't shown.

[2016-07-14 17:42] chrimc62 commented on #688
Cn you describe why you are looking at button input?  It should automatically bind to the underlying c# enum you are using for a choice field.  Whether they do a button or type a response you should end up with the same result.

Please read the documentation on FormFlow http://docs.botframework.com/en-us/csharp/builder/sdkreference/forms.html It describes how you can override templates on your cla

[2016-07-14 17:42] #688 closed

[2016-07-14 17:43] chrimc62 commented on #681
Yes, that is the relevant code.  You could reuse this recognizer.  Can you describe what it is you are trying to do?

[2016-07-14 17:47] jamesrlewis commented on #695
Actually, nevermind! I think I got it. Here's my solution:

`[LuisIntent("Greet")]
        public async Task Greet(IDialogContext context, LuisResult result)
        {
            GreetIntentProcessor GreetIntent = new GreetIntentProcessor();
            context.Call(GreetIntent, GetUserResponse);
        }

        private async Task GetUserResponse(IDialogContext context, IAwaitable<object> resu

[2016-07-14 17:47] willportnoy commented on #695
Sure thing.  Sorry, I should have hit "preview" to see that the generic types were swallowed.

[2016-07-14 17:49] willportnoy commented on #696
This seems likely to be caused by the markdown interpretation:

http://docs.botframework.com/en-us/csharp/builder/sdkreference/activities.html#markdown

where brackets are used for url links.

[2016-07-14 17:56] Thegaram commented on #696
Hmm makes sense, forgot that Markdown is the default. So I guess in my case it's a parse error as there's no URL after the brackets, and the Connector does actually forward a message (with an empty string) that is not displayed by most channels. Wouldn't it be better to give an error message in this case?

[2016-07-14 18:01] willportnoy commented on #696
Perhaps, or at least a warning.  It depends on what you feel about the https://en.wikipedia.org/wiki/Robustness_principle.

[2016-07-14 18:10] msft-shahins commented on #694
@Praggie the resumption should work, one things that have been changed from v1 is that [ResumptionCookie](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/ResumptionCookie.cs#L81) needs a ServiceUrl. Also there should be an exception happening in your code and as a result emulator showing 500 internal error.

[2016-07-14 18:12] msft-shahins commented on #685
Also make sure to uninstall Microsoft.Bot.Connector nuget from your project before installing the new Builder nuget.

[2016-07-14 18:13] manu4rhyme commented on #688
If we have two buttons say,
1) Yes
2) No
When i click on Yes, i see a number 1 being sent to the Bot.
It would be nice if there is an option to show the text, Yes (or no text at all) instead, being sent to the Bot.
Its basically a UX thing, and seeing 1 being sent to the Bot simply doesn't look as good as seeing Yes
being sent to the Bot.
If the user himself enters 1, then showing 1 is fine for me

[2016-07-14 18:21] Thegaram commented on #696
I think if some information from the bot doesn't reach the client, it shouldn't be silently ignored. But an error message towards the client also doesn't seem good. Maybe reply 400 to the bot?

[2016-07-14 18:29] rmatosaw opened #697 "System.UnauthorizedAccessException: Authorization for Microsoft App ID XXXX failed with status code Forbidden"
Hi,

After migrate do V3, I have this message trying to send messages (in Telegram, Kik, Slack):

In Skype, Email and WebChat it is ok.

System.UnauthorizedAccessException: Authorization for Microsoft App ID XXXXXX failed with status code Forbidden
   at Microsoft.Bot.Connector.JwtTokenRefresher.<SendAsync>d__2.MoveNext()
--- End of stack trace from previous location where exception was thrown ---

[2016-07-14 19:11] willportnoy commented on #684
I'm not sure I understand your question.  This looks like an example of using the middleware to have a first run experience:

https://github.com/Microsoft/BotBuilder/blob/c834e21787fc48b253276b94e2ff66d4a5ebd720/Node/examples/basics-firstRun/app.js#L34

and the firstRun middleware is a standardized implementation of that middleware:

https://github.com/Microsoft/BotBuilder/blob/c4dbb7183cc1c23837b

[2016-07-14 19:16] dandriscoll commented on #697
Thank you for reporting. We're investigating this issue.

[2016-07-14 19:16] Orbyt commented on #684
Yes, how is `Middleware.firstRun` supposed to be used?

In the first example you linked, `session.userData.firstRun` is a user defined variable, and could be named anything as its just a boolean. How is the built-in `firstRun` used?

[2016-07-14 19:25] LabN36 commented on #235
according to me sending location from messenger --> Server is possible but reverse is not possible  and  [facebook docs](https://developers.facebook.com/docs/messenger-platform/send-api-reference) doesn't specify send attachment of type  location
![location](https://cloud.githubusercontent.com/assets/10628287/16852713/c45687be-4a26-11e6-9144-dc966e8f27eb.png)

here is the response you will get on

[2016-07-14 19:35] msft-shahins commented on #496
In the new v3 API, you can call [CreateDirectConversationAsync](https://github.com/Microsoft/BotBuilder/blob/c4dbb7183cc1c23837b6d6c8bc03fe8c54ba1f55/CSharp/Library/Microsoft.Bot.Connector/ConversationsEx.cs#L56) to get a ConversationId for that user address and then you can use [StateClient](https://github.com/Microsoft/BotBuilder/blob/c4dbb7183cc1c23837b6d6c8bc03fe8c54ba1f55/CSharp/Library/Micro

[2016-07-14 19:35] #496 closed

[2016-07-14 19:42] willportnoy commented on #687
It looks like (address && address.user && address.bot && address.serviceUrl) is evaluating to false.  Are any of those undefined?

https://github.com/Microsoft/BotBuilder/blob/53af35574593b987795e4266ab7ce508b2333b84/Node/core/lib/bots/ChatConnector.js#L182

[2016-07-14 19:43] msft-shahins commented on #692
Can you share your MicrosoftAppId so we can investigate the problem? For my bots on Facebook, I see Name property in the From field of the incoming activity is getting populated correctly and all my replies are getting delivered to Facebook.

[2016-07-14 20:11] nexxuno commented on #692
<add key="MicrosoftAppID" value="1cfa33f8-09a9-4a67-ae93-a2d5d791dc9d"

And here is the activity as received by the Post, actually there is a space and not an empty string... (see bold)

-		message	{Microsoft.Bot.Connector.Activity}	Microsoft.Bot.Connector.Activity
		Action	null	string
		AttachmentLayout	null	string
		Attachments	null	System.Collections.Generic.IList<Microsoft.Bot.Connector.Attach

[2016-07-14 20:15] nexxuno commented on #692
P.s. it works on emulator too

[2016-07-14 21:12] msft-shahins commented on #692
@nexxuno it seems that you Facebook page access token has been expired and as a result our calls to facebook graph api and send api failr with the error below. Have you changed your password or page password? It seems that can invalidate the page access tokens. Generate a new page access token and update your Facebook channel registration in bot framework with the new access token:

[code]

[2016-07-14 21:21] nexxuno commented on #692
Thank you! Yes I reset my user password so that's the problem for sure! Thank you! Didn't know the two were related...

Was that an error I could see somehow? So that I will debug it without your support next time?

[2016-07-14 21:44] gosha1 opened #698 "Proactive bot in C#"
I want to know where to call the SendToConversationAsync() method. In the sample, reactive part is done within MessagesController.Post(). Similarly, I want to know where should the proactive be placed.
Can someone post a sample proactive bot in c#?

[2016-07-14 22:52] dandriscoll commented on #697
Hi @rmatosaw, can you send your Bot ID or MSA App ID?

[2016-07-14 22:55] thingista commented on #693
I just want to confirm that yes, it works with EC2 instances. Our bots are deployed on EC2.

@shivabasayya I am not sure about the emulator thing though (I don't use it). But once you are deployed, you can use the MS Bot Connector to test directly with Skype, Slack etc. The emulator is not really needed.

[2016-07-14 23:03] sixpi commented on #681
Hmm...what if I don't have a form/field to initialize the recognizer with, and I just want to reuse the recognition part?

My use case is to go from an entity from Luis to an enumeration - the bot I'm building uses Luis to try to understand as much intent as possible from a query, and fall back to a FormFlow dialog if there isn't enough information. So for example, I would like both strings "senti

[2016-07-15 01:48] msft-shahins commented on #692
We had a bug in Facebook channel connector that wasn't returning Facebook API failures to caller. After next deployment, your bot's posts to channel should fail in case of Facebook API call failures. Also you should see failures in the ChannelStatus of Facebook channel in the dev portal and if you have provided your application insights key, we will log Facebook failures to your AppInsight contain

[2016-07-15 01:53] tomlm commented on #235
I think that's right, BTW: we should be mapping the location information into the Entities[] array as a GeoCoordinate object.

[2016-07-15 02:15] rmatosaw commented on #697
Hi, danriscoll. Here is the complete message.

In out scenario, sometimes we rebuild the conversation using the last conversationId.
We did it some days after migrate to V3, but today we couldn't send messages (reply to messages) in Kik, Telegram, etc. Also, we have alerts is this channel: "*Sorry, NOVIGO_OMNI is having a problem responding right now.*"

Thanks

System.UnauthorizedAccessException:

[2016-07-15 02:45] dandriscoll commented on #697
Perfect -- thank you.

[2016-07-15 02:54] Samurais commented on #682
v3 protocol

[2016-07-15 03:09] Samurais commented on #672
thanks, @dandriscoll, but how to make an application to talk to the bot if the bot is built with Botbuilder SDK? Since the Bot Builder doesn't talk to the Direct Line API. From the bot developer dashboard, I can see there are Skype, Slack, Facebook Messenger, Kik, Office 365 mail and other popular services. Well, I want to build a customzied channel, is there any solution?

[2016-07-15 03:31] mackenziemi opened #699 "Channel Emulator and Cards"
Does anyone know if the Channel Emulator tool can display cards?

Thanks in advance
-MacK

[2016-07-15 03:45] epitone opened #700 "Grabbing the message from an IDialogContext/adding things to IDialogContext?"
Essentially what the title says, I'm following along in one of the doc tutorials and am a bit confused on how I could grab the message a user sends to the bot from a "StartAsync" method - I know that it passes an IDialogContext, is there any way to read the message they've sent from the parameter? I've attempted to copy the code from the example - I'd like to know if it's possible to grab the mess

[2016-07-15 05:21] craigomatic opened #701 "LuisDialog trying to match PromptDialog options to intent instead of calling resume method"
I've run into what I think might be a bug with the `LuisDialog `and the `PromptDialog`.

In LUIS, I have a LastActionForUser intent which is setup to match firstname/lastname pairs, ie "when did craig last perform an action".

My dataset contains multiple "craig" users, so I show a `PromptDialog `to resolve the correct craig, which results in JSON with a text property "craig 1" or "craig 2".

The

[2016-07-15 05:39] cnrudd commented on #670
I had to delete my old v1 bot, and create a new v3 bot from scratch at dev.botframwork.com -- and  create new MS App -- for the 'The remote server returned an error: (409) Conflict.' error to go away.  My newly created bot had no problem connecting to my newly migrated v3 code.

-Colin

[2016-07-15 05:43] ankitbko commented on #701
Is it possible for you to post code snippets?

[2016-07-15 05:44] pietie commented on #678
I get the same error. I'm using v3 but removed the Skype channel that was automatically added. When I try and add it back I get this error.

[2016-07-15 06:56] HeroHitesh opened #702 "Unable to maintain values either in variable or session in a waterfall function of the botframework"
I am using a waterfall function in the botframework.I am unable to call the next function in the series.

Things i have tried so far and the results:

1.     `intents.onDefault([
        function(session, args, next) {
            request({
                uri : "url_goes_here",
                method : "GET",
                json : true,
            }, function(error, response, jbody){

[2016-07-15 07:26] rmatosaw commented on #697
Any ideas to solve or work around?
Thanks

[2016-07-15 10:30] vk4421 opened #703 "Internal Server Error - Any ideas for workaround?"
InternalServerError
{
  "message": "An error has occurred.",
  "exceptionMessage": "Could not load type 'System.IdentityModel.Tokens.TokenValidationParameters' from assembly 'System.IdentityModel.Tokens.Jwt, Version=5.0.0.127, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.",
  "exceptionType": "System.TypeLoadException",
  "stackTrace": "   at Microsoft.Bot.Connector.BotAuthentication.<OnAutho

[2016-07-15 10:44] elpollouk opened #704 "Exceptions not reporting call stacks in Node SDK 3.01"
If an exception occurs in the bot code, all that'll logged is the exception message, e.g.:
ReferenceError: builder is not defined

That in itself is often not enough to track down the error. Would it be possible to log out the call stack as well please?

[2016-07-15 10:48] msimecek commented on #703
Make sure you have the right Jwt package (**4.0.2.206221351**):
`<package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net46" />`

[2016-07-15 10:56] NanashiGIT opened #705 "Markdown-Issues with Telegram"
Hello!
I've been trying to send unordered lists with markdown to a telegram client.
The problem is, that the message doesnt pop up at all, while it does work for skype.
I found a related topic on stackoverflow:
[Here](http://stackoverflow.com/questions/36551160/are-there-known-limitations-and-workarounds-for-botframework-messages-delivered)

Now i'm wondering whether thats an issue thats being res

[2016-07-15 11:38] tomfurrier commented on #678
+1, switched to v3, then tried to add a Skype channel, and it gives this same error.

[2016-07-15 11:44] 0GiS0 opened #706 "ERROR ChatConnector: receive - invalid token. Check bots app ID & Password"
Hi folks,

I've created a new bot from scratch. I did the registration and I get my app Id and my password ID. It doesn't work with ChatConnector, I get this error all the time:

![ms bot fw - error](https://cloud.githubusercontent.com/assets/175379/16873241/2d6b74a6-4a92-11e6-938e-5fb8cea07770.png)

I re-generated the password but I get the same error.

[2016-07-15 12:14] Praggie commented on #694
Though there was no exception thrown, but i got the hint from Thegaram's comment about message construction that helped in diagnosing the issue. Actually I was getting the message from resumption cookie and sending the same message as reply. I needed to swap From and Recipient to make this work otherwise black error message is seen in the  the emulator without throwing an exception.

This issue ca

[2016-07-15 12:14] #694 closed

[2016-07-15 13:36] brene commented on #706
I have this problem as well. I don't know why but constantly changing the "s=APP_SECRET" in the iframe to "t=APP_SECRET" back and forth, fixes this problem temporarily.

[2016-07-15 13:42] brene commented on #683
No, you don't seem to need it anymore. Since it automatically verifies it now for you ;-).

Please close this issue, if this is a good enough answer 😄

[2016-07-15 13:44] brene commented on #669
Usually this happens, when you forgot to add "/api/messages" to your bot endpoint. Since the example uses Restify, and is listening to POST request to "/api/messages". You should also add "/api/messages" to your base URL. Hope this helps.

[2016-07-15 13:46] brene commented on #607
Maybe you have forgotten to add "/api/messages" to your endpoint? Since the sample code uses Restify to listen to POST requests to "baseurl + '/api/messages'".

[2016-07-15 13:48] brene commented on #532
This problems seems to be solved with the V3. So I'll close this issue.

[2016-07-15 13:48] #532 closed

[2016-07-15 14:49] b4usat commented on #164
I am using the latest version of Bot Builder and Emulator. This Typing feature is not working properly. Is that am doing something wrong here
`var connector = new ConnectorClient(new Uri(activity.ServiceUrl));`
 `toReply.Type = ActivityTypes.Typing;`
` await connector.Conversations.SendToConversationAsync(toReply);`

I can see Typing pop up before my actual reply. But also it shows a empty message

[2016-07-15 16:07] jamesrlewis opened #707 "Accessing Activity with LUIS to save state"
I'm using C# and integrating the LuisDialog class. Within my implementation, I need to save the state of a  boolean property indicating the user has provided credentials. This boolean needs to be preserved throughout the entire conversation so that the user only needs to login once and then be remembered for the duration of the session.

I'm not sure how to access the Activity from this example in

[2016-07-15 16:42] 0GiS0 commented on #706
It seems like it loses the connection and it needs to restart the server....

[2016-07-15 17:45] epitone opened #709 "Moving into another dialog from inside a dialog?"
So what I have here are a series of if-statements (depending on the user's input) - once a user enters a specific block, I know that they've satisfied certain conditions - and I would like to forward them to another dialog to continue the conversation, but I cannot figure out how to do that? The documentation isn't really clear to me (perhaps I'm just not well-versed in C#) and I've been stuck on

[2016-07-15 17:51] dandriscoll commented on #697
Not yet, sorry. Still working on it.

[2016-07-15 17:52] shivabasayya commented on #693
Thanks a lot for quick response, let me try with Bot Connector to test and will update.
Thanks

[2016-07-15 17:58] Thegaram commented on #702
So in your first example, the second function (in the `...` part) never gets called? Interesting, the code below seems analogous and it work for me.

[code]

[2016-07-15 18:10] XelaMon commented on #682
@dandriscoll I'm looking at moving to v3 in the near future, but as of now my bot is on v1. If I can see attachment extensions if I upgrade to v3, I'd definitely do that!

[2016-07-15 19:03] lokijota commented on #703
I too am having this error exact same error, after updating to v3 of BotFramework. Some notes:

- I'm having this error in the "Test connection to your bot" window of https://dev.botframework.com;
- the reference in packages.config is as @msimecek says;
- the project doesn't refer to Bot.Connector.

Ideas?

[2016-07-15 19:22] lokijota commented on #653
@msft-shahins, I?m also having the same error:

InternalServerError {
  "message": "An error has occurred.",
  "exceptionMessage": "Could not load type 'System.IdentityModel.Tokens.TokenValidationParameters' from assembly 'System.IdentityModel.Tokens.Jwt, Version=5.0.0.127, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.",

I'm having the error while calling the bot in the "Test connection to y

[2016-07-15 19:23] raphael2711 opened #710 "ERROR ChatConnector: receive - invalid token. Check bots app ID & Password"
After migration my bot from V1 to V3  i get the Error  "invalid token. Check bots app ID & Password"

I already create new Application ID and Password and register a new bot on  the Bot Framwork webpage.
It works with the bot framework channel emulator V3.x

I used then new connection settings for V3
[code]
I re-generated the password but I get the same error.

[2016-07-15 19:30] msft-shahins commented on #653
@lokijota it seems that your bot still depends on the newer `System.IdentityModel.Tokens.Jwt` (5.0.0.127). Make sure that you have the right dependency and everything works locally against emulator. Then do a clean deployment. If you are deploying to azure from Visual Studio, make sure to select `Remove additional files at destination`. I have noticed that sometimes the dependencies aren't refresh

[2016-07-15 19:48] msft-shahins commented on #709
You can use [Context.Call(...)](https://docs.botframework.com/en-us/csharp/builder/sdkreference/de/db4/interface_microsoft_1_1_bot_1_1_builder_1_1_dialogs_1_1_internals_1_1_i_dialog_stack.html#a49c6523645f574c7712e5155fb3b4973) and [Context.Froward(...)](https://docs.botframework.com/en-us/csharp/builder/sdkreference/de/db4/interface_microsoft_1_1_bot_1_1_builder_1_1_dialogs_1_1_internals_1_1_i_di

[2016-07-15 19:51] msft-shahins commented on #707
You have 3 different bot data stores available off of [IDialogContext](https://docs.botframework.com/en-us/csharp/builder/sdkreference/db/d9b/interface_microsoft_1_1_bot_1_1_builder_1_1_dialogs_1_1_internals_1_1_i_bot_data.html). You can keep the boolean value in the user data bag.

[2016-07-15 19:55] msft-shahins commented on #699
Emulator have support for all supported card types. Let us know if you are seeing a case that doesn't get rendered correctly in the emulator.

[2016-07-15 19:55] #699 closed

[2016-07-15 20:10] dudeofawesome opened #711 "[v3] [Node] Prompts.choice and Prompts.confirm writing more text than wanted"
It appears that since the v3 update, the way that a choice gets rendered to Facebook Messenger has changed.
[code]
The above snippet used to output this:
![image](https://cloud.githubusercontent.com/assets/1683595/16886359/a47752d6-4a88-11e6-9e1f-99b693f595c0.png)
<img src="https://cloud.githubusercontent.com/assets/1683595/16887149/3a95d3ce-4a8d-11e6-98d6-fc93abf6c0a4.png" width="320px" />

But n

[2016-07-15 20:19] eanders-MS commented on #705
Hi @NanashiGIT, What is the name of your bot? Can you paste an example of the markdown you're sending?

[2016-07-15 20:44] mackenziemi commented on #699
Thanks! :)

[2016-07-15 21:26] msft-shahins commented on #689
@RaffaelHold can you email us at `botframework@microsoft.com`. I want you to help us diagnosing this issue by [creating a minidump with heap](https://msdn.microsoft.com/en-us/library/d5zhxt22.aspx?f=255&MSPPError=-2147217396#BKMK_Create_a_dump_file) from this error case and share it with us. Since minidumps are large, probably it makes sense to email us first and I give you a share to copy the min

[2016-07-15 21:29] msft-shahins commented on #673
@NicolasHumann can you email us at `botframework@microsoft.com`. I want you to help us diagnosing this issue by [creating a minidump with heap](https://msdn.microsoft.com/en-us/library/d5zhxt22.aspx?f=255&MSPPError=-2147217396#BKMK_Create_a_dump_file) from this error case and share it with us. Since minidumps are large, probably it makes sense to email us first and I give you a share to copy the m

[2016-07-15 21:45] epitone commented on #709
I'm attempting to use the system prompts, and getting consistent errors - the bot responds with a 500 Error, and in my Output window, I seem to be getting:

[code]
This isn't really telling me anything and I'm not sure what to do about it.

[2016-07-15 21:50] epitone commented on #709
I managed to fix it somehow by stepping away from my computer - I think I misnamed a method or something somewhere, it works now! I'm going to go ahead and close this myself.

[2016-07-15 21:50] #709 closed

[2016-07-15 22:46] TexAgg commented on #616
What exactly did you do to fix this? I am having the same problem, where the Activity class and whatnot are not defined, so if I remove references to the Bot.Connecter namespace i get errors

[2016-07-15 22:57] rmatosaw commented on #697
Hi dandriscoll. Do you think if I create a new robot I will have the same problem?
sorry for my insistence. But some key channels for me are without work, and I have to deliver them next week.
If so, I recreate it again on the Microsoft Bot (and keep the accounts of each Kik bot, Telegram, etc) and I re-apply for a new Bot.

[2016-07-15 23:04] dpakpaul commented on #616
Uninstall the Microsoft.BotBuilder (the new one you might already have dropped in), then manually remove the reference to Microsoft.Bot.Connector if its still left behind and then re-add the BotBuilder package via NuGet. Not the best way to go about things, but it worked on my machine.

[2016-07-15 23:10] pke opened #712 "LUIS date response "2016-W29" can not be resolved"
The following LUIS response entity `next week` cannot be resolved
[code]

calling:
`builder.EntityRecognizer.resolveTime(entities)` on it returns `undefined`.
Shouldn't the returned `resolution` be `chrono.duration` anyway?

And resolveTime should return the `startTime` and `endTime` of the specified week.

[2016-07-15 23:43] lokijota commented on #653
@msft-shahins, here's what I did:~

- there was an assembly redirect in web.config:

I commented this line, cleaned, redeployed, and when I tested it, the Internal Server Error remained, but this time referring to the 4.x version of the Jwt assembly;

- I had already set the "clear files at destination" option;

- I removed the Jwt reference from the project, removed/added Bot.Builder again in Nug

[2016-07-15 23:58] msft-shahins commented on #653
remove this from your web.config:

[code]

and also make sure that your bot works against emulator with your MicrosoftAppId and MicrosoftAppPassword before trying the deployment.

[2016-07-16 00:13] lokijota commented on #653
Hi,

I had another problem: the NewtonSoft assembly was at version 9.x . Fixed that, redeployed, and now it seems to be working, error 500 is gone. I still have a compilation warning:

1>C:\Program Files (x86)\MSBuild\14.0\bin\Microsoft.Common.CurrentVersion.targets(1820,5): warning MSB3277: Found conflicts between different versions of the same dependent assembly that could not be resolved.  Thes

[2016-07-16 00:20] lokijota commented on #678
Same here.

[2016-07-16 00:31] Orbyt opened #713 "Telegram bot doesnt seem to be working properly since v3"
Recently upgraded to v3 and redeployed to telegram. When starting a new converstation, I get the following in bold:

"**Sorry, MyBot is forbidden for us to talk to.**"

I did not find any information on this error from Telegram, and since i've only seen this happen since upgrading to v3 I would assume the issue is something on BotBuilder's end. Has anyone seen this error?

**Edit:** Seems to be re

[2016-07-16 01:05] lokijota commented on #710
Did you notice that there are now 3 settings in web.config?
[code]

[2016-07-16 01:06] lokijota commented on #703
Eventually solved it, but the simplest way around is to create a new project and copy the code and settings.

[2016-07-16 01:51] TexAgg commented on #616
I removed it from my packages and from all my using statements but I'm still getting errors

[2016-07-16 01:55] nzthiago opened #714 "Method not found HttpOperationException setter"
I'm updating the AzureBot to V3 (this branch in my AzureBot fork https://github.com/nzthiago/azurebot/tree/botbuilderV3).

When I run it locally and with the emulator v3 I'm getting the following error and stack trace. Any ideas? It could be related to the nuget packages/dlls I ended up with after updating the Azure packages...

[2016-07-16 02:01] nzthiago opened #715 "Method not found HttpOperationException setter"
I'm updating the AzureBot to V3 (this branch in my AzureBot fork https://github.com/nzthiago/azurebot/tree/botbuilderV3).

When I run it locally and with the emulator v3 I'm getting the following error and stack trace. Any ideas? It could be related to the nuget packages/dlls I ended up with after updating the Azure packages...

[2016-07-16 03:28] raphael2711 commented on #710
i don't have a web.config i used the node.js api and start my bot locally.

[2016-07-16 05:06] eanders-MS commented on #713
Hi @Orbyt, this error message is returned when the connector tries to send your bot a message, and your bot service returns a 401 (Unauthorized) or a 403 (Forbidden). This could happen for a number of reasons. We are requiring https endpoints now. Is your bot using http by chance?

[2016-07-16 05:13] alexsorokoletov opened #716 "Allow logging more information from botbuilder Node.js module to console"
There is a class `logger.js`|`logger.ts` that has a method `logger.info`. Unfortunately, you can see  additional information from the logger only if you are chatting with emulator (and this makes sense).

What would be great is to add a process env switch to enable logging for any channel, not just emulator.
As far as I know there is a standard approach for that in the node modules.
If the name of

[2016-07-16 06:21] alexsorokoletov commented on #664
Thank you, @garypretty. Wondering, what is the way to do that in the Node.js SDK.
@Stevenic would you be kind to share your thoughts on that?

[2016-07-16 06:34] Stevenic commented on #711
Adding Tom. Think this may have gotten introduced with a recent change.

[2016-07-16 07:04] #716 closed

[2016-07-16 07:05] Stevenic commented on #532
Good to hear

[2016-07-16 08:18] HeroHitesh commented on #702
Try putting a request and then calling the next function in callback.

[2016-07-16 09:37] naoya0731 commented on #565
@tahazayed it's great! Can I use it?

[2016-07-16 10:23] Varooneh opened #718 "Microsoft Bot Framework : SigninCard not showing in telegram"
I tried create Telegram bot client with Microsoft Bot Framework, when I create signincard with this framework, signincard created successfully and I can see buttons in Microsoft Bot Emulator but when I publish to server and test it with Telegram, signincard not showing in bot, please tell me how to fix it.

code :

`
Activity reply = null;
            ConnectorClient connector = new ConnectorClien

[2016-07-16 11:58] garypretty commented on #693
Hi @shivabasayya. You can use the emulator to connect to your bot remotely once deployed into EC2 (or wherever you choose to host it).  The only difference between testing it locally and remotely is;

 - Your app Id and password need to be populated in the emulator
 - Your bot URL should be changed in the emulator to the remote endpoint Url

You also need to change the emulator Url.  When you put

[2016-07-16 12:14] garypretty commented on #707
+1 for this.  I have a similar requirement and I am storing a value in the ConversationData bag.
The 3 bags you have are;

- **User Data** - data about the user that is available across all channels and conversations
- **Private Conversation Data** - data about the user that is specific to that specific conversation
- **Conversation Data** - data associated with a conversation (could be applicable

[2016-07-16 12:18] garypretty commented on #712
I have never found that week numbers automatically resolve, although agree that it would make sense for them to. I have been parsing them myself so I will be interested to know if this is something that will come.

[2016-07-16 12:32] pke commented on #712
Well I just assumed the `EntityRecognizer` could handle everything LUIS throws out :) `momentjs` can handle this.

[2016-07-16 15:41] #703 closed

[2016-07-16 15:50] #714 closed

[2016-07-16 15:50] nzthiago commented on #714
duplicate

[2016-07-16 15:55] nzthiago commented on #715
I believe this is a conflict between Microsoft.Rest.ClientRuntime version 1.8.2 needed by the Bot Framework, and Microsoft.Rest.ClientRuntime > 2.0.0 needed by Microsoft.Azure.Management.ResourceManager via Microsoft.Rest.ClientRuntime.Azure that I'm using on another project which I reference from my bot project.

[2016-07-16 16:36] kenrick95 opened #719 "Add User-Agent HTTP header when communicating from channel to bot"
There are times where User-Agent is useful for debug at the bot server side (to determine which client channel is buggy or spammy). There are other times when it is required to do so, one example is on [Wikimedia servers](https://meta.wikimedia.org/wiki/User-Agent_policy)

In my case, I'm trying to deploy a Node.js-based bot using BotBuilder to [WMF's Tool Labs](https://wikitech.wikimedia.org/wiki

[2016-07-16 16:47] nzthiago commented on #715
Yes, confirmed. It was the same problem as we had before. The dependency the bot framework has on Microsoft.Rest.ClientRuntime version 1.8.2 is stopping us from using the latest non-deprecated version of the Azure nuget packages.
Can link this issue to the previous one we raised: #208

[2016-07-16 16:47] nzthiago commented on #715
#208

[2016-07-16 17:10] Orbyt commented on #713
@eanders-MS No, the messaging endpoint is https. What else could cause this error?

Also note, the bot seems to work fine on both the emulator and Facebook Messenger.

[2016-07-16 17:36] possan opened #720 "Skype web not showing cards or images"
I suspect that i am not using the latest Skype web version, but how do i verify that i have switched to the correct version?

The only indication of a version number in the HTML is one in the feedback url and that says `0.219.0`

The cards i send shows up just fine in the Slack integration.

[2016-07-16 17:57] garypretty commented on #720
Right now the normal web client for Skype doesn't support cards.  If you wanted to test your bot with Skype web then you can use the developer version by signing into slype at [](https://web.skype.com)
and then once signed in go to [](https://web.skype.com/en/?ecsoverride=developer) which will give you the developer version.

Hope that helps.

[2016-07-16 18:12] garypretty commented on #701
If it helps, below is how I am using a choice prompt in a LUIS dialog.

In your intent method you call your dialog as shown below. You need to make sure you use content.call so you pass off to a child dialog.

[code]

Then, you can get the result of the prompt like so in the method below.

[code]
Hope that helps.

[2016-07-16 19:28] epitone opened #721 "Exception thrown: 'System.Runtime.Serialization.SerializationException' in mscorlib.dll"
Essentially what the title says, in my MessageReceivedAsync method, I grab the user's message and make a HTTP call to Luis to grab the relevant intents that match it - if it matches a specific one, I route to a specific part of the conversation.  My problem is that on the first pass, the routing works fine, but on the second pass, in a specific if-statement, I get a serialization exception - which

[2016-07-16 20:22] garypretty commented on #721
Hi @epitone.

I'm afraid I can't see your specific problem, but (and sorry if I am telling you something you already know but, even if you do, maybe it can help someone else). There is a specific Dialog to help with using the LUIS service.  The LUISDialog (https://docs.botframework.com/en-us/csharp/builder/sdkreference/d8/df9/class_microsoft_1_1_bot_1_1_builder_1_1_dialogs_1_1_luis_dialog.html) al

[2016-07-16 20:26] epitone commented on #721
thanks @garypretty ! I may just switch to this method, as my current method is proving to be quite frustrating.  I'm going to go ahead and close this.

Though when you finish that blog post, I'd love to see it!

[2016-07-16 20:26] #721 closed

[2016-07-16 20:28] garypretty commented on #721
Great, well follow me on Twitter (@garypretty) or keep an eye on www.garypretty.co.uk - it should be up in a few days! Let me know how you get on with the LUISDialog too.

[2016-07-16 21:22] alexsorokoletov opened #722 "Intermittent Check bots app ID & Password message with skype"
For some reason today when debugging bot locally and using skype I see intermittent messages
`ERROR: ChatConnector: receive - invalid token. Check bots app ID & Password.`

During same debug session (bot runs and I test the script) I see the message in the logs sometimes.
In the same dialog answering same question (basically simple dialog with one function) sometimes fails and sometimes works.
Wen

[2016-07-16 23:44] chocvanstraw opened #723 "401 when using Start without Debugging"
I recently started using V3.  If I run the bot web api locally using Start without Debugging in VS 2015 I get a 401 error as I have the MicrosoftAppId and MicrosoftAppPassword empty.  if I run the bot web api locally in Debug it works fine.  This wasn't an issue with V1.  Is this by design?

[2016-07-16 23:50] chocvanstraw opened #724 "Dynamic fields odd behavior in V3 Channel Emulator"
In V1 dynamic fields generated using FieldReflector displayed the list of items as a nice ordered list and the item text supported markdown in the Bot Emulator.  After upgrading to V3 framework and the V3 channel emulator the items appear in the emulator with no numbers and the item text appears inside a box.  Markdown isn't rendered at all.  If I click the box it will select the item.  Also, if I

[2016-07-17 00:17] dandriscoll commented on #723
Yes, this is by design. Auth is only disabled when your app ID is empty AND a debugger is attached.

[2016-07-17 00:18] garypretty commented on #723
This does appear to be by design.  The BotAuthentication class in the connector checks to see if the Debugger is attached AND if the MicrosoftAppId is empty.  If both are true then it will skip authentication.  However, as you are starting without debugging, it is trying to authenticate.

[2016-07-17 00:18] garypretty commented on #723
@dandriscoll beat me to it!

[2016-07-17 00:21] garypretty commented on #723
@chocvanstraw best thing to do here if you want to run without the debugger attached is to register your bot in the dev portal.  You don't need to provide a messages endpoint as you haven't published, but you will be able to get an App Id and Password to use in your config.

[2016-07-17 00:21] dandriscoll commented on #722
Yes, that's probably it. Thank you for noting that. We're seeing validation errors in other places but this is definitely a problem.

[2016-07-17 00:31] garypretty commented on #724
I believe the behavior you are seeing in the emulator is the prompt being represented as buttons.  Try clicking on one of the items to choose it in the emulator.  This method of presenting the user a series of buttons is supported on some channels, such as Slack, and it is what you see in the emulator if you use a simple prompt dialog.

On channels where buttons are not supported, I believe you sh

[2016-07-17 00:35] chocvanstraw commented on #723
10-4!  Thanks for the quick replies

[2016-07-17 00:35] #723 closed

[2016-07-17 00:38] dandriscoll commented on #713
We're tracing down some issues in the auth validation path.

Is your bot written in C#, Node.js, or another language?

[2016-07-17 00:41] dandriscoll commented on #719
Interesting suggestion; we'll look into it. Do you know of any other servers requiring User-Agent strings beyond WMF?

[2016-07-17 00:51] chocvanstraw commented on #724
So the v3 emulator defaults to buttons for dynamic fields whereas v1 defaulted to an ordered list?  When I added my v1 bot to slack it displayed as the ordered list rather than the buttons.  I also noticed that the text in the buttons is center aligned and gets truncated if it's too long rather than wrapping as the v1 ordered list did.  Thanks

[2016-07-17 01:13] TexAgg commented on #671
This happens to me with the groupme channel, whereas in V1 my bot only responded when specifically mentioned

[2016-07-17 01:19] wtam commented on #678
I use V3 and its works in the past few days till yesterday , my  skype bot  on PC suddenly show "Messaging Unavailable" and I can't typing anything from Skype.  but the bot still show online?  Anyone see the same thing?

[2016-07-17 01:37] kenrick95 commented on #719
A quick web search shows that there are few other companies requiring User-Agent header to access their API (e.g. [Jumio](https://www.jumio.com/2013/10/mandatory-user-agent-latest-release-notes/), [GitHub](https://developer.github.com/changes/2013-04-24-user-agent-required/)), but I can't find any other companies that allows hosting stuff on their server requiring this policy beyond WMF.

[2016-07-17 03:30] kienct89 commented on #707
I want to implement OAUTH authorization flow using **ResumptionCookie** inside **LuisDialog**
Therefore, I need to be able to access the origin activity

Any idea?
Thanks.

[2016-07-17 04:14] craigomatic commented on #701
Thanks for the suggestion, that's basically what I'm doing.

My `MessagesController `looks like this:

[code]

I then have my `MemberDialog` with a simple intent:

[code]

I don't seem to be able to get the _ResolveMemberResult method to be invoked, instead the response ends up at my None intent.

[code]

The pizza example works as expected and I modeled my code based on it which is why I thought

[2016-07-17 04:56] alexsorokoletov commented on #631
Webchat started working for me yesterday. I've upgraded bot to 3.0.1 and redeployed to Azure, then refreshed the credentials in the Webchat configuration.
One thing I noticed is that if you respond quickly to Webchat, it looses some messages and conversation lags behind.

[2016-07-17 05:32] arieschwartzman commented on #722
Same here. It happens on some machines, maybe to do with how internal clocks are synced across local and cloud machines?

[2016-07-17 05:47] alexsorokoletov commented on #722
Looks like, hope the fix is easy. So far for workaround I'm counting to 10 before sending reply when testing. But this will not work for customers in production.

[2016-07-17 08:23] alexsorokoletov commented on #595
I've provided the key and have been using the bot for a while. My insights shows no data. What am I doing wrong?

[2016-07-17 08:32] mghimp opened #725 "Skype call bot calling webhook does not support query string parameters"
I wish to be able to append query parameters to Skype Bot Calling webhook URL and to have these parameters deserialized in IncomingCallEvent. This will allow me to create a stateless bot and to control its functionality by configuration from Call URL.

I was able to workaround this with Skype Bot SDK but it seems impossible to workaround with Bot Framwork SDK v3, so since Skype Bot SDK is phasing

[2016-07-17 08:58] wtam commented on #678
found the work around for "Messaging Unavailable" issue is to delete the skype bot contact and add it back again then its works again.

[2016-07-17 09:39] lmessinger opened #726 "Send message on V3 returns internal error 500"
I need to send a message, but i dont want to use a dialog

Here's what I do:

 var bot = new builder.UniversalBot(connector);
       var msg = new builder.Message();
       msg.address = address; //from = ses.message.to;
       msg.text = message;
       msg.textLocale("en");

       bot.send([msg],function (err) {

         //.... and here I get 500 error
       })

* The incoming message is rece

[2016-07-17 10:05] kalkie commented on #164
I explicitly set the Text property of the reply to null. I also noticed that not all channels are working correctly yet. I got Facebook messenger to work.

ConnectorClient connector = new ConnectorClient(new Uri(activity.ServiceUrl));
Activity reply = activity.CreateReply();
reply.Type = ActivityTypes.Typing;
reply.Text = null;
await connector.Conversations.ReplyToActivityAsync(reply);

![botframe

[2016-07-17 10:05] garypretty commented on #701
Try replacing

[code]

with something like this

[code]

The above will create a prompt choice dialog. The first param is your list of options for the user to pick from. The second is the prompt text.  The third is the text to display is the user doesn't pick a valid option and finally the forth is the number of times we should retry taking the choice from the user before failing out.

Once the di

[2016-07-17 11:41] dharmendracs commented on #365
i am using FormDialog to create form and is getting rendered properly in emulator.

here is the image in emulator
![1](https://cloud.githubusercontent.com/assets/6490489/16900377/16b7f0f8-4c41-11e6-847d-6b8171a6bb57.png)

however when i integrate same thing in skype ,it shows blue screen dialog anf does not dispaly button/choice  to select category.
here is image in skype
![2](https://cloud.github

[2016-07-17 12:02] safiresh commented on #647
When we will expect the Skype app (mac & web) will support new features like cards & carasouls.
Any date microsoft  allowance ?

[2016-07-17 12:16] mayuanyang opened #727 "Use direct line from web page"
Hi
I got Direct Line  with secret key setup on my bot, add a new html page and use javascript to send requests, request token get generated fine, conversationId is also returned, post a message with the conversationId got http 204 which also looks good, but when i try to get the messages it always return a empty list, e.g. messages: [], any idea?

I am using V3, however i am not too sure if i need

[2016-07-17 12:44] possan commented on #720
Yes exactly, i have done that quite a few times and i still don't see any cards, how do i actually verify that i am using the developer version?

[2016-07-17 14:19] safiresh opened #728 "Issue on create conversations Bot Frame work V3"
Hi,
I  tried to create new conversations with my skype from My Bot.  I call start conversations API  got  successful response but  conversionId its wrong  its return what i send member.id request

URL : https://skype.botframework.com/v3/conversations
Request :
{"bot":{"id":"28:96509f54-d46a-4bf5-a67a-259db952e7ba","name":"Insight-Dev"},
 "members":[{"id":"sathish_hakunamatata","name":"sathihs"}]
}

[2016-07-17 16:17] raphael2711 commented on #710
I found the problem by myself , there was a timing problem into the jwt  and  chatconnector lib.

[2016-07-17 16:26] Orbyt commented on #713
@dandriscoll Node.js

[2016-07-17 18:59] Orbyt opened #729 "Node.js indicate bot is typing?"
With v3 I noticed that, at least in the C# version, there is a way to indicate the bot is "typing". I'm fairly certain its called a typing activity. I've gone through the node.js sdk and cant seem to find any kind of reference on something like this.

Is this functionality not yet in the Node.js SDK? If it is, how is it used?

[2016-07-17 19:37] garypretty commented on #729
In case anybody hits this thread who isn't on the Gitter channel, it is worth noting that @Stevenic has indicated that from node the typing activity can currently be sent using **session.send({ type: 'typing' });**.  This may be replaced by a helper method at some stage.

[2016-07-17 19:45] Orbyt commented on #729
I guess i'll close this for now. @Stevenic has indicated this functionality is not yet documented but will be soon. Thanks again.

[2016-07-17 19:45] #729 closed

[2016-07-17 19:58] dandriscoll commented on #710
Thanks for noting this. We have some fixes in the works that will address this.

[2016-07-17 20:20] Stevenic commented on #729
I've already added a new `session.sendTyping()` method.  Will be in next release :)

[2016-07-17 22:12] glenchao opened #730 "ChatConnector IBotStorageData is not preserved and restored properly on getData and saveData"
node botbuilder v3.0.1
mac cli emulator v3.0.6037.27277

In `ChatConnector`, `getData` and `saveData` expects the requests and responses to use `IChatConnectorState` interface.
[code]
However, the `body` the returns from `authenticatedRequest` have capitalized properties instead.
[code]

Therefore, when `getData` sets the data to return, it will never be able to restore any data.
[code]

**Repro:*

[2016-07-17 23:52] jesiah-hackinglife commented on #722
Will this be a repository level fix, or a system fix on the microsoft side?

[2016-07-18 02:10] dandriscoll commented on #722
This will be a set of fixes to the SDK.

[2016-07-18 02:36] dandriscoll commented on #727
Hi @mayuanyang, sorry to hear you're having trouble. You're following the correct approach for posting messages to the DirectLine channel and then getting them. You are not required to use the Nuget package; you can call from either service code or Javascript (or any other code) and as long as you adhere to the HTTP Direct Line protocol, everything should work.

If you can send me a bot ID or conv

[2016-07-18 03:34] ronnelsantiago opened #731 "playing youtube video on web.skype.com web client window.."
I'm using https://web.skype.com/en/?ecsoverride=developer and I just want to simply show user a youtube video, i know that the bing music bot does this ok, im setting it like so:

[code]

but im getting this instead:
![capture](https://cloud.githubusercontent.com/assets/1751062/16905606/0b10b48c-4cec-11e6-9728-fc427a71d0ff.PNG)

what I might be missing?

[2016-07-18 04:06] kienct89 opened #732 "PrivateConversationData is not being saved in V3.0 (C# SDK)"
Hi,

I'm having problems with saving and retrieving **PrivateConversationData** using new **BotStateClient** in latest C# v3.0 SDK.

Code Sample:

1. **Save**

[code]

[code]

2. **Load**

[code]

`
var pending = activity.LoadPrivateConversationData<ResumptionCookie>("persistedCookie");
`

Additional Notes:
- if I debug or load the private conversation data **right after it being added**, the data

[2016-07-18 04:10] kenakamu opened #733 "Direct Line: How to really use upload function to upload image?"
Hi there,

I cannot figure out how to upload image via Direct Line. Is there any comprehensive samples?
Thanks!

[2016-07-18 04:25] pietie commented on #713
I also get this with my Node.js bot(v3). It actually works fine for a bit and will just hit 403s all of a sudden. When I then resubmit the *same* auth key it works again for a bit.
My bot is running on https on an Azure free account.

[2016-07-18 04:32] craigomatic commented on #701
Unfortunately that doesn't get me any further :/

Internally, the static method is calling context.Call with the dialog/resume method (see [PromptDialog.cs](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/PromptDialog.cs)) so it's basically doing the same thing as the code I posted, minus one layer of abstraction.

[2016-07-18 05:27] glenchao commented on #732
[similar problem](https://github.com/Microsoft/BotBuilder/issues/730) to what i was experience in js

[2016-07-18 06:52] upendrareddy2003 opened #734 "@ tags making formflow to fail"
Hi Team,

I am trying to build a bot using FormFlow. I deployed the service to Azure and calling the service from Skype. When I press the button on a Field enum list, I am getting @ tag in the activity.Text. The text(acticity.Text) that I am getting is _&lt;at id="28:c442d87d-4945-4f16-bd2e-3efc69fe01d0"&gt;@BuildHDFCBot  &lt;/at&gt; 1_.  As a result FormFlow is throwing an error like _"@BuildHDFC

[2016-07-18 07:01] NanashiGIT commented on #732
Pretty much the same problem i have, not just with PrivateConversationData:
[https://github.com/Microsoft/BotBuilder/issues/643](https://github.com/Microsoft/BotBuilder/issues/643)

[2016-07-18 07:02] kienct89 commented on #732
@NanashiGIT do you have any workround for now?

[2016-07-18 07:06] NanashiGIT commented on #705
My Microsoft App Id is:
4998a523-b204-4f22-b137-37ba8e808e3a

My string is pretty much:
"Your team members are:\n\n* Member1 \n\n* Member2 \n\n* Member3"

All I want is an unordered list like:
Your team members are:
* Member1
* Member2
* Member3

Greetings

[2016-07-18 07:07] NanashiGIT commented on #732
Not really. I have to save my data in an azure table storage... but i still hope they can help us on this one.

[2016-07-18 08:34] glenchao commented on #732
@kienct89 i have a temporary work around for JS... not sure if you could find a similar thing for c#
In JS, change `body.data` to `body.Data` in `ChatConnector.getData`.

That said, I don't think that's the right fix... I think the problem might be the emulator?

Another workaround is to use ConsoleConnector first, then switch back to ChatConnector before deploying...

[2016-07-18 08:39] glenchao opened #735 "Error in node.js documentation page for Dialogs"
[documentation page for Dialogs](https://docs.botframework.com/en-us/node/builder/chat/dialogs/#dialog-handlers)

The second example code block for Waterfall uses `session.endDialogWithResults`.
It should be [session.endDialogWithResult](https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.session.html#enddialogwithresult) instead.

[2016-07-18 09:08] NanashiGIT opened #736 "Customize Formflow: Confirmations/Prompts"
Hello!
Im trying to customize a Formflow in the sense that i want it to be more understanding.
For example, im using LUIS.
When a user confirms an entered value, i dont jsut want the confirmation to accept "Yes, yep,..." and so on. I want it to understand "Yes, i am sure!" or something similar.
Is there a way to intepret the confirmation by my own?
(That question also applies to Confirmation-Dialo

[2016-07-18 09:25] Samurais commented on #727
hi, @dandriscoll,  I have made a directline api library for node.js.
https://www.npmjs.com/package/directline-api

But it is not friendly to use. It is a bit complicated, the POST API get nothing, and should write another method to retrieve and parse the messages in GET API. Is there any plan to enhance it? Such as just return the reply in POST API?

[2016-07-18 09:27] #672 closed

[2016-07-18 10:10] mayuanyang commented on #727
Hi @dandriscoll
The app Id is 1b3e574b-8aab-437c-a7d9-5f8b52469c02
I am using AngularJS 1.5 as the client, here are my client side code
`getRequestToken() {

        return this.$http.get('https://directline.botframework.com/api/tokens');
    }

    startConversation() {
        return this.$http.post('https://directline.botframework.com/api/conversations', '');

    }

    postMessage() {

[2016-07-18 11:40] nexxuno commented on #692
Ok, thank you the posts failures propagation is a very much needed change.

[2016-07-18 13:08] asubbotin opened #737 "Skype attachment"
Hi all!

I have a problem. The object contains list of attachments if incoming message has one. But ContentUrl don't work. For example object have
ContentUrl=https://df-apis.skype.com/v2/attachments/0-neu-d5-faac5db55162e82d9261c8777066c6d3/views/original
or
ThumbnailUrl=https://df-apis.skype.com/v2/attachments/0-neu-d5-faac5db55162e82d9261c8777066c6d3/views/thumbnail
But if open a url in browser,

[2016-07-18 13:15] dandriscoll commented on #672
These are separate APIs with separate SDKs.

On the bot side, there's the Bot Builder SDK that talks to the Bot Connector REST API. The Bot Builder SDK allows your bot to talk to any channel.

On the channel (client) side, there's the Direct Line client that talks to the Direct Line REST API. The Direct Line client can talk to any bot registered with the Bot Framework.

At the moment, we've only g

[2016-07-18 15:57] jrmienna opened #739 "Redundant text with herocards and prompts in Facebook Messenger"
When you send herocards or prompts, the bots sends **redundant** text saying "Options" in Facebook Messenger.

![capture](https://cloud.githubusercontent.com/assets/6793075/16921250/036c273c-4d11-11e6-8214-e3a3fae728f7.PNG)

Here's the code:
[code]

[2016-07-18 16:13] gartdan opened #740 "Unable to deserialize the response when deployed to Azure"
Hi there,

When running the default Bot Application app (that you get from File > New >  Bot application), everything works fine locally, but when I deploy to Azure, I get the following 500 server error. The exception is thrown by this line:: await connector.Conversations.ReplyToActivityAsync(reply);

Again, this works fine locally, but when deployed to Azure I get this error. I am invoking the bo

[2016-07-18 16:27] apuyana opened #741 ""is having a problem responding right now" with every bot message only on facebook"
After I upgraded the bot to V3 everythings seems to work, I use skype channel, web chat and facebook, on all the channels the bot is working as expected, except with facebook, after every message the bot sends back, there is another message that says "<botName> is having a problem responding right now"
I have already used /deleteprofile command and the problem still happends.

The status of the ch

[2016-07-18 16:59] gartdan commented on #740
OK, of course this wouldn't work because the bot is attempting to connect back to the emulator in order to get a response. My misunderstanding :) Connected it to skype and it works like a charm.  Closing. thanks!

[2016-07-18 16:59] #740 closed

[2016-07-18 17:15] jamesrlewis commented on #707
Thanks for the responses! @garypretty  your example was very helpful and worked like a charm.

[2016-07-18 17:15] #707 closed

[2016-07-18 17:26] garypretty commented on #739
This is a currently known issue (https://github.com/Microsoft/BotBuilder/issues/711) and has been marked as a bug so the team are aware of it. Hopefully there should be a fix soon.

[2016-07-18 17:35] eanders-MS commented on #705
Thanks for the info. I am still investigating your issue, but did happen to notice that typing activity is broken in Telegram and throwing an exception. I have a fix incoming for this. In the meantime you might try not sending typing activity.

[2016-07-18 17:51] oztheozoz opened #742 "Intermittently getting ERROR: ChatConnector: receive - invalid token. Check bots app ID & Password."
Using BotBuilder with Node.js, I am intermittently (every 3-6 success, I get 1 failure) getting

 I get this error interacting with my bot through FB Messenger and the "Test connection to your bot" button on the bot framework site but not through Skype. I looked into the code to see where this error is coming from.

In the botbuilder/lib/bots/ChatConnector.js line 118
`if (decoded.payload.aud != _

[2016-07-18 17:59] msft-shahins commented on #737
Similar to #662. Skype attachments are secured by bot JwtToken, you need bot JwtToken as a bearer token to be able to access those urls.

[2016-07-18 17:59] #737 closed

[2016-07-18 18:05] willportnoy commented on #577
I'm going to close this issue - feel free to open a new issue for further discussion.

[2016-07-18 18:05] #577 closed

[2016-07-18 18:06] willportnoy commented on #639
I'm going to close this issue - feel free to open a new issue for further discussion or if you have more information.

[2016-07-18 18:06] #639 closed

[2016-07-18 18:06] willportnoy commented on #580
I'm going to close this issue - feel free to open a new issue for further discussion.

[2016-07-18 18:06] #580 closed

[2016-07-18 18:06] willportnoy commented on #655
I'm going to close this issue - feel free to open a new issue for further discussion.

[2016-07-18 18:06] #655 closed

[2016-07-18 18:06] willportnoy commented on #674
I'm going to close this issue - feel free to open a new issue for further discussion.

[2016-07-18 18:06] #674 closed

[2016-07-18 18:07] willportnoy commented on #658
I'm going to close this issue - feel free to open a new issue for further discussion.

[2016-07-18 18:07] #658 closed

[2016-07-18 18:07] willportnoy commented on #668
I'm going to close this issue - feel free to open a new issue for further discussion.

[2016-07-18 18:07] #668 closed

[2016-07-18 18:07] willportnoy commented on #695
I'm going to close this issue - feel free to open a new issue for further discussion.

[2016-07-18 18:07] #695 closed

[2016-07-18 18:09] msft-shahins commented on #732
@kienct89, @NanashiGIT does this only happen when you test against emulator? or does it happen against the production state API service too?

[2016-07-18 18:13] willportnoy commented on #736
For the prompt dialogs, we store the list of "yes" answers in a resource that can be customized:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/PromptDialog.cs#L419

FormFlow uses the same resource:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/FormFlow/IFormBuilder.cs#L292

[2016-07-18 18:24] oztheozoz commented on #625
I just opened an issue this morning that is related to this. I am linking it here because I believe it may provide a reason for why this is occurring https://github.com/Microsoft/BotBuilder/issues/742

[2016-07-18 18:35] #637 closed

[2016-07-18 18:47] brentzucker commented on #710
#742

[2016-07-18 19:24] willportnoy commented on #595
Are you able to log other events to your app insights container?

[2016-07-18 19:41] tomlm commented on #726
does it work in the emulator?

[2016-07-18 19:48] lmessinger commented on #726
I'm not using the emulator... does the sequence look right?

On Mon, Jul 18, 2016 at 10:41 PM, Tom Laird-McConnell <
notifications@github.com> wrote:

[2016-07-18 20:18] alexsorokoletov commented on #595
How do I do that with Node.js SDK?

[2016-07-18 20:25] asram363 opened #744 "Issue with using multiple LUIS models"
I have 2 luis dialogs and am trying to call one from another using context.Forward. However, I am getting the exception Microsoft.Bot.Builder.Internals.Fibers.InvalidTypeException at this line:

await context.Forward(new NextDialog(), ResumeAfter, result, CancellationToken.None);

Any suggestions on what the problem is?

[2016-07-18 20:58] matheus208 opened #745 "Facebook Account Linking event"
Is there a timeline for implementing Facebook's API Account Linking events?

I have implemented the whole control flow, but the [Account Linking Callback](https://developers.facebook.com/docs/messenger-platform/webhook-reference/account-linking) is not sent to my application.

Alternatively, is there a way of enabling this callback through the Framework to the applications?

[2016-07-18 22:29] alisiikh commented on #713
Same issue for me with Telegram running on v3. Appears randomly, and normally everything works. The rate is about 10% or so.

[2016-07-18 22:42] oztheozoz commented on #742
A quick fix is to do what @raphael2711 mentioned in #710 and go to line 117 of botbuilder/lib/bots/ChatConnector.js and add + 100 like so:
`var now = new Date().getTime() / 1000 + 100;`

However, you need to do 1 more step to avoid getting the following error:

    at Object.module.exports [as verify] (/root/nodeserver/bot/demoBotApp/msbf/node_modules/botbuilder/node_modules/jsonwebtoken/verify.js

[2016-07-18 23:37] msft-shahins commented on #732
@kienct89, also are you using the builder SDK and use the StateClient to save the data in your dialog? Is there a reason not to use the IDialogContext?

Builder is using [CachingBotDataStore_LastWriteWins](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/BotData.cs#L244) as its default IBotDataStore implementation which means that when [PersistentDailogCotext](https://git

[2016-07-19 00:11] msft-shahins commented on #654
related to #730. We should have a fix with a new build of console emulator.

[2016-07-19 00:22] msft-shahins commented on #730
Console emulator v3.0.6043.30574 should have a fix for this. Can you give it a try?

[2016-07-19 00:56] Samurais opened #746 "DirectLine API - tokens"
# Description

After testing the DirectLine APIs, the tokens mechanism make me confused. There seems to be two kinds of tokens.

## Token A
GET *directline.botframework.com/api/tokens/conversation* with secret.

response like
[code]

## Token B
POST *https://directline.botframework.com/api/conversations* with scoped token

response
[code]

## compare the functions

* Token A and Token B can be use

[2016-07-19 01:31] Samurais commented on #733
hi, if you are using nodejs, take a look at this module.
https://www.npmjs.com/package/directline-api

It is in ``` client.postFileMessage(token, conversationId, formData); ```.

[code]

[2016-07-19 02:30] Samurais opened #747 "DirectLine API - how to post messages as the same user and same address for session.message?"
# Description

I have tested with Postman 4.4.2, the Direct Line API can talk with botbuilder. But I got trouble to make it work well in my nodejs application - botbuilder get random user/address from session.message. But it can be the same address and user with Postman.

## Request with Postman

### Post a message
![image](https://cloud.githubusercontent.com/assets/3538629/16936647/dd00a692-4d9a-

[2016-07-19 02:44] Samurais commented on #747
In the body of POST /api/conversations/{conversationId}/messages, there is a property named ** from** in body schema. What does it used for? Is it can be used to identify the same user?

[2016-07-19 03:05] kienct89 commented on #732
@msft-shahins

Hi shahins, I only tested on emulator because I don't want affect live clients.

Also I cannot use **IDialogContext** because I want to perform state save inside **LuisDialog** where the context is not available to use.

If you have any solution for now (work around or not), please let me know.

Thanks.

[2016-07-19 03:22] willportnoy commented on #744
Just a guess: NextDialog implements a IDialog<T> and your calling dialog (with the context.Forward call) implements IDialog<S> - I believe it's required that T be assignable to S.  I can look some more into it.

[2016-07-19 03:27] asram363 commented on #744
NextDialog and my calling dialog both implement a LuisDialog

[2016-07-19 03:28] rzmoz commented on #714
+1

[2016-07-19 03:35] msft-shahins commented on #732
You have IDialogContext available in all of the Luis intent handlers that you define for your LuisDialog. Assuming that those are the entry points to your dialog, you can pass around IDialogContext to all other methods in your dialog.

[2016-07-19 04:37] suprak commented on #689
@msft-shahins How's a minidump going to help you here?

I am also experiencing this issue, however it does not seem to be impacting my emulator testing.
Looks like the exception is being handled by [this](https://github.com/Microsoft/BotBuilder/blob/c4dbb7183cc1c23837b6d6c8bc03fe8c54ba1f55/CSharp/Library/Microsoft.Bot.Connector/JwtTokenExtractor.cs#L78)

Also is [this](http://stackoverflow.com/a/2

[2016-07-19 05:16] pietie opened #748 "Messenger channel debugging"
Is there a way to debug the comms on the FB Messengers channel?

I have messenger setup and it shows the status as **Running** on the dashboard but my bot is not receiving any http requests from it at all. I'm using v3 of the API and Nodejs.

I've tested by sending messages to the test page using my FB dev account. I also added my own personal FB account as developer and tried sending messages fro

[2016-07-19 05:52] kienct89 commented on #732
@msft-shahins
hi shahins,

I'm trying to pass context to LuisDialog, but I got this exception

`Type 'Microsoft.Bot.Builder.Dialogs.Internals.DialogContext' in Assembly 'Microsoft.Bot.Builder, Version=3.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' is not marked as serializable.`

What did I do wrong?

thanks for your help in advance

[2016-07-19 06:18] msft-shahins commented on #732
@kienct89 DialogContext implementation is not serialize, you shouldn't keep a local variable in your class referencing the IDialogContext. If you want to have access to IDialogContext in your LuisDialog methods, I recommend passing a reference to it as an argument of the function rather than keeping it as a member variable in your class.

[2016-07-19 06:21] msft-shahins commented on #689
@suprak we haven't seen a repro of this locally and minidump will help us debugging how this problem might happen.

[2016-07-19 06:30] Samurais commented on #747
It is the **from** solving my problem. If I assign it a unique value for each user, it works. In the botbuilder, I get the same address, so, thanks so much for help.

![image](https://cloud.githubusercontent.com/assets/3538629/16940518/177439a2-4dbd-11e6-872f-7dc201262a38.png)

[2016-07-19 06:31] kienct89 commented on #732
@msft-shahins

perfect, thanks for your advice,
another question: is there anyway I can remove one record based on the key in **PrivateConversationData** using **StateClient**.

As in the documentation, there are get/set methods, but there's no **RemoveValue**

[2016-07-19 07:29] #747 closed

[2016-07-19 08:06] DirkSonguer commented on #654
I can confirm that this is fixed in v3.0.6043.30574, good work, thank you!

[2016-07-19 08:06] #654 closed

[2016-07-19 08:32] ankitbko commented on #644
Any update on this? I see carousal is now showing up but receipts are still not working.

[2016-07-19 08:41] Stevenic commented on #735
Fixed :)

[2016-07-19 08:41] #735 closed

[2016-07-19 08:41] DirkSonguer commented on #720
I have the same issue, it just says "has sent you a message".

Also, is there any ETA when any of the desktop (Mac, Windows) or mobile (iOS, Android, Win) will support cards?

[2016-07-19 08:50] alexsorokoletov opened #749 "Minor - correct handling for undefined response.body and JSON.parse"
Currently if you message bot from skype and debug with all exceptions on, you can see following exception pop.
<img width="992" alt="screenshot 2016-07-19 04 48 02" src="https://cloud.githubusercontent.com/assets/1788581/16943920/35a75248-4d6c-11e6-8a5c-5f1b2510e6c6.png">

Fix should be pretty easy, checking if body is undefined and not parsing it in this case.

Node.js SDK 3.1.0

[2016-07-19 09:03] alexsorokoletov commented on #749
Just understood it's request npm problem. Sorry

[2016-07-19 09:03] #749 closed

[2016-07-19 09:21] renjurajwm opened #750 "NodeJS Vs .NET SDK Support"
I have started a small project using NodeJS SDK. Then when i compare the SDK reference for NodeJS and .NET, I see NodeJS has very less docs compared to .NET.
Is it that, currently all features are not implemented in NodeJS SDK ? Or Its only missing the documents reference ?

https://docs.botframework.com/en-us/node/builder/overview
https://docs.botframework.com/en-us/csharp/builder/sdkreference/in

[2016-07-19 09:39] DirkSonguer opened #751 "Console emulator problems displaying cards + content (v3.0.6043.30574)"
It seems like the console emulator has trouble dealing with cards. As soon as I send a card with content, it neither displays the card nor any content I send to the session in the same dialog afterwards.

Example:

`

        session.send('1');

        var card = new builder.HeroCard(session)
            .text('hi')
            .subtitle('hello');
        var cardMessage = new builder.Message(ses

[2016-07-19 09:51] inornos opened #752 "Getting response to slow in skype channel"
Skype working slow it took 15 seconds to get response from API  , what i do for increasing my responding speed

[2016-07-19 11:00] NanashiGIT commented on #705
Thanks for you looking into it.

And yes, i noticed that Typing-Activity doesnt work on Telegram. But it also doesn't work for me on Skype. Maybe your fix applies to that aswell?

[2016-07-19 11:25] RaffaelHold commented on #689
@msft-shahins did you see my emails? I uploaded another dump

[2016-07-19 11:41] cheahengsoon opened #753 "For Phone Call Function and Map Navigation"
Currently I had Developed an app that need to use Phone Call Functions (Not include Skype) and Map Navigation?
May I know had any solutions for that for the bot framework?
Thank You.

[2016-07-19 11:42] NanashiGIT commented on #752
Keep in mind that when you freshly deploy your Bot to Azure, the first request takes a while.
All following messages will come quicker.

But i noticed that when the bot is idling for quite a bit, he takes a bit longer for the first message again (maybe some sleep-mode?)

[2016-07-19 11:55] inornos commented on #752
ya i know about 1st message after deploy its take some time but i'm not talking about 1st message,
when i try 2nd or 3rd request its also take a some time

[2016-07-19 12:53] asubbotin opened #754 "ContentType in Skype attacment"
Hello!

How I can get ContentType in attachment in Skype? For example:
1. If attach Image, ContentType always "image" (not "image/jpeg", "image/gif" etc.)
2. If attach MSWord, MSExcel file, ContentType always "application/octet-stream"

Original filename in attachment object missing too. And I can't determine by extension:
https://df-apis.skype.com/v2/attachments/0-neu-d5-faac5db55162e82d9261c8777

[2016-07-19 13:22] santhosh117 commented on #365
I cannot publish my skype bot. Plz help for me
![capture](https://cloud.githubusercontent.com/assets/20519603/16951249/d26a2b1c-4de1-11e6-8c82-4d8471f0f558.PNG)

[2016-07-19 14:22] JagatheeshMenon2016 opened #755 "Bot Emulator 500 error"
Hi team,

Having followed all the suggestions I am still getting Error 500: Internal error. The code is executing fine until **"Activity reply = activity.CreateReply($"You sent {activity.Text} which was {length} characters");"**

but then when it goes to the next line "await connector.Conversations.ReplyToActivityAsync(reply);" its throwing error 500 snapshot is attached for further reference.

**

[2016-07-19 15:24] dharmendracs commented on #365
As per my understanding,You need to host it somewhere on the cloud/on
premise server. localhost can not be used.

On Tue, Jul 19, 2016 at 6:52 PM, santhosh117 <notifications@github.com>
wrote:

[2016-07-19 15:39] willportnoy commented on #744
Is result an IAwaitable < IMessageActivity > ?  You would need to await it first before passing it to Forward.

[2016-07-19 15:51] asram363 commented on #744
No, result is a LuisResult. That line is inside of an intent handler, like this:

[LuisIntent("")]
public async Task None(IDialogContext context, LuisResult result)
{
	await context.Forward(new NextDialog(), ResumeAfter, result, CancellationToken.None);
}

[2016-07-19 15:57] eanders-MS commented on #705
There are two issues at play here. First, we have a bug in our markdown parser causing invalid markdown to be sent to Telegram. Telegram is very picky about markdown syntax and returns an error code. The second issue is the fact that we are not surfacing this error back to the bot. I will address these issues and let you know when a fix goes out.

[2016-07-19 16:10] jamesrlewis opened #757 "PromptDialog doesn't call ResumeAfter() method"
I have a LUIS dialog class with expected intents. One of my intents are as follows:

[code]

Authentication is an IDialog<bool> class with the following StartAsync method:

[code]
The PromptDialog should call GetUsername, which will call another GetPassword which will log the user in.
SetAuthentication is to be called after the Authentication class is run, and it has the following:

[code]

My iss

[2016-07-19 16:14] Thegaram commented on #755
In version V3 (that you're using) you have to manually send back an HTTP response. I suppose the lack of response from your code is interpreted as an error in the emulator.

Change your function signature to:

[code]

If everything is fine, send back a response at the end of your function, for example:

[code]

If this does not solve the problem, it's likely that an exception is thrown. In that ca

[2016-07-19 16:18] Thegaram commented on #752
You could try identifying which part of the communication takes the most time (for example by remote debugging). How much does it take for a message to reach your bot? How much does it take for the reply to reach Skype? Accessing the Bot State API (i.e. reading and setting the state) might also increase the response time.

[2016-07-19 16:25] Thegaram commented on #750
I cannot talk for the team (I'm just an SDK user), but I'd say it's because Node.js and C# are different languages with different styles and advantages. Having exactly the same API might no work out well, as what seems logical on one side (e.g. custom dialog classes in C#) would not work with the other (or at least go against it's philosophy).

Well, that's my guess at least :smiley:

[2016-07-19 16:34] ankitbko commented on #757
`PromptDialog.Confirm` should prompt user with the message you specified. `GetUsername` will be called once user replies yes/no to that prompt. Are you not getting prompt for yes/no?

[2016-07-19 17:14] sixpi commented on #681
Starting from `Recognize.cs`, I found the code I wanted in [Language.cs](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/FormFlow/Language.cs) and [FieldReflector.cs](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/FormFlow/FieldReflector.cs). Thanks for the help!

[2016-07-19 17:14] #681 closed

[2016-07-19 17:24] jamesrlewis commented on #757
It prompts the user for yes/no but then doesn't call into the GetUsername method.

[2016-07-19 17:46] Mashakal opened #758 "Bot Emulator crashes due to bad Emulator Url or bad bot url"
I am not sure which the problem is.  I edited the port number of the emulator url instead of the bot url and now I can't edit anything because every time I run the emulator it crashes.  Where can I go to delete the cached data it's pulling these from?  I've tried uninstalling and reinstalling, but its still pulling the bad info.

![image](https://cloud.githubusercontent.com/assets/11655107/1696035

[2016-07-19 18:01] ankitbko commented on #757
It should call once the user replies back. GetUsername in this case will be callback function containing text that user has entered.
Have you tried replying yes and check if the method is called?

[2016-07-19 18:32] kenakamu commented on #733
Thanks,
I tried by using C# and the upload one returns status of 204, which is expected.
However, it doesn't actually sending Activity to bot framework. Do you have sample to send the message after you do upload?

[2016-07-19 18:33] matheus208 commented on #751
Try using

 var cardMessage = new builder.Message(session).setAttachment(card);

[2016-07-19 18:53] msft-shahins commented on #689
@RaffaelHold thanks for sending the dump. We are trying to figure out the issue using the dump you provided.

[2016-07-19 19:07] alexsorokoletov commented on #750
as far as I know both SDKs are feature-equal.

[2016-07-19 19:11] mackenziemi opened #759 "Invalid need"
I am very consistently getting this exception:

Message - invalid need: expected Wait, have Done
Stack Trace -    at Microsoft.Bot.Builder.Internals.Fibers.Wait`2.ValidateNeed(Need need)
   at Microsoft.Bot.Builder.Internals.Fibers.Wait`2.Microsoft.Bot.Builder.Internals.Fibers.IWait.Post[D](D item)
   at Microsoft.Bot.Builder.Internals.Fibers.Extensions.Post[C,T](IFiber`1 fiber, T item)
   at Micr

[2016-07-19 19:13] dandriscoll commented on #747
One additional note: the From field is required for most applications to behave properly. If you don't choose a value for the From field, we auto-assign a value for each message, which results in a new user. We'll be changing this behavior in a future release but for now it's stuck how it is.

[2016-07-19 19:18] dandriscoll commented on #746
It may be clearer with different names.

A **secret** can be used in any conversation and never expires. (This is labeled "Token A" above)
A **token** can only be used in one conversation and expires. (This is labeled "Token B.")

You can use either a secret or a token to send/receive messages via the POST/GET /api/conversations/id/messages endpoint. Service-to-service applications typically use s

[2016-07-19 19:20] ankitbko commented on #759
You must call `context.wait(MethodName)` at the end of the method so that bot knows which method to invoke when the user replies.

[2016-07-19 19:21] dandriscoll commented on #733
We have a bug in uploading attachments to v3 bots that we hope to have fixed soon. The C# client should work fine once that bug is fixed.

[2016-07-19 19:25] mackenziemi commented on #759
THANK YOU ankitbko!

[2016-07-19 19:25] ankitbko commented on #750
I think this is answered in #231

[2016-07-19 19:36] chrimc62 commented on #734
Can you share your enumeration and any attributes or settings you have on it?  By default the button text returned is a number if numbers are allowed.  If numbers are not allowed it should be a copy of your enumeration value which should never include an at symbol.  If it does then there is a bug.

[2016-07-19 19:38] ankitbko commented on #736
Well, it would be nice if there is a way to customize without changing the resource and rebuilding the sdk. From my experience, I had to customize this for most of my bot as conversationally user replies more like "yes please" (more formal) or sometimes just "ya". Then this leads me to always have direct reference to sdk rather than just getting nuget package.
In the similar line, it would be grea

[2016-07-19 19:40] chrimc62 commented on #736
The prompts are not fixed, they are defined by templates.  You can find documentation here: https://docs.botframework.com/en-us/csharp/builder/sdkreference/forms.html#attributes
As to not prompting again and again, what behavior would you like to do?  Most anything is possible, but it depending on your goal it be necessary to define your own field and override some methods.