[2017-06-02 03:40] lokeshlal commented on #2468
@chixcancode No twilio voice was not accurate, even watson and google speech to text apis were not accurate in few cases (such as email address). So we decided to drop the concept of running chat bot on IVR. I will post the code sample in a while for your reference.

[2017-06-02 04:27] nishantjadhavcg commented on #2873
@nwhitmont: I have deployed default bot template still facing same issue. It seems to me issue is related to bot authentication. Can someone tell how to authenticate using service fabric? I have deployed bot controller as stateless web API in service fabric.

[2017-06-02 04:28] alokraj68 commented on #2653
YEs, the issue still persists and also, the bot is restarting itself at
times.

Thanks and Regards,

[image: Astro-Vision Future Tech] <https://htmlsig.com/t/000001C1E7PD>

Alok Rajasukumaran / Developer - Innovation Team
post@alokraj68.in / 00919995607654

Astro-Vision Future Tech
Kuthappadi, Thamannam, ErnakulamKerala, India - 682032
alokraj68.in

[image: Twitter]  <https://htmlsig.com/t/000001B

[2017-06-02 04:29] nishantjadhavcg commented on #2873
@nwhitmont:: Nothing issue with bot. It is working fine with Emulator on local cluster.

[2017-06-02 04:48] camer314 commented on #2871
Well ordinarily you wouldnt be overriding the MessageReceived so I am not sure how to neatly handle this. At the very least it should throw a controlled exception, that is not throw the raw exception as whats really happening is your dialog is expecting text. But as i say who is going to catch that? How would you recommend any exception thrown from LuisDialog message pump be handled by a derived c

[2017-06-02 05:13] camer314 commented on #2108
This has been resolved by using MicrosoftAppCredentials.TrustServiceUrl to trust all service URLs that are loaded from resumption cookies

[2017-06-02 06:27] akasranjan005 commented on #1911
I have posted the question on SO as well.
https://stackoverflow.com/questions/44304844/directline-v3-gives-error-400

Thanks :)

[2017-06-02 07:07] DL-LiveTiles opened #2876 "[Question] Dialog state lost on exception"
We implemented global exception handling for our bot that works as expected, except if a Dialog currently throws and exception it's state is lost.

How can we ensure a Dialog is still serialized even if it throws and exception?

[2017-06-02 07:43] ManojG1978 commented on #2635
This is the snippet I am using. Here I am using Azure Table Storage as the conversation activity/audit log. The logs are generated by registering the TableLogger (in Microsoft.Bot.Builder.Azure namespace) as a provider for IActivityLogger.  My  limitation is using AsMessageActivity() to get the conversation text and it does not work for Prompts. Any alternative/work around would be appreciated. Th

[2017-06-02 08:07] barrychc commented on #2846
Thanks, @TrejGun, for the info. In my case, the error still occurs even if the server is restarted and the FB messenger is the only client connecting to the server.

[2017-06-02 08:33] JeevaJose opened #2877 "[Question] How can I read the value from complex adaptive card?"
I am able to read the values if the body have only input text. This case have columnset and column. When I filled all the input data and click on submit button from emulator  I am not getting any value.

Platform : .Net C#

Below I have shared the json card details. Could you please help me to fix this issue.

[code]

[2017-06-02 08:34] pavb74 commented on #2874
Thanks a lot

[2017-06-02 08:37] prasanna-bigreco commented on #2770
Is there any update on this? Facing same issue for Skype.
App Id - e70cad6d-f939-4d41-91c4-aca50202b6f5

[2017-06-02 08:46] kbrimble commented on #1498
@EricDahlvang I'll pull down the latest BotBuilder code and see use what's in `master` to see if it resolves my issue.

[2017-06-02 09:51] roskodav commented on #1892
Still very slow response

[2017-06-02 13:10] kbrimble commented on #1498
I cloned the BotBuilder project and replaced all of my `Bot.Builder` and `Bot.Connector` NuGet references with the equivalent project references and I am still seeing the same issue.

[2017-06-02 14:46] baktakt commented on #1180
This is what I used to get it to work:

`bot.beginDialog(
      {
        id: '+46704043717',
        channelId: 'sms',
        user: { id: '+46704123456', name: '+46704123456' },
        conversation: {isGroup: false, id:'+46704123456'},
        bot: { id: '+123456789', name: 'conference-bot' },
        serviceUrl: 'https://sms.botframework.com',
        useAuth: false
    }, "notify:/");`

where

[2017-06-02 15:08] anirudhaditya commented on #2828
Mail sent to your email. Thanks

[2017-06-02 15:48] nwhitmont commented on #2876
@DL-LiveTiles Are you using .NET or Node SDK?

[2017-06-02 16:10] JasonSowers commented on #2230
@cglong I apologize, I think I inadvertently closed this issue. I spoke with Will, he is going to talk it through with Shahin and we will go from there.

[2017-06-02 17:21] boardofchris opened #2878 "[Bug] ChatConnector v3.1 emulator authentication fails"
## System Information (Required)
* SDK Platform: Node
* SDK Version: ?
* Development Environment: localhost

## Issue Description
The [authentication reference documentation](https://docs.microsoft.com/en-us/bot-framework/rest-api/bot-framework-rest-connector-authentication#security-protocol-changes) version 3.1 differs from the implementation. As a result, version 3.1 emulator authentication atte

[2017-06-02 17:44] nwhitmont commented on #2860
closing as no repro

[2017-06-02 17:44] #2860 closed

[2017-06-02 19:13] sharmadine opened #2880 "[Feature Request] Prompts.choice # retry prompt - shows retry message but does not prompt choices again"
## Pre-flight checklist
done
---------------------------

## System Information (Required)
* SDK Platform: Node.js
* SDK Version: 3.8.3
* Development Environment: **localhost** | Azure Bot Service | **Azure App Service** | other
**localhost and azure aoo service**

## Issue Description
Describe the issue here.

**Choice** prompt - If I type a value not in the the choice option list, the Prompt dia

[2017-06-02 19:52] nwhitmont commented on #2880
@sharmadine thanks for reporting. we will log this as a feature request.

[2017-06-02 21:42] MichaelJohnBradley opened #2881 "[Question] Exception error when passing in LUIS entities into form flow"
## System Information (Required)
* SDK Language: .NET/C#
* SDK Version: 3.8.1
* Development Environment: LOCALHOST

## Issue Description
I have a LUIS dialog and for a certain intent i am creating a form flow and passing in the luis result entities however sometimes (approx 80% of the time) the bot throws the following error:
[code]
and the comment is
[code]
Has anybody else had similar issue when

[2017-06-02 21:56] eanders-MS commented on #2878
The emulator sends using v3.0 auth in order to remain compatible with bots built on older SDKs while we phase out v3.0 authentication. The BotBuilder SDKs can receive emulator messages using v3.0 or v3.1 authentication.

What is the failure you're seeing?

[2017-06-03 02:20] sharmadine commented on #2880
@nwhitmont thanks. But it seems to be an issue and not feature enhancement because it works below version 3.7.0 of botbuilder.

[2017-06-03 10:23] izaaz commented on #2289
@msft-shahins I tried using bot.builder.common and bot.connector, but I get the following error (in emulator with the app id and password set)

      Connection id "0HL5ACUA2BP05": An unhandled exception was thrown by the application.
System.UnauthorizedAccessException: Authorization for Microsoft App ID <<appid>> failed with status code Unauthorized and reason phrase 'Unauthorized' ---> System.Ne

[2017-06-03 13:24] ranmax123 opened #2882 "[Question] WelcomeMessage not appearing automatically on Web Chat Channel"
## System Information (Required)
* SDK Language: C#
* SDK Version: 3.8.1.0
* Development Environment: LOCALHOST, AZURE_BOT_SERVICE, AZURE_APP_SERVICE

## Issue Description
I cannot get welcome message. I have shamelessly copied the code from github, but cannot get it to work. The Welcome message never appears on Web Chat channel until I hit "hi" or something.

## Code Example
                IConv

[2017-06-03 13:26] ranmax123 commented on #2882
Also, I can't get "Bot is Typing" on Web Chat channel. It appears on emulator but not on Web Chat channel.

Code snippet pasted below
` var connector = new ConnectorClient(new Uri(activity.ServiceUrl));
                Activity isTypingreply = activity.CreateReply();
                isTypingreply.Type = ActivityTypes.Typing;

                await connector.Conversations.ReplyToActivityAsync(isTyp

[2017-06-03 18:21] izaaz commented on #2289
I got it to work. I had to add smba.trafficmanager.net as a trusted URL. Any reason why this is not added by default?

[2017-06-03 20:29] Lafannn commented on #2347
This error occurs if you only specify the Id "new Channelaccount (botId)" If you add the name "New Channelaccount (botId, botName)", everything will work

[2017-06-04 06:05] eanders-MS commented on #2347
@chris31389 this work is booked but not yet scheduled. @Lafannn thank you for posting your workaround!

[2017-06-04 07:41] JeevaJose commented on #2877
Have any update?

[2017-06-04 10:25] amitbend opened #2883 "Route action message to correct dialog"
## System Information
* SDK Language: NODE
* SDK Version: 3.8.3
* Development Environment: LOCALHOST, AZURE_BOT_SERVICE

link to the issue on stackOverflow : [https://stackoverflow.com/questions/44283424/botbuilder-route-action-message-to-correct-dialog](Here)
## Issue Description
I'm referring to an issue that reported before by me and now by `Vincent Ketelaars` on stackOverFlow
I am building a b

[2017-06-04 11:18] aakashkag commented on #2847
Property	Key	Description
User	User Id	Remembering context for a user on a channel
Conversation	Conversation Id	Remembering context all users in a conversation
Private Conversation	Conversation Id + User Id	Remembering context for a user in a conversation

[2017-06-04 21:44] tomoakley opened #2884 "[Question] args undefined when using replaceDialog, only in Slack"
## System Information (Required)
* SDK Language: Node
* SDK Version: 3.5.4
* Development Environment: Digital Ocean VPN

## Issue Description
When using `session.replaceDialog('/dialog', session.dialogData)` and then picking this up in the associated dialog, `args` come as undefined. I have my bot set up in Slack and Facebook Messenger (and the emulator), this only happens in Slack.

## Code Examp

[2017-06-04 23:57] DL-LiveTiles commented on #2876
@nwhitmont .NET SDK. Sorry, will remember to add next time.

[2017-06-05 04:40] camer314 opened #2885 "[Bug] Gender of Skype calling bot is always female"
## System Information (Required)
* SDK Language: .NET
* SDK Version: 3.8.1
* Development Environment: AZURE APP SERVICE

## Issue Description
Skype calling bot Prompt Gender is always female even if you specify Male

## Code Example
prompt = new Prompt { Value = text, **Voice = VoiceGender.Male**, Emphasize = true };

## Steps to Reproduce
1. Create a Skype calling bot
2. Try and use a Male voice

[2017-06-05 04:47] camer314 opened #2886 "[Feature Request] Support all Bing Text to Speech voices in Skype calling bot"
## System Information (Required)
* SDK Language: .NET
* SDK Version: 3.0.4
* Development Environment: AZURE APP SERVICE

## Issue Description
I would like to see the Skype calling bot support all the voice options available to the Bing Text to Speech API. At the moment to get a more natural voice i need to call this API direct, save the WAV and then pass that back to the Skype API which is onerous

[2017-06-05 07:01] JajatiMohanta opened #2887 "[Question] response time interval in microsoft bot"
Hi,
Can we set response time interval manually in Microsoft Bot..??
Ex-Can we set reminder ,alarm in Bot Framework??
Thanks,
Jajati

[2017-06-05 07:48] edwin-huber commented on #2712
I can confirm that I am having this issue as well, SuggestedActions show in Skype (latest version) as "Sorry, my bot code is having an issue", they work with the emulator and webchat tester.

[2017-06-05 08:01] michaelhutchful commented on #2712
This is probably an exception, use ngrok to deploy your bot, change the URL in the Dev Portal to the ngrok One, now you can debug skype and see what exception is being thrown.

Michael

Sent from my Windows 10 phone

From: Edwin Huber
Sent: 05 June 2017 07:49
To: Microsoft/BotBuilder
Cc: Subscribed
Subject: Re: [Microsoft/BotBuilder] [C# Skype] Problem with SuggestedActionson Skype (#2712)

I can

[2017-06-05 09:58] AndreMantas commented on #1422
Still no support for postBack in carousel buttons in skype channel?

I don't mind the message being shown, but it's not behaving the same way as in the emulator.

[2017-06-05 11:11] kbrimble commented on #1498
I've had another go at this, following the new example in the [AlarmBot ](https://github.com/Microsoft/BotBuilder/blob/fdb443a3257dd62e2bd87727afdea793820a2ec7/CSharp/Samples/AlarmBot/Controllers/MessagesController.cs) sample. I'm now falling over on [this line in DialogModule_MakeRoot](https://github.com/Microsoft/BotBuilder/blob/fdb443a3257dd62e2bd87727afdea793820a2ec7/CSharp/Library/Microsoft.B

[2017-06-05 11:25] Dmdl opened #2888 "[Question] Set Session timeout"
Is there a way to end user session after a predefined time? For example that a user has left the chat in middle of a dialog and when that user start a chat again after a day or two, start the conversation from a fresh state instead of continuing previous one?

[2017-06-05 11:36] Mikhail2k15 commented on #2856
Any pointer or confirmation regarding this issue?

[2017-06-05 11:50] michaelhutchful commented on #2856
You need to give more details, then we can help you. C# or Node? Have you debugged to see why it is not working?

Regards Michael

Sent from Mail for Windows 10

From: Michael
Sent: 05 June 2017 11:36
To: Microsoft/BotBuilder
Cc: Subscribed
Subject: Re: [Microsoft/BotBuilder] [Skype for Business] doesn't supportFormFlow in Skype for Business channel. (#2856)

Any pointer or confirmation regarding

[2017-06-05 11:59] anirudhaditya commented on #2828
Any update? Thanks

[2017-06-05 13:27] AndreMantas commented on #2803
I got completely baited by adaptivecards.io. Shows such cool cards working on skype, but then there's a tiny `* Comming soon to Skype` that just appears for a second. Well played.

[2017-06-05 13:29] AndreMantas commented on #2881
Could it be that you have some custom entities of type List? I had similar problems with that before, but I was using LuisActionBinding.

[2017-06-05 14:24] amitbend commented on #2883
Seems to be fixed on v3.8.4, thanks @Stevenic

[2017-06-05 14:24] #2883 closed

[2017-06-05 15:24] Unders0n commented on #106
Sorry guys i didn't get the proper way to inject services to dialogs and also link provided by @willportnoy is 404 now . Also @wiltodelta 's code make no sense since you can't assign static variable.
My case is that i create dialog using Autofac resolving and passing service via ctor, and from this dialog i create new one with
var myform = new FormDialog<WelcomePoll>(answers, WelcomePoll.BuildForm

[2017-06-05 15:50] stevengum97 commented on #2884
Can you upgrade to 3.8.4 and let us know if you're still encountering this issue?

[2017-06-05 15:51] operacha opened #2889 "[Question] Microsoft.Bot.Connector.CardAction.set_Value() Throwing Exception"
## System Information (Required)
* SDK Language:  .NET/C#
* SDK Version: 3.8.1.0
* Development Environment: LOCALHOST

## Issue Description
Currently using AuthBot library (https://github.com/MicrosoftDX/AuthBot) for Azure Active Directory authentication with BotBuilder. When I use the sample provided in the GitHub repo for AuthBot the program compiles and works as expected but when I use the same

[2017-06-05 15:53] nwhitmont commented on #2887
@JajatiMohanta are you using .NET or Node SDK?

[2017-06-05 15:54] nwhitmont commented on #2888
@Dmdl are you using .NET or Node SDK?

[2017-06-05 16:04] JasonSowers commented on #2882
@ranmax123 try something like this.  It seems you are not casting your reply as an activity.

[code]

[2017-06-05 16:09] krconnect commented on #2310
@lonche Hi, I'm having the same difficulty. Were you able to make the menu in C #? Best regards

[2017-06-05 16:10] JasonSowers commented on #2877
@JeevaJose can you please post the code you are using to access the JSON?

The Bot Framework support team prefers to answer questions like this on Stack Overflow.  If the issue gets closed here on GitHub, it will not be available and indexed for external search engines so others can easily find it.  We are happy to answer your question here, but would you please also post your question to Stack Ov

[2017-06-05 16:12] JasonSowers commented on #2885
@camer314 are you able to upgrade to the current SDK version 3.8.1 at the time of writing this?

[2017-06-05 16:35] JasonSowers commented on #2889
@operacha Hello, could you please post the code where you are constructing the adaptive card?

[2017-06-05 16:38] JasonSowers commented on #2887
@JajatiMohanta have you taken a look at this? https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Samples/AlarmBot

[2017-06-05 16:42] JasonSowers commented on #2887
@JajatiMohanta   This would be possible in theory.  You can save the messaging history to a DB with a timestamp.  If the timestamp is longer than a predetermined time you could not show the conversation history.  If you wanted to you could delete/purge the conversation data after a given amount of time.

[2017-06-05 16:58] Dmdl commented on #2888
@nwhitmont, I am using the Node SDK.

[2017-06-05 17:08] operacha commented on #2889
@JasonSowers

Would this be what you're looking for?

[code]

[2017-06-05 17:13] amitbend commented on #2888
@Dmdl Not sure if it's the best way, but you can have a middleware with a timer for shorter terms,
or a scheduled job for longer terms that will call `session.endConversation` once the gap between the last conversation and now > day/two

[2017-06-05 17:25] JasonSowers commented on #2889
@operacha also what channel are you using?

[2017-06-05 17:25] msmohan commented on #2889
I have tried to repro the issue., but it is working fine with me. can you check the version you are using?

![image](https://cloud.githubusercontent.com/assets/29078812/26795057/00ce7636-49d9-11e7-94c3-1fed155908db.png)

![image](https://cloud.githubusercontent.com/assets/29078812/26795097/28cc2cf0-49d9-11e7-8463-370b67499d3b.png)

![image](https://cloud.githubusercontent.com/assets/29078812/26795

[2017-06-05 17:28] msmohan commented on #2889
Are you on VPN?

[2017-06-05 17:29] operacha commented on #2889
@msmohan I'm running version 3.6.5-alpha for authbot

@JasonSowers I'm using localhost:44353

[2017-06-05 17:31] JasonSowers commented on #2888
@Dmdl I know that many people store conversation history in a DB to display in future conversations.  You could use that method then if the new message is >1-2 days purge that data, or not if its less than that.

[2017-06-05 17:35] JasonSowers commented on #2889
I'm looking more for something like this method in the Authbot

[code]

[2017-06-05 17:39] msmohan commented on #2889
I have two suggestions.,
1. Check local AAD admin if there is any restrictions on ADFS queries.,
2. I understand, it is not working for newer version., there is a high possibility that some of the older functions/methods changed. Let us know if you need help in identifying.

[2017-06-05 18:08] msmohan commented on #2889
After reviewing all.,
This is not BotBuilder framework related issue.
It should be filed under AuthBot, https://github.com/MicrosoftDX/AuthBot/issues

![image](https://cloud.githubusercontent.com/assets/29078812/26796710/4b087278-49df-11e7-8f43-1bd1e0ca8f1e.png)

[2017-06-05 18:30] msmohan commented on #2889
Closing the issue under bot-builder.

[2017-06-05 18:30] #2889 closed

[2017-06-05 18:45] krconnect commented on #1409
How to create a messenger persistent menu in c# ?

[2017-06-05 18:46] nwhitmont commented on #2828
@anirudhaditya Please contact me from your work email and provide your professional contact information, including company affiliation.

[2017-06-05 19:21] nwhitmont commented on #2873
@nishantjadhavcg for Azure deployment questions, please contact [Azure Support](https://azure.microsoft.com/en-us/support/options/)

[2017-06-05 19:21] sanketwagh06 commented on #1961
Please help me regarding this issue. I am facing almost exactly the same issue. For me, it does not even respond on localhost. No AppID and PSWD provided.

This is what I see:
![screen shot 2017-06-05 at 2 20 57 pm](https://cloud.githubusercontent.com/assets/13947090/26799205/3d332ab0-49fa-11e7-9c70-a27ee7f06bc5.png)

ChatConnector: message received.
UniversalBot("*") routing "Hello" from "emulato

[2017-06-05 19:32] eanders-MS commented on #1961
Hi @sanketwagh06, Try bypassing ngrok for local addresses. You will find this setting under App Settings (under the vertical ... icon next to the address bar).

[2017-06-05 19:33] sanketwagh06 commented on #1961
I have already bypassed. Issue still persists.

[2017-06-05 19:48] eanders-MS commented on #1961
How are you formulating your response message?

[2017-06-05 19:50] sanketwagh06 commented on #1961
for now, it's just like this:

var bot = new builder.UniversalBot(connector, function (session) {
session.send("You said: %s", session.message.text);
}

[2017-06-05 20:03] eanders-MS commented on #1961
That looks fine. What is the value of the serviceUrl in the message sent to your bot? Click on any message in the emulator to see its JSON.

[2017-06-05 20:08] sanketwagh06 commented on #1961
The value of the service url is 50715, to be precise it is:  http://127.0.0.1:50715

My end goal is to be able to send and receive images and map co-ordinates. But for now I just need the emulator to respond efficiently. (Just FYI).

[2017-06-05 22:21] nwhitmont commented on #2839
@josephktcheung The reason you're seeing this behavior is because you used a string instead of a regular expression in your `/bye` dialog `triggerAction`.

After changing the `triggerAction` to `{ matches: /^bye$/ }` is works as you would expect.

Working example:
[code]

[2017-06-05 22:21] #2839 closed

[2017-06-05 22:23] nwhitmont commented on #2854
@JoelReehe Did @stevengum97 answer solve it?

[2017-06-05 22:26] nwhitmont commented on #2839
For more info, see: https://docs.microsoft.com/en-us/bot-framework/nodejs/bot-builder-nodejs-global-handlers

[2017-06-05 22:30] nwhitmont commented on #2878
For more information on the security protocol changes see: https://docs.microsoft.com/en-us/bot-framework/rest-api/bot-framework-rest-connector-authentication#security-protocol-changes

[2017-06-05 22:33] nwhitmont commented on #2878
@boardofchris Did @eanders-MS comments in [BotFramework-Emulator #213](https://github.com/Microsoft/BotFramework-Emulator/issues/213) answer your question?

[2017-06-05 22:35] nwhitmont commented on #2884
@tomoakley Are you still experiencing the issue after upgrading to botbuilder@3.8.4?

[2017-06-05 22:40] nwhitmont commented on #2888
@Dmdl The current Bot Framework does not have this feature yet.  Contributions welcome.

[2017-06-05 22:40] #2888 closed

[2017-06-05 23:08] JoelReehe commented on #2854
Yes, thanks @stevengum97

Am 06.06.2017 12:23 vorm. schrieb "Nils" <notifications@github.com>:

@JoelReehe <https://github.com/joelreehe> Did @stevengum97
<https://github.com/stevengum97> answer solve it?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/Microsoft/BotBuilder/issues/2854#issuecomment-306327588>,
or mute the thr

[2017-06-05 23:22] stevengum97 commented on #2854
You're welcome! Closing Issue.

[2017-06-05 23:22] #2854 closed

[2017-06-05 23:32] nwhitmont commented on #2887
Hi @JajatiMohanta It sounds like you are asking about proactive bot messages.

For more information on proactive messaging:
- [.NET SDK - Send proactive messages](https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-proactive-messages)
- [Node SDK - Send proactive messages](https://docs.microsoft.com/en-us/bot-framework/nodejs/bot-builder-nodejs-proactive-messages)
- Azure Bot

[2017-06-06 00:48] camer314 commented on #2885
Apologies, the SDK version in 3.8.1 but the Skype Calling version is 3.0.4 - both which are most recent

[2017-06-06 01:00] Tracet51 opened #2890 "[Question] The Buttons are not appearing on Kik when using Thumbnail Card."
* SDK Language: NODE
* SDK Version: 3.8.4
* Development Environment: AZURE_BOT_SERVICE

## Issue Description
The Buttons for other channels, (Skype, Facebook) appear when using the Thumbnail Card; however; on Kik they do not appear.

## Code Example
[code]

## Expected Behavior
Thumbnail Card appears with buttons.

## Actual Results
Thumbnail card appears but there are no buttons.

[2017-06-06 06:00] lonche commented on #2310
@krconnect Yes. I made persistent menu. It is more difficult if you want to make POST request to Facebook using c#.
If you want to make persistent menu, use this : https://developers.facebook.com/docs/messenger-platform/messenger-profile/persistent-menu
and (ex. fiddler).

[2017-06-06 06:43] nishantjadhavcg commented on #2873
Is Bot support service fabric deployment?

[2017-06-06 07:17] EricDahlvang commented on #2873
@nishantjadhavcg
The bot framework is restful and "bot services use industry-standard REST and JSON over HTTPS": https://docs.microsoft.com/en-us/bot-framework/rest-api/bot-framework-rest-overview   Bots built using the Azure Bot Service are Function Apps: https://docs.microsoft.com/en-us/bot-framework/azure/azure-bot-service-overview  and "will run in a serverless environment on Azure that will s

[2017-06-06 07:31] nishantjadhavcg commented on #2873
As web.config is not available in service fabric. I have copied all code from BotAuthentication.cs and created new filter. override code to create provider. Fetches config values as per Service fabric support
Still not working

[2017-06-06 07:31] nishantjadhavcg commented on #2873
@EricDahlvang : I will follow those links and will get back to you

[2017-06-06 07:40] andrejs-mamontovs opened #2891 "[Feature Request] xUnit.net as default testing tool"
## System Information (Required)
* .NET/C#

## Issue Description
To make BotBuilder more open source and more cross-platform (Visual Studio Mac support) I propose start moving to xUnit testing tool.

[2017-06-06 07:44] EricDahlvang commented on #2873
This part is all that really matters:

**I see you're using the ConnectorClient and you've removed BotAuthentication. Have you tried calling MicrosoftAppCredentials.TrustServiceUrl(activity.ServiceUrl)** ?https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Connector.Shared/MicrosoftAppCredentials.cs#LC97

[2017-06-06 08:22] nishantjadhavcg commented on #2873
Do you have any sample how to use MicrosoftAppCredentials.TrustServiceUrl? It would be helpful

[2017-06-06 08:31] kongo23 commented on #2615
I have same problem, i can create new chat only from web app framework template
core web app project templates don't work

[2017-06-06 08:47] ranmax123 commented on #2882
@JasonSowers , no it doesn't work still. Is it a bug in the web chat channel code?

![image](https://cloud.githubusercontent.com/assets/8466040/26821075/cc46296e-4ac2-11e7-800b-81591a74d7fe.png)

[2017-06-06 09:13] josephktcheung commented on #2839
Sorry @nwhitmont I am afraid that you missed my point. What I intended to show is that the app has 2 LUIS intents, `hello` and `bye`. When there's an active dialog e.g. waiting for user's input for his choice and user types `bye` or `see you later` (which are trained in LUIS to recognise those 2 utterances as `bye` intent), botbuilder does not interrupt the active dialog but showing `I didn't unde

[2017-06-06 09:55] nishantjadhavcg commented on #2873
I have tried below code still facing same issue.

_public async Task<HttpResponseMessage> Post([FromBody]Activity activity)
        {
            if (activity.Type == ActivityTypes.Message)
            {
                try
                {
                    var activationContext = FabricRuntime.GetActivationContext();
                    var configurationPackage = activationContext.GetConfigur

[2017-06-06 10:41] kneuLIL commented on #2792
The dialog in question uses resource files to generate the prompts and answers in different languages.
These resources files were generated using the rview tool mentioned in the [documentation](https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-formflow-localizel).

For, at least to me unknown reasons, the tool does not generate a resource key for the NotUnderstood template f

[2017-06-06 11:19] krconnect commented on #2310
@lonche This documentation I already read, but I have not yet been able to understand how to create a drop down menu in C #. Thanks for the answer, I'll search more.

[2017-06-06 11:25] JeevaJose commented on #2877
I have posted this issue on stackoverflow

https://stackoverflow.com/questions/44388731/how-can-i-read-the-value-from-complex-adaptive-card

[2017-06-06 13:02] Spiggers commented on #1422
I have upgrade to version 3.8.1 and using the Bot Emulator my ThumbnailCards do not action the Tap event. I downgraded back to 3.2.1 and all is well. How can I find out if this is a bug or me now having read key information? Anyone else seeing this too?

[2017-06-06 14:08] edwin-huber commented on #2712
Hi,

there is no exception, I have run it with a debugger attached.
**The issue is only seen in Skype**, so far I have not seen any exception being thrown.
The same code works fine in the web chat emulator.
I have hooked up ApplicationInsights to confirm that I am not missing an exception.

Code is simple:

var message = context.MakeMessage();
message.TextFormat = TextFormatTypes.Plain;
message.Su

[2017-06-06 14:35] ITM3 opened #2892 "[Direct Line] Load tests issues"
## System Information (Required)
* SDK Language: C#
* SDK Version: 3.8.1.0
* Development Environment: AZURE_APP_SERVICE

## Issue Description
We've developped a web app that is being called by a bot we have in the bot framework. The web app is deployed in Azure.

We've recently started doing performance load tests using JMeter that connects to the bot framework's direct line. We've made sure that

[2017-06-06 14:56] tobybrad opened #2893 "[Question] RemoteSessionLogger logging events don't conform to Swagger spec"
## System Information (Required)
* SDK Language: NODE
* SDK Version: 3.8.4
* Development Environment: LOCALHOST

## Issue Description
RemoteSessionLogger events don't conform to Swagger spec.

## Steps to Reproduce

1. Set up a local swagger server based on the ConnectorAPI.json Swagger spec: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Connector.Shared/Swagger/

[2017-06-06 15:32] leroibeukes commented on #2310
Hi Guys

Don't see what the issue is ? - Just do it via fiddler/Postman or whatever.

If you really want c# code -> use webclient and upload the data as specified in the links
(substitute the curl for the webclient code).

To help you out I made you a quick sample using the FB Get started payload (which you need for the persistent menu)
[http://rextester.com/PGZ32787](http://rextester.com/PGZ32787

[2017-06-06 15:57] krconnect commented on #2310
@leroibeukes  Thank you my friend!!!!! Now you've cleared the way! Many, many thanks!

[2017-06-06 15:59] dandriscoll commented on #2892
Hi @ITM3, please do not load test through Direct Line. You can perform load tests directly against your bot's endpoint.

The performance issue you're seeing may have multiple causes, but I would start by looking at your bot's use of bot state, and whether switching over to using e.g. our BotBuilder-Azure extensions would alleviate the problem. https://github.com/Microsoft/BotBuilder-Azure

[2017-06-06 16:21] EricDahlvang commented on #2615
@alokraj68
Please post your Autofac registration code.

[2017-06-06 16:31] JpEncausse opened #2894 "[Question] FB Messenger WebView (opened with OpenURL) won't follow SSO redirection"
https://stackoverflow.com/questions/44304002/ms-botframework-sign-in-redirection-fail-in-messenger-webview

I try to Sign-In users from Messenger to Microsoft Graph API.

## System Information
* SDK Language: NODE
* SDK Version: 3.3.3
* Development Environment: AZURE_APP_SERVICE

## Issue Description
On Messenger OpenURL feature will open a Webview that may have some limitation

## Steps to Reprod

[2017-06-06 16:33] operacha commented on #2889
Issue was due to AuthBot and NOT BotBuilder framework. After updating the versions and references within the code the issue was resolved.

[2017-06-06 16:43] msft-shahins commented on #2289
@izaaz  here is a sample showing how you can use asp net core packages: https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Samples/Microsoft.Bot.Sample.AspNetCore.Echo

Also you need the TrustServiceUrl attribute offered by https://www.nuget.org/packages/Microsoft.Bot.Connector.AspNetCore.Mvc/3.6.0-alpha to have the service url trusted automatically after authentication: https://github.com

[2017-06-06 16:47] alokraj68 commented on #2615
Where can I find that?

Thanks and Regards,

[image: Astro-Vision Future Tech] <https://htmlsig.com/t/000001C1E7PD>

Alok Rajasukumaran / Developer - Innovation Team
post@alokraj68.in / 00919995607654

Astro-Vision Future Tech
Kuthappadi, Thamannam, ErnakulamKerala, India - 682032
alokraj68.in

[image: Twitter]  <https://htmlsig.com/t/000001BVYZJE> [image: Facebook]
<https://htmlsig.com/t/000001BX

[2017-06-06 16:47] msmohan commented on #2894
It is possible that, it is redirecting to the Reply URL configured at AAD settings.

![image](https://user-images.githubusercontent.com/29078812/26841042-2e7e6c0c-4a9d-11e7-9dbe-1d50190df808.png)

[2017-06-06 16:50] EricDahlvang commented on #2615
Oh, I assumed you were doing custom autofac registrations.

Please post your Welcome dialog.  (I'd like to be able to repeat your issue here, so I can figure out what's happening.)

[2017-06-06 18:11] JasonSowers commented on #2882
@ranmax123  please try replacing the following code, I was able to replicate your error.  Also be sure to refresh the page if it does not work the first time.   I found that if the website with the web chat was auto-launched by my publishing the app I would have to refresh.  If I directly entered the web chat URL into my browser (as an end user would do)  it worked fine
[code]
with
[code]

[2017-06-06 18:26] JpEncausse commented on #2894
I don't think it comes from redirect configuration because it works with a standard Web Browser like Desktop Messenger or copy/past the URL into a Mobile WebBrowser

May Be ? Messenger's Webview are limited to starting URL. Fonr instance starting with something like http://microsoft.com won't allow a redirect to http://myserver.com

[2017-06-06 18:30] michaelhutchful commented on #2712
Hi Edwin,

I run your code and discovered that indeed an exception was being thrown, “Activity must include non empty 'text' field or at least 1 attachment".

I added the highlighted code to prevent the exception from being thrown. Basically if Skype replies with Sorry my bot code is having issues, it means it has experienced an unhandled exception.

var message = context.MakeMessage();

message.T

[2017-06-06 18:54] ITM3 commented on #2892
Thank you dandriscoll. I will look into that ant get back with the result.

[2017-06-06 18:56] EricDahlvang commented on #2792
Thank you for reporting this issue. I'm glad you've found a solution!

[2017-06-06 18:56] #2792 closed

[2017-06-06 19:01] ITM3 commented on #2892
I forgot to mention that the traffic of the laod test is coming from one single static IP address (azure server) Do you think that this can contribute to performance problems?

[2017-06-06 20:18] JasonSowers commented on #2882
@ranmax123 please let me know if you are still experiencing issues.  I am going to close this issue, but if this doesn't work, we can always reopen.

[2017-06-06 20:18] #2882 closed

[2017-06-06 21:37] msmohan commented on #2892
@ITM3 Direct Line is not designed for load test. We can close this thread.

Please feel free to contact @Microsoft/bot-framework-support-team, if you face any issues using your Bot's endpoint.

[2017-06-06 21:37] #2892 closed

[2017-06-06 21:53] nwhitmont commented on #2893
@tobybrad Can you provide some context, for example, how is this issue affecting your bot's functionality? Is this causing a problem in your bot?

[2017-06-06 22:00] dandriscoll commented on #2892
Hi @ITM3, a single IP address is unlikely to cause problems given the current design of the system. (It may change in the future.)

[2017-06-06 22:19] ITM3 commented on #2892
Thank you guys for your fast and detailed replies, they're very much appreciated.

[2017-06-07 00:36] #2828 closed

[2017-06-07 00:45] #2887 closed

[2017-06-07 01:01] msmohan commented on #2894
@JpEncausse can you please share the source-code, I can take look into it?

[2017-06-07 01:15] msmohan commented on #2277
@ankitbko Do you still have this issue? Do you need further assistance?

[2017-06-07 01:27] msmohan commented on #2889
@operacha Thanks for sharing the source code with me, that enabled me to help you to identify the root cause.

[2017-06-07 02:19] ChefGillani commented on #2263
this is what i did additional to first two values in the class attribute, end point change and staging true or false to make it work with Azure end point keys.

where i picked domain name: Azure portal overview tab for LUIS service.
where i picked staging true or not: after adding Azure key to my keys inside My App, i went to Luis.AI >> my app >> publish >> both staging and production end points

[2017-06-07 02:23] ChefGillani commented on #513
this is what i did additional to first two values in the class attribute, end point change and staging true or false to make it work with Azure end point keys.

where i picked domain name: Azure portal overview tab for LUIS service.
where i picked staging true or not: after adding Azure key to my keys inside My App, i went to Luis.AI >> my app >> publish >> both staging and production end points

[2017-06-07 06:17] JpEncausse commented on #2894
The code is wrap in a Node-RED node:
https://github.com/NGRP/node-red-contrib-viseo/blob/master/node-red-contrib-ms-graph/node-ms-graph-oauth.js

The state is the bot userId to store it's data
The callback will redirect to a standard http node /myserver

I'll dig to Implicit Flow but I don't understand why it works with a standard browser and won't work with a Messenger webview

[2017-06-07 06:20] RaoVenka opened #2895 "[Question] Regarding Pricing For Microsoft Bot Framework"
Hello Team,

I am working on a chat bot using Microsoft bot framework.Could you please let me know whether there is any charge for using the bot framework.

If it is paid version , Please send me the all pricing details.

Please do the needful asap.I am waiting for your reply.

Thanks ,
Venkateswara

[2017-06-07 06:29] J3QQ4 commented on #101
The `/deleteprofile` command doesn't seem to work in Telegram, even when preceded by a space, line break or other characters.

However, it works fine on channels like Facebook.

[2017-06-07 07:11] rainmakerho opened #2896 "[Question] Does only use Azure Notification Hubs to send a trigger to the client to open a new conversation with the bot for Directline channel?"
I ref #1414 .
Does any tutorials or code samples?
Thanks.

[2017-06-07 07:24] EricDahlvang commented on #2896
@rainmakerho please check out https://github.com/MicrosoftDX/botFramework-proactiveMessages

[2017-06-07 07:49] alokraj68 commented on #2615
Hi eric, you need welcome main or message controller file?

Thanks and Regards,

[image: Astro-Vision Future Tech] <https://htmlsig.com/t/000001C1E7PD>

Alok Rajasukumaran / Developer - Innovation Team
post@alokraj68.in / 00919995607654

Astro-Vision Future Tech
Kuthappadi, Thamannam, ErnakulamKerala, India - 682032
alokraj68.in

[image: Twitter]  <https://htmlsig.com/t/000001BVYZJE> [image: Faceb

[2017-06-07 08:18] edwin-huber commented on #2712
Many thanks! I was looking at the wrong bot (doh) , and found the exceptions being listed in the botframework portal.
Having included the message in the activity (message.Text) I am at the same point as this issue, the exceptions are gone, but the SuggestedActions are not shown.

[2017-06-07 08:19] synesthesia commented on #2841
@PrasenjitSaha I saw that issue but it went away after 24 hours - I think it takes that long for all the connections to propagate through the Skype for Business system

[2017-06-07 09:20] radennis commented on #2833
Yes we are having this issue and also users that are from the US reported that they got the yes/no buttons, when using a confirm action, in Chinese.
See client activity id:DJIw1c16KCb7VXkZlxqhxM
![image](https://user-images.githubusercontent.com/28060851/26871415-b5c86058-4b7b-11e7-9e0c-effdb6da000e.png)

[2017-06-07 12:12] nishantjadhavcg commented on #2873
I did some research. Created custom bot authentication Please see below filter class

using EschoBotService.Controllers;
using Microsoft.Bot.Connector;
using Microsoft.WindowsAzure.Storage;
using Microsoft.WindowsAzure.Storage.Table;
using Newtonsoft.Json.Linq;
using System;
using System.Collections.Generic;
using System.Fabric;
using System.Linq;
using System.Text;
using System.Threading;
using S

[2017-06-07 13:26] rahulsarkar123 commented on #2058
Hi Team,
I have implemented Direct Line 3.0 from my client application. But while calling the DirectLine API from our client application we are not getting the expected response always. From the json string, sometimes we are not being able to see the exact response text .Can you please suggest?

[2017-06-07 14:21] Unders0n commented on #101
i believe " /deleteprofile" works fine just yesterday for slack, but today i've found it doesn't work, watched in debugger and type of activity is just "message" though it migh be "ActivityTypes.DeleteUserData" as i get it. Any info on that? Can be the issue that some other info stuck in serialized context (i played a bit with dialog chains)

[2017-06-07 14:47] Unders0n commented on #1520
@msft-shahins DeleteProfileScorable link seems to be 404, can you fix or comment on that please?

[2017-06-07 14:49] nwhitmont commented on #2896
@rainmakerho Are you using .NET or Node SDK?

[2017-06-07 14:52] nwhitmont commented on #2895
@RaoVenka BotBuilder SDK is [open source software](https://opensource.com/resources/what-open-source) released under the [MIT License](https://github.com/Microsoft/BotBuilder/blob/master/LICENSE).

[2017-06-07 14:52] #2895 closed

[2017-06-07 15:07] ameyvaert commented on #405
I have the same problem. On local machine everything works fine. After I deploy to Azure I see no errors when testing the deployed bot through the web chat client on the bot framework portal. But as soon as I try to message from a channel or the emulator the bot is not answering and I get the same message as above. I capture this message by attaching the visual studio debugger to the Azure process

[2017-06-07 15:56] ameyvaert commented on #2608
Is there a fix to this issue? I am having the same problem but I see that this problem has been closed.

[2017-06-07 16:25] DavidJBarnes opened #2897 "[Question] Prompts.choice unable to correctly parse datetimes"
My bot displays a list of datetimes via choice prompt such as below.

1. Thursday at 3:45 PM
2. Thursday at 4:15 PM
3. Friday at 3:00 PM

When a user enters: "thursday at 3", the bot thinks the user selects option #3. What is the best way to handle such an interaction?

I am using nodejs and building my choice prompt by:
`builder.Prompts.choice(session, "makeAptMain", choice, { maxRetries:3, listS

[2017-06-07 16:35] stevengum97 commented on #2897
Hi @DavidJBarnes, could you indicate which version of the SDK you're using? The Prompt system was reworked with the release of [3.8.0^](https://github.com/Microsoft/BotBuilder/commit/2818c6998f250b3ad3cef2f4581e8af99c36a70c).

[2017-06-07 16:41] DavidJBarnes commented on #2897
3.8.4

[2017-06-07 16:57] EricDahlvang commented on #2615
Probably the Welcome dialog.  But, if it isn't too inconvenient, you can also include the message controller.  There's no way to know what your code looks like without seeing it.

[2017-06-07 20:51] stevengum97 commented on #2897
The SDK doesn't parse datetime in [**PromptChoice()**](https://github.com/Microsoft/BotBuilder/blob/master/Node/core/lib/dialogs/PromptChoice.js#L43), it only does in [**Prompts.time()**](https://docs.botframework.com/en-us/node/builder/chat-reference/interfaces/_botbuilder_d_.__global.iprompts.html#time) by default.

If the choices you're providing to your users are fixed/comes from static data,

[2017-06-07 21:05] iMicknl opened #2898 "[Question] Behaviour of SignIn card on Skype & other channels"
## System Information
* SDK Language: Node.js
* SDK Version: 3.8.3
* Development Environment: Azure WebApp

## Issue Description
The SignIn card has very different behaviour on different Skype version. At the moment it works the best on Skype for Mac (7.48), however on iOS it is broken. Same for Microsoft Teams, where I have built a workaround for.

My concern is; how can we use this kind of funct

[2017-06-07 21:09] #1959 closed

[2017-06-07 21:17] nwhitmont commented on #2058
@rahulsarkar123 Please open a new issue. This issue is closed.

[2017-06-07 21:19] stevengum97 commented on #2823
@xitij, if you're trying to call LUIS mid waterfall, then you can use the following to do so after checking the message length.

[code]
The example of the LuisRecognizer is taken from [this comment](https://github.com/Microsoft/BotBuilder/issues/2741#issuecomment-301888868) in Issue #2741. Does this help or have you discovered an acceptable work-around?

[2017-06-07 21:38] MikeDrips opened #2899 "[Question] Handling custom assemblies and their dependencies for Bot App Services. Newtonsoft.Json 9.0.1 in azure-functions-core-tools"
## System Information (Required)
* SDK Language: .NET/C#
* SDK Version: 3.8.0
* Development Environment: AZURE_BOT_SERVICE

## Issue Description
I have an issue pertaining to using custom assemblies within Azure Functions Bot Service and how to handle their dependencies.

**My Setup:**
I'm developing an Azure Bot Service that runs as an http triggered azure function bot service.  To make developme

[2017-06-07 21:41] JasonSowers commented on #2373
I am closing this issue for inactivity. If you are still having trouble please feel free to continue the conversation if needed. We can always reopen if this is still an issue for you.

[2017-06-07 21:41] #2373 closed

[2017-06-07 21:54] xitij commented on #2823
This is helpful. Currently we're using a work-around where we check the message length in middleware, and reroute to an error message if needed. Thanks.

[2017-06-07 23:16] EricDahlvang commented on #1520
@Unders0n
DeleteProfileScorable can be found here: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Builder/Dialogs/DeleteProfileScorable.cs

[2017-06-07 23:28] rdy4trvl opened #2900 "[Question] Facebook Messenger Bot - works for me, not FB reveiwers"
I've created a bot using Microsoft QnA Maker connected to Azure. I've set up & connected to FB App. When I visit the FB page, the bot works perfectly for me!

FB App Review tested and did not get a response from the bot. The approval submission provided the questions to use, the proper FB page....any suggestions on what may be missing? (FB feedback is attached)
Thanks

![fb](https://user-images.gi

[2017-06-07 23:35] nwhitmont commented on #2900
@rdy4trvl What is your bot name, bot handle, and App ID as you registered it in the Bot Portal? https://dev.botframework.com

[2017-06-07 23:41] stevengum97 commented on #2823
Ok, I'm going to close this issue, and look into the merit of adding a Feature Enhancement for this.

[2017-06-07 23:41] #2823 closed

[2017-06-07 23:48] rdy4trvl commented on #2900
Initially, I tried to set this up with Bot Framework but could not and switched to Azure and it worked.  I may be missing the point but I think (??) Azure incorporates Bot Framework.  Azure connects/setup seemed to be the same as Bot Framwork.  Do I still need Bot Framework?

[2017-06-08 00:26] nwhitmont commented on #2900
@rdy4trvl By "Azure", do you mean the [Azure Bot Service](https://azure.microsoft.com/en-us/services/bot-service/)? Or Azure App Service? Or something else?

Did you not register your bot in the Bot Portal at [https://dev.botframework.com](https://dev.botframework.com)?  You should have gone through a registration step where you configured your Microsoft App ID and password in the bot portal.

[2017-06-08 00:50] dkushner commented on #2770
@SheriEllisMSFT, I have not contacted Office Support, is this something that they can help with? It seems unrelated to our teams installation and more on the side of whatever intermediate server is processing the teams message events. Appreciate your work so far, hope to get some closure on this soon.

[2017-06-08 01:40] rdy4trvl commented on #2900
Sorry, it was Azure Bot Service.  I didn't go back to Bot Framework because Azure Bot Service seemed to ask for the same FB Page ID, App ID & Page access Token.  Do I still need Bot Framework?  What makes me think the issue is somewhere in FB is that the Bot actually works for me (I presume as a FB Developer?) - when I "View as a Page Visitor" from within our organization's FB page.   So, the syst

[2017-06-08 01:44] sowsan opened #2901 "[Question] Multi dialogue .NET bot code example?"
Looking for an e.g of multi dialogue sample for .NET bot. The samples currently I have seen is with two dialogues..RootDialogue calling another ChildDialgue. I have a scenario where I have to call sub Child Dialogue form the ChildDilague, but its failing saying that Stack in empty. using Context.Forwrad() for calling the dialgues from RootDialague and then to ChildDialgue and then to SubChildDialg

[2017-06-08 02:03] DL-LiveTiles commented on #2876
Any insight on how to persist Dialog state after an exception?

[2017-06-08 02:19] rainmakerho commented on #2896
@EricDahlvang I  use Microsoft.Bot.Connector.DirectLine to manipulate bot's conversation in other webapi controller.
I don't know how let DirectLine to get the message ,when i call "await Conversation.ResumeAsync(state.ConversationReference, message);" .
Thank for your help.

[2017-06-08 04:56] EricDahlvang commented on #2896
@rainmakerho Please post the code you are using.  I don't think I understand the question.  Please try to rephrase or reword what you are asking.

By "manipulate bot's conversation in other webapi controller" are you asking how to send a proactive message through the direct line from within a different controller?  (I believe the samples mentioned above work with any channel.)

[2017-06-08 06:03] picatextra commented on #1959
I'm using both  C# and NodeJs SDK for BotBuilder (different projects)

[2017-06-08 06:37] mariabot opened #2902 "[Direct Line] API returning incorrect response?"
## System Information (Required)
* SDK Language: .NET/C#
* Development Environment: Azure_BOT_Service, Direct line Channel API

## Issue Description
While calling Directline API from my application, I get only a single entry in the Messages array, the response basically contains only the request text and not the response returned by the BOT.

This behavior happened on 6th June 2017 and lasted for

[2017-06-08 07:57] Magic73 commented on #2901
Post your code.

But in general you should do something like this:

RootDialog: context.forward (child....) and then don't call context.wait.
ChildDialog: context.forward (subchild....) and then don't call context.wait.
SubChild: do what you need, and use context.wait to stay on subdialog, or .done to exit and return to child.

[2017-06-08 08:02] Magic73 opened #2903 "[Question] Conversation Logger"
I need to do some analytics with the Bot.
I'm using a TraceLogger: IActivityLogger class.

The issue is with the information that I may use. The LogAsync method, has only the activity parameter. But with this info I can't find a way to know if the activity is from the bot to the user, or from the user to the bot.

Is there a way to get this info?

Checking the BotFramework source code, I saw that

[2017-06-08 09:07] rainmakerho commented on #2896
@EricDahlvang The code is at [BotAuth](https://github.com/rainmakerho/BotAuth).
the project have 2 controllers([LineMessagesController.cs](https://github.com/rainmakerho/BotAuth/blob/master/ZimbraBOT/Controllers/LineMessagesController.cs), [MessagesController.cs](https://github.com/rainmakerho/BotAuth/blob/master/ZimbraBOT/Controllers/MessagesController.cs)).
LineMessagesController will use Direct

[2017-06-08 09:34] michaelhutchful commented on #2901
Hello,

So I am not sure what the difference is, but I use context.Call to call the SubChildDialogue. This works fine

Regards Michael

Sent from Mail for Windows 10

From: sowmyan soman
Sent: 08 June 2017 01:45
To: Microsoft/BotBuilder
Cc: Subscribed
Subject: [Microsoft/BotBuilder] E.g. for multi dialogue .NET bot (#2901)

Looking for an e.g of multi dialogue sample for .NET bot. The samples curr

[2017-06-08 10:10] Magic73 commented on #2901
the difference between call and forward is that Call open a new dialog, and wait for the next message.
Forward, instead open a new dialog and pass to it the current message (it is one of the parameter required) so that the dialog process this one.

[2017-06-08 10:26] Unders0n commented on #1449
@craigjensen , can you please reveal more on this, couldn't find this verification token and where to find it. I dont know if its related, but my buttons with imBack type not working even when i configured interactive messages. I even created SO question, but no answers for now: https://stackoverflow.com/questions/44358370/how-to-setup-buttons-with-imback-type-in-slack-channel-using-ms-bot-builder

[2017-06-08 12:05] Unders0n commented on #1520
@EricDahlvang thanks, and seems like this link https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/DialogModule.cs#L210 was providing some info on how to use it? (its also 404)

[2017-06-08 12:30] ITM3 commented on #2892
Dadriscoll, you were right about directline load testing, we are now testing our bot endpoint directly. We are concern though that when our bot goes live, we might have problems with the load on the bot framework. Our bot will be reachable from messenger and web chat but going through the bot framework.

Is there any way for us to ensure that the bot framework will handle the load when we go live?

[2017-06-08 12:43] msBot1111 commented on #2571
https://blog.botframework.com/2017/05/05/Saving-Bot-Actions-On-Azure-Sql-Server/
I've stored the conversation as it is in the example, but now how can I load the conversation when the chat is opened?

[2017-06-08 13:58] mcinnes01 commented on #2515
I am also getting this issue with 3.8.1 after updating my code to use ConversationReference instead of ResumptionCookie

[2017-06-08 14:05] mohit-jcc commented on #1504
Hi @Andrea-Orimoto , please let us know what is the status on this. How can I proceed with adding this feature if it's included now. Thanks.

[2017-06-08 14:14] Unders0n commented on #960
Still have issues with “precondition failed” error. Case is simple: I have a form dialog and I want for user only once fill this form, then it might be ignored. So I cant find a better way that to set some flag or state in Userdata and check it in messageController:
[code]

<form result callback>
…
[code]

So if I left everything’s on default I get "precondition failed" on await Conversation.SendA

[2017-06-08 14:41] nwhitmont commented on #2903
@Magic73 are you using .NET or Node SDK?

[2017-06-08 14:52] Magic73 commented on #2903
.Net

[2017-06-08 15:07] abtoom opened #2904 "Facebook connection broken (Error 500)"
## System Information (Required)
* SDK Language: NODE
* SDK Version: botbuilder@3.8.3
* Development Environment: AZURE_APP_SERVICE

## Issue Description

my bot receives messages from a user, but when I want to respond, with session.send(reply), then nothing happens.
In my logs it states an Internal Server error in the facebook connector.

Error: Request to 'https://facebook.botframework.com/v3/co

[2017-06-08 15:11] Rodrigora opened #2905 "[Feature Request] Provide current dialog/step to middleware"
## System Information (Required)
* SDK Language: NODE
* SDK Version: 3.8.3
* Development Environment: LOCALHOST

## Issue Description
I would like to use the middleware to send chat statistics to a server. From what I researched, the better way to do it would be creating a middleware to intercept all messages.

However, middleware callbacks don't have any information related to the current dialog

[2017-06-08 15:29] sowsan commented on #2901
Thank you so much,  let me try it out in my sample code and I will post it if the concepts is not working. Your inputs cleared the doubts I had 👍

[2017-06-08 15:42] JasonSowers commented on #2900
@rdy4trvl classic "works on my machine" case!  Have you connected the bot to any other channels? Do you notice issues anywhere else?

[2017-06-08 15:46] JasonSowers commented on #2876
@DL-LiveTiles  Have you tried anything that uses a more permanent storage method?  Maybe save the state to a db with the username or any other useful data?

[2017-06-08 15:50] nwhitmont commented on #2904
@abtoom We had some errors in the Facebook Channel connector service this morning.  The service has been rebooted and is back to normal status.

[2017-06-08 15:50] #2904 closed

[2017-06-08 15:51] rdy4trvl commented on #2900
Good suggestion....will give it a try.

[2017-06-08 15:54] EricDahlvang commented on #1520
@Unders0n That can be found here: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Builder.Autofac/Dialogs/DialogModule.cs

[2017-06-08 15:56] JasonSowers commented on #2902
@willportnoy or @msft-shahins any idea?

[2017-06-08 16:29] meganlcooper opened #2906 "[Question] Cards not working in MS Teams?"
I am using Hero Cards, Receipt Cards, and Adaptive cards in my bot. I am testing it out in ms teams right now and have the following issues:

1. The buttons for my Hero Card are not working properly (pressing them enacts a Luis Intent). Here is the code for said hero card:
[code]

[2017-06-08 16:39] JasonSowers commented on #2571
@msBot1111 I do not have an exact code example but, in your messageController, in the `HandleSystemMessage()` method you could load it all up and display it instead of a welcome message like below
[code]

[2017-06-08 16:50] JasonSowers commented on #2905
@Rodrigora This project is open source and you are welcome to submit a pull request for our SDK devs to review.  Good luck!

[2017-06-08 16:51] #2901 closed

[2017-06-08 16:52] msmohan commented on #2906
@meganlcooper can you please share the code, we can review and debug the issue?

From: meganlcooper [mailto:notifications@github.com]
Sent: Thursday, June 8, 2017 9:29 AM
To: Microsoft/BotBuilder <BotBuilder@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Microsoft/BotBuilder] Cards not working in MS Teams (#2906)

I am using Hero Cards, Receipt Cards, and Adaptive car

[2017-06-08 16:55] JasonSowers commented on #2906
Adaptive Card support in MS Teams is still officially listed as "Coming Soon"

[2017-06-08 16:56] nwhitmont commented on #2906
Receipt card + Adaptive Cards are not currently supported in MS Teams.

[2017-06-08 17:23] nwhitmont commented on #2905
@Rodrigora Add the the dialog/step metadata to the session object, then access it from your logging middleware.

[2017-06-08 17:27] meganlcooper commented on #2906
Yes sorry, here is the code for my Hero Card:
`[LuisIntent("Help")]
        public async Task showBotInformation(IDialogContext context, LuisResult result)
        {
            var helpMsg = context.MakeMessage();
            var helpHeroCard = new HeroCard
            {
                Title = "Hi, I'm Bridget.",
                Text = "I'm here to provide easy, information. ",
                B

[2017-06-08 17:43] Rodrigora commented on #2905
@nwhitmont thank you for your explanation.

but, as far I now, I'd need to do something like this:

[code]

Is this what you're suggesting?

Would be great to have the current dialog/step info in the session object by default, what do you think? Or this use case is very restricted?

[2017-06-08 17:55] SheriEllisMSFT commented on #2770
@dkushner and @prasanna-bigreco Hi Dave and Prasanna,
I had posted a couple questions to you both previously, which seem to have disappeared. Here they are again:

- Can you tell us if you've tried adding your bot to other channels, to test if it's channel-specific?
- And do you have telemetry on your side to look at traffic?

I'm in the group that supports the developer community, if this was a q

[2017-06-08 18:34] boardofchris commented on #2878
Yes, @eanders-MS explained why 3.1 authentication is not fully implemented in the emulator.

[2017-06-08 18:49] sowsan opened #2907 "[Question] Coloring for the cards with attachment ?"
Is there a way to make a different background colors for the cards and its content ? Its always rendering as grey background color in webchat. Look like even adaptivecard doesnt have the capabilty.

[2017-06-08 18:50] dkushner commented on #2770
@SheriEllisMSFT, this issue does occur with other bots and other teams. I have not yet tried to connect the bot to other channels, we use some fairly teams-specific functionality in our message handling but I can try to adapt it.

As far as telemetry, the furthest we can see is when the request hits our Amazon ELB and when we see this, we see our response immediately afterwards. The problem is tha

[2017-06-08 20:29] arthurtina724 commented on #2702
@nwhitmont I have not updated to v3.8.1 yet. I'm still on 3.5.9. My question above was geared towards the error handling when using the connectorclient or IDialogContext.PostAsync. Is it as simple as wrapping a try /catch around each of those calls or am I missing something else in the sdk that allows me to handle any type of transport error. In the meantime I will upgrade my bot to 3.8.1 and repo

[2017-06-08 20:43] nwhitmont commented on #2907
@sowsan are you using .NET or Node SDK?

[2017-06-08 20:52] JasonSowers commented on #2900
@rdy4trvl let me know how that works out for you

[2017-06-08 21:12] nwhitmont opened #2908 "[Feature Request] Add LINE channel integration"
This issue is to track requests for adding a LINE channel integration to Bot Framework. Thumbs up this comment to vote.

LINE
https://line.me/en-US/

LINE Bot SDK Node.js
https://www.npmjs.com/package/@line/bot-sdk

Bot Framework (unofficial) LINE Connector Node.js
https://www.npmjs.com/package/botbuilder-linebot-connector

[2017-06-08 21:17] sowsan commented on #2907
.NET & WebChat Channel

[2017-06-08 22:05] nwhitmont commented on #2240
reopen if you're still experiencing the issue.

[2017-06-08 22:05] #2240 closed

[2017-06-08 22:06] nwhitmont commented on #2905
relates to: https://stackoverflow.com/questions/44438849/microsoft-bot-how-to-log-each-conversation-step

[2017-06-08 22:08] nwhitmont commented on #2878
@boardofchris thanks for the update

[2017-06-08 22:08] #2878 closed

[2017-06-08 22:09] nwhitmont commented on #2884
@tomoakley Are you still experiencing the issue after upgrading to botbuilder v3.8.4?

[2017-06-08 22:30] nwhitmont commented on #2880
@sharmadine the prompts system was re-written for the v3.8.0 release of botbuilder.  The current functionality, eg. showing the retry message without the options, is the expected behavior.

[2017-06-09 01:14] DL-LiveTiles commented on #2876
@JasonSowers No, using the built-in Dialog state.
Is rolling your own custom state the recommended way?
I don't need more permanent storage, I would just like the Dialog to not lose state on an exception.

[2017-06-09 06:47] saileshcts opened #2910 "[LUIS] User utterance hits LUIS only on the second time"
## System Information (Required)
* SDK Language: Node
* SDK Version: Node 4.2.6
* Development Environment:  LOCALHOST/OTHER

## Issue Description

The chatbot is being tested using a channel emulator.
The conversation is initiated as shown below (U: user, B: Bot):

U: Hello
B: Tell me your name
U: Testuser
B: Hi Testuser, how you doing ?
U: Iam good

At this point, the control goes to the dialog h

[2017-06-09 09:07] ranmax123 commented on #2882
no worries, I'm using older version of web chat channel for now.

[2017-06-09 10:26] SamuelTassell commented on #2741
So I'd thought I'd leave a comment here as I was in need of calling multiple LUIS models in dialog's. I just used a part of your custom prompt @Stevenic to use the session at the start of a dialog instead:

`
bot.dialog('foo', [
    function (session) {
        // As long as the message is being passed here with the session we can:
        recognizer.recognize(session, function (err, result) {

[2017-06-09 10:27] gohilsagar commented on #1773
Please go through below link.
https://www.npmjs.com/package/botbuilder-wit

it also works as bot recognizer like this -- bot.recognizer(new WitRecognizer('Wit.ai_access_token'));

[2017-06-09 12:49] aakashkag commented on #2741
I am facing similar problem
how to call luis dialog from general dialog

dialog.matches('morningUpdate',[
    function (session, args, next) {
  }
]);

bot.dialog('/work', [
  function (session, args) {
    //how to call here "morningUpdate" dialog
  }
]);

[2017-06-09 13:16] jrmcdona opened #2911 "[.Net SDK, Skype, Question] Overriding the bot start up message"
Hello,
Right now in our Skype web control bot the initial message is coming from the description which is set in the https://dev.botframework.com/bots/settings?id=AmbPreviewSkypeBot settings.

What I want to do is have the bot send this initial desciption plus a rich form (Adaptive card with two select menus).  We want to proactively have the user categorize their question before they even have to

[2017-06-09 13:20] aakashkag opened #2912 "how to call luis dialog from general dialog"
## System Information (Required)
* SDK Language: <NODE>
* SDK Version: <3.6>
* Development Environment: <LOCALHOST>
Node.js + npm version
6.9.5 + 4.5.0

## Issue Description
I want to call Luis dialog within another dialog

dialog.matches('morningUpdate',[
    function (session, args, next) {
  }
]);

bot.dialog('/work', [
  function (session, args) {
    //how to call here "morningUpdate" dialog

[2017-06-09 13:41] stelazh opened #2913 "[Question] I've been having issues with "demarrer" word"
in my bot when i send "demarrer" as text ( to test Get Started in french  option ) i got some issues : here was an error sending this message to your bot: HTTP status code InternalServerError

I am using luis , and it try to add this word in intent , but still the same thing

[2017-06-09 13:52] kpuzyr commented on #2912
`bot.dialog('/work', [
   (session, args) {
     session.beginDialog('/morningUpdate', args)
   }
]);
bot.dialog('/morningUpdate',[
   function (session, args, next) {
     session.endDialog('finish');
   }
]);`

[2017-06-09 14:15] ranmax123 opened #2914 "[Question]: any suggestion on how to handle multiple messages and then respond after a gap of 2-3 secs?"
## System Information (Required)
* SDK Language: C#
* SDK Version: 3.8
* Development Environment: <LOCALHOST, AZURE_BOT_SERVICE, AZURE_APP_SERVICE, OTHER>

## Question Description
The current behavior of the bot is to process "every" message and respond. Is there any recommendation on how to capture chunk of messages (inputted by pressing enter key), process them as one message?

Usually when peop

[2017-06-09 14:20] aakashkag commented on #2912
no,it won't help. morningUpdate dialog call when user enter some text then it goes to luis ,then from luis morningUpdate dialog call.

[2017-06-09 14:36] fbessez opened #2915 "[Question] Auth for a Microsoft Teams bot"
Does someone know how to appropriately/successfully auth a bot as a user?
For example, in slack, one would send the user to /addons/slack/authenticate. What is the equivalent for teams?? Can someone point me to some guide for this? THANK YOU!

[2017-06-09 15:11] #2912 closed

[2017-06-09 15:15] nwhitmont commented on #2911
@jrmcdona are you using .NET or Node SDK for BotBuilder?

[2017-06-09 15:17] jrmcdona commented on #2911
Sorry.  .NET

[2017-06-09 15:21] nwhitmont commented on #2913
@stelazh Are you using .NET or Node SDK? Can you post your bot code that is causing the error?

[2017-06-09 15:24] SamuelTassell commented on #2741
I'm not sure your issue relates to this, would this not work in your case:

[code]

[2017-06-09 15:29] stelazh commented on #2913
i am using .net

On Fri, Jun 9, 2017 at 5:21 PM, Nils <notifications@github.com> wrote:

[2017-06-09 15:37] nwhitmont commented on #2913
@stelazh check out this example code to get you started with .NET SDK - https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Samples/SimpleEchoBot

[2017-06-09 15:54] JasonSowers commented on #2902
@mariabot can you please post your dialog (rootDialog or luisDialog) code and your message controller so we can take a look?

[2017-06-09 16:02] JasonSowers commented on #2915
@fbessez  Have you looked at this yet?  It may help https://msdn.microsoft.com/en-us/microsoft-teams/botsadd

[2017-06-09 16:04] stevengum97 commented on #2741
https://github.com/Microsoft/BotBuilder/issues/2741#issuecomment-301888868

[code]

[2017-06-09 16:07] stevengum97 commented on #2912
See here https://github.com/Microsoft/BotBuilder/issues/2741#issuecomment-307430385

[2017-06-09 16:09] JasonSowers commented on #2911
@jrmcdona can you please post the code in your MessagesController.cs?  Generally a welcome message goes here

[code]

[2017-06-09 16:18] DavidJBarnes commented on #2897
Thanks, Steven.

[2017-06-09 16:18] #2897 closed

[2017-06-09 16:26] jrmcdona commented on #2911
We have this, it is just the defaults.  So I guess when you do not specifiy a welcome message then it uses what is in the desciption field in the bot.

Let me try doing what you are doing here and see if I can get a different result.   Thanks for the direction.

[code]

[2017-06-09 17:10] sureshgururajan opened #2916 "[Skype For Business] Property immutableId is invalid"
## System Information (Required)
* SDK Language: NODE
* SDK Version: 3.7.0
* Development Environment: AZURE_APP_SERVICE

## Issue Description
We want to configure Skype for Business channel using Bot Framework channel. We followed the instructions in [this link](https://msdn.microsoft.com/en-us/skype/skype-for-business-bot-framework/docs/overview#add-bot) and our tenant administrator tried to exec

[2017-06-09 17:21] meganlcooper opened #2917 "[Question] Receipt card alternatives for MS Teams?"
I'm working on a project whose information would be more effectively displayed on receipt cards. This is fine but I'm using MS Teams and I just found out that it doesn't support receipt cards. Is there a way to mimic the receipt card style with text, or hero cards? If so could you provide an example including buttons and images? Thanks!

[2017-06-09 17:23] nwhitmont commented on #2917
@meganlcooper are you using .NET or Node SDK?

[2017-06-09 17:30] nwhitmont commented on #2915
@fbessez are you using .NET or Node SDK?

[2017-06-09 17:40] meganlcooper commented on #2917
I'm using .NET sorry I forgot to clarify

[2017-06-09 17:53] nwhitmont commented on #2898
@iMicknl Using Skype iOS 6.35.0.54 on iOS v10.3.2 (14F89) - I am unable to duplicate the error.  I can tap the "Connect" button and it opens Safari mobile with MS sign-in page.

[2017-06-09 18:57] gakarnik commented on #2228
@cahann Can you please confirm if the timezone issue has been resolved in BotBuilder 3.8.1?

[2017-06-09 19:21] stevengum97 commented on #2228
Hi @gakarnik, have you tried using the new datetimeV2? Also, the timezoneOffset in your link isn't valid, try using 575 instead of 5.75 and let us know if it is working for you.

[2017-06-09 19:25] meganlcooper opened #2918 "[Question] How to open file using Actions.OpenUrl?"
I want to open a file from a button on a hero card. Why does using file:///...file or network location... not seem to work? Here is my code:
[code]

Thanks!

[2017-06-09 19:32] jrmcdona commented on #2911
For the Skype web control/bot scenario.  It doesn't apper that when a user opens the chat control on the web that the code given will actually work.  Frankly I am not sure if the bot is even contacted when the web control is open, can we confirm that?

My sample is here.  The welcome message you see is from the settings page that I mentioned in the original thread.
http://ambassadorchatskypepoc.az

[2017-06-09 19:37] JasonSowers commented on #2911
@jrmcdona  this message is not the intended one?

Welcome to Amby Chat. We are community of volunteers and fellow gamers like yourself. Please select one of the following categories then type your question to begin.

[2017-06-09 19:51] jrmcdona commented on #2911
No, it isn't.  I want to send one from code because I am going to add a card to it.  The opening message to the user will be some text and have them fill out two drop downs to categorize their question.

I am just not sure where in the code to override what is showing up now.

[2017-06-09 20:19] JasonSowers commented on #2911
@jrmcdona unfortunately, me may have to wait for someone from the Skype team to chime in here.   Still trying to come up with something that will help you.

[2017-06-09 20:38] sowsan opened #2919 "[WebChat] ConversationUpdate Activity Event issue"
## System Information (Required)
* SDK Language:  .NET/C#
* SDK Version: Latest
Channels : WebChat & Emulator

* Development Environment: LOCALHOST

## Issue Description
I have a simple bot created to send a welcome message with menu selection using adaptivecard as activity attachment. I'm using the ConversationUpdate event to send this welcome message. Now, once user click on any  menu item it's

[2017-06-09 20:40] msmohan commented on #2918
can you please share the code in order to repro?

[2017-06-09 20:41] nwhitmont commented on #2918
@meganlcooper are you using .NET or Node SDK?

[2017-06-09 20:49] meganlcooper commented on #2918
Sorry I'm new to this. Do you me upload all my code to github? I just wanted to know if there's a way to open a file or network location from a HeroCard button. Thanks

[2017-06-09 20:55] nwhitmont commented on #2915
Use the sign-in card, it's designed exactly for this purpose. You can find an example sign-in card here: https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/cards-RichCards

[2017-06-09 20:57] msmohan commented on #2918
you can choose to upload it to GitHub or you could upload it to onedrive and share the link.

[2017-06-09 21:12] JasonSowers commented on #2918
@meganlcooper can you show the snippet that constructs helpMsg?

[2017-06-09 21:14] iMicknl commented on #2898
@nwhitmont strange, thanks for your reply. I will have a look again, however I was able to reproduce it on a colleague his device too. also iOS 10.3.2 (14F89)

[2017-06-09 21:14] meganlcooper commented on #2918
Its what's mentioned in the orig post:
[code]

[2017-06-09 21:15] iMicknl commented on #2915
@nwhitmont sign in card isn't supported in Microsoft Teams (yet?). You will need to use a herocard with a openUrL button. https://github.com/Microsoft/BotBuilder/issues/2104

[2017-06-09 21:19] JasonSowers commented on #2918
@meganlcooper helpMsg would not exist in this context, what is it and how is it constructed?  can you share that code please?

[2017-06-09 21:24] meganlcooper commented on #2918
Sorry, I added it in

[2017-06-09 21:41] #2732 closed

[2017-06-09 21:47] EricDahlvang commented on #2919
Please share your code.

[2017-06-09 23:24] iMicknl commented on #2905
Have a look at BotBuilder-Instrumentation, @morsh has found a way to catch the beginDialog event. Maybe it is helpful. https://github.com/CatalystCode/botbuilder-instrumentation/blob/master/src/main.ts

[2017-06-09 23:24] nwhitmont opened #2920 "[Feature Request] Add WhatsApp channel support"
This issue is to track interest in [WhatsApp](https://www.whatsapp.com/) channel integration.  Thumbs up this comment to vote.

[2017-06-09 23:39] EricDahlvang commented on #2920
Has WhatsApp released an external API, or changed their terms of service to allow chat bots?

Check this out: https://medium.com/@AlfredBaudisch/how-a-whatsapp-bot-got-famous-and-evolved-as-the-brazilian-wechat-and-conversational-commerce-e2213262183d

[2017-06-09 23:41] nwhitmont commented on #2915
@iMicknl Indeed you are correct.  I must have sent that comment through a wormhole from the future ;-)

[2017-06-09 23:48] nwhitmont commented on #2898
@iMicknl Hmmm, well that is interesting...

[2017-06-10 00:09] gakarnik commented on #2228
I am using the old datetime entity. You're right, when I changed the timeZone to 575, it worked. Thanks a lot!

[2017-06-10 00:09] #2228 closed

[2017-06-10 00:17] nwhitmont commented on #2907
You can style adaptive cards by including a `hostconfig.json` file in your project. Check out this [sample hostconfig.json](http://adaptivecards.io/samples/themes/hostconfig.json) for reference.  The complete [host config specification can be found here.](http://adaptivecards.io/samples/themes/hostconfig.json)

[2017-06-10 00:27] #2907 closed

[2017-06-10 01:09] akontsevich commented on #2395
I have same error with 3.8.1 version. "Common Language Runtime Exceptions" shows nothing to me. Any ideas?

[2017-06-10 01:53] roman-polunin-medamerica commented on #2266
Omg guys can you please put this last bullet #3 about well-known URLs somewhere in the official help and into the BotFramework? I burned multiple hours trying to figure out what's going on, now discovered this post and this seems to be the case.

[2017-06-10 02:09] akontsevich commented on #2395
Error appears in my singleton class which is called from
`public async Task<HttpResponseMessage> Post([FromBody]Activity activity)`

my class method definition, error appears in bot-emulator after message sending, message sends successfully:

[code]

[2017-06-10 03:30] akontsevich commented on #2395
It happen after `return response;` in `public async Task<HttpResponseMessage> Post([FromBody]Activity activity)` method.

[2017-06-10 12:11] karam94 opened #2922 "[Question] Emulators work fine, Slack & Skype do not?"
I've created a simple bot and published it on Azure.
Both the emulator on my local machine & the web emulator work fine with the bot.

However, despite configuring Slack correctly (& Skype comes pre-configured), my bot seems to ignore me on those platforms & it's driving me insane. No errors are being thrown on azure, everything looks healthy. My slack credentials in the setup section have also va

[2017-06-10 12:15] michaelhutchful commented on #2922
Hello,

Try using ngrok to debug on skype and see what happens. Set a break point in your message controller and see what happens. For good measure also debug on the ones that work also so you have an idea how it works. Do this with ngrok.

Michael

Sent from my Windows 10 phone

From: Karam
Sent: 10 June 2017 12:11
To: Microsoft/BotBuilder
Cc: Subscribed
Subject: [Microsoft/BotBuilder] [Question]

[2017-06-10 12:23] karam94 commented on #2922
Hi Michael,

Just tried doing that now. Both Skype & Slack don't even seem to trigger the execution of my code. Whilst the Web Emulator does, it results in a "405 Method Not Allowed" error being displayed on the Post request in ngrok.

Any ideas?
Thanks!

[2017-06-10 12:39] karam94 commented on #2922
Solved the issue. One of the first steps my bot does is identify if any URLs have been sent by users.
Turns out Slack URLs look like <github.com> and Skype URLs have <a href=""> tags around them, so my bot wasn't identifying them.

Thanks for your help! :)

[2017-06-10 12:39] #2922 closed

[2017-06-10 12:55] michaelhutchful commented on #2922
For now, just compare both the web and skype messages in ngrok inspect, i will see whether I can find out more

Michael

Sent from my Windows 10 phone

From: Karam
Sent: 10 June 2017 12:23
To: Microsoft/BotBuilder
Cc: michaelhutchful; Comment
Subject: Re: [Microsoft/BotBuilder] [Question] Emulators work fine, Slack &Skype do not? (#2922)

Hi Michael,
Just tried doing that now. Both Skype & Slack d

[2017-06-10 12:56] michaelhutchful commented on #2922
Ok cool and interesting

Sent from my Windows 10 phone

From: Karam
Sent: 10 June 2017 12:39
To: Microsoft/BotBuilder
Cc: michaelhutchful; Comment
Subject: Re: [Microsoft/BotBuilder] [Question] Emulators work fine, Slack &Skype do not? (#2922)

Solved the issue. One of the first steps my bot does is identify if any URLs have been sent by users.
Turns out Slack URLs look like <github.com> and Skype

[2017-06-10 14:44] karam94 opened #2923 "[Question] Sending a Slack Private Message using C# Bot Framework"
I've seen quite a few examples for the NodeJS Bot Framework which suggest simply the removal of the ConversationID field of a message activity and pointing the recipient address at the user's ID to initiate a private message .

Unfortunately the C# framework doesn't seem to be as lenient and removing the ConversationID when trying to initiate a new reply activity object (bot to user) throws a Null

[2017-06-10 21:01] iMicknl opened #2924 "[Feature Request] Add support for Facebook Message Tags"
Adding a [Message Tag](https://developers.facebook.com/docs/messenger-platform/send-api-reference/tags/) allows you to send it outside the 24+1 window, for a limited number of use cases (shipping update, reservations, and issue resolution), per Messenger Platform policy.

[Documentation](https://developers.facebook.com/docs/messenger-platform/send-api-reference/tags)

## System Information (Requir

[2017-06-11 09:51] fbessez commented on #2915
I am using Node! Basically, I want the Microsoft teams user to authorize my 3rd party app. So if I understand correctly, I have the button redirect me to an auth page and follow that stream of auth dance?

[2017-06-11 21:57] valnav commented on #917
How did you get the email working what was the change you made? here's my code and I cant understand how to fix this?

           `List<ChannelAccount> participants = new List<ChannelAccount>();
            participants.Add(new ChannelAccount(email, name));

            ConversationParameters cpMessage = new ConversationParameters(true, botAccount, participants, subject);
            var conversat

[2017-06-12 05:00] sowsan commented on #2919
Here is the code : https://github.com/sowsan/Bot/tree/master/Bot-Demo/Bot-Demo

[2017-06-12 05:26] valnav commented on #1641
I am using 3.8 version. my scenario is that a asp.net website posts to a customAPIcontroller which calls this method and tries to send the message. But i get the same error - unauthorized 401. in the stack trace its coming from JwtRefresher

           ` connector = new ConnectorClient(new Uri("https://email.botframework.com"), new
            MicrosoftAppCredentials
            {

[2017-06-12 07:06] RaoVenka opened #2925 "[Feature Reqest] Add Google+ integration"
Hi Team ,

I just want to know in Bot Framework Google+ integration is possible like Facebook, Slack etc.

Once Google+ interrogation possible.could you provide some documentation for the same.

Please help me asap.

[2017-06-12 08:36] mcinnes01 commented on #2770
I am also having an issue with Teams:

I have a development and production version of my bot and both are experiencing the same issue. Both also work without an issue on slack and using the web chat from the dashboard.

Both however are completely failing on Skype although I think this is likely to be a completely different issue. On Skype I don't get any errors in the dashboard but get the generi

[2017-06-12 10:34] sharmadine commented on #2880
oh, this has broken the FB experience completely because FB does not retain the choice buttons as the case with Skype, which leaves user with no options to choose from :-( How can it be overridden to attain pre v3.8.0 behavior?

[2017-06-12 10:46] stelazh opened #2926 "[Question] Make the bot to understand "Like" button and other emoji"
Hello,
I'm using BotFramework, luis.ai  and c# . In Facebook channel i want to program my bot to understand when a user send in chatbot 'thumb up sign' button or , or emoji.

How can i do this using luis.ai ? It is possible ...do you have any other solutions?

[2017-06-12 12:05] winterfeldt opened #2927 "[Question] Creating own HTTPS Bot Endpoint to be used with embedded Chat"
We have installed botframework and are running a simple application on our server:

[code]
We can connect to our endpoint using https.
But the endpoint is not accepted by the chat control:

https://innovationslab.th-deg.de:3978/api/messages

Anyone an idea what I am doing wrong?? It does work with the emulator!

[2017-06-12 12:44] radennis commented on #2833
Any update on this issue?

[2017-06-12 12:44] radennis commented on #2832
Any update on this issue?

[2017-06-12 12:56] jrmcdona commented on #2803
@EricDahlvang  What is the difference between Bing's Skype Webchat control and Skype in your list?
I am trying to display Adaptive Card in Skype Web chat control and get the following in the bot settings logs.  Not sure how this differs from the Skype WC Bing is using but isn't working for me.
![image](https://user-images.githubusercontent.com/4327773/27034744-7e49535e-4f44-11e7-8d50-5e89ce400ee7.

[2017-06-12 13:20] MikeDrips commented on #1892
Being that the Azure Bot Service is an httpTriggered Azure Function, I think it would be nice to be able to see the function threads that the bot is currently using.  We're planning to process upwards 500/s directline requests and seeing the scaling on Azure is critical to diagnostic/debugging.  Is this possible already?  How to do this?  Application Insights seem to be pretty limited for the Bot

[2017-06-12 13:49] AndreMantas commented on #2926
This looks more like a stackoverflow question to me.

You could create a list entity and add all the possible emojis and the synonyms btw.

[2017-06-12 14:08] juhamust commented on #2810
Any updates on this? Or is there a separate ticket where the progress can be followed instead? Thanks.

[2017-06-12 14:46] ream88 commented on #2803
Why is this closed? The example here is not working at all: https://docs.microsoft.com/en-us/bot-framework/rest-api/bot-framework-rest-connector-add-rich-cards#a-idadaptive-carda-add-an-adaptive-card-to-a-message

[2017-06-12 14:57] nwhitmont commented on #2925
@RaoVenka For reference, are you using .NET or Node SDK?

[2017-06-12 15:21] ream88 commented on #1157
@willportnoy any update on this? I know there must be a way to sent Markdown as I have seen it before, but I don't know how its done 😕

[2017-06-12 15:32] nwhitmont commented on #2927
@winterfeldt You need to update your production endpoint to https 443 instead of using the development port number 3978.

For example, your production endpoint should be `https://innovationslab.th-deg.de/api/messages`.

[2017-06-12 15:35] nwhitmont commented on #2884
@tomoakley Are you still experiencing the issue after upgrading to botbuilder v3.8.4?

[2017-06-12 15:38] JasonSowers commented on #2923
@karam94 you mind sharing your C# code so we can take a look?

[2017-06-12 15:42] JasonSowers commented on #2915
For now yes

[2017-06-12 15:46] JasonSowers commented on #917
@valnav  do you mind creating a new issue and/or asking your question on stack overflow?

[2017-06-12 15:54] JasonSowers commented on #2833
None as of yet

[2017-06-12 16:03] JasonSowers commented on #2803
@ream88 What channel are you using?

[2017-06-12 16:05] JasonSowers commented on #1157
@ream88 what channel are you trying to send markdown in?

[2017-06-12 16:08] meganlcooper commented on #2918
@msmohan Any idea how I can accomplish this? Thanks for the help.

[2017-06-12 16:16] JasonSowers commented on #2918
please see my previous comment, thanks.

[2017-06-12 16:17] msmohan commented on #2918
@meganlcooper can you share your code in GitHub or Onedrive?

[2017-06-12 16:23] msmohan commented on #2918
@meganlcooper can you please explain on "DUMMY_SERVER" ? is it your local pc? or network share?

[2017-06-12 16:29] meganlcooper commented on #2918
@msmohan Sorry, it is network share. Also I added context for the var helpMsg

[2017-06-12 16:47] EricDahlvang commented on #1641
@valnav
Have you tried adding a call to Microsoft​App​Credentials.​Trust​Service​Url(message.ServiceUrl) ?  Please see here: https://docs.microsoft.com/en-us/dotnet/api/microsoft.bot.connector.microsoftappcredentials.trustserviceurl

-----
This issue is closed.  Please either open a new issue, or post your question on Stack Overflow (the preferred location for Bot Framework questions).

[2017-06-12 16:52] msmohan commented on #2918
@meganlcooper

You can host the file in local webserver instead.
Using ActionTypes.**OpenUrl** or **DownloadFile**, update your code as shown below

Buttons = new List<CardAction> { new CardAction(ActionTypes.**DownloadFile**, "Help File", value: "http://localhost/HelpFile.txt") }

Network share is not supported in this context.

[2017-06-12 16:55] dandriscoll commented on #1892
Hi @MikeDrips please do not perform any load testing on Direct Line.

[2017-06-12 17:20] nwhitmont commented on #2913
@stelazh were you able to solve your issue by starting from the example code?

[2017-06-12 17:35] tomoakley commented on #2884
Hi @nwhitmont, sorry this is a side-project and I haven't had time to focus on it for a few days. Will hopefully be able to do something in the next couple of days.

[2017-06-12 17:40] MikeDrips commented on #1892
Okay. When will it be functional for high volumes of traffic?
Mike 

Sent from my Verizon, Samsung Galaxy smartphone
-------- Original message --------From: dandriscoll <notifications@github.com> Date: 6/12/17  12:55 PM  (GMT-05:00) To: Microsoft/BotBuilder <BotBuilder@noreply.github.com> Cc: Mike <michael.varga7560@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [Microsoft/BotBuilde

[2017-06-12 17:46] ream88 commented on #1157
MS Teams

[2017-06-12 17:46] ream88 commented on #2803
MS Teams

[2017-06-12 17:52] stevengum97 commented on #2910
Is your luisDialog plugged into your root dialog? e.g. `academyDialog.('/', luisDialog);`?

This aside, if you're just calling `session.beginDialog()`, it shouldn't send anything to LUIS. Are you trying to match an intent based on what the user says in response to "How are you doing?" If this is the case it would probably be better to take the `session.message.text` and use `recognizer.recognize()

[2017-06-12 18:02] nwhitmont commented on #2915
@fbessez Here's a blog article that shows a few different methods to perform authentication with an external website (including sample code) -  [Build BOT with Authentication (Microsoft Bot Framework)](https://blogs.msdn.microsoft.com/tsmatsuz/2016/09/06/microsoft-bot-framework-bot-with-authentication-and-signin-login/)

[2017-06-12 18:02] #2915 closed

[2017-06-12 18:17] #2918 closed

[2017-06-12 18:24] JasonSowers commented on #1157
@ream88 can you start a new question and/or post on stack overflow?  I'm unclear what exactly you're asking.  Are you trying to use markdown on a card or just trying to use markdown?

[2017-06-12 18:43] raghavan opened #2928 "[Question] Handle 412 Issue with Table Bot Data Store"
## System Information
* SDK Language: .NET/C#
* SDK Version: Bot Builder 4.0.30319
* Development Environment: Azure App Service

## Issue Description
Recently, we shifted our bot data store to use [Azure Table](https://github.com/Microsoft/BotBuilder-Azure). The following piece of code is used to handle precondition failed ( 412 ) error but this does use **c.Resolve** for connector store however,

[2017-06-12 19:36] winterfeldt commented on #2927
Hey Nils,

I did change the endpoint. The bot emulator can now connect (https://innovationslab.th-deg.de/api/messages)
but the chat channel does not send out the message and asks to repeat sending.
What are we missing?

The application is quite big. We cannot host on Azure, the test amount (170 Euro) was gone after one week
without heavy usage..

Mit freundlichem Gruss
Götz Winterfeldt
-----------

[2017-06-12 19:49] nwhitmont commented on #2927
@winterfeldt Herzliche grüße aus Redmond!

Did you register your bot in the "My bots" section of the Bot Portal at https://dev.botframework.com?

For reference, what is your bot name, bot handle, and App ID used for your bot registration?

[2017-06-12 19:57] winterfeldt commented on #2927
Good evening,

the name is Toni,
ToniMartin

APPID b030f685-a2a2-4b50-acd5-880a83b2c2d6
Pss JMSDYjyReCxoJpadZ7iBUWf

The connectot does work. I am currently verifying if we have an issue with the certificates.
I generated them online.

Mit freundlichem Gruss
Götz Winterfeldt
-----------------------------------------
Prof. Dr. Götz Winterfeldt
TH Deggendorf
Edlmair Str. 8

94469 Deggendorf

http://

[2017-06-12 20:48] msmohan commented on #2928
Can you please share the code?

[2017-06-12 21:01] msmohan commented on #2928
Thanks for sharing code with me., I will try to repro the issue.

[2017-06-12 21:48] nwhitmont commented on #2927
I couldn't find any errors in your bot configuration.  Looks like the problem is on your deployment server.

[2017-06-12 23:49] JasonSowers commented on #2919
@sowsan we are looking into this.  Something is wrong and we are trying to pinpoint exactly what it is.

[2017-06-13 01:54] EricDahlvang commented on #2803
@ream88 This issue is closed because the question asked by the original user was answered.  The url you referenced does in fact work, in the emulator and in WebChat, but not in MS Teams.  This is a known feature that is currently being implemented (as mentioned earlier: Teams support is coming soon).

@jordanchang There is a documentation page that has this information currently in the pipeline.

[2017-06-13 05:35] damienpontifex commented on #2837
@JasonSowers I looked into this and it is a big change that touches every project! At this stage I don't have the time to invest when we were just evaluating. My outcome was that the bot framework is trying to be an application unto itself, rather than another component on in our Web API. We will look at other alternatives to be able to add bot capabilities to our API. Thanks for considering this

[2017-06-13 07:22] SeanSobey opened #2929 "[Feature Request] Univeralbot loadSession to use a DialogId and DialogArgs."
## System Information (Required)
* SDK Language: NODE
* SDK Version: 3.8.4
* Development Environment: LOCALHOST and Heroku.

## Issue Description
I have implemented an OAuth flow login for my bot, and as one of the steps requires I need to temporarily store and retrieve the bot Address to proactively tell the user the login has succeeded and resume the conversation.

Building on the Univeralbot I

[2017-06-13 08:28] nrobert commented on #2923
@karam94 you can easily start a new private conversation between your bot and a Slack user in C# by a few steps:
- createDirectConversationAsync
- CreateMessageActivity, linking to this conversation
- SendToConversationAsync

### Parameters
You need some parameters. For Slack, the ID of the bot and the user are made like this:
- the bot ID is a concatenation of its Slack's Bot_id, a ':' and Slack'

[2017-06-13 08:31] winterfeldt commented on #2927
Good morning,

we have checked with another server that was directly positioned in the Internet (exposed system). Again the emulator application does work, while the chat bot refuses to work.
There might be an issue with certificate acceptance in the bot infrastructure? We are using self signed certificates, but will try with issued certificates today.

Mit freundlichem Gruss
Götz Winterfeldt
----

[2017-06-13 09:20] andy51002000 opened #2930 "[Question] LUIS Bot not working on Cortana"
System Information (Required)

SDK Language: C#
SDK Version: Bot Builder have upgraded to 3.8
Development Environment: Localhost

I have a simple Luis Bot and I got the following error when I invoked it without phrase(for example, ask smart) on Cortana,
I have already overridden the LuisDialog.MessageReceived to handle without phrase but it seems doesn't work. Does anything else I missing to imple

[2017-06-13 09:27] RiccoSuave commented on #917
I am glad to. I was struggling with getting the automatic email reply functionality working, and the fix was `message.Conversation = new ConversationAccount(id: ConversationId.Id);` You can find more details [https://stackoverflow.com/questions/38776109/how-do-i-implement-the-email-service-for-microsoft-web-robot/38838794#38838794](here). Let me know if I need to do anything else or elaborate furt

[2017-06-13 09:30] rexad commented on #1678
i think the fix not working anymore with the new build, i will take a look at it and be back with a solution.

[2017-06-13 09:50] andy51002000 commented on #2930
System Information (Required)

SDK Language: C#
SDK Version:  Bot Builder have upgraded to  3.8
Development Environment: Localhost

I have a simple Luis Bot and I got the following error when I invoked it without phrase(for example, ask smart) on Cortana,
I have already overridden the LuisDialog.MessageReceived to handle without phrase but it seems doesn't work. Does anything else I missing to imp

[2017-06-13 11:21] jesusom commented on #2881
I have the same problem, and i am not using any custom entities of type list.

Exception: Type 'Newtonsoft.Json.Linq.JArray' in Assembly 'Newtonsoft.Json, Version=10.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' is not marked as serializable.

[2017-06-13 11:31] radennis commented on #2833
Ok, would very much appreciate your help. Even just a workaround to disable the localizer since this issue happens more and more and our customers are complaining.
Thanks!

[2017-06-13 12:28] weretygr commented on #2803
Microsoft Teams

________________________________
From: Jason Sowers <notifications@github.com>
Sent: Monday, June 12, 2017 12:03 PM
To: Microsoft/BotBuilder
Cc: Wayne Smith; Manual
Subject: Re: [Microsoft/BotBuilder] [Question] Adaptive card Unknown Attachment Type (#2803)

@ream88<https://github.com/ream88> What channel are you using?

—
You are receiving this because you are subscribed to this

[2017-06-13 14:21] stelazh commented on #1461
i have the same error...did you resolve it ?

[2017-06-13 14:41] meganlcooper opened #2931 "[Question] How does a bot send emails (in outlook)?"
I'm new to the bot framework so please be kind :)

I was working on my bot and noticed that an email was sent from my outlook account with the same message that was in a certain statement in my code. Here is the statement:

`await context.PostAsync("TODO: Finish this method");`

I have registered the bot on the bot framework and did email as a channel, but I wasn't testing the bot in my email at a

[2017-06-13 14:46] meganlcooper commented on #2840
It may be because you're using:
`context.Wait(MessageReceived);`

[2017-06-13 14:50] meganlcooper commented on #2835
Your best bet may be just using a HeroCard with a single button

[2017-06-13 15:09] nwhitmont commented on #2931
@meganlcooper For email channel, I recommend setting up a new outlook account that is used by your bot only.

As to what caused the email to send.  It's hard to say without knowing exactly what code was running at the time. Sounds like you activated inadvertently during testing your code.

Keep in mind, when the bot is connected to the email channel + your personal email account, it could potentia

[2017-06-13 15:12] JasonSowers commented on #2837
@damienpontifex If only we could write software to make more hours in the day :) best of luck to you!

[2017-06-13 15:16] dandriscoll commented on #1892
It is already. However, it's intended for user-generated traffic.

Our recommendation for performing load testing is to connect directly to your bot's endpoint. We're still expanding the documentation for this but the core of it is to request a token using the same configuration that the emulator uses and set up a sink that can receive callbacks from your bot.

[2017-06-13 15:20] JasonSowers commented on #2881
@jesusom do you have your code in a repo so I can take a look?  Last time I saw this error a class in that persons code was missing a ```cs [Serializable] ``` attribute.  let's hope this is just as simple.

[2017-06-13 15:22] JasonSowers commented on #2833
@radennis we are looking into it, we will let you know as soon as we have more information for you.

[2017-06-13 15:30] nwhitmont commented on #2927
@winterfeldt did you try deploying the app without the SSL cert?

[2017-06-13 15:46] meganlcooper commented on #2931
@nwhitmont Thanks for the help. I disconnected the bot from my email channel, I hope that fixes the issue

[2017-06-13 16:03] MikeDrips commented on #1892
Thanks @dandriscoll.  We appreciate your help.

We don't have any user-generated traffic per say.  We have a prior existing
system that all traffic funnels through, passing it off to the bot through
DirectLine in the meantime for AI processing.  If don't need to using
DirectLine we won't, the only reason we are is because we we're told to by
Microsoft at a BotHackFest.

Does this mean we can send/

[2017-06-13 16:05] nwhitmont commented on #2880
@sharmadine use botbuilder@3.7.0 if you need this re-prompt behavior.

[2017-06-13 16:05] #2880 closed

[2017-06-13 17:41] radennis commented on #2880
We also prefer the old behavior. Is there some uservoice where we can vote for it? Seems several people have been requesting for it.

We cannot downgrade to 3.7.0 since we need 3.8.0 new features and bug fixes…

[2017-06-13 17:43] stevengum97 commented on #2880
Hi @radennis and @sharmadine, we're currently looking into this and will update with new pertinent info as it arises.

[2017-06-13 18:18] MichaelJohnBradley commented on #2881
Hi I have managed to.figure out the issue with mine.  I hadn't marked my enums as serializable. The documentation isn't very clear about this and many example on this site don't have the enums as serializable, I only tried it because I looked at Garry Pretty website, not sure if this is it needed only when.using Luis.

[2017-06-13 18:28] JasonSowers commented on #2881
Glad you were able to fix this, good luck!

[2017-06-13 18:29] #2881 closed

[2017-06-13 20:08] iudelsmann opened #2932 "[Question] Why PromptDialog.cs classes are sealed?"
Hello,

I'm using botframework version 3.8.1 (for .net). The classes in PromptDialog.cs, like PromptString, PromptConfirm are all sealed (with the exception of PromptChoice). I'm trying to create some specialized behavior and basically have to rewrite the code for this classes as I can't extend them. Is there a reason for that?

Thank you

[2017-06-13 20:34] nwhitmont opened #2933 "[Feature Request] Proactive messages support for Cortana Skills"
Support proactive messages in Cortana channel.

[2017-06-13 20:49] nwhitmont commented on #2932
@willportnoy @msft-shahins any thoughts?

[2017-06-13 22:11] willportnoy commented on #2932
You can inherit from `Prompt<string, string>` as a workaround.

(I think the general idea is that PromptString itself wasn't designed for inheritance).

[2017-06-13 22:38] JasonSowers commented on #2932
@willportnoy PR submitted

[2017-06-13 22:39] msmohan commented on #2928
@raghavan  Here is the modified class [ConversationWithCredentials](https://aka.ms/vkhdj7)

- Updated with Azure TableBotDataStore using Autofac implementation.
- Introduced static constructor and static Container object in order to isolate instantiation from SendAsync calls.

Hope, this helps.

[2017-06-13 23:11] JasonSowers commented on #2932
new PR submitted @willportnoy @msft-shahins

[2017-06-13 23:16] nwhitmont commented on #2890
@Tracet51 can you post your complete bot code so that we may better assist you?

[2017-06-14 00:04] stevengum97 commented on #2880
@sharmadine @radennis,  a fix for the issue, [**PR #2936**](https://github.com/Microsoft/BotBuilder/pull/2936), has been created and is pending approval for a merge.

Thank you for your patience and understanding.

[2017-06-14 00:12] nwhitmont commented on #2890
@Tracet51 Kik acts a bit differently when it comes to the card display.  When you send a card with buttons to the Kik mobile app, the buttons do not display in the card itself, they are located underneath the text input field. See screenshot.

Card with buttons in WebChat component:
![emulator card with buttons](https://user-images.githubusercontent.com/3075047/27109989-0a83e642-505b-11e7-9372-24b

[2017-06-14 00:27] nwhitmont commented on #2893
@tobybrad reopen if this is affecting your bot's functionality

[2017-06-14 00:27] #2893 closed

[2017-06-14 00:48] nwhitmont opened #2937 "[Kik] Card buttons with builder.CardAction.openUrl() style links do not work on Kik mobile iOS"
## System Information (Required)
* SDK Language: Node
* SDK Version: 3.8.4
* Development Environment: Bot Service

## Issue Description
When sending Hero Card with buttons that contain card action of type `openUrl()`, the Kik mobile app (iOS) does not open the link on button tap, instead it sends the button text as an imBack/postBack style message back to the bot.

## Code Example
[code]

## Steps

[2017-06-14 01:23] castillolj commented on #2347
Is this problem resolved?.

[2017-06-14 01:25] castillolj commented on #1983
The issue persist in 3.8.1, anyone can help me to workaround?

[2017-06-14 02:30] mobilebilly opened #2938 "[Question] Unable to integrate with Microsoft Teams"
## System Information (Required)
* SDK Language: C#
* SDK Version: Microsoft.Bot.Builder 3.8.0.0
* Development Environment: localhost, endpoint exposed via ngrok.io tunneling service

## Issue Description
- I have created a chatbot hosted on my local machine and I have made it public accessible via ngrok.io tunneling service.
- I have registered my bot to botframework.com https://dev.botframework.

[2017-06-14 04:08] prasanna-bigreco commented on #2712
I am facing same issue with NodeJS Bot framework. Is there any update on this?

I simply copied this example code.

var msg = new builder.Message(session)
                    .text("Thank you for expressing interest in our premium golf shirt! What color of shirt would you like?")
                    .suggestedActions(
                    builder.SuggestedActions.create(
                        ses

[2017-06-14 04:09] rysbilinski commented on #1531
We also require the ability to register bots programmatically and configure their associated channels. Happy to go manual for the time being, however really need an expected timeline

[2017-06-14 04:26] jinot92 opened #2939 "[LUIS] Language understanding bot goes directly to default match - Bot Service"
I am using Bot service to build a language understanding bot. It worked fine for a few days, then suddenly the intent match directly goes to the default match bypassing all the other matches. I tried changing the code to the last stable version and even to the bare basic template provided.Still no use.

[2017-06-14 04:39] stevengum97 commented on #2939
Please post the SDK language and version and code you're currently using.

[2017-06-14 05:31] SGZP opened #2940 "[Question] How to access data from excel sheet for bot and display it in table format."
## System Information (Required)
* SDK Language: .NET/C#
* Development Environment: LOCALHOST

## Issue Description
I am using C# for bot development. How can I access excel sheet data (multiple sheets in table structured) and display that data to the bot according to some conditions i.e. How to apply where clause when accessing excel sheet?

[2017-06-14 06:17] radennis commented on #2880
Thank you for looking into it!

[2017-06-14 06:47] msBot1111 opened #2941 "[Question Bot C#]How to stop sending multiple messages in the beginning to activate itself"
I'm trying to activate the main root dialog on the conversation update method, my idea is to call main root dialog when the user opens the chat bot, something like proactive bot but not to send welcome message but to activate the root dialog. I've tried this, it works but it sends multiple times the same message to main root:
  IConversationUpdateActivity update = activity;

                using

[2017-06-14 08:05] ncomo11 opened #2942 "[Skype Mobile iOS] Signin Card's button is not responsive on Skype mobile app"
## System Information (Required)
* SDK Language: Node
* SDK Version: 3.8.3
* Development Environment: Bot Service

## Issue Description
SigninCard's  button has below issues on iOS skype bot :
1. Button text is different than what is set in iOS and MacOSX i.e. instead of 'Sign In' it appears as 'Connect'
2. Button click is not working. This issue is even in production environment and URL button is

[2017-06-14 08:17] garyfungwelab commented on #2880
I am doing like this:
[code]
and handle it manually:
[code]

[2017-06-14 08:30] jesusom commented on #2881
Hi Jason,
I send the path of my repository.
I have a method named "FillEntityNewBookFromLuis", If you comment you
reproduce the error

thanks in advance

https://github.com/jesusom/Developments

2017-06-13 17:21 GMT+02:00 Jason Sowers <notifications@github.com>:

[2017-06-14 08:35] nrobert commented on #2940
This question may be posted on StackOverflow instead of here. Moreover it's more related to accessing Excel Sheet in C# than to Bot Framework problematics

[2017-06-14 08:36] RaoVenka commented on #2925
using .NET

[2017-06-14 08:53] nrobert commented on #2941
Change the following line:
`if (update.MembersAdded.Any())`
to:
`if (update.MembersAdded.Any(o => o.Id == update.Recipient.Id))`

For more details, see @dandriscoll reply here: https://github.com/Microsoft/BotBuilder/issues/2093#issuecomment-274708994 :

[2017-06-14 11:03] Mikhail2k15 opened #2943 "[Localization] Wrong text encoding in Skype for Business Bot"
Any non-English text are wrong encoded.
Week ago the same code worked as expected.

## System Information (Required)
* SDK Language: C#>
* SDK Version: 3.8.1
* Development Environment: <AZURE_APP_SERVICE>

## Issue Description
any non-English text are wrong encoded.
Standard Bot Application Visual Studio Template.

## Steps to Reproduce
1. Create Bot using standard Bot Application Template
2. Use

[2017-06-14 11:12] #2856 closed

[2017-06-14 11:31] iudelsmann commented on #2932
Maybe what I'm trying to do is a little hackish, but inheritance will save me from replicating code. Thank you all.

[2017-06-14 11:31] iMicknl commented on #2942
Related to #2898. Can you please check which Skype version you are using?

[2017-06-14 11:37] msBot1111 commented on #2941
Yes but I still get two replays instead of one. Before I changed   if (update.MembersAdded.Any()) with
if (update.MembersAdded.Any(o => o.Id == update.Recipient.Id)) it was giving me 3 replays, and after I changed it I get 2 replays. Can be something because I push message to Luis Dialog, which is my root doalog, and the method is like these:
 [LuisIntent("MainMenu")]
        public async Task Mai

[2017-06-14 11:49] nrobert commented on #2941
This question should be on StackOverflow with more code details as it seems to be an error in your implementation, not a bug in the framework

[2017-06-14 13:04] shather opened #2944 "[Question] Initiating chat from Bot to user on Microsoft Teams"
## System Information (Required)
* SDK Language: C#
* SDK Version: 3.8.1.0
* Development Environment: LOCALHOST + ngrok

## Issue Description
When i'm trying to init conversation with user, im getting http 400 Bad Request: "Malformed tenant id"
I've read about https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-connector
and other issues i.e #2092
When i'm doing this for Skype

[2017-06-14 13:57] phillipeloher opened #2945 "[Slack] ConversationUpdate regression - change in workflow from Slack side"
Somewhere roughly between May 30th and June 1rst a regression got introduced in botservice for the Slack channel affecting conversationUpdate.  We are using Node.js as our interface into botservice.  Can reproduce on botbuilder@3.8.4.  My guess is that it's likely a change on the Slack side could have regressed the behavior but am not positive.

One common scenario is that we have a bot that stays

[2017-06-14 15:03] nrobert commented on #2843
I'm not sure that this is a bug.

In fact, the problem here is that you need to define `TermsAttribute` for the matching, `DescribeAttribue` is not used for this:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.bot.builder.formflow.termsattribute?view=botbuilder-3.8

If `Terms` are not set up, the code is automatically trying to generate some terms (see here in code: https://github.com/Micro

[2017-06-14 15:14] meganlcooper opened #2946 "[Question] How to avoid extra image space in MS Teams?"
## System Information (Required)
* SDK Language: <.NET/C#>

## Issue Description
I am using markdown to display a table of information in a note. The code works fine all except for the image I am displaying in my table. Is there a trick/easy way I can avoid this extra space in the markdown table. Below shows my code and what my bot is currently producing in teams. (It may be important to mention t

[2017-06-14 15:34] stelazh commented on #2341
can you please help me ...i regenerate another key ..and still i have this problem

[2017-06-14 15:36] meganlcooper commented on #2946
It's also important to mention that this issue occurs for all attempts to add an image in MS Teams, not just when its in a table

[2017-06-14 15:48] nwhitmont commented on #2898
iOS bug tracked via #2942 - closing

[2017-06-14 15:48] #2898 closed

[2017-06-14 16:05] stevengum97 commented on #2945
Reading the this [post](https://api.slack.com/changelog/2017-05-rethinking-channel-entrance-and-exit-events-and-messages) from Slack, it looks like they changed their events emitted on users entering channels so the Bot Connector might need to be updated.

It seems that depending on the team/channel size Slack will determine which activities to emit, [`message.channel_join`](https://api.slack.com/

[2017-06-14 16:14] #2890 closed

[2017-06-14 16:23] JasonSowers commented on #2881
@jesusom I'll take a look as soon as I can and will let you know what I find

[2017-06-14 16:31] nwhitmont commented on #2884
@tomoakley I setup a test bot that uses `replaceDialog()` as you described, but I'm unable to reproduce the error.

Here is a working example:
[code]

I'm closing this as no-repro. Reopen if you're still having issues.

[2017-06-14 16:31] #2884 closed

[2017-06-14 16:32] JasonSowers commented on #2941
This is basically the same thing @nrobert  already said, but this is the code I have been using to send welcome messages correctly:

[code]

[2017-06-14 17:24] eanders-MS commented on #2919
@msft-shahins, can you please have a look?

[2017-06-14 17:28] sowsan commented on #2919
I had submitted it in bot webchat as well : https://github.com/Microsoft/BotFramework-WebChat/issues/498

[2017-06-14 17:30] SheriEllisMSFT commented on #2917
@meganlcooper - Hi Megan! Sorry you're hitting a limitation. You might take a look at our[ Get-Started sample](https://github.com/OfficeDev/microsoft-teams-sample-get-started). It has sample code in both C# and Node which use OpenUrl in bot dialogs. Have you looked at the [BotBuilder reference about Hero cards vs. receipt cards](https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/card

[2017-06-14 17:46] nwhitmont commented on #2890
To view how different features will render in Kik and other channels, check out the Channel Inspector here: https://docs.botframework.com/en-us/channel-inspector/channels/Kik?f=Buttons&e=example1

[2017-06-14 17:52] JasonSowers commented on #2919
@sowsan I have been tinkering around with your code for the past 2 days.  I was able to get the card and the response to show up in both the webchat and the emulator channels.

 [The code can be found here](https://github.com/JasonSowers/Bot-troubleshooting)

I moved your code around but didn't really change much.  Do you have a use case for trying to handle conversationUpdates in a dialog rather

[2017-06-14 17:54] danmarshall commented on #2919
@JasonSowers can you try this on other channels to see if this is a universal or specific to webchat?

[2017-06-14 17:57] JasonSowers commented on #2919
@danmarshall Will do

[2017-06-14 17:57] sowsan commented on #2919
@JasonSowers thank you. Yes, I have the same issue with the ActivityType.Event. My bot has a functionality to send the proactive messages and I'm doing it today with the Azure fucntions to send the messages. In that case I send a adapative card to the user from the dialogue and I'm getting the same issue there too. So, I thought that if we can fix it in the dialogue then it will fix my other issue

[2017-06-14 17:58] sowsan commented on #2919
tested with bot emulator & web chat. Issue seen only with webchat

[2017-06-14 17:58] JasonSowers commented on #2919
@sowsan tested my modified code?  or the original?

[2017-06-14 17:59] danmarshall commented on #2919
Thanks @sowsan . Can you specify how you are using WebChat:
1. In the Bot Framework Dev Portal
2. In an Iframe from an Embed code from the Dev Portal
3. From your own deployment of the code from GitHub

[2017-06-14 18:00] sowsan commented on #2919
@dandriscoll , both 1&2

[2017-06-14 18:02] danmarshall commented on #2919
@sowsan can you provide your bot id ?

[2017-06-14 18:02] sowsan commented on #2919
@JasonSowers i was able to fix it by putting the code in the messagecontroller like you did, but in my case I have to execute it via the dialogue. Thanks again !

[2017-06-14 19:10] ejadib commented on #2764
Just for the record, this is also discussed at https://stackoverflow.com/questions/44552030/json-serializer-error-with-botframework-an-luis and https://stackoverflow.com/questions/44544059/problems-mapping-in-luis-entities-into-form-flow

[2017-06-14 19:12] garvitgupta543 commented on #576
can we send messages to user just by knowing their email address now?

[2017-06-14 21:28] craigjensen commented on #2945
This is a bug in our Slack channel.  We'll get a fix out asap

[2017-06-14 22:27] stevengum97 commented on #2846
@barrychc What's the name of your FB bot? Is it currently being hosted on this channel or any others?

[2017-06-14 23:14] #2928 closed

[2017-06-14 23:21] msmohan commented on #2940
@SGZP Please find an example code here

[**Excel Bot**](https://github.com/microsoftgraph/botframework-csharp-excelbot-rest-sample) is a sample that demonstrates how to use the Microsoft Graph and specifically the Excel REST API to access Excel workbooks stored in OneDrive for Business through a conversational user interface. It is written in C# and it uses the Microsoft Bot Framework and the Lang

[2017-06-14 23:21] #2940 closed

[2017-06-14 23:28] stevengum97 commented on #2823
@xitij May I ask what the context of what you're trying to have recognized by LUIS? LUIS is for parsing utterances and not really suited for tasks like document scanning (or scanning other large bodies of text)

[2017-06-14 23:42] craigjensen commented on #2945
The fix has been deployed.  Please reopen if you are still experiencing the issue.

[2017-06-14 23:42] #2945 closed

[2017-06-15 00:13] nwhitmont commented on #2945
Thank you @craigjensen

[2017-06-15 00:14] xitij commented on #2823
I'm using it to parse utterances. This specific case I was hitting was Facebook where my users are typing an email length message to the bot (probably not using that it's a bot and thinking it goes to messenger got a human to read). At that point I wanted to catch the errors and say something like:
[code]

Or something along those lines.

[2017-06-15 00:18] martabrzeszczyk commented on #37
Similar issue about userName translation. Currently it seems to be hardcoded to "You".
` var model = {
 ...
  "userName": "You",
...
};
`
Would it be possible to translate it?

[2017-06-15 03:06] phillipeloher commented on #2945
Fast work, appears fixed.  You guys rock - thank you.

[2017-06-15 05:06] neetgupta7 opened #2947 "[Question] Prompt Dialog Not Showing Up in Skype"
Hello
I am making use of PromptDialogs for Confirmation and Choices. While these work fine on emulator and web chat but when I use them on Skype (for personal use on web or ios app) buttons for confirmation and choices do not work. Can somebody please help.
![skype](https://user-images.githubusercontent.com/28854156/27166149-6ad06a50-51b6-11e7-9ce6-6372be5a49e8.PNG)
![web chat screenshot](https://

[2017-06-15 06:40] chenguyuan commented on #2916
Hi Team,
I am facing the same problem here, do we have an resolution for this issue?

Thank you!
Guyuan

[2017-06-15 07:35] CLOUD9111 commented on #1495
Still no solution for this? If the Facebook's access token expires the bot stops completely until I manually access the bot framework site and enter the new access token by hand, this is hugely uneffecient and time consuming and the only way of solving this is to provide an API for people to update the bot's info or remove the pageid/access token entirely from FB bot requirement, I don't know the

[2017-06-15 07:59] CLOUD9111 opened #2948 "[Feature Request] An issue regarding Facebook Expired Access Tokens and Page Linking."
Hello, There is an issue when in some cases the Facebook access token expires when the page owner change their password or in some cases without any real reason, the bot stops when this happens and there's no way to fix this but to manually enter the new access token by hand in the Bot Framework site, this is a huge waste of time since I have a script that checks for invalid access tokens and if t

[2017-06-15 08:16] jesusom commented on #2881
thanks Jason

[2017-06-15 08:37] asubbotin opened #2949 "[Question] Unable to edit channel settings in Bot Portal"
Hello,

I can't edit my channel settings in bot. The buttons "Save", "Delete Channel" is disabled http://clip2net.com/s/3LkNRQB
![94cfc-clip-75kb](https://user-images.githubusercontent.com/3075047/27187405-fde51366-519f-11e7-9b3e-7ca0a951b8aa.png)

Can you explain why?

Thanks.

[2017-06-15 09:42] nrobert opened #2950 "[Question] Inconsistency in Activity.Id values on Facebook channel for callback messages"
## System Information
* SDK Language: C#
* SDK Version:  Microsoft.Bot.Builder 3.8.1
* Development Environment: Localhost.

Problem is happening for bots deployed on Facebook Messenger channel.

## Issue Description
_The problem here is probably on the non open-source part of the Bot Framework._

There is an inconsistency on the way `Activity.Id` values are managed in Facebook Channel.

- On 'norm

[2017-06-15 11:34] jesusom commented on #2881
I'm doing tests, and the enumerable type fields do not ask me again, however the date type fields, and numeric type if I ask again when in the entity are already stuffed

[2017-06-15 13:35] RaoVenka opened #2951 "[Question] Adaptive cards in carousel with Button"
Is it supporting the carousel cards(Adaptive-Cards with Form Flow or Adaptive-Cards with Dailogs ) with button in  Adaptive cards?. It is possible could you please provide some samples for this.

[2017-06-15 13:40] nrobert commented on #2947
Can you add more code details of your implementation (or maybe switch to StackOverflow and add all them there)?

I don't have problems on PromptDialog.Choice in a basic case on Skype:

[code]

Output is looking like that:
<img width="798" alt="capture d ecran 2017-06-15 a 15 40 04" src="https://user-images.githubusercontent.com/6305666/27183993-ef383316-51e0-11e7-9a9f-19bd0c4c6c31.png">

[2017-06-15 13:46] vianasw opened #2952 "[Localization] Wrong title for confirm button in Spanish"
## System Information (Required)
* SDK Language: NODE
* SDK Version: 3.8.3
* Development Environment: OTHER
## Issue Description
Prompt.confirm with listStyle BotBuilder.ListStyle.button is returning through directline v3 buttons with titles "si" and "no". It should be "sí" with an accent in the letter i.

## Code Example
[code]

## Expected Behavior
I would expect that this would result in an act

[2017-06-15 14:47] nwhitmont commented on #2947
@neetgupta7 Are you using .NET or Node SDK? Can you share the code that is causing the issue?

[2017-06-15 15:12] nwhitmont commented on #2927
The Bot Framework requires that the x.509v3 certificate exposed by your endpoint be current and valid. Most of the checks for "current and valid" are standard checks for server certs: the CN must match the hostname, it must not be expired, it must not be listed in a CRL, it must have the correct set of EKUs, etc.

Most importantly, your cert must chain to a root certificate authority trusted by Mi

[2017-06-15 15:32] #2927 closed

[2017-06-15 15:40] nrobert commented on #2944
As described in MS Teams MSDN, you need to provide a tenant to create a 1:1 conversation.

You can use the Nuget package `Microsoft.Bot.Connector.Teams` ([here](https://www.nuget.org/packages/Microsoft.Bot.Connector.Teams)) and use the following method (quite similar as the one already used):
`connector.Conversations.CreateOrGetDirectConversation(channelFrom, channelTo, "yourTenantIdHere");`

In f

[2017-06-15 16:04] Priyanka4 opened #2954 "[Question] "Darn – that slash command didn't work" (error message: `500_service_error`) on Slack"
I'm getting this error: Darn – that slash command didn't work (error message: `500_service_error`)when i try to use slash command in slack.

## Expected Behavior
it should return some values upon entering slash command.

[2017-06-15 16:06] stevengum97 commented on #2954
Can you provide the SDK language and version that you are using? Can you also provide your code and what you are typing when you receive this error?

[2017-06-15 16:09] Priyanka4 commented on #2954
Script is in Ruby
i'm using /jiraget issue key when i get this error

[2017-06-15 16:09] Priyanka4 commented on #2954
require 'json'
require 'sinatra'

Dir["#{__dir__}/lib/*.rb"].each { |file| load file }

not_found do
  status 404
  'Seems like you are lost'
end

get '/' do
  status 200
  'Running OK'
end

post '/jira' do
  content_type 'application/json'
  return 401 unless request[:token] == ENV['SLACK_TOKEN']
  status 200
  text = request[:text].strip
  channel = request[:channel_name]
  if text.empty?
    {t

[2017-06-15 16:10] Priyanka4 commented on #2954
i'm using this for Slack-Jira integration so fetch issue details upon request

[2017-06-15 16:14] nwhitmont commented on #2949
@asubbotin The "Save" button only becomes active after all the required form fields are populated. Its a form of input validation.

[2017-06-15 16:18] stevengum97 commented on #2951
To answer your question, here's a [sample ](https://github.com/Microsoft/AdaptiveCards/blob/a91c425a89784130f8e9603762574737d145977c/samples/Integrated/BotFrameworkCarousel.json) from the [AdaptiveCards repo](https://github.com/Microsoft/AdaptiveCards). That said, its availability depends on the channel you are using as some channels are not completely supported.

[2017-06-15 16:29] #2923 closed

[2017-06-15 16:34] asubbotin commented on #2949
@nwhitmont All form fields are populated, they are simply сolored for safety reasons.

[2017-06-15 16:35] nwhitmont commented on #2954
@Priyanka4 This forum is for support questions about the BotBuilder SDK for .NET or Node.js -- Ruby is not currently a supported language.

[2017-06-15 16:37] #2954 closed

[2017-06-15 16:44] nwhitmont commented on #2949
@asubbotin I'm unable to reproduce the error.  When I entered data in all the form fields for the FB channel config, the "Save" button was active (blue) and I was able to click & submit the form. (Form submission failed of course since this is fake input data.
![fb channel config](https://user-images.githubusercontent.com/3075047/27192167-2d86529c-51af-11e7-859b-4d330298933c.png)

Maybe try loggin

[2017-06-15 16:58] neetgupta7 commented on #2947
Thanks for your replies. I used Prompt styler as Keyboard instead of auto and that's why it was not working as expected. After making it auto it worked on. BTW I am using .net. Not sure what should be done separately for Keyboard styler.

[2017-06-15 18:04] #2947 closed

[2017-06-15 18:06] EricDahlvang commented on #2825
I'm closing this issue due to lack of activity.

If you're still having trouble with the Direct Line @JajatiMohanta , please post your question on Stack Overflow so the entire community can benefit.

[2017-06-15 18:06] #2825 closed

[2017-06-15 18:20] msmohan commented on #1498
Hello @kbrimble I will close this thread for now. if you still face the same issue, please create a new issue thread with new details.

[2017-06-15 18:24] JasonSowers commented on #2911
@jrmcdona have you found a solution for this?

[2017-06-15 18:38] meganlcooper opened #2955 "[Question] Change string color in MS Teams?"
Is there a way to change the color of a string that's shown in ms teams? How about the text inside a stringbuilder?

[2017-06-15 19:06] jrmcdona commented on #2911
I tried using ActivityTypes.ConversationUpdate and was able to override it.   However, the message comes twice.  It comes once from the bot and once from the user.  I only want the bot to send it as the very first session start.  So I didn't quite get it going but somewhat closer.

[2017-06-15 19:07] msmohan commented on #1498
@kbrimble
Can you please share your version of code, I will retry it again.

[2017-06-15 19:51] jeffhee opened #2956 "[Twilio SMS] Error: "Activity dropped because this channel is not enabled for this bot" when channel is configured"
## System Information (Required)
* SDK Language: NODE.JS
* SDK Version: 3.7.0
* Development Environment: AZURE_APP_SERVICE

## Issue Description
The bot responds on FB Messenger and Web. When attempting to communicate through Twilio, the warning "Activity dropped because this channel is not enabled for this bot" is displayed. I tried removing the Twilio channel and re-adding it without success.

T

[2017-06-15 20:05] SheriEllisMSFT commented on #2938
@mobilebilly  - Hi and thanks for using Teams. I'm a little confused - is this a bot or connector? I thought you said it was a bot and you have registered on the bot framework. If it's a connector, you need to register it on the [Dev portal - here are the instructions](https://msdn.microsoft.com/en-us/microsoft-teams/connectors). And then to sideload it into Teams, you need a manifest.json file. H

[2017-06-15 20:07] nwhitmont commented on #2956
@jeffhee for reference, what is the bot name, bot handle and App ID as registered in bot portal at https://botframework.com?

[2017-06-15 20:09] jeffhee commented on #2956
bot name is public-bot
app id is 3ecbd65f-f14d-412a-8126-3ba694ebd9d4

[2017-06-15 20:10] jeffhee commented on #2956
the bot is live with users so we can't update it immediately.

[2017-06-15 20:14] nwhitmont commented on #2956
I can see that the bot settings were updated at 12:42 and the enabled flag for Twilio channel is now set.  Are you still experiencing the error?

[2017-06-15 20:14] JasonSowers commented on #2911
@jrmcdona look at the code I posted.  In the for each loop, it stops the message from coming twice.  It calls out the user ID specifically so you don't get the second message from the bot.  Can you please post you code from the message controller so I can take a look friend?

[2017-06-15 20:24] jeffhee commented on #2956
It works! Thanks! Any explanation for why it took so long for it to be enabled?

[2017-06-15 21:16] ejadib commented on #2764
I just completed the work to add support for the new entity. Tomorrow I will create a PR for this.

[2017-06-15 21:20] nwhitmont commented on #2956
Not exactly sure, seems like a random glitch.  Thanks for reporting & Glad it's working again!

[2017-06-15 21:20] #2956 closed

[2017-06-15 21:52] riteshbhoi opened #2958 "[Question] Getting exact source accessing Bot Web API"
System Information
* SDK Language: <NET/C#>
* SDK Version: <3.8.1.0>
* Development Environment: <AZURE_APP_SERVICE>

I am using Microsoft BOT Builder to create BOT using C#. I have created by Web API and hosted in Azure. I have enabled Microsoft Teams channel for my BOT.

When i try to access my BOT in teams, my Web API gets web requests from a synthetic traffic and that provides incorrect informa

[2017-06-15 22:41] nwhitmont commented on #2958
@riteshbhoi You can get more detailed information by setting up App Insights in your Azure instance, then register your App Insights ID & Key in the bot portal at https://botframework.com in the Settings page.

For more information about configuring App Insights for Bot Framework, see:
https://docs.microsoft.com/en-us/bot-framework/resources-app-insights-keys

[2017-06-15 22:45] nwhitmont commented on #2958
Relates to: https://stackoverflow.com/questions/44577453/incorrect-information-from-source-hitting-bot-web-api

[2017-06-15 23:12] nwhitmont commented on #2937
tracking internally

[2017-06-15 23:12] #2937 closed

[2017-06-15 23:21] riteshbhoi commented on #2958
@nwhitmont I am setting up my own Application Insights for the BOT Web API as i want to capture few more telemetry information. Please let me know if there is any way I can resolve above mentioned issue?

[2017-06-15 23:41] nwhitmont commented on #2958
@riteshbhoi You would need to examine the access logs in your Azure subscription.

[2017-06-16 01:11] jrmcdona commented on #2911
Oh cool! It works well in the bot emulator.  Back when I first tried I wasn't aware of the emulator and tried throug the SWC so it might not be supported there yet.

My next task is to try and send an AdaptiveCard instead of just sending a string of text in this welcome message.   Have you any sample code doing that?    Thanks for your help!

[2017-06-16 01:18] #2958 closed

[2017-06-16 02:29] andy51002000 opened #2959 "[Cortana] SignCard doesn't work with Cortana, but fine with skype"
## System Information (Required)
* SDK Language: C#
* SDK Version: Bot Builder 3.8
* Development Environment: <LOCALHOST with Full IIS>

## Issue Description
My connection button inside the sign-in card disappears when works with Cortana, but Skype is fine.

## Code Example
[code]

## Steps to Reproduce
1. invoke cortana skill
2. Appear sign-in card without connection button

## Actual Results
fai

[2017-06-16 05:25] dalekunce commented on #2091
any update on this feature? cc @Stevenic

[2017-06-16 06:02] hemant026 opened #2960 "[Question] AuthBot Integration With LUIS Dialog C#.Net"
I am trying to integrate Authbot with LUIS, but i am not able to get to the LUIS dialog once my Authentication is done.

As i have embedded my chat window in my Web Application, that is already authenticated. Can i make some webapi call to get the Authtoken. So that i can not use AuthBot to get the authentication token.

[2017-06-16 06:04] asubbotin commented on #2949
@nwhitmont I cleared the cache and works now.

Thanks!

[2017-06-16 06:40] mobilebilly commented on #2938
Hi @SheriEllisMSFT, thanks for your reply. Yes it is a bot (hosted on my local machine), what I did is enable "Microsoft Teams" at the "Connect to channels" section. If it is a bot, do I need to create any connector and/or prepare any manifest files?

![001](https://user-images.githubusercontent.com/795601/27214496-68fc39b8-529f-11e7-9b0f-88bfea78d918.png)
![002](https://user-images.githubusercont

[2017-06-16 08:10] aakashkag commented on #2741
yes exactly . btw thanks so much

[2017-06-16 08:18] aakashkag commented on #2912
thank u soo much .it's working for me :)

[2017-06-16 08:52] hemant026 opened #2961 "[Question] User Data is not accessible in MessageController"
I am not able to access UserData saved in one of my Dialog on Message Controller.
Below is the Code  from one of the Dialog.
[code]

And this is the code that i wrote in my MessageControler.
[code]

By this i am trying to make a switch between Auth Dialog and LUIS Dialog.

Any help is greatly appreciated.

[2017-06-16 09:03] CLOUD9111 commented on #2948
Will someone from Microsoft please provide any aid!

[2017-06-16 09:36] Nostreum opened #2962 "[Question] How to deploy botframework on an intranet ?"
Hi !

Currently, i've a client accessing the bot framework using directline. So, the bot framework is deployed in Azure. What i want to do is "disconnect" the bot framework from Azure and deploy it locally, on an intranet.  Just for security reason. How can i do that ?

Thanks.

[2017-06-16 09:40] RaoVenka opened #2963 "[Question] How to intercept HeroCard button events?"
could please help me how to call a method from hero card button click in c# using Microsoft bot Framework.

[2017-06-16 09:58] michaelhutchful commented on #2963
You can use a button.action post back to send a particular string. After you send this string, listen out for it to call the method. I am not sure if anyone has a more elegant solution

Regards Michael Hutchful

Sent from Mail for Windows 10

From: RaoVenka
Sent: 16 June 2017 09:40
To: Microsoft/BotBuilder
Cc: Subscribed
Subject: [Microsoft/BotBuilder] HeroCard Button (#2963)

could please help me

[2017-06-16 12:22] greuze commented on #2952
Same issue here, it would be nice if the framework would recognize several variations of `yes`: `yep`, `yeah`, `y`, and in Spanish too: `sí`, `si`, `sip`, `s`.

[2017-06-16 12:45] AdrienHt commented on #2763
Still have the same error for me

[2017-06-16 13:18] chetanmekha commented on #2835
@meganlcooper  I achieved it using below implementation, It will save someone time.
`var msg = new builder.Message(session);
        msg.sourceEvent({
            "facebook": {
                "attachment": {
                    "type": "template",
                    "payload": {
                        "template_type": "button",
                        "text": "What do you want to do next?",

[2017-06-16 13:22] chetanmekha commented on #2835
@meganlcooper  I achieved it using below code, It will save someones valuable time.
`var msg = new builder.Message(session);
        msg.sourceEvent({
            "facebook": {
                "attachment": {
                    "type": "template",
                    "payload": {
                        "template_type": "button",
                        "text": "What do you want to do next?",

[2017-06-16 13:22] #2835 closed

[2017-06-16 13:27] ancashoria opened #2965 "[Direct Line] Unable to add channel to my bot"
## System Information (Required)
* SDK Language: NODE
* SDK Version: 3.7
* Development Environment: LOCALHOST

I am unable to configure Direct Line channel from the botframework portal.

## Steps to Reproduce
1. Create a bot
2. Click on Add Channel -> Direct Line
3. Add a site and click done to save it

## Expected Behavior
Channel is added to the bot

## Actual Results
The error I get is:
<img wi

[2017-06-16 14:20] RaoVenka commented on #2963
Could pls provide some sample code in C# regarding above?

[2017-06-16 15:18] nwhitmont commented on #2965
@ancashoria We are experiencing a problem with the Direct Line channel configuration page in the bot portal at https://botframework.com

We are actively working to fix the issue.

[2017-06-16 15:33] nwhitmont commented on #2962
The Bot Framework works with bots deployed on any cloud hosting service, as long as you have an internet-accessible endpoint and a valid HTTPS cert.

The Bot Framework requires that the x.509v3 certificate exposed by your endpoint be current and valid. Most of the checks for "current and valid" are standard checks for server certs: the CN must match the hostname, it must not be expired, it must no

[2017-06-16 15:49] nwhitmont commented on #2963
@RaoVenka For more information, see: [Process events within rich cards](https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-add-rich-card-attachments#process-events-within-rich-cards)

This code example shows how to create a reply message that contains three Hero cards rendered in carousel format:
[code]

[2017-06-16 16:05] #2963 closed

[2017-06-16 16:33] JasonSowers commented on #2911
@jrmcdona I am happy to help you with adaptive cards but, do you mind starting a new Stack Overflow question or GitHub issue for this?  It doesn't exactly belong in this Issue  I have an answer in the form of a code snippet waiting for you.  Let me know when you have a new post going.

[2017-06-16 17:22] jrmcdona commented on #2911
Thanks @JasonSowers  I have closed this thread and started one on SO.

https://stackoverflow.com/questions/44594820/sending-an-adaptive-card-on-bot-startup-as-the-welcome-message

[2017-06-16 17:52] iMicknl commented on #2959
When using a SignIn card on Cortana, you need to add the 'redirect_uri' query string parameter.
https://docs.microsoft.com/en-us/cortana/tutorials/bot-skills/bot-skill-auth

I added `&redirect_uri=http://bing.com/agents/oauth'` to my SignIn Card and it works perfectly. I am not using the redirect uri value in my OAuth login flow, but just adding it to the URL is enough to get the card working in C

[2017-06-16 18:04] #2949 closed

[2017-06-16 18:08] SheriEllisMSFT commented on #2955
@meganlcooper Hi Megan,
What type of object are you hoping to colorize? You can set the optional TextFormat property to control how your message's text content will be rendered. Here's some more info about [activities, cards and actions](https://msdn.microsoft.com/en-us/microsoft-teams/botsmessages). Does that answer your question? Please post again if not!

[2017-06-16 19:11] msmohan commented on #2961
@hemant026 Please share your code somewhere., I will look into it.

[2017-06-16 20:24] salmaanrizvi commented on #2712
Having the same issue as @prasanna-bigreco with suggested actions not displaying in skype.

[2017-06-16 21:03] kumarss20 opened #2966 "[Skype for Business] Couldn't add skype for business channel to my bot"
## System Information (Required)
* SDK Language: NODE
* SDK Version: v3.7.0
* Development Environment:  AZURE_APP_SERVICE

## Issue Description
When i try to added the Skype for Business channel to my Bot in https://dev.botframework.com/bots?id=MT_BOT site , The website throws an exception

<img width="951" alt="capture" src="https://user-images.githubusercontent.com/29410887/27244517-c5b37a76-529

[2017-06-16 21:09] projomni commented on #1465
me too.  my bot has been approved but replies only to me (i'm the admin).  how do you resolve this?

[2017-06-16 21:21] stevengum97 commented on #2966
Hi @kumarss20 this issue is currently being investigated by the dev team, we'll provide updates when possible.

[2017-06-16 22:13] nwhitmont commented on #2951
@RaoVenka Are you using .NET or Node SDK?

[2017-06-16 22:31] stevengum97 commented on #2910
Closing issue due to inactivity. If you are still having the issue, please feel free to leave a message here or post a question on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

[2017-06-16 22:31] #2910 closed

[2017-06-16 22:47] JasonSowers commented on #2930
@andy51002000 did you resolve this or is it still an issue?  Also, have you tried adding application insights to get more information?

[2017-06-16 22:48] JasonSowers commented on #2914
What is your use case here?  what are you trying to accomplish?

[2017-06-16 22:52] #2913 closed

[2017-06-16 23:32] nwhitmont commented on #2952
@vianasw can you post your code for the Hero Card?

[2017-06-16 23:36] eanders-MS commented on #1983
A user posted a workaround here: https://github.com/Microsoft/BotBuilder/issues/2347

[2017-06-17 00:19] stevengum97 commented on #2966
The fix has been deployed so I'm closing this issue. If there are any comments or concerns about the issue, please feel free to discuss it here.

[2017-06-17 00:19] #2966 closed

[2017-06-17 01:36] nwhitmont commented on #2965
The issue has been resolved.

[2017-06-17 01:36] #2965 closed

[2017-06-17 01:39] nwhitmont commented on #2952
Upon further review, it looks like there is a typo in the Spanish localization default phrases where "sí" is listed as "si" (incorrect).

I'll put together a PR with a fix.

[2017-06-17 07:44] bhushanvadgave opened #2968 "[Question] privateConversationData fields getting overwritten/replaced when conversation is started with 2 concurrent messages"
## System Information (Required)
* SDK Language: NodeJS 7.10
* SDK Version: Bot Builder 3.7
* Development Environment: Bot running locally but accessed by Webchat (through DirectLineJS) over internet through ngrok

## Issue Description
Writing data into privateConversationData not getting saved and accessible to next message dialogs.

## Steps to Reproduce
1. Send 2 messages (concurrently) from we

[2017-06-17 07:45] bhushanvadgave opened #2969 "[Question] privateConversationData getting overwritten when 2 concurrent messages are sent at the start of the conversation."
## System Information (Required)
* SDK Language: NodeJS 7.10
* SDK Version: Bot Builder 3.7
* Development Environment: Bot running locally but accessed by Webchat (through DirectLineJS) over internet through ngrok

## Issue Description
Writing data into privateConversationData not getting saved and accessible to next message dialogs.

## Steps to Reproduce
1. Send 2 messages (concurrently) from we

[2017-06-17 09:52] ancashoria commented on #2965
Thank you very much.

[2017-06-17 10:52] RaoVenka opened #2970 "[Question] Saving Chat History in Microsoft Bot Framework"
How can i save the chat history in microsoft bot framework using c# ?Could you  provide some samples too.

[2017-06-17 10:54] RaoVenka opened #2971 "Broadcasting message to user through the chatbot using bot framework"
Could you pls let me know how to implement Broadcasting message to user through the chatbot using bot framework.? Could you  provide some samples too.

[2017-06-17 10:56] RaoVenka opened #2972 "[Question] Authentication through bot framework"
How to do authentication through Microsoft bot framework.Could please provide some samples too.

[2017-06-17 12:22] lornatumuhairwe commented on #1465
@projomni , you need to make the bot public. Go to your dashboard, under app review, you'll see the option of making the bot public. Check, this https://developers.facebook.com/docs/messenger-platform/product-overview/launch#app_public

[2017-06-17 12:47] projomni commented on #1465
I've done this before, but I still cannot use the bot outside my test
account.

On Sat, Jun 17, 2017 at 5:22 AM, Lorna Tumuhairwe <notifications@github.com>
wrote:

[2017-06-17 23:01] sogeg commented on #2575
@EricDahlvang Thanks!
MicrosoftAppCredentials.TrustServiceUrl(serviceUrl);
That seems to work. I have no issue after 48 hours after the first message.

[2017-06-17 23:01] #2575 closed

[2017-06-18 11:07] hemant026 commented on #2961
@msmohan, Thanks for the quick response Mohan. Actually i can't share the repository as it is not allowed. But i have pasted the code above. Here i am setting the UserData in 'ProcessAuthResultAsync' and try to access in message controller at later stage.

[2017-06-18 16:49] fujiy commented on #2615
@EricDahlvang it happens with the sample https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-proactiveMessages/simpleSendMessage when called by Microsoft Teams

I just had to comment the line [BotAuthentication] in MessagesController.cs
I believe this is due to activity.Recipient been null.

[2017-06-18 17:56] michaelvol commented on #2905
Maybe you can use session.dialogStack() ?

[2017-06-18 19:01] aakashkag opened #2973 "[Question] how to start new proactive conversation dialog without ending to current ongoing dialog"
SDK Language:
SDK Version: <3.6>
Development Environment:
Node.js + npm version
6.9.5 + 4.5.0

## Issue Description
Let's say user is currently doing conversation with bot, In between we want to send some survey to user through proactive message (bot to user). After feeling survey user should get back the old conversation state,from which point he started survey.

Or In simple work how to start ne

[2017-06-18 23:45] tomoakley opened #2974 "[Question] ES6 default import of builder not working in 3.8.4"
## System Information (Required)
* SDK Language: Node
* SDK Version: 3.8.4
* Development Environment: Digital Ocean droplet, Ubuntu 16.04

## Issue Description
I'm using an ES6 import to require the builder and some botbuilder imports, like this:

This worked perfectly in 3.5.4, however since upgrading to 3.8.4, I get error messages saying `TypeError: Cannot read property 'CardAction' of undefined

[2017-06-18 23:49] tomoakley commented on #2884
Hi @nwhitmont, I think my issue was due to interrupting an already running session - typing reset into the input appears to fix the issue. (reset is handled by `bot.use(builder.Middleware.dialogVersion({ version: 1.0, resetCommand: /^reset/i }));` Thanks, and sorry for my unresponsiveness! Will do better in future.

[2017-06-19 04:14] nupurkamble opened #2975 "[Question] Can a bot take a parameter from website it is deployed on?"
I have developed a bot using C# and deployed it using direct line api. I am trying to find a way for the bot to receive a parameter from the website when it initially loads. I want the same bot to work on different websites and want the bot to recognize the website using this parameter sent by the website to the bot and then act according to that website.

[2017-06-19 05:04] hemant026 commented on #2960
Closing this issue, as i have integrated Atuhbot with LUIS successfully

[2017-06-19 05:04] #2960 closed

[2017-06-19 06:28] neetgupta7 opened #2976 "[Question] Trigger c# Function on click of Hero Card Button"
Hello
I want to trigger a C# function on click of button on Hero Card (or any other rich card). While I have read many blogs about the same not many explain how to do it. Can someone please explain and also provide the code snippet for C#.
Thanks in advance.

[2017-06-19 07:21] saileshcts commented on #2910
Thanks!
Sorry for the delay in responding as I was away. I'm not using `recognizer.recognize()` as suggested by @stevengum97 and it seems to work now. Thanks again!

[2017-06-19 07:34] michaelvol commented on #2968
Hey @bhushanvadgave, could be the same issue (https://github.com/Microsoft/BotBuilder/issues/2103) we had a couple of months back?
We implemented queuing and it works fine.

[2017-06-19 08:21] shather commented on #2944
Thanks for your response @nrobert , with that package and your code, it works!

[2017-06-19 08:21] #2944 closed

[2017-06-19 08:51] greuze opened #2977 "[Question] Some emojis are not working as true/false values"
## System Information (Required)
* SDK Language: NODE
* SDK Version: 3.8.3
* Development Environment: LOCALHOST

## Issue Description
In a confirm prompt, some different values can be recognized as `true` or `false`, including [some unicode emijis](https://github.com/Microsoft/BotBuilder/blob/master/Node/core/lib/locale/es/BotBuilder.json#L13). From this 5 unicode characters (\u1F44D,\u1F44C,\u1F4

[2017-06-19 09:15] macrozone commented on #2974
same problem here, seems to have stopped working

[2017-06-19 09:37] UsamaAslam commented on #8
hello ..
i create my bot using bot builder framework in asp.net .Bot work fine in emulator but give me error when i try to connect it with skype ...

"Your bot did not respond to our Ping request with a success code. Please verify your bot is running and responsive before Publishing your bot. The error received from your bot was: Unauthorized(401), BotAuthenticator failed to authenticate incoming

[2017-06-19 09:37] UsamaAslam commented on #653
i create my bot using bot builder framework in asp.net .Bot work fine in emulator but give me error when i try to connect it with skype ...

"Your bot did not respond to our Ping request with a success code. Please verify your bot is running and responsive before Publishing your bot. The error received from your bot was: Unauthorized(401), BotAuthenticator failed to authenticate incoming request!"

[2017-06-19 10:29] StingyJack commented on #653
@UsamaAslam - You should check existing issues for "401" errors or open a new issue for that. This thread is for 500 errors.

[2017-06-19 10:34] UsamaAslam commented on #653
@stingyJack - sorry to disturb you but i already open new thread and i receive no response so that is why i post here . if you know any thing please inform me i will be very thankful to you

[2017-06-19 10:35] UsamaAslam opened #2979 "[Skype] I am trying to publish my demo bot to Skype Channel, by I am getting an error:"
i create my bot using bot builder framework in asp.net .Bot work fine in emulator but give me error when i try to publish it with Skype ...

"Your bot did not respond to our Ping request with a success code. Please verify your bot is running and responsive before Publishing your bot. The error received from your bot was: Unauthorized(401), BotAuthenticator failed to authenticate incoming request!"

[2017-06-19 10:48] UsamaAslam commented on #8
I am tring to connect my demo bot to skype Channel, by I am getting an error:

i create my bot using bot builder framework in asp.net .Bot work fine in emulator but give me error when i try to connect it with Skype ...

"Your bot did not respond to our Ping request with a success code. Please verify your bot is running and responsive before Publishing your bot. The error received from your bot was

[2017-06-19 10:48] StingyJack commented on #653
@usamaalam - If none of the existing **closed**  "401" issues matched your problem (not likely - a similar error message present is in several), you will just have to wait for the maintainer of this module to reply back.

[2017-06-19 11:08] tomorgan opened #2980 "[Question] MP4 video as attachment not showing in Microsoft Teams"
## System Information (Required)
* SDK Language: C#
* SDK Version: v4.0.30319
* Development Environment: Azure App Service

## Issue Description
I've created ThumbnailCard with a single Attachment. The attachment links to a MP4 video, using the ContentType 'video/mp4'. I've tested in the Dashboard testing web-embed, and the video renders nicely. However, when deployed to Microsoft Teams the entire

[2017-06-19 11:15] stelazh commented on #127
i have the some question , but my bot is in C# languages ...can you help me please how to interact two luis dialog with each other.

I want to start conversation in facebook messenger with my bot ...when the facebook language is in english ...when user click on : Get Started ..the message comes from LuisEn.cs
when user type : bonjour or salut or french the bot should response in french ( so i need

[2017-06-19 11:54] tomorgan commented on #2970
You can implement this yourself. When the Post method is called (everytime a user sends something to your bot) you can take the text that the user typed and store it:

 if (activity.Type == ActivityTypes.Message)
            {
                var messageFromUser = activity.Text;
}

You can do this any number of ways in C#, like writing that message to a database or other store. You might also capt

[2017-06-19 13:14] kosalanuwan commented on #411
See if this helps you. May be now it's too late. While doing I have noticed there's not much of a difference between the Node version and the TS version.

[Bot Builder TypeScript Examples](https://github.com/alertbox/bot-examples-ts)

[2017-06-19 13:32] AmitavaSinha opened #2981 "[Question] Idialog Choice not giving an option to select multiple Buttons at the same time"
## System Information (Required)
* SDK Language: C#
* SDK Version: 3.5
* Development Environment:  Bot Framework, Direct Line

## Issue Description
Multiple Selection is not happening in Bot PromptDialog Choice

## Code Example
From MessageController
await Conversation.SendAsync(activity, () => new RootDialog());

RootDialog.cs

1. public virtual async Task MessageReceivedAsync(IDialogContext cont

[2017-06-19 14:47] nwhitmont commented on #2969
duplicate of #2968?

[2017-06-19 14:49] nwhitmont commented on #2971
@RaoVenka Are you using .NET or Node SDK?

[2017-06-19 14:50] nwhitmont commented on #2972
@RaoVenka are you using .NET or Node SDK?

[2017-06-19 14:51] tomoakley commented on #2974
Confirmed, 3.7.0 works as expected, thanks @macrozone.

[2017-06-19 14:51] nwhitmont commented on #2973
@aakashkag Are you using .NET or Node SDK?

[2017-06-19 14:55] nwhitmont commented on #2974
Use `const builder = require('botbuilder');` instead of `import`.

[2017-06-19 15:00] nwhitmont commented on #2977
known issue

[2017-06-19 15:03] nwhitmont commented on #2979
@UsamaAslam Did you register your bot with App ID and password in the Bot Portal at: https://botframework.com?  If so, what is your bot name, bot handle, and Microsoft App ID?

[2017-06-19 15:06] nwhitmont commented on #2981
not a feature

[2017-06-19 15:09] #2981 closed

[2017-06-19 15:11] bhushanvadgave commented on #2969
Sorry. Issue got posted twice. Closing this issue.

[2017-06-19 15:11] #2969 closed

[2017-06-19 15:22] nwhitmont commented on #2980
@tomorgan Thanks for reporting.  Unfortunately MS Teams does not support video card just yet.

[2017-06-19 15:22] #2980 closed

[2017-06-19 15:24] bhushanvadgave commented on #2968
@michaelvol I tried with BotBuilder 3.7 and 3.8 versions. Still facing this issue.

[2017-06-19 15:29] nwhitmont commented on #2976
@neetgupta7 for more information, see:
https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-add-rich-card-attachments#process-events-within-rich-cards

Here's an example Hero Card with "Card Actions":
[code]

[2017-06-19 15:29] #2976 closed

[2017-06-19 15:31] nwhitmont commented on #2974
Contributions welcome! Feel free to submit a pull request which includes the desired functionality.

[2017-06-19 15:31] #2974 closed

[2017-06-19 15:34] JasonSowers commented on #2975
@nupurkamble Are you able to share your code? Also, can you explain your use cases a little more so we can understand how best to help you?

[2017-06-19 15:37] aakashkag commented on #2973
Node js

[2017-06-19 15:37] nwhitmont commented on #2972
You might want to start by watching this video: https://channel9.msdn.com/Shows/Office-Dev-Show/Office-Dev-Show-Episode-34-Getting-Started-with-Bots-and-the-Microsoft-Graph

Next, you can study this code example which demonstrates a Bot Framework integration with Active Directory. https://github.com/MicrosoftDX/AuthBot

You might also consider looking at the Sign-in Card example, which can also be

[2017-06-19 15:37] #2972 closed

[2017-06-19 15:39] EricDahlvang commented on #8
@UsamaAslam  The response to a ping should be something like `res.sendStatus(200);` in node or `Request.CreateResponse(HttpStatusCode.OK);` in c#.

Note: this GitHub issue is closed.  Please post your question on Stack Overflow if you continue to have trouble with the Skype channel.  The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackove

[2017-06-19 15:57] tomorgan commented on #2980
Thanks for the clarification @nwhitmont . Any chance that you could update https://docs.botframework.com/en-us/channel-inspector/channels/Teams?f=Video&e=example1 to mention this? I guess bigger ask is that anywhere in the Channel Inspector, if there is an unsupported combination, this is flagged

[2017-06-19 15:59] EricDahlvang commented on #127
@stelazh It looks like there are answers on your stack overflow post.

Please don't post on closed github issues.   

-----
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/issues) repo  is the preferred platform for subm

[2017-06-19 15:59] nwhitmont commented on #2977
Thanks for submitting the PR. We will follow the progress there.

[2017-06-19 15:59] #2977 closed

[2017-06-19 16:03] JasonSowers commented on #2971
@RaoVenka can you please explain what you mean by broadcast to a user so we can best help you?

[2017-06-19 16:07] nwhitmont commented on #2971
@RaoVenka For more information on sending proactive messages, check out this article: [Create a bot using the Proactive template](https://docs.microsoft.com/en-us/bot-framework/azure/azure-bot-service-template-proactive#code-walkthrough)

This diagram shows how triggered events work when you create a bot using the Proactive template.
![azure-bot-proactive-diagram](https://user-images.githubusercon

[2017-06-19 16:07] EricDahlvang commented on #2970
@RaoVenka In c# you can implement the IActivityLogger interface.  There are some examples here: https://github.com/Microsoft/BotBuilder-Azure/tree/master/CSharp/Library/Microsoft.Bot.Builder.Azure.Logging  Here is a blog post on implementing IActivityLogger and storing activities in Azure Sql: https://blog.botframework.com/2017/05/05/Saving-Bot-Actions-On-Azure-Sql-Server/

-----
The Microsoft Bot

[2017-06-19 16:07] #2970 closed

[2017-06-19 16:11] UsamaAslam commented on #2979
thanks for reply . yes i already register my bot .. here is my bot name :Biz_WeatherBot ,
bot handle :Biz_WeatherBot and my Microsoft id is :6ec9eb2d-1a16-4fdf-903d-d150e93dbed7
and my publish web site link is : https://usamalatestv2.azurewebsites.net/

[2017-06-19 16:13] nwhitmont commented on #2959
Here's a code example for sign-in card for .NET SDK which shows how to configure the URL with `redirect_uri` parameter:
[code]

[2017-06-19 16:13] #2959 closed

[2017-06-19 16:14] UsamaAslam commented on #2979
bot work fine in emulator and Testing in https://botframework.com but when i open  Skype channel and click publish it give me error :
"Your bot did not respond to our Ping request with a success code. Please verify your bot is running and responsive before Publishing your bot. The error received from your bot was: Unauthorized(401), BotAuthenticator failed to authenticate incoming request!"

[2017-06-19 16:15] nwhitmont commented on #2952
Follow progress in #2967

[2017-06-19 16:15] #2952 closed

[2017-06-19 16:18] JasonSowers commented on #2979
@UsamaAslam do you have your app id and your password in your web config?
[code]

[2017-06-19 16:24] UsamaAslam commented on #2979
yes , APP ID and PASSWORD are exactly same as botframework

[2017-06-19 16:34] nwhitmont commented on #2968
As @Stevenic mentioned in #2103

[2017-06-19 16:35] #2968 closed

[2017-06-19 16:39] nwhitmont commented on #2939
@jinot92 Are you using .NET or Node SDK? Can you post your bot code that reproduces the issue?

[2017-06-19 16:41] nwhitmont commented on #2932
follow progress in #2935

[2017-06-19 16:41] #2932 closed

[2017-06-19 17:33] megancooper opened #2983 "[Question] "Invoke" activity not working for Thumbnail Button on Emulator"
## System Information (Required)
* SDK Language: <.NET/C#>

## Issue Description
I want to call a method using a thumbnail card button so I'm using invoke. I can construct the card with no errors but when I click the button nothing happens?

## Code Example

**Code for the Thumbnail Card:**
[code]

**Code in my MessagesController Class**
[code]

**Code in the BuildDialog Class that I thought would

[2017-06-19 17:39] jinot92 commented on #2939
I am using Node.js to build the bot and I am using the online IDE provided by MS Azure.

[2017-06-19 18:59] nwhitmont commented on #2983
According to the documentation at https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-add-rich-card-attachments#process-events-within-rich-cards

I'm not seeing "Invoke" as a CardAction type.  Can you share where you found the documentation on the "invoke" card action type?

[2017-06-19 19:12] nwhitmont commented on #2973
Duplicate of https://stackoverflow.com/questions/44618516/how-to-start-new-proactive-conversation-dialog-without-ending-to-current-ongoing

[2017-06-19 19:13] nwhitmont commented on #2973
see answer on Stack Overflow

[2017-06-19 19:13] #2973 closed

[2017-06-19 19:15] nwhitmont commented on #2821
Thumbs up to vote

[2017-06-19 19:27] v46 opened #2984 "[MS Teams] User ids are inconsistent for the teams channel"
I am seeing that the user ids returned by the bot framework keep changing every few days.
This prevents us from identifying individual users since their ids are no more the same.

The problem is observed for the Teams channel. There are no changes made on the Teams admin side, so we are not sure why the framework is returning different ids. I presume the user ids are encrypted, is it expected that

[2017-06-19 19:34] nwhitmont commented on #2979
@UsamaAslam I just tested your bot on Skype channel, and it is working normally. See attached screenshot.
<img width="670" alt="screen shot 2017-06-19 at 12 28 55 pm" src="https://user-images.githubusercontent.com/3075047/27302237-139da59e-54eb-11e7-835e-d4273b122859.png">

In order to publish your bot on Skype, you need to provide valid URLs for your Privacy statement and Terms of Service.  You c

[2017-06-19 19:50] nwhitmont commented on #2939
Can you walk me through the exact steps you went through to reproduce this error? Include screenshots if possible.

[2017-06-19 19:59] megancooper commented on #2983
@nwhitmont There was a [post](https://github.com/Microsoft/BotBuilder/issues/2640) on this topic earlier stating that if you specify the card action type as such:
`Type: "invoke"`
It will create an Invoke Activity that can be addressed in the Messages Controller

[2017-06-19 20:14] hardikchoudhary opened #2985 "Closed"

[2017-06-19 20:27] JasonSowers commented on #2985
@hardikchoudhary can you please provide information so we can assist you?  Right now we have basically nothing to work with.

[2017-06-19 22:53] msmohan commented on #2843
Adding [Terms] attribute resolves the issue. However we trying to resolve this without having [Terms] attribute.

![image](https://user-images.githubusercontent.com/29078812/27309111-1d901d86-5507-11e7-8162-c3ababed5f56.png)

![image](https://user-images.githubusercontent.com/29078812/27309073-de2bfa48-5506-11e7-93a8-6ef7dbbce80d.png)

[2017-06-20 00:45] nwhitmont commented on #2983
@megancooper Thanks for following up.  Based on [the documentation you linked to](https://msdn.microsoft.com/en-us/microsoft-teams/botsmessages#action---invoke) - the "invoke" `ActivityType` is _specific_ to MS Teams channel.  Are you using MS Teams? If not, then you will need to intercept the message via other methods.

[2017-06-20 03:42] andy51002000 commented on #2930
I've resolved this issue.

It seems I accessed the null value in activity.Text result in this problem.
So I added a checking to avoid this case:

[code]

[2017-06-20 03:42] #2930 closed

[2017-06-20 04:30] neetgupta7 commented on #2976
Thanks for the above. I have seen this standard piece which allows me to launch any url from the Hero card. What I am looking at is a functionality similar to PromptDialog.Choice where when a user chooses an option the control is passed on to a specific C# function. And I want a similar functionality with a Hero Card as it has a richer UI.

So for e.g. I show user a carousel of Hero Cards to choos

[2017-06-20 06:20] UsamaAslam commented on #2979
still same problem ...
i change the urls but problem not solves . can you guide me what type of url we have to enter in Privacy statement URL and  Terms of use URL ??
![1](https://user-images.githubusercontent.com/29476154/27319344-64f202f4-55aa-11e7-9431-d4d2b1214762.PNG)
![2](https://user-images.githubusercontent.com/29476154/27319345-64f39b32-55aa-11e7-89df-4bd8cac1d9fc.PNG)

[2017-06-20 06:55] macrozone commented on #2974
@nwhitmont excuse me, but this is a regression. Is there a changelog that describes this breaking change?

[2017-06-20 07:36] NicolasHumann opened #2986 "[Localization] CurrentCulture is reset after async/await"
## System Information
* SDK Language: NET/C#
* SDK Version: 3.8
* Development Environment: AZURE_FUNCTION PRECOMPILED

## Issue Description
Hi, The Thread.CurrentThread.CurrentCulture and Thread.CurrentThread.CurrentUICulture is reset after a async/await call like HttpClient. The Culture is correctly set from the Locale property in SetAmbientThreadCulture and LocalizedScope but is reset after an a

[2017-06-20 08:18] hardikchoudhary commented on #2985
Hi jason

I have the folder of my applicatiob...... Name xyz.... In that folder i
have app.js and other js files and one folder with npm_modules that is
having multiplw folder....

I have deployed it using visual studio

To azure wep app

But wheb debug my bot.
In bot emulator.... Giving url of azure website /api/messages

And app id and passwrd

Connect getting error in logs.... Https://azurewebs

[2017-06-20 11:38] AmitavaSinha commented on #2981
So what will be the alternate option ? One clients requirement is that he/she may select more than one option , how to implement the same.

[2017-06-20 13:04] alecrt commented on #2881
Same problem here. Sample code taken from intelligence-LUIS with minor customizations and a custom entity of type List

[2017-06-20 13:06] alecrt commented on #2881
[code]

[2017-06-20 14:31] amitbend opened #2987 "[Question] prompts.choice is not working correctly with API.ai"
## System Information (Required)
* SDK Language: Node
* SDK Version: 8.3.4
* Development Environment: LOCALHOST, AZURE_BOT_SERVICE
## Issue Description
I recently added NLU to my messenger bot using API.ai. I have a choice prompt in my bot (`prompts.choice()`), with buttons `builder.ListStyle['button']`.

I noticed that few of the choices are not working - and `retryPrompt` is invoked, and it happ

[2017-06-20 14:45] megancooper commented on #2983
@nwhitmont Yes, I'm using teams. Is my approach correct? So far I've only tried to test this out in the bot emulator. Thanks for the help again!

[2017-06-20 14:50] nwhitmont commented on #2987
duplicate of https://stackoverflow.com/questions/44650686/prompts-choice-is-not-working-correctly-with-nlu-api-ai

[2017-06-20 14:54] amitbend commented on #2987
@nwhitmont alright, closing

[2017-06-20 15:09] Cartman720 opened #2988 "[Skype] Botframework publishing review issue"
## System Information
SDK Language: NODE
SDK Version: 3.8.4
Development Environment: server

## Issue Description
Hi

I have an issue with publishing my bot.
I am trying to submit for review,but system says that my server sent 403 error.
I have looked at my server logs and saw that microsoft sends request and within body of request there is property  `channelId: "test"`, but `ChatConnector` of `bo

[2017-06-20 15:16] JasonSowers commented on #2900
@rdy4trvl did you get this worked out?

[2017-06-20 15:30] nwhitmont commented on #2983
@megancooper Since the "invoke" function you are looking to use is MS Teams specific, you will need to use MS Teams to verify it works. ;-)

[2017-06-20 15:39] JasonSowers commented on #2985
Hi Hardik,

Try following this guide to [deploy to Azure](https://blog.botframework.com/2017/04/27/Deploying-Botframework-To-Azure-On-Linux/)

[2017-06-20 15:45] hardikchoudhary commented on #2985
Hi jason

I have followed same as my files are deployed as I am getting this message

You do not have permission to view this directory or page.

[2017-06-20 15:47] hardikchoudhary commented on #2985
I have not added the app id and password in app service in azure

[2017-06-20 15:48] hardikchoudhary commented on #2985
can you please tell me how i can debug node js bot when it is deployed to azure

[2017-06-20 15:53] hardikchoudhary commented on #2985
but i have added in app.js file directly app id and password

[2017-06-20 16:08] nwhitmont commented on #2985
You need to save your Microsoft App ID and password in your Application Settings in order for your bot to function properly.

[2017-06-20 16:12] hardikchoudhary opened #2989 "There was an error sending this message to your bot: HTTP status code NotFound"
![image](https://user-images.githubusercontent.com/14367146/27343618-185b6820-5601-11e7-9f3d-42f016d6916b.png)

I have deployed my node js app to azure

it is running on local

and when i start testing on dev botframework test web chat , i get retry on message

and issues on status of web chat saying

There was an error sending this message to your bot: HTTP status code NotFound

Please help me re

[2017-06-20 16:13] nwhitmont commented on #2988
@Cartman720 Can you post a screenshot of the error you are seeing in the Bot Portal?

[2017-06-20 16:14] hardikchoudhary commented on #2985
nwhitmont  i have added it in application setting as well on azure

but still the same error
There was an error sending this message to your bot: HTTP status code NotFound

![image](https://user-images.githubusercontent.com/14367146/27343774-94e10c1a-5601-11e7-852e-37a8c044f57b.png)

and error on web chat below my message

[2017-06-20 16:15] Cartman720 commented on #2988
Sure, here it is.

![image](https://user-images.githubusercontent.com/12465135/27343816-2ebeadf4-55f5-11e7-9f8b-6b85820c9a28.png)

[2017-06-20 16:15] nwhitmont commented on #2985
what is your bot name, bot handle and App ID as you registered in the Bot Portal?

[2017-06-20 16:18] hardikchoudhary commented on #2985
Bot handle : NearByMetro
url : https://nearbymetro.azurewebsites.net/api/messages
app id
3dfa0867-614d-40d2-8092-08fd56df09f6

Please let me know if you need more info

[2017-06-20 16:19] hardikchoudhary commented on #2985
Bot name :NearByMetro
Bot handle : NearByMetro
url : https://nearbymetro.azurewebsites.net/api/messages
app id
3dfa0867-614d-40d2-8092-08fd56df09f6

Please let me know if you need more info

[2017-06-20 16:19] hardikchoudhary commented on #2985
@nwhitmont
Bot name :NearByMetro
Bot handle : NearByMetro
url : https://nearbymetro.azurewebsites.net/api/messages
app id
3dfa0867-614d-40d2-8092-08fd56df09f6

Please let me know if you need more info

[2017-06-20 16:24] rdy4trvl commented on #2900
Yes, Success!!  Up and running on Facebook Messenger.  About 100 QnA Maker questions in the knowledge base.  I did apply for Skype but need to follow up on that.
One of my problems was that I didn't realize I needed to make the bot public for FB to review.
Thanks for the help!!
https://www.facebook.com/messages/t/MarinCyclists

[2017-06-20 16:24] #2900 closed

[2017-06-20 16:26] nwhitmont commented on #2985
Your bot's endpoint is not online.  When I visited your endpoint URL just now I got the error: `The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.`

[2017-06-20 16:27] JasonSowers commented on #2900
Glad you got it worked out Good luck!

[2017-06-20 16:27] nwhitmont commented on #2989
Duplicate of #2985

[2017-06-20 16:27] #2989 closed

[2017-06-20 16:29] hardikchoudhary commented on #2985
how my this url is online???
https://nearbymetro.azurewebsites.net/api/messages

but I am able to run https://nearbymetro.azurewebsites.net/

how bot endpoint is online please help me where I am wrong

I have just published my whole solution

to http://nearbymetro.azurewebsites.net/ from Visual studio

and in package.json starting path is app.js

[2017-06-20 16:57] nwhitmont commented on #2988
Relates to #2979

[2017-06-20 17:01] hardikchoudhary commented on #2985
Please tell me for same ???? how this endpoint can be online ???? and you are looking for this url

but how possible ??

can i hardcode this url in code ???

as locally it is running

[2017-06-20 17:25] hardikchoudhary commented on #2985
@nwhitmont  can you please help as i am stuck

do i need to change any of these lines

server.listen(process.env.port || process.env.PORT || 3978, function () {
   console.log('%s listening to %s', server.name, server.url);

});

[2017-06-20 17:56] Cartman720 commented on #2979
There is an collision between `botbuilder` and microsoft review ping request.
Basically `ChatConnector` says that it can't allow unknown `channelId: test` , it will allow only
these channels bing,directline,email,facebook,groupme,kik,skype,slack,sms,telegram,webchat.

Here the error

`ERROR: ChatConnector: receive - endorsements validation failure. channelId in req.body: test didn't match the endo

[2017-06-20 18:03] UsamaAslam commented on #2979
okay .. then is their any way to solve this bug / issue ??
can you guide me or inform me how can i remove this bug and add skype channel in my bot ?

thanks

[2017-06-20 18:06] Cartman720 commented on #2979
I don't know, like you I have an issue with this :)
If this is a bug we can't do anything from our side and need to wait for @nwhitmont I think.

[2017-06-20 18:11] Cartman720 commented on #2979
Also I am using NodeJS SDK for this, so I don't think that both NodeJS and ASP.NET SDK's are buggy.
So I think we need PR for both repos or fixing from MS server side

[2017-06-20 18:21] nwhitmont commented on #2988
There's a problem with the publishing workflow. We are actively working to fix the issue.

[2017-06-20 18:22] nwhitmont commented on #2979
There's a problem with the publishing workflow. We are actively working to fix the issue.

[2017-06-20 18:36] Cartman720 commented on #2979
Thanks @nwhitmont !

[2017-06-20 19:11] nwhitmont commented on #2985
@hardikchoudhary Your bot URL currently returns 500 error, which means there is an error in your deployment.

Have you tried creating a bot via [Azure Bot Service](https://azure.microsoft.com/en-us/services/bot-service/?v=17.23h)? When you use this method, all the deployment aspects are configured automatically, and there are built-in bot application templates to get you started.

For more informa

[2017-06-20 19:44] JasonSowers commented on #2881
@jesusom   I noticed in your repo the following line in your BookRoomDialog your luis model ID is incomplete
[code]

[2017-06-20 19:46] nwhitmont commented on #2979
We should have this hotfixed soon, probably in the next 1-2 hour.

[2017-06-20 19:54] JasonSowers commented on #2881
@alecrt can you put your code in a repo so I can take a look please?

[2017-06-20 19:56] iudelsmann opened #2991 "[Facebook] Wrong title text on button carousel on facebook"
Hello,

I'm using C# version 3.8.1.

When sending buttons to facebook, like when using `PromptDialog.Choice`, with more than 3 buttons, a carousel is used to to display those buttons. I expected the same title to be displayed for each carousel "bubble" (is that how it's called?) but the text **Options** is shown after the first one.

Here is a print for example, you can see the beggining of the se

[2017-06-20 20:00] EricDahlvang commented on #2981
@AmitavaSinha Adaptive Cards might be an option for you.  The ChoiceSet provides for multi-select: http://adaptivecards.io/visualizer/?card=/explorer/cards/Input.ChoiceSet.json

[2017-06-20 20:04] JasonSowers commented on #2991
Do you mind posting your code so I can take a look and reproduce?

[2017-06-20 20:31] Cartman720 commented on #2979
Great!

[2017-06-20 20:45] jesusom commented on #2881
@JasonSowers thanks Jason. I removed keys and constants from the code

[2017-06-20 20:46] iudelsmann commented on #2991
Ok, the method that generates the prompt is inside the root dialog and is like this (I altered unrelated things to simplify):

[code]

[2017-06-20 21:11] JasonSowers commented on #2881
I just downloaded your code and the LUIS ID is still the same `01964138-f32c-401c-aaec-`  instead of something like `01964138-f32c-401c-aaec-e5d4a4840783`

[2017-06-20 21:40] nwhitmont commented on #2709
this appears to be fixed in Skype iOS v6.35.0.54

[2017-06-20 21:40] #2709 closed

[2017-06-20 21:45] nwhitmont commented on #2708
Re-tested on Skype iOS v6.35.0.54 - still not working.

[2017-06-20 21:59] goryny4 commented on #1465
same problem

[2017-06-20 22:18] SheriEllisMSFT commented on #2938
@mobilebilly - yes, you need to create a manifest and then sideload it into the desired team in Teams. Here are the [packaging instructions on MSDN](https://msdn.microsoft.com/en-us/microsoft-teams/createpackage), and there's a [child page with the schema for the manifest](https://msdn.microsoft.com/en-us/microsoft-teams/schema). Have you created your manifest yet and did it work? If not, please p

[2017-06-20 22:25] SheriEllisMSFT commented on #2781
@Frank-Bursitzke is this issue still happening? If so, could you post your code? Thanks!

[2017-06-20 22:55] nwhitmont commented on #2979
@UsamaAslam @Cartman720 Should be fixed now. Can you verify if its working for you?

[2017-06-20 22:55] nwhitmont commented on #2988
@Cartman720 Should be fixed now. Can you verify if its working for you?

[2017-06-20 23:57] nwhitmont commented on #2988
Fix is deployed

[2017-06-20 23:57] #2988 closed

[2017-06-20 23:58] nwhitmont commented on #2979
Fix is deployed

[2017-06-20 23:58] #2979 closed

[2017-06-21 00:27] Cartman720 commented on #2988
Hi @nwhitmont

I think it works!
Thanks!
![image](https://user-images.githubusercontent.com/12465135/27361636-d62af360-5639-11e7-9217-5cc6c0effff3.png)

[2017-06-21 02:11] mindingdata commented on #2986
This issue is notorious when apps move to async/await patterns (Mostly in console/windows service apps).

Check the second answer in this SO question https://stackoverflow.com/questions/30662668/keep-currentculture-in-async-await . Essentially you need to build your own synchronization context that does a "handover" of what culture should be used when a thread picks up an async task.

[2017-06-21 03:17] ankurMalhotra commented on #2073
If I am using the web chat channel, is all the chat history persisted? Where? Must be as I can use the following link : https://webchat.botframework.com/embed/BOTNAME?t=TOKEN to view past conversations for a particular session?

[2017-06-21 03:41] nupurkamble commented on #2975
<script>
	var botConnection = new BotChat.DirectLine({
		secret: params['*********']
                token: params['t'],
                domain: params['domain'],
                webSocket: params['webSocket'] && params['webSocket'] === "true" // defaults to true
            });
      BotChat.App({
         botConnection: botConnection,
        user: { id: '***' },
        bot: { id: '***' },

[2017-06-21 04:28] v46 opened #2992 "[Question] What is the recommended approach to get list of all users?"
I am trying to get a list of all users for given channel - primarily MS Teams and Skype. Does the Bot framework provide such an API similar to Slack? (there was mention of this coming to the SDK).

We are on the Node SDK. Appreciate the help!

[2017-06-21 04:45] nupurkamble commented on #2975
Thanks @JasonSowers
I saw the link you sent me and it helped. But on [this page](https://docs.microsoft.com/en-us/bot-framework/nodejs/bot-builder-nodejs-backchannel) is mentioned how to use server side using node.js. Is there a similar code for C# ? i.e how can the bot also listen for events from the client using C#.

[2017-06-21 05:00] nupurkamble commented on #2975
Thanks @JasonSowers for the link. That is what i was looking for. I'll close the issue.

[2017-06-21 05:00] #2975 closed

[2017-06-21 05:32] UsamaAslam commented on #2979
sorry .. problem is not solved still same error on publish click ..

[2017-06-21 05:34] UsamaAslam commented on #2979
@Cartman720 your problem solved ? or not

[2017-06-21 05:39] UsamaAslam commented on #2979
@nwhitmont check the screenshot
![capture12](https://user-images.githubusercontent.com/29476154/27368796-f69b6eb6-566d-11e7-8e04-18bec4678a12.PNG)

[2017-06-21 05:43] mobilebilly commented on #2938
Hi @SheriEllisMSFT , unfortunately, I cannot see any sideload option in the Teams setting, does it require any specific permission under o365?

![teams](https://user-images.githubusercontent.com/795601/27368867-7f155d7e-5687-11e7-8861-920986aed70d.png)

[2017-06-21 05:51] upendra1588 commented on #2203
I am  facing **getting "couldn't send retry" timeouts with the web chat and emulator both**  is there any fix or know issue still?

[2017-06-21 05:59] UsamaAslam commented on #2979
Problem solved ..
Thanks

[2017-06-21 05:59] UsamaAslam commented on #2979
thanks

[2017-06-21 06:48] RaoVenka opened #2994 "[Question] Carousel Cards working in Emulator but not working on Web Chat"
Carousel Cards working in Emulator but not working on Web Chat.

Could you please provide some samples how Carousel Cards are working in Web Chat.

[2017-06-21 08:24] amitbend commented on #2987
Reopened - no response on stackoverflow.

[2017-06-21 08:54] alecrt commented on #2881
@jesusom here it is: https://github.com/alecrt/TestBot

Thank you!

[2017-06-21 09:30] panosVeran opened #2995 "[Question] Bot using LUIS app without using Azure cloud service"
i built a bot that uses LUIS app. i  want to use the endpoint provided outside azure, with no 1000 limit. so, to my understanding i need a new key to use for production purposes to create an endpoint. how should i do this? do i buy an azure key? how do i add a new valid key?

[2017-06-21 10:06] jesusom commented on #2881
@alecrt https://github.com/jesusom/Developments

[2017-06-21 10:11] Zelophobian commented on #1576
I have the same problem at the moment. My bot does not wait for the user to input something. It just moves on. the results.response is true, but I have no idea why. The results.response.entity is undefined. Which leads to a loop, because the user enters what he wants and the bot starts over.

[2017-06-21 10:26] alecrt commented on #2881
Sorry @jesusom, i made a typo, my reply should have been directed to Jason Sowers :/
Already saw your code,  but i'd like to avoid setting entitis to null

[code]

[2017-06-21 11:10] ftachon opened #2996 "[Question] Update to Bot Builder 3.5+ or compatible security configuration by July 31, 2017"
## System Information (Required)
* SDK Language: REST API
* SDK Version: 3.1
* Development Environment: OTHER (REST Services)

## Issue Description
The portal https://dev.botframework.com alert me to Update to Bot Builder 3.5+ or compatible security configuration by July 31, 2017

## Code Example
All the security requirement described in https://docs.microsoft.com/en-us/bot-framework/rest-api/bot-

[2017-06-21 11:20] AmitavaSinha commented on #2981
Thank you Eric, let me implement this and confirm.

On Wed, 21 Jun 2017 at 1:30 AM, Eric Dahlvang <notifications@github.com>
wrote:

[2017-06-21 14:17] RaoVenka opened #2997 "[Question] Hero Card buttons are not showing on Direct Line(3.0)"
In my bot code i have added Direct Line Secret key which is mentioned bot framework.

In Direct Lane  It is not  working  buttons (Serach Specific Item , Browse By item and Help") are not shown.
![image](https://user-images.githubusercontent.com/28774238/27388710-e77bee5a-56b9-11e7-9efd-6c03ceac8fa6.png)

In Emulator It is working fine and buttons also shown.
![image](https://user-images.githubuse

[2017-06-21 14:52] nwhitmont commented on #2994
@RaoVenka Are you using .NET or Node SDK?

[2017-06-21 14:55] nwhitmont commented on #2995
@panosVeran Are you using .NET or Node SDK?

[2017-06-21 14:57] nwhitmont commented on #2996
@ftachon This is a warning for informational purposes only. It does not affect the functioning of your bot.

[2017-06-21 14:57] #2996 closed

[2017-06-21 14:58] nwhitmont commented on #2997
@RaoVenka Are you using .NET or Node SDK?

[2017-06-21 15:17] RichMoeMSFT commented on #2984
Are you referring to the from.id your bot receives?  In general, the user id should be unique and consistent for a given user for a given bot.  It is an encrypted value based on, among other things, your bot guid, and again should not change.  Please provide more information so we can investigate.

[2017-06-21 15:18] RaoVenka commented on #2997
I am using .Net

[2017-06-21 15:19] RaoVenka commented on #2994
I am.using .net.

[2017-06-21 15:29] RichMoeMSFT commented on #2983
Correct, this will not work in the Emulator.  In general, your code above looks right, but you'll want to test this in Teams by [creating a Teams app package](https://msdn.microsoft.com/en-us/microsoft-teams/createpackage) and [sideloading](https://msdn.microsoft.com/en-us/microsoft-teams/sideload) into the product.  Or optionally, for 1:1 only, you can start a conversation with your bot using its

[2017-06-21 15:38] JasonSowers commented on #2203
@upendra1588 can you please post a new issue for your question and post your code.  There is most likely something wrong with your bot itself if that is the error message you are getting.  We would like to help you but do not have enough information at the moment.

[2017-06-21 15:45] RichMoeMSFT commented on #2906
@meganlcooper [PostBack is actually not supported in Teams](https://msdn.microsoft.com/en-us/microsoft-teams/botsmessages#card-actions-in-teams).  We have imBack and invoke, which are the separate pieces of PostBack (imBack for the text response, invoke for the silent JSON post.)

[2017-06-21 16:08] JasonSowers commented on #2994
@RaoVenka do you mind posting your code so we can take a look?

[2017-06-21 16:19] SheriEllisMSFT commented on #2938
Hi @mobilebilly - take a look at the [Getting Started page on MSDN](https://msdn.microsoft.com/en-us/microsoft-teams/setup). Your 365 Admin needs to enable sideloading of apps for Microsoft Teams. After they do that, down in the bottom right corner, you'll see "Sideload an app" displayed next to "Create a custom bot". Good luck!

[2017-06-21 17:00] akashpavate58 opened #2998 "[Question] The LUISModel doesn't work with subscription key for LUIS Endpoint for EAST US Location"
## System Information (Required)
* SDK Language: .NET/C#
* SDK Version: Microsoft.Bot.Builder v3.8.1
* Development Environment: LOCALHOST, Facebook Messenger

## Issue Description
My LUIS Model was published with a free trial key (Bootstrap Key) and my code was perfect.
the URL for LUIS was https://westus.api.cognitive.microsoft.com.............

Then I took a new LUIS key from Azure with Location

[2017-06-21 17:04] v46 commented on #2984
Yes @RichMoeMSFT. This is the "address.user.id" component returned by the node SDK.
[code]
Previously the user's id was ```29:1IivS...``` and now ```29:1iJ3y...``` is returned (sorry, this may not be useful without the full id).

I am happy to share the bot id/tenant id/user id privately if it helps narrow the issue down. Please let me know.

[2017-06-21 17:27] dmitryfd opened #2999 "[Channel Configuration] After adding a channel it can't be deleted"
## System Information (Required)
* SDK Language:  Node
* SDK Version:  3.8.4
* Development Environment:  Azure App Service

## Issue Description

After adding a channel at the portal: [https://dev.botframework.com/bots/channels?id=MyBotId](https://dev.botframework.com/bots/channels?id=MyBotId), it's only possible to disable but not remove it.

In the case of Skype for Business that has no disable

[2017-06-21 17:31] iudelsmann commented on #2991
Using facebooks endpoint to send the message I'm observing the expected behavior with this JSON

https://graph.facebook.com/v2.6/me/messages?access_token=ACCESS_TOKEN_HERE

[code]

So if my guess that this JSON is being wrongly generated, could this be a connector issue?

[2017-06-21 17:33] msmohan commented on #2843
Bug Fix has been submitted. Closing this thread.

[2017-06-21 17:33] #2843 closed

[2017-06-21 17:39] panosVeran commented on #2995
@nwhitmont node, how is this relevant considering the key and the endpoint however?

[2017-06-21 17:39] hardikchoudhary commented on #2985
solved issue
now its working thanks

alot sir

and now its working on skype as well as normal chat box

but it is not working on fb messenger and neither is showing error

[2017-06-21 17:40] hardikchoudhary opened #3000 "Bot not replying back on facebook but Worked on skype"
I am not getting error on facebook but it is working on skype after deployemnt to azure

Can you please tell me what can be possible reasons

[2017-06-21 18:30] stevengum97 commented on #2998
Hi @akashpavate58, have you tried adding the domain to your C# code? It's probably still pointing at westus by default. You can find details [here ](https://github.com/Microsoft/BotBuilder/issues/513#issuecomment-306667584) from issue #513 that might help you.

Code excerpt from #513:
[code]

[2017-06-21 18:37] sawmixer commented on #2843
Great, thanks.

[2017-06-21 19:01] #3000 closed

[2017-06-21 20:22] jinot92 opened #3001 "[Adaptive Cards] Alternative for imBack"
I wish to send a message in a manner which is similar to a message sent by imBack.
I am using adaptive cards in a web chat so I cannot use(rather don't know how to use) imBack on the button click of the adaptive card.
Is there any way to implement this feature.

## Actual Results

![present](https://user-images.githubusercontent.com/26137758/27404851-3042310c-56ed-11e7-8a69-54ba581d6fc0.png)
## Ex

[2017-06-21 21:11] nwhitmont commented on #3001
@jinot92 Are you using .NET or Node SDK for BotBuilder?

[2017-06-21 21:13] jinot92 commented on #3001
Node SDK

[2017-06-21 21:21] nwhitmont commented on #2999
@dmitryfd Thanks for reporting.  Issue tracked internally

[2017-06-21 21:21] #2999 closed

[2017-06-21 23:12] nwhitmont commented on #2995
@panosVeran There are two SDKs managed in this repository. We ask this question to all GitHub users so we can better route your issue to the relevant .NET or Node SDK engineers.

For more information on managing your LUIS application keys, see: [Creating Subscription Keys Via Azure](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/azureibizasubscription)

See [Cognitive Services pric

[2017-06-21 23:14] #2995 closed

[2017-06-22 01:43] kylepolich commented on #669
Yup, I am having this problem with the very basic hello world code provided by Microsoft.  Seems like Bot Framework might now be a legacy project?  Why wouldn't the basic examples work when deploying to Azure.

[2017-06-22 01:48] nwhitmont commented on #669
@kylepolich You are commenting on a closed issue. Please open a new issue if you have a problem or question, so that we may better assist you.

[2017-06-22 04:57] ongandrew commented on #2515
This issue is still present in 3.8.2.

[2017-06-22 05:57] neetgupta7 opened #3004 "[Question] How does load balancing work for Bot service in Azure?"
Hello
Since our Bot will cater to needs of thousands of users it will be required for the host environment to support load balancing or be scalable. So I want to understand the options available on Azure. How will multi server configuration affect the session management in case of Bots. What will happen if one message is served to one server and the next to other.

[2017-06-22 06:01] neetgupta7 opened #3005 "Trigger C# Function on click of Hero Card Button"
Hello
I want to trigger a C# function on click of button on Hero Card (or any other rich card). While I have read many blogs about the same not many explain how to do it. Can someone please explain and also provide the code snippet for C#.
This was raised as an issue number #2976 but it I did not find the answer satisfactory.

I have seen the standard piece of code shared in #2976 which allows me

[2017-06-22 06:36] PrasadGautham commented on #2976
For that just change the actiontype to "imBack"...then put switch case in after function

[2017-06-22 06:41] msBot1111 opened #3006 "[Question] Why I can't connect to azure db which is secured"
I've created azure database in internal network for more security, and when I put the connection string into my web config in my Bot and publish the Bot, I always get Sorry my bot code is having an issue. I know that I can't connect locally in that db and test it in emulator, but why it doesn't work after publish? Before that I've used another db from azure which was not that secure and it worked

[2017-06-22 06:53] neetgupta7 commented on #2976
Can you please provide the the example code snippet.

[2017-06-22 07:14] PrasadGautham commented on #2976
List<CardAction> Go = new List<CardAction> { new CardAction(ActionTypes.ImBack, title: "button1", value: "button1"), new CardAction(ActionTypes.ImBack, "buttton2", value: "buttton2"), new CardAction(ActionTypes.ImBack, "buttton3", value: "buttton3") };
 HeroCard card = new HeroCard { Title = "Your Options", Buttons = Go };
  var message = context.MakeMessage();
            message.Attachments.Add(

[2017-06-22 07:22] neetgupta7 commented on #2976
@PrasadGautham  Thanks alot. It really helped 👍

[2017-06-22 07:23] neetgupta7 commented on #3005
Refer #2976 for the solution.

[2017-06-22 07:23] #3005 closed

[2017-06-22 09:09] JpEncausse commented on #2894
I find the issue and answered in StackOverflow:

The redirection will work if the Microsoft Graph App is configured with Web Paltform AND Native Platform. The Callback URL must be set only on the webplatform part but Messenger (app) won't follow the redirection if the Native Platform is not set.

[2017-06-22 09:10] #2894 closed

[2017-06-22 09:39] ancashoria commented on #2924
We also need this feature and if possible a way to tag the conversation from the webchat component. Also, if anyone has a workaround for this, please let us know.

Thank you.

[2017-06-22 09:45] hofman-p commented on #920
I have the same issue, I can't have a new line in Facebook channel. I tried all solutions I saw on this thread and in other places (<br>, <br />, ` nbsp; `,  \n  \n, \r\n, \r  \n...)
Is there a solution available and approved ?

[2017-06-22 10:01] hofman-p commented on #920
Here is a new element I found:

![](https://puu.sh/wrdTi/c8ed14d63e.png)

Leads to this:

![](https://puu.sh/wrdV5/3719ccf115.png)

And if I take out the letters:

![](https://puu.sh/wrdXE/f75f2713c1.png)

It then leads to this:

![](https://puu.sh/wrdYs/42d23f7c36.png)

Trying to replace 'qwe' by nbsp; doesn't work, it just displays nbsp; in chat.

[2017-06-22 10:21] andreiciungan commented on #2924
Please let us know if anyone has any news about it, because we need it. Thank you!

[2017-06-22 12:03] nornes commented on #35
I have a similar issue with an error message saying:
 `Exception: invalid need: expected Wait, have Call`
It occures in the return function after authbot has authenticated and I am trying to forward the message into the mail dialog. My code:
`    [Serializable]
    public class AuthDialog : IDialog<string>
    {
        public async Task StartAsync(IDialogContext context)
        {
            con

[2017-06-22 12:05] neetgupta7 opened #3008 "[Question] Private Conversation Data Not Available in IDialog"
Hello
I m trying standard template solution for BOT. In MessageController.cs  I am adding a private conversation data string as below-
`StateClient stateClient = activity.GetStateClient();
BotData userData = await stateClient.BotState.GetPrivateConversationDataAsync(activity.ChannelId, activity.Conversation.Id, activity.From.Id);
userData.SetProperty<string>("UserLanguage", "English");`

Then in m

[2017-06-22 12:18] nrobert commented on #3008
After your `userData.SetProperty<string>("UserLanguage", "English");`, you have to call `await stateClient.BotState.SetPrivateConversationDataAsync(activity.ChannelId, activity.Conversation.Id, activity.From.Id, userData);` to log your changes

[2017-06-22 12:29] nrobert commented on #2992
For Teams you can use the SDK provided here on:
- NuGet for C#: https://www.nuget.org/packages/Microsoft.Bot.Connector.Teams
- npm for Node.js: https://www.npmjs.com/package/botbuilder-teams

As depicted on the documentation ([here](https://msdn.microsoft.com/en-us/microsoft-teams/botapis)), you can get the list of team members.

Sample code (Node.js):
[code]

Sample code (C#):
[code]

But it is n