[2016-08-24 04:54] yuyuvn commented on #891
facebook also have this issue, especially when send a big image
[code]

[2016-08-24 06:16] zkahmad1 opened #1066 "Getting warning when using intentDialog, but input doesn't match."
Hi,

I've implemented intentDialog, but when inputting something that doesn't match, I get the following warning:

Is there a way to make this warning stop appearing? I'm currently testing using terminal, but I don't want it to occur when the bot is actually in use in chats.

Thanks.

[2016-08-24 06:25] mghimp commented on #725
Please reopen the issue as it has not been resolved. I opened this issue and my PR #764 is still pending.

[2016-08-24 06:28] eydelrivero commented on #1036
Are there any errors shown for Facebook in the Channels section in your Bot Framework Developer portal? I was having a similar issue and it was that I was using a URL with a wrong format. The error was shown in the developer portal.

[2016-08-24 06:34] stevinraj commented on #1065
Exactly.. I did copy paste the address of my bot..something like botapplication5-dev.us-west-2.elasticbeanstalk.com... because I am hosting my app on AWS....and I get an error message saying "you cannot give amazon site address in here."!! Am I wrong somewhere.  Thanks for your help.

[2016-08-24 08:32] hgjkant commented on #963
I am using LUIS. For example, a user can change the name the bot uses to refer to the user by saying either `Change my name to FooBar` or `Change my name`, after which the bot prompts for the new name. In the first case, the bot responds with `Hi foobar` (all lowercase), but in the second case (after the prompt) the bot responds with `Hi FooBar`.

I've tried the same utterance on luis.ai itself (i

[2016-08-24 09:05] brendanarnold commented on #982
I'd like to bump this since at the moment the DirectLine API is a little cumbersome.

As a workaround we have had to do the following ...

- Deliver multiple bot messages as an escaped JSON string in a single message
- Since we only ever get one (and only one) response, we can poll on the client side and stop when we get that one response

This means though that in all other channels, e.g. Skype,

[2016-08-24 09:26] eydelrivero opened #1067 "How can I guarantee message delivery when using IDialogContext.PostAsync?"
I'm sending two messages through the Facebook channel using this code:

[code]

The task is just to see what's going on with PostAsync. The first message is not delivered but the second one arrives without problems. Then when I check the Developer portal I see these errors:

which seems to indicate I'm sending to many cards within the same attachment in dummyActivity. Is there a way to know that t

[2016-08-24 09:48] skyrpex commented on #1046
If I send a POST request to ```https://skype.botframework.com/v3/conversations/12345/activities``` nothing happens at all and I get this response:

[code]

If I send the same POST request to ```https://apis.skype.com/v3/conversations/12345/activities``` I **do** receive the message in my chat, and I get this response:
[code]

Maybe I'm missing a parameter used at the botframework API in my request

[2016-08-24 12:28] AndyCross opened #1068 "Nodejs botbuilder promises don't Send messages"
I'm looking for advice on handling promise resolutions. Here's a really basic sample that will output "start of test" but not "end of test".

[code]

The session object is not null and seems in a good state, but no sending occurs when we reach the end of test position.

Any thoughts welcome.

[2016-08-24 12:58] gplumb commented on #1025
@MironV Is this on the Windows 10 Skype Preview client by chance?  This client does appear to have some aggressive bottom padding in its chat bubbles...

[2016-08-24 14:00] FreakDroid commented on #1062
Thanks a lot @craigjensen

[2016-08-24 14:04] skyrpex commented on #1046
I think I've fixed it adding the *conversation* and *channelId* attributes to the request.

[2016-08-24 14:10] filipeperdigaosousa opened #1069 "Delivery failure on Skype"
I created have a Nodejs bot that already worked on skype.
I needed to create the bot in a new microsoft account, so I deleted the older and created a new one with same configurations.

Now i can communicate through widget and emulator but skype messages are not being delivered, appearing a little warning icon on each message.

Anyone knows why is it happening?

[2016-08-24 15:09] graphnode commented on #1069
Having the exact same problem.

I tested it on the Facebook Messenger channel and it worked and the test button also works but on skype I always get delivery failure after the bot is added successfully.

[2016-08-24 15:18] nzthiago commented on #945
@dandriscoll if it's timing out is there a way to extend the timeout period? Or troubleshooting it further? It's still happening. When we enter the same commands as the test is, but to the bot via one of the channels and not via directline, this error never shows up.

[2016-08-24 15:49] Andrea-Orimoto commented on #751
Closing due to inactivity, please open a new issue or reply to this one asking us to reopen if needed. Thanks!

[2016-08-24 15:49] #751 closed

[2016-08-24 15:50] Andrea-Orimoto commented on #752
Closing due to inactivity, please open a new issue or reply to this one asking us to reopen if needed. Thanks!

[2016-08-24 15:50] #752 closed

[2016-08-24 16:50] willportnoy commented on #1067
That seems like a bug - the task should not be marked as completed until the message has been handed off to Facebook.

[2016-08-24 17:02] willportnoy commented on #1029
This is how we normally register the chain of IPostToBot middleware:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/DialogModule.cs#L171

This is our default container:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/Conversation.cs#L49

You can update the container using the ContainerBuilder like this:

https://github.com/Microsoft/BotBuild

[2016-08-24 17:04] #1012 closed

[2016-08-24 17:11] oztheozoz commented on #1012
@Andrea-Orimoto , I know we were able to get things working but I was just wondering if there was a fix with better messaging if people leave out the http:// (see my last comment for more details)?

[2016-08-24 18:42] msft-shahins commented on #725
@mghimp I commented on the PR. We can continue talking about this in the PR comment section.

[2016-08-24 18:42] #725 closed

[2016-08-24 19:03] Thegaram commented on #1068
This is a bug. In some cases, `ConsoleConnector` leaves the `Session` object in an inconsistent state, thus preventing subsequent messages from being sent. This should be fixed in the next release, #1023 is the related issue. (Your code should work as expected with `ChatConnector`.)

[2016-08-24 19:51] Andrea-Orimoto commented on #761
Closing this issue. If it's not fixed, please either open a new issue or reply to this one asking to reopen. thanks!

[2016-08-24 19:51] #761 closed

[2016-08-24 19:53] Andrea-Orimoto commented on #771
Closing due to inactivity, please open a new issue or reply to this one asking us to reopen if needed. Thanks!

[2016-08-24 19:53] #771 closed

[2016-08-24 20:04] AndyCross commented on #1068
Thanks for the insight @Thegaram

I'll await the fix in the release.

[2016-08-24 20:04] #1068 closed

[2016-08-24 20:08] Andrea-Orimoto commented on #811
Closing due to inactivity, please open a new issue or reply to this one asking us to reopen if needed. Thanks!

[2016-08-24 20:08] #811 closed

[2016-08-24 20:09] Andrea-Orimoto commented on #812
Assuming the last message from steve fixed it. Closing due to inactivity, please open a new issue or reply to this one asking us to reopen if needed. Thanks!

[2016-08-24 20:13] Andrea-Orimoto commented on #1063
This feature request has been added to our backlog, thanks!

[2016-08-24 20:13] #1063 closed

[2016-08-24 20:15] Andrea-Orimoto commented on #904
This feature request has been added to our backlog for future consideration. Thanks!

[2016-08-24 20:15] #904 closed

[2016-08-24 20:17] Andrea-Orimoto commented on #820
@Thegaram is this still an issue?

[2016-08-24 20:19] Andrea-Orimoto commented on #821
@htaunay have you been able to get clarity on this, or do you still need help?

[2016-08-24 20:22] Andrea-Orimoto commented on #823
Assuming steve's answer clarified the issue. If not please reply to this and ask us to reopen. Thanks!

[2016-08-24 20:22] #823 closed

[2016-08-24 20:30] htaunay commented on #821
Hi @Andrea-Orimoto, thanks for the reply

I actually haven't managed to achieve what I was after originally, which was to be able to deal with a received image files within the LUIS dialog, i.e. when using an `IntentDialog` - with `LuisRecognizer`-  as my default dialog object I still can't manage to receive image files.

The solution I posted in my last comment involves using a specific intent as

[2016-08-24 20:33] Andrea-Orimoto commented on #804
This has been fixed a while ago.

[2016-08-24 20:33] #804 closed

[2016-08-24 20:52] Andrea-Orimoto commented on #836
Closing due to inactivity, please open a new issue or reply to this one asking us to reopen if needed. Thanks!

[2016-08-24 20:52] #836 closed

[2016-08-24 20:55] willportnoy commented on #821
@Stevenic can you invoke an attachment prompt preferentially before dispatching to LUIS?

[2016-08-24 20:59] willportnoy commented on #1056
I think the feature request would be to "set the activity locale from the facebook user's profile".

[2016-08-24 21:18] Andrea-Orimoto commented on #878
assuming this was fixed. please open a new issue or reply to this one asking us to reopen if needed. Thanks!

[2016-08-24 21:18] #878 closed

[2016-08-24 21:24] Andrea-Orimoto commented on #892
Assuming steve's answer clarified your issue. Please reply to this issue asking us to reopen if needed. Thanks!

[2016-08-24 21:24] #892 closed

[2016-08-24 21:26] Andrea-Orimoto commented on #896
Seems like this issue was clarified. Closing due to inactivity, please open a new issue or reply to this one asking us to reopen if needed. Thanks!

[2016-08-24 21:26] #896 closed

[2016-08-24 21:29] Andrea-Orimoto commented on #899
Closing due to inactivity, please open a new issue or reply to this one asking us to reopen if needed. Thanks!

[2016-08-24 21:29] #899 closed

[2016-08-24 21:30] Andrea-Orimoto commented on #922
Assuming v-ms's answered the issue. Please open a new issue or reply to this one asking us to reopen if needed. Thanks!

[2016-08-24 21:30] #922 closed

[2016-08-24 21:32] #1066 closed

[2016-08-24 21:33] Andrea-Orimoto commented on #955
Closing due to inactivity, please open a new issue or reply to this one asking us to reopen if needed. Thanks!

[2016-08-24 21:33] #955 closed

[2016-08-24 21:38] zkahmad1 commented on #1030
Hi XelaMon and egoward, i'm having the same issue. The bot responds consistently to some users, but to others it is only responding to select messages.

My messaging endpoint is https://ffbot.azurewebsites.net/api/messages

[2016-08-24 21:38] #985 closed

[2016-08-24 21:54] Andrea-Orimoto commented on #1056
Added to our backlog for future consideration. Thanks!

[2016-08-24 21:54] #1056 closed

[2016-08-24 22:02] #1062 closed

[2016-08-24 22:29] filipeperdigaosousa commented on #1069
my skype bot is working again

[2016-08-24 23:04] Andrea-Orimoto commented on #702
Closing due to inactivity, please open a new issue or reply to this one asking us to reopen if needed. Thanks!

[2016-08-24 23:04] #702 closed

[2016-08-24 23:42] craigjensen commented on #1005
We have a fix ready for this and it will deployed soon.

[2016-08-25 00:16] #936 closed

[2016-08-25 00:28] Andrea-Orimoto commented on #839
@satheeshravi was this fixed?

[2016-08-25 00:41] Andrea-Orimoto commented on #841
@subhans3tech are you still having this issue? was the appid correct?

[2016-08-25 00:50] alexsorokoletov commented on #957
Hi guys! Any updates on that? There is a lot of work for you to do, I know, on the other hand this stops a lot of devs from publishing a bot on their sites. We're waiting for a fix for like a month (I created an issue after realized my request about this fix was lost). Any ideas how we could fix this? Maybe we could fix it and make a pull request?

[2016-08-25 01:38] msft-shahins commented on #840
@falvarezoliva do you still have this issue?

[2016-08-25 02:00] satheeshravi commented on #839
@Andrea-Orimoto : Sorry about the delay. I will try it out and update you folks by the weekend.

[2016-08-25 05:25] kenyeung128 commented on #1029
Thanks @willportnoy , it works for me now. I just re-register without PostUnhandledExceptionToUserTask

[2016-08-25 06:52] sudeepsama opened #1070 "Processing the completed order"
(BotBuilder/CSharp/Samples/AnnotatedSandwichBot/Controllers/MessagesController.cs ) inside MakeRootDialog()  function, when we try to process the completed variable, the formflow object skips the completion block and restarts formflow.
For example, I am trying to process the final order from 'completed' object. But it doesn't allow to use the object to retrieve value from another object based on r

[2016-08-25 08:27] GCyrielle commented on #1059
I'll see what I can I do with that then.
Thanks for your answer.

[2016-08-25 08:27] #1059 closed

[2016-08-25 08:51] krazylearner opened #1071 "is it possible to write custom connector ?"
HI
i want to know if there is any guide or example on how to write custom connector which can work with universal bot ? My goal here is that anybody can do npm install 'my-custom-connector' and then use this in universal bot ?

i want to write a connector for some sms gateways

thanks

[2016-08-25 08:59] rzmoz opened #1072 ""To" field is missing from messages in DirectLine (and WebChat) API"
Hi,

I'm implementing a custom sms channel using DirectLine for integration. The Issue is that the direct line messages api doesn't have the TO field set:
https://docs.botframework.com/en-us/restapi/directline/#!/Conversations/Conversations_GetMessages

This makes it impossible to send the sms without storing the TO filed somewhere on the client side.

As a side note, I tried the webchat API as we

[2016-08-25 10:18] KonstantinKharitonov opened #1073 "No link preview for bot message - improve Slack support"
Hello,

We create Slack bot using MS bot network for simple notifications from HR Tech project. https://cerebro.slack.com/apps/A243V8QEQ-staya-bot

If bot send text messages w/ **external** link, slack don't create preview (sniped for link by Open Graph protocol) But if user send the same message preview created see img. attachment -
![bug_bot](https://cloud.githubusercontent.com/assets/3913376/17

[2016-08-25 10:30] graphnode commented on #1069
Can confirm, it stared working. I think it was some service or deploy that went wrong.

Could we get information when this happens on the dashboard? The issue count was 0.

[2016-08-25 10:31] ubreddy commented on #183
Thanks Steve. this fixes the problem.
btw, would you know how long the session object will be available in memory. How can we clean up the memory if they are kept in memory for those chats that gone idle?

[2016-08-25 11:18] Avartarus-Testicus opened #1074 "[Node.js] Expand hero card in skype"
Hi,
I tested some stuff with herocard for skype...like below:

var card = new builder.HeroCard(session)
    .title(test)
    .text(test + ':' + '\n\n'+
          test +
          test +
         '\n\n')
    .buttons([test])

...and I noticed, If the content in .text() is too long, the hero-card isn't expanding. At beginning you can see your text, but at a certain point the content isn't shown anym

[2016-08-25 11:50] afficionaddo opened #1075 "Where does IBotDataStore save data?"
Hi,
I am using BotState to maintain conversation of the chat.

May be I am just spitballing here:
But where exactly does it save data?...what's the location? Some server of yours?

[2016-08-25 11:54] afficionaddo opened #1076 "Show large description type data in Facebook Thumbnail card"
Hi,

I want to show some data in Thumbnail card. But I am facing issues:

1. Text: "xxxxx" --> This field data is never shown in FB messenger
1. Title: "xxxx" --> If this title is too long, the FB messenger shows '......' in front.

So which field should i use if I want to show large description type data.

[2016-08-25 12:06] kenyeung128 opened #1077 "How to send Facebook's Quick Replies"
Hi, it doesn't seems the botbuilder framework support Quick Replies from Facebook:
https://developers.facebook.com/docs/messenger-platform/send-api-reference/quick-replies

Would it be a workaround for it or plan for next release? Thank you

[2016-08-25 13:24] zzzbatmand opened #1078 "Auto message chat room"
Is it possible for the bot to automatically message a chat room?
I have made a timer that works and made that send a message, but it requires that you have at least written to the bot first. This is a problem if the bot crashes and needs a restart, so is there another way?
P.S. I stored the session in a global variable so it could be used later.

[2016-08-25 13:45] KrishnanA commented on #1069
Hello, sorry for the trouble. We had to rollback a deployment when we noticed the issue. We will look into making information available on the dashboard.

[2016-08-25 13:45] #1069 closed

[2016-08-25 14:02] ziggy42 opened #1079 "[Node.js] intent has score 0 but it shouldn't"
I created a LUIS application with some intents and all was working fine.
Then I added a new intent and when I send a message that should match that intent I always end up in `onDefault` . All I get is `{ score: 0, intent: null }`.
But in the LUIS dashboard I can see that those utterances are correctly classified, sometimes even with a 1.

[2016-08-25 14:09] KrishnanA commented on #1009
Can we treat this issue as resolved?

[2016-08-25 14:48] hgjkant opened #1080 "[Node] Storing canvas in session causes error"
Hi,

in one of our use cases some data can be retrieved from a server which can have a base64 encoding of a canvas in it. I am not exactly sure if it's stored in the userData, but somewhere down the line an error is thrown.

[code]

[2016-08-25 14:49] kenyeung128 opened #1081 "How to change LUIS model dynamically"
Hi

How would it be possible to update the LUIS Model in LuisDialog dynamically? There is LuisModel attribute but I can't see where I could change this model dynamically, if user change the language. Thanks!

    [LuisModel("xxxxxx-xxxxx-xxxxx-xxxx-xxxxxxxxxxxxxxxxx", "xxxxxxxxxxxxxxxxxxxxxxxx")]
    [Serializable]
    public class WelcomeDialog : LuisDialog<WelcomeScreen>{
}

[2016-08-25 15:20] rahul251993 commented on #63
Its 'chrono', so try using chrono.parseDate( xyz); .
i hope it works now. :+1:

[2016-08-25 15:33] jasondwilliams commented on #1031
In the response from LUIS, each entity mention includes pointers into the original (pre-tokenized) query string indicating the start and end characters of the entity substring.  Could that be used in parseNumber?

For example:

{
  "query": "hello 4.3 thanks",
  "intents": [
    {
      "intent": "None",
      "score": 0.8677383
    }
  ],
  "entities": [
    {
      "entity": "4 . 3",
      "type

[2016-08-25 16:22] eanders-MS commented on #1053
Hi Varooneh, What are you trying to do when you receive this error? Also, what is your bot handle?

[2016-08-25 16:23] DOMZE opened #1082 "LUIS: Transition from one dialog to another, with the new dialog processing the original message sent by the user"
Hello,

As discussed in the following [post](https://github.com/Microsoft/BotBuilder/issues/127) by @ylibrach

Trying to transition a message i.e. LuisDialog A picks up a message, and then decides to transfer the message to LuisDialog B.

Overriding LuisDialog.MessageReceived to save the original Message in LuisDialog A, then call LuisDialog B with a method calling the base implementation of Messa

[2016-08-25 16:25] eanders-MS commented on #1050
No, Skype does not support editing /updating previously sent messages.

[2016-08-25 16:25] #1050 closed

[2016-08-25 16:26] dmdnkv commented on #1050
@eanders-MS ok, got it

[2016-08-25 16:40] DOMZE commented on #1079
Did you update (publish) your LUIS to take in effect your changes?

[2016-08-25 16:42] Varooneh commented on #1053
Hi @eanders-MS, when I want answer to user request from my bot engine, data from user send successfully to my service with botframework but in response step to user I see this error in botframework Bot List, I've this error for all bot created in telegram, I've 20 bot and get this error for all.
for sample : @AbanSampleBot or @BahounehFoodBot, bot's and api's work perfect in skype and etc but in t

[2016-08-25 16:42] marcussacana commented on #1050
a old api version, i can send a message, pick your ID and edit it...

[2016-08-25 16:47] eanders-MS commented on #935
Sorry or the slow response! I just noticed this issue assigned to me.
Telegram has two types of keyboard: inline and reply. Inline keyboards appear in the chat stream, and scroll up when new messages arrive. Reply keyboards pop up like a traditional keyboard would, and disappear once the user makes a choice. Telegram requires inline keyboards to be accompanied by message text, which is why we send

[2016-08-25 16:50] eanders-MS commented on #846
Sorry for the slow response this time! Are you still seeing this issue?

[2016-08-25 16:58] willportnoy commented on #1082
IDialogStack.Forward, exposed through the IDialogContext is a good way to forward the original message to a child dialog.  Does that work for you?

[2016-08-25 16:59] willportnoy commented on #1081
The LuisDialog constructor takes an ILuisService:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/LuisDialog.cs#L146

You can implement ILuisService to select which underlying LuisService/LuisModelAttribute you'd like to use based on your language signal.

[2016-08-25 17:02] eanders-MS commented on #1053
It looks like the message you're sending contains formatting that Telegram is trying to interpret as a markdown link, and failing to do so. For example: [/ShowMenu]. In markdown syntax, square brackets indicate a link, and so Telegram is trying to parse the contents inside the brackets as a URL.

You might try escaping them, but I'm uncertain whether Telegram supports escaping of special character

[2016-08-25 17:03] willportnoy commented on #1080
How much data are you trying to store?

https://docs.botframework.com/en-us/technical-faq/#is-there-a-limit-on-the-amount-of-data-i-can-store-using-the-state-api

[2016-08-25 17:04] willportnoy commented on #1075
https://docs.botframework.com/en-us/technical-faq/#where-is-conversation-state-stored

Tell me if you have further questions.

[2016-08-25 17:10] willportnoy commented on #1070
Generally you call the FormDialog as a child dialog, and it returns the completed form to your resume handler.

call:
https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Samples/PizzaBot/PizzaOrderDialog.cs#L61

resume with form value:
https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Samples/PizzaBot/PizzaOrderDialog.cs#L69

[2016-08-25 17:11] willportnoy commented on #1079
I agree @DOMZE that seems like the likely cause.

[2016-08-25 17:13] willportnoy commented on #1078
Some channels require that the bot be added to the chat room or spoken to by the user first.

If you have state you'd like to persist across bot process exist, then use the bot state service.

https://docs.botframework.com/en-us/technical-faq/#what-is-the-difference-between-proactive-and-reactive

[2016-08-25 17:15] willportnoy commented on #1077
The node version supports quick replies: more information on https://github.com/Microsoft/BotBuilder/issues/585.

The C# version might support it through channel data - I haven't tried it myself.

[2016-08-25 17:16] Varooneh commented on #1053
Thank you for reply.
When I send /ShowMenu to backend, just /ShowMenu (without brackets) post to server like /start or and telegram command: /help, /cancel or etc... command (this is default way for telegram command [https://core.telegram.org/bots#commands](url) ), 2 or 3 week ago system worked successfully but know, when I want use telegram bot with botframework I've this error. telegram bot supp

[2016-08-25 17:17] ziggy42 commented on #1079
Ops, I didn't know I had to do it 😅 thanks!

[2016-08-25 17:17] #1079 closed

[2016-08-25 17:24] Varooneh commented on #1053
![untitled1](https://cloud.githubusercontent.com/assets/16257304/17979038/fbe81c62-6b0d-11e6-9793-6540ccb8a916.png)

See this picture, when I send /start (default command for all bot), I've data successfully in my database in server but when service want to send data to user i've again error.

[2016-08-25 17:24] ejadib commented on #1077
@kenyeung128 I just tried using channel data in C# per Will suggestion and it's working

[code]

[2016-08-25 17:26] eanders-MS commented on #1053
What happens when you send the message without the brackets? Are you seeing the same error?

[2016-08-25 17:26] DOMZE commented on #1082
@willportnoy Forward does indeed forward the request (message)
However, I am getting a System.Runtime.Serialization.SerializationException.

Basically what I am doing is I took the pizza order sample and tried to chain it with another dialog I have (LUIS)

in my luisintent method I am calling the following:
await context.Forward(Chain.From(() =>new PizzaOrderDialog(BuildForm)),OnPizzaOrderingDone,

[2016-08-25 17:30] validian opened #1083 "Can't upgrade to Microsoft.Bot.Builder v3.x"
I have been using Microsoft.Bot.Builder v1.x and its been working fine. Once I try to switch to any version 3 of Microsoft.Bot.Builder I get the following error:

Assembly 'Microsoft.Bot.Builder' with identity 'Microsoft.Bot.Builder, Version=3.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' uses 'Microsoft.Bot.Connector, Version=3.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' w

[2016-08-25 17:38] Varooneh commented on #1053
Yes, I see same error for all user entry like /start or int value or string value or /ShowMenu or /ContactUs or etc... in all bot, when user send /ShowMenu (without brackets) when click on it (user no need type /ShowMenu just click on it and telegram send only /ShowMenu like /start), in database I create a log (log created successfully) then, I get bot handle from activity and make a menu based on

[2016-08-25 17:41] Thegaram commented on #1083
You don't need the `Microsoft.Bot.Connector` package, so just remove it. I'd suggest manually deleting both dlls (`Microsoft.Bot.Connector` and `Microsoft.Bot.Builder`) and then trying to install the updated version of the latter.

[2016-08-25 17:53] validian commented on #1083
Ok, once I did that (removed both packages and made sure they wern't in packages folder and deleted the bin folder of project so DLL's wouldn't be there) and re-installed to v3.2 of Microsoft.Bot.Connector I get that Message cannot be found:

public async Task<Message> Post([FromBody]Message message)

This is in my Messages controller.

[2016-08-25 17:55] validian commented on #1083
Nvm, I re-looked at the documentation looks like I should be using Activity now instead of Message.

[2016-08-25 17:55] oztheozoz commented on #1031
That is a good work around that I didn't think of. I chose to just modify how ParseNumber works by relaxing the regex a little #1033.

[2016-08-25 17:58] willportnoy commented on #1082
Right - Activity itself is not serializable.  Does it need to be preserved across a turn of conversation with the user?  If not, then mark it with the [NonSerialized] attribute or null it out.

[2016-08-25 18:02] eanders-MS commented on #1053
When it was working 2-3 weeks ago, was the message formatted like it is now, with the slash command in square brackets? When formatted like this `1- پیتزا - [/XedRZs]`, it was working?

Looking through our Telegram service logs, the most recent failure from one of your bots happened at 10:26 AM PST (about 30 mins ago). The message still contained the slash command surrounded by square brackets (th

[2016-08-25 18:07] DOMZE commented on #1082
Yes that works perfectly.
Making the field [NonSerialized] solved the problem!

[2016-08-25 18:07] #1082 closed

[2016-08-25 18:13] palmerabollo commented on #1081
@willportnoy Thanks for the answer. Do you know if that also applies to the Node.js version of the SDK?

[2016-08-25 18:34] Andrea-Orimoto commented on #1031
Closing this as it seems you have a work around and a PR going on. Thanks!

[2016-08-25 18:34] #1031 closed

[2016-08-25 18:43] oztheozoz commented on #1031
@Andrea-Orimoto , how will this defect get communicated to the team in charge of Luis?

[2016-08-25 18:49] Varooneh commented on #1053
When user want to work with bot, in menu user see `1- پیتزا - [/XedRZs]` , for response, user can send 1 or click on `/XedRZs` like link and then, 1 or `/XedRZs` send to server, brackets just use like a border and not send to server, I traced input string from user and it's ok.

Yes, it was like it is now and it's worked successfully, I'm sure square brackets not send to server but for for greater

[2016-08-25 18:58] liiver commented on #980
I'm having the same issues :( BotID  "eldur3"

[2016-08-25 19:25] willportnoy commented on #1015
The chat control uses markdown:

https://docs.botframework.com/en-us/support/embed-chat-control2/

[2016-08-25 19:27] willportnoy commented on #963
The LUIS response includes a pointer to the offset within the original query string - maybe you can use that.  For example, here is the C# exposition of that:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Luis/Models/EntityRecommendation.cs#L61

[2016-08-25 19:32] willportnoy commented on #1065
Where did you see that error message?  I don't know of any hosting restrictions for bots inside the Bot Framework.

Were you trying to set up SSL?

[2016-08-25 19:34] willportnoy commented on #1081
@Stevenic @muzahmed can you comment?

[2016-08-25 19:41] danmarshall commented on #980
Thanks @manojkota and @liiver - at this point it would be very helpful for us to diagnose your issue if you can provide a more complete code sample which reproduces the issue. We cannot reproduce the scenario so if you can isolate a code block that will be valuable for us.

[2016-08-25 19:54] Andrea-Orimoto commented on #1031
jason, who replied above, is part of the luis team, and they have captured this issue in their backlog. Thank you!

[2016-08-25 20:23] fercom opened #1084 "Is it possible to return an Activity from a LuisDialog?"
I understand that the "original" activity is needed to create a response with attachments from inside a Dialog like this:

public async Task ActivityReceivedAsync(IDialogContext context, IAwaitable<IActivity> argument)
        {
            IActivity activity = await argument;
            var message = activity as Activity;
            IMessageActivity replyToConversation = message.CreateReply("We

[2016-08-25 21:10] liiver commented on #980
For me it seems similas as with @manojkota

So debugging it also locally, the exeption is either thrown in
                await connector.Conversations.ReplyToActivityAsync(reply);
or
                await Conversation.SendAsync(activity, () => new MainDialog());
i.e. it It does not seem to go onwards from there to my MainDialog() which is a LuisDialog

But in the first example, there is no LuisD

[2016-08-25 21:17] willportnoy commented on #1084
You can use context.MakeMessage to get access to an activity for sending attachments.

If you want to pass activity to a child dialog, consider https://github.com/Microsoft/BotBuilder/issues/1082.

Also in the newest release, you can access the original incoming message from the intent handlers:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Samples/AlarmBot/Dialogs/AlarmLuisDialog.cs

[2016-08-25 21:32] msft-shahins commented on #908
It is fine to have the pattern to loop over your logic. An alternative is using Chain dialogs to achieve the logic above:

[code]

[2016-08-25 21:32] #908 closed

[2016-08-25 21:39] palmerabollo opened #1085 "Locale files in Node.js SDK"
I'd like to use `session.ngettext` and `session.gettext`. Where should I put my i18n files and what format should I use to find a text by its `msgid`?

There are classes such as [`DefaultLocalizer`](https://github.com/Microsoft/BotBuilder/blob/master/Node/core/src/DefaultLocalizer.ts#L39) in the repository. If I'm not wrong, they try to parse json files in a `/locale`folder, but the SDK is not cle

[2016-08-26 00:55] euanlau commented on #881
I ran into the same issue. Then I tried \n\n and it works.

[2016-08-26 01:00] craigjensen commented on #1073
Slack defaults unfurl_media to true and unfurl_links to false.  If you want to change the defaults you can pass them in ChannelData as follows:

[code]

I've closed this issue.  Please reopen if you have additional questions

[2016-08-26 01:43] #881 closed

[2016-08-26 01:48] reyesrico commented on #1076
1. Text: "xxxxx" -> Facebook Messenger channel does not support "text" name property, that's why you will not see the text inside the Thumbnail Card. (I suggest to send the text outside the Thumbnail Card).
2. Title: "xxxx" -> Facebook Messenger channel has a limit of 80 character for the "title" name property, that's why you will see "..." after 77 character of your title text.  (I suggest to cha

[2016-08-26 02:02] reyesrico commented on #1074
I have reproduced the same that you are facing. It seems that Skype channel has a limit of characters like Facebook channel. I have tried with WebChat and Telegram and the long-text is being displayed successfully.

[2016-08-26 02:27] fercom commented on #1084
Ok, now I tried with this code:
`   var msj = context.MakeMessage();
                msj.Text = "hello";
                msj.Attachments.Add(
                           new Attachment()
                           {
                               ContentUrl = "https://upload.wikimedia.org/wikipedia/en/a/a6/Bender_Rodriguez.png",
                               ContentType = "image/png",

[2016-08-26 02:38] willportnoy commented on #1084
It seems likely that you're storing the LuisResult as a class member within your dialog.  Do you need it preserved while waiting for user input?  If not, mark it with the [NonSerialized] attribute.

[2016-08-26 02:44] fercom commented on #1084
You are absolutely right, I had exactly that and I wasn't even using it. After I removed the unused field it works. Thanks!

[2016-08-26 04:04] craigjensen commented on #1005
Fix was deployed today.  Please reopen if the problem still exists

[2016-08-26 04:04] #1005 closed

[2016-08-26 06:32] Varooneh commented on #1053
@eanders-MS , I talk with telegram support and he/she say : I think it will be related to html parse mode. You may be adding an empty href parameters. We fixed a bug and this is not anymore supported.
this is a bug from telegram but I need changes all code and structure, telegram says you cannot use /text without command registered or link url.

I, close this issue and very very thank you for help

[2016-08-26 06:32] #1053 closed

[2016-08-26 07:31] J3QQ4 commented on #1060
I believe this is just disabled by Facebook. There seems to be no way to make the call button work there.

[2016-08-26 07:35] J3QQ4 opened #1086 "[Question] No way to grab IDialogContext / IDialogStack from within MessageController?"
Hi. My bot is launching a root dialog from the MessageController, and then the root dialog launches child dialogs.

I am trying to enable the user to jump out of any dialog at any point by just typing "exit" or "quit". The problem is that I would need to add a check for that at every single method within each IDialog that I have, so I am looking for another way to intercept the "exit" keyword and

[2016-08-26 07:35] #1054 closed

[2016-08-26 07:56] J3QQ4 commented on #1047
1) No way to grab the email from the bot. The page app is very limited in that, unlike normal facebook app.

2) Not available. Someone told me it can be stored in activity.Entities if the user shares the location to you manually, but it didn't work for me either, both the Attachments and Entities are empty.

[2016-08-26 08:00] J3QQ4 commented on #789
Same here, never got a ReceiptCard to work, although it shows up fine in the bot emulator. Judging by #644 the ReceiptCard may be broken now.

[2016-08-26 08:31] ubreddy commented on #1078
is there an example of proactive messaging?  I have the following use cases.
1. to initiative a conversation with a user on a data event.
2. to prompt the user if he has been idle for some time.

[2016-08-26 08:56] zzzbatmand commented on #1078
Thank you @willportnoy that helped me understand what i needed. I have now made it message me by itself.

For @ubreddy, if you need an example i have the code i use to make it work, just put it in a function, then you can call it asynchronously.

[code]

I've got this information by printing the session.message.address as a string, when a user is messaging the bot, using `console.log("FROM : "+JSO

[2016-08-26 08:56] #1078 closed

[2016-08-26 09:16] zzzbatmand opened #1088 "[Question] Get group info on launch."
Is it possible for the bot "on launch" to detect all friends/groups/chats it's a part of?

I currently have it so the user has to type to the bot atlas once to make it remember the session, but if i remove the bot or add it to a new chat, i want it to know it, every time i launch the program, if this has happened. I have an "on contactRelationUpdate" function, but this only runs if the bot is acti

[2016-08-26 09:19] eydelrivero commented on #1086
I know it's not pretty, but you can always create a state client and delete the state for the user in the current channel like this:

[code]

The problem is that this not only deletes the dialog stack but also all data stored for the current user, and conversations for that user in the current channel. Maybe the someone can comment on a better way.

[2016-08-26 09:37] J3QQ4 commented on #1086
@eydelrivero Yep, this is what I'm doing right now (except I'm using the non-async method).

My best idea so far is to grab the user data (such as preferences and settings), delete the state and then immediately restore user data.

I have a question with bounty on another website right now, if someone finds a solution I'll post here too.

It's a pity that we have the IDialogStack.Reset() method bu

[2016-08-26 09:47] v-ms commented on #1074
Skype Hero cards have the following limitations on the number of lines displayed:

title - 2 lines max
subtitle - 2 lines max
text - 2 lines or more if either Title or Subtitle are not present. If Title is missing, 2 more lines of text are allowed. If SubTitle is missing another 2 lines of text are allowed.

So the maximum number of lines for text (if both title and subtitle are missing) is 6 line

[2016-08-26 10:21] remyagiri opened #1089 "Can I upload and publish bot to external server except Microsoft Azure and still accessible from Microsoft bot directory"

[2016-08-26 11:08] #1071 closed

[2016-08-26 11:35] eydelrivero commented on #1086
@J3QQ4 I've been thinking of this and found that you can delete only the private conversation data, which is where the dialog stack is saved according to the [documentation](https://docs.botframework.com/en-us/technical-faq/#where-is-conversation-state-stored), and not the whole user data like this:

[code]

that way you left untouched the user data that is not particular to a conversation. Still

[2016-08-26 12:57] KonstantinKharitonov commented on #1073
We use you JavaScipt API for bots.
Can't you provide ex. using JavaScipt?
P.S: BTW - you JS documentation don't have good amount of examples :(

[2016-08-26 14:01] afficionaddo commented on #1075
Super @willportnoy .....the FAQs are awesome.

[2016-08-26 14:01] #1075 closed

[2016-08-26 14:17] ankitbko commented on #1089
Yes. You can publish bot anywhere with only requirement that it should be accessible over internet over HTTPS.

[2016-08-26 14:33] giriganapathy opened #1090 "Carousel is not working in Facebook - BOT - Nodejs - Reg."
![32fbcf56571baedc](https://cloud.githubusercontent.com/assets/18748896/18008986/fdb127d6-6bc7-11e6-8d2d-c674eeec155f.gif)

Hello Steve,

The carousel is not working in Facebook, and I am getting the below error:
Facebook graph API call failed with: BadRequest {"error":{"message":"(#194) param message[quick_replies] has too few elements.","type":"OAuthException","code":194,"fbtrace_id":"COhgOFiKq6

[2016-08-26 14:45] Avartarus-Testicus commented on #1074
Too bad, that there is no way for expanding. But thanks for your answers

[2016-08-26 14:46] #1074 closed

[2016-08-26 16:05] muzahmed commented on #1085
@palmerabollo you'll want them sibling to your bot's app.js file.

take a look at: https://github.com/Microsoft/BotBuilder/tree/master/Node/examples/basics-localization for an example, I'll add some more docs (and features!) around the localization stuff shortly, so stay tuned.

If you have other questions etc, lmk

[2016-08-26 16:13] 0GiS0 opened #1091 "Skype calling - Supported languages"
Hi folks,

Do you know which languages are supported by Skype calling?

Thanks!

[2016-08-26 16:49] Andrea-Orimoto commented on #1089
ankitbko is correct, you can publish anywhere, as long as you have a public https endpoint.

[2016-08-26 16:49] #1089 closed

[2016-08-26 16:54] Andrea-Orimoto commented on #1085
@palmerabollo closing this issue, if you still have questions, let us know. Thanks!

[2016-08-26 16:54] KrishnanA commented on #1091
As of today, Skype Calling only supports English. Of course if you are playing a prompt using a recorded WMA, then it can support any language.

[2016-08-26 16:54] #1091 closed

[2016-08-26 17:06] 0GiS0 commented on #1091
Ok, thanks!

[2016-08-26 17:24] satyajit-behera opened #1092 "How can we integrate a payment gateway which opens in a browser"
Does bot allow to open a link in a browser from within the bot?

If yes, then, can we notify to the user using bot about the confirmation using some technology such as Signal R or some other method from the server side.

Thanks

[2016-08-26 17:25] euanlau commented on #929
I just ran into the same problem when I just tried to use regex to match the message.

For example, I have `help` as a command. `/^help/i`only works for 1-1 convo. I have to do something like `/^(<at)?.*(at> )?help/`in order to make it work for group convo.

[2016-08-26 17:34] Andrea-Orimoto commented on #1000
Hi eiva, you can use DirectLine to embed your bot in any app or channel https://docs.botframework.com/en-us/restapi/directline/. hope this helps. feel free to reopen if needed. Thanks!

[2016-08-26 17:34] #1000 closed

[2016-08-26 17:40] #1084 closed

[2016-08-26 17:46] Andrea-Orimoto commented on #1073
@muzahmed @Stevenic can you provide an example in node?

[2016-08-26 18:27] Thegaram commented on #1092
Well, you can always send a link to the user and ask her to open it. I doubt that for example Facebook allows bots to navigate to a different page.

[2016-08-26 18:34] palmerabollo commented on #1085
Thanks for the answer, @muzahmed.

The latest npm package (botbuilder@3.2.3) was released 2 weeks ago, so the following code does not work:

[code]

because there is not a `localizerSettings` property in the `IUniversalBotSettings` interface definition yet. This interface changed only 11 days ago (see [your commit](https://github.com/Microsoft/BotBuilder/commit/cc9228092f6c0fb564cced7af333a4de8f12

[2016-08-26 18:38] Andrea-Orimoto commented on #841
@subhans3tech I'm closing this issue, I'm assuming it was due to a wrong appId. Please reopen it if the problem still persists and you need more help. Thanks!

[2016-08-26 18:38] #841 closed

[2016-08-26 18:46] Andrea-Orimoto commented on #848
@lucasmdesousa is this still an issue or was it resolved? thanks.

[2016-08-26 18:53] Andrea-Orimoto commented on #830
@vlttnv I'm assuming you solved this issue, if not please reopen. Thanks!

[2016-08-26 18:53] #830 closed

[2016-08-26 18:56] muzahmed commented on #1085
@palmerabollo yup, we will be releasing a new update in the next week that addresses that and provides further features and bug fixes!

[2016-08-26 18:56] #1085 closed

[2016-08-26 19:05] Andrea-Orimoto commented on #931
@MironV we've added this to our backlog, thanks a lot for the suggestions!

[2016-08-26 19:05] #931 closed

[2016-08-26 19:10] Andrea-Orimoto commented on #989
@maximilianlorent did the related issue help? thanks.

[2016-08-26 19:16] Andrea-Orimoto commented on #1003
@AidanBr sorry, did not have time to investigate yet. I'm going to close this issue since it's not affecting you anymore, but I've opened a ticket to do some investigation. Will post here some more info if we get to it. Thanks!

[2016-08-26 19:16] #1003 closed

[2016-08-26 19:36] filipeperdigaosousa commented on #1009
Yes,  trained my luis to recongize email inside tags

[2016-08-26 19:51] tomlm commented on #1040
From.Id is the unique id of the user on the channel
From.Name is the name if available for the user on the channel
To reply you want to do
      Activity reply = activity.CreateReply("this is my message");
      await connector.Conversations.ReplyToActivityAsync(reply);
or
      Activity reply = activity.CreateReply();
      reply.Text = "this is my message";
      await connector.Conversations.Re

[2016-08-26 19:51] #1040 closed

[2016-08-26 20:01] #1009 closed

[2016-08-26 20:03] Andrea-Orimoto commented on #598
Closing due to inactivity, @jigneshs123 please reopen if this is still an issue. Thanks!

[2016-08-26 20:03] #598 closed

[2016-08-26 20:19] willportnoy commented on #1086
You might consider using a scorable like this example cancel scorable:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Tests/Microsoft.Bot.Builder.Tests/ScorablesTests.cs#L54

Tell me if you have further questions.

[2016-08-26 20:24] willportnoy commented on #937
You should be able to use ChannelData to send the native blob to Facebook - for example, see https://github.com/Microsoft/BotBuilder/issues/1077.  @chrimc62 is there any Facebook persistent menu support in FormFlow?

[2016-08-26 20:54] willportnoy commented on #1083
@validian I think your issue has been solved - I'm going to close this issue but feel free to open a new issue for further discussions.

[2016-08-26 20:54] #1083 closed

[2016-08-26 20:54] Andrea-Orimoto commented on #870
You can use DirectLine to embed your bot in any app or channel https://docs.botframework.com/en-us/restapi/directline/. hope this helps. feel free to reopen if needed. Thanks!

[2016-08-26 20:54] #870 closed

[2016-08-26 21:17] 0GiS0 opened #1093 "Skype calling - chat demo doesn't work"
Hi,

I was testing this demo for Skype calling with Node.JS: https://github.com/Microsoft/BotBuilder/blob/master/Node/examples/demo-skype-calling/app.js but the chat dialog doesn't work. chatBot.send is Forbidden with that address object.

Any ideas? Thanks!

[2016-08-26 21:21] v-tbert opened #1094 "No documentation or examples of the usage of IntentDialog in C#"
Documentation indicates LuisDialog is deprecated:

https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.luisdialog
https://docs.botframework.com/en-us/node/builder/chat/IntentDialog/

However, it doesn't appear that there are any examples of its use with C#, or anything indicating that it is a node only class.

[2016-08-26 21:26] Andrea-Orimoto commented on #934
Closing this issue, commit is here https://github.com/Microsoft/BotBuilder/commit/c0eb2beffec350254ed099ff50f8c27df063e35b. Will be in the next npm package. Thanks!

[2016-08-26 21:26] #934 closed

[2016-08-26 21:46] Andrea-Orimoto commented on #1094
C# is still using the LuisDiaolg, example here https://docs.botframework.com/en-us/csharp/builder/sdkreference/dialogs.html#alarmBot. We're working on IntentDialog for C#, stay tuned. Feel free to reopen the issue if you still have questions. Thanks.

[2016-08-26 21:46] #1094 closed

[2016-08-26 21:54] willportnoy commented on #1029
@kenyeung128 I'm glad it works for you - I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-08-26 21:54] #1029 closed

[2016-08-26 21:55] willportnoy commented on #1015
I'm going to close this issue, but feel free to open a new issue with further questions.

[2016-08-26 21:55] #1015 closed

[2016-08-26 21:56] willportnoy commented on #1004
@aqalalwa do you have the call stack where the exception is thrown?

[2016-08-26 22:01] reyesrico commented on #1041
One way that emoticons can be managed is this one:
1. Use a global emoji cheat sheet list.
(http://www.webpagefx.com/tools/emoji-cheat-sheet/)
2. Map of the emoji code and its unicode data
(http://unicode.org/emoji/charts/full-emoji-list.html)
3. Implement a dictionary in your C# or NodeJS with this map.
4. Use an Unicode code point utility to proper manage your code.
(i.e. CodePoint for NodeJS -

[2016-08-26 22:02] eanders-MS commented on #935
@MironV Closing this issue now. Please drop a comment here if you'd like to pursue the topic further.

[2016-08-26 22:02] #935 closed

[2016-08-26 22:04] eanders-MS commented on #846
@Avartarus-Testicus Closing this issue. Please post a comment here if you need additional assistance and I will reopen.

[2016-08-26 22:04] #846 closed

[2016-08-26 22:14] jameslew commented on #1092
Most channels do allow your bot to pass a http link to the user (or https in some cases) via the activity object and that would be a reasonable approach.  Even Facebook allows you to link out (in a card for example).

As far as your payment processor, I'd assume they had some way you could monitor for payments that happened and then you could act based on that.

[2016-08-26 22:14] #1092 closed

[2016-08-26 22:16] jorenl commented on #1081
@willportnoy @palmerabollo The Node.JS [IntentDialog](https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.intentdialog.html) constructor takes a list of [IIntentRecognizer](https://docs.botframework.com/en-us/node/builder/chat-reference/interfaces/_botbuilder_d_.iintentrecognizer.html)'s.  The recognizer's are passed a [context](https://docs.botframework.com/en-u

[2016-08-26 22:17] hailiu2586 commented on #1088
which channel are you looking to add this functionality facebook/slack/groupme/skype?

[2016-08-26 22:17] danmarshall commented on #924
Hi @euanlau, are you still experiencing this issue?

[2016-08-26 22:24] danmarshall commented on #819
Hi @XelaMon this does sound like an HTTP retry issue. If your responses take a long time perhaps you should consider returning a 204 No Content and then replying later.

[2016-08-26 22:26] danmarshall commented on #754
Hello @asubbotin are you still experiencing this issue?

[2016-08-26 22:27] eanders-MS commented on #843
@berhir Thanks for your patience. This has been fixed internally. Telegram's conversationUpdate messages will now include ChannelData. This fix will go live the with the next push to production. We typically update production every week or so.

[2016-08-26 22:27] #843 closed

[2016-08-26 22:35] #1014 closed

[2016-08-26 22:37] danmarshall commented on #964
Hello @Leoperd87 are you still seeing this issue?

[2016-08-26 22:38] danmarshall commented on #964
Hello @HKOLWD is your issue related? If not, perhaps you can open a new issue with the scenario you are experiencing.

[2016-08-26 22:42] Andrea-Orimoto commented on #1039
Thanks for reporting this, we've filed it as a bug to investigate.

[2016-08-26 22:42] #1039 closed

[2016-08-26 22:48] reyesrico commented on #1041
If you still have more comments, please reopen the issue. Thank you.

[2016-08-26 22:48] #1041 closed

[2016-08-26 23:30] jameslew commented on #1073
You can use something like this:

function oneOffTests(session) {

    replyMessage = new builder.Message(session)
        .text("<http://www.youtube.com/watch?v=wq1R93UMqlk>");

    replyMessage.channelData = ({
        unfurl_links: "true",
        unfurl_media: "true"
    });

    session.send(replyMessage);
}

[2016-08-27 00:00] Andrea-Orimoto commented on #1093
Hi @0GiS0, it's probably because there is n inconsistency in the sample. At the top we tell you to set the calling endpoint as /api/calling, and in code we actually set it as /api/calls. We fixed the sample inconsistency, now both reference to /api/calls. So if you go into the developer portal skype configuration and change the calling endpoint appropriately ( I think you have now /api/calling, ch

[2016-08-27 00:44] danmarshall commented on #962
@Stevenic can you provide an example?

[2016-08-27 01:25] Thegaram commented on #820
Yes, it's throwing a `Microsoft.Rest.HttpOperationException`. It's coming from the `ErrorHandling.HandleError` `HttpOperationResponse` extension. I'm not sure if this is by design, but it's definitely not the behavior specified in the docs.

[2016-08-27 01:47] kams451 opened #1095 "Refresh access token failed with status code: 401"
Running on local server via Pagekit tunnel.

**Codes running:**
`bot.dialog('/', function (session) {
    session.send("Hello World");
});`

**In response to any DM to bot,throws out following error:**
`Error: Refresh access token failed with status code: 401
    at Request._callback (/Users/test/skype/node_modules/botbuilder/lib/bots/ChatConnector.js:447:28)
    at Request.self.callback (/Users/t

[2016-08-27 02:39] oztheozoz commented on #944
Any update on this?

[2016-08-27 04:03] satyajit-behera commented on #1092
Thanks. Suppose, I open a browser and do the processing and send the response to the BOT server from there with the user name. How can I push the response back to the user back from the server without the user calling any POST method in the server?

[2016-08-27 07:54] 0GiS0 commented on #1093
Hi Andrea,

The issue that I meant is not there... The conversation with the bot via call is working, but there is a dialog '/chat' which doesn't work:

bot.dialog('/chat', [
    function (session) {
        session.send(prompts.chat.intro);
        calling.Prompts.confirm(session, prompts.chat.confirm);
    },
    function (session, results) {
        if (results.response) {
            // Delete

[2016-08-27 08:50] zzzbatmand commented on #1088
@hailiu2586 It's for skype, i forgot to write it.

[2016-08-27 09:46] kenyeung128 commented on #1081
Thanks @willportnoy , so I will have 2 seperate dialogs with different language LUIS Service.

[2016-08-27 09:46] #1081 closed

[2016-08-27 09:49] kenyeung128 opened #1096 "Send message with multiple line breaks"
Hi, I am trying to send message with 2 line breaks in between sentence, but it will just trim to 1 line break (in facebook messenger), is there anyway to workaround that?

I tried to add "\n\n \n\n", but it still just give 1 line break.

Thanks.

[2016-08-27 09:53] krazylearner opened #1097 "ReferenceError: toAddress is not defined"
Hi
getting this error
`ReferenceError: toAddress is not defined`

The problem may be here
https://github.com/Microsoft/BotBuilder/blob/master/Node/core/lib/bots/ChatConnector.js#L504

thanks

[2016-08-27 10:08] #1097 closed

[2016-08-27 12:05] gabrielrufus commented on #332
Hi,
Please help me in PromptDialog loop in node js

[2016-08-27 12:43] HKOLWD commented on #1096
Same "problem" with skype output. No way to paragraph a message

[2016-08-27 12:46] HKOLWD commented on #1025
Noticing the same in multiple skype clients. Always seems to append an empty line

[2016-08-27 13:05] HKOLWD commented on #964
Looks to be similar @danmarshall

[2016-08-27 14:47] yshahin commented on #981
We are working on a fix and it will be out soon

[2016-08-27 23:47] TechWatching opened #1098 "Emulator does not support markdown in cards"
It would be great to display the cards on the emulator with the correct formatting depending on markdown in order to simplify testing while developing.

[2016-08-27 23:49] TechWatching opened #1099 "Attachments property is null in webchat"
Attachments property of IMessageActivity is null while I tried to access it in a web chat. Is this a normal behaviour ? Shouldn't be just a an empty List ? That's the case on the emulator.

[2016-08-28 00:01] TechWatching opened #1100 "Prompt Attachment does not seem to work properly on Skype"
The bot keep asking an attachment even after sending attachments.

[2016-08-28 01:35] DrWala commented on #455
Hi, I've experienced this error on Telegram and Slack as well. It randomly occurs. What diagnostic information should I provide the next time it happens? I'm using V3.

[2016-08-28 11:18] satyajit-behera opened #1101 "Push notification for (Luis) Dialog"
Is it possible to do a push notification for a Lius dialog which is dependent on processing of a third party process and the application waits for the process to complete. And send the confirmation to the user after the process is complete.

Can it happen in Async fashion too?

Can we use Signal R to push any notification to the bot user?

[2016-08-28 14:58] hgjkant commented on #1080
I'm not sure how much it is, but the canvas results in a lot of data so that could be it.

[2016-08-28 17:40] VishalWaman commented on #1090
Just a shot as per my experience on node bot card...
Just check length on title , subtitle valid url  in images and tab...Make sure they are not longer then guidelines provided by Facebook. Try by test data...

[2016-08-28 17:50] TechWatching commented on #754
I have similar issues. The gif image I send have the contentType application/octet-stream. Moreover I am having trouble downloading it, even if I have no issue on the iframe chat or on the channel emulator.

[2016-08-28 19:22] ankitbko commented on #1101
I don't know if I understood your question correctly. If you want to send a message to the user post completion of a long running process, you can do it. If your long running process returns a `Task`, the straightforward approach would be to create a continuation to the task and pass in the `IDialogContext` to it. In the continuation you could use the context to create a reply message and send it

[2016-08-28 19:33] TechWatching commented on #662
Thanks for the sample. Is there something planned to integrate this with the dialogs ? From a dialog perspective, I don't have access to activity.

[2016-08-28 21:53] TechWatching commented on #754
My mistake, the issue (at least for the content type) is solved for me (see https://github.com/Microsoft/BotBuilder/issues/662).

[2016-08-28 22:49] TechWatching commented on #1100
Solved. Does not work when filtering with content type as Skype attachments always have a content type "application/octet-steam". See #662.

[2016-08-28 22:49] #1100 closed

[2016-08-29 04:05] satyajit-behera commented on #1101
Thanks.
I am planning to communicate to the user for a long running process which is not started by the POST request starting the dialog. It is an external process and should be able to communicate to the user from a separate process. Signal R: Not sure will use the exact same thing. But felt if it is needed in this case?

[2016-08-29 05:25] rohanbadlani opened #1102 "Cards alongside FormFlow"
Hi,

I was wondering if Cards can be used alongside FormFlow (using the Dialog Flow of FormFlow except the adding customized cards for each Form Field?) If yes, can someone please point me to documentation related to it or any example using it?

Regards,
Rohan

[2016-08-29 05:28] ankitbko commented on #1101
To send a message to the user, all you need to do is send a POST request to the Bot Connector Service URL with correct `Conversation`, `From` and `Recipient` fields in request body. You can read more about how to do it [here](https://docs.botframework.com/en-us/csharp/builder/sdkreference/routing.html).
So as long as your separate process can formulate and send the POST request, you can send messa

[2016-08-29 05:43] satyajit-behera commented on #1101
Thanks. No issues in sending a POST. I am trying if I can notify user without a POST request. He would have started the conversation dialog with his first POST request. Then, can I get the user Id and send him a notification without POST when some background process is completed.

[2016-08-29 06:19] Sams4u opened #1103 "markdown doesn't allow IM hyperlink in webchat"
The hyperlink i am using has following syntax:-
await context.PostAsync("Please click on [HelpDesk](sip:user@domain.com)");
But webchat is rendering it as <p>Please click on <a>HelpDesk</a></p>
At the same time emulator is picking it up correctly.
I had raised a similar issue few days back, but closed by giving a link for markdown syntax. It seems like a bug. I have tried the same in different mar

[2016-08-29 07:25] ankitbko commented on #1101
There are actually two request being sent for a single to-fro communication. The user sends message to the bot in first POST request. The bot replies to user by creating _another_ POST request to bot connector. The reply is not returned _inline_ to the first request. It is something like this.
[code]

The bot reply is sent as a separate request to the connector. In your case it would look somethin

[2016-08-29 07:58] b4usat commented on #327
hi @Stevenic can you please give a sample for C# SDK for the same problem. I tried decorated my class with 2 Luis models. But by default it identifies the "None" Intent of one of the model. How can i solve this>
`   [LuisModel("xxxx", "yyyy")]`
  `  [LuisModel("aaaa", "bbbb")]`
   ` [Serializable]`
   ` public class AbacusForm : LuisDialog<object>`
   ` {`
    ` }`

[2016-08-29 08:06] b4usat opened #1104 "Adding multiple Luis models in C# SDK"
Related to [question](https://github.com/Microsoft/BotBuilder/issues/127)
Also this [comment](https://github.com/Microsoft/BotBuilder/issues/327#issuecomment-243057294)

Please help me solve the issue of adding multiple Luis models for the same class. One model identify the None intents and its posting "I don't understand". Since we have Context.Wait(messagereceived) in None intent, the stack wait

[2016-08-29 08:14] streamy878 commented on #1088
I am also interested in this issue. I have similar task. I'm trying to get away from the use of desktop Skype API with wrapper skype4com. I look in the direction of Microsoft Bot Framework. I created and registered my Skype bot with the Microsoft Bot Connector like here: https://docs.botframework.com/en-us/csharp/builder/sdkreference/gettingstarted.html

Also I added my bot into several group conv

[2016-08-29 08:41] satyajit-behera commented on #1101
Thanks. Will try this.

[2016-08-29 08:53] Mazenx opened #1105 "Error on returning message from bot (Forbidden)"
I am creating a bot on facebook and as per the logs I am having , The message is reaching the bot but when the bot is responding I am getting the below error

"System.UnauthorizedAccessException: Authorization for Microsoft App ID failed with status code Forbidden at Microsoft.Bot.Connector.JwtTokenRefresher.d__2.MoveNext()"

I tried on facebook/skype and it's the same error. I added message.From

[2016-08-29 10:37] eydelrivero commented on #1104
@b4usat If what you want is the other intent (the non Non intent) to be the "real" winner, then the solution #816 still applies. Basically you inherit from LuisDialog and override `BestResultFrom`. The original implementation is:

[code]

you can change it into something like this:

[code]

This helps in cases where at least one of your LUIS models returns a non None intent. Otherwise you need to

[2016-08-29 11:16] Ani110591 opened #1106 "Transfer the chat control to a human chat executive."
I read a lot about chatbots, and am in the process of implementing a chat bot which can search information within the website and return the user a relevant set of listing results.
But till the bot is completely trained, I would like to have in place a transfer of control of the chat from the bot to a human executive to answer the queries manually. Is such a transfer possible with the Bot Builder

[2016-08-29 11:28] 0GiS0 commented on #914
Hi folks,

do you know which channels support this?

thanks!

[2016-08-29 11:57] VishalWaman commented on #914
Facebook does. I have tried it..

[2016-08-29 12:38] v-tbert opened #1107 "JwtToken cannot be send to emulator"
I am trying to track down an issue whereby I cannot get a simple IDialog derived class to display. The one oddity I have noticed is that every time ReplyToActivityAsync is called I get the following message in the debug output:
iisexpress.exe Warning: 0 : Service url localhost:9000 is not trusted and JwtToken cannot be sent to it.

I can't find any documentation indicating how to setup trust for t

[2016-08-29 13:28] afficionaddo opened #1108 "Add Google/Bing search API in Bot"
Hi,
This is more of a clarifying question.

I want to integrate Google/Bing custom search in my BOT.
So what's the way "to interpret the data" as I want to show them as CARDS to the end-user?

any suggestions?

[2016-08-29 13:33] afficionaddo opened #1109 "Error when sending multiple replies through async Lambda expression"
Hi,

I am trying to send multiple replies to the user though an "async lambda expression" as follows:

[code]

**But this gives me an error in Emulator::**
_"An asynchronous module or handler completed while an asynchronous operation was still pending."_

Any suggestions on what am I doing wrong here?

[2016-08-29 13:51] maximilianlorent commented on #989
@willportnoy and @Andrea-Orimoto unfortunately this does not help me right now.

In the related post @willportnoy wrote that one can pass the credentials - i.e. MicrosoftAppId and MicrosoftAppPassword - as parameters to BotAuthentification.
Unfortunately with version 3 of BotBuilder this seems not to be possible anymore. You can only pass MicrososftAppId, MicrosoftAppIdSeeintName, OpenIdConfigurat

[2016-08-29 14:12] afficionaddo opened #1110 "Make "Message Text" bold"
Hi,

I am sending messages to FB messenger. I am stuck as to how to implement formatting of text like Bold, Italic etc

Any suggestions?

[2016-08-29 14:18] afficionaddo opened #1111 "Implement "pagination type" thing for long text"
Hi,
Any suggestion on how to show long-text in pagination style in the chat interface::

xxxxxxxxxxxxxx
xxxxxxxxxxxxxx
xxxxxxxxxxxxxx
     Show More

xxxxxxxxxxxxxx
xxxxxxxxxxxxxx
xxxxxxxxxxxxxx
     Show More

[2016-08-29 14:19] b4usat commented on #1104
@eydelrivero Thanks a lot for your reply. But unfortunately still the context redirects to None Intent. THe Override BestResultFrom gives the correct Intent, but the IntentHandler doesn't have the Intents of the first model. It only stores the intents of second referenced model. :(
`GetHandlersByIntent` method.

[2016-08-29 14:31] ejadib commented on #789
@msft-shahins @willportnoy FYI, the receipt card on Facebook is now throwing this error:

but the code is setting the ReceiptCard.Total prop

[2016-08-29 14:38] liiver commented on #980
any updates on this one? Seems to be some bug then or?

[2016-08-29 15:57] acparas opened #1112 "How to insert Blank Lines?"
How do I add blank lines in messages?

e.g.

<img width="167" alt="blankno" src="https://cloud.githubusercontent.com/assets/7927517/18057800/5408a226-6dc6-11e6-8de4-c097241c79ba.png">
<img width="143" alt="blankyes" src="https://cloud.githubusercontent.com/assets/7927517/18057802/55195700-6dc6-11e6-84da-990bba73139d.png">

[2016-08-29 16:14] JamieREvans commented on #891
I'm getting the same issue with Facebook as @yuyuvn. Seems all adapters are occasionally out of commission?

Is there any update?

[2016-08-29 16:18] kenyeung128 commented on #1077
great! @ejadib It works! Since this only works for facebook, I would put a if-clause to check if it's a facebook channel too.

[2016-08-29 16:18] #1077 closed

[2016-08-29 16:28] s-rya opened #1113 "Group chat in Skype"
I tried adding my bot to a group. After adding the bot, my bot starts creating different session for each user. Is there any means by which a single session can be maintained as in 1:1 chat ?

[2016-08-29 16:43] satyajit-behera opened #1114 "Send Hyperlink while using LUIS Dialog"
Can we send hyperlink while using LUIS dialog? How?

[2016-08-29 16:44] Andrea-Orimoto commented on #981
@aravindbaskaran I'm closing this issue, since it's being addressed by the LUIS team. Please reopen or let us know if you need anything else. Thank you!

[2016-08-29 16:44] #981 closed

[2016-08-29 17:18] liiver commented on #1112
actually my question would be how to add a line break in skype chats. I have not been able to do that
Adding \n to the line end gives me no line break
Adding \n\n to the end of line, gives be a blank line like in here example 2.
I would need to get smth like in here example 1, with just a simple line break. I am using "markdown" style in messages (I need to, since I need to parse hyperlinks)

[2016-08-29 17:18] Thegaram commented on #1106
I think the Bot Builder itself doesn't have any utilities helping with this. You could store a flag in the bot state service indicating whether the bot or the human is in control. If it is the bot, start (resume) the dialog; if it is the human, start your custom logic connecting the user to this human agent.

[2016-08-29 17:29] acparas commented on #1112
@liiver

"\n\n" gives you example 2? That's odd.
"\n\n" gives me example 1.

For instance, doing

<code>session.send("Hello\n\nWorld!");</code>

gives me

"Hello
World"

[2016-08-29 17:31] liiver commented on #1112
i'm using C#, if that makes any difference but this is indeed the case for me

[2016-08-29 17:40] reyesrico commented on #1030
XelaMon, zkahmad1: some questions that could help to understand more the issue:
1. Have you tried to use the bot in another channel?
2. Are you making sure that your bot is joined in a group?
3. Can you call your bot inside the group with @your-bot-name ?
4. Have you identified which pieces of your code are not working?

[2016-08-29 18:08] lucasmdesousa commented on #848
@Andrea-Orimoto I have not tested these last days... I'll do it soon.

[2016-08-29 18:45] reyesrico commented on #990
There are different type of attachments that can be added to a response message from the bot. One of the is HeroCard and another is to send a Document. A HeroCard (or ThumbnailCard) does not support documents attached inside it.

Example:
	var attachments = [];
	var card = new builder.HeroCard(session)
		.title(title)
		.subtitle(subtitle)
		.text(text)
		.images([builder.CardImage.create(session,

[2016-08-29 20:16] acparas commented on #1112
I'm using node. That makes sense. It could be a difference in the language implementations

[2016-08-29 20:32] enby commented on #891
I get the same issue that @yuyuvn does, where large images (or images on slow servers) cause a generic 500 error almost every time. Here's my theory of what's happening:
- Connector sends a formatted request to the respective endpoint (for example kik api)
- Kik's servers fail to load the image within a reasonable amount of time and either don't respond to the connector in time, or respond with an

[2016-08-29 20:38] willportnoy commented on #1113
Which language SDK are you using?  You have user, group, private bot data bags that you can share across multiple users.  The state of the dialog stack is stored in the private conversation data bags in C#, though:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/DialogModule.cs#L155

[2016-08-29 20:42] willportnoy commented on #1109
Yes, this is a combination of ASP.NET and the task parallel library.

In your Foreach closure, you are initiating asynchronous tasks, but the calling code in List<T>.ForEach is not waiting for their completion.

ASP.NET will detect whether you still have asynchronous tasks running after the http request completes, and will throw that exception.

If you want to send a series of messages, you might

[2016-08-29 20:43] willportnoy commented on #1105
Have you tried reading through the authentication troubleshooting guide?

https://docs.botframework.com/en-us/support/troubleshooting-bot-framework-authentication/

[2016-08-29 20:45] willportnoy commented on #1104
@b4usat the solution by @eydelrivero looks correct to me.  Are you using the newest version of the SDK?  The GetHandlersByIntent method is supposed to return all applicable handlers.

[2016-08-29 20:47] willportnoy commented on #1101
We also have a sample for one possible way to handle proactive bots that respond to external events:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Samples/AlarmBot/Models/ExternalEvent.cs#L29

[2016-08-29 20:49] willportnoy commented on #1103
Does it only occur when the uri scheme is "sip" rather than "http"?  I wonder if there is some url validation involved.

[2016-08-29 20:50] willportnoy commented on #1099
Consistency would be best, of course.  I assume for now you can work around it, but I'll file this as a bug in our internal backlog.

[2016-08-29 21:08] Mazenx commented on #1105
Yes I did that , It's pretty confusing . This is my current status :

BotPortal : authorization succeeded

Emulator : Microsoft.Rest.SerializationException: Unable to deserialize the response. ---> Newtonsoft.Json.JsonReaderException: Unexpected character encountered while parsing value: T. Path '', line 0, position 0

Emulator with ngrok : System.UnauthorizedAccessException: Authorization for Mic

[2016-08-29 21:24] euanlau commented on #922
A follow up question. How do you hide the URL text like Bing News (i.e. showing only the preview image)?

[2016-08-29 22:15] willportnoy commented on #1102
I believe you can use title/subtitle/image but not full cards:

https://github.com/Microsoft/BotBuilder/commit/e06eb46e5aaaa816fda31eb120871e0d63cd3132

@msft-shahins @chrimc62 can you use cards in FormFlow?

[2016-08-29 22:18] willportnoy commented on #1105
If step two doesn't succeed, then step 3 and 4 won't succeed either.  Do you have fiddler hooked up?  What is the http response from the emulator that fails to deserialize?

[2016-08-29 22:41] muzahmed commented on #1093
@0GiS0 Wow, great catch! Just pushed a fix -- should have a new patch ready in a day or two.

[2016-08-29 22:41] #1093 closed

[2016-08-29 22:57] Andrea-Orimoto commented on #754
Thanks @TechWatching. @asubbotin we're closing this issue, let us know if you still need help. Thank you!

[2016-08-29 22:57] #754 closed

[2016-08-29 23:00] Andrea-Orimoto commented on #961
@JpEncausse, @Makeshift, are you still having this issue?

[2016-08-29 23:09] Andrea-Orimoto commented on #1076
@afficionaddo  it looks like reyesrico answered your question, so I'm closing this issue. Please feel free to reopen this or create a new one if you still need help. Thanks!

[2016-08-29 23:09] #1076 closed

[2016-08-29 23:25] reyesrico commented on #1110
Facebook Generic Template only supports to send plain text messages.
(https://developers.facebook.com/docs/messenger-platform/send-api-reference/text-message)

I suggest to:
1.  Use a HeroCard - title  that will be formatted in Bold.
2.  Use emojis before the text to make some difference between the plain text.

[2016-08-29 23:28] reyesrico commented on #1110
If you still have more comments, please reopen the issue. Thank you.

[2016-08-29 23:28] #1110 closed

[2016-08-29 23:30] stucko opened #1115 "Unable to get response from Bot State Rest API"
Hi,

My bot now suddenly stops (and hangs) at :
`UserData.SetValue`

ive tried to get/set data using the REST API at "https://docs.botframework.com/en-us/restapi/state/#!/BotState/BotState_GetUserData"

and all i got was :
`{
  "error": "no response from server"
}`

[2016-08-30 00:09] #1115 closed

[2016-08-30 04:15] ubreddy opened #1116 "botframework webchat control has queuing issue"
what is expected ?
user input1, response1, input2, response2, input3,response3

what I get
user input1, no response, input2, response1, input3,response2...

Is there a way to get the code of the web chat control? I tried getting it but I get a securityexception as domain name is different.

[2016-08-30 04:27] satyajit-behera commented on #1114
Thanks. It works :-)

[2016-08-30 04:27] #1114 closed

[2016-08-30 04:58] JPThorne commented on #990
Ok thanks.

[2016-08-30 04:58] rzmoz commented on #1106
Hi, I'm having the same scenario. What I did was using a predicate to determine whether the bot should answer or not. The predicate is currently a boolean flag stored in the bot data but it's meant to evolve to depend on the online status of our human assistants and availability in outlook cals. The point is you want full control of this predicate yourself as it can get very domain specific.

Seco

[2016-08-30 04:59] Sams4u commented on #1103
yes i think. It works fine with **mailto** [mailto:user@domain.com] as well. As of now problem is with sip and as you said some validation in the webchat window is preventing anchor tag to render properly.

[2016-08-30 05:23] Ani110591 commented on #1106
@rzmoz. I think pinging continuously might not be a good solution as the messenger channel might be active but the user might have left the chat.
There can be a timeout mechanism implemented but it night seem more brute force than an actual solution.

[2016-08-30 06:11] s-rya commented on #1113
@willportnoy I am using NodeJs SDK.

[2016-08-30 07:29] ankitbko commented on #1112
End your sentence with two white-space and one \n. That would give you line break. For example

[code]

[2016-08-30 07:40] b4usat commented on #1104
@willportnoy Yes i am using the latest version 3.2.0 SDK. GetHandlersByIntent method returning only the second models Intents

[2016-08-30 07:50] Mazenx commented on #1105
You're correct , step 2 didnt succeed so I said I might have issues in my laptop so I went to step 3 directly . But step 3 succeeded. I attached the screenshots of fiddler. I am not sure where I can capture the response that failed to serialize , I am only getting the unable to serialize response.

![screenshot_23](https://cloud.githubusercontent.com/assets/21306289/18080753/c961554a-6ea7-11e6-99c

[2016-08-30 07:55] vovanb opened #1117 "Provisioning API"
Hello
Is it possible to make all registering of new BOT with channels using API?

[2016-08-30 08:27] CarolHanna commented on #963
This is by design the entities detected are all lowercase. Will add this as request to our backlog

[2016-08-30 08:36] yshahin commented on #963
as @willportnoy mentioned the start and end index are char indexes on the original text lower-cased, so you can store the raw text and use them to extract the unmodified text.

[2016-08-30 09:26] vinnitu opened #1118 "session.userData and session.send"
I set data (more > 65K) in session.userData before sending message to user,
but session.send seems doesn't work without any error messages...

I know why but how to handle this situation?

[2016-08-30 10:03] 0GiS0 commented on #1093
Great! thanks @muzahmed :+1:

[2016-08-30 10:33] rohanbadlani opened #1119 "Chain.Continuation typo"
Hi,

I just noticed, **Chain.Continuation** is misspelled as **Chain.Continutation** in the bot framework.

Regards,
Rohan

[2016-08-30 10:53] hgjkant commented on #963
I see, I will use this as a workaround, thanks.

[2016-08-30 10:54] hgjkant commented on #1080
I haven't been able to test this yet, I'll be able to tomorrow.

[2016-08-30 11:47] satyajit-behera commented on #1101
@ankitbko hi, I tied it using the method described in your remarks, but the bot emulator does not receive any responses.

[2016-08-30 11:49] ashay-88 opened #1120 "There was an error sending this message to your bot. SKype bot & C#"
My microsoft bot works absolutely fine with emulator. It has one reference to Weather api and couple of our API. Bot has Skype channel. When on skype, If I ask him weather thing, natural language processing works fine and I get reply.
But when I ask bot something related to our api, it appears that luis doesnt return any entity. Because I have a condition which checks if rootObj.entities.count() =

[2016-08-30 11:50] satyajit-behera commented on #1101
@willportnoy hi, can you explain a little more on this, how to accomplish this. How to identify the user and push the message to the user from the server. Thanks.

[2016-08-30 12:21] gplumb commented on #1112
The break tag <br/> will also work.

[2016-08-30 12:51] ubreddy commented on #1118
max allowed is 32K as per the documentation

[2016-08-30 13:33] Sams4u opened #1121 "Webchat need css update"
I am using a webchat for BOT. I feel there should be some changes to be done.
One is, after a few chats once the scroll bar comes into the chat window, afterwards when ever we type something it waits for the response to come before gets automatically scrolled down. This makes a feel that user hasn't typed anything even though text is there at the bottom.
Second is a CSS fix to be applied. Because

[2016-08-30 13:36] Sams4u commented on #1112
2 space and \n should work.
"  \n next line"

[2016-08-30 13:46] vinnitu commented on #1118
ok, but how to hanlde this error?

[2016-08-30 13:46] afficionaddo opened #1122 "Error in IDialog.Wait<R>"
Hi,
 please see the below code:
`private async Task MessageReceivedAsync(IDialogContext context, IAwaitable<IMessageActivity> result)
        {
            var message = await result;

            if (message.Text.ToLower() == "hi")
            {
                context.Wait(AfterHiAsync);
            }
            else if (message.Text.ToLower() == "reset")
            {
                context.W

[2016-08-30 14:09] giriganapathy commented on #1090
I have a proper title length and images...Still it is not coming up.

Steve, Could you please review my code and let me know....I have to present to my next level about this carousel piece.

Appreciate your help here.

Regards,
Giri G.

[2016-08-30 14:35] jstrobel opened #1123 "Private Bots?"
Will it be possible in the future, to "hide" bots from the directory? Some Bots e.g. for customers wouldn't be for all users of skype but for a company or so, so it would be great to mark them as "private".

[2016-08-30 14:55] JpEncausse commented on #1090
One issue I get into is that HeroCards MUST all have the same size (aka components) on Facebook. For instance you can't have a card with a button and an other without in the carousel

[2016-08-30 15:33] ankitbko commented on #1123
A bot is not visible in directory unless you explicitly _publish_ it. However in case of skype, if anyone has the bot contact address on skype, they can communicate with the bot. One way I see is that you check the `From` field and only reply to the users who are your customers.

You have more flexibility in Facebook messenger where you can explicitly add users to the app who can access the facebo

[2016-08-30 15:39] tefrati commented on #957
Any updates?
Our users are not as patient as we are. Here are some of the texts I'm getting from users trying the web channel:

 and my favorite,

Any ETA on fixing the bug?

[2016-08-30 15:52] ubreddy commented on #1116
Anyone from microsoft who can correct this ?

pollmessages function in chatlib there is a for loop which has ++i.   should be i++. can you please change it and commit the code?  line no: 199 in chat.js

[2016-08-30 15:59] Andrea-Orimoto commented on #1121
Hi @Sams4u , thanks a lot for this feedback. I've added it to our backlog and assigned to the proper developer. Thank you!

[2016-08-30 15:59] #1121 closed

[2016-08-30 16:03] Andrea-Orimoto commented on #1119
Thanks for reporting this! Added to our bug backlog, and assigned to the right person. Thank you!

[2016-08-30 16:03] #1119 closed

[2016-08-30 16:06] acparas commented on #1112
@gplumb

I can confirm that using <code>&lt;br/&gt;&lt;br/&gt;</code> produces a full, blank line (not just a line break).

However, <code>&lt;br&gt;</code> __fails__. It even spawned multiple runtime errors in my program.

So, to anyone reading this, __you must include the "/" in &lt;br/&gt;__.
<br>

Tested on:
  - Node.js
  - Skype

[2016-08-30 16:07] Andrea-Orimoto commented on #1117
@vovanb it is not possible at this time. We're considering a provisioning API, but we don't have solid plans for it yet. Thank you!

[2016-08-30 16:07] #1117 closed

[2016-08-30 17:01] Thegaram commented on #1106
@rzmoz I remember something like 20 minutes from V1 (i.e. inactive conversations will expire after this time interval). I haven't found anything like this in the new docs though. Have you experienced problems with this yourself?

Some channels support the GetMembers action (see the REST API docs). You can check if there are other members in addition to your bot and ping the conversation in that ca

[2016-08-30 17:15] acparas commented on #1112
The above solution only works for __Skype__.

Therefore, I am re-opening this issue for the other platforms.
I confirm that it doesn't work for <iframe> and SMS via Twilio.

[2016-08-30 17:49] msft-shahins commented on #1046
The message type should be `message`, `message/text` is not a valid type for skype.botframework.com.

[2016-08-30 18:06] evnik commented on #1104
I guess the issue of @eydelrivero's solution is the **None** intent comes with empty identifier, so the `nonNoneWinner` could be determined as
[code]

[2016-08-30 18:10] willportnoy commented on #1113
@Stevenic @muzahmed how can you change which bag stores the conversation state?

@s-rya you still may want to have the dialog stack stored per user - otherwise, it can get very confusing for multiple users to interact with the same bot.

[2016-08-30 18:15] willportnoy commented on #1101
@satyajit-behera you can save the information in the ResumptionCookie - it's the addressing information necessary to contact the user "later".

[2016-08-30 18:17] willportnoy commented on #1104
@evnik it could be - the GetHandlersByIntent method doesn't even know which model the intents come from (when it looks for matching delegates from the class through reflection), so i don't think it's actually filtering them for just the second model.

[2016-08-30 18:18] willportnoy commented on #1120
Are you pointing to the same LUIS model on the emulator and when deployed in the cloud?

[2016-08-30 18:19] willportnoy commented on #1122
The second line should be something like this:

context.Wait(AfterResetAsync);

You should pass the Wait method a delegate representing the next method you want to execute after the user's message, not a result from calling that method.

[2016-08-30 18:21] willportnoy commented on #1118
I believe in the Node version you can observe any errors in sending messages by calling "send batch".  But in general, you should send less data.

[2016-08-30 18:24] danmarshall commented on #1116
Thanks @ubreddy for the debug! I will take a look, test this, and get back to you.

[2016-08-30 18:26] willportnoy commented on #1107
We track a list of trusted service urls so that we don't forward the JwtToken (and your auth information) to some other unknown service.  I believe localhost:9000 would be marked as trusted already if you had sent a message from it (i.e. through the emulator).  Maybe you can manually modify MicrosoftAppCredentials.TrustedHostNames in the debugger to diagnose your issue?  @msft-shahins any other th

[2016-08-30 18:32] satyajit-behera commented on #1101
@willportnoy Thanks a lot. Will try this.

[2016-08-30 18:57] danmarshall commented on #1116
@ubreddy I looked but unfortunately this is not a solution.

[code]
In both of these cases, ```i``` is already incremented by the time it is used.

I believe that the real issue is in the network responses. I am looking into this, several others have reported this as well.

[2016-08-30 18:59] danmarshall commented on #1116
original issue: https://github.com/Microsoft/BotBuilder/issues/957

[2016-08-30 18:59] #1116 closed

[2016-08-30 19:04] danmarshall commented on #957
Hi folks, thanks for your patience and enthusiasm. Just want you to know that we're listening! But I have nothing to add to my previous message. We're actively working on this and want to present a great solution for the community, so please stay tuned. -Dan

[2016-08-30 20:06] #1046 closed

[2016-08-30 20:14] srozga opened #1124 "DirectLine API in JavaScript"
Was looking into writing a web page with a textview/textbox to talk to a bot. Seems that writing some JavaScript code to talk to the DirectLine API should be fairly easy. The only issue I can see is with regards to storing the secret in the client. Anyone will be able to get the key and then call into our bot through their third party app. Any recommendations around dealing with this?

[2016-08-30 20:28] dandriscoll commented on #1124
Hi @srozga, Direct Line has a token system you can use to exchange your secret for a token on a server, and then deliver the token to a client. The token is usable only for a single conversation and must be refreshed every 30 minutes to stay alive.

Directions are shown on this page for the Web Chat control. Web Chat uses the Direct Line protocol, so the behavior is the same. (See Step 2, Option 1

[2016-08-30 20:47] srozga commented on #1124
Thanks @dandriscoll , this is super helpful. Incidentally, the WebChat client seems to be down at the moment? See attached image.
![error](https://cloud.githubusercontent.com/assets/1940385/18106348/54387bb6-6ed1-11e6-93d2-5de8f1f6e667.PNG)

[2016-08-30 21:12] evnik commented on #1104
However I think selection of a non-None from all the winners doesn't provide the best result for this case. For example, for these LUIS results from two models:

Model1 | Model2
--- | ---
None: 0.35 | B: 0.1
A: 0.3 | None: 0.05

this approach will give us **B**, while **A** is better candidate.
I suggest to search a winner through results of all models:
[code]

[2016-08-30 21:31] dandriscoll commented on #1124
Things seem to be working -- I'll check my logs. Can you send the URL you're using? Please remove the secret before sending it. I'm looking for the page you're accessing and the bot ID or site ID. You can post it here or send it to dandris@microsoft.com. Thanks

[2016-08-30 21:49] intranetchris opened #1125 "List items end with &#13; in Kik whereas other channels fine"
When I send a list (Markdown format) using bot framework, there is a `&#13;` at the end of each list item on the Kik channel. This shows only in Kik, but not in Skype, Messenger, SMS or Slack.

Using node.js 3.1 version of botbuilder.

# Kik screenshot:
![kik](https://cloud.githubusercontent.com/assets/19203848/18108363/e68b8096-6ed9-11e6-866a-ccbb984ebfa3.PNG)

# Slack screenshot:
![slack](https:

[2016-08-30 21:58] reyesrico commented on #990
If you still have more comments, please reopen the issue. Thank you.

[2016-08-30 21:58] #990 closed

[2016-08-30 22:10] #1122 closed

[2016-08-30 22:22] JpEncausse opened #1126 "Testing contactRelationUpdate with Emulator"
Hi,

I'd like to test Facebook "greeting". It seems we have to implement a listener on "contactRelationUpdate".

- On Facebook I don't find how to reset greeting step
- On the Emulator I don't know how to trigger it

Any ideas ?

[2016-08-30 22:27] msft-shahins commented on #824
I guess with the release of Skype clients with card support this is issue is resolved. Feel free to open another issue if you still see this issue.

[2016-08-30 22:27] #824 closed

[2016-08-30 22:31] msft-shahins commented on #1126
you can send different activity types, e.g. contact relationship update - add, from emulator to your bot:

![image](https://cloud.githubusercontent.com/assets/17562300/18109541/c4b51e68-6ec6-11e6-8d50-054d5c0bd1f3.png)

[2016-08-30 22:50] msft-shahins commented on #1108
You can write a dialog that makes the Google/Bing API call based on incoming message and after you get the result from search API, you can map them to cards an send them in the reply. For example, you can map the top 5 results returned by the search API into a carousal with each card representing one entry in the search result.

[2016-08-30 22:50] #1108 closed

[2016-08-30 23:23] msft-shahins commented on #980
@manojkota and @liiver it would be good if you can share the code that repros this. Creating a repo with the code that have a repro for this issue will help us diagnose this issue.

[2016-08-30 23:23] msft-shahins commented on #840
closing this because of no activity. Feel free to open an issue if you are still seeing this.

[2016-08-30 23:23] #840 closed

[2016-08-30 23:26] msft-shahins commented on #838
Playing video in a Skype card is not supported.

[2016-08-30 23:26] #838 closed

[2016-08-30 23:38] msft-shahins commented on #724
you can change the ChoiceStyle of the form to ChoiceStyleOptions.AutoText and FormBuilder will generate text lists instead of buttons. Here is an example on how to set it: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Samples/AnnotatedSandwichBot/AnnotatedSandwich.cs#L340

[2016-08-30 23:38] #724 closed

[2016-08-30 23:40] #1126 closed

[2016-08-30 23:43] msft-shahins commented on #1107
@v-tbert can you elaborate on how you are testing your bot? Are you missing BotAuthentication attribute from your bot's message controller? That attribute is responsible on authenticating the incoming request and adding its service url to the set of trusted urls.

[2016-08-30 23:48] msft-shahins commented on #1098
Thanks for your request. This feature is in our backlog.

[2016-08-30 23:48] #1098 closed

[2016-08-31 00:06] msft-shahins commented on #924
Closing this because of inactivity. Feel free to open a new issue if you still see this problem

[2016-08-31 00:14] oztheozoz opened #1127 "Retry Logic for Status Code 429 Too Many Calls"
Is there plans to put in retry logic when making calls to the Luis.ai api if a status code of 429 is returned?
The free plan for luis.ai is 5 calls per second. Even the paid plan is only 10 calls pre second. That isn't very much if we intend to release a bot to production. I would be happy to try and implement a solution but didn't want to start working on it if there was already something in the

[2016-08-31 00:33] euanlau commented on #924
@v-ms Both. tap does not respond at all anywhere within the card. using the latest iOS release.

@danmarshall Yes. Using botbuilder 3.2.3.

[2016-08-31 00:37] msft-shahins commented on #1111
You can send a card that has your text and a `show more` button and then implement the logic that when `show more` is pressed, you send rest of the text in another card.

[2016-08-31 00:41] msft-shahins commented on #1049
Having a base64 encoded image in a card is not yet supported in Skype. You can only have a base64 encoded image as an attachment for now.

[2016-08-31 00:43] msft-shahins commented on #1051
@chocvanstraw have you tried this with nuget 3.2 release? They should be mapped to cards with the latest release.

[2016-08-31 00:53] msft-shahins commented on #959
The code snippet below produces the following results in emulator and the CreateDirectConversation(...) works. Make sure to look for the direct conversation showing up as `Bot1-User1` from `conversation names` drop down in emulator.

[code]

![image](https://cloud.githubusercontent.com/assets/17562300/18112201/a20d71c6-6eda-11e6-85b6-d27c981396c7.png)

[2016-08-31 00:53] #959 closed

[2016-08-31 00:53] reyesrico commented on #644
@ankitbko I have reproduced your JSON code inside our testbot and I am getting a success receipt response in Facebook:

![image](https://cloud.githubusercontent.com/assets/10733155/18112137/477b0872-6eda-11e6-8b75-f596443ee8b9.png)

The only thing that I changed is the "replyToId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" with the Microsoft App ID from the details of our testbot.

Make sure you are

[2016-08-31 01:09] ronnelsantiago commented on #838
can u at least let us know whether or not this will be supported soon or will be added on your backlog? this kind of information is important to me so just give an indication of whether this feature will be supported at all in the near future..

[2016-08-31 01:13] irynabond opened #1128 "Sending multiple requests when the bot is running"
Hello,
My bot is using a Web Chat channel and hosted on azurewebsites.net. When I open the webpage and Fiddler I see that this webpage makes thousands requests. Here is a fiddler screenshot:
<img width="936" alt="botrequests" src="https://cloud.githubusercontent.com/assets/13076334/18112543/58d93bb8-6edd-11e6-9261-8faf7fd0cbc7.PNG">

Why is it happening? Is it possible to fix? Thank you!

[2016-08-31 01:57] WilliamBerryiii opened #1129 "Support for .Net Core"
Just wanted to open a discussion around support for .Net Core.  Is this on the road map?

[2016-08-31 02:45] rzmoz commented on #1106
@Thegaram I realized it's supposed to be the client that keeps the conversation alive. So I assume there's a sliding window expiration cause that seems to work. For example, the webchat client long polls the conversation for messages as long as the window is open (thus conversation is active)

Thanks, makes sense

[2016-08-31 04:17] ashay-88 commented on #1120
Hi Will,
Thanks for the reply.Definitely yes, I am pointing to same LUIS model.
It works perfectly in Emulator. I get proper Intent and entities back from LUIS. But no luck when I work on Skype. On dev.botframework.com "my bots" section, I see issue , and the message again says "There was an error sending this message to your bot. "
Please help.
Kind Regards,
Ashay

[2016-08-31 07:16] vinnitu commented on #1118
session.userData = [big data];
session.send("here message");
session.sendBatch(function(error) {
    // am I right?
})

[2016-08-31 07:56] jstrobel commented on #1123
@ankitbko Thanks. But if i am right, only published bots can be added and used, so this wouldn't be a option. Yes i can check the from, but it would be nicer to prevent them from beeing visible in the directory.

[2016-08-31 08:13] palmerabollo commented on #1128
MS can confirm it, but your bot is polling for new messages.

In my opinion, it's a pity that directline –and apparently other channels– doesn't come with some kind of push mechanism. In some scenarios (ex. mobile app) it could be a blocking issue (ex. battery drain). I don't know if there is a recommended way to solve this issue.

[2016-08-31 08:36] ankitbko commented on #1123
@jstrobel You don't need to publish your bots to use them. Publishing a bot, post a review, will only list the bot in Bot Directory so that it is publicly available. You may very well have a bot and not publish it, but privately share the contact detail of the bot with your users. Check [this](https://docs.botframework.com/en-us/faq/#do-i-have-to-publish-my-bot-to-the-bot-directory-in-order-for-my

[2016-08-31 08:37] jstrobel commented on #1123
@ankitbko Ah haven't seen the entry in the FAQ. Thanks.

[2016-08-31 08:37] #1123 closed

[2016-08-31 10:14] brendanarnold commented on #1006
It would be great to be able to re-create the Channel Emulator code in a mobile app - mostly to avoid the extra latency of a middleware webservice as well as to be able to support things like cards and actions in the app.

At the moment DirectLine strips out many of these features and instead sends a plain text fallback e.g. appends '(1. yes or 2. no)'.

I have to include code in my mobile app tha

[2016-08-31 10:36] wswijaya opened #1130 "[C#] How to keep conversation in child dialog?"
Hi,
I want to forward conversation from main dialog to a child dialog. I uses context.Forward() and the message successfully pass to child dialog. However I couldn't keep the conversation within the child dialog. How can i overcome this?

MainDialog
`
        OverseasNotificationDialog dialog = new OverseasNotificationDialog();
await context.Forward(dialog, OverseasNotificationCompleted, message,

[2016-08-31 10:45] letmaik commented on #920
Any news? I've just hit that. It works in the emulator but on skype the newlines are missing. I use two whitespaces and then a `\n`.

[2016-08-31 12:28] b4usat commented on #1104
@evnik, @eydelrivero  Thanks a lot for great trick. This solution is working great. But have one doubt as well. Say my first model returning "None" Intent with score 0.4 and my second model which actually trained for the questioned utterences is having a intent "Travel" with score 0.2 will lead the handler to None Task. But if the case i have given only second model, it will land in Travel Task ev

[2016-08-31 12:32] b4usat commented on #1104
@willportnoy `GetHandlersByIntent` method identifies all the delegates in a single class "Class A". Is there any possibilities i can define my Task in separate class "Class B" and move my handler to Class B which actually have the defined Intent?

[2016-08-31 12:36] srozga commented on #1124
So this was my mistake. I missed copy-ing a few characters from the secret into the iframe uri. I suppose a better error message might be helpful, maybe a 403. I'll close this one, thanks guys!

[2016-08-31 12:36] #1124 closed

[2016-08-31 12:49] srozga opened #1131 "Styling web chat control"
Obviously, we can't apply CSS and use JS to modify the contents of an iframe with a different origin. The styling section on this page [https://docs.botframework.com/en-us/support/embed-chat-control2](url) is thin.

Things like fonts, margins, colors, etc would be really good to be able to style.

Any thoughts or idea on how custom styling of the control could be enabled?

[2016-08-31 12:53] ranjan-ranjan opened #1132 "wrong result when debugging GetKey(BotDataKey key, BotStoreType botStoreType) in "..\BotBuilder\CSharp\Library\Dialogs\BotData.cs""
I was debugging the bot framework and found that `GetKey(BotDataKey key, BotStoreType botStoreType)` in  https://github.com/Microsoft/BotBuilder/blob/1958a3f946c2e8a540196b7d12fd15255932ce7c/CSharp/Library/Dialogs/BotData.cs doesn't debug properly.

The result is like this `conversation:testBot:Test:7c430ce2-da52-4098-8da3-f6c26e5172aa`

The `{key.BotId}` and `{key.ChannelId}` are not getting assi

[2016-08-31 15:35] Mazenx commented on #1105
Any update guys ?

[2016-08-31 15:42] 0GiS0 opened #1133 "Skype calling - session.send doesn't work in some cases"
Hi folks,

I was testing skype calling and I've noticed that the object session doesn't work in some cases. I've been tested this simple scenario:

`var restify = require('restify'),
    calling = require('botbuilder-calling');

//1. Setup restify server
var server = restify.createServer();

server.listen(process.env.port || process.env.PORT || 3978, function(){
    console.log('server up & runnin

[2016-08-31 16:10] JpEncausse opened #1134 "Facebook: bug with begin/end dialog flow ?"
Hi,

It seems I have a bug only with Facebook (not with the emulator) with the followinf flow:

- session.send(Message 1)
- session.beginDialog A
- =>user write something X
- session.endDialog A
- session.beginDialog A
- session.send(Message 2)
- =>user write something Y

On Facebook the user Y text is scoped outside the dialogA. it's like if endDialogA is executed after the 2nd beginDialog A

Any

[2016-08-31 16:20] JpEncausse opened #1135 "Using LUIS the right way ?"
Hello,
We made a large usecase with

- some regexp to redirect to messages
- some LUIS Intent to redirect to messages

We have many errors with LUIS

- It seems small words like "hello, hi, bye, ..." do not fit in LUIS.
- It seems LUIS likes only very large sentences

So I don't know if I should set some "smart regexp" for small words ?

How do you handle a real life usecase ? Lots of article on C

[2016-08-31 16:41] Thegaram commented on #1128
@palmerabollo As you mentioned, this is true for clients using the Direct Line API, like Web Chat or mobile apps. Not true, however, for other channels, as they use the Bot Connector API which does not store messages. (Just clarifying your remark regarding *other channels*.)

[2016-08-31 17:00] irynabond commented on #1128
Thanks for replies!
I don't use the Direct Line API . Now it's a simple url wrapped in <iframe> generated by web chat channel and embedded into html code.
I'm going to develop my own UI and to use the Direct Line API. Is there a chance that it will solve this problem? This is CaptionBot developed by Microsoft https://www.captionbot.ai . When I open Fiddler there are no multiple requests from this

[2016-08-31 17:48] qswinson opened #1136 "PostUnhandledExceptionToUserTask should use config value instead of Debugger.IsAttached"
It would be very helpful if the PostUnhandledExceptionToUserTask used a configurable flag to determine if the exception should be returned as the message to the user instead of the generic "Sorry, my bot code is having an issue." message. Getting quick access to the exception is very helpful for testing and a tester should not have to have an environment where they can attach a debugger to the cha

[2016-08-31 18:10] msft-shahins commented on #1129
This is in our backlogs and we are looking into ways to make our libraries .Net core compatible. The main challenge that we see to make `Bot Builder` .Net core compatible is lack of support for binary serialization in .Net core that builder library is heavily dependent on.

[2016-08-31 18:10] #1129 closed

[2016-08-31 18:16] danmarshall commented on #1131
Hi @srozga this is a popular request. We are coming up with a solution, please watch our blog for updates.

[2016-08-31 18:17] euanlau opened #1137 "message sent from Skype does not show up in bot engine"
This started this morning. Messages sent from Skype no longer triggers the dialogs in the engine. I have the same bot running for Telegram and it works fine.

[2016-08-31 18:18] euanlau commented on #924
I was able to reproduce the problem with the skype demo app.

[2016-08-31 18:22] safiresh commented on #1137
Yes.. I got Same issue.. I cant receive any msg from skype  but  BOT to Skype working.

[2016-08-31 18:27] safiresh commented on #1137
Team. This issue resolved.. Now i Got from msg Skype to BoT.
@euanlau  Kindly check  your  Bot too 👍

[2016-08-31 18:43] msft-shahins commented on #1132
@ranjan-ranjan how do you generate the message? The result that you are mentioning above is the right key for the test message that we generate for out tests: https://github.com/Microsoft/BotBuilder/blob/1958a3f946c2e8a540196b7d12fd15255932ce7c/CSharp/Tests/Microsoft.Bot.Builder.Tests/DialogTestBase.cs#L129

 GetKey(...) is a helper for the [InMemoryDataStore](https://github.com/Microsoft/BotBuild

[2016-08-31 18:43] #1132 closed

[2016-08-31 19:13] s-rya commented on #1113
@willportnoy  yeah..... Its very confusing.

For example, My bot orders a pizza, so X and Y want to order pizza using my bot in group chat.
Sceanario :
X : @bot Hi
bot : Hi I am pizza bot. What type of pizza do you want to order. 1 - Veg 2 - Non Veg
Y : @bot Veg
bot : Hi I am pizza bot. What type of pizza do you want to order. 1 - Veg 2 - Non Veg

So in this case if Y says Veg, i want it to contin

[2016-08-31 19:28] msft-shahins commented on #1136
you can implement your custom [IPostToBot](https://github.com/Microsoft/BotBuilder/blob/1958a3f946c2e8a540196b7d12fd15255932ce7c/CSharp/Library/Dialogs/DialogTask.cs#L442) and register it in your custom container to implement your desired behavior. Here is how DialogModule register the default implementations: https://github.com/Microsoft/BotBuilder/blob/1958a3f946c2e8a540196b7d12fd15255932ce7c/CS

[2016-08-31 19:35] CarolHanna commented on #1135
I suggest you create phrase list with the greetings phrases to enhance the performance

[2016-08-31 20:57] srozga commented on #1131
Thanks!

[2016-08-31 20:57] #1131 closed

[2016-08-31 22:13] oztheozoz opened #1138 "Adding Facebook Channel Causes Bot to Show on botframework.com"
Tried adding FB channel to my bot. The credentials checked out fine but the bot was not added to the channel list. I tried refreshing and now there is a problem displaying the bot's page. See below. It looks like there is some problem with the connection between the botframework and FB. See images linked below.

![image](https://cloud.githubusercontent.com/assets/4121069/18148169/eb2cd5d8-6f8c-11e

[2016-08-31 22:28] msft-shahins commented on #1137
Thanks for your report. We had a short degradation of service Wednesday morning that was causing this issue. Everything should be normal now. Please let us know if your bot is still not working.

[2016-08-31 22:28] #1137 closed

[2016-08-31 22:53] msft-shahins commented on #1130
Here is an example of how you can achieve this. the MainDialog forwards the message to the ChildDialog and ChildDialog will receive the rest of messages till the users says cancel.

[code]

[2016-08-31 22:53] #1130 closed

[2016-08-31 23:01] msft-shahins commented on #1128
Webchat  is using Direct line API which uses a polling mechanism to fetch messages from bot.

[2016-08-31 23:05] msft-shahins commented on #1120
You can remote debug your service in azure to see what causes the exception. Also you can run your bot locally and register an ngrok endpoint pointing to the local instance of your bot with the developer portal and debug your bot locally using the live traffic from Skype.

[2016-08-31 23:23] msft-shahins commented on #1138
@oztheozoz can you check and see if the problem still exist? a fix pushed that should resolve this.

[2016-08-31 23:37] willportnoy commented on #989
@maximilianlorent your RegisterBotDependencies isn't thread safe if you're updating a shared static container.

This is the particular comment I was referencing: https://github.com/Microsoft/BotBuilder/issues/867#issuecomment-237443188

ASP.NET has facilities for dynamically instantiating attributes from a dependency injection container - you might be able to select which attribute (and therefore

[2016-08-31 23:41] irynabond commented on #1128
Thank you, now I understand why it's happening.

[2016-08-31 23:47] #1128 closed

[2016-09-01 00:01] msft-shahins commented on #920
Since by default everything parsed as markdown you can put `\n\n` to have new paragraph in Skype and Facebook:

[code]

Facebook:
![image](https://cloud.githubusercontent.com/assets/17562300/18150505/2c3c86cc-6f9c-11e6-9a71-52a114cc7555.png)

Skype:
![image](https://cloud.githubusercontent.com/assets/17562300/18150508/3bc125c6-6f9c-11e6-8c0f-8b5d3defcfed.png)

Slack:
![image](https://cloud.githubu

[2016-09-01 00:06] msft-shahins commented on #1112
similar to issue #920 and [this](https://github.com/Microsoft/BotBuilder/issues/920#issuecomment-243938371) should have the answer.

Also markup, e.g. `<br/>`, is only supported by Skype channel: https://github.com/Microsoft/BotBuilder/blob/c4dbb7183cc1c23837b6d6c8bc03fe8c54ba1f55/CSharp/Library/Microsoft.Bot.Connector/TextFormatTypes.cs#L22

[2016-09-01 00:06] #1112 closed

[2016-09-01 00:06] MironV commented on #920
That seems to produce indented paragraphs. Is there a way to produce block paragraphs (i.e., create blank lines)? A lot of my content is really hard to read otherwise.

[2016-09-01 00:28] oztheozoz commented on #1138
Works now. I can see the bots. Thanks for the quick fix.

[2016-09-01 00:28] #1138 closed

[2016-09-01 00:51] manojkota commented on #980
Mine is a private repository. I can't provide access to it.

[2016-09-01 01:05] msft-shahins commented on #980
@manojkota would be good if you can create a project that has the minimal code to repro this issue.

[2016-09-01 02:45] acparas commented on #920
@MironV

I have the same question. @msft-shahins closed my [issue](https://github.com/Microsoft/BotBuilder/issues/1112), which detailed this exactly.

[2016-09-01 05:57] santhonydo opened #1139 "Bot Framework Nodejs unable to connect bot after deployment on azure"
I have deployed my nodejs bot to azure with proper appId and password configuration. The URL to the site works but when I test my bot connection (see below), I get this message....

"NotFound. The resource you are looking for has been removed, had its name changed, or is temporarily unavailable."

When I try to reach my /api/messages end point on localhost, I get the same error.

When connecting m

[2016-09-01 06:58] ranjan-ranjan opened #1140 "code not formatted properly"
code not formatted properly like BotStateExtensions.cs

[2016-09-01 07:06] ranjan-ranjan commented on #1132
Yes I am debugging using test cases here is my output:
![2](https://cloud.githubusercontent.com/assets/16834561/18158379/a22c881a-7040-11e6-86c6-62fc17762853.png)

[2016-09-01 07:16] ranjan-ranjan opened #1141 "redundant code"
isn't https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/BotData.cs#L74 to https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/BotData.cs#L77 redundant code?

and this https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/BotData.cs#L342 ?

[2016-09-01 07:41] somprabhsharma opened #1142 "Using BotBuilder with Hapi"
BotBuilder does not work with Hapijs, Is there any way to get it work with Hapijs ?

[2016-09-01 07:46] ashay-88 commented on #1120
Hi,
I connected my emulator to deployed bot. yesterday issues were not shown on dev.botframework.com but the issue counter shows issues logged in midnight with same description..

On my emulator I am getting following exception which is getting fired while calling my APIs..

exception System.Net.WebException: The operation has timed out at System.Net.HttpWebRequest.GetResponse() at Bot_Application

[2016-09-01 08:57] b4usat commented on #1104
Hello i tried override the `GetHandlerByIntent` and identify the IntentHandlers in different class. Below my code. Please review this
[code]
Here `MyLuisDialog` class is my own custom class which uses the same EnumerateHandlers handlers method.

[2016-09-01 09:34] palmerabollo commented on #1142
What do you mean? What error do you get? MS Bot Framework is not tied to any specific nodejs framework. The official examples use [restify](http://restify.com/) but we are successfully using expressjs, and I'm sure you can use hapijs as well.

[2016-09-01 09:51] palmerabollo commented on #1135
@CarolHanna do you think that creating a phrase list for "greeting phrases", another for "thank you phrases" and another for "goodbye phrases" to recognise these common intents is a good practice?

[2016-09-01 09:55] erlendw commented on #1006
This is exactly why i want to connect directly as well! Running through the direct line api is so much slower than hosting the bot on a local server.

I have tried to decompile the emulator, but there is to much code to get something working quickly. If you want to try and have a look at it just download dotpeek and find the stuff you need from the install location of the bot emulator

Hopefully m

[2016-09-01 10:37] CarolHanna commented on #1135
it will accelerate the learning.

[2016-09-01 11:06] APXEOLOG commented on #781
Any updates on this?

[2016-09-01 11:11] VitalyGorelov opened #1143 "When bots will be available in other countries?"
Skype FAQ has description how to add bot https://support.skype.com/en/faq/FA34646/what-are-skype-bots-and-how-do-i-add-them
But bots are available only in Australia, Canada, UK, Ireland, India, New Zealand, Singapore and the US. And I haven't this feature in Russia, for example.

When bots will be available in other countries?

[2016-09-01 11:31] somprabhsharma commented on #1142
No we can use hapijs, as hapijs puts a wrapper arround the raw request object and you are using req.on events(of raw request object) in the code which hapijs does not understand so it throws below error.
`Debug: internal, implementation, error
    Error: Uncaught error: Unknown event data
    at Object.exports.unique.exports.contain.exports.reachTemplate.exports.assert.condition [as assert] (/User

[2016-09-01 13:05] afficionaddo commented on #1111
Thanks for your reply @msft-shahins !

Do you recommend storing large text in IBotState as a property?

[2016-09-01 13:34] shahriarhossain commented on #457
Tried for last one hour, still no success :( Check the image that describes the full error
 ![botemulatorerror](https://cloud.githubusercontent.com/assets/6463320/18168972/12739562-707a-11e6-8351-e3169e620ed5.PNG)
Bdw, I am using vs15 update2.

[2016-09-01 14:00] dandriscoll commented on #1006
The short answer is this: yes, although you're now operating outside the Bot Framework world.

Bots are just web services. If you unhook security and talk directly to the bot's activity endpoint, you can operate your bot locally on your machine. It may be simpler to just open your own API on the bot's service because emulating what we do in the channels is actually a fair amount of work. (It's by

[2016-09-01 14:26] JpEncausse commented on #1134
I had a clue because
- I create a bessage
- I begin dialog
- I send the message

I thought it could messup the behavior of Facebook.

At last I write my own "prompt" without dialogs

[2016-09-01 14:27] wolfer001 commented on #1135
You can try using the BestMatchDialog, helps you to handle greetings
http://www.garypretty.co.uk/2016/08/01/bestmatchdialog-for-microsoft-bot-framework-now-available-via-nuget/

[2016-09-01 14:30] JpEncausse opened #1144 "Few seconds Lags with BotFramework / Facebook"
Hi,

Here is my architecture:
- LUIS Server
- Small Azure server
- MSBot Framework Server
- Facebook Bot Serveur
- Desktop / Mobile apps

When I test my bot (since few months) I see lot's of lags, few seconds to get an answer.
With the emulator on my machine it's very fast.

Do you have the same issue ? Is there a parameter ? Few month ago there was a delay in the MSBot code.

[2016-09-01 14:33] JpEncausse commented on #1135
Thanks but I'm in NodeJS / Node-RED

Does the BestMatch only use RegExp or does it use advanced features like
Soundex / Leveistein Distance

On Thu, Sep 1, 2016 at 4:28 PM, wolfer001 <notifications@github.com> wrote:

--
*Jean-Philippe Encausse* - R&D / IoT / Innovations
http://www.encausse.net - http://arm-avocats.fr
Twitter: @JpEncausse - Mob: +33 6 82 12 56 99
Do it Once, Use it Twice ~ Do it T

[2016-09-01 14:36] wolfer001 opened #1145 "FormFlow Saying "No" to form confirmation shows redundant text"
I have a FormFlow dialog, and once the fields are filled it prompts a confirmation that all of the fields are correct, if you say "no" it then sends a message asking to to clarify which field you want to change. However when it does this the message sends the field name twice. Once as written in my code with no spaces and again with the spaces and current selection. Is there a way to remove this r

[2016-09-01 14:37] luisamajose opened #1146 "flow with different branchs"
Hi, Im trying to create a relative complex flow, with subpaths with their own subpaths. Can someone give an example how to handle this?

I was trying to use something like this, but I dont know if is the best way:

[code]

[2016-09-01 15:22] streamy878 commented on #1088
No one has no idea how to get all the group conversations of your bot?

[2016-09-01 16:44] palmerabollo commented on #1085
@muzahmed Do you still think the new release will be ready this week? (this feature is blocking us somehow). Thank you!

[2016-09-01 16:47] Thegaram commented on #1146
For branching you can also use Chain.Switch. See [this](http://stackoverflow.com/questions/38886404/how-to-make-branching-dialogs-in-microsoft-bot-framework/38902576#38902576) for an example.

[2016-09-01 17:36] tungnt244 opened #1147 "How to store appID and appPassword in other host"
When using azure host server, i can store the value of appId and appPassword in Application Setting on Azure, but how can i do that when i deploy it to other host rather than Azure( in my case, it's amazonaws).
I try to change the process.env with my actual appID and appPassword provided by botframework, but it was failed. I'm very appreciated your help.
[code]

[2016-09-01 17:53] willportnoy commented on #1118
@vinnitu it looks right, but I'll leave it to @Stevenic to confirm.

[2016-09-01 17:55] willportnoy commented on #1105
I'm confused by your descriptions - for example, the bot portal would not be tested the same endpoint (generally a cloud endpoint) as the emulator (generally a localhost endpoint).

[2016-09-01 17:57] willportnoy commented on #1136
You can also override it more easily through the container by specifying a ResourceManager that overrides that one message and delegates to a base implementation otherwise.

[2016-09-01 17:58] willportnoy commented on #1120
So your API's http request is timing out?

[2016-09-01 18:00] willportnoy commented on #1104
That seems like a reasonable way to enumerable intent handlers across several classes.

However, using intent handlers spread across different classes is not a scenario that we've tested much.

[2016-09-01 18:02] willportnoy commented on #1146
@Thegaram has a good suggestion.

I also tend to just write out an IDialog<T> implementation for complicated flows.  For example, that's how the fluent chain dialogs were implemented.

[2016-09-01 18:03] willportnoy commented on #1147
Did you set those variables in the process environment?

[2016-09-01 18:06] willportnoy commented on #778
@RaffaelHold's suggestion seems reasonable.  If you want to send a message proactively to a different user, you would have saved their contact information (the fields in ResumptionCookie) from a previous conversations to a store somewhere, so that you can instantiate a ConnectorClient to send them messages.

I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-09-01 18:06] #778 closed

[2016-09-01 18:06] willportnoy commented on #991
I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-09-01 18:06] #991 closed

[2016-09-01 18:07] willportnoy commented on #1109
I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-09-01 18:07] #1109 closed

[2016-09-01 18:08] willportnoy commented on #1144
You might consider App Insights to track the time spent in your dependencies to narrow down the time spent to a single component.

[2016-09-01 18:21] puneetsngh commented on #1108
@afficionaddo I too used bing search api for my multipurpose bot developed in Python.

That's pretty impressive & I believe there cognitive Api's are the only thing properly documented. But 1000 queries are pretty less.

[2016-09-01 19:22] muzahmed commented on #1147
@tungnt244 I'm not familiar with aws, I can help dig into it for you, but to unblock you, you can pass in the appId and password as strings into the builder.ChatConnector call

eg.
`
var connector = new builder.ChatConnector({
    appId: "myAppId",
    appPassword: "myPassword"
});
`

you may also be able to use a package to help store configs: https://www.npmjs.com/package/config

if you're still

[2016-09-01 19:22] #1147 closed

[2016-09-01 19:31] brendanarnold commented on #1006
If you are improving the direct line API, can I request there is a property in the json response which can be populated with custom metadata?

I have needed to pass specific info to my mobile app and the only way to do this I've found is to send serialised json instead of plain text responses (which looks terrible in all the other channels)

[2016-09-01 19:45] Andrea-Orimoto commented on #839
@satheeshravi did you have a chance to look at this?

[2016-09-01 20:34] euanlau commented on #1137
Yes. It is back to normal now. Thanks for checking!

[2016-09-01 21:17] irynabond opened #1148 "LUIS Authentication"
Hello,
I am using LUIS model with C# Bot Builder SDK.
I put my luis app id and luis subscription key in this format:
`[LuisModel("<YOUR_LUIS_APP_ID>", "<YOUR_LUIS_SUBSCRIPTION_KEY>")]`
Does SDK provide secure authorization to LUIS service? Do I need to implement additional security procedures within my code when sending requests to LUIS service? Thank you!

[2016-09-01 21:19] erlendw commented on #1006
Thanks a lot Dan!
If I  were to open my own api as you mentioned, would it be possible to just pass message objects to a rest endpoint? What I'm having hard time understanding is how I could use for example Postman to communicate with the bot.

[2016-09-01 21:38] reyesrico commented on #644
If you still have more comments, please reopen the issue. Thank you.

[2016-09-01 21:38] #644 closed

[2016-09-01 21:43] wolfer001 commented on #1135
Ah I see.
And not to sure, @garypretty may be able to help there

[2016-09-01 21:43] msft-shahins commented on #1148
All the calls that the Luis client implementation in the bot builder is making is over https: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Luis/LuisService.cs#L86
and this is where the request is getting generated: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Luis/LuisService.cs#L95

[2016-09-01 22:05] LarsLiden commented on #1125
Thanks for the head's up.  Bug has been fixed and will show up in our next push

[2016-09-01 22:05] #1125 closed

[2016-09-01 23:03] luisamajose commented on #1146
Thank you so much for your help! I'll try to understand a bit more and use it in my code

[2016-09-01 23:04] dandriscoll commented on #1006
Hi @brendanarnold, yes, your client/bot controls the entire channelData field. Its contents are passed through Direct Line untouched. It's your own private tunnel.

Hi @erlendw, you can certainly reuse any of our libraries to create a custom API if you'd like. It's your API, so you can pass whatever objects you'd like -- if you want to pass objects that look like Bot Framework objects, please feel

[2016-09-02 00:00] msft-shahins commented on #1141
They are not redundant code because they are used for key comparison for implementation of [InMemoryDataStore](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/BotData.cs#L97). That is a generic implementation and considers a single instance of that can be shared between different bots and conversations. As a result that key comparison is necessary.

Also [SetCacheValue](

[2016-09-02 00:00] #1141 closed

[2016-09-02 00:02] #1136 closed

[2016-09-02 00:05] msft-shahins commented on #1111
@afficionaddo  the maximum size of data that you can store in each data store is limited to [32kb](https://docs.botframework.com/en-us/technical-faq/#is-there-a-limit-on-the-amount-of-data-i-can-store-using-the-state-api). I recommend keeping the text in your own data store and keep a continuation token that can be used to calculate the next page in the IBotState.

[2016-09-02 00:05] #1111 closed

[2016-09-02 00:19] msft-shahins commented on #819
@XelaMon current implementation that you are describing makes your bot to look unresponsive when first message is coming to your bot. As @danmarshall suggested you should send a 204 and probably an optional message that the bot is warming up. Then send the response whenever your bot is ready as a proactive message to the user.

[2016-09-02 00:19] #819 closed

[2016-09-02 01:24] santhonydo commented on #1139
I deployed on heroku and the test connection was accepted. However, it doesn't seem to hit my bot.dialog function (can't wake my bot).

[2016-09-02 01:31] msft-shahins commented on #961
Closing this issue since @JpEncausse mentioned that it is resolved now. Feel free to open another issue if you still seeing this.

[2016-09-02 01:31] #961 closed

[2016-09-02 04:49] ashay-88 commented on #1120
Yes, my APIs are getting timed out when they are called from BOT. but when I call them via browser , they work fine.

[2016-09-02 05:31] J3QQ4 opened #1149 "Suggestion: ability to change welcome message "Hi, I'm ... - Say hi if you'd like to chat""
When using the web interface for the bot, the greeting message is "Hi, I'm a [bot name]. Say 'hi' if you'd like to chat." and it cannot be changed.

Would it be possible to add a config option to change that default message?

Thanks.

[2016-09-02 05:55] J3QQ4 commented on #228
@Stevenic  and @willportnoy, may I ask if partial C# classes are actually supported by LuisDialog? I am trying to split the intent handlers into separate files, but it seems that LuisDialog doesn't pick up any intent that is handled in another file that is a part of a partial class.

Here is my main LuisDialog class file:

    [LuisModel("xxxxxxx", "xxxxxxxx")]
    [LuisModel("xxxxxxx", "xxxxxxxx"

[2016-09-02 06:01] shahriarhossain opened #1150 "Internal Server Error/Unable to deserialiaze to response in local emulator"
Whenever I tried to run the Bot template(File > New > Bot application) I encounter a problem.

As you can see from the following image I sent "Hello World" from the local emulator. The "_reply_" variable was successfully able to process my text.
![new](https://cloud.githubusercontent.com/assets/6463320/18193921/f8a8156a-7103-11e6-91b0-900e7b74cc1b.png)

As soon it hits "**await connector.Conversat

[2016-09-02 06:07] shahriarhossain commented on #1150
@willportnoy need help on this !

[2016-09-02 07:33] palmerabollo commented on #1085
A suggestion/feature request: load all files under locale/*/*.json (not only locale/*/index.json) to be able to work in different libraries/dialogs in parallel (each library having its own locale file(s)).

[2016-09-02 07:37] edgar96 opened #1151 "Error, delete the issuse"
Error, delete the issuse pls

[2016-09-02 07:40] erlendw commented on #1006
@dandriscoll appreciate that you took the time to help! I will try it out!

[2016-09-02 07:40] #1006 closed

[2016-09-02 07:46] DrWala opened #1152 "Bot framework in C# does not respect activity.TextFormat on certain channels"
I've set activity.TextFormat to be "plain", however the formatting is not respected in Slack and Telegram. However, The bot framework emulator does respect it. The text in the activity looks like this:

#Something

However, even with TextFormat set to plain, the words are bolded on Telegram, and Slack displays it as # Something #.

Do let me know what other screenshots I need to provide to assist

[2016-09-02 08:46] hgjkant commented on #1080
I tried this again, and a canvas works. There were more than one in when the original error occurred, so I am assuming the session became too big to store. On a side note: when the bot tries to send a message to the user that is too big, it gives an error to explain that, it would be nice it that would be possible for the session too.

[2016-09-02 08:46] #1080 closed

[2016-09-02 09:29] afficionaddo opened #1153 "Keeping large number of data-bags"
Hi,

The bot I am building can have upto 5000 users.
For every user I'll be maintaining a data-bag for holding some custom data.

1. Is this the right approach?
2. Any restrictions or limit on the data-bags as it will be stores in your Azure of BotState.
3. Any impacts due to so many databags being maintained?

[2016-09-02 09:42] ejadib commented on #1150
@shahriarhossain try updating the Bot.Builder NuGet package. The template is using v3.0.0 and current version is 3.2.0

[2016-09-02 09:44] mephisto83 opened #1154 "Trying to create a nuget package on azure"
We are trying to create a nuget package on azure with the Microsoft.Bot.Builder which has a dependency with the Microsoft.Rest.ClientRuntime. We have a dependency on the Newtonsoft.Json also, which seems to be creating a conflict. Any insites would be helpful.

******************************************************************************
Starting: NuGet Packager
**********************************

[2016-09-02 10:42] JpEncausse commented on #1144
I'm using NodeJS not C#.
I tried some test, it seems the delay is dispatch between Facebook and my
server.

I know at the begining of MSBot Framework thre was a parameter to delay the
answer somewhere. But I don't know if it's still there.

On Thu, Sep 1, 2016 at 8:09 PM, Will Portnoy <notifications@github.com>
wrote:

--
*Jean-Philippe Encausse* - R&D / IoT / Innovations
http://www.encausse.net -

[2016-09-02 11:01] barmangaurav opened #1155 "Getting 403 (Forbidden), Microsoft Bot is trying to make a Web Client - download data call"
I am trying to create a bot using Microsoft BotFramework

The issue I am facing is when the bot code is trying to download data(image which is uploaded by user to the bot) via any channel like Facebook messenger/Skype/Slack. The code to download is by creating a WebClient and making a DownloadData call by passing the attachment URL.

I am able to browse the uploaded image URL. Also, the code for d

[2016-09-02 11:36] rebeker opened #1156 "language translation"
hi,

I cannot see the "Translate Channel Messages" button in my bot in bot framework developer portal.

am I missing anything?

Thanks.
R.

[2016-09-02 12:18] shahriarhossain commented on #1150
Did that already, but still am unable to work with the local emulator. Please note: The same code works smoothly in Azure.

[2016-09-02 12:23] ejadib commented on #1150
The emulator URL is wrong in your screenshot is wrong. Try replacing http://localhost:3979 with http://localhost:9000/. Just the first url. The Bot url is ok.

[2016-09-02 12:34] shahriarhossain commented on #1150
@ejadib :  Now its working :+1:

[2016-09-02 12:34] #1150 closed

[2016-09-02 12:37] hazzik commented on #929
@MironV
I use following snippet to filter bot mentions in public groups or private messages:
[code]

[2016-09-02 12:44] mitkodi opened #1157 "Markdown formatted Text in rich cards"
If rich card's Text property is set to a markdown formatted text it's displayed as a plain text.

[2016-09-02 13:25] JpEncausse opened #1158 "NodeJS: UserData not saved"
Hi,
I may have missed something, tested with the emulator,

[code]

User data seems to be never saved ?

[2016-09-02 13:37] JpEncausse commented on #1158
Ok calling session.save() after a modification will work.
I thought it was magically saved();

[2016-09-02 13:44] somprabhsharma commented on #781
I am also getting the same error in messenger :-(

[2016-09-02 14:01] naeemshaikh27 opened #1159 "ReceiptCard - tax and total fields appear by default, even when not specified"
Here is the code
[code]

I have not specified any tax or total for the receipt card. But somehow it still shows those fields but empty.

![capture](https://cloud.githubusercontent.com/assets/6553193/18206332/c3307a2c-7143-11e6-817e-f29f4ca9ae0f.PNG)

Works fine on emulator

[2016-09-02 14:34] JpEncausse opened #1160 "LUIS: Intents are limite to only 20 ?"
Using LUIS as a NLP for our Bot it seems the intents are limited to 20. It's very few for a bot ...

I know we can provide multiple LUIS Id (but I assume it makes multiple HTTP Request ?)

How bot creator handle that ? Is it a technical limit ?

[2016-09-02 14:51] ziggy42 opened #1161 "[Node.js] retrive contact information from telegram sourceEvent"
I need to ask the user for his/her phone number. I couldn't find an API to do it, so I'm using `sourceEvent`, like this:
[code]

But where should I look to find what the user sent me?
`results.response` is always empty.

[2016-09-02 15:41] WilliamBerryiii opened #1162 "Adding examples for other .Net Languages"
I'd like to start adding samples for other .Net languages; but the project structure is not supportive of this activity.  I'd like to suggest that the `CSharp` folder be renamed to `DotNet` and that the sample folder be subdivided further by language grouping.  Perhaps with a structure like `Samples -> CSharp -> SampleEchoBot`.  Once this work is complete the support for adding examples, in say VB

[2016-09-02 15:50] willportnoy commented on #1146
I'm going to close this issue but feel free to open a new issue for further discussion.

[2016-09-02 15:50] #1146 closed

[2016-09-02 15:53] qswinson commented on #1136
For anyone who comes across this issue and finds the MS recommendations lacking, I've created a [gist with my ExceptionHandlerDialog here.](https://gist.github.com/qswinson/39a36e485df488b710f8a9ba224627af)

I use this as my top level dialog in my controller and pass a function into the constructor that builds the dialog chain with the actual business logic.

[2016-09-02 15:54] willportnoy commented on #1120
Sorry, I don't have any insight why your API is timing out when called from code rather than a browser.  Sometimes the proxy configuration is different between the two.  I don't think this is an issue with the bot framework, so i'm going to close this issue, but feel free to open a new issue for bot framework related questions.

[2016-09-02 15:54] #1120 closed

[2016-09-02 15:55] willportnoy commented on #1080
Yes - I agree, better diagnostics would be nice.  I'll add this to our internal backlog.

[2016-09-02 15:56] willportnoy commented on #1144
Right, I believe the node version will "latency batch" the messages for 250 ms.  @Stevenic or @muzahmed  can you comment more?

[2016-09-02 15:57] willportnoy commented on #1136
@qswinson that's a good suggestion - thank you for the code sample.

[2016-09-02 15:59] willportnoy commented on #1162
That sounds reasonable - we have some samples pending that follow that structure somewhat, and we were hoping to reorganize the existing samples/examples in that format.

[2016-09-02 15:59] willportnoy commented on #1160
https://docs.botframework.com/en-us/technical-faq/#how-can-i-use-more-than-the-maximum-number-of-luis-intents

Feel free to ask more questions.

[2016-09-02 16:01] willportnoy commented on #1151
I will close the issue - thank you.

[2016-09-02 16:01] #1151 closed

[2016-09-02 16:03] willportnoy commented on #1153
https://docs.botframework.com/en-us/technical-faq/#is-there-a-limit-on-the-amount-of-data-i-can-store-using-the-state-api

We don't have any limits on the number of users.  Longer term, you can always write your implementation of the state store interfaces.

[2016-09-02 16:04] willportnoy commented on #1154
Perhaps your packages depend on different versions than specified in our nuspec?

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Builder.nuspec#L29

[2016-09-02 16:05] willportnoy commented on #1156
Can you tell me where in the documentation you see a mention of "Translate Channel Messages"?  I don't believe that feature is available in V3.

[2016-09-02 16:05] willportnoy commented on #1157
Which channel?

[2016-09-02 16:06] WilliamBerryiii commented on #1162
What do you think the ETA on this might be?  Would you just like a PR with the change?

[2016-09-02 16:08] willportnoy commented on #1086
I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-09-02 16:08] #1086 closed

[2016-09-02 16:09] willportnoy commented on #1162
@jameslew @Andrea-Orimoto any thoughts on when we could check in the new samples?

[2016-09-02 16:13] wswijaya opened #1163 "[C#] Facebook Authentication in Skype keep failing"
I create a bot that uses fb authentication. I tested it in Skype desktop, the link is generated and i can login. when i tried in skype ios, it keeps throwing "The redirect_uri URL is not properly formatted".
The same link works in Telegram.

I noticed that in Skype when that link is click it encoded % to %25 which invalidate the link. is this a skype ios  bug?

[2016-09-02 16:19] Andrea-Orimoto commented on #1162
Without committing to a specific date, I'd say we should be able to begin rolling out the new samples this month. Stay tuned! I'm closing this issue for now, let us know if you have any more questions. Thank you!

[2016-09-02 16:19] #1162 closed

[2016-09-02 16:24] mitkodi commented on #1157
I tried on Skype and Bot Framework Channel Emulator.

[2016-09-02 16:25] WilliamBerryiii commented on #1162
@Andrea-Orimoto can I ask why the issue is being closed?

[2016-09-02 16:34] Andrea-Orimoto commented on #1162
@WilliamBerryiii sorry, I thought we answered your question, the new sample structure is coming soon. Basically this is a feature request that is being addressed, and we usually close these types of issues once answered, otherwise they remain open indefinitely. If you want to keep track of it on your side, feel free to reopen it. Thanks!

[2016-09-02 16:35] JpEncausse commented on #1160
Yes in a Nutshell Dialog send an HTTP request for each model.
My question is more why only 20 / model ?

[2016-09-02 16:37] JpEncausse opened #1164 "NodeJS - Facebook Stickers"
Hi,
How can I send a Facebook sticker from my bot ?
I could set an attachement but how can I set the sticker_id ?

[2016-09-02 16:44] WilliamBerryiii commented on #1162
@Andrea-Orimoto this was about a structural change to the project to support other language samples contributed from outside - i.e. VB and F# ... please see the initial issue comment.

[2016-09-02 17:09] eanders-MS commented on #1161
Hi ziggy42. I believe the reply will come in on message.sourceEvent, but I will verify this and get back to you. Let me also ask: is your keyboard displaying in Telegram? I ask because the reply_markup field must be serialized JSON, e.g.
[code]

[2016-09-02 17:16] Andrea-Orimoto commented on #1162
@WilliamBerryiii yes, that's exactly what we're going to do. Current thinking is that there will be a new top level /samples folder, with a structure like /samples/sample-name/language. For example

* samples
 * echobot
   * C#
    * Node
 * another sample
   * C#
    * Node
 * etc...

This should address your request, sorry if it was not clear. Let us know if you still have questions. Thank you.

[2016-09-02 17:23] ziggy42 commented on #1161
Hi, yeah I see the keyboard and works just fine.
I've also already tried to look in `session.message.sourceEvent` but I don't see the phone number, only the name of the user

[2016-09-02 17:30] WilliamBerryiii commented on #1162
Can I make the suggestion that the breakdown be by language so that the project names can stay the same without conflicting? I.E. `Samples -> CSharp -> SimpleEchoBot` and `Samples -> FSharp -> SimpleEchoBot`

[2016-09-02 17:39] msft-shahins commented on #1164
Currently stickers are not supported by facebook send api: https://developers.facebook.com/docs/messenger-platform/send-api-reference

[2016-09-02 17:39] #1164 closed

[2016-09-02 17:56] Andrea-Orimoto commented on #1162
Good suggestion, we'll consider it. What do you mean by "conflicting" exactly? thanks.

[2016-09-02 17:58] msft-shahins commented on #1163
@wswijaya have you tried using a [Sign-In](https://docs.botframework.com/en-us/csharp/builder/sdkreference/attachments.html#signincard) card rather than sending the url?

[2016-09-02 18:10] Stevenic commented on #1158
Can you show the rest of your code please?  If all you're doing is modifying `userData` and you're not calling `send()` or `beginDialog()` afterwards you will need to call `save()`. You also need to call `save()` if you do something like make an async call and simply want to persist something to `userData` afterwards.  Think of it more like cookie storage. Modifications are bounded to the lifetime

[2016-09-02 18:15] msft-shahins commented on #1155
403 should only appears for Skype. #662 have sample implementation how to fix this issue.

[2016-09-02 18:30] eanders-MS commented on #1152
Hi DrWala, looks like a bug. Thank you for reporting. I will reply here when a fix for this goes live. Small issues like this typically have fast turnaround.

[2016-09-02 18:54] CarolHanna commented on #1160
This limit is set due to performance reasons. But relaxing it is one of the top priorities on our roadmap, stay tuned :)

[2016-09-02 19:08] Mazenx commented on #1105
Yes I am using the emulator to test a local host url, I am just using the machine name instead because I am creating self signed certificate and it l, veripark is just a domain name.

[2016-09-02 19:13] msft-shahins commented on #1140
The commit above should fix this issue.

[2016-09-02 19:13] #1140 closed

[2016-09-02 19:57] WilliamBerryiii commented on #1162
Ignore the `conflicting` remark ... I would still vote for the by language orientation rather than the by example.

[2016-09-02 20:09] msft-shahins commented on #1107
Closing this assuming that the issue is resolved and the main reason was the missing BotAuthentication attribute. Feel free to open another issue if you still have this problem.

[2016-09-02 20:09] #1107 closed

[2016-09-02 20:28] msft-shahins commented on #845
@sruthi-chelukala here is a sample code with the sigin card that works across different channels:

[code]
Skype desktop
![image](https://cloud.githubusercontent.com/assets/17562300/18217217/66a4a90a-7110-11e6-8ec6-fcce8436dd2f.png)

Skype webcliet
![image](https://cloud.githubusercontent.com/assets/17562300/18217235/8b278c02-7110-11e6-8a6c-e604aa9769af.png)

Facebook
![image](https://cloud.githubu

[2016-09-02 20:29] msft-shahins commented on #845
@stucko That is a limit that facebook is enforcing on number of characters. You can only have 320 character in a text message: https://developers.facebook.com/docs/messenger-platform/send-api-reference/text-message

I recommend using a url shortener to work around this limitation.

[2016-09-02 20:29] #845 closed

[2016-09-02 20:57] LarsLiden commented on #891
Looks like we had some code that was masking bad data being passed to Kik and instead returning a 500. Made a change so the error (i.e. invalid URL) gets properly returned.   Still investigating large image problem.

[2016-09-02 22:09] msft-shahins commented on #920
@MironV this should be fixed now. Use standard markdown `  \n` (two whitespace and `\n`) to insert a line break.

[code]

Facebook
![image](https://cloud.githubusercontent.com/assets/17562300/18219516/ff2fff04-711e-11e6-8cfb-dd94859438c0.png)

Skype
![image](https://cloud.githubusercontent.com/assets/17562300/18219523/0ba5563a-711f-11e6-8e71-5a5df2df546f.png)

Webchat
![image](https://cloud.github

[2016-09-02 22:41] LarsLiden commented on #891
I haven't been able to reproduce the large image issue.  How big of an image are you using?  Can you point me to one?

[2016-09-02 22:45] #929 closed

[2016-09-02 22:53] jameslew commented on #1088
Right now this is not enumerable within the Bot Framework SDK (or the protocol).  The system assumes the bot caches information about the messages/groups its in when the bot is added to a given conversation.

[2016-09-02 22:53] #1073 closed

[2016-09-02 22:55] jameslew commented on #1159
Can you confirm which channel you're working with?  Both Skype and Facebook implement the receipt card.

[2016-09-02 22:57] jameslew commented on #1156
Will is correct, auto-translate was removed from the Bot Framework with the V3 upgrade.  The developer and user experience are better when the bot calls the service directly rather than the Bot Framework trying to infer language preference and user intent.

[2016-09-02 22:58] jameslew commented on #1149
We'd like to do this, but it's not available right now (though it's on our roadmap).  We'll hopefully be able to add it soon.

[2016-09-02 23:04] jameslew commented on #1139
Can you share your botid so that we can diagnose?  Offhand either we can't find the server endpoint.  Any possibility you cleared the default port (process.env.PORT) in the Azure console and so it's trying 3978?

[2016-09-03 00:46] wswijaya commented on #1163
Just tried. It works. Thank you so much.

[2016-09-03 00:46] #1163 closed

[2016-09-03 08:54] zzzbatmand commented on #1088
@jameslew So it's not possible at all, or is there a way around it?

[2016-09-03 11:31] anshulgupta09 opened #1166 "BotBuilder localhost is not getting created"
Using simple code to activate localhost at port 3978 is not working using botbuilder. Here is the code:

var restify = require('restify');
var builder = require('../../core/');

//=========================================================
// Bot Setup
//=========================================================

// Setup Restify Server
var server = restify.createServer();
server.listen(process.env.p

[2016-09-03 16:59] jameslew commented on #1088
I've tagged the Skype team to see if they have any additional info, but at this time I don't know of any way around it.  The Bot Framework service itself does not have a list of the groups your bot is in.

[2016-09-03 17:01] jameslew commented on #1166
How do you know that it isn't getting created?  Unable to connect to it?  From which?

[2016-09-03 18:10] anshulgupta09 commented on #1166
Hi James, I tried opening that port on a webpage but getting 404 error. below is snapshot.
![snap](https://cloud.githubusercontent.com/assets/21671948/18226814/858ddb3c-722f-11e6-8fb7-83494dcc62d1.jpg)

[2016-09-04 00:26] AmineI opened #1167 "[node] Carousel not working in FB Messenger"
Hi,
Since an update of botbuilder for nodejs, carousels won't work anymore in Messenger, while they're working on Skype for example. The demo-skype example bot is also concerned, and I could reproduce the issue with that bot. Here is a formal bug report :

**Expected behavior :** Message sent as a carousel when using more than one attachment and the attachmentLayout(builder.AttachmentLayout.carous

[2016-09-04 08:46] kenyeung128 opened #1168 "How to add a new channel to support another App?"
Hi

I am looking for a solution of how to add a channel to interact with the ms bot framework, did anyone try before? I have my own app, so would like to redirect the message to the bot and get the reply back.

Thanks.
Ken

[2016-09-04 15:05] dandriscoll commented on #1168
Hi @kenyeung128, the Direct Line API is designed for this scenario. You can embed your bot in any app or webpage by adding the Direct Line channel, generating a secret, and coding to the Direct Line REST API.

https://docs.botframework.com/en-us/restapi/directline/

[2016-09-04 18:33] satb commented on #1095
Mine turned out to be an issue with not setting the right app id/secret.

[2016-09-04 21:07] tahazayed commented on #565
https://github.com/tahazayed/BotConnectorSkypeForBusiness

[2016-09-05 07:03] tungnt244 opened #1169 "How does Microsoft Bot Builder handle messsages"
When i have a lot of customer chat with my bot at the same time.
How does the bot handle these messages ?
Does it create an instance for every customer or just a few instance handle all that messages?

[2016-09-05 09:17] haggaishachar opened #1171 "Accessing intents/entities during the IntentDialog execution"
Hello,

I'm trying to access the recognized intent/entities info anytime during the execution of the IntentDialog.

I tried to use the bot's _receive_ and _botbuilder_ middlewares, and also dialog _onBegin_ hook, but unfortunately, all are executing **before** the recognizers code.
I tried also to play with the RecognizeMode with no luck.

What would you suggest?

Thank you,
Haggai.

[2016-09-05 10:27] rohanar commented on #965
Any chance someone fixing this!

[2016-09-05 12:00] PrasenjitSaha commented on #202
Is there any update on embeded **Web Chat Control** provided by MS Bot Framework? I want to change Header Text, change CSS etc.

[2016-09-05 14:45] NicolasHumann commented on #1072
Hi, for me the To field your are looking for is the conversationId

[2016-09-05 14:46] streamy878 commented on #1088
Thank you for your answers. They confirmed my suspicions.

[2016-09-05 14:58] NicolasHumann opened #1172 "DirectLine - From"
Hi,

In the directline API (I use the C# sdk), the FromProperty ("from" in json) is a single string. This is enough when I have to check the sender of the message comming from the GetMessagesAsync method.
But in the bot code, the Activity.From property is set from the "from" property of directline. The activity.From is a ChannelAccount object which is usefull to know the  ChannelId and the friendl

[2016-09-05 15:02] kenyeung128 commented on #1168
thanks @dandriscoll , it's great with the Direct Line, i missed it out before. But it seems I have to keep polling the rely? it doesn't support push?

[2016-09-05 15:02] #1168 closed

[2016-09-05 15:07] barmangaurav commented on #1155
Thanks a lot msft-shahins, #662 sample has solved the issue. Your help is much appreciated.

[2016-09-05 15:07] #1155 closed

[2016-09-05 16:02] dandriscoll commented on #202
We don't have any announcements yet, sorry. Please stay tuned.

[2016-09-05 16:04] dandriscoll commented on #1072
That's correct, @NicolasHumann, @rzmoz, the protocol designates that all messages are sent to the conversation, not to a particular recipient.

If you would like to pass additional information to your bot, you can use the ChannelData field, which is a tunnel between your bot and your client. You can put a To field, or any other field you like, in ChannelData.

[2016-09-05 16:04] #1072 closed

[2016-09-05 16:04] dandriscoll commented on #1172
Hi @NicolasHumann, good suggestion. The next release of Direct Line will include updated names. Unfortunately, we cannot change the current version without breaking clients.

[2016-09-05 16:04] #1172 closed

[2016-09-05 16:05] dandriscoll commented on #1168
We're working on adding a push protocol to Direct Line, likely for the next version.

[2016-09-05 16:26] 0GiS0 commented on #1133
Hi folks!

any update on this?

thanks!

[2016-09-05 17:10] liiver commented on #1105
still no update on any of related threads. I even get the same Unauthorized error for example in case of   ConversationUpdate event for example:

Activated	Event	Time	Duration	Thread
	Exception: Exception thrown: 'System.UnauthorizedAccessException' in mscorlib.dll ("Authorization for Microsoft App ID 3d4d6c46-e2c9-4f41-8ef4-45c46936e98b failed with status code Unauthorized"). Exception thrown: 'S

[2016-09-05 19:03] dandriscoll commented on #1105
Can you try calling MicrosoftAppCredentials.IsTrustedServiceUrl(activity.ServiceUrl) immediately before you call connector.Conversations.ReplyToActivity and see whether it returns true or false?

[2016-09-05 19:34] dandriscoll commented on #1052
Hi @bluekite2000, this would only be possible for v1 bots (which _may_ send a reply to a message) but it's not possible for v3 bots. V1 will be retired soon and we're not planning on adding this feature before that happens.

[2016-09-05 19:36] dandriscoll commented on #1020
Hi @filipeperdigaosousa, the Direct Line 1.0 protocol isn't going to change (we can't change it without breaking existing clients) but the next version will include messages with full card support and more properties.

In the meantime, you can use the ChannelData field as a tunnel between your bot and the client. This field can contain any data you'd like.

[2016-09-05 19:42] dandriscoll commented on #982
Hi @brendanarnold, performance should be better than when you used it prior. Messages are sequenced to make them more reliable for clients, and this can introduce delays -- you can see more information here: https://github.com/Microsoft/BotBuilder/issues/915

The channel does downrender cards into text (hence the "(1. yes or 2. no)" but you can add any structural data you want into the ChannelData

[2016-09-05 19:44] dandriscoll commented on #945
The timeout is currently 15s and unfortunately there is no way to extend it. If your bot is in a cold state and takes a few seconds to start up, you may want to look into using a periodic HTTP request to keep the bot active. Azure Web Apps have a feature called "always on" that does this.

[2016-09-05 20:09] brendanarnold commented on #915
@dandriscoll my bot is hosted In western Europe on Azure, would moving the region to pacific USA make a significant difference to the Y time? Should I be doing this going forward?

[2016-09-05 20:34] dandriscoll commented on #915
Yes. Hosting your bot in Azure West US is fastest at the moment.

[2016-09-05 20:41] liiver commented on #1105
![untitled](https://cloud.githubusercontent.com/assets/20423307/18256761/3e593cea-73c2-11e6-8999-d2027db2f03c.png)

its True

[2016-09-05 20:42] dandriscoll commented on #1105
That's very strange. Which channel are you sending this request to? I'll see if there's anything in the logs on my side.

[2016-09-05 20:44] Mazenx commented on #1105
I got it fixed in my side , the issue was that attribute [BotAuthentication] was commented because for testing i commented that to bypass the authentication . When I uncommented it , the authentication worked.

[2016-09-05 20:45] liiver commented on #1105
Its in skype channel,

Sent one message over Skype just now. See error in bot framewokr under SKype

05/09/2016, 23:44:20	There was an error sending this message to your bot: InternalServerError

[2016-09-05 20:52] liiver commented on #1105
hmm, thanks for the tip @Mazenx , but I have [BotAuthentication] in the beginning of my Controller calss already. Doesnt seem to help for now

[2016-09-05 21:10] dandriscoll commented on #965
Hi @rohanar, sorry for the delay. We do have this fixed and should have the fix available in a few days. Thanks for reporting the issue.

[2016-09-05 21:18] dandriscoll commented on #1105
@liiver, it looks like your outbound request is missing its Authorization header. @msft-shahins, do you have any ideas why this would be the case? IsTrustedServiceUrl is returning true. I'm not sure why it would be missing.

[2016-09-05 21:40] d3clan opened #1173 "EntityRecognizer.resolveTime not resolving LUIS entities"
Bot Builder: v3.2.3
I'm having problems with the builder.EntityRecognizer.resolveTime(args.entities) resolving `builtin.datetime.date` coming back from LUIS.

After LUIS has resolved the enties, it returns for the string 'next summer':
[code]
This falls straight through the logic inside `EntityRecognizer#resolveTime`, returning `undefined`. I'm assuming this is regression due to a change in the da

[2016-09-06 03:20] hughcameron opened #1174 "Slack API token or Slack events from Bot Framework"
Hi there - we've built a Slack bot using the MS Bot Framework (V3), bot id is buttonai.

Can the Bot Framework can expose the Slack API token or Slack events?

We'd like to perform some tasks that would benefit from this access, i.e.
- getting the team information
- getting the user’s information
- send message when bots is added

Any assistance would be greatly appreciated!

[2016-09-06 05:31] manojkota commented on #980
@msft-shahins, somehow the issue is resolved on its own. Thank you for your help.

[2016-09-06 05:45] naeemshaikh27 commented on #1159
i am working on web chat.

[2016-09-06 06:41] naeemshaikh27 commented on #957
Hello guys, any update on this. This issue occurs a lot on webchat. desperately waiting for a solution.

[2016-09-06 08:15] streamy878 opened #1175 "[.Net] How to get Topic Name of Skype conversation in moment when bot was added to group conversation?"
I use .Net SDK. When I add bot to Skype group conversation I get activity object with property "TopicName" = null. The only way that I found  to get the conversation the topic name - to change it and handle "TopicName" property. Is there any possibility to get a group conversation name at the time of adding the bot to it?

[2016-09-06 08:34] rposbo opened #1176 "Calls to DirectLine repeatably return "Internal Server Error" when sending a message in rapid succession"
If I create an HttpClient in C# using code similar to:

[code]

If I then have a method which sends a new message:

[code]

It will work (returning HTTP 200) if I call it patiently, but calling it twice in rapid succession causes an HTTP 500 Internal Server Error with the content
[code]

Application Insights for Bot Connector just shows HTTP 500/Internal Server Error.

What is the underlying error

[2016-09-06 08:55] brendanarnold opened #1177 ""There was an error sending this message to your bot" When using the Direct Line API"
Hi,

I get an intermittent error in Direct Line where the Bot Framework fails to connect to my Azure hosted bot in the background. The error reads "There was an error sending this message to your bot."

It seems to be mostly when first using the bot it fails, the second time it works OK. The bot doesn't do any really heavy actions other than calling the LUIS API.

Is this a timeout issue when spin

[2016-09-06 09:01] rposbo commented on #1177
Looks like you're having the same problem as me in #1176

[2016-09-06 09:19] rposbo commented on #1176
Example conversation ID in which this error occurred: **J1QN4LyLcq6** (~ 10:14AM 06 Sept BST)

[2016-09-06 09:31] naeemshaikh27 opened #1178 "replaceDialog() where the dialog is defind using dialog.matches"
I have integrated LUIS with my chatbot, and almost all of my dialogs are defined using `dialog.matches()`.
The problem is that some dialogs need to be redirected to other dialogs, but `replaceDialog` or `beginDialog` doesnt seem to be working for dialogs which are defined using `dialog.matches`.
Example: consider following dialog
[code]
how do i manually invoke it from some other dialog? `session.

[2016-09-06 09:51] JamesHay opened #1179 "Async Validated Prompts"
I've been looking at using validated prompt as per the examples https://github.com/Microsoft/BotBuilder/tree/master/Node/examples/basics-validatedPrompt

I have a requirement that I need to do some asynchronous work within the validator and it seemed the current validator wasn't going to support this.

I took the code and modified it to handle asynchronous work:

[code]

I then use it in the same

[2016-09-06 10:16] ChandrikaC commented on #1028
How this will work if my Twilio SMS is configured?

[2016-09-06 10:18] ChandrikaC opened #1180 "How to start with self initiated bot configured for direct line and SMS?"
I need to ping user with a message like 'Gentle reminder for outstanding payments'...  How to we initiate conversation to a specific user from bot framework node.js configured for Twilio SMS

[2016-09-06 11:27] palmerabollo commented on #1180
You can find more information in these two threads that solve the same issue:
- https://github.com/Microsoft/BotBuilder/issues/196
- https://github.com/Microsoft/BotBuilder/issues/159

[2016-09-06 11:30] somprabhsharma opened #1181 "Send welcome message when bot is added to slack"
How can I send a welcome message when a bot is added to slack ? Is there any event triggered when bot is added ?

[2016-09-06 11:39] somprabhsharma commented on #1174
+1

[2016-09-06 11:54] liiver commented on #1105
but why isnt it there then?

[2016-09-06 12:12] JpEncausse opened #1182 "NodeJS / Facebook display a message with only buttons"
Hi,
There is multiple ChatBot on the web displaying message with only buttons (no title)

When I create a message HeroCard or Keyboard (like prompt)  with only buttons it works on the emulator but breaks on Facebook.

Is it possible to snd a message with only buttons ?

[2016-09-06 12:14] JpEncausse commented on #1158
Hum, that might be that.

I made a little implementation of MSBot in NodeRED. So I may or may not call send() while storing some data.

At last, I always call save() so i'm sure not to lost something

[2016-09-06 12:14] #1158 closed

[2016-09-06 12:51] somprabhsharma commented on #665
Hi @stevepkr84, can you tell how did it worked for you ? please send the syntax ?

[2016-09-06 13:36] naeemshaikh27 commented on #36
issue still exists, i m not able to add bot to contacts. my colleague was able to add it tough.

[2016-09-06 13:41] venkaiahj commented on #1180
Hi palmerabollo, i have the same issue, i am trying to figure out the fields to be filled in from and to,
bot.beginDialog({
     text: "I'm sending you a proactive message!",
     language: "en",
     to: { address: "User1", channelId: "emulator" , id: "2c1c7fa3"},
     from: { address: "stuffbot", channelId: "emulator", id: "stuffbot" }
 },
     "/"
 );

i can figure out id, could not figure out

[2016-09-06 14:50] venkaiahj commented on #1180
got the solution for facebook, we have to send address something like this for facebook

bot.dialog('/notify', function (session) {
   session.endDialog("I'm sending you a proactive message!");
});
bot.beginDialog({"channelId":"facebook","user":{"id":"id of the user"},"bot":{"id":"id of the bot"},"serviceUrl":"https://facebook.botframework.com","useAuth":true}, '/notify');

[2016-09-06 15:20] dandriscoll commented on #957
Hi @naeemshaikh27, we have a bugfix going out soon that will fix this.

[2016-09-06 15:25] dandriscoll commented on #1176
Hi @rposbo, looking at the logs for your conversation, your bot is throwing an error when we try to contact it.

Do you have AppInsights configured for your bot, or do you have any internal tracing?

Direct Line is the only channel that communicates bot errors back to the client, so this is somewhat expected. You may actually be hitting this error in other channels but the messages are being dropp

[2016-09-06 15:26] dandriscoll commented on #1177
Hi @brendanarnold, typically this means your bot is generating an exception.

Do you have AppInsights set up in the Bot Framework dev portal, or do you have any internal tracing to see errors your bot is generating?

Most channels drop these errors but Direct Line sends them back to the client. It's possible your bot is throwing these exceptions on all channels but they're being ignored in other c

[2016-09-06 15:30] rposbo commented on #1176
Hi @dandriscoll - yep, we have App Insights set up:

[code]

:'(

[2016-09-06 15:36] dandriscoll commented on #1176
I'm surprised you're not getting a response body in that trace. I can post a more detailed stack if you're interested.

[2016-09-06 15:47] willportnoy commented on #1169
Your bot is a web service, typically hosted within ASP.NET.  It uses the same model as any other web service for handling requests.  You might want to read more about the ASP.NET request pipeline, for example.

[2016-09-06 16:59] satyajit-behera commented on #1101
@willportnoy it worked 👍 Thanks a lot.

[code]

[2016-09-06 17:02] nickcordrey commented on #1175
Unfortunately getting topic name is not supported in Skype today.

[2016-09-06 17:02] #1175 closed

[2016-09-06 18:25] KIBASSA opened #1183 "problem on the FB carousel display"
Hi,
In my carousel when the HeroCard has no action buttons, it comes out of the carousel.
As in the example below:

![carousel](https://cloud.githubusercontent.com/assets/8443316/18285357/4b77dc18-746e-11e6-8077-8576e621cfa9.png)

The first 4 HeroCard does not have buttons so it leaves the carousel.

How can I do to incorporate that?

This is how i added to attachments list:
 var noSeanceAttch = n

[2016-09-06 19:18] nickcordrey commented on #1088
Confirming that in Skype there is no way to enumerate the conversations that a bot is currently active in.

[2016-09-06 19:18] #1088 closed

[2016-09-06 19:43] fercom opened #1184 "POST to bot failed: POST to the bot's endpoint failed with HTTP status 409"
I am trying to receive an image attachment and two strings from the user but I am facing an issue after I publish to azure, when I try to upload a picture it gives me the next error:

POST to memebotfercomreal failed: POST to the bot's endpoint failed with HTTP status 409

But it works fine on the emulator

Message controller:
[code]

IDialog:

[code]

[2016-09-06 20:23] #980 closed

[2016-09-06 20:47] craigjensen commented on #1174
We are working on an update that will send the token as part of the ChannelData on every message.  You can then extract the token and make your own Slack RTM Api calls.  The update should be published soon - hopefully in the next couple days.

[2016-09-06 20:49] craigjensen commented on #835
We are working on an update that will send the Slack token as part of the ChannelData on every message. You can then extract the token and make your own Slack RTM Api calls. The update should be published soon - hopefully in the next couple days.

[2016-09-06 20:49] #1049 closed

[2016-09-06 20:50] craigjensen commented on #459
We are working on an update that will send the token as part of the ChannelData on every message. You can then extract the token and make your own Slack RTM Api calls. The update should be published soon - hopefully in the next couple days.

[2016-09-06 20:50] craigjensen commented on #792
We are working on an update that will send the token as part of the ChannelData on every message. You can then extract the token and make your own Slack RTM Api calls. The update should be published soon - hopefully in the next couple days.

[2016-09-06 20:53] #1149 closed

[2016-09-06 21:19] MCKRUZ commented on #792
Ok thank you Craig.

From: craigjensen <notifications@github.com>
Reply-To: Microsoft/BotBuilder <reply@reply.github.com>
Date: Tuesday, September 6, 2016 at 4:50 PM
To: Microsoft/BotBuilder <BotBuilder@noreply.github.com>
Cc: Matt Kruczek <kruz79@gmail.com>, Author <author@noreply.github.com>
Subject: Re: [Microsoft/BotBuilder] Calling chat.update in Slack (#792)

We are working on an update that

[2016-09-06 21:51] willportnoy commented on #1184
Do you have a call stack?  409 means "conflict" which we don't throw from the bot builder SDK (of course, the state service or azure tables or other stores might throw a 409).

[2016-09-06 21:52] willportnoy commented on #1181
Perhaps one of the other activity types i.e. conversationUpdate?
https://docs.botframework.com/en-us/csharp/builder/sdkreference/activities.html

[2016-09-06 22:12] danmarshall commented on #1103
This is being filtered out by Angular's [aHrefSanitizationWhitelist](https://docs.angularjs.org/api/ng/provider/$compileProvider) - we will look at the sip protocol to see if there are any security risks involved with enabling this. If so, this might need to be a user-configurable option in a future version of the webchat control.

[2016-09-06 22:16] danmarshall commented on #1103
For future reference - it may be as easy as adding
[code]
in the config of app.js

[2016-09-06 22:21] danmarshall commented on #1139
Hi @santhonydo - can you tell me your bot endpoint? is it http://pharmbot.azurewebsites.net/ ?

[2016-09-06 22:23] danmarshall commented on #1183
I can't say specifically but this other thread may have some insights: https://github.com/Microsoft/BotBuilder/issues/1090

[2016-09-06 22:34] reyesrico commented on #1183
It seems that every item inside a carousel must have at least one button to be processed.

Here it is the Facebook Developer API reference:
https://developers.facebook.com/docs/messenger-platform/send-api-reference/generic-template

[2016-09-06 22:34] #1183 closed

[2016-09-06 23:56] jameslew commented on #1182
According to Facebook Messenger's Bot API, their button card requires the text field to be specified for a buttons card.  [Facebook Button Temlate Reference](https://developers.facebook.com/docs/messenger-platform/send-api-reference/button-template ).

You could use ChannelData to send a "QuickReplies" UI which is a list of buttons (akin to a Telegram keyboard) if that's what you're looking for.

[2016-09-06 23:58] jameslew commented on #1181
Will's correct, conversationUpdate is used for this notification.

[2016-09-07 00:11] msft-shahins commented on #1105
@liiver are you sure that you are not missing MicrosoftAppPasswrod from your web.config? Also test if using MicrosoftAppId and password you can talk to your bot using emulator.

[2016-09-07 01:47] jameslew commented on #1167
Hi Aminel,

I just tried this using the demo-skype bot and the Facebook Messenger web client, and got multiple rotating cards in carousel.  Can you be specific as to which Facebook messenger client you're using?

[2016-09-07 03:09] andrew-kennedy opened #1185 "[Feature Request] Ability to hook just after intent resolution, before method call"
I would love the ability to execute code easily after a LuisDialog resolves an intent, but before it calls the corresponding annotated method.

My primary use case is that I want to be able to record the last intent that was "hit" so that I can essentially do a state update and call that method again.

For example, the user can perform some query and then say "what about `<different item>`" and I

[2016-09-07 03:10] andrew-kennedy commented on #1160
Is there an easy way to add models more programmatically? besides just stacking up [LuisModel] annotations?

[2016-09-07 04:07] nickcordrey commented on #36
Skype team will follow up directly via email for more details to see if we can get logs to investigate.

[2016-09-07 05:34] AmineI commented on #1167
I tried on all of them. Mostly my mobile phone, messenger.com, and the Facebook website.
Will post screenshots ASAP

[2016-09-07 05:36] JpEncausse commented on #1182
Thanks,

I'm sorry I didn't know quickreplies and channel data, it's something we
can call from MSBot Builder ? Do you have a little link or a sample ?

Thanks !

On Wed, Sep 7, 2016 at 1:56 AM, jameslew <notifications@github.com> wrote:

--
*Jean-Philippe Encausse* - R&D / IoT / Innovations
http://www.encausse.net - http://arm-avocats.fr
Twitter: @JpEncausse - Mob: +33 6 82 12 56 99
Do it Once, U

[2016-09-07 06:29] liiver commented on #1105
@msft-shahins  OMG, I had MicrosoftAppPassword there as MicrosoftAppSecret instead (facepalm) Probably from some times of BotConnecter 1.0.0. Embarrasing stuff. Thanks.

[2016-09-07 06:43] stevinraj commented on #1065
Yes. After publishing the bot on to AWS Cloud we need an endpoint address for the Bot Framework to communicate with the bot and that is through SSL. I was trying to get an SSL instance in AWS and this is where I am asked for my website address. Now I dont understand what website address is required here.

[2016-09-07 07:04] somprabhsharma commented on #1181
No, I tried using conversationUpdate and contactRelationUpdate both activities, but It does not work.

[2016-09-07 07:31] somprabhsharma commented on #1167
@AmineI is right, Carousel not working in FB Messenger while its working in Skype, I am facing the similar problem.

[2016-09-07 07:49] somprabhsharma commented on #1167
It seems that every item inside a carousel must have at least one button to appear as carousel on messenger.

[2016-09-07 07:53] haefele commented on #1185
**For your first question:**
It should be quite easy to add a "BeforeIntentHandler" protected virtual method to the LuisDialog.

**For your second question:**
You can actually do this right now.
The LuisDialog has a protected Dictionary<string, IntentActivityHandler> called *handlerByIntent*.
You can just execute it like this:
[code]

[2016-09-07 08:00] somprabhsharma commented on #1181
conversationUpdate works only if you invite the bot into a group conversation. What I am looking for is different, I want to send a welcome message as soon as any one add my bot to his slack.

[2016-09-07 08:04] changhc commented on #1028
I guess they're the same. ChannelId is included in addr, so messages should be delivered to different channels correctly. Doesn't it work after you've done your bot?

[2016-09-07 08:14] haefele commented on #1185
Thinking about it, you can propably override the *GetHandlersByIntent* method and wrap each IntentActivityHandler with your special code.

[code]

[2016-09-07 09:12] hamzassi commented on #1159
These fields appear on default even if not initialized. Notice that 'Tax' field is not mandatory, but 'Total' is. So if you pass a value to 'Total', 'Tax' will be ignored, but not the opposite!

[2016-09-07 09:29] bogdanfer commented on #1180
@venkaiahj - i've just added your solution and i'm getting the following error
[code]

[2016-09-07 09:31] venkaiahj commented on #1180
@bogdanfer what is the channel you r using?

[2016-09-07 09:33] bogdanfer commented on #1180
`"channelId":"facebook",` i'm trying to get a "proactive" bot at the end of my waterfall to any channels (email, sms or facebook). but i can't get any to work.

[2016-09-07 09:44] bogdanfer commented on #196
hi guys, @bloudermilk @Stevenic - on your solutions - from where do you get the `id` value? i'm looking for a very similar solution, at the end of my waterfall to start a dialog on another channel, but can't get it to work (can be anything like sms, email, facebook).
thanks!

[2016-09-07 09:46] naeemshaikh27 commented on #1159
@hamzassi isnt that an issue that needs a fix, if tax appears even when not specified. Also is there any way you can create a card which is not a reciept, i.e. doesnt need a tax and total field. In my case i am creating a card to show user loan details, which need not have a total field. I can use markdown to format my text in tabular format, but table markdown doesn't work on all channels

[2016-09-07 09:47] ChandrikaC commented on #1180
Hi palmerabollo,
I am going to use direct line or Twilio SMS for now as a Channel.

[2016-09-07 09:52] bogdanfer commented on #1180
hi @ChandrikaC - did you get the SMS channel working? could you please share your `beginDialog` function?

[2016-09-07 09:56] venkaiahj commented on #1180
@bogdanfer there was some issue with sms channelwhile authenticating its sending out the request, there is some isuse with that, it was not working with me also. facebbok and skype are working for me

[2016-09-07 09:59] venkaiahj commented on #1180
we can make it work if u can edit file node_modules/botbuilderlib/bots/chatConnector.js, in authenticate request function try to change "id" with "Id". it will work only for SMS. If u want to make it work for all of them put both the conditions

[2016-09-07 10:03] bogdanfer commented on #1180
@venkaiahj - facebook could be good too. but i can't make it work. are you running your code from azure or local? i just deployed to azure and still not sending message to fb.
do you have an example for `sms`? I have the following:

[code]

[2016-09-07 10:06] venkaiahj commented on #1180
I am running from local, for facebook, skype the below is working
bot.beginDialog({"channelId":"facebook","user":{"id":"id of the user"},"bot":{"id":"id of the bot"},"serviceUrl":"https://facebook.botframework.com","useAuth":true}, '/notify');

[2016-09-07 10:06] hamzassi commented on #1159
@naeemshaikh27 I've contacted the devs at Microsoft and they gave me a reasonable explanation for that: "A receipt denotes a payment or request for payment", so the 'Total' field cannot be omitted apparently. You can check the 'HeroCard' and 'ThumbnailCard' cards. They're more flexible which gives the ability to add and omit fields as you please. Regarding the tabular format, I'm not very sure abo

[2016-09-07 10:16] bogdanfer commented on #1180
got you @venkaiahj thanks for the help! i'm still trying to get facebook work, still getting that
[code]
i'll try some more times and if i get lucky i'll get back here with the fix.
thanks!

[2016-09-07 10:50] vikanti commented on #1176
its getting because you have pass extra slash in emulator url, pls check it

[2016-09-07 10:54] Saawant opened #1186 "Unable to find translate Option"
I'm unable to find the translate option in the setting of my bot in botframework website. Does that still work?
What i'm trying to achieve : Multi-Language support for my bot.

[2016-09-07 10:54] rposbo commented on #1176
Hi @vikanti - I'm not using the emulator in this example; which URL are you referring to? AFAIK they're all correct. Especially since they work when requested slowly and only fail when called in rapid succession.

[2016-09-07 10:56] Saawant commented on #1186
#closed because Not avail in v3

[2016-09-07 10:56] #1186 closed

[2016-09-07 11:40] afficionaddo opened #1187 "Custom BotConnector"
Hi,

May be I am just spit-balling here.

I want to use BotFramework for my coding.  But BotConnector is like a 3rd party dependancy for me.
Is there a way to implement custom BotConnector through which I can talk directly to a channel?

Apologize if I sound naive....but just an idea.

[2016-09-07 12:10] ejadib commented on #1182
@JpEncausse [here](https://github.com/Microsoft/BotBuilder/issues/1077) is an example of how to do it. It's on C# but you will get the point. In node, you can pass extra properties via the [Message.sourceEvent](https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.message.html#sourceevent) method.

[2016-09-07 12:15] chinchang opened #1188 "How to send message to a contact or a group?"
Hi

Is it possible for bot to initiate a message from its end and send to a contact or group (assuming bot is added) on Skype?

[2016-09-07 14:10] chinchang commented on #1188
duplicate of #159

[2016-09-07 14:10] #1188 closed

[2016-09-07 14:13] jameslew commented on #1187
In the end, the Bot Framework is design to make work you already could do easier.  Ie the chat services (with the exception of Skype) all have their own dedicated Bot API's that you could code to directly; but you would have to code to each channel that you wanted to and take care of managing them individually.

[2016-09-07 14:16] jameslew commented on #1181
We don't currently have an event of that type.  In most channels, adding the bot to the service is the same as adding it to a group or individual chat.

How do you intend to use this differently?  Which slack channel would you expect the message would be sent to?

[2016-09-07 14:53] kenyeung128 commented on #1168
sounds great @dandriscoll  thanks.

[2016-09-07 15:03] rposbo opened #1189 "[.Net] Allow Choice PromptOptions to take different types"
The default `PromptStyler` will always render a `HeroCard` when the `PromptStyle` is set to `Auto`:

https://github.com/Microsoft/BotBuilder/blob/1958a3f946c2e8a540196b7d12fd15255932ce7c/CSharp/Library/Dialogs/PromptDialog.cs#L212

It will also always call ".ToString()" on each option for all `PromptStyle`s except `PromptStyle.None`; if the "options" are `string` or `int` then this isn't a problem

[2016-09-07 15:15] ziggy42 opened #1190 "[Node.js] I'm stuck in an endless "I didn't understand" loop""
I've done something like this:
[code]
And now everything I send to the bot it responds to me that I have to choose an option from the list. But the list didn't have any options, so what do I do?
I've tried calling `endDialog` in some places and other weird stuff but didn't help.

[2016-09-07 15:38] willportnoy commented on #1185
You might consider overriding BestIntentFrom, delegate to the base implementation, then save the selected intent in your class member variable.

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/LuisDialog.cs#L166

[2016-09-07 15:40] willportnoy commented on #1004
I'm going to close this issue, but feel free to open a new issue with more information.

[2016-09-07 15:40] #1004 closed

[2016-09-07 15:41] willportnoy commented on #1104
I'm going to close this issue, but free to open a new issue for further discussions.

[2016-09-07 15:41] #1104 closed

[2016-09-07 15:41] willportnoy commented on #1153
I'm going to close this issue, but free to open a new issue for further discussions.

[2016-09-07 15:41] #1153 closed

[2016-09-07 15:41] willportnoy commented on #1156
I'm going to close this issue, but free to open a new issue for further discussions.

[2016-09-07 15:41] #1156 closed

[2016-09-07 15:42] willportnoy commented on #1101
Great to hear - thank you for the follow up.

I'm going to close this issue - free to open a new issue for further discussions.

[2016-09-07 15:42] #1101 closed

[2016-09-07 15:44] willportnoy commented on #1160
You can use the constructor that takes a number of ILuisService:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/LuisDialog.cs#L146

There's no requirement to use the LuisModelAttribute on the class - you can construct a LuisService from the LuisModelAttribute and then pass that ILuisService to the constructor.

If you're using autofac or equivalent, you should be able

[2016-09-07 15:45] willportnoy commented on #1169
I'm going to close this issue for now, but free to open a new issue for further discussion.

[2016-09-07 15:45] #1169 closed

[2016-09-07 15:53] afficionaddo commented on #1187
Yes, but you see the 'Bot Connector' ties my bot to microsoft infrastructure i.e. a dependancy for my bot. Now if I pitch this to some clients,  chances are they might not like this and highlight it as a risk.
For e.g,  if in future any policy or other terms of Microsoft Bot Framework change.

[2016-09-07 15:53] rposbo commented on #1029
@kenyeung128 would you be able to explain how you re-registered `PostUnhandledExceptionToUserTask`? I'm having great difficulty doing this in my project.. :disappointed:

[2016-09-07 15:54] willportnoy commented on #1173
Yes, it’s an issue.  It would be useful to have code to parse the full extent of the “machine readable” LUIS entity resolutions in both the Node and C# SDKs.

We haven’t had the bandwidth to add complete parsing/interpretation to the Bot Builder SDK, and the LUIS client SDKs (https://github.com/Microsoft/Cognitive-LUIS-Windows/) do not appear to have support for parsing/interpreting these entity r

[2016-09-07 16:52] puneetsngh opened #1191 "Issue with sender id, using bot connector rest api v3"
As per the documentation the sender id should be format `29:1Gusfsfsf2323ds.....` something like this but today my bot gets a request from sender id `FOzadrPvGja` and the bot didn't send any reply to the user. The response I receive is `400`. Can you explain the issue here please, is it my fault or the user using some old device.

Please also provide the documentation in this regard as I didn't fi

[2016-09-07 17:07] msft-shahins commented on #1105
@liiver closing this issue. Assuming that this is resolved now. Feel free to open another issue if you are still having this problem.

[2016-09-07 17:07] #1105 closed

[2016-09-07 17:08] muzahmed commented on #1095
@kams451  are you still experiencing the 401?

[2016-09-07 17:09] tobybrad commented on #1095
Getting this right now. Tried regenerating secrets. No luck.

[2016-09-07 17:10] jameslew commented on #1187
Absolutely.  As I was saying, you can code directly to those services API's without taking a dependency on Bot Framework (by using them directly).  You just also don't get the benefits of Bot Framework.

Right now there aren't any current plans to make the connector service something you can host in your own deployment.

[2016-09-07 17:12] muzahmed commented on #1090
@giriganapathy would you be willing to share the carouselArr?
I can try to repro with your specific code/values

[2016-09-07 17:19] jameslew commented on #1191
@puneetsngh the sender id format is specific per channel. the 29: format is specific to Skype.  Which channel are you interacting with, and could you share code for the appropriate section of your code that's receiving the error?

[2016-09-07 17:19] muzahmed commented on #1095
@tobybrad can you paste your code where you create the connector? (don't paste the secret if  you have it in there)

[2016-09-07 17:30] tobybrad commented on #1095
[code]

[2016-09-07 17:35] fercom commented on #1184
@willportnoy No, I don't have it, I have just seen this error since I published it, In fact I have noticed that it is still giving errors even when not receiving images. Look:
![image](https://cloud.githubusercontent.com/assets/19654168/18322270/8fee5ac8-74f7-11e6-80a5-4f7578504fe8.png)

[2016-09-07 18:04] fercom commented on #1184
@willportnoy but let's focus hehe, I am concerned about the error while I try to send an attachment to my bot, How can I get the call stack to show it to you?

[2016-09-07 18:21] lilred commented on #36
Please follow up here rather than via e-mail, that way we have the possibility to subscribe/unsubscribe to the conversation, and any workarounds we find become available to the public! Thanks!

[2016-09-07 18:35] muzahmed commented on #1190
@ziggy42 good find! I've got a fix ready, should be available in our next release!

[2016-09-07 18:35] #1190 closed

[2016-09-07 18:46] fercom commented on #1184
@willportnoy well, that's embarrasing but somehow the bot started receiving pictures. I don't know why.

[2016-09-07 19:05] puneetsngh commented on #1191
I am using Skype bot rest api latest v3 version and the documentation say that the sender id starts with `29:` and bots id by `28:`, but i get a msg from a sender id `FOzadrPvGja` and as a result i am able to listen to user but unable to reply. What might be the issue?

[2016-09-07 19:07] Thegaram commented on #1187
I think the main part of the Bot Framework is the Bot Connector, with the Connector API abstracting out the channel details, as @jameslew said. Bypassing this means not using the Bot Framework. (The Bot Builder SDKs are basically just helpers to use the Connector and State APIs.)

[2016-09-07 20:04] willportnoy commented on #1065
You might consider searching for "amazon add ssl aws cloud" and finding an appropriate forum - this question doesn't seem Bot Framework related, so I'm going to close this issue for now.  Feel free to open a new issue for Bot Framework related discussion.

[2016-09-07 20:04] #1065 closed

[2016-09-07 20:05] willportnoy commented on #196
@bogdanfer you usually save the recipient id from previous conversations with that user.

You may want to open an issue dedicated to your question.

https://docs.botframework.com/en-us/technical-faq/#how-can-i-get-access-to-the-user-id is related

[2016-09-07 20:07] willportnoy commented on #1029
@rposbo https://github.com/Microsoft/BotBuilder/issues/1136#issuecomment-244414222 has an alternate solution you might find easier to implement.

[2016-09-07 20:09] willportnoy commented on #1184
I'm not sure.  It's possible you were calling some other store over REST with an insert operation for an already existing key, and it returned the 409 http status code.

I'm going to close this issue, but free to open a new issue for further discussion.

[2016-09-07 20:09] #1184 closed

[2016-09-07 20:10] willportnoy commented on #1185
:) happy to hear.  I'm going to close this issue, but free to open a new issue as needed.

[2016-09-07 20:10] #1185 closed

[2016-09-07 20:11] muzahmed commented on #1133
@0GiS0 Have you enabled calling via the skype config? If so, does the callbackUri match what you supplied?

![image](https://cloud.githubusercontent.com/assets/1397015/18326818/85c50bb4-74fc-11e6-9423-c950c8850764.png)

[2016-09-07 21:50] hughcameron commented on #1174
Hey Craig - thanks so much for letting me know! That should help button a lot ;)

Do you mind if I keep this open until that update?

[2016-09-07 23:37] gsegares opened #1192 "Optional field not working with custom Validation"
I have issues making a field Optional (using the annotation). I'm using FormFlow and I when I build the form I add a custom validation to the field, just to add some extra logic if the field has a value, but the bot keeps prompting for the field if no value is provided. If I remove my custom validator then the Optional works as expected but I really need to have both in my implementation.
<img wid

[2016-09-07 23:47] Thegaram opened #1193 "Get conversation ID of newly created conversation in Node"
In the Node.js SDK conversation creation is hidden; if the conversation for the message passed to `UniversalBot.send` does not exist (i.e. `message.address.conversation` is undefined), the SDK creates it first. In this case, is there a way to get the conversation ID of that newly created conversation?

My use case: Proactive messages. I know the address of the user I'd like to contact. At first, I

[2016-09-08 00:27] cglong commented on #1160
@willportnoy Would it be possible to refactor `LuisModelAttribute` into a new `ILuisModel` interface and have the `LuisService` constructor take that as a parameter instead? I feel like that would be more scalable and would help for projects like ours that load these values from a config.

I can look into a PR for this if there's interest :)

[2016-09-08 02:07] puneetsngh commented on #1191
My bot is in python

`
payload = {
                    "type": "message/text",
                    "text": text
                    }

        r = requests.post('https://apis.skype.com/v3/conversations/'+sender+'/activities/',headers={"Authorization": "Bearer "+token,"Content-Type":"application/json"},json=payload)
`

now here in place of sender in url the sender id in format `29:4ft.....` goes an

[2016-09-08 02:30] kenyeung128 commented on #1029
@rposbo, you can do this to re-register (basically excluding PostUnhandledExceptionToUserTask)
            var builder = new ContainerBuilder();

            builder.Register(c =>
                {
                    var cc = c.Resolve<IComponentContext>();

                    Func<IPostToBot> makeInner = () =>
                    {
                        var task = cc.Resolve<DialogTask>();

[2016-09-08 06:21] somprabhsharma commented on #1181
I want to send a message on this event. https://api.slack.com/events/bot_added

[2016-09-08 09:38] JpEncausse commented on #1182
Mmm I tried something like this :

[code]

But it seems nothing is sent in the JSON Outgoing. i try to dig

[2016-09-08 10:09] JpEncausse commented on #1182
I also try:

[code]

The message contains something

[code]

But Facebook do nothing

[2016-09-08 10:25] dbondarchuk opened #1194 "Delete user profile on redeploy"
Hi guys!
I had a trouble when changed a flow in my bot (from FormFlow to Dialog): when i deployed my bot Azure, old users had the old flow. Only sending '/deleteprofile' resolved problem for them.
How can I reset sessions, when new changes are deployed to prod?

[2016-09-08 10:33] d3clan commented on #1173
Thanks for coming back to me.

I totally understand that you don’t have the bandwidth to deliver all functionality. Although we were a little surprised this hadn’t yet been implemented at all. A comment somewhere to indicate that it won’t work with the LUIS formats might save someone some time trying to work out why the dates are always coming back as ‘undefined’ .

Could you tell me where this co

[2016-09-08 10:38] ziggy42 opened #1195 "[Node.js] "choice.trim is not a function""
I've done something like this:
[code]

Now, whatever I write I get:
[code]

I know the third param should be a string array but unfortunately list comes from another service and I didn't realize it was actually an int array...

[2016-09-08 10:47] konstlut commented on #1191
@puneetsngh that looks like you are using skype directly (apis.skype.com) bypassing bot connector (skype.botframework.com). Thus we will need some addtional information:  ContextId and Date header values of the request skype made to your bot service when you get `FOzadrPvGja`.

[2016-09-08 10:57] chinchang commented on #196
In the latest api version, all you need to do is save the address from any past conversation:

[code]

And then set it on any message to target it to same conversation, like so:

[code]

[2016-09-08 10:58] tobybrad commented on #1095
Ok.. this is solved for me now. I was seeing this issue using the webchat control. The issue was that I was mixing up the application password and the secret you need to provide in the iframe control. I was reusing a previous Bot config and had forgotten their even was a password as well as the secret.

A note on the secret generating page to remind this is not the same as the password would he he

[2016-09-08 11:07] puneetsngh commented on #1191
I am sorry but I didn't have the context id for that msg...I wasn't logging that but I have the Json converted to dict. and the date of the msg.
`
{'attachments': None, 'sender_name': 'FOzadrPvGja', 'text': u'hi', 'sender_id': u'FOzad
rPvGja', 'isGroup': False, 'recipient_name': u'Sift Bot', 'recipient_id': u'siftbot', '
content_type': 'text', 'timestamp': u'2016-09-07T16:40:25.8397524Z', 'convers

[2016-09-08 12:21] shijuamt opened #1196 "how to get "conversationId" for sending skype message"
How to get conversationId for skype user for sending skype message

[2016-09-08 12:23] shijuamt commented on #1191
I have same dout how to get this "conversationId" for sending message

[2016-09-08 12:25] shijuamt commented on #1191
@puneetsngh  I tried to send messages use the following request
 request({
            url: 'https://api.skype.com/v3/conversations/29:f2ca6a4a-93bd-434a-9ca5-5f81f8f9b455/activities',
            method: "POST",
            json: true,
            headers: {
               Authorization: ' Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IjIifQ.eyJpYXQiOjE0NzMzMTk4MDEsImV4cCI6MTQ3MzQwNjIwMSwic2

[2016-09-08 12:32] puneetsngh commented on #1191
@shijuamt I am sorry buddy but I don't know anything about node.js syntax.
But the url is correct, body content is correct and the token need to be refreshed every hour.

[2016-09-08 12:43] konstlut commented on #1191
@puneetsngh

the host should be api**s**.skype.com

[2016-09-08 12:53] puneetsngh commented on #1191
@konstlut but what about my issue? 😅

[2016-09-08 12:58] konstlut commented on #1191
Could you please add `ContextId` and `Date` header values to the logs and get back to me if the problem ever reproduces.

For the replies you should use message's serviceUrl field, when you get a message (activity) from Skype.

[2016-09-08 13:14] puneetsngh commented on #1191
[code]

if I user the serviceUrl which is `skype.botframework.com` I get response 202 where the url which is also mentioned in the documentation `apis.skype.com` gives response 201 and send the reply to the user.

Everything is working fine as the documentation also mentioned that the id's will be in the form `29:...` in v3 but how and who can send the with id `FOzadrPvGja` as my bot is only for s

[2016-09-08 14:24] jameslew commented on #1196
Hi Shijuamt,

Which API are you using?  If you're using the C# SDK there are CreateConversation and CreateDirectConversation methods that will give you an id to use in subsequent calls.  Read here for more detail:  https://docs.botframework.com/en-us/csharp/builder/sdkreference/routing.html

[2016-09-08 14:28] jameslew commented on #1181
Thanks @somprabhsharma .  I'll add that to the list of things we're looking at for future extensions to the Bot Framework protocol/schema.  Right now we don't expose that event and it wouldn't map neatly into the other events we already have, though I can see use for it.

[2016-09-08 15:25] ziggy42 opened #1197 "[Node.js] session.reset() doesn't seem to work"
So here's my code:
[code]

If I call reset it doesn't work as I thought it would, because after the child /firstRun dialog is completed, the parent is resumed.
So, what's the proper way to "restart" a dialog?

[2016-09-08 15:30] puneetsngh commented on #1191
@konstlut ok I delved into the serviceUrl and now with response 202 they are too working, I just changed the type to `message` from `message/text`.
So, now again what about the requests with id like `FOzadrPvGja` received by my bot. I still believe that changing the serviceUrl will not resolve the issue.

[2016-09-08 15:43] matthew5025 commented on #1161
I'm doing the same in C#, and it seems that not only request_contact is having this issue, but attaching a contact and sending results in a blank message.

[2016-09-08 16:11] palmerabollo commented on #1196
@jameslew what is the equivalent to CreateConversation and CreateDirectConversation in the NodeJS SDK?

[2016-09-08 16:17] konstlut commented on #1191
Are you seeing it still? Anyway, to answer that we will need the mentioned header values, please.

[2016-09-08 16:18] palmerabollo commented on #1194
You could use [`Middleware.dialogVersion`](https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.middleware.html#dialogversion). This middleware manages the versioning of your dialogs. You can specify a version so major version increments in new deployments result in existing conversations between the bot and user being restarted.

[code]

[2016-09-08 16:28] puneetsngh commented on #1191
@konstlut I got this sender id 2 times and both times just before my bot got rejected, it seems like these ids are from bot review teams. I again sent my bot for review if the third time I get same kind of sender id then it will be for sure coming from bot review teams.

As you mentioned you need header info for the troubleshooting. But the issue is I haven't logged contextID header yet. And from