[2018-03-30 21:13] MichaelBartlettGitHub commented on #4389
Oh there was one other step I took:

I installed ngrok locally and used that to test the bot on brinkster - doubt it made much difference but I did it incase their was a bug with 'web chat' but not with the emulator.

-Mike

________________________________
From: Michael Bartlett <michael_g_bartlett@hotmail.co.uk>
Sent: 30 March 2018 21:09
To: Microsoft/BotBuilder
Subject: Re: [Microsoft/BotBuilde

[2018-03-30 21:16] fanidamj commented on #4398
All Azure Bot Service (Preview) bots created in the Bot Framework Portal must migrate to the new Bot Service in Azure by 3/31/2018. However, registration bots connected only to these channels are not required to migrate: Teams, Skype, or Cortana. Since you have Slack along with Skype, it is required to [migrate](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-migrate-bot). It is imp

[2018-03-30 21:16] #4398 closed

[2018-03-30 22:13] stevengum97 commented on #4386
What happens when you plug in your QnAMakerRecognizer at the `bot`-level as well, opposed to the `IntentDialog` level? So similar to your last code snippet, doing something like this:

[code]

[2018-03-30 23:08] EricDahlvang commented on #4389
Thank you for sharing how you've resolved the issue.

fyi:
I looked at https://webchat.botframework.com/embed/BrinksterBot2?s=zKQrz8iS4gE.cwA.XL0.tDLlqCreWA6xx1Rxz7NO82v6mHbMQf1-FlNK9hUsWTM and noticed that your welcome message isn't accepting input the first time it is displayed.  This can be remedied by following the process described here: https://github.com/Microsoft/BotFramework-WebChat/issue

[2018-03-30 23:18] GauravDhavale commented on #4386
After Adding `bot.recognizer(qnaRecognizer);` I also added code for qna intent
[code]
The bot doesn't recognize any questions from **QnAmaker**. Its giving bellow message in the console
[code]
For those intents that are on LUIS, bot able to recognize the intent but with above code as shown in below image
![image](https://user-images.githubusercontent.com/24877974/38156781-66a7cb12-3446-11e8-89f5-2

[2018-03-31 07:33] SychevIgor commented on #4218
@nodeomega I don't know what was happened, but after some days (and redeploy) telegram starts showing everything right. I didn't change the boot code or any dependencies (styles on a default.html was a reason to redeploy)

[2018-03-31 11:25] SwetalinaGitHub commented on #4392
Hi @EricDahlvang

Thank you for the suggestion. Even after upgrading to the latest AdaptiveCards library, speak is not working for Cortana channel. Speak property is deprecated, so does that refer speak will not work for Action Base or Text block sections.

[2018-04-01 16:32] rockfordlhotka commented on #2407
This sounds like a very old issue with the way some EXEs host the .NET runtime. Way back in time it was often COM+ or IE and then Cassini that had this issue. Long ago (2002 or so?) I wrote a workaround for the issue that you can hook into your AppDomain _only once_ to provide a custom resolver for the assembly resolution failure. It is in this old chunk of code:

https://github.com/MarimerLLC/csl

[2018-04-01 18:04] jdnichollsc commented on #2670
@Stevenic what do you think about a function to enable/disable LUIS recognizer?

[2018-04-01 18:12] rachita0311 opened #4405 "[Skype For Business] I am not able to show words in bold in Skype for business using ** markup syntax."
## Bot Info
* SDK Platform:
* SDK Version:
* Active Channels:
* Deployment Environment:

## Issue Description

## Code Example

## Reproduction Steps
1.
2.
3.

## Expected Behavior

## Actual Results

[2018-04-02 01:30] yuanweilei opened #4406 "Exception 'Stack is empty' is thrown after some times"
## Bot Info
* SDK Platform: .NET
* SDK Version: BotBuilder 3.14.1.1, Microsoft.Bot.Connector 3.14.1.1, Microsoft.Bot.Builder.History 3.14.0.7,
* Active Channels: WebChat
* Deployment Environment: Azure App Service

## Issue Description
I use Tablestorge to storage state datas.
When I published my bot and after about 90 minutes, exception is  thrown when I use it.

2018-04-01T22:05:48,Error,mytest-

[2018-04-02 07:36] phchabrol opened #4407 "[Channel Configuration] Channel Page is empty on Azure Portal"
## Bot Info
* SDK Platform: .Node.js
* SDK Version:  SDK version  3
* Active Channels: Web and FB messenger
* Deployment Environment:  Azure Bot Service and local development with Emulator

## Issue Description
The "channel" page in the Azure Portal is blank. I can't see my channels or update the tokens to change them.

## Code Example
N/a
## Reproduction Steps
1. I go on my resources page on Azur

[2018-04-02 07:47] shahsaurabh0605 commented on #2756
How does Microsoft.Bot.Connector.DirectLine use `from` attribute in message activity? I cannot post an activity to the bot if the `from` attribute is not supplied or userId is not supplied.

[2018-04-02 08:15] Irbis377 commented on #4400
@fanidamj thank you, I will wait any solution.

[2018-04-02 09:25] sourabhlodha opened #4408 "[Node.js SDK] Bot.On Function Doesn't work in Any Channel except Webchat.Can you please help me?"
**Sample Code:**

[code]

[2018-04-02 10:03] PulseDiver commented on #4402
@stevengum97 old bot not work in skype, but new created bot  works fine! thanx

[2018-04-02 11:14] hpksp opened #4409 "[Feature Request] Direct Line service doesn't allow more than 4 concurrent web socket connections for the same conversation"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.14.1.1
* Active Channels: Skype, Slack, Direct Line, Cortana, Skype for Business
* Deployment Environment: Azure App Service

## Issue Description
DirectLine service doesn't allow more than 4 concurrent web socket connections for the same conversation. My bot is running inside a web app connecting through direct line service. I'm storing conversati

[2018-04-02 12:53] DaveWare commented on #2407
Thanks for the feedback. I updated my C# function to include the assembly
resolver but get the same exception.

Ling Toh posted the following in the forum:

Loading native assemblies is currently not supported in Azure Functions.
Kindly see, https://github.com/Azure/Azure-Functions/issues/622

Although that issue as far as I see nor anywhere else in all the docs of
Azure Functions do I see a defin

[2018-04-02 13:10] alucard001 opened #4410 "[Feature Request] LUIS API to retrieve all entities"
## Bot Info
* SDK Platform: Node.js
* SDK Version: Latest
* Active Channels: -
* Deployment Environment: Local development

## Issue Description
I am currently working on a custom UI to manage (Create/Read/Update/Delete) an entity and its values.  All I did was to get a list of all entities first and then let our user to do anything they like.

I have gone through the LUIS API 2.0 several times an

[2018-04-02 13:32] odirleiborgert opened #4411 "Get intention that was consulted in LUIS"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.14.0
* Active Channels: Skype, Messenger
* Deployment Environment: Emulator

## Issue Description
Every time I have an appointment for LUIS I want to pick up the intention and do some kind of treatment. My question is where I do it.
The treatment I want to do is to send this to my private API.

[2018-04-02 13:37] odirleiborgert opened #4412 "Intercept messages sent and received"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.14.0
* Active Channels: Skype, Messenger
* Deployment Environment: local development with Emulator

## Issue Description
I want to intercept these messages so I can send my private API

## Code Example
[code]

[2018-04-02 13:50] rogerweb commented on #4356
I've deleted and re-created the Bot Channels Registration resource and now the Skype channel is working. Unable to identify the root cause though.

[2018-04-02 14:16] ItsMeArthur commented on #4356
@rogerweb Good to know. I was also able to create a Skype Chatbot successfully last Friday. However I can't just delete the Bot Channels Registration for my bots in production...

[2018-04-02 16:05] MichaelBartlettGitHub commented on #4389
Thanks, Eric.

The issue I am actually noticing is that on Webchat I get the ConversationUpdate fired 2 times in a row which is why the adaptive card up twice.

-Mike

________________________________
From: Eric Dahlvang <notifications@github.com>
Sent: 30 March 2018 23:08
To: Microsoft/BotBuilder
Cc: MichaelBartlettGitHub; Mention
Subject: Re: [Microsoft/BotBuilder] [.NET SDK] Bot won't work on s

[2018-04-02 16:41] stevengum97 commented on #4386
You still need to implement a root dialog, meaning something that looks like this:

[code]

Can you post your updated code?

[2018-04-02 16:51] #4366 closed

[2018-04-02 16:56] #4371 closed

[2018-04-02 17:43] JasonSowers commented on #4404
Publishing does not instantly occur after approval.  Is your bot still not published at this point?

[2018-04-02 17:46] JasonSowers commented on #4406
Could you please provide minimum reproducible code?

[2018-04-02 17:49] JasonSowers commented on #4407
Have you tried logging out and back in, incognito window, clearing cookies, or hard reload?  If you have not please try those and let us know if the problem persists.

[2018-04-02 17:51] JasonSowers commented on #4390
I will look into this for you and see if we can find the cause.

[2018-04-02 18:28] smartchatco commented on #4404
@JasonSowers Nope still not published.  At least I don't see it.

[2018-04-02 19:37] JasonSowers commented on #4246
@Zhashkha I am seeing different results,  can you please try upgrading to the newest version of bot.builder (version 3.14.1.1 at the time of writing this) and see if this persists?

[2018-04-02 19:40] EricDahlvang commented on #4353
Which version of the BotBuilder sdk are you using?  Please try upgrading to the latest version, and let us know if that resolves your issue.

[2018-04-02 19:47] nodeomega commented on #4268
Do you have the class definition handy for your ConversationStarter class?

[2018-04-02 19:56] nodeomega commented on #4261
@etbuilder A fix has been deployed and Facebook Messenger messages should now be sending as one message up to the Facebook SDK limit (2000 characters).  I've tested this on my end and have verified that the messages are no longer being broken apart, so you should be good to go.  Closing this issue as it is now resolved.

[2018-04-02 19:56] #4261 closed

[2018-04-02 19:58] JasonSowers commented on #4407
Well, that is unfortunate.  I **highly** recommend contacting Azure support about this.  I will reach out to our team and see if there is anything on our end that may be causing this.

[2018-04-02 20:26] JasonSowers commented on #4407
@phchabrol are you able to provide your browser's console output and network trace for us? If so please send them to the email listed in my profile.

[2018-04-02 21:01] phchabrol commented on #4407
Hi Jason, just dit it! thanks for your help!

[2018-04-02 21:12] fanidamj commented on #4411
If I understand your question correctly, you can use [Middleware](https://github.com/Microsoft/BotBuilder-Samples/blob/master/Node/capability-middlewareLogging/app.js) for treating intents. If not can you please brief the question again. Hope this helps!!

[2018-04-02 21:49] JasonSowers commented on #4390
I am looking into this, will update you when I have some information.

[2018-04-02 22:04] EricDahlvang commented on #4384
This would be a fairly complex process, but possible.  You would need to write code to map the identities of the Skype user and Messenger user to the same userid, and also map conversationids.  This would involve something like: when the customer completes signing in from the 2nd channel, you would need to manually synchronize the state from the new conversation with that from the previous convers

[2018-04-02 22:42] mgbennet commented on #4407
@phchabrol Is this a new issue for this bot? Were you able to see the channel config page in the past, or has it never worked for this particular bot?

Also, can you visit the settings page, and if so is the information accurate?

[2018-04-02 23:16] EricDahlvang commented on #4317
Yes, DirectLine supports PromptDialog.Choice.

This repository is for BotBuilder issues and feature requests.  I've never personally used the library you've referenced.  @stevengum97 linked the issue you created in that repository.  Hopefully the author responds.

You could also try asking your question on stackoverflow.com/questions/tagged/botframework

[2018-04-02 23:16] #4317 closed

[2018-04-03 01:07] hpksp commented on #4384
@EricDahlvang Does this mean we have to modify the bot builder SDK to make this work?

[2018-04-03 01:11] yuanweilei commented on #4406
I use TableStorge to save state datas.
May be I use the same BotID in two bots. So when I use one of them, and after about 90 minites when I use the other one, it will be error.
I will stop one of them and test the other.
Thank you very much!

[2018-04-03 02:37] chinchang commented on #1669
Just to confirm here, if I use the same bot-builder bot on a slack channel, it receives all the messages (even ones without mention). Is that intentional?

[2018-04-03 02:52] Kartik1607 commented on #4385
We have currently deployed to bot to only webchat, and are planning to deploy it to FB Messenger and skype.
I can only confirm for webchat (and emulator), that this issue exists. Our carousel displays multiple adaptive cards (each of same Json Schema but different  text values). Due to different text values, we have to make sure that each text field should span exactly same number of lines.
If jus

[2018-04-03 02:54] wiradikusuma commented on #1669
@chinchang this behavior is set by the platform. E.g. on LINE, bots receive all messages in group.

[2018-04-03 03:20] chinchang commented on #1669
@wiradikusuma Got it. Thanks!

[2018-04-03 05:57] jdnichollsc commented on #1532
Hi guys, any example to switching between LUIS apps at runtime to support multi-language?
I'm creating a template with Express here https://github.com/proyecto26/Bot-Framework

Thanks in advance

[2018-04-03 06:17] EricDahlvang commented on #4384
I don't believe that would be necessary.  But, you would need to either change the id's of the first connection's stored UserData, ConversationData and PrivateConversationData to the new ids in the state store, or duplicate them into the 2nd connection's corresponding data bags.

Here's an outline:
1) user signs into your bot using BotAuth on Facebook
2) user is at the 4th step in a waterfall or F

[2018-04-03 06:17] #4384 closed

[2018-04-03 06:32] sajal2692 commented on #4384
Thanks for your thoughts on the topic @EricDahlvang. This gives me a good starting point.

[2018-04-03 06:50] Polaris-BS commented on #4400
I have exactly the same problem and my Bot is in production .
I need a quick fix please. My Bot App ID : ad902637-9704-47a3-ada0-140809db6d6b

[2018-04-03 08:36] phchabrol commented on #4407
hi @mgbennet, yes all seems ok on the "settings" tab.  IT worked very well until yesterday when I tried to connect.

[2018-04-03 08:37] Zhashkha commented on #4246
Hi Jason,

unfortunately, I'm having the same result. Have you used my example or you have tested your own ?

[2018-04-03 09:03] fr6087 opened #4414 "[Cortana & .NET SDK] Cortana FormFlow problems"
## Bot Info
* SDK Platform: .NET
* SDK Version:
* Active Channels: Cortana, Skype, Direct Line, Web Chat
* Deployment Environment: Azure Bot Service, local development with Emulator, Cortana

## Issue Description
I created a .json file for my FormFlow Dialoge. It contains a .Before Message Property in the first properties object as in the AnnotatedSandwich.json. Cortana does not interpret the Befo

[2018-04-03 09:54] suryadeepchatterjee3107 commented on #1883
Even if I use a business account I am getting an error(Unable to save. Unable to validate the given credentials. ID: |sHlvp.43e270fd_).
Maybe, some issue with RPC over HTTP.

[2018-04-03 10:27] subhamawasthi commented on #2282
Hello all,
I want to authorize various intents in my Bot based to role of user as admin or employee..
Is it possible to have a attribute based authorization(Like the one we have in MVC action methods)?
If a code snippet could be shared it would be helpful.

[2018-04-03 10:50] Ananya-96 commented on #4402
@stevengum97  Yes errors got fixed. Thanks

[2018-04-03 11:49] asfyra opened #4415 "[.NET SDK] FormFlow "hidden" messages localization"
## Bot Info
* SDK Version: 3.14.1.1
* Active Channels: Emulator
* Deployment Environment: local development with Emulator

I want to ask how would i be able to localize the help, status and generaly all the messages that formflow generates.
I am interested in localizing all the "hidden"  form flow messages, that are not exposed through RView to the generated resx file.

I would also like to ask if

[2018-04-03 11:59] odirleiborgert commented on #4411
HI @fanidamj , thanks for the feedback

I would like that after the intent is returned from LUIS I could get this value and send it to my API, however I did not find this property using the middleware.

[Imgur](https://i.imgur.com/tohTjqt.png)

[2018-04-03 12:55] 5ia14ivutz opened #4416 "[.NET SDK] Error System.Net.WebException no connection to 104.45.0.26:443"
## Bot Info
* SDK Platform: .NET
* SDK Version: v3.14.1.1
* Active Channels:
* Deployment Environment: local with Emulator

## Issue Description

After getting the Error iisexpress.exe Warning: 0 : Service url localhost:51916 is not trusted and JwtToken cannot be sent to it. I read Issue https://github.com/Microsoft/BotBuilder/issues/1107 and https://github.com/Microsoft/BotBuilder/issues/1644 so

[2018-04-03 14:04] GauravDhavale commented on #4386
I observed when the recognizer isn't able to find dialog it going to the root. So I added None intent calling in the root.
Adding `bot.recognizer(qnaRecognizer)` helped me to detect qna intent along with LUIS intents.
![image](https://user-images.githubusercontent.com/24877974/38254059-dbdc6242-371d-11e8-9130-bdbb188648e5.png)

Thanks :)

[2018-04-03 14:35] #4386 closed

[2018-04-03 16:07] fms-santos commented on #4210
any updates on this issue @brene ?

[2018-04-03 16:14] EricDahlvang commented on #4403
Hi @achekh

The Cortana had some issues last week, but they have been resolved.  Are you still experiencing problems?

[2018-04-03 16:17] EricDahlvang commented on #4408
Hi @sourabhlodha

Not every channel sends the conversationUpdate event.  For channels that do not, you can use contactRelationUpdate (which is send by some channel connectors when the bot is added to a user's contacts).

[2018-04-03 16:24] stevengum97 commented on #4410
Unfortunately as you noted, there is no API that performs this service at this time. What I've done in the past is to write a python script that iterates over the _exported app file's_ training data to extract entities.

[2018-04-03 16:24] priyankasyal opened #4417 "[.NET SDK] System.web.Exception "Not found" thrown using SaveAsync and FlushAsync functions while storing state in azure table store."
## Bot Info
* SDK Platform: .NET
* SDK Version : Microsoft.Bot.Builder version=3.12.2.4
                        Microsoft.Bot.Builder.Azure  version=3.2.5
* Active Channels:Chat, Cortana
* Deployment Environment: Local + Azure

## Issue Description
System.web.Exception "Not found" thrown using SaveAsync and FlushAsync functions while storing state in azure table store.
This works and throws except

[2018-04-03 16:26] odirleiborgert commented on #4411
Resolved with:

[code]

[2018-04-03 16:26] #4411 closed

[2018-04-03 16:29] stevengum97 commented on #4412
Please ask questions like these on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework). This is not a bug report with the SDK or with Azure Bot Service, but rather a question on how to implement a concept.

Closing issue.

[2018-04-03 16:29] #4412 closed

[2018-04-03 16:32] EricDahlvang commented on #4417
Please provide the surrounding code, or a minimal project that reproduces the issue.  Where/when exactly are you calling SaveAsync and FlushAsync?

[2018-04-03 16:59] achekh commented on #4403
No, the issue has disappeared over the weekend.

[2018-04-03 16:59] #4403 closed

[2018-04-03 18:27] JasonSowers commented on #4246
I was testing my own I will use your example.  However, this is most likely occurring during serialization/deserialization because of [this class](https://github.com/JamesNK/Newtonsoft.Json/blob/e370fc2e3ae7d01b490483350c51510285f359e3/Src/Newtonsoft.Json/Serialization/CamelCasePropertyNamesContractResolver.cs) we are using with newtonsoft.

[2018-04-03 18:31] JasonSowers commented on #4356
I was out of the office, I will continue to conversation with the skype team and work toward getting this resolved.  Will report back when I have more information.

[2018-04-03 18:43] EricDahlvang commented on #4416
Please describe your setup in more detail. What is in the emulator's log window?  What path are you putting in the emulator's address bar?  Are you supplying a MicrosoftAppId and MicrosoftAppPassword in the web.config and/or in the Emulator, or leaving them blank?

[2018-04-03 20:12] mgbennet commented on #4407
@phchabrol I'm still looking into why you can't access the channel page, but you should be able to edit the channels by using the devportal. Try going to https://dev.botframework.com/bots/settings?id=YOUR_BOTS_ID, and you should be able to configure your channels. That should unblock you. In the mean time I'll keep digging with regards to Azure.

[2018-04-03 20:50] JasonSowers commented on #4404
Please provide your app ID so I can reach out to the Skype team for you.

[2018-04-03 22:32] #4393 closed

[2018-04-03 22:43] nodeomega commented on #4382
What platform are you using? C#? Node?

Are you capturing any errors in your code (error logging, etc.)?

A code sample would be helpful.

[2018-04-03 22:47] nodeomega commented on #4399
What version of Android are you using?  Is Telegram updated to the latest executable?

[2018-04-03 23:09] akakoychenko commented on #4399
Android 7.0, Telegram X 0.20.6.909-arm64-v8a (latest version, published on April,  1)
-------- Исходное сообщение --------От: Jon Russell <notifications@github.com> Дата: 04.04.18  1:47  (GMT+02:00) Кому: Microsoft/BotBuilder <BotBuilder@noreply.github.com> Копия: akakoychenko <a.kakoychenko@gmail.com>, Author <author@noreply.github.com> Тема: Re: [Microsoft/BotBuilder] Telegram client doesn't rec

[2018-04-04 00:25] EricDahlvang commented on #4414
I'll look into this and get back to you soon.

[2018-04-04 00:26] EricDahlvang commented on #4409
I'm not aware of a limit to the number of concurrent connections to a conversation.  Can you share the code you're using to connect multiple websockets to a conversation?

[2018-04-04 01:15] nodeomega commented on #4338
I am attempting to replicate the issue.  Is the error you were experiencing still recurring?

Also, does this issue occur when not debugging using ngrok?

[2018-04-04 01:17] nodeomega commented on #4387
Does this error occur only with the first prompt option, or with either one?

[2018-04-04 01:33] hpksp commented on #4409
@EricDahlvang  I'm using DirectLineJS.

const dl = new DirectLine({
    secret: /* SECRET */,
    conversationId: 'J78HEYxJiY6BJGj7JqTx9s'
});

Here is request info got from Fiddler

Get Request
-------------
https://directline.botframework.com/v3/directline/conversations/J78HEYxJiY6BJGj7JqTx9s?watermark=

Request Headers
------------------
Host: directline.botframework.com
Connection: keep-alive

[2018-04-04 05:15] EricDahlvang commented on #4279
@luisnatividade  Are you able to share the code?

[2018-04-04 05:25] #4330 closed

[2018-04-04 05:28] EricDahlvang commented on #4269
@padmavatierp  Please open a new issue.

[2018-04-04 05:28] #4269 closed

[2018-04-04 05:39] easkerov commented on #4387
@nodeomega Only with first prompt

[2018-04-04 05:57] waqasyousafy opened #4418 "[Azure Bot Service] Endpoint URL must be a valid HTTPS URL"
getting this defined error while registering bot .
while putting the https url in the configuration end point box
![error](https://user-images.githubusercontent.com/22340353/38290942-f9324422-37f6-11e8-9d6b-9f04e43ae5df.png)

[2018-04-04 05:59] EricDahlvang commented on #4418
Do you have spaces in front of "https"?

[2018-04-04 06:04] EricDahlvang commented on #4329
Closing this issue.  If you require further assistance, please either @message me or open a new issue.

[2018-04-04 06:04] #4329 closed

[2018-04-04 06:12] waqasyousafy commented on #4418
not

[2018-04-04 06:15] EricDahlvang commented on #4418
The only way I'm able to reproduce this is by having a space in front of the url.  Can you paste here the url you are using?

[2018-04-04 06:35] waqasyousafy commented on #4418
in the above uploaded secreenshort the url is mentioned

[2018-04-04 06:51] Zhashkha commented on #4246
Thanks for reply Jason. I'm going to close this issue and open new one for newtonsoft. Any ideas ? Are you going to pin it down ?

[2018-04-04 06:59] poonam0025 commented on #4338
yes, error is still occurring . This occurs when application runs slow. So this error occur in randomly. You  can re pro this error  by running you code in debug mode.
For running code in debug mode I am using ngrok.exe

[2018-04-04 07:29] EricDahlvang commented on #4418
I'm not able to repeat this.  I see the screenshot, but I'm asking you to paste the url.  Do you have some other suggestion for how I should help you resolve this issue?

[2018-04-04 08:13] pyephyoeaung opened #4419 "[Node.js SDK] How to handle ETIMEDOUT error in nodejs bot?"
error ocurred { Error: connect ETIMEDOUT x.x.x.x:443

    at new Error (native)

    at Object.exports._errnoException (util.js:1026:11)

    at exports._exceptionWithHostPort (util.js:1049:20)

    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1085:14)

    code: 'ETIMEDOUT',

    errno: 'ETIMEDOUT',

    syscall: 'connect',

    address: 'x.x.x.x',

    port: 443 }

[2018-04-04 08:20] MohammedAbdulMateen opened #4420 "[Question] How to update bot data implemented using Azure Table Storage from another .NET application"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.14.1.1
* Active Channels: Skype, Skype for Business, MS Teams, Slack, Direct Line, WebChat
* Deployment Environment: Azure Bot Service, Azure App Service, local development & testing with Emulator and ngrok?

## Issue Description
I need to add/update a property for `UserData` in the bot data for a particular user, the bot data is stored in Azure Ta

[2018-04-04 08:32] EricDahlvang commented on #4420
Yes, you can update userdata externally, and the bot will pick it up when the user communicates with it next.  The answer here might help:

https://stackoverflow.com/questions/48327229/how-to-store-retrieve-bot-data-in-azure-table-storage-with-directline-channel

The serialization and deserialization of the data field for table storage can be found here: https://github.com/Microsoft/BotBuilder-Azu

[2018-04-04 08:35] luisnatividade commented on #4279
@FranciscoPonceGomez @EricDahlvang  I can't send the code due to company restrictions. But I can share some specific files if you want.

Thanks.

[2018-04-04 08:39] EricDahlvang commented on #4419
This blog post might help: https://blog.botframework.com/2018/03/05/fix-snat-exhaustion-node-js-bots/

[2018-04-04 09:15] fms-santos commented on #4333
Hi, being the dialogAction() button just a postback with "?action" included, can you relate with my issue https://github.com/Microsoft/BotBuilder/issues/4210 ?

[2018-04-04 10:15] sourabhlodha opened #4421 "[Node.js SDK] Speech is not working on Emulator and channels."
I used session.say() and iMessage.speak but It doesn't work in channels.Can you Help me out in resolving the issue?
Below is mention code which I used in waterfall model.
session.say('Your insurance ploicy number is 123',
    'Your insurance ploicy number is 123.',
    { inputHint: builder.InputHint.ignoringInput }
);

[2018-04-04 13:54] Michaelvsk opened #4422 "[LUIS] Entity type builtin.datetime does not contain any resolution for German language"
## Issue Description
I have created a LUIS app for de-DE locale which should recognize date-only and time-only values from utterances. I could train the app to recognize them but the returned JSON lacks the resolution-part of the recognized entities.
According to the [Prebuilt entities reference](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-prebuilt-entities#builti

[2018-04-04 14:29] avelaMagazi commented on #4277
I have a similar issue yet there is no Dialog repetition

[2018-04-04 16:09] luisnatividade commented on #4279
@EricDahlvang file sent.

Thanks.

[2018-04-04 16:16] stevengum97 commented on #4410
If there isn't a user suggestion on [UserVoice](https://cognitive.uservoice.com/forums/551524-luis) so far please feel free to create one!

[2018-04-04 16:34] JasonSowers commented on #4246
I can look into it further if it is blocking you, most likely it is not something we are not going to change if it is a symptom of using newtonsoft for serialization/deserialization.  However, if I could find it was due to something in our code we could fix it.

[2018-04-04 16:36] JasonSowers commented on #4404
I will update you when I have some information for you.

[2018-04-04 17:11] JasonSowers commented on #4418
Can you try another https url and see if that works? Try a new ngrok URL or any https URL really.  We are unable to reproduce this error.

[2018-04-04 17:36] fanidamj commented on #4333
@brene Can you please look into this issue and assist.

[2018-04-04 17:39] JordanVScher opened #4423 "[Migration] About migrating to Azure"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.14
* Active Channels: Facebook
* Deployment Environment:  local development with Emulator/dev.botframework.com

I've been using my bot registered on dev.botframework.com for a while and now I have to migrate it to Azure. I have an Azure account but I have no subscription yet. The thing is I don't understand how the pricing of an Azure subscripti

[2018-04-04 18:08] stevengum97 commented on #4220
Closing due to inactivity.

[2018-04-04 18:08] #4220 closed

[2018-04-04 18:10] stevengum97 commented on #4249
The changes have been made and the `deleteUtterances` parameter is now listed in the reference docs. Closing issue.

[2018-04-04 18:10] #4249 closed

[2018-04-04 18:11] stevengum97 commented on #4318
Closing issue due to inactivity.

[2018-04-04 18:11] #4318 closed

[2018-04-04 18:12] stevengum97 commented on #4328
Closing due to inactivity.

[2018-04-04 18:12] #4328 closed

[2018-04-04 18:47] nodeomega commented on #4421
Which channels are you trying to  use Speak in?

[2018-04-04 19:29] JasonSowers commented on #4404
@smartchatco From the skype team:

[2018-04-04 19:41] fanidamj commented on #4422
@Michaelvsk  Is this a new app or the existing app with deprecated prebuild datetime entity? I'm not sure if the [deprecated datetime entity](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-prebuilt-entities#deprecated-prebuilt-entities) does support this. However I'm looking into this issue and will confirm you asap.
And to answer your second question about ETA for d

[2018-04-04 20:09] EricDahlvang commented on #4279
Please try downloading the source again, and overwrite your project’s PostDeployScripts folder with the downloaded version.  Then, go through these steps to publish:

In Visual Studio, right click on {PROJ_NAME} and select 'Publish'

1. In the publish profiles tab, click 'Import'
2. Browse to 'PostDeployScripts' and pick '{SITE_NAME}.publishSettings'

[2018-04-04 20:17] Michaelvsk commented on #4422
@fanidamj The app posted here is a newly created app to show the problem. Both, this showcase and my actual app use datetime because it is the only prebuilt entity available for dates in german.
According to [this paragraph of the documentation](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-prebuilt-entities#builtindatetime) datetime should also provide the resoluti

[2018-04-04 21:53] stevengum97 commented on #4408
@sourabhlodha has Eric's info helped you in solving your problem?

[2018-04-04 23:30] fanidamj commented on #4415
You can go through Localization [document](https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-formflow-localize) and let us know if there is something missing or need to be documented.
And to answer your second question, can you please explain what you mean by "hidden" form?
And to answer you third question, the keywords have already been localized as [described here](htt

[2018-04-04 23:37] JasonSowers commented on #4356
Still looking into this, no resolution yet.

[2018-04-04 23:42] JasonSowers commented on #4347
Still waiting for the one that wrote formflow to return from vacation to give a definite answer on this.

[2018-04-05 00:17] EricDahlvang commented on #3647
Has anyone on this thread tried manually setting the font using html? http://blog.greenl.ee/2012/01/29/sending-formatted-ims-ucma-application/

[2018-04-05 04:53] HainanZhao commented on #3695
Was trying to convince my boss to use the Microsoft teams, encountered the same issue here.

[2018-04-05 07:17] EricDahlvang commented on #4419
Which version of the sdk is the bot using?

How many requests per minute is the bot processing?

What type of server is the bot hosted on?

Can you share your bot's code, or a minimal project we can use to reproduce this?

[2018-04-05 07:46] sourabhlodha commented on #4421
I am trying on Skype and Facebook messenger But it doesn't support.Even For the Testing purpose, I try on bot emulator.
Yes, I try both Speak In and session say .

[2018-04-05 08:00] TheoSpyrou commented on #4333
@fms-santos hi I think your issue is the same as mine. Also that issue seems to be non-platform relative as it appears both in node.js and .net

[2018-04-05 08:02] Zhashkha commented on #4246
No, it's not blocking me, but I have to use inconvenient workarounds. I definitely don't think problem is in code. Ok, so I will close the issue. Thanks for your help.

[2018-04-05 08:02] #4246 closed

[2018-04-05 08:11] fr6087 commented on #4415
[Resources.de.zip](https://github.com/Microsoft/BotBuilder/files/1879031/Resources.de.zip)
Ah, but thanks for asking the question. I translated the Resource.nl.resx file to German (in the attachment). After reading that submitting it requires signing a contributer agreement and other technical stuff I decided that I'm too lazy to read into the details of that process :)

[2018-04-05 08:14] pyephyoeaung commented on #4419
Node6.9.1
800 requests per min
S1 small size

[2018-04-05 08:27] avelaMagazi opened #4426 "Restify possibly not working. Unable to migrate to Azure Cosmos DB"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.4
* Active Channels: None
* Deployment Environment: Azure Bot Service

## Issue Description
restify listening to http://undefined:undefined
Predefined code has errors. "Process".env is underlined

## Code Example
// Setup Restify Server
var server = restify.createServer();
server.listen(process.env.port || process.env.PORT || 3978, function () {

[2018-04-05 08:57] luisnatividade commented on #4279
I've done that right now and did not solve the issue.

The {SITE_NAME}.publishSettings (inside PostDeployScripts folder) has 18/01/2018 as the last date modified. Don't know if it is supposed to be like that or not.

Thanks.

[2018-04-05 09:02] fr6087 commented on #4414
I know, it's not strictly issue related, but suppose I want to access the UserInfo.GivenName property from the Cortana Notebook and integrate that into the prompt "what is your given name?" Like "I got your given name from the notebook as <user's name>. Is that correct?" How would I express that in json code? I know I can attach Validate functions. But they are executed after the prompt. Can I cal

[2018-04-05 09:25] Wenish opened #4427 "[QnA Maker] ä ö ü umlauts are not right in the response"
I saw some other qna maker specific question in this repo. if its the wrong one just tell me

## Issue Description
When i post to qna maker /generateAnswer and in the answer are umlauts (ä, ö, ü) they are formatted in a wierd way.

## Code Example
[code]

## Reproduction Steps
1. add an answer to qnamaker with an umlaut (ä, ö, u)
2. query the api

## Expected Behavior
the umlauts should be as ä, ö

[2018-04-05 09:31] #4426 closed

[2018-04-05 09:48] sourabhlodha commented on #4408
@stevengum97 yes Eric's answer help me to solve the problem.

@EricDahlvang thank you Eric for solving my issue.

[2018-04-05 09:49] SwetalinaGitHub opened #4428 "Json FormFlow speech not working in Cortana"
## Bot Info
* SDK Platform: .Net
* SDK Version: 3.1.3.0
* Active Channels: Cortana
* Deployment Environment: Azure Bot Service, Azure App Service, Cortana

## Issue Description
Speech is not working for Form-flow json enum options in Cortana channel. Added below code to convert text to speech , and this class is called in Global.asax.cs file. This converts json dialogs to speech if there is no enu

[2018-04-05 11:10] saikatbh94 opened #4429 "InputHint"
Hi, I am building a bot where whenever the user is giving any input through speech, the bot will automatically open the microphone to go to the listening mode. Basically, I have to give expecting inputhint i know that. But i don't know whether it applies to all the dialog files as well when i am going from messagescontroller to some other files. Please help me
MessagesController.cs:
[code]
RootDia

[2018-04-05 16:27] EricDahlvang commented on #4419
Which version of the Bot Builder SDK?
https://www.npmjs.com/package/botbuilder

[2018-04-05 16:31] fanidamj commented on #4422
@Michaelvsk I've filed bug and it will be acknowledged soon. Thanks for your patience.

[2018-04-05 16:47] fanidamj commented on #4369
Feel free to reopen the issue or contact at Luisuservoice@microsoft.com if the issue still persists.

[2018-04-05 16:47] #4369 closed

[2018-04-05 17:49] amehta3000 commented on #3647
You can, but is doesn't work cross platform. Will render in a PC, but OSX
won't necc recognize it or vice versa. Bot framework still recommends using
Markdown as it wasn't intentionally designed for HTML support like that.

On Wed, Apr 4, 2018 at 5:17 PM, Eric Dahlvang <notifications@github.com>
wrote:

--
Ameet Mehta
redrickshaw.co
m: 415.336.4032

[2018-04-05 18:28] intranetchris commented on #3647
@EricDahlvang We tried. We found we can get HTML to work on Windows, but it messes up Mac: either the HTML itself is output, or nothing is output at all.

To me, what is strangest is that the Times font is uniquely applied to bots. I don't understand why the formatting rules that are applied to normal user-to-user conversation are not also applied to bots.

[2018-04-05 18:41] suryadeepchatterjee3107 commented on #4387
if (results.response.index === 0) {'...
there are 3 '=' signs, maybe this is the reason.

[2018-04-05 18:53] suryadeepchatterjee3107 commented on #4387
![github](https://user-images.githubusercontent.com/14793809/38385784-7481baf6-3930-11e8-9d1f-2f025776cac4.PNG)

is this what you are expecting?
If yes, I replicated the same code you posted.

[2018-04-05 19:07] easkerov commented on #4387
It works fine in Bot Emulator, but issue occurs in Web Chat.

С уважением,
Эмин Аскеров

2018-04-05 21:53 GMT+03:00 surya <notifications@github.com>:

[2018-04-05 19:17] justinh00k opened #4430 "Bot Stopped Working After Migration "[Error] Microsoft.Azure.WebJobs.Host: Timeout value of 00:05:00 was exceeded by function""
## Bot Info
* SDK Platform: Node.Js
* SDK Version:
* Active Channels:  Skype, Slack, Messenger, Kik
* Deployment Environment: Azure Bot Service

## Issue Description
Since migrating, bot times out on almost all requests.

## Code Example
[https://github.com/justinh00k/autocompetebot-update](https://github.com/justinh00k/autocompetebot-update)

## Reproduction Steps
Bot was just migrated.

## Expec

[2018-04-05 19:52] adaddeo commented on #4055
Experiencing this same issue.

[2018-04-05 19:55] fanidamj commented on #4423
You will need an Azure account to manage the Bot Channels Registration, which is available in free and premium tiers. You can create an Azure account with the same email you are registered for dev.botframework.com.  You can still use the free tier without cost. If you decide you want a SLA and increased messaging then you can move to premium tier. The full pricing details are available [here](http

[2018-04-05 20:11] EricDahlvang commented on #4430
Hi @justinh00k

What is the bot handle and MicrosoftAppId?

Which version of the BotBuilder sdk are you using?

Is the bot using the default state service?

[2018-04-05 20:15] justinh00k commented on #4430
@EricDahlvang  Thank you.

@autoCompeteBot [https://bots.botframework.com/bot?id=autoCompeteBot](https://bots.botframework.com/bot?id=autoCompeteBot)

3.14.1

I assume so. How would I check this?

[2018-04-05 21:06] fanidamj commented on #4423
@JordanVScher Can you please send us the snapshot of the error. And did you create an Azure account with same email associate with dev.botframework.com?

[2018-04-05 23:43] JasonSowers commented on #4404
Are you able to see your bot yet?

[2018-04-05 23:44] JasonSowers commented on #4390
Still looking into this

[2018-04-06 02:11] rjgmail88 opened #4431 "LUIS resolveTime issue for a specific day with time prompt."
## Bot Info
* SDK Platform: Node.js
* Deployment Environment: Azure Bot Service
* Active Channels: MS Teams, Cortana

## Issue Description
I am using time prompt to accept date/time from user. In the case where user mentions a date with time ex: **May 6 2pm** I'm getting correct time resolved from builder.Prompts.time. However when user says May 6 I am getting May 6 12pm. I don't think its correct

[2018-04-06 04:48] pyephyoeaung commented on #4419
Thanks , my Botbuilder version is  3.14.0

[2018-04-06 05:11] fanidamj commented on #4429
Have you tested the code? Meanwhile I'll be reproducing the issue and get back to you shortly.

[2018-04-06 07:54] RStraviso commented on #4321
Not yet solved with 3.14.1.1

[2018-04-06 09:02] chinchang opened #4432 "Getting Refresh access token failed with status code: 400"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.8.3
* Active Channels: Skype, Slack
* Deployment Environment: Own server

## Issue Description
Suddenly getting the error on sending any message to my bot:
`Refresh access token failed with status code: 400`. Is there some authentication downtime on the botframework servers?

[2018-04-06 09:03] skandyrocks commented on #4432
same here. Critical! No customer can use our bot right now

[2018-04-06 09:07] Klervix commented on #4432
Same for all our bots

[2018-04-06 09:14] JpEncausse commented on #4432
Same here:
- SDK Platform: NodeJS
- SDK Version 3.x
- Active Channel: Messenger, WebChat
- Deployed on Azure, Ubuntu 14 and 16

[2018-04-06 09:36] tomtom1992 commented on #4432
Same here:

SDK Platform: .NET
SDK Version 3.14.1.1
Active Channel: Telegram, WebChat, DirectLine
Deployed on Azure

None of our customers can use any of our bots. This is very critical!

[2018-04-06 09:48] advl03 commented on #4432
Same here.

We have started to receive this error in all of our three environments (Development, integration, production) 30 minutes ago. This issue happened a couple of times in the past:

https://github.com/Microsoft/Microsoft/BotBuilder#3197
https://github.com/Microsoft/Microsoft/BotBuilder#1938

Environment:
- SDK Language: Node
- SDK version: 3.7.0.

Using Facebook Messenger channel. This is

[2018-04-06 09:53] SynerG commented on #4432
Same issue here.
Bots were properly working before, but they have been failing at least since one hour ago.
Bots are able to receive messages, but when the bot sends the message, it receives the error.
Beyond the Channels mentioned before, we have also experience the issue with `Telegram`, so it is not platform specific.

This is the error using Node.js SDK:
[code]

[2018-04-06 09:54] HighSoftWare96 commented on #4432
Seems that some of the Microsoft servers are down... Maybe this is the problem? [see here](https://outage.report/microsoft )

[2018-04-06 09:55] tristanvandam commented on #4432
Facing the same issue for all our bots.
**Environment Info:**
Platform : C#
Bot Builder SDK : 3.14.1
Deployment Environment : Azure Bot service (Web App)

[2018-04-06 09:56] emanueleleoni commented on #3986
I have got the same error. Since yesterday my callbackurl return error 404

[2018-04-06 10:00] SynerG commented on #4432
The official status page does not show any error:
https://azure.microsoft.com/en-us/status/

[2018-04-06 10:03] tomtom1992 commented on #4432
Seems to be a server issue: when I try to create a new Bot Channels Registration in Azure it fails with the following message:

[2018-04-06 10:07] mukeshzt commented on #4432
Same here: From last 2 hrs IST

SDK Platform: Node.js
SDK Version ^3.14.1
Active Channel: WebChat, Skype, Facebook and Slack
Deployed on other & Register with Bot service

our customers not able to use any of our bots.

[2018-04-06 10:12] kamidipreetham commented on #4432
Same here: From last one hour
SDK Platform: NodeJS
SDK Version: ^3.13.1,
Active Channel: Directline

Same error is showing up on all of the bots

[2018-04-06 10:12] SATACHAKRA opened #4433 "" Refresh access token failed with status code: 400""
## Bot Info
* SDK Platform: <-- .NET -->
* Active Channels: <-- Direct Line -->
* Deployment Environment: <-- Azure Bot Service, Azure App Service, local development with Emulator --> checked on all three.
 This problem started coming from today morning. My system time and date are perfect.
Emulator is new. Is there a issue on the server side??
PLEASE HELP ASAP.

[2018-04-06 10:25] Aashish-Amber commented on #4432
This issue has been observed on all Channels , not just Direct-line. There is also issue on azure portal , neither can create/Add any application nor can view any of the previous migrated applications .

[2018-04-06 10:28] emanueleleoni commented on #3986
@mefree98 Have you solve the error?

[2018-04-06 10:31] shinta115 commented on #4432
Same here. We have started to receive this error in all of our environments (Development, Staging and Production):

SDK Platform: NodeJS
SDK Version 3.x
Active Channel: Messenger, Skype, MS Teams, Slack, WebChat
Deployment Environment : Azure Bot service (Web App)

Error:

Error: Refresh access token failed with status code: 400
at new Error (native)
at Error.AppInsightsAsyncCorrelatedErrorWrapper

[2018-04-06 10:33] SynerG commented on #4432
The official status page is now showing a Warning for Azure Active Directory that could be related:
https://azure.microsoft.com/en-us/status/

[code]

Although our issue is happening in Europe and the warning only mentions East Asia.

[2018-04-06 10:58] GomathiSuresh commented on #2938
Hi, I have a bot deployed in Azure and has a valid Microsoft App Id and Password , and connected the bot it into Teams and the manifest file follows, but I am not getting reply from bots in teams
{
    "$schema": "https://statics.teams.microsoft.com/sdk/v1.2/manifest/MicrosoftTeams.schema.json",
    "manifestVersion": "1.2",
    "version": "1.0.0",
    "id": "280b5919-7217-4072-ba52-adaa8e4f8b72",

[2018-04-06 11:00] thulasipavankumar commented on #3197
I am facing the same issue _"Refresh access token failed with status code: 400"_  from last 30min

[2018-04-06 11:04] SynerG commented on #4432
Ok, the status page now acknowledges issues in East Asia and Europe.
We will have to wait:
[code]

[2018-04-06 11:07] advl03 commented on #4432
Aditionally, if I try to Access my Azure Portal, I get an error and I can see the following error:
![captura](https://user-images.githubusercontent.com/3024434/38418108-53432c9c-399b-11e8-8194-318a111b1dc8.PNG)

[2018-04-06 11:09] GomathiNallasivan commented on #3989
Hi, I have a bot deployed in Azure and has a valid Microsoft App Id and Password , and connected the bot it into Microsoft Teams and the manifest file follows, but I am not getting reply from bots in teams
{
"$schema": "https://statics.teams.microsoft.com/sdk/v1.2/manifest/MicrosoftTeams.schema.json",
"manifestVersion": "1.2",
"version": "1.0.0",
"id": "280b5919-7217-4072-ba52-adaa8e4f8b72",
"pack

[2018-04-06 11:12] GomathiNallasivan commented on #3937
Hi, I have a bot deployed in Azure and has a valid Microsoft App Id and Password , and connected the bot it into Teams and the manifest file follows, but I am not getting reply from bots in teams
{
"$schema": "https://statics.teams.microsoft.com/sdk/v1.2/manifest/MicrosoftTeams.schema.json",
"manifestVersion": "1.2",
"version": "1.0.0",
"id": "280b5919-7217-4072-ba52-adaa8e4f8b72",
"packageName":

[2018-04-06 11:15] bdumeurger opened #4434 "Slack bot outage - resolved same as #4432"
## Bot Info
* SDK Platform: .NET
* SDK Version: 4.7
* Active Channels: Slack
* Deployment Environment: Azure Bot Service

## Issue Description
Slack bots not responding since a few hours
Channels information page not displaying in web app bot resource on Azure
Any issue with slack bots at the moment please?

## Reproduction Steps
Go to Azure portal
Open web app bot resource
Click on Channels menu

[2018-04-06 11:24] debnathSD commented on #1938
Yes. Same problem happening here again. From last 2 hours

[2018-04-06 11:29] advl03 commented on #4432
Yes! Working again!

[2018-04-06 11:30] GomathiNallasivan commented on #3010
Hi, I have a bot deployed in Azure and has a valid Microsoft App Id and Password , and connected the bot it into Teams and the manifest file follows, but I am not getting reply from bots in teams
{
"$schema": "https://statics.teams.microsoft.com/sdk/v1.2/manifest/MicrosoftTeams.schema.json",
"manifestVersion": "1.2",
"version": "1.0.0",
"id": "280b5919-7217-4072-ba52-adaa8e4f8b72",
"packageName":

[2018-04-06 11:34] mukeshzt commented on #4432
Finally started again..! :)

[2018-04-06 11:39] adekola commented on #1938
Is it related to this https://azure.microsoft.com/en-us/status/?

On Fri, Apr 6, 2018 at 1:24 PM, Sourav Debnath <notifications@github.com>
wrote:

--
Adekola ADEBAYO

[2018-04-06 11:42] Aashish-Amber commented on #4432
Not Yet working on all environments ,All directline based bots are not up yet.

[2018-04-06 11:55] SATACHAKRA commented on #4433
💯

[2018-04-06 11:55] SATACHAKRA commented on #4433
:)

[2018-04-06 12:00] tristanvandam commented on #4432
All of our bots seem stable again and got a call from MS saying it should be working again. Our support ticket hasn't been closed yet though, but will post back here again once it is officially resolved.

[2018-04-06 12:07] HighSoftWare96 commented on #4432
My bot is back online again!

[2018-04-06 12:10] #4434 closed

[2018-04-06 12:10] skandyrocks commented on #4432
our direct line bots are working again.

[2018-04-06 12:13] yuanweilei opened #4435 "Can I use QueueBackgroundWorkItem in my bot?"
Can I use  HostingEnvironment.QueueBackgroundWorkItem like this?
Does these codes cause some error when many people using my bot at the same time?

[code]

        private async Task DoBotTaskAsync(Activity activity)
        {
            if (activity.Type == ActivityTypes.Message)
            {
                await Conversation.SendAsync(activity, () => new RootDialog());
            }

[2018-04-06 12:54] wcoder opened #4436 "[NodeJS] Skype username is undefined"
## Bot Info
* SDK Platform: Node.js
* SDK Version: `botbuilder": "3.13.1"`
* Active Channels: Skype, Slack,Telegram
* Deployment Environment: Azure App Service

## Issue Description
Skype username is undefined

## Code Example
[code]

## Reproduction Steps
1. start chat with bot in Skype
2. write `test`
3. see incorrect text

## Expected Behavior
`Your name: wcoder`

## Actual Results
`Your name:

[2018-04-06 13:10] emanueleleoni opened #4437 "Error 404 on Facebook Callback Url in Azure Bot"
I've created a bot with Bot Framework hosted in Microsoft Azure and It worked fine until yesterday. From that moment when the bot tries to call the RootDialog, It generates an exception
[code]
The exception message is

If I call my callback url I get an error 404.
Any helps is appreciated.
Thanks

[2018-04-06 13:13] VanHoutte1337 commented on #4432
I'm still receiving the same error

[2018-04-06 13:34] smartchatco commented on #4404
Not yet, I appreciate you checking though.

[2018-04-06 13:50] emanueleleoni commented on #4437
I don't know why, but now It works fine and I don't have the exception anymore.
Could you explain me why?

[2018-04-06 13:54] anvad commented on #1938
I had the same issue till about 30 minutes ago. Bot authentication was failing with "Error: Refresh access token failed with status code: 400" until I restarted my bot web server, My bot service on Azure is in west central US and the outage in azure referred to Europe and East Asia. Possibly the bot service depended on these other regions or the outage affected more regions than they detected.

[2018-04-06 14:06] cnu268 opened #4438 "Activity Id is null for the bot response"
Hi,

We have a requirement to log the bot conversation in Azure Data Lake. As part of it, we are passing the activity objects of both user request and bot response to the Event Hub. The user request activity object has the ID value. But, everytime the bot response activity object has the ID value as null. Any help would be greatly appreciated.

Thanks
Srinivas

[2018-04-06 14:26] JorgeCupi commented on #3727
I'm having the same issue iantje31 initially had. I'm working locally and the Bot Emulator stills displays
"No match found!"

[2018-04-06 14:43] JordanVScher commented on #4423
@fanidamj Thanks for the pricing clarification! It's exactly what I needed to confirm. :)
As I said, the location bar at bot registration was gray and not offering any options, so I couldn't finish the process. The problem solved itself after 40 minutes although the automatic migration was giving me the same mistake and didn't start working until much later. Bot migration seems to be working now,

[2018-04-06 14:50] mefree98 commented on #3986
It just started working one day.  I'll check to see if it is still working, but I didn't do anything to fix it.

[2018-04-06 15:41] bilby91 commented on #4432
We are still having this issue

[2018-04-06 16:01] EricDahlvang commented on #4432
@bilby91 Have you restarted the service?

@All There was an issue with Azure AAD last night that affected bots.  It has been resolved.  If your bots are still experiencing issues, please restart the service.

[2018-04-06 16:01] bilby91 commented on #4432
@EricDahlvang What do you mean by restart the service ?

[2018-04-06 16:07] EricDahlvang commented on #4432
@bilby91 Restart the service hosting bot.

For instance, if it is a WebApp bot hosted in Azure:
![image](https://user-images.githubusercontent.com/11055362/38431682-de8ffb9e-3979-11e8-9be2-e5b181032c4c.png)

[2018-04-06 16:07] #4433 closed

[2018-04-06 16:13] EricDahlvang commented on #4419
Please upgrade to 3.14.1 https://www.npmjs.com/package/botbuilder

There have been a number of changes since 3.14.0:
https://github.com/Microsoft/BotBuilder/commits/master

[2018-04-06 16:13] VanHoutte1337 commented on #4432
@bilby91 i restarted my node server

[2018-04-06 16:14] bilby91 commented on #4432
@EricDahlvang @VanHoutte1337 Got it. I thought that is was something specific to the Bot Service. We have restarted. Lets see if that fixes.

[2018-04-06 16:20] JasonSowers commented on #4437
SO post duplicate https://stackoverflow.com/questions/49691469/error-404-on-facebook-callback-url-in-azure-bot

[2018-04-06 16:29] EricDahlvang commented on #4321
@RStraviso

You may have been experiencing this issue: https://github.com/Microsoft/BotBuilder/issues/4432  The underlying Azure AAD problem has been resolved.  Please follow along there for updates.

[2018-04-06 16:31] EricDahlvang commented on #3986
@mefree98 @emanueleleoni

You may have been experiencing this issue: https://github.com/Microsoft/BotBuilder/issues/4432  The underlying Azure AAD problem has been resolved.  Please follow along there for updates.

[2018-04-06 16:31] #3986 closed

[2018-04-06 17:01] EricDahlvang commented on #3010
@GomathiNallasivan

Please open a new issue: https://github.com/Microsoft/BotBuilder/issues/new

[2018-04-06 17:08] #4437 closed

[2018-04-06 17:09] JasonSowers commented on #4438
Can you please fill out the template

## Bot Info
* SDK Platform:
* SDK Version:
* Active Channels:
* Deployment Environment:

## Issue Description

## Code Example

## Reproduction Steps
1.
2.
3.

## Expected Behavior

## Actual Results

[2018-04-06 17:26] EricDahlvang commented on #1938
@debnathSD @adekola @anvad

Please refer to https://github.com/Microsoft/BotBuilder/issues/4432

There was an issue with Azure AAD last night that affected bots. It has been resolved. If your bots are still experiencing issues, please restart the service.

[2018-04-06 18:13] JasonSowers commented on #4435
The Bot Framework support team prefers to answer questions like this on Stack Overflow to help the community as a whole. We are happy to answer your question, so please post your question on Stack Overflow tagged with the BotFramework tag.  If the issue gets closed here on GitHub, it will not be available and indexed for external search engines so others can easily find it.   Thanks!

[2018-04-06 18:13] #4435 closed

[2018-04-06 18:15] JasonSowers commented on #4404
If on Monday it is still not published I will reach out again since they did say "end of the week".

[2018-04-06 18:30] EricDahlvang commented on #4436
@wcoder  Sorry, but they do not currently have a timeline in place.  (Also, I had intended on linking this issue: https://github.com/Microsoft/BotBuilder/issues/4377  )

[2018-04-06 18:40] nodeomega commented on #4421
Right now there seems to be an issue with speech on the bot emulator, as I have just learned today.  I'm checking on the availability of Skype and Facebook Messenger and speech, but I don't *think* Facebook Messenger* has that capability.  Allow me to double-check this.

[2018-04-06 18:55] EricDahlvang commented on #4430
If you have not implemented a custom state store, then you are using the default (not intended for production bots).

There is information on our blog about the deprecation of the default state service: https://blog.botframework.com/2018/04/02/reminder-the-bot-framework-state-service-has-been-retired-what-you-need-to-know/  There you will find links to resources describing how to use BotBuilder-Az

[2018-04-06 19:28] EricDahlvang commented on #4430
You can rollback the migration if you believe it has caused issues with your bot.  This is the first report I've seen where performance is impacted by migration.

Please share your actual BotHandle and MicrosoftAppId so I can investigate.

[2018-04-06 19:31] EricDahlvang commented on #4430
Also, the project you've linked looks to have a partial implementation of a custom state store using   botbuilder-azure: https://github.com/justinh00k/autocompetebot-update/blob/master/index.js#L15

Just missing this: `.set('storage', tableStorage);`  Here is an example: https://github.com/Microsoft/BotBuilder-Azure/blob/master/Node/examples/feature-azureTable/app.js

[2018-04-06 19:36] justinh00k commented on #4430
It's partial because I just started it. It's only incomplete because Azure STILL hasn't pushed the Github changes.

MiscrosoftAppId is 1bd06027-2491-4709-ba31-01d101f57e2d

Not sure what you mean by "actual" bot handle if it's not autoCompeteBot

[2018-04-06 21:56] EricDahlvang commented on #4414
It seems the "Before" is actually being sent, but it is followed immediately by the next message.   If "Before" is not read by cortana, it just flashes on the canvas.  I found some code here: https://stackoverflow.com/questions/44464575/formflow-prompts-are-not-being-spoken-in-cortana-skills that might help.  If you add a **IMessageActivityMapper** that checks for and empty .Speak, it seems to the

[2018-04-06 22:28] fanidamj commented on #4431
Thanks for reporting this. We are looking into this issue.

[2018-04-06 22:44] v46 opened #4439 "[Slack] Slow incoming messages from bot framework to bot"
Hi folks,

Starting about an hour or so we are seeing a latency of 10 seconds for all our slack channel bots. This is the time taken from when a user types a message and our bot receiving it from bot framework.

Outgoing messages are fast and SFB bots don't seem to be impacted. Are you aware of a production outage?

We are running 3.8 of the Node SDK as a Bot Service (outside Azure). Our bots are

[2018-04-06 22:49] EricDahlvang commented on #4439
We will investigate, and get back to you shortly

[2018-04-06 23:35] EricDahlvang commented on #4347
FormConfiguration determines the NoPreference template.  As well as MatchNoPreference.  This can be found here: https://github.com/Microsoft/BotBuilder/blob/b7b2abbd089b0c0b91f367e4355743f7171dbc26/CSharp/Library/Microsoft.Bot.Builder/FormFlow/IFormBuilder.cs#L390

It can be overridden like:

[code]
![image](https://user-images.githubusercontent.com/11055362/38448314-490bba56-39b8-11e8-900a-354dda

[2018-04-06 23:55] EricDahlvang commented on #4439
There appears to have been a temporary issue with Slack bots isolated to a data center in Europe.  It seems to have corrected itself after just a few minutes.  Are any if your bots still experiencing issues?

[2018-04-07 00:28] v46 commented on #4439
Thanks for the update Eric. We are still seeing latency issues with our slack bots.

[2018-04-07 00:32] pradgnyak commented on #4439
We are also seeing the same problem for our slack bots. Any insights?

[2018-04-07 00:59] EricDahlvang commented on #4439
Apologies, I spoke too soon.  And my investigation was incorrect.

Someone higher up than myself has isolated the problem, and is actively working on a resolution.  I will post updates as I get them.

[2018-04-07 01:13] EricDahlvang commented on #4439
Okay, NOW things are back to normal.

Please let me know if you're still experiencing latency issues.

[2018-04-07 01:48] v46 commented on #4439
Thanks, it’s working now.

[2018-04-07 02:35] #4439 closed

[2018-04-07 02:43] #4432 closed

[2018-04-07 04:10] yuanweilei commented on #4406
MessagesController.cs
`
 public async Task<HttpResponseMessage> Post([FromBody]Activity activity)
        {
            if (HostingEnvironment.IsHosted)
            {
                HostingEnvironment.QueueBackgroundWorkItem(c => DoBotTaskAsync(activity));
            }
            else
            {
                await Task.Run(() => DoBotTaskAsync(activity));
            }
            var res

[2018-04-07 10:00] sourabhlodha commented on #4421
@nodeomega  Yes Facebook Messenger doesn't have the capability but Can you check with Skype and bot emulator.Thank you for helping me in resolving the issue.

[2018-04-07 10:54] chinchang opened #4440 "Address to send proactive message to slack channel has user info in it"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.8.3
* Active Channels: Slack
* Deployment Environment: Own server

## Issue Description
I am trying to do proactive messaging to channels in Slack. I save the `message.address` from a channel message and then everything works fine. My concern is with how the address looks like for a channel:

[code]

I get this address when I send a message from

[2018-04-09 00:25] yuanweilei commented on #4406
After Azure team fix #4432 ,my bot works well now.
May be these was a problem in Azure bot service before.

[2018-04-09 00:25] #4406 closed

[2018-04-09 06:55] emanueleleoni commented on #3986
@EricDahlvang You're right!
Now It works again.
Thank you

[2018-04-09 08:43] himanshushukla254 opened #4441 "enter/send button in webchat window is not working for some browsers"
## Bot Info
* SDK Platform:Nodejs
* Active Channels: webchat using iframe tag on website
* Deployment Environment: Azure Bot service

## Issue Description
For some browsers enter/send button in chat bot window is not working.
For eg, It is working for chrome 66 beta but not for chrome 65.
similarly it is not working for Microsoft edge. After typing any text the button should be greyed out.
But it'

[2018-04-09 09:26] rahulugee opened #4442 "Parallel Login to SKB channel"
## Bot Info
* SDK Platform: < Node.js -->
* SDK Version: <-- 6.9.1 -->
* Active Channels: <-- Skype fro Business -->
* Deployment Environment: <-- Azure Bot Service, -->

## Issue Description
<my bot is hosted on skype for business.It is a LUIS bot wherein bot extracts data from a SQL db based on user input. Typical questions are : sales in A OR revenue in B.When multiple user login at same time o

[2018-04-09 09:40] emimontesdeoca opened #4443 "Authorization error when doing POST calls to /api/messages"
## Bot Info
* SDK Platform: .NET
* SDK Version:  3.14.0.7
* Active Channels: Web
* Deployment Environment: local development with Emulator
* No Microsoft ID and Password

## Issue Description

Hello, first of all thank you for your work!

I'm trying to get do integration test to the bot by making post calls to the bot, but I'm getting 401 Unauthorized when I get the response.

**Updated since I do

[2018-04-09 10:16] TimLariviere commented on #4295
@JasonSowers What about conflicts with ETag ?

If I write something to UserData with IBotDataStore while running the bot, I end up with a HTTP 412 Precondition Failed
The bot tries to write its own UserData but as it has been changed in the meantime, it crashes.

I know that you can change the Etag policy to LastWriteWins but it means that writing with IBotDataStore will never work while the bot i

[2018-04-09 11:30] saikatbh94 commented on #4429
Okay friends, this issue has been resolved already. Thank you anyway. I just had to use the 'options' in the context.SayAsync() to incorporate inputhint. I mean:
await context.SayAsync(text: ... , speak: ... , options: new MessageOptions() { InputHint = InputHints.expectingInput});

[2018-04-09 11:40] saikatbh94 commented on #4366
Sorry, I did not get what I needed. I wanted to know whether there are any ways to wait for a particular time after I invoke the method context.Wait().

[2018-04-09 12:24] emimontesdeoca commented on #4443
There are some progress in this issue, finally could get the token but when I try to add it as a header to the activity I get another authorization problem.

However this time I can provide better information.

[code]

**This returns a 401 Authorization error.**

When we do a test message using the emulator to the ngrok it works fine, there are some changes in the raw message.

This one is the mes

[2018-04-09 13:02] SUDALV92 opened #4444 ""ajaxExtended call failed" error during Azure Bot creation"
## Bot Info
* Deployment Environment:  Azure Bot Service

## Issue Description
I got "ajaxExtended call failed" error when i'm trying to create Azure Web App bot. Sometimes bot creation going without any errors. It does not depend on the parameters.

## Reproduction Steps
1. Start creating Web App Bot in Azure Portal
2. Set the parameters (in my case I'm using an existing resource group, creating

[2018-04-09 13:04] crisboarna commented on #3198
Hi, is this not an inefficient manner to handle LUIS extraction ? As LUIS is called at every message by default when adding a recognizer, but you only get the intents and entities in the session parameter when in the first step of a waterfall, you have to call LUIS again every time you require entity extraction resulting in doubling of LUIS calls, doubling costs. Is this correct or is there a way

[2018-04-09 14:36] fms-santos commented on #4333
@TheoSpyrou  Indeed. The thing is, in my case, i do not want to show the response back to the user (like the imBack button does) so I'll wait for a fix. For now, I'm just using the Skype Channel and not the SWC version.

[2018-04-09 14:53] advl03 commented on #4154
@FranciscoPonceGomez , is it posible to get the documentation you mentioned in your previous reply on Feb 20th?
"We already support It. It defaults to ‘Response’ and can be changed via ‘messageing_type’ in channeldata.
I will send you a link with the updated documentation soon."

[2018-04-09 15:05] fanidamj commented on #4429
Thanks for the update.

[2018-04-09 15:05] #4429 closed

[2018-04-09 15:08] emimontesdeoca commented on #4443
**Finally could get the authorization token, but now there is an internal server error when trying to send a message.**

**As for how, I used [this](https://github.com/Microsoft/BotBuilder/issues/3881) method, which I found from another issue.**

[code]

I'm closing this one since that problem with authorization is already solved, I'll be opening a new one for the internal server error.

[2018-04-09 15:08] #4443 closed

[2018-04-09 15:15] emimontesdeoca opened #4445 "Internal server error (500) when sending message to bot by RES"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.14.0.7
* Active Channels: Web
* Deployment Environment: Local development with Emulator?

## Issue Description

After fixing the #4443 issue, a new problem came up, the bot is throwing a 500 Internal Server Error when I post a message to the endpoint.

**When I post a conversationUpdate it returns a 200 OK!**

[![https://gyazo.com/bb40440c5b90fc0da

[2018-04-09 16:09] EricDahlvang commented on #4235
@garniergeorges  Have you heard back from the review team via email?  I'd like to close this GitHub issue if possible.

[2018-04-09 16:27] stevengum97 commented on #4324
Closing issue due to inactivity.

[2018-04-09 16:27] #4324 closed

[2018-04-09 16:29] stevengum97 commented on #4136
@khushboo22singh, sorry for the delay, did you find a solution for this? Have you seen this [article](https://community.dynamics.com/crm/b/nishantranaweblog/archive/2017/04/21/integrating-bot-with-dynamics-crm-oauth-2-0-authentication) on Dynamics auth and BotBuilder?

[2018-04-09 16:51] #4418 closed

[2018-04-09 16:57] JasonSowers commented on #4441
This issue would be best to file over in the [webchat repo](https://github.com/Microsoft/BotFramework-WebChat).  That way the webchat team is aware of this and the experts over there can look into it.

[2018-04-09 16:57] #4441 closed

[2018-04-09 17:32] EricDahlvang commented on #4366
@saikatbh94  context.Wait(methodname) is a continuation delegate, not an async/await type thread barrier.  If you want to timeout the conversation, you would need to write code to do that.  I've provided an example of this type of conversation timeout here:  https://github.com/EricDahlvang/EndConversationTest/blob/master/EndConversationTest/ConversationTimeout.cs  Note: this example will only work

[2018-04-09 17:34] JasonSowers commented on #4445
Can you please upgrade to SDK version 3.14.1.1 and see if the problem persists?  there were some issues with 3.14.0.7.

[2018-04-09 17:55] garniergeorges commented on #4235
Yes, please. You can close this conversation.
Thanks

[2018-04-09 18:08] #4235 closed

[2018-04-09 18:10] Andrea-Orimoto commented on #4430
Hi @justinh00k, first of all, sorry for the inconvenience. Have you updated your code to use FuncPack? I see your bot is a Functions bot in Node.js, which is the one case that we highlight in the migration doc https://docs.microsoft.com/en-us/azure/bot-service/bot-service-migrate-bot

The fact that a brand new bot works leads me to believe that this might be the issue.

Again, apologies for the in

[2018-04-09 18:15] xjose97x commented on #4397
@rohankulkarni21 If a channel is not by default available for Microsoft Bot Framework, you have to code to establish the connection through the Bot Framework DirectLine SDK.

[2018-04-09 18:18] xjose97x commented on #4375
Would be interesting to have a sort of "white paper" which explains the architecture of the Microsoft Bot Framework. For instance the framework (v3 does, not sure if v4) works with fibers and stacks, and having information on how and why that is used would be very useful.

[2018-04-09 18:24] xjose97x commented on #4360
I believe Facebook Webview would be a great feature.
The Spotify chatbot (in their facebook page) uses it heavily and provide a great user experience.

Thanks for asking our opinion @EricDahlvang  :+1:

[2018-04-09 18:24] nodeomega commented on #4442
How are you storing user data?  Are you using Azure table storage, cosmos DB, etc.?

[2018-04-09 18:31] EricDahlvang commented on #4444
When this happens, do you see any errors in the console window of the browser (F12)?

[2018-04-09 18:41] rjgmail88 commented on #4431
Hello, Any update on this please ?

[2018-04-09 19:00] AnandKRamasamy opened #4446 "Not able to Migrate the existing bots to Azure service"
## Bot Info
* SDK Platform:
* SDK Version:
* Active Channels:
* Deployment Environment:

## Issue Description

Am getting the below error message when i click the migrate button in the mybots page of https://dev.botframework.com/bots.

_The client 'anandkumar.ramasamy@delta.com' with object id '03c0025d-4430-483c-a84d-8d966b188898' does not have authorization to perform action 'Microsoft.Resources

[2018-04-09 19:56] smartchatco commented on #4404
I don't think so. The reason I am not sure is on Windows client, it does not show up in the bot directory, nor  when I search for it.  In Android it does not show up in the bot directory (the place with all the categories), but when I search for it it does show up, although it also finds a bunch of non-certified bots that was as well.  I had thought those were not searchable, but I could be wrong.

[2018-04-09 20:18] stevengum97 commented on #4438
We don't actually generate a new activity ID for outgoing messages from the bot so you'd have to do this manually. Here's a [post](https://blog.botframework.com/2017/05/05/saving-bot-actions-on-azure-sql-server/) that might help you on addressing your issue is Saving Bot Actions on Azure SQL Server. And here is a link to a [snippet](https://blog.botframework.com/2017/05/05/saving-bot-actions-on-az

[2018-04-09 21:13] Andrea-Orimoto commented on #4446
hi @AnandKRamasamy, could you please ask your administrator to give you contributor access at the subscription level, and then retry?

[2018-04-09 21:55] carlos-prado-vsys commented on #4407
@phchabrol

I was facing the very same problem. But I believe I found a way to work-arround....
I was using portuguese as my language at Portal Settings. When I changed do English, the problem disapeared!

Hope it helps.
Carlos Prado.

[2018-04-09 22:50] muebele opened #4447 "Unauthorized Error on IPostToBot.PostAsync"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.14.1.1
* Active Channels: Slack
* Deployment Environment:  Azure

## Issue Description
We've had a bot in production for several months that now just suddenly stopped working. It works normally on the Bot Framework Emulator, but on Azure, it returns a 500 Internal Server Error (see stack trace below)

## Code Example
The bot authenticates fine, but

[2018-04-09 22:59] justinh00k commented on #4430
Thanks @Andrea-Orimoto. Yeah i tried setting it up for funcpack and that didn't seem to help.  I tried any number of things. Eventually i had to unmigrate and remigrate, and that resulted in continual "Error 500"s that creating and switching users didn't fix. That's where I stopped, because now when I login to try, it says "Provisioning your bot..."  and that never changes.

[2018-04-09 22:59] EricDahlvang commented on #4447
Is the time on your server set correctly?

What is your BotHandle and MicrosoftAppId?

[2018-04-09 23:15] EricDahlvang commented on #4440
**IAddress** defines user as a required field:  https://docs.botframework.com/en-us/node/builder/calling-reference/interfaces/_botbuilder_d_.iaddress.html  In fact, **conversation** is not required (if starting a new conversation with the user), but user is.

[2018-04-09 23:31] muebele commented on #4447
Handle: esmsbot_dev_01
App Id: ba0eae0f-f0e5-4a5e-9ec6-143d1447b463

For the server, we're using an Azure web app, which I believe the time automatically configures to UTC?

[2018-04-09 23:41] stevengum97 commented on #3198
Hi @crisboarna, can you open a new issue and someone from the team will get back to you regarding this? Please make sure to include any sample code for your bot.

[2018-04-09 23:48] stevengum97 commented on #4402
Closing issue due to a released fix and inactivity. If anyone is still having problems please file a new issue.

[2018-04-09 23:48] #4402 closed

[2018-04-09 23:52] EricDahlvang commented on #4447
Does restarting the app service fix the issue?

[2018-04-09 23:53] muebele commented on #4447
We've tried restarting the service - no change in behavior unfortunately.

[2018-04-09 23:54] Andrea-Orimoto commented on #4430
oh I see, I'll get an engineer involved tomorrow. We might need to ask you to give us temporary access to your subscription. I'll let you know if that's the case.
Sorry for the inconvenience.

[2018-04-09 23:55] stevengum97 commented on #4408
Closing issue.

[2018-04-09 23:55] #4408 closed

[2018-04-09 23:57] justinh00k commented on #4430
That would be totally fine. Appreciate your help!

[2018-04-09 23:57] EricDahlvang commented on #4447
Is this bot using the default state service?  This service is being deprecated: https://blog.botframework.com/2018/04/02/reminder-the-bot-framework-state-service-has-been-retired-what-you-need-to-know/

Here is a blog that describes how to use Bot Builder Azure Extensions to implement a custom state:
https://blog.botframework.com/2017/07/18/Saving-State-Azure-Extensions/

---
This should not be ca

[2018-04-10 01:43] muebele commented on #4447
What exactly is the default state service and how can I tell if I'm using it? We store all of our bot's data internally, but we do use serialized class variables to manage conversation flow; I didn't think that was part of the state service, but correct me if I'm wrong!

[2018-04-10 01:47] rahulugee commented on #4442
I am storing data in azure SQL db

On Mon, Apr 9, 2018, 11:55 PM Jon Russell <notifications@github.com> wrote:

[2018-04-10 06:12] sourabhlodha commented on #4421
@nodeomega Can you please Update me the speech for skype or any alternative function to use the speech in skype.

[2018-04-10 06:35] TimLariviere commented on #4295
@EricDahlvang

So basically, it means I should never (in a dialog) manually manipulate state with IBotDataStore and instead use `IDialogContext.UserData`?
IBotDataStore being usable only outside of a conversation.

[2018-04-10 08:50] emimontesdeoca commented on #4445
## **Just updated to the 3.14.1.1 and it's still failing.**

Probably it's my code fault and not the version, huh.

Did some rework to the code and tried to make it like a real conversation(like between the emulator and the bot).

It seems that the way it works is: conversationUpdate(add user to conversation) -> conversationUpdate(add bot to conversation) -> message(send activity), or at least is

[2018-04-10 10:01] SUDALV92 commented on #4444
Yes
![ss 2018-04-10 at 12 59 38](https://user-images.githubusercontent.com/38214332/38550454-46c4740e-3cbf-11e8-9caa-c1e694037f3b.png)

[2018-04-10 10:47] abhisekmallik opened #4449 "Getting an exception: Dialog[/] already exists in library[*]."
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.14.1
* Active Channels: N/A
* Deployment Environment: local development with Emulator

## Issue Description
Getting an exception: **Dialog[/] already exists in library[*]**.

## Code Example
var qnarecognizer = new cognitiveservices.QnAMakerRecognizer({
    knowledgeBaseId: process.env.QNA_KNOWLEDGEBASE_ID,
    subscriptionKey: process.env.QNA_S

[2018-04-10 16:08] gazambuja opened #4450 "[Skype For Business] Error 500 when sending proactive message to Skype for Business"
## Bot Info
* SDK Platform: NodeJS
* SDK Version: ^3.13.1
* Active Channels: Skype and Skype for Business

## Issue Description
When try to send a proactive message to user using Skype for B. they return error 500 and never deliver the message. This work fine if the saved address is from Skype and not Skype for Bussines.

## Code Example
[code]

## Expected Behavior
Deliver a message to user saved

[2018-04-10 16:41] AnandKRamasamy commented on #4446
hi @Andrea-Orimoto ,
It worked after giving contributor access at the subscription level.
Thanks for the help

[2018-04-10 16:51] GeetaKrishna commented on #120
Guys, I don't know if it will help. I started working using an NPM module.
https://www.npmjs.com/package/botbuilder-formflow

[2018-04-10 17:50] nodeomega commented on #4449
When declaring the bot (builder.UniversalBot), which overload are you using?

`var bot = new builder.UniversalBot(connector);`

or

    var bot = new builder.UniversalBot(connector, function (session) {
        // function code here
     });

The second overload creates a default dialog which maps to "/".

[2018-04-10 18:01] benjamin-p-dennis commented on #4444
I'm experiencing this issue also. Enterprise support confirmed this is a known issue.

[2018-04-10 18:05] EricDahlvang commented on #4446
Thanks @Andrea-Orimoto !

[2018-04-10 18:07] EricDahlvang commented on #4442
@rahulugee  Can you share some sample code that reproduces this problem?

[2018-04-10 18:09] EricDahlvang commented on #4295
@TimLariviere  Correct.

[2018-04-10 18:25] bilby91 opened #4451 "Teams API responding with 500"
## Bot Info
* SDK Platform: Node.js
* SDK Version: Latest
* Active Channels: MS Teams, Slack
* Deployment Environment: AWS

## Issue Description
We are getting 500 errors when trying to interact with Teams API. When getting the channels of team, getting members, etc.

## Expected Behavior
API should respond correctly.

## Actual Results
We are getting an error message with the following informatio

[2018-04-10 18:58] millimoose commented on #4360
Subscribing a single bot application to an arbitrary number of pages for the same FB app is essential to what our team is trying to accomplish. (Serve many locations of similar businesses with slightly varying offerings between them.)

[2018-04-10 21:33] rcasto opened #4452 "Value of activity is "{}" when it should be equal to custom data from Action.Submit"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.8.5
* Active Channels: Direct Line
* Deployment Environment: local development with/without Emulator

## Issue Description
Whenever an Action.Submit has a custom data object, this data object is not sent or retrievable/accessible on the .NET controller

## Code Example
Here is the Adaptive Card I am sending to the client for a test:
![image](https:

[2018-04-10 21:51] Andrea-Orimoto commented on #4430
Hi @justinh00k, we spent some time digging in the logs, have some clues, but it would help to get access to your subscription. Can you please temporarily add andreo(at)microsoft.com and hailiu(at)microsoft.com as contributors to your subscription?

Also, a few questions:

1. this bot appears to be a legacy Azure Bot Service functions bot. I would have expected to see an endpoint with a functions c

[2018-04-10 21:52] nodeomega commented on #4382
Closing this issue as there has been no reply for an extended period.  If this issue persists, feel free to open a new support request.  Thank you.

[2018-04-10 21:52] #4382 closed

[2018-04-10 22:57] nodeomega commented on #4218
@easkerov I have not been able to repro the `BUTTON_DATA_INVALID` message you are getting, even when I set it to `listStyle: 3`. (this sets it to use buttons always)  I used 67 choices for the prompt as well with this data:

    // Test data: 1980's (mostly) cartoon character names.
    var promptButtons = ["Megatron", "Starscream", "Soundwave", "Skywarp", "Thundercracker", "Rumble", "Ravage", "La

[2018-04-10 23:16] fanidamj commented on #4422
@Michaelvsk builtin.datetime was not directly supported by LUIS. Hence we cannot resolve the issues related to it. We're working on datetimeV2 for German, but no ETA yet. Hopefully soon. :) Closing this issue as it cannot be resolved here.

[2018-04-10 23:16] #4422 closed

[2018-04-10 23:30] Andrea-Orimoto commented on #4400
hi @Irbis377, sorry for the inconvenience. The error in the log says that "The value of deployment parameter 'botEnv' is null". Do you have the "BotEnv" App Settings set to "Prod"? If not, can you add it and retry?

[2018-04-10 23:34] fanidamj commented on #4431
@Stevenic Can you please look into this issue.

[2018-04-10 23:36] Andrea-Orimoto commented on #4400
@Polaris-BS, the error in your case is slightly different, but points me in the same direction. Can you try the the same thing? Your error says "The template variable 'currentConfig' is not valid: The language expression property 'bau.eu' doesn't exist, available properties are '[omitted], prod'". If my theory is correct, you do have a BotEnv app setting, but is value is bau.eu. If so, please chan

[2018-04-10 23:37] JasonSowers commented on #4445
This is probably caused by not starting a conversation before sending the activity.  Please read through [this doc](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-start-conversation) it should help you resolve this

[2018-04-10 23:38] Andrea-Orimoto commented on #4395
@edanilenko34, what is the botId?

[2018-04-10 23:56] microsoftly commented on #4353
+1 I'm also having similar bugs

[2018-04-10 23:57] microsoftly commented on #4353
I'm getting a 403 Forbidden when hitting https://sms.botframework.com/api/sms

[2018-04-11 00:02] EricDahlvang commented on #4447
i'm confused about why the bot would suddenly stop working, and why it would be throwing unauthorized exceptions.  Are you using v3.14.1.1 of Microsoft.Bot.Builder AND  v3.14.1.1 of Microsoft.Bot.Connector ?

Dialog fields are persisted in the state store, as well as UserData, ConversationData and PrivateConversationData.  If you have not implemented a custom state client, then you are using the d

[2018-04-11 00:12] EricDahlvang commented on #4353
@microsoftly Which version of the Bot Builder SDK are you using?

[2018-04-11 00:31] EricDahlvang commented on #4445
You can use the REST api: https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-send-and-receive-messages#start-a-conversation

[2018-04-11 01:34] muebele commented on #4447
Yes, we're on v3.14.1.1 on both.

I'm still not entirely sure what exactly is going wrong, but I've identified the source of the problem at least:

We're using our own customized mechanism for authentication - rather than storing the app id and password in the web.config file, we pull them dynamically from a secure storage and match them against the request (we have multiple bots running on the sa

[2018-04-11 03:55] SychevIgor commented on #4218
@easkerov on my side- everything works fine.

[2018-04-11 06:43] Michaelvsk commented on #4422
Ok then I have to wait for the new datetimeV2, which hopefully also brings support for relative date recognition to german.
Anyway thanks for your support on this topic.

[2018-04-11 08:36] edanilenko34 commented on #4395
The BotID is 4949893f-f14b-4e63-b274-05fc8854c728

[2018-04-11 08:52] emimontesdeoca commented on #4445
Thanks @JasonSowers and @EricDahlvang for the help.

I've been trying to make it work but seems like I'm unable to do it, **now I am getting an 401 Unauthorized when making the POST call**, even with a valid token.

Also I dont know if I am actually making the POST to the correct endpoint, checking the API REST documentation stated by @EricDahlvang it says: **https://smba.trafficmanager.net/apis/v

[2018-04-11 08:56] emimontesdeoca commented on #4445
The code above is pushed here https://github.com/emimontesdeoca/integration-test-bot-framework/commit/042ab11ecec0d88decb567434cd6c9aca0631955

[2018-04-11 09:00] SasankaSengupta opened #4453 "[Node.js SDK, Skype] I want my bot to send message every-time a user get connected"
## Bot Info
* SDK Platform:  Node.js

* Active Channels: Skype
* Deployment Environment:  Azure Bot Service

## Issue Description
I want my bot to send message every-time a user get connected to in skype

## Code Example
I'm doing this way:

**bot.on('conversationUpdate', function (message) {
    if (message.membersAdded) {
        message.membersAdded.forEach(function (identity) {
            if

[2018-04-11 09:32] Irbis377 commented on #4400
Hi @Andrea-Orimoto
Do you mean this?
![11](https://user-images.githubusercontent.com/24790338/38607807-554768ec-3d82-11e8-9c67-0845f7f73cd9.PNG)
or this?
![22](https://user-images.githubusercontent.com/24790338/38608423-f4f994fe-3d83-11e8-8148-e30d3618649e.PNG)

Or I need to set BotEnv in any another place?

I have error 400 again

[2018-04-11 10:29] yalalasai opened #4454 "[.Net SDK, Azure Bot Service] Changes made in Bot Code not Replicating in azure web test bot."
## Bot Info
* SDK Platform:  .NET
* Active Channels:  MS Teams
* Deployment Environment:  Azure Bot Service, Azure App Service

## Issue Description
 As given in the guidelines in readme.md I did made changes in my code and did  run in console but it is giving out an error.

## Code Example
 call npm install kudusync -g --silent

## Expected Behavior
 To deploy the bot with newly created Intents.

[2018-04-11 11:02] pawankorotane commented on #1883
I am facing the same problem I am using my business email and I am able to login to Office 365 with my email even though I am getting a validation error

[2018-04-11 11:33] MarkHirst opened #4455 "Error when adding Skype Channel - Error synchronising your Bot to Skype"
## Bot Info
* SDK Platform: .NET
* SDK Version: SDK version
* Active Channels: Skype
* Deployment Environment: Azure VM

## Issue Description
Similar to issue 4402, I'm having no luck contacting my bot through Skype. On initial registration of the bot and adding the Skype channel (as a 1:1 calling bot), I see 'There was a problem synchronizing your bot to Skype' appearing in errors shown against t

[2018-04-11 12:00] schafferer opened #4456 "[.Net SDK, FB Messenger] Typing activity not disappearing before message arrives IOS"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.14.1.1
* Active Channels: Facebook
* Deployment Environment: App Service

## Issue Description
When sending a TypingActivity, the "typing" bubble does not dissapear when the actual message arrives. Its delayed by a few seconds, creating a "bouncing"-effect. This only seems to be a problem in messenger on IOS.

## Code Example
    // Send "typing" i

[2018-04-11 12:29] jschumann commented on #4397
@xjose97x Can you point us to some docs or code examples for how to do this in a chat service we don't control? All the docs I've seen about Direct Line talk about implementing it within your own chat service, not using it to communicate with a third party service.

[2018-04-11 12:57] wenrrymontanha commented on #3451
Hello guys, my problem is similar to this one, my bot is perfectly functional on MS Teams using azure enviroment..
i've conected the bot with the two powershell cmdlet and it's been created but its still offline (the presence unknown message is not shown!!!) its just OFFLINE, and when i try to talk to it just doesn't work....

MS app ID: a1743f7b-83db-4ce5-ae88-cda52c220be0
-----------------------

[2018-04-11 13:04] wenrrymontanha opened #4457 "[.Net SDK] Bot on SKYPE FOR BUSINESS is OFFLINE"
## Bot Info
* .net framework: 4.6.1
* Active Channels: MS Teams, web chat.
* Deployment Environment: Azure

Hello guys, my problem is similar to this one, my bot is perfectly functional on MS Teams using azure enviroment..
i've conected the bot with the two powershell cmdlet and it's been created but its still offline (the presence unknown message is not shown!!!) its just OFFLINE, and when i try

[2018-04-11 14:40] emimontesdeoca commented on #4445
**UPDATE: Could make it work using DirectLine**

The flow to make it work is:

1. Get token with directline secret
2. Create conversation and **get new token + conversationId**
3. Send activity to **conversationId**
4. Get converstaionId
5. Get latest of all activities

I'm still looking for the way to do it without DirectLine, **maybe as I said above, my api calls are wrong**.

[Directline reposi

[2018-04-11 15:52] xjose97x commented on #4397
@jschumann As far as I know, Google Hangouts allow subscribing to incoming messages through Webhooks: https://developers.google.com/hangouts/chat/how-tos/webhooks

That means, that if a user sends a message to your account, hangouts will do an HTTP call to whatever URL you set as webhook.
So you have to create a server which receives this webhook, and in that server with the Microsoft Bot Framewor

[2018-04-11 16:29] EricDahlvang commented on #4454
I see you are getting a "Type or namespace definition, or end of file expected" exception.  Please share the BasicLuisDialog.cs

[2018-04-11 16:29] gazambuja commented on #4450
If I remove the conversation object of address, and try to send a message, in my S4B I recibe a "Meet now" message. The bot create a new conversation. But how I can get the conversation ID to send a new message in this conversation?

[2018-04-11 17:31] chinchang commented on #4440
That is odd because when sending a message to a group/channel, there is no specific `user` that should be receiving the message.

[2018-04-11 17:46] John-Cerreta opened #4458 "[Node.js SDK, Slack] My bot sees messages in emulator, but doesn't see messages in Slack"
## Bot Info
* SDK Platform: Node.js
* SDK Version: v6.11.2
* Active Channels: Slack, Web Chat
* Deployment Environment: Bluemix

## Issue Description
I've been testing a bot to integrate into Slack. When I test it using the emulator, it gets the message and responds just like normal. When messaging it on Slack, however, it doesn't even see the message. Nothing is logged, it's as if nobody is messa

[2018-04-11 18:03] JasonSowers commented on #4456
I will look into this to see if there is something on our end causing this, but it sounds like an issue with the facebook IOS app and I highly encourage you to reach out to Facebook support as well.  On our side, the behavior of the typing indicator should not change when using different platforms.  As I said I will look into this to confirm.

[2018-04-11 18:08] rahulugee commented on #4442
@EricDahlvang  here is a small piece.
Whenever LUIS identifies intent as "Margin" this piece gets triggered

bot.dialog('MarginDialog',
    (session, args) => {
        loginIds(session.message.address.user.id).then(result => {
            console.log("Matched value is: "+ result); // execution flow #8
            if (result == true) {
                var intent = args.intent;
                clea

[2018-04-11 18:10] Andrea-Orimoto commented on #4400
@Irbis377, no, please got to the Azure Portal, look for your bot in App Services, open it, go to settings, and open Application Settings. You should add/modify BotEnv in there.
![image](https://user-images.githubusercontent.com/17152540/38634961-db998128-3d78-11e8-8856-183e5be9e83c.png)

![image](https://user-images.githubusercontent.com/17152540/38634990-eaa953d2-3d78-11e8-9428-929d6937b685.png)

[2018-04-11 18:16] JasonSowers commented on #4356
#4455

[2018-04-11 18:18] JasonSowers commented on #4455
Hi @MarkHirst we are currently investigating this issue with the skype team.  We are tracking this issue here #4356  please post and track the status there.  Some people have found luck recreating their bots, if this is an option for you please try that.  If it is not  an option we are looking for the cause and will update the other issue as we have more information.

[2018-04-11 18:18] #4455 closed

[2018-04-11 18:32] justinh00k commented on #4430
You are added!

1) It was a functions bot, and when that wasn't working I switched the endpoint to a new webapp. That worked for a time (without migration), then that stopped working too.
2) Nope!

[2018-04-11 18:56] rahulugee commented on #4442
One imp thing is that i am using table storage for saving variable values based on user input

bot.set('storage', tableStorage);

In most documents i am seeing storage as inmemory

bot.set('storage', inMemoryStorage);
Could this be a cause of my problem?..Or it is better to use table storage anyways

[2018-04-11 20:07] EricDahlvang commented on #4442
This looks like the issue is with the global variables.  Instead of having global_kpi and global_kpi_user_friendly why not use session.userData.kpi and session.userData.kpi_user_friendly?  Then, these values will be scoped to the user alone and will not be overwritten when another user interacts with the bot.

inMemoryStorage is a volatile method for handling state.  It will be cleared out wheneve

[2018-04-11 20:08] EricDahlvang commented on #4442
This documentation on managing state might help: https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-state

[2018-04-11 20:31] fanidamj commented on #4069
The Bot Framework Skype for Business Channel is in Developer Preview and does not support presence at the current time as mentioned [here](https://msdn.microsoft.com/en-us/skype/skype-for-business-bot-framework/docs/bot-common-errors). Hope this helps!!

[2018-04-11 20:31] #4069 closed

[2018-04-11 20:31] fanidamj commented on #4457
The Bot Framework Skype for Business Channel is in Developer Preview and does not support presence at the current time as mentioned [here](https://msdn.microsoft.com/en-us/skype/skype-for-business-bot-framework/docs/bot-common-errors). Hope this helps!!

[2018-04-11 21:13] EricDahlvang commented on #4451
Hi @bilby91

Are you using this library: https://www.npmjs.com/package/botbuilder-teams ?

Please share the code you are using to get "the channels of a team" and "getting members".  So we can reproduce the issue.

[2018-04-11 21:29] EricDahlvang commented on #4452
Please try upgrading the BotBuilder package to the latest: https://www.nuget.org/packages/Microsoft.Bot.Builder/

[code]
![image](https://user-images.githubusercontent.com/11055362/38644224-aee33b1c-3d94-11e8-9f1f-cb9be65e3413.png)
![image](https://user-images.githubusercontent.com/11055362/38644230-b39bbfb2-3d94-11e8-8493-0b9c1da86f5d.png)

[2018-04-11 21:37] EricDahlvang commented on #4227
@Fujihita If you are still experiencing a problem with migration, please open a new issue. https://github.com/Microsoft/BotBuilder/issues/new

Closing this, as Andrea-Orimioto is handling it via email.  Thanks Andrea!

[2018-04-11 21:45] justinh00k commented on #4430
Fixed andreo.
Fixed the password. (That was why it stopped working again!)
Patch ahoy. Thanks!

[2018-04-11 21:48] stevengum97 commented on #4383
Closing due to inactivity.

[2018-04-11 21:48] #4383 closed

[2018-04-11 21:52] EricDahlvang commented on #4430
Great!

Closing this issue.  Thanks @Andrea-Orimoto !!

[2018-04-11 21:54] #4446 closed

[2018-04-11 21:55] fanidamj commented on #4453
The code you are using is only used for the bot to handle events such as user joining a conversation, adding a bot to contacts list for the first time or when a bot is being removed from the conversation as mentioned [here](https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-handle-conversation-events).
Since the conversationUpdate and the contactRelationUpdate event are n

[2018-04-11 21:56] Andrea-Orimoto commented on #4430
That's great news. So here's what we're doing now:

1. we'll patch your AutoCompeteBot bot record, so that it becomes a registration bot
2. you run the migration, which we're confident will work. If it doesn't allow you to select an existing resource group, then let it create a new one, and then move the AutoCompete bot service to the autoCompeteBotGroup Resource Group
3. we delete the googlefeud2

[2018-04-11 22:00] Andrea-Orimoto commented on #4430
Ok, #1 is done. please proceed with #2 and let me know when done.

[2018-04-11 22:01] muebele commented on #4447
Replaced my configuration code with what you have in Global.Asax.cs and it's working again! Thanks so much for the help!

[2018-04-11 22:01] #4447 closed

[2018-04-11 22:06] EricDahlvang commented on #4279
Something you could try is to create a brand new web app bot, download the source, and compare the project and PostDeployScripts to the one that is not working.

[2018-04-11 22:12] Andrea-Orimoto commented on #4227
This is still open, we've put this on hold, but still looking at it. I'll follow up on this one.

[2018-04-11 22:15] EricDahlvang commented on #4358
Closing due to age and inactivity.  Please open a new issue if you are still having problems with prompt choice on startup.

[2018-04-11 22:15] #4358 closed

[2018-04-11 22:26] EricDahlvang commented on #4414
@fr6087  Is the above code a valid workaround for you?

[2018-04-11 22:30] EricDahlvang commented on #4420
@MohammedAbdulMateen  Do the links provided answer your question?

[2018-04-11 22:34] justinh00k commented on #4430
Hey, it works! (Feels so good to hit Migrate and have it succeed haha). Thanks so much for your assistance!!

[2018-04-11 22:35] EricDahlvang commented on #4419
@pyephyoeaung  Are you still experiencing this issue after upgrading to 3.14.1?

[2018-04-11 22:44] Andrea-Orimoto commented on #4430
yeah! it created a new Resource Group as I suspected. just move the autoCompeteBot Bot Service to the autoCompeteBotGroup Resource Group and you're set. We'll go ahead and delete the googlefeud2018 Bot Service (we'll do it, don't do it yourself).
btw, what is the AutoCompete2018 Bot Service? another test you were doing? If so, you might delete that one yourself.

[2018-04-11 22:57] EricDahlvang commented on #4392
@SwetalinaGitHub Correct.  Speech is now only supported on the card itself.

[2018-04-11 22:58] justinh00k commented on #4430
Yes that was another attempt. Just deleted most of it, but got this error:

And I swapped the resource group for the autoCompeteBot Bot Service too.

[2018-04-11 22:59] EricDahlvang commented on #3836
Closing this issue since it appears to be resolved.

[2018-04-11 22:59] #3836 closed

[2018-04-11 23:00] justinh00k commented on #4430
Could you tell me or show me how to find out which resources the new bot is using? There are tons of services in there (including adding Cosmos) I'm sure I don't need anymore.

[2018-04-11 23:04] Andrea-Orimoto commented on #4430
oh I see, you have put the googlefeud2018 webapp into that app service plan. I'd say, move the AutoCompete2018 app service plan into the autoCompeteBotGroup resource group, and then delete the AutoCompete2018 and autoCompeteBot resource groups (the latter was created by the migration).

I have deleted the googlefeud2018 bot service. once you do the above you should be set. I'll close this issue, l

[2018-04-11 23:04] #4430 closed

[2018-04-11 23:04] Andrea-Orimoto commented on #4430
oh, let me check your resources...

[2018-04-11 23:16] Andrea-Orimoto commented on #4430
these seem to be unused, but please double check.
AppInsights: autoCompeteBotyveu4q (not used by the bot)
Storage: autocompetebotyveu4q (not used by the bot)
App Service Plan: WestUSPlan (no apps in it)
App Service Plan: autoCompeteBot-farm (no apps in it)

[2018-04-11 23:32] justinh00k commented on #4430
:pray: Thanks, @Andrea-Orimoto.

[2018-04-11 23:43] nodeomega commented on #4268
Closing this issue as there has been no reply for an extended period.  If this issue persists, feel free to open a new support request.  Thank you.

[2018-04-11 23:43] #4268 closed

[2018-04-12 00:59] nodeomega commented on #4428
What you could try is this:  Try updating the Conversation container with this:

      Conversation.UpdateContainer(
                builder =>
                {
                    builder
                       .RegisterType<TextToSpeakActivityMapper>()
                       .AsImplementedInterfaces()
                       .SingleInstance();
                });

And use this class to map Text

[2018-04-12 05:09] padmavatierp commented on #4269
HI eric some thing wrong with my bot
can u pls contact me on skype?

On Wed, Apr 4, 2018 at 10:59 AM, Eric Dahlvang <notifications@github.com>
wrote:

[2018-04-12 06:15] SasankaSengupta commented on #4453
Thanks for the advice @fanidamj .
Ok, what I am doing is sending a link to users to join Skype. The first-run dialog or the conversationUpdate events will greet a user the first time user added bot contact to Skype. What I'm asking is whenever a user hits the link, and open-up skype, it will send a message to the User. Please let me know how to do this.

[2018-04-12 06:39] pyephyoeaung commented on #4419
sure @EricDahlvang
What kind of instance size do you recommended for production chat bot?

[2018-04-12 06:45] SasankaSengupta opened #4459 "Issue in bot.beginDialog() in contactRelationUpdate Event"
## Bot Info
* SDK Platform:  Node.js

* Active Channels: Skype
* Deployment Environment:  Azure Bot Service

## Issue Description
I'm using bot.beginDialog() in contactRelationUpdate() event to hit a dialog whenever a user added bot contact to Skype. It's not returning any response and throws an error of

**"ERROR: ChatConnector: startConversation - address is invalid.
Error: Invalid address."**

[2018-04-12 07:28] asfyra commented on #4415
After further researh, i think the only solution to translate the built-in form flow messages, is to follow the instructions from this [post](https://github.com/Microsoft/BotBuilder/issues/3082), for the Greek language.

[2018-04-12 07:28] #4415 closed

[2018-04-12 07:47] chinchang commented on #3160
Yes, still facing this issue.

[2018-04-12 07:47] schafferer commented on #4456
Ok, a little more research led to the conclusion this is a Messenger on IOS-bug, not BotBuilder. The problem persists even if there is a human typing the message. I have filed a bug report at Facebook.

[2018-04-12 07:47] #4456 closed

[2018-04-12 09:32] sajal2692 opened #4460 "[Node.js SDK] Prompts.attachment() does not proceed after receiving attachment"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.14.1
* Active Channels: Emulator, Webchat
* Deployment Environment: Azure App Service

## Issue Description
The attachment prompt does not proceed to the next step of the waterfall after receiving the attachment. In fact, I don't think it acknowledges the receipt of the message with the attachment. If I try to send it a text string, it does re-p

[2018-04-12 10:19] SasankaSengupta commented on #4459
I've fixed it . I found the solution. I replaced ' bot.beginDialog('showPromo');' with  bot.beginDialog(message.address,'showPromo');

[2018-04-12 10:19] #4459 closed

[2018-04-12 10:47] fms-santos commented on #4460
Hey, I was able to do it on the Emulator Channel...

Just a quick note that when you send an attachment the _results_ variable is a JSON object like:
[code]
So you should access the attachment via ` results.response[0] `

Here's my code snippet:

[code]
And the result:
![screenshot](https://user-images.githubusercontent.com/16543301/38672480-467fcd12-3e46-11e8-8411-a87303b451b8.png)

Hope it helps

[2018-04-12 11:01] sajal2692 commented on #4460
Hey, thanks for the response.

This didn't help. I did change my code to access the attachment directly as results.response[0], but I guess the waterfall must first move to the next step, which isn't happening for me.

[2018-04-12 11:06] gjadhav-saviant opened #4461 "Image is replaced with URL when I send MMS via Twilio channel in Bot Framework nodejs"
## Bot Info
* SDK Platform:  Node.js
* SDK Version: 3.11.0
* Active Channels: SMS (Twilio)
* Deployment Environment:  Azure Bot Service

## Issue Description
I am configuring a Twilio channel for BOt. I want to send MMS using this Bot to user. But Image which is attached in Bot framework, is replaced with a URL . Here is How I'm sending the MMS.

## Code Example
fs.readFile(attachmentUrl, function

[2018-04-12 11:27] sajal2692 commented on #4460
Alright. I did some trial and error debugging, and got this to work, with caveats.

I was using a recognizerSet (with a LUIS and a QnA recognizer). I removed the QnA Recognizer, and the image attachments started being routed to their correct places. So I guess, the question/error now is how to get attachment uploads to work correctly with we're using multiple (LUIS and QnA) recognizers ?

[2018-04-12 11:38] fms-santos commented on #4460
You can use onEnabled(). Check this out. Should work just fine. I use it for my prompts. https://stackoverflow.com/questions/45821334/luis-intent-to-identify-attachment?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

[2018-04-12 11:45] kpranay commented on #4069
Thanks for the response @fanidamj .

[2018-04-12 12:02] wenrrymontanha commented on #4457
but then i cannot talk to it ?

[2018-04-12 12:12] maba4891 commented on #4227
I have the same problem as @bpleao, sent an email to @Andrea-Orimoto with the details.

[2018-04-12 13:32] sajal2692 commented on #4460
Yeah I thought of using the onEnabled() function. But it doesn't work for the QnA Maker recognizer. (As, I guess, it's different from a botbuilder recognizer).

[2018-04-12 15:53] hpksp commented on #4409
@EricDahlvang Hi, any updates on this? :)

[2018-04-12 16:31] JasonSowers commented on #4461
Closing as duplicate of https://stackoverflow.com/questions/49794645/image-is-replaced-with-url-when-i-send-mms-via-twilio-channel-in-bot-framework-n

[2018-04-12 16:31] #4461 closed

[2018-04-12 16:44] JasonSowers commented on #4456
Thanks for the update, good luck!

[2018-04-12 17:05] McGern commented on #2704
I'm having the exact same issue. Trying to add Directline channel in Azure from a "Bots Channel Registration", I press the done button and nothing is happening. Tried in chrome and IE

Getting this error message in the console when selecting "add featured channel" for directline

[code]

[2018-04-12 17:50] fanidamj commented on #4457
Apologies for misunderstanding the question. The bot should respond though it doesn't show the presence or shows offline. I'll forward the issue to Skype for Business team for further investigation. Have you tried [debugging locally](https://blog.botframework.com/2017/10/19/debug-channel-locally-using-ngrok/)? What is your bot's messaging endpoint?

[2018-04-12 17:51] julia-chursova opened #4463 "Error message 'ajaxExtended call failed' on creating bot on Azure portal"
## Bot Info
* SDK Platform:
* SDK Version:
* Active Channels:
* Deployment Environment:

## Issue Description

## Code Example

## Reproduction Steps
1.
2.
3.

## Expected Behavior

## Actual Results

[2018-04-12 17:51] #4463 closed

[2018-04-12 17:57] julia-chursova opened #4464 "[.Net SDK, Azure Bot Service] Error message 'ajaxExtended call failed' on creating bot on Azure portal"
## Bot Info
* SDK Platform: .NET
* SDK Version:
* Active Channels:
* Deployment Environment: Azure Bot Service

## Issue Description
When I'm trying to create new Web Bot with Proactive C# template I keep getting 'ajaxExtended call failed' error

## Code Example

## Reproduction Steps
1. Click 'create new resource' on Azure portal
2. Choose Web Bot
3. Fill all required fields with template as 'Pro

[2018-04-12 17:58] julia-chursova commented on #4464
![untitled](https://user-images.githubusercontent.com/5188548/38695182-962bd2a6-3e9c-11e8-9cdf-42b964e3f96c.png)

[2018-04-12 18:01] #4420 closed

[2018-04-12 18:08] Andrea-Orimoto commented on #4227
@Fujihita still having problems? if yes, please create a new issue and provide information about your bot.

[2018-04-12 19:53] EricDahlvang commented on #4409
There is in fact a limit on the number of web socket connections allowed.  You'll need to write some code to gracefully handle the connection attempt failure.  You could fallback to polling if the socket connection fails.

[2018-04-12 20:18] stevengum97 commented on #4460
@sajal2692 I haven't tried this yet, but on the [`IntentRecognizerSet`](https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.intentrecognizerset.html) class, it's possible to call the [`onEnabled()`](https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.intentrecognizerset.html#onenabled) method. This would of course disable all th

[2018-04-13 01:13] nodeomega commented on #4387
I'm still investigating this issue, and have found that it's not just WebChat that has the error.  I tested this with a console app using DirectLine, and had the same problem occur with the repeat on the first set oif prompts, so this appears to be related to DirectLine itself.

I am continuing to troubleshoot and will advise as soon as I have a solution.

[2018-04-13 02:06] andyroz commented on #4282
I am also seeing this issue. Android has the only version of MS Teams with an 'Attach' (paperclip) button when talking to a bot, but it doesn't work. The post comes through with attachments=0.

[2018-04-13 02:06] EricDahlvang commented on #4387
This is a known issue.  ConversationUpdate does not send enough information to construct the data bags, and as a result the dialog state is not persisted.  Please refer to the answer here for a workaround: https://github.com/Microsoft/BotBuilder/issues/4245

[2018-04-13 03:12] hpksp commented on #4409
@EricDahlvang Thanks for getting back quickly. Do you have any info on the number of max connections? Coz 4 seems to be quite limited. Also, it would be a nice feature to include an option in DirectLineJs to fallback to polling if reached max websocket conns so the library handles that automatically for the developer.

[2018-04-13 06:11] andyroz opened #4466 "MS Teams attachments fail for Bots."
## Bot Info
* SDK Platform: .NET
* SDK Version: 4.7.1
* Bot Framework 3.14.1.1
* Active Channels: MS Teams, Test Chat
* Deployment Environment: Azure Bot Service/Azure App Service

## Issue Description
No attachments from MS Teams to our Bot come through correctly.
* Attached file messages (images/pdf/dc/xls) on Android MS Teams come through with zero attachments
* Attached file messages (images)

[2018-04-13 06:58] sajal2692 commented on #4460
@stevengum97 Using onEnabled() on the recognizerSet fixed the issue. I think it's okay for my case as I don't want messages with attachments being routed to a recognizer anyways.

Thanks for the help @stevengum97 !

[2018-04-13 11:14] gopal300 opened #4467 "[.Net SDK, LUIS] Multilingual Chatbot."
I have created the Multilingual chatbot using LUIS (where i trained it in Spanish) and Microsoft Translate API. For most of the part it´s working fine but the problem is everytime i insert E-mail address it converts it takes English as the default user language while i would like to proceed in language other than English. Another thing is there isn´t much resources which explains how to use transl

[2018-04-13 12:37] wenrrymontanha commented on #4457
The bot is working in MSTeams already. It's messaging end point is: https://arbitsensorbot.azurewebsites.net/api/messages

[2018-04-13 12:54] waleedabuyahia opened #4468 "Masking sensitive user data"
* SDK Platform: .Net
* SDK Version: Latest
* Active Channels: Facebook, Webchat
* Deployment Environment: Azure

I have a chat bot where the user will input some sensitive data, I would like to mask the user input, like account number, bank credit card number, pin, etc...

[2018-04-13 13:50] StephenKWalsh opened #4469 "Unable to create Slack channel for example bot"
## Bot Info
* SDK Platform: .Net
* SDK Version: latest
* Active Channels: Web Chat
* Deployment Environment: Azure Bot Service

## Issue Description
I created the example bot, and tested it in Web Chat. I am trying to connect it to Slack, so I have followed the Slack bot instructions, then have entered the Slack credentials on the Configure Slack channel, when I click 'Save' the credentials 1) ope

[2018-04-13 13:53] maba4891 opened #4470 "[Node.js, Azure Bot Service] Error 500 when trying to migrate bot"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.14.1
* Active Channels: Facebook, Website
* Deployment Environment: Azure Bot Service

I am having a similar as described by @bpleao in #4227. As requested @Andrea-Orimoto via email I am opening a new issue for this to make it easier to track :)

We are running a chatbot on Azure using Node.js. I have tried to migrate the bot a couple of times a

[2018-04-13 13:57] maba4891 commented on #4470
Since this is a Node.js bot I have followed the advice from https://docs.microsoft.com/en-us/azure/bot-service/bot-service-migrate-bot and used Azure Functions Pack to package the Node.js modules together.

On my local machine I ran:
[code]
After that I saw a new `.funcpack` directory with a ~7 Mbyte index.js file. I synced the changes via Dropbox to Azure and also deleted the node_modules folder

[2018-04-13 14:26] QiiLin opened #4471 "Open in the wrong github, can some close/delete this post, thank you"

[2018-04-13 14:56] #4458 closed

[2018-04-13 15:19] #4471 closed

[2018-04-13 15:56] stevengum97 commented on #4460
Glad to hear it!

[2018-04-13 15:56] #4460 closed

[2018-04-13 16:01] JasonSowers commented on #4467
Are you using the .NET or Node SDK?

[2018-04-13 16:38] fanidamj commented on #4453
@SasankaSengupta Have you tried using session.userData?

[2018-04-13 17:51] nodeomega commented on #4450
@gazambuja You mean the conversation ID of the new "Meet Now" message, correct?

[2018-04-13 17:56] rcasto commented on #4452
Hey Eric, thanks for getting back on this!  Haven't had a chance to update all of our Bot.Builder packages yet, but will do and see if that resolves it.  Looks like it should as you point out above.

[2018-04-13 18:05] stevkan commented on #4469
@StephenKWalsh Can you tell me what browser you are using? I came across this same issue yesterday while in Edge. I switched to Chrome for this one task and it worked with no issues.

[2018-04-13 18:31] nodeomega commented on #4466
Are you sending attachments to the bot within a group channel, or one-on-one?

[2018-04-13 18:43] StephenKWalsh commented on #4469
@stevkan Yes, I was working in Edge. I'll try it with Chrome tomorrow - definitely not the answer I was expecting!

[2018-04-13 18:45] gazambuja commented on #4450
@nodeomega yea, exactly.

[2018-04-13 20:44] mgbennet commented on #4407
Current status of this bug is that certain languages will cause the channels page to throw a reference error. So far the only languages I've found that cause this are French, Polish, and both types of Portuguese. I will investigate further into why only these languages and update further.

[2018-04-13 21:30] mgbennet commented on #4407
Current status of this bug is that certain languages will cause the channels page to throw a reference error. So far the only languages I've found that cause this are French, Polish, and both types of Portuguese. I've figured out what's causing this and will have a fix soon, though I'm not sure when it will be deployed.

[2018-04-13 22:59] nodeomega commented on #4282
@andyroz And that's in a one-on-one chat?  Or group?

@schmollycule I'm still investigating this issue, as info.  I do not have a solution as of yet.

[2018-04-13 23:44] EricDahlvang commented on #4468
Hi @waleedabuyahia

The bot builder sdk does not contain client side rendered controls.  In order to have a masking control client side, you would need to work with the client library itself.

[2018-04-13 23:44] JasonSowers commented on #4404
I have been informed that this should now be fully working as per the Skype team.  Can you confirm it is now working?

[2018-04-14 00:01] smartchatco commented on #4404
Yes it is @JasonSowers  thanks so much.

[2018-04-14 00:01] #4404 closed

[2018-04-14 10:00] VanjuliK commented on #250
Hi all, i want to display a greet message when user clicks on the bot in Skype For Business but it seems SfB interprets "ConversationUpdate" event of Microsoft Bot Framework differently. No message is displayed until user sends a message first. Is there any way that Bot responds first as it's crucial for our project.

[2018-04-14 10:26] VanjuliK opened #4472 "[Skype For Business] Greet Message In Skype For Business"
Bot Info
* SDK Platform: .NET
* Bot Builder Version: 3.14.1.1
* Active Channels: Skype For Business
* Deployment Environment: Azure Bot Service, Azure App Service

Issue Description
Hi , I want to display a welcome message in SfB but as SfB interprets "ConversationUpdate" event differently the greet message is only displayed after user sends first message.I want the bot to initiate the conversatio

[2018-04-14 10:29] StephenKWalsh commented on #4469
@stevkan No problems doing exactly the same thing in Chrome. Many thanks for pointing me in the right direction on that one. Now remind me how I get those 2 wasted days back.

[2018-04-14 14:52] bilby91 commented on #4451
@EricDahlvang We are using the botbuilder-teams library. Either way it seems to be working now.

Thanks

[2018-04-14 14:52] #4451 closed

[2018-04-14 19:50] rajaramcomputers commented on #3877
Why this issue is closed

[2018-04-15 02:53] teamplumaa opened #4473 "[LUIS] Unable to log into Luis Dashboard"
I am unable to log into the Luis.ai dashboard. I am getting an error at this link

https://api.luis.ai/webapi/v2.0/auth/signin?redirect=https://api.luis.ai/Identity/SignIn

[2018-04-15 14:22] VanjuliK opened #4474 "[Skype For Business] User Device Type Detection Via SfB Bot"
Bot Info
* SDK Platform: .NET
*Bot Builder Version: 3.14.1.1
*Active Channels: Skype For Business
*Deployment Environment: Azure Bot Service, Azure App Service

Issue Description
I need to know about the options to detect the user device (Device type and OS) accessing the Skype For Business Bot. I need to know whether user device is desktop or mobile. In bot framework the User-Agent header formatt

[2018-04-15 18:50] easkerov commented on #4218
@nodeomega I am using Telegram 3.8.2.119501 on macOS (High Sierra) and Telegram X on Android. I will try to check on Windows desktop client.

[2018-04-15 23:55] andyroz commented on #4466
hi @nodeomega . This is a one-on-one conversation with the bot.

[2018-04-16 00:00] stevkan commented on #4469
@StephenKWalsh Glad it worked out for you.

[2018-04-16 00:00] #4469 closed

[2018-04-16 04:24] fanidamj commented on #4464
We are looking into this issue and will get back to you soon.

[2018-04-16 05:25] sourabhlodha commented on #4421
@nodeomega Any Updates Team.

[2018-04-16 05:31] SwetalinaGitHub opened #4475 "Cortana Mike not enabled after Clicking on Adaptive Card Action Button"
## Bot Info
* SDK Platform: .NET
* SDK Version: Adaptive Cards 1.0.0.0
* Active Channels: Cortana
* Deployment Environment: Azure Bot Service, Azure App Service, Cortana

## Issue Description
Mike is appearing disabled in Cortana for Android if we click on Adaptive card submit action button. It appears enabled only if we speak the button text to move to the next step.

## Code Example
[code]
## Re

[2018-04-16 05:51] DH-Yaroslav commented on #4043
I have the same problem, I can’t change a bot endpoint actually. I found that Web App Bot send a OPTIONS request to new endpoint after I have changed endpoint. Add to your bot controller a handler for the OPTIONS request like this:

[code]
And your server must run and be available from internet, when you change endpoint (like with Facebook bot).

[2018-04-16 07:11] fr6087 commented on #4414
@EricDahlvang I don't think that is going to solve the problem. I have already added this code snippet from Jadib to my bot earlier. By the way, I think that code sample has a spelling mistake, at least my bot code is only finding "TextToSpeechActivityMapper". Also, I am using a modified version of the code as follows (maybe related to the problem)
``

[2018-04-16 07:27] tsuwandy commented on #4473
Is this issue still happening for you?

[2018-04-16 08:53] AkshayKanchan commented on #3281
I am facing same issue for my bot (AppID: 2bd48edc-0592-4c7c-ac08-64416f66212c). am not even receiving a request from Skype while trying bot on skype (not published yet).

[2018-04-16 10:48] SATACHAKRA opened #4476 "[.NET SDK] Code not working in deployment mode"
## Bot Info
* SDK Platform:  .NET
* Active Channels: Direct Line
* Deployment Environment: < Azure App Service and local development with Emulator >

## Issue Description:
Our bot is continously deployed via a bitbucket repo..it was working great until last friday..then we had to change some luis keys. after updating and syncing the latest code our bot is just not replying anything. The code works

[2018-04-16 10:52] SenseVision opened #4477 "[.Net SDK, state service] Doesn't save state"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.14.1.1
* Active Channels: Doesn't matter
* Deployment Environment: Azure Tables
*Microsoft.Bot.Builder.Azure : 3.2.5
*WindowsAzure.Storage : 8.7 didn't upgrade to 9+  , because of https://github.com/Microsoft/BotBuilder-Azure/issues/58
## Issue Description
It started about 2 weeks ago .

Bot doesn't save it's current state \ deserialize the previou

[2018-04-16 10:57] Irbis377 commented on #4400
@Andrea-Orimoto
i have no this area
![11212](https://user-images.githubusercontent.com/24790338/38805316-0f1c6188-417e-11e8-846b-bdc868021ad4.png)

i have only this
![bot](https://user-images.githubusercontent.com/24790338/38805235-cba9a49c-417d-11e8-9570-ccf948be7984.png)

how i can create it?

[2018-04-16 11:05] Irbis377 commented on #4400
Hi @Andrea-Orimoto

i have no this area
![11212](https://user-images.githubusercontent.com/24790338/38805464-939559a6-417e-11e8-9ba1-54f8adfc1c95.png)

i have only this and i set BotEnv = prod like you said
![bot](https://user-images.githubusercontent.com/24790338/38805609-11e49164-417f-11e8-82ca-fc24f27da0e5.png)

but i still have error 400

[2018-04-16 11:06] gopal300 commented on #4467
I am using .NET.

[2018-04-16 11:38] AkshayKanchan opened #4478 "Bot won't respond on Skype but works perfectly on webchat"
Bot Info
* SDK Platform: Node.js
* SDK Version: 3.13.1
* Active Channels: Skype, WebChat
* Deployment Environment: Azure Bot Service
* AppID: 2bd48edc-0592-4c7c-ac08-64416f66212c

Chatbot works on webChat as expected but won't respond on Skype channel, I have tried debugging the issue and learned that there's no request received by my bot but if I try with webchat everything works perfectly as exp

[2018-04-16 11:51] wenrrymontanha commented on #4457
Looking foward to your answer!

[2018-04-16 12:00] teamplumaa commented on #4473
yes it is.

The error im getting is as follows:

<configuration>
    <system.web>
        <customErrors mode="Off"/>
    </system.web>
</configuration>

[2018-04-16 12:01] teamplumaa commented on #4473
<configuration>
    <system.web>
        <customErrors mode="Off"/>
    </system.web>
</configuration>

[2018-04-16 13:12] gcatanese commented on #728
I have hit the same problem, URL is https://smba.trafficmanager.net/apis/v3/conversations/, what I receive back is ResourceResponse[id:8:USERNAME]

[2018-04-16 13:20] yaninah opened #4479 "[Feature Request] Can't get topicName when the bot is added to the group"
## Bot Info
* SDK Platform:  REST
* SDK Version:
* Active Channels: Skype
* Deployment Environment: local development + Bot Channels Registration
## Issue Description
When the bot is added to the group the topicName doesn't come in the request. But when the topicName changes while the bot is already in the group there's a topicName. Is there any way to get topic name when the bot is just added to

[2018-04-16 16:42] fanidamj commented on #4473
Can you please share .HAR file from the chrome developer console and the Email Id with which you are trying to login to **luisuservoice@microsoft.com** so that we can investigate further.

[2018-04-16 16:59] ShadeyCN opened #4480 "[Skype] bot is in review but in my bot it's necessary to make LOGIN"
We've developed a bot that is connected to an API, and that in turn requires a login, which we've called Hand Shake.
The bot has already been several days in review (5 days), I've corrected all the observations that Skype have given me and yet I still have no answer.
Shoul I wait much longer? Or do you think it's due to the Hand Shake?

AppId= 590a8009-4b90-4947-bcd1-a9b27ab3197a

[2018-04-16 17:34] cahann commented on #4473
+Congyong can you please look into this issue

From: Jyo Fanidam <notifications@github.com>
Sent: Monday, April 16, 2018 6:45 PM
To: Microsoft/BotBuilder <BotBuilder@noreply.github.com>
Cc: Carol Hanna <cahann@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [Microsoft/BotBuilder] [LUIS] Unable to log into Luis Dashboard (#4473)

Can you please share .HAR file from the chrome develo

[2018-04-16 17:55] stevengum97 commented on #4476
Can you copy-paste the section of the code where you use the license keys in the code? Are you plain-text adding the keys to your bot or are you using environmental variables? If the latter, did you update the environment variables in Azure App Service?

[2018-04-16 17:58] #4136 closed

[2018-04-16 18:24] GladysEsther commented on #4130
Exception : Microsoft.Bot.Schema.BotTimeoutException
Exception Message :  POST to <botname> timed out after 15s
Exception Group : Microsoft.Bot.Schema.BotTimeoutException at Microsoft.Bot.ChannelConnector.BotAPI+<PostActivityToBotAsync>d__29.MoveNext

During this error mail did not get picked up by the bot, any idea why this timeout happens ?

[2018-04-16 18:42] nodeomega commented on #4478
Do you have a code sample available to share?  That should help us narrow down where the issue lies.

[2018-04-16 19:43] EricDahlvang commented on #4419
@pyephyoeaung Because we have no way of knowing what your bot is actually doing when a message is processed, we cannot make an instance size recommendation.  You will need to experiment with different instance sizes and possibly also scale sideways to multiple nodes in order to handle the load.

[2018-04-16 20:31] EricDahlvang commented on #3281
@AkshayKanchan Sometimes Skype doesn't propagate the settings.  This can usually be remedied by changing the messaging endpoint and saving, then changing it back.

[2018-04-16 20:31] nodeomega commented on #4218
@easkerov Telegram on MacOS does have a couple issues that we are aware of, and that I have made the Telegram team aware of as well [(such as repeating prompt choices).](https://github.com/overtake/TelegramSwift/issues/135)  I'm still awaiting feedback from the Telegram team on the issue request I have opened with them a few weeks ago.

Using another version of Telegram such as Windows desktop is

[2018-04-16 21:02] JasonSowers commented on #4472
In Skype for business, check for the `ContactRelationUpdate` activity type.  This will only fire when someone adds the bot for the first time.  I have no idea why S4B set up things this way, but the conversation update ActivityType is not sent.

[2018-04-16 21:04] JasonSowers commented on #4477
Please share your code, this will be next to impossible to diagnose without your code.

[2018-04-16 21:13] Andrea-Orimoto commented on #4400
Awesome! glad you figured it out. Closing this issue.

[2018-04-16 21:13] #4400 closed

[2018-04-16 23:49] Andrea-Orimoto commented on #4227
@bpleao, I finally found the issue(s). The solution first:

1.  First of all, use [FuncPack](https://github.com/Azure/azure-functions-pack) to pack your code and node_modules. This is highly recommended for Node.js bots running on functions, as noted in our [migration doc](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-migrate-bot).
1.a before packing, change module.exports = { def

[2018-04-16 23:54] Andrea-Orimoto commented on #4395
hi @edanilenko34, we think we have found the issue, if you want the long explanation please check this related issue #4227.

The short version is:
1. Use FuncPack
2. Use an App Service name you never used before when you migrate (e.g. instead of vlgtrans-upgrade, use vlgtrans-upgrade1)

Let me know if you have any questions.
Andrea

[2018-04-16 23:58] Andrea-Orimoto commented on #4470
hi @maba4891 , we think we have found the issue, if you want the long explanation please check this related issue #4227.

The short version is:
1. Use FuncPack before migrating
2. Use an App Service name you never used before when you migrate (e.g. instead of ratisbot2-upgrade, use ratisbod2-upgrade1)

Let me know if you have any questions.
Andrea

[2018-04-17 01:16] nodeomega commented on #4421
As far as I know, one would have to use the botbuilder-calling NPM package to use speech in Skype.  I am still investigating this issue and do not have a definite solution at this time.

[2018-04-17 01:30] AlmogCohen commented on #2874
LOL :) It would be wonderful to see the actual HTML support coming in...
For me it is a big minus for the platform as messages formatting always
look awful.

On Mon, Apr 16, 2018 at 1:24 PM, Alexander Borisenko <
notifications@github.com> wrote:

--

Almog Cohen

<https://htmlsig.com/signatures/01ADE8F6/edit>

[image: Linkedin] <http://linkedin.com/in/almogcohen>
*US: (415) 413-6714*

[2018-04-17 05:12] annevah commented on #4397
I was able to integrate my chatbot to hangouts but there is a significant delay in passing the message. Would love to have a hangouts channel !

[2018-04-17 06:46] SasankaSengupta commented on #4453
Hi @fanidamj ,  session.userData only works with **'first-run dialog'** , that is only firing when someone adding my skype bot in their group chat. I want my skype bot to send message as soon as the user clicking the link and open up skype bot. And that functionality only working when **conversationUpdate** event is fired. Is there anyway to do it?

[2018-04-17 07:16] metgens opened #4481 "[Azure Bot Service] Empty channels page"
## Bot Info
* SDK Platform: .NET
* SDK Version: not important
* Active Channels: none because of error
* Deployment Environment: Azure Bot Service

## Issue Description
When I click on **Channels** button under **Bot Management** I got empty page, no buttons, no text.. nothing, just empty white page. So I cannot add new channels to my bot service. I tried on **Chrome, Edge** browsers. I have bot a

[2018-04-17 08:29] varunreddycs opened #4482 "Best Practices to Deploy onprem SFB"
## Bot Info
* SDK Platform: .NET
* SDK Version: not important
* Active Channels: not important
* Deployment Environment: Azure Bot Service +may be need few suggestions here

## Issue Description
What are the best practices to deploy the the Bot on premise SFB.

[2018-04-17 08:57] KailashSwain commented on #2840
i ma getting issue only in my office network for Luis but it is working fine in home network. i am getting error message as "Sorry, my bot code is having an issue." on Bot Emulator. Also i can see the error message as below on Visual Studio 2017
iisexpress.exe Warning: 0 : Service url localhost:4637 is not trusted and JwtToken cannot be sent to it.
iisexpress.exe Warning: 0 : Service url localhost

[2018-04-17 09:10] pedrosancheznaranjo commented on #4255
Hi @xjose97x,

Can you explain this implementation with mor details? Where do we must to indicate our direct line secret? and, Do we need to deploy this nodejs solution in order to test it?

[2018-04-17 09:35] seca23 commented on #2728
Any feedback on this feature request?

[2018-04-17 10:36] AkshayKanchan commented on #3281
@EricDahlvang, Is there any permanent solution for this? do we really have to change the endpoint everytime it stops working on skype?

[2018-04-17 10:38] SATACHAKRA commented on #4476
`<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>

    <add key="MicrosoftAppId" value="XXXXXXXXXXXXXXXXXXXXXXXXXX" />
    <add key="MicrosoftAppPassword" value="XXXXXXXXXXXXXXXXXXXX" />
    <add key="MicrosoftSpeechApiKey" value="XXXXXXXXXXXXXXXXXXXXXXX" />
    <add key="LuisAppId" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" />
    <add key="LuisAPIKey" value="XXXXXXXXXXXXXXXX

[2018-04-17 10:44] AkshayKanchan commented on #4478
`bot.use({
    botbuilder: (session, next) => {
        session.sendTyping();
        console.log(session.message);
        next();
    },
    send: (event, next) => {
        console.log(event);
        next();
    }
})`

Let me know if any specific block of code required.

[2018-04-17 11:00] gopal300 commented on #4467
Any solution or the suggestion for the issue ?

[2018-04-17 11:02] zixia opened #4483 "use `error` callback to replace `() => next()` as the error callback for middleware of the UniversalBot"
Today when I reading the source code of `UniversalBot`, I notice that the following code:

[code]

is using `() => next` as the `error` parameter of `tryCache()`.

The detail source is at here:

https://github.com/Microsoft/BotBuilder/blob/dcc21d6e1976590592ff0fe9e67b936b579f863a/Node/core/src/bots/UniversalBot.ts#L554-L564

According the `tryCache` function declaration:

https://github.com/Micros

[2018-04-17 11:38] SenseVision commented on #4477
@JasonSowers added as collaborator to the copy of repository

Also today we have tried to downgrade BF to 3.12.4(stable version we used before 3.13.1) right now 30+ full conversations(25-40 interactions) , no bug

[2018-04-17 12:26] emimontesdeoca commented on #4445
Going to close this issue since I was able to do it using Direct Line, thanks for your work both @EricDahlvang and @JasonSowers!

[2018-04-17 12:26] #4445 closed

[2018-04-17 12:36] VanjuliK commented on #4472
I have tried "ContactRelationUpdate" as well. For testing purpose i implemented tracing and logging in database and wrote the code to display welcome message on "ContactRelationUpdate" activity type as well, what i figured out is **this activity is not fired in S4B as no trace is logged in database** on adding bot to my contacts. This is not working for me in S4B , while it works fine in Skype as

[2018-04-17 12:40] emimontesdeoca opened #4485 "[Skype, API REST] Is there any way to get activities in conversations like in DirectLine?"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.14.1.1
* Active Channels: Skype, DirectLine, webchat
* Deployment Environment: local

## Issue Description

I am trying to get the information from the conversation just like I did with DirectLine.

But instead of directline I am using this endpoint: `https://skype.botframework.com`, and when I am doing the **GET** to `https://skype.botframework.co

[2018-04-17 13:43] SATACHAKRA commented on #4476
As of now all our bots that are configured for continous deployment via BitBucket are not working...none of them. I completely confused as to what went wrong..someone plz help

[2018-04-17 14:34] emimontesdeoca commented on #4485
I've been reading documentation and might have found something useful, but still can't make it work, in [this documentation](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-state) it talks abous states, which seem to have the conversation information.

Making a **`GET`** to **`/v3/botstate/{channelId}/conversations/{conversationId}`** seems to return conversation inf

[2018-04-17 14:39] Jatin-Chandarana opened #4486 "There was an error sending this message to your bot: HTTP status code Unauthorized"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.0.0
* Active Channels: Direct Line and Web Chat
* Deployment Environment:  I have deployed Bot to local IIS and register Direct line channel bot Service in Azure

## Issue Description
I am new to Bot framework, we want to host bot to our servers and register direct line channel to communicate it.  So i have created new bot application, when i teste

[2018-04-17 15:07] maba4891 commented on #4470
Thanks for trying to figure it our, unfortunately this didn't fix the issue for me.
1. I changed module.exports = { default: connector.listen() } to module.exports = connector.listen(); in index.js
2. I ran` funcpack pack ./`
3. I uploaded the revised files to Azure (I use Dropbox sync)
4. I clicked "MIGRATE THIS BOT" and changed a name I never used before when attempting to migrate
5. The same th

[2018-04-17 15:41] psbds opened #4487 "[LUIS] Problems in Datetimev2 Pre-Built in Portuguese-Brazil"
## Issue Description

I'm having some problems with the datetimeV2 prebuilt entities in Portuguese-Brazil language

If I type:
```"qual a produção em 2018" (what is the production in 2018)```

It doesn't return any datetimeV2 entities, but if I say:
```"em 2018, qual a produção" (in 2018, what is the production)```

It gets the entity right.

The same case occurs in:
```"qual a produção na semana

[2018-04-17 16:18] #4481 closed, assigned to nobody

[2018-04-17 16:43] Andrea-Orimoto commented on #4470
Hi @maba4891 , bummer, sorry about that. Would it be possible for you to temporarily give me access to your subscription? andreo(at)microsoft.com I'd like to get to the bottom of this issue.

[2018-04-17 17:43] stevengum97 commented on #4476
Are these migration bots or are these new bots?

[2018-04-17 17:43] JasonSowers commented on #4474
Unfortunately, the Bot Framework Support engineers do not have an S4B tenant to test this and figure out a solution to help you.  S4B is expected to handle S4B support questions but, I have not seen them active on this forum in a while.  I would suggest asking this question on Stack Overflow with the Skype for Business tag and possibly posting on their [uservoice](https://www.skypefeedback.com/).

[2018-04-17 17:55] stevkan commented on #4480
Hi @ShadeyCN,

I'm reaching out to the Skype team and will post a response when I know more.

[2018-04-17 18:13] EricDahlvang commented on #4414
Using this .json file:

[code]
With this global.asax.cs:

[code]

Results in:
![cortanabefore](https://user-images.githubusercontent.com/11055362/38888369-44cb0d22-4230-11e8-84e9-57c8f188e5f2.gif)

[2018-04-17 19:32] ShadeyCN commented on #4480
Hi @stevkan
Thanks for answering.
We've received this from Skype, our bot has been rejected! However, the reason they give us is the following:
![img_17042018_142220_0](https://user-images.githubusercontent.com/38435039/38892053-c93c94fc-424b-11e8-94b8-02879664a653.png)

On our side is working correctly, you can verify that the bot does respond with these accesses:
LastName : TestSkype
Token: 9d82

[2018-04-17 19:37] EricDahlvang commented on #4475
Thank you for reporting this.  It appears to be a bug in Cortana on Android.  I will notify the Cortana team.

[2018-04-17 19:52] stevkan commented on #4483
Hi @zixia, I'm looking this over and will get back to you. Thanks.

[2018-04-17 20:12] stevkan commented on #4480
Hi @ShadeyCN,

What kind of response should be expected upon input? As you can see in the see below image, the bot isn't responding to input, at all.

![unresponsive](https://user-images.githubusercontent.com/18403946/38893829-5a09f206-4240-11e8-8bc3-02e0692733f8.jpg)

[2018-04-17 20:16] EricDahlvang commented on #4486
Is the MicrosoftAppId and MicrosoftAppPassword in the web.config file?

[code]

[2018-04-17 20:30] JasonSowers commented on #4479
I will have to double check, but I do not think that data is provided until it is set with the bot in the conversation.

[2018-04-17 20:40] nodeomega commented on #4449
Closing this issue as there has been no reply for an extended period.  If this issue persists, feel free to open a new support request.  Thank you.

[2018-04-17 20:40] #4449 closed

[2018-04-17 21:03] ShadeyCN commented on #4480
Hi @JasonSowers

I see in your screenshot that you use Skype from Windows 10, I decided to try it on that and I saw that it does not work either, I use desktop Skype and skype for mobile and everything is fine there.

**What do you think that is the reason of the trouble?**

**This is the respond that should show**
![captura](https://user-images.githubusercontent.com/38435039/38896601-be961156-425

[2018-04-17 21:09] JasonSowers commented on #4485
The documentation you are referencing deals with state data.  This is the `userData`, `conversationData`, and `privateConversationData` databags.  It is not the conversation history.  The reason you are able to do this with Directline is that conversations are cached for 24 hours.  If you want to the conversation history  you are going to need to store and retieve it somehow.  I'm a little confuse

[2018-04-17 21:29] nodeomega commented on #4387
@easkerov, did @EricDahlvang's suggestion [(#4245)](https://github.com/Microsoft/BotBuilder/issues/4245) help in resolving your issue?

[2018-04-17 21:43] fanidamj commented on #4467
Can you please share the code related to it so that we can reproduce the issue.

[2018-04-17 22:03] oflahero commented on #4477
You're not going mad SenseVision, I just had a panic attack for most of the afternoon today because I thought I had completely messed up my work (and mediocre understanding of how BotFramework worked).

Exactly the same experience after moving from 3.14.0 to either 3.14.1 or 3.15 (not enough testing between upgrades to determine which) - random mutations in conversation position, sometimes even go

[2018-04-17 22:40] stevkan commented on #4480
Hi @ShadeyCN,

Good news. I was able to confirm your bot works in other Skype clients (desktop, web, phone) and forwarded this information on to the Skype bot approver. He has requested that you resubmit your bot and he will have it approved by EOD tomorrow.

As for the UWP/Windows 10 Skype client, it appears to be a known bug.

Steve.

[2018-04-17 22:54] ShadeyCN commented on #4480
Thank you very much @stevkan

It's very good news, I'm keeping an eye on anything that may happen, and I hope very soon our bot can be approved.

We already sent the bot to review again

Thanks :)

[2018-04-17 22:56] stevkan commented on #4480
@ShadeyCN, you're welcome. And, best of luck!!

[2018-04-17 22:56] #4480 closed

[2018-04-17 23:14] JasonSowers commented on #4477
I got your invite, I will start looking into this.  We recently released a new SDK version 3.15  can you please confirm if you are experiencing the same issue in 3.15.  @oflahero I couldn't gather if 3.15 was working or not for you from your post.

[2018-04-18 00:26] rjgmail88 commented on #4431
Hello, Any update on this please ?

[2018-04-18 02:17] donromeo commented on #4154
@FranciscoPonceGomez or any other with the information, can you please share the documentation?. May 7th is 20 days from now and we must have our bots modified, tested and implemented by then.

[2018-04-18 02:39] Jatin-Chandarana commented on #4486
I already pass MicrosoftAppId and MicrosoftApppassword.

![appid](https://user-images.githubusercontent.com/38467095/38908878-d77e52a0-42df-11e8-8dab-bb8fbb52bae6.png)

[2018-04-18 06:03] Jatin-Chandarana commented on #4486
Hi guys any update of my issue. i'm struck up whole day.

[2018-04-18 06:45] VanjuliK commented on #4474
Okay, Thanks for your help and guidance.

[2018-04-18 06:47] pyephyoeaung commented on #4419
Thanks @EricDahlvang . I think this timeout issue can cause of small instance size.
When I scale up and scale out instance I didn't found that issue again.

[2018-04-18 08:25] oflahero commented on #4477
I experienced the same issues with 3.14.1.1.

So the problem appears to have been introduced somewhere when moving between 3.13.1 to 3.14.1.1 in Microsoft.Bot.Builder and Microsoft.Bot.Builder.History (unless I was doing something stupid in my code that relied on something that was fixed after 3.13.1!) I don't have any further granularity info.

[2018-04-18 08:46] easkerov commented on #4387
@EricDahlvang @nodeomega it works as expected now with solution in #4245
Thank you so much!

[2018-04-18 09:28] sprider opened #4489 "How to pass the user context details from from bot Controller to FormDialog"
## Bot Info
* SDK Platform: .NET
* Active Channels: Direct Line
* Deployment Environment: Azure Bot Service

## Question
How to pass user context details from from bot Controller to FormDialog?

## Code Example
[code]

[2018-04-18 09:28] yaninah commented on #4479
@JasonSowers , but why not? It's clear that the name of the topic isn't under some privacy protection since it available in the request body when someone in the group changes it and bot receives the details of conversation update. So why it has to be unavailable when the bot just joined the group conversation?

[2018-04-18 09:51] LocalJoost commented on #2869
This is still not supported? If so, it might help if this is a) somewhere documented where it is easily found b) a more descriptive error than just 'internal server error' is returned. I have spent the better part of half a day to get to this point, which is a bit sad.

[2018-04-18 10:27] tellarin commented on #4487
@psbds, @fanidamj created a mirror issue for this on the Recognizers repo. We'll track it there.
Thanks for reporting.

[2018-04-18 11:29] SychevIgor commented on #2495
Looks like nobody care about viber, because simula request were closed 5 times during last 2 years.
https://github.com/Microsoft/BotBuilder/issues/2495
https://github.com/Microsoft/BotBuilder/issues/2429
https://github.com/Microsoft/BotBuilder/issues/2219
https://github.com/Microsoft/BotBuilder/issues/2123
https://github.com/Microsoft/BotBuilder/issues/1917

[2018-04-18 11:29] SychevIgor commented on #2429
Looks like nobody care about viber, because simula request were closed 5 times during last 2 years.
https://github.com/Microsoft/BotBuilder/issues/2495
https://github.com/Microsoft/BotBuilder/issues/2429
https://github.com/Microsoft/BotBuilder/issues/2219
https://github.com/Microsoft/BotBuilder/issues/2123
https://github.com/Microsoft/BotBuilder/issues/1917

[2018-04-18 11:29] SychevIgor commented on #2219
Looks like nobody care about viber, because simula request were closed 5 times during last 2 years.
https://github.com/Microsoft/BotBuilder/issues/2495
https://github.com/Microsoft/BotBuilder/issues/2429
https://github.com/Microsoft/BotBuilder/issues/2219
https://github.com/Microsoft/BotBuilder/issues/2123
https://github.com/Microsoft/BotBuilder/issues/1917

[2018-04-18 11:29] SychevIgor commented on #2123
Looks like nobody care about viber, because simula request were closed 5 times during last 2 years.
https://github.com/Microsoft/BotBuilder/issues/2495
https://github.com/Microsoft/BotBuilder/issues/2429
https://github.com/Microsoft/BotBuilder/issues/2219
https://github.com/Microsoft/BotBuilder/issues/2123
https://github.com/Microsoft/BotBuilder/issues/1917

[2018-04-18 11:29] SychevIgor commented on #1917
Looks like nobody care about viber, because simula request were closed 5 times during last 2 years.
https://github.com/Microsoft/BotBuilder/issues/2495
https://github.com/Microsoft/BotBuilder/issues/2429
https://github.com/Microsoft/BotBuilder/issues/2219
https://github.com/Microsoft/BotBuilder/issues/2123
https://github.com/Microsoft/BotBuilder/issues/1917

[2018-04-18 11:29] SychevIgor commented on #2495
Still very interesting connector, especially after telegram was blocked in Russia.

[2018-04-18 11:29] SychevIgor commented on #2429
Still very interesting connector, especially after telegram was blocked in Russia.

[2018-04-18 11:29] SychevIgor commented on #2219
Still very interesting connector, especially after telegram was blocked in Russia.

[2018-04-18 11:29] SychevIgor commented on #2123
Still very interesting connector, especially after telegram was blocked in Russia.

[2018-04-18 11:37] gopal300 commented on #4467
For FormFlow:
`namespace LuisBot
{
    public enum TypeRoom
    {
        [Describe("Individual")]
        Individual = 1,
        [Describe("Doble")]
        Doble,
        [Describe("Matrimonial")]
        Matrimonial,
        [Describe("Triple")]
        Triple,
        [Describe("Suite")]
        Suite
    }

    [Serializable]

    public class BookingForm1
    {

        [Prompt("¿Para qué f

[2018-04-18 13:42] Mohamed-Allam commented on #2715
Great Answer @benswinburne  Thank you very much, but please note if you are going to use an Array of objects you had to create a string manually in  builder.Prompts.choice(session, msg, choices, {
        retryPrompt: msg
      })
or you will get some "exec" Error
just create a string matching your hero card postback value

[2018-04-18 14:08] schmollycule commented on #4282
Just to confirm, my bot is in a channel in Teams.
Thank you @nodeomega for your continued work on this!

[2018-04-18 14:18] I-cycle opened #4490 "Microsoft documentation: Good tutorial, not clear on the next step"
## Bot Info
* SDK Platform: Node.js
* SDK Version: newest/current stable
* Active Channels: local development
* Deployment Environment: none

## Issue Description
I read the microsoft website and get the bot up and running in Eclipse with the bot-emulator. I have been trying to read the SDK to figure out what options are available in each command and struggling to know what is available. I have re

[2018-04-18 14:45] maba4891 commented on #4470
@Andrea-Orimoto I added you as owner to my subscription following https://docs.microsoft.com/en-us/azure/billing/billing-add-change-azure-subscription-administrator
Let me know if it didn't work. Thanks!

[2018-04-18 15:11] JonesAbramoff commented on #4365
Hi,

I am also facing this problem about 2 or 3 times a day with different bot builder versions (lately 3.15.0).

I use Cosmos DB.

All my solution is inside Azure so how can it be a DNS misconfiguration problem ?

Thanks,

Jones

[2018-04-18 16:08] JasonSowers commented on #4490
I have forwarded this issue to the docs team.

[2018-04-18 16:31] JasonSowers commented on #4472
Unfortunately we Bot Framework support engineers do not have a S4B tenant to help test and diagnose S4B issues with.  the Skype for Business team is supposed to monitor this forum and provide support, but I have not seen them around in months.  You would probably have better luck asking your question on stack overflow or posting on their [usevoice](https://www.skypefeedback.com/).

[2018-04-18 16:36] JasonSowers commented on #4479
My best guess is that it is a deficiency on Skype's end, I haven't had the chance to look into it to give you a more concrete answer.  I will try my best to take a look today.

[2018-04-18 17:35] JasonSowers commented on #4477
@oflahero Can you please share your project as well?  I'm trying to make a minimum reproducible example and want to see if there are any similarities between your project and SenseVision's

So I have started with the most simple implementation of saving state data and I am adding pieces in from SenseVision's project to try to figure out the root cause, but I haven't been able to reproduce it yet.

[2018-04-18 17:49] stevengum97 commented on #4490
Could you provide the code you're using from the sample? Are you just attempting to spin up the sample and running into issues? Correct me if I'm wrong, but I believe you have questions on the operations generated from the Swagger file, namely the [GetConversationMembers](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference#get-conversation-members

[2018-04-18 18:26] Andrea-Orimoto commented on #4470
@maba4891, thanks a lot, got access.

So, I've tried duplicating your bot twice and migrating it and it worked both times... you can see my tests, I added andreo- to the names.

There is one unrelated failure on andreo-ratisbot2-rg-9RrEYYQ8aXm, which we are investigating. Please do not delete that RG just yet.

Since your failure happens on the “Migrating files to new bot” step, my theory is that

[2018-04-18 18:29] Andrea-Orimoto commented on #4395
One more important step I just discovered. Once you move to funcpack, delete the node_modules folder from the app service prior to migration. A function using funcpack does not need the node_modules anymore, and that folder might cause the timeout during migration.

[2018-04-18 20:34] iMicknl commented on #2869
@LocalJoost, it is still not supported. There is a separate issue which tracks this feature request (#2933).

[2018-04-18 21:06] JasonSowers commented on #4477
Can either of you confirm this happens in the emulator as well?  I have been trying all day to reproduce this with no luck.

[2018-04-18 21:25] oflahero commented on #4477
Hey there. I spent a bit of time on this today too - I've settled on 3.14.0 for Bot.Builder, Bot.Builder.History and Bot.Connector as the most stable configuration. Anything higher (>=3.14.1) and the issue is back.

I tried to reproduce in the emulator with no luck. It's only happening for me in the channel, which in my case is Facebook Messenger.

My project's commercial, and currently pretty lar

[2018-04-18 21:45] JasonSowers commented on #4477
Let me try facebook, no luck with repro i emulator or webchat 👎

[2018-04-18 21:57] stevengum97 commented on #4482
I've reached out to the SfB Bots team for guidance and will get back to you with updates.

[2018-04-18 22:42] Andrea-Orimoto commented on #4227
One more important step I just discovered. Once you move to funcpack, delete the node_modules folder from the app service prior to migration. A function using funcpack does not need the node_modules anymore, and that folder might cause the timeout during migration.

[2018-04-18 22:49] nodeomega commented on #4428
Closing this issue as there has been no reply for an extended period.  If this issue persists, feel free to open a new support request.  Thank you.

[2018-04-18 22:49] #4428 closed

[2018-04-18 23:28] JasonSowers commented on #4485
1. How can I, using the API REST, get all the messages from a determied conversationid?
    There is no method in the REST API that will provide this.
2. Is there any way that I can send a message as an user instead of as a bot? I can create a in the DirectLine and send a message which the bot will answer.
    You may be able to hack something together.  I would be really surprised if you could th

[2018-04-19 04:33] mgbennet commented on #4407
A fix has been deployed, this issue should be resolved. Please let us know if any other languages have this sort of issue.

[2018-04-19 04:33] #4407 closed

[2018-04-19 05:06] mgbennet commented on #4481
A fix has been deployed for this issue.

[2018-04-19 07:34] satheeshganji48 commented on #3012
How to prepare rich card using JSON template in c#

[2018-04-19 08:32] SethiPriy opened #4491 "Session.send is not working"
## Bot Info
* SDK Platform: <Node.js>
* Deployment Environment: < Web panel >

## Issue Description
< Connecting with server !-- Describe your issue, question, or feature request -->

## Code Example

## Reproduction Steps
1.
2.
3.

## Expected Behavior

## Actual Results

[2018-04-19 08:44] SATACHAKRA commented on #4476
I don't know what that means.
All the bots have been already migrated to the azure portal long before 31st march. And they were working fine.

[2018-04-19 09:05] tidusvn05 opened #4492 "Microsoft Botframework channel messenger not working in development mode"
## Bot Info
* SDK Platform:  Node.js
* SDK Version: 3.14
* Active Channels: Skype, Slack
* Deployment Environment: Azure Bot Service

## Issue Description
I need enable channel messenger for botframework. i make follow this guide: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-facebook#enable-messenger

exclude "submit for review". i want test before submit review.

[2018-04-19 11:28] Gazoop opened #4493 "Migration has been deleted"
## Bot Info
* SDK Platform:
* SDK Version:
* Active Channels:
* Deployment Environment:

## Issue Description
I migrated my bot to Azure, but now it appears it's been deleted from Azure. There is no way to send my details securely to microsoft to check this.

## Code Example
When logging in to microsoft bot framework it says migrated, when opening the link for the bot I go to a page that says (cen

[2018-04-19 11:51] cext001 commented on #3939
Facing the same issue. What am I doing wrong?

[2018-04-19 15:34] stevengum97 commented on #4482
@varunreddycs, the SfB team indicated that what you're probably looking for can be found on this page: https://msdn.microsoft.com/en-us/skype/skype-for-business-bot-framework/docs/bot-hybrid-support

Hope this helps.

[2018-04-19 15:34] #4482 closed

[2018-04-19 15:56] Amintasn commented on #3576
Also facing the same issue. Can any one pls share a code snippet of the EndOfConversation scorable workaround previously mentioned in this thread? Thx

[2018-04-19 16:06] JasonSowers commented on #4493
Please provide you app ID

[2018-04-19 16:17] Gazoop commented on #4493
I don't really see an app ID anymore, the links in my "My Bots" page has a link to a delete message, and the information just says "Migrated". The links it sends me to are:

https://portal.azure.com/#resource/subscriptions/3f395dff-76d8-4028-b5af-ed278d6e7e05/resourceGroups/Gazoop/providers/Microsoft.BotService/botServices/Gazoop

https://portal.azure.com/#resource/subscriptions/3f395dff-76d8-4028

[2018-04-19 16:35] Gazoop commented on #4493
I've since discovered that when I did the transfer across, it asked me for a subscription, when I went to create one it said signup for the free trial, which I did. It's since transpired that the free trial automatically deletes everything upon expiration despite the service being free, and that I should have selected a "Pay As You Go" subscription. This wasn't really that clear when I migrated or

[2018-04-19 17:43] cext001 commented on #1505
I am also getting the same issue. This is really frustrating

[2018-04-19 18:00] cext001 commented on #3886
I am also getting the same issue

[2018-04-19 19:01] stevkan commented on #4491
Hi @SethiPriy, can you provide your code?

[2018-04-19 20:36] Heromaimx commented on #1938
Refresh access token failed with status code: 401

[2018-04-19 20:36] Heromaimx commented on #1938
Refresh access token failed with status code: 401

[2018-04-19 20:37] Heromaimx commented on #1938
Refresh access token failed with status code: 401

[2018-04-19 20:39] rosskyl opened #4494 "Skype For Business PromptDialog.Choice screwing up the formatting"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15.0
* Active Channels: Skype For Business
* Deployment Environment: Azure Bot Service

## Issue Description
The formatting for a list is getting messed up when I use the PromptDialog.Choice with Skype For Business. I have a list of strings that I want to have the user choose an option from and I want to display a number in front of them since Skyp

[2018-04-19 20:41] fanidamj commented on #4457
Can you please check if you [registered the bot ](https://msdn.microsoft.com/en-us/skype/skype-for-business-bot-framework/docs/overview#create-bot
)correctly: (Ran the New-CsOnlineApplicationEndpoint commandlet). If yes, please share the client logs when you send a message to bot.

[2018-04-19 22:04] Kyle-MacKinnon opened #4496 "Facebook Webhooks"
Hi, Facebook provides a number of webhooks that I can subscribe to but they don't come through the bot connector to my bot.

![webhooks](https://user-images.githubusercontent.com/20867027/39020693-e33f000a-4481-11e8-8c09-0b2df20315ec.png)

Effectively there's a massive amount of features I can't make use of.

Is there anything I can do or could this feature be implemented?

[2018-04-19 23:46] Andrea-Orimoto commented on #4493
Hi @Gazoop, we've rolled back your migration, your bots are now in a pre-migration state. Re-try migration and choose the appropriate subscription.

Let us know if you have any issues.
Andrea

[2018-04-20 00:54] mashhype commented on #3501
@stevengum97  thanks dude...just killed about 2 hours on this :)

[2018-04-20 03:29] cext001 opened #4497 "ChatConnector: receive - no security token sent."
I am trying to integrate my Dialogflow agent with Skype. I follow this link https://github.com/dialogflow/dialogflow-nodejs-client/tree/master/samples/skype to customize my bot responses. The webhook is deployed on Heroku. The issue is that I am getting this error "error: chatconnector: receive - no security token sent" always. The below CURL request looks fine

curl -X POST \
  https://login.micr

[2018-04-20 05:41] SenseVision commented on #4477
@JasonSowers  sorry , i haven't answered , was super busy .

Check 3.15 ->
 the earliest i'll be able try would be on Tuesday, i guess.

Can either of you confirm this happens in the emulator as well?
3.14.1.1 - yes . Emulator and  FB.

I've rechecked references history , looks like @oflahero  is right 3.13.1 is OK

[2018-04-20 06:11] Zhashkha opened #4498 "Launch URL within bot application"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.14.1
* Active Channels: Emulator, FB
* Deployment Environment: Azure Bot Service, Azure App Service, local development with Emulator

## Issue Description
Hi guys,

I want to launch URL with default browser from within bot application. I don't want to use openUrl card action type, because I'm catching click event with global handlers, then I'm doin

[2018-04-20 06:42] tomorgan opened #4499 "Replying to a Teams message with a Like reaction via C#"
## Bot Info
* SDK Platform: NET
* SDK Version: Microsoft.Bot.Connection v3.15.0
* Active Channels: MS Teams
* Deployment Environment: local via ngrok and testing in Teams client

## Issue Description
I'm trying to write code to have my Bot respond to a message with a Like. I'm replicating what I'm seeing when someone else Likes a bot message, and trying to do the same, as I can't find this documen

[2018-04-20 11:52] vijaysaimutyala commented on #3993
Any findings on this yet. The message sent from Skype For Business reaches my bot but the bot doesn't reply back. The bot wrks well in WebChat.

[2018-04-20 12:37] GuruPrasathD commented on #4481
@JasonSowers Even I facing the same issue. I have my language settings as English though.

[2018-04-20 12:46] vamzz1 commented on #4066
@dvorakjan Could you please share the code snippet you used to configure the `keepaliveagent` module with the botframework.

[2018-04-20 13:13] thschuetze commented on #4477
Hi guys,
we experienced the same thing after upgrading from 3.13 to 3.14.1.1. dialogs seem to jump to a previous state. Seemed to be most reliably reproducible in the web versions of Slack and MS Teams (not sure if that has anything to do with it though)

Our guess was that something in the way the bot state is saved has changed between those versions (we are using TableStorage with a custom key f

[2018-04-20 13:40] ItsMeArthur opened #4500 "[Azure]Errors within the Bot Channels Registration Analytics page: Errors 500 and 400"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.14.1.1
* Active Channels: Skype, MS Teams, Slack, Direct Line
* Deployment Environment: Azure Bot Service (Bot Channels Registration) & Azure App Service

## Issue Description
The Analytics page within the Bot Channels Registration is presenting several errors for all of my chatbots (20+ chatbots). I've only noticed this now, but last week I was ab

[2018-04-20 14:47] austinhuang0131 opened #4501 "[Azure] Cannot show bot user/message stats"
## Bot Info
* SDK Platform:
* SDK Version:
* Active Channels:
* Deployment Environment: Azure Bot Service
## Issue Description
![image](https://user-images.githubusercontent.com/16656689/39055390-1d010e5a-4482-11e8-83f1-d871c2c8dd41.png)

Cannot show users or messages stats. Only the "Retention" is visible.

## Code Example

## Reproduction Steps
1. Enable Application Insight in Azure.
2. Enable a

[2018-04-20 15:07] ItsMeArthur commented on #4501
I'm facing the same issue. Reported it here #4500.

[2018-04-20 15:12] austinhuang0131 commented on #4501
ok merged

[2018-04-20 15:12] #4501 closed

[2018-04-20 15:12] austinhuang0131 commented on #4500
Merged #4501. Original text:

## Bot Info
* SDK Platform:
* SDK Version:
* Active Channels:
* Deployment Environment: Azure Bot Service
## Issue Description
![image](https://user-images.githubusercontent.com/16656689/39055390-1d010e5a-4482-11e8-83f1-d871c2c8dd41.png)

Cannot show users or messages stats. Only the "Retention" is visible.

## Code Example

## Reproduction Steps
1. Enable Application

[2018-04-20 16:04] oflahero commented on #4477
Welcome to the club!

I'm about halfway through setting up a minimal project - haven't forgotten about you Jason. No guarantees it'll exhibit the symptoms, mind.

[2018-04-20 16:33] JasonSowers commented on #4497
Closing as duplicate of https://stackoverflow.com/questions/49927821/dialogflow-nodejs-client-showing-no-security-token-sent-error

[2018-04-20 16:33] #4497 closed

[2018-04-20 16:36] guiadevoo opened #4502 "Cannot delete my Bot in portal azure"
## Bot Info
* Deployment Environment: Azure portal

## Issue Description
I´m trying to delete a test Bot in my account, but affter click do delete, the messe Cannot delete your bot is displayed. Without any detalis!
![captura de tela 2018-04-20 13 27 19_li](https://user-images.githubusercontent.com/31049994/39062982-cec67e32-449f-11e8-9b81-a29bf2d4ab07.jpg)

[2018-04-20 16:45] guiadevoo commented on #4502
Message info on Notifications:
------------------------------------------------------
Com êxito: 0, Com falha: 2, Cancelado: 0.
Detalhes do erro
BootBC2k18: message: The remote server returned an error: (412) Precondition Failed. original trace: at Microsoft.WindowsAzure.Storage.Core.Executor.Executor.EndExecuteAsync[T](IAsyncResult result) at Microsoft.WindowsAzure.Storage.Core.Util.AsyncExtensio

[2018-04-20 16:46] guiadevoo commented on #4502
![captura de tela 2018-04-20 13 44 00](https://user-images.githubusercontent.com/31049994/39063338-2807d9c2-44a1-11e8-8581-43669fc79fba.png)

[2018-04-20 17:32] nodeomega commented on #4387
@easkerov Excellent!  We can consider this issue closed, and if you run into any more issues, feel free to open a new request.

[2018-04-20 17:32] #4387 closed

[2018-04-20 18:05] Andrea-Orimoto commented on #4423
@JordanVScher we're closing this issue, please re-activate or create a new one if you still have problems.
Thanks!

[2018-04-20 18:05] #4423 closed

[2018-04-20 18:08] I-cycle commented on #4490
Hello, I am having issues reading the documentation. For example, I am using the node.js version and wanted to implement functionality such as [this sample](https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/core-GetConversationMembers). The problem for me is that I am a beginner at this and the documentation appears to have several references to [the azure site](https://docs.microso

[2018-04-20 19:44] JasonSowers commented on #4498
This is a security limitation of the Facebook platform. You will not be able to accomplish this without using a button, or having the user click a link.  It is my assumption they do this to prevent malicious pages being opened automatically.

[2018-04-20 19:56] JasonSowers commented on #4494
I have created an incident with the Skype for business team.  I will update you when I have more information.

[2018-04-20 19:59] JasonSowers commented on #4499
I am looking into this

[2018-04-20 20:16] n777ty commented on #4502
It's a known issue that's being worked on...

[2018-04-20 22:11] JasonSowers commented on #4499
So upon some investigation, since I had never actually seen someone use the message reaction activity type.  You are trying to use it not as it was intended to be used.  This activity type will update the bot when someone has liked (or some sort of reaction)  to an activity.  It is not intended to actually send and registed a reaction from the bot.

[From the docs:](https://docs.microsoft.com/en-u

[2018-04-20 23:44] JasonSowers commented on #4477
No worries guys, been busy over here as well.  I hope to make some more time to try to get to the bottom of this next week.  All of my bots are running 3.15 (because I test the SDK before we release it) and I have not noticed any issues with state like you are seeing, so I'm hoping one of you can provide a clue here especially because I haven't been able to reproduce this.

[2018-04-21 00:00] ShadeyCN opened #4506 "[Skype, BotFramework]My Chat Bot don't responds on Skype only for some users"
Hello @stevkan

we have a chat bot approved on Skype, everything has been working fine until today it stopped responding in the following mobile versions 8.15.0.166, 8.18.0.9

Is there a bug or update by the Skype team?

[2018-04-21 06:00] vamzz1 commented on #4419
I think scaling up and scaling out might be a temporary fix as it won't hit the SNAT thresholds under high load. Not sure if this is the best way to solve this issue. I've been struggling to get the configuration right with the keepaliveAgent module.

[2018-04-21 07:00] Zhashkha commented on #4498
Hi Jason,

thanks for reply. So if I get you right, there is no chance to run some logic after any event (button click event in first place) and then launch URL on FB platform. If no, then at least can I catch any kind of response at server side from OpenUrl action type button click ?

[2018-04-21 10:26] MichalDurista opened #4507 "FormFlow string options as buttons"
## Bot Info
* Deployment Environment: local development with Emulator

## Issue Description
I am using bot framework and I am trying to define a form dynamically using FormFlow. I have a problem with one specific field (see the code).
The problem is that ProductPlatform depends on ProductName, therefore it is a string. This works fine, however, this way, the bot does not show the options of possib

[2018-04-21 14:49] tomorgan commented on #4499
Hmm interesting. Any reason why it shouldn’t work like this (other than it not being coded in)? Can I add it to the backlog? For me, it seems to be a nice subtle way for the bot code to acknowledge that it’s received and understood the message: for instance, if you send a message to a bot to do something, a like is a good way of saying “ok, I understand what you asked and I’m doing it” where a ful

[2018-04-21 15:02] jdnichollsc commented on #2633
Guys, see this template for NodeJS https://github.com/proyecto26/Bot-Framework

[2018-04-21 15:15] jdnichollsc commented on #4065
Or support both :) http://slides.com/juandavidnicholls/promises/#/4

[2018-04-21 15:56] sprider commented on #4489
Got the answer from stackoverflow

https://stackoverflow.com/questions/49922222/how-to-pass-the-user-context-details-from-from-bot-controller-to-formdialog/49935715#49935715

[2018-04-21 15:56] #4489 closed

[2018-04-21 20:15] jdnichollsc opened #4508 "[LUIS] Wrong results from the Spanish version - LUIS apps"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.13.1 (npm)
* Active Channels: All
* Deployment Environment: local development with Emulator, Web App Bot
* LUIS language: Spanish

## Issue Description
We don't have prebuild domains for Spanish. And using Simple entities we can't use spaces, double quotes to get all the info.

## Code Example
https://github.com/proyecto26/Bot-Framework/blob/mas

[2018-04-22 00:55] oflahero commented on #4477
I have a repo at https://github.com/oflahero/315Issue where it looks like I can reproduce the issue.

It's a simple bot that echos what you type with the length of the input string. If you enter 'find', it also launches a dialog simulating searching for a phone or email contact by name substring.

There are only three contacts hardcoded. Once it either returns a match or tells you there are no mat

[2018-04-22 11:55] Kadae commented on #3794
Fuck. I hate this issues tickets. A lot of searching and a lot of closed tickets without any shared help. I hate it. FUCK.

[2018-04-22 11:57] Kadae commented on #2352
Damn. This is closed again.

[2018-04-22 11:58] Kadae commented on #3554
One year later Microsoft can't fix this. Ahahahaha.

[2018-04-23 02:41] jorupp commented on #4043
I'm having a similar issue.  I tried to change the URL to my bot, and for a while, it seemed it was ignoring me (activity log showed writes failing with HTTP `500`s).  App log also showed OPTIONS requests for `/api/messages?code=....` at the same time.  Then it seemed to stick, but requests were still going to my old site.  Deployed an update that responds with a HTTP `200` to my new endpoint, and

[2018-04-23 05:42] prorokane commented on #4486
Microsoft.Bot.Connector 3.15.0
Same error appears periodically after few hours of inactivity.
Next messages will be processed without issues.

[2018-04-23 06:18] catcher-in-the-try commented on #2145
This issue is occurring for me right now, since a few minutes ago:

[code]

All of my bots stopped working.

[2018-04-23 06:24] anton-bot opened #4510 "[Node.js, Azure App Service] ENOTFOUND for login.botframework.com"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.14.1
* Active Channels: webchat
* Deployment Environment: Azure app service

## Issue Description

All of my bots stopped working with the following error:

[code]

100% of requests end with this.

The code is running on Azure app services. I did not modify any code recently.

[2018-04-23 07:02] sourabhlodha commented on #4421
Can you provide me any one sample which is working for the speech on skype channel?

[2018-04-23 07:49] vamzz1 commented on #4419
We were using `websockets` as true with directline. We set `webSockets` as false and things started to work as expected. No more delay between messages. No more timeouts.

[2018-04-23 08:02] gopal300 commented on #4390
Hi JasonSowers, did you find any information about this because i am facing the similar problem.

[2018-04-23 08:37] serialoverflow commented on #3993
@vijaysaimutyala Same issue here.

Example request:
[code]

Example response:
[code]

Microsoft App Id and Password are not the isssue. For testing, i have also pretty much disabled any code in botbuilder/lib/ChatConnector.js that could thrown a 403 so i am at a loss for where this response is coming from. Bot works fine in WebChat and Teams.

[2018-04-23 08:47] GuruPrasathD opened #4511 "[Azure Bot Service] Empty Channels"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: Cortana
* Deployment Environment: Azure Bot services

## Issue Description
The channels are not visible for the Azure bot services

## Code Example
 empty bot

## Reproduction Steps
1. Create a new Azure bot service
2. go to resource page -> spot the bot service created
3. Go to channels

## Expected Behavior
To see the li

[2018-04-23 08:54] vijaysaimutyala commented on #3993
@serialoverflow I was using the Python SDK which is under development. Once I switched to REST api things are fine.

I suggest that you check the place in your code where you create your response to be sent to your bot. I made a change this morning to fetch the first name of the user. I had a syntax error just before the place where the response to the bot is getting ready. The program did not rea

[2018-04-23 09:13] emimontesdeoca commented on #4485
Well,

thank you @JasonSowers, I'll see what I can do, I'm closing this since you answered my question.

[2018-04-23 09:13] #4485 closed

[2018-04-23 09:26] seca23 commented on #4477
Hi Guys
I have also noticed that our dialogs are jumping to a previous state ever since I updgraded the bot builder sdk from 3.13.1 to 3.15.0. It appears to specifically occur when there is a delay in the user response. We are storing our state using local SQL TableStorage. I have first noticed this via the directline channel. It also occurs in the emulator.

[2018-04-23 09:28] nickgkan opened #4512 "[Node.js, Skype For Business] Cannot initiate a conversation with Skype For Business bot using an ended conversation’s id."
**Description:** We try to have the bot trigger a conversation asynchronously, without any users’ input. Based on the sample found here https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/core-CreateNewConversation it seems that a sufficient way could be `bot.beginDialog(address, 'survey');`. Information about different channels’ support to the feature above are also found in the same

[2018-04-23 09:32] DarkFace100g opened #4513 "BoyIng"
## Bot Info
* SDK Platform:
* SDK Version:
* Active Channels:
* Deployment Environment:

## Issue Description

## Code Example

## Reproduction Steps
1.
2.
3.

## Expected Behavior

## Actual Results

[2018-04-23 09:55] SethiPriy opened #4514 "[Node.js] Can we create persistent menu button in the typing bar of bot in Node.js?"
## Bot Info
* SDK Platform: Node.js
* Active Channels: Web Chat
* Deployment Environment: Azure Bot Service

## Issue Description
<Can we create persistent menu button in the typing bar of bot in Node.js? I found this but this is in C# (https://github.com/Microsoft/BotBuilder/issues/2310)>

[2018-04-23 10:04] SethiPriy opened #4515 "Alternative for imback in adaptive cards"
## Bot Info
* SDK Platform: Node.js
* SDK Version: Latest Version
* Active Channels: Web Chat
* Deployment Environment:Azure Bot Service

## Issue Description
I have designed a menu in adaptive cards. PFA image.Instead of showing a reply of chosen option,it should reply from the user's side that the user has chosen that option.Just like the same functionality of _imback_ of image card.
![screensho

[2018-04-23 11:02] serialoverflow commented on #3993
I am not writing a custom client. The problem is with Skype or with my bot, but as i said, the webchat and Teams clients work fine with the bot.

[2018-04-23 11:56] 5ia14ivutz commented on #4416
Hello
Sorry for the late reply, i was unexpectedly hospitalised untill recently.
The bot is running locally so the Emulator is connected to: http://localhost:3979/api/messages, AppID and Passwort are blank.
The comlete trace from the log window ist:
`{
  "message": "An error has occurred.",
  "exceptionMessage": "Fehler beim Senden der Anforderung.",
  "exceptionType": "System.Net.Http.HttpRequest

[2018-04-23 13:15] rongyao2006 opened #4516 "[Nodejs, Fb Messenger] Error Changing Settings For Facebook Messenger in Azure Portal"
Hi, am still having the issue, unable to change my settings in the azure portal.

## Bot Info
* SDK Platform: NodeJS
* SDK Version: 8.11.1
* Active Channels: Facebook
* Deployment Environment: Google Cloud Compute Engine

## Issue Description
Whenever I try to change any settings for Facebook Channel, I get the following error

Unable to save. Failed to validate Facebook credentials: invalid token

[2018-04-23 15:08] vijaysaimutyala commented on #3993
@serialoverflow Yes. I had the same issue. WebChat was working fine but not Skype.

[2018-04-23 15:19] fanidamj commented on #4508
Can you please let us know if it is Spanish (Spain) or Spanish (Mexico)?

[2018-04-23 15:23] #4510 closed, assigned to nobody

[2018-04-23 16:07] thschuetze commented on #4477
I went through the Bot.Builder commits between 3.13.1 and 3.14.1.1

The only change related to our issue seems to be CachingBotDataStore changes in commit
https://github.com/Microsoft/BotBuilder/commit/992e29f4e0f61b98b31557fdba68d53fb8caabfc
(the cache was changed from local Dictionary to MemoryCache)

I couldn't spot anything suspicious with the changes, but @oflahero could you register your Tab

[2018-04-23 16:18] #4513 closed

[2018-04-23 16:20] JasonSowers commented on #4514
The Bot Framework support team prefers to answer questions like this on Stack Overflow to help the community as a whole. We are happy to answer your question, so please post your question on Stack Overflow tagged with the BotFramework tag.  If the issue gets closed here on GitHub, it will not be available and indexed for external search engines so others can easily find it.   Thanks!

[2018-04-23 16:20] #4514 closed

[2018-04-23 16:27] emadelwany opened #4517 "[Feature Request] BotBuilder NodeJS v3 SDK should support trace activities"
It's supported by:
v3 C#
v4 C#/NodeJS

This is required to light up luis/qna inspectors in the new emulator.

cc @Stevenic  @vishwacsena

[2018-04-23 17:40] #4419 closed

[2018-04-23 17:48] nodeomega commented on #4506
Which mobile version of Skype is this issue occurring in?  (iOS?  Android?  Other?)

Also, which BotFramework SDK are you using? (NodeJS? C#?)

[2018-04-23 18:12] ShadeyCN commented on #4506
Hello, searching a Little bit we found that the "trouble" was that Skype (a lot of versions but not all), including the version for desktop of Windows 10, don't send in it activity the name of the user, for this reason, my bot didn't response.
But now, we remove this opción from our code, and all right!
Thanks   @nodeomega  for response.

[2018-04-23 18:39] arturl commented on #4500
@ItsMeArthur, thanks for your report. We have identified the issue and working on a fix. Should be resolved this week.

[2018-04-23 18:40] I-cycle commented on #4490
Sorry, is it a stupid question to ask how to read the documentation?

[2018-04-23 21:16] JasonSowers commented on #4516
Can you please provide your app ID?

[2018-04-23 21:26] EricDahlvang commented on #4512
Have you tried creating a new conversation, and using that conversation.id to send the message?  There's a c# example of this here: https://msdn.microsoft.com/en-us/skype/skype-for-business-bot-framework/docs/overview#create-outbound-bots

[2018-04-23 21:36] JasonSowers commented on #4499
Feel free to Submit a pull request if you would like.  With V4 coming out soon we are not looking to add features to V3 at this point.

[2018-04-23 21:36] #4499 closed

[2018-04-23 21:41] oflahero commented on #4477
As I understand it though @thschuetze , you *need* a CachingBotDataStore sitting on top of your keyed registration for it to work though? At least until we get BotBuilder v4... (see issue https://github.com/Microsoft/BotBuilder/issues/4376)

Maybe there's a simpler way. I'll be the first to admit that the tight integration of Autofac into BotBuilder is a pet hate of mine (mainly because it confuse

[2018-04-23 21:44] JasonSowers commented on #4493
@Gazoop is this resolved for you now?

[2018-04-23 21:51] Gazoop commented on #4493
Yes thank you so much!

[2018-04-23 22:30] Stevenic commented on #4483
So this is actually a little un-intuitive and ByDesign although the design could be argued about.  The issue with passing `error` there is that it will actually prevent the event from being propagated to the bots logic which we don't want to happen. The way it's coded we want to log any exception thrown by the middleware yet continue processing by calling additional middleware and the bots logic.

[2018-04-23 22:36] JasonSowers commented on #4498
Are the links you are opening web pages that you control?  can you catch something on the other side i.e. put something in a query string?  You will not be able to catch anything on the bot side because the button click all happens on the front end.

 I'm not exactly sure of what exactly you are trying to capture or what your business logic looks like, and if the answer to my first question is no,

[2018-04-23 22:45] #4472 closed

[2018-04-23 22:51] JasonSowers commented on #4477
Awesome work guys, thanks for helping us work this out.  I will be spending time on this today, but mainly tomorrow since its late in the day now trying to address the issue.

[2018-04-23 22:57] nodeomega commented on #4282
@schmollycule Ok, I am able to replicate the issue now.  Does the attached file show up in your Files listing in your Teams channel?

[2018-04-23 23:07] stevkan commented on #4515
Hi @SethiPriy, can you provide more detail as to what functionality you are looking to have happen? I'm not clear on what the desired flow is.

[2018-04-23 23:25] jdnichollsc commented on #4508
Spanish (Spain)
<img width="573" alt="luis spanish app" src="https://user-images.githubusercontent.com/2154886/39158067-9bb243e2-4723-11e8-8111-8b93a5def823.png">

Thanks for the help!

[2018-04-24 00:31] JasonSowers commented on #4498
Check out this example https://github.com/JasonSowers/BF-302RedirectExample

[2018-04-24 00:45] rongyao2006 commented on #4516
@JasonSowers Here's my app ID: bb0b6524-2c77-4cb3-97b9-4777a4e48d54

Pretty sure I the credentials are correct, and i tried like more than 10 times but it just refuse to go through.

[2018-04-24 01:02] EricDahlvang commented on #4507
Please share the rest of the IssueFormModel, including the ValidateProductPlatform

[2018-04-24 01:28] zixia commented on #4483
Thanks for the reply and clarification and I agree that this change should be delivered at the next major version if it could introduce breaking changes.

So let's wait for v4 and never mind this outdated design.

Have a nice day!

[2018-04-24 01:45] nodeomega commented on #4282
@schmollycule Ok.  Found this tidbit on Stack Overflow regarding [Bot Framework and receiving files](https://stackoverflow.com/questions/45059877/send-attachments-to-bot-in-teams)... per Bill Bliss (MSFT) in his answer (not yet accepted by the asker, but provided below):

So it appears you cannot attach text files and send to a Teams bot at this time.

In my tests, even attaching a PNG from my own

[2018-04-24 01:45] #4282 closed

[2018-04-24 04:10] andyroz opened #4518 "[MS Teams] ChannelAccount only works with internal user ID"
## Bot Info
* SDK Platform: .NET 4.7.1
* SDK Version: 3.15.0
* Active Channels: MS Teams, Skype4Business,Skype,Test Chat
* Deployment Environment: Azure Bot Service / Azure App Service

## Issue Description
Documentation and SDK hints for ChannelAccount indicate that a Channel id for the user or bot can be a account name, a chat handle, or an internal id.
![image](https://user-images.githubusercon

[2018-04-24 05:38] andyroz commented on #4282
Thanks @nodeomega ... I think what you're saying is that the problem is with Teams, not the Bot Framework?

[2018-04-24 06:06] martinoss commented on #3576
@Amintasn
This is what I did:

[code]

Dont forget to setup DI for this in your bootstrapping module:

[code]

[2018-04-24 06:56] catcher-in-the-try opened #4519 "Documentation unclear about how to use the wechat channel"
According to the documentation here:

https://docs.botframework.com/en-us/channel-inspector/channels/WeChat/

Microsoft Bot Framework supports the WeChat messenger.

However, I could not find any mention of it anywhere else in the documentation, and it is unclear how to initialize a wechat bot.

Can you clarify please and improve the docs?

[2018-04-24 06:58] catcher-in-the-try commented on #2920
WhatsApp explicitly disallows and bans bots, so why should this be supported?

[2018-04-24 07:35] MichalDurista commented on #4507
Hello. I don't see how that might be helpful since as I tried to describe, the problem is that it either gets into ValidateProductPlatform but platform options were not shown (as buttons), or it doesn't get there at all (when SetType(null)). Anyway, here it is:

    [Serializable]
    public class IssueFormModel
    {
        public string Description { get; set; }
        public string ProductNam

[2018-04-24 08:52] haxor786 commented on #2699
How to load old conversations for nodejs bot??

[2018-04-24 09:28] vamzz1 opened #4520 "Difference in performance when using and not using webSockets with direct line"
## Bot Info
* SDK Platform: Node.js
* SDK Version:  3.14.1
* Active Channels: Direct Line, fb
* Deployment Environment:  Azure App Service

## Issue Description
 When creating the directline bot connection, the value of the flag `webSocket` is leading to undesired/misleading effects.

## Code Example
        var botConnection = new BotChat.DirectLine({
            domain: XXXXX,
            secret

[2018-04-24 09:47] ssaurav2512 commented on #3733
Hi,
Any resolve for this issue? I'm having a similar issue.

[2018-04-24 09:50] petkvuk opened #4521 "demo-skype-calling example not registering user input"
## Bot Info
* SDK Platform: Node.js
* SDK Version: botbuilder-calling 3.0.1
* Active Channels: Skype
* Deployment Environment:  local development with Skype

## Issue Description
Following this example:
https://github.com/Microsoft/BotBuilder/blob/6c26390efca47f04a80ab37e86ca77ee725e88c6/Node/examples/demo-skype-calling/app.js
I managed to register bot that plays menu after user calls from Skype (

[2018-04-24 09:58] dvorakjan commented on #4066
@vamzz1 Of course, here you are.
[code]

[2018-04-24 11:37] thschuetze commented on #4477
@oflahero you are right, I wasn't aware of that issue.
Could you try to register the old version of the CachingBotDataStore in the module to check if those changes have anything to do with the issue.

Btw. I got your example code and deployed it, but so far haven't been able to reproduce the issue with Slack (web) or Teams (web). Is there a specific way to reproduce it more reliably? Answering/typ

[2018-04-24 11:42] Zhashkha commented on #4498
Hi Jason,

let me be honest I've tried this approach some period ago and it didn't work. But now it works and I simply don't understand why (I don't remember exactly, it was kinda redirection issues). Anyway thanks a lot for your contribution, everything worked perfectly.

[2018-04-24 11:42] #4498 closed

[2018-04-24 15:34] schmollycule commented on #4282
Thanks @nodeomega. The attached file does show up in my Files listing in my Teams channel -- do you know if there's a way for the bot to access that?

[2018-04-24 15:54] rongyao2006 commented on #4516
I tried deleting the channel and adding again, but that failed too.

[2018-04-24 16:15] JasonSowers commented on #4521
Closing as duplicate of https://stackoverflow.com/questions/49999717/ms-botbuilder-skype-calling-bot-example We prefer to answer questions on stack overflow because they are more easily accessed by the public

[2018-04-24 16:15] #4521 closed

[2018-04-24 16:24] catcher-in-the-try opened #4522 "botkit + botbuilder + facebook: seems no way to send any 'template' message via channelData / sourceEvent"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.141.
* Active Channels: facebook
* Deployment Environment: Azure app service
* Setup: Botkit (which uses botbuilder) => Bot Framework => Facebook

## Issue Description
I am trying to use the List template available in Facebook Messenger. Since it is not supported, I am using the Facebook native message format and passing it via `channelData`  /

[2018-04-24 16:50] JasonSowers commented on #4356
Closing this issue since it seems everyone's problem is resolved, please open a new issue if you continue to experience this problem

[2018-04-24 16:50] #4356 closed

[2018-04-24 16:52] JasonSowers commented on #4390
@gopal300 @dogfuntom Apologies for the delay in the response, this fell on the back burner for a bit.  I will continue to look into this.

[2018-04-24 17:34] nodeomega commented on #4282
@schmollycule I do not, sorry.

@andyroz It seems that that is the case.

[2018-04-24 17:52] JasonSowers commented on #4518
What it sounds like you are trying to accomplish here, a bot starting a conversation with a user without having previously talked to the bot, is not a supported scenario in bot framework.  It is intentionally like this to prevent spambots.  However, if this is not what you are trying to accomplish and you would like to send a proactive message to a user that has previously interacted with your bot

[2018-04-24 19:06] weng5e opened #4523 "Cannot consume 'Microsoft.Bot.Builder.Calling' in Asp.Net Core 2.0"
## Bot Info
* SDK Platform: .NET (Asp.Net Core 2.0 Web API application, targeting net 461, win7-x64 runtime)
* SDK Version: 3.15.0
* Active Channels:
* Deployment Environment: Azure App Service and local development

## Issue Description

The top level entry point for the 'Microsoft.Bot.Builder.Calling' nuget is the [CallingConversation ](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/

[2018-04-24 20:07] JasonSowers commented on #4498
Great, good luck.

[2018-04-24 20:42] stevengum97 commented on #4438
Closing due to inactivity.

[2018-04-24 20:42] #4438 closed

[2018-04-24 20:57] JasonSowers commented on #4477
Good news I was able to reproduce in the emulator, the bad news is I need to catch it on a turn it fails on this is going to be a tough one to find 👎

[2018-04-24 22:25] stevkan commented on #4496
Hi @Kyle-MacKinnon,

Unfortunately, at this time, the Bot Framework API does not support the additional webhooks that Facebook has made available. We do look to catch the API up to fully support Facebook's offerings in the future, but for now it is limited.

Please reference the below document, if you haven't already seen it, for further information. Within you will find information around Faceboo

[2018-04-24 23:34] JasonSowers commented on #4477
@seca23  I actually think your issue is related after looking into this.

[2018-04-25 04:38] durgeshNdas opened #4525 "Attachment Unavailable for Herocards in Facebook channel Bot Framework c#"
## Bot Info
* SDK Platform:
* SDK Version:
* Active Channels:
* Deployment Environment:

## Issue Description
Attachment Unavailable for Herocards in Facebook channel Bot Framework c#

## Code Example

![image](https://user-images.githubusercontent.com/11943121/39226407-efc5b764-486f-11e8-80ac-fb123cb59f01.png)

## Expected Behavior
Herocard should be rendered in Facebook

## Actual Results
Attach

[2018-04-25 05:54] EricDahlvang commented on #1670
Hi @jagufru,

The Skype user needs to first communicate with the bot.   The bot then cashes the address, and can proactively message the user.  This doc explains more: https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-proactive-messages

[2018-04-25 06:33] seca23 commented on #4477
@JasonSowers from the MessageController I call a LuisDialog. When an intent is triggered it calls a new dialog [that inherits from IDialog<object>]. This dialog contains a few prompts and then starts a form flow. Now, at first it seemed like the problem existed at the completion of the form flow. However, later on, I have noticed that the problem also occurred in the middle of the form flow, and i

[2018-04-25 06:50] catcher-in-the-try commented on #4525
Having the same problem now, but with Node.js.

My code:

[code]

[2018-04-25 07:14] durgeshNdas commented on #4525
The thing is it was working fine till yesterday, hence this is not a code issue from my side. and this issue is appearing only in Facebook channel, it works fine for WebChat.

[2018-04-25 07:40] catcher-in-the-try commented on #4525
@durgeshNdas does it work now? it started to work for me.

Apparently a temporary facebook issue.

[2018-04-25 07:46] durgeshNdas commented on #4525
It still gives attachment unavailable for me, if i refresh the page, it shows the options. Is it the same case for you ?

[2018-04-25 07:47] catcher-in-the-try commented on #4525
@durgeshNdas Yes. Shows up after page refresh.

[2018-04-25 09:07] SoujanyaAK commented on #3638
Hi
Am facing this issue occurring only with unit test project or webloadperformance test project.
It works fine with a unit test created using a Console application project.
Any pointers?

Error:
System.MissingMethodException: Method not found: 'Void Microsoft.Bot.Connector.DirectLine.DirectLineClient..ctor(System.String, System.Net.Http.DelegatingHandler[])'.

[2018-04-25 11:15] orkunakca commented on #4525
Same here. "Attachment Unavailable" issue on generic templates and postback buttons. It was working until this morning.

const ConvertAddressToGenericTemplateElements = (apiAddressJson, recipientId, callback) => {
    var genericTemplateElements = '[';
    apiAddressJson.Dataset.forEach(function (obj) {

        genericTemplateElements += '{';
        genericTemplateElements += `"title": "${obj.Ad

[2018-04-25 11:31] oflahero commented on #4477
@JasonSowers great stuff!

@thschuetze It can be very frustrating trying to reproduce it. I gave up today after five solid minutes of banging the keyboard. I did on two occasions find that the problem appeared when I had left the conversation in the middle of a dialog for a significant time.

How long that has to be I can't say, but my Azure website had definitely spun down by then and took an ext