[2016-09-08 16:35] Thegaram commented on #1196
@palmerabollo I believe this is hidden in the Node.js SDK. If you don't specify `message.address.conversation`, the SDK will automatically create a new conversation for you. (See `Universalbot.ensureConversation`)

This is somewhat related: #1193

[2016-09-08 17:29] sandiz commented on #18
hey, that link takes you to https://docs.botframework.com/en-us/support/, which says create an issue for this on github

[2016-09-08 17:32] muzahmed commented on #1134
@JpEncausse is it working as expected for you now?

[2016-09-08 17:34] muzahmed commented on #1133
@0GiS0 Gonna close this, feel free to re-open if you're still having issues!

[2016-09-08 17:50] dbondarchuk commented on #1194
Is there such case for C# SDK?

[2016-09-08 18:09] muzahmed commented on #1197
@ziggy42 use i think for your case, you want to use session.replaceDialog dialog instead

here's an example with breaking out the prompt into its own dialog:

`bot.dialog('/', [
    function (session) {
        session.beginDialog('/question');
    },
    function (session, results) {
        // child response here
        session.send("done" + results.r);
    }
]);

bot.dialog('/question', [funct

[2016-09-08 18:09] #1197 closed

[2016-09-08 18:17] muzahmed commented on #1195
@ziggy42 another good find! i'll fix and push shortly, we should have a new version out pretty soon!

[2016-09-08 18:17] #1195 closed

[2016-09-08 18:29] ziggy42 commented on #1195
I have 2 telegram accounts stuck in a loop now :smiley: I'm running out of sims :smile:

[2016-09-08 20:10] jameslew commented on #1194
There isn't currently such a feature for the C# SDK, but as we drive towards parity we'll be closing up the gaps between the SDK's.  I'll make sure this is on that list.  In the mean time you can use deleteprofile .

[2016-09-08 20:12] dbondarchuk commented on #1194
Thanks!

[2016-09-08 20:13] jameslew commented on #1191
A side question @puneetsngh ; have you created or are using a python SDK for the Bot Framework, or are you coding to the REST API directly?

[2016-09-08 20:30] muzahmed commented on #1193
@Thegaram You can call bot.send multiple times and it should deliver the message to the user on the same conversation (it handles this under the scenes for you!). Let me know if you're not seeing that behavior, and we can re-open this issue.

[2016-09-08 20:33] Thegaram commented on #1193
@muzahmed Wait, how does it know if I want to create a new conversation or use an existing one? Isn't it overly restrictive if we limit the developer to one conversation per user?

[2016-09-08 20:40] muzahmed commented on #1166
@anshulgupta09 I think its running since you are getting a 404. Since you dont have any GET routes registered, you wont be able to hit it via the browser.

If you're curious, you can add a GET route to return hello world, or you can post via postman and see the response. Let me know if you have further troubles!

[2016-09-08 20:40] #1166 closed

[2016-09-08 20:42] muzahmed commented on #1196
@Thegaram yup, thats correct -- thanks!

@palmerabollo let us know if you have further questions/issues -- closing this for now.

[2016-09-08 20:42] #1196 closed

[2016-09-08 20:52] liiver opened #1198 ""Sorry, my bot code is having an issue" with LUIS and Skype"
My microsoft AppId: 3d4d6c46-e2c9-4f41-8ef4-45c46936e98b
My bot Id: eldur3
My Luis App Id: 61ed50f8-52d7-449a-ad78-50f804988d0e

Something went severly broken between my Skype Bot and LUIS system. On every message I send to the bot, It will just respond with "Sorry, my bot code is having an issue". WebChat has proper responses, and so does the emulator.

Error from dev.botframework.com Skype Chann

[2016-09-08 20:56] muzahmed commented on #1180
@bogdanfer @venkaiahj
you should be able to send a pro-active message doing the following:

[code]

you'll note the `session.message.address` in there, which means you can just save this value from a previous correspondence and supply it to your message whenever you want to send the pro-active message. You may find this easier than constructing the address yourself, and certainly easier than manag

[2016-09-08 20:56] #1180 closed

[2016-09-08 21:06] muzahmed commented on #1144
@JpEncausse you can play around with the `autoBatchDelay` on the `IUniversalCallBotSettings`

its defaulted to 250ms as @willportnoy mentioned, but you can configure as needed

I'm closing this issue, but feel free to open/comment if you're having other issues

[2016-09-08 21:06] #1144 closed

[2016-09-08 21:56] craigjensen commented on #1174
Update is deployed in production.  Please give it a try and reopen if needed.

[2016-09-08 21:56] #1174 closed

[2016-09-08 21:56] craigjensen commented on #835
Update is deployed in production.  Please give it a try and reopen if needed.

[2016-09-08 21:56] #835 closed

[2016-09-08 22:10] jameslew commented on #1193
If you want to create a new conversation, just delete the Conversation property on the message before sending a new one and the Builder will create new on the fly.

[2016-09-08 22:16] jameslew commented on #1198
Are you using Application Insights to monitor your bot?  Provisioning app insights for your bot (default is free) and providing the instrumentation key to the Bot Framework is a great way to help in diagnosis as we send events to your app insights instance.

Do you mind if I try talking to your bot from the portal?

From the BotFramework side, for your botid I'm seeing very few messages sent from

[2016-09-08 22:22] craigjensen commented on #459
Update is deployed in production.  Please give it a try and reopen if needed.

[2016-09-08 22:22] Thegaram commented on #1193
@jameslew You mean delete `message.address.conversation`? (We're talking Node.js here.)

So my scenario is this. I have the address of a user on a channel:

[code]

At one point I create a message object with this address and send it to this user using `UniversalBot.send`. This method will take care of creating a new conversation. Let's say the conversation ID of this new conversation is `abcd1234

[2016-09-08 22:45] msft-shahins commented on #1194
C# SDK adds `deleteprofile` scorable by default to dialog module: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/DialogModule.cs#L166. This means that user can type `/deleteprofile` to reset all the contextual stores at anytime. Adding a versioning middleware is in our backlog.

[2016-09-08 22:50] #1194 closed

[2016-09-09 00:06] msft-shahins commented on #1198
Based on the exception in your logs, it means that you have multiple context.Wait(...) calls in your code, probably in your LuisDialog intent handlers. [Here](https://github.com/Microsoft/BotBuilder/blob/44d9667878759f9676c615365a818525ffe00ebd/CSharp/Tests/Microsoft.Bot.Builder.Tests/ExceptionTests.cs#L74) is an example test case causing the `MultipleResumeHandlerException` you are seeing.

[2016-09-09 00:36] puneetsngh commented on #1191
@jameslew is there sdk available in Python for bot framework? because I am using rest api for skype bot

[2016-09-09 02:34] rzmoz opened #1199 "Question: I'm in the Azure Advisors on yammer. To which group should I post questions reg the bot framework if any? Or would you rather keep them here on gh?"

[2016-09-09 03:59] ubreddy opened #1200 "Stateless scaling"
Bot Storage System. is this machine dependent ? if yes, how do we scale users across multiple machines? is there stickiness involved?

session.userData is stored in the storage system and retrieved based on storageCtx.  will this be available if I have multiple servers hosting the bot for scaling purposes?

if not, is statelessness guaranteed?

[2016-09-09 06:36] venkaiahj commented on #1180
Hi @muzahmed , the above is not working for sms, its working for fb, skype.

for sms to work, i have to edit file node_modules/botbuilder/lib/bots/chatConnector.js, in authenticate request function try to change "id" with "Id". it will work only for SMS. If u want to make it work for all of them put both the conditions.

[2016-09-09 07:36] JpEncausse commented on #1134
Well Instead of using Dialogs, I set a flag on a conversation and a callback function. It's not stateless but it works well.

Navigating throught dialogs is really hard for users, so we put all sentences under root dialog and use prompt to ask simple questions

[2016-09-09 08:57] jmendiara opened #1201 "[Question] [Directline] Correlate messages sent by the app"
**Is there a way to correlate messages sent from the app with those managed by directline?**

I want to implement this use case (think in Whatsapp UI)

1. The app starts a conversartion and starts polling that conversation with a `POLLING` request (`GET /api/conversations/XYZ/messages`)
2. The user enters the message `hello` in my app
3. The app shows the message `hello` in the conversation list w

[2016-09-09 09:39] naeemshaikh27 opened #1202 "Time required for the review before publish"
As the publish screen states,

`Publishing your bot opens it up to the world and lets people find it in the Bot Directory or through search. We need to do a quick review of your bot before it’s published. Make sure you take a look at our review guidelines before submitting.`

How quick is this quick review. Just want to know it because I dont find it documented anywhere! Thanks.

[2016-09-09 09:41] jmendiara commented on #1201
I've experimented that issuing a `POST /api/conversations/XYZ/messages` with `"channelData"`, that payload is returned also in the `GET  /api/conversations/XYZ/messages` request, so this can be used for correlation. Is this true?
Does also that `"channelData"`payload reach the bot?

[2016-09-09 10:32] FordSoft opened #1203 "FormBuilderJson nested dialogs"
Hello,

How can I organize nested dialogs and transitions between the dialogue (from parent to child) I use JSON scheme and class FormBuilderJson.

When I use it

[code]
, It turns out that I'm going through all the attached property does not mean that this new dialogue.

[2016-09-09 10:44] shijuamt commented on #1191
@puneetsngh Is it possible to share that rest api request format please

[2016-09-09 10:49] puneetsngh commented on #1191
@shijuamt you can see my repository for Python Skype bot api wrapper

[2016-09-09 11:13] somprabhsharma opened #1204 "Not able to send '_' in hero card title in telegram"
I am getting below error if I try to send '_' in title of hero card.

`{"ok":false,"error_code":400,"description":"Bad Request: Can't parse message text: Can't find end of the entity starting at byte offset 0"}`

It is compulsory for me to send underscore or any other special character in the title as per my need. So I can not remove the '_' from title.

While if I send '_' in simple session.send(

[2016-09-09 12:38] saifali96 opened #1205 "Add Powershell as integrated terminal in VSC for Windows? [Feature Request]"
Guys I love the work you people are doing! Just make it more lovable by adding/allowing Powershell in integrated terminals.

[2016-09-09 13:17] VishalWaman opened #1206 "bot.use / Logging Node.js"
@Stevenic

How can we have a common place where i can log all My Incoming/ outgoing Messages

We need to log all Incoming and Outgoing messages
Message text + UserID

As of now i am able to capture all incoming messages by "bot.use"..

Not sure how can we get outgoing messages

[2016-09-09 13:36] liiver commented on #1198
Hmm, okay, it seems the LUIS thingie itself went abit crazy, so I needed to get a new one. Now it works half way, meaning.
When I have my bot in Conversation, it works and responds to my messages.
But It does not work in my 1:1 conversation.
Is it possible to check somehow, my ID should be 29:1osdU5cKOA-V-qkHLZy8klQ_qX_c8R-tVCJe5x8cewH8
AppId is 3d4d6c46-e2c9-4f41-8ef4-45c46936e98b, BotHandle eldu

[2016-09-09 14:31] txappmkr opened #1207 "Bot Builder for node.js , Normal Button Instead of account_link for FB Messenger"
Created a Bot with MS Bot Framework. Added Facebook Channel, When the Signin Card is sent on FB Messenger, the Connect me Button is being send as a normal button with Web URL but not being sent as a "account_link" button as facebook documentation mandates.
https://developers.facebook.com/docs/messenger-platform/account-linking/link-account

[code]

Looking at the Card Actions.js @ \core\lib\cards\

[2016-09-09 15:06] palmerabollo commented on #1201
I've checked that `channelData` reaches your bot under `session.message.sourceEvent`. But I'm also wondering if that is the best way to correlate messages.

[2016-09-09 15:37] letmaik commented on #920
Are you sure this is completely solved? We are now seeing an additional blank newline at the end of most messages (tested via skype). I haven't tested the on-purpose newlines yet.

[2016-09-09 15:55] jameslew commented on #1207
Thanks for the report, I'll get it in front of the devs and we'll take a look.

[2016-09-09 15:56] jameslew commented on #1205
Is this related to Bot Framework/BotBuilder?  If so, can you clarify your ask?  Otherwise maybe you hit the wrong forum?

[2016-09-09 16:05] jameslew commented on #1204
The error you're reporting is the error we're getting back from telegram when sending your card to the service, we're passing it along.  The _ is a special character in markdown (for italics) so it's possible it's being handled specially.

Two requests:

1) try setting the message TextFormat to "plain"
2) Post the code or JSON here so we can try to repro

Thanks!

[2016-09-09 16:06] jameslew commented on #1202
It turns out the publishing phase is a little variable at the moment.  We've been adjusting how we do it and we've quite a backlog.

In the interim though, the review does not in any way hinder your bot from operating, just from having a place in the Bot Framework directory.  You can still try to publish it to other directories and so on.

[2016-09-09 16:23] saifali96 commented on #1205
Woah! Sorry had two tabs open! I'm using VSC to code the bot in Node through BFW!
Sorry! :)

[2016-09-09 16:23] #1205 closed

[2016-09-09 16:35] brentzucker commented on #392
Facebook supports videos now. https://developers.facebook.com/docs/messenger-platform/send-api-reference/video-attachment

[2016-09-09 17:14] msft-shahins commented on #920
@letmaik Feel free to file another issue with the markdown causing the behavior that you are observing.

[2016-09-09 17:18] MironV commented on #920
@letmaik that sounds like issue #1025 which I filed some time ago. Looks like it hasn't been fixed yet.

[2016-09-09 17:21] tefrati opened #1208 "Adding buttons to the Web Chat Channel"
Hi,

Is it possible to add buttons similar to the quickreplies buttons?

Thanks

[2016-09-09 17:27] jameslew commented on #1199
If you're asking general SDK related technical questions everyone could benefit from the answers to, ask here.  If you're an MS Employee, contact me at my work email and we can chat about internal channels there.

We don't have an active Yammer group for Bot Framework today.  We provide primary support through github here, as well as the [BotFramework] tag on stack overflow.

[2016-09-09 17:33] muzahmed commented on #1095
@tobybrad glad to hear you got it working -- good tip!

[2016-09-09 17:33] #1095 closed

[2016-09-09 17:40] willportnoy commented on #1200
You might be interested in this faq:
https://docs.botframework.com/en-us/technical-faq/#where-is-conversation-state-stored

I assume you're asking about the Bot State service?  It's a remote service so it's available from multiple machines.  It uses etags for resolving concurrency concerns:
https://docs.botframework.com/en-us/technical-faq/#what-is-an-etag--how-does-it-relate-to-bot-data-bag-stora

[2016-09-09 17:40] palmerabollo commented on #672
@Samurais there is an [unofficial Direct Line client in nodejs](https://github.com/rockq-org/DirectLineApi).

[2016-09-09 18:04] ubreddy commented on #1200
Thank you. This answers my question.

[2016-09-09 18:11] muzahmed commented on #1206
@VishalWaman try this:

[code]

closing for now, let me know if you have any further trouble and we'll re-open!

[2016-09-09 18:11] #1206 closed

[2016-09-09 18:41] jameslew commented on #1182
@JpEncausse with the node BotBuilder, you don't need to use sourceEvent actually.  The BotBuilder did a special thing for keyboard handling:

var keyboard = new builder.Keyboard(session).buttons([ … buttons … ]);
var msg = new builder.Message(session).attachments([keyboard]);

That said, I'll paste the nodejs method of using sourceEvent this afternoon; I've got a bug in my sample I'm having someon

[2016-09-09 19:32] jameslew commented on #1208
Webchat doesn't support buttons today.  This is something we'd like to add soon.

[2016-09-09 21:47] muzahmed commented on #1167
@AmineI where you able to get it working?

[2016-09-09 21:53] muzahmed commented on #1036
@JpEncausse were you able to get around this?

[2016-09-09 21:57] #963 closed

[2016-09-09 22:01] chrimc62 commented on #1145
Have you changed the NavigationFormat template?  Normally the template is {&}({}) which should show Location(Downtown).  It looks like it might be defined as ({&}({}) {&}.  Let me know if you did not do this and I will look into it further.

[2016-09-09 22:01] #1145 closed

[2016-09-09 22:05] chrimc62 commented on #937
There is no Facebook persistent menu support in FormFlow directly, but you can override the IFormBuilder.Prompter with your own implementation of PromptAsyncDelegate which can do any mapping you like including to Facebook persistent dialogs.

[2016-09-09 22:05] #937 closed

[2016-09-09 22:07] chrimc62 commented on #994
You can override the IFormBuilder.Prompter with your own implementation of PromptAsyncDelegate which can do any mapping you like.  The default will now also automatically generate attachements from the extended attributes available in DescribeAttribute.

[2016-09-09 22:07] #994 closed

[2016-09-09 22:07] #1051 closed

[2016-09-09 22:07] #1070 closed

[2016-09-09 22:08] chrimc62 commented on #1102
By default the extended information in DescribeAttribute should generate cards for you.  You can also override the IFormBuilder.Prompter with your own implementation of PromptAsyncDelegate which can do any mapping you like.

[2016-09-09 22:08] #1102 closed

[2016-09-10 00:33] chrimc62 commented on #1192
This seems to work fine on the current release if you return new ValidateResult() { IsValid = true} from your field validation.

[2016-09-10 00:33] #1192 closed

[2016-09-10 00:45] chrimc62 commented on #1203
I don't understand your question.  FormFlow works across the whole structure which can include nested complex objects.  FormFlow does not though support things like an array of complex objects.  It would be great to add that and you should add it to user voice if that is what you are looking for.

[2016-09-10 03:43] #1200 closed

[2016-09-10 06:45] FordSoft commented on #1203
Thanks for the answer, the question is closed. I made the transitions between dialogue manually.

[2016-09-10 06:45] #1203 closed

[2016-09-10 10:17] AmineI commented on #1167
No, I wasn't. Here is a [screenshot](http://i.imgur.com/PhsDfHs.png) of messenger on my computer (website client)
On Skype it's perfectly functional and shows the carousel, but not on messenger.

[2016-09-10 19:45] jameslew commented on #1167
I think that I missed that you're trying to do this without the buttons.  We're beholden to the rules Facebook requires.  it doesn't look like their API reference says they require the buttons for multiple cards - but that seems to be the behavior.

I'll check with the SDK team to see if they believe otherwise, but this may be a Facebook behavior.

[2016-09-10 19:50] jameslew commented on #1193
Tagging in @Stevenic to correct me but if I read correctly, a and b are not mutually exclusive.  You can re-use an existing conversation id if you wish to continue a conversation, or clear the conversation id if you want to get a new one (then cache and re-use it when the user responds to you).  That would allow essentially (n) conversations with the user.  Whether that actually is supported by an

[2016-09-10 19:52] #1208 closed

[2016-09-10 20:10] AmineI commented on #1167
Oh, okay. I thought it wasn't related since, until recently, I've always been able to display carousels, even with only text in attachments.

[2016-09-10 23:41] AmineI commented on #1167
Indeed, even the featured Poncho bot is using a carousel without buttons, so it's definitely related to bot framework :) .

[2016-09-11 09:19] ubreddy commented on #957
Its almost a month since being reported @dandriscoll. this is a critical issue rendering the channel redundant till it is fixed. is there a date by which we can expect this fix?

[2016-09-11 19:38] dandriscoll commented on #957
The fix went out a few days ago. You're still seeing problems?

[2016-09-12 02:01] ubreddy commented on #957
Confirming this is fixed. Thanks a lot....

[2016-09-12 02:12] ubreddy opened #1210 "HeroCard and Carousel layout not working web channel"
I am using Skype Demo on web channel.

hero card is being displayed without buttons.
![image](https://cloud.githubusercontent.com/assets/2233628/18422756/422b84dc-78bc-11e6-913e-a4e72ca6489b.png)

Carousel layout is being displayed as below...
![image](https://cloud.githubusercontent.com/assets/2233628/18422773/6a242106-78bc-11e6-84ed-b5566c8d893b.png) and one after then other...

[2016-09-12 02:35] dandriscoll commented on #1210
Hi @ubreddy, the web chat control does not support cards. The next version will support them.

[2016-09-12 02:37] dandriscoll commented on #1201
Hi @jmendiara and @palmerabollo, we reassign IDs within the service, so that's not going to be a field you can use. ChannelData is indeed your best option.

[2016-09-12 03:25] #957 closed

[2016-09-12 03:47] ubreddy commented on #1210
Thanks @dandriscoll. Any idea on how soon that would be?

Plus is it possible to customise the styling including the inner controls in next release?

[2016-09-12 03:54] dandriscoll commented on #1210
I don't have specifics to share but styling is definitely something we're working on.

[2016-09-12 03:54] #1210 closed

[2016-09-12 05:53] hughcameron commented on #1181
Hi there! I'm experiencing the same issue. As a possible fix can we get the API key when the bot is added to the Slack team at the authentication point? The Bot Framework could send the event i.e. "bot registered" with API key and bot Slack ID.

[2016-09-12 06:13] pandubalraj opened #1211 "Getting 401 unauthorised response"
Hi,
I have created a bot application using NodeJS SDK.
I deploy the application in azure with default azure url http://tschatterbot.azurewebsites.net.
And the url is working fine with https://tschatterbot.azurewebsites.net with **HTTPS**

I am getting "Accepted" response from the Test connection to you bot in https://dev.botframework.com page.

When I embed the code in web chat. I am not getting a

[2016-09-12 07:48] JpEncausse commented on #1182
I tried with and without new builder.Keyboard() but it doesn't work the output message do not contains the buttons.

If I play aroud with underlaying code the message contains buttons. It is displayed in emulator but not in Facebook

[2016-09-12 08:56] changhc commented on #957
May I ask how you fixed it?
Thanks.

[2016-09-12 11:45] ranjan-ranjan opened #1213 "getting input from bot if it posts message twice"
I am doing unit testing on a bot made by me and I am following https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Tests/Microsoft.Bot.Sample.Tests
The problem I am getting is when the bot is doing `await context.PostAsync("string");` twice. how do I do `Assert.IsTrue(toUser.Text.ToLower().Equals("string"));` ? Kindly help by giving example.

[2016-09-12 11:52] inornos commented on #1211
Same Problem Facing in C# When sending some request in Emulator It not wrking and giving error like 401 Unauthorised Please help
![image](https://cloud.githubusercontent.com/assets/14770190/18434858/a1f45ca8-78a4-11e6-9359-3594ad687a93.png)

[2016-09-12 13:48] JpEncausse commented on #991
Hi,
I'm in NodeJS, I set a flag on "contactRelationUpdate" but I don't understand how to display the "greeting" in facebook messenger

The GetStarted explained here:
https://developers.facebook.com/docs/messenger-platform/thread-settings/get-started-button

[2016-09-12 14:27] dandriscoll commented on #957
This was a bug in the JavaScript within the chat control.

[2016-09-12 14:55] dandriscoll commented on #1211
Hi @pandubalraj, and @inornos, have you followed the steps in the auth troubleshooting guide, and specifically the instructions in Step 2?

https://docs.botframework.com/en-us/support/troubleshooting-bot-framework-authentication/

[2016-09-12 15:09] cristianchaparroa opened #1214 "[Feature Request] Go Lang Support"
Hi, are there some plans to implement a `BotBuilder` support for `Go Lang` ?

[2016-09-12 15:30] Kris-Nimmagadda opened #1215 "Connector to other channels - apart from the standard channels - No DirectLineAPI"
We are trying to integrate BotConnector with our custom Chat platform. For which I guess we need to implement IConnectorClient. However, when I look at ConnnectorClient class it seems to be a Partial class and the actual methods are implemented elsewhere which is not part of the published source code.

What is the mechanism to implement my own Connector for my Channel ? It is very crucial for us t

[2016-09-12 15:41] jameslew commented on #1215
Right now we're not enabling third parties to create their own custom channels for the Bot Framework.  It's an open request for the future, but we're not there right now.

Your best bet would be to consider the Direct Line channel which gives you an API you can talk to from within your own custom app, channel or other.

[2016-09-12 15:43] Kris-Nimmagadda commented on #1215
So with DirectLineAPI will I be able to render the Attachments compatible with my Platform.  I don't mind doing some custom coding here.

[2016-09-12 16:07] jameslew commented on #1215
You'll have access to the attachment objects to render them as part of the message; you can read more about the DirectLine API here: https://docs.botframework.com/en-us/restapi/directline/#navtitle

[2016-09-12 16:08] jameslew commented on #1167
Okay, will file as a bug and we will investigate.

[2016-09-12 16:11] jameslew commented on #1181
We will look at this as a feature request; however right now it's not in our API Schema or protocol so it would take multiple updates and not something we will do as a trivial change. Can you clarify more the scenario you're trying to solve by doing this (so I can reflect priority)?

[2016-09-12 16:13] jameslew commented on #1187
I'm going to close this for now assuming your question has been answered.  Feel free to create a new one if we didn't appropriately cover the question.

[2016-09-12 16:13] #1187 closed

[2016-09-12 16:13] jameslew commented on #1191
@puneetsngh no, there is not at this time.  I thought you might have been building one :).

[2016-09-12 16:14] jameslew commented on #1199
I'm going to close for now assuming I've answered your question.  If not please open a new issue.

[2016-09-12 16:14] #1199 closed

[2016-09-12 16:16] jameslew commented on #1214
At the current time we're focusing on the Node & .Net SDK's and making them the best they can be for building great bots.  We're always looking for feedback though, I'll increment the count on the feature request for GoLang support.

[2016-09-12 16:24] dandriscoll commented on #1215
The current version of Direct Line requires you to put your attachments in the ChannelData field but we're upgrading the protocol for the next release so this won't be necessary.

[2016-09-12 16:35] letmaik commented on #987
This is quite helpful but the [description](https://docs.botframework.com/en-us/technical-faq/#where-is-conversation-state-stored) for the Bot Framework Emulator does not match the actual behaviour I'm seeing:

When I restart the bot application and use the emulator then I am still in the same dialog step. This means that it is not using the in-memory storage. How is this possible? Where is it sto

[2016-09-12 17:05] Stevenic commented on #1207
If you look at the implementation for `SigninCard.button()` you'll see that it adds the signin button for you. This action type is only valid for SigninCards which is why it's not a static off the CardActions class:

[code]

I'll add the dev for the facebook channel as it sounds like any bug would be at that layer...

[2016-09-12 17:09] Stevenic commented on #1193
Sorry for the late reply...

@Thegaram  try using `bot.beginDialog()` instead. It we'll create a new `conversationId` just like `send()` does but you'll be able to save the address object with the new conversationId within your dialog handler.

[2016-09-12 17:12] Stevenic commented on #1182
@JpEncausse can you show me the code you're using to send a `Keyboard` which isn't working?  When you use `Prompts.choice()` for Facebook we build a keyboard under the hood so it should certainly be working.

[2016-09-12 17:13] Kris-Nimmagadda commented on #1215
@dandriscoll, thank you much, now I get the issue.
@jameslew That's seems rather unpleasant, may be I am not able to place the reasons. I have been under the impression that the whole code is open source. May I know why some code is hidden.
Also, it would help if you could throw some light on the the trade offs between using DirectlineAPI and using Custom Channel connector (had it been exposed).

[2016-09-12 17:17] palmerabollo opened #1216 "Feature request: add a unique session identifier"
It would be interesting to add a unique id to each `Session`. That way we could track sessions in logs, etc. As I workaround, I currently have a middleware (nodejs) that adds a `sessionId` field to `session.conversationData`, but I think it's not a good enough solution.

The new session id could be a field on its own or a field in the existing `session.sessionState`.

[2016-09-12 17:17] Stevenic commented on #1179
@JamesHay if you look at your code you always call `prompt()`, even when you should be running your validation logic.  You're missing an else block.

[code]

[2016-09-12 17:21] Stevenic commented on #1178
The string you pass into matches() is the Intent to match not a dialog name.  You need to break your waterfall out as a separate dialog so:

[code]

[2016-09-12 17:22] Stevenic commented on #1178
Also be sure you ultimately call endDialog() at some point, otherwise you'll be stuck in `/startActivity`

[2016-09-12 17:26] Stevenic commented on #1171
If you look at the note in the reference docs for [IntentDialog.matches()](https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.intentdialog.html#matches) they get passed in via the [args](https://docs.botframework.com/en-us/node/builder/chat-reference/interfaces/_botbuilder_d_.iintentrecognizerresult) param of your first waterfall step. I realize that's not super

[2016-09-12 17:52] Stevenic commented on #1167
Added tom to verify that the channel isn't miss interpreting the facebook rules.

[2016-09-12 17:55] Stevenic commented on #1161
@eanders-MS any follow up on this? The contact info should be in the source event right?

[2016-09-12 18:10] Stevenic commented on #1139
@santhonydo did you add a "start" script to you package.json file?  Heroku won't automatically start your bot. You have to configure it to start node for you

[2016-09-12 18:14] Stevenic commented on #1139
Here's a sample:

[code]

[2016-09-12 18:15] jameslew commented on #1216
Currently we have the Conversation Id and the Activity ID.  The definition of Session though is variable and therefore we've left it up to the developer to define.  Is it defined by gaps in the conversation, or a completed transaction of some part, etc?

[2016-09-12 18:17] Stevenic commented on #1134
Can you share a simplified version of your code and I can potentially provide a little feedback on structure

[2016-09-12 18:20] Stevenic commented on #1118
@vinnitu that's correct... You can also enable [gzip compression](https://docs.botframework.com/en-us/node/builder/chat-reference/interfaces/_botbuilder_d_.ichatconnectorsettings.html#gzipdata) for your `ChatConnector` but in general we recommend treating the data bags (especially userData) more like cookie storage.  It's not a replacement for all storage.

[2016-09-12 18:22] Stevenic commented on #1090
@giriganapathy sorry for the delay. did you get this figured out?

[2016-09-12 18:25] Stevenic commented on #1064
@iangriggs sorry for the delay... For facebook, conversationId can probably just be the userId and you're correct it's not that relevant.  It becomes relevant when you can have group conversations as the conversationId might be the ID of either a user or the group you're replying to. On dlack for instance this is typically the channel ID you're replying to. Make sense?

[2016-09-12 18:28] Stevenic commented on #962
Sorry I missed this. Here you go:

[code]

[2016-09-12 18:50] samartioli opened #1217 "[Feature Request] Node SDK Build Script Documentation"
Please include the build script you use to build out the node subfolder into a release for NPM.

[2016-09-12 19:05] jameslew commented on #1215
@Kris-Nimmagadda I'm not sure I understand the "unpleasant" part.  What code are you referring to being hidden?

The biggest tradeoffs would be that adding a channel adds the configuration UI, etc. so other bot developers can consume the channel.  Otherwise there isn't a tangible difference.

[2016-09-12 19:50] Kris-Nimmagadda commented on #1215
Thank you for your quick response, when I said hidden code, I am referring to the  full implementation of IConnectorClient which actually seems to be not part of the source code here on Git. With lot of good work from you all, slowly the community is realising that Microsoft is not creating dependencies and lock-ins. It's just that some part of the code responsible for running my Bot is not in my

[2016-09-12 20:10] palmerabollo commented on #1216
You are right, the current `session.message.address.conversation.id` sounds good.

[2016-09-12 20:10] #1216 closed

[2016-09-12 20:23] JpEncausse commented on #1036
@muzahmed no it's in my todo to dig why. For a PoC my workaround was to host files on Dropbox. But I have to understand

[2016-09-12 20:23] jameslew commented on #1182
So here's a variant using channeldata.  note - I've confirmed with the Facebook reference, you still have to have a title for your quickreplies or it will just drop the message on the floor silently.

`function oneOffTests_facebook_quick_replies(session) {

    var replyMessage = new builder.Message(session)
        .text("Testing");

    replyMessage.sourceEvent({
            facebook: {

[2016-09-12 20:38] JpEncausse commented on #1182
Ah ah thanks @jameslew so we need a title ! :-( I thought quickreplies would be a workaround to avoid title and get buttons

We saw that on some facebook bots

Hum according to the doc it's text OR attachement ? It should works ?

@Stevenic

[code]
Then I set the address in a common code, and yes there is no title.

[2016-09-12 20:43] JpEncausse commented on #1134
My Workaround ? Very simple:

I store a callback for a given conversation, then later, on dialog / I call it back
[code]

I know it's not stateless but my usecase is to make it work in Node-RED and it works very well :-)

[2016-09-12 20:57] JpEncausse commented on #1182
@jameslew tested you code but get nothing only "testing"

[2016-09-12 21:06] telkomops commented on #1207
Thanks Stevenic, the facebook support mentioned that with the above code, the card went as a normal web url instead of account_link, option.

[2016-09-12 21:59] msft-shahins commented on #1213
You can use the BotToUserQueue as the IBotToUser implementation: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Tests/Microsoft.Bot.Builder.Tests/DialogTestBase.cs#L99

This causes all of the messages from bot to user to be queued in the queue you pass to the BotToUserQueue:
https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Tests/Microsoft.Bot.Builder.Tests/DialogTestBase.cs#L

[2016-09-12 21:59] #1213 closed

[2016-09-12 22:16] thermous commented on #392
this is supported by us exactly as your original question.

[2016-09-12 22:28] dandriscoll commented on #1215
Hi @Kris-Nimmagadda, the implementation of IConnectorClient is available at https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Connector/ConnectorAPI/ConnectorClient.cs.

The problem with registering a channel is not one of source, it's an issue of security, as we can't allow a malicious developer to impersonate an existing Bot Framework channel.

To allow developers

[2016-09-12 22:48] hughcameron commented on #1181
Hey @jameslew - sure thing!

The scenario we're aiming to solve occurs when a user first installs the bot into their team.

The bot we've built operates via direct message instead of a channel - useful for having discrete conversations. However, beta testing has found that most users won't raise a Direct Message conversation unless the bot does so first.

Therefore, we need to know two things - wh

[2016-09-12 22:54] dandriscoll commented on #1177
Closing issue as this is most likely an error in the bot.

[2016-09-12 22:54] #1177 closed

[2016-09-12 22:54] dandriscoll commented on #1176
Followed up offline. This is an error generated within the bot.

[2016-09-12 22:54] #1176 closed

[2016-09-12 23:21] willportnoy commented on #1160
@cglong LuisModelAttribute is just the POCO container for the configuration - as in those items, you can instantiate the LuisService with LuisModelAttribute instances that you obtain from whatever source you like (e.g. your DI container).

I'm not adverse to the interface, if you feel inheriting from attribute makes the LuisModelAttribute too heavy.

[2016-09-12 23:22] willportnoy commented on #991
@JpEncausse you may want to open a new issue for your question.  I suspect it may require channel data, but I'm not sure.

[2016-09-12 23:24] willportnoy commented on #987
@letmaik Perhaps you're using some combination of ngrok and a deployed bot?  Are you using the Node version of the SDK?  I'm not sure of its logic for determining the state service uri - you may want to open a new top level GitHub item for discussion.

[2016-09-13 01:21] onikiri2007 opened #1218 "Is there a way to lookup bot's slack user id without session?"
Hi,
I'm trying to use the Slack's Event api to receive the event from slack and I'd like to send the message when event has been received via ChatConnector however since I don't have a session I won't know the bot's slack user id to create the address object.

Is there a method to retrieve bot's slack user id based on the team id?

[2016-09-13 02:46] remms opened #1219 "[Question] Finding conversations / users"
Hello,
My objective is to create a proactive conversation knowing only user or slack channel alias;
Does it bridge the API for extra channel features, for example: List of users from a Slack team, so that I can find the id for the user?

Thanks,
Renato

[2016-09-13 03:46] pandubalraj commented on #1211
Hi @dandriscoll,

Thanks for your step. I have rectified the issue. The issue occurs due to invalid Microsoft APP ID & APP Password. I have created a new one and the issue is resolved by giving the proper endpoint url with proper 'https' url.

@inornos, please check your app id and password and its configuration in the C#. I hope that will rectify your problem.

[2016-09-13 03:46] #1211 closed

[2016-09-13 04:50] afficionaddo opened #1221 "Hot to show a 'typing bubble' & send 'messages with a delay' to the end-user"
Hi,
1. While I am fetching data from DB, I want to show a 'typing bubble' to the user.
So how to implement this please suggest.

2. How to send messages with a bit of delay so that it feels more of a human chat?

[2016-09-13 06:28] eanders-MS commented on #1161
It looks like we weren't supporting Telegram's contact field. I've corrected this problem and the fix will go live in the next production deployment. We update production every week or so. I will drop a note here when we make the next update. If you're still experiencing this issue after that time please reply here and we'll continue to troubleshoot.

[2016-09-13 06:28] #1161 closed

[2016-09-13 06:40] jfversluis commented on #455
Encountering this problem now as well with Telegram

[2016-09-13 06:42] DrWala commented on #1152
Hi, any update?

[2016-09-13 07:25] 0GiS0 commented on #1133
Hi muzahmed,

I have the calling webhook and I've tested the code without session.send and it works. For instance if I use this fragment:

`calling.Prompts.choice(session, new calling.PlayPromptAction(session).prompts(list), [
            { name: 'dtmf', speechVariation: ['dtmf'] },
            { name: 'digits', speechVariation: ['digits'] },
            { name: 'record', speechVariation: ['record

[2016-09-13 08:04] Kris-Nimmagadda commented on #1215
Gosh ! I seriously misunderstood the scenario. Sincere apologies @jameslew , there is nothing unpleasant about this.  I somehow was thinking some of the IConnectorClient was not fully implemented and hence it was marked as partial class, missed out and that is why my initial question was that. Thank you much for the clarifications and your immediate help @dandriscoll  and @jameslew .  Appreciate i

[2016-09-13 08:40] letmaik commented on #987
No, I don't use ngrok and the bot is not deployed. I use Node. I will open a new issue then.

[2016-09-13 08:47] letmaik opened #1222 "Conversation state persisted when using emulator (Node)"
(continuation from https://github.com/Microsoft/BotBuilder/issues/987#issuecomment-246407137)

The [Bot Framework docs](https://docs.botframework.com/en-us/technical-faq/#where-is-conversation-state-stored) say the following:

When I restart the bot application and use the bot framework emulator then I am still in the same dialog step. This means that it is not using the in-memory storage. How is

[2016-09-13 09:11] MiroValchev commented on #308
I haven't used BotBuilder for a while. It seems there is some storage implementation, but can't find anything in the repo (aside from MemoryStorage). Anyway, I wrote a simple SQLite storage for Slack. Hope it can be usefull here as well...
https://github.com/MiroValchev/botkit/blob/36cb57d57cd8a3a44617dce7e5b63ae2ab3dbb58/lib/storage/sqlite_storage.js

[2016-09-13 09:16] ranjan-ranjan commented on #1132
Wrong results are being shown. The values are not being assigned as shown in Immediate Window.

[2016-09-13 10:18] ejadib commented on #1222
@letmaik Are you also closing the emulator?

[2016-09-13 11:48] alexsorokoletov commented on #957
Confirming this is closed. Thank you guys!

[2016-09-13 13:12] inornos opened #1223 "Could not load file or assembly 'stdole' or one of its dependencies"
My Bot Not Working Because of this error after publish on my domain **Could not load file or assembly 'stdole' or one of its dependencies. Strong name signature could not be verified.  The assembly may have been tampered with, or it was delay signed but not fully signed with the correct private key. (Exception from HRESULT: 0x80131045)**

Please help

![image](https://cloud.githubusercontent.com/a

[2016-09-13 13:18] letmaik commented on #1222
I did not, and in fact this resets the conversation. But still, which part is actually saving the conversation state and where if I don't restart the emulator?

[2016-09-13 13:22] inornos commented on #1211
Now it running on in my local machine But when i publish project on my domain it not working its giving me this error **

**

![image](https://cloud.githubusercontent.com/assets/14770190/18474892/20475c66-7979-11e6-9f59-1b14e480939c.png)

[2016-09-13 14:01] jameslew commented on #1222
@letmaik the emulator provides an implementation of the client state API (in memory in the emulator).  When you restart your bot app and make a new request, if the emulator is still running it will continue to have the state storage available for the bot.

[2016-09-13 14:05] jameslew commented on #1221
@afficionado, depending on what channel you use, you can use the "typing" ActivityType to communicate to the user that you're typing.  Which channel are you working on?

[2016-09-13 14:07] jameslew commented on #1218
We don't have that particular method, but it should be attached to the recipient field of any incoming message to the Bot.  There may be additional data in the ChannelData field you can use.

[2016-09-13 14:34] craigjensen commented on #1219
Slack messages now contain the Api token in ChannelData that you can use to make direct calls to the Slack Api.  The [users.list](https://api.slack.com/methods/users.list) method will get you all users in the team, etc.

[2016-09-13 14:34] #1219 closed

[2016-09-13 14:58] craigjensen commented on #1218
We don't yet support Slack's new Events api but are looking into adding support in the future.  I may not be understanding your question correctly, but it sounds like you are planning on implementing your own Events based integration with Slack.  Is there a reason you can't use our current message-based Slack integration?  That will provide you with all the context you need to send replies.

[2016-09-13 15:30] letmaik commented on #1222
Ah I see, that makes sense. I think I was a bit confused that there was a MemoryBotStorage implementation in the botbuilder library, but this is probably used for the console bot, right?

[2016-09-13 17:50] andrecordeiro opened #1224 "send external message to my bot"
How do I get a php script, access my endpoint that is in azure, and send a message to my bot ?

[2016-09-13 18:04] andrecordeiro commented on #75
@FedericoElles  , you could make sending news ? I'm also hitting me with this. Best regards.

[2016-09-13 18:21] reyesrico commented on #1030
It seems that you are not having this issue. If you still have more comments, please reopen the issue. Thank you.

[2016-09-13 18:21] #1030 closed

[2016-09-13 19:01] #1159 closed

[2016-09-13 19:03] jameslew commented on #1181
Thanks @hughcameron I'll get that into the enhancement request.  I can certainly see the value there.

[2016-09-13 19:03] #1181 closed

[2016-09-13 19:04] jameslew commented on #1182
@JpEncausse make sure that you have the latest SDK, and verify on the web version of the Facebook UI in case your client isn't up to date.  I know the code works with the latest public node SDK.

[2016-09-13 19:05] #1202 closed

[2016-09-13 19:06] jameslew commented on #1204
If those steps didn't work, please raise another issue, closing this item as it hasn't had any activity.

[2016-09-13 19:07] jameslew commented on #1215
Thanks!  I'm assuming this is closed then.

[2016-09-13 19:07] #1215 closed

[2016-09-13 19:49] liiver opened #1225 "Skype group chat messages do not reach LUIS"
There seems to be some wierd stuff going on between my Bot and LUIS framework
From my 1:1 conversation with Bot, LUIS works nicely and messages reach it (I can also see it from the LUIS logs)
But with My group chat that I created and also added Bot to it, from there the messages dont reach LUIS. Or atleast they dont seem to reach the correct one. I have tried to delete the whole LUIS app and creat

[2016-09-13 20:10] liiver commented on #1225
Is there a a way that this LUIS AppId I specify in my dialog header gets "stuck" somewhere and it uses the old one?

[2016-09-13 20:15] msft-shahins commented on #1132
@ranjan-ranjan I cannot follow what you mean by wrong results being shown in the immediate window. For test cases, channel id is set to `test`: https://github.com/Microsoft/BotBuilder/blob/1958a3f946c2e8a540196b7d12fd15255932ce7c/CSharp/Tests/Microsoft.Bot.Builder.Tests/DialogTestBase.cs#L129

An BotIdResolver will set the botId to `TestBot`: https://github.com/Microsoft/BotBuilder/blob/1958a3f946

[2016-09-13 20:17] danmarshall commented on #965
Hi @rohanar can you verify that this issue is resolved for you?

[2016-09-13 20:27] willportnoy commented on #1225
I presume you're using the Node SDK?

@Stevenic is the LUIS AppId serialized as part of the dialog state in Node?

[2016-09-13 20:28] willportnoy commented on #1224
Since the bot is a web service, you can always open up another web endpoint to reach your bot's code.

If you want your custom message to come in on the same activity endpoint as used by the Bot Framework, it's more involved since you can't impersonate the authentication added by the Connector.  In that case, DirectLine might be a method to contact your bot on that endpoint.

[2016-09-13 20:31] willportnoy commented on #1223
I don't believe the Bot Framework has a "stdole.dll" file, but if you want to prevent ASP.NET from opening the file while compiling the contents of the bin directory, you can use a solution like this (different cause, possibly the same solution):

http://blog.willportnoy.com/2011/07/badimageformatexception-with-aspnet-and.html

[2016-09-13 20:32] willportnoy commented on #1222
@letmaik I believe that's accurate that MemoryBotStorage is used for the console bot.

[2016-09-13 20:36] liiver commented on #1225
no, I'm using C#. But something is totally weird with it. When I type my question into 1:1 chat, it returns with the intent I created in Luis and all is ok.  But when I type exact same question to my groupchat, where the bot also is (with the @botname prefix) then it still ends up in Luis None flow somehow

[2016-09-13 20:43] willportnoy commented on #1225
The LuisDialog has a reference to a LuisService which stores a LuisModelAttribute, and I believe these are all serialized with the dialog stack state, so if you changed LUIS AppIds, it's possible it's pointing to the old one.  Retraining and republishing a LUIS model should not change the AppId though.

In a group conversation, the dialog stack state would be stored in the per user in conversation

[2016-09-13 20:51] #1201 closed

[2016-09-13 20:51] #1052 closed

[2016-09-13 20:53] puneetsngh commented on #1191
I created a wrapper for Skype bot api...and wanted to support other channels too but the documentation is not very conducive for developers other than c# or node.js

And for the issue I raised, I think the msg to my bot coming from emulator as I earlier was using `apis.skype.com`. Now I switched to serviceUrl. I will verify and inform here soon

[2016-09-13 21:32] oztheozoz opened #1226 "Unicode Null Characters & Adding Entity to Luis.ai causes Training to Fail"
If you have no custom entities created on Luis.ai but get a training failed error as soon as you add one, you may want to check if you have unicode null characters in your exported JSON. A couple of weeks back we added training utterances with multiple spaces before the start of the utterance. This caused unicode null chars ("\u0000") to be added to our JSON. There were no problems until we tried

[2016-09-13 21:32] oztheozoz commented on #1226
Closing because this is fixed.

[2016-09-13 21:32] #1226 closed

[2016-09-13 21:47] iangriggs commented on #1064
@Stevenic many thanks for responding. I'd come to that conclusion so good to hear you confirm that directly. The only difference I made since logging this issue was in using the bot identifier, rather than the user identifier as the conversation id. Using that seemed to flow through nicely into how our custom storage handler handled saving both private and global conversation state with both user

[2016-09-13 22:30] onikiri2007 commented on #1218
HI,
So I was trying to implement similar scenario like one in here https://github.com/Microsoft/BotBuilder/issues/1181 via Slack event api.
However I can't send the message to the user via bot since I don't have the bot user id.

[2016-09-13 23:57] dandriscoll commented on #455
Hi folks, a TaskCanceledException is a timeout when connecting to your bot. We try for 15 seconds and give up and log that exception.

You can try to issue a command to your bot with the Bot Framework Emulator. If you notice the connection is slow the first time you connect, that is likely the problem.

[2016-09-14 00:12] dandriscoll commented on #1223
You can also use the Fusion log to get more detail on assembly load errors. https://msdn.microsoft.com/en-us/library/e74a18c4(v=vs.110).aspx

[2016-09-14 02:46] dandriscoll commented on #945
Closing this issue. Please at-mention me if you'd like to reopen, or file a new issue. Thanks

[2016-09-14 02:46] #945 closed

[2016-09-14 03:21] dandriscoll commented on #1106
Hi all, most of what's in the thread is correct but I wanted to clarify one thing.

In the Bot Framework, conversations don't have a fixed expiration and they don't expire the same way across channels. Web Chat conversations are fairly ephemeral, whereas SMS conversations (which are identified by two phone numbers) don't have a fixed start or end. In most cases, the client is not involved in deter

[2016-09-14 03:36] dandriscoll commented on #1020
Closing as the behavior for Direct Line 1.0 is locked and this will be fixed in the next revision.

[2016-09-14 03:36] #1020 closed

[2016-09-14 03:39] dandriscoll commented on #1148
Closing this issue as SSL/TLS is industry standard for securing communication and verifying the identity of the service you are calling.

[2016-09-14 03:39] #1148 closed

[2016-09-14 03:46] dandriscoll commented on #982
I think all of these will be handled by the next version of Direct Line, including the ability to trigger the end of a conversation. We don't have a date for that yet, but it's in the works.

[2016-09-14 03:46] #982 closed

[2016-09-14 03:48] dandriscoll commented on #1154
Hi @mephisto83, I believe @willportnoy is correct that this is due to a version mismatch. Please take a look and let us know if fixing the versions does not address the problem.

[2016-09-14 04:53] BrainSlugs83 opened #1227 "BotData.SetProperty throws if value is null; null is a valid and meaningful value that I would like to store."
Currently, there's no way to unset a reference type value (i.e. put it back to `null`), and in my bot, this is something that I would like to be able to do.

Further, `null` is a meaningful value, and it's very common for a developer to want to store it in a property bag, etc. (and it has a different meaning that is separate from `string.Empty`, etc.)

Here is some sample code that triggers the is

[2016-09-14 05:07] jmendiara commented on #1201
Thanks @dandriscoll! A documentation update on the web site clarifying DirectLine API payload meaning and would be much appreciated.

[2016-09-14 05:13] dandriscoll commented on #1201
We've got a raft of documentation coming for the next release. I may patch up the old docs too a bit later.

[2016-09-14 05:50] afficionaddo commented on #1221
Facebook messenger.

On Tue, Sep 13, 2016 at 7:35 PM, jameslew <notifications@github.com> wrote:

[2016-09-14 05:52] eanders-MS commented on #1152
Hi @DrWala, apologies for the delay. Before we make a fix I'd like to understand a little better what you think correct behavior should be here. Would you expect markdown to be stripped from the message? Or, would markdown formatting remain, and be treated as plaintext? I'm guessing the latter.

[2016-09-14 06:33] liiver commented on #1225
The problem is that I wanst able to send the " /deleteprofile" command properly into the Skype groupchat. In 1:1 the /deleteprofile works nicely. Is there some other way to clear out this dialog stack state programmatically?

[2016-09-14 07:59] liiver commented on #1225
It seems that "stuck" somewhere else than user in coversation state. If I add a new participant to the conversation, then indeed it WORKS for the new participant (duh). But for me it is not, pointing to some other LUIS probably.
But this is also weird, that even If I create a totally new chat with the Bot, It still fails for my user. I would expect the new chat Id is totally different and everythi

[2016-09-14 08:16] strangecyan opened #1228 "ChatConnector.send does not go through 'send' middleware."
A proactive message sent via ChatConnector.send does not go through the 'send' middleware. Is this intended behaviour?

[2016-09-14 08:23] chinchang commented on #1225
+1 Same issue. I am using Node SDK.

[2016-09-14 09:14] somprabhsharma opened #1229 "How can I check if the message got delivered to user or not?"
I want to check if the message sent by bot to user got delivered or not so that I can resend the message in case of non delivery. Is there any way to check this ?

[2016-09-14 09:41] rohanar commented on #965
Much better - Thanks.
However occasionally, it delays sending a response until you issue a subsequent/next command/utterance. When this happens it returns both the response to the new and the previous commands together. So the responses won't go missing now.
This issue leads to an error when your utterance is a reply to a prompt. This happens arbitrarily and I can't give you exact sequence of comm

[2016-09-14 09:59] haggaishachar commented on #1171
Hey Steve,
Thank you for this info, it's helpful.

I was hoping though for something less intrusive, something that would not require me to touch the dialog's specific code.

My goal is to develop a middleware that can help me (and others) keep track of the recognized intents and to use this info to better optimize the model.

BR,
Haggai.

[2016-09-14 11:36] ranjan-ranjan opened #1230 "sample tests where response is coming from https://www.luis.ai/"
What are these test for https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Tests/Microsoft.Bot.Sample.Tests?

1) To test Bot Framework, or

2) To test the bot that I have created.

I am asking this because `SetupLuis` is used in `SimpleAlarmBotTests.cs`, which is a method of `LuisTestBase` class. And the parameter to `SetupLuis` is `SetupLuis<SimpleAlarmDialog>(luis, a => a.SetAlarm(null,

[2016-09-14 12:36] rehtinavelmoorthy opened #1231 "Bot is not working as expected."
I am developing one chat bot using Microsoft Bot Framework in NodeJs. Most of the time it works perfectly as expected. But sometimes when I am communicating with the bot, I'm not getting the response immediately. After entering the second question it is responding both the questions continuously. Help me to fix this issue. Should I do something on the server side?

[2016-09-14 13:25] ernanirst opened #1232 "Question: How to Allow Third Party Systems change the bot state for a specific user"
Hey guys, I'm having trouble to think about a scenario with Bot Framework.

Let's say I need my customer to pay for a product, because I'm using facebook I will probably have to get the user to another page/app so he/she can pay for it.
But, once the customer payed, how do I notify my bot that the user has paid? Well, I'm using restify, so the way would be create an endpoint that receive a HTTP me

[2016-09-14 13:59] dandriscoll commented on #1229
Hi @somprabhsharma, most of the platforms we connect to guarantee delivery within the system as long as your POST to the Bot Connector service was accepted.

However, most systems do not guarantee delivery to a particular user. The user may uninstall the app and never see the message.

In most cases, though, a successful POST means the message will be made available to clients. The only exception

[2016-09-14 14:05] dandriscoll commented on #1231
Hi @rehtinavelmoorthy, which channel are you using?

[2016-09-14 14:53] dandriscoll commented on #1099
Hi @TechWatching, we're going to patch up the emulator in the future so it drops the empty arrays. Typically code that processes JSON should allow emptys to be missing, null, or empty.

[2016-09-14 15:35] samagonv opened #1233 "How to send message through Skype with HTTP request trigger(Node.js)"
I need my bot to send messaged to everybody, who connected to it, with triggeting by http request. Here are 2 issues: how to send proactive message and how to manage it with http. This is what I have so far:

[code]

This should catch 1 message of a user, remember it and reply whenever I go to localhost:3978/api/messages/any
But it always has error "TypeError: Cannot read property 'conversation' o

[2016-09-14 15:55] afficionaddo opened #1234 "Urgent:: Tap action on thumbnail or hero card"
Hi,

I want to open the image in full screen on a "TAP" over the HeroCard or ThumbnailCard.

What's the way to implement the above to open the cardImage in full-screen or in a large size?

[2016-09-14 16:08] afficionaddo opened #1235 "Bot in facebook messenger does not recognize ConversationUpdate or other type"
Hi,

When I add my bot in messenger screen, I was hoping it will go to 'conversation Update' or other 'types' and trigger the logic.

But instead nothing happens and replies only when the TYPE is 'message'.

[2016-09-14 16:10] afficionaddo opened #1236 "Delete "Typing" message"
Hi,

I sent a message of type 'Typing' to user but it is being shown constantly and that too at the below of all other messages sent after it.

How can I "show & remove" this 'typing' bubble for a moment when other messages are received?

[2016-09-14 16:13] nickcordrey commented on #924
Thanks for raising - this issue will be addressed in an upcoming Skype for iOS release.

[2016-09-14 16:13] #924 closed

[2016-09-14 16:29] afficionaddo opened #1237 "Message of type 'TYPING' once sent is constantly appearing on FB messenger"
Hi.

I had initially sent a message of type 'TYPING' to FB messenger. But even after code removal & repeated publish of code. The 'bubble of typing' is appearing constantly.

Don;t know why? Please give some recommendations.

[2016-09-14 16:36] afficionaddo commented on #1237
It gets removed when I send a message and the next reply comes.

[2016-09-14 17:13] JpEncausse commented on #1237
I tried to reply typing as soons as I receive a message but
- It seems the typing is not sent immediatly it's like if there is a batch or somthing like that
- Anyway it's not a workaround with facebook seems to lag

[2016-09-14 17:18] JpEncausse opened #1238 "NodeJS / Facebook greeting message"
Following this issue:
https://github.com/Microsoft/BotBuilder/issues/991

I listen to the Bot Event and send back a message (tested with the emulator)

The first time a user is connected to the bot it should also diplay a greeting button according to the documentation:
https://developers.facebook.com/docs/messenger-platform/thread-settings/get-started-button

But I absolutly don't understand how t

[2016-09-14 17:24] afficionaddo commented on #1237
In my case, I send 3 or 4 messages in one go.
And add the 'typing' message also in that.

Is this the correct way to proceed because if I send 'typing' as soon as i receive a message, the 'typing bubble' is still shown...don't know why?

[2016-09-14 18:52] joewstroman opened #1239 "Sending a message outside of a dialog (without Session)"
I'm trying to send messages whenever our http server gets a post request. The only time I can successfully send messages with the bot is when we are inside a dialog, but we need more freedom when deciding who or where we send the message to. I thought using `Universalbot.send` or `ChatConnector.send` with a correctly configured `message` object would work, but it doesn't.

[code]

I don't get any

[2016-09-14 21:06] willportnoy commented on #1239
Are https://github.com/Microsoft/BotBuilder/issues/1193#issuecomment-246418074 and https://github.com/Microsoft/BotBuilder/issues/196#issuecomment-216407279 relevant for your question?

[2016-09-14 21:08] willportnoy commented on #1232
You could modify the bot's data bags through the bot state client:
https://github.com/Microsoft/BotBuilder/blob/aaf86d7b0542c8e2758bf14baa6b7cc67291e390/CSharp/Library/Microsoft.Bot.Connector/StateAPI/IStateClient.cs

or you might choose to model it as an external event - e.g. here is an example in C#:
https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Samples/AlarmBot/Models/ExternalEvent

[2016-09-14 21:11] willportnoy commented on #1225
You need a space before the slash in the " /deleteprofile" so it's not interpreted natively by the channel.

This is how "/deleteprofile" is implemented, which shows you how to clear the state programmatically:
https://github.com/Microsoft/BotBuilder/blob/aaf86d7b0542c8e2758bf14baa6b7cc67291e390/CSharp/Library/Dialogs/DeleteProfileScorable.cs#L57

[2016-09-14 21:13] willportnoy commented on #1225
@liiver could you log the url being called for the LUIS service and compare them between group and individual chat?  You can register a proxy ILuisService that logs the url before making the call, for example.

[2016-09-14 21:45] dandriscoll commented on #1236
Hi @afficionaddo, which channel are you using?

Most channels display the typing bubble for 3 seconds and then it goes away.

[2016-09-14 21:50] joewstroman commented on #1239
Relevant yes, but the answer is outdated. `bot.beginDialog()` takes an `IAddress` as the first parameter not an object with the keys `to` and `from`. I have an `IAddress` created, and a new dialog does not begin when I call `beginDialog()` whether or not I specify the conversation id.

[2016-09-14 21:55] willportnoy commented on #1227
How about RemoveValue for unsetting a value?

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/IBotDataBag.cs#L73

[2016-09-14 22:01] ernanirst commented on #1232
Sorry, I forgot to mention I'm using NodeJS. Do you know if there is any equivalent on Node?

[2016-09-14 22:16] willportnoy commented on #1232
https://github.com/Microsoft/BotBuilder/blob/c00c529c008a3149cccc22f47a244deeee88be77/Node/core/src/bots/ChatConnector.ts implements https://github.com/Microsoft/BotBuilder/blob/c4dbb7183cc1c23837b6d6c8bc03fe8c54ba1f55/Node/calling/src/storage/BotStorage.ts#L50 - maybe that can be used separately?

[2016-09-14 22:45] ernanirst commented on #1232
I don't think so, since `IBotStorage` is an interface, it can't work alone. But even if I can, I'm not sure what would be the point. Create a ChatConnector from an existing storage?

[2016-09-15 01:20] Thegaram commented on #1193
@Stevenic Thanks!

[2016-09-15 01:20] #1193 closed

[2016-09-15 04:22] afficionaddo commented on #1236
Facebook msgnr

On Thu, Sep 15, 2016 at 3:15 AM, dandriscoll <notifications@github.com>
wrote:

[2016-09-15 04:36] oztheozoz commented on #944
@willportnoy @muzahmed any update?

[2016-09-15 04:46] ashfaq-uddin opened #1240 "is there a way to identify timezone of the user"

[2016-09-15 08:24] somprabhsharma commented on #1096
Any update on this ?

[2016-09-15 10:39] loicbar opened #1241 "User API 404"
HI,

I'm trying to do a simple bot but when using the Bot Framework Emulator to call the API, the server throw an error :
node app.js
restify listening to http://[::]:3978
WARN: ChatConnector: receive - emulator running without security enabled.
ChatConnector: message received.
Error: Request to 'http://localhost:3978/v3/botstate/emulator/users/2c1c7fa3' failed: [404] Not Found
    at Request._cal

[2016-09-15 11:41] KIBASSA opened #1242 "Impossible to log on botframework.com"
Hi,
When I try to log on dev.botframework.com, I have the following message:
"Login failed due to account collision."
And impossible to connect.
What does that mean? Do you have an idea ?

Thank you in advance for your help

Junior

[2016-09-15 11:47] tiksn commented on #1242
I have the same issue.

[2016-09-15 12:56] rposbo opened #1243 "The remote name could not be resolved: 'api.projectoxford.ai'"
Looks like endpoint on which `LuisService.cs` [depends](https://github.com/Microsoft/BotBuilder/blob/aaf86d7b0542c8e2758bf14baa6b7cc67291e390/CSharp/Library/Luis/LuisService.cs#L88) is sporadically down for the past hour.

We're receiving "The remote name could not be resolved: 'api.projectoxford.ai'" in our logs.

[2016-09-15 13:09] liiver commented on #1225
The problem is that " /deleteprofile" only seems to work for me in 1:1 skype conversation
In group chat I am unable to make the command work. Sending command like "@Botname /deleteprofile" ends up just in a regular LUIS "None" intent and not an actual deletion.

Unfortunately I am unable to get data from ILuisService. I am not so familiar with interfaces in C# so I dont really know how to implemen

[2016-09-15 14:25] dandriscoll commented on #1243
Hi @rposbo, thanks for reporting. We're looking into it.

[2016-09-15 14:34] CarolHanna commented on #1243
Hi @rposbo, apology for this inconvenience. Azure is experience some instabilities that is affecting our service.

[2016-09-15 15:45] dandriscoll commented on #1240
Are you looking for an annotation on an object, or are you looking for an interactive mechanism to ask the user which timezone they're in?

[2016-09-15 15:46] dandriscoll commented on #1241
Hi @loicbar, it looks like you have the Emulator configured to advertise the emulator's state service to be on the same port as your bot. You need to have different ports in the "Bot Url" and "Emulator Url" fields.

[2016-09-15 15:54] dandriscoll commented on #1242
There was a large-scale DNS outage this morning that may have affected login. Can you try to log in again?

[2016-09-15 15:59] joewstroman commented on #1239
I also think it has to do with the `session` object. That is the only way I've been able to get a message to send, and the root dialog `/` automatically starts whenever the bot is added **through slack** not the framework. I have not been able to initiate anything bot related using the framework. Just trying to relay more information.

[2016-09-15 16:33] devinrader opened #1244 "Misspelling on the SMS Configuration page"
https://sms.botframework.com/Dev/?botId=DevinsLookupBot

TwiML is misspelled on the second step:

![image](https://cloud.githubusercontent.com/assets/1095289/18558291/8841d594-7b40-11e6-9405-b5665d54f3ba.png)

[2016-09-15 17:04] ashfaq-uddin commented on #1240
annotation on an object

[2016-09-15 20:08] dandriscoll commented on #1244
Thanks @devinrader, will have this fixed in the next release!

[2016-09-15 20:08] #1244 closed

[2016-09-15 22:47] JamesLouie opened #1246 "Error on sending message to Facebook status Forbidden"
I have been managing a bot for a couple months now, and I recently ran into an issue where Facebook is having intermittent issues connecting with the Bot Connector.  While in dialog with Facebook, we're seeing that at random, some messages get through to the Facebook chat client while others return as 500s.  This ranges from sending a generic typing message to responses generated from a FormFlow d

[2016-09-15 23:17] eanders-MS commented on #1152
@DrWala A fix has been made for Telegram. We've taken a TODO to update Slack, but do not have a timeline for this yet. This fix will be available in the next production update. Production updates typically happen about once a week.

[2016-09-16 05:31] wiltodelta commented on #1246
Confirm problem with Facebook.
<img width="754" alt="screen shot 2016-09-16 at 08 30 07" src="https://cloud.githubusercontent.com/assets/1192743/18576194/fc3d2fbe-7be7-11e6-8b03-23d49fdb9b9d.png">

[2016-09-16 05:48] kenyeung128 commented on #1246
it's the same for me as well

[2016-09-16 05:59] kenyeung128 commented on #1246
i can reproduce the same issues with EchoBot from the sample project of BotBuilder, some messages get through but some messages return 500 with UnauthorizedAccessException. Is there any workaround for now? as it's just stop the bot working.

[2016-09-16 06:24] Daij-Djan opened #1247 "Can I start the conversation with messenger bot? (FB + BotFramework)"
My bot is running fine when the user starts the conversation. But what I want to know is if I can start the conversation with the user instead user with it.

Based on the Facebook docs, I think I can do this with FB directly once I got the page scoped usedId -- e.g. through using the 'message us' plugin on our page

Now though - I use the MS botframework and wonder how to do it using that framewor

[2016-09-16 06:36] myarotskaya opened #1248 "Exception after `Quit` from FormFlow dialog."
In the source code I can see that if the direction of the next step of FormDialog is `StepDirection.Quit` then an exception is thrown and the message `Sorry, my bot code is having an issue` is sent to the chat.

But as a user, I don't want to see `Sorry, my bot code is having an issue.` message after quit from the dialog. Is there any ability to change this behavior?

[2016-09-16 06:42] mephisto83 opened #1249 "Can't add facebook messenger to my bot"
I am getting a 500 (Internal server error) at https://facebook.botframework.com/Dev/EnableChannelForBot.

[2016-09-16 07:29] somprabhsharma opened #1250 "How many request can it handle concurrently ?"
I have a 10000 users chatting with the bot simultaneously, then will Microsoft Bot Framework be able to handle this many requests concurrently? How you handle requests ?

[2016-09-16 07:47] somprabhsharma opened #1251 "Bot is not sending all messages sent by me to the user."
Whenever user ask for same type of message more than once in short span of time. Bot is sending only reply few times lesser than it should send. So for example user sends help 7 times in short span of time, then bot is replying only 4 or 5 times.

[2016-09-16 09:20] alonsonic commented on #1249
I'm having a similar problem but instead of an 500 internal server error I'm getting an error page saying it couldn't find a bot with that name. Is there an on going problem with the platform?

[2016-09-16 09:22] alonsonic commented on #1246
Having the same issue as wiltodelta

[2016-09-16 09:38] afficionaddo opened #1252 "Token authentication error on Facebook Messenger"
Security token for MicrosoftAppId: xxxx is unauthorized to post to connector!

But my "Endpoint authorization is succeeded" on "MyBots' page.

Why still am I getting this error???
Another thing I observed is that the issue occurs sometimes  not always.
That is sometimes I get messages but not so lucky on other instances.

Please help;(

[2016-09-16 11:52] afficionaddo commented on #1252
I have two bots....both are giving the same exception 'Unauthorized Access Exception for TOKEN'. ????

`Buffer="{ "message": "An error has occurred.", "exceptionMessage": "Security token for MicrosoftAppId: 01752554-bd59-4a92-ba6b-a7908daade6e is unauthorized to post to connector!", "exceptionType": "System.UnauthorizedAccessException", "stackTrace": " at Microsoft.Bot.Connector.JwtTokenRefresher.

[2016-09-16 11:56] sMorac commented on #1246
I'm seeing this on Node.js as well, some messages go through and some are 403. After testing it on Facebook and Skype, only the Facebook channel has the problem.

[2016-09-16 12:15] SamuelTassell commented on #1247
On Facebook messenger I resulted in using the '[Get Started Button](https://developers.facebook.com/docs/messenger-platform/thread-settings/get-started-button)' which you can then use to start a dialog using the postback. I also use this to gather the users information before starting a conversation with them ;).

[2016-09-16 12:24] SamuelTassell opened #1253 "How to catch when Azure goes down?"
So essentially, I had a meeting with an investor yesterday around the same time the Azure DNS issues were happening. I was frantically trying to find out why the bot just stopped responding, without knowing Azure broke... ended up having to show a static version of the service. _Not good_.

**My question is:** How do we implement something to test that the botframework/Azure is working as it shoul

[2016-09-16 12:37] SamuelTassell commented on #1238
So I actually used a separate node server to handle the Facebook messenger setup as it's nothing to do with the botframework really:

Quick note, I'm not 100% sure this still all works with the recent update of messenger, so you'll need to check the Facebook API etc...

**app.js**
[code]
**fb-greeting-text.json**
[code]
**fb-get-started-button.json**
[code]
**fb-persistent-menu.json**
[code]
I'm m

[2016-09-16 12:49] SamuelTassell commented on #1238
I'd also add that these features from FB messenger can be a little buggy. For instance if you set or change the greeting or menu etc... when using the browser you tend to have to clean the cache in order for the changes to appear, with the apps, a simple restart of the app normally works. Not only that but the menu seems quite buggy, sometimes just not appearing but I'm not sure if it's the new ve

[2016-09-16 12:51] ernanirst opened #1254 "Critical Issue with Facebook Connector on BotFramework.com"
Me and at least three other people on Gitter are experiencing this issue, if you try to add or edit facebook messenger, you will se the following error:

![screenshot from 2016-09-16 09-49-55](https://cloud.githubusercontent.com/assets/5594085/18586443/f5b6ee36-7bf2-11e6-9e92-7f47ba7a1c09.png)

This is happening for EVERY single bot I have.

[2016-09-16 13:02] wiltodelta opened #1255 "PromptDialog or another from ConnectorClient"
How to start dialog from ConnectorClient?

[2016-09-16 13:20] Daij-Djan commented on #1247
I might be too dumb to get it but.. you aren't writing proactively to the user though

for fb, I can use the fb send API with the page-scoped userID, but how to do it with ms bf – Daij-Djan 37

[2016-09-16 13:20] kenyeung128 opened #1256 "Bug in version 3.2.1"
The new version introduces a bug in ResumptionCookie, the default constructor is removed, so it will cause this error in the FacebookAuthentication sample "A class should either have a default constructor, one constructor with arguments or a constructor marked with the JsonConstructor attribute."

The lines below will trigger the exception as above.

context.PrivateConversationData.SetValue("persi

[2016-09-16 13:27] kenyeung128 commented on #1256
Actually It seems it's the new class Address missing the default constructor, when I add the default constructor in the class Address, it works.

[2016-09-16 13:42] alonsonic commented on #1254
This issue started yesterday and I think it's related to other issues that state that the bots are losing messages when talking on Facebook.

[2016-09-16 13:45] bobzsj87 commented on #1254
Same here. Tried many times and didn't work once.
Also messages from Messenger are very unstable, slow, lost, no response.

[2016-09-16 13:49] gobaldia commented on #1254
My team and I have the same problem. As @alonsonic and @bobzsj87 said, it's not the only problem with Facebook. We also experienced slowness and lost of messages on Facebook (note that Skype's bot works well).

[2016-09-16 13:58] gobaldia commented on #1246
@wiltodelta there's an open issue #1254
Please comment something there to show Microsoft's team that's a general problem.

[2016-09-16 14:06] gobaldia opened #1257 "Lost of messages in Facebook"
Since yesterday, me and more people are experiencing a lost of messages in Facebook.
For example, if the bot should send 3 messages, it only sends 2. Then, it sends all messages, then it sends another 2 messages (totally random).

[2016-09-16 14:12] afficionaddo opened #1258 "Question: How to load and pass JSON for facebook greeting screen c#?"
Hi,

What's the way to implement greeting screen of FB messenger c# for the bot?

[2016-09-16 14:12] sMorac commented on #1254
Same problem here for me, Facebook Channel is dropping messages while Skype Channel works well. Nothing is reported on FB Messenger API. I got the Sad Bot page as well earlier today.

[2016-09-16 14:13] ddalledo commented on #1257
I have a even worst problem with facebook as I keep getting error page when I edit properties or add it as a new channel in my bots page:

Configured bots seams to work, but they drop messages too. All others channels works with (almost) no problem.

[2016-09-16 14:21] gobaldia commented on #1257
@ddalledo please check issue #1254 for the

My bot also works properly in the other channels.

[2016-09-16 14:29] ddalledo commented on #1254
Add me to the list. Can't edit old facebook channels, and can't add channel to new bots.
And messages drops and are VERY slow.

[2016-09-16 14:54] CLOUD9111 commented on #1254
Same here Facebook only issue surfaced a couple of days ago without alert; here's the Insight's output exception and call stack:

![capture](https://cloud.githubusercontent.com/assets/22240158/18590209/40559128-7c2e-11e6-935f-554da15340c9.PNG)

[2016-09-16 15:00] CLOUD9111 commented on #1254
Same here; the issue suddenly surfaced when connecting to a Facebook channel, here's the call stack from app insights:

![capture](https://cloud.githubusercontent.com/assets/22240158/18590429/10d3854e-7c2f-11e6-9be5-95e0e0b7c6af.PNG)

[2016-09-16 15:17] JpEncausse opened #1259 "Yammer Connector"
Hi,

Did someone already made a Direct Line or any kind of Connector for Yammer ?
I'd like to plug a bot to our Intranet

Thanks

[2016-09-16 16:10] dandriscoll commented on #1246
Hi folks, we're looking into it. Thanks

[2016-09-16 16:33] raphael-abreu commented on #1257
Same problem with me

[2016-09-16 16:48] jameslew commented on #1258
For the moment you may have to make a call directly to Facebook to do this particular operation.  Setting it is not part of the Message API, it's a separate direct call.  The API for that call is reference here:

https://developers.facebook.com/docs/messenger-platform/thread-settings/greeting-text

We're looking at ways we can expose this sort of setup settings in the Bot Framework API.

[2016-09-16 16:55] jameslew commented on #1256
I'll get this in front of the SDK developers.

[2016-09-16 16:57] jameslew commented on #1254
Thanks everyone for the reports, we're looking into this right now.

[2016-09-16 18:37] dandriscoll commented on #1254
We've tracking a few issues here.

The dev portal should be fixed now.

We're seeing some sensitivity on Facebook's side to image Content-Types, so if you're including images and their content-type is e.g. "image/jpg" instead of "image/jpeg," that's failing the request. I don't know if Facebook was sensitive to this before.

[2016-09-16 18:37] dandriscoll commented on #1254
@CLOUD9111 , your issue appears to a be a problem within your bot. That's different from the other errors we're investigating.

[2016-09-16 18:40] dandriscoll commented on #1254
Hi @ernanirst and @sMorac , if you see the Sad Bot page again, please at-mention me. We believe that's fixed.

[2016-09-16 18:46] dandriscoll commented on #1254
Looking through our logs, everything should be back to normal (and actually has been for a while, but wanted to be sure before I said so). @ernanirst, @alonsonic, @bobzsj87, @gobaldia, @sMorac, @ddalledo, and @CLOUD9111, can you please check and at-mention if you see any further issues?

[2016-09-16 18:50] ernanirst commented on #1254
@dandriscoll seems fine now. Thanks.

[2016-09-16 18:50] gobaldia commented on #1254
@dandriscoll for me it's ok right now. Also it's ok what I mentioned in #1257
Thanks!

[2016-09-16 19:04] dandriscoll commented on #1257
Hi all, thanks for your patience. We had some degradation of the service but it appears to be resolved now. Please let us know if you see the problem again.

[2016-09-16 19:08] dandriscoll commented on #1223
Closing this as it's not really related to the Bot Framework. There are some suggestions above but since it's not our area of expertise, I don't think we'll be able to help much past that. Please open a new issue if you find there is something specific to Bot Framework we need to address. Thanks

[2016-09-16 19:08] #1223 closed

[2016-09-16 19:10] dandriscoll commented on #1254
I'm going to close the issue as the service problem has been resolved and confirmed by a few folks. If you see failures or page load issues that you think are a recurrence of this problem or that you think are widespread failures, please open a new issue and we'll take care of it promptly.

Thanks all for reporting the issue and your patience as we resolved it.

[2016-09-16 19:10] #1254 closed

[2016-09-16 19:11] dandriscoll commented on #1257
Same issue as 1254, so closing this.

[2016-09-16 19:11] #1257 closed

[2016-09-16 19:36] JamesLouie commented on #1246
Verifying on my side that I think this issue has been resolved along with #1254 and #1257.

Thank you for the quick response!

[2016-09-16 19:36] #1246 closed

[2016-09-16 20:39] #1242 closed

[2016-09-16 21:42] CLOUD9111 commented on #1254
Problem solved on my side and everything is back to normal, many thanks for your efforts guys.

[2016-09-16 22:00] willportnoy commented on #1248
You can catch the FormCanceledException in the method you specified as the resumption method after calling the child form dialog.

[2016-09-16 22:01] SamuelTassell commented on #1247
Well you use the postback from the Get Started Button to then start a dialog. See issue: #1238, there I explain how to setup various FB messenger settings. From there you can initiate the conversation in said prompt. For example I get the users information using the page scoped id:

[code]
Hope this helps :).

[2016-09-16 22:02] willportnoy commented on #1230
Those tests are to validate that the alarm sample works properly, not to check anything about the LUIS service.  It's good practice to mock external dependencies so that the unit tests can run quickly without non-deterministic failures due to network conditions, etc.

[2016-09-16 22:05] willportnoy commented on #1250
Activity HTTP requests are handled in parallel.  Of course, you may find the channel itself might throttle your messages, but we don't add throttling on top of that.

[2016-09-16 22:06] willportnoy commented on #1251
Which channel?

[2016-09-16 22:07] willportnoy commented on #1255
ConnectorClient is for sending messages from the bot to the user.

Maybe your question is how to start a dialog from an external event - this code might help you:
https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Samples/AlarmBot/Models/ExternalEvent.cs#L29

[2016-09-16 22:14] tjoudeh opened #1260 "Incorrect Bing Search Images V5 Base Uri in GIF Search Bot Example"
The Base Uri for the Search Images V5 (https://bingapis.azure-api.net/api/v5/images/search) in the example [https://docs.botframework.com/en-us/bot-intelligence/search/#example-gif-search-bot](https://docs.botframework.com/en-us/bot-intelligence/search/#example-gif-search-bot) **is incorrect**, the Base Uri should be updated to (https://api.cognitive.microsoft.com/bing/v5.0/images/search)

[2016-09-17 01:25] afficionaddo commented on #1258
Thanks for the reply @jameslew

But I am confused, when do i make this API call. As when i add my bot in FB messenger, I dont know for some reason my code in ActivityType.conversationUpdate or relationupdate does not get triggered.

More so FB does not trigger anything on adding the bot. It only does so when I message the bot.

What am I missing here.

[2016-09-17 02:13] afficionaddo opened #1261 "On adding my bot to messenger, it does not trigger 'conversationUpdate' or 'contactRelationUpdate'"
Hi,

When I add my bot to messenger, it does not trigger 'conversationUpdate' or 'contactRelationUpdate'.

Actually i want to show greeting screen so I was hoping that could be accomlished through these 'ActivityTypes' and then send the json through channel field.

But it does not trigger any of the types except 'message'.

Please help.

[2016-09-17 04:12] deztin commented on #1113
"@Stevenic @muzahmed how can you change which bag stores the conversation state?"

I'm also interested in having dialogs work in Skype group chats via Node.js. Can you provide some sample code?

[2016-09-17 04:42] afficionaddo commented on #949
Hi @Koshak118 , I am also trying the same thing.

But when I add my bot, no ActivityType is triggered.

Also how did you pass the JSON for greeting screen?

[2016-09-17 05:45] somprabhsharma commented on #1250
Is there any plan for you to open source the part of code you have at your end which interact with channels directly ? Or is there any way to get that code so that we can deploy it on a our own server that can handle requests for 15 million people to various channels and can make things faster by using various mechanism and make sure that the messages are getting delivered, if not we will resend t

[2016-09-17 05:47] somprabhsharma commented on #1251
Its happening most of the time in messenger.

[2016-09-17 05:54] somprabhsharma commented on #1261
Which Channel ? It works fine for skye and kik, in telegram there is a start button and in messenger you can add a get started button and you can respond to the event on get started button to send greeting text in telegram and messenger. Only in case of skype it does not work right now.

[2016-09-17 05:57] somprabhsharma commented on #1258
You need to make the curl request separately. It does not have anything to do with your bot code.T his is only one time task. You can open cmd or terminal and run that code with your fb page access token and your customised greeting text. for some cases you might need to install curl before you can run this command.

[2016-09-17 06:42] oztheozoz opened #1262 "Prompts Choice, Confirm, Attachment Not Behaving Correctly on Facebook"
With Prompts.choice|confirm|attachment, if you type an unexpected input, the bot automatically replies with the message 'default_choice', 'default_confirm' and 'default_file'.

Here's an example with the demo-facebook app included in BotBuilder.
![screen shot 2016-09-16 at 11 34 35 pm](https://cloud.githubusercontent.com/assets/4121069/18606478/6601ea74-7c66-11e6-884b-5abc14f2c4b7.png)
![screen sh

[2016-09-17 07:25] etiago opened #1263 "Chain with different types of Dialogs?"
Hi everyone,

I'm trying to build a bot in C# that has the following flow:
- UnauthenticatedDialog (the bot can do some basic unauthenticated tasks for the user like some greetings and help menus, and the user can also transition to the... )

- AuthenticationDialog (the bot gives the user a link to Auth0, the user clicks the link, is redirected to a LoginCallback on the same WebApp as where the bo

[2016-09-17 09:18] afficionaddo commented on #1261
Facebook.

[2016-09-17 09:26] afficionaddo commented on #1258
Thanks for the reply.

See my bot is not yet approved. Still in development.

So you are saying that I just make the curl request independently and whenever next time a user adds my bot...it will show the greeting screen?

[2016-09-17 10:27] sMorac commented on #1254
@dandriscoll Thanks, it's working now! Great job!

[2016-09-17 15:33] GauravSharma531 commented on #80
I also have the same issue verified server is running still getting this error.

[2016-09-17 15:33] GauravSharma531 commented on #80
@tomlm I also have the same issue verified server is running still getting this error. can you reopen this issue.

[2016-09-17 15:34] GauravSharma531 commented on #80
BFEmulator.exe Information: 0 : System.AggregateException: One or more errors occurred. ---> System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.WebException: Error: ConnectFailure (Connection refused) ---> System.Net.Sockets.SocketException: Connection refused
  at System.Net.Sockets.Socket.Connect (System.Net.EndPoint remoteEP) [0x000d1] in <affe406

[2016-09-17 16:13] jameslew commented on #1258
Yes, currently you'll need to make the separate curl call (albeit it doesn't have to be curl, you could make an http call within your bot's startup code to set the settings).

[2016-09-17 16:16] jameslew commented on #1261
The greeting page is configured via settings calls to Facebook, that are currently outside the scope of the Bot Framework API.  You can call Facebook directly to set things like the greeting page message via direct https calls to the Facebook API.

We've added this type of setting to the feature request backlog for the Bot Framework API.

[2016-09-17 16:17] jameslew commented on #1260
Thank you, we'll get the sample updated.

[2016-09-17 21:20] dandriscoll commented on #1262
Thanks @oztheozoz. @Stevenic, any thoughts?

[2016-09-17 21:22] dandriscoll commented on #1259
I haven't heard of one, but I'll keep the issue open for a while to see if anyone else has :)

[2016-09-17 21:39] dandriscoll commented on #1253
Hi @SamuelTassell, it's a fair question.

You can probably work out an endpoint to hit to look at our servers, but that's only part of the picture. Really, you're looking for an indication that the Bot Framework will deliver traffic between your bot and your users. That's the thing your customers (and investors) will care about when they use your system or watch your demo.

If we look at what it t

[2016-09-17 21:46] jameslew commented on #1249
We fixed an issue on Thursday.  Are you still having the problem?  Are you willing to share your bout handle so I can investigate?

[2016-09-17 22:02] dandriscoll commented on #1252
Hi @afficionaddo, I've looked through our logs and it appears this was related to an interruption we had on our Facebook service. Can you try again to see if it works now? That will let us know if it's the same issue or if there's a different issue. Thanks
--Dan

[2016-09-17 22:02] jameslew commented on #1252
Very odd, I haven't seen this one.  Have you confirmed you haven't swapped them or something odd?  And you say its only some posts?  Is there a bot handle I could check the logs for?

[2016-09-17 22:03] dandriscoll commented on #1251
Hi @somprabhsharma, do you have any error/exception monitoring in the bot? I'm wondering if there's an internal error that is preventing the bot from sending messages. I've seen a few cases of this lately.

[2016-09-17 22:04] dandriscoll commented on #1250
You can certainly implement retries on your end, if you'd like. Our servers are geo-distributed and are heavily parallelized, so if you send many requests at once, they will be sent to a datacenter nearest you and will likely be handled by different machines.

[2016-09-17 22:05] jameslew commented on #1251
Its useful to hook up application insights in the hot framework portal.  Then we will send you events associated with errors that occurred in your interaction with the service.

[2016-09-17 22:07] dandriscoll commented on #1243
This was related to an Azure DNS interruption which has been resolved.

[2016-09-17 22:07] #1243 closed

[2016-09-17 22:10] dandriscoll commented on #459
Hi @srogovtsev, we have this available and working now. If you have any trouble using this feature, please open anew issue.

[2016-09-17 22:10] #459 closed

[2016-09-17 22:11] dandriscoll commented on #781
Hi @APXEOLOG, the MS.Msn.Messenger code is completely foreign to me. Are you using the Bot Builder SDK and the Bot Framework service?

[2016-09-17 22:18] dandriscoll commented on #827
Hi @javi-jamaa, privateConversationData is controlled by the conversation lifetime, not whether or not you are logged in to Slack. The conversation lifetime in Slack is very long -- if you're in a channel, it's the lifetime of that channel; if you're in a direct-message conversation, it's the lifetime of the user account.

If you would like your bot to expire its privateConversationData, you could

[2016-09-17 22:20] dandriscoll commented on #839
Hi @satheeshravi, if you see this problem, please open a new issue. Thanks!

[2016-09-17 22:20] #839 closed

[2016-09-17 22:21] dandriscoll commented on #842
Hi @mecitsem and @ashay-88, we've added this to our list of feature proposals for the emulator. Thank you!

[2016-09-17 22:21] #842 closed

[2016-09-17 22:22] dandriscoll commented on #848
Hi @lucasmdesousa, I'm going to close this issue as it's been inactive for a while. If you encounter problems, please file a new issue. Thanks!

[2016-09-17 22:22] #848 closed

[2016-09-17 22:32] dandriscoll commented on #884
Hi @mghimp and @officialdharam, I'm not an expert in speech, but I can probably help you get started.

There are two patterns for dealing with audio speech:
1. client records a small audio file (like a WAV) and uploads it as an attachment to the bot
2. client sends an audio stream to the bot

Most Bot Framework channels support pattern 1, although client support varies. In this situation, you can

[2016-09-17 22:33] dandriscoll commented on #891
Hi all, it looks like we've resolved the first issue and are waiting on additional details for the second.

@enby, if you're able to reproduce the image problem and can point us to an example that fails, please open a new issue. Thanks much

[2016-09-17 22:33] #891 closed

[2016-09-17 22:48] dandriscoll commented on #965
Yes, it looks like this is still a problem under somewhat more specific conditions. Thanks for paying close attention!

[2016-09-17 22:49] dandriscoll commented on #1135
Hi @JpEncausse, were you able to resolve your question?

[2016-09-18 01:32] dandriscoll commented on #80
Make sure to pay close attention to the port numbers. Your bot must be running and must be accessible on the URL specified in the Bot Url field in the emulator UI.

Even though the trace is long, the error is very simple -- it's in this line: "No connection could be made because the target machine actively refused it 127.0.0.1:3978"

[2016-09-18 01:34] dandriscoll commented on #1099
Closing this issue as this is just a cleanup task on our end. All of our channels and the emulator are sending acceptable values, and bots should expect to see missing, null, or empty arrays.

[2016-09-18 01:34] #1099 closed

[2016-09-18 01:35] dandriscoll commented on #965
Hi @rohanar, I have this fixed locally and will have it deployed sometime next week. Thanks again for reporting it.

[2016-09-18 01:42] dandriscoll commented on #989
Hi @maximilianlorent, I think there's some misunderstanding here.

Your Microsoft App Password is not required to verify calls coming in to the bot. That's why we don't expose a way to configure it.

[2016-09-18 01:47] #1064 closed

[2016-09-18 02:17] dandriscoll commented on #1106
Closing for now. Feel free to open another issue if you have a related question.

[2016-09-18 02:19] #1118 closed

[2016-09-18 02:21] dandriscoll commented on #1139
Hi @santhonydo, was this sufficient to get your app running? Or do you need additional assistance?

[2016-09-18 02:22] dandriscoll commented on #1154
If you encounter issues after resolving the version problem, please open a new issue. Thanks

[2016-09-18 02:22] #1154 closed

[2016-09-18 04:15] santhonydo commented on #1139
Hi all. Sorry for late reply. For some reasons all my notifications have been going to my junk mail. Thank you for all the suggestions. Looks like I was missing package json for my bot. Got it to work. Thanks so much for all the advice!

[2016-09-18 04:20] APXEOLOG commented on #781
Hi @dandriscoll , yes. This message code i got while debugging the source of the nodejs botbuilder sdk. The interesting thing is that it works with "Web Chat" channel, but doesn't work with Skype

[2016-09-18 04:25] dandriscoll commented on #1139
Thanks @santhonydo!

[2016-09-18 04:25] #1139 closed

[2016-09-18 04:26] #1178 closed

[2016-09-18 04:27] dandriscoll commented on #1178
I think this issue has been addressed -- please open a new issue if you have additional questions. Thanks

[2016-09-18 04:28] dandriscoll commented on #1179
It looks like this issue has been addressed. Please feel free to open a new issue if you have additional questions.

[2016-09-18 04:28] #1179 closed

[2016-09-18 04:30] dandriscoll commented on #1191
Hi @puneetsngh, were you able to get this working?

[2016-09-18 04:31] dandriscoll commented on #1218
Hi @onikiri2007, you should have the bot's Slack ID in the activity.From.Id field. Can you see if this is the ID you're looking for?

[2016-09-18 04:32] dandriscoll commented on #1221
Hi @afficionaddo, please use the Typing activity to send this notification.

[2016-09-18 04:32] dandriscoll commented on #1222
Please feel free to open a new issue if you have additional questions.

[2016-09-18 04:32] #1222 closed

[2016-09-18 04:35] dandriscoll commented on #1229
Please feel free to open a new issue if you have further questions.

[2016-09-18 04:35] #1229 closed

[2016-09-18 04:36] dandriscoll commented on #1231
If you're using web chat, we have an open bug that should be fixed sometime in the upcoming week.

[2016-09-18 04:40] dandriscoll commented on #1232
Hi @ernanirst, the ChatConnector class does indeed connect to the Bot Framework's default Bot State implementation. You can see the default endpoints configured in the constructor. You just have to supply your credentials and the object will allow you to issue getData and saveData calls to manipulate your bot's data.

[2016-09-18 04:40] puneetsngh commented on #1191
@dandriscoll i changed from `apis.skype.com` to serviceUrl and now I think it will work but can't say until a person with id like `FOzadrPvGja` send me the message again.

I still not getting contextID in response header even after using serviceUrl

[2016-09-18 04:42] dandriscoll commented on #1234
Hi @afficionaddo, currently the behavior of URL open actions is defined by the chat service (e.g. Skype) and the client platform (mobile, Windows, web, etc.). We do not have a way to control this behavior.

[2016-09-18 04:44] dandriscoll commented on #1240
Hi @ashfaq-uddin, unfortunately most clients do not give us this information.

On SMS, for instance, it is impossible to know what timezone the sender is in. The same is true for email and Kik and others.

Telegram, for instance, does allow the user to send this data to a bot. This data appears in the ChannelData field.

Generally speaking, this data is not available in a reliable fashion across c

[2016-09-18 09:33] JpEncausse commented on #1135
We did a mix of LUIS and Regexp, Soundex/Levenshtein is in the todo.
The limit of 20 intents is hard when you want to handle all "generic"
 intents

On Sun, Sep 18, 2016 at 12:49 AM, dandriscoll <notifications@github.com>
wrote:

--
*Jean-Philippe Encausse* - R&D / IoT / Innovations
http://www.encausse.net - http://arm-avocats.fr
Twitter: @JpEncausse - Mob: +33 6 82 12 56 99
Do it Once, Use it Twi

[2016-09-18 12:19] sabbour opened #1264 "500 internal server error when upgrading System.IdentityModel.Tokens.Jwt NuGet package"
Reproduction steps:
1. Create a Bot Application
2. Build and run
3. Connect using the Channel Emulator, it works
4. Right click on the Bot Application project and Manage NuGet packages
5. Update packages
6. Build and run
7. Connect using the Channel Emulator and send a message, it fails with 500 Internal Server Error

Further investigation surfaces the following:
Exception thrown: 'System.TypeLoad

[2016-09-18 12:24] sabbour commented on #1264
I can confirm that manually downgrading System.IdentityModel.Tokens to 4.0.3.308261200 fixed the issue.
Any idea what's wrong here?

[2016-09-18 13:46] samueleresca opened #1265 "BotBuilder combined with Cognitive Services : 500 on upload image"
I just combined the Bot builder and MS Cognitive services to build a bot which can detect captions of images here’s the repository: https://github.com/samueleresca/Blog.BotApplicationSample.

Locally (using bot emulator) it works correctly.
When I try to upload an image using  Telegram and Slack bot, it returns:

`POST to testbotsamuele failed: POST to the bot's endpoint failed with HTTP status 50

[2016-09-18 14:38] kevinport opened #1266 "Confirm message does not list filled fields which are skipped in form"
If you answer a confirm message with "no" you are able to change fields from your form.
For Example: PizzaOrder (FieldA, FieldB, FieldC)

The Message you get is:
What do you want to change?
FieldA (FieldAValue)
FieldB (FieldBValue)
FieldC (FieldCValue)

But no my problem is, that i have to set some default values in the PizzaOrder object constructor.
For Example FieldC is the address i want to ord

[2016-09-18 14:57] #1266 closed

[2016-09-18 15:01] kevinport commented on #1266
In this case it was my mistake, but i will open an new issue

[2016-09-18 15:09] kevinport opened #1267 "FormOptions New Enum Value Required"
With the FormOptions None and PromptFieldsWithValues the user have to trigger the dialog start.
It would be nice if we can use a new option PromptFieldsWithValuesInStart, that the user doesn't have to trigger the dialog start with an unnecessary message to the bot

[2016-09-18 15:20] kevinport commented on #1267
Microsoft.Bot.Builder.cs

if (this._options.HasFlag(FormOptions.PromptInStart) || this._options.HasFlag(FormOptions.PromptFieldsWithValuesInStart))
            {
                await MessageReceived(context, null);
            }
            else
            {
                context.Wait(MessageReceived);
            }

[2016-09-18 15:22] dandriscoll commented on #1264
I think the System.IdentityModel.Tokens.Jwt 5.0 assembly isn't backward-compatible with the 4.0 signature. Nuget makes it easy to upgrade everything in the project to the latest version, and our version reference doesn't exclude 5.0 (in part because we referenced 4.0 before we knew 5.0 would include breaking changes. :)

I think we can clean up the nuspec (have to check with @msft-shahins) but in

[2016-09-18 15:26] ernanirst commented on #1232
Ok, I will try that, thanks @dandriscoll and @willportnoy

[2016-09-18 15:26] dandriscoll commented on #1267
@willportnoy, thoughts?

[2016-09-18 15:30] dandriscoll commented on #1249
Hi @mephisto83 and @alonsonic, we had an interruption that was causing this problem, and has been fixed. If you continue to encounter problems, please feel free to open a new issue.

[2016-09-18 15:30] #1249 closed

[2016-09-18 15:35] dandriscoll commented on #1236
Currently on Facebook Messenger, the only way to delete the icon is to send an additional message to clear the status. We'll take a look at making this a little easier.

[2016-09-18 15:37] #1265 closed

[2016-09-18 15:48] dandriscoll commented on #1240
https://github.com/Microsoft/BotBuilder/issues/813

[2016-09-18 15:48] dandriscoll commented on #1240
Same as #813

[2016-09-18 15:50] dandriscoll commented on #1234
Thinking about this more, some channels may expose this through their API and you could trigger it via ChannelData. Which channel are you using?

[2016-09-18 15:51] #1221 closed

[2016-09-18 16:24] willportnoy commented on #1263
You could use a Select to cast the result to IDialog<object> so the types are the same.

[2016-09-18 17:29] dandriscoll commented on #827
Please feel free to open a new issue if you have further questions. Thanks!

[2016-09-18 17:30] #827 closed

[2016-09-18 17:33] dandriscoll commented on #1096
Hi folks, markdown collapses newlines. You can find more detail here: http://daringfireball.net/projects/markdown/syntax#p

Some channels support the `<br/>` element, which can be used to insert a linebreak. This works in Skype and I don't have an example handy in Facebook but you could try it there.

[2016-09-18 17:59] dandriscoll commented on #1157
Hi @mitkodi, that's correct, markdown is not currently supported in cards in Skype.

[2016-09-18 18:03] dandriscoll commented on #1191
ContextId will be available soon -- it will be included in our next deployment (likely this week).

Looking through the thread, are you certain you aren't seeing the 'FOzadrPvGja' ID from another channel, like Web Chat, or the Bot Framework emulator? IDs in that format are not generated by Skype by they are generated by the Emulator and the ID.

Accordingly, the ServiceUrl and ChannelId will refle

[2016-09-18 18:05] dandriscoll commented on #1191
Also, another issue: this message is not a v3 Bot Framework message.

[code]

[2016-09-18 18:06] dandriscoll commented on #1171
Hi @haggaishachar, it looks like this question has been resolved. Steve is working on docs so they will be better over time. Please feel free to open a new issue if you have further questions. Thanks

[2016-09-18 18:08] dandriscoll commented on #1264
Adding the bug flag as this is something we could block in our nuspec file. The workaround above should be sufficient for anyone hitting this issue.

[2016-09-18 18:20] puneetsngh commented on #1191
@dandriscoll I haven't enabled web chat for my bot, and the msg was not also from emulator, as I personally checked with emulator...there other issue encountered first then this.

1 thing which I feel is that the msg can be from review team as this kind of msges came twice to my bot that too just before my bot got rejected for no response.

`
{'attachments': None, 'sender_name': 'FOzadrPvGja', 'te

[2016-09-18 19:20] dandriscoll commented on #1191
This appears to be an internal data structure.

Do you have an HTTP trace of the JSON messages being sent/received by your bot?

I'm pretty certain the 'FOzadrPvGja' ID is from a different Bot Framework channel.

[2016-09-18 23:32] dandriscoll commented on #1227
Hi @BrainSlugs83, this looks like a valid issue -- I'm seeing the same thing. Even with the other accessor, SetProperty should let you clear a value. (Or we should have a ClearProperty call.)

[2016-09-19 01:22] willportnoy commented on #1267
@kevinport are you suggesting that leveraging the flag nature of the enum when calling FormDialog doesn't do what you want?

i.e. FormOptions.PromptInStart | FormOptions.PromptFieldsWithValues

[2016-09-19 01:58] rzmoz commented on #1264
fyi, I encountered the same issue and can confirm the reproduction of issue + workaround.

I've encountered similar issues with other nuget packages such as Microsoft.IdentityModel.Clients.ActiveDirectory where latest version relies on System.Net.Http 4.1.0 which is not compatible with WebApi it seems.

[2016-09-19 02:09] dandriscoll commented on #1135
Sounds good. If you have more specific questions, please feel free to open a new issue. Thanks

[2016-09-19 02:09] #1135 closed

[2016-09-19 02:09] rzmoz commented on #1106
Hi @dandriscoll, I'm with you on the general concepts of conversations but part of this conversation is about the technical implementation in the Bot Framework. For our scenario - its strictly sms via directline, We do pass the conversation control to the human assistant but our concern is not regarding how to flush stale conversations but how to keep conversations open / active - specifically in

[2016-09-19 02:12] dandriscoll commented on #1237
Since this issue is covered in #1236, I'm going to close this issue and track against that one. Please comment on that one, or open a new issue if you have unrelated questions/requests. Thanks

[2016-09-19 02:12] #1237 closed

[2016-09-19 02:25] dandriscoll commented on #1106
Direct Line is unique in that it does not have a user directory, so it's technically not possible to reach out to an existing user to initiate a new conversation.

Some options:
1. You could create an out-of-band protocol where you notify the client that it has a new message waiting in an existing Direct Line conversation. This allows you to work around the lack of a directory.
2. You could use a

[2016-09-19 02:37] rzmoz commented on #1106
Hi, thanks for the quick reply.

In our case, the user always initiate the conversation (creates a new conversation) so it's okay to have the conversation stay open.

From the top of my head:
1. circumventing the bot framework seems to defeat the purpose of the bot framework?
2. we can't use Twilio yet cause they don't support incoming texts in Denmark (checked 2 months ago)
3. yes, that's our cur

[2016-09-19 02:50] dandriscoll commented on #1106
Yep, that's probably the best approach.

[2016-09-19 04:46] iljoong commented on #1233
It seems that `conversation` object in `globalreply` is removed after `bot.send`. Clone `globalreply` instead of referencing it. I used `JSON.stringify/parse` for cloning the object.

It works for me though I'm looking for a better way. Please, refer following code snippet.

[code]

[2016-09-19 05:12] kenyeung128 opened #1268 "Customize WebChat"
Hi, is there any way to customize WebChat? like a message with multiple HeroCard, could it display as carousel slide like facebook messenger?

thanks

[2016-09-19 06:19] somprabhsharma commented on #1251
I am not able to replicate the problem now. Its working fine now. I think this is related to the issue `#1254` . You can close the issue now, If it will happen again I will get back to you with more detail.

[2016-09-19 06:21] myarotskaya commented on #1248
Will, thank you for the reply! After the handling of FormCanceledException everything works as expected. But I'm just curious, why a user should see this message after `quit` by default? And why the exception is throwed despite the fact that bot's state is ok and it can consume and handle further messages?

Here is some code example for those who will face with this problem:
[code]

[2016-09-19 06:21] somprabhsharma commented on #1250
Yeah, you are right. But can you please explain how to implement retries at my end ? when I am not getting any delivery confirmation of the message. How can I know whether the message got delivered or not so that I can resend it.

[2016-09-19 06:22] somprabhsharma commented on #1142
Any update on this ?

[2016-09-19 09:00] dhirajgupta1 opened #1269 "Invalid token. System.IdentityModel.Tokens.SecurityTokenSignatureKeyNotFoundException: IDX10500"
Hello,

I just created a BOT and published on azure. I registered it and when tested it is saying Endpoint authorization succeeded.

When tested in Emulator i got 500 Internal server error.

When looked into Azure logging i found this issue

please help me in fixing this issue.

Thanks,
Dhiraj

[2016-09-19 09:04] Abdelkrim opened #1270 "calling stateClient.BotState.GetUserDataAsync generates "Unable to deserialize the response.""
- **Calling stateClient.BotState.{GetUserDataAsync | GetPrivateConversationDataAsync} triggers an exception** "exceptionMessage": "Unable to deserialize the response.",  "exceptionType": "Microsoft.Rest.SerializationException"
- I am using the MS Bot Framework Channel Emulator

PS: I have looked at other closed issues related to the same issue and I couldn't figure out why it didn't work

Thank yo

[2016-09-19 09:18] kevinport commented on #1267
@willportnoy
Your suggestion FormOptions.PromptInStart | FormOptions.PromptFieldsWithValues workes perfectly. In this case we don't need to extend the FormOptions Enum.

In my opinion both solutions will work, and the user doesn't have to trigger the dialogstart with an unnecessary message to the bot.

[2016-09-19 11:59] AlexeyGrishinActimind commented on #789
+1

[2016-09-19 12:27] liiver commented on #1225
any ideas on sending " /deleteprofile" to Skype group chat?

[2016-09-19 13:01] somprabhsharma commented on #1235
Please refer to issue `#1261`.

[2016-09-19 13:03] somprabhsharma opened #1271 "Are you planning to add new channel to Microsoft Bot Framework?"
We are using Microsoft Bot Framework to create bot for telegram, messenger, skype, slack and kik. We want to create bots for line and wechat. So I want to know that are you planning to add line, wechat?

[2016-09-19 13:07] FreakDroid opened #1272 "Detect if bot is not sedding messages."
Heya guys, I was looking into the docs, and honestly did not see somehting that help me to track whether the bot is sending message or not. The problem is that is I send a message and an error happend or botframework service is dowm I can´t send any message to the user, I was looking for something like a middleware or some.

Any Help?

Thanks, Wilfredo.

[2016-09-19 14:06] chocvanstraw commented on #1051
That seemed to work a little better.  How difficult would it be to allow image locations to be injected into this attribute so it is easier to move through environments?  I created a custom version of the attribute to accomplish this but it's not the greatest solution.  Also, would it be possible to specify image sizes in this attribute?

[2016-09-19 15:30] d3clan opened #1273 "Maximum size for channel data (`sourceEvent`)"
Hello. Is there a maximum size for the `sourceEvent` data. We're looking to send quite a bit of data down with some of the responses through the Directline API. However, I've seen a couple of times, where none of the data comes through. These tend to be slightly larger responses than the others.

Is there a maximum size?

Thanks.

[2016-09-19 16:34] jameslew commented on #1272
Probably the cleanest way to do this would be to set up alerts tied to instrumentation.  Maybe if you used something like Azure Application Insights (which is free at low to moderate levels of traffic) you'd be able to set up an alert when http requests drop below a certain level.

If you're not using Azure there are similar analytics/monitoring packages in the marketplace.

[2016-09-19 16:35] jameslew commented on #1271
We don't have anything to announce at this time - but we're always looking at which channels it makes to integrate next.  I'll note the additional interest in these channels in our backlog.

[2016-09-19 16:42] chrimc62 commented on #1248
This was a feature request from customers--they wanted to be able to know where people were quitting from forms.  Exceptions provide a way of communicating that information "out of band".

[2016-09-19 16:46] #1248 closed

[2016-09-19 18:12] etiago commented on #1263
I think I managed to work around this today by using a generic "object" for the LuisDialog instead of having it as a fixed type... will confirm tomorrow :+1: thanks for the help!

[2016-09-19 19:09] dandriscoll commented on #1273
At the moment it's around 64kB, although it may be lower due to encoding. You'll get a synchronous error if you exceed the size (although my guess is that the error is probably a 500 and not a 4xx code). Is this consistent with what you're seeing?

[2016-09-19 19:18] kevinport commented on #1267
Thank you :+1:
when is this feature available?

[2016-09-19 19:42] dandriscoll commented on #1268
Hi @kenyeung128, a new, customizable Web Chat control is in development. We will make an announcement when it is available.

In the meantime, one option is to code your own control against the Direct Line API. Web Chat uses Direct Line already and you may be able to use the JS as an example.

[2016-09-19 19:54] dandriscoll commented on #1227
Fixed in https://github.com/Microsoft/BotBuilder/commit/dbd6e82c6c68e6bfecd76e325a28ad61d6700085 and will be included in the next SDK release.

[2016-09-19 20:07] dandriscoll commented on #1269
Hi @dhirajgupta1, it looks like your bot was not able to connect to the login.microsoftonline.com server to download the list of acceptable signing keys.

If you restart the bot, does it work? That will help us identify that this is the error.

[2016-09-19 20:09] dandriscoll commented on #1251
Thanks @somprabhsharma for following up. Opening a new issue is fine if you see additional problems. Thanks!

[2016-09-19 20:09] #1251 closed

[2016-09-19 20:12] dandriscoll commented on #1250
Most of our servers are coded so that if you receive a 2xx HTTP status code, you do not need to retry. We have accepted the message and will make sure it gets delivered.

There are a few cases where a message is dropped if it isn't properly formatted, although these are bugs and we are fixing them.

Clearly, a connection failure is something you have to retry. A 4xx and 5xx code *may* be a reason

[2016-09-19 20:18] irynabond commented on #1268
Hi @dandriscoll ,
is there approximate date when a customizable Web Chat control becomes available? It's going to save a lot of time.

[2016-09-19 20:37] fercom opened #1274 "is it possible to put ads in a bot?"
My bot is getting more users and I need to pay for services that it uses, I want to integrate something like google adsense but I understand that this is just for websites, Is there any way to integrate a service like this?

[2016-09-19 20:37] dandriscoll commented on #1268
Hi @irynabond, I wish I had a timeline I could share. We're hard at work on it.

[2016-09-19 21:58] craigjensen commented on #1239
This is a bug in the Slack channel (StartConversation is returning an incorrectly formatted ConversationId). We'll get a fix ready and it will go live the next time we deploy - probably later this week.

[2016-09-19 23:41] joewstroman commented on #1239
So here is how we got direct messages working. We ended up using the session object for testing purposes, but theoretically you don't need to since you can compose the address object if you know the correct id's.

[code]

[2016-09-19 23:47] joewstroman commented on #1239
So here is how we got direct messages working. We ended up using the session object for testing purposes, but theoretically you don't need to since you can compose the address object if you know the correct id's.

[code]

Enter a dialog with your bot, and then it saves the session. Use your http server to poke it and see if you get a message.

[2016-09-19 23:47] #1239 closed

[2016-09-20 03:23] #1230 closed

[2016-09-20 04:34] willportnoy commented on #1270
Why do you set the replyToConversation.Type to ActivityTypes.ConversationUpdate when sending a reply back to the conversation?  I assume you would prefer to send a message type back to the user.

[2016-09-20 04:45] afficionaddo commented on #1234
I'm using facebook messenger.

On Sun, Sep 18, 2016 at 9:20 PM, dandriscoll <notifications@github.com>
wrote:

[2016-09-20 05:16] BalajiMano opened #1275 "Microsoft Bot"
Hi,

I am planning to propose microsoft bot instead of traditional IVR application to one of my banking customer, so bot will be act as IVR application to server customer queries. I have two questions,

1. Can I propose this solution and is that legal to use Microsoft bot for commercial purposes?

2. If I propose this solution, Could I deploy my bot in Microsoft Windows server instead of Azure ? C

[2016-09-20 07:25] rehtinavelmoorthy commented on #1231
Yes. I am using web chat and thanks for the info.

[2016-09-20 07:33] rehtinavelmoorthy commented on #1231
Kindly update once the issue has been fixed.
Thanks!

[2016-09-20 07:53] liiver opened #1276 "Bug with LUIS and Skype groupchats"
There is a serious bug with LUIS and Skype groupchats.
When I interact with bout 1:1, it is ok and querys into Luis come in as expected, but whenever I use groupchat, for some reason the incoming query has also some BotID in it and it messes up totally the queryes and LUIS itself. I am using C# with botbuilder 3.2.0

Sample log output from luis logs. Queries from Skype groupchat:

<at id="28:32959

[2016-09-20 08:06] dhirajgupta1 commented on #1269
Yes i am still getting issue but this is different from previous one, i used Speech API in this bot.

<body>
<div id="content">
<div class="content-container">
<h3>HTTP Error 500.0 - Internal Server Error</h3>
<h4>The page cannot be displayed because an internal server error has occurred.</h4>
</div>
<div class="content-container">
<fieldset><h4>Most likely causes:</h4>
<ul> 	<li>IIS received the

[2016-09-20 09:18] Abdelkrim commented on #1270
Dear @willportnoy your comment is correct, nevertheless the following triggers the same exception where

- ChannelID = "emulator"
- ConversationID = "8a684dba"

[code]

PS: thanks for mentioning the fact that I made a mistake with the replyToConversation

[2016-09-20 10:03] palmerabollo commented on #1085
Any plans to release the new version with i18n support soon?

[2016-09-20 10:04] rposbo commented on #1253
Our "solution" to this currently is have an `/available` endpoint in our bot code that actually creates an instance of a directline client, creates a conversation, and sends a "hello" message to our bot, expecting a canned response to come back; if the canned response isn't there, or an HTTP Exception is thrown, or any other exception is thrown, then we assume the bot is not available and fail ove

[2016-09-20 10:13] senthil2m opened #1277 "Image not fully visible using CardImage feature of HeroCard in skype and facebook"
Hi,

I used CardImage in HeroCard to render an image of resolution 450*350 (smartphone jpeg image url) in node.js sample code. But the image rendered is not fully visible in skype and facebook channel. Part of image at the top and bottom is cut in these channels but same thing works fine in webchat with full image displayed.

Need help to render full image in facebook and skype channels using node

[2016-09-20 10:28] senthil2m opened #1278 "Issues in Typing Bubble"
Hi,

I used the below nodejs code to display typing bubble when bot replies back.
bot.use(builder.Middleware.sendTyping());
I get couple of issues.
Issue 1 : In FB messenger, When bot requires prompt.choice from user, the prompt options are not visible rather than typing bubble keeps visible without getting disappeared. This issue occurs in fb messenger of android but works fine in web messenger.

[2016-09-20 11:19] rehtinavelmoorthy commented on #361
how to get user name with node to greet with user name?

[2016-09-20 11:42] afficionaddo commented on #1252
I think the issue is fixed. @dandriscoll

But I am really curious as to what was the issue in 'Facebook service'. ?

[2016-09-20 11:49] snbuchholz commented on #965
Hi, I had similar issues on Slack in addition to webchat. Is your fix only for webchat?

[2016-09-20 12:37] Daij-Djan opened #1280 "Newly registered bot but automatically added skype bot cant be used (added/messaged) in skype - MAC ONLY, windows works"
Hi
I newly registered my bot on botframework.com. azure hosted, all working fine in emulator, all looks ok.

BF added a skype channel for my bot automatically but it cant be used (addew/messaged) in skype:
https://join.skype.com/bot/40b69265-52e4-4416-8c1b-d69813df1d20

skype only show some weierd ID 28234:24398-23-324i-24 (or so) and the bot cant be messaged or added
- MAC ONLY, windows works

[2016-09-20 12:47] kenyeung128 commented on #1268
thanks @irynabond

[2016-09-20 12:47] #1268 closed

[2016-09-20 12:56] FreakDroid commented on #1272
@jameslew Thanks for your response, Unfournately I am not using Azure for hosting but the approach would be the same and I was thinking about, but my problem is if my bot app is up but Microsoft bot framework (M.B.F) has any problem how do I detect it and notify the user? Some days ago one bot mine stopped working and I don't know why, this bot was in production for 2 weeks working very good, and

[2016-09-20 13:55] mitkodi opened #1281 "Prompt localization using _promptDefinition doesn't work"
If you set in resource file for a given form ***FieldName*_promptDefinition;LIST** it doesn't take effect.

ps
I can workaround it by adding **_promptSet = true;** in **Field.cs** (but not sure is it OK in other cases):
[code]

[2016-09-20 13:59] ejadib commented on #1281
@mitkodi another workaround would be leaving an empty PromptAttribute in your fields.

[2016-09-20 14:24] rschacherl opened #1282 "Channel Emulator crashes on startup: Failed to start callback server, access denied"
Whenever I start the Microsoft Bot Framework Channel Emulator (3.0.0.59) I immediately get the message "Zugriff verweigert" ("Access denied") and the title of the message box says "Failed to start callback server".

I've tried reinstalling it, I deleted the "%temp%\emulator.service" file, I tried to start the emulator as an administrator, I changed the port and I checked the firewall settings. No

[2016-09-20 14:51] dandriscoll commented on #1269
Hello @dhirajgupta1, you'll need to get the exception detail to determine what's failing. Can you gather that information and reply if the failure isn't clear?

[2016-09-20 14:52] dandriscoll commented on #1252
We have a Bot Framework service in front of the Facebook Messenger service. The Bot Framework service converts Bot Framework messages to the Facebook schema.

[2016-09-20 14:54] dandriscoll commented on #1275
Hi @BalajiMano, you can use any hosting platform to host your bot, as long as it can be accessed on the internet. Windows Server is acceptable.

[2016-09-20 15:04] BalajiMano commented on #1275
Thank you so much dandriscoll :).

[2016-09-20 16:49] mitkodi commented on #1281
Thanks @ejadib !

[2016-09-20 17:43] alex182 commented on #1271
How about a Skype for Business channel?

[2016-09-20 18:24] willportnoy commented on #1282
It sounds like a firewall issue - I run the emulator successfully without administrator access.

[2016-09-20 18:27] willportnoy commented on #1277
I don't believe we're truncating the image in the channel adapters, but it's possible the channel itself chooses to crop the image to preserve the aspect ratio instead of displaying empty bars on the side (and perhaps web chat allows some flexibility in the available image space).

[2016-09-20 18:41] R2dical commented on #1173
Based on my poking around in the Node and .Net versions, the LUIS docs and my own tests I have had success with parsing datetime and duration with using [moment.js](http://momentjs.com):

`//https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Tests/Microsoft.Bot.Builder.Tests/LuisResolutionTests.cs
					//https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Tests/Microsoft.Bot.Builder

[2016-09-20 19:13] dandriscoll commented on #1271
Sorry, we don't have anything to announce right now.

[2016-09-20 19:21] kevinport commented on #1267
One note for clarification:
works
`if (this._options.HasFlag(FormOptions.PromptInStart) || this._options.HasFlag(FormOptions.PromptFieldsWithValues))
            {
                await MessageReceived(context, null);
            }
            else
            {
                context.Wait(MessageReceived);
            }`

doesn't work:
`if (this._options.HasFlag(FormOptions.PromptInStart | FormO

[2016-09-20 20:01] ADefWebserver opened #1284 "Unable to find a version of 'Microsoft.Rest.ClientRuntime' that is compatible with 'Microsoft.Bot.Connector.DirectLine"
The Microsoft.Bot.Connector.DirectLine 1.0.2 has a constraint: Microsoft.Rest.ClientRuntime (>= 1.8.2 && < 2.0.0)'. Microsoft.Rest.ClientRuntime is up to version 2.3.3 (and climbing). Is there a reason for this constraint?

Thanks!

See:
http://stackoverflow.com/questions/39563768/unable-to-find-a-version-of-microsoft-rest-clientruntime-that-is-compatible-wi

[2016-09-20 20:09] dandriscoll commented on #1284
Hi @ADefWebserver, we're still working out how to upgrade the UWP version of Direct Line. That package doesn't work with ClientRuntime 2.3.2 (the most recent one I tested) and needs to be modified. It's in our backlog at the moment. Is this a blocking problem?

[2016-09-20 20:21] ADefWebserver commented on #1284
It is only blocking my blog post :) If you upgrade your web project to "all the latest updates" using the NuGet Wizard, you will get errors and your web application will no longer build.

I will just put my blog post aside and come back to this topic later. If I need to proceed I can always call the Directline API using HTTP calls.

Thanks for the follow-up.

[2016-09-20 20:21] #1284 closed

[2016-09-20 21:20] willportnoy commented on #1267
@kevinport I wasn't sure about the resolution of this thread - are you suggesting a code change is needed in FormFlow to check both flags?

[2016-09-20 21:23] willportnoy commented on #1225
Is https://github.com/Microsoft/BotBuilder/issues/1276 a more specific description of this issue?

[2016-09-20 21:24] willportnoy commented on #1173
@R2dical thank you for sharing some code to parse the datetime resolutions.  We have items in our internal backlog to track LUIS entity resolution parsing and interpretation so I'm going to close this issue for now.

[2016-09-20 21:24] #1173 closed

[2016-09-20 21:59] remms opened #1285 "Unit Testing (C#)"
Hi,

Can you add samples showing how to Unit Test conversations using the dialogs, Chain, ... ?

It would be nice to have a simple way to mock user input instead of having to mock all the implementation specific details; for example:

user says "Hello"
expected message from bot: "You said: Hello"

user says "make me a sandwich"
expect call to LouisMock, reply "makeSandwichIntent"
expect call to Sa

[2016-09-20 22:13] nzthiago commented on #1285
For AzureBot we are doing this type of functional testing using DirectLine, but we talk to the bot that's already deployed (so the bot is already hosted and available). So we have different tests that say "switch subscription", or "start VMs" and we check that the reply from the bot is as expected.
Check out the [AzureBot tests project](https://github.com/Microsoft/AzureBot/tree/master/AzureBot.Te

[2016-09-20 22:48] Andrea-Orimoto commented on #1260
This has been fixed, thanks a lot for reporting the issue!
https://docs.botframework.com/en-us/bot-intelligence/search/

[2016-09-20 22:48] #1260 closed

[2016-09-21 01:05] afficionaddo opened #1286 "How to render special symbols like emojis or text-art for that matter"
Hi,

I am using facebook messenger as the channel for my bot.

I want to add emojis in my text, html special codes etc.

How do I render them as they are currently simple shown as text with no effect?

[2016-09-21 05:36] willportnoy commented on #1285
Did you find the AssertScriptAsync unit tests for chains
https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Tests/Microsoft.Bot.Builder.Tests/ChainTests.cs#L364

and scorables?
https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Tests/Microsoft.Bot.Builder.Tests/ScorablesTests.cs#L294

They seem similar to your request.

[2016-09-21 06:02] liiver commented on #1225
Basically yes, that the main issue of it.
Secondary issue of "on switching LUIS app, group messages still go to old one" also exists, but I overcame it for now with registering a new bot

[2016-09-21 07:09] dipumon opened #1287 "Changing colour of string in bot framework"
Is there any option to change the font color of string that is sent from bot to user instead of default black in  .NET?

I am trying to change the color of text appearing in cards in bots

[2016-09-21 08:05] barmangaurav opened #1288 "Is it possible for Bot to proactively message to any specific contact via channel like Skype/FB/Slack?"
Based on some activity message, I want to send a proactive message from Bot side to a specific user on its contact list using any of the supported messaging channels like Skype/FBMessenger/Slack.
This specific user has not done any conversation with the bot yet; but added the bot to its contact list on the same channel. I am using **C#** to develop my Bot.

Example:
Message from me(barmangaurav) t

[2016-09-21 08:25] Daij-Djan commented on #1288
I can only answer for Facebook and only for doing it without the botframework :D there it is possible only after the user opt-in to be contacted by you ONCE -- e.g. in technical terms you need his page_scoped userId which you get after the user does the opt-in (he doesn't have to message you (!))

[2016-09-21 08:48] arieschwartzman opened #1289 "WebChat stops polling for new messages"
Some times (like a lot) the WebChat control will stop polling the messages API. Later, when sending new message from the user, will wake up the polling mechanism again.

I see that you had others complaining about the same issue.

Thanks

[2016-09-21 09:15] jchannon opened #1290 "CoreCLR plans"
Hi

Any plans to make the C# version compile on CoreCLR?

[2016-09-21 09:24] somprabhsharma commented on #1250
Yes that helps. You can close the issue for now. Thank you.

[2016-09-21 10:24] subhans3tech opened #1291 "Microsoft Bot Skype channel not replying from today"
i have microsoft bot working properly but suddenly today it stops replying it was deployed on azure and  its app id is   b55480e2-6f71-4b9a-94a0-d1fb0448093a

[2016-09-21 11:00] mitkodi commented on #1281
It seems that it doesn't work if the field type is a class (which is neither string nor IsIEnumerable).
Maybe because ProcessFieldAttributes is not called for these fields?

[2016-09-21 11:19] mitkodi commented on #1281
Please ignore the above post/reopen. It seems that such type of fields are not supported. I thought that I could set the real value for such field through validate, but I'm wrong.

[2016-09-21 11:19] #1281 closed

[2016-09-21 11:34] morsh opened #1292 "[Feature Request] Docs > How to build Node SDK from source"
Hi,
I want to edit and offer a pull request to the node.js module, but the development process is unclear to me.
1. It seems that there are missing files (specifically immited ".vscode/*" files that define how to compile the ts files and generate the js code and d.ts files.
2. The root directory of the npm module is unclear (Node/ or Node/core/)
3. Is there anything else I need to know when buildi

[2016-09-21 12:06] rohanbadlani opened #1293 "Registered treated as a keyword in Enum definition"
Hi,

I was using FormFlows and used "Registered" as a enum element. Although the form rendered the enum element but the form does not accept "Registered" as an option on the Emulator.

Regards,
Rohan

[2016-09-21 12:12] arieschwartzman commented on #957
Still seeing this problem

[2016-09-21 12:20] arieschwartzman commented on #202
What we need is to make the DirectLine API cross domain enabled, so we can write our own web client

[2016-09-21 12:36] ashay-88 opened #1294 "skype client carousel not working"
Hi,
I have created a bot, its on skype. in reply it returns carousel card to user. carousel doesnt particularly includes image. all it has is some text and select button.
Works good on emulator but tried on Skype windows desktop client, skype android, skype web client and skype web developer edition , no luck.
can anybody help me to figure out, which platform of skype supports carousel cards.

Tha

[2016-09-21 12:58] NTTLuke opened #1295 "Code Strange behavior"
I have a strange behavior running this code.

Use case  : When I enter in this case (DIALOG) the Chain continue with the FORMFLOW.

PIECES OF DIALOG
[code]
PIECES OF FORMFLOW

[code]

When I start a Dialog the FormFlow is called only if I write "Set my tweet" 2 times.
The first time it doesn't work.
am I doing something wrong ? Thx

[2016-09-21 13:10] naeemshaikh27 commented on #957
yes still see the problem. It is a little different than before now. Previously the messages only arrived one at a time only one step behind after each user input. now the messages arrive together when the lag, but only after a user input.

Example:
user:- Hi
bot:- hi, my name is msbot, i can help you with a bing search, please tell me what you want to search?
user:- what is LUIS-----(1)

====No r

[2016-09-21 13:33] dandriscoll commented on #1287
Hi @dipumon, which channel are you using?

[2016-09-21 13:34] dandriscoll commented on #1289
Hi @arieschwartzman, we have this issue fixed and it should be deployed soon.

[2016-09-21 13:38] dandriscoll commented on #1291
Hi @subhans3tech, the bot seems to be responsive and our logs don't indicate any errors. What behavior are you seeing?

[2016-09-21 13:54] arieschwartzman commented on #1289
Great ! Thanks

[2016-09-21 14:31] palmerabollo commented on #1007
@reyesrico According to the [attachments documentation](https://docs.botframework.com/en-us/csharp/builder/sdkreference/activities.html#attachmentscardsactions), an attachment can have `contentType`, `contentUrl` and `contentType` (but not `name`). In [the source code](https://github.com/Microsoft/BotBuilder/blob/master/Node/core/src/interfaces.d.ts#L71), the interface `IAttachment` also declares

[2016-09-21 14:51] #1275 closed

[2016-09-21 15:01] dandriscoll commented on #965
@snbuchholz , this change is only for webchat. Can you send your bot ID?

[2016-09-21 15:01] dandriscoll commented on #1289
Closing, please see #965

[2016-09-21 15:01] #1289 closed

[2016-09-21 15:03] dandriscoll commented on #1278
Hi @senthil2m, notes on each issue you described:

1. Facebook Messenger displays the typing indicator for 20s. This is specific to the channel.
2. This appears to be a bug in Facebook's UI.
3. Skype will support the typing indicator soon, and Web Chat will support it in the next release.

[2016-09-21 15:34] ejadib commented on #686
@eddie1976 I [wrote basic](http://southworks.com/blog/2016/09/21/using-facebooks-quickreplies-with-promptdialogs/) PromptStyler to take care of this.

[2016-09-21 16:23] willportnoy commented on #1295
You probably want FormOptions.PromptInStart.

[2016-09-21 16:27] willportnoy commented on #1290
https://github.com/Microsoft/BotBuilder/issues/572 has some relevant discussion.  We need some solution for the binary serialization issue, and it would probably be good to wait for the final release of the  Visual Studio tooling.

Also, .net core support can mean multiple things - ranging from "assembly depends on .net core" to "assembly depends on .net standard NuGet packaging" to "builder contr

[2016-09-21 16:28] willportnoy commented on #1250
Thank you for the discussion - feel free to open a new issue with more questions.

[2016-09-21 16:28] #1250 closed

[2016-09-21 16:47] brandonh-msft commented on #1288
It is possible. @EricaWu did this w/ the [Olympics Bot](https://github.com/ericawu/TwitterStreamEventBot):

https://channel9.msdn.com/Blogs/Seth-Juarez/Erica-Wu-on-the-Bot-Framework-and-Cognitive-Services

[2016-09-21 16:57] dipumon commented on #1287
I am using skype channel.

[2016-09-21 17:01] dipumon commented on #1294
At present, skype channel only allows upto 5 cards in a carousel.
If the carousel has more than 5 cards, then it won't work in skype.

[2016-09-21 17:08] brandonh-msft commented on #1294
Another thing to note is that, at present, the Skype Preview UWP app doesn't handle them that well, either. Best to test with Skype Web or Desktop client.

[2016-09-21 17:29] Daij-Djan commented on #1288
awesome - how then :D
LG
Dominik

Web: https://pich.info
Twitter: @DaijDjan
Facebook: Dominik.Pich

[2016-09-21 17:43] nickcordrey commented on #1294
Please also make sure that images conform to the requirements in https://docs.botframework.com/en-us/skype/getting-started/#cards-and-buttons i.e.

Images sent to Skype cards need to be stored on an HTTPS endpoint
Images should be HTTPS, up to 1024x1024, up to 1MB in size, and PNG or JPEG

Please reopen if the above doesn't address your issue - thanks!

[2016-09-21 17:43] #1294 closed

[2016-09-21 17:44] brandonh-msft commented on #1288
that's why i linked the source ;)
but [here's the method that does it](https://github.com/ericawu/TwitterStreamEventBot/blob/master/TwitterStreamEventBot/Services/CheckTrends.cs#L47)

[2016-09-21 17:56] jchannon commented on #1290
For binary serialization why not use Json, this is what we did for NancyFX. I dont see a need to wait for VS tooling, I don't require VS for example.

I would expect the project to target netstandard1.6 for example.

I'd also like to see less ties to aspnet directly, I have started porting the attribute usage for authorization for example to Nancy as we can't have attributes but this may be a whol

[2016-09-21 18:02] fercom opened #1296 "Getting a "precondition failed" error"
My bot is throwing an exception, It is published already, I cannot replicate the error and I have no Idea why it is happening.

Precondition Failed

`at Microsoft.Bot.Connector.ErrorHandling.HandleError[ObjectT](HttpOperationResponse`1 result) at Microsoft.Bot.Connector.BotStateExtensions.d__9.MoveNext() --- End of stack trace from previous location where exception was thrown --- at System.Runtime

[2016-09-21 18:12] Daij-Djan commented on #1288
sorry and thanks - saw only the huge video on the page :)

LG
Dominik

Web: https://pich.info
Twitter: @DaijDjan
Facebook: Dominik.Pich

[2016-09-21 20:05] kevinport commented on #1267
Yes i am suggestioning a code change in formflow.

because  if you use "PromptFieldsWithValues" you have to send an unnessensary message to the bot to start the conversation.

[2016-09-21 20:22] ankur-bansal2016 commented on #1139
steps to deploy bot on heroku.

folder structure

[2016-09-21 20:55] NTTLuke commented on #1295
Got it . It works fine! Thx thx thx :))

[2016-09-21 20:55] #1295 closed

[2016-09-21 22:21] SamuelTassell opened #1297 "Direct Line API GET"
So I've got a simple node app running using the 'directline-line' package on npm. My question is, is there a better way of checking for new messages other that using a 'setTimeout' to GET from the API to check for the messages continually? I can't imagine this is the most efficient way. Examples would be great, thank you.

[2016-09-21 22:23] dandriscoll commented on #1297
Hi @SamuelTassell, for now, the GET in a loop is the best way. We're working on a new version where the polling GET isn't necessary.

[2016-09-22 00:46] dandriscoll commented on #202
The API already has a CORS whitelist. Is there something more you need?

[2016-09-22 02:57] varunsethnsit opened #1298 "Documentation for Bot Builder v1"
We have build a bot with Bot Builder v1, however, we don't find any documentation for the same as of now, its v3 all the way. Please help with the documenation for the earlier bot version v1.

[2016-09-22 04:59] dandriscoll commented on #1298
Hi @varunsethnsit, you can find our v1 docs at http://docs-v1.botframework.com/

[2016-09-22 05:04] PrasenjitSaha commented on #202
Thanks **dadriscoll** & **arieschwartzman**. I completely understand that if I need to do any **customisation** like branding / color change / heading change e.t.c. on **Web Chat Control** provided by Microsoft Bot that right now is not possible what I need to do I have to configure **DirectLine API** and build own chat client. Is my understanding is right?

[2016-09-22 05:05] dandriscoll commented on #957
Hi @arieschwartzman and @naeemshaikh27, this is being tracked under a different issue. #965

[2016-09-22 05:07] dandriscoll commented on #202
Hi @PrasenjitSaha, that's correct.

[2016-09-22 06:22] barmangaurav commented on #1288
That's great news.. Let me implement the same and I share my feedback afterwards.

Thanks a ton Daij-Djan and brandonh-msft

[2016-09-22 07:58] palmerabollo commented on #733
@dandriscoll I see a http 500 status code when I try to upload a file using direct line. Is the bug already fixed in v3?

[2016-09-22 08:38] Hanoko opened #1299 "Some behaviours with prompt.choice"
Hi,

I have two things that I don't know if I can change them:
1. Everytime I use a Prompt.choice I get a "Options:" message. Can I delete this somehow?

2. When I use the Prompt.choice Telegram can put the choices into the keyboard, not into a message. Can we do this with the BotBuilder or is impossible?

Thank and best regards,
Pablo

[2016-09-22 09:02] SamuelTassell commented on #1297
Ok good to know. Great to hear you're working on an alternative. Ta :)

[2016-09-22 09:09] josephktcheung opened #1300 "Weird behaviour using Node ConsoleConnector"
Hi,

I've been using Node `ConsoleConnector` extensively in my mocha test cases like what BotBuilder has in `tests` folder. I have a problem when using `ConsoleConnector` with multiple `session.send` while the last `session.send` involves attachments that `ConsoleConnector` keeps logging `..[image/png]...............................................
   test.png` attachment message

BotBuilder versi

[2016-09-22 09:31] SamuelTassell opened #1301 "sourceEvent with prompts for client using Direct Line API"
So we are building our own client. After starting the conversation the bot sends a prompt with a couple of options, currently when I recieve the message from the bot in my client it returns as a string:

`Hi ryi8kXbT, what can I help you with?\n   1. Maintenance\n   2. Billing\n   3. General\n   4. Emergency`

My question is how can I send the prompt in a custom schema for my client to handle?

Fo

[2016-09-22 10:01] hgjkant commented on #962
@Stevenic can a LUIS intent be used instead of a regex to recognize the cancel action?

[2016-09-22 10:11] JoseAntonioRodriguez commented on #11
Hi, I'm using the MacOS emulator and when my bot answer with an attachment, the emulator is replaying with a `500 Internal Server Error` without dumping the json, as stated above.
[code]

Then if I type `/dump` in the emulator it crashes:
[code]

[2016-09-22 13:00] murtazadhari opened #1302 "ValidationResult throws : "Object reference not set to an instance of an object". when passing back choices"
Stack Trace:
Exception: Exception caught: 'Microsoft.Bot.Builder.FormFlow.FormCanceledException`1' in mscorlib.dll ("Object reference not set to an instance of an object."). Exception caught: 'Microsoft.Bot.Builder.FormFlow.FormCanceledException`1' in mscorlib.dll ("Object reference not set to an instance of an object.")

Hi, I am trying to generate form flow and during validation, If user enters

[2016-09-22 13:58] #1297 closed

[2016-09-22 14:04] dandriscoll commented on #733
The documentation is a little thin on this (it's in the backlog) but the upload method works just like a regular web upload endpoint. It accepts multipart MIME content.

[2016-09-22 14:05] dandriscoll commented on #733
If you use our Web Chat control, you can observe the requests coming from the browser to the Web Chat service, which talks the same protocol as Direct Line.

[2016-09-22 14:10] dandriscoll commented on #1301
Once you're down to the ChannelData field, that property is sent unmodified to the client.

@stevenic, is sourceEvent keyed by channel or is it a bare wrapper for ChannelData?

[2016-09-22 14:13] #1271 closed

[2016-09-22 14:25] #1263 closed

[2016-09-22 14:50] just1689 opened #1303 "Be able to kick-off many conversations"
I would like to be able to start the conversation between a bot and a user from the bot's side.
Also, I need to be able to do this for many users.

[2016-09-22 14:59] brandonh-msft commented on #1303
[see here](https://github.com/Microsoft/BotBuilder/issues/1288#issuecomment-248688004)

and no reason you can't simply repeat that process for many users.

[2016-09-22 15:00] brandonh-msft commented on #1247
[this comment on another similar issue may also help](https://github.com/Microsoft/BotBuilder/issues/1288#issuecomment-248688004)

[2016-09-22 15:27] just1689 commented on #1303
Thanks. That's interesting.

[2016-09-22 15:40] SamuelTassell commented on #1301
Just to add I'm currently doing this:

[code]

I'd like to keep the above so I can test with the emulator but then adding...
[code]
...to this somehow?

I've noticed I can get the `session.message.source`, so in the emulators case it's `emulator` and directlines case `directline`. So I could do something like:

[code]

But I'd like to chain it like the following:

[code]
Unfortunately I'm unable t

[2016-09-22 16:30] willportnoy commented on #1267
@chrimc62 what do you think?

[2016-09-22 16:33] willportnoy commented on #1290
JSON may be fine for serialization.  There are some features we need - for example, the ability to inject instances into the deserialization process from the dependency injection container so that not everything gets serialized with the dialog stack:
https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Fibers/FiberModule.cs#L52

[2016-09-22 16:47] jockorob opened #1304 "Error trying to install Bot Framework Channel Emulator"
PLATFORM VERSION INFO
	Windows 			: 10.0.10586.0 (Win32NT)
	Common Language Runtime 	: 4.0.30319.42000
	System.Deployment.dll 		: 4.6.1078.0 built by: NETFXREL3STAGE
	clr.dll 			: 4.6.1080.0 built by: NETFXREL3STAGE
	dfdll.dll 			: 4.6.1038.0 built by: NETFXREL2
	dfshim.dll 			: 10.0.10586.0 (th2_release.151029-1700)

SOURCES
	Deployment url			: http://download.botframework.com/bf-v3/tools/emulato

[2016-09-22 17:02] eanders-MS commented on #1299
Can you post an example of how you're calling Prompts.choice?

In Telegram, we display Prompts.choice as a set of buttons to the user. Telegram won't display buttons unless some text accompanies them, so if there is no text sent along, we add "Options:" so that Telegram will not reject the message.

[2016-09-22 17:12] eanders-MS commented on #1299
The other part of your question about keyboards: While we don't directly support Telegram's popup keyboard, it is still possible to display one by sending a channel-specific command in the channelData field of the message activity. In BotBuilder/NodeJS this field is called sourceEvent. Here's an example:

This keyboard would resemble a numeric keypad:
[code]

[2016-09-22 18:54] kenyeung128 opened #1305 "ChoiceStyleOptions in FormFlow as Quick replies"
Hi, right now, ChoiceStyleOptions in FormFlow has several options, but not supporting style like"Quick Replies" in facebook for users to choose. Is there anything to override it or support it? Thanks.

[2016-09-22 18:59] ejadib commented on #1305
Hi @kenyeung128, a few days ago I wrote something for Prompt Dialogs. You might take some ideas and make it work for Forms: http://southworks.com/blog/2016/09/21/using-facebooks-quickreplies-with-promptdialogs/

[2016-09-22 21:26] pcostantini opened #1306 "Telegram - message.user.name is not set"
Hi!
I'm using **session.message.user.name** to display the user's name.
Through the Telegram channel, the *name* field is not set in the *user* object. It seams that the incoming message to the Bot API endpoint is not including the *name* field in the *from* object. Other channels are including this field.

BTW, the same occurs with the C# SDK.

**Incomming Message to API Messages endpoint**
![ima

[2016-09-22 21:50] eanders-MS commented on #1306
The Telegram user's username is sent in this field, if provided. Telegram usernames are optional. This is a privacy feature of Telegram. You can set your username in the Settings section of Telegram.

Read more about Telegram usernames here: https://telegram.org/faq#usernames-and-telegram-me

[2016-09-22 22:22] pcostantini commented on #1306
That was it! Thanks @eanders-MS !

[2016-09-22 22:22] #1306 closed

[2016-09-22 23:13] SamuelTassell commented on #1301
Ok so after loads of trail and error(s) this is as far as I've got:
[code]
It's really close to what I need but the buttons aren't showing in the emulator, I need to be able to test in the emulator and directline at the same time if possible.

Thanks in advance :)

[2016-09-23 02:58] MohawkMan opened #1307 "DirectLine API Conversation crossing browsers"
I posted a quest on stackoverflow earlier about having conversations cross browsers:
[http://stackoverflow.com/questions/39649732/bot-connector-direct-line-api-cross-conversation](url)

After, digging a little deeper and stepping through the emulator I realized that the emulator is using a different sub domain (webchat as apposed to directline). I also realized that webchat is using a cookie to st

[2016-09-23 03:34] dandriscoll commented on #1307
Hi @MohawkMan, you should generate a random ID when your client loads. (Or, you can use an existing user ID within your application, like a device ID.) The auto-assign behavior has been a source of confusion and will not exist in the next version of Direct Line.

[2016-09-23 04:15] kenyeung128 commented on #1305
hi @ejadib , that's a great article. Thanks a lot, i will try to make one for flowforms

[2016-09-23 04:15] #1305 closed

[2016-09-23 04:52] kenyeung128 opened #1308 "Suggestion - change Extension methods from internal to public"
hi, it looks like a number of useful extension methods as below that are only internal in the BotBuilder, would it be possible to make it public?

internal static IList<Attachment> GenerateHeroCards(this FormPrompt prompt)

internal static IList<Attachment> GenerateHeroCard(this FormPrompt prompt)

[2016-09-23 05:02] MohawkMan commented on #1307
Thanks, it is easy enough to do I just didn't know if it would affect anything else. I am working with another developer that actually did the bot design so I wasn't sure. I guess on his end whatever I put in the from came through as both ChannelAccountID and ChannelAccountName, so i wanted to ask before I did it.

Thanks for the quick reply.

[2016-09-23 05:22] MohawkMan commented on #1307
@dandriscoll One more quick question, I know the documentation says the messages aren't stored for very long. Does that mean it is safe to assume that the random ID does not need to be a GUID? HOw long does that value live in the system?

[2016-09-23 05:33] murtazadhari opened #1309 "Skype Bot not working Delivery Failed"
Hi,

My bot is not working on skype. When i send message it comes back with warning sign on message "delivery failed"
The same bot works on emulator and sms. It was working last week but it has suddenly stopped.

Cheer
Ali, Murtaza

[2016-09-23 05:54] murtazadhari commented on #1069
I have suddenly started to get delivery failure on skype? any reason for this?

[2016-09-23 06:08] ashfaq-uddin opened #1310 "Skype HeroCard limitations"
I noticed there are some limitations. The maximum number is 5. I get an exception

`Error: Request to 'https://skype.botframework.com/v3/conversations/29%3A1fzuLIfgVsDSM17Cfmy1HETSPj5uqrcmBxBl4KnjyrgI/activities' failed: [400] Bad Request
    at Request._callback (D:\code\bots\Deals\node_modules\botbuilder\lib\bots\ChatConnector.js:410:46)
    at Request.self.callback (D:\code\bots\Deals\node_modu

[2016-09-23 06:12] ashay-88 commented on #1294
Hi Nick,
I am not using any image in my carousel hero card. I mentioned in my question, I am having a button and text.

I understand as of Skype carousel  is not supporting more than 5 cards.
But if I have less than 5, still I am not getting appropriate reply.
PS: I updated my SKype android client, also Skype Desktop.
I get this response on desktop and on skype android, it comes with card but card

[2016-09-23 06:37] subhans3tech commented on #1291
it become unresponsive for three hours but suddenly start replying
Thanks

On Wed, Sep 21, 2016 at 6:39 PM, dandriscoll <notifications@github.com>
wrote:

[2016-09-23 06:46] Sams4u opened #1311 "Refresh frequency for DirectLineClient"
Hi Team,

I notice that in the web chat bot client the refresh frequency by which we are polling the bot is around 500mS. Using the DirectLineClient the same referesh occurs at around 5 seconds. Is there somewhere we can control the frequency at which the DirectLineClient polls the bot for responses? DirectLineClient is a part of the using Microsoft.Bot.Connector.DirectLine Namespace.

Thanks

[2016-09-23 07:34] barmangaurav commented on #1288
Well, after going through the github code, I have learnt that TwitterStreamEventBot is storing user details (Service URL, Recipient and From) into a topic dictionary whenever a user subscribe for any topic.
Later, at every 15 seconds if the subscribed topic is a trending one, Bot sends proactive message(trending topic details) to the subscribed user.

This proactive messaging works fine for a user

[2016-09-23 07:34] #1288 closed

[2016-09-23 08:16] SamuelTassell commented on #1301
So according to the [documentation](https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.prompts.html#choice). If I add a `IMessage` to the `choice`... `Any listStyle options will be ignored`. So that explains why I'm not getting the buttons in the emulator.

So the question is, is there a better way of doing things to avoid the `listStyle` from being stripped in

[2016-09-23 08:37] JpEncausse opened #1312 "Restrict Firewall Port on my Cloud Server to MSBot Server"
Hi,
I opened a port on my cloud server to talk to MS Bot Framework.
Can I restrict incoming request to a given IP Address to avoid atacks / port scanner, etc ... ?
What IP address should I set ?

[2016-09-23 09:43] SamuelTassell commented on #1301
I tided up the above and got rid of the unnecessary data, limiting to one line within a dialog using a basic function:
[code]
[code]

I'd still like a cleaner example if possible.

[2016-09-23 09:49] naeemshaikh27 opened #1313 "Bot in a clustered express application"
Hi all,

I wanted to scale my node-express-bot application with the usual code.

[code]
Now this server also runs my bot, the problem is i can not get `session.privateConversationData.persistSession` persisted on all the processes running in the cluster. Is there any way I can have the session to be stored somewhere outside, like Redis, so the data will be available to whole cluster? Or is it stil

[2016-09-23 10:19] subhans3tech opened #1314 "carousel card issue when using with for loop to make it dynamic but it show only last card"
var msg = new builder.Message(session)
            .textFormat(builder.TextFormat.xml)
            .attachmentLayout(builder.AttachmentLayout.carousel);

[code]

[2016-09-23 10:36] SamuelTassell commented on #1301
Added the `retryPrompt` in the same function. This is getting messy, can someone tell me if this is the right way of doing it. I think I might be better validating the users answer client side, prior to sending... Using this in real-time messaging might be a little problematic.
[code]
[code]

[2016-09-23 11:08] Johndgnzj opened #1315 "How to get ChannelIdin OnCompletionAsyncDelegate"
I am using a IDialog with FormFlow to build a bot
i'm confused how to get correct context.ChannelId in event of "OnCompletionAsyncDelegate"
a simple code like below:
[code]

[2016-09-23 11:49] hughcameron opened #1316 "Redirect following Slack bot installation"
Hey there, we've received some feedback from Slack regarding our submission to the Slack App Directory:
"After the app is installed, it redirects back to a user's Slack team. It's best to redirect to a page on your site indicating success instead."
Is it possible to change the redirect URL using settings within the bot framework?

[2016-09-23 12:57] senthil2m commented on #1278
Hi dandriscoll,
Thanks a lot for the reply. I am still not clear with the point no.1,
 Issue 1 : In FB messenger, When bot requires prompt.choice from user, the prompt button options are not visible instead typing indicator keeps visible and this happens in android fb messenger app.

[2016-09-23 13:08] dandriscoll commented on #1307
The user ID is not stored, but it can be used inside your bot to correlate state, so it depends on how your bot is set up. Worst case, your bot uses that ID forever and never expires it (which is the default behavior), so you would need to plan accordingly.

A GUID is probably the safest answer; you can base-48 or base-62 (yes, 62) encode it if you want to make it more compact.

[2016-09-23 13:10] dandriscoll commented on #1278
That sounds like a separate issue. If the prompt isn't showing, it's probably not related to the typing indicator. You can verify by temporarily disabling the typing indicator in your code and seeing if the choice prompt appears.

[2016-09-23 13:20] KrishnanA commented on #1069
Can you please provide your bot Id and more information on what failure you are seeing? There are currently no known incidents.

[2016-09-23 13:22] senthil2m commented on #1278
Yes but prompt works fine when there is no typing indicator.

[2016-09-23 13:39] rehtinavelmoorthy opened #1317 "Get text input messagefrom text box"
I want to get the message input given by the user. I don't find any function to get this message input. I want this for skype,FB and web chat.

[2016-09-23 13:58] dandriscoll commented on #1311
Hi @Sams4u, there's no polling loop built in to the DirectLineClient. You control the interval in your code.

[2016-09-23 14:02] dandriscoll commented on #1316
Hi @hughcameron, you can configure this URL in the "Landing Page URL" field in the Slack configuration page on your bot's dashboard.

1. Open dev.botframework.com
2. Open your bot's dashboard
3. Click "Edit" on the Slack channel
4. Add your landing page URL into the field

[2016-09-23 14:03] dandriscoll commented on #1291
Closing this issue as the problem appears to be resolved. Please feel free to open a new issue if you see further problems.

[2016-09-23 14:03] #1291 closed

[2016-09-23 14:05] dandriscoll commented on #1278
@Stevenic, any issues you can see?
@senthil2m, can you send your bot ID or a conversation ID where you experienced problems, and I can take a look on the service.

[2016-09-23 16:24] alphabj opened #1318 "Whitelist for bot connector service"
In order to make my bot as secure as possible, I'd like to disallow any inbound traffic unless it's coming from the MS bot connector. Is there a whitelist of the IPs/domains used? I couldn't find an answer to this question in support and wasn't sure how to reach out to MS. Thanks.

[2016-09-23 21:53] brandonh-msft commented on #1318
If you [wire up Application Insights to the bot site](http://aihelpwebsite.com/Blog/EntryId/11/Using-Application-Insights-With-Microsoft-Bot-Framework), it will log the traffic from "Dependencies" - in this case that ends up being the bot framework.
Apologies, I don't have any traffic handy right now or I'd give you an example. At any rate that might be a good starting point for what to let in/out

[2016-09-23 22:06] brandonh-msft commented on #1317
Have a look at [PromptDialog.Text](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/PromptDialog.cs#L247)

[2016-09-23 22:07] KIBASSA opened #1319 "Sending FB's quick reply using Microsoft Bot Framework c#"
Hi,
I implemented my bot following the proposed procedure on this link
https://blog.botframework.com/2016/09/15/facebook-messenger-updates/

But when I click on the button, I do not get the "payload" but rather "title"

How can I do to get the 'payload' from message.Text (message is Activity)   ?

Thank you in advance for your help

Kibassa

[2016-09-23 22:11] brandonh-msft commented on #1314
is it possible you're hitting the 5-card limit (on some channels) with this? Try boxing the `for` loop to a max of 5 and see how you fare as a troubleshooting step.

[2016-09-23 22:13] brandonh-msft commented on #1312
see my response on #1318

[2016-09-23 22:20] willportnoy commented on #1296
https://docs.botframework.com/en-us/technical-faq/#what-is-an-etag--how-does-it-relate-to-bot-data-bag-storage

I don't see SerializingDialogTask in your call stack - are you using the latest NuGet?
https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/DialogTask.cs#L420

[2016-09-23 22:34] dandriscoll commented on #1318
Hi @alphabj, we do not publish a list, and I would encourage you to be resilient about source IPs as we add new servers and services all the time.

The most robust way to ensure a Bot Framework service is authentic is to perform the verification steps described in our authentication guide (https://docs.botframework.com/en-us/restapi/authentication/) or use the Bot Builder SDK, which implements all

[2016-09-23 22:35] dandriscoll commented on #1312
Responded on the related issue that @brandonh-msft linked. Closing this issue so we have a single thread.

[2016-09-23 22:35] #1312 closed

[2016-09-24 01:22] alphabj commented on #1318
Thanks guys. I am using the Bot Builder SDK, but would still like to lock it down as much as I can for now. I followed Brandon's lead and came up with these, at least in the case of skype:

https://login.microsoftonline.com
https://api.aps.skype.com
https://skype.botframework.com

I expect I'll need to check again once I set up Twillio.

[2016-09-24 04:10] afficionaddo opened #1321 "Bot on AWS hosting"
Hi,

I am trying to host my bot c# on AWS.
I am facing an issue in SSL.

I generated certificate from StartSSl.com but it gives an 500 internal server error in BotManagerController.cs when I do 'Test connection to bot'.

I am unable to debug the issue. Please help or recommend what kind of certificates will work for the bot framework? Will certificates from third-arty free sites like StartSsl work

[2016-09-24 06:12] slidenerd commented on #1253
@rposbo  how often are you pinging your bot to check if its running?

[2016-09-24 09:10] slidenerd commented on #1047
@J3QQ4 have you tried to access the data under sourceEvents to get the email?

[2016-09-24 09:19] slidenerd commented on #1294
so basically let me summarize this, if skype has a limit of 5 items in a carousel and messenger has a limit of 15 items in the carousel, should i use the session.message.agent  to identify who is the client and render carousels based on that? that would it cross platform right or is there any other way to find out the type of client you are interacting with

[2016-09-24 12:33] puneetsngh commented on #1321
@afficionaddo you can try cloudflare, getting and setting ssl certificate with cloudflare is easy

[2016-09-24 13:25] slidenerd commented on #1167
Well i am also facing the same issue, how about a solution like this
check if the source is facebook, if yes, use source events to deliver a generic template response to messenger , if source is skype, use the hero cards,am gonna try this solution right now and see how that works.

[2016-09-24 13:27] slidenerd commented on #1210
in the meantime ubreddy, for the web chat, you can probably add a check to see if the source is a webclient and invoke a special method that converts your json template with data into a renderable css block with the same effect 💃

[2016-09-24 15:02] Freshchris01 opened #1322 ""The 'form' field is unrecognized" - Facebook REST"
When I send a message to the Facebook bot via REST Api with the following JSON, I get the response the 'from' field is unrecognized, but it's actually here.
`{
  "type": "message",
  "id": "...",
  "timestamp": "2016-09-24T02:47:03.8956722Z",
  "serviceUrl": "https://facebook.botframework.com",
  "channelId": "facebook",
  "from": {
    "id": "...",
    "name": "..."
  },
  "conversation": {
    "

[2016-09-24 15:12] slidenerd commented on #852
so what happens when you cross that limit? does the bot crash? does it delete older entries and keep newer ones?

[2016-09-24 15:15] slidenerd commented on #895
thank you so much for the above comment @Stevenic I was going to open an issue citing how come 3 properties are not documented but you made it all clear 🎯

[2016-09-24 15:27] slidenerd commented on #1239
Well you could also access the user as session.message.user instead of session.address.user right? Do they stay the same in that case

[2016-09-24 16:27] subhans3tech commented on #1314
i am using with limti three also but it is not working

[2016-09-24 16:44] willportnoy commented on #1224
I'm going to close this issue for now, but feel free to open a new issue for further discussions.

[2016-09-24 16:44] #1224 closed

[2016-09-24 19:06] perecillo opened #1323 "How to use luisRecognizer in a waterfall dialog"
Hello,

I would like to ask how to use luisRecognizer in a waterfall dialog. My code is:

[code]

I want to know the entities the response to the question "Which service do you want to activate?" has. However I don't know how I coud use LuisRecognizer here.

Could you help me? Thks

[2016-09-25 02:53] dandriscoll commented on #1322
Hi @Freshchris01, the 'from' field's ID must match your bot's identity within the channel (i.e., your bot's FB ID) and it must be consistent with the MSA App ID your bot used to authenticate the request.

The Bot Builder copies this from the 'recipient' field in incoming requests. Is that the value you're using?

[2016-09-25 03:35] willportnoy commented on #1321
You should also be able to verify the SSL certificate for you web site in your browser as well, before even considering it as a web service.

[2016-09-25 03:36] willportnoy commented on #1315
You might consider using the dialog that calls the FormDialog to access properties from the message in case they're not available in the [completion] delegates within FormDialog.

[2016-09-25 03:38] willportnoy commented on #1313
The idea behind the bot data bags (e.g. private conversation data) is that they're stored externally to your bot in the Bot Framework State Service, so that you can scale across multiple nodes.  Do you see some evidence that state is not persisted across nodes?

More details at:
https://docs.botframework.com/en-us/technical-faq/#where-is-conversation-state-stored

[2016-09-25 03:41] willportnoy commented on #1160
@cglong thank you for the pull request - we've merged it, so I'm going to close this issue.  Feel free to open a new issue for further discussion.

[2016-09-25 03:41] #1160 closed

[2016-09-25 04:40] slidenerd commented on #1075
So basically the IBotState is a Hashmap in simple words that maintains data as long as the server is running or we havent exceeded 32kb of storage?

[2016-09-25 07:45] slidenerd commented on #1167
Nope that solution doesnt work either

[2016-09-25 09:36] J3QQ4 commented on #1047
@slidenerd I'm not sure where that is in the C# version which I'm using.

[2016-09-25 11:30] murtazadhari commented on #1309
Hi @willportnoy

Any updates on this? I have noticed not only my bot all the other live bots are not working. Same issue is happening with other live bots. Messages coming back with delivery failed warning icon.

[2016-09-25 11:42] mitkodi opened #1324 "FormFlow and multi-word field's term issues"
Reproduce the issues:
- Create a form with two fields:
[code]
- Build a FormDialog:
[code]
- Run the dialog, fill up form fields (First and SecondField) and answer with "*no*" to the confirmation "*Confirm?*".

**Issues**
1. If you respond to "*What do you want to change?*" by clicking the button for the Second Field you will receive *"SecondField" is not a field name option.*
2. Select Second Fie

[2016-09-25 13:30] Freshchris01 commented on #1322
Thanks for your reply, it works quite well now.

[2016-09-25 13:30] #1322 closed

[2016-09-25 14:42] dandriscoll commented on #1309
Hi @murtazadhari, all of the Skype bots I've tried are working properly.

Can you send an example bot ID (either the ID in the Bot Framework portal, or the GUID in the join bot link)?

[2016-09-25 15:32] fercom commented on #1296
I had the 3.1.0 version of botframework from nuget, I have updated, I am going to wait to see if the error goes away

[2016-09-25 15:57] jameslew commented on #1319
That's odd.  I'll be back in the office in the morning and take a look.  What do you get in channelData (or sourceEvent) from Facebook?

[2016-09-25 17:19] pcostantini commented on #1309
Hi!
Same issue here and not just my bot. I'm getting 'delivery failed' while sending messages to any of the published bots in the directory (https://bots.botframework.com/).
I'm using the same skype account on different connections and clients (skype preview, skype desktop, skype alpha for linux and android client).

[2016-09-25 18:34] remms commented on #1285
Thanks, DialogTestBase + AssertScriptAsync seems to be exactly what I'm looking for.

[2016-09-25 18:55] mathieumack opened #1325 "Slype integration : Scan bar codes"
Hi,
Do you know if it's possible to integrate a bar code scanner with a bot integrated in Skype ?
The goal is to discuss with a user and allow the user to scan a barcode and send it to the bot.
Best regards

[2016-09-25 18:56] #1325 closed

[2016-09-25 20:47] bobzsj87 opened #1326 "Facebook location quick_reply"
I've been searching in the code and didn't find the `contentType: "location"` quick reply of Messenger. I wonder it is not implemented. Is it possible to do under validatedPrompt (but what's the prompttype as I need to get from session.message.entities)... Thanks

[2016-09-25 23:05] murtazadhari commented on #1309
Hi @dandriscoll

This is the App Id 147820f6-870e-4308-8c6c-7c8ed2e70da6 of my bot.  It is not published yet. I am not sure whether you can still use it.

The other live bots that i have tried and all of these are coming back with same above error
Candy Escape
MemeBot
Skyscanner

[2016-09-25 23:47] fercom commented on #1296
Now it throws something else:

An error occurred while sending the request.

`at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task) at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task) at Microsoft.Bot.Builder.Luis.LuisService.d__4.MoveNext() --- End of stack trace from previous location where exception was thrown --- at System.Ru

[2016-09-26 03:58] slidenerd commented on #1326
have you tried using the sourceEvent to send that quick reply?

[2016-09-26 04:06] slidenerd commented on #292
"The short answer is yes. The longer answer can be found here: http://docs.botframework.com/connector/tracking-bot-state/#navtitle

Have fun!"

that page gives  a 404

[2016-09-26 04:17] slidenerd commented on #729
To add to stevenic s point, this is what the method looks like
 Session.prototype.sendTyping = function () {
        this.msgSent = true;
        var m = { type: 'typing' };
        this.prepareMessage(m);
        this.batch.push(m);
        logger.info(this, 'session.sendTyping()');
        this.startBatch();
        return this;
    };

Notice the call to startBatch which has this line inside
th

[2016-09-26 04:55] dandriscoll commented on #1309
Hi @murtazadhari and @pcostantini, we are looking into it.

[2016-09-26 05:04] hughcameron commented on #1316
Thanks for your help @dandriscoll - that's working!

[2016-09-26 06:06] Sams4u commented on #1311
May i know where can i set that. Below is the lines of code i am using. Please suggest
[code]

[2016-09-26 06:08] afficionaddo opened #1327 "Question: Why does the BOT endpoint should be 'https'?"
Hi,

May be I am just spitballing here, but my question is

Why does the BOT endpoint should be 'https'?

[2016-09-26 06:12] afficionaddo opened #1328 "Question: What kind of HTTPS ceritificate do I need to apply as my BOT is on AWS?"
HI,

I want to host my bot on AWS.
I tried third-party HTTPS certs from StartSSL.com & LetsEncrypt.com
But on 'Test connection to bot' they give an error.

Sometimes it's 'Trust cannot be established' and on other occasions it's 'Error in BotControllerManager.cs'
Please help as its urgent for me to fix soon as my bot is to launch this week.

My questions:
1. What kind of HTTPS ceritificate do I ne

[2016-09-26 06:14] afficionaddo commented on #1321
Thanks for the reply @puneetsngh
Buddy do I need to configure anything else? Also the HTTPS cert will be a normal one or something extra property should it have for BotFramework compatibility. Sorry if sound naive!

[2016-09-26 06:14] afficionaddo commented on #1321
Thanks for the reply @willportnoy !
Do I need to configure anything else also or just the HTTPS cert apply, verification in browser and i am good to go?

[2016-09-26 07:38] ThisWillDoIt opened #1329 "Access all messages in a Skype group chat"
For my bot use case I really need to read all text messages in a skype group conversation. Currently the bot can only read messages that start with @BotName.

It would be really useful if there would be a setting for users to allow the bot to access every message.

[2016-09-26 09:02] naeemshaikh27 commented on #1313
yes I get `session.privateConversationData.persistSession` as  `undefined ` across multiple nodes

[2016-09-26 12:35] bobzsj87 commented on #1326
@slidenerd thanks for the reply. I've thought about it and it should probably work. But problem is how do I the the result like the prompt in the waterfall manner, i.e.,with `(session, results)`?
Thanks again.

[2016-09-26 12:44] ejadib commented on #1319
@KIBASSA I don't think you will get the payload in the activity.Text property. The payload of the selected quick reply will come as part of the channelData. Complementing the post @jameslew wrote, I put together an [small sample](http://southworks.com/blog/2016/09/15/sending-facebooks-quick-replies-using-microsoft-bot-framework/) showing how to access the payload of the selected quick reply.

[2016-09-26 12:45] MCKRUZ opened #1330 "Trouble with Dialog Chains"
So I have this dialog chain which I'm calling like so...

public static readonly IDialog<string> dialog = Chain.PostToChain()

        .Select(msg => msg.Text)

        .Switch(
             new RegexCase<IDialog<string>>(new Regex("^hi", RegexOptions.IgnoreCase), (context, txt) =>
             {
                 return Chain.ContinueWith(new GreetingDialog(),
                        async (ctx, r

[2016-09-26 13:06] matheus208 commented on #761
Hi!
Has it been released? I'm still facing this as of version 3.2.3.

Example code:

[code]

I get "sent" printed on the console, but no card.

[2016-09-26 14:11] slidenerd commented on #1327
well i guess they dont want anyone snooping on people s messages as it is estimated that a lot of personal information will be sent out on these channels, the finance bots that you see currently on the botstore already ask tonnes of personal questions

[2016-09-26 14:12] slidenerd commented on #1326
i have the same requirement @bobzsj87 to handle location in my bot, will try something and if I find a solution, will come back and update this thread

[2016-09-26 15:58] dandriscoll commented on #1328
Hi @afficionaddo, the Error in BotControllerManager will be fixed in our next deployment.

The Bot Framework requires that the x.509v3 certificate exposed by your endpoint be current and valid. Most of the checks for "current and valid" are standard checks for server certs: the CN must match the hostname, it must not be expired, it must not be listed in a CRL, it must have the correct set of EKUs,

[2016-09-26 16:41] palmerabollo commented on #1327
It could be useful if the emulator could work with http bots (for development). For production I agree that making https mandatory is a good practice that prevents third-parties from eavesdropping on your personal conversations.

[2016-09-26 16:44] willportnoy commented on #1330
The ClosureCaptureException should mention which object has been captured in the message - what does it say?

More information:
https://docs.botframework.com/en-us/technical-faq/#ensure-that-all-dialogs-are-serializable

[2016-09-26 16:46] willportnoy commented on #1296
The call stack involves LuisService - are your subscription and model keys correct?

Do you have the type of the exception?  You might consider breaking on thrown exceptions to see what it is.

[2016-09-26 16:47] willportnoy commented on #1321
@afficionaddo with regard to SSL, testing the https endpoint in the browser should be sufficient.  Once you have that working, then you'll need to deploy your bot code and make sure bot authentication works as well.

[2016-09-26 16:52] dandriscoll commented on #1321
It depends on which OS you're using. If you're using a stock Windows installation from Microsoft, using a browser is probably a decent test. If possible, please try your certificate before buying it.

[2016-09-26 17:01] dandriscoll commented on #1327
SSL/TLS has become pervasive enough that many sites, services, and libraries are making HTTPS mandatory. We rely on the x.509v3 to help ensure the bot's endpoint is authentic, and we feel HTTPS is appropriate for the kind of data sent between a bot and the Bot Framework.

Many hosting providers, including Azure Web Apps, make it easy to create a website accessible via HTTPS. There are still config

[2016-09-26 17:02] dandriscoll commented on #1311
You must put your GetMessages call in a loop. Take a look at the "ReadBotMessagesAsync" method here: https://github.com/Microsoft/BotBuilder-Samples/blob/master/CSharp/core-DirectLine/DirectLineClient/Program.cs

[2016-09-26 17:10] KrishnanA commented on #1329
Thanks for the feedback. This is something that we are considering for a future release.

[2016-09-26 17:10] #1329 closed

[2016-09-26 17:16] DamianReeves commented on #572
I agree with @berhir, if we could get an ASP.NET CORE sample targeting .NET 4.6 (full framework) would be great. In particular it would be great to get a drop in replacement for `[BotAuthentication()]`.

[2016-09-26 19:14] MCKRUZ commented on #1330
I figured it out.  Here is the solution

The issue seems to be with the following anonymous method:

async (ctx, res) =>
{
    var token = await res;
    var name = "User";
    context.UserData.TryGetValue<string>("Name", out name);
    return Chain.Return($"You are logged in as: {name}");
});
Try replacing that with a method instead:

return Chain.ContinueWith(new GreetingDialog(), AfterGreetingC

[2016-09-26 19:14] #1330 closed

[2016-09-26 19:33] KIBASSA commented on #1319
Thanks for your help.
It's exactly that

[2016-09-26 19:33] #1319 closed

[2016-09-26 21:17] konnichimade commented on #464
Per [this comment](http://stackoverflow.com/questions/37997948/cant-establish-ssl-tls-secure-channel-with-signed-cert/38022581#comment63964513_38022581) on the above-linked SO question, my issue was fixed on July 8.

[2016-09-26 21:39] remms opened #1331 "Security - Keys"
Hi,

Let's suppose that signing keys from bot framework leaks - in this case the bot implementation may be unsecured up to 5 days until the keys are updated, even the leakage being known by the team responsible for the connector, right?

Would be interesting to have an activity "reset keys" telling the bots to refresh;

Or at least, is there a way to configure the cache to be smaller than 5 days?

[2016-09-26 22:52] euanlau opened #1332 "Slack: Removing a bot from channel does not trigger conversationUpdate"
`conversationUpdate` event is received when the bot is added to the channel.
However, removing a bot from channel does not generate such event.

[2016-09-27 03:36] slidenerd commented on #1247
@SamuelTassell  how are you invoking the /getprofile dialog
is your condition inside the / dialog similar to this
if(!session.userData.user){
session.beginDialog('/getProfile')
}

[2016-09-27 04:17] slidenerd opened #1333 "Which userid is consistent at all times?"
First of all, thank you for your fantastic efforts guys, I have a few questions about the framework. I researched this stackoverflow issue thread extensively before posting these. Hopefully, I did not miss something.

What is the difference between session.message.sourceEvent.sender.id and session.message.user.id, do they always reflect the same values?

The address field also seems to have user i

[2016-09-27 04:27] slidenerd commented on #1326
@bobzsj87  did you check [THIS](http://southworks.com/blog/2016/09/15/sending-facebooks-quick-replies-using-microsoft-bot-framework/) i am trying it out

[2016-09-27 05:35] hughcameron opened #1334 "Alternating Connection Test Results"
When testing the connection to my bot in the Bot Framework the results alternate between "Accepted" and "Forbidden: You do not have permission to view this directory or page."

The bot hosting is Azure - is there any way I can track down the source of the issue via the Bot Framework or should I raise a ticket with Azure?

[2016-09-27 06:38] slidenerd commented on #101
how do you trigger this in node.js?
bot.send('/deleteprofile') will that do it

[2016-09-27 06:44] pandubalraj commented on #957
Hi @dandriscoll ,

I am facing the same issue.
While entering the second chat message then only I am getting the first chat response.
Still having the same as @alexsorokoletov mentioned in first GIF image.

I have deployed in Azure and using the NodeJS SDK botbuilder version 3.2.3.

Please let me know, is this fixed ?
Thanks

[2016-09-27 06:47] pandubalraj commented on #965
Hi @dandriscoll,

I am still facing this issue in webchat.
Is this fixed ?

Thanks

[2016-09-27 07:54] slidenerd commented on #101
@mikkhait how do you trigger that? from the root dialog

[2016-09-27 08:35] snbuchholz commented on #965
@dandriscoll ID is 943d58f3-2f89-477e-8f1a-41e9b3281d7b

[2016-09-27 08:57] Sams4u commented on #1311
Inside the chat window if  we got to Developer tools and do a network trace we can see a HTTP call been made almost every 6 sec which i believe a signal R cal [screenshot attached]. Can you tell the purpose of it.
![image](https://cloud.githubusercontent.com/assets/20707001/18866590/417c540e-84be-11e6-8571-a0f5d50e95d1.png)

[2016-09-27 10:26] rahul251993 commented on #1006
you can use local tunnels to test your bot locally :)

[2016-09-27 10:28] erlendw commented on #1006
@rahul251993 I am not familiar with tunnels, would you care to elabourate? :)

[2016-09-27 10:35] slidenerd commented on #1326
let replyMessage = new builder.Message(session).text('Can you please share your location?');
    replyMessage.sourceEvent({
        facebook: {
            quick_replies: [
                {
                    content_type: "location"
                }
            ]
        }
    });
    session.send(replyMessage);

This doesnt work, just publishes an undefined after saying can you please share y

[2016-09-27 10:40] slidenerd commented on #1326
This doesnt work either
    let replyMessage = new builder.Message(session).text('Can you please share your location?');
    replyMessage.sourceEvent({
        facebook: {
            recipient: {
                id: session.message.user.id
            },
            message: {
                text: "Please share your location:",
                quick_replies: [
                    {

[2016-09-27 11:07] rahul251993 commented on #1006
@erlendw  local tunnels basically provide a URL which you can use to connect with your bot and test locally on slack or whatever application you want. You can do 'npm install -g localtunnel' to install it. Once installed you can setup your application where you want to test your bot either skype or slack or whatever. You also need to change message endpoint of app as : http://test.localtunnel.me/-

[2016-09-27 11:12] rahul251993 commented on #962
You need to use endConversationAction(). you can also define words like cancel,exit and etc inside it.

[2016-09-27 11:31] JpEncausse commented on #1238
@SamuelTassell thanks it works great !

[2016-09-27 11:31] #1238 closed

[2016-09-27 11:45] erlendw commented on #1006
@rahul251993 Sweet, this is very helpful because i need to reach some apis that are only available at my office domain, and this means i can test it without deploying to local server. However I fail to see how it will help with the direct line client stuff tho. But very nice either way :)

[2016-09-27 13:37] konstlut commented on #1309
@murtazadhari @pcostantini I will kindly ask you to help me troubleshoot that - will you please  try sending message to your Bot from Skype web app (web.skype.com) and see what actual HTTP request/response is when you send messages to Bot? Most interesting for me are response code and response headers ContextId and Date.
If you use Microsoft Edge you may check the network tab in the Console (F12)

[2016-09-27 13:50] Thegaram commented on #101
@slidenerd This is not supported in V3 anymore. You can implement your own mechanism for this. See [this](http://stackoverflow.com/a/38333901/5362684).

[2016-09-27 13:52] pcostantini commented on #1309
Hi @konstlut
These are the response body and headers:

**Headers:**
Access-Control-Allow-Credentials: false
Access-Control-Allow-Origin: *
Access-Control-Expose-Headers: X-Content-Type-Options,Location,Cache-Control,Pragma,ContextId
Cache-Control: no-store, must-revalidate, no-cache
Content-Length: 37
Content-Type: application/json; charset=utf-8
ContextId: tcid=147498413417571991,server=CO2SCH020

[2016-09-27 14:45] nicolasjustSnoopConsulting opened #1335 "[Facebook Channel] Connector error"
Hi
I have a bot, conected to telegram and facebook. With telegram working properly but with facebook not.

The error is
**Facebook graph API call failed with: BadRequest {"error":{"message":"(#100) Length of param message[quick_replies][1][title] must be less than or equal to 20","type":"OAuthException","code":100,"fbtrace_id":"DRAKp97EzXc"}}**

this appeare in the dev.botframework.com as issue
Th

[2016-09-27 14:46] brandonh-msft commented on #101
we've used `/deleteprofile` very recently so I'm pretty sure it still works. Note that in some channels it must be preceded by a space

[2016-09-27 14:53] slidenerd commented on #1301
I was testing your code @SamuelTassell and it seems it doesnt work
Look at this screenshot, I tried it on both desktop and mobile to confirm this isnt a desktop issue
![test](https://cloud.githubusercontent.com/assets/5139030/18878962/3c8ad5c4-84f0-11e6-8554-71505d73d5cd.gif)

`let replyMessage = new builder.Message(session).text('testing')
    replyMessage.sourceEvent({
        facebook: {

[2016-09-27 14:55] slidenerd commented on #1326
This is the closest i have got in testing quick replies
![test](https://cloud.githubusercontent.com/assets/5139030/18879013/76597d28-84f0-11e6-9d47-6a0b01b24b58.gif)

[code]

[2016-09-27 15:19] rposbo commented on #1323
Is it not on `results.entities`? (I'm guessing, coming from the C# version..)

[2016-09-27 15:22] suresh-mobilocity commented on #327
Is there a limit to how many entities can be defined for an application? I am not able to add another entity after 10.

[2016-09-27 15:28] brandonh-msft commented on #327
@suresh-mobilocity yup - that's the limit :)

[2016-09-27 15:35] suresh-mobilocity commented on #327
I did not understand how I can create a model or multiple models under the same application? Is the meaning of "multiple LUSI Model" referred in the original question referring to defining more than one App?

[2016-09-27 15:41] konstlut commented on #1309
@pcostantini Thanks a lot! This is exactly what I need for investigation. We're treating this as a priority and I will update you as soon as possible - apologies for the delay in getting a resolution.

[2016-09-27 15:52] slidenerd opened #1336 "node.js facebook quick replies not working through bot framework"
Please have a look at this GIF
![test](https://cloud.githubusercontent.com/assets/5139030/18881248/41ea49de-84f8-11e6-84bf-3c6719ca5a9b.gif)

As you notice, the quick replies appear and disappear quickly , I am using the source event as I would specifically like to use the send location quick reply on Facebook. Here is the code below. It seems to have worked for a few other people in this thread.

[2016-09-27 15:54] willportnoy commented on #1333
sourceEvent/ChannelData generally reflects the native channel format so these will differ across channels.

I don't believe we modify the user IDs or maintain some mapping between channel userID and connector userID.  The channel itself may have some mapping to prevent leaking userIDs that are global across multiple bots.

The address field is supposed to be a representation of the conversation (s

[2016-09-27 15:55] willportnoy commented on #1334
It sounds as if you have different pieces of code running across multiple machines.  I don't think there is a way to track that down through the Bot Framework, since we don't have any useful information about which node behind an opaque load balancer responded to a request.  You might consider redeploying your code or adjusting the instance count to 1 for temporary debugging.

[2016-09-27 15:56] willportnoy commented on #1335
Do you feel like the error message is inaccurate?  It's suggesting that quick reply titles must be less than 20 characters.

[2016-09-27 16:08] slidenerd commented on #1333
Thank you for all the answers, it really helped a lot

[2016-09-27 16:08] #1333 closed

[2016-09-27 16:14] brandonh-msft commented on #327
@suresh-mobilocity it's not multiple models under the same app, but rather multiple apps under your LUIS account.

One way we've seen this done is creating a LUIS App for various "specialties" of your bot.

Example:
bot: "hi, i can help you with applying for a license or paying a fine"
"pay a fine"
all subsequent dialog -> Luis Application A

"apply for a license"
all subsequent dialog -> Luis App

[2016-09-27 16:53] nicolasjustSnoopConsulting commented on #1335
Hi
There is no title in the code:
connector = new builder.ChatConnector({
  appId: "",
 appPassword: ""
});
server.post('/api/messages', connector.listen());
bot = new builder.UniversalBot(connector);
bot.dialog('/',[function (session){
   session.send("helloooo")
}])

The message error says that is in the Facebook Oauth Api Framenwork. I guess it's between the connection of Microsoft with faceboo

[2016-09-27 18:36] srozga opened #1337 "Old dialog version being reused?"
Hi

I have a bot that I have developed and tested locally. I have enabled the Skype channel and have been testing it to test my code. I have been testing the conversation and have made some code updates to dialog that is invoked down the conversation chain. However, those changes to the dialog do not seem to take effect through the Skype client. I've tried rebuilding and republishing the app. I've

[2016-09-27 18:38] willportnoy commented on #1321
I'm going to close this issue, but feel free to open a new issue for further discussions.

[2016-09-27 18:38] #1321 closed

[2016-09-27 18:39] iassal opened #1338 "Url format not consistent across different channels"
Whenever a user sends a url to the bot. Some channels modify the url before the bot handles it.

Input Text: `http://r.ddmcdn.com/s_f/o_1/cx_633/cy_0/cw_1725/ch_1725/w_720/APL/uploads/2014/11/too-cute-doggone-it-video-playlist.jpg`

Bot Emulator, Web Chat Client, Facebook messenger didn't modify the url: `http://r.ddmcdn.com/s_f/o_1/cx_633/cy_0/cw_1725/ch_1725/w_720/APL/uploads/2014/11/too-cute-do

[2016-09-27 18:41] willportnoy commented on #1337
In the C# version of the SDK, we don't serialize any code - we just serialize the class member state of the dialogs on the stack.  So if you're hitting older code, it must be an issue with the code available at that endpoint.  For example, perhaps the deployment does not contain the code you think it does?

[2016-09-27 18:41] iassal commented on #662
Will this ever be part of the BotBuilder? Or is this workaround permanent?

[2016-09-27 18:46] suresh-mobilocity commented on #327
@brandonh-msft , thank you for clarifying my questions.

[2016-09-27 19:26] msft-shahins commented on #662
@iassal for now this is a workaround for the skype behavior and no plan to add this to bot builder.

[2016-09-27 20:25] iassal commented on #1337
@srozga, there might be old assemblies in the server. If you are using Web deploy, select remove additional files at destination on your publish profile.

![image](https://cloud.githubusercontent.com/assets/4086459/18890399/442ed256-8501-11e6-8b02-770dbedc3b10.png)

[2016-09-27 21:59] piotrwitkowski opened #1339 "Not seeing notifications in mobile messenger"
Not sure this is directly related to the framework, but I can't trigger mobile notification from my bot (for FB messenger). Messages are being delivered ok, the notification is present if I run messenger in a web browser, but not in the mobile - no toast or sound.

I tried ReplyToActivityAsync as well as CreateDirectConversationAsync +  SendToConversationAsync.
Also tried to push notification_type

[2016-09-27 22:35] piotrwitkowski commented on #1339
Hm... I got the notifications back if I return responses to the user within the POST call (I was using ConfigureAwait(false); on that call to return immediately as the response generation happens on a separate service (service fabric). So the other question is - how do I initiate bot->user conversation that triggers notification on mobile device for FB messenger?

[2016-09-27 22:36] piotrwitkowski commented on #1339
BTW, notifications in Skype appear regardless of using ConfigureAwait(false); or not.

[2016-09-27 22:58] jameslew commented on #1336
I ran into something similar when I was building my sample for this bot.  I'd found that I was doing this send locally, and then a second send in the parent function which caused it to be cleared.  I assume removing the "text" also doesn't do anything?

[2016-09-27 23:28] jameslew commented on #1326
@slidenerd, I just re-verified that your last sample (when session.send is the last thing the bot does) leave the buttons up Facebook Messenger (mobile and web).    Technically I'm using a var instead of let, but can't imagine that would matter.