[2016-11-11 17:26] willportnoy commented on #1624
I understand - I've added this request to our internal backlog.

[2016-11-11 17:27] willportnoy commented on #1623
I'd suggest going through this link to diagnose authentication issues:
https://docs.botframework.com/en-us/support/troubleshooting-bot-framework-authentication/#navtitle

[2016-11-11 17:28] willportnoy commented on #1622
You might consider following a guide like the following:
https://azure.microsoft.com/en-us/documentation/articles/web-sites-nodejs-debug/

[2016-11-11 17:33] willportnoy commented on #1643
I assume you're using the C# SDK.  You can't literally use a C# loop for this problem, but you can ask for missing entities with a prompt and then in the ResumeAfter delegate, you can decide whether to ask for another missing entities with a prompt, pointing to the same ResumeAfter delegate, or if you have all entities, you can take your action.  You would keep your "loop" state in the class, mark

[2016-11-11 17:36] willportnoy commented on #1629
You might want to read this for background information:
https://docs.botframework.com/en-us/technical-faq/#where-is-conversation-state-stored

Are you sending multiple concurrent messages for a given user?

[2016-11-11 17:37] willportnoy commented on #1627
Are you asking how to create this regex?  You might consider using character classes:
https://msdn.microsoft.com/en-us/library/20bw873z(v=vs.110).aspx

[2016-11-11 17:42] Kris-Nimmagadda commented on #1643
Thank you @willportnoy ! I am using the same way as of now. But was wondering if there is any better way, Otherwise, we are good.  But, I wonder if this is elegant.

[2016-11-11 18:08] willportnoy commented on #1643
Is this for LUIS action fulfillment, by the way?

It seems like a reasonable approach.  You might also consider pushing the "ask the user for a number of entities" loop into a separate dialog to make it more reusable.  I'm sure there is also a way to express it with Chain.While, but that might require the use of reflection serialization surrogate and doesn't strike me as more elegant.

[2016-11-11 18:10] nickcordrey commented on #1638
Not right now but this will be coming in a future release.

[2016-11-11 18:10] #1638 closed

[2016-11-11 18:13] nickcordrey commented on #1637
Just confirming what others have said we do not send the Skype ID. What's the scenario that means you need the actual Skype ID?

[2016-11-11 18:27] willportnoy commented on #1639
You could certainly accomplish this with the bot builder SDKs, using a regex or string match to recognize the question and provide the answer.  But that requires more of a strict match, so you might consider using LUIS to parse the natural language and understand it in terms of intents and entities.

[2016-11-11 18:42] alokraj68 commented on #1627
Okays, i did another way out. Would paste the code soon.

[2016-11-11 18:46] alokraj68 commented on #1629
Hi,am using a idaolg extended classes inorder to make a set of conversation. Then navigate from one to another as per user replies. When i wait for a user reply using context.wait in an idalog extended class, the bot resets automatically and starts from beginning. That is the issue.

[2016-11-11 19:00] palmerabollo commented on #884
In Node.js, we've solved this with a bot middleware that calls the Bing Speech API (https://github.com/palmerabollo/bingspeech-api-client) for the STT, and passes the text to the bot, that can return it back to the user. It works really well.

[2016-11-11 19:07] Stevenic commented on #1633
So you can fix this for now by adding "&verbose=true" to the end of the new URL. We'll have an official patch soon.

[2016-11-11 20:35] Stevenic commented on #1633
Sorry about the break everyone... We knew this was coming but there was some confusion on the when part.

[2016-11-11 23:42] srozga opened #1644 "Unauthorized error while sending message back to FB Messenger"
I have a bot I've connected to FB Messenger. It was working for a while. I've since upgraded to BotBuilder 3.3.1 and re-deployed the application. I can use the bot with the emulator no problem. On the bot page, the Test Connection to Bot button works fine. Says bot is authorized. My bot receives messages from FB Messenger without a problem. But when i send the message back , I get this error:

[co

[2016-11-11 23:47] srozga commented on #1641
Hi. I am having a [similar issue](https://github.com/Microsoft/BotBuilder/issues/1644), don't know if related.

[2016-11-12 07:16] activescott commented on #1636
Thank you for the prompt response. I presume we'll get notified of updates here. We're launching our integration with SfB soon and are interested in exploring bot integration with SfB.

[2016-11-12 12:42] codehollow opened #1645 "Authorization for Microsoft App ID ... failed with status code Forbidden"
hello,

I have the same issue as others. I get this error (facebook, skype, telegram) when I send a new message via:
await connector.Conversations.SendToConversationAsync((Activity)activity);

I use the latest NuGet packages (Microsoft.Bot.Builder v 3.3.1)

I tried a few things and I found out, that it works as long as I don't redeploy my bot service. So I guess that it could be a session issue or

[2016-11-12 13:34] srozga commented on #1644
I can confirm this is only an issue with BotBuilder 3.3.1. I downgraded to 3.3.0 and everything works fine.

[2016-11-12 14:50] alokraj68 opened #1646 "Get your bot in SKype Bot search and Get Verified By skype"
Hi,
We have our bot published in Bot directory for past some days.
https://bots.botframework.com/bot?id=Horoscope_Bot

But our bot is not showing up in Skype or Skype bot search. How to achieve that? and also how to get verified by skype tick in my bot.

help needed as no where i could find anything related to this.

[2016-11-12 15:45] dandriscoll commented on #1636
Generally we post announcements to the Bot Framework blog: https://blog.botframework.com/

[2016-11-12 16:54] sameerinfodb commented on #1573
This suggestion works for me , thanks you#duckwaffle

[2016-11-12 16:54] #1573 closed

[2016-11-12 18:42] palmerabollo commented on #1618
@senthil2m There are many issues related with latency in the Direct Line.
Check dandriscoll's answer here: https://github.com/Microsoft/BotBuilder/issues/915 and also take a look at https://github.com/Microsoft/BotBuilder/issues/1413 and https://github.com/Microsoft/BotBuilder/issues/1144.

AFAIK they already have it running in datacenters all around the globe. Where is your bot deployed? Can you

[2016-11-12 18:44] palmerabollo commented on #1615
You can use `session.gettext` to pass arguments to your text messages.

[code]

I hope that helps.

[2016-11-12 18:53] palmerabollo commented on #1503
@seb0zz You can show a random prompt from a list of static values. The SDK allows that. But if you want to go to a database or to generate a really dynamic value, I think you have to do it yourself. I don't know anything in the bot framework SDK to do that. You could set the maxRetries to 0 in the prompt options and handle retries yourself, showing different values.

[2016-11-12 18:58] palmerabollo commented on #1404
I'm not sure about whether this is a good idea. The `send` function is currently defined as `send(message: string | string[] | IMessage | IIsMessage, ...)`. Changing the signature to `send(message: any, ...)` would make lifes of typescript developers a bit more painful.

[2016-11-12 19:59] ubreddy opened #1647 "IntentDialog.onBegin( function (session, args, next)) Args is always undefined."
I am trying to capture the intent recognized on the onBegin handler. But I always see the args argument in the function called as undefined.

dH.onBegin = function (session,args,next){
  if( args) {
  // code here is not reached.
} else {
 // this is always reached.
}
};
var dialog = new builder.IntentDialog({
			recognizeMode : builder.RecognizeMode.onBegin,
			recognizers : [recognizer]
		});
di

[2016-11-13 10:37] dimoibiehg commented on #1568
Hi @eanders-MS,
Is there any progress on this issue? (a simple sample code which works as an inline bot that consists of a callback button)

Many thanks in advance.

[2016-11-13 14:09] Koshak118 opened #1648 "Unicode chraracters are not displayed properly"
Hey,
When a euro currency sign ("€") is sent as a part of the bot response, it is not displayed properly in the FB messenger (the Bot Emulator has the same issue).

Please advice

[2016-11-13 15:35] Koshak118 commented on #1648
Well, it was a matter of saving the configuration file in UTF-8.

The issue can be closed

[2016-11-13 16:18] palmerabollo commented on #1634
@bertique which botbuilder version are you using? 3.4.4?
The key "list_or" is in the [BotBuilder.json file](https://github.com/Microsoft/BotBuilder/blob/master/Node/core/lib/locale/en/BotBuilder.json#L5).

[2016-11-13 19:18] tahsintahsin commented on #1599
I think you should use it as session.cancelDialog('/confirm', '/inquiry') if you want to cancel confirm and start inquiry. If you want to cancel the parent dialog, not the child, you can check replaceDialog to start parent dialog from zero, you can use it as session.replaceDialog('/inquiry')

[2016-11-13 19:34] #1648 closed

[2016-11-13 22:54] Stevenic commented on #1647
`IntentDialog.onBegin()` is always called before the intent recognizers are run.  You'd need to use either `matches()` or `onDefault()` to receive the intents. Can I ask what you're trying to do? maybe I can make a suggestion.

[2016-11-13 23:46] Stevenic commented on #1576
@rampratheek I tried the exact code above and couldn't get the issue to reproduce with either the ChatConnector or ConsoleConnector classes.  What version of the SDK are you using?

[2016-11-13 23:52] Stevenic commented on #1610
You can use the `next()` function to manually advance the waterfall:

[code]

But why wouldn't you just combine the two steps?

[code]

[2016-11-13 23:54] #1613 closed

[2016-11-13 23:54] Stevenic commented on #1559
yes

[2016-11-13 23:55] #1278 closed

[2016-11-14 00:00] Stevenic commented on #1520
Sorry for the delay... There are a couple of options.  You can use the dialogVersion() middleware to add a reset command to your bot or simply increment the major version number to clear all users dialog stacks automatically:

[code]

The other option is to add a global endConversationAction() that lets a user say goodbye to clear things up:

[code]

[2016-11-14 00:02] Stevenic commented on #1582
What version of the SDK are you using? And when you say they don't work do they work if the user types "goodbye" ?

[2016-11-14 00:04] #1558 closed

[2016-11-14 00:05] #1525 closed

[2016-11-14 00:23] Stevenic commented on #1352
That's an interesting problem... I had to think about that a bit but it is doable.  You need to manually trigger an global `beginDialogAction()`. Ironically enough you'd do this in a much similar way to sending a proactive message using `bot.send()` but you'll want to call `bot.receive()` with your proactive message. Define your action as something like this:

[code]

Then to trigger it do somethi

[2016-11-14 00:31] Stevenic commented on #1352
I forgot to add that the '/sendQuiz' dialog will get pushed onto the stack and after they answer the question they'll automatically be returned to where they were which sounds like your desired behavior.

[2016-11-14 03:47] zytsai commented on #1599
Thanks for the reply. The scenario is a little different. what I want to do is:
To make a call to cancel and restart the parent dialog "/inquery" from inside child dialog "/confirm".

According to the documentation, cancelDialog "Cancels an existing dialog and optionally starts a new one it its place."
Before calling session.cancelDialog, the state stack is "/root -> /inquery -> /confirm".
If I ca

[2016-11-14 04:45] darrenjefford commented on #1512
Yes, all fixed in the latest release. Thanks

From: Tom Laird-McConnell [mailto:notifications@github.com]
Sent: 03 November 2016 15:21
To: Microsoft/BotBuilder <BotBuilder@noreply.github.com>
Cc: Darren Jefford <darrenj@microsoft.com>; Manual <manual@noreply.github.com>
Subject: Re: [Microsoft/BotBuilder] Typing exception (#1512)

I believe this should be fixed now, but the workaround is to add tr

[2016-11-14 06:43] alokraj68 commented on #1520
@Stevenic Equivalent c# code?

[2016-11-14 06:47] alokraj68 commented on #1627
used this regex to clear all symbols except underscore.

[code]

[2016-11-14 06:47] #1627 closed

[2016-11-14 06:58] zephinzer commented on #196
Faced this issue during a recent hackathon and the solution in Node using LUIS as the AI back-end, was to mock a message that would trigger the intended dialog and take it from there.

It is a workaround but we could not find an official way to do this in Node:

[code]

[2016-11-14 07:07] sravaniVajjha commented on #1617
means my direct line secret key??

[2016-11-14 07:14] sravaniVajjha commented on #1617
lZjNV_yK6cs.cwA.MWU.AxrBjVGYmvWvq3gfF0lHjhAIQ7BxR4hMHBaIMHm8CU8

[2016-11-14 07:19] sravaniVajjha commented on #1617
one more issue is there, I am developing an other bot in node.js in visual studio using blank azure web application.i tested it locally.but when i published it in azure i am unable to access my bot .it is just showing
"ok,helloWorld"(202 accepted).how to develop a bot in node.js

[2016-11-14 07:37] pfilatov92 opened #1649 "Intent action field supporting in Node.js botbuilder"
It will be very useful to parse LUIS action fields inside of intent object. Same problem as https://github.com/Microsoft/BotBuilder/issues/165, but for Node.js botbuilder.

[2016-11-14 09:19] Stevenic commented on #1649
It's on our todo list.

[2016-11-14 09:20] Stevenic commented on #1633
There's a fix checked in which will be in the next release due out very soon.

[2016-11-14 09:21] Stevenic commented on #1633
You can get the fix now by installing the prerelease version of botbuilder:

[code]

[2016-11-14 09:27] seb0zz commented on #1503
@palmerabollo I will try that, thanks!

[2016-11-14 09:27] #1503 closed

[2016-11-14 09:44] Stevenic commented on #1632
The other thing you could do is create a new recognizer that aggregates both models and flattens them out:

[code]

[2016-11-14 11:12] codehollow commented on #1645
this issue is similar to: [1644](https://github.com/Microsoft/BotBuilder/issues/1644)

I also downgraded to 3.3.0 and it works.

[2016-11-14 12:25] senthil2m commented on #1618
@palmerabollo Issue occurs in the Bot deployed in Azure, located in South India.

[2016-11-14 12:33] StingyJack commented on #653
I'm getting this now, and unable to hit a breakpoint. Are these dependencies still needing to be from versions earlier this year?

[2016-11-14 13:44] ernanirst opened #1652 "[Facebook] Receipt Card with Shipping Charges"
Hello, I know this is possible to do with bot framework I just don't know how. I'm building a receipt card using facebook and everything seemed fine until I have to set the shipping cost. According to the [documentation](https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.receiptcard.html#facts) I must create a fact and add it to the facts list. Just like I did i

[2016-11-14 15:40] stevepgreen commented on #1645
We are experiencing the same issue using the Twilio channel.  Any updates on this?

[2016-11-14 15:41] stevepgreen commented on #1641
We have the same issue using the Twilio channel.

[2016-11-14 16:10] dandriscoll commented on #1617
Hi @sravaniVajjha, I'm able to connect to your bot. We had a configuration issue last week that may have affected your bot. Can you try again and let me know if it's working for you now?

Please open a new GitHub issue if you would like help with the other problem.

[2016-11-14 16:55] judavi commented on #250
@stanleycyang yes it's fixed

[2016-11-14 17:01] srozga commented on #1050
I understand that this is not supported but it appears that slack enables this behavior by exposing a editMessage endpoint on their API (as opposed to postMessage which just adds a message). Using channelData we cannot tell the connector which slack endpoint to use. How can the bot builder framework support the edit scenario on slack?

[2016-11-14 17:19] dandriscoll commented on #1618
Hi @palmerabollo, can you send an example conversation ID where you're seeing this and I can look to see where the time is spent?

[2016-11-14 17:21] dandriscoll commented on #1641
Hi @stevepgreen, can you send your bot handle or MSA app ID?

@enzofab91, if you see this issue on a channel, let me know which one and I can take a closer look.

[2016-11-14 17:21] srozga opened #1653 "Editing a slack message"
I understand that the framework doesn't support editing and we should be using the custom channel data (as per https://github.com/Microsoft/BotBuilder/issues/1050). It appears that slack supports this behavior by exposing a editMessage endpoint on their API (as opposed to postMessage which just adds a message). Using channelData we cannot tell the connector which slack endpoint to use. Any advice

[2016-11-14 17:33] stevepgreen commented on #1641
We are only using the Twilio channel; our MSA App ID is : 4e8d97ea-d659-4e70-9f12-e014ba7ce063.  We’ve rolled back to 3.3.0 and it’s working again.

~Steve

From: dandriscoll <notifications@github.com>
Reply-To: Microsoft/BotBuilder <reply@reply.github.com>
Date: Monday, November 14, 2016 at 11:21 AM
To: Microsoft/BotBuilder <BotBuilder@noreply.github.com>
Cc: Steve Green <steve.green@wirestream.c

[2016-11-14 20:50] sitver commented on #1582
I think I was running the latest version, but I rebuilt it to run entirely on intents, so I don't need this anymore (at least I don't think I do)

[2016-11-14 21:44] Deilan commented on #572
Even ASP.NET Core support targeting Full .NET Framework 4.6 would be great. Looking forward to it.

[2016-11-14 21:59] Deilan opened #1655 "Decouple Bot Builder to multiple fine grained modules"
The .NET Core flavor of delivering a numerous set of small fine grained NuGet packages is one of the best things which has happened recently with .NET ecosystem. So it is proposed to make the same thing happen with Bot Builder: decouple it into multiple modules/packages with low coupling and high cohesion each.

[2016-11-14 22:44] GhostAtom opened #1656 "System.NullReferenceException"
I have this exception who randomly appears. Someone have an idea?

   at Microsoft.Bot.Builder.Dialogs.Internals.Extensions.MaxBy[T,R](IEnumerable`1 items, Func`2 selectRank, IComparer`1 comparer)
   at Microsoft.Bot.Builder.Dialogs.LuisDialog`1.BestIntentFrom(LuisResult result)
   at Microsoft.Bot.Builder.Dialogs.LuisDialog`1.<BestResultFrom>b__6_0(LuisResult result)
   at System.Linq.Enumerable.

[2016-11-15 00:51] jameslew commented on #1646
Hello @alokraj68 , right now we have a bit of a Bot backlog in the directory.  We're working through, but I can't commit to a specific time when we're able to clear the backlog.  When they get through your bot you'll be notified that they completed their review, and any feedback.

[2016-11-15 00:56] euanlau commented on #1608
The Slack message does not contain the inviter. It only contains the `channel` property. So I guess Slack does not provide the inviter information at all. So there is no way for the botframework to pass that information to the clients.

[2016-11-15 00:56] #1608 closed

[2016-11-15 00:57] craigjensen commented on #1653
The Botframework supports editing Slack messages via UpdateActivity on the ConnectorClient.

[2016-11-15 00:59] euanlau opened #1657 "Getting Slack auth token when user installs the bot"
Is there any way to retrieve the auth token when someone installs the bot?

[2016-11-15 01:19] euanlau commented on #1181
@jameslew
Is it possible to add an optional http callback as part of the slack setup and the botframework server invokes the callback with the auth token granted by slack whenever someone installs the bot (i.e. after completing the oauth)?

[2016-11-15 02:25] craigjensen commented on #1657
It's passed in ChannelData for every message

[2016-11-15 03:33] srozga commented on #1653
Ah! Ok. Makes sense. There is no integration into the IDialogContext correct? So I'd have to create a new ConnectorClient from the context and do it that way.

[2016-11-15 03:43] craigjensen commented on #1653
That's correct - you'll need to do it yourself via the ConnectorClient.

[2016-11-15 03:43] #1653 closed

[2016-11-15 04:23] astrung commented on #1615
Thanks

[2016-11-15 04:23] #1615 closed

[2016-11-15 04:25] astrung commented on #1610
I want to send "end" message after response from "hello" message.
By using `next()`, bot will send "end" message immediately after "hello" message

[2016-11-15 05:11] bertique commented on #1634
Yes, I'm on 3.4.4

It seems to be an issue with the web widget, since it's working fine in the emulator

[2016-11-15 06:19] astrung commented on #1610
I tried to use `builder.Prompts.text(session, msg);` with an attachments. And i get this error :

    Error: Data of 69461 bytes exceeds the 65000 byte limit. Consider setting connectors gzipData option. Can't post to

[2016-11-15 06:21] sravaniVajjha commented on #1617
Thank you

[2016-11-15 06:23] sravaniVajjha opened #1658 "@sravani"
I am developing a bot in node.js in visual studio using blank azure web application.i tested it locally.but when i published it in azure i am unable to access my bot .it is just showing
"ok,helloWorld"(202 accepted).how to develop a bot in node.js and i don't have much skills in programming..........

[2016-11-15 06:24] sravaniVajjha opened #1659 "@sravani"
Is there any way to write our own rest api's to access bot for mobile applications

[2016-11-15 07:24] VishalWaman commented on #1633
Yes this works

[2016-11-15 07:30] ChandrikaC commented on #1633
Thanks everyone.. saved my day

[2016-11-15 08:08] ebrulato opened #1660 "ERROR: Error retrieving OpenId metadata at https://api.aps.skype.com/v1/.well-known/openidconfiguration"
Hi,

I have a strange issue :

When I test the connection to my Bot, the interface raised an "InternalServerError".
On my server's log I found :

`ERROR: Error retrieving OpenId metadata at https://api.aps.skype.com/v1/.well-known/openidconfiguration, error: Error: Hostname/IP doesn't match certificate's altnames: "Host: api.aps.skype.com. is not in the cert's altnames: DNS:*.aps.skype.com"
ERROR:

[2016-11-15 08:18] ubreddy commented on #1647
I am trying to log to database all intents and entities chat users use. Uday

    On Monday, 14 November 2016 4:24 AM, Steven Ickman <notifications@github.com> wrote:

 IntentDialog.onBegin() is always called before the intent recognizers are run. You'd need to use either matches() or onDefault() to receive the intents. Can I ask what you're trying to do? maybe I can make a suggestion.—
You are re

[2016-11-15 08:19] decv86 opened #1661 "Initiate call from Bot to User"
Hi!
Help me pls!
Is it possible to initiate a call from Bot to the user? In the old api it was possible, but now can not find a solution?

Thank you!

[2016-11-15 09:59] GhostAtom commented on #1656
I think this issue is external to my bot because I'm using my master branch who worked before and the code is unchanged.
I faced this issue before but with a lower botbuilder knowledge, so I couldn't figure out if it's my code or not.

[2016-11-15 11:15] AndrewBryukhov opened #1662 "telegram menu artifact"
How to remove "Options:" label message for every menu with bot.dialog()?

[2016-11-15 12:05] cnrudd opened #1663 "email channel is dropping some emails"
Hi,

I have a bot that is using only the email channel. It is connected to an office365 email account.
In the office365 email interface for our bot's email address, emails that were forwarded to the bot always have a reply sent back to the original email address, after processing by the bot.

There is one original email address, however, whose messages appear to never get sent to the bot. I've dou

[2016-11-15 12:09] karlbarber commented on #1645
I have also experienced this issue where trying to send a message from my bot after a reset and before any incoming messages are received and it fails with the auth error as above, I have tried this using 3.3.1 and 3.3.2

This is also causing an issue in a standalone service fabric app which sends push messages to users as it fails to authenticate and create a connector as below.

 var connector =

[2016-11-15 12:47] andresvettori commented on #202
Hi @dandriscoll , I have made the webchat control use the DirectLine API and it worked! It allowed me to customize a little the webchat control and behavior (for example, pre authenticate the user if we already have his/her identity in the web page).

Thanks!

[2016-11-15 12:48] karlbarber commented on #1661
Have you tried version 3.3.0 as 3.3.1 and 3.3.2 seem to have auth issues when initiating a new conversation.

This works for me from service fabric

                string appid = CloudConfigurationManager.GetSetting("MicrosoftAppId");
                string appsecret = CloudConfigurationManager.GetSetting("MicrosoftAppPassword");

                var connector = new ConnectorClient(new Uri("https

[2016-11-15 16:03] craigjensen commented on #1663
Please include your botId and I'll investigate.

[2016-11-15 16:07] cnrudd commented on #1663
thanks: bot id = 'dynamo'

[2016-11-15 16:29] craigjensen commented on #1663
I see a couple of timeout exceptions in our logs coming from dynamo_dev around 8:10 am PST.  Are these related to the issue you are seeing?

If you add an Application Insights key to your bot configuration in the dev portal we will write additional debugging information to help you diagnose the problem.

[2016-11-15 16:32] eanders-MS commented on #1662
Telegram does not support the display of buttons without some associated content (text or image). Are you sending buttons alone?

[2016-11-15 16:35] AndrewBryukhov commented on #1662
I'm using only builder.Prompts.choice with '|' separators for buttons.

[2016-11-15 16:36] eanders-MS commented on #1662
Can you post a line of sample code of the way you're calling it?

[2016-11-15 16:42] #1657 closed

[2016-11-15 16:46] AndrewBryukhov commented on #1662
`bot.dialog('simple menu', [
    function (session) {
        builder.Prompts.choice(session, "any caption", "button 1|button 2|button 3|button 4", {listStyle: builder.ListStyle.button});
    },
    function (session, results) {
        switch (results.response.index) {
            case 0:
                session.beginDialog('something1');
                break;
            case 1:

[2016-11-15 16:48] lyzs90 commented on #1314
hey @subhans3tech you are missing an append step (that's why you only see the last card). according to the AttachmentLayout [reference](https://docs.botframework.com/en-us/node/builder/chat-reference/modules/_botbuilder_d_.html#attachmentlayout), attachments should be rendered as a list. not sure if it's the most elegant solution, but given a JSON, `docs`, with schema:
[code]
then this should do t

[2016-11-15 16:54] cnrudd commented on #1663
Hi Craig, the issue I'm seeing is not in dynamo_dev, but in dynamo.  The email that got no reply in dynamo came in yesterday:  Nov 14, 9:44 AM Eastern

[2016-11-15 16:58] rposbo opened #1664 "Luis service retry when throttled"
Hi,

It looks like `LuisService` will hit the LUIS endpoint without checking for throttling or implementing any retry/backoff:

[code]

https://github.com/Microsoft/BotBuilder/blob/883990627c89eb034ce1cb4d756f82869b4a2669/CSharp/Library/Dialogs/LuisDialog.cs#L206

Having recently stress tested LUIS (and we do have an Azure subscription with the higher limit) we've received a `429` `StatusCode` res

[2016-11-15 17:19] craigjensen commented on #1663
I see a message that was successfully sent to your bot at 9:44:18 AM EST yesterday.  I also see messages being sent today, most recently at 11:17:23 AM EST.  Would you mind if I try to send a test message to your bot?

[2016-11-15 17:29] cnrudd commented on #1663
I don't mind at all.  There are many messages being successfully sent.  But it seems like some are not.

[2016-11-15 18:05] samskhan opened #1665 "Integrating a bot into an existing .net application"
Hello guys, i have been working with the bot framework for a few weeks now and have made a stand alone example on how we can use the bot in our current .net application. Now i am trying to integrate it into our current app, but it seems i am having some issues, since our app requires us to authenticate in order to gain access to the website. I am trying to figure out how i can host the bot and the

[2016-11-15 18:19] GhostAtom commented on #1656
I'm quite sure that is because I have exhausted my Azure credit. Anyway the exception should mention that there is an issue with connecting Luis service.

[2016-11-15 18:57] tahsintahsin commented on #1599
If you start /inquiry by session.beginDialog('/inquiry') when you are in /confirm dialog, you will be redirected to /confirm only after inquiry finished, note that if there is no waterfall steps left in /inquiry that dialog(the one you refer as parent dialog) will finish as well. To create dialog loops you can use replaceDialog method. If you can write me the exact stack you want such as /confirm

[2016-11-15 19:25] craigjensen commented on #1652
We currently don't support sending shipping_cost in the facts list.  I'll open a work item to investigate adding support for both shipping_cost and subtotal in the facts list in an upcoming build.

For now, you can send a complete Facebook receipt template in ChannelData as follows:

    {
     "attachment":{
      "type":"template",
      "payload":{
        "template_type":"receipt",
        "re

[2016-11-15 19:47] ernanirst commented on #1652
Ok, thanks.

[2016-11-15 19:48] ernanirst commented on #1652
That's odd because on the docs it specifically says that for Shipping Charges I should use facts. Anyway, thanks for pointing out channelData, I will take a look at it.

[2016-11-15 20:19] eanders-MS commented on #1568
Sincere apologies for the delay in response. I believe you must serialize the JSON of your `results` value to a string. Please read the documentation for this field here: https://core.telegram.org/bots/api#answerinlinequery

[2016-11-15 20:45] svickers opened #1666 "UserData differences between emulator and production"
We are working on a bot that stores a user's email address in bot framework's UserData collection and then later uses it for querying a database.  This works perfectly with the emulator but when using in production no results are ever returned from the db.

With the simple test dialog code when using the emulator the strings will match but running on Azure they wont,

    [Serializable]
    public

[2016-11-15 21:02] decv86 commented on #1661
thanks!
how to initiate an audio call from bot?

[2016-11-15 22:31] dandriscoll commented on #1660
Hi @ebrulato, I'm not sure what to make of this -- the snippet you provided shows that the Subject Alternative Name field contains the expected value ("*.aps.skype.com"). The only thing I can think of is that your SSL lib does not like wildcards in SANs. Is there another cert with a wildcard in the SAN that is working without problems?

[2016-11-15 22:47] euanlau commented on #1657
@craigjensen I want to get the token before user sends the first message.

[2016-11-16 00:28] craigjensen commented on #1657
Your bot should receive a conversationUpdate message when it's added to a channel.  The Api token is included in ChannelData for this event as well.

[2016-11-16 02:35] fj4870 commented on #884
how can I integrate speech api with bot?

[2016-11-16 02:37] zytsai commented on #1599
Thanks for the reply.
The scenario are broken into the following steps:

1. The stack before: /root -> /inquiry (old) -> /confirm (prompt the user to answer Y/N)
2. In dialog "/confirm", the User answers "N", to restart the inquiry process.
3. In dialog "/confirm", make some calls so that:
(a) Both the current dialog "/confirm" and its parent "/inquiry (old)" can be cancelled.
(b) Then a new dialo

[2016-11-16 05:38] suvamsh commented on #1622
Thanks I was able to fix my error.

[2016-11-16 05:38] #1622 closed

[2016-11-16 06:51] senthil2m opened #1668 "Bot behind proxy gets [407] Proxy Authorization Required Error"
Hi,

My bot is deployed behind a closed corporate network. It will not be exposed to open network as per our requirement. I want the bot should work when testing with Bot Emulator in the closed network. After a lot of research, I found some workaround in #842 . After using this below code in my bot mentioning the proxy details, when I send msg from bot emulator, I get 202 Accepted in Emulator but

[2016-11-16 07:15] cnrudd commented on #1663
Thanks for your help with this Craig.  I think I worked out what the issue was:

Some users have massive HTML email signatures.
These were reaching our bot, and getting sent to LUIS, which choked on them, and would send back a body = '' (empty string).  Nothing would show up in the LUIS log or suggestion panel, so it looked like nothing had come to LUIS.

With no entity or no intent detected my bo

[2016-11-16 07:15] #1663 closed

[2016-11-16 07:54] tpernice opened #1669 "Skype groups: Chatbot responds to any message"
Hi,
I enabled groups conversations on the Skype channel.
Expected behaviour is that Chatbot included in group conversation should only respond to messages beginning with "@CHATBOT_NAME", but actually mine is responding to any message.
I am using Bot Framework 3.2 with C#.

   Best Regards
      Tom

[2016-11-16 09:45] inornos opened #1670 "How Can I Send Message On Specific Skype User"
I Want Send Message To All My Bot User To Inform Some Detail, I Have All Skype ID Like
json567
fss80support
rajuDiam85
This Is the skype id and i want send message to them all
so please help me to send message from bot to my all skype id
please share some code
Thanks

[2016-11-16 12:28] sravaniVajjha commented on #1617
hi,I am getting same problem for an other bot.For this bot 2 secret keys are generated for "DirectLine" and for both the keys i am getting same error.

![screenshot](https://cloud.githubusercontent.com/assets/23162086/20347240/319e23e8-ac26-11e6-9d3c-595c236eb010.png)

[2016-11-16 12:29] sravaniVajjha commented on #1617
why I am getting this problem frequently.Is there any wrong from my side....?

[2016-11-16 12:42] leroibeukes commented on #1670
You can't ... at least not in the way you propose.

Your user's must have had a conversation with you and you must have persisted the information  somewhere.

Then you can use that to send them a message , eg.

Let's say you did manage to save the data (as a JSON object) somewhere ...

JSON data object (pseudo code):
 {
  "conversationUrl": "https://facebook.botframework.com",
  "conversationId":

[2016-11-16 13:11] ebrulato commented on #1660
Thanks,
I will check the version of my SSL lib, but I've done a complete upgrade of my RP3...
and I will try to find other sample to be sure there is no issue with the BotBuilder :)
Regards,

[2016-11-16 13:13] inornos opened #1671 "Web Chat message to Skype"
We have a website which is used by registered users only, We are trying to develop support system use of **web chat** but we didn't find any solution to communicate **web chat** with skype end user and also we want pass unique current user id to web chat message so we can track chat history also.

[2016-11-16 13:22] inornos commented on #1670
hello @leroibeukes
Basically i want create chat support system for our skype end users, Our skype user can get support from our website using **web chat** When **Web Chat** I frame open in website for send message user can directly contact to out support person to get help and also we want to manage conversion in skype software with different user so we can easily find past history to view specifi

[2016-11-16 13:48] noxsicarius commented on #200
Issue still relevant. I have updated all of my software, checked nuget settings, unblocked all items, made sure the directory is correct in both the settings and the actual placement of the files. I get the posted above error whenever creating a new project with the framework. The error is odd considering it says a solution is not opened and saved. It seems to be looking for a pre-existing/saved p

[2016-11-16 14:07] srozga commented on #1669
I disagree. If the bot is part of a group chat, the bot should be able to see all messages, whether someone explicitly said @chatbot_name or not. It should be up to the bot developer to handle the two scenarios. We're run into this exact same scenario and we chose to handle only @chatbot_name messages. Each IMessageActivity has a Conversation.IsGroup property that we key off.

[2016-11-16 14:07] jcmontes95 commented on #202
Hello @dandriscoll, it would be great if you could open the source code of the web chat. It's quite complex to build it from scratch and a little of an overkill when you just need a few modifications.
Mainly I need the same thing that @karanmartian mentions in the OP, the possibility of giving the bot an input prior the conversation begins.

[2016-11-16 14:16] noxsicarius commented on #200
From looking through a number of items I have found that this is a NuGet bug that has been seen in many projects and github is riddled with open issues on projects about this. An issue has been opened by a project owner that has verified the problem and can be found here https://github.com/NuGet/Home/issues/3843

[2016-11-16 14:22] noxsicarius commented on #200
Now for the fix:
This problem is caused by an unsaved solution (obvious from the error), but you can not save the solution until after building it. This is a known issue with NuGet, not this project. To fix this error you must enable VS to save your project immediately when created.
** FIX **
go to Tools > Options > Projects and Solutions and check the *Save new projects when created* checkbox. No

[2016-11-16 14:25] tpernice commented on #1669
Hi,
Thanks for your comment.
Please have a look of Bot Framework documentation (https://docs.botframework.com/en-us/skype/getting-started/#groups). It clearly writes:
"A bot can be enabled for groups in the Skype settings for the bot. It can be added to a group chat in the same way as adding a participant to a chat. **In a group the bot will only receive messages directly addressed to it e.g. “@Yo

[2016-11-16 15:34] grbinho commented on #1498
We have the same issue. Every service we tag with `FiberModule.Key_DoNotSerialize` is still being serialized.

As far as I was able to tell, problem is that `Conversation` class creates a separate static container that registers only `DialogModule` that in turn registers `FiberModule`. `FiberModule` has the code to enumerate all the services that are marked with that key. In [this](https://github.

[2016-11-16 15:52] CaptainScavo opened #1672 "Self Referencing Loop When Attempting to Store LuisResult into BotData"
I am attempting to prompt the user for required parameters that are defined in a LUIS model.
In order to be able to do this (ie call client.Reply()), I have to pass back the LuisResult on the next bot callback.

But when I attempt to store the LuisResult into BotData, I get the error shown below **(Self referencing loop detected for property 'luisResult' with type 'Microsoft.Cognitive.LUIS.LuisRes

[2016-11-16 16:39] CaptainScavo opened #1673 "In Skype, Carousel of 2 Thumbnail Cards Drops the message text"
Create a Reply with text "abc"
Set AttachmentLayout to  "carousel"
Add 2 Thumbnail cards

In Emulator, you see:
- the text "abc"
- carousel (card 1 and card 2)

In Skype, the text gets dropped and you only get:
- carousel (card 1 and card 2)

If I comment out **Set AttachmentLayout to  "carousel"**, then in Skype I get:
- the text "abc"
- card 1
- card 2

Is this a limitation of Skype carousels or

[2016-11-16 16:58] Hanoko opened #1674 "Limit size and date for voice message"
Hi,

How long does the voice message sent from Telegram stay in the Microsoft's servers? And do they have a size/time limit?

When I send a voice message it is saved in an url like this;
https://bcattachmentsprod.blob.core.windows.net/636149916000000000/2A3GM2XXSJBC1

I have not any azure plan.

Thanks,
Pablo

[2016-11-16 17:09] eanders-MS commented on #1674
Hi Hanoko, attachments from Telegram are currently cached for 2 days. We don't make this a guarantee, and it may change in the future without notice.

[2016-11-16 17:24] Hanoko commented on #1674
Hi eanders,
Thanks for the information.
Do you know where Telegram save the voice messages? Can we access those files? Are they only cached for a short time as Microsoft do?

Pablo

[2016-11-16 17:31] Rclemens commented on #777
@willportnoy does that mean we have to implement the wit.ai service ourselves? I don't fully understand your answer.
It would be great if we could implement it the same way we do when implementing Luis just by adding the data annotations on the dialogclass

[2016-11-16 18:25] eanders-MS commented on #1674
I do not have that specific knowledge of the Telegram file cache. You may be able to find this information in the Telegram Bot API docs: https://core.telegram.org/bots/api/#file. You might also try asking on Telegram's `@BotSupport` channel.

[2016-11-16 18:49] piffarettig commented on #1581
Thanks!

[2016-11-16 18:49] #1581 closed

[2016-11-16 19:16] tinod opened #1675 "Sad bot is sad - When trying to change channels."
When I try to edit the Skype or Teams channels, I get redirected to the corresponding page (https://msteams.botframework.com/Dev/?botId=xxx or https://skype.botframework.com/Dev/?botId=xxx) but the page only displays "Sad bot is sad".
Needless to say, the channels are not working...

Any ideas what's wrong?

[2016-11-16 20:33] #1674 closed

[2016-11-16 20:55] spreddy2714 opened #1676 "Markdown in Skype is not rendering"
Hi,

I am sending markdown messages(containing tabular data), which are rendering fine in emulator.
How ever skype app is not doing the rendering, is there anything I should do for this channel separately?

![image](https://cloud.githubusercontent.com/assets/6649902/20365479/0a31406e-ac6d-11e6-9929-e96cd84d0319.png)

[2016-11-16 20:59] spreddy2714 commented on #1676
Web client is doing very better job for the same thing. Added reference here

![image](https://cloud.githubusercontent.com/assets/6649902/20365620/8f39427a-ac6d-11e6-9ffa-52ec6ad70b9a.png)

[2016-11-16 21:10] craigjensen commented on #1652
The fix for adding shipping_cost and subtotal to the Facts list is checked in and will be deployed with the next build.  Probably early next week.

[2016-11-16 21:10] #1652 closed

[2016-11-16 21:48] cesarvarela opened #1677 "Documentation for MIddlewares"
HI Guys, I can't seem to find anything related to this except for the class reference.

Is there any example or something that I can use to learn about them?

[2016-11-16 21:54] LMEdwards opened #1678 ".Net FormFlow field with a [Prompt("{||}")] attribute causes exception when connected via Facebook Messenger"
.Net FormFlow field with a [Prompt("{||}")] attribute causes the following error when connected to Facebook Messenger:

{"error":{"message":"(#100) Param [text] must be a non-empty UTF-8 encoded string","type":"OAuthException","code":100,"fbtrace_id":"F5k9NGkkYHr"}}

[Prompt(" {||}")] also fails.    [Prompt("X{||}")] does not.
Other channels (Skype, Slack, WebChat) do not fail with [Prompt("{||}")

[2016-11-16 22:16] euanlau commented on #1657
@craigjensen I receive the update only after I invite the bot to a channel. But I want to get the token before that so that I could execute a few slack APIs (e.g. sending a welcome message to users).

[2016-11-16 22:18] euanlau commented on #1657
@craigjensen Ideally, the botframework console should allow developers to register an optional http webhook/callback that will be invoked after the slack oauth is completed.

[2016-11-16 22:29] craigjensen commented on #1657
Thanks for the feedback.  I opened a feature request to internally track this going forward.  For now you'll have to wait for the bot to be added to a channel to get the token.

[2016-11-16 22:33] craigjensen commented on #1675
Both Skype and MSTeams config pages are working for me.  If you are still seeing this please add your botId and we'll investigate.

[2016-11-16 22:48] nickcordrey commented on #1673
This is a limitation of Skype carousels you cannot attach summary text to the whole carousel.

[2016-11-16 22:48] #1673 closed

[2016-11-16 23:03] nickcordrey commented on #1669
Skype channel bots should only respond to @ mention so this looks like a bug. Please can you send your bot details to Skype Bot Support <skypebotsupport@microsoft.com> and we'll look into it. We are working on extending this so that developers can choose private mode or all messages mode.

[2016-11-16 23:04] tomlm commented on #1676
Skype and any text based channel which doesn't have fixed width fonts do not support this.

[2016-11-16 23:04] #1676 closed

[2016-11-16 23:06] dandriscoll commented on #202
https://github.com/Microsoft/BotFramework-WebChat

[2016-11-16 23:08] dandriscoll commented on #11
Please see the new cross-platform emulator. https://docs.botframework.com/en-us/tools/bot-framework-emulator

[2016-11-16 23:08] dandriscoll commented on #418
Please see the new open-source web chat control: https://github.com/Microsoft/BotFramework-WebChat

[2016-11-16 23:09] dandriscoll commented on #1210
The new version of the web chat control is available, and now supports cards.

[2016-11-17 00:00] eanders-MS commented on #1662
This was a bug in our Telegram channel. Thank you for reporting this. We've made a fix and it should be available in production in a few days.

In the meantime, you can work around the issue by sending a Hero Card with the prompt as the card text rather than the message text:

[code]

[2016-11-17 02:22] kamranayub opened #1679 "Using Ninject with Bot Framework"
I saw you are using Autofac with Bot Builder SDK--but my project uses Ninject (with Web API and MVC). I tried looking at the Autofac Simple Alarm sample but I'm afraid it's just made me more confused.

I am dealing with the same issue of service serialization as this issue #938. All I need is a service injected into my Dialog class.

Is there a reason Bot Builder doesn't just use all the same DI p

[2016-11-17 02:33] msft-shahins commented on #1656
this [change](https://github.com/Microsoft/BotBuilder/commit/23599183d88b28b3dffdf339d41635116f157bf2#diff-fc12be413ee856c7ceff21175ced7b51R215) which is not released yet should address this issue and raise the Luis service call failures as exception.

[2016-11-17 06:15] msft-shahins commented on #1666
@svickers how do you call the TestDialog and what channel do you use for testing. The code above should work fine both for production and emulator.

[2016-11-17 06:38] awadhes22 commented on #1637
https://drive.google.com/file/d/0ByVjtpvd6mEIT2wzZDk4ZDVVR2M/view?usp=sharing
i want meet.jay1 (skype unique name)

[2016-11-17 06:39] awadhes22 opened #1682 "Retrieve Skype group members list"
I have implemented bot application for Skype using Microsoft Bot Framework Channel (3.0.0.59). When I give some command to bot in group, it should reply all the members which are present in the Skype group.

Is it possible for doing this.

[2016-11-17 07:30] spreddy2714 commented on #1676
Is there any other option to achieve this kind of formatting in skype & messenger

[2016-11-17 07:35] sravaniVajjha commented on #1659
please help me i want to integrate my bot with android.but i can't with the directline api

[2016-11-17 08:08] grbinho opened #1683 "Microsoft.Bot.Connector package dependency restrictions on Microsoft.Rest.ClientRuntime"
Hi,

`Microsoft.Bot.Connection` has a NuGet dependency for `Microsoft.Rest.ClientRuntime` set to (>= 1.8.2 && < 2.0.0).
This clashes with Microsoft.Bot.Builder 3.3.3 which installs (>= 2.3.2)

[2016-11-17 08:30] grbinho commented on #1683
Well, I just realized that We get both by just installing the Microsoft.Bot.Builder 3.3.3 package. Nevermind.

[2016-11-17 08:30] #1683 closed

[2016-11-17 09:00] #1646 closed

[2016-11-17 09:15] vossccp commented on #1641
Is this realted to https://github.com/Microsoft/BotBuilder/issues/1597 ?

[2016-11-17 11:20] ChandrikaC opened #1684 "How can I convert pdf attachment to image."
Hello all,

Could you please all help me?

I want to receive attachment of type pdf and convert it to image and then extract text from it using cognitive service Vision API.

[2016-11-17 11:48] brendanarnold opened #1685 "LUIS.ai V2 model URLs don't appear to work in BotFramework"
I have a LUIS model which works when I use an old URL of the form ...

`https://api.projectoxford.ai/luis/v1/application?id=<ID_HERE>&subscription-key=<KEY_HERE>`

This works great in my IntentDialog.

However now when I click publish in LUIS a new URL is shown of the form

`https://api.projectoxford.ai/luis/v2.0/apps/<ID_HERE>?subscription-key=<KEY_HERE>`

which does not work in my IntentDialog,

[2016-11-17 11:56] ejadib commented on #1685
Try installing the prerelease version of the botbuilder

`npm install --save botbuilder@next`

or add the "&verbose=true" to the end of the new URL

[2016-11-17 12:05] brendanarnold commented on #1685
Great, the '&verbose=true` works, thanks

[2016-11-17 12:16] agnellodcosta opened #1686 "Question : How to send native Facebook card asynchronously"
Hi,
I would like to send a native fb card, using bot.send(), Can you please tell me what I am doing wrong below,

var nativeMsg = new builder.Message();
var nativeMsg2 = nativeMsg.sourceEvent(args);
bot.send(nativeMsg2);

"args" is JSON,
{"facebook": {"notification_type": "REGULAR","attachment": {"type": "template","payload": {"template_type": "generic","elements": [{"title": "Some Title", "image_

[2016-11-17 12:18] agnellodcosta opened #1687 "Question : dialogData and userData"
Hi,

If a user is in a conversation with a Bot, and a pro-active message is sent, will it invalidate the dialogData/userData and the botState of the current conversation

Thanks

[2016-11-17 12:28] vossccp commented on #1597
I believe, the issue we encounter is related to the way, we deal with messages from the Bot Framework: When we receive a message, we route the message into a queue; we have different endpoints (each of them representing specialised bots) which then process the message.

Adding the URLs when the message arrives, will not work in such distributed scenarios because the instances dont share the same m

[2016-11-17 12:33] vossccp commented on #1644
Adding

` MicrosoftAppCredentials.TrustServiceUrl(@"https://facebook.botframework.com", DateTime.MaxValue);`

upon startup solved it for me. Can anybody else try it?

[2016-11-17 13:01] dvska opened #1688 ""The conversationId xxxxx and bot yyyyy doesn't match a known conversation""
Hi Humans!
I am trying to code a Skype bot in Python via REST API (Microsoft Bot Framework V3).
Successfully registered it, got token, receiving messages - like
[code]

Then trying to respond to user, POSTing to
https://skype.botframework.com/v3/conversations/29:12kC_CWRhhxpz3eRmrGCHhGpdgzEnJxVJNN5Ui2085Qg/activities
with

[code]

as activity - getting 404 with text

[code]

What I am doing wrong?

[2016-11-17 17:34] karlbarber commented on #1017
so glad I found this - saved me hours with the same issue

[2016-11-17 18:48] dandriscoll commented on #1617
Hi @sravaniVajjha, we had another occurrence of the configuration issue. Can you try again?

[2016-11-17 19:22] svickers commented on #1666
Actually it looks like it isn't so much of the storage as it is the incoming result from the prompt.  This happens when using the slack channel.  If I hard-code the value of the email string in ResumeAfterPrompt, it works fine.

[2016-11-17 19:28] JoeMayo opened #1690 "Cross-Platform Emulator Activity Testing"
The old emulator had a feature that allowed sending an activity to the chatbot for any of the activity types. Will that eventually be added to the new emulator?

[2016-11-17 19:48] reyesrico commented on #1517
@astrung if you need the video displayed inside the you can try sending the video link as an attachment instead of as a text.

If you still have more comments, please reopen the issue. Thank you.

[2016-11-17 19:48] #1517 closed

[2016-11-17 23:23] craigjensen commented on #1682
Have a look at the Connector.Conversations,GetConversationMembers Api.

[2016-11-17 23:23] #1682 closed

[2016-11-17 23:31] craigjensen commented on #1686
Try sending just the inner part of the json:
{"notification_type": "REGULAR","attachment": {"type": "template","payload": {"template_type": "generic","elements": [{"title": "Some Title", "image_url": "http://docs.botframework.com/images/demo_bot_image.png","subtitle": "Some amazing subtitle","buttons": [{"type": "postback","title": "GO", "payload": "demo"}]}]}}}

[2016-11-17 23:32] #1685 closed

[2016-11-18 01:20] #1649 closed

[2016-11-18 01:25] Maarten88 commented on #1498
@grbinho you can do builder.Update(Conversation.Container) to override global registrations in there. It's totally nonobvious how Autofac allows this, took me some time to figure out too.
I use that now to register my (non serializable) services, so that I can resolve them inside Forms.

[2016-11-18 03:31] ADefWebserver commented on #1549
If you use the code from this article:
http://aihelpwebsite.com/Blog/EntryId/16/Calling-The-Microsoft-Bot-Framework-Using-The-Direct-Line-API

(The code is here: http://aihelpwebsite.com/downloads/DirectLineBot.zip)

It will work when you connect to a bot that is not using LUIS, but now it breaks (with the error described in this issue).

However, if you connect to a Bot that is not using LUIS, it

[2016-11-18 03:48] rzio opened #1691 "Link from the overview page to the authentication page is broken"
On the [overview](https://docs.botframework.com/en-us/core-concepts/overview/) page link to the authentication page is broken. It links to https://docs.botframework.com/en-us/core-concepts/authentication.md, instead of https://docs.botframework.com/en-us/core-concepts/authentication

[2016-11-18 04:38] dandriscoll commented on #1659
Hi @sravaniVajjha, the Direct Line API is the recommended way to integrate your bot into your mobile app. Are you still having difficulty with the API?

[2016-11-18 05:20] siddiq-rehman opened #1692 "How do I call begin a new dialog from another running dialog"
Say, I have started a dialog and inbetween again trying to start one more dialog,

var intent = new builder.IntentDialog({ recognizers: [recognizer] });
bot.dialog('/', intent);
intent.matches('Account_Balance','/Account_Balance');

bot.dialog('/Account_Balance',[
    function (session, args, next) {
	if(!session.privateConversationData .name && !session.privateConversationData.pwd){
			session.se

[2016-11-18 06:40] #1692 closed

[2016-11-18 07:24] grbinho commented on #1498
@Maarten88 Tnx for the tip. Much better solution :)

[2016-11-18 09:20] divvy19 commented on #8
Hi guys, can anyone please help me solve this problem . . i am getting an ECONNREFUSED error:
C:\Users\geektrainer\Demos\node_modules>node hello.js
 restify listening to http://[::]:3978
WARN: ChatConnector: receive - emulator running without security enabled.
ChatConnector: message received.
Error: connect ECONNREFUSED 127.0.0.1:9000
    at Object.exports._errnoException (util.js:1026:11)
    at

[2016-11-18 09:41] dvska commented on #1688
tried also
activity to send:
`{'text': 'SOME RESPONSE TEXT', 'type': 'message'}`
as well as
`{'text': 'SOME RESPONSE TEXT', 'type': 'message/text'}`
with no success.

[2016-11-18 10:05] ThisWillDoIt opened #1693 "Adding Bot to GroupMe broken (404 on azureedge.net)"
Configuring the bot with GroupMe seems to work, but when clicking the test link to add the bot to a GroupMe conversation there is this new window where you have to select a conversation and click "Save changes".
The pages just flashes and does nothing.

The console throws a HTTP404 for
(XHR)GET - https://bot-framework.azureedge.net/libs/jquery-1.10.2.min.map

Screenshot: http://imgur.com/a/QxxMd

[2016-11-18 10:53] subhans3tech opened #1694 "how can i assure that bot does not move forward unless the entity of the intent resolve"

[2016-11-18 11:17] vitthalpatil opened #1695 "Integrating BOT in Xamarin.Forms application."
I need to integrate Microsoft BOT into Xamarin.Forms application. I can see option with WebView. Is there any SDK available which can be used for cross platform development.

[2016-11-18 11:31] dvska commented on #1688
Sorry, it was my fault in mixing  of client_id/client_secret combos.

[2016-11-18 11:31] #1688 closed

[2016-11-18 12:23] Kris-Nimmagadda commented on #1643
Hi @willportnoy  thank you much for the answer. Yes, it is LUIS action fulfilment. We are using the same ResumptionFunction and solving this for now. Seems like the best solution of all. However, it would be good to have some way to loop through various dialogs and then it goes one after the other prompting, with their own Resumption functions. That is probably what you did using Fibers and Frames

[2016-11-18 16:22] jcmontes95 commented on #1414
Hi @dandriscoll, are you planning to include the feature in further releases?

[2016-11-18 16:47] willemodendaal opened #1696 "Question: How does the Bot Connector serialize/deserialize and run code under the hood?"
Could someone please explain what the Bot Connector does with a dialog under the hood? I'm curious about where my bot code runs. I expected it to run on my Bot's webservice, but I notice that the bot framework emulator can still interact with my bot, even if the website is not running (at least after the dialog has entered "waiting" state and resumes with another message).

Does my bot code also e

[2016-11-18 17:00] palmerabollo commented on #1694
Could you share some code of what you have so far so we can help you?

[2016-11-18 17:02] palmerabollo commented on #1684
@ChandrikaC There are many libraries and third-party cloud services you can use to convert pdf files to images. It doesn't have anything to do with the development of a bot. For example, if you are using Node.js you can use this module https://github.com/mooz/node-pdf-image that uses ImageMagick under the hoods.

[2016-11-18 17:45] craigjensen commented on #1691
Thanks - we'll get this fixed.

[2016-11-18 18:22] forensicsguy20012004 opened #1697 "Integration with Internal Skype"
How would one go about integrating a Bot into a Skype implementation not hosted in Azure but behind a company firewall?

[2016-11-18 18:26] evgri243 opened #1698 "Localization subsystem for Bot Framework"
Hello!

In Bot Framework v1 there was an automatic translation feature on the connector level, that was useful, but simple and inflexible. And everything looks like it was completely removed in v3. Recently I had a couple of breakout sessions in Russia for Microsoft on usage of LUIS with bots and found that it works great with translator services. LUIS has no "sense of language", translators are g

[2016-11-18 18:42] ZanderAdam commented on #842
I've had luck getting around corporate proxy by using CNTLM and setting a proxy in my Internet Options -> Connections -> LAN settings.

Then editing the Bot Framework Channel Emulator config by adding proxy config:

[code]

[2016-11-18 20:21] Shikaka commented on #728
Same problem.

https://skype.botframework.com/v3/conversations

{
  "isGroup": true,
  "bot": {
    "id": "28:603a6106-2a48-4038-868e-a47abcd77878",
    "name": "KillianBot"
  },
  "members": [
    {
      "id": "8:koropovskiy",
      "name": "koropovskiy"
    },
     {
      "id": "8:serega.fedin",
      "name": "s.f"
    }
  ],
  "topicName": "TopicName"
}

Result 201
Responce
{
"id": "8:koropov

[2016-11-18 21:04] dandriscoll commented on #1697
Hi @forensicsguy20012004, currently all Bot Framework bots must be internet-accessible. This includes bots available through Skype.

You can make your bot accessible with a tool like ngrok, or you could have your bot run outside your corporate firewall. If you're completely unable to expose your bot's endpoint, for the time being it's not possible to connect it to cloud-based chat services.

[2016-11-18 23:21] ebrulato commented on #1660
Hi @dandriscoll

I still investigate this issue.
If I use this code

`var r = require('request');

var options = {
            method: 'GET',
            url: 'https://api.aps.skype.com/v1/.well-known/openidconfiguration',
            json: true
        };

r(options,
  function(err, response, body) {
	console.log('code='+response.statusCode);
	console.log(body);
	console.log('err='+err);

	option

[2016-11-19 01:46] eanders-MS commented on #1568
Closing the issue. If you're still having problems please open a new one.

[2016-11-19 01:46] #1568 closed

[2016-11-19 01:48] eanders-MS commented on #1690
Yes, it is a priority to add something equivalent to the new emulator.

[2016-11-19 01:55] eanders-MS commented on #1595
Hi @GhostAtom palmerabollo is correct this isn't something you can catch in the emulator - it is Telegram-specific. But you should be able to run your bot locally with ngrok and debug it that way. You might double-check that your locally running bot is getting initialized with the correct Microsoft appId and password. Also ensure that your bot registration page in the Dev Portal has the right ngro

[2016-11-19 05:46] #1690 closed

[2016-11-19 09:19] subhans3tech commented on #1694
``/*-----------------------------------------------------------------------------
This Bot demonstrates how to use an IntentDialog with a LuisRecognizer to add
natural language support to a bot. The example also shows how to use
UniversalBot.send() to push notifications to a user.

For a complete walkthrough of creating this bot see the article below.

    http://docs.botframework.com/builder/node

[2016-11-19 13:27] scibol opened #1699 "[Help] Cancel builder.Prompts.choice()"
My bot has a prompt that asks for user input:

```builder.Prompts.choice(session, "Is it ok?", ["Yes", "No"]);```
Now, when a user responds with something else other than "Yes" or "No" the program will always keep waiting for a reply that matches "Yes" or "No" with:

```I did not understand. Please choose an option from the list```
with the same choices as before.

I would like the bot to not ask

[2016-11-19 13:32] forensicsguy20012004 commented on #1697
Thank you good sir for the information. One more quick question and then we can probably close this out. Would the internal Skype have the same functionality built-in ... if internal resources correctly configured and set up? Basically would the internal Skype be able to "mock" the external Skype system? I

[2016-11-19 23:46] OR13 commented on #620
When debugging a local node.js bot with vscode and bot emulator, I needed to clear App Id and Password in order to receive responses in the emulator.

It seems like the emulator should be able to warn you about this, because if the bot endpoint contains localhost, App Id and Password should never be provided, or the emulator will not work.

alternatively, the emulator could simply ignore these fie

[2016-11-20 01:03] rexad commented on #1678
Any luck ? i'm having the same issue it seems its related to ChoiceStyle = ChoiceStyleOptions.Default
if you select  ChoiceStyle = ChoiceStyleOptions.PerLine it should work but with a textual menu

[2016-11-20 06:04] JoeMayo commented on #1690
Thank you.

[2016-11-20 10:20] bramveen opened #1700 "Suggestion: Allow bot buIdlers to limit the Microsoft Teams channel by O365 domain."
Hi,

I'm building a Microsoft Teams librarian bot that serves documents from an internal sharepoint. This bot is only relevant to people inside my organization.

I could use the UserData to tell outside my org that I can't help them but it would be better if the users are unable to see the bot in the first place.

My suggestion:
Allow bot buIdlers to limit the Microsoft Teams channel by O365 domai

[2016-11-20 12:01] palmerabollo commented on #1699
@scibol You can probably use `IPromptOptions` to skip retries. Something along these lines:

[code]

[2016-11-20 15:54] starchand opened #1701 "Attach local images"
How do you send locally save images not publicly hosted file? Tried file location and localhost but all error.

var msg = new builder.Message(session)
            .attachments([{
                contentType: "image/png",
                contentUrl: "http://localhost:3000/google.png"
            }]);
session.endDialog(msg);

[2016-11-20 16:13] ebrulato commented on #1660
Hi, I have made more investigation.
I found other cases with the same issue (api.ai, ...)
In fact I create a simple node for node-red

here is the code

var r  = require("request");
// --------------------------------------------------------------------------
//  NODE-RED
// --------------------------------------------------------------------------
module.exports = function(RED) {
    const regist

[2016-11-20 16:13] #1660 closed

[2016-11-20 23:47] ronnelsantiago commented on #1636
is there like a uservoice where we could vote on a feature at least

[2016-11-21 01:36] ronnelsantiago opened #1702 "VideoCard ToAttachment() extension method missing?"
nuget 3.3.3 introduces new cards namely video card and audio card.. are there suppose to have a "ToAttachment()" extension method too? same as the other cards?

[2016-11-21 01:47] ronnelsantiago opened #1703 "VideoCard capability request"
I think it would be nice if user can have the ability to view the video in full screen?

[2016-11-21 01:50] dandriscoll commented on #1697
Can you clarify what you mean by "internal Skype?" Are you talking about Skype for Business?

If so, we haven't launched support for Skype for Business yet.

[2016-11-21 01:51] dandriscoll commented on #1703
Hi @ronnelsantiago, are you asking about a particular channel?

[2016-11-21 01:51] ronnelsantiago commented on #1701
i dont think this a possible.. (but i want to be proven wrong)... if u do not want to share those resources maybe store it in.. say... azure blob storage and set it as "private".. and enable shared secret signature... just a thought...

[2016-11-21 01:54] ronnelsantiago commented on #1703
can we make it channel agnostic? on my requirement at the moment i need it on skype channel

[2016-11-21 02:35] ronnelsantiago commented on #1697
@dandriscoll when is support for S4B is slotted to release?

[2016-11-21 03:00] ronnelsantiago opened #1704 "is there a doc/page where it listed all features suppported by each channels?"
Anyone knows if such documentation exists that lists all features that are supported by each channels?

Channels | Feature
----------|--------
Skype | No VideoCard support
SMS | No VideoCard support

Its a pain to work on a feature that works on the emulator but did not on the actual channel you are targetting

[2016-11-21 03:04] Stevenic commented on #1698
Good idea :)

[2016-11-21 03:09] Stevenic commented on #1633
The update with the patch should be released soon.

[2016-11-21 03:13] Stevenic commented on #1687
Sorry for the delay... It depends on how you send it.  If you use `session.send()` then no, everything is preserved.  If you use `session.beginDialog()` then any current dialog stack will be ended and a new conversation started. The `userData` property is never impacted by a proactive message.

[2016-11-21 03:19] Stevenic commented on #1677
I need to write some better documentation for using middleware but you can look at the [middleware](https://github.com/Microsoft/BotBuilder/blob/master/Node/core/src/middleware/Middleware.ts) included with the SDK for ideas. I'm also happy to answer specific questions.

[2016-11-21 03:22] Stevenic commented on #1647
You could create a new custom recognizer that wraps the LuisRecognizer. This would let you log everything coming from LUIS.

[2016-11-21 03:23] Stevenic commented on #1610
You're storing something big in `dialogData` which is why you're getting that error. What are you storing?

[2016-11-21 03:25] ronnelsantiago commented on #1703
i stand corrected. on skype when u send a videocard it actually gives u to fullscreen.. im on skype client 7.30.64.. u just have to make sure that u have set a corresponding thumbnail for your videocard

[2016-11-21 03:25] Stevenic commented on #1582
Ok...

[2016-11-21 03:25] #1582 closed

[2016-11-21 03:27] Stevenic commented on #1520
Adding WIll & Shahin

[2016-11-21 03:29] Stevenic commented on #1113
Not yet... On the Node side of things I can think about how we'd support this in our 3.6 release. It's too late to do anything in v3.5

[2016-11-21 03:37] Stevenic commented on #297
I don't see anything obviously wrong. Could you please start a new issue versus adding on to a closed one? Thanks!

[2016-11-21 03:38] Stevenic commented on #1594
Sorry for the delay. I can try to reproduce the issue.

[2016-11-21 03:40] Stevenic commented on #1575
No... There's no way to use LUIS with a calling bot unfortunately :(

[2016-11-21 03:40] #1575 closed

[2016-11-21 04:06] forensicsguy20012004 commented on #1697
Yeah sorry...Skype for business. ..my bad.

On Nov 20, 2016 9:35 PM, "ronnelsantiago" <notifications@github.com> wrote:

[2016-11-21 05:25] dandriscoll commented on #1697
We haven't announced a date yet, sorry.

[2016-11-21 08:46] rexad commented on #1678
So i was able to fix this issue :
please update your bot framework to version 3.3.3.0
put  [Describe(Title = "", SubTitle = "")] at the top of the variable representing the enum
in my case
 [Describe(Title = "", SubTitle = "")]
 public FeatureOptions? Menu;
i think facebook make it mandatory to have the title
et voila .

[2016-11-21 10:40] forensicsguy20012004 commented on #1697
I am good to close this issue if you guys want. The only thing I would request is the continued development  towards a release and integration of Skype for Business. As it sounds, that is continuing...so I am good to close this issue if everyone agrees. If everyone does...anyone can close this.

[2016-11-21 10:48] awadhes22 opened #1705 "How to show confirmation popup in microsoft bot framework"
I am implementing bot in Skype using Microsoft Bot Framework. I want to show confirmation popup  (e.g  yes or no message box ) whenever the command is sent to bot.

[2016-11-21 13:17] scibol commented on #1699
@palmerabollo Thank you very much.

[2016-11-21 13:17] #1699 closed

[2016-11-21 16:03] vjrantal opened #1706 "Using validatedPrompt together with PromptType.choice"
This issue relates to the Node.js botbuilder SDK version 3.4.4.

I am defining a dialog like this:

[code]

And using it like this:

[code]

I have two issues that I didn't yet manage to solve:

1. The custom validator function doesn't seem to get called at all when user responds to the choice (works as expected when using PromptType.text)
2. How to pass the choices to the underlying choice prompt

[2016-11-21 16:14] JCKodel opened #1707 "How to do a decision tree?"
I'm building a bot for a 1st level help desk, something like:

1) Which are do you like? Products, Registration or Find a store?
2) What you want to know about products? The best product to do X? The applications of product X? Where to buy product X?

I was doing using form flow and, on completion, call or forward another flow (so I have one class for each flow, and there are thousand of them)

Th

[2016-11-21 17:13] craigjensen commented on #1701
You have two options: 1) store the image in a publicly accessible location, or 2) encode the image as a base64 encoded data url and send it inline.  See [docs](https://docs.botframework.com/en-us/core-concepts/attachments/#navtitle) for details

[2016-11-21 17:13] #1701 closed

[2016-11-21 19:21] efog commented on #1142
@msft-shahins Hi, the issue remains. Is it something being looked at?

[2016-11-21 20:01] CaptainScavo commented on #1704
+1. This would be very useful when trying to baseline bot functionality across multiple channels

[2016-11-21 22:14] palmerabollo commented on #1705
If you are using the Node.Js SDK you can use [`botbuilder.Prompts.confirm`](https://docs.botframework.com/en-us/node/builder/chat/prompts/#promptsconfirm). Is that what you need?

[2016-11-21 22:16] Stevenic commented on #1706
So I just added a new [basics-customChoicePrompt](https://github.com/Microsoft/BotBuilder/tree/master/Node/examples/basics-customChoicePrompt) example that shows how you'd do this.  You can't really use a validated prompt because it requires you successfully chose an option from the set.  The sample shows how to use `Prompts.choice()` with `maxRetries = 0`.

[2016-11-21 22:52] msft-shahins commented on #1705
@awadhes22 what you mean by confirmation prompt? You can use built in confirmation dialogs in bot builder to send a confirmation prompt in the form of a [HeroCard](https://docs.botframework.com/en-us/core-concepts/reference/#herocard) to user.

[2016-11-21 23:48] digitallawyer opened #1708 "Webchat issues on Safari (desktop + mobile)"
As a user, when interacting with my bot using Safari (on desktop or on iPhone),
the dialog does not progress beyond the initial interaction.

To reproduce:

[Talk to the bot](https://lara.legal.io/lara) on Chrome - everything works as intended.
[Talk to the bot on Safari](https://lara.legal.io/lara) - you will be unable to get past the initial dialog.

This may be related to [issue 1430](https://g

[2016-11-22 00:04] pbjtime commented on #1669
I to am encountering this issue except using node.js bot framework 3.2

[2016-11-22 02:07] cesarvarela commented on #1677
My questions are about them in general, starting from what are middlewares for? What can and can't be done with them? Do these middlewares share the same philosophy behind Express' ones?

Also, the first-run middleware confuses me, because to me that is something that should be contemplated in the bot code itself, as part of the root dialog.

[2016-11-22 02:47] cesarvarela opened #1710 "Strategy for catching errors"
How should I handle random errors through the use of the bot?

All I see is `Oops. Something went wrong and we need to start over.`, but I wonder.. is there a global event for handling these?

thanks!

[2016-11-22 03:29] Stevenic commented on #1677
Middleware lets you process every incoming and outgoing message.  It's similar to Express Middleware but unlike Express which simply lets you capture incoming requests, you can capture both incoming and outgoing messages vis 3 different pipes.

The two `receive` & `send` pipes let you inspect the raw event that was either just received or is about to be sent.  Middleware installed for eitehr of th

[2016-11-22 03:44] Stevenic commented on #1710
That error message is only shown when `Session.error()` is called and the message itself can be customized by you.  Typically this is only called in two situations: 1) we called some external service like LUIS and encountered a problem. 2) your bots code threw an exception that you didn't catch.

You can avoid the second case by simply adding `try{}catch{}` statements to you code.  You can also ad

[2016-11-22 04:10] cesarvarela commented on #1677
Thanks, that clears a lot. In fact, I just updated to `3.5.0-rc7` to use the new `triggerAction` method which simplifies some stuff a lot.

[2016-11-22 04:10] #1677 closed

[2016-11-22 04:14] cesarvarela commented on #1710
Awesome, this should definitively be in the docs.

[2016-11-22 04:14] #1710 closed

[2016-11-22 05:42] nickcordrey commented on #1669
Thanks for this we're investigating - I replied to your email to ask for some further details.

[2016-11-22 06:12] Stevenic commented on #1677
That was the goal for `triggerAction`. A lot of people were complaining that a user couldn't easily interrupt one task and start a new one.  Trigger actions combined with the new global recognizer support make that (and other scenarios) a lot easier.

[2016-11-22 06:31] astrung commented on #1610
This bug is fixed now. I stored all data i get from database . It is ok now. But it is still can not send "end" message for response for "hello" message.

[2016-11-22 06:55] astrung opened #1712 "Can not pass result to builder.Prompt.text after go to other dialog"
My bot flow :
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; It has a middle ware to check some special messages , then go to some special dialog to send some special messages before back to main waterfall flow.
Example :
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our middle ware :

    bot.use({
    botbuilder: function (session, next) {
    switch (session.message.text.toLowerCase()) {
        case (session.message.text.toL

[2016-11-22 08:46] cesarvarela opened #1713 "Keyboard card class not in definition file"
Just that.

[2016-11-22 08:50] ambrishverma opened #1714 "How to create Share button for Facebook Messenger Bot ?"
Hi There, I am using Node.js botFramework to create a bot for Facebook Messenger platform. I am not able to figure out how to I create a "Share" button (as explained here: https://developers.facebook.com/docs/messenger-platform/send-api-reference/share-button ) .

I tried to pass the button type "element_share" as following but it didn't work:

                    .attachments([

[2016-11-22 09:46] cesarvarela commented on #1520
None of the examples from @Stevenic above actually delete what's in `session.userData`, not in the simulator nor in Facebook. Only the conversation is restarted back to `/` from what I can see, Is this the expected behavior?

[2016-11-22 12:40] Jignesh2016 commented on #940
I am facing a similar issue. Does it take time for the calling feature to come up ?

[2016-11-22 14:36] ThisWillDoIt opened #1715 "Mattermost integration?"
Are there any plans to extend the Bot Framework channels with support for Mattermost?

[2016-11-22 14:51] KrishnanA commented on #940
No it should not take more than a couple of minutes to propagate. Is your call back even getting hit?

[2016-11-22 15:27] dimoibiehg opened #1716 "callback query from Telegram does not work properly"
I have some problem in getting callback query from Telegram as I mentioned in [this issue](https://github.com/Microsoft/BotBuilder/issues/1568). In the final result, the solution was changing the result into a json string. I've done this and send the following message into the Telegram:

[code]

Also, the generated message is:

[code]

As you can see the "results" field is a JSON string.

BUT, I c

[2016-11-22 16:42] pcbarroso opened #1717 "How to cancel a FormFlow when Validating"
I have a Form in my bot, but at any time the user may want to cancel and continue later. I'm using FormFlow (new FormBuilder) and what I want is to in the validate methods check if the user send a specific word like 'EXIT' and if so to cancel the form and go back to context.wait().

Is there a way to stop the form? I can't find a way to access the context before onCompletion

[2016-11-22 16:59] sriharshakappala opened #1718 "Send custom parameter in `session` object"
I am new to bot framework. I am building a bot in the context of a web application where the user can ask something like this - 'What's my schedule today?' So for this to work I have to authenticate the chat message with a custom token that is in my database. This way I can fetch that particular user's tasks from the database. But I am unable to send a custom parameter to and fro session object. N

[2016-11-22 17:16] gioffyx opened #1719 "Payload ignored in Facebook quick reply using KeyboardCard and channel data"
Bot Framework 3.3.3

I have created a KeyboardCard to provide quick reply to my Facebook bot.
Right now I'm using the following code to create them:
[code]

I expected that when the quick reply buttons were pressed there will be an incoming message with text equals to the payload provided in the definition.

Unfortunatly, when I press the quick reply buttons the activity contains a text message wi

[2016-11-22 19:58] retailhal commented on #229
This is now available here: https://github.com/microsoft/botframework-webchat

[2016-11-22 20:47] bearnshaw commented on #1576
@rampratheek not sure if this applies in your case, but if you pass arguments containing the key "resumed" to a waterfall step, that step will be ignored and execution will be passed to the next step.

[2016-11-22 20:53] dandriscoll commented on #1708
Hi @digitallawyer, it looks like the embed is not assigning a user ID, which causes the flow to restart after every message. We've released a new embed and have moved the location of the user ID assignment. You can enable it by checking the "Web chat preview" box on the Web Chat configuration page within the Bot Framework developer portal.

We'll look at fixing this in the old control but over tim

[2016-11-23 00:23] bertique commented on #1634
Moved to https://github.com/Microsoft/BotFramework-WebChat/issues/162 since this seems to be a web chat issue

[2016-11-23 00:28] msft-shahins commented on #1520
@alokraj68 in C#, [DeleteProfileScorable](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/DeleteProfileScorable.cs#L16) implements the logic. You can change the command that triggers the scorable by injecting your custom regular expression in the conversation container. Here is were the default regular expression is registered: https://github.com/Microsoft/BotBuilder/blo

[2016-11-23 00:55] msft-shahins commented on #1719
This is by design based on the facebook message sent to connector when a quick reply button is tapped.

https://developers.facebook.com/docs/messenger-platform/send-api-reference/quick-replies#callback

Connector will promote the text in the Facebook message to the text field in the activity. If you want to access the payload, you can reach it through the channel data on the activity sent to your

[2016-11-23 00:55] #1719 closed

[2016-11-23 01:04] #1705 closed

[2016-11-23 01:07] dandriscoll commented on #1715
At the moment, no, we don't have plans to support Mattermost.

Because Mattermost instances are self-hosted, there's additional setup required to configure each endpoint, and this is pretty close to the Direct Line provisioning model, where each installation can have its own ID and key. I know of developers who have used Direct Line to integrate into other channels, so that may be an option for yo

[2016-11-23 01:19] msft-shahins commented on #1672
This is related to the LuisResult definition in Microsoft.Cognitivie.Luis: https://github.com/Microsoft/Cognitive-LUIS-Windows/blob/master/ClientLibrary/Structures/LuisResult.cs and not related to LuisResult implementation of bot builder. For now, Bot builder is relying on its own implementation of Luis client and Luis result. Probably worth opening an issue about this on that repo about the self

[2016-11-23 01:19] #1672 closed

[2016-11-23 01:47] cesarvarela opened #1720 "Watson recognizer"
Are there any plans for a recognizer like LuisRecognizer but with IBM's Watson?

[2016-11-23 01:54] msft-shahins commented on #1666
@svickers  slack encodes the emails in the text to something like this: ``<mailto:me@me.com|me@me.com>`` and that is the reason that your match condition fails. You need to parse the result coming from PromptDialog.Text if you want to store the email address.

[2016-11-23 01:54] #1666 closed

[2016-11-23 02:08] #1656 closed

[2016-11-23 02:20] msft-shahins commented on #1553
Closing this. Feel free to open another issue if you need help.

[2016-11-23 02:20] #1553 closed

[2016-11-23 02:25] msft-shahins commented on #1664
You can achieve this by implementing an ILuisService that implements the retry logic with exponential back off when querying the Luis API: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Luis/LuisService.cs#L65

[2016-11-23 02:25] #1664 closed

[2016-11-23 05:12] ambrishverma commented on #1714
Thanks @craigjensen . I replaced the above code with SourceEvent() as shown below but it does not seem to send anything to FB Messenger. Any suggestions what might be wrong here:

msg = new builder.Message(session)
msg.sourceEvent({
                    facebook: {
                          "type":"template",
                          "payload":{
                            "template_type":"generic

[2016-11-23 05:20] bertique commented on #1634
Looks like this is an issue in the BotBuilder framework after all

[2016-11-23 07:21] suvamsh opened #1721 "Clear session.userData"
I'm testing my bot after deploying to FB/Skype. I'm wondering if there is a way I can clear all session data and test from scratch? I am unable to tests part of my logic since userData is persisted across the conversation.

[2016-11-23 07:25] astrung commented on #1712
Well, can any one help ?

[2016-11-23 07:29] astrung commented on #1712
I think i need to use `IPromptResult<T>`, but i don't know how to convert it from message

[2016-11-23 07:57] suvamsh commented on #1721
Follow up: As of now I have a command that my bot recognizes and I can clear the data using that. But I don't want to expose this to users. I would like to do it myself behind the scenes.

[2016-11-23 08:54] palmerabollo commented on #1721
If you are using nodejs, you can add this middleware:

[code]

[2016-11-23 09:42] sriharshakappala opened #1722 "Carousel Cards working in Emulator but not working on WebChat"
I am trying out this example on Carousel Cards - https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/cards-CarouselCards

I am able to see the Carousel Cards on Emulator but the same when tried on WebChat I am getting the result as a conversation bubble but not as a Carousel Card.

Attaching screenshots!

**On Emulator**

![screenshot from 2016-11-23 14-28-35](https://cloud.githubuser

[2016-11-23 11:13] shahsagarin opened #1723 "Web Chat BOT: Font changed"
We have BOT embedded on a web page through Web Channel. As of today, we observed that font style has changed for BOT as shown below:

![today](https://cloud.githubusercontent.com/assets/8536246/20559655/a3d2c3f4-b19b-11e6-929d-8384070a5aaf.png)

Previously the font style was a bit different as shown below:
![yesterday](https://cloud.githubusercontent.com/assets/8536246/20559658/a8e62106-b19b-11e6-

[2016-11-23 11:55] Jignesh2016 commented on #940
Hi ,

Thanks for your help. It is working now . I had not specified the call back
in my web.config.

Thanks
Jignesh

On Tue, Nov 22, 2016 at 8:21 PM, KrishnanA <notifications@github.com> wrote:

[2016-11-23 13:22] jcmontes95 commented on #19
@msft-shahins @Stevenic any updates on c# logging?

[2016-11-23 13:57] brunoklein99 opened #1724 "What is the proper way to do exception handling?"
I am using `IDialogContext.Fail` to propagate the exceptions to the previous dialogs, I even did a `ExceptionHandlingDialog`, which works, but the stacktrace of the exception is always sent to user regardless. Any way to make this user friendly?

[code]

[2016-11-23 14:12] KrishnanA commented on #940
Great. Thanks for confirming.

[2016-11-23 15:05] ThisWillDoIt opened #1725 "Exception when sending messages in short intervals to LuisDialog"
Some internals crash when sending messages in fast succession to a LuisDialog.

I tried it with an "empty" LuisDialog. Works fine when the messages are send with some time inbetween.
(copying a sentence and doing crtl + v --> enter 4 times in a  row always triggers this error at least once in all my tests)

[code]

I think the Bot might have problems with messing up the bot state and can't persist

[2016-11-23 15:11] clari182 opened #1726 "Bot Framework Test Forbidden"
Hi!
I'm building a bot and I keep getting "Forbidden" when testing it in Bot Framework. Sometimes I get Accepted but most of the time I don't.

The bot works perfectly on the bot emulator locally but when I upload it and use it on Facebook messenger most of the time my messages aren't getting any response. When I look at my logs it looks like they are not even being sent. I've tried inserting seve

[2016-11-23 15:52] scibol commented on #1714
#1604

[2016-11-23 16:44] dandriscoll commented on #1723
Hi @shahsagarin, we recently fixed a number of bugs in the web chat control, and one of them must have been causing inconsistent styling. (The new font is the styling we intended.)

If you'd like additional control over the control styling, you should consider our new web chat control, which is available as a React component and an open-source lib so you can customize the style and functionality i

[2016-11-23 16:46] dandriscoll commented on #1722
Hi @sriharshakappala, cards are supported in the preview version of the web chat control.

To enable the preview, visit the Web Chat configuration page for your bot and click the "Enable web chat preview" checkbox near the bottom of the page.

[2016-11-23 17:26] tahsintahsin commented on #1599
In step 2, is the user says no, you can simply end the dialog by session.endDialog()  that would send you back to the last question in inquiry, or you can do session.replaceDialog('/inquiry') which would put you to question 1 of inquiry.
I think can do session.reset() to clear the dialog stack,  as discussed in #101 . You can also try replace dialog with an extra argument passed, replaceDialog('/r

[2016-11-23 18:02] craigjensen commented on #1714
Try changing "facebook" to "attachment" as follows:

msg = new builder.Message(session)
msg.sourceEvent({
"attachment": {
"type":"template",
"payload":{
"template_type":"generic",
"elements":[{
"title": titleStr,
"subtitle": contentStr,
"image_url":"https://thechangreport.com/img/lightning.png",
"buttons":[{
"type":"element_share"
}]
}]
}
}});
session.send(msg);

[2016-11-23 18:11] msft-shahins commented on #19
@jcmontes95 you can implement an [IActivityLogger](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/IActivityLogger.cs) and register it with the conversation container. By default builder registers the (NullActivityLogger)[https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/IActivityLogger.cs#L81] with the [container](https://github.com/Microsoft/Bo

[2016-11-23 18:14] MedaSandeep opened #1727 "TextToSpeech Cognitive Service Will work on Skype/Webchat"
we created a Chatbot that has LUIS and TTS Microsoft cognitive service. Where TTS Cognitive service is working fine when we test the application in Bot Emulator, But when we published our bot as Webapp in Azure, And when we access the bot (Webchat/Skype) TTS service (Voice Response) is not working.

Below is the error message that I can see in Azure Log Trace – Not sure how this is related to abov

[2016-11-23 18:45] msft-shahins commented on #1142
@Stevenic or @maxpert can you comment about this?  @efog and @somprabhsharma, I am not familiar with hapijs framework but I believe you can implement a custom connector based on the hapijs request that wraps the chat connector and implements its own listen() function based on happijs events.

[2016-11-23 18:57] msft-shahins commented on #662
@etiago I believe a fix for this is on Skype's roadmap. But to answer the other concern, you do have access to the incoming activity in the luis intent handlers. You can use the IntentActivityHandler signature instead of IntentHandler and as a result you can access the incoming IMessageActivity: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/LuisDialog.cs#L96

Also a re

[2016-11-23 19:19] bertique commented on #1634
Okay seems to be fixed after updating to the latest botbuilder

[2016-11-23 19:19] #1634 closed

[2016-11-23 20:07] maxpert commented on #1142
I think it will be **totally impractical** for us to implement integration with all possible NodeJS frameworks out there. Having said that, every framework must be able to give you raw request and response objects (consumed by Connector). If for any framework you are not getting raw request and response objects, you should be banging on the doors of framework's team to ask for your basic right.

S

[2016-11-23 20:41] efog commented on #1142
Thanks mate, some of us aren't too familiar with every intricacies. Your input is greatly appreciated. Will try this.

Regards,

Etienne Brouillard
Sent from Polymail<https://polymail.io/?utm_source=polymail&utm_medium=referral&utm_campaign=signature>

On mer. 23 nov. 2016 at 15:07 Zohaib Sibte Hassan <Zohaib Sibte Hassan <mailto:Zohaib%20Sibte%20Hassan%20<notifications@github.com>> > wrote:

I th

[2016-11-23 20:50] palmerabollo commented on #1634
@bertique 3.4.4 is the latest, right?

[2016-11-23 21:13] ambrishverma commented on #1714
Thanks again @craigjensen . I still don't get any message.  I think I might be missing something basic here as I tried many different messages via .SourceEvent() but none of them showed up.

[2016-11-23 21:31] bertique commented on #1634
Yes, I was just testing on 3.4.2, and also there it's fixed

[2016-11-23 21:32] bertique commented on #1634
@palmerabollo, yes you are right. Sorry, I was actually on 3.3.3 earlier. That was the problem

[2016-11-23 22:10] R2dical opened #1728 "GraphBot Getting Started"
Is there any documentation for how to use the Microsoft.Bot.Sample.GraphBot. Spent a while but could not really get anywhere.

Like how to link to AAD, register the bot, debug and test, etc?

[2016-11-23 22:22] dandriscoll commented on #1727
Is the bot responsive at all? Or is just the TTS part broken?

Is it possible to disable TTS so we can isolate whether this is a communication problem, a TTS problem, or an Azure hosting issue?

[2016-11-23 23:18] maxpert commented on #1142
👍 do share if you are able to get it to work, this will help others in community as well.

[2016-11-24 00:00] dandriscoll commented on #1723
This should be fixed now. @shahsagarin, can you give it another shot?

[2016-11-24 01:47] MedaSandeep commented on #1727
Bot is responsive. Where I can see rest of the functionality is working
fine.

I suspect the issue might be with Azure hosting and TTS, as the same TTS
service is working fine in emulator.

Do we need to need to configure any blob storage for TTS to make work in
Azure?

On Nov 24, 2016 3:52 AM, "dandriscoll" <notifications@github.com> wrote:

[2016-11-24 02:22] dandriscoll commented on #1727
Hi @MedaSandeep, we're taking a look on our side but at first glance, it's not clear that the failure is related to text-to-speech conversion. It looks like a configuration failure.

[2016-11-24 02:46] MedaSandeep commented on #1727
Great!

Attaching the TTSProgram that we have used as part of this PoC, which might help also help you in debugging the issue.

Please see that, I have just published the Webapp from my Visual Studio 2015 Community edition to Azure and none of the configurations have been changed. Kindly throw me some light on where to make the configuration changes to address this issue.

[TTS.docx](https://githu

[2016-11-24 03:00] dynamicdeploy opened #1729 "Authorization for Microsoft App ID failed with status code Forbidden"
Hello!

I have built a bot that works great in Slack, Skype, Facebooks, etc..
The name of the bot is meelo
Now I am trying to send a proactive message to the Slack channel and I get the following error
"Authorization for Microsoft App ID xxxxxxx failed with status code Forbidden"

Here is the code. Am I doing something wrong?

  class Program
    {
        static void Main(string[] args)
        {

[2016-11-24 03:31] sriharshakappala commented on #1722
Thanks @dandriscoll It worked. I added a new site in the Web Chat configuration page, enabled preview and updated secret in my iframe.

However, It looks like welcome message from bot has been deprecated in preview version. Is that how it was supposed to be or is it a bug?

Attaching a side by side screenshot!

**Left - With preview disabled, Welcome message, Carousel Cards not working
Right - Wit

[2016-11-24 06:04] digitallawyer commented on #1708
Upgraded and confirmed working. Thanks!

[2016-11-24 06:29] ambrishverma commented on #1714
got this to work. It needed both "facebook" and then "attachment" Here is the working code:

               msg = new builder.Message(session);
               msg.sourceEvent({
                    facebook: {
                        attachment:{
                          type:"template",
                          payload:{
                            template_type:"generic",

[2016-11-24 06:29] #1714 closed

[2016-11-24 06:37] #1420 closed

[2016-11-24 06:39] #1513 closed

[2016-11-24 06:48] chrimc62 commented on #1717
There is a built-in cancel.  You can override the terms if you need to by specifying your terms in FormConfiguration.Commands[FormQuit].  If that doesn't work for you, you can also use Scorables to have commands override.

[2016-11-24 09:25] shahsagarin commented on #1723
Works for me, thanks for the quick fix

[2016-11-24 09:32] ykensuke commented on #1395
The same issue is happening for me. I was developing with accessing Facebook Graph API directly without MBF. And I'm trying to transfer my code to on MBF, but the delay is obviously big and it effects user experience. My Node.js code is running on AWS EC2 US West (N. California).
Should I use Azure?

[2016-11-24 10:03] Madhukiran81 commented on #8
when we deploy our Bot application with Heroku.. which URL we need to give at message end point box..?

[2016-11-24 11:04] ykensuke opened #1730 "[Facebook Messenger] Can't receive "message_reads" from FB Messenger platform"
Is there any way to receive "message_reads" event from Facebook Messenger platform? I think it's great if we can get raw requests from each platform, because they are frequently updating their platforms. MS can't support all the updates as soon as they update.

[2016-11-24 12:53] clari182 commented on #1726
Hi, I'm closing this because I recreated everything from scratch and it worked. So I'm guessing some configuration wasn't well defined in my first version.
Cheers!

[2016-11-24 12:53] #1726 closed

[2016-11-24 12:58] MedaSandeep commented on #1727
I noticed that Bot is able to make a successful call to TTS Service (as I number of calls left have been decreasing gradually). tested the same across IE, Chrome, Firefox too, but no luck.

Below is the one may be which you can try out too.
https://webchat.botframework.com/embed/Cognizant_Digital_Yogi?s=WdE4kkFFxLU.cwA.TDM.R7KeMGnaBiu33SC5K6hP3btzpNG83vw6gKoXLZqkC7U

Quick help is much appreciated

[2016-11-24 14:33] jcmontes95 commented on #19
@msft-shahins thank you!

[2016-11-24 16:31] #1723 closed

[2016-11-24 17:06] piffarettig opened #1731 "Multiple intents on just one utterance (LUIS)"
Just that, is it possibly to detect two intents on just one utterance using LUIS?

Ex: 'I want to do A and then B'

Where LUIS should respond me with both A and B as intents.

Every utterance that contains an 'and' has two intents (or more).

Thanks!

[2016-11-24 17:13] piffarettig commented on #1731
I was thinking of defining to intents on LUIS, and add them (apart from their natural entities), a another entity which would be 'secondIntent', where that intent should always start with 'and'. Then, by code, on my bot, whenever the first intent get called and a secondIntent entity is detected, I call LUIS again manually with that chunk of text (the one that LUIS in first place associated to the

[2016-11-24 18:01] dandriscoll commented on #1727
Hi @MedaSandeep, so far it looks like the failure is being generated by a component that doesn't have any dependency on TTS. This is consistent with what you're saying about the bot being able to call the TTS service.

[2016-11-24 18:06] MedaSandeep commented on #1727
Those are my observations.

In interest of time and to confirm on the rootcause of this behaviour,
Request you to kindly have a quick bot deployed to Azure as a webapp (using
the TTS file that I have shared in my previous message) and access the same
using either skype/webchat functionality.

On Nov 24, 2016 11:31 PM, "dandriscoll" <notifications@github.com> wrote:

[2016-11-24 20:40] forensicsguy20012004 opened #1732 "Need Help Calling Internal RESTful API"
I know this is possible but how do I go about calling an internal REST endpoint and add that data to session.userData.XX via node.js?

I have a dialog in which I ask the user their name and then ask if they would like to retrieve an internal token and if they say 'yes' I will then call an internal REST service to get the token. How do I go about adding this into my dialog/routines.

Thanks,
matt

[2016-11-24 20:40] forensicsguy20012004 commented on #1697
I a closing

[2016-11-24 20:40] #1697 closed

[2016-11-24 22:35] piffarettig commented on #940
Hello, I am having the same issue, and I am just using the template. My current setup is as follows (I am currently using ngrok to expose my locally running Bot trough the Internet):

1) I have the CallbackUrl specified on the web.config:

`<add key="Microsoft.Bot.Builder.Calling.CallbackUrl" value="http://MY-NGROK-DOMAIN/api/calling/callback" />`

2) In CallingController.cs I have:

[code]

And o

[2016-11-25 00:48] cesarvarela commented on #1238
@slidenerd Do you have an example of how to do that? Thanks!

[2016-11-25 01:34] piffarettig commented on #940
It is weird because both the call and callback endpoints are being called. First the api/calling/call one, and then the api/calling/callback, which is called three times until it fails and the voice speaks the message described above.

I was thinking that it could be related to something with http and https, (call endpoint is configured as https in Bot Framework and is hosted as http locally)

[2016-11-25 02:50] ykensuke commented on #1395
@tomlm In my case, I just execute session.send('test') with Node.js, and it takes about 4 times longer than accessing Facebook api directly.

This specific testing routes from Send to Receive are
Case2 [MBF]: Send on Messenger App > Facebook > MBF >  our AWS >  MBF > Facebook > Receive on Messenger App
Case1 [no MBF]: Send on Messenger App > Facebook > our AWS > Facebook > Receive on Messenger App

[2016-11-25 03:06] MedaSandeep commented on #1727
Did you get a chance to look into this?

Kindly let me know your inferences too.

On Thu, Nov 24, 2016 at 11:36 PM, Meda Sandeep <sandeepmedas60@gmail.com>
wrote:

--
ur's MEDA

[2016-11-25 04:27] ceohockey60 commented on #169
What would be the node equivalent of IConnectorClient? Thank you.

[2016-11-25 05:32] Masssluis opened #1733 "Need Help removing tax and total in receipt card"
I want to display the key value pairs one by one in the card.I tried with receipt card but in that it is showing tax and total.I don't want to display the tax and total.Is there any way to do that or else with any other card i can able to do the same?
![capture](https://cloud.githubusercontent.com/assets/22141654/20615321/9a024232-b2fe-11e6-9eb4-aae5a64fb1d0.PNG)

[2016-11-25 09:54] duthientandeveloper opened #1734 "#<UniversalBot> has no method 'listenerCount'."
When I use with nodejs version 0.10.36. module "events.Emitter" not have function listenerCount. How I can fix this error

[2016-11-25 12:32] sriharshakappala commented on #1722
@dandriscoll Is #1718 possible?

[2016-11-25 14:44] alokraj68 opened #1735 "Facebook Prompt options gets trimmed."
After facebook integration, in facebook messenger and all FB platforms, all my options for prompt gets trimmed so the user does not actually see the prompt option text completely.

eg : "Yes, I wan......." for "Yes, I want to continue"
This actually affects the user experience.

is there any way to turn off that trim?

help needed.

[2016-11-25 16:24] Deilan opened #1736 "Implement PromptDialog.Time in .NET SDK."
It is already implemented in Node.js SDK, [as per documentation](https://docs.botframework.com/en-us/node/builder/chat/prompts/#promptstime). Would like to see that happen in .NET SDK also.

[2016-11-25 17:24] forensicsguy20012004 commented on #1732
I think I might have this...the code below appears to work but not sure if it is done according to best practices. Sorry the code did not format properly. Could someone take a look and let me know?
Thanks,
Matt

    //Name Input
    function (session) {
        builder.Prompts.text(session, "Hello...I am your friendly Spartan Bot...Can I get your name before proceeding?");
    },
    function (ses

[2016-11-25 19:08] MedaSandeep opened #1737 "TTS - Encountering with an error exception"
Hi,
TTS is not working in webchat and skype. In process of debugging the issue, I have attached a debugger to it, and I see below exception. Kindly look into this.

"   at System.Media.SoundPlayer.LoadSync()\r\n   at System.Media.SoundPlayer.LoadAndPlay(Int32 flags)\r\n
at System.Media.SoundPlayer.PlaySync()\r\n   at VoiceOnCloud.Program.PlayAudio(Object sender, GenericEventArgs`1 args) in c:\\use

[2016-11-25 19:50] ftachon commented on #1594
Hi all,

I try to used button to postBack data;

In Emulator and Skype work fine, but in Facebook when click the button appear the the message button and the  "waiting dots (...)"

Here part of the message

	"attachments": [{
		"contentType": "application/vnd.microsoft.card.hero",
		"content": {
			"images": [],
			"buttons": [{
				"type": "postBack",
				"title": "Option1",
				"value": "1"
			}

[2016-11-25 20:01] GhostAtom commented on #1595
Hi @eanders-MS I tried another time but still have 400 error code.
When I log the activity messages, I get something like below. But I cannot retrieve the location object.

"messageType": "message",
    "serviceUrl": "https://telegram.botframework.com/",
    "@timestamp": "2016-11-25T12:05:34.5818702+00:00",
    "channelId": "telegram",
    "from": {
      "id": "10700706",
      "name": "Ghostato

[2016-11-25 20:18] palmerabollo commented on #1720
@cesarvarela It's a very good idea but I don't think MS will put much effort into it, since Watson (IBM) and LUIS (MS) are kind of competitors in the NLP arena. Let's see what they say.

Another recognizers such as WitRecognizer (wit.ai) of ApiAiRecognizer (api.ai) would be interesting as well. I think that it is something we (the community and third parties) could start as a separate project/repo

[2016-11-25 21:32] dandriscoll commented on #1737
I'm not sure I see anything related to the Bot Framework in here. You may want to try the Cognitive Services documentation/resources: https://www.microsoft.com/cognitive-services/en-us/documentation and https://stackoverflow.com/questions/tagged/microsoft-cognitive

[2016-11-25 21:33] dandriscoll commented on #1722
Hi @sriharshakappala, that's correct, the new web chat control no longer displays a hardcoded welcome message. Instead, you bot can send a message when it receives the ConversationUpdate activity.

[2016-11-25 21:34] dandriscoll commented on #1727
The issue is unfortunately further and further outside my area of expertise -- this is a good place to get help with Bot Framework problems, but the failures seem to be related to Azure and TTS and I'm not sure how much help I can be with those.

[2016-11-25 23:45] piffarettig opened #1738 "Skype Calling Bot always return '500 Internal Server Error'"
Hello, I am having the same issue posted [here](https://github.com/Microsoft/BotBuilder/issues/940), using  [this template](https://docs.botframework.com/en-us/csharp/builder/sdkreference/calling.html).

My current setup is as follows (I am currently using ngrok to expose my locally running Bot trough the Internet):

1) I have the CallbackUrl specified on the web.config:

`<add key="Microsoft.Bot.

[2016-11-26 00:03] torhhu opened #1739 "Connection error when bot is published to Bot Framework"
Hi,

I've had a first version of a potential demo bot up and running for a long time, and now I've updated the bot with extended functionality. However, even though the new version of the bot is running flawlessly in Visual Studio debug, I receive a connection error when it is published. I can't really make sense of the error message, and don't really see what changes I've made that should cause t

[2016-11-26 00:24] KrishnanA commented on #940
Can you try running it on Azure instead of ngrok? Does that resolve the issue?

Have you tried posting to the webhook that you have configured on Bot Framework to see if your web service gets invoked?

Thanks
Krishnan

[2016-11-26 01:04] chrimc62 commented on #1720
We would love contributions to leverage other frameworks.  Our primary goal is to support developers in writing great bots--whatever the technology.  Understandably our development efforts are spent on improving the platform and supporting Microsoft's solutions.  We believe Microsoft's solutions are great and will continue to improve, but it is ultimately up to developers to pick the best technolo

[2016-11-26 01:27] chrimc62 commented on #1736
Thanks for the suggestion, I have added this to our backlog.

[2016-11-26 01:28] chrimc62 commented on #1735
How long is your message?  Many channels have a maximum length they allow.

[2016-11-26 01:32] chrimc62 commented on #1734
Is this from the Bot Builder node SDK?

[2016-11-26 01:33] chrimc62 commented on #1733
What SDK and channel are you using?

[2016-11-26 02:19] willportnoy commented on #1739
Here is some more information about 412/409:

https://docs.botframework.com/en-us/technical-faq/#what-causes-precondition-failed-412-or-conflict-409-http-errors
https://docs.botframework.com/en-us/technical-faq/#how-can-i-fix-precondition-failed-412-or-conflict-409-http-errors

and here is some more background:

https://docs.botframework.com/en-us/technical-faq/#where-is-conversation-state-stored

[2016-11-26 02:19] willportnoy commented on #1725
Here is some more information about 412/409:

https://docs.botframework.com/en-us/technical-faq/#what-causes-precondition-failed-412-or-conflict-409-http-errors
https://docs.botframework.com/en-us/technical-faq/#how-can-i-fix-precondition-failed-412-or-conflict-409-http-errors

and here is some more background:

https://docs.botframework.com/en-us/technical-faq/#where-is-conversation-state-stored

[2016-11-26 02:20] willportnoy commented on #1728
https://github.com/MicrosoftDX/AuthBot might be a better place to start.

[2016-11-26 02:35] sriharshakappala commented on #1722
Okay! Got it. Thanks a lot @dandriscoll

[2016-11-26 02:35] #1722 closed

[2016-11-26 02:49] willportnoy commented on #1679
We're considering using the DI framework used by ASP.NET Core for the next version, if you have feedback.

Can you tell me more about the Signal "resolver" mechanism?  We use construction injection over service locator, so the majority of our code does not actually depend on Autofac.

[2016-11-26 02:56] kamranayub commented on #1679
Here's a good entry about it:
https://github.com/SignalR/SignalR/wiki/Extensibility

They use the built in dependency resolver framework, and you can simply
implement a couple methods to hook whatever you need in.

For now I'm just using the serialization attributes since I don't want to
deal with it.

On Fri, Nov 25, 2016, 20:49 Will Portnoy <notifications@github.com> wrote:

[2016-11-26 04:29] Stevenic commented on #1610
To wait for a response from the user you should use a prompt.  You can simply use `Prompts.text()` instead of `session.send()`.  You can send the exact same message using Prompts.text().

[2016-11-26 04:36] Stevenic commented on #1712
Sorry for the delay. Can you show your code for 'why'?  From the error I'm assuming you're passing just a raw string into `endDialogWithResult()`. You should do `session.endDialogWithResult({ response: 'answer' });` instead.

[2016-11-26 04:41] Stevenic commented on #1142
Thanks @maxpert ... Yes. If you can access the raw request & response object you can just pass it through, otherwise you have to mock them up. In the case of services like AWS Lambda or Azure Functions you can't actually access the raw request & response so you're left mocking them up. Fortunately, we only need like 5 things of the req & response so the mockup is pretty easy to do.  In this case s

[2016-11-26 04:53] Stevenic commented on #1732
I'd structure things more like this but you're on the right path:

[code]

[2016-11-26 05:20] Stevenic commented on #1721
@palmerabollo that won't delete `userData`... @suvamsh  can I ask what are you saving in `userData` that you want to delete?  Just wondering if what your storring should really be persisted using userData...

If you want to delete `userData` for all of your users you'll need to create a piece of middleware similar to `dialogVersion()` that lets you version userData.

[2016-11-26 05:24] Stevenic commented on #1718
You can store the token in `session.userData` which will make it available to all of your dialogs.

[2016-11-26 05:34] Stevenic commented on #1713
Good catch. I added it to the definition file and will be in the next update.

[2016-11-26 05:48] Stevenic commented on #1694
So the issue is that model isn't great at detecting things like the name of your alarm and since its using the built-in Cortana model you can't actually re-train it which is what you would normally do to fix this type of problem.  I noticed the same issue when I coded the sample and you can't really do anything about it but it is just meant to be a sample.

Hope that made sense...

[2016-11-26 05:52] Stevenic commented on #1686
Did you get this to work? You DO need the outer "facebook": part

[2016-11-26 07:52] subhans3tech commented on #1694
thanks for your help from your reply i understand that we could only make
resolve check on builtin entities  Is I am right?

On Sat, Nov 26, 2016 at 10:48 AM, Steven Ickman <notifications@github.com>
wrote:

[2016-11-26 07:55] sohail opened #1740 "compiler error TS2399: duplicate identifier "_this" at line 442 of bots/UniversalBot.ts"
Hi.
complete error message was...
bots/UniversalBot.ts(442,13): error TS2399: Duplicate identifier '_this'.  Compiler uses variable declaration '_this' to capture 'this' reference.

I'm new to tsc. While trying to resolve the issue I came across following link...
http://stackoverflow.com/questions/12710303/should-creating-a-variable-named-this-conflict-with-this

[2016-11-26 08:34] somprabhsharma commented on #1395
We have abandoned using MBF for its slow response.

[2016-11-26 08:38] dimoibiehg commented on #1568
The problem is not solved as you can see in [this issue](https://github.com/Microsoft/BotBuilder/issues/1716). You can follow the current issue, in [the issue](https://github.com/Microsoft/BotBuilder/issues/1716).

[2016-11-26 10:22] Deilan opened #1741 "Complement usages of await operator with invokations of ConfigureAwait(false)"
According to MSDN Article [Async/Await - Best Practices in Asynchronous Programming](https://msdn.microsoft.com/en-us/magazine/jj991977.aspx), all usages of `await` should be complemented with usage of `ConfigureAwait(false)` - everywhere where it's applicable.

[2016-11-26 11:33] suryavtkt commented on #69
how can I create interactive chart/graph in node.js and send via node.js connector SDK

[2016-11-26 16:45] agnellodcosta commented on #1686
Hi Steve
I just got it to with this weekend
Yes the outer part is needed

Thanks

On Sat, Nov 26, 2016 at 12:52 AM Steven Ickman <notifications@github.com>
wrote:

[2016-11-26 17:55] willportnoy commented on #1741
Because we call into the user's methods within an IDialog-derived class, we did not want to non-deterministically lose any SynchronizationContext the user was expecting.

Because we don't synchronously wait on any tasks, we should not deadlock.

One remaining risk is excess latency for scheduling task continuations, subject to any throttling inherent in the ambient SynchronizationContext.

Of cour

[2016-11-26 17:57] willportnoy commented on #1740
What version of the TypeScript compiler are you using?

[2016-11-26 18:00] willportnoy commented on #1643
The fiber/frame/wait code is just to allow for stacks of dialogs, interruptible by waiting for the user's next message.

You might consider looking at the implementation of LUIS action fulfillment @msft-shahins has recently added to the LuisDialog:

https://github.com/Microsoft/BotBuilder/blob/develop/CSharp/Library/Dialogs/LuisDialog.cs

[2016-11-26 18:01] willportnoy commented on #1696
https://docs.botframework.com/en-us/technical-faq/#where-is-conversation-state-stored has some extra information.

We serialize the dialog state so that it can be resumed across waiting for a user's messages.  But it does still require that the web services runs.

Your bot code only executes within your web service.

[2016-11-26 18:03] willportnoy commented on #777
@Rclemens one method you might choose is to implement the ILuisService interface against the wit.ai service, and then you can reuse the LuisDialog directly.

Note, I have not tried this myself, but it's seems like the most direct path from within the code, at the very least.

[2016-11-26 18:05] spreddy2714 opened #1742 "Skype Carousel actions are disabled"
I am using Carousel layout with one/several hero cards as attachments to the message.
each card have button of dialogAction.
It is working fine in Emulator, and facebook messenger too able to perform click action on those buttons.

How ever in skype they are disabled. I wonder why is this happening?

![image](https://cloud.githubusercontent.com/assets/6649902/20642276/0f783c28-b431-11e6-89ee-8f283

[2016-11-26 18:07] palmerabollo commented on #1720
Thanks, that's good to know !

[2016-11-26 18:18] nickcordrey commented on #1742
Make sure that the URLs are HTTPS.

From: spreddy2714 [mailto:notifications@github.com]
Sent: Saturday, November 26, 2016 10:06 AM
To: Microsoft/BotBuilder <BotBuilder@noreply.github.com>
Subject: [Microsoft/BotBuilder] Skype Carousel actions are diabled (#1742)

I am using Carousel layout with one/several hero cards as attachments to the message.
each card have button of dialogAction.
It is worki

[2016-11-26 19:16] spreddy2714 commented on #1742
I don't understand what you are saying, bot service api is already https. What else you are mentioning as https here?

[2016-11-26 19:18] nickcordrey commented on #1742
Please ensure that the URLs to any images referenced in your button actions are HTTPS.
________________________________
From: spreddy2714 <notifications@github.com>
Sent: Nov 26, 2016 11:16 AM
To: Microsoft/BotBuilder
Cc: Nick Cordrey; Comment
Subject: Re: [Microsoft/BotBuilder] Skype Carousel actions are diabled (#1742)

I don't understand what you are saying, bot service api is already https. Wh

[2016-11-26 19:20] spreddy2714 opened #1743 "Skype Carousel Compatibility"
Does skype supports carousel layout?
I have played with several skype apps. The response is never intended one
1.Skype for desktop : Ek, currently I can't support this message
2.Skype Preview : Rendering is problem with actions buttons are disabled
3.Skype Web : Ek, currently I can't support this message
4.Skype Android : Ek, currently I can't support this message

I don't understand how to get th

[2016-11-26 19:22] spreddy2714 commented on #1742
The action is dialog action
Here is the code
builder.CardAction.dialogAction(session, 'ShowQuestion', question.id, 'Open')

It doesn't have any url references.

[2016-11-26 20:17] forensicsguy20012004 commented on #1732
Excellent, thank you for the help. Much appreciated. I am going to close this issue.

[2016-11-26 20:17] #1732 closed

[2016-11-26 20:39] torhhu commented on #1739
Thank you. I was (unnecessarily) trying to save the state several times. Fixed that and my bot is now working as expected.

[2016-11-26 20:39] #1739 closed

[2016-11-26 20:55] sohail commented on #1740
version 2.2.0

[2016-11-26 21:13] cesarvarela commented on #1720
Good to know, indeed.

Me and my team might want to develop one for Watson, I'll let you know if this is the case.

[2016-11-26 21:13] #1720 closed

[2016-11-26 23:15] chrimc62 commented on #781
Closing because of age.  Please open a new issue if you are still seeing the same problem with the latest SDK and service release.

[2016-11-26 23:15] #781 closed

[2016-11-26 23:15] chrimc62 commented on #812
Closing because of age.  If you are still having an issue please raise the issue again.

[2016-11-26 23:15] #812 closed

[2016-11-26 23:16] chrimc62 commented on #831
Closing because of age.  If you are still having an issue please raise the issue again.

[2016-11-26 23:16] #831 closed

[2016-11-26 23:17] chrimc62 commented on #864
Closing because of age.  If you are still having an issue please raise the issue again.

[2016-11-26 23:17] #864 closed

[2016-11-26 23:18] chrimc62 commented on #865
@tomlm can you comment or close?

[2016-11-26 23:18] chrimc62 commented on #884
Please look at the linked samples and if they don't work for you, create a new issue.

[2016-11-26 23:18] #884 closed

[2016-11-26 23:20] chrimc62 commented on #898
@Stevenic or @maxpert can you please see if this is fixed in the latest documentation?

[2016-11-26 23:20] chrimc62 commented on #923
@Stevenic or @maxpert was this fixed in 3.5?  If so, can you comment and close?

[2016-11-26 23:21] chrimc62 commented on #930
Closing due to age.

[2016-11-26 23:22] chrimc62 commented on #932
Closing due to age.  If you still have the problem, please reopen.

[2016-11-26 23:22] #932 closed

[2016-11-26 23:22] cleemullins opened #1744 "npm install of BotBuilder uses depricated uuid module"
Running through the tutorials found here:
https://docs.botframework.com/en-us/node/builder/overview/

The first real step is "Install the Bot Builder":
npm install --save botbuilder

This immediately gives a warning:
npm WARN deprecated node-uuid@1.4.7: use uuid module instead

Everything else went smoothly during the install process.

[2016-11-26 23:23] chrimc62 commented on #949
@tomlm or @LarsLiden can you comment or close?

[2016-11-26 23:24] chrimc62 commented on #951
Closing due to age.  If you still have the issue please reopen.

[2016-11-26 23:24] #951 closed

[2016-11-26 23:25] chrimc62 commented on #964
@Stevenic  or @maxpert can you look at this and comment or close?

[2016-11-26 23:26] chrimc62 commented on #984
Please try the new emulator.  We have made a number of enhancements and improved how it works on non-windows platforms.  If you still have an issue please reopen.

[2016-11-26 23:26] #984 closed

[2016-11-26 23:27] chrimc62 commented on #1047
@msft-shahins can you comment or close as appropriate?

[2016-11-26 23:28] chrimc62 commented on #1058
@Stevenic or @maxpert can you please comment?

[2016-11-26 23:29] chrimc62 commented on #1060
If Facebook does support this and something is missing in the Bot Framework platform, please reopen.

[2016-11-26 23:29] #1060 closed

[2016-11-26 23:30] chrimc62 commented on #1067
@willportnoy can you please investigate or close as appropriate?

[2016-11-26 23:31] chrimc62 commented on #1103
@danmarshall can you please comment further or close?

[2016-11-26 23:35] chrimc62 commented on #1113
Adding other SDK people to make sure this is considered.  I also filed a new feature request in our backlog to make sure we consider it in planning.

[2016-11-26 23:35] #1113 closed

[2016-11-26 23:36] chrimc62 commented on #1133
@Stevenic or @maxpert is this still an issue?

[2016-11-26 23:37] #1142 closed

[2016-11-26 23:39] chrimc62 commented on #1171
@Stevenic or @maxpert was this resolved?

[2016-11-26 23:40] chrimc62 commented on #1189
@msft-shahins can you please comment or file a TFS item and close?

[2016-11-26 23:41] chrimc62 commented on #1191
Closing due to age.  If you still have the problem, please let us know and we will reopen.

[2016-11-26 23:41] #1191 closed

[2016-11-26 23:42] #1198 closed

[2016-11-26 23:43] chrimc62 commented on #1207
@tomlm @Stevenic @maxpert was this resolved? Can you comment on the status?

[2016-11-26 23:44] chrimc62 commented on #1217
@Stevenic @maxpert was this done in 3.5?

[2016-11-26 23:45] chrimc62 commented on #1352
Did @Stevenic solve your problem?

[2016-11-26 23:46] chrimc62 commented on #1356
@tomlm can you comment or close as appropriate?

[2016-11-26 23:47] chrimc62 commented on #1358
We have released a new much improved emulator.  Please try it out and if you have a problem open a new issue.

[2016-11-26 23:47] #1358 closed

[2016-11-26 23:48] chrimc62 commented on #1364
@msft-shahins or @willportnoy can you comment on this with respect to the new stack manipulation stuff?

[2016-11-26 23:49] chrimc62 commented on #1366
@dandriscoll or @matvelloso can you comment or close as appropriate?

[2016-11-26 23:50] chrimc62 commented on #1370
@dandriscoll can you comment or close as appropriate?

[2016-11-26 23:51] chrimc62 commented on #1376
Closed due to age.  If it is still an issue, please reopen.

[2016-11-26 23:51] #1376 closed

[2016-11-26 23:51] chrimc62 commented on #1387
@matvelloso can you comment on this?

[2016-11-26 23:53] chrimc62 commented on #1389
@eanders-MS can you comment or close as appropriate?

[2016-11-26 23:56] chrimc62 commented on #1395
Sorry this did not work for you.  @tomlm is this something that should be better with the new geo locations?

[2016-11-26 23:57] chrimc62 commented on #1401
@Stevenic or @maxpert can you comment or close appropriately?

[2016-11-26 23:58] chrimc62 commented on #1404
@Stevenic or @maxpert can you comment or close as appropriate?

[2016-11-27 00:01] chrimc62 commented on #1415
Closing due to age and the question being answered.

[2016-11-27 00:01] #1415 closed

[2016-11-27 00:02] chrimc62 commented on #1416
@Stevenic or @maxpert please comment or close as appropriate.

[2016-11-27 00:03] chrimc62 commented on #1419
@Stevenic or @maxpert can you comment?

[2016-11-27 00:04] chrimc62 commented on #1430
@danmarshall is this something we can fix or we need to live with?

[2016-11-27 00:06] chrimc62 commented on #1431
Yes it depends on your channel.  We are working on documenting all the channel information in one place and should be releasing it soon.

[2016-11-27 00:06] #1431 closed

[2016-11-27 00:07] chrimc62 commented on #1435
@danmarshall is this something we can fix or have to live with?

[2016-11-27 00:09] chrimc62 commented on #1439
Closing due to age.  We just released a much improved emulator and the markdown should work.  If not, please let us know.

[2016-11-27 00:09] chrimc62 commented on #1450
@danmarshall is there anything else you need to diagnose the issue?

[2016-11-27 00:10] chrimc62 commented on #1452
@msft-shahins has this been entered as a feature in TFS?

[2016-11-27 00:12] chrimc62 commented on #1461
@CarolHanna can you comment or close as appropriate?  thanks!

[2016-11-27 00:14] chrimc62 commented on #1462
We have released a new emulator and web chat to open source.  Please try them out and if you have an issue, propose a fix or let us know.

[2016-11-27 00:14] #1462 closed

[2016-11-27 00:15] chrimc62 commented on #1498
@willportnoy can you comment or close appropriately?

[2016-11-27 00:16] chrimc62 commented on #1505
@tomlm do you need more information to track this down?

[2016-11-27 00:17] chrimc62 commented on #1508
Question answered and closed due to lack of activity.  If you have an issue please reopen.

[2016-11-27 00:17] #1508 closed

[2016-11-27 00:18] chrimc62 commented on #1516
@tomlm or @Andrea-Orimoto is there anything we can do to help?

[2016-11-27 00:20] chrimc62 commented on #1520
@Stevenic or @maxpert can you answer the node question?

[2016-11-27 00:25] chrimc62 commented on #1523
@willportnoy or @msft-shahins can you comment on 1-3?

[2016-11-27 00:26] chrimc62 commented on #1530
@Stevenic or @maxpert did 3.5 fix this?

[2016-11-27 00:28] chrimc62 commented on #1541
Closing due to age, change of topic and lack of activity.  Please reopen if you still have a bot framework issue.

[2016-11-27 00:28] #1541 closed

[2016-11-27 00:29] chrimc62 commented on #1544
Closing due to lack of response.  If you still have an issue please let us know.

[2016-11-27 00:29] #1544 closed

[2016-11-27 00:29] chrimc62 commented on #1549
@dandriscoll can you please comment or close as appropriate?

[2016-11-27 00:31] chrimc62 commented on #1550
@willportnoy can you comment or close as appropriate?

[2016-11-27 00:31] #1554 closed

[2016-11-27 00:34] chrimc62 commented on #1562
@Stevenic or @maxpert can you comment?

[2016-11-27 00:35] chrimc62 commented on #1565
@Stevenic or @maxpert can you help?

[2016-11-27 00:35] chrimc62 commented on #1566
@LarsLiden can you comment?

[2016-11-27 00:51] dandriscoll commented on #1366
Hi @ashay-88, we've released a new OSS web chat control you can clone and host in your own webpage. You can pass in a user ID and other data, all of which is sent directly to your bot. More details at https://github.com/Microsoft/BotFramework-WebChat

[2016-11-27 01:22] willportnoy commented on #1550
@chrimc62 kevinport's issue is that "i rewrite the code for a FormFlow only the first field is asked".

Kevin, it seems likely your issue is caused by using a static TravelOrder as your initial state, and it's already been filled in by some previous call to the FormFlow dialog.

[2016-11-27 01:25] willportnoy commented on #1523
Regarding number 3, I don't think FormFlow's ValidateResult allows complete flexibility in the feedback message.  It's possible that markdown might work.

[2016-11-27 01:26] willportnoy commented on #1364
@fercom I would use a root dialog to dispatch between the MemebotDialog and LocalDialog dialogs instead of trying to do it outside the Conversation.SendAsync.

[2016-11-27 01:28] willportnoy commented on #1067
@chrimc62 it's been labeled as a possible bug in the Facebook channel already and added to our internal backlog for investigation.

[2016-11-27 01:31] willportnoy commented on #1498
@chrimc62 I think the resolution is that services may need to marked as [Serializable] to use FiberModule.Key_DoNotSerialize.  Otherwise, the available options are listed here: https://docs.botframework.com/en-us/technical-faq/#how-can-i-reference-non-serializable-services-from-my-c-dialogs

[2016-11-27 02:42] ToshiAtKuroneko commented on #1430
I'm checking the "Web chat preview" box on the Web Chat configuration page.
But it does not work on Safari.

[2016-11-27 04:32] Stevenic commented on #923
Yes it was

[2016-11-27 04:32] #923 closed

[2016-11-27 04:34] alokraj68 commented on #1541
Can someone provide a working code on how to use azure cron job or any other service for the same in c#

[2016-11-27 07:41] duthientandeveloper commented on #1734
yes.When i use botbuilder with node version 0.10.36

[2016-11-27 09:28] sohail commented on #1740
Prefixing **_this** with an extra underscore resolved my issue. Code got compiled and used in a bot.
[code]

[2016-11-27 09:53] kbrimble commented on #1498
@willportnoy the issue that I originally raised was that marking a dialog that has non-serializable constructor parameters as serializable throws exceptions on serialisation when using FiberModule.Key_DoNotSerialize. Your solution doesn't solve that problem. I still believe that this is a bug. I can provide more examples if necessary.

[2016-11-27 11:06] lyzs90 commented on #1621
Hi, i am also getting this error when sending a carousel to facebook:
[code]
As described by @seb0zz, the issue clears up after a while.

[2016-11-27 13:05] willportnoy commented on #1498
I'm happy to reopen for further discussion.  The "do not serialize" key just means "recover the object instance, keyed by object type, from the container on deserialization".  As far as I know, it still has to be marked with the serializable attribute.  I'd be happy to fix, if it's fixable.

Longer term, we might change the serialization framework as we move to .net core.

[2016-11-27 13:08] kbrimble commented on #1498
My guess is that it's still trying to serialize the instance rather than ignore it and then recover it later.

I've had a brief look at the code and on serialization it does check if it has the Key_DoNotSerialize but it looks like it's not being respected for whatever reason.

[2016-11-27 13:16] puneetsngh opened #1745 "Animation card crashing ios app and card not supported in windows 10 skype preview app"
I implemented the animation card but it is crashing the apps. Please add support for new bot cards in your apps.

[2016-11-27 14:10] puneetsngh opened #1746 "Video card is also unsupported"
I am using youtube urls for video card

and the results are these below which show me unsupported thumbnail. If youtube is not supported then what kind of videos does these card support? Do I have to add the direct url of a video file for these cards?

![image](https://cloud.githubusercontent.com/assets/16202640/20648910/2b253e0a-b4d9-11e6-8a96-eb2dd4660057.png)

[2016-11-27 14:42] kevinport commented on #1550
Yes it is already filled, therefore i used the FormOptions.PromptFieldsWithValues option. (The bug i submitted some weeks ago)

I will test it with an non static field..

[2016-11-27 14:54] kevinport commented on #1550
Even with an non static field it doesnt work..

[2016-11-27 15:09] kevinport commented on #1550
![github error](https://cloud.githubusercontent.com/assets/20930799/20649259/73483ae8-b4bb-11e6-8a56-26a2243d86ae.PNG)

As you can see, after the first question the new Dialog exits and the surrounding want to catch my answer...

[2016-11-27 15:36] sitver opened #1747 "Using Google Analytics"
Hey. I see there's a file in the Node SDK for [using Google Analytics](https://github.com/Microsoft/BotBuilder/blob/master/Node/core/docs/botframework/partials/analytics.hbs). Is there a tutorial for setting this up? What does this track?

Best,

Michael

[2016-11-27 15:56] billba commented on #1366
Let me add a little more detail about this scenario. @dandriscoll is right that our new WebChat control opens the door to this functionality.

The situation as I understand it is that your web page has an embedded WebChat control which is communicating with your bot. The page already has an authentication token and you want to send it to the bot. This is a much-requested scenario, and we are worki

[2016-11-27 17:19] knpoklonski opened #1748 "Skype promp confirm dosen't work for group chat"
Hi, I try to use simple confirmation for skype, it works for 1 to 1 chat with bot, but when I use it in group chat I got a attemptsMicrosoft.Bot.Builder.Dialogs.TooManyAttemptsException: too many attempts exception, when I try use same approach to group chat, bot ask me confirmation question again and again

..
[code]
...
[code]

[2016-11-27 18:55] fercom commented on #1364
@willportnoy I already tried this, but everytime it enters a dialog, even from the message controller, it doesn't allows to enter a diferent dialog, it keeps stuck in the first dialog it enters

[2016-11-27 19:38] willportnoy commented on #1364
Yes, because you can only choose one root dialog, and that single root dialog will get restarted when it finishes automatically.  Since the dialog is stateful, you cannot just switch root dialogs on every incoming message.

[2016-11-27 20:22] fercom commented on #1364
@willportnoy Okay, so, how do I dispatch one dialog from another one?

[2016-11-27 20:32] matvelloso commented on #1387
Update: This is a preliminary version of authbot for Node. This one relies on passport so Node devs should find things familiar: https://github.com/CatalystCode/node-authbot/

[2016-11-27 20:54] willportnoy commented on #1364
Use IDialogStack.Call off the context argument passed to the dialog methods.

[2016-11-27 20:56] piffarettig commented on #1738
@willportnoy Do you have any ideas of why could this be happening?

[2016-11-27 21:09] willportnoy commented on #1738
I don't know a lot about the calling bots.  From the exception, can you set a handler for the workflowValidationOutcome event?

[2016-11-27 23:24] jw84 commented on #331
@Stevenic Hi Steven! Trying to get a location attachment from Facebook Messenger users and following through the demo-facebook example I'm not seeing the /locationPrompt snippet. Is the code living in a dev branch somewhere?

[2016-11-27 23:45] chrimc62 commented on #1569
Closing due to lack of response.  If you are still having the issue please let us know.

[2016-11-27 23:45] #1569 closed

[2016-11-27 23:47] chrimc62 commented on #1576
Closing due to lack of response.  If you are still having the issue, please reopen and we will look into it more.

[2016-11-27 23:47] #1576 closed

[2016-11-27 23:48] KrishnanA commented on #1738
@piffarettig -Could you give me your bot id please? Not the bot handle but the bot id.

Thanks
Krishnan

[2016-11-27 23:49] chrimc62 commented on #1577
@Stevenic or @maxpert have you entered this a TFS issue?

[2016-11-27 23:50] chrimc62 commented on #1580
@tomlm  or @dandriscoll is this in TFS and do you want to keep this item open?

[2016-11-27 23:51] chrimc62 commented on #1587
We have released a new emulator, please try that and let us know if you still have an issue.

[2016-11-27 23:51] #1587 closed

[2016-11-27 23:53] chrimc62 commented on #1589
@msft-shahins could you please help?

[2016-11-27 23:54] chrimc62 commented on #1590
@mmulesa are you still having this issue?

[2016-11-27 23:56] chrimc62 commented on #1591
@piffarettig were you able to solve this?  You can store any data you want in the per user conversation state which you can then read.  You can also create a dialog which keeps that information as a string and that will automatically be serialized and deserialized with messages.

[2016-11-27 23:57] chrimc62 commented on #1594
@Stevenic or @maxpert have you had a chance to look at this?

[2016-11-27 23:59] chrimc62 commented on #1595
@eanders-MS any other ideas?

[2016-11-28 00:00] chrimc62 commented on #1596
There are no such editors yet.

[2016-11-28 00:00] #1596 closed

[2016-11-28 00:02] piffarettig commented on #1738
Do you mean my MicrosoftAppId? That's `35efff76-f209-490b-8baa-9b562867a45c`.

Where could I get the BotId? I ve seen it in some bots examples (inside web.config files), but never really used it.

[2016-11-28 00:03] chrimc62 commented on #1600
Sounds like the issue was resolved.  If not, please let us know.

[2016-11-28 00:03] chrimc62 commented on #1603
Closing due to age and answer.

[2016-11-28 00:03] #1603 closed

[2016-11-28 00:04] chrimc62 commented on #1604
@dandriscoll or @LarsLiden is this known?

[2016-11-28 00:05] chrimc62 commented on #1612
I believe this is a known issue, @tomlm ?

[2016-11-28 00:29] chrimc62 commented on #1616
Question was answered and is entered in TFS, so closing for age.

[2016-11-28 00:30] chrimc62 commented on #1617
@sravaniVajjha are you still having the issue?

[2016-11-28 00:33] chrimc62 commented on #1618
Closing due to lack of response.  If you still have an issue, please let us know.

[2016-11-28 00:33] #1618 closed

[2016-11-28 00:34] chrimc62 commented on #1619
We have released a new version of the emulator, please let us know if you still have the issue.

[2016-11-28 00:34] #1619 closed

[2016-11-28 00:35] chrimc62 commented on #1620
@stevenic or @maxpert is this fixed?

[2016-11-28 00:37] chrimc62 commented on #1621
@Stevenic or @maxpert can you comment?

[2016-11-28 00:39] chrimc62 commented on #1623
Closing due to lack of response.  If you still have the issue, please let us know.

[2016-11-28 00:39] #1623 closed

[2016-11-28 00:40] KrishnanA commented on #1738
Thanks Gabriel.

So I tried the same template and it worked fine for me. Not sure what the difference in setup is. Here is my setup.

1. Downloaded template
2. Configured the project to run on 12345 of localhost
3. Configured ngrok - I had to use the ngrok.exe http 12345 -host-header="localhost:12345" to get it to work
4. Changed web.config to have the https URL (https://5b728b73.ngrok.io/api/call

[2016-11-28 00:40] chrimc62 commented on #1625
Adding @Stevenic and @maxpert to comment.

[2016-11-28 00:41] #1628 closed

[2016-11-28 00:42] chrimc62 commented on #1629
@willportnoy is there anything else we can do here?

[2016-11-28 00:43] chrimc62 commented on #1630
@nickcordrey was there ever a resolution?

[2016-11-28 00:44] chrimc62 commented on #1631
@tomlm @konstlut any progress on this?

[2016-11-28 00:45] chrimc62 commented on #1632
Closing since answered and no activity.  If you have a further issue, please let us know.

[2016-11-28 00:45] #1632 closed

[2016-11-28 00:47] chrimc62 commented on #1633
@Stevenic or @maxpert was this released?

[2016-11-28 00:49] KrishnanA commented on #940
Could you also ensure that the call back URL in web.config is the appropriate https URL?

Thanks
Krishnan

[2016-11-28 00:50] chrimc62 commented on #1636
We did have a uservoice, but we retired it--there were too many support channels for us to keep on top of it.

[2016-11-28 00:52] chrimc62 commented on #1637
@nickcordrey is there anything else we need to do here?

[2016-11-28 00:52] #1639 closed

[2016-11-28 00:53] chrimc62 commented on #1641
@dandriscoll anything else we can do here?

[2016-11-28 00:54] piffarettig commented on #1738
I suppose you also changed the web hook on Skype Channel config, right?

Thanks!

[2016-11-28 00:55] chrimc62 commented on #1644
@Stevenic @maxpert is this resolved in 3.5?

[2016-11-28 00:58] chrimc62 commented on #1647
Let us know if this does not work for you.

[2016-11-28 00:58] #1647 closed

[2016-11-28 00:59] chrimc62 commented on #1655
Thank you for the suggestion.  This is something we have started to do and will be continuing to do moving forward.

[2016-11-28 00:59] #1655 closed

[2016-11-28 01:00] #1684 closed

[2016-11-28 01:00] chrimc62 commented on #1686
It sounds like your problem is solved, so I am closing this issue.

[2016-11-28 01:00] #1686 closed

[2016-11-28 01:01] chrimc62 commented on #1687
@agnellodcosta if this does not address your issue, please let us know.

[2016-11-28 01:01] #1687 closed

[2016-11-28 01:01] #1691 closed

[2016-11-28 01:02] chrimc62 commented on #1693
@mingweiw is there anything else you need to know?

[2016-11-28 01:03] chrimc62 commented on #1694
@stevenic or @maxpert could you comment?

[2016-11-28 01:06] chrimc62 commented on #1695
The Bot Builder should work cross-platform.  We have also released an emulator that works cross platform. Please let us know if you still have an issue.  As to integrating into Xamarin.Forms, you will need to do that yourself.

[2016-11-28 01:06] #1695 closed

[2016-11-28 01:06] #1696 closed

[2016-11-28 01:09] chrimc62 commented on #1702
@msft-shahins could you comment?

[2016-11-28 01:10] chrimc62 commented on #1703
Closing issue since it sounds like you were able to do what you wanted to do.  As to making things work cross-channel we are often at the mercy of what the specific channels support.

[2016-11-28 01:11] chrimc62 commented on #1704
This is a good idea and should be coming soon.  @LarsLiden ?

[2016-11-28 01:11] chrimc62 commented on #1706
If this does not work for you, please let us know.

[2016-11-28 01:11] #1706 closed

[2016-11-28 01:14] chrimc62 commented on #1707
What you are describing with chaining FormFlow dialogs should work.  Can you share how you are moving between them?  In particular are you using FormOptions.PromptInStart?

[2016-11-28 01:14] #1708 closed

[2016-11-28 01:15] chrimc62 commented on #1712
@astrung are you still having the issue?

[2016-11-28 01:16] #1715 closed

[2016-11-28 01:17] chrimc62 commented on #1716
@eanders-MS can you help?

[2016-11-28 01:18] chrimc62 commented on #1717
@pcbarroso did this solve your problem?

[2016-11-28 01:21] chrimc62 commented on #1743
@nickcordrey could you comment?

[2016-11-28 01:26] chrimc62 commented on #1737
Closing since this does not look to be a Bot Framework issue.

[2016-11-28 01:26] #1737 closed

[2016-11-28 01:28] chrimc62 commented on #1675
Hopefully your issue was fixed.  If not, let us know.

[2016-11-28 01:28] #1675 closed

[2016-11-28 01:31] chrimc62 commented on #1670
How would you know the user's skype ID from your webchat?

[2016-11-28 01:35] chrimc62 commented on #1662
Sounds like the issue is fixed, let us know if you still have a problem.

[2016-11-28 01:35] #1662 closed

[2016-11-28 01:35] chrimc62 commented on #1661
@msft-shahins  can you comment?

[2016-11-28 01:36] chrimc62 commented on #1659
Closing due to lack of activity.  If you still have an issue, please let us know.

[2016-11-28 01:36] #1659 closed

[2016-11-28 01:38] chrimc62 commented on #1658
Have you tried some of the samples found here?  https://github.com/Microsoft/BotBuilder-samples

[2016-11-28 01:38] #1658 closed

[2016-11-28 01:40] chrimc62 commented on #1611
@dandriscoll can you assign this to someone on Teams?

[2016-11-28 01:42] chrimc62 commented on #1607
@Stevenic or @maxpert can you help?
@austinhuang0131 are you still having an issue?

[2016-11-28 01:43] chrimc62 commented on #1606
@tomlm could you help?

[2016-11-28 01:44] chrimc62 commented on #1605
@AndrewBryukhov are you still having an issue?

[2016-11-28 01:47] chrimc62 commented on #1489
We have released a new emulator.  If this does not solve your issues, please let us know.

[2016-11-28 01:47] #1489 closed

[2016-11-28 01:48] chrimc62 commented on #1484
Closing due to age.  If you still have an issue, please let us know.

[2016-11-28 01:48] #1484 closed

[2016-11-28 01:50] chrimc62 commented on #1314
If this did not solve your issue, please reopen.

[2016-11-28 01:50] #1314 closed

[2016-11-28 01:51] chrimc62 commented on #1301
@dandriscoll could you comment?

[2016-11-28 01:51] mingweiw commented on #1693
It looks like you are using Edge. Is that right? I couldn't repro. The 404 is ok, shouldn't cause an issue here. Is this still happening for you? If so can you give me your "Bot handle"? After you "save" can you chat with the bot in the conversation?

Thanks.

[2016-11-28 01:51] #1280 closed

[2016-11-28 01:52] chrimc62 commented on #1270
We have released a new emulator so hopefully your issue is fixed.  If not, please let us know.

[2016-11-28 02:02] ajayp commented on #1430
I have also reproduced the same issue with my own bot on my iphone 6 but only with Safari, it works just fine if I use Chrome.

[2016-11-28 02:13] #1703 closed

[2016-11-28 03:41] AaronFriel opened #1749 "Proposal to change protocol for message.timestamp"
I propose that the `timestamp` field for received messages utilize the unknown local offset convention of [RFC 3339](https://tools.ietf.org/html/rfc3339#section-4.3) and that - when the channel permits obtaining the local timezone information - the timestamp reflect the local offset.

What this means in practice is, e.g., for the Bot Framework Emulator, instead of transmitting this `message` in JS

[2016-11-28 03:51] willportnoy commented on #1645
Have you walked through the authentication troubleshooting guide?

https://docs.botframework.com/en-us/support/troubleshooting-bot-framework-authentication/#navtitle

Do you see any trace log messages regarding trusted service uris?  We don't forward the Jwt token unless the service uri is trusted, right, @msft-shahins ?

[2016-11-28 03:51] willportnoy commented on #1728
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2016-11-28 03:51] #1728 closed

[2016-11-28 03:53] willportnoy commented on #1724
Add an extra root dialog that swallows the exception and prevents it from propagating, e.g. `Chain.DefaultIfException`.

[2016-11-28 03:55] willportnoy commented on #1629
These faqs have more information on the bot state service's update conflict model:

https://docs.botframework.com/en-us/technical-faq/#what-causes-precondition-failed-412-or-conflict-409-http-errors
https://docs.botframework.com/en-us/technical-faq/#how-can-i-fix-precondition-failed-412-or-conflict-409-http-errors

[2016-11-28 03:55] #1629 closed

[2016-11-28 03:56] willportnoy commented on #1270
I'm going to close this issue for now, but feel free to open a new issue for further discussion.

[2016-11-28 03:56] #1270 closed

[2016-11-28 03:57] willportnoy commented on #1624
I've added this item to our internal backlog.

[2016-11-28 03:57] #1624 closed

[2016-11-28 04:18] spreddy2714 commented on #1743
This is node.js implementation by the way!
Am I alone facing this? I am really in dire need of this.

[2016-11-28 05:17] mmulesa commented on #1590
@chrimc62 Hi, now there are no errors

[2016-11-28 05:27] KrishnanA commented on #1738
Sorry did not get that. The URL in the Skype channel was based on my ngrok URL (.../api/calling/call).

[2016-11-28 06:06] dandriscoll commented on #1749
Hi @AaronFriel, the latest revision of the Bot Framework protocol includes a new localTimestamp field that contains time specific to the user. We also allow channels to set this timestamp freely, so it can reflect e.g. the timestamp when a user took an action on a client instead of the timestamp when the message was processed on a server.

The addition of RFC3339 is an interesting one. Given that

[2016-11-28 06:12] dhirajgupta1 opened #1750 "On premise Microsoft bot setup"
Hello,

Our client is concerned about data and don't want anything on cloud, is it possible to deploy all components of Microsoft bot on premise?
I understand bot service can be deployed on premise (Correct me if i am wrong) but whats about
1) Bot Connector
2) LUIS (This is something we can still use on cloud by avoiding sensitive data)

Thanks,
Dhiraj

[2016-11-28 06:45] ashay-88 commented on #1366
Thanks @dandriscoll  I am checking that control now.  Thanks @billba for your brief details..,much useful, appreciated.

[2016-11-28 07:24] senthil2m commented on #1618
I have tested even today with the REST3.0 Directline API client. I got the responses with the delay of 7 to 8 seconds.
Please find the details below for further investigation.
Bot App ID : 4fcd0d6f-20f1-43be-9bd7-233db6ad0b1e
ConversationID : Dpcn6aeHJPn

[2016-11-28 08:09] ThisWillDoIt commented on #1693
Yes, I am using Edge (current Windows 10 production build). I still get the same error and the bot isn't available/can't be added to any conversation.

Because of your question I just tried it with Firefox 50.0. The site doesn't change either but I only get warnings about "Using //@ to indicate sourceMappingURL pragmas is deprecated..." and "getPreventDefault() is deprecated()".

Deleting all info

[2016-11-28 08:25] alokraj68 commented on #1735
It gets trimmed at 301 characters at facebook.

[2016-11-28 08:26] alokraj68 commented on #1629
@willportnoy the issue is with skype only. in facebook it works perfect. in Direct chat also there is no issue.

[2016-11-28 08:28] alokraj68 commented on #1541
@chrimc62 Please provides help before closing this.

[2016-11-28 08:29] alokraj68 commented on #1600
The issue is not resolved as no one could figure out what went wrong. seems like an issue with azure. please check it.

[2016-11-28 08:37] grbinho commented on #1498
@kbrimble

I had the same issue (started with code from Alarmbot sample). As far as I was able to tell from the framework code, "do not serialize" only applies to the Autofac container that was registered in a static `Conversation` class. Don't know it this is by design, or a bug.

As @Maarten88 suggested, you can do something like this in your Global.asax

[code]

[2016-11-28 08:52] APXEOLOG opened #1751 "Node.js Skype message send always fails with [500] Internal Server Error"
This is the example code:
[code]
It works perfectly with built-in Web Chat, but when i am trying this with Skype i got error:
[code]

I've added additional logging at `ChatConnector.js:414` and this is the response body :
[code]
Please can you fix this, i got this error for 4 months already
I have no idea why only Skype is not working...

[2016-11-28 09:10] kbrimble commented on #1498
@grbinho we've been creating a new container in addition to the `Conversation.Container`. I'll see if registering our dependencies into the Conversation container makes a difference.

[2016-11-28 11:02] Deilan commented on #1741
Thanks for the answer! Would you kindly also explain when ConfigureAwait(false) should **not** be used in one's bot code? When it may lead into issues? Specifically in context of using Bot Framework.

[2016-11-28 11:56] #1461 closed

[2016-11-28 12:23] JCKodel commented on #1707
Already solved with context.Call().

[2016-11-28 13:15] nareshbonagiri commented on #1641
I am also facing same issue
Microsoft app ID is 64f88598-8f69-4f80-a936-84147a7e71f0

[2016-11-28 13:33] senthil2m opened #1752 "Test Luis Bot in Bot Emulator running behind proxy"
Hi,

I have the bot running without security enabled by making AppId and password as null in the node js sample. My bot invokes luis call and it initiates the conversation based on the matched intent.
I get the below timeout error when I test in Emulator running behind the closed corporate network.
![error](https://cloud.githubusercontent.com/assets/22318545/20669809/185c1d66-b59c-11e6-9c35-21f9d2

[2016-11-28 13:58] willportnoy commented on #1741
If one of your bot methods depended on the static HttpContext.Current, then using ConfigureAwait(false) beforehand might prevent you from getting the HttpContext from that static variable.

But yes, overall (e.g. in non-UI code), using ConfigureAwait is a good practice.

[2016-11-28 14:56] morsh opened #1753 "Unit testing bot framework with node.js"
Hi,
I'm trying to unit test the api of my bot.

In the test environment I don't supply an app id and password but when running the following code with mocha, I get a 401 reply:

[code]

Hope you know how I can fix this :)

[2016-11-28 15:10] Deilan opened #1754 "How to customize error message sent to an end-user when bot's endpoint is unavailable?"
If a user sends message to a bot while it's endpoint is unavailable or failed processing the message, the user receives an error message from Bot Connector, which seems like that:

or

etc.

Is there a way to customize logic of sending error message or to suppress it at all in such a case?

[2016-11-28 15:26] AaronFriel commented on #1749
If a `localTimestamp` is provided if and only if we know for sure the local offset of the user, then no, I don't think it would confer any additional data. I would then assume that `timestamp` is UTC and non-local.

[2016-11-28 16:38] cesarvarela commented on #1238
if anyone is interested, I made a command line tool to ease working with Facebook thread settings:

https://www.npmjs.com/package/fb-thread-settings

[2016-11-28 16:39] cesarvarela commented on #949
I made a tool that helps working with this stuff, and also has an example on how to use it with the bot framework:
https://www.npmjs.com/package/fb-thread-settings

might help you guys.

[2016-11-28 17:54] Koshak118 commented on #949
Hey guys,

The Activity object which the POST callback receives after "Get Started" tap has a lot of (most of) its fields uninitialized, so our logger threw an uncaught exception when tried to access some of them at the very beginning of the function, and it looked like there were no reaction to the tap.

The issue can be closed.

[2016-11-28 17:54] maxpert commented on #1747
It's the analytics code for documentation not for **SDK**. If you want to use analytics for your bot you can integrate something npm like [universal-analytics](https://www.npmjs.com/package/universal-analytics).

[2016-11-28 17:54] #1747 closed

[2016-11-28 17:59] nickcordrey commented on #1746
Skype does not yet fully support Bot Framework video cards although this is coming soon. The URL should be to the source of the video.

[2016-11-28 17:59] #1746 closed

[2016-11-28 18:01] maxpert commented on #1740
@sohail  seems like the latest stable version is 2.0.10, any particular reason you are using 2.2.0? Here is the list of 2.2.0 versions I see:  `2.2.0-dev.20161128, 2.2.0-dev.20161127, 2.2.0-dev.20161126, 2.2.0-dev.20161125, 2.2.0-dev.20161124, 2.2.0-dev.20161123, 2.2.0-dev.20161122, 2.2.0-dev.20161121, 2.2.0-dev.20161120, 2.2.0-dev.20161118, 2.2.0-dev.20161117, 2.2.0-dev.20161116, 2.2.0-dev.201611

[2016-11-28 18:01] #1740 closed

[2016-11-28 18:08] maxpert commented on #1734
Seems like you are using quite old version, going back and looking at docs turns out for events object in this 0.10.x has `listeners` method (that returns you array of listeners) [from documentation] (https://nodejs.org/docs/latest-v0.10.x/api/events.html#events_emitter_listeners_event), there also a class static `EventEmitter.listenerCount(emitter, event)`.

[2016-11-28 18:08] #1734 closed

[2016-11-28 18:20] maxpert commented on #1668
Are you able to make other http requests through your proxy? Is this issue specific to BotBuilder? To me it seems more like a global-tunnel issue that botbuilder; here is one more guy having same issue https://github.com/salesforce/global-tunnel/issues/14 it would be more productive if you post this issue on global-tunnel's issue tracking.

[2016-11-28 18:27] leroibeukes commented on #1670
The Webchat channel and Skype Channel are two different channels - you would have to have the user identify themselves on both channels for you to be able to 'pick-up where you left-off' ...

Thus when a user starts a conversation in the webchat - you could ask them to 'login/identify' via some or other service/api or similar - you could then use the same mechanism in your Skype channel and that w

[2016-11-28 20:09] palmerabollo commented on #1744
Yes, "node-uuid" has been recently deprecated in favor of "uuid". It's not a big issue (just a deprecation notice) but it should be easy to fix it.

[2016-11-28 21:01] sohail commented on #1740
No, no particular reason, I just cloned the repository, compiled TS compiler and used that to compile botbuilder SDK.
After that small change of code, things are working as they should and my BOT is happy.

[2016-11-28 21:14] msft-shahins commented on #1047
@JpEncausse currently it is not possible to access the email address with the page access token. You can only access the fields that are listed [here](https://developers.facebook.com/docs/messenger-platform/user-profile#request) by making user profile api calls using the page access token (this is enforced by facebook).

@JpEncausse, @J3QQ4, if the user choose to share location with your bot, you

[2016-11-28 21:14] #1047 closed

[2016-11-28 21:26] msft-shahins commented on #1189
@rposbo by definition prompt choice selects the object T that is selected by the user. If you want to map the selected option to another object you can inherit from PromptDialog and implement your custom prompt choice with a TryParse function that implements the functionality you expect above. For example, you can implement a TryParse function that finds the right thumbnail card based on the optio

[2016-11-28 21:26] #1189 closed

[2016-11-28 21:33] msft-shahins commented on #1452
closing this since we are tracking this in our backlog.

[2016-11-28 21:33] #1452 closed

[2016-11-28 21:35] msft-shahins commented on #1736
closing this since it is tracked in our backlog.

[2016-11-28 21:35] #1736 closed

[2016-11-28 21:59] msft-shahins commented on #1661
@decv86 currently you cannot proactively initiate an audio call to user. To workaround this, you can proactively send a message to user and ask them to call your bot. Here is a sample showing how you can proactively create a new conversation: https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-CreateNewConversation

[2016-11-28 21:59] #1661 closed

[2016-11-28 22:25] mingweiw commented on #1693
I was able to add / remove your bot from my conversation groups via the UI. It's info showed up correctly in my groupme devportal as well.

Though the bot is unresponsive in groupme, the webchat control in the portal and skype. That's probably a separate issue.

I noticed the hand icon with a red circle around it in the image below. This is from your [screenshot](http://imgur.com/a/QxxMd). I don't

[2016-11-28 22:48] msft-shahins commented on #1589
@brunoklein99 current implementation of [PostToUser](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/Chain.cs#L406) dialog calls ToString() on the item and post it to the user. To implement your scenario you can use ContinueWith and post the activity to user using context.PostAsync(...). Here is your code rewritten using the ContinueWith Dialog:

[code]

[2016-11-28 22:48] #1589 closed

[2016-11-28 23:39] msft-shahins commented on #1729
@dynamicdeploy [MicrosoftAppCredentials](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Connector/MicrosoftAppCredentials.cs) only sets the JwtToken of the bot for the post requests to [trusted host names](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Connector/MicrosoftAppCredentials.cs#L30). For regular incoming messages to bot

[2016-11-28 23:39] #1729 closed

[2016-11-28 23:58] msft-shahins commented on #1523
Here are answers to questions that are not covered yet:

1. you can look at the channelId of the incoming activity and set the ChoiceStyle based on the channel when you create the prompt dialog.
2. you can implement your custom prompt styler that implements its custom [Apply](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/PromptDialog.cs#L227) function to generate the b

[2016-11-28 23:58] #1523 closed

[2016-11-29 01:24] msft-shahins commented on #1364
@fercom here is an example on how you can develop a multi dialog bot and use context.Call(...) to call into different child dialogs: https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-MultiDialogs.

As @willportnoy mentioned you cannot dynamically switch between root dialogs since dialog system is stateful. If you really want to switch to another root dialog, you can reset the

[2016-11-29 01:24] #1364 closed

[2016-11-29 01:53] fercom commented on #1364
@msft-shahins Ok, I will check it out, thank you!

[2016-11-29 02:29] astrung commented on #1610
Ok

[2016-11-29 02:29] #1610 closed

[2016-11-29 02:34] astrung commented on #1413
"That said, for best results you should consider having your bot deployed into multiple data centers as well to have it be as local to the BF and channel services as possible" >> How can i do it ?

[2016-11-29 03:05] willportnoy commented on #572
No particular ETA, but I'll leave this issue open since it's pretty active.

[2016-11-29 03:06] willportnoy commented on #1629
@alokraj68 the state service for all channels is the same, as far as I know.  Perhaps there is a timing issue across different channels that exposes some issue related to the state service?

[2016-11-29 03:09] willportnoy commented on #1753
Messages are sent back to the connector service through separate http calls, which could return status code  401 without proper authorization.  Do you intend to mock that service as well?

There are some tests in https://github.com/Microsoft/BotBuilder/tree/master/Node/core/tests that you might want to model your tests on.

[2016-11-29 04:32] alokraj68 commented on #1629
@willportnoy  I did a thorough check with same traffic in order o know that.

What we observed is that once the number of users rises with skype it breaks conversations from one side and the user session keeps resetting to start. in direct chat and facebook, the user session tokens are kept intact that nothing goes wrong. facebook and direct chat can have this for a pretty long time.

[2016-11-29 04:50] sravaniVajjha commented on #1617
Hi @chrimc62 i am still getting the same issue

[2016-11-29 05:04] sravaniVajjha opened #1755 "Bot in Node.js"
How to build a bot in node.js using visual studio as my IDE

[2016-11-29 05:10] immaddy718 opened #1756 "Can we implement autocomplete box while typing any text as input for command"
I had implemented Skype-Bot
Can we implement autocomplete box while typing any text as input for command?
Suppose my command:
* **get project {[List]}**
{[List]} this list can be limited but can write only one at a time.
When i type get project instantly i was to populate the autocomplete box with the available project.
Is it possible for doing it so.

Thanks,
Praveen Madas

[2016-11-29 05:28] eanders-MS commented on #1716
Hi @dimoibiehg, I want to disambiguate something before trying to answer your question. The title of the issue mentions [callback query](https://core.telegram.org/bots/api/#answercallbackquery), but the code posted is answering an [inline query](https://core.telegram.org/bots/api/#inline-mode). Which one is correct?

Incidentally, I posted a simple Telegram inline query demo here: https://github.c

[2016-11-29 06:28] PrasadGautham opened #1757 "Microsoft Bot Framework, Prompt.confirm: Is there anyway to restart the form if a field is entered incorrectly for a particular number of times???"
For example if the user types something random other than yes/no/ok fro a prompt confirm, the form should be reset. and the toomanyattempts exception should not be shown.  :)

[2016-11-29 07:12] astrung commented on #1712
yes, still can not pass

[2016-11-29 07:15] astrung commented on #1712
"Why" dialog :

    bot.dialog('/why', [
       function (session, results, next) {
       session.send("i am bot. Don't ask my reason ");
       session.endDialogWithResult({ response: session.message.text });
       }
    ]);

[2016-11-29 07:24] dimoibiehg commented on #1716
Hi dear @eanders-MS, both of them are true. Indeed, I answered an inline query which contains a call back button. And it's expected pushing this button will send a callback query to our bot, so what is your suggestion for the title of the post?

Thanks for your demo, but it is in NodeJs and as I compared my stringify json is the same.
Could you please say what's wrong with my code?

Thanks for pla

[2016-11-29 07:38] chetanmekha opened #1758 "Image not get fit inside herocard,Thumbnail card."
Hello Folks,
I want to set image in hero/thumbnail card within cards boundaries. The image get set to card but not getting fit inside card. how can i achieve it. Please guide me.

[2016-11-29 10:10] vjrantal commented on #1641
@dandriscoll I was wondering could this and https://github.com/Microsoft/BotBuilder/issues/1729 relate to the following issue we noticed.

When creating the `ConnectorClient` without passing app id and password (e.g., like this https://github.com/Microsoft/BotBuilder/blob/5cf71c742f27d89e9dbc4076f850122bd6edac11/CSharp/Samples/Stock_Bot/Basic_Luis_StockBot/Controllers/MessagesController.cs#L29 ) t

[2016-11-29 12:09] Stevenic commented on #1753
Yes... Testing at this low of a level could be tough for numerous reasons... If you look at the unit tests Will referenced you'll see examples of using the `ConsoleConnector` to test your bot. This would be much easier.

[2016-11-29 13:55] morsh commented on #1753
@Stevenic using console connector does the job keeping in mind that the bot dialog \ intents should be populated from a separate file to enable testing.

[2016-11-29 13:55] #1753 closed

[2016-11-29 14:09] Deilan commented on #1741
Thanks for the info!

Well, I think this is a pretty rare case, so losing performance just because of that is a quite big price.

One more thought about my initial suggestion about using `.ConfigureAwait(false)`: maybe provide some sort of configuration option, which will control this behavior? If the option is enabled, apply .ConfigureAwait(false) . If it is disabled, behave as now. And make this

[2016-11-29 14:57] ThisWillDoIt commented on #1693
Good and bad news.

Good: I can now add/remove my bot to GroupMe conversation and currently works correctly (currently listens only to specific LUIS intends, so it seemed unresponsive for you)

Bad: I have no idea what changed. The symbol you mentioned is a AdBlock extension. But could uninstalling and reinstalling it really make such a change? It's not blocking anything on that side... Was there

[2016-11-29 14:57] #1693 closed

[2016-11-29 16:25] tpernice commented on #1669
Hi,
This is my C# workaround until the bug get fixed .
Feel free to suggest a better one.

   Tom
-------------------------------------------------------------------------------------------
In async Post method of MessagesController.cs insert the following code
[code]

[2016-11-29 16:34] tpernice opened #1759 "Skype: Inbound attachment has no name"
Hi,
I am trying to get an attachment from the user, but I found out that the "name" property of the Attachment class is always empty, and moreover the "ContentType" is always "application/octet-stream".
How can I get the file name?

   Tom

[code]

[2016-11-29 18:50] spreddy2714 opened #1760 "dialogAction is not working in skype"
With respect to issue I've created before https://github.com/Microsoft/BotBuilder/issues/1742

I found that skype is failing when my card action is dialogAction, it worked fine for openUrl.

Can some body please help me how to get this right with node js implementation.

[2016-11-29 20:06] euanlau opened #1761 "Skype: video attachment does not show preview thumbnail"
I sent the message below and users on Skype did receive the video properly. However, there is no thumbnail preview shown in the skype UI. Is there anything I can do to make it happen?

[code]

[2016-11-29 20:42] jaskiratr commented on #669
The error persists even after adding "/api/messages" to the base URL.

[2016-11-29 21:54] msft-shahins commented on #1591
@piffarettig you can implement this by saving the first utterance in the private conversation data and add it to the text query sent to Luis service on the next message by overriding the GetLuisQueryTextAsync funciton: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/LuisDialog.cs#L226

Another way is to create a child LuisDialog in the main LuisDialog intent handler, kee

[2016-11-29 21:54] #1591 closed

[2016-11-29 23:48] piffarettig commented on #940
Yes, it was that. Callback in webconfig was in http instead of https!

Now I have something like:

`<add key="Microsoft.Bot.Builder.Calling.CallbackUrl" value="**https**://6719abe7.ngrok.io/api/calling/callback" />` and it works.

Thanks :)

[2016-11-29 23:50] piffarettig commented on #1738
I fixed it!  Yes, it was that, callback in webconfig was in http instead of https! I really thought I tried that! My bad 😅

Now I have something like:

<add key="Microsoft.Bot.Builder.Calling.CallbackUrl" value="https://6719abe7.ngrok.io/api/calling/callback" /> and it works.

Thank you!

[2016-11-29 23:50] #1738 closed

[2016-11-30 01:14] msft-shahins commented on #1702
@ronnelsantiago commit 54c430c should address this issue and should be available in next release of bot builder.

[2016-11-30 01:14] #1702 closed

[2016-11-30 01:28] dkenzik commented on #1720
@cesarvarela - Keep me posted regarding a Watson recognizer. It's the only thing really keeping me from coming back to BotBuilder (on botkit now since it has a Watson middleware.) I was considering working on my own, so I'd be happy to contribute, too.

[2016-11-30 06:16] eanders-MS commented on #1716
@dimoibiehg Can you describe what you're trying to accomplish? I think if we back up and help me better understand your goal, then the answer to the question of whether to use a callback query or inline query will become clear. In your code I see a mix of the two, and I'm not sure about which way to steer you.

[2016-11-30 06:21] eanders-MS commented on #1716
Ok after reading your earlier post again, I think you are correct in sending an inline query answer. Let me see if I can update my demo to include a button in the query results.

[2016-11-30 07:07] eanders-MS commented on #1716
@dimoibiehg It is possible that callback_data from an inline query answer choice is not a supported operation in Telegram. It may be that callback_data is only returned within a conversation. I recommend you reach out to `@BotSupport` on Telegram to get a definitive answer.

[2016-11-30 07:16] alokraj68 commented on #1757
Simply set retry numbers as int, then on too many exemptions, reset the conversation by setting a boolean. And when boolen is true reset the conversation. You cannot reset a part of conversation.

[2016-11-30 07:32] PrasadGautham commented on #1757
@alokraj68 Actually, I am a newbie to this. Can you please show the code for that.
   PromptOptions<string> PromptOptions = new LUISLogic().GetPromptOption("Are you satisfied with the answer?");
            PromptDialog.Confirm(context, FeedbackConfirm, PromptOptions.Prompt, PromptOptions.Retry, PromptOptions.Attempts, PromptStyle.Auto);
What is the change I should make here...?..I am sorry if I s

[2016-11-30 07:35] PrasadGautham commented on #1757
@alokraj68 Actually I am a newbie to this. Could you please suggest the changes
   PromptOptions<string> PromptOptions = new LUISLogic().GetPromptOption("Are you satisfied with the answer?");
            PromptDialog.Confirm(context, FeedbackConfirm, PromptOptions.Prompt, PromptOptions.Retry, PromptOptions.Attempts, PromptStyle.Auto);
What is the change which I should make here to reset. if the us

[2016-11-30 07:43] alokraj68 commented on #1757
Its simple, to prompt options.attempts pass the int with value how many reties should be allowed.
Set a boolen value in a class as static public.
Check if that boolen is true at start of each message received event. Then catch the too many attempts exception after the prompt. Once exceotion comes set the boolen true. Next time user comes, conversation will be reser

[2016-11-30 07:57] dimoibiehg commented on #1716
Dear @eanders-MS, you've found my scenario exactly. Indeed, the steps like the following:

1. User calls our inline bot in a page.
2. This query is received to the bot.
3. the bot processes this query as an inline query.
4. then it sends a response, which contains a callback button, to the user.
5. When the user gets the response, he clicks on the callback button.

My problem is in step 5: my bot

[2016-11-30 08:19] dhirajgupta1 opened #1762 "LUIS Action and Parameters in Bot Framework Form Flow"
Hello,

LUIS have action and parameters, what i understood we can use them to create a LUIS bot by providing LUIS url in our bot registration at bot connector. I have few questions
1) How to implement business logic in LUIS
2) How to integrate with any external system
3) How to render cards, carousel and other rich features from LUIS

Does bot builder provide a out of the box way to use LUIS actio

[2016-11-30 09:07] agrawal-mohit opened #1763 "DTraceProviderBindings error on startup"

[2016-11-30 09:09] agrawal-mohit opened #1764 "DTraceProviderBindings error on startup"
Following the steps as give here - https://docs.botframework.com/en-us/node/builder/overview/

When i do `node app.js` , this is the response on terminal:

[code]

The response on the browser when I hit 127.0.0.1:3978 is :

I have tried  `npm install dtrace-provider` but that does not help.

**Environment**
 OSX 10.10.5 Yosemite
node v4.5.0
xcode version 7.0 (7A220)

[2016-11-30 09:33] #1763 closed

[2016-11-30 10:28] PrasadGautham commented on #1757
ok thanks a lot again :+1: . but still on the chat box the message "too many attempts" will be shown? Cant this be prevented??

[2016-11-30 10:33] alokraj68 commented on #1757
Yes you can prevent that, simply dont send the exception to user, just echo
your custom error message. Thats the best way. You should let user know
that the bot is resetting

On 30-Nov-2016 3:58 PM, "GP@93" <notifications@github.com> wrote:

[2016-11-30 10:46] ThisWillDoIt commented on #1725
Okay, interesting to know that C# and Node take different approaches. Changing my C# code to use the Node way works fine for me.

Sorry for missing that part of the docu and opening an issue...

[2016-11-30 10:46] #1725 closed

[2016-11-30 11:35] PrasadGautham commented on #1757
Thanks a lot again :+1:  but,I didnt do any code to send the exception to the chat box.Automatically the message "too many attempts" pops up.

[2016-11-30 11:51] alokraj68 commented on #1757
Simply put the code block in try catch block. Try the prompt, then you will
get the exception. Catch it and do as i told above ;)

On 30-Nov-2016 5:05 PM, "GP@93" <notifications@github.com> wrote:

[2016-11-30 11:58] PrasadGautham commented on #1757
Thanks again..I did try that...I did debugging as well...But even before the control reaches the catch statement...the "too many attempts" message is shown at the chat box...then when the control reaches the catch statement...the new custom error message too will be shown...I want to eliminate the "toomany attempts" message....Thanks again :+1:

[2016-11-30 12:14] alokraj68 commented on #1757
Try catching the toomany exceptions . Can i see your code segment? And i
think its better to move to stack overflow as this aint any bug. And this
forum is for bug posting.

On 30-Nov-2016 5:28 PM, "GP@93" <notifications@github.com> wrote:

[2016-11-30 12:21] ejadib commented on #1757
You can just override the TooManyAttempts message by passing your own string in the PromptOptions constructor (https://github.com/Microsoft/BotBuilder/blob/10893730134135dd4af4250277de8e1b980f81c9/CSharp/Library/Dialogs/PromptDialog.cs#L157). Also, please update the subject as this whole thread is not related to FormFlow

[2016-11-30 12:31] enzofab91 commented on #1641
Hi, sorry for the delay in responding, I was facing issues with other tasks.

I'm passing the app id and pasword in the web.config

Also, when receiveng ping I'm responding an activiy of type Ping with some text. Is this ok? If not I'm receveing Error 500

[2016-11-30 12:57] jamesemann opened #1765 "Email connector recursion issue"
The Email channel seems to be calling itself recursively,

It looks like it is due to the channel replying to the message and adding the mail account as the recipient as well as the intended recipient.

This is a conversation where I sent "Testing" to the Bot.  Note that this Bot is the vanilla Bot Application template and works fine with other channels:

![image](https://cloud.githubusercontent.c

[2016-11-30 16:54] fercom opened #1766 "Error 500 due to "ReplyToId' cannot be null.""
My bot is published on azure, I am having a lot of Internal Server Error (500), in the emulator it doesn't happen, checking the log files I see this:

[code]
I also found this field: GENERAL_REQUEST_ENTITY
[code]
Please help me

[2016-11-30 17:01] lyzs90 commented on #1621
I managed to solve my Facebook issue! It was because my data had invalid image urls.
Still getting issues for Telegram though, and strangely enough there are no errors on the botframework site.

[2016-11-30 17:06] NicolasHumann opened #1767 ".NET Core"
Hi,

Any plans to have bot builder running with .net core ?
It will be nice to have a bot running in docker / linux.
May be the release of .NET standards 2.0 and VS 2017 will enable this !?!

[2016-11-30 19:49] craigjensen commented on #1765
It appears that your bot is registered with an email address ends in .com and the Maya Roy account referenced above ends in .co.uk.  Do these accounts resolve to the same mailbox?  If so, that would explain why the bot is replying to itself.

I'll look into whether we can do a better job of detecting multiple email addresses that resolve to the same mailbox.

[2016-11-30 20:09] tomlm commented on #1766
Some channels (such as Email) maintain threading information (aka, that a message was a reply to a given message).  If you don't provide a ReplyToId, the channel won't be able to properly thread the message.  Skype shouldn't reject your message because of the lack of this id, but you SHOULD be setting the id so that your bot will work correctly on channels which need that info.

When you do a acti

[2016-11-30 20:09] #1766 closed

[2016-11-30 20:18] jamesemann commented on #1765
Yes Maya Roy has both a .co.uk and a .com address resolving to the same mailbox. Very astute!

I've retested by registering the email with the same address I'm email to and that seemed to work fine.

[2016-11-30 20:21] #949 closed

[2016-11-30 20:28] craigjensen commented on #1765
Glad to hear it's working now.  I'll go ahead and close this issue.  Please reopen or create a new issue if you have additional concerns.

[2016-11-30 20:28] #1765 closed

[2016-11-30 20:42] fercom commented on #1766
Like this?
[code]
It doesn't seems to work

[2016-11-30 20:43] fercom commented on #1766
And it is failing in skype, by the way

[2016-11-30 20:57] Andrea-Orimoto commented on #1504
Hi @ubreddy , thanks for the suggestion, this has been added to our backlog, and it'll be considered for future releases. Thank you.

[2016-11-30 20:57] #1504 closed

[2016-11-30 21:06] msft-shahins commented on #1645
Connector client only sets the JwtToken for outgoing requests if the request uri is among the set of trusted host names: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Connector/MicrosoftAppCredentials.cs#L97

If not, you will see the warning and your calls to connector service will fail with forbidden: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Li

[2016-11-30 21:06] #1645 closed

[2016-11-30 21:29] brandonh-msft opened #1768 "[Question] context.Wait<T>(ResumeAfter<T> method) doesn't coerce from IMessageActivity -> T"
If you create a `ResumeAfter<T>` delegate say for `string` like:
[code]
but try to use that same delegate with `context.Wait<string>(UserChoice)` at runtime you'll be met with an exception like this:
[code]
when you try to `await result` w/in the handler. This means that instead of passing `string` to the delegate as intended (and as outlined by `context.Wait<T>()`'s signature) it's still passing

[2016-11-30 21:32] danmarshall commented on #1516
@ashay-88 we have a new webchat control, called the "webchat preview" - can you try using that?

[2016-11-30 22:57] embee8 commented on #1600
I am having the same problem and figured out that adding the following line of code to my bot application is one way to recreate this error:
`ConnectorClient connector = new ConnectorClient(new Uri(activity.ServiceUrl));`

It is very frustrating, especially because a fully functional version stopped to work overnight, and since then I am trying the find the cause of this error.

[2016-11-30 23:20] willportnoy commented on #1600
The code and method names from the original call stack doesn't match the version of Microsoft.Rest.ClientRuntime I have in my enlistment (2.3.2).

But it looks like this is the issue, though: https://github.com/Azure/autorest/issues/1542

Can you check your version of the Microsoft.Rest.ClientRuntime?

[2016-11-30 23:23] willportnoy commented on #1768
You're likely using this overload:
https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/IDialogContext.cs#L111

versus the generic method that doesn't overload:
https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Dialogs/IDialogTask.cs#L55

If you specify the generic parameter explicitly, it should work.

However, who is satisfying that wait?  Will you be posti

[2016-11-30 23:24] willportnoy commented on #1767
relevant issue: https://github.com/Microsoft/BotBuilder/issues/572

[2016-11-30 23:25] willportnoy commented on #1762
We recently added support for LUIS actions to LuisDialog: https://github.com/Microsoft/BotBuilder/commit/5158523a3d144ad6e58b13eec44da6416780d0d7#diff-44121b8e461aef56ce26671729a0a3faR270

I don't think they will integrate with FormFlow, though.

[2016-11-30 23:52] willportnoy commented on #1764
I would think DTrace is unrelated - it's a system-wide profiling/monitoring tool.

Usually you post the activity object to https://127.0.0.1:3978/api/messages rather than a root path.

[2016-12-01 00:14] embee8 commented on #1600
@willportnoy, this was indeed the case. Thank you! I think adding Application Insights to my project upgraded my Microsoft.Rest.ClientRuntime to 2.3.4 which broke the bot. To fix it, I stripped every AI reference and downgraded to the ClientRuntime to 2.3.2.

It looks like the AI installation caused my problems. To avoid this in the future, is there any dependency lists that people can look up bef

[2016-12-01 01:30] euanlau commented on #920
I am still not able to create blank lines. Is this really fixed?

@msft-shahins  your example does not contain blank lines.

[2016-12-01 03:04] sc0ttwad3 commented on #1755
How about Visual Studio Code that also has easy debugging https://docs.botframework.com/en-us/node/builder/guides/debug-locally-with-vscode/#navtitle

[2016-12-01 04:38] ashay-88 commented on #1516
@danmarshall I'll try that control and shall update here soon.

[2016-12-01 04:52] dhirajgupta1 commented on #1762
Thanks Will Portnoy,  Is there any sample or example to see how to use it?

[2016-12-01 06:56] PrasadGautham commented on #1757
ok :+1: Thanks a lot... both of you guys....

[2016-12-01 06:56] #1757 closed

[2016-12-01 10:30] ghstshdw commented on #8
I found the error resulted in using, ```/api/messages```, instead of ```/API/messages```

[2016-12-01 12:08] alokraj68 commented on #1600
At an azure git i saw them asking to do this in order to get over the
issue. They say its with the azure instance. I feel the instance has to do
something, may be its nit clearing all files when we upgrade and upload the
files to 2.3.4.

On 01-Dec-2016 5:44 AM, "embee8" <notifications@github.com> wrote:

[2016-12-01 13:50] b4usat opened #1769 "WebChat Control error as not trusted"
Hi,
My bot is deployed and i enabled `Webchat `control as channel. My bot is responding well for the first ping, after that am getting error as "Sorry my bot code has an issue". So i thought of catch the exception in `MessageController `and wrote the exception in `Trace`. In trace of my first ping am getting the below error but still reaches the `intent `and replied with a message.

All further pi

[2016-12-01 16:23] nickcordrey commented on #1761
Please specify a ThumbnailUrl to send an explicit thumbnail.

[2016-12-01 16:23] #1761 closed

[2016-12-01 16:39] pushthat commented on #1769
I had the same problem for skype and this did the job for me
MicrosoftAppCredentials.TrustServiceUrl(@"https://skype.botframework.com", DateTime.MaxValue);
Maybe with MicrosoftAppCredentials.TrustServiceUrl(@"https://webchat.botframework.com",DateTime.MaxValue);

[2016-12-01 17:46] embee8 commented on #1600
That might be the case, @alokraj68. I will run some tests and clear out all files via FTP before deploying the project. I will post any new insights here. Would be great to exactly know what this is caused by. I don't want to work around the problem by deploying it to a new instance all the time.

[2016-12-01 20:14] eanders-MS commented on #1716
@like is a very cool bot! I too would like to understand how it works.

[2016-12-01 20:21] eanders-MS commented on #1595
@GhostAtom Is your bot registered with the Bot Framework? What is its MSA AppID?

[2016-12-01 21:03] eanders-MS commented on #1389
Hi @syedaliammar This is not possible with the current webchat control, but there is an alternative. We recently released a new webchat control that is in preview, and this control supports passing in an optional username and optional userid.

There is one problem with using this today in an IFRAME scenario: We don't currently provide a way to pass these values as url parameters. We have made a fi

[2016-12-01 22:06] GhostAtom commented on #1595
@eanders-MS yes
AppId=0614d470-23cc-4ab2-adba-48494f44041d

[2016-12-01 23:12] pdtran3k6 commented on #1496
@gcrev93
In order for you to call https://yourbot.azurewebsites.net/ like this, you have to add this piece of code into your server.js or app.js file:
`server.get(/.*/, restify.serveStatic({
	'directory': '.',
	'default': 'index.html'
}));`
and create an index.html file in the same folder of your server.js

Let me know if it helps!

[2016-12-01 23:25] abelnation opened #1770 "Add actual request examples to BotConnector REST API docs"
These docs are embarassing:
https://docs.botframework.com/en-us/restapi/connector/#!/Conversations/Conversations_CreateConversation

Please update the docs to show proper examples of valid json to send in the body of the request.  I appreciate that you show me what to expect as a response, but that's not really any help if I don't know what my request bodies should look like.

Apologies if this is

[2016-12-02 00:26] ejadib commented on #1770
The body is explained in that page....

![image](https://cloud.githubusercontent.com/assets/307826/20818502/c49dab22-b80c-11e6-8fa0-ceb198d4eee4.png)

[2016-12-02 00:29] danmarshall commented on #1769
Hello, we have identified this as an intermittent issue and it should now be fixed. Can you try again?

[2016-12-02 00:31] danmarshall commented on #1758
Which channel are you using?

[2016-12-02 00:40] danmarshall commented on #1756
Which channel are you suggesting?

[2016-12-02 00:43] danmarshall commented on #1755
Take a look at some samples to begin with. You can use any IDE that you prefer:
https://github.com/Microsoft/BotBuilder/tree/master/Node/examples
https://github.com/Microsoft/BotBuilder-Samples

[2016-12-02 00:47] abelnation commented on #1770
DOH!

My browser was sized/zoomed such that that section was cut off (and the div is not scrollable when cut off)!  Sorry for the flame-y message!

![image](https://cloud.githubusercontent.com/assets/200054/20818927/d9e3693a-b7e5-11e6-8c95-fb908122b683.png)

[2016-12-02 00:47] #1770 closed

[2016-12-02 00:50] abelnation commented on #1770
Though, to be fair, the page really does require quite a large width for that info to be visible, combined w/ the non-scrollability, this feels like it could be improved.  I'm currently on quite a large monitor.

Here's a screenshot, browser set to half of my standard apple monitor width, 100% zoom:
![image](https://cloud.githubusercontent.com/assets/200054/20818985/43b0a15c-b7e6-11e6-8d16-9316508

[2016-12-02 00:57] danmarshall commented on #1764
Check the restify issues for potential installation solutions:
https://github.com/restify/node-restify/issues/897

[2016-12-02 01:07] msft-shahins commented on #1762
Here is a sample Luis model that defines and action:
https://github.com/Microsoft/BotBuilder/blob/develop/CSharp/Samples/PizzaBot/Model/PizzaBot.json#L60

and here is the sample code showing how to extract the parameter for the triggered action in the LuisResult: https://github.com/Microsoft/BotBuilder/blob/develop/CSharp/Samples/PizzaBot/PizzaOrderDialog.cs#L94

[2016-12-02 01:07] #1762 closed

[2016-12-02 01:36] msft-shahins commented on #1748
@knpoklonski the problem here is that in a group conversation case the text in the activity is `@bot_id <text from user>` and as a result Prompt.Confirm fails matching the response with its possible values (Yes/No). For now, you can work around this by removing the `@bot_id` from activity.Text before sending it to conversation. For example, the code snippet below makes the echo bot work for group

[2016-12-02 04:54] AnandChitale opened #1771 "How to a create a child thread or worker thread in Microsoft bot application"
How to a create a child thread or worker thread in Microsoft bot application which can continuously listen to a third party Web APi and post to users on different connectors in per user per conversation context.

I created a bot and want that bot to listen to a third party Web API continuously. This work should be done in a separate thread. But if I create a thread in a Dialog class it does not po

[2016-12-02 04:58] AnandChitale commented on #1733
I had also seen this behavior in Web Chat Channel. Even if Tax and Total are not set ,they are shown in Receipt card

[2016-12-02 05:44] iparry7979 commented on #88
I managed to get around this by installing and running Fiddler 4 to intercept traffic and selecting "Rules > Automatically Authenticate"

[2016-12-02 05:47] iparry7979 commented on #842
If anyone still has this issue, I got around it by installing Fiddler 4 and selecting "Rules > Automatically Authenticate"

[2016-12-02 05:49] dhirajgupta1 commented on #1762
Thanks Shahin for your response!!

This is a custom implementation, even we are not using parameter and prompt from actionParameters while action is null and asking for day, what if there are several parameters and those are still need to be collected from user, do we need to write custom code for all of them? Or is there any better way to implement them so that already existing prompts in actionP

[2016-12-02 06:15] msft-shahins commented on #1762
In current implementation, LuisActionDialog stays on top of the stack and relay the prompts generated by Luis service for different parameters to the user until Luis service returns with Dialog.Finished status. This implies that all the parameters for the action are collected and the action is triggered. Then the LuisResult which has the triggered action plus the parameters collected will be dispa

[2016-12-02 06:35] dhirajgupta1 commented on #1762
This is great, i just checked in Pizza bot its hitting method after prompt!! Luis action prompts happening first then conversation redirecting to dialog.
I didn't find actions in samples before as i checked it in already downloaded samples :(
Thanks for your support!! :)

[2016-12-02 06:35] dhirajgupta1 commented on #1523
Thanks Everyone for your valuable response!!

@msft-shahins , For first point I am using Prompt attribute, is it possible with attribute too?

Thanks,
Dhiraj

[2016-12-02 08:40] GanadiniAkshay commented on #1731
A simple approach that I used is to split sentences based on simple keywords such as and etc or use NLTK for complicated cases. And then make a parallel async request to LUIS for all the separate parts of the sentence.

This helps me keep my LUIS models clean and semantically correct.

[2016-12-02 08:42] seaneiros opened #1772 "slack interactive messages not working"
Hi, I have two bots connected to slack (node sdk, different apps, different teams), they're both configured according to manual and work as expected, except one of them, it fails to handle interactive messages: the app calls builder.Prompts.choice(...), buttons appear and after clicking them nothing happens...just the same dialog, the same buttons and "There was an error sending this message to yo

[2016-12-02 08:57] piffarettig commented on #1731
Cool, thanks for your answer. I still have some doubts:

1) How do you call NLTK from C# code? Do you got any example?
2) And where do you make the parallel requests to LUIS model again?

Currently I am using LUIS with a LuisDialog, so I have a separate method for every intent. So, for instance what you say is to do sth like this:

  [LuisIntent("SomeIntentThatCanContainMultipleInnerIntents")]
  p

[2016-12-02 09:07] Tovli commented on #967
I'm facing the same issue,

[2016-12-02 09:13] Masssluis commented on #1733
yes , it is there , but one thing i noticed that when the channel is Skype or Facebook and if the tax and total column is empty the card does not shows it .

________________________________
From: AnandChitale <notifications@github.com>
Sent: Friday, December 2, 2016 10:28:54 AM
To: Microsoft/BotBuilder
Cc: Masssluis; Author
Subject: Re: [Microsoft/BotBuilder] Need Help removing tax and total in r

[2016-12-02 09:14] aksjd commented on #1675
Same issue for me

[2016-12-02 09:50] GanadiniAkshay opened #1773 "Add support for wit.ai and api.ai recognizers"
I have prototyped the code for recognizer code for witRecognizer and apiaiaRecognizer on lines similar to LUISRecognizer.

How can I build the project and can I contribute this as a PR?

**EDIT** : link to api-ai-recognizer npm module https://www.npmjs.com/package/api-ai-recognizer

[2016-12-02 10:15] seaneiros commented on #1772
it turned out the issueis only reproduced on our stage server, setting bot's endpoint to dev's station makes the thing, but still...what can be the problem? are there any specific endpoint requirements?

[2016-12-02 10:32] thuru opened #1774 "Skype Bot"
I'm trying on simple getting started Skype bot. Where to find the bot Id ? Is it a GUID generated by the developer. In this link [https://developer.microsoft.com/en-us/skype/bots/docs]
 it says the portal will generate the Id for us but I don't find it.

[2016-12-02 10:59] GanadiniAkshay commented on #1731
@piffarettig I actually did this in node.js but let me try making an example in C#

[2016-12-02 11:02] tpernice commented on #1774
You can read it from the activity class instance.

[code]

[2016-12-02 11:05] tpernice commented on #1774
The activity class contains sender and recipient information.

[code]

[2016-12-02 12:02] dotnetdude opened #1775 "New bot creation is not working"
In https://dev.botframework.com bot creation was working fine. But today when I create a new bot, it stopped working.  The chat window to test the bot is disappeared. But the bots created before working fine.  When i try to test the new bot with "Add to skype" test link. Its failing with this error "Oops, there was a problem with your link The bot was not found. "  Any reason why its failing?

[2016-12-02 12:27] jamesemann commented on #1675
I am seeing the same issue 02/12/16

[2016-12-02 12:34] enzofab91 commented on #1641
I have managed to solve it. I was executing ReplyToActivityAsync(message) to a Ping and for any reason it returns the error. If I send a null reply it works fine

[2016-12-02 12:52] james-lawrence opened #1776 "Determining who is in a conversation."
Anyway to determine who is part of a conversation via api calls without having to receive a message first?
particularly for multiparty chat rooms.

`/v3/conversation/{conversationId}/members` is close but there is no way to get all the conversations.

similar issue with determine what organization a user is a part of, the api doesn't expose that information anywhere.

If not, is there an actual mi

[2016-12-02 12:56] james-lawrence opened #1777 "Documentation issues"
- typo https://docs.botframework.com/en-us/core-concepts/reference/#navtitle, `see Stating a Conversation.` should be `see Starting a Conversation.`
- broken url https://docs.botframework.com/en-us/core-concepts/conversation `see Alarm Bot and Proactive Messaging.` the `Proactive Messaging` link 404s.

[2016-12-02 12:59] jamesemann opened #1778 "Sad bot is sad/Oops, there was a problem with your link The bot was not found."
I am seeing an issue with configuring the Skype/MS Teams channels for new bots.  When I click Edit I see

![image](https://cloud.githubusercontent.com/assets/6830648/20834798/028150ec-b88f-11e6-9727-6102916e0ee2.png)

This only seems to be with new bots. I'm able to configure Skype/MS Teams channels for my older bots.

[2016-12-02 13:01] jamesemann commented on #1775
I am seeing the same issue .  I've created another issue but I'll close it as a duplicate.

When I click edit on either MS Teams/Skype channels I see.

![image](https://cloud.githubusercontent.com/assets/6830648/20834871/59898490-b88f-11e6-9f4c-2e20dbd5eaf9.png)

Older bots seem OK when I configure the same channels so it looks like there is a problem with new Bot registration.

[2016-12-02 13:02] jamesemann commented on #1778
duplicate of #1775

[2016-12-02 13:02] #1778 closed

[2016-12-02 13:09] jamesemann commented on #1775
Further to my previous comment, it seems it's only Skype/Teams having this issue.  Other channels I've tested with a new Bot and they work fine.

[2016-12-02 13:42] sagarpomal commented on #1675
Same issue. Removed the Skype Channel and then added again, it doesn't work.

[2016-12-02 14:51] waghpravin14 commented on #1675
Facing same issue. Getting "Sad bot is sad" message when tried to add Bot to skype.

[2016-12-02 15:28] etiago opened #1779 "If the FormDialog choice values have numbers and/or parentheses in them, the form does not accept the choice"
The title is pretty self explanatory, but essentially we're facing an issue where if the choices for a particular FormDialog field have numbers and/or parentheses in them, the FormDialog will not accept them as valid choices.

Interestingly enough, when our choices had values like "Foobar (ABC123-2)" it would take the "-2" as a positional argument and take the second choice on the list...