[2017-12-06 02:27] lijiarui commented on #3824
Got it, thanks for your explanation!

[2017-12-06 02:27] #3824 closed

[2017-12-06 04:09] punithk commented on #3877
Thanks for responding @JasonSowers and @nwhitmont.

@JasonSowers locally I debugged using emulator found no issues whatsoever. I will try out with Ngrok now and let you know. But it's very confusing as there is absolutely no error logged.

@nwhitmont code is deployed on US South(IBM not Azure, I am not sure whether this started to matter), but this still worked seamless with not much of delay, it

[2017-12-06 05:20] Wajeed-msft commented on #3854
@MBbrainsonic - This is happening because **[** and **]** are not encoded in URL. Please encode the URL as follows and it should work fine.

- "mailto:my@mail.com?subject=**%5BFIRST%5D%5BSECOND%5D**  Text"

[2017-12-06 08:39] sajal2692 opened #3880 "[Skype] How to Delete chat history in Skype App?"
## Bot Info
* SDK Platform: Node.js
* Active Channels: Skype
* Deployment Environment: Azure App Service
* Skype Version: 8.10.0.4 (Mac OS)

## Issue Description
Can't find an option to delete the chat history with a bot, on Skype. As we demo the bot to prospective clients, we'd like to clear the history, and start again from a clean slate. Is this possible? To be clear, by chat history, I mean th

[2017-12-06 08:52] MBbrainsonic commented on #3854
@Wajeed-msft Indeed it works fine ! Curiously Skype support brackets even if they're not encoded but MS Teams not. Thanks to all 👍

[2017-12-06 08:54] #3854 closed

[2017-12-06 09:46] satyansh-sagar commented on #3820
@brene  Great Job , Hope to see it live soon.

[2017-12-06 10:21] jamesrwilliams commented on #3766
+1

[2017-12-06 10:46] agollasrikanth commented on #467
Hi ,

Am also facing the same issue.
![image](https://user-images.githubusercontent.com/22520439/33657727-2a78ae68-daa0-11e7-9904-9cffa1f55fd5.png)

am using latest BOT SKD and Bot emulator(3.5.34).
This is the controller
namespace LeaderCoachBot
{
    [BotAuthentication]
    public class MessagesController : ApiController
    {
        /// <summary>
        /// POST: api/Messages
        /// Rece

[2017-12-06 11:02] yochail opened #3881 "[Question] Why am I getting "401 unauthorized" when posting a message with a manually created token?"
## Bot Info
* App ID: bfd4b7f4-43a3-46da-bfd5-c5b2a04cf230
* SDK Platform: .Net
* SDK Version: 3.11
* Active Channels: FB Messenger, DirectLine
* Deployment Environment: Azure App Service

## Issue Description
Hi, when trying to send a message to the bot from js client, after creating a token with C# i'm sending the message with the jwt token in JS to the bot endpoint but receiving 401 unauthorize

[2017-12-06 12:45] garypretty commented on #3764
@etbuilder Hey. I just ran a quick test and it looks like the standby messages are not sent to the bot directly, even when the proxy is not in place, as long as you have not subscribed to that webhook in Facebook.  With this being the case, how come you needed the proxy in the first place?

[2017-12-06 12:49] nirmalrayan commented on #3566
This issue has come back to the same bot. I destroyed the entire resource group from Azure and re-created everything, the issue still persists. Currently my bot credentials are:
Bot handle: medibot_4ttx4fdwLSX
App ID: e3c69ebc-068b-4fa6-a18e-b42b8311adeb
SDK Platform: Node.js
SDK Version: Latest
Active Channels: WebChat, Skype
Deployment Environment: Azure App Service

[2017-12-06 13:36] sahil77 commented on #3874
@JasonSowers @nwhitmont Please find the minimum code below:
await context.PostAsync("The flow has been stopped, please type Hi/Hello to start again.");

Using: MS BOT Framework over Facebook Channel

Thanks in Advance!

[2017-12-06 14:09] Kris-Nimmagadda commented on #3841
Hi @nwhitmont ,
Quick update, on the Skype forum, I got a reply that I should install the new version of Skype windows store App, I tried that and there is no change in the behaviour.

I wonder how the "state" could be different for different facets of an Application [Skype in this case] - like it works in Skype Web, Skype Desktop and not work on Skype Windows 10 App (across devices) - shouldn't a

[2017-12-06 14:48] Sandeepmahala commented on #3874
@JasonSowers @nwhitmont
I am getting this error intermittently in await context.PostAsync() I have used anywhere in code. For your reference I will put one scenario here

I have implemented scorable for STOP/CANCEL/RESTART etc and have below code in CancelScorable calling the CancelDialog to post the message to user and reset the context of NLP

protected override async Task PostAsync(IActivity it

[2017-12-06 15:21] ersachit commented on #3842
Hey @nwhitmont , any updates on this?

[2017-12-06 15:30] camilanunes opened #3882 "[Skype Web Control] Does it have video & audio capabilities?"
I am using <script type="text/javascript" src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>
but we I run on the web browser, it does not video and audio features.

Is there anything missing?

[2017-12-06 15:30] sherifsarhan commented on #3876
@FranciscoPonceGomez Just happened again. Facebook messenger. 1 Day of inactivity, token being refreshed periodically.

**User**: "hi"
**Chatbot**: no response
**botframework throws: There was an error sending this message to your bot: HTTP status code GatewayTimeout**
**User**: "hello"
**Chatbot replies correctly, no GatewayTimeout thrown.**

[2017-12-06 15:46] jetk opened #3883 "[Question] Bot jumps back to start of dialog when deployed to Slack?"
## Bot Info
* App ID: a04c710f-ab2a-4d5d-9605-af607b65f80d
* SDK Platform:  Node.js
* SDK Version: 3.8.2
* Active Channels: Slack
* Deployment Environment: pm2 on a DigitalOcean Droplet

## Issue Description
On Slack, my bot seems to go into a dialog, and then get stuck there; instead of behaving based on the function fed into new builder.UniversalBot(..) it jumps back to the start of a dialog tha

[2017-12-06 15:48] sherifsarhan commented on #3876
@FranciscoPonceGomez I'm also using the bot state API still. I'll make a switch to saving state on my own and see if the issue is fixed.

[2017-12-06 16:10] jazzmn commented on #3602
@ouadie-lahdioui if I use
`bot.on('error', function(e) {}`
then I dont't which message exactly failed or even which user is affected.

[2017-12-06 16:18] youtoofan commented on #3868
I think the issue starts somewhere in the beginning of my bot code. Take a look at my root dialog:

`public Task StartAsync(IDialogContext context)
        {
            context.Wait(MessageReceivedAsync);
            return Task.CompletedTask;
        }

        private async Task MessageReceivedAsync(IDialogContext context, IAwaitable<object> result)
        {
            if (!await IsRegistered

[2017-12-06 16:57] JasonSowers commented on #3883
Please try upgrading to the newest SDK verson and see if that helps.

[2017-12-06 17:04] youtoofan commented on #3868
**Situation update.**

When I switch from the Microsoft.Bot.Builder.CognitiveServices.QnAMaker.QnAMakerDialog to the QnAMakerDialog from Gary Pretty ( [https://www.nuget.org/packages/QnAMakerDialog/](url) ), the issue is resolved.

Implementation is the same.

So I guess the Microsoft QnAMakerDialog is messing things up?

[2017-12-06 17:08] JasonSowers commented on #3868
It's possible, but we are not seeing any other reports of this.  In this case you may way to report the issue in the [Conative Services repo](https://github.com/Microsoft/BotBuilder-CognitiveServices)

[2017-12-06 17:53] FranciscoPonceGomez commented on #3876
Hi @sherifsarhan,

That is a very good idea. Let me know if you still see the problem after saving the bot state by yourself.

Regards,
Francisco

[2017-12-06 18:43] nwhitmont commented on #3882
@camilanunes The Skype Web Control does not have the same features as Skype desktop or mobile clients.  If you need audio and video support, use Skype desktop or mobile.

[2017-12-06 18:49] camilanunes commented on #3882
Yes, there is. Please find the example here. it was exactly where I tried to follow. The chat works well, but I could not see video and camera. At least according to the instructions, I should see.

Have you already used it?

Thanks,

[2017-12-06 18:51] nwhitmont commented on #3882
@camilanunes can you provide a link to the example you are talking about?

[2017-12-06 18:54] camilanunes commented on #3882
Yes, sure. It is at:

https://dev.skype.com/webcontrol

<span class="skype-button bubble " data-contact-id=""></span>
<script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>

[2017-12-06 18:55] nwhitmont commented on #3882
Per: https://support.skype.com/en/faq/FA34704/what-is-skype-web-control

**What is Skype Web Control?**

**What can I send through Skype Web Control?**

**Can I make calls on Skype Web Control?**

[2017-12-06 18:56] nwhitmont commented on #3882
It appears what we have some conflicting documentation on this product.

[2017-12-06 18:59] camilanunes commented on #3882
Yes, it is strange as they described in a way that it is supported all of the features.
thanks a lot.

[2017-12-06 19:19] nwhitmont commented on #3880
Try the instructions described in this article:

https://blogs.microsoft.com/firehose/2014/01/17/how-to-clean-up-your-skype-messages-chat-history-and-skype-home/

[2017-12-06 19:41] nwhitmont commented on #3883
Hi @jetk - Looking over your bot code I notice a few bugs.

First, you don't need to "return" when you call functions like `session.endDialog()` or when using prompts.

For example, the "survey" dialog should look like this (eg. remove the return statements)
[code]

[2017-12-06 19:43] JasonSowers commented on #3881
I am experiencing the same, 401 error when using the code below which previously worked.  looking into this today.

[code]
[code]

[2017-12-06 21:14] ouadie-lahdioui commented on #3602
You're right 👍

Guys, any way to get more data when catching errors with ````bot.on('error', ...)````event listener ?

here's an example of code where i cannot send a message to the user to notify them that there're an error.

[code]

You prefer reopen the issue and continue the discussion here or should i crate a new one ?

Thank you for your help

[2017-12-06 21:40] rjgmail88 commented on #3766
Finally, I was able to resolve it by having to have 2 apps.
App1 - Deals with just user sign-in from AAD V1
App 2 - Has full access to graph with App permissions (not delegated) which I use to get token and call graph API.

[2017-12-06 21:41] rjgmail88 commented on #3850
Yeah, thanks. I got it working.

[2017-12-06 22:09] JasonSowers commented on #3808
@amehta3000  from the sfb team

Are you able to provide this?

[2017-12-06 22:34] amehta3000 commented on #3808
Hi, I'm hoping this is this client logs they are looking for outlined in this article:
http://www.itprotoday.com/microsoft-exchange/mac-skype-business-2015-client-side-logs

@JasonSowers, can you please provide me an email address so I can send you the file privately. thx

[2017-12-06 22:38] JasonSowers commented on #3808
@amehta3000 v-jassow@microsoft.com

[2017-12-06 22:40] nwhitmont commented on #3850
thanks for the update. Glad to hear you got it working! 👍

[2017-12-06 22:40] #3850 closed

[2017-12-06 22:41] nwhitmont commented on #3844
reopen if you are still having issues

[2017-12-06 22:41] #3844 closed

[2017-12-06 22:41] nwhitmont commented on #3842
reopen if you're still having issues

[2017-12-06 22:41] #3842 closed

[2017-12-06 22:42] nwhitmont commented on #3851
closing as no reply from user -- reopen if you're still having issues

[2017-12-06 22:42] #3851 closed

[2017-12-06 22:44] JasonSowers commented on #3566
Are you able to post your complete bot code so we can try to reproduce?

[2017-12-06 22:46] JasonSowers commented on #467
@agollasrikanth can you please open a new issue?

[2017-12-06 22:47] amehta3000 commented on #3808
@JasonSowers sent

[2017-12-06 22:51] JasonSowers commented on #3808
I received them and have forwarded them to the sfb team, I will let you know as soon as I hear something.

[2017-12-06 22:54] nwhitmont commented on #3358
The reason here is because the `from.id` in your example is 68 characters, and the limit is 64 bit value encoded (see comment in #306)

[2017-12-06 22:54] #3358 closed

[2017-12-06 23:36] yfan183 opened #3884 "[LUIS/.NET SDK] LuisResult only returns 1 intent"
In the list intent property, my LuisResult only returns 1 intent instead of a list of intents

[2017-12-06 23:46] sushovannits commented on #3876
`//Setting up the get started button reqd for persistent menu
var restify = require('restify');
var builder = require('botbuilder');
var botbuilder_azure = require("botbuilder-azure");
var path = require('path');
var documentDbOptions = {
    host: '<db uri>',
    masterKey: '<key>',
    database: 'botdocs',
    collection: 'botdata'
};
var docDbClient = new botbuilder_azure.DocumentDbClient(docum

[2017-12-06 23:47] stevengum97 commented on #3884
@yfan183, can you try using the following code when creating your LuisModel?

[code]

The verbose flag will request that LUIS send back a list of intents as opposed to just the top scoring intent.

[2017-12-06 23:55] JasonSowers commented on #3884
Closing as duplicate of https://stackoverflow.com/questions/47684559/c-sharp-luis-chatbot-extract-all-intents-from-luisresult please refer to my answer there

[2017-12-06 23:55] #3884 closed

[2017-12-06 23:57] JasonSowers commented on #3876
@sushovannits this is completely unrelated to the original issue, please open a new issue

[2017-12-07 00:29] yfan183 commented on #3884
Problem not solved

[2017-12-07 03:54] Aethix opened #3886 "[Question] ChatConnector: receive - no security token sent."
I'm trying to make a simple chatbot running on a local Node.js instance and accessed with a simple client. However, when I send my request I get a 401 Response and the error `ChatConnector: receive - no security token sent` is displayed in the console. How do I turn off the requirement for security tokens?

[2017-12-07 04:38] stevengum97 commented on #3884
Going off of your edit to your Stack Overflow question (your [edit](https://stackoverflow.com/revisions/47684559/5) indicating that the problem was solved), I'm going to leave this closed.

[2017-12-07 04:41] stevengum97 commented on #3886
Can you provide more information? What do you mean by "a simple client"? What does your instantiated `ChatConnector` look like?

[2017-12-07 04:55] ersachit commented on #3842
Hey @nwhitmont, the issue is not resolved. You were asking for the GitHub URL and I shared that in above comment but the issue is closed by you. Is there anything I need to share so that you can look into it as the same code is running on my local or other servers(Heroku) but when I deployed to Azure it is giving me an error. Please reopen this issue. Here is the link to the GitHub repository-

ht

[2017-12-07 08:56] Ferdyyy commented on #3091
I still got this issues. Anything I can do to fix it?

[2017-12-07 09:20] Ferdyyy commented on #3091
My Bot is still using the standard code that was created through the Azure Portal. And even in there, when I test it, it is not running.

[2017-12-07 09:27] michaelhutchful commented on #3091
1. Were you ever able to connect to the service?
2. When you code to qnamaker > my services > view code, copy what you see

Sent from Mail for Windows 10

From: Ferdinand Hof
Sent: 07 December 2017 09:21
To: Microsoft/BotBuilder
Cc: michaelhutchful; Comment
Subject: Re: [Microsoft/BotBuilder] [Cognitive Services API] Bot unable toConnect with QnAMaker. (#3091)

My Bot is still using the standard c

[2017-12-07 09:37] Ferdyyy commented on #3091
1. I am not sure, connecting to the bot in the emulator works fine but when I want to send a message it gives me this error:
![capture](https://user-images.githubusercontent.com/3172023/33708375-9266d35c-db3a-11e7-9dd0-2dd761eb62cc.PNG)

2. This is the sample code:
POST /knowledgebases/a61ab29b-12ee-45c5-ad85-8f6c27db08a3/generateAnswer
Host: https://westus.api.cognitive.microsoft.com/qnamaker/v2.

[2017-12-07 09:47] michaelhutchful commented on #3091
`public class QnAMakerV2
    {
        private string data = string.Empty;
        static string methodURL = "https://westus.api.cognitive.microsoft.com/qnamaker/v2.0/knowledgebases/f9a5b704-817a-4be3-96f1-29adf9828197/generateAnswer";

        [Dependency]
        public static HttpClient Http { get; set; } = new HttpClient();
        public static string MethodURL { get => methodURL; set => meth

[2017-12-07 09:52] Ferdyyy commented on #3091
Unfortunately I have no idea where this class you copied code from would appear in my project.
I used the standard QnA Template from Azure.

[2017-12-07 09:56] michaelhutchful commented on #3091
Just add the class as a new class. Firstly, you have to add your subscription key. Then to use this,
`var qnaMaker = new QnAMakerV2()
var answer = await qnaMaker.GetAnswerAsync("Hi")`

[2017-12-07 12:45] jrmcdona opened #3887 "[Bot Portal] Issues with Bot Regisration portal?"
## Bot Info
* App ID: 0bfc5429-ac88-4a25-b413-538d11d0ce10
* Active Channels:  Skype
* Deployment Environment: localhost/bot emulator

## Issue Description
When I log into the registration portal it seems my bot hygiene is not good.  I see this right away.

Any idea what is wrong with the basic set up?   Also the "Test" button seems to not work in the portal.

![image](https://user-images.githubus

[2017-12-07 13:00] debnathSD commented on #1389
@eanders-MS I am passing a secret token through the username field (can't pass it through userid because its length is greater than 64 characters) of the webchat URL. But in the webchat, the token is visible as it has been passed via username field. Is there a way to reset the username to 'You' or any other name after passing a token through the username field in the webchat?

[2017-12-07 13:21] jazzmn commented on #3602
i would reopen it.. i think it's still the same problem which is unsolved until now.

[2017-12-07 14:36] demongodYY opened #3888 "[Docs Translation] Bot Builder SDK for Node.js doc translated to Chinese"
## Issue Description
 hi, I am learning how to use Bot Builder SDK for Node.js to create a cool bot. So I readed doc about these, and I am trying to translate it to chinese (processing).  I want to share it to more people, and want get some suggestiones. :)

## Code Example
  This is page for my translate :  [bot-framework(zh-cn).md](https://github.com/demongodYY/demongod-bot/blob/master/bot-frame

[2017-12-07 14:54] sherifsarhan commented on #3876
@JasonSowers @sushovannits @FranciscoPonceGomez
I have narrowed down the issue.
I'd like to preface by saying that I have correctly implemented CosmosDB and the issue still occurs.

Yesterday, I interacted with the chatbot on botframework.com and FB Messenger and got responses.

After a day of inactivity, I go on to the web chat on dev.botframework.com and FB Messenger to see if I can still reprod

[2017-12-07 14:59] sherifsarhan commented on #3886
@Aethix In your emulator, before connecting, make sure you have these settings filled in.
<img width="794" alt="chatemulator" src="https://user-images.githubusercontent.com/6098862/33721524-4749a412-db35-11e7-8ddb-92b4663781aa.PNG">

[2017-12-07 15:07] sherifsarhan commented on #3876
@JasonSowers @sushovannits @FranciscoPonceGomez
I think I may have found the solution. Azure App Service has the "Always On" Feature which is not available to the Free Tier. I believe, given the description of my issue, this would fix it. So I think we can mark this as resolved.

[2017-12-07 15:20] pascaly commented on #3764
Hello @etbuilder I'm working to a chatbot that needs the operator handover. I'm using as primary my chatbot app and as secondary the InBox of facebook. Anyway I see many strange behaves... It seems that if I operate from the facebook business manager to change the handover status from ARCHIVE (that as far as I understood means chatbot) and InBox (that is the operator) or viceversa, this status is

[2017-12-07 15:44] ricklove commented on #327
I'm not sure what you are using to implement it, but basically you need to have a hierarchy of models:

The first NLP model will select the category of your request.
Then you have multiple 2nd level NLP models that would handle requests of a specific category.

That is the concept anyway, whether it works or not is a different question.

Obviously a single model that can identify all intents is th

[2017-12-07 16:23] uditx commented on #3874
facing similar issues, any help

[2017-12-07 17:11] henriquehfr commented on #327
@ricklove I've solved this using the [LuisRecognizer `onEnabled` function](https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.luisrecognizer.html#onenabled).

At the `botbuilder` middleware level, I've tracked all messages that matches an specific intent or regex. Then, on the `onEnabled` function I've applied a filter to enable or disable all recognizers accord

[2017-12-07 17:31] nwhitmont commented on #3886
Hi @Aethix - It is totally normal to see this message when testing your bot with the Emulator during local development. It is just a reminder and there is no "off" setting.

When your bot is running locally on your machine, you don't need to have the AppId and Password configured in the Emulator to test. Once your bot is deployed to Azure or other cloud, and you want to use the Emulator to test th

[2017-12-07 18:01] JasonSowers commented on #3868
@FranciscoPonceGomez Do you have any insight on this? I know you have been looking into QnAMaker.

[2017-12-07 18:03] nwhitmont commented on #3887
Hi @jrmcdona - Thanks for reporting.

It's possible that your bot portal issues automagically resolved themself.  When I checked your bot in the portal just now, the bot was responding normally and I didn't see any errors or warnings.

Let me know if you are still seeing the issue.

[2017-12-07 18:33] ersachit commented on #3842
Hey @nwhitmont, can you please check the code that I shared in above comment that do I need to make any changes in code as there are some changes being done in the official documentation regarding state changes?

[2017-12-07 18:54] nwhitmont commented on #3883
@jetk - Were you able to get it working using the code example?

[2017-12-07 19:03] JasonSowers commented on #3808
@amehta3000 can you prodive this?

From the sfb team:

[2017-12-07 19:13] nwhitmont commented on #3235
reopen if you're still having issues

[2017-12-07 19:13] #3235 closed

[2017-12-07 19:25] JasonSowers commented on #3874
@Sandeepmahala are you able to put your entire project in a repo for us to look at? There's just not enough here to really help look into this

[2017-12-07 20:23] youtoofan commented on #3868
@JasonSowers i think you are right: [https://github.com/Microsoft/BotBuilder-CognitiveServices/issues/39](url)

[2017-12-07 21:39] nwhitmont commented on #3878
To summarize the current situation:
- not all channels provide locale (language code) information in `Activity.locale`
- some channels have it, but it's not necessarily stored in `Activity.locale`  (Teams, Telegram)

[2017-12-07 21:40] #3708 closed

[2017-12-07 21:44] nwhitmont commented on #3674
Thanks for the update.

The Bot Framework team is currently working on a complete re-write of the SDK in the v4 line to address problems like this.

Stay tuned for SDK4 preview coming early 2018.

[2017-12-07 21:44] nwhitmont commented on #3713
reopen if you still have questions

[2017-12-07 21:44] #3713 closed

[2017-12-07 21:45] #3771 closed

[2017-12-07 21:45] nwhitmont commented on #3812
reopen if you're still having issues.

[2017-12-07 21:45] #3812 closed

[2017-12-07 21:48] nwhitmont commented on #3813
reopen if you still have questions.

[2017-12-07 21:48] #3813 closed

[2017-12-07 21:49] nwhitmont commented on #3880
@sajal2692 Were you able to resolve your issue using the suggested methods?

Let me know if you have additional questions.

[2017-12-07 21:52] JasonSowers commented on #3527
can you please provide your implementations of `SearchClass` and `ListItem`

[2017-12-07 21:56] nwhitmont commented on #3814
If you want to send a full Slack message, you need to put the extra Slack-specific message data in the message object's `channelData` as described in this article:

https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-channeldata#create-a-full-fidelity-slack-message

Another thing to note, is the new SDK4 line currently in development, which will be a complete re-write of the f

[2017-12-07 21:58] #3888 closed

[2017-12-07 22:41] sushovannits commented on #3876
@JasonSowers  The issue seemed related because it was the same gateway timeout error that I was receiving. @sherifsarhan Exactly my observation is the same. Initially I thought that the botbuilder package must have got some new updates which was causing the slow down. So, I even downgraded to 3.7. This actually improved the performance, I could get the response after a minute of getting the first

[2017-12-07 22:51] JasonSowers commented on #3876
@sherifsarhan thanks for the update.  If the always-on feature does not work, the other option you have is to send your bot a ping activity (`ActivityType.Ping`) periodically I would suggest 30 minutes or less.  This can be done with a web job or something similar.

Unfortunately, the downside for AWS Lambda and Azure Functions because they have to "spin up" after they have been put to sleep it ca

[2017-12-07 23:13] SynerG opened #3891 "[Question] BotBuilder SDK v4 Roadmap?"
Some issues such as #3639 (limitations of the current i18n implementation) or #3674 (Waterfall default behaviour) have been closed because there is a **SDK v4** in the works that is expected to solve them or provide the means to do it.

**v4** has been said to be *"a complete re-write"* of the SDK and *"much more modularized"*, but beyond that there is not much information about it.

It would grea

[2017-12-07 23:46] nwhitmont commented on #3696
Hi @gerardoemr - I am unable to reproduce the error.

I cloned the [example repo](https://github.com/nwhitmont/botframework-node-v3-receive-attachment), ran 'npm install', followed by 'npm start', connected Emulator to bot at `http://localhost:3978/api/messages`, clicked on image upload button in Emulator, selected image file from computer, clicked send in Emulator, and the bot replied without err

[2017-12-08 02:22] jrmcdona commented on #3887
Yup stil there.   It is also there for the other FTE team member.
https://dev.botframework.com/bots?id=AmbPreviewSkypeBot

[2017-12-08 04:24] ersachit commented on #3842
Hey @nwhitmont , @JasonSowers, I am waiting for your reply as I am still getting issue.

[2017-12-08 04:52] MadhuAcc12 opened #3892 "[QnA Maker] Repeated response under a conversation id"
I noticed that if the number of messages under the conversation id exceeds 100 the bot keeps giving the response of the 99th question. This is affecting my application's accuracy. One of the conversation id for which I faced this shows only 5 questions under it which means the number of questions did not reach 100 and still I get the response of that question as the same as the 99th question. Coul

[2017-12-08 05:37] patilnitiny commented on #3874
Facing similar issue..does anyone got the solution / workaround?

[2017-12-08 07:09] madukapai opened #3893 "[Facebook] why am I getting message "already in use by another bot""
## Bot Info
* App ID: 3ce561e7-dff8-47d9-b926-edca552e6e4a
* SDK Platform: .NET
* SDK Version:
* Active Channels: Facebook
* Deployment Environment: Auzure Bot Service

## Issue Description
hi Team
I create a Bot Service on Azure
When I set up a Facebook Channel, I got this error message
![image](https://user-images.githubusercontent.com/13964722/33754884-503bc808-dc29-11e7-9cc0-cf878d439d03.png)

[2017-12-08 07:50] karbentur commented on #3875
Yes, bot is worked very well. My question was is "what exactly happened in this case [Telegram API returned a result code indicating non-success]" (i tried to send large videofile, maybe there is some restrictions?) and "where I can see more details if possible". Thanks.

[2017-12-08 09:02] sajal2692 commented on #3880
Hi @nwhitmont , sorry for the late reply. I tried out the methods you listed, here are the results:

Couldn't find these options for the latest Skype version for MacOs and Ubuntu 16.04

Tried this, doesn't work. It recovers the chat history upon re-adding the bot.

This has mixed results for me. I could delete the conversation on web.skype.com. On an initial look, it looked like it had no effect o

[2017-12-08 12:16] srozga commented on #3814
Of course, but this interface doesn't support ephemeral messages, right? In that case, I need to either call chat.postEphemeral or use an interactive message's response_url. In both cases, the dialog state will not save because I'm not using session.send.

The ephemeral use case, ok. But responding to response_url is a big part of responding interactive message flows in Slack. Using the above code

[2017-12-08 12:51] xjose97x commented on #3892
Can you please share more information? Are you using DirectLine in .NET or NodeJS?

Usually when you receive repeated answers is because you're not sending a watermark in your request or the watermark is not updated.

[2017-12-08 13:09] mikepugh commented on #3625
Ok we managed to get our bot setup in our Skype for business environment. It was as simple as using a `@tenant.onmicrosoft.com` address for the bot.

[2017-12-08 13:09] #3625 closed

[2017-12-08 15:03] aseemrastogi opened #3894 "[Node.js] Why is Echo Bot code not working for me in skype or webchat?"
## Bot Info
* App ID: 0f6277fb-1e76-4a6d-a641-f1de7d8d9f63
* SDK Platform: Node.JS
* SDK Version: 3.13.1
* Active Channels: Skype, WebChat
* Deployment Environment: Self hosted Node over selfsigned SSL certificates. Channel emulator wrks fine

## Issue Description

![image](https://user-images.githubusercontent.com/16461668/33771148-fbccd35c-dc55-11e7-9f10-69e666885ba3.png)

## Code Example
https:

[2017-12-08 15:08] anilpras commented on #3566
@JasonSowers : The code is hosted here https://github.com/nirmalrayan/medibot
There is a change in the URL https://medibot.azurewebsites.net/

[2017-12-08 16:28] nirmalrayan opened #3895 "Why Botframework bot is not online anymore?"
## Bot Info
* App ID: 31db772c-9761-4b25-b568-f1e140b26b4a
* SDK Platform: Node.js
* SDK Version: v6.9.1 on server and v6.11.1 on my pc
* Active Channels: Web Chat, Skype
* Deployment Environment: Azure App Service

## Issue Description
Our bot (Medibot, https://medibot.azurewebsites.net) has suddenly stopped working on all channels including WebChat. It used to work perfectly on Emulator though b

[2017-12-08 16:36] JasonSowers commented on #3892
Have you implemented a state store or are you using the default?

[2017-12-08 16:42] JasonSowers commented on #3875
How big was the file?  [This Telegram blog](https://telegram.org/blog/shared-files) shows that you can send up to 1.5gb files.

[2017-12-08 17:09] nwhitmont commented on #3566
@nirmalrayan
When I checked the new URL, the server returned the following errors:

--------
iisnode encountered an error when processing the request.
HRESULT: 0x2
HTTP status: 500
HTTP subStatus: 1001
HTTP reason: Internal Server Error
You are receiving this HTTP 200 response because system.webServer/iisnode/@devErrorsEnabled configuration setting is 'true'.
In addition to the log of stdout and s

[2017-12-08 17:16] nirmalrayan commented on #3566
Hi Nils,
My code is available at nirmalrayan/medibot. It seems to execute without any errors. I've attached screenshot for reference. 

|
|
|
|  |  |

 |

 |
|
|  |
nirmalrayan/medibot

medibot - Conversation Bot for Medi Assist and MediBuddy using Microsoft Bot Framework
 |

 |

 |

Regards,

Nirmal Rayan
M.Tech (Computer Science & Engg.), B.E
+91 99163 68334 

    On Friday, December 8, 2017, 10

[2017-12-08 17:26] nirmalrayan commented on #3566
The only document missing in my code will be the .env file. I could share the file with you if you want to reproduce the issue at your end. Kindly expedite.
Regards,

Nirmal Rayan
M.Tech (Computer Science & Engg.), B.E
+91 99163 68334 

    On Friday, December 8, 2017, 10:45:14 PM GMT+5:30, Nirmal Rayan <nirmal_rayan@yahoo.com> wrote:

 Hi Nils,
My code is available at nirmalrayan/medibot. It seem

[2017-12-08 17:46] JasonSowers commented on #3895
Closing as duplicate of #3566

[2017-12-08 17:46] #3895 closed

[2017-12-08 18:01] JasonSowers commented on #3893
Thanks for reporting, let us look into this for you.

[2017-12-08 18:29] JasonSowers commented on #3893
I have confirmed Facebook Page 125143697558679 is already registered to another bot.  This is the reason you are seeing this error.  The bot it is registered to has a very similar name to yours.  I will reach out via the email address registered to that bot.

[2017-12-08 20:34] JasonSowers commented on #3894
Could you please post your complete bot's code as well.

[2017-12-08 21:13] JasonSowers commented on #3894
Just to clarify I followed [these instructions](https://docs.microsoft.com/en-us/bot-framework/nodejs/bot-builder-nodejs-quickstart) to build the bot, and [these instructions](https://docs.microsoft.com/en-us/bot-framework/deploy-bot-github) to deploy and it was working for me.

[2017-12-08 21:22] amehta3000 commented on #3808
Sent privately to you via email, hope it suffices. LMK. thx

[2017-12-08 21:34] JasonSowers commented on #3808
There is an ongoing discussion I will update you as I get information.  At this point, I would look into possibly changing your HTML to markup.

[2017-12-08 22:20] deybhayden opened #3896 "[REST API, Skype] AudioCard audio URL not actually working on macOS & Android"
## Bot Info
* App ID: c9391606-842e-44a1-a466-28da1d9d7c46
* SDK Platform: REST API
* SDK Version: N/A
* Active Channels: Skype, Cortana
* Deployment Environment: AWS Elastic Beanstalk

## Issue Description

AudioCards in Skype (macOS) do not play the audio. I click the play button (which I shouldn't have to do, since I have `autostart` set to true), it just spins. When I try to play the audio on

[2017-12-08 23:01] mminchev commented on #3831
Hi guys, I am also waiting for this fix. When should we expect the fix to be released to production?

[2017-12-08 23:54] amehta3000 commented on #3808
Thanks Jason,
I think it is interesting cause Markdown renders down to HTML so I would expect HTML to just work out the box.
That being said, I've started trying to use Markdown but it just doesn't render as well as HTML, and we lose the ability to show color along with formatting font sizes that I can get with HTML on a PC.

Seem the only thing I can get is **bold** and _italics_ to work.

My mai

[2017-12-09 01:57] madukapai commented on #3893
Thank you for your assistance
The Facebook page has 150,000 people tracked and contacted more than 1 million people
Connect bot framework is very important to my company

[2017-12-09 03:55] mlnewbie opened #3897 "[State Service] session.dialogData issue after switching to in-memory storage?"
**Bot Info**
* App ID: cb62b172-3eab-4c33-9fb9-4df68f35cf70
* SDK Platform:  Node.js
* SDK Version: 6.5.0
* Active Channels: Slack, WebChat
* Deployment Environment: Auzure Bot Service (Consumption Plan), LUIS Bot

**Issue Description**
Updated the bot to use inMemory Bot Storage but session.dialogData variables are not getting stored

**Code Snippet**

[code]
**Output**
undefined Policy number

*

[2017-12-09 05:17] aseemrastogi commented on #3894
Hi - I see that one of the requirements you listed is a SSL certificate by trusted root CA. As I mentioned, I am using self-signed certificates. Could that be the root cause of issue? Where can I see SSL handshake error or debug?

I mean for testing 'Hello World' it is a very burdensome requirement on developers.

Please let me know if there are any possible workarounds.

Appreciate your time & he

[2017-12-09 06:10] aiueoH commented on #3825
I want to get all messages too, there are no different between directly message and group if receive messages only with mentioned in group

[2017-12-09 12:21] Gh0s7 opened #3898 "[Question] Multiple types were found that match the controller named 'messages'?"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: Web
* Deployment Environment: Auzure Bot Service

## Issue Description
Bot works fine on localhost, however I get this exception in my analytics when I deploy it:

POST to the bot's endpoint failed with HTTP status 500

I also found out that navigating to myboturl/api/messages returns an exception, that can be the source o

[2017-12-09 14:04] denisyfrolov commented on #3878
@nwhitmont you forgot Skype. Teams, Telegram and Skype do NOT provide locale. But what channels do? I know the only one. It is the Emulator, but I don't think we can count it.

Also, I want you to understand, the main problem is NOT about having the field or not. The main problem is built-in localization doesn't work at all because of the field is incorrect.

[2017-12-09 14:37] satyansh-sagar opened #3899 "[WebChat] How to Remove User Name and Bot Name after the messages being sent?"
## Issue Description

I want to remove user name and bot name after each message being sent and received.
Refer the screenshot below :
![issue](https://user-images.githubusercontent.com/30821164/33796551-6fcec1cc-dd1c-11e7-9b49-e34d420fba6e.PNG)

In  the image i want to remove 'Lindsey from maids in black' and 'userid' after each message.

[2017-12-09 14:38] #3820 closed

[2017-12-09 18:39] logcorner opened #3900 "[Localization] JSON.parse Unexpected token ﻿ in JSON at position 0 on DefaultLocalizer.js"
Hi, I think there is a bug in botbuilder nodeJs . var entries = JSON.parse(data); throws an exception on file DefaultLocalizer.js the error message is : Unexpected token ﻿ in JSON at position 0 . notes : data = "﻿{"locale_prompt": "test"}" and is retrieved from ressouce file (locale/en/index.json)
but if I hardcode data = '{"locale_prompt": "test"}' it works fine

[2017-12-09 19:58] nwhitmont commented on #3897
@mlnewbie What happens after you upgrade `botbuilder` to `3.13.1` (current)?

[2017-12-09 20:07] nwhitmont commented on #3899
Hi @satyansh-sagar - If you would like to customize the WebChat module, you can find the source code and instructions here:

https://github.com/Microsoft/BotFramework-WebChat

[2017-12-09 20:09] nwhitmont commented on #3900
@stevengum97 thoughts?

[2017-12-09 23:08] logcorner commented on #3900
Hi, if I replace  line 1 by line 2, it works

1. var entries = JSON.parse(data);
2. var entries = JSON.parse(data.toString('utf8').replace(/^\uFEFF/, '')); //JSON.parse(data);

Best regards

[2017-12-10 07:30] etbuilder commented on #3764
Hey,

Once you pass thread control from main to page, are you using the page inbox app id "263902037430900", if the pass is successful you should receive success (I don't think in this case you will receive a web-hook event).

Once you press "Done" on a message from the inbox, you should receive the event, but, the issue is that bot-connector drops it. If you need this event, you need to intercept

[2017-12-10 15:40] mlnewbie commented on #3897
Hi I tried specifying botbuilder directly as 3.13.1 in package.json and then did an npm update but the issue persists. Have reverted back to specifying ^3.7.0 which I think anyway pulls the latest version? Thanks

-----Nils <notifications@github.com> wrote: -----
To: Microsoft/BotBuilder <BotBuilder@noreply.github.com>
From: Nils <notifications@github.com>
Date: 12/10/2017 01:28AM
Cc: mlnewbie <sh

[2017-12-10 15:49] aseemrastogi commented on #3894
Hi - after adding SSL certificates it works fine for webchat.
Skype gives error -

Error: POST to 'https://smba.trafficmanager.net/apis/v3/conversations/29%3A1xxxxxxOp/activities' failed: [400] Bad Request
    at Request._callback (C:\Software\msft-bot\node_modules\botbuilder\lib\bots\ChatConnector.js:545:46)
    at Request.self.callback (C:\Software\msft-bot\node_modules\request\request.js:186:22

[2017-12-10 19:58] FranckyC commented on #3871
Same here even after tried every tips above.

[2017-12-10 20:10] mingweiw commented on #3871
Sorry for the problem. We've identified the issue and are working on a fix. I'll report back when it's fixed. Thanks!

[2017-12-10 21:55] nwhitmont commented on #3900
Thanks for the update @logcorner - Glad to hear you found a solution.

[2017-12-10 21:55] #3900 closed

[2017-12-10 21:56] nwhitmont commented on #3896
I think this is a known issue with the Skype mobile clients.

[2017-12-10 22:01] nwhitmont commented on #3896
@deybhayden Here's what's happing - Skype requires HTTPS for media URLs - but the demo URL from `wavlist.com` doesn't support HTTPS.

Try another media URL that is available over HTTPS and it should work.

Relates to #2708

[2017-12-11 01:32] an0o0nym opened #3901 "[Question] Bot displays unnecessary messages?"
## Bot Info
* App ID: 49dc61c9-2cf3-4ea8-833d-0be3ad81b86c
* SDK Platform: Node.js
* SDK Version: 3.9.1
* Active Channels: Direct Line, WebChat
* Deployment Environment: Azure App Service

## Issue Description
When a user visits my chat for the first time they are greeted with welcome message and immediately asked to provide their first name. As soon as the user inputs their first name the welcome

[2017-12-11 05:30] sushovannits opened #3902 "[Question] replaceDialog and builder.Prompts.* does not work when replaceDialog is inside the main dialog?"
## Bot Info
* App ID: 2521dc1d-4b6d-448a-a886-0317fd07f7a6
* SDK Platform: Node.js
* SDK Version: `botbuilder@3.13.1`
* Active Channels: WebChat
* Deployment Environment: ngrok

## Issue Description
* The bot begins a 'mainBotMenu' dialog that prompts user two choice of QnA and Bye. Clicking on QnA beginDialog 'q&aDialog' whereas 'Bye' should end the conversation.
* Intention is to make this 'main

[2017-12-11 07:58] Kadae commented on #3122
Is it possible to disable this messages?

[2017-12-11 08:55] christianfelixmerz opened #3903 "[Question] How to show HTML Content in card or attachment?"
Is it possible to show HTML Content in a Bot Card/Attachment?
In this Case, we retrieve the content field of a Dynamics 365 CRM Knowledge Article which is in HTML Format and want to show it to the customer.

[2017-12-11 09:06] #3840 closed

[2017-12-11 09:30] yochail commented on #3881
@JasonSowers any updates? what did you do to make it work?

[2017-12-11 10:23] MadhuAcc12 commented on #3892
Why is this post tagged to QnAMaker? I am not using QnAMaker. I am using the Bot framework and I have not implemented anything called as state store.

[2017-12-11 10:23] MadhuAcc12 commented on #3892
Why is this post tagged to QnAMaker? I am not using QnAMaker. I am using the Bot framework and I have not implemented anything called as state store.

[2017-12-11 10:25] MadhuAcc12 commented on #3892
@xjose97x I am using directline in .net

[2017-12-11 11:08] jpieres commented on #3853
Thanks Jason, yes, we are using the default state service and we are in the process of migrating to external persistence (CosmoDB) for state. We are planning to switch but we wanted to be able to check already existing conversations to warn users about their dialogs being reseted. That is why we tried to access the default state service through the API. Never mind, we will upgrade as you recommend

[2017-12-11 13:16] Mimetis commented on #3872
Any update on this issue ?
I have the same problem, using the NodeJS SDK.

[2017-12-11 15:21] fms-santos commented on #3831
@brene I still can't see any fix on the https://swc.cdn.skype.com/sdk/v1/sdk.min.js SDK. Any news on this issue?

[2017-12-11 15:37] xjose97x commented on #3892
@MadhuAcc12 The reason why you're facing this issue is most likely due to the watermark not being sent and/or updated.  Did you check that?

[2017-12-11 15:40] pascaly commented on #3764
Hi  @etbuilder, thanks for your reply. In my case, the issue is on facebook it self: even if I disconnect all the webhook and api management for handover, I see that facebook switches from ARCHIVE to INBOX the conversation, automatically. That seems a facebook bug. My question is if someone experienced this behave.

Thanks

[2017-12-11 15:43] etbuilder commented on #3764
Have you set your configuration for the page, app as primary and page inbox as secondary?

[2017-12-11 15:52] pascaly commented on #3764
Sure. I see the events and previously it was working. suddenly, it started to switch back to INBOX even if I selected ARCHIVE. Once I select ARCHIVE it correctly moves back to ARCHIVED folder, but after the first message is sent to the BOT it goes back to INBOX. This happens also without BotBuilder.

[2017-12-11 16:23] deybhayden commented on #3896
I tried this URL, and it does not work: https://ccrma.stanford.edu/~jos/wav/bachfugue.wav. Also, tried MP3 files on a HTTPS CDN and they don't work either - just spinning when I hit play.

[2017-12-11 16:47] ThisIsColinB opened #3904 "[WebChat] Getting 503 (Service Unavailable) and 502 (Bad Gateway) errors?"
## Bot Info
* App ID: 62a3f1ae-f10a-43f4-ac70-d2c22b3f69a5
* SDK Platform: .NET
* SDK Version: 3.8.5
* Active Channels: WebChat
* Deployment Environment: Azure App Service

## Issue Description
Webchat responses/requests seem to be significantly slower than before. Started experiencing this a couple hours ago. No code change, this just started happening all of a sudden.
Every 2nd or 3rd request ca

[2017-12-11 17:08] JpEncausse opened #3905 "[Question] Missing ServiceURL in BotBuilder messages?"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.13.1
* Active Channels: DirectLine, Emulator, WebChat
* Deployment Environment: Custom Azure Server

## Issue Description

Get the issue `ChatConnector: send - message is missing address or serviceUrl.`
The root cause is that BotBuilder send messages without `ServiceURL`

This **issue is at random**, when a user lost it's ServiceURL url it conti

[2017-12-11 18:09] gerardoemr commented on #3696
@nwhitmont Hi! I managed to make it work with the steps you provided.Thanks!

[2017-12-11 18:09] #3696 closed

[2017-12-11 18:11] FranciscoPonceGomez commented on #3903
Hi
@christianfelixmerz,

HTML is not directly supported.
https://blog.botframework.com/2017/09/07/html-not-supported-web-chat/

If HTML rendering in Web Chat is a critical feature for your applications, you can clone or fork a copy of the Web Chat source code from GitHub, and enable it (on your own custom Web Chat client):
https://github.com/Microsoft/BotFramework-WebChat#markdown

Regards,
Franci

[2017-12-11 18:35] nwhitmont commented on #3905
Hi @JpEncausse - Thanks for reporting.

How do you reproduce this error? Or is is just random?

Can you provide a `conversationId` for an instance where the error happened? This is useful for us in tracking down the issue.

[2017-12-11 18:37] #3899 closed

[2017-12-11 19:25] ederbond opened #3906 "[InMemoryDataStore] Throwing "Inconsistent SaveAsync based on ETag!""
## Bot Info: Bot da Toro
* App ID: 0b0170f6-6a74-44a8-889d-2faa73ca62bb
* SDK Platform: .NET
* SDK Version: "Microsoft.Bot.Builder" version="3.12.2.4"
* Active Channels: Direct Line
* Deployment Environment: ngrok + local IIS hosted in Brazil

## Issue Description
I'm frequently receiving this error while interacting with my bot via Directline-JS:
![image](https://user-images.githubusercontent.com

[2017-12-11 19:26] JpEncausse commented on #3905
It seems to be at random until the wrong service URL is triggered.

We don't think it comes from our code because the mesage received from BotBuilder has the very begining missed the serviceURL parameter.

Could it be related to something you are working on with Europe bot-services ?

[2017-12-11 19:44] ederbond commented on #3787
I'm having the same issues here with my bot build in .net and consuming via DirectLine-JS:
BotId: 0b0170f6-6a74-44a8-889d-2faa73ca62bb

[2017-12-11 19:59] nwhitmont commented on #3906
Hi @ederbond - Direct Line has a 15 second timeout. If your bot is taking more than 15s to respond, then you need look at code or network optimizations to get the response time within range.

[2017-12-11 20:47] EricDahlvang commented on #3898
Hi @Gh0s7

Please share your project, or at least the messages controller, so we can take a look.

[2017-12-11 21:24] EricDahlvang commented on #3906
@ederbond There is a 40 connections / minute limit on the free tier of ngrok:  https://ngrok.com/pricing  Maybe that limit is being exceeded.

[2017-12-11 21:33] Gh0s7 commented on #3898
Hi there and thanks for the reply.
Here's my MessagesController (please note that I don't have any other controller in my solution):

[code]

It's basically the one generated by the template with just some tracing and the redirect to my RootDialog.
I already searched on StackOverflow but I think my situation is quite different from the others as I only have one controller and no weird things in my

[2017-12-11 21:51] deybhayden commented on #3576
I can open a new issue if that's preferred, but it looks like Cortana channel also thinks there is something wrong with this activity type. She says

[code]

[2017-12-11 22:28] jldenigris opened #3907 "[Bot Service] Cannot change bot settings- Receive error: "CorrelationID: |eOT3Y.6b19c262_"?"
## Bot Info
* App ID: c7045879-2c6b-4d1f-bcc8-32a5c46e9da0
* Deployment Environment: Azure Bot Service

## Issue Description
I created a QnA bot via Azure/Microsoft QnA maker. Ever since creation I have been unable to edit any of the settings and save without receiving the error: CorrelationID: `|eOT3Y.6b19c262_`

I would like to be able to change the name of the bot and input my LUIS app ID.

##

[2017-12-11 22:57] nwhitmont commented on #3882
@camilanunes - I followed up with the Skype Web Control team, and unfortunately they said the audio/video feature of the SWC only works with human user accounts, and is not yet compatible with bots.

[2017-12-11 22:57] #3882 closed

[2017-12-11 22:58] nwhitmont commented on #3896
Thanks for the update @deybhayden  - I will investigate further.

[2017-12-11 23:14] FranciscoPonceGomez commented on #3907
Hi @jldenigris,

Try adding and removing a channel and then hard refresh the page. This is normally just a temporary error and normally goes away after refreshing.

[2017-12-11 23:18] nwhitmont commented on #2708
This issue is happening again. @aery-aery

Audio cards with HTTPS content URLs will not play in iOS Skype client.

[2017-12-12 01:13] camilanunes commented on #3882
Yes. But even with human user accounts, the features are not available. I used the source code available on the website. Do you know what can be happening?

Thanks
Camila

[2017-12-12 03:44] neetgupta7 opened #3908 "[Question] How can I use my own certificate for bot deployed as an Azure App Service?"
* SDK Platform: .NET
* SDK Version: 3.11.0
* Active Channels: Webchat, cortana
* Deployment Environment: Azure App Service

Hello
I am interested in using my own certificate for my azure app service for bot. Once do I need to make any changes in bot registration or anywhere else so the seamless communication is not impacted.

[2017-12-12 07:29] riccardo91 opened #3909 "How to solve the correlationID message for Azure Bot Service?"
## Bot Info
* App ID: bab952c9-70e2-42a2-92ce-5702e8b21c3f
* SDK Platform::NET
* Active Channels: Skype,Web
* Deployment Environment: Visual Studio 2017

## Issue Description
I'm trying to edit setting like description or owner for my bot. But each time i click on save we receive this message:
"CorrelationID: |OZBV5.4b38250_" "CorrelationID: |uytKo.4b3c387_"
and nothing has been saved.

## Reprodu

[2017-12-12 09:42] #3909 closed

[2017-12-12 11:15] uditx commented on #2888
any way to do the same in C# ?? Couldn't find session management in C# code

[2017-12-12 11:35] loretoparisi commented on #710
@dandriscoll I have this problem in the last version of the BotConnector framework:

[code]

and when I connect to the Bot Emulator I get the `ERROR: ChatConnector: receive - invalid token. Requested by unexpected app ID.`.

I'm pretty sure that my MS appID and appPassword are ok. I have migrated to the latest Bot Frameworks, since I have create a new Bot from scratch few days ago, and tried this

[2017-12-12 11:36] loretoparisi commented on #830
@Andrea-Orimoto I'm still facing this issue in https://github.com/Microsoft/BotBuilder/issues/710#issuecomment-351025956

[2017-12-12 11:37] loretoparisi commented on #2390
Still having this issue in https://github.com/Microsoft/BotBuilder/issues/710#issuecomment-351025956

I'm running my bot on a local machine (MacBook Pro).

[2017-12-12 12:35] t-elcohe opened #3910 "[Feature Request] Using observer pattern for logger in Node.js"
Hi,

I'm working with Node.js and I want to be able to save your logs to Application Insights.
SessionLogger object is currently printing all the logs to console.

My first thought was to replace SessionLogger with one of my own, but I couldn't find a suitable interface. I consulted Bot Framework Support Engineers group, which really helped and suggested doing a PR and add the relevant interface.

[2017-12-12 13:50] ihachani opened #3911 "[Question] Calling the bot directlty from code?"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.13.1
## Issue Description
Is there a way to call the bot created by the bot builder directly using a simple method call without using "restify".

[2017-12-12 14:02] nwhitmont commented on #3908
Hi @neetgupta7 - You don't need to add any extra configuration from the bot registration side of things. As long as your bots messaging endpoint is accessable over HTTPS with valid certificate you are good to go.

For more info on configuring your SSL certificate in Azure App Service, see:
https://docs.microsoft.com/en-us/azure/app-service/web-sites-purchase-ssl-web-site

[2017-12-12 14:08] nwhitmont commented on #3911
Hi @ihachani

The short answer to your question is "no". If you don't wire your bot to the restify server module, your bot would have no way to communicate with other web services, aka the bot connector service, and associated channels. The bot is a server-side web application, essentially an API server that handles your bot's messages,  and restify is the server package.

[2017-12-12 14:08] #3911 closed

[2017-12-12 14:11] nwhitmont commented on #3910
@t-elcohe Thanks for the suggestion.

[2017-12-12 14:18] Kris-Nimmagadda commented on #3841
I am still stuck ! Any help please ?

[2017-12-12 14:36] debnathSD opened #3912 "[WebChat] How to set bot's username to 'You' if username="ABCDEFG" has been passed in the URL dynamically?"
## Bot Info

* SDK Platform: Node.js
* SDK Version: Node.js v7.2.0
* Active Channels: Webchat
* Deployment Environment: Azure

## Issue Description

I am passing a secret token through the username field (can't pass it through userid because its length is greater than 64 characters) of the webchat URL. But in the webchat, the token is visible as it has been passed via username field. Is there a wa

[2017-12-12 15:09] JpEncausse commented on #3905
More details:
`bot.dialog('/', [(session) => { /* sometimes the message is completly wrong */ }]);`

But in that case we receive **2 (or 3) messages** ?!!
`bot.on('incoming', (msg) => { info("Message incoming:" + JSON.stringify(msg) ); })`

The first one is OK the second one is KO. It seeems the bot.dialog() receive the second one. We do not understand why we receive 2 messages and why some of tho

[2017-12-12 16:08] ederbond commented on #3906
@nwhitmont  My bot is not taking to much to retrive the response.
According to the application insights it is taking around 2 seconds to retrieve the response. But it is taking an ethernity to flow to the client that is using the DirectLineJS to communicate.

Thank you @EricDahlvang, I'll publish my bot to a public IIS server (without ngrok) and see if the issue persist.

[2017-12-12 16:44] ederbond commented on #3906
Hey @EricDahlvang, look at this (still using ngrok):
![image](https://user-images.githubusercontent.com/12549812/33896242-7b647dcc-df49-11e7-9a8d-f249dddc323b.png)
Sometimes the same request are taking +37 seconds to be posted to bc-directline-brazils.azurewebsites.net | cid-v1:91e46abb-4ce5-4d98-9375-02378f649011

[2017-12-12 16:46] ederbond commented on #3906
According to the application insights it is definetly the botconnector (represented by the "bc-directline-brazils.azurewebsites.net | cid-v1:91e46abb-4ce5-4d98-9375-02378f649011" dependency that is slowing my bot response. Am I right ?

[2017-12-12 17:04] deybhayden opened #3913 "[Cortana] "endOfConversation" results in Cortana reporting that there was an error in skill"
## Bot Info
* App ID: c9391606-842e-44a1-a466-28da1d9d7c46
* SDK Platform: REST API
* Active Channels: Skype, Cortana
* Deployment Environment: AWS Elastic Beanstalk

## Issue Description

I can open a new issue if that's preferred, but it looks like Cortana channel also thinks there is something wrong with this activity type. She says "Uh-oh, There was something went wrong with the selected skill

[2017-12-12 18:10] ederbond commented on #3906
Hello @EricDahlvang, the behavior of the bortframework is kind of scaring me:
Now, I'm randomly receiving a message "Sorry, my bot code is having an issue." while interacting with my bot using 4 instances of my DirectLineJS client.

![image](https://user-images.githubusercontent.com/12549812/33900749-ba340920-df56-11e7-839f-e1a14fbe367b.png)

Could you help-me ?

[2017-12-12 18:26] jorgemrsantos commented on #405
I am stuck with the same problem

[2017-12-12 18:26] etbuilder opened #3914 "[Issue] Delay in bot response after idle time in hours?"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: FB Messenger
* Deployment Environment: Azure App Service

## Issue Description
We are seeing a delay in the bot of around 4-5 seconds when connecting to facebook,botframework.com especially if the bot been idle for hours.

Here is a screenshot of app insights https://i.imgur.com/YCVzevN.png

Our app service is deployed in

[2017-12-12 21:01] renil opened #3915 "botbuilder-azure typescript definition file is missing ConnectionOptions, ConnectionConfig definitions from tedious"
## Issue Description
When building bots using NodeJS and typescript, including botbuilder-azure reference to include Cosmos DB for storage causing build issues.

## Packages used
[code]

## Code Example
[code]

## Reproduction Steps
1. Create a new Node JS project
2. Use typescript to create the main files
3. Include the packages and import the packages to the main file
4. Running tsc causing comp

[2017-12-12 21:16] artemious7 commented on #2635
So where is the solution?

[2017-12-12 22:35] quadfin opened #3916 "Skype Web Control - not answering calls, throws javascript exceptions"
## Bot Info
Not a Bot issue - but this is the only dev forum for Skype Web Control so here it is..

## Issue Description
Cross posting from
[Microsoft Community - Skype for Web](https://answers.microsoft.com/en-us/skype/forum/skype_web-skype_callms-skype_audioms/skype-web-control-not-answering-calls-throws/ce78f0d8-6b5d-47db-929c-5ad27c1b04f1)

The Skype Web Control, when used with a data-contact-

[2017-12-12 22:39] amehta3000 commented on #3647
@intranetchris any resolution on your end? We are seeing the same issues from PC to Mac, along with other SFB formatting inconsistencies between platforms using markdown and/or html.

[2017-12-12 22:49] nwhitmont commented on #3916
Hi @quadfin - This isn't a forum for Skype Web Control questions not related to Bot Framework.

Please contact Skype support for further assistance.

[2017-12-12 22:49] #3916 closed

[2017-12-12 22:52] intranetchris commented on #3647
@amehta3000 No, no resolution. We're just resigned to waiting for SFB to be replaced by Teams.

If you can figure out how to contact the SFB team, let me know. I can't find any similar forum for reporting bugs.

[2017-12-12 22:56] nwhitmont commented on #3915
Hi @renil - Please report the issue on the `botbuilder-azure` project repository. Thanks

https://github.com/Microsoft/BotBuilder-Azure/issues/new

[2017-12-12 22:56] #3915 closed

[2017-12-12 23:15] quadfin commented on #3916
Well, there is no support forum for Skype Web Control nor does the “Skype” team respond to issues relating to Skype Web Control – so where does one post related issues?

Since Skype Bots are dependent (indirectly) upon the Skype Web Control this seems to be the closest match.

I have received other rejections of this “it’s not our problem” nature – who supports this product?

From: Nils [mailto:no

[2017-12-12 23:50] xjose97x commented on #3914
@etbuilder , in which app service plan do you have your bot application hosted on?

The free tier of AppServices in Azure goes to "sleep mode" after an specific interval of time has passed (I believe is around an hour or so). This means, that once the app service goes in this mode, the next request will have a delay (while the app service is going fully on) and then will respond normally with no d

[2017-12-13 03:14] gunnicus opened #3917 "[Code Examples] C# Samples are not building, error "cannot restore Nuget package"?"
## Bot Info
* SDK Platform: .NET

## Issue Description
Samples are not building

## Reproduction Steps
1. Dowanload BotBuilder-master from github, unzip, Open Microsoft.Bot.Builder.Samples.sln with VS2017 community
2. Press F5
3. See errors
4. Manually add reference, still get same error

## Expected Behavior
Build success.

## Actual Results
Severity	Code	Description	Project	File	Line	Suppression

[2017-12-13 03:51] neetgupta7 opened #3918 "[WebChat] Passing user info securely through webchat by using default webchat channel?"
* SDK Platform:  .NET
* SDK Version: 3.11.0
* Active Channels: webchat
* Deployment Environment: Azure App Service

Hello
I know that the userid information can be passed as a query string parameter to the Bot. But if somebody intercepts the url and changes the user id then that may result into security violation. How can I securely pass user information to bot using webchat.

[2017-12-13 06:29] LimShengKai0524 opened #3919 "[Question] Can the Agent(human) concurrent conversation with different user?"
i wish to implement the concurrent conversation with different user at the same time. It is possible for it. Looking forward for the reply. Thank you.

[2017-12-13 08:00] verdysh commented on #3799
@EricDahlvang, thanks for the answer and for an example! I'll look at my leisure.

[2017-12-13 08:08] etbuilder commented on #3914
@xjose97x  We are on the standard plan with always on enabled, and 5 minutes availability tests from app insights, the issue highlighted in the image shows delay in communicating with facebook.botframework.com from our web app.

We are also following this https://blog.botframework.com/2017/11/02/optimizing-latency-bot-framework/

[2017-12-13 08:35] vlttnv commented on #830
@loretoparisi Are you running this in docker? I was experiencing clock drift in my containers. Google for `docker clock/time drift` and you see some solutions.

[2017-12-13 14:33] JPThorne commented on #3904
+1 We are experiencing the same issue basically. It usually only starts to happen for us when the app is under 'load' i.e. 5 or more concurrent users. Which I would not really call much load. This is via our DirectLine integration.

Here are some logs from AppInsights:

System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.WebException: Unable to connec

[2017-12-13 15:30] khawarashraf opened #3920 "[Skype] Cannot send message to bot - getting "Message Not Sent" error?"
## Bot Info
* App ID: 6d31eccc-ea5f-47b7-aaa0-7befb04a17a7
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: Skype
* Deployment Environment: Azure App Service

## Issue Description
When I add bot to Skype, it says cannot send message to bot.

## Reproduction Steps
1. Add bot to skype
2. send message
3. error "not sent"

## Expected Behavior
Should send message

## Actual Results
Mess

[2017-12-13 15:34] khawarashraf commented on #3914
I have exactly same issue with all my bots on skype channel. I have "Always On" enabled but it does not make any difference. My service plan is B3.

[2017-12-13 18:23] nirmalrayan commented on #3566
Fixed it! Turns out that I had defined TCP port in Azure Application Settings (of my app service) which is in straight violation because Azure uses NamedPipes within IIS. So, if you've defined PORT = <<PORT NUMBER>> in your application settings, remove it and restart your app service. This problem should be resolved.

[2017-12-13 18:23] #3566 closed

[2017-12-13 18:30] FranciscoPonceGomez commented on #3919
Hi @LimShengKai0524,

I am not sure of what you are asking. Could you please give us more information about your use case? What are you trying to achieve?

Regards,
Francisco

[2017-12-13 19:20] IvanSheyenko opened #3921 "[Skype] Cannot send/receive messages in Skype?"
## Bot Info
* Bot handle: SitecoreGsBot
* AppID: c26c4e29-f142-4307-b138-68fa1398d226
* SDK Platform:  .NET
* SDK Version: 3.8.0.0
* Active Channels: Skype, Direct Line
* Deployment Environment: Azure App Service

## Issue Description
I have deployed my bot to Azure and can it works in Test window on dev.botframework.com. However when I add it to Skype no messages are coming from bot and if I try

[2017-12-13 19:47] tillig commented on #3806
Not an Autofac bug but a desire to use Autofac in a way it wasn't intended (enumerate every registration in the container that has a particular key but an unknown type). I've responded in the autofac/Autofac#852 issue with some options on how to work around that, but there isn't an intent to add this sort of feature to Autofac (for reasons I mention in that issue).

[2017-12-13 21:09] FranciscoPonceGomez commented on #3917
Hi @gunnicus,

There seems to be a problem related to the directory where the nugget packages are being restored. The projects are looking for the packages folder two levels up from them but the packages are being restores in the immediate superior level.
We are working on a fix but for now you can right click on the project and restore the packages, and then move or copy the packages folder to an

[2017-12-13 22:40] gunnicus commented on #3917
Thanks for your reply,

Tired copy packages folder to different location, didn't work. Tried remove the reference and manually add back, didn't work neither.

1.
Remove the reference
![image](https://user-images.githubusercontent.com/4023477/33966008-12189a14-e0b2-11e7-89b4-6c00f47dce68.png)

2.
Manually add reference back:
![image](https://user-images.githubusercontent.com/4023477/33966078-5c805e

[2017-12-13 23:23] FranciscoPonceGomez commented on #3917
The steps that worked for me are the following:

1. Restore NuGet Packages:
![image](https://user-images.githubusercontent.com/16775093/33967716-841734fc-e019-11e7-8e78-3aca0d2b2dc2.png)
2. Copy the folder /CSharp/Samples/packages to /CSharp/packages (there should be a folder already) and overwrite the files in there.
3. In the solution, right click and rebuild.
![image](https://user-images.github

[2017-12-14 00:33] nwhitmont commented on #3921
Hi @IvanSheyenko -

Can you provide your bot's App ID? It is a GUID that looks like this: `67e17624-ea95-428b-ac80-4c3b6b270ad3`

[2017-12-14 06:46] tristanvandam opened #3922 "[Direct Line] Bot state calls fail under load (5 or more concurrent users)"
# [Direct Line] Bot state calls fail under load (5 or more concurrent users)
Bot state calls fail when our bots are under load of 5 or more concurrent users interacting with it at one time.

## Bot Info
### Dev environment
* App ID: b41c930f-bb27-44cc-aa48-4938d024b293
* SDK Platform: .NET
* SDK Version: 3.9.0
* Active Channels: Direct Line
* Deployment Environment: Azure App Service

### Qa Envir

[2017-12-14 07:40] vovanb opened #3924 "[Bot Migration] Azure Bot Service migrating info?"
Just discovered that exist mandatory requirements to migrate existing bot to  Azure Bot Service.
We developed bot using c# SDK and it is running on -premise data center.
1. Does it mean that we need to change architecture?
2. We don't have Azure account and used our MS Bot Free of Charge, does it mean that we need to purchase Azure subscription ? What are costs?
3.What is additional limitation wit

[2017-12-14 07:56] IvanSheyenko commented on #3921
Hi,

AppId: c26c4e29-f142-4307-b138-68fa1398d226

[2017-12-14 08:24] EricDahlvang commented on #3922
Have you implemented a custom state client?  The default is intended only for prototyping.  https://blog.botframework.com/2017/07/18/saving-state-azure-extensions/

Also, please do not load test the direct line channel.  If you wish to load test the bot, call it directly.  https://blog.botframework.com/2017/06/19/load-testing-a-bot/

[2017-12-14 09:48] IvanSheyenko commented on #3921
Hi,

I have solved this by updating to latest version of SDK.

[2017-12-14 09:48] #3921 closed

[2017-12-14 10:48] etbuilder commented on #3924
Yes we need explanation, a single user could consume up to 100/1000 message per use and this would cost a lot especially if the code hosted somewhere else.

[2017-12-14 11:10] etbuilder commented on #3924
Ok, i found more info on the website for pricing, there are two different channels; premium and standard and we will only pay for premium  which are for DirectLine and Web Chat only.

[2017-12-14 12:26] ederbond commented on #3922
Hey @EricDahlvang
I'm facing a similar issue....
With 4 directline clientes calling my bot simultaneously, it starts to return a "Sorry, my bot code is having an issue." as I've [reported on this issue](https://github.com/Microsoft/BotBuilder/issues/3906).

Note: I'm using the InMemoryDataStore as you can see bellow:

![image](https://user-images.githubusercontent.com/12549812/33991972-ef78d540-e0

[2017-12-14 13:08] xjose97x commented on #3898
This had happened to me multiple times when deploying to Azure App Service (one click deployment from Visual Studio). I've never found a solution for it. What I've done is just delete that app service, and create a new one and deploy there.

Apparently this is an issue in App Services when you change a controller (I've noticed with namespace), it seems to cache(not sure if the right term, but it k

[2017-12-14 13:15] vishnuvardhanpatel1 commented on #819
I had faced the same issue. But it wasnt because of the Direct line API issue. It was because of code issue. I will explain here with few code snippets.
While starting conversation string value user = "testuser" was being passed for the given conversation id.

public async Task StartConversationAsync(string user)
        {
            var conversation = await client.Conversations.StartConversation

[2017-12-14 14:29] jrmcdona opened #3925 "[Skype] Bot dialog works great in Emulator but dies in Skype?"
## Bot Info
* App ID:  0bfc5429-ac88-4a25-b413-538d11d0ce10
* SDK Platform:  .NET
* SDK Version: Bot Builder Nuget 3.12.2.4
* Active Channels:  Skype
* Deployment Environment:  App Service

## Issue Description
I have a dialog that is working great on Emulator.

Works well with ngrok also.

However, when I access the bot through the Skype web control, the bot dialog kicks off but it does not respo

[2017-12-14 15:20] harshithkashyap opened #3926 "[Node.js SDK, bug] v3.13.1 release throws error on incoming messages"
## Bot Info
* App ID:
* SDK Platform: Node.js
* SDK Version: 3.13.1
* Active Channels: DirectLine
* Deployment Environment: Azure app service

## Issue Description
After updating the SDK to 3.13.1, the botbuilder SDK is throwing the following error.
[code]

It seems like [this commit](https://github.com/Microsoft/BotBuilder/commit/eca181033aa688b3906ef249cf1315420a291176) introduced the change add

[2017-12-14 16:15] nwhitmont commented on #3924
Hi @vovanb  - You can find more information on the migration process here:

https://docs.microsoft.com/en-us/Bot-Framework/bot-service-migrate-bot

[2017-12-14 16:45] nwhitmont opened #3927 "[Announcement] General Availability of Azure Bot Service and Language Understanding (LUIS)"
[Bot Framework](https://dev.botframework.com) team is proud to announce the General Availability (GA) release of [Azure Bot Service](https://azure.microsoft.com/en-us/services/bot-service/) and [Language Understanding Intelligence Service (LUIS)](https://luis.ai).

For more information:
- [Announcing the General Availability of Azure Bot Service and Language Understanding, enabling developers to b

[2017-12-14 18:06] jrmcdona commented on #3887
@nwhitmont In addition it does not migrate nor does the Test function work
https://dev.botframework.com/bots?id=AmbPreviewSkypeBot

Can you try migrating for us - maybe that will fix the issue or can you look at the backend?  Our botId is already whitelisted for things we are doing with Skype and would rather not have to redo that as those teams are slammed.

Our bot exists and I am not sure what

[2017-12-14 18:44] xjose97x commented on #3927
Thanks a lot!
I appreciate a lot the work you guys do.

Keep the good work :+1:  @nwhitmont @EricDahlvang @JasonSowers @willportnoy @stevengum97 @Stevenic @msft-shahins @tomlm (sorry if I missed someone)

[2017-12-14 20:03] abharku opened #3928 "[Slack] Occasionally get 500 posting to bot framework"
## Bot Info
* App ID: b0dc1bcd-909a-4bfe-954d-09f6ed453081
* SDK Platform: REST API
* SDK Version: I am assuming latest
* Active Channels: Slack
* Deployment Environment: other

## Issue Description
The framework and bot usually works but lately we have seen we get occasionally 500 posting to Microsoft. We are using REST api and we know it's not our code because it works all the time. We have rece

[2017-12-14 20:10] nwhitmont commented on #3928
Hi @abharku  - Thanks for reporting.

Can you provide a `conversationId` for the conversation where the 500 error happened? This will help us investigate.

[2017-12-14 20:13] abharku commented on #3928
@nwhitmont conversation id - B7Z3X3YF8:T4825C97G:D7XMNJ5S5
 and andother one at
Server returned HTTP response code: 500 for URL: https://slack.botframework.com/v3/conversations/B7Z3X3YF8:T4825C97G:D7Y58863D/activities/5f75f299a9254a9783520b8254e73140

[2017-12-14 20:52] nwhitmont commented on #572
Good news everyone!

**New Bot Connector support for ASP.NET Core 2.0 and 1.1**

https://blog.botframework.com/2017/11/28/new-bot-connector-support-net-core-2-0/

[2017-12-14 20:58] akontsevich commented on #572
Hurray!!! :)

[2017-12-14 21:33] agonbina commented on #3891
It would be great if someone from the core team could address this request, regardless if this is doable or not.

I personally would be happy if there is even just an overview of what is coming in the next release and, specifically, backward compatibility with v3. This is critical information for users who are just starting to build their bot services with v3 and need to think ahead of upcoming br

[2017-12-14 21:37] pavei commented on #3924
We need info!

Because it was complete free. So i did my Business using this platform. How can i host direcline line API? I cant pay 1 dolar by 1000 messages!

[2017-12-14 22:05] vovanb commented on #3924
Indeed - we even checked in past with ms account managers that service will be completely free!!!

[2017-12-14 22:12] nwhitmont commented on #3924
The bot registration (in Azure it's called "Bot Channel Registration") is still free - you only incur costs if you use the Azure Bot Service which includes bot hosting and storage account in addition to the bot registration.

The full pricing details are available here:
https://azure.microsoft.com/en-us/pricing/details/bot-service/

[2017-12-14 22:16] vovanb commented on #3924
For webchat since it is premium channel - we should pay after 10k of messages, right?

[2017-12-14 22:19] pavei commented on #3924
Yes we will need to pay!

[2017-12-14 22:27] pavei commented on #1964
@dandriscoll any news about the code? Now we need to pay for using DirectLine Service..

[2017-12-14 22:44] nwhitmont commented on #3924
@vovanb @pavei @etbuilder

Please [contact Azure Support](https://azure.microsoft.com/en-us/support/options/) for any other billing related questions.

[2017-12-14 22:44] #3924 closed

[2017-12-14 22:46] pavei commented on #3924
And the prices are different!

Sorry for posting this after you close..

Web Info:

![image](https://user-images.githubusercontent.com/554537/34018062-7a51dfa2-e10f-11e7-8e6c-c72d98328a6e.png)

Pricing area:

![image](https://user-images.githubusercontent.com/554537/34018118-b02726aa-e10f-11e7-8c6b-00b2cc962921.png)

[2017-12-14 23:04] jrmcdona commented on #2911
@JasonSowers so I have gone back into this code and I actually need the bot to send a Dialog so that I can capture the users response.
Is there any issue with kicking off a Dialog in this fashion below when the bot joins?

[code]

[2017-12-14 23:30] EricDahlvang commented on #3924
@pavei Thanks for reporting the pricing inconsistency.  We've created a bug internally to have that fixed.

[2017-12-15 01:01] EricDahlvang commented on #3917
@gunnicus We've created a PR to add NuGet.config to the Samples directory.  This will ensure the package files are restored to the location expected by the projects.  This will hopefully be merged soon.  In the mean time, you can add the file to your local Samples folder: https://github.com/EricDahlvang/BotBuilder/blob/629e5973bdc5071b9c3266dc93bf8ef30d229a28/CSharp/Samples/NuGet.config

[2017-12-15 02:00] rupeshgx opened #3930 "[Question] Waterfall Dialog Skipping a Prompt?"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 7.8.0

## Issue Description
I have a waterfall dialog in my code. When I try it in my emulator, I see that one of the prompts is skipped and 2 prompts are sent at the same time. Any ideas on how I could go about debugging this would be much appreciated.

## Code
[code]

## Output
waterfallDialog - waterfall() step 1 of 3
waterfallDialog - Session.

[2017-12-15 02:19] areckkimo opened #3931 "[Cortana] SSML does not work on the iOS App with session.say()?"
## Bot Info
* App ID: 46262fcf-124f-4ab1-974f-4a3133ea6f01
* SDK Platform: Node.js
* SDK Version: 3.13.1
* Active Channels: Cortana
* Deployment Environment: Auzure Bot Service

## Issue Description
SSLM does not work on the iOS Cortana.

## Code Example
`session.say("I'm not fine.", "I'm not <emphasis level=\"strong\">fine</emphasis>.", {inputHint: builder.InputHint.acceptingInput});`

## Expecte

[2017-12-15 04:53] gunnicus commented on #3917
Thanks, this worked.

[2017-12-15 06:35] kienct89 commented on #3555
## work around solution

you can put this line in the *MessagesController.cs*

`activity.Text = activity.GetChannelData<dynamic>()?.message?.quick_reply?.payload ?? activity.Text;`

[2017-12-15 08:09] praveens3190 opened #3932 "[Question] Human Chat -- How to clear the session of the user after 5 mins if no user available?"
## Issue Description
1. I needs to clear the session of the Customer after 5 mins if there is no interactions. Now using End engagement i cleared the session of the user, but after the session was if any user comes, then it is showing one customer is waiting for chat.

## Code Example
[code]

[2017-12-15 08:27] MithunPradeeps commented on #3594
Hi, am also trying to achieve the same please let me know if this functionality is already achieved.

[2017-12-15 08:47] amitbend commented on #3761
Any news?

[2017-12-15 12:20] Geertvdc commented on #572
@nwhitmont yes the Connector is there now but the actual Bot.Builder package is still old and not supported by ASP.NET Core 2.0 will this be upgraded as well?

[2017-12-15 13:22] MithunPradeeps commented on #3329
Thanks for the info 👍

[2017-12-15 14:41] weizhenzhao opened #3933 "[Direct Line] How to configure HTTP GET polling interval?"
My colleague meet a wired problem when he using the sample code of direct line
in our back end we will query data for fusion BI report system
so there may be some latency.
But I find the direct-line will call several times, if it doesn't received the reply for my bot
So this will definitely add more latency .
So my question is how to set the poll interval in c# code?
Because currenty it seems that

[2017-12-15 15:31] dhananjaygoel opened #3934 "[Bot Deployment] How can I deploy AnnotatedSandwichBot?"
## Issue Description
I want to deploy this bot = https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Samples/AnnotatedSandwichBot on Azure. How can I do that and make a Web Chat out of it?

[2017-12-15 16:38] xjose97x opened #3935 "[FormFlow] How to successfully prompt for values?"
Hello.

I've been playing a bit lately with Forms in the BotFramework, but I've not been able to work with float values.

For instance, I have a field like this:

[code]

But the FormFlow is only recognizing when I enter an int and nothing else. (Ex: 1500)

For instance, it should recognize If I reply with:

- 1500.42
- 1500,42
- $1500
- $1500.42
- $1500,42
- The amount I want to transfer is **$15

[2017-12-15 17:59] #3917 closed

[2017-12-15 18:19] ederbond opened #3936 "[Direct Line] Why IActivity sent from my bot doesn't have an "Id" ?"
## Bot Info
* App ID: 2e784a99-7642-4f3c-8410-d7c560c6e461
* SDK Platform: .Net
* SDK Version: "Microsoft.Bot.Builder" version="3.12.2.4"
                        "Microsoft.Bot.Connector" version="3.12.2.4
* Active Channels: Direct Line
* Deployment Environment: ngrok

## Issue Description
After implementing a IActivityLogger I've noticed that for the massages sent from my bot to the client, they

[2017-12-15 21:38] mvanella commented on #3248
+ 1

[2017-12-16 00:46] abharku commented on #3928
We are getting more and more of this. Is Slack supported with some SLA or is it advisable to build for them as a direct to Slack?

[2017-12-16 01:30] sharontf opened #3937 "[MS Teams] Bot does not work on Teams Channel"
## Bot Info
* Active Channels:  MS Teams
* Deployment Environment:  Azure Bot Service

## Issue Description

Bot works fine on Test in Web Chat on Azure, but does not work when deployed to a Teams Channel. I had an almost identical bot on the old Bot Framework before the update, and this new bot is not working.

## Code Example

Using C#

## Reproduction Steps
1. Create a bot on Azure Bot Service.

[2017-12-16 01:35] jrmcdona commented on #3925
I think this is an issue with our Group chat whitelist setting in slack.  I will reopen later if not.

[2017-12-16 01:35] #3925 closed

[2017-12-16 12:02] srozga opened #3938 "[Bot Channels Registration] Cannot find app secret when creating SDK bot through Azure Portal"
Congratulations on the GA release of the bot service and LUIS!

I'm trying to create a new bot registration, and obviously, dev.botframework.com doesn't let me anymore. So I follow the process of creating a Bot Channels Registration in the Azure Portal. Everything goes well. I realize I don't have my app id/secret. I find the app id in settings. Great. Still no secret. So I click the manage link a

[2017-12-16 12:37] aseemrastogi commented on #2434
Hi - I have the exact same issue. Any direction to resolve?

[2017-12-16 12:54] aseemrastogi opened #3939 "[Node.js SDK, MS Teams] ERROR: ChatConnector: receive - no security token sent."
## Bot Info
* App ID: 65e674a1-0102-4883-831e-ca3857bf0a10
* SDK Platform: Node JS
* SDK Version: "botbuilder": "^3.11.0",
    "botbuilder-teams": "^0.1.7",
* Active Channels: Skype, MS Teams
* Deployment Environment: On a separate machine with SSL certificates

## Issue Description
My bot is published in MSFT Bot Framework. This is working great with Webchat & Skype For Business. I am trying to c

[2017-12-16 12:55] aseemrastogi commented on #3939
Please dont put labels - Waiting For Answer
Because even after I provide answer, I cannot change the label and probably you guys think, user still needs to provide answers.

[2017-12-16 14:00] aabbgithub opened #3940 "Unable to generate new password after creating Bot channel registration / WebApp bot"
* App ID: 16de5571-ad42-40f1-953c-a0543b585481
* SDK Platform: .NET
* SDK Version: 4.7
* Active Channels: Web
* Deployment Environment: AzureBotService

## Issue Description
Hi, I created a Bot Channel Registration, clicked on settings, and then on Microsoft App ID manage  (link). Then clicked Generate new password and I'm getting the following exception:

## Expected Behavior
I want to be able to

[2017-12-16 18:33] jviksne commented on #3937
Same here. My bot works with Web Chat and Skype, but not with MS Teams. From ngrok I see that no traffic is reaching my endpoint when I'm sending messages from MS Teams. I actually had the same issue with Skype earlier today, but then it suddenly started to work. I had the issue with MS Teams both before I migrated to Azure and updated my Node.JS Bot Framework from 3.9.0 to 3.13.1, as well as am e

[2017-12-16 21:47] ChristianRiedl opened #3941 "[.NET Core] AspNetCore 2 app using .NET framework does not initialize MicrosoftAppCredentials"
I implemented a AspNetCore 2 Bot using .Net 462.
I get a notauthorized exception when an intent message is processed by _LuisDialog_ because
_MicrosoftAppCredentials_ is not initialized with the credentials.

DialogModule.Load registers _MicrosoftAppCredentials_ without specifying parameters.

[code]

When _MicrosoftAppCredentials_ is created this constructor is used with both appId, password set

[2017-12-17 02:22] srozga commented on #3940
+1, Same as #3938

[2017-12-17 05:17] khawarashraf commented on #3940
I'm getting the same error on newly created Bot Channel Registration. It does work fine on existing applications.

[2017-12-17 10:53] artemious7 commented on #527
The `PromptDialog.Text()` method calls a `PromptString` dialog internally, and it will only trigger a retry if `message.Text` is empty or whitespace. Our goal is to make it trigger a retry if `message.Text` is not a valid email within the given number of attempts. This can be achieved by creating a new `PromptDialog` like this:

[code]

This dialog can be called like this:

[code]

[2017-12-17 18:27] yogiderek opened #3942 "[Adaptive Cards] Invalid column width: Auto and Stretch issue"
SDK Platform: .NET
SDK Version: 3.12.2.4
Bot Emulator Version: 3.5.34
Adaptive Cards NuGet package version: v1.0.0-beta11
Deployment Environment: Not deployed yet

Issue Description

I have a columset with two columns. First column is an image and its width is set to auto and the second is text with its width set to stretch. In the bot emulator, there is a large space between the two columns which

[2017-12-17 20:23] CalvinFengDatacom opened #3943 "[Adaptive Cards] Delete message from context?"
Is there any way that I can remove/delete the posted messages from context? I can't find any function that can delete the message.

Expected Behavior
Once user click the button of adaptive card, I would like to remove the adaptive card. So, if I can remove the message, so I can remove the adaptive card.

[2017-12-18 02:16] EricDahlvang commented on #3940
Thanks for reporting this to us.  This underlying issue has been identified and is being addressed by the team. We apologize for the inconvenience.  Closing as duplicate of https://github.com/Microsoft/BotBuilder/issues/3938

[2017-12-18 02:16] #3940 closed

[2017-12-18 02:17] EricDahlvang commented on #3938
Thanks for reporting this to us. This underlying issue has been identified and is being addressed by the team. We apologize for the inconvenience.

[2017-12-18 03:32] ishita-srivastava5 opened #3944 "[Bot Service] ngrok testing - Endpoint missing and response GET instead of POST?"
* App ID: 1962f2ff-5f21-4a34-94d0-53b8d7627bc5
* SDK Platform: Node.js
* SDK Version: 5.6.0
* Active Channels:  web chat,Direct Line
* Deployment Environment:  ngrok, Auzure Bot Service,

## Issue Description
I have created a new bot using the new azure bot service. There are two main problems:

Issue 1.  In my code I am doing post to  '/api/messages' and enabling my bot to listen to it. However i

[2017-12-18 06:13] nwhitmont commented on #3938
@srozga check out
https://docs.microsoft.com/en-us/bot-framework/bot-service-quickstart-registration#bot-channels-registration-password

[2017-12-18 06:14] nwhitmont commented on #3937
@sharontf for reference are you using .NET or Node.js template?

[2017-12-18 06:16] nwhitmont commented on #3937
here's the general checklist for loading your bot into MS Teams:

## How to load your bot into MS Teams
**Quick MS Teams bot deployment checklist:**
- Did your O365 tenant administrator [enable sideloading](https://msdn.microsoft.com/en-us/microsoft-teams/setup) of apps for your organization?
- Did you [create an app package](https://msdn.microsoft.com/en-us/microsoft-teams/createpackage)
- Did yo

[2017-12-18 06:42] jinot92 opened #3945 "[Node.js SDK, Skype, Question] Dialog not called called upon button click?"
## Bot Info
* SDK Platform: Node.js
* Active Channels: Skype
* Deployment Environment: Azure Bot Service

## Issue Description
I am trying to build a Notification bot, in which the notifications can be approved, rejected or can be scheduled to be reminded on a later date and time.
I am using a trigger function which on an event sends the initial notification to the bot.
When the '__askLaterTime's_

[2017-12-18 08:12] tedk99 commented on #3937
I'm in the same boat and have done all of these things.  I'm using a .NET bot based on the AdaptiveCards template.

It didn't work all day Friday and then all of a sudden it started to.  I then came back Monday and it wasn't working at all.  It does work via web chat.  I am using ngrok and the bot calls are not even getting to ngrok.  I can't find any errors in Azure or teams though- is there some

[2017-12-18 09:29] sahootanmay opened #3946 "[Question] How to publish app from Visual Studio IDE?"
i am using bot frmework and doing an example by watching the video from udemy and i am getting response in emulator correctly but when i am going to publish my app its not publishing

[2017-12-18 10:19] anandvardhandas commented on #2161
I am facing the "Failed to send activity: bot timed out" intermittently.
502 error.
Sometimes it works, sometimes in between it gives me this error.
Till bot connector, message is reaching from webchat via directline.
At botconnector I am getting this message "There was an error sending this message to your bot: HTTP status code GatewayTimeout".

[2017-12-18 10:24] anandvardhandas opened #3947 "[Direct Line] Failed to send activity: bot timed out?"
## Bot Info
* App ID: 96f63185-ee3b-4efe-97d0-7733053ba795
* SDK Platform: .NET
* SDK Version: 3.9.0
* Active Channels: Direct Line
* Deployment Environment: Azure App Service

## Issue Description
I am facing the "Failed to send activity: bot timed out" intermittently.
504 error.
Sometimes it works, sometimes in between it gives me this error.
Till bot connector, message is reaching from webchat

[2017-12-18 10:29] bhushanvadgave opened #3948 "[Direct Line] Bot not responding to user messages. Giving Directline error : "[500] Internal Server Error""
## Bot Info
* SDK Platform: NodeJS
* SDK Version: 3.12.0
* Active Channels: Direct Line, Facebook
* Deployment Environment: Manual deployment in VMs of Azure IaaS
* Region of bot deployment: West Europe

## Issue Description
Bot suddenly stopped working. It is not responding to user messages randomly.
Showing below errors in logs:
[code]

## Code Example

## Reproduction Steps

## Expected Behavio

[2017-12-18 10:36] JpEncausse commented on #3948
Got the same issue, since few days (and the migration to Microsoft Server) we have A LOT of issues
- That 500 exception
- We received 10x the same message
- Missing ServiecURL (https://github.com/Microsoft/BotBuilder/issues/3905)

[2017-12-18 11:17] Highvolt commented on #3948
Same issue for me as well.

[2017-12-18 11:26] zubcomandante commented on #3948
Same for me, baad situation.
I did not migrate anything yet, my bots are hosted in our company's private infrastructure.

[2017-12-18 11:27] LimShengKai0524 commented on #3919
Any Update? Thank you~

[2017-12-18 11:29] srozga commented on #3938
Thanks @nwhitmont . Great doc. I'll keep it handy.

[2017-12-18 11:29] NitishDeshpande commented on #3948
Same for me as well. When will this be resolved?

[2017-12-18 11:29] jesus-seijas-sp commented on #3948
Same issue here with DirectLine:

Failed to load https://directline.botframework.com/v3/directline/conversations/XXXXXXXXXXX/activities: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'XXXXXXXXXXXX' is therefore not allowed access. The response had HTTP status code 500.

[2017-12-18 11:31] DyzLecticus commented on #3948
Same for me as well. When will this be resolved?

[2017-12-18 12:42] droidpl commented on #3948
It also happens to me. It is quite annoying

[2017-12-18 12:58] sharmadine commented on #3948
Our production bot (registration bot with our own hosted bot service) has gone down with exact same error suddenly a few hours ago. The bot service is deployed in West Europe. Please help and suggest the time it will take to be back...

[2017-12-18 13:06] JaapKoornstra commented on #3948
Same for me.

[2017-12-18 13:34] senthilcsk opened #3949 "[Question] There was an error sending this message to your bot: HTTP status code Unauthorized?"
## Bot Info
* App ID: c6b91627-a308-47f6-ab1c-d7ba09ce74f3
* SDK Platform:  .NET
* SDK Version: VS 2015 (Framework 4.6)
* Active Channels: FaceBook
* Deployment Environment: Auzure Bot Service,Manual

There was an error sending this message to your bot: HTTP status code Unauthorized

I got the error message like this

"There was an error sending this message to your bot: HTTP status code Unauthori

[2017-12-18 13:55] jesus-seijas-sp commented on #3948
To add more info, the issue can be reproduced directly at https://dev.botframework.com in the Test section, when you talk to the bot, the same problems are reflected in the console.

[2017-12-18 14:44] DanielTizon commented on #3948
From yesterday, we are getting the same random 500 errors in our production bot, plz could some Microsoft guy tell us what is going on?

    SDK Platform: NodeJS
    SDK Version: 3.13.1
    Active Channels: Direct Line
    Deployment Environment: WebApp in Azure
    Region of bot deployment: West Europe

[2017-12-18 15:40] HenrikFrystykNielsen commented on #3948
Thanks for the reports, we are investigating and will get back with an update as soon as possible. I apologize for any inconvenience. Henrik

[2017-12-18 15:40] DanielTizon commented on #3948
In my case, the error is slightly different:

[code]

[2017-12-18 15:49] jviksne commented on #3937
It suddenly started to work for me approximately an hour ago.

The only thing I changed is I enabled the sideloading for Apps in O365 in the morning. It did not work immediately after that, and I am experimenting with the 1:1 type of chatbot without actually uploading the zip file to Teams, so I'm not sure that the sideloading switch was the thing that resolved it.

[2017-12-18 16:06] nwhitmont commented on #3948
Update: We found the problem and have implemented a fix.

Performance should improving now.

[2017-12-18 16:21] sharontf commented on #3937
My bot still does not work.

You can test this with no code at all, by just creating a bot through one of the templates and then deploying it to Teams Channel.

[2017-12-18 17:49] hmane opened #3950 "authentcation"
## Bot Info
* App ID:
* SDK Platform:
* SDK Version:
* Active Channels:
* Deployment Environment:

## Issue Description

## Code Example

## Reproduction Steps
1.
2.
3.

## Expected Behavior

## Actual Results

[2017-12-18 17:50] #3950 closed

[2017-12-18 18:08] sharmadine commented on #3948
@nwhitmont Thanks for your support in releasing the fix. Our Bot is alive again in production.

[2017-12-18 19:21] nwhitmont commented on #3948
@sharmadine Thanks for the update! Glad to hear it resolved your issue.

[2017-12-18 19:21] nwhitmont commented on #3948
@bhushanvadgave The issue has been mitigated - Can you confirm the issue is resolved from your end?

[2017-12-18 21:40] nwhitmont commented on #3918
Answer from @EricDahlvang -

I’ve created an example here: https://github.com/EricDahlvang/TokenBotExample

The code that exchanges the secret for a token is as follows:
[code]

[code]

[2017-12-18 22:21] xjose97x commented on #3948
Seems to work now. Thanks!

[2017-12-18 23:45] FranciscoPonceGomez commented on #3946
Hi @sahootanmay,

You can publish your bot by right clicking your solution and selecting "publish" from the menu. Then you need to select your deployments options and the site endpoint where your users will reach your bot. In addition to this, you need to register your bot in our dev portal (dev.botframework.com)

![image](https://user-images.githubusercontent.com/16775093/34133558-4cbb4864-e40a-1

[2017-12-19 02:46] CalvinFengDatacom commented on #3943
@nwhitmont  I would like to delete a message from context. Do you know how to delete a certain message I want? Adaptive Card is just an example, but if you have any idea of deleting a certain message, then I can use the same logic to delete adaptive card from the context

[2017-12-19 03:35] bhushanvadgave commented on #3948
@nwhitmont Yes, I don't see any issue now. The bot is responding to the messages. Thanks for fixing this.

[2017-12-19 06:22] senthilcsk commented on #3949
Hi guys any update of my issue. i'm struck up whole day.

[2017-12-19 08:07] DyzLecticus commented on #3948
The issue seems to be resolved; our bot is responding consistently again.

[2017-12-19 10:05] Highvolt commented on #3948
The issue seems to be resolved for our bot as well.

[2017-12-19 10:31] hpksp opened #3951 "[Skype] shows "Not Sent!" as message status?"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: Direct Line
* Deployment Environment: Azure App Service

Skype shows Not Sent! as messages status. Bot is created through azure as Bot Channel Registration.
Web Api is hosted on azure and it perfectly works in directline.

[2017-12-19 10:45] hpksp opened #3952 "[Skype] Bot not working in Skype once deleted and added?"
## Bot Info
* App ID: 48831ec2-1da8-4bd2-bd2e-8b102ecbf3de
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: Slack, Direct Line, Web Chat, Skype
* Deployment Environment: Azure App Service

I had to delete my bot from the skype contacts to do some testing. I added it back to the contacts of the same account and it's no longer working. Messages in skype show as sent but no replay from

[2017-12-19 10:46] Maarten88 opened #3953 "[Feature Request] BotAuthenticationHandler should respect IdentityOptions"
## Bot Info
* SDK Platform: AspNetCore 2.0
* SDK Version: 3.12.2.4
* Active Channels: Direct Line
* Deployment Environment: Auzure Cloud Service

## Issue Description
Using the

    [Authorize(Roles = "Bot")]

attribute results in `HTTP status code Unauthorized` errors when using a non-default role claim identity setting.

## Code Example
I use IdentityServer4 as part of a project also containing

[2017-12-19 12:21] EPinci commented on #3941
I'm hitting this one too.

[2017-12-19 13:30] sandipdakle commented on #3018
Has anyone found anything with this?

[2017-12-19 15:01] aleinnocenzi opened #3954 "[Card Actions] HeroCard buttons not working on Facebook Messenger channel?"
## Bot Info
* App ID: 7792dce2-616d-466e-a2d9-bcadcb22dde3
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: WebChat, Facebook Messanger, Skype
* Deployment Environment: Azure Bot Service

## Issue Description
I am showing a carousel with 2 herocards with buttons. In skype everything works correctly, but when I click on the button into the Facebook Messanger channel, the bot doesn't

[2017-12-19 16:43] nwhitmont commented on #3952
@hpksp duplicate of #3951 ?

[2017-12-19 16:45] nwhitmont commented on #3954
Hi @aleinnocenzi - Can you share your code that creates the hero card with buttons?

[2017-12-19 17:13] Samox commented on #2197
Hi all !
I would like to restart a conversation if a user does not reply within some time (lets say 10 minutes).
For instance the user is in a restaurantBookingDialog when he was prompted a restaurant name. If he comes back the next day, I want to make sure he goes back to the root dialog.

Not really sure this question belong here though.

[2017-12-19 19:19] metasonic opened #3955 "[Skype Calling] Bot isn't able to answer group call, although it detects the call correctly?"
## Bot Info
* App ID: 65f8d2d5-7d21-4222-84ec-43fc5d4a5e50
* SDK Platform:  Node.js
* SDK Version: 3.13.1
* Active Channels: Skype
* Deployment Environment: localtunnel

## Issue Description
The bot isn't able to answer a Skype group call, although it detects the call correctly, as a result the user is unable to track when a group calls starts / ends using the bot

## Code Example
[code]

## Repro

[2017-12-19 19:34] nwhitmont commented on #3948
Thanks for confirming guys.

Closing as resolved.

[2017-12-19 19:46] FranciscoPonceGomez commented on #3949
Hi @senthilcsk,

I noticed that your bot hasn't been migrated yet. Please migrate your bot to benefit from the latest Auth features.
Let me know if the problem persists afterwards.

Regards,
Francisco

[2017-12-19 19:56] nwhitmont commented on #3955
@metasonic Group calls are not currently supported for bots due to privacy reasons.

Group calling for media bots has been disabled because the Skype clients do not have currently have the appropriate privacy controls in place to inform the participants that a bot can hear and/or see them. There is no timeframe available regarding when calling/real-time media bots will be supported in group calls.

[2017-12-19 19:56] #3955 closed

[2017-12-19 19:57] nwhitmont commented on #3955
relates to: https://github.com/Microsoft/BotBuilder-RealTimeMediaCalling/issues/22

[2017-12-19 20:00] amehta3000 commented on #3808
Hi Jason, just wondering if the final solution is to go straight markdown and assume that there is no formatting at all on a SFB mac client.  Markdown doesn't really render in Mac OS. It just end up being simple text.

Do you have any insight on how to issue a line break?
We've been using  '\n\n\u200C<br\>' but honestly, that looks very hacky and not ideal results.  How do you programmatically get

[2017-12-19 20:24] metasonic commented on #3955
@nwhitmont Thanks for the answer, thought that relates only to CSharp as from the looks of it NodeJs is not able to access media in a group call.

[2017-12-19 20:56] #3948 closed

[2017-12-19 21:40] johnnyxu-pernix opened #3956 "[Direct Line] First messages being repeated?"
## Bot Info
* App ID: `9886fe09-13d7-4208-9f49-f301e3024210`
* SDK Platform: Node.js
* SDK Version: 3.12.0
* Active Channels: Direct Line
* Deployment Environment: Own server

## Issue Description
I have the bot connected with a custom client (Angular 4) via socket with Direct Line.

The bot is implemented with [waterfalls](https://docs.microsoft.com/en-us/bot-framework/nodejs/bot-builder-nodejs-d

[2017-12-19 22:16] nwhitmont commented on #3956
@johnnyxu-pernix - Can you share the actual bot code?  What does `dialogHelper` and related functions do? Where is the code for that?  In your current example, everything is just wrapped in these helper functions so it's not possible to debug the actual bot code.

[2017-12-19 22:27] johnnyxu-pernix commented on #3956
Hi @nwhitmont thanks for the quick response, I'll update the description too.

Theses are the dialogHelper functions:
[code]

These are the bot.service functions:
[code]

App.js:

[code]

[2017-12-20 00:43] gauravnigam1308 opened #3957 "[MS Teams] Call to MS Teams connector is failing with certificate expired error?"
Call to MS Team connector is failing with the following error:
[code]
I analyzed the service URL https://smba.trafficmanager.net/amer-client-ss.msg/ and found, its root certificate got expired yesterday and that is the reason, I am not able to do this over the secure socket. Can you please let me know if you have the plan to update the certificates for this service URL endpoint because we don't wa

[2017-12-20 01:41] rizamarhaban commented on #2819
I'm struggling to solve similar situation like this for hours and using ```FiberModule.Key_DoNotSerialize``` works perfectly. Thank you @willportnoy and @peterbozso

[2017-12-20 02:42] hpksp commented on #3952
@nwhitmont not really. these are two different bots. with #3951 , initially i wasn't even able to add the bot to skype. After a while i was able to. then it say not sent! this issue is related to the bot that's been there from jan 2017. anyhow this started working now. so i'm gonna close the issue. thanks for the support

[2017-12-20 02:43] hpksp commented on #3951
closing this issue. suddenly it started working. thanks

[2017-12-20 04:26] senthilcsk commented on #3949
Hi FranciscoPonceGomez,
Thanks for the update. Let me know is there any other way to run my bot temporarily.

[2017-12-20 05:37] nwhitmont commented on #3956
great thanks @johnnyxu-pernix - I'm going to debug this and give you some updates next day.

[2017-12-20 08:18] nigamg commented on #3957
Sure...
You can easily reproduce it with botbuilder and ms team extension for bot-builder with the following code snippet---

expressRouter.post('/team', connector.listen());
/****
 * Router and bot-builder listener for the message sent from Microsoft team
 * @type {UniversalBot}
 */
let bot = new builder.UniversalBot(connector, function (session) {
session.send("You said: " + session.message.text

[2017-12-20 08:19] nigamg commented on #3957
Node SDKs: botbuilder and botbuilder-teams.

[2017-12-20 08:36] zubcomandante commented on #3039
Sorry, I know this issue has been closed, yet I have the same question as @bhushanvadgave.
Did you find a solution to this?
Thank you very much

[2017-12-20 09:08] DanielTizon commented on #2055
Any advance on it? Other companies like Nuance are already offering a complete package for create a bot and be able to use a phone number to answer phone calls. So, are you going to add this feature, or should we try other alternatives?

[2017-12-20 09:31] farrukhpisces opened #3958 "[FormFlow] The text is truncated on FB Messenger?"
I'm using formflow for my questionnaire using bot framework.All is working fine but when i use my bot with facebook messenger on mobile text truncate. Questions as well as their options.
For example:
[Prompt("How soon after you wake up do you have your first smoke?  {||}")]
 public TimeToFirstSmoke TimeToFirstSmoke;
And my options are
public enum TimeToFirstSmoke
    {
        [Describe(descriptio

[2017-12-20 11:14] vicenschamorro commented on #3957
We are having the same issue, but also for Skype.
Something has changed this last 24h because yesterday midday (Spain time) it was working fine.

[2017-12-20 11:27] hinojosachapel commented on #3957
I can confirm @nigamg answer:

In our project we get this stack trace:

Error: certificate has expired
console.pub.js:42
    at TLSSocket.onConnectSecure (_tls_wrap.js:1042:34)
    at TLSSocket.emit (events.js:159:13)
    at TLSSocket._finishInit (_tls_wrap.js:639:8)

Yesterday it was working fine :-(

[2017-12-20 11:32] hinojosachapel commented on #3957
I can confirm @nigamg answer:

In our project we get this stack trace:

Error: certificate has expired
    at TLSSocket.onConnectSecure (_tls_wrap.js:1042:34)
    at TLSSocket.emit (events.js:159:13)
    at TLSSocket._finishInit (_tls_wrap.js:639:8)

Yesterday it was working fine :-(

[2017-12-20 12:39] fms-santos opened #3959 "[Skype] Chatbot not working on Skype Channel"
## Bot Info
* App ID: 6cd7cd5b-47ad-40a8-a319-9dd7846977b7
* SDK Platform: Node.js
* SDK Version:  3.13.1
* Active Channels:  Skype, Webchat
* Deployment Environment:  Azure App Service

## Issue Description
Since this morning (20th Dec 2017), my Skype chatbot is not answering back on any dialog flow.
**The bot works fine on the Bot Emulator and also on the Azure Bot Service Test Channel.**
It was

[2017-12-20 13:20] slidenerd commented on #874
@willportnoy what is your opinion? should the botbuilder users use redis, mongo etc? or simply stick with the defaults? I tried a mongo adapter and the problem is it fires 100s of queries. It will become a huge bottleneck when users starting chatting in good numbers. I understand redis is supposedly way better than using mongo for sessions but is the default option the best? Something tells me the

[2017-12-20 13:32] bhushanvadgave commented on #3039
@zubcomandante No, I didn't find any solution for this.

[2017-12-20 13:49] fms-santos commented on #3957
I'm having similar problem on the Skype Channel. I've created an issue on https://github.com/Microsoft/BotBuilder/issues/3959

[2017-12-20 13:51] sinhlt58 commented on #3957
We are having the same issue on the Skype Channel.

[2017-12-20 14:25] dandriscoll commented on #3957
We're investigating this issue now.

[2017-12-20 15:05] gleuch commented on #3957
I can confirm having same issue with SSL connections to smba.trafficmanager.net. Unable to tell if a load balancer issue as we're able to resolve locally but not able to from any servers in AWS us-west-2 (Oregon).

[2017-12-20 15:24] konstlut commented on #3959
I believe the issue should be fixed now. Thank you for reporting.

[2017-12-20 15:25] PaulDevelter commented on #3957
MS called me to say this is fixed now, had to restart my webapps though. I can confirm this worked.

[2017-12-20 15:26] dandriscoll commented on #3957
Hi everyone, can you try again?

We were not able to find any expired certificates, but we rolled the entire set and this resolved the issue for all customers we contacted so far.

[2017-12-20 15:28] shinta115 commented on #3957
Yes, for us is working now again :)

[2017-12-20 15:29] hinojosachapel commented on #3957
Yes, @PaulDevelter. Our team has confirmed it's working fine again.

[2017-12-20 15:34] fms-santos commented on #3959
I can confirm that after restarting the webapp this issue is now fixed. Thanks @konstlut

[2017-12-20 15:34] #3959 closed

[2017-12-20 15:35] fms-santos commented on #3957
I can confirm that after restarting the webapp this issue is now fixed on my chatbot. Thanks guys!

[2017-12-20 15:39] coryshaw1 commented on #3957
Also working here after a restart. Thanks!

[2017-12-20 15:48] #3957 closed

[2017-12-20 15:51] nwhitmont commented on #3957
resolved at 12/20/2017 07:48:03 PST

[2017-12-20 15:52] nwhitmont commented on #3957
Thanks @konstlut !

[2017-12-20 16:29] ubreddy opened #3960 "[Direct Line] Error messages keep popping up once a while?"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.11.0
* Active Channels: WebChat, Direct Ling
* Deployment Environment: Azure App Service

## Issue Description
Error: Request to 'https://directline.botframework.com/v3/conversations/D4lZgUWPngxI2VP8HNbess/activities/D4lZgUWPngxI2VP8HNbess%7C0000022' failed: [500] Internal Server Error
Error: Request to 'https://directline.botframework.com/v3/co

[2017-12-20 16:34] ptedeschi commented on #3232
@nsantini I am able to send HTTP Requests successfully to my Bot Service but what about the sink service that you created... Can you please talk a little about it? How did you implemented it?

[2017-12-20 18:14] jagadeeshmarthy commented on #2715
@nwhitmont sorry to comment on the closed issue. How will we send the object to the another dialog when someone clicks a imBack or dialogAction button. As far as I see everywhere it is taking only string.

[2017-12-20 18:25] nigamg commented on #3957
working fine after the restart, thank you so much for the prompt resolution, very much appreciated!

[2017-12-20 18:50] JasonSowers commented on #3808
@amehta3000  The  Only way I know a line break works for sure across all channels is using "\n\n"

[2017-12-20 18:56] JasonSowers commented on #3881
Connector version 3.11.1 and JWT 4.0.4.403061554. let me try to upgrade and see what happens.  Sorry for the delayed response as I was offsite all last week.

[2017-12-20 19:21] msmohan commented on #3960
There has been transient performance issue this morning, Can you please try again and let us know if the issue still exist?

[2017-12-20 19:26] msmohan commented on #3958
@farrukhpisces can you please share your code with me? I will try to repro and help you with it?

[2017-12-20 19:53] johnnyxu-pernix commented on #3956
Thanks @nwhitmont, I'm going to keep an eye on this.

[2017-12-20 20:06] msmohan commented on #3954
@aleinnocenzi can you share please your code? I will try to repro and provide you with a solution.

[2017-12-20 20:19] EricDahlvang commented on #3898
Hey @Gh0s7

Have you tried checking the "Remove additional files at destination" when you deploy?

![image](https://user-images.githubusercontent.com/11055362/34226755-9336f3a8-e57f-11e7-8b20-59c4d9cefd38.png)

Or, as mentioned by xjose97x, you can also delete the existing app files using ftp or https://YourAppName.scm.azurewebsites.net/DebugConsole/?shell=powershell before deploying.

[2017-12-20 20:35] Gh0s7 commented on #3898
Whoops, forgot that issue, sorry!

@xjose97x was right, I think I fixed it.
Thanks also to @EricDahlvang ,I didn't knew about powershell support for bot apps.

[2017-12-20 20:35] #3898 closed

[2017-12-20 21:01] EricDahlvang commented on #3936
This discussion by Dan Driscoll might be helpful: https://github.com/Microsoft/BotBuilder/issues/2170  He suggests "If you want to add correlation information, you can do that in the ChannelData field, which will be passed between your client and your bot."

I also saw messages with no Id property, when I implemented an IActivityLogger.  I just added an id as the message came in: https://blog.botf

[2017-12-20 21:01] #3936 closed

[2017-12-20 21:28] JasonSowers commented on #3941
There is a sample [here](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Samples/Microsoft.Bot.Sample.NetFramework-ApsNetCore2.0/Startup.cs) for AspNetCore2 with .Net framework.

[2017-12-20 21:42] EricDahlvang commented on #3943
Hi @CalvinFengDatacom

What do you mean by "delete message from context"?  Are you using the WebChat channel, and want to remove a message in the chat window after the user interacts with the Adaptive Card?  Removing messages is not a built in feature of WebChat.  You would need to fork the open source repository, and add support for this.  Here is the WebChat repo: https://github.com/Microsoft/Bo

[2017-12-20 21:42] JasonSowers commented on #3947
The first thing I would try is upgrading to the latest version of the SDK.   I also see you have not yet migrated your bot.  Please migrate your bot and see if that helps as well.  How often is this happening? every message, 1 out of 5 messages, 1 out of 100, etc?  are you performing any long-running operations like api or database calls?  You can also see my answer [here](https://stackoverflow.co

[2017-12-20 21:47] EricDahlvang commented on #3739
Closing for inactivity.  Please @ message me or open a new issue if you require further assistance

[2017-12-20 21:47] #3739 closed

[2017-12-20 21:49] EricDahlvang commented on #3732
Closing due to age. Please @ message me or open a new issue if you require further assistance

[2017-12-20 21:49] #3732 closed

[2017-12-20 21:52] JasonSowers commented on #3942
@yogiderek Hello and thank you for reporting.  Since your issue is specific to adaptive cards and not the bot framework I would recommend posting an issue on the [Adaptive cards repo](https://github.com/Microsoft/AdaptiveCards/issues)  They should be able to better address your issue.

[2017-12-20 21:52] #3942 closed

[2017-12-20 22:01] JasonSowers commented on #3958
Using a hero card, if the text is too long on a hero card button for the display it will be automatically truncated.  This varies channel to channel as well as desktop to mobile.  If you do not want your text truncated your best bet is to use text rather than a hero card, you also may want to try [adaptive cards](http://adaptivecards.io/) and see if those work for you.  As far as I know, there is

[2017-12-20 22:03] CalvinFengDatacom commented on #3943
Thanks @EricDahlvang

Your are right, I'm using WebChat channel for developing the bot ATM. I would like to remove a message in the chat window after user interacts with the adaptive card. This is my question, and I think you already give me the answer.

I will have a look the repository when I'm free.

[2017-12-20 22:32] #3943 closed

[2017-12-20 22:46] EricDahlvang commented on #3201
Closing this due to inactivity.

If any of you are still having issues configuring a bot on the email channel, please test auto-discovery using code provided in the link above.  If that doesn't help, please open a new issue or @ message me.

[2017-12-20 22:46] #3201 closed

[2017-12-20 22:48] JasonSowers commented on #3934
You can right-click on the project in visual studio and click publish.  Then follow the wizard from there.  Once that is complete to use webchat you can start by reading the readme of the [webchat repo](https://github.com/Microsoft/BotFramework-WebChat).

[2017-12-20 22:48] #3934 closed

[2017-12-20 22:50] EricDahlvang commented on #3523
@Enghouse-CCSP-PS

Have you tried the newest .FormFlow.Json?
 https://www.nuget.org/packages/Microsoft.Bot.Builder.FormFlow.Json/3.12.2.4

Please let me know if you are still experiencing this problem with the latest libraries.

[2017-12-20 23:14] msmohan commented on #3512
@amrElroumy  Closing this issue, feel free to reopen if required.

[2017-12-20 23:14] #3512 closed

[2017-12-20 23:21] JasonSowers commented on #3931
@areckkimo is this behaving differently than Cortana on other platforms?

[2017-12-20 23:26] #3931 closed

[2017-12-20 23:50] msmohan commented on #3956
@johnnyxu-pernix can you share user.service code/file as well?

[2017-12-21 02:20] sarunprasath commented on #3554
Similar issue we are facing in the Skype for Business Channel

[2017-12-21 05:11] jagadeeshmarthy opened #3961 "Passing object to another dialog using cardAction.dialogAction instead of string."
## Bot Info
* App ID: e9fa41b0-6cc5-4061-ae70-d09c04db9090
* SDK Platform: NodeJs
* SDK Version: 3.11.0
* Active Channels: Skype, Messenger
* Deployment Environment: ngrok

## Issue Description

Unable to pass the object to another dialog using button actions like cardAction.dialogAction.
## Code Example

var data = {name:"x",number:123};
var card = new builder.HeroCard(session)

[2017-12-21 06:53] sreeharikm opened #3962 "[WebChat] Change polling mode/interval"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.5.5
* Active Channels: DirectLine
* Deployment Environment: Azure App Service

## Issue Description
We are using DirectLine with WebChat version is v10.6. To support instant updates at the client side and to retrieve the chat history, we are using polling mode (by passing webSocket=false in chat.html) with a polling interval of 1sec. But this is ma

[2017-12-21 07:36] gtarcoder commented on #3913
Developer should fill Activity's Code to EndOfConversationCodes.CompletedSuccessfully if there is nothing wrong with the skill, like

Activity endMessage = activity.CreateReply();
endMessage.Type = ActivityTypes.EndOfConversation;
endMessage.Code = EndOfConversationCodes.CompletedSuccessfully;

[2017-12-21 09:35] yochail commented on #1495
+1

[2017-12-21 09:38] verdysh opened #3963 "[Question] How get current dialog object in global message handler?"
## Bot Info
SDK Platform: .NET
SDK Version: 3.11.0.0
Active Channels: Skype, Telegram

## Issue Description
Hi!
I have a global message handler in the bot, which intercepts "reset" messages and resets the current dialog:

[code]
I want to intercept the "help" messages and call a special method in the current dialog object that would return a hint for working with a specific dialog.

Example:

[cod

[2017-12-21 09:43] odysseus1973 commented on #1980
I have same issue. How to send an .docx attachment to user?

[2017-12-21 12:54] ederbond commented on #2170
hy @dandriscoll , I'm trying to intercept all the incoming and outgoing messages on my bot code (.net) using an IActivityLogger but when the messages  (IActivity)  sent from my bot to the client gets intercepted on my IACtivityLogger it never have the "id" property filled, it is always null (even for activities of type "message"). It is driving me nuts to figure out why the activities sent from my

[2017-12-21 13:14] ederbond commented on #3936
Hi Eric,
I dont think that setting a `Guid.NewGuid().ToString()` to the messages with no Id property would help me.
Cause I need to somehow present my bot conversation as a history on Salesforce on the same order that it was presented to the user when he was interacting with the bot. So I was expecting to use the "watermark" part of the message "Id" to sort after on my Salesforce report. Assigning

[2017-12-21 15:02] johnnyxu-pernix commented on #3956
HI @msmohan these are the files:

• Devices:
[code]

• Users:
[code]

[2017-12-21 15:06] wenrongwu commented on #3898
Thanks to EricDahlvang for the solution.

[2017-12-21 15:09] rafadorado opened #3964 "[Question] How to allow users to give a reply in multiple messages before sending it to LUIS."
## Bot Info
* App ID: c86200d2-b98b-412e-b599-00a17053eb7f
* SDK Platform: Node.js
* SDK Version: 3.13.1
* Active Channels: Web, Facebook, DirectLine
* Deployment Environment: Ngrok

## Issue Description

My users sometimes  write their questions/answers in multiple messages, not all in one message. Typical case is when the dictionary of the phone changes their answer.

My idea was to delay proces

[2017-12-21 15:45] deybhayden commented on #3913
Okay, cool, so in a REST call, it would be something like `"code": "completedSuccessfully"` in my message payload?

[2017-12-21 16:54] JasonSowers commented on #3961
The Databags in the session object `session.userData` `session.conversationData` seem to be exactly what you need.  They are designed to store key/value pairs of data to use throughout your application.  Is there a reason you do not want to use those?

[2017-12-21 17:01] #3946 closed

[2017-12-21 17:15] #3958 closed

[2017-12-21 17:17] JasonSowers commented on #3894
@aseemrastogi Hsve you resolved this or are you still having the same issue?

[2017-12-21 17:18] JasonSowers commented on #3893
@madukapai Did you resolve this?  I never heard back from the email I sent.

[2017-12-21 17:23] deybhayden commented on #3913
Yep, that works. Thanks.

[2017-12-21 17:23] #3913 closed

[2017-12-21 17:28] #3527 closed

[2017-12-21 17:53] JasonSowers commented on #3835
Closing this, please let me know if you would like to reopen.

[2017-12-21 17:53] #3835 closed

[2017-12-21 18:01] JasonSowers commented on #3039
@zubcomandante @bhushanvadgave
This project does exactly this https://github.com/JasonSowers/ChatHistoryBot-Public.  I also suggest reading through this pull request on the WebChat repo https://github.com/Microsoft/BotFramework-WebChat/pull/615

[2017-12-21 18:07] JasonSowers commented on #3952
@hpksp things can sometimes take some time to propagate, this is probably the issue you ran into.

[2017-12-21 18:24] JasonSowers commented on #572
@Geertvdc No Bot.Builder Will not support .Net Core.  Our next version (v4) of the SDK will fully support it though. At this time we do not have hard dates for a release of it, but it should be in the not too distant future.

[2017-12-21 18:31] JasonSowers commented on #3891
We will respond to this thread as soon as we can make information publically available.

[2017-12-21 18:34] deybhayden commented on #3896
Any more info on this issue? Would love to have AudioCards as advertised, they'd be perfect for my bot.

[2017-12-21 18:54] Geertvdc commented on #572
is this V4 being build as open source? can we see it somewhere / contribute?

[2017-12-21 19:29] JasonSowers commented on #572
@Geertvdc Right now we do not have information to release publicly pleas follow #3891. We will update that issue as we can.

[2017-12-21 20:32] xjose97x commented on #3963
Hello @verdysh. You can check the stack of dialogs by checking the Frames in the IDialogTask object.

In order to have access to the "IDialogTask" object in your scorable, you need to pass it as a parameter when registering your scorable in the dependency injection container.

Example:
**Cancel Scorable**:
[code]

**Registering your scorable**:

[code]

To check the dialog the user is currently at

[2017-12-21 20:54] JasonSowers commented on #3935
Thanks for reporting this @xjose97x, we will look into this

[2017-12-21 20:58] EricDahlvang commented on #3936
A timestamp should work for ordering, yes.  As long as your client is setting the timestamp field correctly.

You could also use channeldata, and add whatever custom properties you wish.  Or, set a custom field to whatever you like when you persist the activity in IActivityLogger.LogAsync

[2017-12-21 21:39] JasonSowers commented on #3935
I was unable to reproduce with the same outcome.  I was able to produce some very strange behavior using `float` type.

![image](https://user-images.githubusercontent.com/6301037/34275842-d9a2aa06-e653-11e7-9a31-0b9cae7324ee.png)

This was all remedied by using the `decimal` type.

![image](https://user-images.githubusercontent.com/6301037/34275949-4044eef4-e654-11e7-84f9-176eda67cddd.png)

[code]

[2017-12-21 21:46] JasonSowers commented on #3920
I am unable to find a bot with an App ID of 6d31eccc-ea5f-47b7-aaa0-7befb04a17a7.  Could you possibly have given the wrong ID?

[2017-12-21 22:27] xjose97x commented on #3935
@JasonSowers Will provide you with an example as soon I get back to my office.
In the meantime, were you able to see what happened if you entered a float/double value with comma as decimal separator instead of dot?
Ex: 1500,50 or 12,44.

Also I'm still not sure if Formflow should be able to recognize when I enter a float value in a sentence such as:

"The answer is 1500.42"

Or with a currency ind

[2017-12-21 22:28] msmohan commented on #3956
@johnnyxu-pernix
In  'conversationUpdate' event you need to filter out the "{ id: 'default-bot', name: 'Bot' }" and then try again.

ChatConnector: message received.
{ type: 'conversationUpdate',
  **membersAdded: [ { id: 'default-bot', name: 'Bot' } ],**
  timestamp: '2017-12-21T22:20:15.594Z',
  localTimestamp: '2017-12-21T14:20:15-08:00',
  text: '',
  attachments: [],
  entities: [],
  address

[2017-12-21 22:29] JasonSowers commented on #3510
Going to close this for inactivity let me know if you are still having issues

[2017-12-21 22:29] #3510 closed

[2017-12-21 22:48] JasonSowers commented on #3935
FormFlow would only be able to recognize an actual floating point number anything else will give you results like these:

![image](https://user-images.githubusercontent.com/6301037/34277960-d12333a6-e65c-11e7-802a-7489699a4203.png)

However, in the emulator if I change my locale to spanish:

![image](https://user-images.githubusercontent.com/6301037/34278127-cf2b66da-e65d-11e7-82a6-c077cbf2a06e.pn

[2017-12-21 22:56] msmohan commented on #3930
@rupeshgx Can you share your code? I will try to repro and find an answer. I am interested in 'conversationUpdate' event.

[2017-12-21 22:58] JasonSowers commented on #3964
There Is no way to know if a user is typing or not.  The Bot Framework does not have any control over the channels.

In the past, I have seen people store messages in a list and send them after a timer has expired.  So when you receive a message in your bot you can start a timer if no message comes in and the timer expires send that message.  If another message comes in, store that message too and

[2017-12-21 23:02] ChristianRiedl commented on #3941
My app is using **Dialogs**. Dialogs assume that _MicrosoftAppCredentials_ is registered correct in the _AutoFac_ container. Injecting it in api/messages Controller like it is done in the AspNetCore2 sample is not possible. At minimum I have no idea how to manage it. Here my Message controll function.

[code]

[2017-12-21 23:20] JasonSowers commented on #3941
Dialogs are not supported in AspNetCore because there is no official `Bot.Builder` package that supports it currently.

[2017-12-21 23:21] khawarashraf commented on #3920
I have been desperately trying to get it to work. I migrated it to Azure but it still didn't work and now its all messed up. I created a new Bot Channel Registration and it still didn't work. Following is the new ID of the bot in Azure and also the issues I'm facing.

App ID: 63a30e96-b341-47c7-a9fa-4480a59f9d83

1. If it try to create password for this, I get an error about some graphics issue.
2

[2017-12-21 23:36] johnnyxu-pernix commented on #3956
@msmohan I added this to the `conversationUpdate` but it's still repeating the messages:
[code]

One thing that I noticed is that I'm using another `conversationUpdate` event at the beginning of the conversation, this is being sent from the client in order to have the identity of the user before the interaction starts.

I removed the first one, the one that sets the user data but still I'm having

[2017-12-22 00:39] mminchev commented on #3831
@brene, it has been more than 2 weeks now and this bug is still not fixed in the production environment.

To be honest, as a CTO, I really regret for choosing Skype Web Control as a channel for a large business project. I really like Microsoft Bot Framework. however Skype Web Control just does not work for us. There is at lease one major bug every month that is making us feel uncomfortable in fron

[2017-12-22 03:23] neetgupta7 opened #3965 "Couldn't send Retry error in Webchat"
* SDK Platform:  .NET
* SDK Version: 3.12
* Active Channels: Webchat, Cortana
* Deployment Environment: Azure App Service, other

Hello
We have a bot available on webchat and cortana. It has to perform multiple operations in the background by connecting to multiple systems. At times and randomlyuser on webchat see 'coudn't send retry'. Even then the message is delivered and i get back the response

[2017-12-22 07:05] madukapai commented on #3893
@JasonSowers Not resolved, so can I try to connect this page id now?

[2017-12-22 07:12] rafadorado commented on #3964
Thanks for the answer @JasonSowers. I'll try with the timer.

[2017-12-22 07:12] #3964 closed

[2017-12-22 08:36] verdysh commented on #3963
@xjose97x, thanks for the detailed answer! It looks like it's what I need.

[2017-12-22 10:10] zubcomandante commented on #3039
@JasonSowers thank you very much, I'm giving a look at it.
Our bot is implemented in Node.js with MongoDB persistency for state data, and we are connecting from custom directline-based clients (web and mobile): so I can't use your code directly, I rather have to understand the main facts and reproduce the whole thing in our scenario.

[2017-12-22 10:18] fms-santos commented on #3831
Well, although my bot is not on our production Env. and it's only a proof of concept, I have to say that I share the same opinion as @mminchev . Skype Web Control does have some serious problems and feels like it's simply not 100% ready for Production. I had problems before also with"disappearing suggested actions" and now this one. It's a shame because it could be really useful.

[2017-12-22 11:42] brene commented on #3831
@mminchev @fms-santos I understand the frustration and I truly apologize for this. There were some unexpected road blocks that we faced. We have now released the new version of the SWC.

Can you confirm the fix?

Happy holidays and sorry again ❄️ ☃️

[2017-12-22 11:48] martinoss commented on #3835
@JasonSowers Can you please reopen this issue? `messageBack` does not behave like stated in the documentation and it's a bug in my eyes.
The behavior described in the docs is actually exactly what I've been looking for and would result the best user experience.
Using `imBack` or `PostBack` is ok as workaround but I hope `messageBack` can be fixed, so I can switch to it later on.

[2017-12-22 15:16] fms-santos commented on #3831
Yes @brene I can confirm that it's fixed.
Thank you. I appreciate your effort in fixing this issue.

[2017-12-22 15:16] #3831 closed

[2017-12-22 15:54] AlexeyTokarev opened #3966 "[Skype] Why is my SkypeBot in Review for so Long?"
## Bot Info
* App ID:
* SDK Platform:
* SDK Version:
* Active Channels:
* Deployment Environment:

## Issue Description

## Code Example

## Reproduction Steps
1.
2.
3.

## Expected Behavior

## Actual Results

[2017-12-22 16:19] msmohan commented on #3965
@neetgupta7 can you  share the code in order to review and resolve the issue?

[2017-12-22 16:31] msmohan commented on #3966
@AlexeyTokarev can you fill in the template provided here and what is your botd?

[2017-12-22 16:36] lucasperez commented on #3825
+1 it is pretty simple to do with other bots line hubot or lita

[2017-12-22 16:41] lefbsilva commented on #3825
I have the same problem. What is a solution? Anyone have an alternative?

[2017-12-22 16:52] JasonSowers commented on #3893
For security reasons, I cannot give out the email listed on the bot. The bot registered to that facebook page is named Kuai3FacebookRobot.  I'm happy to help and provide any information I can and help resolve this.  I will send another email to the Hotmail email address listed with the Kuai3FacebookRobot bot.

[2017-12-22 17:06] JasonSowers commented on #3039
@zubcomandante While your implementation will be different the core functionality will be the same.

1. Save `Activity`  to your persistent data store
2. Serve the activities up to the webchat control as it is rendering/before it renders.

Keep in mind the example I showed you is not a fully complete production level example.  It does not, for example, have a way to handle a very high number of me

[2017-12-22 17:11] JasonSowers commented on #3965
Also please provide your app ID

[2017-12-22 17:19] JasonSowers commented on #3835
@martinoss The documentation in question is titled **Add cards and card actions in a Microsoft Teams bot** and is for **Microsoft Teams** bots only.  There are a few Microsoft teams only `ActionTypes` and `MessageBack` is one of them, that is the reason for the confusion there.

[2017-12-22 17:22] neetgupta7 commented on #3965
Used HostingEnvironment.QueueBackgroundWorkItem and made it work

[2017-12-22 17:22] #3965 closed

[2017-12-22 17:52] JasonSowers commented on #3941
Well, in that case, to answer your original question any solution you come up with is the correct solution to your problem.  That's awesome you found a way to get around this!

[2017-12-22 17:57] JasonSowers commented on #3963
Great Job @xjose97x!!

[2017-12-22 17:58] JasonSowers commented on #3964
Good Luck @rafadorado!

[2017-12-22 19:09] #3963 closed

[2017-12-22 19:14] EricDahlvang commented on #3682
@rjgmail88  Are you still experiencing this problem, or have you found a resolution?

[2017-12-22 21:40] JasonSowers commented on #3954
What `ActionType` are you using?

[2017-12-23 06:38] madukapai commented on #3893
@JasonSowers Thank you very much,
I guess, registered BOT email address may be maduka_bor@hotmail.com or maduka_phone@hotmail.com, the both are currently in use by me, so if I provide email address is correct, I can provide more Information (ex:bot framework screen, azure web app screen...) to confirm and resolve this problem.

[2017-12-23 13:59] DrWala commented on #3510
Hi @JasonSowers, no issues on my end now. Will reopen if need be.

[2017-12-23 14:11] DrWala opened #3967 "Sending images to facebook causing Microsoft.Rest.HttpOperationException: You must provide an original or thumbnail property"
## Bot Info
* Bot handle: spjaebot
* App ID: 9c0072eb-f501-4042-af87-353a7dc8aee9
* SDK Platform: .NET
* SDK Version: 3.12
* Active Channels: Direct Line, Web, Telegram, Messenger
* Deployment Environment: Azure website

## Issue Description
Sending an image as an attachment causes the following error: `Microsoft.Rest.HttpOperationException: You must provide an original or thumbnail property`

##

[2017-12-24 10:03] Enghouse-CCSP-PS commented on #3523
We've used sources for couple of versions, but now with the latest version on NuGet it's working good. Seems like issue is fixed and should be closed.
Thanks.

[2017-12-24 15:46] rjrahul opened #3968 "[Question] dialog.begin() method does not pass results forward?"
I would like to raise an issue where `Dialog.prototype.begin` method in Node.js `botbuilder` SDK does not pass the results to the `replyReceived()` method.

This means we cannot use the recognizer results when intent triggers a dialog, in case we pass the dialogId and register dialog separately with the bot.

For example, I register qnaRecognizer with IntentDialog and then use the intent.matches t

[2017-12-24 18:32] artemious7 commented on #3122
Looks like not :-(

[2017-12-25 08:07] khalidpal opened #3969 "Problem generating password when configuring a channel."
## Bot Info
* App ID: 7307467b-55b4-4fec-bd3e-69f9e834dfc1
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: none-webchat
* Deployment Environment: ngrok, Azuree App Service

## Issue Description
Cannot create new password here;
https://apps.dev.microsoft.com/?referrer=https%3a%2f%2fportal.azure.com%2f#/application/7307467b-55b4-4fec-bd3e-69f9e834dfc1
## Code Example

## Reproduction

[2017-12-25 08:09] khalidpal commented on #3969
This is not a temporary problem, experiencing since two days.

[2017-12-25 09:14] aseemrastogi commented on #3894
It works fine now. Thanks for your help.

[2017-12-25 09:14] #3894 closed

[2017-12-25 15:42] saifalamstats commented on #3682
Hi. I do have the above discussed at hand too.
After reading the whole thread, I got a pretty good direction to start with.

However, it will really be good if someone helps me understand what is 'Server.js' and 'Schedule.js'.
The bot I am working on, only appears of have an 'index.js' json file, where I can code the body.

I do have limited knowledge in json handling, it will be really great if s

[2017-12-25 19:53] DovydasNavickas commented on #2537
Yep, same here. Removed the app for holidays, because it started spamming replies to any message anywhere, now re-added and started getting `invalid_auth`.

[2017-12-25 19:58] DovydasNavickas commented on #2537
And indeed some time has passed till while I was looking for solution and bot started working again. You're not invalidating some cache actively and we have to wait for it to be invalidated after some time (not sure even how much time).

[2017-12-26 03:14] dividor opened #3970 "[Node.js SDK, WebChat] How can I trigger a file upload window?"
## Bot Info
* App ID:
* SDK Platform: Node.js
* SDK Version: 3.13.1
* Active Channels: Web chat
* Deployment Environment: Auzure Bot Service

## Issue Description
We have a bot which is used to raise support issues. Some support issues will have files to be attached - screenshots, log files - but not ALL issues. Right now we have a workflow like this:

1. "Do you want to upload an attachment?"
2.

[2017-12-26 04:01] areckkimo commented on #3969
I have same promble

[2017-12-26 05:38] Ptstset132 opened #3971 "Unable to Access Bot by others in my facebook page"
Hi i have made a facebook messenger bot successfully but problem is it only replied me not others on my page. are there any permissions to setup for messenger bot to  public?

[2017-12-26 11:24] chathudev commented on #3971
Until an app is published, it is in Development Mode. It will only work for admins, developers, and testers. You will have to submit your app for review by facebook.

Checkout the MSFT doc [https://docs.microsoft.com/en-us/bot-framework/bot-service-channel-connect-facebook](here)

And Facebook doc [https://docs.microsoft.com/en-us/bot-framework/bot-service-channel-connect-facebook](here)

[2017-12-26 16:31] FranciscoPonceGomez commented on #3969
This is a known problem. We are currently working on a fix. I will keep you updated here.

Regards,
Francisco

[2017-12-26 16:56] khalidpal commented on #3969
Thanks!

[2017-12-27 01:28] sfratini commented on #2715
Maybe you could use JSON.stringify and JSON.parse. I am doing that to send an object. @jagadeeshmarthy

[2017-12-27 09:14] satyansh-sagar commented on #3017
How long will it take to resolve the issue, I'm facing the issue since a long time now and now the Framework is in General Availability, i think it should be resolved.
any updates @msmohan @nwhitmont @msft-shahins @msftdata

[2017-12-27 09:21] martinoss commented on #3835
@JasonSowers Ohh, you're right. Sorry, I din't notice that :see_no_evil:

[2017-12-27 10:44] somak12 opened #3972 "[FB Messenger] How to POST payload back from FB webview to bot using webhook postback event?"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.5.5
* Active Channels: Facebook
* Deployment Environment: Azure App Service

## Issue Description
Hi, I am trying to use the webview feature of Facebook messenger platform in botframework. Rendering of the webview is working fine. The problem I am facing right now is to POST the payload from the webview back to the chat.

It seems that exposing an

[2017-12-27 11:16] kalykodu commented on #1749
@dandriscoll i am using webchat and c# and the activity.localtimestamp value is null for my messages. Can you please help understand if this needs to be set somewhere in the request?

[2017-12-27 14:08] ederbond commented on #3906
After enabling Elmah on my bot I've find out that the `Microsoft.Bot.Builder.Dialogs.Internals.InMemoryDataStore` is causing an exception that is making my bot return the  "Sorry, my bot code is having an issue." message to my client.

Now the question is:
Is this InMemoryDataStore deprecated or possibly have issues with quick multiple requests ?
How to solve the exception bellow:
![image](https:/

[2017-12-27 14:18] ederbond opened #3973 "[State Service] InMemoryDataStore Throwing "Inconsistent SaveAsync based on ETag!""
## Bot Info
* App ID: 0b0170f6-6a74-44a8-889d-2faa73ca62bb
* SDK Platform: .NET
* SDK Version: "Microsoft.Bot.Builder" version="3.12.2.4"
* Active Channels: Direct Line
* Deployment Environment: ngrok + local IIS hosted in Brazil

## Issue Description
While simulating 4 clients (directlineJS) calling my bot simultaneously I've receiving the message "_Sorry, my bot code is having an issue._" very f

[2017-12-27 14:19] ederbond commented on #3973
@EricDahlvang is this class deprecated and should not be used ? Or possibly a bug ?

[2017-12-27 14:32] ederbond commented on #3973
After changing the `CachingBotDataStoreConsistencyPolicy` from ETagBasedConsistency to LastWriteWins the error disapeared, but so far I don't know how the ETagBasedConsitency works...

[2017-12-27 15:48] sfratini opened #3974 "[Node.js SDK, Dialogs] Resumed dialog in last step automatically end all parent dialogs"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.11.0
* Deployment Environment: Local Emulator

## Issue Description
I am trying to understand the concept or flow of what happens in the last step. I have a waterfall dialog that in the last step, begins a new dialog that request the user to confirm their choices. They can choose to cancel, confirm or modify. Confirm and cancel works fine.

In o

[2017-12-27 16:16] sfratini commented on #3974
Well, I "solved" it by adding a second step in the requestConfim dialog and ending the child dialogs with {success:true}. This is my second step:

[code]

It seems an overkill, having a step just for this but so far it works. I'd love some feedback about the solution tho. Thanks

[2017-12-27 16:36] JasonSowers commented on #3835
Happens to the best of us.  Good luck my friend

[2017-12-27 16:42] #3523 closed

[2017-12-27 16:50] ederbond commented on #3922
After enabling Elmah on my but I've find out that there was an issue with the way I was registering the `Microsoft.Bot.Builder.Dialogs.Internals.InMemoryDataStore` as can be seen on these threads:
https://github.com/Microsoft/BotBuilder/issues/3973
https://github.com/Microsoft/BotBuilder/issues/3906

[2017-12-27 16:51] ederbond commented on #3906
https://github.com/Microsoft/BotBuilder/issues/3973

[2017-12-27 17:04] jagadeeshmarthy commented on #2715
Yes,@sfratini. I have found that,  as of now it is the only way.

[2017-12-27 17:05] JasonSowers commented on #3947
Closing due to lack of response let me know if you need to reopen

[2017-12-27 17:05] #3947 closed

[2017-12-27 17:06] JasonSowers commented on #3935
@xjose97x any update?

[2017-12-27 17:09] gabosdk commented on #3969
I have the same issue since yesterdar

[2017-12-27 17:09] gabosdk commented on #3969
I have the same issue since yesterday

[2017-12-27 20:05] xjose97x commented on #3935
Oops, sorry @JasonSowers  for the late reply. Been a bit inactive due to holidays.

I decided to handle this by making the "amount" field a string, and using a validate function.
In the validate function I remove any dollar symbol (if found), and then I try to parse the string as a float. If the parse was succesful, then it's a valid amount, otherwise reprompt the field in the form.

Also when par

[2017-12-28 09:30] mukeshzt opened #3975 "Bot not responding"
## Bot Info
* App ID: c1dac1a5-a887-4650-8373-f32a3d6bd6ed
* SDK Platform: Node.js
* SDK Version:
* Active Channels: Skype
* Deployment Environment: Other

## Issue Description
Bot working well on the local using emulator once I deployed on I tried with Skype channel it's not working, previously it was working on skype channel. Not showing the welcome message and the signed card.

## Code Example

[2017-12-28 13:20] luccasmf commented on #3941
@ChristianRiedl did yout put this re-registration on Dialog or Controller ? I'm trying to publish my .net core bot, locally it runs nice, but when on Azure, it doesn't answert the chat

[2017-12-28 14:16] EPinci commented on #3941
I have put it in the startup.cs once and for all... ;)

[2017-12-28 14:17] luccasmf commented on #3941
@EPinci did it work on Azure ?

[2017-12-28 16:57] JasonSowers commented on #3975
@mukeshzt I just tested your bot in webchat and got this error:
![image](https://user-images.githubusercontent.com/6301037/34417380-098e2980-ebad-11e7-960a-a193d5c59217.png)

Are you able to share your code?  How and where is your bot deployed?  I also see you haven't migrated your bot yet.  Please try migrating and see if that helps too.

[2017-12-28 16:58] an0o0nym commented on #3901
Can you please provide us with any help on how to tackle this problem?

[2017-12-28 17:26] SDCA19 opened #3976 "[Node.js SDK, Dialogs] builder.Prompts.choice and Waterfall dialog not waiting for user input?"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.13.1
* Active Channels: Emulator

## Issue Description
builder.Prompts.choice not waiting for user input

## Code Example
[code]

## Expected Behavior
As per the documentation: https://docs.microsoft.com/en-us/bot-framework/nodejs/bot-builder-nodejs-dialog-manage-conversation-flow

The prompt should wait until the user selects an option

## Actu

[2017-12-28 18:05] JasonSowers commented on #3935
Glad you found a solution

[2017-12-28 18:05] #3935 closed

[2017-12-28 18:07] #3868 closed

[2017-12-28 18:12] ChristianRiedl commented on #3941
Here my Code in Startup.cs. I did not test it in Azure.

[code]

[2017-12-28 18:37] JasonSowers commented on #3932
take a look at [this](https://github.com/EricDahlvang/EndConversationTest/blob/master/EndConversationTest/ConversationTimeout.cs)  I think its exactly what you are looking for.  If not it should get you started in the right direction.

[2017-12-28 18:52] JasonSowers commented on #3932
let me know if that doesnt help and I will reopen this issue for you

[2017-12-28 18:52] #3932 closed

[2017-12-28 18:59] JasonSowers commented on #3919
What channel(s) are you using? If using something like directline I would think this would be entirely possible.  You may want to set up and enterprise service bus or some other sort of queueing system.  You would have to set up multiple clients so that you could manage multiple conversations on the human end.  I'm not really sure how this would work on other channels though.

[2017-12-28 20:41] gabosdk commented on #3969
When this gonna be fixed, several days with the same issue.

[2017-12-28 23:23] luccasmf commented on #3941
nice @ChristianRiedl  I'll try it, my only issue is that when I publish my bot on Azure, the channel doesn't comunicate with it, then the bot doesn't work :(

[2017-12-29 03:52] garyfungwelab commented on #3192
An alternative way is creating a new Facebook app to do the feed subscription.
One app for messenger -> Botframework, another for feed subscription.

[2017-12-29 04:33] mukeshzt commented on #3975
@JasonSowers Thanks for your feedback. Issue resolved.
I will migrate bot as well.
Thanks

[2017-12-29 04:33] #3975 closed

[2017-12-29 06:35] johnnyxu-pernix commented on #3956
@nwhitmont @msmohan sorry to bother you again, I just noticed that the conversation starts again when the first input is entered.

In this case is the `selectDevice`:

[code]

[2017-12-29 07:12] PreranaPolekar commented on #3235
Thanks @EricDahlvang .Sorry for delay in reply, was switched to another project. Currently I am not able to work on this but will get back if the issue persists. Thanks again guys :) Happy New Year, Happy Coding :)

[2017-12-29 07:48] neetgupta7 commented on #2869
@EricDahlvang Is this now available on Cortana?

[2017-12-29 08:59] neetgupta7 opened #3977 "[.Net SDK, Cortana] How to Show progress indicator to user on WebChat and Cortana?"
* SDK Platform: .Net
* SDK Version: 3.12
* Active Channels: Webchat, Cortana
* Deployment Environment: Azure App Service

Hello
I want to prompt user that the operation is in progress when its taking longer than lets say 3 seconds. I looked into below article for the same-
https://docs.microsoft.com/en-us/cortana/skills/show-progress

Now while this code works fine on emulator, it doesnt work when

[2017-12-29 10:02] AyoubHaggui opened #3978 "[Question] How to Manage multiple Prompt Dialogs?"
## Issue Description

## Code Example
Am trying to chain multiple PromtDialogs but the execution fails
[code]

[2017-12-29 18:14] msmohan commented on #3978
@AyoubHaggui  To better assist you can you fill in all information requested?

## Bot Info
* App ID:
* SDK Platform:
* SDK Version:
* Active Channels:
* Deployment Environment:

## Issue Description

## Code Example

## Reproduction Steps
1.
2.
3.

## Expected Behavior

## Actual Results

[2017-12-30 07:18] slidenerd commented on #898
Best to add firstRun as an event to this list that gets triggered once when the user uses the bot for the first time, a lot of boilerplate will be eliminated on the developer's end

[2017-12-30 10:54] Ma3yTa commented on #3710
workaround posted https://github.com/Microsoft/BotBuilder/issues/2347#issuecomment-305999604

[2017-12-30 10:54] #3710 closed

[2017-12-30 10:56] #3767 closed

[2017-12-30 11:13] slidenerd commented on #2012
New update people, has any of you tried Chatbase from Google? for bot analytics

[2017-12-30 19:30] nwhitmont commented on #3976
You are calling `session.endDialogWithResults()` before you do anything with the prompt result, so what you described is expected behavior.

The result of the prompt choice needs to be handled in the same dialog as the prompt is called from. Eg. in the next waterfall step of the "feedback" dialog, not in the "/" main dialog.

Example:
[code]

[2017-12-30 19:34] nwhitmont commented on #3968
Hi @rjrahul Can you provide a code example that demonstrates this issue end-to-end? Thanks

[2017-12-30 22:00] RubenRFM commented on #3969
Somebody knows any time estimate when this will be solved? Thanks in advance

[2017-12-30 23:37] amirelemam commented on #1943
@aakashkag Thank you so much!

[2017-12-31 08:21] SDCA19 commented on #3976
@nwhitmont Thank you for your response..

If I do that, then I get the prompt twice.. The first prompt seems to do nothing whereas the second prompt works as expected..(I was facing this issue earlier as well but just didn't mention..Don't know why!).. Nonetheless, screenshots below:

![image](https://user-images.githubusercontent.com/31275908/34460343-5071b214-ee31-11e7-9f5e-390588b184a5.png)

![

[2017-12-31 15:38] Niko-La commented on #293
my bot responds to group interactions with private replies... :/

[2017-12-31 19:16] zlepper opened #3979 "[Feature Request] IBotStorage callback should have error be optional for strict mode"
## Issue Description
IBotStorage callback should have error be optional, you have to pass along something if the err parameter is checked against strict null mode.

## Code Example
[code]

## Expected Behavior
I should be able to pass null or undefined to the callback, provided there is actually no error.

## Actual Results
I have to pass along a actual error variable.

[2018-01-01 04:36] achadha0111 opened #3980 "[Node.js SDK, FB Messenger] Error: Request to 'https://state.botframework.com/v3/botstate/facebook/users/xxxxx' failed: [500] Internal Server Error"
## Bot Info
* SDK Platform: Node.js
* SDK Version: v3
* Active Channels: Facebook Messenger
* Deployment Environment: Heroku

## Issue Description
All messages to the bot throw an error similar to this one now *Error: Request to 'https://state.botframework.com/v3/botstate/facebook/users/1161434730636148' failed: [500] Internal Server Error*

[2018-01-01 05:29] achadha0111 commented on #3960
Different bot user, but this seems to be happening on one of my bots as well.

[2018-01-01 11:48] advl03 commented on #3980
Happy New Year!
It happens the same with my production bot since yesterday. I also use node.js, SDK v3 and Facebook Messenger, deployed in a VM hosted in Azure. This is what I see in the logs:

{"trans":"39429903-0460-4598-8ec2-fe3c0eabda10","corr":"39429903-0460-4598-8ec2-fe3c0eabda10","time":"2018-01-01T10:15:13.716Z","lvl":"ERROR","err":{"message":"Request to 'https://state.botframework.com/v3/

[2018-01-01 18:03] nwhitmont commented on #3980
@achadha0111 @advl03 Thanks for reporting - I have forwarded the issue to our platform team for investigation.

[2018-01-01 19:50] nikhilabhiman commented on #1139
Even, I get the same issue. How do I access the Bot I have built over the browser and give URL to someone to test. Everytime , I need to login in azure and see it in Web chat

I get the below error when accessed through the browser

https://{mydomain}.azurewebsites.net/ .
{"code":"ResourceNotFound","message":"/ does not exist"}

https://{mydomain}.azurewebsites.net/webchat?s={direct_line_secret_ke

[2018-01-01 19:58] jdavidbambrick commented on #1248
I'm following along in the sandwich maker example - and while I can handle the sandwich maker quit exception ... it continues afterward to give me an Exception: Form quit {File of type 'text/plain'] - where do I catch this to prevent it from showing up afterward?

[2018-01-02 00:01] nwhitmont commented on #3976
What's happening in your `dialog('qna')`?  I would need to see the complete bot code (all lines, all files) to troubleshoot this issue further.  It might have something to do with redirecting back and forth between the different dialogs, but hard to say without seeing the complete code.

One way to isolate the problem would be to move your "yes/no" prompt into the 'qna' dialog so everything is in

[2018-01-02 08:02] ganesh1190 opened #3981 "[Skype for Business] When Message is sent from SfB client to bot, It receives two responses. Address-Id with "sip" and without "sip""
## Bot Info
* SDK Platform:  Node.js
* botbuilder Version: 3.8.4
* Active Channels: Skype for Bussiness
* Deployment Environment: Azure Bot Service, Azure App Service

## Issue Description
On chat initiation from users to bot using Skype for Business clients like Android, iOS, and Mac, bot receives two responses (type: message) from users. But while using Windows SFB client, bot receives only 1 re

[2018-01-02 08:53] mahimapspl commented on #164
Typing activity is not working with Slack.

[2018-01-02 08:54] advl03 commented on #3980
It is working now. What was the problem?

[2018-01-02 09:01] mahimapspl commented on #664
Typing activity is not working with slack.

[2018-01-02 10:14] ganesh1190 opened #3982 "[Skype for Business] SfB client does not receive message, when Message is sent from bot to SfB client, if SfB client window is minimized, or not in Right-Down corner of screen, or has multiple conversation added in SfB client."
## Bot Info
* SDK Platform: Node.js
* botbuilder Version: 3.8.4
* Active Channels: Skype for Business
* Deployment Environment: Azure Bot Service, Azure App Service

## Issue Description
We have created a bot for Skype for Business to start conversation with SFB clients.  In our case,  when conversation is initiated from bot using following code, SFB client does not receive the message from bot if

[2018-01-02 11:27] jelenasol opened #3983 "[.Net SDK, Skype, bug] If bot is removed from Skype contact list, bot receives contactRelationUpdate activity with 'remove' action property twice?"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12
* Active Channels: Skype
* Deployment Environment: Auzure Bot Service, Azure App Service

## Issue Description
If bot is removed from Skype contact list, bot receives contactRelationUpdate activity with 'remove' action property twice for the same Skype contact.

## Code Example
-

## Reproduction Steps
1. Add bot to Skype contact list.
2. Remove

[2018-01-02 14:00] dihiaselma commented on #204
Hello;

I have the same issue. When I use my own account, or any account that I added to my app as e Tester. My chatbot works well.
else, It doesn't repond. How can I fix this problem?

Should I create a webpage that hostes The privacy URL, or there is any solution ?

Thxs

[2018-01-02 16:42] fabiooshiro commented on #3825
@nwhitmont any update?

[2018-01-02 17:17] EricDahlvang commented on #3969
This will be fixed soon.  For now, you can retrieve the auto-generated password using the following method:

MicrosoftAppId and MicrosoftAppPassword can be found by navigating to the ResourceGroup for the Bot Registration, choosing “Deployments”, then the specific deployment for the bot.

![appidpassword](https://user-images.githubusercontent.com/11055362/34492674-9b58fc20-ef9d-11e7-91b9-466337b26

[2018-01-02 20:15] dboscanv opened #3984 "[Question] Bot stops responding?"
## Bot Info
* SDK Platform:  Node.js
* SDK Version: 3.13.1
* Active Channels: Facebook Messenger, Telegram
* Deployment Environment: Azure Bot Service, Azure App Service

## Issue Description
Hello, I am developing a bot with LUIS.AI and MBF, but the problem is the following: the bot stops responding at some point in the conversation, and it takes to respond again. I connect to a MySQL database fo

[2018-01-02 20:24] EricDahlvang commented on #1139
@nikhilabhiman

You can provide testers with this url:
`https://webchat.botframework.com/embed/{YourBotHandle}?s={YourWebchatSecret}`

You can find the Webchat Secret in the WebChat channel's configuration page on the Channels tab under Bot Management.  You can also find the iframe embed code here.

![image](https://user-images.githubusercontent.com/11055362/34498582-2a3b93c6-efb7-11e7-87d9-809216

[2018-01-02 21:15] nwhitmont commented on #3880
Yes, deleting bot conversation completely (removing all conversation) is not yet supported on new Skype clients. It is in our backlog.

So if this is for demo purpose, I will propose to create a different Skypeid for now. This will allow you to start from a fresh slate.

[2018-01-02 21:15] #3880 closed

[2018-01-02 21:22] arthurbosquette opened #3985 "[Node.js SDK, FB Messenger] Bad Request when Facebook reviews my bot submission"
## Bot Info
* SDK Platform: Node.js
* SDK Version: 3.13
* Active Channels: Facebook
* Deployment Environment: Amazon Instance on Heroku

## Issue Description
When Facebook employees review my bot, they seem to get the following error :

No other log is prompted.

However, when I or other developers test the bot, everything seems to work just fine.

Where could this error come from ?

Many thanks

[2018-01-02 22:09] nikhilabhiman commented on #1139
@EricDahlvang : Thanks, I did the same. That helped me.

[2018-01-02 23:06] mefree98 opened #3986 "[FB Messenger] Callback URL generated by Azure gives 404?"
## Bot Info
* SDK Platform: .NET
* Active Channels: Skype, Skype for Business, MS Teams, SMS, Email, Facebook Messenger, Direct Line
* Deployment Environment: Auzure Bot Service on Azure

## Issue Description
I have created a bot that I host in Azure and works fine for all the other channels I have enabled, including SFB, consumer skype, email, SMS, Teams, etc. The only channel I can't complete is

[2018-01-02 23:07] EricDahlvang commented on #3973
Hi @ederbond

This is by design.  With ETagBasedConsistency, writes that overlap will throw an exception.  The code for this can be found here: https://github.com/Microsoft/BotBuilder/blob/db2b8f860a3d8f7744a378930f93c4b0baa97978/CSharp/Library/Microsoft.Bot.Builder/ConnectorEx/BotData.cs#L143

In most bots, LastWriteWins is a valid option.  If your bot is concerned with ensuring nothing in bot st

[2018-01-03 00:22] nwhitmont commented on #3896
Hi @deybhayden - I updated the audio content URL to serve the Bach.wav file referenced in your comment of 2017-12-11, and it works for me on Skype desktop for macOS. I'm unable to test on Android though.

You can see it working with my test bot "NilsSkypeSupportDev":
<img width="1018" alt="screen shot 2018-01-02 at 4 21 05 pm" src="https://user-images.githubusercontent.com/3075047/34505260-08e1375

[2018-01-03 04:44] nikhilabhiman opened #3987 "[Question] Looking for code example of "human-bot-handoff" workflow"
I followed the below link and was able to achieve POC with localhost running successfully with 2 browser instances, agent and user - https://github.com/palindromed/Bot-HandOff

I want to achieve the same through my azure chatbot on cloud and make live agent connection when needed & agent availability pool created & backed by Message broker (like rabbitmq/  kafka). I want to ship this chatbot for d

[2018-01-03 05:04] mukeshzt opened #3988 "[Bot Migration] Not able to migrate existing bot?"
## Bot Info
* SDK Platform: Node.js
* Node.js Version:  node v6.9.1, npm  v3.10.8
* Active Channels: Skype, Slack, facebook
* Deployment Environment:  Other (nginx - LINUX - Ubuntu 14.04.5 )

## Issue Description
I have two bots [Bot Framework Portal](https://dev.botframework.com/bots). Now I would like to migrate existing bot. Once I click on the migrate button next to my development Bot then it

[2018-01-03 05:04] sreeharikm commented on #3962
Please share if you have any thoughts on this.

[2018-01-03 09:37] ganesh1190 commented on #3808
waiting for update , facing same issue , any Updates on it?

[2018-01-03 09:59] senthilcsk opened #3989 "[Bot Migration] After migrating my bot to Azure - it's not responding?"
## Bot Info
* App ID: 9f742d86-2b75-4c3c-aac7-1a4f4a4858db
* SDK Platform:  .NET
* Active Channels: Facebook
* Deployment Environment: Azure Bot Service,Manual

## Issue Description
After migrate my app to Azure it's not responding

## Reproduction Steps
1. I've migrated my Bot. then added the new BotId,appid and password in IIS application.
2. Open Facebook and drop the message. But i dont receiv

[2018-01-03 12:15] #3949 closed

[2018-01-03 13:12] amehta3000 commented on #3808
No updates. Was recommended to just go straight markdown, but as you may already know the SFB client on Mac doesn’t seem to even render markdown bold or italics either. Wondering if there will ever be an update or if there is an intention to make it better.

[2018-01-03 13:44] ederbond commented on #3973
Ok, Thanks @EricDahlvang.

[2018-01-03 13:44] #3973 closed

[2018-01-03 13:45] #3906 closed

[2018-01-03 16:50] deybhayden commented on #3896
It did indeed work for me as well on macOS AND Android! 🎉  Now I'd like to see the difference of our two bots. Did you happen to test with an mp3 file as well? Also, I notice your bot says `Make voice calls` on permissions, but mine doesn't, just `Send and receive instant messages and photos`. Do I need that voice call permission to play audio?

[2018-01-03 16:50] JasonSowers commented on #3978
If you are trying to chain prompts together you may want to consider [formflow](https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-formflow)

[2018-01-03 17:03] JasonSowers commented on #204
@dihiaselma has you bot been submitted and approved by facebook?

[2018-01-03 17:23] nwhitmont commented on #3984
@dboscanv How long does your database query take in seconds? If your database call is taking more than 10-15s that could be your problem.

Can you share your bot code?

[2018-01-03 17:28] JasonSowers commented on #3920
@khawarashraf  are you still experiencing these issues?

[2018-01-03 17:32] nwhitmont commented on #3987
Hi @nikhilabhiman What programming language is your primary target?

The example you found is probably the best one to follow. As for your specific server infrastructure implementation, that is up to you to design and implement.

[2018-01-03 17:35] JasonSowers commented on #3987
Please see this [StackOverflow post](https://stackoverflow.com/questions/47097170/hand-off-bot-to-human-using-botframework-nodejs/47099488#47099488) for more info as well

[2018-01-03 17:36] nikhilabhiman commented on #3987
Hi @nwhitmont .  I will be using Java Message brokers

[2018-01-03 17:39] nwhitmont commented on #3988
Hi @mukeshzt - If you have a bot registration created via the Bot Developer Portal at https://dev.botframework.com - then you can migrate it to the new Azure product called "Bot Channels Registration" -- this requires an Azure account/subscription.  The email account connected to your Azure account must be an admin/owner of the bot for the migration to succeed.

Let me know if you have additional

[2018-01-03 18:05] #3971 closed

[2018-01-03 18:07] JasonSowers commented on #3967
It may be worth contacting Facebook support on this one @DrWala  we'll look into it as well.

[2018-01-03 18:26] makashtekar commented on #2196
What the hell, why i can't do this mention feature like `slack`.. Anybody is there who can i help on this shit ?

[2018-01-03 18:42] khawarashraf commented on #3920
Yes, all issues still the same.

[2018-01-03 18:42] JasonSowers commented on #3966
Closing due to lack of response

[2018-01-03 18:42] #3966 closed

[2018-01-03 18:42] EricDahlvang commented on #3922
@tristanvandam

Have you had the opportunity to implement a custom state client, and retry your tests?  The default state service is intended only for prototyping.

[2018-01-03 18:43] JasonSowers commented on #3962
This might be a better question to ask in the [webchat repo](https://github.com/Microsoft/BotFramework-WebChat/issues/new)

[2018-01-03 18:45] EricDahlvang commented on #3787
@willemodendaal @droidpl Are you still having these issues?

Have you implemented a custom state client in your bots?  This blog post walks through adding Azure Table Storage or Document Db (now CosmosDb).

[2018-01-03 19:47] droidpl commented on #3787
Hey @EricDahlvang, thanks for replying. I didn't see the issue again lately. Yes I have the state implemented on document db and the bot migrated. Had some issues with 502 Bad gateway and 500 internal errors while in the migration but seems that it was an issue already fixed on Microsoft bot side. I will keep monitoring.

[2018-01-03 20:11] msmohan commented on #3956
I am not seeing First message repeated, but the devices.map function is missing from the code you shared.

[code]

![image](https://user-images.githubusercontent.com/29078812/34537888-02f36cc6-f07f-11e7-867c-33fe9072f0c0.png)

[2018-01-03 20:25] EricDahlvang commented on #3800
Hi @MavyCS

Bot Framework is now GA status, as of mid December 2017.

I would like to point out that the list you've provided also includes state retrieval and persistence, and return message transit time through the Direct Line Service:

- Transit time for the HTTP request to travel from the client to the Direct Line service
- Internal processing time within Direct Line (typically less than 120ms

[2018-01-03 20:25] #3800 closed

[2018-01-03 21:10] JasonSowers commented on #3920
We are currently working on a fix for these issues, I will update you as we know more.

[2018-01-03 21:20] khawarashraf commented on #3920
Thank you, looking forward to get it fixed.

[2018-01-03 21:39] #3685 closed

[2018-01-03 21:39] #3699 closed

[2018-01-03 21:41] #3756 closed

[2018-01-03 21:42] #3762 closed

[2018-01-03 21:48] JasonSowers commented on #3893
@madukapai whats the best email to contact you at?

[2018-01-03 21:59] JasonSowers commented on #3886
closing as no response from user

[2018-01-03 21:59] #3886 closed

[2018-01-03 22:00] JasonSowers commented on #3892
closing as no response from user

[2018-01-03 22:00] #3892 closed

[2018-01-03 22:00] JasonSowers commented on #3883
closing as no response from user

[2018-01-03 22:00] #3883 closed

[2018-01-03 22:04] JasonSowers commented on #3954
Closing as no response from user

[2018-01-03 22:04] #3954 closed

[2018-01-03 22:06] JasonSowers commented on #3961
Closing as no response from user

[2018-01-03 22:06] #3961 closed

[2018-01-03 22:07] dboscanv commented on #3984
Hello @nwhitmont, thanks for your reply.
The database query do not reach 1 second, they are very simple.
I attached the code of the dialog that I attached in the image:

[code]

[2018-01-03 22:15] nwhitmont commented on #3987
Hi @nikhilabhiman - Java is not currently a supported language in BotBuilder SDK and is out of scope for this forum.

[2018-01-03 22:15] #3987 closed

[2018-01-04 00:05] JasonSowers commented on #3933
Are you using directlineJS?

[2018-01-04 01:23] amarrero45 opened #3990 "[State Service] How to save conversation with Azure Cosmos DB in C#?"
## Bot Info
* SDK Platform: .Net
* SDK Version: 3.12.2.4
* Active Channels:
* Deployment Environment:  Local with Emulator

## Issue Description
If the QnA Maker returns "No Match Found", I would like to save the question asked by the person into an Azure Cosmos DB. If Qna Maker returns an answer, I would like to save that question into an Azure Cosmos DB, also.

I have implemented the Azure Cosmo

[2018-01-04 02:01] nwhitmont commented on #3896
@deybhayden Interesting observation!

My bot is "published", and I've got the "Calling" feature enabled with "Real Time Media" option selected.

<img width="760" alt="screen shot 2018-01-03 at 5 59 40 pm" src="https://user-images.githubusercontent.com/3075047/34547451-19cb9460-f0b0-11e7-8937-5649b2209474.png">

[2018-01-04 05:23] senthilcsk commented on #3989
Hi,
I've created "Bot Channels Registration". Integrated with Facebook .

On 3 Jan 2018 11:13 pm, "nwhitmont" <notifications@github.com> wrote:

Hi @senthilcsk <https://github.com/senthilcsk> -- When you migrated your
bot to Azure, what product did you create? Did you create "Bot Channels
Registration" or "Web App Bot" or "Functions Bot"?

—
You are receiving this because you were mentioned.
Reply

[2018-01-04 05:58] hpksp opened #3991 "[Cortana] Cannot invoke skill in Cortana after publishing bot?"
## Bot Info
* SDK Platform: .NET Bot Builder
* SDK Version: 3.12.2.4
* Active Channels: Cortana
* Deployment Environment:  Azure App Service/Local

## Issue Description
I have two main issues.
1. Cortana skill published (to self) is not listed under cortana->notebook->skills. therefore cannot invoke the skill.
2. Cannot change the display name and invocation name in the azure portal. Possible to c

[2018-01-04 07:21] victorgarciaesgi opened #3992 "[LUIS] How to recognize an address(geography) in other languages?"
## Bot Info
* SDK Platform:  Node.js
* Deployment Environment: Heroku

## Issue Description

How can LUIS recognize an address? I've seen that geography prebuilt entity will be deprecated but it was only available in English (I'm doing a French bot).

For the context I'm doing a google maps chatbot where you can ask questions like "estimated time to travel from paris to madrid".

Right now it only

[2018-01-04 07:48] ctshivakumar opened #3993 "[Skype for Business] Client throws error when bot replies - "Error happened in SfB service when reaching bot service""
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: Skype for Business
* Deployment Environment: Azure App Service

## Issue Description
Error happened in Skype for Business service when reaching bot service -
Error messages are seen on Skype for business when bot replies to skype messages

![image](https://user-images.githubusercontent.com/3965437/34554115-43f2ed10-f13c-11

[2018-01-04 07:49] ctshivakumar commented on #3993
![image](https://user-images.githubusercontent.com/3965437/34554238-f749a2f0-f13c-11e7-89f7-7af7bf8e1ab3.png)

[2018-01-04 09:25] yogiderek commented on #3991
I am experiencing the exact same problem but so far no solution. I have an open query on stack overflow as well.  I have gone through the exact same steps as yourself. However, I have found that i can change the Invocation name by changing the Display name field in Azure portal. Everything works in the Test Chat Client but Cortana still does not recognize the invocation name.

[2018-01-04 10:21] ctshivakumar commented on #3647
Any resolution on Bot responses appear in Times font ? We are seeing the same issues in skype for business bot.

[2018-01-04 10:44] grishutkin commented on #3882
Having same problem on Mac in Safari. Used code from dev.skype.com, installed plugin but no video icon

[2018-01-04 11:10] megjoshi opened #3994 "[.Net SDK, Skype Image Service] Receive attachment code example is not working - getting 403 error?"
Hi,

we used this sample to create a bot to respond to images, but from today, the receieve image is not working and is giving 403.

https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-ReceiveAttachment

It was working till yesterday.

Regards
Meghana

[2018-01-04 12:09] jakubbares opened #3995 "[Card Actions] How to generate action type to be processed by bot?"
Hi,
I am trying to find for HeroCard how to specify the Action.Submit type and string to be executed when a button is pressed.
In AdaptiveCard this is done in the JSON:
[code]
Where edit-reservation-id-${id} is the "type" string that is then caught by the bot by following function:
[code]
Or is there some other way how to specify what should happen once I press a button?

I have tried two possibil

[2018-01-04 12:23] madukapai commented on #3893
@JasonSowers you can send email to maduka_bor@hotmail.com or maduka_phone@hotmail.com

[2018-01-04 14:12] nwhitmont commented on #3990
Duplicate of https://stackoverflow.com/questions/48087096/how-to-save-conversation-with-azure-cosmos-db-in-c

[2018-01-04 14:17] nwhitmont commented on #3992
Hi @victorgarciaesgi - Have you checked out the Bing Location for Bot Framework package?

You can find more info here: https://github.com/Microsoft/BotBuilder-Location

[2018-01-04 14:22] nwhitmont commented on #3994
@megjoshi For reference - what is your system information when you encountered the error?

- Operating system?
- Skype client type? (mobile, desktop)
- Skype client version number where you saw the problem
- The actual text of the 403 error message you saw

[2018-01-04 15:03] hpksp commented on #3991
@yogiderek I changed the field under bot channels registration -> settings -> display name field. thanks for the tip :) however, the skill name in knowledge store is still same as the bot handle name & still not working in cortana. On a separate note even my skype channel stopped working. Eagerly waiting things to be sorted asap.

[2018-01-04 15:20] hpksp commented on #3991
@yogiderek what does it say in knowledge store under your organization -> overview -> items?
mine says "1 botlets total, 0 published"

[2018-01-04 15:32] yogiderek commented on #3991
I have the same as you. My Stack overflow question was just answered and someone has said "I find that if I’m an administrator on the subscription, the Invocation name option is editable" see https://stackoverflow.com/questions/48062332/cortana-skills-bot-invocation-name-not-being-discovered-after-publishing?noredirect=1#comment83121013_48062332 However since I created the account with my own card

[2018-01-04 15:46] hpksp commented on #3991
I checked out my roles which was found under Cost Management + Billing - Subscriptions -> My subscription -> Access control (IAM). It says "owner, service administrator". a tool-tip next to the owner says "Lets you manage everything, including access to resources".

[2018-01-04 15:58] hpksp commented on #3991
I also went to Azure Active Directory -> Users and groups -> All users -> My username -> Directory role. And it says I am a Global Administrator.

[2018-01-04 16:35] JasonSowers commented on #3990
Have you looked at the [samples in the botbuilder-azure repo](https://github.com/Microsoft/BotBuilder-Azure/tree/master/CSharp/Samples/DocumentDb).  Let us know if that helps.

[2018-01-04 16:51] JasonSowers commented on #3995
Check out [this documentation] for more info.  Generally how people handle this is with the `imBack` or `postBack` action.  This contains a value parameter which you can set to any string you like then you can have logic to "catch" that message in your code and handle it however you need to.  Since it looks like you are using a variable in the value field you may have to use some regex.

[2018-01-04 17:27] megjoshi commented on #3994
1. i m using botframework c# code, the one in above sample after removal of the "skype.com" check.
2. skype all clients.
3. skype latest versions
4. {StatusCode: 403, ReasonPhrase: 'Forbidden', Version: 1.1, Content: System.Net.Http.StreamContent, Headers:
{
  Connection: close
  Date: Thu, 04 Jan 2018 17:26:32 GMT
  Server: Microsoft-HTTPAPI/2.0
  Content-Length: 58
  Content-Type: application/js

[2018-01-04 17:31] JasonSowers commented on #3993
Is the bot working in any other channel?

[2018-01-04 17:40] JasonSowers commented on #3989
This bot is also not responding in Webchat

[2018-01-04 18:08] JasonSowers commented on #3933
@weizhenzhao take a look at the `ReadBotMessagesAsync` method in [this sample](https://github.com/Microsoft/BotBuilder-Samples/blob/master/CSharp/core-DirectLine/DirectLineClient/Program.cs) It seems to be exactly what you need

[2018-01-04 19:11] srozga commented on #3938
@nwhitmont @EricDahlvang Happy New Year! I'm still seeing the same issue. Graph Exception when I try to create a new password. This issue should be reopened.

[2018-01-04 19:27] EricDahlvang commented on #3938
@srozga

The fix for this is currently being rolled out.  I've verified that I'm able to create a new password for a bot in West US.  Which data center is your bot in?

[2018-01-04 19:30] nwhitmont commented on #3994
duplicate of https://stackoverflow.com/questions/48095572/skype-recieve-message-not-working-getting-403

[2018-01-04 19:49] megjoshi commented on #3994
I am also using the latest stable version of bot framework, so that is not the issue.

[2018-01-04 20:03] yogiderek commented on #3991
I checked and again I have the same settings in both your comments above.

[2018-01-04 20:31] JasonSowers commented on #3991
Is the bot registered on azure (or dev.botframework.com if not migrated) with the same email that you are using cortana with?

[2018-01-04 21:00] srozga commented on #3938
@EricDahlvang: CentralUS

[2018-01-04 21:24] yogiderek commented on #3991
My bot was registered on Azure, not migrated from dev.botframework.com. In My Bots on dev.botframework.com/bots the Migration status is blank - no button is visible to do the migration. I only have one .hotmail.co.uk email address and if i click the Cortana Notebook > About me, it shows my email address.

[2018-01-04 21:33] JasonSowers commented on #3991
Are you outside the US?  That is probably the problem.

From [Cortana Skills FAQ](https://docs.microsoft.com/en-us/cortana/skills/faq) :

[2018-01-04 21:44] ManjulaMalaiarasan commented on #3647
+1, Facing the same issue.

[2018-01-04 21:46] yogiderek commented on #3991
Scotland in the UK. Do you know when the UK will be supported? I am not using LUIS in my design just regex. Can I test what you said by changing the locale/language on my laptop to en-US to make cortana think i am in the US or is it more involved than that?

[2018-01-04 21:52] fanidamj commented on #3802
Closing the issue assuming it as resolved. If you have any other concerns for LUIS support, please contact luservice@microsoft.com.

[2018-01-04 21:52] #3802 closed

[2018-01-04 21:53] JasonSowers commented on #3991
I apologize but I do not have answers to either of your questions.  Your best bet is to try to reach out to Cortana support to get those answers.

[2018-01-04 22:07] fanidamj commented on #3514
Closing the issue assuming it as resolved. If you have any other concerns for LUIS support, please contact luservice@microsoft.com.

[2018-01-04 22:07] #3514 closed

[2018-01-04 22:10] fanidamj commented on #3796
Closing the issue assuming it as resolved. Feel free to reopen if the issue persists.

[2018-01-04 22:10] #3796 closed

[2018-01-04 22:18] #3513 closed

[2018-01-04 22:52] JasonSowers commented on #3989
Are you able to supply code so we can try to reproduce?

[2018-01-04 23:09] yogiderek commented on #3991
Thanks for your help, I changed my locale to the US and I can now use Cortana to talk to my bot. However one of my adaptive cards is not being displayed whereas it does in the emulators. Something else to investigate.  Thanks again.

[2018-01-04 23:17] JasonSowers commented on #3991
Cortana does not fully support adaptive cards yet.  Not sure how far off that is on the Cortana road map.  more info on supported channels can be found [here](https://docs.microsoft.com/en-us/adaptive-cards/get-started/bots)

[2018-01-05 00:03] weizhenzhao commented on #3933
@JasonSowers  thank you . we've used other way to solve this latency .
1、we would like to query fusion BI RESTful interface in the botApplication. But I found the
     Bot Application can only send 2.5M data to the other app service
2、So we change our idea .  the Bot application just append the url to the fusion BI RESTfusl interface
     and send it to the other app service
3、And we call the fusi

[2018-01-05 00:18] hpksp commented on #3991
My account was created in azure portal and my laptop locale is already set to the US. @yogiderek did you change the locale only in the OS?

[2018-01-05 00:31] EricDahlvang commented on #3938
@srozga Would you please try again now.  I've checked our internal system, and all data centers have been updated as of 2:20pm PST.

[2018-01-05 01:08] srozga commented on #3938
@EricDahlvang confirmed! thanks a bunch!

[2018-01-05 01:08] #3938 closed

[2018-01-05 02:00] denisyfrolov commented on #3878
Up

[2018-01-05 07:06] neetgupta7 opened #3996 "[Question] Does activity.from.id change for different channels for a same login?"
## Bot Info
* SDK Platform:  .NET
* SDK Version: 3.12
* Active Channels: Webchat, Cortana
* Deployment Environment: Azure App Service

## Issue Description
Hi
What I know is that channels like Teams, Cortana, Skype do not share the user id (logged in email id) of the person talking to the bot. It shares some information in Activity.From.Id. Can you please tell me if this information would remain t

[2018-01-05 07:46] ganesh1190 commented on #2874
Facing Same issue..! Is there any update on this?

[2018-01-05 10:08] #3952 closed

[2018-01-05 10:10] oflahero commented on #2359
Just a quick note on Azure's 'always-on' setting: in my experience, this has had absolutely no effect on web app/api slow startup times. In my 'always-on' app, I consistently experience behaviour consistent with app/dll unloading after a period of non-use. I'd recommend going with the ping approach.

[2018-01-05 10:20] yogiderek commented on #3991
@hpksp  I changed the Country to United States in the Region and Language Settings page and after refreshing Cortana Notebook everything worked. She has problems with my Scottish accent but I am getting there. Unfortunately I will have to wait until the Cortana Skills reaches the UK so I think In the meantime I will go ahead and develop the same app for Alexa etc.

[2018-01-05 12:35] Clooney24 commented on #405
I solved this for my bot by entering the "Path to ngrok" (path to my local ngrok.exe) in the Emulator App Settings.

[2018-01-05 13:18] SamirMatkar opened #3997 "[Direct Line] Getting 400 Error on sending message to bot?"
## Bot Info
* SDK Platform:  .NET
* SDK Version:  3.10
* Active Channels: Direct Line
* Deployment Environment:  Fiddler

## Issue Description
Direct Line API 3 -  Error on sending message to

## Code Example
You sent HELLO which was 5 characters

## Reproduction Steps
1 I am using fiddler to check .

## Actual Results
[code]

[2018-01-05 14:09] JonesAbramoff commented on #3869
Hi, my bot is also in review for a long time and I didn´t receive any e-mail or feedback.
I am trying to set Brazil as the publisher country and select Brazilian Portuguese as then language but after saving it changes back to United States and looses the Portuguese selection.
The message end point is https://botzapprices4.azurewebsites.net/api/messages .

[2018-01-05 14:14] hpksp commented on #3991
@yogiderek mine started working again. but group publish is not working properly. another thing that I noticed was even though the skill is working, the skill is not listed under notebook skills. I think because of that cortana is having a hard time recognizing uncommon invocation names. also i enabled oauth2 authentication flow with my custom IDP provider for cortana..... Anyways good luck with A

[2018-01-05 14:18] #3991 closed

[2018-01-05 16:16] Xzya commented on #1187
I am in a similar position. It seems that now you need a subscription on Azure Bot Service to use it, and the WebChat and DirectLine channels are not *free* anymore (and I'm sure there are some other hidden costs as well).

So I was wondering if it's possible to make my own custom connector which connects to facebook/web etc. (by implementing `IConnector`, similar to how the ChatConnector and Cons

[2018-01-05 16:32] Xzya opened #3998 "[Question] Creating a custom IConnector in order to bypass Microsoft servers?"
Hello,

Is there a way to use the framework without connecting to Microsoft at all?

I want to use the framework because it makes development easier, and also you can reuse the code for multiple platforms (I am interested in Facebook and Web specifically). (in my case) I do not see why the traffic from Facebook/Web should go trough Microsoft when it could go directly to the bot. I am in a similar

[2018-01-05 16:41] JasonSowers commented on #2874
No update at this time.

[2018-01-05 16:43] 2015PM opened #3999 "[Question] Is there a Global Variable that exists only for a user to bot session?"
## Bot Info
* SDK Platform: .NET
* Active Channels:  Direct Line
* Deployment Environment: Azure Server

## Issue Description
I saw once that there exists a function that calculates the satisfaction level of a user. Nevertheless, I'm not able to find an example in C#. Therefore, I started my own try... My aim is to store the satisfaction level of an user and if the satisfaction level of an user ha

[2018-01-05 17:07] JasonSowers commented on #3998
Yes, it would be entirely possible to write your own connector.  In fact, anything is possible if you work hard and believe in yourself.  People generally do this to connect channels not currently supported by the Bot framework.  You may want to start by looking for one of those and modifying it for the channel you would like to connect.

[2018-01-05 17:27] JasonSowers commented on #3999
In the context object, there are 3 databags you could use instead of a global variable.  `ConversationData` ,`PrivateConversationData`, and `UserData`.  My suggestion would be that you should use `UserData` and do something like this:

[code]

[2018-01-05 18:28] JasonSowers commented on #3996
Are you asking if `Activity.From.Id`  will be the same across channel and across devices? Or on the same channel across devices?  Do you have some sort of login mechanism for your webchat version of the bot?

Across channels I know this can change specifically with Skype. Skype adds a "SIP" in front of the Id.

[2018-01-05 19:05] iBoonz opened #4000 "REST call returns wrong intent"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.12.2.4
* Active Channels: EMULATOR
* Deployment Environment:  local development with Emulator

## Issue Description
Web request returns wrong intent, testing on dashboard and list of reviews gives correct intent proposal

## Code Example
See screenshots for dashboard and rest request

## Reproduction Steps
1. Enter phrase
2. Testing on dashboard gi

[2018-01-05 19:31] iBoonz commented on #4000
Building to production fixed the issue, did not found that in the docs. My fault. I'l close this, maybe somebody else will have this issue someday :)

[2018-01-05 19:31] #4000 closed

[2018-01-05 19:50] Xzya commented on #3998
Thanks! I will try to follow the `ChatConnector` and `ConsoleConnector` and I also found [this one](https://github.com/Wolke/botbuilder-linebot-connector/blob/master/src/LineConnector.ts), should be enough to get me started.

I guess this can be closed,
Cheers

[2018-01-05 19:54] #3998 closed

[2018-01-05 21:01] v46 opened #4001 "[Slack] Connector service started sending duplicate messages for Slack channel today?"
Hi folks,

We have several bots deployed in production that use the slack channel integration. About 30 minutes ago, our users are reporting duplicate messages. Roughly 90% of our slack bots are impacted.

Our logs are showing two messages sent by the bot framework to our bot service. So each message typed in by the user, the bot framework is sending two messages to us.

Can you help clarify there

[2018-01-05 21:19] msmohan commented on #4001
@v46  Please provide SDK Platform and SDK Version info as well.

[2018-01-05 21:26] v46 commented on #4001
updated @msmohan. Thanks!

[2018-01-05 21:53] nwhitmont commented on #4001
Hi @v46 - Can you provide a `conversationId` of (one or more) conversation where you are experiencing the "double response" bug?

Th `conversationId` will help us track down your specific conversation chain in the Slack connector service logs. Thx

[2018-01-05 21:58] dkershner6 commented on #4001
I am having this same issue on the .Net SDK.  I have deleted my profile, with no improvement.

[2018-01-05 22:03] v46 commented on #4001
@nwhitmont - can I send you that conversation id privately?

[2018-01-05 22:12] stevengum97 commented on #4001
@v46 and @dkershner6 can you test your bot's responses across other channels, e.g. visiting the "Test in WebChat" pane and sending your bot some messages?

[2018-01-05 22:19] v46 commented on #4001
SFB works as good as before. No regressions.

Some of our bots have both SFB and slack channels enabled, slack is sending dups, while SFB is working as "expected".

[2018-01-05 22:19] dkershner6 commented on #4001
Test in the Bot Framework Test section (which I think is what you are talking about) works fine.

I tested in Skype too, and there is an error, but I think its unrelated (I dont really support Skype, and I do some user detection).  BUT, it only responds once.

[2018-01-05 23:42] stevengum97 commented on #4001
@dkershner6 and @v46, a fix has been deployed that addresses this issue; can you confirm if your bots are now behaving normally?

[2018-01-05 23:44] dkershner6 commented on #4001
![image](https://user-images.githubusercontent.com/25798427/34633172-3a20a9a0-f22f-11e7-84a0-836c438492aa.png)

eformabot thanks you too.  Mine appears fixed.

[2018-01-05 23:54] v46 commented on #4001
Looking good @stevengum97. Thank you folks for jumping on this. 👍

[2018-01-05 23:59] stevengum97 commented on #4001
Awesome, I'm going to close this issue for now, Happy Friday!

[2018-01-05 23:59] #4001 closed

[2018-01-06 00:11] v46 commented on #4001
@stevengum97 - what was the fix?

How can we (API users) can detect these in the future?

[2018-01-06 00:25] dividor opened #4002 "[Card Actions] How to trigger adaptive card action via chat dialog?"
## Bot Info
* SDK Platform: node.js
* SDK Version: 3.13.1
* Active Channels: Web chat
* Deployment Environment: Auzure Bot Service, webchat locally

## Issue Description
We are using the bot to raise support tickets where the user goes through a dialogue gathering information, using LUIS to extract as much as possible. Our products require quite a bit of information so as a last confirmation we pr

[2018-01-06 14:19] JohnAntonusMaximus opened #4003 "[LUIS] Why does LUIS not recognize the same entity type in different intents?"
I trained a whole list of "currencies" ("USD","EUR", etc) in one intent, but when I create a second intent list, the entity is not being recognized. Do entities not transfer between intents? Do I have to create the whole "currencies" entity for each intent list? Seems silly if that's the case.

[2018-01-06 14:23] JohnAntonusMaximus commented on #4003
Here's what I mean...the currency is clearly labeled in one intent, but not recognized in another intent. Model has been trained.

![screen shot 2018-01-06 at 9 21 17 am](https://user-images.githubusercontent.com/14937052/34640579-23cfa2d4-f2c3-11e7-8886-17960c380a33.png)
![screen shot 2018-01-06 at 9 20 47 am](https://user-images.githubusercontent.com/14937052/34640580-23e61348-f2c3-11e7-8bc6-720

[2018-01-07 07:47] ctshivakumar commented on #3993
yes, it works in webchat. we get this error only the first time when user starts conversation with bot.

[2018-01-07 10:32] harigovind511 opened #4004 "[.Net SDK, FB Messenger] How to send proactive message on Messenger?"
## Bot Info
* SDK Platform: .NET
* SDK Version:  3.12.2.4
* Active Channels:  facebook,sms
* Deployment Environment: Auzure Bot Service

## Issue Description
Unable to send proactive messages on face book channel. I read in document as it requires **pages_messaging_subscriptions** approved. But to test at the time of development, can we do proactive messaging without approval. if so could you plea

[2018-01-07 13:05] sisense opened #4005 "[Node.js SDK, Atachments, Question] Bot does not process attachments?"
## Bot Info
* Deployment Environment: Auzure Bot Service
* Bot ID: cca47733-88af-46fb-9787-2c0815083354

## Issue Description
My bots don't respond when user sends attachment.

## Code Example
[code]
## Reproduction Steps
1. bot acts normally when user interact with text messages
2. user sends a file
3. no message received at the bot code

## Expected Behavior
message with attachment

[2018-01-07 18:42] eorione opened #4006 "[Skype] Check-in on bot review status for Skype publishing?"
Hi, my Skype bot has been on review for 7 weeks now, is the process that slow?

My app ID is 4b677e52-b283-470d-8c95-b8808a05565b

[2018-01-07 21:29] zlepper commented on #3237
I'm also seeing this issue for some reason. The bot seems at best unreliable at receiving the messages. Inspecting the web traffic, i can see that messages from Teams never hits the api endpoint i specified. However messages from the webchat goes through without issues. I have enabled the bot through side-loading, and it does seem to be working _sometimes_..

A colleague of mine tried writing mess

[2018-01-08 05:51] neetgupta7 commented on #3996
@JasonSowers I mean Activity.From.Id on the same channel for the same user across device especially those which support login e.g. Cortana. I have also observed user id getting changed for skype but not sure about other channels supporting logins.

[2018-01-08 07:07] hpksp opened #4007 "[.Net SDK, Question] How to get the user context (which dialog the user currently in) when logging the activities inside IActivityLogger? - DialogStack is empty when logging outgoing messages inside IActivityLogger"
Version Info: Bot Builder .Net v.3.12.2.4

I'm trying to get the user context (which dialog the user currently in) when logging the activities inside IActivityLogger. I tried resolving IDialogStack inside the logger which always ends up throwing DependencyResolutionException. How do I achieve this? Thanks in advance.

[2018-01-08 09:49] hpksp commented on #4007
Found the answer on stackoverflow. Sharing the [link](https://stackoverflow.com/questions/46185103/how-can-i-resolve-the-current-dialog-stack-in-my-bot-framework-messagescontrolle) for the benefit of others

[2018-01-08 10:34] victorgarciaesgi commented on #3086
I have the exact same error on NodeJs. Works with cards and carrousel when testing local. But when putting online (tested on Telegram and webchat), got error 400 post when sending hero card or carrousel

[2018-01-08 11:27] mukeshzt commented on #3988
@nwhitmont thanks your comment helps me, and my account has some issue with the subscription but the support guys help me around and it's solved. I'm Closing this issue.

[2018-01-08 11:27] #3988 closed

[2018-01-08 11:32] hpksp commented on #4007
I am using following code to get the dialog stack inside the IActivityLogger.

public async Task LogAsync(IActivity activity)
{
    using (var scope = DialogModule.BeginLifetimeScope(Conversation.Container, activity)) {
                var botData = scope.Resolve<IBotData>();
                await botData.LoadAsync(new System.Threading.CancellationToken());
                var stack = scope.Resolv

[2018-01-08 13:37] itvignes09 opened #4008 "[Question] Can not display data in HTML table format in bot?"
![18b34636-3f0d-11e7-8877-4a1e1e7d49fe](https://user-images.githubusercontent.com/4756086/34672811-e84f7402-f4a5-11e7-8d2b-c116aae2ac25.PNG)

    bot.dialog('message_with_table', function (session) {
    var message = {
        type: 'message',
        textFormat: 'xml',
        text: tableHTML
    };
    session.send(message);
    });

It simply displays HTML tags in response.

[2018-01-08 14:12] nwhitmont commented on #4008
@itvignes09 - What channel are you using? Not all channels support HTML style message formatting.

[2018-01-08 14:19] nwhitmont commented on #4006
@eorione - Thanks for following up. I will check on the status and get back when I have more info.

[2018-01-08 14:38] nwhitmont commented on #4008
closing as duplicate of https://stackoverflow.com/questions/48149833/how-to-display-data-in-table-format-in-microsoft-bot-framework

[2018-01-08 14:38] #4008 closed

[2018-01-08 14:51] JonesAbramoff opened #4009 "[.Net SDK, Skype] Send message from Skype bot with image attachment sometimes gives "Sorry, my bot code is having an issue"?"
## Bot Info
* SDK Platform: .NET
* SDK Version: bot builder 3.12.2.4
* Active Channels: Skype, Telegram, Facebook Messenger
* Deployment Environment: Azure Bot Service

## Issue Description
Send message from Skype bot with image attachment not always working. The same code with the same image works ok in Facebook Messenger and Telegram bots.

## Code Example
                            // Set the

[2018-01-08 15:21] dividor commented on #3970
Any update on this please, do you need further information?

[2018-01-08 15:46] MohammedAbdulMateen opened #4010 "Bot not working in Microsoft Teams channel but works fine in Slack and WebChat"
The bot is not replying in the Microsoft Teams platform and I'm getting the following exception in the console.

![ms_teams_issue](https://user-images.githubusercontent.com/17563774/34678414-17ca9640-f4b9-11e7-89f7-03469d4778ef.png)