[2021-06-22 19:17] bewillet opened #6330 "Accessing a property field named with a dash "-" fails"
## Describe the bug
Accessing the property field within the response message is not possible for the following:
"${conversation.ocvoices.en-US.d365_oc_ivrvoicename}"

We are storing the locale code "en-US" as an attribute in a Json payload, but are unable to access the above path because of the "-" in the field name.

## Version
2.0.0

## To Reproduce

Steps to reproduce the behavior:

1. In Compo

[2021-06-23 05:38] AdamSobieski commented on #6317
Clarifying, considering a large-scale multimedia Q&A scenario, if a question hasn't been asked before, a dialogue system would generate an answer and cache the resultant multimedia content with dependencies on all of the utilized data. Then, while that data remained unchanged, the dialogue system would utilize the cached multimedia content, providing users with the answer to the same question.

On

[2021-06-23 06:49] RajdeepRay0411 commented on #6311
Hi @stevkan, The permissions you have mentioned in the screenshot above are already present in our application and that too delegated in nature. Moreover, the scenario is that we are going to send mail from our bot but as you know bot will not have a user access token that is generated for the user using SSO. Hence, we need to silently create access token for our bot for sending mail to the user,

[2021-06-23 17:19] v-kydela commented on #6298
@LakshummaC - Let's say you have a brand new bot without any telemetry yet. What steps would you take to generate telemetry that demonstrates the problem you're talking about?

[2021-06-24 07:17] LakshummaC commented on #6298
@v-kydela Instead of Webchat try on Directline channel and also its not like every time you will get different column name. You need to try couple of conversationId.

[2021-06-24 16:29] RajdeepRay0411 commented on #6311
Hi @stevkan, Can you please help us with this issue as this issue came as an escalation from our client and we need to reply back as soon as possible.

[2021-06-24 17:46] stevkan commented on #6268
@jemjos, thank you for your patience on this. I'm still connecting with a colleague but hope to have an update for you soon.

[2021-06-24 18:03] stevkan commented on #6319
@alinealfa, the reason this occurs is because the focus is remaining on the card's button that was originally clicked. If you click into the send box, then the issue doesn't present itself. To that end, this functionality and how to mitigate it, if possible, is going to be client specific. In Web Chat, it can be avoided by disabling any buttons after they have been clicked. It is also possible to

[2021-06-24 19:45] clearab commented on #6255
This needs to be supported in the ActivityHandler side of the SDK as well.

[2021-06-24 20:10] stevkan commented on #6268
@jemjos, can you please try your actions, again? In testing your code, again, for meeting with a colleague, I went thru the steps using two bot channel registrations for the appId and password. It worked without issue so I'm curious if it resolved itself for you, as well.

[2021-06-24 23:57] v-kydela commented on #6298
@LakshummaC - All right well I still can't reproduce the issue so I need to ask some more questions.

1. What documentation have you followed to add telemetry to your bot?
2. Did you enable custom telemetry just by adding code to Startup.cs or did you also put your app insights key in your configuration file?
3. Since you mention Direct Line, are you using Web Chat or a custom Direct Line client?

[2021-06-25 00:02] stevengum opened #6331 "CloudAdapterBase.createConversation() creates inaccurate ClaimsIdentity"
## Version
.NET: `4.13.3` of `Microsoft.Bot.Builder`
JS: Upcoming R14 release (https://github.com/microsoft/botbuilder-js/commit/18b3ebb175ab03b0754fb7a5d6993519e350b859)
Python: Upcoming R14 release
Java: Upcoming R14 release

## Describe the bug
The created ClaimsIdentity set on the TurnState in the `CloudAdapterBase.createConversation*()` scenarios is incomplete by virtue of not having the corr

[2021-06-25 01:58] msomanathan opened #6332 "Add Conversation Id header in Skill Requests"
PVA Ask: To have better performance the bot service would like to enable the per-conversation affinity when routing the requests to the bot serivice instance. The routing gateway would not look at the payload of the request to figure out the conversation id, to have better perf, we would like to have the conversation id in HTTP header. It includes two scenarios

1. Skill callback request (skill ->

[2021-06-25 17:44] stevkan commented on #6319
HI @alinealfa, I have an updated response. While the above holds true with regards to possibly handling the adaptive card functionality, the behavior you are experiencing is actually by design. The basic idea is if there is a card with multiple input fields and/or buttons to be pressed, the focus stays on the card so the user is able to complete whatever other action might be necessary. In this wa

[2021-06-25 17:44] #6319 closed

[2021-06-26 05:51] shaun0024 opened #6333 "Issue sending messages to Teams bot using REST API instead of SDK"
I have set up a Teams bot using the botbuilder SDK to send out proactive messages and it is working fine. However, I am now trying to use the REST API and am encountering an "Authorisation has been denied for this request error". I have been using this link as reference: https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-send-and-receive-messages?view=azure-bo

[2021-06-27 10:03] alinealfa commented on #6319
Hi @stevkan, thanks for the update.
- If there is a response from the bot generating new visible activity items after a button is clicked, my expectation was that the focus would not be kept on the previous button submitted (sometimes the button might not even be visible on the screen; only visible after scrolling up). If the behavior is by design, there might be other cases that it makes sense th

[2021-06-28 08:30] RajdeepRay0411 commented on #6311
Hi @stevkan, Can you please help us with this issue as this issue came as an escalation from our client and we need to reply back as soon as possible.

[2021-06-28 16:47] mrivera-ms opened #6334 "R14 Release Checklist"
## Package 4.14.0

## Package Location
* C#
** []()
* JS (Uses the @rc tag on public NPM)
** []()
* Python
**
* BF CLI (Uses the @rc tag on public NPM)
**
**
* JAVA
  * [4.14.0-SNAPSHOT](https://oss.sonatype.org/#nexus-search;gav~com.microsoft.bot~~4.14.0-SNAPSHOT~~)
* Web Chat
  * [ ] CDN
  * [x] NPM (https://www.npmjs.com/package/botframework-webchat/v/4.14.0)
  * [x] Daily build (for RC)

## Gi

[2021-06-28 18:33] stevengum commented on #6312
@dipincluster were you able to achieve the desired results by following the steps in @compulim's comment? https://github.com/microsoft/botframework-sdk/issues/6312#issuecomment-862679727

[2021-06-28 20:00] v-kydela commented on #6298
@LakshummaC - Do you still need help?

[2021-06-29 14:01] jemjos commented on #6268
sure @stevkan. will check and update you.

[2021-06-29 14:06] jemjos commented on #6268
@xieofxie yes, the endpoints are publicly available. you should be able to access them with the appropriate service URL and token.

[2021-06-29 17:41] stevkan commented on #6333
@shaun0024, I am able to repro the issue you are experiencing as you have reported it. I am reviewing to check that the implementation is correct or if there are changes that can/should be made.

[2021-06-29 21:21] clearab opened #6335 "[Rollup] Bots use MSI (create, publish, channel auth)"
Phase 1 of support for MSI.

[2021-06-29 21:55] clearab commented on #6315
Need to confer with Swagat or JeffD to confirm scenario, and necessary changes.

[2021-06-30 05:02] RajdeepRay0411 commented on #6311
Hi @stevkan, Can you please help us with this issue as this issue came as an escalation from our client and we need to reply back as soon as possible.

[2021-06-30 14:54] tracyboehrer commented on #6280
Closing. Not reviewed and other changes since made this NA

[2021-06-30 14:54] #6280 closed

[2021-06-30 19:51] aortiz1 opened #6336 "Validations not working on long user inputs"
## Describe the bug

On long user input the bot responds with an error "Response status code does not indicate success: 400 (Bad Request).", validations for the input length don't prevent this error to show.

## Version

Composer  1.4.1
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [* ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
-

[2021-06-30 20:52] #6230 closed

[2021-07-01 00:28] dmvtech commented on #6336
@srinaath Good point. I checked with NodeJS runtime and it doesn't reproduce. I'll move to dotnet.

[2021-07-01 04:42] RajdeepRay0411 commented on #6311
Hi @stevkan, Can you please help us with this issue as this issue came as an escalation from our client and we need to reply back as soon as possible.

[2021-07-02 18:43] mackizzer opened #6337 "Sdk bot"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2021-07-02 18:51] mackizzer opened #6338 "pom/xml"
[code]

[2021-07-03 17:27] astuj opened #6339 "LUIS and QnA maker dispatcher is slow"
## Version
SDK Language: .Net
SDK Version: 4.14.0
Development Environment: localhost and Azure

## Describe the bug
I am trying to create a bot that uses both the LUIS and a QnA maker, to implement that I have use the dispatcher CLI as suggested in the docs. My issue is that the bot is taking a long time to reply to the user and I do understand that as it goes to dispatcher created LUIS model firs

[2021-07-05 15:55] dmvtech commented on #6337
Closing this as there is not enough information. If you have a feature request that you wish to be considered; please give detailed information on what you wish. Please edit the template above and we can reopen.

[2021-07-05 15:55] #6337 closed

[2021-07-05 16:05] dmvtech commented on #6338
Closing as not enough information. If you have an issue that is a bug, please create an issue and fill out the template in it's entirety.

[2021-07-05 16:05] #6338 closed

[2021-07-06 03:13] #6320 closed

[2021-07-06 03:13] #6323 closed

[2021-07-06 17:25] #6298 closed

[2021-07-06 23:37] ashok-dot opened #6341 "Luis return empty records,"
Hi Team,

I am facing issues with luis ,i was created new intents in luis ,i was configure the appid ,primary key and end url  in azure portal,but does not any values in mainDialog.cs  .  var (intent,score) this functionality intent is empty and score is 1 but no value return.

[2021-07-07 04:28] RajdeepRay0411 commented on #6311
Hi @stevkan, Can you please help us with this issue as this issue came as an escalation from our client and we need to reply back as soon as possible. @v-kydela, Can you please look into the issue as I am not getting any response from @stevkan for the last couple of weeks and I need to respond to my client as they are continuously escalating on us.

[2021-07-07 18:51] Kaiqb commented on #6144
Moving it it to R15 per @garypretty

[2021-07-07 22:30] anusharavindrar commented on #6341
@ashok-dot, can you elaborate more on what you are trying to do(repro steps, screenshots, etc.)? Are you trying to run any specific [botbuilder sample](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore)? How did you integrate the LUIS app in your bot?

[2021-07-08 00:50] hypertrends opened #6342 "OAuth 2 Generic Provider w/ AAD B2C - 404 Bad Request after login"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using? v4

C# SDK

## Describe the bug

We are trying to use the OAuth2.0 Generic Provider to connect with our Azure Active D

[2021-07-08 18:30] hcyang commented on #6339
Hi @astuj,

By default, the Dispatch CLI is in the hierarchical mode that would require invoking the 2-call mechanism as you mentioned, unless the sub-apps are all LUIS.
You can disable that using the  "--hierarchical" option (https://github.com/Microsoft/botbuilder-tools/tree/master/packages/Dispatch), then all the intents in LUIS and QnA-Maker answers would be "flattened" in the Dispatch LUIS ap

[2021-07-08 18:30] #6339 closed

[2021-07-08 21:35] stevkan commented on #6268
@jemjos, I'm closing this due to inactivity. If the problem persists, please feel free to reopen.

[2021-07-08 21:35] #6268 closed

[2021-07-08 23:10] clearab opened #6343 "[Rollup] Single tenant AAD app support"
Add support for auth against single tenant AAD apps. To support this we'll need to collect and store the tenant ID somewhere, then consume that ID in order to call the correct endpoint to retrieve the auth token.

- [ ] SDK

[2021-07-08 23:33] #6314 closed

[2021-07-09 00:55] stevkan commented on #6311
@RajdeepRay0411, apologies for the long delay in response while I researched some of this. The process described in our docs for authentication/authorization come from the OAuth specifications provided by AAD. At this time, we use the [authentication code grant flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow). I would recommend you look at the [hybrid

[2021-07-09 05:39] MukulSingh10 opened #6344 "Multi tenant with personal Microsoft Account Authentication for Specific Users"
Hello Team,I am Working on a QnABot for my Project and have implement OAuth Authentication using Azure AD using the sample solution provided for BotFramework. We have used Multi tenant with personal Microsoft Account Authentication option during the app registration for the bot. Now my issue is authentication is working fine but i want to control the users who can access the Bot.  Is there any way

[2021-07-09 13:24] ashok-dot commented on #6341
@axelsrz

I was added new intent in luis.ai but it was not display inside chat bot application on new intent. RecongnizerResult only displaying exist intents ,it was not display the new intents in the  RecongnizerResult. Cloud you please help me

[2021-07-09 16:06] dmvtech commented on #6344
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2021-07-09 16:06] dmvtech commented on #6344
Hi @MukulSingh10

This will all be done on the AAD/OAuth side of things. I don't have the exact steps for you, but I would start here:
https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-restrict-your-app-to-a-set-of-users

[2021-07-09 16:06] #6344 closed

[2021-07-09 17:02] axelsrz commented on #6342
Hello @hypertrends thanks for logging this. We're currently contacting the botframework service team to check if this issue is a bug or the feature (AAD B2C) isn't supported yet.

Thanks.

[2021-07-09 18:13] axelsrz commented on #6312
Closing this due to inactivity. If problem persist please open a new issue

[2021-07-09 18:13] #6312 closed

[2021-07-09 18:58] mdrichardson opened #6346 "minor: Add "Testing SDK Changes in a Bot" to CONTRIBUTING.md"
## Issue

It can be difficult to figure out how to test your changes to the SDK within a bot, especially the first time or when testing in a new language.

## Proposed change

Add a section, titled "Testing SDK Changes in a Bot", to the CONTRIBUTING.md file for each repo that walks a person through, with images, how to link their local SDK changes into a bot for testing.

## Component Impact

See

[2021-07-09 19:03] stevkan commented on #6333
For context, along with following the steps outlined in the BotFramework docs, I also referenced the Teams docs for sending messages looking for any updated methods / processes or alternatives. Despite altering the endpoint, adjusting the headers, and/or changing the message body, the same error was always returned.

[2021-07-11 03:34] hcyang commented on #6341
Hi @ashok-dot, we are trying to repro the bug based on the information you provided, but it would help a lot if you can provide more information, such as where and how did you get the "Response" with "POS_HISTORY"  and its score in it. I suppose you got it from the luis.ai portal after you added the new intent (POS_HISTORY), re-trained the LUIS app, and tested it, but maybe you haven't re-publishe

[2021-07-11 05:41] ashok-dot commented on #6341
Hi @hcyang,

I am added the new intent(POS_HISTORY) in luis.ai app and tested and published, but did not find out (POS_HISTORY) the luis response in recognizerResult. please check the below the code.
             var recognizer = new LuisRecognizer(luisApplication, predictionOptions);
                // The actual call to LUIS. This will retrun the identified intent and entities
                re

[2021-07-12 14:12] hcyang commented on #6341
Hi @ashok-dot, I created a bot using LUIS, but was not able to repro the bug you mentioned.
I suspect you published the LUIS app to the "staging slot" only without publishing it again to "production slot"
Please see the documentation below for the difference. In short, their web service URL parameter is slightly different (staging vs. production). A BF bot usually consumes from the production slot

[2021-07-12 19:13] axelsrz commented on #6342
Hey @Jeffders could you or someone in the service team provide an insight on this issue.

Thanks.

[2021-07-14 10:37] boydc2014 commented on #6330
Hi @bewillet, @dmvtech , this is somehow by designed that when you have a "-" in property name, you will have to use [] notion to access that property, otherwise, it will be undistinguishable from the "minus" operation.  For example, a.b-c has to be a["b-c"].

Can you try that see if it works?

[2021-07-15 00:33] Jeffders commented on #6342
Hi @hypertrends...thank you for the long note and the amazing video overview of what you are seeing (that includes suggestions on the docs and a form input bug in the Azure portal!).

I had a couple thoughts here:

1. Could you send me the .har file? If you want to work offline as this may take some back and forth...it's my github name with "at microsoft" dot com :p I can then try to loop in some

[2021-07-15 13:34] Jeffders commented on #6342
One thing I've noticed is that the token endpoint query parameter doesn't look right...currently you have it set to just '?'. Can you set it to '?p=b2c_1a_smart_sign_in' and see if this helps?

For example, when I just go to your token endpoint https://revworkdev.b2clogin.com/revworkdev.onmicrosoft.com/oauth2/v2.0/token, I get the 404.

But when I go to the one with the query parameter, I get a re

[2021-07-15 13:45] Jeffders commented on #6342
One other finding is that for B2C, instead of using a URL query parameter for the policy, you can add it in the path, like this:

 https://revworkdev.b2clogin.com/revworkdev.onmicrosoft.com/b2c_1a_smart_sign_in/oauth2/v2.0/token

Then the query string template can stay "?"

Probably either of these are fine (putting the policy in the query string OR the path), but I just wanted to include this not

[2021-07-15 16:43] Dan-Bai opened #6348 "LuisResult telemetry is duplicated in Application Insights"
## Describe the bug
A bot using LUIS intent with telemetry enabled is occasionally logging LuisResult twice.

## Version
2.0.0

## OS

- [x] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:
1. Create Node bot with *Core Bot with QnA Maker* template
2. Add trigger with *Intent Recognized* for something simple (I used *Help* with utterance *help*)
3. Start bot and

[2021-07-15 18:13] victorlamana commented on #6144
Hello, I think it would be nice if we could add some variables on the body aswell

[2021-07-16 00:11] hypertrends commented on #6342
Hello Jeff,
This works. It’s odd because I already had this in the Token Body Template field. I guess I needed to move this into the Token Body Template. I will also try the non-query string parameter approach now to confirm if that also works.

[A close up of a logo  Description automatically generated]
ANUP MARWADI
CEO – HYPERTRENDS GLOBAL INCTM
[A picture containing wall, person, person, posing

[2021-07-16 03:52] mackizzer commented on #6338
(Pl)

[2021-07-16 03:54] mackizzer commented on #6337
Location(pl)

[2021-07-16 11:19] ChristopherLyon commented on #1932
This is still a bug. Any update?

[2021-07-16 16:46] dmvtech commented on #6330
Hi @boydc2014

Yes, that worked.

Where this fails:
`Voices.en-US.d365_oc_ivrvoicename`

This succeeds:
`Voices["en-US"].d365_oc_ivrvoicename`

![image](https://user-images.githubusercontent.com/43397658/125981587-8fc793fc-b5d3-4077-9bf3-c9544734100a.png)

[2021-07-19 14:12] sreejithrkknd opened #6347 "I am getting the following error when passing 3 or 4 length characters to RecognizeAsync method"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
Latest
## To Reproduce
Steps to reproduce the behavior:
When passing 3 to 4 length characters to

[2021-07-19 16:51] mrivera-ms commented on #6330
Closing this issue as resolved. @bewillet, if you are still experiencing problems with this issue, please feel free to re-open it.

[2021-07-19 16:51] #6330 closed

[2021-07-19 18:17] tonyanziano commented on #6311
Closing due to inactivity. @RajdeepRay0411 please feel free to reopen once you can provide more information.

[2021-07-19 18:17] #6311 closed

[2021-07-20 17:47] dmvtech commented on #6348
The other odd thing I see is that sometimes there are duplicates, but not always. As @Dan-Bai says; occasionally.

![image](https://user-images.githubusercontent.com/43397658/126371285-e4404689-024b-4881-b7e1-eb19a992fa2f.png)

[2021-07-20 18:07] tonyanziano commented on #6347
@hcyang can you please take a look at this?

[2021-07-20 18:40] scheyal opened #6349 "Suggestion: flag to enable LUIS spell check"
Filed for tracking based on group conversation:

Carlos:
Spell check can be added by adding the `mkt-bing-spell-check-key` header to the http requests to LUIS and then LUIS will return the corrected version into AlteredText. The gap is that the SDK does not expose a way to control headers declaratively or a higher level property specific to spell check.

@darrenj , @carlosscastro FYI :)

[2021-07-20 19:11] scheyal commented on #6349
Dup of #5794

[2021-07-20 19:11] #6349 closed

[2021-07-20 19:43] carlosscastro commented on #6349
The dupe above is not the right one. Tracking issue is in botbuilder-dotnet, under this issue: https://github.com/microsoft/botbuilder-dotnet/issues/5794

[2021-07-20 20:26] hcyang commented on #6347
Hi @sreejithrkknd, there is a PR (https://github.com/microsoft/botbuilder-dotnet/pull/5763) that fixed the read-only Result issue using OrchestratorRecognizer. That PR has been checked into 4.14 release branch. Please install the latest 4.14 branch release or the daily build and try again.

[2021-07-21 16:25] stevkan commented on #6341
Closing due to inactivity. If the issue persists, please feel free to reopen.

[2021-07-21 16:25] #6341 closed

[2021-07-21 19:15] Jeffders commented on #6342
Glad things are working for you!!

[2021-07-21 19:15] #6342 closed

[2021-07-22 07:08] sreejithrkknd commented on #6347
Hi @hcyang  it resolved after using the latest package. thank you for helping me out.

[2021-07-22 07:08] #6347 closed

[2021-07-22 18:41] Stevenic commented on #6348
If this bot is a composer bot or using Adaptive Dialogs, this is likely being caused by the fact we end up calling the recognizer twice per turn. We should probably double check to make sure we only log telemetry once per turn...

[2021-07-22 18:57] taicchoumsft commented on #6348
Thanks @Stevenic , attaching that issue you're [referencing](https://github.com/microsoft/botbuilder-dotnet/issues/5593) here for others.  I will go investigate to see if even after caching we are logging twice.

[2021-07-23 14:20] ppapebright opened #6350 "Directline v3 Getting 200 for /conversation/{id}/upload?userId={id} but no attachment in stream"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
v3 directline api

## Describe the bug
The bot is sending back this message in the stream after uploading a file to the conversation via this method:
https://docs.mi

[2021-07-23 19:23] kitzeller opened #6354 "Feature request: Send a stop typing activity to stop the typing indicator"
At the beginning of the `onMessage` handler, I send a typing activity to the user to act as feedback. Often they click on a Card Action and then I use the `updateActivity` method to update the card with the result. The main issue is that `updateActivity` events do not stop the the typing indicator, so the typing indicator just continues until it times out, even though interaction with the bot has

[2021-07-24 16:52] jcbartle commented on #5497
I know this issue is closed, but, just in case anyone is experiencing a similar issue and comes across this post, I wanted to share what I did to get around it. So far as I can tell, WAF v3 does not exist, so I'm not sure how anyone is supposed to follow that recommendation. As of right now, I think the below is the only workaround. Obviously the security implications need to be considered.

**Ove

[2021-07-26 18:38] taicchoumsft commented on #6348
Verified that we are still logging telemetry twice per turn in 4.14.1, we will fix this for next release.

[2021-07-27 10:30] ahmetkocadogan opened #6352 "Adding WhatsApp Adapter (MessageBird) to readme file under Channels and Adapters section"
Hello. Can we add WhatsApp adapter via MessageBird in the table at the section Channels and Adapters (https://github.com/microsoft/botframework-sdk#channels-and-adapters) ?

https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries/Bot.Builder.Community.Adapters.MessageBird

[2021-07-27 14:25] victorlamana opened #6353 "XPATH function doesn't work on Node.JS bots..."
## Describe the bug

There is no "xpath" function available for node.js bots...when I search on the object manipulation submenu it only shows a C# restricted version of the function:

![image](https://user-images.githubusercontent.com/52974336/127170292-4b16b88b-ed1f-4126-8ca1-74650341d4e9.png)

However if I type "=x" on the value field it shows another xpath function which implies that works with

[2021-07-27 17:50] stevkan commented on #6350
Closing as a duplicate of BotFramework-Services issue #[310](https://github.com/microsoft/BotFramework-Services/issues/310).

My understanding is this is with respect to a PVA project (correct me if I'm wrong). If so, this is looking like it is an unsupported feature. Documentation has been requested from the supporting team which, if available, should be posted in the issue referenced above.

[2021-07-27 17:50] #6350 closed

[2021-07-27 19:21] victorlamana commented on #6353
Hello Tony, thanks a lot for the reply! Meanwhile, is there any option for me? Is there a way for me to access this XML response from a GET Request on Composer with a node.js bot?

Please

[2021-07-27 20:31] #6304 closed

[2021-07-27 20:31] #6305 closed

[2021-07-27 21:22] tonyanziano commented on #6353
Hello @victorlamana ,

According to the docs, you _should_ be able [to use the `json()` prebuild function](https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0#json) to parse the XML into JSON and then be able to read the response from the JSON.

![image](https://user-images.githubusercontent.com/3452012/12722918

[2021-07-27 21:51] clearab commented on #6315
Blocked on: Private links enabled in ABS, and scenario test script provided from ABS.

[2021-07-28 13:07] victorlamana commented on #6353
I can't find a way to make this work, even trying to use the exact  same example from the documentation doesn't work....

I just copy-pasted the exact example from the documentation:

![image](https://user-images.githubusercontent.com/52974336/127325600-6af5585d-8e0a-4135-afc6-a677ba8dba02.png)

And it gives an error

![image](https://user-images.githubusercontent.com/52974336/127326793-a5ee7ab4-2

[2021-07-28 18:15] tonyanziano commented on #6353
Hi @victorlamana ,

I looked into the [sourcecode for the `json()` function in the NodeJS sdk](https://github.com/microsoft/botbuilder-js/blob/main/libraries/adaptive-expressions/src/builtinFunctions/json.ts#L30) and it looks like it just calls `JSON.parse()`, which does not work on XML.

The docs should be updated to reflect this, and sorry for the inconvenience.

As for an alternative way to par

[2021-07-28 19:09] tonyanziano commented on #6353
Hi @victorlamana ,

After talking with some teammates, it looks like `xPath` should indeed be available to the Composer JS runtime. Looking at your example, I can see that your expression is:

`xpath('....`

try changing the casing to `xPath('...` and see if that works.

[2021-07-28 19:52] victorlamana commented on #6353
hello @tonyanziano , after some struggling with our Cloud team here we managed to convert the response to JSON with a header on the request. Now it's just the matter of acessing the values on the response but I think it won't be as difficult .

I'll try your suggestion here just in case someone ends up reading this article on the future

I tested and created a JPATH on this website just to validat

[2021-07-28 20:24] tonyanziano commented on #6353
@victorlamana no problem!

I've gone ahead and verified that `xPath` works with a NodeJS bot:

![image](https://user-images.githubusercontent.com/3452012/127390365-a823451a-0c73-43d5-93c4-26ddda0c407d.png)

However, the docs do still use the wrong casing in the examples, so that should be fixed.

![image](https://user-images.githubusercontent.com/3452012/127390680-b7f24001-913b-40b6-842e-5d4bd0629

[2021-07-28 20:24] #6353 closed

[2021-07-29 23:04] mohsenualam commented on #4559
The bot seemed working for few days. It started this issue last week. Same error:

There was an error sending this message to your bot: HTTP status code GatewayTimeout.

[2021-07-30 17:20] RajdeepRay0411 opened #6355 "Unable to send inline image in email body using Graph API and Bot Framework"
## Version
Bot Framework SDK 4.8.1

## Describe the bug
When I am trying to send email with inline image using graph api in console application. The image is getting rendered. But the same thing when I am trying to send via bot, broken image is coming. I am using the following code snippet :

string clientId = ClientID;
                string tenantId = TenantID;
                string clientSecre

[2021-08-02 11:44] #6355 closed

[2021-08-03 21:42] elliottperry commented on #6314
This is closed due to no work required on SDK.

Mai and Edwin will test and verify end-to-end.

[2021-08-03 21:44] elliottperry commented on #6335
Mai has sync'd with Muthu. Expecting to start testing w/c 8/8

[2021-08-03 21:45] elliottperry commented on #6313
Andrew to speak to Muthu and schedule after the Channel <> Bot auth work is complete. ID 6335

[2021-08-03 21:49] elliottperry commented on #6343
Andrew to speak to Muthu and schedule after the Channel <> Bot auth work is complete. ID 6335

[2021-08-03 23:05] Stevenic opened #6356 "Adaptive Dialogs: Add `AllowInterruptions` property to AdaptiveDialog class"
## Issue

The telephony team is attempting to build a DTMF based phone tree using AdaptiveDialogs. The idea is they'd like to use simple RegEx based intents to handle each menu option. This works but the issue they're running into is that when a user presses "3" within a child menu and that menu doesn't have an intent handler for "3", the digit bubble up to the parent menu which may have a handler

[2021-08-04 23:29] Stevenic commented on #6356
@compulim all of the input actions have an `AllowInterruptions` property that will stop the propagation of a received message up the dialog stack. The `AdaptiveDialog` class is missing this property which means you can only turn interruptions on/off at leaf nodes currently. Like the name or not we should stick with the current naming convention to avoid two different property names that do the exa

[2021-08-04 23:30] compulim commented on #6356
Agree. We should stick with the name, I thought it is a new one. 😄

[2021-08-05 09:45] ajaygopall opened #6358 "How to detect end user status (Online/Offline) from teams and webchat"
i am trying to detect that is user is online or offline of Microsoft teams and webchat  from the bot Can any one help me with this

[2021-08-07 23:42] nonatocosta opened #6359 "The ConversationUpdate event is sent just once"
## Version
What package version of the SDK are you using.
4

## Describe the bug
Hello everyone. I installed the Bot Framework Emulator to do some tests locally. I saw in the the official documentation that my bot would receive a notification for ConversationUpdate/UserJoins and another for ConversationUpdate/BotJoins. But, as I could  see in my Bot Framwork Emulator, my bot received only one Conv

[2021-08-09 18:07] gabog commented on #6359
Hi @p-nagpal, can you help us with this one? I think this changed to be only one message but it looks like the docs haven't been updated.

@miguelarcan, can you send us the link in the docs where you saw this docuemented?

Thanks

[2021-08-09 18:17] miguelarcan commented on #6359
Hey @gabog , sure

that is the link
https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-basics?view=azure-bot-service-4.0

[2021-08-09 20:18] costanonato commented on #6359
I did another kind of test to check if this happens just with the bot emulator, but, it seems that the problem happens in the Azure Web Chat as well.

I added a code to show a message in the chat every time the 'onMembersAdded' is called.

[code]
.
As you can see in the print below, it is called just once, even in the Azure Chat

![image](https://user-images.githubusercontent.com/26768762/12876868

[2021-08-09 20:19] nonatocosta commented on #6359
I did another kind of test to check if this happens just with the bot emulator, but, it seems that the problem happens in the Azure Web Chat as well.

I added a code to show a message in the chat every time the 'onMembersAdded' is called.

        this.onMembersAdded(async (context, next) => {/
            const testMessage = '=============onMembersAddedCalled==================='
            await

[2021-08-10 01:54] p-nagpal commented on #6359
Hi @nonatocosta, DirectLine channel always attempts to send a single conversationUpdate if the user identity is available at conversation start. If the user identity is available, the channel includes the bot and the user together as members added into a single conversation update.

In some scenarios, the conversation may start without a user id and the channel sends a second conversationUpdate wh

[2021-08-10 06:06] MukulSingh10 commented on #2888
@kds-snyder I am working on the same requirements for my bit and i am stuck. Do you have the timer code in a Github Repository which i can refer to. Thanks.

[2021-08-10 12:23] nonatocosta commented on #6359
Hi @p-nagpal

thanks for the answer

yes, inspecting MembersAdded worked for me.

my concern was that I though that my bot was not catching the events correctly.

thank you very much for clarifying it for me

[2021-08-10 18:05] gabog commented on #6359
Thanks @p-nagpal for taking care of this.
@nonatocosta, I will close this issue, feel free to re-open if you need more help

[2021-08-10 18:05] #6359 closed

[2021-08-17 16:11] vdimitrova12 opened #6362 "Botframework-cli"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
version 4.14.1 for windows

## Describe the bug
bf orchestrator:add command cannot add QnA model. It gives me 401 error in command tool. I have tested in Postman the

[2021-08-17 16:25] vdimitrova12 opened #6363 "Botbuilder Dispatch command line issue"
## Version
Dispatch 1.7.7

## Describe the bug
I cannot import my dispatch model to LUIS. I found online that similar issue was reported and fixed with dispatch 1.7.1 version but I still got the same issue with 1.7.7 version of dispatch

## To Reproduce
Steps to reproduce the behavior:
1. Open cmd window and create the dispatch model
2. Add LUIS model and QnA model
3. Run the create command
4. Rec

[2021-08-17 16:47] vdimitrova12 opened #6364 "Botbuilder Dispatch command line issue"
## Version
Dispatch 1.7.7

## Describe the bug
I cannot add QnA model to the dispatch model. I received 401 error.

## To Reproduce
Steps to reproduce the behavior:
1. Open cmd window and create a dispatch model
2. Try to add QnA model to the dispatch model:
dispatch add -t qna -i "XXX-XXXXX" -n "TomoniDev" -k "XXXXXXXX --intentName q_TomoniDevQnA-qna
4. Received the 401 error. I have tested in Po

[2021-08-18 15:29] Hatzman91 opened #6365 "Dialogstack exceeds 64 MaxDepth"
## Version
4.14.1

## Describe the bug
We created a DialogBot which uses ComponentDialog as a base for our own BaseInputDialog<T>.
Each DialogStep inherits from BaseInputDialog<T>, and we set up our bot so that we have many small dialog pieces and after each dialogStep(as we call it) we call ReplaceDialogAsync with the appropriate next step.
Our chatbot-state is saved in a azure-cosmosDb

This wor

[2021-08-18 15:31] nonatoc opened #6366 "MS Teams does not return Activity object when sending attachment list"
## Version
4

## Describe the bug
Hey guys

I have a use case where I need to send to the user 2 messages: the first one is a heroCard with a survey question statement and the second one is a list of heroCards with the options.

The code to achieve that is this:
[code]

You may ask: why not just use the "buttons" property of the first heroCard? I can't, because one of the requests is to show the o

[2021-08-18 18:11] joshgummersall commented on #6363
Closing in favor of https://github.com/microsoft/botframework-sdk/issues/6364

[2021-08-18 18:11] #6363 closed

[2021-08-18 19:18] mackizzer opened #6367 "- Labels with dark color are not visible on a dark background (and vice versa on light backgrounds)"
- Labels with dark color are not visible on a dark background (and vice versa on light backgrounds)
- "Raw" `issue view` output should never output colored labels, not even when CLICOLOR_FORCE is set

Fixes #4065, closes https://github.com/cli/cli/pull/4066, closes #4064
Partly reverts #3912 /cc @bchadwic

__Originally posted by @mislav in https://github.com/cli/cli/pull/4079__

[2021-08-19 10:19] SSanjeevi opened #6368 "HttpRequest trace not showing custom headers"
## Describe the bug

Send an HTTP request doesn't send the custom headers added

## Version

2.1.0

## Browser

- [ ] Electron distribution

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Go to 'Send an HTTP request'
2. Click on 'add headers'
3. give values for headers name and value
4. on http request trace in emulator i find headers are not sent in the request header

[2021-08-19 10:34] Hatzman91 commented on #6365
Update: We just noticed that it is working with newtonsoft.json 12.0.3, Version 13 is breaking
And we can't get a hold on the serializer used by cosmosDb so we could override the max depth

[2021-08-19 16:47] tonyanziano commented on #6368
SDK team, could there be something wrong with the way the HttpRequest trace is built? It seems like custom headers set within Composer aren't being logged in the trace:

![image](https://user-images.githubusercontent.com/3452012/130109942-82947333-cc2b-4922-bd8c-397a878a43a4.png)

[2021-08-19 18:00] joshgummersall commented on #6364
Closing in favor of https://github.com/microsoft/botframework-cli/issues/1284

[2021-08-19 18:00] #6364 closed

[2021-08-19 18:19] joshgummersall commented on #6367
Can you provide some more detail as to the issue you're observing? Is this a CLI issue?

[2021-08-19 18:37] joshgummersall commented on #6368
It looks like .NET does not always include headers in the trace. The [trace object is created here](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/HttpRequest.cs#L268). Reading the code, it seems that headers are never included for `GET` or `DELETE` requests. @mrivera-ms can you confirm if this is by design?

[2021-08-19 18:41] joshgummersall commented on #6365
This appears to be related to https://github.com/microsoft/BotBuilder-Samples/issues/3328. The solution there does indicate that downgrading NewtonSoft.JSON fixes the problem.

[2021-08-20 05:13] SSanjeevi commented on #6368
Team one info I even seen the header in the network trace when I was working 2 days back with same request code of adaptive dialogue.

Not sure why it doesn't sends the header now.
Let me check the fiddler once.

[2021-08-20 06:19] Hatzman91 commented on #6365
The downgrade works but:
When we use "ReplaceDialog" shouldn't this replace the Dialog currently active and not create a new Child-Dialog?
I don't know all the ins and outs of the Botframework, but for me it should then behave as if I called those dialogs sequentially in the "RootDialog" in waterfall Steps.
Especially as the Replace Dialog also has the effect that following waterfallsteps of the c

[2021-08-20 07:41] martinoss commented on #6365
The thrown error is a `Newtonsoft.Json.JsonReaderException` and happens after saving the bot state.
We tried to get hold of the serializer settings to increase the introduced (with Newtonsoft.Json 13.0.1) limit of MathDepth 64 as a workaround, but global serializer settings are not getting respected by CosmosDbPartitionedStorage / CosmosClient.

This had no effect (in Startup.cs)

[code]

or

[cod

[2021-08-20 12:11] anshul2807 commented on #6310
Well I'm working on this Issue...

[2021-08-20 17:53] jwiley84 commented on #6366
Hi @nonatocosta !

I'm working on a repo of this to see what's going, and possibly reach out the Teams or Services team once I've narrowed it down. In the mean time, I was curious to see if you'd tried adaptive cards instead of hero cards. Their functionality should allow for vertically stacked buttons in both channels like what you're describing:

https://docs.microsoft.com/en-us/microsoftteams/p

[2021-08-20 18:16] nonatocosta commented on #6366
Hi @jwiley84 , thanks for the answer and the attention with my issue.

I had already tried adaptive cards, but it does not seem to work well with Slack, because, instead of the card with the buttons, it renders an image "emulating" the card.

[2021-08-20 22:17] Stevenic commented on #6365
The stack looks correct to me... You replaced the dialog named "WaterfallStep" not the "RootDialog". You can't replace the RootDialog itself because it's a container and holds all of your dialogs.

[2021-08-23 18:00] tracyboehrer commented on #6365
@Hatzman91 Is this issue resolved?

[2021-08-24 11:22] deman4ik opened #6369 "ChoicePrompt with LG Template and Hero Card style throws error in Telegram Bot"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.14.

## Describe the bug
While using prompt with style Hero Card and language template, like this
[code]
throws

`Error:DialogContextError: Bad Request: can't pars

[2021-08-24 15:48] jwiley84 commented on #6366
Apologies for the delay.

It would seem that Teams is splitting the attachment into 2 activities, and as the api only supports returning one activity ID, it's returning none.

Could you split the attachment up into single cards, send them individually, and track the activity ID that way?

[2021-08-24 19:11] joshgummersall commented on #6369
This error looks like it comes directly from the Telegram API, there are [some notes on Markdown escaping in the docs here](https://core.telegram.org/bots/api#markdown-style). I'll transfer this issue over to https://github.com/microsoft/BotFramework-Services/issues.

[2021-08-24 19:46] nonatocosta commented on #6366
Hi, no worries

thank you for your attention.

I can do that, the only issue is that if I have 5 options, for example, I'll need to deal with 6 different activities ID's (1 for the question + 5 options) in order to hide the options after the user select one.

May this cause some kind of weird behavior?

As you can see, if I change the style to 'carousel' instead of 'list', this problem does no hap

[2021-08-25 03:18] SSanjeevi commented on #6368
@tonyanziano you are right we are not getting headers in log trace only but in request it's sending.

[2021-08-26 00:28] Stevenic opened #6370 "Solving Bot State Concurrency: retryable writes"
## Issue

Currently, all bot state changes are considered last-writer wins. This strategy helps prevent bot developers from having to create complex code for handling retry logic and it generally works well for the dialog stack when a user blasts the bot with multiple messages.  There are, however, a lot of places where it would be desirable to make more deterministic and reliable changes to a bot

[2021-08-26 05:17] MukulSingh10 opened #6371 "How to reset the conversation if the bot is idle for 5 mins in C#"
Hi,

How to reset the conversation if the bot is idle for 5 mins.
Bot asks for a question (for example? what is your Name?), and user gives response after 5 mins.
Bot should say that session is ended and it has to start the conversation from the beginning.
Is this possible to do? I am using Bot builder SDK for C#.

[2021-08-26 07:54] geo-msft opened #6372 "Facebook messenger chat plugin - activity not received by bot when clicking get started button"
## Version
4.13, C#

## Describe the bug
I was working with a customer on a support request on the following scenario:

When a new user clicks on the "Get started" button in the chat with the bot, in a web page using the Facebook chat plugin https://developers.facebook.com/docs/messenger-platform/discovery/facebook-chat-plugin, the bot code does not receive this
sender.user_ref (nor any activity).

[2021-08-26 16:45] #6371 closed, assigned to nobody

[2021-08-27 21:31] KittPhi opened #6373 "Custom Adapter receives error: [onTurnError] unhandled error: TypeError: bot.reply is not a function"
Hello,
We've created a Custom Botbuilder Adapter to connect to the Vonage API called [botbuilder-adapter-vonage-js](https://github.com/nexmo-se/botbuilder-adapter-vonage-js). To test the Adapter's basic functionality, with a basic bot reply, we send an sms to the Vonage number and should get a sms reply back "Hello Back", but instead receive the error below.

[code]
Not sure how to actually debug

[2021-08-30 18:19] LeeParrishMSFT commented on #6373
Closed as duplicate of [Custom Adapter receives error: [onTurnError] unhandled error: TypeError: bot.reply is not a function #3912](https://github.com/microsoft/botbuilder-js/issues/3912)

[2021-08-30 18:20] LeeParrishMSFT commented on #6373
Re-open this issue, I'll close the other duplicate and leave this one open as Steven is assigned to look into this one.

[2021-08-30 22:39] stevkan commented on #6373
It looks like your custom adapter is built using both Botkit and BotFramework similar to other Botkit [adapters](https://github.com/howdyai/botkit/tree/main/packages). However, your bot's implementation aligns more with a bot built only for BotFramework yet you are trying to call the `reply()` method that belongs to a Botkit bot.

For example, in Botkit's 'botbuilder-adapter-twilio-sms' adapter, y

[2021-08-31 14:36] WhiteCyClop opened #6374 "Drag and drop stops working"
## Version
SDK v4

## Describe the bug
I have a personal bot that supports files. At windows desktop app I can attach file by drag'n'drop to the text input field:

![image](https://user-images.githubusercontent.com/47722281/131518833-7b1cf033-7b62-4d1b-9de8-c66dd3c60efc.png)

But when I switch to another "tab" (e.g. Activity, Teams, Calls, Files)

![image](https://user-images.githubusercontent.com

[2021-08-31 18:13] LeeParrishMSFT commented on #6367
Closed due to lack of response.

[2021-08-31 18:13] #6367 closed

[2021-09-01 15:05] ashok-dot opened #6375 "odata connection issue for chatbot"
My chatbot application getting data for back end sap odata , i am passing request through url (httpwebrequest) and fetching the d odata for sap server.i am working 4usecase but 3 usecase working good and used for "ZSGR_STATUSSet" and 4 usecase  "ZSGR_STATUSSet()?$filter=" use for filter for odata .  4 usecase am passing request  to odata server  but odata server i did  not return response the file

[2021-09-01 15:05] ashok-dot commented on #6375
odata response issue

[2021-09-01 16:06] jwiley84 commented on #6375
Hi @ashok-dot

The BotFramework-SDK repo is for reporting bugs with the Bot Framework SDK at large. The bot framework teams prefer that **How-To** questions be asked on Stack Overflow using the [bot framework](https://stackoverflow.com/questions/tagged/botframework) tag.  I"m going to have this closed so we can better answer it over there.

[2021-09-01 16:38] ashok-dot commented on #6375
Hi,

I did not get any answers .can you please help me .it get the response .

[2021-09-01 18:10] dmvtech commented on #6374
Hi @WhiteCyClop This issue is related to the Teams client/frontend/UI. Even though it is happening with bots, it is not because of the botframework or SDK. I would suggest opening an issue with the Teams product itself. I'll see if I can find you any info on how you can do that.

[2021-09-01 18:10] #6374 closed

[2021-09-01 18:14] LeeParrishMSFT commented on #6374
When a bot is running within Teams the UI is provides from Teams, so please reach out to the Teams group directly using one of the methods outlined here: https://docs.microsoft.com/en-us/microsoftteams/platform/feedback and they can assist in this. Unfortunately the Bot Framework Team doesn't have the ability to debug or make changes to the Teams product.

[2021-09-02 16:40] ashok-dot commented on #6375
Hi Team,

Still my issue not resolve ,can you please help.

i am calling  webapi request for odata entityset but i did not get proper response for odata gateway . can you please check below url and api response.

URL:https://###/sap/opu/odata/sap/ZUI5_CHATBOT_TEAMS_SRV/ZSGR_STATUSSet()?$filter=( Ebeln eq' ### ' and Ebelp eq '### ' and UserId eq '###' )?saml2=disabled&$format=json

Repose :Note: Si

[2021-09-02 18:18] ashok-dot opened #6376 "response failed chatbot application"
Hi Team,

i am working on chat bot application . i have facing one issues getting response for odata. my api getting the response  for filter entity set  odata. but  it was return different response on "Repose :Note: Since your browser does notsupport JavaScript, you must press the Continuebutton once to". Can you please help on my issue.

URL:https://###/sap/opu/odata/sap/ZUI5_CHATBOT_TEAMS_SRV/Z

[2021-09-02 19:15] LeeParrishMSFT commented on #6375
@ashok-dot Unless I'm misunderstanding something this doesn't look to be an issue with the Bot Framework SDK, but is a general programming question on making ODATA REST calls using filters. I'd recommend posting on StackOverflow with the tag ODATA, we don't have the ability on this team to assist on this type of issue.

[2021-09-02 19:15] #6375 closed

[2021-09-03 07:56] ashok-dot opened #6377 "chatbot return repose two times"
Hi Team,

Chatbot application return the same responses two times. i need one response when instance was return at the time. how we can the fix this issue.

like this type:
Example
    Kindly contact MDMG team to maintain QAD ID for supplier
    Kindly contact MDMG team to maintain QAD ID for supplier

[2021-09-03 16:06] dmvtech commented on #6376
This doesn't look to be an issue with the Bot Framework SDK, but is a general programming question on making ODATA REST calls using filters. I'd recommend posting on StackOverflow with the tag ODATA, we don't have the ability on this team to assist on this type of issue.

[2021-09-03 16:06] #6376 closed

[2021-09-03 16:07] dmvtech commented on #6377
We are not able to reproduce this issue. Please share a reproduction of the issue. Either in a zip or a repository.

[2021-09-03 16:53] KittPhi commented on #6373
Hi @stevkan, thanks for pointing that out. I've updated some code and have been trying to get it to work with Botbuilder.
The server and custom allows me to send an echo reply back, but how would I go about connecting it to a simple bot, the code below just allows an echo bot. Currently, I see a problem in my custom adapter.  I believe that the processActivity function is not passing the incoming

[2021-09-04 12:37] ashok-dot commented on #6377
Hi  Team,

I am not able to zip or repository this code, can you please give me any suggestion for this type of issues. how we can able to fix. Can you please help me.

[2021-09-06 06:09] ashok-dot opened #6378 "Chatbot application return same response display twice in Microsoft teams"
Hi Team,

Chatbot application return same response display twice in Microsoft teams. How to fix this issue.

Example:
Typing message like :Hi
return response :Hello
                           Hello
this two line of code using last return response.
 await stepContext.Context.SendActivityAsync(reply);
 return await stepContext.EndDialogAsync();

[2021-09-06 16:11] dmvtech commented on #6378
Closing as duplicate of: https://github.com/microsoft/botframework-sdk/issues/6377

[2021-09-06 16:11] #6378 closed

[2021-09-06 16:13] dmvtech commented on #6377
@ashok-dot Can you give me steps to reproduce? Is this a Composer bot or a code-first bot? What programming language are you using? Are you using a template? Yeoman/Visual Studio?

[2021-09-07 04:57] ashok-dot commented on #6377
@dmvtech I am using visual studio and .net programing .below method give to response twice.

private  async Task<DialogTurnResult> FinalStepAsync(waaterfallStepContext, CancellationToken cancellationToken)
{
}
and below steps repeatedly executes
if(scrore<0.55)
{
}

[2021-09-07 17:46] #6368 closed

[2021-09-07 18:06] a-b-r-o-w-n commented on #6366
@clearab Is this something that should be transferred to the Teams team?

[2021-09-07 18:07] a-b-r-o-w-n commented on #6365
Closing due to inactivity. Please open a new issue if the problem persists.

[2021-09-07 18:07] #6365 closed

[2021-09-07 18:31] clearab commented on #6366
This is a known limitation in Teams, and message splitting is the culprit. Carousel is creating a single message in Teams, with a single ID. List is creating multiple messages, each with their own ID (that unfortunately aren't all given back to the bot developer). The only real option unfortunately is to send multiple separate cards, or go send a single card with multiple buttons and be ok with th

[2021-09-07 18:31] #6366 closed

[2021-09-08 03:00] ashok-dot commented on #6377
Hi Team,

Bot replies twice same message .I am using visual studio and .net programing .Can you help me.how to fix this issue

![ms](https://user-images.githubusercontent.com/71329832/132439309-0d43dad5-2b21-4aad-a700-78dfc5e3e3cf.PNG)

[2021-09-08 22:52] dmvtech commented on #6377
Hi @ashok-dot There is still not enough information here to go on. Can you share more code? Ideally the entire bot in a repo or zip. But the full class or function might help as well. We can help fastest with a full reproduction of the issue.

[2021-09-09 07:40] SiddyHub opened #6379 "No Activity Triggered When Bot Application Is Updated"
Hi,
I updated my Bot Framework application code and Manifest files and re-publish the **Updated** app via "Manage Apps" in Teams Admin Center.

Once the App is re-published there is no "**InstallationUpdate**" event getting fired for application upgrade, as per below link:
https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/subscribe-to-conversation-events?tabs=dotne

[2021-09-09 20:51] srinaath commented on #6379
@clearab Could you shower some light on this ticket? I'm not able to find the activity that gets triggerred on Update/Publishing the bot via the Admin Center.

[2021-09-13 12:17] ashok-dot commented on #6377
Sorry,i am unable to share my code as per company policy they want accept this code outside portal. could you please give any other alternative idea.

[2021-09-13 18:59] clearab commented on #6379
Re-publishing the bot wouldn't trigger this event, it will only happen when the alterations to the manifest require the end user in Teams to perform the upgrade. If it is an auto-upgradeable event, this wouldn't fire.

The primary use case is around a significant alteration in the app's functionality - for example the app already contained a tab, and you add a bot.

I'll share this with the Teams

[2021-09-14 07:34] Vigneshramkumar opened #6380 "Resource temporarily unavailable error while starting the conversation"
Hello All,

I am using Azure Bot service and Bot Framework V4(4.13.2) for my Chatbot and enabled MS Teams as a channel in Bot service. I am using Orchestrator as a dispatcher for finding the score to route the request to either LUIS or QnA Maker. It is working fine in emulator and I deployed it in Linux server.

While starting the conversation (by having a gap of 1 hour or so) I am getting below e

[2021-09-14 10:23] Vigneshramkumar commented on #6380
I am getting the error while the Dialog class calls the LUIS Recognize method. Below is the exception stack trace.

As mentioned earlier, I am getting this error only for pinging the chatbot after sometime. This error will come for some 3 to 4 times then it will start working. Not sure whether the issue is in Bot framework end.
I tried to get the LUIS response through prediction URL from LUIS port

[2021-09-16 07:33] ashok-dot commented on #6377
Hi Team,

Bot replies twice same message replay back .Can you please help on this issue.

[2021-09-16 20:07] gmikels commented on #6377
Hi, I'm seeing this issue as well for both the Teams and Skype channel when I create a third party nodejs messaging endpoint. Here are the steps used for the endpoint created using the 'botbuilder' nodejs client. https://github.com/GoogleCloudPlatform/dialogflow-integrations/tree/master/skype

When I test in Web Chat, everything works as expected:
![image](https://user-images.githubusercontent.com

[2021-09-16 20:36] gmikels commented on #6377
Some additional information. Dialogflow creates a session that corresponds to id = turnContext.activity.from.id from bot framework. The fact that I'm able to complete a session fully, while still receiving odd duplicate responses makes me think that there are 2 sessions, which means 2 separate turnContext.activity.from.id instances for one Teams chat session.

![image](https://user-images.githubus

[2021-09-17 21:32] alexrecuenco opened #6381 "[botbuilder-dialogs] Waterfall dialogs do not log telemetry on reason===replaceCalled"
## Versions
- Botbuilder version 4.1.6
- Node version 14.16.1

## Describe the bug
Telemetry is not logged if a waterfall dialog ends with replaceCalled, instead of endCalled or cancelCalled.

## To Reproduce
Steps to reproduce the behavior:
1. Start dialog with a console log telemetry
2. End dialog with replace called
3. End dialog will not get logged

## Expected behavior
When a dialog ends thro

[2021-09-17 21:55] dmvtech commented on #6377
Thank you @gmikels. I am investigating further. Thank you for the additional info/data.

[2021-09-18 16:11] ashok-dot commented on #6377
Hi Team,

Bot replies twice same message replay back .Can you please help on this issue.

[2021-09-20 18:26] compulim commented on #6373
@stevkan Ping.

[2021-09-20 18:30] compulim commented on #6380
Pinging Carol on this.

[2021-09-20 23:06] compulim commented on #6380
@Vigneshramkumar could you send us the application ID and timestamp (with time zone) of when it happened? We can look it up on our service end and see what happened.

[2021-09-21 11:22] muzeeali commented on #5701
@Amokstakov  were you able to solve this issue? Actually I also want to do the same thing if you can help me out.

[2021-09-21 21:28] #6373 closed

[2021-09-23 00:05] dmvtech commented on #6377
Hi @ashok, I am unable to reproduce this at all. I understand that you cannot share your IP/production code, but if you can create a dummy/repro bot that can reproduce the issue; that would help _tremendously_. Alternatively; if you can point to an [sample](https://github.com/microsoft/BotBuilder-Samples) that reproduces this issue, that would work as well.

@gmikels I do not have the resources av

[2021-09-23 06:26] anndreyy commented on #3477
Updating just out of curiosity, I also only have the error on the webchat, on teams the error doesn't happen.

[2021-09-26 09:03] gaurav2493 opened #6382 "Authentication is failing for Single Tenant Microsoft Teams bot Apps"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

  ## Version
  "botbuilder": "~4.11.0",
  "botframework-connector": "~4.11.0"
  node v14.17.6

  ## Describe the bug
  1.  When botFrameworkAdapter is created for single tenant

[2021-09-27 18:50] joshgummersall opened #6384 "Reconcile auth constants organization"
@stevengum raised a concern around organization of auth constants here: https://github.com/microsoft/botbuilder-js/pull/3923

<img width="865" alt="Screen Shot 2021-09-27 at 11 50 19 AM" src="https://user-images.githubusercontent.com/1235378/134967615-233e8fdc-23ab-4c46-a9ae-31cc08b50538.png">

An attempted deeplink to the comment is here: https://github.com/microsoft/botbuilder-js/pull/3923#discu

[2021-09-28 18:25] LeeParrishMSFT commented on #6382
Since this is Java can we transfer it over the Java SDK project?

[2021-09-29 20:11] 01 commented on #6358
@ajaygopall presence.read presence.read.all using Graph API

[2021-09-30 02:57] JasonSowers commented on #3477
The reason this happens is bot framework does not control the limits the client/channel imposes on file transfers.  If you are having a problem with any channel **check that channel's documentation**. Bot framework/Microsoft is not able to tell Facebook messenger's client what to do, Facebook's developers do, or whatever channel.  If the problem is with WebChat file an issue against the WebChat re

[2021-10-04 18:18] munozemilio commented on #6380
Hello @Vigneshramkumar, we will close this due to inactivity. Feel free to reopen and provide the requested info

[2021-10-04 18:18] #6380 closed

[2021-10-04 18:22] munozemilio commented on #6377
Hello @gmikels @ashok-dot could you please provide the requested info if possible?

[2021-10-05 20:04] dmvtech commented on #6377
Closing due to lack of response. Please comment if you can provide more information that will allow us to easily reproduce the issue.

[2021-10-05 20:04] #6377 closed

[2021-10-11 04:56] ShavaliP opened #6385 "Regarding Input.Date Adaptive card"
Hi,

I am developing a chatbot for my client.
In the conversation with the bot, the user needs to enter a date using the card provided.
I am designing an Input.Date adaptive card.

<img width="420" alt="date_input_card" src="https://user-images.githubusercontent.com/87933076/136735267-8d80604e-b37c-4488-825c-3ef00a04b82c.PNG">

My issue is, once a user enters a date in the card using the calendar,

[2021-10-15 18:49] mrivera-ms opened #6386 "R15 Release List"
## Package 4.15.0

## Package Location
* C#
** []()
* JS (Uses the @rc tag on public NPM)
** []()
* Python
**
* BF CLI (Uses the @rc tag on public NPM)
**
**
* JAVA
  * *
* Web Chat
  * [ ] CDN
  * [ ] NPM
  * [ ] Daily build (for RC)

## GitHub Updates
**Create New Branch** @mrivera-ms
- [x] C#
- [ ] JS
- [ ] Python
- [ ] Java
- [ ] BF-Cli
- [ ] Orchestrator
- [ ] V3 C# & JS - No changes to v3 ar

[2021-10-19 20:18] mithun35h opened #6387 "Messaging endpoint for Bots"
Hi,

When i provide the ngrok url in the messaging endpoint for bots it works fine, but when i give custom url with AWS Certificate, it doesn't send any messages back to the endpoint, is their any configuration to enable custom domains?

https://ee90-122-171-203-37.ngrok.io/addons/msteams/1/events - works (receives the messages from ms teams bot app)
https://mithunh.bfcus.tempo.dev/addons/msteams/

[2021-10-20 19:11] dmvtech commented on #6387
Hi @mithun35h Does this issue reproduce with other channels? For example; are you able to connect to the custom endpoint using Bot Framework Emulator (and appropriate url & credentials)?

[2021-10-21 06:25] DingmaomaoBJTU opened #6388 "CloudAdapter didn't support BotOpenIdMetadata in application settings"
## Version
4.14.1

## Describe the bug
The echo bot sample which using the latest SDK with CloudAdapter didn't support BotOpenIdMetadata. https://github.com/microsoft/BotBuilder-Samples/blob/83094ecc12398b9269295a455330ce65d2914ce3/samples/csharp_dotnetcore/02.echo-bot/AdapterWithErrorHandler.cs#L12

## To Reproduce
Steps to reproduce the behavior:
1. copy latest echo bot from: https://github.com/

[2021-10-25 21:21] clearab opened #6389 "DL Speech timeout issue"
Hello, I'm now facing a similar issue with Direct Line Speech channel, where the bot times out after 15 seconds. Is there any way to configure this or any workaround available so that it doesn't time out? Thanks!

_Originally posted by @HZ-MS-CSA in https://github.com/microsoft/botframework-sdk/issues/3220#issuecomment-951296080_

[2021-10-27 01:57] rnkab opened #6392 "(Green) Success message on click of button action of type 'messageBack' in Teams"
## Version
v4

## Describe the bug
Recently we have started observing a 'green' Success message upon executing a Card action of type 'messageBack' on Teams. See screenshot attached. Looks like this is a new feature released for Adaptive Card, however we observe it for messageBack action on Thumbnail / Hero cards as well. Could you please check this? Is there a way to avoid this message?

[2021-10-27 03:55] paulnawat opened #6393 "[Question] Can a messaging endpoint include basic authorization (i.e. username:password)?"
### What I want:
* Seeing that there is no way to pass extra headers to the messaging endpoint, I add basic authentication in the messaging endpoint url itself (e.g. "https://myusername:mypassword@mysite.com/api/messages")
* The basic auth "myusername:mypassword" should be kept when the bot communicates with the messaging endpoint. This will help identify the user that's interacting with the MS Te

[2021-10-27 17:44] #6393 closed, assigned to nobody

[2021-10-27 18:07] #6392 closed, assigned to nobody

[2021-11-01 18:15] lauren-mills commented on #6097
Close due to inactivity. Feel free to reopen as needed.

[2021-11-01 18:15] #6097 closed

[2021-11-01 18:51] lauren-mills commented on #6381
@mrivera-ms - Could you comment on whether this behavior is a bug or by design?

[2021-11-03 04:58] masiha2021crypto opened #6395 "// package.json"
// package.json
{
  "imports": {
    "#dep": {
      "node": "dep-node-native",
      "default": "./dep-polyfill.js"
    }
  },
  "dependencies": {
    "dep-node-native": "^1.0.0"
  }
}

_Originally posted by @masiha2021crypto in https://github.com/yarnpkg/berry/issues/3692#issuecomment-958655991_

[2021-11-03 15:00] vinothkumar1097 opened #6396 "Issue with command [bf orchestrator:create]"
Hi Team,

I'm recently facing issue with bf command. I'm generating .blu file based on model and .qna/.lu files.

command :
[code]

Below is the error message
[code]

Need your help to resolve this.

Thanks.

[2021-11-03 18:21] dmvtech commented on #6395
This looks like it might have been submitted my mistake. If you have an actual issue/problem/bug/question; please alter the title and body with specific details, and we can reopen.

[2021-11-03 18:21] #6395 closed

[2021-11-05 22:20] didz-br commented on #4833
@vincec-msft Hi Vince

I´m experiencing this same issues from time to time as shown in the picture below. The bot works fine the most of the time, except when this "Gateway Timeout" happens. I´ll be glad if you can take a look ! Thanks

![Captura de tela 2021-11-05 191504](https://user-images.githubusercontent.com/21314049/140584425-c233e024-67da-4aec-b6c5-8902bd39bdfa.png)

[2021-11-05 23:06] vincec-msft commented on #4833
@didz-br: This issue is 2 years old and Closed. And I no longer work on the Bot Framework.
Please open a new issue and someone on the team will take a look. Thanks.

[2021-11-07 13:42] didz-br opened #6397 "Gateway Timeout message intermitently"
Hi

I´m experiencing this issues from time to time as shown in the screenshot below. The bot works fine the most of the time, except when this "Gateway Timeout" happens. I´ll be glad if you can take a look ! Thanks.

![Captura de tela 2021-11-05 191504](https://user-images.githubusercontent.com/21314049/140647467-d3bc63d4-9484-4563-b6cc-4decfb9f8e45.png)

[2021-11-08 16:16] WNikolassss opened #6398 "BF CLI Orchestrator creation with .dispatch file Error"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
@microsoft/botframework-cli/4.14.1 darwin-x64 node-v14.17.5
MacOS

## Describe the bug
During the orchestrator creation with .dispatch file this error occurs:
"Pleas

[2021-11-08 18:14] 53645 opened #6399 "Teleavatar"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the

[2021-11-08 18:16] 53645 commented on #6399
https://github.com/microsoft/botframework-sdk/issues/6399#issue-1047760326

[2021-11-08 18:17] 53645 commented on #6399
This app  good work

[2021-11-08 18:44] 53645 commented on #6399
#63399 what  app token

On Mon, 8 Nov 2021, 9:36 pm Anish Prasad, ***@***.***> wrote:

[2021-11-08 19:09] dmvtech commented on #6387
Closing due to lack of response.

[2021-11-08 19:09] #6387 closed

[2021-11-08 19:18] JonathanFingold commented on #6386
@mrivera-ms Can you add to the check list sending the package lists to Shelly's team? This is a necessary step in updating the reference docs.

[2021-11-08 20:16] anishprasad01 commented on #6397
Hi @didz-br,

Can I get some more information from you so we can try to narrow down your problem?

- What channel are you using?
- Is this a .NET or Node bot?
- Is this a Composer bot?
- What versions of each tool/SDK are you using?
- How are you testing this?
- Is this an example bot or a custom bot?
- When did this issue begin?
- Is there any pattern to this problem that you're aware of?
- Any o

[2021-11-08 21:07] 53645 commented on #6397
I need  app api id for app

On Mon, 8 Nov 2021, 11:16 pm Anish Prasad, ***@***.***> wrote:

[2021-11-08 21:08] 53645 commented on #6397
Opening app

On Tue, 9 Nov 2021, 12:07 am Sankar Suthar, ***@***.***>
wrote:

[2021-11-09 17:27] didz-br commented on #6397
What channel are you using? **Direct Line**
Is this a .NET or Node bot? **.NET**
Is this a Composer bot? **No**
What versions of each tool/SDK are you using?

"Microsoft.Bot.Builder.Azure/4.1.5": {
        "dependencies": {
          "Microsoft.Azure.DocumentDB.Core": "2.1.2",
          "Microsoft.Bot.Builder": "4.1.5",
          "Newtonsoft.Json": "10.0.3",
          "SourceLink.Create.CommandLin

[2021-11-09 17:30] 53645 commented on #6397
I want aap api id

On Tue, 9 Nov 2021, 8:27 pm didz-br, ***@***.***> wrote:

[2021-11-09 18:51] anishprasad01 commented on #6397
Ok then, two more things.

1. Your Bot Builder SDK version is on the older side, and a lot has changed through subsequent development. It's possible that upgrading the version might help.
2. It could also be that some API call or something within your code is timing out, and that's causing your bot to time out due to an inability to respond. Is there some way we can take a look at your bot's code?

[2021-11-10 12:22] MROOPESH opened #6400 "Input.Date Adaptive card Bug - Choosing year from calendar."
In Input.Date Adaptive card, How to change the year easily?? Should I need to choose different year date by click back button?

<img width="431" alt="Input date Adaptive card Bug" src="https://user-images.githubusercontent.com/24470490/141110259-3d15aefa-8d47-4abc-84ff-0e17663e25fe.PNG">

Previously, the Input.Date adpative card used to look like the following:

![IMG_20211110_174043](https://user

[2021-11-10 19:56] gabog opened #6401 "Update code owners on repos"
### Summary
Update in scope repo code owners to use teams rather than individuals.

More specifically:
* Remove individuals
* Use only groups and only @microsoft/botframework-sdk
* Remove old groups (make a list based on what we find in our current repos)

As part of this PR we also made sure the microsoft/botframework-sdk is a member in all the repos below.

Repos in scope

- [x] [sdk](https://gi

[2021-11-10 20:05] gabog opened #6402 "Review and update labels"
Update https://github.com/microsoft/botframework-sdk/blob/main/docs/BF%20Labeling%20Guide.md to map to the latest spec.

* Add new areas
* Review unused ones and remove
* Update Emilio's tool and bring it in the SDK repo tools

As part of this issue we will also need to create the R2022.1 milestone on the target repos

[2021-11-10 21:06] stevkan commented on #6400
This question should either be posted as an issue in the Adaptive Cards GitHub [repo](https://github.com/Microsoft/AdaptiveCards) or, more appropriately as it's a "how to" question, as a [question](https://stackoverflow.com/questions/ask) on Stack Overflow. The Bot Framework team does not provide support for Adaptive Cards beyond how they are included in messaging activities.

---------

The Micro

[2021-11-10 21:06] #6400 closed

[2021-11-11 09:56] luhan2017 commented on #5655
@stevengum, any update on this issue? There is an IcM incident asking for this feature.

[2021-11-11 19:08] namanimsft opened #6403 "Memory scopes value updated in the Unit tests are not getting saved and leads to unit tests failure"
Hi,

We’ve bot called “Iris” developed with Bot Builder SDK v4. Currently we are using v4.12.0 and so far no issues. Today, we’ve upgraded our bot to use SDK v4.14.1 and it works great in the Emulator. But all the existing unit tests are failing. When I tried to debug, I found that DialogContext dc.State.SetValue is not storing the value in the memory scope on the unit test side.

Here is the samp

[2021-11-11 20:01] 53645 opened #6404 "Dhanbot"
[#6403 ](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version v4.14.1
What package version of the SDK are you using.

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the beh

[2021-11-12 17:29] gabog opened #6405 "Remove custom adapters"

[2021-11-12 17:45] #6404 closed

[2021-11-12 17:45] dmvtech commented on #6404
If you have an actual issue; please add all pertinent information.

[2021-11-12 18:25] 53645 commented on #6404
I want  bot

[2021-11-12 18:25] 53645 opened #6406 "Dhanbot"
#6404 [Githiss(https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behav

[2021-11-12 18:27] #6406 closed

[2021-11-12 18:58] 53645 commented on #6404
I want id isssue

[2021-11-12 19:10] 53645 opened #6407 "Yogobot"
#6404 [Githui(https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

#6404
What package version of the SDK are you using.

#5655
Give a clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'

[2021-11-13 13:30] michaelnguyen08 commented on #3825
+1

[2021-11-13 13:51] 53645 commented on #6403
Please  sir send  me all settings for a new  bot  ,and a new app api id and
api hash

On Thu, 11 Nov 2021, 10:09 pm Nagarajan Mani, ***@***.***>
wrote:

[2021-11-15 15:55] #6407 closed

[2021-11-15 17:55] gabog opened #6408 "Remove stale sections of the SDK project"
There are several things in the SDK project that seem stale and can probably be removed:

- [ ] common/Telemetry
- [ ] common/Transcripts
- [ ] docs. This area needs to be revisited and cleaned up if needed
- [ ] dri. Are we still using this or we run everything out of the PowerBI report?
- [ ] parsers/LU not sure if this is still being used
- [ ] schema, this is being used, we need to make sure t

[2021-11-15 18:28] gabog opened #6410 "Update botframework-sdk team members and repo owners"
Update https://github.com/orgs/microsoft/teams/botframework-sdk/members with latest changes to members

Note: we need to make sure we have at least two maintainers

As part of this we should delete:

- [ ] the @microsoft/bb-python team that has been replaced by the SDK team in [this PR](https://github.com/microsoft/botbuilder-python/pull/1834)
- [ ] the @microsoft/bb-samples team that has been rep

[2021-11-15 18:58] gabog opened #6411 "dotnet"

[2021-11-15 18:59] #6411 closed

[2021-11-15 19:00] gabog opened #6412 "sdk"

[2021-11-15 19:01] #6412 closed

[2021-11-15 19:43] ksuchy opened #6413 "Feature Request: Bot Framework to use new Language Cognitive Service"
## Issue

I am trying to create a new FAQ bot (.NET) using the custom question answering feature. This has recently moved from QnA Maker service to Language Cognitive Service. The Bot Framework does not appear to have a package for interacting with this new service.

## Proposed change

A package to integrate with knowledge bases/projects built in Language Studio

## Component Impact

All versions

[2021-11-15 20:04] gabog opened #6414 "Define branching strategy for R2022.1"
### Summary

We need to define a branching approach that will allow us to work on a major vNext while being able to service the vCurrent with its minor releases without disrupting developers and collaborators that are used to work out of main.

References:
We currently use the Release Fow approach described in this article [Release Flow: How We Do Branching on the VSTS Team](https://devblogs.micro

[2021-11-15 20:05] gabog opened #6415 "Create devops project for R2022.1"
- [x] Create DevOps
- [x] Create basic CI/CD pipeline

[2021-11-15 20:17] gabog opened #6416 "Initial package removal"

[2021-11-16 10:39] vinothkumar1097 opened #6417 "Orchestrator - How to query specific domain and specific knowledge base ?"
Hi Team,

I have a usecase to develop a single bot with multi-domains. My plan is to use Orchestrator to dispatch the request to correct qna.

**Scenario :**
I have 3 domains (IT, Finance, Treasury). Each domain will have their own qna maker service with multiple knowledge bases.
- IT - 2 Knowledge bases (A, B)
- Finance - 3 Knowledge bases (A, B, C)
- Treasury - 1 Knowledge base (A)

First step i

[2021-11-16 16:21] anishprasad01 commented on #6397
Closing due to inactivity

[2021-11-16 16:21] #6397 closed

[2021-11-16 16:53] deramamo opened #6418 "Managed Identity support for Azure bot services"
## Issue

*Overhead of maintaining Bot service credentials and renewing client secret to access bot services deployed in global azure resource*

## Proposed change

*Provide Managed Identity support for azure bot service*

## Component Impact

*Azure Bot Service*

## Customer Impact

*When secrets are about to expire in production Bot services, we are having to alert on the secret expiration and r

[2021-11-16 18:11] stevkan commented on #6417
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotFramework-SDK/) repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

[2021-11-16 18:11] #6417 closed

[2021-11-17 05:13] gabog opened #6421 "Test parent"
This is a test

- [x] https://github.com/microsoft/botbuilder-dotnet/issues/5975
- [x] #6423

[2021-11-17 05:13] gabog opened #6422 "This is a task"

[2021-11-17 05:14] gabog opened #6423 "This is another task"

[2021-11-17 05:28] #6423 closed

[2021-11-17 05:28] #6421 closed

[2021-11-17 16:24] DKdekes opened #6424 "Orchestrator Documentation Enhancements"
## Issue

I cannot find any in depth documentation on Orchestrator's snapshot files.

## Proposed change

Add answers to the following questions to Orchestrator docs:

- What is the purpose of the snapshot file? Is it to avoid forward propagating all training utterances through the Orchestrator’s transformer at startup?

- What is the encoded data contained in the snapshot? Is it transformer outpu

[2021-11-17 16:40] amoyalan20 opened #6425 "Skill to orchestrator switching"
Do we have any feasibility for implementing skill to orchestrator switching in bot framework V4?
By default we have skill to skill switching and wanted to know skill to orchestrator is possible or not.

[2021-11-17 16:57] daveta commented on #6424
Hi @DKdekes:
The snapshot is an opaque format that stores the "model" or definition of your utterances.  This helps with performance as it pre-calculates each utterance to avoid additional processing during runtime.  But to your point, yes, it's fundamentally storing vectors.  And it doesn't require storing raw utterance data.

[2021-11-17 17:20] ghost opened #6426 "How to Renew ESRP expiring certificate of application which is in application registration category . It would be helpful if there is any step by step mechanism to meet the requirement"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the

[2021-11-17 17:40] hcyang commented on #6424
Hi @DKdekes,

We haven't changed the snapshot file format since GA (general availability), so Orchestrator is backward compatible to snapshot files generated since GA.
A snapshot file can be used as a source for bf-cli to mix with other sources and generate a "dispatch" snapshot. For that Orchestrator utilizes the utterances and labels in a snapshot source.

May I ask what's your reason for not wa

[2021-11-17 20:34] DKdekes commented on #6424
Thanks for the replies.

@hcyang, I was thinking raw utterance data would be used as training data if there was a model version mismatch between Orchestrator runtime and the CLI that generated the snapshot. I'm assuming that each model documented in [NLRModels.md](https://github.com/microsoft/botframework-sdk/blob/main/Orchestrator/docs/NLRModels.md) produces a different vector for a given utteran

[2021-11-17 22:04] hcyang commented on #6424
@DKdekes, what you surmised is true. The snapshot file also captures model ids for the embeddings created. Orchestrator throws an error if the model id encoded in the snapshot file is not the same with the model loaded for prediction.

[2021-11-18 17:32] #6414 closed

[2021-11-18 17:52] tsuwandy commented on #6424
@DKdekes, do you have other questions on Orchestrator orchestrator?

[2021-11-18 19:02] #6426 closed

[2021-11-18 19:24] DKdekes commented on #6424
Not at this time. Thanks for the information.

[2021-11-18 19:24] #6424 closed

[2021-11-18 19:41] dmvtech commented on #6404
Hi @53645

There is not enough information to go on. If you have an actual bug, please post all pertinent information, related to the bug. "I want bot" and "I want id issue" is not _nearly_ enough.

If you have a **how to** question; the Microsoft Bot Framework team prefers that be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github]

[2021-11-18 20:16] namanimsft commented on #6403
@gabog, As we discussed over email, we've shared the sample code in the same email. Please help us to unblock as soon as possible. thanks!

[2021-11-19 08:14] 53645 commented on #6403
#6403

[2021-11-19 21:01] gabog commented on #6403
Hi, sorry for the delay in the response, I have download the sample project and will take a look. Will update this issue with any findings once I can look at it.

Gabo

[2021-11-20 04:42] 53645 commented on #6403
Oky , Im waiting

[2021-11-20 09:58] 53645 commented on #6404
#6404 please open

[2021-11-20 18:01] 53645 commented on #6403
Thanks for the update.

On Sat, 20 Nov 2021, 12:01 am Gabo Gilabert, ***@***.***>
wrote:

[2021-11-22 20:55] Lippy1m1 opened #6429 "When clicking on Yes or No buttons within a bot, would like the ability to turn off the automated responses from the framework."
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

## Issue
We are building a product that leverages the Botframework and do not care for the canned responses from the framework when users click

[2021-11-23 04:09] 53645 commented on #6429
No

[2021-11-23 09:23] DiegoFaFe opened #6430 "Multiple inputs aren't being rendered in the Teams mobile app with adaptive cards' Action.ShowCard"
## Version
Microsoft.Bot.Builder 4.14.1
Microsoft.Bot.Builder.Dialogs 4.14.1
Microsoft.Bot.Builder.Integration.AspNet.Core 4.14.1

## Describe the bug
Sending multiple inputs in an Action.ShowCard makes the card not being rendered in Team's mobile as opposed as Team's desktop app (See attached screenshot)

## To Reproduce
1. Send an adaptive card with multiple inputs in an action.showcard
2. Open

[2021-11-23 12:39] shivajipotnuru opened #6431 "The embeded Hyperlinks are not opening in Google Chrome Through MS-Teams Bot"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Bot Framework - V4

## Describe the bug
The following scenario I've tried
1. The Following answer hyperlink is opening on the MS-Teams app

![image](https://user-ima

[2021-11-23 22:27] stevkan commented on #6429
@Lippy1m1, if I am correct, you are using Teams as the client. If that is true, those response messages are a built-in feature of Teams and [cannot be disabled](https://stackoverflow.com/a/69737771/3962636).

If you would like the ability to disable the messages, I would recommend you post this want as a feature request on the Teams [forum](https://answers.microsoft.com/en-us/msteams/forum?sort=La

[2021-11-23 22:27] #6429 closed

[2021-11-24 03:45] 53645 commented on #6429
Yes

[2021-11-24 05:24] amoyalan20 commented on #6425
Following up on the above query.

[2021-11-25 15:05] Earelith opened #6432 "Azure CLI MsTeamsChannel failure"
Hello, not sure if this is a bug or an improper use of Azure CLI.
This is my first time using this tool.
I need to automate Azure bot creation, especially the channel registration part.
After failing using powershell, I'm also stumbling here.

Regards,

## Version
What package version of the SDK are you using.

azure-cli                         2.30.0

core                              2.30.0
tele

[2021-11-25 16:46] Earelith commented on #6432
Well, I found the issue. After creating the bot with powershell, the bot type was flagged "Azure Bot".
In order for the command to run successfully, the bot type hast to be "Bot Channels Registration".

I close this ticket, all is working fine.

Regards,

[2021-11-25 16:46] #6432 closed

[2021-11-25 16:47] SubbaReddi opened #6433 "turnContext.activity.localTimezone not present in specific android device"
## Version
What package version of the SDK are you using.

turnContext.activity.localTimezone was not present, on an Android device with below specification:
•	Android Version: 10
•	Model: galaxy A71
•	Language: English(United Kingdom)

## To Reproduce
Steps to reproduce the behavior:
1. Deploy any sample bot
2. Login to mobile and set language as English(United kingdom) in Galaxy A71 android devi

[2021-11-25 17:12] johanfive commented on #3549
Hello there, I'd like to reopen this issue.

I'm running into the exact same issue.
The error is:
[code]

The only change I brought in the UI before clicking the `Save changes` button was update the `Messaging endpoint` field with a new ngrok url. Something I've been able to do hundreds of times up until now.

[2021-11-26 00:51] anishprasad01 commented on #6431
Hi @shivajipotnuru,

I attempted to reproduce your issue using the following steps:

- Create a QnA Knowledge Base
- Add a custom question with an answer that has a bolded word via markdown formatting
- Deploy the KB to Azure
- Add the KB to a bot (just followed the auto prompts in QnA Maker -> Azure)
- Enabled the Microsoft Teams channel for the bot
- Attempt to communicate with the bot in Chrome

[2021-11-26 06:40] shivajipotnuru commented on #6431
HI @anishprasad01

- we are using .NET core 3.1(LTS)
- we built our bot using C#
- Our bot works on the Teams  ( web & app)
- Chrome Version 96.0.4664.45 (Official Build) (64-bit)
- Adaptive Card - 2.5.1
- Our QnA pairs have metatags as well
- This issue we are facing for the past few days(5-10), we have done the  internal testing & found out that embedded hyperlinks are opening in the Firefox bro

[2021-11-26 13:17] 53645 commented on #6433
For me

[2021-11-26 16:07] anishprasad01 commented on #6431
Your original issue never mentioned Adaptive Cards, so I didn't test for that yet. In order to test as accurately as possible, can you tell me what exactly your application's logic flow is? What is it supposed to do when a user asks a question?

You also mentioned it started about 5-10 days ago. Did you make any big changes to your bot's code or your development or test environments in that time?

[2021-11-26 17:57] 53645 commented on #6431
My application name  is teleavatar This application is video col and massaging chate and status sam to sam whatsapp I need bot for otp and api id and Hash please help me

[2021-11-27 03:59] rajeeshmenoth commented on #6431
Hi @anishprasad01,

It's a FAQ bot and there are no code changes happening yet for the last two weeks. All these issues were encountered after the chrome latest updates ( [Chrome updates](https://chromereleases.googleblog.com/)).

## FAQ Bot Example:

1. User is asking payroll related details in MS Team Bot.
2. The response contains payroll document details ( Embedded as URL ).
3. All responses re

[2021-11-29 18:33] Lippy1m1 commented on #6429
Yes, that is true our product is based on the teams channel.  So a post to the Teams forum is the way to go ok.

[2021-11-29 19:09] axelsrz commented on #6433
Hello @clearab we believe this might be a Teams client issue. We appreciate if you could you chime in, thanks.

[2021-11-29 19:15] anishprasad01 commented on #6430
Hi @DiegoFaFe,

We are in the process of investigating this issue. I hope to have something for you soon.

[2021-11-30 06:27] clearab commented on #6433
Yep, I believe the Android client was supposed to start sending this a while back. Sounds like a regression, I'll reach out to them.

[2021-11-30 08:59] DiegoFaFe commented on #6430
Thanks @anishprasad01 , if you need anything just let me know

[2021-11-30 09:16] stalker8610 commented on #3549
Hello! As far as I understand, this request can be executed via Postman to save changes in bot. Please tell me how you got around the 401 Unauthorized error? I filled in all the headers as in the request, it doesn't help :(

[2021-11-30 14:14] jcbartle commented on #6288
Morning, @Andrea-Orimoto. This behavior is still occurring within dev.botframework.com. It's definitely confusing, as I was trying to track down an issue I was having by looking at the Teams app schema here:

https://developer.microsoft.com/en-us/json-schemas/teams/v1.5/MicrosoftTeams.schema.json

This schema includes this comment regarding the botId attribute:

"The Microsoft App ID specified for

[2021-11-30 17:37] isacarcanjo commented on #3549
I've got the same problem

After to save
![image](https://user-images.githubusercontent.com/76750741/144098660-a9992458-96ce-4358-a94e-5cffb228dd69.png)

Back end response
![image](https://user-images.githubusercontent.com/76750741/144098791-eb39d624-daa5-4c7f-8f25-6c2096e5b0a7.png)

[2021-11-30 19:17] anishprasad01 commented on #6430
@DiegoFaFe,

What mobile platform are you running? Android, iOS, or something else?

[2021-11-30 20:16] anishprasad01 commented on #6430
We were able to reproduce this issue on the iOS mobile client.

[2021-11-30 21:59] clearab commented on #6430
I'm engaging with the Teams group, and will follow up as soon as I have more information. For future reference, please use one of the methods listed on this page for Teams support issues: https://docs.microsoft.com/en-us/microsoftteams/platform/feedback

[2021-11-30 23:54] clearab commented on #6430
Can you share the JSON of a card that isn't working? We were able to render the below card correctly on both iOS and Android:

[code]

[2021-12-01 02:19] mrivera-ms opened #6434 "Move generators from Samples to SDK repos"
## What we are changing
We will be moving the [generators](https://github.com/microsoft/BotBuilder-Samples/tree/main/generators) from the Sample repository to the SDK counterparts.

## Tracking Status

**Dotnet SDK**
- [ ] Move source to [botbuilder-dotnet](https://github.com/Microsoft/botbuilder-dotnet)
- [ ] Update build pipelines to the new location
- [ ] Build pipelines to update project refer

[2021-12-01 02:35] namanimsft commented on #6403
@gabog, any update on this one please?

[2021-12-01 05:13] gabog commented on #6403
Try updating the TestFlow callback code from this:

[code]

to this:

[code]

And also add a line to call `ComponentRegistration.Add(new DialogsComponentRegistration());` in the code block where you initialize dialog manager (this will register the memory scope services):

[code]

`DialogManager.OnTurnAsync()` should take care of the being/continue logic and you should not have it in the callback

[2021-12-01 18:28] v-chetsh commented on #6433
Hello @clearab - Could you please share the updates or ETA for this regression bug.

[2021-12-01 18:58] anishprasad01 commented on #6431
@rajeeshmenoth

A clarification question. Is your QnA Knowledge Base returning just the formatted hyperlink whcih you are then inserting into an Adaptive Card, or is it returning the entire JSON representing an Adaptive Card?

[2021-12-01 23:51] anishprasad01 commented on #6431
Hi @shivajipotnuru & @rajeeshmenoth,

After further investigation, I was able to reproduce your issue. Fortunately, I believe I also have a workaround for you.

When you added markdown formatting to your QnA response, you did so in the standard manner, like this: `this is the [**response**](hyperlink)`. As your issue pointed out, when this response is placed into an Adaptive Card and sent by the b

[2021-12-02 04:33] rajeeshmenoth commented on #6431
@anishprasad01 Yes, Whatever output we are getting from QnA Maker that directly inserted into Adaptive Card.

**Note:** We are using Adaptive Card C# objects instead of JSON format.

[2021-12-02 05:18] shivajipotnuru commented on #6431
@anishprasad01

When we are getting a huge document as a response, we are having multiple hyperlinks related to HR policies, so in the code side, we can't format this many links in a single shot.

We have gone through your approach & we are facing the same issue.

1.  As you mentioned asterisk * are added in the following way
![MicrosoftTeams-image (6)](https://user-images.githubusercontent.com/33

[2021-12-02 07:24] #6415 closed

[2021-12-02 14:15] Nivedipa-MSFT commented on #6430
@DiegoFaFe - Could you please share the JSON of adaptive card.It help us to repro the issue.

[2021-12-02 16:06] anishprasad01 commented on #6431
@rajeeshmenoth, The test I performed also uses C# Adaptive Card objects, not JSON.

@shivajipotnuru, Yes, I am aware that it appears this way when you click back into it, but if you format it the way I outlined, train, and publish it, it should still work. I tested this within the Microsoft Teams app, and it functions correctly despite the erroneous appearance in the QnA Maker portal.

As far as t

[2021-12-03 11:49] mallipriya opened #6435 "Handling multi-turn Dialog or conversation for Alexa skill using Bot framework V4 NodeJS"
The waterfall steps of a dialog are not being visited instead the conversation is getting started from the beginning of the dialog(i.e; from the first waterfall step) for each request made to Alexa Skill. I tried using `return Dialog.EndOfTurn;` and `return {status: DialogTurnStatus.waiting};` so that it waits for user input and forwards to the next waterfall step. I referred to [Bot Community Git

[2021-12-03 13:20] alexrecuenco commented on #6381
It has been some time, any updates?

[2021-12-03 18:36] mrivera-ms commented on #6022
Closing as done.

[2021-12-03 18:36] #6022 closed

[2021-12-04 03:13] owenpww opened #6436 "Azure credentials wrong after deploying with Azure CLI"
## Version
What package version of the SDK are you using.
v4

## Describe the bug
Hello I created 2 bots with Bot Framework Composer and I have been successfully testing them on Composer, Emulator and ngrok. I also have been successfully publishing them to Azure initially with the Publish function on Composer but now with a CI/CD pipeline on an Azure project.

My problem is that, in trying to impl

[2021-12-06 16:07] gabog opened #6437 "Create GitHub action to validate parity label on PRs"
## Summary

We need to be intentional about parity when creating PRs and we often forget to add a parity label to a PR which generates unnecessary parity issues in the other repos.

We need to create a GitHub action that checks that a parity label is assigned to a PR when it is created.

Requirements
* All PRs in the language repos MUST have an Automation: _PartityType_ label set, if that label is

[2021-12-06 20:59] anishprasad01 commented on #6431
Were you able to test this workaround as described in your environment? Knowing the results of your test would help us narrow down potential bugs.

[2021-12-07 15:32] HesselWellema opened #6438 "QnAMaker (JS) does not support Custom Question answering"
Reproducable on 11.qnamaker sample

[code]

## To Reproduce
Steps to reproduce the behavior:
1. Migrate existing QnAMaker knowledge base to Custom question answering. Enable multi language support
2. Install sample javascript_nodejs\11.qnamaker
3. Make sure the settings in .env are filled
4. Run the sample
5. Enter a random question

The result is an error:  [onTurnError] unhandled error: Error: F

[2021-12-08 10:20] HesselWellema commented on #6413
I'm having the same issue on NodeJs. #6438
Would be nice to have a decision from the team if they expect to support it or not. I would like to upgrade some databases to the new model.

[2021-12-08 19:08] benbrown commented on #6413
Thanks for the feature request. We are currently evaluating how we will integrate with this new service in the Bot SDK. We do not currently have a timeline for this new functionality.

[2021-12-08 19:10] benbrown commented on #6438
@HesselWellema Thank you for highlighting this. We don't yet support this in the SDK. Keep track of the attached feature request for the latest status.

[2021-12-08 19:10] #6438 closed

[2021-12-08 21:51] mrivera-ms commented on #6255
Reviewed by the SDK team. Closing as Not Needed.

[2021-12-09 05:07] shivajipotnuru commented on #6431
Hi @anishprasad01
The above approach you mentioned is working fine, but we have around 1000+ links in our QnA maker. for a few answers, they are around 3-4 embedded links. as per your approach manually changing the markdown format in QnA maker is a bit difficult for us. we require a proper fix on this issue.

CC: @rajeeshmenoth

[2021-12-09 18:05] anishprasad01 commented on #6431
@clearab

Do you have any insights on whether this is a bug in Teams or intended behavior, and where we might go to resolve this?

[2021-12-09 18:06] clearab commented on #6255
Need to determine which (if) channels are going to support this flow, and when, before we can determine priority.

[2021-12-09 18:33] clearab commented on #6431
I've reached out to them, I'll follow up here when I hear back.

[2021-12-09 20:54] #6388 closed

[2021-12-09 21:22] stevkan commented on #6435
@mallipriya, I've run into this "issue" before but passing `return { status: DialogTurnStatus.waiting }` has always resolved the issue. A few questions for you to help clarify:

- What version of the SDK are you running?
- Is this the only dialog called in your bot?
- Can you post the code (not a photo):
    - That calls this dialog?
    - Of both the 'qnaresponseStep()` and `emailPromptStep()` st

[2021-12-10 14:11] ChiragM-Hexaware opened #6439 "Microsoft Orchestrator not working(version CXXABI_1.3.8 not found)"
## Version
"botbuilder-ai-orchestrator": "^4.15.0",
@microsoft/botframework-cli": "^4.15.0"
@microsoft/orchestrator-core": "^4.14.1"
node : 14.18.2
OS - Linux(redhat 7.2)

## Describe the bug
I got this error when I tried implementing Microsoft Orchestrator code . Now when I try to create model file or snapshot file or even any orchestrator command, **It shows this error version `CXXABI_1.3.8' not

[2021-12-10 19:03] anishprasad01 commented on #6439
Hi @ChiragM-Hexaware,

It looks like there's a missing or outdated package related to GCC in your Red Hat install. You might need to update the GCC version and/or the configuration so that the system can find the correct version. I'll drop a few links here that might be helpful.

- https://stackoverflow.com/questions/23494103/version-cxxabi-1-3-8-not-found-required-by
- https://superuser.com/quest

[2021-12-11 17:41] Saranya-CTSH opened #6440 "Cannot save changes in botframework portal. It errors out "Please correct the errors and try again""
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Bot is created from Teams App Studio

## To Reproduce
Steps to reproduce the behavior:
Log in to Bot Framework portal
Select Bot
Change something
Try and save
Only g

[2021-12-13 17:05] #6433 closed

[2021-12-13 19:35] gabog commented on #6440
Hi @Saranya-CTSH does this happen if you try to edit the bot from the Azure Portal?

[2021-12-13 21:13] HunaidHanfee-MSFT commented on #6431
@anishprasad01 - Can you confirm that you can see that it's showing that its hyperlink but not working when clicking on it?

[2021-12-13 22:29] anishprasad01 commented on #6431
@HunaidHanfee-MSFT

Yes, that is exactly what happens. The card shows up as intended and the link is both formatted and displayed as a hyperlink, but clicking it does nothing.

For example:
![image](https://user-images.githubusercontent.com/33945547/145899163-d1aa04e6-c00b-4401-af81-8a9169aa137d.png)

[2021-12-14 08:22] DiegoFaFe commented on #6430
@Nivedipa-MSFT of couse, here there is an example:

[code]

[2021-12-14 09:56] mallipriya commented on #6435
@stevkan, Thanks for looking into the issue.
I got it working by configuring the Run() method in the bot.js file. I took reference from BotBuilder-Samples [05.multi-turn-prompt](https://github.com/microsoft/BotBuilder-Samples/blob/99223a51869c859a9e81568facd4580467f92825/samples/javascript_nodejs/05.multi-turn-prompt/bots/dialogBot.js#L37).

[2021-12-14 09:56] #6435 closed

[2021-12-14 15:27] psavine42 commented on #6440
I am also getting this error as of yesterday. The only thing I need to change is the message endpoint. I do not see how to do this in the azure portal.
![12-14-2021 10-16-41 AM](https://user-images.githubusercontent.com/13985496/146026515-c1262b57-ccc9-4f0c-8255-86e664cd9f3a.jpg)

In my case the bot was created over a year and a half ago. When I go to my azure portal, I do not see the configuratio

[2021-12-14 15:53] Saranya-CTSH commented on #6440
This is fixed after migrating to the Azure Portal. Thanks.

[2021-12-14 15:57] Saranya-CTSH commented on #6440
Hi, We need to migrate the bot from botframework portal to Azure.
There will be Migrate Button at the top right, along with test -
![image](https://user-images.githubusercontent.com/80040783/146033065-68c21089-0b95-4795-bad7-ad90d8ffa9cb.png)

It will provide a custom template to create the bot resource, and that is where you can change your configs, branding and view analytics and everything.

Az

[2021-12-14 19:11] HunaidHanfee-MSFT commented on #6431
Thanks for the update- We have received this bug earlier as well posted by @rajeeshmenoth on StackOverflow - https://stackoverflow.com/questions/70183481/the-embeded-hyperlinks-enlarge-image-are-not-opening-in-chrome-browser-through .

Bug is already raised and fix is being tested by the team internally. The fix should pass multiple pipeline and rings to be available for public so I don't have an

[2021-12-14 19:35] axelsrz opened #6441 "QnaMakerDialog class will always return one result even if QnA returns multiple answers"
## Version
4.15.1

## Describe the bug
QnaMakerDialog class takes the first element in the response list from QnA query, even if there are multiple possible answers returned by the service. This makes the `top` argument in the class constructor useless.

## To Reproduce
Initialize a QnaMakerDialog with `top` argument >1 and run the Dialog with a question that could have multiple answers.

## Expec

[2021-12-14 19:43] psavine42 commented on #6440
That worked. Migrating to azure is the solution.

[2021-12-15 19:10] gabog commented on #6440
Great to hear that, @Saranya-CTSH, I am closing this one, feel free to re-open if you are still having issues

[2021-12-15 19:10] #6440 closed

[2021-12-16 19:23] clearab commented on #6430
I was able to get this to work by adding unique IDs in place of the `question` ID in the card you shared (also changed the URLs for simplicity). I highly recommend using the Card editor in App Studio in Teams to send yourself test cards, it will do some validation and can help debug your cards.

[code]

[2021-12-17 18:58] anishprasad01 commented on #6439
Closing this issue due to inactivity.

[2021-12-17 18:58] #6439 closed

[2021-12-19 07:46] ffactory-ofcl commented on #3549
You can just recreate in Postman the same request your browser is making, just make sure to update the payload with the right value for MsaAppType

Thanks @johanfive, that worked for me!

Steps:
1. Open network tab in the browser
2. Watch the request fail
3. Right-click -> copy request as cURL
4. Open Postman and click new request -> import -> raw text and paste the request
5. Edit the request bod

[2021-12-20 12:53] samareshdas opened #6442 ""Getting error message while click on a bot in chat" we can't find out why ? please advice"
We are getting error to open message extension from adaptive card, it works properly in our tenant, we get this error in new deployment in a tenant. We experience this error in our tenant also but after few time it resolved automatically.

![image](https://user-images.githubusercontent.com/24821399/146769774-9610d069-f7f1-4e1a-b0c7-d0c21616a68c.png)

### Here you can see [the video of error ](http

[2021-12-20 18:56] anishprasad01 commented on #6442
Hi @samareshdas,

Your video of the issue shows error messages coming from the bot, which seems to imply an internal issue with either the bot's code, or something it's interacting with.

Could you please provide us with some more details?

- What's meant to happen here?
  - As an aside, is the case of no input in the text box handled?
- If you can debug the bot, are there any specific error messa

[2021-12-22 12:12] mallipriya opened #6443 "Fetch User Information for Alexa skill using Bot framework V4 NodeJS"
Is there a way to fetch personal information of customer like name, email, phone number using [Alexa Adapter](https://github.com/BotBuilderCommunity/botbuilder-community-js/tree/master/samples/adapter-alexa) for Bot framework v4 nodeJs SDK?

[2021-12-22 12:49] iMicknl commented on #6443
Is there a reason why you are not using the Alexa channel via the Azure Bot Service? https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-alexa?view=azure-bot-service-4.0

The Alexa adapter you link to is made by the BotBuilder Community and thus won't receive direct support from Microsoft, and doesn't currently have all features that Alexa offers.

[2021-12-22 13:39] adamist521 commented on #3549
@ffactory-ofcl
Thanks for sharing. You saved my life 😃

[2021-12-22 14:07] mallipriya commented on #6443
Hi @iMicknl,
I observe there is a gap or some instructions are missing for configuring the adapter in [Alexa channel via the Azure Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-alexa?view=azure-bot-service-4.0) when compared to [Alexa adapter - BotBuilder Community](https://github.com/BotBuilderCommunity/botbuilder-community-js/tree/master/libraries/bo

[2021-12-27 20:51] stevkan commented on #6443
@mallipriya, as @iMicknl referenced, the Alexa channel (made and supported by Microsoft) and Alexa adapter (made and supported by the BotBuilder Community) are two distinct products and do no rely upon one another. Additionally, the channel  supports a greater range of Alexa features than the adapter does, out-of-the-box.

The links you provide do not mention utilizing either the adapter in the ch

[2021-12-27 20:51] #6443 closed

[2021-12-27 20:51] anishprasad01 commented on #6442
Closing this issue due to inactivity.

[2021-12-27 20:51] #6442 closed

[2021-12-30 16:45] fabiank0 commented on #3549
Thank you @ffactory-ofcl for the fix.
I've run into the same problem as well.

[2022-01-04 15:54] Cjericho4 commented on #3549
I am also getting this same error as everyone else of it trying to set MSaAppType.

@ffactory-ofcl when I have tried to recreate using your steps I keep getting a 401 forbidden error, any ideas on how to get around that?
![image](https://user-images.githubusercontent.com/58090256/148086186-7be1af99-c7d6-4d1a-963d-23412898243f.png)

[2022-01-04 15:57] fabiank0 commented on #3549
@Cjericho4  Did you copy the full cURL request? It could also be that you took too long to send the request, I think there are some auth tokens being sent with the request.

[2022-01-04 18:29] Cjericho4 commented on #3549
@fabiank0 I tried a few more times. I right clicked on the put and copied as curl (POSIX) and curl (Windows) and did it within 30 seconds of trying the original push and haven't been able to get it to work. I tried editing a few of the headers but I keep getting the 401 Unauthorized.

[2022-01-04 18:46] ffactory-ofcl commented on #3549
You need to *remove* the MsaAppType key before posting. Did you send it using postman?

[2022-01-04 18:52] Cjericho4 commented on #3549
@ffactory-ofcl yes I removed the MsaAppType Key every time I tried it.

[2022-01-04 21:42] clearab opened #6444 "Deprecate TeamsGetMembers (non-paged)"
Teams is deprecating support for the non-paged version of the getMembers API for Teams, we need to mark this as deprecated in 4.16 and then remove it in 5.0.

Methods to be deprecated in C#:

- https://github.com/microsoft/botbuilder-dotnet/blob/9a3aa6166530de72d9ce78289cbf0e58e20b5156/libraries/Microsoft.Bot.Builder/Teams/TeamsInfo.cs#L105
- https://github.com/microsoft/botbuilder-dotnet/blob/9a3

[2022-01-04 22:11] munozemilio commented on #6430
Closing this due to inactivity. @DiegoFaFe feel free to reopen

[2022-01-04 22:11] #6430 closed

[2022-01-06 13:03] fabiank0 opened #6445 "Cannot save bot: `Please correct the errors and try again.'"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
No SDK, dev.botframework.com

## Describe the bug

Bug: Settings in the dev.botframework.com page cannot be changed, leading to an error.

C.f. the discussion in the

[2022-01-06 13:33] fabiank0 commented on #3549
@Cjericho4 I've just tested it again, and @ffactory-ofcl 's steps still work for me (implying that the problem still exists). I've opened a new issue, since this one is about a different problem and is unlikely to get much visibility.

[2022-01-06 18:06] thdotnet opened #6446 "Bot Service missing Web App?"
It seems that many things changed in the past few months and I do believe the Microsoft Docs is not up to date. In the past (a few months ago), when creating an Azure Bot Service, it was also creating an App Service which would be used to host the bot. Nowadays, you have to create an app service yourself. Is that how it's supposed to be or is it a broken ARM template?

Also, it seems that many peo

[2022-01-06 19:40] ksuchy commented on #6413
Is there any update on this?

[2022-01-06 23:40] anishprasad01 commented on #6445
Hi @fabiank0,

In most cases, functions in from the older dev.botframework.com are now found in the Azure Portal. In most cases, the site should redirect you to Azure anyway.

Could you perhaps provide more info about the bot you're trying to edit, what information you can access on dev.botframework.com, and what settings you're trying to edit?

Additionally, can you successfully make these change

[2022-01-07 14:38] fabiank0 commented on #6445
Hi @anishprasad01
For me the setting in question is the `Messaging endpoint', though I'm not sure if the others were trying to change some other setting.

I've always used the dev.botframework.com site, and I was not aware that there's been a change. I tried to look for this service in Azure Portal, but I was not able to find it.

[2022-01-07 15:43] gabog opened #6447 "Update SSO docs"
## Summary

The [SSO documentation](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-sso?view=azure-bot-service-4.0) needs to be updated as follows:

- Remove reference to Virtual Assistant
- Update SSO scenarios: we should have 3 scenarios, Teams SSO, Bot and Skills SSO and WebChat SSO.

[2022-01-07 15:47] gabog opened #6448 "Channel constants cleanup"
## Summary

Channel constants need to be updated to properly reflect the channels currently supported by ABS:
* In 4.x unsupported channels need to be flagged as obsolete.
* missing channels need to be updated (if any)
* In v5, obsolete channels need to be removed

[2022-01-07 20:06] lverre commented on #3549
Another way to save changes that doesn't require anything is to remove the input from the DOM:

1. right click "App Type"
2. Click inspect
3. in dev tools, click the "<div class="detail-row">" above the label that's selected
4. press DEL key
5. click "Save Changes"

[2022-01-10 19:36] tdurnford commented on #6381
@gabog Do you have any updates on this issue?

[2022-01-10 19:55] anishprasad01 commented on #6446
Hi @thdotnet,

This is intended behavior. The App Service is no longer created automatically when creating an Azure Bot resource in the portal. By default, when you create a bot with a managed identity, only an `Azure Bot` and a `Managed Identity` resource will be created. There should not be a key vault generated automatically for a managed identity bot.

Are you getting a key vault when you make

[2022-01-10 21:07] thdotnet commented on #6446
@anishprasad01 I am getting the key vault but seems that no secrets are being created.

- How do I deploy the bot now?

Those changes are confusing and I don't think Azure Docs is up to date

[2022-01-10 21:10] anishprasad01 commented on #6446
Here are the [docs](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=csharp%2Cuserassigned) for deploying a code-first bot managed identity bot.

[2022-01-11 15:44] anishprasad01 commented on #6446
Correct. The Azure Portal will create an `Azure Bot` and if using a managed identity, a `Managed Identity` resource. If you create a Multi or Single Tenant bot, an `Azure Key Vault` holding the bot's secrets will be created in place of the managed identity.

[2022-01-11 21:44] anishprasad01 commented on #6445
@fabiank0

Could I get your bot's AppID (not the password)? You can send it to me directly via my work email on my profile if you'd feel more comfortable. Please mention this issue in your email.

[2022-01-11 22:11] #6101 closed

[2022-01-11 22:12] #6250 closed

[2022-01-12 01:42] clearab commented on #6306
This is now public - docs are here https://docs.microsoft.com/microsoftteams/platform/task-modules-and-cards/cards/dynamic-search

[2022-01-12 11:11] hkrutzer commented on #6225
Why was this done and what replaces it?

[2022-01-12 22:44] #6272 closed

[2022-01-12 22:46] #6245 closed

[2022-01-13 17:30] #6446 closed

[2022-01-16 19:54] ishancoderr commented on #4444
![error](https://user-images.githubusercontent.com/31079429/149675684-ed9d5598-5aa7-426d-abcf-cca652effb15.PNG)

[2022-01-17 11:05] jenkoc opened #6452 "ERROR in ./node_modules/botframework-webchat/lib/speech/CustomAudioInputStream.js 40:39-61"
## Version
4.12.2

## Describe the bug
When running `npm run dev` `npm run hot` `npm run prod` i am getting the following error:
[code]

## Additional context
I've already tried to run `npm audit fix`. I can't realy reproduce the issue. Sometime npm run runs w/o any error. Our build pipeline also now fails with this error.

## package.json

[code]

[2022-01-17 11:38] g138 opened #6453 "Getting channelId instead of teamId from the context"
I am developing an Extension in Microsoft Teams.

I am interested in knowing from **where the extension was invoked meaning from which team?**

Below is the code base and steps I did and found an issue (or bug).

[code]

[code]

So, above you can see the channel data I am getting contains the channel and team id - over here I am entering the random numbers - but the main point is in the team id I

[2022-01-17 18:57] EricDahlvang commented on #6453
Hi @g138

As stated here: https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/get-teams-context?tabs=dotnet#get-the-list-of-channels-in-a-team

`The channel ID for the General channel always matches the team ID.`

[2022-01-18 23:42] anishprasad01 commented on #6445
Closing this issue due to inactivity. If you still require assistance, please comment and we can reopen the issue.

[2022-01-19 01:08] ramfattah commented on #6453
Closing with @EricDahlvang's answer. If you found a bug, please reopen or comment here and we can continue.

[2022-01-19 01:08] #6453 closed

[2022-01-19 14:27] AdriVazquez opened #6454 "Microsoft Bot Framework with Dynamics365. Different tenants."
Hi,
I have developed a bot with Bot-Framework and it is integrated with Bot Service in Azure subscription account and when I try to connect it with Dynamics365 I can't see the option to add this bot because Dynamics365 is in another tenant. Is there a way to connect them?
Thanks.

[2022-01-19 18:50] kingbaub3 commented on #6445
Hi @anishprasad01 ,

I'm having the exact same issue as @fabiank0 with dev.botframework.com. I will provide the needed information in order to make this case move forward.

We currently have many bots and all of them are having the "Please correct the errors and try again" issue in the botframework website. They were all created around the same time through the Teams AppStudio application.
![image

[2022-01-20 14:03] leandroamore opened #6455 "isNotificationOnly not working as expected"
## Version
What package version of the SDK are you using.
"Microsoft.Bot.Builder.Integration.AspNet.Core" Version="4.13.2" />
## Describe the bug
I have a proactive messaging bot with the isNotificationOnly property in the manifest.
    "bots": [
        {
            "botId": "<botid>",
            "scopes": [
                "personal",
                "team"
            ],
            "supports

[2022-01-20 20:59] clearab commented on #6455
As this issue is directly related to the Teams app itself, I've escalated to the appropriate team.

[2022-01-21 00:04] stevkan commented on #6452
@jenkoc, can you tell me:

- Which version of node you have installed?
- Which version of Web Chat are you using? You list v4.12.2, but that version doesn't exist for Web Chat so I'm assuming that is for the SDK...?
- Do you have speech configured for use in Web Chat, at all?
- Does this occur across browsers or only in one browser (Chrome, Edge, etc.)?
- Are you able to share your code (minus any

[2022-01-21 01:08] stevkan commented on #6454
@AdriVazquez, have you looked over the Dynamics 365 docs listed here, [Integrate an Azure Bot](https://docs.microsoft.com/en-us/dynamics365/customer-service/configure-bot)? I believe I followed these instructions; and, I was able to connect and chat with the bot thru Dynamics 365.

In this scenario, the bot is configured as a user that is able to respond to customer chat requests and facilitate ha

[2022-01-21 06:04] v-chetsh commented on #6455
@leandroamore - We will check on it from our end and redirect it accordingly.

[2022-01-21 11:41] jenkoc commented on #6452
@stevkan thanks for your quick response.

- Node Version v16.13.2
- Webchat Version 4.14.1
- _Do you have speech configured for use in Web Chat, at all?_ => No
- _Does this occur across browsers or only in one browser (Chrome, Edge, etc.)?_ => The error occurs during the build process not in the browser
- You can find a simple repo where I tried to reproduce the error [here](https://github.com/jen

[2022-01-21 13:18] leandroamore commented on #6455
Thanks! Let me know if you need any more evidence o help from my side.

[2022-01-22 11:48] 89hikari commented on #3549
Do you use web version of Postman? I've tried to do it in web version and also got the 401 Unauthorized. But in desktop version everything worked.

[2022-01-24 18:35] carlosscastro commented on #6381
@gabog can we assign a release for this issue or prioritize according to its urgency? Thanks

[2022-01-24 18:42] carlosscastro commented on #6431
@HunaidHanfee-MSFT closing this for now, but if you have updates feel free to re-open.

[2022-01-24 18:42] #6431 closed

[2022-01-24 18:47] gabog commented on #6381
I added the the feature request to our backlog, as a workaround, you can override the method and log the event until this is added to the SDK

[2022-01-25 19:39] mrivera-ms opened #6456 "Update Generators Release pipelines"
## Issue

Generators have been moved from the Sample repo to their corresponding SDK language repos. We need to update the release pipelines accordingly.

## Tracking Status

**Dotnet SDK** [TODO]()
- [x] PR
- [x] Merged

**Javascript SDK** [TODO]()
- [x] PR
- [x] Merged

**Python SDK** [TODO]()
- [x] PR
- [x] Merged

**Java SDK** [TODO]()
- [x] PR
- [x] Merged

[2022-01-25 21:39] clearab opened #6457 "Teams: Read receipts"
Add support for read receipts in 1-1 chats in Teams.

[2022-01-26 06:46] AdamSobieski opened #6458 "[Feature Request] Synchronization between Dialogue Systems and Videos"
I would like to share with the Microsoft Bot team and community a feature request and some ideas pertaining to synchronization between dialogue systems and video player components.

With synchronization between dialogue systems and videos, chatbots can be made to seem aware of the contents and contexts of related multimedia resources.

Scenarios for these features include education, e.g., instruct

[2022-01-26 22:49] BruceHaley commented on #6456
The completed generators release pipelines are here: https://dev.azure.com/FuseLabs/SDK_v4/_release?view=all&_a=releases&path=%5CGenerators

[2022-01-26 22:49] #6456 closed

[2022-01-26 23:08] BruceHaley commented on #6437
The prototype is working.

We need to create a repo in a shared location to store the source code. Suggested new public repo: https://github.com/microsoft/verify-pr-label-action
I assume someone with Monica's powers or higher is required to create this new repo.

Once the new repo exists, I will merge the source code there, fix pointers to point to the new repo, and create final PRs for review. Bl

[2022-01-26 23:15] Cjericho4 commented on #3549
@89hikari I will have to try that out.

[2022-01-27 12:10] Nivedipa-MSFT commented on #6455
@leandroamore - We are able to repro this issue and we have raised a bug for it. We will let you know once we get any update

[2022-01-28 12:26] coldcanuk opened #6459 "Dead Links Additional Reading"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
n/a

## Describe the bug
In the Additional Reading section the links for the C# and NodeJS links are dead.

## To Reproduce
Steps to reproduce the behavior:
1. Goto

[2022-01-28 19:18] stevkan commented on #6452
@jenkoc, I don't think this is a pipeline issue as I am unable to build Web Chat from a git clone. I had a colleague attempt, as well, and had the same issue. I will be reaching out to one of the primary developers of Web Chat regarding this. I'll update this post when I know more.

[2022-01-28 19:24] stevkan commented on #6454
Closing due to inactivity.

[2022-01-28 19:24] #6454 closed

[2022-01-28 22:11] maramizo opened #6460 "send_activity hangs sometimes"
## Version
4.14.1

## Describe the bug
Sending text activity through turn_context.send_activity sometimes freezes the thread entirely.

## To Reproduce
Steps to reproduce the behavior:
The following snippet shows an example:
[code]

## Expected behavior
The annotated send_activity should always send properly, or at least not hang the thread.

## Screenshots
![image](https://user-images.githubuserc

[2022-01-31 19:15] msomanathan commented on #6459
@coldcanuk - We have a PR that will fix this issue.

[2022-01-31 22:07] dmvtech commented on #6460
hi @maramizo

Are you able to isolate further at all? Does this reproduce with a locally running bot with Emulator? Or without sending attachments to Onedrive? Does it only reproduce in the Teams channel?

Regarding this, you should use proactive messages when dealing with long running operations (over 15 seconds). Although not every channels is the same, it's still a best practice.

https://docs.

[2022-01-31 23:15] #6459 closed

[2022-02-01 12:29] maramizo commented on #6460
I was able to close up on the root issue being somewhere in msrest send functions, between two different classes which I don't currently recall. It seems that one of the request builders hang the thread as they never receive a response. I'm not sure why task.cancel() doesn't immediately cancel the request building process though.

The issue does not reproduce locally from my tests but it's tough t

[2022-02-02 04:36] #6437 closed

[2022-02-04 18:46] stevkan commented on #6452
@jenkoc, thank you for your patience. I'm still working with the Web Chat dev on this and will update as soon as I know more.

[2022-02-06 19:39] jenkoc commented on #6452
@stevkan thx for the update, looking forward to further news on this topic!

[2022-02-07 16:50] maramizo commented on #6460
Using proactive messages no longer causes this issue - must be something with using the existing turn activity after a while.

[2022-02-07 23:03] dmvtech commented on #6460
Thank you for the update and info.

As you've got a better solution and we can't easily reproduce, I'll go ahead and close this one. If you find more info, or a more consistent repro, please comment.

[2022-02-09 14:23] usrb1n commented on #3549
Something that just worked for me was to right click on the disabled select box for AppType the click on Inspect and then press DEL to remove that input from the form.

[2022-02-09 21:10] stevkan commented on #6452
@jenkoc, I'm continuing to work with the dev, but one thing that did come up is the Node version being used. Apparently, there is a bug in npm v7, that ships with v16 of Node, that can cause Web Chat to fail during the bootstrap/build processes. His recommendation is to use Node 14/npm 6 for the time being.

Can you try changing versions and see if this fixes the issue for you?

[2022-02-10 16:02] pramodphamax opened #6462 "bot not doesnt work after deployement on azure with orchestrator"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the

[2022-02-12 09:17] quocthinhle commented on #1938
To be honest, I'm having this problem, It did work yesterday

[2022-02-14 09:14] jenkoc commented on #6452
@stevkan The Pipeline ran successfully with Node 14. The Problem also disappeared locally, so it looks like this is a suitable workaround.

[2022-02-14 13:31] danieldangler opened #6465 "Direct Line API Request fails with Postman (Status: 502 Bad Gateway)"
## Version
SDK v4

## Describe the bug
I am trying to send an activity after successfully starting a conversation with my bot on Azure over the direct line channel but if i send the request i get a Bad Gateway response inside Postman:

![Screenshot 2022-02-14 141939](https://user-images.githubusercontent.com/39704877/153871685-cdf2ce1f-7c34-4e60-9de8-ddcd8011d112.png)

Getting a the conversation I

[2022-02-14 18:36] anishprasad01 commented on #6465
Hi @danieldangler,

The 502 error generally happens when your bot cannot be reached, and there are multiple reasons that might be happening. Let's run through some of the basic debugging steps first.

- Where is your bot deployed? Is it on Azure or are you running locally?
- Is the bot running?
- If running locally, are you using ngrok or other tunneling solution? Have you updated the messaging en

[2022-02-16 10:39] tomezpl opened #6466 "OAuthPrompt does not send an OAuth sign-in card; just returns a null token"
## Version
v4.15.2

## Describe the bug
User authentication appears to be completely broken as OAuthPrompt does not send a sign-in card to the user, instead continues to the next dialog step and returns a null token. Neither OnSignInInvoke nor OnTokenResponse events are raised.

## To Reproduce
1. Clone sample 18 from [BotBuilder-Samples](https://github.com/microsoft/BotBuilder-Samples/tree/main/s

[2022-02-16 11:05] JordyGit commented on #6466
Our production bot also got affected. No code changes happened, same deployment just started having this issue. Happens in Teams, Webchat, bot emulator, (no others tested). We Created a support ticket on azure.

[2022-02-16 11:31] Nikhil5952 opened #6467 "How to send the Message to teams using Bot Framework?"
Hi Team,

I have created one Chatbot using MS Bot Framework. Also added that in My Teams App. But not able to send messages to the users who not installed that app in there Teams.  I just wanted to check if there is any provision to send the message to the users who not installed the Bot to there Teams App.

[2022-02-16 13:11] scp-mb commented on #6466
Also seeing this across all of our environments.

[2022-02-16 13:27] claudiucristeagab commented on #6466
I can confirm that this is happening also on all our testing/production environments. (.NET bot framework v4.15.2). It is a very serious problem.

[2022-02-16 16:25] mrivera-ms opened #6468 "Rename release branches to releases/Major.Minor and apply branch protection rules"
## Summary

We don't have branch protection rules enabled on our release branches and we name them as RXY (R14, R15, etc.).  There are two problems with this approach:
1. Defining a branch protection rule for R* is to broad and will impact any branch that starts with "r".
2. RXY doesn't mean much to people outside the team

The changes involve:
1. Renaming all the release branches to `releases/May

[2022-02-16 16:50] swagatmishra2007 commented on #6466
we have found the underlying issue and are working on fixing it. the fix has been deployed to our usa datacenters, so if your bot is hosted in US, it should be working fine now. rest of the data centers is in progress and should be done in the next 30 minutes or so

[2022-02-16 17:00] richie5um commented on #6466
Same for us too. Eagerly awaiting the fix to roll out to our UK data-centres.

[2022-02-16 17:24] claudiucristeagab commented on #6466
West Europe looks to be working again.

[2022-02-16 17:32] JordyGit commented on #6466
Everything is working here too. Guess the issues can be closed.

[2022-02-16 17:33] dmvtech commented on #6466
Thanks everyone for jumping in and contributing and sharing on this one. Closing, but please comment if any issues continue.

[2022-02-16 17:33] #6466 closed

[2022-02-16 17:52] ramfattah commented on #6467
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2022-02-16 17:52] #6467 closed

[2022-02-16 20:54] ohiobobcat opened #6469 "Microsoft.Bot.Schema.BotTimeoutException"
## Version
4.14.1 (NodeJS)

## Describe the bug
The error we've been seeing for quite sometime now is:

[code]

It seems as though the 15s timeout is being enforced across a Dialog and not for a single turn in the Dialog lifecycle. We do have some multi-turn Dialogs that can take more than 15s, but not 15s before we respond to the user.

Example: Authentication Dialog (Waterfall Dialog that consis

[2022-02-17 14:04] dkonyayev opened #6470 "Working with High Number of Knowledge Bases"
## Version
Latest

## Describe the bug
We have been testing Orchestrator with about a dozen QNA and 2 LUIS apps. We have run the evaluation and test modes, and adjusted some content. The prediction accuracy is OK but not great.

All of our content is managed by different teams. It seems that with Orchestrator we need to have an admin constantly testing responses to various questions and adjusting

[2022-02-17 20:07] BruceHaley commented on #6468
Completed for all repos.

[2022-02-17 23:30] ramfattah commented on #6469
Hi @ohiobobcat,

This behavior is expected. Have you had a chance to look at sending proactive messages doc? [Send proactive notifications to users](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-proactive-message?view=azure-bot-service-4.0&tabs=csharp)
proactive messages sample in [C#](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/16.p

[2022-02-18 01:10] ohiobobcat commented on #6469
While I appreciate the response @ramfattah, I don't quite understand the need to send a proactive message when the bot is in the middle of the conversation. How would I know _when_ to send it? Or, what to send.

This isn't a long running process, it's a long running _conversation_.

Can you please explain further? It's unclear to me why the timeout is occurring as we process the activity and respo

[2022-02-18 01:54] YunnyChung commented on #6457
Also BF team is exposing a helper method in the SDK, which basically compares the message ids to decide whether a specific message sent by a bot was read or not.

Pseudo code:
bool IsMessageRead(string idOfMessageBotCares, string userLastReadMessageId)
- if idOfMessageBotCares < userLastReadMessageId ==> the user read the bot's message.

Please add the following to intellisense:
- (1) `idOfMessage

[2022-02-18 01:54] YunnyChung commented on #6457
The below is the final payload that SMBA wants to send out to bot developers.
`{
	"name": "application/vnd.microsoft.r[eadReceipt]()",
	"type": "event",
	"timestamp": "2021-12-13T06:42:46.8080275Z",
	"channelId": "msteams",
	"serviceUrl": "https://smba.trafficmanager.net/amer/",
	"from": {
		// user who read the bot’s message
		"id": "29:1SDmXi1RdC-QBzk90U81Hr68ooQac9OduJDydLd_kKb4wi8IS8Tmq6BDAqLQ

[2022-02-18 02:04] YunnyChung commented on #6457
This feature is mainly for LOB company communicator bots.
This is the pseudocode for the bot.

Context: the company communicator bot wants to know how many users have or have not read the messages sent by the bot.
1. The company communicator bot sends an announcement message to everyone in the tenant.
- The bot needs to save the {threadId: messageId} for each thread. Here the message id is the id

[2022-02-18 10:04] rolandbodenstaff opened #6471 "Possibility to create 1-1 conversation with user when adding bot functionality after the teams app is already installed"
### Imagine the following scenario
A teams app with only personal tab functionalitity is created and deployed to tenants. This app is installed and used by multiple users. You create a bot using the botframework sdk and add bot funtionality to the teams app. You deploy this teams app update to the users. I have the following questions:

- Is the OnMembersAddedAsync method called for the users that

[2022-02-18 20:49] hcyang commented on #6470
Hi @dkonyayev, BF-CLI Orchestrator has a "test" command that can evaluate the performance of an aggregated of OnA knowledge bases using Orchestrator. The "test" command produces an evaluation report and can help the "admin" discovering overlapping knowledge base utterances. Please try using this command and we'd happy to help dissect the report. Thanks.

[2022-02-21 06:39] giobb opened #6472 "ResumeDialogAsync of Parent not firing"
## Version
4.15.2

Hi everyone. I have the same experience as the 3 stack overflow posters below.  The [EndDialogAsync documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.bot.builder.dialogs.dialogcontext.enddialogasync?view=botbuilder-dotnet-stable) clearly states that the **_ResumeDialogAsync_** of the parent will fire after the child calls the EndDialogAsync. As one of the post

[2022-02-21 11:51] danieldangler commented on #6465
Hey @anishprasad01 and thanks for your help!
My bot lives in Azure and actually works there. However, I still get this error message in the portal when testing in Azure (Webchat) or on my testing page (Direct Line), but still get my desired responses.

![Screenshot 2022-02-21 124856](https://user-images.githubusercontent.com/39704877/154949773-ab5b8e62-fab8-4927-a680-c1b6567d91ce.png)

When I test

[2022-02-21 17:06] anishprasad01 commented on #6465
So, your bot works when deployed on Azure, just not locally? Were you debug it locally and see if there's any reason why it would be trying to send back a null message? The fact that the error is in `AdapterWithErrorHandler` and the fact that it works when deployed seems to imply that it's a configuration issue.

[2022-02-21 17:59] ramfattah commented on #6469
Thanks for following up. As stated in [Azure Bot Service Doc](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-basics?view=azure-bot-service-4.0#:~:text=The%20bot%20has%2015%20seconds%20to%20acknowledge%20the%20call%20with%20a%20status%20200%20on%20most%20channels.%20If%20the%20bot%20doesn%27t%20respond%20within%2015%20seconds%2C%20an%20HTTP%20GatewayTimeout%20error%20(504)%20occurs.

[2022-02-22 11:35] ryub3n commented on #6470
I'm also interested in this. Any recommended steps?
Also, how can we do this with Composer?

[2022-02-22 19:35] mrivera-ms commented on #6455
Hello @Nivedipa-MSFT are there any updates on this issue?

[2022-02-22 19:52] #6452 closed

[2022-02-22 22:14] ramfattah commented on #6469
Hi @ohiobobcat, any updates? were you able to find more information on the BotTimeoutException error?

[2022-02-23 05:04] hcyang commented on #6470
The "test" command generates a report documented in https://github.com/microsoft/botframework-sdk/blob/main/Orchestrator/docs/BFOrchestratorReport.md. Please take a look. For now, this test is run as an off-line BF-CLI command (https://github.com/microsoft/botframework-cli), not part of Composer, unfortunately.

[2022-02-23 11:44] danieldangler commented on #6465
Oh you are completly right! I had one credential wrong in my appsettings.json and thats why i couldnt test my bot locally. Okay, i can now test my bot locally via the Bot Framework Emulator and also when its deployed to Azure. But when i try to contact my deployed bot over the direct line API (with Postman) i still get the error message from the screenshots above. When i check the app insights, i

[2022-02-23 11:52] harkiratsaluja opened #6473 "replyToId missing when submitted from task modules"
## Version
Adaptive Card v1.5

## Describe the bug
I have an adaptive card with an update button action. On pressing update , the task module opens and shows me a form. After submitting the form, I need to update my original adaptive card by adding a success section to it. Now, the problem I am facing is that inside function `handleTeamsTaskModuleSubmit` the context activity is missing `replyToId`

[2022-02-23 15:21] dkonyayev commented on #6470
Hi @hcyang. My question is about the ongoing operations. As I mentioned, we have multiple KBs (couple of dozen) managed by multiple teams. They manage the KBs autonomously and modify content at any time.

- Do we need to refresh orchestrator model after each update and deploy it with our chatbot codebase?
- Do we need to run "test" command after each update to evaluate the performance?

This would

[2022-02-23 18:52] hcyang commented on #6470
Orchestrator aggregates label data from sub-models and creates a "meta" model in order to dispatch a query to one of the KBs. It would be most accurate if the meta Orchestrator model can be trained on the most up-to-date sub-models (KBs) data. After you have an update, it's wise to run the "test" command" to compare the performance before and after. BTW, Orchestrator's "test" command can be used t

[2022-02-24 11:59] Nivedipa-MSFT commented on #6455
@mrivera-ms - We have informed Engineering team about the same and they are currently working on the fix. We will inform you once we have further update. Thanks!

[2022-02-24 23:55] Petah commented on #3515
FWIW I had the same issue, it turns out the messages were getting retried because of a error response to the event API. You can check this using the `x-slack-retry-num` header.

[2022-02-25 15:25] harkiratsaluja opened #6474 "Get sent message/adaptive card inside handleTeamsTaskModuleSubmit"
## Version
Adaptive card 1.5
Bot builder 4.14.0

## Describe the bug
I have a requirement where I need to update as existing adaptive card on submitting a form from task module in Microsoft teams. I am able to achieve this by sending a new card but I need to achieve this by reusing the adaptive card which was sent as the main message. The documentation shows ways to update by sending entirely a ne

[2022-02-25 18:14] dmvtech commented on #6473
Thanks @harkiratsaluja

I am able to confirm this current behavior and am currently investigating further.

Can you link the documentation you are referring to please?

[2022-02-25 21:00] ohiobobcat commented on #6469
@ramfattah sorry for delay here. No new updates at this time. I understand that the screen shot shows that's taking longer than 15 seconds and, at times, it does.

When it does, I expect to receive the timeout. What we're finding is, intermittently, the timeout happens much sooner than expected but the telemetry doesn't match. I'm going to try and get one of my testers to record their testing sess

[2022-02-26 08:42] harkiratsaluja commented on #6473
Thank you for the reply. Please find the document link [here](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-actions?tabs=javascript#example-of-incoming-invoke-message)

[2022-02-26 09:58] #6471 closed

[2022-02-28 06:10] ashok-dot opened #6475 "how to find out the frequently asked questions to client in chatbot application"
Hi Team,

How we find the repeated questions, how many times client asked to chatbot application. if any features in the application that allow the possibility to see more frequent asked questions.

Thanks!

[2022-02-28 06:14] ashok-dot opened #6476 "How we have provide feedback (as simple as a “like” or even allow comments) in chatbot application"
Hi Team,

we given chatbot response to the client but client is not satisfied the those response and client  provide feedback (as simple as a “like” or even allow comments).How we can provide the chatbot application ("like" or comments) and where we can store those client response ("like" or comments).

Thanks!!!

[2022-02-28 17:59] ramfattah commented on #6469
@ohiobobcat - sounds good.

[2022-02-28 18:40] ramfattah commented on #6476
The Microsoft Bot Framework team prefers that how to questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). 
The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting bug fixes and feature requests.

[2022-02-28 18:40] #6476 closed

[2022-02-28 21:50] ramfattah commented on #6475
The Microsoft Bot Framework team prefers that how to questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). 
The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting bug fixes and feature requests.

[2022-02-28 21:50] #6475 closed

[2022-02-28 21:55] ramfattah commented on #6475
One possible solution would be to use the [QnA Maker service](https://www.qnamaker.ai/).
Here is a [QnASample](https://github.com/microsoft/BotBuilder-Samples/tree/main/composer-samples/csharp_dotnetcore/projects/QnASample) for .NET Core.

[2022-03-01 03:42] dmvtech opened #6477 "Support for Adaptive Card Templating"
## Issue

It does not appear that the SDK (and Directline/Webchat) support [Adaptive Card Templating](https://docs.microsoft.com/en-us/adaptive-cards/templating/).

Using [sample 16](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/06.using-cards) and sending the card below, it does not render in Emulator/Webchat/Teams.
[code]
![image](https://user-images.githubu

[2022-03-01 18:48] dmvtech commented on #6474
Hi @harkiratsaluja

There is no way to get the initial card from the client side. You must keep track of the information/values that are set and submitted back and forth from the bot and then replace the original activity/card. You may have to implement other data stores, etc to accomplish this (depending on the specific requirements). The term _update_ is used, but it really is just a replace wit

[2022-03-01 19:32] dmvtech commented on #6473
@clearab Can you comment on this? Is there something that is missing for the replyToId to be sent? (a certain condition, etc).

[2022-03-01 20:21] clearab commented on #6473
Hi - this is the expected behavior. The submit doesn't have a replyToId because it isn't associated with any particular message - it is essentially context-less (or rather, that the context is only the task module itself). The fetch on the other hand did have a context, the message that it originated from so it get's a replyToId. You should be able to use the ID from the fetch, or the ID from the

[2022-03-01 21:37] dmvtech commented on #6473
@harkiratsaluja Please see above. Use the replyToId that comes from the `"name": "task/fetch","type": "invoke"` instead of the `"name": "task/submit","type": "invoke"`

[2022-03-02 09:48] Edwardfelix08 opened #6478 "Custom Bot performance in Microsoft Teams is very slow."
## Bot Info
SDK Platform: TypeScript, NodeJS
SDK Version: 4.11.0
Active Channels: MS Teams, Web Chat (via DirectLine)
Deployment Environment: Azure App Service

## Issue Description
Our Bot that is running in Web Chat and MS Teams 1:1
In MS Teams, it is often slow to respond to the User. Sometimes it takes ~15 seconds to respond back. But in WebChat that is not the case.

## To Reproduce
Steps to

[2022-03-02 11:17] harkiratsaluja commented on #6473
Thank you for the confirmation. I am able to reuse this from `handleTeamsTaskModuleFetch` and it works for my use case.

[2022-03-02 11:17] #6473 closed

[2022-03-02 11:19] harkiratsaluja commented on #6474
Thank you for the reply. The documentation is a bit confusing in terms of understanding. I spent almost 3 days trying to figure out how to make update work :). This might be due to the fact I am coming from slack background where this is possible. Thank you once again for the confirmation :).

[2022-03-02 11:19] #6474 closed

[2022-03-02 16:24] ramfattah commented on #6469
Hi @ohiobobcat -- closing this one for now. Please feel free to re-open if you come across any issues.

[2022-03-02 16:24] #6469 closed

[2022-03-02 16:39] esfomeado commented on #6225
@gabog Why was this removed and what you recommend to use instead to make the health check?

Thanks

[2022-03-02 18:38] dmvtech commented on #6478
Hi @Edwardfelix08

In the Configuration settings of your App Service underneath `General settings` do you have `Always on` enabled?

![image](https://user-images.githubusercontent.com/43397658/156426371-1d7303a3-e34d-4822-af47-5c09665dca9c.png)

[2022-03-03 00:25] anishprasad01 commented on #6465
Closing this issue due to inactivity. If you still require assistance, please comment and we can reopen the issue.

[2022-03-03 00:25] #6465 closed

[2022-03-03 05:27] dmvtech commented on #6462
I can reproduce this. Still investigating potential causes.

[2022-03-03 12:58] newlogics opened #6479 "Adaptive Card SelectAction in Image is not working in Teams Web client."
## Describe the bug
Adaptive Card ```SelectAction``` in Image is not working in **Teams Web client**.

I tried the sample given below & I have tried the adaptive card versions 1.3 & 1.4 both are not working.
https://adaptivecards.io/designer/index.html?card=/payloads/Image.SelectAction.json

I tried the below ```SelectAction``` types but both are not working in **Teams Web client**.
```Action.Open

[2022-03-03 19:12] dmvtech commented on #6462
Hi @daveta Can you take a look at this and see what you can find?

[2022-03-03 19:18] daveta commented on #6462
Hi @pramodphamax :
Can you provide some info on how you provisioned?  Orchestrator models take a fair amount of memory, it's best to run on a 64-bit VM?

[2022-03-06 08:15] maramizo commented on #6460
Re-opening this. Even when forging a new context to send a message, this issue still occurs.

Issue is confirmed to only occur when moving a file into a OneDrive folder before sending the message.

[2022-03-07 04:24] newlogics commented on #6479
@stevkan any updates.

[2022-03-07 14:10] maramizo commented on #6460
What's funny is that if you reverse the order, so that it sends the message then saves the file, it refuses to save the file as well. My guess is that there's some sort of underlying authentication method that prevents two different endpoints from acting upon msrest? Not sure.

[2022-03-07 19:12] axelsrz commented on #6470
Closing this issue due to inactivity. If the issue persist, please open a new one.

[2022-03-07 19:12] #6470 closed

[2022-03-07 19:20] axelsrz commented on #6455
Hey @clearab and @Nivedipa-MSFT do we have any updates from teams? Thank you.

[2022-03-07 21:15] clearab commented on #6455
No updates, this is currently "in the backlog"

[2022-03-08 08:08] ashok-dot opened #6480 "How to add the progress button in microsoft chatbot"
Hi Team,

How to add the progress button in microsoft chatbot .Can you please help me.
![Capture](https://user-images.githubusercontent.com/71329832/157193549-dfc1fa99-b93c-4bf2-8361-60b95d86adcb.PNG)

[2022-03-08 18:57] stevkan commented on #6479
@newlogics, thank you for your patience. I'm attempting a repro and will get back to you shortly.

[2022-03-09 01:56] anishprasad01 commented on #6480
Hi @ashok-dot,

I assume you mean typing indicators. Take a look at the docs section on [adding typing indicators](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-send-messages?view=azure-bot-service-4.0&tabs=csharp#send-a-typing-indicator). You might also want to look into [sending proactive notifications](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-p

[2022-03-09 01:56] #6480 closed

[2022-03-09 17:40] harkiratsaluja opened #6481 "Type ahead search does not work from Task Module"
## Version
Adaptive Card - 1.5
"botbuilder": "~4.14.0",

## Describe the bug
I need to implement a scenario where type ahead search makes a call to my remote api and fills in the choice list. This works fine the if adaptive card is sent directly in the chat. But this not work inside if the adaptive card is sent in the task module.

## To Reproduce
Steps to reproduce the behavior:

Following is the

[2022-03-10 11:18] amoyalan20 opened #6482 "Whether can we share same cosmos db table for master bot and skill bots?"
i have 3 skill bots and a master bot, Is it possible to share the same cosmos db table for orchestrator bot and skill bots?

[2022-03-10 11:53] kamalpaliwal commented on #1395
On DirectLine BOT performance is good but as we integrated on Teams, response is very slow. It is taking time more than 10 seconds

[2022-03-10 12:18] selvarsmk commented on #2254
Anyone found any workaround for this.  I have exactly similar requirement.

[2022-03-10 16:43] #6410 closed

[2022-03-10 17:08] dmvtech commented on #6460
@clearab Would you have any insight here? Are there additional steps that need to be taken?

[2022-03-10 18:00] dmvtech commented on #6482
Hi @amoyalan20 As this is more of a question/How-to, this is better addressed on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework).

To clarify; you mean the same 'container', correct? I believe so. As each will have different conversation IDs at the very least. It also depends on if you want to have different partition keys or not. You could have each using a different partition

[2022-03-10 18:56] stevkan commented on #6481
@harkiratsaluja, I'll be attempting a repro of this and will come back with a result and any questions.

[2022-03-11 05:48] harkiratsaluja commented on #6481
@stevkan Adding to the above, I tried to check the error message in ms teams web and it gives me error `504: Bot is not installed` on type ahead search from task module.

[2022-03-11 19:44] clearab commented on #6460
I'm not sure how either Teams or the SDK could really be involved in this - the code for send activity is really straightforward (it just makes the http call), and Teams APIs aren't really involved in any of this. A threading bug in an underlying dependency maybe? @tracyboehrer  any ideas?

[2022-03-11 20:40] Brankec opened #6483 "Adding your own newtonsoft json nuget package in any of your Class libraries throws "The reader's MaxDepth of 64 has been exceeded...""
## Version
Composer version 2.1.2
SDK version 4.15.2

## Describe the bug
When adding a C# Class library with the newtonsoft json nuget package, the bot throws an error that the dialog stack has surpassed 64 depth (specifically the newtonsoft json within the bot framework sdk says that) even though it has not surpassed that depth, not even close.

## To Reproduce
Steps to reproduce the behavior:
1

[2022-03-14 07:35] harkiratsaluja commented on #6481
Hey @stevkan just wanted to check if you need any help from my end in debugging or reproducing the issue?

[2022-03-14 10:42] ubreddy opened #6484 "onMemberAdded missing locale field for directline or Teams"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
4

## Describe the bug
Give a clear and concise description of what the bug is.
The payload received for onMemberAdded

[2022-03-14 17:48] anishprasad01 commented on #6483
This limitation was [added to version 13](https://github.com/JamesNK/Newtonsoft.Json/releases/tag/13.0.1) of Json.NET. The Bot Framework SDK uses version 12 by default. If you add any other libraries that use a higher version, they will override the SDK's version.

The simple fix here is to simply ensure that nowhere in your project is there a reference to a version greater than 12.

[2022-03-14 18:08] stevkan commented on #6479
@newlogics, I am unable to repro the issue as I understand it. Clicking on the various buttons or images update the text and/or show/hide the text, as expected. Can you tell me which language and version of the SDK you are using?

[2022-03-14 18:39] anishprasad01 commented on #6478
Hi @Edwardfelix08,

At this point, I think we need to see if there's some concrete pathway to investigating this issue. Perhaps you could enable Application Insights (if you have not already done so) and share some of the (free of sensitive info) logs with us?

Additionally, could you check to see what exceptions, if any, your bot might be throwing?

I understand the initial response is slow, but

[2022-03-14 21:33] ramfattah commented on #6484
Hi @ubreddy

Are you facing this problem in webchat? if so, have you tried providing the locale using "conversationStartProperties"?
[code]

Reference here https://github.com/microsoft/BotFramework-Composer/issues/8886#issuecomment-1014947459

Let me know if this worked. Thanks.

[2022-03-14 22:55] ryankmcintyre opened #6485 "Error when Adding Teams Channel"
## Version
N/A, issue is hit prior to using the SDK

## Describe the bug
Trying to update a bot to allow the Teams Channel results in an error and the Teams Channel isn't added.

## To Reproduce in CLI
Steps to reproduce the behavior:
1. Create an Azure Bot using a multi-tenant app
2. Run the following command: `az bot msteams create -n {{BotName}} -g {{ResourceGroupName}}`
3. See error

## To Rep

[2022-03-15 04:14] ubreddy commented on #6484
Thanks @ramfattah. Yes. I did that for directline... using browser detect language capability.
but for teams I am unable to figure out how to set this up.

[2022-03-15 04:33] ashok-dot opened #6486 "when user clicked on FAQ button"
Hi Team,

I am facing one issue. when user clicked on FAQ button ,it was displaying left side but it display on right side below image.
![image](https://user-images.githubusercontent.com/71329832/158305955-f61970ba-94de-4bca-9e9c-093e81a5a490.png)

But user excepted for below image. Can you please suggest. How we can implement this .
![image](https://user-images.githubusercontent.com/71329832/1583

[2022-03-15 11:06] Brankec opened #6487 "The "Begin a new dialog" action expression input does not work."
## Version
Composer version 2.1.2
SDK version 4.15.2

## Describe the bug
In Bot Framework Composer there is an action "Begin a new dialog". This Action has the option for "Expression" input, however giving it a property does not assign the value of the property. Instead, what happens is it assigns the whole expression as the literal **dialog name** to direct you to (There are examples with screen

[2022-03-15 11:30] colin-broderick commented on #1932
This is still an issue as of March 2022, five and a half years since first report.

[2022-03-15 11:39] Brankec commented on #6487
I should've posted this in bot framework composer github issues. I will close this issue and post it there. Sorry for the inconvenience.

[2022-03-15 11:39] #6487 closed

[2022-03-15 14:56] #6483 closed

[2022-03-15 15:53] stevkan commented on #6481
@harkiratsaluja, I see that there is a duplicate [post](https://stackoverflow.com/questions/71413731) you had created in Stack Overflow and that a Teams rep responded to you. I reached out to that individual to see if any information had been collected. They advised they are still looking into it and will get back to me/us when they know more.

[2022-03-15 16:17] ramfattah commented on #6485
Hi @ryankmcintyre, I was getting this exact error last night. I tried again after an hour and it was fixed.
Could you please try to add the Teams channel again and see if this issue is solved now?

Let me know if this works, thanks!

[2022-03-15 18:00] ramfattah commented on #6486
Hi @ashok-dot, additional information is needed. Could you please provide the steps to reproduce this issue? [reference here](https://github.com/microsoft/botframework-sdk/blob/main/.github/ISSUE_TEMPLATE/bot-framework-bug.md#:~:text=To%20Reproduce,See%20error)

[2022-03-15 19:14] gabog opened #6488 "Update Bot Registration Docs to note that MSI doesn't work with emulator"
## Summary

The [Register a bot with Azure](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-quickstart-registration?view=azure-bot-service-4.0&tabs=userassigned#bot-identity-information) article explains how to register different types of bot identities but it doesn't mention that MSI doesn't work for local testing or ngrok and that is confusing some devs.

As part of this issue we

[2022-03-15 19:22] gabog opened #6489 "Move composer Ci/CD source to samples"
## Summary

The [Set up continuous integration and continuous delivery for a Composer bot](https://docs.microsoft.com/en-us/composer/how-to-cicd) article is labeled as preview and the links in the article point to a personal repo under https://github.com/gabog/ComposerCICDSamples/.

As part if this issue we should remove the Preview label from the article and move the source to the Samples repo un

[2022-03-15 20:00] ramfattah commented on #6485
I'm closing this one for now. @ryankmcintyre please re-open if you are still having issues. Thanks.

[2022-03-15 20:00] #6485 closed

[2022-03-15 20:58] mrivera-ms commented on #5930
Reviewed with the team. Closing as not needed.

[2022-03-15 20:58] #5930 closed

[2022-03-15 23:42] ryankmcintyre commented on #6485
Currently not an issue, it seems to have been fixed overnight.

[2022-03-16 04:35] newlogics commented on #6479
Have you tried that in **Teams Web client** using Web browser.

[2022-03-16 04:37] newlogics commented on #6479
Try the below simple card in Teams Web client using Web browser.
https://adaptivecards.io/designer/index.html?card=/payloads/Image.SelectAction.json

[2022-03-16 06:02] harkiratsaluja commented on #6481
@stevkan, Yes I had created an issue there also as I am not sure if this a bug or a feature which is missing. Looking forward to hear from you/them soon.

[2022-03-16 07:27] amoyalan20 commented on #6482
Hi @dmvtech, Thanks for your response.
we are currently working with cosmos db table api. so, can we try to implement the above solution with the same db or is there any limitation or issue with the cosmos db table api to achieve the result?

[2022-03-16 16:06] ramfattah commented on #6484
Hi @ubreddy

For clarity: a couple of questions regarding your bot:
* Are you using composer or SDK?
* What programming language did you pick?

[2022-03-16 19:33] #5972 closed

[2022-03-16 22:07] dmvtech commented on #6482
@amoyalan20

What are you using the cosmos api for? Are you using it for something related to the bot conversation/user state? Or is it not related to the underlining bot framework, but another aspect of what you are trying to in your application/bot?

It depends on the needs of what you are actually trying to implement. If you're wanting to handle bot state, then **do not** use the API and use th

[2022-03-17 05:02] astuj opened #6490 "State Management is mixing user state when saving details to the blob"
## Version
v4

## Describe the bug
Hi, I have recently encountered an issue related to the teams bot (bot framework v4), I am storing the user state to the blob and i have two properties like this in the user state:

UserStateAccessor = UserState.CreateProperty<UserProfileModel>(UserStateId);
SurveyStateAccessor = UserState.CreateProperty<SurveyStateModel>(SurveyStateId);

Now for some reason mayb

[2022-03-17 05:56] ashok-dot commented on #6486
Hi,

I don't have any steps .Could you please help me. how to implement this requirement.

[2022-03-17 06:21] hcyang commented on #6462
Hi, we are able to reproduce the bug. The situation is that we also built the Orchestrator bot in a x64 Windows environment, so 'npm install' would download some Orchestrator native libraries in x64 format. These native libraries were then (manually) zipped up with the rest of bot files and deployed to a standard-tier Azure service (S1). Unfortunately, this standard-tier Azure service is default t

[2022-03-17 07:12] astuj commented on #6490
Is it possible that the internal cache might be storing the wrong session details?

[2022-03-17 07:23] irinapskov opened #6491 "Cannot move to the next step in the waterfall dialog after using an adaptive card as a prompt"
## Version
        "botbuilder": "^4.7.1",
        "botbuilder-ai": "^4.7.1",
        "botbuilder-applicationinsights": "^4.7.1",
        "botbuilder-azure": "^4.7.1",
        "botbuilder-core": "^4.7.1",
        "botbuilder-dialogs": "^4.7.1",
        "botbuilder-skills": "^4.4.9",
        "botbuilder-solutions": "^4.4.9",
        "botframework-config": "^4.7.1",
        "botframework-connector":

[2022-03-17 10:02] sreejithrkknd opened #6492 "The activity id is not generating when channel is direct line speech so message not sending to user"
I am getting the activity id as "" when using direct line speech. working fine on the rest of the channels. I am doing handoff to the third party so no response is showing to the user if the channel is direct line speech

 The user is unable to see the response even though the return message contains in the turn context

                       I am sending the response to the user via the above co

[2022-03-17 15:26] hcyang opened #6493 "Azure CLI for bot deployment does not provide a way for selecting platform (x64 or x86)"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
The Azure CLI deployment guide (https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-de

[2022-03-17 15:54] ramfattah commented on #6486
@ashok-dot  we have some questions:
* Did you find this requirement from Microsoft documentation? if yes, could you please give the doc link?
* Is this problem occurring in one of our samples?
* What programming language did you pick for your bot?

[2022-03-17 16:29] #6488 closed, assigned to msomanathan

[2022-03-17 16:36] peterswimm commented on #6413
There should be support for this in the next update of the SDK.

[2022-03-17 17:17] piechk opened #6494 "SMS Delivery Confirmation"
We are attempting to make a SMS chat bot using composer.
The problem we have is there is no way to add a delay to the messages to give them a better chance of arriving in order. This is causing confusing conversation flow. We have tried several solutions none of them have worked.

Solution 1
1. Activity Delay - This is no supported by the SMS adapter. Causing it to send regardless.  There was a re

[2022-03-17 18:04] stevkan commented on #6491
@irinapskov, adaptive cards are not meant to be passed into a prompt which is why the prompt / bot is failing at this point. Adaptive cards should be sent as an attachment to a newly constructed activity and sent using the `sendActivity()` method. You can see this, for example, in the [06.using-cards](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/javascript_nodejs/06.using-card

[2022-03-18 11:35] irinapskov opened #6495 "Cannot pass the list of allowed values to the validator of the choice prompt"
## Version
    "botbuilder": "^4.7.1",
    "botbuilder-ai": "^4.7.1",
    "botbuilder-applicationinsights": "^4.7.1",
    "botbuilder-azure": "^4.7.1",
    "botbuilder-core": "^4.7.1",
    "botbuilder-dialogs": "^4.7.1",
    "botbuilder-skills": "^4.4.9",
    "botbuilder-solutions": "^4.4.9",
    "botframework-config": "^4.7.1",
    "botframework-connector": "^4.7.1",
    "botframework-schema": "^

[2022-03-18 16:05] ramfattah commented on #6492
Hey @sreejithrkknd, thank you for raising this. Are you able to provide steps to reproduce this issue? [reference here](https://github.com/microsoft/botframework-sdk/blob/main/.github/ISSUE_TEMPLATE/bot-framework-bug.md#:~:text=To%20Reproduce,See%20error)

[2022-03-18 16:12] ramfattah commented on #6490
hi @astuj, there are a lot of possibilities on what might be causing this issue. Could please provide code snippets and details on the steps to reproduce?

Thanks

[2022-03-18 18:06] gabog commented on #6455
Closing this one as it belongs to Teams and it is being tracked there.

[2022-03-18 18:06] #6455 closed

[2022-03-20 06:36] sreejithrkknd commented on #6492
@ramfattah Hai thank you for replying when the third party a controller used to receive/send the text from user to agent/agent to user when running these codes
await ((BotFrameworkHttpAdapter)_adapter).ContinueConversationAsync(
                        _credentials.MsAppId,
                        handoffRecord.ConversationReference,

[2022-03-20 06:36] #6492 closed

[2022-03-20 06:37] sreejithrkknd commented on #6492
Automatically resolved when upgraded package

[2022-03-21 05:12] harkiratsaluja commented on #6481
hey @stevkan just wanted to check if there has been any updates on this?

[2022-03-21 05:18] udaya-reddy commented on #6484
I am using SDK version 4.
javascript.

[2022-03-21 08:18] irinapskov commented on #6491
Thanks for the fast reply! I will try it out.

[2022-03-21 14:22] piechk commented on #6494
Moving to correct Project.

[2022-03-21 14:22] #6494 closed

[2022-03-21 17:53] stevkan commented on #6495
@irinapskov, I will attempt a repro of this and let you know what I find.

Out of curiosity, is there a reason you are using 4.7.1 of the SDK? There have been a sizeable number of code improvements made since then. It's entirely possible that this issue, if actually a bug, has already been fixed in one of the many updates that followed. The current version is 4.15.0.

[2022-03-22 09:33] irinapskov commented on #6495
yes, we plan to migrate to the new version in a month or so. It was not done so far due to luck of money/resources.

[2022-03-22 19:07] EricDahlvang commented on #6481
Hi @harkiratsaluja

Thank you for reporting this. I see there is now a response from [Meghana-MSFT](https://stackoverflow.com/users/16356277/meghana-msft) on StackOverflow:

`The engineering team is working on the fix for this issue. We do not have any ETA to share.` –
 [Stack Overflow Comment](https://stackoverflow.com/questions/71413731/type-ahead-search-does-not-work-from-task-module#comment126

[2022-03-22 23:00] anishprasad01 commented on #6478
Closing this issue due to inactivity. If you still require assistance, please comment and we can reopen the issue.

[2022-03-22 23:00] #6478 closed

[2022-03-23 16:32] mrivera-ms opened #6496 "R16 Release List"
## Package 4.16.0

## Package Location
* C#
** []()
* JS (Uses the @rc tag on public NPM)
** []()

* BF CLI (Uses the @rc tag on public NPM)
**
**

## GitHub Updates
**Create New Branch** @mrivera-ms
- [x] C#
- [ ] JS
- [ ] BF-Cli

**Setup Branch Protection on New Branch** @mrivera-ms
(retired)

**Bump Version on Main** @mrivera-ms
- [x] C#
- [ ] JS
- [ ] BF-Cli

**Update Readme.md in main to refl

[2022-03-24 05:00] newlogics commented on #6479
We created a support ticket and got the below response. It is working fine now & can be closed.

[2022-03-24 09:54] ubreddy commented on #6484
SDK version 4  of nodejs.

[2022-03-24 17:38] ramfattah commented on #6484
@udaya-reddy @ubreddy, Thank you for the update. I'm investigating this.

[2022-03-24 17:56] #6479 closed

[2022-03-24 18:46] Nivedipa-MSFT commented on #6455
@leandroamore,@mrivera-ms,@axelsrz - The first issue is fixed.
When the chat window is disabled the user is now able to send reactions on received messages.

On second issue the engineering team is working on it. We will let you know once we have any updates.

[2022-03-24 19:56] leandroamore commented on #6455
Great, thanks for the update. I can confirm that it's working as expected.

[2022-03-25 17:52] ramfattah commented on #6486
Closing due to inactivity, @ashok-dot please feel free to re-open if you are still having issues.

[2022-03-25 17:52] #6486 closed

[2022-03-25 17:55] ramfattah commented on #6490
Closing due to inactivity, @astuj please re-open if you are still having issues.

[2022-03-25 17:55] #6490 closed

[2022-03-28 17:50] stevkan commented on #6491
Closing due to inactivity. Please feel free to reopen if the issue persists or you have new details to share.

[2022-03-28 17:50] #6491 closed

[2022-03-29 08:12] NielsDusseldorpCC opened #6498 "There was an error sending this message to your bot: HTTP status code GatewayTimeout - Both in Direct Line and WebChat"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Bot Framework Composer v2.1.1 with SDK v4.12.0

## Describe the bug
Both within the Direct Line API channel, as the WebChat Channel, I receive the following health i

[2022-03-29 18:53] dmvtech commented on #6482
Closing assuming that you have the needed info. If you have further questions; please ask them on Stack Overflow with clarifying specifics.

[2022-03-29 18:53] #6482 closed

[2022-03-29 22:10] dmvtech commented on #6498
Hi @NielsDusseldorpCC Can you confirm that you have `alwaysOn` set to true for the App Service?

`"alwaysOn": true,`

![image](https://user-images.githubusercontent.com/43397658/160715311-018c9f99-531e-487d-acf4-4590c6ebe103.png)

[2022-03-30 21:21] ramfattah commented on #6484
Closing this issue as it is not a bug in the SDK.

[2022-03-30 21:21] #6484 closed

[2022-04-01 16:24] stevkan commented on #6495
@irinapskov, thank you for your patience. If you are able, could you provide the full code you are using in the dialog. You can attach it as a file. I'm running into a small issue of my own, but I think it's due to differences in how your code is written and mine.

In particular, I'd like to know how and where you are defining `this.accessor`.

[2022-04-04 08:52] irinapskov commented on #6495
Thanks!

[findKPIDialog.zip](https://github.com/microsoft/botframework-sdk/files/8408180/findKPIDialog.zip)

The validator is called "derivativePromptValidator". I tried to pass this.state.possibleValues both as a global parameter and as an input parameter.

[2022-04-04 18:09] munozemilio commented on #6462
Hello @pramodphamax. Im closing this due to inactivity. Feel free to reopen if needed

[2022-04-04 18:09] #6462 closed

[2022-04-07 14:08] Jxlle opened #6499 "Unable to sign in to personal account to create a publish profile"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
v2.1.2

## Describe the bug
When trying to do things in bot composer that require to be logged in, like creating a publish profile, it asks me to sign into my micros

[2022-04-08 13:22] leandroamore commented on #6455
Hi @Nivedipa-MSFT, any update on the second issue?

[2022-04-08 13:31] jrpavoncello commented on #6413
Also looking forward to this - we're looking to migrate our chatbot over to the new services whenever this is ready.

[2022-04-08 13:49] Nivedipa-MSFT commented on #6455
@leandroamore - Engineering team is working on it. We will inform you once we have any update.

[2022-04-08 16:14] rudoleksa opened #6500 "Direct line POST Invoke sign in Activity returns 400 Status Code error with message "Invalid or missing activities in HTTP body""
## Version
Direct Line REST API v3.0

## Describe the bug
To implement WebChat SSO, as described in the documentation, you need to send an activity to the bot with TokenExchangeInvokeRequest in the body of the request.
Flow 4th step - [https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-sso?view=azure-bot-service-4.0#sso-components-interaction](url).
But as a result the API retu

[2022-04-11 11:17] fernandofas opened #6501 "Adaptive card form just works once after submitted"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
1.2

## Describe the bug
Can't use Adaptive Card Forms twice.
I have a few adaptive cards on my Power Virtual Agent bot for different reasons and all of them are for

[2022-04-11 13:47] tdurnford commented on #6498
@NielsDusseldorpCC Did switching `alwaysOn` to true resolve your issue?

[2022-04-11 13:51] tdurnford commented on #6460
@axelsrz Have you been able to take a look at this?

[2022-04-11 17:15] ramfattah commented on #6501
possibly the same as https://github.com/microsoft/BotFramework-Composer/issues/9113 issue, closing this one.

[2022-04-11 17:15] #6501 closed

[2022-04-11 19:54] stevkan commented on #6500
@rudoleksa, I'll take a look at this and will attempt a repro. If possible, could you provide your full Web Chat code (minus any keys/secrets)? This would go a long way in diagnosing the issue you are experiencing.

Also, the link you provided appears to be incorrect. Could you either update the link in the original post or provide the corrected link? It looks like that is the link to the docs you

[2022-04-11 20:22] dmvtech commented on #6498
Closing due to inactivity. Please comment if you still need assistance and we can reopen.

[2022-04-11 20:22] #6498 closed

[2022-04-13 07:33] NielsDusseldorpCC commented on #6498
It seems to have solved the issue. Thank you for the help!

[2022-04-19 00:09] fabricioloupias commented on #6167
Any solution to this? It would be a good functionality for those of us who use the generation of dialogs at runtime, allowing us to edit/delete them

[2022-04-19 17:27] stevkan commented on #6495
@irinapskov, thank you for your patience. Just to clarify, is the issue that you are unable to pass in the variables or is the issue that you are receiving the 'Cannot read property 'get' of undefined' error.

I believe the actual issue is the latter of the two. And, I think it is drawing from how you are choosing to implement the state property.

First, I don't see that `StatePropertyAccessor` is

[2022-04-20 07:46] hamzahjazi98 opened #6503 "how to implement a Request and Receive Token for the Single-Sign on for a MS Teams bot using python"

[2022-04-20 16:49] anishprasad01 commented on #6503
The Microsoft Bot Framework team prefers that **how-to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework).

The official [Bot Framework Github](https://github.com/Microsoft/BotFramework-SDK/) repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

This issue will be closed, but if you have a bug or feature r

[2022-04-20 16:49] #6503 closed

[2022-04-21 19:32] nrodrigu3z commented on #6455
Hi @Nivedipa-MSFT how are you? Would you kindly let us know if there is any update on the second issue? Thanks

[2022-04-25 17:57] msomanathan commented on #6460
@axelsrz Could you please provide updates on this issue? Thanks!

[2022-04-26 10:14] pravinambekar opened #6504 "BotFramework ReactWebChat With DirectLineAppServiceExtension getting repeated welcome message on specific time interval"
## Version
What package version of the SDK are you using.
Bot Builder V4 SDK
.Net Core 3.1

## Describe the bug
I have C# SDK based azure bot developed and deployed on azure, this bot is using Language(Custom Question Answering) service for answering users questions.
The front end part is a SPFX React WebChat which is a webpart of another sharepoint site and the communication with Bot service is h

[2022-04-27 17:37] dmvtech commented on #6504
HI @pravinambekar Does this reproduce with WebChat (not Emulator or TiWC) hosted outside of a Sharepoint webpart?

[2022-04-27 22:30] stevkan commented on #6495
Closing due to inactivity. Please feel free to reopen if the issue persists or you have new details to share.

[2022-04-27 22:30] #6495 closed

[2022-04-28 04:20] pravinambekar commented on #6504
@dmvtech
Hello Dana,
No, this has never occured with web chat, in fact before implementing this in ReactWebChat SPFX i have hosted bot with simple web chat having DirectLine App service Extension and never seen this issue before.

[code]

But i have debug client side tsx while observing re-appearing of welcome message and at any point i never found that some action is being triggered from spfx (th

[2022-04-28 08:19] pravinambekar commented on #6504
@dmvtech  Hello Dana,
Some additional finding during investigation about directLineStreaming.js.
I have observed that the piece of code from directLineStreaming.js gets hit after every 4 to 5 minutes
The function call is :  connectWithRetryAsync and the condition that frequently gets hit is :
[code]
from the function :
[code]
Does this have anything related to the issue i am facing because, only a

[2022-05-02 03:06] pravinambekar commented on #6504
Hello @dmvtech , did you found my previous comment of any use ? I am following up on this thread as i didn't found anything that could help to resolve this issue, moreover i think its React SPFX part where the issue lies .

[2022-05-05 00:13] dmvtech commented on #6504
hi @pravinambekar Sorry for the delay. Thank you for the additional information. I am going over that and will get back to you soon.

[2022-05-05 21:50] dmvtech commented on #6504
Where is `directLineStreaming.js` coming from? What library?

Are you able to share a reproduction webpart that would allow us to reproduce and debug?

[2022-05-06 05:03] pravinambekar commented on #6504
Hello @dmvtech ,

the `directLineStreaming.js` file comes from `//node_modules/botframework-directlinejs/lib/directLineStreaming.js`
Also please find attached webpart and related package json
[Web Part source.zip](https://github.com/microsoft/botframework-sdk/files/8637620/Web.Part.source.zip)

[2022-05-06 13:40] pulkit23 commented on #4813
Hi,
I have an old framework - Mindlink Chatbot. It is having simple.shell script for message output. How can I render markdown via it? Currently it is just printing as plain text

[2022-05-06 20:08] axelsrz commented on #6460
Will try to repro this soon, but this might be related to something external to the sdk

[2022-05-10 06:18] newbazz commented on #2888
I also have similar requirements. Any updates on this feature?

[2022-05-11 05:50] pravinambekar commented on #6504
Hello Dana, @dmvtech
Did you find my comment useful ?

[2022-05-12 05:30] MeenakshiBalekar opened #6506 "How to disable user typing text box with Azure bot"
I am looking for recommendation on disabling attachment and text box when adaptive card is displayed in webchat/directline channel. I am looking for complete code on webchat side.

I tried the sample :
https://github.com/microsoft/BotFramework-WebChat/blob/main/samples/05.custom-components/l.disable-adaptive-cards/index.html

However ended up getting javascript error

Can anyone share recommendati

[2022-05-17 04:24] pravinambekar commented on #6504
Hello @dmvtech  @ramfattah ,
I am really not sure if the issue i reported is something i terribly did wrong (in the way of implementation) or it indeed has some serious problem in term of feature available with DL ASE and React WebChat and DirectLine Streaming js.
What surprises me is not just GitHub but even on other community forum no positive response has seen, which makes impression either it

[2022-05-18 07:50] thejvdagaang commented on #4360
have the ability to pin chats on top

[2022-05-20 20:14] ramfattah commented on #6460
Hi @maramizo

I was not able to reproduce.
Sending text activity with `turn_context.send_activity` works as expected using [15.handling-attachments/](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/python/15.handling-attachments) sample.

#

Are you able to share a minimal reproducible zipped bot project?

Thanks.

[2022-05-22 12:17] master0v commented on #4282
2022.  I can't believe this is still not fixed!

[2022-05-23 13:12] pravinambekar commented on #6504
Hello @dmvtech , Any update on this ?

[2022-05-23 20:02] microsoft-github-policy-service[bot] opened #6512 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-23 23:10] dmvtech commented on #6504
Hi @pravinambekar

I am now able to reproduce (it was not trivial getting it set up correctly). Investigation so far has yet to yield any root causes. I am currently finding the correct resources to help narrow that down.

[2022-05-24 18:13] axelsrz commented on #6512
Hey @tracyboehrer can you take a look at this?

[2022-05-24 18:30] #6512 closed

[2022-05-24 23:56] YunnyChung commented on #6457
This is the sample code for the BF SDK helper method `IsMessageRead`

// Bot SDK helper method.
// idOfMessageBotCares: we expect the bot developers to track the id of message that they want to track per thread.
// userLastReadMessageId: the id in the event payload.
[code]

[2022-05-25 15:54] YunnyChung commented on #6457
This is how I am currently consuming a read receipt event on my testing bot.
[code]

[2022-05-26 08:51] mountju opened #6513 "Language Understanding (LUIS) V3 doesn't support Bing Spell Check API"
## Version
"botbuilder": "~4.15.0",
"botbuilder-ai": "~4.15.0",

## Describe the bug
I try to improve LUIS intents prediction accuracy. Because there is an issue when missing one letter leads LUIS to a wrong intent. I use the [tutorial](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-tutorial-bing-spellcheck), but still I don't get the expected value "alteredQuery" in the JSON

[2022-05-26 17:10] anishprasad01 commented on #6513
Hi @mountju,

The documentation you have linked specifies that the Bing Spell Check key must be passed to LUIS in the *header* of each call. Is that what you are doing?

[2022-05-26 18:11] mountju commented on #6513
Hi @anishprasad01 !
My request to the LUIS endpoint outside of the bot with the header works well!
But I still need to use it in SDK (botbuilder-ai).
How can I manage adding header to a request which is done by SDK itself?

[2022-05-26 18:15] anishprasad01 commented on #6513
As a workaround, you could try making the request to LUIS using [HttpClient](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient?view=net-6.0) from the .NET standard libraries instead of the Bot SDK LUIS objects. HttpClient will allow you to manually add headers. Once you get back a request, you would then parse the JSON for the `alteredQuery`.

[2022-05-26 18:21] mountju commented on #6513
@anishprasad01
got your idea, but we use node.js in our project. so as I understand you it's impossible to use Bing Spell Check API through the SDK, and I need to use REST API as it is

[2022-05-26 18:25] anishprasad01 commented on #6513
Not necessarily. I just defaulted to C#, but C# libraries are by no means the only way to interact with LUIS.  You know how you interacted with it outside the bot? Similarly, you can use whatever the counterpart to HttpClient is available in Node.js.

[2022-05-26 18:42] mountju commented on #6513
@anishprasad01 thank you for your help!
I will use httpClient for js and LUIS REST API

[2022-05-26 18:45] mountju commented on #6513
but I very disappointed that LUIS SDK doesn't work well at all

[2022-05-26 18:47] anishprasad01 commented on #6513
As per your initial question, the LUIS endpoint did return the correctly recognized intent and score. While getting the altered query back might not be specifically supported, the LUIS SDK is working as expected.

[2022-05-26 18:48] mountju commented on #6513
There are special options for the proper work with Bing Spell Check API in SDK (bingSpellCheckSubscriptionKey, spellCheck) but they couldn't be used at all...

[2022-05-26 18:50] anishprasad01 commented on #6513
Feel free to open a ticket with LUIS to see if perhaps they can improve the SDK. In the meantime, since we have identified a workaround, I am going to go ahead and close this issue. Should you run into further issues, feel free to comment and we can reopen it. If you have new problems in the future, please open a ticket in the appropriate repository.

[2022-05-26 18:50] #6513 closed

[2022-05-31 11:11] ridasaleem0 opened #6514 "Add Custom Commands application as a skill in Bot framework composer application"
The documentation (https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-commands-integrate-remote-skills) gives an idea about how to export the Custom Commands application as a skill, however, there is no skills tab available in the Speech studio under Custom commands settings.

Is there a way to export our commands app as a skill inside the bot framework applicat

[2022-05-31 13:49] shamim237 opened #6515 "Is it possible to call a async waterfall function to another waterfall function in python??"
`   async def seventh_step(self, step_context: WaterfallStepContext) -> DialogTurnResult:`

some statements

`    async def eighth_step(self, step_context: WaterfallStepContext) -> DialogTurnResult:`

can i call seventh step in eighth step?

[2022-05-31 13:52] casperhuijsman commented on #6413
Please provide an update on the timeline @benbrown

[2022-05-31 18:04] stevkan commented on #6514
Closing as duplicate of https://github.com/microsoft/BotFramework-Composer/issues/9212.

[2022-05-31 18:04] #6514 closed

[2022-05-31 18:08] ramfattah commented on #6460
Closing due to inactivity, @maramizo please feel free to re-open if needed.

[2022-05-31 18:08] #6460 closed

[2022-06-01 04:03] shamim237 commented on #6515
[code]

### Here, in this code, can I call the initial_step function in the later function like secnd_step ???

[2022-06-01 18:11] #6306 closed

[2022-06-02 03:17] ramfattah commented on #6515
According to [Waterfall dialogs documentation](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-waterfall-dialogs?view=azure-bot-service-4.0#:~:text=more%20on%20these.-,Waterfall%20dialogs,-A%20waterfall%20dialog):

[2022-06-02 16:28] ramfattah commented on #6515
Hi @shamim237

According to [Waterfall Dialogs documentation](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-waterfall-dialogs?view=azure-bot-service-4.0#:~:text=more%20on%20these.-,Waterfall%20dialogs,-A%20waterfall%20dialog):

[2022-06-03 22:19] AdamSobieski opened #6516 "[Feature Request] WebRTC Support"
I would like to request support for [WebRTC](https://en.wikipedia.org/wiki/WebRTC) as a multimodal communication channel for the [Bot Framework](https://github.com/microsoft/botframework-sdk). Thank you.

[2022-06-06 09:24] pravinambekar commented on #6504
Hello @dmvtech ,

Have you had any chance for further investigating this, have you got any resource to find root cause ?
I am just concerned as it is taking bit more time than expected

[2022-06-06 21:26] LeeParrishMSFT commented on #6516
Thanks for your feedback, we can consider this for work into the future.

@clearab Tagging you here for consideration into future planned work.

[2022-06-06 21:26] #6516 closed

[2022-06-08 17:45] dmvtech commented on #6504
Hi @pravinambekar I am unable to determine the root cause. I have involved @compulim to see if he can identify the culprit.

[2022-06-09 15:51] ramfattah commented on #6515
Closing due to age. @shamim237, please feel free to re-open, or ask a question on [Stack Overflow #botframework](http://stackoverflow.com/search?q=%23botframework) if you require further assistance.

[2022-06-09 15:51] #6515 closed

[2022-06-15 07:42] sunilsoniudaipur commented on #5944
Getting issue while downloading the data form QNA

https://botname.azurewebsites.net/qnamaker/v4.0/knowledgebases/kbid/prod/qna

but it is returning 404, QNA data is present, able to get questions and answers using bot. but when trying to get all data download API returns 404. however generate answer API endpoint is working fine.

[2022-06-22 03:01] shamim237 opened #6518 "Adding a NLP model in the bot creating an issue on Azure!"
So, I am working on a project to build an AI Chatbot using the MS bot framework. In a particular situation, I am capturing the user messages and sending them to an NLP model to classify its intents. To be more specific, I am using the waterfall context here.

So, the user message is _step_context.result_, then I am sending this message to a model to classify and return its corresponding class.

Th

[2022-06-27 18:36] peterswimm commented on #6413
Work on this is progressing, but we have no timeframe yet.

[2022-06-29 23:19] ramfattah commented on #6518
Closing due to lack of activity. @shamim237, please feel free to re-open if needed.

[2022-06-29 23:19] #6518 closed

[2022-07-04 01:30] johnkm516 opened #6519 "First response after bot idling is way too slow"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
4.16.1 Dot net SDK
**Bot has been created using Bot Framework Composer.**
Apps are hosted in West-US region.

## Descr

[2022-07-04 04:29] nimeshnanda opened #6520 "How to load history from azure blob storage using lazy load patterns."
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
SDK Version 4.15

## Describe the bug

I am fetching user histories from azure blob storage based on conversation Ids and filtering activity type ="Message" and disp

[2022-07-04 16:20] anishprasad01 commented on #6520
Hi @nimeshnanda,

Please take a look at the [Azure Blobs documentation](https://docs.microsoft.com/en-us/azure/storage/blobs/), it may provide some guidance on getting the data using various patterns. You might also find the [Bot Framework documentation](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-basics?view=azure-bot-service-4.0) useful.

Additionally, the Microsoft Bot Framew

[2022-07-04 16:20] #6520 closed

[2022-07-04 18:21] shamim237 opened #6521 "How can I add or update a key of JSON payload from the bot to user in Microsoft Bot Framework?"
Usually, the bot sends an activity to the user as a JSON payload. Here is the payload-

[code]

I want to add a key like in the above payload

[code]

Suppose that I want to add a custom key like-

[code]
How can I do this? Is it possible to do? Or Can I update any value of a key?

**Please add some code snippets in _Python_ if it is possible to do.**

[2022-07-05 05:31] shamim237 commented on #6521
@ramfattah can you give me something on that?

[2022-07-05 16:46] ramfattah commented on #6521
Hi @shamim237, I'm investigating this one.

[2022-07-06 03:31] ramfattah commented on #6521
Hi @shamim237,

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). 
The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repositories are the preferred platform for submitting **bug fixes** and **feature requests**.

[2022-07-06 03:32] ramfattah commented on #6521
Closing this issue as duplicate how-to question is open in StackOverflow
https://stackoverflow.com/questions/72859476/how-can-i-add-or-update-a-key-of-json-payload-from-the-bot-to-user-in-microsoft

[2022-07-06 03:32] #6521 closed

[2022-07-06 06:26] shamim237 commented on #6521
@ramfattah But you haven't give any solution!!!

[2022-07-06 09:56] nimeshnanda commented on #6520
I dont understand why issue is closed without giving proper details.

I already mentioned that I am able to load the chat history from azure blob storage and able to display in botframework react-webchat component.

MY ISSUE - I am loading last 7 days user history and it takes time to load at initial stage. my concerns how can I load 20 - 20 histories in react-webchat.

I mean initially I will fet

[2022-07-06 10:11] nimeshnanda opened #6522 "Load last 7 days history from azure blob storage"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co