[2019-10-11 16:10] #5641 closed

[2019-10-11 16:15] CoHealer commented on #5642
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**. We monitor Stack Overflow and will assist you there.

[2019-10-11 16:15] #5642 closed

[2019-10-11 18:08] dmvtech commented on #5641
This is a bug and should be resolved shortly if not already.

[2019-10-14 04:48] vyomanaut opened #5643 "Dedicated documentation for every language and SDK"
Documentation is a very important for a developer especially when the community is relatively small. Its a real pain when you are searching for something particular and in the search results i see results for languages i am not using as well as for a SDK i am not using .

SDK v4 needs to have its own separate documentation and not be clubbed with v3 documentation , leads to redundant search terms

[2019-10-14 15:02] gabog commented on #5603
Hi @sgellock. No, it is not valid anymore. Closing it

[2019-10-14 15:02] #5603 closed

[2019-10-14 17:18] v-kydela commented on #5643
Hello @vyomanaut - Thank you for the post!

You are absolutely right that documentation is very important for developers. However, the v4 Bot Builder SDK has been designed with parity in mind, so if something can be done in one language it can almost always be done the same way in the other three languages. This should help when you're searching for answers and you find posts that use a language y

[2019-10-14 17:18] #5643 closed

[2019-10-15 10:56] poovarasan159-svg opened #5644 "Requesting proactive messaging in msTeams without user interaction to the bot."
can you help us to send proactive messages within our org active directory without user interaction to the bot.

[2019-10-15 14:29] dipincluster opened #5645 "Microsoft.Bot.Schema.BotTimeoutException"
Bot Info
Active Channels: Direct Line
Deployment Environment: Azure Bot Service

**Issue Description**

Event time | 	10/15/2019, 2:24:34 PM (Local time)	 |  
-- | -- | --
Message | POST to XXXXXX-XXX-XXX-XXX-V4 timed out after 15s	 |  
Exception type | Microsoft.Bot.Schema.BotTimeoutException |  
Failed method | Microsoft.Bot.ChannelConnector.BotAPI+<PostActivityToBotAsync>d__31.MoveNext |  
Prob

[2019-10-15 16:21] mdrichardson commented on #5644
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

---

That being said, I answered this in a [StackOverflow qu

[2019-10-15 20:44] gabog commented on #5586
This issue has been superseded by others. Closing it

[2019-10-15 20:44] #5586 closed

[2019-10-15 21:02] gabog commented on #5591
Hi @lzc850612 , should we keep this task? Transfer it back to solutions? or close it given the direction we are taking?

Thanks

[2019-10-15 23:49] martinlarosa commented on #5434
What about c# bots?

[2019-10-15 23:53] cleemullins commented on #5434
The support for C# / Slack Adapter is largely done and going through the [PR / Feedback process](https://github.com/microsoft/botbuilder-dotnet/pull/2051).

Current plan is to ship it as a "-preview" assembly in the 4.6 time frame, although it depends on the state of the overall PR.

[2019-10-16 06:52] love2dishtech commented on #5301
Apologies for responding to an old thread. But wondering, if its possible to use the Microsoft Bot frameworks to build bots for Alexa and Google Assistants.

Essentially one approach I can think of is - it might need to have the bot state machine managed by the bot framework, while the messaging middleware handled by the bot service and a proxy for interfacing channels with Alexa and Google Action

[2019-10-16 12:36] daniel0x00 commented on #5637
Hi @v-kydela , thanks for that trick. I work for a 100.000+ FTEs organization and we are suffering by not having Action.ToggleVisibility in Teams (part of Adaptive Cards 1.2). I will try out your trick with ShowCard to see if we can place long-text Adaptive Cards in our use-case.
Thanks,

[2019-10-16 18:43] cleemullins commented on #5301
Yes, with some conditions. The open-source community has build adapters for this.
[Alexa in C#](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries/Bot.Builder.Community.Adapters.Alexa)

[Google Home in C#](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries/Bot.Builder.Community.Adapters.Google)

[2019-10-16 19:48] jmnsf commented on #5434
@cleemullins are there plans to do this at the BotFramework level, i.e. using `channelData` as with most other functionality (and also as described in the issue)? We can already use the Slack API directly for this, but one would thing avoiding the platform goes against the point of having one in the first place.

There's also the REST API which has no support for this either.

[2019-10-16 20:22] cleemullins commented on #5434
@benbrown, of BotKit Fame, is our primary driver for Slack related features. Ben?

[2019-10-16 20:25] benbrown commented on #5434
@jmnsf Do you mean using it via the Azure Bot channel service?  There are no plans to add these features to the service.

However, as above, you can continue to use Bot Framework SDK by swapping out the built-in adapter for either the Javascript `botbuilder-adapter-slack` package, or the upcoming C# version.

[2019-10-17 10:39] jmnsf commented on #5434
@benbrown not sure honestly, I'll admit I'm somewhat overwhelmed with all the `X Bot Y` things that exist at this point. Specifically, what I mean is being able to call the [activities](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-bot-service-4.0#send-to-conversation) endpoint with some Block Kit payload and having it delivered c

[2019-10-17 14:40] benbrown commented on #5434
@jmnsf Based on my understanding of the roadmap right now, the activities endpoint will *not* be updated with support for Block Kit any time soon.

You may want to consider moving to the adapter linked above - it will give you access to all of the newer Slack features.

[2019-10-17 15:42] bhushanvadgave opened #5646 "Directline API failures causing downtime for bots"
We have multiple bot services running in production serving multiple customer businesses. All of our bots have become unresponsive due to Directline API failures.

Below is the error we are seeing in our bot services.
``
POST to 'https://directline.botframework.com/v3/conversations/BwFsKMH1RkWGpM14IOOnWM-h/activities/BwFsKMH1RkWGpM14IOOnWM-h%7C0000017' failed: [503] Service Unavailable
``
Help us

[2019-10-17 15:58] HellDevil commented on #5646
We have the same problem.
Ticket on azure support opened.
I follow the issue

[2019-10-17 16:30] DanielTizon commented on #5646
Same problems with our bots in production. They keep giving 503 errors in the last 6 hours.

Could somebody from Microsoft give us an answer about what is happening?

[2019-10-17 16:41] CoHealer commented on #5628
@stevengum & @jwiley84 please sync on this to close out

[2019-10-17 16:52] stevengum commented on #5628
@CoHealer I'll sync with @jwiley84 today

[2019-10-17 17:24] PathTech commented on #5646
We have the same problem with ours, 503 errors when connecting to directline conversations - the Azure status page shows "All Services are operating normally" with a green tick next to the Azure Bot Service.

[2019-10-17 17:30] kelesaoui commented on #5646
We have the same issue, no luck, it was the first day in production for our bot  !
Ticket on azure support opened.

[2019-10-17 17:30] cleemullins commented on #5646
We are having issues in our Europe regions and have the team working on the incident.  We've applied some mitigations but are not yet convinced it is closed.  Notices should be appearing in the Azure dashboard for customers we believe were impacted shortly.

[2019-10-17 19:01] mdrichardson commented on #5442
Note: This is currently stalled because the tests re-create a bot on every run and these tests need the Slack channel, which also needs to be re-created on every run. Currently, you can't add the Slack channel programmatically (it needs to go through Slack OAuth flow to actually register in the Web App). I have a fix for this. Working on issue and PR creation, now.

[2019-10-17 19:11] mdrichardson opened #5647 "[AZ CLI] Slack Channel Creation Needs to Take in Signing Secret"
## Issue
When using the AZ CLI to add the Slack Channel to a Web App in Azure, the channel doesn't really add itself. It requires going through the Slack OAuth flow before actually registering and validating in Azure.

See line 86 in [SlackChannel/SettingsController](https://dev.azure.com/FuseLabs/_git/Intercom?path=%2FChannels%2FSlackChannel%2FSlackChannel%2FControllers%2FSettingsController.cs&ve

[2019-10-17 23:27] v-kydela commented on #5637
Closing due to inactivity

[2019-10-17 23:27] #5637 closed

[2019-10-18 08:03] Vigneshramkumar opened #5648 "Dynamic conversations based on JSON after getting LUIS Intent"
Hello Team,
Greetings for the day.
I have implemented MS Chatbot using MS Bot Framework V4 (.NET). I am using LUIS for identifying intents. After identifying the intents, Chatbot will execute the respective dialog and have the conversation with user based on the dialog. I am planning to have a JSON file which contains all the conversations for all the intents. The structure of all intents conversa

[2019-10-18 08:43] Stevenic opened #5649 "Feature: Create a new TaskManager dialog/component"
## Issue
We currently leave it up to every bot developer to have to implement their own top level dispatch dialog for managing interruptions and switching between tasks. I believe we can save developers a lot of headaches while creating a richer experience for users by creating a new TaskManager component that they can drop into a bot and then customize.

## Proposed change
A TaskManager would be

[2019-10-18 13:21] xtianus79 commented on #345
@tomlm for directline specifically as a channel you're saying there is no deletion of conversationId's and when you use a user does the conversationId get associated with the userId?

[2019-10-18 16:22] gabog opened #5650 "Add support for OAuth cards in skills"
Skills should be able to render an OAuth card and allow the user to sign in with their credentials.

The tokens obtained by the skill should remain with the Skill bot without the parent bot intervention.

## Tracking Status
**Dotnet SDK** (Tracked in [2775](https://github.com/microsoft/botbuilder-dotnet/issues/2775))
- [x] PR
- [x] Merged

**Javascript SDK** (Tracked in [1328](https://github.com/m

[2019-10-18 18:53] gabog commented on #5595
This issue has been folded into the Prototypes task #5582

[2019-10-18 18:53] #5595 closed

[2019-10-18 18:56] gabog commented on #5583
this task has been folded into #5582

[2019-10-18 18:56] #5583 closed

[2019-10-18 22:07] jwiley84 commented on #5648
Hi @Vigneshramkumar!

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

That being said, I recommend you take

[2019-10-18 22:07] #5648 closed

[2019-10-20 16:36] sgellock commented on #5277
@yochay given the roadmap for this area, you should decided if this is addressed in the 4.6 release or if you want to keep it open past that.  moving to R7 as the Issue's resolution is not a 4.6 deliverable.

[2019-10-20 20:40] yochay commented on #5277
First part of the ask is part of 4.6. I'm not sure SDK will complete everything needed to provide and end-2-end solution for custom code in R7. With that said, we'll move this to R7 and keep updating as needed.

[2019-10-21 23:29] EricDahlvang commented on #5634
note: Striked through the Bot Builder V3 line  after discussion with @christopheranderson

Determined that we do not need to take any action for the BBV3 sdk.  Since the CosmosDb support for v1 is ending AFTER the BBV3 support date, this is not something we need to address in the V3 Bot Builder sdk. (The current bits should continue to function for the foreseeable future and customers requesting '

[2019-10-22 10:46] joetossell29 opened #5651 "Activity Schema documentation broken link"
https://github.com/Microsoft/botframework-sdk/blob/master/specs/botframework-activity/botframework-activity.md#References
Contains a broken link to:
Bot Framework Manifest
https://github.com/microsoft/botframework-sdk/blob/master/specs/botframework-manifest/botframework-manifest.md

[2019-10-22 16:30] mdrichardson commented on #5647
@swagatmishra2007 [PR is in for the AZ CLI portion of this](https://github.com/Azure/azure-cli/pull/10930/). I think we just need the swagger/ARM stuff on your end. Let me know if I can do anything further to help.

[2019-10-22 18:30] #5651 closed

[2019-10-23 01:44] vishwacsena commented on #5237
@Stevenic @tomlm and I discussed this today and we should discuss different scenarios and their ramification before we add native support for this.

For now, the workaround suggested by @Stevenic puts the bot author in control of the timeout logic as well as how it is interpreted/ handled.

@sgellock - recommend that we push this out to R7 so we have a deeper architectural discussion and track a D

[2019-10-23 03:25] sgellock commented on #5237
Moving to R7 for reason's called about above by @vishwacsena

[2019-10-23 12:38] sw-ms-ankitsangani commented on #2385
Hello all,

I have same issues. How can i handle this. I used direct line service with waterfall method.
Please help.
Thanks.

[2019-10-23 17:27] #5628 closed

[2019-10-23 17:32] scheyal opened #5653 "Migration Design: Ensure there's an easy/supported path to migrate from native V4.6 to Composer compatible"
## Requirement request for future compatibility consideration

### Scenario
A customer that is currently on "native" V4 would like to leverage the new composer capabilities (in May 2020 GA release). We need to design a path that makes it easy for customers to migrate their bots to composer compatible

To compound the issue, assume a V3 customer that has just completed migration to native V4, say a

[2019-10-24 07:59] vyomanaut commented on #5643
Completely Understand .
Thank you !

[2019-10-24 19:23] gabog opened #5654 "Add support for skill OAuthCard to Emulator and WebChat"
Currently the emulator and webchat receive an OAuthCard from the bot and they create and update the card with a sign in link they generate that allows them to bypass the magic code prompt.

This link is generated based on the AppId of the host bot and that allows the token service to post back an event activity with name "tokens/response" that contains the generated token to the parent bot.

The i

[2019-10-25 18:27] yochay commented on #5639
@cleemullins for PVA (4.6 only) please get a signoff from Salem and Karthik

[2019-10-25 19:25] stevengum opened #5655 "[ARM, Azure CLI] Support for Direct Line Speech configuration via ARM"
To support CI/CD for our customers who want to use the Direct Line Speech channel, we need to have ARM support for the channel.

This is a public tracking issue for the work.

- [ ] 1. Service Support (Infrastructure changes)
- [ ] 2. Data plane Swagger updates (update https://github.com/Azure/azure-rest-api-specs)
- [ ] 3. Azure SDK (automatically occurs after 2. https://github.com/Azure/azure-sd

[2019-10-27 19:52] muminasaad opened #5656 "[Feature Request]: Change channel id in directline"
## Issue
Cannot diffirentiate between multiple implemented directline channels.

I have implemented multiple channels that are not supported by Microsoft and to customize the UX i need to differentiate between them.

it would be great if we can customize channel id or add the site name that is defined in the azure portal somewhere

## Proposed change
Customizable channel id or add site name to req

[2019-10-28 11:38] archmangler commented on #5641
FYI, I'm still seeing this issue in current bot deployments.

[2019-10-28 13:43] handzlikchris commented on #4010
Same issue on my end, is there a fix for that? It's quite disappointing to hit issue with such basic part.

Teams is even making the call to get custom page from endpoint but it's not passing any messages.

[2019-10-28 17:38] dmvtech commented on #5641
@archmangler Does it happen consistently with the same bot (after waiting for a few minutes, etc)? Does it happen with more than one bot?

[2019-10-28 17:42] dmvtech commented on #5641
Additionally, do you have a custom domain in Azure that you are using for your bots?

[2019-10-28 21:38] gabog opened #5658 "Add overload to ForwardActivityAsync method that gets callback url and skill definition as parameters"
Some solutions load skills dynamically based on the customer, right now we create the list of the skill and initialize the callback URL in BotFrameworkSkillHostAdapter at construction time from config.

We need add an overload. I don't have a github issue for this one, I need to create it.

[2019-10-28 21:42] gabog opened #5659 "Implement allowed caller list support for skills"
A skill and a parent bot should be able to validate that the caller is in the allowed list.

To support this capabilities we are adding a ClaimsValidator abstract class used by AuthenticationConfiguration that gets invoked after all the auth checks have passed and allows the developer to write code to validate the claims in the request.

## Tracking Status
**Dotnet SDK** (Tracked in [2970](https:/

[2019-10-28 21:53] gabog opened #5660 "Add OOTB health check function to bots"
## Requirements:
- Apps that allow you to connect a Skill to a bot need to be able to test the connection as part of their implementation flows. Current apps that could make use of this functionality are PVA and Composer, but the potential is there for additional scenarios in the future.
- When publishing an app to Teams, they'd like an automated method of determining if the bot is alive and respo

[2019-10-29 20:30] Unders0n commented on #4360
@EricDahlvang , hi any updates on Webview and Stripe/Facebook Payments features? If not implemented natively, how do you think would it be possible to address using workaround like ChannelData and webhooks?

[2019-10-29 22:43] EricDahlvang commented on #4360
Hi @Unders0n

I don't know about Facebook Payments, but you can do WebViews with ChannelData.  Please find a node.js example here: https://stackoverflow.com/questions/55087150/messenger-webview-for-botframework-v4/55128551#55128551

The Bot Framework Services team might have more information.  If you wish to pursue this further, please open a feature request here:  https://github.com/microsoft/Bot

[2019-10-30 09:05] yuriisanin commented on #5472
@CoHealer @v-kydela Looks like it's doesn't work with Telegram adaptive cards.
Here code:
`var reply = MessageFactory.Attachment(new Attachment
                {
                    ContentType = AdaptiveCard.ContentType,
                    Content = card
                });

                reply.Id = savedActivity.ActivityId;

                var response = await turnContext.UpdateActivityAsync

[2019-10-30 09:17] sustepavkentico opened #5661 "Proactively create a group chat in Teams and send a message"
Hi,

it looks like it is not possible to **proactively create a group chat conversation** in MS Teams via bot and post messages into it.
**However** According to documentation and topics on stack overflow and also history of pullrequests (e.g. https://github.com/microsoft/botframework-sdk/pull/912), **it should be possible**. Am I right?
Though, I am getting "Incorrect conversation creation parame

[2019-10-30 09:17] yuriisanin commented on #5472
https://github.com/microsoft/botframework-sdk/issues/5472#issuecomment-547803337

[2019-10-30 17:15] jameslew opened #5662 "Bot User Agent should communicate bot creation source"
## Issue
In the fullness of time, we will want to be able to understand and as appropriate communicate the canvas through which active bots are created; Composer, SDK Only, et al. We currently assume all bots are manually created SDK bots.

## Proposed change
In the SDK, expose a property settable by the creation tool that indicates what tool & version was used to create the bot that is included a

[2019-10-30 19:14] clearab commented on #5661
Hi - No this is currently not possible. You can only create a new thread in an existing channel, or create a new one-to-one conversation.

[2019-10-30 20:15] jwiley84 commented on #5661
There really isn't much more to it then Andrew's response. I'm going to go ahead and close this issue. Please keep an eye out going forward for our samples in the [Botframework-Samples](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples) repo showing various Teams scenario examples.

[2019-10-30 20:15] #5661 closed

[2019-10-31 15:35] Amokstakov opened #5663 "Bot: There was an error sending this message to your bot: HTTP status code GatewayTimeout"
I am attempting to integrate SDK4.0 Bot Framework into Web Chat Channel.

Everything seems to be running smoothly- dot was deployed onto Azure from local environment and is testing properly.

Issue is when integrating it into the actual website via web chat channel.
Following this source:
https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-webchat?view=azure-bot-service-

[2019-11-01 01:58] armstrong-charles commented on #3319
How to include more than 10 cards in the reply if i am using v4 SDK. I am inside the waterfall dialog flow, do i need to put 10th card as a more or something to refill the reply with remaining items. I have more than 10 items to provide, how to do that?

[2019-11-01 08:36] lobigm commented on #4010
Hello people, did you find any solution i have the same behavior.. thank you in advance

[2019-11-01 12:56] Amokstakov commented on #5663
Any help? ~{bump}

[2019-11-01 16:28] mdrichardson commented on #5663
I can help with this, but need some additional information:

1. Does "Test in Web Chat" work from `Azure Portal > Your Resource Group > Your Web App Bot/Bot Channels Registration > Test in Web Chat`?
2. What is your `MicrosoftAppId`?
3. Can you share the full HTML that you're using to implement WebChat (minus your secret)?

[2019-11-05 18:19] cleemullins opened #5665 "Timeouts / Convert inbound activities to proactive"
[@stevenic]
We should really consider adding an option to the adapter which essentially turns every inbound request into a proactive message. Customers keep getting tripped up on long running operations. I know @benbrown has had a lot of complaints on the BotKit side as well.

[2019-11-05 20:03] EricDahlvang commented on #4010
I have also experienced a rare issue where a Teams bot does not reply back as expected.  Re-creating a new bot channel registration seems to fix the problem.

Note: This is a closed issue.  The team does not monitor closed issues for new comments.  If creating a new bot channel registration does not fix the problem, please open a new issue detailing the everything you are experiencing.

[2019-11-05 20:27] #5639 closed

[2019-11-05 23:43] stevengum opened #5667 "[Azure CLI] Take us out of preview"
The code base is mature and ready. If we are still not confident about certain commands or command groups of the Azure CLI, they should **individually** be marked as preview.

`az bot` is here to stay, so it's time to move out of "preview".

[2019-11-06 00:47] CoHealer commented on #5663
@Amokstakov do you still require assistance or should we consider the issue resolved?

[2019-11-06 01:04] Amokstakov commented on #5663
Hi Sorry -
1) It works through Test yes
2) My app Id exists and I have it
3) the Iframe I am using:
<iframe src='https://webchat.botframework.com/embed/SECRET INFO'  style={{minWidth: '400px', width: '100%', minHeight: '500px'}}></iframe>

So as an update I have actually put it in the Website

however my NEW ISSUE UPDATE:
I can see the chatbot, and I can interact with it. However, it doesn't show

[2019-11-06 01:14] mdrichardson commented on #5663
We've got a few issues to handle here:

1. If you would like me to troubleshoot things on the backend, I'll need to know your appId.
2. The iframe version of WebChat isn't updated to the latest version of WebChat for most people and can often cause issues. [See here for more info](https://github.com/microsoft/BotFramework-WebChat/blob/5bf82c32f6da5773e33e9de701775f3c19902bea/packages/embed/README.

[2019-11-06 01:17] Amokstakov opened #5668 "ChatBot embedded on Website does not prompt Welcome Message"
Hi all,

quick question regarding ChatBot.
I have it embedded into my website via Iframe.
I have developed it with onMembersAdded handler, which works accordingly on Emulator and Test Channel.

However, it does not seem to work when it is embedded. That Chatbot never sends a welcome message, only waits until user sends an initial message then it responds, instead of clicking within the chat window

[2019-11-06 01:23] Amokstakov commented on #5663
Hi!
Thanks for the help.

1)206ea021-b5f1-4cef-a275-29a6dfc61706
2) This was good to know - thank you
3) I have seen example ChatBots created where once it is integrated into the website, whenever someone opens it - it begins dialog/welcome message.

Here is an example:
https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/12.customization-minimizable-web-chat

^ in the above examp

[2019-11-06 01:31] mdrichardson commented on #5663
@Amokstakov Regarding your point #3...they likely did what I included in my point #3. Regarding that example, you don't copy/paste your iframe code over the sample's (which doesn't exist). [Its README tells you where to put your Secret](https://github.com/microsoft/BotFramework-WebChat/blob/master/samples/12.customization-minimizable-web-chat/README.md#L86). I don't recommend starting with that sa

[2019-11-06 16:22] mdrichardson commented on #5668
Closing, since we covered this [here](https://github.com/microsoft/botframework-sdk/issues/5663#issuecomment-550096199)

[2019-11-06 16:22] #5668 closed

[2019-11-06 18:28] stevengum commented on #5669
This will go out in R7.

[2019-11-06 18:41] Amokstakov commented on #5663
@mdrichardson
This did not fix my issue - I am not sure why it is closed

[2019-11-06 18:43] mdrichardson commented on #5663
@Amokstakov What is your issue, now? By implementing everything I suggested, it will fix all of your issues.

[2019-11-06 18:45] Amokstakov commented on #5663
@mdrichardson

my issue is that when I integrate my chatbot into my web chat (website) via Iframe or Direct Secrety, the ChatBot does not work until a user sends a message in the chatbot.

In the Azure Portal, when inside the Test Channel the ChatBot automatically sends the expected welcome message when it realizes a user is there, not needing the user to send an initial message.

But even now, wh

[2019-11-06 18:49] Amokstakov commented on #5663
<img width="955" alt="screen_shot" src="https://user-images.githubusercontent.com/53410236/68327803-09f26480-009c-11ea-8d0e-9f8e5f36bf0f.PNG">

Please see attached images. The one above is what I see in any instance of when the ChatBot is integrated,

and the second image below is how it reacts after i send a message. The first two "Welcome.." is expected to be prompted right when the user trigger

[2019-11-06 18:50] mdrichardson commented on #5663
You may have just missed [this comment](https://github.com/microsoft/botframework-sdk/issues/5663#issuecomment-550096199), then:

[2019-11-06 18:54] Amokstakov commented on #5663
Hi,

I just implemented that same sample and switched the code and still same issue:

see attached. The only difference is now I see a "Channel-Data" on the bottom.

<img width="955" alt="screen_shot_3" src="https://user-images.githubusercontent.com/53410236/68328290-feec0400-009c-11ea-867e-b7b7d290018e.PNG">

[2019-11-06 18:55] mdrichardson commented on #5663
Please copy/paste your index.html (remove your secret, first)

[2019-11-06 19:06] Amokstakov commented on #5663
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Web Chat: Inject data on post activity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>

    <script src="https://unpkg.com/simple-update-in/dist/simple-update-in.production.min.js"></script>
    <style>
      h

[2019-11-06 19:11] Amokstakov commented on #5663
BTW,

Here is a sample of what is happening in my Test channel.
These messages happen automatically
<img width="434" alt="screen_shot_4" src="https://user-images.githubusercontent.com/53410236/68329507-5ee3aa00-009f-11ea-922e-f460975301f2.PNG">

[2019-11-06 19:13] mdrichardson commented on #5663
I think you may have gotten your samples mixed up for the welcome message. You should be using [this](https://github.com/microsoft/BotFramework-WebChat/tree/b0c803e5722bd8859b5891c6165d55aa8405ed96/samples/15.d.backchannel-send-welcome-event#completed-code):

[code]

[2019-11-06 19:19] Amokstakov commented on #5663
@mdrichardson
Thank you for the incredible help and work. Worth all appraisal for this.
resolved and fixed.

Best!

[2019-11-06 19:21] mdrichardson commented on #5663
😁 Glad you got it working! And I understand your confusion:

1. "Test in Web Chat" and Emulator don't always operate like the `iframe` (this will be fixed as the updated iframe code starts rolling out to everybody)
2. There are *a lot* of Web Chat samples

[2019-11-06 19:21] #5663 closed

[2019-11-07 07:21] PrasadG193 commented on #1214
@sgellock is there any plan to support Go Lang in the future releases?

[2019-11-07 14:37] sgellock commented on #1214
@PrasadG193 Unfortunately, we do not have the Go language SDK work planned at this time.

[2019-11-07 18:33] ylluminate commented on #1214
What is stopping it @sgellock?

[2019-11-07 23:30] Kaiqb commented on #5363
@gabog - are you planning to update this workitem for Python in R7?

[2019-11-07 23:39] sgellock commented on #1214
customer interest hasn't been strong.  it's not been zero, but we haven't had the level of customer interest that has caused a priority change for us.

[2019-11-08 21:59] Stevenic opened #5671 "DCR: create a new "internal" memory scope for storing system properties"
## Issue
Dialogs currently store all of their system state within the "dialog" memory scope which means there's a very real risk that a developer could accidentally add a property to "dialog" scope that overrides this system state.

## Proposed change
In talking to @tomlm we believe that the easiest solution would be to add a new "internal" memory scope that helps isolate system variables from dev

[2019-11-09 02:26] Sakshams opened #5672 "Directline API is failing with 403 and Site disabled message"
API calls to :
https://directline.botframework.com/v3/directline/conversations   and
https://directline.botframework.com/v3/directline/tokens/generate have suddenly started failing.

It was all working fine till yesterday and have started failing now.

[2019-11-09 03:00] Sakshams commented on #5672
There was no change in Secret Key from our end. Is there a status page for Directline API Health.

[2019-11-11 07:14] SreekanthOAuth opened #5673 "Inconsistent bot response in Teams channel"
To get help with an issue with your bot
* When we say **'hi'**, it should reply the welcome card as per our flow (which is working fine in Webchat channel). But it's giving different cards and seems this is getting cached.

Need your assistance on this.

Please let me know if you need more details on this.

Thanks,
Sreekanth

[2019-11-11 16:24] sgellock commented on #5673
@Virtual-Josh at the very least we're probably going to need to make sure customer understand how to use Sidecar debugging in the Emulator so they can test against the teams environment.

[2019-11-11 16:26] sgellock commented on #5672
@Sakshams there was a partial Azure outage on Friday which caused service disruption.  This was resolved later in the afternoon, Seattle time.  service availability has been restored.

[2019-11-11 16:26] #5672 closed

[2019-11-11 18:09] JonathanFingold opened #5843 "Add supporting email channel data types"
**Is your feature request related to a problem? Please describe.**
There is no clear and concise contract for what email channel data is supported, what's required, what's optional, whether inbound and outbound email channel data is symmetrical. The [documentation on this](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-channeldata?view=azure-bot-service-4.0#create-a-custom-email-me

[2019-11-11 18:14] gabog commented on #5363
+ @axelsrz, hi Axel, are you planning to write docs as part of Python R7 support for testing dialog?

[2019-11-11 18:19] axelsrz commented on #5363
If we have an equivalent doc for C# and JS, yes.

[2019-11-11 20:27] Nitin2392 opened #5674 "Embed Bot repeats question after every answer"
We have an enterprise bot framework codebase set up in .NET and hosted on Azure. There are multiple embed chatbots conversing with the above deployed instance.

There was an issue recently reported from one our users that questions were being repeated after the answers like so:

![image](https://user-images.githubusercontent.com/3441046/68618219-dbf39280-0496-11ea-8a9e-624944ebe85c.png)

The above

[2019-11-11 20:40] Kaiqb commented on #5363
@axelsrz - we do have C# and JS docs. You can see it [here](https://docs.microsoft.com/en-us/azure/bot-service/unit-test-bots?view=azure-bot-service-4.0&tabs=csharp). Do you plan to have additional namespaces to support the testing approach outlined in the topic?

[2019-11-12 11:31] dnyati commented on #3087
Is this applicable for SDK 4 as well?

[2019-11-12 19:15] Virtual-Josh commented on #5673
Hi @SreekanthOAuth,

There's a couple of things to know.

First, you can use the [Bot Framework Emulator](https://github.com/Microsoft/BotFramework-Emulator/releases/tag/v4.6.0) to debug your bot within Teams. In the Emulator you can go to "Help"-> "Get started with channels (Bot Inspector)" to see the instructions for how to set it up.

Second, the Emulator will work as documented within a one-to

[2019-11-12 20:14] v-kydela commented on #5674
Hi @Nitin2392 - When you said "embed chatbot," do you mean a Direct Line client UI that's embedded in your website?

The issue appears to be that your client polls the Direct Line activities endpoint and interprets an old message sent by the user as a new message sent by the bot. It will be hard to diagnose the problem more specifically without seeing your client code, but would you go ahead and t

[2019-11-12 21:15] EricDahlvang commented on #5337
I've been using the following code to test recognizer library changes in dotnet:
[BotBuilderPrompts-Recognizers-Tests.zip](https://github.com/microsoft/botframework-sdk/files/3838229/BotBuilderPrompts-Recognizers-Tests.zip)

Run it once while referencing one version of the recognizer's libraries in Microsoft.Bot.Builder.Dialogs, to create baseline files.  Run it a 2nd time against different versio

[2019-11-12 21:36] pojdrovic commented on #4833
I am getting errors like this _all the time_ over the past few days on the twilio and telegram channel. Some messages go through fine and get a response back in the roughly 0.5 seconds it usually takes, but every few messages, i'll get a gatewaytimeout error like the guys above me, and it will persist for a few minutes. Then, all the responses will arrive to the user at the same time. Almost as if

[2019-11-12 21:37] pojdrovic commented on #4833
<img width="649" alt="Screen Shot 2019-11-12 at 4 36 44 PM" src="https://user-images.githubusercontent.com/10575273/68712891-a6b87480-056a-11ea-9a01-781802cdccc4.png">
This screenshot shows the error results I get back from the app log stream

[2019-11-12 21:38] pojdrovic commented on #4833
And the delay _always_ happens when context.sendActivity(message) or it's dialog counterparts are called. @vincec-msft

[2019-11-12 23:41] pojdrovic commented on #4833
<img width="656" alt="Screen Shot 2019-11-12 at 6 34 04 PM" src="https://user-images.githubusercontent.com/10575273/68720006-e176d880-057b-11ea-8985-2184830cfb75.png">
<img width="647" alt="Screen Shot 2019-11-12 at 6 34 17 PM" src="https://user-images.githubusercontent.com/10575273/68720007-e176d880-057b-11ea-88b0-1a69f65c29a9.png">
Sometimes I see the following behavior as well. I know that the

[2019-11-13 04:14] SreekanthOAuth commented on #5673
Hi @Virtual-Josh, we don't see any issue in Emulator. Here Bot is working as expected.
The only place where we are seeing the issue is in Teams Channel.

Thanks,
Sreekanth

[2019-11-13 17:32] Virtual-Josh commented on #5673
I need you to give me a full overview of what you're doing in order to figure out what's wrong. Here are some initial questions I'm particularly interested in.

1. Are you running this bot in a 1:1 chat, group chat, or team chat?
2. How did you install the bot in Teams?
3. Are you using one of our Samples, or is this your own code?

Alternatively you can view the base sample we have for Teams ([C#

[2019-11-15 11:44] RohanSaini commented on #4768
I tried this but still signin card not working. Can any one help how to get token on Teams channel.
As I want to use some graph API's but signin card is not wroking.

[2019-11-15 16:53] #5453 closed

[2019-11-15 17:14] EricDahlvang commented on #5619
Related: https://github.com/microsoft/botframework-sdk/issues/5293

[2019-11-16 17:13] EricDahlvang commented on #5673
Hi @SreekanthOAuth

Teams Bots will receive a conversationupdate event when the user first adds the bot for 1:1 chat, or the bot is added to a team. Not when new conversations are created in the team or a team member messages the bot. If the welcome message is sent from ConversationUpdate's OnMemberAdded: it will not fire in Teams at the same times as it does in the emulator.

WebChat and the Emul

[2019-11-17 02:57] tiger5226 commented on #1214
How can we as customers make our interests known via the proper channels?

[2019-11-18 04:52] EricDahlvang commented on #4768
Does the Teams manifest contain: validDomains: [ "token.botframework.com" ] ? I've missed this before...

https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/authentication/add-authentication#install-and-test-the-bot-in-teams

[2019-11-18 05:17] EricDahlvang commented on #5619
Related: https://github.com/microsoft/botbuilder-dotnet/issues/2370

[2019-11-18 05:53] stevengum commented on #5647
@mdrichardson, once the Resource Provider support is in, can you add unit tests to your PR? If you need help let me know!

[2019-11-18 09:18] dnyati commented on #4222
I am facing error There was an error sending this message to your bot: HTTP status code NotFound. I have deployed Bot in local IIS. Configured in Azure. Testing with ngrok . App Id & App Password is configured same as Azure setting configuration.  Bot works well with Emulator but not with Axure Test in Web Chat . am I missing anything.?

[2019-11-18 10:08] Wei-Lin-D commented on #1073
Still can't unfurl URL now.
Tried to use Incoming WebHooks to send message contains a link to Google docs, only url shows without preview.
While copying the same URL manually and send via slack, the preview shows up.

[2019-11-18 12:01] SreekanthOAuth commented on #5673
@EricDahlvang - Sorry for the late reply.

Ok. Let me give some more details about it.

We have Virtual Assistant and custom skills. When a user request for something, the flow goes from Virtual Assistant to respective skill. Inside skill, there is dc.endDialog() method in complete(). This function is getting executing as expected in Emulator, Webchat and SMS channels. But based on our analysis, t

[2019-11-18 13:13] amistry79 commented on #4774
How can we fix this issue with bot (VA and Skill) which was developed using typescript? We dont see below method support in the typescript library.

context.Done<bool>(true);

[2019-11-18 13:19] amistry79 commented on #5673
I see this issue which discuss similar issue and it workaround in C#bot however we need workaround for typescript bot.

https://github.com/microsoft/botframework-sdk/issues/4774

[2019-11-18 17:08] Virtual-Josh commented on #5673
Hey @gabog since we are now talking about skills can you take a look at this ticket to help resolve?

[2019-11-18 17:25] Virtual-Josh commented on #5673
Hey @SreekanthOAuth,

I'm going to move this issue over to the botframework-solutions repo since the core problem is the VA/Skills routing.

[2019-11-18 21:04] Kaiqb commented on #5629
@yochay - we are going to start the investigation in R7, and will wrap up the work in R8.

[2019-11-18 23:24] axelsrz commented on #5363
This is already in master branch, the new library is botbuilder-testing https://github.com/microsoft/botbuilder-python/tree/master/libraries/botbuilder-testing

[2019-11-19 02:16] AdamSobieski opened #5675 "Scenario: Opinion Polling"
## Introduction
I would like to describe an important scenario for the Microsoft Bot Framework SDK: virtual opinion pollsters. I would also like to share these ideas with the bot developer community.

While implementing virtual opinion pollsters may be possible with the current version of the Microsoft Bot Framework SDK, I would like to request features for and support for the scenario.

## Virtua

[2019-11-19 06:53] VidishaPasupuleti opened #5676 "Unable to authenticate through bot without magic code - Bot Framework V4"
On launch of the bot, it is prompting for authentication with a sign in card when using Oauth prompt in bot framework V4. Once the user clicks on sign in button, a magic code is being generated and the user is able to login only upon entering the magic code. Need a way to authenticate without generating the magic code.

[2019-11-19 11:54] d60ht2 commented on #4768
I'm a novice bot developer and I had a similar issue to @Sean0885,  @madhukarchaure04  and @Emod94 using OAuth login in bot framework sdkv4 inside Teams.
The prompt box would show but then immediately close The solution was to implement the OnTeamsSigninverifyStateAsync method inside my bot - similar to [here](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/46

[2019-11-19 14:42] EricDahlvang commented on #5619
Related: https://github.com/microsoft/botbuilder-dotnet/issues/614

[2019-11-19 18:57] Kaiqb commented on #5363
Thanks! We'll pick this up in R8.

[2019-11-20 00:47] v-kydela commented on #5676
Hi @VidishaPasupuleti - you are describing channel-specific behavior. What channel are you using?

[2019-11-20 04:30] VidishaPasupuleti commented on #5676
I am using directline.

[2019-11-20 04:31] VidishaPasupuleti commented on #5676
@v-kydela I am using directline

[2019-11-20 04:31] VidishaPasupuleti commented on #5676
Hi @v-kydela I am using directline

[2019-11-20 08:49] dnyati commented on #2232
Is it still the issue? I am facing same issue for ActionTypes.Show Image not showing image.

[2019-11-20 20:35] EricDahlvang commented on #2232
Hi @dnyati

This is a closed issue.  Please open a new issue, or ask a question on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework)

I don't think any channels support ActionTypes.ShowImage

[2019-11-20 23:18] v-kydela commented on #5674
@Nitin2392 - Are you still working on this?

[2019-11-21 23:38] carlosscastro opened #5677 "Skills: Traceability of messages"
Currently there is no way of knowing the app id that originated the message in a skills scenario. The goal of this issue is to design a coherent action plan for supporting of traceability of messages. Even though most of our infrastructure is designed for host - skill pairs, ideally the design should not block longer call chains (with more than 2 bots) from being implemented in the future.

Curren

[2019-11-21 23:39] v-kydela commented on #5676
@VidishaPasupuleti - Okay, but are you using Web Chat or your own custom Direct Line client?

[2019-11-22 00:51] EricDahlvang commented on #5675
Hi @AdamSobieski

This is a great idea!  Bots are definitely well suited for opinion polls.  Polly is a great example: https://www.polly.ai/microsoft-teams  It is built on the Microsoft Bot Framework.  The Samples repository also provides a rudimentary example of how to create a poll in a Messaging Extension: https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/53.

[2019-11-22 03:58] AdamSobieski commented on #5675
Thank you for sharing the example and sample. It appears that software built on the Microsoft Bot Framework SDK, such as [Polly](https://www.polly.ai/), are ready to scale to provide surveys for cities, states and nations.

For purposes of discussion, some brainstorming:

## Authoring Surveys

Beyond designing sequences of questions, one can envision flowcharts or other visual diagrams of question

[2019-11-22 18:14] scheyal commented on #5233
According to @garypretty this is more challenging that initially thought. Per previous discussions, we decided to start with docs, and PowerBI guides/template. Docs will land in R7. Any further work should move to R8.

[2019-11-22 19:23] EricDahlvang commented on #5337
Closing this, since we have a manual 'acceptance testing' plan (see above).  We certainly could make this more automated, but the nature of the issue itself does seem to require a level of human acceptance or rejection of results.

[2019-11-22 19:23] #5337 closed

[2019-11-22 20:02] EricDahlvang commented on #5619
Related: https://github.com/microsoft/botframework-sdk/issues/5396

[2019-11-24 01:37] AdamSobieski opened #5678 "Software Interoperation and Automation"
## Controlling Software Applications

There are a number of interesting scenarios to consider with respect to a general-purpose interoperation between dialogue systems and other software applications and services.

**Scenario 1:** We can consider interoperation between dialogue systems and [CAD](https://en.wikipedia.org/wiki/Computer-aided_design)/[CAE](https://en.wikipedia.org/wiki/Computer-aided

[2019-11-25 05:25] Ganesamurthy commented on #5231
Hi @yochay,
It would be great, If you could please provide an update on this. Specifically in terms of Adaptive dialog and Luis telemetry with LUIS recognizer for preparing PBI reports mentioned in Virtual assistant template(https://microsoft.github.io/botframework-solutions/solution-accelerators/tutorials/view-analytics/1-intro/)
Related to https://github.com/microsoft/BotFramework-Composer/issue

[2019-11-25 17:32] #5450 closed

[2019-11-25 19:03] Nitin2392 commented on #5674
Hey @v-kydela. I apologize for not following up on this. I was pulled into a few other important things.

To answer your question -> yes, the "embed chatbot" is a Direct Line Client UI that's embedded in one of our websites.

I tried calling the Get Activities API with one of the conversationId but I keep getting an error response (though I am using a conversationId that was generated via the di -

[2019-11-25 19:13] benbrown commented on #5678
Hey Adam -- These are interesting ideas! You should see what you can achieve with the current SDK and let us know!  The web chat component in particular would allow you to send and receive events between the bot and external pieces of software (at least on the web)

You might consider contributing anything you build to the community repo which houses a collection of plugins and extensions from thi

[2019-11-25 19:13] #5678 closed

[2019-11-25 19:15] benbrown commented on #5676
@VidishaPasupuleti We need an answer to the question above to get to the bottom of this. Can you follow-up?

[2019-11-25 19:57] Nitin2392 commented on #5674
Also, it seems like the issue is happening when I generate the DirectLineToken. It works perfectly fine when I generate the token - POST @ `https://directline.botframework.com/v3/directline/tokens/generate` with the body have a `user: { id: }` marked to a legit enterprise ID while the repeating of question happens when I mark it with a GUID for instance.

I don't sense a code smell here because 1)

[2019-11-25 22:02] sgellock commented on #5502
We're starting the work on this in R7.  We are not tracking to have enough of these done for public consumption until R8.

[2019-11-25 22:07] sgellock commented on #5451
this work is tracked in the individual language repositories

[2019-11-25 22:07] #5451 closed

[2019-11-25 22:33] v-kydela commented on #5674
@Nitin2392 - That's very strange. I do notice something odd about the way you're providing the user ID:

[code]

You're using C# string interpolation in a JavaScript object. This will surely throw an error, since JavaScript won't know how to interpret that dollar sign. Can you explain what you're doing here?

[2019-11-26 00:22] cleemullins commented on #5669
IN PR, tests are passing (per @stevengum )

[2019-11-26 00:23] cleemullins commented on #5667
PR is out, per @stevengum.

[2019-11-26 00:24] cleemullins commented on #5655
Punting due to dependency not being ready. The Resource Provider isn't yet deployed.

@DDEfromOR need to update the swagger files.

[2019-11-26 00:25] cleemullins commented on #5627
Done!!

[2019-11-26 00:25] #5627 closed

[2019-11-26 00:28] cleemullins commented on #5619
@tomlm, we need to define success for this. Can you assist with that?

[2019-11-26 00:28] cleemullins commented on #5592
@gabog, how is this looking for R7?

[2019-11-26 00:29] cleemullins commented on #5503
@carlosscastro (Per Scott) Sync w/ scott for a more complete picture of what this is.

[2019-11-26 00:30] cleemullins commented on #5466
Not actionable.

[2019-11-26 00:30] #5466 closed

[2019-11-26 00:31] cleemullins commented on #5442
@mdrichardson  Let's sync on this. Can we ship this in R7?

[2019-11-26 00:34] cleemullins commented on #5135
Closing, as we no longer generate from swagger files.

[2019-11-26 00:34] #5135 closed

[2019-11-26 00:35] cleemullins commented on #5098
We need to close on a plan, then figure out what work to do...

[2019-11-26 00:40] sgellock commented on #5237
We're going to resolve this as won't fix.  per Steve's comments above

[2019-11-26 00:40] #5237 closed

[2019-11-26 13:10] zharikovartem opened #5679 "Registration of new bots for skype"
I need to create a Skype bot, but registration of new bots was terminated.

In this regard, I have several questions:

Will an alternative technology for automatically sending messages to classic skype (No skype for business) be provided?

will registration of new bots be renewed, if so how soon?

is it possible to register a bot as an exception? Since it is extremely important for the further dev

[2019-11-26 16:02] mdrichardson commented on #5442
@cleemullins We can sync in person, but the short version is that for now, it's out of my hands so I can't give a straight answer. The tests rely on the Slack channel, which I think should stay because testing against a 3rd party channel seems like a good idea for this. In order to programatically add the Slack channel to the nightly test bot, which gets recreated on each run, there need to be som

[2019-11-26 16:32] Amokstakov opened #5680 "ChatBot Calendar Card not showing up on mobile - Scaling issue"
Hi all,

I have an issue regarding my ChatBot. I am using WebServices, and everything has been deployed. I am using the ChatBot and everything is working correctly on my staging site, and on the test, however when we use the functionality of the chatbot on mobile, during the Calendar waterfall stage - the calendar does not show up.

See attached images.

Any help would be seriously appreciated. I

[2019-11-26 17:26] mdrichardson commented on #5679
I apologize, but Skype is being deprecated. Please [follow the docs to migrate to Teams](https://docs.microsoft.com/en-us/microsoftteams/upgrade-and-coexistence-of-skypeforbusiness-and-teams). Note that it isn't just being deprecated on the Bot Framework, but is being deprecated for [all of Microsoft](https://docs.microsoft.com/en-us/microsoftteams/upgrade-start-here#when-should-my-organization-up

[2019-11-26 17:26] #5679 closed

[2019-11-26 17:34] benbrown commented on #5680
Hi @Amokstakov  - When you say "on mobile", can you provide us the OS and browser you are using to load the bot?

[2019-11-26 19:06] benbrown commented on #5680
Can you also send the Adaptive card JSON and the web chat version you are using? Thanks.

[2019-11-26 19:59] zharikovartem commented on #5679
The fact is that in my country 99% of the business of correspondence occurs through classic Skype. Change is extremely difficult. 100 contacts is enough for almost all needs.

[2019-11-26 20:01] mdrichardson commented on #5679
@zharikovartem I'm sorry. It's not up to me or even the Bot Framework. This is a Microsoft decision.

[2019-11-26 20:04] zharikovartem commented on #5679
Can you tell me how you can contact Microsoft to resolve this issue?

[2019-11-26 20:08] mdrichardson commented on #5679
@zharikovartem There is *no* resolution. Skype services are being deprecated. The only thing that can be done about it is to migrate to Teams.

[2019-11-26 20:11] zharikovartem commented on #5679
Teams do not give the opportunity to generalize to Skype classic

[2019-11-26 20:13] mdrichardson commented on #5679
@zharikovartem Correct, which is why your users will also need to migrate to Teams.

[2019-11-26 20:15] zharikovartem commented on #5679
We are talking about large wholesale companies whose communication is completely built on Skype. If they will switch it is likely to telegram.

[2019-11-26 20:34] mdrichardson commented on #5679
Unfortunately, nothing can be done about continuing support for Skype or Skype for Business. The [upgrade documentation](https://docs.microsoft.com/en-us/microsoftteams/upgrade-plan-journey) does a really good job about walking you through the process of migrating. Most bots developed for Skype should also work in Teams without many changes. In fact, bots are *mostly* channel-agnostic and cross-co

[2019-11-26 21:31] gabog commented on #5592
I think it will be OK, we had some changes we made updates with @tomlm and @Stevenic, I will push them to the new location in the SDK repot next week.
@carlosscastro is also working on getting the manifest published to scema.botbuilder.com.

[2019-11-26 22:21] AdamSobieski commented on #5678
Thank you. I'm looking at the source code of the current version of the SDK presently. I think that I can prototype the aforementioned concepts utilizing sockets for platform-independent inter-process communication between dialogue systems and other software applications.

That prototype would include two software applications. The first would be a dialogue system or bot which would be able to fun

[2019-11-27 03:49] EricDahlvang commented on #5679
Some have created bots using ucwa

https://github.com/kenakamu/UCWABot

This is not an officialy supported option, but might help to unblock.

[2019-11-27 10:56] zharikovartem commented on #5679
Is it possible in UCWABot to create a bot for classic Skype? Without receiving access tokens on the azure portal.

[2019-11-27 18:19] AkshatTR commented on #1822
Is there any update on this? Basic info of user like email should be available so that a user who is already been authenticated to log in into Teams doesn't have to authenticate again. @siduppal @dandriscoll

[2019-11-27 19:34] Amokstakov commented on #5680
Hi!

@benbrown

Sorry for my delayed answer.

Mobile: on mobile telephone
OS: Iphone
Browser: Chrome and Safari

JSON:

    "type": "AdaptiveCard",
    "actions": [{
        "type": "Action.Submit",
        "id": "submit",
        "title": "Submit"
    }],
    "body": [
        {
            "type":"TextBlock",
            "weight":"bolder",
            "text":"Please pick a date for your mortgage

[2019-11-27 22:44] v-kydela commented on #5674
@Nitin2392 - Are you still working on this?

Possibly related: https://stackoverflow.com/questions/59060524/bot-duplicates-user-messages-when-i-use-directline-channel

[2019-11-28 05:46] VidishaPasupuleti commented on #5676
@v-kydela @benbrown  We are using Webchat.

[2019-11-28 09:17] Skaaapi opened #5681 "Azure AD Auth make the bot fail"
Hi,

I tried to add **Authentification App Service** on my bot **App Service** :
![image](https://user-images.githubusercontent.com/42973489/69792847-aa353800-11c7-11ea-971e-a123c8bb872e.png)

I'm used to do those auths for many other apps but bots.

What is the issue :
  - If I disable the App Service Authentication, the bot is working fine.
  - If I enable the App Service Authentication, the bot

[2019-11-29 11:06] attilabalazsy commented on #3512
We are facing the same issue while creating a teams app. The returned teamId is the same as channel id. Is there any way go get the groupId, what could be then used in Graph API to query the team?

[2019-11-29 14:33] Amokstakov commented on #5680
@benbrown any updates?

[2019-11-29 14:33] Amokstakov commented on #5680
bump

[2019-11-29 17:37] EricDahlvang commented on #3512
@attilabalazsy I believe the Team Id and General Channel id are the same by design.  If you are using the latest sdk and the bot is installed in the Team, you can call `TeamsInfo.GetMembersAsync`  to retrieve the Team members.  Please refer to this sample: https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/57.teams-conversation-bot/Bots/TeamsConversationBot.cs#L9

[2019-11-29 18:17] v-kydela commented on #5676
@VidishaPasupuleti - There are some potential solutions outlined in this thread: https://github.com/Microsoft/BotFramework-WebChat/issues/1238

1. [Have you tried using a Direct Line token instead of a Direct Line secret?](https://github.com/microsoft/BotFramework-WebChat/issues/1238#issuecomment-433310068)
2. [Is the user's browser set to block 3rd party cookies?](https://github.com/microsoft/Bot

[2019-11-30 22:24] EricDahlvang commented on #5675
These are all great ideas!

If you develop a library, please consider contributing to the Bot Builder Community repository:
https://github.com/BotBuilderCommunity/

[2019-11-30 22:24] #5675 closed

[2019-12-02 01:14] v-kydela commented on #5676
@VidishaPasupuleti - Are you still working on this?

[2019-12-02 04:57] VidishaPasupuleti commented on #5676
@v-kydela Hi, I am working on it. I will try out the links that you have shared.
Thanks.

[2019-12-02 16:52] benbrown commented on #5680
Hi @Amokstakov, thanks for sending this info.

We'll investigate this and get back to you ASAP.

[2019-12-02 16:59] cwhitten commented on #5680
@Amokstakov can you give us some additional details for diagnosis?

1. How are you hosting the WebChat control?
2. Are you using the embed from the Azure Portal or self-hosting the React component? If the latter, what version of WebChat are you using?
3. In your mobile environment, which platform and browser are you using? Is is issue appearing on all mobile platforms?

[2019-12-02 18:51] jwiley84 commented on #5681
HI @Skaaapi!

Sorry for the delayed response.
While that particular setting seems like it would be the place to input OAuth flow for a bot (as it would for another app), it actually sets your azure bot service behind an inaccessible auth service. This is why you're getting a 'Failed to send (401)' error. If you are intending to set up OAuth for the users of your bot, please follow this tutorial:

[2019-12-02 19:00] Nitin2392 commented on #5674
@v-kydela The code snippet I shared was from a C# source, not JavaScript so the interpolation works fine.

[2019-12-02 19:25] Amokstakov commented on #5680
@cwhitten
Thank you for your reply.

1) I don't understand - hosting? It is running through the Azure Portal.

2) We are using the code from this former issue to embed the ChatBot:
https://github.com/microsoft/botframework-sdk/issues/5663
@mdrichardson  reply is what we went with, his last one.

3) this is appearing on all forms of mobile devices, such as Iphone/Android. Using and tested on chrome

[2019-12-02 20:04] vishwacsena commented on #5277
[Bot Framework Composer](http://github.com/microsoft/botframework-composer) is now in public preview and offers a visual canvas that brings together Language Understanding, Dialog, Language generation and more. Please check it out and continue to share your feedback/ issues on that repo.

[2019-12-02 20:04] #5277 closed

[2019-12-02 21:52] v-kydela commented on #5674
@Nitin2392 - This is not valid C#:

[code]

Perhaps it will make sense if I see the code around it. Can you please provide some more context?

[2019-12-02 22:15] mdrichardson commented on #5629
@Kaiqb This is what I have so far. Having trouble adding Kik and GroupMe to my bot for testing.

# Channel Support by Card Type

| Channel | Adaptive Card | Animation Card | Audio Card | Hero Card | Receipt Card | Signin Card | Thumbnail Card | Video Card |
|:-------:|:-------------:|:--------------:|:----------:|:---------:|:------------:|:-----------:|:--------------:|:----------:|
|Cortana|✔|❌|

[2019-12-03 04:59] Amokstakov commented on #5680
@benbrown any updates?
Sorry for push - this is for a launch and is being pushed from third party.

[2019-12-03 16:40] tdurnford commented on #5680
@Amokstakov I'm not able to reproduce this issue. The Adaptive Card you added above appears to work fine with the latest version of Web Chat using Safari and Chrome on an iPhone. What version of Web Chat are you using and do you have any additional customizations that might be changing the behavior?

**Web Chat v4.6.0 - Safari**
![Untitled](https://user-images.githubusercontent.com/17039790/700704

[2019-12-03 16:42] Amokstakov commented on #5680
@tdurnford

Thank you for your reply.
How do I check the particular version? I believe it is SDK 4.0 ?

Is there any other information in terms of hosting that I can supply to you to help with the diagnoses?

[2019-12-03 18:35] tdurnford commented on #5680
Adding your Web Chat code would be helpful.

[2019-12-03 18:58] Nitin2392 commented on #5674
@v-kydela  My bad. I didn't mean to indicate the exact code. I was referring more to the pseudocode.

Here's a quick snippet of how I create the DirectLineToken. It's a WebAPI

[code]

[2019-12-03 19:01] Nitin2392 commented on #5674
Here, `userId` is passed as a queryParam to the API call. If I set it to some random id, the token generated causes the question to repeat after the answer. If we, however, send a valid enterprise id (say - `v-kydela@microsoft.com`), it works perfectly

[2019-12-03 21:52] cleemullins commented on #5582
Currently blocked on PR #1461

[2019-12-04 00:20] Kaiqb commented on #5629
Looks great!

[2019-12-04 00:37] v-kydela commented on #5674
@Nitin2392 - I've looked into the Direct Line source code and I've discovered that there is a case when a user ID will behave differently when not prefixed by `dl_`, but the difference is that the API call will throw a 400 error. This only happens when Direct Line recognizes your site as secure, but can you check anyway to see if the `tokens/generate` endpoint is returning an error code? You haven

[2019-12-04 00:44] Kaiqb commented on #5317
This issue is tracked [here](https://github.com/microsoft/botframework-sdk/issues/5629)

[2019-12-04 00:44] #5317 closed

[2019-12-04 07:47] youyu16 commented on #5629
@mdrichardson LINE channel does support herocard, audiocard and also can convert adaptercard to image. do you meet any issue?
![image](https://user-images.githubusercontent.com/17819112/70123126-f7744680-16ac-11ea-922e-19292a084ac0.png)
![image](https://user-images.githubusercontent.com/17819112/70123163-0824bc80-16ad-11ea-8126-2195e2f9a00e.png)
![image](https://user-images.githubusercontent.com/1

[2019-12-04 16:35] mdrichardson commented on #5629
@youyu16 I get an error when sending a fairly simple adaptive card with input (below) in both the mobile and desktop apps. I'll mark it as partially supported.

I only don't mark the audio card as fully supported because it won't play in-app, so it works more like a link.

Good call on the Hero card, however. My mistake.

---

[code]

[2019-12-04 22:51] Kaiqb commented on #5629
Merged the changes into master branch. Live site should have the update in an hour.

[2019-12-04 22:51] #5629 closed

[2019-12-05 05:18] Annabelle7989 commented on #5472
Hi..this is not working ..It says the bot encountered an error..after displaying INPUT1 in cardstepasync

namespace EchoBot.Dialog
{
    public class AdaptiveDialog : ComponentDialog
    {

        public static IStatePropertyAccessor<(string CardId, string ActivityId)> CardStateAccessor { get; internal set; }

        public AdaptiveDialog(UserState userState) : base(nameof(AdaptiveDialog))

[2019-12-05 09:45] attilabalazsy commented on #3512
@EricDahlvang , thank you for your feedback. Based on it, we have realized, that we are using the old V3 bot framework as Microsoft still has this sample on the getting started page. We will update then our app to the new framework and will try your suggestion.

[2019-12-05 15:06] Nitin2392 commented on #5674
In my case though, I am not sending a `dl_` userId and yet receive a token that behaves properly. And no, there is no additional error handling we are doing. We just use the DL Token returned to start a conversation with the bot.

I'll try the `GetActivities` API again and update this thread.

[2019-12-06 00:26] CoHealer opened #5686 "Bot Framework R7 Release Checklist"
## Package 4.7.0-rc0

## Package Location
https://botbuilder.myget.org/gallery/botbuilder-v4-dotnet-daily
https://botbuilder.myget.org/gallery/botbuilder-v4-js-daily
https://botbuilder.myget.org/gallery/botframework-cli
https://test.pypi.org/project/botbuilder-core

## GitHub Updates
**Create New Branch** @cleemullins
- [x] C# (https://github.com/Microsoft/botbuilder-dotnet/tree/4.7)
- [x] JS (htt

[2019-12-06 02:16] youyu16 commented on #5629
@mdrichardson For LINE submit action is partially supported. it is because if card converted to an image, input can't be use, exception throw because get null data when convert submit action to the real channel message.
give it a default data should fix the issue.
[code]

[2019-12-06 11:06] manikantam007 opened #5687 "Teams BOT with V4 -> Send Notifications to other MS Teams members with Conversation starts"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2019-12-06 17:43] clearab opened #5688 "The README.md has not been updated"
## Issue
The README.md has not been updated (says the current version is 4.5, and that 4.6 is in preview)

## Proposed change
Update to reflect the current version. Might make sense to wait until 4.7 at this point.

## Tracking Status
**Dotnet SDK**
- [ ] PR
- [ ] Merged

**Javascript SDK**
- [ ] PR
- [ ] Merged

**Java SDK**
- [ ] PR
- [ ] Merged

**Python SDK**
- [ ] PR
- [ ] Merged

**Emulator*

[2019-12-07 21:46] #5680 closed

[2019-12-07 21:49] Amokstakov opened #5689 "Bot Analytics Not Working - 403 Error"
I have a WebChat Bot configured to a Website.
Everything is connected properly and tested through Test Channel etc.

However through the Azure Portal, when I click the Analytics tab - I get:
Retention - Error 403  - [Object object]
Users - Error 403  - [Object object]
Activity - Error 403  - [Object object]

Am i doing something wrong or have the wrong configuration?
Please let me know!

[2019-12-08 03:36] AdamSobieski opened #5690 "Automated Planning, Dialogue Systems and Natural Language Generation"
## Introduction

I am excited to be developing with the Microsoft Bot Framework and am hoping to share some ideas and feature requests. Perhaps these ideas and feature requests could be of use for future versions of the Microsoft Bot Framework.

## Automated Planning, Dialogue Systems and Natural Language Generation

Automated planning can be of use for dialogue systems and natural language genera

[2019-12-09 07:58] Annabelle7989 opened #5691 "Is it possible to send messages to microsoft teams user from external source."
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) where there is a robust community to help you

To file an issue against a component please go to the components repo
* [Create Azure Bot Framewor

[2019-12-09 08:00] Annabelle7989 commented on #5691
I have a MS teams bot . Now, I need to introduce this to users. So, the bot should be able to send messages to set of specific users introducing itself in Microsoft Teams . I have list of people in database. Now, is it possible to send messages to all of them in teams . have a database consisting of 5 users,now the bot should send mails to all of them introducing itself in teams.now, the bot admin

[2019-12-09 11:10] IonutArhire opened #5692 "How to subscribe to the refresh token event"
The problem is that I need to be able to subscribe to the token refresh event and I can't figure out how.

I know people advise on subscribing to connectionStatus$ and handling the ConnectionStatus.ExpiredToken case, but the execution never enters that case when refreshing happens, it only enters that case when I try to initialize the bot with an expired token.

The token refresh event is getting

[2019-12-09 16:29] mdrichardson commented on #5692
Closing as duplicate of [this SO question](https://stackoverflow.com/questions/59247586/how-to-subscribe-to-the-refresh-token-event), which is a more appropriate forum for How-To questions.

[2019-12-09 16:29] #5692 closed

[2019-12-09 18:31] dmvtech commented on #5689
Hi @Amokstakov, nothing jumps to mind off the top of my head.

May I ask how you created the bot? Did you create it from the portal (`Web App Bot `or `Bot Channels Registration`) or did you create and provision it from your development machine and use `az` cli to create/deploy? What language does the bot run in (is it Node, TypeScript, C#, etc).

[2019-12-09 18:58] jwiley84 commented on #5691
I see you've open this same issue [here](https://stackoverflow.com/questions/59242506/is-it-possible-to-send-messages-to-microsoft-team-from-external-channel). I'm going to close this as a duplicate, as Stack Overflow is the preferred channel for asking 'how-to' questions, and a member of the MS Teams team is engaging you in assisting with this.

[2019-12-09 18:58] #5691 closed

[2019-12-09 20:42] jwiley84 commented on #5687
Hi @manikantam007 !

The Bot Framework team prefers that 'how-to' questions be asked on Stack Overflow, using the 'bot framework' tag.

That being said, there's an official doc from the Teams team [here](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-proactive-messages) on how to send proactive messages. Additionally, there is a small handful of people on S

[2019-12-09 20:42] #5687 closed

[2019-12-10 17:26] anusharavindrar commented on #5676
@VidishaPasupuleti are you still working on this? Is your issue resolved?

[2019-12-11 06:27] stevengum commented on #5669
Closed via Azure/azure-cli#11318.

[2019-12-11 06:27] #5669 closed

[2019-12-11 06:28] stevengum commented on #5667
Closed via Azure/azure-cli#11318.

[2019-12-11 06:28] #5667 closed

[2019-12-11 07:49] Annabelle7989 commented on #2944
@DamienDoumer how to initiate conversation for 1:1 user, the blog is for sending in a group

[2019-12-11 18:12] Nitin2392 commented on #5674
@v-kydela @anusharavindrar  - I am closing this issue for now. I'm planning to inspect the entire conversation flow and identify potential hotspots which might lead to the issue since you've mentioned that the `userId` value shouldn't matter.

I'll update this thread if something comes up. Thank you for your assistance. Appreciate the help.

[2019-12-11 18:12] #5674 closed

[2019-12-11 18:44] prm113 commented on #1600
We are seeing the same exception. The same project works in one instance of Azure and it does not work in another instance.
Exception: System.Reflection.AmbiguousMatchException: Multiple custom attributes of the same type found.
   at System.Attribute.GetCustomAttribute(Assembly element, Type attributeType, Boolean inherit)
   at Microsoft.Rest.ServiceClient`1.get_FrameworkVersion()
   at Microsof

[2019-12-11 19:49] EricDahlvang commented on #2944
@Annabelle7989 This sample demonstrates creating 1:1 conversations for members of a team https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/57.teams-conversation-bot/Bots/TeamsConversationBot.cs#L94

[2019-12-12 08:03] Annabelle7989 commented on #2944
@EricDahlvang No..The members should not be part of a team. I have to send a individual message to 5 people who do not have any team in common.

[2019-12-12 09:20] ajayputti commented on #4282
I cannot see the paperclip option on teams to upload a file. This is one-one chat with the bot. Any ideas?

[2019-12-12 16:54] EricDahlvang commented on #4282
@ajayputti The manifest must have `'supportsFiles': true` as demonstrated in this sample: https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/56.teams-file-upload/TeamsAppManifest/manifest.json#L32

[2019-12-12 17:10] EricDahlvang commented on #2944
I haven't tried this, but presumably an Admin could install the app for the users.  At which point the bot should receive an OnTeamsMembersAdded and the bot should be able to message the user in the event handler.

Here is an example of using Graph to add an App for a user: https://github.com/microsoftgraph/contoso-airlines-teams-sample/blob/283523d45f5ce416111dfc34b8e49728b5012739/project/Models/

[2019-12-12 18:07] CoHealer commented on #5681
Closing, no response in 10 days

[2019-12-12 18:07] #5681 closed

[2019-12-12 18:32] anusharavindrar commented on #5676
Closing the issue due to no response. Feel free to reopen if you have need to get this resolved.

[2019-12-12 18:32] #5676 closed

[2019-12-13 10:02] sachin07 opened #5695 "Custom Data error in Micrrosoft Bot Service"
Hi All,

I am facing an issue while hitting the below url of Direct Line API:

https://directline.botframework.com/v3/directline/conversations/Conversationid/activities

Header i am passing :
 token

Body

{
    "type": "message",
    "from": {
        "id": "user1"
    },
    "text": "hello"
}

but i am getting below error

{
  "error": {
    "code": "MissingProperty",
    "message": "Missing 'Ac

[2019-12-13 16:05] jwiley84 commented on #5695
Closing this as a duplicate of [here](https://stackoverflow.com/questions/59320293/custom-data-error-in-microsoft-bot-service)

[2019-12-13 16:05] #5695 closed

[2019-12-14 16:04] sgellock commented on #5690
@AdamSobieski thank you for the feedback.  There is work happening in this area and we've been looking at how it could help.  there has been active developer in this area, though we are not yet ready to product-ize it.  I've added the issue to our backlog for tracking.  feel free to engage further if you like, we appreciate it.

[2019-12-15 10:41] absinghal commented on #2539
Just want to put on record that facing exactly the same issue even in Bot framework 4.0.

[2019-12-16 20:50] dmvtech commented on #5689
hi @Amokstakov Just checking in. Still having issues/needing help? If so, can you help me by sharing more information?

[2019-12-17 12:32] vidyakdil opened #5698 "Identifying the conversation entry point of the bot"
I've a bot using the **MS bot framework& hosted in Facebook** which is also embedded in a website in form of a messenger chat plug in. As a part of getting analytics I **need to know the conversation entry point of the bot**(as we have multiple user entry points for Facebook) - i.e, **whether bot is chatting from
(a) desktop facebook messenger
(b) facebook web
(c) messenger app in mobile phones
(d

[2019-12-17 17:32] dmvtech commented on #5689
Let us know if you still need assistance on this.

[2019-12-17 17:32] #5689 closed

[2019-12-17 19:05] a-b-r-o-w-n commented on #5698
@vidyakdil Thanks for opening an issue. For questions like this, you will get a better and quicker response on stackoverflow.

cc @stevkan

[2019-12-17 19:05] #5698 closed

[2019-12-18 21:12] compulim opened #5699 "DCR: Timestamping both bot and user activities"
## Issue

(Including @swagatmishra2007. We talked about this offline. But I believe this is less likely to require a fix on the channel side.)

Today's characteristics:

- Activities could arrive at the client at pseudo-random order
   - Given U1 is the activity from user, B1 and B2 is the first and second activity from bot
   - The order usually is: B1, B2, U1. Instead of U1, B1, B2.
   - Sometim

[2019-12-19 00:30] EricDahlvang commented on #5699
Won't this still be an issue if the bot code is scaled sideways, or processing messages asynchronously?

[2019-12-19 04:12] compulim commented on #5699
- Sideways: yes, but less likely than today.
   - Given 2+ bots, there will still be race conditions between: U1 -> B1 -> B2 and U2 -> B3 -> B4. U1 thread and U2 thread can still race against each other and U2 appear before U1. But inside the thread, they won't, i.e. it must be U1 -> B1 -> B2 but never in any other order
- Asynchronously: I assume you are talking about U1 -> B1/B2, which B1 and B2

[2019-12-20 06:59] Chekrii opened #5700 "[Ms Teams][C#] - MessageReaction- Unable to get the text for which User has reacted to the bot message"
##Unable to get the text for which User has reacted to the bot message

- Whenever a user reacts to the Bot response, we are unable to get the message for which the user has reacted.
-We are just getting "Like or Laugh" when user reacts but not the message.
-Can we get the message in any other way like Graph API?

Thanks.

[2019-12-20 17:46] Amokstakov opened #5701 "BotFramework Handoff to Cisco UCCX"
Hi,

Quick question regarding a future project.
Is it possible to have an option with the dialog of the ChatBot to hand off the existing state of the conversation to an actual human - connected via Cisco UCCX?

[2019-12-22 18:42] Amokstakov opened #5703 "Analytics to show where conversation dropped off in BotFramework"
Hi -
I have integrated analytics via the Azure portal but I am looking if there is a metric or something of sort to let us know when the conversation within the ChatBot has dropped off.

Essentially - what point in the conversation did the user interacting with the ChatBot stop or exited out of the application.

Please let me know what steps to take or if this is even possible.

[2019-12-23 18:57] dmvtech commented on #5703
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2019-12-23 18:57] #5703 closed

[2019-12-23 18:58] dmvtech commented on #5703
There is no way to do this with any current turnkey solution.

You can use the Application Insights [TrackEvent()](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-exceptions#custom-tracing-and-log-data) method.

Make sure you have your application insights setup correct. See [our sample](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/21.coreb

[2019-12-24 14:40] guilhermecaixeta commented on #5594
Has some prevision about this implementation?

[2019-12-26 20:56] clearab commented on #5688
Bump - the README is now two versions out of date.

[2019-12-30 19:28] vishwacsena commented on #5701
@arturl can you comment?

[2019-12-30 19:30] #5686 closed

[2019-12-30 20:15] dmvtech commented on #5689
I did some more poking around. This is because the `instrumetation key`, `api app ID` or `api key` are incorrect/mismatched. Let me know if you need help finding which one maps to where.

![image](https://user-images.githubusercontent.com/43397658/71598980-d3662280-2afd-11ea-9095-11ff455e8870.png)

[2020-01-01 19:41] dmvtech commented on #5703
Ok, I dug in a bit more and found a little more. If you impliment the appinsights/telemetry stuff per the sample I linked, it uses the class [TelemetryLoggerMiddleware ](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder/TelemetryLoggerMiddleware.cs)

Here you can see that it does tracing in the methods `OnReceiveActivityAsync`, `OnSendActivityAsync`, `OnUpd

[2020-01-02 04:15] prateekiiest commented on #1006
@erlendw I guess you are looking into some sort of this https://stackoverflow.com/questions/56573792/using-botframework-emulator-or-bots-hosted-remotely-without-internet-connectivit along the line?

[2020-01-02 20:01] Ky7m commented on #4312
@JasonSowers as an option, you can try to install an app for the user and try to get chat to trigger **memberAdded** event. Sample https://github.com/OfficeDev/msteams-sample-contoso-hr-talent-app/blob/master/TeamsTalentMgmtApp/src/TeamsTalentMgmtAppV4/Services/GraphApiService.cs#L43

[2020-01-02 20:27] EricDahlvang commented on #4312
@Ky7m also, we do now provide a sample demonstrating how to query the roster, and message members: https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/57.teams-conversation-bot/Bots/TeamsConversationBot.cs#L103

[2020-01-02 22:04] arturl commented on #5701
Hi @Amokstakov, we're in the process of designing a solution for the next release of the SDK. So far, we have an experimental prototype available [here](https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/handoff-library). The eventual solution in the product may differ, but that's where our current thinking is.

The goal of the work is to standardize the developer experience

[2020-01-03 12:26] alokraj68 commented on #1600
Hi, @prm113 this issue was there in v3 of the chatbot. I hope you are using v4 right now. It will be great to post this question in V4 repo since most people here are not associated with V4.

[2020-01-06 16:19] Amokstakov commented on #5703
Hi @dmvtech ,

I am still a little confused on this - In terms of actually logging the information or primarily showing where it drops off - how can I implement this?

Should I follow the sample you linked in the previous post or follow your most recent post?

I am currently using my Bot, made from BotFramework, and it has one dialog flow which encompasses the conversation which eventually leads t

[2020-01-06 17:36] dmvtech commented on #5703
Hey @Amokstakov

Sorry for the confusion. I'm still learning some of this myself.

In terms of logging/tracing; you if you use or impliment the `corebot-app-insights` sample, then it will trace those events mentioned above (`OnReceiveActivityAsync`, etc). You don't _need_ to implement the tracing in this manner (using the `TelemetryInitializerMiddleware `/`TelemetryLoggerMiddleware`), but this is

[2020-01-06 18:42] stevengum opened #5704 "[ARM, Azure CLI] Configure new webapp bots to have WebSockets enabled by default via ARM"
## Issue
The WebApp bots created via the Azure CLI already have the webSocket code, but the setting `"webSocketsEnabled"` on the AppService is not configured.

## Proposed change
Update ARM templates in Azure CLI with same changes as per this commit: https://github.com/microsoft/BotBuilder-Samples/commit/5d9b26b25a56d8875701a047c71aee6e056e3afc.

[2020-01-07 15:09] Amokstakov commented on #5701
@arturl
Thank you for your reply!

Are you able to speak on specific information regarding Cisco UCCX with the sample that you linked?
As to where the connection needs to be built within the sample or what needs to be modified to build the potential solution?

[2020-01-07 17:38] stevengum commented on #5655
Update: we're still waiting for step 1 to be completed.

[2020-01-07 18:23] Amokstakov opened #5706 "How to add Telemetry Insights to bot using Javascript/Node.Js"
Hi all,

This is stemming from one previous issue I posted regarding how to get Chat Logs from a ChatBot conversation (as in where does the conversation end, when does a client leave from the convo, what is the human user sending to the bot, etc..)

I know now that I require Telemetry insights for the bot, but following this link:
https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tele

[2020-01-07 18:39] amitkadu commented on #5371
I faced similar issue, issue with Luis configuration, follow below steps.
MANAGE>Application Information>Make endpoint public
Check this option and make your endpoint public.

[2020-01-07 19:29] scheyal commented on #5706
Hi @Amokstakov,
We are aware of this gap, and have a work item to update the documentation for JS. We will update this issue once we have more details.
Thank you for the report.

[2020-01-07 23:12] sgellock commented on #5690
@AdamSobieski we're evolving our dialog stack to address the planning aspect you've raised.  We have, in public preview, Adaptive Dialogs that were designed to address some of the planning issues you've raised.  I would encourage you to look at this work and provide feedback as you feel fit.

[2020-01-07 23:12] #5690 closed

[2020-01-08 01:17] musheer-ally commented on #3801
@jagadeeshmarthy Is the carousel working as expected in ms-teams ?

[2020-01-08 19:33] gabog commented on #5591
This one is not needed based on the latest implementation, closing it

[2020-01-08 19:33] #5591 closed

[2020-01-08 19:34] gabog commented on #5599
This one is not longer required based on the latest implementation, closing it.

[2020-01-08 19:34] #5599 closed

[2020-01-08 19:38] gabog commented on #5588
This one is backed into each one of the other skill issues when needed, closing it.

[2020-01-08 19:38] #5588 closed

[2020-01-08 19:53] gabog commented on #5596
This is address through the values parameters that can be passed to a skill, closing this one.

[2020-01-08 19:53] #5596 closed

[2020-01-10 07:10] rajeshnagendra opened #5710 "Microsoft bot framework - Bot channel Registration. Unable to save the recorded video from skype to Azure storage account"
For the Microsoft Bot framework chatbot application that I am working on, I have configured the "Bot Channel Registration" and have hosted it on Azure.

One of the scenerio expects the user to record a video on skype and send it as an answer. I have an Azure function that saves the recorded video from skype to the Azure Storage account.

The issue I am encountering is, When i record a video on sky

[2020-01-10 08:20] jous commented on #4536
@wi-hrmun @lunyi,
You need to generate Skype Group Chat Id somehow. If you have already created the group, you can get it's id by using skype web and looking at the requests with developer tools. This answer worked for me: https://stackoverflow.com/a/58405033/481918

[2020-01-10 18:40] v-kydela commented on #5710
@rajeshnagendra - The Skype channel configuration contains the following message:

Regardless, I need to understand whether your problem has anything to do with the Bot Framework. You say:

Then you say:

Then you say:

It's unclear what you're saying the problem is. Is the video getting uploaded to Azure storage or not? Are you unable to access the file yourself or is it only inaccessible to the

[2020-01-10 19:18] v-kydela commented on #5710
In the future, please make sure you link to all relevant posts: https://stackoverflow.com/questions/59676756/microsoft-bot-framework-bot-channel-registration-unable-to-save-the-recorded

[2020-01-11 10:33] rajeshnagendra commented on #5710
Hi Kydela,

Thank you  for responding.

As I am building a bot using Microsoft bot framework, I have mentioned it here.

The bot app is configured to access via skype (with bot channel registration on azure).
While the similar scenario on webchat is allowing to upload video successfully, its failing in skype.
The issue here is that, after the file enters the queue, it doesn't succeed to upload, in

[2020-01-11 10:54] rajeshnagendra commented on #5710
Adding another link

https://social.msdn.microsoft.com/Forums/en-US/18badabe-2f3c-4988-83a7-8d1ed6c8c6ee/bot-channel-registration-unable-to-save-the-recorded-video-from-skype-to-azure-storage-account?forum=csharpgeneral

[2020-01-13 18:04] v-kydela commented on #5710
@rajeshnagendra - I still don't understand what you're doing or why, or what's going wrong. You're saying you can upload a video in Web Chat? You mean you're just attaching a prerecorded video, right? That's different from Skype, where I presume you're using the video message button or something:

![image](https://user-images.githubusercontent.com/41968495/72279927-0aebc900-35ec-11ea-90d8-987dcb52

[2020-01-15 06:51] rajeshnagendra commented on #5710
Hi Kydela,

I will follow up on this issue on Microsoft Azure forum. As this  forum is dedicated to bot framework, I prefer closing this issue here. In case of any queries, I shall get back to you. Thank you very much for your precious time.

[2020-01-15 06:51] #5710 closed

[2020-01-15 06:53] rajeshnagendra commented on #5710
Your understanding here is correct. I am recording a video on skype's video recording option.

[2020-01-15 13:29] PrasadG193 commented on #1214
Hi folks,
We have started developing unofficial Bot Framework SDKs for Go (as we need this on priority for [BotKube](https://www.botkube.io)). Any PRs, feedback or reviews are welcome.

https://github.com/infracloudio/msbotbuilder-go

[2020-01-15 18:28] dcaterinicchio opened #5711 "Issue: Manifest Name not reflect by Bot Recipient"
Hello, there seems to be an issue when utilizing the Bot framework from a Personal Teams Chat.  The Activity object that is returned with the message is not displaying the name field under the Recipient object as the name given in the Team Apps Manifest file.

[2020-01-15 18:51] plooploops opened #5712 "Directline / Web Chatbot - Generated ARM Template adds Channels which cause an error when redeploying from az cli to a new RG"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) where there is a robust community to help you

To file an issue against a component please go to the components repo
* [Create Azure Bot Framewor

[2020-01-15 19:07] Virtual-Josh commented on #5711
Forward along to Andrew

[2020-01-15 19:55] clearab commented on #5711
Hi - My apologies, but I'm not sure what exactly you're referring to. Would you mind sharing an example of the JSON, and highlight the deviation?

[2020-01-15 20:01] dcaterinicchio commented on #5711
`"name": {
    "short": "ChatBot",
    "full": "Development ChatBot"
  },`

This is the section inside the manifest.json for the Teams App, where you set the short and full name.  The Activity Object that gets passed to the bot however does not reflect this in the Recipient Name.

[2020-01-15 20:13] clearab commented on #5711
The recipient name in the Activity object should map to the name in the bot channels registration, not the Teams app manifest. Typically it is recommended that you use the same name in both places.

[2020-01-15 20:15] dcaterinicchio commented on #5711
Gotcha, I must have misunderstood this.  Thank you!

[2020-01-15 20:15] #5711 closed

[2020-01-16 01:06] isoindisystems opened #5713 "BotState wont be saved or serialized"
Hello!
I´m using bot framework v4.7.1 and built a facebook messenger bot.
The problem is, that suddenly my bot is not persisting the userprofile states anymore.

After I modified the data I save it as follows:

[code]

Well, after that the file that is being generated on my Azure Blob Storage is truely a null storage:
[code]

The bot is saving nothing, and I can't explain it, no exceptions, no err

[2020-01-16 22:38] dmvtech commented on #5713
@isoindisystems This was working up until some point? No changes recently? So, it's still writing to the Blob Storage, but the values are null. Is there anyway to check the values before getting saved to state (i.e. are you able to debug via ngrok or log/track this stuff via application insights)? Does this **_only_** happen for the Facebook?

[2020-01-17 21:49] arturl commented on #5701
Please stay tuned, we're going to update the handoff library and publish more supporting docs soon.

[2020-01-18 01:50] clearab opened #5714 "Add GET single member endpoint"
## Issue
Often bots need to:
- Check if a person is part of a particular conversation
- Gain additional information about a person in a conversation when the bot only has an ID

Right now the only way to handle this is to retrieve the entire set of members for the conversation, then search through them for the person you're looking for. For large teams) this becomes prohibitively expensive.

## Pr

[2020-01-21 04:41] jayant93 opened #5715 "Bot stops responding after a few hours(Slack) framework -jbot"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2020-01-21 15:53] Amokstakov opened #5716 "Connecting Microsoft BotFramework to Azure SQL Server in JS/Node?"
Hi all,

I have Bot Framework application - fully functioning and deployed.
Spun up an Azure SQL Server, simple configurations.

I want to push .log files from the application containing conversation data to the Azure SQL Server but I see no resource tho show how this is done on samples page for JS.

I have connection string - just need direction on how to do so on JS/Node.

Thank you

[2020-01-21 16:59] gabog commented on #5601
Already worked with PVA on this, closing this issue

[2020-01-21 16:59] #5601 closed

[2020-01-21 17:01] gabog commented on #5597
This no longer applies, closing

[2020-01-21 17:01] #5597 closed

[2020-01-21 17:24] mdrichardson commented on #5716
@Amokstakov You should be able to use [the MSSQL package from the community repo](https://github.com/BotBuilderCommunity/botbuilder-community-js/blob/master/libraries/botbuilder-storage-mssql/README.md).

We don't have SQL storage built-in to the SDK. If you want to use a storage adapter in the SDK (Cosmos or Blob), you can [Write Directly to Storage](https://docs.microsoft.com/en-us/azure/bot-ser

[2020-01-21 17:24] #5716 closed

[2020-01-21 17:53] v-kydela commented on #5715
Hello @jayant93 - the instructions you need to follow are already in your post. Since this repo "is not for asking questions or filing bugs" I will need to close this issue. If you need help with your bot, please ask a question on Stack Overflow.

[2020-01-21 17:53] #5715 closed

[2020-01-22 08:04] srinathms007 opened #5717 "Adaptive card issue in Microsoft Teams after integration"
On clicking on Action.Submit of  type ActionSet in the Adaptive card using Microsoft Teams.
Submitted Content doesn't get populated in the Teams.
Whereas when i did those with emulator and webapp , content is populated.

Example:If i click on P Service submit button below.
P Service is poplulated in the Emulator but whereas in Teams its not

Json for adaptive card:

[code]

PS:Screenshot attached

[2020-01-22 17:45] upendra1588 commented on #4768
hi @mark-szabo , I am facing same issue in virtual assistance template, Oauth card authentication is working in webchat and emulator but it is not working in teams. i followed all above mentioned steps. could you please help me to resolve this issue. thanks in advanced.

[2020-01-22 17:45] v-kydela commented on #5717
@srinathms007 - Your JSON was malformed, but I've done by best to fix it.

When you say content is "populated," it looks like you might mean a message activity is sent to the bot, and/or a message is displayed in the conversation history. In any case, I can see that you're trying to use "string submit actions" like I've described in my blog post: https://blog.botframework.com/2019/07/02/using-adap

[2020-01-22 23:36] CoHealer commented on #5713
@isoindisystems, do you still require assistance?

[2020-01-23 07:12] srinathms007 commented on #5717
Thanks alot ,also i need this to work for other Services too(Such as WebChat) not just with Teams
Would this implementation suffice as shown below have any consequences ?

{
                     "type": "Action.Submit",
                     "title": "Purchase Services",
                    **"data": "Purchase Services",
                    "data": {
                              "msteams": {

[2020-01-23 19:06] Virtual-Josh commented on #5706
The PR to address this is in progress. @garypretty please confirm.

[2020-01-23 19:29] v-kydela commented on #5717
@srinaath - Your JSON was malformed again, so I've tried to fix it again. Please do try to post valid and formatted JSON in the future.

There's no way to put a string submit action in an Adaptive Card that will work the same way in both Web Chat and Teams. So I can think of three options for you:

1. Use the activity's channel ID to send the action differently in Web Chat and Teams
2. Use the act

[2020-01-23 20:15] dmvtech commented on #5713
I am closing this as no movement is happening. Please reopen if you still need assistance.

[2020-01-23 20:15] #5713 closed

[2020-01-23 20:48] garypretty commented on #5706
Thanks @Virtual-Josh.

@Amokstakov The PR to add the JS sample for telemetry was merged today.  The JS sample can be found at https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/21.corebot-app-insights.  This sample is based on the core bot sample, which means you should be able to see just the changes required to wire up telemetry.  Take a look and if you are hit

[2020-01-24 05:48] EricDahlvang commented on #4768
Hi @upendra1588

I'm sorry but, Teams does not support the OAuth Card.  This is why the OAuthPrompt creates a SignInCard when on the Teams channel: https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPrompt.cs#L313

[2020-01-24 06:14] KoushikGoramane opened #5720 "How to create manifest file for the bot?"
How to create the manifest file for the 46.teams-auth sample and how manifest file will be differs from one code to another?

[2020-01-24 07:53] srinathms007 commented on #5717
@v-kydela .Thanks a lot for the solution.

Also i had another query?Some of the Adaptive cards are not rendered in MSTeams where as it works well on Web chat.

Adaptive card as the one below throws an error in MSTEAMS-

{
    "type": "AdaptiveCard",
    "version": "1.0",
    "body": [
        {
            "type": "Container",
            "items": [
                {
                    "type": "T

[2020-01-24 11:35] sandeepjagtap commented on #3602
Hi @ouadie-lahdioui what solution worked for you. We want to retry message in case when we get Http response 429 too many requests while sending message.

[2020-01-24 16:50] v-kydela commented on #5717
@srinathms007 - While Web Chat supports Adaptive Cards 1.2, Microsoft Teams officially only supports Adaptive Cards 1.0. This means you cannot use newer features like `Action.ToggleVisibility`, but you can use `Action.ShowCard` instead.

I'm closing this issue since it has been resolved. If you have more questions, please ask them on [Stack Overflow](https://stackoverflow.com/).

[2020-01-24 16:50] #5717 closed

[2020-01-24 18:49] v-kydela commented on #5720
Hello @KoushikGoramane

When you created an issue in this repo, you were given the following information:

If you want to submit a bug or a feature request about a sample then you can use [the samples repo](https://github.com/microsoft/BotBuilder-Samples/issues/new/choose), but you'll notice on that page as well that the repo is not for asking questions. Please ask your question on Stack Overflow

[2020-01-24 18:49] #5720 closed

[2020-01-25 11:21] Kadae commented on #3220
Hahaha, 100500 years of this issues exists and Microsoft still closing eyes on this.

[2020-01-28 11:36] garypretty commented on #5706
@Amokstakov Closing this issue now that the sample is available - please re-open another issue or reach out if you are struggling to implement telemetry in node.  Doc updates to follow in the near future, but hopefully the sample solves your problem.

[2020-01-28 11:36] #5706 closed

[2020-01-28 17:54] clearab opened #5722 "Validation and XPlat interop testing"
We need to implement a testing scheme that covers at least the majority of potential combinations of parent/child bots.

**Phase 1:**
3 bots deployed each deployed 4x (once as parent, once as child, for gov and public cloud)
9 yaml files (one each for the combination of bots)
1 yaml files to orchestrate

Priority order of types of things to send
- message - P0
- dialog - P1
- event - P1
- invoke -

[2020-01-28 17:56] clearab opened #5723 "Skill Dialog"
## Overview
The SkillDialog provide the ability to integrate a Skill in a parent bot dialog stack (e.g. a skill can be invoked as part of a waterfall in the parent bot).

### Requirements
1. The dialog should work with Composer
2. Needs to bind to memory to be used with adaptive
3. The dialog should take input parameters and send them to the skill
4. The dialog should handle return values returned

[2020-01-28 17:59] clearab opened #5724 "Add POCO classes for skills manifest parsing"
## Overview
Provide POCOs to read and create manifests
I should be able to read a manifest and validate it.
I should be able to create a manifest and save it.
It should support different manifest versions.

## Tracking Status
**Dotnet SDK** (Tracked in [3312](https://github.com/microsoft/botbuilder-dotnet/issues/3312))
- [ ] PR
- [ ] Merged

**Javascript SDK** (Tracked in [1638](https://github.com

[2020-01-28 18:01] clearab opened #5725 "Ping activity (PVA P1)"
https://microsoft.sharepoint.com/teams/BotFrameworkSDKTeam/_layouts/OneNote.aspx?id=%2Fteams%2FBotFrameworkSDKTeam%2FShared%20Documents%2FSkills%2FSkills%20Notes&wd=target%28R8.one%7CBED1F401-66C5-4D9B-B8E2-405178175816%2FR8%20work%20items%7C6D9F500D-D1A5-4D70-97F9-581C3094CD26%2F%29
onenote:https://microsoft.sharepoint.com/teams/BotFrameworkSDKTeam/Shared%20Documents/Skills/Skills%20Notes/R8.one#

[2020-01-28 18:09] clearab opened #5726 "I can develop skills in Emulator without an app password"
## Scenario
As a developer, I need to be able to test by skill as a skill (not a stand alone bot) from the emulator without registering an app Id/password).

## Background
Several sections of the bot framework code need to know if the activity being process is in a consumer bot or a skill bot. The code uses the claims extracted from the auth header to determine this and that requires that the cons

[2020-01-28 19:49] stevengum commented on #5712
@plooploops can you send me the ARM template over email or Teams so I can see the entire template?

I tried reproducing the issue with an empty RG and was unable to do so (Used `az group deployment create`).

Trying to use `az deployment create` just resulted in errors due to being unable to find the RG of `'<null>'`.

[2020-01-29 00:37] clearab opened #5728 "Test 1"

[2020-01-29 00:39] #5728 closed

[2020-01-29 01:41] #5725 closed

[2020-01-29 19:29] arturl commented on #5701
Hi @Amokstakov, we will not support specific engagement hubs out of the box. Instead, we're defining the protocol that bot developers and system integrators can use to support specific applications. Please see the updated readme [here](https://github.com/microsoft/BotBuilder-Samples/blob/master/experimental/handoff-library/README.md).

[2020-01-29 19:29] #5701 closed

[2020-01-29 19:38] lzc850612 opened #5736 "[Skill] Introduce a way to localize skill names"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently in VA implementation, there's a SkillSwitch

[2020-01-29 22:31] clearab opened #5729 "ConversationId microformat <channel_id>:<convo_id>:<invocation_id>"
After evaluating the security implications of different patterns for conversation ids in a skills context, we landed on using a microformat with the following structure:

<channel_id>:<convo_id>:<invocation_id>

where invocation_id could just be an incrementing number that gets generated after a new begindialog is invoked.

This will allow relevant validations in the token service and prevent from

[2020-01-29 22:59] infact commented on #4130
We are getting this error
POST to outbot-test-dev timed out after 15s
Problem Id:Microsoft.Bot.Schema.BotTimeoutException at Microsoft.Bot.ChannelConnector.BotAPI+&lt;PostActivityToBotAsync&gt;d__36.MoveNext

Any solutions ?

[2020-01-30 00:17] cleemullins commented on #5729
Closing, as this design was determined to be un-necessary.

[2020-01-30 00:17] #5729 closed

[2020-01-30 22:43] clearab opened #5730 "Skills Auth fails on Government cloud"
Consuming and calling skills registered in the azure gov cloud fails when authenticating the request.

Steps to repro.
1. Configure the SimpleBotToBot sample to use and Azure Gov AppID and Password (both projects).
2. Attempt to invoke the echo skill and the call will fail with the following exception:
System.AggregateException: Failed to acquire token for client credentials. (AADSTS700016: Applic

[2020-01-30 23:15] cleemullins commented on #5730
Java isn't relevant to the PR at this time, as we don't have Skills in Java quite yet...

[2020-01-31 16:53] gabog commented on #5592
The preview version has been published through https://github.com/microsoft/botframework-sdk/pull/5693.

VA is using this version and we will finalize it once we have more input from composer (a new issue will be created then).

[2020-01-31 16:54] #5592 closed

[2020-02-03 06:55] srinathms007 commented on #5717
Thanks Kydela.
Im also getting error-[onTurnError]: Error: Invalid image URI on some of the Adaptive cards in Teams
whereas it works fine in Webbot.
The adaptive card did not use any images etc

[2020-02-03 07:48] pssinghmar opened #5732 "How to get the utterance of a LUIS intent programmatically in NodeJS?"
In LUIS Model using C# class of **LUISAuthoringClient** we are able to get the utterance for a particular intent, but how to get the same or equivalent in NodeJS ?

[2020-02-03 17:02] jwiley84 commented on #5732
Hi @pssinghmar

I see that you've opened this exact issue [here](https://stackoverflow.com/questions/60034730/how-to-get-the-utterance-of-a-luis-intent-programmatically-in-nodejs). I'm going to go ahead and close this issue, as the bot framework team prefers that **How-To** questions be asked on stack overflow, and that github is limited to bugs and feature requests.

[2020-02-03 17:02] #5732 closed

[2020-02-03 17:40] v-kydela commented on #5717
@srinathms007 - You're commenting on a closed issue. Would you go ahead and post the faulty cards in a Stack Overflow question?

[2020-02-03 20:40] clearab opened #5733 "Adaptive Tahiti Prototype"
ning

[2020-02-03 20:45] clearab opened #5734 "JSON Schema definition for generated schemas"
This is needed in order to validate input schemas to the generator.

[2020-02-03 22:21] clearab opened #5735 "Skills can handle request/response from custom adapters. AKA the affinity problem."
Step 1: create a proposal (John T), reevaluate after proposal and costing
Step 2.0: Review with OBI
Step 2.5: review proposal with big rocks
Step 3: implement

## Tracking Status
**Dotnet SDK** (Tracked in [issue](https://github.com/microsoft/botbuilder-dotnet/issues/3430))
- [x] PR
- [x] Merged

**Javascript SDK** (Tracked in [issue](https://github.com/microsoft/botbuilder-js/issues/1780))
- [x]

[2020-02-04 18:01] JonathanFingold commented on #5723
@clearab @gabog , to support Teams bots/skills, does requirement 7 need to include invoke activities?

[2020-02-04 18:25] gabog commented on #5723
Not sure yet, the invoke is just request/response, a developer can use SkillClient to do this, a dialog doesn't help much (because is really single turn request/response) but I still trying to decide if we support it in SkillDialog or not

[2020-02-04 18:25] 2501-Liz opened #5737 "Bot greeting"
Hi, I created a bot, when I test it in Web Chat, it gives an automatically greeting, but I want to skip or edit the initial greeting.

![image](https://user-images.githubusercontent.com/60667243/73774302-9d3d4380-4738-11ea-83ca-e778295c8293.png)

That's the picture with the initial greeting, I want to change that.

[2020-02-04 18:51] #5650 closed

[2020-02-04 18:51] #5659 closed

[2020-02-04 18:51] #5584 closed

[2020-02-04 18:51] #5590 closed

[2020-02-04 22:07] clearab opened #5738 "Add supported channels to the Skills manifest"
Because there are channel-specific <things> a bot may do, it is important that a skill consumer be aware of the channels supported by the child bot.

An optional "targettedChannels" (maybe "supportedChannels"?) array should be added in the "propertiesSection". Potentially:

`
        "targettedChannels": {
            "type": "array",
            "uniqueItems": true,
            "description": "Li

[2020-02-05 08:46] v-madhal commented on #757
Hello,

I am having the similar case. I am having a BOT application which is being developed using Microsoft BOT Framework V3 and WebChat Framework V4. In one of the scenario where user sends a particular utterance say "I want to place an order" which goes to LUIS and then BOT replies user to choose some choice using PromptDialog.Choice(context,**choiceSelection**,message). E.g. "Home Delivery", "

[2020-02-05 09:16] Sandeepmahala opened #5740 "Services.AddTransient() Vs Services.AddBot()"
In the latest bot samples we can see that bot is being added to services collection as below
`services.AddTransient<IBot, MyBot>();`
but in older samples we saw below approach
`services.AddBot<MyBot>(options => { });`

Here I am trying to understand the benefits of adding bot using AddTransient() over using AddBot().
What I know is that internally AddBot uses AddTransient only, then why use AddTra

[2020-02-05 15:06] baki32 opened #5741 "Teams not rendering base64 encoded svg images."
Hi,
we were using just webchat for our bot but now extending to MS Teams. For some cards we are using base64 encoded svg images. When I tried adding our base64 image to Designer on adaptivecards.io and selected teams channel image was rendered correctly

![image](https://user-images.githubusercontent.com/22841494/73853146-b0cbd580-4830-11ea-9f6b-1611c83b41e7.png)

however when it get's deployed to

[2020-02-05 15:07] baki32 commented on #5741
Base64 JPEGs do work fine but we would like to stick to SVGs

[2020-02-05 17:42] mdrichardson commented on #5737
@2501-Liz You'll need to edit the bot code.

1. [Download the bot code](https://docs.microsoft.com/en-us/azure/bot-service/abs-quickstart?view=azure-bot-service-4.0#download-code)
2. Edit the bot code in VS Code or Visual Studio:
    * It looks like you used an Echo Bot. So, you'll need to go into `<yourBot>/Bots/EchoBot.cs` and remove [`OnMembersAddedAsync()`](https://github.com/microsoft/BotBuil

[2020-02-05 18:46] clearab commented on #5741
Hi - SVGs are not supported in Teams. Please see this for reference: https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#common-properties-for-all-cards.

[2020-02-05 18:51] v-kydela commented on #5740
Hello @Sandeepmahala and thank you for posting

I will go ahead and close this issue in GitHub so that we can follow up on [Stack Overflow](https://stackoverflow.com/questions/60074399/services-addtransient-vs-services-addbot/60082301)

[2020-02-05 19:12] #5740 closed

[2020-02-05 19:14] daveta commented on #5737
Thanks, please follow up on Stackoverflow

[2020-02-05 19:14] #5737 closed

[2020-02-05 22:33] dmvtech commented on #5741
@baki32 As this has been determined to be something that will not work or supported, I am closing this.

[2020-02-05 22:33] #5741 closed

[2020-02-10 09:05] marcasmar94 opened #5744 "[Interruptions] do not work when a child dialog is interrupted - 4.7.2 C#"
**Using V 4.7.2**

I have the following scenario:

- MainDialog
- HelpDialog (ComponentDialog - Waterfall)
- Dialog A   (ComponentDialog - Waterfall)
- Dialog B   (ComponentDialog - Waterfall)
- Dialog C   (ComponentDialog - Waterfall)

In my **MainDialog** i have an implementation of **OnInterruptDialogAsync** that checks if the user says "**Help**", we will start a **HelpDialog**

In my **OnInte

[2020-02-10 10:14] #5744 closed

[2020-02-10 19:40] clearab opened #5745 "Skills work with Adaptive Dialogs"
## SDK & Schema changes

### Tracking Status for SDK
**Dotnet SDK** (Tracked in [2324](https://github.com/microsoft/botbuilder-dotnet/issues/2324))
- [x] PR
- [x] Merged

## Composer changes (runtime + UI)

### Tracking Status for Composer
**Dotnet SDK** (Tracked in []())
- [ ] PR
- [ ] Merged

[2020-02-10 19:58] clearab opened #5746 "Skills work with DirectLine speech"

[2020-02-10 20:02] #5746 closed

[2020-02-10 23:42] cleemullins commented on #5738
Assigned to @scheyal for scoping and possible inclusion in R8.

[2020-02-10 23:56] clearab commented on #5738
This one is for me :)

[2020-02-11 00:00] cleemullins commented on #5425
Closing as not needed at this tim.e

[2020-02-11 00:00] #5425 closed

[2020-02-11 08:04] justinh00k commented on #2434
?

[2020-02-11 21:50] scheyal opened #5747 "Design Suggestion: Forward compatibility for declarative Json migration"
Consider how we can design for a smooth (or light tough) migration to V.Next for declarative models. For example, bake versioning awareness, with corresponding features for reduced rendering or support of multiple schemas.

Primarily ensure to avoid difficult migration paths from current to future versions.

(given the potential structure/schema sensitivity of composer->Json->Adaptive loader, it'd

[2020-02-12 01:06] #5733 closed

[2020-02-12 22:19] pschaeflein opened #5748 "Azure CLI error: authsetting show does not support spaces in connection name"
Using Azure portal, I can create and modify a connection that has a space in the name. With the CLI, I cannot.

Command attempted:

[code]

Error summary:

msrest.exceptions : Parameter 'connection_name' must conform to the following pattern: '^[a-zA-Z0-9][a-zA-Z0-9_.-]*$'.
cli.azure.cli.core.util : Unknown error during execution. Please file an issue on https://github.com/microsoft/botframework-s

[2020-02-13 00:03] cleemullins commented on #5634
@EricDahlvang  Can you dig into this and figure out what we should do?

[2020-02-13 00:14] EricDahlvang commented on #5634
@cleemullins If anything, i suppose we could mark CosmosDbStorage as deprecated with a pointer to CosmosDbPartitionedStorage.  But, I think we can just close this issue.

With the addition of the `compatibilityMode` flag, containers created with `CosmosDbStorage` can be used with `CosmosDbPartitionedStorage` (see links below)

For the V3 sdk, we will just be recommending users upgrade to the V4 sd

[2020-02-13 00:17] cleemullins commented on #5634
I like adding the depreciated / obsolete flag. Could you add that, and let our doc writers know so they can update the docs?

[2020-02-14 00:18] dandriscoll opened #5867 "Azure Bot Builder libs should support encryption"
The Microsoft.Bot.Builder.Azure libraries should support encryption of bot state. Specifically I am looking for:

1. Encrypt bot state with a key that I specify and control
2. Protect bot state PKs so they don't contain bare PII. For example, an SMS conversation ID includes a phone number.
3. Allow me to roll my encryption keys over time

[enhancement]

[2020-02-14 14:14] Edwardfelix08 commented on #2309
@fzoccara, Is their source code for the below mention tutorial.
EDIT: I've found this awesome tutorial:
https://mindofai.github.io/Bot-Framework-and-Xamarin.Forms-Application-Integration-using-DirectLineClientAPI/

And will this work for a bot built using TypeScript.

Thanks,
Edward

[2020-02-14 17:55] scheyal commented on #5233
We have a path, and we're targeting R8.
@garypretty - please correct if we're not on path for R8. (basic dashboard)

[2020-02-14 17:56] scheyal commented on #5231
This will more likely be an R9 deliverable.
Re-assigning to @vishwacsena

[2020-02-14 17:59] garypretty commented on #5233
@scheyal we plan to validate the technical  approach next week. Getting this ready for an R8 release might be challenging given we need to also define what's on the dashboard.

This can be released as soon as we are ready though (I.e. We don't need to wait for R9) as in the first instance we will make this available via Github / docs.

[2020-02-14 23:03] johnataylor commented on #5620
We could consider adding:

    public static class TeamsAttachmentLayout
    {
      public const string List = "list";
      public const string Grid = "grid";
    };

and

    public static class TeamsMessagingExtensionResultType
    {
      public const string Result= "result";
      public const string Auth= "auth";
      public const string Config= "config";
      public const string Message=

[2020-02-15 00:24] oolldimalloo opened #5749 "..."
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2020-02-15 09:56] cocoytech commented on #2105
Any sample documentation?

[2020-02-16 06:55] venkatesh143293 opened #5750 "Adaptive card images are not showing in MS Teams where as showing in emulator and webchat"
Adaptive card images are not showing in MS Teams where as showing in emulator and web chat.

below is my payload
{
  "type": "AdaptiveCard",
  "body": [
    {
      "type": "TextBlock",
      "size": "Medium",
      "weight": "Bolder",
      "color": "Accent",
      "text": "Rate your experience!"
    },
    {
      "type": "TextBlock",
      "separator": true,
      "text": "Please rate your expe

[2020-02-17 13:44] bhushanvadgave commented on #3122
@EricDahlvang @watadarkstar
I do not think sending the reply messages as proactive message for each incoming message is a good idea because your bot service has to then load the state from the storage twice (one to form the first turnContext in processActivity and second to form turnContext in adapter.continueConversation).

I tried below changes in my code to reduce API response time.

[code]

[2020-02-17 16:00] #5749 closed

[2020-02-17 16:00] dmvtech commented on #5749
No information.

[2020-02-17 17:38] mdrichardson commented on #5750
@venkatesh143293 Teams doesn't support SVG images. You could replace it with something [like this](https://icons-for-free.com/iconfiles/png/512/mark+opinion+rating+star+icon-1320191205647153700.png)

[2020-02-18 11:40] leonkyr commented on #4339
+1

[2020-02-18 18:34] stevengum opened #5751 "Audience and ConversationReference is required for Proactive Messaging non-channel recipients"
## Issue
In proactive messaging scenarios, bots may now message either a Channel or another bot.

For proactively messaging a channel, storing the ConversationReference is sufficient because the correct Audience (`"https://api.botframework.com"`) is hardcoded into the Botbuilder SDKs.

For proactively messaging another bot, the sender must store the ConversationReference and the correct Audience.

[2020-02-18 18:41] #5634 closed

[2020-02-18 19:04] EricDahlvang commented on #4339
Please refer to the documentation here: https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-proactive-messages?tabs=dotnet#obtain-necessary-user-information

Since this question was originally asked, other alternatives have been provided:

- By fetching the team roster from a channel your app is installed in. (sample here: https://github.com/microsoft/BotBuilder

[2020-02-18 20:07] Stevenic opened #5752 "CodeActions should more accurately model waterfall steps"
## Issue
While `CodeActions` look similar to waterfall steps there are some differences which prevent directly porting a waterfall step to a code action. Here are the key differences:
- To skip to the next step in a waterfall you call `step.next()` but for a code action you have to call `dc.endDialog()`.
- To end a waterfall dialog you call `dc.endDialog()` but to end a code actions dialog you hav

[2020-02-18 21:50] vishwacsena commented on #5231
Tracked via https://github.com/microsoft/botbuilder-dotnet/issues/2406

[2020-02-18 21:50] #5231 closed

[2020-02-18 23:31] vishwacsena commented on #5752
@Stevenic I like this proposal except for two pieces of feedback -
1. `cac.next()` - is this required? I understand for parity but do we need to use this? Said alternatively what happens if a code action does not return anything or does not call cac.next()? As much as we keep familiarity to waterfall, I would not want this to feel out of place for someone that is coming straight to adaptive. I pre

[2020-02-19 00:45] stevengum commented on #5751
https://github.com/microsoft/botbuilder-dotnet/issues/3386

[2020-02-20 02:49] shivani123singh commented on #1483
Even this help me . Really thanks a lot

[2020-02-20 15:03] LizMoreno commented on #2980
Hi, @nwhitmont I have error when wanting to show a video card in MS Teams
 MS Teams does not support video card yet?

[2020-02-20 17:53] EricDahlvang commented on #2980
Hi @LizMoreno

Video cards are not supported in Teams.  Please refer to the documentation here: https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#cards-not-supported-in-teams

[2020-02-21 00:47] johnataylor commented on #5620
We should also introduce a response factory pattern. The factory would create the appropriate nested structure with the appropriate "type" fields set. It is the multiply nested structure that we found to be excessively complex. This might eliminate some of the need for these constant. It would be best to see this work as part of that exercise.

Moving this issue to R9 and making the title more gen

[2020-02-21 00:50] johnataylor commented on #5620
We could introduce the response factory pattern in the samples before we move it into the product.

[2020-02-21 06:33] cleemullins commented on #5442
I'm not sure what to do here. Can we sync in person tomorrow. Closing for now, as this seems not-actionable.

[2020-02-21 06:33] #5442 closed

[2020-02-21 06:34] cleemullins commented on #5233
@garypretty Can you provide an update for this? IT's marked as R8, and seems like we need to make a decision.

[2020-02-21 06:36] cleemullins commented on #5619
Closing due to inactivity.

[2020-02-21 06:36] #5619 closed

[2020-02-21 06:43] cleemullins commented on #5688
Inspected all the readme files in the repos. Everything is up-to-date and current. Closing.

[2020-02-21 06:43] #5688 closed

[2020-02-21 06:44] cleemullins commented on #5502
@Zerryth Can you update this bug with current status and links? Let's get this pushed across the finish line!

[2020-02-21 09:58] garypretty commented on #5233
@cleemullins Whilst this work is happening in the R8 window, it isn't intrinsically tied to it as the dashboard, when ready, will go out initially with docs and be passed to ABS for possible integration with the 'new bot' experience in Azure. We would like to get the template done before R8 wraps, but this has a dependency on us also getting the design of the initial MVP of the dashboard completed

[2020-02-21 12:10] ARArun opened #5756 "Emulator un-responsive while trying to run locally the echo bot from sample"
![Capture](https://user-images.githubusercontent.com/26450729/75033563-36a67c80-54d1-11ea-9f69-78c9101b89d1.PNG)
'listening on http://[::]:52885'
why does the emulator try this. when all I am trying is available locally.

[2020-02-21 15:55] mdrichardson commented on #5442
@cleemullins Yeah, let's sync on this today. It's been more or less in limbo for awhile.

[2020-02-21 18:28] christopheranderson opened #5757 "[testing] Add SSO scenarios to sign off tests"
## Problem

Need to ensure we don't regress functionality of SSO scenarios between releases. These can be tricky to catch because of the numerous systems that need integrating, thus we don't have check in or nightly tests. Given that nightly runs for these are likely an R10 thing, sign off tests are a good stop gap.

## Scenarios

1. Host + SSO
2. WebChat + SSO

(Skills is out of scope for R8)

[2020-02-21 19:24] stevengum commented on #5655
Still waiting for step 1. Moving to R9.

[2020-02-21 19:55] stevengum commented on #5751
@johnataylor and I are strongly leaning towards not subclassing and making the audience (or OAuthScope) a required parameter in ContinueConverastionAsync.

[2020-02-21 23:56] mdrichardson commented on #5750
@venkatesh143293 Were you able to get this working with non-SVGs?

[2020-02-22 01:50] venkatesh143293 commented on #5750
@mdrichardson Thanks for the response. I am bale to see the non svgs, but I am seeing the below difference in teams vs emulator.
From Emulator if I click on the image the respected text is displaying in the dialogue
![emulator](https://user-images.githubusercontent.com/7261792/75084067-95a4d980-5543-11ea-81df-c0c061c1b885.png)

Where as from teams, if I click on that image again the same adaptive

[2020-02-24 13:51] Amokstakov opened #5759 "BotFramework Has Lag & Send Failed on Start-Up"
Hi,

I have recently developed a ChatBot using BotFramework with Node.js

I deployed it to Azure and over on Web channel, but there is an on-going issue.
When booting up the ChatBot either on Azure or on Web Channel, sometimes the welcome message doesn't immediately start-up.

On Azure, I see a blank screen, with the beginning message not prompting. I would attempt to send a message and I would se

[2020-02-24 15:34] mdrichardson commented on #5750
@venkatesh143293 Interesting. Can you copy/paste your current Adaptive Card JSON so I can do some troubleshooting? I want to make sure we're working with the exact same code.

[2020-02-24 16:16] venkatesh143293 commented on #5750
@mdrichardson Thanks..
This is the current JSON I am using
{
  "type": "AdaptiveCard",
  "body": [
    {
      "type": "TextBlock",
      "size": "Medium",
      "weight": "Bolder",
      "color": "Accent",
      "text": "Rate your experience!"
    },
    {
      "type": "TextBlock",
      "separator": true,
      "text": "Please rate your experience! Your feedback is very appreciated and will hel

[2020-02-24 16:24] mdrichardson commented on #5750
@venkatesh143293 I'm unable to reproduce this and the card behaves as expected. What versions of botbuilder are you running? Can you copy/paste the code surrounding whatever you use to send the card?

[2020-02-24 16:30] dmvtech commented on #5756
hi @ARArun The emulator emulates the direct line service. The bot is running on one port and the emulated service is running on another (52885 in this case).

Are you specifying appid/password for the bot in your test? Whatever you are doing in your appsettings.json/.env you need to supply in the emulator dialog (blank or values)

[2020-02-24 16:35] venkatesh143293 commented on #5750
var welcomeCard = CreateAdaptiveCardAttachment();
                            var opts = new PromptOptions
                            {
                                Prompt = new Activity
                                {
                                    Attachments = new List<Attachment>() { welcomeCard },
                                    Type = ActivityTypes.Message,

[2020-02-24 16:36] venkatesh143293 commented on #5750
@mdrichardson , for me also its working as expected in emulator and web chat I am facing this when I deployed to MS Teams

[2020-02-24 16:37] venkatesh143293 commented on #5750
I am working on Bot Framework V4

[2020-02-24 16:39] mdrichardson commented on #5750
@venkatesh143293 It is working as expected for me in Teams.

1. Is the prompt being called again in Teams when the card is clicked? That would be my guess. How is the prompt and dialog called in your code?

2. What specific versions are the Botbuilder packages?

[2020-02-24 16:44] venkatesh143293 commented on #5750
@mdrichardson Yes.. you said it correct. The prompt is calling again when  clicked on the card. I already shared the code how I am calling the prompt in my code
var welcomeCard = CreateAdaptiveCardAttachment();
                            var opts = new PromptOptions
                            {
                                Prompt = new Activity
                                {

[2020-02-24 16:45] mdrichardson commented on #5750
@venkatesh143293 Right, but how do you get to the code you included? What's calling that dialog? If the prompt is what's being called again, the problem is in the code, not the card.

[2020-02-24 16:56] venkatesh143293 commented on #5750
@mdrichardson this are the two steps the card is calling
  private async Task<DialogTurnResult> FinalStepAsync(WaterfallStepContext stepContext, CancellationToken cancellationToken)
        {

            if (stepContext.Result != null)
            {
                var welcomeCard = CreateAdaptiveCardAttachment();
                var opts = new PromptOptions
                {

[2020-02-24 16:59] mdrichardson commented on #5750
@venkatesh143293 How is the *dialog* being called? What code leads to the dialog that displays the card? Where are you calling either `Dialog.Run` or `beginDialog`.

What versions are your botbuilder packages?

[2020-02-24 17:00] venkatesh143293 commented on #5750
I am calling BeginDialog

[2020-02-24 17:02] venkatesh143293 commented on #5750
its waterfalldialog framework starting with begin dailog and ending with end dialog

[2020-02-24 17:18] mdrichardson commented on #5750
@venkatesh143293 Please include the code surrounding your call to `BeginDialog`.

[2020-02-24 17:28] venkatesh143293 commented on #5750
@mdrichardson
1. I have two classes one is MainDialog.cs and ActionDialog.cs
below are the steps involved in main dialog
public MainDialog(IConfiguration configuration, ILogger<MainDialog> logger, IHttpClientFactory httpClientFactory)//
            : base(nameof(MainDialog))
        {
            Configuration = configuration;
            Logger = logger;
            _httpClientFactory = httpClien

[2020-02-24 17:33] stevkan commented on #5759
There is an "Always on" feature that is part of your bot's App Service, under Configuration. Check that this is enabled. If it is not and some time has passed between your Web App being used (not sure what the time interval is), then your web app will need to wake up which results in the bot not responding immediately. But, after which it will respond fine.

Please be aware that the "Always on" fe

[2020-02-24 17:33] mdrichardson commented on #5750
How is MainDialog being called? It may be easiest to zip up all of your code or add it to a repo and link me to it. For some reason, it appears your Main Dialog is calling your ActionDialog after the card is clicked. We need to figure out why and it looks like it will take a *lot* of code debugging to do so.

[2020-02-24 17:44] venkatesh143293 commented on #5750
@mdrichardson Here I am attaching my code. I removed some of my service end points and keys from the code
[Bot.zip](https://github.com/microsoft/botframework-sdk/files/4245945/Bot.zip)

[2020-02-24 18:23] mdrichardson commented on #5750
@venkatesh143293 Alright. Looks like you don't have the necessary handling required for Adaptive Card inputs.

See [this blog post](https://blog.botframework.com/2019/07/02/using-adaptive-cards-with-the-microsoft-bot-framework/) and the section at the bottom titled, **Adaptive Cards in Teams**.

I wasn't aware, until now, that Teams handled these so differently. But basically, when you click the c

[2020-02-24 19:37] clearab opened #5760 "Fully document the skill manifest"
Need to fully document the skills manifest schema.

See [Docs Issue](https://github.com/MicrosoftDocs/bot-docs-pr/issues/2075)

[2020-02-24 21:11] garypretty commented on #5233
We now have successfully created an ARM template to deploy a dashboard.  The exact content of the template will need to be  amended once we land on the final makeup of our MVP dashboard, but the format of the template shouldn't change.

The current draft template

is attached and needs four parameters to be deployed;

•	Path to the template file
•	Resource group (where your existing App Insights r

[2020-02-24 21:12] garypretty commented on #5636
Issue #5233 is tracking the creation of the ARM template and MVP dashboard.

[2020-02-25 05:03] ARArun commented on #5756
@dmvtech Thanks for the reply.
shouldn't the 52885 port also be in localhost .
I am trying to run it via python. So i guess I have a config.py which looks something like this
`
class DefaultConfig:

    PORT = 3978
    APP_ID = os.environ.get("MicrosoftAppId", "")
    APP_PASSWORD = os.environ.get("MicrosoftAppPassword", "")
`
While running the emulator I am not inputting any values for AppId or P

[2020-02-25 16:00] dmvtech commented on #5756
That should be all you need. I'll look more on my end and let you know.

[2020-02-25 18:11] Zerryth commented on #5502
Hmm...need to finagle with my GitHub notification settings, 'cause I haven't been able to get notifications on any activity since getting back--grrr! Apologies for the delayed update, now that I'm seeing your comment:
___
Links:
1. [ActivityFlow](https://github.com/Zerryth/Mermaid/tree/master/MarkdownFiles/ActivityFlow)
2. [Authentication](https://github.com/Zerryth/Mermaid/tree/master/MarkdownFil

[2020-02-25 18:37] cleemullins commented on #5757
Status Update: @carlosscastro and @swagatmishra2007 are meeting today (Feb 25) to identify scenarios. I've also reached out to Karthik (from PVA) to identify any core scenarios he envisions.

@jwiley84 is booked to then setup and start executing these tests.

[2020-02-25 22:37] Amokstakov commented on #5759
@stevkan

Hey -
Yes it did!
I have another problem, will create a new separate issue? Unless you can help here

[2020-02-25 22:44] Amokstakov opened #5761 "BotFramework Static IP Address When Hosted on Web Channel"
Hi,

The title may seem a little confusing.
I have a ChatBot that is hosted online via web channel.

I have a function within the code that pulls the local IP address of who is using it. This is confirmed when I test out the ChatBot locally using via Bot Framework emulator.

However, when using the ChatBot online, the logging DB says it is constantly the static IP address of the application itself

[2020-02-26 06:39] tsuwandy commented on #5761
@Amokstakov , could it be the code which gets the user IP actually gets server IP instead?

[2020-02-26 16:02] mdrichardson commented on #5750
@venkatesh143293 I'm going to close this, as I believe this issue has been fully addressed. Feel free to re-open if you disagree.

[2020-02-26 16:02] #5750 closed

[2020-02-26 17:08] johnataylor commented on #5735
we have trackings issues in javascript, c# and python.

https://github.com/microsoft/botbuilder-js/issues/1780
https://github.com/microsoft/botbuilder-dotnet/issues/3430
https://github.com/microsoft/botbuilder-python/issues/781

[2020-02-26 17:58] Vigneshramkumar opened #5763 "Conversation Management for Intents in MS Bot framework"
I am using C# MS Bot Framework V4.0 and using LUIS for intent identification. As you aware we are having Dialog classes for managing conversations for a particular intent by using Waterflow dialog etc.. For each and every intent we need to create a dialog class and manage the conversation flow using the same. Or else we can have a standard JSON template and can have a generic Dialog class for hand

[2020-02-26 18:25] venkatesh143293 commented on #5750
@mdrichardson Thank you so much for the help. Teams is handling this differently. Now the issue is resolved. I added the data field like below
data: {
              "msteams": {
                "type": "imBack",
                "value": "Awesome"
              }
            }

[2020-02-26 18:30] stevkan commented on #5761
@Amokstakov, look over this Stack Overflow [solution](https://stackoverflow.com/questions/54089845/passing-querystring-to-microsoft-bot-web-channel/54100739#54100739) and compare it with your setup. The data being passed from page to bot is different than in your ask, but the principle is the same.

Also, as no code is provided, I'm assuming "Web Channel" means BotFramework-WebChat, v4.

---------

[2020-02-26 18:30] #5761 closed

[2020-02-26 22:10] dmvtech commented on #5756
Hi @ARArun Can you confirm you are using [this](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/python/02.echo-bot) echobot sample? Or are you using one of these?:

- https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/python/python_quart/02.echo-bot
- https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/python/python_tornado/02.echo-bot

[2020-02-27 00:26] christopheranderson commented on #5763
Hey @Vigneshramkumar - we are working on such a tool based on Adaptive Dialogs. Checkout https://github.com/microsoft/BotFramework-Composer - this still requires some code, but allows for visual designing of your experience.

You should also consider Power Virtual Agents, built on the Bot Framework SDK, which is a SaaS that we recently GA'd. It's simpler and completely no-code compared to using th

[2020-02-27 01:06] SubramanyamKirikera opened #5764 "Sending Messages to User Directly From Azure"
Hi Team,

We have a requirement like - We will be consuming messages from queue and based on the message type processing happens . Here after processing we want to send message directly to the User in Teams.
1. How can i send a direct message to user from code ?
2. What information i require for that ?

Here first user is not interacting with bot . So we wont be having conversation id/Service Url.

[2020-02-27 03:42] ARArun commented on #5756
@dmvtech The issue got resolved. I was running the program from first link.  Thanks for you time. When I removed the proxy settings from my environment variables(HTTP_PROXY and HTTPS_PROXY). It started working fine.

Thanks again for you time

[2020-02-27 03:42] #5756 closed

[2020-02-27 16:12] Vigneshramkumar commented on #5763
@christopheranderson : Thanks for your valuable response. Is there any expected release date for Bot Framework - Composer, currently its in preview version?

[2020-02-27 17:28] dmvtech commented on #5764
To confirm, you want to be able to send messages to users (1:1 conversation between bot and user) and that user won't have any previous interaction with the bot. You are not wanting to message a  whole team or a team's channel. Correct?

[2020-02-27 22:52] stevengum opened #5765 "SkillDialog on Resume should inform its skill that it has been resumed"
Resuming a SkillDialog doesn't communicate to the Skill that it should resume it's current Dialog

In-proc dialogs are resumed which in some cases may mean a prompt, or reprompt. There are no network calls out to the skill to indicate that it's dialog on the stack should be resumed.

### Caveats
- The Skill may or may not use Dialogs, currently the parent does not know if the Skill is using Dialog

[2020-02-28 02:46] johnataylor commented on #5735
@clearab sorry did I close this prematurely - I thought once we had the tracking issues we were good - oops.

OK status is we have the C# in yesterday and I'll test and push Steve's PR tomorrow. Maybe we'll get Python done too.

[2020-02-29 00:43] #5589 closed

[2020-02-29 00:54] stevkan commented on #5759
@Amokstakov,

Yes, if you haven't already created a new issue, please go ahead and do so. Just keep in mind that issues should be related to bugs or feature requests. If the new problem is a "how to", please post the question on [Stack Overflow](https://www.stackoverflow.com).

[2020-02-29 00:54] #5759 closed

[2020-03-02 16:08] mdrichardson commented on #5647
Closes since [parent PR](https://github.com/microsoft/botframework-sdk/issues/5442#issuecomment-543316221) is closed.

[2020-03-02 16:08] #5647 closed

[2020-03-03 13:39] kksantosh opened #5766 "How can we transfer query to live agent in Microsoft bot using ms team channel"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) where there is a robust community to help you

To file an issue against a component please go to the components repo
* [Create Azure Bot Framewor

[2020-03-03 18:25] dmvtech commented on #5766
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2020-03-03 18:25] dmvtech commented on #5766
You can try this sample:
https://github.com/tompaana/intermediator-bot-sample

[2020-03-03 18:25] dmvtech commented on #5766
Closing as this is a how-to question and should be addressed in Stack Overflow.

[2020-03-03 18:25] #5766 closed

[2020-03-03 18:42] dmvtech commented on #5764
@SubramanyamKirikera Can you please let me know if you still need assistance. Is my summary above correct in what you are looking to do?

[2020-03-03 19:57] lzc850612 opened #5767 "[SSO] Support SSO on host bots"
## Issue
To support scenario of host bot (VA) support SSO for skills under it, host bot should handle OAuth card and do the token exchange and send the exchangeable token back to skill. This should be supported from the SDK so bot developer shouldn't have to do anything additional to support this scenario.

Sample code: within SkillHandler:

[code]

## Proposed change
*Describe the proposed soluti

[2020-03-04 18:49] attozk commented on #4499
+1 for this

[2020-03-04 19:06] attozk opened #5768 "Feature Request: Ability for bot to post a reacion"
As a developer I would like for my to be able to post a reaction to a thread.

Currently bots can only read reactions, but not add reactions.

[2020-03-04 21:16] cleemullins opened #5769 "Bot Framework SDK R8 Release Checklist"
## Package 4.8.0

## Package Location
https://botbuilder.myget.org/gallery/botbuilder-v4-dotnet-daily
https://botbuilder.myget.org/gallery/botbuilder-v4-js-daily
https://botbuilder.myget.org/gallery/botframework-cli
https://test.pypi.org/project/botbuilder-core
https://www.nuget.org/packages/Microsoft.Bot.Builder/3.30.0 (v3.30.0)
https://www.npmjs.com/package/botbuilder/v/3.30.0 (v3.30.0)

## GitH

[2020-03-05 07:56] bhushanvadgave opened #5773 "DirectLine: 404 Bad Argument Unknown conversation error in POST /activities API"
## Overview
I have seen this info in some places on the internet that the conversation ID expires (DL APIs starts giving Unknown conversation) if kept idle for a few weeks. Please confirm if this understanding is true. If it's true, I don't understand why it is not mentioned anywhere in botframework/directline documentations.

## Impact on us
Our system is built on top of and heavily depends on th

[2020-03-05 18:03] chrimc62 commented on #5734
Moving this to R9 as it will not get done in R8 and is OK to ship later.

[2020-03-05 22:55] clearab opened #5774 "Update sample to use new helper method for sending message to channel"
See:

- [C# PR](https://github.com/microsoft/botbuilder-dotnet/pull/3292)
- [JS Issue](https://github.com/microsoft/botbuilder-js/issues/1631)

[2020-03-06 16:44] dmvtech commented on #5764
Closing as no respose. @SubramanyamKirikera; let us know, or reopen this, if you are still having issues.

[2020-03-06 16:44] #5764 closed

[2020-03-09 03:27] AdamSobieski opened #5776 "Scenario: Interoperation with Crowdsourced Real-time Fact-checking Services"
## Introduction
Towards dialogue systems which can answer questions from users on important and contemporary topics – such as those discussed in the news or in political debates – dialogue systems are discussed which can interoperate with and access crowdsourced real-time fact-checking resources.

## Crowdsourced Real-time Fact-checking Resources
Crowdsourced real-time fact-checking resources prov

[2020-03-09 04:00] AdamSobieski opened #5777 "Feature Request: Dialogue System Trends Data"
I would like to share an idea with the bot developer community: dialogue system trends. Just as there are Web search engine trends, so too might it be useful to have features which support aggregating dialogue system trends data from large numbers of user interactions.

Dialogue systems could aggregate users' questions, including in dialogue contexts, together and present the questions, with real-

[2020-03-09 16:26] anusharavindrar commented on #5773
@bhushanvadgave as per [this](https://github.com/microsoft/botframework-sdk/issues/5291#issuecomment-462411252) comment on a previous issue #5291

Conversation messages are only stored for 24 hours in DirectLine. Conversation metadata (such as conversation id and couple other housekeeping data) are removed after a period of inactivity (between 15 to 20 days).

Also, as per this [issue comment](htt

[2020-03-09 16:41] v-kydela commented on #5776
@AdamSobieski - Can you explain what you want to have done with this issue? Is it a feature request?

[2020-03-09 18:04] chrimc62 commented on #5777
We are shipping some of this in a week as part of our R8 release and @garypretty can supply more details.

[2020-03-09 18:05] chrimc62 commented on #5776
Thank you for the suggestion, we will add this to our backlog.

[2020-03-09 18:06] chrimc62 commented on #5763
It is in public preview and we are targeting Build 2020 for GA on the C# runtime and the composer.

[2020-03-09 18:06] #5763 closed

[2020-03-09 18:08] AdamSobieski commented on #5776
@v-kydela , @chrimc62 , thank you. In my opinion, the scenario is an important one and hopefully one of some interest to the bot developer community. When considering how best to facilitate implementation by bot developers, there could be some new features and services entailed. Please do consider the issue a suggestion or feature request.

[2020-03-09 18:40] bhushanvadgave commented on #5773
@anusharavindrar I got what these comments trying to say. But shouldn't there be some way to reuse/recycle the expired conversation ID? For example, today Directline's start-conversation API accepts just the user ID (in the body). If it can accept conversation ID (expired) as well then this API can be used to continue the conversation with the same conversation ID.

[2020-03-09 21:06] v-kydela commented on #5776
@chrimc62 - I am assigning you to signify that there is nothing I can do for this issue. I would unassign myself but I have been told that the first commenter must remain assigned for tracking purposes.

[2020-03-10 09:42] FedericoMartinelli opened #5778 "Sending gif from bot not working on Teams"
I want to send gifs to the user from the Bot and apparently those are rendered correctly both on Bot Emulator and on the Web Chat but not in Teams. In Teams gifs are rendered as images.

I'm using Bot service 4.0 and I'm developing in C#.

That's how I create the reply containing a gif:

[code]
I tried with ContentType = image/gif, image/\*, video/mp4, video/\* but those doesn't work.

Can you ple

[2020-03-10 16:27] clearab commented on #5778
Unfortunately, .gif formatted is not supported by the Teams channel currently. Please see: https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/conversation-basics?tabs=dotnet#picture-messages.

[2020-03-10 16:49] daveta commented on #5195
@scheyal : FYI, might want to triage what to do with this one..

[2020-03-10 16:50] daveta commented on #5194
@scheyal : FYI, might want to triage what to do with this one..

[2020-03-10 17:31] #5778 closed

[2020-03-11 09:35] tsvovan opened #5779 "IDialog method execution finished with no resume handler specified through IDialogStack. (Microsoft.Bot.Builder.Internals.Fibers.InvalidNeedExceptio)"
Sometimes RootDialog code returns an error from the topic.
[RootDialog.txt](https://github.com/microsoft/botframework-sdk/files/4317288/RootDialog.txt)
Please help me to resolve this issue.
Thank you.

[2020-03-11 16:51] v-kydela commented on #5779
@tsvovan - Issues about bots throwing exceptions should not be posted in the botframework-sdk repo. When you opened this issue, you should have seen this page: https://github.com/microsoft/botframework-sdk/issues/new/choose

A DCR is a design change request. That means these issues should only be about the overall design of the SDK and not specific bugs or how-to questions.

It looks like you're b

[2020-03-12 00:37] tsvovan commented on #5779
Sorry, that I created issue incorrectly.
1. It was created in a v3 before I started working with it.
2. Will it resolve my issue? As I know there are several differences between bot's entities and it will not be easy to do it quickly. So I guess it will be much better to resolve my bug first.
Thank you.

[2020-03-12 01:26] v-kydela commented on #5779
@tsvovan - Yes, migrating to v4 will certainly resolve your issue because dialogs are handled totally differently in v4 and the exception you're encountering no longer exists. If you really want to try to fix this problem in your v3 bot then you're doing work that will have to be undone later when you migrate to v4, thus increasing your technical debt. If you want to get help with that then you'll

[2020-03-12 06:44] tsvovan commented on #5779
await ChatMessageReceivedAsync(context, (IAwaitable<IMessageActivity>)result); -> context.Wait(MessageReceivedAsync);
this line exactly.

[2020-03-12 08:53] tsvovan commented on #5779
Also could you please provide some good articles about how to migrate bot from v3 to v4. Thank you.

[2020-03-12 16:39] v-kydela commented on #5779
@tsvovan - Thank for you the code snippet. I received an email that made it look like you made another comment about wanting articles to help you migrate so I'm unsure why that's not showing up here. You should be able to find good information in the readme of the repo I linked to earlier: https://github.com/microsoft/BotBuilder-V3

Here is the official migration documentation that you should find

[2020-03-12 17:02] tsvovan commented on #5779
I don't have time to migrate it to v4 now. So I want just making it work now. Thank you.

[2020-03-12 21:39] EricDahlvang commented on #5779
Hi @tsvovan

The exception:

means there is probably a missing `context.Wait(MessageReceivedAsync);` on one of the code paths.  If .Forward, .Call or a .Prompt are not executed, then message processing needs to end with context.Wait(methodnamehere); so the next message knows where to begin execution.

I've tried to look at the .txt file you've shared, but honestly it is just too difficult to follo

[2020-03-12 22:28] AkshatTR commented on #3137
Hi @bilby91, would you mind explaining the HTTP call as in how did you get all channel names with Team ID? I am trying to build a messaging extension and if I try to fetch all channel list it throws error saying  "The bot is not part of a conversation roaster". @nwhitmont

[2020-03-13 17:12] Zerryth commented on #5502
Update:
1. I have a [draft PR](https://github.com/microsoft/botframework-sdk/pull/5771) with the updated diagrams to enter them into botframework-sdk repo. Holding the PR until Marc gets some of the more visually-appealing graphics completed, however if there's a demand to get them in faster, we have the option of merging them sooner with the Mermaid-only diagrams
2. Upated the [root of my persona

[2020-03-13 18:51] gabog opened #5780 "Add support to SkillDialog so SSO works with expectReply"
Currently SSO works with SkillDialog when using the default back to back http request response communication with a skill because there's custom logic in SkillHanlder.

But this doesn't work when using SkillDialog and expected replies.

We need to add logic to SkillDIalog to handle this use case.

**Dotnet SDK** (Tracked in [issue](https://github.com/microsoft/botbuilder-dotnet/issues/3679))
- [X]

[2020-03-16 02:09] AdamSobieski commented on #5777
@chrimc62, @garypretty, Thank you. Looking forward to learning more about the R8 release.

[2020-03-16 03:06] AdamSobieski opened #5781 "Feature Request: Question Answering with Dynamic Data"
## Introduction
I would like to separate a feature request topic from an earlier multi-topic issue (https://github.com/microsoft/botframework-sdk/issues/5776).

Microsoft Bot Framework SDK features requested are those supporting the development of dialogue systems such that resultant systems could:

1. postpone answering users’ questions when information is unavailable and subsequently notify user

[2020-03-16 07:41] xieofxie opened #5852 "Set EndOfConversationCodes when send EoC"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
Currently when sending EoC here https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/DialogExtensions.

[2020-03-16 18:29] CezaryMarcjan commented on #5781
Thank you Adam for the suggestion. We are considering adding a similar functionality. Once we know more details including the timeline we'll send an update.

[2020-03-16 21:56] Zerryth commented on #5502
per steven, going to go ahead and make Channel to Bot auth diagrams as well

[2020-03-16 22:07] shekarkadaba commented on #2432
@ubreddy are you able to share what the resolution was?

[2020-03-17 07:12] baole opened #5782 "Incorrect Chinese text render on Dialog"
**Describe the bug**

Our bot uses dialog to ask users to fill data. Chinese text doesn't properly show whereas English text renders correctly. The same Chinese text is rendering correctly on message as well.

Please see below attachment for details:
![image](https://user-images.githubusercontent.com/1460168/76589993-3a378d00-64ec-11ea-858e-f38073e9dc07.png)

![image](https://user-images.githubuse

[2020-03-17 08:00] Mrinnaal opened #5783 "How to edit the start time of video in video card?"
I want to start my video from a specific time in my video card. Is there any way I could do it? Please let me know.....

[2020-03-17 17:24] v-kydela commented on #5782
@baole - It's unclear what you're doing differently to trigger the behavior in these two screenshots. When you say "Our bot uses dialog to ask users to fill data" do you mean to say that the second screenshot is a task module?

I can see that you're using different data in these two cases. I suppose it's possible that your the JSON could be encoded differently but I suspect it's just a Teams bug.

[2020-03-17 17:51] v-kydela commented on #5783
@Mrinnaal - While the SDK repo is only for DCR's, I will see if I can help anyway.

The [Bot Framework video card schema](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference#videocard-object) contains no "start time" option. It's conceivable that a specific channel could provide such an option, but you would have to check the API of the channel yo

[2020-03-17 18:23] CezaryMarcjan commented on #5783
For product behavior, how-to, or general understanding questions, please use Stackoverflow.

https://stackoverflow.com/search?q=bot+framework

[2020-03-17 18:23] #5783 closed

[2020-03-17 18:39] clearab opened #5785 "Skill consumers should not be able to send Activities to skills without a recipient"
Options for fixing this:
- Go through the SDK to add all the necessary null checks.
- Add the missing recipient in the HttpAdapter

## Tracking Status

**Dotnet SDK** (Tracked in [issue](https://github.com/microsoft/botbuilder-dotnet/issues/3684))
- [ ] PR
- [ ] Merged

**Javascript SDK** (Tracked in [issue](https://github.com/microsoft/botbuilder-js/issues/1997))
- [ ] PR
- [ ] Merged

**Python S

[2020-03-17 19:57] #5723 closed

[2020-03-17 19:57] #5730 closed

[2020-03-17 19:57] #5735 closed

[2020-03-19 07:46] baole commented on #5782
@v-kydela Thanks. We are using task module. I just figured out that it's our issue. Indeed, when a user clicks on "Open dialog" (in the first screenshot), the bot return a "task/fetch" payload to show a popup form. The `contentType` of this response should be explicitly defined as "application/json" or it doesn't work.

Anyway, thank you for your suggestions.

[2020-03-19 07:46] #5782 closed

[2020-03-20 17:44] CezaryMarcjan commented on #5776
We'll track this with #5781, thanks Adam.

[2020-03-20 17:44] #5776 closed

[2020-03-23 15:31] vijaysaimutyala commented on #5497
Hi @gfmajchrzak Did you manage to resolve this issue ?

[2020-03-23 21:40] clearab opened #5788 "I can Update and Delete activities from a Skill"
## Issue

`SkillHandler` does not currently implement `OnDeleteActivityAsync` and `OnUpdateActivityAsync` so a skill that tries to send update or delete activities will get a not implemented exception.

## Proposed change

Implement `SkillHandler.OnUpdateActivityAsync` and `SkillHandler.OnDeleteActivityAsync` and create a teams sample based on sample [57.teams-conversation-bot](https://github.com/

[2020-03-23 22:53] martingalovic commented on #1465
Same here. I got it switched to Live and requested the review. Facebook support messaged me with

However, my bot can't reply to anyone else except me so I replied to them manually and see what happens lol. Anyone else with a similar problem?

[2020-03-24 11:18] garypretty commented on #5233
Closing this as the work is being tracked in #5636

[2020-03-24 11:18] #5233 closed

[2020-03-24 20:51] clearab opened #5789 "Skills + OAuth: Differentiate between regular and skill mode when receiving tokens"
When doing Oauth, and a Skill gets an activity, the skill thinks it is in regular mode and not skill mode, so it uses the wrong connector client.

the fix is to ahve the Token Service add an additional claim and have the SDK act accordingly and know in what mode it is based on the claim

-dotnet#3617

## Tracking Status
**Dotnet SDK** (Tracked in [issue](https://github.com/microsoft/botbuilder-dot

[2020-03-24 21:03] clearab commented on #5765
@stevengum Is this still needed?

[2020-03-25 12:01] chybisov commented on #4360
Any updates on Facebook Checkbox Plugin opt-in?

[2020-03-26 04:08] cwhitten opened #5792 "Update DialogManager to work with Skills"
In order to enable a Composer-generated bot as a Skill, the DialogManager needs to be updated to support sending an EndOfConversation to signal a Skill exiting. Without this, a Skill created from Composer will be unable to end itself.

<img width="970" alt="Screen Shot 2020-03-25 at 9 07 06 PM" src="https://user-images.githubusercontent.com/1156704/77609203-9b903080-6edc-11ea-8867-aa7eaee0fce9.png

[2020-03-27 19:09] gabog commented on #5765
This was implemented in R8. closing it.

[2020-03-27 19:09] #5765 closed

[2020-03-30 18:53] cleemullins commented on #5777
With the work we shipped around Analytics in R8, I believe we can close this out.

[2020-03-30 18:53] #5777 closed

[2020-03-31 18:25] JonathanFingold opened #5853 "QnAMakerDialog constructor should accept a dialog ID parameter"
## Version
What package version of the SDK are you using: current - 4.8 - master

## Describe the bug
Give a clear and concise description of what the bug is.
Using a "hard-coded" ID for all QnA Maker dialogs means it's hard to add more than one to any dialog collection.

## To Reproduce
Steps to reproduce the behavior:
1. Look at the implementation:
    https://github.com/microsoft/botbuilder-dot

[2020-03-31 19:55] cleemullins commented on #5781
@AdamSobieski  I don't think this is a feature we're evaluating in the short term.

[2020-03-31 19:55] #5781 closed

[2020-03-31 20:40] stevengum commented on #5655
This is still underway, we are still expecting the service to support this configuration in R9.

[2020-03-31 22:44] #5428 closed

[2020-03-31 22:45] vishwacsena commented on #5444
This is done.

[2020-03-31 22:49] vishwacsena commented on #5493
Have the host do this. Not a requirement for stable release.

[2020-03-31 23:01] vishwacsena commented on #5671
This is now in _adaptive.xxx

[2020-03-31 23:01] #5671 closed

[2020-03-31 23:14] vishwacsena commented on #5792
The only other caveat here is to not send EoC if the bot already sent this.

[2020-03-31 23:16] vishwacsena commented on #5792
@gabog per @Stevenic dialogmanager also needs to support `OnResumeDialogAsync`.

[2020-04-01 20:00] vishwacsena opened #5854 "QnAMakerDialog does not allow custom activity generation from answer"
[QnAMakerDialog][1] today does not allow customization of the actual activity posted. We hard code this to `response.First().Answer` however this precludes the user from being able to e.g. post a card that includes additional information like confidence score etc.

Proposed fix:
- Add a virtual method which maps MapAnswerToActivity( answer) => Activity, default would be to send .text. and have Dis

[2020-04-01 21:12] msftjayongg opened #5855 "AppInsights Integration should send up Teams channel info, and AAD app id. and make user_id more clear"
**Is your feature request related to a problem? Please describe.**
For users to make the most use out of the telemetry, there are important metrics that should be transmitted into the customEvents in ApplicationInsights. Without making the developer do more work. Right now the lack of clarity with the user_id metric lets ISVs overcount. (I've double checked application insights telemetry)

**Descr

[2020-04-01 22:59] RobertaDelrio commented on #293
I'm not sure it is a related issue but...
My bot responts to group message with a greeting message(in the group chat) that displays keyboard commands. However, when I select a command it responds on the privat chat and not in the group.
Did someone experience something similar and know how to solve it?

[2020-04-02 04:10] shakil-san opened #5793 "Error: The first argument must be a Cognitive Services audio stream"
Hello,

I am facing issues while trying to use cognitive service in by QnA Azure chatbot. I can get answers if i type question. But when I try to get answer using microphone the bot crashes immediately after returning the text spoken at microphone. Same behavior on chrome or firefox browser on desktop as well as Safari browser on IOS.

These are the two errors I see on the console of chrome browse

[2020-04-02 06:13] nekitkee commented on #293
@RobertaDelrio Do you use in response destination chat_id or user_id? (first is correct)

[2020-04-02 09:23] RobertaDelrio commented on #293
It is chat_id.
However, I think the problem is related to the use of the InlineKeyboard.

[2020-04-02 22:52] tdurnford opened #5794 "Update Skill Manifest 2.1.preview-0 to work with Composer editing experience"
## Issue
We're currently adding a skill manifest editor to Composer, and in order to make the schema work with the AdaptiveForm editor, we had to make several small changes to the schema.

## Proposed change
Here are the changes to each property in the schema we would like to see changed

- Tags
  - Define the items' type as string
  - ```diff
    "tags": {
      "type": "array",
      "uniqueItem

[2020-04-03 00:57] corinagum commented on #5793
Hi @shakil-san, I am wondering if the problem you are experiencing is the 4.8.0 change in credentials signature. https://github.com/microsoft/BotFramework-WebChat/pull/2916

Could you tell me what version of Web Chat you are using?
You can check this in the `<meta>` tags on your Web Chat page.

[2020-04-03 13:06] mikhail-cabilao commented on #5387
Any update on this? We are doing the same thing and might be this will be possible right now?

[2020-04-03 22:58] clearab opened #5795 "Auto-generate skills manifest from declaratively defined adaptive dialogs"
Build a library that can auto-generate a skills manifest for declaratively defined adaptive dialogs.

## Tracking Status

**Dotnet SDK** (Tracked in [issue](https://github.com/microsoft/botbuilder-dotnet/issues/3561))
- [ ] PR
- [ ] Merged

**Javascript SDK** (Tracked in []())
- [ ] PR
- [ ] Merged

[2020-04-04 00:45] dmvtech commented on #5387
I don't believed anything has changed, even in the newer implementation of Teams integration in 4.6/4.7.

@clearab @Virtual-Josh Any thoughts? Would this be a DCR/enhancement that we would/could accept?

[2020-04-04 01:24] Virtual-Josh commented on #5387
This still isn't a supported scenario. I don't know if there's any intention to enable this scenario. @clearab would know better.

[2020-04-04 01:56] clearab commented on #5387
Currently, there is no plan to enable this for a bot directly. The functionality, when available, will come through the Graph API's and Graph permissions. If you'd like to learn more and/or reach out to the Teams team you can find how to contact them here: https://docs.microsoft.com/en-us/microsoftteams/platform/feedback

[2020-04-05 22:22] nedimf commented on #5387
Yeah, I second this.

[2020-04-06 20:37] carlosscastro opened #5796 "OAuthPrompt + Skills automated Testing"
Expand the current Skills test matrix with skills + OauthPrompt testing using a custom identity provider to control auth flow.

[2020-04-06 22:20] stevengum commented on #5751
Closing, this was released with v4.8.

[2020-04-06 22:20] #5751 closed

[2020-04-07 01:11] oliver1191 opened #5798 "Bot send welcome message twice when user first add bot"
## Bot Info
<ul>
    <li>Framework: .Net Core 2.2</li>
     <li>SDK Version: botbuilder 4.5.1</li>
     <li>Active Channels: Microsoft Teams</li>
     <li>Deployment Environment: Azure Bot Service,not occur in local development with Emulator</li>
</ul>

## Issue Description
*When user add bot to teams first,bot will send welcome message to user once a few months ago.*

*However bot send twice welc

[2020-04-07 16:13] johnataylor commented on #5620
We are not tracking this for R9 at this point. Perhaps we could explore the idea further in samples. Or potentially samples/experimental.

[2020-04-07 16:16] johnataylor commented on #5582
Assuming this work is part of the end to end testing for skills.

[2020-04-07 17:25] jwiley84 commented on #5798
It looks like your MembersAdded is firing twice because you have it tucked into `OnConversationUpdateActivityAcync`. You should move it to `OnMembersAddedAsync' instead. Specifically for Teams, this would like the following:

[code]
This might require you to update your botbuilder packages. The current release is 4.8.0.

[2020-04-07 17:26] jwiley84 commented on #5798
A good sample of a Teams conversation bot with a welcome message is this: https://github.com/microsoft/BotBuilder-Samples/tree/608515d7a2fb296ec942cdfc0391fa7abb1d906d/samples/csharp_dotnetcore/57.teams-conversation-bot

[2020-04-08 03:19] oliver1191 commented on #5798
Thanks for your reply! I try the methods mentioned above,but it does not work.
1.Because my company has no idea to update botbuilder packages recently,so I have to use version 4.5.1.
2. OnMembersAddedAsync function also occur twice.The 'membersAdded' property in the log file is the same,for example<pre>OnMembersAddedAsync members json string:[{"id":"29:'sensitive information',"name":null,"aadObjec

[2020-04-08 10:33] andreatosato opened #5799 "Microsoft Teams - Reset Channel"
## Issue
I develop Bot for Microsoft Teams, but, after SignIn Card my account login can't reset.

## Proposed change
I need to reset channel teams data, login cookies and conversation states.

[2020-04-08 11:28] kksantosh opened #5800 "bot returning welcome message again when i click on button"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2020-04-08 11:29] kksantosh commented on #5800
// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.

const { CardFactory,ActionTypes, ActivityHandler, MessageFactory } = require('botbuilder');
const { DialogBot } = require('./dialogBot');
var BotResponses = require('../constant/string');
var ConstantVariables = require('../constant/constantValue');

class DialogAndWelcomeBot extends DialogBot {
    co

[2020-04-08 11:38] kksantosh opened #5801 "bot returning welcome message again when i click on button"
[code]

[2020-04-08 12:40] fathorMB commented on #5799
I also noticed that, sometimes (not predictable), when using Teams in an incognito browser session, the Sign In button opens the login dialog but it is immediately closed without the possibility to choose the proper account. It results in automatic user sign in process but we aren't able to discover how it happens. Is there a way to delete those "saved" credentials in order to always prompt the lo

[2020-04-08 14:27] stevkan commented on #5800
Closing in favor of duplicate issue #5801.

[2020-04-08 14:27] #5800 closed

[2020-04-08 16:47] jwiley84 commented on #5799
There should be a logout component dialog in the current teams auth samples that you can use to  'logout' the current user.

C# [Logout component dialog](https://github.com/microsoft/BotBuilder-Samples/blob/8d9d0688ce3d2d28b49a5f0eaf0ff882ed6ac6ff/samples/csharp_dotnetcore/46.teams-auth/Dialogs/LogoutDialog.cs)

Node [Logout component dialog](https://github.com/microsoft/BotBuilder-Samples/blob/1b

[2020-04-08 16:50] v-kydela commented on #5801
Hello @kksantosh

This repo is only for design change requests. We display a message when you create an issue here that includes the following:

My team sees every question that uses the `botframework` tag. I'll be happy to help you if you post a question on Stack Overflow, but make sure you read the [how-to-ask](https://stackoverflow.com/help/how-to-ask) help document so that you can include enou

[2020-04-08 16:50] #5801 closed

[2020-04-08 19:12] #5769 closed

[2020-04-08 19:15] cleemullins opened #5802 "Bot Framework SDK R9 Checklist"
## Package 4.9.0

## Package Location
https://botbuilder.myget.org/gallery/botbuilder-v4-dotnet-daily
https://botbuilder.myget.org/gallery/botbuilder-v4-js-daily
https://botbuilder.myget.org/gallery/botbuilder-v4-java-daily
https://botbuilder.myget.org/gallery/botframework-cli [4.9.0](https://botbuilder.myget.org/feed/botframework-cli/package/npm/@microsoft/botframework-cli/4.9.0-RC0)
https://test

[2020-04-08 22:25] #5714 closed

[2020-04-09 04:55] Zerryth commented on #5502
Update from Monica:
- **Work on this is paused**, due to lack of Design bandwidth to turn diagrams into beautiful graphics
- Completed [Channel-to-Bot auth diagrams](https://github.com/Zerryth/Mermaid/blob/master/Authentication/ChannelToBot/README.md). Review needed to verify the ABS bits that's blackbox to me--the diagrams were made based off of well-known OAuth 2.0 & OpenID Connect patterns thou

[2020-04-09 06:39] kksantosh commented on #5801
I have just submitted issue on Stack Overflow . please once look in that.

[2020-04-09 14:07] tracyboehrer commented on #5594
It would seem to me that the issue of how a bot generates an event (background service, webhook, etc...) is separate from how a skill notifies a parent.  If we want to provide tools for doing this part, I would think it would apply to any bot, not just a Skill?  Furthermore, can we even provide a meaningful abstraction for this given each platform will be different?  Would not a sample that shows

[2020-04-09 16:24] v-kydela commented on #5801
I saw it here: https://stackoverflow.com/questions/61115151/bot-returning-same-welcome-message-again-when-i-click-on-button

[2020-04-09 17:49] cleemullins commented on #5500
@kaiqb, this area needs to take our informal guidance on StackOverflow and coalesce it into a single place in the docs.

[2020-04-09 23:58] clearab commented on #5594
I think a good scenario would be: I'm the ToDo bot, and I am sometimes a skill, and sometimes a stand-alone bot. I need to be able to send a reminder to a user regardless of whether that user has used be through another bot as a skill, or as a stand-alone bot.

Ideally, ToDo bot wouldn't need to do anything drastically different than it would operating as a stand-alone bot in order to facilitate t

[2020-04-10 00:27] stevengum commented on #5594
The `ToDo` bot/skill would also need the Audience. When `ToDo` is acting as a bot, the audience is not required, unless it is messaging both public and gov cloud channels.

When `ToDo` bot is acting as a skill, it needs to provide the Audience (aka the Consumer's AppId) in the token, otherwise the Consumer will likely reject the request.

In R8 we determined that the ConversationReference and the

[2020-04-10 00:31] stevengum commented on #5594
The Audience/ConversationReference work was done in R8 (initially in [C#](https://github.com/microsoft/botbuilder-dotnet/pull/3409)), and the struct we use to contain the necessary fields is the [SkillConversationReference](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder/Skills/SkillConversationReference.cs)

[2020-04-10 05:02] stevengum commented on #5785
For this scenario, are we ensuring a Recipient exists, or are we setting the outgoing Recipient to have it's `Id` be the Skill's AppId?

[2020-04-10 05:05] stevengum commented on #5622
@stevenic, is this still necessary?

[2020-04-10 16:59] tracyboehrer commented on #5594
Does this mean this is a samples issue, and not an SDK one?

[2020-04-10 17:40] stevengum commented on #5594
I believe a sample demonstrating how to have a skill send real "proactive" messages could address the issue.

@darrenj do you have any "Skills proactive" pain points that could be better addressed in the SDK and not in the Solutions packages?

[2020-04-10 17:57] tracyboehrer commented on #5594
So in terms of planning, it's no longer an SDK issue and can be pushed to the samples phase and repo?

[2020-04-13 07:20] vunhutien commented on #5798
I also got this issue, i use this example: https://github.com/microsoft/BotBuilder-Samples/tree/608515d7a2fb296ec942cdfc0391fa7abb1d906d/samples/csharp_dotnetcore/57.teams-conversation-bot

[2020-04-13 16:12] jwiley84 commented on #5799
Hi @andreatosato and @fathorMB

Did this help your issue or do you need further assistance?

[2020-04-13 22:12] stevengum commented on #5785
Internal discussions and initial investigations point towards requiring that the Recipient value exist, not that it be populated.

In other words, SDK has numerous places that require `Activity.Recipient`, but not necessarily `Activity.Recipient.Id`.

Populating an empty `ChannelAccount` for `Activity.Recipient` _should_ prevent the SDK from throwing easily avoidable exceptions.

The spec ([public

[2020-04-15 04:50] StarCanada commented on #293
Folks! I have the same issue! My bot is not working in the group! Any ideas?

[2020-04-15 08:06] fathorMB commented on #5799
Hi @jwiley84, is this logout component available also in the Bot Framework Composer application? We're using that one to develop our dialogs.

[2020-04-15 12:43] samadhansalgar opened #5803 "sometimes Choice prompt button is not displaying in msteams channel"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2020-04-15 12:44] samadhansalgar commented on #5803
await stepContext.PromptAsync("choicePrompt",
                    new PromptOptions
                    {
                        Prompt = stepContext.Context.Activity.CreateReply("Here is code."),
                        Choices = new[] { new Choice { Value = "Special" }, new Choice { Value = "General" }, new Choice { Value = "Quit" } }.ToList(),
                        Style = ListStyle.HeroCard

[2020-04-15 16:09] mdrichardson commented on #5803
@samadhansalgar Can you clarify what you mean by "sometimes"? Is it that:

1. Some users never see the buttons?
2. Some users occasionally don't see the buttons?
3. The buttons work on desktop but not mobile or web?
4. Something else?

Is it possible to reproduce consistently, at all?

[2020-04-15 23:23] ivanp-ms opened #5804 "VSRM Release Script failing on "az bot email create" with a generic error."
"az bot email create" failure recommended coming here to file an issue. VSRM release script is trying to create an email channel and failing with the following:
2020-04-15T20:44:00.4630586Z ##[error]This command group is in preview. It may be changed/removed in a future release.
2020-04-15T20:44:00.4642632Z ##[error]ERROR: Unknown error during execution. Please file an issue on https://github.com/

[2020-04-16 00:22] clearab opened #5805 "Tab unfurling for Teams"
## SPEC UPDATED - DESIGN CHANGED
Teams altered the way this will work. See updated spec below.

## Issue
Teams is requesting SDK support for a new "tab unfurling" feature. Essentially, this feature allows a bot developer to provide the URL's and information needed to pin a website as a tab - either through an Adaptive Card or with a specifically formatted deep-link URL.

## Requirements:

As a dev

[2020-04-16 04:20] samadhansalgar commented on #5803
Hi @mdrichardson -
Some users occasionally don't see the buttons.
Facing same problem in web and desktop.

[2020-04-16 18:45] Zerryth commented on #5804
@ivanp-ms let's get a bit more information, so we can try to help.

What were the arguments that you passed in? (at least the flags without revealing your password)
Also, please add `--verbose` and `--debug` to the command as well to give a fuller log of when it's breaking, and let us know here.

For example:
`az bot email create -n botName -g MyResourceGroup -a abc@outlook.com -p password --verbo

[2020-04-16 20:50] mdrichardson commented on #5803
@samadhansalgar Understood. Sound like it could be a Teams issue, so I'm roping in some folks via email to take a look. I'll keep you posted.

[2020-04-16 20:58] stevengum opened #5808 "Remove EnterpriseChannelValidation code"
## Issue
Remove unused Enterprise Channel Code, eg [EnterpriseChannelValidation](https://github.com/microsoft/botbuilder-js/blob/17f06deb51eb10fa444291052746cf0cba1757fe/libraries/botframework-connector/src/auth/enterpriseChannelValidation.ts)

## Customer Impact
No impact, code and channels are unused.

## Tracking Status
**Dotnet SDK**
- [ ] PR
- [ ] Merged

**Javascript SDK**
- [ ] PR
- [ ] Mer

[2020-04-17 04:14] #5734 closed

[2020-04-17 05:13] samadhansalgar commented on #5803
Thank you @mdrichardson

[2020-04-17 18:25] stevengum commented on #5726
This has implications for generating the callerId (see https://github.com/microsoft/botbuilder-dotnet/pull/3753)

[2020-04-17 18:30] clearab commented on #5726
Yeah, we'll probably need to have an new IRI for the Emulator

[2020-04-20 10:04] garypretty commented on #5636
MVP dashboard content agreed with @emivers8. Outstanding actions to release;
- @emivers8 looking to provide updates for text descriptions on the dashboard
- @garypretty to update ARM template

[2020-04-20 15:45] andreatosato commented on #5799
We (@fathorMB and I) also developed a BOT with the QnA multi-turn. We used the same example as a github repository. On Teams, once error is made, the channel is corrupt forever. Nothing works anymore. On WebChat, however, no error occurs and the bot responds correctly.
No login happens, it is a simple use of the KB by the QnA maker service.
[Sample](https://github.com/microsoft/BotBuilder-Samples/

[2020-04-20 16:13] jwiley84 commented on #5799
@andreatosato Let me see if I can repro your issue. Thank you for the clarification.

[2020-04-20 16:19] andreatosato commented on #5799
Many bot on Teams, after first crash error, not work.
In webchat we can restart bot, but in Teams no.

[2020-04-20 17:29] carlosscastro opened #5809 "[Schemas] Add adaptive schemas to reverse proxy for schemas.botframework.com,"

[2020-04-20 18:01] mdrichardson commented on #5803
@samadhansalgar This isn't a known issue for Teams or Bot Framework. Can you please provide appId and a timestamp of when this occurs? We'll need to do some digging on the backend to investigate.

[2020-04-20 18:40] carlosscastro commented on #5767
This is to support the reverse SSO scenario, @carlosscastro  and @lzc850612 to pair program on this early R10.

[2020-04-20 19:49] gabog commented on #5794
These changes are being worked on [this branch](https://github.com/microsoft/botframework-sdk/tree/gabog/SkillManifest21Updates).

We may take additional changes as part of this, we are reviewing the changes with the composer team on 4/20/2020.

[2020-04-20 19:50] cleemullins commented on #5796
ETA "Tomorrow" per @carlosscastro

[2020-04-21 00:27] clearab opened #5810 "Change onTeamsMemberAdded for Teams to use getMember()"
The onTeamsMemberAdded event calls getMembers() to create a fully hydrated TeamsChannelAccount object. Now that Teams has released the get single member endpoint, we should update the SDK to use that instead.

As an example, here's the method in the C# repo that needs to be changed: https://github.com/microsoft/botbuilder-dotnet/blob/92242ea0826ea94e671d1b1a98c62fcd5042059a/libraries/Microsoft.Bot

[2020-04-21 16:23] tracyboehrer commented on #5810
We should add Java to this since the next preview will have Teams support.

[2020-04-21 18:25] GDreyV opened #5811 "Cannot read property 'isChannelConversation' of undefined"
Hello! I'm trying to use `ActionTypes.PostBack` on card returned from `OnTeamsMessagingExtensionSelectItemAsync` with following code:
[code]
but when I press the button in browser I'm getting following error and nothing happens:
[code]
Am I sending the card wrong or is it application issue?

[2020-04-22 12:07] MayankKT opened #5812 "Bot running fine on emulator, but issue while deploying on Azure."
Bot running fine on emulator, but issue while deploying on Azure.

Access denied due to invalid subscription key or wrong API endpoint. Make sure to provide a valid key for an active subscription and use a correct regional API endpoint for your resource.
lubuild succeeded
Getting Luis accounts...
Return invalid status code while gettings luis accounts: 401, error message: StatusCode: 401, ReasonPh

[2020-04-22 18:03] tonyanziano commented on #5811
@dmvtech can you take a look at this please?

[2020-04-22 18:06] dmvtech commented on #5811
Kyle is looking into this one.

[2020-04-22 18:08] tonyanziano commented on #5811
@dmvtech awesome thanks, going to close this is a dupe of https://github.com/microsoft/BotBuilder-Samples/issues/2335

[2020-04-22 18:08] #5811 closed

[2020-04-22 18:21] dmvtech commented on #5812
hi @MayankKT

To clarify; the bot and LUIS works in emulator, but after publishing to azure, LUIS fails with that error?

Are you able to query LUIS via API, browser or curl? Is all configuration information within your configuration file, or are you using app service configuration settings instead/as well?

[2020-04-23 04:47] MayankKT commented on #5812
To clarify; the bot and LUIS works in emulator, but after publishing to azure, LUIS fails with that error?

Are you able to query LUIS via API, browser or curl?

Is all configuration information within your configuration file, or are you using app service configuration settings instead/as well?

{
  "MicrosoftAppId": "XXXXXXXXXXXXXX",
  "luis": {
    "name": "XXXXXXXXXXX",
    "authoringRegion": "

[2020-04-23 12:54] neetgupta7 opened #5815 "Extracting QnA from a AAD protected Url"
We have an FAQ page in an AD protected application. It means user has to login into that url with their organization account to access the content. And we want to use that url to call QnA maker api to extract the content from that url. Today when we try to directly extract the content it says no content found. Please let me know how can this achieved.

[2020-04-23 17:25] Zerryth commented on #5804
Closing due to inactivity

[2020-04-23 17:25] #5804 closed

[2020-04-23 18:19] tonyanziano commented on #5815
@neetgupta7 , thank you for opening this issue.  For product behavior, how-to, or general understanding questions, please use Stackoverflow.

https://stackoverflow.com/search?q=bot+framework

[2020-04-23 18:19] #5815 closed

[2020-04-23 18:41] stevengum commented on #5785
Closing as this has been completed.

[2020-04-23 18:41] #5785 closed

[2020-04-23 18:44] jwiley84 commented on #5798
@vunhutien Did you get the double welcome after making no changes to the sample? Or did you make any code changes?

[2020-04-23 20:10] jwiley84 commented on #5798
@oliver1191

Circling back around to the package: Teams wasn't supported in Bot Framework until 4.6.0. Packages older then that are going to have unexpected behaviours. Please update to AT LEAST 4.6.0.

Additionally, use `OnTeamsMembersAddedAsync` instead of `OnMembersAddedAynsc`, as the first method is specifically built to handle the fact that it's going to fire twice, once for the bot and once

[2020-04-23 20:42] jwiley84 commented on #5799
@andreatosato

Concerning resetting teams: Teams hold their own version of history, using a conversationID that's generated on the Teams side when your bot is first added to Teams. It connects the user to another user, in this case the bot. Uninstalling the bot in teams and resinstalling will not change this, as it's connected to your bot ID. The only way to 'reset' teams is to create a new bot, w

[2020-04-23 20:57] andreatosato commented on #5799
I have fully deployed bot.
I can't redeploy bot every errore, so I need hard reset for team bot.
I think that this feature is very important for developer, rd and test apps.

[2020-04-23 21:40] dmvtech commented on #5812
Thank you. Having config info in a file should be enough (you don't have to setup config in the app service). I was just curious if you had configured it elsewhere (not an issue if not).

I'm curious if you run the bot locally, but debug against the deployed bot using [Ngrok](https://blog.botframework.com/2017/10/19/debug-channel-locally-using-ngrok/) if that would help. (if it fails, you can debu

[2020-04-23 23:08] sidmore opened #5816 "Add Support For TeamsTaskModule Type activities"
## Using TeamsTaskModule acitivity

Teams taskmodule Invoke are of 2 types
* "task/fetch"
* "task/submit"

which is used to identify what kind of TaskModule activity it is and could be used to implement specific OnFetch/OnSubmit handlers.

## For example I have these helper methods to figure out the type of TaskModule activity:

`public static class ActivityEx
    {
        private const string Fe

[2020-04-24 09:49] sergiosanchezd commented on #5573
Hi @Virtual-Josh, I'm trying to do the same, deploy an echo bot and make some test on group conversations. Did you change something special on the echo bot to make this works?
Thanks in advance,

[2020-04-24 17:15] Virtual-Josh commented on #5573
Hi @sergiosanchezd,

I'd recommend looking at the teams samples, specifically the teams-conversation-bot to start, located [here](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples).

[2020-04-24 20:22] Virtual-Josh commented on #5799
Hi @andreatosato,

I'd like to try to clarify something. You don't have to redeploy your bot every time there's an error within Teams. There's only one (to my know knowledge) issue where you have to fully redeploy. That situation is if the bot is not running the very first time you install it within Teams the bot ID becomes corrupted. This is a known issue within Teams and I don't believe it's pos

[2020-04-24 20:57] andreatosato commented on #5799
My scenario:
My collegue test multi turn qna in bot.
I attach GitHub repo info in previous comment.

My collegue found errors after each bot response.
I test same question on webchat and work very well.
I test same question on my test bot conversation in Teams (same bot on same tenant) and work very well.

It Is not first scenario than Teams conversation break for single user. I think that Teams c

[2020-04-25 09:56] tigertop commented on #2920
Hello,
We have built a custom WhatsApp and Viber adapters that we are using in production and considering to publish them open source to Bot Builder Community. If you have any interest let me know and may be I can share the code before the open source release.

[2020-04-25 10:51] huan commented on #2920
Hi @tigertop ,

It's great news for the community that you have a production solution for the WhatsApp and Viber adapters!

I'm strongly interested in it, please let me know how to involve in it.

P.S. I'm the author of the [Wechaty](https://github.com/wechaty/wechaty) (the most popular Node.js Chatbot SDK for WeChat), and I have created an adapter for connecting the BotFramework with Wechaty: [bo

[2020-04-25 23:59] carlosscastro commented on #5809
This will not get in for R9 because the service deployment selection is priority based right now and this is not high enough priority. I personally agree that this does not justify the churn so close to release. Moving to R10.

[2020-04-26 00:10] rodrigobrito commented on #2920
Hi @tigertop! Can you share the code with the community? I am working on a project related to COVID-19, and I have this need for integration.

[2020-04-26 06:33] bbrucechen commented on #4044
i wonder is skype web control still working?my app project use this thing but it's not work anymore.thanks for you reply

[2020-04-26 09:56] bbrucechen commented on #4044
hello，i wonder is skype web control still working?my app project use this thing but it's suddenly not work anymore.any help would be appreciated

[2020-04-27 16:19] Ada-develop opened #5817 "SDK 4.8 C# . HTTP status code Unauthorized"
## This is not for asking questions or filing bugs

To get help with an issue with your bot

## Issue
*Hello community, need yours help! I have successfully deployed Bot to Azure, but now I faced  problem, when I set Microsoft AppID and Password to appsetting.json file, and deployed to Azure , my Bot faced a problem HTTP Unauthorized. I attach pics, any suggestions how can I fix this problem?

##

[2020-04-27 16:20] cleemullins commented on #5817
Deleting issue as the screen shot has is full of your keys. Please resubmit without keys.

[2020-04-27 17:55] mdrichardson commented on #5803
@samadhansalgar Were you able to reproduce the issue? If so, please provide the appId and timestamps.

[2020-04-27 21:52] #5495 closed

[2020-04-27 21:57] benbrown commented on #5495
I think this is a really big deal in terms of the maturation of the SDK in production environments!

[2020-04-28 02:24] cleemullins opened #5819 "All non-draft PR's must have an Issue tagged with the current release cycle"
Proposal for R10:

All PR's must have an issue # associated with them. ("Fixes #XYZ").
The issue needs to be tagged to the current sprint ("R8, R9, R10"). The current sprint should be defined somewhere common, such as a github file in the root of the repo, or in the Botframework-sdk repo. Ideally it's in the same repo, so forking and branches all continue to work for patch releases.

[2020-04-28 18:08] tithu opened #5820 "Message sending get failed after uploading app manifest to Teams"
![image](https://user-images.githubusercontent.com/22043776/80521841-4e0a5600-89a9-11ea-9424-3de01c963ee3.png)

After uploading app manifest, I am not able to send messages to bot. Can anyone help on this?

Thanks in advance.

[2020-04-28 19:17] gabog opened #5821 "Update SkillDialog to handle all activity types"
SkillDIalog only allow message and event activity types to start a skill, this DCR is about:

- Removing that restriction so any activity type can be used.
- Adding a mechanism so developers and extend the dialog and add restrictions if needed.
- Adding support to handle Invoke activities (it will require special logic).

## Tracking Status
**Dotnet SDK** (Tracked in [issue](https://github.com/mic

[2020-04-28 23:17] #5794 closed

[2020-04-29 04:56] samadhansalgar commented on #5803
@mdrichardson  -  Thanks for helping us, This issue is fixed after re-deployment.

[2020-04-29 04:56] #5803 closed

[2020-04-29 18:01] hcyang commented on #5820
Hi @dmvtech , please take a look. Thanks.

[2020-04-29 18:05] dmvtech commented on #5820
@tithu Are you able to debug this bot locally using [NGROK](https://blog.botframework.com/2017/10/19/debug-channel-locally-using-ngrok/)?

If not, are any errors showing underneath Teams in Channels section in the bot services resource?

[2020-04-29 18:12] dmvtech commented on #5820
Did you create the manifest 'by hand' or did you use app studio? If you used app studio, did you select the bot from the dropdown?

[2020-04-29 18:16] Nayar commented on #1465
![Screenshot_20200429_221415](https://user-images.githubusercontent.com/454815/80631562-f5998e00-8a66-11ea-96c2-fbbffb3f52ac.png)
Do you see this? After i got this permission, mine works now

[2020-04-29 18:27] tithu commented on #5820
Hi @dmvtech , issue is resolved. Problem was, I was using different App-ID of Bot channel regestration.

[2020-04-29 18:27] #5820 closed

[2020-04-29 22:58] clearab opened #5822 "Cleanup 'TenantIdWorkaroundForTeamsMiddleware'"
There's a lot of "temporary fix" verbiage around this. We should investigate what was temporary and clean this up.

See: 'TenantIdWorkaroundForTeamsMiddleware'

NOTE: This can probably be safely removed - it looks like the workaround is no longer required. We should verify that Teams is sending the tenantId correctly in all cases (almost certain it is), and if so this middleware could be deprecate

[2020-04-30 06:19] chrimc62 commented on #5435
@cleemullins not sure why the python issue is assigned to me.

[2020-04-30 13:45] Vigneshramkumar opened #5823 "Infra requirements for hosting bot framework on-premise"
Hello,
We are going to implement the bot framework using the bot channel registration in Azure portal. Kindly let us know the minimum infra requirements for deploying the bot framework application both on development and production environment. Thanks in advance.

Regards,
Vignesh.

[2020-04-30 14:01] tgleigh202 commented on #5823
Hello,
Answer is below.. Until Microsoft product / development team updates.

There is no full-fledged Microsoft solution to achieve this.

But, you can make few manipulations to get it done. Nevertheless, I would suggest to have a look at ChatterBot. It's exactly what you need.

Note: To access Bot on internet, you will need to expose Local Web Server via DNS.

Steps:

Get LUIS, Azure Bot registe

[2020-04-30 19:00] dmvtech commented on #5823
Hi @Vigneshramkumar If you are going to be hosting the bot application on premises, but using bot channels registration in Azure and using the channel connector services provided through that, you don't need much. The issue that @tgleigh202 linked is good and points out the basics (ssl/certs, whitelisting IPs if needed).

Remember, a bot is just a web application that communicates with the connect

[2020-04-30 19:07] #5502 closed

[2020-04-30 20:16] #5810 closed

[2020-05-01 00:44] clearab opened #5825 "Add webhooks to escalate to Teams Support team"
The Teams Support team would like us to add a webhook to our repositories so that we can more easily escalate issues their way. Essentially after we set this up we'll be able to tag an issue with "MSTeams-Developer-Support" and it will be added to their tracking system and they should respond (we can talk SLAs with them as well).

Help needed to setup:
We need help with following steps to setup it

[2020-05-01 03:17] Zerryth commented on #5810
It needs to be said publicly: @EricDahlvang  - a true Avatar
![image](https://user-images.githubusercontent.com/35248895/80779155-9d729280-8b1f-11ea-9a83-02851f8d333e.png)

[2020-05-01 04:11] cleemullins commented on #5810
My grandmother used to tell me stories about the old days, a time of peace when the Avatar kept balance between the Java Tribes, Python Kingdom, Lisp Nation, and COBOL Nomads. But that all changed when the Javascripters attacked.

________________________________
From: Ashley Finafrock <notifications@github.com>
Sent: Thursday, April 30, 2020 8:18:08 PM
To: microsoft/botframework-sdk <botframework

[2020-05-01 11:51] alexander-potemkin commented on #2091
+1

[2020-05-01 16:40] cleemullins commented on #5655
@stevengum Updates?

[2020-05-04 08:44] matthiasdilger opened #5827 "Include user's current IANA time zone for precise date calculations"
**Is your feature request related to a problem? Please describe.**
The activity interface already includes the user's local timestamp, so the user's timezone offset is known. But this is not precise enough when trying to calculate past or future dates for this user in UTC (e.g. when user is entering a date & time). Example: User is in UTC-06:00, uses locale en-US and enters a future/past date & ti

[2020-05-04 15:53] carlosscastro commented on #5796
Closing as the tests are done. There are some failures, but they come from the bot / host / skills rathr than from the test itself.

[2020-05-04 15:53] #5796 closed

[2020-05-04 16:11] #5798 closed

[2020-05-04 17:46] dmvtech commented on #5823
Hi @Vigneshramkumar Do you need any further assistance on this or have any more specific questions?

[2020-05-04 21:51] chrimc62 commented on #5435
Closing since it looks to be done.

[2020-05-04 21:51] #5435 closed

[2020-05-04 22:36] matthiasdilger commented on #5827
fwiw, it seems someone already had the right idea https://github.com/microsoft/botframework-sdk/blob/master/specs/botframework-activity/botframework-activity.md#local-timezone