[2017-05-11 03:10] GaiaAnn opened #2742 "[FormFlow] confirm select "No" doesn't show up choice option list"
## System Information (Required)

* **SDK language - C# **
* **SDK version - 3.5.5.0 **
* **Development environment - localhost **

## Issue Description

I set default value in formflow.
I want to show confirm dialog without ask question. Until user choose "NO" then show option list.
This option list can go back to any question and change answer.(Example Code Case 1)
Like this picture
<img width="

[2017-05-11 04:50] Malith1994124 commented on #2690
Solution???

[2017-05-11 09:21] gmiloveyou opened #2743 "[Skype] Activity.Locale & Mention do not work on Skype"
## Pre-flight checklist
- [ ] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [x] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)

SDK language : C#
SDK v

[2017-05-11 09:34] wtam commented on #2716
Thanks Steve but I do need to proactive close the session if its been idle say 15 mins  instead of waiting the use to interact next time.  So I do need a timer.  So far the Redis Cache work for me so I'll keep it .  Perhaps we may close this issue but if someone else in future asking the same for idle session timeout, perhaps is a feature request?

And just FYI when I use the node-redis, I've no i

[2017-05-11 11:27] upendra1588 commented on #2736
@nwhitmont if i write <br/><br/> then it is considering only one line break,

[2017-05-11 11:46] daltskin opened #2744 "Microsoft.Bot.Builder unable to deserialize the LUIS response"
## Pre-flight checklist
- [ ] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [X] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)

* **SDK language C#**
*

[2017-05-11 11:53] mahmoudahmedarafa opened #2745 "[BotBuilder] Problem in running CSharp Samples"
I tried running a sample from [CSharp Samples](https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Samples). I got the following [error](https://postimg.org/image/6wpfol22t/).

So how should I fix this?

[2017-05-11 13:06] wtam commented on #2716
Please ignore my comment above restify server and http://undefined etc.

I will raise a new question in a separate thread on how to get SkypeCall Bot with LUIS intent as I couldn't find the same any IntentDialog (in ChatBot botbuilder) from the botbuilder-calling/lib/botbuilder.d.ts

[2017-05-11 13:11] daltskin commented on #2744
ok, resolved this.  Although the nuget packages were up to date the project references properties were not.  So although, I was using 3.8.0 nuget package, the Microsoft.Bot.Builder reference was stuck on 3.1.0.  Completely removing the Bot Builder nuget package, deleting the references, then re-adding the nuget package & project references resolved the issue.

[2017-05-11 13:11] #2744 closed

[2017-05-11 13:12] wtam opened #2746 "[Question] SkypeCall Bot with LUIS intent"
I'm working on merging the existing chat bot + Luis with the skype call bot and found that there's no IntentDialog (support in ChatBot botbuilder) from the botbuilder-calling/lib/botbuilder.d.ts  So how do we do it?  At the same time the Bot portal has a new setting Speech recognition priming with LUIS.  So there must be a way to stick it together but I can't find any document.

[2017-05-11 13:13] pranavv commented on #2619
My use case is if user adds a bot using add to slack,  I need to read all the users info and email  present in team and send welcome message. , if use with extended scopes then redirect uri to our sit isn't working. You may check this by adding scopes in slack and check add to slack button present in the bot framework portal

[2017-05-11 15:55] Urzzza opened #2747 "NullRef in MicrosoftAppCredentials.RefreshTokenAsync(...)"
## System Information (Required)

* C#
* master

## Issue Description

In MicrosoftAppCredentials.RefreshTokenAsync(...) the check about successful status code is after the reading of content. In error case, content is null, which leads to NullReferenceException.

## Example Code
code taken from MicrosoftAppCredentials.RefreshTokenAsync(...):

    using (var response = await httpClient.PostAsync(O

[2017-05-11 16:25] stevengum97 commented on #2741
If you're redirecting from the first waterfall step, I would say to just send the *args* object from your `'search'` intent.  This object will have been ran through LUIS and have what you're looking for. I've rewritten parts of your code below.

[code]

[2017-05-11 16:37] nwhitmont commented on #2746
@wtam are you using C# or Node SDK?

[2017-05-11 16:55] stevengum97 commented on #2720
@mahmoudahmedarafa, you're right, I'll look into why users are allowed to do so.

Just to gather more information, did you visit the [LUIS docs](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/Home) before or during this issue?

[2017-05-11 16:59] stevengum97 commented on #2726
As the question has been answered I'm closing this issue.

[2017-05-11 16:59] #2726 closed

[2017-05-11 17:26] #2716 closed

[2017-05-11 17:43] fivesquared commented on #2737
session.send("Hi! I'm your personalized HR workflow bot. Just say 'start' to see how I can help you automate your HR workflows!");
      session.endConversation();

[2017-05-11 18:28] stevengum97 commented on #2671
So disregard my earlier comments about having methods that automatically parse down to the canonical form,  the list entities are the same as regular entities (except for the addition of canonical forms).

Having a method as previously described is a duplicate of the entity finding methods already in the SDKs,  more importantly users are able to manually extract the canonical forms themselves with

[2017-05-11 18:31] neaorin opened #2748 "[Feature Request] Allow passing context into WhileDialog<T> and similar control flow dialogs"
## System Information (Required)

* **SDK language - C#**
* **SDK version - 3.8.0.0**
* **Development environment - localhost**

## Issue Description

The `Microsoft.Bot.Builder.Dialogs.Chain.WhileDialog<T>` class is supposed to help create a while loop when doing Dialog chaining. And it works nicely in simple scenarios:

[code]

However, the test function only receives what the initial dialog ret

[2017-05-11 18:34] mahmoudahmedarafa commented on #2720
Yes I read LUIS docs in order to build my app.

[2017-05-11 18:45] Noc2 commented on #2713
Another update:

- On the new skype android preview everything works fine.
- I tried various settings for proactive messages, but nothing helped.

[2017-05-11 19:16] nwhitmont commented on #2724
This is not a bug, its a feature. The web chat module currently does not support out-of-the-box storing and loading of chat histories.

Closing as duplicate of feature request [BotBuilder-WebChat #365 - Supply history on startup](https://github.com/Microsoft/BotFramework-WebChat/issues/365)

[2017-05-11 19:16] #2724 closed

[2017-05-11 20:30] quuack opened #2750 "Bot Nodejs prompt.choice response fires automatically without waiting for user input"
## System Information
* **SDK language** Node
* **SDK version:** "botbuilder": "3.7.0"
* **Development environment**  localhost & Azure Web App Service
* **Node.js + npm version** v7.4.0

## Issue Description
Whenever I use prompt.choice the system triggers a first automatic response to the server. It then ignores the first choice from the user and displays the options again.

Session.endDialog();

[2017-05-11 20:47] Stevenic commented on #2750
My suspicion is that the issue isn't in `/jobPickList` it's in the dialog that calls it. It looks like you're you're calling `beginDialog('/jobPickList')` and then calling `endDialog()` right after. In 3.9 I'm planning changes that will catch issues like this.

[2017-05-11 22:57] Stevenic commented on #2746
The issue is that you don't ever get the raw user text with a call bot. You have to use the speech recognition features of the calling SDK.  If you look at the sample provided you can see how to create a menu that sort of works like an IntentDialog would but you pretty much have to create menu trees when building a call bot.

[2017-05-11 23:17] stwel opened #2752 "[Facebook Messenger] Form dynamic choices bubbles not showing in Facebook Messenger but work elsewhere."
---------------------------

## System Information (Required)

* **SDK language (C#)**
* **SDK version 3.5.5**
* **Development environment - localhost | Azure App Service**

## Issue Description
Short description of the problem:
I have a form that asks the user to chose from 1 or 2 options. Those options come from an integer list.
It all works fine and dandy in WebChat and Emulator but the bubble

[2017-05-11 23:31] nwhitmont commented on #2750
@quuack Did @Stevenic answer solve your problem? If not, post your entire bot code so we can help you debug.

[2017-05-11 23:45] nwhitmont commented on #2709
@nickcordrey Any updates on VideoCard does not play video in Skype mobile iOS?

[2017-05-11 23:45] nwhitmont commented on #2708
@nickcordrey any updates on AudioCard does not play audio in Skype mobile iOS?

[2017-05-11 23:48] Stevenic commented on #2741
So I've been asked before how to build a prompt based on a LUIS model and with v3.8 that we released this week it's now easier then ever.  Here's how to use the new prompt customization system to build a custom LUIS prompt:

[code]

Now to use your custom prompt you can call it like any other prompt:

[code]

Anytime the prompt recognizes an intent from your model (other than None) it will return

[2017-05-11 23:51] nwhitmont commented on #2118
reopen if you're still experiencing the issue

[2017-05-11 23:51] #2118 closed

[2017-05-12 01:53] wtam commented on #2746
@Stevenic, thank again for your clarification and I guess I should also look into the Real-Time Media Calling SDK too but its hasn't had nodejs yet.  Will wait for it.  Ideally I like to get the Bot to recognize the speech of the Skype voice call like LUIS and handle its with different intent instead of Menu work flow like IVR.

[2017-05-12 03:27] sjwaight commented on #565
Now officially supported as a Channel. Details here: https://msdn.microsoft.com/en-us/skype/skype-for-business-bot-framework/docs/overview

[2017-05-12 06:55] Nisthar commented on #1306
@pcostantini So, there's no way to get the username if the user didn't set it already?

[2017-05-12 07:29] sayyednazeer commented on #2414
Any update @nwhitmont @dandriscoll @carlosscastro @willportnoy

[2017-05-12 08:52] wolf0x commented on #2741
emm... actually, its not what I want...let me clarify again.

`
on App.js file, I used Luis to match the utterance and if it find the the entity belongs to Type, then begin a new dialog, like what I did in below,
intents.matches('search', [
    function(session, args, next) {
        var request = builder.EntityRecognizer.findEntity(args.entities, 'TYPE');
        if (!request) {
            sessi

[2017-05-12 10:47] SunSeaAndPalms commented on #328
Seems like we are experiencing a very close one. BotFramework is able to switch between intents unless NONE intent is received. If NONE it defaults to LAST intent.

[2017-05-12 12:59] quuack commented on #2750
@Stevenic thanks for the quick reply! That was my first guess as well.
I'm still trying to fully understand how the Dialog stack works.  By closing the parent Dialog I thought it would be removed from the stack, preventing it from interfering with the conversation moving forward but leaving the new Dialog take the "lead". Thought this could prevent random replies.

Should I try replaceDialog inste

[2017-05-12 13:02] quuack commented on #2750
Attaching the entire Controller Code for your review
[code]

[2017-05-12 13:27] tompaana opened #2753 "[Bug] Bad extension methods of IMessageActivity - cause exception when called"
## System Information (Required)

C#; Version 3.8.0

## Issue Description

Methods `HasContent` and `GetMentions` of `IMessageActivity` cause `StackOverflowException`, because "An extension method with the same name and signature as an instance method will not be called." In other words, the extensions methods (with the same name) are never called. Instead the method call gets stuck in a loop.

##

[2017-05-12 13:42] bgarr33434 opened #2755 "[Feature Request] Channel for living avatars"
We have multiple customers that have asked us to add a living avatar to their SILVIA AI driven chatbot, which is handled by the MSFT Bot Framework.

[2017-05-12 15:44] stephlocke commented on #2726
Dang, I'm a day late to the party but it'd be super neat to get more info on using LUIS with bots built in qnamaker and added as bot services.

This is tantalising .... am I right in thinking they're integrated by default?
![image](https://cloud.githubusercontent.com/assets/6452610/26005861/4d5d2434-3732-11e7-8f51-967fc8a3de29.png)

[2017-05-12 15:57] stevengum97 commented on #2741
`EntityRecognizer.findEntity()` only looks for entities by type in an array. It doesn't parse an utterance to look for entities itself.  To call LUIS inside of a waterfall and take that response to use in your next step, you'll need to do a call like you're already doing in your code.

[2017-05-12 16:40] stwel commented on #2752
Problem fixed by updating the SDK to  version 3.8.0. Special tnx to Ezequiel Jadib at Stack overflow.
Everything works fine now :) http://prnt.sc/f72n90

[2017-05-12 16:40] #2752 closed

[2017-05-12 16:47] nwhitmont commented on #2755
@bgarr33434
1. Are you using C# or Node SDK?
2. Please provide more detail about your request. For example, what is a "living avatar"? Can you include a screenshot or link to information about this?

[2017-05-12 16:59] bgarr33434 commented on #2755
Thanks, we are a MSFT shop, so C#.  Just browsing the web, I see multiple
software companies that allow you to create avatars.  Certainly Unity3D,
but then that rules out an HTML5 website for the bot.  But really, being
able to have any avatar connected to the Bot Framework would be a huge hit,
I think.  By living, I mean lip synch.  Thanks.

Regards,

Brian Garr, COO
Cognitive Code
561.271.4750
@

[2017-05-12 18:24] quuack commented on #2750
@nwhitmont just tested @Stevenic solution, removing session.endDialog() after calling the new Dialog, and it worked.

I guess we can close this up?

[2017-05-12 18:24] #2750 closed

[2017-05-12 18:24] quuack commented on #2750
Thanks guys!

[2017-05-12 21:00] colbylwilliams opened #2756 "[Direct Line] Why isn't the source for Microsoft.Bot.Connector.DirectLine in this repo (or another public repo)?"
Curious why the source for the Microsoft.Bot.Connector.DirectLine nuget package isn't public?

I understand it's mostly generated code from the swagger file, as @dandriscoll mentions in issue #2309, but I did take the time to recreate the direct line client via the swagger file and found that Bot.Connector.DirectLine has a good bit of code added on top of what's generated by autorest.

The source

[2017-05-12 21:09] nwhitmont commented on #2756
@colbylwilliams Perhaps you are looking for [Microsoft/BotFramework-DirectLineJS](https://github.com/Microsoft/BotFramework-DirectLineJS)?

[2017-05-12 21:19] colbylwilliams commented on #2756
@nwhitmont No, I don't think so.  I'm looking for the [Microsoft.Bot.Connector.DirectLine NuGet package][0].  It looks to be made up mostly of code generated by autorest.

[0]:https://www.nuget.org/packages/Microsoft.Bot.Connector.DirectLine

[2017-05-12 21:42] nwhitmont commented on #2755
@bgarr33434 you mean like [Gravatar](https://en.gravatar.com/) for individual users?

[2017-05-12 22:06] bgarr33434 commented on #2755
I found one that looks promising.  Botlibre.com.  I can actually send their
bot right to my ai through a proxy, but it would be better if there was a
direct connect, like with Facebook and Slack.

Regards,

Brian Garr, COO
Cognitive Code
561.271.4750
@garrbrian

click here to set up a call/meeting http://doodle.com/brianlgarr

On Fri, May 12, 2017 at 5:42 PM, Nils <notifications@github.com> wrote:

[2017-05-12 22:11] stevengum97 commented on #1903
@tlloydukdev  @nansravn, just to clarify, what are the two of you looking for?

@piyush-dholariya:

So if the user gives an answer that doesn't properly answer the question, they should be directed to another dialog? The next time they're asked the question their utterance should go to LUIS for parsing?

[2017-05-12 22:38] msft-shahins commented on #2753
@brandonh-msft can you take a look? It seems that desired extension methods are not being resolved and as a result HasContent and GetMentions will end up in an infinite loop causing the `StackOverflowException`.

[2017-05-12 22:59] willportnoy commented on #210
@zmqcherish yes, there was an improvement to reuse the previous wait when a new one was not specified: https://github.com/Microsoft/BotBuilder/commit/9732296235a274bcc429f7e647b46fc9d1f3d989

[2017-05-12 23:00] nwhitmont commented on #2756
@colbylwilliams No it's not open source - it is the swagger.json file run through autorest.

[2017-05-12 23:00] willportnoy commented on #2225
@alokraj68 we've improved the oauth refreshing logic to refresh oauth tokens on both 401 and 403 because some channels were incorrectly reporting a 403 instead of just a 401.

[2017-05-12 23:00] #2225 closed

[2017-05-12 23:02] willportnoy commented on #2332
@arthurtina724 that's up to you.  if you don't wrap those calls, they will propagate up the dialog stack.

[2017-05-12 23:08] colbylwilliams commented on #2756
@nwhitmont  I know that it's not open source, and that it's mostly  the swagger file run through autorest.  But as I mentioned in my earlier comments that's not all it is.  There are several interfaces, extension message, in him's, etc. added on top of what autorest generates.

My question was **why** is it not open source? And if that question can be answered, who owns it?

[2017-05-12 23:25] colbylwilliams commented on #2756
@nwhitmont Not sure this issue should've been closed as you didn't answer my question, and at the very least it's a feature request.  I'm a Microsoft employee as well so even if it's internal - please let me know who owns that nuget package so I can work with them.

[2017-05-13 00:35] colbylwilliams commented on #2641
@msBot1111 As in the link you were following, to start a new conversation you'd call:
[code]
However, you want to cache the `conversation.ConversationId` locally so you can use it to reconnect to the existing conversation and get all the messages in the existing conversation - no need to save them all yourself:

[code]

[2017-05-13 00:38] wolf0x commented on #2741
@stevengum97 I tried to renew a new LUIS instance on the procgosh.js file, in one of waterfall steps, however this doesnt work as return Null, or will error to me with "module has been used" so, how can i use LUIS to recognize the result.response? if I renew a second intents instance,

[code]

[2017-05-13 03:38] alokraj68 commented on #2641
But how much of the conversation will be stored in this method? And right
now am experiencing restart issues in my bot. Wont that affect such storage?

On 13-May-2017 6:05 AM, "Colby Williams" <notifications@github.com> wrote:

@msBot1111 <https://github.com/msbot1111> As in the link you were
following, to start a new conversation you'd call:

var conversation =
directLineClient.Conversations.Star

[2017-05-13 05:29] zmqcherish commented on #210
@willportnoy thank you  very much

[2017-05-13 07:15] CLOUD9111 commented on #2732
With the new modifications made to the Bot framework platform it no longer throws the exception, if only an API is provided for automatic FB page binding with the FB channel; things will be perfect.

[2017-05-13 15:58] JeevaJose opened #2757 "Saving Bot Activities in Azure SQL Database not working."
I am working on new bot feature to save the bot activities in azure data base. I have done all the required configuration as mentioned on the bot framework web site https://blog.botframework.com/2017/05/05/Saving-Bot-Actions-On-Azure-Sql-Server/. If I send the message from emulator it was failing  and throwing the error message.

Looks the below code functionality is incomplete. I think  LogAsync

[2017-05-13 17:30] EricDahlvang commented on #2757
Try

`return Task.FromResult(0);`

[2017-05-13 18:18] aakashvit commented on #1943
I written code for custom storage (Mongo db ) code    [code with description ](https://github.com/aakashvit/BotBuilder-MongoDB)

`"use strict";
var Consts = require('./Consts');
var mongodb_1 = require("mongodb");
var replaceDot_Atrate = require("./replaceDot");
var mongoDbConnection = require('./connection.js');
var conf = require('../config');
var conversational_collname = conf.db.conversational

[2017-05-13 21:48] amitbend opened #2758 "[Question] action?library:dialog payload is broken"
## Pre-flight checklist

- [ x ] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------
## System Information (Required)

* *Node**
* **SDK version 3.8.1**
* **Development environment - localhost **
* **Node.js 6.10.3  npm version 3.10.10 **

## Issue Description

I'm setting up quick r

[2017-05-14 05:42] tom-moveworkforward opened #2759 "Can't get conversation members list. Failure due to: ThreadNotFound. with Node/core-GetConversationMembers example when I try it in skype/msteams"
## System Information (Required)

* **Node**
* **3.8.1**
* **Azure Bot Service**
* **Node.js 6.9.5 + npm version 3.10.10**

## Issue Description
Error for msteams and skype. Works fine in Slack and web-chat.

## Example Code
https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/core-GetConversationMembers

## Steps to Reproduce
just deploy example from https://github.com/Microsoft/BotBu

[2017-05-14 05:58] iganbold commented on #1721
@palmerabollo Your method worked for me. Big thanks

[2017-05-14 06:19] aaronfranke commented on #936
How do you use the existing text-to-speech functionality?

[2017-05-14 06:33] luizcarlosfaria opened #2760 ".NET Core 2 Preview - TypeLoadException about AuthenticationOptions (changes from Microsoft.AspNetCore.Authentication 1.1.0.0 to 2.0.0.0)"
## System Information (Required)

* **SDK language: C#**
* **SDK version: 3.6.0-alpha**
* **Development environment - localhost**
* **Runtime:  .NET Core 2.0.0-preview1-005977**

## Issue Description

The assembly _**Microsoft.Bot.Connector.AspNetCore, Version=3.6.0.0**_ has a reference to _**Microsoft.AspNetCore.Authentication, Version=1.1.0.0**_.
 At new version _**Microsoft.AspNetCore.Authentic

[2017-05-14 08:06] lornatumuhairwe commented on #1465
I too I'm facing a similar problem but my bot was approved already but still replying only me. What should I do?

[2017-05-14 10:19] JeevaJose commented on #2757
now it is working.

[2017-05-14 10:44] jerrak0s opened #2762 "[Feature Request] IBotDataBag getAll"
* **SDK language (C#/Node)**

## Issue Description

My suggestion is a function to get all userData as a List when this is needed.
[IBotDataBag](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Builder/ConnectorEx/IBotDataBag.cs)

## Expected Behavior

Get all userData with one function as a List.

[2017-05-14 12:33] JeevaJose opened #2763 "BasicQnAMakerDialog throw an error when I call from RootDialog"
I am using “Microsoft.Bot.Builder.CognitiveServices.QnAMaker” to invoke the QNA service. I calling the  BasicQnAMakerDialog inside the Rootdialog and when hit the line “var message = await argument;” throwing a error, the error msg has given below. Please let me know what is the correct implementation I have to follow to fix the issue

“invalid type: expected Microsoft.Bot.Connector.IMessageActivi

[2017-05-14 12:35] amitbend commented on #2757
@JeevaJose Please close the issue

[2017-05-14 14:47] ejadib commented on #2763
Remove the `context.Wait(MessageReceivedAsync);` from the `MessageReceivedAsync`. You are forwarding messages to another dialog so you don't need to wait on this one.

[2017-05-14 15:40] #2757 closed

[2017-05-14 16:04] palmerabollo commented on #2030
@Stevenic any chance you could add `session.options` to the typings?

[2017-05-14 17:02] cahann commented on #2720
@mahmoudahmedarafa, the application prevent labeling the parent cause it some cases its important to label the parent

e.g.  Parent-->Email, Children--> CCemail & ToEmail.

In context of adding contact you will need the parent ; Add [email] to contact list
While for sending an email you will need the children ; Send [ToEmail] & [CCemail]

[2017-05-14 18:53] #2763 closed

[2017-05-14 19:09] mahmoudahmedarafa commented on #2720
OK. So as I understand, if we queried by the utterance: "Add [email] to contact list", we won't get any entities from this query, yet the utterance itself will still describe an intent that we train our model on.

In case of adding email, it doesn't concern us whether it was a "CCemail " or a "ToEmail" one; we are concerned more about adding this email anyway.

Please reply back if I got something

[2017-05-14 21:39] m-ehxan opened #2764 "Bot builder SDK C# does not support the new datetimeV2 time in LUIS entities in (builtin.datetimeV2.timerange)"
Bot builder SDK version 3.5.9 does not support the new datetimeV2. when are we expecting next relase.
I want to extract start and end time values in following JSON:

`{
      "entity": "from 4 pm to 6 pm",
      "type": "builtin.datetimeV2.timerange",
      "startIndex": 69,
      "endIndex": 85,
      "resolution": {
        "values": [
          {
            "timex": "(T16,T18,PT2H)",

[2017-05-15 00:06] pvanaarde commented on #1439
Hi,
I am having the same problem. Markup works for the normal messages sent back to the user, but doesn't work for the text on a HeroCard. StringBuilder also doesn't work.
This is using the emulator.
Thanks,
Pieter

[2017-05-15 01:39] tahazayed commented on #565
@sjwaight: The Skype for Business Bot Framework channel is currently supported for Skype for Business Online. Skype for Business Server 2015 is not supported.
However I support Skype for Business Server 2015

[2017-05-15 01:51] pchoudhari commented on #2726
They are not integrated by default, but share some underlying technologies. We are looking at a closer integration.

The example above shows how to use LUIS intent to invoke QnMaker service. Other considerations for a knowledge bot are here: https://docs.microsoft.com/en-us/bot-framework/bot-design-pattern-knowledge-base

[2017-05-15 09:18] mahmoudahmedarafa opened #2765 "[BotBuilder] can't view bot reply on emulator"
I could get a reply from the bot, yet I get the following exception:

![capture](https://cloud.githubusercontent.com/assets/22199398/26050735/108ac54a-3960-11e7-82cd-ee3bdebf9c64.PNG)

Any help?

[2017-05-15 10:13] trantung2704 opened #2766 "[Facebook Messenger] How can I get Referral params?"
Hi

I want to init some data for facebook user base on link they use to access my bot. I found this article:
https://developers.facebook.com/docs/messenger-platform/referral-params
but I dont know how to get referral params from bot framework (C#). My purpose to set user data base on link like this: https://m.me/{BOT_ID}?ref={SOME_MESSAGE}

Any help will be appreciated.

Thanks

[2017-05-15 11:46] stephlocke commented on #2726
Thanks for the info @pchoudhari

[2017-05-15 12:31] kev-slater-mhr opened #2767 "Calling Session.endConversation with a message, sometimes results in the message not being delivered to the client. This behaviour appears to be sporadic in nature."
#botframework Node.js

Version Information

Node.js v6.3.1
botbuilder v3.7.0

Description of Issue

Calling Session.endConversation with a message, sometimes results in the message not being delivered to the client. This behaviour appears to be sporadic in nature.

Diagnosis

The issue appears to be caused in Session.sendBatch whereby the current outstanding batched messages are referenced by a lo

[2017-05-15 13:39] tom-moveworkforward commented on #2759
Issue solved, in my case I was trying to request this information for direct bot<->user channel. When you request same info from group channel it works fine.

P.s I guess output error should be more precise, describing that this rest api works only for group chats

[2017-05-15 13:39] #2759 closed

[2017-05-15 13:39] seca23 opened #2768 "[FormFlow] Invalid dates accepted"
## Pre-flight checklist
- I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)

* **SDK language (C#)**
* **3.4.0**

## Issue Description

I have noticed the following dates are accepted and converted as follows when the last day of the month is incor

[2017-05-15 15:44] amitbend commented on #2758
Tested it once again and i can confirm this issue appeared since  v3.8.0 (works fine on v3.7.0)

[2017-05-15 16:46] nwhitmont commented on #2762
@jerrak0s are you using .NET or Node SDK?

[2017-05-15 16:48] nwhitmont commented on #2765
@mahmoudahmedarafa are you using .NET or Node SDK for BotBuilder?

[2017-05-15 16:52] nwhitmont commented on #2767
@kev-slater-mhr Can you upgrade botbuilder to v3.8.1 and let me know if you still see the issue? Thx

[2017-05-15 17:16] nwhitmont commented on #2764
@m-ehxan Can you upgrade BotBuilder to the current version (v3.8.x) and let me know if you are still experiencing the issue?

[2017-05-15 17:19] nwhitmont commented on #2760
@luizcarlosfaria Can you upgrade [BotBuilder nuget package](https://www.nuget.org/packages/Microsoft.Bot.Builder/) to the latest version (v3.8.x) and let me know if you are still experiencing the issue?

[2017-05-15 17:23] jerrak0s commented on #2762
@nwhitmont .NET

[2017-05-15 17:28] jerrak0s opened #2769 "[.NET SDK] Herocard bug - not responding always"
## System Information (Required)

* **SDK language (C#)**
* **Development environment -Azure Bot Service**

## Issue Description

I have built a bot and it displays a herocard as a response to a command. I have noticed that if I try to send the command in a new conversation with the bot, the bot does not respond with an answer, but if I send another command first, then the bot will answer with the

[2017-05-15 17:43] nwhitmont commented on #2769
@jerrak0s Can you post the code that reproduces this issue?

[2017-05-15 18:06] nwhitmont commented on #2769
@jerrak0s What version of BotBuidler nuget package are using? Current version is 3.8.0.

[2017-05-15 18:07] mahmoudahmedarafa commented on #2765
@nwhitmont I solved problem by updating my VS to VS 2017.

[2017-05-15 18:07] #2765 closed

[2017-05-15 18:11] fcioffi commented on #741
Sorry, I have the same problem on nodeJS SDK can you suggest a solution language independent?

[2017-05-15 18:21] nwhitmont commented on #2758
@amitbend can you post your complete bot code that reproduces this issue? thx

[2017-05-15 18:37] nwhitmont commented on #1530
@Stevenic Any updates on the number recognizer fix?

[2017-05-15 19:13] m-ehxan commented on #2764
@nwhitmont  I have update the nuget package to **(v3.8.0)** and i still can not access the start and end time values. In SDK **Resolution** is defined as `public IDictionary<string, object> Resolution { get; set; }` and there is no way to directly access the values of  **timex** , **type** , **start** or **end** keys

[2017-05-15 19:33] nwhitmont commented on #2737
@fivesquared I set up a demo bot and connected it to the Skype channel, but so far I'm unable to reproduce your error.  I tried sending regular text messages like the one you posted, as well as cards, but I'm not seeing any errors generated by the Skype API calls.

Can you share your complete bot code so I can help you debug?

[2017-05-15 19:56] luizcarlosfaria commented on #2760
Trying to install this package, i have received a issue about System.IdentityModel.Tokens.Jwt version:
Project uses (>= 5.1.3) , Referenced Library (Microsoft.Bot.Builder) uses 4.0.4.403061554.

This occurs on same environment.
[code]

[2017-05-15 20:29] eyrdor commented on #2732
Hi.
I am facing a similar issue, however, rather than a 500 error, when I try to save the page information,
the page displays a Bad request 400 error:
"Oops, something went wrong: Failed to register with Facebook with: BadRequest ID: hMIlBpLVqlk=".

I have never authorised the Facebook channel.
The "Delete channel" button is also not accessible.
The Facebook Page has not been published. - I tried

[2017-05-15 20:45] apuyana commented on #741
@fcioffi The fix I made was in the creation of the replay message I completed the values of ServiceUrl and ChannelId that were null and not copied.

I am now using the Microsoft.Bot.Builder nuget package 3.5.1 and do not have this problem.

Hope this helps

[2017-05-15 21:33] nwhitmont commented on #2240
@michaelvol We have just released a bunch of improvements to Bot Framework at //Build last week.  Including improved channel connector, updates to .NET and Node SDKs, and additional channel support.  [More info in this blog post.]()

Are you still experiencing the issue when using botbuilder@3.8.x?

[2017-05-15 21:43] nwhitmont commented on #2576
Hi @yamifr07 We have just released many updates to the Bot Framework including a complete re-write of the prompts system available in botbuilder@3.8.x NPM module.

Are you still experiencing the issue after upgrading botbuilder to v3.8.x? To upgrade use `npm upgrade --save botbuilder`.

If you are still having issues after upgrading the botbuilder module, can you post your complete bot code? This

[2017-05-15 22:03] dkushner opened #2770 "[MS Teams] There was an error completing this request due to an internal channel failure."
I'm unsure if this is the appropriate place to post this question. If the Stack Overflow tag would be more appropriate (since this is not a specific issue with the library itself), just let me know and I'll remove it.

I'm encountering some intermittent issues sending messages to my bot via the Teams channel. The BotFramework dashboard shows the error mentioned in the title with no additional info

[2017-05-15 22:56] nwhitmont commented on #2770
@dkushner are you using .NET or Node SDK for BotBuilder?

[2017-05-15 22:59] carloscba opened #2772 "Select choice from prompt by text input"
## System Information

* SDK Platform: Node
* SDK Version: 3.8
* Development Environment: localhost

## Issue Description

We found that many users don't click on button of Prompts.choice and writes the text of label. When users write with accents don´t work fine.

## Example Code

[code]

## Steps to Reproduce
1. Run previous code
2. Don't click option and write label of button without accent ("s

[2017-05-15 23:29] dkushner commented on #2770
@nwhitmont, the Node SDK. Just curious, why might that be relevant if the bot messages forwarded from Teams never reach my server?

[2017-05-15 23:46] dreijer opened #2773 "[MS Teams] Bot no longer works after upgrading Bot.Builder from version 3.5.5 to 3.8.0"
I posted this on the Bot Framework DL and was requested to create an issue here for tracking:

## System Information (Required)

* SDK Pletform: .NET
* SDK Version: 3.8.0
* Development Environment: Azure App Service

## Issue Description

I just upgraded the Microsoft.Bot.Builder .NET package for my MS Teams bot from version 3.5.5 to 3.8.0 and now I can no longer communicate with my bot through Te

[2017-05-15 23:47] nwhitmont commented on #2772
@carloscba I made a small update to your code it's working fine for me in the emulator.

[code]
Here you can see it working correctly:
<img width="1036" alt="screen shot 2017-05-15 at 4 43 33 pm" src="https://cloud.githubusercontent.com/assets/3075047/26084052/20c9cfd6-398e-11e7-8739-2cc8aea8efd9.png">
<img width="1076" alt="screen shot 2017-05-15 at 4 43 10 pm" src="https://cloud.githubuserconten

[2017-05-15 23:51] nwhitmont commented on #2773
@dreijer Thanks for reporting this issue.  We are investigating.

[2017-05-15 23:53] carloscba commented on #2772
@nwhitmont I am sorry for my mistake on description. The issue occurred when user write with accent.

"si" != "sí"

in this case don't work fine

[2017-05-16 00:38] msft-shahins commented on #2770
@dkushner can you share your bot id? Also when was the last time that you experienced these intermittent failures?

[2017-05-16 00:40] msft-shahins commented on #2753
builder 3.8.1 should fix this issue.

[2017-05-16 00:40] #2753 closed

[2017-05-16 00:43] msft-shahins commented on #2773
@dreijer can you share your bot id? I cannot repro this issue using bot.builder 3.8 and bot.builder 3.8.1.

[2017-05-16 02:06] carloscba commented on #2772
I found a little solution and close this issue.

Thank for your help @nwhitmont

[2017-05-16 02:07] #2772 closed

[2017-05-16 03:31] fkatada commented on #2770
I am using .NET and I am also getting the same warnings "5/16/2017, 11:28:53 AM	There was an error completing this request due to an internal channel failure"

[2017-05-16 06:08] kev-slater-mhr commented on #2767
And there lies the crux of the problem. We’re dealing with the end of a conversation so no other messages after the last are going to be put forward to the batch, so that final message is lost in the ether.

[2017-05-16 06:13] kev-slater-mhr commented on #2767
...& thank you both for the quick response! I'll hold off re-testing until the fix is pushed.

[2017-05-16 07:53] amitbend commented on #2758
@nwhitmont this is a very simplified  version

**on index.js**
`bot.library(require('./library1'));`

`bot.dialog('/',[(session,args,next)=>{
     let msg = new builder.Message(session).text(["main dialog"])
     msg.addAttachment(new builder.HeroCard(session).buttons([builder.CardAction.imBack(session, "action?library:dialog", "➡")]))
    session.endDialog(msg);
}])`

**on library1.js**

`const l

[2017-05-16 08:27] jerrak0s commented on #2769
@nwhitmont v3.5.5

[2017-05-16 09:27] strategist922 commented on #2278
@cahann, I have similar question, I remember LUIS has batch mode API to retrain or to correct/add uncorrect/new  intent / entities , if I only use batch mode API to do these purpose, still unecessarily?

[2017-05-16 10:02] nrobert commented on #2766
Hi,

I successfully tried to do the same.
Weird point first: note that the value is not at the same place if you previously talk to the bot or not...

So I'm doing the following:
- defined a `FacebookChannelData` class, where RefParameter is the parameter you want, in order to get these fields from the json message received

[code]

- so getting the ChannelData of the facebook incoming message is

[2017-05-16 16:20] dreijer commented on #2773
@msft-shahins Here you go: 28321538-71cf-4a9c-8b5b-dc90e0e0fd3a

[2017-05-16 17:00] nwhitmont commented on #2753
Thanks! @msft-shahins

[2017-05-16 17:02] nwhitmont commented on #2770
@dkushner Can you post your bot ID and the time that you saw this error? Thx

[2017-05-16 17:08] dreijer commented on #2773
For what it's worth, I just upgraded to 3.8.1 and now I can talk to the bot through Teams again.

[2017-05-16 17:22] nwhitmont commented on #2773
@dreijer Thanks for the update. Glad its working again.

[2017-05-16 17:22] #2773 closed

[2017-05-16 17:27] nwhitmont commented on #2770
@fkatada We just released a patch for this in [BotBuilder nuget v3.8.1](https://www.nuget.org/packages/Microsoft.Bot.Builder/) - let me know if this fixes your issue.

[2017-05-16 17:39] RomanMolchanov2017 opened #2774 "[Skype] HueBot sample: Skype bot cannot connect to the service using skype"
I followed instructions for registering a bot (https://docs.microsoft.com/en-us/bot-framework/portal-register-bot) and deploying a real-time audio-video bot (https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-real-time-deploy-visual-studio) to run the HueBot sample (https://github.com/Microsoft/BotBuilder-RealTimeMediaCalling/tree/master/Samples/HueBot).
But after my bot was

[2017-05-16 18:27] dkushner commented on #2770
@nwhitmont, sure, sorry about the delay.

c0e43964-f989-4893-b6a2-7836815526ee

[2017-05-16 18:56] Stevenic commented on #2767
@kev-slater-mhr could you install 3.8.2 and let us know if that resolves the issue?

[2017-05-16 18:58] nwhitmont commented on #2758
@amitbend Here is an example that demonstrates how to use the Library feature to invoke a dialog: https://github.com/Microsoft/BotBuilder/tree/master/Node/examples/basics-libraries

For example, in `localeTools.js` [L33](https://github.com/Microsoft/BotBuilder/blob/master/Node/examples/basics-libraries/localeTools.js#L33) there is an example starting the dialog by name:
[code]

I'm not sure why yo

[2017-05-16 19:11] Stevenic commented on #2758
@amitbend For the action bindings that use the "action?" syntax you need to add a "named action" that matches your binding. So in your example library this should work:

[code]

That should let you push the dialog onto the end of the stack using `action?library:dialog`. With that said we've started recommending that people use `triggerAction()` instead, paired with a simple imBack or postBack. So:

[2017-05-16 19:17] nwhitmont commented on #2774
@RomanMolchanov2017 Are you using .NET or Node SDK for BotBuilder?

On initial inspection, your messaging endpoint should be: `https://dataartskypebots.cloudapp.net/api/messages`

[2017-05-16 19:22] nwhitmont commented on #2758
thanks for the example! @Stevenic

[2017-05-16 19:24] Stevenic commented on #2741
@wolf0x you can call LUIS manually using `builder.LuisRecognizer.recognize()` so something like:

[code]

[2017-05-16 19:28] Stevenic commented on #2633
I see... you're thinking of an angular style service. I'd probably prefer personally to see that as a layer above the core SDK but we're starting to think about what a 4.0 version of the SDK might look like so that's worth folding into the thought process.

[2017-05-16 19:53] amitbend commented on #2758
Thanks for the answers @Stevenic  and @nwhitmont

So first of all @nwhitmont the most obvious situation to use it is from Persistent menu, using the method you've described requires me to build many dummy dialogs at the root of the bot to redirect to the libraries, and it doesn't seems like a good practice.

I can't remember where i saw exactly an example using this, but In the docs it is written

[2017-05-16 20:39] cahann commented on #2720
No, I mean that in case of adding you need to label the parent which is "Email" but in case of sending its important to label the children. Keeping in mind that the children has all the characteristics of the parent, its an is-A relationship

[2017-05-16 21:02] msft-shahins commented on #2769
@jerrak0s can you attach debugger and debug your bot? Based on your report, it seems that your bot code is hitting an exception and you see the `internal server error`. Let us know if this is an exception thrown by SDK.

[2017-05-16 21:05] dkushner commented on #2770
@nwhitmont: And for the record, we are seeing this errors continuously. The bot will be perfectly functional for a whole conversation or so and then suddenly stop responding at all right in the middle. Server never receives a single message.

Sometimes the server will receive the messages several minutes later. Sometimes they just never show up.

[2017-05-16 21:13] mtebbs opened #2775 "[Node SDK] Authorization header addition removes User-Agent header"
## Pre-flight checklist
- [x] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)

* SDK Pletform: Node
* SDK Version: 3.8.1
* Development Environment: localhost with bot emulator

## Issue Description

`ChatConnector. addAccessToken()` replaces head

[2017-05-16 21:16] iMicknl commented on #2775
Did you already try the 3.8.1 update? I believe it was already fixed in this commit, however @Stevenic should be able to confirm for sure.
https://github.com/Microsoft/BotBuilder/commit/7997381d9dfc586e30e199c9757bb4c06a0b441c

[2017-05-16 21:21] mtebbs commented on #2775
Ah, I mis-typed the version, this issue exists in 3.8.1 due to this commit :) I updated the original report from 3.8.0 -> 3.8.1.

[2017-05-16 23:21] nwhitmont opened #2776 "[Feature Request] Animation Card - Support for GIFV format"
delete me

[2017-05-16 23:24] #2776 closed

[2017-05-16 23:25] Stevenic commented on #2775
Just published 3.8.3 which contains a fix.

[2017-05-16 23:26] nwhitmont commented on #2775
Thanks @Stevenic !

[2017-05-16 23:30] nwhitmont commented on #2775
@mtebbs @iMicknl  Fix published in botbuilder@3.8.3 - let me know if you're still seeing the issue after upgrading.

[2017-05-16 23:30] Stevenic commented on #2758
@amitbend I'll have to try to reproduce why the action binding isn't working but in the meantime you can create a `triggerAction()` with a reg ex that looks for something like `trigger=library:dialog` which should achieve exactly the same thing.

[2017-05-16 23:34] nwhitmont commented on #2770
@dkushner thanks for the update. I've passed this along to MS Teams rep to investigate.

[2017-05-16 23:45] mtebbs commented on #2775
Tested connection to bot built with 3.8.3 from emulator and via channel. No more warning. Thx.

[2017-05-16 23:46] nwhitmont commented on #2775
@mtebbs excellent!

[2017-05-16 23:46] #2775 closed

[2017-05-17 01:40] arthurtina724 commented on #2702
I also get the following error in the sms channel (portal) and does not get thrown in the bot app: "SMS undelivered. Unknown error. Media may have exceeded mobile operator size limit."

[2017-05-17 03:14] chitrang89 commented on #2752
Another thing I noticed in relation to above was, if you send a message with buttons and if you follow it with another text message, it makes the buttons disappear. For a while I thought it was a bug only to realize FB needs to sort it out :)

[2017-05-17 05:39] josephktcheung opened #2778 "[Known Issue] Prompts.confirm doesn't work properly in Chinese (zh-Hans)"
## Pre-flight checklist
- [x] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)

* SDK Pletform: Node
* SDK Version: 3.8.3
* Development Environment: localhost

## Issue Description

Botbuilder cannot recognise "是" as 1 of the yes expressions.

##

[2017-05-17 06:20] mohdkhan786 commented on #467
@tomlm :  I always have issue with bot emulator (V3.5.29) when running a bot within my company which is using some external api like LUIS in bot code. Without LUIS i can debug and run bot using emulator.

Same code with LUIS works fine outside my company on my personal laptop with same emulator.

Is there any way to find what is being blocked within my organization when using LUIS.

FYI,  LUIS cod

[2017-05-17 06:56] wolf0x commented on #2741
@Stevenic great and thanks, thats what I want.. tkx again.

[2017-05-17 07:11] juanreyesv commented on #672
Hi @dandriscoll I'm experiencing this same issue as described on the first message from @Samurais. Basically I can see the messages I sent to the API but not the ones that should be coming back from the Bot.

Do I need to specify the Bot that I want to talk to anywhere? Or will the secret key take care of this?

I'm not getting any error responses on any API calls, just no messages from my Bot, on

[2017-05-17 07:40] kev-slater-mhr commented on #2767
I've tested under 3.8.2 (Direct Line [React Native Android Client], Microsoft Teams, Skype, Slack & Web Chat) and can confirm its fixed the issue.

Thank you for the quick and speedy response + all your help on the matter.

[2017-05-17 07:42] fkatada commented on #2770
@nwhitmont i updated  BotBuilder v3.8.1 and i still get the same errors

[2017-05-17 07:43] #2767 closed

[2017-05-17 08:03] jerrak0s commented on #2769
@msft-shahins in skype i get this reponse
`There was an error completing this request due to an internal channel failure.`

[2017-05-17 08:55] CXuesong opened #2780 "[Code Examples] There might be a bug in AnnotatedSandwichBot sample"
## Pre-flight checklist
- [ ] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [x] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)

* SDK Platform: .NET
*

[2017-05-17 09:03] Urzzza commented on #2747
Thanks

[2017-05-17 09:03] #2747 closed

[2017-05-17 10:30] trantung2704 commented on #2766
You made my day :). Thank you so much!

[2017-05-17 11:46] Frank-Bursitzke opened #2781 "[MS Teams] Inactive fields in FormFlow cause bot to fail in MS Teams"
## Pre-flight checklist
- [ ] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [x] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)

* SDK Platform: .NET
*

[2017-05-17 12:07] nrobert commented on #2766
You're welcome.
Maybe you can close this issue?

[2017-05-17 12:08] #2766 closed

[2017-05-17 13:54] mahmoudahmedarafa commented on #2720
@cahann Sure. There is no conflict between my vision and yours; I am taking about the intuition of labeling entities in the above scenario that you presented.

[2017-05-17 14:30] lweibin opened #2782 "[Skype SMBA] Encountered error when used Adaptive Cards"
## Pre-flight checklist
- [ ] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [ ] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)

* SDK Pletform:  Node?

[2017-05-17 15:21] mahmoudahmedarafa opened #2783 "Skip confirmation step with FormBuilder"
During running my project, after bot's reply to user message, it replies with a confirmation message like the image below:

![msbot](https://cloud.githubusercontent.com/assets/22199398/26161494/5c312988-3b24-11e7-8213-ad297e5972e6.PNG)

Here is the "IForm<T>.BuildForm" I am using:
[code]

The '[Microsoft.Bot.Builder.FormFlow.FormBuilderBase< T >.Confirm](https://docs.botframework.com/en-us/csharp/

[2017-05-17 15:31] ctstone commented on #2561
@nwhitmont, this is now causing random bot hang ups when running on Azure App Services. It wasn't a big deal when it only affected my local dev environment, but if AAD and Azure App Services are not in sync, this is a bigger problem.

[2017-05-17 15:51] jferr commented on #2203
Related question.  Is there a way to ask microsoft questions?  On the support page I see that stackoverflow is the recommended community support path but we  have questions that we'd like to ask microsoft that we don't want public.  Is there a microsoft email support address for the ms bot framework?

[2017-05-17 18:26] splutz commented on #1073
I am POSTing to this endpoint, but my bot still isn't unfurling the message text.

https://slack.com/api/chat.postMessage?token=MY_TOKEN&channel=MY_CHANNEL&text=https://www.my-app.com&unfurl_links=true&unfurl_media=true

@jameslew Am I missing something here?

[2017-05-17 18:45] EricDahlvang commented on #672
Hi @juanreyesv,

 The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/issues) repo  is the preferred platform for submitting **bug fixes and feature requests**.  

Please post your code in a question on Stack Overflow, so th

[2017-05-17 20:16] nickcordrey commented on #2782
Unfortunately Skype apps don't yet support Adaptive cards - we're working on them for a future release.

[2017-05-17 20:16] #2782 closed

[2017-05-17 21:02] RichMoeMSFT commented on #2640
@Malith1994124  [Here](https://msdn.microsoft.com/en-us/microsoft-teams/botsmessages#action---invoke) is the invoke documentation.

[2017-05-17 21:51] stevengum97 commented on #2741
Closing issue

[2017-05-17 21:51] #2741 closed

[2017-05-17 22:09] stevengum97 commented on #1903
@tlloydukdev, @nansravn, @piyush-dholariya:
I believe that what you're asking for was recently discussed in issue [2741](https://github.com/Microsoft/BotBuilder/issues/2741).

[2017-05-18 01:22] lweibin commented on #2782
ok.. thanks for you answer. But I have tried to use in ms teams, it is the same error above.

[2017-05-18 01:23] lweibin commented on #2782
@nickcordrey
ok.. thanks for your answer. But I have tried to use in ms teams, it is the same error above.

[2017-05-18 01:40] nwhitmont commented on #2782
MS Teams also does not support adaptive cards yet.

[2017-05-18 01:49] lweibin commented on #2782
ok, I got it. I want to confirm that:
1. when ms teams support adaptive cards?
2. which channel support adaptive cards?

thanks!

[2017-05-18 01:50] lweibin commented on #2782
@nwhitmont
ok, I got it, thanks for help. I want to confirm that:

1.when ms teams support adaptive cards?
2.which channel support adaptive cards?
thanks!

[2017-05-18 04:24] MuraliMohanEdiga opened #2785 "[Question] How to display data in Table format in BOT"
Hi,

Can some one please help me out in displaying the data table format in BOT as below

![table](https://cloud.githubusercontent.com/assets/28749004/26186524/ebfadc4a-3baf-11e7-9576-b8cf764fcdd2.png)

[2017-05-18 06:09] RaoVenka commented on #2782
Recently Microsoft introduced Bot Framework Adaptive Cards. I want to know this is in preview stage or implemented.
Which channel supports Bot Framework Adaptive Cards like Skype,Facebook,Microsoft Teams,kik,Slack,Telegram.

[2017-05-18 06:49] wolf0x opened #2787 "[Emulator] Failed to upload attachment after upgrade SDK of Bot"
## System Information (Required)

* SDK Pletform: Node?
* SDK Version: 3.8.3
* Development Environment: localhost

## Issue Description

When I upgraded Bot framework SDK to version 3.8.3, it is not possible to upload attachment in Emulator

## Example Code

[code]

## Steps to Reproduce
1. execute the above js code
2. talk to the bot via emulator and it asked "What's your phone number?"
3. try to

[2017-05-18 06:55] ne00346536 opened #2788 "[Question] Masking/Encrypting data for password entry"
Hi ,

In bot we have to authenticate the user with user id and password.  Can someone please let me know how to mask the password data while entering the details.

Thanks.

[2017-05-18 08:31] mcinnes01 opened #2789 "Skype for business channel connection issue"
Hi

I am struggling to get the Skype for Business channel to work

http://stackoverflow.com/questions/44022578/how-to-connect-a-bot-to-skype-for-business

I've followed the instructions:

1. Download and install the Skype for Business Online Connector module
2. Open Windows PowerShell as Administrator and run the following:

3. Enter your Admin credentials
4. Run the following cmdlet:

I got our t

[2017-05-18 08:39] #2789 closed

[2017-05-18 08:41] mcinnes01 commented on #2789
You need to target the domain:

sip@botname@company.onmicrosoft.com

It appears it will not work if you target your custom domains, this should be made clear in the instructions.

[2017-05-18 11:34] yamifr07 commented on #2576
Yes, still having issue. I think it's easy to reproduce but here is my code:
`	bot.dialog('/menu', [
		(session) => {
			builder.Prompts.choice(session, 'Bots disponibles:', 'Horoscope|News', {listStyle: builder.ListStyle.button});
		},
		(session, results) => {
			let dialog;
			switch(results.response.index) {
				case 0:
					dialog = 'horoscope';
					break;
				case 1:
					dialog = 'news';

[2017-05-18 14:32] chris31389 commented on #2347
@eanders-MS Did this ever get fixed?

[2017-05-18 14:32] nwhitmont commented on #2785
@MuraliMohanEdiga Are you using .NET or Node SDK for BotBuilder?

[2017-05-18 14:36] nwhitmont commented on #2788
@ne00346536 are you using .NET or Node SDK for BotBuilder?

[2017-05-18 14:58] stevengum97 commented on #2785
@MuraliMohanEdiga which channel are you trying to create a table on?

[2017-05-18 15:29] mahmoudahmedarafa opened #2790 "[BotBuilder] Property of label text in the form"
I was wondering what is the property that is responsible for editing label text shown below:
![csharp](https://cloud.githubusercontent.com/assets/22199398/26210341/8895ef9c-3bef-11e7-932a-55b17d450a72.png)

I am running "[AnnotatedSandwichBot](https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Samples/AnnotatedSandwichBot)" sample.

[2017-05-18 15:36] #2790 closed

[2017-05-18 16:29] shahkalpesh23 opened #2791 "gh"
## Pre-flight checklist
- [ ] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [ ] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)

* SDK Pletform: .NET or

[2017-05-18 17:19] #2791 closed

[2017-05-18 18:12] matvelloso commented on #2309
@dandriscoll FYI @angelobelchior seems to be trying to use this in a PCL project without success. It seems this Nuget is still native only.

[2017-05-18 18:26] maximilianlorent opened #2792 "FormFlow Template attribute throws exception for fields of type string"
## System Information

* SDK Pletform: .NET
* SDK Version: 3.8.1
* Development Environment: localhost

## Issue Description

Today I updated BotBuilder to version 3.8.1. Unfortunately since then I get the following exception for an FormFlow dialog which before was running like a charm.

I identified that this error is raised when calling the .Build() method on the FormBuilder due to the following

[2017-05-18 18:49] Stevenic commented on #2787
You're asking for a phone number using `Prompts.text()` but uploading an attachment. I'm not sure I follow. It's waiting for you to send text not an attachment. It's possible that the new prompt system is a little more strict then the old prompt system and is rejecting empty text.

[2017-05-18 18:52] Stevenic commented on #2787
I just double checked the new code and it is enforcing that the user actually sent text but I personally think that's a good thing. You can use `Prompts.attachment()` if you want to receive an attachment. You can also add a custom global recognizer that looks for attachments to be uploaded at any time.

[2017-05-18 19:06] cesarvarela commented on #2138
@tomlm I'm interested in the same, can you help us?

[2017-05-18 19:45] ronak-itility opened #2794 "[Feature Request] Cleaner code to add ISuggestedActions in builder.Message()"
### Pre-flight checklist
- This request arise from an earlier issue on emulator handles the ```builder.Message(session).suggestedActions``` at  `issue` [#200 on BotFramework-Emulator](https://github.com/Microsoft/BotFramework-Emulator/issues/200)

### System Information (Required)

* SDK Platform: Node
* SDK Version: 3.8.3
* Development Environment: localhost + BotFramework-Emulator

### Issue Des

[2017-05-18 20:35] nwhitmont commented on #2778
@josephktcheung Thanks for reporting. This is a known issue & we're working to get a patch out to fix it soon.

[2017-05-18 20:49] nwhitmont commented on #2774
@RomanMolchanov2017 are you still having issues after updating your messaging endpoint to `https://dataartskypebots.cloudapp.net/`?

[2017-05-18 21:00] #2758 closed

[2017-05-18 21:02] ZOXEXIVO commented on #2251
Open issue please. Issue appeared today for Skype

[2017-05-18 21:36] cesarvarela commented on #1531
I'm interested in knowing the status of this too.

[2017-05-18 21:40] matvelloso opened #2795 "[Telegram] Conversation.ResumeAsync not working on Telegram"
I think I can repro this fairly consistently:

Take a bot that uses conversation.ResumeAsync that works on other channels. Try it on Telegram. You will get this error:

"Unknown botId <username>"

Where username is the Telegram’s user name, not the actual bot ID. Somewhere these values are getting mixed. I found this by accident when folks told me authbot wasn’t working on Telegram anymore. I beli

[2017-05-18 21:50] RomanMolchanov2017 commented on #2774
HueBot sample, I pointed to in my issue, didn't have code to process text messages at all at the moment I opened this issue. So this message endpoint doesn't have sense. This bot only can receive calls. I received the clarification from the Microsoft/BotBuilder-RealTimeMediaCalling team: the bot can't use a self-signed certificate with the private key (.pfx) but needs a certificate from trusted CA

[2017-05-18 21:50] #2774 closed

[2017-05-18 21:52] SheriEllisMSFT commented on #2690
There is not currently a way to do this. You are invited to post this as a feature request on [UserVoice/Teams](https://microsoftteams.uservoice.com/forums/555103-public/category/182881-developer-platform). Suphatra, from the Product Team, reads all comments and ideas, and will keep you updated on status. While you're there, vote and comment on other ideas as well! We appreciate your feedback.

[2017-05-18 21:55] #2690 closed

[2017-05-18 22:01] nwhitmont commented on #2785
To display a table in your message, set your message `textFormat` property to `xml` and use a HTML string as your message text.

Example (Node SDK):
[code]

[2017-05-18 22:01] #2785 closed

[2017-05-18 22:11] #2787 closed

[2017-05-18 22:24] amitbend commented on #2758
@nwhitmont @Stevenic is it fixed?

[2017-05-18 22:57] SheriEllisMSFT commented on #2770
Just wanted to drop a quick update @dkushner. We're still actively investigating this issue. I'll report back when we know more.

[2017-05-18 23:07] nwhitmont commented on #2737
@fivesquared reopen if you're still experiencing the error.

[2017-05-18 23:07] #2737 closed

[2017-05-18 23:21] pcostantini opened #2796 "[Node SDK] Changes in ActionSet.addDialogTrigger breaks default triggerAction / onSelectAction behavior"
## System Information (Required)

* SDK Platform: Node
* SDK Version: 3.8.0->3.8.3
* Development Environment: All

## Issue Description

The triggerAction / onSelectAction behavior has changed in 3.8.0.

The following change (https://github.com/Microsoft/BotBuilder/commit/d2f02998dc8da4570a65f4d73b45ab833b70ddb0#diff-3b7c8f16348d79be25452957ec091cc8R95)
changes the dialogId to 'trigger([DIALOG_ID]

[2017-05-19 01:11] wolf0x commented on #2787
@Stevenic your answer is right, I have to use prompts.attachment... thats very trouble to my code, as I allow user to upload attachment file anytime during any conversation.. so what is your solution details for add a custom global recognizer? how to do it?

[2017-05-19 01:32] wolf0x opened #2798 "[Question] Why Debug can see the object properties but print "undefined" finally?"
* SDK Pletform: Node?
* SDK Version: 3.8.3
* Development Environment: localhost

## Issue Description

Expect to print the object properties, it is visible on debug watch window but print "undefined" finally when used on code.

## Example Code

[code]

## Steps to Reproduce
1. execute the code
2. the first time ask for name, you type "any"
3. then it ask for years, you type "0" or any digital
4. a

[2017-05-19 03:20] bgarr33434 commented on #2755
Neils, here is an example that I created on BotLibre.  It is a bot
framework, like  MSFT Bot Framework, but they offer avatars as well.
http://www.botlibre.com/chat?id=17020065&embedded=true&application=118737051139544836

Note that the avatars are pretty rudimentary, and the lip synching is
awful, but you get the idea.  We have clients waiting for this capability
with our bots from MSFT bot frame

[2017-05-19 04:41] ne00346536 commented on #2788
@nwhitmont   I am using Node SDK bot builder.

Thanks

[2017-05-19 05:34] MuraliMohanEdiga commented on #2785
@nwhitmont ..Its working for  me to display data in table format. Thank you so much

[2017-05-19 08:27] asubbotin opened #2799 "[Question] Authorization for Microsoft App ID failed?"
Hello,

I have a problem. Bot Builder upgraded from version 3.1.0 to 3.8.1.

Code:

[code]

And i have error "Authorization for Microsoft App ID [AppID] failed with status code Unauthorized and reason phrase 'Unauthorized'".

If i use constructor as:
`var connector = new ConnectorClient(new Uri(activity.ServiceUrl));`
and app.config contains:
[code]
then sending message is working.

Before upgrade

[2017-05-19 08:59] msBot1111 opened #2800 "[Question] Multiple users getting the same answer on different queries at the same time"
My Bot is implemented in c#, and the main dialog is LUIS Dialog. So I've detected when different users in the same time ask the bot different queries, the bot detects just one query from the one user and replays the same answer to the both users. I've integrated the bot in skype and in my xamarin app. So, how can I detect more queries in the same time. I'm using chain dialog like this:
  internal

[2017-05-19 09:01] RaoVenka opened #2801 "AdaptiveCards"
## Pre-flight checklist
- [ ] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [ ] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)

* SDK Pletform: .NET or

[2017-05-19 09:03] RaoVenka commented on #2801
Recently Microsoft introduced Bot Framework Adaptive Cards. I want to know this is in preview stage or implemented. Please let me know as of now any of these channels like Skype,Facebook,Microsoft Teams,kik,Slack and Telegrams are  supported  Bot Framework Adaptive Cards. Please reply asap.

If suppose any of those above channel support adaptive cards?can you please list out channels.

[2017-05-19 09:06] wolf0x opened #2802 "[Question] Waterfall step x of y will be hang on randomly after upgraded to 3.8.3"
## System Information (Required)

* SDK Pletform: Node?
* SDK Version: 3.8.3
* Development Environment: localhost

## Issue Description

Waterfall step x of y will be hang on randomly after upgraded to 3.8.3

## Example Code

[code]

## Steps to Reproduce
1. it is a quite simple waterfall code, you can build yourself
2. when you use many prompts.confirm at the waterfall steps, you program will be

[2017-05-19 09:33] Magic73 commented on #2406
I got the same issue, and I can't find a solution.
Using attributes initialization will fail the authentication, using both methods (appid+password or credentialprovider)

[2017-05-19 14:13] srozga opened #2803 "[Question] Adaptive card Unknown Attachment Type"
Hi there.
Using C# BotBuilder 3.8.0 and Microsoft.AdaptiveCards 0.5.0.  Was excited to get my hands on the Adaptive Cards feature. I noticed off the cuff that the Skype does not support these yet.

Request to:
https://smba.trafficmanager.net/apis/v3/conversations/29:1c1Lw-kXULSSpl-AfpPSC-EIyTXHvb8Ls24OgliMuh1Q/activities/1495202872305
Response:
{"error":{"code":"BadArgument","message":"Unknown att

[2017-05-19 15:15] EricDahlvang commented on #2799
You need to add a call to
MicrosoftAppCredentials.TrustServiceUrl(serviceUrl);
This is done automatically when you are replying to a message, but not when using the ConnectorClient

[2017-05-19 15:26] einari opened #2804 "BotBuilder crashes on Mono when starting a LuisDialog."
## Pre-flight checklist
- [X] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [X] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)

* SDK Pletform: .NET
*

[2017-05-19 16:11] ronak-itility commented on #1406
@eanders-MS @irynabond  So it seems its has no relation with bot running locally. Urls are pointing to directline.***  and not localhost.
Q1: How does it work with local bot? Can the conversation handled local ? [I guess not]
Q2: Where is this conversation happening ? And where the bot logic to be placed so that directline conversations can be handled ?

[2017-05-19 16:55] EricDahlvang commented on #2801
Hi RaoVenka,

The entire Microsoft Bot Builder is in Preview stage.  The current status of Adaptive Cards as of 5/18/2017 is:

•	Emulator – full support
•	WebChat – Full support
•	facebook – render to image + limited mapping to  buttons
•	Slack – Image + limited mapping to buttons
•	Kik – render to Image + limited mapping to  keyboard
•	Telegram – Render to Image + limited mapping to keyboard
•	SM

[2017-05-19 16:55] #2801 closed

[2017-05-19 16:56] nwhitmont commented on #2795
@matvelloso are you using .NET or Node SDK for BotBuilder?

[2017-05-19 17:01] matvelloso commented on #2795
C# in this case

[2017-05-19 17:26] nwhitmont commented on #2804
@msft-shahins @willportnoy Is Mono on macOS an officially supported platform for BotBuilder .NET SDK?

[2017-05-19 17:43] nwhitmont commented on #2802
@wolf0x can you post your complete bot code?

[2017-05-19 17:48] nwhitmont commented on #2804
@einari Currently we do not officially support BotBuilder .NET SDK on Mono.

[2017-05-19 17:48] #2804 closed

[2017-05-19 17:54] nwhitmont commented on #2804
relates to #572

[2017-05-19 18:26] xitij commented on #2067
Bump. I'm getting the same issue with the node.js sdk.

[code]

[2017-05-19 18:57] nwhitmont commented on #2798
@wolf0x if you want to persist data across dialogs, use `userData` and not `dialogData`. Nothings wrong with the variable, its designed to work that way.

Also, you're not checking if the years input is greater than 10, you're checking if it is equal to 10 or equal to 11. That's not the same as checking if a number is greater than 10.

[2017-05-19 18:57] #2798 closed

[2017-05-19 19:08] nwhitmont commented on #2788
@ne00346536 What is your sign-in scenario exactly? Are you using WebChat? Or a specific channel? Can you explain the intended user experience you are looking for?

[2017-05-19 19:12] nwhitmont commented on #2796
@pcostantini since this is related to another repository, you would need to open the issue there so the owner of BotBuilder-Samples can track it. thanks

[2017-05-19 19:12] #2796 closed

[2017-05-19 19:16] nwhitmont commented on #1994
reopen if you're still experiencing the issue.

[2017-05-19 19:16] #1994 closed

[2017-05-19 19:19] #920 closed

[2017-05-19 19:20] pcostantini commented on #2796
Hi @nwhitmont,
A change introduced in the Node SDK is now affecting samples in BotBuilder and BotBuilder-Samples
Just want to be sure the change is not a regression.

The issue affects samples in both repositories.
Thanks!

[2017-05-19 19:30] nwhitmont commented on #2802
Use `userData` instead of `dialogData` to store the user's data. For more info see: [Save user data](https://docs.microsoft.com/en-us/bot-framework/nodejs/bot-builder-nodejs-save-user-data)

[2017-05-19 19:48] EricDahlvang commented on #2803
There isn't a timeline established right now, but as of 5/18/2017:

•	Emulator – full support
•	WebChat – Full support
•	facebook – render to image + limited mapping to  buttons
•	Slack – Image + limited mapping to buttons
•	Kik – render to Image + limited mapping to  keyboard
•	Telegram – Render to Image + limited mapping to keyboard
•	SMS – Image + text
•	GroupMe – Image + text
•	Email – Image +

[2017-05-19 19:48] #2803 closed

[2017-05-19 19:54] EricDahlvang commented on #2782
@lweibin and @RaoVenka Please see answer here https://github.com/Microsoft/BotBuilder/issues/2803

[2017-05-19 19:55] #2670 closed

[2017-05-19 19:57] #1903 closed

[2017-05-19 19:59] nwhitmont commented on #2610
resolved by #2735 PR (merged)

[2017-05-19 19:59] #2610 closed

[2017-05-19 21:37] nwhitmont commented on #2788
One way to approach this scenario: [Integrate your bot with a web browser](https://docs.microsoft.com/en-us/bot-framework/bot-design-pattern-integrate-browser). For example, if you want to direct users to a secure website to complete a task, then direct them back to the bot.

Alternately, you could [embed your bot in a website](https://docs.microsoft.com/en-us/bot-framework/bot-design-pattern-embe

[2017-05-19 21:39] nwhitmont commented on #2788
As for executing user logins inside the bot, it's not currently a feature as Bot Framework is still in preview phase, but definitely open a Feature Request at [https://botframework.uservoice.com/](https://botframework.uservoice.com/) if you're interested in this type of capability.

[2017-05-19 22:01] nwhitmont commented on #2727
reopen if you're still experiencing the issue

[2017-05-19 22:01] #2727 closed

[2017-05-19 22:17] #2788 closed

[2017-05-20 11:40] ancashoria commented on #2030
This would be really useful for us too.
What's the logic behind the decision to not have `session` on send hook?

[2017-05-20 13:54] wolf0x commented on #2798
@nwhitmont

Please dont close the case yet as it looks that you answered with a std answer but you didnt read my question and my code clear yet.

I know to use userData instead of dialogData, however, please read my code that it used ReplaceDialog to callback the session.dialogData to args, then it transfer the object data to next dialog. I'd suggest you to run my code in advance, and you would de

[2017-05-20 14:00] wolf0x commented on #2802
@nwhitmont it is just demo code, and i also know to use userData instead of dialogData, and by the way, how to reopen the "closed" case? such as: https://github.com/Microsoft/BotBuilder/issues/2798 which is not the correct answer.

and again, it just a demo code, in my production code that there're 9 steps waterfall and it will be stopped on randomly with prompts.confirm.

[code]

[2017-05-20 20:22] stevengum97 commented on #2794
For comparison, the current and correct code taken from the [feature-suggestedActions](https://github.com/Microsoft/BotBuilder/blob/master/Node/examples/feature-suggestedActions/app.js) example is as follows:

        var msg = new builder.Message(session)
            .text("Hi! What is your favorite color?")
            .suggestedActions(
                builder.SuggestedActions.create(

[2017-05-21 01:24] auanish opened #2805 "Microsoft Bot Framework: HTTP status code InternalServerError"
* SDK Pletform: Node
* SDK Version: 3.8.3
* Development Environment: Azure App Service

I have a couple of bots which were working without any issues till today morning. I was given the following warning message on the bot portal:

We've revised our security protocol. Update to Bot Builder 3.5+ or compatible security configuration by July 31, 2017 to keep your bot working.

So I upgraded the botbu

[2017-05-21 01:49] nwhitmont commented on #2805
What is the response when you hit your Bot /api/messages endpoint in your
browser?
On Sat, May 20, 2017 at 18:24 auanish <notifications@github.com> wrote:

[2017-05-21 04:44] Darksole commented on #2805
Also having a what I think is a related issue.
SDK Pletform: Node
SDK Version: 3.8.3, 3.7.0, 3.6.0
Development Environment: AWS EC2

Was originally on SDK 3.7 tried upgrading 3.8.3 to see if issue was resolved, also tried downgrading to 3.6.0. I get the message: There was an error sending this message to your bot. When testing on dev.botframework.com, and when I attempt to post the server at  /api

[2017-05-21 11:59] auanish commented on #2805
When I try to access it from my browser it says

[2017-05-21 14:38] mohit-jcc opened #2806 "[Automated Testing] How to test buttons through Mocha?"
## Pre-flight checklist
- [x] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/questions/44049527/ms-bot-framework-how-to-write-tests-for-buttons) using the tag `botframework`.
- [x] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Infor

[2017-05-21 14:38] akakoychenko commented on #2684
I have solved the issue on the local copy of the Bot.Connector sources by making the following function "always true"
(MicrosoftAppCredentials.cs, line 185)
[code]

[2017-05-22 05:11] PrasadGautham commented on #2800
I had a similar issue!! But mine was a total blunder from my side!!!! Mine was because I used some static properties!!

[2017-05-22 05:44] wolf0x commented on #2802
@nwhitmont Case can be closed.. its a stupid code logical error, not a bug.

the correct code should be:
[code]

[2017-05-22 07:13] msBot1111 commented on #2800
I use static properties too. Are you saying that's because of them? @PrasadGautham

[2017-05-22 07:17] PrasadGautham commented on #2800
To me that was the issue....I was storing a particular variable through a static property.....So this value was changing with context to the whole users and not just an individual...So I think we used conversationdata to store that....Am not sure if thats the case with you as well... Let the experts say!!! I am not very well aware

[2017-05-22 07:30] sw-ms-roshanparmar opened #2807 "[Question] Bot prints wrong output."
## System Information (Required)

* SDK Pletform: .NET
* SDK Version: 3.5.5.0
* Development Environment: localhost Emulator
* Production Environment: Azure skype

## Issue Description

Bot Framework prints wrong output in `await context.PostAsync()` method.
## Steps to Reproduce
When we try to print this below string

`"1. Power adapter 2. Desktop Computer  3. Telephone  \r\n \r\n4. Splitter 5. Te

[2017-05-22 07:33] michaelhutchful commented on #2800
Yeah, static properties persist their data over multiple messages. Try and avoid static if you don’t want this behaviour

Sent from my Windows 10 phone

From: msBot1111
Sent: 22 May 2017 07:13
To: Microsoft/BotBuilder
Cc: Subscribed
Subject: Re: [Microsoft/BotBuilder] [Question] Multiple users getting the sameanswer on different queries at the same time (#2800)

I use static properties too. Are yo

[2017-05-22 08:57] tomorgan opened #2808 "[Skype for Business] Channel doesn't pass authentication credentials correctly"
## System Information (Required)

* SDK Platform: .NET
* SDK Version: not sure, can check tonight
* Development Environment: Azure App Service

## Issue Description

I have a .NET Bot Framework bot created using the template and tested on other channels and in the dashboard.

I've added the Skype for Business channel and performed the PowerShell cmdlets for my tenant. However, I constantly get the

[2017-05-22 09:32] neetgupta7 opened #2809 "[Question] There was an error completing this request due to an internal channel failure"
Hello
For past 2 weeks i am facing error "There was an error completing this request due to an internal channel failure" with my bot. BOT App id is "cc35e86c-faf5-4032-aef8-448f47bac745".
It used to work fine earlier from different skype ids. Since last week it started throwing above error for infy_97814@outlook.com login. But with other ids there are no issues.

I am testing my bot from Skype cha

[2017-05-22 10:22] asubbotin commented on #2799
Thanks! Works now.

[2017-05-22 11:04] MuraliMohanEdiga commented on #2785
Hi @nwhitmont

Thanks for your reply  about displaying the  data in table format .With reference  to the syntax provided I am trying to create login(html) form in the BOT ,I am able to create the form with some html controls like text boxes(input fields) please find the screenshot given below.

Can you please let me know how to retrieve the  values of the form fields(text boxes/Password fields) cr

[2017-05-22 11:40] alokraj68 commented on #2161
Hi,
Am also facing the same issue. ut seems like something related to the framework.
To add on, I can also see the bot restarts on most of the platforms a lot but not much on Facebook.

By restart I mean it goes to the starting point of the bot without any problem when waiting for the user input.

And my bot is hosted in Azure in south central US.

Here is my bot link
https://bots.botframework.com

[2017-05-22 12:00] srozga commented on #2260
HI there, I'd like to +1 this one. I'm using C# and need to have access to the messaging_echoes web hook. Same use case.

[2017-05-22 12:11] RaoVenka commented on #2801
Thanks for the information provided. But i want to know is it is possible to integrate our bot framework to  adaptive cards . once it's possible means can you please provide some document for this .

[2017-05-22 14:35] juhamust opened #2810 "[MS Teams] Bot's answer is shown *before* the question with MS Teams app (iOS)"
## Pre-flight checklist
- [ ] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [X] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)

* SDK Pletform: Node
*

[2017-05-22 14:40] jsiegmund commented on #2808
+1 I'm seeing the exact same behavior, there's also a couple of SO posts of the same:

- https://stackoverflow.com/questions/43977783/unable-to-connect-bot-to-skype-for-business-online
- https://stackoverflow.com/questions/44048053/bot-framework-skype-for-business-channel

[2017-05-22 16:24] auanish commented on #2805
I figured out the problem and my bot is back up again running now. Apparently its some deployment issues.

I've run the following command first:

I got an error message saying:

Error: Cannot find module './dialogs/Prompt'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    at require (internal/modu

[2017-05-22 16:51] nwhitmont commented on #2805
@auanish I figured some kind of deployment error, so I'm glad you got it back in order.

[2017-05-22 16:51] #2805 closed

[2017-05-22 16:58] nwhitmont commented on #2809
@neetgupta7 Are you using .NET or Node SDK?

[2017-05-22 17:53] bgarr33434 opened #2811 "[Question] Chat widget icon"
## Pre-flight checklist
- [ ] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [ ] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)

* SDK Platform: .NET
*

[2017-05-22 17:56] EricDahlvang commented on #2800
@msBot1111 please post more code, so we can help determine what the issue is.

[2017-05-22 18:24] dkushner commented on #2770
@SheriEllisMSFT, thanks very much. Any indication as of now what might be causing this issue?

[2017-05-22 18:49] nwhitmont commented on #2811
@bgarr33434 If you would like to customize the WebChat interface, you can fork the project and find instructions here: https://github.com/Microsoft/BotFramework-WebChat

[2017-05-22 18:57] nwhitmont commented on #2806
https://stackoverflow.com/questions/44049527/ms-bot-framework-how-to-write-tests-for-buttons

[code]

[code]

[2017-05-22 19:00] nwhitmont commented on #2806
@mohit-jcc In your test code, there are a few typos that could be causing the error:

1. The line `assert(message.text == 'Your Choices);` is missing a closing single quote and should be `assert(message.text == 'Your Choices');`
2. The line `assert(message.text == 'You Chose A);` is missing a closing single quote and should be: `assert(message.text == 'You Chose A');`

[2017-05-22 19:04] nwhitmont commented on #2810
@juhamust can you post your bot code that is causing this issue? thx

[2017-05-22 19:08] nwhitmont commented on #2802
@wolf0x Thanks for the update.

[2017-05-22 19:08] #2802 closed

[2017-05-22 19:12] mohit-jcc commented on #2806
@nwhitmont Sorry, that was a typo in the question, not in the actual code.

[2017-05-22 19:37] nwhitmont commented on #2810
Can confirm, I am able to reproduce this bug on iOS. The response message gets displayed **before** the question message that triggers it.

[2017-05-22 19:50] nwhitmont commented on #2806
@mohit-jcc ok, thanks for the update

[2017-05-22 20:11] stevengum97 commented on #2799
Closing Issue.

[2017-05-22 20:11] #2799 closed

[2017-05-22 21:28] JasonSowers commented on #2006
Are you still having this Issue?
Bot builder has been upgraded to 3.8.1 you may find the newest version here https://www.nuget.org/packages/Microsoft.Bot.Builder/

[2017-05-22 21:42] SheriEllisMSFT commented on #2810
@juhamust: Are you developing something or just testing the app on iOS? If this is something you're working on, can you share your botID? Thanks!

[2017-05-22 21:46] JasonSowers commented on #2475
DevilDog, has you issue been resolved or are you still having this issue?

the lastest bot builder version can be found here https://www.nuget.org/packages/Microsoft.Bot.Builder/

[2017-05-22 21:49] JasonSowers commented on #2482
Have you resolved this problem on your own or do you still need help?

If you have not already you can upgrade to the newest version of bot builder here https://www.nuget.org/packages/Microsoft.Bot.Builder/

[2017-05-22 21:55] JasonSowers commented on #2493
Montacia, is this still an issue for you or has it been resolved by the new release, 3.8.1 currently.

[2017-05-22 21:59] JasonSowers commented on #2600
Have you resolved this issue or is it still causing trouble for you?

[2017-05-22 22:03] JasonSowers commented on #2606
Have you resolved this issue or do you still need help with it?

[2017-05-22 22:05] JasonSowers commented on #2635
Hello, Have you resolved this issue on your own or do you still need help?

[2017-05-22 22:15] JasonSowers commented on #2661
Are you still having this issue?

[2017-05-22 22:17] ZOXEXIVO commented on #2661
Yes, i have workround with send message with httprequest to bot service, but it is not normal way

[2017-05-22 22:19] JasonSowers commented on #2683
Ekaterina, has this issue been fixed by upgrading to the newest SDK currently 3.8.1 at the time of my post?

[2017-05-22 22:21] JasonSowers commented on #2695
Hello, Have you been able to resolve this issue or would you still like us to look into it?

[2017-05-22 22:22] JasonSowers commented on #2699
Hello, have you been able to resolve this issue, or are you still looking for an answer?

[2017-05-22 22:25] JasonSowers commented on #2700
Hi, have you been able to answer this question on your own or do you still need an answer?

[2017-05-22 22:30] JasonSowers commented on #2740
Have you been able to resolve this issue yet, or are you still having the same problem?

[2017-05-22 22:31] ncksol commented on #2740
I am still having the same problem

[2017-05-22 22:32] JasonSowers commented on #2742
Hello, Have you been able to resolve this issue on your own?

[2017-05-22 22:40] JasonSowers commented on #2661
Can you please provide a code example of what you are doing, and what you consider a "normal way"

[2017-05-22 22:43] JasonSowers commented on #2738
Mahmoud, are you still having a problem with this or have you found a way to resolve it?

[2017-05-22 22:49] JasonSowers commented on #2745
Mahmoud, were you able to figure out the problem or would you still like some help?

[2017-05-22 22:50] ZOXEXIVO commented on #2661
I have simple bot with user "theme subscriptions" and background crawler.
I want send messages to users, when crawler get subscription data. Crawler - simple console app.

[2017-05-22 23:00] JasonSowers commented on #2781
Hi Frank, Have you found a solution to this or are you still having the same issue?

[2017-05-22 23:03] JasonSowers commented on #2783
Have you resolved this issue yet, or are you still having the same problem?

[2017-05-22 23:06] JasonSowers commented on #2807
Hi, have you found a solution to this issue yet?  Have you tried on a more recent sdk like 3.8.1?

[2017-05-23 01:48] GaiaAnn commented on #2742
Hi I think FormFlow can’t do this.. do you have same problem?

[2017-05-23 02:02] DL-LiveTiles commented on #1531
Same here, we need an API to programmatically register a bot in the bot framework portal.

[2017-05-23 03:03] DL-LiveTiles commented on #1531
Is this feature logged somewhere so that we can follow progress or vote for it?
Same question here: https://stackoverflow.com/questions/42172304/is-it-possible-to-register-provision-a-bot-via-service/44125048#44125048

[2017-05-23 04:35] MuraliMohanEdiga opened #2812 "[Question] Can you please let me know how to retrieve the values of the form fields(text boxes/Password fields) created in the bot."
## Pre-flight checklist
By the reference of https://github.com/Microsoft/BotBuilder/issues/2785#issuecomment-302429892
created login form in BOT.
---------------------------

## System Information (Required)
* SDK Platform: Node
* SDK Version:
* Development Environment: localhost

## Issue Description
I am trying to create login(html) form in the BOT ,I am able to create the form with some html co

[2017-05-23 04:39] neetgupta7 commented on #2809
I am using .net. So the issue is now resolved. Problem seems to be with the LUIS key that i was using. I created a new LUIS key from Azure and used it and it worked. What is strange is that the same old key works fine with other chatbot but with this one it was giving error. Any idea about this.

[2017-05-23 05:40] vovanb commented on #2482
It is actually not the issue, it is question , how to access to the first message which was sent to the bot?

Sincerely,
Vladimir
(Sent from my mobile)

[2017-05-23 05:40] sw-ms-roshanparmar commented on #2807
Yes, I have tried by updating the framework to latest stable 3.8.1. But the result is same
Sample Code:
[code]

Output:
![capture](https://cloud.githubusercontent.com/assets/19162518/26339802/36a23710-3fa8-11e7-83db-5f661f67007b.PNG)

[2017-05-23 06:23] RaoVenka opened #2813 "Adaptive Cards"
## Pre-flight checklist
- [ ] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [ ] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)
* SDK Platform:
* SDK Ve

[2017-05-23 06:24] RaoVenka commented on #2813
Thanks for the information provided. But i want to know is it is possible to integrate our bot framework to adaptive cards . once it's possible means can you please provide some document for this .

[2017-05-23 06:50] ignacy130 commented on #2606
@JasonSowers TBH: no :/ Any help would be appreciated. Also I posted on SO, but with no luck: https://stackoverflow.com/questions/44090614/microsoft-bot-framework-chatbot-does-not-respond-on-facebook-messenger-and-webch?noredirect=1#comment75213754_44090614

[2017-05-23 07:29] msBot1111 commented on #2699
Still looking for an answer...

[2017-05-23 07:39] lonche commented on #1531
How to vote for that feature ? Should i mark that as favourite ?

[2017-05-23 09:45] Harshjaswal opened #2814 "[Question] How to use custom chat page(e.g. html page) in place of bot emulator to communicate with bot in local IIS?"
How to use custom chat page(e.g. html page) in place of bot emulator to communicate with bot in local IIS?

[2017-05-23 10:42] amitbend commented on #2758
@nwhitmont @Stevenic any update?
The issue was closed without specifying a reason.

[2017-05-23 11:50] adekola commented on #842
@ZanderAdam: could you please tell when you made this setting? In your bot project or?

[2017-05-23 13:26] ZanderAdam commented on #842
@adekola that setting applied to the old version of the emulator. With the new I set the CNTLM proxy in the internet options and it worked.

[2017-05-23 14:54] EricDahlvang commented on #2813
Hi @RaoVenka ,

There's some documentation here: http://adaptivecards.io/ and here https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-add-rich-card-attachments

The source code is available here: https://github.com/Microsoft/AdaptiveCards

---
Please note:

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow

[2017-05-23 14:54] #2813 closed

[2017-05-23 15:12] JasonSowers commented on #2743
@gmiloveyou has this been fixed with the newest SDK version 3.8.1, or are you still having trouble?

[2017-05-23 16:27] nwhitmont commented on #2758
Not a bug

[2017-05-23 16:33] amitbend commented on #2758
@Stevenic Suggested this solution, but it seems to be a bug.

` const library = new builder.Library('library');

    library.dialog('dialog', [
     (session, args, next) =>{
        session.send('simple dialog here')
     }]);
     library.beginDialogAction('library:dialog', 'dialog');

module.exports = library;`

So currently it is not possible to start an action in a Library(except regex with `

[2017-05-23 16:34] nwhitmont commented on #2814
Are you using .NET or Node SDK?

[2017-05-23 16:47] EricDahlvang commented on #2482
Please provide the code for the BuildJsonForm method.

[2017-05-23 17:00] JasonSowers commented on #1797
@miaosenwang Is this still a problem for you or has the issue been resolved?

[2017-05-23 17:02] EricDahlvang commented on #2801
Please see the response here: https://github.com/Microsoft/BotBuilder/issues/2813

[2017-05-23 17:17] JasonSowers commented on #2699
@msBot1111
The documentation is here: https://docs.botframework.com/en-us/csharp/builder/sdkreference/d2/d77/interface_microsoft_1_1_bot_1_1_builder_1_1_history_1_1_i_activity_logger.html

here is an issue from the past that looks like it may help:
https://github.com/Microsoft/BotBuilder/issues/2073

Note: if you use the message below, it might be best to first: ask the question on Stack Overflow,

[2017-05-23 17:17] #2699 closed

[2017-05-23 17:48] nwhitmont commented on #2814
@Harshjaswal If you would like to embed the chat in your website, use the [BotFramework-WebChat](https://github.com/Microsoft/BotFramework-WebChat) project.

[2017-05-23 17:48] #2814 closed

[2017-05-23 19:07] JasonSowers commented on #1914
I am closing this issue due to inactivity,  Please reopen if you need further assistance.

[2017-05-23 19:07] #1914 closed

[2017-05-23 19:11] JasonSowers commented on #1933
@brunoklein99 I am going to close this issue for inactivity if you require further assistance please reopen.

[2017-05-23 19:11] #1933 closed

[2017-05-23 19:31] JasonSowers commented on #1945
@rawsonm88 Would you like to keep this issue open? If not I will close it since there has been no activity since 2 January.

[2017-05-23 19:34] JasonSowers commented on #1956
@jsiegmund have you found a workaround, or has the issue been resolved?

[2017-05-23 19:51] JasonSowers commented on #1995
@sgomaram I am closing this issue as it has been resolved by creating an issue in the Web chat repo.  please reach out if you feel this issue requires more attention.

[2017-05-23 19:51] #1995 closed

[2017-05-23 19:57] ternista commented on #2683
@JasonSowers this is still reproducible in SDK 3.8.1.

[2017-05-23 19:58] JasonSowers commented on #2050
@karlbarber I am going to close this issue for inactivity.  If it is still outstanding for you please continue the discussion here as it can be reopened,

[2017-05-23 19:58] #2050 closed

[2017-05-23 19:59] JasonSowers commented on #2811
@bgarr33434 I am going to close this issue for inactivity. If it is still outstanding for you please continue the discussion here as it can be reopened,

[2017-05-23 19:59] #2811 closed

[2017-05-23 20:06] JasonSowers commented on #2108
@camer314 Would you still like to keep this open or have you resolved the question/Issue?

[2017-05-23 20:07] JasonSowers commented on #2265
@richarjain I am closing this for inactivity.  If you would like to continue the discussion please feel free to do so and we can reopen.

[2017-05-23 20:07] #2265 closed

[2017-05-23 20:22] JasonSowers commented on #2683
@ternista thanks for the response, let me test this out see what I can find out for you.

[2017-05-23 20:41] JasonSowers commented on #2119
@weedroid Closing this issue for inactivity.  If you want to continue the discussion further feel free to keep commenting and we can reopen if needed

[2017-05-23 20:41] #2119 closed

[2017-05-23 20:44] JasonSowers commented on #2302
@camer314 I am closing this issue for inactivity.  Please continue the discussion if you feel so inclined we can always reopen if needed.

[2017-05-23 20:44] #2302 closed

[2017-05-23 20:47] JasonSowers commented on #2320
@Deviss14 I am closing this for inactivity.  If you would like to continue the discussion here, please do so.  We can reopen this if needed.

[2017-05-23 20:47] #2320 closed

[2017-05-23 20:54] JasonSowers commented on #2334
@jrom20 Closing this for inactivity, please continue the conversation if you would like to reopen we can always do that as well.

[2017-05-23 20:54] #2334 closed

[2017-05-23 20:56] JasonSowers commented on #2337
@jrom20 I am closing this for inactivity, please continue the conversation as needed, we can always reopen.

[2017-05-23 20:56] #2337 closed

[2017-05-23 20:58] JasonSowers commented on #2342
@JeevaJose I am closing this issue for inactivity, please continue the conversation here if needed.  We can reopen the issue if it is still not resolved.

[2017-05-23 22:24] nwhitmont commented on #2812
@MuraliMohanEdiga What you are trying to do is not currently a feature of Bot Framework.

To accomplish your goal, you would need to setup a waterfall dialog that prompts the user for the required information using `builder.Prompts.text()`. For more information see: [Prompt users for input](https://docs.microsoft.com/en-us/bot-framework/nodejs/bot-builder-nodejs-dialog-prompt).

[2017-05-23 22:25] #2812 closed

[2017-05-23 23:13] JasonSowers commented on #2393
@Nazmerit I am going to close this issue for inactivity.  please feel free to continue the conversation here if needed.  We can always reopen if needed.

[2017-05-23 23:13] #2393 closed

[2017-05-23 23:17] eanders-MS commented on #2393
@Nazmerit It's a shot in the dark, but try changing your the endpoint url to https: `https://127.0.0.1:3979/api/messages`. This solution worked for another user who was seeing plain http attempting to initialize an ssl connection. Network issues like these are very difficult to troubleshoot remotely.

[2017-05-23 23:18] JasonSowers commented on #2407
@tomaszkiewicz Due to inactivity I am closing this issue.  Please feel free to continue the conversation here if needed, and we can always reopen if needed.

[2017-05-23 23:39] JasonSowers commented on #2425
@gcsonka Is this still something you are having trouble with?

[2017-05-23 23:41] JasonSowers commented on #2438
@Deviss14 I am closing this issue for inactivity.  Please feel free to continue the conversation here, and we can always reopen if needed

[2017-05-23 23:41] #2438 closed

[2017-05-23 23:52] JasonSowers commented on #2503
@makkros I'm closing this for inactivity. If you would like to continue the conversation here please do.  We can always reopen if needed.

[2017-05-23 23:52] #2503 closed

[2017-05-24 02:05] gmiloveyou commented on #2743
@JasonSowers  Thanks
I have to know:
1.Should activity.RemoveRecipientMention()  remove the mention text from activity.Text?
Because on skype it still contains the mention text in activity.Text
2. Is that normal that activity.Locale is null on Skype?

Picture:
![image](https://cloud.githubusercontent.com/assets/13726557/26383921/5fdcf88e-4068-11e7-99bd-c0eb93224605.png)

Sample Code:
public async

[2017-05-24 03:43] gcsonka commented on #2425
I resolved it by rebuilding all the NuGet dependencies again. It works now, but I am still not sure what exactly cased this issue. Thanks for looking into this @JasonSowers

[2017-05-24 04:44] MuraliMohanEdiga commented on #2812
@nwhitmont Thank you for your time

[2017-05-24 06:12] vovanb commented on #2482
Below (all sample taken from AnnotatedSandwichBot):
` public static IForm<JObject> BuildJsonForm()
        {
            using (Stream stream = File.OpenRead(@m_jsonFormPath))
            {
                var schema = JObject.Parse(new StreamReader(stream).ReadToEnd());
                return new FormBuilderJson(schema)
                    .AddRemainingFields()
                    .Build();

[2017-05-24 06:17] narenkv opened #2815 "[Question] Limitations on Custom Entities"
Issue : As there are limitations on Custom Entities to 30 , Is there any plans to increase the Entities count?.

Sample Entities which we created is "Interest Rate" , "Loan types", etc various other attributes. So we are running short of entities creation.

Can you please guide us on this, and wanted to know if there are chances to increase limit on the custom entities creation.

Thank you

[2017-05-24 06:28] narenkv opened #2816 "[Question] Invoking LUIS Application from LUIS Method"
We have started exploring multiple options of having multiple LUIS Applications. Example senario

SchoolCoreLUISApplication
SchoolManagementLUISApplication
SchoolAdmissionLUISApplication
SchoolSportAcademyLUISApplication
SchoolNotificationLUISApplication

So we planned to send request to SchoolCoreLUISApplication and based on the intent invoke SchoolManagementLUISApplication and other LUIS Applica

[2017-05-24 06:29] JeevaJose opened #2817 "[Direct Line] Not able to generate refresh Token and getting error message"
I have used rest API service to generate token . I pass the web chat secret key as given below.

https://directline.botframework.com/v3/directline/tokens/generate
Authorization Bearer xxxxxxxxxxxxxxxxxx

I am able to generate the token and got the following response
[code]
After getting this token I passed to following url to generate the refresh token after the post method I am getting following

[2017-05-24 08:07] Harshjaswal commented on #2814
Thanks...but the thing is I don't want to use azure for it..as we use bot
emulator to chat with bot application,  i want to use a custom chat page
created in html...means i want to know can we connect our bot application
with simple html page to communicate..if yes plz tell me how. Thanku

On 23-May-2017 11:18 pm, "Nils" <notifications@github.com> wrote:

[2017-05-24 08:07] Harshjaswal commented on #2814
I am using. Net

On 23-May-2017 10:05 pm, "Nils" <notifications@github.com> wrote:

[2017-05-24 09:03] mahmoudahmedarafa commented on #2745
Error was fixed by updating VS, packages, and emulator to the latest version.

[2017-05-24 09:03] #2745 closed

[2017-05-24 09:10] mahmoudahmedarafa commented on #2738
`var conversationId = await connector.Conversations.CreateDirectConversationAsync(botAccount, userAccount);`

I was using Botframework Emulator and I was trying to create a 'Conversation' which was already created from the emulator unpragmatically.

[code]

The previous code above simulates what the emulator does pragmatically.

[2017-05-24 09:10] #2738 closed

[2017-05-24 09:16] mahmoudahmedarafa commented on #2783
@JasonSowers I tried to search the documentation for additional overloads for 'Confirm', yet all of them are expecting a confirmation message as an argument.

[2017-05-24 12:28] bhumin3i opened #2818 "[Question] Error: validatedPrompt() has been deprecated as of version 3.8"
I'm getting below message while run app.js

D:\Bot\botFramework\xyz>node app.js
DialogAction.validatedPrompt() has been deprecated as of version 3.8. Consider using custom prompts instead.

my **validator.js** is
[code]

[2017-05-24 13:36] angelobelchior commented on #2309
Thanks @matvelloso ! I followed the APIs documented in Swagger and created a library. Soon I publish the source code.

[2017-05-24 13:41] narenkv commented on #2816
I have found a solution , now it works, happy to share the same to the community

 var cancellationTokenSource = new CancellationTokenSource();
 await context.Forward(new LUISDialog2(), LuisDialogComplete, await message, cancellationTokenSource.Token);

        private async Task LuisDialogComplete(IDialogContext context, IAwaitable<object> result)
        {
            var messageHandled = await

[2017-05-24 14:07] uruk opened #2819 "[Question] Using delegate factories with constructor injection in dialogs"
## System Information (Required)
* SDK Platform: C#
* SDK Version: 3.8.1
* Development Environment: localhost

## Issue Description
I am doing dependency injection with Autofac. Everything goes great until I am trying to instantiate a dialog in another one using a [delegate factory method](http://docs.autofac.org/en/latest/advanced/delegate-factories.html) (in order to call context.Forward on it),

[2017-05-24 15:19] willportnoy commented on #2819
Two ideas

1. Wrap the delegate factory in a closure created from your assembly instead.
2. Use a serialization surrogate e.g. https://github.com/Microsoft/BotBuilder/blob/497252e8d9949be20baa2cebaa6ce56de04461cf/CSharp/Library/Microsoft.Bot.Builder.Autofac/Fibers/FiberModule.cs#L196

[2017-05-24 15:19] nwhitmont commented on #2815
@narenkv are you using .NET or Node SDK?

[2017-05-24 15:24] nwhitmont commented on #2816
@narenkv glad you found the solution! thanks for the update

[2017-05-24 15:24] #2816 closed

[2017-05-24 15:26] nwhitmont commented on #2817
@JeevaJose are you using .NET or Node SDK?

[2017-05-24 15:29] stevengum97 commented on #2815
Currently you may only have 30 entities. One way to "extend" your entity count is to rethink your entities and see what can be converted to List Entities. List Entities are not machine learned and have a separate limit of 50.

If you do need machine learning for your Entities, you should look into creating another LUIS model and plugging that endpoint into your ChatBot as well.

[2017-05-24 15:29] johnkuefler opened #2820 "[Question] Error when sending messages to bot on specific Skype for Business tenant"
I'm having an issue with a Skype for Business bot in one of my Office 365 tenants. I have multiple tenants and in the first one I was able to add a Skype for Business bot framework bot with no issues. My second tenant is a federated education tenant - the first tenant is a non federated developer tenant. When I add the bot to the federated tenant and attempt to send messages to it (even after 24 h

[2017-05-24 15:34] nwhitmont commented on #2820
@johnkuefler are you using .NET or Node SDK?

[2017-05-24 15:39] johnkuefler commented on #2820
@nwhitmont I am using .NET.

[2017-05-24 16:02] JasonSowers commented on #2783
@mahmoudahmedarafa Let me see what I can find out and get back to you on this one.  Thank you for responding.

[2017-05-24 16:03] SPACEGHOST904 opened #2821 "[Feature Request] Add Channel: Workplace by Facebook"
Add channel: Workplace by Facebook

https://stackoverflow.com/questions/44058021/are-groups-in-workplace-by-facebook-supported-via-the-facebook-channel-on-micros

[2017-05-24 16:05] narenkv commented on #2815
.net

Sent from my iPhone

[2017-05-24 16:19] uruk commented on #2819
Thanks to Will's great advice, I was able to come up with the following solution:

`builder.Register(context => new Func<MyDialog>(() => new MyDialog())).Keyed<Func<MyDialog>>(FiberModule.Key_DoNotSerialize).As<Func<MyDialog>>().SingleInstance();`

The idea here is that in the Module where I am registering RootDialog and MyDialog with Autofac, I don't let Autofac to automatically generate the fact

[2017-05-24 16:19] #2819 closed

[2017-05-24 16:19] JasonSowers commented on #2493
@Montacia I am going to close this issue because of inactivity and it is related to an outdated version of the SDK.  please feel free to continue the discussion here if you feel it is needed.  We can always reopen this issue if needed

[2017-05-24 16:19] #2493 closed

[2017-05-24 17:04] JeevaJose commented on #2817
I am able to fix the issue. hence I am closing this issue.

[2017-05-24 17:56] JasonSowers commented on #2571
@msBot1111 This may help you get started on the right path here https://blog.botframework.com/2017/05/05/Saving-Bot-Actions-On-Azure-Sql-Server/

[2017-05-24 18:02] JasonSowers commented on #2539
@matthewz0584 are you still experiencing the same issue?

[2017-05-24 18:03] cesarvarela opened #2822 "[Feature Request] Speak and Say the same text by default in Cortana"
HI guys, a couple of suggestions regarding Cortana api:

I usually find myself copying and pasting the same text for both say and speak parameters:

[code]
So maybe be it's better to default the `speak` option to use the same value as message text?

Also,  having to set `inputHint` to `expectingInput` in a text prompt is redundant.

[2017-05-24 18:04] JasonSowers commented on #2557
@RazSoft I am going to close this issue for inactivity.  Feel free to continue this conversation if you would like.  We can always reopen this if needed.

[2017-05-24 18:04] #2557 closed

[2017-05-24 18:14] EricDahlvang commented on #2482
It is unclear what you are trying to do exactly.  But, one way to store/retrieve the first message sent to the bot is:

[code]
[code]
-----
Please note: the Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/issues) repo  is th

[2017-05-24 18:14] #2482 closed

[2017-05-24 18:23] JasonSowers commented on #2567
@BAPostma does this still happen with the newest SDK 3.8.1 at the time of this post?

[2017-05-24 18:23] cesarvarela commented on #2822
just thinking out loud, but what about making the `speak` property `string` or `bool`, if `string` it says the text, if `true`, it uses the same value as text.

[2017-05-24 18:28] JasonSowers commented on #2567
@BAPostma  I'm curious to know if you have tried the following and what the result was if you did.
[code]

[2017-05-24 18:32] JasonSowers commented on #2575
@sogeg are you still having this problem in the newest version of the SDK 3.8.1 at the time of writing this?

[2017-05-24 18:37] JasonSowers commented on #2617
@guestuser123 have you resolved this issue or are you still seeking help with this?

[2017-05-24 18:38] JasonSowers commented on #2621
@msimecek Still having this problem or has it been resolved?

[2017-05-24 18:42] JasonSowers commented on #2651
@sumitdobhal I am closing this issue for inactivity.  If you would like to continue this conversation please feel free to do so here.  We can always reopen this issue if needed.

[2017-05-24 18:42] #2651 closed

[2017-05-24 18:48] nwhitmont commented on #2822
@cesarvarela are you using .NET or Node SDK?

[2017-05-24 18:48] cesarvarela commented on #2822
@nwhitmont node

[2017-05-24 18:49] nwhitmont commented on #2822
@cesarvarela is this a feature request?

[2017-05-24 18:54] nwhitmont commented on #2818
@bhumin3i can you post the contents of your `app.js` file that is causing the error?

[2017-05-24 19:05] nwhitmont commented on #2809
@neetgupta7 I'm glad you found the solution! thanks for the update

[2017-05-24 19:05] #2809 closed

[2017-05-24 19:36] nwhitmont commented on #1530
relates to Intercom#15644

[2017-05-24 19:43] nwhitmont commented on #1530
Currently, this is expected behavior.

[2017-05-24 19:43] #1530 closed

[2017-05-24 19:49] nwhitmont commented on #2818
@bhumin3i This is just a warning message that you should only see once.  Yes, the validatedPrompt() is depreciated, but it is still there an will work normally. The warning message is a recommendation for future best practices.

[2017-05-24 19:49] #2818 closed

[2017-05-24 19:51] nwhitmont commented on #2778
Moved to internal issue tracker.

[2017-05-24 19:51] #2778 closed

[2017-05-24 19:52] JasonSowers commented on #2608
@vardeg2017 Is this still not working for you?

[2017-05-24 19:53] rbrundritt commented on #2822
Note that the inputHint option is optional. You don't need to specify it every time. Here is a quote from the docs: "If you do not specify input hints in your bot, it will automatically select the one depending on the response. Prompts for instance will be expecting input, while a standard text response may be set to accept input.".

[2017-05-24 20:11] JasonSowers commented on #2626
@msBot1111 can you try looking at these and see if they help for location. The data is not stored by the framework itself though.  I am going to close this because it is not exactly a bot framework issue, but a question on geolocation and time zones per device.  Feel free to continue the discussion here if you feel so inclined, we can always reopen.

https://stackoverflow.com/questions/38054783/ge

[2017-05-24 20:11] #2626 closed

[2017-05-24 20:15] JasonSowers commented on #2640
@Malith1994124 I am going to close this issue because it seems @RichMoeMSFT  has resolved the underlying problem for you.  If this is not correct please continue the conversation here and reopen if needed.

[2017-05-24 20:15] #2640 closed

[2017-05-24 20:23] nwhitmont commented on #2806
Hi @mohit-jcc here is a working version of your test intent:

[code]

[2017-05-24 20:23] #2806 closed

[2017-05-24 20:32] JasonSowers commented on #2807
@sw-ms-roshanparmar it looks like it is trying to make an ordered list for you.

can you try this and see if it helps or changes anything
[code]

[2017-05-24 20:47] JasonSowers commented on #2695
@michaelhutchful I am closing this issue for inactivity.  If you are still having trouble please feel free to continue the conversation if needed.  We can always reopen if this is still an issue for you.

[2017-05-24 20:47] #2695 closed

[2017-05-24 21:20] JasonSowers commented on #2702
@arthurtina724 is this issue still happening? have you tried the newest SDK version 3.8.1 at the time of this post?

[2017-05-24 21:23] JasonSowers commented on #2732
@AHMEDEVELOPER and @eyrdor If this is still an issue, have you tried with the newest SDK 3.8.1 at the time of this post?

[2017-05-24 21:37] nwhitmont commented on #2817
@JeevaJose thanks for the update.

[2017-05-24 21:37] #2817 closed

[2017-05-24 21:43] JasonSowers commented on #2229
@jarmstrongnz  I am closing this issue for inactivity. If you are still having trouble please feel free to continue the conversation if needed. We can always reopen if this is still an issue for you.

[2017-05-24 21:43] #2229 closed

[2017-05-24 21:49] JasonSowers commented on #2006
I am closing this issue for inactivity. If you are still having trouble please feel free to continue the conversation if needed. We can always reopen if this is still an issue for you.

[2017-05-24 21:49] #2006 closed

[2017-05-24 21:51] JasonSowers commented on #2289
Closing, issue was resolved.

[2017-05-24 21:51] #2289 closed

[2017-05-24 21:53] #2746 closed

[2017-05-24 22:05] arthurtina724 commented on #2702
@JasonSowers I'm on bot builder 3.5.9 and have not been able to replicate the issue. My only concern is there are multiple ways to reply/post messages back to an end user.
1) IDialogContext.PostAsync
2) ConnectorClient.Conversations.SendToConversationAsync

These are the 2 methods I am using in my bot. Is there a delegate or way of handling channel transport errors/failures? I don't want to simply

[2017-05-24 22:09] nwhitmont commented on #2815
@narenkv did @stevengum97 answer resolve your issue?

[2017-05-24 22:21] cesarvarela commented on #2822
If I don't set the `inputHint: botbuilder.InputHint.expectingInput` option in the text prompt, the "expecting input thing" isn't happening automatically, maybe this is a bug?

[2017-05-24 23:01] jordanchang commented on #2803
This is great info and needs to be on the home page on adaptivecards.io. I just tried my adaptivecard on slack and it doesn't render at all. Kind of disappointed, but I can wait since I see it's coming soon.

[2017-05-24 23:23] JasonSowers commented on #2660
@bgarr33434 have you found a solution to this?

[2017-05-24 23:26] nwhitmont commented on #1832
@ncksol are you still experiencing the issue after upgrading to [BotBuilder v3.8.1](https://www.nuget.org/packages/Microsoft.Bot.Builder/)?

[2017-05-24 23:27] bgarr33434 commented on #2660
Yes, thanks.

Brian Garr, COO
Cognitive Code
561.271.4750
@garrbrian

click here to set up a call/meeting http://doodle.com/brianlgarr

On May 24, 2017 7:23 PM, "Jason Sowers" <notifications@github.com> wrote:

[2017-05-24 23:28] nwhitmont commented on #1498
@kbrimble Are you still experiencing the issue after upgrading to [BotBuilder 3.8.1](https://www.nuget.org/packages/Microsoft.Bot.Builder/)?

[2017-05-24 23:28] #2660 closed

[2017-05-24 23:33] JasonSowers commented on #2425
@gcsonka You're welcome
I am closing this issue, for now.  Please feel free to continue the conversation if needed. We can always reopen if this is still an issue for you.

[2017-05-24 23:33] #2425 closed

[2017-05-24 23:36] nwhitmont commented on #1768
@brandonh-msft Do you need more info? Or is this resolved? Or would you like to open a feature request to address this?

[2017-05-24 23:36] nwhitmont commented on #1797
@jameslew Any thoughts?

[2017-05-24 23:37] JasonSowers commented on #2702
@arthurtina724 we will look into this further and let you know what we find.

[2017-05-24 23:41] nwhitmont commented on #1945
@rawsonm88 Are you still experiencing the issue after upgrading to [BotBuilder 3.8.1](https://www.nuget.org/packages/Microsoft.Bot.Builder/)?

[2017-05-24 23:42] nwhitmont commented on #1956
@jsiegmund thanks for the update

[2017-05-24 23:42] #1956 closed

[2017-05-24 23:43] nwhitmont commented on #1983
@isaacy Are you still experiencing the issue after upgrading to [BotBuilder 3.8.1](https://www.nuget.org/packages/Microsoft.Bot.Builder/)?

[2017-05-24 23:44] nwhitmont commented on #1983
@kkarahainko Are you still experiencing the issue after upgrading to [BotBuilder 3.8.1](https://www.nuget.org/packages/Microsoft.Bot.Builder/)?

[2017-05-24 23:47] nwhitmont commented on #2067
@xitij This issue is specific to the .NET SDK, please open a new issue so the Node SDK team can track it. Thx

[2017-05-24 23:48] nwhitmont commented on #2067
@kevinport Are you still experiencing the issue after upgrading to [BotBuilder 3.8.1](https://www.nuget.org/packages/Microsoft.Bot.Builder/)?

[2017-05-24 23:55] nwhitmont commented on #2078
@sayyednazeer We have released some major upgrades to the Bot Framework & related services at //Build 2017.  Are you still experiencing the issue after upgrading to [BotBuilder 3.8.1](https://www.nuget.org/packages/Microsoft.Bot.Builder/)?

[2017-05-24 23:57] nwhitmont commented on #2088
@gakarnik Are you still experiencing the issue after upgrading to [BotBuilder 3.8.1](https://www.nuget.org/packages/Microsoft.Bot.Builder/)?

[2017-05-24 23:59] nwhitmont commented on #2102
@initions-wiebe We have released some major upgrades to BotBuilder recently at //Build. Are you still experiencing the issue after upgrading to [BotBuilder 3.8.1](https://www.nuget.org/packages/Microsoft.Bot.Builder/)?

[2017-05-25 00:03] nwhitmont commented on #2098
@AnandChitale Are you still experiencing the issue after upgrading to [BotBuilder 3.8.1](https://www.nuget.org/packages/Microsoft.Bot.Builder/)?

[2017-05-25 00:08] nwhitmont commented on #2230
@cglong Are you still experiencing the issue after upgrading to [BotBuilder 3.8.1](https://www.nuget.org/packages/Microsoft.Bot.Builder/)?

[2017-05-25 00:17] nwhitmont commented on #2237
@weedroid Are you still experiencing the issue after upgrading to [BotBuilder 3.8.1](https://www.nuget.org/packages/Microsoft.Bot.Builder/)?

[2017-05-25 00:19] nwhitmont commented on #2243
@NCZ-10 are you still experiencing the issue?

[2017-05-25 00:24] xitij opened #2823 "[Bug] LUIS - Request URL is too long"
## System Information
* SDK Platform: Node.js
* SDK Version: 3.8.1

## Issue Description
This issue is a clone of [this](https://github.com/Microsoft/BotBuilder/issues/2067#issuecomment-303883740) github issue that is filed for .NET. That team said I should post the same issue for the node team.

The issue is produced when a user sends a very long message to the bot which causes it to crash. As fa

[2017-05-25 00:29] nwhitmont commented on #2293
@McGern Are you still experiencing the issue after upgrading to [BotBuilder 3.8.1](https://www.nuget.org/packages/Microsoft.Bot.Builder/)?

[2017-05-25 00:32] cglong commented on #2230
Thanks for following up @nwhitmont! I just tried and it's actually become _more_ difficult 😞

1. 3.8.1 now has a new interface member, `ILuisModel.ModifyRequest`, [whose implementation](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Builder/Luis/LuisModel.cs#L198-L214) looks pretty domain knowledge-heavy. We'd have to copy-and-paste it verbatim into our class.
2.

[2017-05-25 01:02] chitrang89 commented on #1401
I just went through this as part of BotBuilder v3.8, and I decided to write about the steps here if anyone is interested:)

http://chitrang.me/2017/05/24/facebook-user-name-bot-framework-botbuilder/

[2017-05-25 04:55] narenkv commented on #2815
I see limitations on entities currently, I will now have to figure out to rework on my solution.

I feel these limitations has to be documented in the docs, so that we know how to take care in the design phase.

I hope the limitations on entities will be addressed soon as 30 or 50 entities will still not be enough for a medium/large scale modules

/Naren

[2017-05-25 07:01] JajatiMohanta opened #2825 "[Direct Line] Unable to get response in post execution of Directline Api in microsoft bot framework"
Hi,
I am using directline api in microsoft bot framework to make conversation but while making post request i am unable to get response .
Only finding "204 No Content" result...
So Is there any solution to access the response within post request.
Thanks,
Jajati

[2017-05-25 07:11] sab435 commented on #2820
I am facing this **exact** same issue with a federated tenant.

I am using the Node SDK.

[2017-05-25 07:12] PrasadGautham commented on #2823
A message with character length more than 500 I think is required

[2017-05-25 07:50] sab435 opened #2826 "[Skype for Business] Unable to add bot to a federated domain."
## Pre-flight checklist
- [x] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [x] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)
* SDK Platform: Node
* S

[2017-05-25 08:16] fkatada commented on #2104
@RichMoeMSFT, I tested openUrl in MS Teams Desktop and it works fine.
![ms-teams desktop](https://cloud.githubusercontent.com/assets/13221718/26441905/fa8db5e2-4164-11e7-9825-47a93bac812c.PNG)

But i have checked in MS Teams Mobile app(ios) i just sends a "sent a card" response, and in android device is a blank response.
![microsoftteams-image](https://cloud.githubusercontent.com/assets/13221718/2

[2017-05-25 08:36] anirudhaditya opened #2827 "[Question] Any plan for Private Review of the MetaData implementation on QnA Model"
When is the release date for the meta data implementation on QnA.

[2017-05-25 08:38] anirudhaditya opened #2828 "[Question] What kind of email ID is supported in MS Bot Email Channel. We have an enterprise Email ID and it’s not getting registered."
I have a corporate Email ID and its not able to authenticate while registering it. The ID exists on Azure AD. So, what are the failure criteria for email registration on MS Bot Email Channel.

[2017-05-25 08:39] anirudhaditya opened #2829 "[Question] How to integrate adaptive-card on Custom Web Chat"
I have built my own custom Chat Bot but not able to integrate the AdaptiveCard on it. Infact it just shows text only and no events or styles. How to get it resolved.

[2017-05-25 08:40] anirudhaditya opened #2830 "[Question] Plan for releasing Twilio India Local Number"
Twilio doesn't have India Local Number? What is the plan for this.

[2017-05-25 08:43] mayankthebest commented on #2575
I am also having the same problem. I am on version 3.8.1 of the SDK.

[2017-05-25 09:33] radennis opened #2832 "[Question] KeyNotFoundException when using dynamic buttons"
## Pre-flight checklist
- [x] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [x] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)
SDK Platform: WebChat
SD

[2017-05-25 09:43] radennis opened #2833 "[Question] Quit does work when using dynamic buttons"
## Pre-flight checklist
- [x] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [x] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)
* SDK Platform: WebChat

[2017-05-25 10:09] arsuceno opened #2834 "[Slack] Markdown named links rendered as URLs"
## Pre-flight checklist
- [X] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [X] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)
* SDK Platform: C#
* SDK

[2017-05-25 12:05] AnandChitale commented on #2098
@Nils I am not facing this issue now. Thanks!

On Thu, May 25, 2017 at 5:33 AM, Nils <notifications@github.com> wrote:

[2017-05-25 12:12] chetanmekha opened #2835 "[Question] Button in botbuilder"
@dandriscoll
Hello Team,
I want to show only buttons on FB messenger. How can I achieve this? Please check image for more details.
![button](https://cloud.githubusercontent.com/assets/3276861/26449697/4db2fafa-4171-11e7-88ce-4d9b5e0894d7.png)

In image there is button available called "Book An Appointment". How can we implement it?

[2017-05-25 13:57] lambare commented on #204
Hi!!
I am using ngrok from facebook callback for developement.
Every time ngrok goes out it's necesary tu put new ngrok address on the facebook webhook config.  But then facebook does not send the events so easily.
Some time facebook response after a large time (10 min) and if it there is no response then i remove the subscrition and send a new one, and if not answer i have to create a new fb appl

[2017-05-25 14:03] johnkuefler commented on #2826
@sab435 I was hitting this error and I had to create my endpoint like xxxx@domain.onmicrosoft.com, then I was able to create the endpoint but am now facing a different issues (this issue https://github.com/Microsoft/BotBuilder/issues/2820). If you are syncing to an on premise active directory I don't believe you can create users manually in a federated domain (even through the Office 365 admin int

[2017-05-25 16:17] nwhitmont commented on #2825
@JajatiMohanta Are you using .NET or Node SDK?  Can you share the bot code as well as the specific error messages generated?

[2017-05-25 16:19] stevengum97 commented on #2815
I understand your frustration on the limitations; these limitations are documented in the documentation. For entities it can be found [here](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-concept-entity-types), and for intents that limit can be found [here](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-concept-intent).

I'm closing this issue, but if anyo

[2017-05-25 16:19] #2815 closed

[2017-05-25 16:21] guestuser123 commented on #2617
Well the issue went away after re-registering the bot eventually, but I am sure if this were a production bot you do not have the luxury of re-registering.

So therefore I would say unless the root cause is found it is still an issue. Maybe not for me but for someone's future bot.

[2017-05-25 16:24] nwhitmont commented on #2829
@anirudhaditya are you using .NET or Node SDK? Please share your bot code so we can assist you.

[2017-05-25 16:26] nwhitmont commented on #2828
@anirudhaditya There are a couple tools you can use to help determine if the account is accessible via the EWS api’s that we use in the email channel.  Try running the “Microsoft Exchange Web Services Connectivity Tests” and see if the results show anything interesting. https://testconnectivity.microsoft.com/

[2017-05-25 16:26] #2098 closed

[2017-05-25 16:26] NCZ-10 commented on #2243
Yes! iOS and Win10 app working fine. Only Android is not clickable.

[2017-05-25 16:28] nwhitmont commented on #2832
@radennis are you using .NET or Node SDK?

[2017-05-25 16:30] radennis commented on #2832
.Net

[2017-05-25 16:31] nwhitmont commented on #2833
@radennis are you using .NET or Node SDK?

[2017-05-25 16:32] radennis commented on #2833
.Net

[2017-05-25 16:33] stevengum97 commented on #2835
I'm closing this issue as it is a how-to as opposed to a bug or feature request. Please ask these types of questions on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) under the botframework tag.

[2017-05-25 16:35] nwhitmont commented on #2835
@chetanmekha Are you using .NET or Node SDK?

[2017-05-25 16:36] EricDahlvang commented on #2829
Adaptive Card support in the BotFramework Web Chat control is currently being implemented.  Please see this PR: https://github.com/Microsoft/BotFramework-WebChat/pull/471

http://adaptivecards.io is also a resource that might be useful for you.

[2017-05-25 16:36] #2829 closed

[2017-05-25 16:43] JajatiMohanta commented on #2825
I am using dot net

[2017-05-25 16:43] nwhitmont commented on #2830
@anirudhaditya You will need to ask this question to Twilio directly.

[2017-05-25 16:43] #2830 closed

[2017-05-25 17:20] msimecek commented on #2621
@JasonSowers It seems to have resolved itself :) Works fine now. Closing.

[2017-05-25 17:20] #2621 closed

[2017-05-25 17:26] nwhitmont commented on #2825
@JajatiMohanta Please post your bot code so we can better assist you.

[2017-05-25 17:34] #2617 closed

[2017-05-25 17:53] JasonSowers commented on #2834
@arsuceno
Can you please upgrade to the latest [Bot Framework 3.8.1](https://www.nuget.org/packages/Microsoft.Bot.Builder/) and see if your problem persists?

[2017-05-25 17:56] JasonSowers commented on #2833
Can you please upgrade to the latest [Bot Framework 3.8.1](https://www.nuget.org/packages/Microsoft.Bot.Builder/) and see if your problem persists?

[2017-05-25 18:35] #2365 closed

[2017-05-25 18:41] nwhitmont commented on #2418
@nzthiago Are you still experiencing the issue after upgrading to [BotBuilder 3.8.1](https://www.nuget.org/packages/Microsoft.Bot.Builder/)?

[2017-05-25 18:44] #2356 closed

[2017-05-25 18:46] nwhitmont commented on #2515
@oflahero Are you still experiencing the issue after upgrading to [BotBuilder 3.8.1](https://www.nuget.org/packages/Microsoft.Bot.Builder/)?

[2017-05-25 18:47] nwhitmont commented on #2475
reopen if you're still experiencing the issue after upgrading to BotBuilder v3.8.1

[2017-05-25 18:47] #2475 closed

[2017-05-25 19:22] nwhitmont commented on #2823
@xitij Can you post an example of a "long message" that causes the error?

The answer posted by @PrasadGautham looks like a good alternative way to check the messages before sending to LUIS. Try it as a work-around.

[2017-05-25 19:47] McGern commented on #2293
@nwhitmont I haven't seen the issue since the 3.5.2 update. Haven't updated to the latest bit sdk because we are about to go live, and didn't want to  have to retest again when it seems to be stable

[2017-05-25 20:25] matthewz0584 commented on #2539
Yep, I am. Recent Bot framework update has fixed some issues (Activity.GetMentions throwing StackOverflowException, for example), but, alas, not mine.

Fresh dump with no mentions in Entities property and two text_mention in ChannelData:

"entities": [
    {
      "type": "mention",
      "mentioned": {
        "id": "egorbotbot",
        "name": "egorkabot"
      },
      "text": "egorbotbot"

[2017-05-25 20:48] JasonSowers commented on #2641
I believe these will help you with what you are trying to accomplish:
[Documentation](https://docs.botframework.com/en-us/csharp/builder/sdkreference/d5/de7/class_microsoft_1_1_bot_1_1_builder_1_1_history_1_1_replay_transcript.html)

[Source code](https://docs.botframework.com/en-us/csharp/builder/sdkreference/d9/d53/_replay_transcript_8cs_source.html)

[Saving bot activities blog] (https://blog.b

[2017-05-25 20:51] #2641 closed

[2017-05-25 22:47] #2571 closed

[2017-05-25 23:19] xitij commented on #2823
Any message over 500 characters, literally all of them. Here is an example:
[code]
Imagine a case where a user is writing a really long request/response. All of those will fail.

I'm unfamiliar with what he/you are referring to as the "message controller". Can you please specify?

[2017-05-26 01:35] DL-LiveTiles opened #2836 "Bot Framework Support"
Where can we get direct Bot Framework support? Not Bot Builder, the Bot Framework.
Where can we log feature requests? No user voice available...
Where can we log issues? No git or other method available.
Stack exchange is for general questions only.

[2017-05-26 03:38] damienpontifex opened #2837 "[Feature Request] Use constructor injection and remove static ServiceProvider class"
## Pre-flight checklist
- [x] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)
* SDK Platform: All
* SDK Version: Latest
* Development Environment: localhost

## Issue Description
Bot builder creates a `ServiceProvider` class and then uses that to

[2017-05-26 05:12] PrasadGautham commented on #2823
I am using c#, with the bot application template.
   I actually check the length of the text entered by the user and if its greater than 500, I wouldn't make a call to Luis instead I would return some error message.

[2017-05-26 05:22] chetanmekha commented on #2835
Node SDK.. botbuilder npm version 3.8.3.

[2017-05-26 05:31] clockwisemusic commented on #1444
Thank you @msft-shahins - you are now my hero of the week.

[2017-05-26 06:37] sab435 commented on #2826
You are absolutely correct about this.

The workaround you mentioned also worked. The email for the bot shows bot@xxx.onmicrosoft.com but that is OK for now. It's available in the directory and I can talk to it.

Buttons and cards are not yet supported but that's a different story.

Thanks.

[2017-05-26 06:37] #2826 closed

[2017-05-26 07:20] JajatiMohanta opened #2838 "[Question] Is it possible to get only last conversation result without getting all conversations through directline api"
Hi,
Is it possible to get only last conversation result without getting all conversations through directline api
"https://directline.botframework.com/v3/directline/conversations/KkGXOImLNasfdjjgf/activities"
by GET request
or can we able to find text response in POST request with directline api.
Thanks,
Jajati

[2017-05-26 08:35] chitrang89 commented on #2576
Hi @yamifr07 ! Have you tried replaceDialog instead of beginDialog to see a change in behaviour?

[2017-05-26 09:55] oflahero commented on #2515
@nwhitmont Yes.

[2017-05-26 10:21] josephktcheung opened #2839 "[LUIS] triggerAction matching LuisRecognizer intent cannot interrupt current dialog"
## Pre-flight checklist
- [x] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)
* SDK Platform: Node.js
* SDK Version: 3.8.3
* Development Environment: localhost

## Issue Description
`triggerAction` which matches LuisRecognizer intent cannot inter

[2017-05-26 11:36] shakthisaran opened #2840 "[LUIS] Messages are hitting LUIS app but getting error in emulator"
## Pre-flight checklist
- [ ] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [x] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)
* SDK: .NET
* Developmen

[2017-05-26 12:08] johnkuefler commented on #2826
@sab435 So just to confirm, your bot is working correctly with the xxx.onmicrosoft.com address on your federated tenant? I had tried to set up mine that way and every time I message it I get back "The action couldn’t be completed. Please try again later." Wonder if you did something differently from me at some step in the process.

[2017-05-26 12:43] sab435 commented on #2826
@johnkuefler Yes, mine is working as expected. I simply added the bot to the xxx.onmicrosoft.com domain and waited 8 hrs. The next day it was working as expected. I did receive the same error as you when trying to message the bot before waiting 8hrs or so. have you added the bot and waited few hours before trying again?

[2017-05-26 12:47] PrasenjitSaha opened #2841 "[Skype for Business] Unable to configure Channel in MS BOT"
Hi All, I have followed whatever steps are mentioned to configure Skype for business channel. While running below Power Shell Command -

New-CsOnlineApplicationEndpoint -ApplicationId <appid> -Name <botname> -Uri
sip:user@domain.onmicrosoft.com

I am getting below error -

**Cmdlet invocation error
    + CategoryInfo          : NotSpecified: (:) [New-CsOnlineApplicationEndpoint], CmdletInvocationE

[2017-05-26 13:40] adekola commented on #196
Hi @willportnoy. Thanks for the update to the SDK which makes this possible. Could you kindly indicate a sample use of the `AlwaysSendDirect_BotToUser` class?

[2017-05-26 13:50] adekola commented on #250
Hi all. I would also like to know how to implement such a functionality. The proactive bot approach would be overkill for the simple requirement of sending a welcome message when the bot is started.

Looking forward.

[2017-05-26 15:18] salunkheshubham1995 commented on #777
how to connect wit.ai with bot framework to get http response?

[2017-05-26 15:21] willportnoy commented on #196
@adekola Stack Overflow might be a more appropriate forum for asking general questions - in this case, we use AlwaysSendDirect_BotToUser as the default service for outgoing messages to the user from the bot.

[2017-05-26 15:25] sab435 commented on #2826
No user was created in office 365. Just the powershell cmdlet for adding the application endpoint.

Yes, the screenshot you attached is the error I was receiving.

[2017-05-26 15:26] pandubalraj opened #2842 "[Question] Unable to fetch the session args in BotBuilder"
Created a Azure bot service and enabled the LUIS integration. Recognizer and Intent, Dialogs, LUIS Models are configured using BotBuilder with NodeJS SDK

Please suggest to handle the intent matches and composite entity matches inside the intent.

The session.args.entities is not working.
[code]

[2017-05-26 15:31] sab435 commented on #2826
One thing I did do that I forgot to mention: I did use remove-csonlineapplicationendpoint cmdlet on the federated domain, and it ran successfully and removed an endpoint even though initially the add cmdlet had errored out.

I then waited and used the add cmdlet on the xx.onMicrosoft.com domain.

[2017-05-26 15:33] johnkuefler commented on #2826
@sab435 Ok I will try removing the endpoint, wait, and try again. Thanks for your help!

[2017-05-26 15:51] nwhitmont commented on #2836
@DL-LiveTiles Thanks for asking. You can get Bot Framework support right here on GitHub. You can also report feature requests here, as well as log issues.  Additionally, you will find the Bot Framework user voice website here: https://botframework.uservoice.com/

[2017-05-26 15:51] #2836 closed

[2017-05-26 15:57] nwhitmont commented on #2837
@damienpontifex For reference, are you using .NET or Node SDK?

[2017-05-26 15:57] nwhitmont commented on #2838
@JajatiMohanta are you using .NET or Node SDK?

[2017-05-26 16:37] nwhitmont commented on #2842
@pandubalraj Check out [this answer on Stack Overflow](https://stackoverflow.com/questions/43194594/botframework-findentity-issue/43219116#43219116) and let me know if it solves your issue.

[2017-05-26 16:52] sawmixer opened #2843 "[FormFlow] Warning, that selected field is wrong choice, when try to change field value"
## Pre-flight checklist
- [ ] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [x] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)
* SDK Platform: C#
* SDK

[2017-05-26 17:22] EricDahlvang commented on #2838
Thank you for your submission. 

The direct line is not a message store, but a communication channel.  Messages are cached only for a short time  (for stability, enabling reconnecting if the connection is lost).  Using a **watermark**, it is possible for the developer to control which messages to retrieve from the direct line cache: https://docs.botframework.com/en-us/restapi/directline3/  But, th

[2017-05-26 17:22] #2838 closed

[2017-05-26 18:08] JasonSowers commented on #2834
Slack does not, and has no plans to support markdown.  This issue is on the slack channel end. More info here :
https://get.slack.help/hc/en-us/articles/202288908-Format-your-messages

[2017-05-26 18:09] #2834 closed

[2017-05-27 00:18] xialisun commented on #143
I am using version 3.8.2, 'endOfConversation' event seems not trigger

[2017-05-27 02:24] damienpontifex commented on #2837
@nwhitmont .NET

[2017-05-27 07:25] sajjanhubale opened #2844 "[Question] Pricing if any for using Microsoft Bot Framework"
Hello Team,

I am working on a chat bot using Microsoft bot framework. Can you let me know whether there is any charge for using the bot framework as we are planning to deploy this chat bot on production system ?

[2017-05-27 07:36] stevengum97 commented on #2844
As a polling question, which SDK are you planning on using, C# or NodeJS?

If you use LUIS, other Cognitive Services, or Azure Bot Service for hosting you will have pay for exceeding the free tier or when using the paid plans.

Using the SDK itself will not incur any charges.

[2017-05-27 08:27] sajjanhubale commented on #2844
Thank you for your reply..
I am using  NodeJs as a SDK and api.ai for Natural language processing.
I have  designed Web application which  is using WebChat channel.
How to deploy this so that other users can make use of it.

[2017-05-27 09:29] CLOUD9111 commented on #2732
The issue is fixed but the no APIs are provided yet to register the FB page with bot framework in an automated manner yet.

[2017-05-27 12:15] supra28 commented on #2844
You can deploy it like any other nodejs application. There are plenty of good tutorials on youtube out there.

[2017-05-27 13:56] aakashkag commented on #2415
I written code to connect bot Builder to Mongo db. It will store session data in mongo
https://github.com/aakashkag/BotBuilder-MongoDB

[2017-05-28 01:13] JasonSowers commented on #2837
@damienpontifex Since you pointed out you are willing to, I think the best plan is to submit it as a pull request. This way we can let the SDK developers make a decision without an immense amount of added work.  Please continue the conversation here and let us know if that is the route you decide to go.

[2017-05-28 07:10] pramaniks4u commented on #1955
Hi, issue reproduce able in skype but same works fine in emulator. I'm using nodejs sdk. here are logs
2017-05-28T07:07:26.907222+00:00 app[web.1]: Error: Request to 'https://smba.trafficmanager.net/apis/v3/conversations/29%3A1-KtonFC1l_9Sba1nwWEpyCP4gY1qMUgSsCbW2j8o6No/activities' failed: [400] Bad Request
2017-05-28T07:07:26.907241+00:00 app[web.1]:     at Request._callback (/app/node_modules/bo

[2017-05-28 09:09] aakashkag commented on #2530
function public_channel_ensure(session){
  var obj={"isGroup":false,"isAllow":false}
  var address=session.message.address;
  var message=session.message;
  var botname=address.bot.name;
  if(address.conversation.isGroup&&message.text){
    var msgtoken=message.text.toLowerCase().trim().split(/\s+/);
    var attachments=message.attachments||[]
    if(attachments.length==0&&botname&&msgtoken.indexO

[2017-05-28 09:10] aakashkag commented on #2196
`function public_channel_ensure(session){
  var obj={"isGroup":false,"isAllow":false}
  var address=session.message.address;
  var message=session.message;
  var botname=address.bot.name;
  if(address.conversation.isGroup&&message.text){
    var msgtoken=message.text.toLowerCase().trim().split(/\s+/);
    var attachments=message.attachments||[]
    if(attachments.length==0&&botname&&msgtoken.index

[2017-05-28 09:34] JeevaJose opened #2845 "[Question] AdaptiveCard SubmitAction not working."
I am working on AdaptiveCard  configured with one input box and 3 buttons, when user click on the submit button I want to get the result in the code behind.  I am getting the result but I want to know which button clicked to submit the result.

When I click on button 1 I am getting following error:
[code]
When I click on button 2 I am getting the input value but there is no information about butto

[2017-05-28 17:29] nwhitmont commented on #2844
@sajjanhubale Here is some additional information on [deploying your bot to the cloud](https://docs.microsoft.com/en-us/bot-framework/deploy-bot-overview)

[2017-05-28 17:29] #2844 closed

[2017-05-28 23:10] Montacia commented on #2493
@JasonSowers Hey Jason, this is still an issue for me even after updating to 3.8.1

[2017-05-29 01:03] Montacia commented on #2493
@JasonSowers I found the problem... Conversation.SendAsync() is working as it should, the problem lies in the fact that the one intent still has actions (from the deprecated LUIS actions) associated with it, resulting in LUIS creating prompts which were worded the same as the prompts in form flow. For some reason 3.2.1 suppressed these actions and just continued on with the code but newer versions

[2017-05-29 02:58] barrychc opened #2846 "[Bug] Facebook integration error with Node -[TypeError: Cannot read property 'logger' of undefined]"
## Pre-flight checklist
- [ ] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [X ] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)
* SDK Platform: node
*

[2017-05-29 05:54] pchoudhari commented on #2827
We don't have a date to announce yet. We are actively working on this feature right now.

[2017-05-29 06:14] ankitbko commented on #2827
Did I miss this in Build? What is this feature?

[2017-05-29 06:26] liangstein opened #2847 "[Question]How to use conversationData when developing on node.js"
How to write variables into conversationData when developing using node.js. Compared to userData, i can write string by session.userData.name=***. Is it similar when writing strings into conversationData?

The Microsoft document on node.js isn't detailed enough.

[2017-05-29 07:26] #2847 closed

[2017-05-29 08:50] sw-ms-roshanparmar commented on #2807
yes @JasonSowers , it has started working now. But could not understand where I was making a mistake

[2017-05-29 09:19] Sheikz opened #2848 "Send message to a user without knowing the conversation address"
Using the Node.JS SDK and 'Skype for Business' channel, I would like to initiate a new conversation to a user knowing only his id (username@domain.com).

In all the examples I could find, the address object or conversation id is needed by taking it from a previous message from the user.

How to initiate a new conversation by the bot to a specific user without any history?
Alternatively, is it poss

[2017-05-29 09:42] PrasenjitSaha commented on #2841
I have successfully configured one MS BOT in Skype for business channel after trying many times but in chat window now I am getting below error from O365 Skype for Business **"Error happened in contacting target user"**. I have tried to commenting [AuthorizeBOT] attribute but not working...

[2017-05-29 09:58] PrasenjitSaha commented on #2808
Hi, I am getting same error "**Error happened in contacting target user**" after adding Skype for Business Bot. I have tried omitting **[BotAuthentication]** but getting same error.

[2017-05-29 10:11] sw-ms-roshanparmar commented on #2163
Above url is not working . Can you please provide the another one.

[2017-05-29 10:11] suzyahyah opened #2849 "[Question] bot not sending message in basic setup, botbuilder@3.8.3"
## Pre-flight checklist
- [x] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)
* SDK Platform: Linux/Ubuntu
* SDK Version: botbuilder 3.8.3, restify 4.3.0, node 0.10.25
* Development Environment: localhost | ngrok server

## Issue Description
The

[2017-05-29 10:52] JajatiMohanta opened #2850 "Finding user location in botframework"
## Pre-flight checklist
- [x] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [ ] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)
* SDK Platform:
* SDK Ve

[2017-05-29 10:53] JajatiMohanta commented on #2850
hi,
Is it possible to find out user's current location in Microsoft bot ?
Thanks,
Jajati

[2017-05-29 11:08] chetanmekha commented on #2098
Hello Guys,
I am facing the same issue in node js version. I have latest version of webchat. My scenario is,
1) When user add bot in browser then welcome msg come with choice option
2) When user select or type anything then again conversationUpdate get's called and welcome message appears
3) After selecting choice option second time bot start working normally.
Please help me out over this.
I am us

[2017-05-29 11:50] Sid245439 commented on #2817
@JeevaJose  Hey I am facing the same issue please tell me how to fix this issue

[2017-05-29 13:43] sajjanhubale commented on #2844
Sorry to bother you all again and again. I am not concerned about the deployment thing right now. It's like  I have used webchat channel and microsoft bot framework in node.js.

Now I just want to know whether these services/tools can be used for free or once I deploy it they will be charged apart from the charges for the deployment by other cloud platforms.

Any help is appreciated. Thanks in adv

[2017-05-29 14:02] chetanmekha commented on #2835
@nwhitmont Please help me out over this? or guide me how can i implement it?

[2017-05-29 14:04] JajatiMohanta opened #2852 "[Question] handling client script inside bot application"
Hi,
Is it possible to handle client script (like javascript) inside bot application?
Thanks,
Jajati

[2017-05-29 14:13] amitbend commented on #2850
You can use : https://github.com/Microsoft/BotBuilder-Location

[2017-05-29 14:29] sajjanhubale opened #2853 "[Question] Charges for any for using Microsoft Bot Framework in Node.js and WeChat channel"
I have used webchat channel and microsoft bot framework in node.js to make ChatBot.

Now I just want to know whether these services/tools can be used for free or once I deploy it they will be charged apart from the charges for the deployment by other cloud platforms.

Any help is appreciated. Thanks in advance. (Also I am not thinking right now to deploy it on Azure, instead I may choose any other

[2017-05-29 14:52] aery-aery commented on #2709
@nwhitmont The problem seems to be caused by using http url for video. Using http violates Apple’s App Transport Security rules (https://developer.apple.com/news/?id=12212016b). The same thing happens in #2708.

[2017-05-29 15:13] JoelReehe opened #2854 "[Question] onDefult Handler for unhandled utterances using LUIS"
Hi,
I want to give my bot a default dialog which catches every utterance that doesn't match an intent saying "I don't understand". Afterwars the conversation should go on an the bot should listen for new messages.

I've already seen it a lot in other bots. I've tryed using "onDefault()" but i can't figure out how to use it for my case since it it's just working with IntentDialog and not with LUIS.

[2017-05-29 15:19] ejadib commented on #2854
All the details about the issue are empty; please fill them

[2017-05-29 15:21] JoelReehe commented on #2854
Sorry I hit enter before writing anything - updated now

[2017-05-29 15:22] ejadib commented on #2848
Duplicate of https://stackoverflow.com/questions/44238695/find-the-address-of-a-specific-user-using-microsoft-bot-builder

[2017-05-29 15:25] ejadib commented on #2840
What version of the BotBuilder NuGet package are u using? BTW, check this, it could be related: https://stackoverflow.com/questions/41392366/how-to-use-luis-none-intent-in-c-sharp-without-train-utterance-at-luis

[2017-05-29 15:39] JeevaJose commented on #2817
First you have to generate a token and once that token is ready pass to the conversation then will generate a new token. Pass that token and generate a refresh token.
https://directline.botframework.com/v3/directline/conversations

without conversation you can’t generate a refresh token. I hope this post will help you to fix the issue.

[2017-05-29 15:40] auanish opened #2855 "Bot responds with "undefined""
## System Information
* SDK Platform: Node
* SDK Version: 3.8.3
* Development Environment: Azure App Service

## Issue Description
I have a simple chatbot which takes the user's name and replies asking how it can help them. It works fine in the emulator and webchat but when I tried that as an android app via DirectLine I'm getting an additional prompt which is just empty. So I put some code to log

[2017-05-29 16:13] auanish commented on #2855
Works fine if I removed `session.endConversation();`

[2017-05-29 16:13] #2855 closed

[2017-05-29 16:47] ejadib commented on #2855
Duplicate of https://stackoverflow.com/questions/44246376/bot-framework-bot-responds-with-undefined

[2017-05-29 18:13] jsiegmund commented on #2841
Similar to #2808

[2017-05-29 18:33] jsiegmund commented on #2808
Today I removed the endpoint for my bot and re-added it with a new sip (just to be sure) and sure enough: now it seems to work! There's still a few quirks (the conversation history seems to get lost) but the initial issue isn't there any more for me.

[2017-05-29 18:52] juhamust commented on #2810
Hi all, sorry for the delay with the response.

@SheriEllisMSFT I can share the botID, but that won't be able to test it because of additional Active Directory authentication, it uses. I can't share the full code, but now there is a partial and anonymised code available as gist. Hopefully you'll find it helpful.

https://gist.github.com/juhamust/885f5f199be9d676cd0559be823a2edc

Also, sounds like

[2017-05-29 19:37] EricDahlvang commented on #2163
[https://docs.microsoft.com/en-us/bot-framework/troubleshoot-general-problems#how-can-i-support-multiple-bots-at-the-same-bot-service-endpoint](https://docs.microsoft.com/en-us/bot-framework/troubleshoot-general-problems#how-can-i-support-multiple-bots-at-the-same-bot-service-endpoint)

Where there is a reference to: [https://github.com/Microsoft/BotBuilder/issues/2258#issuecomment-280506334](http

[2017-05-29 19:43] EricDahlvang commented on #2850
I'm closing this issue since amitbend has answered the question.

 Please note: the Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) so the community can benefit from the answers. The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/issues) repo  is the preferred platform for su

[2017-05-29 19:43] #2850 closed

[2017-05-29 20:00] EricDahlvang commented on #2098
@rohantare The ConversationUpdate activity is sent for each member added: once for the user, and once for the bot.  Filtering on .Recipient.Id enables replying just once:

[code]

@chetanmekha Similarly, in node:

[code]

[2017-05-29 20:09] Mikhail2k15 commented on #2808
@jsiegmund  Which Bot template did you user?
I tried the same many times but I still have the "Error happened in contacting target user

[2017-05-29 20:19] EricDahlvang commented on #2848
The Skype for Business channel does not support initiating a conversation with a user that has not first communicated with the bot.

-----

Please note, the Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/issues) repo  is th

[2017-05-29 20:19] #2848 closed

[2017-05-29 21:17] nwhitmont commented on #2849
@suzyahyah I noticed you are using a very, very old version of Node.js.  I recommend upgrading your Node.js installation to v6.10.3 LTS or v7.10.0 (current). Let me know if the problem persists after upgrading Node.js.

[2017-05-29 21:20] nwhitmont commented on #2852
@JajatiMohanta Yes, your bot can run any script that you can run on your system.

[2017-05-29 21:20] #2852 closed

[2017-05-29 21:30] nwhitmont commented on #2853
@sajjanhubale The Bot Framework SDK, aka BotBuilder, is [open source software](https://opensource.com/resources/what-open-source) provided under the [MIT License](https://github.com/Microsoft/BotBuilder/blob/master/LICENSE).

Additionally, Azure Bot Service is free to use. You pay only for the resources you consume. For more information about related service pricing see:
- Azure Functions - https:

[2017-05-29 21:30] #2853 closed

[2017-05-29 21:35] nwhitmont commented on #2854
@JoelReehe are you using .NET or Node SDK?

[2017-05-29 21:50] JoelReehe commented on #2854
I'm using Node

Am 29.05.2017 11:35 nachm. schrieb "Nils" <notifications@github.com>:

[2017-05-29 23:49] EricDahlvang commented on #2845
The Data parameter should be a json object:

[code]

Setting the SubmitAction's Data property to a string will attempt to send it in the Text property of the message to the bot.  But, since the Body has a TextInput, the SubmitAction's Data should be a json object so they can be combined in a json array in the value:

![jobject](https://cloud.githubusercontent.com/assets/11055362/26563860/efb89458-

[2017-05-29 23:49] #2845 closed

[2017-05-30 00:11] suzyahyah commented on #2849
I upgraded to v7.10.0, Thanks it works now!

[2017-05-30 00:11] #2849 closed

[2017-05-30 05:32] jsiegmund commented on #2808
This was an existing bot based on the LUIS template.

[2017-05-30 07:37] Mikhail2k15 opened #2856 "[Skype for Business] doesn't support FormFlow in Skype for Business channel."
I have simple FormFlow. It works in other channel but doesn't work in SfB channel.
The same with PromptDialog.Text.

[2017-05-30 08:27] pchoudhari commented on #2827
It wasn't part of the Build announcement. We have had several customers ask for the ability to filter and rank results on metadata associated with QnA pairs.

[2017-05-30 10:33] shakthisaran commented on #2840
Hi Ezequiel, the version of BotBuilder Nuget is 3.8.1
Also used "" instead of "None" but still getting the same message "Exception:
[File of type 'text/plain']". While the emulator message says "unable to send retry", i'm seeing the messages in suggested utterances.

[2017-05-30 12:18] johnkuefler commented on #2820
I was able to resolve this. It seems like it has something to do with when you add a bot to a federated domain utilizing the custom domain name. This errors out when you use the New-CsOnlineApplicationEndpoint -Uri bot@domain.com. However, it still creates a bad endpoint. The cmdlet does not error out if you use a uri like bot@domain.onmicrosoft.com. However, after I had already added the bad endp

[2017-05-30 12:18] #2820 closed

[2017-05-30 12:47] chetanmekha commented on #1714
@ambrishverma Hello Ambrish, I want add share button in Thumbnail card in how can i achieve it? please check see the attachment.
![fb_chatbot](https://cloud.githubusercontent.com/assets/3276861/26583803/39cf15ae-4564-11e7-946b-aa5e32222174.png)

[2017-05-30 13:04] sab435 commented on #2820
Glad you could resolve this! Same thing worked for me.

[2017-05-30 14:17] yamifr07 commented on #2576
@chitrang89 yes, same issue.

[2017-05-30 14:44] sowsan opened #2857 "[Question] The bot referenced by the 'from' field is unrecognized"
Existing issue reported (similar)
https://github.com/Microsoft/BotBuilder/issues/2450

Not sure how to fix the above recommendation on my scenario,

## System Information (Required)
* SDK Platform: C# - VS 2017 Latest Update
* SDK Version: Microsft.Bot.Builder v3.8.1
* Development Environment: localhost / Azure App Service

## Issue Description
I have bot that I created for sending the proactive m

[2017-05-30 15:17] AndreMantas commented on #2692
Hi.

This is happening to me as well. Just changing:

`message.AttachmentLayout = AttachmentLayoutTypes.Carousel;`

to

`message.AttachmentLayout = AttachmentLayoutTypes.List;`

And publishing the code fixes the problem:
Bot replies: `Sorry, my bot code is having an issue.`
Issue in dev.botframework.com: `Card contains invalid attachment count`

Glad I found this issue, since it was working perfec

[2017-05-30 15:48] nwhitmont commented on #2709
@aery-aery I updated all my media URLs to `https` & redeployed the bot, but the video card still doesn't work. You can verify my [test bot code here](https://github.com/nwhitmont/botframework-skype-support-dev/blob/master/server.js#L165).

[2017-05-30 15:51] nwhitmont commented on #2708
@aery-aery I updated the audio media URL to `https` & redeployed the bot, but the audio card still doesn't play. You can verify [the bot code here.](https://github.com/nwhitmont/botframework-skype-support-dev/blob/master/server.js#L179)

[2017-05-30 16:45] #2837 closed

[2017-05-30 17:04] JasonSowers commented on #2692
This has been resolved, I am going to close this issue.  I have added this question, https://stackoverflow.com/questions/44267966/c-sharp-bot-framework-skype-attachments/44268012#44268012 to stack overflow so the solution will be documented and indexed.  Please feel free to continue the conversation here and/or reopen if you think it is needed.

[2017-05-30 17:36] AndreMantas commented on #2692
As I can't comment on your answer in SO, I need to reply here.

This is not true, at least for me. My message had around 30 attachments.

I want to use Carousel and not List. Are you sure it works? It was not working for me with ThumbnailCards.

[2017-05-30 18:00] JasonSowers commented on #2692
You're right I was mistaken.  I have taken the question/answer down for inaccuracy.

[2017-05-30 18:02] SheriEllisMSFT commented on #2770
@dkushner  Hi Dave,
I have asked the internal teams to investigate, and we're still investigating. It's so strange that the problem happens intermittently, and per your comments, it seems like the connection is freshened from updating the settings, and then becomes stale again. Our engineering team provided the attached graph of transactions we're receiving, thinking maybe there are patterns relat

[2017-05-30 18:47] Noc2 commented on #2713
I just got three hero cards in a row, so problem seems to be solved. Thanks!

[2017-05-30 18:47] #2713 closed

[2017-05-30 20:50] gakarnik commented on #2088
I upgraded to BotBuilder 3.8.1 and I don't experience this issue anymore. Thanks for the fix!

[2017-05-30 21:20] #2088 closed

[2017-05-30 21:36] srozga opened #2858 "[Question] Direct Line throughput limit?"
We are running some load tests on one of our bots and we wanted to look into when the bot will break. Our set up is a bit wacky for business reasons; we must connect the bot through the DirectLine , even though it will be exposed through Messenger. A third party owns the FB page, proxies messages over to a connector and we use the DirectLine to send messages to our bot and then back to the third p

[2017-05-30 21:46] EricDahlvang commented on #2843
I've confirmed this behavior is repeatable using en-US. Still investigating.

[2017-05-30 21:47] schneiderpat commented on #2715
When I´m using the postBack method on a HeroCard button, my script does not start the next step of the waterfall.
I´m looping the same step over and over again.
But the value of the button is in the session.message.text property.
I can parse this and redirect the manually, but that is not pretty handy.

[code]

[2017-05-30 21:49] schneiderpat commented on #2715
I think this is related to the question of @Nisthar

[2017-05-30 23:17] nwhitmont commented on #2858
@srozga are you using .NET or Node SDK?

[2017-05-30 23:51] nwhitmont commented on #2858
@srozga I'm not aware of any specific limitations on Direct Line API calls, and I couldn't find any mention of it in the [Direct Line v3 API docs](https://docs.botframework.com/en-us/restapi/directline3).

@dandriscoll Any additional considerations we should be aware of?

[2017-05-30 23:59] vamagra commented on #2781
Hi Frank,

I tried the same snippet code and its working for me. can you please let us know if you are still facing the same issue? Here is the output attachment - (I tested with number comparison instead of text)

 "Size": {
         "Prompt": { "Patterns": [ "What size? {||}" ] },
         "type": [ "string", "null" ],
         "enum": [
            "half",
            "full"
         ],

[2017-05-31 00:24] chixcancode commented on #2468
Do you happen to have any samples of how you did this?  Does this means you mainly just leveraged the Twilio Voice or did you use any speech-to-text api's from microsoft?

[2017-05-31 01:07] srozga commented on #2858
Everything is going through .Net. There may be something going on with the fact that the directline getsbcalled by our API and then the API calls directline again to retrieve the message and I wonder if there's any timing things that may be causing this. Thanks.

[2017-05-31 02:51] josephktcheung commented on #2839
The code that causes this issue is [this line](https://github.com/Microsoft/BotBuilder/blob/master/Node/core/src/dialogs/Prompt.ts#L173) where `Prompt` sets its result to `context.intent`. The interruption works if I change this line from this:
[code]
to this:
[code]
@Stevenic is there any reason why a prompt needs to use `context.intent` as `IIntentRecognizerResult`?

[2017-05-31 05:03] JajatiMohanta commented on #2852
how to javascript ms bot application using dotnet sdk?

[2017-05-31 06:10] Frank-Bursitzke commented on #2781
Hi Amit,

what happens, if you type sth. different than "123456789"? I still get an error, if the field should be inactive (Active evaluates to false).

If it's working in your bot + MS Teams, I see no problem in sharing my code.

BR, Frank

[2017-05-31 06:17] ManojG1978 commented on #2635
No, I haven't yet found a way to address this. This is particularly needed in proactive dialogs where the prompt text is dynamic and it would important to log/analyze that offline.

[2017-05-31 06:23] anirudhaditya commented on #2828
thanks nwhitmount. I already tried it but not able to test. It's office 365 Identity and already synched up with Azure AD. When I login https://testconnectivity.microsoft.com/#&&o21hKKg+NdepjEGqpnJZxGQ/mc+nqHyzggB1OcWMIH89Or6HtLjLXPau9jFgNbeBg3HngaSDDvliXsR6TeLUt0ikihEWCCZEBVgWgmE/4KzW6cJZazHZMEGvSB5fzGTXibxPGcu7+AxRi9BG9CdYvsGoVQYIE9s+lelNwOEZH/e1MWKqhHIBP7JSMv87/wIdEzN+BQ==

I only have Email ID

[2017-05-31 06:40] vamagra commented on #2781
Hi Frank,

Sure, will check the false condition as well tomorrow and let you know.

Thanks
Amit Agarwal

Get Outlook for Android<https://aka.ms/ghei36>

From: Frank Bursitzke
Sent: Tuesday, May 30, 11:10 PM
Subject: Re: [Microsoft/BotBuilder] [MS Teams] Inactive fields in FormFlow cause bot to fail in MS Teams (#2781)
To: Microsoft/BotBuilder
Cc: Amit Agarwal (HCL America Inc), Comment

Hi Amit,

[2017-05-31 07:16] nwhitmont commented on #2828
What type of email? Can you confirm. Is this a private company type? Or O365?

[2017-05-31 07:18] nwhitmont commented on #2635
Thanks for the update @ManojG1978

Can you provide an example?

[2017-05-31 07:21] nwhitmont commented on #2858
Thanks for the update. I will dig for more details and setup a test scenario. Examples welcome

[2017-05-31 07:23] cesarvarela opened #2860 "[Bug] Prompts not working in a `setTimeout` or a `Promise` callback, after a `replaceDialog` call:"
## Pre-flight checklist
- [ ] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [x] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)
* SDK Platform: Node
* S

[2017-05-31 08:32] anirudhaditya commented on #2828
Its corporate Email ID and already synced up with Azure AD.

[2017-05-31 09:29] AmitavaSinha opened #2861 "[Question] Azure Push Notification in Azure Web Job through Power shell ( Bot web app )"
## Pre-flight checklist
- [ ]
---------------------------

## System Information (Required)
* SDK Platform: Powershel
* SDK Version:
* Development Environment:  Azure App Service ( Web Job)

## Issue Description
Connect-MsolService is not recognized while running the Powershell script ( try to get Azure AD details) in Azure Web job

## Example Code
import-module MSOnline

$username = "**********"

[2017-05-31 09:58] adekola commented on #1938
@McGern: here's the correct link.. https://docs.microsoft.com/en-us/bot-framework/troubleshoot-authentication-problems. I guess you must have solved your issue by now anyways.

[2017-05-31 10:30] chetanmekha opened #2862 "[Question] sourceEvent not working properly"
@dandriscoll @nwhitmont
I am trying to create a multiple button on facebook chat bot with sourceEvent use but it is not working properly.
I tried with below code,
[code]
On FB messenger nothing displayed, and code side no exception or error thrown.

[2017-05-31 11:19] saileshcts opened #2863 "[Question] Bot does not respond or perform the expected action after dialog begins"
## System Information (Required)
* SDK Platform: Node
* SDK Version: 3.8.3
* Development Environment: localhost/ Azure webapp

## Issue Description
I'm trying to create a simple bot using Node.js which accepts a name and creates a record for the same in the database. I have been using Orient DB for the same.
Conversation goes as follows:
User: Hi
Bot: Please tell me your name
User: Jim
<no respons

[2017-05-31 12:08] msBot1111 opened #2864 "[Question] Add microphone button to record speech?"
I want to add microphone button in my asp.net core app, and to record speech and then using the bing speech-to-text API to convert it to text. I know the implementation of the API but I don't know how to add microphone in the view and then to use the API. I want to create something similar to google keyboard microphone.

[2017-05-31 12:15] PrasadGautham commented on #291
For, me there is some id value coming at From.Id, while From.Name has null value. So, what is the Value shown in From.Id and why is From.Name null? I am using "Facebook at work"

[2017-05-31 14:24] JoelReehe commented on #2854
nobody?

[2017-05-31 14:58] aery-aery commented on #2709
@nwhitmont can you describe what do you see when you try to play the video?
I've tried to reproduce it with rest api by posting this activity
[code]

[2017-05-31 15:43] nwhitmont commented on #2861
@AmitavaSinha Are you using .NET or Node.js SDK for BotBuilder?

I don't understand your problem.  How does this issue relate to Bot Framework SDK?

[2017-05-31 15:51] nwhitmont commented on #2864
@msBot1111 Can you provide some context for your project? How does this relate to Bot Framework specifically?

[2017-05-31 15:58] Jake1996 opened #2865 "[Question] Different behaviour of prompts in emulator and azure"
## System Information (Required)
* SDK Platform: windows 10
* SDK Version:  3.0.2(botbuilder-azure),3.8.3(botbuilder),restify(4.3.0)
* Development Environment: localhost | Azure Bot Service | Azure App Service | other

## Issue Description
When a prompt occurs in a dialog that is being called in bot.on(), the prompt behaves differently on azure and emulator

## Example Code
// For more information

[2017-05-31 15:59] schneiderpat commented on #2863
Did you try to debug?
[Look at the docs for help](https://docs.microsoft.com/en-us/bot-framework/debug-bots-locally-vscode)
(You don´t have to use the consoleconnector as provided in the doc file)

[2017-05-31 16:29] kneuLIL opened #2866 "[Question] Bots recently stopped responding via telegram"
## System Information (Required)
* SDK Platform: C#
* SDK Version: 3.8.1.0
* Development Environment: Azure Bot Service

## Issue Description
 The bot is not able to answer the user via telegram. Below I've listed versions of responding we tried, all result in the same ServiceError.
The bots stopped responding within the last 24 hours. They stopped without any deployment or action on our end. Rede

[2017-05-31 16:35] aery-aery commented on #2692
@AndreMantas currently there is a limit of 10 attachments per one carousel. Can you please try if it works for you with less attachments?

[2017-05-31 16:41] maximilianlorent commented on #2866
Hi everbody,

unfortunately we are experiencing the same issue. All of our bots which are using Telegram started working within the last few hours.

We experience the same behaviour as @kneuLIL. I only would like to add that we also have tried the following:

We tried to remove the Telegram user channel from one of our bot as our hope was that after readding the user channel it would work again. U

[2017-05-31 16:48] nwhitmont commented on #2866
@kneuLIL @maximilianlorent Thanks for reporting! We are actively investigating the issue....

[2017-05-31 17:04] rettelx commented on #2854
This will send "I don't understand" to the user if no intent matches.

[code]

[2017-05-31 17:38] nwhitmont commented on #2866
@kneuLIL @maximilianlorent Looks like Telegram API is having some issues. They [reported an API outage earlier today on Twitter](https://twitter.com/telegram/status/869870878393348096)

[2017-05-31 17:43] stevengum97 commented on #2854
@JoelReehe, if you provide your code you'll get better assistance. Besides the post by @rettelx, you can find an example in [`onDefault()`](https://github.com/Microsoft/BotBuilder-Samples/blob/27fc42278f1a3b681b75cc845a00f72475ca5f2e/Node/intelligence-Zummer/app.js#L70).

[2017-05-31 18:01] maximilianlorent commented on #2866
Hi everybody,

thanks a lot for investigation. I can confirm that for our bots since 17:45 UTC everything is working fine again. I wish everybody else that DNS caching problems will disappear soon, so that also your bots will be working again with Telegram.

[2017-05-31 18:04] #2866 closed

[2017-05-31 18:06] vamagra commented on #2781
Hi Frank,

I tried with false condition and it's just skip that step. Seems working for me!!

Can you please share your code to debug it here?

Thanks
Amit Agarwal
From: Amit Agarwal (HCL America Inc)
Sent: Tuesday, May 30, 2017 11:41 PM
To: Microsoft/BotBuilder <reply@reply.github.com>; Frank Bursitzke <notifications@github.com>
Cc: Comment <comment@noreply.github.com>; Dan Herron <dherron@micros

[2017-05-31 18:10] nwhitmont commented on #2866
https://status.botframework.com/incidents/g84q8p4sgz2b

Posted about 1 hour ago. May 31, 2017 - 10:17 PDT

[2017-05-31 19:45] JasonSowers commented on #2828
@anirudhaditya
The Bot Framework support team prefers to answer questions like this on Stack Overflow.  If the issue gets closed here on GitHub, it will not be available and indexed for external search engines so others can easily find it.  We are happy to answer your question here, but would you please also post your question to Stack Overflow.  Thanks!

[2017-05-31 19:46] JasonSowers commented on #2852
@JajatiMohanta
The Bot Framework support team prefers to answer questions like this on Stack Overflow.  If the issue gets closed here on GitHub, it will not be available and indexed for external search engines so others can easily find it.  We are happy to answer your question here, but would you please also post your question to Stack Overflow.  Thanks!

[2017-05-31 19:48] JasonSowers commented on #2862
@chetanmekha
The Bot Framework support team prefers to answer questions like this on Stack Overflow.  If the issue gets closed here on GitHub, it will not be available and indexed for external search engines so others can easily find it.  We are happy to answer your question here, but would you please also post your question to Stack Overflow.  Thanks!

[2017-05-31 19:50] #2861 closed

[2017-05-31 20:37] xitij commented on #2823
I'm using Node as the issue suggests so I'm not familiar with "message_controller". I suppose the suggestion is to "identify" these long messages in the middleware and not pass them along to LUIS? Is that possible?

[2017-05-31 20:59] ravishankarp opened #2867 "[Question] Is there a limit on the number of samples that we can programatically add to a LUIS application?"
Hi,
   We have an application that needs to automatically update the samples on a LUIS application. Is there a limit to the number of samples that we can add to an application using the LUIS APIs.

Regards
Ravi

[2017-05-31 21:02] zamfirm opened #2868 "[Bug] Button choices are not sent on repeats"
## Pre-flight checklist
- [ ] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [x] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)
* SDK Platform: Node
* S

[2017-05-31 21:06] JasonSowers commented on #2867
@ravishankarp can you clarify what you mean by "Samples" please?  If you mean utterances there is a limit of 8000 for your whole model (all intents).

The Bot Framework support team prefers to answer questions like this on Stack Overflow.  If the issue gets closed here on GitHub, it will not be available and indexed for external search engines so others can easily find it.  We are happy to answer

[2017-05-31 21:13] nwhitmont commented on #2709
@aery-aery I see the triangle with exclamation mark as shown in the image in my original message. My Node.js SDK Bot is hosted on Azure App Service on Linux.

[2017-05-31 21:18] iMicknl opened #2869 "[Question] Send proactive message to Cortana Skills"
## Pre-flight checklist
- [ ] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [x] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)
* SDK Platform: NodeJS
*

[2017-05-31 21:22] JasonSowers commented on #2869
@iMicknl can you please provide your code for sending the proactive message?  Also are you using Node or C#?

[2017-05-31 21:23] nwhitmont commented on #2868
@zamfirm Are you still experiencing the issue after upgrading to botbuilder v3.8.3?

[2017-05-31 21:26] #2102 closed

[2017-05-31 21:27] #2108 closed

[2017-05-31 21:28] nwhitmont commented on #2823
@xitij You don't need middleware, you can check the `session.message.text` length in your waterfall dialog before you submit it to LUIS.

[2017-05-31 21:29] #2067 closed

[2017-05-31 21:32] #2293 closed

[2017-05-31 21:36] #2567 closed

[2017-05-31 21:39] #2600 closed

[2017-05-31 21:41] #2608 closed

[2017-05-31 21:43] JasonSowers commented on #2615
@alokraj68 is this still an issue for you after upgrading to 3.8.1 SDK?

[2017-05-31 21:46] JasonSowers commented on #2664
@garypretty did this resolve your issue?

[2017-05-31 21:48] iMicknl commented on #2869
@JasonSowers off course. I create a new message which the address I stored and I use bot.send to send it. This works on Skype and Microsoft Teams, however it doesn't work on Cortana (Skills). I was wondering if this isn't supported (yet), maybe. I couldn't find any documentation.

[code]

And the address I use comes from my DocumentDB and is exactly the address I got from `session.message.address`

[2017-05-31 22:00] EricDahlvang commented on #2869
@iMicknl great question! The Cortana channel doesn't currently accept proactive messages.  It is a highly requested feature, and should be available sometime soon.  However, there is currently no timeline.

[2017-05-31 22:00] #2869 closed

[2017-05-31 22:04] iMicknl commented on #2869
@EricDahlvang thanks for the quick reply & update! It would be very nice, so I will just be patient. :-)

[2017-05-31 22:13] zamfirm commented on #2868
Yes, this issue persists in v3.8.3  (The only change to Node/core/lib/dialogs/PromptChoice.js from v3.8.0 to v3.8.3 was the change to the __extends implementation made to most files in the codebase).

[2017-05-31 22:25] ravishankarp commented on #2867
Hi Jason,
  We are planning to use the following API to add examples which I am assuming will add utterances to the application

https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/{appId}/versions/{versionId}/examples

Regards
Ravi

[2017-05-31 22:59] JasonSowers commented on #2825
@JajatiMohanta Is this still an issue for you, if so can you please post code example(s).

[2017-05-31 23:05] #2807 closed

[2017-05-31 23:07] JasonSowers commented on #2800
@msBot1111 did your issue get resolved?

[2017-05-31 23:14] xitij commented on #2823
@nwhitmont Sorry I'm a little confused as to where this would be done. I'm currently only using a single `IntentDialog` with my bot. Something along the lines of this:
[code]
So currently the default is to send all user messages to LUIS. You're suggesting using a waterfall, or multiple dialogs, something along the lines of:
[code]
I know there are multiple ways to implement this I'm just trying to

[2017-05-31 23:15] nwhitmont commented on #2810
@juhamust Yes I was able to reproduce this error with one of my test bots, so its a general issue.

Thanks for reporting. We are actively working to fix the issue.

[2017-05-31 23:37] #2237 closed

[2017-06-01 01:12] PrasadGautham commented on #291
OKay, I got it. Its the facebook userid that comes at from.id and from.name is null. I have to get that by passing the userid and page acess token to graph api for user profile. At first I was confused, as I was expecting the id at from.Name

[2017-06-01 02:14] camer314 opened #2871 "[LUIS] LuisDialog gets exception when uploading an unexpected image"
## Pre-flight checklist
- [ ] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [ ] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)
* SDK Platform: .NET
* S

[2017-06-01 03:24] alokraj68 commented on #2615
Hi,
Yes. The issue still persists.

On 01-Jun-2017 3:13 AM, "Jason Sowers" <notifications@github.com> wrote:

[2017-06-01 04:28] sayyednazeer commented on #2414
any update  @nwhitmont @dandriscoll @carlosscastro @willportnoy

[2017-06-01 05:20] anirudhaditya commented on #2828
Thanks Jason. I will do that. Actually I was asked by MS folks only to raise it here. I will keep another thread started. Will close it on both once I have the answer.

[2017-06-01 05:21] rudeGit opened #2872 "[Question] Start error with Microsoft Bot Framework, Visual Studio 2015 and 2017"
## Pre-flight checklist
- [X] I posted a question about this issue on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) using the tag `botframework`.
- [X] I have [searched the existing issues](https://github.com/Microsoft/BotBuilder/issues?utf8=%E2%9C%93&q=is%3Aissue) before logging a new one.
---------------------------

## System Information (Required)
* SDK Platform:
* SDK Ve

[2017-06-01 05:23] anirudhaditya commented on #2828
@nwhitmont. Do you have any option where I can send you the said email ID and password for you to verify. Would you like to hear more details from my side. thanks

[2017-06-01 07:04] msBot1111 commented on #2800
yes I did, thanks. The issue was with the static properties.

[2017-06-01 07:05] msBot1111 commented on #2864
It's not related to Bot Framework. It's core app.

[2017-06-01 07:30] nishantjadhavcg opened #2873 "[Direct Line] API : 502 Bad Gateway error"
## Pre-flight checklist
I have tried to resolve issue using https://github.com/Microsoft/BotBuilder/issues/2201
but not able to resolve.
---------------------------

## System Information (Required)
Bot Version 3.8.1
Deployed bot controller as Web Api micro service in service fabric with http and https enpoints

## Issue Description
I am getting the response from the Bot intermittently. While send

[2017-06-01 07:32] #2864 closed

[2017-06-01 09:19] TrejGun commented on #2846
I have this error in slack integration

[2017-06-01 09:46] akasranjan005 commented on #1911
I am using the same parameters in python, but its nor working.

    msg = {"type": "message","channelId": "directline","conversation":{"id": str(convId)},"from":{"id": "test_user1"},"text": "hello"}
    header = {"Authorization":"Bearer q1-Tr4sRrAI.cwA.BmE.n7xMxGl-QLoT7qvJ-tNIcwAd69V-
    KOn5see6ki5tmOM", "Content-Type":"application/json"}
    send2 = "https://directline.botframework.com/v3/direc

[2017-06-01 10:19] habibcs commented on #1694
@Stevenic : How? how to reuse the existing one (import selective entities) from builtin-entities and modify further

[2017-06-01 11:00] saileshcts commented on #2863
Hello All,
Thanks for your suggestions, but that was due to wrong assignment of the db port, my bad!
Sorry to take away your time folks! Its resolved now.

Thanks again!

[2017-06-01 11:00] #2863 closed

[2017-06-01 11:08] JoelReehe commented on #2854
Thanks! If I use the solution of @rettelx my other dialogs don't match anymore. This is a part of my code.

[code]

[2017-06-01 11:17] nishantjadhavcg commented on #2873
I have added MicrosoftAppId and MicrosoftAppPassword to the app.config still not work So I have changed implementation message controller.
Removed BotAuthentication filter from message controller. and added below code to set bot connector object
var activationContext = FabricRuntime.GetActivationContext();
                    var configurationPackage = activationContext.GetConfigurationPackageObje

[2017-06-01 12:16] kbrimble commented on #1498
I've gone through this with the latest version of the BotBuilder and am still having issues. I've built a new project to keep things clean and this is what it looks like.

Service that I want to inject into my dialogs:

    public interface IHelloService
    {
        string GetMessage();
    }

    public class HelloService : IHelloService
    {
        public string GetMessage() => "hello";

[2017-06-01 12:34] pavb74 opened #2874 "[Skype for Business] doesn't support HTML messages"
## System Information (Required)
* SDK Version: 3.8.3

## Issue Description
No way to send html content to a skype for business connector.
According to https://msdn.microsoft.com/en-us/skype/skype-for-business-bot-framework/docs/overview it should be possible.
The messages are always sent as plain text and not html
The only textFormat supported are plain, markdown and xml but xml is only supported

[2017-06-01 12:39] JoelReehe opened #2875 "[Question] Pulling Title/Subtitle/Text from Hero Cards after Button Click?"
hey everybody,

I'm struggling to exctract information from hero cards. I want to f.e. save the title of a card after the button was hit, but I can't figure out how to access the information inside of the hero card.

If I call session.message.text for the example card below, it only returns the String of the Button - in this case 'Artikel kaufen'. But I want to get the title - is this even possibl

[2017-06-01 12:54] JoelReehe commented on #2854
The problem with the second solution from @stevengum97 is, that my bot doesn't only listen through LUIS. I'm also using normal waterfall dialogs. So if I give the recognizer the intents to match like you did in the file under the link you've shared, every not unmatched dialog will result in calling up the onDefault method.

[2017-06-01 13:13] JoelReehe commented on #2854
I tryed this
[code]
Now the other Dialogs work again but instead of the default dialog the root dialog get's called when no intent is matched.

[2017-06-01 13:19] kneuLIL commented on #2866
Thanks a lot for the support and information, our bots started working again.

[2017-06-01 13:30] chetanmekha commented on #2862
Above problem solved from my side, From next time will take care about this.

[2017-06-01 13:30] #2862 closed

[2017-06-01 13:40] chetanmekha commented on #2875
@JoelReehe  try with below logic, it will resolved your problem,
`
var array = [];
var heroCard= new builder.HeroCard(session);
            heroCard.title(playCorousalType[count]);
            heroCard.images([builder.CardImage.create(session, url)]);
            // heroCard.tap(builder.CardAction.openUrl(session, url));
            heroCard.buttons([builder.CardAction.imBack(session, 'Artikel kau

[2017-06-01 15:12] JasonSowers commented on #2872
@rudeGit is this resolved as the StackOverflow says?

[2017-06-01 15:21] #2800 closed

[2017-06-01 15:33] JasonSowers commented on #1911
@akasranjan005 can you please start a new issue and/or post the question on SO.

The Bot Framework support team prefers to answer questions like this on Stack Overflow.  If the issue gets closed here on GitHub, it will not be available and indexed for external search engines so others can easily find it.  We are happy to answer your question here, but would you please also post your question to St

[2017-06-01 15:36] JasonSowers commented on #1694
@habibcs  can you please create a new issue and for your question?
also:
The Bot Framework support team prefers to answer questions like this on Stack Overflow.  If the issue gets closed here on GitHub, it will not be available and indexed for external search engines so others can easily find it.  We are happy to answer your question here, but would you please also post your question to Stack Over

[2017-06-01 15:40] rudeGit commented on #2872
Yes

Sent from my iPhone

[2017-06-01 15:43] #2872 closed

[2017-06-01 16:04] nwhitmont commented on #2875
@JoelReehe Check out this article on [Handling button input](https://docs.microsoft.com/en-us/bot-framework/nodejs/bot-builder-nodejs-send-rich-cards#handle-button-input).

When you click on a button there is no "event handler" as you might expect in a traditional web application.  The button click sends a message to your bot, so you need to set up a dialog configured with a trigger action. Essent

[2017-06-01 16:04] #2875 closed

[2017-06-01 16:07] nwhitmont commented on #2868
@zamfirm Can you share a complete code example that reproduces this issue? Thx

[2017-06-01 16:17] nwhitmont commented on #2867
@ravishankarp You can [add up to 80 intents](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-concept-intent) to a single LUIS application.

Entities can [support up to 30.](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-concept-entity-types)

[2017-06-01 16:20] JasonSowers commented on #2867
@ravishankarp We are trying to get you the correct number of total utterances.  We want to be 100% sure before telling you and we hope to have an answer by the end of the day.

[2017-06-01 16:30] #2867 closed

[2017-06-01 16:31] ChrisMiskowiec commented on #2873
We have been seeing this error about once every two weeks, but as of 11:45 EDT (~45 minutes ago), we have seen it 13 times, which represents roughly half of our chat messages. We are seeing the same rate of failure across all of our environments, and we haven't deployed new code in a month, so nothing has changed on our end.

Are there any issues with Direct Line right now?

[2017-06-01 16:42] nwhitmont commented on #2828
@anirudhaditya You can email me the details using the address on my profile page.

[2017-06-01 16:44] McGern commented on #1938
Thanks for the link.

Think I ended up having to remove something in that was in the register method of the bot. It was bypassing the builtin authentication somehow and needed to do it manually (that led to a host of other issues). I am not sure if what I have is right but it seems to work for now.

[2017-06-01 17:00] EricDahlvang commented on #1498
This commit: https://github.com/Microsoft/BotBuilder/commit/fdb443a3257dd62e2bd87727afdea793820a2ec7 addresses the AutoFac FiberModule.Key_DoNotSerialize issue

[2017-06-01 17:18] #2827 closed

[2017-06-01 17:39] nwhitmont commented on #2873
@nishantjadhavcg @ChrisMiskowiec HTTP 502s from Direct Line mean that the bot is returning an error. The next step for investigation is to look at what’s going wrong within the bot.

[2017-06-01 18:12] zamfirm commented on #2868
https://github.com/Microsoft/BotBuilder/blob/master/Node/examples/basics-menus/app.js

Example:
[code]

[2017-06-01 18:41] zamfirm commented on #2868
I can't find a previous version that resent the buttons so I guess I was wrong that this is a bug.

[2017-06-01 18:41] #2868 closed

[2017-06-01 18:46] tomorgan commented on #2808
Hi, Just to follow up on this and hopefully help out anyone seeing the same issue.

I spoke to someone of the SfB product team who was good enough to make contact and talk me through this. The reason I was seeing this problem was because I did not have the latest version of Microsoft.Bot.Builder. I needed to be running 3.5+ and I wasn't. I've written it up here (along with instructions for updatin

[2017-06-01 18:46] #2808 closed

[2017-06-01 18:51] AndreMantas commented on #2692
Can confirm. Works with 10, fails with 11. I probably won't be showing more than 10 items, but are there any alternatives? Maybe I could show in two carousels in a row.

[2017-06-01 18:59] stevengum97 commented on #2854
If you're using `IntentDialog` you should instead plug it into a dialog, the root dialog specifically:
[code]

In the code above you plug the IntentDialog into the root dialog so all activities (messages, attachments, etc.) go through that point.  This will allow any unmatched utterances to go to `intents.onDefault()` . When an intent isn't recognized the chatbot on default will redirect the user

[2017-06-01 19:05] nwhitmont commented on #2865
@Jake1996 The Node.js app templates from the Azure Bot Service have a specific purpose, which is to demonstrate the functionality of the Bot Service.  They are not necessarily designed for local deployment as you observed. This is expected behavior.

[2017-06-01 19:05] #2865 closed

[2017-06-01 19:30] phaetto commented on #2575
I can repro the same behavior in the above case plus after every deploy (or restart) of my web application - I am on version 3.8.1 as well.

[2017-06-01 20:45] EricDahlvang commented on #2575
You need to add a call to
MicrosoftAppCredentials.TrustServiceUrl(serviceUrl);
This is done automatically when you are replying to a message, but not when using the ConnectorClient

[2017-06-01 21:06] willportnoy commented on #2871
Can you clarify "expected behavior" more?  Do you want it to "not get an unhandled exception" and then what?  Ignore the uploaded file?

[2017-06-01 21:22] nwhitmont commented on #2874
@pavb74 You are correct. The documentation is currently wrong.

Skype for Business plans to roll out support for HTML formatted messages in 2-3 weeks, around mid-to-late June

[2017-06-01 21:22] #2874 closed

[2017-06-01 22:22] #1768 closed

[2017-06-01 22:26] nwhitmont commented on #1832
@eanders-MS Has this been released yet?

[2017-06-01 22:27] #1945 closed

[2017-06-01 22:27] JasonSowers commented on #2579
@m-ehxan has this been resolved for you when upgrading to the newest SDK?

[2017-06-01 22:30] cglong commented on #2230
Hi @JasonSowers, why was this closed? It was still an issue as of 3.8.1; has it been fixed in a subsequent release?

[2017-06-01 22:31] #1797 closed

[2017-06-01 22:34] nwhitmont commented on #2664
reopen if you're still experiencing the issue

[2017-06-01 22:34] #2664 closed

[2017-06-01 22:35] nwhitmont commented on #2653
@alokraj68 are you still experiencing the issue after upgrading to BotBuilder v3.8.1?

[2017-06-01 22:37] nwhitmont commented on #2646
@andreesteve are you still experiencing the issue after upgrading to BotBuilder v3.8.1?

[2017-06-01 22:58] #2700 closed

[2017-06-01 23:01] nwhitmont commented on #2702
@arthurtina724 are you still experiencing the issue after upgrading to BotBuilder v3.8.1?

[2017-06-01 23:22] nwhitmont commented on #2842
From @stevengum97

[code]

[code]

### Edit:

[code]
However, if you use `IntentDialog({ recognizers: ... })` you'll be able to pass in an array of recognizers; for example multiple LUIS models...
[code]
Or even different types of recognizers...
[code]
Into your IntentDialog:
[code]

[2017-06-01 23:22] #2842 closed

[2017-06-01 23:46] nwhitmont commented on #2860
@cesarvarela I am unable to reproduce this error.

Using the following example code, everything worked as expected.
[code]
<img width="1141" alt="screen shot 2017-06-01 at 4 44 11 pm" src="https://cloud.githubusercontent.com/assets/3075047/26705238/cc027566-46e9-11e7-831e-c55588f1dcb7.png">

[2017-06-01 23:48] willportnoy commented on #1445
fyi, this commit https://github.com/Microsoft/BotBuilder/commit/31048a2173313c81a2db47efce6a8a869b4ec284 should help disable PostUnhandledExceptionToUser.

[2017-06-01 23:48] willportnoy commented on #1136
fyi, this commit https://github.com/Microsoft/BotBuilder/commit/31048a2173313c81a2db47efce6a8a869b4ec284 should help disable PostUnhandledExceptionToUser.

[2017-06-02 00:52] sowsan commented on #2857
Any comments Team ?