[2017-02-06 17:34] achadha0111 commented on #2187
` Error: Cannot find module '../dialogs/IntentRecognizerSet'
2017-02-06T17:33:44.139141+00:00 app[web.1]:     at Function.Module._resolveFilename (module.js:469:15)
2017-02-06T17:33:44.139143+00:00 app[web.1]:     at Function.Module._load (module.js:417:25)
2017-02-06T17:33:44.139144+00:00 app[web.1]:     at Module.require (module.js:497:17)
2017-02-06T17:33:44.139144+00:00 app[web.1]:     at requ

[2017-02-06 18:09] jbdrucker commented on #2145
Just a message to add up a little : we encounter the exact same problem. The framework can't retrieve the openId configuration files (through a proxy). Even a simple wget fails on that URL.

That said, we didn't have this problem last week... Our bot was restarting fine, and now it's kinda stuck at boot.

[2017-02-06 18:15] dandriscoll commented on #672
Hi @pranavjain, we've been experiencing intermittent service interruptions. We're monitoring and resolving these as they occur. Sorry for the interruption.

[2017-02-06 18:34] fazalabbas commented on #1924
Thanks ankitbko.
Its great.
Just saw your comment.
Thanks again

[2017-02-06 18:36] dandriscoll commented on #2145
Hi @JpEncausse  and @jbdrucker, did you recently update to Bot Builder SDK 3.5+?

[2017-02-06 18:54] chk1 commented on #2195
Your bot won't receive messages in a group unless you to add `@your_bot_name` to the message, see issue #1669

[2017-02-06 19:18] KrishnanA commented on #2192
This is not something that we support today but will consider this for a future release. It will be good if you can give more information about your scenario.

[2017-02-06 19:24] dandriscoll commented on #2184
Hi @ubreddy, you're right, the web chat control has two homes :) This particular question is probably better answered on the other repo, though.

[2017-02-06 19:24] #2184 closed

[2017-02-06 19:27] dandriscoll commented on #2199
Hi @stephaneey, we've been experiencing intermittent interruptions in our European datacenter. We're actively fixing and monitoring this. At the moment all services appear to be stable, but please let us know if you see any additional degradation.

[2017-02-06 19:43] stephaneey commented on #2199
Hi @dandriscoll , indeed it's working now. However, I don't see any performance improvement. My message endpoint is hosted in Europe but it's calling LUIS (westus). Directline is often returning a 504 bad gateway because of the response time that exceeds 15 seconds. I thought that using the europe endpoint could help but it doesn't. My bot couldn't be simpler as it's only starting a LUIS dialog to

[2017-02-06 20:00] reyesrico commented on #2191
@angsm It is not supported. Skype clients do not support location sharing.

[2017-02-06 20:00] #2191 closed

[2017-02-06 20:43] J4S0Nc commented on #2073
So what should we be using?

[2017-02-06 20:53] matvelloso commented on #2073
@willportnoy do we need to update this C# sample?

[2017-02-06 20:59] msft-shahins commented on #2073
ContainerBuilder.Update is marked obsolete starting version of 4.2.1 of Autofac: https://github.com/autofac/Autofac/issues/811. Bot builder is dependent on version 3.5.2: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Builder/Microsoft.Bot.Builder.nuspec#L25 and for now this shouldn't impact our usage of Autofac in builder. In the long run, we are considering reso

[2017-02-06 21:01] alex182 commented on #2188
Teams doesn't support postBack.  So far it only supports imBack and openUrl as the button types.

[Check here for more details](https://msdn.microsoft.com/en-us/microsoft-teams/bots)

[2017-02-06 21:12] jameslew commented on #2199
Hi @stephaneey .  We're currently working on deployments for Europe and other datacenters.  They are not ready for use yet, but will be very soon.

Other improvements we're making to LUIS are on some of the particularly heavily used recognizers such as the datetime and number recognizers, which are occasionally hopping to the wrong datacenter.  Finally spelling is something we're looking at; it's

[2017-02-06 21:18] msft-shahins commented on #2189
"Sorry, my bot code is having an issue." is a message generated by bot builder SDK when your code is throwing an unhandeled exception. Can you debug your instance and see what is the exception that is getting thrown?

[2017-02-06 21:23] msft-shahins commented on #2185
Also you can pass maxRetries as part of prompt options to the choice prompt. here is an example: https://github.com/Microsoft/BotBuilder/blob/2826c4757be5488ecc13926ecdf540254bf9715d/Node/examples/basics-customChoicePrompt/savedListPrompt.js#L19

[2017-02-06 21:23] #2185 closed

[2017-02-06 21:39] DeLeneMirouze opened #2200 "can't run a custom IDialog from Chain"
I built a custom IDialog, but I am unable to run it from Chain.

I tested this:

` public static readonly IDialog MyDialog = Chain
        .PostToChain()
     .Select(_ => "Hello, what's your name?")
     .PostToUser()
     .WaitToBot()
        .ContinueWith(_ => new SimpleDialog())
        .PostToUser();`

But I get this error message:

_The type arguments for method 'Chain.ContinueWith(IDialog,

[2017-02-06 21:57] jameslew commented on #2190
I thought I was reproducing this, and then refreshing the window went away.  I'd agree with @palmerabollo , try incognito and see if you get a different response.

[2017-02-07 00:12] dandriscoll commented on #2168
Hi @inornos, we're investigating the error. This appears to be an intermittent failure, and I re-synchronized your bot and it seems to have been written successfully.

You can trigger re-synchronize by editing your bot and clicking the "save" button.

[2017-02-07 00:44] dandriscoll commented on #2168
Hi again @inornos, we figured this out.

This was a timing error on our side that we'll have fixed soon. You can clear the error from your Skype error list. It's unlikely you'll hit this problem again but if you do, simply edit and save the bot to retry.

[2017-02-07 03:06] slidenerd commented on #1118
You are right @Stevenic because with gzipData: true I see the UX lag on messenger. its almost as if there is some decompression going on for each message

[2017-02-07 04:59] inornos commented on #2168
Thanks For Support I tried As You Say But Some Of The Command Not Working In Skype Like **0.8-2 rd d-h if-vvs2**
Please Help

[2017-02-07 05:31] inornos commented on #2168
New Issue In My Bot See This Image

![image](https://cloud.githubusercontent.com/assets/14770190/22678989/ad986848-ed24-11e6-9035-1416409ce526.png)

Please Help It Is the Serious Issue

[2017-02-07 05:33] inornos commented on #2168
My Skype Bot Not Working

[2017-02-07 05:42] dandriscoll commented on #2168
Hi @inornos, this error means that we were not able to contact your bot's endpoint.

[2017-02-07 05:53] JPThorne commented on #2190
+1 this happens for us too

![image](https://cloud.githubusercontent.com/assets/1411816/22679374/59721b84-ed0a-11e6-850b-412990723965.png)

Refreshing does the trick, but this error will cause the whole site to just hang.

The error occured when opening an app, and then pressing browser back. It's stuck on Initializing.

[2017-02-07 05:58] JPThorne opened #2201 "Intermittent 403, 502 errors | Is something up with the services?"
We are intermittently receiving these errors:

POST https://directline.botframework.com/v3/directline/conversations/JrdN8uvQS0UKzaLE2pFFuf/activities 502 (Bad Gateway)

And now we've also been seeing 403 errors and Access-Control-Allow-Origin errors.

Has something changed on the directline side of things? Do we now need to send additional headers?

[2017-02-07 06:38] sayyednazeer commented on #2078
@dandriscoll  any comment..?

in issue #2199 @stephaneey also mention

[2017-02-07 06:42] sayyednazeer commented on #2199
I am also getting the same error... #2078
my LUIS takes too long time to detect which intents to called in my case it takes 24-25 sec.
Due to which it exceeds its 15 sec response time and i got the internal server or gateway timeout error.

[2017-02-07 07:01] inornos commented on #2168
So Please Guide Me To Solve This Issue

[2017-02-07 07:15] stephaneey commented on #2199
I only have a lightweight LUIS model; no bing spell check. My LUIS takes about 7 secs but the overall process is often above the 15 seconds, hence resulting in a bad gateway problem. Code wise, I only have "case message": reply typing reply, reply with luisdialog. Inside of the triggered intent, I'm just replying a text message. This is alrready almost unusable a is and my bot is still doing nothi

[2017-02-07 07:44] AlexanderKovalev commented on #2180
Anyone?

[2017-02-07 08:04] sayyednazeer commented on #2199
yes you are correct, when i stuck with this issue i have also change my whole code and just write the default code to simple return the count of string, but at then also it takes long time to detect the intents.
And some time it works and detect the LUIS intent within 3-4 sec and some time it takes too long.

my code within the intents takes only 2 seconds to execute. I think 15 seconds timeout is

[2017-02-07 08:50] jbdrucker commented on #2145
Two weeks ago yes. But our bot was working fine last week.
We're currently using the 3.5.4.

[2017-02-07 09:06] weedroid commented on #2119
Can I ask if there has been any progress in identifying or resolving this issue? If more information or source code is needed then I can provide this.

[2017-02-07 09:33] pranavjain opened #2202 "[Direct Line] No response from Bot."
Hi,
I am using directline API to access bot using PHP cURL. Lot of time it happens that my request is being sent to bot (via POST) but when I do GET on 'conversations/id/messages/' there is just my request but no response from bot. This issue is occurring randomly. I also tried waiting after sending POST request.
Could someone please check this?

Also, I would like to add PHP script to repository

[2017-02-07 09:34] jbdrucker commented on #2145
Tried to reboot it 2 minutes ago, it went fine without any fix on our part. Still strange but great I guess.

[2017-02-07 10:39] McGern commented on #2201
I've already been getting a lot of "503 (service unavailable)" messages and "Access-Control-Allow-Origin" errors. Are they linked?

[2017-02-07 10:43] JPThorne commented on #2201
Yes, that's exactly what we're getting too. Now we're getting this intermittently:

![image](https://cloud.githubusercontent.com/assets/1411816/22688012/126a2af0-ed33-11e6-9885-90735e549ec6.png)

[2017-02-07 10:43] palmerabollo commented on #2202
We are also facing issues today. I think something is broken in the Bot Connector.

[2017-02-07 12:34] dandriscoll commented on #2202
Hi @pranavjain and @palmerabollo, we have been experiencing intermittent load issues in our European datacenter. We are actively working on resolving the issue.

[2017-02-07 12:36] dandriscoll commented on #2145
Bot Builder > 3.5 uses a new hostname for the Open ID metadata document that lists our services certificates. Based on the error you hit with your client, I'm in the process of changing the cert out for that service so it does not have any wildcards in the CN or SAN.

[2017-02-07 12:39] McGern opened #2203 "Is MS Bot Framework production ready?"
Hi,

I know that the bot framework is in flux (i.e. being updated a lot) and there is a small "preview" written on the botframework website, but is it considered production ready? Is anyone using it for live work? I am currently using the webchat interface and am having a lot of issues with the service, mainly with directline (which I assume is the backbone for all the other interfaces as well?).

[2017-02-07 12:42] dandriscoll commented on #2078
Hi @willportnoy and @msft-shahins , the traces above show 27 seconds of delay between calling context.Forward and the corresponding LUIS intent handler being called. How do we debug from here?

[2017-02-07 12:43] dandriscoll commented on #2201
Hi @McGern and @JPThorne, we're experiencing load issues in our European datacenter at the moment. This is our top priority and we're working on fixing this ASAP.

[2017-02-07 12:45] dandriscoll commented on #2189
The error "the item cannot be accessed or modified" is a bug in our dev portal. We hope to have a fix for this available soon. You can fix the problem yourself by clearing your cookies for dev.botframework.com.

[2017-02-07 13:10] pvagare opened #2204 "[Feature Request] launch chat bot on the fly. (send invitation to other chatbot)"
I have one chatbot. I am talking to that chatbot. I want to launch new chatbot from one chatbot
Is it possible ?

Please let me know the response.

[2017-02-07 14:12] willemodendaal commented on #2201
I notice the failures occur because calls to the bot is timing out after 15 seconds. However, if AppInsights is accurate, this is because the Bot seems to call directline.botframework and that takes a long time to succeed (European datacenter issues I assume).

Is this really the case? Our bot uses the bot connector, so does the Bot connector call the DirectLine API? And if so, why?

I haven't bee

[2017-02-07 14:50] rupeshtech opened #2205 "Microsoft.Bot.Connector: Authorization for Microsoft App ID "X" failed with status code Forbidden."
I am already seeing some issue related to this same issue, but none of them helped.

I am creating a BOT using azure bot service and set some intents in LUIS. When I am testing bot in Azure Portal getting the issue
Functions.messages. Microsoft.Bot.Connector: Authorization for Microsoft App ID e1f860e9-eced-4417-9dac-f77eb985ed19 failed with status code Forbidden.

My bot name is tamtambot

[2017-02-07 14:52] J4S0Nc commented on #2073
Maybe I'm doing something wrong, but my logger isn't trigger when i call SendToConversationAsync:

[code]

It is called when I use `await context.PostAsync(message) ` inside a dialog. Whats missing?

[2017-02-07 15:14] dandriscoll commented on #2201
Hi @willemodendaal, which channel are you using to talk to your bot?

[2017-02-07 15:18] willemodendaal commented on #2201
Hi @dandriscoll . We are using the directline channel. Thinking about it more... I guess the Bot Connector will call that channel to send the response back? I tend to think of the bot framework calling the Bot and waiting for a simple Http response, but I guess it's more complicated than that. The Bot probably has to do a call-back of some sort to the channel.

Am I on the right track?

[2017-02-07 15:29] dandriscoll commented on #2201
That's correct, replies are sent through their own calls back to the channel. The ServiceUrl field in each activity you receive indicates where replies should be sent.

[2017-02-07 15:34] galazzo commented on #2161
I get the same issue, with all channels but randomly and yes, my bots are up and working, simply sometimes connector seems to not work.

Another thing. Sometime the connector forward the call to my bot, I answer correctly but not forwarded to the user. 10 seconds after it works perfectly.

Really frustrating for professional scenario.

[2017-02-07 15:41] graphnode commented on #969
Any update on this?

[2017-02-07 16:59] michaelvol opened #2206 "Question about using bot.beginDialog"
Hi,

I have the following situation.
I start some prompt, waiting for user to send an attachment. This can take a while as he needs to put some time to prepare it.
At the same time, I have an out-of-band dialog spawned to the user. In my case it's caused by some external trigger (but it can also be setTimeout).
I want the user to answer the OOB question and then return to the previous dialog which

[2017-02-07 17:32] pranavjain commented on #2202
Thanks for the update @dandriscoll. Would you like to include PHP directline api example in documentation and repository?
I would love to contribute to BotBuilder.

[2017-02-07 17:42] eanders-MS commented on #1995
This issue is better-tracked over at the WebChat repo, so I've created an issue for it there: https://github.com/Microsoft/BotFramework-WebChat/issues/335

[2017-02-07 18:00] msft-shahins commented on #2073
@J4S0Nc logging happens in bot builder using [LogPostToBot](https://github.com/Microsoft/BotBuilder/blob/3a98a6b3d15962a57b5454bfb3f730d3588de3ef/CSharp/Library/Microsoft.Bot.Builder/ConnectorEx/IActivityLogger.cs#L96) and [LogBotUser](https://github.com/Microsoft/BotBuilder/blob/3a98a6b3d15962a57b5454bfb3f730d3588de3ef/CSharp/Library/Microsoft.Bot.Builder/ConnectorEx/IActivityLogger.cs#L113). If

[2017-02-07 18:01] pkaldawy commented on #2201
We are facing an issue @dandriscoll. Wanted to know if that is related. I have attached the stack trace.

Exception: System.NullReferenceException: Object reference not set to an instance of an object.    at Microsoft.Bot.Builder.Dialogs.Internals.Extensions.MaxBy<IEnumerable`1 items, Func`2 selectRank, IComparer`1 comparer>    at Microsoft.Bot.Builder.Dialogs.LuisDialog1.<BestResultFrom>b__6_0(Lu

[2017-02-07 18:39] msft-shahins commented on #2078
context.Forward start the dialog passed in and forward the item to that dialog. If the dialog that the item is forwarded to is a LuisDialog, that dialog will make a call to Luis service when the item (message in this case) is forwarded to it to get the wining intent and call corresponding intent handler. I haven't looked at the code completely, it is a long thread and hard to figure out the struct

[2017-02-07 18:56] msft-shahins commented on #2167
I looked at the Microsoft App Id and thought you are getting 401. But you need to use luis subscription key and not the Microsoft App Id when calling to Luis programmatic api that is the main reason that you get 400.

[2017-02-07 19:09] dandriscoll commented on #2201
Hi @pkaldawy, that is not related to the issue reported in this thread.

[2017-02-07 20:04] MCKRUZ commented on #2163
+1  Can someone give an example here? I'm having the same issues.

[2017-02-07 21:16] dandriscoll commented on #2145
Hi @jbdrucker and @JpEncausse, we've replaced the certificate on login.botframework.com with one that doesn't have a wildcard. Please at-mention or open a new issue if you encounter any problems with that server.

[2017-02-07 21:16] #2145 closed

[2017-02-07 21:30] Andrea-Orimoto commented on #2205
Hi @rupeshtech ,

please review this issue https://github.com/Microsoft/BotBuilder/issues/1641, it might be related. Are you replying to a ping message?

let me know if this doesn't solve your issue.

[2017-02-08 00:30] msft-shahins commented on #1473
We prereleased Microsoft.Bot.Connector nuget [3.5.1-alpha](https://www.nuget.org/packages/Microsoft.Bot.Connector/3.5.1-alpha) which adds support for asp.net core to connector SDK. The bot authentication is implemented as a middleware: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Connector.AspNetCore/BotAuthentication.cs#L73 and here is an example asp.net core b

[2017-02-08 00:30] #1473 closed

[2017-02-08 00:55] msft-shahins commented on #2200
ContinueWith needs a lambda with two parameters. Also you don't need PostToUser() at the end unless you want to post the result produced by SimpleDialog to user. I modified your code and this should work:

[code]

[2017-02-08 00:55] #2200 closed

[2017-02-08 01:27] msft-shahins commented on #2075
Code above is using this [implementation](https://github.com/Microsoft/BotBuilder/blob/a71e64c24bd40f8b99de0a3326ea1b79110c33e1/CSharp/Library/Microsoft.Bot.Connector.Shared/ActivityEx.cs#L164) of GetStateClient() which creates a new [MicrosoftAppCredentials](https://github.com/Microsoft/BotBuilder/blob/3a98a6b3d15962a57b5454bfb3f730d3588de3ef/CSharp/Library/Microsoft.Bot.Connector.Shared/Microsof

[2017-02-08 01:27] #2075 closed

[2017-02-08 01:40] #1960 closed

[2017-02-08 01:54] msft-shahins commented on #1370
We prereleased Microsoft.Bot.Connector nuget [3.5.1-alpha](https://www.nuget.org/packages/Microsoft.Bot.Connector/3.5.1-alpha) which adds support for asp.net core to connector SDK. Bot authentication is now implemented as a middleware: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Connector.AspNetCore/BotAuthentication.cs#L73 and here is an example asp.net core b

[2017-02-08 01:54] #1370 closed

[2017-02-08 02:01] kcyhm1991 commented on #327
It would seem so, likewise, unable to find the documentation stating this, I have created >40 intents to test the limit and have not been hit with an error message yet!

[2017-02-08 04:24] sayyednazeer commented on #2078
@msft-shahins  the delay is of 24-25 sec(just to get the wining intent). Due to which i am getting Internal Server Error with Direct Line Api.
@dandriscoll

[2017-02-08 04:57] PrasadGautham commented on #2070
Hi
    Currently, our VM is in Azure. Will there be any improvement in the response time, if we move it to Azure website?

[2017-02-08 06:09] AlavudeenRafiq opened #2207 "Directline API : 502 Bad Gateway error"
I am getting the response from the Bot intermittently. While sending the request, I am getting the below error.

POST https://directline.botframework.com/v3/directline/conversations/B56KT664xddDwc9SBbL4md/activities **502 (Bad Gateway)**

I am also getting error in botchat.js. Is something problem with directline api? Can anyone help me to solve this issue?

[2017-02-08 06:46] Jyoti1009 opened #2208 "Conversation restart after triggerAction"
Hi @Stevenic,

I need help with the triggerAction command. I am trying to code as below:

` if (<some_condition>) {
                intent = { score: 1.0, intent: 'idu' };
                done(null, intent);
            }
            `
and define the dialog as below:

`bot.dialog('/idu', [
        function (session) {
            builder.Prompts.text(<some_text>);
            session.endDialog();

[2017-02-08 07:58] ashay-88 opened #2209 "cookie in bot framework"
Hi,
I want to use webchannel for out bot. this we'll use on our sharepoint.com homepage.
We have certain microservices, token based authentication.
I want to access a cookie created by our sharepoint online website, and use username in that to find token and use that token for webservices.

Is it possible for webchannel bot?
I am thinking to store token in BotData userdata.
I dont know how will I

[2017-02-08 08:57] michaelvol commented on #2103
Hi,
Pinging again on this issue.
Tried it with 3.6.0 and it still happens. Anything you can suggest on this topic?
Thanks.

[2017-02-08 09:53] admeister opened #2210 "DirectLine upload endpoint file size limit"
I've been having problems uploading photos to DirectLine taken with an iPhone camera when developing a native app.

http://stackoverflow.com/questions/42109661/upload-max-file-size-for-botframework-directline

Just wondering if there is an upload max file size limit. If so, what it it?

[2017-02-08 12:39] tahazayed commented on #565
@romanNedzelsky check this https://docs.botframework.com/en-us/csharp/builder/sdkreference/attachments.html

[2017-02-08 12:40] tahazayed commented on #565
@romanNedzelsky I think we can build a game, or sending tasks and get approvals

[2017-02-08 12:43] romanNedzelsky commented on #565
@tahazayed well the reference is related to bot and skype, so the question is, if I will connect to bot with skype for business, will it work?

[2017-02-08 12:47] tahazayed commented on #565
Theoretically it will work as Skype for business is just a channel, give it a try you have the source code

[2017-02-08 13:48] dandriscoll commented on #2207
Yes, closing as this is a duplicate of https://github.com/Microsoft/BotBuilder/issues/2201

[2017-02-08 13:48] #2207 closed

[2017-02-08 16:42] astutesoftware opened #2211 "service url https://smba.trafficmanager.net/apis/"
https://smba.trafficmanager.net/apis/ endpoint when used in service url throws 500 error code.
Old conversations while using https://skype.botframework.com/v3/conversations/ still work but the newer conversations do not work on the old service url and neither in the new service url.
Help...

[2017-02-08 17:24] dandriscoll commented on #2211
Hi @astutesoftware, this is a new ServiceUrl used by the Skype service. Can you provide your bot ID or bot handle so we can investigate?

[2017-02-08 18:04] astutesoftware commented on #2211
906ff232-4a6d-4266-8d94-a632aa781575
RouteMobile

[2017-02-08 18:07] astutesoftware commented on #2211
I am trying to hit
https://smba.trafficmanager.net/apis/v3/conversations/29:1LeI7sRbDBW-9iANdAOF-Fed3AXKIVABFArq_IUafLFfHmoySBpzcX06E2BiN223j/activities

and end up with
{"message":"An error has occurred."}"
HTTP/1.1 500 Internal Server Error
Content-Length: 36
Content-Type: application/json; charset=utf-8
Server: Microsoft-HTTPAPI/2.0
Date: Wed, 08 Feb 2017 18:06:11 GMT
Connection: close

{"messa

[2017-02-08 19:30] msft-shahins commented on #2078
As I said before the delay that you are seeing is most likely because of slow Luis service calls happening in the MessageReceived function of LuisDialog: https://github.com/Microsoft/BotBuilder/blob/8f0d6bbc1ef0fcef99b04560391384aba8fcde15/CSharp/Library/Microsoft.Bot.Builder/Dialogs/LuisDialog.cs#L204

[2017-02-08 21:28] konstlut commented on #2211
@astutesoftware Thank you for reporting. Would you please provide an example of the payload you are sending in your hero card. I am mostly concerned about the 'images' section of the card.

[2017-02-08 22:09] suddenelfilio opened #2213 "reset bot in teams channel"
Hello

is there a way to reset a bot from teams. I've tried removing the Teams channel and adding it back, but the bot won't respond to anything anymore. I kind of sitting with a mute bot in my Teams...

[2017-02-08 22:50] vovanb opened #2214 "Authorization for Microsoft App ID failed with status code Forbidden"
Hi Team @msft-shahins @dandriscoll @willportnoy ,
I am using OnActionExecutingAsync for assigning MicrosoftAppId in run-time instead of using web config.
When new request come-in in method Post:
  public async Task<HttpResponseMessage> Post([FromBody] Activity activity)

I am calling
`await Conversation.SendAsync(activity, () => ControllerHandler.MakeJsonRootDialog(strDirPath));`
and I got
`
Syste

[2017-02-08 23:13] msft-shahins commented on #2214
Builder is using [ConnectorClientFactory](https://github.com/Microsoft/BotBuilder/blob/3a98a6b3d15962a57b5454bfb3f730d3588de3ef/CSharp/Library/Microsoft.Bot.Builder/ConnectorEx/IConnectorClientFactory.cs#L63) to instantiate ConnectorClient and StateClient. You can implement your own ConnectorClientFactory that instantiate the right clients and register that with the Conversation container. Here is

[2017-02-08 23:37] Montacia opened #2215 "Unable to retrieve matched value from a FormFlow regex pattern"
I am trying to retrieve phone numbers using the following code in my form:

        [Prompt("What is your new number?")]
        [Describe("Phone Number")]
        [Pattern(@"(\+?(\d{2})?[ -]?0?\d[ -]?\d{4}[ -]?\d{4})")]
        public string phone { get; set; }

        public static IForm<ContactDetails> BuildForm()
        {
            return new FormBuilder<ContactDetails>()
                .

[2017-02-09 00:14] RichMoeMSFT commented on #2173
We currently don't have a way to use markdown in the reply back.  Can you explain what you're looking for and the use case?

[2017-02-09 00:20] eliotwinder commented on #1316
@dandriscoll I'm still having this problem with my bot - I've updated the Landing Page URL, but i am being redirected to https://bots.botframework.com/ Any ideas?

[2017-02-09 00:26] alex182 commented on #2173
I was looking for a way to hide some of the text that is sent back to the bot (a guid to be exact) to get around Teams not supporting the postBack action type.  It seems like Teams HTML encodes whatever text it is sent using the imBack action.

[2017-02-09 01:12] rnjailamba commented on #1720
@cesarvarela any update on the same?

[2017-02-09 02:27] astutesoftware commented on #2211
{"from":"RouteMobile@960kQbHj8Ok", "type":"message","attachmentLayout":"carousel","text":"Pricing information for Nepal","attachments":[{"contentType":"application\/vnd.microsoft.card.hero","content":{"title":"Namaste(NT Mobile)","subtitle":"\u20ac0.02400","images":{"url":"https:\/\/67.media.tumblr.com\/avatar_050b045e3b18_128.png"}}},{"contentType":"application\/vnd.microsoft.card.hero","content"

[2017-02-09 03:05] astutesoftware commented on #2211
yes you are right.. when replaced the hero card with a generic text message with no attachments it went through. My image payload is definitely the culprit.

[2017-02-09 03:23] sappy5678 commented on #1489
I have the same problem on the latest version of emulator.
I use this url to connect

`
    http://localhost:3978/api/messages
`

[2017-02-09 05:23] AlavudeenRafiq commented on #2201
I am getting the response from the Bot intermittently. While sending the request, I am getting the below error.

POST https://directline.botframework.com/v3/directline/conversations/B56KT664xddDwc9SBbL4md/activities **502 (Bad Gateway)**

I am also getting error in botchat.js. **How long will it take to resolve your loading issues in your European datacenter?**

[2017-02-09 06:04] PrasadGautham opened #2216 "I have updated the bot builder to version 3.5.2. The endpoint in LuisModel.cs is not yet changed????"
https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Builder/Luis/LuisModel.cs

 public static readonly IReadOnlyDictionary<LuisApiVersion, Uri> LuisEndpoints = new Dictionary<LuisApiVersion, Uri>()
        {
            {LuisApiVersion.V1, new Uri("https://api.projectoxford.ai/luis/v1/application")},
            {LuisApiVersion.V2, new Uri("https://api.projectoxford.ai

[2017-02-09 06:11] PrasadGautham opened #2217 "Is there any way to directly transfer control from chat application to the bot framework, ie: by excluding all the channels including directline and authentication in between?"
We are currently using Direct line Api for communication with BOT framework. But we are facing challenges with response time. So we are  thinking if we can change the architecture so that our custom chat application will directly contact the BOT framework instead of going to Direct line and other authentication processes. Is this possible?

[2017-02-09 06:21] PrasadGautham opened #2218 "Json response for the intent in Luis is coming wrong, although it is set as intended by me in the Luis application."
I will illustrate with this example:

This is how the intent is set in the luis application. The application is trained and then updated and published:
![intent set in app](https://cloud.githubusercontent.com/assets/23548463/22771572/8e5c0b2a-eebd-11e6-8a12-3decc40fc254.PNG)

 But the Json response is as follows:

![jsonresponse](https://cloud.githubusercontent.com/assets/23548463/22771604/bb2e954

[2017-02-09 06:30] danmarshall commented on #2213
C# or Node.js ?

[2017-02-09 06:31] #2154 closed

[2017-02-09 06:35] danmarshall commented on #2193
YouTube videos are not MP4 videos, they are a proprietary YouTube format only playable in a YouTube player. So just send the URL, do not use an attachment.

[2017-02-09 06:36] danmarshall commented on #2181
Closing this issue here, and we can track it in the WebChat repo.

[2017-02-09 06:36] #2181 closed

[2017-02-09 06:40] danmarshall commented on #2202
Thank you for your contribution @pranavjain
@RobStand do we have a place where we can put a PHP sample?

[2017-02-09 06:45] suddenelfilio commented on #2213
Node

On Feb 9, 2017 07:31, "Dan Marshall" <notifications@github.com> wrote:

[2017-02-09 06:48] danmarshall commented on #2213
Have you tried this:
https://docs.botframework.com/en-us/technical-faq/#my-bot-is-stuck--how-can-i-reset-the-conversation

[2017-02-09 07:19] jsiegmund commented on #1956
I finally seem to have found something. I'm debugging using local functions-cli. I had been moving dialogs into a precompiled DLL so that I could have intellisense when writing the dialog code, since CSX doens't have intellisense yet.

Now for the post above this one: when I move the **exact same** code into a CSX file and load that one instead: the response is being passed to the correct dialog!

[2017-02-09 07:24] rupeshtech commented on #2205
Thanks for referring the isse 1641, but that doesn't help.
"Are you replying to a ping message?". I didnt get this Question completely but I think the following line
await Conversation.SendAsync(activity, () => new BasicLuisDialog()); is throwing error.

![bot_error2](https://cloud.githubusercontent.com/assets/24852402/22773209/241e3268-eea1-11e6-81d0-2314dfa723e9.PNG)

[2017-02-09 07:28] inornos commented on #2168
Hello Please Guide Me What I Do My Skype Not Working After Edit And Re Save The Bot As You Say....

[2017-02-09 07:35] yshahin commented on #2218
This is a misunderstanding of the results.
The score in the JSON is the published model score of this utterance.
The score in the dropdown is either the label; which is 1 if you have labeled this before. Or if this is a new utterance its the trained model score.

What you need todo is
1. train the application and publish to push the trained model to be the published one.
2. if this doesn't solve t

[2017-02-09 07:50] PrasadGautham commented on #2218
But I selected it to be shown as "none" intent here. So the best intent/top scoring intent should be "none" right?

[2017-02-09 07:53] vovanb commented on #2214
@msft-shahins
My  Dialog defined as
 ` internal static IDialog<JObject> MakeJsonRootDialog()`
Can you provide example how to instantiate ConnectorClientFactory that instantiate the right clients and register that with the Conversation container prior call to
 ` await Conversation.SendAsync(activity, () => ControllerHandler.MakeJsonRootDialog(strDirPath));`
Real appreciate it. There is 0 example ab

[2017-02-09 08:00] sandeepshm commented on #1210
Is it possible to have custom stylesheet on hero card button's in Microsoft bot framework.

[2017-02-09 08:45] Arimov opened #2219 "New channels: Viber, VK.com"
It would be great if you could add to the list of supported channels such as **Viber** and **VK.com**
(and Whatsapp when they open API)

[2017-02-09 09:00] vovanb commented on #2205
same problem

[2017-02-09 09:20] suminksudhi commented on #1593
Hi,
I have the same issue while calling the api from my browser

XMLHttpRequest cannot load https://directline.botframework.com/v3/directline/tokens/generate. Response to preflight request doesn't pass access control check: The value of the 'Access-Control-Allow-Origin' header in the response must not be the wildcard '*' when the request's credentials mode is 'include'. Origin 'http://localhost:43

[2017-02-09 09:35] vovanb commented on #927
Where do you call RegisterBotDependencies ? From
 public async Task<HttpResponseMessage> Post([FromBody] Activity activity) ?
Can you provide full example?

[2017-02-09 10:23] vovanb opened #2220 "System.IO.FileNotFoundException"
Updated to Microsoft.Bot.Builder to 3.5.2 and Microsoft.Bot.Builder.FormFlow.Json 3.1.0
After call to :
`   return Chain.From(() => FormDialog.FromForm(preChatInquery.BuildJsonForm))
                .Do(async (context, order) =>
                {
`
An exception of type 'System.IO.FileNotFoundException' occurred in Microsoft.Bot.Builder.dll but was not handled in user code

Additional information:

[2017-02-09 10:38] konstlut commented on #2211
@astutesoftware Right, so your payload is not mapping the schema. Not images should be an array. we will change 500 to 400, and here is the working example:
[code]

[2017-02-09 11:04] sayyednazeer commented on #2078
@msft-shahins  so there is nothing wrong with my code..?

And if it is Luis Service issue(slow call) then are you going to fix this..?
@dandriscoll

[2017-02-09 11:42] michaelvol commented on #2177
+1 for the question.

Should these two be combined or only use firstRun?
Is the purpose of dialogVersion to end the conversation (clear the stack) so that the next msg will get to the firstRun dialog?
In this case looks like only a second msg sent by the user will reach session.beginDialog...?

Thanks

[2017-02-09 11:51] michaelvol opened #2221 "[Question] Localization and bot.send"
Hey,

bot.send is an alternative to bot.beginDialog for proactive messages but there is no session object involved here.
What's the correct way to use localization strings (after all, we send messages to the user...) if I only want to use bot.send (because bot.beginDialog will end the active conversation)?

On the same topic - let's say I want to include in my message some personal data that's sto

[2017-02-09 13:13] BenjaBobs commented on #327
According to [this](https://cognitive.uservoice.com/forums/551524-luis/suggestions/15088233-more-than-20-intents-for-luis#{toggle_previous_statuses}) the limit was raised to 40, but there may be a more recent change.

[2017-02-09 14:40] srozga opened #2222 "Skype connector passing duplicated user name"
The activities coming from the Skype bot connector include duplicate names. In the Activity, the From ChannelAccount has an id and the user name is duplicated. For example, my skype name is szymon.rozga and the field has the value "szymon.rozga szymon.rozga".

[2017-02-09 14:42] GhostAtom opened #2223 "Bot response really slow"
Hi, I'm experiencing huge latency to get bot responses. There is a current outage or issues with LUIS or Azure bot connector?
Thanks

[2017-02-09 14:52] vsirakova opened #2224 "Dialog loops only once when used with replaceDialog"
Hello!

I have a very simple bot with one root dialog and one other dialog for selecting options which I am trying to loop until the user quits the process by selecting the 'done' option.

However, after the first replaceDialog call, when the loop dialog starts over and the user selects an option from the prompt, the control goes back to the root dialog instead of the next waterfall function of th

[2017-02-09 14:57] vovanb commented on #2220
Solved only by adding below to app.config:
`
     <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bot.Builder" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.2.0" newVersion="3.5.2.0" />
      </dependentAssembly>
`

[2017-02-09 14:58] tahsintahsin commented on #2208
+1

[2017-02-09 15:35] vsirakova commented on #2224
Just found the reason for this issue. It is because I am passing the whole session.dialogData in the replaceDialog call and that object keeps track of the current dialog progress. So I fixed it by only passing my own data instead of the whole object, so something like this:

[code]

[2017-02-09 15:35] #2224 closed

[2017-02-09 15:39] shigasumi commented on #2092
Hi, I'm also trying to achieve the same proactive behavior. Can you explain a bit more about what exactly I need to call (from Bot Builder .NET SDK) to initiate a conversation if I have a user id? As far as I can understand, I need a ServiceUrl to achieve this, but where I get it from? Do I need  to save it together with userId when my connector service receives ContactRelationUpdate message?

Tha

[2017-02-09 15:54] shigasumi opened #2225 "Difference between IActivity.ServiceUrl and IActivity.ChannelId for initiating a conversation"
What is the difference between IActivity.ServiceUrl and IActivity.ChannelId in .Bot Builder .NET SDK? I am trying to initiate a new conversation from bot by having a UserId (stored from previous conversations) and a channelId (also stored) by using CreateConversationAsync. This requires an ConversationParameters instance, which in turn requires an Activity instance. An activity, though, has both t

[2017-02-09 16:24] bondz commented on #2218
I have a similar issue too, not as regards the intent but an entity, LUIS labels the entity in the statement in the dashboard for the app, and when I try the same statement with the publish URL, sometimes it picks it up, most times, it just doesn't which is annoying sometimes. This happens only if the particular phrase is present in the statement.

[2017-02-09 16:47] srozga opened #2226 "UserData sharing across channels"
It seems that IBotData.UserData documentation is saying that the UserData can be reused across different conversations/channels for a user. This is great but how does this work? Presumably all channels have a different user id, so how can I specify the unique id that this keys off?

![image](https://cloud.githubusercontent.com/assets/1940385/22793207/29b89940-eebd-11e6-849c-503ae8d8d57e.png)

[2017-02-09 17:27] Andrea-Orimoto commented on #2203
Hi Jarrod,
thanks a lot for your open and sincere feedback.

The Bot Framework is still a preview technology and as such, we are still learning what developers are looking for and making frequent improvements. It is important to state that many companies are currently live or close to go live with their bots on our platform, for example:  [https://blogs.microsoft.com/firehose/2016/12/13/say-hello-

[2017-02-09 17:32] willportnoy commented on #2068
@NaiduGiridhar can you look for exceptions in your production tracing?

[2017-02-09 17:34] willportnoy commented on #2155
@dandriscoll: fyi, @arnoldpistorius found a solution to their 403 issue: https://github.com/Microsoft/BotBuilder/issues/2155#issuecomment-276964664

[2017-02-09 17:38] fercom commented on #2155
@willportnoy but @arnoldpistorius says I cannot do anything to solve it

[2017-02-09 17:39] willportnoy commented on #1160
@rnjailamba I don't see it documented on https://www.luis.ai/Help - if you open a top-level issue, we can ask the appropriate people to respond.

[2017-02-09 17:41] willportnoy commented on #2096
@zxed here is an example of calling IDialogStack.Reset: https://github.com/Microsoft/BotBuilder/commit/d13553eff121219c8112d6bb5a8069b0ace60dad

You also have to add a Loop() to prevent popping an empty stack.

[2017-02-09 17:44] vorti2 commented on #2179
Okay, after 6 days of work now same HTTP 500 error occurs. After this error occurs I make a new bot, a new FB page and a new FB bot ... All works until the reply from my bot -> MSBF -> FB.

Must I wait another day?

[2017-02-09 17:50] willportnoy commented on #2214
https://github.com/Microsoft/BotBuilder/issues/2121#issuecomment-275731497 has an example of registering custom services in the container - for example, you can register a per-request MicrosoftAppCredentials that will get used by the connector client factory and other services that depend on it.

[2017-02-09 17:55] willportnoy commented on #1956
We have some code in the Azure Bot Service to handle the serialization of delegates involving dialogs:

https://github.com/Microsoft/BotBuilder-Azure/blob/master/CSharp/Library/Microsoft.Bot.Builder.Azure/AzureModule.cs#L126

It seems related to your issue.  @msft-shahins for visibility.

[2017-02-09 18:06] vovanb commented on #1678
Same issue with reply to Facebook:
"SendActivityToUserAsync FAILED: {\"error\":{\"message\":\"(#100) Param [elements][0][title] must be a non-empty UTF-8 encoded string\",\"type\":\"OAuthException\",\"code\":100,\"fbtrace_id\":\"BltwwnsCdZw\"}}"
Attached sample json
[sample.json.txt](https://github.com/Microsoft/BotBuilder/files/764546/sample.json.txt)

[2017-02-09 18:08] vovanb commented on #2150
@willportnoy @chrimc62
same issue with Facebook:
Same issue with reply to Facebook:
"SendActivityToUserAsync FAILED: {\"error\":{\"message\":\"(#100) Param [elements][0][title] must be a non-empty UTF-8 encoded string\",\"type\":\"OAuthException\",\"code\":100,\"fbtrace_id\":\"BltwwnsCdZw\"}}"
Attached sample json
[sample.json.txt](https://github.com/Microsoft/BotBuilder/files/764546/sample.json.t

[2017-02-09 18:14] willportnoy commented on #2223
Could you be more specific about "bot responses"?  Is there a particular channel you're seeing something slow?  You might consider enabling telemetry for your application e.g. http://aihelpwebsite.com/Blog/EntryId/11/Using-Application-Insights-With-Microsoft-Bot-Framework

[2017-02-09 18:14] Andrea-Orimoto commented on #2171
Hi @Boober44b,

we try to review as fast as we can, usually within a week, even though we experienced significant delays in the past. Do you have a bot stuck in review? If yes, please let us know your bot handle, and we'll take a look.

Thank you

[2017-02-09 18:15] willportnoy commented on #2220
@vovanb thank you for the fix - usually NuGet adds the bindingRedirects for you, but it looks like it missed them this time.  I'm going to close this issue for now, since it appears to have been resolved.

[2017-02-09 18:15] #2220 closed

[2017-02-09 18:16] willportnoy commented on #2198
It's possible you're getting an xml error page versus a well-formed json response.  Can you use a tool like fiddler to look at the http response?

[2017-02-09 18:18] willportnoy commented on #2194
@craigjensen does slack have some semantic about including user names as an at-mention in the message text?

[2017-02-09 18:20] willportnoy commented on #2205
@rupeshtech can you share your packages.config so we can see what versions of Microsoft.Bot.* packages you're using?

[2017-02-09 18:47] RobStand commented on #2225
Hi @shigasumi,

Please take a look at the [Bot Framework IDs guide](https://docs.botframework.com/en-us/bot-framework-guide-id/) and let me know if you need additional help.

[2017-02-09 18:51] Andrea-Orimoto commented on #2159
Hi @wacton,

the only way to do that right now is to un-publish it, and then resubmit.
Let me know when you have resubmitted your bot, so that I can re-review and approve it. Send me the bot handle.
We're working to significantly improve the submission/review process in the future.

Thanks and sorry for the inconvenience.
Andrea

[2017-02-09 19:06] kkarahainko commented on #2195
Hi.

Seems like the same issue, how to make bot answer only to "@mybot message", now it answers to all messages in a group chat (channel) like in private chat (direct messages) with bot.

Thanks.
K

[2017-02-09 19:16] msft-shahins commented on #1956
@jsiegmund do you have a simple bot that repros this issue? If so, can you share the code for that bot?

[2017-02-09 19:22] fkurkowski commented on #2028
I happened to stumble upon the same problem today and noticed that `intentThreshold` [is actually an option](https://github.com/Microsoft/BotBuilder/blob/2826c4757be5488ecc13926ecdf540254bf9715d/Node/core/src/dialogs/ActionSet.ts#L47) on `triggerAction`. You just have to pass it around:

[code]

[2017-02-09 19:23] msft-shahins commented on #2150
@vovanb can you share the activity that your bot is sending to facebook channel that causes this error?

[2017-02-09 19:39] vovanb commented on #2150
Actually I am using Microsoft.Bot.Sample.AnnotatedSandwichBot as example.
So in reply to incoming activity in controller:
` public async Task<HttpResponseMessage> Post([FromBody] Activity activity)
        {
            if (activity.Type == ActivityTypes.Message)
            {
                   await Conversation.SendAsync(activity, () => MakeJsonRootDialog());`

Then:
  ` internal static IDialog

[2017-02-09 19:40] #2028 closed

[2017-02-09 20:12] bsurtz opened #2227 "POST Refresh access token failed with status code: 400"
I get this message when I try to call my Bot from the bot emulator....  I have tried with with a blank MicrosoftAppID and MicrosoftAppPassword and with one I made up.  Neither worked.

[2017-02-09 20:14] bsurtz commented on #2227
BTW with a blank MicrosoftAppID and MicrosoftAppPassword.  I get this.

Error: The bot's MSA appId or passsword is incorrect.
Click here to edit your bot's MSA info

[2017-02-09 20:18] dandriscoll commented on #2201
Hi @AlavudeenRafiq, I'm very sorry, I just noticed your issue is a 502 and not a 503.

A 502 indicates the problem occurred within your bot.
A 503 indicates our server is not responsive, and is the issue we are dealing with in this thread.

If you're seeing a 502, please inspect the logs inside your bot to see if it is generating any errors.

Very sorry about miscategorizing the issue.

[2017-02-09 20:36] jsiegmund commented on #1956
Not a simple one, no. But I suspect you can repro with a simple LUIS (or probably any type of) dialog that calls a formflow which comes from a precompiled DLL. I now moved everything into a WebAPI project and all problems completely disappeared.

[2017-02-09 21:32] eanders-MS commented on #2227
Hi @bsurtz Can you double-check to be certain you cleared the MSA credentials from both sides of the connection (bot and emulator)?

We usually recommend taking a look at this auth debugging guide as well: https://docs.botframework.com/en-us/support/troubleshooting-bot-framework-authentication/

[2017-02-09 22:36] McGern commented on #2203
Hi Andrea,

Thanks for getting back. Sorry this looks a big whinge, because I guess it is. I am quite enjoying the development side of the bot builder, and once I get my head around the dialogue stacking a bit more,  the bots should start rolling out. The main reason we went with the MS stack was because of the level of integration to other services and the potential speed getting a bot up and run

[2017-02-09 22:38] vorti2 commented on #2179
Strange, but after I reboot my development machine (on which these errors occurred) the error is gone. Afterwards a second 500er error occurs, I reboot my machine, error is gone.
Hmm ...

[2017-02-09 22:38] #2179 closed

[2017-02-10 00:13] willportnoy commented on #2226
Because user IDs vary by channel, I don't think the user data bag will be shared in practice across channels, so it seems likely that is a documentation bug.

https://docs.botframework.com/en-us/bot-framework-guide-id/

[2017-02-10 00:16] srozga commented on #2226
Ok. That's unfortunate. Obviously as you may imagine one of the things we would like to be able to do is have one user data store across channels, exactly as the documentation states. We would integrate with an external oauth to get a unique identifier which we would ideally use. Any ways in which you guys are looking to support such a scenario?

[2017-02-10 00:18] gakarnik opened #2228 "LUIS does not recognize builtin.datetime.date for some timezones"
My LUIS app has a builtin.datetime.date entity added to it. For this URl:

https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/7e388f8a-3286-4e6a-91d5-b7fa3552ce82?subscription-key=61081fa49f244cdda471a447618a79b5&q=cancel%20time%20off%20for%20today&timezoneOffset=5.75&verbose=true

It does not recognize today as an entity. I have the same issue with few other timezoneOffset values too, wher

[2017-02-10 00:24] jarmstrongnz opened #2229 "Bot connecting fine to channels except facebook"
I am having issues with my ConnectorClient (C#) not connecting to Facebook. However, Dev Portal, Skype and the Emulator all connect fine to my bot. I am trying to diagnose using ngrok and I am having an exception is thrown as follows:

`		e.ToString()	"System.UnauthorizedAccessException: Authorization for Microsoft App ID efb06f27-b28d-48fc-b94e-425a402ada91 failed with status code Forbidden
   at

[2017-02-10 00:57] willportnoy commented on #572
We have connector client support for .net core - more details here: https://github.com/Microsoft/BotBuilder/issues/1473#issuecomment-278190706

[2017-02-10 01:23] Montacia commented on #2215
Managed to extract the substring that matched the regex pattern by using `validate:` in `.Field()` when instantiating form builder like so:

       return new FormBuilder<ContactDetails>()
                .Field("phone",
            validate: async (state, response) =>
            {
                Regex pattern = new Regex(@"((((\+\d{2}[ -]?)|0?)|\d{2})\d[ -]?\d{2,4}[ -]?\d{4,5})");

[2017-02-10 01:54] shigasumi commented on #2225
Thanks a lot for the link, @RobStand.

I guess the title of the issue was a bit misleading (I've edited it a bit). The problem is, I still don't understand whether ChannelId can server as the only other necessary primitive (in addition to UserId) to start a conversation - it seems there's no way to get an instance of ConnectorClient other than having a ServiceUrl. If this is true, what's the purpo

[2017-02-10 04:14] AlavudeenRafiq commented on #2201
Hi @dandriscoll,
If the problem is within the bot, I should not get any response right? But I am getting responses randomly. And my bot code works fine when I test with emulator.
So, can you suggest me how to resolve this issue?

[2017-02-10 04:15] cglong opened #2230 "[LUIS] ILuisModel difficult to inherit from"
We're attempting to upgrade `Microsoft.Bot.Builder` from `3.2.1` to `3.5.1` and we've started getting build errors. Our custom implementation of `ILuisModel` is missing two new properties: `ApiVersion` and `UriBase`.

`ApiVersion` is easy to add; `UriBase` however requires referencing the framework source to reimplement:

[code]

I'm wondering if there'd be an easier way to expose the `LuisEndpoin

[2017-02-10 04:26] dandriscoll commented on #2201
Hi @AlavudeenRafiq, when your Direct Line client issues a POST to /v3/directline/.../activities, Direct Line contacts your bot.

If your bot returns an HTTP 2xx code, we return 200 back to your client.
If your bot returns an HTTP 4xx or 5xx code, we return 502 back to your client.
If your bot does not respond within our timeout period, we return 504 back to your client.

Your bot may be experienci

[2017-02-10 04:56] tylerl0706 opened #2231 "Bot fails to continue conversation after some time"
I started a conversation with my bot a couple days ago on Microsoft Teams. Today, I tried to continue the conversation and it wasn't responding. I checked the logs and it showed:

[code]

If you couldn't tell from the logs, I am using the Node.js version.

I tried a conversation from Web Chat and it responds without issue.

![image](https://cloud.githubusercontent.com/assets/2644648/22814663/3809d

[2017-02-10 05:19] willemodendaal commented on #2201
Hi @dandriscoll, @AlavudeenRafiq . Related to the comments above: we have received many 502's, but never any 504's. However, if we send AppInsights traffic via the Bot Channel, it indicates that calls timed out to our bot (15 seconds +). In those cases we got 502's as well, even though our Bot never threw any errors of its own.

In our case the 15 second timeouts were happening because responses f

[2017-02-10 05:44] cesarvarela commented on #1720
Guys we have a working version already, I'll release tomorrow once I add some documentation.

[2017-02-10 05:47] dandriscoll commented on #2201
I'll take a look at that -- we added the 504 code recently and it may actually not be live yet.

[2017-02-10 05:54] aekynr commented on #2174
Still waiting for comment..

[2017-02-10 05:54] willemodendaal commented on #2201
Could be. We're on v3.5 at the moment. Would definitely be useful to distinguish 502s from 504s.

[2017-02-10 05:59] sandeepshm opened #2232 "Image on Hero card's Button does not render in emulator or web chat and even skype"
Hi,
Image on Hero card's Button does not render in emulator or web chat and even skype also. how do i display the image on my button.

string ImagePath = "file:\\" + HttpContext.Current.Request.MapPath("\\Images\\Like-icon_resize.png");
 var heroCard = new HeroCard
  {
             Text = response,
              //Images = new List<CardImage> { new CardImage("http://emojipedia-us.s3.amazonaws.com/

[2017-02-10 06:19] rnjailamba commented on #1720
@cesarvarela  really looking forward to this !!

[2017-02-10 06:34] AlavudeenRafiq commented on #2201
Hi @dandriscoll,
Since the 504 code is not live yet, I may get 502 instead of 504. Consider I am facing 504 issue. What is the fix to that issue?

[2017-02-10 07:51] lonche commented on #2198
I solved this issue.
So, i was getting conversation parameters after a redirect when authentication succeed. Now, i changed the code(logic), so, first i get parameters and store in a static class, then redirect the user and finally, save conversation object in database.
Later, i initialize conversation with parameters from database. Everything works fine.

[2017-02-10 08:00] rupeshtech commented on #2205
I have uploaded the whole solution on git hub... please find it here
https://github.com/rupeshtech/tamtambot

[2017-02-10 09:32] vicenschamorro opened #2233 "Detect emoji in Bot Framework"
I am developing a bot with the Bot Framework. When receiving a message I need to detect emojis sent in the incoming message.

I was thinking of using a regex to do this but I am not able to. The problem is that different channels send the emoji differently to the bot. I have registered a listener to the 'receive' event and took a look at the text provided for different channels sending the same sm

[2017-02-10 10:20] BKbhavu commented on #1698
Is that possible to do localization using c# because in Microsoft Bot Framework's there is an example using node.js...?????

[2017-02-10 10:31] NCZ-10 commented on #2151
No I do not use a proxy.
I gave up and created a new solution which I have patched directly with 3.5.1.

[2017-02-10 10:44] achadha0111 commented on #2187
@carlosscastro , any updates?

[2017-02-10 11:15] slidenerd commented on #2012
**UPDATE**

I am using dashbot now and its truly awesome. It integrates directly with the bot framework
Just specify the app id, password and facebook page access token. havent set slack, kik, skype and the other one in the code below. it works like a charm
[code]

[2017-02-10 12:00] sjkp opened #2234 "Facebook list template support"
Are there any plans to support the facebook list template as a card type?
https://developers.facebook.com/docs/messenger-platform/send-api-reference/list-template

[2017-02-10 12:22] andradedearthur opened #2235 "How can I add the capability for a bot to interact with my users in a language other than English?"
I have created a bot using a FormFlow form that displays it's options in Portuguese (pt-BR). When I ask the user he wants to confirm the information he provided, even though the emulator is sending the correct locale (pt-BR) if the user says "Sim" (Yes, in Portuguese) the bot displays "'sim' is not a option".

I would like to know how to change this behavior. I don't need do display information in

[2017-02-10 12:30] ejadib commented on #2233
This was asked in http://stackoverflow.com/questions/42094536/detect-emoji-in-bot-framework. It would be great to keep the conversation in a single place instead of duplicating the question.

[2017-02-10 12:39] bsurtz commented on #2227
Thanks, I got it working. I needed to add a real app ID and password. It would not work with blanks or fake ones.

[2017-02-10 12:44] vicenschamorro commented on #2233
Hi ejadib. Sorry, but I've opened also here after a chat with a Microsoft guy by email. I hope someone else can have another idea about how to solve it. We are using the framework just to become independent of the channel and the solution in Stackoverflow, from my point of view, is a step back.

[2017-02-10 13:17] Jyoti1009 commented on #2208
Hi @Stevenic  Could you please redirect me to someone who can help?

[2017-02-10 14:52] rupeshtech commented on #2205
guys , any update??

[2017-02-10 15:30] RichMoeMSFT commented on #2213
By stuck do you mean you're not receiving anything from Teams?  Have you tried running you code locally with ngrok to see if Teams is hitting it?

https://docs.botframework.com/en-us/node/builder/guides/core-concepts/#debugging-locally-using-ngrok

[2017-02-10 15:31] suddenelfilio commented on #2213
/deleteprofile did the trick thanks a lot

On Fri, Feb 10, 2017 at 4:30 PM, Richard Moe <notifications@github.com>
wrote:

[2017-02-10 15:33] RichMoeMSFT commented on #2173
We will be rolling out a solution for this in a few weeks.

[2017-02-10 15:53] jsiegmund opened #2236 "Guidance on using FieldReflector"
Looking for some guidance on how to use the FieldReflector directory.

I've got a list of three strings that comes from a third part web service (dynamically). I want to present those strings to my user in the form of a choice list, i.e.

1) string A
2) string B
3) string C

The user should be able to reply with "1" and then "String A" should be set as the value of that particular field (which is

[2017-02-10 16:06] weedroid opened #2237 "Unable to authorise with bot even though credentials are apparently valid"
I have deployed a chat bot to an Azure instance, but have been unable to test it using either the emulator or the web chat built into the backend of the bots site. I have configured it with the ID and password generated by the bots site, but the problem still occurs.

Failed request tracing on the Azure instance indicates that requests are causing an "Authorization for Microsoft App ID (guid) fail

[2017-02-10 16:32] jsiegmund commented on #2236
Never mind, going to answer my own question. This does what I need it to do:

[code]

[2017-02-10 16:32] #2236 closed

[2017-02-10 16:55] kentstroker opened #2238 "Documentation Build Failing"
After installing the three programs: doxygen, graphvia and mscgen the bat file exits out with this error:

Generating docs for nested compound Microsoft::Bot::Builder::Internals::Fibers::Serialization::StoreInstanceByTypeSurrogate::ObjectReference...
Exiting...

Any suggestions on how to resolve and get the docs generated?

[2017-02-10 17:20] #2213 closed

[2017-02-10 17:23] danmarshall commented on #2237
Can you paste any error stack trace from the webchat (in your browser's debug console) or from your server?

[2017-02-10 18:46] #2227 closed

[2017-02-10 18:55] cesarvarela commented on #1720
@palmerabollo @chrimc62 @dkenzik @rnjailamba

This is an initial version:

https://github.com/thebotmakers/botframework-watson-recognizer

It works with Entities and Intents. Doesn't support Watson's dialogs yet, because we like to have our dialogs in code, but if anyone is interested feel free to contribute to.

[2017-02-10 21:38] willportnoy commented on #2230
@msft-shahins thoughts?

[2017-02-10 21:43] willportnoy commented on #2232
@danmarshall are image urls required to specify a http header for an image content type?

[2017-02-10 22:41] danmarshall commented on #2232
"Images on buttons" is conceptually part of the SDK but I haven't seen it implemented in *any* channel. @tomlm will this continue to be part of the SDK?

[2017-02-10 22:45] danmarshall commented on #2204
Hi @pvagare this is a popular requested feature but it is currently not part of the SDK.

[2017-02-10 22:46] danmarshall commented on #2193
I'm closing this issue for now, please re-open if needed.

[2017-02-10 22:46] #2193 closed

[2017-02-10 22:49] danmarshall commented on #2209
Take a look at the WebChat repo, you may be interested in using the backChannel feature to send additional information: https://github.com/Microsoft/BotFramework-WebChat#using-the-backchannel

[2017-02-10 23:04] danmarshall commented on #2208
It seems from the [documentation](https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.dialog.html#triggeraction), that triggerAction is meant to clear the dialog stack. You may need to use [dialogInterrupted](https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.dialog.html#dialoginterrupted) to save the state of the current dialo

[2017-02-11 02:23] areckkimo commented on #2223
I have the same issue.
My bot deploys on Azure.
I use node.js develop the bot
How do add application insights to bot?

[2017-02-11 03:44] mikob opened #2239 "Maximum number of intents?"
The documentation used to state that there was a 20 intent limit. This has apparently been raised recently as people are able to create 40+ intents. What is the new limit? Can we document it in the help?
#1160

[2017-02-11 09:47] rnjailamba commented on #1720
@cesarvarela looks good , ill give it a shot today and give you feedback for the same...

[2017-02-11 09:54] rnjailamba commented on #1773
@GanadiniAkshay  any update on your wit.ai npm module?

[2017-02-11 10:02] GanadiniAkshay commented on #1773
@rnjailamba  the one created by @sebsylvester is pretty good...I have been using it. Didn't make another one

[2017-02-11 18:21] sowsan commented on #1473
When I compile the sample it always fail to load the dependency :

"Microsoft.Bot.Connector.AspNetCore": "1.0.0-*", which mentioned in the project.json

https://raw.githubusercontent.com/Microsoft/BotBuilder/master/CSharp/Samples/Microsoft.Bot.Sample.AspNetCore.Echo/project.json

Because of this, not able to call the middleware at startup.js for the bot authentication. Using VS 2015, asp.net core

[2017-02-11 19:23] dhanala89 commented on #1938
When you use localhost you don't need to specify the credentials in the emulator and in the code too. Credentials come to use when you deploy it to Azure.

[2017-02-12 04:56] thstarshine commented on #2164
It would be great to list these example repos on the documentation website (https://docs.botframework.com/en-us/restapi/directline3/) , thanks!

[2017-02-12 08:35] michaelvol opened #2240 "[Facebook Messenger] Channel errors are not delivered to the bot"
Working with messenger channel.
session.send(msg) didnt throw any error but the message never got to the user.

Under dev.botframework.com I can see that the msg was not delivered:
[code]
It's important to get these errors in the bot as one might want to react to that (i.e. flag the user, not send other msgs, reset the state, etc).

Thanks.

[2017-02-12 11:17] cahann commented on #2216
The endpoint v1 will be deprecated in three months.

[2017-02-12 13:38] awarn commented on #1820
What is the way to write this in version 3.5, then? If not using IntentDialogs?

[2017-02-12 15:27] sayyednazeer commented on #2078
@dandriscoll any update or any comment...?

[2017-02-12 16:24] JpEncausse commented on #1730
+1 would be interested if we can know when a message form Messenger has been read

@ykensuke did you find a work around ?

[2017-02-12 18:42] vatervonacht commented on #2147
+1

[2017-02-12 19:21] dandriscoll commented on #2078
We would need to determine whether the issue is in the client, in the network, or within the service.

If you use cURL or another command-line tool to query LUIS, how long does it take?

[code]

[2017-02-12 19:54] pmizel opened #2241 "[Question] need full control about sended text"
need to suppress ressource texts and use own retrytexts in dialogs.

[2017-02-12 20:59] NCZ-10 opened #2243 "[MS Teams Android] CardAction attached to HeroCard Carousel is not working in Teams Android App"
Emulator and Teams Desktop App working fine. When using the android app the button is not clickable ("no imBack action")

`foreach (Models.Meetingtimesuggestion suggestion in graphRespond.MeetingTimeSuggestions)
                {

                    HeroCard meetingSuggesstionCard = new HeroCard()
                    {
                        Title = $"Meetingvorschläge",

[2017-02-12 22:49] wacton commented on #2159
Hi @Andrea-Orimoto ,

Thank you!
I've unpublished and republished the bot.
The bot Id is AppsForOpsBot.

No inconvenience, thanks for the help.

Wayne

[2017-02-13 05:54] sandeepshm commented on #2232
image url works for hero card but why doesn't work for CardAction button.

[2017-02-13 05:54] hclsoultiongroup opened #2244 "Getting message while login ...There was a problem synchronizing your bot to Skype"
Hi ..
I have created a registered a BOT which was working fine till last week. Suddenly i started getting message " There was a problem synchronizing your bot to Skype " when i tried to add the BOT to Skype Client. Things are working perfectly fine on emulator connecting the deployed Web APP. But on both Skype Web and Desktop client BOT is not responding. Not getting any help from Application Insi

[2017-02-13 06:11] PrasadGautham commented on #2223
@areckkimo  even after deploying on azure website, its still slow huh??

[2017-02-13 06:30] arieschwartzman opened #2245 "Is there a problem with WebChat channel - it's VERY slow"

[2017-02-13 07:48] berhir commented on #1473
@sowsan The problem is that the Microsoft.Bot.Connector.AspNetCore library targets netstandard1.6 which is not supported by .NET 4.5 as you can see in the [documentation](https://docs.microsoft.com/en-us/dotnet/articles/standard/library).

@msft-shahins What is the reason why you can't target a lower netstandard version? Because 1.6 is not supported by any version of the full .NET Framework right

[2017-02-13 09:25] weedroid commented on #2237
Hi Dan,

The stack trace in the failed request trace file from the server is below:

[code]

This is the code preceding and including line 74 of MessageController.cs - line 43 is the call into the HandleSystemMessage method. It is used to send a greeting message to the user when they begin a conversation. Line 74 is the ReplyToActivityAsync call:

[code]

Configuring a web chat client with the nec

[2017-02-13 10:46] sayyednazeer commented on #2078
@dandriscoll  i am getting the following timeout 443 message using CURL

![curl timeout](https://cloud.githubusercontent.com/assets/10753866/22880282/9c8ab780-f207-11e6-9b6a-0945259292eb.png)

[2017-02-13 14:03] slidenerd commented on #2197
I improvised a bit by having the session.message.timestamp in the answer. I am assuming this timestamp is the one generated at Facebook or is it generated when the bot framework receives the message. I would like to know the exact duration between the bot sending the message and the user replying to it

[2017-02-13 15:04] Darpesh2904 opened #2246 "Bot not working with Skype and WebChat"
Hi ,

I am very new to this framework so do not have much insights into this. I have configured and hosted my Bot application on local IIS with https protocol on port (443). It works fine via remote emulator but I am unable to get response back when I ping the same Bot application via WebChat or Skype.

Tried reading through a lot of articles but unable to reach to a solution.

Any help would be g

[2017-02-13 15:14] Lugo239 commented on #2058
Hey Cajpearce!

I faced the same problem with the spelling. Despite the fix i am now getting a 500er result. Any hints for fixing the problem?

Greetings Lugo

[2017-02-13 15:40] craigjensen commented on #2194
Our Slack channel strips out the native @mention from the text and replaces it with a mention entity that contains the raw text of the mention.

For example, if ```@testbot Hello``` is sent from Slack the bot should receive a message something like this:

[code]

[2017-02-13 15:53] ajit-drag commented on #1435
Also coming in chrome for me.
Version 56.0.2924.87 (64-bit)

[2017-02-13 17:20] vovanb commented on #2150
@msft-shahins can you please check my reply

[2017-02-13 17:26] dandriscoll commented on #2245
Hi @arieschwartzman, we are actively resolving a service interruption in web chat.

[2017-02-13 17:27] dandriscoll commented on #2244
Hi @hclsoultiongroup, we have a temporary issue where this error appears if you create a bot without an endpoint. In most cases, you can clear the error by assigning an endpoint URL and saving your bot. Does this fix the problem for you?

[2017-02-13 18:23] danmarshall commented on #2246
Your bot application needs to be accessible on the internet, so that the Bot Framework can call your bot's endpoint. Your localhost is not an accessible endpoint. It works in the emulator because the emulator sets up an Ngrok relay for you.

[2017-02-13 18:25] Darpesh2904 commented on #2246
If i host it on a webserver IIS does that work?

[2017-02-13 18:28] danmarshall commented on #2246
The machine that runs IIS should be "in the cloud".

[2017-02-13 18:32] Darpesh2904 commented on #2246
Actually my main requirement is to use it for internal employees whn our team is not available to revert them. This BOT would work as the response from our end to provide solution in our absence. So I want it to be accessible within the intranet only. Is that possible or not?

[2017-02-13 18:45] hailiu2586 commented on #1435
if you can try sign out of https://dev.botframework.com and sign back in, it might clear up your browser side state and unblock you. We will investigating for a code fix in the mean time.

[2017-02-13 18:47] #2115 closed

[2017-02-13 18:48] ajit-drag commented on #1435
I tried open in incognito, it solved my problem but the app id and app secret were gone. So I have to create new app id and secret. Other wise opening in incognito worked for me.

[2017-02-13 18:52] jarmstrongnz commented on #2229
Anyone update on this one? Note that I have previously had this ngrok bot working fine with this facebook connection (with same app credentails etc).. not too sure what has changed since it broke.

this seems to be a similar issue
https://github.com/Microsoft/BotBuilder/issues/2237

[2017-02-13 18:54] ajit-drag opened #2247 "Facebook bot not responding properly."
I am trying Bot builder with Facebook messenger, I created a page and app on facebook. So evrything is working fine for first admin, so I added second person as admin. Whenever second admin sends a message Bot respond with text default_message.
![error](https://cloud.githubusercontent.com/assets/8566666/22898006/ceecce04-f24b-11e6-8557-57b56ad96bd8.png)

While for the first admin it responds with

[2017-02-13 18:59] jsiegmund opened #2248 "Handling dynamic field with 1 option"
Disclaimer: this is not an issue, but a question.

I have managed to create a field which gets its values from a database in a dynamic way. This works, but I want to make the form a bit more intelligent then it is now.

Let's say there are two fields in a form flow dialog: Customer and Project. Now I have an incoming message which is caught by a LUIS intent. I can extract the EntityRecommendation

[2017-02-13 19:01] msft-shahins commented on #2150
@vovanb what is the Microsoft app id for this bot?

[2017-02-13 19:07] danmarshall commented on #2240
Hi @michaelvol have you tried using the [.on](https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.session.html#on) or [.error](https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.session.html#error) methods? It's not the same paradigm as try/throw/catch.

[2017-02-13 19:38] vovanb commented on #2150
You can trace both:

c5ba4797-c17a-43c9-8b60-240e38d86f8f
11792f91-1c3f-47a8-8efd-083870192890

On Mon, Feb 13, 2017 at 9:01 PM, Shahin Shayandeh <notifications@github.com>
wrote:

--
Sincerely,
Vladimir

[2017-02-13 19:41] msft-shahins commented on #1473
@sowsan the sample is using the connector library as a project dependency rather than a nuget dependency. You can use the prereleased nuget instead by just referencing it in your project.json. Below is a sample project.json that consumes the connector library as nuget:

[code]

[2017-02-13 19:49] msft-shahins commented on #1473
@berhir the asp.net core version of the connector library is dependent on `"Microsoft.AspNetCore.Mvc.Core": "1.0.1"` which requires net.standard 1.6. The library still have support for full .net framework. If you look at the nuget package it has assemblies for both net.standard 1.6 and .net 4.5.

[2017-02-13 19:57] vovanb opened #2249 "Unauthorized in test Connection"
Using Microsoft.Bot.Sample.AnnotatedSandwichBot sample
MicrosoftAppId = "256c26bb-d470-4429-83bd-08e9bf21d817"
Always getting Unauthorized response and There was an error sending this message to your bot: HTTP status code Unauthorized on each message
The web.config
`
 <add key="BotId" value="SO.." />
 <add key="MicrosoftAppId" value="256c26bb-d47...9bf21d817" />
 <add key="MicrosoftAppPassword" va

[2017-02-13 21:05] haligasd opened #2250 "[Feature Request] Show Facebook Webview"
https://developers.facebook.com/docs/messenger-platform/messenger-extension

Challenge is would like this embedded in a hero card.  Ideal solution is just to allow extra rendered json via ChannelData at the CardValue level.

[2017-02-13 21:06] dandriscoll commented on #2244
We're also experiencing a problem synchronizing to Skype from some datacenters. We're investigating.

[2017-02-13 21:34] Andrea-Orimoto commented on #2159
Hi @wacton,

your bot has been approved again, let us know if you need anything else.

Closing this issue, feel free to re-open or create a new one if you still have issues.

Thanks
Andrea

[2017-02-13 21:34] #2159 closed

[2017-02-13 21:47] Andrea-Orimoto commented on #930
Animated gifs are now supported (since dec 2016), please check the documentation at https://docs.botframework.com/en-us/skype/getting-started/#cards-and-buttons. Closing this issue as resolved, please let us know if you still have questions. Thanks!

[2017-02-13 21:47] #930 closed

[2017-02-13 21:55] dandriscoll commented on #2244
The synchronization process is back to normal. It will still fail if your bot is missing an endpoint, but it should succeed otherwise.

[2017-02-13 21:55] jameslew commented on #2239
It was recently updated to 80 intents.  Yes, we need to update our documentation; we're a little behind on that front.  Thanks!

[2017-02-13 21:56] #1616 closed

[2017-02-13 21:56] #1636 closed

[2017-02-13 21:56] jameslew commented on #1863
I'm assuming given no updates that this was resolved and closing.

[2017-02-13 21:56] #1863 closed

[2017-02-13 22:15] briangardner commented on #821
@Stevenic Do you have some sample code on how to create a recognizer that sees an attachment?  I'm trying to do this, and can't quite figure it out.

[2017-02-13 23:38] chrimc62 commented on #2086
Closing due to inactivity.  Just to be clear you would need to intercept speech, turn it into text and then forward on to the underlying dialog.  On the return path you would have to use TTS to generate the response.  In C# you would do this on the incoming side by looking for speech and converting to text and then create a new activity to pass into Conversation.SendAsync.  If you want to map on t

[2017-02-13 23:38] #2086 closed

[2017-02-13 23:38] chrimc62 commented on #2100
Closing due to inactivity.  If you still have the issue with the latest bot builder, please reopen.

[2017-02-13 23:38] #2100 closed

[2017-02-13 23:39] chrimc62 commented on #2125
Closing due to inactivity.  If you still have an issue, please reopen.

[2017-02-13 23:39] #2125 closed

[2017-02-14 00:03] cajpearce commented on #2058
Hey @Lugo239, in javascript I went with using direct line 3.0 and the websocket.

POST to https://directline.botframework.com/v3/directline/conversations to start the conversation (with auth + token)

then my success function created a websocket for receiving messages that looks like this
`success: function(direct_line_response) {
        webSocket = new WebSocket(direct_line_response.streamUrl);

[2017-02-14 01:14] msft-shahins commented on #2238
can you check the version of doxygen you are using? We are building the documentation with doxygen 1.8.11 and everything builds cleanly without any failure.

[2017-02-14 01:15] msft-shahins commented on #2235
Here is documentation describing how localization works for botbuilder: https://docs.botframework.com/en-us/csharp/builder/sdkreference/forms.html#localizingSection

[2017-02-14 01:15] #2235 closed

[2017-02-14 01:17] msft-shahins commented on #2215
@chrimc62 can you comment?

[2017-02-14 01:36] danmarshall commented on #2246
No, the Bot Framework Connector will not be able to access behind your firewall.

[2017-02-14 03:12] TzuYangLin opened #2251 "Send feedback message to Skype failed. Response 400 - Failed to decrypt pairwise Id"
Hi.

Yesterday the bot send message back to Skype works all time but today it always response 400 and error message is 'Failed to decrypt pairwise Id'.  What does it mean?

And I note the user id from Skype is different with yesterday.

The APP's ID is "9834cd1e-a7f6-4a88-b999-38d0d8f4e189"

below is the test request;

`apiURL=https://smba.trafficmanager.net/apis/v3/conversations/29%3A11XUHDc-fLT_

[2017-02-14 03:52] mankityau opened #2252 "Documentation discrepancy between the emulator->bot authentication and node-sdk's implementation"
In the documentation ([https://docs.botframework.com/en-us/restapi/authentication/#emulator---bot-steps-1-and-2-download-the-msa-openid-metadata-document](url)) it says the OpenId metadata is "https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration"

But in the node-sdk v3.6, there is this line
`emulatorOpenIdMetadata: 'https://login.microsoftonline.com/botframework.com/v2.0

[2017-02-14 04:24] dandriscoll commented on #2252
Hi @mankityau, thank you for spotting this, the guide is out of date. This document shows the most recent auth parameters: https://docs.botframework.com/en-us/restapi/authentication/#changes

[2017-02-14 04:36] dandriscoll commented on #2252
I've updated the docs. Please at-mention or open a new issue if you'd like to discuss further.

[2017-02-14 04:36] #2252 closed

[2017-02-14 05:00] sowsan opened #2253 "Sample for multiple bots talking at the same end point using C#"
Hello Team -

Are there any eg: on using same end point to talk to multiple end points ? There is one node.js eg: here

https://www.microsoft.com/developerblog/real-life-code/2017/01/10/Multiple-Bots-Service.html

Have tried using both ASP.NET core and traditional MVC model which is coming with the VS template by creating a new implementation of ICredentialProvider by overriding it from Microsoft.

[2017-02-14 05:05] Andrea-Orimoto commented on #1850
Detailed bot review guidelines are documented here https://docs.botframework.com/en-us/directory/review-guidelines/. This includes some explanation of the required privacy and terms documents.

I believe our review team has cleared the review backlog, and there should be no pending bot older than two weeks in the queue. If anybody has an older submission stuck in review, please open a new issue sp

[2017-02-14 05:05] #1850 closed

[2017-02-14 05:07] Andrea-Orimoto commented on #1863
I confirm that this bot was approved on 1/10/2017.

[2017-02-14 06:12] slidenerd commented on #1837
I guess I am the second person facing the same issue

[2017-02-14 06:21] angsm commented on #2192
I intent to create a bot framework based service that when called, can either answer or forward the call to another agent with relevant information if it does not have the answer.

If a number can be attached to the skype bot, it can be used as a frontline point of contact.

[2017-02-14 06:59] ooclleeke opened #2254 "How can I use bot framework to add participant in a Skype conversation?"
I have a use case to add a Skype account to the conversation, when the bot cannot handle customer request.

Scenario 1:
Step 1. Customer(Skype) send a request to bot.
Step 2. Bot cannot handle it.
Step 3. Add an internal user(Skype) to the conversation and promote the 1:1 conversation to group conversation.

But I cannot find any function to add a participant.

I try to use the "CreateConversation

[2017-02-14 07:48] Lugo239 commented on #2058
Hey cajpearce thanks for the fast reply!

I want to use direct line 3.0 and the websocket in my android application.

I. CHECK I start the conversation with Authorization posting to "https://directline.botframework.com/v3/directline/conversations". The result is 201 with the Streamurl "wss://...." .
II. CHECK Creating a WebSocketClient with the streamURL as input. Server handshake 101.
III. FAILUR

[2017-02-14 10:34] mukeshzt opened #2255 "CarouselCards issue with attachmentLayout.carousel"
Below code only show the hero card listing but not the attachmentLayout.carousel.
[code]
If you review my code. I commented
`//.attachmentLayout(builder.AttachmentLayout.carousel)`

If you remove the comment of this line below error received in bot node

[code]

[2017-02-14 10:38] JPThorne commented on #2201
Hi @dandriscoll we are unfortunately still seeing these timeouts to the directline endpoint. It seems quite stable in the morning on our side, but then come midday the frequency of the errors increase. Our appinsights logging is indicating that calls to directline timed out after 15s.

Is there any way you can provide us with an indication of a time frame around these fixes?

[2017-02-14 10:48] Lugo239 commented on #2058
Thanks cajpearce and dandriscoll for this thread.

Problem solved! My added properties were wrong. Thanks a lot!

[2017-02-14 11:39] KIBASSA opened #2256 "How can see all exception on dev.botframework.com"
Hi,
I shall like knowing how I can make to have all stack of the error that sends back by bot.
At the moment I have for global error:
There was an error sending this message to your bot: HTTP status code InternalServerError

![image](https://cloud.githubusercontent.com/assets/8443316/22926645/d28690c4-f2ad-11e6-8824-2820afa7d156.png)

In my controller (ApiController), in the method Post, I did one

[2017-02-14 12:05] mukeshzt commented on #2255
One of the CarouselCards Example [BotBuilder-Samples](https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/cards-CarouselCards) there is one note is mention.

Note: At the time of writing this sample, there is a limit on the amount of cards that can be stacked in a carousel. For Facebook, attachments carousel is mapped to the Generic Template which has a limit of 10 elements. For Skype

[2017-02-14 12:09] singhsurya opened #2257 "Can we send mail from BOT to some mail id?"
Hi,

We want to send mail from BOT to some email id (say abc@gmail.com). Is it possible with BOT? If yes, please let us know the way. Thanks

[2017-02-14 12:12] aakashvit commented on #2255
@mukeshzt  can we use CarouselCards in Slack??

[2017-02-14 12:47] aakashvit commented on #2073
thanks! working like charm

[2017-02-14 14:25] JamesSkladnowski opened #2258 "Conversation.SendAsync Authentication using custom multi-tenant authentication (Bot Builder 3.5.2)"
I am in the process of creating several different bots that will tie into Facebook Messager.   Each of these bots will have the potential to have 10-100 different Facebook pages connected to them.  This project was originally a POC, created on 3.0.0, that escalated into something much more very rapidly.

So far I have upgraded to 3.5.2, and fully implemented my own BotCredentialProvider from the I

[2017-02-14 14:43] aakashvit opened #2259 "About new session creation and session expire condition"
when new session create.Ho long session not expire?
is session create every time when user connect from bot?
How we can expire to session?
how we can reset to conversation state according to need?

[2017-02-14 15:07] pvagare commented on #2204
Hi @danmarshall  I watched one Microsoft event video. In that video I saw that one user is talking chabot on skype and automatically in that conversation other chatbot introduced . suddenly second chatot started giving reply to one user in same conversation.

Who introduced the second chatbot into the conversation ? can you help me to sort out? Or Is skype bringing second chatbot into conversation

[2017-02-14 15:41] picatextra commented on #1505
It happened for me when setup webhook after credentials

[2017-02-14 16:05] gwtallan opened #2260 "[Feature Request] Facebook Message Echo Callback Support (Bot Builder 3.5.2)"
I would like my bot messaging endpoint to receive messages that are sent to the Facebook user from the Facebook Page.  It looks like Facebook supports this behavior with the Message Echo Callback. (https://developers.facebook.com/docs/messenger-platform/webhook-reference/message-echo).  I set this callback up in the Facebook app that the bot is using but I still do not receive those messages. Just

[2017-02-14 17:06] dandriscoll commented on #2201
Yes, we're verifying a fix and hope to have it in production today.

[2017-02-14 17:10] slidenerd opened #2261 "IntentDialog matches only once at the start"
I have a simple piece of code where I want to run a first run operation in the beginning and let the default dialog handle everything else. In the code below.

[code]
My problem is right here. When the person types exclusive I believe the default dialog will run its matches and should ideally trigger exclusive no matter how many times but for some reason its not happening that way as per the scree

[2017-02-14 18:10] Darpesh2904 commented on #2246
Thanks Dan that worked.

Any other way to host the BOT other than AZURE?

[2017-02-14 18:22] bmperrea commented on #1949
Hi people, I played around a bunch to get a workaround.

**The problem:** Basically, the emoji comes back wrong, as mentioned by @gilesbutler gilesbutler, and is counted two characters. Then the answer is only accepted if the best match is above the default threshold of 0.6 [correct characters divided by total]. Not to mention spaces are alway counted as incorrect.

Before getting into the workaro

[2017-02-14 18:27] NCZ-10 commented on #2243
I checked the Bot with iOS App and the buttton works proper. Seems there is a bug in the Android App.

[2017-02-14 18:28] sowsan commented on #2253
issue ##2163 linked to the same..

[2017-02-14 18:44] danmarshall commented on #2246
Yes, of course. You can host your bot anywhere you like.

[2017-02-14 18:47] Darpesh2904 commented on #2246
Means it has to on cloud only?

any examples?

[2017-02-14 18:55] Andrea-Orimoto commented on #1815
Hi @euanlau,
are you still experiencing this issue?

[2017-02-14 18:58] Andrea-Orimoto commented on #1786
I'm assuming @rihamma's answer helped answer the question, so I'm closing this issue.
@Lee-William feel free to reopen if this is not the case.
thanks!

[2017-02-14 18:58] #1786 closed

[2017-02-14 18:59] Andrea-Orimoto commented on #1899
@khaueviana, were you able to figure this out? Can this issue be closed?
thanks!

[2017-02-14 19:00] msft-shahins commented on #2257
you can either use email channel to have your bot receiving emails and replying to emails or use one of the programmatic email delivery services, e.g. [sendgrid](https://sendgrid.com) if you only want to send email to an email address from your bot.

[2017-02-14 19:00] #2257 closed

[2017-02-14 19:01] Andrea-Orimoto commented on #1906
Hi @AraHaan, we've added this to our backlog for future consideration. Thanks!

[2017-02-14 19:01] #1906 closed

[2017-02-14 19:05] msft-shahins commented on #2255
CarouselCards are displayed as list of cards in slack. You can look at channel inspector for different capabilities in different channels: https://docs.botframework.com/en-us/channel-inspector/channels/Slack/#navtitle

[2017-02-14 19:05] Andrea-Orimoto commented on #1880
@michhar, I'm assuming @pchoudhari's answer helped you out mitigating the issue, so I'm closing this as resolved. Please feel free to reopen it if this is not the case. Thanks!

[2017-02-14 19:05] #1880 closed

[2017-02-14 19:07] danmarshall commented on #2246
As long as your bot has an HTTP endpoint that is accessible to the internet.

There are many ways to put your bot's endpoint on the internet. Cloud Hosting is a service that will host your code for you and manage the scalability and availability. Good examples are Azure, Amazon Web Service, Heroku.

You can also have your own computer exposed to the internet, using something like Ngrok (this is wh

[2017-02-14 19:08] #2246 closed

[2017-02-14 19:14] Andrea-Orimoto commented on #1759
@tpernice, are you still experiencing this issue? if yes, can you send your bot id?

[2017-02-14 19:18] Andrea-Orimoto commented on #2027
Hi @chetanmekha, I'm assuming @dandriscoll's answer helped you out, so I'm closing this issue. Feel free to reopen it if this is not the case. Thanks!

[2017-02-14 19:18] #2027 closed

[2017-02-14 19:19] danmarshall commented on #2204
Can you provide a link to the video? A scenario like this can become somewhat complex.

Does the user get "transferred" to a new bot and begin a new conversation? Or are all bots in a group conversation? If so, which bot responds to which messages.

 It also depends on which channel you are on, based on that channel's capabilities. I would imagine that what you've seen was a custom engineered scen

[2017-02-14 19:31] Andrea-Orimoto commented on #2031
@piffarettig, I'm assuming @Lipa9963's comment helped you out, so I'm closing this. Feel free to reopen it if this is not the case. Thanks!

[2017-02-14 19:31] #2031 closed

[2017-02-14 19:34] Andrea-Orimoto commented on #2061
Hi @deniztasdogen , did the related issue pointed above helped you out?

[2017-02-14 19:35] Andrea-Orimoto commented on #2013
Hi @alokraj68, were you able to figure this out?

[2017-02-14 19:37] Andrea-Orimoto commented on #2063
Hi @suvamsh, were you able to figure this out?

[2017-02-14 19:38] Andrea-Orimoto commented on #2053
Hi @hahamark1, I'm assuming the sample above helped you out, so I'm closing this issue. Feel free to reopen it if this is not the case. Thanks!

[2017-02-14 19:38] #2053 closed

[2017-02-14 19:42] Andrea-Orimoto commented on #2042
I'm assuming this was dealt with in a separate email thread, so I'm closing this issue. Do reopen this if you're still experiencing the issue. Thanks!

[2017-02-14 19:42] #2042 closed

[2017-02-14 19:44] Andrea-Orimoto commented on #2072
Hi @0GiS0, did the sample above help you out?

[2017-02-14 19:45] Andrea-Orimoto commented on #2022
Hi @ishandutta2007, @suvamsh, was this solved?

[2017-02-14 19:47] Andrea-Orimoto commented on #2060
@alokraj68, I'm closing this issue due to inactivity, please let us know if you still need help. Thanks!

[2017-02-14 19:47] #2060 closed

[2017-02-14 20:23] lgmorand commented on #1698
@BKbhavu please look [here](https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/demo-ContosoFlowers )
there is a localization chapter in C#

[2017-02-14 20:24] cahann commented on #2228
We are working on an enhanced version of datetime pre-built entity that should be released next month

[2017-02-14 20:25] ajit-drag commented on #2247
Problem wasn't with messenger bot, but with the bot builder nodeJS code.
As I have written prompt for a number input but was giving a text input so it was throwing an error which was labelled as "default_number" as I haven't provided any proper error handling mechanism.

[2017-02-14 20:25] #2247 closed

[2017-02-14 21:38] jameslew commented on #2089
Closing due to no response.  Feel free to create a new issue as appropriate if you're still experiencing the problem.

[2017-02-14 21:38] #2089 closed

[2017-02-14 21:40] jameslew commented on #2095
We haven't seen anything on this in two weeks so I'm closing.  Please let us know if you're still having the problem.

[2017-02-14 21:40] #2095 closed

[2017-02-14 21:44] #2239 closed

[2017-02-14 21:55] Andrea-Orimoto commented on #2069
@palmerabollo, please go ahead and submit the PR if you have this coded already. Will close this issue, we'll deal with this in the PR. Thanks!

[2017-02-14 21:55] #2069 closed

[2017-02-14 22:44] Andrea-Orimoto commented on #2014
@alokraj68 , @g4mb10r , still having this issue?

[2017-02-14 22:47] Andrea-Orimoto commented on #1989
closing due to inactivity, feel free to reopen if you're still experiencing the issue. Thanks!

[2017-02-14 22:47] #1989 closed

[2017-02-14 22:48] Andrea-Orimoto commented on #1994
@b4usat did the above answer your question?

[2017-02-14 22:54] Andrea-Orimoto commented on #2098
@AnandChitale, were you able to figure this out?

[2017-02-14 22:55] Andrea-Orimoto commented on #2166
Assuming @willportnoy's reply answered the question, if not feel free to reopen the issue. Thanks!

[2017-02-14 22:55] #2166 closed

[2017-02-14 23:04] Andrea-Orimoto commented on #2189
hi @sayyednazeer, as @dandriscoll says we're working on a fix, should be deployed soon. if you're still stuck, try signing out and then signing back in. it should fix it.

[2017-02-15 00:52] Andrea-Orimoto commented on #2084
hi @hardsky, you can go to [this folder](https://github.com/Microsoft/BotBuilder/tree/master/Node/core/lib/locale), create an "ru" subfolder copying the content from the "en" folder, translate the strings, and then submit a [pull request](https://help.github.com/articles/creating-a-pull-request/). Closing this issue for now, looking forward to your PR. Thanks!

[2017-02-15 00:52] #2084 closed

[2017-02-15 00:59] suvamsh commented on #2022
@Andrea-Orimoto yup this was solved for me!

[2017-02-15 01:02] Andrea-Orimoto commented on #2022
Great to hear! Closing this issue, feel free to reopen if needed. Thanks!

[2017-02-15 01:02] #2022 closed

[2017-02-15 03:28] slidenerd commented on #2233
There's some code to work with emojis
[code]

[2017-02-15 03:41] slidenerd commented on #2261
I think I managed to get it to work. I did not end the default dialog. Thank you for your assistance but just 1 small question. When moving from the first run to the default dialog, what is the best way to call it? replaceDialog or a combination of endDialog and beginDialog

[2017-02-15 03:41] #2261 closed

[2017-02-15 04:07] BKbhavu commented on #1698
Hey there!!! Let's say,I am not using form flow then how can i do it?

On Wed, Feb 15, 2017 at 1:53 AM, Louis-Guillaume MORAND <
notifications@github.com> wrote:

[2017-02-15 04:12] TzuYangLin commented on #2251
It's works today...The code does no any change.

[2017-02-15 04:45] aakashvit commented on #2255
Thank You so much :)

[2017-02-15 05:02] camer314 opened #2262 "LUIS recognizes 'a' as a number"
As per title why does LUIS return 'a' as a builtin.number?

"originalQuery": "it's a 2015 model"

  "entities": {
    "builtin.number": [
      {
        "resolution": {
          "value": "1"
        },
        "name": "builtin.number",
        "value": "a",
        "score": -1.0,
        "startIndex": 5,
        "endIndex": 5
      },
      {
        "resolution": {
          "value": "2015"

[2017-02-15 05:30] sayyednazeer opened #2263 "Response status code does not indicate success 401 Access Denied"
I am getting the following error on this line

  `await Conversation.SendAsync(activity, () => new MyDialog());`

[2017-02-15 05:49] hclsoultiongroup commented on #2244
Thanks for reverting....Issue got resolved now. I just saved the BOT again with some changes in description and it works.

[2017-02-15 06:30] BKbhavu commented on #1890
I am not able to use FromProperty....how can i include that?

[2017-02-15 08:08] AbhishekDutt opened #2264 "[Feature Request] Anyway to get custom objects/string from Prompts.choice response instead of text?"
Yo, currently response of Prompts.choice is always the button text that the user clicks.

However it would be very useful if along with the button text we can also get some custom metadata which can be used to identify the button's context.

This is especially useful for non-facebook channels where the quick reply buttons do not go away and user can scroll back and click on an old button. If the o

[2017-02-15 08:30] AnandChitale commented on #2098
No still facing the same issue.. Bot does not greet when web chat link in opened in any browser. only when user say hi , Bot greets..

[2017-02-15 08:40] jsiegmund commented on #1956
Here's a simple repo that has the same issue: https://github.com/jsiegmund/repsaj-bot-repro. The call dialog will never get beyond the first question, it's like a groundhog day dialog :)

[2017-02-15 10:18] richarjain opened #2265 "[Direct Line] Microsoft BoT Direct Line response is null"
@dandriscoll  @

I have created one bot application and hosted on azure. I have not done any code in bot application, just default it returns number of letters entered.
I am calling bot application from mvc application but always i am getting null chat response and chat message

It is working fine in skype channel and tested. but for direct line i am not getting any response.

Below is my code for

[2017-02-15 11:28] b4usat commented on #1994
@Andrea-Orimoto To answer you 'No'. In  our case we are using webchat control which is hosted in our server not the direct url from MS. And so we are setting the user id as params to the webchat url. But unfortunately am not able to retrieve the same id from Activity class in `ConversationUpdate `event. Instead i was getting an auto-gen id. In the same case i can retrieve the user id in the `Activ

[2017-02-15 11:29] kkarahainko commented on #1983
@eanders-MS any updates?

[2017-02-15 11:42] vovanb commented on #2150
@willportnoy @chrimc62 @msft-shahins @craigjensen
guys any feedback? To my undersatnding it is bug in Facebook connect which affect all customer using choice prompt. So all existing bots broken....

[2017-02-15 12:07] ancashoria commented on #2105
I'm really interested in the solution too. Any ideas?

[2017-02-15 12:35] lonche commented on #1531
Hey. Any news about this ?

[2017-02-15 13:54] vovanb commented on #2203
@Andrea-Orimoto
I am interesting also when you will move to GA. In addition the response time on opened issue should be improved. We are waiting on some of items weeks, and sometime it is showstopper.
Thanks

[2017-02-15 14:25] bimaldave opened #2266 "Unauthorized 401 Error"
Hi All,

My bot was working perfectly this morning and all of a sudden I started to get this error:

There was an error sending this message to your bot: HTTP status code Unauthorized

I've checked all of the application settings and they have not changed so confused why this is happening all of a sudden? It is SSL encrypted too.

If I run through the emulator it works fine using ngrok. So it look

[2017-02-15 15:10] angsm opened #2267 "Audio playback in Skype call from local resources"
Hi,
I saw that prompt was able to handle playback of audio files like wave / wma, but only in http form which needs to be hosted on a site where the extension is exposed.

Would it be possible to playback a local file, maybe on an azure server? Or is there some other method to playback audio through the bot?

Thank you.

[2017-02-15 15:15] simonwjackson commented on #2264
It would also be great to send a "metadata only" message

[2017-02-15 15:28] gilesbutler commented on #1949
Thanks for the workaround @bmperrea - it would definitely be nicer to get a proper fix for this though, interested to hear what the MS guys think

[2017-02-15 17:24] SkyQuant commented on #2198
**lonche**, could you describe fully your solution of serialization/deserialization activity for persisting in database? May be as different project on Github with activities extension method realization.

[2017-02-15 18:03] kureikain commented on #2025
Hi @dandriscoll Sorry for commenting on an old issue? My bot is working fine in Webchat, Emulator and Slack but not on Kik. Is there an issue or maybe I'm doing something wrong?

[2017-02-15 18:17] dandriscoll commented on #2078
I believe that is the issue. Do you have a firewall or proxy blocking access to api.projectoxford.ai?

Also, LUIS is moving to new hostnames soon, so be sure to unblock access to *.api.cognitive.microsoft.com, as well. By default your LUIS model is moved to westus.api.cognitive.microsoft.com but it could be in other datacenters depending on your LUIS subscription.

[2017-02-15 18:31] msft-shahins commented on #2238
Closing this since it is not an issue that we can reproduce and documentation build is not broken. Feel free to comment or open another issue if you still have the problem.

[2017-02-15 18:31] #2238 closed

[2017-02-15 18:39] msft-shahins commented on #2150
@vovanb we have a fix for the facebook channel addressing this issue. It is being verified and tested now. We should have a deployment to production in the coming days.

[2017-02-15 18:41] msft-shahins commented on #2266
@bimaldave can you share Microsoft App Id for your bot?

[2017-02-15 18:43] msft-shahins commented on #2263
you can follow this guide to troubleshoot your authentication issues: https://docs.botframework.com/en-us/support/troubleshooting-bot-framework-authentication/

[2017-02-15 18:43] #2263 closed

[2017-02-15 18:43] bimaldave commented on #2266
Hi its: d0e03a8e-84cd-4b47-b097-b60aec2e84a6

[2017-02-15 18:57] eanders-MS commented on #2098
@AnandChitale Your screenshot above shows the old WebChat control. Are you using, or have you tried using, the new Web Chat control? You must opt in to it on the WebChat channel's config page.

It might be that ConversationUpdate messages are not working in the old control. I will look into this, but in the meantime you might try using the new WebChat. It has better support for more media types an

[2017-02-15 19:00] kureikain opened #2268 "Kik suddenly stop working"
Since yesterday, suddenly Kik bot stop working on my bot. Since then I tried lots of thing, even delete old kik bot, create a new kik bot and add channel to my bot.

Slack, Webchat and Emulator work properly. I can see the kik message hit my local ngrok and even try to attach debugger to node code(botbuilder inside node_modules to check) but everything seems fine. The message can be received, deco

[2017-02-15 19:05] msft-shahins commented on #2266
Looking at traces seems that your bot is returning 401 when connector services call into it. Have you changed Microsoft app password for your bot recently? You can follow this troubleshooting guide to diagnose your authentication issues: https://docs.botframework.com/en-us/support/troubleshooting-bot-framework-authentication/

[2017-02-15 19:14] vovanb commented on #2150
@msft-shahins Wow good news, please update when it will be ready?

[2017-02-15 19:20] gEndelf commented on #2174
Guys @danmarshall @msft-shahins! We still need help. thx

[2017-02-15 19:25] bimaldave commented on #2266
Hi no I haven't changed it. Also using the same app ID and password via the emulator is working fine so pretty sure that's not the problem. I've also tried creating a second bot app and app id as a test and that throws the same error so I'm wondering how I can find out what is causing this authorisation error. What exactly happens when the call is made to the end point.

[2017-02-15 19:27] bimaldave commented on #2266
One other thing - if I remove the app ID and password from the web.config and then just hit the test button I get a success message which is odd. Obviously the bot doesn't respond to requests but something funky is happening. Any ideas I'm stumped?!

[2017-02-15 19:37] msft-shahins commented on #2266
@bimaldave what version of bot builder are you using for your bot? When you remove the MicrosoftAppId and MicrosoftAppPassword, it means that you are disabling BotAuthentication for your bot and the incoming request will succeed. That is the reason that you are seeing success in the dev portal.

[2017-02-15 19:38] willportnoy commented on #2226
The Bot State Service is pretty trivial, once you have a "linked account" or unique identity for a user across channels.  I don't know of plans for an account linking service, but you can use any number of storage solutions to store a data bag given the user's unique identity.

[2017-02-15 19:48] bimaldave commented on #2266
I'm using version 3.2. If there was a problem with the app password wouldn't the emulator also fail? That's working.

[2017-02-15 19:49] SkyQuant commented on #2198
_ResumptionCookie_ solution with GZipSerialize method quite simple.
Look at this post [http://robinosborne.co.uk/2017/01/02/sending-proactive-botframework-messages/](url)

[2017-02-15 19:58] msft-shahins commented on #2266
It shouldn't be related to app password. App password is used to generate tokens for outbound request from bot.

[2017-02-15 20:05] michaelvol commented on #2240
Thanks @danmarshall
No, haven't tried it yet. Could you please point to a documentation page or an example?
Should I apply these on bot or session objects?
Thanks.

[2017-02-15 20:09] dandriscoll commented on #2266
Hi @bimaldave, we've taken a look and there's nothing obviously wrong from our side. Here are some potential problems that could cause your bot to reject the token sent by our service:

1) Your web.config file contains an App ID that does not match the one you posted. You said you checked this so it's probably not the issue.
2) Your server's time is incorrect. Our tokens have 20 minutes of validit

[2017-02-15 20:30] srozga commented on #2226
yep, no problem there. we currently utilize doc db for this. figured if you guys did that work, we'd use your abstractions. but seems we might keep ours around. thanks.

[2017-02-15 20:30] #2226 closed

[2017-02-15 20:50] danmarshall commented on #1968
Hello @RasheedSiriyala do you still see this issue in the latest release?

[2017-02-15 21:03] Andrea-Orimoto commented on #1843
Hi @alokraj68,

here's a possible way of doing what you want:

* **Azure Bot Service bot**: the bot needs to ask the user if they want to receive the notification. Upon acceptance you need to write the needed user information in some storage (e.g. Azure Table Storage)
* **TimerTrigger Azure Function**: This needs to be a [timer trigger function](https://docs.microsoft.com/en-us/azure/azure-functio

[2017-02-15 21:16] brharr opened #2269 "Error when saving response to session.dialogData"
I am writing a very simple Waterfall Bot and for now am just using the Console Connector until I can make sure that everything flows the way that I want it. I want to store all the responses to each question in the dialogData object and then I am going to save that data off to DocDB using a REST API that I already have deployed. However, when I try to use the following function in my waterfall arr

[2017-02-15 21:20] soloveyalex opened #2270 "[Skype Channel] Notification about group call"
Hi

I know that Bots do support voice calling in 1:1 mode only.

However, Is it possible for Bot to catch a notification that GROUP call is started\finished?

In other words, the Bot should not participate in group call but rather should record the time the call was started/finished. Is that possible?

Regards,
Al

[2017-02-15 23:41] danmarshall commented on #2240
https://github.com/Microsoft/BotBuilder-Samples/blob/master/Node/core-MultiDialogs/README.md#handling-dialog-errors

[2017-02-15 23:50] mb19 opened #2271 "Restarting bot if user waits too long before sending reply"
I'm working on a bot in Node.js for Microsoft Teams and I would like it to restart from the beginning dialog if a user attempts to reply to it after being idle for too long, regardless of where they are in any dialog.

I'm able to successfully begin a new dialog at the welcome message endpoint I have implemented as follows, where bot is an instance of UniversalBot:

[code]

This will successfully

[2017-02-16 01:50] josephktcheung opened #2272 "https://state.botframework.com/v3/botstate/facebook/conversations failed: [400] Bad Request"
Does anyone know why one of my user's conversation gets `https://state.botframework.com/v3/botstate/facebook/conversations failed: [400] Bad Request`? I'm using node.js SDK, thanks.

[2017-02-16 03:21] AraHaan commented on #1906
yw

[2017-02-16 03:57] davidwengier opened #2273 "[Feature Request] Support threads on Slack Channel"
When a message is received in a thread in a slack channel, a reply using CreateReply is sent to the channel, but not to the thread. The thread_ts identifier from Slack is correctly in the ChannelData, so can be mirrored back to enable threading using a custom reply, however that means crafting the entire Slack message custom reply.

It would be nice if there was a way to augment the reply that wil

[2017-02-16 04:12] sayyednazeer commented on #2263
@msft-shahins  it was working fine before 2 days i have not done any changes in my code and web.config.
Even it is not working on my local emulator also.

[2017-02-16 04:17] sayyednazeer commented on #2263
Stack Trace...

`   at System.Net.Http.HttpResponseMessage.EnsureSuccessStatusCode()
   at Microsoft.Bot.Builder.Luis.LuisService.<Microsoft-Bot-Builder-Luis-ILuisService-QueryAsync>d__3.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwa

[2017-02-16 05:14] sayyednazeer commented on #2078
@dandriscoll  we don't have firewall and proxy on the system where i have deployed my bot.

Even i get the same error when i run the CURL command  from my personal laptop.

[2017-02-16 05:27] aekynr commented on #2174
@gEndelf let me explain how i deal with this issue.

**open:** node_modules/botbuilder/lib/dialogs/DialogAction.js
**change** this line;
`valid = validator(r.response);`
with the following one;
`valid = validator(r.response, s.dialogData);`

then you can use session.beginDialog function as follows;

[code]

and then, you can use that variables inside of validators' file as follows;

[code]

Until

[2017-02-16 05:29] MrOnyancha commented on #1207
This issue is not yet resolved
![screen shot 2017-02-16 at 12 26 18 am](https://cloud.githubusercontent.com/assets/5436153/23008597/accd31ba-f421-11e6-86c1-00dcc2abe807.png)
It's actually showing that this is to  be coming screens but thus not the case. Instead of this
![screen shot 2017-02-16 at 12 26 26 am](https://cloud.githubusercontent.com/assets/5436153/23008598/accd66bc-f421-11e6-9c1d-e3d17

[2017-02-16 05:32] MrOnyancha opened #2274 "[Facebook Channel] Normal Button Instead of account_link for FB Messenger"
This issue is not yet resolved
![screen shot 2017-02-16 at 12 26 18 am](https://cloud.githubusercontent.com/assets/5436153/23008597/accd31ba-f421-11e6-86c1-00dcc2abe807.png)
It's actually showing that this is to  be coming screens but thus not the case. Instead of this
![screen shot 2017-02-16 at 12 26 26 am](https://cloud.githubusercontent.com/assets/5436153/23008598/accd66bc-f421-11e6-9c1d-e3d17

[2017-02-16 05:44] gEndelf commented on #2174
@aekynr thx man! it's easy and works )

[2017-02-16 06:07] msft-shahins commented on #2263
Based on the stack trace that you have pasted it seems that bot's calls to LuisService are failing: at `System.Net.Http.HttpResponseMessage.EnsureSuccessStatusCode() at Microsoft.Bot.Builder.Luis.LuisService.`

It would be good if you can debug your service and see what is the code returned by Luis. It might be that your subscription ran out of its quota or your subscription id/model id are wrong.

[2017-02-16 06:11] Viper702 opened #2275 "Connecting Hubot With AI Module"
I have a hubot that has an AI module installed. I want it to respond to the Framework with it's own responses. Can you point me in the right direction on how to do this?

[2017-02-16 06:40] AlavudeenRafiq commented on #2201
Hi @dandriscoll,
Still, I am facing the issue(502 bad gateway error). Have you made a fix for that issue?

[2017-02-16 07:20] Andrea-Orimoto commented on #2256
hi @KIBASSA,

you can add your instrumentation key (Azure App Insights Key) to your bot in the Developer Portal. Open your bot in the dev portal, click on edit in the details panel, and scroll down to the admin section. Paste your App Insights key in the appropriate textbox.

![image](https://cloud.githubusercontent.com/assets/17152540/23011315/2cb7466a-f3d5-11e6-8231-3a42ac8be1ef.png)

Does this

[2017-02-16 07:35] mukeshzt commented on #2255
Answer for my above error is " For Skype, there's also a limit of 10 elements in the carousel."

[2017-02-16 07:35] #2255 closed

[2017-02-16 07:49] AnandChitale commented on #2098
Yes the ConversationUpdate messages are not working in my case for web chat neither in directline.

[2017-02-16 09:19] bimaldave commented on #2266
Hi @dandriscoll,

Thanks very much for your tips. After checking the server time I could see it was about 5 mins behind - after correcting this it seems to be back in action. Many thanks for your and @msft-shahins help, much appreciated!

[2017-02-16 09:19] #2266 closed

[2017-02-16 12:06] gjayakumar92 commented on #2217
@dandriscoll i have hosted my bot application. i need to connect my bot without using directline api. can you tell me is there anyway? i mean is there anyway to create custom emulator?

[2017-02-16 12:29] GhostAtom commented on #2223
I fixed my issue by re-deploying the app.
Thanks for the telemetry tips.

[2017-02-16 12:29] #2223 closed

[2017-02-16 12:30] ancashoria opened #2276 "How to change default messages from BotBuilder.json?"
Hi, is it possible to cleanly change the messages from
https://github.com/Microsoft/BotBuilder/blob/d176385615934d9aedd03d26d27d0b65235174df/Node/core/src/locale/en/BotBuilder.json ?

Thanks

[2017-02-16 12:54] Rina1Patel commented on #1549
i m using direct line dll 1.0.2 and gettiog error when
 await client.Conversations.PostMessageAsync(conversation.ConversationId, message); this line executes gives error
		Message	"Operation returned an invalid status code 'InternalServerError'"	string

[2017-02-16 13:08] ankitbko opened #2277 "[C#] Exception when trying to update Autofac Registration"
With container.Update being obsolete, the next possible workaround is to [Add Registrations to Child Scopes](https://github.com/autofac/Autofac/issues/811). However I am facing a very weird issue using it.
I am getting the following exception -
[code]
Repo - https://github.com/ankitbko/bot-issue-autofac

Steps to reproduce -

1. Enter correct MicrosoftAppId and MicrosoftAppPassword in App.config.

[2017-02-16 13:55] Mob4 commented on #2161
i'm having the same issue and it' really **hard to debug** .

[2017-02-16 14:01] pvagare opened #2278 "Automate the LUIS model training using custom algorithm"
Can I customize the classification & clustering using my own analytics algorithm for LUIS model training ?
reason I asked question because, today I have to manually lookup the LUIS utterances and train the intent according. If so I have 10K message every day. It would be extremely tedious procedure to do training the model ?

[2017-02-16 14:21] pvagare opened #2279 "Single SignOn for multiple chatbot."
Is there inbuilt support for Single SignOn in the chatbot framework if I have multiple chatbots and many people were using the chatbots?

[2017-02-16 14:24] pvagare opened #2280 "Support for OAuth in bot framework?"
Is there inbuilt support for OAuth in Microsoft chatbot framework? How should authenticate the my own business users ?

[2017-02-16 14:25] pvagare opened #2281 "Support for Active Directory integration"
Is there inbuilt support for Active Directory integration in the bot framework ? If not then How to do the custom Active Directory integration in chatbot framework

[2017-02-16 14:26] pvagare opened #2282 "Support for authorization in the bot framework"
Is there inbuilt support for authorization in the bot framework ? If not then How to do the custom authorization in chatbot framework

[2017-02-16 14:27] pvagare opened #2283 "Support for Role based Access control (RBAC) in bot framework"
Is there inbuilt support for Role based Access control (RBAC) in bot framework ? (internal stakeholders , external stakeholders,anonymous)

[2017-02-16 14:53] stelazh opened #2284 "How to call formflow after i choose a button from quick reply"
I want to call formflow or a dialog in my bot framework after the user choose a button from quick reply for example ...if choose NY to call formflow/dialog.

I try to use this code : `if (message.Text == Resources.RootDialog_Welcome_StartNow)
        {

             var promptOptions = new PromptOptions<string (
                 "Please select the city where you want to park:",
                 op

[2017-02-16 15:04] lonche commented on #2198
You have posted invalid link. It shows error 404.
Actually, the solution i used is casting context.activity as an object of activity class.

[2017-02-16 15:12] ankitbko commented on #2280
You may checkout [Simple Facebook Auth Bot](https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Samples/SimpleFacebookAuthBot) sample for OAuth implementation.

[2017-02-16 15:45] gEndelf commented on #1217
+1

[2017-02-16 15:54] gEndelf commented on #2174
@aekynr but how it can be used on production?

[2017-02-16 16:24] berhir commented on #1473
@msft-shahins I checked again but I can't find a way to get the asp.net core version running on .net 4.5. The assembly that targets .net 4.5 is for Web Api and not for asp.net core.

From what I see you support asp.net core only on .net core. But we use asp.net core with .net 4.5. I guess you will have to create a second nuget package for the asp.net core version. The existing nuget package is for

[2017-02-16 18:35] ykensuke commented on #1395
@dandriscoll Does the new feature has been officially released?

[2017-02-16 18:43] ykensuke commented on #1730
@JpEncausse No I haven't yet. Message echo is the similar issue, but MS haven't reacted anything about it. https://github.com/Microsoft/BotBuilder/issues/2260

[2017-02-16 19:13] bmperrea opened #2285 "facebook referral params"
A newer feature of the facebook send api is to have referral parameters that can help qualify a user when they arrive at the bot. Currently the payload is either (1) attached to the get started button, or (2) sent as a messaging_referral event that the webhook must subscribe to.

I can receive the payload in case (1) [I'm using Node.js] in the session.message.sourcEvent. In case (2), the payload g

[2017-02-16 19:23] haligasd commented on #1956
so a little more to add.  i think this is the right thread

i get the same error using the ResumptionCookie but can fix it.  I think my fix then causes proactive bots messages i am trying to do not work though.  Not 100% on that yet

so in my Global.asx while building the Autofac container if I do the following

            builder.Update(Conversation.Container);
            var container = Conver

[2017-02-16 19:27] msft-shahins commented on #1473
because of some of our dependencies we are targeting net standard 1.6: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Connector.AspNetCore/project.json#L18

and I believe that currently it is not possible to run it on top of net framework: https://docs.microsoft.com/en-us/dotnet/articles/standard/library

We plan to revisit our .net core support for connector once

[2017-02-16 21:36] KIBASSA commented on #2256
Thank you for your help.
I moved forward well.
I registered the application on Application Insights.
But In the portal of Azure, I have no details.
The call stack has not details of my code:
![image](https://cloud.githubusercontent.com/assets/8443316/23042118/b9c20122-f497-11e6-9f23-265ccdfd76f4.png)

All the errors which I obtain always have this shape.
I have no track of the error in my propore

[2017-02-16 22:17] Andrea-Orimoto commented on #1828
Closing this issue due to age, and because it seems that the team has gotten the feature request. Feel free to reopen if needed. Thanks!

[2017-02-16 22:17] #1828 closed

[2017-02-16 22:22] Andrea-Orimoto commented on #1940
Thanks a lot for the suggestion, we've added it to our backlog for future consideration. Thank you!

[2017-02-16 22:22] #1940 closed

[2017-02-16 22:32] Andrea-Orimoto commented on #2081
Hi @jaskiratr, I'm assuming you followed up with the luis team directly via email (yes, that's the right email address), so I'm closing this issue. Feel free to reopen if needed. Thanks!

[2017-02-16 22:32] #2081 closed

[2017-02-16 22:45] Andrea-Orimoto commented on #2211
Hi @astutesoftware, seems like this issue was fixed. Please reopen if this is not the case. Thanks a lot for reporting!

[2017-02-16 22:45] #2211 closed

[2017-02-16 23:16] willportnoy commented on #2256
@KIBASSA can you share your bot ID?

[2017-02-16 23:17] palmerabollo commented on #2276
Yes, you can put a custom BotBuilder.json under a /locale folder in your project, and load it using the following setting when you create your bot:

[code]

This is explained in [the official docs, under the Namespaced Prompts section](https://docs.botframework.com/en-us/node/builder/chat/localization/#namespaced-prompts). HTH.

[2017-02-16 23:18] willportnoy commented on #821
@briangardner there might be some relevant sample code in https://github.com/Microsoft/BotBuilder-Samples but I'm not sure.

[2017-02-16 23:21] willportnoy commented on #1600
I'm going this issue for now (due to age, and we have a possible explanation above), but feel free to open a new issue for further discussion.

[2017-02-16 23:21] #1600 closed

[2017-02-16 23:22] willportnoy commented on #1977
@jerrak0s it looks like your bot is taking too long to respond?  Do you see timeouts in your logs?

[2017-02-16 23:37] KIBASSA commented on #2256
my bot ID is emiko

[2017-02-17 00:04] msft-shahins commented on #2258
similar to #2214. Here is a sample showing how you can configure the Conversation.Container with the right MicrosoftAppCredentials and use a simple MultiCredentialProvider to authenticated multiple MicrosoftAppId and MicrosoftAppPassword.

[code]

This is the key part showing, how you can update the Conversation.Container with the right MicrosoftAppCredentials:

[code]

[2017-02-17 00:04] #2258 closed

[2017-02-17 00:06] msft-shahins commented on #2214
https://github.com/Microsoft/BotBuilder/issues/2258#issuecomment-280506334 should address your question.

[2017-02-17 00:06] #2214 closed

[2017-02-17 00:18] msft-shahins commented on #2196
you should be able to mention the user in the reply by adding @{user.Name ?? user.Id} to the text in your reply. Different clients based on their capabilities decide to highligh the @mentioned user. As an alternative, you can also create a direct conversation to the user.

[2017-02-17 00:18] #2196 closed

[2017-02-17 01:00] Stevenic commented on #2174
So I would actually recommend building a completely custom prompt versus using the `validatedPrompt()`. As you've noticed validated prompts have some limitations and a custom prompt will let you do anything you want. See the [basics-customPrompt](https://github.com/Microsoft/BotBuilder/tree/master/Node/examples/basics-customPrompt) example.

[2017-02-17 02:03] euanlau commented on #1815
@Andrea-Orimoto Yes. Just tried this again today. It is still a problem on both iOS and Mac.

[code]

[2017-02-17 02:24] willportnoy commented on #2256
@KIBASSA I did a search of our logs and definitely found log entries related to your bot, but not a single exception.  Is it possible that your bot web service simply returns a 500 error without any additional context?  You might consider enabling Application Insights for your own bot web service, because we don't have visibility into those exceptions.

http://aihelpwebsite.com/Blog/EntryId/11/Usi

[2017-02-17 02:31] gakarnik commented on #2228
Thanks for the update.

[2017-02-17 02:32] willportnoy commented on #2014
@eanders-MS I presume localhost:9002 is the emulator - why would it throw a 401 when login.microsoftonline.com seems to return a 200 just a few lines earlier?

(I'll also take a look at the SDK - @msft-shahins for FYI)

[2017-02-17 02:34] willportnoy commented on #2180
You set `message.From = botAccount` but then you use `message.From.Id` when calling `SetUserDataAsync` - shouldn't it be the user ID?

[2017-02-17 02:38] msft-shahins commented on #2014
@alokraj68, @g4mb10r I believe you are using old emulator. Try to install the new emulator: https://docs.botframework.com/en-us/tools/bot-framework-emulator/#navtitle

New emulator looks like following:

![image](https://cloud.githubusercontent.com/assets/17562300/23050401/0c9992c8-f477-11e6-80d5-654fbc4848ac.png)

old emulator doesn't accept the v3.1 auth token sent by sdk version > 3.5. You can

[2017-02-17 02:39] willportnoy commented on #2249
You might consider going through the steps at https://docs.botframework.com/en-us/support/troubleshooting-bot-framework-authentication/.

[2017-02-17 03:06] willportnoy commented on #2276
thank you @palmerabollo !

[2017-02-17 03:19] willportnoy commented on #2271
Sorry I don't have a direct answer - https://github.com/Microsoft/BotBuilder/issues/2010#issuecomment-271864874 has some relevant guidance.

[2017-02-17 03:22] willportnoy commented on #2279
Here is how you might handle the Bot Framework authentication requires for multiple chat bots:
https://github.com/Microsoft/BotBuilder/issues/2258#issuecomment-280506334

What kind of SSO are you looking for?

[2017-02-17 03:23] willportnoy commented on #2281
You might consider https://github.com/MicrosoftDX/AuthBot.

[2017-02-17 03:24] willportnoy commented on #2282
Can you give more details?

@pvagare you might consider opening fewer (than 5) issues if they're pretty closely related questions.

[2017-02-17 03:25] willportnoy commented on #2285
Would the send/session middleware help you intercept all messages?

[2017-02-17 03:39] danmarshall commented on #2174
@aekynr @gEndelf thanks for filing. Please re-open a new issue if the basics-customPrompt does not solve your issue, I'm going to close this issue for now.

[2017-02-17 03:39] #2174 closed

[2017-02-17 03:44] danmarshall commented on #2152
Hi @sayyednazeer I'm going to close this issue for now. Please re-open this issue if your problem is not solved, thanks.

[2017-02-17 03:44] #2152 closed

[2017-02-17 04:46] KrishnanA commented on #2267
You can put the file in Azure blob stores and get a HTTPS URL and use that.

[2017-02-17 04:46] #2267 closed

[2017-02-17 04:48] willportnoy commented on #2014
Sorry @msft-shahins I didn't catch that - thank you.

[2017-02-17 04:49] willportnoy commented on #2273
@craigjensen can you comment?

[2017-02-17 04:50] willportnoy commented on #2272
What's the size of your bot data?  The limit is about 32K if I recall correctly.

[2017-02-17 04:57] josephktcheung commented on #2272
How can I inspect the bot data?

[2017-02-17 06:36] snsrkrishna commented on #987
Thank you @willportnoy

[2017-02-17 06:47] ancashoria commented on #2276
Thank you very much @palmerabollo, I didn't think to look under localization.
Also, I want to thank you guys for your excellent work, this framework is proving immensely powerful and extendable.

[2017-02-17 07:22] gjayakumar92 commented on #2152
Hi @sayyednazeer @danmarshall
1) I have a website and i want to use chat bot in my website. as of now i am using iframe to embed web chat. but i want to create own web chat.

2) is there anyway to connect bot with my client without using bot connector?
I want to create the bot connector.

The main objective is i don't want to relay on any external services. i want to create it on my own.

Kindly h

[2017-02-17 07:31] arieschwartzman opened #2287 "[Skype Channel] openUrl action in HeroCard is disabled on iPhone skype mobile"
For some reason the openUrl action on a hero card on skype mobile for iPhone, does not respond to taps.
The URL is very long with many parameters but it's https. It works fine on Skype on the desktop and WebChat on mobile.

[2017-02-17 07:36] arieschwartzman commented on #2287
BTW It also works fine on Skype for Android.

[2017-02-17 07:52] Andrea-Orimoto commented on #1815
what about using a [video card](https://docs.botframework.com/en-us/skype/getting-started/#video-card)

`

    var card = new builder.VideoCard(session)
        .image({url: 'https://d2gix7be81x68n.cloudfront.net/staging/20170217/60a8bf54-ae06-46eb-8911-1726bb9be4da.jpg'})
        .media([
            { url: 'https://d2gix7be81x68n.cloudfront.net/staging/20170217/a09b7a82-d5bc-4452-8e90-83e5a0e459

[2017-02-17 08:41] singhsurya opened #2288 "Can we attach an image with form field prompt?"
We need to send an image to user during a form field prompt to help user to answer the question. How can achieve this?

[2017-02-17 08:49] Andrea-Orimoto commented on #2276
Thanks @ancashoria! Closing this issue since it seems solved. Feel free to reopen it if this is not the case. Thanks!

[2017-02-17 08:49] #2276 closed

[2017-02-17 09:32] gjayakumar92 commented on #1006
Hi @erlendw Can you tell me how to connect bot without using DirectLine API?

[2017-02-17 09:43] sayyednazeer commented on #2263
you are right.... i think my subscription free trial is over..

Thanks.

[2017-02-17 09:49] sayyednazeer commented on #2152
@gjayakumar92   you have to use the Direct Line API ...

Refer this for direct line code

http://aihelpwebsite.com/Blog/EntryId/16/Calling-The-Microsoft-Bot-Framework-Using-The-Direct-Line-API

[2017-02-17 09:50] michaelvol commented on #2240
I tried using session.on('error') as you suggested but I this error (person isn't available) is not caught on my side although I see it in dev.botframework.com

[2017-02-17 09:55] sayyednazeer commented on #2189
@dandriscoll @Andrea-Orimoto  resolved thanks..

[2017-02-17 09:55] #2189 closed

[2017-02-17 09:55] gjayakumar92 commented on #2152
Hi @sayyednazeer is this possible to connect to mybot without using direct line?  i need to connect my bot directly. is that possible.

[2017-02-17 10:03] sayyednazeer commented on #2161
As mention in #2078  by @msft-shahins  and @dandriscoll ...

![luisdelay](https://cloud.githubusercontent.com/assets/10753866/23061091/51059ca2-f4b5-11e6-97c1-b7b320dc93e0.png)

[2017-02-17 10:05] berhir opened #2289 "Add support for asp.net core on full .net framework"
As already discussed with @msft-shahins in my [comment](https://github.com/Microsoft/BotBuilder/issues/1473#issuecomment-280379876) in #1473 the new asp.net core support is for .net core only. But a lot of people are using asp.net core with the full .net framework because not all dependencies are already available for .net core/.net standard.

At least support for .net 4.6.1 can be added with just

[2017-02-17 10:07] sayyednazeer commented on #2199
@jameslew  any update / comment..?

[2017-02-17 10:08] sayyednazeer commented on #2152
why you don't want to use any connector..?

[2017-02-17 10:18] gjayakumar92 commented on #2152
@sayyednazeer  As per company norms, we should not rely on any external services. thats why i want to connect directly.

[2017-02-17 10:51] alucas007 opened #2290 "ChatConnector: receive - invalid token. Check bot's app ID & Password."
Hello.
Bot is working fine locally, using the emulator, but as soon as i try to test from the dashboard on Microsoft's site, i do get the request, but in the console where is started the bot i only see "ERROR: ChatConnector: receive - invalid token. Check bot's app ID & Password.".
I verified the app id and password using the url from their troubleshooting page, and i get a good response.

Tried u

[2017-02-17 10:52] soloveyalex commented on #2196
Nop, it doesn't work for Skype. It just puts this unformatted text with specific name and id as a part of response text.
Both for desktop version of Skype and mobile version which DOES support mentions.

Also I found a way in API to add mentions. It is like that:

[code]

However, it doesn't work either but does not produce any changes to reply. I mean there is no
any @{} in the response.

[2017-02-17 10:59] erlendw commented on #1006
I actually never found a solution for this:(

[2017-02-17 12:28] KIBASSA commented on #2256
Yes, my bot was not activated yet in Application Insights.
But when I right-click on my bot project, I do not see the "Add Application Insights Telemetry..." button appear.

![image](https://cloud.githubusercontent.com/assets/8443316/23065070/ddd27660-f513-11e6-9973-7f14bb4f0725.png)

How can I make this button appear?
I have to parameterize something?

Thx,

[2017-02-17 12:43] vovanb commented on #2249
I did all tests. I think you have issue with reading web.config in latest release . Once I assigned all attributes in code it was working.

Sincerely,
Vladimir
(Sent from my mobile)

[2017-02-17 13:25] stelazh commented on #1956
Could you please help me with my question : https://stackoverflow.com/questions/42298992/how-to-call-formflow-after-user-choose-an-option-from-quickreply-in-chatbot

I want to call formflow from my dialog...

[2017-02-17 13:38] stelazh commented on #47
can you please help mmu with my question ? https://stackoverflow.com/questions/42298992/how-to-call-formflow-after-user-choose-an-option-from-quickreply-in-chatbot

[2017-02-17 13:41] tlloydukdev commented on #1903
I'm having the same issue, any update on this or any ideas ?

Thanks

[2017-02-17 15:24] stelazh opened #2291 "I cant call my formflow from my rootdialog.cs"
Exception: An error occurred during the activation of a particular registration. See the inner exception for details. Registration: Activator = IMessageActivity (DelegateActivator), Services = [Microsoft.Bot.Connector.IMessageActivity, Microsoft.Bot.Connector.IActivity], Lifetime = Autofac.Core.Lifetime.MatchingScopeLifetime, Sharing = Shared, Ownership = OwnedByLifetimeScope —> A delegate registe

[2017-02-17 15:34] bmperrea commented on #2285
Thanks for the tags @willportnoy. I think so -- is there a link to something I am missing?

[2017-02-17 15:34] stelazh opened #2292 "support for formflow call or luis dialog call"
I want to call a dialog after the user choose an option from my quick reply.

Here is my code in Messagecontroller.cs :

`namespace ContosoFlowers
{

    [BotAuthentication]
    public class MessagesController : ApiController
    {
        private IMessageActivity activity;

        public string cityRange { get; private set; }

        private static IForm<Enquiry> buildEnquiryForm()
        {

[2017-02-17 15:58] AlexanderKovalev commented on #2180
hm... I think it should work, will check it later!
Thank you!

[2017-02-17 15:59] McGern opened #2293 "[Direct Line] bot conversation out of order when answering too quickly"
Hi,

I'm having an issue with a bot built using the C# framework. The bot is on the server and connected through directline to the webchat interface.

If I respond to a prompt too quickly, the bot session gets confused and responds as if it was the previous prompt. If there is a delay, the bot responds with the correct dialog.

e.g.

Bot - "Hi, would you like to get a quote?"
User - "Yes"
Bot - "G

[2017-02-17 16:01] AlexanderKovalev opened #2294 "Invalid conversation ID in teamsChannelId after update to v3.5.3"
After updating to v3.5.3 receiving error: "Invalid conversation ID in teamsChannelId"
in code (CreateDirectConversationAsync part):

`            var connector = new ConnectorClient(new Uri(serviceUrl), new MicrosoftAppCredentials());
            var conversationId = await connector.Conversations.CreateDirectConversationAsync(botAccount, userAccount);
`

[2017-02-17 17:11] euanlau commented on #1815
If `VideoCard` crashes on iOS, then it isn't really a workaround.

Its great that you could reproduce the original issue.

[2017-02-17 17:13] Andrea-Orimoto commented on #2256
@KIBASSA [found this](http://stackoverflow.com/questions/29403005/missing-add-application-insights-telemetry-to-project-option-in-vs-2013) on stackoverflow, does it help?

[2017-02-17 17:15] Andrea-Orimoto commented on #1815
if it crashes it's a bug that should be fixed. Have you tried?

[2017-02-17 18:18] McGern commented on #1938
@saurabhabh that link is dead for me.

I am having a similar issue using the bot on azure running through the emulator. It works without credentials, but not with the credentials (in the emulator). Have MicrosoftAppId and MicrosoftAppPassword set in the web.config and have taken the id and password from the application registration portal. Wanting to get it working through webchat, but at this poi

[2017-02-17 18:46] saurabhabh commented on #1938
I think you need to publish your bot so as it could make use of the credentials. For the local emulator which is just for testing you don't need credentials.

[2017-02-17 19:19] chrimc62 commented on #2080
You can control the cancel words in FormConfiguration.Commands.
To control the message output you can define your own PromptAsyncDelegate and pass it to you builder using the Prompter method.  This gives you full control of prompts and lets you rewrite them.  We just did a release where we added state and field to that as well.

[2017-02-17 19:19] #2080 closed

[2017-02-17 19:20] chrimc62 commented on #2215
The intent of the pattern is not for extraction but for validation.  If you want to extract then writing a validator the way you did is the right solution.

[2017-02-17 19:20] #2215 closed

[2017-02-17 19:28] chrimc62 commented on #2248
Given the stateless nature of the SDK, we need to call SetDefine on each form load so best practice is to use a cache as you describe.

I'm not sure what you mean by "preselect".  If your field is nullable and you set it, then if FormOptions.PromptFieldsWithValues is not present the field will be skipped but show up in status and navigation.  If you do pass in PromptFieldsWithValues, then the curr

[2017-02-17 19:43] stujo commented on #1505
Still getting this issue OSX using local bot connection and the sample code form the node.js setup

https://docs.botframework.com/en-us/node/builder/overview/#navtitle

@dandriscoll Maybe re-open?

[2017-02-17 19:48] stujo commented on #1505
I was able to fix this error by providing the APP_ID and PASSWORD in the emulator.

This may be obvious but the docs say this isn't required for local connections:

https://github.com/Microsoft/BotFramework-Emulator/wiki/Getting-Started#connect-to-a-bot-running-on-localhost

I will submit a pull request to fix the docs

[2017-02-17 20:05] jsiegmund commented on #2248
Thanks! By "preselect" I meant: select the one entry that was returned from the DB, paste its value into the field and advance to the next field.

Like so:
- 4 customers are shown
- User picks customer 1
- DB is queried for projects, only 1 is returned
- That 1 project is set in the "Project" field
- Dialog advances to the next field, user was not bothered with the Project field.

I'm going to try

[2017-02-17 20:16] AlexanderKovalev commented on #2180
Can't check because of this error: https://github.com/Microsoft/BotBuilder/issues/2294

[2017-02-17 20:50] Andrea-Orimoto commented on #1795
Hi @siduppal, was the fix released?
@miaosenwang, still having the issue?

[2017-02-17 21:34] Andrea-Orimoto commented on #2007
Hi @srirams007, closing this issue due to inactivity, please feel free to reopen it if you still need help. Thanks!

[2017-02-17 21:34] #2007 closed

[2017-02-17 21:38] Andrea-Orimoto commented on #1825
Hi @willemodendaal, closing due to inactivity. Please reopen it if you're still experiencing the problem. Thanks!

[2017-02-17 21:38] #1825 closed

[2017-02-17 21:49] Andrea-Orimoto commented on #2083
hi @akakoychenko, were you able to figure this out?

[2017-02-17 21:51] Andrea-Orimoto commented on #2136
Hi @Lugo239, it looks like this thread is solved, right? I'm closing this, but feel free to reopen or open a new issue if you still need help. Thanks!

[2017-02-17 21:51] #2136 closed

[2017-02-17 22:01] Andrea-Orimoto commented on #2219
Hi @Arimov, great suggestions, we've added to our backlog for future consideration. No timeline at this point. Closing this issue for now, but feel free to reopen if needed. Thanks!

[2017-02-17 22:01] #2219 closed

[2017-02-17 22:03] Andrea-Orimoto commented on #2151
Seems like you were able to fix this, closing this issue. Feel free to reopen if you still need help, and sorry for the upgrade inconvenience.

[2017-02-17 22:03] #2151 closed

[2017-02-17 23:45] Andrea-Orimoto commented on #2268
Hi @kureikain, we're not seeing any issues with kik, are you still experiencing the issue? what's your botId?

[2017-02-17 23:47] Andrea-Orimoto commented on #2245
Hi @arieschwartzman, are you still experiencing the problem?

[2017-02-17 23:53] danmarshall commented on #1901
@ashay-88 can you still reproduce this issue? There may have been an update to the WebChat which fixes this.

[2017-02-18 00:05] msft-shahins commented on #2237
@weedroid can you provide the MicrosoftAppId for your bot?

[2017-02-18 00:29] dandriscoll commented on #2283
Hi @pvagare, are you asking about the Bot Framework development portal (https://dev.botframework.com) for owners of the bot, or are you asking about end users of the bot?

[2017-02-18 06:39] himanshuphirke opened #2295 "Keep getting error: I didn't understand. Please choose an option from the list."
I am trying different options available for communication with bot.
I keep changing the app  using the same client id and password. On Skype bot I keep getting error:

**I didn't understand. Please choose an option from the list.**

The console prints _WARN: Dialog '*:/menu' not found in library._

/menu was a dialog in previous example. Running the local bot using ngrok.

Is there are way to rese

[2017-02-18 07:23] akakoychenko commented on #2083
yep

[2017-02-18 07:23] #2083 closed

[2017-02-18 07:58] chris31389 opened #2296 "How to have multiple LuisDialogs"
Hi,

I'm working on a large project where there will be hundreds of intents.  I want to be able to create new LuisDialogs and chain them together so that if the first LuisDialog have an attribute that matches the intent name, then it passes to the next LuisDialog.  The final LuisDialog would have the "None" intent.

Is this possible?

[2017-02-18 14:44] adamgilmore opened #2297 "Using environment variables to specify the LuisModel attributes"
Hi,

I want to store the LuisModel attributes (ModelId and SubscriptionKey) in environment variables. Is this possible? I've looked for a LuisDialog source code and it looks like the only way is to override the MakeServicesFromAttributes method?

Maybe this is a feature request to make it easier to implement?

Thanks,
adam

[2017-02-18 17:56] KIBASSA opened #2298 "LuisDialog: Response status code does not indicate success: 403 (Quota Exceeded)."
Hi,
Today without making any manipulation on my class LuisModel or in my application in www.luis.ai, at about 1 pm (Paris time), I obtained this error:

System.Net.Http.HttpRequestException:
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess (mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuc

[2017-02-18 18:14] Andrea-Orimoto commented on #2171
Closing this for now, due to inactivity. Do not hesitate to reopen it if you still need help. Thanks!

[2017-02-18 18:14] #2171 closed

[2017-02-18 19:12] andradedearthur commented on #2298
Are you using the free plan? The free subscription has a limit of [10.000 calls per month](https://www.microsoft.com/cognitive-services/en-us/language-understanding-intelligent-service-luis). You should check if you have reached this limit.

[2017-02-18 19:20] andradedearthur commented on #327
@kcyhm1991 @BenjaBobs @mikob I did some tests and was able to create 79 intents, plus the none intent. So 80 intents in the total. Still a far cry behind IBM Watson's limit.

[2017-02-18 19:33] PadmanavAgarwal opened #2299 "dialog misbehaves after bot crashed"
My bot crashed in between a dialog waterfall. I fixed the errors, restarted the bot, deleted user data and deleted conversation data and yet the dialog is behaving absurdly. How to refresh my bot out of this problem?

Below is the error message in the console, whenever I reach that dialog :

`TypeError: Cannot read property 'replace' of undefined
    at DefaultLocalizer.escapeKey (C:\new\playbot\n

[2017-02-18 19:52] andradedearthur commented on #2296
Could you clarify a bit more? Do you mean chain multiple LuisDialogs or multiple LUIS Models? I'm also interested in something like this (using multiple LUIS Models to get around the 80 Intents per Model limit we have so far).

I did some tests and wasn't able to achieve this, however when I did my tests I didn't use LuisDialog's, since I would need to check multiple LuisModels I wrote my own code

[2017-02-18 21:46] KIBASSA commented on #2298
Yes, it was a free use.
I have just activated a standard subscription.
I have to copy the key generated in portal azure

![image](https://cloud.githubusercontent.com/assets/8443316/23097074/063c8b14-f62b-11e6-88ca-2bc81e76f0d1.png)

![image](https://cloud.githubusercontent.com/assets/8443316/23097107/c559ee60-f62b-11e6-81ad-bb5391823468.png)

Then I pasted this into my applcation of luis.ai

I alw

[2017-02-18 22:34] McGern commented on #2293
Just as an update to this, I have tried another example using the pizza bot formbuilder example (to keep it as vanilla as possible) and it behaves in the same way. I tested it in the dev.botframework.com test section after the bot was published to azure.

It is easy to replicate, just have the next answer primed and send it when the bot responds. I had modified this example for something else I wa

[2017-02-18 23:54] andradedearthur commented on #2278
You could use the LUIS Programmatic API to do this. Link: https://dev.projectoxford.ai/docs/services/56d95961e597ed0f04b76e58/operations/56f8a55119845511c81de483

[2017-02-19 03:18] cesarvarela commented on #1286
sending just `:like:` works too.

[2017-02-19 05:04] #2299 closed

[2017-02-19 06:24] alexsorokoletov commented on #2123
@dandriscoll we have publish Viber connector and would like to get some help/feedback with it
https://github.com/DreamTeamMobile/botbuilder-viber

In order to make it work we had to make connector pretend it's `kik` connector. Would be great to have it act as a `viber` connector, but changing `channelId` to `viber`.

Would be glad to get some thoughts on how to improve it.

[2017-02-19 06:39] ashay-88 commented on #1901
@danmarshall  now when I am using IDialog to reply to conversation using postAsync, issue is not appearing.
I suspect, it could be because of my code.
Though, I will paste code which I was using, with which I was getting reply on older emulator but not on new one. That bot was without using dialog interface.

[2017-02-19 06:52] ashay-88 opened #2300 "modify user's display name webchat"
Hi,
I am passing a user's authenticated token in http request header to my bot, which is my webchat url.
I wanted to pass token in userId section. But though I pass token in userID section, bot framework activity overwrites it with its own Azure token, which is not the one of mine as it comes like "Bearer sometokencode".
So I tried to pass token in username field like this.
string token = "test112

[2017-02-19 07:10] Abrahamlincoln006 commented on #2174
You can download the newest questions and answers in this PDF file:
http://www.dumps4download.com/microsoft.html

[2017-02-19 07:54] chris31389 commented on #2296
To clarify, I want to use the same LUIS Model, but I want to have different LUIS Dialogs classes.  Ideally so that I can adhere to the Open Closed Principle.  If we get a new requirement I don't want to have a monster class I need to update, id rather have a something that knows about all the LUIS Dialogs and can work out which Dialog to use based on the intent attribute.

[2017-02-19 07:58] miaosenwang commented on #1795
@Andrea-Orimoto Thank you for following up. I have updated the SDK to the latest 3.5.2. The duplicated card problem is solved. However, there is still a problem with the image. The image shows up initially, but if you scroll up until the image is invisible and then scroll down, the image becomes a gray box.

[2017-02-19 11:21] raphael2711 opened #2301 "Invalid conversation ID in teamsChannelId by using startConversation"
i already build a running function to send a message to a skype user.
i use the nodejs function startConversation and send to send the message.
2 days ago it works fine.

I don't changed my code but now i got the error "Invalid conversation ID in teamsChannelId",
when i use the startConversation function.

I don't understand the teamsChannelID , i don't use the channel Teams.
I only use Skype chan

[2017-02-19 13:30] jsiegmund commented on #2294
Are you sure it's related to the release? I'm getting the same in 3.5.2 but I'm not completely sure yet whether it's not me own fault.

[2017-02-19 13:58] AnithaJothi commented on #204
Hi,

I am facing the same issue. Verified Facebook Page Id, App ID, App secret, page access token. All are correct. Registered and unregistered and tried as well.
The bot seems to work fine on webchat channel as well as the emulator.
When I click on "Message Us" from the bot framework dev page, it opens up the right chat. Still when I type in something the bot doesn't respond.
I have verified the

[2017-02-19 15:13] AnithaJothi commented on #204
Adding to my question above, as I was unable to edit it - I get the same error above mentioned when I enable my bot in Skype too. Not sure what went wrong. My bot ID is anithas_test_bot

Please help!

[2017-02-19 16:36] palmerabollo commented on #2271
@mb19 you can try [`session.clearDialogStack()`](https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.session.html#cleardialogstack) or even call `reset` + `endDialog`:

[code]

[2017-02-19 19:13] AlexanderKovalev commented on #2294
I think yes, because it worked before 3.5.2.
After update to 3.5.2 and 3.5.3 it started to generate this error

[2017-02-19 19:21] rjoosen commented on #2294
Same issue over here. 3.5.3. Not sure when I updated but code used to work a few days ago.

[2017-02-20 00:57] camer314 opened #2302 "When is next release of Skype calling API"
This hasn't been updated since July 8th 2016, is it still being actively worked on?

[2017-02-20 06:17] jsiegmund commented on #2294
It's probably something server side as that "teamsChannelId" property doesn't exist in the repo. The channel stuff is being done server side somewhere so that might have changed. For 3.5.2., the following code is working for me, but that needs an existing conversation Id to reply to:

[code]

[2017-02-20 06:17] SP00499532 opened #2303 "[Feature Request] Allow bot to redirect to human agent?"
The user has some query which the bot cannot answer or it doesn't have an answer to that. In that case the bot has to seek help of some assistant and redirect the question directly to that assistant and the assistant gets the question directly on his number.

[2017-02-20 06:37] hyjasonmei opened #2304 "[Direct Line] Get 502 (bad gateway) randomly"
Hi Team

I got 502 bad gateway error randomly.
Most of messages are fine to transfer.
But sometimes we got 502 unexpectedly.

URL: https://directline.botframework.com/v3/directline/conversations/rpG4ckovzx/activities
Request payload:
{"type":"message","text":"hi","from":{"id":"I1sp0R39f9R","name":"You"},"locale":"zh-TW","timestamp":"2017-02-20T06:33:36.768Z","channelData":{"clientActivityId":"1487

[2017-02-20 07:51] ooclleeke opened #2305 "Request to 'https://smba.trafficmanager.net/apis/v3/conversations' failed: [400] Bad Request"
I am running sample code - NodeJS/core-CreateNewConversation.
When I send a message on Skype client, it throw an error as below.
[code]
I am using botbuilder version 3.6.0
Here is my request, this request is generated by botbuilder:
[code]

[2017-02-20 08:36] AnithaJothi opened #2306 "Not receiving any response in Skype and Facebook channels - Web chat works"
I have developed a bot using the C# Bot Builder SDK (Bot builder version 3.5.2) and deployed it on Azure. This runs successfully on the Emulator as well as the web chat channel.
I have enabled it in Skype and Facebook channels and in those channels the bot doesn't respond. I have tried unregistering and re-registering too in both the channels, however that didnt help either. In addition I have ver

[2017-02-20 09:16] weedroid commented on #2237
Hi @msft-shahins,

The MicrosoftAppId for my bot is bc0e84e1-29d0-4412-ba19-c3f7f74dffec

[2017-02-20 10:06] rajivupreti commented on #2254
I am also trying to implement similar use case.
It seems possible by creating a desktop Skype application which monitors the conversation between user and bot and do the necessary action based on the chat contents.
But if it would be better if we could achieve from server.

[2017-02-20 10:18] NOTPOWERUSER opened #2307 "Failed on "Test connection to your bot""
I got following message after I press the button "Test" on my bot's page.

`
500 InternalServerError
System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.WebException: The underlying connection was closed: Could not establish trust relationship for the SSL/TLS secure channel. ---> System.Security.Authentication.AuthenticationException: The remote certi

[2017-02-20 11:09] zhou-xinghai opened #2308 "directline takes too long to get response."
Please refer to issue #2089.
The issue persist but seems better, not sure if the backend of directline is optimized by the team. I add some log to trace the time cost in each phase and found that
1. The directline restful api "Sending an Activity to the bot" takes <1.8s.
2. Luis takes around 5s.
3. A polling GET to receiving Activities from the bot takes around 3s.
So, all together is nearly 10 se

[2017-02-20 11:14] rjoosen commented on #2294
That seems to work, with some minor modifications:
(Only with Skype contacts by the way)

[code]

[2017-02-20 11:16] jviksne commented on #1669
I was quite disappointed by discovering this "feature" that bots in group chats see only those messages where they are mentioned (I can say that for my Node.js client it works for sure - I don't get messages that do not include the mention).
There is no technical justification for such choice as it would be very easy to filter out all the messages that do not include the mentions in case that woul

[2017-02-20 11:46] AnandChitale opened #2309 "Is there a Portable library for DirectLine API , which can be installed in the Xamarin Portable Lib Project in Android Solution"
I am creating a sample Android application and using Xamarin to develop one.
I want to use DirectLine API to communicate to bot from Android APP.
Is there a portable lib which can be installed in Xamarin Portable project and not in .Droid Project.

The directline API gets installed in .Droid project but not in Portable project , which makes the implementation specific to android and not cross plat

[2017-02-20 13:50] lonche opened #2310 "Is there any code (example) for creating persistent menu with microsoft bot framework c# ?"
Is there any code for creating persistent menu with microsoft bot framework c# ?
I found this : https://satwikkansal.wordpress.com/2016/08/25/adding-menu-and-buttons-to-your-messenger-bot/
But i'm using c# language .... so it would be excellent if is there any example written in c#

[2017-02-20 13:56] McGern commented on #1938
For testing with directline etc, you need an app id and password. This is before the bot is published.

[2017-02-20 13:56] aakashvit opened #2311 "Get slack user address without user first interaction with bot"
[](https://docs.botframework.com/en-us/node/builder/chat/UniversalBot/#proactive-messaging-and-localization)
I want to send notification to user ,Below code is working but only if user interact at-least one time with bot. Whenever slack user will interact with bot I am saving address into db then letter i am using address to send

is it possible to get user address without user interaction with bo

[2017-02-20 14:04] aakashvit commented on #1837
@Stevenic @carlosscastro I have also similar problem
https://github.com/Microsoft/BotBuilder/issues/2311

[2017-02-20 14:37] weedroid commented on #2237
I'm now encountering the same issue with a bot hosted outwith Azure, whose framework I have upgraded from v3.5.2 to v3.5.3. After deploying the version with the upgraded framework, the bot fails with the "authorisation failed" exception in my first post. Restoring the previous version with framework v3.5.2 makes the bot work again. There have been no other substantial changes. Generating and using

[2017-02-20 15:39] strangecyan opened #2312 "Locale issue with cardAction.imBack"
I'm creating a card that has a button which has a different imBack value than the title of the button.

I need to be able to localise that message (in this case replacing "Can I book a holiday?" with "Can I book a vacation?"). The title is being correctly localised but the message is being sent as 'home_absence_message_book'. Is this how the framework currently works and if it is, can I raise a fe

[2017-02-20 15:58] alucas007 commented on #2290
Tried using another tunneling service - did not help.
Еnabled debugging in the request module, and it seems i get rejected right away.

REQUEST onRequestResponse https://login.botframework.com/v1/.well-known/openidconfiguration 200 { 'cache-control': 'no-cache',
  pragma: 'no-cache',
  'content-length': '323',
  'content-type': 'application/json; charset=utf-8',
  expires: '-1',
  server: 'Microso

[2017-02-20 16:01] McGern commented on #2293
I have updated to version 3.5.3 and it seems to be working much better now. Can fire 3 future answers in a row before the bot responds and it (mostly) gets the order right, so the real-life case of actually waiting for a response before sending seems to be fixed.

Could anyone confirm please if this is a fix that has been put in place since 3.5.2 or is it just a side-effect of something else?

[2017-02-20 16:38] vovanb commented on #2150
Is it deployed to production ?

Sincerely,
Vladimir
(Sent from my mobile)

[2017-02-20 17:31] whoisstan opened #2314 "ERROR: ChatConnector: startConversation - error starting conversation."
I am using the code below to send a reply to a message in a server-less/event-driven architecture where I don't have access to the session/dialog. This was working fine for weeks until last week friday. The messages are send to a skype user, this is still working fine in the Now I am seeing 400 error messages. I am using botbuilder@3.5.4 and node version 6.9.2.

    ERROR: ChatConnector: startConv

[2017-02-20 17:42] cahann commented on #2278
Why do you need to label all those examples? You should only label examples to fill in gaps in the models prediction.

[2017-02-20 18:23] Ashish-Mahalka opened #2315 "service Url + v3/conversations/"conversation["id"]/activities/"id" works for webChat but not skype channe;"
I am able to send response back from my bot to webchat channel but not to the skype channel. Also no error is reported in case of skype channel

response url (skype) = https://smba.trafficmanager.net/apis/ + "v3/conversations/'conversation id'/activities/1487614677117

[2017-02-20 18:30] cahann commented on #2262
this is basically to cover the scenario of "I want to order a burger" where a here refers to one burger

[2017-02-20 20:03] michaelvol commented on #2103
Hey, just checking in if there is any confirmation on this issue / plan to address it in the future.
It's important for us as this issue was triggered by real users' interactions.

[2017-02-20 21:11] mb19 commented on #2271
Thank you for the responses. @willportnoy I suspected I might have to go one of the routes mentioned in your link so I will give that a look.

@palmerabollo I've tried that, but the trouble is by the time session.send() gets called, or by the time that dialog is even reached, the bot has already sent the response from the previous dialog resulting in a pretty messy output for the user. If I had a

[2017-02-20 22:09] dandriscoll commented on #1549
Hi @Rina1Patel, this usually means your bot is generating an error. Please open a new issue and include your bot ID if you want to discuss further.

[2017-02-20 22:11] dandriscoll commented on #1890
Hi @BKbhavu, please open a new issue and include more details like the language you're using and the version of any Direct Line helper clients you're using.

[2017-02-21 00:02] #2271 closed

[2017-02-21 03:33] sayyednazeer commented on #2078
@dandriscoll  and @msft-shahins is there any update to fix the slow Luis service calls..?

[2017-02-21 03:42] sayyednazeer commented on #1618
#2078

[2017-02-21 04:41] nickcordrey commented on #1745
Please also make sure you include a thumbnail with each card and confirm if it still causes an issue in client.

[2017-02-21 04:42] nickcordrey commented on #1742
postBack is now supported by Skype. Please could you retest and confirm that dialogAction works as expected?

[2017-02-21 04:42] #1742 closed

[2017-02-21 04:43] nickcordrey commented on #1743
It looks like the root cause was the postback action. postBack is now supported by Skype. Please could you retest and confirm that the carousel works as expected?

[2017-02-21 04:43] #1743 closed

[2017-02-21 04:45] nickcordrey commented on #1669
@toyg please could you email me with your bot ID at Skype Bot Support <skypebotsupport@microsoft.com>. At this time bots should only be able to receive messages sent to them using at mention. We hope to release an optional setting to have your bot in all messages mode soon.

[2017-02-21 04:45] #1669 closed

[2017-02-21 04:46] nickcordrey commented on #1630
This should no longer be happening. Please re-open if you see it reoccur.

[2017-02-21 04:46] #1630 closed

[2017-02-21 04:50] brandonh-msft commented on #327
@andradedearthur and you hit a limit at this point? what was the error message?

[2017-02-21 05:44] Sid245439 commented on #1595
Is it possible to get current location of user through node.js chat bot using botbuilder with webchat as a channel??? Till now I found "botbuilder-location" npm used to track the location.. But with webchat how would I be able to get the current location...
FB messenger uses "useNativeControl: true," to track the current address as a location picker... Is it possible to do the same thing with webc

[2017-02-21 06:17] pvagare commented on #2204
@danmarshall  Thanks for reply. I will give you the link.

[2017-02-21 06:30] pvagare commented on #2279
@willportnoy

Suppose I have one business user who is authenticated with oAuth2 once during his conversation with chatbot X.  If the same user starts conversation with chatbot y in a single Skype session. I do not want to authenticate again same user.

[2017-02-21 06:31] pvagare commented on #2281
Thanks for reply. I will look into same

[2017-02-21 06:32] pvagare commented on #2278
@cahann  Yes I need more concrete predictions.  That why I need to to label those examples.

[2017-02-21 06:38] pvagare commented on #2283
@dandriscoll  Yes I am asking for end users of bot.
Suppose I have one chatbot and using skype as channel. I am using Active Directory for skype to talk with the chatbot. I have some role assigned to me.
So I am asking that Is there inbuilt support for Role Based access control to access the My chatbot.

Using Role based access I will add my chatbot as different functionality for different types o

[2017-02-21 07:26] siddiq-rehman commented on #2262
Hi,

I am facing the same issue, in the scenario for a banking chatbot, for quiries like "Transfer an amount of 10 dollars", here its refering "an" to a number.

[2017-02-21 07:34] Lugo239 commented on #2136
Hey Guys!

Yes problem solved. Thanks to all of you!

[2017-02-21 07:36] siddiq-rehman opened #2316 "Directline is taking too much time to respond."
Hi,

I have been working on microsoft bot framework for over 3 months. I am using the web-chat as client which I got it from "https://github.com/Microsoft/BotFramework-WebChat".

The POST request to the directline api is very slow at times and the speed is not consistent. I am working within a corporate proxy. Further it is throwing 503 error after almost 85sec, as shown in the image

![image](htt

[2017-02-21 08:44] AlexanderKovalev commented on #2294
Working for me, but tested only for Skype, not sure if it works for any other channels

[2017-02-21 08:46] AlexanderKovalev commented on #2301
Please check here the same issue: https://github.com/Microsoft/BotBuilder/issues/2294

[2017-02-21 09:17] konstlut commented on #2211
The fix was deployed.

[2017-02-21 10:16] chminnaar opened #2317 "IOS Skype Mobile Video card crash"
Hi

When using a Videocard Skype mobile crashes.

tested with ios version, not sure if Android have same issue.

[2017-02-21 10:34] Highvolt opened #2318 "HeroCard Tap Not Working on Skype nor in Web Chat"
I am using Node Botbuilder SDK to create a bot.

I was unable to get a openUrl tap action to work, even though the correct information reaches the client, as shown on this image.

![screen shot 2017-02-21 at 10 29 58](https://cloud.githubusercontent.com/assets/182139/23161169/ec951166-f820-11e6-8849-275fc7af3fc3.png)

For now I am using a button as a workaround.

You can see the code I am using in

[2017-02-21 11:26] McGern commented on #2237
I am having the same issue. It seems that the credentials are being ignored when used in the web.config. With a simple solution (e.g. sandwichbot), if I have the credentials in the web.config and run it through the emulator (without credentials) it gives me an expected error of "Bot's MSA appid or password is incorrect". With the solution I am working on it does not do this, and instead starts the

[2017-02-21 11:47] ThisWillDoIt commented on #2318
I have the same issue with the Emulator. Couldn't test it on other channels yet.
Is it working for you in the Bot Emulator?

[2017-02-21 11:58] narenkv opened #2319 "Logging and Exception Handling"
Hello All,

What is the best practice to be followed for Bots, to
-  check the health of the bot application
-  log or handle errors errors for bot applications

/Naren

[2017-02-21 12:15] deksden commented on #144
Here is nice NPM module for Bot Framework for Node.js : https://github.com/sebsylvester/botbuilder-wit

[2017-02-21 13:20] Deviss14 opened #2320 "Facebook Messenger not always responding"
Hello,

I've made a bot using the Microsoft Bot Framework (C#) and published it on Azure. It works perfectly fine on an emulator and on Skype. But on Facebook Messenger, it seems like sometimes, it doesn't receive the message properly (even though no error is shown) sent by the user but retyping the message several times seems to wake it up.

Anyone ever had this issue or have an idea what's happe

[2017-02-21 13:26] konstlut commented on #1631
@alokraj68 That looks like a bug on the backend and there was quite a lot of changes since this defect was reported. Is it still a problem? if yes, will you please provide your bot msa app id, and I will be able to troubleshoot it. Thanks!

[2017-02-21 14:25] mikob opened #2321 "Luis.ai picks up unwanted entities"
I have an intent that I specify 2 required action parameters for (neither of which is a datetime). When I try an utterance such as this: "post to biology looking for a lab partner this week - any takers?" I need Biology to be a *class* entity (works fine) and the "looking for a lab partner this week - any takers?" to be a *message* entity.

The message entity gets thrown off by the "this week" par

[2017-02-21 16:23] Highvolt opened #2322 "ImageCard image not showing in Skype"
When rendering a ImageCard when the image is large, skype doesn't render the image.

eg: https://i.ytimg.com/vi/wwgk_GC8Q3U/maxresdefault.jpg

This image is correctly render on the Web chat interface.

Is there any documentation about this limitations?

[2017-02-21 16:24] KIBASSA commented on #2298
After sending a message to the support, they asked me to update my published model and use the new endpoint.

Once I did that, everything worked well.

Junior

[2017-02-21 16:27] Highvolt commented on #2318
Another work around that I were able to implement was defining a tap action for the imageCard that were inside de heroCard. (In skype will only work if the link is https)

@ThisWillDoIt I didn't try in bot emulator, but I think the emulator shares the code base with web chat.

[2017-02-21 16:53] dandriscoll commented on #2283
At the moment there is no built-in support. However, there are some samples you can use to log in a user. For example, AuthBot illustrates how this can work: https://github.com/MicrosoftDX/AuthBot

[2017-02-21 17:13] Stevenic commented on #1979
So as @willportnoy stated, anytime you pass an IMessage to a prompt (any prompt) the message is just passed through. This is by design to let you do things like create a `confirm()` prompt containing an image. That means that if you want to include yes/no buttons on the message you'll need to add them yourself. Just create a hero card with two `imBack` buttons for yes & no which is what we do inte

[2017-02-21 17:13] #1979 closed

[2017-02-21 17:16] Stevenic commented on #2269
if you look at your second `builder.Prompts.text()` call, you forgot to pass in the session object.

[2017-02-21 17:24] Stevenic commented on #2240
@michaelvol you actually want to do `bot.on('error')` and not the `session` one.

[2017-02-21 17:46] Stevenic commented on #2206
@michaelvol yes... I was just about to suggest that you use the new `bot.loadSession()` method as you describe. This will let you push a dialog onto the stack...

The one thing to note is that you can still only have a single stack per conversation so that means the bot can only be waiting on one thing at a time (at least from a stack perspective.) If you start your proactive dialog and the user s

[2017-02-21 17:48] Stevenic commented on #2197
Yes... the message timestamp is probably more accurate but I don't believe its provided for all channels so I would probably use a combination of both approaches.

[2017-02-21 17:53] eanders-MS commented on #2318
Hi @Highvolt, @ThisWillDoIt, Support for tap action on cards will be included in the next emulator release.

[2017-02-21 17:55] Stevenic commented on #2187
I agree that it sounds like a casing problem but I don't see a casing problem.  Are you able to figure out the exact place where we use the wrong case?

[2017-02-21 17:57] eanders-MS commented on #2318
@Highvolt, tap action on cards was recently added to the Web Chat control (https://github.com/Microsoft/BotFramework-WebChat/pull/336), and will be available in the next update.

[2017-02-21 17:58] siduppal commented on #1795
iOS client fixes are supposed to rollout this week

[2017-02-21 18:00] Stevenic commented on #2177
The `dialogVersion` middleware does something different. It's designed to address an issue that can happen when you make a radical change to your bots structure. Users can get into a stack state in certain cases and `dialogVersion` lets you track which version of the dialog system a given conversation is using. It will automatically call `endConversation()` when it detects an old version of the di

[2017-02-21 18:00] #2177 closed

[2017-02-21 18:22] Stevenic commented on #2175
@DmitryZemlyuk have you tried stepping through your code to see why its behaving differently?  I realize you didn't change anything but skype may have,

[2017-02-21 18:28] kureikain commented on #2268
@Andrea-Orimoto It's fixed couple day ago, but whenever I accidenly send a bad kik message that will happen again. Basically after ~24hours, it suddenly work again unless I send that bad message, which is a source event message to send to Kik.

I will re-produce this and send you my bot id

[2017-02-21 18:30] Stevenic commented on #2144
@slidenerd sorry for the very long delay.  The issue with "scenario 1" is that you need to pass in `builder.ListStyle.button` which maps to a number and not a string.

For "scenario 2", if you're crashing it's most likely because you're generating some sort of invalid escape code for `SPRINTF`. You may want to build your prompt as an IMessage instead so you don't run through SPRINTF at all.

[2017-02-21 18:35] Stevenic commented on #2137
So we're updating the docs but now all recognizers are evaluated in parallel.  You can achieve what you're trying to do by creating an `IntentRecognizerSet` with the following options:

[code]

You can then use that `set` as if it were a single recognizer.

[2017-02-21 18:41] bondz commented on #2137
Oh, okay. Thanks.

[2017-02-21 18:41] #2137 closed

[2017-02-21 18:42] Stevenic commented on #2132
You need to send a message to the user as a proactive message using `bot.send()`. You'll also need to delete the `conversationId` field from the messages `address` object before sending. Something like:

[code]

[2017-02-21 18:45] Stevenic commented on #2127
This is by design. Buttons will only be used for channels that support quick replies or keyboard, like Facebook or Kik. You can force the use of buttons on skype although we recommend using caution when you do that. The issue is the user can press the button at anytime, even when your bot isn't listening for it to be pressed which can result in your bot doing something unexpected.

[2017-02-21 18:45] #2127 closed

[2017-02-21 18:45] achadha0111 commented on #2187
I am supposing, from the error message, it was the naming of the file IntentRecognizerSet.js which was preventing the file from being found when Heroku tried to build it. However, it seems to be working now, so I think we can close this issue. Thank you for looking into it though! Cheers.

[2017-02-21 18:45] #2187 closed

[2017-02-21 18:45] danmarshall commented on #2240
Thanks @Stevenic. @michaelvol - for reference, here is the link: https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.universalbot.html#on

[2017-02-21 18:55] Stevenic commented on #2126
I finally tracked this issue down and will be releasing a patch later today.

[2017-02-21 19:25] Stevenic commented on #2240
We're actually adding a specific check for this so that we can throw a more useful error message.

[2017-02-21 20:16] JpEncausse opened #2323 "No answer from to microsoft server"
Hi,
Is there any changes on Microsoft Server lately ?

I receive messages, send message back but nothing appear on WebChat console
- tested on one of my new bot
- someone on my team test it too on an other server with an other bot instance

[code]

This log has been generated using `bot.on('send', ...)`

Thanks

[2017-02-21 20:26] Stevenic commented on #2118
Sorry for the delay. I'm trying to get the right people to look at this...

[2017-02-21 20:31] Stevenic commented on #2118
The issue looks to be a bogus response returned from LUIS.

[2017-02-21 20:41] craigjensen commented on #2118
Please attach your BotId if you are still seeing this and we'll take a look in our logs to see if we can isolate the issue.

[2017-02-21 20:41] Stevenic commented on #2118
@jsebrech we need to see the text that we're sending to LUIS. Could you make your bot a little simple like below and then send us the text of the message? Thanks!

[code]

[2017-02-21 20:46] Stevenic commented on #2103
@michaelvol sorry for the delay... This is just a general issue with bots, they're not great at handling back-to-back messages from a user. You could potentially serialize the messages to the bot but you'd need to do all of that work. We don't have any built in logic to serialize them at this point.

The recommendation we currently make is that you send a typing indicator using `session.sendTyping

[2017-02-21 20:47] Stevenic commented on #2103
Closing for now but feel free to comment further.

[2017-02-21 20:47] #2103 closed

[2017-02-21 20:50] Stevenic commented on #2094
If you pass in an `IMessage` to any of the prompts you'll need to add your own buttons. This is by design as we have to give developers a way of completely customizing the message sent for a prompt. Sending an IMessage is how you do that.

[2017-02-21 20:50] Stevenic commented on #2094
Closing for now but please feel free to comment further.

[2017-02-21 20:50] #2094 closed

[2017-02-21 20:52] Stevenic commented on #2091
Unfortunately we don't have a multi-select prompt in Node yet.  It's on our todo list to add but for now you'd need to write your own.

[2017-02-21 20:52] Stevenic commented on #2091
Closing for now but please feel free to comment.

[2017-02-21 20:52] #2091 closed

[2017-02-21 21:42] sjlee235 commented on #2132
Thank you! I modified the code a little and this works for me:

[code]

[2017-02-21 21:42] #2132 closed

[2017-02-21 22:02] siduppal commented on #1795
Can you please reply with version of Teams iOS app installed?
Go to More->settings->about to find it.

[2017-02-21 22:07] miaosenwang commented on #1795
@siduppal The version I have is 1.0.20446. What's the version that has the fix?

[2017-02-21 22:22] Stevenic commented on #2314
How old is the address your using? Is it months old?  Also, is there a reason you can't just store the whole address object untouched?

[2017-02-21 22:23] Stevenic commented on #2066
I'm adding a check that uses ducktyping, Should be released today or tomorrow.

[2017-02-21 22:28] Stevenic commented on #2062
There are a couple of helper methods you can use to simplify things:

[code]

[2017-02-21 22:28] Stevenic commented on #2062
Closing this but please feel free to comment.

[2017-02-21 22:28] #2062 closed

[2017-02-21 22:30] whoisstan commented on #2314
Its brand new, I am using the new one from the message.

untouched?
not sure what you mean. But I am storing the whole incoming message from
skype and later on in the async queue it gets handled.

On Tue, Feb 21, 2017 at 5:22 PM, Steven Ickman <notifications@github.com>
wrote:

--
"Local color. Soak it up"
Virginia Vidaura

http://www.merkwelt.com/people/stan/

[2017-02-21 22:36] Stevenic commented on #2030
You need to manually hook the sessions  `onSend()` method:

[code]

[2017-02-21 22:36] Stevenic commented on #2030
closing but please feel free to comment.

[2017-02-21 22:36] #2030 closed

[2017-02-21 23:43] bmperrea commented on #2285
@willportnoy 's comment lead me to try using `bot.use`. My remaining issue is that I would like to be able to pass the data to the corresponding session for that message, like in the following pseudocode, but the session is not available in bot.use. Does anyone have any ideas?
[code]

[2017-02-22 01:53] nickcordrey commented on #2254
Skype doesn't support creation of conversations by the bot. The only solution I can suggest is that you send a card explaining that the bot needs to hand off to a customer support agent and with a skype: button action for the _customer_ to create the new conversation using Skype URIs (https://msdn.microsoft.com/en-us/library/office/dn745882.aspx) something like:

skype:28:yourbotid;yourinternaluse

[2017-02-22 01:53] #2254 closed

[2017-02-22 02:33] ebattulga opened #2324 "How to directly connect to Facebook using BotBuilder"
I want to directly receive message from FB to own server. Because botframework.com respond slowly. Avarage BOT response time is 7 secound. It is too slow.

I need to directly connect to FB using BotBuilder. Please give me some instruction. don't recommend any other framework or library.

[2017-02-22 02:37] ebattulga commented on #2320
See Error log on dev.botframework.com just like this. see picture:
![howtoseeboterror](https://cloud.githubusercontent.com/assets/6389160/23194713/b90e5314-f8ea-11e6-8803-b77fbcedec19.PNG)

[2017-02-22 05:16] Ashish-Mahalka commented on #2306
Hi Anitha, I am facing the same problem. Have you found any solution yet ?

[2017-02-22 06:18] freshfey commented on #2299
@PadmanavAgarwal how did you solve this problem?

[2017-02-22 06:33] bmperrea commented on #2285
This was quite easy in the end -- just needed to read the api for [`bot.use`](https://docs.botframework.com/en-us/node/builder/chat-reference/classes/_botbuilder_d_.universalbot.html#use) and [middleware](https://docs.botframework.com/en-us/node/builder/chat-reference/interfaces/_botbuilder_d_.imiddlewaremap.html#botbuilder) a little more closely. Here's my solution below. [See also.](https://gith

[2017-02-22 06:33] #2285 closed

[2017-02-22 06:58] bmperrea commented on #1949
agreed. It would be nice to

1. get the emojis to come back intact (somewhere along the line there must be a problem with Unicode support?)

2. be able to make use of payloads when routing to facebook so that the correct answer is always found when a quick-reply is clicked.

3. fix the EntityRecognizer not to penalize spaces.

4. add the option to set the threshold for built-in prompts.

[2017-02-22 07:09] bmperrea commented on #1730
Perhaps you could use middleware as I just did in #2285. Same goes for #2260.

[2017-02-22 08:13] Deviss14 commented on #2320
Unfortunately, I already check that but there is no error here.

As you can see in this picture, it doesn't take the first input:
![untitled](https://cloud.githubusercontent.com/assets/17703436/23202532/a305a74a-f8de-11e6-8800-b1f5b0f21315.png)
And sometimes it takes even more sending to have the bot reacting.

About the Azure server, I activated the "AlwaysOn" option.

[2017-02-22 08:36] suvamsh commented on #2299
I'm seeing the same thing as well, the error isn't very clear. How did you solve it? @PadmanavAgarwal

[2017-02-22 08:45] Deviss14 opened #2325 "CardAction show the title when selected"
I have a HeroCard with a list of cardActions attach to it. The cardActions are "PostBack" type but when I click on them, the title of the cardAction selected is sent by the user.

Here's how I create my cardAction :
`CardAction cardDispo = new CardAction()
            {
                Value = new JavaScriptSerializer().Serialize(date),
                Type = ActionTypes.PostBack,

[2017-02-22 09:58] PrasadGautham commented on #170
Hi,
     Is there anyway to stop the help string from coming even if I type help????

I wanted this so as to avoid the help string from coming while having an intend called "Help Desk".  Because right now even though the intend "help desk" will be clicked. the help string would also be shown along with it!!!!

[2017-02-22 10:05] michaelvol commented on #2103
@Stevenic Thanks for the reply.
This actually happens not in specific cases of long processing, afaiu it happens even if there are no deffered tasks at all since there are multiple async operations before the control gets to my code.
The make it clear - the problem is not with the user getting a bad reply from the bot - but with the state becomes corrupted.

The problem is that I dont have any ide

[2017-02-22 10:33] Highvolt commented on #2318
@eanders-MS thanks. What about Skype?

[2017-02-22 10:39] michaelvol commented on #2240
Thanks. Tried that out with:
bot.on('error', (err) => {....}) and bot.send(....).
But it doesn't work.

Could it be this issue...?
Looks like the errorLogger is called with err=null and so my handler isn't called.
The 403/Forbidden continues with err=null.

Also - I didnt see that the error details that are presented under dev.botframework.com are returned on this request. Could be useful to know

[2017-02-22 11:23] lcschiltz commented on #1892
Hi @dandriscoll any update ? I am facing the same issue. My bot is hosted on azure west europe server

[2017-02-22 12:49] michaelvol commented on #2206
@Stevenic Thanks! Will try that soon in our next version. Will update how it goes.

[2017-02-22 14:18] endareBrock commented on #2322
Hi, im currently having the same kind of issue with skype. I've tried to narrow it down and it seems that skype just doesn't execute the call to retrieve the image.
When you use for example an image from google, it works flawless. But when i want to retrieve an image from my own server it doesn't work.
You find yourself similar in this ?

[2017-02-22 14:29] kkarahainko opened #2326 "[Message Formatting] Backtick not working on Skype, Slack and Telegram"
Hello.

Using **Bot Builder 3.5.3**.

Trying to implement help for bot, need to highlight commands. But, seems like single (inline) and triple back-tick (code block) not working in Skype, Slack and Telegram, renders as a plain text, without back-ticks, not formatted.

``await context.PostAsync(@"Some `tag` here");``

Any Ideas?

[2017-02-22 15:01] kkarahainko commented on #2326
Tried to do the same thing using block quote (>),

Skype (incorrect):

![quotes-skype](https://cloud.githubusercontent.com/assets/1279307/23216892/8e550c60-f928-11e6-9f14-210860fbd178.png)

Slack renders correctly:

![quotes-slack](https://cloud.githubusercontent.com/assets/1279307/23216927/aec1df5a-f928-11e6-9e8b-7f6e14b5b0d0.png)

[2017-02-22 15:29] craigjensen commented on #2169
closing due to inactivity.  Please reopen if needed

[2017-02-22 15:29] #2169 closed

[2017-02-22 16:15] willportnoy commented on #2277
I think I saw this issue too - when starting a child scope, all of the keyed services seemed to disappear, causing this logic to fail:

https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Builder.Autofac/Fibers/FiberModule.cs#L63

and then a serialization surrogate is not applied to the first `FiberModule.Key_DoNotSerialize` which happens to be `NullWait`:

https://git

[2017-02-22 16:16] willportnoy commented on #2298
I'm glad you were able to resolve the issue - I'm going to close it for now.

[2017-02-22 16:16] #2298 closed

[2017-02-22 16:18] konstlut commented on #2314
@whoisstan I identified the problem on the backend and it was fixed. Thank you for reporting.

[2017-02-22 16:18] #2314 closed

[2017-02-22 16:18] willportnoy commented on #2297
We're happy to take a pull request - I think you'd want to change LuisDialog to look for any attribute that implements the ILuisModel interface, and then you could supply whatever sort of logic you'd like for finding the keys.

But yes, otherwise, you'd have to override the MakeServicesFromAttributes method or just pass the instantiated ILuisServices into the LuisDialog constructor.

[2017-02-22 16:21] willportnoy commented on #2288
Here is an older answer that might help:

https://github.com/Microsoft/BotBuilder/issues/1102

[2017-02-22 16:23] willportnoy commented on #2291
You need to use IDialogStack.Call to invoke a child FormFlow dialog - Conversation.SendAsync is just the single entry point into the builder's dialog code.

[2017-02-22 16:25] willportnoy commented on #2295
Usually you can send a "/deleteprofile" command, but I believe the Node version should reset itself if the dialog stack contains a dialog ID that does not exist anymore.

[2017-02-22 16:26] willportnoy commented on #2296
I believe IDialogStack.Forward was added for reuse of dialogs (often LUIS dialogs):

https://docs.botframework.com/en-us/technical-faq/#what-is-idialogstack-forward-in-the-c-builder-sdk

[2017-02-22 16:27] stelazh commented on #2291
thank you for your reply...now i have onother problem

http://stackoverflow.com/questions/42390985/how-to-call-another-method-after-processorder-completed-in-chatbot-using-formflo\

i am searchinbg about it all the day and still without any solutioin

[2017-02-22 16:29] willportnoy commented on #2307
It sounds like your SSL certificate is invalid - is it a test certificate?

Otherwise,

https://docs.botframework.com/en-us/technical-faq/#how-can-i-troubleshoot-my-bots-authentication

[2017-02-22 16:30] willportnoy commented on #2319
We recommend using Application Insights - for example:

http://aihelpwebsite.com/Blog/EntryId/11/Using-Application-Insights-With-Microsoft-Bot-Framework

@jameslew did you have another article about using App Insights for Bots?

[2017-02-22 16:41] konstlut commented on #2305
This was mitigated for all bots that experienced this issue including this one (28:d68f1978-a529-4638-a086-469cf4deb66c) the final fix will be released in on 2/24/2017.

[2017-02-22 16:41] #2305 closed

[2017-02-22 16:47] konstlut commented on #2317
@chminnaar Could you provide your bot msa app id, please?

[2017-02-22 16:53] cahann commented on #2321
This feature is meant to help you collect the important information related to this intent. But is doesn't limit the entities that get predicted. Anyway this feature is getting deprecated so please don't take dependency on it.

[2017-02-22 16:53] #2321 closed

[2017-02-22 16:56] soloveyalex commented on #2169
Just to update the thread:
the issue is not resolved. Nobody knows what happens.
Neither O365 support, nor Bot framework community. Perfect...

[2017-02-22 16:56] chminnaar commented on #2317
It is : 07274d8a-846c-4618-b703-ef0a6999650c

On 22 February 2017 at 18:48, Konstantin Lutskiy <notifications@github.com>
wrote:

[2017-02-22 17:02] whoisstan commented on #2314
thank you!!!

On Wed, Feb 22, 2017 at 11:18 AM, Konstantin Lutskiy <
notifications@github.com> wrote:

--
"Local color. Soak it up"
Virginia Vidaura

http://www.merkwelt.com/people/stan/

[2017-02-22 17:08] craigjensen commented on #2260
It would be helpful to better understand the scenario you are trying to accomplish.

We currently don't pass echo messages because it would result in a copy of every message sent by your bot getting echoed back to your bot.

[2017-02-22 17:25] LorenzCK commented on #1595
(Might be a bit late now, but for future reference.)

When the bot receives a location through Telegram, the `session.message` object looks as follows:
[code]

As you can see, while the `sourceEvent` contains the raw update from Telegram (which of course also contains the location data), the location is indeed nicely parsed and added as a "geo" entity under `session.message.entities`.

[2017-02-22 17:31] LorenzCK opened #2327 "Unwanted caption in picture on Telegram"
Using botbuilder **3.6.0**.

When sending a simple image (message with no text and one single attachment), on Telegram the message is displayed with an unwanted caption (the picture's filename). The same message is shown correctly (without any text) on Facebook Messenger however.

Code used to send the image:
[code]

Shown on Telegram as:
<img width="150" alt="tmp" src="https://cloud.githubusercon

[2017-02-22 20:30] msft-shahins commented on #2182
Some channels, for example webchat and emulator, send 2 ConversationUpdate activity to the bot. One has the user in the MembersAdded field and the other one has the Bot itself in the MembersAdded field. Also when you start the PromptDialog in the StartAsync, you are pushing a new dialog to the stack without having the stack consume the new incoming activity posted to it. As a result the new Prompt

[2017-02-22 20:36] AlavudeenRafiq opened #2328 "ChatBot is not working fine in own azure web server"
Hi,
I have published my bot in my own Azure Server, but I am getting responses randomly. When I publish my bot in Microsoft Azure Web Server using Free Subscription, my bot works fine. Is there anything I have to do with my own Azure Server? Anything I need to install in my own Azure Server?

[2017-02-22 20:40] #2182 closed

[2017-02-22 21:39] vovanb commented on #2150
Any plans for release ?

Sincerely,
Vladimir
(Sent from my mobile)

[2017-02-22 21:44] Stevenic commented on #2206
Cool. I'll close this for now but feel free to add comments.

[2017-02-22 21:44] #2206 closed

[2017-02-22 21:45] Stevenic commented on #2240
I'll have to dig into this one a bit more

[2017-02-22 21:47] Stevenic commented on #2269
We're actually adding a specific check to catch this issue and throw a better error.

[2017-02-22 21:47] Stevenic commented on #2269
Closing for now but feel free to comment.

[2017-02-22 21:47] #2269 closed

[2017-02-22 21:48] Stevenic commented on #2295
I just checked in a fix for this. It will be part of the next release this week.

[2017-02-22 21:53] Stevenic commented on #2019
It looks like the test connection message isn't sending a properly formatted message. I'll work on reproducing this.

[2017-02-22 22:19] craigjensen commented on #1730
We currently don't support message_read events but it should be possible to forward them to your bot via ChannelData/SourceEvent.  Would this work for you?

[2017-02-22 22:24] fercom commented on #1725
Just to let you know that this is still an issue after updating to 3.5.3

[2017-02-22 22:34] vasilkrastev90 commented on #507
I am getting Access-Controll-Allow-Origin errors when trying to connect to DirectLine API at the moment. Is the reason because of the API? Or do I need to look into my client.

[2017-02-22 22:40] Andrea-Orimoto commented on #1899
@khaueviana, closing this issue due to inactivity, please feel free to reopen it if you're still having issues. Thanks!

[2017-02-22 22:40] #1899 closed

[2017-02-22 22:43] Andrea-Orimoto commented on #1843
@alokraj68, I've just tried the above and it works, so I'm closing this issue. I'll see if I can find time to write a blog post with code samples. If so, I'll post the link here. Feel free to reopen this if you still have issues. Thanks!

[2017-02-22 22:43] #1843 closed

[2017-02-22 23:02] Stevenic commented on #2197
Closing this for now but please feel free to comment

[2017-02-22 23:02] #2197 closed

[2017-02-22 23:03] Stevenic commented on #2144
Closing for now but please feel free to comment.

[2017-02-22 23:03] #2144 closed

[2017-02-22 23:09] Stevenic commented on #2023
@PaoloMessina most likely your bot is throwing an exception of some sort. Could you try adding a `try { } catch() { }` in your code to see if you can trap this error and send it back as a message? I really need to see the error details to help diagnose things.

[2017-02-22 23:13] Stevenic commented on #2018
The new emulator doesn't support keyboards/quick replies yet so we had to turn them off. You can force the use of cards to render buttons by passing in `{ listStyle: builder.ListStyle.button }` as an option for your prompt.

[2017-02-22 23:23] Stevenic commented on #1988
Any progress on this?

[2017-02-22 23:24] Stevenic commented on #1976
That's a good point. I'll investigate to understand why we do it differently in that case. Probably has to do with yes/no prompts.

[2017-02-22 23:26] Stevenic commented on #1965
we're planning to add a better overall story for unit testing your bot but as stated above the current guidance would just be to follow the sample above.

[2017-02-22 23:26] Stevenic commented on #1965
Closing for now but please feel free to comment.

[2017-02-22 23:26] #1965 closed

[2017-02-22 23:29] Stevenic commented on #1961
Are you configuring the emulator with the same APP ID & PASSWORD?

[2017-02-22 23:33] Stevenic commented on #1941
Adding Q&A Maker to investigate.

[2017-02-22 23:36] Stevenic commented on #1937
That should definitely work. otherwise we'd have much bigger problems. Is this still an issue for you?

[2017-02-22 23:43] Stevenic commented on #1930
So we recently identified that not all channels handle this the same way. The problem is the `message.address` for that event often has the wrong `user.id` value.  You'll want to patch the `address` before calling `bot.beginDialog()`.  For the identity you want to message do:

[code]

That should ensure that you start a conversation with the correct user. If you want to start a conversation with m

[2017-02-23 00:08] Stevenic commented on #1919
Sorry for the delay... If you set `maxRetries` to 0 it will try for ever.

[2017-02-23 00:15] Stevenic commented on #1335
Is this issue still going on?

[2017-02-23 00:19] Stevenic commented on #1565
Closing this but feel free to comment.

[2017-02-23 00:19] #1565 closed

[2017-02-23 00:23] Stevenic commented on #1599
Good catch... I'll take a look at fixing the `cancelDialog()` method.

[2017-02-23 00:25] Stevenic commented on #1605
Adding eric to investigate.

[2017-02-23 00:27] Stevenic commented on #1607
Unfortunately this looks to be in a support library so not sure how we'd address it. I'm going to tag it for further investigation.

[2017-02-23 00:28] Stevenic commented on #1620
This should be resolved. Please let me know if it still persists and I'll reopen.

[2017-02-23 00:28] #1620 closed

[2017-02-23 00:30] Stevenic commented on #1633
This should be fixed now. Please let me know if it's still an issue.

[2017-02-23 00:30] #1633 closed

[2017-02-23 00:30] Stevenic commented on #1713
This should be fixed now.

[2017-02-23 00:30] #1713 closed

[2017-02-23 00:33] Stevenic commented on #1818
Closing for age

[2017-02-23 00:33] #1818 closed

[2017-02-23 00:38] Stevenic commented on #1820
In 3.5+ you'd add a `triggerAction()` to each of your dialogs and to enable logging you can add an `onSelectAction` handler for your trigger that logs the fact your dialog as triggered.

[2017-02-23 00:44] Stevenic commented on #1830
Sorry for the delay... The [basics-menu](https://github.com/Microsoft/BotBuilder/blob/master/Node/examples/basics-menus/app.js) example shows how to implement a menu that's returned from your bots default handler.  You can use this in conjunction with dialogs that are triggered by natural language and you should essentially have a bot that understands NL but will show menus when it doesn't underst